<template>
  <div class="agreementBox">
    <Card class="cardBox">
      <p slot="title" style="font-size:16px; color:#333333">
        FineInsight系统平台注册协议书
      </p>
      <a slot="extra" @click="gobackFun">
        <Icon type="md-close" size="12" color="#333" />
      </a>
      <div style="overflow:auto; height:75vh; padding:0 10px">
        <p>
          欢迎您访问并使用FineInsight服务平台！本协议是您与FineInsight平台所有者就FineInsight平台服务的相关事宜所订立的协议。
        </p>
        <h4 style="text-indent: 25px">
          为维护您自身权益，请您仔细阅读本协议，您点击“同意并继续”按钮后，本协议即构成对双方具有约束力的法律文件；阅读本协议过程中，如您不同意本协议或其中任何条款的约定，您应立即停止注册程序。
        </h4>
        <div style="margin-top:25px">
          <h3 style="font-size:15px">一、定义</h3>
          <h4>
            1.1、FineInsight平台：指由南京木米数据科技有限公司开发、运营、维护的互联网FineInsight系统平台，包括数据集成系统、数据治理平台、数据服务平台、数据开发平台、大数据平台、图数据库。
          </h4>
          <h4>1.2、FineInsight平台用户：指FineInsight平台各项服务的使用者。</h4>
          <h4>
            1.3、FineInsight平台会员：指与FineInsight平台签订《FineInsight平台服务协议》并完成注册流程的用户。
          </h4>
          <h4>
            1.4、FineInsight平台的客户端：指与FineInsight平台签订《FineInsight平台服务协议》，长期稳定使用FineInsight平台的具备中华人民共和国法律规定的完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。
          </h4>
        </div>
        <div style="margin-top:25px">
          <h3 style="font-size:15px">二、账户注册、注册信息的保管与使用</h3>
          <h4>2.1、注册者资格</h4>
          <p>
            您确认，在您开始注册程序使用FineInsight平台服务前，您是具备中华人民共和国法律规定的完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的监护人应当承担因此而导致的一切后果。
          </p>
          <h4>2.2、账户说明</h4>
          <p>
            2.2.1当您按照注册页面提示填写信息、阅读并同意本协议且完成会员注册程序后，您才能成为FineInsight平台的会员。<br />
            2.2.2您确认，您所填写/提供的注册资料是真实、准确、完整、合法有效的，且您保证本平台可以通过该等信息与您本人进行联系。如您的注册信息有变更，请及时予以更新。如您提供的注册资料不合法、不真实、不准确、不详尽，因此而引起的责任、后果将全部由您承担。
          </p>
          <h4>2.3注册信息的保管与使用</h4>
          <p>
            <span>
              2.3.1您提供的注册信息，FineInsight平台（以下也简称为“本平台”）将按照中华人民共和国法律、法规的相关规定，
              采取技术和制度等手段为您妥善保管。除非得到您的授权或者按照法律及其程序要求进行透露外，本平台将保证您的信息安全。 </span
            ><br />
            <span>
              2.3.2本平台承诺仅根据本平台的服务目的使用您的信息。服务目的包括但不限于数据集成、数据治理、数据服务、数据开发、大数据、图数据库等，除此之外，本平台将对您的信息保密。如您认为本平台超越了正常服务范围使用了您的信息，请您立即与本平台的客服中心联系，本平台将立即予以核实、纠正。 </span
            ><br />
            <span>
              2.3.3在您注册成功后，将产生用户名和密码等账户信息，您的账户信息由您保管，您可以根据本平台的规定改变您的密码等账户信息。本平台任何时候均不会主动要求您提供您的账户。因此，请您务必保管好您的账户，谨慎合理的使用您的用户名和密码。如果因为您主动泄露、遭受他人攻击、诈骗或因管理不善造成账户（包括但不限于注册账户和密码、支付账户和密码等）被复制、盗用及其他行为而导致的损失及后果，均由您自行承担。 </span
            ><br />
            <span>
              2.3.4您不得将在本平台注册获得的账户转让或借给他人使用，否则，由此产生的全部责任均由您承担。 </span
            ><br />
            <span>
              2.3.5除本平台存在过错外，您应对您账户下的所有行为后果负责。
            </span>
          </p>
        </div>
        <div style="margin-top:25px">
          <h3 style="font-size:15px">三、FineInsight平台的权利和义务</h3>
          <h4>
            3.1FineInsight平台有义务在现有技术上维护整个FineInsight平台网站的正常运行，保障交易数据的安全、可靠，按约定的服务内容和标准向您提供服务，并保证努力提升和改进技术。
          </h4>
          <h4>
            3.2若您在本平台做出下列行为的，本平台有权做出相应的处理，并且无须事先通知您或取得您的同意：
          </h4>
          <p>
            <span>
              3.2.1本平台有权审阅或审查您的注册资料、数据集成、数据治理、数据服务、数据开发行为，若发现存在任何问题或疑问，本平台均有权向您发出询问及要求改正的通知或者直接作出删除信息、冻结或关闭账户等处理； </span
            ><br />
            <span>
              3.2.2若您存在以下行为或违反本协议其他约定或违反国家法律、法规、地方规章的行为时，本平台有权删除信息、禁止您发言、限制您出售或订购、限制提供或接受物流运输服务、注销您的账户，
              并且有权按照相关法律规定移交有关司法、行政机关处理：<br />
              ①发布或以电子邮件或以其他方式传送存在欺诈、虚假等恶意内容的信息或侵犯公共利益、可能严重损害FineInsight平台利益、侵犯其他用户合法利益及他人人身财产权利内容的信息；<br />
              ②进行与系统无关或不是以使用FineInsight平台系统服务于案件为目的的，试图扰乱系统正常运作的；<br />
              ③干扰或破坏FineInsight平台或与FineInsight平台相连的服务器和网络。
              <br />
            </span>
          </p>
          <h4>
            3.3经国家生效法律文书或行政处罚决定确认您存在违法违规行为或者有足够事实依据可以认定您存在违法或违反本协议行为的，FineInsight平台有权在其网站公布您的违法或违规行为并要求您承担相应的赔偿责任或违约责任。
          </h4>
        </div>
        <div style="margin-top:25px">
          <h3 style="font-size:15px">四、会员的权利和义务</h3>
          <h4>
            4.1会员有权根据本协议的约定，以及FineInsight平台发布的相关规则在FineInsight平台上进行数据集成、数据治理、数据服务、数据开发等操作。
          </h4>
          <h4>
            4.2会员应当保证在使用FineInsight系统的服务过程中遵守诚实信用原则，不扰乱平台系统的正常秩序。
          </h4>
          <h4>4.3会员同意严格遵守以下义务：</h4>
          <p>
            ①不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；<br />
            ②不得利用FineInsight平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；<br />
            ③不得捏造或者歪曲事实，散步谣言，扰乱社会秩序；<br />
            ④不得传输或发表任何封建迷信、邪教、淫秽、色情、赌博、暴力、恐怖、教唆犯罪等不文明的信息资料；<br />
            ⑤不得公然侮辱他人或者捏造事实诽谤他人或者进行其他恶意共计；<br />
            ⑥其他违反宪法和法律、行政法规规定的。<br />
          </p>
          <h4>
            4.4未经FineInsight平台书面同意，会员不得在FineInsight平台网站上发布任何形式的广告。
          </h4>
          <h4>4.5遵守FineInsight平台制定的规则。</h4>
        </div>
      </div>
    </Card>
  </div>
</template>

<script>
export default {
  methods: {
    gobackFun() {
      this.$emit("switch");
    }
  }
};
</script>

<style scoped lang="scss">
.agreementBox {
  display: flex;
  justify-content: center;
  background-color: #191919;
  opacity: 0.8;
  min-height: 100vh;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 1px,
      transparent 0,
      rgba(91, 143, 249, 0.3) 200px
    ),
    repeating-linear-gradient(
      -90deg,
      rgba(0, 0, 0, 0) 1px,
      transparent 0,
      rgba(91, 143, 249, 0.3) 200px
    );
  background-size: 20px 20px;
  background-position: 1px 1px;
  .cardBox {
    width: 80%;
    margin: 76px 0;
  }
}
</style>
