<template>
  <Modal class="editWarningModal-container" :value="showView" :title="modalTitle" width="1074" @on-cancel="onCancel" footer-hide>
    <div class="editWarningWrapper" ref="editWarningWrapperRef">
      <HeadLine :task-form="headData" :showView="showView" />
      <FilterCondition :task-type="headData.taskType" :task-form="headData.ruleDetail" isEdit :rule-list="ruleList" @change-rule="changeRule" />
      <section class="s2">
        <div class="title">
          <img src="@/assets/icons/earlyWarningTarget/blue_height.svg" alt="" />
          <span>调度</span>
        </div>
        <div class="sectionContent">
          <TaskHandle :dispatch="dispatch" isUpdate :labelArr="['开始时间', '监测频率', '高级设置']" />
        </div>
      </section>
    </div>
    <section class="actionBtn">
      <div class="cancelBtn" @click="onCancel">取消</div>
      <div class="confirmBtn" @click="handleOk">确认</div>
    </section>
  </Modal>
</template>

<script>
import HeadLine from "./components/HeadLine";
import FilterCondition from "./components/FilterCondition";
import PushInfo from "./components/PushInfo";
import TaskHandle from "@/view/dataset/DataModel/DatasetList/DispatchSetting/TaskHandle.vue";
import { deepCopy } from "@/utils/common";
import { getTimeFormat } from "@/utils/dateFormat";
import { FILTER_CONDITION_ITEM, PUSH_MEMBER_ITEM, WATCH_DISPATCH } from "@/view/Rulesmanagement/constant/ruleModal";
import { DEFAULT_TASK_NAME } from "@/view/Rulesmanagement/constant/taskList";
import { v4 as uuidv4 } from "uuid";

const FIRST_ID = uuidv4();

export default {
  props: {
    showView: {
      type: Boolean,
      required: true,
    },
    defaultData: {
      type: Object,
      required: true,
    },
    taskActionType: {
      type: String,
      required: true,
    },
  },
  components: {
    HeadLine,
    FilterCondition,
    PushInfo,
    TaskHandle,
  },
  data() {
    return {
      headData: {
        taskType: 1, // 任务类型
        isLockTaskType: false, // 是否固定任务类型
        name: DEFAULT_TASK_NAME,
        userName: "", // 负责人-用户名
        refDeptId: "",
        weights: 0, // 权重
      },
      ruleList: [
        {
          id: FIRST_ID,
          ruleDetail: "",
          level: -1,
        },
      ],
      pushData: {
        platformPushMode: [],
        thirdPartyPushMode: [],
        pushMemberTab: FIRST_ID, // 推送人的tab
        pushMemberList: [{ id: FIRST_ID, ...deepCopy(PUSH_MEMBER_ITEM) }],
        pushCondition: 1,
        pushMode: 1,
        pushNum: 5,
      },
      dispatch: deepCopy(WATCH_DISPATCH),
    };
  },
  computed: {
    modalTitle() {
      return this.taskActionType !== "edit" ? "新建规则" : "编辑规则";
    },
  },
  created() {
    const { indicatorId, type } = this.$route.query;
    if (indicatorId) {
      FILTER_CONDITION_ITEM.curIndicatorId = indicatorId;
      FILTER_CONDITION_ITEM.curIndicatorType = type;
    }
    this.ruleList[0].ruleConditionList = [[deepCopy(FILTER_CONDITION_ITEM)]];
  },
  watch: {
    /**
     * 回填数据(仅编辑时)
     */
    defaultData: {
      handler(val) {
        if (val) {
          const { type } = val;
          if (type === "add-sub") {
            const { taskType, isLockTaskType } = val;
            this.headData.taskType = taskType;
            this.headData.isLockTaskType = isLockTaskType;
          } else if (type === "update") {
            const { isLockTaskType, headData, ruleList, pushData, dispatch } = val;
            this.headData = deepCopy(headData);
            this.headData.isLockTaskType = isLockTaskType;
            if (ruleList.length) {
              this.ruleList = deepCopy(ruleList);
            }
            this.pushData = deepCopy(pushData);
            if (!pushData.pushMemberList.length) {
              this.pushData.pushMemberList = [{ id: FIRST_ID, ...deepCopy(PUSH_MEMBER_ITEM) }];
              this.pushData.pushMemberTab = FIRST_ID;
            }
            this.dispatch = deepCopy(dispatch);
          }
        }
      },
      deep: true,
    },
    /**
     * 监听规则的修改：
     * - 存在“动态指标”类型时，推送人需要支持关联组织架构表
     */
    ruleList: {
      handler(newVal) {
        console.log("规则内容变化");
        // 这里是处理规则内容变化的地方
        newVal.forEach((rule) => {
          const isDyna = rule.ruleConditionList.some((item) => item.some((item) => item.modeType === 3)); // 是否存在"动态指标"
          this.pushData.pushMemberList.forEach((ele) => {
            if (ele.id === rule.id) {
              ele.associatedTableData.show = isDyna;
            }
          });
        });
      },
      deep: true,
    },
  },
  methods: {
    /**
     * 添加/删除/修改规则（同时将推送人和规则个数对应）
     */
    changeRule({ key, value }) {
      if (key === "add") {
        const id = uuidv4();
        this.ruleList.push({
          id,
          level: -1,
          ruleConditionList: [[deepCopy(FILTER_CONDITION_ITEM)]],
        });
        this.pushData.pushMemberList.push({
          id,
          ...deepCopy(PUSH_MEMBER_ITEM),
        });
      } else if (key === "del") {
        const delIndex = this.ruleList.findIndex((ele) => ele.id === value);
        this.ruleList.splice(delIndex, 1);
        this.pushData.pushMemberList.splice(delIndex, 1);
        // 删除所在的tab，切到第一个
        if (this.pushData.pushMemberTab === value) {
          this.pushData.pushMemberTab = this.pushData.pushMemberList[0].id;
        }
      } else if (key === "update") {
        const { id, data } = value;
        const ruleListNew = deepCopy(this.ruleList);
        ruleListNew.forEach((ele) => {
          if (ele.id === id) {
            ele.ruleConditionList = deepCopy(data);
          }
        });
        this.ruleList = deepCopy(ruleListNew);
      }
      console.log("====changeRule=====", this.ruleList);
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.reset();
      // this.$refs.pushInfoRef.$refs.pushMemberRef.forEach((ele) => {
      //   ele.reset();
      // });
      this.$emit("closeModal");
    },
    /**
     * 确认
     */
    handleOk() {
      if (!this.verify()) return;
      const ruleType = this.judgeFullRule(this.ruleList);
      if (ruleType === "not-full") {
        // 存在部分有效规则
        this.$Message.warning("存在不完整规则！");
        return;
      } else if (ruleType === "not-exist") {
        // 不存在有效规则
        this.ruleList = [];
        this.pushData.pushMemberList = [];
      }
      this.dispatch.startDate = getTimeFormat({
        timeData: this.dispatch.startDate,
        type: "YYYY-MM-DD",
      });
      const headData = {
        ...this.headData,
      };
      const data = {
        headData,
        ruleList: this.ruleList,
        pushData: this.pushData,
        ruleExec: this.dispatch,
      };
      console.log(data);
      this.reset();
      this.$emit("onConfirm", data);
    },
    /**
     * 校验
     */
    verify() {
      // 名称
      if (this.headData.name === "") {
        this.$Message.warning("请输入名称！");
        return false;
      }
      // 负责人
      if (this.headData.userName === "") {
        this.$Message.warning("请添加负责人！");
        return false;
      }

      // 规则
      const level1List = this.ruleList.filter((ele) => ele.level === 1);
      const level2List = this.ruleList.filter((ele) => ele.level === 2);
      const level3List = this.ruleList.filter((ele) => ele.level === 3);
      if (level1List.length >= 2 || level2List.length >= 2 || level3List.length >= 2) {
        this.$Message.warning("存在重复“触发结果”，无法保存。");
        return false;
      }

      // 推送
      const { platformPushMode, thirdPartyPushMode } = this.pushData;
      const isCheckPushMode = !!platformPushMode.length || !!thirdPartyPushMode.length; // 是否勾选推送方式
      let isCheckPushMember = []; // 是否勾选推送人
      for (const ele of this.pushData.pushMemberList) {
        const { associatedTableData, userChecked, userList, deptChecked, deptList, roleChecked, roleList } = ele;
        const { checked, connectId, tableId, relColumnId, useColumnId } = associatedTableData;

        if (userChecked) {
          if (!checked && !userList.length) {
            this.$Message.warning("请选择用户！");
            return false;
          }
          if (checked) {
            if (!connectId || !tableId) {
              this.$Message.warning("请选择关联源表！");
              return false;
            }
            if (!relColumnId) {
              this.$Message.warning("请选择关联字段！");
              return false;
            }
            if (!useColumnId) {
              this.$Message.warning("请选择匹配字段！");
              return false;
            }
          }
        }
        if (deptChecked && !deptList.length) {
          this.$Message.warning("请选择部门！");
          return false;
        }
        if (roleChecked && !roleList.length) {
          this.$Message.warning("请选择角色！");
          return false;
        }

        if (userChecked || deptChecked || roleChecked) {
          isCheckPushMember.push(true);
        } else {
          isCheckPushMember.push(false);
        }
      }

      // 存在推送人，但不存在推送方式
      if (!isCheckPushMode && isCheckPushMember.some((ele) => ele)) {
        this.$Message.warning("请选择推送方式！");
        return false;
      }
      // 存在推送方式，但不存在推送人
      if (isCheckPushMode && isCheckPushMember.some((ele) => !ele)) {
        this.$Message.warning("请选择推送人！");
        return false;
      }

      return true;
    },
    /**
     * 只返回完整规则
     */
    judgeFullRule(ruleList) {
      let fullRuleNum = 0;
      let notFullRuleNum = 0;
      console.log("====judgeFullRule===", ruleList);
      ruleList.forEach((rule) => {
        rule.ruleConditionList.forEach((ele) => {
          ele.forEach((item) => {
            if (item.conditionType) {
              const a1 = item.modeType === 1 && item.curIndicatorId && item.variableType === 1 && item.variableValue; // 指标 + 常量
              const b1 = item.modeType === 1 && item.curIndicatorId && item.variableType === 5 && item.targetIndicatorId; // 指标 + 指标
              const c1 = item.modeType === 1 && item.curIndicatorId && item.variableType === 6 && item.targetExpression; // 指标 + 公式

              const a2 = item.modeType === 2 && item.curExpression && item.variableType === 1 && item.variableValue; // 公式 + 常量
              const b2 = item.modeType === 2 && item.curExpression && item.variableType === 5 && item.targetIndicatorId; // 公式 + 指标
              const c2 = item.modeType === 2 && item.curExpression && item.variableType === 6 && item.targetExpression; // 公式 + 公式

              const a3 = item.modeType === 3 && item.curDimensionIdDyna && item.curIndicatorIdDyna && item.variableType === 1 && item.variableValue; // 动态指标 + 常量
              const b3 = item.modeType === 3 && item.curDimensionIdDyna && item.curIndicatorIdDyna && item.variableType === 5 && item.targetIndicatorId; // 动态指标 + 指标
              const c3 = item.modeType === 3 && item.curDimensionIdDyna && item.curIndicatorIdDyna && item.variableType === 6 && item.targetExpression; // 动态指标 + 公式

              if (a1 || b1 || c1 || a2 || b2 || c2 || a3 || b3 || c3) {
                fullRuleNum++;
              } else {
                notFullRuleNum++;
              }
            } else {
              notFullRuleNum++;
            }
          });
        });
      });

      if (fullRuleNum > 0 && notFullRuleNum > 0) {
        return "not-full";
      }
      if (fullRuleNum === 0 && notFullRuleNum > 0) {
        return "not-exist";
      }
    },
    /**
     * 还原数据
     */
    reset() {
      this.headData = {
        taskType: 1, // 任务类型
        isLockTaskType: false, // 是否固定任务类型
        name: DEFAULT_TASK_NAME,
        userName: "", // 负责人-用户名
        refDeptId: "",
      };
      this.ruleList = [
        {
          id: FIRST_ID,
          level: -1,
          ruleConditionList: [[deepCopy(FILTER_CONDITION_ITEM)]],
        },
      ];
      this.pushData = {
        platformPushMode: [],
        thirdPartyPushMode: [],
        pushMemberTab: FIRST_ID,
        pushMemberList: [{ id: FIRST_ID, ...deepCopy(PUSH_MEMBER_ITEM) }],
        pushCondition: 1,
        pushMode: 1,
        pushNum: 5,
      };
      this.dispatch = deepCopy(WATCH_DISPATCH);

      this.$refs.editWarningWrapperRef.scrollTo(0, 0);
    },
  },
};
</script>

<style lang="less" scoped>
.editWarningModal-container {
  /deep/.ivu-modal {
    top: 8vh;
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-body {
        padding: 0;
      }
    }
  }
  .editWarningWrapper {
    padding: 16px 24px 20px;
    max-height: 70vh;
    overflow: auto;
    .headLine-container {
      margin-bottom: 19px;
    }
    .filterCondition-container {
      margin-bottom: 20px;
    }
    .s1,
    .s2 {
      .title {
        display: flex;
        margin-bottom: 14px;
        img {
          margin-right: 8px;
        }
        span {
          font-family: PingFangSC-Medium;
          font-size: 14px;
          color: #333333;
          letter-spacing: 0;
          font-weight: 500;
        }
      }
      .sectionContent {
        padding-left: 15px;
      }
    }
    .s1 {
      margin-bottom: 23px;
    }
    .s2 {
      .sectionContent {
        /deep/.labelTitle {
          &::before {
            content: url("~@/assets/icons/earlyWarningTarget/blue_small.svg");
            margin-right: 11px;
          }
        }
      }
    }
  }
  .actionBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    border-top: 1px solid #e8eaec;
    padding: 12px 18px 12px 18px;
    .cancelBtn,
    .confirmBtn {
      width: 72px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      cursor: pointer;
    }
    .cancelBtn {
      border: 1px solid rgba(217, 217, 217, 1);
      margin-right: 16px;
      color: #949494;
    }
    .confirmBtn {
      background: #3f73ff;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #ffffff;
    }
  }
}
</style>
