<template>
  <el-dialog
    title="同步用户"
    append-to-body
    :visible.sync="dialogVisible"
    width="536px"
    class="dialogsynchronization"
    :before-close="dialogBeforeClose"
  >
    <div class="content">
      <div class="tipText">数据更新过程中将跳过超级管理员。即若数据集中包含超级管理员信息，无法对超级管理员生效</div>

      <el-form label-width="100px" label-position="left" style="padding: 0 10px">
        <el-form-item label="同步频率：">
          <el-radio-group v-model="form.syncType" size="small">
            <el-radio :label="1">简单重复执行</el-radio>
            <el-radio :label="2">表达式设置</el-radio>
          </el-radio-group>
          <div class="flexBox" style="white-space: nowrap" v-if="form.syncType == 1">
            每隔 <el-input size="small" v-model="form.frequency" :min="1" :max="10" class="mr10 ml10"></el-input>
            <el-select clearable v-model="form.frequencyUnit" size="small" class="mr10">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"> </el-option>
            </el-select>
            执行一次
          </div>
          <div v-else style="flex-warp: warp">
            <div class="flexBox">
              <el-input size="small" v-model="form.cronExpress" placeholder="输入表达式"></el-input>
              <el-button type="text" size="small" class="ml10" @click="showyzbds = !showyzbds">
                {{ showyzbds ? "隐藏预置表达式" : "显示预置表达式" }}
              </el-button>
            </div>

            <div class="yzbbs" v-if="showyzbds">
              <div @click="changebds('0 0 3 * * ?')">每天凌晨3点</div>
              <div @click="changebds('0 0 21 ? * 2-6')">每个工作日晚上21点</div>
              <div @click="changebds('0 30 2 ? * 2#1')">每月第一个周一凌晨2点半</div>
            </div>
          </div>
        </el-form-item>
        <el-form-item label="用户来源：">
          <div class="flexBox">
            <el-select v-model="form.datasetId" style="flex: 1" size="small" @change="changeOrigin">
              <el-option v-for="item in sources" :key="item.id" :label="item.datasetName" :value="item.id"> </el-option>
            </el-select>
            <el-button type="text" size="small" @click="modifyUser()" class="ml10">修改用户来源</el-button>
          </div>
        </el-form-item>
        <el-form-item label="部门职务来源：">
          <el-radio-group v-model="form.isSyncDept" size="small">
            <el-radio :label="0">用户表同步</el-radio>
            <el-radio :label="1">部门表同步</el-radio>
          </el-radio-group>
          <el-popover placement="right" width="190" trigger="hover">
            <span style="font-size: 12px">选择用户表同步，部门职务将基于用户表中对应字段作映射;选择部门表同步，需在"部门管理”中另行同步。</span>
            <i class="el-icon-warning-outline tipIcon" slot="reference"></i>
          </el-popover>
        </el-form-item>
        <el-form-item label="用户可编辑：">
          <div class="flexBox">
            <!-- 0是 1否 -->
            <el-checkbox v-model="form.isEdit" :true-label="0" :false-label="1"></el-checkbox><span class="ml10">同步状态下用户信息可编辑</span>
            <el-popover placement="right" width="190" trigger="hover">
              <span style="font-size: 12px">勾选后,可编辑用户名、手机、邮箱,可使用重置密码功能</span>
              <!-- <svg-icon  slot="reference" class="tipIcon" icon-class="question"></svg-icon> -->
              <i class="el-icon-warning-outline tipIcon" slot="reference"></i>
            </el-popover>
          </div>
        </el-form-item>
      </el-form>

      <el-form ref="form" :disabled="!form.datasetId" :rules="rules" :model="form" label-width="100px" label-position="left" style="padding: 0 10px">
        <el-form-item label="用户ID：" prop="colUserId">
          <el-select clearable v-model="form.colUserId" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="用户名：">
          <el-select clearable v-model="form.colUserName" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="密码：">
          <el-select clearable v-model="form.colPassword" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="手机：">
          <el-select clearable v-model="form.colMobile" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="邮箱：">
          <el-select clearable v-model="form.colEmail" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="用户禁用状态：">
          <el-select clearable v-model="form.colUserStatus" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="部门ID：" prop="colDeptId" class="colDeptIdClass">
          <div slot="label">
            部门ID：
            <el-popover placement="top" width="170" trigger="hover">
              <span style="font-size: 12px">ID与名称成组出现,若仅填写名称、ID为空则无法更新</span>
              <i class="el-icon-warning-outline tipIcon" slot="reference"></i>
            </el-popover>
          </div>

          <el-select clearable v-model="form.colDeptId" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="部门名称：" prop="colDeptName">
          <el-select clearable v-model="form.colDeptName" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="职务ID：">
          <el-select clearable v-model="form.colPostId" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="职务名称：">
          <el-select clearable v-model="form.colPostName" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="角色ID：">
          <div slot="label">
            角色ID：
            <el-popover placement="top" width="170" trigger="hover">
              <span style="font-size: 12px">ID与名称成组出现,若仅填写名称、ID为空则无法更新</span>
              <i class="el-icon-warning-outline tipIcon" slot="reference"></i>
            </el-popover>
          </div>

          <el-select clearable v-model="form.colRoleId" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="角色名称：">
          <el-select clearable v-model="form.colRoleName" size="small" class="flexBox">
            <el-option v-for="item in optionsOrigin" :key="item.value" :label="item.value" :value="item.value"> </el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </div>

    <div slot="footer">
      <el-button class="standardButton" @click="dialogBeforeClose()">取 消</el-button>
      <el-button class="standardButton" type="primary" @click="save()">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { syncView, syncConfig } from "@/dmp/api/system";
import { dataSetPage, dataSetDetail, startTimedSync, stopTimedSync } from "@/dmp/api/dataConnect";

export default {
  name: "QiankunBaseEditsynchronization",
  data() {
    return {
      dialogVisible: false, //弹窗显示隐藏
      form: {
        // datasetId : null  ,frequency:43200,frequencyUnit:'0' ,syncType:'1'
        isEdit: 1
      }, //表单数据
      options: [
        { value: "秒", label: "秒" },
        { value: "分钟", label: "分钟" },
        { value: "小时", label: "小时" },
        { value: "天", label: "天" },
        { value: "周", label: "周" }
      ],
      sources: [], //用户来源
      optionsOrigin: [], //用户来源字段
      showyzbds: false, //是否显示表达式
      olddatasetId: null //旧的用户来源
    };
  },
  computed: {
    rules() {
      return {
        colUserId: [{ required: true, message: " " }],
        colDeptId: [{ required: this.form.isSyncDept === 0, message: " " }],
        colDeptName: [{ required: this.form.isSyncDept === 0, message: " " }]
      };
    }
  },
  methods: {
    dialogBeforeClose(done) {
      this.form = this.$options.data().form;
      this.dialogVisible = false;
      this.showyzbds = false;
    },
    async openDialog() {
      //打开弹窗
      this.dialogVisible = true;

      await dataSetPage({ pageNum: 1, pageSize: 1000 }).then(res => {
        //获取用户来源
        this.sources = res.data.data.data.map(item => {
          return { ...item, id: +item.id };
        });
      });
      await syncView({ syncType: 1 }).then(res => {
        //获取同步配置
        this.form = { ...res.data.data };
        if (!this.form.syncType) {
          this.form.syncType = 1;
        }
        if (!this.form.isSyncDept) {
          this.$set(this.form, "isSyncDept", 0);
        }

        this.olddatasetId = this.form.datasetId;
      });

      const selInfo = this.sources.find(item => item.id == this.form.datasetId);
      await dataSetDetail(selInfo.id).then(res => {
        //获取用户来源字段
        this.optionsOrigin = res.data.data.colList.map(item => {
          return { value: item, label: item };
        });
      });
    },

    changeOrigin(val) {
      //用户来源改变
      this.$confirm("切换数据集后将清空原有同步数据，包括用户及其部门、角色、权限等，确认切换数据集？", "确认", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          const selInfo = this.sources.find(item => item.id == val);
          this.olddatasetId = val;
          this.form.colUserId = "";
          this.form.colUserName = "";
          this.form.colUserStatus = "";
          this.form.colDeptId = "";
          this.form.colDeptName = "";
          this.form.colRoleId = "";
          this.form.colRoleName = "";
          this.form.colMobile = "";
          this.form.colEmail = "";
          dataSetDetail(selInfo.id)
            .then(res => {
              const { state, message } = res.data;
              if (state === "success") {
                this.optionsOrigin = res.data.data.colList.map(item => ({ value: item, label: item }));
              } else {
                this.optionsOrigin = [];
                this.$message.error(message || "用户来源切换失败");
              }
            })
            .catch(err => {
              this.optionsOrigin = [];
              this.$message.error(err || "用户来源切换失败");
            });
        })
        .catch(() => {
          this.form.datasetId = this.olddatasetId;
        });
    },
    changebds(val) {
      //表达式改变
      this.form.cronExpress = val;
    },
    /**
     * 保存
     */
    async save() {
      this.$refs["form"].validate(async valid => {
        if (valid) {
          syncConfig({ ...this.form })
            .then(async res => {
              const { state, message } = res.data;
              if (state === "success") {
                this.$message.success("保存成功");
                this.dialogBeforeClose();
                // 先停止 后 开启
                // await   stopTimedSync() //停止定时同步
                // await   startTimedSync() //启动定时同步
                this.$emit("successTrigger");
              } else {
                this.$message.error(message || "保存失败");
              }
            })
            .catch(err => {
              this.$message.error(err || "保存失败");
            });
        } else {
          if (!this.form.colUserId) {
            return this.$message.error("用户ID不能为空");
          } else if (this.form.isSyncDept === 0 && !this.form.colDeptId) {
            return this.$message.error("部门ID不能为空");
          } else if (this.form.isSyncDept === 0 && !this.form.colDeptName) {
            return this.$message.error("部门名称不能为空");
          }
        }
      });
    },
    modifyUser() {
      //修改用户来源
      this.dialogBeforeClose();
      this.$emit("sumitConfirm", 1);
    }
  }
};
</script>

<style lang="scss" scoped>
.dialogsynchronization {
  .content {
    max-height: 55vh;
    overflow: auto;
    padding: 0 10px;
  }
  /deep/ .el-dialog {
    .el-dialog__body {
      font-size: 12px;
      padding-bottom: 0 !important;
      .el-form-item {
        margin-bottom: 8px;
      }
      .el-form-item__content {
        font-size: 12px;
      }
      .el-radio__label {
        font-size: 12px;
      }
    }
  }

  .yzbbs {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    div {
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #ebeef5;
      padding: 0 10px;
      cursor: pointer;
      &:hover {
        background: #f5f7fa;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .tipText {
    color: rgba(108, 124, 160, 0.65);
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 20%;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #cfcfcf;
    }
  }
  .mr10 {
    margin-right: 10px;
  }
  .ml10 {
    margin-left: 10px;
  }
}
</style>

<style>
.tipIcon {
  color: #afb3b9;
  margin-left: 5px;
  font-size: 14px;
  position: relative;
  top: 1px;
  cursor: pointer;
}
.colDeptIdClass .el-form-item__label {
  display: flex;
  align-items: center;
}
</style>
