<template>
  <div>
    <el-dialog :visible.sync="dialogVisible" append-to-body title="异常数据中断同步" width="420px" :before-close="dialogBeforeClose">
      <div class="contentBox">
        <div class="flexBox mb15">
          <span class="mr10">异常数据中断同步</span>
          <el-switch
            v-model="enabled"
            active-color="#3F73FF "
            class="switchBox"
            active-text="启用"
            :active-value="1"
            inactive-text="禁用"
            :inactive-value="0"
          >
          </el-switch>
        </div>
        <div class="flexBox mb15">
          用户数量减少达到
          <el-input v-model="input1" :disabled="enabled == 0" max="100" class="numberInput" size="mini">
            <span slot="suffix" style="line-height: 22px">%</span>
          </el-input>
          停止本次同步
        </div>

        <div style="color: rgba(0, 0, 0, 0.45)">
          提示:若系统中用户数量为100.某次同步数据集中用户数量为70.则本次同步数量减少达到(100-70)/100*100%=30%
        </div>
      </div>
      <div slot="footer">
        <el-button class="standardButton" @click="dialogVisible = false">取 消</el-button>
        <el-button class="standardButton" type="primary" @click="dialogVisible = false">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: "QiankunBaseInterruptDialog",
  data() {
    return {
      dialogVisible: false,
      enabled: 1,
      input1: 30
    };
  },
  methods: {
    dialogBeforeClose(done) {
      this.dialogVisible = false;
    },
    openDialog() {
      this.dialogVisible = true;
    }
  }
};
</script>

<style lang="scss" scoped>
.contentBox {
  font-size: 12px;
  .mr10 {
    margin-right: 10px;
  }
  .mb15 {
    margin-bottom: 15px;
  }
  /deep/ .switchBox {
    position: relative;
    width: 65px;
    .el-switch__label--left {
      color: #fff;
      position: absolute;
      z-index: 555;
      display: none;
      left: 25px;
      &.is-active {
        display: inline-block;
      }
    }
    .el-switch__label--right {
      color: #fff;
      position: absolute;
      z-index: 555;
      display: none;
      left: 0px;
      &.is-active {
        display: inline-block;
      }
    }
    .el-switch__label * {
      font-size: 12px;
    }
    .el-switch__core {
      width: 60px !important;
    }
  }
  .numberInput {
    width: 50px;
    margin: 0 10px;
    /deep/ .el-input__inner {
      height: 22px;
      padding: 0px 10px;
    }
  }
}
</style>
