<template>
  <div class="form-wrap">
    <Form ref="formValidate" :model="formData" :label-width="80">
      <FormItem label="指标分组" prop="groupId">
        <fa-tree-select
          :selected="groupIdToParent"
          :treeData="childGroupData"
          style="width: 300px"
          @changeVal="submitComplexGroupId"
        />
      </FormItem>
     <FormItem v-if="showName" label="指标名称" prop="name">
       <Input v-model="formData.name" clearable placeholder="请输入指标名" class="ml10" style="width: 300px" />
     </FormItem>
      <FormItem label="业务描述" prop="describe">
        <Input v-model="formData.description" clearable placeholder="请输入业务描述" class="ml10" style="width: 300px; height: 128px" type="textarea"/>
      </FormItem>
      <FormItem label="公式定义" prop="expressionInnerHtml">
        <div class="expression-wrap">
          <div class="expression-right">
            <span class="thick">指标选择</span>
              <Input search placeholder="请输入指标名称"  clearable @on-clear="onSearchIndicator" @on-change="onSearchIndicator($event)"/>
            <div class="tree-wrap">
              <Tree :data="indicatorTreeData" @on-select-change="onSelectChange"></Tree>
            </div>

          </div>
          <div class="expression-left">
            <span class="thick">运算公式</span>
            <div style="display: flex;margin-bottom: 10px;">
              <Input placeholder="校验结果" readonly v-model="checkExpressionResult" :class="isExpressionValid ? 'expressionValid' : 'expressionInValid'"/>
              <Button type="primary" style="margin-left:10px; background: #3F73FF; border-radius: 2px" @click="validateExpression">公式校验</Button>
            </div>
            <CompositeIndicatorTextarea
              v-model="formData.expressionInnerHtml"
              style="background:#fff;border-top:none;height:210px"
              :tools="tools"
              ref="textArea"
              :tag="tag"
            />
            <span class="thick">运算符选择</span>
            <div class="line"></div>
            <div class="operator-btn-wrap">
              <Button v-for="item in operators" :key="item" type="primary" class="operator-btn" @click="addOperator(item)" style="width: 30px; height: 30px; text-align: center" ghost>{{item}}</Button>
            </div>
          </div>
        </div>
      </FormItem>
    </Form>
  </div>
</template>

<script>
import _ from "lodash"
import {checkExpression} from '@/libs/calcExpression'
const EXPRESSION_VALID_TEXT = '规则正确'
const EXPRESSION_INVALID_TEXT = '规则不符合要求';
import CompositeIndicatorTextarea from './CompositeIndicatorTextarea';
import {filterTree} from  '@/utils/common'
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect'
export default {
  name: "complexIndicator",
  props: {
    formData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    groupData: {
      type: Array,
      default: () => {
        return []
      }
    },
    copyData: {
      type: Object,
      default: () => { return {} }
    },
    expressionIndicators: {
      type: Array,
      default: () => {
        return []
      }
    },
    expression: {
      type: String,
      default: null
    },
    showName: {
      type: Boolean,
      default: false
    },
    deepHtml: {}

  },
  components: { CompositeIndicatorTextarea, FaTreeSelect },
  data () {
    return {
      tools: [],
      tag: 'indicatorTag',
      operators: ['+', '-', '*', '/', '(', ')'],
      checkExpressionResult: null,
      isExpressionValid: false,
      indicatorTreeData: [],
      groupIdToParent: [],
      childGroupData: [],
      expressionIndicator: [],
      expressionCopy: ''
    }
  },
  watch: {
    expression(val){
      this.isExpressionValid = false
      this.checkExpressionResult = null
    },
    'formData.groupId': {
      handler(val) {
        this.$nextTick(() => {
          this.groupIdToParent = JSON.parse(JSON.stringify(val))
          this.childGroupData = JSON.parse(JSON.stringify(this.groupData))
          this.$forceUpdate()
        })
      },
      deep: true,
      immediate: true
    },

  },
  mounted() {
    this.filterComplexTreeData()
  },
  methods: {
    submitComplexGroupId(e) {
      this.$emit('submitComplexGroupId', e?.id)
    },
    filterComplexTreeData() {
      let cloneData = JSON.parse(JSON.stringify(this.copyData)), root = [...cloneData.indicatorGroupList, ...cloneData.indicatorList];
      root.forEach(item => item.title = item.name);
      let data = [{
        id: -1,
        title: '/',
        expand: true,
        children: []
      }]
      this.recursiveTree(data, root)
      data[0].children.forEach(item => item.expand = true)
      this.indicatorTreeData = data
      this.indicatorTreeDataCopy = data

    },
    recursiveTree(parent, allData) {
      parent.forEach(item => {
        let children = allData
          .filter(d => {
            if (d.parentId) {
              return d.parentId == item.id
            } else if (d.groupId) {
              return d.groupId == item.id
            }
          }).map((child, i) => {
            if (child.parentId) {
              return {
                id: child.id,
                title: child.name,
                dataType: 1,
                expand: false,
              }
            } else if (child.groupId) {
              return {
                id: child.id,
                title: child.name,
                dataType: 2,
                type: child.type,
              }
            }
          })
        if (children.length > 0) {
          item.children = children
          this.recursiveTree(children, allData)
        }
      })
    },
    addOperator(value) {
      this.$refs.textArea.addLink(value, value)
    },
    onSelectChange(value, node) {
      if(node.hasOwnProperty('children') || node.hasOwnProperty('expand')) {
        node.selected = false
        return false
      }
      this.$refs.textArea.addTag(node)
      this.expressionIndicator.push(node)
      // 记录已选指标对象
      this.expressionIndicators.push(node)
    },
    validateExpression() {
      // 规则验算
      let expressionInfo = null;
      if(this.$parent.$parent.hasOwnProperty('getExpressionInfo')) {
        // 报告管理，两层$parent
        expressionInfo = this.$parent.$parent.getExpressionInfo()
      } else if(this.$parent.$parent.$parent.hasOwnProperty('getExpressionInfo')) {
        // 指标页面，三层$parent
        expressionInfo = this.$parent.$parent.$parent.getExpressionInfo()
      }
      // 如果表达式能够计算出值，验算有效通过
      this.validateFormula(expressionInfo.expressionText)
    },
    validateFormula (expressionText) {
      let result = checkExpression(expressionText);

      this.isExpressionValid = result
      if (!result){
        this.checkExpressionResult = EXPRESSION_INVALID_TEXT
      }else{
        this.checkExpressionResult = EXPRESSION_VALID_TEXT
      }
      return result
    },
    onSearchIndicator(e) {
      let value = e && e.target ? e.target.value : e
      // let treeData = JSON.parse(JSON.stringify(this.indicatorTreeData))
      if (value) {
        this.indicatorTreeData = filterTree(this.indicatorTreeData, value)
      } else {
        this.indicatorTreeData = this.indicatorTreeDataCopy
      }
    },
    refreshTreeExpend(keyword, treeData) {
      _.forEach(treeData, item => {
        if (item.children && item.children.length) {
          const dim = _.find(item.children,  child => child.title.includes(keyword))
          if (dim) {
            // 展开目标节点的父级节点
            item.expand = true
          } else {
            item.expand = false
          }
        }
      })
    }
  }
}
</script>

<style scoped>
.form-wrap {
  /*max-height: 600vh !important;*/
  /*overflow: auto;*/
  padding-right: 16px;
}
.expression-wrap{
  display: flex;
  background:#f9f9fa;
}
.expression-left{
  width: 50%;
  padding: 10px;
}
.expression-right{
  width: 50%;
  padding: 10px;
}


.line {
  height: 1px;
  border-top: solid 1px #ccc;
  margin-bottom: 10px;
}
.thick {
  font-size: 14px;
  font-weight: 800;
}
.tree-wrap{
  min-height: 120px;
  background: #ffffff;
  max-height: 280px;
  overflow: auto;
  padding: 0 10px;
  border: 1px solid #d9d9d9;
  margin-top: 10px;
}
.tree-wrap /deep/.ivu-icon-ios-arrow-forward{
  margin-bottom: 7px;
}
.input-wrap{
  padding: 10px;
  background: #ffffff;
}

.operator-btn-wrap{
 display: flex;
}
.operator-btn {
  margin-right: 10px;
}
.expressionValid :nth-last-child(1) {
  color: blue !important;
}
.expressionInValid :nth-last-child(1) {
  color: red !important;
}
  /deep/.operator-btn-wrap button {
    /*display: flex;*/
    /*align-items: center;*/
    padding: 0;
  }
/deep/ textarea.ivu-input {
  height: 128px;
  font-size: 12px;
  resize: none;
}

</style>
