<template>
  <Modal v-model="importModalShow" class="importModalClass" title="批量导入" :mask-closable="false">
    <div class="importModel-container">
      <div class="download-btn" @click="importHandle">
        <img class="downloadIcon" src="@/assets/images/indicatorWorkbench/download.svg" alt="" />
        <span>模版下载</span>
      </div>
      <div class="import-all">
        <img class="importIcon" src="@/assets/images/indicatorWorkbench/upload.svg" v-show="uploadStatus === 1" />
        <img class="importIcon" src="@/assets/images/indicatorWorkbench/excel.svg" v-show="uploadStatus === 2 || uploadStatus === 3" />
        <Upload ref="upload" action=""
          :before-upload="handleBeforeUpload"
          :on-progress="handleUploading"
          :on-remove="handleRemove"
          accept=".xls,.xlsx,.csv">
            <Button type="primary" ghost size="large" v-show="uploadStatus === 1">导入</Button>
        </Upload>
      </div>
      <div v-if="uploadStatus === 2">
        <Progress
            v-if="fileObj.result !== 1"
            hide-info
            :percent="fileObj.progress"
            :stroke-width="2"
            :stroke-color="fileObj.result === 2 ? '#FF4D4F' : '#1890FF'"
            status="active" />
      </div>
      <div class="import-all" v-show="uploadStatus === 3">
        <div class="file-item">
          <span class="file-name" :title="fileObj.name">{{ fileObj.name }}</span>
          <Icon type="md-close" class="file-delete" @click.stop="deleteFile" />
        </div>
        <p class="group">已上传EXCEL文件，请选择分组</p>
        <div class="select-group-all">
          <span>资产分组：</span>
          <FaTreeSelect
            style="width: 172px"
            :selected="selectGroup"
            :treeData="treeData"
            @changeVal="onAssetGroupChange"
            :refresh="true"
            :render="renderTip"
            class="custom-tree" />
        </div>
      </div>
    </div>
    <div slot="footer">
      <Button
        type="text"
        @click="cancelBtnHandle"
        >取消</Button
      >
      <Button type="primary" @click="submitBusinessModelData()"
        :disabled="uploadStatus !==3"
        :class="{'disable-comfirm':uploadStatus !==3 }"
      >确定</Button>
    </div>
  </Modal>
</template>

<script>
import { deepCopy } from "@/utils/common";
import { v4 as uuid } from 'uuid'
import { outIndicatorImport } from '@/api/indicatorWorkbench'
import { fileToJson } from '@/view/dataset/Build/DataSource/FileSetList/FileUpload/utils'
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
import config from '@/config'

// 文件选择大小限制 字节 100MB
const FILE_SELECT_SIZE_LIMIT = 104857600
const PREVIEW_SHEET_ROWS = 11

export default {
  name: "ImportModal",
  components: {
    FaTreeSelect
  },
  props: {

  },
  data() {
    return {
      importModalShow: false, // 新增组modal隐显标识
      uploadStatus: 1,  // 1未上传， 2上传中， 3上传成功
      selectGroup: '',
      treeData: [],
      fileObj: {}
    };
  },
  computed: {

  },
  watch: {
    importModalShow(val){
      if(!val){

      }
    },
  },
  created() {},
  mounted() {

  },
  methods: {
    initModal(){
      this.uploadStatus = 1;
      this.selectGroup = '';
      this.$refs.upload.clearFiles();
    },
    onAssetGroupChange(value) {
      this.selectGroup = value.id;
    },
    // render函数
    renderTip(h, { root, node, data }){
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },
    importHandle(){
      let nowUrl = location.href.split('#/')[0];
      window.open(`${nowUrl}/exportFile/outIndicatorTemplate.xlsx`, "_blank")
    },
    handleUploading(){
      this.uploadStatus = 2;
    },
    deleteFile(){
      this.fileObj = {};
      this.uploadStatus = 1;
    },
    async handleBeforeUpload(file){
      // this.showSpin()
      // 文件大小判断
      if (file.size > FILE_SELECT_SIZE_LIMIT) {
        this.$Message.error('文件过大，请上传0-100M的文件')
        return Promise.reject()
      }

      // 文件格式判断
      let extensionIndex = file.name.lastIndexOf('.') + 1;
      let extension = file.name.substring(extensionIndex).toLowerCase();
      let qualifiedExtensions = ['xlsx', 'xls', 'csv'];
      if (!qualifiedExtensions.includes(extension)) {
        this.$Message.error('上传文件格式错误')
        return Promise.reject()
      }

      // 解析
      await this.parseFile(file)
      return Promise.reject()
    },
    // 解析文件
    async parseFile(file) {
      let fileName = file.name.substring(0, 20) // 防止文件名过长

      // 文件对象
      const fileId = this.getFileId();
      console.log(fileId)
      let fileItem = {
        id: fileId,
        file,
        name: fileName, // 文件完整名称
        progress: 0,
        result: 0, // 上传结果 0-未上传 1-上传成功 2-上传失败 3-上传中
        edit: false, // 是否是编辑状态
        // parseType: file.size > FILE_UPLOAD_SIZE_LIMIT ? 'server' : 'client', // 解析方式
      }
      console.log(fileItem)

      // 读取xlsx
      const sheet = await fileToJson(file, PREVIEW_SHEET_ROWS)
      // this.$Spin.hide()
      if (!sheet.length) return this.$Message.warning(`文件${file.name}内容为空`)

      // 判断表头是否断开，比如1,2,4,5
      let columnIndex = 0
      for (let index in sheet[0]) {
        if (columnIndex !== Number(index)) return this.$Message.warning(`文件${file.name} 第${columnIndex + 1}列 为空`)
        columnIndex++
      }

      this.fileObj = fileItem;
      console.log(this.fileObj)
      this.uploadStatus = 3;
    },
    // 获取文件id
    getFileId() {
      return uuid().replaceAll('-', '')
    },
    handleRemove(){
      this.initModal();
    },
    // 取消按钮
    cancelBtnHandle(){
      this.importModalShow = false;
      this.initModal();
    },

    // 业务模型提交
    async submitBusinessModelData() {
      let formData = new FormData()
      formData.append('file', this.fileObj.file)
      let res = await outIndicatorImport(formData, this.selectGroup);
      if(res.data.state === 'success'){
        this.importModalShow = false;
        this.initModal();
        this.$Message.success('导入成功！')
        this.$emit('handleImportComplete')
      }else{
        this.$Message.error(res.data.message);
      }
    },

    // 打开模态框
    openModal(data) {
      this.importModalShow = true;
      this.treeData = deepCopy(data[0].children);
      this.selectGroup = this.treeData[0].id;
    },
  },
};
</script>

<style scoped lang="less">
.importModel-container{
  padding-bottom: 40px;
  .download-btn{
    display: flex;
    cursor: pointer;
    color: #2876FF;
    margin-right: 12px;
    margin-bottom: 40px;
    .downloadIcon{
      margin-right: 4px;
    }
  }
  .import-all{
    text-align: center;
    color: rgba(0,0,0,0.45);
    .importIcon{
      margin-bottom: 15px;
    }
    .select-group-all{
      margin-top: 16px;
    }
    .file-item{
      width: 100%;
      position: relative;
      background: #f3f3f3;
      padding: 5px;
      padding-right: 30px;
      .file-name{
      }
      .file-delete{
        position: absolute;
        right: 20px;
        top: 7px;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
  .group{
    margin-top: 24px;
  }
}
/deep/.ivu-modal-footer{
  border-top: none;
  .disable-comfirm{
    background-color: #c1c1c1 !important;
    border-color: #c1c1c1 !important;
    color: #fff;
  }
}
/deep/ .ivu-tree-title{
  .tree-title-span{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
/deep/ .ivu-upload-list-remove{
  opacity: 1;
}
/deep/.ivu-upload-list-file {
  background: #f3f3f3;
}
</style>
