<template>
  <div class="multipleSelectTree-container">
    <Select class="selectWrapper" v-bind="$attrs" :value="selectedVal" multiple @on-open-change="handleOpenChange" @on-change="handleChange">
      <!-- 用于展示Select组件数据 -->
      <Option v-show="false" v-for="item in selectedList" :value="item.id" :key="item.id">{{ item.value }}</Option>

      <!-- 下拉框展示内容 -->
      <Input style="padding: 5px" v-model="searchVal" search placeholder="请输入搜索关键字" clearable />
      <Tree class="treeContainer-fa-tree" :data="treeDataF" show-checkbox check-strictly expand-all @on-check-change="handleChangeTreeNode" />
    </Select>
  </div>
</template>

<script>
import { filterTree } from "@/utils/common";

export default {
  name: "MultipleSelectTree",
  inheritAttrs: false,
  model: {
    prop: "selectedVal", // 选择的数据
    event: "update:selectedVal"
  },
  props: {
    // 选择器的数据
    selectedVal: {
      type: Array,
      default: () => []
    },
    // 多选树的数据
    treeData: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      searchVal: "" // 搜索关键字
    };
  },
  computed: {
    treeDataF() {
      if (this.searchVal) {
        return filterTree(this.treeData, this.searchVal);
      } else {
        return [...this.treeData];
      }
    },
    selectedList() {
      return this.getTreeData(this.treeData);
    }
  },
  methods: {
    /**
     * 获取树的平铺数据
     */
    getTreeData(list) {
      let arr = [];
      list.forEach(ele => {
        if (ele.children.length) {
          const childArr = this.getTreeData(ele.children);
          arr = [...arr, ...childArr];
        }
        arr.push({ id: ele.id, value: ele.title });
      });
      return arr;
    },
    /**
     * 展示下拉框
     * @param {Boolean} isShow 是否展示下拉框
     */
    handleOpenChange(isShow) {
      if (!isShow) {
        this.searchVal = "";
      }
    },
    /**
     * 改变选中项（删除选项时，移除树的勾选效果）
     * @param {Array} option 当前选中项
     */
    handleChange(option) {
      this.removeChecked(this.treeData, option);
      this.$emit("update:selectedVal", option);
    },
    /**
     * 移除树的勾选效果
     * @param {Array} list 树
     * @param {Array} option 当前选中项
     */
    removeChecked(list, option) {
      list.forEach(ele => {
        ele.checked = option.includes(ele.id);
        if (ele.children.length) {
          this.removeChecked(ele.children, option);
        }
      });
    },
    /**
     * 树勾选（点击复选框时触发）
     * @param {Array} nodes 当前已勾选节点的数组
     * @param {Array} node 当前项
     */
    handleChangeTreeNode(nodes, node) {
      console.log(nodes, node);

      // 给select组件赋值并收起下拉框
      const selectedVal = nodes.map(ele => ele.id);
      this.$emit("update:selectedVal", selectedVal);
    }
  }
};
</script>

<style lang="less" scoped>
.multipleSelectTree-container {
  width: 100%;
  height: 100%;

  /deep/.selectWrapper {
    .ivu-select-selection > div {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  /deep/ .treeContainer-fa-tree {
    padding: 0 14px 14px;
    .ivu-tree-title {
      width: 70%;
    }
  }
}
</style>
