<template>
  <el-dialog
    title="同步部门职务"
    append-to-body
    :visible.sync="dialogVisible"
    width="536px"
    class="dialogsynchronization"
    :before-close="dialogBeforeClose"
  >
    <div class="content">
      <el-form
        label-width="120px"
        label-position="left"
        style="padding: 0 10px"
      >
        <el-form-item label="部门职务来源：">
          <div class="flexBox">
            <el-select
              v-model="form.datasetId"
              style="flex: 1"
              size="small"
              @change="changeOrigin"
            >
              <el-option
                v-for="item in sources"
                :key="item.id"
                :label="item.datasetName"
                :value="item.id"
              >
              </el-option>
            </el-select>
            <el-button
              type="text"
              size="small"
              @click="modifyUser()"
              class="ml10"
              >修改来源</el-button
            >
          </div>
        </el-form-item>
        <el-form-item label="部门职务可编辑：">
          <div class="flexBox">
            <!-- 1是 0否 -->
            <el-checkbox
              v-model="form.isEdit"
              :true-label="1"
              :false-label="0"
            ></el-checkbox
            ><span class="ml10">同步状态下部门职务名称、关系可编辑</span>
          </div>
        </el-form-item>
      </el-form>

      <el-form
        ref="form"
        :disabled="!form.datasetId"
        :rules="rules"
        :model="form"
        label-width="120px"
        label-position="left"
        style="padding: 0 10px"
      >
        <el-form-item label="部门ID：" prop="colDeptId">
          <div slot="label" style="display: inline-block">
            部门ID：
            <el-popover placement="top" width="170" trigger="hover">
              <span style="font-size: 12px"
                >ID与名称成组出现,若仅填写名称、ID为空则无法更新</span
              >
              <i class="el-icon-warning-outline tipIcon" slot="reference"></i>
            </el-popover>
          </div>

          <el-select
            clearable
            v-model="form.colDeptId"
            size="small"
            class="flexBox"
          >
            <el-option
              v-for="item in optionsOrigin"
              :key="item.value"
              :label="item.value"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="部门名称：" prop="colDeptName">
          <el-select
            clearable
            v-model="form.colDeptName"
            size="small"
            class="flexBox"
          >
            <el-option
              v-for="item in optionsOrigin"
              :key="item.value"
              :label="item.value"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="职务ID：">
          <el-select
            clearable
            v-model="form.colPostId"
            size="small"
            class="flexBox"
          >
            <el-option
              v-for="item in optionsOrigin"
              :key="item.value"
              :label="item.value"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>

        <el-form-item label="职务名称：">
          <el-select
            clearable
            v-model="form.colPostName"
            size="small"
            class="flexBox"
          >
            <el-option
              v-for="item in optionsOrigin"
              :key="item.value"
              :label="item.value"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
    </div>

    <div slot="footer">
      <el-button class="standardButton" @click="dialogBeforeClose()"
        >取 消</el-button
      >
      <el-button class="standardButton" type="primary" @click="save()"
        >确 定</el-button
      >
    </div>
  </el-dialog>
</template>

<script>
import { syncView, syncConfig } from "@/dmp/api/system";
import { dataSetPage, dataSetDetail } from "@/dmp/api/dataConnect";

export default {
  name: "QiankunBaseEditsynchronization",
  data() {
    return {
      dialogVisible: false, //弹窗显示隐藏
      form: {
        // datasetId : null  ,frequency:43200,frequencyUnit:'0' ,syncType:'1'
        isEdit: 0,
      }, //表单数据
      sources: [], //用户来源
      optionsOrigin: [], //用户来源字段
      showyzbds: false, //是否显示表达式
      olddatasetId: null, //旧的用户来源
      rules: {
        colDeptId: [{ required: true, message: " " }],
        colDeptName: [{ required: true, message: " " }],
      },
    };
  },
  methods: {
    dialogBeforeClose(done) {
      this.form = this.$options.data().form;
      this.dialogVisible = false;
      this.showyzbds = false;
    },
    async openDialog() {
      //打开弹窗
      this.dialogVisible = true;

      await dataSetPage({ pageNum: 1, pageSize: 1000 }).then((res) => {
        //获取用户来源
        this.sources = res.data.data.data.map((item) => {
          return { ...item, id: +item.id };
        });
      });
      await syncView({ syncType: 3 }).then((res) => {
        //获取同步配置
        this.form = { ...res.data.data };
        if (!this.form.syncType) {
          this.form.syncType = 3;
        }

        this.olddatasetId = this.form.datasetId;
      });

      const selInfo = this.sources.find(
        (item) => item.id == this.form.datasetId
      );
      if (selInfo) {
        await dataSetDetail(selInfo.id).then((res) => {
          //获取用户来源字段
          this.optionsOrigin = res.data.data.colList.map((item) => {
            return { value: item, label: item };
          });
        });
      }
    },

    changeOrigin(val) {
      //用户来源改变
      this.$confirm(
        "切换数据集后将清空原有同步数据，包括部门、职务及对应权限等，原部门职务下人员将处于无组织状态，确认切换数据集？",
        "确认",
        {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }
      )
        .then(() => {
          const selInfo = this.sources.find((item) => item.id == val);
          this.olddatasetId = val;
          this.form.colDeptId = "";
          this.form.colDeptName = "";
          dataSetDetail(selInfo.id)
            .then((res) => {
              const { state, message } = res.data;
              if (state === "success") {
                this.optionsOrigin = res.data.data.colList.map((item) => {
                  return { value: item, label: item };
                });
              } else {
                this.optionsOrigin = [];
                this.$message.error(message || "用户来源切换失败");
              }
            })
            .catch((err) => {
              this.optionsOrigin = [];
              this.$message.error(err || "用户来源切换失败");
              // this.form.datasetId = null
            });
        })
        .catch(() => {
          this.form.datasetId = this.olddatasetId;
        });
    },
    async save() {
      //保存

      this.$refs["form"].validate(async (valid) => {
        if (valid) {
          syncConfig({ ...this.form })
            .then(async (res) => {
              const { state, message } = res.data;
              if (state === "success") {
                this.$message.success("保存成功");
                this.dialogBeforeClose();
                this.$emit("successTrigger");
              } else {
                this.$message.error(message || "保存失败");
              }
            })
            .catch((err) => {
              this.$message.error(err || "保存失败");
            });
        } else {
          console.log("this.form", this.form);
          return this.$message.error("部门ID，部门名称不能为空");
        }
      });
    },
    modifyUser() {
      //修改用户来源
      this.dialogBeforeClose();
      this.$emit("sumitConfirm", 1);
    },
  },
};
</script>

<style lang="scss" scoped>
.dialogsynchronization {
  .content {
    max-height: 55vh;
    overflow: auto;
    padding: 0 10px;
  }
  /deep/ .el-dialog {
    .el-dialog__body {
      font-size: 12px;
      padding-bottom: 0 !important;
      .el-form-item {
        margin-bottom: 8px;
      }
      .el-form-item__content {
        font-size: 12px;
      }
      .el-radio__label {
        font-size: 12px;
      }
    }
  }

  .yzbbs {
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    div {
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #ebeef5;
      padding: 0 10px;
      cursor: pointer;
      &:hover {
        background: #f5f7fa;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .tipText {
    color: rgba(108, 124, 160, 0.65);
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 20%;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #cfcfcf;
    }
  }
  .mr10 {
    margin-right: 10px;
  }
  .ml10 {
    margin-left: 10px;
  }
}
</style>
<style  >
.tipIcon {
  color: #afb3b9;
  margin-left: 5px;
  font-size: 14px;
  position: relative;
  top: 1px;
  cursor: pointer;
}
</style>
