<template>
  <div class="firstEntry">
    <el-dialog
      title="确认"
      width="432px"
      :visible.sync="dialogVisible"
      :before-close="handleClose"
      append-to-body
    >
      <div class="tipStr">是否保留现有非同步部门、职务？</div>
      <div class="radioText">
        <el-radio v-model="syncStrategy" @change="syncStrategy = 1" :label="1"
          >保留。若上述对象也包含在同步数据集中，该对象将被更新，其权限设置将被保留
        </el-radio>
      </div>
      <div class="radioText">
        <el-radio v-model="syncStrategy" @change="syncStrategy = 2" :label="2"
          >清空</el-radio
        >
      </div>
      <div class="footer">
        <el-button class="standardButton" @click="handleClose()"
          >取消</el-button
        >
        <el-button class="standardButton" @click="sumitConfirm()" type="primary"
          >确定</el-button
        >
      </div>
    </el-dialog>

    <el-dialog
      title="文件来源"
      width="430px"
      :visible.sync="dialogVisibleData"
      :before-close="handleCloseData"
      append-to-body
    >
      <div class="flexBox" style="padding: 10px; width: 70%">
        <div class="radioText">
          <el-radio v-model="userOrigin" @change="userOrigin = 1" :label="1">
            SQL数据集
          </el-radio>
        </div>
        <div class="radioText">
          <el-radio
            v-model="userOrigin"
            disabled
            @change="userOrigin = 2"
            :label="2"
            >文件数据集</el-radio
          >
        </div>
        <!-- <div class="radioText">
          <el-radio v-model="userOrigin" disabled @change="userOrigin = '2'" label="3">接口数据集</el-radio>
        </div> -->
      </div>
      <div class="footer">
        <el-button class="standardButton" @click="handleCloseData()"
          >取消</el-button
        >
        <el-button
          class="standardButton"
          @click="sumitConfirmData()"
          type="primary"
          >确定</el-button
        >
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { syncView, syncConfig } from "@/dmp/api/system";

export default {
  name: "FirstEntry",
  data() {
    return {
      dialogVisible: false,
      dialogVisibleData: false,
      syncStrategy: 1,
      userOrigin: 1,
      form: {},
    };
  },
  methods: {
    open() {
      this.dialogVisible = true;
      syncView({ syncType: 3 }).then((res) => {
        //获取同步配置
        this.form = { ...res.data.data };
      });
    },
    sumitConfirm() {
      this.dialogVisible = false;
      this.dialogVisibleData = true;
    },
    handleClose() {
      this.syncStrategy = 1;
      this.dialogVisible = false;
    },
    handleCloseData() {
      this.userOrigin = 1;
      this.dialogVisibleData = false;
    },
    sumitConfirmData() {
      syncConfig({
        ...this.form,
        syncStrategy: this.syncStrategy,
        userOrigin: this.userOrigin,
        syncType: 3 
      });
      this.$emit("sumitConfirm", this.syncStrategy, this.userOrigin);
      this.dialogVisibleData = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.tipStr {
  font-size: 12px;
  margin-bottom: 6px;
  color: #454545;
}

.radioText {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  /deep/ .el-radio {
    display: flex;
    width: 100%;
    white-space: normal;

    .el-radio__input {
      height: 16px;
      margin-top: 3px;
    }
    .el-radio__label {
      line-height: 20px;
      font-size: 12px;
    }
  }
}
.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
</style>
