<template>
  <el-dialog
    append-to-body
    :visible.sync="dialogVisible"
    title="历史同步结果"
    width="1200px"
    class="syncHronization"
    :before-close="dialogBeforeClose"
  >
    <div class="contentBox">
      <div class="seachBox">
        <div class="text">
          <span>同步时间：</span>
          <el-date-picker
            v-model="search.dateRange"
            type="daterange"
            value-format="yyyyMMdd"
            style="width: 250px"
            @change="onSearch()"
            range-separator="-"
            start-placeholder="开始日期"
            size="small"
            end-placeholder="结束日期"
          >
          </el-date-picker>
        </div>
        <div class="text">
          <span>操作人：</span>
          <el-input
            v-model.trim="search.operationUser"
            v-debounce="{ handler: onSearch }"
            size="small"
            placeholder="请输入内容"
          ></el-input>
        </div>

        <div class="text">
          <span>同步结果：</span>
          <el-select
            v-model="search.status"
            placeholder="请选择"
            size="small"
            @change="onSearch()"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </div>
      </div>

      <el-table :data="tableData" size="small" style="min-height: 50vh">
        <el-table-column type="index" label="序号" width="150" align="center">
        </el-table-column>
        <el-table-column prop="createTime" label="同步时间"> </el-table-column>
        <el-table-column prop="creator" label="操作人"> </el-table-column>
        <el-table-column prop="creator" label="同步类型">
          <template slot-scope="scope">
            {{ scope.row.type == 1 ? "自动同步" : "手动同步" }}
          </template>
        </el-table-column>
        <el-table-column prop="status" label="同步结果">
          <template slot-scope="scope">
            <span
              class="radiusBox"
              :style="{
                backgroundColor:
                  scope.row.status === '同步成功'
                    ? '#6DD400'
                    : scope.row.status === '同步失败'
                    ? '#FF4D4F'
                    : '#FFA940',
              }"
            ></span>
            {{ scope.row.status }}
          </template>
        </el-table-column>
      </el-table>
      <Pagination
        :total="listQuery.total"
        :page.sync="listQuery.pageNum"
        :limit.sync="listQuery.pageSize"
        style="margin-top: 10px"
        layout="total,  prev, pager, next, jumper"
        @pagination="pagination"
      />
    </div>
  </el-dialog>
</template>

 <script>
// import LoadingBox from "@/components/loadingBox/loading1.vue";
import { historyOld } from "@/dmp/api/system";
import { debounce } from "@/dmp/utils/directive";
import Pagination from "@/dmp/components/Pagination";

export default {
  name: "Synchronization",
  data() {
    return {
      dialogVisible: false,
      search: {
        operationUser: "",
        dateRange: [],
        status: "",
      },
      options: [
        { value: "", label: "全部" },
        { value: "同步成功", label: "同步成功" },
        { value: "同步失败", label: "同步失败" },
        { value: "同步中", label: "同步中" },
      ],
      tableData: [], // 表格数据
      listQuery: {
        pageNum: 1,
        pageSize: 10,
        total: 0,
      },
    };
  },
  components: {
    // LoadingBox
    Pagination,
  },
  methods: {
    dialogBeforeClose() {
      this.listQuery.pageNum = 1;
      this.dialogVisible = false;
      this.search = this.$options.data().search;
    },
    openDialog(id) {
      this.dialogVisible = true;
      this.getTableData(1000);
    },
    onSearch() {
      this.listQuery.pageNum = 1;
      this.getTableData();
    },
    pagination(val) {
      this.getTableData();
    },
    getTableData() {
      this.tableData = [];
      let info = {
        ...this.search,
        startDate: "",
        endDate: "",
        pageNum: this.listQuery.pageNum,
        pageSize: this.listQuery.pageSize,
      };
      delete info.dateRange;
      if (this.search.dateRange && this.search.dateRange.length > 0) {
        info.startDate = this.search.dateRange[0];
        info.endDate = this.search.dateRange[1];
      }
      historyOld({ ...info })
        .then((res) => {
          const { state, message } = res.data;
          if (state === "success") {
            let data = res.data.data;
            this.listQuery.total = data.total;
            this.tableData = data.dataList;
          } else {
            this.$message.error(message);
          }
        })
        .catch((err) => {
          this.$message.error(err);
        });
    },
  },
  directives: {
    debounce, //防抖指令
  },
};
</script>

 <style lang="scss" scoped>
.syncHronization {
  .seachBox {
    display: flex;
    font-size: 12px;
    margin-bottom: 16px;
    .text {
      margin-left: 20px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .radiusBox {
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #3f73ff;
    border-radius: 50%;
    position: relative;
    top: -2px;
    margin-right: 5px;
  }
}
</style>
