<template>
  <el-dialog
    append-to-body
    :visible.sync="dialogVisible"
    width="330px"
    class="synchronizationDialog"
    :before-close="dialogBeforeClose"
  >
    <div class="contentBox">
      <!-- <LoadingBox v-if="state == 1" style="height: 120px" /> -->
      <div v-if="state == 1" class="content">
        <img
          src="@/dmp/assets/images/dataConnection/loading.svg"
          alt=""
          class="loading"
        />
        <p>同步中，请稍等</p>
      </div>
      <div v-else-if="state == 2" class="content success">
        <i class="el-icon-success"></i>
        <p>同步成功</p>
      </div>
      <div v-else class="content">
        <i class="el-icon-error"></i>
        <p>同步失败</p>
      </div>

      <div class="footer">
        <div><span class="lable">同步时间：</span> {{ createTime }}</div>
        <div><span class="lable">操作人：</span> {{ creator }}</div>
      </div>
    </div>
  </el-dialog>
</template>

<script>
// import LoadingBox from "@/components/loadingBox/loading1.vue";
import { getStatus } from "@/dmp/api/system";

export default {
  name: "Synchronization",
  data() {
    return {
      dialogVisible: false,
      state: 1, // 1:同步中 2:同步成功 3:同步失败
      errText: "",
      createTime: "", // 同步时间
      creator: "", // 操作人
    };
  },
  components: {
    // LoadingBox
  },
  methods: {
    dialogBeforeClose(done) {
      this.errText = "";
      this.creator = "";
      this.createTime = "";
      this.dialogVisible = false;
    },
    openDialog(id) {
      this.dialogVisible = true;
      this.state = 1;
      getStatus({ id: id ? id : "" })
        .then((res) => {
          const { state, message } = res.data;
          if (state === "success") {
            let info = res.data.data;
            if (info.status == "同步成功") {
              this.state = 2;
              this.$emit("successTrigger");
              setTimeout(() => {
                this.dialogBeforeClose();
              }, 1000);
            } else if (info.status == "同步中") {
              this.state = 1;
            } else {
              this.state = 3;
              this.$emit("successTrigger");
            }
            this.createTime = res.data.data.createTime;
            this.creator = res.data.data.creator;
          } else {
            this.state = 3;
            this.errText = message;
          }
        })
        .catch((err) => {
          console.log(err);
          this.state = 3;
          this.errText = err;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.synchronizationDialog {
  /deep/ .el-dialog__header {
    border: none;
    height: 0px;
    padding: 0px !important;
  }
  .contentBox {
    .content {
      padding: 10px;
      text-align: center;
      width: 100%;
      p {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 0;
      }
      i {
        font-size: 34px;
        color: #52c41a;
        &.el-icon-error {
          color: #f5222d;
        }
      }
      .loading {
        width: 34px;
        height: 34px;
        animation: rotate 2s linear infinite;
      }
    }
    .footer {
      margin-top: 10px;
      color: rgba(0, 0, 0, 0.65);
      font-size: 12px;
      div {
        margin-bottom: 6px;
      }
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
</style>
