<template>
  <div class="indicatorWorkbenchIndex-container">
    <div class="indicatorWorkbenchWrapper">
      <Tabs :value="showTabName" name="tab">
        <TabPane label="故事看板" name="storyBoard" tab="tab">
          <StoryBoard />
        </TabPane>
        <TabPane label="指标管理" name="indicatorList" tab="tab">
          <!-- 标签行 -->
          <section class="workbenchTab">
            <AddIndicatorTab
              :tabList="tabList"
              :selectedTabId="selectedTabId"
              @refreshCustomTab="refreshCustomTab"
              @toogleTab="toogleTab"
              @deleteCustomTab="deleteCustomTab"
            />
            <div class="tabRight" @click="showAdd = true" v-allow="[1097046178137089]">
              <img class="addIcon" src="@/assets/icons/indicatorWorkbench/addIcon.svg" alt="" />
              <span>新建</span>
            </div>
          </section>

          <!-- 搜索行 -->
          <section class="workbenchSearch">
            <FilterSearch :searchCondition="searchCondition" @searchTable="initIndicatorData" />
            <div class="toogleCardList">
              <img :src="selectedShowType === 'table' ? listSelected : listNoSelected" alt="" @click="toogleShowType('table')" />
              <img :src="selectedShowType === 'table' ? cardNoSelected : cardSelected" alt="" @click="toogleShowType('card')" />
            </div>
          </section>

          <!-- 展示区 -->
          <section class="workbenchView" v-if="dataList.length">
            <TableList
              v-show="selectedShowType === 'table'"
              :dataList="dataList"
              :loading="loading"
              :pageCondition="pageCondition"
              :customTabList="customTabList"
              :selectedShowType="selectedShowType"
              @changePageData="changePageData"
              @showModal="showAddModal"
              @refreshData="initIndicatorData"
              @updateData:end="changeData"
              @updateData:front="frontChangeData"
              @showModal:delete="showDeleteModalHandle"
            />
            <CardList
              v-show="selectedShowType === 'card'"
              :dataList="dataList"
              :loading="loading"
              :customTabList="customTabList"
              :pageCondition="pageCondition"
              @scrollLoad="scrollLoad"
              @showModal="showAddModal"
              @refreshData="initIndicatorData"
              @updateData:end="changeData"
              @updateData:front="frontChangeData"
              @showModal:delete="showDeleteModalHandle"
            />
          </section>
          <NoData v-else :width="1180" :height="575" :img-src="noDataImg" />
        </TabPane>
      </Tabs>
    </div>

    <!-- 新增指标弹窗 -->
    <AddIndicatorModal :showModal="showAdd" @closeModal="showAdd = false" />

    <!-- 变更所有者弹窗 -->
    <ChangeOwnerModal
      v-model="showChangeOwnerModal"
      :modal-status="changeModalStatus"
      @closeModal="closeChangeModal"
      @changeOwner:success="changeData"
    />

    <!-- 同步至弹窗 -->
    <SyncToModal :modalStatus="syncModalStatus" :customTabList="customTabList" @closeModal="closeSyncToModal" @syncSuccess="syncSuccess" />

    <!-- 权限分享弹窗 -->
    <AuthShareModal v-model="showAuthShare" :modal-status="authShareModalStatus" share-from="指标" />

    <!-- 确认删除弹框 -->
    <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList" />
  </div>
</template>

<script>
import StoryBoard from "./components/StoryBoard.vue";
import AddIndicatorTab from "./components/AddIndicatorTab";
import FilterSearch from "./components/FilterSearch";
import TableList from "./components/TableList";
import CardList from "./components/CardList";
import NoData from "@/components/NoData";
import AddIndicatorModal from "./components/AddIndicatorModal";
import ChangeOwnerModal from "@/components/ChangeOwnerModal";
import SyncToModal from "./components/SyncToModal";
import AuthShareModal from "@/components/AuthShareModal";
import DeleteAssetModal from "@/view/components/DeleteAssetModal/index.vue";
import cardSelected from "@/assets/icons/indicatorWorkbench/cardSelected.svg";
import cardNoSelected from "@/assets/icons/indicatorWorkbench/cardNoSelected.svg";
import listSelected from "@/assets/icons/indicatorWorkbench/listSelected.svg";
import listNoSelected from "@/assets/icons/indicatorWorkbench/listNoSelected.svg";
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import { getReportCompareDataAndHeaders } from "@/api/report";
import { getIndicatorTreeData } from "@/api/indicator";
import { getBusinessDate, dateChange } from "@/utils/dateFormat";
import { getIndicatorTab, deleteCustomTab, getIndicatorByTabOnPage } from "@/api/indicatorWorkbench";
import { getCompareDate } from "@/utils/chartDate";
import { formatCompareChangeRateData } from "@/view/report/indicator-browser/formatData";
import { ZERO_PRE_COMPARE_DATA_SHOW } from "@/config/ReportConstants";
import { mapState, mapMutations } from "vuex";
import { BUILT_IN_DIMENSION } from "@/config/DimensionSortDictionary";
import { TYPE_INDICATOR } from "@/view/components/DeleteAssetModal/constant";
import deleteAsset from "@/mixins/deleteAsset";
import resourcePublish from "@/mixins/resourcePublish";
import { INDICATOR_OPTION_LIST } from "@/config/indicator";

export default {
  name: "indicatorWorkbenchIndex",
  mixins: [deleteAsset, resourcePublish],
  components: {
    StoryBoard,
    AddIndicatorTab,
    FilterSearch,
    TableList,
    CardList,
    NoData,
    AddIndicatorModal,
    ChangeOwnerModal,
    SyncToModal,
    AuthShareModal,
    DeleteAssetModal
  },
  data() {
    return {
      cardSelected,
      cardNoSelected,
      listSelected,
      listNoSelected,
      noDataImg,
      showTabName: "storyBoard",
      tabList: [], // 标签列表
      selectedTabId: 0, // 选中tab的id
      // 搜索条件
      searchCondition: {
        indicatorName: "",
        indicatorStatus: -1,
        assetsGroupValue: [-1], // 选择的资产分组
        indicatorVersion: "-1",
        indicatorAttribute: "-1",
        tagValue: [] // 选择的标签
      },
      selectedShowType: "card", // 展示形式
      loading: false,
      showAdd: false, // 是否展示添加弹窗
      // 同步至弹窗
      syncModalStatus: {
        show: false,
        indicatorId: null,
        existedTabIDList: []
      },
      getAssetsGroupList: [], // 数据资产数据
      dataList: [], // 指标数据
      // 分页数据
      pageCondition: {
        pageSize: 20,
        currentPage: 1,
        total: 0
      }
    };
  },
  computed: {
    ...mapState("indicatorWorkbench", ["isReturnFromDetail"]),
    customTabList() {
      return this.tabList
        .filter(ele => ele.isCustom)
        .map(ele => {
          const checked = this.syncModalStatus.existedTabIDList.includes(ele.id);
          return {
            id: ele.id,
            name: ele.name,
            checked // 是否已同步到该tab
          };
        });
    }
  },
  async created() {
    // 从指标详情返回
    if (this.isReturnFromDetail) {
      this.showTabName = "indicatorList";
      this.setIsReturnFromDetail(false);
    }

    this.tabList = await this.getAllTab(); // 获取tab
    this.selectedTabId = this.tabList.find(ele => ele.name === "全部")?.id; // 默认选中全部

    this.getAssetsGroupList = await this.getAssetsGroup(); // 获取资产分组数据
    this.getIndicatorData(this.selectedTabId, this.searchCondition, this.pageCondition); // 获取指标数据
  },
  methods: {
    ...mapMutations("indicatorWorkbench", ["setIsReturnFromDetail"]),
    /**
     * 获取所有的标签
     */
    async getAllTab() {
      const res = await getIndicatorTab("1");
      if (res.data.state === "success") {
        let newTabList = [];
        res.data.data.forEach(ele => {
          newTabList.push({
            id: parseInt(ele.id),
            name: ele.name,
            isCustom: ele.type === 3, // 是否是自定义
            isEdit: false,
            editedName: ""
          });
        });
        return newTabList;
      }
    },
    /**
     * 获取数据资产分组
     */
    async getAssetsGroup() {
      const res = await getIndicatorTreeData();
      if (res.data.state === "success") {
        const { indicatorGroupList } = res.data.data;
        return indicatorGroupList;
      }
    },
    /**
     * 获取指标的相关数据
     * @param {String} selectedTabId 标签id
     * @param {Object} searchCondition 搜索条件
     * @param {Object} pageCondition 分页条件
     */
    async getIndicatorData(selectedTabId, searchCondition, pageCondition) {
      this.loading = true;
      const baseDataList = await this.getIndicatorBasisData(selectedTabId, searchCondition, pageCondition);
      this.dataList = this.selectedShowType === "card" ? [...this.dataList, ...baseDataList] : baseDataList; // 无需深拷贝，因为下方需要异步获取数据
      this.loading = false;

      // 异步获取指标值、同比数据、折线数据
      const curDate = getBusinessDate();
      const compareDate = getCompareDate("SC", { startDate: curDate, endDate: curDate, compareType: "mom" }, [, , , "2"]); // 月同比日期
      for (const ele of baseDataList) {
        const { indicatorValue, yoyType, yoyValue } = await this.getYoyData({ curDate, compareDate, id: ele.id, type: ele.type });
        ele.indicatorValue = indicatorValue;
        ele.yoyValue = yoyValue;
        ele.yoyType = yoyType;
        // 卡片视图获取折线数据
        if (this.selectedShowType === "card") {
          const lineData = await this.getLineChartData();
          ele.lineData = lineData;
        }
      }
    },
    /**
     * 获取指标的基础数据
     * @param {Object} tabId 标签id
     * @param {Object} searchCondition 搜索条件
     * @param {Object} pageCondition 分页条件
     */
    async getIndicatorBasisData(tabId, searchCondition, pageCondition) {
      const { indicatorName, indicatorStatus, assetsGroupValue, indicatorVersion, indicatorAttribute, tagValue } = searchCondition;
      const { pageSize, currentPage } = pageCondition;
      const params = {
        tabId,
        name: indicatorName, // 指标名称
        pageSize,
        pageNum: currentPage
      };
      if (indicatorStatus !== -1) {
        params.status = indicatorStatus; // 状态。 未发布1 上线2 下线3
      }
      if (assetsGroupValue[0] !== -1) {
        params.groupIds = assetsGroupValue; // 资产分组id
      }
      if (indicatorVersion !== "-1") {
        params.versionCode = indicatorVersion; // 版本
      }
      if (indicatorAttribute !== "-1") {
        params.attribute = indicatorAttribute; // 属性
      }
      if (tagValue.length) {
        params.labelIds = tagValue.map(ele => ele.id); // 标签id
      }

      const res = await getIndicatorByTabOnPage(params);
      if (res.data.state === "success") {
        const { records, total } = res.data.data;
        // console.log("基础", res.data.data);

        this.pageCondition.total = total;

        let dataList = [];
        records.forEach(ele => {
          const assetsGroupName = this.getAssetsGroupList.find(item => item.id === parseInt(ele.groupId))?.name;
          const existedTabIDList = ele.tabs ? ele.tabs.filter(ele => ele.type === 3).map(ele => parseInt(ele.id)) : [];
          const isCollect = ele.tabs?.some(ele => ele.id === "3") || false;
          dataList.push({
            creator: ele.creator, // 创建人昵称
            creatorId: ele.creatorId, // 创建人id
            id: parseInt(ele.id), // 指标id
            indicatorName: ele.name, // 指标名称
            type: ele.type, // 指标类型（原子、派生、复合）
            showType: ele.showType, // 指标值的类型（百分比、数值）
            assetsGroupName, // 所属资产分组名称
            moduleType: INDICATOR_OPTION_LIST.find(i => i.value === ele.type).moduleType,
            status: ele.status, // 指标状态
            controlView: ele.controlView, // 用户权限: 查看
            controlEdit: ele.controlEdit, // 用户权限: 编辑
            existedTabIDList, // 指标已存在于哪些Tab
            isCollect, // 指标是否被收藏
            indicatorValue: "",
            yoyValue: "",
            yoyType: "",
            lineData: [],
            configData: ele.configData
          });
        });
        return dataList;
      }
    },
    /**
     * 获取指标值、月同比率
     * @param {String} curDate 当前日期
     * @param {String} compareDate 月同比日期
     * @param {Number} id 指标id
     * @param {Number} type 指标类型
     */
    async getYoyData({ curDate, compareDate, id, type }) {
      const params = {
        dimensionIds: [],
        indicatorVos: [{ id, type, variables: { businessDate: curDate } }],
        date: {
          startDate: curDate,
          endDate: curDate
        },
        yoyDate: {
          [id]: compareDate
        }
      };
      const res = await getReportCompareDataAndHeaders(params);
      if (res.data.state === "success") {
        const { currentData, yoyData } = res.data.data;
        const cur = currentData[0]?.[0];
        const yoy = yoyData[id]?.[0]?.[0];
        // console.log("同比", cur, yoy);
        let yoyValue = formatCompareChangeRateData(cur, yoy, {}); // 计算同比变化率
        let yoyType = "";
        if (yoyValue === ZERO_PRE_COMPARE_DATA_SHOW || yoyValue === "0.00%") {
          yoyType = "同比持平";
        } else if (!yoyValue.includes("-")) {
          yoyType = "同比增长";
        } else if (yoyValue.includes("-")) {
          yoyType = "同比下降";
        }
        return {
          indicatorValue: cur?.toFixed(2) || ZERO_PRE_COMPARE_DATA_SHOW,
          yoyValue,
          yoyType
        };
      } else {
        return {
          indicatorValue: ZERO_PRE_COMPARE_DATA_SHOW,
          yoyValue: ZERO_PRE_COMPARE_DATA_SHOW,
          yoyType: "同比持平"
        };
      }
    },
    /**
     * 获取趋势图数据
     * @param {Array} list
     * @param {String} curDate 当前日期
     */
    async getLineChartData(list, curDate) {
      // 假数据
      const a = Math.ceil(Math.random() * 200) < 100 ? null : Math.ceil(Math.random() * 200);
      return [
        ["2015-01-01", -80],
        ["2015-01-02", 200],
        ["2015-01-03", -190],
        ["2015-01-04", 176],
        ["2015-01-05", a],
        ["2015-01-06", 190],
        ["2015-01-07", -172],
        ["2015-01-08", 182],
        ["2015-01-09", -182],
        ["2015-01-10", 200],

        ["2015-01-01", -80],
        ["2015-01-02", 200],
        ["2015-01-03", -190],
        ["2015-01-04", 176],
        ["2015-01-05", -190],
        ["2015-01-06", 190],
        ["2015-01-07", -172],
        ["2015-01-08", 182],
        ["2015-01-09", -182],
        ["2015-01-10", 200],

        ["2015-01-01", -80],
        ["2015-01-02", 200],
        ["2015-01-03", -190],
        ["2015-01-04", 176],
        ["2015-01-05", -190],
        ["2015-01-06", 190],
        ["2015-01-07", -172],
        ["2015-01-08", 182],
        ["2015-01-09", -182],
        ["2015-01-10", 200]
      ];

      const indicatorVos = list.map(ele => ({ id: ele.id, type: ele.type, variables: { businessDate: curDate } }));
      const params = {
        dimensionIds: [Number(BUILT_IN_DIMENSION.id)], // 内置的业务日期维度
        indicatorVos,
        date: {
          startDate: dateChange(-30),
          endDate: curDate
        },
        page: {
          pageNum: 1,
          pageSize: 30
        }
      };
      const res = await getReportCompareDataAndHeaders(params);
      if (res.data.state === "success") {
        console.log("趋势图", res.data.data);
        const { currentData } = res.data.data;
        return currentData;
      }
    },
    async refreshCustomTab() {
      this.tabList = await this.getAllTab(); // 刷新tab
    },
    /**
     * 切换tab，刷新页面
     * @param {String} id 选中tab的id
     */
    toogleTab(id) {
      this.selectedTabId = id;
      this.initIndicatorData();
    },
    /**
     * 刷新页面，初始化指标数据
     */
    async initIndicatorData() {
      this.pageCondition.currentPage = 1;
      this.pageCondition.pageSize = this.selectedShowType === "card" ? 20 : 15;
      this.dataList = [];
      this.getIndicatorData(this.selectedTabId, this.searchCondition, this.pageCondition);
    },
    changeData() {
      this.dataList = [];
      this.getIndicatorData(this.selectedTabId, this.searchCondition, this.pageCondition);
    },
    /**
     * 删除tab，刷新页面
     * @param {String} id 选中tab的id
     */
    async deleteCustomTab(id) {
      const res = await deleteCustomTab(id);
      if (res.data.state === "success") {
        this.$Message.success("标签删除成功");
        this.refreshCustomTab();

        // 如果删除当前所在tab，切到全部
        if (this.selectedTabId === id) {
          const id = this.tabList.find(ele => ele.name === "全部")?.id;
          this.toogleTab(id);
        }
      }
    },
    /**
     * 改变表格的分页数据
     */
    async changePageData(key, val) {
      if (this.selectedShowType === "table") {
        this.pageCondition[key] = val;
        this.getIndicatorData(this.selectedTabId, this.searchCondition, this.pageCondition);
      }
    },
    /**
     * 展示弹窗
     */
    showAddModal(data) {
      if (data.type === "变更所有者") {
        const { id, moduleType } = data;
        this.showModal({ type: "变更所有者", row: { id, moduleType } });
      } else if (data.type === "同步至") {
        const { show, indicatorId, existedTabIDList } = data;
        this.syncModalStatus = {
          show,
          indicatorId,
          existedTabIDList
        };
      } else if (data.type === "权限分享") {
        const { id, indicatorName, moduleType } = data;
        this.showModal({ type: "权限分享", row: { id, name: indicatorName, moduleType } });
      }
    },
    /**
     * 改变指标数据（收藏、取消收藏）
     * @param {Number} id 指标id
     * @param {Number} key 要改的key
     * @param {Number} value 要改成的value
     */
    frontChangeData({ id, key, value }) {
      this.dataList.forEach(ele => {
        if (ele.id === id) {
          ele[key] = value;
        }
      });

      // 收藏tab下取消收藏，需要刷新数据
      if (key === "isCollect" && this.selectedTabId === 3) {
        this.initIndicatorData();
      }
    },
    /**
     * 展示删除弹窗
     */
    showDeleteModalHandle({ id, indicatorName, resData }) {
      const deletedAsset = { id, name: indicatorName, type: TYPE_INDICATOR };
      this.unableToDelete(deletedAsset, resData);
    },
    /**
     * 关闭弹窗
     */
    closeSyncToModal() {
      this.syncModalStatus = {
        show: false,
        indicatorId: null,
        existedTabIDList: []
      };
    },
    /**
     * 同步成功
     */
    syncSuccess({ id, list }) {
      const customTabList = this.tabList.filter(ele => ele.isCustom).map(ele => ele.id);
      let i = null; // 当前指标索引
      this.dataList.forEach((ele, index) => {
        if (ele.id === id) {
          ele.existedTabIDList = list;
          // 如果指标不在当前tab（仅自定义tab）下，记录索引，然后删除
          if (customTabList.includes(this.selectedTabId) && (list.length === 0 || !list.includes(this.selectedTabId))) {
            i = index;
          }
        }
      });

      if (i !== null) {
        this.dataList.splice(i, 1);
      }
    },
    /**
     * 切换展示类型
     * @param {String} showType tab名称
     */
    toogleShowType(showType) {
      if (this.selectedShowType === showType) return;
      this.selectedShowType = showType;
      this.initIndicatorData();
    },
    /**
     * 卡片视图滚动到底加载
     */
    async scrollLoad() {
      this.pageCondition.currentPage += 1;
      this.getIndicatorData(this.selectedTabId, this.searchCondition, this.pageCondition);
    }
  }
};
</script>

<style lang="less" scoped>
/deep/.ivu-tabs {
  height: 100%;
  .ivu-tabs-bar {
    margin-bottom: 0;
    .ivu-tabs-nav-container {
      line-height: unset;
      .ivu-tabs-tab {
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        font-weight: 500;
        padding: 20px 16px;
      }
    }
  }

  .ivu-tabs-content-animated {
    height: calc(~"100% - 52px");
  }
}

.indicatorWorkbenchIndex-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f3f7ff;
  .indicatorWorkbenchWrapper {
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0 16px 14px;
    .workbenchTab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 14px;
      margin-bottom: 16px;
      .tabRight {
        width: 82px;
        height: 32px;
        background: #3f73ff;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .addIcon {
          margin-right: 8px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #ffffff;
        }
      }
    }
    .workbenchSearch {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .toogleCardList {
        img {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }
        img:first-child {
          margin-right: 8px;
        }
      }
    }
    .workbenchView {
      width: 100%;
      height: calc(~"100% - 48px - 36px - 14px");
      padding-top: 16px;
    }
    .noData-container {
      width: 100%;
      height: calc(~"100% - 48px - 36px - 31px - 14px");
      margin-top: 31px;
    }
  }
}

.addIndicatorModal {
  /deep/.ivu-modal {
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-body {
        padding: 0;
      }
    }
  }
}
</style>
