<template>
  <Form ref="loginForm" :model="form" :rules="rules">
    <div class="tips">填写信息，开启15天免费试用</div>
    <FormItem prop="username">
      <Input v-model.trim="form.username" placeholder="请输入用户名/手机" style="color: 16px">
        <span slot="prepend">
          <Icon :size="21" color="#A2A5BD" type="md-phone-portrait"></Icon>
        </span>
      </Input>
    </FormItem>
    <FormItem prop="password">
      <PasswordInput
        
        :comModel="form.password"
        placeholder="请输入登录密码"
        @change="(val) => (this.form.password = val)"
      />
    </FormItem>
    <FormItem prop="passwdCheck">
      <PasswordInput
        
        :comModel="form.passwdCheck"
        placeholder="请再次输入登录密码"
        @change="(val) => (this.form.passwdCheck = val)"
      />
    </FormItem>
    <FormItem style="margin-bottom: 30px; margin-top: 45px">
      <Button @click="handleSubmit" type="primary" long style="background: #497aff; font-size: 16px; height: 46px"> 下一步 </Button>
    </FormItem>
    <div style="text-align: center; font-size: 16px; margin-top: 20px; color: #a2a5bd">
      <span>已有账号？</span>
      <a @click="loginFun()" style="color: #4879fe">立即登录</a>
    </div>
  </Form>
</template>

<script>
import { PasswordInput } from "@/components/special-input";

export default {
  name: "LoginForm",
  components: {
    PasswordInput,
  },
  props: {
    detilesForm: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    const self = this;
    const wd = /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$)^.{6,16}$/;
    const validatePass = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("密码不能为空"));
      }else if (!wd.test(value)) {
        callback(
          new Error("密码必须是6-16位的字母、数字和标点符号组合(至少2种)")
        );
      } else {
        if (self.form.passwdCheck !== "") {
          // 对第二个密码框单独验证
          self.$refs.loginForm.validateField("passwdCheck");
        }
        callback();
      }
    };
    const validatePassCheck = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请再次输入登录密码"));
      } else if (value !== self.form.password) {
        callback(new Error("两次输入的密码不匹配"));
      } else {
        callback();
      }
    };
    return {
      form: {
        username: "",
        password: "",
        passwdCheck: "",
      },
      rules: {
        password : [{ required: true, validator: validatePass }],
        passwdCheck :  [{ validator: validatePassCheck,  }],
        username: [
          { required: true, message: "用户名不能为空", trigger: "blur" },
          { message: "仅支持3-16位长度的数字、大小写字母组合", pattern: /^[0-9A-Za-z]{3,16}$/, trigger: "blur" },
        ],
      },
    };
  },
  computed: {
 
  },
  mounted() {
    this.form.username = this.detilesForm.phone;
  },
  methods: {
    handleSubmit() {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.$emit("onSuccessAccount", {
            username: this.form.username,
            password: this.form.password,
          });
        }
      });
    },
    passwordFocus() {
      if (this.passwordError) {
        this.passwordError = "";
        this.$refs.loginForm.validate();
      }
    },

    loginFun() {
      this.$router.push({
        path: "/login",
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.tips {
  color: #497aff;
  font-size: 14px;
  margin: 12px 0px;
  padding-bottom: 15px;
}
</style>
