<template>
  <Form ref="loginForm" class="register-form" :model="form" :rules="rules">
    <div class="tips">填写信息，开启15天免费试用</div>
    <FormItem prop="nickname">
      <Input v-model.trim="form.nickname" placeholder="请输入姓名" maxlength="20"> </Input>
    </FormItem>
    <FormItem prop="companyName">
      <Input v-model.trim="form.companyName" placeholder="请输入企业名称" maxlength="40"> </Input>
    </FormItem>
    <FormItem prop="email">
      <Input v-model.trim="form.email" placeholder="请输入企业邮箱（选填）" maxlength="40"> </Input>
    </FormItem>
    <FormItem style="margin-bottom: 30px; margin-top: 45px">
      <Button @click="handleSubmit" type="primary" long style="background: #497aff; font-size: 16px; height: 46px"> 注 册 </Button>
    </FormItem>
    <div style="text-align: center; font-size: 16px; margin-top: 20px; color: #a2a5bd">
      <span>已有账号？</span>
      <a @click="loginFun()" style="color: #4879fe">立即登录</a>
    </div>
  </Form>
</template>

<script>
import { PasswordInput } from "@/components/special-input";
import { register } from "@/api/systemManagement/system";

export default {
  name: "enterpriseInformation",
  components: {
    PasswordInput,
  },
  props: {
    detilesForm: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    const emialCheck = (rule, value, callback) => {
      if (value === "") {
        callback();
      } else {
        const reg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        if (!reg.test(value)) {
          callback(new Error("请输入正确的邮箱"));
        } else {
          callback();
        }
      }
    };

    return {
      form: {
        nickname: "",
        companyName: "",
        email: "",
      },
      rules: {
        // nickname : [{ required: true, validator: nickname }],
        nickname: [{ required: true, message: "姓名不能为空" }],
        companyName: [{ required: true, message: "企业名称不能为空" }],
        email: [{ required: true, validator: emialCheck }],
      },
    };
  },
  computed: {},
  mounted() {
    this.form = { ...this.detilesForm , email : '' };
  },
  methods: {
    handleSubmit() {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          let params = {
            ...this.form,
            mobile : this.detilesForm.phone ,
            // verifyCode : this.detilesForm.authcode ,
          };
          register(params).then(res=>{
            if(res.data.state === 'success'){
              this.$emit("onSuccessEnterprise");
            }else{
              this.$message.error(res.data.message);
            }
          })
        }
      });
    },
    passwordFocus() {
      if (this.passwordError) {
        this.passwordError = "";
        this.$refs.loginForm.validate();
      }
    },

    loginFun() {
      this.$router.push({
        path: "/login",
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.tips {
  color: #497aff;
  font-size: 14px;
  margin: 12px 0px;
  padding-bottom: 15px;
}
</style>
