<template>
  <Form ref="loginForm" :model="form" :rules="rules" >


    <FormItem prop="phone" style="margin-top: 50px;margin-bottom: 42px;">
      <Input v-model.trim="form.phone" placeholder="请输入手机号" @on-focus="phoneFocus" style="color: 16px">
        <span slot="prepend">
          <Icon :size="21" color="#A2A5BD" type="md-phone-portrait"></Icon>
        </span>
      </Input>
    </FormItem>
    <FormItem prop="authcode">
      <Input v-model.trim="form.authcode" placeholder="请输入验证码" @on-focus="authcodeFocus">
        <span slot="prepend">
          <img src="@/assets/images/login/authcode.png" />
        </span>
        <span slot="append" style=" font-size: 16px;    position: relative;left: 2px;">
          <a  style="color: #4879FE;" v-show="step === 1" @click="startSetInterval()">发送验证码</a>
          <a  style="color: #4879FE;" v-show="step === 2">({{ numDown }})秒后重发</a>
          <a  style="color: #4879FE;" v-show="step === 3" @click="startSetInterval()">重新发送</a>
        </span>
      </Input>
    </FormItem>
    <Form-item prop="single">
      <Checkbox v-model="single" :class="showagreement  ? 'checkBoxVerify' : ''"  size="large" />
      <span style="font-size: 16px;color: #A1A5BF;">
        已阅读
        <a @click="() => this.$emit('agreementFun')" style="color: #4879fe">《用户注册协议》</a>
      </span>
      <span v-show="showagreement && !single " style="color: #ed4014; font-size: 12px">请阅读并勾选协议</span>
    </Form-item>
    <FormItem style="margin-bottom: 30px; margin-top: 45px">
      <Button @click="handleSubmit" type="primary"  long style="background: #497aff; font-size: 16px; height: 46px"> 下一步 </Button>
    </FormItem>
    <div style="text-align: center; font-size: 16px; margin-top: 20px ;color: #A2A5BD;">
      <span>已有账号？</span>
      <a @click="loginFun()" style="color: #4879fe">立即登录</a>
    </div>
  </Form>
</template>

<script>
import { AuthCodeInput } from "@/components/special-input";
import { sendAuthCode, registerValidation } from "@/api/systemManagement/system";

export default {
  name: "LoginForm",
  components: {
    AuthCodeInput,
  },
  data() {
    const self = this;
    const authcodeValidator = (_, value, callback) => {
      if (self.authcodeError) {
        callback(new Error(self.authcodeError));
      } else {
        callback();
      }
    };
    const phoneValidator = (_, value, callback) => {
      let reg = /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-79])|(?:5[0-35-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[189]))\d{8}$/;
      if (!reg.test(value)) {
        callback(new Error("请输入正确的手机号"));
      } else if (self.phoneError) {
        callback(new Error(self.phoneError));
      } else {
        callback();
      }
    };
    return {
      form: {
        phone: "",
        authcode: "",
      },
      step: 1,
      numDown: 0,
      timer: null,
      single : false ,
      showagreement : false ,
      phoneError: "",
      authcodeError: "",
      authcodeRules: [{ required: true, validator: authcodeValidator }],
      phoneRules: [{ required: true, validator: phoneValidator }],
    };
  },
  computed: {
    rules() {
      return {
        phone: this.phoneRules,
        authcode: this.authcodeRules,
      };
    },
    nextStep() {
      return this.form.phone && this.form.authcode && this.single;
    },
  },
  mounted() {},
  methods: {
    handleSubmit() {
      if(!this.form.authcode){
        this.authcodeError  = '验证码不能为空'
         this.$refs.loginForm.validate();
      }

      if(!this.single){ // 协议
       return  this.showagreement = true ;
      }

      this.$refs.loginForm.validate((valid) => {
        if (valid) {
            registerValidation({phoneOrEmail:this.form.phone , verifyCode : this.form.authcode  }).then(res => {
              if(res.data.state === 'success'){
                this.$emit("onSuccessPhone", {
                  phone: this.form.phone,
                  authCode: this.form.authcode,
                });
              }else{
                this.authcodeError = res.data.message ;
                this.$refs.loginForm.validate();
              }
            })
        }
      });
    },

    phoneFocus() {
      if (this.phoneError) {
        this.phoneError = "";
        this.$refs.loginForm.validate();
      }
    },
    authcodeFocus() {
      if (this.authcodeError) {
        this.authcodeError = "";
        this.$refs.loginForm.validate();
      }
    },
    submitCallback(phoneError, authcodeError) {
      this.phoneError = phoneError;
      this.authcodeError = authcodeError;
      this.$refs.loginForm.validate();
    },

    startSetInterval() {
      // validateField("phone");
      this.$refs.loginForm.validateField("phone" , (err) => {
        if(!err){
               // type  1: 注册  2: 登录
      sendAuthCode({ phoneOrEmail: this.form.phone, type: 1 })
        .then((res) => {
          if (res.data.state === "success") {
            this.form.authcode = "";
            this.step = 2;
            this.numDown = 60;
            this.timer = setInterval(() => {
              if (this.numDown > 0) {
                this.numDown--;
              } else {
                this.numDown = 0;
                this.step = 3;
                clearInterval(this.timer);
              }
            }, 1000);
          } else {
            this.phoneError = res.data.message;
            this.$refs.loginForm.validate();
          }
        })
        .catch((err) => {
          console.log(err);
        });
        }
      });

    },
    loginFun() {
      this.$router.push({
        path: "/login",
      });
    },
  },
};
</script>
