<template>
  <div :class="{'hidden':hidden}" class="pagination-container">
    <el-pagination
      :background="background"
        small
      :current-page.sync="currentPage"
      :page-size.sync="pageSize"
      :layout="layout"
      :page-sizes="pageSizes"
      :total="total"
      v-bind="$attrs"
      :pager-count="pagerCount"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
    />
  </div>
</template>

<script>


export default {
  name: 'Pagination',
  props: {
    total: {
      required: true,
      type: Number
    },
    page: {
      type: Number,
      default: 1
    },
    limit: {
      type: Number,
      default: 20
    },
    pageSizes: {
      type: Array,
      default() {
        return [10, 20, 30, 50]
      }
    },
    layout: {
      type: String,
      default: 'prev, pager, next, jumper'
    },
    background: {
      type: Boolean,
      default: true
    },
    autoScroll: {
      type: Boolean,
      default: true
    },
    hidden: {
      type: Boolean,
      default: false
    },
    pagerCount: {
      type:  Number ,
      default: 7
    }
  },
  computed: {
    currentPage: {
      get() {
        return this.page
      },
      set(val) {
        this.$emit('update:page', val)
      }
    },
    pageSize: {
      get() {
        return this.limit
      },
      set(val) {
        this.$emit('update:limit', val)
      }
    }
  },
  methods: {
    handleSizeChange(val) {
      this.currentPage = 1
      this.$emit('pagination', { page: this.currentPage, limit: val })

    },
    handleCurrentChange(val) {
      this.$emit('pagination', { page: val, limit: this.pageSize })
 
    }
  }
}
</script>

<style scoped lang='scss'>
.pagination-container {
  background: #fff;
  display: flex; justify-content: flex-end;

  /deep/ .el-pagination.is-background .el-pager li{
    background-color: #fff;
    font-weight: 400;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;

    &.active{
      color: #3F73FF ;
      border-color: #3F73FF;
    }
   }
  /deep/ .el-input__inner {
    height: 22px; font-size: 12px;
  }
   /deep/ .el-input__suffix{
    .el-input__icon{ line-height: 22px;  font-size: 15px;}
    }
   /deep/ .el-pagination__jump{
    margin-left: 10px;
   }
  
}
.pagination-container.hidden {
  display: none;
}
</style>
