<template>
  <div :class="isBusinessTypeEmpty ? 'tree-container' : 'tree-container-small'">
    <div :class="isBusinessTypeEmpty ? 'tree-title-line' : 'tree-title'">{{ title }}</div>
    <div v-if="isBusinessTypeEmpty" class="tree-container-body" :style="{ height: isBusinessTypeEmpty ? 'calc(100% - 61px)' : '100%' }">
      <Input class="tree-search" search clearable :placeholder="InputPlaceholder" @on-change="onSearch" />
      <Tree
        class="tree-data"
        :style="{ height: isBusinessTypeEmpty ? '90%' : 'auto' }"
        :multiple="treeMultiple"
        ref="dimensionTree"
        :empty-text="emptyText"
        :data="allTreeDataF"
        :render="renderContent"
        @on-select-change="onSelectTreeChange"
      />
    </div>
    <template v-if="!isBusinessTypeEmpty">
      <Input class="tree-search" search clearable :placeholder="InputPlaceholder" @on-change="onSearch" />
      <Tree
        class="tree-data"
        :multiple="treeMultiple"
        ref="dimensionTree"
        :empty-text="emptyText"
        :data="allTreeDataF"
        :render="renderContent"
        @on-select-change="onSelectTreeChange"
      />
    </template>
  </div>
</template>

<script>
  /***** 报告管理相关 *****/
  import {getAllIndicatorGroupList, getIndicatorTreeData, getBusinessModelGroupAndColumn} from "@/api/indicator";
  import {getAllDimensionGroupList} from "@/api/dimension";
  /***** 其他 *****/
  // import {queryAllBusinessModelAndGroup} from '@/api/businessModel';
  import {filterTree, deepCopy} from '@/utils/common';
  import { INDICATOR_OPTION_LIST, OUT_INDICATOR_TYPE } from "@/config/indicator";
  import { mapGetters } from 'vuex';
  import { REQUIRED_DIMENSION_CHARTS, OPTIONAL_DIMENSION_CHARTS } from "@/view/report/components/reportDataSelector/reportDataSelectorConstant";

  export default {
    name: 'FaTree',
    props: {
      title: {
        type: String,
        default: ''
      },
      businessType: {
        type: String,
        default: ''
      },
      needWidget: {
        type: Boolean,
        default: true
      },
      emptyText: {
        type: String,
        default: '暂无数据'
      },
      InputPlaceholder: {
        type: String,
        default: '请输入业务/业务组名称'
      },
      treeMultiple: {
        type: Boolean,
        default: false
      },
    },
    data() {
      return {
        allTreeData: [], // 处理后的树
        originAllTreeData: [], // allTreeData的备份（用于搜索）
        currentSelectedModelId: [], // 选中的树形节点数组
        tree: {
          treeData: [], // 接口返回的树的数据
          currentNodes: [], // 当前选中的树节点
          treeDataCopy: [] // allTreeData的备份
        },
      }
    },
    mounted() {
      if (['', 'indicatorManage'].includes(this.businessType)) {
        this.constructBusinessData()
        this.currentSelectedModelId = null
      } else {
        //指标维度关联数据
        this.tree = {
          treeData: [],
          currentNodes: [],
          treeDataCopy: []
        }
        this.correlationTree = []
        this.buildReportTree()
        this.currentSelectedModelId = []
        this.realParentGroup = []
      }
      this.$bus.$on('update-business-model-tree', this.updateTree)
    },
    beforeDestroy() {
      this.$bus.$off('update-business-model-tree', this.updateTree)
    },
    computed: {
      ...mapGetters(["currentSelectDimensions", "currentChartType"]),
      isBusinessTypeEmpty() {
        return this.businessType === ''
      },
      allTreeDataF() {
        // 当该组件用于创建报告左侧的指标树时，判断是否需要过滤外部指标
        if(this.businessType === "indicator" && this.currentChartType) {
          const requiredDim = REQUIRED_DIMENSION_CHARTS.includes(this.currentChartType) // 维度必选的图表
          const optionalDim = OPTIONAL_DIMENSION_CHARTS.includes(this.currentChartType) && this.currentSelectDimensions.length // 维度非必选的图表，但选择了维度
          if(requiredDim || optionalDim) {
            return this.filterOutIndicatorTree(deepCopy(this.allTreeData))
          } else {
            return this.allTreeData
          }
        } else {
          return this.allTreeData
        }
      }
    },
    methods: {
      /**
       * 递归过滤外部指标
       */
      filterOutIndicatorTree(list = []) {
        return list.filter(ele => {
          if(ele.type === OUT_INDICATOR_TYPE) {
            return false
          } else {
            ele.children = this.filterOutIndicatorTree(ele.children)
            return true
          }
        })
      },
      /************************************************报告树方法************************************************/
      /**
       * 请求报告管理的树
       */
      async buildReportTree() {
        let res;
        switch (this.businessType) {
          case 'dimension':
            res = await getAllDimensionGroupList()
            break;
          case 'indicator':
            res = await getAllIndicatorGroupList()
            break;
        }
        let data = res.data
        if (data.state === 'success') {
          this.tree.treeData = data.data
          this.allTreeData = this.buildReportTreeData(data.data)
          this.tree.treeDataCopy = [...this.allTreeData]
          this.originAllTreeData = deepCopy(this.allTreeData)
          this.$emit('allTreeDataRes', this.tree)
        }
      },
      /**
       * 整理数据使其适用于tree
       * @param data
       * @returns {*[]}
       */
      buildReportTreeData(data) {
        let resData = data, render = ''

        if (this.businessType === 'indicator') {
          render = (h, {root, node, data}) => {
            return h('span', {
              style: {
                display: 'flex',
                width: '100%',
                justifyContent: 'space-between'
              }
            }, [h('span', {
              style: {
                flex: 1,
                textOverflow: 'ellipsis',
                overflow: 'hidden',
                whiteSpace: 'nowrap',
              }
            }, [
              h('i', {
                class: INDICATOR_OPTION_LIST.find(ele => ele.value === data.type)?.iconClass || "",
              }),
              h('span', {
                attrs: {
                  title: `${data.title}`
                }
              }, data.title),

            ])])
          }
        }
        const root = [{
          deep:0,
          id: -1,
          title: this.businessType === 'indicator'? '指标组' :'维度组',
          expand: true,
          type: 'group',
          children: []
        }];
        let temp = [];
        resData.forEach(item => {
          let obj = {
            title: item.name,
            abbrName: item.abbrName,
            id: item.id,
            parentId: item.parentId,
            children: item.data,
            expand: true,
          }
          if (obj.children?.length) {
            obj.children.forEach(item => {
              item.title = item.name
              item.abbrName = item.abbrName
              item.render = render
              item.parentName = obj.title
              item.selected = false
            })
          }
          temp.push(obj)
        })
        let rootNode = temp.filter(item => item.parentId === -1)
        this.recursiveReportTree(rootNode, temp)
        temp.forEach(item => {
          if (!item.hasOwnProperty('children')) {
            if (this.businessType === 'indicator') {
              item.parentName = this.GLOBAL.rootIndicatorName
            }
            rootNode.push(item)
          }
        })
        root[0].children = rootNode
        return root
      },
      /**
       * 构建报告的树
       * @param parent
       * @param allData
       */
      recursiveReportTree(parent, allData, deep = 1) {
        parent.forEach(item => {
          item.deep = deep;
          let children = allData.filter(ite => {
            if (ite.parentId) {
              return ite.parentId == item.id
            }
          }).map(it => {
            if (it.parentId) {
              return it
            }
          })
          if (children) {
            item.children = [...item.children, ...children]
            this.recursiveReportTree(children, allData)
          }
        })
      },
      /************************************************业务模型 指标管理 维度管理的树方法************************************************/
      /**
       * 构建数据，包括组树结构数据，（组+业务数据）树结构数据
       */
      async constructBusinessData() {
        let res;
        if (this.businessType === '') {
          //业务模型
          res = await getBusinessModelGroupAndColumn()
        } else {
          //指标管理
          res = await getIndicatorTreeData()
        }
        let data = res.data
        if (data.state === 'success') {
          let groupData, businessData;
          //根据类型获取组与节点
          if (this.businessType === '') {
            groupData = data.data.groupList
            businessData = data.data.businessModelList
          } else {
            groupData = data.data.indicatorGroupList
            businessData = data.data.indicatorList
          }

          this.businessData = businessData
          let allData = groupData.concat(businessData)

          let allDataTree = allData.filter(item => item.parentId === -1 || item.groupId === -1).map(item => {
            let treeItem = {
              id: item.id,
              title: item.name,
              expand: item.expand,
            }
            if (item.parentId === -1) {
              treeItem.type = 'group'
              treeItem.disabled = true
            } else if (item.groupId === -1) {
              treeItem.type = 'value'
            }
            return treeItem
          })
          this.recursiveTreeData(allDataTree, allData)
          /*
            业务模型组
            指标组
           */
          let groupTree = groupData.filter(item => item.parentId === -1).map(item => {
            return {
              id: item.id,
              title: item.name,
              expand: item.expand
            }
          })
          this.recursiveTreeData(groupTree, groupData)
          let treeData = [{
            deep:0,
            id: -1,
            title: this.businessType === '' ? '业务模型组' : '/',
            expand: true,
            type: 'group',
            disabled: true,
            children: allDataTree
          }]
          this.allTreeData = treeData
          this.originAllTreeData = treeData
          let groupTreeData = [{
            id: -1,
            title: this.businessType === '' ? '业务模型组' : '/',
            expand: true,
            children: groupTree
          }]
          this.$emit('onTreeDataLoad', treeData, groupTreeData)
          for (let i = 0; i < allDataTree.length; i++) {
            if (this.selectTreeItem(allDataTree[i])) {
              allDataTree[i].expand = true
              break
            }
          }
        }
      },
      /**
       * 递归构建树
       */
      recursiveTreeData(parent, allData, deep = 1) {
        parent.forEach(item => {
          item.deep = deep
          let children = allData
            .filter(d => {
              if (d.parentId) {
                return d.parentId === item.id
              } else if (d.groupId) {
                return d.groupId === item.id
              }
            }).map((child, i) => {
              if (child.parentId) {
                return {
                  id: child.id,
                  title: child.name,
                  expand: child.expand,
                  type: 'group'
                }
              } else if (child.groupId) {
                return {
                  id: child.id,
                  title: child.name,
                  type: 'value'
                }
              }
            })
          if (children.length > 0) {
            item.children = children
            this.recursiveTreeData(children, allData, deep + 1)
          }
        })
      },
      /**
       * 树结构渲染
       */
      renderContent(h, {root, node, data}) {
        let widget = h('div', [
          h(data.type === 'group' && data.id !== -1 ? 'img' : '', {
            class: 'treeEditBtn',
            on: {
              click: (e) => {
                e.stopPropagation()
                this.$emit('onEditTreeItem', data)
              }
            },
            directives: [
              {
                name: 'allow',
                value: [1116964848141318]
              }
            ]
          }, '编辑'),
          h(data.type === 'group' ? 'Tooltip' : '', {
            props: {
              theme: 'light',
              placement: 'bottom-end'
            },
            directives: [
              {
                name: 'allow',
                value: [1116964848141317]
              }
            ]
          }, [h('img', {
            class: 'treeAddBtn',
            on: {
              mousemove: (e) => {
                e.stopPropagation()
                this.createTooltip(e, data)
              }
            }
          }, '新增')]),
          h(data.id !== -1 ? 'img' : '', {
            class: 'treeDeleteBtn',
            on: {
              click: (e) => {
                e.stopPropagation()
                this.$emit('onDeleteTreeItem', data)
              }
            }, directives: [
              {
                name: 'allow',
                value: [1116964848141316]
              }
            ]
          }, '删除')
        ])
        return h('div', {
          style: {
            width: '100%',
            display: 'flex',
            justifyContent: 'space-between'
          }
        }, [
          h('div', {
            style: {
              flex: 1,
              overflow: 'hidden',
              whiteSpace: 'nowrap',
              textOverflow: 'ellipsis'
            },
            attrs: {
              title: data.title
            },
            on: {
              click: (e) => {
                // 如果点击的是目录，那么点击目录标题时，触发该目录图标的点击事件
                if (data.type === 'group') {
                  e.target.closest('li').querySelector('.ivu-tree-arrow').click()
                }
              }
            }
          }, data.title), this.needWidget ? widget : ''
        ])
      },
      /**
       * 如果存在已打开的节点（编辑时），则打开已选节点所在分组
       * 如果不存在已打开节点，则打开第一个分组的第一个业务
       */
      selectTreeItem(treeItem) {
        if (this.currentSelectedModelId) {
          if (treeItem.type === 'value' && treeItem.id == this.currentSelectedModelId) {
            this.$set(treeItem, 'selected', true)
            this.$emit('onSelectedTreeItem', treeItem.id)
            return true
          } else if (treeItem.children && treeItem.children.length !== 0) {
            for (let i = 0; i < treeItem.children.length; i++) {
              if (this.selectTreeItem(treeItem.children[i])) {
                treeItem.children[i].expand = true
                return true
              }
            }
          }
        } else {
          if (treeItem.type === 'value') {
            this.$set(treeItem, 'selected', true)
            this.$emit('onSelectedTreeItem', treeItem.id)
            return true
          } else if (treeItem.children && treeItem.children.length !== 0) {
            for (let i = 0; i < treeItem.children.length; i++) {
              if (this.selectTreeItem(treeItem.children[i])) {
                treeItem.children[i].expand = true
                return true
              }
            }
          }
        }
      },
      /**
       * 新增tooltip
       */
      createTooltip(e, data) {
        let event = e.target.parentNode
        if (event.parentNode.lastChild.lastChild.lastChild.innerHTML === '') {
          let ul = document.createElement('ul')
          ul.style.padding = 0;
          let html = `<li value="1">新建${this.title}</li>`
          if (data.deep <= 4) html += `<li value="2">新建${this.title}组</li>`
          ul.innerHTML = html
          ul.addEventListener('click', (e) => {
            e.stopPropagation()
            switch (e.target.value) {
              case 1:
                this.$emit('onCreate', data)
                break
              case 2:
                this.$emit('onCreateGroup', data)
                break
            }
          })
          event.parentNode.lastChild.lastChild.lastChild.appendChild(ul)
        }
      },
      /************************************************通用树方法************************************************/
      /**
       * 搜索
       * @param e
       */
      onSearch(e) {
        let value = e.target.value
        if (value) {
          this.allTreeData = filterTree(this.originAllTreeData, value)
        } else {
          this.allTreeData = this.originAllTreeData
        }
      },
      /**
       * 点击树节点回调
       * @param currentNodes
       * @param currentNode
       */
      onSelectTreeChange(currentNodes, currentNode) {
        if (currentNodes.length === 0 && this.businessType === '') {
          return false
        }
        if (this.businessType === '' && currentNode.type === 'group') {
          currentNode.selected = false
          return false
        }
        if (this.businessType !== '' && currentNode.hasOwnProperty('expand')) {
          currentNode.selected = false
          return false
        }
        if (this.businessType === '' && currentNode.type === 'value') {
          this.currentSelectedModelId = currentNode.id
          this.$emit('onClickTreeItem', currentNode)
        } else {
          this.currentSelectedModelId = currentNodes
          this.tree.currentNodes = currentNodes
          this.$emit('onClickTreeItem', currentNodes, currentNode)
        }
      },
      /**
       * 更新树
       */
      updateTree(selectedModelId, isGroup, remove) {
        if (this.businessType === '') {
          this.currentSelectedModelId = selectedModelId
          this.constructBusinessData()
        } else {
          if (!selectedModelId || !selectedModelId.length || remove) {
            this.tree.currentNodes.forEach(item => this.$set(item, 'selected', false))
            this.tree.currentNodes = []
            this.allTreeData = this.tree.treeDataCopy
            return;
          }
          if (isGroup) {
            this.allTreeData = selectedModelId
          } else {
            let treeData = this.tree.treeData;
            let currentNodes = this.tree.currentNodes;
            let num = 0;
            let isObj = selectedModelId && (selectedModelId[0] instanceof Object)
            isObj ? selectedModelId = selectedModelId.map(item => item.id) : ''
            currentNodes.forEach(item => this.$set(item, 'selected', false))
            let selectedNodes = [], shouldBreak = false;
            for (let i = 0; i < treeData.length; i++) {
              let children = treeData[i][this.businessType + 's']
              if (children) {
                for (let j = 0; j < children.length; j++) {
                  if (num === selectedModelId.length) {
                    shouldBreak = true
                    break;
                  }
                  let child = children[j]
                  if (this.checkIncludes(selectedModelId, child.id)) {
                    this.$set(child, 'selected', true)
                    selectedNodes.push(child)
                    num++
                  }
                }
              } else {
                if (this.checkIncludes(selectedModelId, treeData[i].id)) {
                  this.$set(treeData[i], 'selected', true)
                  selectedNodes.push(treeData[i])
                  num++
                }
              }
              if (shouldBreak) {
                break;
              }
            }
            this.tree.currentNodes = selectedNodes
          }
        }
      },
      /**
       * 查询当前分组下是否有相同名称的模块
       * @param groupId
       * @param name
       * @returns {boolean}
       */
      checkNameExist(groupId, name, id) {
        if (id) { // 表示更新
          let model = this.businessData.find(item => item.groupId == groupId && item.name === name)
          return model !== undefined && model.id != id
        } else { // 新增
          return this.businessData.find(item => item.groupId == groupId && item.name === name) !== undefined
        }
      },
      /**
       * 传来id为number类型的判断
       * @param arr
       * @param target
       * @returns {boolean}
       */
      checkIncludes(arr, target) {
        for (let i = 0; i < arr.length; i++) {
          if (arr[i] == target) {
            return true
          }
        }
        return false
      },
    }
  }
</script>

<style lang="less" scoped>
  @import "~@/styles/tree.less";
</style>

<style scoped lang="less">
  /deep/ .ivu-tree-arrow-disabled {
    cursor: pointer;
  }

  .tree-container-small {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 12px 12px 12px;
  }

  .tree-container {
    width: 20%;
    height: 100%;

    //padding: 12px;
    background: #fff;
    display: flex;
    flex-direction: column;
  }

  .tree-container,
  .tree-container-small {

    .tree-title {
      line-height: 32px;
      font-size: 16px;
      font-weight: bold;
      color: #333;

    }

    .tree-title-line {
      line-height: 32px;
      font-size: 16px;
      font-weight: bold;
      color: #333;
      padding: 14px;
      border-bottom: 1px solid #F1F5FA;
    }

    .tree-container-body{
      padding: 0 14px;
      //height: 100%;
    }
    .tree-search {
      margin: 16px 0 8px;
    }
    /deep/ .ivu-tree > ul > li:first-child > .ivu-tree-arrow-open:first-child .ivu-icon-ios-arrow-forward:first-child:before {
      content: url('~@/assets/images/system/treeRoot.svg');
    }

    /deep/ .catalogueTreeNode {
      content: url('~@/assets/images/system/catalogueTreeNode.png');
      width: 18px;
      margin-right: 3px;
    }

    .tree-data.ivu-tree {
      flex: 1;
      overflow-y: auto;

      /deep/ .ivu-icon {
        transform: none;
      }

      /deep/ .ivu-tree-title {
        .treeEditBtn, .treeAddBtn, .treeDeleteBtn {
          vertical-align: middle;
          display: none;
        }

        .treeEditBtn {
          content: url("~@/assets/icons/dimensionIcon/treeEdit.svg");
          margin-right: 6px;
        }

        .treeAddBtn {
          content: url("~@/assets/icons/dimensionIcon/treeAdd.svg");
          margin-right: 6px;
        }

        .treeDeleteBtn {
          content: url("~@/assets/icons/dimensionIcon/treeDelete.svg");
        }

        &:hover {
          .treeEditBtn, .treeAddBtn, .treeDeleteBtn {
            display: inline-block;
          }
        }

        &.ivu-tree-title-selected {
          color: #3F73FF;

          .treeDeleteBtn {
            content: url("~@/assets/icons/dimensionIcon/treeDeleteBlue.svg");
            display: inline-block;
          }
        }

      }
    }
  }
</style>
