<template>
  <div>
    <Collapse simple>
      <div></div>
      <Panel v-for="item in currentSelectIndicators" :key="item.id">
        <!-- <span class="title">第 {{ arabiaToSimplifiedChinese(i + 1) }} 指标</span> -->
        <span class="title">{{ item.title }}</span>
        <div slot="content">
          <!-----------------------------------指标名称---------------------------------->
          <div class="tableList">
            <span>指标名称</span>
            <Input
              style="width: 60%"
              clearable
              placeholder="输入指标名"
              :value="getIndicatorAlias(item)"
              :ref="'indicatorNameInput' + item.id"
              @on-clear="onIndicatorNameClear(item)"
              @on-enter="onIndicatorNameEdit($event, item)"
              @on-keyup.delete.stop
            />
          </div>
          <!-----------------------------------数值单位---------------------------------->
          <div class="newDatasetList" v-if="isNumTypeIndicator(item)">
            <span
              class="newDatasetList_title"
              style="height: 28px; line-height: 28px"
              >数值单位</span
            >
            <div class="newDatasetList_component">
              <div class="newDatasetList_component_flex">
                <Select
                  placeholder="请选择(非必选)"
                  transfer
                  style="width: 100%"
                  :value="
                    checkFormatChanged(item)[item.id]
                      ? checkFormatChanged(item)[item.id]
                      : 'auto'
                  "
                  @on-change="handleNumUnitChange($event, item)"
                >
                  <Option value="auto">原始值</Option>
                  <Option value=" 万">万</Option>
                  <Option value=" 亿">亿</Option>
                </Select>
              </div>
              <div
                class="newDatasetList_component_flex"
                v-show="checkFormatChanged(item)[item.id]"
                style="margin: 10px 0"
              >
                <Checkbox
                  :value="showFormatType(item.id)"
                  @on-change="handleShowFormatType($event, item)"
                  >显示单位
                </Checkbox>
              </div>
            </div>
          </div>
          <!-----------------------------------数值设置---------------------------------->
          <div class="newDatasetList">
            <span
              class="newDatasetList_title"
              style="height: 28px; line-height: 28px"
              >数值设置</span
            >
            <div class="newDatasetList_component">
              <div
                class="newDatasetList_component_flex"
                style="position: relative"
              >
                <div class="inputNumberTitle">小数位数</div>
                <InputNumber
                  class="decimalPlacesClass"
                  :min="0"
                  ref="inputNumberTable"
                  :max="6"
                  :editable="false"
                  :value="
                    isNaN(getDigNumber(item.id)) ? 2 : getDigNumber(item.id)
                  "
                  style="width: 100%"
                  @on-change="handleChangeDecimalDigits($event, item)"
                ></InputNumber>
              </div>
              <div class="newDatasetList_component_flex" style="margin: 10px 0">
                <Checkbox
                  v-model="checkTypeChanged(item)[item.id]"
                  :key="item.id"
                  @on-change="handleNumFormatChange($event, item)"
                  >千分位分隔符
                </Checkbox>
              </div>
            </div>
          </div>
          <!-----------------------------------指标阈值设置--------------------------------->
          <div class="thresholdWrap">
            <span>
              <span>阈值设置</span>
              <img
                class="iconEdit"
                src="@/assets/images/report/icon_edit.svg"
                @click="handleIndicatorThreshold(item)"
              />
            </span>
          </div>
          <!------------------------------------------快速计算/【维度+指标】------------------------------>
          <div v-if="hasDimensions && hasIndicators && item.type !== 3">
            <div class="newDatasetList" style="margin-bottom: 12px">
              <span>快速计算</span>
              <Checkbox
                v-model="item.showFastCalculateBox"
                @on-change="handleDIFastCalculateChange($event, item)"
              ></Checkbox>
            </div>
            <div v-if="item.showFastCalculateBox">
              <div
                style="display: flex; align-items: center"
                class="newDatasetList"
              >
                <Checkbox
                  v-model="item.useCompare"
                  :key="item.id"
                  class="newDatasetList_title"
                  @on-change="handleDICompareChange($event, item)"
                  >&nbsp;环比</Checkbox
                >
                <div class="newDatasetList_component">
                  <Select
                    :value="
                      isNumTypeIndicator(item)
                        ? currentSelectConfigData.hasOwnProperty(
                            'changeShowType'
                          )
                          ? currentSelectConfigData.changeShowType[item.id]
                            ? currentSelectConfigData.changeShowType[item.id][
                                'compare'
                              ]
                            : NUM_LABEL
                          : NUM_LABEL
                        : PERCENT_LABEL
                    "
                    :disabled="!item.useCompare"
                    @on-select="
                      handleDICompareShowTypeChange(
                        $event.value,
                        item,
                        'compare'
                      )
                    "
                  >
                    <Option value="123">123</Option>
                    <Option value="%">%</Option>
                  </Select>
                </div>
              </div>
              <div v-if="item.useCompare" class="calculationStyle_option_input">
                <span class="calculationStyle_option_title">显示</span>
                <Input
                  :value="
                    currentSelectConfigData.calculateTitleOption[item.id] &&
                    currentSelectConfigData.calculateTitleOption[item.id][
                      'compare'
                    ] &&
                    currentSelectConfigData.calculateTitleOption[item.id][
                      'compare'
                    ]['title']
                  "
                  @on-enter="
                    handleChangeCalculateTitle($event, item.id, 'compare')
                  "
                  @on-blur="handleBlurIpt($event, item.id, 'compare')"
                />
              </div>
              <div
                class="newDatasetList"
                style="display: flex; align-items: center"
              >
                <Checkbox
                  :key="item.id"
                  @on-change="handleDISameCompareChange($event, item.id)"
                  :value="sameCompareValue(item.id)"
                  class="newDatasetList_title"
                  >&nbsp;同比
                </Checkbox>
                <div class="newDatasetList_component">
                  <div
                    class="tableList_children"
                    style="width: 100%; display: flex; align-items: center"
                  >
                    <div class="percentBtn">
                      <span
                        v-if="sameCompareValue(item.id)"
                        @click="
                          handleDISameCompareShowTypeChange(
                            $event,
                            item,
                            'sameCompare'
                          )
                        "
                      >
                        {{
                          isNumTypeIndicator(item)
                            ? currentSelectConfigData.hasOwnProperty(
                                "changeShowType"
                              )
                              ? currentSelectConfigData.changeShowType[item.id]
                                ? currentSelectConfigData.changeShowType[
                                    item.id
                                  ].sameCompare
                                : NUM_LABEL
                              : NUM_LABEL
                            : PERCENT_LABEL
                        }}</span
                      >
                      <span v-else>
                        {{
                          isNumTypeIndicator(item)
                            ? currentSelectConfigData.hasOwnProperty(
                                "changeShowType"
                              )
                              ? currentSelectConfigData.changeShowType[item.id]
                                ? currentSelectConfigData.changeShowType[
                                    item.id
                                  ].sameCompare
                                : NUM_LABEL
                              : NUM_LABEL
                            : PERCENT_LABEL
                        }}
                      </span>
                    </div>
                    <Select
                      class="percentSel"
                      :disabled="!sameCompareValue(item.id)"
                      :value="
                        (currentSelectChartSameCompare &&
                          currentSelectChartSameCompare[item.id] &&
                          currentSelectChartSameCompare[item.id][
                            'sameCompareType'
                          ]) ||
                        'months'
                      "
                      @on-change="
                        handleDISameCompareTypeChange($event, item.id)
                      "
                    >
                      <Option value="months">月同比</Option>
                      <Option value="years">年同比</Option>
                    </Select>
                  </div>
                </div>
              </div>
              <div
                v-if="sameCompareValue(item.id)"
                class="calculationStyle_option_input"
              >
                <span class="calculationStyle_option_title">显示</span>
                <Input
                  style="height: 28px"
                  :value="
                    currentSelectConfigData.calculateTitleOption[item.id] &&
                    currentSelectConfigData.calculateTitleOption[item.id][
                      'sameCompare'
                    ] &&
                    currentSelectConfigData.calculateTitleOption[item.id][
                      'sameCompare'
                    ]['title']
                  "
                  @on-enter="
                    handleChangeCalculateTitle($event, item.id, 'sameCompare')
                  "
                  @on-blur="handleBlurIpt($event, item.id, 'sameCompare')"
                />
              </div>
              <div
                class="newDatasetList_component_flex"
                v-if="hasDimensions"
                style="margin: 10px 0"
              >
                <Checkbox v-model="item.useProportion">&nbsp;占比</Checkbox>
              </div>
            </div>
          </div>
        </div>
      </Panel>
      <!-----------------------------------指标TOP---------------------------------->
      <!--      <Panel v-if="hasDimensions  && hasIndicators ">-->
      <!--        <span>指标TOP</span>-->
      <!--        <div slot="content">-->
      <!--          <div class="tableList">-->
      <!--            <span>指标</span>-->
      <!--            <Select aria-placeholder="请选择(非必选)" style="width: 60%" :value="getFirstInd" clearable :multiple="false"-->
      <!--                    @on-change="handleChangeFirstInd">-->
      <!--              <Option v-for="item in currentSelectIndicators" :value="item.id" :key="item.id">{{ item.title }}</Option>-->
      <!--            </Select>-->
      <!--          </div>-->
      <!--          <div class="tableList">-->
      <!--            <span>TOP值</span>-->
      <!--            <div style="width: 60%; display: flex">-->
      <!--              <InputNumber v-model="currentSelectConfigData.openTop.topNum" :min="1" @on-change="onInputTopValueChange"/>-->
      <!--              <Tooltip content="设置显示指标值排名前N的成员" theme="light" placement="bottom-end">-->
      <!--                <Icon style="padding-left: 5px;" type="ios-help-circle-outline" size="16"/>-->
      <!--              </Tooltip>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </Panel>-->
      <!-----------------------------------快速计算/纯指标、并且没有派生指标---------------------------------->
      <Panel v-if="isPureIndicators && !hasDerivativeIndicator">
        <span>快速计算</span>
        <div slot="content">
          <div class="tableList">
            <Checkbox
              @on-change="handlePureIndCompareChange($event)"
              :value="hasIndicators && currentSelectIndicators[0].useCompare"
              >&nbsp;环比
            </Checkbox>
            <div class="tableList_children">
              <Select
                :disabled="
                  hasIndicators && !currentSelectIndicators[0].useCompare
                "
                :value="
                  (currentSelectConfigData.hasOwnProperty(
                    'changeShowTypeInd'
                  ) &&
                    currentSelectConfigData.changeShowTypeInd.justInd[
                      'compare'
                    ]) ||
                  buttonText.num
                "
                @on-change="handlePureIndCompareShowTypeChange($event)"
              >
                <Option value="123">123</Option>
                <Option value="%">%</Option>
              </Select>
            </div>
          </div>
          <div
            v-if="hasIndicators && currentSelectIndicators[0].useCompare"
            class="calculationStyle_option_input"
          >
            <span class="calculationStyle_option_title">显示</span>
            <Input
              :value="
                (currentSelectConfigData &&
                  currentSelectConfigData['calculateTitleOption'] &&
                  currentSelectConfigData['calculateTitleOption']['compare'] &&
                  currentSelectConfigData['calculateTitleOption']['compare'][
                    'title'
                  ]) ||
                '环比'
              "
              @on-enter="handleChangeCalculateTitleInd($event, 'compare')"
              @on-blur="handleBlurIpt($event, null, 'compare', true)"
            />
          </div>
        </div>
        <div slot="content">
          <div class="tableList">
            <Checkbox
              @on-change="handlePureIndSameCompareChange($event)"
              :value="
                currentSelectChartSameCompare &&
                currentSelectChartSameCompare.open
              "
              >&nbsp;同比</Checkbox
            >
            <div class="tableList_children">
              <div
                class="percentBtn"
                @click="
                  handlePureIndSameCompareShowTypeChange($event, 'sameCompare')
                "
                :class="
                  currentSelectChartSameCompare &&
                  !currentSelectChartSameCompare.open
                    ? 'cantClick'
                    : ''
                "
              >
                {{
                  (currentSelectConfigData.hasOwnProperty(
                    "changeShowTypeInd"
                  ) &&
                    currentSelectConfigData.changeShowTypeInd.justInd[
                      "sameCompare"
                    ]) ||
                  buttonText.num
                }}
              </div>
              <Select
                class="percentSel"
                :disabled="
                  currentSelectChartSameCompare &&
                  !currentSelectChartSameCompare.open
                "
                :value="
                  (currentSelectChartSameCompare &&
                    currentSelectChartSameCompare['sameCompareType']) ||
                  'months'
                "
                @on-change="handlePureIndSameCompareTypeChange($event)"
              >
                <Option value="months">月同比</Option>
                <Option value="years">年同比</Option>
              </Select>
            </div>
          </div>
          <div
            v-if="
              currentSelectChartSameCompare &&
              currentSelectChartSameCompare.open
            "
            class="calculationStyle_option_input"
          >
            <span class="calculationStyle_option_title">显示</span>
            <Input
              style="height: 28px"
              :value="
                currentSelectConfigData &&
                currentSelectConfigData['calculateTitleOption'] &&
                currentSelectConfigData['calculateTitleOption'][
                  'sameCompare'
                ] &&
                currentSelectConfigData['calculateTitleOption']['sameCompare'][
                  'title'
                ]
              "
              @on-enter="handleChangeCalculateTitleInd($event, 'sameCompare')"
              @on-blur="handleBlurIpt($event, null, 'sameCompare', true)"
            />
          </div>
        </div>
      </Panel>
      <!-----------------------------------阈值设置/纯指标---------------------------------->
      <!-- <div v-show="isPureIndicators" class="disPanelBox">
        <span>
          <span>阈值设置</span>
          <Checkbox
            style="float: right"
            :value="currentSelectConfigData.isOpenThreshold"
            @on-change="handleShowThreshold($event)"
          ></Checkbox>
        </span>
      </div> -->
      <!-----------------------------------合计设置---------------------------------->
      <div v-show="hasDimensions" class="disPanelBox">
        <span>
          <span>合计设置</span>
          <Checkbox
            style="float: right"
            :value="currentSelectConfigData.isOpenTotal"
            @on-change="handleChangeOpenTotal"
          ></Checkbox>
        </span>
      </div>
      <ThresholdModal
        :show-threshold="showThreshold"
        @closeModal="showThreshold = false"
        :indicator-threshold-data="IndicatorThresholdData"
      />
    </Collapse>
  </div>
</template>


<script>
import { arabiaToSimplifiedChinese } from "@/utils/arabiaToSimplifiedChinese";
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";
import ThresholdModal from "../common/ThresholdModal";
import { deepCopy } from "@/utils/common";
import { v4 as uuidv4 } from "uuid";

const FIRST_ID = uuidv4();
const NUM_LABEL = "123";
const PERCENT_LABEL = "%";
const INDICATOR_PERCENT_TYPE = 1;
const INDICATOR_NUM_TYPE = 0;

export default {
  name: "CustomTableDataConfig",
  mixins: [mixin],
  components: {
    ThresholdModal,
  },
  props: {
    chartData: {
      type: Object,
      default: () => {
        return {};
      },
    },
    chartId: {
      type: String,
      default: null,
    },
    dataConfigs: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data() {
    return {
      isSameInd: true,
      useCompareInd: false,
      useProportionInd: false,
      useTotal: false,
      showThreshold: false,
      openTop: {
        indicatorId: null,
        topNum: null,
      },
      buttonText: Object.freeze({
        num: "123",
        pre: "%",
      }),
      btnFlag: false, // 纯指标下同比数据显示类型点击切换标记
      showProportion: false,
      NUM_LABEL: Object.freeze(NUM_LABEL),
      PERCENT_LABEL: Object.freeze(PERCENT_LABEL),
      IndicatorThresholdData: {
        ruleList: [],
      }, //指标阈值数据
    };
  },
  computed: {
    currentSelectChartData() {
      return (this.currentSelectChart && this.currentSelectChart.data) || {};
    },
    currentSelectChartSameCompare() {
      return this.currentSelectConfigData["useSameCompare"] || {};
    },
    sameInd() {
      const dimensionArr = this.currentSelectDimensions;
      if (dimensionArr.length === 0) {
        let temp = [];
        const indicatorArr = this.currentSelectIndicators;
        for (let i = 0; i < indicatorArr.length; i++) {
          temp.push(indicatorArr[i].showType);
        }
        return this.isAllEqual(temp);
      } else {
        return true;
      }
    },
    checkTypeChanged() {
      const configData = this.currentSelectConfigData;
      return function (item) {
        let kk =
          item.showType === 1
            ? this.hasDimensions
              ? configData.changeType_pre
              : configData.changeTypeInd_pre
            : this.hasDimensions
            ? configData.changeType
            : configData.changeTypeInd;
        // let res = kk !== undefined ? kk : false
        let res = kk !== undefined ? kk : { [item.id]: false };
        return res;
      };
    },
    showFormatType() {
      const configData = this.currentSelectConfigData;
      return function (id) {
        return (
          configData &&
          configData.showFormatType &&
          configData.showFormatType[id]
        );
      };
    },
    checkFormatChanged() {
      const dimensionArr = this.currentSelectDimensions;
      const configData = this.currentSelectConfigData;
      return function (item) {
        let kk =
          item.showType === 1
            ? dimensionArr.length !== 0
              ? configData.changeFormat_pre
              : configData.changeFormatInd_pre
            : dimensionArr.length !== 0
            ? configData.changeFormat
            : configData.changeFormatInd;
        let res = kk !== undefined ? kk : false;
        return res;
      };
    },
    checkProportion() {
      const indicatorArr = this.currentSelectIndicators;
      const temp = indicatorArr.map((item) => item.useProportion);
      return this.isAllEqual(temp);
    },
    cantClick() {
      return function (item) {
        return item.showType === 1 || item.useCompare === false
          ? "cantClick"
          : null;
      };
    },
    getFirstInd() {
      const configData = this.currentSelectConfigData;
      let openTopIndicatorId = configData.openTop.indicatorId;
      if (!openTopIndicatorId) {
        openTopIndicatorId = configData.openTop.indicatorId = null;
      }
      return openTopIndicatorId;
    },
    getDigNumber() {
      const configData = this.currentSelectConfigData;
      return function (id) {
        return (
          configData &&
          configData.changeDecimalDigits &&
          configData.changeDecimalDigits[id]
        );
      };
    },
    getIndicatorAlias() {
      const configData = this.currentSelectConfigData;
      const indicator = this.currentSelectIndicators;
      return function (item) {
        let alias =
          configData &&
          configData.indicatorAlias &&
          configData.indicatorAlias[item.id];
        if (alias === null || alias === undefined || alias === "") {
          let matchItem = indicator.find((indItem) => indItem.id === item.id);
          alias = matchItem.title;
        }
        return alias;
      };
    },
    hasDimensions() {
      return this.currentSelectDimensions.length > 0;
    },
    hasIndicators() {
      return this.currentSelectIndicators.length > 0;
    },
    // 是否存在派生指标
    hasDerivativeIndicator() {
      return !!this.currentSelectIndicators.find((item) => item.type === 3);
    },
    isPureIndicators() {
      // 纯指标场景
      return !this.hasDimensions && this.hasIndicators;
    },
  },
  watch: {
    currentSelectIndicators(val, oldVal) {
      console.log(val, oldVal, "val");
      // 找到被删除的指标，恢复该指标的设置--指标名称、数值单位、显示单位、数值设置、千分位分隔符
      if (val.length < oldVal.length) {
        let deletedIndicator;
        for (let oldItem of oldVal) {
          // 旧指标列表中不存在的指标，就是被删除的指标
          const indicator = val.find((item) => item.id === oldItem.id);
          if (!indicator) {
            deletedIndicator = oldItem;
            break;
          }
        }
        let type = this.hasDimensions ? "dis" : "ind";
        const numType = deletedIndicator.hasOwnProperty("showType")
          ? deletedIndicator.showType
          : deletedIndicator.type;
        this.onIndicatorNameEdit(
          { target: { value: deletedIndicator.title } },
          deletedIndicator
        );
        this.handleChooseUnitOneByOne("auto", deletedIndicator, type, numType);
        this.handleShowFormatType(false, deletedIndicator);
        this.handleChangeDecimalDigits(2, deletedIndicator);
        this.handleNumFormatChange(false, deletedIndicator);
      }
    },
  },
  methods: {
    arabiaToSimplifiedChinese,

    /**************************纯指标场景下快速计算数据设置处理**********************************/
    /**
     * 纯指标场景下快速计算环比设置开关
     * 打开：1、设置所有已选指标的useCompare属性为true，控制显示环比列
     *      2、设置表格样式设置中的快速计算环比显示默认值为“环比”
     * 关闭：1、设置所有已选指标的useCompare属性为false，隐藏环比列
     *      2、移除表格样式设置中的快速计算环比设置对象属性
     *  备注：因为存在纯指标场景与【维度+指标】场景切换，需要同时构建【维度+指标】场景下环比打开/关闭时的数据结构，
     *  将纯指标场景下环比的配置同步至【维度+指标】场景显示的快速计算中
     *
     *  保存数据结构：指标对象上useCompare属性为true/false
     * **/
    handlePureIndCompareChange(e) {
      this.currentSelectIndicators.forEach((item) =>
        this.$set(item, "useCompare", e)
      );
      if (e) {
        // 纯指标场景默认显示配置
        this.handlePureIndCompareOpen();
      } else {
        this.handlePureIndCompareClose();
      }
      // 【维度+指标】场景下同步配置
      this.syncCompareConfigToDI(e);
    },
    handlePureIndCompareOpen() {
      let defaultCompareStyleValue = {
        title: "环比",
      };
      this.$set(
        this.currentSelectConfigData.calculateTitleOption,
        "compare",
        defaultCompareStyleValue
      );
      this.recordSnapshot();
    },
    handlePureIndCompareClose() {
      delete this.currentSelectConfigData.calculateTitleOption.compare;
      this.recordSnapshot();
    },
    syncCompareConfigToDI(status) {
      this.currentSelectIndicators.forEach((item) => {
        item.showFastCalculateBox = status;
        this.handleDICompareChange(status, item);
      });
      this.recordSnapshot();
    },
    /**
     * 纯指标场景下环比数据显示类型设置
     * 保存数据结构：
     * configData: {
     *   changeShowTypeInd: {
     *     justInd: {
     *       compare: '123'或者'%'
     *     }
     *   }
     * }
     * **/
    handlePureIndCompareShowTypeChange(data) {
      const configData = this.currentSelectConfigData;
      if (!configData.hasOwnProperty("changeShowTypeInd")) {
        this.$set(configData, "changeShowTypeInd", {});
      }
      if (!configData.changeShowTypeInd.hasOwnProperty("justInd")) {
        this.$set(configData.changeShowTypeInd, "justInd", {});
      }
      this.$set(configData.changeShowTypeInd["justInd"], "compare", data);
      // 【维度+指标】场景下同步配置
      this.syncCompareShowTypeConfigToDI(data);
    },
    syncCompareShowTypeConfigToDI(data) {
      this.currentSelectIndicators.forEach((item) => {
        this.handleDICompareShowTypeChange(data, item, "compare");
      });
      this.recordSnapshot();
    },
    /**
     * 纯指标场景下同比设置开关
     * 保存数据结构：
     * configData: {
     *   useSameCompare: {
     *     open: true
     *   }
     * }
     * **/
    handlePureIndSameCompareChange(data) {
      const configData = this.currentSelectConfigData;
      if (!configData.hasOwnProperty("useSameCompare")) {
        this.$set(configData, "useSameCompare", {});
      }
      this.$set(this.currentSelectConfigData["useSameCompare"], "open", data);
      if (data) {
        let defaultCompareStyleValue = {
          title: "同比",
        };
        this.$set(
          this.currentSelectConfigData.calculateTitleOption,
          "sameCompare",
          defaultCompareStyleValue
        );
      } else {
        delete this.currentSelectConfigData.calculateTitleOption.sameCompare;
      }
      // 【维度+指标】场景下同步同比勾选配置
      this.syncSameCompareConfigToDI(data);
    },
    syncSameCompareConfigToDI(status) {
      this.currentSelectIndicators.forEach((item) => {
        item.showFastCalculateBox = status;
        this.handleDISameCompareChange(status, item.id);
      });
      this.recordSnapshot();
    },
    /**
     * 纯指标场景下同比数据显示类型切换
     * configData: {
     *   changeShowTypeInd: {
     *     justInd: {
     *       compare: '%',
     *       sameCompare: '123'
     *     }
     *   }
     * }
     * **/
    handlePureIndSameCompareShowTypeChange(e, type) {
      const configData = this.currentSelectConfigData;
      e.target.innerText = this.btnFlag ? NUM_LABEL : PERCENT_LABEL;
      if (!configData.hasOwnProperty("changeShowTypeInd")) {
        this.$set(configData, "changeShowTypeInd", {});
      }
      if (!configData.changeShowTypeInd.hasOwnProperty("justInd")) {
        this.$set(configData.changeShowTypeInd, "justInd", {});
      }
      this.$set(
        configData.changeShowTypeInd["justInd"],
        type,
        e.target.innerText
      );
      this.btnFlag = !this.btnFlag;
      // 【维度+指标】场景下同步同比勾选配置
      this.syncSameCompareShowTypeConfigToDI(type, e.target.innerText);
    },
    syncSameCompareShowTypeConfigToDI(type, innerText) {
      this.currentSelectIndicators.forEach((item) => {
        const configData = this.currentSelectConfigData;
        if (!configData.hasOwnProperty("changeShowType")) {
          this.$set(configData, "changeShowType", {});
        }
        if (!configData.changeShowType.hasOwnProperty(item.id)) {
          this.$set(configData.changeShowType, item.id, {});
        }
        this.$set(configData.changeShowType[item.id], type, innerText);
      });
      this.recordSnapshot();
    },
    /**
     * 纯指标场景下同比类型切换
     * 保存数据结构：
     * configData: {
     *   useSameCompare: {
     *     sameCompareType: 'years'/'months'
     *   }
     * }
     * **/
    handlePureIndSameCompareTypeChange(data) {
      this.createSameCompare();
      this.$set(
        this.currentSelectConfigData["useSameCompare"],
        "sameCompareType",
        data
      );
      // 【维度+指标】场景下同步同比类型配置
      this.syncSameCompareTypeConfigToDI(data);
    },
    syncSameCompareTypeConfigToDI(data) {
      this.currentSelectIndicators.forEach((item) => {
        this.handleDISameCompareTypeChange(data, item.id);
      });
      this.recordSnapshot();
    },
    /**************************纯指标场景下快速计算数据设置处理**********************************/

    /**************************【维度+指标】场景下快速计算数据设置处理**********************************/
    /**
     * 指标快速计算开关打开/关闭
     * @param status
     * @param indicator
     * 保存数据结构：指标对象上showFastCalculateBox属性为true/false
     */
    handleDIFastCalculateChange(status, indicator) {
      const indicatorId = indicator.id;
      if (status) {
        // 快速计算打开初始化指标的环比和同比配置默认值
        const defaultChangeShowTypeValue = {
          compare: "123",
          sameCompare: "123",
        };
        if (this.currentSelectConfigData.hasOwnProperty("changeShowType")) {
          let changeShowType = this.currentSelectConfigData.changeShowType;
          this.$set(changeShowType, indicatorId, defaultChangeShowTypeValue);
        } else {
          this.$set(this.currentSelectConfigData, "changeShowType", {});
          this.$set(
            this.currentSelectConfigData.changeShowType,
            indicatorId,
            defaultChangeShowTypeValue
          );
        }
        // console.log(this.currentSelectConfigData)
      } else {
        // 移除指标环比和同比默认配置
        // delete this.currentSelectConfigData.changeShowType[indicatorId]
        // 移除环比列
        this.$set(indicator, "useCompare", false);
        this.handleDICompareChange(false, indicator);
        // 移除同比列
        this.handleDISameCompareChange(false, indicatorId);
        // 清除样式配置中快速计算对应指标的calculateTitleOption属性
        const calculateTitleOption =
          this.currentSelectConfigData.calculateTitleOption;
        delete calculateTitleOption[indicatorId];
      }
      this.recordSnapshot();
    },
    /**
     * 【维度+指标】场景
     * 指标环比打开/关闭
     * @param status
     * @param indicator
     * 保存数据结构：指标对象上useCompare属性为true/false
     */
    handleDICompareChange(status, indicator) {
      const indicatorId = indicator.id;
      // 打开需要更新样式快速计算的默认值
      if (status) {
        this.handleDICompareOpen(indicatorId);
      } else {
        this.handleDICompareClose(indicatorId);
      }
      this.recordSnapshot();
    },
    handleDICompareOpen(indicatorId) {
      let styleValue =
        this.currentSelectConfigData.calculateTitleOption[indicatorId];
      // 如果存在同比样式设置，则把默认环比样式设置增加进去
      if (styleValue && Object.keys(styleValue).length) {
        // defaultCompareStyleValue = _.assign(styleValue, defaultCompareStyleValue)
        this.$set(styleValue, "compare", {
          title: "环比",
        });
      } else {
        let defaultCompareStyleValue = {
          compare: {
            title: "环比",
          },
        };
        this.$set(
          this.currentSelectConfigData.calculateTitleOption,
          indicatorId,
          defaultCompareStyleValue
        );
      }
    },
    handleDICompareClose(indicatorId) {
      delete this.currentSelectConfigData.calculateTitleOption[indicatorId]
        ?.compare;
    },

    /**
     * 指标环比数据显示类型切换
     * @param data
     * @param id
     * 保存数据结构：
     * configData: {
     *   changeShowType: {
     *     [指标id]: {
     *       compare: '123'或者'%'
     *     }
     *   }
     * }
     */
    handleDICompareShowTypeChange(value, item, type) {
      const configData = this.currentSelectConfigData;
      if (!configData.hasOwnProperty("changeShowType")) {
        this.$set(configData, "changeShowType", {});
      }
      if (!configData.changeShowType.hasOwnProperty(item.id)) {
        this.$set(configData.changeShowType, item.id, {});
      }
      this.$set(configData.changeShowType[item.id], type, value);
      this.recordSnapshot();
    },
    /****
     * 指标同比打开/关闭
     * 保存数据结构：
     * configData: {
     *   useSameCompare: {
     *     [指标id]: {
     *       open: true/false
     *     }
     *   }
     * **/
    handleDISameCompareChange(status, indicatorId) {
      // 打开需要更新样式设置中快速计算对应指标的同比默认值
      if (status) {
        let styleValue =
          this.currentSelectConfigData.calculateTitleOption[indicatorId];
        // 如果存在环比样式设置，则把默认同比样式设置增加进去
        if (styleValue && Object.keys(styleValue).length) {
          this.$set(styleValue, "sameCompare", {
            title: "同比",
          });
        } else {
          let defaultSameCompareStyleValue = {
            sameCompare: {
              title: "同比",
            },
          };
          this.$set(
            this.currentSelectConfigData.calculateTitleOption,
            indicatorId,
            defaultSameCompareStyleValue
          );
        }
      } else {
        delete this.currentSelectConfigData.calculateTitleOption[indicatorId]
          ?.sameCompare;
      }
      this.createSameCompare(indicatorId);
      this.$set(
        this.currentSelectConfigData["useSameCompare"][indicatorId],
        "open",
        status
      );
      this.recordSnapshot();
    },
    /**
     * 检测是否创建指标对应同比参数
     * @param id
     */
    createSameCompare(id) {
      const configData = this.currentSelectConfigData;
      if (!configData.hasOwnProperty("useSameCompare")) {
        this.$set(configData, "useSameCompare", {});
      }
      if (!configData["useSameCompare"].hasOwnProperty(id)) {
        this.$set(configData["useSameCompare"], id, {});
      }
    },
    /**
     *指标同比数据显示类型切换
     * 保存数据结构：
     * configData: {
     *   changeShowType: {
     *     [指标id]: {
     *       sameCompare: '123'或者'%'
     *     }
     *   }
     * **/
    handleDISameCompareShowTypeChange(e, item, type) {
      const configData = this.currentSelectConfigData;
      if (!configData.hasOwnProperty("changeShowType")) {
        this.$set(configData, "changeShowType", {});
      }
      if (!configData.changeShowType.hasOwnProperty(item.id)) {
        this.$set(configData.changeShowType, item.id, {});
      }
      const lastShowType = configData.changeShowType[item.id][type];
      e.target.innerText =
        lastShowType === NUM_LABEL ? PERCENT_LABEL : NUM_LABEL;
      this.$set(configData.changeShowType[item.id], type, e.target.innerText);
      this.recordSnapshot();
    },
    /**
     * 切换同比类型
     * @param data
     * @param id
     * 保存数据结构：
     * configData: {
     *   useSameCompare: {
     *     [指标id]: {
     *       sameCompareType: 'years'或者'months'
     *     }
     *   }
     */
    handleDISameCompareTypeChange(data, id) {
      this.createSameCompare(id);
      this.$set(
        this.currentSelectConfigData["useSameCompare"][id],
        "sameCompareType",
        data
      );
      this.recordSnapshot();
    },
    /**
     * 同比checkbox value绑定
     * @param id
     * @returns {*|boolean}
     */
    sameCompareValue(id) {
      const useSameCompare = this.currentSelectConfigData["useSameCompare"];
      return useSameCompare && useSameCompare[id] && useSameCompare[id].open;
    },
    /**************************【维度+指标】场景下快速计算数据设置处理**********************************/

    onIndicatorNameClear(indicator) {
      let alias = indicator.title || indicator.name;
      this.$refs["indicatorNameInput" + indicator.id][0].currentValue = alias;
      const configData = this.currentSelectConfigData;
      if (configData.indicatorAlias) {
        this.$set(configData.indicatorAlias, indicator.id, alias);
      } else {
        this.$set(configData, "indicatorAlias", { [indicator.id]: alias });
      }
      this.recordSnapshot();
    },
    onIndicatorNameEdit(e, indicator) {
      let alias = e.target.value;
      if (alias === null || alias.trim() === "") {
        alias = indicator.title || indicator.name;
      }
      e.target.value = alias;
      const configData = this.currentSelectConfigData;
      if (configData.indicatorAlias) {
        this.$set(configData.indicatorAlias, indicator.id, alias);
      } else {
        this.$set(configData, "indicatorAlias", { [indicator.id]: alias });
      }
      this.recordSnapshot();
    },

    handleChangeFirstInd(val) {
      // this.currentSelectConfigData.openTop.indicatorId = val
      this.$set(this.currentSelectConfigData.openTop, "indicatorId", val);
      this.recordSnapshot();
    },
    isAllEqual(array) {
      if (array.length > 0) {
        return !array.some(function (value, index) {
          return value !== array[0];
        });
      } else {
        return true;
      }
    },
    handleShowFormatType(e, ind) {
      const configData = this.currentSelectConfigData;
      !configData.hasOwnProperty("showFormatType")
        ? this.$set(configData, "showFormatType", {}) &&
          this.$set(configData.showFormatType, ind.id, e)
        : this.$set(configData.showFormatType, ind.id, e);
      this.recordSnapshot();
    },
    handleChangeDecimalDigits(e, ind) {
      let num = e;
      if (e === null) {
        num = 2;
        this.$refs["inputNumberTable"][0].setValue(2);
      }
      const configData = this.currentSelectConfigData;
      !configData.hasOwnProperty("changeDecimalDigits")
        ? this.$set(configData, "changeDecimalDigits", {}) &&
          this.$set(configData.changeDecimalDigits, ind.id, num)
        : this.$set(configData.changeDecimalDigits, ind.id, num);
      this.recordSnapshot();
    },

    handleShowProportionInd(e) {
      this.currentSelectIndicators.forEach((item) => (item.useProportion = e));
      this.recordSnapshot();
    },
    handleChangeOpenTotal(e) {
      this.currentSelectConfigData.isOpenTotal = e;
      this.recordSnapshot();
    },
    handleChooseType(e, item, type, num) {
      const configData = this.currentSelectConfigData;
      switch (type) {
        case "dis":
          if (num === 0 || num === 2) {
            !configData.hasOwnProperty("changeType")
              ? this.$set(configData, "changeType", {}) &&
                this.$set(configData.changeType, item.id, e)
              : this.$set(configData.changeType, item.id, e);
          } else {
            !configData.hasOwnProperty("changeType_pre")
              ? this.$set(configData, "changeType_pre", {}) &&
                this.$set(configData.changeType_pre, item.id, e)
              : this.$set(configData.changeType_pre, item.id, e);
          }
          break;
        case "ind":
          if (num === 0 || num === 2) {
            !configData.hasOwnProperty("changeTypeInd")
              ? this.$set(configData, "changeTypeInd", {}) &&
                this.$set(configData.changeTypeInd, item.id, e)
              : this.$set(configData.changeTypeInd, item.id, e);
          } else {
            !configData.hasOwnProperty("changeTypeInd_pre")
              ? this.$set(configData, "changeTypeInd_pre", {}) &&
                this.$set(configData.changeTypeInd_pre, item.id, e)
              : this.$set(configData.changeTypeInd_pre, item.id, e);
          }
          break;
      }
      this.recordSnapshot();
    },
    handleChooseUnitOneByOne(e, item, type, num) {
      const configData = this.currentSelectConfigData;
      switch (type) {
        case "ind":
          if (num === 0 || num === 2) {
            !configData.hasOwnProperty("changeFormatInd")
              ? this.$set(configData, "changeFormatInd", {}) &&
                this.$set(configData.changeFormatInd, item.id, e)
              : this.$set(configData.changeFormatInd, item.id, e);
          } else {
            !configData.hasOwnProperty("changeFormatInd_pre")
              ? this.$set(configData, "changeFormatInd_pre", {}) &&
                this.$set(configData.changeFormatInd_pre, item.id, e)
              : this.$set(configData.changeFormatInd_pre, item.id, e);
          }
          break;
        case "dis":
          if (num === 0 || num === 2) {
            !configData.hasOwnProperty("changeFormat")
              ? this.$set(configData, "changeFormat", {}) &&
                this.$set(configData.changeFormat, item.id, e)
              : this.$set(configData.changeFormat, item.id, e);
          } else {
            !configData.hasOwnProperty("changeFormat_pre")
              ? this.$set(configData, "changeFormat_pre", {}) &&
                this.$set(configData.changeFormat_pre, item.id, e)
              : this.$set(configData.changeFormat_pre, item.id, e);
          }
          break;
      }
      !configData.hasOwnProperty("showFormatType")
        ? this.$set(configData, "showFormatType", {}) &&
          this.$set(configData.showFormatType, item.id, true)
        : this.$set(configData.showFormatType, item.id, true);
      this.recordSnapshot();
    },
    handleIndicatorThreshold(record) {
      let FILTER_CONDITION_ITEM = {
        conditionType: null,
        variableValue: null,
        name: record.name,
        showType: record.showType,
      };
      if (!record.hasOwnProperty("indicatorThresholdData")) {
        this.IndicatorThresholdData = {
          isOpen: false,
          name: record.name,
          id: record.id,
          collapse: false,
          showType: record.showType,
          ruleList: [
            {
              id: FIRST_ID,
              level: -1,
              ruleConditionList: [[deepCopy(FILTER_CONDITION_ITEM)]],
              color: "#F46E64",
              icon: "noIcon",
            },
          ],
        };
      } else {
        this.IndicatorThresholdData = deepCopy(record.indicatorThresholdData);
      }
      this.showThreshold = true;
    },
    handleShowThreshold(e) {
      this.currentSelectIndicators.forEach((item) =>
        this.$set(item, "useThreshold", e)
      );
      const configData = this.currentSelectConfigData;
      this.$set(configData, "isOpenThreshold", e);
      this.recordSnapshot();
    },
    // handlerTotal(e) {
    //   this.useTotal = !this.useTotal;
    // },
    /****百分比类型指标***/
    isPercentTypeIndicator(indicator) {
      return indicator.showType === INDICATOR_PERCENT_TYPE;
    },
    /****数值类型指标***/
    isNumTypeIndicator(indicator) {
      return indicator.showType === INDICATOR_NUM_TYPE;
    },
    handleNumUnitChange($event, item) {
      const numType = item.hasOwnProperty("showType")
        ? item.showType
        : item.type;
      let type = this.hasDimensions ? "dis" : "ind";
      this.handleChooseUnitOneByOne($event, item, type, numType);
    },
    handleNumFormatChange($event, item) {
      const numType = item.hasOwnProperty("showType")
        ? item.showType
        : item.type;
      let type = this.hasDimensions ? "dis" : "ind";
      this.handleChooseType($event, item, type, numType);
    },
    /**
     * 改同比环比名称（Ind为纯指标）
     * @param e
     * @param id
     * @param type
     */
    handleChangeCalculateTitle(e, id, type) {
      let value = e.target.value;
      if (!value) {
        value = type === "compare" ? "环比" : "同比";
      }
      this.currentSelectConfigData.calculateTitleOption[id][type].title = value;
      this.currentSelectConfigData.calculateTitleOption[id][
        type
      ].default = false;
      this.lastConfigData = this.currentSelectChart;
      this.recordSnapshot();
    },
    handleBlurIpt(e, id, type, isInd) {
      if (this.lastConfigData) {
        let config = this.lastConfigData.data.configData;
        let val = isInd
          ? config["calculateTitleOption"][type]
          : config["calculateTitleOption"][id][type];
        if (val.title === "") {
          if (isInd) {
            this.$set(config["calculateTitleOption"][type], "default", true);
          } else {
            this.$set(
              config["calculateTitleOption"][id][type],
              "default",
              true
            );
          }
        }
        const chartId = this.lastConfigData.chartId;
        if (
          !this.currentSelectChart ||
          this.currentSelectChart.chartId !== chartId
        ) {
          let children = this.$parent.$parent.$parent.$parent.$children;
          let parent = children.find(
            (item) => item.$el.getAttribute("id") === "canvasContainer"
          );
          let targetCpm = parent.$children.find(
            (item) => item._chartId === chartId
          );
          let targetTable = targetCpm.$children[0].$children.find(
            (item) => item.chartId && item.chartId === chartId
          );
          targetTable.refreshData();
        }
        this.recordSnapshot();
      }
    },
    handleChangeCalculateTitleInd(e, type) {
      let value = e.target.value;
      if (!value) {
        value = type === "compare" ? "环比" : "同比";
      }
      this.$set(this.currentSelectConfigData.calculateTitleOption, type, {
        title: value,
        default: false,
      });
      this.lastConfigData = this.currentSelectChart;
      this.recordSnapshot();
    },
    onInputTopValueChange(value) {
      // 通知图表数据刷新
      this.$set(this.currentSelectConfigData, "topN", value);
      this.recordSnapshot();
    },
  },
};
</script>

<style scoped>
/deep/ .ivu-collapse-item {
}

.newDatasetList {
  /*background: red;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.newDatasetList_component {
  width: 60%;
  /*margin: 5px 0;*/
}

.newDatasetList_component_flex {
  display: flex;
  justify-content: space-between;
  /*margin: 5px 0;*/
}

.newDatasetList_component_flex .inputNumberTitle {
  position: absolute;
  z-index: 1;
  left: 8px;
  color: rgba(0, 0, 0, 0.25);
  line-height: 30px;
}

.decimalPlacesClass.ivu-input-number /deep/ .ivu-input-number-handler-wrap {
  opacity: 1;
}

.decimalPlacesClass.ivu-input-number
  /deep/
  .ivu-input-number-input-wrap
  .ivu-input-number-input {
  padding-left: 64px;
}

.panelHeader {
  width: 90%;
  /*background: red;*/
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disPanelBox {
  padding: 10px 10px 10px 10px;
  color: black;
}
.thresholdWrap {
  padding: 0 0 10px;
}

.tableList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  /*background: red;*/
}

.tableList_children {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.percentBtn {
  width: 30px;
  height: 28px;
  background: #f8f8f8;
  border: 1px solid #dcdee2;
  border-right: none;
  border-radius: 4px 0 0 4px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}

/deep/ .percentSel .ivu-select-selection {
  border-radius: 0 4px 4px 0;
}

.compareSpan span {
  background: #dfdfdf;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  height: 20px;
  width: 20px;
}

.cantClick {
  pointer-events: none;
}

.compareSpan span:last-child {
  float: right;
}

/deep/ .ivu-collapse {
  border: none;
}

/deep/ .ivu-collapse > .ivu-collapse-item {
  border: none;
}

/deep/ .ivu-collapse-content > .ivu-collapse-content-box {
  padding-bottom: 0;
}

/deep/ .dataScreenModal {
  height: 521px;
  overflow-y: auto;
  /*background: red;*/
  width: 100%;

  /*padding: 24px;*/
}

/deep/ .dataScreenConstants_parent {
  width: 329px;
  height: 32px;
  display: flex;
  margin-top: 15px;
}

/deep/ .dataScreenConstants {
  width: 30%;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  text-align: center;
}

/deep/ .dataScreenConstants_type {
  width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 4px;
}

/deep/ .dataScreenConstants:nth-of-type(1) {
  border-radius: 4px 0 0 4px;
  border-right: 0;
  width: 30%;
}

/deep/ .dataScreenConstants_input {
  border: 1px solid #d9d9d9;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  padding: 0 10px;
  width: 40%;
}

/deep/ .percentIpt .ivu-input {
  height: 28px;
  border-radius: 0 4px 4px 0;
}
</style>
<style scoped lang="less">
/deep/ .dataScreenConstants .ivu-tooltip-rel {
  width: 100%;
}
.iconEdit {
  margin-top: 2px;
  float: right;
  cursor: pointer;
  margin-right: 8px;
}
</style>

<style lang="less" scoped>
.calculationStyle_option_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  .calculationStyle_option_title {
    margin-left: 22px;
  }
  /deep/ .ivu-input-wrapper {
    width: 60%;
    height: 28px;
  }
}
</style>
