<template>
  <div class="message-page">
    <div class="message-content">
      <p class="title">消息</p>
      <Tabs type="card">
        <TabPane :label="infoLabel">
          <infoListPage :infoList="infoList" :infoCount="infoCount" @on-search="onSearch" />
        </TabPane>
        <TabPane :label="systemLabel">
          <div class="no-data">
              暂无消息
          </div>
        </TabPane>
      </Tabs>
    </div>
  </div>
</template>

<script>

import infoListPage from './infoList.vue'
import { deepCopy } from '@/utils/common'
import { getMessageList, updateMessage } from '@/api/notice'
export default {
  components: {
    infoListPage
  },
  data() {
    return {
      infoCount: 0,
      systemCount: 0,
      infoList: [],
    }
  },
  computed: {
    userName() {
      return this.$store.state.user.userName
    },
    infoLabel(){
      return this.infoCount === 0 ? '动态' : (this.infoCount > 99 ? '动态(99+)' : '动态('+ this.infoCount + ')')
    },
    systemLabel(){
      return this.systemCount === 0 ? '系统' : (this.systemCount > 99 ? '系统(99+)' : '系统('+ this.systemCount + ')')
    },
  },
  created() {
    this.infoListBak = null
  },
  mounted() {
    this.queryInfoList();
  },
  methods: {
    async queryInfoList(){
      const data = {
        receiver: this.$store.state.user.userName,
        status: '',
        pageNum: 1,
        pageSize: 10,
        messageType: 3
      }
      let res = await getMessageList(data);
      if(res.data && res.data.state === 'success'){
        const resData = res.data.data;
        this.infoList = resData.records && resData.total>0 ? resData.records : [];
        this.infoCount = resData.total;
      }
    },
    async onSearch(value) {
      let { isRead, time, page, size } = value;
      const data = {
        receiver: this.$store.state.user.userName,
        status: isRead !== 'all' ? isRead : '',
        startTime: time[0],
        endTime: time[1],
        pageNum: page,
        pageSize: size,
        messageType: 3
      }
      let res = await getMessageList(data);
      if(res.data && res.data.state === 'success'){
        const resData = res.data.data;
        this.infoList = resData.records && resData.total>0 ? resData.records : [];
        this.infoCount = resData.total;
      }
    },
  },
  watch: {

  }
}
</script>

<style lang="less" scoped>
.message-page{
  padding: 10px 18px;
  background: #F3F7FF;
  min-height: calc(~'100vh - 70px');
  .message-content{
    background: #fff;
    min-height: calc(~'100vh - 100px');
    padding: 16px;
    .title{
      font-size: 22px;
      color: #262626;
      margin-bottom: 24px;
    }
    .no-data{
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(~'100vh - 260px');
    }

    /deep/ .ivu-tabs-bar{
      border-bottom: none;
    }
    /deep/.ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab{
      border: none;
      background: #F5F5F5;
      border-radius: 2px;
      margin-right: 16px;
    }
    /deep/ .ivu-tabs.ivu-tabs-card > .ivu-tabs-bar .ivu-tabs-tab-active{
      background: #F0F5FF;
      color: #3F73FF;
    }
  }
}
</style>
