<template>
  <div class="info-list">
    <Form
      ref="infoListForm"
      :model="infoListForm"
      :rules="infoListFormRules"
      :label-width="50"
      inline
    >
      <FormItem prop="time" label="日期：">
        <DatePicker
          ref="time"
          type="daterange"
          v-model="infoListForm.time"
          placement="bottom-end"
          transfer
          format="yyyy/MM/dd"
          placeholder="YYYY/MM/DD    ～   YYYY/MM/DD    "
          style="width: 258px;"
        ></DatePicker>
      </FormItem>
      <FormItem class="btn">
        <Button @click="handleReset()">重置</Button>
        <Button type="primary" @click="handleQuery()">查询</Button>
      </FormItem>
    </Form>
    <div class="list-parent" v-if="infoList.length">
      <div v-for="(item, ind) in infoList" :key="ind" class="list">
        <div class="info-item">
          <div class="info-text">
            <span v-html="item.content"></span>
          </div>
        </div>
        <div class="time">{{ timestampToDateStr(item.createTime) }}</div>
      </div>
    </div>
    <div class="no-data" v-else>
      暂无消息
    </div>
    <div class="pagination" v-if="infoList.length">
      <Page
        :total="infoCount"
        show-sizer
        show-elevator
        show-total
        :current="pageObj.page"
        :page-size="pageObj.size"
        @on-change="changePage"
        @on-page-size-change="changeSize"
      />
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { updateMessage } from "@/api/notice";

export default {
  components: {},
  props: {
    infoList: {
      type: Array,
      default: () => [],
    },
    infoCount: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      infoListForm: {
        time: "",
      },
      infoListFormRules: {},
      pageObj: {
        page: 1,
        size: 10,
      },
    };
  },
  computed: {
    userName() {
      return this.$store.state.user.userName;
    },
  },
  created() {},
  mounted() {},
  methods: {
    toDetail(item){
      if(item.paramMap && item.paramMap.linkUrl){
        window.open(item.paramMap.linkUrl, '_blank');
      }
    },
    handleReset() {
      this.infoListForm = {
        time: "",
      };
      this.$refs.time.handleClear();
      this.handleQuery();
    },
    handleQuery() {
      this.$emit("on-search", {...this.infoListForm, ...this.pageObj});
    },
    changePage(current) {
      this.pageObj.page = current;
      this.$emit("on-search", {...this.infoListForm, ...this.pageObj});
    },
    changeSize(current) {
      this.pageObj.size = current;
      this.$emit("on-search", {...this.infoListForm, ...this.pageObj});
    },
    filterClass(code) {
      let name = "";
      switch (code) {
        case "一级预警":
          name = "warning-text-first";
          break;
        case "一级目标":
          name = "warning-text-first";
          break;
        case "二级预警":
          name = "warning-text-second";
          break;
        case "二级目标":
          name = "warning-text-second";
          break;
        default:
          name = "warning-text-third";
          break;
      }
      return name;
    },
    timestampToDateStr(timestamp) {
      return moment(timestamp).format("YYYY-MM-DD HH:mm:ss");
    }
  }
};
</script>

<style lang="less" scoped>
.info-list {
  height: calc(~"100vh - 250px");
  .btn /deep/ .ivu-form-item-content {
    margin-left: 8px !important;
    button {
      margin-right: 8px;
      padding: 5px 24px;
    }
  }
  .list-parent {
    height: calc(~"100vh - 345px");
    overflow: auto;
    .list {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(234, 234, 234, 1);
      margin-bottom: 20px;
      .info-item {
        display: flex;
        width: calc(~"100% - 145px");
        padding-bottom: 16px;
        // cursor: pointer;
        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 5px;
          margin-top: 7px;
        }
        .blue-dot {
          background: #3f73ff;
        }
        .gray-dot {
          background: rgba(0, 0, 0, 0.15);
        }
        .info-text {
          width: calc(~"100% - 14px");
          white-space: normal;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.65);
          .gray-text {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.65);
          }
          .black-text {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.85);
            font-weight: 600;
          }
          .warning-text-first {
            font-size: 14px;
            color: #f86666;
          }
          .warning-text-second {
            font-size: 14px;
            color: #f78c22;
          }
          .warning-text-third {
            font-size: 14px;
            color: #ffcb5f;
          }
          .link-text {
            font-size: 14px;
            color: #3f73ff;
            cursor: pointer;
          }
        }
      }
      .time {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.45);
        padding-right: 8px;
      }
    }
  }
  .pagination {
    text-align: right;
  }

  .no-data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(~'100vh - 260px');
  }
}
</style>
