<template>
  <div class="card-view">
    <Spin fix v-if="loading">
      <img src="@/assets/icons/indicatorIcon/loading.svg" />
      <div class="loading-text">正在加载</div>
    </Spin>
    <div class="card-view-inner" v-else>
      <div class="card-header">
        <div :class="['left', 'ellipsis', indicatorTypeClassName]" :title="indicatorName">{{ indicatorName }}</div>
        <div class="right" :style="{ visibility: getVisibility(showConfigData.showWarning) }">预警</div>
      </div>
      <div class="card-body" @click="gotoDetail(item)">
        <div class="left">
          <p class="value ellipsis" :title="fullIndicatorValue">{{ prefix }}<span>{{ indicatorValue }}</span>{{ unit }}{{ suffix}}</p>
          <div class="yoy-mom">
            <p class="yoy" v-show="showConfigData.showYoy">
              同比<i :class="yoyIconClass"></i><span>{{ yoyValue }}</span>
            </p>
            <p class="mom" v-show="showConfigData.showMom">
              环比<i :class="momIconClass"></i><span>{{ momValue }}</span>
            </p>
          </div>
        </div>
        <div class="right" :style="{ visibility: getVisibility(showConfigData.showChart) }">
          <Chart :lineData="item?.lineData" />
        </div>
      </div>
      <div class="card-footer" :style="{ visibility: targetVisibility }">
        目标
        <Progress :stroke-width="8" :percent="targetValue" :stroke-color="targetStrokeColor" />
      </div>

      <div class="toolbar">
        <i :class="['collect', { collected: item?.isCollect }]" title="收藏" @click.stop="onToggleCollect"></i>
        <i class="share" title="分享" v-if="!item || isPublishSuccess(item)" @click.stop="shareAuth(item)"></i>
        <Poptip transfer trigger="hover" placement="top" v-if="item" popper-class="actionProp">
          <i class="more" title="更多"></i>
          <template #content>
            <div class="actionWrapper">
              <div class="actionItem" v-allow="[1097046178137089]" v-if="item.type === 1 && isHasAuth(item)" @click.stop="createDerive(item)">创建派生指标</div>
              <div class="actionItem" @click.stop="createTarget(item)">创建目标</div>
              <div class="actionItem" @click.stop="createTask(item)">创建任务</div>
              <div class="actionItem" @click.stop="createWarning(item)">创建预警</div>
              <div class="actionItem" @click="goCreateStory(item)">创建故事</div>
              <div class="actionItem" @click.stop="toAscrib(item)">查看归因</div>
            </div>
          </template>
        </Poptip>
        <i class="more" title="更多" v-else></i>
      </div>
    </div>
  </div>
</template>

<script>
import Chart from '@/view/report/indicator/IndicatorDetail/components/ShowConfig/components/Chart.vue'
import { mapState } from 'vuex'
import { deepCopy } from '@/utils/common'
import indexTwo from '@/view/indicatorWorkbench/indicatorWorkbenchIndex/mixin/indexTwo'
import objectManageMixin from '@/view/objectManage/object-manage-mixin'
import { formatData } from '@/utils/BusinessDataHandleUtil'

export default {
  name: 'DefaultCard',
  mixins: [indexTwo, objectManageMixin],
  components: {
    Chart,
  },
  props: {
    sync: Boolean,
    item: Object,
    loading: Boolean,
  },
  data() {
    return {
      count: 0, // sync为false，只将数据同步一次
      showConfigData: {},
    }
  },
  computed: {
    ...mapState('indicator', ['showConfig', 'oldShowConfig', 'indicatorKind']),

    // 指标类型的className
    indicatorTypeClassName() {
      const type = this.item?.type || this.indicatorKind
      if (type === 1) {
        return 'basic'
      } else if (type === 2) {
        return 'composite'
      } else if (type === 3) {
        return 'derivative'
      } else if (type === 4) {
        return 'out'
      } else if (type === 5) {
        return 'static'
      }
      return ''
    },

    // 指标名称
    indicatorName() {
      return this.item ? (this.item?.abbrName || this.item?.indicatorName) : '指标简称/名称'
    },

    // 前缀
    prefix() {
      const configData = this.item?.configData ? JSON.parse(this.item.configData) : {}
      return this.item ? (configData.prefix || '') : ''
    },

    // 指标值
    indicatorValue() {
      if (this.item) {
        let { configData, indicatorValue } = this.item
        if (indicatorValue === '--') {
          return '--'
        } else {
          let item = configData ? JSON.parse(configData) : {}
          indicatorValue = indicatorValue ? indicatorValue : 0
          const config = {
            decimalDigits: item.decimalPlaces,
            numberUnit: item.numberUnit ? item.numberUnit : 'original',
            thousandth: !!item.thousandsSeparator,
            showType: item.showType,
          }
          indicatorValue = formatData(indicatorValue, config)
          return indicatorValue
        }
      } else {
        return '156.45'
      }
    },

    // 单位
    unit() {
      if (this.item) {
        const configData = this.item?.configData ? JSON.parse(this.item.configData) : {}
        return configData.showType === 0 ? this.getUnit(configData.numberUnit) : ''
      } else {
        return '万元'
      }
    },

    // 后缀
    suffix() {
      if (this.item) {
        const configData = this.item?.configData ? JSON.parse(this.item.configData) : {}
        return configData.suffix ? configData.suffix : ''
      } else {
        return ''
      }
    },

    // 包含前后缀、单位的完整指标值
    fullIndicatorValue() {
      return `${this.prefix}${this.indicatorValue}${this.unit}${this.suffix}`
    },

    // 同比趋势图标class
    yoyIconClass() {
      return this.item ? [{ rise: this.item.yoyType === '同比增长', decline: this.item.yoyType === '同比下降' }] : ['decline']
    },

    // 环比趋势图标class
    momIconClass() {
      return this.item ? [{ rise: this.item.momType === '环比增长', decline: this.item.momType === '环比下降' }] : ['rise']
    },

    // 同比值
    yoyValue() {
      return this.item ? this.item?.yoyValue : '-3.88%'
    },

    // 环比值
    momValue() {
      return this.item ? this.item?.mValue : '+3.88%'
    },

    // 目标是否显示
    targetVisibility() {
      if (this.item) {
        return this.showConfigData.showTarget
        && this.item?.indicatorValue && this.item?.indicatorValue !== '--'
        && this.item?.aimValue && this.item?.aimValue !== '-'
        && this.item?.aimValue > 0
          ? 'visible'
          : 'hidden'
      } else {
        return this.showConfigData.showTarget ? 'visible' : 'hidden'
      }
    },

    // 目标值
    targetValue() {
      return this.item ? this.percent(this.item.indicatorValue, this.item.aimValue) : 89.66
    },

    // 目标的颜色
    targetStrokeColor() {
      return this.item ? this.strokeColor(this.item) : ['#99C2FA', '#608FF4']
    },
  },
  methods: {
    /**
     * 是否显示
     * @param isShow
     */
    getVisibility(isShow) {
      return isShow ? 'visible' : 'hidden'
    },

    /**
     * 点击收藏
     */
    onToggleCollect() {
      if (this.item) {
        if (this.item?.isCollect) {
          this.cancelCollectIndicator(this.item)
        } else {
          this.collectIndicator(this.item)
        }
      }
    },

    /**
     * 创建指标
     */
    createTarget({ id, type }) {
      this.$router.push({
        path: '/manager/objectManage/objectManage',
        query: {
          isShowModel: 1,
          indicatorId: id,
          type,
        },
      })
    },

    createTask({ id }) {
      this.$router.push({
        path: '/manager/taskManage/taskManage',
        query: {
          isShowModel: 1,
          indicatorId: id,
        },
      })
    },

    /**
     * 创建预警
     */
    createWarning({ id }) {
      this.$router.push({
        path: '/manager/earlyWarningTarget/earlyWarningTargetIndex',
        query: {
          isShowModel: 1,
          indicatorId: id,
        },
      })
    },

    /**
     * 创建故事
     */
    goCreateStory() {
      this.$router.push('/indicatorWorkbench/storyBoardAdd')
    },

    /**
     * 查看归因
     * @param id
     * @param indicatorName
     * @param type
     */
    toAscrib({ id, indicatorName, type }) {
      this.$router.push({
        path: '/indicatorWorkbench/indicatorWorkbenchDetail',
        query: {
          id,
          name: indicatorName,
          type,
          tab: '2',
        },
      })
    },

    /**
     * 获取单位
     * @param unit
     */
    getUnit(unit) {
      switch (unit) {
        case 'wan':
          return '万'
        case 'yi':
          return '亿'
        default:
          return ''
      }
    },
  },
  watch: {
    showConfig: {
      handler() {
        const showConfig = this.sync ? deepCopy(this.showConfig) : deepCopy(this.oldShowConfig)
        this.showConfigData = {
          showName: showConfig.showName ?? true,
          showWarning: showConfig.showWarning ?? true,
          showValue: showConfig.showValue ?? true,
          showYoy: showConfig.showYoy ?? true,
          showMom: showConfig.showMom ?? true,
          showChart: showConfig.showChart ?? true,
          showTarget: showConfig.showTarget ?? true,
        }
      },
      deep: true,
      immediate: true,
    },

    item: {
      handler(newVal) {
        if (newVal) {
          const showConfig = newVal.configData ? JSON.parse(newVal.configData) : {}
          this.showConfigData = {
            showName: showConfig.showName ?? true,
            showWarning: newVal.showforewarning && (showConfig.showWarning ?? true),
            showValue: showConfig.showValue ?? true,
            showYoy: showConfig.showYoy ?? true,
            showMom: showConfig.showMom ?? true,
            showChart: showConfig.showChart ?? true,
            showTarget: showConfig.showTarget ?? true,
          }
        }
      },
      deep: true,
      immediate: true,
    },
  },
}
</script>

<style scoped lang="less">
.card-view {
  width: 298px;
  height: 150px;
  background: #FFFFFF;
  border: 1px solid rgba(235, 235, 235, 1);
  box-shadow: 0 0 6px 0 rgba(217, 217, 217, 0.5);
  border-radius: 4px;
  overflow: hidden;
  padding: 12px 16px 10px;
  position: relative;
}

.loading-text {
  color: rgba(0,0,0,0.40);
}

.card-view-inner:hover > .toolbar {
  display: flex;
}

.card-header {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    width: calc(~'100% - 58px');
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url('~@/assets/icons/indicatorIcon/icon_basic_indicator.svg');
      position: relative;
      top: 2px;
      margin-right: 8px;
    }

    &.composite:before {
      background: url('~@/assets/icons/indicatorIcon/icon_composite_indicator.svg');
    }

    &.derivative:before {
      background: url('~@/assets/icons/indicatorIcon/icon_derivative_indicator.svg');
    }

    &.out:before {
      background: url('~@/assets/icons/indicatorIcon/icon_out_indicator.svg');
    }

    &.static:before {
      background: url('~@/assets/icons/indicatorIcon/icon_static_indicator.svg');
    }
  }

  .right {
    width: 58px;
    background: #F78C22 url('~@/assets/icons/indicatorIcon/warning.png') no-repeat 5px 1px ~'/' 18px 18px;
    border-radius: 4px;
    padding: 3px 7px 4px 26px;
    color: #FFFFFF;
  }
}

.card-body {
  height: calc(~'100% - 46px');
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    width: calc(~'100% - 134px');
    padding-right: 16px;

    .value {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
      font-weight: 400;
      max-width: 100%;

      > span {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
        margin-right: 3px;
      }
    }

    .yoy-mom {
      height: 36px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .yoy,
    .mom {
      color: rgba(35, 44, 88, 0.6);
      font-weight: 400;

      > i {
        margin-left: 4px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: -4px;

        &.decline {
          background: url('~@/assets/icons/indicatorIcon/arrow_decline.svg') no-repeat center;
        }

        &.rise {
          background: url('~@/assets/icons/indicatorIcon/arrow_rise.svg') no-repeat center;
        }
      }

      > span {
        margin-left: 4px;
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
      }
    }
  }

  .right {
    width: 134px;
    height: 64px;
  }
}

.card-footer {
  height: 20px;
  color: rgba(35, 44, 88, 0.6);
  display: flex;
  align-items: center;
  margin-top: 8px;

  /deep/ .ivu-progress {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 12px;

    .ivu-progress-inner {
      overflow: hidden;
    }
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toolbar {
  display: none;
  align-items: center;
  position: absolute;
  right: 16px;
  bottom: 9px;
  z-index: 1;

  i > {
    vertical-align: middle;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-left: 4px;
    cursor: pointer;
  }

  .collect {
    background: #D4E3FF url('~@/assets/icons/indicatorIcon/collect.svg') center no-repeat;

    &.collected {
      background: #D4E3FF url('~@/assets/icons/indicatorWorkbench/collected.svg') center no-repeat;
    }
  }

  .share {
    background: #D4E3FF url('~@/assets/icons/indicatorIcon/share.svg') center no-repeat;
  }

  .more {
    background: #D4E3FF url('~@/assets/icons/indicatorIcon/more.svg') center no-repeat;
  }
}
</style>
