<template>
  <div class="card-edit">
    <div class="card-header">
      <div class="left">
        <Checkbox v-model="showName" disabled>指标简称/名称</Checkbox>
      </div>
      <div class="right">
        <Checkbox v-model="showWarning" :disabled="disabled" @on-change="updateShowConfig('showWarning', $event)"><span class="warning">预警</span></Checkbox>
        <div class="toolbar">
          <i class="collect" title="收藏"></i>
          <i class="share" title="分享"></i>
          <i class="more" title="更多"></i>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="left">
        <Checkbox v-model="showValue" disabled><span class="value"><span>156.45</span>万元</span></Checkbox>
        <Checkbox
          v-model="showYoy"
          :disabled="disabled"
          @on-change="updateShowConfig('showYoy', $event)"><span class="yoy">同比<i class="decline"></i><span>-3.88%</span></span></Checkbox>
        <Checkbox
          v-model="showMom"
          :disabled="disabled"
          @on-change="updateShowConfig('showMom', $event)"><span class="mom">环比<i class="rise"></i><span>+3.88%</span></span></Checkbox>
      </div>
      <div class="right">
        <div class="select-group">
          <Checkbox v-model="showChart" :disabled="disabled" @on-change="updateShowConfig('showChart', $event)"></Checkbox>
          <Select v-model="chartIndicatorId" filterable :disabled="disabled" @on-change="updateShowConfig('chartIndicatorId', $event)">
            <Option v-for="indicator in indicators" :key="indicator.id" :value="indicator.id">{{ indicator.name }}</Option>
          </Select>
          <Select v-model="dateType" :disabled="disabled" @on-change="updateShowConfig('dateType', $event)">
            <Option :value="1">近7天</Option>
            <Option :value="2">近30天</Option>
            <Option :value="3">当月</Option>
            <Option :value="4">近3个月</Option>
            <Option :value="5">近6个月</Option>
            <Option :value="6">当年</Option>
          </Select>
        </div>
        <div class="chart-wrapper">
          <Chart />
        </div>
      </div>
    </div>
    <div class="card-footer">
      <Checkbox v-model="showTarget" :disabled="disabled" @on-change="updateShowConfig('showTarget', $event)">
        目标
        <Progress :stroke-width="8" :percent="89.66" :stroke-color="['#4666F9', '#44A6EF']" />
      </Checkbox>
    </div>
  </div>
</template>

<script>
import Chart from '@/view/report/indicator/IndicatorDetail/components/ShowConfig/components/Chart.vue'
import { mapActions, mapState } from 'vuex'
import { deepCopy } from '@/utils/common'

export default {
  name: 'CurrentCard',
  components: {
    Chart,
  },
  data() {
    return {
      showName: true,
      showWarning: true,
      showValue: true,
      showYoy: true,
      showMom: true,
      showChart: true,
      chartIndicatorId: '',
      dateType: 1,
      showTarget: true,
    }
  },
  computed: {
    ...mapState('indicator', ['showConfig', 'indicators', 'indicatorId', 'indicatorEditable']),
    disabled() {
      return !this.indicatorEditable
    },
  },
  watch: {
    showConfig: {
      handler(val) {
        this.showName = val.showName ?? true
        this.showWarning = val.showWarning ?? true
        this.showValue = val.showValue ?? true
        this.showYoy = val.showYoy ?? true
        this.showMom = val.showMom ?? true
        this.showChart = val.showChart ?? true
        this.chartIndicatorId = val.chartIndicatorId || this.indicatorId || '' // 如果没有配置指标，默认对齐为当前指标，否则为空
        this.dateType = val.dateType ?? 1
        this.showTarget = val.showTarget ?? true
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    ...mapActions('indicator', ['setShowConfig']),

    /**
     * 更新显示设置
     * @param key 配置项属性名
     * @param value 配置项复选框的值
     */
    updateShowConfig(key, value) {
      const showConfig = deepCopy(this.showConfig)
      showConfig[key] = value
      this.setShowConfig(showConfig)
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-right: 0;

  .ivu-checkbox {
    margin-right: 8px;
  }
}

.card-edit {
  width: 412px;
  height: 170px;
  overflow: hidden;
  padding: 0 16px;
  background: #F0F5FD;
  border: 1px dashed rgba(63, 115, 255, 1);
  border-radius: 4px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 9px 0 6px 0;

  .left {
    width: 156px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);

    /deep/ .ivu-checkbox-wrapper {
      font-size: inherit;
    }
  }

  .right {
    width: calc(~'100% - 156px');
    display: flex;
    justify-content: space-between;

    .warning {
      background: #F78C22 url('~@/assets/icons/indicatorIcon/warning.png') no-repeat 5px 1px ~'/' 18px 18px;
      border-radius: 4px;
      padding: 3px 7px 4px 26px;
      color: #FFFFFF;
    }

    .toolbar {
      display: flex;
      align-items: center;

      i > {
        vertical-align: middle;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 8px;
        cursor: pointer;
      }

      .collect {
        background: url('~@/assets/icons/indicatorIcon/collect.svg');
      }

      .share {
        background: url('~@/assets/icons/indicatorIcon/share.svg');
      }

      .more {
        background: url('~@/assets/icons/indicatorIcon/more.svg');
      }
    }
  }
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    flex-direction: column;
    width: 156px;

    .ivu-checkbox-wrapper:nth-child(2) {
      margin-top: 8px;
    }

    .ivu-checkbox-wrapper:nth-child(3) {
      margin-top: 14px;
      margin-bottom: 8px;
    }

    .value {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
      font-weight: 400;

      > span {
        display: inline-block;
        font-size: 22px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
        margin-right: 3px;
        max-width: 90px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: -10px;
      }
    }

    .yoy,
    .mom {
      color: rgba(35, 44, 88, 0.6);
      font-weight: 400;

      > i {
        margin-left: 4px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: -4px;

        &.decline {
          background: url('~@/assets/icons/indicatorIcon/arrow_decline.svg') no-repeat center;
        }

        &.rise {
          background: url('~@/assets/icons/indicatorIcon/arrow_rise.svg') no-repeat center;
        }
      }

      > span {
        margin-left: 4px;
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
      }
    }
  }

  .right {
    width: calc(~'100% - 156px');

    .select-group {
      display: flex;
      align-items: center;

      /deep/ .ivu-select-selection {
        border: 1px solid rgba(234, 234, 234, 1);
        border-radius: 2px 0 0 2px;
        box-shadow: none;
      }

      /deep/ .ivu-select:last-child .ivu-select-selection {
        border: 1px solid rgba(234, 234, 234, 1);
        border-radius: 0 2px 2px 0;
        border-left: 0;
      }

      .ivu-select:nth-child(2) {
        width: 60%;
      }

      .ivu-select:last-child {
        width: 40%;
      }
    }
  }

  .chart-wrapper {
    width: calc(~'100% - 23px');
    height: 64px;
    margin-left: 23px;
    margin-top: 4px;
  }
}

.card-footer {
  margin-top: 2px;
  color: rgba(35, 44, 88, 0.6);

  /deep/ .ivu-progress {
    flex: 1;
    margin-left: 12px;
  }
}
</style>
