<template>
  <div class="chart" ref="chart"></div>
</template>

<script>
import * as echarts from 'echarts'

const COLORS = ['#dae3f9', '#eceff6']

export default {
  name: 'Chart',
  data() {
    return {
      chart: null, // 图表对象
    }
  },
  props: {
    lineData: Array,
  },
  mounted() {
    this.loadChart()
  },
  methods: {
    loadChart() {
      if (!this.chart) {
        this.chart = echarts.init(this.$refs.chart)
      }
      const option = {
        backgroundColor: 'transparent',
        grid: {
          left: 10,
          right: 10,
          bottom: 10,
          top: 10,
        },
        xAxis: {
          type: 'category',
          data: (this.lineData && this.lineData.length>0 ) ? this.lineData.map(item => item[0]) :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
          show: false,
        },
        yAxis: {
          type: 'value',
          show: false,
        },
        series: [
          {
            data: (this.lineData && this.lineData.length>0 ) ? this.lineData.map(item => item[1]) : [30, 100, 70, 80, 130, 220, 70, 110, 70, 90, 140],
            type: 'line',
            showSymbol: false,
            lineStyle: {
              width: 2,
            },
            areaStyle: {
              shadowColor: '#eceff6',
              shadowBlur: 20,  //阴影
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                offset: 0,
                color: COLORS[0],
              }, {
                offset: 1,
                color: COLORS[1],
              }]), // 区域线条渐变色
            },
          },
        ],
      }

      option && this.chart.setOption(option)
    },
  },
  watch: {
    lineData: {
      handler() {
        this.loadChart();
      },
      deep: true
    }
  }
}
</script>

<style scoped lang="less">
.chart {
  width: 100%;
  height: 100%;
}
</style>
