<template>
  <div class="basic-info">
    <IndicatorEdit
      v-if="indicatorEditable"
      :business-model-tree="businessModelTreeData"
      :asset-group-tree="groupTreeData"
      :data-assets="treeData" />
    <IndicatorView v-else v-on="$listeners" />
  </div>
</template>

<script>
import IndicatorEdit from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorEdit/index.vue'
import IndicatorView from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorView/index.vue'
import { mapState } from 'vuex'

export default {
  name: 'BasicInfo',
  components: {
    IndicatorEdit,
    IndicatorView,
  },
  props: {
    businessModelTreeData: Array,
    groupTreeData: Array,
    treeData: Array,
  },
  computed: {
    ...mapState('indicator', [
      'indicatorEditable',
    ]),
  },
}
</script>

<style scoped lang="less">
.basic-info {
  height: 100%;
  padding-top: 16px;
  padding-right: 32px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
</style>
