<template>
  <div class="dimensionFilterSetting">
    <Transfer
      class="transferClass"
      :data="totalDimensionValue"
      :targetKeys="targetDimension"
      :titles="['可选维度', '已选维度']"
      filterable
      :filter-method="filterMethod"
      @on-change="handleTransferChange">
    </Transfer>
    <div class="btnsBox">
      <Button class="secondary-btn" @click="resetDefaultValueSettingBox">取消</Button>
      <Button type="primary" class="main-btn" @click="confirmDefaultValue">确定</Button>
    </div>
  </div>
</template>

<script>
import { queryDimensionMember } from '@/api/report'
export default {
  props: {
    DimensionConditionValue: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    currentSelectChart() {
      return this.$store.state.chart && this.$store.state.chart.currentSelectChart
    },
    storeChartList() {
      return this.$store.state.chart.chartList
    }
  },
  data() {
    return {
      totalDimensionValue: [],
      targetDimension: []
    }
  },
  mounted() {
    this.getTotalDimensionValue()
    
  },
  methods: {
    resetDefaultValueSettingBox(e) {
      this.$emit('resetDefaultValueSettingBox', e)
    },
    confirmDefaultValue(e) {
      let conditionValue = this.targetDimension.join(',')
      let valueTitle = this.targetDimension.join('、')
      this.$emit('confirmDefaultValue', e, conditionValue, valueTitle)
    },
    getTotalDimensionValue() {
      let filterDimension = this.currentSelectChart.data.configData.filterDimension
      if(!filterDimension) {
        return
      }

      let params = {}
      let startDate = ''
      let endDate = ''
        
      let globalReportDate = this.$store.state.chart.reportDate
      if(globalReportDate.length) {
        startDate = globalReportDate[0]
        endDate = globalReportDate[1]
      }
      let indicatorVos = []
      let relativeComponentList = this.currentSelectChart.data.configData.relativeComponentList
      relativeComponentList.forEach((componentItemId) => {
        let component = this.storeChartList.find(item => item.chartId === componentItemId)
        if(component) {
          let indicator = component.data.indicator
          indicator.forEach((indicatorItem) => {
            let obj = {}
            obj.id = indicatorItem.id
            obj.type = indicatorItem.type
            let variables = {
              businessDate: startDate
            }
            if(component.data.configData.filteredCondition) {
              let filteredCondition = component.data.configData.filteredCondition
              filteredCondition.forEach(filteredConditionItem => {
                let { variableList } = filteredConditionItem
                variableList.forEach(variableItem => {
                  if(variableItem.id === indicatorItem.id) {
                    for(let key in variableItem.variables) {
                      variables[key] = variableItem.variables[key]
                    }
                  }
                })
              })
            }
            obj.variables = variables
            indicatorVos.push(obj)
          })
        }
      })
      
      params = {
        dimensionIds: [filterDimension],
        indicatorVos,
        date: {
          startDate,
          endDate
        }
      }
      
      queryDimensionMember(params).then(res => {
        if(res.data.state === 'success') {
          const { data } = res.data
          let totalDimensionValue = []
          data.forEach(item => {
            let obj = {}
            obj.key = item
            obj.label = item
            totalDimensionValue.push(obj)
          })
          this.totalDimensionValue = totalDimensionValue
          this.targetDimension = [ ...this.DimensionConditionValue ]
          this.defaultValueSettingModal = true
        }
      })
    },
    handleTransferChange(newTargetKeys, direction, moveKeys) {
      this.targetDimension = newTargetKeys
    },
    filterMethod(data, query) {
      return data.label.indexOf(query) > -1
    }
  }
}
</script>

<style lang="less" scoped>
.transferClass {
  /deep/ .ivu-transfer-list {
    width: calc(~'50% - 30px');
    .ivu-transfer-list-header {
      background: none;
    }
  }
}
.dimensionFilterSetting {
  .btnsBox {
    text-align: right;
    margin-top: 16px;
    .ivu-btn.ivu-btn-primary {
      margin-left: 16px;
    }
  }
}
</style>