<template>
  <div class="indicatorFilterSetting">
    <div class="itemBox">
      <div class="title">快速筛选</div>
      <RadioGroup v-model="quickFilter" vertical @on-change="resetConditionFilter">
        <Radio label="all">
          <span>全部</span>
        </Radio>
        <Radio label="max">
          <span>最大值</span>
        </Radio>
        <Radio label="min">
          <span>最小值</span>
        </Radio>
        <Radio label="top">
          <span>TOP前</span>
          <InputNumber
            ref="inputNumber"
            v-if="quickFilter === 'top'"
            v-model="topNum"
            :max="20" :min="1"
            @on-change="handleInputNumberChange">
          </InputNumber>
        </Radio>
      </RadioGroup>
    </div>
    <div class="itemBox">
      <div class="title">条件筛选</div>
      <div style="display: flex">
        <Select v-model="conditionFilter" style="width: 108px" @on-change="resetQuickFilter">
          <Option v-for="item in conditionList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
        <div v-if="conditionFilter === '6'">
          <Input v-model="filterMinValue" type="number" style="width: 114px" @on-change="resetQuickFilter"></Input>
          <Input v-model="filterMaxValue" type="number" style="width: 114px" @on-change="resetQuickFilter"></Input>
        </div>
        <Input v-else v-model="filterValue" type="number" style="width: 228px" @on-change="resetQuickFilter"></Input>
      </div>
    </div>
    <div class="btnsBox">
      <Button class="secondary-btn" @click="resetDefaultValueSettingBox">取消</Button>
      <Button type="primary" class="main-btn" @click="confirmDefaultValue">确定</Button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    conditionValue: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      quickFilter: '',
      conditionFilter: '1',
      conditionList: [
        {
          value: '1',
          label: '大于'
        },
        {
          value: '2',
          label: '大于等于'
        },
        {
          value: '3',
          label: '等于'
        },
        {
          value: '4',
          label: '小于'
        },
        {
          value: '5',
          label: '小于等于'
        },
        {
          value: '6',
          label: '两者之间'
        }
      ],
      topNum: 1,
      filterMinValue: '',
      filterMaxValue: '',
      filterValue: ''
    }
  },
  created() {
    this.setDefaultValue()
  },
  methods: {
    resetDefaultValueSettingBox(e) {
      this.$emit('resetDefaultValueSettingBox', e)
    },
    setDefaultValue() {
      if(this.conditionValue) {
        let filter = this.conditionValue.split(',')
        let filterType = filter[0]
        if(filterType === 'min' || filterType === 'max' || filterType === 'all') {
          this.quickFilter = filterType
        } else if(filterType === 'top') {
          this.quickFilter = filterType
          this.topNum = Number(filter[1])
        } else {
          this.conditionFilter = filterType
          if(filterType === '6') {
            this.filterMinValue = filter[1]
            this.filterMaxValue = filter[2]
          } else {
            this.filterValue = filter[1]
          }
        }
      } else {
        this.resetConditionFilter()
        this.resetQuickFilter()
      }
    },
    confirmDefaultValue(e) {
      let conditionValue = ''
      let title = ''
      if(this.quickFilter) {
        conditionValue = this.quickFilter
        if(this.quickFilter === 'top') {
          conditionValue += ',' + this.topNum
        }
        switch (this.quickFilter) {
          case 'all':
            title += '：' + '全部'
            break
          case 'max':
            title += '：' + '最大值'
            break
          case 'min':
            title += '：' + '最小值'
            break
          case 'top':
            title += '：' + 'Top' + this.topNum
            break
          default:
            break
        }
      } else {
        conditionValue = this.conditionFilter
        if(this.conditionFilter === '6') {
          conditionValue += ',' + this.filterMinValue + ',' + this.filterMaxValue
          if(this.filterMinValue && this.filterMaxValue) {
            title += '：' + this.conditionList.find(item => item.value === this.conditionFilter).label
            title += this.filterMinValue + ',' + this.filterMaxValue
          }
        } else {
          conditionValue += ',' + this.filterValue
          if(this.filterValue) {
            title += '：' + this.conditionList.find(item => item.value === this.conditionFilter).label
            title += this.filterValue
          }
        }
      }
      this.$emit('confirmDefaultValue', e, conditionValue, title)
    },
    resetConditionFilter() {
      this.filterValue = ''
      this.filterMinValue = ''
      this.filterMaxValue = ''
    },
    resetQuickFilter() {
      this.quickFilter = ''
      this.topNum = 1
    },
    handleInputNumberChange(val) {
      if(val == null) {
        this.$refs.inputNumber.setValue(1)
      }
    }
  }

}
</script>

<style lang="less" scoped>
.indicatorFilterSetting {
  .itemBox {
    color: #333333;
    margin-bottom: 16px;
    .title {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .ivu-radio-group {
    .ivu-radio-wrapper {
      font-size: 14px;
      display: flex;
      align-items: center;
      > span {
        margin-left: 4px;
      }
      > .ivu-input-number {
        margin-left: 8px;
      }
    }
  }
  .btnsBox {
    text-align: right;
    .ivu-btn.ivu-btn-primary {
      margin-left: 16px;
    }
  }
}
</style>