<template>
  <div class="addIndicatorTab-container">
    <div
      class="tabItem"
      :class="{ selected: selectedTabId === item.id, showTabName: !item.isEdit }"
      v-for="(item, i) in tabList"
      :key="i"
      @click="toogleTab(item.id)"
    >
      <!-- 固定tab -->
      <span class="tabItemName" v-if="!item.isCustom">{{ item.name }}</span>

      <!-- 自定义tab -->
      <template v-else>
        <!-- 非编辑状态 -->
        <template v-if="!item.isEdit">
          <span class="tabItemName isCustomTab" :title="item.name">{{ item.name }}</span>
          <Poptip trigger="hover" placement="bottom-start">
            <div class="hoverIconWrapper">
              <img class="noHoverIcon" src="@/assets/icons/indicatorWorkbench/moreAction.svg" alt="" />
              <img class="hoverIcon" src="@/assets/icons/indicatorWorkbench/moreAction-blue.svg" alt="" />
            </div>
            <template #content>
              <div class="actionWrapper">
                <div class="actionItem" @click.stop="showEditTabInput(item.id)">编辑</div>
                <div class="actionItem" @click.stop="deleteCustomTab(item.id)">删除</div>
              </div>
            </template>
          </Poptip>
        </template>
        <!-- 编辑状态 -->
        <Input
          v-else
          :ref="`editInput${item.id}`"
          v-model.trim="item.editedName"
          autofocus
          placeholder="请输入名称"
          style="width: 166px"
          @on-enter="addTabName('edit', item)"
          @on-blur="addTabName('edit', item)"
          @click.native.stop
        />
      </template>
    </div>
    <Input
      ref="tabInput"
      v-if="isAddNewTab"
      v-model.trim="newIndicatorTabName"
      autofocus
      placeholder="请输入名称"
      style="width: 166px"
      @on-enter="addTabName"
      @on-blur="addTabName"
    />
    <img class="addTab" src="@/assets/icons/indicatorWorkbench/addTab.svg" alt="" @click="showNewTabInput" />
  </div>
</template>

<script>
import { addCustomTab, editCustomTab } from "@/api/indicatorWorkbench";

export default {
  props: {
    tabList: {
      type: Array,
      required: true
    },
    selectedTabId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      newIndicatorTabName: "", // 新tab的名称
      isAddNewTab: false // 是否正在添加新的tab
    };
  },
  computed: {
    /**
     * 判断标签名是否重复
     * @param {String} newTabName 新的名称
     * @param {String} extraName 可以重复的名称
     */
    isRepeatTabName() {
      return (newTabName, extraName = "") => this.tabList.map(ele => (ele.name !== extraName ? ele.name : "")).includes(newTabName);
    }
  },
  methods: {
    /**
     * 切换tab
     * @param {String} tabName tab名称
     */
    toogleTab(id) {
      this.$emit("toogleTab", id);
    },
    /**
     * 展示tab的新增输入框
     */
    showNewTabInput() {
      if (this.tabList.length < 9) {
        this.newIndicatorTabName = "未命名标签";
        this.isAddNewTab = true;
      } else {
        this.$Message.warning("超出限制标签页数量！");
      }
    },
    /**
     * 展示tab的编辑输入框
     */
    showEditTabInput(id) {
      this.tabList.forEach(ele => {
        ele.isEdit = ele.id === id;
        ele.editedName = ele.id === id ? ele.name : "";
      });
    },
    /**
     * 添加或修改tab名称（回车或失焦时）
     */
    addTabName(type = "", item = {}) {
      if (type !== "edit") {
        this.addCustomTab();
      } else {
        this.editCustomTab(item);
      }
    },
    /**
     * 添加自定义Tab
     */
    async addCustomTab() {
      if (!this.isAddNewTab) return;

      if (this.isRepeatTabName(this.newIndicatorTabName)) {
        this.$Message.warning("标签名称重复");
        this.$refs.tabInput.focus();
        return;
      }

      if (this.newIndicatorTabName === "") {
        this.newIndicatorTabName = "未命名标签";
      }

      const params = {
        groupType: 1,
        name: this.newIndicatorTabName
      };
      const res = await addCustomTab(params);
      if (res.data.state === "success") {
        this.newIndicatorTabName = "";
        this.isAddNewTab = false;
        this.$Message.success("标签添加成功");
        this.$emit("refreshCustomTab");
      }
    },
    /**
     * 编辑某个自定义tab
     */
    async editCustomTab({ id, name, editedName, isEdit }) {
      if (!isEdit) return;

      if (editedName === "") {
        this.$emit("refreshCustomTab");
        return;
      }
      if (this.isRepeatTabName(editedName, name)) {
        this.$Message.warning("标签名称重复");
        this.$refs[`editInput${id}`].focus();
        return;
      }

      const params = {
        id,
        name: editedName
      };
      const res = await editCustomTab(params);
      if (res.data.state === "success") {
        this.tabList.forEach(ele => {
          if (ele.id === id) {
            ele.isEdit = false;
            ele.editedName = "";
          }
        });
        this.$Message.success("标签修改成功");
        this.$emit("refreshCustomTab");
      }
    },
    /**
     * 删除某个自定义tab
     */
    async deleteCustomTab(id) {
      this.$emit("deleteCustomTab", id);
    }
  }
};
</script>

<style lang="less" scoped>
.addIndicatorTab-container {
  display: flex;
  align-items: center;
  .tabItem {
    height: 32px;
    background: #f5f5f5;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.showTabName {
      max-width: 141px;
      padding: 0 21px;
    }

    .tabItemName {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      &.isCustomTab {
        overflow: hidden;
        word-break: keep-all;
      }
    }

    &.selected {
      background: #f0f5ff;
      .tabItemName {
        font-family: PingFangSC-Medium;
        color: #3f73ff;
        font-weight: 500;
      }
    }

    /deep/.ivu-poptip {
      display: flex;
      .hoverIconWrapper {
        display: flex;
        align-items: center;
        margin-left: 6px;
        .noHoverIcon {
          display: inline-block;
        }
        .hoverIcon {
          display: none;
        }
        &:hover {
          .noHoverIcon {
            display: none;
          }
          .hoverIcon {
            display: inline-block;
          }
        }
      }
      .ivu-poptip-popper {
        min-width: 0;
      }
      .ivu-poptip-inner {
        width: 65px;
        .ivu-poptip-body {
          padding: 0;
          .actionWrapper {
            padding: 4px;
            .actionItem {
              width: 57px;
              height: 32px;
              line-height: 32px;
              padding-left: 8px;
              border-radius: 2px;
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: #333333;
              cursor: pointer;
              &:first-child {
                margin-bottom: 4px;
              }
              &:hover {
                background: #f0f5ff;
                color: #3f73ff;
              }
            }
          }
        }
      }
    }
  }

  /deep/.ivu-input {
    background: #f5f5f5;
    border: 1px solid rgba(63, 115, 255, 1);
    border-radius: 2px;
  }
  .addTab {
    margin-left: 4px;
    cursor: pointer;
  }
}
</style>
