<template>
  <Modal class="addIndicatorModal-container" :value="showModal" @on-cancel="onCancel" title="新增指标" width="920" footer-hide>
    <div class="addWrapper">
      <div class="indicatorBox" @click="addIndicatorHandle('1')">
        <img src="@/assets/images/indicatorWorkbench/atom.svg" alt="" />
        <p>原子指标</p>
      </div>
      <div class="indicatorBox" @click="addIndicatorHandle('3')">
        <img src="@/assets/images/indicatorWorkbench/derive.svg" alt="" />
        <p>派生指标</p>
      </div>
      <div class="indicatorBox" @click="addIndicatorHandle('2')">
        <img src="@/assets/images/indicatorWorkbench/complex.svg" alt="" />
        <p>复合指标</p>
      </div>
      <div class="indicatorBox" @click="addIndicatorHandle('4')">
        <img src="@/assets/images/indicatorWorkbench/out.svg" alt="" />
        <p>外部指标</p>
      </div>
      <div class="indicatorBox" @click="addIndicatorHandle('5')">
        <img src="@/assets/images/indicatorWorkbench/static.svg" alt="" />
        <p>静态指标</p>
      </div>
    </div>
  </Modal>
</template>

<script>
export default {
  props: {
    showModal: {
      type: Boolean,
      required: true
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.$emit("closeModal");
    },
    /**
     * 新增指标跳转页面
     * @param {String} indicatorType 指标类型
     */
    addIndicatorHandle(indicatorType) {
      this.$router.push({
        path: "/manager/indicator/indicator_detail",
        query: {
          type: indicatorType,
          add: 1
        }
      });
    }
  }
};
</script>

<style lang="less" scoped>
.addIndicatorModal-container {
  /deep/.ivu-modal {
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-body {
        padding: 0;
      }
    }
  }
}

.addWrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px 26px 30px;
  .indicatorBox {
    padding: 26px 43px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
      border: 1px solid rgba(63, 115, 255, 1);
    }
    img {
      width: 71px;
      height: 63px;
      margin-bottom: 28px;
    }
    p {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.85);
      letter-spacing: 0;
      text-align: center;
    }
  }
}
</style>
