<template>
  <div class="cardList-container" @scroll="onScroll" ref="cardContainer">
    <div class="cardItemWrapper" v-for="(item, i) in dataList" :key="i">
      <section class="cardView">
        <section class="cardTitle">
          <div class="titleLeft">
            <span class="indicatorName" :title="item.indicatorName">{{ formatName(item.indicatorName, 8) }}</span>
            <span class="assetsGroup" :title="item.assetsGroupName">{{ formatName(item.assetsGroupName, 8) }}</span>
          </div>
          <div class="titleRight" :style="{ '--statusBackgroundColor': showStatusDataByKey(item.status, 'prefixColor') }">
            {{ showStatusDataByKey(item.status, "label") }}
          </div>
        </section>
        <section class="cardData" :style="{ justifyContent: getLineDataLength(item) ? 'space-between' : 'center' }">
          <div class="dataLeft">
            <div class="indicatorWrapper">
              <span class="indicatorValue" :title="handlePrefix(item.configData) + handleYXQ(item.configData ,item.indicatorValue)+handleUnit(item.configData)+handleSuffix(item.configData)" v-if="item.type !== 4">
                <span class="prefix">{{ handlePrefix(item.configData) }}</span>
                <span >{{ handleYXQ(item.configData ,item.indicatorValue) }}</span>
                <span class="unit" v-if="handleUnit(item.configData)">{{ handleUnit(item.configData) }}</span>
                <span class="suffix">{{ handleSuffix(item.configData) }}</span>
              </span>
              <span class="indicatorValue" :title="item.indicatorValue" v-else>{{ item.indicatorValue }}</span>
              <!-- <span class="unitSuffix">(元)</span> -->
            </div>
            <div class="yoyWrapper">
              <span class="yoyLabel">{{ item.yoyType }}</span>
              <img class="yoyIcon" v-if="item.yoyType === '同比增长'" src="@/assets/icons/indicatorWorkbench/redArrowUp.svg" alt="" />
              <img class="yoyIcon" v-else-if="item.yoyType === '同比下降'" src="@/assets/icons/indicatorWorkbench/greenArrowDown.svg" alt="" />
              <span class="yoyValue" :style="{ color: yoyColor(item.yoyType) }">{{ item.yoyValue }}</span>
            </div>
          </div>
          <div class="dataRight">
            <LineChart v-if="getLineDataLength(item)" :line-data="item.lineData" />
          </div>
        </section>
      </section>

      <section class="cardAction">
        <div class="actionLeft">
          <span class="actionName" v-if="item.type !== 4 && isHasAuth(item)" @click="gotoDetail(item)">查看详情</span>
          <span class="actionName" v-if="isEditAuth(item)" v-allow="[1097046178137090]" @click="gotoEdit(item)">编辑</span>
          <span class="actionName" v-if="isEditAuth(item)" @click="copyIndicator(item)">复制</span>
          <span class="actionName" v-if="isShowChangeStatusIcon(item)" @click="changeIndicatorStatus(item)">
            {{ showStatusDataByKey(item.status, "actionLabel") }}
          </span>
          <Poptip trigger="hover" placement="left" v-if="isShowPoptip(item)">
            <div class="hoverIconWrapper">
              <img class="noHoverIcon" src="@/assets/icons/indicatorWorkbench/moreVertical.svg" alt="" />
              <img class="hoverIcon" src="@/assets/icons/indicatorWorkbench/moreVertical-blue.svg" alt="" />
            </div>
            <template #content>
              <div class="actionWrapper">
                <div class="actionItem" v-allow="[1097046178137089]" v-if="item.type === 1 && isHasAuth(item)" @click.stop="createDerive(item)">创建派生指标</div>
                <div class="actionItem" v-if="isOwn(item.creatorId)" @click.stop="changeOwner(item)">变更所有者</div>
                <div class="actionItem" v-if="customTabList.length && isHasAuth(item)" @click.stop="syncTo(item)">同步至</div>
                <div class="actionItem" v-if="isPublishSuccess(item)" @click.stop="shareAuth(item)">权限分享</div>
              </div>
            </template>
          </Poptip>
        </div>
        <div class="actionRight">
          <!-- 收藏 -->
          <div class="hoverIconWrapper" v-if="isHasAuth(item)">
            <template v-if="!item.isCollect">
              <img class="noHoverIcon" src="@/assets/icons/indicatorWorkbench/collect.svg" alt="" />
              <img class="hoverIcon" src="@/assets/icons/indicatorWorkbench/collect-blue.svg" alt="" @click="collectIndicator(item)" />
            </template>
            <img v-else src="@/assets/icons/indicatorWorkbench/collected.svg" alt="" @click="cancelCollectIndicator(item)" />
          </div>
          <!-- 删除 -->
          <div class="hoverIconWrapper" v-allow="[1097046178137088]" v-if="isEditAuth(item)" @click="deleteIndicator(item)">
            <img class="noHoverIcon" src="@/assets/icons/indicatorWorkbench/delete.svg" alt="" />
            <img class="hoverIcon" src="@/assets/icons/indicatorWorkbench/delete-blue.svg" alt="" />
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import LineChart from "./LineChart";
import mixin from "../mixin";
import { formatData } from '@/utils/BusinessDataHandleUtil'
import { debounce } from "@/utils/common";

export default {
  mixins: [mixin],
  props: {
    dataList: {
      type: Array,
      required: true
    },
    loading: {
      type: Boolean,
      required: true
    },
    customTabList: {
      type: Array,
      required: true
    },
    pageCondition: {
      type: Object,
      required: true
    }
  },
  components: {
    LineChart
  },
  computed: {
    isShowPoptip() {
      return item => {
        const btnList = this.$store.state.user.btnAllowList;
        return (
          (item.type === 1 && this.isHasAuth(item) && btnList.some(ele => ele.id === 1097046178137089)) ||
          this.isOwn(item.creatorId) ||
          (this.customTabList.length && this.isHasAuth(item)) ||
          this.isPublishSuccess(item)
        );
      };
    },
    getLineDataLength() {
      return item => item.lineData?.length;
    }
  },
  methods: {
    // 处理千分位和小数以及数值单位
    handleYXQ(configData, originalValue) {
      if(originalValue === '--'){
        return '--'
      }else{
        let item = configData ? JSON.parse(configData) : {};
        let indicatorValue = originalValue ? originalValue : 0
        const config = {
          decimalDigits: item.decimalPlaces,
          numberUnit: item.numberUnit ? item.numberUnit : 'original',
          thousandth: !!item.thousandsSeparator,
          showType: item.showType
        }
        indicatorValue = formatData(indicatorValue, config);
        return indicatorValue;
      }
    },
    handleUnit(configData){
      let item = configData ? JSON.parse(configData) : {};
      return item.showType === 0 ? this.getUnit(item.numberUnit) : ''
    },
    handlePrefix(configData){
      let item = configData ? JSON.parse(configData) : {};
      return item.prefix ? item.prefix : ''
    },
    handleSuffix(configData){
      let item = configData ? JSON.parse(configData) : {};
      return item.suffix ? item.suffix : ''
    },
    getUnit(unit) {
      switch (unit) {
        case 'wan':
          return '(万)'
        case 'yi':
          return '(亿)'
        default:
          return ''
      }
    },
    /**
     * 滚动到底，加载下50个
     */
    onScroll: debounce(function () {
      const { pageSize, currentPage, total } = this.pageCondition;
      if (currentPage * pageSize >= total || this.loading) return;
      const scrollTop = this.$refs.cardContainer.scrollTop; // 滚动条距离顶部的距离
      const clientHeight = this.$refs.cardContainer.clientHeight; // 可视区的高度
      const scrollHeight = this.$refs.cardContainer.scrollHeight; //dom元素的高度，包含溢出不可见的内容
      if (scrollTop + clientHeight >= scrollHeight - 100) {
        this.$emit("scrollLoad");
      }
    })
  }
};
</script>

<style lang="less" scoped>
.cardList-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  .cardItemWrapper {
    width: calc(~"25% - 15px");
    height: 174px;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid rgba(235, 235, 235, 1);
    box-shadow: 0px 0px 6px 0px rgba(217, 217, 217, 0.5);
    border-radius: 4px;
    margin-bottom: 20px;
    &:not(:nth-child(4n)) {
      margin-right: 20px;
    }
    .cardView {
      height: calc(~"100% - 42px");
      padding: 16px 22px 24px 18px;
      .cardTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        .titleLeft {
          display: flex;
          .indicatorName {
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.65);
            letter-spacing: 0;
            font-weight: 600;
            margin-right: 14px;
          }
          .assetsGroup {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
            letter-spacing: 0;
            font-weight: 400;
          }
        }
        .titleRight {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #333333;
          letter-spacing: 0;
          &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: var(--statusBackgroundColor);
            margin-right: 6px;
          }
        }
      }
      .cardData {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dataLeft {
          width: calc(~'100% - 148px');
          .indicatorWrapper {
            margin-bottom: 12px;
            .indicatorValue {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              display: inline-block;
              font-family: PingFangSC-Medium;
              font-size: 30px;
              color: #262626;
              letter-spacing: 0;
              line-height: 29px;
              font-weight: 600;
              margin-right: 8px;
              .prefix, .suffix, .unit{
                opacity: 0.8;
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #232C58;
              }
            }
            .unitSuffix {
              opacity: 0.8;
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: #232c58;
              letter-spacing: 0;
              line-height: 10.24px;
            }
          }
          .yoyWrapper {
            .yoyLabel {
              opacity: 0.6;
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: #232c58;
              line-height: 8.96px;
              margin-right: 10px;
            }
            .yoyIcon {
              margin-right: 3px;
            }
            .yoyValue {
              font-family: PingFangSC-Medium;
              font-size: 12px;
              letter-spacing: 0;
              line-height: 8.96px;
              font-weight: 600;
            }
          }
        }
      }
    }

    .cardAction {
      width: 100%;
      height: 42px;
      background: #f8f8f8;
      border-radius: 4px 0px 4px 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px 0 17px;
      .actionLeft {
        display: flex;
        align-items: center;
        .actionName {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #595959;
          letter-spacing: 0;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 19px;
          }
          &:last-child {
            margin-right: 7px;
          }
        }
        /deep/.ivu-poptip {
          display: flex;
          .hoverIconWrapper {
            display: flex;
            align-items: center;
            cursor: pointer;
            .noHoverIcon {
              display: inline-block;
            }
            .hoverIcon {
              display: none;
            }
            &:hover {
              .noHoverIcon {
                display: none;
              }
              .hoverIcon {
                display: inline-block;
              }
            }
          }
          .ivu-poptip-popper {
            min-width: 0;
            width: 105px;
            .ivu-poptip-body {
              padding: 0;
              .actionWrapper {
                padding: 4px;
                .actionItem {
                  width: 80px;
                  height: 24px;
                  line-height: 24px;
                  border-radius: 2px;
                  padding: 0 4px;
                  font-family: PingFangSC-Regular;
                  font-size: 12px;
                  color: #333333;
                  cursor: pointer;
                  &:not(:last-child) {
                    margin-bottom: 4px;
                  }
                  &:hover {
                    background: #f0f5ff;
                    color: #3f73ff;
                  }
                }
              }
            }
          }
        }
      }
      .actionRight {
        display: flex;
        .hoverIconWrapper {
          display: flex;
          align-items: center;
          cursor: pointer;
          .noHoverIcon {
            display: inline-block;
          }
          .hoverIcon {
            display: none;
          }
          &:hover {
            .noHoverIcon {
              display: none;
            }
            .hoverIcon {
              display: inline-block;
            }
          }
          &:not(:last-child) {
            margin-right: 12px;
          }
        }
      }
    }
  }
}
</style>
