<template>
  <div>
    <CardView :item="item" :loading="loading" @on-share="onShare" />
    <!-- 权限分享弹窗 -->
    <AuthShareModal v-model="showAuthShare" :modal-status="authShareModalStatus" share-from="指标" />
  </div>
</template>

<script>
import CardView from '@/view/report/indicator/IndicatorDetail/components/ShowConfig/components/CardView.vue'
import AuthShareModal from '@/components/AuthShareModal/index.vue'
import mixin from '../mixin/indexTwo.js'
import objectManageMixin from '@/view/objectManage/object-manage-mixin'
import { getBusinessDate } from '@/utils/dateFormat'
import { getCompareDate } from '@/utils/chartDate'
import { getReportcardData } from '@/api/report'
import { ZERO_PRE_COMPARE_DATA_SHOW } from '@/config/ReportConstants'
import moment from 'moment'
import { formatCompareChangeRateData, formatCompareValueData } from '@/view/report/indicator-browser/formatData'
import { mapState } from 'vuex'

export default {
  name: 'CardItem',
  mixins: [mixin, objectManageMixin],
  components: {
    CardView,
    AuthShareModal,
  },
  props: {
    item: {
      type: Object,
        default: () => {
      },
    },
  },
  inject: ['globalVariableList', 'searchCondition'],
  data() {
    return {
      loading: false,
    }
  },
  computed: {
    ...mapState("department", ["deptDataList"]),
  },
  created() {
    let curDate = null
    if (this.searchCondition().time) {
      curDate = moment(this.searchCondition().time).format('YYYY-MM-DD')
    } else {
      curDate = getBusinessDate() // 默认取当前时间前一天
    }
    const compareDate = getCompareDate('SC', { startDate: curDate, endDate: curDate, compareType: 'mom' }, [, , , '2']) // 月同比日期
    this.initData(curDate, compareDate)
  },
  methods: {
    initData(curDate, compareDate) {
      this.loading = true
      const { id, type } = this.item
      const params = {
        dimensionIds: [globalVariable.defaultDayDimensionId],
        indicatorVos: [{ id, type, variables: this.getVariables(curDate) }],
        date: this.getDateByDays(curDate,7),
        yoyDate: {
          [id]: compareDate,
        },
        momDate: getCompareDate('C', { startDate: curDate, endDate: curDate, compareType: 'mom' }, [, , , '2']),
      }
      const configData = this.item.configData ? JSON.parse(this.item.configData) : {}
      const dateType = configData.dateType ?? 1
      if (dateType === 2) {
        // 近30天
        params.date = this.getDateByDays(curDate,30)
      }
      if (dateType === 3) {
        // 当月
        params.date = this.getDateByMonth(curDate,1)
      }
      if (dateType === 4) {
        params.date = this.getDateByMonth(curDate,3)
      }
      if (dateType === 5) {
        params.date = this.getDateByMonth(curDate,6)
      }
      if (dateType === 6) {
        params.date = this.getDateByMonth(curDate,'year')
      }
      getReportcardData(params).then((res) => {
        if (res.data.state === 'success') {
          this.loading = false
          let yoyAndMomData = {}
          // 同比环比数据处理
          if (res.data.data.yoyAndMomData) {
            yoyAndMomData = res.data.data.yoyAndMomData
            const { currentData, yoyData, momData } = yoyAndMomData
            let cur = currentData[0]?.[0]
            const yoy = yoyData[id]?.[0]?.[0]
            let yoyValue = formatCompareChangeRateData(cur, yoy, {}) //计算同比变化率
            let mValue = formatCompareChangeRateData(cur, momData?.[0]?.[0], {}) //计算环比变化率
            let mscale = this.processCompareData(cur, momData?.[0]?.[0], {}) // 环比值数据
            let yscale = this.processCompareData(cur, yoy, {}) //同比值数据
            if (mValue == 'Infinity%' || mValue == 'NaN%') {
              mValue = '--'
            }

            let yoyType = ''
            if (yoyValue === ZERO_PRE_COMPARE_DATA_SHOW || yoyValue === '0.00%') {
              yoyType = '同比持平'
            } else if (!yoyValue.includes('-')) {
              yoyType = '同比增长'
            } else if (yoyValue.includes('-')) {
              yoyType = '同比下降'
            }

            let momType = ''
            if (mValue === ZERO_PRE_COMPARE_DATA_SHOW || mValue === '0.00%') {
              momType = '环比持平'
            } else if (!mValue.includes('-')) {
              momType = '环比增长'
            } else if (mValue.includes('-')) {
              momType = '环比下降'
            }
            cur = cur ? Number(cur) : cur
            let info = {
              indicatorValue: cur?.toFixed(2) || ZERO_PRE_COMPARE_DATA_SHOW,
              yoyValue,
              yoyType,
              mValue,
              mscale,
              yscale,
              momType,
            }
            this.item = Object.assign(this.item, info, { indicatorValue: info.indicatorValue })
          } else {
            let info = {
              indicatorValue: ZERO_PRE_COMPARE_DATA_SHOW,
              yoyValue: ZERO_PRE_COMPARE_DATA_SHOW,
              yoyType: '同比持平',
              mValue: ZERO_PRE_COMPARE_DATA_SHOW,
              momType: '环比持平',
            }
            this.item = Object.assign(this.item, info)
          }


          // 进度条数据处理
          let goalData = {}
          if (res.data.data.goalData && res.data.data.goalData.length > 0) {
            goalData = res.data.data.goalData[0][0]
            if (goalData) {
              this.item.aimValue = Number(goalData.aimValue)
            }
          }

          // 预警数据处理
          if (res.data.data.warningData) {
            this.item.showforewarning = true
          } else {
            this.item.showforewarning = false
          }

          let lineData = []
          if (res.data.data.lineData && res.data.data.lineData.currentData?.length > 0) {
            lineData = res.data.data.lineData.currentData || []
            this.item.lineData = lineData
          }
        }
      })
    },

    getDateByDays(lastDay,days) {
      let startDate = moment(lastDay)
        .subtract(days - 1, 'days')
        .format('YYYY-MM-DD')
      let endDate = lastDay
      return { startDate, endDate }
    },

    /**
     * 获取近多少个月
     * @param months 月数
     */
    getDateByMonth(lastDay,months) {
      let startDate = null
      if (months === 'year') {
        // 当年
        startDate = moment(lastDay)
          .startOf('year')
          .format('YYYY-MM-DD') // 当年第一天
      } else {
        startDate = moment(lastDay)
          .subtract(months - 1, 'month')
          .startOf('month')
          .format('YYYY-MM-DD') // 这个月第一天
      }
      return { startDate, endDate: lastDay }
    },

    getVariables(curDate) {
      let variables = { businessDate: curDate }
      const searchCondition = this.searchCondition()
      // console.log('searchCondition===', searchCondition)
      const globalVariableCodeList = this.globalVariableList().map(item => item.varCode)
      if (searchCondition && Object.keys(searchCondition).length) {
        Object.keys(searchCondition).forEach(key => {
          if (globalVariableCodeList.includes(key)) {
            variables = Object.assign(variables, {
              [key]: searchCondition[key]
            })
          }
        })
      }
      // Haier临时解决方案
      const orgIdArr = this.searchCondition().orgIdArr
      if ( orgIdArr && orgIdArr.length) {
        const id = orgIdArr[0]
        const deptCode = this.deptDataList.find(item => item.id === id).deptCode
        variables = Object.assign(variables, {
          orgId: deptCode
        })
      }
      return variables
    },

    processCompareData(currentData, previousData, numberFormat) {
      return formatCompareValueData(currentData, previousData, numberFormat)
    },

    /**
     * 分享权限
     * @param data
     */
    onShare(data) {
      const { id, indicatorName, moduleType } = data
      this.showModal({ type: '权限分享', row: { id, name: indicatorName, moduleType } })
    },
  }
}
</script>
