<template>
  <div class="actionLeft">
    <!-- 发布到公共资源池，没有任何权限时，只展示申请权限按钮 -->
    <div
      class="actionName"
      v-if="from === 'publicResourcePool' && isCanApply && isNotAuth(row)"
      @click.stop="$emit('show:modal', { type: '申请权限', row })"
    >
      <img src="@/assets/icons/publicResourcePool/authApply.svg" alt="" />
      <span>申请权限</span>
    </div>

    <!-- 申请权限之后，逻辑和管理页一致 -->
    <template v-if="!isNotAuth(row)">
      <div
        class="actionName"
        v-if="isHasAuth(row)"
        @click="gotoDetailPage(row)"
      >
        <img src="@/assets/icons/earlyWarningTarget/view.svg" alt="" />
        <span>查看</span>
      </div>
      <div
        class="actionName"
        v-if="isEditAuth(row)"
        v-allow="[1097046178137090]"
        @click="goEditPage(row)"
      >
        <img src="@/assets/icons/earlyWarningTarget/edit.svg" alt="" />
        <span>编辑</span>
      </div>
      <div
        class="actionName"
        v-if="isShowChangeStatusIcon(row)"
        @click="changeIndicatorStatus(row)"
      >
        <img :src="showStatusDataByKey(row.status, 'actionIcon')" alt="" />
        <span>{{ showStatusDataByKey(row.status, "actionLabel") }}</span>
      </div>
      <Poptip trigger="hover" placement="left" v-if="isShowPoptip(row)">
        <div class="hoverIconWrapper">
          <img
            class="noHoverIcon"
            src="@/assets/icons/indicatorWorkbench/moreVertical.svg"
            alt=""
          />
          <img
            class="hoverIcon"
            src="@/assets/icons/indicatorWorkbench/moreVertical-blue.svg"
            alt=""
          />
        </div>
        <template #content>
          <div class="actionWrapper">
            <div
              class="actionItem"
              v-if="isEditAuth(row)"
              @click.stop="copyIndicator(row)"
            >
              复制
            </div>
            <div
              class="actionItem"
              v-allow="[1097046178137089]"
              v-if="row.type === 1 && isHasAuth(row)"
              @click.stop="createDerive(row)"
            >
              创建派生指标
            </div>
            <div
              class="actionItem"
              v-if="isOwn(row.creatorId)"
              @click.stop="$emit('show:modal', { type: '变更所有者', row })"
            >
              变更所有者
            </div>
            <div
              class="actionItem"
              v-if="
                from === 'publicResourcePool' &&
                isCanApply &&
                !isHasAllAuth(row)
              "
              @click.stop="$emit('show:modal', { type: '申请权限', row })"
            >
              申请权限
            </div>
            <div
              class="actionItem"
              v-if="isPublishSuccess(row)"
              @click.stop="authShareIndicator(row)"
            >
              权限分享
            </div>
            <div
              class="actionItem"
              v-if="isEditAuth(row)"
              v-allow="[1097046178137088]"
              @click.stop="deleteIndicator(row)"
            >
              删除
            </div>
          </div>
        </template>
      </Poptip>
    </template>
  </div>
</template>

<script>
import resourcePublish from "@/mixins/resourcePublish";
import { extraTextDot } from "@/utils/formatString";
import { deleteIndicator, copyIndicator } from "@/api/indicatorWorkbench";
import { TYPE_INDICATOR } from "@/view/components/DeleteAssetModal/constant";
import { mapGetters } from "vuex";

export default {
  mixins: [resourcePublish],
  props: {
    // 当前组件用于哪一个页面
    from: {
      type: String,
      required: true,
    },
    row: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters(["isCanApply"]),
    isShowPoptip() {
      return (row) => {
        const btnList = this.$store.state.user.btnAllowList;
        return (
          this.isEditAuth(row) ||
          (row.type === 1 &&
            this.isHasAuth(row) &&
            btnList.some((ele) => ele.id === 1097046178137089)) ||
          this.isOwn(row.creatorId) ||
          (this.from === "publicResourcePool" &&
            this.isCanApply &&
            !this.isOwn(row.creatorId)) ||
          this.isPublishSuccess(row) ||
          (this.isEditAuth(row) &&
            btnList.some((ele) => ele.id === 1097046178137088))
        );
      };
    },
  },
  methods: {
    gotoDetailPage({ id, type }) {
      this.$emit("record:condition"); // 记录当前的页码、筛选条件
      this.$router.push({
        path: "/manager/indicator/indicator_detail",
        query: {
          id,
          type,
        },
      });
    },
    goEditPage({ id, type }) {
      this.$emit("record:condition");
      this.$router.push({
        path: "/manager/indicator/indicator_detail",
        query: {
          id,
          type,
          edit: 1,
        },
      });
    },
    /**
     * 发布/下线指标
     */
    changeIndicatorStatus(row) {
      const { id, moduleType, status } = row;
      const name =
        this.from === "publicResourcePool" ? row.name : row.indicatorName;
      this.changeStatus({ id, name, moduleType, status });
    },
    /**
     * 指标权限分享
     */
    authShareIndicator(row) {
      const { id, moduleType } = row;
      const name =
        this.from === "publicResourcePool" ? row.name : row.indicatorName;
      this.$emit("show:modal", {
        type: "权限分享",
        row: { id, name, moduleType },
      });
    },
    /**
     * 复制指标
     * @param {*} id 指标id
     * @param {*} type 指标类型
     */
    // async copyIndicator({ id, type }) {
    //   const res = await copyIndicator(id, type);
    //   if (res.data.state === "success") {
    //     this.$Message.success("指标复制成功！");
    //     this.$emit("refresh:data");
    //   } else {
    //     this.$Message.warning(res.data.message);
    //   }
    // },
    copyIndicator(row) {
      this.$emit("record:condition");
      this.$router.push({
        path: "/manager/indicator/indicator_detail",
        query: {
          type: row.type,
          add: 1,
          isCopy: 1,
          id: row.id,
        },
      });
    },
    /**
     * 创建派生指标
     */
    createDerive({ id }) {
      this.$router.push({
        path: "/manager/indicator/indicator_detail",
        query: {
          type: 3,
          add: 1,
          derivedFrom: id,
        },
      });
    },
    /**
     * 删除指标
     */
    deleteIndicator(row) {
      const { id, type } = row;
      const name =
        this.from === "publicResourcePool" ? row.name : row.indicatorName;
      const text = extraTextDot(name, 12);
      this.$Modal.confirm({
        title: `确认删除“${text}”指标吗？`,
        content: "删除后不可撤销",
        okText: "确认",
        onOk: async () => {
          const res = await deleteIndicator(id, type);
          if (res.data.state === "success") {
            this.$Message.success(`删除指标成功！`);
            this.$emit("refresh:data");
          } else {
            this.$emit("show:modal", {
              type: "删除",
              row: { id, name, type: TYPE_INDICATOR, resData: res.data.data },
            });
          }
        },
      });
    },
  },
};
</script>

<style lang="less" scoped>
.actionLeft {
  display: flex;
  align-items: center;
  .actionName {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 19px;
    }
    &:last-child {
      margin-right: 7px;
    }
    img {
      margin-right: 5px;
    }
    span {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #3f73ff;
      letter-spacing: 0;
    }
  }
  /deep/.ivu-poptip {
    display: flex;
    .hoverIconWrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      .noHoverIcon {
        display: inline-block;
      }
      .hoverIcon {
        display: none;
      }
      &:hover {
        .noHoverIcon {
          display: none;
        }
        .hoverIcon {
          display: inline-block;
        }
      }
    }
    .ivu-poptip-popper {
      min-width: 0;
      width: 105px;
      .ivu-poptip-body {
        padding: 0;
        .actionWrapper {
          padding: 4px;
          .actionItem {
            width: 80px;
            height: 24px;
            line-height: 24px;
            border-radius: 2px;
            padding: 0 4px;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #333333;
            text-align: left;
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 4px;
            }
            &:hover {
              background: #f0f5ff;
              color: #3f73ff;
            }
          }
        }
      }
    }
  }
}
</style>
