<template>
  <div style="width: 142px; height: 49px;" class="lineChart-container" ref="lineChart"></div>
</template>

<script>
import * as echarts from "echarts";
import { on, off } from "@/libs/tools";

export default {
  props: {
    lineData: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      dom: null
    };
  },
  mounted() {
    this.dom = echarts.init(this.$refs.lineChart);
    this.refreshLineChart();
  },
  methods: {
    refreshLineChart() {
      const option = {
        grid: {
          containLabel: true,
          left: 0,
          right: 0,
          top: 0,
          bottom: 0
        },
        xAxis: {
          data: this.lineData.map(item => item[0]),
          // 轴线
          axisLine: {
            show: false
          },
          // 轴刻度
          axisTick: {
            show: false
          },
          // 轴刻度标签
          axisLabel: {
            show: false
          },
          splitLine: {
            show: false
          }
        },
        yAxis: {
          axisLine: {
            show: false
          },
          axisTick: {
            show: false
          },
          axisLabel: {
            show: false
          },
          splitLine: {
            show: false
          }
        },
        series: {
          type: "line",
          data: this.lineData.map(item => item[1]),

          // 拐点
          showSymbol: false,
          connectNulls: true,

          // 折线的样式
          lineStyle: {
            color: "#3f73ff",
            width: 1
          },

          // 设置面积图
          areaStyle: {
            color: {
              type: "linear",
              x: 0,
              y: 0,
              x2: 0,
              y2: 1,
              colorStops: [
                {
                  offset: 0,
                  color: "rgba(92,165,237,0.75)" // 0% 处的颜色
                },
                {
                  offset: 0.6,
                  color: "rgba(92,165,237,0.35)"
                },
                {
                  offset: 0.8,
                  color: "rgba(92,165,237,0.05)"
                }
              ],
              global: false
            },
            shadowColor: "rgba(92,165,237,0.3)",
            shadowBlur: 6
          }
        }
      };
      this.dom.setOption(option, true);
      on(window, "resize", this.resize);
    },
    resize() {
      this.dom && this.dom.resize();
    }
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  watch: {
    lineData: {
      handler() {
        this.refreshLineChart();
      },
      deep: true
    }
  }
};
</script>

<style lang="less" scoped>
.lineChart-container {
  width: 100%;
  height: 100%;
}
</style>
