<template>
  <div class="cardList-container">
    <div class="cardItemWrapper" v-for="(item) in dataList" :key="item.id">
      <CardItem :item="item" />
    </div>
  </div>
</template>

<script>
import LineChart from './LineChart'
import mixin from '../mixin'
import objectManageMixin from '@/view/objectManage/object-manage-mixin'
import CardItem from './CardItem.vue'

export default {
  mixins: [mixin, objectManageMixin],
  props: {
    dataList: {
      type: Array,
      required: true,
    }
  },
  components: {
    LineChart,
    CardItem,
  }
}
</script>

<style scoped lang="less">

.card-view {
  position: relative;

  .posImg {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 12px;
    height: 12px;
  }

  .title {
    color: #333333;
  }

  .card {

    overflow: hidden;
    padding: 0 16px;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;

    .left {
      width: 50%;
      padding-right: 16px;
      font-size: 14px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.85);

      span {
        cursor: pointer;
      }
    }

    .right {
      width: 50%;
      display: flex;
      justify-content: space-between;

      .warning {
        background: #F78C22 url('~@/assets/icons/indicatorIcon/warning.png') no-repeat 5px 1px ~'/' 18px 18px;
        border-radius: 4px;
        padding: 3px 7px 4px 26px;
        color: #FFFFFF;
      }

      .toolbar {
        display: flex;
        align-items: center;

        i > {
          vertical-align: middle;
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-left: 8px;
          cursor: pointer;
        }

        .collect {
          background: url('~@/assets/icons/indicatorIcon/collect.svg');
        }

        .share {
          background: url('~@/assets/icons/indicatorIcon/share.svg');
        }

        .more {
          background: url('~@/assets/icons/indicatorIcon/more.svg');
        }
      }
    }
  }

  .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .left {
      width: 50%;
      padding-right: 16px;

      .value {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;

        > span {
          font-size: 22px;
          color: rgba(0, 0, 0, 0.85);
          font-weight: bold;
          margin-right: 3px;
        }
      }

      .yoy,
      .mom {
        color: rgba(35, 44, 88, 0.6);
        font-weight: 400;

        > i {
          margin-left: 4px;
          display: inline-block;
          width: 16px;
          height: 16px;
          vertical-align: -4px;

          &.decline {
            background: url('~@/assets/icons/indicatorIcon/arrow_decline.svg') no-repeat center;
          }

          &.rise {
            background: url('~@/assets/icons/indicatorIcon/arrow_rise.svg') no-repeat center;
          }
        }

        > span {
          margin-left: 4px;
          color: rgba(0, 0, 0, 0.65);
          font-weight: bold;
        }
      }
    }

    .right {
      width: 50%;
      height: 64px;
    }
  }

  .card-footer {
    margin-top: 10px;
    color: rgba(35, 44, 88, 0.6);
    display: flex;
    align-items: center;

    /deep/ .ivu-progress {
      flex: 1;
      margin-left: 12px;
    }
  }
}

</style>


<style lang="less" scoped>
.cardList-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .cardItemWrapper {
    flex-shrink: 0;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

</style>
<style lang="scss">
.actionProp {
  min-width: 90px;

  .ivu-poptip-body {
    padding: 0px;
  }

  .actionWrapper {
    padding: 4px 0;

    .actionItem {

      height: 24px;
      line-height: 24px;
      border-radius: 2px;
      padding: 0 6px;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333333;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 4px;
      }

      &:hover {
        background: #f0f5ff;
        color: #3f73ff;
      }
    }
  }
}
</style>
