<template>
  <div class="storyBoard-container">
    <header class="header">
      <FaTreeSelect
        class="storyTreeWrapper custom-tree"
        :selected="currentStoryBoardId"
        :treeData="storyTreeDataF"
        :render="renderTip"
        @changeVal="storyChange"
      />

      <div class="btn">
        <div class="manageBtn" @click="goToManage">
          <img src="@/assets/icons/indicatorWorkbench/storyManage.svg" alt="" />
          <span>故事管理</span>
        </div>
        <div
          class="editBtn"
          v-if="currentStoryCreator === $store.state.user.userName"
          @click="goEditStory"
        >
          <img
            class="addIcon"
            src="@/assets/icons/indicatorWorkbench/edit-blue.svg"
            alt=""
          />
          <span>编辑</span>
        </div>
        <div class="createBtn" @click="goCreateStory">
          <img
            class="addIcon"
            src="@/assets/icons/indicatorWorkbench/addIcon.svg"
            alt=""
          />
          <span>新建</span>
        </div>
      </div>
    </header>
    <section class="container" ref="seeksStoryBoardSet">
      <board-mini-tool-bar
        @isFullscreen="isFullscreen"
        :viewELSize="viewELSize"
      ></board-mini-tool-bar>
      <IndicatorNode
        :data="indicatorNode"
        @goDetail="goDetail"
        @showWarn="showWarnModal"
      />
      <ViewWarningModal
        :show-view="showViewTaskModal"
        :default-data="viewTaskRule"
        @closeModal="showViewTaskModal = false"
      />
    </section>
  </div>
</template>

<script>
import screenfull from "screenfull";
import "@/components/relation-graph/core4vue/SeeksGraphIconfont";
import BoardMiniToolBar from "../../storyBoard/components/boardMiniToolBar";
import FaTreeSelect from "@/components/treeSelect/fa-treeSelect.vue";
import IndicatorNode from "../../storyBoard/components/IndicatorNode.vue";
import ViewWarningModal from "@/view/earlyWarningTarget/earlyWarningTargetIndex/components/ViewWarningModal/index.vue";
import { queryChartData } from "@/api/report";
import moment from "moment";
import {
  getStoryBoardGroupWithStoryBoard,
  getStoryBoardDetail,
} from "@/api/storyBoard";
import { getTaskInfo } from "@/api/earlyWarningTarget";
import { deepCopy } from "@/utils/common";
import { formatCompareChangeRateData } from "@/view/report/indicator-browser/formatData";
import { ZERO_PRE_COMPARE_DATA_SHOW } from "@/config/ReportConstants";
import taskDetail from "@/view/earlyWarningTarget/earlyWarningTargetIndex/mixin/taskDetail";
import { mapActions, mapMutations, mapState } from "vuex";
import { recursiveIndicatorGroup } from "@/utils/formatTree";

export default {
  name: "StoryBoard",
  mixins: [taskDetail],
  components: {
    FaTreeSelect,
    IndicatorNode,
    ViewWarningModal,
    BoardMiniToolBar,
  },
  data() {
    return {
      storyTreeData: [], // 故事列表树
      currentStoryCreator: "", // 当前故事创建人
      currentStoryBoardId: "", // 当前展示故事的id
      indicatorNode: [], // 当前故事的节点树
      showViewTaskModal: false,
      viewTaskRule: {},
      viewELSize: {
        width: 1000,
        height: 600,
      },
    };
  },
  computed: {
    ...mapState("indicatorWorkbench", ["storyBoardId", "historyId"]),
    ...mapState("department", ["deptTreeData"]),
    ...mapState("role", ["roleTreeData"]),
    storyTreeDataF() {
      return deepCopy(this.storyTreeData);
    },
  },
  async created() {
    this.fetchDimension(); // 获取维度(查看弹窗使用)
    this.fetchIndicator(); // 获取指标(查看弹窗使用)

    if (!this.deptTreeData.length) {
      this.fetchDeptTree(); // 获取部门树(编辑/查看弹窗使用)
    }
    if (!this.roleTreeData.length) {
      this.fetchRoleTree(); // 获取角色树(编辑/查看弹窗使用)
    }
    this.fetchDataSource(); // 获取数据源(查看弹窗使用)

    await this.getAllStoryGroup();
    if (this.historyId) {
      this.currentStoryBoardId = this.historyId;
    } else {
      this.currentStoryBoardId = this.getFirstStoryId(this.storyTreeData);
    }
    this.getCurrentStoryData();
  },
  mounted() {
    this.refreshViewELSize();
    let that = this;
    window.addEventListener(
      "resize",
      () => {
        that.refreshViewELSize();
      },
      false
    );
  },
  methods: {
    ...mapMutations(["setDataIsDeleted"]),
    ...mapMutations("indicatorWorkbench", [
      "setStoryBoardId",
      "setIsReturnFromDetail",
      "setHistoryId",
    ]),
    ...mapActions("earlyWarningTarget", [
      "fetchIndicator",
      "fetchDimension",
      "fetchDataSource",
    ]),
    ...mapActions("department", ["fetchDeptTree"]),
    ...mapActions("role", ["fetchRoleTree"]),
    // render函数
    renderTip(h, { root, node, data }) {
      return (
        <div class="tree-title-span" title={data.title}>
          {data.title}
        </div>
      );
    },
    /**
     * 选择故事
     * @param {String} id 故事id
     */
    storyChange({ id }) {
      this.currentStoryBoardId = id;
      this.setHistoryId(this.currentStoryBoardId);
      this.getCurrentStoryData();
    },
    /**
     * 获取所有故事
     */
    async getAllStoryGroup() {
      const res = await getStoryBoardGroupWithStoryBoard();
      if (res.data.state === "success") {
        const { groupList, storyBoardList } = res.data.data;

        // 获取故事分组树
        const allData = [...groupList, ...storyBoardList];
        const root = [
          {
            deep: 1,
            id: -1,
            title: "root",
            expand: false,
            disabled: true,
            treeType: "group",
          },
        ];
        recursiveIndicatorGroup(root, allData);
        this.storyTreeData = root;
      } else {
        this.$Message.error("获取故事列表失败！");
      }
    },
    /**
     * 获取第一个文件夹下的故事id（深度搜索）
     */
    getFirstStoryId(data) {
      for (const storyObj of data) {
        if (storyObj.treeType === "value") {
          return storyObj.id;
        }
        if (storyObj.children.length) {
          return this.getFirstStoryId(storyObj.children);
        }
      }
    },
    /**
     * 获取当前故事的数据（基本 + 每个指标的同比率/环比率/指标值）
     */
    async getCurrentStoryData() {
      const { allIndicator, rootNode, creator } =
        await this.getCurrentStoryBasisData();
      this.indicatorNode = rootNode;
      this.currentStoryCreator = creator;

      // 异步获取指标值、同比数据、环比数据
      const yesterday = moment().subtract(1, "days").format("YYYY-MM-DD");
      const momDate = moment().subtract(2, "days").format("YYYY-MM-DD"); // 环比日期
      const yoyDateStr = moment()
        .subtract(1, "month")
        .subtract(1, "days")
        .format("YYYY-MM-DD"); // 月同比日期
      allIndicator.forEach(async (ele) => {
        const indicatorData = await this.getIndicatorData({
          yesterday,
          momDate,
          yoyDateStr,
          id: ele.id,
          type: ele.type,
        });
        const earlyWarningData = await this.getEarlyWarningData(ele.id);
        // console.log("其他数据", indicatorData, earlyWarningData);
        let arr = deepCopy(this.indicatorNode);
        this.fillData(arr, {
          id: ele.id,
          ...indicatorData,
          ...earlyWarningData,
        });
        this.indicatorNode = arr;
      });
    },
    /**
     * 获取当前故事的基本数据
     */
    async getCurrentStoryBasisData() {
      const res = await getStoryBoardDetail(this.currentStoryBoardId);
      if (res.data.state === "success") {
        const { cardNodes, cardLines, creator } = res.data.data;
        const allIndicator = cardNodes.map((ele) => ({
          id: ele.indicatorId,
          type: ele.indicatorType,
        })); // 指标
        const endNodeIds = cardLines.map((cardLine) => cardLine["endNodeId"]);
        let rootNode = cardNodes.filter(
          (cardNode) => !endNodeIds.includes(cardNode.id)
        ); // 根节点
        this.buildTreeNode(rootNode[0], cardLines, cardNodes);
        return {
          allIndicator,
          rootNode,
          creator,
        };
      } else if (
        res.data.state === "error" &&
        res.data.errorCode === "100014"
      ) {
        this.setDataIsDeleted(true);
      }
    },
    /**
     * 构建节点树
     * @param {Object} node 根节点信息
     * @param {Array} lines 当前故事节点的连线数据
     * @param {Array} nodes 当前故事的节点数据
     */
    buildTreeNode(node, lines, nodes) {
      let childrenNodes = lines
        .filter((line) => line["startNodeId"] === node.id)
        .map((line) => {
          let node = nodes.find((n) => n.id === line["endNodeId"]);
          node.leftLine = line;
          return node;
        });
      node.children = childrenNodes;
      if (childrenNodes.length > 0) {
        childrenNodes.forEach((child) =>
          this.buildTreeNode(child, lines, nodes)
        );
      }
    },
    /**
     * 获取指标的同比率、环比率
     * @param {Array} indicators 指标参数
     * @param {Array} currentIndicatorNodeData 当前故事的节点树
     * @param {Array} map 当前故事的节点数据
     */
    async getIndicatorData({ yesterday, momDate, yoyDateStr, id, type }) {
      const params = {
        dimensionIds: [],
        indicatorVos: [{ id, type, variables: { businessDate: yesterday } }],
        date: {
          startDate: yesterday,
          endDate: yesterday,
        },
        momDate: {
          startDate: momDate,
          endDate: momDate,
        },
        yoyDate: {
          [id]: { startDate: yoyDateStr, endDate: yoyDateStr },
        },
      };
      const res = await queryChartData(params);
      if (res.data.state === "success") {
        const { currentData, momData, yoyData } = res.data.data;
        console.log("指标值", res.data.data);
        const cur = currentData?.[0]?.[0];
        const mom = momData?.[0]?.[0];
        const yoy = yoyData[id]?.[0]?.[0];
        const momPercent = formatCompareChangeRateData(cur, mom, {}); // 计算环比变化率
        const yoyPercent = formatCompareChangeRateData(cur, yoy, {}); // 计算月同比变化率

        return {
          cur: cur?.toFixed(2) || ZERO_PRE_COMPARE_DATA_SHOW,
          momPercent,
          yoyPercent,
        };
      } else {
        return {
          cur: ZERO_PRE_COMPARE_DATA_SHOW,
          momPercent: ZERO_PRE_COMPARE_DATA_SHOW,
          yoyPercent: ZERO_PRE_COMPARE_DATA_SHOW,
        };
      }
    },
    /**
     * 获取预警数据
     * @param {*} id 指标id
     */
    async getEarlyWarningData(id) {
      const res = await getTaskInfo(id);
      if (res.data.state === "success") {
        if (res.data.data) {
          console.log("预警", res.data.data);
          const { taskType, warnLevel, execStatus, limitValue, taskId } =
            res.data.data;
          // 触发预警且成功
          if (execStatus === 3) {
            return {
              taskType,
              level: warnLevel,
              targetValue: limitValue,
              taskId,
            };
          }
        }
      }
    },
    /**
     * 递归添加指标值、同比率、环比率
     */
    fillData(data, indicatorData) {
      const {
        id,
        cur,
        momPercent,
        yoyPercent,
        taskType,
        level,
        targetValue,
        taskId,
      } = indicatorData;
      data.forEach((item) => {
        if (item.indicatorId === id) {
          item.value = cur;
          item.mom = momPercent;
          item.yoy = yoyPercent;
          item.taskType = taskType;
          item.level = level;
          item.targetValue = targetValue;
          item.taskId = taskId;
        }

        if (item.children?.length > 0) {
          this.fillData(item.children, indicatorData);
        }
      });
    },
    /**
     * 故事管理
     */
    goToManage() {
      this.$router.push("/manager/story/storyManage");
    },
    /**
     * 编辑当前故事
     */
    goEditStory() {
      this.$router.push({
        path: "/indicatorWorkbench/storyBoardAdd",
        query: {
          id: this.currentStoryBoardId,
        },
      });
    },
    goCreateStory() {
      this.$router.push("/indicatorWorkbench/storyBoardAdd");
    },
    /**
     * 去指标详情页
     */
    goDetail({ indicatorId, indicatorName, indicatorType }) {
      this.setStoryBoardId(this.currentStoryBoardId);
      this.$router.push({
        path: "/indicatorWorkbench/indicatorWorkbenchDetail",
        query: {
          id: indicatorId,
          name: indicatorName,
          type: indicatorType,
          tab: 2,
        },
      });
    },
    /**
     * 展示预警规则弹窗
     */
    async showWarnModal({ taskId, level }) {
      const taskRule = await this.getTaskDetail(taskId);
      this.viewTaskRule = {
        ...taskRule,
        watchStatus: level + 1,
      };
      this.showViewTaskModal = true;
    },
    /**
     * 全屏展示
     */
    isFullscreen() {
      screenfull.toggle(this.$refs.seeksStoryBoardSet);
    },
    /**
     * 获取看板宽高
     */
    refreshViewELSize() {
      if (!this.$refs.seeksStoryBoardSet) {
        // console.error("cannot get view size !");
        return;
      }
      const _view_info = this.$refs.seeksStoryBoardSet.getBoundingClientRect();
      this.viewELSize.width = _view_info.width;
      this.viewELSize.height = _view_info.height;
    },
  },
  beforeDestroy() {
    const elx = this.$refs.seeksStoryBoardSet;
    elx.remove();
  },
};
</script>

<style lang="less" scoped>
.storyBoard-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 14px 19px 4px;
  .header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;

    .storyTreeWrapper {
      width: 210px;
      /deep/.ivu-select-dropdown {
        max-width: 210px;
        padding: 0;
        .treeContainer-fa-tree {
          overflow: auto;
          .ivu-tree-arrow-disabled {
            cursor: pointer;
          }
        }
      }
    }

    .btn {
      display: flex;
      .manageBtn {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 16px;
        img {
          margin-right: 8px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #3f73ff;
        }
      }

      .editBtn {
        width: 72px;
        height: 32px;
        border: 1px solid #3f73ff;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 16px;
        .addIcon {
          margin-right: 8px;
        }
        span {
          color: #3f73ff;
        }
      }

      .createBtn {
        width: 72px;
        height: 32px;
        background: #3f73ff;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .addIcon {
          margin-right: 8px;
        }
        span {
          color: #ffffff;
        }
      }
    }
  }
  .container {
    width: 100%;
    height: calc(~"100% - 60px");
    background-color: #f5f5f5;
    > .indicatorNode-container {
      width: 100%;
      height: 100%;
      padding: 48px;
      overflow: auto;
    }
  }
}
/deep/ .ivu-tree-title {
  .tree-title-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
