<template>
  <Modal class="syncToModal-container" :value="modalStatus.show" @on-cancel="onCancel" title="同步至" width="320" footer-hide>
    <div class="syncToWrapper">
      <section class="customTabItem" v-for="item in customTabList" :key="item.id">
        <CheckboxGroup v-model="syncTabList">
          <Checkbox :label="item.id">{{ item.name }}</Checkbox>
        </CheckboxGroup>
      </section>
      <div class="actionBtn">
        <section class="cancelBtn" @click="onCancel">取消</section>
        <section class="confirmBtn" @click="onConfirm">确认</section>
      </div>
    </div>
  </Modal>
</template>

<script>
import { syncToOtherTab, cancelCollect } from "@/api/indicatorWorkbench";
import { deepCopy } from "@/utils/common";

export default {
  props: {
    modalStatus: {
      type: Object,
      required: true
    },
    customTabList: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      syncTabList: [], // 要同步的tab
      checkedIdListCopy: [] // 当前指标已同步的tab
    };
  },
  watch: {
    customTabList: {
      handler(newVal) {
        const checkedIdList = newVal.filter(ele => ele.checked).map(ele => ele.id); // 已同步的tab
        this.checkedIdListCopy = deepCopy(checkedIdList);
        this.syncTabList = checkedIdList;
      },
      deep: true
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.syncTabList = [];
      this.$emit("closeModal");
    },
    /**
     * 同步到其他tab
     */
    async onConfirm() {
      const cancelList = this.checkedIdListCopy.filter(ele => !this.syncTabList.includes(ele));
      const syncList = this.syncTabList.filter(ele => !this.checkedIdListCopy.includes(ele));
      console.log(cancelList, syncList);

      const promise = [];
      // 取消同步
      if (cancelList.length) {
        cancelList.forEach(ele => {
          promise.push(cancelCollect({ tabId: ele, indicatorId: this.modalStatus.indicatorId }));
        });
      }
      // 同步
      if (syncList.length) {
        syncList.forEach(ele => {
          promise.push(syncToOtherTab({ tabId: ele, indicatorId: this.modalStatus.indicatorId }));
        });
      }
      if (promise.length) {
        const resArr = await Promise.all(promise);
        if (resArr.every(ele => ele.data.state === "success")) {
          this.$Message.success("同步指标成功！");
          this.$emit("syncSuccess", { id: this.modalStatus.indicatorId, list: this.syncTabList });
          this.syncTabList = [];
        }
      }
      this.$emit("closeModal");
    }
  }
};
</script>

<style lang="less" scoped>
.syncToModal-container {
  /deep/.ivu-modal {
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-body {
        padding: 0;
      }
    }
  }
}

.syncToWrapper {
  padding: 16px 24px 23px;
  .customTabItem {
    margin-bottom: 14px;
    &:last-of-type {
      margin-bottom: 30px;
    }
    /deep/.ivu-checkbox-wrapper {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #000000;
      .ivu-checkbox {
        margin-right: 8px;
      }
    }
  }
  .actionBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    .cancelBtn,
    .confirmBtn {
      width: 72px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      cursor: pointer;
    }
    .cancelBtn {
      border: 1px solid rgba(217, 217, 217, 1);
      margin-right: 16px;
      color: #949494;
    }
    .confirmBtn {
      background: #3f73ff;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #ffffff;
    }
  }
}
</style>
