<template>
  <div class="tableList-container" ref="tableContainer">
    <!-- tableWrapper 元素是为了移除 Table 组件的定位，从而使内部的 Poptip 可以超出容器展示-->
    <div class="tableWrapper">
      <Table :loading="loading" :columns="tableColumns" :data="dataList" :height="tableHeight">
        <template slot-scope="{ index }" slot="index">{{ formatIndex(index + 1) }}</template>
        <template slot-scope="{ row }" slot="indicatorName">
          <span :title="row.indicatorName">{{ formatName(row.indicatorName, 15) }}</span>
        </template>
        <template slot-scope="{ row }" slot="assetsGroupName">
          <span :title="row.assetsGroupName">{{ formatName(row.assetsGroupName, 15) }}</span>
        </template>
        <template slot-scope="{ row }" slot="indicatorValue">
          <span :title="row.indicatorValue" v-if="row.type !== 4">{{ handleYXQ(row.configData ,row.indicatorValue) }}</span>
          <span :title="row.indicatorValue" v-else>{{ row.indicatorValue }}</span>
        </template>
        <template slot-scope="{ row }" slot="yoyValue">
          <div class="yoyWrapper">
            <img class="yoyIcon" v-if="row.yoyType === '同比增长'" src="@/assets/icons/indicatorWorkbench/redArrowUp.svg" alt="" />
            <img class="yoyIcon" v-else-if="row.yoyType === '同比下降'" src="@/assets/icons/indicatorWorkbench/greenArrowDown.svg" alt="" />
            <span class="yoyValue" :style="{ color: yoyColor(row.yoyType) }">{{ row.yoyValue }}</span>
          </div>
        </template>
        <template slot-scope="{ row }" slot="status">
          <div class="titleRight" :style="{ '--statusBackgroundColor': showStatusDataByKey(row.status, 'prefixColor') }">
            {{ showStatusDataByKey(row.status, "label") }}
          </div>
        </template>
        <template slot-scope="{ row }" slot="operation">
          <div class="actionLeft">
            <div class="actionName" v-if="row.type !== 4 && isHasAuth(row)" @click="gotoDetail(row)">
              <img src="@/assets/icons/earlyWarningTarget/view.svg" alt="" />
              <span>详情</span>
            </div>
            <div class="actionName" v-if="isEditAuth(row)" v-allow="[1097046178137090]" @click="gotoEdit(row)">
              <img src="@/assets/icons/earlyWarningTarget/edit.svg" alt="" />
              <span>编辑</span>
            </div>
            <div class="actionName" v-if="isShowChangeStatusIcon(row)" @click="changeIndicatorStatus(row)">
              <img :src="showStatusDataByKey(row.status, 'actionIcon')" alt="" />
              <span>{{ showStatusDataByKey(row.status, "actionLabel") }}</span>
            </div>
            <Poptip trigger="hover" placement="left">
              <div class="hoverIconWrapper">
                <img class="noHoverIcon" src="@/assets/icons/indicatorWorkbench/moreVertical.svg" alt="" />
                <img class="hoverIcon" src="@/assets/icons/indicatorWorkbench/moreVertical-blue.svg" alt="" />
              </div>
              <template #content>
                <div class="actionWrapper">
                  <div class="actionItem" v-if="isEditAuth(row)" @click.stop="copyIndicator(row)">复制</div>
                  <template v-if="isHasAuth(row)">
                    <div class="actionItem" v-if="!row.isCollect" @click.stop="collectIndicator(row)">收藏</div>
                    <div class="actionItem" v-else @click.stop="cancelCollectIndicator(row)">取消收藏</div>
                  </template>
                  <div class="actionItem" v-allow="[1097046178137089]" v-if="row.type === 1 && isHasAuth(row)" @click.stop="createDerive(row)">创建派生指标</div>
                  <div class="actionItem" v-if="isOwn(row.creatorId)" @click.stop="changeOwner(row)">变更所有者</div>
                  <div class="actionItem" v-if="customTabList.length && isHasAuth(row)" @click.stop="syncTo(row)">同步至</div>
                  <div class="actionItem" v-if="isPublishSuccess(row)" @click.stop="shareAuth(row)">权限分享</div>
                  <div class="actionItem" v-allow="[1097046178137088]" v-if="isEditAuth(row)" @click.stop="deleteIndicator(row)">删除</div>
                </div>
              </template>
            </Poptip>
          </div>
        </template>
      </Table>
    </div>

    <section class="pageWrapper">
      <Page
        show-elevator
        show-sizer
        show-total
        :page-size-opts="[15, 20, 25, 30]"
        :page-size="pageCondition.pageSize"
        :current="pageCondition.currentPage"
        :total="pageCondition.total"
        @on-change="handlePageChange"
        @on-page-size-change="handlePageSizeChange"
      />
    </section>
  </div>
</template>

<script>
import mixin from "../mixin";
import _, { isNumber } from 'lodash'
import { formatData } from '@/utils/BusinessDataHandleUtil'

export default {
  mixins: [mixin],
  props: {
    loading: {
      type: Boolean,
      required: true
    },
    dataList: {
      type: Array,
      required: true
    },
    pageCondition: {
      type: Object,
      required: true
    },
    customTabList: {
      type: Array,
      required: true
    },
    selectedShowType: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      tableHeight: 0, // 表格高度
      tableColumns: [
        { title: "序号", slot: "index", align: "center", width: 96 },
        { title: "指标名称", slot: "indicatorName" },
        { title: "资产分组", slot: "assetsGroupName" },
        { title: "当前值", slot: "indicatorValue" },
        { title: "同比", slot: "yoyValue" },
        { title: "状态", slot: "status" },
        { title: "操作", slot: "operation", align: "center", width: 270 }
      ]
    };
  },
  watch: {
    selectedShowType: "getTableHeight"
  },
  mounted() {
    this.getTableHeight();
    window.onresize = this.getTableHeight;
  },
  beforeDestroy() {
    window.onresize = null;
  },
  methods: {
    /**
     * 窗口大小改变时，重新计算表格高度
     */
    getTableHeight() {
      this.tableHeight = this.$refs.tableContainer.clientHeight - 16 - 50;
    },

    // 处理千分位和小数以及数值单位
    handleYXQ(configData, originalValue) {
      if(originalValue === '--'){
        return '--'
      }else{
        let item = configData ? JSON.parse(configData) : {};
        let indicatorValue = originalValue ? originalValue : 0
        const config = {
          decimalDigits: item.decimalPlaces,
          numberUnit: item.numberUnit ? item.numberUnit : 'original',
          thousandth: !!item.thousandsSeparator,
          showType: item.showType
        }
        indicatorValue = formatData(indicatorValue, config);
        return item.prefix + indicatorValue + (item.showType === 0 ? this.getUnit(item.numberUnit) : '') + item.suffix;
      }
    },
    getUnit(unit) {
      switch (unit) {
        case 'wan':
          return '万'
        case 'yi':
          return '亿'
        default:
          return ''
      }
    },
    /**
     * 切换页码
     * @param {Number} currentPage
     */
    handlePageChange(currentPage) {
      this.$emit("changePageData", "currentPage", currentPage);
    },
    /**
     * 切换每页展示的数据量
     * @param {Number} currentPageSize
     */
    handlePageSizeChange(currentPageSize) {
      this.$emit("changePageData", "pageSize", currentPageSize);
    }
  }
};
</script>

<style lang="less" scoped>
.tableList-container {
  width: 100%;
  height: 100%;

  .tableWrapper {
    position: relative;
    /deep/.ivu-table-wrapper {
      position: unset !important;
    }
  }

  .yoyWrapper {
    .yoyIcon {
      margin-right: 3px;
    }
    .yoyValue {
      font-family: PingFangSC-Medium;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 8.96px;
      font-weight: 600;
    }
  }
  .titleRight {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--statusBackgroundColor);
      margin-right: 6px;
    }
  }

  .actionLeft {
    display: flex;
    align-items: center;
    .actionName {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 19px;
      }
      &:last-child {
        margin-right: 7px;
      }
      img {
        margin-right: 5px;
      }
      span {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #3f73ff;
        letter-spacing: 0;
      }
    }
    /deep/.ivu-poptip {
      display: flex;
      .hoverIconWrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        .noHoverIcon {
          display: inline-block;
        }
        .hoverIcon {
          display: none;
        }
        &:hover {
          .noHoverIcon {
            display: none;
          }
          .hoverIcon {
            display: inline-block;
          }
        }
      }
      .ivu-poptip-popper {
        min-width: 0;
        width: 105px;
        .ivu-poptip-body {
          padding: 0;
          .actionWrapper {
            padding: 4px;
            .actionItem {
              width: 80px;
              height: 24px;
              line-height: 24px;
              border-radius: 2px;
              padding: 0 4px;
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: #333333;
              text-align: left;
              cursor: pointer;
              &:not(:last-child) {
                margin-bottom: 4px;
              }
              &:hover {
                background: #f0f5ff;
                color: #3f73ff;
              }
            }
          }
        }
      }
    }
  }

  .pageWrapper {
    display: flex;
    justify-content: flex-end;
    /deep/.ivu-page {
      margin-top: 16px;
    }
  }
}
</style>
