<template>
  <div class="tableList-container" ref="tableContainer">
    <!-- tableWrapper 元素是为了移除 Table 组件的定位，从而使内部的 Poptip 可以超出容器展示-->
    <div class="tableWrapper">
      <Table :loading="tabelLoading" :columns="tableColumns" :data="dataList" :height="tableHeight">
        <template slot-scope="{ index }" slot="index">{{ formatIndex(index + 1) }}</template>
        <template slot-scope="{ row }" slot="indicatorName">
          <span class="indicator-name" :title="row.indicatorName">{{ row.indicatorName }}</span>
        </template>
        <template slot-scope="{ row }" slot="assetsGroupName">
          <span class="assets-group-name" :title="row.assetsGroupName">{{ row.assetsGroupName }}</span>
        </template>
        <template slot-scope="{ row }" slot="type">
          <span class="assets-group-name" :title="row.type">
           <!-- 1 原子 2复合 3派生 4外部 -->
            <span v-if="row.type === 1">原子指标</span>
            <span v-if="row.type === 2">复合指标</span>
            <span v-if="row.type === 3">派生指标</span>
            <span v-if="row.type === 4">外部指标</span>
            <span v-if="row.type === 5">静态指标</span>
          </span>
        </template>
        <template slot-scope="{ row }" slot="status">
          <div class="titleRight" :style="{ '--statusBackgroundColor': showStatusDataByKey(row.status, 'prefixColor') }">
            {{ showStatusDataByKey(row.status, "label") }}
          </div>
        </template>
        <template slot-scope="{ row }" slot="operation">
          <IndicatorAction
            from="IndicatorManage"
            :row="row"
            @record:condition="recordCondition"
            @show:modal="showModal"
            @refresh:data="$emit('refreshData')"
            @updateData:end="$emit('updateData:end')"
          />
        </template>
      </Table>
    </div>

    <section class="pageWrapper">
      <Page
        show-elevator
        show-sizer
        show-total
        size="small"
        :page-size-opts="[10, 20, 30, 40]"
        :page-size="pageCondition.pageSize"
        :current="pageCondition.currentPage"
        :total="pageCondition.total"
        @on-change="handlePageChange"
        @on-page-size-change="handlePageSizeChange"
      />
    </section>

    <!-- 变更所有者弹窗 -->
    <ChangeOwnerModal
      v-model="showChangeOwnerModal"
      :modal-status="changeModalStatus"
      :creator="creator"
      @closeModal="closeChangeModal"
      @changeOwner:success="$emit('updateData:end')"
    />
    <!-- 确认删除弹框 -->
    <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList"/>
    <!-- 权限分享弹窗 -->
    <AuthShareModal v-model="showAuthShare" :modal-status="authShareModalStatus" share-from="指标" />
  </div>
</template>

<script>
import IndicatorAction from "./IndicatorAction";
import ChangeOwnerModal from "@/components/ChangeOwnerModal";
import AuthShareModal from "@/components/AuthShareModal";
import DeleteAssetModal from '@/view/components/DeleteAssetModal/index.vue'
import mixin from "../mixin";

export default {
  mixins: [mixin],
  props: {
    tabelLoading: {
      type: Boolean,
      required: true
    },
    dataList: {
      type: Array,
      required: true
    },
    pageCondition: {
      type: Object,
      required: true
    },
    searchCondition: {
      type: Object,
      required: true
    }
  },
  components: {
    IndicatorAction,
    ChangeOwnerModal,
    DeleteAssetModal,
    AuthShareModal
  },
  data() {
    return {
      tableHeight: 0, // 表格高度
      tableColumns: [
        { title: "序号", slot: "index", align: "center", width: 96 },
        { title: "指标名称", slot: "indicatorName" },
        { title: "资产分组", slot: "assetsGroupName" },
        { title: "指标类型", slot: "type" },
        { title: "状态", slot: "status" },
        { title: "所有者", key: "creator" },
        { title: "操作", slot: "operation", align: "center", width: 270 }
      ],
      creator: '', // 当前指标所有者，用于变更所有者返显使用
    };
  },
  mounted() {
    this.getTableHeight();
    window.onresize = this.getTableHeight;
  },
  beforeDestroy() {
    window.onresize = null;
  },
  methods: {
    /**
     * 窗口大小改变时，重新计算表格高度
     */
    getTableHeight() {
      this.tableHeight = this.$refs.tableContainer.clientHeight - 66;
    },
    /**
     * 切换页码
     * @param {Number} currentPage
     */
    handlePageChange(currentPage) {
      this.$emit("changePageData", "currentPage", currentPage);
    },
    /**
     * 切换每页展示的数据量
     * @param {Number} currentPageSize
     */
    handlePageSizeChange(currentPageSize) {
      this.$emit("changePageData", "pageSize", currentPageSize);
    },
    recordCondition(){
      let sessionData = {
        indicatorName: this.searchCondition.indicatorName,
        assetsGroupValue: this.searchCondition.assetsGroupValue,
        tagValue: this.searchCondition.tagValue,
        pageSize: this.pageCondition.pageSize,
        currentPage: this.pageCondition.currentPage
      }
      sessionStorage.setItem('indicatorListSearch', JSON.stringify(sessionData));
    }
  },
};
</script>

<style lang="less" scoped>
.tableList-container {
  width: 100%;
  height: 100%;

  .tableWrapper {
    position: relative;
    /deep/.ivu-table-wrapper {
      position: unset !important;
    }

    .indicator-name,
    .assets-group-name {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .yoyWrapper {
    .yoyIcon {
      margin-right: 3px;
    }
    .yoyValue {
      font-family: PingFangSC-Medium;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 8.96px;
      font-weight: 600;
    }
  }
  .titleRight {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--statusBackgroundColor);
      margin-right: 6px;
    }
  }

  .pageWrapper {
    display: flex;
    justify-content: flex-end;
    /deep/.ivu-page {
      margin-top: 16px;
    }
  }
  /deep/ .ivu-page.mini .ivu-page-item{
    border: 1px solid #dcdee2;
  }
  /deep/ .ivu-page.mini .ivu-page-item-active{
    border-color: #3F73FF;
  }
}
</style>
