<template>
  <div class="chart-wrapper" :style="{ flex: chartWrapperFlex }">
    <div class="chart">
      <div class="chart-header">
        <div class="select">
          <span>维度：</span>
          <Select v-model="chart.dimension" @on-select="handleAddSnapshotData">
            <Option v-for="item of currentChooseDimension" :value="item.id">{{ item.title }}</Option>
          </Select>
        </div>
        <div class="select">
          <span>指标：</span>
          <!--只有环形图是单指标-->
          <Select v-model="chart.indicator" @on-select="handleAddSnapshotData" v-if="chartType == CHART_TYPE.CIRCULAR_GRAPH">
            <Option v-for="item in currentChooseIndicator" :value="item.key">{{ item.title }}</Option>
          </Select>
          <!-- 组合图的指标有柱状图和折线图 -->
          <ul class="select-list" v-else-if="chartType == CHART_TYPE.COMBINATION">
            <li>
              <span>柱状图：</span>
              <Select v-model="chart.barIndicators" multiple @on-select="handleAddSnapshotData">
                <Option
                  v-for="item in currentChooseIndicator"
                  :value="item.key"
                  :disabled="chart.lineIndicators.includes(item.key)">
                  {{ item.title }}
                </Option>
              </Select>
            </li>
            <li>
              <span>折线图：</span>
              <Select v-model="chart.lineIndicators" multiple @on-select="handleAddSnapshotData">
                <Option
                  v-for="item in currentChooseIndicator"
                  :value="item.key"
                  :disabled="chart.barIndicators.includes(item.key)">
                  {{ item.title }}
                </Option>
              </Select>
            </li>
          </ul>
          <Select
            v-model="chart.indicators"
            multiple
            v-else
            @on-open-change="onChartIndicatorsOpenChange"
            @on-change="onChartIndicatorsChange"
            @on-select="handleAddSnapshotData">
            <Option v-for="item in currentChooseIndicator" :value="item.key">{{ item.title }}</Option>
          </Select>
        </div>
      </div>
      <div class="chart-content">
        <slot name="content"></slot>
      </div>
    </div>
    <div class="chart-wrapper-bottom" v-show="chartType !== CHART_TYPE.TABLE">
      <slot name="bottom"></slot>
    </div>
  </div>
</template>

<script>
import { CHART_TYPE } from '@/view/report/indicator-browser/constant'

export default {
  name: 'ChartWrapper',
  props: {
    chartType: String,
    chart: Object,
    currentChooseDimension: Array,
    currentChooseIndicator: Array,
  },
  data() {
    return {
      CHART_TYPE,
    }
  },
  computed: {
    chartWrapperFlex() {
      return this.chartType === CHART_TYPE.TABLE ? '0' : '1'
    },
  },
  created() {
    this.chartIndicatorsBak = null // 图表多选的指标备份
  },
  methods: {
    // 图表的指标下拉框展开
    onChartIndicatorsOpenChange(value) {
      if (value) {
        this.chartIndicatorsBak = [...this.chart.indicators]
      }
    },

    // 图表的指标（多选）变化
    onChartIndicatorsChange(option) {
      // 对比图只能选择两个指标
      if (this.chartType == CHART_TYPE.COMPARISON && option.length > 2) {
        this.chart.indicators = [...this.chartIndicatorsBak]
        return
      }
      // 组合图至少两个指标
      if (this.chartType == CHART_TYPE.COMBINATION && option.length < 2) {
        this.chart.indicators = [...this.chartIndicatorsBak]
        return
      }
      this.chartIndicatorsBak = [...this.chart.indicators]
    },

    // 调用父级的添加快照方法
    handleAddSnapshotData() {
      this.$nextTick(() => {
        this.$parent.handleAddSnapshotData()
      })
    },
  },
}
</script>

<style scoped lang="less">
.chart-wrapper {
  flex: 1;
  overflow: hidden;
}

.chart {
  width: 100%;
  vertical-align: top;
  overflow: hidden;
  height: 530px;
  box-sizing: border-box;
  border: 1px solid rgba(234, 234, 234, 1);
  border-left: 0;
  display: inline-flex;
  flex-direction: column;

  .chart-header {
    display: flex;
    padding: 10px 10.3%;
  }

  .select {
    display: flex;
    line-height: 32px;

    span {
      flex-shrink: 0;
    }
  }

  .select:first-child {
    width: 32%;
  }

  .select:last-child {
    width: 68%;
  }

  .select + .select {
    margin-left: 20px;
  }

  .select .select-list {
    list-style: none;
    color: #6F6F6F;

    li + li {
      margin-top: 8px;
    }

    li {
      display: flex;
    }
  }

  .chart-header .ivu-select {
    max-width: 116px;

    .ivu-select-selection {
      border: 1px solid rgba(217, 217, 217, 1);
      border-radius: 2px;
    }

    .ivu-select-item-focus {
      background: transparent;
    }
  }

  .chart-header .ivu-select-multiple {
    max-width: 216px;
  }

  .chart-content {
    flex: 1;
    overflow: auto;
    position: relative;

    .placeholder-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

/deep/ .chart-no-data {
  width: 234px;
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translateX(-50%);
}

.chart-wrapper-bottom {
  color: rgba(0, 0, 0, 0.25);
  text-align: right;
  margin-top: 9px;
}
</style>
