<template>
  <div class="chart-tab">
    <img
      title="表格"
      :src="chartTableIcon"
      @click="handleSelectChartType(CHART_TYPE.TABLE)" />
    <img
      title="柱状图"
      :src="chartBarVerticalIcon"
      :class="{disabled: chartBarVerticalIconDisabled}"
      @click="handleSelectChartType(CHART_TYPE.BAR_VERTICAL)" />
    <img
      title="条形图"
      :src="chartBarHorizontalIcon"
      :class="{disabled: chartBarHorizontalIconDisabled}"
      @click="handleSelectChartType(CHART_TYPE.BAR_HORIZONTAL)" />
    <img
      title="对比图"
      :src="chartComparisonIcon"
      :class="{disabled: chartComparisonIconDisabled}"
      @click="handleSelectChartType(CHART_TYPE.COMPARISON)" />
    <img
      title="折线图"
      :src="chartLineIcon"
      :class="{disabled: chartLineIconDisabled}"
      @click="handleSelectChartType(CHART_TYPE.LINE)" />
    <img
      title="环形图"
      :src="chartCircularGraphIcon"
      :class="{disabled: chartCircularGraphIconDisabled}"
      @click="handleSelectChartType(CHART_TYPE.CIRCULAR_GRAPH)" />
    <img
      title="组合图"
      :src="chartCombinationIcon"
      :class="{disabled: chartCombinationIconDisabled}"
      @click="handleSelectChartType(CHART_TYPE.COMBINATION)" />
  </div>
</template>

<script>
import chartTableActive from '@/assets/images/dataset/chart-table-active.svg'
import chartTable from '@/assets/images/dataset/chart-table.svg'
import chartBarVerticalDisabled from '@/assets/images/dataset/chart-bar-vertical-disabled.svg'
import chartBarVerticalActive from '@/assets/images/dataset/chart-bar-vertical-active.svg'
import chartBarVertical from '@/assets/images/dataset/chart-bar-vertical.svg'
import chartBarHorizontalDisabled from '@/assets/images/dataset/chart-bar-horizontal-disabled.svg'
import chartBarHorizontalActive from '@/assets/images/dataset/chart-bar-horizontal-active.svg'
import chartBarHorizontal from '@/assets/images/dataset/chart-bar-horizontal.svg'
import chartComparisonDisabled from '@/assets/images/dataset/chart-comparison-disabled.svg'
import chartComparisonActive from '@/assets/images/dataset/chart-comparison-active.svg'
import chartComparison from '@/assets/images/dataset/chart-comparison.svg'
import chartLineDisabled from '@/assets/images/dataset/chart-line-disabled.svg'
import chartLineActive from '@/assets/images/dataset/chart-line-active.svg'
import chartLine from '@/assets/images/dataset/chart-line.svg'
import chartCircularGraphDisabled from '@/assets/images/dataset/chart-circular-graph-disabled.svg'
import chartCircularGraphActive from '@/assets/images/dataset/chart-circular-graph-active.svg'
import chartCircularGraph from '@/assets/images/dataset/chart-circular-graph.svg'
import chartCombinationDisabled from '@/assets/images/dataset/chart-combination-disabled.svg'
import chartCombinationActive from '@/assets/images/dataset/chart-combination-active.svg'
import chartCombination from '@/assets/images/dataset/chart-combination.svg'
import { CHART_TYPE } from '@/view/report/indicator-browser/constant'

export default {
  name: 'ChartTab',
  emits: ['on-change'],
  props: {
    chartType: String,
    chartBarVerticalIconDisabled: Boolean,
    chartBarHorizontalIconDisabled: Boolean,
    chartComparisonIconDisabled: Boolean,
    chartLineIconDisabled: Boolean,
    chartCircularGraphIconDisabled: Boolean,
    chartCombinationIconDisabled: Boolean,
  },
  data() {
    return {
      CHART_TYPE,
    }
  },
  computed: {
    chartTableIcon() {
      return this.chartType === CHART_TYPE.TABLE ? chartTableActive : chartTable
    },
    chartBarVerticalIcon() {
      if (this.chartBarVerticalIconDisabled) {
        return chartBarVerticalDisabled
      }
      return this.chartType ==CHART_TYPE.BAR_VERTICAL ? chartBarVerticalActive : chartBarVertical
    },
    chartBarHorizontalIcon() {
      if (this.chartBarHorizontalIconDisabled) {
        return chartBarHorizontalDisabled
      }
      return this.chartType ==CHART_TYPE.BAR_HORIZONTAL ? chartBarHorizontalActive : chartBarHorizontal
    },
    chartComparisonIcon() {
      if (this.chartComparisonIconDisabled) {
        return chartComparisonDisabled
      }
      return this.chartType ==CHART_TYPE.COMPARISON ? chartComparisonActive : chartComparison
    },
    chartLineIcon() {
      if (this.chartLineIconDisabled) {
        return chartLineDisabled
      }
      return this.chartType ==CHART_TYPE.LINE ? chartLineActive : chartLine
    },
    chartCircularGraphIcon() {
      if (this.chartCircularGraphIconDisabled) {
        return chartCircularGraphDisabled
      }
      return this.chartType ==CHART_TYPE.CIRCULAR_GRAPH ? chartCircularGraphActive : chartCircularGraph
    },
    chartCombinationIcon() {
      if (this.chartCombinationIconDisabled) {
        return chartCombinationDisabled
      }
      return this.chartType ==CHART_TYPE.COMBINATION ? chartCombinationActive : chartCombination
    },
  },
  methods: {
    // 切换图表
    handleSelectChartType(type) {
      if (type ==CHART_TYPE.BAR_VERTICAL && this.chartBarVerticalIconDisabled) return
      if (type ==CHART_TYPE.BAR_HORIZONTAL && this.chartBarHorizontalIconDisabled) return
      if (type ==CHART_TYPE.COMPARISON && this.chartComparisonIconDisabled) return
      if (type ==CHART_TYPE.LINE && this.chartLineIconDisabled) return
      if (type ==CHART_TYPE.CIRCULAR_GRAPH && this.chartCircularGraphIconDisabled) return
      if (type ==CHART_TYPE.COMBINATION && this.chartCombinationIconDisabled) return
      if (this.chartType === type) return
      this.$emit('on-change', type)
    },
  },
}
</script>

<style scoped lang="less">
.chart-tab {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;

  img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  img + img {
    margin-left: 10px;
  }

  img.disabled {
    cursor: not-allowed;
  }
}
</style>
