<template>
  <div class="custom-filter">
    <div class="filter-header">
      <div class="header-item">筛选字段</div>
      <div class="header-item">条件</div>
      <div class="header-item">值</div>
    </div>
    <div class="filter-body">
      <div class="groups">
        <div v-for="(group, groupIndex) in groups" class="group">
          <div class="list">
            <div v-for="(item, itemIndex) in group.list" class="item">
              <!--筛选字段-->
              <Select :value="item.sourceId" @on-change="onFilterFieldChange($event, item)" class="cell">
                <Option v-for="option in filterFields" :value="option.id">{{ option.title }}</Option>
              </Select>
              <!--条件 sourceType等于99表示维度-->
              <Select v-if="item.sourceType === 99" v-model="item.conditionType" @on-change="onConditionTypeChange($event, item)" class="cell">
                <Option value="14">包含</Option>
                <Option value="15">不包含</Option>
                <Option value="10">开头是</Option>
                <Option value="12">结尾是</Option>
                <Option value="4">等于</Option>
              </Select>
              <Select v-else v-model="item.conditionType" @on-change="onConditionTypeChange($event, item)" class="cell">
                <Option value="4">等于（=）</Option>
                <Option value="3">不等于（≠）</Option>
                <Option value="1">大于（＞）</Option>
                <Option value="5">大于等于（≥）</Option>
                <Option value="2">小于（＜）</Option>
                <Option value="6">小于等于（≤）</Option>
                <Option value="7">两者之间（between）</Option>
                <Option value="16">Top值</Option>
              </Select>
              <!--值-->
              <FaMultipleSelect
                v-if="item.valueType === 'selector'"
                :data="item.dimensionMember"
                :checked="item.value"
                @on-change="onFaMultipleSelectChange($event, item)"
                class="cell" />
              <Input v-if="item.valueType === 'text'" v-model.trim="item.value" placeholder="请输入..." class="cell" />
              <InputNumber v-if="item.valueType === 'number'" v-model="item.value" placeholder="请输入..." class="cell" />
              <div v-if="item.valueType === 'numberBetween'" class="cell number-between">
                <InputNumber v-model="item.value" placeholder="请输入..." @on-change="onInputNumberChange($event, item)" />
                <i class="split"></i>
                <InputNumber v-model="item.value2" :min="item.value + 1" placeholder="请输入..." />
              </div>
              <div class="item-tools">
                <Button :disabled="itemIndex !== group.list.length - 1" class="btn btn-or" @click="addItem(groupIndex)">或</Button>
                <Button v-if="showBtnDelete" class="btn btn-delete" @click="deleteItem(groupIndex, itemIndex)">删除</Button>
              </div>
            </div>
          </div>
          <Button :disabled="groupIndex !== groups.length - 1" class="btn btn-and" @click="addGroup">与</Button>
        </div>
      </div>
    </div>
    <div class="filter-footer">
      <Button @click="handleCancel">取消</Button>
      <Button type="primary" @click="handleOk">确定</Button>
    </div>
  </div>
</template>

<script>
import FaMultipleSelect from '_c/FaMultipleSelect'
import { CUSTOM_FILTER_DEFAULT_CONFIG } from '../constant'
import { deepCopy } from '@/utils/common'
import { queryDimensionMember } from '@/api/report'

export default {
  name: 'CustomFilter',
  components: {
    FaMultipleSelect,
  },
  props: {
    dimensions: Array,
    indicators: Array,
    calendar: Object,
    show: Boolean,
    config: Array,
    tableData: Array,
  },
  emits: ['on-ok', 'on-cancel'],
  data() {
    return {
      groups: [],
    }
  },
  computed: {
    // 是否显示删除按钮
    showBtnDelete() {
      return this.groups.length > 1 || (this.groups.length === 1 && this.groups[0].list.length > 1)
    },
    filterFields() {
      let filterFields = [...this.dimensions]

      // 对指标的筛选只有在存在维度的情况下才有效
      if (this.dimensions.length) {
        filterFields.push(...this.indicators)
      }

      return filterFields
    },
  },
  watch: {
    show(newVal) {
      if (newVal && this.config.length) {
        this.groups = deepCopy(this.config)
      }
    },
  },
  created() {
    this.groups = deepCopy(CUSTOM_FILTER_DEFAULT_CONFIG)
  },
  methods: {
    /**
     * 判断该指标是否已过滤，每个指标只能有一条过滤条件，与、或都算
     * @param indicatorId 指标id
     */
    isIndicatorFiltered(indicatorId) {
      // 遍历groups，如果能找到sourceId为指标id的筛选条件，表示存在
      for (let group of this.groups) {
        for (let item of group.list) {
          if (Number(item.sourceId) === Number(indicatorId)) {
            return true
          }
        }
      }

      return false
    },

    // 当某个筛选字段选中值改变
    async onFilterFieldChange(value, item) {
      // 当前筛选字段
      const currentFilterField = this.filterFields.find(item => item.id === value)
      if (!currentFilterField) {
        return
      }

      const type = currentFilterField.type
      if (type !== 99) {
        // 筛选字段为指标
        if (this.isIndicatorFiltered(value)) {
          this.$Message.warning('单个指标只能被添加一次作为筛选字段！')
          item.sourceId = value
          this.$nextTick(() => {
            item.sourceId = ''
          })
          return
        }
      }

      item.sourceId = value
      item.sourceType = currentFilterField.type
      item.conditionType = ''
      item.value = null
      item.value2 = null
      if (type === 99) {
        const dimensionMember = await this.getDimensionMember(value)
        item.dimensionMember = dimensionMember
      }
    },

    // 当某个筛选字段的条件类型选中值改变
    onConditionTypeChange(value, item) {
      let { sourceType } = item
      if (sourceType === 99) { // 维度
        let isSelector = value === '14' || value === '15'
        item.valueType = isSelector ? 'selector' : 'text'
        // item.dimensionMember = _.uniq(this.tableData.map(dataItem => dataItem[item.sourceId]))
      } else { // 指标
        let isNumberBetween = value === '7'
        item.valueType = isNumberBetween ? 'numberBetween' : 'number'
      }
      item.value = null
      item.value2 = null
    },

    // 获取维成员
    async getDimensionMember(dimensionId) {
      let dimensionIds = [ dimensionId ]
      let { startDate } = this.calendar
      let indicatorVos = this.indicators.map(item => ({
        id: item.id,
        type: item.type,
        variables: { businessDate: startDate }
      }))
      let date = this.calendar
      const { data } = await queryDimensionMember({ dimensionIds, indicatorVos, date })
      if (data?.state === 'success') {
        return data.data
      } else {
        this.$Message.error('获取维成员失败')
      }
    },

    onFaMultipleSelectChange(data, item) {
      // 1表示常量，dimensionConditionGroup字段的value值都为常量，多个值逗号拼接
      item.value = data.join(',')
    },

    onInputNumberChange(value, item) {
      // 数值区间，结束的数字必须比开始的大
      if (item.valueType === 'numberBetween') {
        if (item.value2 < value)
        item.value2 = value + 1
      }
    },

    // 添加组
    addGroup() {
      let group = deepCopy(CUSTOM_FILTER_DEFAULT_CONFIG[0])
      this.groups.push(group)
    },

    // 添加一个条件
    addItem(groupIndex) {
      let item = deepCopy(CUSTOM_FILTER_DEFAULT_CONFIG[0].list[0])
      this.groups[groupIndex].list.push(item)
    },

    // 删除一个条件
    deleteItem(groupIndex, itemIndex) {
      let group = this.groups[groupIndex]
      if (group.list.length === 1) {
        this.groups.splice(groupIndex, 1)
      } else {
        group.list.splice(itemIndex, 1)
      }
    },

    // 取消
    handleCancel() {
      this.groups = deepCopy(CUSTOM_FILTER_DEFAULT_CONFIG)
      this.$emit('on-cancel')
    },

    // 确定
    handleOk() {
      this.$emit('on-ok', this.groups)
      this.groups = deepCopy(CUSTOM_FILTER_DEFAULT_CONFIG)
    },
  },
}
</script>

<style scoped lang="less">
.custom-filter .filter-header {
  display: flex;
  width: calc(~'100% - 96px');

  .header-item {
    flex: 1;
  }
  .header-item + .header-item {
    margin-left: 32px;
  }
}

.custom-filter .filter-body {
  margin-top: 4px;
  min-height: 300px;
}

.custom-filter .filter-body .groups .group {
  .btn {
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 2px;
    border: 0;
    color: #D9D9D9;
  }
  .btn-and {
    background: rgba(245,245,245,0.50);
    margin: 16px 0;
  }
  .btn-or {
    background: rgba(245,245,245,0.50);
    margin-left: 24px;
  }
  /deep/ .btn-delete {
    background: rgba(238,38,41,0.05);
    margin-left: 24px;

    > span {
      content: url("~@/assets/images/dataset/delete-unoin.svg");
    }
  }
  &:last-child .btn-and {
    color: #6DE073;
  }
}

.custom-filter .filter-body .groups .group .list .item {
  display: flex;

  + .item {
    margin-top: 16px;
  }
  .cell {
    flex: 1;
  }
  .cell + .cell {
    margin-left: 32px;
  }
  .number-between {
    display: flex;
    align-items: center;
    border: 1px solid rgba(217,217,217,1);
    border-radius: 2px;
    padding: 0 2px;

    .ivu-input-number {
      flex: 1;
      border: 0;
      box-shadow: none;
      height: 30px;
    }
    .ivu-input-number /deep/ .ivu-input-number-handler-wrap {
      display: none;
    }
    .ivu-input-number /deep/ .ivu-input-number-input-wrap {
      height: 30px;

      .ivu-input-number-input {
        height: 30px;
      }
    }
    .split {
      display: flex;
      width: 20px;
      height: 20px;
      justify-content: center;
      align-items: center;
    }
    .split:after {
      content: '';
      display: block;
      width: 6px;
      height: 1px;
      background: #999999;
    }
  }
  .item-tools {
    width: 96px;
    margin-top: 4px;
  }
  &:last-of-type .btn-or {
    color: #3F73FF;
  }
}

.custom-filter .filter-footer {
  margin-top: 8px;
  text-align: right;

  button {
    height: 32px;
    border-radius: 2px;
    padding: 0 24px;
  }
  .ivu-btn-default {
    border: 1px solid rgba(217,217,217,1);
    color: #666666;
  }
  .ivu-btn-primary {
    border: 0;
    margin-left: 16px;
  }
}

.custom-filter /deep/ .filter-body {
  .ivu-select-selection,
  .ivu-input,
  .ivu-input-number {
    border-radius: 2px;
  }
}
</style>
