<template>
  <div class="custom-format">
    <div class="custom-format-body">
      <Form
        ref="customFormatForm"
        :model="data"
        :rules="ruleValidate"
        label-position="left"
        :label-width="75"
        label-colon
        hide-required-mark>
        <FormItem label="数值格式" prop="format">
          <Select v-model="data.format" @on-change="onFormatChange">
            <Option value="数值">数值</Option>
            <Option value="百分比">百分比</Option>
          </Select>
        </FormItem>
        <FormItem label="数值单位" prop="unit" v-if="data.format === '数值'">
          <Select v-model="data.unit" >
            <Option value="原始值">原始值</Option>
            <!-- <Option value="千">千</Option> -->
            <Option value="万">万</Option>
            <Option value="亿">亿</Option>
          </Select>
        </FormItem>
        <FormItem label="前缀/后缀" prop="precision">
          <Input v-model="data.prefix" placeholder="请输入前缀" :maxlength="20" style="width: 95px;margin-right:7px"/>
          <Input v-model="data.suffix" placeholder="请输入后缀" :maxlength="20" style="width: 95px"/>
        </FormItem>
        <FormItem label="小数位数" prop="precision">
          <InputNumber v-model="data.precision" :max="6" :min="1" :editable="false" class="precision" />
        </FormItem>
        <FormItem>
          <Checkbox v-model="data.useThousandsSeparator" v-if="data.format === '数值'">使用千位分隔符</Checkbox>
        </FormItem>
      </Form>
    </div>
    <div class="custom-format-footer">
      <Button @click="handleCancel">取消</Button>
      <Button type="primary" @click="handleOk">确定</Button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Rename',
  emits: ['on-cancel', 'on-ok'],
  props: {
    data: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      ruleValidate: {
        value: [
          { required: true, message: '请输入内容', trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    onFormatChange() {
      this.data.unit = '原始值'
      this.data.useThousandsSeparator = false
    },

    handleCancel() {
      this.$emit('on-cancel')
      this.$refs.customFormatForm.resetFields()
    },

    async handleOk() {
      const validate = await this.$refs.customFormatForm.validate()

      if (!validate) {
        return
      }

      this.$emit('on-ok')
    },
  },
}
</script>

<style scoped lang="less">
.custom-format .custom-format-body {
  /deep/ .ivu-select-selection,
  /deep/ .ivu-input-number {
    border-radius: 2px;
  }
  .precision {
    width: 100%;
  }
  /deep/ .ivu-checkbox {
    margin-right: 6px;
    vertical-align: text-bottom;
  }
}

.custom-format .custom-format-footer {
  margin-top: 32px;
  text-align: right;

  button {
    height: 32px;
    border-radius: 2px;
    padding: 0 24px;
  }

  .ivu-btn-default {
    border: 1px solid rgba(217, 217, 217, 1);
    color: #666666;
  }

  .ivu-btn-primary {
    border: 0;
    margin-left: 16px;
  }
}

.custom-format /deep/ .filter-body {
  .ivu-select-selection,
  .ivu-input,
  .ivu-input-number {
    border-radius: 2px;
  }
}

/deep/.ivu-form-item{
  margin-bottom: 15px;
}
</style>
