<template>
  <div class="custom-table">
    <Spin fix v-if="loading" />
    <TransposeTable
      v-if="table.transpose"
      ref="transposeTable"
      :columns="tableColumns"
      :data="tableData"
      :spanMap="spanMap"
      :showGroupSummary="table.showGroupSummary"
      :showSummary="!!dimensions.length && table.showAllSummary"
      :summary-method="handleSummary"
      class="table" />
    <Table
      v-else
      :height="table.showAllSummary ? 482 : 530"
      border
      :columns="tableColumns"
      :data="tableData"
      :span-method="handleSpan"
      :show-summary="!!dimensions.length && table.showAllSummary"
      :summary-method="handleSummary"
      :no-data-text="noDataText"
      class="table" />
  </div>
</template>

<script>
import TransposeTable from '@/view/report/components/transpose-table/table'
import {deepCopy} from '@/utils/common'
import {formatData, formatCompareValueData, formatCompareChangeRateData, formatProportionData} from '../formatData'
import { getReportCompareDataAndHeaders, queryChartDataForPage } from '@/api/report'
import {getCompareDate} from '@/utils/chartDate'
import {TABLE_SORT_DROPDOWN, TABLE_SORT_DROPDOWN_OF_PURE_INDICATOR} from '@/view/report/indicator-browser/constant'
import {NULL_DATA_NUMBER_SHOW} from '@/config/ReportConstants'
import { ERROR_DESCRIPTION } from '@/view/components/no-data/constant'
import sortNormal from '@/assets/images/dataset/sort-normal.svg'
import sortNormalActive from '@/assets/images/dataset/sort-normal-active.svg'
import sortGroupAsc from '@/assets/images/dataset/sort-group-asc.svg'
import sortGroupAscActive from '@/assets/images/dataset/sort-group-asc-active.svg'
import sortGroupDesc from '@/assets/images/dataset/sort-group-desc.svg'
import sortGroupDescActive from '@/assets/images/dataset/sort-group-desc-active.svg'
import sortGlobalAsc from '@/assets/images/dataset/sort-global-asc.svg'
import sortGlobalAscActive from '@/assets/images/dataset/sort-global-asc-active.svg'
import sortGlobalDesc from '@/assets/images/dataset/sort-global-desc.svg'
import sortGlobalDescActive from '@/assets/images/dataset/sort-global-desc-active.svg'
import noImgUrl from '@/assets/images/dataset/no-data-img.png'

export default {
  name: 'customTable',
  emits: ['on-data-change'],
  components: {
    TransposeTable,
  },
  props: {
    table: Object,
    dimensions: Array,
    indicators: Array,
    customFilter: Object,
    calendar: Object,
    pageNum: Number,
    pageSize: Number,
  },
  data() {
    return {
      tableColumns: [],
      tableData: [],
      loading: false,
      spanMap: {},
      errorCode: null,
      noImgUrl,
    }
  },
  computed: {
    globalReportDate() {
      return this.$store.state.chart.reportDate
    },
    watchData() {
      return {
        table: this.table,
        dimensions: this.dimensions,
        indicators: this.indicators,
        dimensionConditionGroup: this.customFilter.dimensionConditionGroup,
        calendar: this.calendar,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
      }
    },
    noDataText() {
      let noDataMessage = ERROR_DESCRIPTION[this.errorCode] || '暂无数据'
      let description = !this.dimensions.length && !this.indicators.length ? '请先选择维度和指标' : ''
      return `<div class='table-no-data-text'><img src=${noImgUrl} /><div>${noDataMessage}<br />${description}</div></div>`
    },
  },
  watch: {
    watchData: {
      handler(newVal, oldVal) {
        if (!oldVal.calendar.startDate) return
        let resetSort = (newVal.dimensions.length !== oldVal.dimensions.length) || (newVal.indicators.length !== oldVal.indicators.length)
        this.refreshTable(resetSort)
      },
      deep: true,
    },
  },
  methods: {
    // 表格合并方法
    handleSpan({row, column, rowIndex, columnIndex}) {
      if (Object.keys(this.spanMap).length) {
        // 小计的位置
        let summaryIndexes = []
        for (let key in this.spanMap) {
          summaryIndexes.push(Number(key) + this.spanMap[key])
        }

        if (columnIndex === 0) {
          if (this.spanMap[rowIndex]) {
            return [this.spanMap[rowIndex], 1]
          } else {
            // 组内累计（小计）不合并
            if (this.table.showGroupSummary && summaryIndexes.includes(rowIndex)) {
              return [1, 1]
            } else {
              return [0, 0]
            }
          }
        }
      }
      return [1, 1]
    },

    // 表格合计方法
    handleSummary({columns, data}) {
      const sums = {}
      columns.forEach((column, index) => {
        let {key, numberFormat} = column
        key = key.toString()
        if (index === 0) {
          sums[key] = {
            key,
            value: '合计',
          }
          return
        }

        // 维度列设置为N/A
        if (index < this.dimensions.length) {
          sums[key] = {
            key,
            value: 'N/A',
          }
          return
        }

        const values = data.filter(
          item => item[columns[0].key] !== '小计',
        ).map(
          item => Number(item[key].toString().replace(/[,%]/g, '')),
        )
        if (!values.every(value => isNaN(value))) {
          const v = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          // 占比保持百分比
          if (key.indexOf('占比') !== -1) {
            sums[key] = {
              key,
              value: v.toFixed(numberFormat.precision || 2) + '%',
            }
          } else {
            sums[key] = {
              key,
              value: formatData(v, numberFormat),
            }
          }
        } else {
          sums[key] = {
            key,
            value: 'N/A',
          }
        }
      })
      return sums
    },

    // 刷新表格
    async refreshTable(resetSort) {
      this.spanMap = {} // 重置合并单元格配置
      const res = await this.getDataByDimensionAndIndicator(this.dimensions, this.indicators)
      if (!res) return
      this.adapterYoyData(res, this.dimensions)
      if (this.dimensions.length) {
        // 维度+指标
        this.tableColumns = this.buildColumnsOfDimensionAndIndicator(resetSort)
        this.tableData = this.buildDataOfDimensionAndIndicator(res)
      } else {
        // 纯指标
        this.tableColumns = this.buildColumnsOfPureIndicator(resetSort)
        this.tableData = this.buildDataOfPureIndicator(res)
      }
      this.$emit('on-data-change', {
        total: res.total,
        data: this.tableData,
      })
    },

    // 获取排序列
    getSortType() {
      for (let index in this.tableColumns) {
        let column = this.tableColumns[index]
        let sortSelected = column.sortDropdown?.find(item => item.selected && item.name !== '不排序')
        if (sortSelected) {
          return {key: column.key, type: sortSelected.name}
        }
      }
      return {key: this.tableColumns[0]?.key, type: '不排序'}
    },

    // 构建维度+指标表头
    buildColumnsOfDimensionAndIndicator(resetSort) {
      let columns = []

      for (let item of this.dimensions) {
        columns.push({
          title: item.title,
          key: item.id,
          align: 'center',
        })
      }

      let newIndicatorsColumns = []
      for (let item of this.indicators) {
        newIndicatorsColumns.push({
          ...item,
          title: item.abbrName || item.title,
          key: item.id,
          align: 'center',
          renderHeader: this.renderTableHeader,
          sortDropdown: deepCopy(TABLE_SORT_DROPDOWN),
        })
        // 指标中有高级计算，一个高级计算占一列
        let advancedCalculationColumns = this.getAdvancedCalculationColumns(item)
        newIndicatorsColumns.push(...advancedCalculationColumns)
      }

      for (let newColumn of newIndicatorsColumns) {
        let oldColumn = this.tableColumns.find(item => item.key === newColumn.key)
        if (oldColumn) {
          newColumn.sortDropdown = resetSort ? deepCopy(TABLE_SORT_DROPDOWN) : oldColumn.sortDropdown
        }
        columns.push(newColumn)
      }

      return columns
    },

    // 构建维度+指标数据
    buildDataOfDimensionAndIndicator(res) {
      let data = [] // 表格数据
      let {headers, currentData, momData, yoyData} = res
      let ringCompareData = this.getKeyData(momData, this.dimensions)
      let sameCompareData = this.getKeyData(yoyData, this.dimensions)

      // 根据返回的headers找到与表头对应的数据的下标位置
      let valueIndexes = []
      for (let column of this.tableColumns) {
        let index = headers.findIndex(header => column.key.toString().indexOf(header) > -1)
        valueIndexes.push(index)
      }

      // 将数据转换成Table组件需要的格式
      for (let row of currentData) {
        let rowData = {}
        for (let index in this.tableColumns) {
          let column = this.tableColumns[index]
          let columnKey = column.key.toString()
          let dataIndex = valueIndexes[index] // 数据取值下标
          let numberFormat = column.numberFormat ?? {}
          let compareDataKey = this.getKeyOfCompareData(row) // 环比、同比数据对象的key，用来找到对应的数据
          let currentValue = row[dataIndex]

          if (columnKey.indexOf('环比') > -1) {
            let compareData = ringCompareData[compareDataKey]
            let compareValue = compareData?.[dataIndex]
            let isRatio = columnKey.indexOf('环比变化率') > -1
            rowData[columnKey] = this.processCompareData(isRatio, currentValue, compareValue, numberFormat)
          } else if (columnKey.indexOf('年同比') > -1) {
            let compareData = sameCompareData[compareDataKey]
            let compareValue = compareData?.[dataIndex]
            let isRatio = columnKey.indexOf('年同比变化率') > -1
            rowData[columnKey] = this.processCompareData(isRatio, currentValue, compareValue, numberFormat)
          } else if (columnKey.indexOf('月同比') > -1) {
            let compareData = sameCompareData[compareDataKey]
            let compareValue = compareData?.[dataIndex]
            let isRatio = columnKey.indexOf('月同比变化率') > -1
            rowData[columnKey] = this.processCompareData(isRatio, currentValue, compareValue, numberFormat)
          } else if (columnKey.indexOf('占比') > -1) {
            let total = currentData.map(item => item[dataIndex])
            let totalValue = total.reduce((curr, prev) => curr + prev, 0)
            rowData[columnKey] = formatProportionData(currentValue, totalValue, numberFormat)
          } else {
            if (index < this.dimensions.length) {
              rowData[columnKey] = currentValue
            } else {
              rowData[columnKey] = formatData(currentValue, numberFormat)
            }
          }
          // 添加单位
          if(numberFormat.unit){
            if(numberFormat.unit === '亿'){
              rowData[columnKey] = rowData[columnKey] + '亿';
            }else if(numberFormat.unit === '万'){
              rowData[columnKey] = rowData[columnKey] + '万';
            }
          }
          // 前缀和后缀添加
          if(numberFormat.prefix){
            rowData[columnKey] = numberFormat.prefix + rowData[columnKey]
          }
          if(numberFormat.suffix){
            rowData[columnKey] = rowData[columnKey] + numberFormat.suffix
          }
        }
        data.push(rowData)
      }

      let sort = this.getSortType()
      if (['不排序', '组内升序', '组内降序'].includes(sort?.type)) { // 维成员需要分组
        data = this.buildGroupAndGroupSortData(data, sort)
      } else { // 维成员不分组
        let {key, type} = sort
        if (type === '全局升序') {
          data = data.sort((a, b) => {
            let valueA = Number(a[key].replace(/[,%]/g, ''))
            let valueB = Number(b[key].replace(/[,%]/g, ''))
            return valueA - valueB
          })
        } else if (type === '全局降序') {
          data = data.sort((a, b) => {
            let valueA = Number(a[key].replace(/[,%]/g, ''))
            let valueB = Number(b[key].replace(/[,%]/g, ''))
            return valueB - valueA
          })
        }
      }

      return data
    },

    // 获取 环比/同比 键值对数据
    getKeyData(data, dimensions) {
      if (!data) {
        return {}
      }
      let ringCompareData = {}
      data.forEach(item => {
        let key = ''
        for (let i = 0; i < dimensions.length; i++) {
          key = i === 0 ? item[i] : key + '_' + item[i]
        }
        ringCompareData[key] = item
      })
      return ringCompareData
    },

    // 获取 环比/同比 数据的key
    getKeyOfCompareData(row) {
      let key = ''
      for (let i = 0; i < this.dimensions.length; i++) {
        if (i === 0) {
          key = row[i]
        } else {
          key += '_' + row[i]
        }
      }
      return key
    },

    // 构建分组并组内排序的数据
    buildGroupAndGroupSortData(data, sort) {
      let firstDimensionKey = this.tableColumns[0].key // 按照第一个维度的维成员分组
      let groupMap = {}
      for (let item of data) {
        let memberName = item[firstDimensionKey]
        if (groupMap[memberName]) {
          groupMap[memberName].push(item)
        } else {
          groupMap[memberName] = [item]
        }
      }

      // 如果需要组内排序
      let {key, type} = sort
      let newDataList = []
      let startIndex = 0
      let extra = this.table.showGroupSummary ? 1 : 0 // 如果有组内累计，则开始位置+1
      for (let groupKey in groupMap) {
        let group = groupMap[groupKey]
        if (type === '组内升序') {
          group.sort((a, b) => a[key] - b[key])
        } else if (type === '组内降序') {
          group.sort((a, b) => b[key] - a[key])
        }
        // 记录合并单元格的位置及数量
        this.spanMap[startIndex] = group.length
        startIndex += group.length + extra

        // 如果有组内累计（小计）--只有分组存在的情况下组内累计才会生效
        if (this.table.showGroupSummary) {
          let summaryData = {}
          this.tableColumns.forEach((column, index) => {
            let {key, numberFormat} = column
            key = key.toString()
            if (index === 0) {
              summaryData[key] = '小计'
              return
            }
            if (index < this.dimensions.length) {
              summaryData[key] = NULL_DATA_NUMBER_SHOW
              return
            }
            const values = group.map(item => Number(item[key].toString().replace(/[,%]/g, '')))
            if (!values.every(value => isNaN(value))) {
              const v = values.reduce((prev, curr) => {
                const value = Number(curr)
                if (!isNaN(value)) {
                  return prev + curr
                } else {
                  return prev
                }
              }, 0)
              if (key.indexOf('占比') !== -1) {
                summaryData[key] = v.toFixed(numberFormat.precision || 2) + '%'
              } else {
                summaryData[key] = formatData(v, numberFormat)
              }
            } else {
              summaryData[key] = NULL_DATA_NUMBER_SHOW
            }
          })
          group.push(summaryData)
        }
        newDataList.push(...group)
      }

      return newDataList
    },

    // 构建纯指标表头
    buildColumnsOfPureIndicator(resetSort) {
      if (!this.indicators.length) {
        return []
      }
      if (resetSort) {
        this.indicators[0].sortDropdown = deepCopy(TABLE_SORT_DROPDOWN_OF_PURE_INDICATOR)
      }
      // 纯指标表头为固定格式：1.指标 2.规模
      let columns = [
        {title: '指标', key: 'name', align: 'center'},
        {
          title: '规模',
          key: 'scale',
          align: 'center',
          sortDropdown: this.indicators[0].sortDropdown,
          renderHeader: this.renderTableHeader,
        },
      ]
      return columns
    },

    // 构建纯指标数据
    buildDataOfPureIndicator(res) {
      let data = [] // 表格数据
      let sort = this.getSortType()
      let {headers, currentData, momData, yoyData} = res
      currentData = currentData[0]
      momData = momData?.[0]
      yoyData = yoyData?.[0]
      let rows = []

      // 根据返回的headers找到与指标匹配的数据
      for (let item of this.indicators) {
        rows.push({
          key: item.id,
          title: item.abbrName || item.title,
          numberFormat: item.numberFormat,
        })
        let advancedCalculationRows = this.getAdvancedCalculationColumns(item)
        rows.push(...advancedCalculationRows.map(
          row => ({
            key: row.key,
            title: row.title,
            numberFormat: row.numberFormat,
          })),
        )
      }

      // 根据返回的headers找到与表头对应的数据的下标位置
      let valueIndexes = []
      for (let row of rows) {
        let index = headers.findIndex(header => row.key.toString().indexOf(header) > -1)
        valueIndexes.push(index)
      }

      // 将数据转换成Table组件需要的格式
      rows.forEach((row, index) => {
        let name = row.title
        let scale = ''
        let key = row.key.toString()
        let dataIndex = valueIndexes[index]
        let numberFormat = row.numberFormat ?? {}
        let currentValue = currentData ? currentData[dataIndex] : null

        if (key.indexOf('环比') > -1) {
          let compareValue = momData?.[dataIndex]
          let isRatio = key.indexOf('环比变化率') > -1
          scale = this.processCompareData(isRatio, currentValue, compareValue, numberFormat)
        } else if (key.indexOf('年同比') > -1) {
          let compareValue = yoyData?.[dataIndex]
          let isRatio = key.indexOf('年同比变化率') > -1
          scale = this.processCompareData(isRatio, currentValue, compareValue, numberFormat)
        } else if (key.indexOf('月同比') > -1) {
          let compareValue = yoyData?.[dataIndex]
          let isRatio = key.indexOf('月同比变化率') > -1
          scale = this.processCompareData(isRatio, currentValue, compareValue, numberFormat)
        } else {
          scale = formatData(currentValue, numberFormat)
        }
        // 添加单位
        if(numberFormat.unit){
          if(numberFormat.unit === '亿'){
            scale = scale + '亿';
          }else if(numberFormat.unit === '万'){
            scale = scale + '万';
          }
        }
        // 前缀和后缀添加
        if(numberFormat.prefix){
          scale = numberFormat.prefix + scale
        }
        if(numberFormat.suffix){
          scale = scale + numberFormat.suffix
        }
        data.push({name, scale})
      })

      let {type} = sort
      if (type === '全局升序') {
        data.sort((a, b) => {
          let valueA = Number(a.scale.replace(/[,%]/g, ''))
          valueA = a.scale.indexOf('%') !== -1 ? (valueA / 100) : valueA
          let valueB = Number(b.scale.replace(/[,%]/g, ''))
          valueB = b.scale.indexOf('%') !== -1 ? (valueB / 100) : valueB
          return valueA - valueB
        })
      } else if (type === '全局降序') {
        data.sort((a, b) => {
          let valueA = Number(a.scale.replace(/[,%]/g, ''))
          valueA = a.scale.indexOf('%') !== -1 ? (valueA / 100) : valueA
          let valueB = Number(b.scale.replace(/[,%]/g, ''))
          valueB = b.scale.indexOf('%') !== -1 ? (valueB / 100) : valueB
          return valueB - valueA
        })
      }

      return data
    },

    // 根据维度、指标获取数据
    async getDataByDimensionAndIndicator(dimensions, indicators, getAll = false) {
      let data = null
      this.loading = true
      let {startDate, endDate} = this.calendar
      let isRingCompare = indicators.some(item => item.ringCompareValue || item.ringCompareChangeRate)
      let isYearSameCompare = indicators.some(item => item.yoyValue || item.yoyChangeRate)
      let isMonthSameCompare = indicators.some(item => item.momValue || item.momChangeRate)
      let dimensionIds = dimensions.map(item => item.id)

      let indicatorVos = indicators.map(item => {
        let variables = {businessDate: startDate}
        // 如果指标配置了筛选条件包含全局变量
        if (item.variables) {
          variables = {...variables, ...item.variables}
        }
        return {
          id: item.id,
          type: item.type,
          useCompare: isRingCompare || isYearSameCompare || isMonthSameCompare,
          variables,
          newCalculateType: item.summaryMethod || null,
          resultCondition: this.customFilter.indicatorCondition[item.id] || null,
        }
      })
      let params = {
        dimensionIds,
        indicatorVos,
        date: {startDate, endDate},
        dimensionConditionGroup: this.customFilter.dimensionConditionGroup,
      }

      if (isRingCompare) {
        params.momDate = getCompareDate('C', params.date)
      }
      if (isYearSameCompare || isMonthSameCompare) {
        let yoyDate = {}
        let compareDate = getCompareDate('SC', {
          ...params.date,
          compareType: isYearSameCompare ? 'yoy' : 'mom',
        }, this.globalReportDate)
        indicators.forEach(item => {
          if (item.ringCompareValue || item.ringCompareChangeRate || item.yoyValue || item.yoyChangeRate || item.momValue || item.momChangeRate) {
            yoyDate[item.id] = compareDate
          }
        })
        params.yoyDate = yoyDate
      }
      if (!getAll && this.pageNum && this.pageSize) {
        params.page = {
          pageNum: this.pageNum,
          pageSize: this.pageSize,
        }
      }
      const {data: resData} = await getReportCompareDataAndHeaders(params)
      this.loading = false
      if (resData?.state === 'success') {
        data = resData.data
        if (!data.length) {
          this.errorCode = '000000'
        }
      } else {
        this.errorCode = resData.errorCode
      }
      return data
    },

    // 获取高级计算列
    getAdvancedCalculationColumns(item) {
      let menu = item.multipleDropdownMenu
      let key = item.id
      let indicatorName = item.abbrName || item.title
      let checkedList = []
      let advancedCalculationOption = menu.find(item => item.name === '高级计算')

      if (advancedCalculationOption?.selected) {
        let secondLevel = advancedCalculationOption.children

        for (let second of secondLevel) {
          if (second.selected && second.name !== '累计') {
            if (second.children) {
              let thirdLevel = second.children

              for (let third of thirdLevel) {
                if (third.selected) {
                  checkedList.push({
                    title: `${third.name}(${indicatorName})`,
                    key: `${third.value}_${key}`,
                    align: 'center',
                    renderHeader: this.renderTableHeader,
                    multipleDropdownMenu: menu,
                    sortDropdown: deepCopy(TABLE_SORT_DROPDOWN),
                    numberFormat: item.numberFormat,
                  })
                }
              }
            } else {
              checkedList.push({
                title: `${second.name}(${indicatorName})`,
                key: `${second.value}_${key}`,
                align: 'center',
                renderHeader: this.renderTableHeader,
                multipleDropdownMenu: menu,
                sortDropdown: deepCopy(TABLE_SORT_DROPDOWN),
                numberFormat: item.numberFormat,
              })
            }
          }
        }
      }

      return checkedList
    },

    // 加工对比（环比、同比）数据
    processCompareData(isRatio, currentData, previousData, numberFormat) {
      let formatDataFn = isRatio ? formatCompareChangeRateData : formatCompareValueData
      return formatDataFn(currentData, previousData, numberFormat)
    },

    // 表头渲染函数
    renderTableHeader(h, params) {
      let unit = params.column.numberFormat?.unit

      return h('div', {
        class: {
          normal: this.getTableHeaderSortIcon(params.column.sortDropdown) === sortNormal,
        },
      }, [
        h('span', params.column.title + (unit && unit !== '原始值' ? `(${unit})` : '')),
        h('Dropdown', {
          class: {
            'table-sort-btn': true,
          },
          props: {
            transfer: true,
            trigger: 'click',
          },
          on: {
            'on-click': this.onClickTableHeaderSortDropdown(params.column),
          },
        }, [
          h('img', {
            attrs: {
              src: this.getTableHeaderSortIcon(params.column.sortDropdown),
            },
          }),
          h('DropdownMenu', {
            slot: 'list',
            class: {
              'table-sort-dropdown-menu': true,
            },
          }, this.renderTableHeaderSortDropdown(h, params.column.sortDropdown)),
        ]),
      ])
    },

    // 点击表头排序菜单项
    onClickTableHeaderSortDropdown(column) {
      let {title, sortDropdown} = column
      return (dropdownItemName) => {
        let currentDropdownItem = sortDropdown.find(item => item.name === dropdownItemName)

        // 如果选项没有变化
        if (currentDropdownItem.selected) {
          return
        }

        for (let item of this.tableColumns) {
          if (item.title === title) {
            // 当前表头设置选中状态
            for (let dropdownItem of item.sortDropdown) {
              dropdownItem.selected = dropdownItem.name === dropdownItemName
            }
          } else {
            // 其他表头的排序恢复为默认
            item.sortDropdown = deepCopy(TABLE_SORT_DROPDOWN)
          }
        }
        this.refreshTable()
      }
    },

    // 获取表头上显示的排序图标
    getTableHeaderSortIcon(dropdown) {
      let selected = dropdown.find(item => item.selected)
      let icon = ''

      switch (selected.name) {
        case '不排序':
          icon = sortNormal
          break
        case '组内升序':
          icon = sortGroupAscActive
          break
        case '组内降序':
          icon = sortGroupDescActive
          break
        case '全局升序':
          icon = sortGlobalAscActive
          break
        case '全局降序':
          icon = sortGlobalDescActive
          break
        default:
          icon = sortNormal
          break
      }

      return icon
    },

    // 表头排序的下拉菜单渲染函数
    renderTableHeaderSortDropdown(h, dropdown) {
      return dropdown.map(item => {
        let img = ''
        switch (item.name) {
          case '不排序':
            img = item.selected ? sortNormalActive : sortNormal
            break
          case '组内升序':
            img = item.selected ? sortGroupAscActive : sortGroupAsc
            break
          case '组内降序':
            img = item.selected ? sortGroupDescActive : sortGroupDesc
            break
          case '全局升序':
            img = item.selected ? sortGlobalAscActive : sortGlobalAsc
            break
          case '全局降序':
            img = item.selected ? sortGlobalDescActive : sortGlobalDesc
            break
          default:
            img = item.selected ? sortNormalActive : sortNormal
            break
        }

        return h('DropdownItem', {
          props: {
            name: item.name,
            selected: item.selected,
          },
        }, [
          h('span', item.name),
          h('img', {
            attrs: {
              src: img,
            },
          }),
        ])
      })
    },

    // 构建导出表格数据
    async buildExportExcelData() {
      const res = await this.getDataByDimensionAndIndicator(this.dimensions, this.indicators, true)
      if (!res) return
      let tableColumns, tableData
      if (this.dimensions.length) {
        // 维度+指标
        tableColumns = this.buildColumnsOfDimensionAndIndicator()
        tableData = this.buildDataOfDimensionAndIndicator(res)
      } else {
        // 纯指标
        tableColumns = this.buildColumnsOfPureIndicator()
        tableData = this.buildDataOfPureIndicator(res)
      }
      return {
        columns: tableColumns,
        data: tableData,
      }
    },

    // 适配同比数据
    adapterYoyData(data, dimension = []) {
      const yoyDataJson = data.yoyData
      if (yoyDataJson) {
        const len = dimension.length
        // arr转json，遍历时方便比较
        for (let indicatorId in yoyDataJson) {
          let data = yoyDataJson[indicatorId]
          if (len > 0) {
            let jsonData = {}
            data.forEach(r => {
              let dimensionMemberArr = []
              for (let j = 0; j < len; j++) {
                dimensionMemberArr[j] = r[j]
              }
              jsonData[dimensionMemberArr.join('_')] = r[len]
            })
            yoyDataJson[indicatorId] = jsonData
          }
        }

        let headers = data.headers
        let yoyData = []
        data.currentData.forEach(item => {
          let row = []
          let dimensionMemberJoin
          for (let i = 0; i < len; i++) {
            row[i] = item[i]
            dimensionMemberJoin = row.join('_')
          }
          for (let i = len; i < headers.length; i++) {
            const currentIndicatorData = yoyDataJson[headers[i]]
            if (!currentIndicatorData) {
              row[i] = null
            } else {
              // 纯指标，直接取第一个
              row[i] = len === 0 ? currentIndicatorData[0][0] : currentIndicatorData[dimensionMemberJoin]
            }
          }
          yoyData.push(row)
        })
        data.yoyData = yoyData
      }
    }
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-table-with-summary .ivu-table-tbody tr:last-child td {
  border-bottom: 1px solid #e8eaec;
}
</style>
