<template>
  <div
    :class="['drag-area', type]"
    :data-title="type === 'dimension' ? '行' : '列'"
    @dragover.prevent
    @drop.prevent="handleDrop($event)">
    <template v-for="(item, index) in data">
      <FaDropdownGroup
        :data="item.multipleDropdownMenu" trigger="click"
        @on-click="onSelectMenu($event, index)">
        <div
          class="tag"
          :data-index="index"
          draggable
          @dragstart="handleTagMoveDragStart($event, type)"
          @dragover.prevent
          @drop.prevent="handleTagMoveDrop($event, type)">
          {{ item.title }}
        </div>
      </FaDropdownGroup>
    </template>
    <i class="clear-button" @click="clearInputValue(type)"></i>
  </div>
</template>

<script>
import FaDropdownGroup from '_c/FaDropdownGroup'
import { deepCopy } from '@/utils/common'
import { DIMENSION_MULTIPLE_DROPDOWN_MENU, INDICATOR_DEFAULT_CONFIG } from '@/view/report/indicator-browser/constant'
import { getAllBusinessModelList } from '@/api/indicator'
import multipleDropdownMenuMixin from '@/view/report/indicator-browser/mixin/multiple-dropdown-menu'
import { OUT_INDICATOR_TYPE } from "@/config/indicator"
import modelDataMixin from '@/view/report/mixin/modelDataMixin'
export default {
  name: 'DimensionArea',
  mixins: [multipleDropdownMenuMixin, modelDataMixin],
  emits: [
    'on-dimension-drop',
    'on-indicator-drop',
    'on-select-dimension-menu',
    'on-select-indicator-menu',
  ],
  components: {
    FaDropdownGroup,
  },
  props: {
    type: String,
    data: Array,
    businessModelTreeData: Array,
  },
  methods: {
    handleDrop(e) {
      const doDropFun = this.type === 'dimension' ? this.handleDimensionDrop : this.handleIndicatorDrop
      doDropFun(e)
    },

    // 维度拖拽结束
    handleDimensionDrop(e) {
      let data = e.dataTransfer.getData('DRAG_NODE_DATA')
      this.refreshDimensionTags(data)
    },
    refreshDimensionTags(data) {
      let dimension = {}
      let count = this.data.length
      let isExist = false

      if (!data) {
        return
      }

      dimension = JSON.parse(data)
      isExist = this.data.findIndex(item => item.id === dimension.id) > -1

      if (dimension.type !== 99) {
        this.$Message.warning('请将维度放入行中')
        return
      }

      if (count > 5) {
        this.$Message.warning('维度查询数量不能超过 5 个！')
        return
      }

      if (isExist) {
        this.$Message.warning('维度重复')
        return
      }

      if (dimension.title.length > 20) {
        dimension.title = dimension.title.slice(0, 20) + '...'
      }

      dimension.multipleDropdownMenu = deepCopy(DIMENSION_MULTIPLE_DROPDOWN_MENU)
      this.$emit('on-dimension-drop', dimension)
    },
    // 指标拖拽结束（或者想维度拖拽到列中，创建指标）
    handleIndicatorDrop(e) {
      let dragNodeData = e.dataTransfer.getData('DRAG_NODE_DATA')
      this.refreshIndicatorTags(dragNodeData)
    },
    async refreshIndicatorTags(dragNodeData) {
      if (!dragNodeData) {
        return
      }
      let data = JSON.parse(dragNodeData)
      let indicator = deepCopy(INDICATOR_DEFAULT_CONFIG)
      let configObj = null;
      indicator = {
        ...indicator,
        type: data.type,
        id: data.id,
        title: data.title,
        abbrName: data.abbrName,
        key: `${data.id},${new Date().getTime()}`,
        calculateType: data.calculateType,
        numberFormat: { format: data.showType === '1' ? '百分比' : '数值' },
      }

      if(data.configData){
        configObj = JSON.parse(data.configData)
        let unit = '';
        if(configObj.numberUnit === 'wan'){
          unit = '万'
        }else if(configObj.numberUnit === 'yi'){
          unit = '亿'
        }else{
          unit = '原始值'
        }
        indicator.numberFormat = {
          prefix: configObj.prefix,
          suffix: configObj.suffix,
          precision: configObj.decimalPlaces,
          format: configObj.showType == '1' ? '百分比' : '数值',
          useThousandsSeparator: configObj.thousandsSeparator,
          unit: unit
        };
      }

      // 拖拽维度到列中则主动创建一个原子指标？？？？
      if (indicator.type === 99) {
        let treeData = this.$parent.$refs.dataProperty.treeData
        let groupId = this.getGroupIdByDimension(indicator.id, treeData)
        let businessModelId = this.getFirstBusinessModel(this.businessModelTreeData)
        let businessModelPropertyId = await this.getDefaultBusinessModelPropertyId(businessModelId)
        // 汇总方式默认为计数--5
        let calculateType = 5
        // 指标类型默认为数值--0
        let showType = 0
        let newFormItem = {
          name: indicator.title,
          groupId,
          businessModelId,
          businessModelPropertyId,
          calculateType,
          showType,
        }
        this.$emit('on-indicator-drop', {
          action: 'createIndicator',
          value: newFormItem,
        })
        return
      }

      let isExist = this.data.findIndex(item => item.id === indicator.id) > -1
      if (isExist) {
        this.$Message.warning('指标重复')
        return
      }
      if (indicator.title.length > 20) {
        indicator.title = indicator.title.slice(0, 20) + '...'
      }
      this.setCalculateTypeStatus(indicator, indicator.multipleDropdownMenu)

      // 外部指标下拉菜单只保留“删除”
      if(indicator.type === OUT_INDICATOR_TYPE) {
        indicator.multipleDropdownMenu = indicator.multipleDropdownMenu.filter(ele => ele.name === "删除")
      }
      this.$emit('on-indicator-drop', {
        action: 'add',
        value: indicator,
      })
    },

    // 找到该维度所在分组的id
    getGroupIdByDimension(id, tree) {
      let groupId = null
      for (let item of tree) {
        let isExist = item.children.findIndex(item => item.id === id) > -1
        if (isExist) {
          groupId = item.id
        } else {
          groupId = this.getGroupIdByDimension(id, item.children)
        }
        if (groupId) {
          break
        }
      }
      return groupId
    },

    // 找到第一个有效的业务模型-因为默认选中第一个
    getFirstBusinessModel(tree) {
      let id = null
      for (let item of tree) {
        if (item.type === 'value') {
          id = item.id
        } else if (item.children?.length) {
          id = this.getFirstBusinessModel(item.children)
        }
        if (id) {
          break
        }
      }
      return id
    },

    // 获取默认的技术口径
    async getDefaultBusinessModelPropertyId(businessModelId) {
      const { data } = await getAllBusinessModelList()
      if (data.state === 'success') {
        let businessModelList = data.data
        const businessModel = businessModelList.find(item => item.id == businessModelId)
        if (businessModel) {
          return businessModel.businessModelProperties[0].id || null
        }
      }
      return null
    },

    onSelectMenu(selectedIndexes, index) {
      if (this.type === 'dimension') {
        this.$emit('on-select-dimension-menu', {
          selectedIndexes,
          dimensionIndex: index,
        })
      } else {
        this.$emit('on-select-indicator-menu', {
          selectedIndexes,
          indicatorIndex: index,
        })
      }
    },

    // 移动行中标签，调整顺序，拖拽开始
    handleTagMoveDragStart(e, type) {
      const data = JSON.stringify({ index: e.target.dataset.index, type })
      e.dataTransfer.setData('DRAG_NODE_MOVE_DATA', data)
    },

    // 移动行中标签，调整顺序，拖拽结束
    handleTagMoveDrop(e, type) {
      let choose = type === 'dimension' ? this.data : this.data
      let data = e.dataTransfer.getData('DRAG_NODE_MOVE_DATA')
      let targetIndex = e.target.dataset.index
      let dropNode = {}
      let dropItem = null
      let targetItem = null

      if (!data) {
        return
      }

      dropNode = JSON.parse(data)

      // 行和行、列和列才可调整顺序
      if (dropNode.type !== type) {
        return
      }

      dropItem = choose[dropNode.index]
      targetItem = choose[targetIndex]
      choose.splice(targetIndex, 1, dropItem)
      choose.splice(dropNode.index, 1, targetItem)
    },

    // 清空行（维度）或列（指标）
    clearInputValue(type) {
      this.$emit('on-clear', type)
    },
  },
}
</script>

<style scoped lang="less">
.drag-area {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
  cursor: pointer;

  &:before {
    content: attr(data-title);
    width: 52px;
    height: 38px;
    border-radius: 2px 0 0 2px;
    line-height: 38px;
    padding-left: 14px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 16px;
  }

  .clear-button {
    content: url('~@/assets/images/dataset/clearcontent.svg');
    position: absolute;
    right: 12px;
    cursor: pointer;
    display: none;
  }

  &:hover .clear-button {
    display: inline;
  }
}

.dimension {
  border: 1px dashed rgba(63, 115, 255, 1);

  &:before {
    background: #F0F5FF;
    color: #3F73FF;
  }
}

.indicator {
  border: 1px dashed rgba(115, 209, 61, 1);

  &:before {
    background: #EAFFD6;
    color: #73D13D;
  }
}

.tag {
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  padding: 0 28px 0 8px;
  margin-right: 16px;

  &:after {
    position: absolute;
    margin-left: 4px;
    margin-top: 4px;
  }
}

.dimension .tag {
  background: #F0F5FF;
  color: #3F73FF;

  &:after {
    content: url("~@/assets/images/dataset/arrow-bottom-blue.svg");
  }
}

.indicator .tag {
  background: #F6FFED;
  color: #73D13D;

  &:after {
    content: url("~@/assets/images/dataset/arrow-bottom-green.svg");
  }
}
</style>
