<template>
  <div class="global-var-wrap">
     <div class="global-var-item" v-for="item in data" :key="item.varId">
       <div>{{item.name}}：</div>
       <Select class="select" @on-change="handleSelectChange($event, item)" :value="item.value">
         <Option v-for="option in item.paramValue" :key="option.value" :value="option.value">{{option.label}}</Option>
       </Select>
     </div>
  </div>
</template>

<script>
export default {
  name: "IndicatorGlobalVar",
  props: {
    data: Array
  },
  methods: {
    handleSelectChange(value, item) {
      const variableValue = {
        [item.varCode]: value
      }
      this.$emit("selectedGlobalValChange", variableValue);
    }
  }
}
</script>

<style scoped>
.global-var-wrap{

}
.global-var-item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.select{
  width: 200px;
}
</style>
