<template>
  <div class="name-input-form">
    <div class="name-input-form-body">
      <Form
        ref="nameInputForm"
        :model="data"
        :rules="ruleValidate"
        label-position="left"
        :label-width="65"
        label-colon
        hide-required-mark>
        <FormItem :label="data.label" prop="value">
          <Input v-model.trim="data.value" :maxlength="30" placeholder="请输入..."></Input>
        </FormItem>
      </Form>
    </div>
    <div class="name-input-form-footer">
      <Button @click="handleCancel">取消</Button>
      <Button type="primary" @click="handleOk">确定</Button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Rename',
  emits: ['on-cancel', 'on-ok'],
  props: {
    data: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      ruleValidate: {
        value: [
          { required: true, message: '请输入内容', trigger: 'blur' }
        ],
      }
    }
  },
  methods: {
    handleCancel() {
      this.$emit('on-cancel')
      this.$refs.nameInputForm.resetFields()
    },

    async handleOk() {
      const validate = await this.$refs.nameInputForm.validate()

      if (!validate) {
        return
      }

      this.$emit('on-ok')
    },
  },
}
</script>

<style scoped lang="less">
.name-input-form .name-input-form-body /deep/ .ivu-input {
  border-radius: 2px;
}

.name-input-form .name-input-form-footer {
  margin-top: 32px;
  text-align: right;

  button {
    height: 32px;
    border-radius: 2px;
    padding: 0 24px;
  }

  .ivu-btn-default {
    border: 1px solid rgba(217, 217, 217, 1);
    color: #666666;
  }

  .ivu-btn-primary {
    border: 0;
    margin-left: 16px;
  }
}

.name-input-form /deep/ .filter-body {
  .ivu-select-selection,
  .ivu-input,
  .ivu-input-number {
    border-radius: 2px;
  }
}
</style>
