<template>
  <div class="save-resource">
    <div class="resource-group">
      <div class="resource-item">
        <Checkbox v-model="tableChecked">表格</Checkbox>
        <div class="input-wrapper">
          资源名称：<Input v-model.trim="tableName" :maxlength="30" placeholder="请输入名称" :disabled="!tableChecked" />
        </div>
        <div class="resourceBox">
          <span class="resourceTitle">资产分组:</span>
          <TreeSelect
            class="resourceContent"
            v-model="tableFileGroup"
            :expand-all="false"
            :data="tableFileGroupList"
            :multiple="false"
            placeholder="请选择分组"
            check-strictly
            :disabled="!tableChecked"
          />
        </div>
        <div class="resourceBox">
          <span class="resourceTitle">资源标签:</span>
          <AssetsLabel class="resourceContent" paddingBottom="5px" :disabled="!tableChecked" :data="tableTag" @select="selectTableLabel" />
        </div>
      </div>

      <div :class="['resource-item', { disabled: disabled }]">
        <Checkbox v-model="chartChecked" :disabled="disabled">图表</Checkbox>
        <div class="input-wrapper">
          资源名称：<Input v-model.trim="chartName" :maxlength="30" placeholder="请输入名称" :disabled="chartNameInputDisabled" />
        </div>
        <div class="resourceBox">
          <span class="resourceTitle">资产分组:</span>
          <TreeSelect
            class="resourceContent"
            v-model="chartFileGroup"
            :expand-all="false"
            :data="chartFileGroupList"
            :multiple="false"
            placeholder="请选择分组"
            check-strictly
            :disabled="chartNameInputDisabled"
          />
        </div>
        <div class="resourceBox">
          <span class="resourceTitle">资源标签:</span>
          <AssetsLabel class="resourceContent" paddingBottom="5px" :disabled="chartNameInputDisabled" :data="chartTag" @select="selectChartLabel" />
        </div>
      </div>
    </div>
    <div class="form-footer">
      <Button @click="handleCancel">取消</Button>
      <Button type="primary" @click="handleOk">确定</Button>
    </div>
  </div>
</template>

<script>
import { CHART_TYPE } from '@/view/report/indicator-browser/constant'
import TreeSelect from "@/components/tree-select";
import AssetsLabel from "@/view/report/components/AssetsLabel";
import { getDimensionTreeData, findDimensionById } from "@/api/dimension";
import { mapGetters } from "vuex";
import { deepCopy } from '@/utils/common';

export default {
  name: 'SaveResource',
  emits: ['on-cancel', 'on-ok'],
  props: {
    chartType: String,
    chartDisabled: Boolean,
  },
  components: {
    TreeSelect,
    AssetsLabel
  },
  data() {
    return {
      tableChecked: true,
      tableName: '',
      tableFileGroupList: [], // 资产分组列表
      tableFileGroup: [], // 选择的资产分组
      tableTag: [], // 选择的标签
      chartChecked: false,
      chartName: '',
      chartFileGroupList: [],
      chartFileGroup: [],
      chartTag: [],
      defaultFileGroup: [] // 默认选中的资产分组
    }
  },
  computed: {
    ...mapGetters("resourceManage", ["allResourceName"]),
    disabled() {
      return this.chartType === CHART_TYPE.TABLE || this.chartDisabled
    },
    chartNameInputDisabled() {
      return this.chartType === CHART_TYPE.TABLE || !this.chartChecked
    },
  },
  created() {
    this.getTreeData();
  },
  methods: {
    /**
     * 获取资产分组数据
     */
    async getTreeData() {
      const { data } = await getDimensionTreeData();
      if (data?.state === "success") {
        let groupData = data.data.dimensionGroupList;
        let dimensionData = data.data.dimensionList;
        let allData = groupData.concat(dimensionData);
        let root = [
          {
            id: -1,
            title: "数据资产",
            expand: true,
            type: "group",
            deep: 0,
            disabled: true
          }
        ];
        const treeData = this.generateTree(root, allData);
        this.defaultSelectFileGroup(treeData);
        this.tableFileGroupList = this.generateTree(root, groupData);
        this.chartFileGroupList = this.generateTree(root, groupData);
      } else {
        this.$Message.error("获取资产分组失败");
      }
    },
    /**
     * 递归-生成维度（分组）树
     * @param parent 父节点
     * @param all 全部数据
     * @param deep 层级，根节点为0
     */
    generateTree(parent, all, deep = 1) {
      return parent.map(parentItem => {
        let children = all
          .filter(allItem => {
            let parentId = allItem.parentId || allItem.groupId;
            return parentId === parentItem.id;
          })
          .map(child => ({
            id: child.id,
            title: child.name,
            deep: deep,
            type: child.parentId ? "group" : "value",
            expand: false,
            selected: false
          }));

        return {
          ...parentItem,
          children: children.length ? this.generateTree(children, all, ++deep) : []
        };
      });
    },
    /**
     * 默认选中的资产分组
     * @param tree
     * @param id
     * @returns {boolean}
     */
    async defaultSelectFileGroup(tree, id = null) {
      for (let treeItem of tree) {
        let condition = id ? treeItem.type === "value" && treeItem.id === id : treeItem.type === "value";
        if (condition) {
          const res = await findDimensionById(treeItem.id);
          if (res.data.state === "success") {
            let dimension = res.data.data;
            this.tableFileGroup = [dimension.groupId];
            this.chartFileGroup = [dimension.groupId];
            this.defaultFileGroup = [dimension.groupId];
          }
          return true;
        } else {
          if (treeItem.children?.length && (await this.defaultSelectFileGroup(treeItem.children, id))) {
            treeItem.expand = true;
            return true;
          }
        }
      }
      return false;
    },
    /**
     * 表格标签变化
     * @param selected
     */
    async selectTableLabel(selected) {
      const index = this.tableTag.findIndex(item => item.id === selected.id);
      if (index === -1) {
        this.tableTag.push(selected);
      } else {
        this.tableTag.splice(index, 1);
      }
    },
    /**
     * 图表标签变化
     * @param selected
     */
    async selectChartLabel(selected) {
      const index = this.chartTag.findIndex(item => item.id === selected.id);
      if (index === -1) {
        this.chartTag.push(selected);
      } else {
        this.chartTag.splice(index, 1);
      }
    },
    handleCancel() {
      this.tableChecked = true // 清空table
      this.tableName = ''
      this.tableFileGroup = deepCopy(this.defaultFileGroup)
      this.tableTag = []
      this.chartChecked = false // 清空chart
      this.chartName = ''
      this.chartFileGroup = deepCopy(this.defaultFileGroup)
      this.chartTag = []
      this.$emit('on-cancel')
    },

    async handleOk() {
      if (!this.tableChecked && !this.chartChecked) {
        this.$Message.warning('请勾选一个资源')
        return
      }

      if (this.tableChecked) {
        if (!this.tableName) {
          this.$Message.warning('请输入名称')
          return
        }
        if (this.tableName.length > 20) {
          this.$Message.warning("资源名称不能超过20个字");
          return
        }
        if (this.tableFileGroup.length === 0) {
          this.$Message.warning("请选择资产分组");
          return
        }
      }

      if(this.chartChecked) {
        if (!this.chartName) {
          this.$Message.warning('请输入名称')
          return
        }
        if (this.chartName.length > 20) {
          this.$Message.warning("资源名称不能超过20个字");
          return
        }
        if (this.chartFileGroup.length === 0) {
          this.$Message.warning("请选择资产分组");
          return
        }
      }

      const tableName = this.judgeTitleIsRepeat(this.tableName)
      const chartName = this.judgeTitleIsRepeat(this.chartName, 0, tableName)
      this.$emit('on-ok', {
        table: {
          checked: this.tableChecked,
          name: tableName,
          groupId: this.tableFileGroup[0],
          labels: this.tableTag.map(ele => ({ id: ele.id })),
        },
        chart: {
          checked: this.chartChecked,
          name: chartName,
          groupId: this.chartFileGroup[0],
          labels: this.chartTag.map(ele => ({ id: ele.id })),
        },
      })
    },
    /**
     * 判断名称是否重复，重复自动加数字后缀
     * @param {String} title 资源名称
     * @param {Number} num 后缀数字
     * @param {String} extraData 额外不能相同的数据
     */
    judgeTitleIsRepeat(title, num = 0, extraData = "") {
      let newTitle = num === 0 ? title : `${title}(${num})`;
      num++;

      const isRepeat = this.allResourceName.some(ele => ele === newTitle) || newTitle === extraData;
      if (isRepeat) {
        return this.judgeTitleIsRepeat(title, num, extraData);
      } else {
        return newTitle;
      }
    }
  },
}
</script>

<style scoped lang="less">
.resource-item + .resource-item {
  border-top: 1px dashed rgba(237, 237, 237, 1);
  margin-top: 12px;
  padding-top: 8px;
}

.resource-item.disabled {
  color: #C7C7C7;
}

.input-wrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 8px;
}

.resourceBox {
  display: flex;
  align-items: center;
  margin-top: 16px;
  &:last-child {
    margin-bottom: 24px;
  }
  .resourceTitle {
    width: 60px;
    margin-right: 1px;
  }
  /deep/.resourceContent {
    width: calc(~"100% - 61px");
    &.assets-label {
      cursor: pointer;
      &.labelDisabled {
        cursor: not-allowed;
        .select-wrapper .ivu-icon.ivu-icon-ios-arrow-down {
          color: #ccc;
        }
      }
      .select-wrapper {
        width: 100%;
        padding: 5px 22px 5px 14px;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(217, 217, 217, 1);
        border-radius: 4px;
        box-sizing: border-box;
        height: 32px;
        .selected-list {
          flex-wrap: nowrap;
          overflow-x: hidden;
          .list-item {
            margin-right: 10px;
            margin-bottom: 5px;
            height: 20px;
            flex: none;
          }
        }
        .ivu-icon {
          font-size: 14px;
          right: 8px;
          color: #808695;
        }
      }
      .search-input {
        width: 100%;
      }
    }
  }
}

.form-footer {
  margin-top: 20px;
  text-align: right;

  button {
    height: 32px;
    border-radius: 2px;
    padding: 0 24px;
  }

  .ivu-btn-default {
    border: 1px solid rgba(217, 217, 217, 1);
    color: #666666;
  }

  .ivu-btn-primary {
    border: 0;
    margin-left: 16px;
  }
}

/deep/ .ivu-checkbox-inner {
  border-color: rgba(151, 151, 151, 1);
  background: #F3F3F3;
}

/deep/ .ivu-checkbox-checked .ivu-checkbox-inner {
  background: #2d8cf0;
}
</style>
