<template>
  <div class="toolbar">
    <img title="撤销" :src="btnUndoIcon" @click="$emit('on-undo')" />
    <img title="重做" :src="btnRedoIcon" @click="$emit('on-redo')" />
    <i class="split-line"></i>
    <img
      title="行列转置"
      :src="btnTransposeIcon"
      :class="{disabled: tableTransposeDisabled}"
      @click="$emit('on-table-transpose')" />
    <img
      title="自定义筛选"
      :src="btnCustomFilterIcon"
      :class="{disabled: customFilterDisabled}"
      @click="$emit('on-custom-filter')" />
  </div>
</template>

<script>
import btnUndoDisabled from '@/assets/images/dataset/btn-undo-disabled.svg'
import btnUndo from '@/assets/images/dataset/btn-undo.svg'
import btnRedoDisabled from '@/assets/images/dataset/btn-redo-disabled.svg'
import btnRedo from '@/assets/images/dataset/btn-redo.svg'
import btnTranspose from '@/assets/images/dataset/btn-transpose.svg'
import btnTransposeDisabled from '@/assets/images/dataset/btn-transpose-disabled.svg'
import btnTransposeActive from '@/assets/images/dataset/btn-transpose-active.svg'
import btnCustomFilterActive from '@/assets/images/dataset/btn-custom-filter-active.svg'
import btnCustomFilterDisabled from '@/assets/images/dataset/btn-custom-filter-disabled.svg'
import btnCustomFilter from '@/assets/images/dataset/btn-custom-filter.svg'

export default {
  name: 'Toolbar',
  emits: ['on-undo', 'on-redo', 'on-table-transpose', 'on-custom-filter'],
  props: {
    btnUndoIconDisabled: Boolean,
    btnRedoIconDisabled: Boolean,
    tableTransposeActive: Boolean,
    tableTransposeDisabled: Boolean,
    customFilterActive: Boolean,
    customFilterDisabled: Boolean,
  },
  computed: {
    btnUndoIcon() {
      return this.btnUndoIconDisabled ? btnUndoDisabled : btnUndo
    },
    btnRedoIcon() {
      return this.btnRedoIconDisabled ? btnRedoDisabled : btnRedo
    },
    btnTransposeIcon() {
      let icon = btnTranspose
      if (this.tableTransposeDisabled) {
        icon = btnTransposeDisabled
      } else if (this.tableTransposeActive) {
        icon = btnTransposeActive
      }
      return icon
    },
    btnCustomFilterIcon() {
      if (this.customFilterActive) {
        return btnCustomFilterActive
      }
      if (this.customFilterDisabled) {
        return btnCustomFilterDisabled
      }
      return btnCustomFilter
    },
  },
}
</script>

<style scoped lang="less">
.toolbar {
  display: flex;
  align-items: center;

  > img {
    padding: 4px 8px;
    width: 32px;
    height: 24px;
    cursor: pointer;
  }

  > img.disabled {
    cursor: not-allowed;
  }

  > img + img {
    margin-left: 8px;
  }

  i.split-line {
    display: block;
    width: 1px;
    height: 16px;
    background: #EAEAEA;
    padding: 0;
    margin: 0 8px;
  }
}
</style>
