<template>
  <Modal class="addVersionModal-container" :value="showModal" :title="`${modalTitle}版本号`" width="320" footer-hide @on-cancel="onCancel">
    <div class="searchBox">
      <span>版本号名称：</span>
      <Input v-model.trim="versionName" maxlength="10" clearable placeholder="请输入" style="width: 200px" />
    </div>
    <div class="searchBox">
      <span>版本号描述：</span>
      <Input v-model.trim="versionDesc" maxlength="50" clearable placeholder="请输入" style="width: 200px" />
    </div>

    <div class="actionBtn">
      <section class="cancelBtn" @click="onCancel">取消</section>
      <section class="confirmBtn" @click="onConfirm">确认</section>
    </div>
  </Modal>
</template>

<script>
import { addVersion, editVersion } from "@/api/label";

export default {
  model: {
    prop: "showModal",
    event: "update:showModal"
  },
  props: {
    showModal: {
      type: Boolean,
      required: true
    },
    modalType: {
      type: String,
      required: true
    },
    modalStatus: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      versionName: "",
      versionDesc: ""
    };
  },
  computed: {
    modalTitle() {
      return this.modalType === "add" ? "新增" : "编辑";
    }
  },
  watch: {
    // 编辑态: 回填数据
    modalStatus: {
      handler(newVal) {
        if (Object.keys(newVal)) {
          this.versionName = newVal.name;
          this.versionDesc = newVal.desc;
        }
      },
      deep: true
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.reset();
      this.$emit("update:showModal", false);
    },
    /**
     * 确认
     */
    async onConfirm() {
      if (!this.versionName) {
        this.$Message.warning("请填写版本号名称！");
        return;
      }

      if (!this.versionVerify(this.versionName)) {
        this.$Message.warning("请输入正确的版本号名称，如“V1.1.0”");
        return;
      }

      const params = {
        name: this.versionName,
        versionDesc: this.versionDesc
      };
      let res = {};
      if (this.modalType === "add") {
        res = await addVersion(params);
      } else if (this.modalType === "edit") {
        params.id = this.modalStatus.id;
        res = await editVersion(params);
      }
      if (res.data.state === "success") {
        this.onCancel();
        this.$emit("refresh:data");
        this.$Message.success(`版本号${this.modalTitle}成功！`);
      } else {
        this.$Message.error(res.data.message);
      }
    },
    /**
     * 校验版本号
     */
    versionVerify(version) {
      const firstStr = version.slice(0, 1);
      const versionArr = version.slice(1).split(".");
      return firstStr === "V" && versionArr.length === 3 && versionArr.every(ele => /^[\d]+$/g.test(ele));
    },
    /**
     * 重置数据
     */
    reset() {
      this.versionName = "";
      this.versionDesc = "";
    }
  }
};
</script>

<style lang="less" scoped>
.addVersionModal-container {
  /deep/.ivu-modal-header {
    padding-left: 24px;
  }
  /deep/.ivu-modal-body {
    padding: 24px 24px 15px;
  }

  .searchBox {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    span {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333333;
    }
  }

  .actionBtn {
    display: flex;
    justify-content: flex-end;
    .cancelBtn,
    .confirmBtn {
      width: 72px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      cursor: pointer;
    }
    .cancelBtn {
      border: 1px solid rgba(217, 217, 217, 1);
      margin-right: 16px;
      color: #949494;
    }
    .confirmBtn {
      background: #3f73ff;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #ffffff;
    }
  }
}
</style>
