<template>
  <div class="filterSearch-container">
    <section class="rowLeft">
      <div class="searchBox">
        <span>版本号名称：</span>
        <Input v-model.trim="versionValue" maxlength="30" clearable placeholder="请输入内容" style="width: 160px" />
      </div>
      <Button class="searchBtn" icon="ios-search" @click="$emit('search:table', versionValue)">查询</Button>
    </section>
    <section class="rowRight" @click="$emit('add:version', 'add')">
      <img src="@/assets/icons/earlyWarningTarget/add.svg" alt="" />
      <span>新增版本号</span>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      versionValue: ""
    };
  }
};
</script>

<style lang="less" scoped>
.filterSearch-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .rowLeft {
    display: flex;
    align-items: center;
    .searchBox {
      display: flex;
      align-items: center;
      margin-right: 16px;
    }
    .searchBtn {
      background: #3f73ff;
      border-radius: 4px;
      width: 72px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: #ffffff;
      /deep/.ivu-icon-ios-search::before {
        font-size: 16px;
      }
    }
  }

  .rowRight {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 114px;
    height: 32px;
    background: #3f73ff;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ffffff;
    img {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
}
</style>
