<template>
  <div class="tableList-container" ref="tableListRef">
    <template v-if="tableDataSelf.length">
      <!-- 生成的拖动元素，相对表格容器定位 -->
      <div class="dragItemWrapper" v-html="draggingItemOuterHTML" :style="{ top: `${draggingItemTop}px` }" v-show="draggingItemOuterHTML"></div>

      <header class="tableHeader">
        <div class="headerItem" v-for="col in tableColumns" :key="col.key" :style="colStyleObj(col)">{{ col.title }}</div>
      </header>

      <section class="tableContent">
        <div
          class="tableItem"
          :ref="`tableItem${item.id}`"
          v-for="item in tableDataSelf"
          :key="item.id"
          :style="{ marginTop: `${item.marginTop}px`, transition: isDragTranstion ? 'margin-top 0.2s ease' : 'none' }"
        >
          <!-- <div class="sortWrapper" @mousedown.stop="onMousedown($event, item)"></div> -->
          <!-- <div
            class="levelWrapper"
            :style="colStyleObj(tableColumns[0])"
            @mouseenter="item.showLevelEditBtn = true"
            @mouseleave="item.showLevelEditBtn = false"
          >
            <template v-if="!item.showLevelEdit">
              <span>{{ item.level }}</span>
              <img src="@/assets/icons/earlyWarningTarget/edit.svg" alt="" v-show="item.showLevelEditBtn" @click="showEdit(item)" />
            </template>
            <Input v-else :ref="`InputRef${item.id}`" v-model="item.newLevel" type="number" number style="width: 80px" @on-blur="onBlur(item)" />
          </div> -->
          <div :style="colStyleObj(tableColumns[0])">{{ item.name }}</div>
          <div class="descWrapper" :style="colStyleObj(tableColumns[1])" :title="item.desc">{{ item.desc }}</div>
          <div class="actionWrapper" :style="colStyleObj(tableColumns[2])">
            <div class="actionItem" @click="showEditModal(item)">
              <img src="@/assets/icons/earlyWarningTarget/edit.svg" alt="" />
              <span>编辑</span>
            </div>
            <div class="actionItem" v-if="!item.sysVersion" @click="deleteVersion(item)">
              <img src="@/assets/icons/earlyWarningTarget/delete.svg" alt="" />
              <span>删除</span>
            </div>
          </div>
        </div>
      </section>
    </template>

    <NoData v-else :width="1180" :height="575" :img-src="noDataImg" />
  </div>
</template>

<script>
import NoData from "@/components/NoData";
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import { changeVersionLevel, deleteVersion } from "@/api/label";

export default {
  props: {
    tableData: {
      type: Array,
      required: true
    }
  },
  components: {
    NoData
  },
  data() {
    return {
      noDataImg,
      tableColumns: [
        // { title: "版本号等级", key: "level", marginLeft: 52 },
        { title: "版本号名称", key: "name", marginLeft: 52 },
        { title: "版本号描述", key: "desc" },
        { title: "操作", key: "operation", align: "center", width: 200 }
      ],
      tableDataSelf: [],
      isDragging: false, // 是否正在拖拽
      isDragTranstion: false, // 是否开启拖拽过度效果
      draggingItemIndex: 0, // 当前拖拽项的索引
      draggingItem: {}, // 正在拖动的项
      draggingItemOuterHTML: "", // 正在拖动项的html字符串
      initDis: 0,
      draggingItemTop: 0,
      diagStartY: 0
    };
  },
  computed: {
    colStyleObj() {
      return col => ({
        flex: col.width ? "none" : 1,
        width: col.width ? `${col.width}px` : "auto",
        textAlign: col.align || "left",
        marginLeft: col.marginLeft ? `${col.marginLeft}px` : 0
      });
    }
  },
  watch: {
    // 将传入的数据，整合为组件需要的格式
    tableData: {
      handler(newVal) {
        this.tableDataSelf = newVal.map(ele => ({
          ...ele,
          showLevelEditBtn: false, // 是否展示版本号等级编辑按钮
          showLevelEdit: false, // 版本号等级是否是编辑态
          newLevel: ele.level, // 编辑后的等级
          marginTop: 0
        }));
      },
      deep: true,
      immediate: true
    }
  },
  created() {
    document.addEventListener("mousemove", this.onMousemove);
    document.addEventListener("mouseup", this.onMouseup);
  },
  beforeDestroy() {
    document.removeEventListener("mousemove", this.onMousemove);
    document.removeEventListener("mouseup", this.onMouseup);
  },
  methods: {
    /**
     * 鼠标按下: 生成移动项，移除表格项且保留空位
     */
    onMousedown(e, { id }) {
      this.isDragging = true;
      this.draggingItemIndex = this.tableDataSelf.findIndex(ele => ele.id === id);
      this.diagStartY = e.y; // 开始位置

      // 生成移动项
      this.draggingItemOuterHTML = this.$refs[`tableItem${id}`][0].outerHTML;
      const containerRef = this.$refs.tableListRef.getBoundingClientRect().top;
      const itemTop = this.$refs[`tableItem${id}`][0].getBoundingClientRect().top;
      this.initDis = itemTop - containerRef; // 记录初始距离
      this.draggingItemTop = itemTop - containerRef;

      // 移除表格项且保留空位
      this.draggingItem = this.tableDataSelf.splice(this.draggingItemIndex, 1)[0];
      if (this.draggingItemIndex !== this.tableData.length - 1) {
        // 拖动非最后一项时
        this.tableDataSelf[this.draggingItemIndex].marginTop = 40;
      }
    },
    /**
     * 鼠标移动: 修改移动项位置，实时移动表格项
     */
    onMousemove(e) {
      if (!this.isDragging) return;
      this.isDragTranstion = true;

      // 修改移动项位置
      const moveY = e.y - this.diagStartY;
      this.draggingItemTop = this.initDis + moveY < 40 ? 40 : this.initDis + moveY;

      // 实时移动表格项
      const moveIndex = Math.floor((moveY + 20) / 40);
      this.tableDataSelf.forEach((ele, index) => {
        const updateIndex = this.draggingItemIndex + moveIndex < 0 ? 0 : this.draggingItemIndex + moveIndex;
        ele.marginTop = index === updateIndex ? 40 : 0;
      });
    },
    /**
     * 鼠标抬起: 移除移动项，生成表格项且移除空位
     */
    async onMouseup(e) {
      if (!this.isDragging) return;

      // 移除移动项
      this.draggingItemOuterHTML = "";
      this.draggingItemTop = 0;

      // 生成表格项且移除空位
      const targetIndex = this.tableDataSelf.findIndex(ele => ele.marginTop !== 0);
      const newLevel = targetIndex === -1 ? this.tableDataSelf[this.tableDataSelf.length - 1].level + 1 : this.tableDataSelf[targetIndex].level;
      const { id } = this.draggingItem;
      const state = await this.changeLevel(id, newLevel);
      if (state === "error") {
        this.tableDataSelf.splice(this.draggingItemIndex, 0, this.draggingItem);
        this.tableDataSelf.forEach(ele => (ele.marginTop = 0));
        this.draggingItem = {};
      }

      this.isDragging = false;
      this.isDragTranstion = false;
      this.draggingItemIndex = 0;
      this.diagStartY = 0;
    },
    /**
     * 切换编辑态
     */
    showEdit({ id }) {
      this.changeData({ id, key: "showLevelEdit", value: true });
      this.$nextTick(() => {
        this.$refs[`InputRef${id}`][0].focus();
      });
    },
    /**
     * 失焦
     */
    async onBlur({ id, level, newLevel }) {
      if (newLevel < 1) {
        this.$Message.warning("版本号等级必须大于0！");
        this.$refs[`InputRef${id}`][0].focus();
        return;
      }
      if (level !== newLevel) {
        const state = await this.changeLevel(id, newLevel);
        if (state === "error") {
          this.changeData({ id, key: "newLevel", value: level });
          this.changeData({ id, key: "showLevelEdit", value: false });
        }
      } else {
        this.changeData({ id, key: "showLevelEdit", value: false });
      }
    },
    changeData({ id, key, value }) {
      this.tableDataSelf.forEach(ele => {
        if (ele.id === id) {
          ele[key] = value;
        }
      });
    },
    /**
     * 修改版本号等级
     */
    async changeLevel(id, level) {
      const res = await changeVersionLevel({ id, level });
      if (res.data.state === "success") {
        this.$Message.success("版本号等级调整成功！");
        this.$emit("refresh:data");
      } else {
        this.$Message.error(res.data.message);
      }
      return res.data.state;
    },
    /**
     * 展示编辑弹窗
     */
    showEditModal({ id, name, desc }) {
      this.$emit("show:modal", "edit", { id, name, desc });
    },
    /**
     * 删除版本号
     */
    deleteVersion({ id, name }) {
      this.$Modal.confirm({
        title: "版本号删除",
        content: `确定要删除"${name}"版本号吗？`,
        onOk: async () => {
          const res = await deleteVersion(id);
          if (res.data.state === "success") {
            this.$Message.success("版本号删除成功！");
            this.$emit("refresh:data");
          } else {
            this.$Message.error(res.data.message);
          }
        }
      });
    }
  }
};
</script>

<style lang="less" scoped>
.tableList-container {
  width: 100%;
  height: 100%;
  position: relative;

  .dragItemWrapper {
    width: 100%;
    border: 1px dashed rgba(63, 115, 255, 1);
    box-shadow: 0px 0px 6px 0px rgba(135, 167, 255, 1);
    border-radius: 4px;
    cursor: url("~@/assets/icons/cursor_move.svg"), pointer;
    position: absolute;
    z-index: 100;
  }

  .tableHeader {
    width: 100%;
    height: 40px;
    background: #f8f8f8;
    display: flex;
    .headerItem {
      line-height: 40px;
      font-weight: 600;
    }
  }

  .tableContent {
    width: 100%;
    height: calc(~"100% - 50px");
    overflow-x: hidden;
    overflow-y: auto;
  }

  .tableItem {
    display: flex;
    align-items: center;
    height: 40px;
    background: #ffffff;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    .sortWrapper {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 8px;
      cursor: url("~@/assets/icons/cursor_move.svg"), pointer;
      background-image: url("~@/assets/icons/sort.svg");
      background-repeat: no-repeat;
      &:hover {
        background-image: url("~@/assets/icons/sort-blue.svg");
      }
    }
    .levelWrapper {
      display: flex;
      align-items: center;
      img {
        margin-left: 8px;
        cursor: pointer;
      }
    }
    .descWrapper {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .actionWrapper {
      display: flex;
      align-items: center;
      white-space: nowrap;
      padding-left: 50px;
      .actionItem {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 16px;
        }
        img {
          width: 16px;
          height: 16x;
          margin-right: 5px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #3f73ff;
          letter-spacing: 0;
          line-height: 20px;
        }
      }
    }
  }

  .noData-container {
    margin-top: 32px;
    height: calc(~"100% - 72px");
  }
}
</style>
