<template>
  <Modal class="authSourceModal-container" :value="showModal" @on-cancel="onCancel" title="权限来源" width="382" footer-hide>
    <div class="rowWrapper" v-for="item in authSourceList" :key="item.title">
      <p class="rowTitle" v-if="item.deptOrigin || item.roleOrigin">· {{ item.title }}</p>
      <p class="rowContent" v-if="item.deptOrigin">部门：{{ item.deptOrigin }}</p>
      <p class="rowContent" v-if="item.roleOrigin">角色：{{ item.roleOrigin }}</p>
    </div>
  </Modal>
</template>

<script>
import { getOriginByUserIdAndResourceId, getPersonnelOriginByUserIdAndResourceId } from "@/api/systemManagement/authorizationManagement";
import { mapState, mapActions } from "vuex";

export default {
  model: {
    prop: "showModal",
    event: "update:showModal"
  },
  props: {
    showModal: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      authSourceList: []
    };
  },
  computed: {
    ...mapState("authorizationManagement", ["authorizedItem", "personManageType", "domainId", 'rightTab'])
  },
  watch: {
    authorizedItem: {
      handler(newVal) {
        console.log(newVal, 'newVal...')
        if (!Object.keys(newVal).length) return;
        const { id } = newVal;
        this.onGetAuthOrigin(id, this.personManageType);
      },
      deep: true
    }
  },
  methods: {
    ...mapActions("authorizationManagement", ["setAuthorizedItem", "setPersonManageType"]),
    /**
     * 获取权限来源
     * @param resourceId 资源id
     * @param type 人员管理中的类型 1-部门 2-角色
     * @returns {Promise<void>}
     */
    async onGetAuthOrigin(resourceId, type = null) {
      const request = type ? getPersonnelOriginByUserIdAndResourceId : getOriginByUserIdAndResourceId;
      const res = await request(this.domainId, resourceId, type);
      if (res.data.state === "success") {
        if (this.rightTab !== 'personnelManagement') {
          // 人员管理
          const { view, auth } = res.data.data
          this.authSourceList = [
            {
              title: "查看权限",
              deptOrigin: view.deptList.map(item => item.name).join("-"), // 部门权限来源
              roleOrigin: view.roleList.map(item => item.name).join("-") // 角色权限来源
            },
            {
              title: "授权权限",
              deptOrigin: auth.deptList.map(item => item.name).join("-"),
              roleOrigin: auth.roleList.map(item => item.name).join("-"),
            }
          ];
        } else {
          const { deptList, roleList } = res.data.data;
          const deptOrigin = deptList.map(item => item.name).join("-");
          const roleOrigin = roleList.map(item => item.name).join("-");
          this.authSourceList = [
            {
              title: "授权权限",
              deptOrigin,
              roleOrigin
            }
          ];
        }
      } else {
        this.$Message.error("获取权限来源失败！");
      }
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.authSourceList = [];
      this.setAuthorizedItem({});
      this.setPersonManageType(null);
      this.$emit("update:showModal", false);
    }
  }
};
</script>

<style lang="less" scoped>
.authSourceModal-container {
  /deep/.ivu-modal-header {
    padding-left: 24px;
  }
  /deep/.ivu-modal-body {
    padding: 16px 24px 24px;
  }

  .rowWrapper {
    margin-bottom: 10px;
    .rowTitle {
      font-size: 14px;
      color: #333333;
    }
    .rowContent {
      margin-left: 37px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
</style>
