<template>
  <!-- 业务目录权限设置 -->
  <div class="business-directory-setting">
    <SettingHeader title="所有目录" :settings="fullSettings" />
    <SettingTree :data="settingTreeData" />

    <!-- 基于继承权限修改用户权限提示 -->
    <ModifyUserAuthPromptModal v-model="showUserAuthPromptModal" @on-ok="onUserAuthPromptOk" />
    <!-- 用户权限配置后再对角色权限配置时提醒 -->
    <ModifyRoleAuthPromptModal v-model="showRoleAuthPromptModal" @on-ok="onRoleAuthPromptOk" />
  </div>
</template>

<script>
import SettingHeader from '@/view/system/authorizationManagement/components/RightTabs/components/SettingHeader/index.vue'
import SettingTree from '@/view/system/authorizationManagement/components/RightTabs/components/SettingTree.vue'
import ModifyUserAuthPromptModal from '@/view/system/authorizationManagement/components/RightTabs/components/ModifyUserAuthPromptModal.vue'
import ModifyRoleAuthPromptModal from '@/view/system/authorizationManagement/components/RightTabs/components/ModifyRoleAuthPromptModal.vue'
import { mapActions, mapState } from 'vuex'
import iconAuthorizationOpen from '@/assets/icons/authorizationManagement/icon_authorization_open.svg'
import iconAuthorizationClose from '@/assets/icons/authorizationManagement/icon_authorization_close.svg'
import iconAuthorizationRestore from '@/assets/icons/authorizationManagement/icon_authorization_restore.svg'
import iconOrigin from '@/assets/icons/authorizationManagement/icon_origin.svg'
import { deepCopy, filterTree } from '@/utils/common'
import settingTree from '@/mixins/authorizationManagement/settingTree'
import businessAndSystemToggleAuth from '@/mixins/authorizationManagement/businessAndSystemToggleAuth'

const LIST_NAME = 'totalBusinessDirectoryList'

export default {
  name: 'BusinessDirectorySetting',
  components: {
    SettingHeader,
    SettingTree,
    ModifyUserAuthPromptModal,
    ModifyRoleAuthPromptModal,
  },
  mixins: [settingTree, businessAndSystemToggleAuth],
  data() {
    return {
      settings: ['查看', '授权'],
    }
  },
  computed: {
    ...mapState('authorizationManagement', [
      'totalBusinessDirectoryList',
    ]),
  },
  watch: {
    totalBusinessDirectoryList: {
      handler(val) {
        this.getSettingTree()
        this.totalList = deepCopy(val)
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'getDepartmentListAndDirectoryList',
      'getRoleListAndDirectoryList',
      'getUserListAndDirectoryList',
      'setAuthorizedItem',
      'setShowAuthSourceModal',
    ]),

    /**
     * 获取设置树
     */
    getSettingTree() {
      let list = this.totalBusinessDirectoryList.map(item => ({
        ...item,
        parentId: item.pid,
        title: item.name,
        render: this.renderNode,
      }))
      list.push({
        id: -1,
        parentId: null,
        title: '/',
      })
      // this.settingTreeData = buildTree(list, null, true) //第三个参数为true时可以使用下面方法 效果可以实现
      this.settingTreeData = this.buildTree(list, null, LIST_NAME, this.domainId) //此方法囊括上面方法效果
      this.settingTreeDataBak = deepCopy(this.settingTreeData)
      this.settingTreeData = filterTree(this.settingTreeDataBak, this.rightTabKeywords)
    },

    /**
     * 树子节点render函数
     */
    renderNode(h, { root, node, data }) {
      return h('span', {
        class: ['node'],
      }, [
        h('span', data.title),
        h('div', {
          class: ['settings'],
        }, [
          // 查看
          h('span', {
            class: 'setting-item',
          }, [
            h('img', {
              class: { disabled: this.isDisabled },
              attrs: {
                src: this.hasAuth(1, data) ? iconAuthorizationOpen : iconAuthorizationClose,
              },
              on: {
                click: this.onSetAuth(LIST_NAME, root, 1, data),
              },
            }),
            h(this.showRestore(1, data) ? 'img' : '', {
              class: { disabled: this.isDisabled },
              attrs: {
                src: iconAuthorizationRestore,
              },
              on: {
                click: this.onRestoreAuth(LIST_NAME, root, 1, data),
              },
            }),
          ]),
          // 授权
          h('span', {
            class: 'setting-item',
          }, [
            h('img', {
              class: { disabled: this.isDisabled },
              attrs: {
                src: this.hasAuth(2, data) ? iconAuthorizationOpen : iconAuthorizationClose,
              },
              on: {
                click: this.onSetAuth(LIST_NAME, root, 2, data),
              },
            }),
            h(this.showRestore(2, data) ? 'img' : '', {
              class: { disabled: this.isDisabled },
              attrs: {
                src: iconAuthorizationRestore,
              },
              on: {
                click: this.onRestoreAuth(LIST_NAME, root, 2, data),
              },
            }),
          ]),
          // 来源
          h(this.leftTab === 'user' ? 'span' : '', {
            class: ['setting-item'],
          }, [
            h(this.showOrigin(data) ? 'img' : '', {
              attrs: {
                src: iconOrigin,
              },
              on: {
                'click': (e) => {
                  e.stopPropagation()
                  this.setShowAuthSourceModal(true)
                  this.setAuthorizedItem(data)
                },
              },
            }),
          ]),
        ]),
      ])
    },
  },
}
</script>

<style scoped lang="less">
.business-directory-setting {
  height: 100%;
  padding: 0 16px 16px;
}

/deep/ .ivu-poptip-body-content {
  color: #333;
}
</style>
