<template>
  <!-- 部门权限设置 -->
  <div class="department-setting">
    <SettingHeader title="所有部门" :settings="['查看', '授权']" />
    <SettingTree :data="settingTreeData" />
  </div>
</template>

<script>
import SettingHeader from '@/view/system/authorizationManagement/components/RightTabs/components/SettingHeader/index.vue'
import SettingTree from '@/view/system/authorizationManagement/components/RightTabs/components/SettingTree.vue'
import iconAuthorizationOpen from '@/assets/icons/authorizationManagement/icon_authorization_open.svg'
import iconAuthorizationClose from '@/assets/icons/authorizationManagement/icon_authorization_close.svg'
import iconDepartment from '@/assets/icons/authorizationManagement/icon_department.svg'
import settingTree from '@/mixins/authorizationManagement/settingTree'
import departmentAndRoleToggleAuth from '@/mixins/authorizationManagement/departmentAndRoleToggleAuth'
import { deepCopy, filterTree } from '@/utils/common'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'DepartmentSetting',
  components: {
    SettingHeader,
    SettingTree,
  },
  mixins: [settingTree, departmentAndRoleToggleAuth],
  computed: {
    ...mapState('authorizationManagement', [
      'totalDepartmentList',
    ]),
  },
  watch: {
    totalDepartmentList: {
      handler() {
        this.getSettingTree()
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'getBusinessDirectoryListAndDepartmentList',
    ]),

    /**
     * 获取设置树
     */
    getSettingTree() {
      let list = this.totalDepartmentList.map(item => ({
        ...item,
        parentId: item.groupId,
        title: item.name,
        render: this.renderNode,
      }))
      list.push({
        id: -1,
        parentId: null,
        title: '所有部门',
      })
      this.settingTreeData = this.buildTree(list, null,'totalDepartmentList',this.domainId)
      this.settingTreeDataBak = deepCopy(this.settingTreeData)
      this.settingTreeData = filterTree(this.settingTreeDataBak, this.rightTabKeywords)
    },

    /**
     * 树子节点render函数
     */
    renderNode(h, { root, node, data }) {
      return h('span', {
        class: ['node'],
      }, [
        h('div', {
          class: ['title'],
        }, [
          h(data.title === '所有部门' ? '' : 'img', {
            class: ['icon-node', { group: data.children }],
            attrs: {
              src: iconDepartment,
            },
          }),
          h('span', data.title),
        ]),
        h('div', {
          class: ['settings'],
        }, [
          // 查看
          h('span', {
            class: ['setting-item', { disabled: !this.resourceId || this.superAdmin || data.viewFromOther, 'no-auth': !data.auth }],
            on: {
              click: (e) => {
                this.saveTreeNode('totalDepartmentList', this.domainId, root)
                e.stopPropagation()
                // 管理员、权限复用得到的权限无法修改
                if (this.superAdmin || data.viewFromOther) {
                  return
                }
                this.onToggleAuth(1, data)
              },
            },
          }, [
            h('img', {
              attrs: {
                src: data.canView ? iconAuthorizationOpen : iconAuthorizationClose,
              },
            }),
          ]),
          // 授权
          h('span', {
            class: ['setting-item', { disabled: !this.resourceId || this.superAdmin || data.viewFromOther, 'no-auth': !data.auth }],
            on: {
              click: (e) => {
                this.saveTreeNode('totalDepartmentList', this.domainId, root)
                e.stopPropagation()
                // 管理员、权限复用得到的权限无法修改
                if (this.superAdmin || data.viewFromOther) {
                  return
                }
                this.onToggleAuth(2, data)
              },
            },
          }, [
            h('img', {
              attrs: {
                src: data.canAuth ? iconAuthorizationOpen : iconAuthorizationClose,
              },
            }),
          ]),
        ]),
      ])
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-tree {
  user-select: none;

  .ivu-icon-ios-arrow-forward:before {
    background: url('~@/assets/icons/authorizationManagement/icon_department_group.svg');
  }

  .ivu-tree-title {
    padding-left: 12px;
  }

  .node {
    display: inline-flex;
    align-items: center;

    .icon-node {
      width: 16px;
      height: 16px;
      margin-right: 6px;
      vertical-align: text-bottom;
      margin-left: -12px;

      &.group {
        display: none;
      }
    }
  }
}

/deep/ .setting-tree .setting-item.disabled {
  filter: grayscale(1);
  cursor: not-allowed;
}
</style>
