<template>
  <Modal
    :value="value"
    title="提示"
    width="350"
    footer-hide
    @on-cancel="onCancel">
    <p>对用户权限进行单独设置后该用户的本条权限将不再受部门/角色设置影响。</p>
    <p>可点击恢复按钮清除用户单独设置、恢复对部门/角色权限的继承。</p>
    <div class="footer">
      <Button type="primary" ghost @click="onDoNotPrompt">后续不再提示</Button>
      <Button type="primary" @click="onKnow">我知道了</Button>
    </div>
  </Modal>
</template>

<script>
import { closePrompt } from '@/api/systemManagement/authorizationManagement'
import { mapMutations } from 'vuex'

export default {
  name: 'ModifyUserAuthPromptModal',
  props: {
    value: Boolean,
  },
  methods: {
    ...mapMutations(['setConfigData']),

    onCancel() {
      this.$emit('input', false)
    },

    /**
     * 后续不再提醒
     */
    async onDoNotPrompt() {
      const res = await closePrompt()
      if (res.data.state === 'success') {
        const configData = { ...this.$store.state.user.configData, userAuthPriorityWarnEnable: true }
        this.setConfigData(configData)
        this.$emit('on-ok')
      } else {
        this.$Message.error('关闭提醒失败！')
      }
    },

    /**
     * 知道了
     */
    onKnow() {
      this.$emit('on-ok')
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-modal-body {
  padding: 16px;
}

.footer {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
