<template>
  <Modal
    :value="value"
    title="提醒"
    width="350"
    footer-hide
    @on-cancel="onCancel">
    <p>当前操作角色：<span>次级管理员ruan</span></p>
    <p>当前操作权限实体：<span>嘻嘻嘻</span></p>
    <p class="desc">
      存在用户单独设置过授权，且与本次操作结果不同，可在用户最终权限中查看是否符合预期。
    </p>
    <div class="footer">
      <Button type="primary" ghost @click="onCancel">取消</Button>
      <Button type="primary" @click="onOk">确定</Button>
    </div>
  </Modal>
</template>

<script>
import { closePrompt } from '@/api/systemManagement/authorizationManagement'
import { mapMutations } from 'vuex'

export default {
  name: 'ModifyUserAuthPromptModal',
  props: {
    value: Boolean,
  },
  methods: {
    ...mapMutations(['setConfigData']),

    /**
     * 取消/关闭
     */
    onCancel() {
      this.$emit('input', false)
    },

    /**
     * 确定
     */
    onOk() {
      this.$emit('on-ok')
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-modal-body {
  padding: 16px 32px;
}

p {
  color: #000;

  > span {
    color: rgba(0, 0, 0, .6);
  }

  + p {
    margin-top: 12px;
  }
}

.desc {
  color: rgba(0, 0, 0, .6);
}

.footer {
  margin-top: 48px;
  text-align: right;

  button {
    line-height: 1;

    + button {
      margin-left: 16px;
    }
  }
}
</style>
