<template>
  <div class="role-setting">
    <SettingHeader title="所有角色" :settings="['查看', '授权']" />
    <SettingTree :data="settingTreeData" />
  </div>
</template>

<script>
import SettingHeader from '@/view/system/authorizationManagement/components/RightTabs/components/SettingHeader/index.vue'
import SettingTree from '@/view/system/authorizationManagement/components/RightTabs/components/SettingTree.vue'
import departmentAndRoleToggleAuth from '@/mixins/authorizationManagement/departmentAndRoleToggleAuth'
import departmentTree from '@/mixins/authorizationManagement/departmentTree'
import settingTree from '@/mixins/authorizationManagement/settingTree'
import { mapActions, mapState } from 'vuex'
import { deepCopy, filterTree } from '@/utils/common'
import iconAuthorizationOpen from '@/assets/icons/authorizationManagement/icon_authorization_open.svg'
import iconAuthorizationClose from '@/assets/icons/authorizationManagement/icon_authorization_close.svg'

export default {
  name: 'RoleSetting',
  components: {
    SettingHeader,
    SettingTree,
  },
  mixins: [settingTree, departmentAndRoleToggleAuth],
  props: {
    settingKeys: Array,
  },
  computed: {
    ...mapState('authorizationManagement', [
      'totalRoleList',
      'leftTab',
      'domainId',
    ]),
  },
  watch: {
    totalRoleList: {
      handler() {
        this.getSettingTree()
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'getBusinessDirectoryListAndRoleList',
    ]),

    /**
     * 获取设置树
     */
    getSettingTree() {
      let list = this.totalRoleList.map(item => ({
        ...item,
        parentId: item.groupId,
        title: item.name,
      }))
      list.push({
        id: -1,
        parentId: null,
        title: '所有角色',
        type: 'group',
      })
      list.forEach(item => {
        if (item.type !== 'group') {
          item.render = this.renderNode
        }
      })
      this.settingTreeData = this.buildTree(list, null)
      this.settingTreeDataBak = deepCopy(this.settingTreeData)
      this.settingTreeData = filterTree(this.settingTreeDataBak, this.rightTabKeywords)
    },

    /**
     * 树子节点render函数
     */
    renderNode(h, { root, node, data }) {
      return h('span', {
        class: ['node'],
      }, [
        h('span', data.title),
        h('div', {
          class: ['settings'],
        }, [
          // 查看
          h('span', {
            class: ['setting-item', { disabled: !this.resourceId || this.superAdmin || data.viewFromOther }],
            on: {
              click: (e) => {
                e.stopPropagation()
                // 管理员、权限复用得到的权限无法修改
                if (this.superAdmin || data.viewFromOther) {
                  return
                }
                this.onToggleAuth(1, data)
              },
            },
          }, [
            h('img', {
              attrs: {
                src: data.canView ? iconAuthorizationOpen : iconAuthorizationClose,
              },
            }),
          ]),
          // 授权
          h('span', {
            class: ['setting-item', { disabled: !this.resourceId || this.superAdmin || data.viewFromOther }],
            on: {
              click: (e) => {
                e.stopPropagation()
                // 管理员、权限复用得到的权限无法修改
                if (this.superAdmin || data.viewFromOther) {
                  return
                }
                this.onToggleAuth(2, data)
              },
            },
          }, [
            h('img', {
              attrs: {
                src: data.canAuth ? iconAuthorizationOpen : iconAuthorizationClose,
              },
            }),
          ]),
        ]),
      ])
    },
  },
}
</script>

<style scoped></style>
