<template>
  <div class="setting-tree">
    <Tree :data="data"  @click.native.stop="onClick" />
  </div>
</template>

<script>
import treeClick from '@/mixins/treeClick'

export default {
  name: 'SettingTree',
  mixins: [treeClick],
  props: {
    data: Array,
  },
}
</script>

<style scoped lang="less">
// Tree组件样式重写
.setting-tree {
  margin-top: 2px;
  height: calc(~'100% - 42px');
  overflow: auto;
  padding-left: 4px;

  /deep/ .ivu-tree {
    user-select: none;
    overflow: hidden;

    .ivu-tree-title {
      width: calc(~'100% - 16px');
      padding-right: 68px;
      &:hover {
        color: #3f73ff;
        background-color: #F0F4FF;
      }
    }

    .node {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .setting-item {
        display: inline-block;
        width: 56px;
        padding: 0 6px;

        &.no-auth {
          display: none;
        }

        img {
          width: 16px;
          height: 16px;
          vertical-align: middle;

          &.disabled {
            cursor: not-allowed;
          }

          + img {
            margin-left: 12px;
          }
        }

        + span {
          margin-left: 24px;
        }
      }
    }
  }
}
</style>
