<template>
  <div class="setting-list">
    <div class="list-item" v-for="(item) in data" :key="item.id">
      <div class="list-item-left">{{ item.name }}</div>
      <div class="list-item-right">
        <div
          :class="['right-item', { disabled: !domainId || superAdmin || item.viewFromOther }]"
          v-for="settingKey in settingKeys"
          @click="onClickSetting(item)">
          <img :src="item[settingKey] ? iconAuthorizationOpen : iconAuthorizationClose" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import iconAuthorizationOpen from '@/assets/icons/authorizationManagement/icon_authorization_open.svg'
import iconAuthorizationClose from '@/assets/icons/authorizationManagement/icon_authorization_close.svg'
import { mapState } from "vuex";

export default {
  name: 'SettingList',
  emits: ['on-toggle'],
  props: {
    settingKeys: Array,
    data: Array,
  },
  data() {
    return {
      iconAuthorizationOpen,
      iconAuthorizationClose,
    }
  },
  computed: {
    ...mapState('authorizationManagement', [
      'domainId',
      'superAdmin',
    ]),
  },
  methods: {
    /**
     * 点击开关
     * @param item
     */
    onClickSetting(item) {
      this.$emit('on-toggle', item)
    },
  },
}
</script>

<style scoped lang="less">
.setting-list {
  margin-top: 2px;
  height: calc(~'100% - 42px');
  overflow: auto;

  .list-item {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 58px 0 30px;
    color: #333;
    cursor: pointer;

    .right-item {
      display: inline-block;
      width: 56px;
      text-align: center;

      &.disabled {
        filter: grayscale(1);
        cursor: not-allowed;
      }

      img {
        vertical-align: middle;
      }

      + .right-item {
        margin-left: 24px;
      }
    }
  }
}
</style>
