<template>
  <div class="tabs-extra">
    <Input
      class="search-input"
      :value="rightTabKeywords"
      :placeholder="placeholder"
      clearable
      @on-change="onSearchChange"
    >
      <img
        class="icon-search"
        src="@/assets/icons/authorizationManagement/icon_search.svg"
        slot="suffix"
      />
    </Input>
    <div class="view-dimension">
      当前查看维度：{{ viewDimension === 'user' ? '用户组' : '资源项目' }}
      <div @click="onChangeViewDimension" v-if="showSwitch">
        <img src="@/assets/icons/authorizationManagement/icon_switch.svg" />切换
      </div>
    </div>
    <div v-if="currentUserTab === 'businessDirectory' && isSuperAdmin">
      <span class="apply">申请模式</span>
      <i-switch v-model="isCanApply" @on-change="onSwitchChange">
        <span slot="open"></span>
        <span slot="close"></span>
      </i-switch>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex'
import { updateApplyModel } from '@/api/systemManagement/authorizationManagement'

export default {
  name: 'TabsExtra',
  props: {
    currentUserTab: String,
    currentProjectTab: String,
  },
  data() {
    return {
      search: '', // 搜索框关键字
      isCanApply: this.$store.state.user.applyModel,
    }
  },
  computed: {
    ...mapState('authorizationManagement', [
      'viewDimension',
      'rightTabKeywords',
    ]),
    ...mapGetters(['isSuperAdmin']),
    placeholder() {
      let tab = ''
      if (this.viewDimension === 'user') {
        if (this.currentUserTab === 'businessDirectory') {
          tab = '业务目录'
        } else if (this.currentUserTab === 'systemManagement') {
          tab = '系统管理'
        } else if (this.currentUserTab === 'personnelManagement') {
          tab = '人员管理'
        } else {
          tab = '数据权限'
        }
      } else {
        if (this.currentProjectTab === 'department') {
          tab = '部门'
        } else if (this.currentProjectTab === 'role') {
          tab = '角色'
        } else {
          tab = '用户'
        }
      }
      return `请输入${tab}名称`
    },
    showSwitch() {
      return (
        (this.viewDimension === 'user' &&
          this.currentUserTab === 'businessDirectory') ||
        (this.viewDimension === 'project' && this.currentProjectTab)
      )
    },
  },
  methods: {
    ...mapMutations("user", ["setApplyModel"]),
    ...mapActions('authorizationManagement', [
      'setViewDimension',
      'setRightTabKeywords',
      'setLeftTab',
      'setRightTab',
    ]),

    /**
     * 搜索关键字变化
     * @param e
     */
    onSearchChange(e) {
      this.setRightTabKeywords(e.target.value)
    },

    /**
     * 查看维度，可切换为用户组、资源项目
     */
    onChangeViewDimension() {
      if (this.viewDimension === 'user') {
        this.setViewDimension('project')
        this.setLeftTab('businessDirectory')
        this.setRightTab('department')
      } else {
        this.setViewDimension('user')
        this.setLeftTab('department')
        this.setRightTab('businessDirectory')
      }
    },
    //申请模式
    onSwitchChange(e) {
      const isApply = e ? 1 : 0
      this.$store.commit("setApplyModel", e);
      updateApplyModel(isApply)
    },
  },
}
</script>

<style scoped lang="less">
.tabs-extra {
  height: 60px;
  display: flex;
  align-items: center;

  .icon-search {
    margin-top: 7px;
  }
}

.search-input {
  width: 350px;

  /deep/ .ivu-input {
    font-size: 16px;
  }
}

.view-dimension {
  user-select: none;
  margin-left: 46px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  margin-right: 16px;
  cursor: pointer;

  > div {
    color: #3f73ff;
    display: flex;
    margin-left: 12px;

    img {
      margin-right: 10px;
    }
  }
}

.apply {
  margin-right: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  vertical-align: middle;
}
</style>
