<template>
  <div class="role-setting">
    <SettingHeader title="所有角色" :settings="['授权']" />
    <SettingList :setting-keys="['canAuth']" :data="totalPersonnelRoleDirectoryList" @on-toggle="onToggleRoleAuth" />
  </div>
</template>

<script>
import SettingHeader from '@/view/system/authorizationManagement/components/RightTabs/components/SettingHeader/index.vue'
import SettingList from '@/view/system/authorizationManagement/components/RightTabs/components/SettingList.vue'
import personnelManagement from '@/mixins/authorizationManagement/personnelManagement'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'RoleSetting',
  components: {
    SettingHeader,
    SettingList,
  },
  mixins: [personnelManagement],
  props: {
    settingKeys: Array,
  },
  computed: {
    ...mapState('authorizationManagement', [
      'totalPersonnelRoleDirectoryList',
      'leftTab',
      'domainId',
    ]),
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'getPersonnelManagementDirectoryList',
    ]),

    /**
     * 切换角色权限开关
     * @param resource 资源
     * @returns {Promise<void>}
     */
    onToggleRoleAuth(resource) {
      this.onToggleAuth(2, resource)()
    },
  },
}
</script>

<style scoped></style>
