<template>
  <div class="earlyWarningTarget-container">
    <div class="earlyWarningTargetWrapper">
      <!-- 搜索行 -->
      <section class="workbenchSearch">
        <FilterSearch :search-condition="searchCondition" @searchTable="searchData"/>
        <div class="actionBtnWrapper" @click="toWarningTargetIndex">
          <span>预警/目标管理</span>
        </div>
      </section>

      <!-- 展示区 -->
      <section class="workbenchView">
        <TableList
          :table-data="dataList"
          :table-columns="tableColumns"
          :tableLoading="tableLoading"
          @expandGroup="expandGroup"
          @showRuleModal="showRuleModal"
          @changeRunningStatus="changeRunningStatus"
          @changeHandleStatus="changeHandleStatus"
          @shareTaskModal="shareTaskModal"
          @deleteTask="deleteTask"
          @historyModal="historyModal"
        />
      </section>
    </div>

    <!-- 查看预警弹窗 -->
    <ViewWarningModal :show-view="showViewTaskModal" :default-data="viewTaskRule"
                      @closeModal="showViewTaskModal = false"/>
    <!-- 处理弹窗 -->
    <HandleTimeModal :manager="owner" :show-handle="showHandle" :modal-title="handleModalTitle" @closeModal="showHandle = false"
                     @onConfirm="onConfirmHandle"/>
    <!-- 分享弹窗 -->
    <ShareModal v-model="showShare" :share-content="shareContent" :message-text="messageText" share-from="预警"/>
    <!-- 触发历史弹窗 -->
    <TriggerHistoryModal :show-history="showHistory"
                         :listId="listId"
                         :manager="historyManager"
                         :historyDataList="historyDataList"
                         :historyTotal="historyTotal"
                         :name="warningTitle"
                         :type="historyType"
                         @changeHandleStatus="changeHandleStatus"
                         @queryHistoryList="queryHistoryList"
                         @closeHistoryModal="closeHistoryModal"
    />
  </div>
</template>

<script>
  import FilterSearch from './components/FilterSearch'
  import TableList from './components/TableList'
  import HandleTimeModal from './components/HandleTimeModal'
  import ViewWarningModal from '@/view/earlyWarningTarget/earlyWarningTargetIndex/components/ViewWarningModal'
  import TriggerHistoryModal from './components/TriggerHistoryModal/index.vue'
  import ShareModal from '@/components/ShareModal'
  import { deepCopy } from '@/utils/common'
  import {
    changeEarlyWarningTaskStatus,
    completeEarlyWarningTask,
    deleteEarlyWarningTask,
    getTiggerHistoryList,
    getWarnTaskList,
    handleEarlyWarningTask
  } from '@/api/earlyWarningTarget'
  import { DEFAULT_SHOW, RULE_TEXT } from '@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList'
  import { mapActions, mapState } from 'vuex'
  import BigNumber from 'bignumber.js'
  import taskParam from '@/view/earlyWarningTarget/earlyWarningTargetIndex/mixin/taskParam'
  import taskDetail from '@/view/earlyWarningTarget/earlyWarningTargetIndex/mixin/taskDetail'

  export default {
    name: 'earlyWarningTargetList',
    mixins: [taskParam, taskDetail],
    components: {
      FilterSearch,
      TableList,
      HandleTimeModal,
      ViewWarningModal,
      TriggerHistoryModal,
      ShareModal
    },
    data() {
      return {
        searchCondition: {
          taskName: '',
          managerName: '',
          watchStatus: []
        },
        allDataList: [], // 所有预警任务
        taskNameList: [], // 所有预警任务名称的列表
        dataList: [], // 根据条件筛选后的任务
        tableColumns: [
          { title: '名称', key: 'title', width: 300 },
          { title: '当前值', key: 'currentValue' },
          { title: '进度', key: 'completeStatus' },
          { title: '规则', key: 'rule', width: 200 },
          { title: '负责人', key: 'managerName' },
          { title: '监测状态', key: 'watchStatus' },
          { title: '上一次触发', key: 'updateTime' },
          { title: '处置状态', key: 'runningStatus' },
          { title: '操作', key: 'operation', width: 180, align: 'center' }
        ],
        showHandle: false,
        handleTaskId: null, // 当前异常的任务id
        handleRecordId: null, // 当前的异常记录id
        handleManager: '', // 当前异常的处理负责人
        owner: '',
        handleModalTitle: '', // 当前异常任务的名称
        parentTaskId: -1, // 当前即将添加任务，所在的父任务id
        showViewTaskModal: false,
        editTaskId: '', // 当前编辑任务的id
        editTaskTitle: '', // 当前编辑任务的名称
        viewTaskRule: {},
        showShare: false,
        shareContent: '',
        messageText: '',
        showHistory: false,
        listId: '',
        historyManager: '',
        warningTitle: '',
        historyType: null,
        historyDataList: [],
        historyTotal: 0,
        historySearchParams: {},
        handleStatusType: '', //判断处理是不是从历史弹窗弹出的
        tableLoading:true //tableList组件loading状态
      }
    },
    computed: {
      ...mapState('earlyWarningTarget', ['allIndicator', 'allDimension']),
      // 所有预警任务名称的列表
      // taskNameList() {
      //   return this.getTaskNameList(this.dataList);
      // },
      watchLabelText() {
        return status => {
          if (status === 2) {
            return {
              warnText: '一级预警',
              warnColor: '#f86666'
            }
          } else if (status === 3) {
            return {
              warnText: '二级预警',
              warnColor: '#F7B500'
            }
          } else if (status === 4) {
            return {
              warnText: '三级预警',
              warnColor: '#ffcb5f'
            }
          }
        }
      }
    },
    async created() {
      await this.fetchDimension() // 获取维度
      await this.fetchIndicator() // 获取指标
      this.allDataList = await this.getTaskData()
      this.dataList = deepCopy(this.allDataList)

      this.fetchDeptTree() // 获取部门树(编辑/查看弹窗使用)
      this.fetchRoleTree() // 获取角色树(编辑/查看弹窗使用)
      this.fetchDataSource() // 获取数据源(编辑/查看弹窗使用)
    },
    methods: {
      ...mapActions('earlyWarningTarget', ['fetchIndicator', 'fetchDimension', 'fetchDeptTree', 'fetchRoleTree', 'fetchDataSource']),
      // 预警页面
      toWarningTargetIndex() {
        this.$router.push('/manager/earlyWarningTarget/earlyWarningTargetIndex')
      },
      /**
       * 获取任务列表数据
       */
      async getTaskData() {
        this.tableLoading = true
        const res = await getWarnTaskList({})
        if (res.data.state === 'success') {
          this.taskNameList = res.data.data.map(ele => ele.name)
          const root = res.data.data.filter(ele => ele.parentId === 0)
          const otherData = res.data.data.filter(ele => ele.parentId !== 0)
          this.getTreeData(root, otherData)
          this.tableLoading = false
          return this.getNewTaskData({ list: root })
        }
      },
      /**
       * 组合树状数据
       */
      getTreeData(list, allData) {
        list.forEach(ele => {
          ele.childrenList = allData.filter(i => `${i.parentId}` === ele.id)
          if (ele.childrenList.length) {
            this.getTreeData(ele.childrenList, allData)
          }
        })
      },
      /**
       * 组合需要的数据结构
       */
      getNewTaskData({ list, deep = 1 }) {
        const DEEP_TEMP = deep + 1
        return list.map(ele => {
          if (ele.childrenList.length) {
            ele.childrenList = this.getNewTaskData({ list: ele.childrenList, deep: DEEP_TEMP })
          }
          return {
            id: ele.id,
            taskType: ele.taskType, // 任务类型
            isLockTaskType: ele.parentId === 0 ? !!ele.childrenList?.length : true, // 是否固定任务类型
            title: ele.name,
            curValuePercent: this.getPercent(ele), // 百分比数据
            ruleText: this.getRuleText(ele), // 规则
            owner: ele.managerName || DEFAULT_SHOW, // 负责人-昵称
            manager: ele.manager || DEFAULT_SHOW, // 负责人-用户名
            currentValue: ele.execRecord?.currentValue || DEFAULT_SHOW, // 当前值
            runningStatus: ele.status, // 运行状态 1待上线  2已上线  3已下线
            watchLabel: this.getWatchLabel(ele), // 预警状态
            handleStatus: ele.execRecord?.execStatus === 3 ? ele.execRecord.dealStatus : -1, // 处理状态
            handleTime: this.getHandleTime(ele.execRecord),
            deep,
            children: ele.childrenList,
            expand: true, // 是否展开树节点
            showAddSubTask: false, // 是否展示添加子任务按钮
            ruleConditionList: ele.conditionGroups || [], // 规则条件
            execRecord: ele.execRecord, // 执行状态，判断是否触发预警
            level: ele.level, // 定义的预警等级
            updateTime: ele.updateTime // 上次处置时间
          }
        })
      },
      getPercent({ execRecord }) {
        if (execRecord) {
          const { currentValue, limitValue } = execRecord
          if (currentValue && limitValue) {
            const cur = new BigNumber(currentValue)
            const target = new BigNumber(limitValue)
            return Number(cur.div(target).multipliedBy(100).toFixed(2))
          } else {
            return DEFAULT_SHOW
          }
        } else {
          return DEFAULT_SHOW
        }
      },
      getRuleText({ conditionGroups, execRecord }) {
        // 初次创建，且只有一条规则，且规则内只存在一条记录(单规则单条件)
        const isOneRule =
          conditionGroups?.length === 1 && conditionGroups[0].groups?.length === 1 && conditionGroups[0].groups[0].conditions?.length === 1
        const isFirst = !execRecord && isOneRule

        // 触发预警，展示对应预警级别的规则（可能触发的条件是单规则多条件）
        const triggerTask = execRecord && execRecord.execStatus === 3

        // 正常状态，并且单规则的时候
        const normalAndSingle = execRecord && execRecord.execStatus === 2 && isOneRule

        if (isFirst || normalAndSingle) {
          return this.getRule(conditionGroups[0].groups[0].conditions[0])
        } else if (triggerTask) {
          // 单规则多条件触发预警，需要判断
          if (!execRecord.conditionType) {
            return DEFAULT_SHOW
          }
          return this.getRule(execRecord)
        } else {
          return DEFAULT_SHOW
        }
      },
      getRule(data) {
        const { sourceType, sourceValue, conditionType, valueType, value } = data
        // 当前
        let curValue = ''
        if (sourceType === 2) {
          // 公式
          curValue = sourceValue.replace(/\[(.*?)\]/gi, match => {
            const indicatorId = match.slice(3, -1)
            return this.allIndicator.find(ele => ele.id === Number(indicatorId))?.name
          })
        } else if (sourceType === 3) {
          // 指标
          const indicatorId = sourceValue.split('_')[1]
          curValue = this.allIndicator.find(ele => ele.id === Number(indicatorId))?.name
        } else if (sourceType === 4) {
          // 动态指标
          const [dimensionId, str] = sourceValue.split('|')
          const indicatorId = str.split('_')[1]
          const dimensionName = this.allDimension.find(ele => ele.id === Number(dimensionId))?.name
          const indicatorName = this.allIndicator.find(ele => ele.id === Number(indicatorId))?.name
          curValue = `(${dimensionName}+${indicatorName})`
        }

        const condition = RULE_TEXT.find(ele => ele.value === conditionType).label

        // 目标
        let targetValue = ''
        if (valueType === 1) {
          // 常量
          targetValue = value
        } else if (valueType === 2) {
          // 公式
          targetValue = value.replace(/\[(.*?)\]/gi, match => {
            const indicatorId = match.slice(3, -1)
            return this.allIndicator.find(ele => ele.id === Number(indicatorId))?.name
          })
        } else if (valueType === 3) {
          // 指标
          const indicatorId = value.split('_')[1]
          targetValue = this.allIndicator.find(ele => ele.id === Number(indicatorId))?.name
        }

        return curValue + condition + targetValue
      },
      getWatchLabel({ execRecord, status }) {
        //正常1 //预警等级+1  //-1默认横线  //-2失败
        if (status === 2 && execRecord) {
          const { execStatus, level } = execRecord
          if (execStatus === 1) {
            return -2
          } else if (execStatus === 2) {
            return 1
          } else if (execStatus === 3) {
            return level + 1
          } else {
            return -1
          }
        } else {
          return -1
        }
      },
      /**
       * 获取处理时间
       */
      getHandleTime(execRecord) {
        if (execRecord) {
          const { dealStatus } = execRecord
          if (dealStatus === 2) {
            // 剩余时间
            const { dealEndTime } = execRecord
            const curTime = new Date().getTime()
            let timesAll = (dealEndTime - curTime) / 1000
            let time = parseInt(timesAll / 3600 / 24) // 天数
            let hour = parseInt(timesAll / 3600 % 24) // 小时

            return [time, hour]
          } else if (dealStatus === 3) {
            // 完成时间
            const { dealStartTime, dealTime } = execRecord
            let timesAll = (dealTime - dealStartTime) / 1000
            let time = parseInt(timesAll / 3600 / 24) // 天数
            let hour = parseInt(timesAll / 3600 % 24) // 小时

            return [time, hour]
          }
        } else {
          return 0
        }
      },
      // getTaskNameList(list) {
      //   let arr = [];
      //   list.forEach(ele => {
      //     if (ele.children.length) {
      //       const childArr = this.getTaskNameList(ele.children);
      //       arr = [...arr, ...childArr];
      //     }
      //     arr.push(ele.title);
      //   });
      //   return arr;
      // },
      /**
       * 根据条件过滤查询
       */
      async searchData() {
        const { taskName, managerName, watchStatus } = this.searchCondition
        if (!taskName && !managerName && !watchStatus.length) {
          // 无条件，返回全量
          this.dataList = deepCopy(this.allDataList)
        } else {
          this.dataList = this.filterTree(deepCopy(this.allDataList))
        }
      },
      /**
       * 判断是否满足条件。
       * - 若为嵌套层级，父子间有一个满足，则该条链路整体满足。但满足项的平级需要过滤
       */
      filterTree(list) {
        return list.filter(taskObj => {
          const { taskName, managerName, watchStatus } = this.searchCondition

          const titleF = taskName !== '' ? taskObj.title.includes(taskName) : true // 名称过滤
          const ownerF = managerName !== '' ? taskObj.owner.includes(managerName) : true // 负责人过滤

          let watchStatusF = false
          if (watchStatus.length) {
            //正常1 //预警等级+1  //-1默认横线  //-2失败
            if (taskObj.watchLabel !== -1) {
              // 预警
              if (taskObj.taskType === 1 && watchStatus.includes(taskObj.watchLabel)) {
                watchStatusF = true
              }
              // 目标
              if (taskObj.taskType === 2 && watchStatus.includes(
                taskObj.watchLabel === 1 || taskObj.watchLabel === -2 ? taskObj.watchLabel : taskObj.watchLabel + 3
              )) {
                watchStatusF = true
              }
            }
          } else {
            watchStatusF = true
          }

          if (titleF && ownerF && watchStatusF) {
            return true
          }

          if (taskObj.children?.length) {
            taskObj.children = this.filterTree(deepCopy(taskObj.children))
            return !!taskObj.children.length
          } else {
            return false
          }
        })
      },
      /**
       * 展开树节点
       */
      expandGroup(id, status) {
        this.recurrenceTableData(this.dataList, 'expandGroup', { id, status })
      },
      /**
       * 展示规则弹窗
       */
      async showRuleModal({ id, title, isLockTaskType, runningStatus, watchLabel }) {
        this.editTaskId = id
        this.editTaskTitle = title

        // 重新编辑/查看时，获取详情
        const taskRule = await this.getTaskDetail(id)
        //   if (runningStatus === 2) {
        this.viewTaskRule = { ...taskRule, watchStatus: watchLabel }
        this.showViewTaskModal = true
        //   } else {
        //     this.editTaskRule = { ...taskRule, type: "update" };
        //     this.showEditTaskModal = true;
        //     this.taskActionType = "edit";
        //   }
      },
      /**
       * 判断名称是否重复，重复自动加数字后缀
       * @param {String} title 资源名称
       * @param {Number} num 后缀数字
       * @param {Boolean} isReEdit 是否是重新编辑名称
       * @param {String} lastTitle 编辑前的名称
       */
      judgeIsRepeat(title, num = 0, isReEdit, lastTitle) {
        let newTitle = num === 0 ? title : `${title}(${num})`
        num++

        const isRepeat = this.taskNameList.some(ele => ele === newTitle)

        // - 重新编辑时，可以和原来名称一样。但不能和其他任务重复。
        // - 首次新增时，不能重复
        if (isReEdit) {
          if (isRepeat && newTitle !== lastTitle) {
            return this.judgeIsRepeat(title, num)
          } else {
            return newTitle
          }
        } else {
          if (isRepeat) {
            return this.judgeIsRepeat(title, num, isReEdit, lastTitle)
          } else {
            return newTitle
          }
        }
      },
      /**
       * 处置弹窗-确认
       */
      async onConfirmHandle(data) {
        data.id = this.handleRecordId
        const res = await handleEarlyWarningTask(data)
        if (res.data.state === 'success') {
          this.dataList = await this.getTaskData()
          if (this.handleStatusType === 'history') {
            this.queryHistoryList(this.historySearchParams)
          }
        }
        this.showHandle = false
      },
      /**
       * 改变处理状态
       */
      async changeHandleStatus({ id, title, handleStatus, manager, execRecord,owner, source, searchParams }) {
        if (handleStatus === 1) {
          this.handleTaskId = id
          this.handleRecordId = execRecord.id
          this.handleManager = manager
          this.owner = owner
          this.handleModalTitle = title
          this.showHandle = true
          this.handleStatusType = source || ''
          this.historySearchParams = searchParams
        } else if (handleStatus === 2) {
          // 完成接口
          this.$Modal.confirm({
            title: `确认完成${title}预警任务吗？`,
            content: '完成后不可撤销',
            okText: '确认',
            onOk: async () => {
              const res = await completeEarlyWarningTask(execRecord.id)
              if (res.data.state === 'success') {
                this.dataList = await this.getTaskData()
                if (source && source === 'history') {
                  this.queryHistoryList(searchParams)
                }
              }
            }
          })
        }
      },
      // 查询弹窗的列表信息
      async queryHistoryList(params) {
        let res = await getTiggerHistoryList(params)
        if (res.data && res.data.data) {
          const resData = res.data.data
          this.historyTotal = res.data.count
          this.historyDataList = resData
        }
      },
      // 关闭历史弹窗
      closeHistoryModal() {
        this.showHistory = false
        this.historyTotal = 0
        this.historyDataList = []
      },
      /**
       * 改变运行状态
       */
      async changeRunningStatus({ id, title, runningStatus, ruleConditionList }) {
        // 只有定义了规则和预警级别才可以上线
        const isExistNullList = ruleConditionList.some(ele => !ele.level)
        if (!ruleConditionList.length || isExistNullList) {
          this.$Message.warning('请先编辑任务“规则”及“结果定义”！')
          return
        }

        let modalTitle = ''
        let modalContent = ''
        let newStatus = -1
        if (runningStatus === 2) {
          modalTitle = `确认下线任务${title}吗？`
          modalContent = '下线后该任务将无法生效。'
          newStatus = 3
        } else {
          modalTitle = `确认上线任务${title}吗？`
          modalContent = '上线后该任务将开始生效。'
          newStatus = 2
        }
        this.$Modal.confirm({
          title: modalTitle,
          content: modalContent,
          okText: '确认',
          onOk: async () => {
            const res = await changeEarlyWarningTaskStatus({ id, status: newStatus })
            if (res.data.state === 'success') {
              // this.recurrenceTableData(this.dataList, "changeRunningStatus", { id, newStatus });
              this.allDataList = await this.getTaskData()
              this.searchData()
            }
          }
        })
      },
      /**
       * 展示分享弹窗
       */
      async shareTaskModal({ title, watchLabel, ruleText, execRecord, ruleConditionList }) {
        const { copyText, messageText } = this.getShareText(title, watchLabel, ruleText, execRecord, ruleConditionList)
        this.shareContent = copyText
        this.messageText = messageText
        this.showShare = true
      },
      /**
       * 展示触发历史弹窗
       */
      async historyModal({ title, id, taskType, manager }) {
        this.historyType = taskType
        this.listId = id
        this.historyManager = manager || ''
        this.warningTitle = title
        this.showHistory = true
      },
      /**
       * 获取分享文本
       */
      getShareText(title, watchLabel, ruleText, execRecord, ruleConditionList) {
        let copyText = ''
        let messageText = ''
        const shareName = this.$store.state.user.nickName

        // 异常且单个规则
        if (watchLabel !== 1 && ruleText !== DEFAULT_SHOW) {
          const { warnText, warnColor } = this.watchLabelText(watchLabel)
          const { conditionType } = ruleConditionList[0].groups[0].conditions[0]

          const conditionText = RULE_TEXT.find(ele => ele.value === conditionType).conditionText
          const { currentValue, limitValue } = execRecord

          copyText = `${title}预警任务，当前值${currentValue}，${conditionText}阈值${limitValue}，触发${warnText}，请及时处理！`
          messageText = `<span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${shareName} </span>
        <span>分享： </span>
        <span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${title}预警任务，</span>
        <span>当前值</span>
        <span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${currentValue}，</span>
        <span>${conditionText}阈值</span>
        <span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${limitValue}，</span>
        <span>触发</span>
        <span style="color: ${warnColor};font-weight: 600;">${warnText}</span>
        <span>，请及时处理！</span>`
        }

        // 异常且多个规则
        if (watchLabel !== 1 && ruleText === DEFAULT_SHOW) {
          const { warnText, warnColor } = this.watchLabelText(watchLabel)
          copyText = `${title}预警任务，触发${warnText}，请及时处理！`
          messageText = `<span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${shareName} </span>
        <span>分享： </span>
        <span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${title}预警任务，</span>
        <span>触发</span>
        <span style="color: ${warnColor};font-weight: 600;">${warnText}</span>
        <span>，请及时处理！</span>`
        }

        // 正常且单个规则
        if (watchLabel === 1 && ruleText !== DEFAULT_SHOW) {
          const { currentValue } = execRecord

          copyText = `${title}预警任务，当前值${currentValue}，当前预警状态为正常。`
          messageText = `<span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${shareName} </span>
        <span>分享： </span>
        <span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${title}预警任务，</span>
        <span>当前值</span>
        <span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${currentValue}，</span>
        <span>当前预警状态为正常。</span>`
        }

        // 正常且多个规则
        if (watchLabel === 1 && ruleText === DEFAULT_SHOW) {
          copyText = `${title}预警任务，当前预警状态为正常。`
          messageText = `<span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${shareName} </span>
        <span>分享： </span>
        <span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${title}预警任务，</span>
        <span>当前预警状态为正常。</span>`
        }

        return {
          copyText,
          messageText
        }
      },
      /**
       * 删除预警任务
       */
      deleteTask({ id, title, runningStatus, children }) {
        if (children.length) {
          this.$Message.warning('存在子任务，无法删除')
          return
        }

        if (runningStatus === 2) {
          this.$Message.warning('该任务已上线，无法删除')
        } else {
          this.$Modal.confirm({
            title: `确定删除任务${title}吗？`,
            okText: '确认',
            onOk: async () => {
              const res = await deleteEarlyWarningTask(id)
              if (res.data.state === 'success') {
                this.allDataList = await this.getTaskData()
                this.searchData()
              }
            }
          })
        }
      },
      /**
       * 递归树状表格，修改数据
       */
      recurrenceTableData(list, type, payload) {
        const { id } = payload
        list.forEach(ele => {
          if (ele.id === id) {
            if (type === 'expandGroup') {
              const { status } = payload
              ele.expand = status
            } else if (type === 'changeRunningStatus') {
              const { newStatus } = payload
              ele.runningStatus = newStatus
            } else if (type === 'handleTime') {
              const { handleTime } = payload
              ele.handleStatus = 2
              ele.handleTime = handleTime
            }
          } else {
            this.recurrenceTableData(ele.children, type, payload)
          }
        })
      }
    }
  }
</script>

<style lang="less" scoped>
  .earlyWarningTarget-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #f3f7ff;
    padding: 10px;

    .earlyWarningTargetWrapper {
      width: 100%;
      height: 100%;
      background: #ffffff;
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 24px;

      .workbenchSearch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .actionBtnWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 88px;
          height: 32px;
          background: #fff;
          border-radius: 2px;
          font-size: 12px;
          color: #3f73ff;
          border: 1px solid #3f73ff;

          img {
            width: 16px;
            height: 16px;
            margin-right: 4px;
          }
        }
      }

      .workbenchView {
        width: 100%;
        height: calc(~"100vh - 170px");
        background: #fff;

        /deep/ .tableList-container {
          .tableHeader {
            .headerItem:first-child {
              padding-left: 44px;
            }
          }
        }
      }
    }
  }
</style>
