<template>
  <Modal class="applyAuthModal-container" :value="showModal" @on-cancel="onCancel" title="权限申请" width="382" footer-hide>
    <div class="shareModalWrapper">
      <span class="modalTitle">选择权限</span>
      <SelectAuth v-model="shareAuthList" :show-modal="showModal" :existed-auth="existedAuth" />

      <div class="actionBtn">
        <section class="cancelBtn" @click="onCancel">取消</section>
        <section class="confirmBtn" @click="onConfirm">确认</section>
      </div>
    </div>
  </Modal>
</template>

<script>
import SelectAuth from "@/components/AuthShareModal/components/SelectAuth";
import { applyAssetAuth } from "@/api/assetAction";

export default {
  model: {
    prop: "showModal",
    event: "update:showModal"
  },
  props: {
    showModal: {
      type: Boolean,
      required: true
    },
    // 需要申请的资源
    applyList: {
      type: Array,
      required: true
    }
  },
  components: {
    SelectAuth
  },
  data() {
    return {
      shareAuthList: [],
      existedAuth: [] // 已存在的权限
    };
  },
  watch: {
    // 每次打开弹窗，回填已有权限（目前只存在回填查看权限，编辑权限存在则不会展示该弹窗）
    showModal(newVal) {
      if (!newVal) return;
      if (!this.applyList.length) return;
      const isHasView = this.applyList.map(ele => ele.controlView).some(ele => ele); // 是否存在查看权限
      const isHasEdit = this.applyList.map(ele => ele.controlEdit).some(ele => ele); // 是否存在编辑权限
      if (isHasView) {
        this.existedAuth = [1];
      }
      if (isHasEdit) {
        this.existedAuth = [1, 4];
      }
    }
  },
  methods: {
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.reset();
      this.$emit("update:showModal", false);
    },
    /**
     * 确认
     */
    async onConfirm() {
      if (!this.shareAuthList.length) {
        this.$Message.warning("请选择权限！");
        return false;
      }

      const params = this.applyList.map(ele => ({
        moduleType: ele.moduleType,
        resourceId: ele.id,
        authType: this.shareAuthList[0]
      }));
      const res = await applyAssetAuth(params);
      if (res.data.state === "success") {
        this.$Message.success("权限申请成功！");
        this.$emit("success");
      } else {
        this.$Message.error("权限申请失败！");
      }

      this.onCancel();
    },
    /**
     * 重置数据
     */
    reset() {
      this.shareAuthList = [];
      this.existedAuth = [];
    }
  }
};
</script>

<style lang="less" scoped>
.applyAuthModal-container {
  /deep/.ivu-modal-header {
    padding-left: 24px;
  }
  /deep/.ivu-modal-body {
    padding: 0;
  }

  .shareModalWrapper {
    padding: 16px 24px 24px;
    .modalTitle {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #333333;
      letter-spacing: 0;
    }
    .selectAuth-container {
      margin-top: 16px;
      margin-bottom: 24px;
    }

    .actionBtn {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;
      .cancelBtn,
      .confirmBtn {
        width: 72px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
      }
      .cancelBtn {
        border: 1px solid rgba(217, 217, 217, 1);
        margin-right: 16px;
        color: #949494;
      }
      .confirmBtn {
        background: #3f73ff;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}
</style>
