<template>
  <div class="toolbar">
    <div class="toolbar-left">
      <div class="toolbar-item">
        名称：
        <Input class="name" v-model.trim="name" clearable placeholder="请输入数据集或文件夹名称" />
      </div>
      <div class="toolbar-item">
        状态：
        <Select class="status" v-model="status">
          <Option v-for="item in statusList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </div>
      <div class="toolbar-item">
        上次调用结果：
        <Select class="result" v-model="result">
          <Option v-for="item in resultList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </div>
      <Button class="toolbar-item search" type="primary" @click="onSearch">查询</Button>
    </div>
    <div class="toolbar-right">
      <Button class="toolbar-item text" type="text" @click="onConfig">
        <img class="btn-icon" src="@/assets/icons/dataSetList/variable.svg" />
        变量配置
      </Button>
      <Button class="toolbar-item text" type="text" @click="onCall">
        <img class="btn-icon" src="@/assets/icons/dataSetList/re-hancel.svg" />
        重新调用
      </Button>
      <Button class="toolbar-item add-folder" @click="onAddFolder">
        <img class="btn-icon" src="@/assets/icons/dataSetList/add_folder.svg" />
        新建文件夹
      </Button>
    </div>

    <VariableConfig ref="variableConfig" />
    <AddFolderModal ref="addFolderModal" />
  </div>
</template>

<script>
import VariableConfig from '@/view/dataset/DataModel/Toolbar/VariableConfig.vue'
import AddFolderModal from '@/view/dataset/DataModel/Toolbar/AddFolderModal.vue'
import { STATUS_LIST, RESULT_LIST } from '@/view/dataset/constant'

export default {
  name: 'Toolbar',
  components: {
    VariableConfig,
    AddFolderModal,
  },
  data() {
    return {
      name: '', // 搜索
      status: -1, // 状态
      result: -1, // 上次调用结果
      statusList: STATUS_LIST, // 状态列表
      resultList: RESULT_LIST, // 上次调用结果列表
    }
  },
  methods: {
    // 查询
    onSearch() {
      this.$bus.$emit('refresh-dataset-list', {
        name: this.name,
        status: this.status,
        result: this.result,
      })
    },

    // 变量配置
    onConfig() {
      this.$refs.variableConfig.open()
    },

    // 重新调用
    onCall() {
      this.$emit('on-call')
    },

    // 新建文件夹
    onAddFolder() {
      this.$refs.addFolderModal.openModal()
    },
  },
}
</script>

<style scoped lang="less">
.ivu-btn-primary {
  background: #3F73FF;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.toolbar-left,
.toolbar-right {
  display: flex;
}

.toolbar-item {
  display: flex;
  align-items: center;
  white-space: nowrap;

  + .toolbar-item {
    margin-left: 16px;
  }

  .name {
    width: 170px;
  }

  .status,
  .result {
    width: 106px;
  }

  &.search {
    width: 72px;
    justify-content: center;
  }

  /deep/ &.text {
    padding: 5px 0 6px;
    color: #3F73FF;
  }

  &.add-folder {
    color: #3F73FF;
    border-color: #3F73FF;
  }

  .btn-icon {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
}
</style>
