<template>
  <Modal v-model="showModal" width="800" @on-cancel="removeInter">
    <span slot="header">变量配置</span>
    <div class="variable-content">
      <div class="content-left">
        <div class="left-top">
          <span>全局变量</span>
          <img :src="addIcon" @click="handleAddVar" />
        </div>
        <div class="left-list">
          <div
            v-for="(item, ind) in variableList"
            @click="handleSelectItem(item)"
            :key="ind"
            class="list-item"
            :class="{ 'list__active': selectItem === item.varId }"
          >
            <span>{{ item.name }}</span>
            <img :src="deleteIcon" v-if="selectItem === item.varId" @click.stop="handleDelete(item)" />
          </div>
        </div>
      </div>
      <div class="content-right">
        <div class="right-top">
          <div class="var-name">
            <p>name</p>
            <Input
              v-model="name"
              :maxlength="30"
              placeholder="请输入变量名"
              style="width: 160px;"
            />
          </div>
          <div class="var-code">
            <p>
              code
              <Tooltip placement="top" max-width="400">
                <img :src="helpUrl" class="help-icon" />
                <div slot="content">
                  <div>1. 必须是字母或下划线开头,除了首字符外可以是字母下划线数字 ；</div>
                  <div>2. 长度不要超过30个字符；</div>
                </div>
              </Tooltip>
            </p>
            <Input
              v-model="varCode"
              :maxlength="30"
              placeholder="请输入code"
              style="width: 115px;"
            />
          </div>
          <div></div>
        </div>
        <div class="right-top" style="margin-top: 10px;">
          <div class="var-name">
            <p>value type</p>
            <Select v-model="valueType" style="width: 160px;">
              <Option value="string">字符串</Option>
              <Option value="int">数值</Option>
            </Select>
          </div>
          <div class="var-code">
            <p>
              value
            </p>
            <div class="value-item" v-for="(item, index) in valueArr" :key="index">
              <Input
                :value="item.value"
                :maxlength="30"
                placeholder="请输入"
                style="width: 100px;"
                @on-change="e => handleValueItemChange(e, index)"
              />
            </div>
          </div>
          <div class="var-code">
            <p>
              label
            </p>
            <div class="value-item" v-for="(item, index) in valueArr" :key="index">
              <Input
                :value="item.label"
                :maxlength="30"
                placeholder="请输入"
                style="width: 100px;"
                @on-change="e => handleLabelItemChange(e, index)"
              />
              <Icon type="ios-close-circle-outline" title="移除" style="font-size: 20px;cursor: pointer;margin-left: 5px;"
                    @click="() => removeValueItem(index)" v-if="valueArr.length !== 1"/>
              <Icon type="ios-add-circle-outline" v-if="index === valueArr.length - 1" title="增加"
                    style="font-size: 20px;cursor: pointer;margin-left: 5px;" @click="addValueItem"/>
            </div>
          </div>
        </div>
        <div class="right-top" style="margin-top: 10px;">
          <div class="var-name">
            <p>返回值类型</p>
            <Select v-model="returnValueType" style="width: 160px;">
              <Option value="1">单值</Option>
              <Option value="2">多值</Option>
              <Option value="3">范围</Option>
            </Select>
          </div>
        </div>
        <div class="right-nickName">
          <p>别称<span class="info">（别称命名规则与code一致）</span></p>
          <div class="tag-all">
            <div class="tag-list">
              <Tag
                v-for="(item, ind) in tagList"
                :key="ind"
                closable
                @on-close="handleClose(item, ind)"
                >{{ item }}</Tag
              >
              <Input
                v-if="showInput"
                v-model="newNickName"
                placeholder="请输入别称"
                :maxlength="30"
                @on-blur="addNewNickName"
                style="width: 160px; margin-right: 16px;"
              />
              <Button
                type="dashed"
                icon="md-add"
                class="btn-add"
                @click="addNickName"
                >添加别称</Button
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <span slot="footer">
      <Button size="default" @click="handleCancel">取消</Button>
      <Button type="primary" size="default" @click="handleOk">确定</Button>
    </span>
  </Modal>
</template>

<script>
import { deepCopy } from '@/utils/common';
import { getVariableList, addOrUpdataVariable, deleteVariable } from '@/api/dataset';
export default {
  name: "VariableModal",
  components: {},
  computed: {},
  created() {

  },
  data() {
    return {
      showModal: false,
      selectItem: '',
      addIcon: require("@/assets/icons/dataSetList/add.svg"),
      deleteIcon: require("@/assets/icons/dataSetList/delete_blue.svg"),
      helpUrl: require("@/assets/icons/dataSetList/help.svg"),
      variableList: [],
      name: "",
      varCode: "",
      showInput: false,
      newNickName: "",
      tagList: [],
      valueType: 'string',
      valueArr: [{value: '', label: ''}],
      returnValueType: '1'
    };
  },
  methods: {
    async queryList() {
      let res = await getVariableList();
      if(res.data.state === 'success' && res.data.data){
        this.variableList = res.data.data.map(item => {
          let paramValueArr = []
          Object.keys(item.paramValue).forEach(key => {
            paramValueArr.push({
              value: key,
              label: item.paramValue[key]
            })
          })
          return {
            ...item,
            paramValue: paramValueArr
          }
        });
      }
      const firstRecord = this.variableList[0]
      this.restoreConfig(firstRecord)
    },
    handleAddVar(){
      this.selectItem = '';
      this.name = '';
      this.varCode = '';
      this.tagList = [];
      this.newNickName = '';
      this.showInput = false;
    },
    handleSelectItem(item){
      this.showInput = false;
      this.restoreConfig(item)
    },
    restoreConfig(item) {
      this.selectItem = item.varId;
      this.name = item.name;
      this.varCode = item.varCode;
      this.tagList = item.aliasList && item.aliasList.length ? deepCopy(item.aliasList) : [];
      this.valueType = item.paramType
      if (item.paramValue && item.paramValue.length) {
        this.valueArr = item.paramValue
      } else {
        this.valueArr = [{value: '', label: ''}]
      }
      this.returnValueType = item.labelType.toString()
    },
    handleClose(value, index) {
      this.tagList.splice(index, 1);
    },
    handleDelete(item){
      this.$Modal.confirm({
          title: `确认删除${item.name}吗？`,
          content: '删除后不可撤销，请谨慎操作！',
          onOk: async () => {
            let res = await deleteVariable(item.varId);
            if(res.data && res.data.state === 'success'){
              this.queryList();
              this.$Message.info('删除成功！');
            }else{
              this.$Message.error(res.data.message);
            }
          },
          onCancel: () => {

          }
      });
    },
    addNewNickName() {
      if (!this.newNickName && this.newNickName !== 0) {
        return;
      }
      if(this.tagList.length >=10){
        return this.$Message.error("别称最多支持配置10个！");
      }
      let reg = /^[a-zA-Z_]([a-zA-Z0-9_]+)?$/;
      if(!reg.test(this.newNickName)){
        return this.$Message.error('请输入正确的别称！')
      }
      //失去焦点保存
      let isHave = this.tagList.some((item) => {
        return item === this.newNickName;
      });
      if (isHave) {
        return this.$Message.error("该别称已经存在！");
      } else {
        this.tagList.push(this.newNickName);
        this.newNickName = "";
        this.showInput = false;
      }
    },
    addNickName() {
      this.showInput = true;
    },
    // 打开模态框
    open() {
      this.showModal = true
    },
    openModal(data) {
      this.showModal = data;
    },
    removeInter() {
      this.showModal = false;
    },
    handleCancel() {
      this.showModal = false;
    },
    async handleOk() {
      if(!this.name){
        return this.$Message.error('变量名不能为空！')
      }
      let reg = /^[a-zA-Z_]([a-zA-Z0-9_]+)?$/;
      if(!this.varCode){
        return this.$Message.error('code不能为空！')
      }else if(!reg.test(this.varCode)){
        return this.$Message.error('请输入正确的code！')
      }
      let paramValue = {}
      this.valueArr.forEach(item => {
        paramValue = Object.assign(paramValue, {
          [item.value]: item.label
        })
      })
      let data = {
        name: this.name,
        varCode: this.varCode,
        aliasList: this.tagList,
        creator: this.$store.state.user.userName,
        paramType: this.valueType,
        paramValue,
        labelType: this.returnValueType
      }
      if(this.selectItem){
        data = Object.assign(data, {
          varId: this.selectItem
        })
      }
      let res = await addOrUpdataVariable(data);
      if(res.data && res.data.state === 'success'){
        this.showModal = false;
      }else{
        this.$Message.error(res.data.message);
      }
    },
    removeValueItem(index) {
      this.valueArr.splice(index, 1)
    },
    addValueItem() {
      this.valueArr.push({value: '', label: ''})
    },
    handleValueItemChange(e, index) {
      const inputValue = e.target.value
      const oldValue = this.valueArr[index]
      const newValue = Object.assign(oldValue, {
        value: inputValue
      })
      this.valueArr.splice(index, 1, newValue)
    },
    handleLabelItemChange(e, index) {
      const inputValue = e.target.value
      const oldValue = this.valueArr[index]
      const newValue = Object.assign(oldValue, {
        label: inputValue
      })
      this.valueArr.splice(index, 1, newValue)
    }
  },
  watch: {
    showModal(val){
      if(val){
        this.queryList();
      }else{
        this.showInput = false;
      }
    },
  },
};
</script>

<style lang="less" scoped>
/deep/ .ivu-modal-footer {
  border-top: none;
}
.variable-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  .content-left {
    width: 180px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    .left-top {
      display: flex;
      justify-content: space-between;
      height: 53px;
      align-items: center;
      padding: 0 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      color: #333;
      font-weight: 600;
      img {
        cursor: pointer;
        width: 16px;
      }
    }
    .left-list {
      height: 300px;
      overflow: auto;
      padding: 10px 0;
      .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        cursor: pointer;
        span {
          width: calc(~"100% - 25px");
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        img {
          cursor: pointer;
          width: 16px;
        }
      }
      .list__active{
        color: #3F73FF;
      }
    }
  }
  .content-right {
    padding: 16px;
    flex: 1;
    font-size: 12px;
    color: #333333;
    .right-top {
      border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
      display: flex;
      padding: 0 0 15px 0;
      .var-name {
        width: 50%;
        p {
          margin-bottom: 15px;
          color: #333;
          font-weight: 600;
        }
      }
      .var-code {
        width: 25%;
        p {
          margin-bottom: 15px;
          color: #333;
          font-weight: 600;
          .help-icon {
            width: 14px;
            margin-left: 6px;
            vertical-align: middle;
            cursor: pointer;
          }
        }
        .value-item{
          display: flex;
          align-items: center;
          margin-bottom: 10px;
        }
      }
    }
    .right-nickName {
      padding: 15px 0;
      >p{
        color: #333;
        font-weight: 600;
        .info{
          font-weight: 400;
          font-size: 12px;
          color: #999;
        }
      }
      .tag-all {
        padding-top: 17px;
        display: flex;
        align-items: center;
        /deep/ .ivu-tag {
          height: 28px;
          line-height: 28px;
          background: #f0f5ff;
          border-radius: 4px;
          border: none;
          margin-right: 16px;
          margin-bottom: 16px;
          .ivu-tag-text {
            font-size: 12px;
            color: #3f73ff;
          }
          .ivu-icon-ios-close:before {
            color: #3f73ff;
            font-weight: 600;
          }
        }
        /deep/ .ivu-input {
          height: 28px;
          margin-bottom: 16px;
        }
        .btn-add {
          color: #3f73ff;
          border-color: #3f73ff;
          height: 28px;
          padding: 2px 15px 3px;
          margin-bottom: 16px;
        }
      }
    }
  }
}
</style>
