<template>
  <el-dialog custom-class="addNewEnvDialog" :title="title" :close-on-click-modal="false" :visible.sync="addVisible" append-to-body width="500px" :before-close="handleBeforeClose">
    <el-form ref="forms" label-position="left" label-width="100px" :model="form" :rules="rules">
      <el-form-item label="环境名称：" prop="name">
        <el-input v-model="form.name" size="mini" maxlength="20" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="环境类型：" class="env-type-label">
        <el-select v-model="form.type" placeholder="请选择活动区域" size="mini" style="width:100%" :disabled="isEdit && !form.isEditable">
          <el-option v-for="item in envTypeList" :key="item.value" :label="item.label" :value="item.value"> </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="环境地址：" prop="path">
        <div class="flexBox">
          <el-input v-model="form.path" maxlength="100" size="mini" autocomplete="off" aria-autocomplete="both" :disabled="isEdit && !form.isEditable"></el-input>
          <el-popover
            placement="top-start"
            width="235"
            trigger="hover">
            <i slot="reference" class="el-icon-warning-outline"></i>
            <div class="tip">
              <span>请以 http(s):// 或者 ftp:// 开头</span>
            </div>
          </el-popover>
        </div>
      </el-form-item>
      <el-form-item label="责任人：" class="env-type-label">
        <div class="personCharge">
          <i class="el-icon-circle-plus-outline"  @click="changePerson()" ></i>
          <div  class="rightContent">
              <div v-for="item in form.duty" :key="item.authId" class="rightTag">
             <svg-icon :icon-class='item.dataType == 2 ? "person1" : item.dataType == 3 ? "person2": "person3" '
             class="personIcon" />
             <span class="str">{{ item.authName }}</span>
             <i class="el-icon-circle-close"  @click="closeItem(item)" ></i>
            </div>
        </div>
        </div>
      </el-form-item>
    </el-form>
    <div style="text-align: right; margin-top:10px">
      <el-button class="standardButton" @click="handleBeforeClose" size="medium">取消</el-button>
      <el-button type="primary" class="standardButton" size="medium" @click="createNewEnv()">确定</el-button>
    </div>

    <PersonSelect  ref="personSelect" v-if="addVisible"  @changetags='changetags' />
  </el-dialog>
</template>

<script>
import { saveSysEnvironment, checkDuplicatedEnvName } from "@/api/system"
import { EventBus } from '@/utils/event-bus'
import { ENVTYPES } from '@/config/ReportConstants'
import PersonSelect from './PersonSelect.vue'
import { deepClone } from '@/utils/index'
import Style from "@/view/report/chart/GroupTable/style";
export default {
  name: 'AddNewEnvDialog',
  computed: {
    envTypeList() {
      return ENVTYPES
    },
    isEdit() {
      return this.title === '编辑环境'
    }
  },
  data() {
    const checkEnvName = (rule, value, callback) => {
      if (value === "" || value && value.trim() === '') {
        return callback(new Error("环境名称不能为空或者空白字符串！"));
      }

      if (this.isEdit && this.copyform.name === value) {
        return   callback();
      }

      checkDuplicatedEnvName(value).then((res) => {
        if (res.data) {
          const { state, data } = res.data;
          if (state === "success") {
            if (data.length > 0) {
              return callback(new Error("该环境名称已存在，请修改！"));
            } else {
              callback();
            }
          }
        }
      });
    };
    const checkPath = (rule, value, callback) => {
      if (value === '' || value && value.trim() === '') {
        return callback(new Error("环境地址不可以为空或者空白字符串！"));
      }
      const regexp =new RegExp('^(?!mailto:)(?:(?:http|https|ftp)://|//)(?:\\S+(?::\\S*)?@)?(?:(?:(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}(?:\\.(?:[0-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))|(?:(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)(?:\\.(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)*(?:\\.(?:[a-z\\u00a1-\\uffff]{2,})))|localhost)(?::\\d{2,5})?(?:(/|\\?|#)[^\\s]*)?$', 'i')
      if ( !regexp.test(value) ) {
        return callback(new Error('环境地址含有不合法的 URL 字符串！'))
      }
      callback()
    }
    return {
      addVisible: false,
      form: { name: "", type: 3, path: null, duty:[] },
      copyform: { name: "", type: 3, path: "" },
      rules: {
        name: [
          { required: true, message: "请输入环境名称！" },
          { pattern: /^[A-Za-z0-9\u4e00-\u9fa5]+$/, message: '请输入汉字、英文或数字', trigger: 'blur' },
          { validator: checkEnvName, trigger: "blur" }
        ],
        path: [
          { required: true, message: "请输入环境地址！" },
          { validator: checkPath, trigger: "blur" }
        ]
      },
      title:'新增环境'
    }
  },
  methods: {
    openAddNewEnvDialog(val) {
      this.addVisible = true
      this.title = '新增环境'
      if (val) {
        this.form = deepClone(val)
        this.copyform = deepClone(val)
        this.title = '编辑环境'
      }
    },
    handleBeforeClose() {
      this.form = this.$options.data().form
      this.$refs["forms"].resetFields()
      this.addVisible = false
    },
    createNewEnv() {
      this.$refs["forms"].validate(valid => {
        if (valid) {
          saveSysEnvironment({ ...this.form }).then(res => {
            if (res.data.state === "success") {
              EventBus.$emit('addNewEnvSuccess')
              this.$message.success( this.title + '成功！')
              this.handleBeforeClose()
            }else{
              this.$message.error(res.data.message)
            }
          })
        } else {
          console.log("error submit!!")
          return false
        }
      })
    },
    changetags(data){
      this.form.duty = data.map((ele,index)=>{
        ele.px = index+1
        return ele
      })
    },
    changePerson(){
      this.$refs.personSelect.openDialog(this.form.duty)
    },
    closeItem(item){
      this.form.duty = this.form.duty.filter(ele=>ele.authId != item.authId)
    }
  },
  components: {
    Style,
    PersonSelect
  }
}
</script>
<style lang="scss" scoped>

.addNewEnvDialog {
  .env-type-label {

    /deep/ .el-form-item__label {
      text-indent: 9px;
    }
  }

  .flexBox {
    /deep/ .el-input {
      margin-right: 10px;
    }
    /deep/ .el-icon-warning-outline {
      color: #c7cbd3; cursor: pointer; font-size: 16px;
    }
  }
  .personCharge{
    display: flex; min-height: 40px; align-items: center;   padding-top: 10px;
    .el-icon-circle-plus-outline{ color: #3F73FF; cursor: pointer; font-size: 16px;     align-self: flex-start;  position: relative; top: 3px; }

  }
   .rightContent{
    display: flex; flex-wrap: wrap;    align-content: flex-start;  margin-left: 5px; border-radius: 4px;
     .rightTag{
         background-color: #e7eeff; height: 24px;display: flex; align-items: center; border-radius: 20px;
         margin-left:10px;margin-bottom: 15px;  cursor: pointer; padding-left: 1px;  font-size: 12px; color: #3F73FF;
        .personIcon{
         font-size: 20px; color: #3F73FF; background-color: #b4c9ff; border-radius: 50%;
        }
        .str{margin-left: 6px;}
        .el-icon-circle-close{ color: #3F73FF; margin: 0 8px 0 5px; }
        &:hover{
         background-color: #3F73FF;
         .personIcon{ background-color: #fff;}
         .str{color: #fff;}
          .el-icon-circle-close{ color: #fff;}
        }
     }
 }
}
/deep/ .el-input.is-disabled .el-input__inner{
  color: #606266;
}
/deep/ .el-select .el-input.is-disabled .el-input__inner{
  color: #606266;
}
</style>
