<template>
  <el-card class="environmentalBox" :body-style="{ padding: '10px 20px' }">

    <div  class="header">
    <el-input  size="small"  placeholder="请输入环境名称"  class="seachInput"  v-debounce="{ handler: onSearch }"  v-model="seachText">
     <i slot="suffix" class="el-input__icon el-icon-search"></i>
    </el-input>
      <el-button class="standardButton btnAdd" icon="el-icon-plus" @click="openEditDialog()" v-if="getBtnAllow([860201])">新增环境</el-button>
    </div>
    <el-table
      :data="tableData"
      class="standardTable"
      size="small"
      :height="tableHeight"
      :key="tableHeight + 1000"   v-loading="loading"
    >
      <el-table-column prop="name" label="环境名称" width="200" label-class-name="fontBold">
      </el-table-column>
      <el-table-column
        prop="type"
        label="环境类型"
        width="200"
        show-overflow-tooltip
        label-class-name="fontBold"
      >
        <template slot-scope="scope">
          {{ getEnvTypeName(scope.row.type) }}
        </template>
      </el-table-column>

      <el-table-column prop="path" label="环境地址" min-width="200" label-class-name="fontBold">
      </el-table-column>

      <el-table-column prop="creatorName" label="创建人" label-class-name="fontBold"></el-table-column>
      <el-table-column prop="createTime" label="创建时间" width="240" label-class-name="fontBold">
      </el-table-column>

      <el-table-column fixed="right" align="center" label="操作" width="80" label-class-name="fontBold" class-name="operation">
        <template slot-scope="scope">
          <i class="standardIcon iconEdit small" title='编辑' @click="EditContent(scope.row)"></i>
          <i class="standardIcon iconDelete small" title="删除" @click="deleteEnv(scope.row)" v-if="getBtnAllow([860202])" ></i>
        </template>
      </el-table-column>
    </el-table>

    <Pagination
      :total="listQuery.total"
      style="margin-top: 10px"
      :page.sync="listQuery.pageNum"
      :limit.sync="listQuery.pageSize"
      layout="total, sizes , prev, pager, next, jumper"
      @pagination="getSysEnvList"
    />

    <AddNewEnvDialog ref="AddNewEnvDialog"></AddNewEnvDialog>
  </el-card>
</template>

<script>
import Pagination from "@/components/Pagination"
import { querySysEnvironment, removeById } from "@/api/system"
import { EventBus } from '@/utils/event-bus'
import { debounce } from "@/utils/directive";
import AddNewEnvDialog from "./AddNewEnvDialog.vue";
import { ENVTYPES } from '@/config/ReportConstants'

export default {
  name: "environmental",
  computed: {
    envTypeList() {
      return ENVTYPES
    }
  },
  data() {
    return {
      tableData: [],
      listQuery: {
        pageNum: 1,
        pageSize: 10,
        total: 11,
      },
      tableHeight: 400,
      seachText: '',
      loading: false,
    };
  },
  created() {
    this.getSysEnvList()
  },
  mounted() {
    this.tableHeight = document.querySelector(".environmentalBox").offsetHeight - 110;
    EventBus.$on('addNewEnvSuccess', () => {
      this.getSysEnvList()
    })
  },
  beforeDestroy() {
    EventBus.$off('addNewEnvSuccess')
  },
  methods: {
    onSearch() {
      //搜索
      this.listQuery.pageNum = 1;
      this.getSysEnvList();
    },
    openEditDialog() {
      this.$refs.AddNewEnvDialog.openAddNewEnvDialog()
    },
    EditContent(row) {
      this.$refs.AddNewEnvDialog.openAddNewEnvDialog(row)
    },
    deleteEnv(row) {
      this.$confirm("此操作将删除该环境, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
          removeById([row.id]).then(res => {
            if (res.data.state === "success") {
              EventBus.$emit('deleteEnvSuccess')
              this.$message({
                type: "success",
                message: "删除成功！"
              })
              let newTotal = this.listQuery.total - 1;
              let size = this.listQuery.pageSize;
              let nowPage = this.listQuery.pageNum;
              if(newTotal >= size && nowPage>1 && newTotal % size === 0){
                this.listQuery.pageNum--;
              }
              this.getSysEnvList()
            }
          }).catch((err)=>{
            this.$message.error(err|| '删除失败！')
          })
        })
    },
    getSysEnvList() {
      this.loading = true
      querySysEnvironment({ ...this.listQuery , name: this.seachText }).then(res => {
        if (res.data.state === "success") {
          const info = res.data.data
          this.tableData = info.dataList.map(item => {
            return {
              ...item,
              isEditable: item.type !== 99,
              type: item.type === 99 ? 3 : item.type,
            }
          })
          this.listQuery.total = info.total
        }
      }).finally(()=>{
        this.loading = false
      })
    },
    getEnvTypeName(type) {
      if (!type) {
        return ""
      }
      for (const item of this.envTypeList) {
        if (item.value == type) {
          return item.label
        }
      }
    }
  },
  directives: {
    debounce, //防抖指令
  },
  components: {
    AddNewEnvDialog,
    Pagination,
  },
};
</script>

<style lang="scss" scoped>
.environmentalBox {
  height: 100%;
  background-color: #fff;
  .header{
    display: flex; justify-content: space-between; align-items: center;margin-bottom: 15px;
      .seachInput{ width: 50%; max-width: 250px;  }
  }
  /deep/ .el-card__body {
    height: 100%;
    overflow-y: auto;
    .el-table__cell:first-child .cell {
      padding: 0 14px;
    }
  }

  /deep/ .cell {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(0,0,0,0.85);
    letter-spacing: 0;
    font-weight: 400;
    &.fontBold {
      font-weight: 600;
    }
  }

  .btnIcon {
    color: #3F73FF;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
  }
}
</style>
