<template>
  <el-dialog class="addNewEnvDialog" title="责任人选择" :close-on-click-modal="false" :visible.sync="addVisible"
    append-to-body width="700px" :before-close="handleBeforeClose" >
    <div class="content" >
        <div  class="left" >
            <el-tabs v-model="activeName" @tab-click="handleClick" class="cardTab">
                <el-tab-pane label="部门" name="2"  lazy >
                    <Section   @changetags="changetags" :allData='newTags'   ref="section" />
                </el-tab-pane>

                <el-tab-pane label="角色" name="3" lazy >
                    <User   @changetags="changetags" :allData='newTags'  ref="user"  />
                </el-tab-pane>

                <el-tab-pane label="用户" name="1" lazy>

                    <Role    @changetags="changetags" :allData='newTags'  ref="role"   />

                </el-tab-pane>
           </el-tabs>
        </div>
        <div  class="right" >
            <div class="header">
                责任人：
             <el-button class="standardButton"  @click="removeAll()" size="medium">全部移除</el-button>
            </div>
             <div class="rightContent">
                <div v-for="item in newTags" :key="item.id" class="rightTag">
                    <svg-icon :icon-class='item.dataType == 2 ? "person1" : item.dataType == 3 ? "person2": "person3" '
                    class="personIcon" />
                    <span class="str">{{ item.authName }}</span>
                    <i class="el-icon-circle-close"  @click="closeItem(item)" ></i>
                </div>
             </div>
        </div>
    </div>
    <div class="footer">
            <el-button class="standardButton" @click="handleBeforeClose" size="medium">取消</el-button>
            <el-button type="primary" class="standardButton" size="medium" @click="submitFrom()">确定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { deepClone  } from '@/utils'
import { debounce } from "@/utils/directive";
import Section from './compoent/Section.vue';
import User from '@/view/contentManagement/compoents/environmental/compoent/user.vue'
import Role from '@/view/contentManagement/compoents/environmental/compoent/role.vue'

export default {
    name: 'QiankunBasePersonSelect',
    data() {
        return {
            addVisible : false,
            newTags : [], // 用于存储新添加的标签
            activeName: '2',
        };
    },
    props:[ 'tags' ],
    mounted() {
    },
    components: {
        Section , User , Role
    },
    methods: {
        handleBeforeClose() {
            this.addVisible = false;
        },
        openDialog(tags){
            this.newTags = tags ? deepClone(tags) : [];
            this.addVisible = true;
            if (  this.newTags.length > 0 ) {
               this.handleClick()
            }
        },
        handleClick(){
            this.$nextTick(()=>{
                console.log(this.activeName);
                switch (this.activeName) {
                    case '2':
                this.$refs.section.reset()
                        break;
                    case '3':
                this.$refs.user.reset()
                        break;
                    case '1':
                this.$refs.role.reset()
                        break;
                }
            });
        },
        changetags(val){
            let target = {
                authId: val.data.id ,
                authName : val.data.title,
                dataType : this.activeName
            }
            if (this.activeName == "1") {
                target.authName = val.data.name
                console.log( val.data);
            }
            if (val.code == "add" ) {
                this.newTags.push(target)
            }else{
                this.newTags = this.newTags.filter(item => item.authId != target.authId)
            }
        },
        closeItem(item){ // 删除标签
            this.newTags = this.newTags.filter(val => val.authId != item.authId)
            this.$nextTick(()=>{
                this.$refs.section?.reset()
                this.$refs.user?.reset()
                this.$refs.role?.reset()
            });
        },

        submitFrom(){
            this.$emit('changetags',this.newTags)
            this.handleBeforeClose()
        },
        removeAll(){
            this.newTags = []
            this.handleClick()
        }
    },
    directives: {
    debounce, //防抖指令
  },
};
</script>

<style lang="scss" scoped>
    .addNewEnvDialog{
        ::v-deep .el-dialog__body{
        padding-top: 0px !important;
        .el-tabs__nav-wrap::after{
            height: 1px;
        }
    }
    .content{display: flex;
        .left{
             padding-top: 5px; padding-right: 15px; width: 260px;
        }
        .right{

            flex: 1; border-left: 1px solid #EAEAEA ;     font-size: 12px;
            .header{
                height: 50px; display: flex; justify-content: space-between; align-items: center; padding-left: 15px; font-weight: bold;
            }

            .rightContent{
                height: calc(100% - 40px); min-height: 280px; display: flex; flex-wrap: wrap;    align-content: flex-start;
                background: rgba(0,0,0,0.03); margin-left: 15px; border-radius: 4px; position: relative; top: 10px; margin-top: -10px;
                .rightTag{
                    background-color: #e7eeff; height: 24px;display: flex; align-items: center; border-radius: 20px;
                    margin-left:10px;margin-top: 15px;  cursor: pointer; padding-left: 1px;
                   .personIcon{
                    font-size: 20px; color: #3F73FF; background-color: #b4c9ff; border-radius: 50%;
                   }
                   .str{margin-left: 6px;}
                   .el-icon-circle-close{ color: #3F73FF; margin: 0 8px 0 5px; }
                   &:hover{
                    background-color: #3F73FF;
                    .personIcon{ background-color: #fff;}
                    .str{color: #fff;}
                     .el-icon-circle-close{ color: #fff;}
                   }
                }
            }
        }
    }

    .footer {
        text-align: right; margin-top:25px;
    }



      .cardTab {
              height: calc(100% - 40px);
            ::v-deep .el-tabs__header {
            border-bottom: 1px solid rgba(0,0,0,0.1);     margin: 0 0 10px;

            .el-tabs__nav {
              border: none;
              .el-tabs__item {
                padding: 0;
               font-size: 12px; width: 50px; text-align: center;
              }
            }
          }
           }
       }



</style>
