<template>
    <div class="treeBox">

     <el-input  size="small"  placeholder="请输入部门/职务"  class="seachInput"  v-debounce="{ handler: onSearch }"  v-model="seachText">
      <i slot="suffix" class="el-input__icon el-icon-search"></i>
     </el-input>
      <Tree
        :data="treeData"
        :render="renderContent"
      ></Tree>
    </div>
</template>

<script>
export default {
    name: 'QiankunBaseTreeChecked',
    data() {
        return {
            treeData: [], //树数据
        };
    },
    props: {
        allData: {
            type: Array,
            default: () => []
        },
    },
    watch : {
        allData : {
            handler : function(val,oldVal) {
                this.treeData = val;
            },
            deep : true
        }
    },
    methods: {
     renderContent(h, { data }) {
       return  <div   style="display: flex;justify-content: space-between;width: 100%" >
        <span style='flex:1;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'  onClick={(e)=>{this.onClick(e)}} >{data.name}</span>
        { !data.disable &&  <Checkbox  v-model={data.checkedMenu}   ></Checkbox>  }  
      </div>
    },
    },
};
</script>

<style lang="scss" scoped>
.treeBox{
    max-height: 250px; overflow-y: auto;  margin-top: 10px;  overflow-x: hidden; padding-right: 20px;
    ::v-deep .ivu-tree-title{
        width: 100%;
    }
    ::v-deep .ivu-tree-empty{
      line-height: 32px;
    }
  
    ::v-deep .ivu-checkbox-wrapper{
      line-height: 28px;
    }


    &::-webkit-scrollbar {
     width: 4px;
     height: 4px;
    }

    &::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px #E7EEFF;
    }

    &::-webkit-scrollbar-thumb {
     border-radius: 5px;

     -webkit-box-shadow: inset 0 0 6px rgba(245, 16, 16, 0);

       background-color: #bccffe;;


     &:hover {
       background-color: #bccffe;;
     }

    }
}
</style>