<template>
  <!-- 部门权限设置 -->
  <div class="department-setting">
    <SettingHeader title="所有部门" :settings="fullSettings" />
    <SettingTree :data="settingTreeData" />

    <!-- 基于继承权限修改用户权限提示 -->
    <ModifyUserAuthPromptModal v-model="showUserAuthPromptModal" @on-ok="onUserAuthPromptOk" />
    <!-- 用户权限配置后再对角色权限配置时提醒 -->
    <ModifyRoleAuthPromptModal v-model="showRoleAuthPromptModal" @on-ok="onRoleAuthPromptOk" />
  </div>
</template>

<script>
import SettingHeader from '@/view/system/authorizationManagement/components/RightTabs/components/SettingHeader/index.vue'
import SettingTree from '@/view/system/authorizationManagement/components/RightTabs/components/SettingTree.vue'
import ModifyUserAuthPromptModal from '@/view/system/authorizationManagement/components/RightTabs/components/ModifyUserAuthPromptModal.vue'
import ModifyRoleAuthPromptModal from '@/view/system/authorizationManagement/components/RightTabs/components/ModifyRoleAuthPromptModal.vue'
import iconAuthorizationOpen from '@/assets/icons/authorizationManagement/icon_authorization_open.svg'
import iconAuthorizationClose from '@/assets/icons/authorizationManagement/icon_authorization_close.svg'
import iconDepartment from '@/assets/icons/authorizationManagement/icon_department.svg'
import settingTree from '@/mixins/authorizationManagement/settingTree'
import personnelManagement from '@/mixins/authorizationManagement/personnelManagement'
import { mapActions, mapState } from 'vuex'
import { deepCopy, filterTree } from '@/utils/common'
import iconOrigin from '@/assets/icons/authorizationManagement/icon_origin.svg'
import iconAuthorizationRestore from '@/assets/icons/authorizationManagement/icon_authorization_restore.svg'

const LIST_NAME = 'totalPersonnelDepartmentDirectoryList'

export default {
  name: 'DepartmentSetting',
  components: {
    SettingHeader,
    SettingTree,
    ModifyUserAuthPromptModal,
    ModifyRoleAuthPromptModal,
  },
  mixins: [settingTree, personnelManagement],
  data() {
    return {
      settings: ['授权'],
    }
  },
  computed: {
    ...mapState('authorizationManagement', [
      'totalPersonnelDepartmentDirectoryList',
    ]),
  },
  watch: {
    // 监听状态中的部门目录列表，构建为树结构
    totalPersonnelDepartmentDirectoryList: {
      handler(val) {
        this.getSettingTree()
        this.totalList = deepCopy(val)
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'getPersonnelManagementDirectoryList',
      'setAuthorizedItem',
      'setShowAuthSourceModal',
      'setPersonManageType'
    ]),

    /**
     * 获取设置树
     */
    getSettingTree() {
      let list = this.totalPersonnelDepartmentDirectoryList.map(item => ({
        ...item,
        parentId: item.groupId,
        title: item.name,
        render: this.renderNode,
      }))
      list.push({
        id: -1,
        parentId: null,
        title: '/',
      })
      this.settingTreeData = this.buildTree(list, null,LIST_NAME,this.domainId)
      this.settingTreeDataBak = deepCopy(this.settingTreeData)
      this.settingTreeData = filterTree(this.settingTreeDataBak, this.rightTabKeywords)
    },

    /**
     * 树子节点render函数
     */
    renderNode(h, { root, node, data }) {
      return h('span', {
        class: ['node'],
      }, [
        h('div', {
          class: ['title'],
        }, [
          h(data.title === '所有部门' ? '' : 'img', {
            class: ['icon-node', { group: data.children }],
            attrs: {
              src: iconDepartment,
            },
          }),
          h('span', data.title),
        ]),
        h('div', {
          class: ['settings'],
        }, [
          // 授权
          h('span', {
            class: 'setting-item',
          }, [
            h('img', {
              class: { disabled: this.isDisabled },
              attrs: {
                src: this.hasAuth(1, data) ? iconAuthorizationOpen : iconAuthorizationClose,
              },
              on: {
                click: this.onSetAuth(LIST_NAME, root, 1, data),
              },
            }),
            h(this.showRestore(1, data) ? 'img' : '', {
              class: { disabled: this.isDisabled },
              attrs: {
                src: iconAuthorizationRestore,
              },
              on: {
                click: this.onRestoreAuth(LIST_NAME, root, 1, data),
              },
            }),
          ]),
          // 来源
          h(this.leftTab === 'user' ? 'span' : '', {
            class: ['setting-item'],
          }, [
            h(this.showOrigin(1, data) ? 'img' : '', {
              attrs: {
                src: iconOrigin,
              },
              on: {
                'click': (e) => {
                  e.stopPropagation()
                  this.setShowAuthSourceModal(true)
                  this.setAuthorizedItem(data)
                  this.setPersonManageType(1)
                },
              },
            })
          ]),
        ]),
      ])
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-tree {
  user-select: none;

  .ivu-icon-ios-arrow-forward:before {
    background: url('~@/assets/icons/authorizationManagement/icon_department_group.svg');
  }

  .ivu-tree-title {
    padding-left: 8px;
  }

  .node {
    display: inline-flex;
    align-items: center;

    .icon-node {
      width: 16px;
      height: 16px;
      margin-right: 6px;
      vertical-align: text-bottom;
      margin-left: -8px;

      &.group {
        display: none;
      }
    }
  }
}

/deep/ .setting-tree .setting-item.disabled {
  filter: grayscale(1);
  cursor: not-allowed;
}

/deep/ .ivu-poptip-body-content {
  color: #333;
}
</style>
