<template>
  <div class="role-setting">
    <SettingHeader title="所有角色" :settings="fullSettings" />
    <SettingTree :data="settingTreeData" />

    <!-- 基于继承权限修改用户权限提示 -->
    <ModifyUserAuthPromptModal v-model="showUserAuthPromptModal" @on-ok="onUserAuthPromptOk" />
    <!-- 用户权限配置后再对角色权限配置时提醒 -->
    <ModifyRoleAuthPromptModal v-model="showRoleAuthPromptModal" @on-ok="onRoleAuthPromptOk" />
  </div>
</template>

<script>
import SettingHeader from '@/view/system/authorizationManagement/components/RightTabs/components/SettingHeader/index.vue'
import SettingTree from '@/view/system/authorizationManagement/components/RightTabs/components/SettingTree.vue'
import ModifyUserAuthPromptModal from '@/view/system/authorizationManagement/components/RightTabs/components/ModifyUserAuthPromptModal.vue'
import ModifyRoleAuthPromptModal from '@/view/system/authorizationManagement/components/RightTabs/components/ModifyRoleAuthPromptModal.vue'
import settingTree from '@/mixins/authorizationManagement/settingTree'
import personnelManagement from '@/mixins/authorizationManagement/personnelManagement'
import { mapActions, mapState } from 'vuex'
import { deepCopy, filterTree } from '@/utils/common'
import iconAuthorizationOpen from '@/assets/icons/authorizationManagement/icon_authorization_open.svg'
import iconAuthorizationClose from '@/assets/icons/authorizationManagement/icon_authorization_close.svg'
import iconOrigin from '@/assets/icons/authorizationManagement/icon_origin.svg'
import iconAuthorizationRestore from '@/assets/icons/authorizationManagement/icon_authorization_restore.svg'

const LIST_NAME = 'totalPersonnelRoleDirectoryList'

export default {
  name: 'RoleSetting',
  components: {
    SettingHeader,
    SettingTree,
    ModifyUserAuthPromptModal,
    ModifyRoleAuthPromptModal,
  },
  mixins: [settingTree, personnelManagement],
  data() {
    return {
      settings: ['授权'],
    }
  },
  computed: {
    ...mapState('authorizationManagement', [
      'totalPersonnelRoleDirectoryList',
    ]),
  },
  watch: {
    // 监听状态中的部门目录列表，构建为树结构
    totalPersonnelRoleDirectoryList: {
      handler(val) {
        this.getSettingTree()
        this.totalList = deepCopy(val)
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'getPersonnelManagementDirectoryList',
      'setAuthorizedItem',
      'setShowAuthSourceModal',
      'setPersonManageType'
    ]),

    /**
     * 获取设置树
     */
    getSettingTree() {
      let list = this.totalPersonnelRoleDirectoryList.map(item => ({
        ...item,
        parentId: item.groupId,
        title: item.name,
      }))
      list.push({
        id: -1,
        parentId: null,
        title: '/',
        type: 'group',
      })
      list.forEach(item => {
        if (item.type !== 'group') {
          // 角色分组不可操作
          item.render = this.renderNode
        }
      })
      this.settingTreeData = this.buildTree(list, null,LIST_NAME,this.domainId)
      this.settingTreeDataBak = deepCopy(this.settingTreeData)
      this.settingTreeData = filterTree(this.settingTreeDataBak, this.rightTabKeywords)
    },

    /**
     * 树子节点render函数
     */
    renderNode(h, { root, node, data }) {
      return h('span', {
        class: ['node'],
      }, [
        h('div', {
          class: ['title'],
        }, [
          h('span', data.title),
        ]),
        h('div', {
          class: ['settings'],
        }, [
          // 授权
          h(data.children ? '' : 'span', {
            class: 'setting-item',
          }, [
            h('img', {
              class: { disabled: this.isDisabled },
              attrs: {
                src: this.hasAuth(2, data) ? iconAuthorizationOpen : iconAuthorizationClose,
              },
              on: {
                click: this.onSetAuth(LIST_NAME, root, 2, data),
              },
            }),
            h(this.showRestore(2, data) ? 'img' : '', {
              class: { disabled: this.isDisabled },
              attrs: {
                src: iconAuthorizationRestore,
              },
              style: {
                marginLeft: '12px',
              },
              on: {
                click: this.onRestoreAuth(LIST_NAME, root, 2, data),
              },
            }),
          ]),
          // 来源
          h(this.leftTab === 'user' ? 'span' : '', {
            class: ['setting-item'],
          }, [
            h(this.showOrigin(2, data) ? 'img' : '', {
              attrs: {
                src: iconOrigin,
              },
              on: {
                'click': (e) => {
                  e.stopPropagation()
                  this.setShowAuthSourceModal(true)
                  this.setAuthorizedItem(data)
                  this.setPersonManageType(2)
                },
              },
            })
          ]),
        ]),
      ])
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-poptip-body-content {
  color: #333;
}
</style>
