<template>
  <div class="indicatorNode-container">
    <div :class="['node-info', { 
        parent: item.children.length, 
        redColor: item.lineColor === 'red',
        greenColor: item.lineColor === 'green' 
      }
    ]" v-for="(item, index) in data" :key="item.indicatorId">
      <div
        :class="['body', { selected: selectedNodeKey === getNodeKey(index) }]"
        :id="item.indicatorId"
        :indicatorId="item.indicatorId"
        @mouseover="onMouseover(index)"
        @mouseleave="onMouseleave"
      >
      <!-- selectedNodeKey === getNodeKey(index) -->
        <div v-show="getNodeKey(index) !== '0' && selectedNodeKey === getNodeKey(index)" 
          class="select-switch"  
        >
          <div class="plus" :class="{plusRed: item.lineColor === 'red'}"
            @click="setLineColor(item.lineColor, 'red', index)"
          >正</div>
          <div class="minus"  :class="{minusGreen: item.lineColor === 'green'}"
            @click="setLineColor(item.lineColor, 'green', index)"
          >负</div>
        </div>
        <span class="name" :indicatorId="item.indicatorId">{{ item.indicatorName }}</span>
        <Icon
          class="icon-close"
          type="ios-close-circle"
          color="#3F73FF"
          size="16"
          v-if="selectedNodeKey === getNodeKey(index)"
          @click="onClickDeleteBtn(index)"
        />
      </div>
      <div class="node-children">
        <indicator-node :data="item.children" :node-key="getNodeKey(index)" v-on="$listeners" :selected-node-key="selectedNodeKey" />
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "IndicatorNode",
  props: {
    data: Array,
    nodeKey: String,
    selectedNodeKey: String
  },
  data() {
    return {};
  },
  methods: {
    getNodeKey(index) {
      return this.nodeKey ? `${this.nodeKey},${index}` : `${index}`;
    },
    /**
     * 展示选中效果
     */
    onMouseover(index) {
      const nodeKey = this.getNodeKey(index);
      console.log(this.data)
      this.$emit("on-mouseover", nodeKey);
    },
    /**
     * 移除选中效果
     */
    onMouseleave() {
      this.$emit("on-mouseleave");
    },
    /**
     * 删除当前及之后关联的指标
     */
    onClickDeleteBtn(index) {
      const nodeKey = this.getNodeKey(index);
      this.$emit("on-delete", nodeKey);
    },
    /**
     * 设置线颜色
     */
    setLineColor(currentColor, color, index){
      const nodeKey = this.getNodeKey(index);
      let colorVal = '';
      if(color === 'red'){
        colorVal = currentColor === 'red' ? '' : 'red';
      }else if(color === 'green'){
        colorVal = currentColor === 'green' ? '' : 'green';
      }
      this.$emit("on-color", {nodeKey, colorVal});
    },
  }
};
</script>

<style lang="less" scoped>
.node-info {
  white-space: nowrap;
  padding-right: 3px;
  position: relative;

  .body {
    background: #ffffff;
    border: 1px solid rgba(235, 235, 235, 1);
    box-shadow: 0 0 6px 0 rgba(217, 217, 217, 0.5);
    border-radius: 53px;
    display: inline-block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;

    .name {
      line-height: 40px;
      padding: 0 22px;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #3f73ff;
        position: absolute;
        left: -3px;
        z-index: 201;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .icon-close {
      position: absolute;
      right: -2px;
      top: -2px;
    }
  }

  .body.selected {
    border-width: 1px;
    border-color: #3f73ff;
  }
}

.node-info.parent > .body > .name {
  &:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #3f73ff;
    position: absolute;
    right: -3px;
    z-index: 201;
    top: 50%;
    transform: translateY(-50%);
  }
}

.node-children {
  width: auto;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;

  .node-info {
    margin-left: 136px;
  }

  .node-info:first-child {
    > .body:after {
      position: absolute;
      top: 20px;
      left: -136px;
      width: 136px;
      border-top: 1px solid #d9d9d9;
      content: "";
    }
    // > .body:hover:after {
    //   border-color: red;
    // }

    > .body:before {
      position: absolute;
      z-index: 200;
      top: -30px;
      left: -90px;
      width: 1px;
      height: 50px;
      background: #f5f5f5;
      content: "";
    }
  }
  .redColor.node-info:first-child{
    > .body:after {
      border-color: #FF4D4F;
    }
  }
  .greenColor.node-info:first-child{
    > .body:after {
      border-color: #6DD400;
    }
  }

  .node-info:first-child > .body > .select-switch {
    left: -96px;
    z-index: 300;
    top: 8px;
  }

  .node-info + .node-info {
    > .body:after {
      position: absolute;
      top: 10px;
      left: -90px;
      width: 88px;
      height: 10px;
      border-style: solid;
      border-color: #d9d9d9;
      border-width: 0 0 1px 1px;
      border-bottom-left-radius: 10px;
      content: "";
    }
    // > .body:hover:after {
    //   border-color: green;
    // }

    > .body:before {
      position: absolute;
      left: -90px;
      top: -1000px;
      bottom: 26px;
      border-left: 1px solid #d9d9d9;
      content: "";
    }
    // > .body:hover:before {
    //   z-index: 10;
    //   border-color: green;
    // }
  }
  .node-info + .node-info.redColor {
    > .body:after {
      border-color: #FF4D4F;
    }
    > .body:before {
      z-index: 10;
      border-color: #FF4D4F;
    }
  }
  .node-info + .node-info.greenColor {
    > .body:after {
      border-color: #6DD400;
    }
    > .body:before {
      border-color: #6DD400;
      z-index: 10;
    }
  }
  .select-switch{
    position: absolute;
    top: 5px;
    left: -68px;
    display: flex;
    font-size: 12px;
    z-index: 20;
    .plus{
      border-radius: 100px 0px 0px 100px;
      padding: 2px 7px;
      color: #fff;
      background: #D0D0D0;
    }
    .minus{
      border-radius: 0px 100px 100px 0px;
      padding: 2px 7px;
      color: #fff;
      background: #D0D0D0;
      margin-left: 1px;
    }
    .plus:hover{
      background: #FF4D4F;
    }
    .minus:hover{
      background: #6DD400;
    }
    .minusGreen{
      background: #6DD400;
    }
    .plusRed{
      background: #FF4D4F;
    }
  }
}
</style>
