<template>
  <div style="width: 100%; height: 100%">
    <div class="login" v-show="!isShow">
      <div class="login-con">
        <div class="login-con-sign" />
        <div class="login-con-form">
          <!-- <img src="@/assets/images/login/logo@1x.png" /> -->
          <img :src="require(`@/assets/images/login/${logo}.png`)" />
          <slot></slot>
        </div>
      </div>
      <div class="filingWrapper">
        <a class="filingNumber" href="http://beian.miit.gov.cn/" target="_blank"
          >苏ICP备19010645号</a
        >
      </div>
    </div>
    <Agreement v-show="isShow" @switch="switchFun" />
  </div>
</template>

<script>
import Agreement from "../agreement";

export default {
  name: "FrontLogin",
  components: {
    Agreement,
  },
  data() {
    return {
      isShow: false,
      logo: globalVariable.loginLogo,
    };
  },
  methods: {
    switchFun() {
      this.isShow = !this.isShow;
    },
  },
};
</script>

<style lang="less" scoped>
.login {
  width: 100%;
  height: 100%;
  position: relative;
  &-con {
    width: 1270px;
    height: 505px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
    &-sign {
      width: 850px;
      height: 100%;
      background-image: url(../../assets/images/login/logoicon.svg);
    }
    &-form {
      width: 420px;
      height: 100%;
      // background-image: url(../../assets/images/login/logo@1x.png);
      // background-repeat: no-repeat;
      // background-position: 58px 40px;
      background-color: white;
      padding: 40px 38px 0 38px;
      img {
        display: block;
        margin: 0 auto 20px;
      }
    }
  }
  .filingWrapper {
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: rgba(201, 210, 234, 0.8);
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    .filingNumber {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #7a8ab5;
      &:hover {
        color: #7a8ab5;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 1px,
        transparent 0,
        rgba(91, 143, 249, 0.1) 80px
      ),
      repeating-linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0) 1px,
        transparent 0,
        rgba(91, 143, 249, 0.1) 80px
      );
    background-color: rgba(91, 143, 249, 0.05);
    background-size: 16px 16px;
    background-position: 1px 1px;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(
        rgba(205, 218, 249, 0.6) 1px,
        transparent 0
      ),
      linear-gradient(90deg, rgba(205, 218, 249, 0.6) 1px, transparent 0);
    background-color: transparent;
    background-size: 160px 160px;
    background-position: -1px -1px;
    width: 100%;
    height: 100%;
  }
}

/deep/ .ivu-input {
  height: 40px;
  border: none;
  font-size: 16px;
}
/deep/ .ivu-input:focus {
  box-shadow: none;
}
/deep/ .ivu-input .ivu-input-default {
  border: solid 1px transparent;
}

/deep/ .ivu-input-group-prepend {
  border: none;
  background-color: transparent;
}

/deep/ .ivu-input-group-append {
  border: none;
  background-color: transparent;
}

/deep/ .ivu-input-wrapper {
  border-bottom: solid 1px #e8e8e8;
}

/deep/ .ivu-form-item-error .ivu-input {
  border: none;
  border-bottom: solid 0.5px red;
  border-radius: 0;
}

/deep/ .ivu-form-item-error .ivu-input-group-append,
/deep/ .ivu-form-item-error .ivu-input-group-prepend {
  border: none;
  border-bottom: solid 0.5px red;
  border-radius: 0;
}

/deep/ .ivu-form-item-error .ivu-input:focus {
  box-shadow: none;
}

/deep/ .ivu-input-group .ivu-input,
.ivu-input-group .ivu-input-inner-container {
  font-size: 16px;
}
</style>
