<template>
  <div class="canvas" id="canvasContainer">
    <FaTabChartEditWrapper
      ref="charts"
      v-for="item in chartDataList"
      :chartData="item"
      :_chartId="item.chartId"
      :key="item.chartId"
      :editable="true"
      :getRefLineParams="getRefLineParams"
      :scaleRatio="scaleRatio"
      :is-view-state="isViewState"
    />
    <span
      class="ref-line v-line"
      v-for="item in vLine"
      v-show="item.display"
      :style="{ left: item.position, top: item.origin, height: item.lineLength }"
    ></span>
    <span
      class="ref-line h-line"
      v-for="item in hLine"
      v-show="item.display"
      :style="{ top: item.position, left: item.origin, width: item.lineLength }"
    ></span>
  </div>
</template>

<script>
import FaTabChartEditWrapper from '@/view/report/chart/FaTab/FaTabChartEditWrapper'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'Canvas',
  components: {
    FaTabChartEditWrapper,
  },
  inject: ['recordSnapshot'],
  props: {
    chartDataList: Array,
    scaleRatio: { type: Number, default: 1 },
    isViewState: Boolean,
  },
  data() {
    return {
      vLine: [], // 插件的辅助线
      hLine: [], // 插件的辅助线
    }
  },
  computed: {
    ...mapGetters(['currentSelectChart']),
    reportPageMeasure: function () {
      return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.pageMeasure
    },
  },
  methods: {
    ...mapActions(['setCurrentSelectChart', 'setReportDate', 'setChartDeactivation', 'setChartList', 'setReportSetting']),
    // 辅助线回调事件
    getRefLineParams(params) {
      const { vLine, hLine } = params
      this.vLine = vLine
      this.hLine = hLine
    },
  },
}
</script>

<style scoped>
.canvas {
  width: 100%;
  min-height: 100%;
  position: relative;
}
</style>
