<template>
  <vue-draggable-resizable
    ref="vueDraggableResizable"
    :w="chartData.width"
    :h="chartData.height"
    :x="chartData.x"
    :y="chartData.y"
    :min-width="10"
    :min-height="10"
    :id="chartData.chartId"
    :class-name-active="!isViewState && editable ? 'activatedClass' : null"
    :draggable="!isViewState && editable"
    :resizable="!isViewState && editable"
    :snap="true"
    :snap-tolerance="20"
    :parent="true"
    :prevent-deactivation="chartDeactivation"
    :z="chartData.level"
    :active="currentSelectChart.chartId === chartData.chartId"
    :onResize="onResizeCallback"
    :onDragStart="onDragStartCallback"
    @dragstop="onDragStop"
    @resizestop="onResizeStop"
    @deactivated="onDeactivated"
    @activated="onActivated"
    @refLineParams="getParentRefLineParams"
    @mouseup.native="onMouseup"
    @mousedown.native="onMousedown"
    @click.native.stop
    class="fa-tab-chart-edit-wrapper"
    :style="{ background: faTabChartEditWrapperBackground, border: faTabChartEditWrapperBorder }"
  >
    <div
      v-if="chartStyle.showTitle"
      :style="{
        width: '100%',
        padding: '10px 0 10px 16px',
        textAlign: chartStyle.titlePosition,
        color: chartStyle.titleColor,
        fontSize: chartStyle.titleFontSize + 'px',
        backgroundColor: chartStyle.titleBackgroundColor,
        borderBottom: `${chartStyle.titleBorderWidth} ${chartStyle.titleBorderStyle} ${chartStyle.titleBorderColor}`,
        fontWeight: chartStyle.fontWeight,
        textDecoration: chartStyle.textDecoration,
        fontStyle: chartStyle.fontStyle,
        display: chartStyle.title ? 'inline-block' : 'none',
        fontFamily: chartStyle.titleFontFamily}">
      {{ chartStyle.title }}
    </div>
    <keep-alive>
      <component
        ref="chart"
        class="fa-tab-chart-item"
        :is="chartData.id"
        mode="out-in"
        :chartId="chartData.chartId"
        :chartData="chartData"
        :editable="editable"
        :propertyData="chartData.data"
        :propertyStyle="chartData.style"
        :startDate="chartData.startDate"
        :endDate="chartData.endDate"
        :scaleRatio='scaleRatio'
        :defaultShow="chartData.defaultShow"
        :isViewState="isViewState"
        @changeDefaultShow="changeDefaultShow"
      />
    </keep-alive>
    <div v-if="!this.isViewState" class="delete-btn" @click="onDeleteChart">X</div>
  </vue-draggable-resizable>
</template>

<script>
import SimpleBar from '@/view/report/chart/Bar'
import SimplePie from '@/view/report/chart/Pie'
import SimpleLine from '@/view/report/chart/Line' // 折线图
import SimpleIframe from '@/view/report/chart/Iframe'
import MixLineBar from '@/view/report/chart/LineBar'
import SimpleGauge from '@/view/report/chart/Gauge'
import Indicator from '@/view/report/chart/Indicator/index'
import ComplexTextarea from '@/view/report/chart/textarea/ComplexTextarea'
import DoublePie from '@/view/report/chart/DoublePie'
import SimpleMap from '@/view/report/chart/Map'
import SimpleBubble from '@/view/report/chart/Bubble'
import SimpleScatter from '@/view/report/chart/Scatter'
import IndexBoard from '@/view/report/chart/IndexBoard'
import MultiplePie from '@/view/report/chart/MultiplePie'
import CustomTable from '@/view/report/chart/customTableTest'
import FaTab from '@/view/report/chart/FaTab'
import DimensionFilter from '@/view/report/chart/DimensionFilter'
import IndicatorFilter from '@/view/report/chart/IndicatorFilter'
import MixFilter from '@/view/report/chart/MixFilter'
import CustomImage from '@/view/report/chart/CustomImage'
import BasicRadar from '@/view/report/chart/Radar.vue'
import ChartTitle from '@/components/charts/title.vue'
// 定制化组件
import TextDemo from '@/components/customCharts/TextDemo'
import BarDemo from '@/components/customCharts/BarDemo'
import DimensionFilterSetting from '@/view/components/report-filter/DimensionFilterSetting.vue'
import IndicatorFilterSetting from '@/view/components/report-filter/IndicatorFilterSetting.vue'
import { mapActions, mapGetters } from 'vuex'
import { CANVAS_COLOR_CONFIG } from '@/config/ReportConstants'
import _ from 'lodash'
// import vueDraggableResizable from '@/components/vue-draggable-resizable/vue-draggable-resizable.vue'

export default {
  name: 'ChartEditWrapper',
  components: {
    SimpleBar,
    SimplePie,
    SimpleLine, // 折线图
    SimpleIframe,
    MixLineBar,
    SimpleGauge,
    Indicator,
    ComplexTextarea,
    DoublePie,
    CustomTable,
    ChartTitle,
    DimensionFilterSetting,
    IndicatorFilterSetting,
    SimpleMap,
    SimpleBubble,
    SimpleScatter,
    IndexBoard,
    MultiplePie,
    FaTab,
    DimensionFilter,
    IndicatorFilter,
    MixFilter,
    TextDemo,
    BarDemo,
    CustomImage,
    BasicRadar,
    // vueDraggableResizable,
  },
  inject: ['recordSnapshot', 'faTabChartId'],
  props: {
    activeChart: Object,
    chartData: Object,
    editable: { type: Boolean, default: true },
    _chartId: String,
    getRefLineParams: Function,
    scaleRatio: { type: Number, default: 1 },
    showRemoveIcon: { type: Boolean, default: true },
    isViewState: Boolean,
  },
  data() {
    return {}
  },
  computed: {
    ...mapGetters(['currentSelectChart', 'currentChartList', 'reportThemeStyle']),
    chartDeactivation: function () {
      return this.$store.state.chart?.deactivation
    },
    currentReportTheme() {
      return this.$store.state.chart.reportSetting?.themeStyle === '2' ? 'black' : 'default'
    },
    componentBackground: function () {
      return CANVAS_COLOR_CONFIG[this.currentReportTheme].componentBackground
    },
    defaultShowComponentBackground: function () {
      return CANVAS_COLOR_CONFIG[this.currentReportTheme].defaultShowComponentBackground
    },
    faTabChartEditWrapperBackground() {
      if (this.chartData.style.transparent) {
        return 'transparent'
      } else if (this.chartData.defaultShow && this.chartData.id !== 'FaTab') {
        return this.defaultShowComponentBackground
      } else {
        return this.componentBackground
      }
    },
    faTabChartEditWrapperBorder() {
      console.log(this.chartData.id, this.chartData.isActive, 'faTabChartEditWrapperBorder')
      if (this.chartData.id !== 'ComplexTextarea' && !this.chartData.isActive && !this.isViewState) {
        return '1px dashed rgba(63,115,255,0.50)'
      } else {
        return ''
      }
    },
    // 图表样式
    chartStyle() {
      return Object.assign(
        {
          title: '',
          showTitle: true,
          titlePosition: 'left',
          titleColor: this.reportThemeStyle === '1' ? 'rgba(0,0,0,0.85) ' : 'rgba(255,255,255,0.85)',
          titleFontSize: 16,
          titleBackgroundColor: 'transparent',
          titleBorder: '',
          titleFontFamily: 'aliPuHui Regular',
        },
        this.chartData.style,
      )
    },
  },
  watch: {
    'chartData.style': {
      handler(newVal) {
        this.chartData.height = newVal.height
        this.chartData.width = newVal.width
      },
      deep: true,
    },
  },
  mounted() {
    this.imageScale = null
    this.outOfRange = true // tab组件内的组件，是否超出tab组件范围，超出则移出tab组件
    this.offsetX = null
    this.offsetY = null
    this.switchChartType = this.chartData.id
    this.$set(this.chartData, 'isActive', false)
    document.addEventListener('keydown', this.onKeydown)
  },
  beforeDestroy() {
    this.chartCopy = {}
    document.removeEventListener('keydown', this.onKeydown)
  },
  methods: {
    ...mapActions(['setCurrentSelectChart', 'setChartList', 'setActionsCopyChart']),
    onKeydown(e) {
      if (this.chartData.chartId !== this.currentSelectChart.chartId) return
      let { x, y } = this.chartData
      let diff = 2
      switch (e.keyCode) {
        case 37:
          this.chartData.x = x - diff
          break
        case 38:
          this.chartData.y = y - diff
          break
        case 39:
          this.chartData.x = x + diff
          break
        case 40:
          this.chartData.y = y + diff
          break
        default:
          break
      }
      this.recordSnapshot()
    },
    onResizeCallback: _.debounce(function (handle, x, y, width, height) {
      const isCustomImage = this.chartData.id === 'CustomImage'
      const isCornerHandle = handle.indexOf('l') > -1 || handle.indexOf('r') > -1
      if (!isCustomImage || !isCornerHandle) return
      let newWidth = width, newHeight = height, newX, newY
      // 按照图片较大的一边为准，另外一边按照比例缩放
      if (width > height) {
        newHeight = Math.ceil(width / this.imageScale)
      } else {
        newWidth = Math.ceil(height * this.imageScale)
      }
      // 根据拖拽点的位置 改变x y
      let { left, top } = this.chartData
      if (handle === 'tl') {
        newX = x + width - newWidth
        newY = y + height - newHeight
      } else if (handle === 'bl') {
        newX = x + width - newWidth
        newY = top
      } else if (handle === 'tr') {
        newX = left
        newY = y + height - newHeight
      } else if (handle === 'br') {
        newX = left
        newY = top
      }
      // 计算后的x y坐标 宽高改变图片组件
      this.chartData.left = newX
      this.chartData.top = newY
      this.chartData.width = newWidth
      this.chartData.height = newHeight
      this.recordSnapshot()
    }, 300),
    onDragStartCallback(e) {
      e.stopPropagation()
      // 每次拉伸开始时，记录下CustomImage组件的高宽比
      if (this.chartData.id === 'CustomImage') {
        let { width, height } = this.chartData
        this.imageScale = width / height
        this.recordSnapshot()
      }
    },
    onDragStop(x, y) {
      setTimeout(() => { // 让dragStop事件在mouseup事件后执行
        if (this.chartData.x === x && this.chartData.y === y) return
        this.chartData.x = x
        this.chartData.y = y
        if (this.outOfRange) {
          this.$bus.$emit('remove-tab-pane-chart', {
            faTabChartId: this.faTabChartId,
            chart: this.chartData,
            offsetX: this.offsetX,
            offsetY: this.offsetY,
          })
        }
        this.outOfRange = true
        this.offsetX = null
        this.offsetY = null
        this.recordSnapshot()
      }, 0)
    },
    onResizeStop(x, y, width, height) {
      this.chartData.x = x
      this.chartData.y = y
      this.chartData.width = width
      this.chartData.height = height
      this.chartData.style.width = width
      this.chartData.style.height = height
      if (this.$refs.chart.resize) {
        this.$refs.chart.resize()
      }
      this.recordSnapshot()
    },
    onActivated() {
      if (this.isViewState || (this.chartData.chartId === this.currentSelectChart.chartId)) return
      this.$set(this.chartData, 'isActive', true)
      this.setCurrentSelectChart({ chart: this.chartData })
    },
    onDeactivated() {
      if (this.isViewState || !this.currentSelectChart.chartId) return
      this.$set(this.chartData, 'isActive', false)
      this.setCurrentSelectChart({ chart: null })
      if (!this.chartData.inEditStatues) {
        this.dispatchMsg()
      }
    },
    dispatchMsg(...params) {
      if (!this.$refs.chart) return
      if (params.length <= 0) {
        if (this.$refs.chart.setDefaultShow) {
          this.$refs.chart.setDefaultShow()
          this.$refs.chart.setCanEdit(false)
        }
      } else if (params.includes('styleSetting') || params.includes('openFontColorPicker')) {
        if (this.$refs.chart && this.$refs.chart.showSelectRange) {
          this.$refs.chart.showSelectRange()
        }
      }
    },
    getParentRefLineParams(params) {
      this.getRefLineParams(params)
    },
    onMouseup() {
      // 鼠标还在tab组件内时，才会触发mouseup事件，通过是否触发该事件，判断鼠标是否移出tab组件，如果移出，则将当前正在拖拽的组件移出tab组件
      this.outOfRange = false
    },
    onMousedown(e) {
      let rect = document.getElementById(this.chartData.chartId).getBoundingClientRect()
      this.offsetX = Math.ceil(e.x - rect.x) > 0 ? Math.ceil(e.x - rect.x) : 0
      this.offsetY = Math.ceil(e.y - rect.y) > 0 ? Math.ceil(e.y - rect.y) : 0
    },
    changeDefaultShow(param) {
      this.chartData.defaultShow = param
    },
    onDeleteChart(e) {
      e.stopPropagation()
      this.$bus.$emit('delete-tab-pane-chart', {
        faTabChartId: this.faTabChartId,
        chart: this.chartData,
      })
    },
  },
}
</script>

<style lang="less" scoped>
.fa-tab-chart-edit-wrapper {
  text-align: left;
  min-height: 10px;

  .fa-tab-chart-item {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &:hover .delete-btn {
    display: block;
  }
}

.delete-btn {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid #dcdee2;
  line-height: 22px;
  text-align: center;
  background: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: none;
}
</style>
