<template>
  <div
    :id="chartData.chartId"
    :class="['fa-tab', styleConfig.labelPosition]"
    @mouseover="onMouseover"
  >
    <div
      :class="['tab-list', styleConfig.labelType, styleConfig.labelPosition]"
    >
      <Icon
        v-if="showTabArrow"
        :type="labelListLeftOrRight ? 'ios-arrow-up' : 'ios-arrow-back'"
        size="16"
        color="#a2a2a2"
        @click="toPrev"
        class="arrow-icon"
      />
      <div class="tab-list-wrapper">
        <div class="tab-list-item-wrapper">
          <div
            v-for="(item, index) in tabList"
            :key="item.labelName"
            draggable
            @mousedown.stop
            @dragstart.stop="onDragStart($event, index)"
            @dragover.prevent
            @drop.prevent="onDrop($event, index)"
            @click="onSelectTab(index)"
            :class="[
              'tab-list-item',
              { active: index === chartData.currentTab },
            ]"
            :style="{
              backgroundColor:
                styleConfig.labelType !== 'block'
                  ? ''
                  : index === chartData.currentTab
                  ? styleConfig.labelBgColorActive
                  : styleConfig.labelBackgroundColor,
              borderBottomColor:
                styleConfig.labelType !== 'underline'
                  ? ''
                  : index === chartData.currentTab
                  ? styleConfig.labelBgColorActive
                  : styleConfig.labelBackgroundColor,
              borderRadius: styleConfig.labelType === 'block' ? '2px' : '',
            }"
          >
            <Input
              v-model="item.labelName"
              v-if="item.edit"
              placeholder="请输入页签标题"
              class="tab-title-input"
              @on-blur="onInputBlur(index, item)"
              @click.native.stop
            />
            <span
              v-else
              class="tab-list-item-label"
              :title="item.labelName"
              :style="{
                fontFamily: styleConfig.fontFamily,
                fontSize: styleConfig.fontSize + 'px',
                fontWeight: styleConfig.label_fontWeight,
                fontStyle: styleConfig.label_fontStyle,
                textDecoration: styleConfig.label_textDecoration,
                color:
                  index === chartData.currentTab &&
                  styleConfig.labelType === 'block'
                    ? styleConfig.labelColorBlockActive
                    : index === chartData.currentTab
                    ? styleConfig.labelColorActive
                    : styleConfig.labelColor,
              }"
              >{{ item.labelName }}</span
            >
            <Dropdown
              v-if="!isViewState"
              transfer
              transfer-class-name="fa-tab-item-tooltip"
            >
              <Icon
                type="md-more"
                :size="styleConfig.fontSize"
                class="icon-more"
              />
              <DropdownMenu slot="list">
                <DropdownItem @click.native="onModifyTabTitle(index)"
                  >页签标题修改</DropdownItem
                >
                <DropdownItem @click.native="onMoveTabToFront(index)"
                  >移动至最前</DropdownItem
                >
                <DropdownItem @click.native="onMoveTabToEnd(index)"
                  >移动至最后</DropdownItem
                >
                <DropdownItem @click.native="onAddTabPaneOnTheRight(index)"
                  >在右侧新增标签</DropdownItem
                >
                <DropdownItem @click.native="onSeparate(index)"
                  >分离</DropdownItem
                >
                <DropdownItem @click.native="onDeleteTab(index)"
                  >删除</DropdownItem
                >
              </DropdownMenu>
            </Dropdown>
          </div>
        </div>
      </div>
      <Icon
        v-if="showTabArrow"
        :type="labelListLeftOrRight ? 'ios-arrow-down' : 'ios-arrow-forward'"
        size="16"
        color="#a2a2a2"
        @click="toNext"
        class="arrow-icon"
      />
      <Icon
        v-if="!isViewState"
        type="md-add"
        size="16"
        @click="onAddTabPane"
        class="add-tab-pane-icon"
      />
    </div>
    <div class="tab-body">
      <div class="chart-list">
        <Canvas
          v-show="currentTabChartList.length"
          :chart-data-list="currentTabChartList"
          :is-view-state="isViewState"
        />
        <div
          v-show="!currentTabChartList.length"
          class="chart-list-placeholder"
        >
          <img
            src="@/assets/images/report/fa-tab/chart_list_placeholder.svg"
            alt="图表列表占位图"
          />
          <p>将其他组件拖拽此处即可添加Tab页签内容</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Canvas from "@/view/report/chart/FaTab/Canvas";
import { mapActions, mapGetters } from "vuex";
import { deepCopy } from "@/utils/common";
import _ from "lodash";

export default {
  name: "FaTab",
  components: {
    Canvas,
  },
  provide() {
    return {
      faTabChartId: this.chartData.chartId,
    };
  },
  inject: ["recordSnapshot"],
  props: {
    propertyData: Object,
    chartData: Object,
    isActive: Boolean,
    editable: Boolean,
    imgHeight: [String, Number],
    switchChartType: [String, Number],
    scaleRatio: Number,
    chartBoundingClientRect: Object,
    isViewState: Boolean,
  },
  data() {
    return {
      tabList: [],
      showTabArrow: false,
    };
  },
  computed: {
    ...mapGetters(["currentSelectChart", "currentChartList"]),
    styleConfig() {
      return this.chartData?.style || {};
    },
    labelListLeftOrRight() {
      return (
        this.styleConfig.labelPosition?.startsWith("left") ||
        this.styleConfig.labelPosition?.startsWith("right")
      );
    },
    currentTabChartList() {
      return this.tabList[this.chartData.currentTab]?.paneData || [];
    },
  },
  watch: {
    labelListLeftOrRight() {
      let ele = document.querySelector(".tab-list-item-wrapper");
      ele.style.transition = "none";
      ele.style.left = 0;
      ele.style.top = 0;
      this.$nextTick(() => {
        ele.style.transition = "all 0.3s ease-in-out";
      });
      this.refreshTabListArrow();
    },
    "tabList.length"() {
      this.refreshTabListArrow();
    },
    "styleConfig.labelPosition"() {
      this.tabPaneScrollIndex = 1;
    },
    "chartData.width"() {
      this.refreshTabListArrow();
    },
    "chartData.height"() {
      this.refreshTabListArrow();
    },
    "chartData.childrenChartViewList": {
      handler(newVal) {
        this.tabList = newVal;
      },
      deep: true,
    },
  },
  mounted() {
    this.dragIndex = null;
    this.chartData.childrenChartViewList.forEach((item) => (item.edit = false));
    this.tabList = this.chartData.childrenChartViewList;
    this.tabPaneScrollIndex = 1; // 当前tabPane滚动到第几个
    if (!this.tabList.length) {
      this.tabList.push({
        labelName: "页签名称1",
        idIndex: 1, // 用于详情接口获取数据后，对tab进行排序，因为后台插入数组的数据是同时的，顺序会乱
        paneData: [],
        edit: false,
      });
    }
    this.refreshTabListArrow();
  },
  methods: {
    ...mapActions(["setChartList", "setChartDeactivation"]),
    onMouseover: _.debounce(function (e) {
      this.setChartDeactivation(false); // 不阻止图表的失活事件
    }, 100),
    onAddTabPane() {
      this.tabList.push({
        labelName: `页签名称${this.tabList.length + 1}`,
        idIndex: this.tabList.length + 1,
        paneData: [],
        edit: false,
      });
      this.recordSnapshot();
    },
    onModifyTabTitle(index) {
      this.tabList[index].edit = true;
      this.recordSnapshot();
    },
    onMoveTabToFront(index) {
      let current = deepCopy(this.tabList[index]);
      this.tabList.splice(index, 1);
      this.tabList.unshift(current);
      this.tabList.forEach((item, index) => (item.idIndex = index + 1));
      this.recordSnapshot();
    },
    onMoveTabToEnd(index) {
      let current = deepCopy(this.tabList[index]);
      this.tabList.splice(index, 1);
      this.tabList.push(current);
      this.tabList.forEach((item, index) => (item.idIndex = index + 1));
      this.recordSnapshot();
    },
    onAddTabPaneOnTheRight(index) {
      this.tabList.splice(index + 1, 0, {
        labelName: `页签名称${this.tabList.length + 1}`,
        idIndex: this.tabList.length + 1,
        paneData: [],
        edit: false,
      });
      this.recordSnapshot();
    },
    onSeparate(index) {
      this.$bus.$emit("clear-tab-pane-chart", {
        faTabChartId: this.chartData.chartId,
        tabPaneIndex: index,
      });
      this.recordSnapshot();
    },
    onDeleteTab(index) {
      this.tabList.splice(index, 1);
      this.recordSnapshot();
    },
    onSelectTab(index) {
      if (this.chartData.currentTab === index) return;
      this.chartData.currentTab = index;
      !this.isViewState && this.recordSnapshot();
    },
    onInputBlur(index) {
      this.tabList[index].edit = false;
      this.recordSnapshot();
    },
    // 根据tabList的方向，刷新箭头是否展示
    refreshTabListArrow() {
      let outer = document.querySelector(
        `#${this.chartData.chartId} .tab-list-wrapper`
      );
      let inner = document.querySelector(
        `#${this.chartData.chartId} .tab-list-item-wrapper`
      );
      if (this.labelListLeftOrRight) {
        this.$nextTick(() => {
          let tabViewport = outer.offsetHeight;
          let tabListHeight = inner.offsetHeight;
          this.showTabArrow = tabViewport < tabListHeight;
        });
      } else {
        this.$nextTick(() => {
          let tabViewport = outer.offsetWidth;
          let tabListWidth = inner.offsetWidth;
          this.showTabArrow = tabViewport < tabListWidth;
        });
      }
    },
    toPrev() {
      let inner = document.querySelector(
        `#${this.chartData.chartId} .tab-list-item-wrapper`
      );
      let tabPane = document.querySelector(
        `#${
          this.chartData.chartId
        } .tab-list-item-wrapper .tab-list-item:nth-child(${
          this.tabPaneScrollIndex - 1
        })`
      );
      if (this.labelListLeftOrRight) {
        if (!Number(inner.style.top.split("p")[0])) return;
        let distance = tabPane.offsetHeight;
        inner.style.top = inner.style.top.split("p")[0]
          ? Number(inner.style.top.split("p")[0]) + distance + "px"
          : `${distance}px`;
      } else {
        if (!Number(inner.style.left.split("p")[0])) return;
        let distance = tabPane.offsetWidth;
        // 由于获取到的left是带有单位的，不能直接运算，所以要想办法得到数值再组合单位进行赋值
        // 使用三目运算符的目的是最开始的时候得到元素的left是undefined，是不能直接进行运算的
        inner.style.left = inner.style.left.split("p")[0]
          ? Number(inner.style.left.split("p")[0]) + distance + "px"
          : `${distance}px`;
      }
      this.tabPaneScrollIndex--;
    },
    toNext() {
      let outer = document.querySelector(
        `#${this.chartData.chartId} .tab-list-wrapper`
      );
      let inner = document.querySelector(
        `#${this.chartData.chartId} .tab-list-item-wrapper`
      );
      let tabPane = document.querySelector(
        `#${this.chartData.chartId} .tab-list-item-wrapper .tab-list-item:nth-child(${this.tabPaneScrollIndex})`
      );
      if (this.labelListLeftOrRight) {
        let distance = tabPane.offsetHeight;
        let styleTop = Number(inner.style.top.split("p")[0]);
        if (Math.abs(styleTop) + outer.offsetHeight > inner.offsetHeight)
          return;
        inner.style.top = inner.style.top.split("p")[0]
          ? inner.style.top.split("p")[0] - distance + "px"
          : `-${distance}px`;
      } else {
        let distance = tabPane.offsetWidth;
        let styleLeft = Number(inner.style.left.split("p")[0]);
        if (Math.abs(styleLeft) + outer.offsetWidth > inner.offsetWidth) return;
        // 解释同上
        inner.style.left = inner.style.left.split("p")[0]
          ? inner.style.left.split("p")[0] - distance + "px"
          : `-${distance}px`;
      }
      this.tabPaneScrollIndex++;
    },
    // 调整标签顺序，拖拽开始
    onDragStart(e, index) {
      this.dragIndex = index;
    },
    // 调整标签顺序，拖拽结束
    onDrop(e, dropIndex) {
      let current = this.tabList[this.dragIndex];
      let target = this.tabList[dropIndex];
      this.tabList.splice(this.dragIndex, 1, target);
      this.tabList.splice(dropIndex, 1, current);
      this.tabList.forEach((item, index) => (item.idIndex = index + 1));
      this.recordSnapshot();
    },
  },
};
</script>

<style scoped lang="less">
.fa-tab {
  height: inherit;

  .tab-body {
    height: calc(~"100% - 38px");

    .chart-list {
      width: 100%;
      height: 100%;
    }

    .chart-list-placeholder {
      width: calc(~"100% - 32px");
      height: calc(~"100% - 32px");
      background: rgba(63, 115, 255, 0.05);
      border: 1px dashed rgba(63, 115, 255, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 16px;

      > p {
        color: #3f73ff;
        margin-top: 10px;
      }
    }
  }
}

.fa-tab.bottom-left,
.fa-tab.bottom-center,
.fa-tab.bottom-right {
  display: flex;
  flex-direction: column-reverse;
}

.fa-tab.left-top,
.fa-tab.left-middle,
.fa-tab.left-bottom,
.fa-tab.right-top,
.fa-tab.right-middle,
.fa-tab.right-bottom {
  display: flex;

  .tab-body {
    width: calc(~"100% - 118px");
    height: 100%;

    .chart-list {
      width: 100%;
      height: 100%;
    }
  }
}

.fa-tab.right-top,
.fa-tab.right-middle,
.fa-tab.right-bottom {
  flex-direction: row-reverse;
}

.tab-list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding: 0 16px;
}

.tab-list-wrapper {
  max-width: calc(~"100% - 53px");
  overflow: hidden;
  white-space: nowrap;
}

.tab-list-item-wrapper {
  position: relative;
  left: 0;
  top: 0;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.tab-list-item {
  display: inline-flex;
  padding: 4px 4px 4px 8px;
  border: 1px solid transparent;
  line-height: 1;

  .tab-list-item-label {
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    line-height: 2;
  }

  &.active {
    color: #57a3f3;

    // .tab-list-item-label {
    //   color: #57a3f3 !important;
    // }
  }
}

.tab-list.underline .tab-list-item.active {
  border-bottom: 1px solid #57a3f3;
}

.tab-list.block .tab-list-item.active {
  background: #fff;
}

.tab-list.top-center,
.tab-list.bottom-center {
  justify-content: center;
}

.tab-list.top-right,
.tab-list.bottom-right {
  justify-content: flex-end;
}

.tab-list.left-top,
.tab-list.left-middle,
.tab-list.left-bottom,
.tab-list.right-top,
.tab-list.right-middle,
.tab-list.right-bottom {
  border-bottom-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 16px 0;

  .tab-list-wrapper {
    max-width: unset;
  }

  .tab-list-item-wrapper {
    display: flex;
    flex-direction: column;
  }

  .tab-list-item {
    padding: 8px 20px 8px 24px;
  }

  .ivu-icon-ios-arrow-up {
    margin-bottom: 8px;
  }

  .ivu-icon-ios-arrow-down {
    margin-top: 8px;
  }
}

.tab-list.bottom-left,
.tab-list.bottom-center,
.tab-list.bottom-right {
  border-top: 1px solid #eaeaea;

  &.underline .tab-list-item.active {
    border-top: 1px solid #57a3f3;
    border-bottom-color: transparent;
  }
}

.tab-list.left-top,
.tab-list.left-middle,
.tab-list.left-bottom {
  border-right: 1px solid #eaeaea;

  &.underline .tab-list-item.active {
    border-right: 1px solid #57a3f3;
    border-bottom-color: transparent;
  }
}

.tab-list.right-top,
.tab-list.right-middle,
.tab-list.right-bottom {
  border-left: 1px solid #eaeaea;

  &.underline .tab-list-item.active {
    border-left: 1px solid #57a3f3;
    border-bottom-color: transparent;
  }
}

.tab-list.left-middle,
.tab-list.right-middle {
  justify-content: center;
}

.tab-list.left-bottom,
.tab-list.right-bottom {
  justify-content: flex-end;
}

.add-tab-pane-icon {
  margin-left: 3px;
  cursor: pointer;
}

.arrow-icon {
  cursor: pointer;
}

.placeholder {
  background: rgba(63, 115, 255, 0.05);
  border: 1px dashed rgba(63, 115, 255, 0.5);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > img {
    width: 100px;
  }

  > span {
    margin-top: 10px;
    color: #3f73ff;
  }
}

.tab-title-input {
  width: 80px;

  /deep/ .ivu-input {
    height: 20px;
    line-height: 20px;
  }
}

.fa-tab-item-tooltip .ivu-dropdown-item {
  padding: 10px 16px;

  &:hover {
    background: unset;
    color: #3f73ff;
  }
}
</style>
