<template>
  <div class="resource-backup-page">
    <div style="width: 100%; height: 100%; overflow: auto; border-left: 1px solid #ececec; padding: 24px; border-radius: 2px; background-color: #fff">
      <div class="boxTitle" style="margin-bottom: 24px">资源备份</div>
      <div class="content-all">
        <div class="top-btn">
          <Button type="primary" @click="handleManualBackup">
            <img src="@/assets/images/system/manualBackup.svg" />
            手动备份
          </Button>
          <Button type="primary" @click="handleAutoBackup">
            <img src="@/assets/images/system/autoBackup.svg" />
            自动备份
          </Button>
        </div>
        <Table :columns="backupColumns" :data="backupData"></Table>
        <BackupModal :modalType="modalType" :showModal="isBackupVisible" @closeModal="handleClose" />
      </div>
    </div>
  </div>
</template>

<script>
import { getBackupList, downLoadBackup, revertBackup, deleteBackup } from "@/api/resourceBackup";
import BackupModal from "./components/BackupModal.vue";
import { getToken } from "@/libs/util";
import config from "@/config";
export default {
  name: "ResourceBackup",
  components: {
    BackupModal,
  },
  data() {
    return {
      backupColumns: [
        {
          title: "资源名称",
          key: "backupName",
        },
        {
          title: "大小",
          key: "total",
        },
        {
          title: "创建人",
          key: "creator",
        },
        {
          title: "备份时间",
          key: "createTime",
        },
        {
          title: "状态",
          key: "status",
          render: (h, params) => {
            return h("div", [
              params.row.status === 1
                ? h(
                    "div",
                    {
                      style: {
                        width: "56px",
                        textAlign: "center",
                        color: "#389E0D",
                        background: "#F6FFED",
                        border: "1px solid rgba(183,235,143,1)",
                        borderRadius: "2px",
                        fontSize: "12px",
                      },
                    },
                    "成功"
                  )
                : params.row.status === 2
                ? h(
                    "div",
                    {
                      style: {
                        width: "56px",
                        textAlign: "center",
                        color: "#F7B500",
                        background: "#FFFEED",
                        border: "1px solid #F7B500",
                        borderRadius: "2px",
                        fontSize: "12px",
                      },
                    },
                    "备份中"
                  )
                : h(
                    "div",
                    {
                      style: {
                        width: "56px",
                        textAlign: "center",
                        color: "#F5222D",
                        background: "#FFF1F0",
                        border: "1px solid rgba(255,163,158,1)",
                        borderRadius: "2px",
                        fontSize: "12px",
                      },
                    },
                    "失败"
                  ),
            ]);
          },
        },
        {
          title: "操作",
          key: "action",
          width: 220,
          align: "center",
          render: (h, params) => {
            return h("div", [
              params.row.status === 1
                ? h(
                    "span",
                    {
                      props: {
                        type: "text",
                      },
                      style: {
                        color: "#3F73FF",
                        cursor: "pointer",
                        marginRight: "24px",
                      },
                      on: {
                        click: () => {
                          this.downLoad(params.row);
                        },
                      },
                    },
                    "下载"
                  )
                : "",
              params.row.status === 1
                ? h(
                    "span",
                    {
                      props: {
                        type: "text",
                      },
                      style: {
                        color: "#3F73FF",
                        cursor: "pointer",
                        marginRight: "24px",
                      },
                      on: {
                        click: () => {
                          this.revert(params.row);
                        },
                      },
                    },
                    "还原"
                  )
                : "",
              h(
                "span",
                {
                  props: {
                    type: "text",
                  },
                  style: {
                    color: "#3F73FF",
                    cursor: "pointer",
                  },
                  on: {
                    click: () => {
                      this.delete(params.row);
                    },
                  },
                },
                "删除"
              ),
            ]);
          },
        },
      ],
      backupData: [],
      modalType: "",
      isBackupVisible: false,
    };
  },
  computed: {
    userName() {
      return this.$store.state.user.userName;
    },
  },
  created() {},
  mounted() {
    this.queryBackupList();
  },
  methods: {
    handleManualBackup() {
      this.modalType = "manual";
      this.isBackupVisible = true;
    },
    handleAutoBackup() {
      this.modalType = "auto";
      this.isBackupVisible = true;
    },
    handleClose(data) {
      this.isBackupVisible = false;
      if (data) {
        this.queryBackupList();
      }
    },
    async queryBackupList() {
      let res = await getBackupList();
      if (res.data && res.data.state === "success") {
        const resData = res.data.data;
        this.backupData = resData.map((item) => {
          return {
            ...item,
            total: item.total ? this.formatBytes(item.total) : "--",
          };
        });
        // console.log(this.backupData);
      }
    },
    formatBytes(bytes, decimals = 2) {
      if (bytes === 0) return "0 Bytes";
      const k = 1024;
      const dm = decimals < 0 ? 0 : decimals;
      const sizes = ["Bytes", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB"];
      const i = Math.floor(Math.log(bytes) / Math.log(k));
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + " " + sizes[i];
    },
    async downLoad(item) {
      const baseUrl = process.env.NODE_ENV === "development" ? config.baseUrl.dev : config.baseUrl.pro;
      let token = getToken();
      window.open(`${baseUrl}/data/backup/download?backupId=${item.id}&fi_token=${token}`);
      // this.$Message.info({
      //   content: '正在下载中，请稍候！',
      //   duration: 8
      // })
      // let res = await downLoadBackup(item.id);
      // if(res){
      //   const blob = new Blob([res.data], {type: 'application/zip'});
      //   //创建标签
      //   const link = document.createElement("a");
      //   link.style.display = "none";
      //   //设置标签href属性为文件路径
      //   const href = URL.createObjectURL(blob);
      //   link.href = href;
      //   //设置下载文件名
      //   link.download = 'cross_bak.zip'
      //   document.body.appendChild(link);
      //   //点击触发下载
      //   link.click();
      //   //移除标签
      //   document.body.removeChild(link);
      //   // 释放掉blob对象
      //   window.URL.revokeObjectURL(href);
      // }else{
      //   this.$Message.error(res.data.message);
      // }
    },
    async revert(item) {
      this.$Modal.confirm({
        title: "确认还原？",
        content: "还原备份后将覆盖现有系统资源，且还原过程中无法操作系统。确认还原吗？",
        onOk: () => {
          revertBackup(item.id);
        },
      });
    },
    async delete(item) {
      this.$Modal.confirm({
        title: "确认删除？",
        content: "删除后将无法撤回。确认删除吗？",
        onOk: async () => {
          let res = await deleteBackup(item.id);
          if (res.data && res.data.state === "success") {
            this.queryBackupList();
          } else {
            this.$Message.error(res.data.message);
          }
        },
      });
    },
  },
  watch: {},
};
</script>

<style lang="less" scoped>
.resource-backup-page {
  height: 100%;
  display: flex;
  .content-all {
    .top-btn {
      text-align: right;
      margin-bottom: 8px;
      button {
        margin-left: 16px;
        img {
          vertical-align: middle;
        }
      }
    }
  }
}
</style>
