.el-dialog {
  border-radius: 4px;
}

.el-dialog__header {
  border-bottom: 1px solid rgb(235, 236, 236);
  padding: 12px 0px 12px 24px !important;

  .el-dialog__headerbtn {
    color: #000;
    top: 12px;
    right: 18px;
    font-size: 18px;
  }
}

.el-dialog__body {
  padding: 16px 24px !important;
}

.el-dialog__title {
  font-size: 14px !important;
  font-weight: 600;
}

.el-dialog__footer {
  padding: 12px 24px !important;
}
