.el-form {
  .el-form-item {
    margin-bottom: 16px;
  }
}

.el-form-item__label {
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.65) !important;
}

.el-button--primary:focus {
  background-color: #3F73FF;
}

.el-button--primary:hover {
  background-color: #1E59F7;
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:hover {
  background: #DEDEDE;
  color: #B2B2B2 !important;
  border: none;
}

.el-input--small .el-input__inner {
  font-size: 12px;
}

.el-select-dropdown__item {
  font-size: 12px;
}