@import url('./dialog.scss');
@import url('./tooltip.scss');
@import url('./form.scss');
@import url('./messageBox.scss');

.el-scrollbar {
  .el-select-dropdown__wrap {
    .el-select-dropdown__item.selected {
      font-weight: 400;
      background-color: #F5F7FA;
    }
  }

}

.el-cascader-panel,
.el-cascader__suggestion-list {
  font-size: 12px;
}

.el-button + .el-button {
  margin-left: 16px;
}

.el-table {

  .el-table__header {
    thead th {
      background: #f5f8ff;

      .cell {
        font-family: PingFangSC-Medium;
        font-size: 12px;
        color: rgba(0,0,0,0.85);
        letter-spacing: 0;
        font-weight: bold;
      }
    }
  }

  td.operation {
    .cell {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
}

.el-tabs {
  background: #ffffff;
}

.el-textarea {
  font-size: 12px;
}


