$blueColor: #3F73FF;
$whiteColor: #ffffff;

.el-message-box {
  margin-bottom: 20vh;
  width: 352px;

  .el-message-box__header {
    border-bottom: 1px solid #ebecec;
    font-size: 14px;
    color: #333333;
    padding: 15px;

    .el-message-box__title {
      font-size: 14px;
      font-weight: bold;
    }

    .el-message-box__headerbtn {
      top: 12px;
    }
  }

  .el-message-box__content {
    font-size: 12px;
  }

  .el-message-box__status {
    font-size: 18px !important;
  }

  .el-message-box__status+.el-message-box__message {
    padding-left: 26px;
  }

  .el-message-box__btns {
    .el-button {
      width: 76px;
      height: 32px;
      font-size: 14px;
      border-radius: 4px;
      
      &.el-button--default {
        background-color: $whiteColor;
        color: $blueColor;
        border-color: $blueColor
      }
      &.el-button--primary {
        color: $whiteColor;
        background-color: $blueColor;
      }
    }
  }
}
