// tooltip
.el-tooltip__popper.is-dark {
  background-color: #fff !important;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.34);
}

.el-tooltip__popper[x-placement^="left"] .popper__arrow:after,
.el-tooltip__popper[x-placement^="left"] .popper__arrow {
  border-left-color: #fff !important;
}

.el-tooltip__popper[x-placement^="top"] .popper__arrow::after,
.el-tooltip__popper[x-placement^="top"] .popper__arrow {
  border-top-color: #fff !important;
}

.el-tooltip__popper[x-placement^="right"] .popper__arrow:after,
.el-tooltip__popper[x-placement^="right"] .popper__arrow {
  border-right-color: #fff !important;
}

.el-tooltip__popper[x-placement^="bottom"] .popper__arrow:after,
.el-tooltip__popper[x-placement^="bottom"] .popper__arrow {
  border-bottom-color: #fff !important;
}
