<template>
  <!-- 维度管理 -->
  <div class="system-management-setting">
    <SettingHeader title="所有资产" :settings="settings" />
    <SettingTree
      :class="{ disabled: !domainId || superAdmin }"
      :data="settingTreeData"
    />
  </div>
</template>

<script>
import SettingHeader from "@/view/system/authorizationManagement/components/RightTabs/components/SettingHeader/index.vue";
import SettingTree from "@/view/system/authorizationManagement/components/RightTabs/components/SettingTree.vue";
import { mapActions, mapState, mapGetters } from "vuex";
import iconAuthorizationOpen from "@/assets/icons/authorizationManagement/icon_authorization_open.svg";
import iconAuthorizationClose from "@/assets/icons/authorizationManagement/icon_authorization_close.svg";
import { deepCopy, filterTree } from "@/utils/common";
import settingTree from "@/mixins/authorizationManagement/settingTree";
import dataToggleAuth from "@/mixins/authorizationManagement/dataToggleAuth";
import {
  getDimensionTreeData,
} from '@/api/dimension'
export default {
  name: "AssetsGroup",
  components: {
    SettingHeader,
    SettingTree,
  },
  mixins: [settingTree, dataToggleAuth],
  computed: {
    ...mapState("authorizationManagement", [
      "assetsManagerList",
      "dataAuthTab",
    ]),
    ...mapGetters(["isSuperAdmin", "getUserId"]),
    settings() {
      let settings = ["查看", "编辑"];
      return settings;
    },
  },
  watch: {
    assetsManagerList: {
      handler() {
        console.log('assetsManagerList====', this.assetsManagerList)
        this.getSettingTree();
        // this.getTreeData()
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions("authorizationManagement", ["getDomainResourceList"]),
    /**
     * 获取树数据
     */
    async getTreeData() {
      const { data } = await getDimensionTreeData()
      if (data?.state === 'success') {
        const groups = data.data.dimensionGroupList.map(item => {
          return {
            ...item,
            render: this.renderNode,
            moduleType: '17'
          }
        })
        let tree = [{
          id: -1,
          title: '数据资产',
          expand: true,
          deep: 0,
          selected: false,
        }]
        this.settingTreeData = this.generateTree(tree, groups)
      } else if (data?.state === 'error') {
        this.$Message.error(data.message)
      } else {
        this.$Message.error('获取资产分组失败')
      }
    },
    /**
     * 递归-生成维度（分组）树
     * @param parent 父节点
     * @param all 全部数据
     * @param deep 层级，根节点为0
     */
    generateTree(parent, all, deep = 1) {
      const DEEP_TEMP = deep + 1;
      return parent.map(parentItem => {
        let children = all.filter(
          allItem => allItem.parentId === parentItem.id,
        ).map(child => ({
          id: child.id,
          title: child.name,
          expand: false,
          deep: deep,
          selected: false,
          render: child.render,
          moduleType: child.moduleType
        }))

        return {
          ...parentItem,
          children: children.length ? this.generateTree(children, all, DEEP_TEMP) : [],
        }
      })
    },
    /**
     *
     * 设置树
     */
    getSettingTree() {
      let list = this.assetsManagerList.map((item) => ({
        ...item,
        // parentId: item.parentId,
        title: item.name,
        render: this.renderNode,
      }));
      list.push({
        id: -1,
        parentId: null,
        title: "/",
      });
      this.settingTreeData = this.buildTree(list, null,'assetsGroupManagerList',this.domainId);
      this.settingTreeDataBak = deepCopy(this.settingTreeData);
      this.settingTreeData = filterTree(
        this.settingTreeDataBak,
        this.rightTabKeywords
      );
      this.settingTreeData = this.filterIndicatorTree(this.settingTreeData);
    },

    /**
     * 树子节点render函数
     */
    renderNode(h, { root, node, data }) {
      return h(
        "span",
        {
          class: ["node"],
        },
        [
          h("span", data.title),
          h(
            "div",
            {
              class: ["settings"],
            },
            [
              // 查看
              h(
                !data.moduleType ? "" : "span",
                {
                  class: [
                    "setting-item",
                    {
                      disabled:
                        !this.domainId ||
                        this.superAdmin ||
                        (!data.controlViewLogin &&
                          !this.isSuperAdmin &&
                          data.creatorId !== this.getUserId) ||
                        data.isCreator,
                    },
                  ],
                  on: {
                    click: (e) => {
                      this.saveTreeNode('assetsGroupManagerList', this.domainId, root)
                      e.stopPropagation();
                      // 当前用户没有的权限无法修改
                      if (
                        (!data.controlViewLogin &&
                          !this.isSuperAdmin &&
                          data.creatorId !== this.getUserId) ||
                        data.isCreator
                      ) {
                        return;
                      }
                      this.onToggleAuth(1, data);
                    },
                  },
                },
                [
                  h("img", {
                    attrs: {
                      src: data.controlView
                        ? iconAuthorizationOpen
                        : iconAuthorizationClose,
                    },
                  }),
                ]
              ),
              // 编辑
              h(
                !data.moduleType ? "" : "span",
                {
                  class: [
                    "setting-item",
                    {
                      disabled:
                        !this.domainId ||
                        this.superAdmin ||
                        (!data.controlEditLogin &&
                          !this.isSuperAdmin &&
                          data.creatorId !== this.getUserId) ||
                        data.isCreator,
                    },
                  ],
                  on: {
                    click: (e) => {
                      this.saveTreeNode('assetsGroupManagerList', this.domainId, root)
                      e.stopPropagation();
                      // 当前用户没有的权限无法修改
                      if (
                        (!data.controlEditLogin &&
                          !this.isSuperAdmin &&
                          data.creatorId !== this.getUserId) ||
                        data.isCreator
                      ) {
                        return;
                      }
                      this.onToggleAuth(4, data);
                    },
                  },
                },
                [
                  h("img", {
                    attrs: {
                      src: data.controlEdit
                        ? iconAuthorizationOpen
                        : iconAuthorizationClose,
                    },
                  }),
                ]
              ),
            ]
          ),
        ]
      );
    },
  },
};
</script>

<style scoped lang="less">
.system-management-setting {
  height: 100%;
  padding: 0 16px 16px;
}

/deep/ .ivu-poptip-body-content {
  color: #333;
}
</style>
