<template>
  <div class="reportManage-container">
    <SettingHeader title="所有报告" :settings="settings" />
    <SettingTree
      :class="{ disabled: !domainId || superAdmin }"
      :data="settingTreeData"
    />
  </div>
</template>

<script>
import SettingHeader from "@/view/system/authorizationManagement/components/RightTabs/components/SettingHeader/index.vue";
import SettingTree from "@/view/system/authorizationManagement/components/RightTabs/components/SettingTree.vue";
import { mapActions, mapState, mapGetters } from "vuex";
import iconAuthorizationOpen from "@/assets/icons/authorizationManagement/icon_authorization_open.svg";
import iconAuthorizationClose from "@/assets/icons/authorizationManagement/icon_authorization_close.svg";
import { deepCopy, filterTree } from "@/utils/common";
import settingTree from "@/mixins/authorizationManagement/settingTree";
import dataToggleAuth from "@/mixins/authorizationManagement/dataToggleAuth";

export default {
  components: {
    SettingHeader,
    SettingTree,
  },
  mixins: [settingTree, dataToggleAuth],
  watch: {
    reportManagerList: {
      handler() {
        this.getSettingTree();
      },
      immediate: true,
    },
  },
  computed: {
    ...mapState("authorizationManagement", [
      "reportManagerList",
      "dataAuthTab",
    ]),
    ...mapGetters(["isSuperAdmin", "getUserId"]),
    settings() {
      let settings = ["查看", "编辑"];
      return settings;
    },
  },
  methods: {
    ...mapActions("authorizationManagement", ["getDomainResourceList"]),
    /**
     * 设置树
     */
    getSettingTree() {
      let list = this.reportManagerList.map((item) => ({
        ...item,
        title: item.name,
        render: this.renderNode,
      }));
      list.push({
        id: -1,
        parentId: null,
        title: "/",
      });
      this.settingTreeData = this.buildTree(list, null,'reportManagerList',this.domainId);
      this.settingTreeDataBak = deepCopy(this.settingTreeData);
      this.settingTreeData = filterTree(
        this.settingTreeDataBak,
        this.rightTabKeywords
      );
      this.settingTreeData = this.filterIndicatorTree(this.settingTreeData);
    },

    /**
     * 树子节点render函数
     */
    renderNode(h, { root, node, data }) {
      return h(
        "span",
        {
          class: ["node"],
        },
        [
          h("span", data.title),
          h(
            "div",
            {
              class: ["settings"],
            },
            [
              // 查看
              h(
                !data.moduleType ? "" : "span",
                {
                  class: [
                    "setting-item",
                    {
                      //赋权人为空，赋权人为admin,赋权人为创建者，当前用户不为admin且不为创建者且没有权限均不可操作
                      disabled:
                        !this.domainId ||
                        this.superAdmin ||
                        (!data.controlViewLogin &&
                          !this.isSuperAdmin &&
                          data.creatorId !== this.getUserId) ||
                        data.isCreator,
                    },
                  ],
                  on: {
                    click: (e) => {
                      this.saveTreeNode('reportManagerList', this.domainId, root)
                      e.stopPropagation();
                      // 当前用户没有的权限无法修改
                      if (
                        (!data.controlViewLogin &&
                          !this.isSuperAdmin &&
                          data.creatorId !== this.getUserId) ||
                        data.isCreator
                      ) {
                        return;
                      }
                      this.onToggleAuth(1, data);
                    },
                  },
                },
                [
                  h("img", {
                    attrs: {
                      src: data.controlView
                        ? iconAuthorizationOpen
                        : iconAuthorizationClose,
                    },
                  }),
                ]
              ),
              // 授权
              h(
                !data.moduleType ? "" : "span",
                {
                  class: [
                    "setting-item",
                    {
                      disabled:
                        !this.domainId ||
                        this.superAdmin ||
                        (!data.controlEditLogin &&
                          !this.isSuperAdmin &&
                          data.creatorId !== this.getUserId) ||
                        data.isCreator,
                    },
                  ],
                  on: {
                    click: (e) => {
                      this.saveTreeNode('reportManagerList', this.domainId, root)
                      e.stopPropagation();
                      // 当前用户没有的权限无法修改
                      if (
                        (!this.isSuperAdmin &&
                          !data.controlEditLogin &&
                          data.creatorId !== this.getUserId) ||
                        data.isCreator
                      ) {
                        return;
                      }
                      this.onToggleAuth(4, data);
                    },
                  },
                },
                [
                  h("img", {
                    attrs: {
                      src: data.controlEdit
                        ? iconAuthorizationOpen
                        : iconAuthorizationClose,
                    },
                  }),
                ]
              ),
            ]
          ),
        ]
      );
    },
  },
};
</script>

<style lang="less" scoped>
.reportManage-container {
  width: 100%;
  height: 100%;
}
</style>
