<template>
  <div class="userSelect-container">
    <template v-if="isExpandSelect">
      <Input class="inputWrapper" :value="userName" readonly placeholder="请选择">
        <div class="imgWrapper" slot="suffix">
          <img src="@/assets/icons/indicatorWorkbench/dropDown.svg" alt="" />
        </div>
      </Input>
      <div class="userSelectWrapper">
        <Input v-model="searchName" search @on-change="onSearchChange" placeholder="请输入用户名称" style="width: 100%;margin-bottom: 10px" />
        <div class="userlist-all">
          <div class="userlist-item"
            v-for="item in userList"
            :key="item.id"
            :class="{'selected-item': userName === item.title}"
            @click="selectUserName(item)"
          >{{item.title}}</div>
        </div>
        <div class="page-all">
          <Page :total="userCount" simple :current="currentNum" :page-size="10" @on-change="onPageChange" />
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import TreeNode from "./components/TreeNode";
import { getAuthUserList } from "@/api/systemManagement/system";
import _ from 'lodash'

export default {
  model: {
    prop: "userName",
    event: "update:userName"
  },
  props: {
    // 是否展开下拉选择框
    isExpandSelect: {
      type: Boolean,
      default: true
    },
    // 已选的用户名
    userName: {
      type: String,
      required: true
    }
  },
  components: {
    TreeNode
  },
  data() {
    return {
      userDeptList: [], // 用户和部门数据
      userList: [], // 用户列表
      userCount: 0,
      currentNum: 1,
      searchName: ''
    };
  },
  async created() {
    this.queryUserList();
  },
  methods: {
    // 查询用户列表
    async queryUserList(){
      const params={
        name: this.searchName,
        pageNum: this.currentNum,
        pageSize: 10
      }
      const res = await getAuthUserList(params);
      if (res.data.state === "success") {
        this.userList = res.data.data.data.map(ele => ({
          id: ele.id,
          title: ele.nickname,
          username: ele.name,
          nickname: ele.nickname,
          selected: ele.nickname === this.userName, // 是否选中
        }));
        this.userCount = res.data.data.count;
      }
    },
    /**
     * 页码变动
     * @param page
     */
    onPageChange(page) {
      this.currentNum = page;
      this.queryUserList();
    },
    /**
     * 点击选择用户名
     */
    selectUserName({ id, nickname }) {
      this.$emit("update:userName", { id, nickname });
    },
    /**
     * 重设树的展开状态为false
     */
    resetExpand() {
      this.currentNum = 1;
      this.searchName = '';
      this.queryUserList();
    },
    /**
     * 搜索关键字变化
     * @param e
     */
    onSearchChange: _.debounce(function(e) {
      const value = e.target.value;
      this.searchName = value;
      this.currentNum = 1;
      this.queryUserList();
    }, 300),
  }
};
</script>

<style lang="less" scoped>
.userSelect-container {
  position: relative;

  // 默认展开
  /deep/.inputWrapper {
    .imgWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ivu-input {
      cursor: auto;
    }
  }
  .userSelectWrapper {
    width: 100%;
    background: #ffffff;
    margin-top: 4.5px;
    padding: 6px 11px 6px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 9999;
    .userlist-all{
      height: 220px;
      overflow: auto;
      padding-bottom: 15px;
      .userlist-item{
        line-height: 32px;
        padding: 0 6px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .selected-item{
        color: #3f73ff;
      }
    }
    .page-all{
      text-align: center;
    }
  }

  // 选择器
  /deep/.selectWrapper {
    .ivu-icon-ios-arrow-down::before {
      content: url("~@/assets/icons/indicatorWorkbench/dropDown.svg");
    }
    .ivu-select-dropdown {
      padding: 0;
      .ivu-card {
        border: none;
        padding: 6px 11px 15px;
        .ivu-card-body {
          padding: 0;
        }
      }
    }
  }
}
</style>
