<template>
  <div class="licenseInvalid-container">
    <div class="licenseInvalid-wrapper">
      <div class="licenseLeft">
        <div class="tilte">License失效了</div>
        <div class="subTitle">检测到本产品运行的计算机未获得合法授权License，请及时授权，否则影响您的正常使用。</div>
        <div class="applyBtn" @click="showModal = true">
          <span class="btnText">License授权申请</span>
        </div>
      </div>
      <img class="licenseRight" src="@/assets/images/licenseInvalid/licenseInvalid.png" />
    </div>

    <div class="applyModal-container" v-show="showModal">
      <Card :bordered="false">
        <div class="applyTitle" slot="title">
          <span>License授权申请</span>
          <Icon style="cursor:pointer;" type="md-close" size="14" color="#333" slot="extra" @click="showModal = false" />
        </div>
        <div class="applyContent">
          <section class="machineInfo">
            <div class="infoTitle">
              <img src="@/assets/images/licenseInvalid/titleIcon.png" alt="" />
              <span>机器信息</span>
            </div>
            <div class="copyBtn" @click="copyText">一键复制</div>
            <div class="machineContent">
              <div class="lineInfo">
                <div class="lineName">机器名称：</div>
                <div class="lineValue">{{ machineName }}</div>
              </div>
              <div class="lineInfo">
                <div class="lineName">mac地址：</div>
                <div class="lineValue">{{ macAddress }}</div>
              </div>
              <div class="lineInfo">
                <div class="lineName">机器码：</div>
                <div class="lineValue">{{ machineCode }}</div>
              </div>
            </div>
          </section>
          <section class="applyStep">
            <div class="infoTitle">
              <img src="@/assets/images/licenseInvalid/titleIcon.png" alt="" />
              <span>申请步骤</span>
            </div>
            <div class="stepContent">
              <div class="contentDesc">
                <div>请复制上方“机器信息”后：</div>
                <div>将内容发送邮件至FineInsight商务邮箱：<a href="mailto:business@onedata.com.cn">business@onedata.com.cn</a>，邮件格式如下：</div>
              </div>
              <Table class="templateTable" :columns="columns" :data="tableData" border :span-method="handleSpan" />
              <div class="attendtion">
                <span>注：重新提交申请后，上一次的申请将被作废。</span>
                <span>发送邮件后，我们将第一时间进行处理并告知结果，感谢您的配合！</span>
              </div>
            </div>
          </section>
        </div>
      </Card>
    </div>
  </div>
</template>

<script>
import { getMachineInfo } from "@/api/licenseInvalid";

export default {
  data() {
    return {
      showModal: false,
      machineName: "", //机器名称
      macAddress: "", //mac地址
      machineCode: "", //机器码
      columns: [
        {
          title: "清单",
          key: "list",
          width: 96,
          className: "fieldClass"
        },
        {
          title: "内容",
          key: "content",
          width: 346,
          className: "fieldClass"
        },
        {
          title: "注意事项",
          key: "attention",
          className: "fieldClass"
        }
      ],
      tableData: [
        {
          list: "发件人",
          content: "请使用合同中指定的邮箱或者公司正式邮箱",
          attention: "如发送注册信息的邮箱为个人邮箱或其他不具备权威性的邮箱，则不予注册"
        },
        {
          list: "收件人",
          content: "business@onedata.com.cn",
          attention: ""
        },
        {
          list: "标题",
          content: "XX公司注册，Finelnsight正式授权文件",
          attention: "如发送注册信息时，未注明公司名称，则不予注册"
        },
        {
          list: "正文",
          content: "公司名称：XXX公司",
          attention: "其他并发数，用户数等信息，将按照签订的合同进行注册"
        },
        {
          list: "正文",
          content: "项目名称：XXX项目",
          attention: ""
        },
        {
          list: "正文",
          content: "合同签订日期：XXXX年XX月XX日",
          attention: ""
        },
        {
          list: "正文",
          content: "注册方式：本地机器信息认证",
          attention: ""
        },
        {
          list: "正文",
          content: "机器信息：上文复制内容",
          attention: ""
        }
      ]
    };
  },
  async created() {
    const res = await getMachineInfo();
    if (res.status === 200 && res.data.state === "success") {
      const { name, macAddress, code } = res.data.data;
      this.machineName = name;
      this.macAddress = macAddress;
      this.machineCode = code;
    }
  },
  methods: {
    handleSpan({ row, column, rowIndex, columnIndex }) {
      // 合并3-7行，第0列
      if (rowIndex === 3 && columnIndex === 0) {
        return [5, 1];
      } else if (rowIndex === 4 && columnIndex === 0) {
        return [0, 0];
      } else if (rowIndex === 5 && columnIndex === 0) {
        return [0, 0];
      } else if (rowIndex === 6 && columnIndex === 0) {
        return [0, 0];
      } else if (rowIndex === 7 && columnIndex === 0) {
        return [0, 0];
      }

      // 合并3-7行，第2列
      if (rowIndex === 3 && columnIndex === 2) {
        return [5, 1];
      } else if (rowIndex === 4 && columnIndex === 0) {
        return [0, 0];
      } else if (rowIndex === 5 && columnIndex === 0) {
        return [0, 0];
      } else if (rowIndex === 6 && columnIndex === 0) {
        return [0, 0];
      } else if (rowIndex === 7 && columnIndex === 0) {
        return [0, 0];
      }
    },
    // 复制多行内容到粘贴板
    copyText() {
      const contents = `机器名称：${this.machineName}\nmac地址：${this.macAddress}\n机器码：${this.machineCode}`;
      const textarea = document.createElement("textarea");
      textarea.value = contents;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand("copy");
      document.body.removeChild(textarea);
      this.$Message.success("复制成功");
    }
  }
};
</script>

<style lang="less" scoped>
.licenseInvalid-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .licenseInvalid-wrapper {
    width: 1120px;
    height: 522px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .licenseLeft {
      .tilte {
        font-family: PingFangSC-Regular;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.85);
        margin-bottom: 22px;
      }
      .subTitle {
        font-family: PingFangSC-Regular;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.45);
        margin-bottom: 32px;
      }
      .applyBtn {
        width: 132px;
        height: 32px;
        background: #3f73ff;
        border: 1px solid rgba(63, 115, 255, 1);
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .btnText {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #ffffff;
        }
      }
    }
    .licenseRight {
      width: 522px;
      height: 522px;
    }
  }

  .applyModal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    /deep/.ivu-card {
      width: 1272px;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }
    /deep/.ivu-card-head {
      padding: 12px 24px 14px;
      border-bottom: 1px solid #eaeaea;
      .applyTitle {
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    /deep/.ivu-card-body {
      padding: 16px 24px 21px;
      .applyContent {
        .machineInfo {
          margin-bottom: 16px;
          position: relative;
          .copyBtn {
            background: #3f73ff;
            border-radius: 2px;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #ffffff;
            padding: 6px 15px;
            position: absolute;
            right: 0;
            top: -7px;
            cursor: pointer;
          }
          .machineContent {
            background: #f1f5ff;
            border-radius: 2px;
            padding: 15px 50px 10px 25px;
            margin-top: 7px;
            .lineInfo {
              display: flex;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #333333;
              letter-spacing: 0;
              line-height: 20px;
              font-weight: 400;
              &:not(:last-child) {
                margin-bottom: 6px;
              }
              .lineName {
                width: 70px;
              }
              .lineValue {
                flex: 1;
                word-break: break-all;
              }
            }
          }
        }
        .applyStep {
          .stepContent {
            margin-top: 10px;
            .contentDesc {
              div {
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #333333;
                letter-spacing: 0;
                line-height: 20px;
                a {
                  color: #3f73ff;
                }
              }
            }
            .templateTable {
              margin-top: 14px;
              .fieldClass {
                font-family: PingFangSC-Regular;
                color: #333333;
                font-size: 14px;
              }
              .ivu-table-header {
                .fieldClass {
                  font-size: 15px;
                  font-weight: 600;
                }
                th {
                  background-color: rgba(63, 115, 255, 0.1);
                }
              }
            }
            .attendtion {
              margin-top: 18.5px;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              letter-spacing: 0;
              font-weight: 400;
              color: #333333;
              span:first-child {
                color: #fa6400;
                margin-right: 21px;
              }
            }
          }
        }
        .infoTitle {
          display: flex;
          align-items: center;
          img {
            width: 12.8px;
            height: 12.8px;
            margin-right: 8.8px;
          }
          span {
            font-family: PingFangSC-Medium;
            font-size: 16px;
            color: #333333;
            letter-spacing: 0;
            font-weight: 600;
          }
        }
      }
    }
  }
}
</style>
