<template>
  <Form
    ref="loginForm"
    :model="form"
    :rules="rules"
    @keydown.enter.native="handleSubmit"
  >
    <FormItem prop="username">
      <Input
        v-model="form.username"
        placeholder="请输入登录账号"
        @on-focus="usernameFocus"
      >
        <span slot="prepend">
          <Icon :size="21" color="#A2A5BD" type="ios-person"></Icon>
        </span>
      </Input>
    </FormItem>
    <div style="height: 5px; " />
    <FormItem prop="password">
      <PasswordInput
        @focus="passwordFocus"
        :comModel="form.password"
        placeholder="请输入登录密码"
        @change="val => (this.form.password = val)"
      />
    </FormItem>
    <div style="text-align: right; position: relative;top:-8px">
      <a @click="forgetFun" style="color:#497AFF; font-size:16px;    ">忘记密码</a>
    </div>
    <FormItem style="margin-bottom: 20px; margin-top: 10px">
      <Button
        @click="handleSubmit"
        type="primary"
        :disabled="logging"
        long
        style="background:#497AFF; font-size:16px; height:46px"
      >
        登&nbsp;录
      </Button>
      <div style="color: crimson" v-if="showTip">
        友情提示：请使用谷歌或者火狐浏览器访问
      </div>
    </FormItem>

  </Form>
</template>

<script>
import { PasswordInput } from "../special-input";

export default {
  name: "LoginForm",
  components: {
    PasswordInput
  },
  data() {
    const self = this;
    const passwordValidator = (_, value, callback) => {
      if (!value) {
        callback(new Error("密码为空"));
      } else if (self.passwordError) {
        callback(new Error(self.passwordError));
      } else {
        callback();
      }
    };
    const usernameValidator = (_, value, callback) => {
      if (!value) {
        callback(new Error("账号为空"));
      } else if (self.usernameError) {
        callback(new Error(self.usernameError));
      } else {
        callback();
      }
    };
    return {
      form: {
        username: "",
        password: ""
      },
      logging: false,
      showTip: false,
      usernameError: "",
      passwordError: "",
      passwordRules: [{ required: true, validator: passwordValidator }],
      userNameRules: [{ required: true, validator: usernameValidator }]
    };
  },
  computed: {
    rules() {
      return {
        username: this.userNameRules,
        password: this.passwordRules
      };
    }
  },
  mounted() {
    this.getBrowserType();
  },
  methods: {
    handleSubmit() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.logging = true;
          this.$emit("on-success-valid", {
            username: this.form.username,
            password: this.form.password,
            successFun: () => {
              this.logging = false;
            },
            errorFun: this.submitCallback
          });
        }
      });
    },

    forgetFun() {
      this.$emit("forget-possword-callback");
    },



    usernameFocus() {
      if (this.usernameError) {
        this.usernameError = "";
        this.$refs.loginForm.validate();
      }
    },
    passwordFocus() {
      if (this.passwordError) {
        this.passwordError = "";
        this.$refs.loginForm.validate();
      }
    },
    submitCallback(usernameError, passwordError) {
      this.usernameError = usernameError;
      this.passwordError = passwordError;
      this.$refs.loginForm.validate();
      this.logging = false;
    },
    getBrowserType() {
      const userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
      const isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器
      const isChrome =
        userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器
      if (!isFF && !isChrome) {
        this.showTip = true;
      }
    },

  }
};
</script>

