<template>
  <Form ref="loginForm" :model="form" :rules="rules" @keydown.enter.native="handleSubmit">
    <FormItem prop="username">
      <Input v-model.trim="form.username" placeholder="请输入手机号" @on-focus="usernameFocus" style="color: 16px">
        <span slot="prepend">
          <Icon :size="21" color="#A2A5BD" type="md-phone-portrait"></Icon>
        </span>
      </Input>
    </FormItem>
    <div style="height: 5px; " />
    <FormItem prop="authcode">
      <!-- :disabled="step===1" -->
      <Input v-model.trim="form.authcode" placeholder="请输入验证码"   @on-focus="authcodeFocus" >
        <span slot="prepend">
          <img src="../../assets/images/login/authcode.png" />
        </span>
        <span slot="append" style="color: #497aff; font-size: 16px">
          <a   style="color: #497aff; " v-show="step === 1" @click="startSetInterval()">发送验证码</a>
          <a   style="color: #497aff; " v-show="step === 2">({{ numDown }})秒后重发</a>
          <a   style="color: #497aff; " v-show="step === 3" @click="startSetInterval()">重新发送</a>
        </span>
      </Input>
    </FormItem>
    <div style="text-align: right;">
      <a @click="forgetFun" style="color: #fff; font-size: 16px">&nbsp;</a>
    </div>
    <FormItem style="margin-bottom: 20px; margin-top: 10px">
      <Button @click="handleSubmit" type="primary" :disabled="logging" long style="background: #497aff; font-size: 16px; height: 46px"> 登&nbsp;录 </Button>
      <div style="color: crimson" v-if="showTip">友情提示：请使用谷歌或者火狐浏览器访问</div>
    </FormItem>
  </Form>
</template>

<script>
import { AuthCodeInput } from "../special-input";
import { sendSmsLogin } from "@/api/systemManagement/system";

export default {
  name: "LoginForm",
  components: {
    AuthCodeInput,
  },
  data() {
    const self = this;
    const authcodeValidator = (_, value, callback) => {
      if (self.authcodeError) {
        callback(new Error(self.authcodeError));
      } else {
        callback();
      }
    };
    const usernameValidator = (_, value, callback) => {
      let reg = /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-79])|(?:5[0-35-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[189]))\d{8}$/;
      if (!reg.test(value)) {
        callback(new Error("请输入正确的手机号"));
      } else if (self.usernameError) {
        callback(new Error(self.usernameError));
      } else {
        callback();
      }
    };
    return {
      form: {
        username: "",
        authcode: "",
      },
      step: 1,
      numDown: 0,
      timer: null,
      logging: false,
      showTip: false,
      usernameError: "",
      authcodeError: "",
      authcodeRules: [{ required: true, validator: authcodeValidator }],
      userNameRules: [{ required: true, validator: usernameValidator }],
    };
  },
  computed: {
    rules() {
      return {
        username: this.userNameRules,
        authcode: this.authcodeRules,
      };
    },
  },
  mounted() {
    this.getBrowserType();
  },
  methods: {
    handleSubmit() {
      if(!this.form.authcode){
        this.authcodeError  = '验证码不能为空'
        return this.$refs.loginForm.validate();
      }


      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.logging = true;
          this.$emit("on-success-valid", {
            mobile: this.form.username,
            verifyCode: this.form.authcode,
            successFun: () => {
              this.logging = false;
            },
            errorFun: this.submitCallback,
          });
        }
      });
    },

    forgetFun() {
      this.$emit("forget-possword-callback");
    },

    usernameFocus() {
      if (this.usernameError) {
        this.usernameError = "";
        this.$refs.loginForm.validate();
      }
    },
    authcodeFocus() {
      if (this.authcodeError) {
        this.authcodeError = "";
        this.$refs.loginForm.validate();
      }
    },
    submitCallback(usernameError, authcodeError) {
      this.usernameError = usernameError;
      this.authcodeError = authcodeError;
      this.$refs.loginForm.validate();
      this.logging = false;
    },
    getBrowserType() {
      const userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
      const isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器
      const isChrome = userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器
      if (!isFF && !isChrome) {
        this.showTip = true;
      }
    },
    startSetInterval() {
      if (this.usernameError) {
         return false;
      }
      sendSmsLogin({ mobile: this.form.username })
        .then((res) => {
          if (res.data.state === "success") {
            this.form.authcode = ''
            this.step = 2;
            this.numDown = 60;
            this.timer = setInterval(() => {
              if (this.numDown > 0) {
                this.numDown--;
              } else {
                this.numDown = 0;
                this.step = 3;
                clearInterval(this.timer);
              }
            }, 1000);
          }else{
            this.usernameError = res.data.message
            this.$refs.loginForm.validate();
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>
