<template>
  <div class="white-box">
    <div>
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Container",
    props: ['title']
  }
</script>

<style scoped>
  .white-box {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    padding: 24px;
  }

</style>
