<template>
  <div class="manager-container">
    <div class="manager-menu" :style="{ width: sideMenuOpen ? '13%' : '58px' }">
      <div style="height: 20px"></div>
      <side-menu
        ref="sideMenu"
        accordion
        mode="vertical"
        theme="light"
        :active-name="$route.name"
        class="side-menu"
        :sideMenuOpen="sideMenuOpen"
        @on-select="turnToPage"
        :menu-list="systemList"
      />
      <div class="toggle-sidebar">
        <img
          class="toggle-sidebar-button"
          :style="{ transform: `rotateY(${sideMenuOpen ? '0' : '180'}deg)` }"
          src="@/assets/images/menu/toggle-sidebar-button.svg"
          @click="toggleSidebar"
        />
      </div>
    </div>
    <div class="manager-content" :style="{ width: sideMenuOpen ? '87%' : 'calc(100% - 58px)' }">
      <router-view />
    </div>
  </div>
</template>

<script>
import SideMenu from "@/components/main/components/side-menu";
export default {
  name: "System",
  components: {
    SideMenu,
  },
  data() {
    return {
      sideMenuOpen: true,
    };
  },
  computed: {
    systemList() {
      let homeMenu = [
        {
          name: "搜索分析",
          icon: "home",
          type: 4,
        },
      ];
      return homeMenu.concat(this.$store.getters.systemMenus);
    },
  },
  methods: {
    turnToPage(name) {
      this.$router.push({
        name,
      });
    },
    toggleSidebar() {
      if (this.sideMenuOpen) {
        this.$refs.sideMenu.openedNames = ["系统菜单"];
        setTimeout(() => {
          this.sideMenuOpen = !this.sideMenuOpen;
        }, 100);
      } else {
        let sideMenuClose = document.querySelector(".sideMenuClose");
        let subMenu = sideMenuClose.querySelector(".ivu-menu-submenu");
        if (subMenu && subMenu.querySelector(".ivu-menu")) {
          subMenu.querySelector(".ivu-menu").style.top = "auto";
          subMenu.querySelector(".ivu-menu").style.bottom = "auto";
        }
        this.sideMenuOpen = !this.sideMenuOpen;
      }
    },
  },
};
</script>

<style scoped>
.manager-container {
  width: 100%;
  height: 100%;
  border: 0;
  display: flex;
  overflow: hidden;
}

.manager-container > .manager-menu {
  height: 100%;
  width: 13%;
  background-color: #ffffff;
  transition: all 0.3s;
  box-shadow: 1px 0 4px rgb(0 0 0 / 10%);
}

.manager-container > .manager-menu > .side-menu {
  height: calc(100% - 20px - 54px);
}

.manager-container > .manager-menu > .toggle-sidebar {
  position: relative;
  height: 54px;
}

.manager-container > .manager-menu > .toggle-sidebar > .toggle-sidebar-button {
  position: absolute;
  top: 16px;
  right: 18px;
  cursor: pointer;
}

.manager-container > .manager-content {
  padding: 10px;
  width: 87%;
  height: 100%;
  border-radius: 3px;
  overflow: auto;
  transition: all 0.3s;
}
</style>

<style scoped lang="less">
// title样式
/deep/.boxTitle {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  line-height: 32px;
}
// 去掉table边框
/deep/ .ivu-table::after {
  width: 0;
}

/deep/ .ivu-table::before {
  height: 0;
}

/deep/ .ivu-table-wrapper {
  border: none;
}

/deep/ .ivu-table th {
  border-bottom: none;
}
// 虚线
/deep/ .ivu-tree {
  ul li {
    margin: 0;
  }
  .ivu-tree-children {
    position: relative;
    // padding-left: 16px; // 缩进量
  }
  .ivu-tree-children::before {
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    left: 7px;
    top: -8px;
    border-width: 1px;
    border-left: 1px dashed #ddd;
  }
  // 当前层最后一个节点的竖线高度固定
  .ivu-tree-children:last-child::before {
    height: 24px; // 可以自己调节到合适数值
    top: -8px;
  }
  // 横线
  .ivu-tree-children::after {
    content: "";
    width: 16px;
    height: 20px;
    position: absolute;
    left: 9px;
    top: 16px;
    border-width: 1px;
    border-top: 1px dashed #ddd;
  }
  // 去掉最顶层的虚线，放最下面样式才不会被上面的覆盖了
  & > .ivu-tree-children::after {
    border-top: none;
  }
  & > .ivu-tree-children::before {
    height: 100%;
    width: 1px;
    left: 7px;
    top: 13px;
    border-left: 1px dashed #ddd;
  }
  & > ul.ivu-tree-children::before {
    border-left: none;
  }
  .ivu-tree-title {
    width: 90%;
    color: #333333;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
  }
  .ivu-tree-title:hover {
    color: #3f73ff;
    background-color: #ffffff;
  }
  .ivu-tree-title-selected,
  .ivu-tree-title-selected:hover {
    color: #007aff;
    background-color: #ffffff;
  }
  .ivu-tree-title.ivu-tree-title-selected .common-wrap .btnNone {
    visibility: visible !important;
  }
}
// 分页器样式
/deep/ .pageClass {
  .ivu-page-item {
    min-width: 24px;
    height: 24px;
    line-height: 22px;
  }
  .ivu-page-prev,
  .ivu-page-next,
  .ivu-page-item-jump-prev,
  .ivu-page-item-jump-next {
    min-width: 24px;
    height: 24px;
    line-height: 22px;
  }
  .ivu-select-single .ivu-select-selection {
    height: 24px;
  }
  .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
  .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    height: 22px;
    line-height: 22px;
  }
  .ivu-page-options-elevator {
    height: 24px;
    line-height: 24px;
  }
  .ivu-page-options-elevator input {
    height: 24px;
  }
}
// 表格
/deep/ .ivu-table-wrapper {
  .ivu-table {
    color: #333333;
    // 固定表头的高度，背景色
    .ivu-table-fixed-header thead tr th {
      height: 40px;
      background: #f0f5ff;
    }
    // 表头高度，背景色
    .ivu-table-header thead tr th {
      height: 40px;
      background: #f0f5ff;
    }
    // 鼠标划过无背景色
    tr.ivu-table-row-hover td {
      background-color: #fff;
    }
  }
}
// 查询区按钮
/deep/.right .rightSearch {
  .buttonClass.ivu-btn {
    border-radius: 2px;
    min-width: 72px;
  }
  .buttonClass.ivu-btn.ivu-btn-primary {
    background: #3f73ff;
  }
  .buttonClass img {
    vertical-align: middle;
    margin-right: 3px;
  }
}
</style>
