<template>
  <div class="assets-label" :class="{ labelDisabled: disabled }">
    <Dropdown :trigger="disabled ? 'custom' : 'click'">
      <div class="select-wrapper" :style="{paddingBottom: data.length ? '0px' : paddingBottom}">
        <div v-if="data.length" class="selected-list">
          <div v-for="item in data" :key="item.id" class="list-item" :style="{ paddingRight: disabled ? '10px' : '26px' }">
            <span :title="item.name">{{ item.name }}</span>
            <i v-show="!disabled" title="删除" @click.stop="handleClickLabelItem(item)"></i>
          </div>
        </div>
        <span v-else class="placeholder">请选择标签</span>
        <Icon type="ios-arrow-down"></Icon>
      </div>
      <DropdownMenu slot="list">
        <div class="assets-label-content">
          <Input
            v-model="keyword"
            class="search-input"
            search
            clearable
            placeholder="请输入标签名"
          />
          <Collapse v-model="currentCollapse" v-if="labels.length">
            <Panel v-for="group in labels" :name="group.id">
              <span class="groupName" :title="group.name">{{ group.name }}</span>
              <template #content>
                <ul v-if="group.children && group.children.length" class="label-list" >
                  <li
                    :title="item.label"
                    v-for="item in group.children"
                    :key="item.value"
                    :class="{'selected': labelIsSelected(item)}"
                    @click="handleClickLabelItem(item)"
                  >{{ item.label }}</li>
                </ul>
                <div v-else class="label-list-none">暂无标签</div>
              </template>
            </Panel>
          </Collapse>
          <p v-else class="no-data">暂无数据</p>
        </div>
      </DropdownMenu>
    </Dropdown>
  </div>
</template>

<script>
import { getLabelByGroupId, getLabelGroup } from '@/api/label'
import { deepCopy } from '@/utils/common'
export default {
  name: 'AssetsLabel',
  props: {
    data: Array,
    paddingBottom: {
      type: String,
      default: "10px"
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  emits: ['select'],
  data() {
    return {
      visible: false,
      keyword: '',
      currentCollapse: [],
      labels: [], // [groupA: {id, name, children}]
    }
  },
  watch: {
    /**
     * 监听搜索框，搜索包含关键字的标签，如果分组下无相关标签，则隐藏分组
     * @param newValue
     */
    keyword(newValue, oldValue) {
      // 在输入框为空时保存标签数据
      if (!oldValue && !this.labelsBak) {
        this.labelsBak = deepCopy(this.labels)
      }
      let searchData = []
      for (let i = 0; i < this.labelsBak.length; i++) {
        let group = this.labelsBak[i]
        let filterLabels = []
        if (group.children?.length) {
          filterLabels = group.children.filter(item => item.name.includes(newValue))
        }
        if (filterLabels.length) {
          searchData.push({
            ...group,
            children: filterLabels,
          })
        }
      }
      this.labels = searchData
    }
  },
  async mounted() {
    await this.getGroups()
    // 前端搜索需要获取全部标签数据
    this.labels.forEach(item => {
      this.getLabelsByGroup(item.id)
    })
  },
  methods: {
    /**
     * 点击某个标签项
     * @param item
     */
    handleClickLabelItem(item) {
      this.$emit('select', item)
    },
    /**
     * 获取标签分组
     */
    async getGroups() {
      const res = await getLabelGroup()
      if (res.data.state === 'success') {
        this.labels = res.data.data.map(item => ({
          id: item.id,
          name: item.name,
        }))
        const collapses = this.labels.map(item => item.id)
        this.currentCollapse = collapses
      } else {
        this.$Message.error('获取标签分组失败')
      }
    },
    /**
     * 根据分组获取标签
     * @param id
     */
    async getLabelsByGroup(id) {
      const res = await getLabelByGroupId(id)
      if (res.data.state === 'success') {
        let group = this.labels.find(item => item.id == id)
        const children = res.data.data.map(item => ({
          groupId: item.groupId,
          id: item.id,
          name: item.name,
          label: item.name,
          value: item.id,
        }))
        this.$set(group, 'children', children)
      } else {
        this.$Message.error('获取标签分组失败')
      }
    },
    /**
     * 标签是否选中
     * @param id
     */
    labelIsSelected({ id }) {
      return this.data.findIndex(item => item.id === id) > -1
    },
  },
}
</script>

<style lang="less" scoped>
.ivu-dropdown {
  width: 100%;
}
.select-wrapper {
  padding: 10px 20px;
  background: rgba(0,0,0,0.03);
  border: 1px solid rgba(217,217,217,1);
  border-radius: 2px;
  position: relative;

  .placeholder {
    color: #c5c8ce;
  }
  .ivu-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.selected-list {
  display: flex;
  flex-wrap: wrap;

  .list-item {
    margin-right: 20px;
    margin-bottom: 10px;
    height: 32px;
    background: #E7EEFF;
    border: 1px solid rgba(141,172,255,1);
    border-radius: 20px;
    padding: 0 26px 0 10px;
    color: #3F73FF;
    display: flex;
    align-items: center;
    position: relative;

    > span {
      white-space: nowrap;
      overflow: hidden;
      max-width: 250px;
      text-overflow: ellipsis;
    }
  }
  .list-item > i {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: url('~@/assets/icons/label-delete.png') center/12px no-repeat;
    position: absolute;
    right: 10px;
  }
}

.assets-label {
  position: relative;
  &.labelDisabled {
    background-color: #f3f3f3;
    opacity: 1;
    cursor: not-allowed;
    color: #ccc;
    /deep/.select-wrapper {
      .selected-list .list-item {
        background: #FFFFFF;
        border: 1px solid #d9d9d9;
        color: rgba(0, 0, 0, 0.25);
      }
      .ivu-icon.ivu-icon-ios-arrow-down {
        color: #ccc;
      }
    }
  }
}
/deep/ .ivu-dropdown .ivu-select-dropdown {
  height: 293px;
  overflow: auto;
  padding: 20px;
}
.assets-label-content .no-data {
  padding: 10px 6px;
  font-size: 14px;
}
.search-input {
  width: 208px;

  /deep/ .ivu-input {
    border-radius: 2px;
    background-color: #fff !important;
  }
}

.label-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  > li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
    margin-top: 20px;
    height: 30px;
    line-height: 30px;
    padding: 0 11px;
    border-radius: 20px;
    font-size: 12px;
    background: #E7EEFF;
    border: 1px solid rgba(141,172,255,1);
    color: #3F73FF;
    cursor: pointer;

    &.selected {
      color: #FFFFFF;
      background: #3F73FF;
      border: 1px solid rgba(141,172,255,1);
    }
  }
}

.label-list-none {
  padding: 12px 0;
}

// 手风琴组件样式改写
/deep/ .ivu-collapse {
  background: #ffffff;
  border: 0;
  font-size: 12px;
  user-select: none;

  .ivu-icon-ios-arrow-forward:before {
    content: none;
  }

  .ivu-collapse-content > .ivu-collapse-content-box {
    padding: 0;
  }

  .ivu-collapse-item {
    border-top: 0;
  }

  .ivu-collapse-item > .ivu-collapse-header {
    border-bottom: 1px dashed rgba(184,184,184,1);
    line-height: 50px;
    width: 100%;
    .groupName {
      display: inline-block;
      width: calc(~"100% - 35px");
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url('~@/assets/icons/dimensionIcon/labelCollapse.png') center/12px no-repeat;
      vertical-align: 18px;
    }

    > i {
      width: 16px;
      height: 19px;
      background: url('~@/assets/icons/dimensionIcon/arrow.png') center/16px no-repeat;
      position: absolute;
      right: 0;
      top: 11px;
      transition: none;
    }
  }

  .ivu-collapse-item.ivu-collapse-item-active > .ivu-collapse-header {
    border-bottom: 1px dashed rgba(63,115,255,1);

    > i {
      width: 16px;
      height: 19px;
      background: url('~@/assets/icons/dimensionIcon/arrowBlue.png') center/16px no-repeat;
      transform: none;
    }
  }
}
</style>
