<template>
  <div class="m-dashRegion" :style="{ width: `${reportWidth * previewScaleValue}px`, height: `${reportHeight * previewScaleValue}px` }">
    <div
      :style="{
        transform: 'scale(' + previewScaleValue + ')',
        width: reportWidth + 'px',
        height: reportHeight + 'px',
        background: reportBg
      }"
    >
      <div
        :style="{ position: 'relative', width: reportWidth + 'px', height: reportHeight + 'px' }"
        class="report-chart-view-layout"
        id="canvasContainer"
      >
        <ChartViewWrapper
          class="previewComponent"
          :style="{
            background: item.style.transparent
              ? 'transparent'
              : item.defaultShow && item.id !== 'FaTab'
              ? defaultShowComponentBackground
              : componentBackground,
            border: item.id === 'ComplexTextarea' ? '' : '1px solid transparent'
          }"
          :class="{ cursorPointer: item.id === 'DimensionFilter' || item.id === 'IndicatorFilter' }"
          v-for="item in chartDataListF"
          :key="item.chartId"
          :chartData="item"
          :_chartId="item.chartId"
          :global-variables="globalVariables"
          is-view-state
          ref="charts"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { previewImg } from "@/api/report";
import { CANVAS_COLOR_CONFIG } from "@/config/ReportConstants";
import ChartViewWrapper from "../reportTemplate/wrapper/ChartViewWrapper";

/**
 * 报告查看状态下，url中系统使用的参数名称
 * @type {string[]}
 */
const BLACK_VARIABLES = ["id", "openType", "startDate", "endDate"];

export default {
  props: {
    reportWidth: {
      type: Number,
      required: true
    },
    reportHeight: {
      type: Number,
      required: true
    },
    previewScaleValue: {
      type: Number,
      required: true
    },
    chartDataList: {
      type: Array,
      required: true
    }
  },
  components: {
    ChartViewWrapper
  },
  data() {
    return {
      themeStyle: "1",
      imageUrl: null, // 报告背景图
      globalVariables: {}
    };
  },
  computed: {
    reportThemeStyle() {
      return this.$store.state.chart.reportSetting?.themeStyle || "1";
    },
    reportBgColor() {
      return this.$store.state.chart.reportSetting?.bgColor || "";
    },
    reportBgImg() {
      return this.$store.state.chart.reportSetting?.bgImg || "";
    },
    reportBg() {
      let background = "";
      if (this.reportBgImg) {
        background = `url(${this.imageUrl}) no-repeat`;
      } else if (this.reportBgColor) {
        background = this.reportBgColor;
      }
      return background;
    },
    defaultShowComponentBackground() {
      let theme = "default";
      if (this.reportThemeStyle === "2") {
        theme = "black";
      }
      return CANVAS_COLOR_CONFIG[theme].defaultShowComponentBackground;
    },
    componentBackground() {
      let theme = "default";
      if (this.reportThemeStyle === "2") {
        theme = "black";
      }
      return CANVAS_COLOR_CONFIG[theme].componentBackground;
    },
    chartDataListF() {
      return this.chartDataList.filter(item => (!item.hasOwnProperty("shouldCreate") && !item.hasOwnProperty("parentId")) || item.parentId === "");
    }
  },
  watch: {
    async reportBgImg(newVal) {
      if (newVal) {
        const res = await previewImg(newVal);
        if (res.status === 200) {
          this.imageUrl = window.URL.createObjectURL(res.data);
        } else {
          this.$Message.warning("背景图片加载失败");
        }
      }
    },
    reportThemeStyle: {
      handler(val) {
        let theme = "default";
        if (val === "1") {
          // 报告主题为浅色（默认）
          this.$plain.changeTheme("default");
          this.themeStyle = val;
          theme = "default";
        } else if (val === "2") {
          // 报告主题为深色
          this.$plain.changeTheme("black");
          this.themeStyle = val;
          theme = "black";
        }
        if (this.chartDataList.length) {
          this.chartDataList.forEach(item => {
            if (item.id === "ComplexTextarea") {
              if (item.style.hasOwnProperty("fontStyle")) {
                this.$set(item.style.fontStyle, "color", CANVAS_COLOR_CONFIG[theme].fontStyleColor);
              } else {
                let fontStyle = {
                  color: CANVAS_COLOR_CONFIG[theme].fontStyleColor
                };
                this.$set(item.style, "fontStyle", fontStyle);
              }
            }
            if (item.id === "Indicator" || item.id === "IndexBoard") {
              this.$set(item.style, "indicatorTitleColor", CANVAS_COLOR_CONFIG[theme].indicatorTitleColor);
              this.$set(item.style, "valueBackgroundColor", CANVAS_COLOR_CONFIG[theme].valueBackgroundColor);
              this.$set(item.style, "countColor", CANVAS_COLOR_CONFIG[theme].countColor);
            }
            if (item.id === "SimpleLine" || item.id === "SimpleBar" || item.id === "MixLineBar" || item.id === "BasicRadar") {
              this.$set(item.style, "splitLineColor", CANVAS_COLOR_CONFIG[theme].splitLineColor);
              this.$set(item.style, "axisLineColor", CANVAS_COLOR_CONFIG[theme].axisLineColor);
              this.$set(item.style, "axisLabelColor", CANVAS_COLOR_CONFIG[theme].axisLabelColor);
            }
          });
        }
      }
    }
  },
  created() {
    this.setGlobalVariables();
  },
  methods: {
    setGlobalVariables() {
      let query = this.$route.query;
      let globalVariables = {};
      for (let param in query) {
        if (!BLACK_VARIABLES.includes(param)) {
          globalVariables[param] = query[param];
        }
      }
      this.globalVariables = globalVariables;
    }
  }
};
</script>

<style lang="scss" scoped>
@include fa-use-theme($fa-default-themes) {
  .m-dashRegion {
    > div {
      background: $f-them-report-background;
    }
  }
}
</style>

<style lang="less" scoped>
.m-dashRegion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;

  .report-chart-view-layout {
    width: 100%;
    min-height: 100%;
  }
}

.previewComponent.vdr {
  cursor: default;
}

.previewComponent.vdr.cursorPointer {
  cursor: pointer;
}

.previewComponent {
  /deep/ .mixFilter {
    .filterItem {
      cursor: pointer;
    }
  }
}
</style>
