<template>
  <div class="tips">
    <div v-if="tipstype === '请先选择数据'">
      <img src="@/assets/icons/chart/tipsImg3.svg" />
      <p class="tipsMessage">{{ tipstype }}</p>
    </div>
    <div v-else>
      <img v-if="storeChartList.length" src="@/assets/icons/chart/tipsImg2.svg" />
      <img v-else src="@/assets/icons/chart/tipsImg1.svg" />
      <p class="tipsMessage">请先{{ storeChartList.length ? '选择' : '拖入' }}组件</p>
      <p class="tipsMessage">再进行{{ tipstype }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Tips',
  props: {
    tipstype: {
      type: String,
      default: ''
    }
  },
  computed: {
    storeChartList() {
      return this.$store.state.chart.chartList
    }
  }

}
</script>

<style lang="less" scoped>
.tips {
  text-align: center;
  padding: 40px 0;
  img {
    margin-bottom: 10px;
  }
  .tipsMessage {
    font-size: 12px;
    line-height: 17px;
    color: #4879FE;
  }
}
</style>