<template>
  <div class="tableList">
    <span class="itemLabel">周期</span>
    <div class="tableList_children">
      <RadioGroup
        v-model="chartConfigData.accumulatePeriod">
        <Radio label="week">
          <span>当周</span>
        </Radio>
        <Radio label="month">
          <span>当月</span>
        </Radio>
        <Radio label="year">
          <span>当年</span>
        </Radio>
      </RadioGroup>
    </div>
  </div>
</template>

<script>
export default {
  name: "AccumulatePeriod",
  props: {
    chartConfigData: {
      type: Object,
      default: () => {
        return { }
      }
    }
  },
}
</script>

<style scoped>
.tableList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.tableList_children {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
</style>
