<template>
 <div>
   <div class="row-left-right-pos">
     <div>较上日环比</div>
     <Tooltip placement="bottom" theme="light">
       <Button icon="md-add">指标</Button>
       <div slot="content">
         <CheckboxGroup v-model="dayChainRatio" @on-change="onDayChainRatioChange">
           <Checkbox v-for="item in currentSelectChartIndicators" :key="item.id"
                     :label="item.id" style="display: block;margin-top: 10px;">{{item.title}}</Checkbox>
         </CheckboxGroup>
       </div>
     </Tooltip>
   </div>
   <div class="day-select-indicators">
     <div class="day-select-indicator" v-for="item in daySelectIndicators" :key="item.id">
       <div>{{item.title}}</div>
       <div style="cursor: pointer" title="移除" @click="handleDayClose(item)"><Icon type="md-close" /></div>
     </div>
   </div>
   <div class="row-left-right-pos">
     <div>格式</div>
     <Select style="width: 200px"  @on-change="handleDataFormatChange($event, currentSelectChart)">
       <Option value="####">整数</Option>
       <Option value="####.##">保留小数</Option>
       <Option value="#,###.##">千分位带小数</Option>
     </Select>
   </div>
 </div>
</template>

<script>
import _ from "lodash";

export default {
  name: "ChainRatio",
  data() {
    return {
      dayChainRatio: [], // 日环比选择的指标
      daySelectIndicators: [],
      monthChainRatio: [],
      monthSelectIndicators: []
    }
  },
  props: {
    chartId: {
      type: String,
      default: null
    },
    dataConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    }
  },
  computed: {
    currentSelectChart() {
      const currentSelectChart = this.$store.state.chart && this.$store.state.chart.currentSelectChart
      return currentSelectChart
    },
    currentSelectChartIndicators: function () {
      return this.currentSelectChart
        && this.currentSelectChart.data
        && this.currentSelectChart.data.indicator
    }
  },
  mounted() {
    this.daySelectIndicators = this.dataConfigs.daySelectIndicators
    this.dayChainRatio = this.daySelectIndicators && this.daySelectIndicators.map(item => item.id)
    this.monthSelectIndicators = this.dataConfigs.monthSelectIndicators
  },
  methods: {
    handleDayClose: function (indicator) {
      this.daySelectIndicators = this.daySelectIndicators.filter(item => item.id !== indicator.id)
      this.dayChainRatio = this.daySelectIndicators.map(item => item.id)
      this.refreshCurrentSelectChartIndicators()
    },
    onDayChainRatioChange: function () {
      this.daySelectIndicators = this.dayChainRatio.map(item => {
        const indicator = _.find(this.currentSelectChartIndicators, option => option.id === item)
        return {
          ...indicator
        }
      })
      this.refreshCurrentSelectChartIndicators()
    },
    refreshCurrentSelectChartIndicators: function () {
      _.forEach(this.currentSelectChartIndicators, item => {
        const indicator = _.find(this.dayChainRatio, indicatorId => indicatorId === item.id)
        if (indicator) {
          item.useCompare = true
        } else {
          item.useCompare = false
        }
      })
    },
    handleMonthClose: function (indicator) {
      this.monthSelectIndicators = this.monthSelectIndicators.filter(item => item.id !== indicator.id)
      this.monthChainRatio = this.monthSelectIndicators.map(item => item.id);
    },
    onMonthChainRatioChange: function () {
      this.monthSelectIndicators = this.monthChainRatio.map(item => {
        const indicator = _.find(this.currentSelectChartIndicators, option => option.id === item)
        return {
          ...indicator
        }
      })
    },
    handleDataFormatChange() {

    }
  },
  watch: {
  }
}
</script>

<style scoped>
.row-left-right-pos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.day-select-indicators{
  margin-top: 10px;
}
.day-select-indicator{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border: 1px solid #E4E4E4;
  padding: 0 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
</style>
