<template>
  <div>
    <div class="child_left_right item">
      <span>数据格式</span>
      <Select v-model="chartConfigData.showType" style="width: 60%" @on-change="onSelectChange">
        <Option v-for="item in dataFormatList" :value="item.value" :key="item.value">{{ item.label }}</Option>
      </Select>
    </div>
  </div>
</template>

<script>
import { DATA_FORMAT_LIST } from '@/config/ReportConstants'

export default {
  name: "DataFormat",
  data() {
    return {
      dataFormatList: DATA_FORMAT_LIST
    }
  },
  props: {
    chartConfigData: {
      type: Object,
      default: () => {
        return {}
      }
    },
  },
  methods: {
    onSelectChange(value) {
      this.$emit('dataFormatChange', value,this.chartConfigData)
    }
  }
}
</script>

<style lang="less" scoped>
.child_left_right {
  display: flex;
  justify-content: space-between;
}
.item {
  line-height: 28px;
  padding: 8px 0;
}
</style>
