<template>
  <div>
    <div class="child_left_right">
      <span>快速计算</span>
      <Checkbox v-model="chartConfigData.useCompare"></Checkbox>
    </div>
    <div v-if="chartConfigData.useCompare">
      <div class="child_left_right item">
        <div>
          <Checkbox v-model="chartConfigData.useRingRatio"></Checkbox>
          <span>环比</span>
        </div>
        <Select v-model="chartConfigData.ringRatioUnitValue" v-show="chartConfigData.useRingRatio" style="width: 60%" :disabled="!chartConfigData.useRingRatio">
          <Option v-for="item in ratioUnitList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </div>
      <div class="child_left_right item">
        <div>
          <Checkbox v-model="chartConfigData.useYearOnYear"></Checkbox>
          <span>同比</span>
        </div>
        <div style="width: 60%" v-show="chartConfigData.useYearOnYear">
          <span class="formatBtn" :class="{'cantClick': !chartConfigData.useYearOnYear }" @click="handleYearOnYearUnitValueClick">{{ yearOnYearUnitValue }}</span>
          <Select v-model="chartConfigData.yearOnYearTypeValue" class="yearOnYearSelect" :disabled="!chartConfigData.useYearOnYear">
            <Option v-for="item in yearOnYearList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  RATIO_UNIT_LIST,
  YEAR_ON_YEAR_LIST
} from '@/config/ReportConstants'
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";
export default {
  data() {
    return {
      ratioUnitList: RATIO_UNIT_LIST,
      yearOnYearList: YEAR_ON_YEAR_LIST
    }
  },
  mixins: [ mixin ],
  props: {
    chartConfigData: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  computed: {
    yearOnYearUnitValue() {
      let str = this.ratioUnitList[0].label
      if(this.chartConfigData.hasOwnProperty('yearOnYearUnitValue')) {
        let obj = this.ratioUnitList.find(item => item.value === this.chartConfigData.yearOnYearUnitValue)
        if(obj) {
          str = obj.label
        }
      }
      return str
    }
  },
  mounted() {
    if(!this.chartConfigData.ringRatioUnitValue) {
      this.$set(this.chartConfigData, 'ringRatioUnitValue', 'num') // 环比单位值，默认123
    }
    if(!this.chartConfigData.yearOnYearTypeValue) {
      this.$set(this.chartConfigData, 'yearOnYearTypeValue', 'mom') // 同比类型值，默认月同比
    }
  },
  methods: {
    handleYearOnYearUnitValueClick() {
      if(!this.chartConfigData.hasOwnProperty('yearOnYearUnitValue')) {
        this.$set(this.chartConfigData, 'yearOnYearUnitValue', 'per')
      } else {
        if(this.chartConfigData.yearOnYearUnitValue === 'num') {
          this.$set(this.chartConfigData, 'yearOnYearUnitValue', 'per')
        } else if(this.chartConfigData.yearOnYearUnitValue === 'per'){
          this.$set(this.chartConfigData, 'yearOnYearUnitValue', 'num')
        }
      }
      this.recordSnapshot()
    }
  }

}
</script>

<style lang="less" scoped>
.child_left_right {
  display: flex;
  justify-content: space-between;
}
.item {
  line-height: 28px;
  padding: 4px 8px;
}
.formatBtn {
  display: inline-block;
  width: 30px;
  height: 28px;
  line-height: 28px;
  background: #F8F8F8;
  border: 1px solid #dcdee2;
  border-radius: 4px 0 0 4px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.cantClick {
  pointer-events: none;
}
.yearOnYearSelect {
  width: calc(~'100% - 30px');
  /deep/ .ivu-select-selection {
    border-radius: 0 4px 4px 0;
  }
}
</style>
