<template>
  <div>
    <div class="child_left_right" v-if="showFastCalculation">
      <span>快速计算</span>
      <Checkbox
        v-model="currentChartConfigData.useCompare"
        @on-change="handleUseCompareChange"></Checkbox>
    </div>
    <div v-if="currentChartConfigData.useCompare">
      <div class="item">
        <RadioGroup v-model="currentChartConfigData.compareType" vertical
          @on-change="handleCompareTypeChange">
          <Radio label="useRingRatio">
            <span>环比</span>
          </Radio>
          <Radio label="useYearOnYear">
            <span>同比</span>
          </Radio>
        </RadioGroup>
        <Select class="yearOnYearSelect"
          v-model="currentChartConfigData.yearOnYearTypeValue"
          :disabled="currentChartConfigData.compareType !== 'useYearOnYear'"
          @on-change="handleYearOnYearTypeValueChange">
          <Option v-for="item in yearOnYearList" :value="item.value" :key="item.value">{{ item.label }}</Option>
        </Select>
      </div>
    </div>
  </div>
</template>

<script>
import {
  YEAR_ON_YEAR_LIST
} from '@/config/ReportConstants'
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";

export default {
  props: {
    chartConfigData: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  mixins: [ mixin ],
  computed: {
    currentChartConfigData() {
      return Object.assign({
        compareType: 'useRingRatio',
        yearOnYearTypeValue: 'mom'
      }, this.chartConfigData)
    },
    showFastCalculation() { // 选择派生指标，不支持快速计算
      return this.currentSelectChart?.data?.indicator?.every(item => item.type !== 3)
    },
  },
  data() {
    return {
      yearOnYearList: YEAR_ON_YEAR_LIST
    }
  },
  methods: {
    handleUseCompareChange(value) {
      this.refreshCurrentSelectChartConfigData('useCompare', value)
    },
    handleCompareTypeChange(value) {
      this.refreshCurrentSelectChartConfigData('compareType', value)
    },
    handleYearOnYearTypeValueChange(value) {
      this.refreshCurrentSelectChartConfigData('yearOnYearTypeValue', value)
    }
  }
}
</script>

<style lang="less" scoped>
.child_left_right {
  display: flex;
  justify-content: space-between;
}
.item {
  line-height: 28px;
}
.yearOnYearSelect {
  width: 112px;
  top: 16px;
  margin-left: 26px;
  /deep/ .ivu-select-selection {
    border-radius: 0 4px 4px 0;
  }
}
</style>
