<template>
  <div class="filterCondition-container">
    <Collapse class="ruleWrapper" simple :value="collapseDefaultShow">
      <Panel
        class="ruleItemWrapper"
        :name="item.id"
        v-for="(item, index) in ruleList"
        :key="item.id"
      >
        <div class="ruleHeader">
          <span class="headerLeft">{{ ruleTitle(index) }}</span>
          <div class="headerRight">
            <section
              class="deleteBtn"
              v-if="ruleList.length > 1"
              @click="changeRule({ key: 'del', value: item.id })"
            >
              <img
                src="@/assets/icons/earlyWarningTarget/deleteRuleIcon.svg"
                alt=""
              />
              <span>删除</span>
            </section>
          </div>
        </div>
        <template #content>
          <RuleConditionItem
            :filter-conditions="item.ruleConditionList"
            @change-filterConditions="
              changeRule({
                key: 'update',
                value: { id: item.id, data: $event },
              })
            "
          />
        </template>
      </Panel>
    </Collapse>

    <section
      class="addConditionBtn"
      v-if="ruleList.length < 5"
      @click="changeRule({ key: 'add' })"
    >
      <img src="@/assets/icons/earlyWarningTarget/addCondition.svg" alt="" />
      <span>新增条件</span>
    </section>
  </div>
</template>

<script>
import RuleConditionItem from "./RuleConditionItem";
import {
  EARLY_WARNING_LIST,
  TARGET_LIST,
} from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/ruleModal";
import { mapActions } from "vuex";

export default {
  props: {
    ruleList: {
      type: Array,
      required: true,
    },
  },
  components: {
    RuleConditionItem,
  },
  computed: {
    // 默认展开的面板
    collapseDefaultShow() {
      return this.ruleList.map((ele) => ele.id);
    },
    ruleTitle() {
      return (index) => {
        return "阈值" + (index + 1);
      };
    },
    selectList() {
      return this.taskType === 1 ? EARLY_WARNING_LIST : TARGET_LIST;
    },
    ruleLabel() {
      return (level) =>
        this.selectList.find((ele) => ele.value === level).label;
    },
  },
  methods: {
    ...mapActions("indicator", [
      "setExpressionHtml",
      "setExpression",
      "setIndicatorTree",
    ]),
    /**
     * 添加/删除/更新规则
     * @param {String} key 类型（添加/删除/更新）
     * @param {Number} value 对应操作的载荷
     */
    changeRule({ key, value }) {
      this.$emit("change-rule", { key, value });
    },
  },
};
</script>

<style lang="less" scoped>
.filterCondition-container {
  width: 100%;
  height: 100%;
  /deep/.ruleWrapper {
    border: none;
    .ruleItemWrapper {
      background: rgba(134, 163, 230, 0.02);
      border: 1px solid rgba(134, 163, 230, 0.3);
      border-radius: 4px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .ivu-collapse-header {
        display: flex;
        align-items: center;
        padding: 0 18px 0 14px;
        > i {
          width: 14px;
          height: 14px;
          background: #2876ff;
          border-radius: 2px;
          color: #ffffff;
          margin-right: 0;
          &::before {
            font-size: 14px;
          }
        }
        > .ruleHeader {
          width: calc(~"100% - 24px");
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 10px;
          .headerLeft {
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: #555555;
            line-height: 18px;
            font-weight: 600;
          }
          .headerRight {
            display: flex;
            align-items: center;
            .ruleResult {
              .leftTitle {
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.65);
                letter-spacing: 0;
              }
              .ruleLevelWrapper {
                width: 90px;
                .ivu-select-selection {
                  border: none;
                }
              }
            }
            .deleteBtn {
              display: flex;
              align-items: center;
              margin-left: 14px;
              img {
                margin-right: 2px;
              }
              span {
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #3f73ff;
                letter-spacing: 0;
                line-height: 20px;
              }
            }
          }
        }
      }
      & > .ivu-collapse-header > i {
        transform: rotate(0deg);
      }
      &.ivu-collapse-item-active > .ivu-collapse-header > i {
        transform: rotate(-90deg);
      }
      .ivu-collapse-content {
        padding: 0 14px;
      }
    }
  }
  .addConditionBtn {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(134, 163, 230, 0.05);
    border: 1px dashed #3f73ff;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    img {
      margin-right: 4px;
    }
    span {
      font-family: MicrosoftYaHei;
      font-size: 14px;
      color: #3f73ff;
    }
  }
}
</style>
