<template>
  <div :class="['filter-condition-item', { single: isSingle }]">
    <img
      v-if="!isSingle"
      src="@/assets/icons/indicatorIcon/icon_or.svg"
      class="icon-or"
    />

    <slot :data="itemData" :is-single="isSingle">
      <!-- 指标名称 -->
      <span class="source">{{ itemData.name }}</span>

      <!-- 比较条件 -->
      <Select
        class="filter-condition-select condition-type"
        :value="itemData.conditionType"
        @on-change="onConditionTypeChange"
      >
        <Option
          v-for="item in filterList"
          :value="item.value"
          :key="item.value"
          >{{ item.label }}</Option
        >
      </Select>

      <Input
        class="filter-condition-input"
        :value="itemData.variableValue"
        @on-change="onVariableValueChange"
        @click.native="onClickSql"
      >
        <template #suffix v-if="itemData.showType">
          <span class="percent">%</span>
        </template>
      </Input>
    </slot>

    <!-- 操作按钮 -->
    <div class="buttons">
      <img
        :src="btnOrHover ? btnOrActive : btnOr"
        alt="或"
        @mouseenter="btnOrHover = true"
        @mouseleave="btnOrHover = false"
        @click="onAddItem"
      />
      <img
        v-if="showBtnAnd"
        :src="btnAndHover ? btnAndActive : btnAnd"
        alt="与"
        @mouseenter="btnAndHover = true"
        @mouseleave="btnAndHover = false"
        @click="onAddGroup"
      />
      <img
        v-if="showBtnDelete"
        :src="btnDeleteHover ? btnDeleteActive : btnDelete"
        alt="删除"
        @mouseenter="btnDeleteHover = true"
        @mouseleave="btnDeleteHover = false"
        @click="onDeleteItem"
      />
    </div>
  </div>
</template>

<script>
import btnDelete from "@/assets/icons/indicatorIcon/btn_delete.svg";
import btnDeleteActive from "@/assets/icons/indicatorIcon/btn_delete_active.svg";
import btnOr from "@/assets/icons/indicatorIcon/btn_or.svg";
import btnOrActive from "@/assets/icons/indicatorIcon/btn_or_active.svg";
import btnAnd from "@/assets/icons/indicatorIcon/btn_and.svg";
import btnAndActive from "@/assets/icons/indicatorIcon/btn_and_active.svg";
import { CONDITION_TYPE_LIST } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/ruleModal";
import { mapGetters, mapState } from "vuex";

export default {
  name: "FilterConditionItem",
  emits: [
    "on-add-item",
    "on-add-group",
    "on-delete-item",
    "on-condition-type-change",
    "on-variable-value-change",
    "on-click-sql",
  ],
  props: {
    itemData: Object,
    isSingle: Boolean, // 每个'与'是否只有单个条件
    showBtnAnd: Boolean,
    showBtnDelete: Boolean,
  },
  data() {
    return {
      btnDelete,
      btnDeleteActive,
      btnOr,
      btnOrActive,
      btnAnd,
      btnAndActive,
      btnDeleteHover: false,
      btnAndHover: false,
      btnOrHover: false,
      filterList: CONDITION_TYPE_LIST,
    };
  },
  computed: {
    ...mapGetters("indicator", ["columns"]),
    ...mapState("indicator", ["publicVariableList"]),
  },
  methods: {
    onConditionTypeChange(option) {
      this.$emit("on-condition-type-change", option);
    },
    onVariableValueChange(e) {
      this.$emit("on-variable-value-change", e.target.value);
    },
    onGlobalVariableChange(option) {
      this.$emit("on-variable-value-change", option);
    },
    onAddItem() {
      this.$emit("on-add-item");
    },
    onAddGroup() {
      this.$emit("on-add-group");
    },
    onDeleteItem() {
      this.$emit("on-delete-item");
    },
    onClickSql() {
      this.$emit("on-click-sql");
    },
  },
};
</script>

<style scoped lang="less">
.filter-condition-item {
  margin-left: 14px;
  display: flex;
  align-items: center;
  position: relative;

  + .filter-condition-item {
    margin-top: 8px;
  }

  .icon-or {
    width: 20px;
    height: 20px;
  }

  &::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background: rgba(16, 193, 36, 0.4);
    position: absolute;
    left: 26px;
  }

  /deep/ .filter-condition-select {
    .ivu-select-selection {
      border: 0;
      border-bottom: 1px solid #a0e7a8;
      border-radius: 0;
      box-shadow: none;
      width: inherit;
    }

    .ivu-select-selection .ivu-select-placeholder,
    .ivu-select-selection .ivu-select-selected-value {
      padding: 0;
    }

    &.condition-type {
      margin-left: 32px;
      width: 150px;
    }

    .ivu-select-arrow {
      margin-left: 22px;
    }
  }

  .source {
    margin-left: 20px;
    width: 180px;
  }

  &:not(.edit) /deep/ .filter-condition-select .ivu-select-arrow {
    display: none;
  }

  /deep/ .filter-condition-input {
    margin-left: 26px;
    width: 120px;

    .ivu-input {
      border: 0;
      border-bottom: 1px solid #a0e7a8;
      border-radius: 0;
      padding: 0;
      box-shadow: none;
    }
  }

  .buttons {
    margin-left: 16px;

    img {
      cursor: pointer;
    }

    img + img {
      margin-left: 10px;
    }
  }

  /deep/ .ivu-select-disabled .ivu-select-selection,
  /deep/ .ivu-input[disabled] {
    background: #fff;
    color: rgba(0, 0, 0, 0.85);
  }
}

.filter-condition-item.single {
  margin-left: 6px;

  /deep/ .filter-condition-input .ivu-input,
  /deep/ .filter-condition-select .ivu-select-selection {
    border-bottom: 1px solid #b7caff;
  }

  &:before {
    display: none;
  }
}
.percent{
  line-height: 32px;
}
</style>
