<template>
  <div>
    <Modal v-model="openModal" style="width: 501px;" @on-cancel="handleCloseDataScreen" :mask-closable="false"
           :closable="false">
      <div slot="header" style="  display: flex;justify-content: space-between; align-items: center">
        <span>数据筛选</span>
        <Icon type="md-close" size="18" v-if="!isCreate" @click="handleCloseDataScreen"></Icon>
        <Tooltip v-else theme="light" v-model="showToolTipClose">
          <Icon type="md-close" size="18"></Icon>
          <div slot="content" placement="top">
            <div style="padding: 20px 0; display: flex;justify-content: flex-start; align-items: center">
              <img :src="warningImg" style="margin-right: 5px"/>
              <div>取消后，将移除当前所选指标</div>
            </div>
            <div style="width: 100%; display: flex; justify-content: space-between; padding: 0 10px">
              <Button type="primary" class="toolTipBtn" ghost style="background: none"
                      @click="() => {this.showToolTipClose = !this.showToolTipClose}">返回
              </Button>
              <Button type="primary" class="toolTipBtn" @click="handleCloseDataScreen">确定</Button>
            </div>
          </div>
        </Tooltip>
      </div>
      <div class="dataScreenModal" id="dataScreenModal" @mousemove="handleSettingChecked">
        <Form :label-width="80" label-colon>
          <FormItem label="指标名称" v-for="item in dataFilterConditionShowList" :key="item.id">
            <div>{{ item.title }}</div>
            <div class="dataScreenConstants_parent" v-for="(ite, i) in item.filterCondition"
                 :key="ite.conditionId + ite.conditionVar + ite.varType">
              <div :class="{'dataScreenConstants': 'dataScreenConstants', 'empty': ite.varType === 'sql' && i !== 0 }"
                   aria-readonly="true">{{ ( ite.varType === 'sql' && i === 0) ? ite.sourceName : (ite.varType ===
                'vars' ? ite.sourceName : '') }}
              </div>
              <Tooltip class="dataScreenConstants" placement="top"
                       v-if="ite.varType === 'vars' || (ite.varType === 'sql' && i === 0)">
                <span slot="content">{{ ite.conditionLabel }}</span>
                <div aria-readonly="true" class="dataScreenConstants_type">{{ ite.conditionLabel }}</div>
              </Tooltip>
              <div aria-readonly="true" class="dataScreenConstants_type" v-if="ite.varType === 'sql' && i !== 0"></div>
              <input
                :class="{'dataScreenConstants_input': 'dataScreenConstants_input', 'borderFull': ite.varType === 'sql' && i !== 0}"
                :placeholder="ite.varType === 'sql' ? ite.placeholder : '请输入'"
                v-model="ite.value"
              />
              <Tooltip theme="light" placement="top-end" :transfer="true" :offset="10">
                <div slot="content">
                  <p>1、日期连接符支持“/”、“-”、“.”</p>
                  <p>2、多值或者区间值通过逗号“,”隔开</p>
                </div>
                <Icon style="padding-left: 5px;" type="ios-help-circle-outline" size="18"/>
              </Tooltip>
            </div>
          </FormItem>
        </Form>
      </div>
      <div slot="footer">
        <Button v-if="!isCreate" type="primary" ghost style="background: none" @click="handleCloseDataScreen">取消
        </Button>
        <Tooltip v-else theme="light" v-model="showToolTip" placement="top">
          <Button type="primary" ghost style="background: none; margin-right: 10px" @click="() => { return false }">取消
          </Button>
          <div slot="content" placement="top">
            <div style="padding: 20px 0; display: flex;justify-content: flex-start; align-items: center">
              <img :src="warningImg" style="margin-right: 5px"/>
              <div>取消后，将移除当前所选指标</div>
            </div>
            <div style="width: 100%; display: flex; justify-content: space-between; padding: 0 10px">
              <Button type="primary" ghost style="background: none" size="small"
                      @click="() => {this.showToolTip = !this.showToolTip}">返回
              </Button>
              <Button type="primary" size="small" @click="handleCloseDataScreen">确定</Button>
            </div>
          </div>
        </Tooltip>
        <Button type="primary" @click="handleSubmitDataScreen">确定</Button>
      </div>
    </Modal>
  </div>
</template>
<script>
  import FilterBase from '@/view/report/chart/basics/FilterBase'
  import { filterList } from '@/config/filterList'
  import warningImg from '@/assets/icons/dataSetList/warming.svg'
  import { mapActions } from 'vuex'

  export default {
    name: 'FilterData',
    extends: FilterBase,
    props: {
      currentChart: {
        type: Object,
        default: undefined
      },
      openModal: {
        type: Boolean,
        default: false
      },
      conditionData: {
        type: Array,
        default: () => ([])
      },
      isCreate: {
        type: Boolean,
        default: true
      }
    },
    watch: {
      openModal: {
        handler: function (val) {
          if (val) {
            this.handleClickOpenModal()
          }
        },
        deep: true
      }
    },
    data() {
      return {
        showDataScreeningModal: false,
        dataFilterConditionList: [],
        businessModelProperty: null,
        dontOpen: false,
        warningImg,
        showToolTip: false,
        showToolTipClose: false
      }
    },
    computed: {
      currentSelectChart() {
        //this.currentChart 为空的时候是右边设置栏里有一个变量筛选入口，
        //在那里是没有currentChart数据的，所以在那边的数据就只能从vuex里取；
        //而我在这里加这个变量是不改动别的组件的情况下来适配文本框编辑时不好传值到vuex里的问题；
        if (this.currentChart) {
          return this.currentChart
        } else {
          return this.$store.state.chart && this.$store.state.chart.currentSelectChart
        }
      },
      currentSelectChartData() {
        return this.currentSelectChart && this.currentSelectChart.data || {}
      },
      currentSelectChartIndicator() {
        return this.currentSelectChartData.indicator || []
      },
      currentSelectChartFilteredCondition() {
        return this.currentSelectChart.data.configData && this.currentSelectChart.data.configData.filteredCondition
      },
      dataFilterConditionShowList() {
        return _.filter(this.dataFilterConditionList, item => item.show)
      }
    },
    mounted() {
      this.getBusinessModelList()
    },
    methods: {
      ...mapActions(['setChartDeactivation']),
      handleSettingChecked() {
        this.setChartDeactivation(true)
      },
      //获取所有businessModel
      async getBusinessModelList() {
        this.loading = true
        let res = await this.getAllBusinessModelList()
        const { data } = res.data
        if (res.status === 200) {
          this.allBusinessModel = data
        }
      },
      buildFilterConditionData(sourceName, sourceId, conditionLabel, conditionId, conditionVar, varType, parent) {
        let obj = {
          sourceName,
          sourceId,
          conditionLabel,
          conditionId,
          conditionVar,
          placeholder: conditionVar,
          varType,
          value: ''
        }
        parent.filterCondition.push(obj)
      },
      //模态框关闭
      handleCloseDataScreen() {
        this.$emit('fa-close', false)
      },
      //提交
      handleSubmitDataScreen() {
        let filteredConditionData = []
        this.dataFilterConditionList.forEach(item => {
          let temp = []
          //每一个条目
          const { id, type, filterCondition } = item
          //创建变量对象
          let obj = {
            id: id.split('-')[0],
            type,
            useCompare: true,
            variables: {}  //
          }
          filterCondition.forEach(it => {
            obj.variables[it.conditionVar] = it.value
          })
          temp.push(obj)
          filteredConditionData.push({ options: [item], variableList: temp })
        })
        let configData = this.currentSelectChart.data.configData
        if (configData.hasOwnProperty('filteredCondition')) {
          let { filteredCondition } = configData
          for (let i = filteredCondition.length - 1; i >= 0; i--) {
            let item = filteredCondition[i]
            filteredConditionData.forEach(it => {
              if (item.options[0].id === it.options[0].id) {
                filteredCondition.splice(i, 1)
              }
            })
          }
        } else {
          this.$set(configData, 'filteredCondition', [])
        }
        configData.filteredCondition = [...configData.filteredCondition, ...filteredConditionData]
        this.$emit('fa-ok', false)
      },
      //模态框开启事件
      handleClickOpenModal() {
        this.dataFilterConditionList = []
        if (this.isCreate) {
          this.buildScreenData(this.conditionData)
        } else {
          this.checkDifference()
        }
      },
      //交叉判断
      checkDifference() {
        //获取各组id
        let expectInd = [], baseInd = []
        this.currentSelectChartIndicator.forEach(item => {
          if (item.hasOwnProperty('baseIndicators') && item.baseIndicators) {
            baseInd.push(item.id)
            expectInd = [...expectInd, ...item.baseIndicators.split(',')]
          }
        })
        let chooseIndicators = this.currentSelectChartIndicator.map(item => (item.id)),
          historyFiltered = this.currentSelectChartFilteredCondition.map(item => (item.options[0].id))
        chooseIndicators = Array.from(new Set([...chooseIndicators, ...expectInd]))
        historyFiltered = [...historyFiltered, ...baseInd]
        // //取出相同的
        let publicIds = [...chooseIndicators, ...historyFiltered].filter((item, i, arr) => (arr.indexOf(item) != arr.lastIndexOf(item)))
        // //过滤出不同的
        const diffHistory = historyFiltered.filter(item => !publicIds.includes(item))
        // //合并不同的
        let resData = JSON.parse(JSON.stringify(this.currentSelectChartFilteredCondition))
        if (diffHistory.length > 0) {
          diffHistory.forEach(item => {
            for (let i = resData.length - 1; i >= 0; i--) {
              let it = resData[i].options[0].id
              if (item === it) {
                resData.splice(i, 1)
              }
            }
          })
        }
        const var_query = this.getVarQueryConditionFromReportUrl()
        resData.forEach(item => {
          // 如果报告url中存在变量筛选条件，需要把条件值回显到对应指标的变量条件里20220420
          if (var_query && Object.keys(var_query).length) {
            item.options.forEach(option => {
              const { filterCondition } = option
              filterCondition.forEach(con => {
                if (con.varType === 'vars' && var_query[con.conditionVar]) {
                  con.value = var_query[con.conditionVar]
                }
              })
            })
          }
          this.dataFilterConditionList = JSON.parse(JSON.stringify([...this.dataFilterConditionList, ...item.options]))
        })
      },
      getVarQueryConditionFromReportUrl() {
        const query = this.$route.query
        let var_query = {}
        Object.keys(query).forEach(key => {
          if (key.startsWith('var')) {
            var_query[key] = query[key]
          }
        })
        return var_query
      },
      //构建对象
      buildScreenData(indicatorGroup) {
        indicatorGroup.forEach((item, i) => {
          const { id, conditionGroups, businessModelId, title, type } = item
          //指标对应的业务模型
          let businessModelProperty = this.allBusinessModel.find(item => (item.id === businessModelId)),
            obj = { id, title, filterCondition: [], show: true, type }
          if (conditionGroups.length > 0) {
            conditionGroups.forEach(it => {
              if (it.conditions.length !== 0) {
                it.conditions.forEach(ite => {
                  /**
                   * 分割value
                   * value: x|string
                   * **/
                  let val = [ite.value.slice(0, ite.value.indexOf('|')), ite.value.slice(ite.value.indexOf('|') + 1)],
                    conditionVar
                  if (['3', '2', '4'].includes(val[0])) {
                    if (val[0] === '2' || val[0] === '4') {
                      //变量
                      conditionVar = val[1].slice(2, val[1].length - 1)
                    } else if (val[0] === '3') {
                      //sql
                      const reg = /\${(.+?)\}/gi
                      let allVar = Array.from(new Set(val[1].match(reg)))
                      if (allVar !== null && allVar.length !== 0) {
                        conditionVar = allVar.map(its => (its.slice(2, its.length - 1)))
                        conditionVar = conditionVar.filter(item => item !== 'businessDate')
                        // obj.sqlVarName = conditionVar
                      }
                      if (conditionVar === undefined || conditionVar.length === 0) {
                        obj.show = false
                        return
                      }
                    }
                    const { sourceId, conditionType } = ite
                    const targetProperty = businessModelProperty.businessModelProperties.find(prop => Number(sourceId) === prop.id),
                      { name } = targetProperty,
                      conditionLabel = filterList.find(prop => (prop.value === conditionType)),
                      { label } = conditionLabel
                    if (Array.isArray(conditionVar)) {
                      conditionVar.forEach(it => {
                        this.buildFilterConditionData(name, sourceId, label, conditionType, it, 'sql', obj)
                      })
                    } else {
                      this.buildFilterConditionData(name, sourceId, label, conditionType, conditionVar, 'vars', obj)
                    }
                  }
                })
              } else {
                obj.show = false
              }
            })
          } else {
            obj.show = false
          }
          obj.filterCondition.length !== 0 ? obj.show = true : ''
          this.dataFilterConditionList.push(obj)
        })
        console.log(this.dataFilterConditionList, 'dataFilterConditionList...')
      }
    }
  }
</script>
<style scoped>
  .disPanelBox {
    padding: 10px 10px 10px 20px;
    color: black;
  }

  /deep/ .dataScreenModal {
    max-height: 521px;
    min-height: 200px;
    overflow-y: auto;
    /*background: red;*/
    width: 100%;
    /*padding: 24px;*/
  }

  /deep/ .dataScreenConstants_parent {
    width: 329px;
    height: 32px;
    display: flex;
    margin-top: 15px;
  }

  /deep/ .dataScreenConstants {
    width: 30%;
    background: #f5f5f5;
    border: 1px solid #d9d9d9;
    text-align: center;
  }

  .empty {
    width: 30%;
    background: none;
    border: none;
  }

  /deep/ .dataScreenConstants_type {
    width: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 4px;
  }

  .emptyType {
    background: none;
  }

  /deep/ .dataScreenConstants:nth-of-type(1) {
    border-radius: 4px 0 0 4px;
    border-right: 0;
    width: 30%;
  }

  /deep/ .dataScreenConstants_input {
    border: 1px solid #d9d9d9;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    padding: 0 10px;
    width: 40%
  }

  .borderFull {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  /deep/ .toolTipBtn {
    width: 72px;
    height: 32px;
    border-radius: 2px;
    background: #3f73ff;
    border: 1px solid #3f73ff;
  }

</style>
<style scoped lang="less">
  /deep/ .dataScreenConstants .ivu-tooltip-rel {
    width: 100%;
  }
</style>
