<template>
 <div>
   <div style="margin-top: 10px">指标项</div>
   <Select style="width: 100%;margin-top: 10px;" v-model="selectIndicator" clearable>
     <Option v-for="item in currentSelectChartIndicators" :key="item.id" :value="item.id">{{item.title}}</Option>
   </Select>

   <div style="margin-top: 10px">TOP值</div>
   <div style="display: flex;align-items: center;margin-top: 5px">
     <Input type="number" style="width: calc(100% - 60px)" v-model="topValue" @on-change="onInputTopValueChange"/>
     <Tooltip content="设置显示指标值排名前N的成员" theme="light" placement="bottom-end">
       <Icon style="padding-left: 5px;padding-right: 16px;" type="ios-help-circle-outline" size="16" />
     </Tooltip>
   </div>

 </div>
</template>

<script>
export default {
  name: "IndicatorTop",
  data (){
    return {
      topRadioValue: '全部',
      topValue: null,
      selectIndicator: null,
      radioTopGroupOptions: [{
        value: -1,
        label: '全部'
      }, {
        value: 10,
        label: 'Top10'
      },{
        value: 5,
        label: 'Top5'
      },{
        value: 3,
        label: 'Top3'
      },{
        value: 1,
        label: 'Top1'
      }]
    }
  },
  computed: {
    currentSelectChart() {
      const currentSelectChart = this.$store.state.chart && this.$store.state.chart.currentSelectChart
      return currentSelectChart
    },
    currentSelectChartIndicators: function () {
      return this.currentSelectChart
        && this.currentSelectChart.data
        && this.currentSelectChart.data.indicator
    },
  },
  methods:{
    onTopRadioValueChange (e) {
      const topObj = this.radioTopGroupOptions.find(item => item.label === e)
      let topValue = -1
      if (topObj) {
        topValue = topObj.value
        // 通知图表数据刷新
        this.$set(this.currentSelectChart.data.configData, 'topN', topValue)
      }
    },
    onInputTopValueChange(e) {
      const topValue = e.target.value
      // 通知图表数据刷新
      this.$set(this.currentSelectChart.data.configData, 'topN', topValue)
    },
  }
}
</script>

<style scoped>

</style>
