<template>
  <div>
    <Collapse v-model="collapseVal" simple>
      <Panel name="indicatorSetting">
        指标设置
        <div slot="content">
          <div
            class="tableList"
            v-if="
              currentSelectChart.data.indicator.length &&
              currentSelectChart.data.indicator[0].showType === 0
            "
          >
            <span class="itemLabel">数值单位</span>
            <Tooltip
              content="自动设置：即系统按照原始数据位数，≥5位，显示万；≥8位，显示亿"
              max-width="100px"
              placement="top-start"
            >
              <Icon type="ios-help-circle-outline" style="font-size: 16px" />
            </Tooltip>
            <Select
              style="width: 60%"
              aria-placeholder="请选择(非必选)"
              v-model="unit"
              @on-change="onUnitChange()"
              clearable
            >
              <Option value="auto">自动设置</Option>
              <Option value="original">原始值</Option>
              <Option value="wan">万</Option>
              <Option value="yi">亿</Option>
            </Select>
          </div>
          <div class="tableList">
            <span class="itemLabel">数值格式</span>
            <Select
              style="width: 60%"
              v-model="currentSelectChart.data.configData.dayChainCompareFixedNum"
              clearable
            >
              <Option value="####">####</Option>
              <Option value="#,###">#,###</Option>
              <Option value="####.##">####.##</Option>
              <Option value="#,###.##">#,###.##</Option>
            </Select>
          </div>
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";

export default {
  name: "GaugeDataConfig",
  mixins: [ mixin ],
  data() {
    return {
      collapseVal: ["indicatorSetting"],
      buttonText: {
        num: "123",
        pre: "%",
      },
      unit:'auto'
    };
  },
  computed: {},
  methods: {
    onUnitChange(){
      this.refreshCurrentSelectChartConfigData('numericalUnit', this.unit)
    }
  },
};
</script>

<style scoped>
.item {
  display: flex;
  align-items: center;
}
.item .itemLabel {
  width: 80px;
  padding: 10px 6px 10px 0;
  box-sizing: border-box;
}
.tableList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.tableList_children {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
</style>
