<template>
  <div class="number-format">
    <div class="config-item">
      <span>数值格式</span>
      <Select class="content" v-model="chartConfigData.showType" transfer style="width: 60%" @on-change="handleShowTypeChange">
        <Option v-for="(item, index) in numberFormatList" :key="index" :value="item.value">{{ item.name }}</Option>
      </Select>
    </div>
    <div class="config-item" v-if="showNumberUnit && chartConfigData.showType === 0">
      <span>数值单位</span>
      <Select class="content" v-model="chartConfigData.numberUnit" transfer style="width: 60%" @on-change="handleNumberUnitChange">
        <Option v-for="(item, index) in numberUnitList" :key="index" :value="item.value">{{ item.name }}</Option>
      </Select>
    </div>
    <div class="config-item">
      <span>前缀/后缀</span>
      <div class="content" style="width: 60%; display: flex;">
        <Input class="text-input" v-model="chartConfigData.prefix" :maxlength="20" placeholder="请输入前缀" />
        <Input class="text-input" v-model="chartConfigData.suffix" :maxlength="20" placeholder="请输入后缀" />
      </div>
    </div>
    <div class="config-item">
      <span>小数位数</span>
      <div class="content" style="width: 60%">
        <div style="position: relative">
          <span class="inputNumberTitle">小数位数</span>
          <InputNumber
            ref="inputNumber"
            v-model="chartConfigData.decimalPlaces"
            class="decimalPlacesClass"
            :max="6" :min="0"
            :editable="false"
            @on-change="handleInputNumberChange">
          </InputNumber>
        </div>
      </div>
    </div>
    <div class="config-item thousands-separator">
      <Checkbox v-model="chartConfigData.thousandsSeparator" @on-change="handleThousandsSeparatorChange">使用千位分隔符</Checkbox>
    </div>
  </div>
</template>

<script>
import { INDICATOR_TYPES, NUMBER_UNIT_LIST } from '@/view/report/indicator/constant'
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      numberFormatList: INDICATOR_TYPES,
      numberUnitList: NUMBER_UNIT_LIST,
    }
  },
  inject: ['recordSnapshot'],
  props: {
    chartConfigData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    showNumberUnit: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    ...mapGetters(['currentSelectIndicators']),
  },
  watch: {
    currentSelectIndicators(val, oldVal) {
      if (!val.length) {
        // 指标清空时，重置指标设置为默认值
        this.$set(this.chartConfigData, 'showType', 0)
        this.$set(this.chartConfigData, 'numberUnit', 'original')
        this.$set(this.chartConfigData, 'prefix', '')
        this.$set(this.chartConfigData, 'suffix', '')
        this.$set(this.chartConfigData, 'decimalPlaces', 2)
        this.$set(this.chartConfigData, 'thousandsSeparator', false)
      } else if (!oldVal.length && val.length === 1) {
        // 当指标从0增加为1时，指标设置为第一个指标的配置
        let firstIndicator = this.currentSelectIndicators[0]
        let configData = JSON.parse(firstIndicator.configData)
        this.$set(this.chartConfigData, 'showType', configData.showType)
        this.$set(this.chartConfigData, 'numberUnit', configData.numberUnit)
        this.$set(this.chartConfigData, 'prefix', configData.prefix)
        this.$set(this.chartConfigData, 'suffix', configData.suffix)
        this.$set(this.chartConfigData, 'decimalPlaces', configData.decimalPlaces)
        this.$set(this.chartConfigData, 'thousandsSeparator', configData.thousandsSeparator)
      }
    },
  },
  mounted() {
    // 首次加载，如果没有配置，给一个默认值
    this.initChartConfigValue('showType',  0)
    this.initChartConfigValue('numberUnit', 'original')
    this.initChartConfigValue('prefix', '')
    this.initChartConfigValue('suffix', '')
    this.initChartConfigValue('decimalPlaces', 2)
    this.initChartConfigValue('thousandsSeparator', false)
  },
  methods: {
    /**
     * 初始化图表某一项配置
     * @param key
     * @param value
     */
    initChartConfigValue(key, value) {
      if (!this.chartConfigData.hasOwnProperty(key)) {
        this.$set(this.chartConfigData, key, value)
      }
    },

    handleInputNumberChange(val) {
      if(val == null) {
        this.$refs.inputNumber.setValue(2)
      }
      this.recordSnapshot()
    },
    handleShowTypeChange() {
      // this.recordSnapshot()
    },
    handleNumberUnitChange() {
      this.recordSnapshot()
    },
    handleThousandsSeparatorChange() {
      this.recordSnapshot()
    },
  }
}
</script>

<style lang="less" scoped>
.number-format {
  padding: 4px 0 12px 0;
}

.config-item {
  display: flex;
  align-items: center;

  > span {
    width: 60px;
  }

  .content {
    flex: 1;

    .text-input + .text-input {
      margin-left: 6px;
    }
  }

  + .config-item {
    margin-top: 12px;
  }
}

.thousands-separator {
  padding-left: 60px;
}

.inputNumberTitle {
  position: absolute;
  z-index: 1;
  left: 8px;
  color: rgba(0,0,0,0.25);
  line-height: 30px;
}
.decimalPlacesClass.ivu-input-number {
  width: 100%;
}
.decimalPlacesClass.ivu-input-number /deep/ .ivu-input-number-handler-wrap {
  opacity: 1;
}
.decimalPlacesClass.ivu-input-number /deep/ .ivu-input-number-input-wrap .ivu-input-number-input {
  padding-left: 64px;
}
</style>
