<template>
  <Collapse v-model="collapseVal" simple>
    <Panel name="privateDate">
      <span class="title"><span>私有日期设置</span>
        <Checkbox style="float: right; margin-right: 16px" :true-value="trueValue" :false-value="falseValue"
                  v-model="currentSelectConfigData.displayPrivateDate"
                  @on-change="handleShowPrivateDate($event)"
                  @click.native.stop></Checkbox>
      </span>
      <div slot="content">
        <div style="display: flex;align-items: center;" v-show="currentSelectConfigData.displayPrivateDate">
          <div style="margin-right: 10px;">是否关联公共日期:</div>
          <RadioGroup v-model="currentSelectConfigData.linkPublicDate" @on-change="handleLinkPublicDate($event)">
            <Radio :label="trueValue" :disabled="disableLinkedPublicDate">
              <span>是</span>
            </Radio>
            <Radio :label="falseValue">
              <span>否</span>
            </Radio>
          </RadioGroup>
        </div>
        <div style="margin-top: 15px;display: flex;align-items: center;"
             v-show="currentSelectConfigData.linkPublicDate">
          <RadioGroup v-model="currentSelectConfigData.dateOrRange" @on-change="handleDateOrRange($event)">
            <Radio :label="dateBefore">
              <span>{{dateBeforeShow}}-</span>
              <InputNumber style="width: 55px;" :min="1" v-model="currentSelectConfigData.dateBefore"
                           :disabled="currentSelectConfigData.dateOrRange===0"
                           @on-change="calculateDate($event, false)"/>
            </Radio>
            <Radio :label="beforeRange">
              <span>连续</span>
              <InputNumber style="width: 55px;" :min="1" v-model="currentSelectConfigData.beforeRange"
                           :disabled="currentSelectConfigData.dateOrRange===1"
                           @on-change="calculateDate($event, false)"/> {{dateBeforeShow}}
            </Radio>
          </RadioGroup>
        </div>
        <div style="overflow: visible">
          <ReportCalendar
            :editable="true"
            style="margin-top: 15px;display: flex;align-items: center;"
            v-show="currentSelectConfigData.displayPrivateDate && !currentSelectConfigData.linkPublicDate"
            :need-init="false"
            ref="privateDateCalendar"
            @dateConfirm="dateConfirm"
          />
        </div>
      </div>
    </Panel>
  </Collapse>

</template>

<script>
  import moment from 'moment'
  import { mapActions, mapGetters } from 'vuex'
  import ReportCalendar from '../../../components/report-calendar/ReportCalendar'
  import { getChartPrivateDate } from '../../../../utils/chartDate'

  export default {
    name: 'PrivateDate',
    components: { ReportCalendar },
    data() {
      return {
        trueValue: 1,
        falseValue: 0,
        collapseVal: ['privateDate'],
        dateBeforeValue: 1,
        beforeRangeValue: 1,
        dateBefore: 1,
        beforeRange: 0,
        editable: false,
      }
    },
    inject: ['recordSnapshot'],
    computed: {
      ...mapGetters([
        'currentSelectChart',
        'currentSelectChartData',
        'currentSelectConfigData']),
      dateBeforeShow() {
        let periodType = this.$store.state.chart.reportDate[3]
        switch (periodType) {
          case '2':
            return 'D'
          case '3':
            return 'W'
          case '4':
            return 'M'
          case '7':
            return 'Y'
        }
        return 'D'
      },
      disableLinkedPublicDate() {
        let periodType = this.$store.state.chart.reportDate[3]
        return periodType === '99'
      }
    },
    mounted() {
      if (this.currentSelectConfigData.linkPublicDate
        && this.$store.state.chart.reportDate.length === 4) {
        this.calculateDate()
      }
    },
    methods: {
      ...mapActions(['setCurrentSelectChart']),
      handleShowPrivateDate(e) {
        this.collapseVal = e ? ['privateDate'] : []
        // 格式转化，字符串转布尔类型
        let showPrivateDate = e
        // 不显示的时候需要取消关联公共日期
        if (!showPrivateDate) {
          this.$set(this.currentSelectConfigData, 'linkPublicDate', 0)
          this.$set(this.currentSelectChartData, 'startDate', '')
          this.$set(this.currentSelectChartData, 'endDate', '')
          this.$set(this.currentSelectChartData, 'dateRangeValue', '')
          this.recordSnapshot()
        } else {
          if (this.currentSelectConfigData.linkPublicDate) {
            this.calculateDate()
          } else {
            this.handleLinkPublicDate(0)
          }
        }
      },
      handleLinkPublicDate(e) {
        // 格式转化，字符串转布尔类型
        let linkPublicDate = e
        this.$set(this.currentSelectConfigData, 'linkPublicDate', linkPublicDate)
        // 从X天前切换到前X天
        let startDate, endDate, periodType
        if (linkPublicDate === 0) {
          startDate = this.currentSelectConfigData.fixedStartDate
          endDate = this.currentSelectConfigData.fixedEndDate
          periodType = this.currentSelectConfigData.fixedPeriodType
          if (!startDate || !endDate) {
            let publicDate = this.$store.state.chart.reportDate
            startDate = publicDate[0]
            endDate = publicDate[1]
            periodType = publicDate[3]
            this.currentSelectConfigData.fixedPeriodType = periodType
            this.currentSelectConfigData.fixedStartDate = startDate
            this.currentSelectConfigData.fixedEndDate = endDate
          }
          this.$refs.privateDateCalendar.update({
            dateRangeOption: periodType, startDate, endDate
          })
          this.setChartPrivateDate(startDate, endDate)
        } else if (linkPublicDate === 1) {
          this.calculateDate()
        }
      },

      setChartPrivateDate(startDate, endDate, noRecordSnapshot) {
        const dateRangeValue = [startDate, endDate]
        // 更新对应图表的私有日期
        this.$set(this.currentSelectChartData, 'startDate', startDate)
        this.$set(this.currentSelectChartData, 'endDate', endDate)
        this.$set(this.currentSelectChartData, 'dateRangeValue', dateRangeValue)
        if (!noRecordSnapshot) {
          this.recordSnapshot()
        }
      },

      handleDateOrRange(e) {
        // 格式转化，字符串转布尔类型
        let dateOrRange = e
        this.$set(this.currentSelectConfigData, 'dateOrRange', dateOrRange)
        // 取消关联公共日期需要重置交易制度值
        this.calculateDate()
      },

      calculateDate(event, noRecordSnapshot) {
        let [publicStartDate, publicEndDate, , periodType] = this.$store.state.chart.reportDate
        let { startDate, endDate } = getChartPrivateDate(this.currentSelectConfigData, periodType, publicStartDate, publicEndDate)
        this.setChartPrivateDate(startDate, endDate, noRecordSnapshot)
      },

      dateConfirm(startDate, endDate, period) {
        if (this.currentSelectConfigData.linkPublicDate === 0) {
          startDate = moment(startDate).format('YYYY-MM-DD')
          endDate = moment(endDate).format('YYYY-MM-DD')
          this.$set(this.currentSelectConfigData, 'fixedStartDate', startDate)
          this.$set(this.currentSelectConfigData, 'fixedEndDate', endDate)
          this.$set(this.currentSelectConfigData, 'fixedPeriodType', period)
          this.setChartPrivateDate(startDate, endDate)
        }
      },
    },
    watch: {
      currentSelectChart: function (val, oldval) {
        // 撤销、重做操作无需记录快照
        this.calculateDate(null, true)
      },
    }
  }
</script>

<style scoped lang="less">
.ivu-radio-wrapper {
  margin-right: 6px;
}
</style>
