<template>
  <Collapse v-model="sortCollapseVal" simple>
    <Panel name="sortSetting">
      排序设置
      <div slot="content">
        <div class="item">
          <span class="itemLabel">是否排序</span>
          <RadioGroup v-model="currentSelectChart.data.configData.isSort" @on-change="refreshCurrentSelectChartConfigData('isSort', $event)">
            <Radio label="true">
              <span>是</span>
            </Radio>
            <Radio label="false">
              <span>否</span>
            </Radio>
          </RadioGroup>
        </div>
        <div v-if="currentSelectChart.data.configData.isSort === 'true'"
          class="item"
          style="flex-wrap: wrap">
          <div>
            <span class="itemLabel">排序依据</span>
            <Select v-model="currentSelectChart.data.configData.sortBy" style="width: 120px" @on-change="handleSortByChange($event)">
              <Option v-for="item in sortByList"  :key="item.value"  :value="item.value">{{ item.title }}</Option>
            </Select>
          </div>
          <div>
            <span class="itemLabel">次序</span>
            <Select v-model="currentSelectChart.data.configData.sortOrder" style="width: 120px" @on-change="handleSortOrderChange($event)">
              <Option value="asc">升序</Option>
              <Option value="desc">降序</Option>
            </Select>
          </div>
        </div>
      </div>
    </Panel>
  </Collapse>
</template>

<script>
import { mapGetters } from 'vuex'
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";
export default {
  data() {
    return {
      sortCollapseVal: ['sortSetting']
    }
  },
  mixins: [ mixin ],
  computed: {
    ...mapGetters([
      'currentSelectChart',
      'currentSelectDimensions',
      'currentSelectIndicators']),
    sortByList() {
      let dimensionSortByList = []
      let indicatorSortByList = []
      let totalSortByList = []
      if(this.currentSelectDimensions && this.currentSelectDimensions.length){
        dimensionSortByList = this.currentSelectDimensions.map(item => {
          let obj = {}
          obj.value = 'dimension_' + item
          obj.title = this.$store.state.chart.dimensions.find(dimensionItem => dimensionItem.id === item.toString())?.name
          return obj
        })
      }
      if(this.currentSelectIndicators && this.currentSelectIndicators.length){
        indicatorSortByList = this.currentSelectIndicators.map(item => {
          let obj = { ...item, value: 'indicator_' + item.id }
          return obj
        })
      }
      if((this.currentSelectChart.id === 'SimpleLine' && this.currentSelectChart.style.lineType === 'stack') ||
        (this.currentSelectChart.id === 'SimpleBar' && this.currentSelectChart.style.barType === 'stack')) {
        totalSortByList.push({ value: 'total', title: '堆积合计' })
      }
      // 避免维度和指标id重复，添加前缀dimension_ indicator_
      return dimensionSortByList.concat(indicatorSortByList).concat(totalSortByList)
    }
  },
  methods: {
    handleSortByChange(e) {
      // this.refreshCurrentSelectChartConfigData('sortBy', e)
    },
    handleSortOrderChange(e) {
      // this.refreshCurrentSelectChartConfigData('sortOrder', e)
    },
  }
}
</script>

<style lang="less" scoped>
.item {
  display: flex;
  align-items: center;
  .itemLabel {
    display: inline-block;
    width: 56px;
    padding: 10px 6px 10px 0;
    box-sizing: border-box;
  }
}
</style>
