<template>
  <Modal
    :value="showThreshold"
    title="阈值设置"
    width="800"
    @on-cancel="onCancel"
    footer-hide
  >
    <i-switch
      size="large"
      v-model="indicatorThresholdData.isOpen"
      @on-change="onSwitchChange"
    >
      <span slot="open">启用</span>
      <span slot="close">关闭</span>
    </i-switch>
    <div class="filterCondition-container">
      <FilterCondition :rule-list="ruleList" @change-rule="changeRule" />
    </div>
    <section class="actionBtn">
      <div class="cancelBtn" @click="onCancel">取消</div>
      <div class="confirmBtn" @click="onOk">确认</div>
    </section>
  </Modal>
</template>

<script>
import FilterCondition from "./FilterCondition";
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";
import { deepCopy } from "@/utils/common";
import { v4 as uuidv4 } from "uuid";

export default {
  name: "ThresholdModal",
  mixins: [mixin],
  components: {
    FilterCondition,
  },
  props: {
    showThreshold: {
      type: Boolean,
      required: true,
    },
    indicatorThresholdData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      colorObj: {
        1: "#F46E64",
        2: "#F78E3D",
        3: "#FFCE3E",
        4: "#4AA9EE",
        5: "#3DBD7D",
      },
    };
  },
  created() {},
  computed: {
    ruleList() {
      return this.indicatorThresholdData.ruleList;
    },
  },
  methods: {
    changeRule({ key, value }) {
      if (key === "add") {
        const id = uuidv4();
        const FILTER_CONDITION_ITEM = {
          conditionType: null,
          variableValue: null,
          name: this.indicatorThresholdData.name,
          showType: this.indicatorThresholdData.showType,
        };
        this.ruleList.push({
          id,
          level: -1,
          ruleConditionList: [[deepCopy(FILTER_CONDITION_ITEM)]],
          color: this.colorObj[this.ruleList.length + 1],
          icon: "noIcon",
          collapse: false,
        });
      } else if (key === "del") {
        const delIndex = this.ruleList.findIndex((ele) => ele.id === value);
        this.ruleList.splice(delIndex, 1);
      } else if (key === "update") {
        const { id, data } = value;
        this.ruleList.forEach((ele) => {
          if (ele.id === id) {
            ele.ruleConditionList = data;
          }
        });
      }
    },
    judgeFullRule() {
      let flag = true;
      this.ruleList.forEach((rule) => {
        rule.ruleConditionList.forEach((ele) => {
          ele.forEach((item) => {
            // if()
            const exp = /^[+-]?\d*(\.\d*)?(e[+-]?\d+)?$/;
            if (item.conditionType && exp.test(item.variableValue)) {
            } else {
              flag = false;
            }
          });
        });
      });
      return flag;
    },
    onSwitchChange() {},
    onCancel() {
      this.$emit("closeModal");
    },
    onOk() {
      const ruleType = this.judgeFullRule();
      if (!ruleType) {
        this.$Message.warning("存在未填写或者不正确阈值！");
        return;
      }
      // console.log("this.ruleList", this.ruleList);
      const ind = this.indicatorThresholdData;
      this.$set(ind, "ruleList", this.ruleList);
      const configData = this.currentSelectIndicators;
      let matchItem = configData.find((indItem) => indItem.id === ind.id);
      this.$set(matchItem, "indicatorThresholdData", ind);
      this.$emit("closeModal");
    },
  },
};
</script>

<style lang="less" scoped>
.filterCondition-container {
  margin-top: 20px;
}
.ruleConditionItem-container {
  width: 100%;
  height: 100%;
  .filter-condition-group-item {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
    &::before {
      content: "";
      display: block;
      width: 3px;
      height: 100%;
      background: rgba(72, 121, 255, 0.3);
      position: absolute;
      left: 26px;
    }
    .icon-and {
      width: 20px;
      height: 20px;
    }

    .filter-condition-item {
      // 表达式
      /deep/.filter-condition-select.expression,
      /deep/.filter-condition-select.expression-target {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .indicator {
          img {
            margin-right: 4px;
            vertical-align: bottom;
          }
          span {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #3f73ff;
          }
        }
        .operator {
          display: inline-block;
          height: 24px;
          padding: 6px 0;
          margin: 0 7px;
          vertical-align: bottom;
        }
      }
    }
  }
}
.actionBtn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  border-top: 1px solid #e8eaec;
  padding: 12px 18px 2px 18px;
  .cancelBtn,
  .confirmBtn {
    width: 72px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
  }
  .cancelBtn {
    border: 1px solid rgba(217, 217, 217, 1);
    margin-right: 16px;
    color: #949494;
  }
  .confirmBtn {
    background: #3f73ff;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ffffff;
  }
}
</style>
