<template>
  <Modal
    :value="value"
    title="恢复继承权限"
    width="300"
    footer-hide
    @on-cancel="onCancel">
    <Checkbox v-model="viewAuth" @on-change="onViewChange" v-if="rightTab !== 'personnelManagement'">查看权限</Checkbox>
    <Checkbox v-model="authAuth" :disabled="viewAuth">授权权限</Checkbox>
    <div class="footer">
      <Button type="primary" ghost @click="onCancel">取消</Button>
      <Button type="primary" @click="onOk">确定</Button>
    </div>
  </Modal>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'RestoreAuthModal',
  props: {
    value: Boolean,
  },
  data() {
    return {
      viewAuth: false,
      authAuth: false,
    }
  },
  computed: {
    ...mapState('authorizationManagement', ['rightTab']),
  },
  watch: {
    // 模态框关闭时，清空checkbox
    value(val) {
      if (!val) {
        this.viewAuth = false
        this.authAuth = false
      }
    },
  },
  methods: {
    /**
     * 勾选查看权限，授权权限也必须勾选
     * @param value
     */
    onViewChange(value) {
      if (value) {
        this.authAuth = true
      }
    },

    /**
     * 关闭
     */
    onCancel() {
      this.$emit('input', false)
    },

    /**
     * 确定
     */
    onOk() {
      // 人员管理只有授权权限
      if ((this.rightTab === 'personnelManagement' && !this.authAuth) || (this.rightTab !== 'personnelManagement' && !this.viewAuth && !this.authAuth)) {
        this.$Message.warning('请勾选一个权限！')
        return
      }
      this.$emit('on-ok', {
        viewAuth: this.viewAuth,
        authAuth: this.authAuth,
      })
    },
  },
}
</script>

<style lang="less" scoped>
.ivu-checkbox-wrapper {
  display: block;

  + .ivu-checkbox-wrapper {
    margin-top: 12px;
  }
}

.footer {
  margin-top: 24px;
  text-align: right;

  button + button {
    margin-left: 12px;
  }
}
</style>
