<template>
  <Modal
    class-name="expressionModal-container composite-indicator-expression-modal"
    :value="showExpressionModal"
    title="表达式"
    width="900"
    :loading="loading"
    @on-cancel="onCancel"
    @on-ok="onCompositeIndicatorExpressionOk"
  >
    <CompositeIndicatorExpression :open-modal="showExpressionModal" hideFunSelect showIndicatorIcon ref="compositeIndicatorExpression" />
  </Modal>
</template>

<script>
import CompositeIndicatorExpression from "@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorEdit/CompositeIndicatorExpressionBak.vue";
import expression from "@/view/earlyWarningTarget/earlyWarningTargetIndex/mixin/expression";

export default {
  mixins: [expression],
  props: {
    showExpressionModal: {
      type: Boolean,
      required: true
    }
  },
  components: {
    CompositeIndicatorExpression
  },
  data() {
    return {
      loading: true
    };
  },
  methods: {
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.$emit("closeModal");
    },
    /**
     * 完成表达式编辑
     */
    onCompositeIndicatorExpressionOk() {
      let { expression, expressionHtml } = this.$refs.compositeIndicatorExpression.getExpression();
      if (!expression) {
        this.loading = false;
        this.$nextTick(() => {
          this.loading = true;
        });
        return;
      }

      expression = expression.replace(/\s*/g, ""); // 处理expression的格式
      this.updateExpressionView(expression, expressionHtml);
      this.$refs.compositeIndicatorExpression.refreshFunction(); // 重置表达式输入框
      this.onCancel();
    },
    /**
     * 更新表达式显示
     * @param {Strin} expression 公式弹窗里的表达式
     * @param {Strin} html 公式弹窗里的html
     */
    updateExpressionView(expression, html) {
      const expressionHtml = this.getExpressionHtml(expression);
      this.$emit("onConfirm", expressionHtml, expression, html);
    }
  }
};
</script>

<style lang="less" scoped>
/deep/ .composite-indicator-expression-modal .ivu-modal-body {
  padding: 0;
}
</style>
