<template>
  <div class="noData-container">
    <div>
      <img :style="{ width: `${width}px`, height: `${height}px` }" :src="imgSrc" alt="" />
      <p v-if="desc">{{ desc }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    width: {
      type: Number,
      required: true
    },
    height: {
      type: Number,
      required: true
    },
    imgSrc: {
      type: String,
      required: true
    },
    desc: {
      type: String,
      default: ""
    }
  }
};
</script>

<style lang="less" scoped>
.noData-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-size: 14px;
    color: rgba(60, 60, 60, 0.7);
  }
}
</style>
