<template>
  <div class="indicatorWorkbenchDetail-container">
    <div class="contentBox">
      <div class="headerText">
        <span>指标详情-{{ indicatorName }}</span>
        <Button class="buttonClass" @click="goBack">返回</Button>
      </div>

      <div class="tabScroll">
        <span v-if="isShowChart" @click="setCard('1')" :class="{ actived: cardName === '1', tabs: true }">图表</span>
        <span v-if="isShowAnalysis" @click="setCard('2')" :class="{ actived: cardName === '2', tabs: true }">归因分析</span>
        <span @click="setCard('3')" :class="{ actived: cardName === '3', tabs: true }">定义</span>
      </div>

      <ChartIndex v-show="cardName === '1'" />
      <Analysis v-show="cardName === '2'" />
      <Definition v-show="cardName === '3'" ref="definitionTabRef" />
    </div>
  </div>
</template>

<script>
import ChartIndex from "./components/chartIndex.vue";
import Analysis from "./components/analysis.vue";
import Definition from "./components/definition.vue";
import { mapState, mapMutations, mapActions } from "vuex";

export default {
  name: "indicatorWorkbenchDetail",
  components: {
    ChartIndex,
    Analysis,
    Definition
  },
  data() {
    return {
      indicatorName: "", // 指标名称
      cardName: "1"
    };
  },
  mounted() {
    const { type } = this.$route.query;
    if (type === "4" || type === "5") {
      this.cardName = "3";
    }
  },
  computed: {
    ...mapState("indicatorWorkbench", ["routeFrom"]),
    // 是否展示归因分析
    isShowAnalysis() {
      return this.$route.query.type === "1" || this.$route.query.type === "2";
    },
    // 是否展示图表
    isShowChart() {
      return this.$route.query.type !== "4" && this.$route.query.type !== "5";
    }
  },
  // 进入该路由页面之前触发
  beforeRouteEnter(to, from, next) {
    next(vm => {
      if (!vm.routeFrom) {
        const routeFrom = from.name || null;
        vm.setRouteFrom(routeFrom);
      }
    });
  },
  // 清除vuex数据
  beforeRouteLeave(to, from, next) {
    this.setRouteFrom(null);
    this.setRelationDimension([]);
    this.$refs.definitionTabRef.clearIndicator(); // 清除定义tab的数据
    next();
  },
  created() {
    const { id, type, name, tab } = this.$route.query;
    this.indicatorName = name;
    this.fetchRelationDimension({ id, type });

    if (tab) this.setCard(tab);
  },
  methods: {
    ...mapMutations("indicatorWorkbench", ["setRouteFrom", "setRelationDimension", "setIsReturnFromDetail"]),
    ...mapActions("indicatorWorkbench", ["fetchRelationDimension"]),
    /**
     * 通过指标工作台、预警/目标页访问，返回上一页
     */
    goBack() {
      if (!this.routeFrom) {
        this.$router.push("indicatorWorkbenchIndex");
      } else {
        // this.setIsReturnFromDetail(true)
        this.$router.go(-1);
      }
    },
    /**
     * 切换tab
     */
    setCard(num) {
      this.cardName = num;
    }
  }
};
</script>

<style lang="scss" scoped>
.indicatorWorkbenchDetail-container {
  height: 100%;
  .contentBox {
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    min-height: 100%;
    height: 100%;
    padding: 16px 20px 0;
    overflow: auto;
    .headerText {
      background: #f0f5fd;
      border-radius: 4px;
      font-size: 16px;
      color: #333333;
      font-weight: bold;
      border-bottom: 1px solid #f1f5fa;
      height: 47px;
      padding: 0 17px 0 21px;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .buttonClass {
        width: 72px;
        height: 32px;
        padding: 0;
        border: 1px solid rgba(63, 115, 255, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: PingFangSC-Medium;
        font-size: 14px;
        color: #3f73ff;
        font-weight: 500;
      }
    }

    .tabScroll {
      display: flex;
      border-bottom: 1px solid #dcdee2;
      .tabs {
        font-size: 14px;
        color: #333333;
        text-align: center;
        padding: 8px 0px;
        position: relative;
        width: 70px;
        margin-right: 20px;
        cursor: pointer;
        &.actived {
          font-weight: bold;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #3f73ff;
            bottom: 0px;
            left: 0;
          }
        }
      }
    }
  }
}
</style>
