<template>
  <front-login>
  
    <div class="loginMode">
      <span  :class="{ active : active === 1 , item :true }" @click="active = 1" >账号密码登录</span>
      <span  :class="{ active : active === 2 , item :true }" @click="active = 2" >验证码登录</span>
    </div>

    <login-form
      v-show="active === 1"
      @on-success-valid="handleSubmit"
      @forget-possword-callback="forgetPasswordLink"
    />
    <verification-login
      v-show="active === 2"
      @on-success-valid="handleSubmitVerification"
      @forget-possword-callback="forgetPasswordLink"
    />
    <div class="thirdPart">
      <span>第三方登录</span>
      <div class="thirdPart-icon">
        <Icon size="18" class="feishu-icon" type="md-feishu" @click.stop="toFeiShu" title=""/>
      </div>
    </div>
    <div style="text-align: center; margin-top: 20px; font-size: 16px">
      <span style="color: #A2A5BD ;" >还没有账号？</span>
      <a @click="registerLink" style="color: #497aff">免费注册</a>
    </div>

  </front-login>
</template>

<script>
import FrontLogin from "_c/front-login";
import LoginForm from "_c/login-form";
import VerificationLogin from "@/components/login-form/verificationLogin";
import { mapActions } from "vuex";
import { getFeiShuClientId  } from "@/api/systemManagement/system";

export default {
  components: {
    FrontLogin,
    LoginForm,
    VerificationLogin
  },
  data(){
    return{
      pageUrl: '',
      active: 1
    }
  },
  mounted(){
    let nowUrl = location.href.split('/#/')[0];
    if(nowUrl.indexOf('code=') !== -1){
      let code = nowUrl.split('code=')[1];
      let redirectUri = nowUrl.split('?code=')[0];
      this.pageUrl = redirectUri;
      code = code.split('&')[0];
      code = code.split('#')[0];
      this.handleFeiShuSubmit({code, redirectUri});
    }
  },
  methods: {
    ...mapActions(["handleLogin", "getUserInfo", "handleFeiShuLogin","handleLoginVerification"]),

    handleFeiShuSubmit({ code, redirectUri, successFun, errorFun  }) {
      this.$Spin.show({
          render: (h) => {
              return h('div', [
                  h('Icon', {
                      'class': 'demo-spin-icon-load',
                      props: {
                          type: 'ios-loading',
                          size: 18
                      }
                  }),
                  h('div', '登录中')
              ])
          }
      });
      this.handleFeiShuLogin({code, redirectUri}).then((res) => {
        if (res.state === "success" && res.data["token"]) {
          this.getUserInfo().then((r) => {
            this.$router.push({
              path: "/home",
            });
            // let url = this.pageUrl + '#/home';
            // window.location.href = url;
            this.$Spin.hide();
          });
        } else {
          this.$Spin.hide();
        }
      });
    },

    //登录按钮单击事件
    handleSubmit({ username, password, successFun, errorFun  }) {
      this.handleLogin({ username, password }).then((res) => {
        if (res.state === "success" && res.data["token"]) {
          this.getUserInfo().then((r) => {
            successFun()
            const path = this.$store.state.user.adminWorkbench ? "/workbenchPreview" : "/home"
            this.$router.push({
              path,
            });
          });
        } else {
          switch (res.message) {
            case "password error!":
              errorFun("", "账号或者密码错误");
              break;
            case "username error!":
              errorFun("", "账号或者密码错误");
              break;
            case "该账号已停用":
              errorFun(res.message, "");
              break;
            default:
              errorFun()
              break;
          }
        }
      });
    },
    handleSubmitVerification ({ mobile, verifyCode, successFun, errorFun  }) {
      this.handleLoginVerification({ mobile, verifyCode }).then((res) => {
        if (res.state === "success" && res.data["token"]) {
          this.getUserInfo().then((r) => {
            successFun()
            const path = this.$store.state.user.adminWorkbench ? "/workbenchPreview" : "/home"
            this.$router.push({
              path,
            });
          });
        } else {
          if (res.message) {
            errorFun("", res.message);
          }
        }
      });
    },
    // 忘记密按钮单击事件
    forgetPasswordLink() {
      this.$router.push({
        path: "/forgetPassword",
      });
    },

    // 注册账号按钮单击事件
    registerLink() {
      this.$router.push({
        path: "/register",
      });
    },
    loginFun() {
      this.$emit("register-callback");
    },
    async toFeiShu() {
      let res = await getFeiShuClientId();
      let url = '';
      let nowUrl = location.href.split('#/')[0];
      // let nowUrl = 'http://129.211.167.119:8688/report-dev/index.html';
      if(res && res.data && res.data.data){
        url = `https://passport.feishu.cn/suite/passport/oauth/authorize?client_id=${res.data.data}&redirect_uri=${nowUrl}&response_type=code`;
        window.open(url, '_self')
      }
      // window.open('https://open.feishu.cn/open-apis/authen/v1/user_auth_page_beta?app_id=cli_9d2d59be33e0910c&redirect_uri=https%3A%2F%2Fuser.mockplus.cn%2Flark%3Fplugin_code%3D%26next%3Dhttps%3A%2F%2Fwww.mockplus.cn%2F%3Fhmsr%3Dbdtg001%26amp%3Bbd_vid%3D8470429129047616436%26source%3D&state=init', '_slef')
    },
  },
};
</script>


<style lang="less" scoped>
.loginMode{
  display: flex;
  margin: 15px 5px 30px  5px;
  span{
    color: #999;
    font-size: 16px; margin-right: 10px;
    cursor: pointer; padding: 2px;
      &.active{
      color: rgb(73, 122, 255);
      border-bottom: 2px solid rgb(73, 122, 255);
    }
  }
}
  .thirdPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    font-size: 12px;
    color: rgba(0,0,0,0.30);
  }
  .thirdPart .feishu-icon{
    border-radius: 50%;
    /* border: 1px solid #e8e8e8; */
    padding: 2px 3px 3px;
    cursor: pointer;
  }
  .thirdPart .feishu-icon.ivu-icon.ivu-icon-md-feishu::before {
    content: url("~@/assets/images/login/feishu.svg");
  }
</style>