<template>
  <div class="fi-tree">
    <div class="input-wrapper">
      <Input search clearable placeholder="请输入指标名/指标组名" @on-change="onSearchIndicator($event)" @on-clear="onSearchIndicator" />
    </div>
    <div class="tree-wrapper">
      <Tree ref="resourcesTree" :data="treeData" :render="renderContent" class="custom-tree tree-all" />
    </div>
  </div>
</template>

<script>
  import { getIndicatorTreeData } from '@/api/indicator'
  import { queryDimensionAndIndicatorByLabel } from "@/api/label";
  import { deepCopy, filterTree } from "@/utils/common";
  import { INDICATOR_OPTION_LIST } from "@/config/indicator";

  export default {
    name: 'FiTree',
    data() {
      return {
        treeData: [],
        originTreeData: []
      }
    },
    mounted() {
      getIndicatorTreeData().then(res => {
        const { data, state } = res.data
        if (state === 'success') {
          let allData = [...data.indicatorGroupList, ...data.indicatorList]
          let root = [{
            deep: 1,
            id: -1,
            title: '指标组',
            expand: true,
            isGroup: true,
            treeType: 'group',
          }]
          this.treeData = this.recursiveGroup(root, allData)
          this.originTreeData = deepCopy(this.treeData)
        } else {
          this.$Message.error('获取指标树失败')
        }
      })
    },
    methods: {
      recursiveGroup(parent, all) {
        let tree = []

        for (let parentItem of parent) {
          let treeItem = { ...parentItem }
          const children = all.filter(allItem => {
            const parentId = allItem.parentId || allItem.groupId
            return parentId === parentItem.id
          }).map(childrenItem => ({
            id: childrenItem.id,
            isGroup: childrenItem.hasOwnProperty('parentId'),
            title: childrenItem.name,
            abbrName: childrenItem.abbrName,
            type: childrenItem.type,
            calculateType: childrenItem.calculateType,
            showType: childrenItem.showType,
          }))
          if (children.length) {
            treeItem.children = this.recursiveGroup(children, all)
            treeItem.expand = true
            treeItem.disabled = true
          }

          if ((treeItem.isGroup && treeItem.children?.length) || !treeItem.isGroup) {
            tree.push(treeItem)
          }
        }

        return tree
      },
      /**
       * 搜索指标
       */
      async onSearchIndicator(e) {
        let value = e && e.target ? e.target.value : e;
        if (value) {
          const params = {
            name: value,
            type: 2
          };
          const res = await queryDimensionAndIndicatorByLabel(params);
          if (res.data.state === "success") {
            const labelIndicators = res.data.data.map(item => item.id);
            const newTreeData = filterTree(this.originTreeData, value, labelIndicators);
            this.treeData = newTreeData;
          } else {
            this.$Message.error("根据标签搜索指标失败");
            this.treeData = [];
          }
        } else {
          this.treeData = deepCopy(this.originTreeData);
        }
      },
      renderContent(h, { root, node, data }) {
        return h('span', {
          style: {
            display: 'flex',
            textOverflow: 'ellipsis',
            overflow: 'hidden',
            whiteSpace: 'nowrap',
            alignItems: 'center',
            width: '100%',
            wordBreak: 'break-all',
            marginLeft: data.children && data.children.length ? 0 : '-6px',
          },
          on: {
            mousedown: (e) => {
              e.stopPropagation()
              console.log(data, '000')
              if (data.isGroup || (data.children !== undefined && data.children.length > 0)) return
              this.$emit('onIndicatorDragged', { e, data })
            }
          }
        }, [
          h('i', {
            class: this.getClassNameByIndicatorType(data),
          }),
          h('span', {
            style: {
              display: 'inline-block',
              maxWidth: '120px',
              overflow: 'hidden',
              textOverflow: 'ellipsis',
              whiteSpace: 'nowrap',
            },
            attrs: {
              title: data.title
            },
          }, data.title),
        ])
      },

      // 获取指标类型对应的className
      getClassNameByIndicatorType(treeNode) {
        let { isGroup, type, children } = treeNode
        if (isGroup) {
          if(!children || !children.length){
            return 'catalogueTreeNode'
          }
          return ''
        } else {
          return INDICATOR_OPTION_LIST.find(ele => ele.value === type)?.iconClass || ""
        }
      },
    }
  }
</script>

<style scoped lang="less">
.fi-tree{
  width: 100%;
  height: 100%;
}

.tree-wrapper {
  height: calc(~'100% - 60px');
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 12px;
}
.tree-all{
  /deep/.ivu-tree-arrow{
    max-width: 12px;
    width: auto;
  }
  /deep/ .catalogueTreeNode {
    content: url('~@/assets/images/system/catalogueTreeNode.png');
    width: 18px;
    margin-right: 3px;
  }
  /deep/ .ivu-tree-arrow-disabled {
    cursor: pointer;
  }
}
</style>
