<template>
  <div ref="customBarChart" class="lineAndPieChart-container"></div>
</template>

<script>
import * as echarts from "echarts";
import { on, off } from "@/libs/tools";
import echartsMixin from "../../mixin/echartsMixin";

export default {
  mixins: [echartsMixin],
  props: {
    chartData: {
      type: Array,
      required: true
    },
    dimensionSelectedName: {
      type: String,
      required: true
    },
    indicatorName: {
      type: String,
      required: true
    },
    indicatorConfig: {
      type: Object
    }
  },
  data() {
    return {
      dom: null
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.$erd.listenTo(this.$el, this.resize.bind(this)); // 元素容器大小改变，同时改变chart宽高
      this.dom = echarts.init(this.$refs.customBarChart);
      this.customChartInit();
    });
  },
  methods: {
    resize() {
      this.dom && this.dom.resize();
    },
    customChartInit() {
      const option = {
        xAxis: {
          type: "category",
          data: this.xAxisData,
          axisLine: {
            lineStyle: {
              color: "#EAEAEA"
            }
          },
          axisLabel: {
            show: true,
            color: "#909090",
            interval: 0
          },
          axisPointer: {
            triggerTooltip: true,
            lineStyle: {
              width: 1,
              color: "#FA7315",
              type: "solid"
            }
          }
        },
        boundaryGap: false,
        grid: {
          containLabel: true,
          left: 0,
          right: 0,
          top: 30,
          bottom: 16
        },
        yAxis: {
          type: "value",
          splitLine: {
            show: true,
            lineStyle: {
              color: "#ECECEC"
            }
          },
          axisLine: {
            lineStyle: {
              color: "#EAEAEA"
            }
          },
          axisLabel: {
            show: true,
            formatter: val => {
              return this.indicatorValueWithFormat(val);
            },
            color: "#909090"
          },
          axisTick: {
            show: true
          }
        },
        tooltip: {
          trigger: "axis",
          formatter: param => {
            const index = param[0].dataIndex;
            const { name, value } = this.chartData[index];
            const newvalue = this.indicatorValueWithFormat(value);

            return `<div>
                <div>${this.dimensionSelectedName}：<span>${name}</span></div>
                <div>${this.indicatorName}：<span>${newvalue}</span></div>
              <div>`;
          }
        },
        series: [
          {
            data: this.getSeriesData(this.chartData),
            type: "line",
            symbolSize: 8,
            silent: true,
            smooth: true,
            z: 900,
            itemStyle: {
              normal: {
                lineStyle: {
                  width: 1,
                  shadowColor: "rgba(251,150,99, 0.1)",
                  shadowBlur: 10,
                  shadowOffsetY: 15,
                  type: "dashed"
                }
              }
            },
            emphasis: {
              //高亮时的 样式
              label: {
                color: "#FA7315"
              },
              itemStyle: {
                color: "#FA7315",
                borderWidth: 4,
                borderColor: "#fff", //图形的描边颜色
                borderWidth: 2, // 描边的线宽
                shadowBlur: 4, // 图形的阴影大小
                shadowColor: "#FA7315" // 图形的阴影颜色
              }
            },
            label: {
              show: true,
              position: "top",
              color: "inherit",
              formatter: params => {
                const index = params.dataIndex;
                const { value } = this.chartData[index];
                return this.indicatorValueWithFormat(value);
              },
              fontSize: 12
            }
          },
          {
            data: this.chartData,
            type: "bar",
            barWidth: 20,
            itemStyle: {
              color: "#80A2FF"
            }
          }
        ]
      };
      this.dom.setOption(option);
      on(window, "resize", this.resize);
    }
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  watch: {
    chartData: {
      handler() {
        this.customChartInit();
      },
      deep: true
    },
    indicatorConfig: {
      handler(val) {
        this.customChartInit();
      },
      deep: true
    }
  }
};
</script>

<style lang="less" scoped>
.lineAndPieChart-container {
  width: 100%;
  height: 100%;
}
</style>
