<template>
  <div ref="customBarChart" class="pieCharts-container"></div>
</template>

<script>
import * as echarts from "echarts";
import { on, off } from "@/libs/tools";
import echartsMixin from "../../mixin/echartsMixin";
import BigNumber from "bignumber.js";
import { extraTextDot } from "@/utils/formatString";

export default {
  mixins: [echartsMixin],
  props: {
    chartData: {
      type: Array,
      required: true
    },
    // 指标名称
    indicatorName: {
      type: String,
      required: true
    },
    indicatorConfig: {
      type: Object
    }
  },
  data() {
    return {
      dom: null
    };
  },
  computed: {
    valueSum() {
      return this.chartData.reduce((prev, next) => {
        prev += next.value;
        return prev;
      }, 0);
    },
    // 总规模
    allSum() {
      return this.indicatorValueWithFormat(this.valueSum);
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$erd.listenTo(this.$el, this.resize.bind(this)); // 元素容器大小改变，同时改变chart宽高
      this.dom = echarts.init(this.$refs.customBarChart);
      this.customChartInit();
    });
  },
  methods: {
    resize() {
      this.dom && this.dom.resize();
    },
    customChartInit() {
      const option = {
        grid: {
          containLabel: true,
          left: 0,
          right: 0,
          top: 30,
          bottom: 16
        },
        title: [
          {
            show: true,
            text: "{a|数值项}{b|规模}{c|占比}",
            top: "15%",
            left: "55%",
            textStyle: {
              rich: {
                a: {
                  align: "left",
                  fontSize: 14,
                  color: "rgba(0,0,0,1)",
                  width: 250,
                  padding: [0, 0, 0, 60]
                },
                b: {
                  align: "center",
                  fontSize: 14,
                  color: "rgba(0,0,0,1)",
                  width: 100,
                  padding: [0, 0, 0, 22]
                },
                c: {
                  align: "center",
                  fontSize: 14,
                  color: "rgba(0,0,0,1)",
                  width: 80,
                  padding: [0, 0, 0, 50]
                }
              }
            }
          }
        ],
        legend: {
          type: "scroll",
          orient: "vertical",
          itemGap: 15,
          itemWidth: 8,
          itemHeight: 8,
          icon: "circle",
          borderWidth: 1,
          borderColor: "#F2F3F3",
          padding: [55, 40, 20, 40],
          top: "13%",
          left: "55%",
          data: this.chartData,
          textStyle: {
            color: "rgba(0,0,0,0.65)"
          },
          pageButtonItemGap: 5,
          formatter: name => {
            const newName = extraTextDot(name, 15);
            const value = this.chartData.find(ele => ele.name == name)?.value;
            const newvalue = this.indicatorValueWithFormat(value);
            const percentVal = value ? new BigNumber(value).div(new BigNumber(this.valueSum)).times(100).toFixed(2) + "%" : "--";
            return "{a|" + newName + "}{b|" + newvalue + "}{c|" + percentVal + "}";
          },
          textStyle: {
            rich: {
              a: {
                align: "left",
                fontSize: 14,
                color: "rgba(0,0,0,.8)",
                width: 250,
                padding: [2, 0, 0, 10]
              },
              b: {
                align: "center",
                fontSize: 14,
                color: "rgba(0,0,0,.8)",
                width: 100,
                padding: [2, 0, 0, 20]
              },
              c: {
                align: "center",
                fontSize: 14,
                color: "rgba(0,0,0,.8)",
                width: 80,
                padding: [2, 0, 0, 50]
              }
            }
          }
        },
        tooltip: {
          trigger: "item",
          formatter: param => {
            if (param.seriesName == "外层背景圆") {
              return "";
            }
            if (param.seriesName == "内层背景圆") {
              return `<div>
                <div>指标名称：<span>${this.indicatorName}</span></div>
                <div>总规模：<span>${this.allSum}</span></div>
              <div>`;
            }
            if (param.seriesName == "pie图") {
              const marker = param.marker;
              const { name, value } = param.data;
              const newvalue = this.indicatorValueWithFormat(value);
              const percentVal = value ? new BigNumber(value).div(new BigNumber(this.valueSum)).times(100).toFixed(2) + "%" : "--";
              return `<div>
                <div>${marker}<span>${name}</span></div>
                <div>规模：<span>${newvalue}</span></div>
                <div>占比：<span>${percentVal}</span></div>
              <div>`;
            }
          }
        },
        color: [
          "#4168FF",
          "#47CBFF",
          "#FF7A33",
          "#45DE7F",
          "#FFAC34",
          "#5AD7D8",
          "#8163E9",
          "#FF5F45",
          "#01C581",
          "#B754F6",
          "#FCDA0F",
          "#9B501B",
          "#A0D911",
          "#2998FF",
          "#938BF8"
        ],
        series: [
          {
            name: "pie图",
            data: this.getSeriesData(this.chartData),
            type: "pie",
            radius: ["38%", "55%"],
            center: ["30%", "50%"], // 图形位置
            zlevel: 5,
            label: {
              normal: {
                show: false,
                position: "center",
                formatter: ``
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: "12"
                }
              }
            }
          },
          {
            name: "不动外圆1",
            type: "pie",
            zlevel: 4,
            silent: true,
            radius: ["65%", "65.5%"],
            center: ["30%", "50%"], // 图形位置
            label: {
              show: false
            },
            data: this.generateData(400, 10, 10, "#8CADF0")
          },
          {
            name: "不动外圆2",
            type: "pie",
            zlevel: 4,
            silent: true,
            radius: ["74%", "74.5%"],
            center: ["30%", "50%"], // 图形位置
            label: {
              show: false
            },
            data: this.generateData(400, 10, 10, "#8CADF0")
          },
          {
            name: "外层背景圆",
            type: "pie",
            radius: ["55%", "65%"],
            center: ["30%", "50%"], // 图形位置
            animation: false,
            hoverAnimation: false,
            clockWise: false,
            itemStyle: {
              color: "#F3F6FD"
            },
            emphasis: {
              disabled: true
            },
            data: [100]
          },
          {
            name: "内层背景圆",
            type: "pie",
            radius: [0, "38%"],
            center: ["30%", "50%"], // 图形位置
            animation: false,
            hoverAnimation: false,
            clockWise: false,
            itemStyle: {
              color: "#F3F6FD"
            },
            emphasis: {
              disabled: true
            },
            label: {
              normal: {
                show: true,
                position: "center",
                formatter: `{value|${extraTextDot(this.indicatorName, 8)}}\n{label|${extraTextDot(this.allSum, 5)}}`,
                rich: {
                  value: {
                    padding: 5,
                    align: "center",
                    fontSize: 19,
                    color: "#8A8C8F"
                  },
                  label: {
                    align: "center",
                    verticalAlign: "middle",
                    fontSize: 45,
                    padding: [10, 0, 10, 10],
                    fontWeight: "bold"
                  },
                  unit: {
                    fontSize: 28,
                    color: "#8A8C8F"
                  }
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: "12"
                }
              }
            },
            data: [100]
          }
        ]
      };
      this.dom.setOption(option);
      on(window, "resize", this.resize);
    },
    generateData(totalNum, bigvalue, smallvalue, color) {
      let dataArr = [];
      for (var i = 0; i < totalNum; i++) {
        if (i % 2 === 0) {
          dataArr.push({
            name: (i + 1).toString(),
            value: bigvalue,
            itemStyle: {
              normal: {
                color: color,
                borderWidth: 0
              }
            }
          });
        } else {
          dataArr.push({
            name: (i + 1).toString(),
            value: smallvalue,
            itemStyle: {
              normal: {
                color: "rgba(0,0,0,0)",
                borderWidth: 0
              }
            }
          });
        }
      }
      return dataArr;
    }
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  watch: {
    chartData: {
      handler() {
        this.customChartInit();
      },
      deep: true
    },
    indicatorConfig: {
      handler(val) {
        this.customChartInit();
      },
      deep: true
    }
  }
};
</script>

<style lang="less" scoped>
.pieCharts-container {
  width: 100%;
  height: 100%;
}
</style>
