<template>
  <div class="user-avatar-dropdown">
    <!-- <Dropdown @on-click="handleClick">
      <Badge :dot="!!messageUnreadCount">
        <Avatar :src="userAvatar"/>
      </Badge>
      <DropdownMenu slot="list">
        <DropdownItem name="help">
          <a style="text-decoration: none" target="_blank" href="http://129.211.167.119:8688/operation/index.html">帮助手册</a>
        </DropdownItem>
        <DropdownItem name="logout">退出登录</DropdownItem>
      </DropdownMenu>
    </Dropdown> -->
    <Tooltip placement="bottom-end" theme="light" class="userInfoBox">
      <Badge :dot="!!messageUnreadCount">
        <Avatar :src="userAvatar" />
      </Badge>
      <div slot="content">
        <Avatar :src="userAvatarBig" />
        <p class="userName">{{ userName }}</p>
        <p class="userDeptName">{{ userDeptName }}</p>
        <div class="buttonList">
          <div>
            <img src="@/assets/images/changePassword.svg" @click="changePassword" />
            <p @click="changePassword">修改密码</p>
          </div>
          <div>
            <img src="@/assets/images/logOut.svg" @click="logout" />
            <p @click="logout">退出登录</p>
          </div>
        </div>
      </div>
    </Tooltip>
    <Modal v-model="changePasswordModal" class="changePasswordModal" title="修改密码" :mask-closable="false">
      <Form :model="passwordForm" ref="passwordForm" :rules="rules" :label-width="74" label-position="left" label-colon>
        <FormItem label="旧密码" prop="oldPassword">
          <Input v-model="passwordForm.oldPassword" type="password" password placeholder="请输入旧密码" style="width: 90%" />
        </FormItem>
        <FormItem label="新密码" prop="newPassword">
          <Input v-model="passwordForm.newPassword" type="password" password placeholder="请输入新密码" style="width: 90%" />
        </FormItem>
        <FormItem label="确认密码" prop="confirmNewPassword">
          <Input v-model="passwordForm.confirmNewPassword" type="password" password placeholder="请再次输入新密码" style="width: 90%" />
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="cancel">取消</Button>
        <Button type="primary" @click="ok">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import "./user.less";
import { mapActions } from "vuex";
import { changePasswordByUserSelf } from "@/api/systemManagement/system.js";

export default {
  name: "User",
  props: {
    userName: {
      type: String,
      default: ""
    },
    userDeptName: {
      type: String,
      default: ""
    },
    userAvatar: {
      type: String,
      default: ""
    },
    userAvatarBig: {
      type: String,
      default: ""
    },
    messageUnreadCount: {
      type: Number,
      default: 0
    }
  },
  data() {
    let validateNewPassword = (rule, value, callback) => {
      if (value === this.passwordForm.oldPassword) {
        callback(new Error("新密码不能与旧密码相同"));
      } else {
        callback();
      }
    };
    let validateNewPassword2 = (rule, value, callback) => {
      if (value !== this.passwordForm.newPassword) {
        callback(new Error("与新密码不一致"));
      } else {
        callback();
      }
    };
    return {
      changePasswordModal: false,
      passwordForm: {
        oldPassword: "",
        newPassword: "",
        confirmNewPassword: ""
      },
      rules: {
        oldPassword: [{ required: true, message: "请输入旧密码", trigger: "blur" }],
        newPassword: [
          { required: true, message: "请输入新密码", trigger: "blur" },
          { validator: validateNewPassword, trigger: "blur" }
        ],
        confirmNewPassword: [
          { required: true, message: "请再次输入新密码", trigger: "blur" },
          { validator: validateNewPassword2, trigger: "blur" },
          {
            pattern: /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$)^.{6,16}$/,
            message: "密码必须是6-16位的字母、数字和标点符号组合(至少2种)",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    ...mapActions(["handleLogOut"]),
    ...mapActions('authorizationManagement', ['clearAuthManagement']),
    logout() {
      this.handleLogOut().then(() => {
        this.clearAuthManagement()
        let nowUrl = location.href;
        let url = '';
        if(nowUrl.indexOf('?code') !== -1){
          url = nowUrl.split('?code')[0] + '#/login';
          window.location.href = url;
        }else{
          this.$router.push({
            name: "login"
          });
        }

      });
    },
    message() {
      this.$router.push({
        name: "message_page"
      });
    },
    handleClick(name) {
      switch (name) {
        case "logout":
          this.logout();
          break;
        case "message":
          this.message();
          break;
      }
    },
    changePassword() {
      this.$refs["passwordForm"].resetFields();
      this.changePasswordModal = true;
    },
    ok() {
      this.$refs["passwordForm"].validate(async valid => {
        if (valid) {
          let params = {
            oldPassword: this.passwordForm.oldPassword,
            newPassword: this.passwordForm.newPassword,
            username: this.$store.state.user.userName
          };
          const res = await changePasswordByUserSelf(params)
          if (res.data.state === "success") {
            this.$Message.success("修改密码成功，请重新登录");
            this.logout();
          } else {
            this.$Message.error(res.data.message);
          }
        }
      });
    },
    cancel() {
      this.changePasswordModal = false;
    }
  }
};
</script>

<style lang="less" scoped>
.user-avatar-dropdown /deep/ .userInfoBox.ivu-tooltip .ivu-tooltip-content {
  .ivu-tooltip-arrow {
    display: none;
  }
  .ivu-tooltip-inner {
    margin-top: -5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 24px;
    min-width: 220px;
    .ivu-avatar {
      width: 60px;
      height: 60px;
    }
    .userName {
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      margin: 13px 0 8px;
    }
    .userDeptName {
      font-size: 13px;
      line-height: 18px;
      color: #000000;
    }
    .buttonList {
      display: flex;
      justify-content: space-around;
      margin-top: 55px;
      p {
        margin-top: 4px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 13px;
      }
    }
  }
}
.changePasswordModal /deep/ .ivu-modal {
  width: 330px !important;
  .ivu-icon-ios-eye-off-outline:before {
    content: url("../../../../assets/images/eyeOff.svg");
  }
  .ivu-icon-ios-eye-outline:before {
    content: url("../../../../assets/images/eye.svg");
  }
  .ivu-modal-header p,
  .ivu-modal-header-inner {
    color: #333333;
  }
  .ivu-modal-close .ivu-icon-ios-close {
    color: #333333;
  }
  .ivu-form .ivu-form-item-label {
    color: #333333;
  }
}
</style>
