<template>
  <div class="filterSearch-container">
    <div class="searchBox">
      <span>指标名称：</span>
      <Input v-model.trim="searchCondition.indicatorName" maxlength="30" clearable placeholder="请输入指标名称" style="width: 152px" />
    </div>

    <div class="searchBox">
      <span>指标标签：</span>
      <AssetsLabel style="width: 172px" paddingBottom="5px" :data="searchCondition.tagValue" @select="handleAssetsLabelSelect" />
    </div>
    <div class="searchBox">
      <span>部门：</span>
      <TreeSelect
        style="width: 172px"
        v-model="searchCondition.orgIdArr"
        :expand-all="false"
        :data="deptTreeDataNew"
        :multiple="false"
        placeholder="请选择部门"
      />
    </div>
    <!--全局变量-->
    <div class="searchBox" v-for="it in globalVariableConditions" :key="it.varId">
      <span>{{it.name}}：</span>
      <Select v-model="searchCondition[it.varCode]" style="width:152px" clearable>
        <Option v-for="item in it.paramValue"  :key="item.value"  :value="item.value">{{ item.label }}</Option>
      </Select>
    </div>
    <div class="searchBox" style="margin-left: 0">
<!--        <span>时间范围：</span>-->
<!--        <DatePicker-->
<!--          class="mt"-->
<!--          type="datetimerange"-->
<!--          format="yyyy-MM-dd"-->
<!--          placeholder="请输入查找时间范围"-->
<!--          style="width: 188px"-->
<!--          :editable="false"-->
<!--          clearable-->
<!--          v-model="searchCondition.time"-->
<!--        />-->
      <span>时间：</span>
      <DatePicker
        class="mt"
        type="date"
        format="yyyy-MM-dd"
        placeholder="请选择时间"
        style="width: 188px"
        :editable="false"
        clearable
        v-model="searchCondition.time"
      />
      </div>
      <div class="searchBox" style="margin-left: 0">
        <Button :class="{ collectBtn:true , active:searchCondition.tabId === 3 }"  @click="changeTabId()"  >

           <div  class="collectBox">
            <img :src="searchCondition.tabId === 1 ? require('@/assets/icons/indicatorIcon/start.svg') : require('@/assets/icons/indicatorIcon/startwhite.svg') " alt="">
             我的收藏
           </div>

        </Button>
      </div>
    <Button class="searchBtn" @click="searchTable()">查询</Button>
  </div>
</template>

<script>
import AssetsLabel from "@/view/report/components/AssetsLabel";
import TreeSelect from "@/components/tree-select";
import { mapState } from 'vuex'
import { deepCopy } from '@/utils/common'
export default {
  components: {
    AssetsLabel,
    TreeSelect
  },
  props: {
    searchCondition: {
      type: Object,
      required: true
    }
  },
  inject: ['globalVariableList'],
  data() {
    return {
      deptTreeDataNew: []
    }
  },
  computed: {
    ...mapState("department", ["deptTreeData"]),
    globalVariableConditions(){
      return this.globalVariableList() || []
    }
  },
  created() {},
  methods: {
    /**
     * 标签变化
     * @param selected
     */
    async handleAssetsLabelSelect(selected) {
      const index = this.searchCondition.tagValue.findIndex(item => item.id === selected.id);
      if (index === -1) {
        this.searchCondition.tagValue.push(selected);
      } else {
        this.searchCondition.tagValue.splice(index, 1);
      }
    },
    /**
     * 搜索
     */
    searchTable() {
      this.$emit("searchTable");
    },
    changeTabId(){
      this.searchCondition.tabId = this.searchCondition.tabId  === 1 ? 3 : 1
      this.searchTable();
    }
  },
  watch: {
    deptTreeData: {
      handler(newVal) {
        if (newVal.length) {
          this.deptTreeDataNew = deepCopy(newVal)
          this.searchCondition.orgIdArr = [newVal[0].id]
        }
      },
      immediate: true
    }
  }
};
</script>

<style lang="less" scoped>
.filterSearch-container {
  display: flex;
    flex-wrap: wrap;
  .searchBox {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-bottom: 6px;
    // 指标标签
    /deep/.assets-label {
      cursor: pointer;
      .select-wrapper {
        width: 100%;
        padding: 5px 22px 5px 14px;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(217, 217, 217, 1);
        border-radius: 4px;
        box-sizing: border-box;
        .selected-list {
          flex-wrap: nowrap;
          overflow-x: hidden;
          .list-item {
            margin-right: 10px;
            margin-bottom: 5px;
            height: 20px;
            flex: none;
          }
        }
        .ivu-icon {
          font-size: 14px;
          right: 8px;
          color: #808695;
        }
      }
      .search-input {
        width: 100%;
      }
    }
  }
  .searchBtn {
    background: #3f73ff;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ffffff;
    width: 72px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  @collectColor : #3f73ff;
  .collectBtn{
    background: #fff;
    border-radius: 2px;
    height: 32px;
    width:auto ; padding: 5px 7px 5px 5px;
    color:  @collectColor ;
    border-color: @collectColor ;
    .collectBox {
      display: flex;
      align-items: center;
      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
    }
    &.active{
      background: @collectColor ;
      color: #fff;
      border-color: @collectColor ;
    }
  }

}
</style>
