<template>
  <div class="IndexcardList">
    <div class="header">
      <FilterSearch :searchCondition="searchCondition" @searchTable="initIndicatorData" />
    </div>
    <div class="content" v-loading="loading">
      <CardList :dataList="dataList" @refreshData="initIndicatorData" />
    </div>

    <section class="pageWrapper">
      <Page
        show-elevator
        show-sizer
        show-total
        :page-size-opts="[10, 15, 20, 25]"
        :page-size="pageCondition.pageSize"
        :current="pageCondition.currentPage"
        :total="pageCondition.total"
        @on-change="handlePageChange"
        @on-page-size-change="handlePageSizeChange"
      />
    </section>

  </div>
</template>

<script>
import FilterSearch from './FilterSearch'
import CardList from '@/view/indicatorWorkbench/indicatorWorkbenchIndex/components/newCardList'
import { getIndicatorByTabOnPage } from '@/api/indicatorWorkbench'
import { INDICATOR_OPTION_LIST } from '@/config/indicator'
import resourcePublish from '@/mixins/resourcePublish'
import ChangeOwnerModal from '@/components/ChangeOwnerModal'
import AuthShareModal from '@/components/AuthShareModal'


export default {
  data() {
    return {
      // 搜索条件
      searchCondition: {
        indicatorName: '',
        tagValue: [], // 选择的标签
        time: null, // 时间
        tabId: 1,
        dataSource: globalVariable.dataSource,
        dateType: globalVariable.dateType,
        orgIdArr: []
      },
      dataList: [], // 指标数据
      loading: false,
      pageCondition: {
        pageSize: 10,
        currentPage: 1,
        total: 0,
      }
    }
  },
  mixins: [resourcePublish],
  provide() {
    return {
      searchCondition: () => this.searchCondition
    }
  },
  props: {
    Organizational: {
      type: Object,
      default: () => {
      },
    },
    assets: {
      type: Object,
      default: () => {
      },
    },
    allGroupList: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    initIndicatorData(type) {
      this.pageCondition.currentPage = 1
      this.pageCondition.pageSize = 10
      this.dataList = []

      if (type == 'resetType') {
        this.searchCondition.indicatorName = ''
        this.searchCondition.tagValue = []
        this.searchCondition.time = null
      }
      this.getIndicatorData(this.searchCondition, this.pageCondition)
    },
    async getIndicatorData(searchCondition = this.searchCondition, pageCondition = this.pageCondition) {
      this.loading = true
      this.dataList = await this.getIndicatorBasisData(searchCondition, pageCondition)
      this.loading = false
    },


    async getIndicatorBasisData(searchCondition, pageCondition) {
      const { indicatorName, tagValue, time } = searchCondition
      const { pageSize, currentPage } = pageCondition
      const params = {
        name: indicatorName, // 指标名称
        pageSize,
        pageNum: currentPage,
        tabId: this.searchCondition.tabId,
        status: 3,
      }
      if (tagValue.length) { // 标签id数组
        params.labelIds = tagValue.map((ele) => ele.id) // 标签id
      }
      // if (time && time.length) { // 开始和结束时间
      //   params.startTime = time[0] ? moment(time[0]).format('YYYY-MM-DD') : ''
      //   params.endTime = time[1] ? moment(time[1]).format('YYYY-MM-DD') : ''
      // }
      if (this.assets?.id != -1) { //资产目录id数组
        params.groupIds = [this.assets.id]
      }

      if (!this.assets.id) {
        return []
      }

     if (window['canclegetIndicatorByTabOnPage']) {
         window['canclegetIndicatorByTabOnPage']();
      }

      const res = await getIndicatorByTabOnPage(params)
      if (res.data.state === 'success') {

        if (!res.data.data) {
          return []
        }

        const { records, total } = res.data.data
        this.pageCondition.total = total

        let dataList = []
        records.forEach((ele) => {
          let assetsGroupName
          assetsGroupName = this.allGroupList.find((item) => item.id === parseInt(ele.groupId))?.name
          const existedTabIDList = ele.tabs ? ele.tabs.filter((ele) => ele.type === 3).map((ele) => parseInt(ele.id)) : []
          const isCollect = ele.tabs?.some((ele) => ele.id === '3') || false
          dataList.push({
            creator: ele.creator, // 创建人昵称
            creatorId: ele.creatorId, // 创建人id
            id: parseInt(ele.id), // 指标id
            abbrName: ele.abbrName, // 指标简称
            indicatorName: ele.name, // 指标名称
            type: ele.type, // 指标类型（原子、派生、复合）
            showType: ele.showType, // 指标值的类型（百分比、数值）
            assetsGroupName, // 所属资产分组名称
            moduleType: INDICATOR_OPTION_LIST.find((i) => i.value === ele.type).moduleType,
            status: ele.status, // 指标状态
            controlView: ele.controlView, // 用户权限: 查看
            controlEdit: ele.controlEdit, // 用户权限: 编辑
            existedTabIDList, // 指标已存在于哪些Tab
            isCollect, // 指标是否被收藏
            indicatorValue: '',
            yoyValue: '',
            yoyType: '',
            mValue: '',
            momType: '',
            mscale: '',
            yscale: '',
            lineData: [],
            configData: ele.configData,
          })
        })
        return dataList
      }
    },
    /**
     * 切换页码
     * @param {Number} currentPage
     */
    handlePageChange(currentPage) {
      this.pageCondition.currentPage = currentPage;
      this.getIndicatorData()
    },
    /**
     * 切换每页展示的数据量
     * @param {Number} currentPageSize
     */
    handlePageSizeChange(currentPageSize) {
      this.pageCondition.currentPage = 1;
      this.pageCondition.pageSize = currentPageSize;
      this.getIndicatorData()
    }
  },
  components: {
    FilterSearch,
    CardList,
    ChangeOwnerModal,
    AuthShareModal,
  },
}
</script>

<style lang="scss" scoped>
.IndexcardList {
  height: 100%;
  overflow: hidden;
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  .header {
    min-height: 38px;
  }
  .content {
    flex: 1;
    padding-top: 10px;
    overflow: auto;
  }
  .pageWrapper {
    height: 34px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
}
</style>
