<template>
  <div class="reportList">
    <div class="header">
      <div class="header-group">
        <span>报告名称：</span>
        <Input v-model="query.name" clearable placeholder="请输入报告名称" style="width: 180px; cursor: pointer" />
      </div>

      <div class="header-group">
        <span>报表标签：</span>
        <AssetsLabel style="width: 152px" paddingBottom="5px" :data="query.tagValue" @select="handleAssetsLabelSelect" />
      </div>
      <div class="header-group" style="margin-left: 0">
        <span>时间范围：</span>
        <DatePicker
          class="mt"
          type="datetimerange"
          format="yyyy-MM-dd"
          placeholder="请输入查找时间范围"
          style="width: 188px"
          :editable="false"
          clearable
          v-model="query.time"
        />
      </div>
      <div class="header-group" style="flex: 1; display: flex; ">
        <Button  style="width:72px;border-radius: 2px;display: flex;align-items: center;justify-content: center;"
         @click="searchTable()" type="primary" class="allBtnStyle changeIcon">查询</Button>
      </div>
    </div>

    <div class="content" id="contentTab">
      <el-table :data="tableData" class="standardTable" size="small" :key="tableHeight" :height="tableHeight">
        <el-table-column prop="contentName" label="报告名称" min-width="150"> </el-table-column>
        <el-table-column prop="creatorName" label="负责人" min-width="180"> </el-table-column>
        <el-table-column prop="momentDate" label="发布时间" min-width="180"> </el-table-column>
        <el-table-column fixed="right" label="操作" align="center" width="140">
          <template slot-scope="scope"  >
            <template v-if="scope.row.envTypeId == 9901">
              <el-button type="text" size="small" @click="toViewReportPage({ ...scope.row, pageType: 'view' })">查看</el-button>
              <el-button type="text" size="small" @click="toViewReportPage({ ...scope.row, pageType: 'edit' })">编辑</el-button>
              <el-button type="text" size="small" @click="toDeleteReport(scope.row)">删除</el-button>
            </template>
            <template v-else>
              <el-button type="text" size="small" @click="towithout({ ...scope.row})">查看</el-button>
            </template>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <section class="pageWrapper">
      <Page
        show-elevator
        show-sizer
        show-total
        :page-size-opts="[10, 15, 20, 25]"
        :page-size="listQuery.pageSize"
        :current="listQuery.pageNum"
        :total="listQuery.total"
        @on-change="handlePageChange"
        @on-page-size-change="handlePageSizeChange"
      />
    </section>
  </div>
</template>

<script>
import Pagination from "@/dmp/components/Pagination";
import AssetsLabel from "@/view/report/components/AssetsLabel";
import { queryContentListByPage } from '@/api/contentManagement'

import moment from "moment";
export default {
  data() {
    return {
      query: {
        name: "",
        time: null,
        tagValue: [],
      },
      tableData: [],
      listQuery: {
        pageSize: 10,
        pageNum: 1,
        total: 0,
      },
      tableHeight: 500,
    };
  },
  props: {
    Organizational : {
      type: Object,
      default: () => {},
    },
    assets: {
      type: Object,
      default: () => {},
    }
  },
  mounted() {
    this.tableHeight = document.querySelector("#contentTab").clientHeight - 80;
  },
  methods: {
    searchTable(type) {
      this.listQuery.pageNum = 1;

      if (type == 'resetType') { // 重置
        this.query.name = '';
        this.query.tagValue = [];
        this.query.time = [];
      }
      this.refreshReportList();
    },
    refreshReportList() {
      const param = {
        ...this.listQuery,
        contentName: this.query.name,
      };
      if(this.assets && this.assets.id != -1){ //资产目录id数组
        param.groupId = this.assets.id
      }
      if (this.query.tagValue && this.query.tagValue.length) { // 标签id数组
        param.labelIds =  this.query.tagValue.map((ele) => ele.id); // 标签id
        param.labelIds =  param.labelIds.join(',')
      }
      if (this.query.time && this.query.time.length > 0) { //时间
        param.startTime =  this.query.time[0] ? moment( this.query.time[0]).format("YYYY-MM-DD") : ''
        param.endTime = this.query.time[1] ?  moment( this.query.time[1]).format("YYYY-MM-DD") : ''
      }

      this.loading = true;
      queryContentListByPage(param).then((res) => {
        this.loading = false;
        if (res.data.state === "success") {
          const data = res.data.data;
          this.listQuery.total = data.total;
          this.tableData = data.dataList.map((ele) => {
            ele.momentDate = moment(ele.updateTime).format("YYYY-MM-DD HH:mm:ss");
            return ele;
          });
        }
      });
    },
    async handleAssetsLabelSelect(selected) {
      const index = this.query.tagValue.findIndex(item => item.id === selected.id);
      if (index === -1) {
        this.query.tagValue.push(selected);
      } else {
        this.query.tagValue.splice(index, 1);
      }
    },
    towithout(row){ // 前往外部报表
      row.contentPath= row.contentPath || '' ;
      row.configData = row.configData ? JSON.parse(row.configData) : { height: 500, params: [] }
          let str = ""
          if (row.contentPath.indexOf("?") > -1) {
            str = `&random=${Math.floor(Math.random() * 100)}`
          } else {
            str = `?random=${Math.floor(Math.random() * 100)}`
          }
          row.configData.params && row.configData.params.forEach(stt => {
          if (stt.name && stt.value) {
            str += `&${stt.name}=${stt.value}`
          }
           if (stt.paramName && stt.paramVal) {
            str += `&${stt.paramName}=${stt.paramVal}`
          }
        })

      let tarUrl = row.fullPath + str
      if(row.envType!=9){
        tarUrl = row.path + row.contentPath + str
      }

      window.open(tarUrl, '_blank');
    },
    toViewReportPage(row) {
      const { contentEnvId, pageType, startDate, endDate } = row;
      let dateRange = "";
      if (startDate) {
        let s = moment(startDate).format("YYYY-MM-DD");
        let e = moment(endDate).format("YYYY-MM-DD");
        dateRange = `&startDate=${s}&endDate=${e}`;
      }
      const href = `${window.location.origin}${window.location.pathname}`;
      window.open(`${href}#template_add?id=${contentEnvId}${dateRange}&openType=${pageType}`, "_blank");
    },
    toDeleteReport(row) {
      const { id, name } = row;
      if (name.length > 12) {
        name = name.slice(0, 12);
        name += "...";
      }
      this.$Modal.confirm({
        title: "报告删除",
        content: `确定要删除当前"${name}"报告吗？`,
        onOk: async () => {
          const res = await deleteReportById(id);
          if (res.data && res.data.state === "success") {
            this.$Message.success("删除成功");
            this.refreshReportList()
          } else {
            this.$Message.warning("删除失败");
          }
        },
      });
    },
    /**
     * 切换页码
     * @param {Number} currentPage
     */
    handlePageChange(currentPage) {
      this.listQuery.pageNum = currentPage;
      this.refreshReportList()
    },
    /**
     * 切换每页展示的数据量
     * @param {Number} currentPageSize
     */
    handlePageSizeChange(currentPageSize) {
      this.listQuery.pageNum = 1;
      this.listQuery.pageSize = currentPageSize;
      this.refreshReportList()
    }
  },
  components: {
    Pagination,AssetsLabel
  },
};
</script>

<style lang="scss" scoped>
.reportList {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left:6px;
  .header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    .header-group {
      margin-right: 16px; display: flex; align-items: center;
      &:last-child {
        margin-right: 0;
      }
      button{
        height: 32px;line-height: 16px;
      }
    }
  }
  .content {
    width: 100%;
    flex: 1;
    padding: 16px 0;
  }
  /deep/.assets-label {
      cursor: pointer;
      .select-wrapper {
        width: 100%;
        padding: 5px 22px 5px 14px;
        background: rgba(255, 255, 255, 0.03);
        border: 1px solid rgba(217, 217, 217, 1);
        border-radius: 4px;
        box-sizing: border-box;
        .selected-list {
          flex-wrap: nowrap;
          overflow-x: hidden;
          .list-item {
            margin-right: 10px;
            margin-bottom: 5px;
            height: 20px;
            flex: none;
          }
        }
        .ivu-icon {
          font-size: 14px;
          right: 8px;
          color: #808695;
        }
        .ivu-icon-ios-arrow-forward{
          right: -12px;
        }
      }
      .search-input {
        width: 100%;
      }
    }

  .pageWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
}
</style>
