<template>
  <div class="moveSelect-container" @mousedown.stop.self="onMousedown" @mousemove.stop="onMousemove" @mouseup="onMouseup">
    <slot></slot>

    <!-- 选择框 -->
    <div class="moveMask" :style="moveStyle"></div>

    <!-- 组合资源的边框 -->
    <div
      v-show="selectLine.show"
      class="selectWrapper"
      :style="{ width: selectLine.width, height: selectLine.height, top: selectLine.top, left: selectLine.left }"
      @mousedown.stop.self="onMoveMousedown"
      @mousemove.stop.self="onMoveMousemove"
      @mouseup.stop.self="onMoveMouseup"
    >
      <div class="handle1 handle1-tl"></div>
      <div class="handle1 handle1-tm"></div>
      <div class="handle1 handle1-tr"></div>
      <div class="handle1 handle1-mr"></div>
      <div class="handle1 handle1-br"></div>
      <div class="handle1 handle1-bm"></div>
      <div class="handle1 handle1-bl"></div>
      <div class="handle1 handle1-ml"></div>
      <div class="saveResourceBtn" @click.stop="saveResource">
        <img src="@/assets/icons/resourceManage/saveResourceWhite.svg" />
        <span>保存资源</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import { debounce } from "@/utils/common"

export default {
  data() {
    return {
      point: {
        //鼠标起点坐标
        start: {
          x: 0,
          y: 0
        },
        //鼠标终点坐标
        end: {
          x: 0,
          y: 0
        },
        moving: false //是否正在框选
      },
      // 选择框样式
      moveStyle: {
        width: 0,
        height: 0,
        top: "auto",
        bottom: "auto",
        left: "auto",
        right: "auto"
      },
      // 选择框的位置
      movable: {
        left: 0,
        top: 0,
        right: 0,
        bottom: 0
      },
      // 选择框的移动
      movePos: {
        moving: false, // 是否开始移动
        lastX: 0, // 鼠标上一次的位置x
        lastY: 0, // 鼠标上一次的位置y
      }
    };
  },
  computed: {
    ...mapState("resourceManage", ["isCombineResourceEditPage", "selectLine", "selectedChart"]),
    ...mapGetters(["reportSetting"])
  },
  methods: {
    /**
     * 鼠标按下，记录初始点击的位置
     */
    onMousedown(e) {
      if(this.isCombineResourceEditPage) return
      if(this.selectLine.show) return
      const { x, y } = e;
      const { top, left, bottom, right } = e.target.getBoundingClientRect();
      this.point.start.x = x;
      this.point.start.y = y;
      this.movable = {
        left: x - left,
        top: y - top,
        right: right - x,
        bottom: bottom - y
      };
      this.point.moving = true; //标记移动开始
    },
    /**
     * 鼠标移动
     */
    onMousemove(e) {
      if(this.isCombineResourceEditPage) return
      if (!this.point.moving || this.selectLine.show) return;
      const { x, y } = e;
      this.moveStyle = {
        width: Math.abs(this.point.start.x - x) + "px",
        height: Math.abs(this.point.start.y - y) + "px"
      };
      if (x > this.point.start.x) {
        this.moveStyle.left = this.movable.left + "px";
        this.moveStyle.right = "auto";
      } else {
        this.moveStyle.left = "auto";
        this.moveStyle.right = this.movable.right + "px";
      }
      if (y > this.point.start.y) {
        this.moveStyle.top = this.movable.top + "px";
        this.moveStyle.bottom = "auto";
      } else {
        this.moveStyle.top = "auto";
        this.moveStyle.bottom = this.movable.bottom + "px";
      }
    },
    /**
     * 鼠标抬起
     */
    onMouseup(e) {
      if(this.isCombineResourceEditPage) return
      if(this.selectLine.show) {
        this.$emit("cancelSelect")
        return
      }
      if (!this.point.moving) return;
      this.point.end.x = e.x;
      this.point.end.y = e.y;
      this.point.moving = false;

      let selectArea = this.getSelectAreaPos()
      this.$emit("finishSelect", selectArea);

      this.moveStyle = {
        width: 0,
        height: 0,
        top: "auto",
        bottom: "auto",
        left: "auto",
        right: "auto"
      };
    },
    /**
     * 获取选择框四个角坐标（左上、右上、右下、左下）
     */
    getSelectAreaPos() {
      const selectWidth = parseInt(this.moveStyle.width);
      const selectHeight = parseInt(this.moveStyle.height);
      const left = this.movable.left;
      const top = this.movable.top;
      if(this.moveStyle.top !== "auto" && this.moveStyle.left !== "auto") { // 从左上角开始拖拽
        return [
          {
            x: left,
            y: top
          },
          {
            x: left + selectWidth,
            y: top
          },
          {
            x: left + selectWidth,
            y: top + selectHeight
          },
          {
            x: left,
            y: top + selectHeight
          }
        ];
      } else if(this.moveStyle.top !== "auto" && this.moveStyle.right !== "auto") { // 从右上角开始拖拽
        return [
          {
            x: left - selectWidth,
            y: top
          },
          {
            x: left,
            y: top
          },
          {
            x: left,
            y: top + selectHeight
          },
          {
            x: left - selectWidth,
            y: top + selectHeight
          },
        ];
      } else if(this.moveStyle.bottom !== "auto" && this.moveStyle.right !== "auto") { // 从右下角开始拖拽
        return [
          {
            x: left - selectWidth,
            y: top - selectHeight
          },
          {
            x: left,
            y: top - selectHeight
          },
          {
            x: left,
            y: top
          },
          {
            x: left - selectWidth,
            y: top
          },
        ];
      } else { // 从左下角开始拖拽
        return [
          {
            x: left,
            y: top - selectHeight
          },
          {
            x: left + selectWidth,
            y: top - selectHeight
          },
          {
            x: left + selectWidth,
            y: top
          },
          {
            x: left,
            y: top
          },
        ];
      }
    },
    saveResource() {
      this.$emit("saveResource")
    },
    onMoveMousedown(e) {
      const { x, y } = e;
      this.movePos = {
        moving: true,
        lastX: x,
        lastY: y
      }
    },
    onMoveMousemove: debounce(function(e) {
      if (!this.movePos.moving) return;

      const { x, y } = e;
      let moveRight = x - this.movePos.lastX
      let moveBottom = y - this.movePos.lastY
      moveRight = this.getNewPos(moveRight, moveBottom).moveRight // 最终右移的距离
      moveBottom = this.getNewPos(moveRight, moveBottom).moveBottom // 最终下移的距离

      if(moveRight !== 0 || moveBottom !==0) {
        this.$emit("selectedChartMoving", moveRight, moveBottom)
      }

      // 记录本次鼠标位置
      this.movePos.lastX = x
      this.movePos.lastY = y
    }, 1000 / 200),
    /**
     * 如果框选图表，有任意一个存在于画布四条边，则对应方向不再移动
     */
    getNewPos(moveRight, moveBottom) {
      const reportPageMeasureArr = this.reportSetting.pageMeasure.split(",");
      const canvasWidth = parseInt(reportPageMeasureArr[1])
      const canvasHeight = parseInt(reportPageMeasureArr[2])

      for (const chart of this.selectedChart) {
        // 在画布最左侧，且还要左移
        if(chart.x === 0 && moveRight < 0) {
          moveRight = 0
        }
        // 在画布最上侧，且还要上移
        if(chart.y === 0 && moveBottom < 0) {
          moveBottom = 0
        }
        // 在画布最右侧，且还要右移
        if(chart.x + chart.width === canvasWidth && moveRight > 0) {
          moveRight = 0
        }
        // 在画布最下侧，且还要下移
        if(chart.y + chart.height === canvasHeight && moveBottom > 0) {
          moveBottom = 0
        }

        // 已经超出画布最左侧，且还要左移
        if((chart.x + moveRight) < 0) {
          moveRight = -chart.x
        }
        // 已经超出画布最右侧，且还要右移
        if((chart.x + chart.width + moveRight) > canvasWidth) {
          moveRight = canvasWidth - chart.x - chart.width
        }
        // 已经超出画布最上侧，且还要上移
        if((chart.y + moveBottom) < 0) {
          moveBottom = -chart.y
        }
        // 已经超出画布最下侧，且还要下移
        if((chart.y + chart.height + moveBottom) > canvasHeight) {
          moveBottom = canvasHeight - chart.y - chart.height
        }
      }

      return {
        moveRight,
        moveBottom
      }
    },
    onMoveMouseup(e) {
      this.movePos.moving = false;
      this.$emit("selectedChartMoved")
    }
  }
};
</script>

<style lang="less" scoped>
.moveSelect-container {
  width: 100%;
  height: 100%;
  .moveMask {
    position: fixed;
    background: rgba(63, 115, 255, 0.1);
    z-index: 10000;
  }
  .selectWrapper {
    position: absolute;
    background: rgba(63, 115, 255, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(100, 149, 250, 1);
    border-radius: 2px;
    z-index: 10000;
    cursor: move;
    .handle1 {
      background: transparent;
      border: 2px solid #3f73ff;
      width: 10px;
      height: 10px;
      position: absolute;
    }
    .handle1-tl {
      top: -2px;
      left: -2px;
      // cursor: nwse-resize;
      border-right: none;
      border-bottom: none;
    }
    .handle1-tm {
      top: -2px;
      left: calc(~"50% - 5px");
      // cursor: ns-resize;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
    .handle1-tr {
      top: -2px;
      right: -2px;
      // cursor: nesw-resize;
      border-left: none;
      border-bottom: none;
    }
    .handle1-mr {
      top: calc(~"50% - 5px");
      right: -2px;
      // cursor: ew-resize;
      border-top: none;
      border-left: none;
      border-bottom: none;
    }
    .handle1-br {
      top: calc(~"100% - 7px");
      left: calc(~"100% - 7px");
      // cursor: nwse-resize;
      border-top: none;
      border-left: none;
    }
    .handle1-bm {
      bottom: -2px;
      left: calc(~"50% - 5px");
      // cursor: ns-resize;
      border-top: none;
      border-left: none;
      border-right: none;
    }
    .handle1-bl {
      left: -2px;
      bottom: -2px;
      // cursor: nesw-resize;
      border-top: none;
      border-right: none;
    }
    .handle1-ml {
      top: calc(~"50% - 5px");
      left: -2px;
      // cursor: ew-resize;
      border-top: none;
      border-right: none;
      border-bottom: none;
    }
    .saveResourceBtn {
      background: #3f73ff;
      border-radius: 4px;
      width: 96px;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: absolute;
      top: -38px;
      right: -4px;
      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
      span {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}
</style>
