<template>
  <Modal v-model="showModal" class="saveResourceModal-container" title="保存资源" :mask-closable="false">
    <div class="resourceBox">
      <span class="resourceTitle required">资源名称:</span>
      <Input ref="resourceNameInput" class="resourceContent" placeholder="请输入资源名称" clearable v-model.trim="resourceName" />
    </div>
    <div class="resourceBox">
      <span class="resourceTitle required">资产分组:</span>
      <TreeSelect
        class="resourceContent"
        v-model="fileGroupValue"
        :expand-all="false"
        :data="fileGroupList"
        :multiple="false"
        placeholder="请选择分组"
        check-strictly
      />
    </div>
    <div class="resourceBox">
      <span class="resourceTitle">资源标签:</span>
      <AssetsLabel class="resourceContent" paddingBottom="5px" :data="tagValue" @select="handleAssetsLabelSelect" />
    </div>
    <div slot="footer">
      <Button type="text" @click="showModal = false">取消</Button>
      <Button type="primary" @click="onConfirm">确定</Button>
    </div>
  </Modal>
</template>

<script>
import TreeSelect from "@/components/tree-select";
import AssetsLabel from "@/view/report/components/AssetsLabel";
import { getDimensionTreeData, findDimensionById } from "@/api/dimension";
import { deepCopy } from "@/utils/common";
import { mapState, mapGetters, mapMutations } from "vuex";

export default {
  components: {
    TreeSelect,
    AssetsLabel
  },
  data() {
    return {
      showModal: false,
      resourceName: "", // 资源名称
      fileGroupList: [], // 资产分组列表
      fileGroupValue: [], // 选择的资产分组
      tagValue: [] // 选择的标签
    };
  },
  computed: {
    ...mapState("resourceManage", ["saveResourceModalStatus"]),
    ...mapGetters("resourceManage", ["allResourceName"])
  },
  created() {
    this.getTreeData();
  },
  methods: {
    ...mapMutations("resourceManage", ["setSaveResourceModalStatus"]),
    /**
     * 获取资产分组数据
     */
    async getTreeData() {
      const { data } = await getDimensionTreeData();
      if (data?.state === "success") {
        let groupData = data.data.dimensionGroupList;
        let dimensionData = data.data.dimensionList;
        let allData = groupData.concat(dimensionData);
        let root = [
          {
            id: -1,
            title: "数据资产",
            expand: true,
            type: "group",
            deep: 0,
            disabled: true
          }
        ];
        const treeData = this.generateTree(root, allData);
        if (this.saveResourceModalStatus.defaultGroupId) {
          this.fileGroupValue = [this.saveResourceModalStatus.defaultGroupId]; // 默认的分组id
        } else {
          this.defaultSelectFileGroup(treeData);
        }
        this.fileGroupList = this.generateTree(root, groupData);
      } else {
        this.$Message.error("获取资产分组失败");
      }
    },
    /**
     * 递归-生成维度（分组）树
     * @param parent 父节点
     * @param all 全部数据
     * @param deep 层级，根节点为0
     */
    generateTree(parent, all, deep = 1) {
      return parent.map(parentItem => {
        let children = all
          .filter(allItem => {
            let parentId = allItem.parentId || allItem.groupId;
            return parentId === parentItem.id;
          })
          .map(child => ({
            id: child.id,
            title: child.name,
            deep: deep,
            type: child.parentId ? "group" : "value",
            expand: false,
            selected: false
          }));

        return {
          ...parentItem,
          children: children.length ? this.generateTree(children, all, ++deep) : []
        };
      });
    },
    /**
     * 默认选中的资产分组
     * @param tree
     * @param id
     * @returns {boolean}
     */
    async defaultSelectFileGroup(tree, id = null) {
      for (let treeItem of tree) {
        let condition = id ? treeItem.type === "value" && treeItem.id === id : treeItem.type === "value";
        if (condition) {
          const res = await findDimensionById(treeItem.id);
          if (res.data.state === "success") {
            let dimension = res.data.data;
            this.fileGroupValue = [dimension.groupId];
          }
          return true;
        } else {
          if (treeItem.children?.length && (await this.defaultSelectFileGroup(treeItem.children, id))) {
            treeItem.expand = true;
            return true;
          }
        }
      }
      return false;
    },
    /**
     * 标签变化
     * @param selected
     */
    async handleAssetsLabelSelect(selected) {
      const index = this.tagValue.findIndex(item => item.id === selected.id);
      if (index === -1) {
        this.tagValue.push(selected);
      } else {
        this.tagValue.splice(index, 1);
      }
    },
    onConfirm() {
      if (this.resourceName === "") {
        this.$refs.resourceNameInput.focus();
        this.$Message.warning("请输入资源名称");
        return;
      }
      if (this.resourceName.length > 20) {
        this.$Message.warning("资源名称不能超过20个字");
        return;
      }
      if (this.fileGroupValue.length === 0) {
        this.$Message.warning("请选择资产分组");
        return;
      }

      let param = {
        resourceName: this.judgeTitleIsRepeat(this.resourceName),
        labels: this.tagValue.map(ele => ({ id: ele.id })),
        groupId: this.fileGroupValue[0]
      };
      this.$emit("onConfirm", param);
    },
    /**
     * 判断名称是否重复，重复自动加数字后缀
     * @param {String} title 资源名称
     * @param {*} num 后缀数字
     */
    judgeTitleIsRepeat(title, num = 0) {
      let newTitle = num === 0 ? title : `${title}(${num})`;
      num++;

      const { type, resourceName } = this.$route.query;
      const isRepeat = this.allResourceName.some(ele => ele === newTitle);

      // - 编辑时（type = edit），可以和原来名称一样。但不能和其他资源重复。
      // - 新增时（type = add || undefined），不能重复
      if (type === "edit") {
        if (isRepeat && newTitle !== resourceName) {
          return this.judgeTitleIsRepeat(title, num);
        } else {
          return newTitle;
        }
      } else {
        if (isRepeat) {
          return this.judgeTitleIsRepeat(title, num);
        } else {
          return newTitle;
        }
      }
    }
  },
  watch: {
    saveResourceModalStatus: {
      handler(newVal) {
        this.showModal = newVal.show;
        this.resourceName = newVal.defaultTitle;

        // 回填分组id
        if(newVal.defaultGroupId) {
          this.fileGroupValue = [newVal.defaultGroupId];
        }

        // 回填标签
        let arr = [];
        if (newVal.defaultTagValue instanceof Array) {
          arr = newVal.defaultTagValue.map(ele => ({
            groupId: ele.groupId,
            id: ele.id,
            label: ele.name,
            name: ele.name,
            value: ele.id
          }));
        }
        this.tagValue = deepCopy(arr);
      },
      deep: true
    },
    // 关闭时，同步到vuex
    showModal(newVal) {
      if (!newVal) {
        this.setSaveResourceModalStatus({ show: newVal });
      }
    }
  }
};
</script>

<style lang="less" scoped>
.saveResourceModal-container {
  /deep/ .ivu-modal {
    width: 320px !important;
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-close {
        right: 14px;
        .ivu-icon-ios-close {
          color: #333333;
        }
      }
      .ivu-modal-header {
        padding: 14px 24px;
      }
      .ivu-modal-body {
        padding: 24px 24px 28px 33px;
        .resourceBox {
          display: flex;
          align-items: center;
          &:not(:last-of-type) {
            margin-bottom: 16px;
          }
          .resourceTitle {
            width: 60px;
            margin-right: 1px;
            position: relative;
            &.required::before {
              content: "*";
              position: absolute;
              left: -13px;
              top: 1px;
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: #ff0000;
              letter-spacing: 0;
            }
          }
          .resourceContent {
            width: calc(~"100% - 61px");
            &.assets-label {
              cursor: pointer;
              .select-wrapper {
                width: 100%;
                padding: 5px 22px 5px 14px;
                background: rgba(255, 255, 255, 0.03);
                border: 1px solid rgba(217, 217, 217, 1);
                border-radius: 4px;
                box-sizing: border-box;
                height: 32px;
                .selected-list {
                  flex-wrap: nowrap;
                  overflow-x: hidden;
                  .list-item {
                    margin-right: 10px;
                    margin-bottom: 5px;
                    height: 20px;
                    flex: none;
                  }
                }
                .ivu-icon {
                  font-size: 14px;
                  right: 8px;
                  color: #808695;
                }
              }
              .search-input {
                width: 100%;
              }
            }
          }
        }
      }
      .ivu-modal-footer {
        border-top: none;
        padding: 0 24px 24px;
        .ivu-btn {
          height: 32px !important;
        }
      }
    }
  }
}
</style>
