<template>
  <Modal class="changeOwnerModal-container" :value="showHandle" @on-cancel="onCancel" :title="`${modalTitle}处理`" width="778" footer-hide>
    <div class="changeOwnerWrapper">
      <section class="timeSelectWrapper">
        <span class="handleText">待处理</span>
        <div class="handleTime">
          <span>处理周期：</span>
          <ReportCalendar
            editable
            isShowSelecter
            :currentDate="currentDate"
            :beyondTodayIsDisable="false"
            @dateConfirm="dateConfirm"
            @changeDateTab="changeDateTab"
            @handlelTimeClose="onCancel"
            @handleTimeConfirm="onConfirm"
          />
        </div>
      </section>
      <Input :style="{ marginTop: `${marginTop}px` }" v-model.trim="handleRemark" type="textarea" :rows="3" placeholder="请输入备注信息" />

      <!-- <div class="actionBtn">
        <section class="cancelBtn" @click="onCancel">取消</section>
        <section class="confirmBtn" @click="onConfirm">确认</section>
      </div> -->
    </div>
  </Modal>
</template>

<script>
import ReportCalendar from "./report-calendar/ReportCalendar.vue";
import moment from "moment";
import { dateChange } from "@/utils/dateFormat";

export default {
  props: {
    showHandle: {
      type: Boolean,
      required: true
    },
    modalTitle: {
      type: String,
      required: true
    }
  },
  components: {
    ReportCalendar
  },
  data() {
    return {
      currentDate: {}, // 处理时间
      handleRemark: "", // 处理备注
      marginTop: 0
    };
  },
  mounted() {
    this.currentDate = {
      startDate: dateChange(0),
      endDate: dateChange(0),
      period: "99"
    };
  },
  methods: {
    /**
     * 选择日期
     */
    async dateConfirm(startDate, endDate, period) {
      const startDateStr = moment(startDate).format("YYYY-MM-DD");
      const endDateStr = moment(endDate).format("YYYY-MM-DD");
      this.currentDate = {
        startDate: startDateStr,
        endDate: endDateStr,
        period
      };
    },
    /**
     * 切换日期左侧tab
     */
    changeDateTab(tab) {
      if (tab === "2" || tab === "3") {
        this.marginTop = 365;
      } else if (tab === "4" || tab === "7") {
        this.marginTop = 318;
      } else {
        this.marginTop = 365;
      }
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.$emit("closeModal");
    },
    /**
     * 确认
     */
    onConfirm() {
      if (this.handleRemark === "") {
        this.$Message.warning("请填写备注！");
        return false;
      }
      let checkTrue = this.check(this.currentDate.startDate, this.currentDate.endDate)
      if(checkTrue){
        this.$emit("onConfirm", this.currentDate, this.handleRemark);
        this.handleRemark = '';
      }
    },
    check(startTime, endTime) {
        if (startTime.length > 0 && endTime.length > 0) {
            var startTmp = startTime.split("-");
            var endTmp = endTime.split("-");
            var sd = new Date(startTmp[0], startTmp[1], startTmp[2]);
            var ed = new Date(endTmp[0], endTmp[1], endTmp[2]);
            if (sd.getTime() > ed.getTime()) {
                this.$Message.warning("开始日期不能大于结束日期");
                return false;
            }
        }
        return true;
    }
  }
};
</script>

<style lang="less" scoped>
.changeOwnerModal-container {
  /deep/.ivu-modal {
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-body {
        padding: 0;
      }
    }
  }

  .changeOwnerWrapper {
    padding: 16px 24px 60px;
    .timeSelectWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .handleText {
        font-family: PingFangSC-Medium;
        font-size: 12px;
        letter-spacing: 0;
        font-weight: 500;
        color: #f86666;
      }
      .handleTime {
        display: flex;
        align-items: center;
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #333333;
          letter-spacing: 0;
        }
        /deep/.calendar-container-wrap {
          .report-calendar {
            width: 730px;
            top: 43px;
            box-shadow: none;
            border: 1px solid rgba(221, 221, 221, 1);
            border-radius: 4px;
          }
        }
      }
    }

    .actionBtn {
      display: flex;
      justify-content: flex-end;
      margin-top: 16px;
      .cancelBtn,
      .confirmBtn {
        width: 72px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
      }
      .cancelBtn {
        border: 1px solid rgba(217, 217, 217, 1);
        margin-right: 16px;
        color: #949494;
      }
      .confirmBtn {
        background: #3f73ff;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}
</style>
