<template>
  <div class="department-tree">
    <Input class="search-input" v-model="search" placeholder="请输入业务目录名称" clearable>
      <img class="icon-search" src="@/assets/icons/authorizationManagement/icon_search.svg" slot="suffix" />
    </Input>
    <div class="tree-wrapper">
      <Tree :data="treeData" @on-select-change="onSelectChange" />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { deepCopy, filterTree } from '@/utils/common'
import { buildTree } from '@/libs/util'

export default {
  name: 'DepartmentTree',
  data() {
    return {
      search: '', // 搜索关键字
      treeData: [], // 业务目录树
      treeDataBak: [],
    }
  },
  computed: {
    ...mapState('authorizationManagement', [
      'businessDirectoryList',
      'resourceId',
      'rightTab',
    ]),
  },
  created() {
    this.treeDataBak = []
  },
  mounted() {
    this.getBusinessDirectoryTree()
  },
  watch: {
    businessDirectoryList() {
      this.getBusinessDirectoryTree()
    },
    rightTab() {
      this.getBusinessDirectoryTree()
    },
    search(val) {
      this.treeData = filterTree(this.treeDataBak, val)
    },
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'setResourceId',
      'getBusinessDirectoryListAndDepartmentList',
      'getBusinessDirectoryListAndRoleList',
    ]),

    /**
     * 点击树节点
     * @param nodes 当前已选中的节点数组
     * @param node 当前项
     */
    onSelectChange(nodes, node) {
      // 节点不支持反选
      if (node.id === this.resourceId) {
        node.selected = true
        return
      }
      this.setResourceId(node.id)
      if (this.rightTab === 'department') {
        this.getBusinessDirectoryListAndDepartmentList()
      } else {
        this.getBusinessDirectoryListAndRoleList()
      }
    },

    /**
     * 获取角色树
     */
    getBusinessDirectoryTree() {
      let list = this.businessDirectoryList.map(item => ({
        ...item,
        id: Number(item.id),
        parentId: item.pid,
        title: item.name,
      }))
      list.push({ id: -1, title: '/', parentId: null })
      this.treeData = buildTree(list, null, false, false)
      this.treeDataBak = deepCopy(this.treeData)
    },
  },
}
</script>

<style scoped lang="less">
.department-tree {
  height: 100%;
  padding: 0 16px 16px;
}

// Tree组件样式重写
.tree-wrapper {
  margin-top: 12px;
  height: calc(~'100% - 44px');
  overflow: auto;
  overflow-x: hidden;

  /deep/ .ivu-tree {
    user-select: none;
  }
}
</style>
