<template>
  <div class="department-tree">
    <Input
      class="search-input"
      v-model="search"
      placeholder="请输入部门名称"
      clearable
    >
      <img
        class="icon-search"
        src="@/assets/icons/authorizationManagement/icon_search.svg"
        slot="suffix"
      />
    </Input>
    <div class="tree-wrapper">
      <Tree :data="treeData" @on-select-change="onSelectChange" />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import departmentTree from "@/mixins/authorizationManagement/departmentTree";
import iconDepartment from "@/assets/icons/authorizationManagement/icon_department.svg";
import { deepCopy } from "@/utils/common";
import { filterTree } from "@/utils/common";

export default {
  name: "DepartmentTree",
  mixins: [departmentTree],
  data() {
    return {
      search: "", // 搜索关键字
      treeData: [], // 部门树
    };
  },
  computed: {
    ...mapState("authorizationManagement", [
      "departmentList",
      "leftTab",
      "domainId",
    ]),
  },
  created() {
    this.treeDataBak = [];
  },
  mounted() {
    this.getDepartmentTree();
  },
  watch: {
    leftTab() {
      this.search = "";
      this.getDepartmentTree();
    },
    departmentList() {
      this.getDepartmentTree();
    },
    search(val) {
      this.treeData = filterTree(this.treeDataBak, val);
    },
  },
  methods: {
    ...mapActions("authorizationManagement", [
      "getDepartmentListAndDirectoryList",
      "getPersonnelManagementDirectoryList",
      "setDomainId",
      "getDomainResourceList",
    ]),

    /**
     * 点击树节点
     * @param nodes 当前已选中的节点数组
     * @param node 当前项
     */
    onSelectChange(nodes, node) {
      // 节点不支持反选
      if (node.id === this.domainId) {
        node.selected = true;
        return;
      }
      this.setDomainId(node.id);
      this.getDepartmentListAndDirectoryList(node.id);
      this.getPersonnelManagementDirectoryList();
      this.getDomainResourceList();
    },

    /**
     * 树子节点render函数
     */
    renderNode(h, { root, node, data }) {
      return h(
        "span",
        {
          class: ["node"],
        },
        [
          h("img", {
            class: ["icon-node"],
            attrs: {
              src: iconDepartment,
            },
          }),
          h(
            "span",
            {
              attrs: {
                title: data.title,
              },
            },
            data.title
          ),
        ]
      );
    },

    /**
     * 获取部门树
     */
    getDepartmentTree() {
      let list = this.departmentList
        .map((item) => ({
          ...item,
          id: Number(item.id),
          parentId: item.groupId,
          title: item.name,
        }))
        .sort();
      list.push({ id: -1, title: "/", parentId: null, disabled: true });
      this.treeData = this.buildTree(list, this.renderNode);
      this.treeDataBak = deepCopy(this.treeData);
    },
  },
};
</script>

<style scoped lang="less">
.department-tree {
  height: 100%;
  padding: 0 16px 16px;
}

// Tree组件样式重写
.tree-wrapper {
  margin-top: 12px;
  height: calc(~"100% - 44px");
  overflow: auto;
  overflow-x: hidden;

  /deep/ .ivu-tree {
    user-select: none;

    .ivu-icon-ios-arrow-forward:before {
      background: url("~@/assets/icons/authorizationManagement/icon_department_group.svg");
    }

    .ivu-tree-title {
      padding-left: 12px;
    }

    .node {
      width: 100%;
      display: inline-flex;
      align-items: center;
      margin-left: -12px;

      .icon-node {
        width: 16px;
        height: 16px;
        margin-right: 6px;
      }

      > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>
