<template>
  <div class="role-list">
    <Input
      class="search-input"
      v-model="search"
      placeholder="请输入角色名称"
      clearable
    >
      <img
        class="icon-search"
        src="@/assets/icons/authorizationManagement/icon_search.svg"
        slot="suffix"
      />
    </Input>
    <div class="tree-wrapper">
      <Tree
        :data="treeData"
        @click.native.stop="onClick"
        @on-select-change="onSelectChange"
      />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import treeClick from "@/mixins/treeClick";
import { deepCopy, filterTree } from "@/utils/common";

export default {
  name: "RoleList",
  mixins: [treeClick],
  data() {
    return {
      search: "", // 搜索关键字
      treeData: [], // 角色树
    };
  },
  computed: {
    ...mapState("authorizationManagement", ["roleList", "leftTab", "domainId"]),
  },
  created() {
    this.treeDataBak = [];
  },
  mounted() {
    this.getRoleTree();
  },
  watch: {
    leftTab() {
      this.search = "";
      this.getRoleTree();
    },
    roleList() {
      this.getRoleTree();
    },
    search(val) {
      this.treeData = filterTree(this.treeDataBak, val);
    },
  },
  methods: {
    ...mapActions("authorizationManagement", [
      "getRoleListAndDirectoryList",
      "getPersonnelManagementDirectoryList",
      "setDomainId",
      "getDomainResourceList",
    ]),

    /**
     * 点击树节点
     * @param nodes 当前已选中的节点数组
     * @param node 当前项
     */
    onSelectChange(nodes, node) {
      // 节点不支持反选
      if (node.id === this.domainId) {
        node.selected = true;
        return;
      }
      this.setDomainId(node.id);
      this.getRoleListAndDirectoryList(node.id);
      this.getPersonnelManagementDirectoryList();
      this.getDomainResourceList();
    },

    /**
     * 获取角色树
     */
    getRoleTree() {
      let list = this.roleList.map((item) => ({
        ...item,
        id: Number(item.id),
        parentId: item.groupId,
        title: item.name,
      }));
      list.push({ id: -1, title: "/", parentId: null });
      this.treeData = this.buildTree(list, this.renderNode);
      this.treeDataBak = deepCopy(this.treeData);
    },

    /**
     * 树子节点render函数
     */
    renderNode(h, { root, node, data }) {
      return h(
        "span",
        {
          attrs: {
            title: data.title,
          },
        },
        data.title
      );
    },

    /**
     * 构建树
     * @param list
     * @param parentId
     * @returns {*[]}
     */
    buildTree(list, renderNode, parentId = null) {
      let tree = [];

      for (let item of list) {
        if (item.parentId === parentId) {
          let children = this.buildTree(list, renderNode, item.id);
          if (children.length > 0) {
            item.children = children;
          }
          // 角色分组不可点击
          item.disabled = item.type === "group";
          item.render = renderNode;
          item.expand = true;
          tree.push(item);
        }
      }

      return tree;
    },
  },
};
</script>

<style scoped lang="less">
.role-list {
  height: 100%;
  padding: 0 16px 16px;
}

// Tree组件样式重写
.tree-wrapper {
  margin-top: 12px;
  height: calc(~"100% - 44px");
  overflow: auto;

  /deep/ .ivu-tree {
    user-select: none;
  }
}
</style>
