<template>
  <div class="user-filter">
    <div class="header">
      <span class="title">用户筛选</span>
      <span class="clear" @click="onClear">清空</span>
    </div>
    <div class="body">
      <CheckboxTree ref="checkboxTree" :data="treeData" hide-search />
    </div>
    <div class="footer">
      <Button @click="onCancel">取消</Button>
      <Button type="primary" @click="onConfirm">确定</Button>
    </div>
  </div>
</template>

<script>
import CheckboxTree from '@/view/system/authorizationManagement/components/LeftTabs/components/AuthorizationReuse/components/CheckboxTree.vue'
import { mapActions } from 'vuex'
import iconDepartment from '@/assets/icons/authorizationManagement/icon_department.svg'
import { getAuthDept } from '@/api/systemManagement/authorizationManagement'
import { deepCopy } from '@/utils/common'

export default {
  name: 'UserFilter',
  emits: ['on-cancel', 'on-confirm'],
  components: {
    CheckboxTree,
  },
  data() {
    return {
      departmentList: [], // 部门列表
      treeData: [], // 部门树
    }
  },
  mounted() {
    this.getAuthDepartmentList()
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'getUserListAndDirectoryList',
      'setUserListDeptIds',
    ]),

    /**
     * 树子节点render函数
     */
    renderNode(h, { root, node, data }) {
      return h('span', {
        class: ['node', { 'group-node': data.children }],
      }, [
        h('img', {
          class: ['icon-node'],
          attrs: {
            src: iconDepartment,
          },
        }),
        h('span', data.title),
      ])
    },

    /**
     * 获取可授权部门列表
     */
    async getAuthDepartmentList() {
      const res = await getAuthDept()
      if (res.data.state === 'success') {
        this.departmentList = res.data.data
        this.getDepartmentTree()
      } else {
        this.$Message.error('获取可授权部门列表失败！')
      }
    },

    /**
     * 获取可授权部门树
     */
    getDepartmentTree() {
      let list = deepCopy(this.departmentList)
      list = list.map(item => ({
        ...item,
        id: Number(item.id),
        parentId: item.groupId,
        title: item.name,
      }))
      list.push({ id: 0, title: '所有部门', parentId: null })
      this.treeData = this.buildTree(list, this.renderNode)

    },

    /**
     * 构建树
     * @param list 列表
     * @param renderNode 子节点渲染函数
     * @param parentId 父节点id
     * @returns {*[]}
     */
    buildTree(list, renderNode, parentId = null) {
      let tree = []

      for (let item of list) {
        if (item.parentId === parentId) {
          let children = this.buildTree(list, renderNode, item.id)
          if (children.length > 0) {
            item.children = children
          }
          item.render = renderNode
          item.expand = true
          item.checked = false
          tree.push(item)
        }
      }

      return tree
    },

    /**
     * 清空
     */
    onClear() {
      this.getDepartmentTree()
    },

    /**
     * 取消
     */
    onCancel() {
      this.$emit('on-cancel')
    },

    /**
     * 确定
     */
    onConfirm() {
      let checkedNodes = this.$refs.checkboxTree.$refs.tree.getCheckedNodes()
      let deptIds = checkedNodes.map(item => item.id).join(',')
      this.setUserListDeptIds(deptIds)
      this.getUserListAndDirectoryList()
      this.$emit('on-confirm')
    },
  },
}
</script>

<style scoped lang="less">
.user-filter {
  height: 100%;
  padding: 0 16px 16px;
}

.header {
  display: flex;
  justify-content: space-between;

  .title {
    color: #000;
  }

  .clear {
    color: #3F73FF;
    cursor: pointer;
  }
}

.body {
  margin-top: 16px;
  height: calc(~'100% - 78px');

  /deep/ .checkbox-tree {
    height: 100%;

    .tree-wrapper {
      height: inherit;
    }

    .ivu-checkbox-wrapper {
      display: inline-block;
    }

    li {
      position: relative;
    }

    .node {
      margin-left: 0;

      .icon-node {
        position: absolute;
        left: 4px;
      }
    }

    .group-node {
      margin-left: 0;

      .icon-node {
        display: none;
      }
    }
  }
}

.footer {
  margin-top: 12px;
  text-align: right;

  button + button {
    margin-left: 12px;
  }
}
</style>
