<template>
  <div class="user-list">
    <Input
      class="search-input"
      v-model="search"
      placeholder="请输入用户名称"
      clearable
    >
      <img
        class="icon-search"
        src="@/assets/icons/authorizationManagement/icon_search.svg"
        slot="suffix"
      />
    </Input>
    <div class="list-wrapper">
      <div
        :class="['list-item', { active: domainId === item.id }]"
        v-for="item in userList"
        @click="onSelect(item)"
      >
        {{ item.nickname || item.name }}
      </div>
    </div>
    <Page
      :total="userCount"
      simple
      :page-size="userListPageSize"
      @on-change="onPageChange"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import _ from "lodash";

export default {
  name: "UserList",
  data() {
    return {
      search: "", // 搜索关键字
      listData: [], // 列表数据
    };
  },
  computed: {
    ...mapState("authorizationManagement", [
      "userList",
      "userListPageSize",
      "userCount",
      "leftTab",
      "domainId",
    ]),
  },
  watch: {
    leftTab() {
      this.search = "";
      this.setDomainId("");
    },
    search(val) {
      this.onSearchChange(val);
    },
  },
  methods: {
    ...mapActions("authorizationManagement", [
      "setDomainId",
      "getUserListAndDirectoryList",
      "getPersonnelManagementDirectoryList",
      "setUserListPageNum",
      "setUserListKeywords",
      "getDomainResourceList",
    ]),

    /**
     * 搜索关键字变化
     * @param keywords
     */
    onSearchChange: _.debounce(function (keywords) {
      this.setUserListKeywords(keywords);
      this.getUserListAndDirectoryList(this.domainId);
    }, 300),

    /**
     * 页码变动
     * @param page
     */
    onPageChange(page) {
      this.setUserListPageNum(page);
      this.getUserListAndDirectoryList(this.domainId);
    },

    /**
     * 选择角色
     * @param role
     */
    onSelect(role) {
      // 角色未改变
      if (role.id === this.domainId) {
        return;
      }
      this.setDomainId(role.id);
      this.getUserListAndDirectoryList(this.domainId);
      this.getPersonnelManagementDirectoryList();
      this.getDomainResourceList();
    },
  },
};
</script>

<style scoped lang="less">
.user-list {
  height: 100%;
  padding: 0 16px 16px;
}

.list-wrapper {
  margin-top: 14px;
  height: calc(~"100% - 82px");
  overflow: auto;

  .list-item {
    line-height: 32px;
    padding: 0 6px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background: rgba(63, 115, 255, 0.05);
    }

    &.active {
      background: rgba(63, 115, 255, 0.1);
    }
  }
}

.ivu-page {
  margin-top: 12px;
}
</style>
