<template>
  <div class="view-content">
    <div class="collapse-content" v-if="showMode == 'collapse'">
      <div class="collapse-grid" :class="{ 'collapse-outer': !item.parentId, 'high-light': item.id == highLightId }"
        v-for="(item, index) in  data " :key="index">
        <Collapse simple :value="item.parentId ? '' : item.id.toString()" :class="item.parentId ? '' : 'top-node'"
          v-if="item.title">
          <img src="@/assets/icons/objectManage/turnIcon.svg" alt="" v-if="!item.parentId && !item.errorMessage"
            class="turn-icon" @click="showDetail(item.id)">
          <Panel :name="item.id.toString()">
            <collapseHead :data="item"></collapseHead>
            <div slot="content">
              <collapseContent :data="item"></collapseContent>
              <collapseTab :data="item.children" :showMode="showMode"></collapseTab>
            </div>
          </Panel>
        </Collapse>
        <Spin size="large" v-else-if="!item.parentId"></Spin>
      </div>
    </div>
    <div class="tile-content" v-else>
      <ul class="list-container">
        <li class="list-item" v-for="(item, index) in  data " :key="index">
          <collapseHead :data="item" style="margin-bottom: 10px;"></collapseHead>
          <collapseContent :data="item"></collapseContent>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import collapseContent from './collapse-content.vue';
import collapseHead from './collapse-head.vue';
export default {
  name: 'collapseTab',
  props: {
    data: {
      type: Array,
      default: () => []
    },
    showMode: {
      type: String,
      defalut: 'collapse'
    },
    highLightId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
    }
  },
  components: {
    collapseContent,
    collapseHead
  },
  mounted() {

  },
  methods: {
    showDetail(id) {
      this.$emit('showDetail', id)
    }
  },
}
</script>
<style scoped lang='less'>
.collapse-content {

  .collapse-outer {
    border-radius: 4px;
    border: 1px solid rgba(210, 221, 252, 1) !important;
    padding: 0 45px 10px 10px;
    position: relative;
    margin-bottom: 20px;

    >.ivu-collapse-item {
      border-top: none;
    }

    &:hover {
      border: 1px solid rgba(63, 115, 255, 1);
      box-shadow: 0px 0px 6px 0px rgba(135, 167, 255, 1);
    }

    /deep/.ivu-spin {
      padding: 20px 0;

      .ivu-spin-main {
        display: flex;
        justify-content: center;
      }
    }
  }

  .high-light {
    border: 1px solid rgba(63, 115, 255, 1);
    box-shadow: 0px 0px 6px 0px rgba(135, 167, 255, 1);
  }

  .turn-icon {
    position: absolute;
    right: 12px;
    top: 11px;
    cursor: pointer;
  }

  .top-node {
    border: none !important;
  }

  .ivu-collapse {
    border-top: 1px solid #dcdee2;
    border-bottom: none;

    .ivu-collapse-simple {
      margin-top: 10px;
    }

    /deep/.ivu-collapse-item {
      border-top: none;

      i {
        margin-right: 5px;
      }
    }

    /deep/.ivu-collapse-content {
      .ivu-collapse-content-box {
        padding-bottom: 0;
      }

      padding: 0 0 0 15px;
    }
  }
}

.tile-content {
  .list-container {
    .list-item {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      border: 1px solid rgba(210, 221, 252, 1);
      border-radius: 4px;
      padding: 10px 0 10px 20px;

      &:hover {
        border: 1px solid rgba(63, 115, 255, 1);
        box-shadow: 0px 0px 6px 0px rgba(135, 167, 255, 1);
      }
    }
  }
}
</style>