<template>
  <div class="object-data">
    <Row class="text-describe">
      <Col span="4">指标：<span>{{ data.indicatorName }}</span></Col>
      <Col span="7">规则：<span>当前值/目标值~{{ `${data.indicatorValue || '--'}/${data.aimValue}${data.aimValueUnit}` }}</span>
      </Col>
      <Col span="4">目标剩余天数：<span>{{ data.remainDays }}天</span></Col>
      <Col span="4" v-if="data.deptName">负责部门：<span>{{ data.deptName }}</span></Col>
      <Col span="4">负责人：<span>{{ data.mangerName }}</span></Col>
    </Row>
    <div class="error-message" v-if="data.errorMessage">
      <span>指标查询错误：</span>
      <Tooltip :content="data.errorMessage" max-width="200">
        <span class="text">{{ data.errorMessage }}</span>
      </Tooltip>
    </div>
    <Progress :percent="percent(data.indicatorValue, data.aimValue)" :stroke-color="strokeColor(data)"
      style="width: 280px;" v-else />
  </div>
</template>

<script>
import objectManageMixin from '../object-manage-mixin';

export default {
  data() {
    return {

    }
  },
  props: {
    data: {
      type: Object,
      default: () => { }
    }
  },
  components: {

  },
  mixins: [objectManageMixin],
  computed: {
  },
  mounted() {

  },
  methods: {

  },
}

</script>
<style scoped lang='less'>
.object-data {
  width: 100%;
  display: flex;
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.45);
  font-family: PingFangSC-Regular;
  justify-content: space-between;

  .text-describe {
    flex: 1;
  }

  span {
    color: rgba(0, 0, 0, 0.85);
  }

  .error-message {
    width: 280px;
    display: flex;

    span {
      color: red;
      width: 90px;
    }

    .ivu-tooltip {
      .text {
        display: inline-block;
        width: 175px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>
