<template>
  <div class="collapse-header">
    <div class="text-left"> <img class="levelIcon" :src="aimTypeRule(data.aimType, 'icon')" alt="" />
      <span>{{ data.title }}</span>
    </div>
    <div class="icon-right">
      <Button type="primary" size="small" @click.stop="editObject(data.id)">编辑</Button>
      <Button type="error" size="small" @click.stop="deleteObject(data)">删除</Button>
      <div class="object-type icon">{{ aimTypeRule(data.aimType, 'text') }}</div>
      <div class="risk-level icon" :style="riskLevelRule(data, 'background')" v-if="judgeRiskLevel(data)">{{
        riskLevelRule(data, 'text') }}</div>
    </div>
  </div>
</template>

<script>
import objectManageMixin from '../object-manage-mixin';

export default {
  data() {
    return {

    }
  },
  props: {
    data: {
      type: Object,
      default: () => { }
    },
  },
  components: {

  },
  mixins: [objectManageMixin],
  inject: ['editObject', 'deleteObject'],
  computed: {
    rankImg() {
      let type
      switch (this.data.aimType) {
        case 1:
          type = 'company'
          break;
        case 2:
          type = 'department'
          break;
        case 3:
          type = 'personal'
          break;
      }
      return require(`@/assets/icons/objectManage/${type}.svg`)
    }
  },
  mounted() {

  },
  methods: {
    aimTypeRule(aimType, type) {
      let objectType = ''
      let iconType = ''
      switch (aimType) {
        case 1:
          objectType = '公司目标'
          iconType = 'company'
          break;
        case 2:
          objectType = '部门目标'
          iconType = 'department'
          break;
        case 3:
          objectType = '个人目标'
          iconType = 'personal'
          break;
      }
      return type == 'icon' ? require(`@/assets/icons/objectManage/${iconType}.svg`) : objectType
    },
  },
}

</script>
<style scoped lang='less'>
.collapse-header {
  display: inline-flex;
  vertical-align: middle;
  justify-content: space-between;
  width: calc(~'100% - 21px');

  .levelIcon {
    margin-bottom: -2px;
  }

  span {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    font-weight: 500;
    margin-left: 5px;
  }

  .icon-right {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;

    button {
      margin-right: 10px;
    }

    .ivu-btn-primary {
      background-color: #2781FF;
      border-color: #2781FF;
    }

    .icon {
      padding: 2px 9px;
      border-radius: 4px;
      height: 24px;
    }

    .object-type {
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.45);
    }

    .risk-level {
      color: #FFFFFF;
      margin-left: 10px;
    }
  }
}
</style>