<template>
  <Modal :value="openModal" :title="modalStatus == 'add' ? '创建目标' : '编辑目标'" @on-cancel="closeModal" :mask-closable="false"
    footer-hide width="800">
    <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="90" class="object-form">
      <p class="title">目标基础信息</p>
      <FormItem label="目标名称" prop="name">
        <Input v-model="formValidate.name" placeholder="请输入名称"></Input>
      </FormItem>
      <FormItem label="目标分组" prop="aimGroup" style="width: 66.6%;">
        <FaTreeSelect :selected="formValidate.aimGroup"
          :treeData="groupTreeData && groupTreeData[0] && groupTreeData[0].children" @changeVal="onAssetGroupChange"
          :refresh="true" class="custom-tree" style="width: 163px" />
      </FormItem>
      <FormItem label="目标类型" prop="aimType">
        <Select v-model="formValidate.aimType" placeholder="请选择关联类型" @on-change="typeChange">
          <Option v-for="item in objectData.objectTypeList" :key="item.value" :value="item.value">{{ item.label }}
          </Option>
        </Select>
      </FormItem>
      <FormItem label="关联部门" prop="refDeptId">
        <FaTreeSelect class="custom-tree" style="width: 163px" :selected="formValidate.refDeptId" :expand-all="false"
          :treeData="deptTreeDataF" :disabled="departmentDisabled" @changeVal="onChange($event, 'manageDeptId')" />
      </FormItem>
      <FormItem label="负责人" prop="manager">
        <Select v-model="formValidate.manager" placeholder="请选择负责人" not-found-text="无部门成员" v-if="!departmentDisabled">
          <Option v-for="item in userList" :key="item.id" :value="item.id">{{ item.nickname }}</Option>
        </Select>
        <SearchMemberSelect v-model="handlerObj" style="width: 163px" from="task"
          v-if="departmentDisabled && openModal" />
      </FormItem>
      <FormItem label="关联指标" prop="refIndicatorId">
        <FaTreeSelect class="filter-condition-select custom-tree indicatorSelect" :selected="formValidate.refIndicatorId"
          :treeData="curIndicatorTreeData" @changeVal="onIndicatorChange($event)" />
      </FormItem>
      <FormItem label="关联维度" prop="refDimensionId">
        <Select v-model="formValidate.refDimensionId" placeholder="请选择关联维度" @on-change="dimensionChange"
          not-found-text="暂无数据">
          <Option v-for="item in dimensionList" :key="item.id" :value="item.id">{{ item.name }}
          </Option>
        </Select>
      </FormItem>
      <FormItem label="关联维值" prop="refDimensionMember">
        <Select v-model="formValidate.refDimensionMember" placeholder="请选择关联维值" not-found-text="暂无数据">
          <Option v-for="(item, index) in dimensionDataList" :key="index" :value="item">{{ item }}
          </Option>
        </Select>
      </FormItem>
      <FormItem label="目标周期" prop="aimPeriod">
        <Select v-model="formValidate.aimPeriod" placeholder="请选择目标周期" @on-change="periodChange">
          <Option v-for="item in objectData.objectPeriodList" :key="item.value" :value="item.value">{{ item.label }}
          </Option>
        </Select>
        <span class="select-tips" v-show="formValidate.aimPeriod == 4">月循环最多连续选择12个月</span>
        <span class="select-tips" v-show="formValidate.aimPeriod == 5">日循环最多连续选择30日</span>
        <Tooltip content="选择月/日循环后，起止时间可选多月/日，所选月份/日中每个月/日目标一致" placement="top-start" max-width="500" theme="light"
          class="period-tips">
          <Icon type="ios-alert-outline" />
        </Tooltip>
      </FormItem>
      <FormItem label="起止时间" prop="aimDate" style="width: 66.6%;">
        <DatePicker :type="dateType" placement="bottom-end" placeholder="请选择起止时间" v-model="selectedDate1"
          :options="firstDateOptions">
        </DatePicker>
        <span class="date-picker-separator" v-show="formValidate.aimPeriod == 4">~</span>
        <DatePicker type="month" placement="bottom-end" placeholder="请选择结束时间" v-model="selectedDate2"
          :options="secondDateOptions" v-show="formValidate.aimPeriod == 4">
        </DatePicker>
      </FormItem>
      <FormItem label="目标值" prop="aimValue">
        <Input v-model="formValidate.aimValue" placeholder="请输入目标值"></Input>
      </FormItem>
      <FormItem label="目标值类型" prop="aimValueType">
        <Select v-model="formValidate.aimValueType" placeholder="请选择目标值类型" @on-change="valueTypeChange">
          <Option v-for="item in objectData.objectValueTypeList" :key="item.value" :value="item.value">{{ item.label }}
          </Option>
        </Select>
      </FormItem>
      <FormItem label="目标值单位" prop="aimValueUnit">
        <Select v-model="formValidate.aimValueUnit" placeholder="请选择目标值单位">
          <Option v-for="item in valueUnitList" :key="item.value" :value="item.value">{{ item.label }}
          </Option>
        </Select>
      </FormItem>
      <FormItem label="挑战值" prop="aimChallengeValue">
        <Input v-model="formValidate.aimChallengeValue" placeholder="请输入挑战值"></Input>
      </FormItem>
      <p class="title">目标拆解
        <Tooltip content="若本栏未填写，将无法评估目标实现风险；仅提供目标达成计算" placement="top-start" max-width="500" theme="light">
          <Icon type="ios-alert-outline" />
        </Tooltip>
      </p>
      <objectTable :timeList="timeList" :listDetails="listDetails" ref="objectTable"></objectTable>
      <FormItem class="form-footer">
        <Button @click="closeModal" style="margin-right: 16px">取消</Button>
        <Button type="primary" @click="handleSubmit('formValidate')">确定</Button>
      </FormItem>
    </Form>
  </Modal>
</template>

<script>
import objectTable from './object-table.vue';
import OBJECT_DATA from '../constant';
import FaTreeSelect from "@/components/treeSelect/fa-treeSelect.vue";
import { mapState, mapActions } from "vuex";
import { deepCopy } from "@/utils/common";
import { getUserListByDeptId } from "@/api/systemManagement/userManagement";
import SearchMemberSelect from "@/view/components/SearchMemberSelect.vue";
import { getBloodIndicatorById } from '@/api/indicator'
import { queryChartData } from '@/api/report'
import { getTimeFormat } from '@/utils/dateFormat'
import indicatorMixin from '@/view/report/mixin/indicatorMixin'
import { addObject, editObject } from '@/api/aimManagement'

export default {
  data() {
    return {
      objectData: OBJECT_DATA,
      formValidate: {
        name: '',
        manager: '',
        aimType: '',
        refDeptId: '',
        aimPeriod: 1,
        aimDate: '',
        aimGroup: '',
        refIndicatorId: '',
        aimValueType: '',
        aimValueUnit: '',
        aimValue: '',
        aimChallengeValue: '',
        refIndicatorType: '',
        refIndicatorName: '',
        refDimensionId: '', //关联维度id
        refDimensionMember: '', //关联维值name
      },
      ruleValidate: {
        aimValue: [
          {
            validator(rule, value, callback) {
              let errors
              if (isNaN(Number(value))) errors = '请输入数字';
              callback(errors);
            },
          },
        ],
        aimChallengeValue: [
          {
            validator(rule, value, callback) {
              let errors
              if (isNaN(Number(value))) errors = '请输入数字';
              callback(errors);
            },
          },
        ],
      },
      selectedDate1: '',
      selectedDate2: '',
      //日期限制条件
      firstDateOptions: {
        disabledDate(date) {
          return date && date.valueOf() < Date.now();
        }
      },
      secondDateOptions: {
        disabledDate(date) {
          return date && date.valueOf() < Date.now();
        }
      },
      dateType: 'year', //起止时间日期类型
      departmentDisabled: true, //部门类型是否禁用
      userList: [], //用户列表
      handlerObj: {}, //负责人信息集合
      dimensionList: [], //维度列表
      dimensionDataList: [], // 维值列表（根据指标和维度查出来的列表name集合）
      groupTreeData: [], // 指标分组树(资产分组)
      valueUnitList: [], //目标值单位列表
      listDetails:[], //编辑时获取的detail值
    }
  },
  props: {
    openModal: {
      type: Boolean,
      default: false
    },
    modalStatus: {
      type: String,
      default: 'add'
    },
    editObjectId: {
      type: Number,
      default: null
    },
  },
  components: {
    objectTable,
    FaTreeSelect,
    SearchMemberSelect
  },
  mixins: [indicatorMixin],
  watch: {
    selectedDate1: {
      handler(val) {
        if (this.formValidate.aimPeriod == 4) {
          if (this.selectedDate2) {
            this.handleMonthSelect()
          }
          this.formValidate.aimDate = this.handleTimeFormat(val) + '-' + this.handleTimeFormat(this.selectedDate2)
        } else {
          if (this.formValidate.aimPeriod == 5) { //最大选择30日 超出则设置30日
            if (val.length == 2) {
              const time1 = new Date(val[0]).getTime();
              const time2 = new Date(val[1]).getTime();
              const maxTime = time1 + 60 * 60 * 24 * 30 * 1000
              if (maxTime < time2) {
                this.selectedDate1 = [time1, maxTime]
                this.formValidate.aimDate = this.handleTimeFormat(this.selectedDate1)
                return
              }
            }
          }
          this.formValidate.aimDate = this.handleTimeFormat(val)
        }
      }
    },
    selectedDate2: {
      handler(val) {
        if (this.selectedDate1) {
          this.handleMonthSelect()
        }
        this.formValidate.aimDate = this.handleTimeFormat(this.selectedDate1) + '-' + this.handleTimeFormat(val)
      }
    },
    handlerObj: {
      deep: true,
      handler(val) {
        if (val) {
          this.formValidate.manager = val.id
        }
      }
    },
  },
  mounted() {
    if (!this.deptTreeData.length) {
      this.fetchDeptTree()
    }
    this.fetchIndicator()
    this.getIndGroup()
  },
  computed: {
    ...mapState("earlyWarningTarget", ["indicatorTreeData"]),
    ...mapState("department", ["deptTreeData"]),
    // 部门树
    deptTreeDataF() {
      return this.dataFormat({ list: deepCopy(this.deptTreeData) });
    },
    //指标树
    curIndicatorTreeData() {
      return deepCopy(this.indicatorTreeData);
    },
    timeList() {
      let list = []
      if (this.formValidate.aimPeriod == 1) {
        for (let i = 1; i < 13; i++) {
          list.push(i + '月')
        }
      }
      if (this.formValidate.aimPeriod == 2 && this.selectedDate1) {
        let time = new Date(this.selectedDate1)
        let year = time.getFullYear()
        let month = time.getMonth() + 1
        let date = new Date(year, month - 1, 1); // month 参数是从 1 开始的，所以需要减去 1
        while (date.getMonth() + 1 === month) {
          list.push(date.getDate() + '日');
          date.setDate(date.getDate() + 1);
        }
      }
      if (this.formValidate.aimPeriod == 3 && this.selectedDate1) {
        list.push(new Date(this.selectedDate1).toLocaleDateString())
      }
      if (this.formValidate.aimPeriod == 4 && this.selectedDate1 && this.selectedDate2) {
        for (let i = 1; i < 32; i++) {
          list.push(i + '日')
        }
      }
      if (this.formValidate.aimPeriod == 5 && Array.isArray(this.selectedDate1) && !this.selectedDate1.includes('')) {
        list = ['每日']
      }
      return list
    },
  },
  methods: {
    ...mapActions("earlyWarningTarget", ["fetchIndicator"]),
    ...mapActions("department", ["fetchDeptTree"]),
    closeModal() {
      this.$emit('closeModal')
      this.selectedDate1 = ''
      this.selectedDate2 = ''
      this.formValidate.refIndicatorName = '' //特殊处理 下面reset不会重置这两个
      this.formValidate.refIndicatorType = ''
      this.userList = []
      this.handlerObj = {}
      this.dimensionList = []
      this.dimensionDataList = []
      this.departmentDisabled = true
      this.$refs.formValidate.resetFields();
    },
    //新增/编辑目标
    handleSubmit(name) {
      if (!this.verify()) return;
      this.$refs[name].validate((valid) => {
        if (valid && this.selectedDate1) {
          if (this.formValidate.aimPeriod == 4 && this.selectedDate2?.length == 0) {
            this.$Message.error('请输入相关信息！');
          } else {
            let params = {
              ...this.formValidate,
              details: this.$refs.objectTable.getInputDataList()
            }
            if (this.modalStatus == 'add') {
              addObject(params).then(res => {
                if (res.data.state == 'success') {
                  this.$Message.success('新增目标成功');
                  this.closeModal()
                  this.$emit('refreshList')
                }
              })
            } else {
              editObject({ ...params, id: this.editObjectId }).then(res => {
                if (res.data.state == 'success') {
                  this.$Message.success('编辑目标成功');
                  this.closeModal()
                  this.$emit('refreshList')
                }
              })
            }
          }
        } else {
          this.$Message.error('请输入相关信息！');
        }
      })
    },
    // 表单校验
    verify() {
      if (!this.formValidate.name) {
        this.$Message.warning("请输入目标名称！");
        return false;
      }

      if (!this.formValidate.aimType) {
        this.$Message.warning("请选择目标类型！");
        return false;
      }
      if (this.formValidate.aimType == 2 && !this.formValidate.refDeptId) {
        this.$Message.warning("请选择关联部门！");
        return false;
      }

      if (!this.formValidate.manager) {
        this.$Message.warning("请选择负责人！");
        return false;
      }

      if (!this.formValidate.aimPeriod) {
        this.$Message.warning("请选择目标周期！");
        return false;
      }

      if (!this.formValidate.aimDate) {
        this.$Message.warning("请选择起止时间！");
        return false;
      }

      if (!this.formValidate.aimGroup) {
        this.$Message.warning("请选择目标分组！");
        return false;
      }

      if (!this.formValidate.refIndicatorId) {
        this.$Message.warning("请选择关联指标！");
        return false;
      }
      if (!this.formValidate.aimValueType) {
        this.$Message.warning("请选择目标值类型！");
        return false;
      }
      if (!this.formValidate.aimValueUnit) {
        this.$Message.warning("请选择目标值单位！");
        return false;
      }
      if (!this.formValidate.aimValue) {
        this.$Message.warning("请输入目标值！");
        return false;
      }
      return true;
    },
    //目标类型变化
    typeChange(val) {
      this.formValidate.refDeptId = ''
      this.formValidate.manager = ''
      this.formValidate.refDeptId = ''
      if (val !== 2) {
        this.departmentDisabled = true
      } else {
        this.departmentDisabled = false
        this.handlerObj = {}
      }
    },
    //周期类型变化
    periodChange(val) {
      this.selectedDate1 = ''
      this.selectedDate2 = ''
      this.formValidate.aimDate = ''
      switch (val) {
        case 1:
          this.dateType = 'year'
          break;
        case 2:
          this.dateType = 'month'
          break;
        case 3:
          this.dateType = 'date'
          break;
        case 4:
          this.dateType = 'month'
          break;
        case 5:
          this.dateType = 'daterange'
          break;
      }
    },
    //转化时间格式
    handleTimeFormat(date) {
      if (!date) return
      if (Array.isArray(date)) {
        return this.handleTimeFormat(date[0]) + '-' + this.handleTimeFormat(date[1])
      }
      const originalDate = new Date(date);
      const year = originalDate.getFullYear();
      const month = String(originalDate.getMonth() + 1).padStart(2, "0");
      const day = String(originalDate.getDate()).padStart(2, "0");
      let formattedDate;
      if (this.formValidate.aimPeriod == 1) {
        formattedDate = year + ''
      } else if ([2, 4].indexOf(this.formValidate.aimPeriod) > -1) {
        formattedDate = `${year}/${month}`
      } else {
        formattedDate = `${year}/${month}/${day}`
      }
      return formattedDate
    },
    //判断月循环时间范围选择
    handleMonthSelect() {
      const time1 = new Date(this.selectedDate1).getTime();
      const time2 = new Date(this.selectedDate2).getTime();
      const maxTime = time1 + 60 * 60 * 24 * 30 * 12 * 1000
      if (maxTime < time2) { //超出12月取12月
        this.selectedDate2 = new Date(maxTime)
      } else if (time1 > time2) { //大小自动调换
        const temp = time1;
        this.selectedDate1 = new Date(time2);
        this.selectedDate2 = new Date(temp);
      }
    },
    dataFormat({ list, deep = 1 }) {
      const DEEP_TEMP = deep + 1;
      return list.map(ele => {
        let childData = ele.children || ele.roleList;
        if (childData?.length) {
          childData = this.dataFormat({ list: childData, deep: DEEP_TEMP });
        }
        return {
          id: Number(ele.id),
          title: ele.name,
          children: childData || [],
          deep,
          expand: false, // 是否展开
          checked: false, // 是否是勾选状态
          disabled: false // 是否禁止勾选
        };
      });
    },
    //选择部门树
    async onChange({ id }) {
      this.formValidate.refDeptId = id
      this.userList = [];
      this.formValidate.manager = "";
      await this.getUserList(id);
    },
    //选择指标
    async onIndicatorChange({ id, type, title }) {
      this.formValidate.refDimensionId = ''
      this.formValidate.refDimensionMember = ''
      this.dimensionList = []
      this.dimensionDataList = []
      this.formValidate.refIndicatorId = id
      this.formValidate.refIndicatorType = type
      this.formValidate.refIndicatorName = title
      getBloodIndicatorById(id, type).then(res => {
        if (res.data.state == 'success') {
          this.dimensionList = res.data.data?.availableDimensions
        } else {
          this.$message.warning(res.message)
        }
      })
    },
    //选择维度
    async dimensionChange(id) {
      let date = getTimeFormat({ timeData: new Date().getTime(), type: 'YYYY-MM-DD' })
      let params = {
        dimensionIds: [id],
        indicatorVos: [{ id: this.formValidate.refIndicatorId, type: this.formValidate.refIndicatorType }],
        date: { startDate: date, endDate: date },
        pageNum: 1,
        pageSize: 1000
      }
      queryChartData(params).then(res => {
        if (res.data.state == 'success') {
          this.dimensionDataList = res.data.data?.currentData.map(item => item[0]).filter(item => item && item.length > 0)
        }
      })
    },
    //选择部门树后获取相应负责人列表
    async getUserList(deptId) {
      const params = {
        pageNum: 1,
        pageSize: 1000,
        enabled: 1, // 是否启用
        deptId: [deptId] // 所属部门
      };
      const res = await getUserListByDeptId(params);
      if (res.data.state === "success") {
        this.userList = res.data.data?.data?.map(ele => ({
          id: ele.id,
          nickname: ele.nickname,
          username: ele.name
        }));
      } else {
        this.$Message.error("获取人员列表失败！");
      }
    },
    //选择目标分组
    onAssetGroupChange(val) {
      this.formValidate.aimGroup = val.id
    },
    //选择目标值单位
    valueTypeChange(val) {
      this.valueUnitList = this.objectData.objectValueUnitList[this.objectData.objectValueTypeList.findIndex(item => item.value == val)]
    },
    //编辑目标 给表格赋值
    async assignObjectData(data) {
      console.log(data);
      const { name, aimGroup, aimType, manager, refIndicatorId, refIndicatorType, refIndicatorName, refDimensionId, refDimensionMember,
        aimPeriod, aimValue, aimValueType, aimValueUnit, aimChallengeValue } = data
      this.valueTypeChange(aimValueType)
      if (aimType == 2) {
        this.departmentDisabled = false
        this.formValidate.refDeptId = data.refDeptId
        await this.onChange({ id: data.refDeptId })
      } else {
        this.handlerObj = { id: manager, username: data.managerUserName, nickname: data.managerName }
      }
      await this.onIndicatorChange({ id: refIndicatorId, type: refIndicatorType, title: refIndicatorName })
      await this.dimensionChange(refDimensionId)
      this.periodChange(aimPeriod)
      switch (aimPeriod) {
        case 4:
          this.selectedDate1 = data.aimStartTime
          this.selectedDate2 = data.aimEndTime
          break;
        case 5:
          this.selectedDate1 = [data.aimStartTime, data.aimEndTime]
          break;
        default:
          this.selectedDate1 = data.aimStartTime
          break;
      }
      this.formValidate = {
        ...this.formValidate, name, aimGroup, aimType, manager, refIndicatorId, refIndicatorType, refIndicatorName, refDimensionId,
        refDimensionMember, aimPeriod, aimValue, aimValueType, aimValueUnit, aimChallengeValue
      }
      this.listDetails=data.details
    }
  },
}

</script>
<style scoped lang='less'>
.object-form {
  display: flex;
  flex-wrap: wrap;

  .title {
    margin-left: 8px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 16px;
    vertical-align: bottom;
  }

  .ivu-form-item {
    width: 33.3%;

    .ivu-date-picker {
      width: 40%;
    }

    .date-picker-separator {
      display: inline-block;
      text-align: center;
      width: 20%;
    }
  }

  .select-tips {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 9px;
    color: #999999;
  }

  /deep/.period-tips {
    position: absolute;
    left: -77px;
    top: -1px;
    font-size: 16px;

    .ivu-tooltip-content {
      width: 430px;
    }
  }

  .table-head {
    background: #E8EDFD;
    margin-left: 8px;
    display: flex;
    width: 100%;
    height: 36px;
    align-items: center;
    overflow: auto;

    span {
      font-family: PingFangSC-Semibold;
      color: rgba(0, 0, 0, 0.85);
      font-weight: 600;
      text-align: center;
    }

    .table-head-right {
      display: flex;
      flex: 1;
      justify-content: space-evenly;

      span {
        min-width: 40px;
      }
    }
  }

  .form-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    button {
      width: 72px;
      border-radius: 2px;
    }
  }
}
</style>
