<template>
  <div class="indicatorNode-container">
    <div class="node-info" v-for="item in data" :key="item.id">
      <div class="body" :id="item.id" :indicatorId="item.id">
        <div class="body-container">
          <div class="content" :indicatorId="item.indicatorId">
            <div class="content-header" :indicatorId="item.indicatorId">
              <div :indicatorId="item.indicatorId" class="indicator-name">
                <span :indicatorId="item.indicatorId" class="title" :title="item.indicatorName"
                  @click.stop="goDetail(item)">{{ item.title }}</span>
              </div>
              <div class="risk-level" :style="warningLevelRule(item, 'background')" v-if="judgeRiskLevel(item)">
                <img src="@/assets/icons/objectManage/earlyWarning.svg" alt="">
                <span>{{ warningLevelRule(item, 'text') }}</span>
              </div>
            </div>
            <div class="content-center">
              <div class="center-left">
                <p class="amount" :style="warningLevelRule(item, 'color')"
                  :title="item.indicatorValue + item.aimValueUnit">{{ item.indicatorValue }}
                  <span>{{ item.aimValueUnit }}</span>
                </p>
                <div class="proportion">
                  <div class="rate">
                    <span>同比 </span>
                    <img v-if="item.yoyRate !== '0.00%' && item.yoyRate !== '--'" :src="proportionRule(item.yoyRate)" alt="">
                    <span class="rate-text">{{ item.yoyRate }}</span>
                  </div>
                  <div class="rate">
                    <span>环比 </span>
                    <img v-if="item.momRate !== '0.00%' && item.momRate !== '--'" :src="proportionRule(item.momRate)" alt="">
                    <span class="rate-text">{{ item.momRate }}</span>
                  </div>
                </div>
              </div>
              <div class="center-right">
                <LineChart :line-data="item.lineData || []" />
              </div>
            </div>
            <div class="content-bottom">
              <span> 目标</span>
              <div class="progress">
                <Progress :percent="percent(item.indicatorValue, item.aimValue)" :stroke-color="strokeColor(item)"
                  :stroke-width="10" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="node-children">
        <indicator-node :data="item.children" />
      </div>
    </div>
  </div>
</template>

<script>
import LineChart from '@/view/indicatorWorkbench/indicatorWorkbenchIndex/components/LineChart.vue';
import objectManageMixin from '../object-manage-mixin';

export default {
  name: "IndicatorNode",
  props: {
    data: {
      type: Array,
      default: () => []
    }
  },
  components: {
    LineChart
  },
  mixins: [objectManageMixin],
  methods: {
    goDetail({ indicatorId, indicatorName, indicatorType }) {
      if (indicatorId && indicatorName && indicatorType) {
        this.$router.push({
          path: "/indicatorWorkbench/indicatorWorkbenchDetail",
          query: {
            id: indicatorId,
            name: indicatorName,
            type: indicatorType,
            tab: 2,
          },
        });
      }
    },
    //风险等级内容颜色
    warningLevelRule(data, type) {
      let riskLevel = this.judgeRiskLevel(data)
      if (riskLevel == 'high') {
        return type == "background" ? 'background-image: linear-gradient(270deg, #F86666 0%, #FF9696 100%);' : type == "text" ? '一级' : 'color:#FF9696'
      } else if (riskLevel == 'mid') {
        return type == "background" ? 'background-image: linear-gradient(270deg, #F78C22 0%, #FFBD54 100%);' : type == "text" ? '二级' : 'color:#FFBD54'
      } else return null
    },
    //同/环比箭头图标
    proportionRule(prop) {
      let img = ''
      if (prop[prop.length - 1] == '%') {
        let num = parseFloat(prop.slice(0, -1))
        if (num > 0) {
          img = 'up'
        } else if (num < 0) {
          img = 'down'
        }
        return require(`@/assets/icons/objectManage/${img}Arrow.svg`)
      }
    },
  },
  mounted() {
  }
};
</script>

<style lang="less" scoped>
.indicatorNode-container {

  .node-info {
    white-space: nowrap;

    .body {
      background-color: #ffffff;
      display: inline-block;
      align-items: center;
      font-size: 12px;
      height: 160px;
      text-align: left;
      position: relative;
      margin-bottom: 24px;
      color: #333333;
      border: 1px solid rgba(235, 235, 235, 1);
      box-shadow: 0px 0px 6px 0px rgba(217, 217, 217, 0.5);
      border-radius: 4px;

      .body-container {
        width: 297px;
        max-width: 297px;
        padding: 13px;
        display: flex;
        align-items: center;

        .content {
          width: 100%;

          .content-header {
            display: flex;
            justify-content: space-between;

            .indicator-name {
              display: flex;
              align-items: center;

              .title {
                cursor: pointer;
                max-width: 200px;
                overflow: hidden; //超出的文本隐藏
                text-overflow: ellipsis; //溢出用省略号显示
                white-space: nowrap;
                font-size: 14px;
                font-weight: 600;
              }
            }

            .risk-level {
              border-radius: 4px;
              width: 56px;
              height: 24px;
              display: flex;
              align-items: center;
              justify-content: space-evenly;

              span {
                font-size: 12px;
                color: #ffffff;
                margin: 0;
              }
            }
          }

          .content-center {
            margin-top: 11px;
            display: flex;
            justify-content: space-between;

            .center-left {
              width: 50%;

              .amount {
                font-size: 22px;
                color: rgba(0, 0, 0, 0.85);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 90%;

                span {
                  color: rgba(0, 0, 0, 0.65);
                  margin-left: 3px;
                  line-height: 22px;
                  font-size: 14px;
                  font-weight: 500;
                }
              }
            }

            .proportion {
              display: flex;
              flex-direction: column;

              .rate {
                position: relative;

                img {
                  margin: 0 5px;
                }

                span {
                  color: #232C58;
                  font-size: 12px;
                  opacity: 0.6;
                }

                .rate-text {
                  position: absolute;
                  left: 45px;
                  width: 50px;
                  text-align: center;
                }
              }
            }

            .center-right {
              margin: 10px 5px 0 0;
            }
          }

          .content-bottom {
            display: flex;
            margin-top: 12px;
            color: #7B819B;

            .progress {
              margin-left: 7px;
              flex: 1;
            }
          }
        }
      }
    }
  }

  .node-children {
    width: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;

    .node-info {
      margin-left: 68px;
    }

    .node-info:first-child {
      >.body:after {
        position: absolute;
        top: 72px;
        left: -70px;
        width: 68px;
        border-top: 1px solid #d9d9d9;
        content: "";
        color: transparent;
      }

      >.body:before {
        position: absolute;
        z-index: 200;
        top: -14px;
        left: -37px;
        width: 1px;
        height: 86px;
        background: #fff;
        content: "";
      }
    }

    .node-info+.node-info {
      >.body:after {
        position: absolute;
        top: 0px;
        left: -37px;
        width: 37px;
        height: 67px;
        border-style: solid;
        border-color: #d9d9d9;
        border-width: 0 0 1px 1px;
        border-bottom-left-radius: 10px;
        content: "";
      }

      >.body:before {
        position: absolute;
        left: -37px;
        top: -1000px;
        bottom: 100px;
        border-left: 1px solid #d9d9d9;
        content: "";
      }
    }
  }
}
</style>
