<template>
  <div>
    <Tree :data="data1" @on-select-change="selectObject" @click.native.stop="onClick"
      :class="isChild ? 'selected-tree' : ''"></Tree>
  </div>
</template>

<script>
import treeClick from '@/mixins/treeClick'
export default {
  data() {
    return {
      data1: [ //测试数据
        {
          title: '团队目标',
          expand: true,
          children: [
            {
              title: '集团全部',
              expand: true,
              classifyId: 0,
            },
            {
              title: '我管理的',
              expand: true,
              children: [
                {
                  title: '东北大区',
                  classifyId: 5
                },
                {
                  title: '西北大区',
                  classifyId: 6
                },
                {
                  title: '西南大区',
                  classifyId: 7
                },
                {
                  title: '东南大区',
                  classifyId: 8
                }
              ]
            }
          ]
        },
        {
          title: '个人目标',
          expand: true,
          children: [
            {
              title: '我的',
            },
          ]
        }
      ],
      isChild: false, //点击节点是否为最底层节点
    }
  },
  mixins: [treeClick],
  props: {
    treeData: { // 父组件传递的数据 需经过格式处理
      type: Array
    }
  },
  mounted() {
  },
  methods: {
    //选择树节点
    selectObject(selectArray, selectItem) {
      console.log(selectArray, selectItem);
      this.isChild = selectItem.children ? false : true
      this.$emit('selectClassify', selectItem.classifyId) //选择子类 传递参数自定
    },
  },
}

</script>
<style scoped lang='less'>
/deep/.ivu-tree {
  margin: 27px 20px;

  >ul>li>.ivu-tree-arrow>i::before {
    background: url('~@/assets/icons/objectManage/teamObject.svg') no-repeat 0 0px !important;
  }

  .ivu-tree-children {
    margin-left: 5px;

    ::before,
    ::after {
      border: none;
    }

    font-size: 14px;

    i::before {
      background: none;
    }
  }

  .ivu-tree-title {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
  }

}

/deep/.selected-tree {
  .ivu-tree-title-selected {
    background-color: transparent;
    position: relative;
    overflow: visible;
    transition: all;

    &::before {
      content: '';
      width: 4px;
      height: 40px;
      position: absolute;
      background-color: #3F73FF;
    }

    &::after {
      z-index: -1;
      content: '';
      width: 276px;
      height: 40px;
      position: absolute;
      background-color: #F0F5FF;
    }
  }

  ul>li {
    .ivu-tree-title-selected {
      &::before {
        left: -41px;
      }

      &::after {
        left: -37px;
      }
    }

    >ul>li> {
      .ivu-tree-title-selected {
        &::before {
          left: -64px;
        }

        &::after {
          left: -60px;
        }
      }

      >ul>li> {
        .ivu-tree-title-selected {
          &::before {
            left: -87px;
          }

          &::after {
            left: -83px;
          }
        }
      }
    }
  }
}
</style>