<template>
  <div style="margin: 0 0 15px 8px;">
    <Table border :columns="columns" :data="data" width="750"></Table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      columns: [],
      data: [
        { type: '目标值' },
        { type: '挑战值' },
        { type: '正常' },
        { type: '低风险' },
        { type: '中风险' },
        { type: '高风险' },
      ],
      columnsParamsList: ['aimValue', 'aimChallengeValue', 'normal', 'lowRisk', 'midRisk', 'highRisk'],
      inputDataList: [], //目标拆解中所有input集合
    }
  },
  props: {
    timeList: {
      type: Array,
      default: () => []
    },
    listDetails: {
      type: Array,
      default: () => []
    }
  },
  components: {

  },
  watch: {
    timeList: {
      deep: true,
      immediate: true,
      handler(val) {
        if (val.length > 0) {
          this.inputDataList = []
          val.forEach(item => {
            this.inputDataList.push({ periodTime: item })
          })
        }
        this.columnsRules(val)
      }
    },
  },
  mounted() {
  },
  methods: {
    //向columns中添加列规则
    columnsRules(list) {
      let columns = [
        {
          title: '时间',
          key: 'type',
          width: 60,
          fixed: 'left',
          align: 'center'
        },
      ]
      list.forEach((item, index) => {
        let obj = {
          title: item,
          key: index,
          align: 'center',
          minWidth: 90,
          maxWidth: 120,
          render: (h, params) => {
            return h('div', [
              h('Input', {
                props: {
                  size: 'small',
                  name: item
                },
              }, ''),
            ]);
          }
        }
        columns.push(obj)
        this.columns = columns
      })
      setTimeout(() => { //需等所有input渲染好后再赋值
        this.assignInputData()
      }, 500)
    },
    //给input循环赋值
    assignInputData() {
      if (this.listDetails.length > 0) {
        this.listDetails.forEach(item => {
          let list = document.getElementsByName(item.periodTime)
          const { aimValue, aimChallengeValue, normal, lowRisk, midRisk, highRisk } = item
          list.forEach((it, idx) => {
            it.value = [aimValue, aimChallengeValue, normal, lowRisk, midRisk, highRisk][idx]
          })
        })
      }
    },
    //获取所有input值
    getInputDataList() {
      let list = this.inputDataList.map(item => {
        let list = document.getElementsByName(item.periodTime)
        list.forEach((it, index) => {
          if (index < 6 && it.value) {
            item[this.columnsParamsList[index]] = it.value
          }
        })
        return item
      })
      return list
    }
  },
}

</script>
<style scoped lang='less'>
/deep/.ivu-table th {
  background: #E8EDFD;
}

/deep/.ivu-table-cell {
  padding: 0 7px;
}

/deep/.ivu-table ::-webkit-scrollbar {
  height: 10px;
  border: 1px solid black;
  z-index: 100;
}
</style>