<template>
  <div class="taskManage-container">
    <div class="taskManageWrapper">
      <tree-menu name="任务" @onSelectTree="onSelectTree"></tree-menu>
      <div class="rightContent">
        <section class="titleRow">
          <span class="titleName">任务管理</span>
          <div class="actionBtnWrapper" @click="addTask">
            <img src="@/assets/icons/earlyWarningTarget/add.svg" alt="" />
            <span>新建任务</span>
          </div>
        </section>

        <section class="tabWrapper">
          <div :class="['tabItem', { selected: item.id === selectedTabId }]" v-for="item in tabList" :key="item.id" @click="changeTab(item)">
            <img :src="item.icon" alt="" />
            <div class="itemWrapper">
              <p class="itemNum">{{ item.num }}</p>
              <p class="itemLabel">{{ item.name }}</p>
            </div>
          </div>
        </section>

        <TaskList :list="taskListF" @onCopy="editTask" @show:modal="handleShowHandleModal" @refreshData="getData" />
      </div>
    </div>

    <AddTaskModal v-model="showModal" :default-data="defaultData" :task-name-list="taskNameList" @refresh:data="getData" />
    <HandleTaskModal v-model="showHandleModal" :detail-data="detailData" @refresh:data="getData" />
  </div>
</template>

<script>
import treeMenu from "@/components/treeMenu";
import AddTaskModal from "./components/AddTaskModal";
import HandleTaskModal from "./components/HandleTaskModal";
import TaskList from "./components/TaskList";
import { getTaskList } from "@/api/taskManage";
import { getReportCompareDataAndHeaders } from "@/api/report";
import { getTimeFormat, getBusinessDate } from "@/utils/dateFormat";
import { mapState, mapActions } from "vuex";
import { TAB_LIST } from "./constant";
import { DEFAULT_SHOW } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";

export default {
  name: "TaskManage",
  components: {
    treeMenu,
    AddTaskModal,
    HandleTaskModal,
    TaskList
  },
  data() {
    return {
      selectedTabId: -1,
      tabList: [],
      taskList: [],
      showModal: false,
      defaultData: {}, // 回填数据
      detailData: {}, // 处理弹窗所需数据
      showHandleModal: false
    };
  },
  computed: {
    ...mapState("earlyWarningTarget", ["earlyWarningList", "allIndicator"]),
    ...mapState("task", ["targetList"]),
    taskListF() {
      return this.selectedTabId === -1 ? this.taskList : this.taskList.filter(ele => ele.status === this.selectedTabId);
    },
    taskNameList() {
      return this.taskList.map(ele => ele.name);
    }
  },
  async created() {
    // await this.fetchTargetList(); // 获取目标
    await this.fetchEarlyWarningList(); // 获取预警
    await this.fetchIndicator(); // 获取指标
    this.getData();

    // 从首页跳转
    if (this.$route.query.tabId) {
      this.selectedTabId = Number(this.$route.query.tabId);
    }
    //打开任务弹框
    const { isShowModel } = this.$route.query;
    if (isShowModel) {
      this.showModal = true;
    }
  },
  methods: {
    ...mapActions("earlyWarningTarget", ["fetchEarlyWarningList", "fetchIndicator"]),
    ...mapActions("task", ["fetchTargetList"]),
    /**
     * 获取任务
     */
    async getData(deptId = "", userId = "") {
      this.taskList = await this.getTaskBaseData(deptId, userId);
      for (const ele of this.taskList) {
        // 目标
        if (ele.type === 1) {
          const { indicatorValue, aimValue, riskLevel } = this.targetList.find(i => i.id === ele.refTask);
          this.$set(ele, "currentValue", indicatorValue);
          this.$set(ele, "targetValue", aimValue);
          this.$set(ele, "riskLevel", riskLevel);
        }
        // 预警
        if (ele.type === 2) {
          const { execRecord } = this.earlyWarningList.find(i => Number(i.id) === ele.refTask);
          const cValue = execRecord?.currentValue || DEFAULT_SHOW; // 当前值
          const wValue = execRecord?.limitValue || DEFAULT_SHOW; // 阈值
          this.$set(ele, "currentValue", cValue);
          this.$set(ele, "warningValue", wValue);
        }
        // 其他
        if (ele.type === 3) {
          // 异步获取指标值
          const curDate = getBusinessDate();
          const { id, type } = this.allIndicator.find(i => i.id === ele.refTask);
          const cValue = await this.getIndicatorData({ curDate, id, type });
          this.$set(ele, "currentValue", cValue);
        }
      }
    },
    async getTaskBaseData(deptId, userId) {
      const param = {
        pageNum: 1,
        pageSize: 1000
      };
      if (deptId) {
        param.deptId = deptId;
      }
      if (userId) {
        param.userId = userId;
      }

      const res = await getTaskList(param);
      if (res.data.code === 0) {
        this.tabList = TAB_LIST.map(ele => ({
          id: ele.value,
          name: ele.name,
          icon: ele.icon,
          num: ele.value === -1 ? res.data.count : res.data.data.filter(i => i.status === ele.value).length
        }));

        return res.data.data.map(ele => ({
          id: ele.id,
          name: ele.name,
          type: ele.taskType, // 目标类 预警类 其他类
          status: ele.status,
          cutOffTime: getTimeFormat({ timeData: ele.limitTime }), // 截止时间
          leaveDay: Math.ceil((ele.limitTime - Date.now()) / 86400000),
          refTask: ele.refTask, // 关联任务
          deptName: ele.deptName, // 负责部门
          deptId: ele.deptId,
          managerName: ele.managerName, // 负责人
          manager: ele.manager,
          dealUserName: ele.dealUserName, // 处理人
          dealNickName: ele.dealNickName,
          dealUserId: ele.dealUserId,
          taskDesc: ele.description
        }));
      }
    },
    /**
     * 获取指标值
     * @param {String} curDate 当前日期
     * @param {Number} id 指标id
     * @param {Number} type 指标类型
     */
    async getIndicatorData({ curDate, id, type }) {
      const params = {
        dimensionIds: [],
        indicatorVos: [{ id, type, variables: { businessDate: curDate } }],
        date: {
          startDate: curDate,
          endDate: curDate
        }
      };
      const res = await getReportCompareDataAndHeaders(params);
      if (res.data.state === "success") {
        const { currentData } = res.data.data;
        const cur = currentData[0]?.[0];
        return cur?.toFixed(2) || DEFAULT_SHOW;
      } else {
        return DEFAULT_SHOW;
      }
    },
    onSelectTree({ id, title }) {
      if (title === "我的") {
        this.getData("", this.$store.state.user.userId);
      } else {
        this.getData(id);
      }
    },
    /**
     * 切换tab
     */
    changeTab({ id }) {
      this.selectedTabId = id;
    },
    /**
     * 新建任务
     */
    addTask() {
      this.showModal = true;
      this.defaultData = {};
    },
    /**
     * 复制/编辑任务
     */
    editTask(actionType, data) {
      this.showModal = true;
      this.defaultData = { actionType, data };
    },
    /**
     * 打开处理弹窗
     */
    handleShowHandleModal(data) {
      this.showHandleModal = true;
      this.detailData = data;
    }
  },
  watch: {
    // 关闭新建/编辑/复制弹窗，清空数据
    showModal(newVal) {
      if (!newVal) {
        this.defaultData = {};
      }
    },
    // 关闭处理弹窗，清空数据
    showHandleModal(newVal) {
      if (!newVal) {
        this.detailData = {};
      }
    }
  }
};
</script>

<style lang="less" scoped>
.taskManage-container {
  width: 100%;
  height: 100%;
  .taskManageWrapper {
    background: #fff;
    display: flex;
    height: 100%;
    .dataFilter-container {
      width: 280px;
      height: 100%;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
    }
    .rightContent {
      flex: 1;
      height: 100%;
      padding: 14px 26px;
      .titleRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
        .titleName {
          font-size: 18px;
          color: #333333;
          letter-spacing: 0.58px;
          line-height: 32px;
          font-weight: 600;
        }
        .actionBtnWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          width: 93px;
          height: 32px;
          background: #2781ff;
          border-radius: 4px;
          img {
            width: 16px;
            height: 16px;
            margin-right: 4px;
          }
          span {
            font-size: 12px;
            color: #ffffff;
          }
        }
      }
      .tabWrapper {
        display: flex;
        margin-bottom: 28px;
        .tabItem {
          width: 193px;
          height: 79px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          position: relative;

          img {
            width: 60px;
            height: 60px;
            margin-right: 15px;
          }
          .itemWrapper {
            .itemNum,
            .itemLabel {
              text-align: center;
            }
            .itemNum {
              font-size: 18px;
              color: rgba(0, 0, 0, 0.85);
              letter-spacing: 0.58px;
              line-height: 32px;
              font-weight: 600;
            }
            .itemLabel {
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: rgba(0, 0, 0, 0.45);
            }
          }

          &.selected {
            background: rgba(240, 245, 255, 0.95);
            border-radius: 7px;
            .itemNum {
              color: #3285ff;
            }
          }
          &:not(:last-child)::after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 60px;
            background: rgba(0, 0, 0, 0.1);
            position: absolute;
            right: 0;
            top: calc(~"50% - 30px");
          }
        }
      }
      .taskList-container {
        height: calc(~"100% - 46px - 107px");
        overflow: auto;
      }
    }
  }
}
</style>
