<template>
  <div class="table-list-tree">
    <div class="table">
      <TableTree :data="datasetTree" @on-select="onSelect" @on-select-cancel="onSelectCancel" @on-open-log="openLogModal" />
    </div>
    <LogModal ref="logModal" @reHandleSuc="getDatasetList" @openDispatchOption="openDispatchOption" />
    <VariableConfig ref="VariableConfig" />
    <DispatchSetting :showModal="showPublish" isUpdate :datasetId="datasetIdLog" @closeModal="showPublish = false" @publishData="publishData" />
  </div>
</template>

<script>
import LogModal from "./LogModal.vue";
import VariableConfig from "../Toolbar/VariableConfig.vue";
import DispatchSetting from "./DispatchSetting/index.vue";
import TableTree from "@/view/dataset/DataModel/DatasetList/table-tree/index.vue";
import { listFolders, updateJobTime } from "@/api/dataset";
import { deepCopy, filterTree } from "@/utils/common";
import { mapActions, mapState } from "vuex";
import _ from "lodash";

export default {
  name: "DatasetTableList",
  components: {
    LogModal,
    VariableConfig,
    TableTree,
    DispatchSetting,
  },
  data() {
    return {
      showPublish: false,
      datasetTree: [], // 数据集列表树
      datasetIdLog: "", // 点击日志时，记录点击的数据集id
    };
  },
  computed: {
    ...mapState("dataset", ["dataSource"]),
  },
  watch: {
    dataSource: {
      handler(val) {
        console.log(val);
        if (val) {
          this.getDatasetList();
        }
      },
      deep: true,
      immediate: true,
    },
  },
  created() {
    this.allDatasetList = []; // 文件夹和数据集的平铺列表
  },
  mounted() {
    this.$bus.$on("refresh-dataset-list", this.getDatasetList);
  },
  beforeDestroy() {
    this.$bus.$off("refresh-dataset-list", this.getDatasetList);
  },
  methods: {
    ...mapActions("dataset", ["setFolderList", "setDatasetList"]),

    // 获取数据集列表
    async getDatasetList(query = {}) {
      console.log(this.dataSource);
      const res = await listFolders(this.dataSource);
      if (res.data.state !== "success") return this.$Message.error("获取数据集列表失败！");
      let { dataSourceGroups, datasetList } = res.data.data;
      // 列表数据只保留需要的
      dataSourceGroups = dataSourceGroups
        // 文件夹过滤出origin为2的
        .filter((item) => item.origin === 2)
        .map((item) => ({
          id: Number(item.id),
          parentId: Number(item.parentId),
          name: item.name,
          creator: item.creator,
          updateTime: item.updateTime,
          type: "group", // 文件夹
        }));
      datasetList = datasetList.map((item) => ({
        id: Number(item.id),
        parentId: Number(item.groupId),
        name: item.name,
        status: item.status,
        result: item.result,
        creator: item.creator,
        updateTime: item.updateTime,
        detail: item.detail, // 调用失败错误信息
        tableId: item.newTableId,
        dataUpdateType: item.dataUpdateType, // 标识当前数据集的调度方式
        type: "item", // 数据集
      }));
      // 保存到store
      this.setFolderList(dataSourceGroups);
      this.setDatasetList(datasetList);
      // 深拷贝一份数据出来，用于移动文件夹功能查找文件夹和数据集
      let dataSourceGroupsBak = deepCopy(dataSourceGroups);
      let datasetListBak = deepCopy(datasetList);
      this.allDatasetList = [...dataSourceGroupsBak, ...datasetListBak];
      this.allDatasetList = this.filterDatasetList(query, this.allDatasetList);
      this.buildDatasetTree();
    },

    // 根据查询条件，筛选复合条件的列表
    filterDatasetList(query, allList) {
      let filterList = allList;
      const { name, status, result } = query;
      // 状态、上次调用结果选择的不是全部，才过滤
      if (name) {
        filterList = filterList.filter((item) => item.name.indexOf(name) > -1);
      }
      if (status > -1) {
        if (status === 1) {
          filterList = filterList.filter((item) => item.status === 1 || item.status === 2);
        } else {
          filterList = filterList.filter((item) => item.status === status);
        }
      }
      if (result > -1) {
        filterList = filterList.filter((item) => item.result === result);
      }

      // 找到筛选出的列表所属的全部父级
      let parentList = this.findParent(filterList, allList);
      filterList = _.uniq([...filterList, ...parentList]);
      return filterList;
    },

    // 查找父级
    findParent(list, allList) {
      let result = [];
      for (let listItem of list) {
        let parent = allList.filter((allListItem) => listItem.parentId === allListItem.id);
        if (parent.length) {
          result.push(...parent);
          result.push(...this.findParent(parent, allList));
        }
      }
      return result;
    },

    // 构建数据集列表树结构
    buildDatasetTree() {
      // 默认都不选中
      this.allDatasetList.forEach((item) => (item._checked = false));
      // 找到根节点
      let tree = this.allDatasetList.filter((item) => item.parentId === -1);
      // 递归找到子文件夹，放入children中
      this.findChildren(tree, this.allDatasetList);
      this.datasetTree = tree;
      console.log(tree);
    },

    // 构建数据集列表树结构的递归函数
    findChildren(parent, allList) {
      for (let parentItem of parent) {
        const children = allList.filter((item) => item.parentId === parentItem.id);
        parentItem.children = children;
        if (children.length) {
          parentItem._showChildren = true;
          this.findChildren(children, allList);
        }
      }
    },

    // 打开日志模态框
    openLogModal(data) {
      this.$bus.$emit("on-open-log-modal", data);
    },

    // 展示调度设置弹窗
    openDispatchOption(id) {
      this.datasetIdLog = id;
      this.showPublish = true;
    },

    // 修改调度设置
    async publishData(data, dispatchSettingId) {
      data.id = dispatchSettingId; // 调度设置id
      const param = {
        datasetIdList: [this.datasetIdLog],
        jobConfig: data,
      };
      const res = await updateJobTime(param);
      const { message, state } = res.data;
      if (state === "success") {
        this.$Message.success("调度设置成功");
      } else {
        this.$Message.error(message);
      }

      this.showPublish = false; // 隐藏弹窗
      this.searchDatasetList(); // 刷新表格数据
    },

    // 表格选中事件
    onSelect(selection, row) {
      let currentRow = this.allDatasetList.find((item) => item.id === row.id);
      currentRow._checked = true;
      // 选择文件夹时，需要将该文件夹下的子目录及子文件选中
      if (row.type === "group") this.selectChildren(currentRow, true);
    },

    // 表格取消选中事件
    onSelectCancel(selection, row) {
      let currentRow = this.allDatasetList.find((item) => item.id === row.id);
      currentRow._checked = false;
      // 选择文件夹时，需要将该文件夹下的子目录及子文件取消选中
      if (row.type === "group") this.selectChildren(currentRow, false);
      // 将父级的文件夹取消选中
      this.unselectParent(currentRow);
    },

    // 表格选中事件的递归函数
    selectChildren(parent, checked) {
      for (let childrenItem of parent.children) {
        childrenItem._checked = checked;
        if (childrenItem.children) this.selectChildren(childrenItem, checked);
      }
    },

    // 表格取消选中父级文件夹的递归函数
    unselectParent(currentRow) {
      let parent = this.allDatasetList.find((item) => item.id === currentRow.parentId);
      if (parent) {
        parent._checked = false;
        this.unselectParent(parent);
      }
    },
  },
};
</script>

<style scoped lang="less">
.table-list-tree {
  height: calc(~"100% - 64px");

  .pageClass {
    display: flex;
    justify-content: flex-end;
  }

  .table {
    height: 100%;
  }

  /deep/ .s-tree {
    .header {
      .header-title {
        padding-left: 11px !important;
      }
    }
  }

  /deep/ .s-tree-children {
    .row {
      .cell-wrapper:first-child {
        .cell {
          padding-left: 14px;
          display: flex;

          .s-tree-arrow {
            margin-right: 8px !important;
          }
        }
      }
    }
  }
}

/deep/ .icon_edit {
  color: #3f73ff;

  .ivu-icon::before {
    margin-right: 5px;
    content: url("~@/assets/icons/dataSetList/dataList_edit.svg");
  }
}

/deep/ .icon_send {
  color: #3f73ff;

  .ivu-icon::before {
    margin-right: 5px;
    content: url("~@/assets/icons/dataSetList/dataList_send.svg");
  }
}

/deep/ .icon_watch {
  color: #3f73ff;

  .ivu-icon::before {
    margin-right: 5px;
    content: url("~@/assets/icons/dataSetList/dataList_watch.svg");
  }
}

/deep/ .icon_daily {
  color: #3f73ff;

  .ivu-icon::before {
    margin-right: 5px;
    content: url("~@/assets/icons/dataSetList/dataList_log.svg");
  }
}

/deep/ .icon_copy {
  color: #3f73ff;

  .ivu-icon::before {
    margin-right: 5px;
    content: url("~@/assets/icons/dataSetList/dataList_copy.svg");
  }
}
</style>
<style>
.tooltipContent button {
  width: 100%;
  margin: 4px 0;
  color: #3f73ff;
}
</style>
