<template>
  <Modal v-model="showModal.visible" width="888" @on-cancel="removeInter">
    <span slot="header">{{checkModalType ? '数据集调度日志' : showModal.title + '数据集调度日志'}}</span>
    <div style="width: 100%; height: 100%">
      <div class="contentHeader" :style="{ justifyContent: isShowSearchByLog ? 'space-between' : 'flex-end' }">
        <div class="headerLeft" style="margin-bottom: 18px;" v-if="isShowSearchByLog">
          <p style="margin-right: 16px">业务日期</p>
          <DatePicker
            ref="DatePicker"
            type="daterange"
            placement="bottom-end"
            style="width: 200px"
            placeholder="请选择业务日期"
            :editable="false" clearable
            @on-change="handleChangeDate"
            @on-clear="handleClearDailyLog"
          />
          <Button type="primary" style="margin-left: 16px ;" class="button-b" v-if="!checkModalType"
                  @click="handleSearchLogListByDate(true)">
            <Icon type="ios-search-outline" size="16" style="margin-top: -2px"/>
            搜索
          </Button>
        </div>
        <div v-if="checkModalType" class="headerLeft">
          <div class="dispatchModeWrapper required">
            <span>调度方式：</span>
            <Select v-model="dispatchMode" style="width:170px">
              <Option :value="1">全量覆盖更新</Option>
              <Option :value="2">全量追加更新</Option>
              <Option :value="3">增量更新（按业务日期）</Option>
            </Select>
          </div>
          <Form class="required" ref="formProcessDate" :model="processDateForm" :rules="processDateRule"
                :label-width="70" v-show="dispatchMode === 3">
            <FormItem prop="processDate" label="业务日期">
              <ReportCalendar
                key="create-calendar"
                ref="createReportCalendar"
                :need-init="true"
                :editable="true"
                @dateConfirm="dateConfirm"
              />
            </FormItem>
          </Form>
        </div>
        <div class="headerRight">
          <Input
            class="modalSearchIpt"
            placeholder="搜索数据集名称"
            clearable
            style="width: 180px; margin-top: -2px"
            @on-clear="handleClearSearchContent"
            @on-change="handleSearchDatasetByName($event)"
            v-if="checkModalType"
            v-model="datasetSearchIptVal" @keydown.enter.native="handleClickModalIptSearch">
            <Button slot="append" @click="handleClickModalIptSearch" icon="ios-search"></Button>
          </Input>
          <Poptip :disabled="logReHandel" v-model="reHandlePoptip.visible" trigger="click" title="Title"
                  content="content">
            <div slot="title" style="display: flex;align-items: center">
              <img src="../../../../assets/icons/dataSetList/warming.svg"/>
              <span
                style="margin-left: 8px;font-family: PingFangSC-Regular;font-size: 14px;color: rgba(0,0,0,0.65);line-height: 22px;">确定重新调用吗？</span>
            </div>
            <div slot="content">
              <Button style="margin-left: 16px ;" class="button-cancel" @click="visible=false">
                取消
              </Button>
              <Button type="primary" style="margin-left: 16px ;" class="button-confirm" v-if="!checkModalType"
                      @click="reHandle">
                确定
              </Button>
              <Button type="primary" style="margin-left: 16px ;" class="button-confirm" v-else
                      @click="handleSubmitDataset">
                确定
              </Button>
            </div>
            <Button :disabled="logReHandel" type="primary" style="margin-left: 16px ;"
                    :class="logReHandel?'button-r-disable':'button-r'">
              <Icon type="ios-search-outline" size="16" style="margin-top: -2px"/>
              重新调用
            </Button>
          </Poptip>

          <Button type="primary" ghost
                  style="align-self: flex-end; border: 1px solid #3F73FF; color: #3F73FF; margin-left: 16px"
                  v-if="!checkModalType"
                  @click="handleOpenDispatchOption">
            <Icon type="md-options" size="16" style="margin-right: 5px" color="#3F73FF"/>
            调度设置
          </Button>
        </div>
      </div>
      <Table
        ref="selection"
        @on-select-all="selectDailyAll"
        @on-select-all-cancel="selectDailyAllCancel"
        @on-select="selectDaily"
        @on-select-cancel="selectDailyCancel"
        :columns="checkModalType ? datasetColumnsFromPage : dailyColumnsF"
        :data="logList"
      />
    </div>
    <span slot="footer">
      <Page
        :total="page.total"
        :page-size="page.pageSize"
        :current="page.pageNum"
        @on-change="handleChangePageNumber"
        show-elevator
        @on-page-size-change="handleChangePageSize"
      />
    </span>
  </Modal>

</template>

<script>
  import moment from 'moment'
  import { list, getDatasetLogRes, reloadBigTableTaskForMoreDataSet } from '@/api/dataset'
  import ReportCalendar from '../../../components/report-calendar/ReportCalendar.vue'

  const reHandleButton = 'datasetList'
  export default {
    name: 'LogModal',
    components: { ReportCalendar },
    computed: {
      //同一个模态框根据数据展示不同的内容
      checkModalType() {
        return this.showModal.from === reHandleButton
      },
      dailyColumnsF() {
        if (this.dataUpdateType !== 3) {
          return this.dailyColumns.filter(ele => ele.title !== '业务日期' && ele.title !== '多选')
        } else {
          return this.dailyColumns
        }
      },
      // 判断是否展示左上角的搜索框
      isShowSearchByLog() {
        if (this.checkModalType) {
          return false // 批量调用的弹窗不展示
        } else {
          return this.dataUpdateType === 3 // 点击日志出现的弹窗，只有增量才展示
        }
      }
    },
    mounted() {
      this.$bus.$on('on-open-log-modal', this.openModal)
    },
    beforeDestroy() {
      this.$bus.$off('on-open-log-modal', this.openModal)
      if (this.interval) clearInterval(this.interval)
    },
    data() {
      return {
        logReHandel: true,
        reHandlePoptip: { visible: false, },
        showModal: {},
        dispatchMode: 3,
        //多数据集调度业务日期
        processDateForm: {
          processDate: ''
        },
        datasetSearchIptVal: '',
        //多数据集调度业务日期必填校验
        processDateRule: {
          startDate: [{ required: true, validator: this.validateTime, trigger: 'change' }],
        },
        datasetColumnsFromPage: [
          {
            type: 'selection',
            width: 50,
            align: 'center'
          },
          {
            title: '数据集名称',
            align: 'left',
            key: 'name',
            width: 300
          },
          {
            title: '创建人',
            align: 'center',
            key: 'creator',
          },
          {
            title: '创建时间',
            align: 'center',
            key: 'createTime',
            render: (h, params) => {
              return h('p', {}, moment(params.row.createTime).format('YYYY-MM-DD HH:mm:ss'))
            },
          },
        ],
        dailyColumns: [
          {
            title: '多选',
            type: 'selection',
            width: 60,
            align: 'center'
          },
          {
            title: '序号',
            align: 'center',
            key: 'num',
            width: 60
          },
          {
            title: '业务日期',
            key: 'processDate',
            render: (h, params) => {
              return h('p', {}, moment(params.row.processDate).format('YYYY-MM-DD'))
            }
          },
          {
            title: '开始执行时间',
            key: 'startExecuteTime',
            render: (h, params) => {
              return h('p', {}, moment(params.row.startExecuteTime).format('YYYY-MM-DD HH:mm:ss'))
            }
          },
          {
            title: '执行耗时',
            key: 'costTimes',
            render: (h, params) => {
              return h('p', {}, Number(params.row.costTimes) / 1000 + 's')
            }
          },
          {
            title: '调用结果',
            key: 'result',
            align: 'center',
            render: (h, params) => {
              let result = params.row.result
              let temp = this.renderStatus(params.row.result)
              return h('span',
                {
                  style: {
                    cursor: (result === 2) ? 'pointer' : 'default',
                    borderRadius: '3px',
                    border: (!temp.hasContent) ? 'none' : '1px solid',
                    borderColor: (result === 2) ? '#F5B7B7' : '#58CF3C',
                    display: 'inline-block',
                    textAlign: 'center',
                    width: '63px',
                    height: '23px',
                    fontSize: '10px',
                    lineHeight: '20px',
                    backgroundColor: temp.background,
                    color: temp.color
                  },
                  class: temp.className
                },
                [result === 2 ? h('Tooltip', {
                  style: {
                    display: 'inline-block',
                    width: '100%'
                  },
                  props: {
                    placement: 'right',
                    theme: 'light',
                    transfer: true,
                    maxWidth: '300',
                    content: params.row.detail
                  }
                }, temp.text) : temp.text])
            }
          },
        ],
        logList: [],
        page: {
          total: 0,
          pageSize: 10,
          pageNum: 1
        },
        dataUpdateType: 1, // 当前数据集的调度方式
      }
    },
    methods: {
      renderStatus(data) {
        let text = '', temp = data, color, className, background, hasContent = true
        switch (temp) {
          case 0:
            text = '进行中'
            color = 'blue'
            className = 'hideIcon_just'
            background = 'rgba(49,196,14,0.1)'
            break
          case 1:
            text = '成功'
            color = 'rgba(49,196,14,1)'
            background = 'rgba(49,196,14,0.1)'
            className = 'hideIcon_just'
            break
          case 2:
            text = '失败'
            color = '#EE2629'
            background = 'rgba(238,38,41,0.1)'
            className = 'showIcon'
            break
          default:
            hasContent = false
            text = '——'
            color = 'rgba(4,4,4,1)'
            background = 'rgba(238,38,41,0)'
            className = 'hideIcon_just'
            break
        }

        return { text, color, className, background, hasContent }
      },
      validateTime(role, value, callback) {
        if (value.length <= 0) {
          callback(new Error('业务日期不能为空'))
        } else {
          callback()
        }
      },
      dateConfirm(start, end) {
        if (start) this.processDateForm.startDate = moment(start).format('yyyy-MM-DD')
        if (end) this.processDateForm.endDate = moment(end).format('yyyy-MM-DD')
      },
      openModal(data) {
        this.selectedLogIds = []
        this.datasetId = data.datasetId
        this.interval = void 0
        this.dateChange = []
        this.showModal = data
        this.showTableData(data)

        // 只有增量更新需要展示复选框、业务日期。且全量可以直接调用
        this.dataUpdateType = data.dataUpdateType
        if (data.from === "dailyBtn" && data.dataUpdateType !== 3) {
          this.logReHandel = false
        }
      },
      showTableData(data = {}) {
        data = Object.assign(data, this.showModal)
        let params = this.getParams(data)
        if (this.interval) clearInterval(this.interval)
        if (data.from === reHandleButton) {
          this.allLogList(params, (resData) => {
            this.setTableData(resData)
            this.showBackSelectedRow()
          })
        } else {
          this.dailyLog(params, resData => {
            this.setTableData(resData)
            this.showBackSelectedRow()
          })
        }
      },
      reHandelDisable() {
        this.logReHandel = this.selectedLogIds.length <= 0
      },
      setTableData(data) {
        if (!this.checkModalType) {
          data?.data.forEach((item, i) => {
            item.num = i + 1
            item['_disabled'] = [0].includes(item.result)
          })
        }
        this.logList = data.data
        this.page.total = data.count
      },
      removeInter() {
        this.showModal.visible = false
        this.reHandlePoptip.visible = false
        this.datasetSearchIptVal = ''
        this.page.pageSize = 10
        this.page.pageNum = 1
        this.page.total = 0
        this.selectedLogIds = []
        this.processDateForm.processDate = ''
        this.logReHandel = true
        this.removeInterReal()
        if (this.isShowSearchByLog) {
          this.$refs['DatePicker'].handleClear()
        }
        if (this.checkModalType) {
          this.clearDatasetModalCondition()
        }
      },
      removeInterReal() {
        if (this.interval !== null) {
          clearInterval(this.interval)
          this.interval = null
        }
      },
      //退出时清空模态框所有状态
      clearDatasetModalCondition() {
        this.$refs['formProcessDate'].resetFields()
        this.processDateForm.processDate = ''
        this.datasetSearchIptVal = ''
        this.selectionGroup = []
      },
      handleChangeDate(data) {
        this.dateChange = data
      },
      handleClearDailyLog() {
        this.dateChange = []
        this.showTableData()
      },
      handleSearchLogListByDate() {
        this.showTableData()
      },
      //搜素框清空
      handleClearSearchContent() {
        this.datasetSearchIptVal = ''
        this.showTableData()
      },
      handleSearchDatasetByName(e) {
        let value = e && e.target ? e.target.value : e
        if (!value) {
          this.showTableData()
        }
      },
      //回显已选择的row
      showBackSelectedRow() {
        this.$nextTick(() => {
          let logIds = this.selectedLogIds
          if (logIds) {
            let currentPageTableData = this.$refs.selection.objData
            for (let idx in currentPageTableData) {
              let current = logIds.find(item => {
                return item.id === currentPageTableData[idx].id
              })
              if (current) {
                currentPageTableData[idx]._isChecked = true
              }
            }
          }
        })
      },
      handleClickModalIptSearch() {
        if (!['', null].includes(this.datasetSearchIptVal)) {
          this.page.pageNum = 1
          this.showTableData()
        }
      },
      reHandle() {
        let param = {
          sourceIds: [this.datasetId]
        }

        // 增量需要选择业务日期。全量不需要
        if (this.dataUpdateType === 3) {
          let data = []
          if (this.selectedLogIds.length > 0) {
            data = this.selectedLogIds.filter(item => [1, 2].includes(parseInt(item.result)))
            param.dates = data.map(item => {
              return moment(item.processDate).format('YYYY-MM-DD')
            })
          } else {
            this.$Message.warning('请选择数据！')
          }
        }

        reloadBigTableTaskForMoreDataSet(param).then(res => {
          if (res.data.state === 'success') {
            this.$Message.success('任务添加成功！')
            this.$emit('reHandleSuc')
          } else {
            this.$Message.warning('任务添加失败！')
          }
          this.removeInter()
        })

      },
      handleSubmitDataset() {
        let isCan = true
        // 只有增量需要传日期，因此只有增量需要校验
        if (this.dispatchMode === 3) {
          this.$refs['formProcessDate'].validate((valid) => {
            isCan = valid
            if (!valid) {
              this.$Message.warning('请选择业务日期')
              this.visible = false
            }
          })
        }

        if (isCan) {
          let ids = this.selectedLogIds.map(item => item.id)
          let param = {
            sourceIds: ids,
            startDate: this.dispatchMode === 3 ? this.processDateForm.startDate : '',
            endDate: this.dispatchMode === 3 ? this.processDateForm.endDate : ''
          }
          reloadBigTableTaskForMoreDataSet(param).then(res => {
            if (res.data.state === 'success') {
              this.showModal.visible = false
              this.$Message.success('任务添加成功！')
              this.$emit('reHandleSuc')
              this.reHandelDisable()
              this.clearDatasetModalCondition()
            }
          })
        }
      },
      handleOpenDispatchOption() {
        this.$emit('openDispatchOption', this.datasetId)
        this.removeInter()
      },
      saveSelectRow(row) {
        this.saveTableSelectedRow(this.page, row)
      },
      /**
       * 记录表格选中
       */
      saveTableSelectedRow(pageData, rowItem) {
        let selectionIdsCopy = this.selectedLogIds
        const len = selectionIdsCopy.length
        let data = this.$refs.selection.getSelection()
        if (!rowItem && data.length > 0) {
          let startIndex = 0
          data.forEach(item => {
            let result = false
            for (let i = startIndex; i < len; i++) {
              const idData = selectionIdsCopy[i]
              if (idData.id === item.id) {
                startIndex = i
                result = true
                break
              }
            }
            if (!result) {
              this.selectedLogIds.push(item)
            }
          })
        } else {
          if (rowItem !== undefined) {
            for (let i = 0; i < len; i++) {
              const idData = selectionIdsCopy[i]
              if (idData.id === rowItem.id) {
                this.selectedLogIds.splice(i, 1)
                break
              }
            }
          } else {
            data = this.$refs.selection.objData
            for (let j = 0; j < pageData.pageSize; j++) {
              const row = data[j]
              if (row === undefined) break
              for (let i = 0; i < len; i++) {
                const idData = selectionIdsCopy[i]
                if (idData.id === row.id) {
                  this.selectedLogIds.splice(i, 1)
                  break
                }
              }
            }
          }

        }
      },
      selectDailyAll() {
        this.saveSelectRow()
        this.reHandelDisable()
      },
      selectDailyCancel(selection, row) {
        this.saveSelectRow(row)
        this.reHandelDisable()
      },
      selectDailyAllCancel() {
        if (!this.checkModalType) {
          this.setInterReLogs(this.datasetId, 1)
        }
        this.saveSelectRow()
        this.reHandelDisable()
      },
      selectDaily() {
        this.saveSelectRow()
        this.reHandelDisable()
      },

      handleChangePageNumber(data) {
        this.page.pageNum = data
        this.showTableData()
      },

      handleChangePageSize(data) {
        this.page.pageNum = data
        this.showTableData()
      },
      allLogList(params, cb) {
        list(params).then(res => {
          if (res.data && res.data.state === 'success') {
            let data = res.data.data
            if (cb) cb(data)
          }
        })
      },
      getParams(data) {
        let param = {
          name: this.datasetSearchIptVal,
          pageSize: this.page.pageSize,
          pageNum: this.page.pageNum,
          tableId: data.tableId,
          connectId: data.connectId,
          status: '2',
          groupId: '',
          dataUpdateType: this.dispatchMode,
          startTime: this.dateChange[0],
          endTime: this.dateChange[1],
        }
        if (this.dateChange.length !== 0) {
          param.startTime = this.dateChange[0]
          param.endTime = this.dateChange[1]
        }
        return param
      },
      dailyLog(param, cb) {
        getDatasetLogRes(param).then(res => {
          let resData = res.data?.data
          if (cb) cb(resData)
        })
      }
    },
    watch: {
      dispatchMode(newVal) {
        this.showTableData()
      }
    }
  }
</script>

<style lang="less" scoped>
  .contentHeader {
    display: flex;
    align-items: center;

    .headerLeft {
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .headerRight {
      display: flex;
      justify-content: left;
      align-items: center;
      margin: 6px 0 22px 0;
    }
  }

  .dispatchModeWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 7px;
    margin-right: 15px;
  }

  .dispatchModeWrapper::before,
  /deep/ .ivu-form-item-label::before {
    content: "*";
    width: 7px;
    height: 17px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #EE2629;
    letter-spacing: 0;
    font-weight: 400;
    margin-left: -7px;
  }
</style>
