<template>
  <div class="tableItem-container">
    <div class="itemHeader">
      <div
        class="taskNameWrapper"
        :style="{ ...colStyleObj(tableColumns[0]), paddingLeft: `${(itemData.deep - 1) * 24}px` }"
        @mouseenter="itemData.showAddSubTask = true"
        @mouseleave="itemData.showAddSubTask = false"
      >
        <img class="groupIcon" :src="showTreeIcon(itemData)" alt="" @click="expandGroup(itemData)" />
        <span class="taskName" :title="itemData.title" :style="{ '--taskType': showTaskType(itemData.taskType) }">
          {{ formatName(itemData.title, 10) }}
        </span>
        <Poptip trigger="hover">
          <img
            v-show="itemData.showAddSubTask"
            class="addSubTaskIcon"
            src="@/assets/icons/earlyWarningTarget/addSubTask.svg"
            alt=""
            @click="addSubTask(itemData)"
          />
          <span slot="content">新建子任务</span>
        </Poptip>
      </div>
      <div class="ruleWrapper" :style="colStyleObj(tableColumns[1])">
        <span class="ruleText" :title="itemData.ruleText" v-if="itemData.ruleText !== defaultText">
          {{ itemData.ruleText }}
        </span>
        <span v-else>{{ defaultText }}</span>
      </div>
      <div class="runningStatusWrapper" :style="colStyleObj(tableColumns[2])">
        <span class="runningText" :style="{ '--statusBackgroundColor': runningStatusColor(itemData.runningStatus) }">
          {{ runningStatusText(itemData.runningStatus) }}
        </span>
      </div>
      <div :style="colStyleObj(tableColumns[3])">{{ itemData.owner }}</div>
      <div :style="colStyleObj(tableColumns[4])">{{ itemData.currentValue }}</div>
      <div class="watchStatusWrapper" :style="colStyleObj(tableColumns[5])">
        <template v-if="itemData.watchLabel !== -1">
          <div class="watchStatusLabel" :style="{ background: watchStatusColor(itemData.watchLabel) }" v-if="itemData.watchLabel !== -2">
            {{ watchStatusText(itemData.watchLabel) }}
          </div>
          <div class="watchErrorLabel" v-else>
            <img src="@/assets/icons/earlyWarningTarget/watchError.svg" alt="" />
            <span>监测失败</span>
          </div>
        </template>
        <span v-else>{{ defaultText }}</span>
      </div>

      <div class="actionWrapper" :style="colStyleObj(tableColumns[6])">
        <div class="actionItem" @click="showRuleModal(itemData)">
          <img :src="itemData.runningStatus !== 2 ? editIcon : viewIcon" alt="" />
          <span>{{ itemData.runningStatus !== 2 ? "编辑" : "查看" }}</span>
        </div>
        <div class="actionItem" @click="changeRunningStatus(itemData)">
          <img :src="itemData.runningStatus !== 2 ? upLineIcon : downLineIcon" alt="" />
          <span>{{ itemData.runningStatus !== 2 ? "上线" : "下线" }}</span>
        </div>

        <Poptip trigger="hover" placement="left">
          <div class="hoverIconWrapper">
            <img class="noHoverIcon" src="@/assets/icons/indicatorWorkbench/moreVertical.svg" alt="" />
            <img class="hoverIcon" src="@/assets/icons/indicatorWorkbench/moreVertical-blue.svg" alt="" />
          </div>
          <template #content>
            <div class="actionWrapper1">
              <div class="actionItem1" @click="deleteTask(itemData)">删除</div>
            </div>
          </template>
        </Poptip>
      </div>
    </div>
    <div class="itemContent" v-if="itemData.expand">
      <TableItem v-for="ele in itemData.children" :key="ele.id" :item-data="ele" :table-columns="tableColumns" v-on="$listeners" />
    </div>
  </div>
</template>

<script>
import collapseIcon from "@/assets/icons/earlyWarningTarget/collapseIcon.svg";
import expendIcon from "@/assets/icons/earlyWarningTarget/expendIcon.svg";
import editIcon from "@/assets/icons/earlyWarningTarget/edit.svg";
import viewIcon from "@/assets/icons/earlyWarningTarget/view.svg";
import downLineIcon from "@/assets/icons/earlyWarningTarget/downLine.svg";
import upLineIcon from "@/assets/icons/earlyWarningTarget/upLine.svg";
import earlyWarningIcon from "@/assets/icons/earlyWarningTarget/earlyWarning.svg";
import targetIcon from "@/assets/icons/earlyWarningTarget/target.svg";
import { extraTextDot } from "@/utils/formatString";
import { DEFAULT_SHOW } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";
import { EARLY_WARNING_TYPE_LIST, TARGET_TYPE_LIST } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";

export default {
  name: "TableItem",
  props: {
    itemData: {
      type: Object,
      required: true
    },
    tableColumns: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      editIcon,
      viewIcon,
      downLineIcon,
      upLineIcon,
      defaultText: DEFAULT_SHOW // 默认文本
    };
  },
  computed: {
    colStyleObj() {
      return col => {
        let width = col.width;
        if (col.key === "title" || col.key === "operation") {
          width = width - 24;
        }
        return {
          flex: width ? "none" : 1,
          width: width ? `${width}px` : "auto",
          textAlign: col.align || "left"
        };
      };
    },
    showTreeIcon() {
      return ({ children, expand }) => {
        if (children.length) {
          return expand ? expendIcon : collapseIcon;
        } else {
          return null;
        }
      };
    },
    showTaskType() {
      return type => (type === 1 ? `url(${earlyWarningIcon})` : `url(${targetIcon})`);
    },
    formatName() {
      return (text, num) => extraTextDot(text, num);
    },
    runningStatusText() {
      return status => {
        if (status === 1) {
          return "待上线";
        } else if (status === 2) {
          return "已上线";
        } else if (status === 3) {
          return "已下线";
        }
      };
    },
    runningStatusColor() {
      return status => {
        if (status === 1) {
          return "#D8D8D8";
        } else if (status === 2) {
          return "#31C40E";
        } else if (status === 3) {
          return "#EE2629";
        }
      };
    },
    taskTypeList() {
      return this.itemData.taskType === 1 ? EARLY_WARNING_TYPE_LIST : TARGET_TYPE_LIST;
    },
    watchStatusText() {
      return status => this.taskTypeList.find(ele => ele.value === status)?.label;
    },
    watchStatusColor() {
      return status => this.taskTypeList.find(ele => ele.value === status)?.color;
    }
  },
  methods: {
    /**
     * 展开树
     */
    expandGroup({ id, expand }) {
      this.$emit("expandGroup", id, !expand);
    },
    /**
     * 添加子任务
     */
    addSubTask({ id, deep, taskType }) {
      this.$emit("addSubTask", { id, deep, taskType });
    },
    /**
     * 展示规则弹窗
     */
    showRuleModal({ id, title, isLockTaskType, runningStatus, watchLabel }) {
      this.$emit("showRuleModal", { id, title, isLockTaskType, runningStatus, watchLabel });
    },
    /**
     * 改变运行状态（上线、下线）
     */
    changeRunningStatus({ id, title, runningStatus, ruleConditionList }) {
      this.$emit("changeRunningStatus", { id, title, runningStatus, ruleConditionList });
    },
    /**
     * 删除预警任务
     */
    deleteTask({ id, title, runningStatus, children }) {
      this.$emit("deleteTask", { id, title, runningStatus, children });
    }
  }
};
</script>

<style lang="less" scoped>
.tableItem-container {
  background: #ffffff;
  border-top: 1px solid #eaeaea;
  .itemHeader {
    height: 54px;
    display: flex;
    align-items: center;
    .taskNameWrapper {
      display: flex;
      align-items: center;
      .groupIcon {
        width: 12px;
        margin-right: 12px;
        cursor: pointer;
      }
      .taskName {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        &::before {
          content: var(--taskType);
          margin-top: 4px;
          margin-right: 3px;
        }
      }
      /deep/.ivu-poptip {
        display: flex;
        .ivu-poptip-rel {
          display: flex;
          align-items: center;
        }
        .ivu-poptip-popper {
          min-width: 84px;
        }
        .addSubTaskIcon {
          width: 16px;
          height: 16px;
          margin-left: 16px;
          cursor: pointer;
        }
      }
    }
    .ruleWrapper {
      .ruleText {
        display: inline-block;
        padding: 3px 7px;
        background: rgba(0, 0, 0, 0.03);
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
        letter-spacing: 0;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .runningStatusWrapper {
      .runningText {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
        letter-spacing: 0;
        &::before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: var(--statusBackgroundColor);
          margin-right: 6px;
        }
      }
    }
    .watchStatusWrapper {
      display: flex;
      align-items: center;
      .watchStatusLabel {
        width: 64px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 0;
      }
      .watchErrorLabel {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 4px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #ff0202;
          letter-spacing: 0;
          font-weight: 400;
        }
      }
    }

    .actionWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      .actionItem {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 20px;
        }
        img {
          width: 16px;
          height: 16x;
          margin-right: 5px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #3f73ff;
          letter-spacing: 0;
          line-height: 20px;
        }
      }

      /deep/.ivu-poptip {
        display: flex;
        .hoverIconWrapper {
          display: flex;
          align-items: center;
          cursor: pointer;
          .noHoverIcon {
            display: inline-block;
          }
          .hoverIcon {
            display: none;
          }
          &:hover {
            .noHoverIcon {
              display: none;
            }
            .hoverIcon {
              display: inline-block;
            }
          }
        }
        .ivu-poptip-popper {
          min-width: 0;
          width: 105px;
          .ivu-poptip-body {
            padding: 0;
            .actionWrapper1 {
              padding: 4px;
              .actionItem1 {
                width: 80px;
                height: 24px;
                line-height: 24px;
                border-radius: 2px;
                padding: 0 4px;
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #333333;
                text-align: left;
                cursor: pointer;
                &:not(:last-child) {
                  margin-bottom: 4px;
                }
                &:hover {
                  background: #f0f5ff;
                  color: #3f73ff;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
