<template>
  <div class="blueTag-container">
    <div class="hotIndicatorItem" v-for="item in list" :key="item.id" @click="$emit('select', item)">{{ item.title }}</div>
  </div>
</template>

<script>
export default {
  props: {
    list: {
      prop: Array,
      required: true
    }
  }
};
</script>

<style lang="less">
.blueTag-container {
  width: 100%;
  height: 100%;
  display: flex;
  .hotIndicatorItem {
    padding: 0 12px;
    height: 23px;
    line-height: 23px;
    background: #5b90ff;
    border-radius: 5px;

    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
</style>
