<template>
  <div class="card-container">
    <ChartTitle :titleValue="chartData.style" :chart-data="chartData" />
    <Indicator :chartId="chartData.chartId" :propertyData="chartData.data" :propertyStyle="chartData.style" />
  </div>
</template>

<script>
import { CHART_DEFAULT_CONFIG } from "@/config/ReportConstants";
import { deepCopy } from "@/utils/common";
import { getBusinessDate } from "@/utils/dateFormat";
import Indicator from "@/view/report/chart/Indicator/index";
import ChartTitle from "@/components/charts/title.vue";

export default {
  name: "Card",
  props: {
    answerData: {
      prop: Object,
      required: true
    }
  },
  provide() {
    return {
      // 防止报错
      refreshCharts: null,
      editChartLink: null,
      recordSnapshot: null
    };
  },
  components: {
    Indicator,
    ChartTitle
  },
  data() {
    return {
      chartData: {} // 表格数据
    };
  },
  computed: {},
  watch: {},
  created() {
    const { dimensions, indicators } = this.answerData.condition;
    this.addChart(dimensions, indicators);
  },
  methods: {
    addChart(dimensions, indicators) {
      let chartType = "Indicator";
      let { width, height, config } = CHART_DEFAULT_CONFIG[chartType];
      let timestamp = new Date().getTime();
      const curDate = getBusinessDate();

      this.chartData = {
        chartId: `${chartType}_${timestamp}`,
        id: chartType,
        data: {
          mode: 1,
          dimension: dimensions,
          indicator: indicators.map(ele => ({ ...ele, title: ele.name })),
          series: [],
          configData: {
            ...deepCopy(config),
            isOpenPrivateDate: true,
            displayPrivateDate: 1, // 使用私有日期
            linkPublicDate: 0, // 不关联公共日期
            fixedStartDate: curDate,
            fixedEndDate: curDate,
            fixedPeriodType: "99"
          },
          startDate: curDate,
          endDate: curDate
        },
        style: {
          width,
          height,
          widthConfig: "最佳比例",
          title: indicators[0].name,
          titleColor: "rgba(0, 0, 0, 0.85)"
        }
      };
    }
  }
};
</script>

<style scoped lang="less">
.card-container {
  width: 300px;
  height: 148px;
  background: #ffffff;
  border: 1px solid rgba(235, 235, 235, 1);
  box-shadow: 0 0 6px 0 rgba(217, 217, 217, 0.5);
  border-radius: 4px;
  // overflow: auto;
  position: relative; // 表格内的Spin基于此容器定位
  padding: 8px;
  position: relative;
  margin-bottom: 20px;
}

.title {
  color: #333333;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 4px;

  .left {
    width: 50%;
    padding-right: 14px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
  }

  .right {
    width: 50%;
    display: flex;
    justify-content: space-between;

    .warning {
      background: #f78c22 url("~@/assets/icons/indicatorIcon/warning.png") no-repeat 5px 1px ~"/" 18px 18px;
      border-radius: 4px;
      padding: 3px 7px 4px 26px;
      color: #ffffff;
    }

    .toolbar {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 0;

      i > {
        vertical-align: middle;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 8px;
        cursor: pointer;
      }

      .collect {
        background: url("~@/assets/icons/indicatorIcon/collect.svg");

        &.collected {
          background: url("~@/assets/icons/indicatorWorkbench/collected.svg");
        }
      }

      .share {
        background: url("~@/assets/icons/indicatorIcon/share.svg");
      }

      .more {
        background: url("~@/assets/icons/indicatorIcon/more.svg");
      }
    }
  }
}

.card-body {
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    width: 50%;
    padding-right: 16px;

    .value {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
      font-weight: 400;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;

      > span {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
        margin-right: 3px;
      }
    }

    .yoy,
    .mom {
      font-size: 12px;
      color: rgba(35, 44, 88, 0.6);
      font-weight: 400;
      transform: scale(0.9);

      > i {
        margin-left: 4px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: -4px;

        &.decline {
          background: url("~@/assets/icons/indicatorIcon/arrow_decline.svg") no-repeat center;
        }

        &.rise {
          background: url("~@/assets/icons/indicatorIcon/arrow_rise.svg") no-repeat center;
        }
      }

      > span {
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
      }
    }
  }

  .right {
    margin-top: 6px;
    width: 50%;
    height: 54px;
  }
}

.card-footer {
  // margin: 0 0 4px;
  color: rgba(35, 44, 88, 0.6);
  display: flex;
  align-items: center;
  font-size: 12px;

  .target {
    margin-left: 12px;
    flex: 1;
    height: 6px;
    border-radius: 7.5px;
    background-image: linear-gradient(103deg, #b8ccff 8%, #d0ddf8 99%);
    position: relative;

    .target-value {
      position: absolute;
      background-image: linear-gradient(270deg, #608ff4 4%, #99c2fa 93%);
      width: 0;
      height: 6px;
      border-radius: inherit;
      transition: width 0.3s cubic-bezier(0.1, 0, 0, 1);
    }
  }

  .target-percent {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.85);
  }
}
.actionWrapper {
  padding: 4px 0;

  .actionItem {
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    padding: 0 6px;
    color: #333333;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &:hover {
      background: #f0f5ff;
      color: #3f73ff;
    }
  }
}
</style>
