<template>
  <div class="dateToogle-container">
    <div :class="['dateItem', { selected: curDateType === item.value }]" v-for="item in dateList" :key="item.value" @click="toogleDate(item)">
      {{ item.name }}
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  props: {
    answerId: {
      prop: String,
      required: true
    }
  },
  data() {
    return {
      curDateType: 1,
      dateList: [
        {
          name: "昨日",
          value: 1
        },
        {
          name: "近7天",
          value: 2
        },
        {
          name: "近30天",
          value: 3
        },
        {
          name: "本月",
          value: 4
        }
      ]
    };
  },
  methods: {
    ...mapActions("intelligentAnswer", ["updateAnswer"]),
    /**
     * 切换日期显示
     */
    toogleDate({ value }) {
      this.curDateType = value;
      this.updateAnswer({ id: this.answerId, dateType: value });
    }
  }
};
</script>

<style lang="less" scoped>
.dateToogle-container {
  width: 100%;
  height: 100%;
  display: flex;
  .dateItem {
    width: 50px;
    height: 20px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(83, 139, 255, 1);
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    color: #538bff;
    &:not(:last-child) {
      margin-right: 6px;
    }
    &.selected {
      background: #538bff;
      color: #ffffff;
    }
  }
}
</style>
