<template>
  <div class="relDimInd-container">
    <p class="tip" v-if="isShowRelDim || isShowRelInd">您也可以选择以下{{ tipName }}继续对话</p>
    <section class="lineRow" v-if="isShowRelDim">
      <span class="tip">关联维度</span>
      <BlueTag :list="robot.dimensionRelList" @select="$emit('click:rel', 'dim', $event)" />
    </section>
    <section class="lineRow" v-if="isShowRelInd">
      <span class="tip">关联指标</span>
      <BlueTag :list="robot.indicatorRelList" @select="$emit('click:rel', 'ind', $event)" />
    </section>
  </div>
</template>

<script>
import BlueTag from "./BlueTag";

export default {
  props: {
    robot: {
      prop: Object,
      required: true
    },
    condition: {
      prop: Object,
      required: true
    }
  },
  components: {
    BlueTag
  },
  computed: {
    isShowRelDim() {
      return this.robot?.dimensionRelList?.length && this.condition?.dimensions?.length < 2;
    },
    isShowRelInd() {
      return this.robot?.indicatorRelList?.length && this.condition?.indicators?.length < 3;
    },
    tipName() {
      if (this.isShowRelDim && this.isShowRelInd) {
        return "维度/指标";
      } else if (this.isShowRelDim) {
        return "维度";
      } else if (this.isShowRelInd) {
        return "指标";
      }
    }
  }
};
</script>

<style lang="less" scoped>
.relDimInd-container {
  width: 100%;
  height: 100%;
  .tip {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    transform: scale(0.91); // 将字体变为11px
    transform-origin: 0 0; // 改变对齐点
    color: rgba(51, 51, 51, 0.46);
  }
  .lineRow {
    display: flex;
    align-items: center;
    margin-top: 16px;
    .tip {
      margin-top: 0;
      margin-right: 3px;
    }
    .blueTag-container {
      flex: 1;
    }
  }
}
</style>
