<template>
  <div class="business-modal-wrap">
    <Tabs v-model="tabVal" :animated="false" size="small" class="tabs">
      <TabPane label="资产" name="dataTabPane">
        <!-- 维度选择 -->
        <div class="data-property-box">
          <div class="tree-wrap" style="width: 100%; margin: 0">
            <DataProperty
              ref="dataProperty"
              :current-choose-dimension="currentChooseDimension"
              :current-choose-indicator="currentChooseIndicator"
              @onClickTreeItem="handleClickTreeItem"
            />
          </div>
          <div @mousedown="handleDragChangeWidth($event)" class="dragBar">
            <Icon style="color: #c2c2c2; margin-top: -10px" type="ios-menu" />
          </div>
        </div>

        <div class="tagBox" v-show="showTagBox">
          <!-- 已选维度 -->
          <div v-show="showSelectDimension">
            <div class="data-property-title">
              已选维度：
              <span v-if="isShowDrillDown" style="display: flex; align-items: center">
                <span style="margin-right: 7px">下钻</span>
                <Switch @on-change="handleDrillDownAnalysis" :before-change="handleChangeLink" true-color="#3f73ff" v-model="chartDrillDownOption.opened">
                  <span slot="open">开</span>
                  <span slot="close">关</span>
                </Switch>
              </span>
            </div>
            <FaDragTag
              class="tagList tagDimension"
              :data="currentChooseDimensionObjs"
              :background="'#8CC4FF'"
              closable="true"
              @fa-close="handleDimensionClose"
              @sortList="handleSortDimension"
              property="dim"
            />
            <div class="drillDownTag" v-for="(item, i) in displayDrillDownTagList" :key="item.dimension ? item.dimension.id : item.title + i">
              <div :class="{ dimensionTag: true, dimensionTagNormal: !item.hasOwnProperty('dimension') }" :style="{ width: item.width }">
                {{ item.title }}
              </div>
              <div>
                <div
                  :style="{ visibility: i === displayDrillDownTagList.length - 1 ? 'visible' : 'hidden' }"
                  class="tagBtn"
                  @click="handleAddDrillDownDimension"
                >
                  <Icon type="ios-add" size="18" />
                </div>
                <div class="tagBtn" @click="handleDelDrillDownDimension(i)">
                  <Icon type="ios-close" size="18" />
                </div>
              </div>
            </div>
          </div>
          <!-- 已选指标 -->
          <div v-show="showSelectIndicator">
            <div class="data-property-title">
              已选指标：
              <div v-if="canSwitchXYaxis">
                <span>X轴</span>
                <img src="@/assets/images/report/indicatorChange.svg" style="margin: 0 10px" @click="indicatorChange" />
                <span>Y轴</span>
              </div>
            </div>
            <div style="display: flex">
              <div v-if="canSwitchXYaxis" style="width: 28px; lineheight: 30px">
                <div v-if="currentSelectIndicators.length >= 1">X轴</div>
                <div v-if="currentSelectIndicators.length >= 2">Y轴</div>
                <div v-if="currentSelectIndicators.length >= 3">大小</div>
              </div>
              <FaDragTag
                class="tagList tagIndicator"
                :data="currentSelectIndicators"
                :background="'#83DCB9'"
                closable="true"
                @fa-close="handleIndicatorClose"
                @sortList="handleSortIndicator"
                property="ind"
              />
            </div>
          </div>
          <!-- 系列 -->
          <div v-show="showSelectSeries">
            <div class="data-property-title">系列：</div>
            <FaDragTag
              class="tagList tagDimension"
              :data="currentChooseSeriesObjs"
              :background="'#8CC4FF'"
              closable="true"
              @fa-close="onSeriesDelete"
              @sortList="onSeriesSort"
              property="dim"
            />
          </div>
        </div>

        <!-- 仅文本框组件 -->
        <div class="data-property-box" style="height: 300px" v-if="canShowTextAreaIndicator">
          <div class="data-property-title">
            已选指标：
            <Tooltip placement="left-start" theme="light">
              <Icon style="font-size: 20px" type="ios-help-circle-outline" v-if="currentSelectChart.id === 'ComplexTextarea'" />
              <div slot="content">
                <p>1、shift+#快捷键选择指标值</p>
                <p>2、shift+@快捷键选择指标名</p>
              </div>
            </Tooltip>
          </div>
          <div class="tree-wrap tagClass">
            <div>
              <Tag v-for="item in hasSelectIndicators" :key="item.id" color="#83DCB9" style="width: 100%; height: 30px" :title="getTitle(item)">
                {{ item.label }}
              </Tag>
            </div>
          </div>
        </div>

        <!-- 未选择图表 -->
        <div v-if="!storeChartList.length || !Object.keys(currentSelectChart).length">
          <Tips tipstype="数据选择"></Tips>
        </div>
        <div v-if="showSelectDataTip">
          <Tips tipstype="请先选择数据"></Tips>
        </div>
        <!--        <FilterData :openModal="openModal" :conditionData="conditionData" :isCreate="true" @fa-close="handleCloseModal" @fa-ok="handleSubmitCondition" />-->
        <VariableCondition :show="openModal" :indicatorList="conditionData" @on-close="handleCloseModal" @on-ok="handleSubmitCondition" />
      </TabPane>
      <TabPane label="图表" name="resourceTabPane">
        <ResourceTab />
      </TabPane>
      <TabPane label="数据集" name="dataSet">
        <!-- 维度选择 -->
        <div class="data-property-box">
          <div class="tree-wrap" style="width: 100%; margin: 0">
            <DataSet
              ref="dataProperty"
              :current-choose-dimension="currentChooseDimension"
              :current-choose-indicator="currentChooseIndicator"
              @onClickTreeItem="handleClickTreeItem"
            />
          </div>
          <div @mousedown="handleDragChangeWidth($event)" class="dragBar">
            <Icon style="color: #c2c2c2; margin-top: -10px" type="ios-menu" />
          </div>
        </div>

        <div class="tagBox" v-show="showTagBox">
          <!-- 已选维度 -->
          <div v-show="showSelectDimension">
            <div class="data-property-title">
              已选维度：
              <span v-if="isShowDrillDown" style="display: flex; align-items: center">
                <span style="margin-right: 7px">下钻</span>
                <Switch @on-change="handleDrillDownAnalysis" :before-change="handleChangeLink" true-color="#3f73ff" v-model="chartDrillDownOption.opened">
                  <span slot="open">开</span>
                  <span slot="close">关</span>
                </Switch>
              </span>
            </div>
            <FaDragTag
              class="tagList tagDimension"
              :data="currentChooseDimensionObjs"
              :background="'#8CC4FF'"
              closable="true"
              @fa-close="handleDimensionClose"
              @sortList="handleSortDimension"
              property="dim"
            />
            <div class="drillDownTag" v-for="(item, i) in displayDrillDownTagList" :key="item.dimension ? item.dimension.id : item.title + i">
              <div :class="{ dimensionTag: true, dimensionTagNormal: !item.hasOwnProperty('dimension') }" :style="{ width: item.width }">
                {{ item.title }}
              </div>
              <div>
                <div
                  :style="{ visibility: i === displayDrillDownTagList.length - 1 ? 'visible' : 'hidden' }"
                  class="tagBtn"
                  @click="handleAddDrillDownDimension"
                >
                  <Icon type="ios-add" size="18" />
                </div>
                <div class="tagBtn" @click="handleDelDrillDownDimension(i)">
                  <Icon type="ios-close" size="18" />
                </div>
              </div>
            </div>
          </div>
          <!-- 已选指标 -->
          <div v-show="showSelectIndicator">
            <div class="data-property-title">
              已选指标：
              <div v-if="canSwitchXYaxis">
                <span>X轴</span>
                <img src="@/assets/images/report/indicatorChange.svg" style="margin: 0 10px" @click="indicatorChange" />
                <span>Y轴</span>
              </div>
            </div>
            <div style="display: flex">
              <div v-if="canSwitchXYaxis" style="width: 28px; lineheight: 30px">
                <div v-if="currentSelectIndicators.length >= 1">X轴</div>
                <div v-if="currentSelectIndicators.length >= 2">Y轴</div>
                <div v-if="currentSelectIndicators.length >= 3">大小</div>
              </div>
              <FaDragTag
                class="tagList tagIndicator"
                :data="currentSelectIndicators"
                :background="'#83DCB9'"
                closable="true"
                @fa-close="handleIndicatorClose"
                @sortList="handleSortIndicator"
                property="ind"
              />
            </div>
          </div>
          <!-- 系列 -->
          <div v-show="showSelectSeries">
            <div class="data-property-title">系列：</div>
            <FaDragTag
              class="tagList tagDimension"
              :data="currentChooseSeriesObjs"
              :background="'#8CC4FF'"
              closable="true"
              @fa-close="onSeriesDelete"
              @sortList="onSeriesSort"
              property="dim"
            />
          </div>
        </div>

        <!-- 仅文本框组件 -->
        <div class="data-property-box" style="height: 300px" v-if="canShowTextAreaIndicator">
          <div class="data-property-title">
            已选指标：
            <Tooltip placement="left-start" theme="light">
              <Icon style="font-size: 20px" type="ios-help-circle-outline" v-if="currentSelectChart.id === 'ComplexTextarea'" />
              <div slot="content">
                <p>1、shift+#快捷键选择指标值</p>
                <p>2、shift+@快捷键选择指标名</p>
              </div>
            </Tooltip>
          </div>
          <div class="tree-wrap tagClass">
            <div>
              <Tag v-for="item in hasSelectIndicators" :key="item.id" color="#83DCB9" style="width: 100%; height: 30px" :title="getTitle(item)">
                {{ item.label }}
              </Tag>
            </div>
          </div>
        </div>

        <!-- 未选择图表 -->
        <div v-if="!storeChartList.length || !Object.keys(currentSelectChart).length">
          <Tips tipstype="数据选择"></Tips>
        </div>
        <div v-if="showSelectDataTip">
          <Tips tipstype="请先选择数据"></Tips>
        </div>
        <!--        <FilterData :openModal="openModal" :conditionData="conditionData" :isCreate="true" @fa-close="handleCloseModal" @fa-ok="handleSubmitCondition" />-->
        <VariableCondition :show="openModal" :indicatorList="conditionData" @on-close="handleCloseModal" @on-ok="handleSubmitCondition" />
      </TabPane>
      <TabPane label="参数" name="globalVar">
        <GlobalVarTab />
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
import { addComplexIndicator, addIndicator } from "@/api/indicator";
import { mapActions, mapGetters, mapState } from "vuex";
import _ from "lodash";
import ComplexIndicator from "../../indicator/modal/complexIndicator";
import { checkExpression } from "@/libs/calcExpression";
import Tips from "../tips";
import FaDragTag from "@/view/report/components/fa-tagDrag/Fa-dragTag";
import FilterData from "@/view/report/chartDataConfig/common/FilterData";
import VariableCondition from "@/components/VariableCondition/index.vue";
import FaTree from "@/view/report/components/fa-tree/FaTree";
import {
  isSupportDimensionCharts,
  isSupportIndicatorCharts,
  isSupportSingleDimensionCharts,
  isSupportSingleIndicatorCharts,
  isSupportThreeIndicatorCharts,
  isSupportFiveIndicatorCharts,
  isSupportDoubleIndicatorCharts,
  supportSeriesCharts,
} from "./reportDataSelectorConstant";
import { deepCopy } from "@/utils/common";
import BaseSelector from "@/view/report/chart/basics/BaseSelector";
import ResourceTab from "./components/ResourceTab";
import DataProperty from "./components/DataProperty";
import DataSet from "./components/DataSet";
import ModelDataMixin from "@/view/report/mixin/modelDataMixin";
import GlobalVarTab from "./components/GlobalVarTab";
export default {
  name: "ModelDataSelector",
  extends: BaseSelector,
  components: {
    Tips,
    ComplexIndicator,
    FaDragTag,
    FilterData,
    VariableCondition,
    FaTree,
    ResourceTab,
    DataProperty,
    GlobalVarTab,
    DataSet,
  },
  mixins: [ModelDataMixin],
  data() {
    return {
      tabVal: "dataTabPane",
      businessModelList: [],
      allDimensionList: [],
      dimensionList: [],
      indicatorLinkedList: [],
      allIndicatorList: [],
      indicatorList: [],
      dimensionLinkedList: [],
      defaultHeight: null,
      treeBoxHeight: null,
      firstNode: 0,
      indicatorTreeLoading: false,
      indicatorModalShow: false,
      basicAddModLoading: false,
      formItem: {
        groupId: "",
        name: "",
        showType: "",
        type: 1,
        label: "",
        businessModelId: "",
        businessModelPropertyId: "",
        calculateType: "",
        conditionGroups: null,
        thresholds: [
          {
            adverseDirection: null,
            name: null,
            valueType: null,
            value: null,
          },
        ],
      },
      groupData: [],
      businessModelPropertyIdList: [],
      thresholdSection: Object.freeze([
        {
          label: ">",
          value: 0,
        },
        {
          label: "≥",
          value: 1,
        },
      ]),
      showThreshold: false,
      showConditionGroups: false,
      // 复合指标
      complexIndicatorModalShow: false,
      complexAddModLoading: false,
      complexFormData: {
        // 复合指标表单绑定对象
        name: "",
        describe: "",
        groupId: "",
        expressionInnerHtml: "",
      },
      // 避免和indicatorTreeData冲突
      expressionIndicators: [],
      expression: null,
      treeData: [],
      copyTreeData: null,
      openModal: false,
      conditionData: [],
      readyIndicators: {},
      editResourceId: "",
      currentChooseDimension: [],
      currentChooseIndicator: [],
      dimensionTreeData: [], //维度树
      indicatorTreeData: [],
    };
  },
  inject: ["recordSnapshot"],
  computed: {
    ...mapState("resourceManage", ["isCombineResourceEditPage"]),
    ...mapGetters([
      "currentSelectChart",
      "currentSelectChartData",
      "currentSelectDimensions",
      "currentSelectSeries",
      "currentSelectIndicators",
      "currentSelectConfigData",
      "currentChartId",
      "currentChartType",
      "isSelectOutIndicators",
    ]),

    storeChartList() {
      return this.$store.state.chart.chartList;
    },

    hasSelectIndicators() {
      return this.currentSelectConfigData.indicators;
    },

    // 是否显示支持指标显示的textArea控件
    canShowTextArea() {
      return this.currentChartType === "SimpleTextarea";
    },

    canShowTextAreaIndicator() {
      return this.currentChartType === "ComplexTextarea";
    },
    // 是否显示X轴 Y轴文本 以及切换X轴 Y轴
    canSwitchXYaxis() {
      return ["SimpleScatter", "SimpleBubble"].includes(this.currentChartType);
    },
    // 是否显示维度选项(1、选择的图表支持维度设置，且未选择外部指标；2、画布中没有图表；3、鼠标未选中任何图表（包括离开不支持维度设置的图表）)
    canShowDimension() {
      const showDimension =
        (this.currentChartType && _.indexOf(isSupportDimensionCharts, this.currentChartType) !== -1 && !this.isSelectOutIndicators) ||
        this.storeChartList.length === 0 ||
        !this.currentSelectChart ||
        !Object.keys(this.currentSelectChart).length;
      return showDimension;
    },
    // 是否显示指标选项(1、选择的图表支持指标设置；2、画布中没有图表；3、鼠标未选中任何图表（包括离开不支持维度设置的图表）)
    canShowIndicator() {
      const showIndicator =
        (this.currentChartType && _.indexOf(isSupportIndicatorCharts, this.currentChartType) !== -1) ||
        this.storeChartList.length === 0 ||
        !this.currentSelectChart ||
        !Object.keys(this.currentSelectChart).length;
      return showIndicator;
    },
    // 是否展示下钻
    isShowDrillDown() {
      const showDrillDown = this.currentSelectConfigData && this.currentSelectConfigData.isSupportDrillDown;
      return !this.isCombineResourceEditPage && showDrillDown && this.currentChooseDimensionObjs.length === 1 && !this.showSelectSeries;
    },
    // 是否支持维度多选
    isSupportMultipleDimension() {
      return isSupportSingleDimensionCharts.findIndex((item) => item === this.currentChartType) === -1;
    },
    // 是否支持指标多选
    isSupportMultipleIndicator() {
      return isSupportSingleIndicatorCharts.findIndex((item) => item === this.currentChartType) === -1;
    },
    // 显示已选维度
    currentChooseDimensionObjs() {
      if (this.chartDrillDownOption.opened && this.chartDrillDownOption.drillDownTagList.length > 0) {
        return [this.chartDrillDownOption.drillDownTagList[0].dimension];
      }

      let dimensions = [];
      for (let i = 0; i < this.currentSelectDimensions.length; i++) {
        const selectDimension = this.currentSelectDimensions[i];
        for (let j = 0; j < this.dimensionList.length; j++) {
          const dimension = this.dimensionList[j];
          if (Number(selectDimension) === Number(dimension.id)) {
            dimensions.push(dimension);
            break;
          }
        }
      }
      return dimensions;
    },
    // 显示已选系列
    currentChooseSeriesObjs() {
      let series = [];
      for (let i = 0; i < this.currentSelectSeries.length; i++) {
        const selectDimension = this.currentSelectSeries[i];
        for (let j = 0; j < this.dimensionList.length; j++) {
          const dimension = this.dimensionList[j];
          if (Number(selectDimension) === Number(dimension.id)) {
            series.push(dimension);
            break;
          }
        }
      }
      return series;
    },
    showTagBox() {
      return this.showSelectDimension || this.showSelectIndicator || this.showSelectSeries;
    },
    showSelectDimension() {
      return this.currentSelectDimensions.length;
    },
    showSelectIndicator() {
      return this.currentSelectIndicators.length;
    },
    showSelectSeries() {
      return this.currentSelectSeries.length;
    },
    // 是否可以选择系列
    isCanSelectSeries() {
      return (
        supportSeriesCharts.includes(this.currentChartType) &&
        this.currentSelectDimensions.length === 1 &&
        this.currentSelectIndicators.length === 1 &&
        !this.chartDrillDownOption.opened
      );
    },
    chartDrillDownOption() {
      return (this.currentSelectConfigData && this.currentSelectConfigData.drillDownOption) || {};
    },
    treeMultiple() {
      return this.chartDrillDownOption.opened || this.isSupportMultipleDimension;
    },
    displayDrillDownTagList() {
      let tagList = [];
      if (this.chartDrillDownOption.opened) {
        const drillDownTagList = this.chartDrillDownOption.drillDownTagList;
        tagList = drillDownTagList.slice(1, drillDownTagList.length);
      }
      return tagList;
    },
    showSelectDataTip() {
      return (
        this.currentSelectChart &&
        Object.keys(this.currentSelectChart).length &&
        _.indexOf(["FaTab", "CustomImage", "ComplexTextarea", "SimpleIframe"], this.currentChartType) === -1 &&
        this.currentSelectChartData.dimension &&
        !this.currentSelectChartData.dimension.length &&
        this.currentSelectChartData.indicator &&
        !this.currentSelectChartData.indicator.length
      );
    },
    globalVariableList() {
      return this.$store.state.chart.globalVariableList;
    },
  },
  mounted() {
    // 将所有维度保存到store中
    this.findAllDimension();
    // 将所有指标保存到store中
    this.findAllIndicator();
    // 复合指标中的树形结构
    this.getIndicatorGroup();
    this.refresh();
  },
  methods: {
    ...mapActions(["setDimensions", "setIndicators"]),

    refresh() {
      this.dimensionTreeData = []; //维度树
      this.indicatorTreeData = [];
      this.indicatorDictionary = []; //指标联动字典
      this.dimensionDictionary = [];
      // this.dimensionTreeRef = this.$refs['dimensionTreeRef']
      // this.indicatorTreeRef = this.$refs['indicatorTreeRef']
      this.indList = []; //指标list
      this.drillDownDimensionList = []; //下钻时已选维度
    },

    /******************************图表下钻*********************************/
    /**
     *
     * @returns {Promise<unknown>}
     */
    handleChangeLink() {
      return new Promise((resolve) => {
        // 维度下钻和组件跳转为互斥关系
        if (this.currentSelectConfigData?.jumpOption?.openJump) {
          this.$Message.warning("组件已设置跳转，无法开启维度下钻");
        } else {
          resolve();
        }
      });
    },
    /**
     * 开启/关闭下钻功能
     * @param data
     */
    handleDrillDownAnalysis(data) {
      if (data) {
        let drillDownTagList = [
          {
            width: "70%",
            idx: 0,
            title: this.currentChooseDimensionObjs[0].name,
            dimension: this.currentChooseDimensionObjs[0],
            arrive: true,
          },
          { width: "70%", idx: 1, title: "请选择维度", arrive: false },
          { width: "65%", idx: 2, title: "请选择维度", arrive: false },
        ];
        this.chartDrillDownOption.drillDownTagList = drillDownTagList;
        this.chartDrillDownOption.drillDownStep = 1;
      } else {
        let configData = this.currentSelectChartData.configData;
        let obj = {
          drillDownTagList: [],
          opened: false,
          drillDownStep: 1,
        };
        let rootDimensionId = this.chartDrillDownOption.drillDownTagList[0].dimension.id;
        this.$set(this.currentSelectChartData, "dimension", [rootDimensionId]);
        this.$set(configData, "drillDownOption", obj);
        configData.conditionValue = "";
      }
      this.recordSnapshot();
    },

    /**
     * 删除指定下钻条件
     * @param idx
     */
    handleDelDrillDownDimension(idx) {
      // 所有层级维度
      let drillDownDimensions = deepCopy(this.chartDrillDownOption.drillDownTagList);
      // 过滤出当前及其下面各子层级维度
      let deleteDimensionIds = drillDownDimensions.filter((item, index) => index >= idx && item.dimension !== undefined).map((item) => item.dimension.id);
      if (deleteDimensionIds.length > 0) {
        // 删除维度以及树上选中状态
        for (let i = 0; i < this.drillDownDimensionList.length; i++) {
          let index = deleteDimensionIds.findIndex((j) => j == this.drillDownDimensionList[i].id);
          if (index !== -1) {
            this.drillDownDimensionList.splice(i, 1);
            i--;
          }
        }

        // 重置下钻步骤
        if (this.chartDrillDownOption.drillDownStep >= idx) {
          this.chartDrillDownOption.drillDownStep = idx;
        }
      }

      // 删除当前维度以及后面所有维度
      drillDownDimensions.splice(idx + 1, drillDownDimensions.length - idx);
      this.chartDrillDownOption.drillDownTagList = deepCopy(drillDownDimensions);
      if (drillDownDimensions.length === 1) {
        this.chartDrillDownOption.opened = false;
      }
      let currentDrillDownDimensionId = null;
      if (drillDownDimensions.length) {
        // 未做下钻操作时，删除下钻层级默认第一层维度节点高亮选中，反之取当前下钻层级的维度id
        const step = drillDownDimensions.length - 1;
        const currentDrillDownStep = this.chartDrillDownOption.drillDownStep === 1 ? 0 : step;
        currentDrillDownDimensionId = drillDownDimensions[currentDrillDownStep].dimension.id;
        this.$set(this.currentSelectChartData, "dimension", [currentDrillDownDimensionId]);
      }
      this.recordSnapshot();
    },

    /**
     * 增加下钻条件
     */
    handleAddDrillDownDimension() {
      let drillDownTagList = this.chartDrillDownOption.drillDownTagList,
        len = drillDownTagList.length;
      if (len > 4) {
        this.$Message.warning("超过最大下钻深度！");
        return;
      }
      let lastDimension = drillDownTagList[len - 1],
        idx = lastDimension.idx + 1;
      drillDownTagList.push({
        width: lastDimension.width.replace("%", "") - 5 + "%",
        idx,
        title: "请选择维度", // '下钻维度' + idx,
        arrive: false,
      });
      this.recordSnapshot();
    },
    /******************************指标过滤筛选*********************************/
    handleCloseModal() {
      this.openModal = false;
      let { currentNode } = this.readyIndicators;
      currentNode.selected = false;
    },
    handleSubmitCondition(data) {
      let variableCondition = this.currentSelectConfigData.variableCondition || [];
      this.$set(this.currentSelectConfigData, "variableCondition", [...variableCondition, ...data]);
      this.openModal = false;
      const { selectNodes, currentNode } = this.readyIndicators;
      this.setIndicatorList(selectNodes, currentNode);
    },
    /****************************** - *********************************/
    /**
     * 指标树数据
     * @param data
     */
    getAllTreeDataIndicator(data) {
      this.indicatorTreeData = data;
      this.getAllInd(data.treeDataCopy);
      //指标树字典
      this.indicatorDictionary = this.getCurrentTreeDictionary(data);
    },
    /**
     * 维度树数据
     * @param data
     */
    getAllTreeDataDimension(data) {
      this.dimensionTreeData = data;
      //维度树字典
      this.dimensionDictionary = this.getCurrentTreeDictionary(data);
    },
    /**
     * 创建树节点id字典
     * @param data
     * @returns {*[]}
     */
    getCurrentTreeDictionary(data) {
      let temp = [];
      if (data.treeDataCopy.length && data.treeDataCopy[0].children) {
        this.refreshTreeGroupId(data.treeDataCopy[0].children, null, 0, temp);
      }
      return temp;
    },
    /**
     * 树节点id字典
     * [ {groupId:父节点，childrenIdList:当前父节点下所有子节点[]} ]
     * @param allData
     * @param isChildren
     * @param index
     */
    refreshTreeGroupId(allData, isChildren, index, list) {
      for (let i = 0; i < allData.length; i++) {
        let item = allData[i],
          parentIdx = index ? index : 0;
        if (!isChildren) {
          parentIdx = i;
          list.push({ groupId: item.id, childrenIdList: [] });
        } else {
          list[parentIdx].childrenIdList.push(item.id);
        }
        //如果当前为父级节点
        if (item.hasOwnProperty("children")) {
          this.refreshTreeGroupId(item.children, true, parentIdx, list);
        }
      }
    },
    /**
     * 根据字典匹配相应联动的父级节点
     * @param groupList
     * @returns {*[]}
     */
    handleChooseCurrentGroup(groupList, dictionary, treeData) {
      let realTreeNodesId = [];
      let list = groupList[0] instanceof Array ? groupList[0] : groupList;
      list.forEach((item) => {
        //遍历字典
        for (let i = 0; i < dictionary.length; i++) {
          let currentGroupIds = dictionary[i];
          let shouldBreak = false;
          //如果当前父节点的id不符则去所以子节点的数组里去找
          if (currentGroupIds.groupId != item) {
            let childrenIdList = currentGroupIds.childrenIdList;
            for (let j = 0; j < childrenIdList.length; j++) {
              let childrenId = childrenIdList[j];
              //如果找到了则把这个子节点所属的父节点的id传出去并关闭本次循环
              if (childrenId == item) {
                if (!realTreeNodesId.includes(currentGroupIds.groupId)) {
                  realTreeNodesId.push(currentGroupIds.groupId);
                }
                shouldBreak = true;
                break;
              }
            }
          } else {
            //如果传的节点直接就是父节点
            realTreeNodesId.push(currentGroupIds.groupId);
            shouldBreak = true;
          }
          if (shouldBreak) {
            break;
          }
        }
      });
      let copyTree = [...treeData],
        children = copyTree[0].children,
        filteredSourceData = [];
      //去遍历树根节点的第一层找到这些节点
      realTreeNodesId.forEach((item) => {
        let currentParent = children.find((ite) => ite.id == item);
        if (currentParent) {
          filteredSourceData.push(currentParent);
        }
      });
      //替换掉当前的树
      return filteredSourceData;
    },
    /**
     * 获取所有的维度存入缓存
     */
    findAllDimension() {
      let allDimensions = [];
      if (this.$store.state.chart.dimensions.length) {
        allDimensions = [...this.$store.state.chart.dimensions];
        this.allDimensionList = [...allDimensions];
        this.dimensionList = [...allDimensions];
      } else if (localStorage.getItem("allDimensions")) {
        allDimensions = JSON.parse(localStorage.getItem("allDimensions"));
        this.allDimensionList = [...allDimensions];
        this.dimensionList = [...allDimensions];
        const dimensions = allDimensions;
        this.setDimensions({ dimensions });
      } else {
        this.findAllDimensionFromBasic().then((res) => {
          if (res.data.state === "success") {
            const { data } = res.data;
            this.allDimensionList = [...data];
            this.dimensionList = [...data];
            const dimensions = data;
            this.setDimensions({ dimensions });
            localStorage.setItem("allDimensions", JSON.stringify(dimensions));
          }
        });
      }
    },
    /**
     * 获取所有的指标存入缓存
     */
    findAllIndicator() {
      let indicators = [];
      if (this.$store.state.chart.indicators.length) {
        indicators = [...this.$store.state.chart.indicators];
        this.allIndicatorList = [...indicators];
        this.indicatorList = [...indicators];
      } else if (localStorage.getItem("allIndicators")) {
        indicators = JSON.parse(localStorage.getItem("allIndicators"));
        this.allIndicatorList = [...indicators];
        this.indicatorList = [...indicators];
        this.setIndicators({ indicators });
      } else {
        this.findAllIndicatorFromBasic().then((res) => {
          if (res.data.state === "success") {
            const { data } = res.data;
            this.allIndicatorList = data;
            this.indicatorList = data;
            const indicators = data;
            this.setIndicators({ indicators });
            localStorage.setItem("allIndicators", JSON.stringify(indicators));
          }
        });
      }
    },
    /**
     * 获所有指标
     * @param allData
     */
    getAllInd(allData) {
      allData.forEach((item) => {
        if (item.hasOwnProperty("children")) {
          this.getAllInd(item.children);
        } else {
          this.indList.push(item);
        }
      });
    },
    /**
     * 构造维度下钻层级对象drillDownDimensionList
     * 从第二层维度开始往下加层级：一次点击节点做添加层级处理，再次点击做删除对应层级处理
     * */

    buildDrillDownDimensionList(currentNode) {
      let drillDownTagList = this.chartDrillDownOption.drillDownTagList;
      const hasSelected = drillDownTagList.find((item) => item.dimension && item.dimension.id === currentNode.id);
      if (hasSelected) {
        /**
         * 1、如果下钻层级里面已存在该维度则从层级中移除:
         * 移除后调整层级，当前层级若存在下级维度则后面的维度层级依次向上提升一级
         */
        const drillDownDimensionIds = drillDownTagList.filter((item) => item.dimension).map((item) => item.dimension.id);
        const index = _.indexOf(drillDownDimensionIds, currentNode.id);
        if (index === 0) {
          // 移除第一层维度
          this.handleDimensionClose(hasSelected);
        } else {
          // 移除非第一层
          this.handleDelDrillDownDimension(index - 1);
        }
      } else {
        let targetIdx;
        let targetDrillDownDimension = drillDownTagList.find((item, i) => {
          targetIdx = i;
          return !item.hasOwnProperty("dimension");
        });
        if (targetIdx < 4 && !targetDrillDownDimension) {
          /**
           * 依次往下增加一层
           */
          let idx = targetIdx + 1,
            prevTag = drillDownTagList[targetIdx];
          let addNewTag = {
            width: prevTag.width.replace("%", "") - 5 + "%",
            idx,
            title: "下钻维度" + idx,
            arrive: false,
          };
          drillDownTagList.push(addNewTag);
          targetDrillDownDimension = addNewTag;
        } else if (!targetDrillDownDimension) {
          this.$set(currentNode, "selected", false);
          this.$Message.warning("超过最大下钻深度！");
        }
        if (targetDrillDownDimension) {
          //将选择的维度插入当前tag
          targetDrillDownDimension["dimension"] = currentNode;
          targetDrillDownDimension["title"] = currentNode.title;
          //todo: 此处会触发图表刷新数据
          this.drillDownDimensionList.push(currentNode);
        }
      }
    },

    handleClickTreeItem(data) {
      if (data.type === 99) {
        // 维度
        this.currentChooseDimension = [...this.currentSelectDimensions, data.id];
        this.onSelectDimensionChange([], data);
      } else {
        // 查询指标筛选条件（全量接口不返回）
        this.getIndicatorDetail(data.type, data.id).then((res) => {
          data = Object.assign(data, res);
          const currentIndicatorGlobalVarList = this.getIndicatorGlobalVariableCondition([data]);
          if (currentIndicatorGlobalVarList.length) {
            this.$Message.info("当前所选指标筛选条件设置了全局变量，请从筛选器中配置全局变量筛选条件");
          }
          // 需要将当前指标详情中设置保存的数值格式配置同步过来
          const configData = JSON.parse(data.configData);
          this.$set(this.currentSelectConfigData, "showType", configData.showType);
          this.$set(this.currentSelectConfigData, "numberUnit", configData.numberUnit);
          this.$set(this.currentSelectConfigData, "prefix", configData.prefix);
          this.$set(this.currentSelectConfigData, "suffix", configData.suffix);
          this.$set(this.currentSelectConfigData, "decimalPlaces", configData.decimalPlaces);
          this.$set(this.currentSelectConfigData, "thousandsSeparator", configData.thousandsSeparator);
          this.currentChooseIndicator = [...this.currentSelectIndicators, data];
          this.onSelectIndicatorChange([], data);
        });
      }
    },
    /**
     * 维度树选中
     * @param selectNodes
     * @param currentNode
     */
    onSelectDimensionChange(selectNodes, currentNode) {
      if (!this.currentSelectChart?.data) return;

      if (this.chartDrillDownOption.opened) {
        this.buildDrillDownDimensionList(currentNode);
        this.recordSnapshot();
        return;
      } else {
        // 设置下钻后再修改第一层维度要删除下钻层级
        if (this.chartDrillDownOption.drillDownTagList && this.chartDrillDownOption.drillDownTagList.length) {
          this.chartDrillDownOption.drillDownTagList = [];
        }
      }

      let dimensions = deepCopy(this.currentSelectDimensions); // 已选择的维度
      let series = deepCopy(this.currentSelectSeries); // 已选择的系列
      let dimensionIndex = dimensions.findIndex((item) => Number(item) === Number(currentNode.id));
      let seriesIndex = series.findIndex((item) => Number(item) === Number(currentNode.id));

      // 如果已选，移除
      if (dimensionIndex > -1) {
        dimensions.splice(dimensionIndex, 1);
        if (!dimensions.length && series.length) series = []; // 维度清空，系列同步清空
      }
      if (seriesIndex > -1) series.splice(seriesIndex, 1);

      // 如果未选
      if (dimensionIndex === -1 && seriesIndex === -1) {
        if (this.isSupportMultipleDimension) {
          // 维度多选
          dimensions.push(currentNode.id);
        } else {
          if (this.isCanSelectSeries) {
            series.length ? series.splice(seriesIndex, 1, currentNode.id) : series.push(currentNode.id);
          } else {
            // 维度单选
            dimensions.splice(dimensionIndex, 1, currentNode.id);
          }
        }
      }
      this.$set(this.currentSelectChart.data, "dimension", dimensions);
      this.$set(this.currentSelectChart.data, "series", series);
      // 刷新指标树为选择维度所关联的指标（有效组合）
      // this.refreshLinkedTree([...dimensions, ...series], 'dimension')
      this.changeComponentTitle();
    },
    /**
     * 刷新关联维度指标
     * @param idList
     * @param type
     * @returns {Promise<void>}
     */
    async refreshLinkedTree(idList, type) {
      //list长度和字段名
      let len = idList.length;
      let linkedType = type + "LinkedList";
      let realType = type === "indicator" ? "dimension" : "indicator";
      //如果有长度
      if (idList && len) {
        //根据type用接口
        let request = type === "indicator" ? this.findDimensionsByIndicatorFromBasic : this.findIndicatorsByDimensionFromBasic;
        //提示名
        let name = type === "indicator" ? "指标" : "维度";
        //过滤
        let linkedList = this[linkedType].filter((item) => _.indexOf(idList, item.id) !== -1);
        //是对象还是string
        const isObj = typeof idList[0] === "object";
        //根据类型提取id
        let idListChecked = isObj ? idList.map((item) => item.id) : idList;
        //循环
        for (let i = 0; i < len; i++) {
          //检查上一次的过滤条件中是否含有本次选择的指标/维度
          const targetNode = this[linkedType].find((item) => item.id == idListChecked[i]);
          //没有就去发请求
          if (!targetNode) {
            //调取接口
            const type = isObj ? idList[i].type : null;
            let res = await request(idListChecked[i], type);
            //如果有匹配的
            if (res.data && res.data.state === "success") {
              const { data } = res.data;
              linkedList.push({
                id: idListChecked[i],
                list: data,
              });
            } else {
              //如果没有
              this.$Message.error(`不可用的${name}，请尝试选择其他的${name}！`);
            }
          }
        }
        //过滤结束后
        this[linkedType] = linkedList;
        this.mergeSameLinked(type);
      } else {
        //如果为空则直接还原树
        this[realType + "TreeRef"].updateTree([]);
        this[linkedType] = [];
      }
    },
    /**
     * 获取维度指标所关联的交集
     * @param type
     */
    mergeSameLinked(type) {
      let realType = type === "indicator" ? "dimension" : "indicator";
      let nodes = this[type + "LinkedList"];
      const idList = nodes.map((item) => item.list.map((indicator) => indicator.id));
      let filteredList = [];
      if (nodes.length > 1) {
        //取所有数组的交集
        filteredList = idList.reduce((a, b) => a.filter((c) => b.includes(c)));
      } else {
        filteredList = idList;
      }
      if (filteredList) {
        let dictionary = this[realType + "Dictionary"];
        let OriginTree = this[realType + "TreeData"];
        let tree = this.handleChooseCurrentGroup(filteredList, dictionary, OriginTree.treeDataCopy);
        this[realType + "TreeRef"].updateTree(tree, true);
      } else {
        this[realType + "TreeRef"].updateTree([], true, true);
      }
    },
    /**
     * 指标选中事件
     * @param selectNodes
     * @param currentNode
     */
    onSelectIndicatorChange(selectNodes, currentNode) {
      if (!this.currentSelectChart.data) return;

      // 如果指标已选过
      const chartData = this.currentSelectChartData;
      let chartIndicators = chartData ? deepCopy(chartData.indicator) : [];
      let indicator = chartIndicators.find((item) => item.id === currentNode.id);
      if (indicator) {
        this.setIndicatorList(selectNodes, currentNode);
        return false;
      }

      // 需要配置变量条件的指标
      let variableConditionIndicator = [currentNode];

      if (this.checkVariableConditionIndicator(variableConditionIndicator)) {
        this.openModal = true;
        this.conditionData = variableConditionIndicator;
        this.readyIndicators = { selectNodes, currentNode };
      } else {
        this.setIndicatorList(selectNodes, currentNode);
      }
    },

    /**
     * 检查指标是否需要配置变量条件
     * @param indicatorList
     */
    checkVariableConditionIndicator(indicatorList) {
      for (let indicator of indicatorList) {
        const type = indicator.type;
        if (type === 1) {
          // 原子
          const conditionGroups = indicator.conditionGroups || [];
          for (let conditionGroupItem of conditionGroups) {
            for (let conditionItem of conditionGroupItem.conditions) {
              if (conditionItem.value.includes("var_")) {
                return true;
              }
            }
          }
        } else if (type === 2) {
          // 复合
          const conditionObj = indicator.conditions || []; // 复合指标的过滤条件会有多个原子指标，所以用原子指标id作为key
          for (let key in conditionObj) {
            const conditionGroups = conditionObj[key];
            for (let conditionGroupItem of conditionGroups) {
              for (let conditionItem of conditionGroupItem.conditions) {
                if (conditionItem.value.includes("var_")) {
                  return true;
                }
              }
            }
          }
        } else if (type === 3) {
          // 派生
          const conditionGroups = indicator.atomIndicator?.conditionGroups || [];
          for (let conditionGroupItem of conditionGroups) {
            for (let conditionItem of conditionGroupItem.conditions) {
              if (conditionItem.value.includes("var_")) {
                return true;
              }
            }
          }
        }
      }

      return false;
    },

    /**
     * 设置已选指标列表
     * @param selectNodes
     * @param currentNode
     */
    setIndicatorList(selectNodes, currentNode) {
      // 必须选择图表才能选择指标
      if (!this.currentSelectChart) return;
      // 图表当前已选的指标列表
      const chartIndicators = this.currentSelectChartData?.indicator || [];
      // 新的指标列表
      let newChartIndicators = deepCopy(chartIndicators);
      let currentNodeIndex = newChartIndicators.findIndex((item) => item.id === currentNode.id);
      if (currentNodeIndex > -1) {
        // 当前指标如果已被选择，那么移除该指标
        newChartIndicators.splice(currentNodeIndex, 1);
      } else {
        if (isSupportSingleIndicatorCharts.includes(this.currentSelectChart.id)) {
          // 仅支持选择单个指标
          newChartIndicators = [currentNode];
        } else if (isSupportDoubleIndicatorCharts.includes(this.currentSelectChart.id)) {
          // 支持选择两个指标
          if (newChartIndicators.length < 2) {
            newChartIndicators.push(currentNode);
          } else {
            newChartIndicators.splice(1, 1, currentNode);
          }
        } else if (isSupportThreeIndicatorCharts.includes(this.currentSelectChart.id)) {
          // 支持选择三个指标
          if (newChartIndicators.length < 3) {
            newChartIndicators.push(currentNode);
          } else {
            newChartIndicators.splice(2, 1, currentNode);
          }
        } else if (isSupportFiveIndicatorCharts.includes(this.currentSelectChart.id)) {
          // 支持选择五个指标
          if (newChartIndicators.length < 5) {
            newChartIndicators.push(currentNode);
          } else {
            newChartIndicators.splice(4, 1, currentNode);
          }
        } else {
          // 支持选择多个指标
          if (this.currentSelectSeries.length) {
            // 如果选择了系列，只能选择一个指标
            newChartIndicators = [currentNode];
          } else {
            newChartIndicators.push(currentNode);
          }
        }
      }
      // 更新当前图表的已选指标列表
      this.$set(this.currentSelectChart.data, "indicator", newChartIndicators);
      // 刷新指标下拉为选择维度所关联的指标
      // this.refreshLinkedTree(newChartIndicators, 'indicator')
      // 更新图表标题
      this.changeComponentTitle();
    },
    /**
     * 修改chart图层标题
     */
    changeComponentTitle() {
      // 增加新增/移除维度/指标快照
      this.recordSnapshot();
      if (this.currentSelectChart && Object.keys(this.currentSelectChart).length) {
        if (this.currentSelectChart.style.titleCustomChange) {
          return;
        }
        let dimension = this.currentSelectChart.data.dimension || [];
        let indicator = this.currentSelectChart.data.indicator || [];
        let dimensionTitle = "";
        let indicatorTitle = "";
        let title = "";
        if (dimension.length) {
          const dimensionData = _.find(this.dimensionList, (item) => item.id.toString() === dimension[0].toString());
          if (dimensionData) {
            dimensionTitle = `按${dimensionData.name}分析`;
          }
        }
        if (indicator.length) {
          indicatorTitle = indicator[0].title;
          if (indicator.length > 1) {
            indicatorTitle += "...";
          }
        }
        title = `${indicatorTitle}${indicatorTitle && dimensionTitle ? "(" + dimensionTitle + ")" : dimensionTitle}`;
        if (title === "") {
          title = "未命名组件";
        }
        let originTitle = title;
        let count = 1;
        const chartList = this.$store.state.chart.chartList.filter((item) => item.chartId !== this.currentSelectChart.chartId);
        while (chartList.find((item) => item.style.title === title)) {
          title = `${originTitle}(${count})`;
          count++;
        }
        this.currentSelectChart.style.title = title;
      }
    },
    /**
     * 维度tag清除
     * @param toDeleteDimension
     */
    handleDimensionClose(toDeleteDimension) {
      let configData = this.currentSelectConfigData;
      if (configData.hasOwnProperty("drillDownOption")) {
        let obj = {
          drillDownTagList: [],
          opened: false,
          drillDownStep: 1,
        };
        this.$set(configData, "drillDownOption", obj);
        configData.conditionValue = "";
      }
      const newCurrentChooseDimension = this.currentSelectDimensions.filter((id) => id != toDeleteDimension.id);
      this.currentChooseDimension = newCurrentChooseDimension;
      this.$set(this.currentSelectChartData, "dimension", deepCopy(newCurrentChooseDimension));
      // 维度清空，系列同步清空
      if (!newCurrentChooseDimension.length && this.currentSelectSeries.length) {
        this.$set(this.currentSelectChart.data, "series", []);
      }
      // this.$refs['dimensionTreeRef'].updateTree([...this.currentSelectDimensions, ...this.currentSelectSeries])
      this.changeComponentTitle();
    },
    /**
     * 维度tag排序
     * @param sortData
     */
    handleSortDimension(sortData) {
      this.changeComponentTitle();
    },
    /**
     * 指标tag清除
     * @param toDeleteIndicator
     */
    handleIndicatorClose(toDeleteIndicator) {
      let newCurrentChooseIndicator = this.currentSelectIndicators.filter((item) => item.id != toDeleteIndicator.id);
      this.currentChooseIndicator = newCurrentChooseIndicator;
      // this.$refs['indicatorTreeRef'].updateTree(newCurrentChooseIndicator)
      this.$set(this.currentSelectChartData, "indicator", deepCopy(newCurrentChooseIndicator));
      // 删除改指标相关的数据筛选数据
      let variableCondition = deepCopy(this.currentSelectConfigData.variableCondition || []);
      if (variableCondition) {
        const index = variableCondition.findIndex((item) => item.id === toDeleteIndicator.id);
        if (index > -1) {
          variableCondition.splice(index, 1);
          this.$set(this.currentSelectConfigData, "variableCondition", variableCondition);
        }
      }
      this.changeComponentTitle();
    },
    /**
     * 指标tag排序
     * @param sortData
     */
    handleSortIndicator(sortData) {
      this.changeComponentTitle();
    },
    // 系列Tag删除
    onSeriesDelete(tag) {
      let series = deepCopy(this.currentSelectSeries);
      let index = series.findIndex((item) => Number(item) === Number(tag.id));
      if (index > -1) {
        series.splice(index, 1);
        this.$set(this.currentSelectChartData, "series", series);
        // this.$refs['dimensionTreeRef'].updateTree([...this.currentSelectDimensions, ...this.currentSelectSeries])
      }
    },
    // 系列Tag排序
    onSeriesSort() {
      this.changeComponentTitle();
    },
    handleDragChangeWidth(e) {
      let parent = e.target.parentNode,
        _this = this,
        treeBox;
      parent.getAttribute("class") === "dragBar" ? (parent = parent.parentNode) : null;
      // treeBox = parent.getElementsByClassName('tree-max-height')[0]
      treeBox = parent.getElementsByClassName("big-tree-wrap")[0];
      let businessBox = document.getElementsByClassName("business-modal-wrap")[0];
      this.firstNode = e.pageY;
      this.defaultHeight = parent.offsetHeight;
      this.treeBoxHeight = treeBox.offsetHeight;
      document.onmousemove = function (event) {
        let height = event.pageY - _this.firstNode;
        if (_this.treeBoxHeight + height > 50 && businessBox.clientHeight - event.pageY > 40) {
          parent.style.height = _this.defaultHeight + height + "px";
          treeBox.style.height = _this.treeBoxHeight + height + "px";
        }
      };
      document.onmouseup = function () {
        document.onmousemove = null;
        document.onmouseup = null;
      };
    },

    showIndicatorModal() {
      this.indicatorModalShow = true;
      this.showThreshold = false;
      this.showConditionGroups = false;
      this.$refs.baseInfo.showIndicatorModal();
    },
    // 新增基础指标
    submitIndicatorData() {
      this.$refs.baseInfo.submitIndicatorData();
      let indicator = { ...this.$refs.baseInfo.formItem };
      if (this.$refs.baseInfo.validate === "1") {
        this.basicAddModLoading = true;
        let data = {
          groupId: indicator.groupId[0],
          name: indicator.name,
          showType: indicator.showType,
          type: indicator.type,
          label: indicator.label,
          businessModelId: indicator.businessModelId,
          businessModelPropertyId: indicator.businessModelPropertyId,
          calculateType: indicator.calculateType,
          dateStr: indicator.dateStr,
          dateStrObj: indicator.dateStrObj,
        };
        if (indicator.thresholds && indicator.thresholds.length) {
          data = _.assign(data, {
            thresholds: indicator.thresholds,
          });
        }
        if (indicator.conditionGroups && indicator.conditionGroups.length) {
          data = _.assign(data, {
            conditionGroups: indicator.conditionGroups,
          });
        }
        addIndicator(data).then((res) => {
          this.basicAddModLoading = false;
          if (res.data.state === "success") {
            this.$Message.success("创建指标成功");
            this.indicatorModalShow = false;
            this.indicatorTreeLoading = true;
            this.getAllIndicatorGroupListFromBasic().then((res) => {
              if (res.data.state === "success") {
                const { data } = res.data;
                // this.indicatorTreeData = this.buildIndicatorTreeData(data);
                // this.refreshTree(
                //   this.currentChooseIndicator,
                //   this.indicatorTreeData
                // );
              } else {
                this.$Message.warning("获取指标分组数据失败");
              }
              this.indicatorTreeLoading = false;
            });
          } else {
            this.$Message.error(res.data.message || "创建指标失败");
          }
        });
      } else {
        this.$Message.error("请确认信息是否填写完整");
      }
    },
    resetThresholds(obj) {
      obj.thresholds = [
        {
          adverseDirection: 0,
          // showType: 0,
          name: null,
          valueType: 0,
          value: null,
        },
      ];
    },
    // 复合指标
    showComplexIndicatorModal(title, expressionIndicators) {
      // 如果是新增复合指标，则重置数据
      if (!expressionIndicators) {
        this.complexFormData.name = "";
        this.complexFormData.describe = "";
        this.complexFormData.groupId = "";
        this.complexFormData.expressionInnerHtml = "";
        this.expressionIndicators = [];
        this.expression = "";
        // 新增复合指标，当前id置空
        this.currentIndicator = null;
      }
      // 指标分组
      this.getAllIndicatorGroupListFromBasic().then((res) => {
        if (res.data.state === "success") {
          const { data } = res.data;
          this.groupData = data;
        } else {
          this.$Message.warning("获取指标分组数据失败");
        }
      });
      this.getIndicatorGroup();
      this.complexIndicatorModalShow = true;
    },

    getIndicatorGroup() {
      this.getIndicatorTreeDataFromBasic().then((res) => {
        this.copyTreeData = deepCopy(res.data.data);
        let groupData = res.data.data.indicatorGroupList;
        let sourceData = res.data.data.indicatorList;

        let allData = groupData.concat(sourceData);
        let root = allData
          .filter((item) => item.parentId === -1)
          .map((item, i) => {
            return {
              id: item.id,
              title: item.name,
              dataType: 1,
              expand: item.expand,
              render: (h, { root, node, data }) => {
                return h(
                  "span",
                  {
                    style: {
                      display: "inline-block",
                      width: "100%",
                    },
                  },
                  [
                    h("span", {}, [
                      h(
                        "span",
                        {
                          style: {
                            textOverflow: "ellipsis",
                            overflow: "hidden",
                            whiteSpace: "nowrap",
                            display: "inline-block",
                            width: "60%",
                            wordBreak: "break-all",
                          },
                          attrs: {
                            title: `${data.title}`,
                          },
                        },
                        data.title
                      ),
                    ]),
                    h(
                      "span",
                      {
                        style: {
                          display: "inline-block",
                          float: "right",
                          marginRight: "8px",
                        },
                      },
                      [
                        h(
                          "Tooltip",
                          {
                            style: {},
                            props: { theme: "light", placement: "bottom-end" },
                          },
                          [
                            h("i", {
                              class: "indGroup_add",
                              on: {
                                mousemove: (e) => {
                                  this.createTooltip(e, data);
                                },
                              },
                            }),
                          ]
                        ),
                        h("i", {
                          class: "indIcon_del",
                          style: {},
                          attrs: {
                            title: "删除指标分组",
                          },
                          on: {
                            click: () => {
                              this.editShowModal.show = true;
                              this.editShowModal.content = `确定要删除“${data.title}”指标分组吗？`;
                              this.editShowModal.ok = () => {
                                this.confirmDeleteGroup(data);
                                this.editShowModal.show = false;
                              };
                            },
                          },
                        }),
                      ]
                    ),
                  ]
                );
              },
            };
          });
        this.recursiveIndicatorGroup(root, allData);
        root = [
          {
            id: -1,
            title: "/",
            expand: true,
            children: root,
            render: (h, { root, node, data }) => {
              return h(
                "span",
                {
                  style: {
                    display: "inline-block",
                    width: "100%",
                  },
                },
                [
                  h("span", {}, [
                    h(
                      "span",
                      {
                        style: {
                          textOverflow: "ellipsis",
                          overflow: "hidden",
                          whiteSpace: "nowrap",
                          display: "inline-block",
                          width: "60%",
                          wordBreak: "break-all",
                        },
                        attrs: {
                          title: `${data.title}`,
                        },
                      },
                      data.title
                    ),
                  ]),
                  h(
                    "span",
                    {
                      style: {
                        display: "inline-block",
                        float: "right",
                        marginRight: "8px",
                      },
                    },
                    [
                      h(
                        "Tooltip",
                        {
                          style: {},
                          props: { theme: "light", placement: "bottom-end" },
                        },
                        [
                          h("i", {
                            class: "indGroup_add",
                            on: {
                              mousemove: (e) => {
                                this.createTooltip(e, data);
                              },
                            },
                          }),
                        ]
                      ),
                      h("i", {
                        class: "indIcon_del",
                        style: {},
                        attrs: {
                          title: "删除指标分组",
                        },
                        on: {
                          click: () => {
                            this.editShowModal.show = true;
                            this.editShowModal.content = `确定要删除“${data.title}”指标分组吗？`;
                            this.editShowModal.ok = () => {
                              this.confirmDeleteGroup(data);
                              this.editShowModal.show = false;
                            };
                          },
                        },
                      }),
                    ]
                  ),
                ]
              );
            },
          },
        ];
        this.treeData = root;
        // this.onSelectResourcesChange('', this.createNodeData)
      });
    },
    recursiveIndicatorGroup(parent, allData) {
      parent.forEach((item) => {
        let children = allData
          .filter((d) => {
            if (d.parentId) {
              return d.parentId == item.id;
            } else if (d.groupId) {
              return d.groupId == item.id;
            }
          })
          .map((child, i) => {
            if (child.parentId) {
              return {
                id: child.id,
                title: child.name,
                dataType: 1,
                expand: child.expand,
                render: (h, { root, node, data }) => {
                  return h(
                    "span",
                    {
                      style: {
                        display: "inline-block",
                        width: "100%",
                      },
                    },
                    [
                      h("span", {}, [
                        h(
                          "span",
                          {
                            style: {
                              textOverflow: "ellipsis",
                              overflow: "hidden",
                              whiteSpace: "nowrap",
                              display: "inline-block",
                              width: "60%",
                              wordBreak: "break-all",
                            },
                            attrs: {
                              title: `${data.title}`,
                            },
                          },
                          data.title
                        ),
                      ]),
                      h(
                        "span",
                        {
                          style: {
                            display: "inline-block",
                            float: "right",
                            marginRight: "8px",
                          },
                        },
                        [
                          h(
                            "Tooltip",
                            {
                              style: {},
                              props: {
                                theme: "light",
                                placement: "bottom-end",
                              },
                            },
                            [
                              h("i", {
                                class: "indGroup_add",
                                on: {
                                  mousemove: (e) => {
                                    this.createTooltip(e, data);
                                  },
                                },
                              }),
                            ]
                          ),
                          h("i", {
                            class: "indIcon_del",
                            style: {},
                            attrs: {
                              title: "删除指标分组",
                            },
                            on: {
                              click: () => {
                                this.editShowModal.show = true;
                                this.editShowModal.content = `确定要删除“${data.title}”指标分组吗？`;
                                this.editShowModal.ok = () => {
                                  this.confirmDeleteGroup(data);
                                  this.editShowModal.show = false;
                                };
                              },
                            },
                          }),
                        ]
                      ),
                    ]
                  );
                },
              };
            } else if (child.groupId) {
              return {
                id: child.id,
                title: child.name,
                dataType: 2,
                type: child.type,
                selected: child.selected,
                render: (h, { root, node, data }) => {
                  return h(
                    "span",
                    {
                      style: {
                        display: "inline-block",
                        width: "100%",
                      },
                    },
                    [
                      h(
                        "span",
                        {
                          style: {
                            width: "100%",
                            alignItems: "center",
                          },
                        },
                        [
                          h("i", {
                            class: data.type === 1 ? "indIcon_type1" : "indIcon_type2",
                            style: {
                              marginRight: "4px",
                              marginBottom: "4px",
                            },
                          }),
                          h(
                            "span",
                            {
                              style: {
                                textOverflow: "ellipsis",
                                overflow: "hidden",
                                whiteSpace: "nowrap",
                                display: "inline-block",
                                width: "60%",
                                wordBreak: "break-all",
                              },
                              attrs: {
                                title: `${data.title}`,
                              },
                            },
                            data.title
                          ),
                        ]
                      ),
                      h(
                        "span",
                        {
                          style: {
                            display: "inline-block",
                            float: "right",
                            marginRight: "6px",
                          },
                        },
                        [
                          h("i", {
                            class: "indIcon_del",
                            style: {
                              marginRight: "8px",
                            },
                            attrs: {
                              title: "删除指标",
                            },
                            on: {
                              click: () => {
                                this.editShowModal.show = true;
                                this.editShowModal.content = `确定要删除“${data.title}”指标吗？`;
                                this.editShowModal.ok = () => {
                                  this.confirmDeleteIndicator(data);
                                  this.editShowModal.show = false;
                                };
                              },
                            },
                          }),
                        ]
                      ),
                    ]
                  );
                },
              };
            }
          });
        if (children.length > 0) {
          item.children = children;
          this.recursiveIndicatorGroup(children, allData);
        }
      });
    },
    submitComplexIndicator() {
      const expressionInfo = this.getExpressionInfo();
      if (!this.complexFormData.groupId) {
        this.$Message.error("请选择指标分组");
        return;
      }
      // 校验名称是否为空
      if (!this.complexFormData.name) {
        this.$Message.warning("请填写指标名称");
        return;
      }
      // 校验表达式是否有效
      const result = checkExpression(expressionInfo.expressionText);
      if (!result) {
        this.$Message.warning("运算公式规则不符合要求");
        return;
      }
      const baseIndicators = this.getBracketStr(expressionInfo.expressionText);
      if (!baseIndicators) {
        this.$Message.warning("运算公式规则不符合要求");
        return;
      }
      let compositeIndex = {
        name: this.complexFormData.name, // 名称
        description: this.complexFormData.describe, // 描述
        groupId: this.complexFormData.groupId, // 分组id
        thresholds: [], // 阈值，同基础指标
        expression: expressionInfo.expressionText, // 表达式
        expressionHtml: this.complexFormData.expressionInnerHtml,
        baseIndicators, // 存储基础指标的id，多个指标用逗号隔开
      };
      this.complexAddModLoading = true;
      // 新增复合指标
      addComplexIndicator(compositeIndex).then((res) => {
        this.complexAddModLoading = false;
        if (res.data && res.data.state === "success") {
          this.$Message.success("创建复合指标成功");
          this.complexIndicatorModalShow = false;
          this.indicatorTreeLoading = true;
          this.getAllIndicatorGroupListFromBasic().then((res) => {
            if (res.data.state !== "success") {
              this.$Message.warning("获取指标分组数据失败");
            }
            this.indicatorTreeLoading = false;
          });
        } else {
          this.$Message.error(res.data.message || "创建复合指标失败");
        }
      });
    },
    onSwitchChange(status) {
      if (status) {
        if (this.toEditIndicator && !this.toEditIndicator.thresholds.length) {
          this.resetThresholds(this.formItem);
        }
      }
    },

    getExpressionInfo() {
      // 获取表达式文本
      let expressionText = document.getElementsByClassName("w-textarea_input")[0].innerText;
      let expressionIndicators = [];
      // 过滤出最终需要提交的指标（表达式中的指标可能会被删除掉）
      _.forEach(this.expressionIndicators, (indicator) => {
        const index = expressionText.indexOf(indicator.title);
        if (index !== -1) {
          expressionIndicators.push(indicator);
        }
      });
      // 按指标名称的字符长度降序排序
      expressionIndicators = expressionIndicators.sort((a, b) => {
        return b.title.length - a.title.length;
      });

      // 将表达式中的指标名称替换成指标id
      _.forEach(expressionIndicators, (item) => {
        expressionText = expressionText.replaceAll(item.title, "[" + item.id + "]");
      });

      return {
        expressionIndicators,
        expressionText,
      };
    },
    getBracketStr(text) {
      let result = "";
      if (!text) {
        return result;
      }
      let regex = /\[(.+?)\]/g;
      let options = text.match(regex);
      if (options) {
        options = options.map((option) => {
          return option.replace("[", "").replace("]", "");
        });
        result = options.join(",");
      }
      return result;
    },
    setTabsValueFirst() {
      this.tabVal = "dataTabPane";
    },
    indicatorChange() {
      let indicator1 = deepCopy(this.currentSelectIndicators[0]);
      let indicator2 = deepCopy(this.currentSelectIndicators[1]);
      this.$set(this.currentSelectIndicators, 0, indicator2);
      this.$set(this.currentSelectIndicators, 1, indicator1);
    },
    getTitle(item) {
      let title = item.name;
      if (item.parentName) {
        title += this.GLOBAL.separator + item.parentName;
      }
      return title;
    },
    // 更新DataProperty组件的树
    refreshTreeData(currentNode) {
      const dimensions = this.currentChooseDimension;
      const indicators = this.currentChooseIndicator.map((item) => ({ id: item.id, type: item.type }));
      this.$refs.dataProperty.refreshTreeData(dimensions, indicators, currentNode);
    },
  },
  watch: {
    // 'currentSelectChartData.indicator': {
    //   handler: function (val) {
    //     this.$refs['indicatorTreeRef'].updateTree(val || [])
    //   },
    //   deep: true,
    // },
    // 'currentSelectChartData.dimension': {
    //   handler: function (val) {
    //     this.$refs['dimensionTreeRef'].updateTree(val ||  [])
    //   },
    //   deep: true,
    // },
    currentChooseDimension: {
      handler(newVal) {
        this.refreshTreeData();
      },
      deep: true,
    },
    currentChooseIndicator: {
      handler(newVal) {
        this.refreshTreeData();
      },
      deep: true,
    },
    currentChartId: {
      handler(newVal) {
        // 删除图表重置资产树
        this.$refs.dataProperty.resetTree();
      },
      deep: true,
    },
  },
};
</script>

<style scoped lang="less">
.tabs {
  height: 100%;

  /deep/ .ivu-tabs-content {
    height: calc(~"100% - 36px");
  }

  .ivu-tabs-tabpane {
    height: 100%;
  }

  /deep/ .ivu-tabs-bar {
    border-bottom: none;
    margin-bottom: 0;

    .ivu-tabs-nav {
      width: 100%;

      .ivu-tabs-ink-bar {
        background-color: #3f73ff;
      }

      .ivu-tabs-tab {
        // width: 50%;
        width: 25%;
        padding: 10px 0px;
        font-size: 14px;
        text-align: center;
        background: #f7f8fa;

        &.ivu-tabs-tab-active {
          color: #3f73ff;
          background: #ebf0ff;
        }
      }
    }
  }
}

.business-modal-wrap {
  height: 100%;
  //overflow: auto;
}

.business-modal-wrap .title {
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color: #3f73ff;
  text-align: center;
  border-bottom: 2px solid #3f73ff;
}

.data-field {
  margin-top: 5px;
}

.data-field {
  margin-top: 5px;
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.data-property-box {
  /*border: 1px solid #dcdee2;*/
  /*border-radius: 3px;*/
  background: white;
  /*margin-bottom: 10px;*/
  position: relative;
  height: 66%;
}

.tagBox {
  background: white;
  position: relative;
  height: 34%;
  margin: 0 10px;
  overflow-y: auto;
  //border: 1px solid red;
}

.tagBox .data-property-title {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 6px;
}

.tagBox .tagDimension /deep/ .faTag {
  background: rgba(62, 156, 255, 0.1) !important;
  color: #3f73ff;
}

.tagBox .tagIndicator /deep/ .faTag {
  // background: rgba(47, 196, 138, 0.1) !important;
  color: #33c6a5;
}

.tagBox .tagIndicator /deep/ .item {
  background: rgba(47, 196, 138, 0.1) !important;
  color: #33c6a5;
}

.tagBox .tagList /deep/ .faTag {
  margin: 4px 0;
}

.tagBox .tagList /deep/ .faTag:first-child {
  margin-top: 0;
}

.tagBox .tagList /deep/ .faTag:last-child {
  margin-bottom: 0;
}

.tagClass {
  padding: 2px 10px;
  height: 80%;
  overflow-y: auto;
  //background: red;
}

.data-property-title {
  position: relative;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 14px 6px 4px 16px;
}

/deep/ .tagClass .ivu-tag {
  line-height: 30px;
  cursor: default;
}

/deep/ .tagClass .ivu-tag i {
  float: right;
  line-height: 30px;
}

.dragBar {
  height: 10px;
  width: 100%;
  background: #f4f4f4;
  text-align: center;
  position: absolute;
  bottom: 0;
  cursor: row-resize;
}

.base-form-wrap {
  overflow: auto;
}

.addIndicatorDropdown {
  position: absolute;
  right: 13px;
  bottom: 4px;
}

.addIndicatorDropdown .ivu-btn {
  padding: 0;
}

.addIndicatorDropdown .ivu-btn.ivu-btn-icon-only {
  height: 30px;
}

.conditionIcon {
  height: 25px;
  width: 25px;
  background: #e5fce3;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  color: #1fc935;
  cursor: pointer;
  margin: 0 4px;
  font-style: normal;
}

.con_red {
  background: #feeeee;
}

.con_gray {
  background: #f7f7f7;
  color: #8d8f8f;
  cursor: default;
}

/deep/ .ivu-modal-wrap {
  z-index: 19999 !important;
}

/**指标维度树*/
.tree-wrap {
  margin: 10px 10px;
  height: 100%;
}

.tree-max-height {
  overflow: auto;
  padding: 0 10px 10px 10px;
  padding-bottom: 20px;
  height: calc(~"100% - 30px");
}

.tree-max-height /deep/ .ivu-tree .ivu-tree-title {
  height: 26px;
  line-height: 26px;
}

.tree-max-height /deep/ .ivu-tree .ivu-tree-children::after {
  top: 13px;
}

.tree-max-height /deep/ .ivu-tree .ivu-tree-children:last-child::before {
  height: 24px;
  top: -11px;
}

.tree-max-height /deep/ .tree-search {
  margin-top: 10px;
}

/deep/ .ivu-tree .ivu-icon {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/deep/ .indIcon_type1 {
  content: url("~@/assets/icons/indicatorIcon/icon_basic_indicator.svg");
  transform: none;
}

/deep/ .indIcon_type2 {
  content: url("~@/assets/icons/indicatorIcon/icon_composite_indicator.svg");
  transform: none;
}

/deep/ .ivu-btn {
  height: 40px !important;
}

/deep/ .ivu-form-item {
  margin-bottom: 24px !important;
}

/deep/ .hideArrowTool {
  .ivu-tooltip-arrow {
    display: block;
  }
}

.drillDownTag {
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: right;
  margin: 5px 0;
  color: #3f73ff;
  line-height: 28px;
}

.drillDownTag .dimensionTag {
  border: 1px dashed #3f73ff;
  width: 80%;
  padding: 0 4px;
  border-radius: 2px;
  margin-right: 10px;
}

.drillDownTag .dimensionTagNormal {
  border: 1px dashed rgba(0, 0, 0, 0.25);
  width: 80%;
  padding: 0 4px;
  border-radius: 2px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.25);
}

.drillDownTag .tagBtn {
  display: inline-block;
  height: 100%;
  //width: 18px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
</style>
