<template>
  <Table :columns="columns" :data="tableData" :show-header="false"></Table>
</template>

<script>
/***
 * 以下数传入的数据格式参考
 * columns: [{
        title: 'columnName',
        key: 'columnName'
      }, {
        title: 'indicatorId',
        key: 'indicatorId'
      },
      {
        title: 'indicatorName',
        key: 'indicatorName'
      },
      {
        title: 'indicatorType',
        key: 'indicatorType'
      }],
 data: [
   ['indicatorId', '001', '002', '003'],
   ['indicatorName', '指标1', '指标2', '指标3'],
   ['indicatorType', '指标类型1', '指标类型2', '指标类型3']
 ]
 */
export default {
  name: "VerticalTable",
  props: {
    columns: {
      type: Array,
      default: []
    },
    data: {
      type: Array,
      default: []
    }
  },
  data() {
    return {
      tableData: []
    }
  },
  mounted() {
    this.buildTableData()
  },
  methods: {
    buildTableData() {
      if (this.data && this.data.length) {
        this.data.forEach(item => {
          let rowData = {}
          item.forEach((value, index) => {
            rowData[this.columns[index].key] = value
          })
          this.tableData.push(rowData)
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
