<template>
  <div class="drawing-area" ref="drillDownLine">
    <div style="width: 100%; text-align: center; display: flex; justify-content: center; z-index: 9"
         v-if="configData.drillDownOption && configData.drillDownOption.opened&& drillDownBreadcrumbItems.length > 1">
      <div v-for="(item, idx) in drillDownBreadcrumbItems" :key="item.title">
        <span v-if="idx !== 0"> > </span>
        <span :class="{'drillDownItem':'drillDownItem', 'drillDownActive': configData.drillDownOption.drillDownStep - 1 === idx}"
              @click="handleClickDrillDown($event, item, idx, 'drillDownLine')">{{ item.title }}</span>
      </div>
    </div>
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode"></no-data>
    <ChartBubble
      v-else
      ref="cS"
      class="chart-area"
      :style="{'height': drillDownBreadcrumbItems.length > 1 ? 'calc(100% - 18px)' : '100%' }"
      :value="bubbleData"
      :chartId="chartId"
      :propertyData="propertyData"
      :configData="propertyData.configData"
      :propertyStyle="propertyStyle" />
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import BaseChart from '@/view/report/chart/basics/BaseChart'
import { ChartBubble } from '_c/charts'
import NoData from '@/view/components/no-data'
import { adjustDataByHeaders, deepCopy } from '@/utils/common'
import mixin from '@/view/report/chart/mixin/ChartMixin'
import { DEFAULT_DATA } from '@/view/report/chart/Bubble/constant'

export default {
  name: 'SimpleBubble',
  mixins: [mixin],
  extends: BaseChart,
  components: {
    ChartBubble,
    NoData,
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    defaultImg: {
      type: Object,
      default: () => ({}),
    },
    imgHeight: {
      type: Number,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    startDate: {
      type: String,
      default: null,
    },
    endDate: {
      type: String,
      default: null,
    },
    chartSwitchType: {
      type: String,
      default: 'SimpleScatter',
    },
  },
  data() {
    return {
      bubbleData: [],
      loading: false,
      errorCode: null,
      height: 95,
    }
  },
  computed: {
    currentSelectChartStyle: function () {
      return this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style
    },
    bubbleImg() {
      return this.defaultImg.coverImg
    },
    configData() {
      return this.propertyData && this.propertyData.configData
    },
    drillDownBreadcrumbItems() {
      return this.configData.drillDownOption.drillDownTagList.filter(item => item.arrive)
    },
  },
  mounted() {
    if (this.propertyData.dimension.length && this.propertyData.indicator.length) {
      this.fetchData()
    } else {
      this.showDefaultData()
    }
  },
  methods: {
    resize() {
      this.$refs.cS.resize()
    },
    fetchData() {
      this.loading = true
      this.errorCode = null
      let startDate = this.getChartPrivateDate().startDate
      let endDate = this.getChartPrivateDate().endDate
      this.queryMoreCompareChartData(this.propertyData, { startDate, endDate }).then(res => {
        this.loading = false
        this.errorCode = null
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if (res.state === 'success') {
          const resData = res.data
          if (resData?.currentData?.length !== 0) {
            let newResData = adjustDataByHeaders(
              resData.currentData, resData.headers, this.propertyData,
            )
            this.bubbleData = newResData.map(item => item.slice(1, 4).concat(item.slice(0, 1)))
          } else {
            this.errorCode = '000000'
          }
        } else {
          this.errorCode = res.errorCode
        }
      })
      this.$emit('changeDefaultShow', false)
    },
    refreshData() {
      // 如果数据属性条件齐全则请求数据
      const { dimension, indicator } = this.propertyData
      if (dimension?.length && indicator?.length === 3) {
        this.fetchData()
      } else {
        this.showDefaultData()
        this.errorCode = null
      }
    },
    showDefaultData() {
      this.$emit('changeDefaultShow', true)
      this.bubbleData = deepCopy(DEFAULT_DATA)
    },
  },
  watch: {
    imgHeight(val, old) {
      if (val < old) this.height = 95
      if (val > old) this.height -= val
    },
  },
}
</script>

<style scoped>
.chart-area {
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.drillDownItem {
  margin-right: 5px;
  cursor: pointer;
}

.drillDownActive {
  color: #3f73ff;
}
</style>
