<template>
  <div>
    <PrivateDate />
    <div class="disPanelBox" v-if="showDataFilter">
      <span>
        <span>数据筛选</span>
        <Icon style="float: right;margin-right: 5px; cursor: pointer" type="ios-create" size="18" color="#3F73FF" @click="handleClickOpenModal" />
      </span>
    </div>
    <VariableCondition :show="openModal" @on-close="handleCloseModal" @on-ok="handleSubmitCondition" />
  </div>
</template>

<script>
  import PrivateDate from './common/PrivateDate'
  import VariableCondition from '@/components/VariableCondition/index.vue'
  import { mapGetters } from 'vuex'

  export default {
    name: 'CommonDataConfig',
    data() {
      return {
        openModal: false
      }
    },
    components: {
      PrivateDate,
      VariableCondition,
    },
    computed: {
      ...mapGetters([ 'currentSelectChart', 'currentSelectChartFilteredCondition', 'currentSelectConfigData']),
      showDataFilter() {
        // 指标筛选条件中存在变量类型或者sql里面存在变量才需要显示
        const conditionArr = this.currentSelectChartFilteredCondition
        const hasCondition = conditionArr && conditionArr.length > 0
        return hasCondition
      },
    },
    methods: {
      handleClickOpenModal() {
        this.openModal = true
      },
      handleCloseModal() {
        this.openModal = false
      },
      handleSubmitCondition(data) {
        this.$set(this.currentSelectConfigData, 'variableCondition', data)
        this.openModal = false
      }
    }
  }
</script>

<style scoped>
.disPanelBox {
  padding: 10px 10px 10px 20px;
  color: black;
}
</style>
