<template>
  <div>
    <Collapse simple>
      <div></div>

      <Panel v-for="(item, i) in currentSelectChartIndicator">
        <span class="title">第 {{ i + 1 }} {{currentSelectChartDimension.length === 0 ? '行' : '列'}}</span>
        <div slot="content">
          <div class="tableList">
            <span>指标名称</span>
            <!--          <Input style="width: 60%"  placeholder="输入指标名" v-model="item.title" @on-change.stop="handleChangeIndName($event)"></Input>-->
            <Input style="width: 60%" placeholder="输入指标名" v-model="item.title" @on-change="handleChangeIndName" @on-keyup.delete.stop></Input>
            <!--          <Checkbox v-if="currentSelectChart.data.dimension.length !== 0" v-model="item.useProportion">&nbsp;占比</Checkbox>-->
            <!--          <Checkbox v-model="item.useProportion">&nbsp;占比</Checkbox>-->
          </div>
          <div class="tableList" v-if="item.showType === 0">
            <span>数值单位</span>
            <Select aria-placeholder="请选择(非必选)" style="width: 60%"
                    :value="checkFormatChanged(item)[item.id]"
                    clearable
                    @on-change="currentSelectChartDimension.length !== 0 ? handleChooseUnitOneByOne($event, item, 'dis', item.showType) : handleChooseUnitOneByOne($event, item, 'ind', item.showType)">
              <Option value=" 万">万</Option>
              <Option value=" 亿">亿</Option>
            </Select>
          </div>
          <div class="tableList" v-show="checkFormatChanged(item)[item.id]">
            <span>显示单位</span>
            <div style="width: 60%"><Checkbox :value="showFormatType(item.id)" @on-change="handleShowFormatType($event, item)"></Checkbox></div>
          </div>
          <div class="tableList">
            <span>数值格式</span>
            <Select aria-placeholder="请选择(非必选)" style="width: 60%"
                    clearable
                    :value="checkTypeChanged(item)[item.id] || '####.##'"
                    @on-change="currentSelectChartDimension.length !== 0 ? handleChooseType($event, item, 'dis', item.showType) : handleChooseType($event, item, 'ind', item.showType)">
              <Option value="####">####</Option>
              <Option value="####.##">####.##</Option>
              <Option value="#,###.##">#,###.##</Option>
            </Select>
          </div>
          <div class="tableList" >
            <span>小数位数</span>
            <InputNumber :min="0" :max="6" :editable="false" :value="getDigNumber(item.id) ? getDigNumber(item.id) : 2" style="width: 60%" @on-change="handleChangeDecimalDigits($event, item)"></InputNumber>
          </div>
          <div class="tableList" v-if="currentSelectChartDimension.length !== 0">
            <!--          <Checkbox v-if="currentSelectChart.data.dimension.length !== 0" v-model="item.useCompare">&nbsp;环比</Checkbox>-->
            <Checkbox v-model="item.useCompare" :key="item.id" >&nbsp;环比</Checkbox>
            <div class="tableList_children">
              <div class="percentBtn" :class="cantClick(item)" @click="handleChangePre($event, item)">
                {{
                  item.showType === 0 ? (currentSelectChartConfigData.hasOwnProperty('changeShowType') ? ( !isNaN(currentSelectChartConfigData.changeShowType[item.id]) ? currentSelectChartConfigData.changeShowType[item.id] : buttonText.num ) : buttonText.num) : buttonText.pre
                }}
              </div>
              <Select class="percentSel" disabled value="day" clearable>
                <Option value="day">日环比</Option>
                <Option value="week">周环比</Option>
                <Option value="mouth">月环比</Option>
                <Option value="year">年环比</Option>
              </Select>
            </div>
          </div>
          <div class="tableList" v-if="currentSelectChartDimension.length">
            <!--          <Checkbox v-if="currentSelectChart.data.dimension.length !== 0" v-model="item.useProportion">&nbsp;占比</Checkbox>-->
            <Checkbox v-model="item.useProportion">&nbsp;占比</Checkbox>
          </div>

        </div>
      </Panel>
      <!--    <Panel v-show="currentSelectChart.data.dimension.length === 0">-->

      <!--&lt;!&ndash;      <div slot="content">&ndash;&gt;-->
      <!--&lt;!&ndash;        <div class="tableList" style="justify-content: left">&ndash;&gt;-->
      <!--&lt;!&ndash;          <RadioGroup :value="showThreshold ? 1 : 0" @on-change="handleShowThreshold($event)">&ndash;&gt;-->
      <!--&lt;!&ndash;            <Radio :label="1">&ndash;&gt;-->
      <!--&lt;!&ndash;              <span>显示</span>&ndash;&gt;-->
      <!--&lt;!&ndash;            </Radio>&ndash;&gt;-->
      <!--&lt;!&ndash;            <Radio :label="0">&ndash;&gt;-->
      <!--&lt;!&ndash;              <span>不显示</span>&ndash;&gt;-->
      <!--&lt;!&ndash;            </Radio>&ndash;&gt;-->
      <!--&lt;!&ndash;          </RadioGroup>&ndash;&gt;-->
      <!--&lt;!&ndash;        </div>&ndash;&gt;-->
      <!--&lt;!&ndash;      </div>&ndash;&gt;-->
      <!--    </Panel>-->


      <!--    <Panel v-show="currentSelectChart.data.dimension.length > 0">-->
      <!--      <span>合计设置</span>-->
      <!--      <div slot="content">-->
      <!--        <div class="tableList" style="justify-content: left">-->
      <!--          <RadioGroup :value="currentSelectChart.data.configData.isOpenTotal ? 1 : 0" @on-change="handleChangeOpenTotal">-->
      <!--            <Radio :label="1">-->
      <!--              <span>显示</span>-->
      <!--            </Radio>-->
      <!--            <Radio :label="0">-->
      <!--              <span>不显示</span>-->
      <!--            </Radio>-->
      <!--          </RadioGroup>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </Panel>-->
      <Panel v-if="currentSelectChartIndicator.length  && currentSelectChartDimension.length ">
        <span>指标TOP</span>
        <div slot="content">
          <div class="tableList">
            <span>指标</span>
            <Select aria-placeholder="请选择(非必选)" style="width: 60%" v-model="getFirstInd" clearable :multiple="false">
              <Option v-for="item in currentSelectChartIndicator" :value="item.id">{{item.title}}</Option>
            </Select>
          </div>
          <div class="tableList">
            <span>TOP值</span>
            <div style="width: 60%; display: flex">
              <InputNumber v-model="currentSelectChartConfigData.openTop.topNum" :min="0"/>
              <Tooltip content="设置显示指标值排名前N的成员" theme="light" placement="bottom-end">
                <Icon style="padding-left: 5px;" type="ios-help-circle-outline" size="16" />
              </Tooltip>
            </div>
          </div>
        </div>
      </Panel>

      <Panel v-if="currentSelectChartDimension.length === 0">
        <span>环比设置</span>
        <div slot="content">
          <div class="tableList">
            <Checkbox  @on-change="handleShowCompareInd($event)" :value="currentSelectChartIndicator.length && currentSelectChartIndicator[0].useCompare">&nbsp;环比</Checkbox>
            <div class="tableList_children">
              <div class="percentBtn"  @click="handleChangePreInd($event)"
                   :class="cantClick(currentSelectChartIndicator.length && currentSelectChartIndicator[0].useCompare)">
                {{ currentSelectChartConfigData.hasOwnProperty('changeShowTypeInd') ? currentSelectChartConfigData.changeShowTypeInd.justInd : buttonText.num }}</div>
              <Select class="percentSel" disabled value="day" clearable>
                <Option value="day">日环比</Option>
                <Option value="week">周环比</Option>
                <Option value="mouth">月环比</Option>
                <Option value="year">年环比</Option>
              </Select>
            </div>
          </div>
        </div>
      </Panel>
      <div v-show="currentSelectChartDimension.length === 0" class="disPanelBox">
        <span>
          <span>阈值设置</span>
          <Checkbox style="float: right" :value="showThreshold" @on-change="handleShowThreshold($event)"></Checkbox>
        </span>
      </div>
      <div v-show="currentSelectChartDimension.length" class="disPanelBox">
        <span>
          <span>合计设置</span>
          <Checkbox style="float: right" :value="currentSelectChartConfigData.isOpenTotal" @on-change="handleChangeOpenTotal"></Checkbox>
        </span>
      </div>
      <!--    <Panel v-if="currentSelectChart.data.dimension.length === 0 && sameInd">-->
      <!--      <span>占比设置</span>-->
      <!--      <div slot="content">-->
      <!--        <div class="tableList" style="justify-content: left">-->
      <!--          <RadioGroup :value="showProportion" @on-change="handleShowshowProportion($event)">-->
      <!--            <Radio :label="1">-->
      <!--              <span>显示</span>-->
      <!--            </Radio>-->
      <!--            <Radio :label="0">-->
      <!--              <span>不显示</span>-->
      <!--            </Radio>-->
      <!--          </RadioGroup>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--    </Panel>-->
    </Collapse>
  </div>

</template>

<script>

import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";

export default {
  name: "CustomTableDataConfig",
  components: {},
  mixins: [ mixin ],
  props: {
    chartData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    chartId: {
      type: String,
      default: null
    },
    dataConfigs: {
      type: Object,
      default: () => {
        return {}
      }
    },
  },
  data() {
    return {
      showThreshold: 1,
      isSameInd: true,
      useCompareInd: false,
      useProportionInd: false,
      useTotal: false,
      openTop: {
        indicatorId: null,
        topNum: null
      },
      buttonText: {
        num: '123',
        pre: '%'
      },
      btnFlag: false,
      showProportion: false,
    }
  },
  computed: {
    sameInd() {
      const dimensionArr = this.currentSelectChartDimension
      if(dimensionArr.length === 0) {
        let temp = []
        const indicatorArr = this.currentSelectChartIndicator
        for(let i = 0; i < indicatorArr.length; i++) {
          temp.push(indicatorArr[i].showType)
        }
        return this.isAllEqual(temp)
      } else {
        return true
      }
    },
    checkTypeChanged() {
      const dimensionArr = this.currentSelectChartDimension
      const configData = this.currentSelectChartConfigData
      return function (item) {
        let kk = item.showType === 1 ?
        (dimensionArr.length !== 0 ? configData.changeType_pre : configData.changeTypeInd_pre) :
        (dimensionArr.length !== 0 ? configData.changeType : configData.changeTypeInd)
        let res = kk !== undefined ? kk : false
        return res
      }
    },
    showFormatType() {
      const configData = this.currentSelectChartConfigData
      return function (id) {
        return configData && configData.showFormatType && configData.showFormatType[id]
      }
    },
    checkFormatChanged() {
      const dimensionArr = this.currentSelectChartDimension
      const configData = this.currentSelectChartConfigData
      return function (item) {
        let kk = item.showType === 1 ?
          (dimensionArr.length !== 0 ? configData.changeFormat_pre : configData.changeFormatInd_pre) :
          (dimensionArr.length !== 0 ? configData.changeFormat : configData.changeFormatInd)
        let res = kk !== undefined ? kk : false
        return res
      }
    },
    checkProportion() {
      const indicatorArr = this.currentSelectChartIndicator
      const temp = indicatorArr.map(item => item.useProportion)
      return this.isAllEqual(temp)
    },
    cantClick() {
      return function (item) {
        if(item) {
          return item.showType === 1 || item.useCompare === false ? 'cantClick' : null
        }
        return null
      }
    },
    //
    getFirstInd() {
      const configData = this.currentSelectChartConfigData
      let openTopIndicatorId = configData.openTop.indicatorId
      if (!openTopIndicatorId) {
        openTopIndicatorId = configData.openTop.indicatorId = this.currentSelectChart.data.indicator[0].id
      }
      return openTopIndicatorId
    },
    getDigNumber() {
      const configData = this.currentSelectChartConfigData
      return function (id) {
        return configData && configData.changeDecimalDigits && configData.changeDecimalDigits[id]
      }
    }
  },
  mounted() {

  },
  watch: {
  },
  methods: {
    isAllEqual(array) {
      if (array.length > 0) {
        return !array.some(function (value, index) {
          return value !== array[0];
        });
      } else {
        return true;
      }
    },
    handleShowFormatType(e, ind) {
      const configData = this.currentSelectChartConfigData
      !configData.hasOwnProperty('showFormatType') ?
        (this.$set(configData, 'showFormatType', {}) &&
          this.$set(configData.showFormatType, ind.id, e) ) :
        this.$set(configData.showFormatType, ind.id, e);
      this.recordSnapshot()
    },
    handleChangeDecimalDigits(e, ind) {
      const configData = this.currentSelectChartConfigData
      !configData.hasOwnProperty('changeDecimalDigits') ?
        (this.$set(configData, 'changeDecimalDigits', {}) &&
          this.$set(configData.changeDecimalDigits, ind.id, e) ) :
        this.$set(configData.changeDecimalDigits, ind.id, e);
      this.recordSnapshot()
    },
    handleChangeIndName(e) {
      e.stopPropagation && e.stopPropagation();
      const configData = this.currentSelectChartConfigData
      !configData.hasOwnProperty('indNameChanged') ? this.$set(configData, 'indNameChanged', true) : null
      this.recordSnapshot()
    },
    handleShowCompareInd(e) {
      this.currentSelectChartIndicator.forEach( item => item.useCompare = e )
      this.recordSnapshot()
    },
    handleShowProportionInd(e) {
      this.currentSelectChartIndicator.forEach( item => item.useProportion = e )
      this.recordSnapshot()
    },
    handleChangeOpenTotal(e) {
      this.currentSelectChartConfigData.isOpenTotal = e
      this.recordSnapshot()
    },
    handleChooseType(e, item, type, num) {
      const configData = this.currentSelectChartConfigData
      switch(type) {
        case 'dis':
          if(num === 0) {
            !configData.hasOwnProperty('changeType') ?
              (this.$set(configData, 'changeType', {}) && this.$set(configData.changeType, item.id, e) ) :
              this.$set(configData.changeType, item.id, e);
          } else {
            !configData.hasOwnProperty('changeType_pre') ?
              (this.$set(configData, 'changeType_pre', {}) && this.$set(configData.changeType_pre, item.id, e) ) :
              this.$set(configData.changeType_pre, item.id, e);
          }
        break;
        case 'ind':
          if(num === 0) {
            !configData.hasOwnProperty('changeTypeInd') ?
              (this.$set(configData, 'changeTypeInd', {}) && this.$set(configData.changeTypeInd, item.id, e) ) :
              this.$set(configData.changeTypeInd, item.id, e);
          } else {
            !configData.hasOwnProperty('changeTypeInd_pre') ?
              (this.$set(configData, 'changeTypeInd_pre', {}) && this.$set(configData.changeTypeInd_pre, item.id, e) ) :
              this.$set(configData.changeTypeInd_pre, item.id, e);
          }
        break;
      }
      this.recordSnapshot()
    },
    handleChooseUnitOneByOne(e, item, type, num) {
      const configData = this.currentSelectChartConfigData
      switch (type) {
        case 'ind':
         if(num === 0) {
           !configData.hasOwnProperty('changeFormatInd') ?
             (this.$set(configData, 'changeFormatInd', {}) && this.$set(configData.changeFormatInd, item.id, e) ) :
             this.$set(configData.changeFormatInd, item.id, e);
         } else {
           !configData.hasOwnProperty('changeFormatInd_pre') ?
             (this.$set(configData, 'changeFormatInd_pre', {}) && this.$set(configData.changeFormatInd_pre, item.id, e) ) :
             this.$set(configData.changeFormatInd_pre, item.id, e);
         }
          break;
          case 'dis':
            if(num === 0) {
              !configData.hasOwnProperty('changeFormat') ?
                (this.$set(configData, 'changeFormat', {}) && this.$set(configData.changeFormat, item.id, e) ) :
                this.$set(configData.changeFormat, item.id, e);
            } else {
              !configData.hasOwnProperty('changeFormat_pre') ?
                (this.$set(configData, 'changeFormat_pre', {}) && this.$set(configData.changeFormat_pre, item.id, e) ) :
                this.$set(configData.changeFormat_pre, item.id, e);
            }
            break;
      }
      !configData.hasOwnProperty('showFormatType') ?
        (this.$set(configData, 'showFormatType', {}) &&
          this.$set(configData.showFormatType, item.id, true) ) :
        this.$set(configData.showFormatType, item.id, true);
      this.recordSnapshot()
    },
    handleShowThreshold(e) {
      this.currentSelectChartIndicator.forEach( item => item.useThreshold = e )
      this.recordSnapshot()
    },
    handlerTotal(e){
      this.useTotal = !this.useTotal;
    },
    handleShowshowProportion(e) {
      this.currentSelectChartIndicator.forEach( item => item.useProportion = e )
      this.showProportion = !this.showProportion
    },
    handleChangePre(e, item) {
      if(!this.btnFlag) e.target.innerText = this.buttonText.pre
       else e.target.innerText = this.buttonText.num
      const configData = this.currentSelectChartIndicator
      !configData.hasOwnProperty('changeShowType') ?
        (this.$set(configData, 'changeShowType', {}) && this.$set(configData.changeShowType, item.id, e.target.innerText) ) :
        this.$set(configData.changeShowType, item.id, e.target.innerText);
      this.btnFlag = !this.btnFlag
      this.recordSnapshot()
    },
    handleChangePreInd(e) {
      if(!this.btnFlag) e.target.innerText = this.buttonText.pre
      else e.target.innerText = this.buttonText.num
      const configData = this.currentSelectChartIndicator
      !configData.hasOwnProperty('changeShowTypeInd') ?
        (this.$set(configData, 'changeShowTypeInd', {}) && this.$set(configData.changeShowTypeInd, 'justInd', e.target.innerText) ) :
        this.$set(configData.changeShowTypeInd, 'justInd', e.target.innerText);
      this.btnFlag = !this.btnFlag
      this.recordSnapshot()
    }
  }
}

</script>

<style scoped>
  /deep/ .ivu-collapse-item {
  }
  .panelHeader {
    width: 90%;
    /*background: red;*/
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .disPanelBox {
    padding: 10px 10px 10px 10px;
    color: black;
  }
  .tableList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    /*background: red;*/
  }
  .tableList_children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  .percentBtn {
    width: 30px;
    height: 28px;
    background: #F8F8F8;
    border: 1px solid #dcdee2;
    border-right: none;
    border-radius: 4px 0 0 4px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
  }
  /deep/ .percentSel .ivu-select-selection {
    border-radius: 0 4px 4px 0;
  }

  .compareSpan span {
    background: #dfdfdf;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    height: 20px;
    width: 20px;
  }
  .cantClick {
    pointer-events: none;
  }
  .compareSpan span:last-child {
    float: right;
  }
  /deep/ .ivu-collapse {
    border: none
  }
  /deep/ .ivu-collapse>.ivu-collapse-item {
    border: none
  }
  /deep/ .ivu-collapse-content>.ivu-collapse-content-box {
    padding-bottom: 0px;
  }
</style>
