<template>
  <div class="dimensionFilter">
    <div class="itemBox">
      <div class="title">筛选维度</div>
      <Select
        v-model="filterDimension"
        label-in-value
        placeholder="请勾选一个维度"
        @on-change="handleSelectChange"
      >
        <Option v-for="item in dimensionList" :value="item.value" :key="item.value">{{ item.label }}</Option>
      </Select>
    </div>
    <div v-if="filterDimension" class="itemBox">
      <div class="title">组件关联</div>
      <div v-if="componentList.length > 0">
        <Checkbox
          v-model="checkAll"
          :indeterminate="indeterminate"
          @on-change="handleCheckAllChange">
        </Checkbox>
        <span>全选</span>
      </div>
      <div v-for="item in componentList" class="relativeComponentItem">
        <Checkbox v-model="item.relative" @on-change="handleCheckBoxChange(item)"></Checkbox>
        <img :src="bindIcon(item.type)" class="componentImg"/>
        <span>{{ item.title }}</span>
      </div>
    </div>
    <div v-if="filterDimension" class="itemBox">
      <div class="title child_left_right">
        默认值设置
        <img src="@/assets/icons/chart/defaultValueSetting.svg" style="cursor: pointer" @click="defaultValueSettingClick"/>
      </div>
    </div>
    <Modal
      class="defaultValueSettingModal"
      v-model="defaultValueSettingModal"
      :mask-closable="false"
      title="默认值设置"
      @on-ok="confirmDefaultValue">
      <dimension-filter-setting
        v-if="defaultValueSettingModal"
        :DimensionConditionValue="DimensionConditionValue"
        @resetDefaultValueSettingBox="resetDefaultValueSettingBox"
        @confirmDefaultValue="confirmDefaultValue">
      </dimension-filter-setting>
      <div slot="footer"></div>
    </Modal>
  </div>
</template>

<script>
import DimensionFilterSetting from '@/view/components/report-filter/DimensionFilterSetting.vue'
export default {
  components: {
    DimensionFilterSetting
  },
  data() {
    return {
      dimensionList: [],
      filterDimension: '',
      checkAll: false,
      indeterminate: false,
      componentList: [],
      defaultValueSettingModal: false,
      totalDimensionValue: [],
      DimensionConditionValue: []
    }
  },
  computed: {
    currentSelectChart() {
      return this.$store.state.chart && this.$store.state.chart.currentSelectChart
    },
    storeChartList() {
      return this.$store.state.chart.chartList
    }
  },
  mounted() {
    this.getDimensionList()
    this.filterDimension = this.currentSelectChart.data.configData.filterDimension
    this.getComponentList()
    this.changeCheckAll()
  },
  methods: {
    getDimensionList() {
      let allDimensionList = this.$store.state.chart.dimensions
      let dimensionList = []
      this.storeChartList.forEach(item => {
        if(item.data.dimension && item.data.dimension.length) {
          item.data.dimension.forEach(dimensionItem => {
            if(!dimensionList.find((item) => item.id === dimensionItem)) {
              let sameDimensionItem = allDimensionList.find(allDimensionItem => allDimensionItem.id === dimensionItem.toString())
              if(sameDimensionItem) {
                let obj = {}
                obj.id = sameDimensionItem.id
                obj.value = sameDimensionItem.id
                obj.label = sameDimensionItem.name
                dimensionList.push(obj)
              }
            }
          })
        }
      })
      this.dimensionList = dimensionList
    },
    handleSelectChange(value) {
      let id = value.value
      this.currentSelectChart.data.configData.filterDimension = id
      this.currentSelectChart.data.configData.filterDimensionTitle = value.label
      let chartList = this.$store.state.chart.chartList
      for(let i=0; i<chartList.length; i++) {
        if(chartList[i].chartId === this.currentSelectChart.chartId) {
          chartList[i].defaultShow = false
          break
        }
      }
      this.getComponentList()
      this.checkAll = true
      this.handleCheckAllChange(true)
      this.changeTitle()
    },
    getComponentList() {
      let { filterDimension } = this.currentSelectChart.data.configData
      if(!filterDimension) {
        return
      }
      let componentList = []
      let relativeComponentList = this.currentSelectChart.data.configData.relativeComponentList
      this.storeChartList.forEach(item => {
        if(item.data.dimension && item.data.dimension.length) {
          let sameIdDimension = item.data.dimension.find(findItem => findItem.toString() === filterDimension)
          if(sameIdDimension) {
            let obj = {}
            obj.id = item.chartId
            obj.type = item.id
            obj.title = item.style.title
            obj.dimension = item.data.dimension
            obj.indicator = item.data.indicator
            let checked = relativeComponentList.find(relativeComponentItem => relativeComponentItem === item.chartId)
            if(checked) {
              obj.relative = true
            }
            componentList.push(obj)
          }
        }
      })
      this.componentList = componentList
    },
    handleCheckAllChange(val) {
      this.indeterminate = false
      this.componentList.forEach(item => {
        item.relative = val
      })
      this.currentSelectChart.data.configData.relativeComponentList = this.componentList.filter(item => item.relative === true).map(item => item.id)
    },
    handleCheckBoxChange(checkItem) {
      let relativeComponentList = []
      this.componentList.filter(item => item.relative === true).forEach(item => {
        relativeComponentList.push(item.id)
      })
      this.currentSelectChart.data.configData.relativeComponentList = relativeComponentList
      this.changeCheckAll()
      // 存在筛选值时，点击组件的checkbox 要更新当前点击的组件
      if(this.currentSelectChart.data.configData.conditionValue) {
        this.$store.state.chart.chartVNodeList.forEach(item => {
          let chart = item.$refs.chart
          if(checkItem.id === chart.chartId) {
            chart.refreshData && chart.refreshData()
          }
        })
      }
    },
    changeCheckAll() {
      let { relativeComponentList } = this.currentSelectChart.data.configData
      if(relativeComponentList.length === this.componentList.length) {
        this.indeterminate = false
        this.checkAll = true
      } else if(relativeComponentList.length > 0) {
        this.indeterminate = true
        this.checkAll = false
      } else {
        this.indeterminate = false
        this.checkAll = false
      }
    },
    defaultValueSettingClick() {
      if(this.currentSelectChart.data.configData.conditionValue) {
        this.DimensionConditionValue = this.currentSelectChart.data.configData.conditionValue.split(',')
      } else {
        this.DimensionConditionValue = []
      }
      this.defaultValueSettingModal = true
    },
    resetDefaultValueSettingBox(e) {
      e.stopPropagation()
      this.defaultValueSettingModal = false
    },
    confirmDefaultValue(e, conditionValue, valueTitle) {
      this.defaultValueSettingModal = false
      this.currentSelectChart.data.configData.conditionValue = conditionValue
      this.changeTitle()
      if(this.currentSelectChart.parentId) {
        return
      }
      let relativeComponentList = this.currentSelectChart.data.configData.relativeComponentList
      this.$store.state.chart.chartVNodeList.forEach(item => {
        let chart = item.$refs.chart
        if(relativeComponentList.find(item => item === chart.chartId)) {
          chart.refreshData && chart.refreshData()
        }
      })
    },
    changeTitle() {
      if(this.currentSelectChart.style.titleCustomChange) {
        return
      }
      let currentDimension = this.dimensionList.find(item => item.id === this.filterDimension)
      if(currentDimension) {
        let title = ''
        title = currentDimension.label + '：'
        if(this.currentSelectChart.data.configData.conditionValue) {
          title += this.currentSelectChart.data.configData.conditionValue.split(',').join('、')
        } else {
          title += '全部'
        }
        this.currentSelectChart.style.title = title
        this.currentSelectChart.style.showTitle = true
      }
    },
    bindIcon(type) {
      return require('@/assets/icons/chart/chart_type/' + type + '_relative.svg')
    }
  }
}
</script>

<style lang="less" scoped>
.child_left_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dimensionFilter {
  padding: 10px;
  min-height: 300px;
  .itemBox {
    color: #333333;
    margin-bottom: 16px;
    .title {
      margin-bottom: 8px;
      font-size: 12px;
      font-weight: bold;
    }
    .relativeComponentItem {
      display: flex;
      margin: 6px 0;
      .componentImg {
        width: 18px;
        height: 18px;
        margin-right: 6px;
      }
    }
  }
}
.transferClass {
  /deep/ .ivu-transfer-list {
    width: calc(~'50% - 30px');
    .ivu-transfer-list-header {
      background: none;
    }
  }
}
.defaultValueSettingModal /deep/ .ivu-modal {
  .ivu-modal-footer {
    border-top: none;
    padding: 0;
  }
}
</style>
