<template>
  <div class="doublePie-data-config">
    <Collapse v-model="collapseValue" simple>
      <Panel name="indicatorSetting">
        指标设置
        <div slot="content">
          <number-format :chartConfigData="currentSelectChartConfigData"></number-format>
          <fast-calculation :chartConfigData="currentSelectChartConfigData"></fast-calculation>
        </div>
      </Panel>
      <Panel>
        <span class="title">指标展示设置</span>
        <div slot="content">
          <indicator-top></indicator-top>
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import IndicatorTop from "@/view/report/chartDataConfig/common/IndicatorTop";
import NumberFormat from './common/NumberFormat'
import FastCalculation from './common/FastCalculation'
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";

export default {
  name: "DoublePieDataConfig",
  components: {
    IndicatorTop,
    NumberFormat,
    FastCalculation,
  },
  mixins: [ mixin ],
  props: {
    chartId: {
      type: String,
      default: null
    },
    dataConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    }
  },
  data() {
    return {
      collapseValue: ['indicatorSetting']
    }
  },
  computed: {}
}
</script>

<style scoped>
.doublePie-data-config {
  padding-bottom: 30px;
}
</style>
