<template>
  <div>
    <Collapse v-model="collapseValue" simple>
      <Panel name="indicatorSetting">
        指标设置
        <div slot="content">
          <number-format
            :chartConfigData="currentSelectChartConfigData"
            :showNumberUnit="isShowNumberUnit"></number-format>
          <fast-calculation :chartConfigData="currentSelectChartConfigData"></fast-calculation>
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import NumberFormat from './common/NumberFormat'
import FastCalculation from './common/FastCalculation'
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";

export default {
  name: "GaugeDataConfig",
  mixins: [ mixin ],
  components: {
    NumberFormat,
    FastCalculation
  },
  data() {
    return {
      collapseValue: ['indicatorSetting']
    }
  },
  computed: {
    isShowNumberUnit() {
      return this.currentSelectChartData && this.currentSelectChartData.configData
        && this.currentSelectChartData.configData.showType !== 1
    }
  },
}
</script>

<style scoped>
</style>
