<template>
  <div class="dimensionFilter">
    <div class="itemBox">
      <div class="title">筛选全局变量</div>
      <Select
        v-model="filterGlobalVar"
        label-in-value
        placeholder="请选择全局变量"
        @on-change="handleSelectChange"
        multiple
      >
        <Option v-for="item in dataList" :value="item.varCode" :key="item.varId">{{ item.name }}</Option>
      </Select>
    </div>
    <div v-if="filterGlobalVar.length" class="itemBox">
      <div class="title">涉及组件</div>
<!--      <div v-if="componentList.length > 0">-->
<!--        <Checkbox-->
<!--          v-model="checkAll"-->
<!--          :indeterminate="indeterminate"-->
<!--          @on-change="handleCheckAllChange">-->
<!--        </Checkbox>-->
<!--        <span>全选</span>-->
<!--      </div>-->
      <div v-for="item in componentList" class="relativeComponentItem">
<!--        <Checkbox v-model="item.relative" @on-change="handleCheckBoxChange(item)"></Checkbox>-->
        <img :src="bindIcon(item.type)" class="componentImg"/>
        <span>{{ item.title }}</span>
      </div>
    </div>
    <div v-if="filterGlobalVar.length" class="itemBox">
      <div class="title child_left_right">
        默认值设置
        <img src="@/assets/icons/chart/defaultValueSetting.svg" style="cursor: pointer" @click="defaultValueSettingClick"/>
      </div>
    </div>
    <Modal
      v-model="defaultValueSettingModal"
      :mask-closable="false"
      title="默认值设置"
      @on-ok="confirmDefaultValue">
      <indicator-global-var :data="currentIndicatorGlobalVarList" @selectedGlobalValChange="handleSelectedGlobalValChange"></indicator-global-var>
    </Modal>
  </div>
</template>

<script>
import modelDataMixin from "@/view/report/mixin/modelDataMixin";
import IndicatorGlobalVar from '@/view/report/indicator-browser/components/IndicatorGlobalVar'
export default {
  name: 'GlobalVarFilterDataConfig',
  components: {
    IndicatorGlobalVar
  },
  mixins: [modelDataMixin],
  data() {
    return {
      dimensionList: [],
      filterGlobalVar: [],
      checkAll: false,
      indeterminate: false,
      componentList: [],
      defaultValueSettingModal: false,
      totalDimensionValue: [],
      DimensionConditionValue: [],
      allIndicatorGlobalVarList: [],
      currentIndicatorGlobalVarList: [],
      indicatorGlobalVarParam: {},
    }
  },
  computed: {
    currentSelectChart() {
      return this.$store.state.chart && this.$store.state.chart.currentSelectChart
    },
    storeChartList() {
      return this.$store.state.chart.chartList
    },
    dataList() {
      return this.$store.state.chart.globalVariableList
    },
    globalVariableList() {
      return this.$store.state.chart.globalVariableList
    },
  },
  mounted() {
    this.filterGlobalVar = this.currentSelectChart.data.configData.filterGlobalVar
    this.getComponentList()
    this.changeCheckAll()
  },
  methods: {
    handleSelectChange(value) {
      this.currentIndicatorGlobalVarList = value.map(item => {
        const variable = this.globalVariableList.find(one => one.varCode === item.value)
        return variable
      })
      // 刷新参数
      let newIndicatorGlobalVarParam = {}
      this.currentIndicatorGlobalVarList.forEach(item => {
        if (this.indicatorGlobalVarParam[item.varCode]) {
          newIndicatorGlobalVarParam[item.varCode] = this.indicatorGlobalVarParam[item.varCode]
        }
      })
      this.indicatorGlobalVarParam = newIndicatorGlobalVarParam
      this.currentSelectChart.data.configData.filterGlobalVar = value.map(item => item.value)
      this.currentSelectChart.data.configData.filterGlobalVarTitle = value.map(item => item.label).join(';')
      // 预览或者查看的时候需要回显全局变量可选项
      this.currentSelectChart.data.configData.filterGlobalVarList = this.currentIndicatorGlobalVarList
      let chartList = this.$store.state.chart.chartList
      for(let i=0; i<chartList.length; i++) {
        if(chartList[i].chartId === this.currentSelectChart.chartId) {
          chartList[i].defaultShow = false
          break
        }
      }
      this.getComponentList()
      this.checkAll = true
      this.handleCheckAllChange(true)
      this.changeTitle()
    },
    getComponentList() {
      let { filterGlobalVar } = this.currentSelectChart.data.configData
      if(!filterGlobalVar || !filterGlobalVar.length) {
        return
      }
      let componentList = []
      let relativeComponentList = this.currentSelectChart.data.configData.relativeComponentList
      // 找出引用了设置全局变量筛选条件的指标的所有图表
      let indicatorGlobalVarList = []
      this.storeChartList.forEach(item => {
        if(item.data.indicator && item.data.indicator.length) {
           const currentIndicatorGlobalVarList = this.getIndicatorGlobalVariableCondition(item.data.indicator)
           if (currentIndicatorGlobalVarList.length) {
             let obj = {}
             obj.id = item.chartId
             obj.type = item.id
             obj.title = item.style.title
             obj.dimension = item.data.dimension
             obj.indicator = item.data.indicator
             let checked = relativeComponentList.find(relativeComponentItem => relativeComponentItem === item.chartId)
             if(checked) {
               obj.relative = true
             }
             componentList.push(obj)
             indicatorGlobalVarList = indicatorGlobalVarList.concat(currentIndicatorGlobalVarList)
           }
        }
      })
      this.componentList = componentList
      // 更新相关联的组件（relativeComponentList为组件id数组）
      this.currentSelectChart.data.configData.relativeComponentList = componentList.map(item => item.id)
    },
    handleCheckAllChange(val) {
      this.indeterminate = false
      this.componentList.forEach(item => {
        item.relative = val
      })
      this.currentSelectChart.data.configData.relativeComponentList = this.componentList.filter(item => item.relative === true).map(item => item.id)
    },
    handleCheckBoxChange(checkItem) {
      let relativeComponentList = []
      this.componentList.filter(item => item.relative === true).forEach(item => {
        relativeComponentList.push(item.id)
      })
      this.currentSelectChart.data.configData.relativeComponentList = relativeComponentList
      this.changeCheckAll()
      // 存在筛选值时，点击组件的checkbox 要更新当前点击的组件
      if(this.currentSelectChart.data.configData.conditionValue) {
        this.$store.state.chart.chartVNodeList.forEach(item => {
          let chart = item.$refs.chart
          if(checkItem.id === chart.chartId) {
            chart.refreshData && chart.refreshData()
          }
        })
      }
    },
    changeCheckAll() {
      let { relativeComponentList } = this.currentSelectChart.data.configData
      if(relativeComponentList.length === this.componentList.length) {
        this.indeterminate = false
        this.checkAll = true
      } else if(relativeComponentList.length > 0) {
        this.indeterminate = true
        this.checkAll = false
      } else {
        this.indeterminate = false
        this.checkAll = false
      }
    },
    defaultValueSettingClick() {
      this.defaultValueSettingModal = true
    },
    resetDefaultValueSettingBox(e) {
      e.stopPropagation()
      this.defaultValueSettingModal = false
    },
    confirmDefaultValue(e, conditionValue, valueTitle) {
      // 1、更新筛选器提交的条件参数
      this.currentSelectChart.data.configData.conditionValue = this.indicatorGlobalVarParam
      // 2、更新筛选器显示的条件
      this.changeTitle()
      // 3、关闭弹窗
      this.defaultValueSettingModal = false
      if(this.currentSelectChart.parentId) {
        return
      }
      // 4、通知相关包含全局变量的图表组件刷新数据
      this.$store.state.chart.chartVNodeList.forEach(item => {
        let chart = item.$refs.chart
        if(this.componentList.find(item => item.id === chart.chartId)) {
          chart.refreshData && chart.refreshData()
        }
      })
    },
    changeTitle() {
      if(this.currentSelectChart.style.titleCustomChange) {
        return
      }
      let title = ''
      this.filterGlobalVar.forEach(item => {
        const variable = this.globalVariableList.find(one => one.varCode === item)
        const variableValue = this.indicatorGlobalVarParam[item]
        if (variableValue) {
          const variableLabel = variable.paramValue.find(it => it.value === variableValue).label
          title += `${variable.name}: ${variableLabel};`
        } else {
          title += `${variable.name}: 全部;`
        }
      })
      this.currentSelectChart.style.title = title
      this.currentSelectChart.style.showTitle = true
    },
    bindIcon(type) {
      return require('@/assets/icons/chart/chart_type/' + type + '_relative.svg')
    },
    handleSelectedGlobalValChange(option) {
      const key = Object.keys(option)[0]
      const value = option[key]
      this.indicatorGlobalVarParam[key] = value
    }
  }
}
</script>

<style lang="less" scoped>
.child_left_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dimensionFilter {
  padding: 10px;
  min-height: 300px;
  .itemBox {
    color: #333333;
    margin-bottom: 16px;
    .title {
      margin-bottom: 8px;
      font-size: 12px;
      font-weight: bold;
    }
    .relativeComponentItem {
      display: flex;
      margin: 6px 0;
      .componentImg {
        width: 18px;
        height: 18px;
        margin-right: 6px;
      }
    }
  }
}
.transferClass {
  /deep/ .ivu-transfer-list {
    width: calc(~'50% - 30px');
    .ivu-transfer-list-header {
      background: none;
    }
  }
}
.defaultValueSettingModal /deep/ .ivu-modal {
  .ivu-modal-footer {
    border-top: none;
    padding: 0;
  }
}
</style>
