<template>
  <div>
    <Collapse simple v-if="currentSelectChartDimension.length && currentSelectChartIndicator.length">
      <Panel v-for="item in currentSelectChartIndicator" :key="item.id">
        <span class="title">{{ item.title }}</span>
        <div slot="content">
          <div class="newDatasetList">
            <span style="height: 28px; line-height: 28px;">指标名称</span>
            <Input
              style="width: 60%"
              clearable
              placeholder="输入指标名"
              :value="currentSelectConfigData[`${item.id}_alias`]"
              @on-enter="onIndicatorNameEdit($event, item)"
              @on-blur="onIndicatorNameEdit($event, item)"
              @on-clear="onIndicatorNameClear(item)"
              @on-keyup.delete.stop />
          </div>
          <div class="newDatasetList">
            <span class="newDatasetList_title" style="height: 28px; line-height: 28px;">数值单位</span>
            <div class="newDatasetList_component">
              <div class="newDatasetList_component_flex">
                <Select
                  placeholder="请选择(非必选)"
                  transfer
                  style="width: 100%;"
                  :value="currentSelectConfigData[`${item.id}_number_unit`]"
                  @on-change="handleNumUnitChange($event, item)">
                  <Option value="origin">原始值</Option>
                  <Option value="wan">万</Option>
                  <Option value="yi">亿</Option>
                </Select>
              </div>
              <div
                class="newDatasetList_component_flex"
                v-show="currentSelectConfigData[`${item.id}_number_unit`] && currentSelectConfigData[`${item.id}_number_unit`] !== 'origin'"
                style="margin: 10px 0">
                <Checkbox :value="currentSelectConfigData[`${item.id}_show_number_unit`]" @on-change="handleShowNumberUnit($event, item)">显示单位</Checkbox>
              </div>
            </div>
          </div>
          <div class="newDatasetList">
            <span class="newDatasetList_title" style="height: 28px; line-height: 28px;">数值设置</span>
            <div class="newDatasetList_component">
              <div class="newDatasetList_component_flex" style="position: relative">
                <div class="inputNumberTitle">小数位数</div>
                <InputNumber
                  class="decimalPlacesClass"
                  ref="inputNumberTable"
                  :min="0"
                  :max="6"
                  :editable="false"
                  :value="currentSelectConfigData[`${item.id}_decimal`]"
                  @on-change="handleChangeDecimal($event, item)"
                  style="width: 100%" />
              </div>
              <div class="newDatasetList_component_flex" style="margin: 10px 0;">
                <Checkbox
                  :value="currentSelectConfigData[`${item.id}_use_thousand_separator`]"
                  :key="item.id"
                  @on-change="handleNumFormatChange($event, item)">千分位分隔符
                </Checkbox>
              </div>
            </div>
          </div>
          <div v-if="currentSelectDimensions.length && currentSelectIndicators.length">
            <div class="newDatasetList" style="margin-bottom: 12px;">
              <span>快速计算</span>
              <Checkbox :value="currentSelectConfigData[`${item.id}_fast_calculate`]" @on-change="handleFastCalculateChange($event, item)" />
            </div>
            <div v-if="currentSelectConfigData[`${item.id}_fast_calculate`]">
              <div class="newDatasetList" style="display:flex;align-items: center;">
                <Checkbox
                  class="newDatasetList_title"
                  :value="currentSelectConfigData[`${item.id}_month_on_month`].open"
                  @on-change="handleMonthOnMonthOpenChange($event, item)">环比
                </Checkbox>
                <div class="newDatasetList_component">
                  <Select
                    :value="currentSelectConfigData[`${item.id}_month_on_month`].numberType"
                    :disabled="!currentSelectConfigData[`${item.id}_month_on_month`].open"
                    @on-change="handleMonthOnMonthNumberTypeChange($event, item)">
                    <Option value="123">123</Option>
                    <Option value="%">%</Option>
                  </Select>
                </div>
              </div>
              <div class="calculationStyle_option_input" v-if="currentSelectConfigData[`${item.id}_fast_calculate`]">
                <span class="calculationStyle_option_title">显示</span>
                <Input
                  :value="currentSelectConfigData[`${item.id}_month_on_month`].title"
                  @on-enter="handleChangeMonthOnMonthTitle($event, item)"
                  @on-blur="handleChangeMonthOnMonthTitle($event, item)"
                />
              </div>
              <div class="newDatasetList" style="display:flex;align-items: center;">
                <Checkbox
                  class="newDatasetList_title"
                  :value="currentSelectConfigData[`${item.id}_year_on_year`].open"
                  @on-change="handleYearOnYearOpenChange($event, item)">同比
                </Checkbox>
                <div class="newDatasetList_component">
                  <div class="tableList_children" style="width: 100%;display: flex;align-items: center;">
                    <div class="percentBtn">
                    <span @click="handleYearOnYearNumberTypeChange(item)">
                      {{ currentSelectConfigData[`${item.id}_year_on_year`].numberType }}
                    </span>
                    </div>
                    <Select
                      class="percentSel"
                      :disabled='!currentSelectConfigData[`${item.id}_year_on_year`].open'
                      :value="currentSelectConfigData[`${item.id}_year_on_year`].type"
                      @on-change="handleYearOnYearTypeChange($event, item)">
                      <Option value="months">月同比</Option>
                      <Option value="years">年同比</Option>
                    </Select>
                  </div>
                </div>

              </div>
              <div class="calculationStyle_option_input">
                <span class="calculationStyle_option_title">显示</span>
                <Input
                  style="height: 28px;"
                  :value="currentSelectConfigData[`${item.id}_year_on_year`].title"
                  @on-enter="handleChangeYearOnYearTitle($event, item)"
                  @on-blur="handleChangeYearOnYearTitle($event, item)"
                />
              </div>
            </div>
            <div class="newDatasetList_component_flex" style="margin: 10px 0;">
              <Checkbox
                :value="currentSelectConfigData[`${item.id}_ratio`]"
                @on-change="handleRatioChange($event, item)">占比
              </Checkbox>
            </div>
          </div>
        </div>
      </Panel>
      <div class="disPanelBox">
        <span>合计设置</span>
        <Checkbox :value="currentSelectConfigData.isOpenTotal" @on-change="handleChangeOpenTotal" />
      </div>
    </Collapse>
  </div>
</template>


<script>
import mixin from '@/view/report/chartDataConfig/mixin/ChartDataConfigMixin'

const NUM_LABEL = '123'
const PERCENT_LABEL = '%'
const INDICATOR_PERCENT_TYPE = 1
const INDICATOR_NUM_TYPE = 0

export default {
  name: 'CustomTableDataConfig',
  mixins: [mixin],
  components: {},
  props: {
    chartData: {
      type: Object,
      default: () => {
        return {}
      },
    },
    chartId: {
      type: String,
      default: null,
    },
    dataConfigs: {
      type: Object,
      default: () => {
        return {}
      },
    },
  },
  data() {
    return {
      openTop: {
        indicatorId: null,
        topNum: null,
      },
    }
  },
  watch: {
    currentSelectIndicators() {
      this.initConfigData()
    },
  },
  mounted() {
    this.initConfigData()
  },
  methods: {
    /**
     * 初始化configData，没有的情况给默认值
     */
    initConfigData() {
      this.currentSelectIndicators.forEach(item => {
        const alias = this.currentSelectConfigData[`${item.id}_alias`]
        if (!alias) {
          this.$set(this.currentSelectConfigData, `${item.id}_alias`, item.abbrName || item.title)
        }

        const numberUnit = this.currentSelectConfigData[`${item.id}_number_unit`]
        if (!numberUnit) {
          this.$set(this.currentSelectConfigData, `${item.id}_number_unit`, 'origin')
        }

        const decimal = this.currentSelectConfigData[`${item.id}_decimal`]
        if (!decimal) {
          this.$set(this.currentSelectConfigData, `${item.id}_decimal`, 2)
        }

        const useThousandSeparator = this.currentSelectConfigData[`${item.id}_use_thousand_separator`]
        if (!useThousandSeparator) {
          this.$set(this.currentSelectConfigData, `${item.id}_use_thousand_separator`, false)
        }

        const fastCalculate = this.currentSelectConfigData[`${item.id}_fast_calculate`]
        if (!fastCalculate) {
          this.$set(this.currentSelectConfigData, `${item.id}_fast_calculate`, false)
        }
      })
    },

    /**
     * 编辑指标名称
     * @param e
     * @param indicator
     */
    onIndicatorNameEdit(e, indicator) {
      let alias = e.target.value
      if (alias === null || alias.trim() === '') {
        alias = indicator.abbrName || indicator.title
      }
      this.$set(this.currentSelectConfigData, `${indicator.id}_alias`, alias)
      this.recordSnapshot()
    },

    /**
     * 清空指标名称
     * @param indicator
     */
    onIndicatorNameClear(indicator) {
      const alias = indicator.abbrName || indicator.title
      this.$set(this.currentSelectConfigData, `${indicator.id}_alias`, alias)
      this.recordSnapshot()
    },

    /**
     * 数值单位change方法
     * @param value
     * @param indicator
     */
    handleNumUnitChange(value, indicator) {
      this.$set(this.currentSelectConfigData, `${indicator.id}_number_unit`, value)
      this.$set(this.currentSelectConfigData, `${indicator.id}_show_number_unit`, value !== 'origin')
      this.recordSnapshot()
    },

    /**
     * 显示单位change函数
     * @param value
     * @param indicator
     */
    handleShowNumberUnit(value, indicator) {
      this.$set(this.currentSelectConfigData, `${indicator.id}_show_number_unit`, value)
      this.recordSnapshot()
    },

    /**
     * 小数位数change函数
     * @param value
     * @param indicator
     */
    handleChangeDecimal(value, indicator) {
      if (value === null) {
        value = 2
      }
      this.$set(this.currentSelectConfigData, `${indicator.id}_decimal`, value)
      this.recordSnapshot()
    },

    /**
     * 是否使用千分位分隔符change函数
     * @param value
     * @param indicator
     */
    handleNumFormatChange(value, indicator) {
      this.$set(this.currentSelectConfigData, `${indicator.id}_use_thousand_separator`, value)
      this.recordSnapshot()
    },

    /**
     * 指标快速计算开关打开/关闭
     * @param value
     * @param indicator
     */
    handleFastCalculateChange(value, indicator) {
      this.$set(this.currentSelectConfigData, `${indicator.id}_fast_calculate`, value)
      if (value) {
        // 打开快速计算时，给默认配置
        this.$set(this.currentSelectConfigData, `${indicator.id}_month_on_month`, {
          open: false,
          numberType: indicator.showType === 0 ? '123' : '%',
          title: '环比',
        })
        this.$set(this.currentSelectConfigData, `${indicator.id}_year_on_year`, {
          open: false,
          numberType: indicator.showType === 0 ? '123' : '%',
          type: 'months',
          title: '同比',
        })
        this.$set(this.currentSelectConfigData, `${indicator.id}_ratio`, false) // 占比
      }
      this.recordSnapshot()
    },

    /**
     * 指标环比打开/关闭
     * @param value
     * @param indicator
     */
    handleMonthOnMonthOpenChange(value, indicator) {
      this.$set(this.currentSelectConfigData[`${indicator.id}_month_on_month`], 'open', value)
      this.recordSnapshot()
    },

    /**
     * 指标环比数据显示类型切换
     * @param value
     * @param indicator
     */
    handleMonthOnMonthNumberTypeChange(value, indicator) {
      this.$set(this.currentSelectConfigData[`${indicator.id}_month_on_month`], 'numberType', value)
      this.recordSnapshot()
    },

    /**
     * 编辑环比显示名称
     * @param e
     * @param indicator
     */
    handleChangeMonthOnMonthTitle(e, indicator) {
      const value = e.target.value
      this.$set(this.currentSelectConfigData[`${indicator.id}_month_on_month`], 'title', value)
      this.recordSnapshot()
    },

    /**
     * 指标同比打开/关闭
     * @param value
     * @param indicator
     */
    handleYearOnYearOpenChange(value, indicator) {
      this.$set(this.currentSelectConfigData[`${indicator.id}_year_on_year`], 'open', value)
      this.recordSnapshot()
    },

    /**
     * 指标同比数据显示类型切换
     * @param indicator
     */
    handleYearOnYearNumberTypeChange(indicator) {
      const numberType = this.currentSelectConfigData[`${indicator.id}_year_on_year`].numberType
      const newNumberType = numberType === NUM_LABEL ? PERCENT_LABEL : NUM_LABEL
      this.$set(this.currentSelectConfigData[`${indicator.id}_year_on_year`], 'numberType', newNumberType)
      this.recordSnapshot()
    },

    /**
     * 切换同比类型
     * @param value
     * @param indicator
     */
    handleYearOnYearTypeChange(value, indicator) {
      this.$set(this.currentSelectConfigData[`${indicator.id}_year_on_year`], 'type', value)
      this.recordSnapshot()
    },

    /**
     * 编辑同比显示标题
     * @param e
     * @param indicator
     */
    handleChangeYearOnYearTitle(e, indicator) {
      const value = e.target.value
      this.$set(this.currentSelectConfigData[`${indicator.id}_year_on_year`], 'title', value)
      this.recordSnapshot()
    },

    /**
     * 指标占比打开/关闭
     * @param value
     * @param indicator
     */
    handleRatioChange(value, indicator) {
      this.$set(this.currentSelectConfigData, `${indicator.id}_ratio`, value)
      this.recordSnapshot()
    },

    /**
     * 合计设置打开/关闭
     * @param value
     */
    handleChangeOpenTotal(value) {
      this.$set(this.currentSelectConfigData, 'isOpenTotal', value)
      this.recordSnapshot()
    },
  },
}

</script>

<style scoped>
/deep/ .ivu-collapse-item {
}

.newDatasetList {
  /*background: red;*/
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.newDatasetList_component {
  width: 60%;
  /*margin: 5px 0;*/
}

.newDatasetList_component_flex {
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.newDatasetList_component_flex .inputNumberTitle {
  position: absolute;
  z-index: 1;
  left: 8px;
  color: rgba(0, 0, 0, 0.25);
  line-height: 30px;
}

.decimalPlacesClass.ivu-input-number /deep/ .ivu-input-number-handler-wrap {
  opacity: 1;
}

.decimalPlacesClass.ivu-input-number /deep/ .ivu-input-number-input-wrap .ivu-input-number-input {
  padding-left: 64px;
}

.panelHeader {
  width: 90%;
  /*background: red;*/
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.disPanelBox {
  padding: 10px 10px 10px 20px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.tableList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  /*background: red;*/
}

.tableList_children {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.percentBtn {
  width: 30px;
  height: 28px;
  background: #F8F8F8;
  border: 1px solid #dcdee2;
  border-right: none;
  border-radius: 4px 0 0 4px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}

/deep/ .percentSel .ivu-select-selection {
  border-radius: 0 4px 4px 0;
}

.compareSpan span {
  background: #dfdfdf;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  height: 20px;
  width: 20px;
}

.compareSpan span:last-child {
  float: right;
}

/deep/ .ivu-collapse {
  border: none
}

/deep/ .ivu-collapse > .ivu-collapse-item {
  border: none
}

/deep/ .ivu-collapse-content > .ivu-collapse-content-box {
  padding-bottom: 0;
}

/deep/ .dataScreenModal {
  height: 521px;
  overflow-y: auto;
  /*background: red;*/
  width: 100%;

  /*padding: 24px;*/
}

/deep/ .dataScreenConstants_parent {
  width: 329px;
  height: 32px;
  display: flex;
  margin-top: 15px;
}

/deep/ .dataScreenConstants {
  width: 30%;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  text-align: center;
}

/deep/ .dataScreenConstants_type {
  width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 4px;
}

/deep/ .dataScreenConstants:nth-of-type(1) {
  border-radius: 4px 0 0 4px;
  border-right: 0;
  width: 30%;
}

/deep/ .dataScreenConstants_input {
  border: 1px solid #d9d9d9;
  border-left: 0;
  border-radius: 0 4px 4px 0;
  padding: 0 10px;
  width: 40%
}

/deep/ .percentIpt .ivu-input {
  height: 28px;
  border-radius: 0 4px 4px 0;
}
</style>
<style scoped lang="less">
/deep/ .dataScreenConstants .ivu-tooltip-rel {
  width: 100%;
}
</style>

<style lang="less" scoped>
.calculationStyle_option_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  .calculationStyle_option_title {
    margin-left: 17px;
  }

  /deep/ .ivu-input-wrapper {
    width: 60%;
    height: 28px;
  }
}
</style>
