<template>
  <div>
    <div class="data-field data-property-title">地址：</div>
    <Input
      v-model="currentSelectChart.data.src"
      clearable
      placeholder="请输入"
      style="width: 240px;padding-left: 16px"
      class="data-field"
      @on-enter="onSrcChange"
      @on-blur="onSrcChange"
    />
  </div>
</template>

<script>
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";

export default {
  name: "IframeDataConfig",
  mixins: [ mixin ],
  data() {
    return {}
  },
  computed: {},
  methods: {
    onSrcChange(e) {
      if (this.$store.state.chart.currentSelectChart) {
        this.$store.state.chart.currentSelectChart.data.src = e.target.value
        this.recordSnapshot()
      }
    },
  },
}
</script>

<style scoped>
.data-field {
  margin-top: 5px;
}
.data-property-title {
  position: relative;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 14px 6px 4px 16px;
}
</style>
