<template>
  <div>
    <Collapse simple>
      <Panel v-for="(item, i) in currentSelectChart.data.indicator" :key="i">
        <span class="title">{{item.title}}</span>
        <div slot="content">
          <data-format :chartConfigData="item" @dataFormatChange="handleDataFormat"></data-format>
          <div class="tableList" v-if="item.showType === 0">
            <span>数值单位</span>
            <Select aria-placeholder="请选择(非必选)" style="width: 60%" @on-change="handleChangeNumericalUnit($event, item)"
                    :value="getNumericalUnit(item)">
              <Option value="original">原始值</Option>
              <Option value="wan">万</Option>
              <Option value="yi">亿</Option>
            </Select>
          </div>
          <div class="newDatasetList">
            <span class="newDatasetList_title" style="height: 28px; line-height: 28px; ">数值设置</span>
            <div class="newDatasetList_component">
              <div class="newDatasetList_component_flex" style="position: relative">
                <div class="inputNumberTitle">小数位数</div>
                <InputNumber ref="inputNumberIndexBoard" class="decimalPlacesClass" :min="0" :max="6" :editable="false"
                             :value="!isNaN(getDigNumber(item.id)) ? getDigNumber(item.id) : 2"
                             style="width: 100%" @on-change="handleChangeDecimalDigits($event, item)"></InputNumber>
              </div>
              <div class="newDatasetList_component_flex" style="margin: 10px 0">
                <Checkbox
                  v-model="checkTypeChanged(item)[item.id]"
                  :key="item.id"
                  @on-change="handleChangeDayChainCompareFixedNum($event, item)"
                >千分位分隔符
                </Checkbox>
              </div>
            </div>
          </div>
          <!--          <number-format :chartConfigData="item"></number-format>-->
          <fast-calculation :chartConfigData="item"></fast-calculation>

        </div>
      </Panel>
    </Collapse>
  </div>

</template>

<script>
  import DataFormat from './common/DataFormat'
  import FastCalculation from './common/FastCalculation.vue'
  import mixin from '@/view/report/chartDataConfig/mixin/ChartDataConfigMixin'

  export default {
    name: 'IndexBoardDataConfig',
    mixins: [mixin],
    components: {
      FastCalculation,
      DataFormat
    },
    props: {
      chartData: {
        type: Object,
        default: () => {
          return {}
        }
      },
      chartId: {
        type: String,
        default: null
      },
      dataConfigs: {
        type: Object,
        default: () => {
          return {}
        }
      },
    },
    data() {
      return {
        buttonText: {
          num: '123',
          pre: '%'
        },
        btnFlag: false,
      }
    },
    computed: {
      getNumericalUnit() {
        const configData = this.currentSelectChart.data.configData
        return function (item) {
          return configData.hasOwnProperty('numericalUnits') && configData.numericalUnits[item.id] ? configData.numericalUnits[item.id] : 'original'
        }
      },
      getDigNumber() {
        const configData = this.currentSelectChartConfigData
        return function (id) {
          return configData && configData.decimalDigits && configData.decimalDigits[id]
        }
      },
      getFixedNum() {
        const configData = this.currentSelectChart.data.configData
        return function (item) {
          return configData.hasOwnProperty('dayChainCompareFixedNums') && configData.dayChainCompareFixedNums[item.id] ? configData.dayChainCompareFixedNums[item.id] : null
        }
      },
    },
    methods: {
      handleDataFormat(showType, indicator) {
        this.refreshCurrentSelectChartConfigData('showType', showType)
      },
      checkTypeChanged() {
        const configData = this.currentSelectChartConfigData
        return function (item) {
          let kk = configData.dayChainCompareFixedNums
          let res = kk !== undefined ? kk : false
          return res
        }
      },
      handleChangeNumericalUnit(e, ind) {
        const configData = this.currentSelectChart.data.configData
        !configData.hasOwnProperty('numericalUnits') ?
          (this.$set(configData, 'numericalUnits', {}) &&
            this.$set(configData.numericalUnits, ind.id, e)) :
          this.$set(configData.numericalUnits, ind.id, e)
        this.recordSnapshot()
      },
      handleChangeDayChainCompareFixedNum(e, ind) {
        const configData = this.currentSelectChart.data.configData
        !configData.hasOwnProperty('dayChainCompareFixedNums') ?
          (this.$set(configData, 'dayChainCompareFixedNums', {}) &&
            this.$set(configData.dayChainCompareFixedNums, ind.id, e)) :
          this.$set(configData.dayChainCompareFixedNums, ind.id, e)
        this.recordSnapshot()
      },
      handleChangeDecimalDigits(e, ind) {
        let num = e
        if (e === null) {
          num = 2
          this.$refs['inputNumberIndexBoard'][0].setValue(2)
        }

        const configData = this.currentSelectChart.data.configData
        !configData.hasOwnProperty('decimalDigits') ?
          (this.$set(configData, 'decimalDigits', {}) &&
            this.$set(configData.decimalDigits, ind.id, e)) :
          this.$set(configData.decimalDigits, ind.id, e)
        this.recordSnapshot()
      },
      handleChangePre(e, ind) {
        console.log(e.target)
        if (!this.btnFlag) {
          e.target.innerText = this.buttonText.pre
        } else {
          e.target.innerText = this.buttonText.num
        }
        const configData = this.currentSelectChart.data.configData
        !configData.hasOwnProperty('changeShowType') ?
          (this.$set(configData, 'changeShowType', {}) &&
            this.$set(configData.changeShowType, ind.id, e.target.innerText)) :
          this.$set(configData.changeShowType, ind.id, e.target.innerText)
        this.btnFlag = !this.btnFlag
        this.recordSnapshot()
      },
      cantClick() {
        return function (item) {
          return item.showType === 1 || item.useCompare === false ? 'cantClick' : null
        }
      },
    }
  }
</script>

<style scoped lang="less">
  .panelHeader {
    width: 90%;
    /*background: red;*/
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .disPanelBox {
    padding: 10px 10px 10px 20px;
    color: black;
  }

  .tableList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    /*background: red;*/
  }

  .tableList_children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }

  .percentBtn {
    width: 30px;
    height: 28px;
    background: #F8F8F8;
    border: 1px solid #dcdee2;
    border-right: none;
    border-radius: 4px 0 0 4px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
  }

  /deep/ .percentSel .ivu-select-selection {
    border-radius: 0 4px 4px 0;
  }

  .compareSpan span {
    background: #dfdfdf;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    height: 20px;
    width: 20px;
  }

  .cantClick {
    pointer-events: none;
  }

  .compareSpan span:last-child {
    float: right;
  }

  /deep/ .ivu-collapse {
    border: none
  }

  /deep/ .ivu-collapse > .ivu-collapse-item {
    border: none
  }

  .newDatasetList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }

  .newDatasetList_component {
    width: 60%;
  }

  .newDatasetList_component_flex {
    display: flex;
    justify-content: space-between;
  }

  .newDatasetList_component_flex .inputNumberTitle {
    position: absolute;
    z-index: 1;
    left: 8px;
    color: rgba(0, 0, 0, 0.25);
    line-height: 30px;
  }

  .decimalPlacesClass.ivu-input-number /deep/ .ivu-input-number-handler-wrap {
    opacity: 1;
  }

  .decimalPlacesClass.ivu-input-number /deep/ .ivu-input-number-input-wrap .ivu-input-number-input {
    padding-left: 64px;
  }
</style>
