<template>
  <div>
    <Collapse v-model="indicatorCollapseVal" simple>
      <Panel name="indicatorSetting">
        指标设置
        <div slot="content">
          <NumberFormat :chartConfigData="currentSelectChartConfigData" />
        </div>
      </Panel>
      <Panel name="showConfig">
        指标详情数据显示
        <div slot="content">
          <div class="show-config">
            <div class="config-item">
              <span>同比</span>
              <Checkbox v-model="showConfig.showYoy" @on-change="updateShowConfig('showYoy', $event)"></Checkbox>
            </div>
            <div class="config-item">
              <span>环比</span>
              <Checkbox v-model="showConfig.showMom" @on-change="updateShowConfig('showMom', $event)"></Checkbox>
            </div>
            <div class="config-item">
              <span>预警</span>
              <Checkbox v-model="showConfig.showWarning" @on-change="updateShowConfig('showWarning', $event)"></Checkbox>
            </div>
            <div class="config-item">
              <span>目标</span>
              <Checkbox v-model="showConfig.showTarget" @on-change="updateShowConfig('showTarget', $event)"></Checkbox>
            </div>
            <div class="config-item trend-chart">
              <div class="chart">
                <span>指标趋势图</span>
                <div class="right">
                  <Select v-model="showConfig.chartIndicatorId" filterable @on-change="updateShowConfig('chartIndicatorId', $event)">
                    <Option v-for="indicator in indicators" :key="indicator.id" :value="indicator.id">{{ indicator.name }}</Option>
                  </Select>
                  <Select v-model="showConfig.dateType" @on-change="updateShowConfig('dateType', $event)">
                    <Option :value="1">近7天</Option>
                    <Option :value="2">近30天</Option>
                    <Option :value="3">当月</Option>
                    <Option :value="4">近3个月</Option>
                    <Option :value="5">近6个月</Option>
                    <Option :value="6">当年</Option>
                  </Select>
                </div>
              </div>
              <Checkbox v-model="showConfig.showChart" @on-change="updateShowConfig('showChart', $event)"></Checkbox>
            </div>
          </div>
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import NumberFormat from './common/NumberFormat'
import mixin from '@/view/report/chartDataConfig/mixin/ChartDataConfigMixin'
import { mapGetters } from 'vuex'

export default {
  name: 'IndicatorDataConfig',
  mixins: [mixin],
  components: {
    NumberFormat,
  },
  data() {
    return {
      indicatorCollapseVal: ['indicatorSetting', 'showConfig'],
      showConfig: {
        showYoy: true,
        showMom: true,
        showWarning: true,
        showTarget: true,
        showChart: true,
        chartIndicatorId: '',
        dateType: 1, // 近30天
      },
    }
  },
  computed: {
    ...mapGetters(['allIndicators']),
    indicators() {
      return this.allIndicators.map(item => ({ ...item, id: Number(item.id )}))
    },
  },
  watch: {
    currentSelectChartConfigData: {
      handler(val) {
        this.showConfig = {
          showYoy: val.showYoy ?? true,
          showMom: val.showMom ?? true,
          showWarning: val.showWarning ?? true,
          showTarget: val.showTarget ?? true,
          showChart: val.showChart ?? true,
          chartIndicatorId: val.chartIndicatorId || '',
          dateType: val.dateType ?? 1, // 近30天
        }
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    updateShowConfig(key, value) {
      this.$set(this.currentSelectConfigData, key, value)
    }
  },
}
</script>

<style scoped lang="less">
.config-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;

  .chart {
    display: flex;

    > span {
      flex-shrink: 0;
      padding-top: 6px;
    }

    .right {
      margin: 0 8px;

      /deep/ .ivu-select {
        margin-bottom: 4px;

        .ivu-select-input {
          height: 26px;
          line-height: 26px;
        }
      }
    }
  }

  &.trend-chart .ivu-checkbox-wrapper {
    padding-top: 3px;
  }
}
</style>
