<template>
  <div class="indicatorFilter">
    <div class="itemBox">
      <div class="title">筛选指标</div>
      <Select
        v-model="filterIndicator"
        label-in-value
        placeholder="请勾选一个指标"
        @on-change="handleSelectChange">
        <Option v-for="item in indicatorList" :value="item.value" :key="item.value">{{ item.label }}</Option>
      </Select>
    </div>
    <div v-if="filterIndicator" class="itemBox">
      <div class="title">组件关联</div>
      <div v-if="componentList.length > 0">
        <Checkbox
          v-model="checkAll"
          :indeterminate="indeterminate"
          @on-change="handleCheckAllChange">
        </Checkbox>
        <span>全选</span>
      </div>
      <div v-for="item in componentList" class="relativeComponentItem">
        <Checkbox v-model="item.relative" @on-change="handleCheckBoxChange(item)"></Checkbox>
        <img :src="bindIcon(item.type)" class="componentImg"/>
        <span>{{ item.title }}</span>
      </div>
    </div>
    <div v-if="filterIndicator" class="itemBox">
      <div class="item child_left_right">
        默认值设置
        <img src="@/assets/icons/chart/defaultValueSetting.svg" style="cursor: pointer" @click="defaultValueSettingClick"/>
      </div>
    </div>
    <Modal
      class="defaultValueSettingModal"
      v-model="defaultValueSettingModal"
      :mask-closable="false"
      title="默认值设置">
      <indicator-filter-setting
        v-if="defaultValueSettingModal"
        :conditionValue="conditionValue"
        @resetDefaultValueSettingBox="resetDefaultValueSettingBox"
        @confirmDefaultValue="confirmDefaultValue">
      </indicator-filter-setting>
      <div slot="footer"></div>
    </Modal>
  </div>
</template>

<script>
import IndicatorFilterSetting from '@/view/components/report-filter/IndicatorFilterSetting.vue'
export default {
  components: {
    IndicatorFilterSetting
  },
  data() {
    return {
      indicatorList: [],
      filterIndicator: '',
      checkAll: false,
      indeterminate: false,
      componentList: [],
      defaultValueSettingModal: false,
      conditionValue: '',
    }
  },
  computed: {
    currentSelectChart() {
      return this.$store.state.chart && this.$store.state.chart.currentSelectChart
    },
    storeChartList() {
      return this.$store.state.chart.chartList
    }
  },
  mounted() {
    this.getIndicatorList()
    this.filterIndicator = this.currentSelectChart.data.configData.filterIndicator
    this.getComponentList()
    this.changeCheckAll()
  },
  methods: {
    getIndicatorList() {
      let indicatorList = []
      this.storeChartList.forEach(item => {
        if(item.data.indicator && item.data.indicator.length) {
          item.data.indicator.forEach(indicatorItem => {
            if(!indicatorList.find((item) => item.id === indicatorItem.id)) {
              let obj = {}
              obj.id = indicatorItem.id
              obj.value = indicatorItem.id
              obj.label = indicatorItem.title
              indicatorList.push(obj)
            }
          })
        }
      })
      this.indicatorList = indicatorList
    },
    handleSelectChange(value) {
      let id = value.value
      this.currentSelectChart.data.configData.filterIndicator = id
      this.currentSelectChart.data.configData.filterIndicatorTitle = value.label
      let chartList = this.$store.state.chart.chartList
      for(let i=0; i<chartList.length; i++) {
        if(chartList[i].chartId === this.currentSelectChart.chartId) {
          chartList[i].defaultShow = false
          break
        }
      }
      this.getComponentList()
      this.checkAll = true
      this.handleCheckAllChange(true)
      this.changeTitle()
    },
    getComponentList() {
      let { filterIndicator } = this.currentSelectChart.data.configData
      if(!filterIndicator) {
        return
      }
      let componentList = []
      let relativeComponentList = this.currentSelectChart.data.configData.relativeComponentList
      this.storeChartList.forEach(item => {
        if(item.data.indicator && item.data.indicator.length) {
          let sameIndicator = item.data.indicator.find(findItem => findItem.id === filterIndicator)
          if(sameIndicator) {
            let obj = {}
            obj.id = item.chartId
            obj.type = item.id
            obj.title = item.style.title
            obj.dimension = item.data.dimension
            obj.indicator = item.data.indicator
            let checked = relativeComponentList.find(relativeComponentItem => relativeComponentItem === item.chartId)
            if(checked) {
              obj.relative = true
            }
            componentList.push(obj)
          }
        }
      })
      this.componentList = componentList
    },
    handleCheckAllChange(val) {
      this.indeterminate = false
      this.componentList.forEach(item => {
        item.relative = val
      })
      this.currentSelectChart.data.configData.relativeComponentList = this.componentList.filter(item => item.relative === true).map(item => item.id)
    },
    handleCheckBoxChange(checkItem) {
      let relativeComponentList = []
      this.componentList.filter(item => item.relative === true).forEach(item => {
        relativeComponentList.push(item.id)
      })
      this.currentSelectChart.data.configData.relativeComponentList = relativeComponentList
      this.changeCheckAll()
      // 存在筛选值时，点击组件的checkbox 要更新当前点击的组件
      if(this.currentSelectChart.data.configData.conditionValue) {
       this.$store.state.chart.chartVNodeList.forEach(item => {
          let chart = item.$refs.chart
          if(checkItem.id === chart.chartId) {
            chart.refreshData && chart.refreshData()
          }
        })
      }
    },
    changeCheckAll() {
      let { relativeComponentList } = this.currentSelectChart.data.configData
      if(relativeComponentList.length === this.componentList.length) {
        this.indeterminate = false
        this.checkAll = true
      } else if(relativeComponentList.length > 0) {
        this.indeterminate = true
        this.checkAll = false
      } else {
        this.indeterminate = false
        this.checkAll = false
      }
    },
    defaultValueSettingClick() {
      this.conditionValue = this.currentSelectChart.data.configData.conditionValue
      this.defaultValueSettingModal = true
    },
    resetDefaultValueSettingBox(e) {
      e.stopPropagation()
      this.defaultValueSettingModal = false
    },
    confirmDefaultValue(e, conditionValue, valueTitle) {
      e.stopPropagation()
      this.defaultValueSettingModal = false
      this.currentSelectChart.data.configData.conditionValue = conditionValue
      this.currentSelectChart.data.configData.valueTitle = valueTitle
      this.changeTitle(valueTitle)
      if(this.currentSelectChart.parentId) {
        return
      }
      let relativeComponentList = this.currentSelectChart.data.configData.relativeComponentList
      this.$store.state.chart.chartVNodeList.forEach(item => {
        let chart = item.$refs.chart
        if(relativeComponentList.find(item => item === chart.chartId)) {
          chart.refreshData && chart.refreshData()
        }
      })
    },
    changeTitle(valueTitle = '') {
      if(this.currentSelectChart.style.titleCustomChange) {
        return
      }
      let { filterIndicator, filterIndicatorTitle } = this.currentSelectChart.data.configData
      if(filterIndicator && filterIndicatorTitle) {
        let title = ''
        title += filterIndicatorTitle
        title += valueTitle
        this.currentSelectChart.style.title = title
        this.currentSelectChart.style.showTitle = true
      }
    },
    bindIcon(type) {
      return require('@/assets/icons/chart/chart_type/' + type + '_relative.svg')
    }
  }
}
</script>

<style lang="less" scoped>
.child_left_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.indicatorFilter {
  padding: 10px;
  min-height: 300px;
  .itemBox {
    color: #333333;
    margin-bottom: 16px;
    .title {
      margin-bottom: 8px;
      font-size: 12px;
      font-weight: bold;
    }
    .relativeComponentItem {
      display: flex;
      margin: 6px 0;
      .componentImg {
        width: 18px;
        height: 18px;
        margin-right: 6px;
      }
    }
  }
}
.defaultValueSettingModal /deep/ .ivu-modal {
  width: 380px!important;
  .itemBox {
    color: #333333;
    margin-bottom: 16px;
    .title {
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .ivu-radio-group {
    .ivu-radio-wrapper {
      font-size: 14px;
      display: flex;
      align-items: center;
      > span {
        margin-left: 4px;
      }
      > .ivu-input-number {
        margin-left: 8px;
      }
    }
  }
  .ivu-modal-footer {
    border-top: none;
    padding: 0;
  }
}
</style>
