<template>
  <div>
    <Collapse v-model="lineBarCollapseVal" simple>
      <Panel name="indicatorSetting">
        指标设置
        <div slot="content">
          <Collapse v-model="doubleCollapseVal"
            class="doubleCollapseVal" simple>
            <Panel name="main">
              主指标
              <div slot="content">
                <number-format :chartConfigData="currentSelectChartConfigData"></number-format>
              </div>
            </Panel>
            <Panel name="sub">
              副指标
              <div slot="content">
                <number-format :chartConfigData="currentSelectChartConfigData.subDataSetting"></number-format>
              </div>
            </Panel>
          </Collapse>
          <fast-calculation-single
            :chartConfigData="currentSelectChartConfigData"
            style="margin-top: 16px"></fast-calculation-single>
        </div>
      </Panel>
      <Panel name="thresholdSetting">
        阈值设置
        <div style="float: right;" v-if="currentSelectChart.data.indicator.length" @click.stop>
          <Checkbox v-model="currentSelectChart.data.configData.isOpenThreshold" />
        </div>
      </Panel>
      <sort-setting></sort-setting>
    </Collapse>
  </div>
</template>

<script>
import NumberFormat from './common/NumberFormat'
import FastCalculationSingle from './common/FastCalculationSingle'
import SortSetting from './common/SortSetting.vue'
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";
export default {
  name: "LineBarDataConfig",
  mixins: [ mixin ],
  components: {
    NumberFormat,
    FastCalculationSingle,
    SortSetting
  },
  data() {
    return {
      lineBarCollapseVal: ["indicatorSetting", "thresholdSetting"],
      doubleCollapseVal: ['main', 'sub'],
      showThreshold: "false",
      disabledThreshold: false
    }
  },
  props: {
    chartId: {
      type: String,
      default: null
    }
  },
  computed: {},
  mounted() {
    if(!this.currentSelectChartConfigData.subDataSetting) {
      this.$set(this.currentSelectChartConfigData, 'subDataSetting', {})
    }
  },
  methods: {
    handleShowThreshold(e) {
      // 格式转化，字符串转布尔类型
      let showThreshold = e === "true"
      this.currentSelectChart.data.indicator.forEach(item => {
        if(item.thresholds.length){
          item.useThreshold = showThreshold
        }
      })
    }
  },
  watch: {
    currentSelectChartIndicator: {
      handler: function(val, oldval) {
        if(this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          let withThresholds = val.filter(item => item.thresholds.length)
          if(withThresholds.length) {
            this.showThreshold = withThresholds.every(item => item.useThreshold) + ""
            this.disabledThreshold = false
          } else {
            this.showThreshold = "false"
            this.disabledThreshold = true
          }
        }
      },
      deep: true,
      immediate: true
    }
  }
}
</script>

<style lang="less" scoped>
.item {
  display: flex;
  align-items: center;
  .itemLabel {
    display: inline-block;
    width: 56px;
    padding: 10px 6px 10px 0;
    box-sizing: border-box;
  }
}
.doubleCollapseVal.ivu-collapse.ivu-collapse-simple /deep/ .ivu-collapse-item {
  margin: 0;
  .ivu-collapse-header > i {
    position: absolute;
    top: 10px;
    right: 0;
  }
  .ivu-collapse-content > .ivu-collapse-content-box {
    padding: 0 18px 0 10px;
    background: #F5F5F5;
  }
}
</style>
