<template>
  <div>
    <Collapse v-model="mapCollapseVal" simple>
      <Panel name="indicatorSetting">
        指标设置
        <div slot="content">
          <NumberFormat :chartConfigData="currentSelectChartConfigData" />
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import NumberFormat from "./common/NumberFormat";
import mixin from "./mixin/ChartDataConfigMixin";

export default {
  name: "MapDataConfig",
  components: {
    NumberFormat
  },
  mixins: [mixin],
  data() {
    return {
      mapCollapseVal: ["indicatorSetting"]
    };
  }
};
</script>
