<template>
  <div class="mixFilter">
    <div class="itemBox">
      <div class="title">筛选器关联</div>
      <div v-for="item in filterList" class="filterItem">
        <Checkbox v-model="item.relative" @on-change="handleCheckBoxChange($event, item)"></Checkbox>
        <span>{{ item.title }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      filterList: []
    }
  },
  computed: {
    currentSelectChart() {
      return this.$store.state.chart && this.$store.state.chart.currentSelectChart
    },
    storeChartList() {
      return this.$store.state.chart.chartList
    }
  },
  mounted() {
    let relativeFilterList = this.currentSelectChart.data.configData.relativeFilterList
    this.getFilterList(relativeFilterList)
  },
  methods: {
    getFilterList(relativeFilterList = []) {
      let filterList = []
      this.storeChartList.forEach(item => {
        if(item.id === 'DimensionFilter' || item.id === 'IndicatorFilter') {
          if(item.parentId && item.parentId !== this.currentSelectChart.chartId) {
            return
          }
          let obj = {}
          obj.id = item.chartId
          obj.title = item.style.title
          let checked = relativeFilterList.find(relativeFilterItem => relativeFilterItem === item.chartId)
          if(checked) {
            obj.relative = true
          }
          filterList.push(obj)
        }
      })
      this.filterList = filterList
    },
    handleCheckBoxChange(e, checkItem) {
      let clickComponent = this.storeChartList.find(item => item.chartId === checkItem.id)
      if(clickComponent) {
        if(e) {
          this.$set(clickComponent, 'parentId', this.currentSelectChart.chartId)
        } else {
          this.$set(clickComponent, 'parentId', '')
        }
      }
      let relativeFilterList = []
      this.filterList.filter(item => item.relative === true).forEach(item => {
        relativeFilterList.push(item.id)
      })
      this.currentSelectChart.data.configData.relativeFilterList = relativeFilterList
      this.currentSelectChart.style.height = Math.max(relativeFilterList.length * 48, 48)
    }
  },
  watch: {
    'currentSelectChart.data.configData.relativeFilterList': {
      handler(val) {
        if(this.currentSelectChart.id !== 'MixFilter') {
          return
        }
        if(val.length === 0) {
          this.getFilterList(val)
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
.mixFilter {
  padding: 10px;
  .itemBox {
    color: #333333;
    margin-bottom: 16px;
    .title {
      margin-bottom: 8px;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
</style>