<template>
  <div>
    <Collapse v-model="collapseValue" simple>
      <Panel name="indicatorSetting">
        指标设置
        <div slot="content">
          <number-format :chartConfigData="currentSelectChartConfigData"></number-format>
          <fast-calculation :chartConfigData="currentSelectChartConfigData"></fast-calculation>
        </div>
      </Panel>
      <Panel name="indicatorDisplaySetting">
        <span class="title">指标展示设置</span>
        <div slot="content">
          <div>
            <div style="margin-top: 10px" class="item">
              <span class="labelIndex">指标项</span>
              <span v-for="item in currentSelectChartIndicator"
                :key="item.id">{{ item.title }}</span>
            </div>
            <div style="margin-top: 10px">TOP值</div>
            <div style="display: flex; align-items: center; margin-top: 5px">
              <Input
                type="number"
                style="width: calc(100% - 60px)"
                :value="topValue"
                @on-change="onInputTopValueChange"
              />
              <Tooltip
                content="设置显示指标值排名前N的成员"
                theme="light"
                placement="bottom-end"
              >
                <Icon
                  style="padding-left: 5px;padding-right: 16px;"
                  type="ios-help-circle-outline"
                  size="16"
                />
              </Tooltip>
            </div>
          </div>
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import IndicatorSet from "./common/IndicatorSet";
import NumberFormat from './common/NumberFormat'
import FastCalculation from './common/FastCalculation'
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";
export default {
  name: "PieDataConfig",
  mixins: [ mixin ],
  components: {
    IndicatorSet,
    NumberFormat,
    FastCalculation,
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    dataConfigs: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  data (){
    return {
      collapseValue: ['indicatorSetting', 'indicatorDisplaySetting'],
      topRadioValue: '全部',
      selectIndicator: null,
      radioTopGroupOptions: [{
        value: -1,
        label: '全部'
      }, {
        value: 10,
        label: 'Top10'
      },{
        value: 5,
        label: 'Top5'
      },{
        value: 3,
        label: 'Top3'
      },{
        value: 1,
        label: 'Top1'
      }]
    }
  },
  computed: {
    topValue(){
      const topValue = this.$store.state.chart && this.$store.state.chart.chartDataNum
      return topValue || null
    }
  },
  methods:{
    onTopRadioValueChange (e) {
      const topObj = this.radioTopGroupOptions.find(item => item.label === e)
      let topValue = -1
      if (topObj) {
        topValue = topObj.value
        // 通知图表数据刷新
        this.refreshCurrentSelectChartConfigData('topN', topValue, false)
      }
    },
    onInputTopValueChange(e) {
      const topValue = e.target.value
      // 通知图表数据刷新
      this.refreshCurrentSelectChartConfigData('topN', topValue,false)
    },
  }
};
</script>

<style scoped>
.labelIndex{
  width: 80px;
  padding: 10px 6px 10px 0;
  box-sizing: border-box;
}
.item {
  display: flex;
  align-items: center;
}
</style>
