<template>
  <div class="line-data-config">
    <Collapse v-model="lineCollapseVal" simple>
      <Panel name="indicatorSetting">
        指标设置
        <div slot="content">
          <number-format :chartConfigData="currentSelectChartConfigData"></number-format>
          <fast-calculation-single :chartConfigData="currentSelectChartConfigData"></fast-calculation-single>
        </div>
      </Panel>
      <!-- <div v-if="currentSelectChart.data.indicator.length" class="disPanelBox">
        <span>
          <span>阈值设置</span>
          <div style="float: right;"  @click.stop>
            <Checkbox v-model="currentSelectChart.data.configData.isOpenThreshold" />
          </div>
        </span>
      </div> -->
      <!-- <sort-setting></sort-setting> -->
    </Collapse>
  </div>
</template>

<script>
import NumberFormat from './common/NumberFormat'
import FastCalculationSingle from './common/FastCalculationSingle'
import SortSetting from './common/SortSetting.vue'
import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";
export default {
  name: "LineDataConfig",
  mixins: [ mixin ],
  components: {
    NumberFormat,
    FastCalculationSingle,
    SortSetting
  },
  data() {
    return {
      lineCollapseVal: ["indicatorSetting", "thresholdSetting"],
      showThreshold: "false",
      disabledThreshold: false
    }
  },
  props: {
    chartId: {
      type: String,
      default: null
    },
    dataConfigs: {
      type: Object,
      default: () => {
        return {}
      }
    },
  },
  computed: {},
  methods: {
    handleShowThreshold(e) {
      // 格式转化，字符串转布尔类型
      let showThreshold = e === "true"
      this.currentSelectChart.data.indicator.forEach(item => {
        if(item.thresholds.length){
          item.useThreshold = showThreshold
        }
      })
    }
  },
  watch: {
    currentSelectChartIndicator: {
      handler: function(val, oldval) {
        if(this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          let withThresholds = val.filter(item => item.thresholds && item.thresholds.length)
          if(withThresholds.length) {
            this.showThreshold = withThresholds.every(item => item.useThreshold) + ""
            this.disabledThreshold = false
          } else {
            this.showThreshold = "false"
            this.disabledThreshold = true
          }
        }
      },
      deep: true,
      immediate: true
    }
  }
}
</script>

<style lang="less" scoped>
.item {
  display: flex;
  align-items: center;
  .itemLabel {
    display: inline-block;
    width: 56px;
    padding: 10px 6px 10px 0;
    box-sizing: border-box;
  }
}
.disPanelBox {
  padding: 10px 10px 10px 20px;
  color: black;
}
</style>
