<template>
  <div>
    <Collapse simple>
      <Panel v-for="(item, i) in currentSelectChart.data.indicator" :key="i">
        {{ item.title }}
        <div slot="content">
          <NumberFormat :chartConfigData="currentSelectConfigData['numberformat_' + item.id]" />
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import NumberFormat from "./common/NumberFormat";

export default {
  name: "ScatterDataConfig",
  components: {
    NumberFormat
  },
  computed: {
    ...mapGetters(["currentSelectChart", "currentSelectChartData", "currentSelectConfigData"])
  },
  watch: {
    /**
     * 1. 创建报告时，指标一旦改变，添加/删除数据设置相关数据
     * 2. 新增常规资源时切换到散点图，立即添加/删除数据设置相关数据
     */
    "currentSelectChart.data.indicator": {
      handler(val) {
        val.forEach(item => {
          if (!this.currentSelectConfigData.hasOwnProperty("numberformat_" + item.id)) {
            this.$set(this.currentSelectConfigData, "numberformat_" + item.id, {});
          }
        });
        // 如果是删除指标 则删除相关数据
        let keys = Object.keys(this.currentSelectConfigData).filter(item => item.startsWith("numberformat_"));
        if (keys.length > val.length) {
          let deleteKeys = keys.filter(keyItem => !val.find(item => "numberformat_" + item.id === keyItem));
          deleteKeys.forEach(keyItem => delete this.currentSelectConfigData[keyItem]);
        }
      },
      immediate: true
    }
  }
};
</script>
