<template>
  <div class="textarea-config-wrapper">
    <Collapse v-model="collapseVal" simple>
      <div class="need-edit-in-preview">
        <div>
          二次编辑
          <Tooltip placement="bottom" max-width="140" theme="light">
            <Icon type="ios-help-circle-outline" size="18"></Icon>
            <div slot="content">
              <span>开启后，文本框支持在预览页面直接编辑</span>
            </div>
          </Tooltip>
        </div>
        <Checkbox v-model="currentSelectChart.data.configData.previewEdit" @on-change="previewEdit($event)"/>
      </div>
      <Panel v-for="(item,key) in currentSelectChartIndicators" :key="item.id">

        <span class="indicatorTitle" :title="item.label">{{item.label.length > 12 ? item.label.slice(0, 12) + '...' :  item.label}}</span>
        <div slot="content">
          <DataFormat :chartConfigData="item" @dataFormatChange="handleDataFormatChange"/>
          <div class="tableList" v-if="item.showType === 0">
           <span>
             数值单位
           </span>
            <Select aria-placeholder="请选择(非必选)" style="width: 60%"
                    :value="item.unit" @on-change="onUnitChange($event, item)">
              <Option value="original">原始值</Option>
              <Option value="wan">万</Option>
              <Option value="yi">亿</Option>
            </Select>

          </div>
          <div class="newDatasetList">
            <span class="newDatasetList_title" style="height: 28px; line-height: 28px; ">数值设置</span>
            <div class="newDatasetList_component">
              <div class="newDatasetList_component_flex" style="position: relative">
                <div class="inputNumberTitle">小数位数</div>
                <InputNumber class="decimalPlacesClass" :min="0" :max="6" ref="InputNumber" :value="item.precision" :editable="false"
                             style="width: 100%"
                             @on-change="onPrecisionChange($event, item,key)"></InputNumber>
              </div>
              <div class="newDatasetList_component_flex" style="margin: 10px 0">
                <Checkbox
                  v-model="item.format"
                  :key="item.id"
                  @on-change="onFormatChange($event, item)"
                >千分位分隔符
                </Checkbox>
              </div>
            </div>
          </div>
          <div class="fast-calculate">
            <div style="display: flex;align-items: center;justify-content: space-between">
              <span class="newDatasetList_title">快速计算</span>
              <Checkbox style="margin-right: 0" v-model="item.showFastCalculateBox"
                        @on-change="(v)=>showFastCalculate(v,item)"></Checkbox>
            </div>
            <div v-show="item.showFastCalculateBox" class="newDatasetList_component-fast">
              <div class="newDatasetList_fast_flex">
                <div style="width: 140px">
                  <Checkbox v-model="item.useCompare" :key="item.id" @on-change="onChainRatioChange($event, item)">
                    <span class="value-h">&nbsp;环比</span></Checkbox>
                </div>
                <div style="width: 100%; margin: 10px 0">
                  <div class="tableList_children" style="width: 100%">
                    <Select @on-change="changeFastCalculatePre(item,'M')" :disabled="!item.useCompare"
                            v-model="item.chainRatioDisplayForm" class="percentSel">
                      <Option value="123">123</Option>
                      <Option value="%">%</Option>
                    </Select>
                  </div>
                </div>
              </div>

              <div class="newDatasetList_fast_flex">
                <div style="width: 140px">
                  <Checkbox v-model="item.useSameCompare" :key="item.id+1" @on-change="sameRatioChange($event, item)">
                    <span class="value-h">&nbsp;同比</span></Checkbox>
                </div>
                <div style="width: 100%; margin: 10px 0">
                  <div class="tableList_children" style="width: 100%">
                    <div class="percentBtn"
                         :class="cantClick(currentSelectChart.data.indicator.length && currentSelectChart.data.indicator[0].useCompare)"
                         @click="changeFastCalculatePre(item,'Y')">
                      {{item.yTYRatioDisplayForm}}
                    </div>
                    <Select @on-change='(val)=>getYTYValue(val,item)'
                            class="percentSel"
                            :disabled="!item.useSameCompare"
                            value="month"
                            v-model="item.yTYRatioDisplayPeriod">
                      <Option v-for="(opt,key) in options" :value="opt.val" :key="key">{{opt.label}}</Option>
                    </Select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
  import ChainRatio from './textarea/TextareaChainRatio'
  import {deepCopy} from '../../../utils/common'
  import DataFormat from "./common/DataFormat"
  import mixin from "@/view/report/chartDataConfig/mixin/ChartDataConfigMixin";
  const INDICATOR_PERCENT_TYPE = 1 // 比率类型指标
  export default {
    name: "TextareaDataConfig",
    mixins: [ mixin ],
    components: {
      ChainRatio,
      DataFormat
    },
    data() {
      return {
        options: [
          {val: 'month', label: '月同比'},
          {val: 'year', label: '年同比'},
        ],
        collapseVal: [],
        btnFlag: false,
      }
    },
    props: {
      chartId: {
        type: String,
        default: null
      },
      dataConfigs: {
        type: Object,
        default: () => {
          return {}
        }
      }
    },
    computed: {
      currentSelectChartIndicators: function () {
        return this.dataConfigs.indicators;
      },
      getDigNumber() {
        const configData = this.currentSelectChartConfigData
        return function (id) {
          return configData && configData.changeDecimalDigits && configData.changeDecimalDigits[id]
        }
      },
      reportDate() {
        return this.$store.state.chart && this.$store.state.chart.reportDate
      },
    },
    mounted() {
      this.mTMOptions = [
        {val: 'day', label: '日同比'},
        {val: 'month', label: '月同比'},
        {val: 'year', label: '年同比'},
      ]
      this.buttonText = {
        currentMIndex: 0,//环比下标
        currentYIndex: 0,//同比下标
        showChars: [
          {type: 'num', val: '123'},
          {type: 'pre', val: '%'},
          {type: 'pb', val: 'BP'},
        ],
      }
    },
    methods: {
      previewEdit(v) {
        this.currentSelectChart.data.configData.previewEdit = v;
      },
      cantClick() {
        return function (item) {
          return item.showType === INDICATOR_PERCENT_TYPE || item.useCompare === false ? 'cantClick' : null
        }
      },
      handleDataFormatChange(showType, targetIndicator) {
        targetIndicator.showType = showType
        this.notifyCompare()
      },
      onUnitChange(unit, targetIndicator) {
        targetIndicator.unit = unit
        this.notifyCompare()
      },
      showFastCalculate(v, item) {
        item.showFastCalculateBox = v
        if (v) {
          // 默认为计算当前值与上周期的差值
          item.chainRatioDisplayForm = '123'
          item.yTYRatioDisplayForm = '123'
          item.yTYRatioDisplayPeriod = 'month'
        } else {
          item.useCompare = false
          item.useSameCompare = false
        }
        this.notifyCompare();
      },
      onFormatChange(format, targetIndicator) {
        targetIndicator.format = format
        this.notifyCompare();
      },
      onChainRatioChange(useCompare, targetIndicator) {
        const showChars = this.buttonText.showChars
        // 默认为计算当前值与上周期的差值'123'
        const char = showChars[0]
        targetIndicator.chainRatioDisplayForm = char.val
        targetIndicator.useCompare = useCompare
        this.notifyCompare();
      },
      sameRatioChange(useCompare, targetIndicator) {
        targetIndicator.charSameIndex = 1;
        this.$set(targetIndicator, 'yTYRatioDisplayPeriod', 'month');
        this.$set(targetIndicator, 'useSameCompare', useCompare);
        // 默认为计算当前值与上周期的差值'123'
        const char = this.buttonText.showChars[0].val;
        this.$set(targetIndicator, 'yTYRatioDisplayForm', char);
        this.notifyCompare();
      },
      notifyCompare() {
        this.$set(this.currentSelectChart.data.configData, 'indicators', deepCopy(this.currentSelectChartIndicators))
        // this.recordSnapshot()
      },

      changeFastCalculatePre(targetIndicator, type) {
        //M 环比，Y同比
        if (type) {
          const text = this.buttonText;
          const isM = type === 'M';
          if (!isM) {
            let charIndex = targetIndicator.charSameIndex;
            let showItem = text.showChars[charIndex];
            targetIndicator.yTYRatioDisplayForm = showItem.val;
            if (charIndex >= 1) {
              targetIndicator.charSameIndex = 0
            } else targetIndicator.charSameIndex++
          }
          this.notifyCompare();
        }

      },
      getYTYValue() {
        this.notifyCompare();
      },
      onPrecisionChange(precision, targetIndicator, index) {
        if (precision === null) {
          precision = 2
          this.$refs['InputNumber'][index].setValue(2);
        }
        targetIndicator.precision = precision;
        this.refreshCurrentSelectChartConfigData('indicators', deepCopy(this.currentSelectChartIndicators), false)
      },
    },
    watch: {
      reportDate(n, o) {
      }
    }
  }
</script>

<style scoped lang="less">
  .textarea-config-wrapper {
    overflow-y: scroll;
    height: 500px;
  }

  .need-edit-in-preview {
    border-bottom: 1px solid #ececec;
    padding-left: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 100%;

    /deep/ .ios-help-circle-outline {
      margin-right: 5px;

      &::before {
        /*content: url("~@/assets/icons/dataSetList/dataList_edit.svg");*/
      }
    }
  }

  .tableList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    /*background: red;*/
  }

  .tableList_children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }

  .percentBtn {
    width: 30px;
    height: 28px;
    background: #F8F8F8;
    border: 1px solid #dcdee2;
    border-right: none;
    border-radius: 4px 0 0 4px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /deep/ .percentSel .ivu-select-selection {
    border-radius: 0 4px 4px 0;
  }

  .compareSpan span {
    background: #dfdfdf;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    height: 20px;
    width: 20px;
  }

  .cantClick {
    pointer-events: none;
  }

  .compareSpan span:last-child {
    float: right;
  }

  /deep/ .ivu-collapse {
    border: none
  }

  /deep/ .ivu-collapse > .ivu-collapse-item {
    border: none
  }

  /deep/ .ivu-collapse-content > .ivu-collapse-content-box {
    padding-bottom: 0px;
  }

  .indicatorTitle {

  }

  .fast-calculate {
    width: 100%;
    margin: 5px 0;
  }

  .newDatasetList {
    /*background: red;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }

  .newDatasetList_component {
    width: 60%;
    /*margin: 5px 0;*/
  }

  .newDatasetList_component-fast {
    width: 100%;
    /*margin: 5px 0;*/

    .newDatasetList_fast_flex {
      height: 45px;
      display: flex;
      align-items: center;
    }
  }

  .newDatasetList_component_flex {
    display: flex;
    justify-content: space-between;
    /*margin: 5px 0;*/
  }

  .newDatasetList_component_flex .value-h {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .newDatasetList_component_flex .inputNumberTitle {
    position: absolute;
    z-index: 1;
    left: 8px;
    color: rgba(0, 0, 0, 0.25);
    line-height: 30px;
  }

  .decimalPlacesClass.ivu-input-number /deep/ .ivu-input-number-handler-wrap {
    opacity: 1;
  }

  .decimalPlacesClass.ivu-input-number /deep/ .ivu-input-number-input-wrap .ivu-input-number-input {
    padding-left: 64px;
  }
</style>
