<template>
  <Collapse simple>
    <Panel>
      表头
      <div slot="content">
        <div class="tableHeader">
          <Tooltip content="字体" style="width: 56%">
            <Select
              class="margin-top-xs"
              v-model="TableStyleConfigs.header.fontFamily"
              style="width: 100%;"
              @on-change="onChangeStyle(TableStyleConfigs.header, 'header')">
              <Option v-for="item in fontFamilyArr" :value="item.value" :key="item.value">{{ item.label }}</Option>
            </Select>
          </Tooltip>
          <Tooltip content="字号" style="width: 40%">
            <Select
            class="margin-top-xs"
            v-model="TableStyleConfigs.header.fontSize"
            style="width: 100%"
            @on-change="onChangeStyle(TableStyleConfigs.header, 'header')">
            <Option v-for="i in 10" :value="(i + 5) * 2" :key="i">{{ (i + 5) * 2 }}</Option>
          </Select>
          </Tooltip>
        </div>
        <div class="tableHeader">
          <FontBar @click="handleChangeFontBar($event, 'header')" :styleConfig="TableStyleConfigs.header"/>
         <div style="display: flex; margin: 10px 0">
           <Tooltip class="tooltipColorPicker" content="文字颜色" style="display: flex">
             <div
               @click="handleClickNextEle($event)"
               style="
            height: 28px;
            width: 28px;
            background: white;
            border: 1px solid #e4e4e4;
            position: absolute;
            z-index: 99;
            border-radius: 2px;
            text-align: center;
            padding: 3px 0">
               <span style="font-weight: bold;">A</span>
               <div :style="{position: 'absolute', width: '16px', height: '4px', background: TableStyleConfigs.header.color, left: '50%', marginLeft: '-8px', bottom: '4px'}"></div>
             </div>
             <colorPicker
               defaultColor="#0000ff"
               :key="TableStyleConfigs.header.color"
               v-model="TableStyleConfigs.header.color"
               @change="onChangeStyle(TableStyleConfigs.header, 'header')"
             />
           </Tooltip>
           <colorPicker
             defaultColor="#E6E7E8"
             :key="TableStyleConfigs.header.titleColor"
             v-model="TableStyleConfigs.header.titleColor"
             @change="onChangeStyle(TableStyleConfigs.header, 'header')"
             class="margin-top-xs"
           />
         </div>
        </div>
        <div class="tableHeader">
        <div class="tableHeader_child">
          <span>维度：</span>
          <RadioGroup type="button" v-model="TableStyleConfigs.header.dimensionStyle">
            <Radio v-for="item in textAlignData" :label="item" :key="item"><img :src="require(`@/assets/images/report/align-${item}.svg`)" class="svg-style" :key="item"  @click="onChangeTextAlign('dimensionStyle', item)"/></Radio>
          </RadioGroup>
        </div>
       <div class="tableHeader_child">
         <span>指标：</span>
         <RadioGroup type="button"  v-model="TableStyleConfigs.header.indicatorStyle">
           <Radio v-for="item in textAlignData" :label="item" :key="item"><img :src="require(`@/assets/images/report/align-${item}.svg`)" class="svg-style" :key="item" @click="onChangeTextAlign('indicatorStyle', item)"/></Radio>
         </RadioGroup>
       </div>
        </div>
      </div>
    </Panel>
    <Panel>
      表格
      <div slot="content">
        <div class="tableHeader">
          <Tooltip content="字体" style="float: left; width: 56%">
            <Select
              class="margin-top-xs"
              v-model="TableStyleConfigs.content.fontFamily"
              style="width: 100%;"
              @on-change="onChangeStyle(TableStyleConfigs.content, 'content')">
              <Option
                v-for="item in fontFamilyArr"
                :value="item.value"
                :key="item.value"
              >{{ item.label }}</Option>
            </Select></Tooltip>
          <Tooltip content="字号" style="float: right; width: 40%">
            <Select
              class="margin-top-xs"
              v-model="TableStyleConfigs.content.fontSize"
              style="width: 100%"
              @on-change="onChangeStyle(TableStyleConfigs.content, 'content')">
              <Option v-for="i in 10" :value="(i + 5) * 2" :key="i">{{ (i + 5) * 2 }}</Option>
            </Select>
          </Tooltip>
        </div>
        <div class="tableHeader">
          <FontBar  @click="handleChangeFontBar($event, 'content')" :styleConfig="TableStyleConfigs.content"/>
          <Tooltip class="tooltipColorPicker" content="文字颜色" style="margin: 10px 0">
            <div
              @click="handleClickNextEle($event)"
              style="
            height: 28px;
            width: 28px;
            background: white;
            border: 1px solid #e4e4e4;
            position: absolute;
            z-index: 99;
            border-radius: 2px;
            text-align: center;
            padding: 3px 0">
              <span style="font-weight: bold;">A</span>
              <div :style="{position: 'absolute', width: '16px', height: '4px', background: TableStyleConfigs.content.color, left: '50%', marginLeft: '-8px', bottom: '4px'}"></div>
            </div>
            <colorPicker
              defaultColor="#0000ff"
              :key="TableStyleConfigs.content.color"
              v-model="TableStyleConfigs.content.color"
              @change="onChangeStyle(TableStyleConfigs.content, 'content')"
            />
          </Tooltip>
        </div>
        <div class="tableHeader">
          <div class="tableHeader_child">
            <span>维度：</span>
            <RadioGroup type="button" v-model="TableStyleConfigs.content.dimensionStyle">
              <Radio v-for="item in textAlignData" :label="item" :key="item"><img :src="require(`@/assets/images/report/align-${item}.svg`)" class="svg-style" :key="item"  @click="onChangeContentText('dimensionStyle', item)"/></Radio>
            </RadioGroup>
          </div>
          <div class="tableHeader_child">
            <span>指标：</span>
            <RadioGroup type="button" v-model="TableStyleConfigs.content.indicatorStyle">
              <Radio v-for="item in textAlignData" :label="item" :key="item"><img :src="require(`@/assets/images/report/align-${item}.svg`)" class="svg-style" :key="item" @click="onChangeContentText('indicatorStyle', item)"/></Radio>
            </RadioGroup>
          </div>
        </div>
        <div class="tableHeader">
           <span>奇行</span>
           <colorPicker
             defaultColor="#fff"
             v-model="TableStyleConfigs.content.even"
             @change="onChangeStyle(TableStyleConfigs.content, 'content')"
             class="margin-top-xs"
             style="margin-left:10px"
           />
           <span style="margin-left:10px">偶行</span>
           <colorPicker
             defaultColor="#fff"
             v-model="TableStyleConfigs.content.odd"
             @change="onChangeStyle(TableStyleConfigs.content, 'content')"
             class="margin-top-xs"
             style="margin-left:10px"
           />
         </div>
      </div>
    </Panel>
  </Collapse>
</template>
<script>

  import FontBar from '../../../report/ChartStyleConfig/common/fontBar'
  import {
    FONT_FAMILY_LIST,BORDER_STYLE_ARR
  } from '../../../../config/ReportConstants'
export default {
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    }
  },
  components: {
    FontBar
  },
  data() {
    return {
      visible: false,
      fontFamilyArr: FONT_FAMILY_LIST,
      borderStyleArr: BORDER_STYLE_ARR,
      textAlignData: ['left', 'center', 'right'],
      selectBorder: require('@/assets/images/report/solid.svg')
    }
  },
  created() {
  },
  mounted() {
  },
  computed: {
    currentSelectChart() {
      const currentSelectChart = this.$store.state.chart && this.$store.state.chart.currentSelectChart
      return currentSelectChart
    },

    TableStyleConfigs() {
      return Object.assign(
        {
          fontSize: 16,
          fontFamily: 'aliPuHui Regular',
          borderStyle: '',
          borderRadius: 2,
          borderWidth: 1,
          borderColor: '#cccccc',
          // backgroundColor: "#ccc",
          sort: false,
          header: {
            backgroundColor: '#ccc',
            fontSize: 12,
            fontFamily: 'aliPuHui Regular',
            color: '#333333',
            titleColor: '#E6E7E8',
            dimensionStyle: 'center',
            indicatorStyle: 'center',
            fontBold: 'normal',
            fontItalic: 'nomal',
            fontUnderLine: 'nomal',
            fontStrikethrough: 'none'

          },
          content: {
            backgroundColor: '#ccc',
            fontSize: 12,
            fontFamily: 'aliPuHui Regular',
            color: '#333333',
            even: '#ffffff',
            odd: '#ffffff',
            dimensionStyle: 'center',
            indicatorStyle: 'center',
            fontBold: 'normal',
            fontItalic: 'nomal',
            fontUnderLine: 'nomal',
            fontStrikethrough: 'none'
          }
        },
        this.styleConfigs
      )
    }
  },
  methods: {
    handleChangeFontBar(e, type) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      e.forEach(item => {
        this.$set(this.currentSelectChart.style[type], item.label, item.type)
      })
    },
    handleClickNextEle(e) {
      console.log(e.target.parentNode.nextSibling.firstChild)
      e.target.parentNode.nextSibling.firstChild.click();
      e.target.parentNode.nextSibling.lastChild.style.zIndex = '9999'
    },
    onChangeStyle(value, str) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      this.$set(this.currentSelectChart.style, str, value)
    },
    onSelectBorder(val) {
      this.$nextTick(() => {
        this.selectBorder = require('@/assets/images/report/' + val + '.svg')
      })
    },
    onChangeTextAlign(value, str) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      let obj = this.TableStyleConfigs.header
      obj[value] = str
      this.$set(this.currentSelectChart.style, 'header', obj)
    },
    onChangeContentText(value, str) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      let updateStr = str
      let obj = this.TableStyleConfigs.content
      obj[value] = updateStr
      this.$set(this.currentSelectChart.style, 'content', obj)
    },
    handleChangeFontStyle() {

    }
  }
}
</script>
<style lang="less" scoped>
.ivu-collapse-item /deep/ .ivu-collapse-content{
  position: relative;
}
.m-colorPicker{
  position: static;
}
/deep/ .m-colorPicker .box{
  left: 0!important;
}
.ivu-divider-horizontal {
  margin: 0px 0;
}
.single-row {
  height: 38px;
  margin-left: 44px;
  line-height: 38px;
}
.single-content {
  margin-left: 10px;
  width: 50px;
}
/deep/.margin-top-xs {
  padding: 5px!important;
}
.margin-top-xs/deep/ .colorBtn {
  height: 100%!important;
  width: 100% !important;
}

.margin-top-xs/deep/ .colorBtn::after {
  /*display: none!important;*/
  bottom: -6px!important;
}
.svg-style {
  width: 20px;
}
.border-img {
  width: 30px;
}
.align-style {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 35px;
  width: 200px;
}
.align-style {
  /deep/img:hover {
    background: #74b4ec;
    cursor: pointer;
  }
}
.tableHeader {
  /*background: red;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 0;
}
.tableHeader_child {
  margin: 5px 0;
}
.tableHeader_child:nth-child(odd) {
  margin-right: 10px;
}
  .tableHeader /deep/ .ivu-tooltip-rel {
    width: 100%;
    /*height: 28px*/
  }

  .svg-style {
    width: 14px;
    vertical-align: middle;
  }
.ivu-radio-group-button .ivu-radio-wrapper{
  padding: 0 5px;
}
.tooltipColorPicker /deep/ .ivu-tooltip-rel{
  position: static;
}
</style>
