<template>
  <div class="details">
    <div class="search">
      <filterSearch
        :searchCondition="searchCondition"
        @searchTable="searchTable"
      />
      <div class="fr">
        <p>
          共有<span class="fontColor">{{ indicator }}</span
          >个指标，<span class="fontColor">{{ report }}</span
          >个报表
        </p>
        <ul>
          <li
            :class="{ active: checked === item }"
            v-for="item in sortList"
            :key="item"
            @click="onSort(item)"
          >
            {{ item }}
          </li>
        </ul>
        <Button class="buttonClass" @click="goBack">返回</Button>
      </div>
    </div>
    <Spin fix v-if="tableLoading">
      <Icon type="ios-loading" size="28" class="table-spin-icon-load"></Icon>
      <div>Loading</div>
    </Spin>
    <div class="tableWrap" v-else>
      <div v-if="tableData.length">
        <table-detail
          :data="tableData"
          @refreshTable="getTableList"
          @showModal="showAddModal"
          :tableLoading="tableLoading"
        ></table-detail>
        <div class="page-all">
          <Page
            :total="total"
            :current="currentNum"
            :page-size="pageSize"
            @on-change="onPageChange"
            @on-page-size-change="handleChangePageSize"
            show-elevator
            show-sizer
          />
        </div>
      </div>
      <NoData v-else :width="1180" :height="575" :img-src="noDataImg" />
    </div>
    <!-- 变更所有者弹窗 -->
    <ChangeOwnerModal
      v-model="showChangeOwnerModal"
      :modal-status="changeModalStatus"
      @closeModal="closeChangeModal"
      @changeOwner:success="changeData"
    />
  </div>
</template>
<script>
import filterSearch from "@/components/assetPanorama/filterSearch";
import tableDetail from "@/components/assetPanorama/tableDetail";
import {
  findMostSearchResource,
  findVagueResource,
  queryTargetInfo,
} from "@/api/assetPanorama";
import resourcePublish from "@/mixins/resourcePublish";
import ChangeOwnerModal from "@/components/ChangeOwnerModal";
import { getTaskInfo } from "@/api/earlyWarningTarget";
import { getBusinessDate } from "@/utils/dateFormat";
import { getCompareDate } from "@/utils/chartDate";
import { INDICATOR_OPTION_LIST } from "@/config/indicator";
import { getReportCompareDataAndHeaders } from "@/api/report";
import { ZERO_PRE_COMPARE_DATA_SHOW } from "@/config/ReportConstants";
import { EARLY_WARNING_TYPE_LIST } from "./constant/tableList";
import {
  formatCompareChangeRateData,
  formatCompareValueData,
} from "@/view/report/indicator-browser/formatData";
import NoData from "@/components/NoData";
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";

export default {
  components: {
    filterSearch,
    tableDetail,
    ChangeOwnerModal,
    NoData,
  },
  mixins: [resourcePublish],
  data() {
    return {
      noDataImg,
      name: "",
      // 搜索条件
      searchCondition: {
        name: "",
        status: -1,
        assetsGroupValue: [-1], // 选择的资产分组
        tagValue: [], // 选择的标签
      },
      indicator: 128,
      report: 22,
      sortList: ["最新", "最热"],
      checked: "最新",
      tableData: [],
      currentNum: 1,
      pageSize: 10,
      total: 0,
      tableLoading: true,
    };
  },
  computed: {},
  created() {},
  mounted() {
    this.getFullData();
  },
  methods: {
    onSort(name) {
      this.checked = name;
      this.getFullData(name);
    },
    goBack() {
      this.$router.go(-1);
    },
    /**
     * 展示弹窗
     */
    showAddModal(data) {
      if (data.type === "变更所有者") {
        const { id, moduleType } = data;
        this.showModal({ type: "变更所有者", row: { id, moduleType } });
      } else if (data.type === "同步至") {
        const { show, indicatorId, existedTabIDList } = data;
        this.syncModalStatus = {
          show,
          indicatorId,
          existedTabIDList,
        };
      } else if (data.type === "权限分享") {
        const { id, indicatorName, moduleType } = data;
        this.showModal({
          type: "权限分享",
          row: { id, name: indicatorName, moduleType },
        });
      }
    },
    searchTable() {
      this.currentNum = 1;
      this.getFullData();
    },
    getData() {
      let label = [];
      this.searchCondition.tagValue.forEach((item) => {
        label.push(item.id);
      });
      const status =
        this.searchCondition.status == -1 ? "" : this.searchCondition.status;
      const groupId =
        this.searchCondition.assetsGroupValue[0] == -1
          ? ""
          : this.searchCondition.assetsGroupValue[0];
      return {
        name: this.searchCondition.name,
        pageNum: this.currentNum,
        pageSize: this.pageSize,
        status,
        groupId,
        label,
      };
    },
    /**
     * 获取预警数据
     * @param {*} id 指标id
     */
    async getEarlyWarningData(id) {
      const res = await getTaskInfo(id);
      if (res.data.state === "success") {
        if (res.data.data) {
          const { taskType, warnLevel, execStatus, limitValue, taskId } =
            res.data.data;
          // 触发预警且成功
          const warn = EARLY_WARNING_TYPE_LIST.find(
            (ele) => ele.value == warnLevel
          );
          if (execStatus === 3) {
            return {
              taskType,
              warnname: warn?.label,
              color: warn?.color,
              level: warnLevel,
              targetValue: limitValue,
              taskId,
            };
          }
        }
      }
    },
    /**
     * 获取目标数据
     * @param {*} id 指标id
     */
    async getTargetInfo(id, indicatorValue) {
      const res = await queryTargetInfo(id);
      if (res.data.state === "success") {
        if (res.data?.data?.length) {
          const data = Object.assign(res.data.data[0][0], { indicatorValue });
          return data;
        }
      }
    },
    // 加工对比（环比、同比）数据
    processCompareData(currentData, previousData, numberFormat) {
      return formatCompareValueData(currentData, previousData, numberFormat);
    },
    async getYoyData({ curDate, compareDate, id, type }) {
      const params = {
        dimensionIds: [],
        indicatorVos: [{ id, type, variables: { businessDate: curDate } }],
        date: {
          startDate: curDate,
          endDate: curDate,
        },
        yoyDate: {
          [id]: compareDate,
        },
        momDate: getCompareDate(
          "C",
          { startDate: curDate, endDate: curDate, compareType: "mom" },
          [, , , "2"]
        ),
      };

      const res = await getReportCompareDataAndHeaders(params);
      if (res.data.state === "success") {
        const { currentData, yoyData, momData } = res.data.data;
        let cur = currentData[0]?.[0];
        const yoy = yoyData[id]?.[0]?.[0];

        let yoyValue = formatCompareChangeRateData(cur, yoy, {}); //计算同比变化率
        let mValue = formatCompareChangeRateData(cur, momData?.[0]?.[0], {}); //计算环比变化率
        let mscale = this.processCompareData(cur, momData?.[0]?.[0], {}); // 环比值数据
        let yscale = this.processCompareData(cur, yoy, {}); //同比值数据
        if (mValue == "Infinity%" || mValue == "NaN%") {
          mValue = "--";
        }

        let yoyType = "";
        if (yoyValue === ZERO_PRE_COMPARE_DATA_SHOW || yoyValue === "0.00%") {
          yoyType = "同比持平";
        } else if (!yoyValue.includes("-")) {
          yoyType = "同比增长";
        } else if (yoyValue.includes("-")) {
          yoyType = "同比下降";
        }

        let momType = "";
        if (mValue === ZERO_PRE_COMPARE_DATA_SHOW || mValue === "0.00%") {
          momType = "环比持平";
        } else if (!mValue.includes("-")) {
          momType = "环比增长";
        } else if (mValue.includes("-")) {
          momType = "环比下降";
        }
        cur = cur ? Number(cur) : cur;
        return {
          indicatorValue: cur?.toFixed(2) || ZERO_PRE_COMPARE_DATA_SHOW,
          yoyValue,
          yoyType,
          mValue,
          mscale,
          yscale,
          momType,
        };
      } else {
        return {
          indicatorValue: ZERO_PRE_COMPARE_DATA_SHOW,
          yoyValue: ZERO_PRE_COMPARE_DATA_SHOW,
          yoyType: "同比持平",
        };
      }
    },
    async getFullData(val) {
      const name = val ? val : this.checked;
      this.tableLoading = true;
      let baseDataList = [];
      if (name === "最热") {
        baseDataList = await this.getHotList();
      } else {
        baseDataList = await this.getTableList();
      }
      this.tableData = [...baseDataList]; // 无需深拷贝，因为下方需要异步获取数据
      this.tableLoading = false;

      // 异步获取指标值、同比数据
      const curDate = getBusinessDate();

      const compareDate = getCompareDate(
        "SC",
        { startDate: curDate, endDate: curDate, compareType: "mom" },
        [, , , "2"]
      ); // 月同比日期
      for (const ele of baseDataList) {
        const {
          indicatorValue,
          yoyType,
          yoyValue,
          mValue,
          mscale,
          yscale,
          momType,
        } = await this.getYoyData({
          curDate,
          compareDate,
          id: ele.id,
          type: ele.type,
        });

        //目标数据
        let targetInfo = await this.getTargetInfo(ele.id, indicatorValue);
        this.$set(ele, "targetValue", targetInfo);

        //预警数据
        let taskInfo = await this.getEarlyWarningData(ele.id);
        this.$set(ele, "warningValue", taskInfo);

        ele.indicatorValue = indicatorValue;
        ele.yoyValue = yoyValue;
        ele.yoyType = yoyType;
        ele.momType = momType;
        ele.mValue = mValue;
        ele.mscale = mscale;
        ele.yscale = yscale;
      }
    },
    async getHotList() {
      let dataList = [];
      const param = this.getData();
      const { data: res } = await findMostSearchResource(param);
      if (res.state === "success") {
        dataList = res.data.resultList.map((item) => {
          return {
            ...item,
            moduleType:
              item.type != 5
                ? INDICATOR_OPTION_LIST.find((i) => i.value == item.type)
                    .moduleType
                : "",
            labelName: item.labelName.join(";"),
          };
        });
        this.indicator = res.data.indicatorcount;
        this.report = res.data.reportcount;
        this.total = res.data.indicatorcount + res.data.reportcount;
      }
      return dataList;
    },
    async getTableList() {
      let dataList = [];
      const param = this.getData();
      const { data: res } = await findVagueResource(param);
      if (res.state === "success") {
        dataList = res.data.resultList.map((item) => {
          return {
            ...item,
            labelName: item.labelName.join(" ; "),
            moduleType:
              item.type != 5
                ? INDICATOR_OPTION_LIST.find((i) => i.value == item.type)
                    .moduleType
                : "",
          };
        });
        this.indicator = res.data.indicatorcount;
        this.report = res.data.reportcount;
        this.total = res.data.indicatorcount + res.data.reportcount;
      }
      return dataList;
    },
    changeData() {
      this.tableData = [];
      this.getFullData();
    },
    onPageChange(page) {
      // console.log("page", page);
      this.currentNum = page;
      this.getFullData();
    },
    handleChangePageSize(size) {
      // console.log("size", size);
      this.pageSize = size;
      this.currentNum = 1;
      this.getFullData();
    },
  },
};
</script>
<style lang="less" scoped>
.details {
  background: linear-gradient(#f1f6ff, #dce7ff);
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  .conditionContent {
    opacity: 0.95;
    background: #ffffff;
    border-radius: 8px;
    padding: 14px 16px;
  }
  .search {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    .fontColor {
      color: #2781ff;
    }
    .fr {
      display: flex;
      align-items: center;
      color: #333333;
      p {
        margin-right: 10px;
      }
      ul {
        overflow: hidden;
        li {
          float: left;
          padding: 4px 20px;
          background: #ffffff;
          border: 1px solid rgba(215, 219, 224, 1);
          border-radius: 3px;
          margin-left: 15px;
          list-style: none;
          cursor: pointer;
        }
        .active {
          color: #2781ff;
          border: 1px solid rgba(39, 129, 255, 1);
        }
      }
    }
  }
  .buttonClass {
    border-radius: 3px;
    margin-left: 20px;
    padding: 4px 18px;
    border: 1px solid rgba(215, 219, 224, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #333333;
    font-weight: 500;
  }
  .tableWrap {
    background: #ffffff;
    border-radius: 8px;
    padding: 14px 16px;
    min-height: 600px;
  }
  .page-all {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    margin-top: 20px;
  }
}
</style>