<template>
  <div class="home-container">
    <!-- <img src="@/assets/images/assetPanorama/banner.svg" /> -->
    <div class="searchBox">
      <div class="flexWrap">
        <div class="searchLayout">
          <div class="searchTagAndInput">
            <Input
              v-if="showSearchInput"
              v-model="searchInputVal"
              ref="searchInput"
              class="searchInput"
              :placeholder="searchedList.length === 0 ? '请输入您需要的指标或报表' : ''"
              @on-change="handleSearchInputChange"
              @on-enter="goDetail(1)"
            />
            <img src="@/assets/images/home/search.png" @click="goDetail(1)" />
            <div v-if="showSearchList" class="searchList">
              <ul :style="{ maxHeight: '360px' }">
                <li v-for="(item, index) in searchList" :key="index" class="searchListItem" @click="handleSearchListItemClick(item)">
                  <span v-html="brightKeyword(item.name, searchInputVal)" class="title"></span>
                </li>
                <div class="noData" v-if="searchList.length === 0">
                  <img src="@/assets/images/home/noData.png" />
                  <div>暂无数据</div>
                </div>
              </ul>
            </div>
          </div>
          <div class="historicalSearchBox">
            <span class="title">{{ searchedTitle }}</span>
            <ul>
              <li v-for="item in historicalSearchList" :key="item.id" @click="handleHistoricalSearchItemClick($event, item)">
                <span>{{ item.name }}</span>
              </li>
            </ul>
          </div>
        </div>
        <h2>{{ title }}</h2>
      </div>
    </div>
    <div class="content">
      <div class="paramWrap">
        <Carousel v-model="value" dots="none">
          <CarouselItem v-for="(item, index) in primaryClassList" :key="index">
            <div class="panorama">
              <div class="param" v-for="record in item" :key="record.name" @click="goDetail(2, record)">
                <img :src="require(`@/assets/images/assetPanorama/${record.type}.svg`)" />
                <p>{{ record.name }}</p>
              </div>
            </div>
          </CarouselItem>
        </Carousel>
      </div>
      <div class="list">
        <div class="hot">
          <h5>
            热门浏览TOP10（近30日）<el-popover placement="top" trigger="hover">
              <span style="font-size: 12px">Top10 数据每日23点50分更新</span>
              <i class="el-icon-warning-outline tipIcon" slot="reference"></i>
            </el-popover>
          </h5>
          <Row :gutter="20">
            <Col span="12">
              <table-index :header="columnIndexHot" :data="tableDataIndexHot"></table-index>
            </Col>
            <Col span="12">
              <table-index :header="columnReportHot" :data="tableDataReportHot"></table-index>
            </Col>
          </Row>
        </div>
        <div class="hot">
          <h5>最新上架</h5>
          <Row :gutter="20">
            <Col span="12">
              <table-index :header="columnIndexNew" :data="tableDataIndexNew"></table-index>
            </Col>
            <Col span="12">
              <table-index :header="columnReportNew" :data="tableDataReportNew"></table-index>
            </Col>
          </Row>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { topIndicator, topReport, latestIndicator, latestReport, firstCatalogue, findVagueResource, findMostSearch } from "@/api/assetPanorama";

import tableIndex from "@/components/assetPanorama/tableIndex.vue";
import { findAllDimension } from "@/api/dimension";
import { mapState, mapMutations, mapGetters } from "vuex";
import moment from "moment";
import { TIME_LIST, MESSAGE_LIST } from "../home/constant";

const INVALID_TYPE = "0";

export default {
  components: {
    tableIndex
  },
  data() {
    return {
      searchInputVal: "", // 搜索词
      showSearchInput: true, // 是否展示搜素框
      showSearchList: false,
      searchedList: [], // 已搜索的列表
      currentTime: "", // 选择的日期类型
      timeList: TIME_LIST,
      propertyData: {},
      searchList: [], // 搜索结果的下拉列表
      searchedTitle: "",
      historicalSearchList: [],
      messageList: MESSAGE_LIST,
      value: 0,
      primaryClassList: [],
      columnIndexHot: ["序号", "指标名称", "浏览次数"],
      columnReportHot: ["序号", "报表名称", "浏览次数"],
      columnIndexNew: ["序号", "指标名称", "上架时间"],
      columnReportNew: ["序号", "报表名称", "上架时间"],
      tableDataIndexHot: [],
      tableDataReportHot: [],
      tableDataIndexNew: [],
      tableDataReportNew: [],
      title: globalVariable.assetPanoramaTitle
    };
  },
  computed: {
    ...mapState("resourceManage", ["saveResourceModalStatus"]),
    ...mapGetters(["allIndicators"]),
    userName() {
      return this.$store.state.user.userName;
    }
  },
  created() {
    this.INVALID_TYPE = INVALID_TYPE;

    // 项目全局数据
    this.getTopIndicator();
    this.getTopReport();
    this.getLatestIndicator();
    this.getLatestReport();
    this.getFirstCatalogue();
  },
  mounted() {
    this.setSearchList();
    // this.findAllDimension();
  },
  methods: {
    ...mapMutations("resourceManage", ["setSaveResourceModalStatus"]),
    findAllDimension() {
      findAllDimension().then(res => {
        if (res.data.state === "success") {
          const { data } = res.data;
          const dimensions = data;
          this.setDimensions({ dimensions });
          localStorage.setItem("allDimensions", JSON.stringify(dimensions));
        }
      });
    },
    async getTopIndicator() {
      const { data: res } = await topIndicator();
      if (res.state === "success") {
        if (res.data?.length > 10) {
          res.data = res.data.slice(0, 10);
        }
        this.tableDataIndexHot = res.data.map((item, index) => {
          return {
            name: item.viewName,
            index: index + 1,
            field: item.rankCount,
            id: item.viewId,
            type: item.subType
          };
        });
      }
    },
    async getTopReport() {
      const { data: res } = await topReport();
      if (res.state === "success") {
        if (res.data?.length > 10) {
          res.data = res.data.slice(0, 10);
        }
        this.tableDataReportHot = res.data.map((item, index) => {
          return {
            name: item.viewName,
            index: index + 1,
            field: item.rankCount,
            id: item.viewId
          };
        });
      }
    },
    async getLatestIndicator() {
      const { data: res } = await latestIndicator();
      if (res.state === "success") {
        this.tableDataIndexNew = res.data.map((item, index) => {
          return {
            ...item,
            index: index + 1,
            field: moment(item.createTime).format("YYYY-MM-DD")
          };
        });
      }
    },
    async getLatestReport() {
      const { data: res } = await latestReport();
      if (res.state === "success") {
        this.tableDataReportNew = res.data.map((item, index) => {
          return {
            ...item,
            index: index + 1,
            field: moment(item.createTime).format("YYYY-MM-DD")
          };
        });
      }
    },
    async getFirstCatalogue() {
      const { data: res } = await firstCatalogue();
      const image = ["profitLoss", "income", "profit", "kpi", "increment"];
      if (res.state === "success") {
        for (let i = 0, len = res.data.length; i < len; i += 5) {
          let data = res.data.slice(i, i + 5);
          data = data.map((item, index) => {
            return {
              ...item,
              type: image[index]
            };
          });
          this.primaryClassList.push(data);
        }
      }
    },
    setSearchList() {
      if (localStorage.getItem(this.userName + "historicalList")) {
        this.searchedTitle = "历史搜索";
        this.historicalSearchList = JSON.parse(localStorage.getItem(this.userName + "historicalList"));
      } else {
        this.searchedTitle = "推荐搜索";
        this.getHotData();
      }
    },
    async getHotData() {
      const { data: res } = await findMostSearch();
      if (res.state === "success") {
        this.historicalSearchList = res.data.map(item => {
          return {
            name: item,
            id: item
          };
        });
      }
    },
    handleSearchInputChange() {
      this.globalQueryData();
    },
    async globalQueryData() {
      const { data: res } = await findVagueResource({
        name: this.searchInputVal
      });
      if (res.state === "success") {
        this.showSearchList = true;
        this.searchList = res.data.resultList;
      } else {
        this.showSearchList = false;
      }
    },
    goDetail(type, record) {
      if (type === 1) {
        this.$router.push({
          path: "/assetPanorama_detail",
          query: {
            name: this.searchInputVal
          }
        });
      } else {
        this.$router.push({
          path: "/assetPanorama_detail",
          query: {
            id: record.id
          }
        });
      }
    },
    setFirstHistoricalSearchList(item) {
      let historicalSearchList = [];
      if (localStorage.getItem(this.userName + "historicalList")) {
        historicalSearchList = JSON.parse(localStorage.getItem(this.userName + "historicalList"));
        historicalSearchList = historicalSearchList.filter(listItem => {
          return listItem.id !== item.id || listItem.type !== item.type;
        });
      }
      historicalSearchList.unshift(item);
      localStorage.setItem(this.userName + "historicalList", JSON.stringify(historicalSearchList));
      this.setSearchList();
    },
    handleHistoricalSearchItemClick(e, item) {
      this.setFirstHistoricalSearchList(item);
      this.$router.push({
        path: "/assetPanorama_detail",
        query: {
          name: item.name
        }
      });
    },
    handleSearchListItemClick(item) {
      this.searchInputVal = item.name;
      this.setFirstHistoricalSearchList(item);
      this.showSearchList = false;
      this.$refs["searchInput"].focus();
    },
    brightKeyword(val, keyword) {
      if (val.indexOf(keyword) !== -1) {
        return val.replace(keyword, `<font color='#3F73FF'>${keyword}</font>`);
      } else {
        return val;
      }
    }
  },
  watch: {}
};
</script>

  <style lang="less" scoped>
.home-container {
  width: 100%;
  height: auto;
  position: relative;
  min-width: 1410px;
  .searchBox {
    background: url("~@/assets/images/assetPanorama/banner.svg") no-repeat center;
    padding: 36px 0;
    background-size: cover;
    height: 167px;
    .flexWrap {
      display: flex;
      justify-content: space-between;
      width: 1400px;
      margin: 0 auto;
      h2 {
        font-family: PingFangSC-Regular;
        font-size: 36px;
        color: #425085;
        letter-spacing: 14px;
        font-weight: 400;
      }
    }
    .searchLayout {
      // width: 1400px;
      // margin: 0 auto;
    }
    h1 {
      font-family: PingFangSC-Regular;
      font-size: 48px;
      color: rgba(0, 0, 0, 0.85);
      letter-spacing: 14.4px;
      font-weight: 400;
      text-align: center;
    }
    .searchTagAndInput {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 500px;
      height: 40px;
      margin: 0 0 11px;
      padding: 0 20px 0 22px;
      background-image: linear-gradient(0deg, #f2f4ff 0%, #ffffff 100%);
      border: 1px solid #ffffff;
      box-shadow: 0px 0px 10px 0px rgba(198, 208, 239, 1);
      border-radius: 4px;
      .searchedTagBox {
        white-space: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          display: none;
        }
        .searchedTag {
          height: 24px;
          line-height: 24px;
          background: rgba(63, 115, 255, 0.1);
          border-radius: 4px;
          border: none;
          /deep/ .ivu-tag-text {
            font-size: 14px;
            color: #3f73ff;
            > img {
              margin-bottom: -3px;
            }
          }
          /deep/ .ivu-icon-ios-close {
            color: #3f73ff;
            margin-left: 0;
          }
        }
        .invalidTag {
          background: rgba(0, 0, 0, 0.05);
          /deep/ .ivu-tag-text {
            color: rgba(0, 0, 0, 0.3);
          }
        }
      }
      .searchInput {
        flex: 1;
        min-width: 50px;
        /deep/ .ivu-input {
          font-size: 14px;
          caret-color: rgba(63, 115, 255, 0.95);
          border: none;
          background: transparent;
        }
        /deep/ .ivu-input:focus {
          box-shadow: none;
        }
      }
      .searchList {
        position: absolute;
        z-index: 3;
        width: 100%;
        top: 100%;
        left: 0;
        background: #ffffff;
        box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        ul {
          max-height: 418px;
          overflow: auto;
          .timeRadioGroup {
            height: 58px;
            line-height: 58px;
            .ivu-radio-wrapper {
              font-size: 14px;
              color: #000000;
              margin-right: 20px;
              /deep/ .ivu-radio {
                width: 16px;
              }
            }
          }
          li {
            list-style-type: none;
            padding: 0 24px;
            background: #ffffff;
            img {
              margin-bottom: -3px;
            }
            .title {
              font-size: 14px;
              color: rgba(0, 0, 0, 0.85);
              margin: 0 10px 0 8px;
            }
            .subTitle {
              font-size: 12px;
              color: rgba(0, 0, 0, 0.5);
            }
          }
          li.searchListItem {
            height: 36px;
            line-height: 36px;
          }
          li.searchListItem:hover {
            background: rgba(63, 115, 255, 0.1);
            cursor: pointer;
          }
        }
        .noData {
          font-size: 12px;
          color: #90b5ff;
          text-align: center;
          height: 338px;
          img {
            margin-top: 100px;
            margin-bottom: 6px;
          }
        }
      }
    }
    .historicalSearchBox {
      display: flex;
      .title {
        margin-right: 10px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
      }
      ul {
        max-height: 60px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
          list-style-type: none;
          padding: 0 6px;
          line-height: 1;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
          border-right: solid 1px rgba(0, 0, 0, 0.25);
          > img {
            vertical-align: middle;
            margin-right: 4px;
          }
        }
        li:last-child {
          border-right: none;
        }
        li:hover {
          background: rgba(0, 0, 0, 0.05);
          cursor: pointer;
        }
      }
    }
  }
  .content {
    width: 1400px;
    margin: -30px auto 0;
    .paramWrap {
      // width: 1400px;
      opacity: 0.95;
      background: #ffffff;
      border-radius: 8px;
      .panorama {
        display: flex;
        justify-content: center;
      }
      .param {
        padding: 30px 90px;
        img {
          display: block;
          margin: 0 auto;
        }
        p {
          font-family: PingFangSC-Regular;
          font-size: 18px;
          color: #333333;
          letter-spacing: 0;
          text-align: center;
          line-height: 35.2px;
          font-weight: 400;
          margin-top: 10px;
        }
      }
    }
    .list {
      margin-top: 20px;
      background: #ffffff;
      padding: 15px 20px;
      display: flex;
      .hot {
        width: 690px;
        padding: 15px 20px;
        background: #fbfbfb;
        border-radius: 8px;
        /deep/ .ivu-table td {
          height: 40px;
        }
        /deep/.ivu-table:before {
          height: 0;
        }
        /deep/.ivu-table:after {
          width: 0;
        }
        /deep/.ivu-table-wrapper {
          border: none;
        }
      }
      h5 {
        font-family: PingFangSC-Medium;
        font-size: 18px;
        color: #333333;
        letter-spacing: 0.58px;
        text-align: left;
        line-height: 32px;
        font-weight: bold;
        margin-bottom: 15px;
      }
    }
  }
  .backgroundImg {
    position: absolute;
  }
  .backgroundImgLeft {
    top: 92px;
    left: 0;
  }
  .backgroundImgCenter {
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .backgroundImgRight {
    top: 368px;
    right: 0;
  }
}
@media screen and (max-width: 1420px) {
  html {
    font-size: 12px;
  }
}
</style>
