<template>
  <div class="reportSetting-container" ref="wrapper">
    <!-- 报告设置 -->
    <div id="reportSetting" class="reportSetting" ref="reportSetting">
      <Collapse v-model="collapseVal" class="reportCollapse">
        <Panel name="reportSetting">
          报告设置
          <template #content>
            <ChartType />
          </template>
        </Panel>
      </Collapse>
    </div>

    <!-- tab切换 -->
    <div class="dataStyleSetting" ref="otherSetting" style="height: 100%">
      <Tabs
        v-if="chartTitle !== 'Tab' && currentChartType !== 'CustomImage'"
        v-model="tabsValue"
        :animated="false"
        :class="{ outIndicatorTab: isSelectOutIndicators }"
      >
        <TabPane :label="chartTitle + '数据'" name="dataSetting" v-if="!isSelectOutIndicators" :index="1">
          <div v-if="hasChartActive">
            <CommonDataConfig v-if="currentChartType !== 'SimpleIframe'" id="commondataSetting" class="commondataSetting" />
            <keep-alive>
              <component
                class="dataSetting"
                v-if="currentChartType && currentChartType !== 'FaTab'"
                :is="currentChartType + 'DataConfig'"
                mode="out-in"
                :dataConfigs="currentSelectConfigData"
                :chartId="currentChartId"
              />
            </keep-alive>
          </div>
          <div v-else>
            <Tips tipstype="数据设置" />
          </div>
        </TabPane>
        <TabPane class="styleSetting" :label="chartTitle + '样式'" name="styleSetting" :index="2">
          <div v-if="hasChartActive">
            <CommonStyleConfig :styleConfigs="currentChartStyle" :chartType="currentChartType" />
            <keep-alive>
              <component
                v-if="currentChartType !== 'FaTab'"
                :is="currentChartType + 'StyleConfig'"
                mode="out-in"
                :setCurrentChartDefaultShow="setCurrentChartDefaultShow"
                :styleConfigs="currentChartStyle"
              />
            </keep-alive>
          </div>
          <div v-else>
            <Tips tipstype="样式设置" />
          </div>
        </TabPane>
      </Tabs>
      <Tabs v-else-if="currentChartType === 'CustomImage'" value="styleSetting" class="onlyCustomImage">
        <TabPane :label="chartTitle + '样式'" name="styleSetting">
          <div v-if="hasChartActive">
            <CommonStyleConfig :styleConfigs="currentChartStyle" :chartType="currentChartType" />
            <keep-alive>
              <component
                :is="currentChartType + 'StyleConfig'"
                mode="out-in"
                :styleConfigs="currentChartStyle"
                :setCurrentChartDefaultShow="setCurrentChartDefaultShow"
              />
            </keep-alive>
          </div>
        </TabPane>
      </Tabs>
      <Tabs v-else value="styleSetting" class="onlyTab">
        <TabPane :label="chartTitle + '样式'" name="styleSetting" class="tab-style-setting">
          <div v-if="hasChartActive">
            <CommonStyleConfig :styleConfigs="currentChartStyle" :chartType="currentChartType" />
            <keep-alive>
              <component :is="currentChartType + 'StyleConfig'" mode="out-in" :styleConfigs="currentChartStyle" />
            </keep-alive>
          </div>
          <div v-else>
            <Tips tipstype="样式设置" />
          </div>
        </TabPane>
      </Tabs>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ChartType from "./components/ChartType";
import Tips from "@/view/report/components/tips";
import { CHART_TYPE_LIST, FILTER_LIST, IMAGE_LIST } from "@/config/ReportConstants";
/**图表样式设置*/
import SimplePieStyleConfig from "@/view/report/ChartStyleConfig/PieStyleConfig";
import SimpleLineStyleConfig from "@/view/report/ChartStyleConfig/LineStyleConfig";
import BasicRadarStyleConfig from "@/view/report/ChartStyleConfig/RadarStyleConfig.vue";
import SimpleBarStyleConfig from "@/view/report/ChartStyleConfig/BarStyleConfig";
import MixLineBarStyleConfig from "@/view/report/ChartStyleConfig/LineBarStyleConfig";
import DoublePieStyleConfig from "@/view/report/ChartStyleConfig/DoublePieStyleConfig";
import IndicatorStyleConfig from "@/view/report/IndicatorStyleConfig";
import ComplexTextareaStyleConfig from "@/view/report/chart/textarea/styleConfig";
import SimpleTableStyleConfig from "@/view/report/chart/handsontable/StyleConfig";
import SimpleGaugeStyleConfig from "@/view/report/ChartStyleConfig/GaugeStyleConfig";
import CustomTableStyleConfig from "@/view/report/chart/customTable/StyleConfig";
import SimpleIframeStyleConfig from "@/view/report/ChartStyleConfig/IframeStyleConfig";
import CommonStyleConfig from "@/view/report/ChartStyleConfig/CommonStyleConfig";
import SimpleMapStyleConfig from "@/view/report/ChartStyleConfig/MapStyleConfig";
import SimpleBubbleStyleConfig from "@/view/report/ChartStyleConfig/BubbleStyleConfig";
import SimpleScatterStyleConfig from "@/view/report/ChartStyleConfig/ScatterStyleConfig";
import IndexBoardStyleConfig from "@/view/report/ChartStyleConfig/IndexBoardStyleConfig";
import MultiplePieStyleConfig from "@/view/report/ChartStyleConfig/MultiplePieStyleConfig";
import FaTabStyleConfig from "@/view/report/ChartStyleConfig/FaTabStyleConfig";
import DimensionFilterStyleConfig from "@/view/report/ChartStyleConfig/DimensionFilterStyleConfig";
import IndicatorFilterStyleConfig from "@/view/report/ChartStyleConfig/IndicatorFilterStyleConfig";
import MixFilterStyleConfig from "@/view/report/ChartStyleConfig/MixFilterStyleConfig";
import CustomImageStyleConfig from "@/view/report/ChartStyleConfig/CustomImageStyleConfig";
/**图表数据设置组件 */
import CommonDataConfig from "@/view/report/chartDataConfig/CommonDataConfig";
import ComplexTextareaDataConfig from "@/view/report/chartDataConfig/TextareaDataConfig";
import IndicatorDataConfig from "@/view/report/chartDataConfig/IndicatorDataConfig";
import CustomTableDataConfig from "@/view/report/chartDataConfig/customTable/CustomTableTestDataConfig";
import SimpleLineDataConfig from "@/view/report/chartDataConfig/LineDataConfig";
import BasicRadarDataConfig from "@/view/report/chartDataConfig/RadarDataConfig";
import SimpleBarDataConfig from "@/view/report/chartDataConfig/BarDataConfig";
import MixLineBarDataConfig from "@/view/report/chartDataConfig/LineBarDataConfig";
import SimplePieDataConfig from "@/view/report/chartDataConfig/PieDataConfig";
import DoublePieDataConfig from "@/view/report/chartDataConfig/DoublePieDataConfig";
import SimpleGaugeDataConfig from "@/view/report/chartDataConfig/GaugeDataConfig";
import SimpleIframeDataConfig from "@/view/report/chartDataConfig/IframeDataConfig";
import SimpleMapDataConfig from "@/view/report/chartDataConfig/MapDataConfig";
import SimpleBubbleDataConfig from "@/view/report/chartDataConfig/BubbleDataConfig";
import SimpleScatterDataConfig from "@/view/report/chartDataConfig/ScatterDataConfig";
import IndexBoardDataConfig from "@/view/report/chartDataConfig/IndexBoardDataConfig";
import MultiplePieDataConfig from "@/view/report/chartDataConfig/MultiplePieDataConfig";
import DimensionFilterDataConfig from "@/view/report/chartDataConfig/DimensionFilterDataConfig";
import IndicatorFilterDataConfig from "@/view/report/chartDataConfig/IndicatorFilterDataConfig";
import MixFilterDataConfig from "@/view/report/chartDataConfig/MixFilterDataConfig";

export default {
  components: {
    Tips,
    SimplePieStyleConfig,
    SimpleLineStyleConfig,
    BasicRadarStyleConfig,
    SimpleBarStyleConfig,
    MixLineBarStyleConfig,
    DoublePieStyleConfig,
    IndicatorStyleConfig,
    ComplexTextareaStyleConfig,
    SimpleTableStyleConfig,
    SimpleGaugeStyleConfig,
    CustomTableStyleConfig,
    SimpleIframeStyleConfig,
    CommonStyleConfig,
    ComplexTextareaDataConfig,
    IndicatorDataConfig,
    CustomTableDataConfig,
    SimpleLineDataConfig,
    BasicRadarDataConfig,
    SimpleBarDataConfig,
    MixLineBarDataConfig,
    SimplePieDataConfig,
    DoublePieDataConfig,
    SimpleGaugeDataConfig,
    SimpleIframeDataConfig,
    CommonDataConfig,
    SimpleMapDataConfig,
    SimpleMapStyleConfig,
    SimpleBubbleStyleConfig,
    SimpleBubbleDataConfig,
    SimpleScatterStyleConfig,
    SimpleScatterDataConfig,
    IndexBoardDataConfig,
    IndexBoardStyleConfig,
    MultiplePieDataConfig,
    MultiplePieStyleConfig,
    FaTabStyleConfig,
    DimensionFilterStyleConfig,
    DimensionFilterDataConfig,
    IndicatorFilterStyleConfig,
    IndicatorFilterDataConfig,
    MixFilterStyleConfig,
    MixFilterDataConfig,
    CustomImageStyleConfig,
    ChartType
  },
  data() {
    return {
      collapseVal: ["reportSetting"],
      tabsValue: "dataSetting"
    };
  },
  computed: {
    ...mapGetters([
      "currentChartType",
      "currentChartId",
      "currentSelectChart",
      "currentSelectConfigData",
      "currentChartStyle",
      "isSelectOutIndicators"
    ]),
    // 是否有组件被选中
    hasChartActive() {
      return this.currentSelectChart.isActive;
    },
    // 图表名称
    chartTitle() {
      const list = CHART_TYPE_LIST.concat(FILTER_LIST).concat(IMAGE_LIST);
      return list.find(item => item.id === this.currentChartType)?.title || "";
    }
  },
  mounted() {
    let _this = this;
    this.$erd.listenTo(document.getElementById("reportSetting"), element => {
      _this.adjustScrollArea();
    });
  },
  methods: {
    /**
     * 上方收缩时，更改下方tabs区域的高度
     */
    adjustScrollArea() {
      let bodyHeight = document.body.clientHeight;
      let reportSettingHeight = document.querySelector(".reportSetting").offsetHeight;
      let commondataSettingHeight = 0;
      if (document.querySelector(".commondataSetting")) {
        commondataSettingHeight = document.querySelector(".commondataSetting").offsetHeight;
      }
      let dataHeight = bodyHeight - 60 - reportSettingHeight - 36 - commondataSettingHeight;
      let styleHeight = bodyHeight - 60 - reportSettingHeight - 36;
      if (document.querySelector(".dataSetting")) {
        document.querySelector(".dataSetting").style.height = dataHeight + "px";
      }
      if (document.querySelector(".styleSetting")) {
        document.querySelector(".styleSetting").style.height = styleHeight + "px";
      }
    },
    /**
     * 文本框组件专用
     */
    setCurrentChartDefaultShow(param) {
      this.$set(this.currentChartStyle, "transparent", !!param);
      this.$forceUpdate();
    },
    /**
     * 设置展示的tab
     */
    setTabsValueFirst() {
      this.tabsValue = "dataSetting";
    }
  },
  watch: {
    currentSelectChart: {
      handler() {
        this.$nextTick(() => {
          if (document.getElementById("commondataSetting")) {
            let _this = this;
            this.$erd.listenTo(document.getElementById("commondataSetting"), element => {
              _this.adjustScrollArea();
            });
          }
        });
      },
      immediate: true
    },
    isSelectOutIndicators(newValue) {
      // 如果选择外部指标，tab切换到‘样式’，‘数据’还原
      if (newValue) {
        this.tabsValue = "styleSetting";
      }
    }
  }
};
</script>

<style lang="less" scoped>
.reportSetting-container {
  background: #ffffff;
  height: 100%;

  .reportSetting {
    /deep/.ivu-collapse-content {
      padding: 0;
      .ivu-collapse-content-box {
        padding: 0;
      }
    }
  }

  .dataStyleSetting {
    .ivu-tabs {
      height: 100%;
    }
    .ivu-tabs .ivu-tabs-tabpane {
      height: 100%;
    }
    .ivu-tabs .dataSetting {
      overflow-y: auto;
      height: 100%;
    }
    .ivu-tabs .styleSetting {
      overflow-y: auto;
    }

    /deep/.ivu-collapse > .ivu-collapse-item .ivu-collapse-header {
      padding-left: 0;
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // 报告管理样式
    /deep/ .template-collapse.ivu-collapse {
      border: transparent;
      background-color: #fff;
      > .ivu-collapse-item {
        border-top: 1px solid #dcdee2;
        > .ivu-collapse-header {
          font-family: PingFangSC-Medium;
          color: #333;
          border-bottom: transparent;
          > i {
            font-size: 16px;
          }
        }
      }
    }

    // 多个颜色（柱状图、折线图、双轴图使用）
    /deep/ .multipleColorBox {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      > div {
        margin: 0 16px 6px 0;
        > span {
          display: inline-block;
        }
      }
    }

    // 下拉框高度
    /deep/ .ivu-select-single .ivu-select-selection {
      height: 28px;
      .ivu-select-placeholder,
      .ivu-select-selected-value {
        height: 26px;
        line-height: 26px;
      }
    }

    // 下拉箭头
    /deep/ .ivu-select-arrow.ivu-icon-ios-arrow-down {
      content: url("~@/assets/images/report/select_arrow.svg");
    }

    // 数字输入框高度
    /deep/ .ivu-input-number {
      height: 28px;
      line-height: 28px;
    }
    /deep/ .ivu-input-number-input-wrap {
      height: 28px;
    }
    /deep/ .ivu-input-number-input {
      height: 28px;
      line-height: 28px;
    }
    /deep/ .ivu-input-number-handler {
      height: 14px;
    }

    // 选择展示阈值
    /deep/ .selectShowIndicatorBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px 0;
    }

    // 数据设置增加指标
    /deep/ .addIndicatorBox {
      height: 24px;
      line-height: 24px;
      padding: 0 6px;
      border-radius: 2px;
      border: 1px solid rgba(11, 10, 10, 0.2);
    }

    // 数据设置中的tag
    /deep/ .dataSettingTagBox.ivu-tag {
      width: 100%;
      height: 24px;
      background: #fff;
      border: 1px solid #e4e4e4;
      .ivu-tag-text {
        display: inline-block;
        width: 86%;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    /deep/ .ivu-select {
      position: relative;
    }

    /deep/ .ivu-tabs-nav {
      width: 100%;
    }

    /deep/ .ivu-tabs-bar {
      margin-bottom: 0;
    }

    /deep/ .ivu-tabs-ink-bar {
      width: 50% !important;
    }

    /deep/ .ivu-tabs-tab {
      width: 50%;
      margin-right: 0;
      text-align: center;
    }

    /deep/ .outIndicatorTab .ivu-tabs-tab {
      width: 100%;
    }
    /deep/ .outIndicatorTab .ivu-tabs-ink-bar {
      width: 100% !important;
    }

    /deep/ .onlyCustomImage .ivu-tabs-tab {
      width: 100%;
    }

    /deep/ .onlyCustomImage .ivu-tabs-ink-bar {
      width: 100% !important;
    }

    /deep/ .onlyTab .ivu-tabs-tab {
      width: 100%;
    }

    /deep/ .onlyTab .ivu-tabs-ink-bar {
      width: 100% !important;
    }

    /deep/ .ivu-collapse {
      border: none !important;
    }

    /deep/ .ivu-collapse .ivu-collapse-item .ivu-collapse-header {
      padding-left: 12px;
    }

    /deep/ .ivu-collapse-item ivu-collapse-item-active {
      border: none !important;
    }

    /deep/ .ivu-collapse > .ivu-collapse-item {
      border: none !important;
    }

    /deep/ .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header {
      color: #333 !important;
      font-weight: bold;
    }

    /deep/ .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header > i {
      margin-right: 5px;
    }

    /deep/ .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header > i.ivu-icon-ios-arrow-forward:before {
      content: url("~@/assets/images/report/style/rightArrow.svg");
    }

    /deep/ .ivu-collapse > .ivu-collapse-item.ivu-collapse-item-active > .ivu-collapse-header > i {
      transform: rotate(-90deg);
    }

    /deep/ .ivu-collapse > .ivu-collapse-item {
      border-bottom: 1px solid rgba(239, 239, 239, 0.77) !important;
      margin: 0 10px;
    }

    /deep/ .ivu-collapse > .ivu-collapse-item .ivu-collapse-header {
      padding-left: 0;
    }

    /deep/ .ivu-collapse > .ivu-collapse-item .ivu-collapse-content {
      padding: 0;
    }

    /deep/ .ivu-collapse > .ivu-collapse-item.ivu-collapse-item-active > .ivu-collapse-header {
      border: none !important;
    }

    /deep/ .ivu-collapse-header {
      color: black !important;
    }

    .titleCollapse /deep/ .ivu-collapse-header {
      border-bottom: 0;
    }

    /deep/ .ivu-tabs-content {
      height: 100%;
    }
    .tab-style-setting {
      overflow-y: auto;
      max-height: calc(100% - 339px);
    }
  }
}
</style>
