<template>
  <div class="allUser">
    <Container class="center">
      <!-- <template v-slot:add> -->
      <div class="boxTitle" style="margin-bottom: 24px;">组织架构</div>
      <Input v-model="searchContent" placeholder="请输入内容" search clearable style="width: 100%;margin-bottom: 8px;"/>
      <!-- </template> -->
      <Tree :data="treeData" :render="renderContent" @on-select-change="onSelectDepChange"></Tree>
    </Container>
    <div
      style="width:80%;height: 100%;overflow: auto;border-left: 1px solid #ececec;padding: 24px;border-radius: 2px;background-color: #fff;">
      <div class="boxTitle" style="margin-bottom: 24px;">人员信息</div>
      <div class="right">
        <div class="rightSearch">
          <div style="display: inline-block" v-allow="[1097044487832576]">
            <span>用户名：</span>
            <Input class="mr" v-model="searchData.nickname" style="width:160px" clearable placeholder="请输入用户名/昵称"/>
            <span>状态：</span>
            <Select class="mr" clearable v-model="searchData.enabled" style="width:160px">
              <Option v-for="item in enabledList" :value="item.value" :key="item.value" placeholder="请选择">{{ item.name
                }}
              </Option>
            </Select>
            <Button class="buttonClass mr" type="primary" @click="searchList">
              <img src="@/assets/images/system/buttonSearch.svg"/>
              查询
            </Button>
          </div>
          <Button class="buttonClass" type="primary" @click="saveOrUpdate" v-allow="[1097044487832577]">
            <img src="@/assets/images/system/buttonAdd.svg"/>
            添加
          </Button>

          <!-- 同步按钮 -->
          <el-button class="buttonClass elButtonClass" v-if="firsttime" :disabled="loadingFirstTime" @click="synchronousUser()">
            <svg-icon icon-class="userswitch" /> {{ isSynchronizin ? "同步中" : "同步用户" }}
          </el-button>
          <el-popover placement="bottom" v-else width="140" popper-class="tbyh" @show="showPopver()">
            <el-button class="buttonClass elButtonClass" slot="reference" style="margin-left: 16px" :disabled="loadingFirstTime">
              <svg-icon icon-class="userswitch" /> {{ isSynchronizin ? "同步中" : "同步用户" }}
              <i class="el-icon-arrow-down"></i>
            </el-button>
            <div class="popItem" v-if="isSynchronizin" @click="resetSynchronization()"><svg-icon icon-class="timer" /> 刷新同步状态</div>
            <div class="popItem" :class="{ disablePop: isSynchronizin }" @click="isSynchronizin ? '' : synchronization()">
              <svg-icon icon-class="tablereset" /> 立即同步
            </div>
            <div class="popItem" :class="{ disablePop: isSynchronizin }" @click="isSynchronizin ? '' : editsynchronization()">
              <svg-icon icon-class="edit" /> 编辑
            </div>
            <div class="popItem" :class="{ disablePop: isSynchronizin }" @click="isSynchronizin ? '' : emptysynchronization()">
              <svg-icon icon-class="clear" /> 清空同步数据
            </div>
            <div class="popItem" @click="viewSynchronization()"><svg-icon icon-class="viewold" /> 查看历史同步结果</div>
            <!-- <div class="popItem" @click="interruptsynchronization()"><svg-icon icon-class="disconnect" /> 异常数据中断</div> -->
            <div class="footer">
              下次同步时间：
              <div>
                {{ nextDataTime }}
              </div>
            </div>
          </el-popover>

          <UserAddOrUpdate
            ref="saveOrUpdateUser"
            :deptId="selectedTreeId"
            :department-tree-data="treeData"
            @refreshUser="getUserList"/>
        </div>
      </div>
      <Table :columns="userColumns" :data="userList" class="mb10"></Table>
      <div class="prb">
        <Page class="pageClass" v-if="formPage.total > 0"
              :current="formPage.page"
              :page-size="formPage.size"
              :total="formPage.total" show-elevator show-sizer @on-change="changePage"
              @on-page-size-change="changeSize"/>
      </div>
    </div>

		<FirstEntry ref="firstEnTry" @sumitConfirm="sumitConfirm" />
		<EditSynchronization ref="editSynchronization" @sumitConfirm="sumitConfirm" @successTrigger="searchList()" />
		<Synchronization ref="synchronization" @successTrigger="successTrigger" />
		<InterruptDialog ref="interruptDialog" />
		<OldSynchronization ref="oldSynchronization" />
  </div>
</template>

<script>
  import Container from '@/view/system/Container'
  import UserAddOrUpdate from './UserAddOrUpdate'
  import { getAuthDepartmentList } from '@/api/systemManagement/departmentManagement'
  import {
    getUserListByDeptId,
    updateUserStatus,
    resetPassword,
    deleteUser
  } from '@/api/systemManagement/userManagement'
  import { deepCopy } from '@/utils/common'
  import { getFirstNode } from '@/libs/util'
  import syncMixin from "./mixin/syncMixin"

  const resetImg = require('@/assets/images/system/resetWord.svg')
  const editImg = require('@/assets/images/system/tableButtonEdit.svg')
  const deleteImg = require('@/assets/images/system/tableButtonDelete.svg')
  export default {
    mixins: [syncMixin],
    components: { Container, UserAddOrUpdate },
    data() {
      return {
        searchData: {
          nickname: '',
          enabled: null,
        },
        searchDeptId: null,
        enabledList: [
          { value: 0, name: '停用' },
          { value: 1, name: '启用' },
        ],
        roleList: [],
        selectedTreeId: null,
        treeData: [],
        cloneTreeData: [],
        nickname: '',
        searchContent: '',
        userColumns: [
          {
            title: '用户名',
            key: 'name',
          },
          {
            title: '昵称',
            key: 'nickname',
          },
          {
            title: '主属部门',
            key: 'belongToDept',
            render: (h, { row }) => {
              return h('span', {
                attrs: {
                  title: `${row.belongToDept[0].name}`,
                },
              }, row.belongToDept[0].name)
            },
          },
          {
            title: '手机号',
            key: 'mobile',
            render: (h, { row }) => {
              return h('span', {
                attrs: {
                  title: `${row.mobile}`,
                },
              }, row.mobile)
            },
          },
          {
            title: '邮箱',
            key: 'email',
            render: (h, { row }) => {
              return h('span', {
                attrs: {
                  title: `${row.email}`,
                },
              }, row.email)
            },
          },
          {
            title: '角色',
            key: 'role',
            render: (h, params) => {
              if (params.row.role === null) {
                return ''
              }
              return ('span', params.row.role.map((item, index) => {
                let str = ''
                if (index === params.row.role.length - 1) {
                  str = item.name
                } else {
                  str = item.name + ','
                }
                return str
              }))
            },
          },
          {
            title: '状态',
            key: 'enabled',
            width: 100,
            align: 'center',
            render: (h, params) => {
              return h('i-switch', {
                props: {
                  size: 'large',
                  value: params.row.enabled ? true : false,
                  trueColor: '#3F73FF',
                  falseColor: '#D9D9D9',
                  'before-change': (e) => {
                    return new Promise((resolve) => {
                      this.$Modal.confirm({
                        title: '提示',
                        content: `此操作将${params.row.enabled ? '停用' : '启用'}【${params.row.nickname}】,是否继续?`,
                        onOk: () => {
                          resolve()
                        },
                      })
                    })
                  },
                },
                on: {
                  'on-change': async (e) => {
                    let id = params.row.id
                    const status = e ? 1 : 0
                    const res = await updateUserStatus(id, status)
                    if (res.data.state === 'success') {
                      this.$Message.success('更新用户状态成功')
                      await this.getUserList()
                    } else {
                      this.$Message.error('更新用户状态失败')
                    }
                  },
                },
                scopedSlots: {
                  open: () => h('span', '启用'),
                  close: () => h('span', '停用'),
                },
              })
            },
          },
          {
            title: '操作',
            key: 'action',
            width: 120,
            align: 'center',
            render: (h, params) => {
              const { dataOrigin, isEdit } = params.row
              let operationList = [
                h(dataOrigin === 1 && isEdit === 1 ? '' : 'img', {
                  attrs: {
                    src: resetImg,
                  },
                  style: {
                    verticalAlign: 'middle',
                    marginRight: '10px',
                    cursor: 'pointer',
                  },
                  on: {
                    click: () => {
                      this.resetWord(params.row)
                    },
                  },
                  directives: [
                    {
                      name: 'allow',
                      value: [1097044487832890],
                    },
                  ],
                }, '重置密码')
                ,
                h(dataOrigin === 1 && isEdit === 1 ? '' : 'img', {
                  attrs: {
                    src: editImg,
                  },
                  style: {
                    verticalAlign: 'middle',
                    marginRight: '10px',
                    cursor: 'pointer',
                  },
                  on: {
                    click: () => {
                      this.saveOrUpdate(params.row)
                    },
                  },
                  directives: [
                    {
                      name: 'allow',
                      value: [1097044487832578],
                    },
                  ],
                }, '修改'),
                h(dataOrigin === 1 ? '' : 'img', {
                  attrs: {
                    src: deleteImg,
                  },
                  style: {
                    verticalAlign: 'middle',
                    cursor: 'pointer',
                  },
                  on: {
                    click: () => {
                      this.remove(params.row)
                    },
                  },
                  directives: [
                    {
                      name: 'allow',
                      value: [1097044487832579],
                    },
                  ],
                }, '删除')]
              return h('div', operationList)
            },
          },
        ],
        userList: [],
        // 分页存储
        formPage: {
          page: 1,
          size: 10,
          total: 0,
        },
      }
    },
    watch: {
      searchContent(val) {
        let arr = JSON.parse(JSON.stringify(this.cloneTreeData))
        if (val) {
          let treeData = this.filterNode(val, arr)
          treeData = this.findSelected(this.selectedTreeId, treeData)
          // 相关节点展开
          this.treeData = this.setTreeNodeExpend(treeData)
        } else {
          this.treeData = deepCopy(arr)
        }
      },
    },
    mounted() {
      // 获取组织架构
      this.getDepartmentTree()
      // 获取人员信息
      this.getUserList()
    },
    methods: {
      searchList() {
        this.formPage.page = 1
        this.formPage.size = 10
        this.getUserList()
      },
      saveOrUpdate(row) {
        if (row) {
          this.$refs.saveOrUpdateUser.show(row)
        } else {
          this.$refs.saveOrUpdateUser.show()
        }
      },
      // 过滤树节点
      filterNode(val, List) {
        let List1 = List.filter(item => {
          if (item.children) {
            item.children = this.filterNode(val, item.children)
            if (!item.children.some(item1 => item1.title.indexOf(val) !== -1)) {
              if (item.children.some(item1 => item1.children)) {
                item.children.forEach(item2 => {
                  item2.children && this.filterNode(val, item2.children)
                })
              } else {
                return item.title.indexOf(val) > -1
              }
            }
            return true
          }
          return item.title.indexOf(val) > -1
        })
        return List1
      },
      // 回显选中的树节点
      findSelected(selectedId, arr) {
        arr.forEach(val => {
          if (selectedId === val.id) {
            val.selected = true
          }
          if (val.children && val.children.length > 0) {
            this.findSelected(selectedId, val.children)
          }
        })
        return arr
      },

      /**
       * 获取组织架构树
       */
      async getDepartmentTree() {
        const res = await getAuthDepartmentList()
        if (res.data.state === 'success') {
          let list = res.data.data
          list = list.map(item => ({
            ...item,
            id: item.id,
            parentId: item.groupId,
            title: item.name,
            expand: false,
            selected: false,
          }))
          this.treeData = this.buildTree(list, -1)
          this.selectedTreeId = getFirstNode(this.treeData).id
          this.cloneTreeData = deepCopy(this.treeData)
        }
      },

      /**
       * 构建树
       * @param list
       * @param parentId
       * @returns {*[]}
       */
      buildTree(list, parentId = null) {
        let tree = []

        for (let item of list) {
          if (item.parentId === parentId) {
            let children = this.buildTree(list, item.id)
            if (children.length > 0) {
              item.children = children
            }
            item.disabled = !item.auth
            item.expand = false
            item.selected = false
            tree.push(item)
          }
        }

        return tree
      },

      // 格式化组织架构，name转title
      depDataFormat(data) {
        data.forEach(item => {
          item.title = item.name
          if (item.children && item.children.length > 0) {
            this.depDataFormat(item.children)
          }
        })
        return data
      },
      // 点击组织架构节点
      onSelectDepChange(selectNodes, currentNode) {
        if (selectNodes.length > 0 && selectNodes[0].id !== -1) {
          this.searchDeptId = selectNodes[0].id
          this.selectedTreeId = selectNodes[0].id
        } else {
          this.searchDeptId = null
          this.selectedTreeId = -1
        }
        this.formPage.page = 1
        this.formPage.size = 10
        this.getUserList()
      },

      /**
       * 获取人员列表
       */
      async getUserList() {
        let params = {
          pageNum: this.formPage.page,
          pageSize: this.formPage.size,
        }
        if (this.searchData.nickname) {
          params.username = this.searchData.nickname
        }
        if (this.searchData.enabled != null) {
          params.enabled = this.searchData.enabled
        }
        if (this.searchDeptId != null) {
          params.deptId = [this.searchDeptId]
        }
        const res = await getUserListByDeptId(params)
        if (res.data.state === 'success') {
          this.userList = res.data.data.data
          // 若不存在编辑和删除按钮,则去掉操作列
          if (!this.getBtnAllow([1097044487832578, 1097044487832579])) {
            this.userColumns = this.userColumns.filter(col => col.title !== '操作')
          }
          this.formPage.total = res.data.data.count
        } else {
          this.$Message.error('获取人员列表失败！')
        }
      },
      remove(user) {
        this.$Modal.confirm({
          title: '删除',
          content: '<p>确定要删除用户【' + user.nickname + '】吗?</p>',
          onOk: async () => {
            const res = await deleteUser(user.id)
            if (res.data.state === 'success') {
              this.$Message.success('删除成功')
              let newTotal = this.formPage.total - 1
              let size = this.formPage.size
              if (newTotal > size && newTotal % size === 0) {
                this.formPage.page--
              }
              await this.getUserList()
            } else {
              this.$Message.error('删除失败')
            }
          },
        })
      },
      // 条数切换
      changeSize(current) {
        this.formPage.size = current
        this.getUserList()
      },
      // 切页
      changePage(current) {
        this.formPage.page = current
        this.getUserList()
      },
      renderContent(h, { root, node, data }) {
        return h('div', {
          class: 'common-wrap',
          style: {
            height: '32px',
          },
        }, [
          h('span',
            {
              style: {
                display: 'inline-block',
                width: '100%',
                height: '32px',
                lineHeight: '32px',
                overflow: 'hidden',
                textOverflow: 'ellipsis',
                whiteSpace: 'nowrap',
              },
              attrs: {
                title: `${data.title}`,
              },
            }, data.title),
        ])
      },
      resetWord(user) {
        this.$Modal.confirm({
          title: '重置密码',
          content: '确定“重置密码”吗？ 新密码将通过邮箱发送给用户。',
          onOk: () => {
            resetPassword(user.id).then(res => {
              if (res.data.state === 'success') {
                this.$Message.success('重置密码成功')
              } else {
                if (res.data?.message) {
                  this.$Message.error(res.data.message)
                }
              }
            })
          },
        })
      },
      setTreeNodeExpend(treeData) {
        treeData.forEach(item => {
          if (item.children && item.children.length) {
            item.expand = false
            this.setTreeNodeExpend(item.children)
          }
        })
        return treeData
      },
    },
  }
</script>

<style lang="less" scoped>
  /deep/ .ivu-table-cell {
    white-space: nowrap;
  }

  .mr {
    margin-right: 16px;
  }

  .mb10 {
    margin-bottom: 10px;
  }

  .prb {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-bottom: 12px;
  }

  .allUser {
    height: 100%;
    display: flex;
  }

  .center {
    width: 20%;
    height: 100%;
    background-color: #fff;
    margin-right: 2px;
    overflow: auto;
    padding: 24px;
  }

  .right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .right .rightSearch {
    color: #333333;
    display: flex;
    align-items: center;
  }

  /deep/ .ivu-tree-arrow-disabled {
    cursor: pointer;
  }
</style>

<style lang="scss">
// 同步按钮
.elButtonClass {
  height: 34px;
  margin-left: 16px;
  color: #3F73FF !important;
  min-width: 72px;
  border-color: #3F73FF !important;
  padding: 8px 10px;
  border-radius: 2px;
}
.tbyh {
	padding: 5px 0 0;
	font-size: 12px;
	.popItem {
		height: 34px;
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 0 10px;
		.svg-icon {
			width: 16px;
			height: 16px;
			margin-right: 8px;
		}
		&:hover {
			background-color: #ecf1ff;
			color: #3f73ff;
		}
		&.disablePop {
			cursor: not-allowed;
			opacity: 0.65;
			background-color: #fff;
			color: #949597;
		}
	}
	.footer {
		border-top: 1px solid #e3e9f1;
		padding: 10px;
		color: RGB(205, 210, 223);
	}
}
.clean-confirm {
	.el-message-box__content {
		font-size: 12px;
	}
	.el-message-box__status {
		font-size: 16px !important;
		top: 12px;
	}
	.el-message-box__message {
		padding-left: 25px;
	}
}
</style>
