<template>
  <div style="display: inline-block;" class="adduser">
    <Modal v-model="showModal" :width="750" style="border-radius: 8px;">
      <p slot="header">
        <span>{{ title }}</span>
      </p>
      <Form ref="userForm" class="menu-form" :model="userData" :rules="ruleValidate" :label-width="70"
            label-position="left" label-colon>
        <div class="title">
          <div class="blueTitle"></div>
          <div class="fontTitle">账户信息</div>
        </div>
        <Row>
          <Col span="12">
            <FormItem label="用户名" prop="username">
              <Input v-model.trim="userData.username" clearable placeholder="请输入用户名" style="width: 80%" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="昵称" prop="nickname">
              <Input v-model.trim="userData.nickname" clearable placeholder="请输入昵称" style="width: 80%" />
            </FormItem>
          </Col>
        </Row>
        <Row>
          <Col span="12">
            <FormItem label="手机号" prop="mobile">
              <Input v-model="userData.mobile" clearable placeholder="请输入手机号" maxlength="11" style="width: 80%" />
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="邮箱" prop="email">
              <Input v-model="userData.email" @on-focus="emailFocus" clearable placeholder="请输入邮箱" style="width: 80%" />
            </FormItem>
          </Col>
        </Row>
        <div class="title">
          <div class="blueTitle"></div>
          <div class="fontTitle">机构部门</div>
        </div>
        <Row>
          <Col span="12">
            <FormItem label="主属部门" prop="deptIds">
              <tree-select
                v-model="userData.deptIds"
                style="width: 80%"
                check-strictly
                :expand-all="false"
                :data="deptTreeData"
                :multiple="false"
              ></tree-select>
            </FormItem>
          </Col>
          <Col span="12">
            <FormItem label="管理部门" prop="manageDeptIds">
              <tree-select
                v-model="userData.manageDeptIds"
                style="width: 80%"
                check-strictly
                :expand-all="false"
                :data="manageDptTreeData"
                class="multipleSelect"
              ></tree-select>
            </FormItem>
          </Col>
        </Row>
        <div class="title">
          <div class="blueTitle"></div>
          <div class="fontTitle">角色</div>
        </div>
        <Row>
          <Col span="12">
            <FormItem label="角色" prop="roleIds">
              <Select v-model="userData.roleIds" multiple clearable style="width: 80%" class="multipleSelect">
                <OptionGroup v-for="(item, index) in roleList" :key="index" :label="item.name">
                  <Option v-for="roleItem in item.children" :value="roleItem.id" :key="roleItem.id">{{ roleItem.name }}</Option>
                </OptionGroup>
              </Select>
            </FormItem>
          </Col>
        </Row>
      </Form>
      <div slot="footer">
        <Button type="text" @click="() => this.showModal = false">取消</Button>
        <Button type="primary" @click="ok">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import TreeSelect from '@/components/tree-select'
import { addUser, updateUser } from '@/api/systemManagement/userManagement'
import { getGroupAndRole } from '@/api/systemManagement/roleManagement'
import { deepCopy, emailVerify } from '@/utils/common.js'
import { buildTree } from '@/libs/util'

export default {
  name: 'UserAddOrUpdate',
  components: { TreeSelect },
  props: {
    deptId: Number,
    departmentTreeData: Array,
  },
  data() {
    const emailValidator = (_, value, callback) => {
      if (!value) {
        callback('邮箱不能为空')
      } else if (this.emailError) {
        callback(new Error(this.emailError))
      } else if (!emailVerify(value)) {
        callback('邮箱无效')
      } else {
        callback()
      }
    }

    const nickNameValidator = (_, value, callback) => {
      const regEn = /[`~!@#$%^&*()_+<>?:"{},.\/;'[\]]/im,
        regCn = /[·！#￥（——）：；“”‘、，|《。》？、【】[\]]/im
      if (!value) {
        callback(new Error('昵称不能为空'))
      } else if (regEn.test(value) || regCn.test(value) || (value.length < 2) || (value.length > 16)) {
        callback('仅支持2-16位长度的数字、字母、汉字')
      } else {
        callback()
      }
    }

    return {
      userData: {
        email: '',
        sort: '',
        mobile: '',
        nickname: '',
        username: '',
        roleIds: [],
        deptIds: [],
        manageDeptIds: [],
      },
      manageDptTreeData: [], // 管理部门树
      deptTreeData: [], // 主属部门树
      cloneTreeData: [],
      roleList: [], // 角色列表
      title: undefined,
      showModal: false,
      emailError: '',//邮箱错误的提醒
      roleId: undefined,
      id: undefined,
      ruleValidate: {
        nickname: [{ required: true, validator: nickNameValidator, trigger: 'blur' }],
        email: [{ required: true, validator: emailValidator, trigger: 'blur' }],
        username: [{ required: true, message: '用户名不能为空', trigger: 'blur' },
          { message: '仅支持3-16位长度的数字、大小写字母组合', pattern: /^[0-9A-Za-z]{3,16}$/, trigger: 'blur' },
        ],
        mobile: [
          {
            pattern: /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-79])|(?:5[0-35-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[189]))\d{8}$/,
            message: '请输入正确的手机号',
            trigger: 'blur',
          },
        ],
        deptIds: [{ required: true, message: '请选择主属部门' }],
      },
    }
  },
  watch: {
    departmentTreeData(val) {
      this.deptTreeData = deepCopy(val)
      this.manageDptTreeData = deepCopy(val)
    },
  },
  mounted() {
    this.getRoleList()
  },
  methods: {
    /**
     * 获取角色列表
     */
    async getRoleList() {
      const res = await getGroupAndRole()
      if (res.data.state === 'success') {
        const { sysGroupList, sysRoleList } = res.data.data
        this.roleTypeList = sysGroupList.map(item => ({ ...item, id: Number(item.id) }))
        let list = [
          ...sysGroupList.map(item => ({ ...item, parentId: -1, id: Number(item.id) })),
          ...sysRoleList.map(item => ({ ...item, parentId: item.groupId, id: Number(item.id) })),
        ]
        this.roleList = buildTree(list, -1)
      } else {
        this.$Message.error('获取角色列表失败！')
      }
    },

    // 格式化组织架构，name转title
    depDataFormat(data) {
      data.forEach(item => {
        item.title = item.name
        if (item.children && item.children.length > 0) {
          this.depDataFormat(item.children)
        }
      })
      return data
    },
    show(params) {
      console.log(params, 'params')
      this.$refs['userForm'].resetFields()
      if (params instanceof MouseEvent) {
        this.title = '新建用户'
        this.id = undefined
        this.userData.username = undefined
        this.userData.nickname = undefined
        this.userData.mobile = undefined
        this.userData.roleIds = []
        this.userData.deptIds = []
        this.userData.manageDeptIds = []
        this.userData.email = ''
        this.userData.sort = ''
        this.showModal = true
        // 模拟编辑时调取接口
        setTimeout(() => {
          this.userData.deptIds = [parseInt(this.deptId)]
        }, 500)
      } else {
        this.title = '编辑用户'
        this.userData.username = params.name
        this.userData.nickname = params.nickname
        this.userData.mobile = params.mobile
        this.id = params.id
        this.userData.email = params.email
        this.userData.deptIds = []
        this.userData.manageDeptIds = []
        this.showModal = true
        this.userData.deptIds = params.belongToDept?.map(item => Number(item.id)) ?? []
        this.userData.manageDeptIds = params.manageDept?.map(item => Number(item.id)) ?? []
        this.userData.roleIds = params.role?.map(item => Number(item.id)) ?? []
      }

    },
    ok() {
      this.$refs['userForm'].validate(async valid => {
        if (valid) {
          let params = {
            username: this.userData.username,
            nickname: this.userData.nickname,
            mobile: this.userData.mobile,
            email: this.userData.email,
            roleIds: this.userData.roleIds,
            deptIds: this.userData.deptIds,
            manageDeptIds: this.userData.manageDeptIds,
          }
          let user = localStorage.getItem('user')
          if (user) {
            user = JSON.parse(user)
            params.creater = user.username
          }
          if (this.id) {
            params.id = this.id
          }
          const request = this.id ? updateUser : addUser
          const res = await request(params)
          if (res.data.state === 'success') {
            this.$emit('refreshUser')
            this.$Message.success(this.id ? '修改成功' : '创建成功')
            this.showModal = false
          } else {
            if (res.data?.message) {
              this.$Message.error(res.data.message)
            }
          }
        } else {
          this.$Message.warning('请校验信息是否填写完整')
        }
      })
    },
    emailFocus() {
      if (this.emailError) {
        this.emailError = ''
      }
    },
  },
}
</script>

<style lang="less" scoped>
.user-form-item {
  margin-bottom: 10px;
  align-items: center;
}

.user-form-item-label {
  display: inline-block;
  width: 60px;
  padding-right: 8px;
}

/deep/ .ivu-modal-content {
  border-radius: 8px;
}

// Modal表头样式
/deep/ .ivu-modal-header {
  border-radius: 8px 8px 0 0;
  padding: 14px 24px;
}

/deep/ .ivu-modal-header p {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #333333;
  height: 20px;
  line-height: 20px;
}

/deep/ .ivu-modal-close .ivu-icon-ios-close {
  color: #333333;
}

/deep/ .ivu-modal .ivu-btn {
  width: 72px;
  border-radius: 2px;
}

/deep/ .ivu-modal .ivu-btn.ivu-btn-primary {
  background-color: #3F73FF;
  border-color: #3F73FF;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

.menu-form > .title {
  margin-bottom: 24px;
}

.menu-form.ivu-form /deep/ .ivu-form-item-label {
  padding-right: 0;
}

.title {
  display: flex;
  line-height: 14px;
}

.blueTitle {
  width: 3px;
  height: 14px;
  background: #007AFF;
}

.fontTitle {
  font-size: 14px;
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.85);
}

// 多选限制高度最多两行
.multipleSelect.ivu-select-default.ivu-select-multiple /deep/ .ivu-select-selection {
  min-height: 34px;
  max-height: 64px;
  overflow: auto;
}

.multipleSelect /deep/ i.ivu-select-arrow {
  top: 9px;
  transform: none;
}

/deep/ .ivu-form .ivu-form-item {
  margin-bottom: 24px !important;
}
</style>
