<template>
 <div>
   <div class="row-left-right-pos">
     <div>较上日环比</div>
     <Tooltip placement="bottom" theme="light">
       <Button icon="md-add">指标</Button>
       <div slot="content">
         <CheckboxGroup v-model="dayChainRatio" @on-change="onDayChainRatioChange">
           <Checkbox v-for="item in currentSelectChartIndicators" :key="item.id"
                     :label="item.id" style="display: block;margin-top: 10px;">{{item.label}}</Checkbox>
         </CheckboxGroup>
       </div>
     </Tooltip>
   </div>
   <div class="day-select-indicators">
     <div class="day-select-indicator" v-for="item in daySelectIndicators" :key="item.id">
       <div>{{item.label}}</div>
       <div style="cursor: pointer" title="移除" @click="handleDayClose(item)"><Icon type="md-close" /></div>
     </div>
   </div>
 </div>
</template>

<script>
import _ from "lodash";

export default {
  name: "TextareaChainRatio",
  data() {
    return {
      // indicatorOptions: [], // 文本框选择的指标
      dayChainRatio: [], // 日环比复选框选中的指标
      // daySelectIndicators: [], // 展示日环比选中的指标列表
      monthChainRatio: [],
      monthSelectIndicators: []
    }
  },
  props: {
    chartId: {
      type: String,
      default: null
    },
    dataConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    }
  },
  computed: {
    currentSelectChart() {
      const currentSelectChart = this.$store.state.chart && this.$store.state.chart.currentSelectChart
      return currentSelectChart
    },
    currentSelectChartIndicators: function () {
      return this.dataConfigs.indicators
    },
    daySelectIndicators: function () {
      return this.dataConfigs.daySelectIndicators
    },
  },
  mounted() {
    this.dayChainRatio = this.daySelectIndicators && this.daySelectIndicators.map(item => item.id)
  },
  methods: {
    handleDayClose: function (indicator) {
      const daySelectIndicators = this.daySelectIndicators.filter(item => item.id !== indicator.id)
      this.dayChainRatio = daySelectIndicators.map(item => item.id)
      this.$set(this.currentSelectChart.data.configData, 'daySelectIndicators', daySelectIndicators)
    },
    onDayChainRatioChange: function (selectValues) {
      const daySelectIndicators = selectValues.map(item => {
        const indicator = _.find(this.currentSelectChartIndicators, option => option.id === item)
        return {
          ...indicator
        }
      })
      // 被选中的指标，在文本框指标值后面加“(较上日 YYYXXX)”）http://129.211.167.119/zentao/task-view-42.html
      this.$set(this.currentSelectChart.data.configData, 'daySelectIndicators', daySelectIndicators)
    },
    handleMonthClose: function (indicator) {
    },
    onMonthChainRatioChange: function () {
    },
    refreshIndicatorOptions: function (indicatorOptions) {
      this.indicatorOptions = indicatorOptions.map(item => {
        return {
          ...item
        }
      })
      this.daySelectIndicators = this.daySelectIndicators.filter(item => {
        const findObj = _.find(this.indicatorOptions, option => option.id === item.id)
        if (findObj) {
          return item
        }
      })
    }
  },
  watch: {
    daySelectIndicators: {
        handler: function (val, oldval) {
          if (this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
            this.dayChainRatio = val.map(item => item.id)
          }
        },
        deep: true
      }
  }
}
</script>

<style scoped>
.row-left-right-pos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.day-select-indicators{
  margin-top: 10px;
}
.day-select-indicator{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border: 1px solid #E4E4E4;
  padding: 0 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}
</style>
