<template>
  <div class="header">
    <div class="title">权限管理</div>
<!--    <img class="setting" :src="openAuthorization ? iconSettingActive : iconSetting" @click="onSetting" />-->
  </div>
</template>

<script>
import iconSetting from '@/assets/icons/authorizationManagement/icon_setting.svg'
import iconSettingActive from '@/assets/icons/authorizationManagement/icon_setting_active.svg'

export default {
  name: 'Header',
  data() {
    return {
      openAuthorization: false,
      iconSettingActive,
      iconSetting,
    }
  },
  methods: {
    /**
     * 开启/关闭分级授权
     */
    onSetting() {
      let title = '', content = ''
      if (this.openAuthorization) {
        title = '是否关闭授权功能？'
        content = '关闭分级授权功能，已赋权模块仍作保留，授权列隐藏。'
      } else {
        title = '是否开启分级授权功能？'
        content = '开启分级授权功能，权限实体下出现授权列。'
      }
      this.$Modal.confirm({
        title,
        content,
        onOk: () => {
          this.openAuthorization = !this.openAuthorization
        },
      })
    },
  },
}
</script>

<style scoped lang="less">
.header {
  padding-top: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    margin-left: 24px;
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
    }

    &:before {
      background: #3F73FF;
      left: -21px;
      top: 5px;
    }

    &:after {
      opacity: 0.47;
      background: #3F73FF;
      left: -24px;
      top: 2px;
    }
  }

  .setting {
    margin-right: 20px;
    cursor: pointer;
  }
}
</style>
