<template>
  <front-login ref="frontLogin">
    <!-- <register-form
      @login-callback="loginFun"
      @on-success-valid="handleSubmit"
      @agreementFun="agreementFun"
    /> -->
    <PhoneVerification @agreementFun="agreementFun" v-if="codenum === 1" @onSuccessPhone="onSuccessPhone" />
    <AccountInformation @agreementFun="agreementFun" v-else-if="codenum === 2" :detilesForm="form" @onSuccessAccount="onSuccessAccount" />
    <EnterpriseInformation @agreementFun="agreementFun" v-else-if="codenum === 3" :detilesForm="form" @onSuccessEnterprise="onSuccessEnterprise" />
    <amend-password-success v-else  title="恭喜您！注册用户成功" />
  </front-login>
</template>

<script>
import FrontLogin from "_c/front-login";
import AmendPasswordSuccess from "_c/amend-password-success";
import { mapActions } from "vuex";
import PhoneVerification from "./components/phoneVerification";
import AccountInformation from "./components/accountInformation";
import EnterpriseInformation from "./components/enterpriseInformation";

export default {
  components: {
    FrontLogin,
    AmendPasswordSuccess,
    PhoneVerification,
    AccountInformation,
    EnterpriseInformation,
  },
  data() {
    return {
      codenum : 1 , // 1 手机验证 2 账户信息 3 企业信息 4 注册成功
      form : {
        phone : "" ,
        authcode : '' ,
        password : '' ,
        username : '' ,
        email : '' ,
        nickname : '' ,
        companyName : '' ,
      }
    };
  },
  methods: {
    ...mapActions(["handleRegister"]),
    onSuccessPhone(val){
      this.form.phone = val.phone ;
      this.form.authcode = val.authCode ;
      this.codenum = 2 ;
    },
    onSuccessAccount(val){
      this.form.password = val.password ;
      this.form.username = val.username ;
      this.codenum = 3 ;
    },
    onSuccessEnterprise(val){
      this.codenum = 4 ;
    },
    // handleSubmit({ username, password, mail, phone, authCode, successFun, errorFun }) {
    //   let params = {
    //     username,
    //     password,
    //     email: mail,
    //     mobile: phone,
    //     verifyCode: authCode,
    //   };
    //   this.handleRegister(params).then((res) => {
    //     if (res.data.state === "success") {
    //       successFun();
    //     } else {
    //       errorFun(res.data.message);
    //     }
    //   });
    // },
    agreementFun() {
      console.log("agreementFun");
      this.$refs.frontLogin.switchFun();
    },

    registerSuccess() {
      this.$router.push({
        path: "/login",
      });
    },
  },
};
</script>

<style>
.assistWord {
  color: #a1a5bf;
}
</style>
