<template>
  <div class="allResources">
    <div style="width: 20%;height: 100%;padding: 24px;margin-right: 2px;border-radius: 2px;background-color: #fff;">
      <!-- <template v-slot:add> -->
        <div class="boxTitle" style="margin-bottom: 24px;">功能权限</div>
        <Input v-if="tabVal === 'role'" v-model="searchRoleValue" search clearable placeholder="请输入内容" style="margin-bottom: 8px;" @on-search="onSearchRole"/>
        <Input v-else-if="tabVal === 'user'" search clearable placeholder="请输入内容" style="margin-bottom: 8px;" @on-search="onSearchUser"/>
        <Tabs v-model="tabVal" class="tabsClass" :animated="false" style="height: calc(100% - 96px);" @on-click="onTabsClick">
          <TabPane label="角色" name="role">
            <Tree class="roleTree" :data="roleTreeData" :render="renderContent" @on-select-change="onSelectRoleChange"></Tree>
          </TabPane>
          <TabPane label="用户" name="user">
            <Table :columns="userColumns" :data="userList" class="mb10"></Table>
            <div class="prb">
              <Page class="pageClass mb10" v-if="formPage.total > 0" :total="formPage.total" @on-change="changePage"/>
            </div>
          </TabPane>
        </Tabs>
      <!-- </template> -->
    </div>
    <div style="width: 80%;height: 100%;overflow: auto;border-left: 1px solid #ececec;padding: 24px;border-radius: 2px;background-color: #fff;">
      <div class="rightTopButton">
        <span class="boxTitle">
          {{ tabVal === 'role' ? currentNode.title : userTitle }}
        </span>
        <Button type="primary" :disabled="buttonDisabled" @click="emPower()" v-allow="[1097044487832580]">赋权</Button>
      </div>
      <div class="right">
        <Tree ref="resourcesTree" :data="resourcesTreeData" show-checkbox check-strictly @on-check-change="handleCheckChange"></Tree>
      </div>
    </div>
  </div>
</template>

<script>
import Container from '../Container'
import { getCheckedResIdsByRoleId, bindResToRole, getResIdsByUserId } from "@/api/systemManagement/role.js";
import { listGroupRole } from '@/api/systemManagement/roleManagement'
import { getUserListAll } from "@/api/systemManagement/system.js";
import { getRootRes } from '@/api/systemManagement/menuManagement'
export default {
  components: { Container },
  data() {
    return {
      buttonDisabled: true,
      tabVal: 'role',
      searchRoleValue: '',
      selectedRoleId: null,
      roleTreeData: [],
      cloneRoleTreeData: [],
      currentNode: {},
      resourcesTreeData: [],
      cloneResourcesTreeData: [],
      cloneRoleResourcesTreeData: [],
      cloneUserResourcesTreeData: [],
      userList: [],
      currentChoose: null,
      userTitle: '',
      userColumns: [
        {
          title: ' ',
          width: 40,
          align: 'center',
          render: (h, params) => {
            let id = params.row.id;
            let userTitle = params.row.username
            let flag = false
            if(this.currentChoose === id){
              flag = true
            } else {
              flag = false
            }
            let self = this
            return h('div',[
              h('Radio',{
                props: {
                  value: flag
                },
                on: {
                  'on-change': () => {
                    self.currentChoose = id
                    this.buttonDisabled = false
                    this.userTitle = userTitle
                    let params = {
                      userId: id
                    }
                    getResIdsByUserId(params).then(res => {
                      if(res.data.state === "success"){
                        let selectResIds = res.data.data;
                        let resourcesTreeData = JSON.parse(JSON.stringify(this.cloneResourcesTreeData))
                        resourcesTreeData.forEach(item => {
                          if(item.children && item.children.length>0){
                            // 如果存在children，判断如果根节点下的children存在勾选的节点，则根节点也要勾选
                            if(this.findRootChecked(item.children, selectResIds)){
                              selectResIds.push(item.id)
                            }
                          }
                        })
                        this.resourcesTreeData = this.setCheckedTreeNode(resourcesTreeData, selectResIds)
                      }
                    })
                  }
                }
              })
            ])
          }
        },
        {
          title: '工号',
          key: 'username'
        },
        {
          title: '用户名',
          key: 'nickname'
        }
      ],
      formPage: {
        page: 1,
        size: 10,
        total: 0
      }
    }
  },
  watch: {
    searchRoleValue(val){
      let arr = JSON.parse(JSON.stringify(this.cloneRoleTreeData))
      let roleTreeData = this.filterNode(val, arr)
      this.roleTreeData = this.findSelected(this.selectedRoleId, roleTreeData)
    }
  },
  mounted() {
    this.getRoleList()
    this.getUserList()
    this.getTree()
  },
  methods: {
    getRoleList() {
      listGroupRole().then(res => {
        if(res.data.state === "success"){
          let roleTreeData = res.data.data;
          roleTreeData.forEach(item => {
            item.expand = true
            item.disabled = true
          })
          this.cloneRoleTreeData = JSON.parse(JSON.stringify(roleTreeData))
          for(let i=0; i<roleTreeData.length; i++){
            let item = roleTreeData[i]
            if(item.children && item.children.length > 0){
              this.buttonDisabled = false
              item.children[0].selected = true
              this.selectedRoleId = item.children[0].id
              this.currentNode = item.children[0]
              this.getCheckedResIdsByRoleId()
              break
            }
          }
          this.roleTreeData = roleTreeData;
        }
      })
    },
    // 用户，角色切换时，右侧回显
    onTabsClick(name){
      if(name === 'user'){
        this.cloneRoleResourcesTreeData = JSON.parse(JSON.stringify(this.resourcesTreeData))
        // 到用户上
        if(this.cloneUserResourcesTreeData.length > 0){
          this.resourcesTreeData = JSON.parse(JSON.stringify(this.cloneUserResourcesTreeData))
        } else {
          this.resourcesTreeData = JSON.parse(JSON.stringify(this.cloneResourcesTreeData))
        }
      } else if(name === 'role'){
        this.cloneUserResourcesTreeData = JSON.parse(JSON.stringify(this.resourcesTreeData))
        // 到角色上
        if(this.cloneRoleResourcesTreeData.length > 0){
          this.resourcesTreeData = JSON.parse(JSON.stringify(this.cloneRoleResourcesTreeData))
        } else {
          this.resourcesTreeData = JSON.parse(JSON.stringify(this.cloneResourcesTreeData))
        }
      }
    },
    // 点击左侧角色菜单的某一项
    onSelectRoleChange(selectNodes, currentNode) {
      if(currentNode.children && currentNode.children.length > 0){
        this.buttonDisabled = true
        this.currentNode = {}
        this.resourcesTreeData = JSON.parse(JSON.stringify(this.cloneResourcesTreeData))
      } else {
        this.buttonDisabled = false
        this.currentNode = JSON.parse(JSON.stringify(currentNode))
        this.selectedRoleId = currentNode.id
        this.getCheckedResIdsByRoleId()
      }
    },
    // 查询角色树形结构，前端过滤
    onSearchRole(e){
      let arr = JSON.parse(JSON.stringify(this.cloneRoleTreeData))
      let roleTreeData = this.filterNode(e, arr)
      this.roleTreeData = this.findSelected(this.selectedRoleId, roleTreeData)
    },
    // 过滤树节点
    filterNode(val, List){
      let List1 = List.filter(item => {
        if(item.children) {
          item.children = this.filterNode(val, item.children)
          if(!item.children.some(item1 => item1.title.indexOf(val) !== -1)) {
            if(item.children.some(item1 => item1.children)) {
              item.children.forEach(item2 => {
                item2.children && this.filterNode(val, item2.children)
              })
            } else {
              return item.title.indexOf(val) > -1
            }
          }
          return true
        }
        return item.title.indexOf(val) > -1
      })
      return List1
    },
    // 回显选中的树节点
    findSelected(selectedId, arr) {
      arr.forEach(val => {
        if(selectedId === val.id){
          val.selected = true
        }
        if(val.children && val.children.length>0){
          this.findSelected(selectedId, val.children);
        }
      })
      return arr
    },
    getCheckedResIdsByRoleId() {
      let params = {
        roleIds: this.currentNode.id
      }
      getCheckedResIdsByRoleId(params).then(res => {
        if(res.data.state === "success"){
          let selectResIds = res.data.data;
          let resourcesTreeData = JSON.parse(JSON.stringify(this.cloneResourcesTreeData))
          resourcesTreeData.forEach(item => {
            if(item.children && item.children.length>0){
              // 如果存在children，判断如果根节点下的children存在勾选的节点，则根节点也要勾选
              if(this.findRootChecked(item.children, selectResIds)){
                selectResIds.push(item.id)
              }
            }
          })
          this.resourcesTreeData = this.setCheckedTreeNode(resourcesTreeData, selectResIds)
        }
      })
    },
    // 查找系统菜单和业务菜单是否勾选
    findRootChecked(arr, ids){
      for(let i=0; i<arr.length; i++){
        let item = arr[i]
        if(ids.indexOf(item.id) !== -1){
          return true
        } else if(item.children && item.children.length>0){
          this.findRootChecked(item.children, ids)
        }
      }
      return false
    },
    // 默认回显有权限的菜单
    setCheckedTreeNode(data, checkedData) {
      data.forEach(val => {
        if(checkedData.indexOf(parseInt(val.id)) !== -1){
          val.checked = true
        }
        if(val.children && val.children.length>0){
          this.setCheckedTreeNode(val.children, checkedData);
        }
      })
      return data
    },
    // 点击赋权按钮
    emPower() {
      let node = this.$refs.resourcesTree.getCheckedAndIndeterminateNodes()
      let checkedResIds = node.filter(obj => {
        return obj.id !== -1 && obj.id !== -2
      }).map(obj => {
        return obj.id
      })
      let params = {
        resIds: checkedResIds
      }
      if(this.tabVal === 'role'){
        params.roleId = this.currentNode.id
      } else if(this.tabVal === 'user'){
        params.userId = parseInt(this.currentChoose)
        if(this.currentChoose == null){
          this.$Message.warning('请选择要赋权的用户')
          return
        }
      }
      bindResToRole(params).then(res => {
        if(res.data.state === "success"){
          this.$Message.success("赋权成功")
        }
      })
    },
    // 查询用户
    onSearchUser(e) {
      this.formPage.page = 1
      this.formPage.size = 10
      this.getUserList(e)
    },
    // 获取用户
    getUserList(searchVal) {
      let params = {
        currentPage: this.formPage.page,
        pageSize: this.formPage.size
      }
      if(searchVal){
        params.username = searchVal
      }
      getUserListAll(params).then(res => {
        if(res.data.state === "success"){
          this.userList = res.data.data.records
          this.formPage.total = res.data.data.total
        }
      })
    },
    // 切页
    changePage(current) {
      this.formPage.page = current;
      this.getUserList()
    },
    // 获取右侧的菜单,构造为树形结构
    getTree() {
        getRootRes().then(res => {
          let menus = res.data.data
          let systemMenus = menus.filter(menu => menu.pid === -1 && menu.type === 4)
            .map(menu => {
              return {
                id: menu.id,
                title: menu.name,
                type: menu.type,
                hidden: menu.hidden ? 'true' : 'false',
                sort: menu.sort,
                isBlank: menu.type === 2 ? 'true' : 'false',
                path: menu.path,
                pid: -1,
                pName: '',
                configData: JSON.parse(menu.configData)
              }
            })
          systemMenus.sort((i, j) => i.sort - j.sort)
          this.recursiveMenu(systemMenus, menus)
          let businessMenus = menus.filter(menu => menu.pid === -1 && menu.type !== 4)
            .map(menu => {
              return {
                id: menu.id,
                title: menu.name,
                type: menu.type,
                hidden: menu.hidden ? 'true' : 'false',
                sort: menu.sort,
                isBlank: menu.type === 2 ? 'true' : 'false',
                path: menu.path,
                pid: -1,
                pName: '',
                configData: JSON.parse(menu.configData)
              }
            })
          businessMenus.sort((i, j) => i.sort - j.sort)
          this.recursiveMenu(businessMenus, menus)
          let rootMenu = [{
            id: -1,
            title: '系统菜单',
            children: systemMenus,
            expand: true
          },{
            id: -2,
            title: '业务菜单',
            children: businessMenus,
            expand: true
          }]
          this.resourcesTreeData = rootMenu
          this.cloneResourcesTreeData = JSON.parse(JSON.stringify(rootMenu))
        })
      },

      recursiveMenu(menus, totalMenus) {
        menus.forEach(menu => {
          let children = totalMenus
            .filter(bm => bm.pid == menu.id)
            .map(menuItem => {
              let obj = {}
              if(menuItem.type === 6){
                obj = {
                  id: menuItem.id,
                  title: menuItem.name,
                  type: menuItem.type,
                  pid: menu.id
                }
              } else {
                obj = {
                  id: menuItem.id,
                  title: menuItem.name,
                  type: menuItem.type,
                  hidden: menuItem.hidden ? 'true' : 'false',
                  sort: menuItem.sort,
                  path: menuItem.path,
                  isBlank: menuItem.type === 2 ? 'true' : 'false',
                  pid: menu.id,
                  pName: menu.title,
                  configData: JSON.parse(menuItem.configData)
                }
              }
              return obj
            })

          if (menu.type === 0) {
            let modules = totalMenus
              .filter(bm => bm.pid == menu.id && (bm.type === 1 || bm.type === 3))
              .map(menuItem => {
                return {
                  id: menuItem.id,
                  name: menuItem.name,
                  type: menuItem.type,
                  sort: menuItem.sort,
                  path: menuItem.path,
                  pid: menu.id,
                  configData: JSON.parse(menuItem.configData)
                }
              })
            if (modules.length > 0) {
              menu.modules = modules
            } else {
              menu.modules = []
            }

          }

          children.sort((i, j) => i.sort - j.sort)
          if (children.length > 0) {
            menu.children = children
            this.recursiveMenu(children, totalMenus)
          }
        })
      },
    renderContent(h, { root, node, data }) {
      return h("div", {
        class: 'common-wrap',
        style: {
          height: '32px'
        }
      }, [
        h('span',
        {
          style: {
            display: 'inline-block',
            width: '100%',
            height: '32px',
            lineHeight: '32px',
            overflow: 'hidden',
            textOverflow: 'ellipsis',
            whiteSpace: 'nowrap'
          },
          attrs: {
            title: `${data.title}`
          }
        }, data.title)
      ])
    },
    handleCheckChange(arr, node) {
      let selected = arr.map(item => {return item.id}).indexOf(node.id)
      if(selected !== -1){
        // 勾选
        // 子节点只要被选中，父节点就被勾选
        this.checkedParent(this.resourcesTreeData, node.id)
        // 处理子节点为全部选中
        if(node.children && node.children.length > 0){
          this.uniteChildSame(node.children, true)
        }
      } else {
        // 取消勾选，处理子节点全部未选中
        if(node.children && node.children.length > 0){
          this.uniteChildSame(node.children, false)
        }
      }
    },
    checkedParent(array, id){
      for(let i=0; i<array.length; i++){
        let item = array[i]
        if(item.id === id){
          return true
        } else if(item.children && item.children.length > 0){
          if(this.checkedParent(item.children, id)){
            this.$set(item, 'checked', true)
            this.checkedParent(this.resourcesTreeData, item.id)
          }
        }
      }
      return false
    },
    uniteChildSame(array, isSelected){
      for(let i=0; i<array.length; i++){
        let item = array[i]
        this.$set(item, 'checked', isSelected)
        if(item.children && item.children.length > 0){
          this.uniteChildSame(item.children, isSelected)
        }
      }
    }
  }
}
</script>
<style scoped lang="less">
.mb10 {
  margin-bottom: 10px;
}
.prb {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.allResources {
  height: 100%;
  display: flex;
}
.center {
  width: 20%;
  height: 100%;
  background-color: #fff;
  margin-right: 2px;
}
/deep/ .ivu-tabs-nav-scroll{
  display:flex;
  justify-content:center;
}
/deep/ .ivu-tabs-content{
  height: 88%;
  overflow: auto;
}
/* 左侧树形结构 */
.ivu-tree /deep/ .ivu-tree-arrow i{
  content: url("../../../assets/images/system/treePlus.svg");
  transform: none;
}
.ivu-tree /deep/ .ivu-tree-arrow-open i{
  content: url("../../../assets/images/system/treeMinus.svg");
}
.ivu-tree /deep/ .ivu-tree-title{
  padding: 0 8px;
}
.ivu-tree /deep/ .ivu-checkbox-wrapper{
  margin-left: 8px;
  margin-right: 0;
}
.rightTopButton {
  width: 100%;
  margin-bottom: 24px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}
.rightTopButton .ivu-btn.ivu-btn-primary{
  width: 72px;
  border-radius: 2px;
  background-color: #3F73FF;
  border-color: #3F73FF;
}
.tabsClass /deep/ .ivu-tabs-nav .ivu-tabs-tab-active{
  color: #3F73FF;
}
.tabsClass /deep/ .ivu-tabs-ink-bar{
  background-color: #3F73FF;
}
</style>
