<template>
  <div class="headLine-container">
    <RadioGroup class="radioGroupWrapper" v-model="taskForm.taskType">
      <Radio :label="1" :disabled="isDisabled(taskForm, 1)">预警</Radio>
      <Radio :label="2" :disabled="isDisabled(taskForm, 2)">目标</Radio>
    </RadioGroup>

    <section class="row">
      <div class="nameWrapper">
        <span class="leftTitle">任务名称：</span>
        <Input v-model.trim="taskForm.name" maxlength="15" placeholder="请输入" style="width: 160px" />
      </div>
      <div class="managerWrapper">
        <span class="leftTitle">负责人：</span>
        <SearchMemberSelect v-model="taskForm.userName" />
      </div>
    </section>
  </div>
</template>

<script>
import SearchMemberSelect from "@/view/components/SearchMemberSelect";

export default {
  props: {
    taskForm: {
      type: Object,
      required: true
    }
  },
  components: {
    SearchMemberSelect
  },
  computed: {
    isDisabled() {
      return ({ taskType, isLockTaskType }, val) => isLockTaskType && val !== taskType;
    }
  }
};
</script>

<style lang="less" scoped>
.headLine-container {
  width: 100%;
  height: 100%;
  /deep/.radioGroupWrapper {
    margin-bottom: 16px;
    .ivu-radio-wrapper {
      margin-right: 58px;
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #333333;
      .ivu-radio {
        margin-right: 8px;
      }
    }
  }
  .row {
    display: flex;
    .nameWrapper,
    .managerWrapper {
      display: flex;
      align-items: center;
      .leftTitle {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
        letter-spacing: 0;
      }
    }
    .nameWrapper {
      margin-right: 32px;
    }
    .managerWrapper {
      .searchMemberSelect-container {
        width: 220px;
        height: 32px;
      }
    }
  }
}
</style>
