<template>
  <div class="file-list">
    <Table class="table" :columns="columns" :data="fileList">
      <template slot-scope="{ row }" slot="updateTime">{{ getUpdateTimeStr(row.updateTime) }}</template>
      <template slot-scope="{ row, index }" slot="action">
        <Button class="action-btn" type="text" @click="onUpdate(row)">更新</Button>
        <Button class="action-btn" type="text" @click="onDelete(row)">删除</Button>
      </template>
    </Table>

    <FileUpload
      ref="fileUpload"
      :fileDataset="fileDataset"
      :file-list="fileListBak"
      @cancelFileSet="cancelFileSet"
      @successAdded="successAdded" />
    <!--  确认删除弹框  -->
    <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList" />
  </div>
</template>

<script>
import FileUpload from '@/view/dataset/Build/DataSource/FileSetList/FileUpload/index.vue'
import DeleteAssetModal from '@/view/components/DeleteAssetModal/index.vue'
import { mapActions, mapState } from 'vuex'
import { fieldConfigTableColumns } from '@/view/dataset/Build/DataSource/FileSetList/FileUpload/constant'
import deleteAsset from '@/mixins/deleteAsset'
import { TYPE_FILE } from '@/view/components/DeleteAssetModal/constant'
import { deleteFileDataset, fileDetail, getFileList } from '@/api/dataset'
import { deepCopy } from '@/utils/common'
import moment from 'moment'

export default {
  name: 'FileList',
  components: {
    FileUpload,
    DeleteAssetModal,
  },
  mixins: [deleteAsset],
  data() {
    return {
      columns: [
        { title: '名称', key: 'name' },
        { title: '创建人', key: 'creator', width: 200 },
        { title: '修改时间', slot: 'updateTime', width: 200 },
        { title: '操作', slot: 'action', align: 'center', width: 200 },
      ],
      fileList: [],
      fileListBak: [], // 全量文件列表备份，用于搜索
      fileDataset: {
        list: [],
        path: '',
        method: 'post',
        showAdd: false,
        showList: false,
        title: '文件查看',
        data: {
          fileName: '',
          targetTable: '',
          dateColumnName: null,
        },
        dataPreviewTable: {
          columns: [],
          data: [], // 只预览前10行数据
        },
        allDataPreview: {}, // 所有的文件预览数据
        fieldConfigTable: {
          columns: fieldConfigTableColumns,
          data: [],
        },
        file: {},
      },
    }
  },
  computed: {
    ...mapState('dataset', ['dataSource']),
  },
  watch: {
    dataSource() {
      this.getFileList()
    },
  },
  mounted() {
    if (this.dataSource) {
      this.getFileList()
    }
    this.$bus.$on('update-file-list-index', this.getFileList)
  },
  beforeDestroy() {
    this.$bus.$off('update-file-list-index', this.getFileList)
  },
  methods: {
    ...mapActions('dataset', ['setTableId']),

    // 查询
    onSearch(name) {
      this.fileList = this.fileListBak.filter(item => item.name.indexOf(name) > -1)
    },

    // 上传文件--新增
    onUploadFile() {
      this.fileDataset.showAdd = true
      this.fileDataset.title = '文件上传'
    },

    // 获取文件列表
    async getFileList() {
      const res = await getFileList(this.dataSource)
      if (res.data.state === 'success') {
        this.fileList = res.data.data.map(item => ({
          id: item.tableId,
          name: item.name,
          label: item.name,
          creator: item.creator,
          updateTime: item.updateTime,
        }))
        this.fileListBak = deepCopy(this.fileList)
      } else {
        this.$Message.error('获取文件列表失败')
      }
    },

    // 获取修改时间
    getUpdateTimeStr(updateTime) {
      return moment(updateTime).format('YYYY.MM.DD HH:mm:ss')
    },

    // 更新
    async onUpdate(row) {
      const { data: res } = await fileDetail(row.id)
      if (res.state !== 'success') return this.$Message.error('查询文件数据集详情失败')

      await this.setTableId(row.id)
      this.$set(this.fileDataset.data, 'fileName', res.data.name)
      this.fileDataset.data.targetTable = res.data.tableName
      this.fileDataset.data.dateColumnName = res.data.dateColumnName
      const columns = JSON.parse(res.data.configData)
      this.fileDataset.dataPreviewTable.columns = columns.map(item => ({
        title: item.comment,
        key: item.name,
        align: 'center',
      }))
      this.fileDataset.dataPreviewTable.data = res.data.data
      this.fileDataset.fieldConfigTable.data = columns
      this.fileDataset.list = res.data.uploadRecords.map(item => ({
        id: item.id,
        name: item.name, // 文件完整名称
        progress: item.result === 1 ? 100 : 0,
        result: item.result === 1 ? 1 : 2,
        edit: false, // 是否是编辑状态
      }))
      this.fileDataset.title = '文件更新'
      this.fileDataset.data.dateColumnId = res.data.dateColumnName
      this.fileDataset.showAdd = true
    },

    // 删除
    onDelete(row) {
      this.$Modal.confirm({
        title: '确定删除该文件吗？',
        content: '该操作将无法撤销。',
        onOk: async () => {
          const res = await deleteFileDataset(row.id)
          if (res.data.state === 'success') {
            await this.getFileList()
            this.$Message.success('文件删除成功')
          } else {
            let name = row.name
            if (name.length > 12) {
              name = name.substring(0, 12) + '...'
            }
            const deletedAsset = { id: row.id, name, type: TYPE_FILE }
            this.unableToDelete(deletedAsset, res.data.data)
          }
        },
      })
    },

    // 重置上传文件表单
    resetFileDataset() {
      this.fileDataset.showAdd = false
      this.fileDataset.data = {}
      this.fileDataset.file = {}
      this.fileDataset.list = []
    },

    // 关闭弹窗
    cancelFileSet() {
      this.resetFileDataset()
    },

    // 新增成功
    successAdded() {
      this.resetFileDataset()
      this.getFileList()
    },
  },
}
</script>

<style scoped lang="less">
.file-list {
  height: calc(~'100% - 64px');
  margin-top: 16px;
}

.action-btn {
  color: #3F73FF;
  box-shadow: none;
  padding: 5px 10px 6px;
}

/deep/ .table {
  height: 100%;

  .ivu-table-body {
    height: calc(~'100% - 40px');
    overflow: auto;
    overflow-x: hidden;
  }
}
</style>
