<template>
  <div class="file">
    <div class="toolbar">
      <div class="toolbar-left">
        <div class="toolbar-item">
          名称：
          <Input class="name" v-model.trim="name" clearable placeholder="请输文件名称" :maxlength="30" />
        </div>
        <Button class="toolbar-item search" type="primary" @click="onSearch">查询</Button>
      </div>
      <div class="toolbar-right">
        <Button class="toolbar-item upload-file" @click="onUpload">
          <img class="btn-icon" src="@/assets/icons/dataSetList/file_upload.svg" />
          上传文件
        </Button>
      </div>
    </div>
    <FileList ref="fileList" />
  </div>
</template>

<script>
import FileList from '@/view/dataset/File/FileList.vue'

export default {
  name: 'index',
  components: {
    FileList,
  },
  data() {
    return {
      name: '', // 文件名
    }
  },
  methods: {
    // 查询
    onSearch() {
      this.$refs.fileList.onSearch(this.name)
    },

    // 上传文件
    onUpload() {
      this.$refs.fileList.onUploadFile()
    },
  },
}
</script>

<style scoped lang="less">
.file {
  height: 100%;
  padding: 0 16px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.toolbar-left,
.toolbar-right {
  display: flex;
}

.toolbar-item {
  display: flex;
  align-items: center;
  white-space: nowrap;

  + .toolbar-item {
    margin-left: 16px;
  }

  .name {
    width: 170px;
  }

  &.search {
    background: #3F73FF;
    width: 72px;
    justify-content: center;
  }

  &.upload-file {
    color: #3F73FF;
    border-color: #3F73FF;
  }

  .btn-icon {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
}
</style>
