<template>
  <Collapse v-model="axisLabelCollapseVal" simple>
    <Panel name="axislabel"
      v-if="axisLabelSettingShow">
      轴标签文本
      <div slot="content">
        <div class="item">
          <RadioGroup
            class="axisLabelRadioGroup"
            v-model="currentStyleConfigs.axisLabelSetting"
            @on-change="handleAxisLabelSettingChange">
            <Radio label="interval">间隔显示</Radio>
            <Radio label="ellipsis">缩略显示</Radio>
            <Radio label="break">换行显示</Radio>
            <Radio label="rotate">旋转显示</Radio>
          </RadioGroup>
        </div>
      </div>
    </Panel>
  </Collapse>
</template>

<script>
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";

export default {
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    },
  },
  mixins: [ mixin ],
  computed: {
    currentStyleConfigs() {
      return Object.assign({
        axisLabelSetting: 'interval'
      }, this.styleConfigs)
    },
    axisLabelSettingShow() {
      return this.currentSelectChart.id !== 'SimpleBar' ||
        (!this.currentSelectChart.data.configData ||
            this.currentSelectChart.data.configData.displayDirection === 'vertical')
    }
  },
  data() {
    return {
      axisLabelCollapseVal: ['axislabel']
    }
  },
  methods: {
    handleAxisLabelSettingChange(value) {
      this.refreshCurrentSelectChartStyle('axisLabelSetting', value)
    }
  }
}
</script>

<style lang="less" scoped>
.item {
  line-height: 28px;
  .title {
    color: rgba(0, 0, 0, 0.65);
  }
  .titleCheckbox {
    float: right;
    margin-right: 0;
  }
  .label {
    color: #333333;
  }
  .inputNumber {
    /deep/ .ivu-input-number-handler-wrap {
      display: none;
    }
  }
}
.axisLabelRadioGroup.ivu-radio-group {
  .ivu-radio-wrapper:nth-child(odd) {
    margin-right: 52px;
  }
}
</style>
