<template>
  <Collapse v-model="axisValueCollapseVal" simple>
    <Panel name="axisValue">
      {{ panelTitle }}
      <div slot="content">
        <div class="item">
          <div>
            <span class="title">自定义范围</span>
            <Checkbox class="titleCheckbox" v-model="styleConfigs.axisValueCustomRange" @on-change="recordSnapshot"></Checkbox>
          </div>
          <div v-if="styleConfigs.axisValueCustomRange">
            <span class="label">最小值 </span>
            <InputNumber class="inputNumber" :style="{ 'width': isPercent ? '22%' : '23%' }" v-model="styleConfigs.axisValueCustomMin" @on-change="recordSnapshot"></InputNumber>
            <span v-if="isPercent">%</span>
            <span class="label" style="margin-left: 8px">最大值 </span>
            <InputNumber class="inputNumber" :style="{ 'width': isPercent ? '22%' : '23%' }" v-model="styleConfigs.axisValueCustomMax" @on-change="recordSnapshot"></InputNumber>
            <span v-if="isPercent">%</span>
          </div>
        </div>
        <div class="item" v-if="from !== 'radar'">
          <div>
            <span class="title">自定义对数底数</span>
            <Checkbox class="titleCheckbox" v-model="styleConfigs.axisValueCustomLog" @on-change="recordSnapshot"></Checkbox>
          </div>
          <div v-if="styleConfigs.axisValueCustomLog">
            <span class="label">对数底数：</span>
            <InputNumber class="inputNumber" style="width: 69%" :min="2" v-model="styleConfigs.axisValueCustomLogBase" @on-change="recordSnapshot"></InputNumber>
          </div>
        </div>
        <div class="item" v-if="from === 'radar'">
          <div>
            <span class="title">是否隐藏</span>
            <Checkbox class="titleCheckbox" v-model="styleConfigs.axisTickHidden" @on-change="recordSnapshot"></Checkbox>
          </div>
        </div>
      </div>
    </Panel>
  </Collapse>
</template>

<script>
import mixin from '@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin'

export default {
  mixins: [mixin],
  props: {
    styleConfigs: Object,
    panelTitle: {
      type: String,
      default: '坐标轴值定义',
    },
    isPercent: {
      type: Boolean,
      default: false,
    },
    from: {
      type: String,
      default: 'line',
    },
  },
  data() {
    return {
      axisValueCollapseVal: ['axisValue'],
    }
  },
}
</script>

<style lang="less" scoped>
.item {
  line-height: 28px;

  .title {
    color: rgba(0, 0, 0, 0.65);
  }

  .titleCheckbox {
    float: right;
    margin-right: 0;
  }

  .label {
    color: #333333;
  }

  .inputNumber {
    /deep/ .ivu-input-number-handler-wrap {
      display: none;
    }
  }
}

.axisLabelRadioGroup.ivu-radio-group {
  .ivu-radio-wrapper:nth-child(odd) {
    margin-right: 52px;
  }
}
</style>
