<template>
  <Collapse v-model="lineCollapseVal" simple>
    <Panel name="size">
      <span class="title">尺寸设置</span>
      <div slot="content">
        <div class="child-vertical-center">
          <span>宽</span>
          <InputNumber
            :max="10000"
            :min="1"
            v-model.lazy="styleConfigs.width"
            ref="inputNumberWidth"
            @on-change="handleWidthChange"
            @keyup.native="handleInputNumberKeyup"
            style="margin-left: 15px;">
          </InputNumber>
          <span style="margin-left: 15px;">高</span>
          <InputNumber
            :max="2000"
            :min="1"
            v-model.lazy="styleConfigs.height"
            ref="inputNumberHeight"
            @on-change="handleHeightChange"
            @keyup.native="handleInputNumberKeyup"
            style="margin-left: 15px;"></InputNumber>
        </div>
      </div>
    </Panel>
  </Collapse>
</template>

<script>
import { CHART_DEFAULT_CONFIG } from '@/config/ReportConstants'
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";
export default {
  name: "ChartSizeConfig",
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    },
  },
  mixins: [ mixin ],
  computed: {
    currentSelectChart() {
      const currentSelectChart = this.$store.state.chart && this.$store.state.chart.currentSelectChart
      return currentSelectChart
    }
  },
  data() {
    return {
      lineCollapseVal: ['size'],
    }
  },
  mounted() {
  },
  methods: {
    handleWidthChange(val) {
      let reg = /^[1-9]\d*$/
      if(val == null) {
        let id = this.currentSelectChart.id
        let { width } = CHART_DEFAULT_CONFIG[id]
        this.$refs.inputNumberWidth.setValue(width)
        this.refreshCurrentSelectChartStyle('width', width)
      } else if(!reg.test(val)) {
        this.$refs.inputNumberWidth.setValue(parseInt(val))
        this.refreshCurrentSelectChartStyle('width', parseInt(val))
      }
    },
    handleHeightChange(val) {
      let reg = /^[1-9]\d*$/
      if(val == null) {
        let id = this.currentSelectChart.id
        let { height } = CHART_DEFAULT_CONFIG[id]
        this.$refs.inputNumberHeight.setValue(height)
        this.refreshCurrentSelectChartStyle('height', height)
      } else if(!reg.test(val)) {
        this.$refs.inputNumberHeight.setValue(parseInt(val))
        this.refreshCurrentSelectChartStyle('height', height)
      }
    },
    handleInputNumberKeyup(e) {
      // 禁止输入小数点
      if(e.key === '.') {
        e.target.value = parseInt(e.target.value)
      }
    }
  }
}
</script>

<style scoped>
.child-vertical-center{
  display: flex;
  align-items: center;
}
</style>
