<template>
  <Collapse v-model="drawingAreaCollapseVal" simple>
    <Panel name="drawing">
      绘图区样式
      <div slot="content">
        <div class="multipleColorBox item">
          <!-- 雷达图新增指标颜色配置 -->
          <div
            v-for="(item, index) in currentStyleConfigs.radarColor"
            :key="item"
          >
            <span class="itemLabel">指标{{ index + 1 }}</span>
            <colorPicker
              :key="currentStyleConfigs.radarColor[index]"
              v-model="currentStyleConfigs.radarColor[index]"
              @change="radarColorChange($event, index)"
              class="bgColorPicker"
            />
          </div>
        </div>
        <div class="item itemGap">
          <span class="itemLabel">网格线</span>
          <colorPicker
            defaultColor="#cccccc"
            :key="currentStyleConfigs.splitLineColor"
            v-model="currentStyleConfigs.splitLineColor"
            @change="splitLineColorChange"
            class="mr2"
          />
          <Select
            v-model="currentStyleConfigs.splitLineType"
            style="width: 60px"
            @on-change="onSplitLineTypeChange"
          >
            <Option
              v-for="item in lineTypeList"
              :value="item.value"
              :key="item.value"
              >{{ item.label }}</Option
            >
          </Select>
          <Checkbox
            class="hidden"
            v-model="currentStyleConfigs.splitLineHidden"
            @on-change="changeLineHidden"
            >隐藏</Checkbox
          >
        </div>
        <div class="item itemGap">
          <span class="itemLabel">轴颜色</span>
          <colorPicker
            defaultColor="#999999"
            :key="currentStyleConfigs.axisLineColor"
            v-model="currentStyleConfigs.axisLineColor"
            @change="axisLineColorChange"
          />
        </div>
        <div class="item itemGap">
          <span class="itemLabel">轴文字</span>
          <colorPicker
            defaultColor="#999999"
            :key="currentStyleConfigs.axisLabelColor"
            v-model="currentStyleConfigs.axisLabelColor"
            @change="axisLabelColorChange"
            class="mr2"
          />
          <InputNumber
            :min="1"
            @on-change="onAxisLabelFontSizeChange"
            v-model="currentStyleConfigs.axisLabelFontSize"
            style="width: 60px"
          />
          <Checkbox
            class="hidden"
            v-model="currentStyleConfigs.axisLabelHidden"
            @on-change="changeAxisLabelHidden"
            >隐藏</Checkbox
          >
        </div>
        <div class="item itemGap">
          <span class="itemLabel">背景色</span>
          <colorPicker
            class="bgColorPicker"
            defaultColor="#ffffff"
            :key="currentStyleConfigs.areaColor"
            v-model="currentStyleConfigs.areaColor"
            @change="areaColorChange"
          />
        </div>
        <div class="item" v-if="!isBorderHidden">
          <span class="itemLabel">边框</span>
          <colorPicker
            defaultColor="#ffffff"
            :key="currentStyleConfigs.borderColor"
            v-model="currentStyleConfigs.borderColor"
            @change="borderColorChange"
          />
        </div>
      </div>
    </Panel>
  </Collapse>
</template>

<script>
import { BORDER_STYLE_ARR } from "@/config/ReportConstants";
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";
export default {
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return {};
      },
    },
    isBorderHidden: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [mixin],
  computed: {
    currentStyleConfigs() {
      return Object.assign(
        {
          splitLineColor: "#cccccc",
          splitLineType: "solid",
          axisLineColor: "#999999",
          axisLabelColor: "#999999",
          axisLabelFontSize: 10,
          areaColor: "transparent",
          borderColor: "transparent",
          splitLineHidden: false,
          axisLabelHidden: false,
          radarColor: ["#5B8FF9", "#5AD8A6"],
        },
        this.styleConfigs
      );
    },
  },
  data() {
    return {
      drawingAreaCollapseVal: ["drawing"],
      lineTypeList: BORDER_STYLE_ARR,
    };
  },
  methods: {
    splitLineColorChange(e) {
      this.refreshCurrentSelectChartStyle("splitLineColor", e);
    },
    onSplitLineTypeChange(e) {
      this.refreshCurrentSelectChartStyle("splitLineType", e);
    },
    axisLineColorChange(e) {
      this.refreshCurrentSelectChartStyle("axisLineColor", e);
    },
    axisLabelColorChange(e) {
      this.refreshCurrentSelectChartStyle("axisLabelColor", e);
    },
    onAxisLabelFontSizeChange(e) {
      this.refreshCurrentSelectChartStyle("axisLabelFontSize", e);
    },
    areaColorChange(e) {
      this.refreshCurrentSelectChartStyle("areaColor", e);
    },
    borderColorChange(e) {
      this.refreshCurrentSelectChartStyle("borderColor", e);
    },
    changeLineHidden(e) {
      this.refreshCurrentSelectChartStyle("splitLineHidden", e);
    },
    changeAxisLabelHidden(e) {
      this.refreshCurrentSelectChartStyle("axisLabelHidden", e);
    },
    radarColorChange(e, index) {
      let radarColor = this.currentStyleConfigs.radarColor;
      radarColor[index] = e;
      this.refreshCurrentSelectChartStyle("radarColor", radarColor);
    },
  },
};
</script>

<style scoped>
.mr2 {
  margin-right: 2px;
}
.item {
  display: flex;
  align-items: center;
}
.itemGap {
  margin: 0 auto 10px;
}
.item .itemLabel {
  width: 48px;
  padding: 10px 6px 10px 0;
  box-sizing: border-box;
}
/* .radarStyle .m-colorPicker {
  margin: 0 15px 10px 0;
}
.radarStyle .itemLabel {
  width: 45px;
  display: inline-block;
} */

.hidden {
  margin-left: 6px;
}
</style>
