<template>
  <div class="kkFontStyleBox" :class="{mapkkFontStyleBox: isMap}">
    <ul>
      <li v-for="item in arr" :value="item.type" :key="item.type" @click="kkHandleChooseStyle($event)" :isCilck="item.clicked" :class="item.class">
        <img :src="item.icon" />
      </li>
      <slot></slot>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'fontBar',
    props: {
      styleConfig: {
        type: Object,
        default: {}
      },
      isMap: {
        type: Boolean,
        default: false
      }
    },
    data() {
      const arrAll = [
        {type: 'bold', normal: 'normal', label: 'fontWeight', icon: require("@/assets/images/report/bold.svg"), clicked: false, class: ''},
        {type: 'italic', normal: 'normal', label: 'fontStyle', icon: require("@/assets/images/report/italic.svg"), clicked: false, class: ''},
        {type: 'underline', normal: 'none', label: 'textDecoration', icon: require("@/assets/images/report/underLine.svg"), clicked: false, class: ''},
        {type: 'line-through', normal: 'none', label: 'textDecoration', icon: require("@/assets/images/report/strikethrough.svg"), clicked: false, class: ''}
      ]
      const isClickedAll = [
        {type: 'bold', normal: 'normal', label: 'fontWeight'},
        {type: 'italic', normal: 'normal', label: 'fontStyle'},
        {type: 'underline', normal: 'none', label: 'textDecoration'},
        {type: 'line-through', normal: 'none', label: 'textDecoration'}
      ]
      return {
        arr: this.isMap ? arrAll.slice(0, 2) : arrAll,
        target: null,
        isClicked: this.isMap ? isClickedAll.slice(0, 2) : isClickedAll
      }
    },
    watch: {
      arr: {
        handler(val) {
          for(let i = 0; i < val.length; i++) {
            if(val[i].clicked) {
              val[i].class = 'kkFontActive';
            }
            else val[i].class = ''
          }
        },
        deep: true
      },
      styleConfig: {
        handler(val) {
          this.checkClicked(val)
        },
        deep: true,
        immediate: true
      }
   },
    mounted() {
      this.checkClicked(this.styleConfig)
    },
    methods: {
      checkClicked(config) {
        this.arr.forEach(item => item.clicked = false)
        let temp = [];
        for(let key in config) {
          this.arr.forEach(item => {
            key.indexOf(item.label) > -1 ? temp.push(config[key]) : null;
          })
        }
        if(temp.length !== 0) {
          temp.forEach((item, i) => {
            item.indexOf(' ') ? item.split(' ').forEach(it => temp.push(it)) : null
          })
        }
        let unique = [...new Set(temp)];
        this.arr.forEach(item => {
          unique.forEach(it => {
            item.type === it ? item.clicked = true : null
          })
        })
      },
      kkHandleChooseStyle(e) {
        let parent = e.currentTarget.parentNode.childNodes, temp = [], hash = {};
        this.isClicked = [];
        for(let i = 0; i < parent.length; i++) {
          if(parent[i] === e.currentTarget) {
            this.arr[i].clicked = !this.arr[i].clicked
            this.arr.forEach(item => item.clicked === true ? temp.push({type: item.type, label: item.label}) : temp.push({type: item.normal, label: item.label}));
          }
        };
        let arr = temp.reduce((prev, item) => {
          if(hash[item.label]) {
            item.type === 'none' ? item.type = '' :  (prev[prev.length - 1].type === 'none' ? prev[prev.length - 1].type = item.type : prev[prev.length - 1].type += ` ${item.type}`)
          } else {
            hash[item.label] = true;
            prev.push(item)
          }
          return prev
        }, []);
        this.$emit('click', arr)
      },
    }
  }
</script>

<style scoped>
  .kkFontStyleBox {
    margin: 10px 12px 10px 0
  }
  .kkFontStyleBox ul,li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .kkFontStyleBox li {
    float: left;
    height: 28px;
    width: 28px;
    border: 1px solid #dcdee2;
    text-align: center;
    line-height: 28px;
    box-sizing: border-box;
    padding: 3px;
    cursor: pointer;
  }
  .kkFontStyleBox li:not(:last-child) { border-right: none; }
  .kkFontStyleBox li:first-child { border-radius: 4px 0 0 4px; }
  .kkFontStyleBox li:last-child { border-radius: 0 4px 4px 0; }

  .mapkkFontStyleBox {
    margin: 0;
  }
</style>
