<template>
  <div class="icon-select" :class="{ 'icon-select-visible' : visible}"
    v-click-outside.capture="onClickOutside">
    <div class="icon-select-selection"
      @click="toggleMenu">
      <div class="icon-select-selection-outer">
        <img :src="require('@/assets/images/report/title/' + value + '.svg')" />
      </div>
      <Icon type="ios-arrow-down" class="icon-select-arrow"></Icon>
    </div>
    <div class="icon-select-dropdown">
      <ul class="icon-select-dropdown-list">
        <li v-for="item in iconList"
          class="icon-select-item"
          :class="{ 'icon-select-item-selected': value === item.value }"
          @click="clickIconItem($event, item)">
          <img :src="require('@/assets/images/report/title/' + item.value + '.svg')"/>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { directive as clickOutside } from 'v-click-outside-x'
export default {
  directives: { clickOutside },
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      visible: false,
      iconList: [
        {
          label: '无色',
          value: 'noIcon'
        },
        {
          label: '圆点',
          value: 'circleDot'
        },
        {
          label: '方形',
          value: 'square'
        },
        {
          label: '三角形',
          value: 'triangle'
        },
        {
          label: '多边形',
          value: 'polygon'
        },
        {
          label: '星形',
          value: 'star'
        },
        {
          label: '菱形',
          value: 'diamond'
        }
      ]
    }
  },
  methods: {
    onClickOutside(e) {
      if(this.visible) {
        this.visible = false
      }
    },
    toggleMenu(e) {
      this.visible = !this.visible
    },
    clickIconItem(e, item) {
      this.$emit('titleIconTypeChange', item.value)
    }
  }

}
</script>

<style lang='less' scoped>
.icon-select {
  position: relative;
  .icon-select-selection {
    height: 28px;
    background: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      border-color: #57a3f3;
    }
    .icon-select-selection-outer {
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      margin: 6px;
    }
    .ivu-icon {
      transition: all 0.2s ease-in-out;
      margin-right: 6px;
      content: url("../../../../assets/images/report/select_arrow.svg");
    }
  }
  &.icon-select-visible {
    .icon-select-selection {
      border-color: #57a3f3;
      box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
    }
    .icon-select-dropdown {
      display: block;
    }
    .ivu-icon.icon-select-arrow {
      transform: rotate(180deg);
    }
  }
  .icon-select-dropdown {
    display: none;
    transition: all .3s;
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 900;
    min-width: 100%;
    padding: 3px 0;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    .icon-select-item {
      &:hover {
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.25);
      }
      &.icon-select-item-selected {
        box-shadow: 0px 0px 6px 0px #3F73FF;
        border: 1px solid #3F73FF;
      }
      list-style-type: none;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      margin: 8px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer;
      &:first-child {
        img {
          margin-bottom: -2px;
        }
      }
    }

  }
}
</style>
