<template>
  <Collapse v-model="labelCollapseVal" simple>
    <Panel name="label">
      <span>
        <span class="title">标签设置</span>
        <Checkbox
          class="titleCheckbox"
          v-model="currentStyleConfigs.showLabel"
          @click.native="(e) => {e.stopPropagation()}"
          @on-change="handleCheckboxChange"
        />
      </span>
      <div slot="content" v-if="currentStyleConfigs.showLabel">
        <div class="item">
          <span class="itemLabel">位置</span>
          <div>
            <RadioGroup v-model="currentStyleConfigs.labelPosition" @on-change="handleLabelPositionChange">
              <Radio label="outside">外部</Radio>
              <Radio label="inside">内部</Radio>
            </RadioGroup>
          </div>
        </div>
        <div class="item">
          <span class="itemLabel">字体</span>
          <div style="flex: 1">
            <Select v-model="currentStyleConfigs.labelFontFamily" style="width: 160px;margin-bottom: 12px" @on-change="handleLabelFontFamilyChange">
              <Option v-for="item in fontFamilyList" :value="item.value" :key="item.value">
                {{ item.label }}
              </Option>
            </Select>
            <Select v-model="currentStyleConfigs.labelFontSize" style="width: 90px;margin-right: 12px" @on-change="handleLabelFontSizeChange">
              <Option v-for="i in 9" :value="(i + 5) * 2" :key="i">
                {{ (i + 5) * 2 }}
              </Option>
            </Select>
            <colorPicker
              class="fontColorPicker"
              defaultColor="#333333"
              v-model="currentStyleConfigs.labelFontColor"
              @change="handleLabelFontColorChange"
              style="line-height: 1.5"
            />
          </div>
        </div>
        <div class="item">
          <span class="itemLabel">显示</span>
          <div>
            <RadioGroup v-model="currentStyleConfigs.labelRange" @on-change="handleLabelRangeChange">
              <Radio label="all">全部</Radio>
              <Radio label="maxmin">最大和最小</Radio>
              <Radio v-if="currentChartType === 'SimpleLine'" label="startend">首尾</Radio>
            </RadioGroup>
            <div>
              <Checkbox v-model="currentStyleConfigs.labelOverlap" @on-change="handleLabelOverlapChange"></Checkbox>
              <span>标签重叠</span>
            </div>
          </div>
        </div>
      </div>
    </Panel>
  </Collapse>
</template>

<script>
import { LABEL_FAMILY_LIST } from '@/config/ReportConstants'
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";
import { mapGetters } from "vuex";

export default {
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    },
  },
  mixins: [ mixin ],
  computed: {
    ...mapGetters(["currentChartType"]),
    currentStyleConfigs() {
      return Object.assign({
        showLabel: false,
        labelPosition: 'outside',
        labelFontFamily: 'SimSun',
        labelFontSize: 12,
        labelFontColor: '#333333',
        labelRange: 'all',
        labelOverlap: true
      }, this.styleConfigs)
    }
  },
  data() {
    return {
      labelCollapseVal: ['label'],
      fontFamilyList: LABEL_FAMILY_LIST
    }
  },
  methods: {
    handleCheckboxChange(value) {
      this.refreshCurrentSelectChartStyle('showLabel', value)
    },
    handleLabelPositionChange(value) {
      this.refreshCurrentSelectChartStyle('labelPosition', value)
    },
    handleLabelFontFamilyChange(value) {
      this.refreshCurrentSelectChartStyle('labelFontFamily', value)
    },
    handleLabelFontSizeChange(value) {
      this.refreshCurrentSelectChartStyle('labelFontSize', value)
    },
    handleLabelFontColorChange(value) {
      this.refreshCurrentSelectChartStyle('labelFontColor', value)
    },
    handleLabelRangeChange(value) {
      this.refreshCurrentSelectChartStyle('labelRange', value)
    },
    handleLabelOverlapChange(value) {
      this.refreshCurrentSelectChartStyle('labelOverlap', value)
    }
  }
}
</script>

<style lang="less" scoped>
.titleCheckbox {
  position: absolute;
  left: 200px;
}
.item {
  display: flex;
  line-height: 28px;
  .itemLabel {
    width: 46px;
    padding-top: 2px;
  }
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
</style>
