<template>
  <Collapse v-model="legendCollapseVal" simple>
    <Panel name="legend">
      图例设置
      <div slot="content">
        <div style="line-height: 48px">
          <span class="title">图例显示</span>
          <Checkbox class="titleCheckbox" v-model="currentStyleConfigs.legendShow" @on-change="handleLegendShowChange" />
        </div>
        <div class="item" v-if="currentStyleConfigs.legendShow && isShowFont">
          <span class="itemLabel">字体</span>
          <div style="flex: 1">
            <Select v-model="currentStyleConfigs.legendFontFamily" style="width: 94px;margin-right: 12px;" @on-change="handleLegendFontFamilyChange">
              <Option v-for="item in fontFamilyList" :value="item.value" :key="item.value">
                {{ item.label }}
              </Option>
            </Select>
            <Select v-model="currentStyleConfigs.legendFontSize" style="width: 70px;" @on-change="handleLegendFontSizeChange">
              <Option v-for="i in 9" :value="(i + 5) * 2" :key="i">
                {{ (i + 5) * 2 }}
              </Option>
            </Select>
          </div>
        </div>
        <div class="item" v-if="currentStyleConfigs.legendShow">
          <span class="itemLabel">位置</span>
          <div class="legendPositionBox">
            <div
              v-for="item in legendPositionList"
              :key="item.label"
              class="legendPositionItem"
              :class="{ legendItemSelected: currentStyleConfigs.legendPosition === item.value }"
              @click="handleLegendPositionChange(item.value)"
            >
              {{ item.label }}
            </div>
          </div>
        </div>
      </div>
    </Panel>
  </Collapse>
</template>

<script>
import { LABEL_FAMILY_LIST, LEGEND_POSITION_LIST } from '@/config/ReportConstants'
import mixin from "../mixin/ChartStyleConfigMixin";
export default {
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return {}
      }
    },
    isShowFont: {
      type: Boolean,
      default: true
    },
    positionList: {
      type: Array,
      default: () => {
        return []
      }
    },
    legendPosition: {
      type: String,
      default: "下",
    }
  },
  mixins: [ mixin ],
  computed: {
    currentStyleConfigs() {
      return Object.assign({
        legendShow: true, // 是否展示图例
        legendFontFamily: 'SimSun', // 默认展示的字体
        legendFontSize: 12, // 默认展示的字体大小
        legendPosition: this.legendPosition // 默认展示的位置
      }, this.styleConfigs)
    },
    legendPositionList() {
      return this.positionList.length !== 0 ? this.positionList: LEGEND_POSITION_LIST
    }
  },
  data() {
    return {
      legendCollapseVal: ['legend'],
      fontFamilyList: LABEL_FAMILY_LIST,
    }
  },
  methods: {
    handleLegendShowChange(e) {
      this.refreshCurrentSelectChartStyle( 'legendShow', e)
    },
    handleLegendFontFamilyChange(e) {
      this.refreshCurrentSelectChartStyle( 'legendFontFamily', e)
    },
    handleLegendFontSizeChange(e) {
      this.refreshCurrentSelectChartStyle( 'legendFontSize', e)
    },
    handleLegendPositionChange(e) {
      this.refreshCurrentSelectChartStyle( 'legendPosition', e)
    }
  }
}
</script>

<style lang="less" scoped>
.titleCheckbox {
  float: right;
}
.item {
  display: flex;
  line-height: 28px;
  .itemLabel {
    width: 34px;
    padding-top: 2px;
  }
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.legendPositionBox {
  display: flex;
  align-items: center;
  .legendPositionItem {
    width: 32px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background: #F7F8FA;
    border: 1px solid rgba(228,228,228,1);
    border-radius: 2px;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 16px;
    }
    &:hover {
      box-shadow: 0px 0px 4px 0px rgba(63,115,255,1);
    }
  }
  .legendItemSelected {
    color: #3F73FF;
    border: 1px solid rgba(63,115,255,1);
    box-shadow: 0px 0px 4px 0px rgba(63,115,255,1);
  }
}
</style>
