<template>
  <Collapse v-model="lineCollapseVal" simple>
    <Panel>
      <span>
        <span class="title">标题</span>
        <Checkbox v-model="currentStyleConfigs.showTitle"
          class="titleCheckbox"
          @click.native="handleCheckboxClick"
          @on-change="refreshCurrentSelectChartStyle('showTitle', $event)"></Checkbox>
      </span>
      <div slot="content" v-if="currentStyleConfigs.showTitle">
        <div class="item itemGap">
          <IconSelect
            :value="currentStyleConfigs.titleIconType"
            @titleIconTypeChange="titleIconTypeChange"></IconSelect>
          <Input
            v-model="currentStyleConfigs.title"
            clearable
            placeholder="请输入标题"
            :maxlength="30"
            @on-blur="handleBlurIpt($event)"
            @on-enter="handleBlurIpt($event)"
            class="inputTitle itemStyleRight"
            style="max-width: 100%;" />
        </div>
        <div class="item itemGap" style="width: 100%; display: flex; flex-wrap: wrap">
          <div style="float: left; width: 60%">
            <Select style="width: 90%"  v-model="currentStyleConfigs.titleFontFamily" @on-change="refreshCurrentSelectChartStyle('titleFontFamily', $event)">
              <Option v-for="item in titleFontFamilyArr" :value="item.value" :key="item.value">{{ item.label }}</Option>
            </Select>
          </div>
          <div style="float: right; width: 40%">
            <InputNumber
              :min="1"
              @on-change="refreshCurrentSelectChartStyle('titleFontSize', $event)"
              v-model="currentStyleConfigs.titleFontSize"
              style="width: 100%;max-width: 180px;"
            />
          </div>
        </div>
        <div class="item itemGap" style="width: 100%; display: flex; flex-wrap: wrap">
          <FontBar @click="handleChangeFontBar($event)" style="margin-bottom: 10px" :style-config="styleConfigs"/>
          <div style="display: flex;margin-top: 10px">
            <RadioGroup v-model="currentStyleConfigs.titlePosition" type="button" @on-change="refreshCurrentSelectChartStyle('titlePosition', $event)" style="float: right; display: flex">
              <Radio label="left"><img src="@/assets/images/report/align-left.svg" class="svg-style"/></Radio>
              <Radio label="center"><img src="@/assets/images/report/align-center.svg" class="svg-style"/></Radio>
              <Radio label="right"><img src="@/assets/images/report/align-right.svg" class="svg-style"/></Radio>
            </RadioGroup>
          </div>
          <div style="margin-right: 10px;display: flex;; flex-wrap: wrap" >
            <div
              id="titleColor"
              @click="handleClickNextEle($event)"
              style="
              height: 28px;
              width: 28px;
              background: white;
              border: 1px solid #e4e4e4;
              position: absolute;
              z-index: 99;
              border-radius: 2px;
              text-align: center;
              padding: 3px 0">
              <span style="font-weight: bold;">A</span>
              <div :style="{position: 'absolute', width: '16px', height: '4px', background: currentStyleConfigs.titleColor, left: '50%', marginLeft: '-8px', bottom: '4px'}"></div>
            </div>
            <colorPicker
              defaultColor="#333333"
              :key="currentStyleConfigs.titleColor"
              v-model="currentStyleConfigs.titleColor"
              :transfer="true"
              @change="refreshCurrentSelectChartStyle('titleColor', $event)"
            />
            <colorPicker
              class="bgColorPicker"
              defaultColor="#FFFFFF"
              :key="currentStyleConfigs.titleBackgroundColor"
              :transfer="true"
              v-model="currentStyleConfigs.titleBackgroundColor"
              @change="refreshCurrentSelectChartStyle('titleBackgroundColor', $event)"
              style="float: right"
            />
          </div>
        </div>
        <div class="item" style="display: flex">
          <span class="itemLabel">分割线：</span>
          <div class="itemStyleRight">
            <colorPicker
              defaultColor="#ffffff"
              :key="currentStyleConfigs.titleBorderColor"
              :transfer="true"
              v-model="currentStyleConfigs.titleBorderColor"
              @change="refreshCurrentSelectChartStyle('titleBorderColor', $event)"
              style="margin-right: 10px;"
            />
            <Dropdown style="min-width: 90px; margin-right: 10px; margin-bottom: 10px" @on-click="refreshCurrentSelectChartStyle('titleBorderStyle', $event)" >
              <Button style="padding: 0 7px; width: 100%; height: 28px">
                <img v-if="currentStyleConfigs.titleBorderStyle" :src="require('@/assets/images/report/' + currentStyleConfigs.titleBorderStyle + '.svg')" class="line-svg-style" >
                <span v-else class="select-placeholder">请选择</span>
                <Icon type="ios-arrow-down" class="select-arrow"></Icon>
              </Button>
              <DropdownMenu slot="list" style="min-width: auto; margin-bottom: 10px">
                <DropdownItem name='solid'><img src="@/assets/images/report/solid.svg" class="line-svg-style"/></DropdownItem>
                <DropdownItem name='dotted'><img src="@/assets/images/report/dotted.svg" class="line-svg-style"/></DropdownItem>
                <DropdownItem name='dashed'><img src="@/assets/images/report/dashed.svg" class="line-svg-style"/></DropdownItem>
              </DropdownMenu>
            </Dropdown>
            <Select v-model="currentStyleConfigs.titleBorderWidth" style="width:87px" @on-change="onTitleBorderWidthChange">
              <Option v-for="item in titleBorderBottomWidthArr" :value="item.value" :key="item.value">{{item.label}}</Option>
            </Select>
          </div>
        </div>
      </div>
    </Panel>
  </Collapse>
</template>

<script>

  import IconSelect from './IconSelect.vue'
  import FontBar from './fontBar.vue'
  import {
    FONT_FAMILY_LIST,FONT_SIZE_ARR,BORDER_STYLE_ARR,BORDER_WIDTH_ARR
  } from '../../../../config/ReportConstants'
  import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";
export default {
  name: 'TitleConfig',
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    },
  },
  mixins: [ mixin ],
  components: {
    IconSelect,
    FontBar
  },
  computed: {
    currentStyleConfigs() {
      return Object.assign({
        legendPosition: '下',
        barBorderRadius: 0,
        lineColor: [],
        titleIconType: 'noIcon',
        title: '',
        titlePosition: 'left',
        titleColor: '#666666',
        titleFontSize: 18,
        fontWeight: 'none',
        fontStyle: 'normal',
        textDecoration: 'none',
        titleBackgroundColor: 'transparent',
        titleBorderColor: 'transparent',
        titleBorderStyle: '',
        titleBorderWidth: '',
        titleFontFamily: 'SimSun',
        splitLineColor: '#ccc',
        axisLineColor: '#999',
        axisLabelColor: '#999',
        axisLabelFontSize: 10,
        areaColor: 'transparent',
        borderColor: 'transparent',
        selectBorder: null
      }, this.styleConfigs)
    }
  },
  data() {
    return {
      lineCollapseVal: ['title'],
      titleValue: '',
      titleFontSizeList: Object.freeze(FONT_SIZE_ARR),
      lineTypeList: Object.freeze(BORDER_STYLE_ARR),
      titleFontFamilyArr: Object.freeze(FONT_FAMILY_LIST),
      titleBorderBottomWidthArr: Object.freeze(BORDER_WIDTH_ARR)
    }
  },
  mounted(){},
  methods: {
    handleClickNextEle(e) {
      e.target.parentNode.nextSibling.firstChild.click();
      e.target.parentNode.nextSibling.lastChild.style.zIndex = '9999'
    },
    titleIconTypeChange(val) {
      this.refreshCurrentSelectChartStyle('titleIconType', val)
    },
    handleBlurIpt(e) {
      let title = e.target.value
      if(title === '') {
        title = '未命名组件'
      }
      let originTitle = title
      let count = 1
      const chartList = this.$store.state.chart.chartList
      while(chartList.find(item => item.style.title === title && item.chartId !== this.currentSelectChart.chartId)) {
        title = `${originTitle}(${count})`
        count++
      }
      this.$set(this.currentSelectChart.style, 'title', title)
      this.$set(this.currentSelectChart.style, 'titleCustomChange', true)
      this.recordSnapshot()
    },
    onTitleBorderWidthChange(e) {
      if (e) {
        this.refreshCurrentSelectChartStyle('titleBorderWidth', e)
      }
    },
    handleChangeFontBar(e) {
      this.addCurrentSelectChartStyle()
      e.forEach(item => {
        this.$set(this.currentSelectChart.style, item.label, item.type)
      })
      this.recordSnapshot()
    },
    handleCheckboxClick(e) {
      e.stopPropagation();
    }
  }
}
</script>

<style scoped>
.item {
  display: flex;
  /*justify-content: space-between;*/
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}
.itemGap {
  margin: 0 auto 10px;
}
.itemSpaceBetween {
  justify-content: space-between;
}
.item .itemLabel {
  width: 60px;
  padding: 6px 12px 10px 0;
  box-sizing: border-box;
}
.item .itemStyleRight {
  flex: 1;
}
.item .itemStyleRight.inputTitle {
  margin-left: 6px;
}
.item .itemStyleRight.inputTitle /deep/ .ivu-input {
  height: 28px;
}
.item .itemStyleRight .select-placeholder{
  display: block;
  width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#c5c8ce;
  margin-left: -7px;
}
.select-arrow {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #808695;
  transition: all 0.2s ease-in-out;
}
.svg-style {
  width: 14px;
  vertical-align: middle;
}
.line-svg-style {
  width: 30px;
}
.ivu-radio-group-button .ivu-radio-wrapper{
  padding: 0 5px;
}
.ivu-color-picker >>> .ivu-color-picker-confirm .ivu-btn:nth-of-type(1){
  display: none;
}
.ivu-color-picker >>> > .ivu-input-wrapper{
  width: 33px;
  margin-right: 10px;
}
.titleColor /deep/ .m-colorPicker:first-child {
/*position: relative;*/
}

.titleCollapse /deep/ .ivu-collapse-header {
  border-bottom: 0;
}
.titleCheckbox {
  position: absolute;
  left: 200px;
}
</style>
