<template>
  <div class="SqlDataSetEdit">
    <div class="header">
      <div class="btnBox">
        <el-button class="standardButton" @click="connectionprview">取消</el-button>
        <el-button class="standardButton" type="primary" @click="save()">保存</el-button>
      </div>
    </div>
    <div class="contentBox">
      <div class="left">
        <div class="fromBox">
          <div class="fromItem">数据集名称： <el-input placeholder="" v-model="selInfo.datasetName" size="small"></el-input></div>
          <div class="fromItem">
            数据来自数据连接：
            <el-select v-model="selInfo.connectId" placeholder="请选择" style="width: 100%" size="small">
              <el-option v-for="item in connectionList" :key="item.id" :label="item.name" :value="item.id"> </el-option>
            </el-select>
          </div>

          <div class="fromItem">
            <div class="sqlstatement">
              <div class="Text">SQL语句</div>
              <el-input
                type="textarea"
                class="textarea"
                :autosize="{ minRows: 12, maxRows: 20 }"
                placeholder="请输入内容"
                v-model="selInfo.extractSql"
              >
              </el-input>
            </div>
          </div>
          <div class="fromItem" style="justify-content: flex-end">
            <el-button class="standardButton" v-if="showpreview" @click="previewTable()">刷新</el-button>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="rightContent">
          <template v-if="showpreview">
            <div class="tableBox" v-if="showData">
              <el-table :data="tableData" class="standardTable" size="small">
                <el-table-column :prop="item.prop" :label="item.label" v-for="(item, index) in tableHeader" :key="index" show-overflow-tooltip>
                </el-table-column>
              </el-table>
            </div>
            <div class="notData" v-else>
              <img src="@/dmp/assets/images/dataConnection/notdata.png" alt="" />
              <div>
                {{ errText }}
              </div>
            </div>
          </template>
        </div>
        <div class="btnBox">
          <el-button class="standardButton" :disabled="!selInfo.connectId || !selInfo.extractSql" v-if="!showpreview" @click="previewTable()"
            >预览</el-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { dataSetSqlView, dataSetUpdate, dataSetCreate } from "@/dmp/api/dataConnect";

export default {
  name: "SqlDataSetEdit",
  props: {
    selInfo: {
      type: Object,
      default: () => {}
    },
    connectionList: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      from: {
        value: "选项1"
      }, // 数据
      showpreview: false, // 预览
      showData: true, // 数据
      tableHeader: [], // 表头
      tableData: [], // 表格数据
      errText: "" // 错误提示
    };
  },
  methods: {
    connectionprview() {
      this.$emit("connectionprview", false);
    },

    previewTable() {
      // 预览表格
      this.showpreview = true;
      this.showData = true;
      dataSetSqlView({ ...this.selInfo, pageNum: 1, pageSize: 10 })
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            let { columns, data } = res.data.data;
            this.tableHeader = columns.map(item => ({ prop: item, label: item }));
            this.tableData = data;
          } else {
            this.tableHeader = [];
            this.tableData = [];
            this.showData = false;
            this.errText = message;
          }
        })
        .catch(err => {
          this.tableHeader = [];
          this.tableData = [];
          this.showData = false;
          this.errText = err;
        });
    },
    save() {
      // 保存
      if (!this.selInfo.datasetName) {
        return this.$message.error("请输入数据集名称");
      } else if (!this.selInfo.connectId) {
        return this.$message.error("请选择数据连接");
      } else if (!this.selInfo.extractSql) {
        return this.$message.error("请输入SQL语句");
      }

      let api = dataSetCreate;
      if (this.selInfo.titleName == "编辑数据集") {
        api = dataSetUpdate;
      }
      api({ ...this.selInfo })
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            this.$message({
              type: "success",
              message: this.selInfo.titleName == "编辑数据集" ? "编辑成功" : "创建成功"
            });
            this.$emit("connectionprview", false);
          } else {
            this.$message({ type: "error", message: message });
          }
        })
        .catch(err => {
          this.$message({ type: "error", message: err });
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.SqlDataSetEdit {
  height: 100%;
  font-size: 12px;
  .header {
    height: 60px;
    border-bottom: 1px solid #ebeef5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
    .btnBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .standardButton {
        margin-left: 10px;
      }
    }
  }
  .contentBox {
    display: flex;
    height: calc(100% - 60px);
    .left {
      width: 30%;
      height: 100%;
      .fromBox {
        width: 100%;
        position: relative;
        top: -60px;
        .fromItem {
          display: flex;
          white-space: nowrap;
          align-items: center;
          min-height: 60px;
          padding: 0 20px 0px 30px;

          .sqlstatement {
            width: 100%;
            .Text {
              height: 40px;
              line-height: 40px;
              background-color: RGB(245, 248, 255);
              color: #3f73ff;
              border: 1px solid #eaeaea;
              border-bottom: none;
              padding-left: 20px;
              border-radius: 4px 4px 0 0;
            }
            .textarea {
              /deep/ .el-textarea__inner {
                border: 1px solid #eaeaea;
                border-top: none;
                border-radius: 0 0 4px 4px;
              }
            }
          }
        }
      }
    }
    .right {
      border-left: 1px solid #ebeef5;
      flex: 1;
      height: 100%;
      overflow-y: auto;
      .rightContent {
        min-height: 280px;
        .notData {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 30px 0 10px 0;
          flex-wrap: wrap;
          img {
            height: 240px;
          }
          div {
            text-align: center;
            color: #c7c8c9;
            font-size: 14px;
            width: 100%;
            padding: 0 30px;
          }
        }

        .tableBox {
          height: 100%;
          overflow: auto;
          padding: 20px;
          position: relative;
          .standardTable {
            width: 100%;
            height: 100%;
          }
        }
      }
      .btnBox {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        .standardButton {
          background: RGB(242, 246, 255);
          opacity: 0.85;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
</style>
