<template>
  <div class="SqlDataSetEdit">
    <div class="header">
      <div class="btnBox">
        <el-button class="standardButton" @click="connectionprview()">取消</el-button>
        <el-button class="standardButton" type="primary" @click="save()">保存</el-button>
      </div>
    </div>
    <div class="contentBox">
      <div class="left">
        <div class="fromBox">
          <div class="fromItem">
            <span class="lable">数据集名称：</span>
            <el-input placeholder="" v-model="selInfo.datasetName" size="small"></el-input>
          </div>
          <div class="fromItem">
            <span class="lable">构建自数据集：</span>
            <el-select v-model="selInfo.originDatasetId" placeholder="请选择" style="width: 100%" @change="changeOption" size="small">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"> </el-option>
            </el-select>
          </div>

          <div class="fromItem">
            <span class="lable">构建方式：</span>
            <div class="rightItem">
              <span class="tipText">* 依赖所选数据集的父标记字段构建树</span>

              <div class="fromItem fromItemchild">
                原始标记字段
                <el-select v-model="selInfo.colName" style="margin: 0 10px" placeholder="请选择列名" size="small">
                  <el-option v-for="item in optionssource" :key="item.value" :label="item.label" :value="item.value"> </el-option>
                </el-select>
              </div>
              <div class="fromItem fromItemchild">
                父标记字段
                <el-select style="margin: 0 10px" placeholder="请选择列名" size="small" v-model="selInfo.pcolName">
                  <el-option v-for="item in optionssource" :key="item.value" :label="item.label" :value="item.value"> </el-option>
                </el-select>
              </div>
            </div>
          </div>
          <div class="fromItem" style="justify-content: flex-end">
            <el-button class="standardButton" v-if="showpreview" @click="previewTable()">刷新</el-button>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="rightContent">
          <template v-if="showpreview">
            <div class="tableBox" v-if="showData">
              <el-table :data="tableData" class="standardTable" size="small">
                <el-table-column
                  :prop="item.prop"
                  min-width="120"
                  :label="item.label"
                  v-for="(item, index) in tableHeader"
                  :key="index"
                  show-overflow-tooltip
                >
                </el-table-column>
              </el-table>
            </div>
            <div class="notData" v-else>
              <img src="@/dmp/assets/images/dataConnection/notdata.png" alt="" />
              <div style="width: 100%">
                预览失败
                {{ errText }}
              </div>
            </div>
          </template>
        </div>
        <div class="btnBox">
          <el-button class="standardButton" :disabled="!selInfo.originDatasetId" v-if="!showpreview" @click="previewTable()">预览</el-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { dataSetTree, dataSetUpdate, dataSetCreate, dataSetList, dataSetDetail } from "@/dmp/api/dataConnect";

export default {
  name: "SqlDataSetEdit",
  props: {
    selInfo: {
      type: Object,
      default: {
        colName: null,
        connectId: null
      }
    }
  },
  data() {
    return {
      options: [], // 数据集
      optionssource: [], // 标记字段
      selectInfo: {
        type: 1,
        titname: "新建数据连接"
      },
      showpreview: false, // 预览
      showData: true, // 数据
      tableData: []
    };
  },
  created() {
    this.initOpation();
  },
  methods: {
    connectionprview() {
      this.$emit("connectionprview", false);
    },
    changeOption(val) {
      this.selInfo.originDatasetId = val;
      this.selInfo.colName = null;
      this.selInfo.pcolName = null;
      dataSetDetail(this.selInfo.originDatasetId)
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            let { colList } = res.data.data;
            this.optionssource = colList.map(item => ({ value: item, label: item }));
          } else {
            this.optionssource = [];
            this.$message.error(message || "获取标记字段失败");
          }
        })
        .catch(err => {
          this.optionssource = [];
          this.$message.error(err || "获取标记字段失败");
        });
    },
    previewTable() {
      // 预览表格
      this.showpreview = true;
      this.showData = true;
      dataSetTree({ ...this.selInfo, pageNum: 1, pageSize: 10 })
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            let { columns, data } = res.data.data;
            this.tableHeader = columns.map(item => ({ prop: item, label: item }));
            this.tableData = data;
          } else {
            this.tableHeader = [];
            this.tableData = [];
            this.showData = false;
            this.errText = message;
          }
        })
        .catch(err => {
          this.tableHeader = [];
          this.tableData = [];
          this.showData = false;
          this.errText = err;
        });
    },
    save() {
      // 保存

      if (!this.selInfo.datasetName) {
        return this.$message({ type: "error", message: "请输入数据集名称" });
      } else if (!this.selInfo.originDatasetId) {
        return this.$message({ type: "error", message: "请选择数据集" });
      } else if (!this.selInfo.colName) {
        return this.$message({ type: "error", message: "请选择原始标记字段" });
      } else if (!this.selInfo.pcolName) {
        return this.$message({ type: "error", message: "请选择父标记字段" });
      }

      let api = dataSetCreate;
      if (this.selInfo.titleName == "编辑数据集") {
        api = dataSetUpdate;
      }
      api({ ...this.selInfo })
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            this.$message({
              type: "success",
              message: this.selInfo.titleName == "编辑数据集" ? "编辑成功" : "创建成功"
            });
            this.$emit("connectionprview", false);
          } else {
            this.$message({ type: "error", message: message });
          }
        })
        .catch(err => {
          this.$message({ type: "error", message: err });
        });
    },
    async initOpation() {
      // 初始化选项
      await dataSetList({ pageNum: 1, pageSize: 1, type: 1 })
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            this.options = res.data.data.map(item => ({ value: +item.id, label: item.datasetName }));
          } else {
            this.options = [];
            this.$message.error(message || "获取数据集失败");
          }
        })
        .catch(err => {
          this.options = [];
          this.$message.error(err || "获取数据集失败");
        });

      if (this.selInfo.titleName == "编辑数据集") {
        dataSetDetail(this.selInfo.originDatasetId)
          .then(res => {
            const { state, message } = res.data;
            if (state === "success") {
              let { colList } = res.data.data;
              this.optionssource = colList.map(item => ({ value: item, label: item }));
            } else {
              this.optionssource = [];
              this.$message.error(message || "获取标记字段失败");
            }
          })
          .catch(err => {
            this.optionssource = [];
            this.$message.error(err || "获取标记字段失败");
          });
      } else {
        this.selInfo = {
          colName: null,
          connectId: null,
          originDatasetId: null,
          pcolName: null,
          titleName: "新建数据集",
          datasetType: 2,
          type: 1
        };
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.SqlDataSetEdit {
  height: 100%;
  font-size: 12px;
  .header {
    height: 60px;
    border-bottom: 1px solid #ebeef5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0 30px;
    .btnBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .standardButton {
        margin-left: 10px;
      }
    }
  }
  .contentBox {
    display: flex;
    height: calc(100% - 60px);
    .left {
      width: 34%;
      height: 100%;

      .fromBox {
        width: 100%;
        position: relative;
        top: -60px;
        .fromItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          white-space: nowrap;
          min-height: 60px;
          padding: 0 20px 0px 30px;
          .lable {
            min-width: 110px;
            align-self: start;
            line-height: 60px;
          }
          .rightItem {
            flex: 1;
            padding-top: 10px;
            .tipText {
              color: #909399;
              line-height: 40px;
            }
          }
        }
        .fromItemchild {
          padding: 0;
          min-height: 42px;
        }
      }
    }
    .right {
      border-left: 1px solid #ebeef5;
      width: 66%;
      height: 100%;
      .rightContent {
        min-height: 280px;
        .notData {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 30px 0 10px 0;
          flex-wrap: wrap;
          img {
            height: 240px;
          }
          div {
            text-align: center;
            color: #c7c8c9;
            font-size: 14px;
            width: 100%;
            padding: 0 30px;
          }
        }

        .tableBox {
          height: 100%;
          overflow: auto;
          padding: 20px;
          position: relative;
          .standardTable {
            width: 100%;
            height: 100%;
          }
        }
      }
      .btnBox {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        .standardButton {
          background: RGB(242, 246, 255);
          opacity: 0.85;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
</style>
