<template>
  <div class="dataSetEditMain">
    <SqlDataSetEdit
      :selInfo.sync="selectInfoDataSet"
      v-if="selectInfoDataSet.datasetType == '1'"
      :connectionList="connectionList"
      @connectionprview="connectionprview"
    />
    <TreeDataSetEdit :selInfo.sync="selectInfoDataSet" v-else @connectionprview="connectionprview" />
  </div>
</template>

<script>
import SqlDataSetEdit from "./components/SqlDataSetEdit";
import TreeDataSetEdit from "./components/TreeDataSetEdit";

export default {
  props: {
    selectInfoDataSet: {
      type: Object,
      default: () => {}
    },
    connectionList: {
      type: Array,
      default: () => []
    }
  },
  components: {
    SqlDataSetEdit,
    TreeDataSetEdit
  },
  methods: {
    connectionprview(value) {
      this.$emit("dataSetview", value);
    }
  }
};
</script>

<style lang="scss" scoped>
.dataSetEditMain {
  height: calc(100vh - 200px);
}
</style>
