<template>
  <div class="dataSetpreview-main">
    <div class="left">
      <div class="header">
        <!-- 创建数据集 -->
        <el-popover placement="bottom-start" width="150" popper-class="sjjText" ref="popover">
          <span slot="reference" style="cursor: pointer" class="flexBox">
            <i class="el-icon-plus" style="color: #3f73ff; font-size: 14px"></i>
            <span style="margin: 0 5px">创建数据集</span>
            <i class="el-icon-arrow-down" style="font-size: 14px"></i>
          </span>
          <div class="sjj" @click="addItem('1')">
            <svg-icon icon-class="iconSQL" />
            SQL数据集
          </div>
          <div class="sjj" @click="addItem('2')">
            <svg-icon icon-class="trees" />
            树数据集
          </div>
          <!-- <div class="sjj" @click="addItem('3')">
              <svg-icon icon-class="wjsjj" />
              文件数据集
            </div> -->
        </el-popover>
      </div>
      <div class="contentBox">
        <div
          v-for="(item, index) in list"
          :key="item.datasetName"
          :class="{ 'content-item': true, active: activeIndex == index }"
          @click="changeItem(index)"
        >
          <span class="leftitem">
            <svg-icon :icon-class="item.typeIcon" />
            <input
              v-if="focusInput && activeIndex == index"
              @blur="nameSubmit(item)"
              @keyup.enter="nameSubmit(item)"
              ref="focusInpt"
              type="text"
              v-model="selName"
            />
            <span v-else>{{ item.datasetName }}</span>
          </span>

          <span class="rightItem" v-if="activeIndex == index">
            <svg-icon icon-class="rename" @click="reNameSubmit(item)" title="重命名" />
            <el-popover placement="bottom" width="150" ref="deletePopover">
              <svg-icon icon-class="tableButtonDelete" slot="reference" title="删除" />
              <div>
                <div style="text-align: left; font-size: 12px; margin-bottom: 10px">
                  <i class="el-icon-warning" style="color: #e6a23c"></i> 确定删除该数据集？
                </div>
                <div style="display: flex; align-items: center; justify-content: space-between">
                  <el-button class="standardButton" size="mini" @click="closePopover('deletePopover')">取消</el-button>
                  <el-button class="standardButton" type="primary" size="mini" @click="deleteItem(item)"> 确定</el-button>
                </div>
              </div>
            </el-popover>
          </span>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="header" style="justify-content: space-between">
        <template v-if="info.id">
          <span class="title"> <svg-icon :icon-class="info.typeIcon" /> {{ info.datasetName }}</span>
          <el-button class="standardButton" type="primary" @click="editItem()">编辑</el-button>
        </template>
      </div>
      <div class="contentBox">
        <div class="content">
          <el-table :data="tableData" class="standardTable" size="small">
            <el-table-column
              :prop="item.prop"
              :label="item.prop"
              v-for="(item, index) in tableHeader"
              :key="index"
              show-overflow-tooltip
              min-width="110"
            >
            </el-table-column>
          </el-table>
          <Pagination
            v-show="listQuery.total > 0"
            :total="listQuery.total"
            style="margin-top: 10px"
            :page.sync="listQuery.pageNum"
            :limit.sync="listQuery.pageSize"
            @pagination="getTableList"
            layout="prev,pager,next,sizes,jumper"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Detiles from "@/view/system/user/components/Dataconnection/connectionCompoent/detiles";
import Pagination from "@/dmp/components/Pagination";
import { dataSetPage, dataSetSqlView, dataSetTree, dataSetUpdate, dataSetDelete } from "@/dmp/api/dataConnect";

export default {
  name: "dataSetpreview",
  components: {
    Detiles, // 数据库详情
    Pagination // 分页
  },
  data() {
    return {
      focusInput: false, // 重命名输入框是否聚焦
      selName: "", // 重命名输入框的值
      list: [], // 数据库列表
      activeIndex: 0, // 当前选中的数据库下标
      info: {}, // 当前选中的数据库信息
      tableData: [],
      tableHeader: [],
      listQuery: {
        pageSize: 10,
        pageNum: 1,
        total: 0
      }
    };
  },
  mounted() {
    this.getList();
  },
  methods: {
    async changeItem(index) {
      // 切换数据库
      this.listQuery.pageNum = 1;
      this.activeIndex = index;
      this.info = this.list[this.activeIndex];

      await this.getTableList();
    },
    addItem(val) {
      // 新增数据库
      this.$emit("editDataSet", { datasetType: val, titleName: "新增数据集" });
    },
    editItem(item) {
      // 编辑数据库
      this.$emit("editDataSet", { ...this.info, connectId: this.info.connectId + "", titleName: "编辑数据集" });
    },
    deleteItem(item) {
      // 删除数据库
      dataSetDelete(item.id)
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            this.$message.success("删除成功");
            this.getList();
          } else {
            this.$message.error("删除失败");
          }
        })
        .catch(err => {
          this.$message.error("删除失败");
        });
    },
    closePopover(ref) {
      this.$refs[ref][0].doClose();
    },
    async getList() {
      // 获取数据集列表
      const iconInfo = { 1: "iconSQL", 2: "trees", 3: "wjsjj" };
      // 获取列表
      await dataSetPage({ pageNum: 1, pageSize: 1000 }).then(res => {
        this.list = res.data.data.data.map(item => {
          return {
            ...item,
            typeIcon: iconInfo[item.datasetType]
          };
        });
      });
      if (this.list.length > 0) {
        this.changeItem(0);
        this.$emit("whetherDataSet", true);
      } else {
        this.$emit("whetherDataSet", false);
      }
    },
    getTableList() {
      // 获取数据集列表
      let api = this.info.datasetType == 1 ? dataSetSqlView : dataSetTree;
      api({ ...this.info, ...this.listQuery })
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            let { data, columns } = res.data.data;
            this.tableHeader = columns.map(item => {
              return {
                label: item,
                prop: item
              };
            });
            this.tableData = data;
            this.listQuery.total = res.data.data.total;
          } else {
            this.tableData = [];
            this.tableHeader = [];
            this.listQuery.total = 0;
            this.$message.error(message || "获取数据集列表失败");
          }
        })
        .catch(err => {
          this.tableData = [];
          this.tableHeader = [];
          this.listQuery.total = 0;
          this.$message.error(err || "获取数据集列表失败");
        });
    },
    reNameSubmit(item) {
      // 重命名
      this.focusInput = true;
      this.selName = item.datasetName;
      this.$nextTick(() => {
        this.$refs.focusInpt[0].focus();
      });
    },
    nameSubmit(item) {
      this.focusInput = false;
      // 重命名提交
      if (this.selName == item.datasetName) {
        return false;
      } else if (!this.selName) {
        return false;
      }
      dataSetUpdate({ ...this.info, datasetName: this.selName })
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            this.$message.success("重命名成功");
            item.datasetName = this.selName;
          } else {
            this.$message.error(message || "重命名失败");
          }
        })
        .catch(err => {
          this.$message.error(err || "重命名失败");
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.dataSetpreview-main {
  height: calc(100vh - 200px);
  display: flex;
  width: 100%;
  .left {
    width: 19%;
    // min-width: 220px;
  }
  .right {
    width: 81%;
    border-left: 1px solid #ebeef5;
    position: relative;
  }

  .header {
    padding: 0px 30px;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebeef5;
    font-size: 12px;
    .title {
      display: flex;
      align-items: center;
      .svg-icon {
        font-size: 14px;
        margin-right: 5px;
        color: #3f73ff;
      }
    }
  }
  .contentBox {
    padding: 10px 0;
    overflow-y: auto;
    height: calc(100% - 60px);
    width: 100%;
    .content-item {
      height: 30px;
      background: rgba(236, 236, 236, 0.35);
      cursor: pointer;
      margin: 6px 16px 0 16px;
      padding: 0 10px;
      line-height: 30px;
      border-radius: 4px;
      color: #595959;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .leftitem {
        font-size: 12px;
        width: calc(100% - 50px);
        flex: 1;
        display: flex;
        align-items: center;
        input {
          border-radius: 4px;
          width: calc(100% - 14px);
          height: 20px;
          border: none;
          outline: none;
          font-size: 12px;
        }
        span {
          width: calc(100% - 10px);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .svg-icon {
          margin-right: 5px;
          font-size: 14px !important;
          width: 14px;
        }
      }
      .rightItem {
        .svg-icon {
          margin-left: 10px;
        }
      }
      &.active {
        color: #3f73ff;
        background: rgba(63, 115, 255, 0.1);
      }
    }

    .content {
      padding: 10px 20px;
      height: 100%;
      width: 100%;
      overflow: hidden;
      .standardTable {
        height: calc(100% - 30px);
        overflow: auto;
        width: 100%;
      }
    }
  }
}
</style>
<style lang="scss">
.sjjText {
  padding: 0;
  margin-top: 8px !important;
  .sjj {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    font-size: 12px;
    padding: 0 10px;
    height: 30px;
    color: #595959;
    margin-bottom: 1px;
    .svg-icon {
      font-size: 14px;
      margin-right: 5px;
      color: #9b9b9b;
    }
    &:hover {
      background: rgba(63, 115, 255, 0.1);
      color: #3f73ff;
      .svg-icon {
        color: #3f73ff;
      }
    }
  }
  .popper__arrow {
    display: none;
  }
}
</style>
