<template>
  <div class="button-group" v-if="currentTab === 'basicInfo' || currentTab === 'showConfig'">
    <Button type="default" @click="onBack">返回</Button>
    <Button
      type="primary"
      @click="onEdit"
      v-if="isEditAuth(currentIndicatorNode) && !indicatorEditable && showEditBtn">编辑
    </Button>
    <Button type="default" @click="onReset" v-if="indicatorEditable">重置</Button>
    <Button
      type="primary"
      :loading="checkLoading"
      @click="onSave"
      v-if="indicatorEditable"
      v-allow="[1097046178137090]">保存
    </Button>
  </div>
</template>

<script>
import dataAuth from '@/mixins/dataAuth'
import { mapState } from 'vuex'

export default {
  name: 'ActionButtonList',
  mixins: [dataAuth],
  props: {
    currentTab: String,
    currentIndicatorNode: Object,
    showEditBtn: Boolean,
    checkLoading: Boolean,
  },
  computed: {
    ...mapState('indicator', [
      'indicatorEditable',
    ]),
  },
  methods: {
    onBack() {
      this.$emit('on-back')
    },

    onEdit() {
      this.$emit('on-edit')
    },

    onReset() {
      this.$emit('on-reset')
    },

    onSave() {
      this.$emit('on-save')
    },
  },
}
</script>

<style scoped lang="less">
.button-group {
  position: absolute;
  right: 16px;
  z-index: 1;

  button {
    padding: 6px 24px;
    line-height: 1;
  }

  button + button {
    margin-left: 16px;
  }
}
</style>
