<template>
  <div class="indicatorSelectTree-container">
    <div class="input-wrapper">
      <Input search clearable placeholder="请输入指标名/指标组名/标签名" @on-change="onSearchIndicator($event)" @on-clear="onSearchIndicator" />
    </div>
    <div class="tree-wrapper">
      <Tree ref="resourcesTree" :data="treeData" :render="renderContent" @on-select-change="onSelectResourcesChange" class="custom-tree tree-all" />
    </div>
  </div>
</template>

<script>
import { queryDimensionAndIndicatorByLabel } from "@/api/label";
import { filterTree } from "@/utils/common";
import { INDICATOR_OPTION_LIST } from "@/config/indicator";
import dataAuth from "@/mixins/dataAuth";

export default {
  mixins: [dataAuth],
  props: {
    treeData: {
      type: Array,
      required: true
    },
    originTreeData: {
      type: Array,
      required: true
    }
  },
  methods: {
    /**
     * 树渲染逻辑
     */
    renderContent(h, { data }) {
      const isShowDeleteBtn = data.treeType !== "group" && this.isEditAuth(data)
      return h(
        "div",
        {
          style: {
            width: "100%",
            display: "flex",
            justifyContent: "space-between",
            alignItems: "center",
            marginLeft: data.children && data.children.length ? 0 : '-6px',
          }
        },
        [
          h("i", {
            class: this.getClassNameByIndicatorType(data)
          }),
          h(
            "div",
            {
              style: {
                flex: 1,
                overflow: "hidden",
                whiteSpace: "nowrap",
                textOverflow: "ellipsis"
              },
              attrs: {
                title: `${data.title}`
              },
              on: {
                click: e => {
                  // 如果点击的是目录，那么点击目录标题时，触发该目录图标的点击事件
                  if (data.treeType === 'group') {
                    e.target.closest('li').querySelector('.ivu-tree-arrow').click()
                  }
                }
              }
            },
            data.title
          ),
          h("div", [
            // 新增，只存在于group
            h(
              data.treeType === "group" && data.id !== -1 ? "Tooltip" : "",
              {
                props: {
                  theme: "light",
                  placement: "bottom-end",
                  delay: 500
                },
                directives: [
                  {
                    name: "allow",
                    value: [1097046178137089]
                  }
                ]
              },
              [
                h("i", {
                  class: "indGroup_add",
                  on: {
                    mousemove: e => {
                      e.stopPropagation();
                      this.createTooltip(e, data);
                    },
                    click: e => {
                      e.stopPropagation();
                    }
                  }
                })
              ]
            ),
            // 删除，只有指标可删除
            h(isShowDeleteBtn ? "i" : "", {
              class: "indIcon_del",
              on: {
                click: e => {
                  e.stopPropagation();
                  this.deleteIndicator(data);
                }
              },
              directives: [
                {
                  name: "allow",
                  value: [1097046178137088]
                }
              ]
            })
          ])
        ]
      );
    },
    /**
     * 获取指标类型对应的className
     */
    getClassNameByIndicatorType({ treeType, type, children }) {
      if (treeType === "group" && !children) {
        return "catalogueTreeNode";
      }
      if (treeType === "value") {
        return INDICATOR_OPTION_LIST.find(ele => ele.value === type)?.iconClass || ""
      }
      return "";
    },
    /**
     * 新增指标
     */
    createTooltip(e, current) {
      this.$emit("createTooltip", e, current);
    },
    /**
     * 删除指标
     */
    deleteIndicator({ title, type, id }) {
      this.$emit("deleteIndicator", { title, type, id });
    },
    /**
     * 搜索指标
     */
    async onSearchIndicator(e) {
      let value = e && e.target ? e.target.value : e;
      if (value) {
        const params = {
          name: value,
          type: 2
        };
        const res = await queryDimensionAndIndicatorByLabel(params);
        if (res.data.state === "success") {
          const labelIndicators = res.data.data.map(item => item.id);
          const newTreeData = filterTree(this.originTreeData, value, labelIndicators);
          this.$emit("searchIndicator", newTreeData);
        } else {
          this.$Message.error("根据标签搜索指标失败");
          this.$emit("searchIndicator", []);
        }
      } else {
        this.$emit("searchIndicator", this.originTreeData);
      }
    },
    /**
     * 切换选择树节点
     */
    onSelectResourcesChange(selectNodes, currentNode) {
      if (currentNode.type === "group") return;
      this.$emit("selectResourcesChange", currentNode);
    }
  }
};
</script>

<style lang="less" scoped>
/deep/ .ivu-tree-arrow-disabled {
  cursor: pointer;
}

.indicatorSelectTree-container {
  width: 100%;
  height: 100%;
  .input-wrapper {
    padding: 16px;
  }

  .tree-wrapper {
    overflow: auto;
    height: calc(~"100% - 64px");
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;

    // 分组icon
    /deep/ .catalogueTreeNode {
      content: url("~@/assets/images/system/catalogueTreeNode.png");
      width: 18px;
      margin-right: 3px;
    }

    // 操作icon
    /deep/ .indIcon_rename,
    /deep/ .indIcon_del,
    /deep/ .indGroup_add {
      vertical-align: middle;
    }
    /deep/ .indIcon_rename {
      content: url("~@/assets/icons/dimensionIcon/treeEdit.svg");
      transform: none;
      display: none;
      margin-right: 8px;
    }
    /deep/ .indIcon_del {
      content: url("~@/assets/icons/dimensionIcon/treeDelete.svg");
      transform: none;
      display: none;
    }
    /deep/ .indGroup_add {
      content: url("~@/assets/icons/dimensionIcon/treeAdd.svg");
      margin-right: 6px;
      transform: none;
      display: none;
    }

    /deep/ .ivu-tree-title:hover .indIcon_del,
    /deep/ .ivu-tree-title:hover .indIcon_rename,
    /deep/ .ivu-tree-title:hover .indGroup_add,
    /deep/ .ivu-tree-title-selected .indIcon_del,
    /deep/ .ivu-tree-title-selected .indGroup_add {
      display: inline-block;
    }
    /deep/ .ivu-tree-title-selected .indIcon_del {
      content: url("~@/assets/images/system/roleTreeDeleteBlue.svg");
    }
    /deep/ .indIcon_rename {
      content: url("~@/assets/icons/dimensionIcon/treeEdit.svg");
      transform: none;
      display: none;
      margin-right: 8px;
    }
    /deep/ .indIcon_del {
      content: url("~@/assets/icons/dimensionIcon/treeDelete.svg");
      transform: none;
      display: none;
    }
    /deep/ .indGroup_add {
      content: url("~@/assets/icons/dimensionIcon/treeAdd.svg");
      margin-right: 6px;
      transform: none;
      display: none;
    }
    /deep/ .ivu-tree-title:hover .indIcon_del,
    /deep/ .ivu-tree-title:hover .indIcon_rename,
    /deep/ .ivu-tree-title:hover .indGroup_add,
    /deep/ .ivu-tree-title-selected .indIcon_del,
    /deep/ .ivu-tree-title-selected .indGroup_add {
      display: inline-block;
    }
    /deep/ .ivu-tree-title-selected .indIcon_del {
      content: url("~@/assets/images/system/roleTreeDeleteBlue.svg");
    }
  }
}
.tree-all{
  /deep/.ivu-tree-arrow{
    max-width: 12px;
    width: auto;
  }
}
</style>
