<template>
  <div class="indicatorSelectTree-container">
    <div class="input-wrapper">
      <Input search clearable placeholder="请输入指标名/指标组名/标签名" @on-change="onSearchIndicator($event)" @on-clear="onSearchIndicator" />
    </div>
    <div class="tree-wrapper">
      <big-tree :setting="bigTreeSetting"
                :nodes="bigTreeNodes"
                @onClick="onTreeNodeClick"
                @onCreated="handleCreated"></big-tree>
    </div>
  </div>
</template>

<script>
import { queryDimensionAndIndicatorByLabel } from "@/api/label";
import {deepCopy, filterTree} from "@/utils/common";
import dataAuth from "@/mixins/dataAuth";
import BigTree from '@/components/BigTree/ztree.vue'
import {getIndicatorTreeData} from "@/api/indicator";
import _ from "lodash";
import dataPropertyMixin from "@/view/report/indicator-browser/mixin/dataPropertyMixin";
import {INDICATOR_OPTION_LIST} from "@/config/indicator";
import { mapState } from 'vuex'
export default {
  mixins: [dataAuth, dataPropertyMixin],
  props: {
    isView: {
      type: Boolean,
      default: false
    },
    expandAll: {
      type: Boolean,
      default: true,
    },
  },
  components: {
    BigTree
  },
  data() {
    return {
      bigTreeSetting: {
        check: {
          enable: false
        },
        data: {
          simpleData: {
            enable: true,
            pIdKey: "pid"
          }
        },
        view: {
          showIcon: true,
          addHoverDom: this.addHoverDom,
          removeHoverDom: this.removeHoverDom,
        },
        edit: {
          // showRemoveBtn: true,
          // enable:true,
        }
      },
      bigTreeNodes: [],
      bigTreeNodesBak: [],
      bigTreeNodesBakF: [],
      ztreeObj: null,
    }
  },
  computed: {
    ...mapState('indicator', ['indicatorId']),
  },
  mounted() {
    if (this.isView) {
      this.bigTreeSetting = {
        check: {
          enable: false
        },
        data: {
          simpleData: {
            enable: true,
            pIdKey: "pid"
          }
        },
        view: {
          showIcon: true,
        },
      }
    }
    this.refreshGroupAndIndicatorTree()
  },
  watch: {
    indicatorId(newVal) {
      const node = this.ztreeObj.getNodeByParam('id', newVal)
      if (node) {
        this.ztreeObj.selectNode(node)
      }
    },
  },
  methods: {
    async refreshGroupAndIndicatorTree() {
      const res = await getIndicatorTreeData()
      if (res.data.state === 'success') {
        const {indicatorGroupList, indicatorList} = res.data.data
        const groupNodeArr = indicatorGroupList.map(item => {
          return {
            id: item.id,
            name: item.name,
            pid: item.parentId,
            iconClose: require('@/assets/images/system/treePlusForManage.svg'),
            iconOpen: require('@/assets/images/system/treeMinusForManage.svg'),
          }
        })
        const indicatorNodeArr = indicatorList.map(item => {
          return {
            ...item,
            pid: item.groupId,
            icon: this.getIndicatorIcon(item.type),
          }
        })
        const rootNode = [{
          id: -1,
          name: '指标组',
          iconClose: require('@/assets/images/system/treePlusForManage.svg'),
          iconOpen: require('@/assets/images/system/treeMinusForManage.svg'),
        }]
        this.bigTreeNodes = [...rootNode, ...groupNodeArr, ...indicatorNodeArr]
        this.bigTreeNodesBak = deepCopy(this.bigTreeNodes)
      } else {
        this.$Message.error('获取分组及指标失败')
      }
    },
    getIndicatorIcon(type) {
      let icon = null
      if (type === 1) { // 原子
        icon = require('@/assets/icons/indicatorIcon/icon_basic_indicator.svg')
      } else if (type === 2) { // 复合
        icon = require('@/assets/icons/indicatorIcon/icon_composite_indicator.svg')
      } else if (type === 3) { // 派生
        icon = require('@/assets/icons/indicatorIcon/icon_derivative_indicator.svg')
      } else if (type === 4) { // 外部
        icon = require('@/assets/icons/indicatorIcon/icon_out_indicator.svg')
      } else if (type === 5) { // 静态
        icon = require('@/assets/icons/indicatorIcon/icon_static_indicator.svg')
      }
      return icon
    },
    /**
     * 新增指标
     */
    // createTooltip(e, current) {
    //   this.$emit("createTooltip", e, current);
    // },
    /**
     * 删除指标
     */
    deleteIndicator({ title, type, id }) {
      this.$emit("deleteIndicator", { title, type, id });
    },
    /**
     * 搜索指标
     */
    async onSearchIndicator(e) {
      let value = e && e.target ? e.target.value : e;
      if (value) {
        const params = {
          name: value,
          type: 2
        };
        const res = await queryDimensionAndIndicatorByLabel(params);
        if (res.data.state === "success") {
          const labelIndicators = res.data.data.map(item => item.id);
          const filterTreeDataByName = _.filter(this.bigTreeNodesBak, item => item.name.indexOf(value) !== -1)
          const filterTreeDataByLabel = []
          labelIndicators.forEach(item => {
            const targetData = _.find(this.bigTreeNodesBak, it => it.id === item)
            filterTreeDataByLabel.push(targetData)
          })
          let treeDataNew = Array.from(new Set(filterTreeDataByName.concat(filterTreeDataByLabel)))
          // 找出各自的父节点
          let ancestorNodes = this.findAncestorNodesByPid(treeDataNew, this.bigTreeNodesBak)
          treeDataNew = Array.from(new Set(treeDataNew.concat(ancestorNodes)))
          this.bigTreeNodes = treeDataNew
        } else {
          this.$Message.error("根据标签搜索指标失败");
          // this.$emit("searchIndicator", []);
          this.bigTreeNodes = []
        }
      } else {
        // this.$emit("searchIndicator", this.originTreeData);
        this.bigTreeNodes = deepCopy(this.bigTreeNodesBak)
      }
    },
    onTreeNodeClick(evt, treeId, treeNode) {
      // 点击事件
      if (treeNode.type) {
        this.$emit("selectResourcesChange", treeNode);
      }
    },
    handleCreated(ztreeObj) {
      this.ztreeObj = ztreeObj
      if (this.expandAll) {
        ztreeObj.expandAll(true)
      } else {
        // onCreated 中操作ztreeObj对象展开第一个节点
        ztreeObj.expandNode(ztreeObj.getNodes()[0], true)
      }
    },
    addHoverDom(treeId, treeNode) {
      if (treeNode.type) {
        const aObj = $("#" + treeNode.tId + "_a");
        if ($("#diyBtn_"+treeNode.id).length>0) return;
        const editStr = "<span id='diyBtn_space_" +treeNode.id+ "' > </span>"
            + "<button type='button' class='button diyBtn1' id='diyBtn_" + treeNode.id
            + "' title='移除' onfocus='this.blur();' style='background: url(" + require('@/assets/icons/dimensionIcon/treeDelete.svg')+") 0 0 no-repeat;border: none;'></button>";
        aObj.append(editStr);
        const btn = $("#diyBtn_"+treeNode.id);
        if (btn) btn.bind("click", (e) => {
          e.stopPropagation()
          this.$emit("deleteIndicator", { title: treeNode.name, type:treeNode.type , id:treeNode.id })
        });
      } else {
        if (treeNode.id !== -1) {
          const aObj = $("#" + treeNode.tId + "_a");
          if ($("#diyBtn_"+treeNode.id).length>0) return;
          const editStr = "<span id='diyBtn_space_" +treeNode.id+ "' > </span>"
              + "<button type='button' class='button diyBtn1' id='diyBtn_" + treeNode.id
              + "' title='新建' onfocus='this.blur();' style='background: url(" + require('@/assets/icons/dimensionIcon/treeAdd.svg')+") 0 0 no-repeat;border: none;'></button>";
          aObj.append(editStr);
          const btn = $("#diyBtn_"+treeNode.id);
          if (btn) btn.bind("click", (e) => {
            e.stopPropagation()
            let ul = document.createElement('ul')
            ul.innerHTML = INDICATOR_OPTION_LIST.map(
                (ele) =>
                    `<li
              style="--indicatorIcon: url(${ele.icon}); --indicatorIconActive: url(${ele.iconActive});"
              value="${ele.value}"
            >${ele.label}</li>`,
            ).join('')
            ul.classList.add('add-menu-list')

            ul.removeEventListener('click',  null)
            ul.addEventListener('click', (e) => {
              e.stopPropagation()
              this.$emit("addIndicator", {indicatorKind: e.target.value, assetGroup: treeNode.id})
            })
            ul.removeEventListener('mouseleave', null)
            ul.addEventListener('mouseleave', (e) => {
              e.stopPropagation()
              this.removeHoverDom(treeId, treeNode)
            })
            ul.addEventListener('mouseover', (e)=> e.stopPropagation())
            e.target.appendChild(ul)
          });
        }
      }
    },
    createTooltip(e, current) {
      let event = e.target.parentNode
      if (event.parentNode.lastChild.lastChild.lastChild.innerHTML === '') {
        let ul = document.createElement('ul')
        ul.innerHTML = INDICATOR_OPTION_LIST.map(
            (ele) =>
                `<li
              style="--indicatorIcon: url(${ele.icon}); --indicatorIconActive: url(${ele.iconActive})"
              value="${ele.value}"
            >${ele.label}</li>`,
        ).join('')
        ul.classList.add('add-menu-list')

        ul.addEventListener('click', (e) => {
          e.stopPropagation()
          this.setIndicatorKind(e.target.value)
          this.clearIndicator()
          this.setAssetGroup(current.id)
          this.indicatorEditable = true
          this.currentTab = 'basicInfo'
          this.indicatorDetailBak = {
            assetGroup: current.id,
          }
        })
        event.parentNode.lastChild.lastChild.lastChild.appendChild(ul)
      }
    },
    removeHoverDom(treeId, treeNode) {
      $("#diyBtn_"+treeNode.id).unbind().remove();
      $("#diyBtn_space_" +treeNode.id).unbind().remove();
    },
    refreshRelatedIndicatorTreeData(relatedIndicators,keywords,calculateType) {
      let bigTreeNodesNew = this.bigTreeNodesBak.filter(item => item.name.includes(keywords) && (calculateType ? (item.calculateType === calculateType) : true) && (relatedIndicators ? relatedIndicators.includes(item.id) : true))
      const ancestorNodes = this.findAncestorNodesByPid(bigTreeNodesNew, this.bigTreeNodesBak)
      bigTreeNodesNew = Array.from(new Set(bigTreeNodesNew.concat(ancestorNodes)))
      this.bigTreeNodes = bigTreeNodesNew
    },
    /**
     * 根据指标id获取树中对应节点
     */
    getNodeByIndicatorId() {

    },
  }
};
</script>

<style lang="less" scoped>
/deep/ .ivu-tree-arrow-disabled {
  cursor: pointer;
}

.indicatorSelectTree-container {
  width: 100%;
  height: calc(~"100% - 51px");
  .input-wrapper {
    padding: 16px;
  }

  .tree-wrapper {
    overflow: auto;
    height: calc(~"100% - 64px");
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;

    // 分组icon
    /deep/ .catalogueTreeNode {
      content: url("~@/assets/images/system/catalogueTreeNode.png");
      width: 18px;
      margin-right: 3px;
    }

    // 操作icon
    /deep/ .indIcon_rename,
    /deep/ .indIcon_del,
    /deep/ .indGroup_add {
      vertical-align: middle;
    }
    /deep/ .indIcon_rename {
      content: url("~@/assets/icons/dimensionIcon/treeEdit.svg");
      transform: none;
      display: none;
      margin-right: 8px;
    }
    /deep/ .indIcon_del {
      content: url("~@/assets/icons/dimensionIcon/treeDelete.svg");
      transform: none;
      display: none;
    }
    /deep/ .indGroup_add {
      content: url("~@/assets/icons/dimensionIcon/treeAdd.svg");
      margin-right: 6px;
      transform: none;
      display: none;
    }

    /deep/ .ivu-tree-title:hover .indIcon_del,
    /deep/ .ivu-tree-title:hover .indIcon_rename,
    /deep/ .ivu-tree-title:hover .indGroup_add,
    /deep/ .ivu-tree-title-selected .indIcon_del,
    /deep/ .ivu-tree-title-selected .indGroup_add {
      display: inline-block;
    }
    /deep/ .ivu-tree-title-selected .indIcon_del {
      content: url("~@/assets/images/system/roleTreeDeleteBlue.svg");
    }
    /deep/ .indIcon_rename {
      content: url("~@/assets/icons/dimensionIcon/treeEdit.svg");
      transform: none;
      display: none;
      margin-right: 8px;
    }
    /deep/ .indIcon_del {
      content: url("~@/assets/icons/dimensionIcon/treeDelete.svg");
      transform: none;
      display: none;
    }
    /deep/ .indGroup_add {
      content: url("~@/assets/icons/dimensionIcon/treeAdd.svg");
      margin-right: 6px;
      transform: none;
      display: none;
    }
    /deep/ .ivu-tree-title:hover .indIcon_del,
    /deep/ .ivu-tree-title:hover .indIcon_rename,
    /deep/ .ivu-tree-title:hover .indGroup_add,
    /deep/ .ivu-tree-title-selected .indIcon_del,
    /deep/ .ivu-tree-title-selected .indGroup_add {
      display: inline-block;
    }
    /deep/ .ivu-tree-title-selected .indIcon_del {
      content: url("~@/assets/images/system/roleTreeDeleteBlue.svg");
    }
  }
}
.tree-all{
  /deep/.ivu-tree-arrow{
    max-width: 12px;
    width: auto;
  }
}
.diyBtn1{
  background: url("~@/assets/icons/dimensionIcon/treeDelete.svg");
}
/deep/ .add-menu-list {
  padding: 0 4px;
  z-index: 99;
  width: 100px;
  background-color: rgb(255, 255, 255);
  color: rgb(81, 90, 110);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px;
  li {
    padding-left: 20px;
    background-image: var(--indicatorIcon);
    background-repeat: no-repeat;
    background-position-y: center;

    &:hover {
      color: #3f73ff;
      background-image: var(--indicatorIconActive);
    }

    + li {
      margin-top: 16px;
    }
  }
}
</style>
