<template>
  <div class="indicator-detail-tab">
    <Tabs :value="currentTab" name="container" @on-click="onTabClick">
      <TabPane label="基本信息" name="basicInfo" tab="container" :index="1">
        <BasicInfo v-bind="$attrs" v-on="$listeners" />
      </TabPane>
      <TabPane label="血缘关系" name="bloodRelationship" tab="container" :index="2" v-if="indicatorId && indicatorKind !== 4 && indicatorKind !== 5">
        <BloodRelationship />
      </TabPane>
      <TabPane label="显示设置" name="showConfig" tab="container" :index="3">
        <ShowConfig />
      </TabPane>
      <TabPane label="操作日志" name="operationLog" tab="container" :index="4" v-if="indicatorId && showOperationBtn">
        <OperationLog />
      </TabPane>
      <TabPane label="数据调度" name="dataTaskResult" tab="container" :index="5" v-if="showDataTaskTab">
        <DataTaskResult />
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import BasicInfo from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/index.vue'
import BloodRelationship from '@/view/report/indicator/IndicatorDetail/components/BloodRelationship/index.vue'
import ShowConfig from '@/view/report/indicator/IndicatorDetail/components/ShowConfig/index.vue'
import OperationLog from '@/view/report/indicator/IndicatorDetail/components/OperationLog/index.vue'
import DataTaskResult from '@/view/report/indicator/IndicatorDetail/components/DataTaskResult/index.vue'

export default {
  name: 'IndicatorDetailTab',
  components: {
    BasicInfo,
    BloodRelationship,
    ShowConfig,
    OperationLog,
    DataTaskResult,
  },
  props: {
    currentTab: String,
  },
  computed: {
    ...mapState('indicator', [
      'indicatorId',
      'indicatorKind',
    ]),
    showOperationBtn() {
      return this.$store.state.user.btnAllowList.some((ele) => ele.name === '操作日志')
    },
    showDataTaskTab() {
      const supportIndicatorKind = [1, 2, 3]
      return this.indicatorId && supportIndicatorKind.includes(this.indicatorKind)
    }
  },
  methods: {
    /**
     * 切换tab
     * @param name
     */
    onTabClick(name) {
      this.$emit('on-change', name)
      // 查询血缘关系, 避免重复加载
      if (name === 'bloodRelationship' && !this.isBloodPanelOpen) {
        this.isBloodPanelOpen = true
      }
    },
  },
}
</script>

<style scoped lang="less">
.indicator-detail-tab {
  height: 100%;
}
</style>
