<template>
  <div class="sql-search-modal">
    <Modal v-model="sqlModalVisible" title="SQL查询" width="800px" id="sqlContent" @on-cancel="handleCloseSqlModal">
      <div class="sql-content-wrapper">
        <div class="editable-div" ref="editableDiv" contenteditable="true" @blur="onSqlContentChange"></div>
        <div v-show="isSqlChecked !== null">
          <span :style="{ color: isSqlChecked ? '#777' : '#f00' }">语法校验{{ sqlSyntaxVerificationResult }}</span>
          <Tooltip class="showArrowTool" theme="light" placement="right" maxWidth="300" v-if="isSqlChecked === false">
            <div slot="content">
              <div style="word-wrap: break-word; word-break: break-all" v-html>{{ sqlResultError }}</div>
            </div>
            <Icon style="padding-left: 5px" type="ios-information-circle-outline" size="18" v-if="isSqlChecked === false" />
          </Tooltip>
          <span class="view-result" v-show="isSqlChecked && sqlResultData.length > 0" @click="sqlResultVisible = !sqlResultVisible">查看结果</span>
        </div>
      </div>

      <div class="button-group">
        <Button class="cancel-btn" type="default" @click="handleCloseSqlModal">取消</Button>
        <Button class="check-btn" type="primary" ghost @click="checkSqlSentence">运行校验</Button>
        <Button class="save-btn" type="primary" @click="onSqlSave">保存</Button>
      </div>
      <div class="table-wrapper" v-show="sqlResultVisible && sqlResultData.length > 0">
        <Table :columns="sqlResultColumns" :data="sqlResultData" height="200"></Table>
      </div>
      <div slot="footer"></div>
    </Modal>

    <Modal v-model="writeVarVisible" title="SQL语句变量替换" width="20%" class-name="sqlModal">
      <div style="padding: 0 14px; width: 100%; height: 100%">
        <Form style="width: 100%">
          <FormItem
            v-for="(item, index) in sqlVarList.varList"
            :key="index"
            style="width: 100%"
            class="writeVar"
            v-if="item.isShow">
            <div class="var-label">{{ item.label }}:</div>
            <Input class="var-input" v-model="item.value" />
          </FormItem>
        </Form>
      </div>
      <div slot="footer">
        <Button type="default" @click="writeVarVisible = false">取消</Button>
        <Button type="primary" style="background: #3f73ff" @click="sqlVarOk">提交</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import moment from 'moment/moment'
import { queryDataForExecuteSql } from '@/api/indicator'
import { deepCopy } from '@/utils/common'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'SqlSearchModal',
  data() {
    return {
      sqlModalVisible: false,
      isSqlChecked: null, // sql是否查询成功
      sqlResultError: '',
      sqlResultData: [], // sql查询结果，表格数据
      sqlResultVisible: false, // sql结果显示/隐藏
      sqlResultColumns: [
        { title: '列1', key: 'c1' },
        { title: '列2', key: 'c2' },
        { title: '列1', key: 'c3' },
      ], // sql查询结果，表格列结构
      sqlContent: '', // sql表达式内容
      writeVarVisible: false, // SQL语句变量替换
      sqlVarList: {
        varList: [],
        sql: '',
      },
    }
  },
  computed: {
    ...mapState('indicator', [
      'indicatorKind',
      'filterConditions',
      'businessModel',
      'compositeIndicatorBusinessModels',
    ]),

    // SQL查询语法校验结果
    sqlSyntaxVerificationResult() {
      return this.isSqlChecked
        ? this.sqlResultData.length > 0
          ? '通过'
          : '通过，查询结果为空'
        : '失败'
    },
  },
  mounted() {
    this.$bus.$on('on-watch-sql-condition', this.onWatchSqlCondition)
  },
  beforeDestroy() {
    this.$bus.$off('on-watch-sql-condition', this.onWatchSqlCondition)
  },
  methods: {
    ...mapActions('indicator', [
      'setFilterConditions',
    ]),

    /**
     * 关闭sql查询模态框
     */
    handleCloseSqlModal() {
      this.sqlModalVisible = false
      this.sqlContent = ''
      this.isSqlChecked = null
      this.sqlResultColumns = []
      this.sqlResultError = null
      this.sqlResultData = []
    },

    onSqlContentChange(e) {
      this.sqlContent = e.target.innerText
    },

    /**
     * 检查sql语句
     */
    checkSqlSentence() {
      if (!this.sqlContent?.trim()) {
        this.sqlResultData = []
        this.isSqlChecked = false
        return
      }

      const reg = /\${(.+?)\}/gi
      let regList = this.sqlContent
        .match(reg)
        ?.map((item) => item.replace(/\s/gi, ''))
      let allVar = Array.from(new Set(regList))
      if (!allVar.length) {
        let sql = this.replaceSqlSpace(this.sqlContent)
        this.sendSqlToExecute(sql)
        return
      }

      this.sqlVarList.varList = allVar.map((item) => {
        let day = new Date()
        day.setDate(day.getDate() - 1)
        let yesterday = moment(day).format('yyyyMMDD')
        return {
          label: item.slice(2, item.length - 1),
          value:
            item.slice(2, item.length - 1) === 'businessDate' ? yesterday : '',
          isShow:
            item.slice(2, item.length - 1) === 'businessDate' ? false : true,
        }
      })
      this.sqlVarList.sql = this.sqlContent
      if (
        this.sqlVarList.varList.length === 1 &&
        this.sqlVarList.varList[0].label === 'businessDate'
      ) {
        this.writeVarVisible = false
        this.sqlVarOk()
      } else {
        this.writeVarVisible = true
      }
    },

    /**
     * 获取最终的sql
     */
    getFinalSql() {
      let { sql, varList } = deepCopy(this.sqlVarList)
      if (sql && varList.length) {
        varList.forEach(item => {
          let reg = new RegExp('\\' + '$' + '{' + '(' + item.label + ')' + '\\' + '}', 'gi')
          sql = sql.replace(reg, item.value)
          sql = this.replaceSqlSpace(sql)
        })
      } else {
        sql = this.sqlContent
        sql = this.replaceSqlSpace(sql)
      }
      return sql
    },

    /**
     * sql语句变量替换-ok
     */
    sqlVarOk() {
      const sql = this.getFinalSql()
      this.sendSqlToExecute(sql)
    },

    /**
     * 发送sql以执行
     * @param sql
     */
    async sendSqlToExecute(sql) {
      this.writeVarVisible = false
      const { groupIndex, index } = this.filterConditionsIndex
      let filterConditions =
        this.indicatorKind === 1
          ? this.filterConditions
          : this.compositeIndicatorFilterConditions[
            this.currentFilterIndicator
            ]
      let conditionType = filterConditions[groupIndex][index].conditionType
      if (!conditionType) return this.$Message.warning('请选择条件')
      const businessModelId =
        this.indicatorKind === 1
          ? this.businessModel
          : this.compositeIndicatorBusinessModels[this.currentFilterIndicator]
      const params = { businessModelId, value: `[${sql}]` }
      const { data: res } = await queryDataForExecuteSql(params)
      if (res?.state === 'success') {
        this.isSqlChecked = true
        if (res.data.length) {
          let header = res.data[0]
          let columns = []
          for (let k in header) {
            columns.push({
              title: k,
              key: k,
              minWidth: 150,
            })
          }
          this.sqlResultColumns = columns

          let data = []
          for (let i = 0; i < 20 && i < res.data.length; i++) {
            let objVal = res.data[i]
            for (let key in objVal) {
              if (key.toLowerCase().indexOf('date') !== -1) {
                if (!isNaN(objVal[key]) && isNaN(Date.parse(objVal[key]))) {
                  objVal[key] = moment(objVal[key]).format('yyyy-MM-DD')
                }
              }
            }
            data.push(objVal)
          }
          this.sqlResultData = data
          this.sqlContentBak = this.sqlContent
          this.isCheckedSql = sql
        } else {
          this.sqlResultData = []
        }
      } else {
        this.isSqlChecked = false
        this.sqlResultData = []
        this.sqlResultError = res.message
      }
    },

    /**
     * sql查询-保存
     */
    async onSqlSave() {
      if (!this.isSqlChecked) return this.$Message.warning('SQL尚未校验')

      let text = this.replaceSqlSpace(this.sqlContent)
      if (!text) return this.$Message.warning('未输入SQL语句')
      if (this.sqlContentBak && this.sqlContent !== this.sqlContentBak) {
        if (!this.sqlContent) return this.$Message.warning('请输入SQL语句')
        return this.$Message.warning('SQL语句未校验')
      }

      const { groupIndex, index } = this.filterConditionsIndex
      let sql = this.getFinalSql()
      const businessModelId =
        this.indicatorKind === 1
          ? this.businessModel
          : this.compositeIndicatorBusinessModels[this.currentFilterIndicator]
      const params = { businessModelId, value: `[${sql}]` }
      let { data: res } = await queryDataForExecuteSql(params)
      if (res?.state === 'success') {
        if (this.indicatorKind === 1) {
          // 原子
          let filterConditions = deepCopy(this.filterConditions)
          let condition = filterConditions[groupIndex][index]
          condition.variableValue = text
          this.setFilterConditions(filterConditions)
        }
        if (this.indicatorKind === 2) {
          // 复合
          let filterConditions = deepCopy(
            this.compositeIndicatorFilterConditions,
          )
          let condition =
            filterConditions[this.currentFilterIndicator][groupIndex][index]
          condition.variableValue = text
          this.setCompositeIndicatorFilterConditions(filterConditions)
        }

        this.$Message.success('保存成功')
        this.handleCloseSqlModal()
      } else {
        this.$Message.error(res.message)
        this.sqlResultError = res.message
      }
    },

    replaceSqlSpace(sql) {
      sql = sql.replace(/\n/gi, ' ')
      sql = sql.replace(/\s/gi, ' ')
      return sql
    },

    /**
     * 点击查看SQL条件
     * @param groupIndex
     * @param index
     * @param currentFilterIndicator
     */
    onWatchSqlCondition({ groupIndex, index, currentFilterIndicator }) {
      this.filterConditionsIndex = { groupIndex, index }
      this.sqlModalVisible = true

      if (this.indicatorKind === 1) {
        let condition = this.filterConditions[groupIndex][index]
        this.sqlContent = condition.variableValue ?? ''
      }
      if (this.indicatorKind === 2) {
        this.currentFilterIndicator = currentFilterIndicator
        let condition =
          this.compositeIndicatorFilterConditions[currentFilterIndicator][
            groupIndex
            ][index]
        this.sqlContent = condition.variableValue ?? ''
      }
    },
  },
  watch: {
    sqlContent() {
      this.$refs.editableDiv.innerText = this.sqlContent
    },
  },
}
</script>

<style scoped lang="less">
#sqlContent {
  list-style: none;

  .sql-content-wrapper {
    width: 100%;
    height: 220px;
    border: 1px solid #eaeaea;
    padding: 8px;

    .editable-div {
      width: 100%;
      height: 185px;
      overflow-x: auto;
      outline: none;
    }
  }
}

#sqlContent li:before {
  content: counter(sectioncounter) "、";
  counter-increment: sectioncounter;
}

#sqlContent
/deep/
.ivu-modal
.ivu-modal-content
.ivu-modal-footer
.ivu-btn-ghost {
  background: none;
  color: #3f73ff;
  text-align: center;
}

/deep/ .showArrowTool {
  .ivu-tooltip-arrow {
    display: block;
  }
}

.view-result {
  margin-left: 10px;
  color: #2377ff;
  cursor: pointer;
}

.button-group {
  text-align: right;
  margin: 18px 0;

  .cancel-btn {
    width: 80px;
  }

  .check-btn {
    width: 80px;
    margin-left: 15px;
  }

  .save-btn {
    width: 80px;
    background: #3f73ff;
    margin-left: 15px;
  }
}

.table-wrapper {
  border-top: 1px dotted #ececec;
  width: 100%;
  height: 200px;
}

/deep/ .sqlModal .ivu-modal .ivu-modal-body {
  max-height: 270px;

  overflow-y: auto;
}

/deep/ .writeVar .ivu-form-item-content {
  display: flex;
  justify-content: space-between;
}

.var-label {
  width: 40%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.var-input {
  width: 55%;
}
</style>
