<template>
  <div
    v-show="isAllowShowNode(nodeProps)"
    ref="seeksRGNode"
    :style="{'left':nodeProps.x + 'px','top':nodeProps.y + 'px', 'opacity': (nodeProps.opacity>1?nodeProps.opacity/100:nodeProps.opacity) }"
    class="rel-node-peel"
    @mousedown.left.stop="onDragStart($event)"
    @mouseover.stop="onMouseHover($event)"
    @mouseout.stop="onMouseOut($event)"
    @click.stop="onclick($event)"
  >
    <div style="width: 4px;border-radius: 4px 0 0 4px;"
         :style="{'background-color':nodeProps.color,'height':(nodeProps.height||graphSetting.defaultNodeHeight)+'px'}">
    </div>
    <div
      v-if="(nodeProps.dataType === 1 && nodeProps.bloodType === 1) || (nodeProps.dataType === 5 && nodeProps.bloodType === 2)"
      style="margin-top: -8px;margin-left: -24px;"
      class="c-btn-open-close">
      <span :class="expandButtonClass"
            @click.stop="expandOrCollapseNode($event, 'left')">
      </span>
    </div>
    <div
      :class="['rel-node-shape-'+(nodeProps.nodeShape===undefined?graphSetting.defaultNodeShape:nodeProps.nodeShape),'rel-node-type-'+nodeProps.type, (nodeProps.id===graphSetting.checkedNodeId?'rel-node-checked':''), (nodeProps.selected?'rel-node-selected':''), nodeProps.styleClass, (hovering?'rel-node-hover':''), (nodeProps.innerHTML?'rel-diy-node':'')]"
      :style="{'width':(nodeProps.width || graphSetting.defaultNodeWidth)+'px', 'height':(nodeProps.height||graphSetting.defaultNodeHeight)+'px'}"
      class="rel-node"
    >
      <div :style="{'color':(nodeProps.fontColor || graphSetting.defaultNodeFontColor)}"
           class="c-node-text">
        <img v-if="nodeProps.dataType === 0" src="@/assets/icons/tree/originalTableGray.svg"
             style="width: 20px;height: 20px; margin-right: 5px"
             alt=""/>
        <img v-if="nodeProps.dataType === 1" src="@/assets/icons/indicatorIcon/base-indicator-blood.svg"
             style="width: 20px;height: 20px; margin-right: 5px"
             alt=""/>
        <img v-else-if="nodeProps.dataType === 2" src="@/assets/icons/indicatorIcon/business-model-blood.svg"
             style="width: 20px;height: 20px; margin-right: 5px"
             alt=""/>
        <img v-else-if="nodeProps.dataType === 3" src="@/assets/icons/indicatorIcon/dataset-blood.svg"
             style="width: 20px;height: 20px; margin-right: 5px"
             alt=""/>
        <img v-else-if="nodeProps.dataType === 4" src="@/assets/icons/indicatorIcon/report-blood.svg"
             style="width: 20px;height: 20px; margin-right: 5px"
             alt=""/>
        <img v-else-if="nodeProps.dataType === 5" src="@/assets/icons/dimensionIcon/dimension.png"
             style="width: 20px;height: 20px; margin-right: 5px"
             alt=""/>
        <div style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" :title="nodeProps.text">{{nodeProps.text}}&nbsp;{{nodeProps.result?'('+nodeProps.result+')':''}}</div>
      </div>
    </div>
    <div
      v-if="(nodeProps.dataType === 1 && nodeProps.bloodType === 1) || (nodeProps.dataType === 5 && nodeProps.bloodType === 2)"
      style="margin-top: -8px;margin-left: 148px;"
      class="c-btn-open-close">
      <span :class="expandButtonClass"
            @click.stop="expandOrCollapseNode($event, 'right')">
      </span>
    </div>
  </div>
</template>

<script>
  import SeeksRGUtils from './SeeksRGUtils'

  export default {
    name: 'SeeksRGNode',
    components: {},
    props: {
      graphSetting: {
        mustUseProp: true,
        default: () => {
          return {}
        },
        type: Object
      },
      nodeProps: {
        mustUseProp: true,
        default: () => {
          return {}
        },
        type: Object
      },
      onNodeClick: {
        mustUseProp: false,
        default: () => {
          return () => {
          }
        },
        type: Function
      }
    },
    data() {
      return {
        hovering: false,
        borderColor: '',
        dragging: false
      }
    },
    computed: {
      expandButtonClass() {
        return this.nodeProps.expanded === false ? 'c-expanded' : 'c-collapsed'
      }
    },
    created() {
      this.leftPartNodeExpanded = true
      this.rightPartNodeExpanded = true
    },
    mounted() {
      this.refreshNodeProperties()
    },
    beforeDestroy() {
      const elx = this.$refs.seeksRGNode
      elx.remove()
    },
    methods: {
      refreshNodeProperties() {
        this.nodeProps.el = this.$refs.seeksRGNode
      },
      expandOrCollapseNode(e, direction) {
        if (direction === 'left') {
          if (this.leftPartNodeExpanded) {
            this.leftPartNodeExpanded = false
            this.nodeProps.lot.childs.forEach(thisNode => {
              if (thisNode.dataType === 2) {
                thisNode.isShow = false
              }
            })
            this.$parent.onNodeCollapseEvent(this.nodeProps, e)
          } else {
            this.leftPartNodeExpanded = true
            this.nodeProps.lot.childs.forEach(thisNode => {
              if (thisNode.dataType === 2) {
                thisNode.isShow = true
              }
            })
            this.$parent.onNodeExpandEvent(this.nodeProps, e)
          }
        } else {
          if (this.rightPartNodeExpanded) {
            this.rightPartNodeExpanded = false
            this.nodeProps.lot.childs.forEach(thisNode => {
              if (thisNode.dataType === 4) {
                thisNode.isShow = false
              }
            })
            this.$parent.onNodeCollapseEvent(this.nodeProps, e)
          } else {
            this.rightPartNodeExpanded = true
            this.nodeProps.lot.childs.forEach(thisNode => {
              if (thisNode.dataType === 4) {
                thisNode.isShow = true
              }
            })
          }
        }

        // if (this.nodeProps.expanded === false) {
        //   this.nodeProps.expanded = true
        //   this.nodeProps.lot.childs.forEach(thisNode => {
        //     thisNode.isShow = true
        //   })
        //   this.$parent.onNodeExpandEvent(this.nodeProps, e)
        // } else {
        //   this.nodeProps.expanded = false
        //   this.nodeProps.lot.childs.forEach(thisNode => {
        //     if (direction === 'left' && thisNode.dataType === 2) {
        //       thisNode.isShow = false
        //     } else if (direction === 'right' && thisNode.dataType === 4) {
        //       thisNode.isShow = false
        //     }
        //   })
        //   this.$parent.onNodeCollapseEvent(this.nodeProps, e)
        // }
      },
      onDragStart(e) {
        if (this.graphSetting.disableDragNode || this.nodeProps.disableDrag) {
          return
        }
        this.dragging = true
        this.hovering = false
        SeeksRGUtils.startDrag(e, this.nodeProps, this.onNodeDraged)
      },
      onNodeDraged(x, y) {
        if (this.graphSetting.isMoveByParentNode) {
          this.nodeProps.lot.childs.forEach(thisCnode => {
            thisCnode.x += x
            thisCnode.y += y
          })
        }
        if (Math.abs(x) + Math.abs(y) > 6) {
          setTimeout(function () {
            if (window.SeeksGraphDebug) console.log('delay end dragging', this.dragging)
            this.dragging = false
          }.bind(this), 100)
        } else {
          this.dragging = false
        }
      },
      onMouseHover() {
        if (this.dragging) {
          return
        }
        this.hovering = true
      },
      onMouseOut() {
        this.hovering = false
      },
      onclick(e) {
        if (this.dragging) {
          return
        }
        if (!this.nodeProps.disableDefaultClickEffect) {
          this.graphSetting.checkedNodeId = this.nodeProps.id
        }
        if (this.onNodeClick) {
          this.onNodeClick(this.nodeProps, e)
        }
      },

      getLightColor(col) {
        if (col[0] === '#') {
          let _s = col.substring(1)
          if (_s.length === 3) {
            _s = _s[0] + _s[0] + _s[1] + _s[1] + _s[2] + _s[2]
          }
          let _rgb_arr = [
            parseInt(_s[0] + '' + _s[1], 16),
            parseInt(_s[2] + '' + _s[3], 16),
            parseInt(_s[4] + '' + _s[5], 16)
          ]
          if (window.SeeksGraphDebug) console.log('getLightColor1:', col, ':', _rgb_arr.join(','))
          col = 'rgb(' + _rgb_arr.join(',') + ')'
        }
        let _st = col.substring(col.indexOf('(') + 1)
        _st = _st.substring(0, _st.indexOf(')'))
        let _rgb_string = _st.split(',')
        // console.log('getLightColor444:', _st, ':', _rgb_string.join(','))
        if (_rgb_string.length >= 3) {
          let _rgb_number = [
            parseInt(parseInt(_rgb_string[0]) * 0.9),
            parseInt(parseInt(_rgb_string[1]) * 0.9),
            parseInt(parseInt(_rgb_string[2]) * 0.9)
          ]
          if (window.SeeksGraphDebug) console.log('getLightColor2:', col, ':', _rgb_number.join(','))
          this.borderColor = 'rgb(' + _rgb_number.join(',') + ', 0.3)'
          return this.borderColor
        } else {
          this.borderColor = col
          return col
        }
      },
      isAllowShowNode(thisNode) {
        const _r = thisNode.isShow !== false && thisNode.isHide !== true && (!thisNode.lot.parent || this.isAllowShowNode(thisNode.lot.parent, false) === true)
        return _r
      }
    }
  }
</script>

<style>
  .rg-icon {
    width: 19px;
    height: 19px;
    vertical-align: 0px;
    fill: currentColor;
    overflow: hidden;
  }

  .el-icon-remove, .el-icon-circle-plus {
    cursor: pointer;
  }

  .rel-node-peel {
    clear: both;
    padding: 8px;
    position: absolute;
    font-size: 14px;
    display: flex;
  }

  .rel-node {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  .rel-node-shape-1 {
    border-radius: 0 4px 4px 0;
    padding: 5px;
  }

  .c-node-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .rel-node-shape-0 {
    padding: 10px;
  }

  .rel-node-shape-0 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .rel-node-shape-0:hover {
    box-shadow: 0px 0px 5px #FFC5A6;
  }

  .rel-node-type-button {
    border-radius: 25px;
    color: blue;
    cursor: pointer;
  }

  .rel-node-hover {
  }

  .rel-node-checked {
    box-shadow: 0px 0px 10px #FD8B37;
    -moz-transform: rotate(-89deg) translateX(-190px);
    animation-timing-function: linear;
    animation: ACTRGNodeInit 2s;
  }

  .rel-node-selected {
    box-shadow: 0px 0px 10px #FD8B37;
    -moz-transform: rotate(-89deg) translateX(-190px);
    animation-timing-function: linear;
    animation: ACTRGNodeInit 2s;
  }

  .rel-node-vtree-2 {
    transform-origin: 0 0; /* 设置旋转中心为左上角*/
    transform: rotate(30deg) translateX(0px);
  }

  .rel-node-vtree {
    width: 130px;
    height: 45px;
    text-align: left;
  }

  .c-btn-open-close {
    position: absolute;
    height: 100%;
    width: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .c-btn-open-close span {
    width: 19px;
    height: 19px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    font-size: 19px;
    line-height: 16px;
    background-size: 100% 100%;
  }

  .c-expanded {
    background-image: url('~@/assets/icons/indicatorIcon/collapsed.svg');
  }

  .c-collapsed {
    background-image: url('~@/assets/icons/indicatorIcon/collapsed.svg');
  }

  .c-expand-position-left {
    margin-top: -8px;
    margin-left: -18px;
  }

  .c-expand-position-right {
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  .c-expand-position-right span {
    margin-top: -18px;
    margin-right: -18px;
    margin-left: 100%;
  }

  .c-expand-position-bottom {
    height: 100%;
    width: 100%;
    margin-top: 7px;
    margin-left: -8px;
    align-items: flex-end;
    justify-content: center;
  }

  .c-expand-position-top {
    height: 18px;
    width: 100%;
    margin-top: -20px;
    margin-left: -6px;
    align-items: flex-end;
    justify-content: center;
  }

  @keyframes ACTRGNodeInit {
    from {
      box-shadow: 0 0 15px #FD8B37;
    }
    15% {
      box-shadow: 0 0 1px rgb(46, 78, 143);
    }
    30% {
      box-shadow: 0 0 15px #FD8B37;
    }
    45% {
      box-shadow: 0 0 1px rgb(46, 78, 143);
    }
    60% {
      box-shadow: 0 0 15px #FD8B37;
    }
    to {
      box-shadow: 0 0 1px rgb(46, 78, 143);
    }
  }

  .rel-diy-node {
    padding: 0px;
  }
</style>
