<template>
  <Select
    ref="select"
    class="tree-select"
    v-bind="$attrs"
    @on-change="handleChange"
    @on-open-change="handleOpenChange"
    :multiple="multiple"
    :disabled="isdisabled"
    @on-clear="handleSelectClear"
  >
    <Input
      class="searchInput"
      v-model="searchVal"
      search
      clearable
      placeholder="请输入搜索关键字"/>
    <tree-select-tree-item
      :selectedArray="value"
      :searchVal="searchVal"
      :data="data"
      @on-clear="handleClear"
      :load-data="loadData"
      :multiple="multiple"
      @on-check="handleTreeCheck"
    ></tree-select-tree-item>
  </Select>
</template>

<script>
import Emitter from 'view-design/src/mixins/emitter'
import TreeSelectTreeItem from './tree-select-tree.vue'
export default {
  name: 'TreeSelect',
  mixins: [Emitter],
  components: {
    TreeSelectTreeItem
  },
  props: {
    value: {
      type: Array,
      default: () => []
    },
    data: {
      type: Array,
      default: () => []
    },
    multiple: {
      type: Boolean,
      default: true
    },
    loadData: Function,
    // 不选树节点时，默认展示的值
    defaultSelected: {
      type: Array,
      default: () => []
    },
    isdisabled:{
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      searchVal: '',
      isChangedByTree: true,
      isInit: true
    }
  },
  provide () {
    return {
      parent: this
    }
  },
  methods: {
    handleChange (selected) {
      let newSelected = Array.isArray(selected) ? selected : (selected != null ? [selected] : this.defaultSelected)
      if (!this.isChangedByTree) this.$emit('input', newSelected)
      this.isChangedByTree = false
    },
    handleOpenChange(val) {
      if(val && this.searchVal !== '') {
        this.searchVal = ''
      }
    },
    handleTreeCheck (selectedArray) {
      this.isChangedByTree = true
      this.$emit('input', selectedArray.map(item => item.id))
    },
    handleClear () {
      this.$refs.select.reset()
    },
    handleSelectClear() {
      // 清除树的选中效果
    }
  }
}
</script>

<style lang="less">
.tree-select {
  .ivu-select-dropdown {
    padding: 0 6px;
    width: 200px;
    overflow-x: hidden;
    .ivu-select-dropdown-list {
      .searchInput {
        padding-top: 10px;
      }
    }
  }
}
</style>
