<template>
  <Tree
    :data="treeData"
    :multiple="multiple"
    @on-select-change="handleCheckSelect"
    v-on="parent.$listeners"
    v-bind="parent.$attrs"
    :load-data="loadDataCallback"
    class="select-tree"
  ></Tree>
</template>

<script>
import Emitter from 'view-design/src/mixins/emitter.js'
import { filterTree } from '@/utils/common'

const arrayEqual = (arr1, arr2) => {
  // 判断数组的长度
  if (arr1.length !== arr2.length) {
    return false
  } else {
    // 循环遍历数组的值进行比较
    for (let i = 0; i < arr1.length; i++) {
      if (arr1[i] !== arr2[i]) {
        return false
      }
    }
    return true
  }
}

export default {
  name: 'TreeSelectTree',
  mixins: [Emitter],
  props: {
    data: {
      type: Array,
      default: () => []
    },
    selectedArray: {
      type: Array,
      default: () => []
    },
    searchVal: {
      type: String,
      default: ''
    },
    multiple: {
      type: Boolean,
      default: true
    },
    loadData: Function
  },
  data () {
    return {
      flatDic: {},
      treeData: [],
      checkedArray: []
    }
  },
  inject: ['parent'],
  computed: {
    expandAll () {
      return this.parent.$attrs['expand-all']
    }
  },
  watch: {
    data: {
      handler(newData, oldVal) {
        this.updateFlagDic(newData)
        let selectArray = []
        this.selectedArray.forEach(id => {
          if (id in this.flatDic) selectArray.push(id)
        })
        this.$emit('on-check', selectArray.map(id => this.flatDic[id]))
        if (this.expandAll) this.checkData(newData, false, true)
        this.treeData = filterTree(this.data, this.searchVal)
      },
      immediate: true
    },
    selectedArray (newVal, oldVal) {
      if (arrayEqual(newVal, oldVal)) return
      const filtedNewVal = newVal.filter(id => id in this.flatDic)
      this.$emit('on-check', filtedNewVal.map(id => this.flatDic[id]))
      this.$emit('on-clear')
      this.$nextTick(() => {
        this.checkData(this.data, true)
      })
    },
    searchVal(newVal, oldVal) {
      if(newVal) {
        this.treeData = filterTree(this.data, newVal)
      } else {
        this.treeData = [...this.data]
      }
    }
  },
  methods: {
    checkEmit (value, label) {
      this.dispatch('iSelect', 'on-select-selected', {
        value,
        label
      })
      this.$emit('on-select-selected', {
        value,
        label
      })
    },
    updateFlagDic (newData) {
      let newFlagDic = {}
      this.setFlagDic(newData, item => {
        newFlagDic[item.id] = item
      })
      this.flatDic = newFlagDic
    },
    setFlagDic (data, callback) {
      data.forEach(item => {
        if (item.children && item.children.length) { this.setFlagDic(item.children, callback) }
        callback(item)
      })
    },
    handleCheckSelect (selectArray, selectItem) {
      if(this.multiple) {
        this.$emit('on-check', selectArray)
        this.parent.$emit('on-change', selectArray)
      }else{
        // 单选
        let newArray = selectArray.filter(item => item.id === selectItem.id)
        this.$emit('on-check', newArray)
        this.parent.$emit('on-change', newArray)
      }
    },
    checkData (data, emit, expandAll) {
      data.forEach(item => {
        if (this.selectedArray.includes(item.id)) {
          this.$set(item, 'selected', true)
          this.checkedArray.push(item)
          if (emit) this.checkEmit(item.id, item.title)
        } else this.$set(item, 'selected', false)
        if (item.children && item.children.length) {
          if (this.expandAll && expandAll) this.$set(item, 'expand', true)
          this.checkData(item.children, emit, expandAll)
        }
      })
    },
    loadDataCallback (item, callback) {
      this.loadData(item, data => {
        return (() => {
          callback(data)
          this.updateFlagDic(this.data)
        })(data)
      })
    }
  },
  mounted () {
    this.checkData(this.data, false, true)
    this.$nextTick(() => {
      this.$emit('on-check', this.checkedArray)
    })
  }
}
</script>

<style lang="scss" scoped>

.select-tree.ivu-tree {


 /deep/ .ivu-icon {
   transform: none;
 }
 /deep/ .ivu-tree-arrow{
     width: auto;
     min-width: 5px;
 }

 /deep/ .ivu-tree-arrow .ivu-icon-ios-arrow-forward:before {
   content: url('~@/assets/images/system/treePlusForManage.svg');

 }

 /deep/ .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
   content: url('~@/assets/images/system/treeMinusForManage.svg');

 }


 /deep/ .ivu-tree-title {

   .treeEditBtn, .treeAddBtn, .treeDeleteBtn {
     vertical-align: middle;
     display: none;
   }

   .treeEditBtn {
     content: url("~@/assets/icons/dimensionIcon/treeEdit.svg");
     margin-right: 6px;
   }

   .treeAddBtn {
     content: url("~@/assets/icons/dimensionIcon/treeAdd.svg") ;
     margin-right: 6px;
   }

   .treeDeleteBtn {
     content: url("~@/assets/icons/dimensionIcon/treeDelete.svg") ;
   }

   &:hover {
     .treeEditBtn, .treeAddBtn, .treeDeleteBtn {
       display: inline-block;
     }
   }

   &.ivu-tree-title-selected {
     color: #3F73FF;

     .treeDeleteBtn {
       content: url("~@/assets/icons/dimensionIcon/treeDeleteBlue.svg") ;
       display: inline-block;
     }
   }

 }
}
    /deep/ .ivu-tree > ul > li:first-child > .ivu-tree-arrow-open:first-child .ivu-icon-ios-arrow-forward:first-child:before {
      content: url('~@/assets/images/system/treeRoot.svg');
    }
</style>
