<template>
  <Form
    ref="registerForm"
    :model="form"
    :rules="rules"
    @keydown.enter.native="handleSubmit"
  >
    <FormItem prop="username" style="margin-top: 20px">
      <Input
        v-model="form.username"
        placeholder="请输入登录账号"
        @on-focus="usernameFocus"
      >
        <span slot="prepend">
          <Icon size="21" color="#A2A5BD" type="ios-person"></Icon>
        </span>
      </Input>
    </FormItem>
    <FormItem prop="password" style="margin-top: 30px">
      <PasswordInput
        placeholder="请输入登录密码"
        :comModel="form.password"
        @change="(val) => (this.form.password = val)"
      />
    </FormItem>

    <Form-item v-if="config === 'phone'" prop="phone" style="margin-top: 30px">
      <Input
        v-model="form.phone"
        placeholder="请输入手机号码"
        @on-focus="phoneFocus"
      >
        <span slot="prepend">
          <Icon size="21" color="#A2A5BD" type="md-call" />
        </span>
      </Input>
    </Form-item>
    <Form-item v-else prop="mail" style="margin-top: 30px">
      <Input
        v-model="form.mail"
        placeholder="请输入邮箱"
        @on-focus="emailFocus"
      >
        <span slot="prepend">
          <Icon size="21" color="#A2A5BD" type="ios-mail" />
        </span>
      </Input>
    </Form-item>
    <Form-item prop="authCode" style="margin-top: 30px">
      <AuthCodeInput
        @focus="authCodeFocus"
        @code="form.authCode"
        :countDown="60"
        @change="(val) => (this.form.authCode = val)"
        @sendCallback="sendAuthCode"
      />
    </Form-item>
    <Form-item prop="single">
      <Checkbox
        v-model="single"
        :class="tipSingle ? 'checkBoxVerify' : ''"
        @on-change="checkboxChange"
        size="large"
        />

      <span style="font-size: 16px">
        已阅读
        <a @click="() => this.$emit('agreementFun')" style="color: #4879fe"
          >《用户注册协议》</a
        >
      </span>
      <span v-show="tipSingle" style="color: red; font-size: 14px"
        >请阅读并勾选协议</span
      >
    </Form-item>
    <FormItem style="margin-bottom: 10px">
      <Button
        @click="handleSubmit"
        type="primary"
        style="background: #4879fe; font-size: 16px; height: 44px"
        long
        >注册</Button
      >
      <div style="color: crimson" v-if="showTip">
        友情提示：请使用谷歌或者火狐浏览器访问
      </div>
    </FormItem>
    <div style="text-align: center; font-size: 16px; margin-top: 20px">
      <span>已有账号？</span>
      <a @click="() => this.$emit('login-callback')" style="color: #4879fe"
        >立即登录</a
      >
    </div>
  </Form>
</template>

<script>
import { AuthCodeInput, PasswordInput } from "../special-input";
import { GLOBAL } from "@/config/ReportConstants";
import { mapActions } from "vuex";

export default {
  name: "registerForm",
  components: {
    AuthCodeInput,
    PasswordInput,
  },
  data() {
    let self = this;
    const authCodeValidator = (_, value, callback) => {
      if (!value && self.form.phone && self.form.mail) {
        callback(new Error("验证码为空"));
      } else if (self.authCodeError) {
        callback(new Error(self.authCodeError));
      } else {
        callback();
      }
    };

    // 邮箱校验
    const emailVerifyFun = (value) => {
      const re = /[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/gi; //是否有中文
      let frontEmail = value.split("@");
      frontEmail.pop();
      frontEmail = frontEmail.join("");
      return (
        !frontEmail.replace(/\s/g, "") ||
        !GLOBAL.emailDomain.includes(value.split("@").pop().toLowerCase()) ||
        re.test(value)
      );
    };

    const emailValidator = (_, value, callback) => {
      if (!value) {
        callback(new Error("邮箱为空"));
      } else if (self.emailError) {
        callback(new Error(self.emailError));
      } else if (emailVerifyFun(value)) {
        callback(new Error("邮箱无效"));
      } else {
        callback();
      }
    };

    const usernameValidator = (_, value, callback) => {
      if (!value) {
        callback(new Error("账号为空"));
      } else if (self.usernameError) {
        callback(new Error(self.usernameError));
      } else if (!/^[0-9A-Za-z]{3,16}$/.test(value)) {
        callback(new Error("仅支持3-16位长度的数字、大小写字母组合"));
      } else {
        callback();
      }
    };
    const phoneValidator = (_, value, callback) => {
      if (!value) {
        callback(new Error("手机号码为空"));
      } else if (self.phoneError) {
        callback(new Error(self.phoneError));
      } else if (!new RegExp(/^1[3456789]\d{9}$/).test(value)) {
        callback("手机号码无效");
      } else {
        callback();
      }
    };
    const passwordValidator = (_, value, callback) => {
      const re = /[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/gi; //是否有中文
      const wd =
        /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$)^.{6,16}$/;
      if (!value) {
        callback(new Error("当前密码为空"));
      } else if (re.test(value)) {
        callback(
          new Error("密码必须是6-16位的字母、数字和标点符号组合(至少2种)")
        );
      } else if (!wd.test(value)) {
        callback(
          new Error("密码必须是6-16位的字母、数字和标点符号组合(至少2种)")
        );
      } else {
        callback();
      }
    };

    return {
      form: {
        username: "",
        password: "",
        authCode: "",
        mail: "",
        phone: "",
      },
      config: GLOBAL.verificationMode,
      single: false,
      tipSingle: false,
      show: true,
      countDown: 57,
      showTip: false,
      authCodeError: "",
      phoneError: "",
      emailError: "",
      usernameError: "",
      singleRule: [
        {
          validator: (_, value, callback) => {
            console.log(111);
            if (!value) {
              callback(new Error("请阅读并勾选协议"));
            } else {
              callback();
            }
          },
        },
      ],
      userNameRules: [{ validator: usernameValidator, trigger: "blur" }],
      passwordRules: [
        { required: true, validator: passwordValidator, tigger: "blur" },
      ],
      authCodeRules: [{ required: true, validator: authCodeValidator }],
      phoneRules: [{ validator: phoneValidator, trigger: "blur" }],
      emailRules: [{ validator: emailValidator, trigger: "blur" }],
    };
  },
  computed: {
    rules() {
      return {
        // single: this.singleRule,
        username: this.userNameRules,
        password: this.passwordRules,
        mail: this.emailRules,
        phone: this.phoneRules,
        authCode: this.authCodeRules,
      };
    },
  },
  mounted() {
    this.getBrowserType();
  },
  methods: {
    ...mapActions(["handleSendAuthCode"]),
    checkboxChange(val) {
      if (val) {
        this.tipSingle = false;
      }
    },
    usernameFocus() {
      if (this.usernameError) {
        this.usernameError = "";
        this.$refs.registerForm.validate();
      }
    },
    emailFocus() {
      if (this.emailError) {
        this.emailError = "";
        this.$refs.registerForm.validate();
      }
    },
    phoneFocus() {
      if (this.phoneError) {
        this.phoneError = "";
        this.$refs.registerForm.validate();
      }
    },
    authCodeFocus() {
      if (this.authCodeError) {
        this.authCodeError = "";
        this.$refs.registerForm.validate();
      }
    },
    handleSubmit() {
      const disposeEmail = (emailData) => {
        let d = emailData.split("@");
        d.push(d.pop().toLowerCase());
        return d.join("@");
      };
      this.$refs.registerForm.validate((valid) => {
        if (valid) {
          if (this.single) {
            const { mail, ...rest } = this.form;
            this.$emit("on-success-valid", {
              mail: disposeEmail(mail),
              ...rest,
              successFun: () => {},
              errorFun: (msg) => {
                if (msg === "验证码无效") {
                  this.authCodeError = msg;
                  this.$refs.registerForm.validate();
                } else {
                  this.emailError = msg;
                  this.$refs.registerForm.validate();
                }
              },
            });
          } else {
            this.tipSingle = true;
          }
        }
      });
    },
    sendAuthCode(successFun) {
      // 邮箱校验
      const emailVerifyFun = (value) => {
        if (!value) {
          return false;
        }
        const re = /[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/gi; //是否有中文
        let frontEmail = value.split("@");
        frontEmail.pop();
        frontEmail = frontEmail.join("");
        return (
          !frontEmail.replace(/\s/g, "") ||
          !GLOBAL.emailDomain.includes(value.split("@").pop().toLowerCase()) ||
          re.test(value)
        );
      };
      const disposeEmail = (emailData) => {
        let d = emailData.split("@");
        d.push(d.pop().toLowerCase());
        return d.join("@");
      };
      if (
        this.form.mail &&
        !emailVerifyFun(this.form.mail) &&
        this.form.username
      ) {
        this.handleSendAuthCode({
          phoneOrEmail: disposeEmail(this.form.mail),
          type: 1,
          username: this.form.username,
        }).then((res) => {
          if (res.data.state === "success") {
            successFun();
          } else {
            if (res.data.message === "账号已存在") {
              this.usernameError = "账号已存在";
              this.$refs.registerForm.validate();
            } else {
              this.emailError = res.data.message;
              this.$refs.registerForm.validate();
            }
          }
        });
      } else if (!this.form.username) {
        this.usernameError = "用户名为空";
        this.$refs.registerForm.validate();
      }
      if (!this.form.mail && this.config === "email") {
        this.emailError = "邮箱为空";
        this.$refs.registerForm.validate();
      }
    },
    getBrowserType() {
      const userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
      const isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器
      const isChrome =
        userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器
      if (!isFF && !isChrome) {
        this.showTip = true;
      }
    },
  },
};
</script>

<style>
.checkBoxVerify > .ivu-checkbox > .ivu-checkbox-inner {
  border: solid 1px red;
}
</style>
