<template>
  <div class="connection-database">
    <Modal
      @on-cancel="cancelOperate('formValidateConn')"
      :z-index="1000"
      draggable
      :mask-closable="false"
      class="publish_config-condition"
      v-model="connectionInfo.show"
      :title="connectionInfo.title"
      width="784"
    >
      <div class="step-all" v-show="!connectionInfo.data.id">
        <div class="line" :class="{ 'line-blue': currentStep === 1 }"></div>
        <Steps :current="currentStep">
          <Step title="基本信息"> </Step>
          <Step title="源表配置"></Step>
        </Steps>
      </div>
      <div v-show="currentStep === 0">
        <Form ref="formValidateConn" :label-width="120" :model="connectionInfo.data" :rules="ruleInline">
          <Row>
            <Col span="12">
              <FormItem label="数据库连接名：" prop="name">
                <Input placeholder="请输入数据库连接名" v-model="connectionInfo.data.name" maxlength="30" clearable></Input>
              </FormItem>
            </Col>
            <Col span="12">
              <FormItem label="数据库类型：" prop="type">
                <Select :disabled="!!connectionInfo.data.id" placeholder="请选择数据库类型" v-model="connectionInfo.data.type" clearable>
                  <Option value="MySQL">MySQL</Option>
                  <Option value="Oracle">Oracle</Option>
                  <Option value="SQLServer">SQLServer</Option>
                  <Option value="PostgreSQL">PostgreSQL</Option>
                  <Option value="DB2">DB2</Option>
                  <Option value="Doris">Doris</Option>
                  <Option value="Hive">Hive</Option>
                  <Option value="Impala">Impala</Option>
                </Select>
              </FormItem>
            </Col>
          </Row>
          <Row style="margin-top: 2px">
            <Col span="12">
              <FormItem label="用户名：" prop="userName">
                <Input :disabled="!!connectionInfo.data.id" placeholder="请输入用户名" v-model="connectionInfo.data.userName" clearable></Input>
              </FormItem>
            </Col>
            <Col span="12">
              <FormItem label="用户密码：" prop="password">
                <Input placeholder="请输入密码" type="password" v-model="connectionInfo.data.password" clearable></Input>
              </FormItem>
            </Col>
          </Row>
          <Row style="margin-top: 2px">
            <Col span="24">
              <FormItem label="数据库(sid)：" prop="sid">
                <Input :disabled="!!connectionInfo.data.id" placeholder="请输入数据库名称(sid)" v-model="connectionInfo.data.sid" clearable></Input>
              </FormItem>
            </Col>
          </Row>
          <Row
            style="margin-top: 2px"
            v-if="connectionInfo.data.type === 'SQLServer' || connectionInfo.data.type === 'PostgreSQL' || connectionInfo.data.type === 'DB2'"
          >
            <Col span="24">
              <FormItem label="模式(schema)：" prop="sche">
                <Input :disabled="!!connectionInfo.data.id" placeholder="请输入模式(schema)" v-model="connectionInfo.data.sche" clearable></Input>
              </FormItem>
            </Col>
          </Row>
          <Row style="margin-top: 2px">
            <Col span="24">
              <FormItem label="IP地址：" prop="ipAddr">
                <Input :disabled="!!connectionInfo.data.id" placeholder="请输入IP" v-model="connectionInfo.data.ipAddr" clearable></Input>
              </FormItem>
            </Col>
          </Row>
          <Row style="margin-top: 2px">
            <Col span="24">
              <FormItem label="端口：" prop="port">
                <Input :disabled="!!connectionInfo.data.id" placeholder="请输入端口" v-model="connectionInfo.data.port" clearable></Input>
              </FormItem>
            </Col>
          </Row>
          <Row style="margin-top: 4px" v-if="connectionInfo.data.type === 'Hive' || connectionInfo.data.type === 'Impala'">
            <Col span="24">
              <FormItem label="Kerberos认证：">
                <Switch v-model="connectionInfo.data.openKerberos" :disabled="!!connectionInfo.data.id" size="large">
                  <template #open>
                    <span>On</span>
                  </template>
                  <template #close>
                    <span>Off</span>
                  </template>
                </Switch>
              </FormItem>
            </Col>
          </Row>
          <div v-if="(connectionInfo.data.type === 'Hive' || connectionInfo.data.type === 'Impala') && connectionInfo.data.openKerberos">
            <Row style="margin-top: 4px">
              <Col span="24">
                <FormItem label="krb5.conf路径：" prop="port">
                  <Input :disabled="!!connectionInfo.data.id" placeholder="请输入krb5.conf文件所在路径" v-model="connectionInfo.data.krb5Path" clearable />
                </FormItem>
              </Col>
            </Row>
            <Row style="margin-top: 4px">
              <Col span="24">
                <FormItem label="keytab路径：" prop="port">
                  <Input :disabled="!!connectionInfo.data.id" placeholder="请输入keytab文件所在路径" v-model="connectionInfo.data.keytabPath" clearable />
                </FormItem>
              </Col>
            </Row>
            <Row style="margin-top: 4px">
              <Col span="24">
                <FormItem label="Principal：" prop="port">
                  <Input :disabled="!!connectionInfo.data.id" placeholder="请输入Principal" v-model="connectionInfo.data.principal" clearable />
                </FormItem>
              </Col>
            </Row>
          </div>
        </Form>
      </div>
      <div v-show="currentStep === 1">
        <div class="connection-database-second">
          <TransferList
            :dataList="dataList"
            :targetList="targetList"
            :isEdit="this.connectionInfo.data.id ? true : false"
            :connectId="this.connectionInfo.data.id || ''"
            :originalData="originalData"
            @changeData="changeData"
            @refreshData="refreshData"
            @noSyncClose="cancelOperate('formValidateConn')"
          />
        </div>
      </div>

      <!-- 保存 -->
      <div slot="footer" v-if="currentStep === 0 && connectionInfo.data.id">
        <Button type="text" @click="cancelOperate('formValidateConn')">取消</Button>
        <Button type="primary" @click="submitDatabaseInfo('formValidateConn')">保存</Button>
      </div>
      <!-- 新建 -->
      <div slot="footer" v-if="currentStep === 0 && !connectionInfo.data.id">
        <Button type="text" @click="cancelOperate('formValidateConn')">取消</Button>
        <Button class="test-connection" :loading="testConnecting" type="text" @click="testConnect('formValidateConn')">
          <span v-show="!testConnecting">测试连接</span>
        </Button>
        <Button type="primary" @click="submitDatabaseInfo('formValidateConn')">下一步</Button>
      </div>
      <div slot="footer" v-if="currentStep === 1">
        <Button type="text" @click="cancelOperate('formValidateConn')">取消</Button>
        <Button type="primary" @click="submitDatabaseInfoSecond('formValidateConn')">保存</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import {
  createByDataConnect,
  createConnect,
  createNextStep,
  queryMetaDataByID,
  queryOriginalMetaDataByID,
  testConnection,
  updateDataConnect,
  updateOriginalTable,
} from "../../api/databaseConnection";
import { deepCopy } from "../../utils/common";
import TransferList from "./components/TransferList.vue";

export default {
  name: "ConnectionInfoAddOrEdit",
  props: {
    connectionInfo: {
      type: Object,
    },
    step: {
      type: Number,
    },
  },
  components: {
    TransferList,
  },
  data() {
    return {
      testConnecting: false,
      currentStep: 0,
      ruleInline: {
        name: [{ required: true, message: "请输入连接名", trigger: "blur" }],
        ipAddr: [{ required: true, message: "请输入地址", trigger: "blur" }],
        port: [{ required: true, message: "请输入端口", trigger: "blur" }],
        sche: [{ required: true, message: "请输入模式", trigger: "blur" }],
        userName: [{ required: true, message: "请输入用户名", trigger: "blur" }],
        password: [{ required: true, message: "请输入密码", trigger: "blur" }],
        sid: [{ required: true, message: "请输入sid", trigger: "blur" }],
        type: [{ required: true, message: "请选择数据库类型", trigger: "change" }],
      },
      dataList: [],
      targetList: [],
      originalData: [],
      connectData: [],
    };
  },
  created() {
    if (this.connectionInfo.data.id) {
      this.connectionInfo.data.password = "*****";
    }
    this.currentStep = this.step;
    if (this.currentStep === 1 && this.connectionInfo.data.id) {
      // 获取第二步数据
      this.getOriginalMetaDataByID(this.connectionInfo.data.id);
    }
  },
  methods: {
    refreshData() {
      this.getOriginalMetaDataByID(this.connectionInfo.data.id);
    },
    cancelOperate(name) {
      this.$refs[name].resetFields();
      this.$emit("cancelOperate", JSON.parse(JSON.stringify(this.connectionInfo)));
    },
    testConnect(name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.testConnecting = true;
          this.dealWithConfigData(this.connectionInfo.data);
          testConnection(this.connectionInfo.data).then((res) => {
            if (res && res.data && res.data.state === "success") {
              this.testConnecting = false;
              this.$Message.success("连接成功");
              this.$emit("testConnect", deepCopy(this.connectionInfo));
            } else {
              if (res && res.data && res.data.message === "Could not create connection to database server. Attempted reconnect 3 times. Giving up.") {
                this.$Message.error("连接失败！");
              } else {
                this.$Message.error(res && res.data && res.data.message ? res.data.message : "连接失败！");
              }
              this.testConnecting = false;
            }
          });
        } else {
          this.$Message.warning("请填写完整信息");
        }
      });
    },
    submitDatabaseInfo(name) {
      this.$refs[name].validate((valid) => {
        if (valid) {
          this.dealWithConfigData(this.connectionInfo.data);
          let params = deepCopy(this.connectionInfo.data);
          if (params.id) {
            updateDataConnect(params).then((res) => {
              if (res && res.data && res.data.state === "success") {
                this.$Message.success("编辑数据库连接成功");
                this.$refs[name].resetFields();
                this.$emit("submitDatabaseInfo", JSON.parse(JSON.stringify(this.connectionInfo)));
              } else {
                this.$Message.warning(res && res.data && res.data.message);
                this.testConnecting = false;
              }
            });
          } else {
            createNextStep(params).then((result) => {
              if (result && result.data && result.data.state === "success") {
                createByDataConnect(params).then((res) => {
                  if (res && res.data && res.data.state === "success") {
                    const resData = res.data.data;
                    this.dataList = resData;
                    this.originalData = deepCopy(resData);
                    this.targetList = [];
                    this.currentStep = 1;
                  } else {
                    this.$Message.warning(res && res.data && res.data.message);
                  }
                });
              } else {
                this.$Message.warning(result && result.data && result.data.message);
                this.testConnecting = false;
              }
            });
          }
        } else {
          this.$Message.warning("请填写完整信息");
        }
      });
    },
    dealWithConfigData(dataConnect) {
      if (dataConnect.type === "Hive" || dataConnect.type === "Impala") {
        let configData = {};
        if (!dataConnect.openKerberos) {
          configData.openKerberos = false;
        } else {
          configData.krb5Path = dataConnect.krb5Path;
          configData.keytabPath = dataConnect.keytabPath;
          configData.principal = dataConnect.principal;
          configData.openKerberos = true;
        }
        dataConnect.configData = JSON.stringify(configData);
      }
    },
    // 编辑状态下，获取源表信息
    getOriginalMetaDataByID(id) {
      queryOriginalMetaDataByID(id).then((res) => {
        if (res && res.data && res.data.state === "success") {
          const resLeftData = res.data.data;
          this.originalData = resLeftData;
          // 编辑状态下，获取已同步源表信息
          queryMetaDataByID(id).then((resRight) => {
            if (resRight && resRight.data && resRight.data.state === "success") {
              const resData = resRight.data.data;
              let arrLeft = resLeftData.filter((item) => resData.every((val) => val.name !== item.name));
              this.dataList = arrLeft;
              this.targetList = resData;
              this.connectData = deepCopy(resData);
            } else {
              this.$Message.warning(res && res.data && res.data.message);
            }
          });
        } else {
          this.$Message.warning(res && res.data && res.data.message);
        }
      });
    },
    submitDatabaseInfoSecond(name) {
      this.dealWithConfigData(this.connectionInfo.data);
      if (this.connectionInfo.data.id) {
        // 编辑
        // 右边删除的表  this.connectData为当前右边还剩余的表
        let deleteArr = this.targetList.filter((item) => this.connectData.every((val) => val.name !== item.name));
        const data = {
          connectId: this.connectionInfo.data.id,
          tableUpdateList: deleteArr
            .map((el) => {
              return {
                id: el.id,
                originName: el.name,
                newName: el.name,
                type: 3,
                label: el.label,
                dateColumnName: el.dateColumnName,
                jobConfig: el.jobConfig || null,
              };
            })
            .concat(
              this.connectData.map((item) => {
                return {
                  id: item.id,
                  originName: item.name,
                  newName: item.name,
                  type: this.targetList.some((ele) => ele.name === item.name) ? 2 : 1,
                  label: item.label,
                  dateColumnName: item.dateColumnName,
                  jobConfig: item.jobConfig || null,
                };
              })
            ),
        };
        updateOriginalTable(data).then((res) => {
          if (res && res.data && res.data.state === "success") {
            this.$emit("submitDatabaseInfo", deepCopy(this.connectionInfo));
          } else {
            this.$Message.warning(res && res.data && res.data.message);
          }
        });
      } else {
        // 创建
        const data = {
          dataBaseFormDto: deepCopy(this.connectionInfo.data),
          connectDtos: this.connectData.map((item) => {
            return {
              tableName: item.name,
              dateColumnName: item.dateColumnName || "",
              dateColumnId: "",
              jobConfig: item.jobConfig,
            };
          }),
        };
        createConnect(data).then((res) => {
          if (res && res.data && res.data.state === "success") {
            this.$refs[name].resetFields();
            this.$emit("submitDatabaseInfo", JSON.parse(JSON.stringify(this.connectionInfo)));
          } else {
            this.$Message.warning(res && res.data && res.data.message);
          }
        });
      }
    },
    // 穿梭框数据变化
    changeData(data) {
      this.connectData = data;
    },
  },
};
</script>

<style scoped lang="less">
.publish_config-condition {
  /deep/ .ivu-form .ivu-form-item-label {
    color: #151515;
  }
  /deep/ .ivu-form-item {
    margin-bottom: 16px;
  }

  .test-connection:hover {
    border-color: #559fff;
    color: #559fff;
  }
}
/deep/.ivu-modal-body {
  .step-all {
    width: 50%;
    margin: 20px auto;
    position: relative;
    .line {
      width: 130px;
      height: 1px;
      border-top: 1px solid #dcdcdc;
      position: absolute;
      top: 15px;
      left: 107px;
    }
    .line-blue {
      border-top: 1px solid #2d8cf0;
    }
    .ivu-steps-item:first-child {
      margin-right: 130px;
    }
  }
}
.connection-database-second {
  position: relative;
  /deep/ .ivu-transfer-list-header-title {
    display: none;
  }
  /deep/ .ivu-transfer-list-header-count {
    float: none;
  }
  /deep/ .ivu-transfer-list-header {
    padding: 8px 9px;
  }
  /deep/ .ivu-transfer-list {
    height: 330px;
  }
  /deep/ .ivu-transfer-operation + .ivu-transfer-list {
    width: 495px;
    .ivu-transfer-list-content {
      width: 180px;
    }
  }
  .sync {
    position: absolute;
    top: 10px;
    left: 144px;
    z-index: 2;
    cursor: pointer;
    color: #3f73ff;
  }
}
</style>
