<template>
  <div class="connection-w">
    <div class="filter-header">
      <div class="itemContainerFlex" v-allow="[1114856480572416]">
        <div class="itemList">
          <span>数据库连接名：</span>
          <Input v-model="searchForm.name" style="width: 160px" clearable placeholder="请输入数据库连接名" @on-clear="handleClear"></Input>
        </div>
        <div class="itemList">
          <span>数据库类型：</span>
          <Select placeholder="请选择类型" style="width: 125px" v-model="searchForm.type" clearable>
            <Option value="MySQL">MySQL</Option>
            <Option value="Oracle">Oracle</Option>
            <Option value="SQLServer">SQLserver</Option>
            <Option value="PostgreSQL">PostgreSQL</Option>
            <Option value="DB2">DB2</Option>
            <Option value="Doris">Doris</Option>
            <Option value="Hive">Hive</Option>
            <Option value="Impala">Impala</Option>
          </Select>
        </div>
        <div class="itemList">
          <span>创建日期：</span>
          <DatePicker
            :editable="false"
            placement="bottom-end"
            @on-change="handleChangeDate"
            type="daterange"
            placeholder="YYYY/MM/DD"
            format="yyyy/MM/dd"
            style="width: 160px"
          ></DatePicker>
        </div>
        <div v-allow="[1114856480572416]" class="itemList">
          <Button type="primary" @click="search" class="allBtnStyle changeIcon">
            <Icon type="ios-search-outline" size="18" style="margin-top: -4px; margin-right: 5px" />
            <span>查询</span>
          </Button>
        </div>
        <div v-allow="[1114856480572417]" class="itemList">
          <Button type="primary" @click="addDatabaseInfo" class="allBtnStyle">
            <Icon type="md-add" size="18" style="margin-top: -4px; margin-right: 5px" />
            <span>新增</span>
          </Button>
        </div>
      </div>
    </div>
    <div class="list-data">
      <Table :columns="connectionColumns" :data="connectionList"></Table>
    </div>
    <div class="paging">
      <Page
        :total="searchForm.total"
        :page-size="searchForm.pageSize"
        :current="searchForm.pageNum"
        show-elevator
        @on-page-size-change="handleChangePageSize"
        @on-change="handleChangePageNumber"
      />
    </div>
    <connection-info-add-or-edit
      @cancelOperate="cancelOperate"
      @testConnect="testConnect"
      @submitDatabaseInfo="submitDatabaseInfo"
      :connectionInfo="connectionInfo"
      :step="step"
      v-if="connectionInfo.show"
    >
    </connection-info-add-or-edit>
    <Modal v-model="deleteModalShow" title="检测到该数据库已被应用" @on-cancel="cancelHandle" width="570">
      <div style="font-size: 14px; padding: 20px 0">
        <p style="margin-bottom: 20px">①“强制删除”：该数据库关联的所有数据模型、文件会被同步删除，且无法撤销；</p>
        <p>②“手动删除”：取消本次删除操作，手动删除关联应用后再删除；</p>
      </div>
      <div slot="footer">
        <Button type="text" @click="cancelHandle">取消</Button>
        <Button type="primary" @click="delHandle">强制删除</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import moment from "moment";
import ConnectionInfoAddOrEdit from "./ConnectionInfoAddOrEdit";
import { connectionList, delConnection, delConnectionForce, testAfterConnect } from "../../api/databaseConnection";
import { deepCopy } from "../../utils/common";

export default {
  name: "ConnectionInfoList",
  components: {
    ConnectionInfoAddOrEdit,
  },
  data() {
    return {
      step: 0,
      deleteModalShow: false,
      forceDelId: "",
      connectionColumns: [
        {
          title: "数据库名称",
          key: "name",
          render: (h, params) => {
            return h("div", [
              h(
                "Tooltip",
                {
                  props: { placement: "bottom", transfer: true, theme: "light" },
                  style: {
                    width: "100%",
                    display: "inline-block",
                    textOverflow: "ellipsis",
                    overflow: "hidden",
                    whiteSpace: "nowrap",
                  },
                },
                [
                  h("span", {
                    domProps: {
                      innerHTML: params.row.name,
                    },
                    style: {
                      width: "100%",
                      display: "inline-block",
                      textOverflow: "ellipsis",
                      overflow: "hidden",
                      whiteSpace: "nowrap",
                    },
                  }),
                  h("span", {
                    slot: "content",
                    style: {
                      whiteSpace: "normal",
                      wordBreak: "break-all",
                    },
                    domProps: {
                      innerHTML: params.row.name,
                    },
                  }),
                ]
              ),
            ]);
          },
        },
        {
          title: "连接类型",
          key: "type",
        },
        {
          title: "状态",
          key: "status",
          render: (h, params) => {
            return h(
              "div",
              {
                style: {
                  color: "#ffffff",
                  border: "2px solid transparent",
                  borderRadius: "2px",
                  textAlign: "center",
                  width: "56px",
                  height: "24px",
                  backgroundColor: params.row.status === 1 ? "#389E0D" : "#F5222D",
                },
              },
              params.row.status === 1 ? "正常" : "异常"
            );
          },
        },
        {
          title: "说明",
          key: "remark",
          render: (h, params) => {
            return h("div", [
              h(
                "Tooltip",
                {
                  props: { placement: "bottom", transfer: true, theme: "light" },
                  style: {
                    width: "100%",
                    display: "inline-block",
                    textOverflow: "ellipsis",
                    overflow: "hidden",
                    whiteSpace: "nowrap",
                  },
                },
                [
                  h("span", {
                    domProps: {
                      innerHTML: params.row.remark,
                    },
                    style: {
                      width: "100%",
                      display: "inline-block",
                      textOverflow: "ellipsis",
                      overflow: "hidden",
                      whiteSpace: "nowrap",
                    },
                  }),
                  h("span", {
                    slot: "content",
                    style: {
                      whiteSpace: "normal",
                      wordBreak: "break-all",
                    },
                    domProps: {
                      innerHTML: params.row.remark,
                    },
                  }),
                ]
              ),
            ]);
          },
        },
        {
          title: "创建时间",
          key: "createTime",
          render: (h, params) => {
            return h("span", {}, moment(params.row.createTime).format("YYYY.MM.DD HH:mm:ss"));
          },
        },
        {
          width: 225,
          title: "操作",
          align: "center",
          render: (h, params) => {
            return h(
              "div",
              {
                class: "operation-buttons",
                style: {
                  flexDirection: "row",
                  justifyContent: "flex-start",
                  display: "flex",
                  alignItems: "center",
                  width: "100%",
                },
              },
              [
                h(
                  "Button",
                  {
                    style: {
                      color: "#3F73FF",
                    },
                    props: { size: "small", type: "text" },
                    on: {
                      click: () => {
                        let data = deepCopy(params.row);
                        delete data._index;
                        delete data._rowKey;
                        if (data.configData && (data.type === "Hive" || data.type === "Impala")) {
                          let configData = JSON.parse(data.configData);
                          data.krb5Path = configData.krb5Path;
                          data.keytabPath = configData.keytabPath;
                          data.principal = configData.principal;
                          data.openKerberos = configData.openKerberos;
                        }
                        this.connectionInfo.data = data;
                        this.connectionInfo.data.type = this.connectionInfo.data.type + "";
                        this.connectionInfo.show = true;
                        this.connectionInfo.title = "编辑数据库连接";
                        this.step = 0;
                      },
                    },
                  },
                  "编辑"
                ),
                h(
                  "Button",
                  {
                    style: {
                      color: "#3F73FF",
                      display: params.row.status === 1 ? "block" : "none",
                    },
                    props: { size: "small", type: "text" },
                    on: {
                      click: () => {
                        let data = deepCopy(params.row);
                        delete data._index;
                        delete data._rowKey;
                        this.connectionInfo.data = data;
                        this.connectionInfo.data.type = this.connectionInfo.data.type + "";
                        this.connectionInfo.show = true;
                        this.connectionInfo.title = "编辑源表配置";
                        this.step = 1;
                      },
                    },
                  },
                  "源表配置"
                ),
                h(
                  "Button",
                  {
                    style: {
                      color: "#3F73FF",
                    },
                    props: { size: "small", type: "text" },
                    on: {
                      click: () => {
                        testAfterConnect(params.row.id).then((res) => {
                          if (res.data.state === "success") {
                            this.$Message.success("连接成功");
                          } else {
                            this.$Message.error("连接失败");
                          }
                          this.search();
                        });
                      },
                    },
                  },
                  "测试连接"
                ),
                h(
                  "Button",
                  {
                    style: {
                      color: "#3F73FF",
                    },
                    props: { size: "small", type: "text" },
                    on: {
                      click: () => {
                        this.$Modal.confirm({
                          title: "删除数据连接",
                          content: "确定删除数据连接吗？删除后不可恢复",
                          okText: "确认",
                          onOk: () => {
                            delConnection(params.row.id).then((res1) => {
                              console.log(res1, "--");
                              if (res1.data.state === "success") {
                                this.$Message.success("删除数据库连接成功！");
                                this.search();
                              } else {
                                this.deleteModalShow = true;
                                this.forceDelId = params.row.id;
                              }
                            });
                          },
                        });
                      },
                    },
                  },
                  "删除"
                ),
              ]
            );
          },
        },
      ],
      connectionList: [],
      connectionInfo: {
        show: false,
        title: "",
        data: {
          password: "",
        },
      },
      searchForm: {
        name: "",
        type: "",
        date: "",
        pageSize: 10,
        pageNum: 1,
      },
    };
  },
  mounted() {
    this.getConnectionList(this.searchForm);
  },
  methods: {
    handleChangeDate(date) {
      this.searchForm.startTime = date[0].replaceAll("/", "-");
      this.searchForm.endTime = date[1].replaceAll("/", "-");
    },
    handleClear() {},
    testConnect() {},
    async delHandle() {
      let res = await delConnectionForce(this.forceDelId);
      if (res.data.state === "success") {
        this.deleteModalShow = false;
        this.search({});
      } else {
        this.$Message.warning(res.data.message);
      }
    },
    cancelHandle() {
      this.deleteModalShow = false;
    },
    handleChangePageNumber(page) {
      this.searchForm.pageNum = page;
      this.getConnectionList(this.searchForm);
    },
    handleChangePageSize(size) {
      this.searchForm.pageSize = size;
      this.getConnectionList(this.searchForm);
    },
    getConnectionList(param) {
      let dataParam = JSON.parse(JSON.stringify(param));
      if (dataParam) {
        delete dataParam.total;
      }
      connectionList(dataParam).then((res) => {
        let data = res.data.data;
        if (res.data.state === "success") {
          this.connectionList = data.data;
          this.searchForm.total = data.count;
        }
      });
    },
    cancelOperate() {
      this.connectionInfo.data = {};
      this.connectionInfo.show = false;
    },
    submitDatabaseInfo() {
      this.getConnectionList({});
      this.connectionInfo.data = {};
      this.connectionInfo.show = false;
    },
    search() {
      this.searchForm.pageNum = 1;
      this.getConnectionList(this.searchForm);
    },
    addDatabaseInfo() {
      this.connectionInfo.data = {};
      this.connectionInfo.show = true;
      this.connectionInfo.title = "新增数据库连接";
      this.step = 0;
    },
  },
};
</script>

<style scoped lang="less">
.connection-w {
  height: 100%;
  background-color: #ffffff;
  padding: 20px;

  .filter-header {
    margin-bottom: 10px;

    .itemContainerFlex {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      color: #333333;

      .itemList {
        display: flex;
        align-items: center;
        margin-right: 16px;
      }

      .allBtnStyle {
        background: #3f73ff;
        border-radius: 2px;
      }

      .changeIcon {
        /deep/ .ivu-icon {
          margin-top: 2%;
        }

        /deep/ .ivu-icon::before {
          content: url("~@/assets/images/system/buttonSearch.svg");
          //margin-top: 10px;
        }
      }

      .file_add_button {
        /deep/ .ivu-icon {
          margin-top: 2%;
        }

        /deep/ .ivu-icon::before {
          content: url("~@/assets/icons/dataSetList/file_upload_add.svg");
        }
      }

      .formPosition {
        /deep/ .ivu-form-item-content {
          display: inline-block;
        }
      }
    }
  }

  .list-data {
    height: calc(~"100% - 110px");
    overflow: auto;
  }

  .paging {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 40px;
    margin-top: 20px;
  }
}
</style>
