<template>
  <Modal class="config-modal" :value="show" width="320" title="数值格式" footer-hide @on-cancel="onCancel">
    <div class="body">
      <div class="config-item">
        <span>数值格式：</span>
        <Select v-model="showType" :disabled="readonly">
          <Option v-for="item in numberFormatList" :value="item.value" :key="item.value">{{ item.name }}</Option>
        </Select>
      </div>
      <div class="config-item" v-if="!isPercent">
        <span>数值单位：</span>
        <Select v-model="numberUnit" :disabled="readonly || isPercent">
          <Option v-for="item in numberUnitList" :value="item.value" :key="item.value">{{ item.name }}</Option>
        </Select>
      </div>
      <div class="config-item">
        <span>前缀/后缀：</span>
        <Input class="text-input" v-model="prefix" :maxlength="20" placeholder="请输入前缀" :disabled="readonly"/>
        <Input class="text-input" v-model="suffix" :maxlength="20" placeholder="请输入后缀" :disabled="readonly"/>
      </div>
      <div class="config-item">
        <span>小数位数：</span>
        <InputNumber v-model="decimalPlaces" :max="6" :min="0" :editable="false" :disabled="readonly" class="precision" />
      </div>
      <div class="config-item thousands-separator">
        <Checkbox v-model="thousandsSeparator" :disabled="readonly">使用千位分隔符</Checkbox>
      </div>
    </div>

    <div class="footer">
      <Button type="primary" v-if="readonly" @click="onCancel">关闭</Button>
      <template v-else>
        <Button @click="onCancel">取消</Button>
        <Button type="primary" @click="onOk">确定</Button>
      </template>
    </div>
  </Modal>
</template>

<script>
  import { INDICATOR_TYPES, NUMBER_UNIT_LIST } from '@/view/report/indicator/constant'

  export default {
    name: 'NumberFormatConfigModal',
    props: {
      show: Boolean,
      config: Object,
      readonly: Boolean,
    },
    data() {
      return {
        numberFormatList: INDICATOR_TYPES,
        numberUnitList: NUMBER_UNIT_LIST,
        showType: 0, // 0-数值 1-百分比
        numberUnit: 'original', // 'original'-原始值 'wan'-万 'yi'-亿
        prefix: '', // 前缀
        suffix: '', // 后缀
        decimalPlaces: 2, // 小数位数，支持选择0-9整数
        thousandsSeparator: false, // 使用千位分隔符
      }
    },
    watch: {
      show() {
        const { showType, numberUnit, prefix, suffix, decimalPlaces, thousandsSeparator } = this.config
        this.showType = showType || 0
        this.numberUnit = numberUnit || 'original'
        this.prefix = prefix || ''
        this.suffix = suffix || ''
        this.decimalPlaces = decimalPlaces || 2
        this.thousandsSeparator = thousandsSeparator ?? false
      },
      showType() {
        // 切换数值格式，数值单位变为默认值
        this.numberUnit = 'original'
      },
    },
    computed: {
      isPercent() {
        return this.showType === 1
      }
    },
    methods: {
      /**
       * 关闭弹窗
       */
      onCancel() {
        this.$emit('on-cancel')
      },

      /**
       * 确定，向父级传递最新的数值格式配置
       */
      onOk() {
        const config = {
          showType: this.showType,
          numberUnit: this.numberUnit,
          prefix: this.prefix,
          suffix: this.suffix,
          decimalPlaces: this.decimalPlaces,
          thousandsSeparator: this.thousandsSeparator,
        }
        this.$emit('on-ok', config)
      },
    },
  }
</script>

<style scoped lang="less">
  // 重写modal样式
  .config-modal /deep/ .ivu-modal-body {
    padding: 24px;
  }

  .config-item {
    display: flex;
    align-items: center;

    + .config-item {
      margin-top: 16px;
    }

    > span {
      width: 66px;
      flex-shrink: 0;
    }

    .text-input {
      width: 97px;

      + .text-input {
        margin-left: 12px;
      }
    }

    .number-input {
      width: 100%;
    }

    &.thousands-separator {
      margin-left: 66px;
      margin-top: 24px;
    }
  }

  .footer {
    margin-top: 32px;
    text-align: right;

    button {
      height: 32px;
      border-radius: 2px;
      padding: 0 24px;
    }

    .ivu-btn-default {
      border: 1px solid rgba(217, 217, 217, 1);
      color: #666666;
    }

    .ivu-btn-primary {
      border: 0;
      margin-left: 16px;
    }
  }
</style>
