<template>
  <!-- 数值格式组件 -->
  <div class="number-format">
    <span>数值格式：</span>
    <div class="input-wrapper" @click="onConfig" :title="config.prefix+valueShow+unitShow+config.suffix">
      {{config.prefix}}
      {{valueShow}}
      <span class="unit">{{unitShow}}</span>
      {{config.suffix}}
    </div>

    <!-- 数值格式配置弹窗 -->
    <ConfigModal :show="showModal" :config="config" v-bind="$attrs" @on-cancel="onCancel" @on-ok="onOk" />
  </div>
</template>

<script>
import ConfigModal from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/NumberFormat/ConfigModal.vue'
import { mapActions } from 'vuex'
import { number } from 'echarts'

export default {
  name: 'NumberFormat',
  components: {
    ConfigModal,
  },
  props: {
    config: {
      type: Object
    }
  },
  data() {
    return {
      showModal: false,
    }
  },
  created(){
  },
  computed: {
    valueShow: {
      get(){
        return this.formatterVal(this.config.decimalPlaces, this.config.showType, this.config.thousandsSeparator)
      },
      set(newVal){
        return newVal;
      }

    },
    unitShow: {
      get(){
        return this.formatterUnit(this.config.numberUnit)
      },
      set(newVal){
        return newVal;
      }

    },
  },
  methods: {
    ...mapActions('indicator', [
      'setNumberFormatConfig',
    ]),

    // 格式化数值
    formatterVal(decimalPlaces, showType, thousandsSeparator){  //showType: 0 数值， 1 百分比
      let symbol = '';
      let val = '1234';
      let zeroArr = [];
      if(showType === 1){
        symbol = '%';
      }
      if(thousandsSeparator){
        val = '1,234';
      }
      if(decimalPlaces){
        zeroArr = new Array(Number(decimalPlaces)).fill(0);
        val = val + '.' + zeroArr.join('');
      }
      return val + symbol;
    },
    formatterUnit(unit){
      if(unit === "yi"){
        return '亿'
      }else if(unit === "wan"){
        return '万'
      }else{
        return ''
      }
    },

    /**
     * 配置数值格式，打开弹窗
     */
    onConfig() {
      this.showModal = true
    },

    /**
     * 弹窗关闭
     */
    onCancel() {
      this.showModal = false
    },

    /**
     * 确定
     */
    onOk(value) {
      this.setNumberFormatConfig(value)
      console.log(value)
      this.valueShow = this.formatterVal(value.decimalPlaces, value.showType, value.thousandsSeparator);
      this.unitShow = this.formatterUnit(value.numberUnit)
      this.showModal = false
    },
  },
}
</script>

<style scoped lang="less">
.number-format {
  width: 100%;
  display: flex;
  align-items: center;

  > span {
    flex-shrink: 0;
  }
}

.input-wrapper {
  width: calc(~'100% - 60px');
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 32px;
  position: relative;
  padding: 0 26px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 32px;
  cursor: pointer;

  .unit {
    color: rgba(0, 0, 0, 0.25);
    margin-left: 4px;
  }

  &:after {
    content: url('~@/assets/icons/indicatorIcon/icon_number_format.svg');
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    right: 8px;
  }

  &:hover:after {
    content: url('~@/assets/icons/indicatorIcon/icon_number_format_active.svg');
  }
}
</style>
