<template>
  <div style="text-align: left; position: absolute; min-height: 10px; min-width: 10px" :style="chartLocation" class="reportComponent">
    <div :id="'chartContainer' + chartData.chartId"
         @mouseleave="(e)=>handleHideMenu(e,chartData)" @mouseover="handleShowMenu(chartData)" @keydown="onChartKeyDown"
         @click="showDefaultValueSettingBox"
         :class="isTextAreaChart ? 'drawing-area-wrap-textarea' : 'drawing-area-wrap'">
      <img v-if="chartData.id === 'DimensionFilter'" src="@/assets/icons/chart/chart_type/dimensionFilter_black.svg" class="componentImg"/>
      <img v-if="chartData.id === 'IndicatorFilter'" src="@/assets/icons/chart/chart_type/indicatorFilter_black.svg" class="componentImg"/>
      <div :id="'chart_title_' + chartData.chartId" :class="['common-title-wrap', 'child-horizon-center', chartData.id]"
           v-if="!isTextAreaChart"
           :style="{
              width: isFilterChart ? 'calc(100% - 26px)' : '100%',
              marginLeft: isFilterChart ? '26px' : ''
            }">
        <chart-title :titleValue="chartData.style" :isFilterChart="isFilterChart" :chart-data="chartData"></chart-title>
      </div>

      <div class="common-setting-wrap" :style="{position: 'absolute', top: 0, right: 0, zIndex: 99999991}">
        <div class="date-picker-wrap" v-if="chartDataConfig.displayPrivateDate" style="display: none;">
          <div v-show="(chartDataConfig.displayPrivateDate && chartDataData.endDate) && !menuShow">
            <span>{{privateDateRange}}</span>
          </div>
        </div>
        <!-- 操作按钮 -->
        <div class="iconContent"
             v-if="!isViewState && menuShow && !isTextAreaChart"
             @mouseenter="handleShowCascader"
             @mouseleave="handleCloseCascader">
          <Icon type="ios-more" size="20" style="cursor: pointer;margin: 2px;"/>
          <transition name="fade">
            <ul class="cascader-menu" v-if="cascaderVisible">
              <li class="cascader-menu-item"
                  v-if="isSupportChartChange && canDoChartChange && menuShow"
                  @mouseenter="handleShowItem"
                  @mouseleave="handleCloseItem">
                <img class="img" src="@/assets/images/report/chartSwitchBtn.svg"/>
                <img class="imgSelected" src="@/assets/images/report/chartSwitchBtnSelected.svg"/>
                <span class="title">图表切换</span>
                <transition name="fade">
                  <div class="content">
                    <ul class="contentList">
                      <li v-for="item in switchableChartTypes" :key="item.id" v-if="canChangeChartType(item.id)">
                        <div @click="changeChartType($event, item.id)">
                          <img :src="item.icon" height="16" width="16" :title="item.title"/>
                          <span>{{ item.title }}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </transition>
              </li>
              <li class="cascader-menu-item"
                  v-if="canShowThresholdSetting(chartData) && menuShow"
                  @mouseenter="handleShowItem"
                  @mouseleave="handleCloseItem">
                <img class="img" src="@/assets/images/report/thresholdSettingBtn.svg"/>
                <img class="imgSelected" src="@/assets/images/report/thresholdSettingBtnSelected.svg"/>
                <span class="title">阈值设置</span>
                <transition name="fade">
                  <div class="content" style="cursor: default">
                    <div class="contentTitle">
                      <span>阈值</span>
                    </div>
                    <div>
                      <div v-for="item in chartDataData.indicator" class="indicatorItemBox" :key="item.id">
                        <Checkbox v-model="item.useThreshold" :disabled="!item.thresholds.length"/>
                        <span>{{item.title}}</span>
                      </div>
                    </div>
                  </div>
                </transition>
              </li>
              <li class="cascader-menu-item"
                  v-if="canShowLineBarSetting(chartData) && menuShow"
                  @mouseenter="handleShowItem"
                  @mouseleave="handleCloseItem">
                <img class="img" src="@/assets/images/report/barLineSwitchBtn.svg"/>
                <img class="imgSelected" src="@/assets/images/report/barLineSwitchBtnSelected.svg"/>
                <span class="title">柱形/折线</span>
                <transition name="fade">
                  <div class="content" style="cursor: default">
                    <div class="contentTitle">
                      <span>柱形/折线</span>
                    </div>
                    <div>
                      <div v-for="item in chartDataData.indicator" class="lineBarSwitchItemBox" :key="item.id">
                        <span class="title" :title="item.title.length > 10 ? item.title : ''" style="margin-right: 2px">{{item.title}}</span>
                        <div class="lineBarSwitchBox" v-if="item.lineBarType === true">
                          <div>
                            <img src="@/assets/images/report/barSelected.svg"/>
                          </div>
                          <div style="cursor: pointer"
                               @click="lineBarSwitch(item, false)">
                            <img src="@/assets/images/report/lineUnSelected.svg"/>
                          </div>
                        </div>
                        <div class="lineBarSwitchBox" v-else>
                          <div style="cursor: pointer"
                               @click="lineBarSwitch(item, true)">
                            <img src="@/assets/images/report/barUnSelected.svg"/>
                          </div>
                          <div>
                            <img src="@/assets/images/report/lineSelected.svg"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </transition>
              </li>
            </ul>
          </transition>
        </div>
      </div>

      <div :class="[chartData.id, isTextAreaChart? 'chart-view-container-textarea' : 'chart-view-container']"
           :style="{height: chartTitleAndDateHeight ? `calc(100% - ${chartTitleAndDateHeight }px)` : '100%', overflow: overFlowAutoChart ? 'auto' : 'hidden'}"
           @mouseup="onMouseupFuu">
        <div
          :class="chartDataConfig.isOpenPrivateDate ? 'chart-area-wrap' : isTextAreaChart ? 'chart-area-wrap-full-textarea' : 'chart-area-wrap-full'">
          <keep-alive>
            <component
              ref="chart"
              :is="chartData.id"
              mode="out-in"
              :chartId="chartData.chartId"
              :isActive='isActive'
              :chartData="chartData"
              :chartBoundingClientRect="chartBoundingClientRect"
              :propertyData="chartData.data"
              :propertyStyle="chartData.style"
              :startDate="chartData.startDate"
              :endDate="chartData.endDate"
              :imgHeight="imgHeight"
              :chartSwitchType="switchChartType"
              :scaleRatio='scaleRatio'
              :defaultShow="chartData.defaultShow"
              @changeDefaultShow="changeDefaultShow"
              @sendTableSize="getTableSize"
              @addChartFromTab="sendChartToTemplate"
              :showTextAreaEdit="showTextAreaEdit"
              :isViewState="isViewState"
              :globalVariables="globalVariables"
            ></component>
          </keep-alive>
        </div>
      </div>
    </div>

    <div v-if="defaultValueSettingBox"
         class="filterBox"
         :class="[{'dimensionFilterBox': currentSelectChart.id === 'DimensionFilter'},{'indicatorFilterBox': currentSelectChart.id === 'IndicatorFilter'}]"
         @click="(e) => { e.stopPropagation() }">
      <div class="body">
        <dimension-filter-setting
          v-if="currentSelectChart.id === 'DimensionFilter'"
          :DimensionConditionValue="DimensionConditionValue"
          @resetDefaultValueSettingBox="resetDefaultValueSettingBox"
          @confirmDefaultValue="confirmDefaultValue">
        </dimension-filter-setting>
        <indicator-filter-setting
          v-if="currentSelectChart.id === 'IndicatorFilter'"
          :conditionValue="IndicatorConditionValue"
          @resetDefaultValueSettingBox="resetDefaultValueSettingBox"
          @confirmDefaultValue="confirmDefaultValue">
        </indicator-filter-setting>
      </div>
    </div>
    <Modal
      v-model="globalVarSettingModal"
      :mask-closable="false"
      title="全局变量设置"
      @on-ok="confirmGlobalVarValue">
      <indicator-global-var :data="currentIndicatorGlobalVarList" @selectedGlobalValChange="handleSelectedGlobalValChange"></indicator-global-var>
    </Modal>
  </div>
</template>

<script>
  import SimpleBar from '@/view/report/chart/Bar'
  import SimplePie from '@/view/report/chart/Pie'
  import SimpleLine from '@/view/report/chart/Line' // 折线图
  import BasicRadar from '@/view/report/chart/Radar.vue' // 折线图
  import SimpleIframe from '@/view/report/chart/Iframe'
  import MixLineBar from '@/view/report/chart/LineBar'
  import SimpleGauge from '@/view/report/chart/Gauge'
  import Indicator from '@/view/report/chart/Indicator/index'
  import ComplexTextarea from '@/view/report/chart/textarea/ComplexTextarea'
  import DoublePie from '@/view/report/chart/DoublePie'
  import SimpleMap from '@/view/report/chart/Map'
  import SimpleBubble from '@/view/report/chart/Bubble'
  import SimpleScatter from '@/view/report/chart/Scatter'
  import IndexBoard from '@/view/report/chart/IndexBoard'
  import MultiplePie from '@/view/report/chart/MultiplePie'
  import CustomTable from '@/view/report/chart/customTableTest'
  import GroupTable from '@/view/report/chart/GroupTable/index.vue'
  import FaTab from '@/view/report/chart/FaTab'
  import DimensionFilter from '@/view/report/chart/DimensionFilter'
  import IndicatorFilter from '@/view/report/chart/IndicatorFilter'
  import GlobalVarFilter from "@/view/report/chart/GlobalVarFilter"
  import MixFilter from '@/view/report/chart/MixFilter'
  import CustomImage from '@/view/report/chart/CustomImage'
  import ChartTitle from '@/components/charts/title.vue'
  import DimensionFilterSetting from '@/view/components/report-filter/DimensionFilterSetting.vue'
  import IndicatorFilterSetting from '@/view/components/report-filter/IndicatorFilterSetting.vue'
  import {mapActions, mapGetters} from 'vuex'
  import _ from 'lodash'
  import { CANVAS_COLOR_CONFIG, CHART_DEFAULT_CONFIG, CHART_TYPE_LIST } from '@/config/ReportConstants'
  import { deepCopy } from '@/utils/common'
  import handleSeries from './mixin/handleSeriesMixin'
  import IndicatorGlobalVar from '@/view/report/indicator-browser/components/IndicatorGlobalVar'
  /**
   * 预览状态下的图表，为了提升渲染性能，以及此时已经不再需要改变组件位置与大小，
   * 所以不再使用vue-draggable-resizable-gorkys来包裹组件，直接使用div来陈放
   */
  export default {
    name: 'ChartViewWrapper',
    mixins: [handleSeries],
    components: {
      SimpleBar,
      SimplePie,
      SimpleLine, // 折线图
      BasicRadar,
      SimpleIframe,
      MixLineBar,
      SimpleGauge,
      Indicator,
      ComplexTextarea,
      DoublePie,
      CustomTable,
      GroupTable,
      ChartTitle,
      DimensionFilterSetting,
      IndicatorFilterSetting,
      SimpleMap,
      SimpleBubble,
      SimpleScatter,
      IndexBoard,
      MultiplePie,
      FaTab,
      DimensionFilter,
      IndicatorFilter,
      MixFilter,
      CustomImage,
      IndicatorGlobalVar,
      GlobalVarFilter,
    },
    props: {
      chartData: {
        type: Object,
        default: null
      },
      currentChartIdLong: {
        type: String,
        default: ''
      },
      _chartId: {
        type: String
      },
      scaleRatio: {
        type: Number,
        default: 1
      },
      isViewState: {
        type: Boolean,
        default: false
      },
      globalVariables: {
        type: Object,
        default: null
      }
    },
    computed: {
      ...mapGetters(['currentChartList']),
      privateDateRange() {
        if (this.chartDataData.startDate === this.chartDataData.endDate) {
          return this.chartDataData.startDate
        }
        return this.chartDataData.startDate + '~' + this.chartDataData.endDate
      },
      currentSelectChart: function () {
        return this.$store.state.chart && this.$store.state.chart.currentSelectChart
      },
      isSupportChartChange: function () {
        const supportChangeChartTypes = this.chartData.data.configData.supportChangeChartTypes
        return supportChangeChartTypes && supportChangeChartTypes.length
      },
      canDoChartChange: function () {
        return !this.chartData.defaultShow
      },

      chartDatePickerHeight: function () {
        return this.showDate || this.chartData.data.endDate ? 26 : 0
      },
      chartTitleAndDateHeight: function () {
        return this.chartTitleHeight // + this.chartDatePickerHeight
      },

      chartLocation: function () {
        return {

          width: this.chartWidth + 'px',
          height: this.chartHeight + 'px',
          left: this.chartData.x + 'px',
          top: this.chartData.y + 'px',
          zIndex: this.chartData.level
        }
      },

      chartWidth: function () {
        return Number(this.chartData.width) + Number(this.childSize.width)
      },
      chartHeight: function () {
        return Number(this.chartData.height) + Number(this.childSize.height)
      },
      chartDataData: function () {
        return this.chartData.data || {}
      },
      chartDataConfig: function () {
        return this.chartDataData.configData || {}
      },
      reportThemeStyle: function () {
        return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle || '1'
      },
      currentReportTheme() {
        return this.reportThemeStyle === '2' ? 'black' : 'default'
      },
      componentBackground: function () {
        return CANVAS_COLOR_CONFIG[this.currentReportTheme].componentBackground
      },
      defaultShowComponentBackground: function () {
        return CANVAS_COLOR_CONFIG[this.currentReportTheme].defaultShowComponentBackground
      },
      defaultValueSettingBox() {
        return this.defaultValueSettingShow &&
          (this.currentSelectChart.id === 'DimensionFilter' || this.currentSelectChart.id === 'IndicatorFilter')
      },
      isTextAreaChart() {
        return this.chartData.id === 'ComplexTextarea'
      },
      overFlowAutoChart() {
        return this.chartData.id === 'CustomTable'
      },
      // 可切换的图表类型列表
      switchableChartTypes() {
        // 维度和指标数量
        const dimensionNum = this.chartData.data.dimension.length
        const indicatorNum = this.chartData.data.indicator.length
        const currentChartType = this.chartData.id

        let switchableChartNames = []

        /* 维度有单维度和多维度两种、指标有单指标、两个指标、三个指标、多指标四种 */
        // 多维度+多指标
        if (dimensionNum && indicatorNum) {
          switchableChartNames.push('CustomTable')
        }

        // 单维度+多指标
        if (dimensionNum === 1 && indicatorNum) {
          switchableChartNames.push('SimpleLine', 'SimpleBar', 'MixLineBar', 'IndexBoard', 'BasicRadar')
        }

        // 多维度+单指标
        if (dimensionNum && indicatorNum === 1) {
          switchableChartNames.push('DoublePie')
        }

        // 单维度+两个指标
        if (dimensionNum === 1 && indicatorNum === 2) {
          switchableChartNames.push('SimpleScatter')
        }

        // 单维度+单指标
        if (dimensionNum === 1 && indicatorNum === 1) {
          switchableChartNames.push('SimplePie', 'SimpleMap')
        }

        // 仅有指标
        if (!dimensionNum && indicatorNum === 1) {
          switchableChartNames.push('Indicator', 'SimpleGauge')
        }

        return CHART_TYPE_LIST.filter(item => switchableChartNames.includes(item.id) && item.id !== currentChartType)
      },
      isFilterChart() {
        return ['DimensionFilter', 'IndicatorFilter', 'GlobalVarFilter'].includes(this.chartData.id)
      },
      currentIndicatorGlobalVarList() {
         return this.chartData.data.configData.filterGlobalVarList
      }
    },
    data() {
      return {
        changing: false,
        // 报告查看及编辑初始默认没有图表选中；拖拽创建默认选中
        isActive: this.$route.query.openType ? false : true, // 属性面板是否激活显示内容
        comparePreDate: null,
        boo: false,
        boo2: false,
        boo3: true,
        showDate: false,
        menuShow: false, // 鼠标移入显示操作按钮
        isPlusHeight: false,
        imgHeight: null,
        dateChangeBoo: false,
        chartBoundingClientRect: {},
        dateChange: {
          endDate: '',
        },
        switchChartType: null,
        chartTitleHeight: 0,
        childSize: { width: 0, height: 0 },
        defaultValueSettingShow: false,
        IndicatorConditionValue: '',
        DimensionConditionValue: [],
        imageScale: null,
        canChangeImage: false,
        cascaderVisible: false,
        reportList: [],
        targetReport: '',
        showTextAreaEdit: false,
        globalVarSettingModal: false,
        indicatorGlobalVarParam: {},
      }
    },
    provide: {
      recordSnapshot: false, // 防止组件获取不到inject，报错
    },
    watch: {
      'dateChange.endDate': {
        handler(val, oldVal) {
          if (val !== oldVal) {
            this.dateChangeBoo = true
            this.showDate = true
          }
          if (val === '') {
            this.dateChangeBoo = false
            this.showDate = false
          }
        },
        deep: true
      },
      dateChangeBoo(val, old) {
        return val
      },
      'chartData.style': {
        handler(val, oldVal) {
          this.$nextTick(() => {
            // 设置标题高度
            const commonTitleWrapDom = document.getElementById('chart_title_' + this.chartData.chartId)
            if (val.title) {
              this.chartTitleHeight = commonTitleWrapDom && commonTitleWrapDom.offsetHeight || 0
            } else {
              this.chartTitleHeight = 0
            }
          })
          this.chartData.height = val.height
          this.chartData.width = val.width
        },
        deep: true
      },
      isActive(val) {
      }
    },
    mounted() {
      this.reportList = JSON.parse(JSON.parse(localStorage.getItem('reportTest')))
      this.reportListCopy = deepCopy(this.reportList)
      this.switchChartType = this.chartData.id
      this.chartData.hasOwnProperty('dateRangeValue') && this.chartData.endDate !== null ? this.showDate = true : this.showDate = false
      this.$nextTick(() => {
        const commonTitleWrapDom = document.getElementById('chart_title_' + this.chartData.chartId)
        this.chartTitleHeight = commonTitleWrapDom && commonTitleWrapDom.offsetHeight || 0
      })

    },
    destroyed() {
      this.chartCopy = {}
      // 注释掉的原因是会导致快捷键只响应一次
      // document.onkeydown = null
    },
    methods: {
      ...mapActions(['setCurrentSelectChart', 'setChartList']),
      handleSettingChecked() {
        this.setChartDeactivation(true)
      },
      cancelEditTextarea(e, chart) {
        e.stopPropagation()
        this.setCurrentSelectChart({})
        this.$refs.chart.setCanEdit(false)
        chart.data = this.chartCopy.data
        chart.style = this.chartCopy.style
        chart.isActive = this.chartCopy.isActive
        this.chartCopy = {}
        this.$refs.chart.recoverCopy(chart)
        this.$parent.$parent.setActiveChart(null)
        chart.inEditStatues = false
      },
      editTextarea(e, chart) {
        e.stopPropagation()
        e.preventDefault()
        this.chartCopy = deepCopy(chart)
        this.$set(chart, 'inEditStatues', true)
        this.$refs.chart.setCanEdit(true)
        this.$refs.chart.setCopy(this.chartCopy)
        this.$parent.$parent.setActiveChart(chart)
        this.$nextTick(() => {
            this.setCurrentSelectChart({ chart })
          }
        )
      },
      confirmEditTextarea(e, chart) {
        e.stopPropagation()
        e.preventDefault()
        this.$parent.$parent.setActiveChart(null)
        this.$refs.chart.setCanEdit(false)
        this.$refs.chart.setInnerHtmlAmdIndicators()
        const views = this.buildViews([chart], chart.chartId.replace('ComplexTextarea_', ''))
        //保存修改
        this.$refs.chart.commitData(views[0])
        chart.inEditStatues = false
      },
      buildViews(chartList, viewsId) {
        const filterTabsInnerChart = deepCopy(chartList.filter(item => !item.data.configData.hasOwnProperty('parentTabId')))
        const views = this.$parent.$parent.buildChartData(filterTabsInnerChart)
        views[0].id = viewsId
        return views
      },

      /**
       * 跳转report页签报告搜索
       * @param e
       */
      handleSearchReport(e) {
        let val = e.target.value
        if (val) {
          this.reportList = this.reportList.filter(item => item.oneContent.indexOf(val) !== -1)
        } else {
          this.reportList = deepCopy(this.reportListCopy)
        }
      },

      dispatchMsg(...params) {
        if (!this.$refs.chart) return
        //styleSetting 设置点击
        if (params.length <= 0) {
          if (this.$refs.chart.setDefaultShow) {
            this.$refs.chart.setDefaultShow()
            this.$refs.chart.setCanEdit(false)
          }
        } else if (params.includes('styleSetting') || params.includes('openFontColorPicker')) {
          if (this.$refs.chart && this.$refs.chart.showSelectRange) {
            this.$refs.chart.showSelectRange()
          }

        }
      },

      sendChartToTemplate(chart) {
        this.$emit('getChartFromTab', chart)
      },
      onChartKeyDown(e) {
        e.stopPropagation()
      },
      onMouseupFuu(e) {
        const { bottom, height, left, right, top, width, x, y } = e.currentTarget.getBoundingClientRect()
        this.chartBoundingClientRect = { bottom, height, left, right, top, width, x, y }
      },

      getTableSize(size) {
        size.width > this.chartData.width ? this.childSize.width = size.width - 330 : this.childSize.width = 0
        size.height > this.chartData.height ? this.childSize.height = size.height - 180 : this.childSize.height = 0
      },

      handleShowDate() {
        if (!this.showDate) {
          this.chartData.height += 30
          this.imgHeight = 10
          this.showDate = true
        } else {
          this.chartData.height -= 30
          this.imgHeight = 0
          this.showDate = false
        }
      },

      isSupportDateSetting(chartId) {
        return _.indexOf(support_date_setting_charts, chartId) !== -1
      },

      // 临时调整组件层级至顶层
      needTempImproveLevel(chartId) {
        return _.indexOf(['ComplexTextarea'], chartId) === -1
      },
      handleShowMenu(chart) {
        this.menuShow = true
        this.showTextAreaEdit = true
        if (this.needTempImproveLevel(chart.id)) {
          // this.updateChartItemLevel(chart, 'top')
        }
      },
      handleHideMenu(e, chartData) {
        this.menuShow = false
        if (e) {
          this.showTextAreaEdit = false
        }
      },

      /**
       * 更新图表的层级为顶层或者底层
       * @param currentSelectChart  当前选中的图表
       * @param type  top、bottom
       */
      updateChartItemLevel(currentSelectChart, type) {
        let btChart, currentSelectChartItem
        // 临时提升当前选中的图表组件层级为最高层，以让功能按钮显示正常
        currentSelectChart.originalLevel = currentSelectChart.level
        this.currentChartList.forEach((item, index) => {
          if (currentSelectChart.chartId === item.chartId) {
            currentSelectChartItem = item
          }
          if (index === 0) {
            btChart = item
          } else {
            if (type === 'top') {
              if (item.level > btChart.level) {
                btChart = item
              }
            } else {
              if (item.level < btChart.level) {
                btChart = item
              }
            }
          }
        })
        // 如果当前选中的组件不在顶层
        if (btChart.chartId !== currentSelectChart.chartId) {
          let step = 'top' === type ? 1 : -1
          let newLevel = btChart.level + step
          currentSelectChartItem.level = newLevel
          // 将vuex中存储的chart的level也更新掉
          currentSelectChart.level = newLevel
        }
      },
      canShowLineBarSetting(chartData) {
        return chartData.id === 'MixLineBar' && chartData.data.indicator.length
      },

      canShowThresholdSetting(chartData) {
        let chartDataId = chartData.id
        if (chartDataId === 'SimpleLine' || chartDataId === 'SimpleBar' || chartDataId === 'MixLineBar' || chartDataId === 'BasicRadar') {
          return _.get(chartData, ['data', 'configData', 'isOpenThreshold']) && chartData.data.indicator.length
        } else {
          return false
        }
      },
      changeChartType(e, chartType) {
        e.stopPropagation()
        this.setSeries(chartType)
        this.$set(this.chartData, 'id', chartType)
        this.$set(this.chartData.data, 'configData', { ...CHART_DEFAULT_CONFIG[chartType].config })
        if (this.currentSelectChart && this.currentSelectChart.chartId === this.chartData.chartId) {
          this.$set(this.currentSelectChart, 'id', chartType)
        }
      },
      canChangeChartType(chartType) {
        const supportChangeChartTypes = this.chartData.data.configData.supportChangeChartTypes
        let flag = supportChangeChartTypes && _.indexOf(supportChangeChartTypes, chartType) !== -1
        if (flag) {
          let dataDimension = this.chartData.data.dimension
          let dataIndicator = this.chartData.data.indicator
          switch (this.chartData.id) {
            case 'CustomTable':
              if (chartType === 'Indicator') {
                flag = dataDimension && dataDimension.length === 0 &&
                  dataIndicator && dataIndicator.length === 1
              } else if (chartType === 'SimpleLine' || chartType === 'SimpleBar' || chartType === 'MixLineBar' || chartType === 'IndexBoard' || chartType === 'BasicRadar') {
                flag = dataDimension && dataDimension.length === 1 &&
                  dataIndicator && dataIndicator.length > 0
              } else if (chartType === 'SimplePie') {
                flag = dataDimension && dataDimension.length === 1 &&
                  dataIndicator && dataIndicator.length === 1
              } else if (chartType === 'DoublePie') {
                flag = dataDimension && dataDimension.length === 2 &&
                  dataIndicator && dataIndicator.length === 1
              }
              break
            case 'SimpleLine':
              if (chartType === 'SimplePie') {
                flag = dataIndicator && dataIndicator.length === 1
              }
              break
            case 'BasicRadar':
              if (chartType === 'SimplePie') {
                flag = dataIndicator && dataIndicator.length === 1
              }
              break
            case 'SimpleBar':
              if (chartType === 'SimplePie') {
                flag = dataIndicator && dataIndicator.length === 1
              }
              break
            case 'MixLineBar':
              if (chartType === 'SimplePie') {
                flag = dataIndicator && dataIndicator.length === 1
              }
              break
          }
        }
        return flag
      },
      changeDefaultShow(param) {
        this.chartData.defaultShow = param
      },
      showDefaultValueSettingBox() {
        if (this.chartData.id === 'IndicatorFilter') {
          this.defaultValueSettingShow = true
          let IndicatorConditionValue = this.currentSelectChart.data.configData.conditionValue
          this.IndicatorConditionValue = IndicatorConditionValue
        } else if (this.chartData.id === 'DimensionFilter') {
          this.defaultValueSettingShow = true
          if (this.currentSelectChart.data.configData.conditionValue) {
            this.DimensionConditionValue = this.currentSelectChart.data.configData.conditionValue.split(',')
          } else {
            this.DimensionConditionValue = []
          }
        } else if (this.chartData.id === 'GlobalVarFilter') {
          this.globalVarSettingModal = true
        }
      },
      resetDefaultValueSettingBox(e) {
        e.stopPropagation()
        this.defaultValueSettingShow = false
      },
      confirmDefaultValue(e, conditionValue, valueTitle) {
        e.stopPropagation()
        this.defaultValueSettingShow = false
        this.currentSelectChart.data.configData.conditionValue = conditionValue
        // 改变title
        if (!this.currentSelectChart.style.titleCustomChange) {
          if (this.currentSelectChart.id === 'IndicatorFilter') {
            let { filterIndicator, filterIndicatorTitle } = this.currentSelectChart.data.configData
            if (filterIndicator && filterIndicatorTitle) {
              let title = ''
              title += filterIndicatorTitle
              title += valueTitle
              this.currentSelectChart.style.title = title
              this.currentSelectChart.style.showTitle = true
            }
          } else if (this.currentSelectChart.id === 'DimensionFilter') {
            let { filterDimension, filterDimensionTitle } = this.currentSelectChart.data.configData
            if (filterDimension && filterDimensionTitle) {
              let title = ''
              title += filterDimensionTitle
              if (valueTitle) {
                title += '：' + valueTitle
              } else {
                title += '：' + '全部'
              }
              this.currentSelectChart.style.title = title
              this.currentSelectChart.style.showTitle = true
            }
          }
        }
        // 刷新相关图表
        if (this.currentSelectChart.parentId) {
          return
        }
        let relativeComponentList = this.currentSelectChart.data.configData.relativeComponentList
        this.$parent.$parent.$refs.reportChartViewLayout.$children.forEach(item => {
          let chart = item.$refs.chart
          if (relativeComponentList.find(item => item === chart.chartId)) {
            chart.refreshData && chart.refreshData()
          }
        })
      },
      handleShowCascader() {
        if (this.timeout) clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          this.cascaderVisible = true
        }, 0)
      },
      handleCloseCascader() {
        if (this.timeout) {
          clearTimeout(this.timeout)
          this.timeout = setTimeout(() => {
            this.cascaderVisible = false
          }, 200)
        }
      },
      handleShowItem(e) {
        if (this.chartData.width + this.chartData.x > this.$parent.$parent.reportWidth - 100) {
          e.target.children[3].style.left = 'auto'
          e.target.children[3].style.right = '100%'
        } else {
          e.target.children[3].style.left = '100%'
          e.target.children[3].style.right = 'auto'
        }
        e.target.children[3].style.display = 'block'
      },
      handleCloseItem(e) {
        e.target.children[3].style.display = 'none'
      },

      lineBarSwitch(item, val) {
        this.$set(item, 'lineBarType', val)
      },
      handleSelectedGlobalValChange(option) {
        const key = Object.keys(option)[0]
        const value = option[key]
        this.indicatorGlobalVarParam[key] = value
      },
      confirmGlobalVarValue() {
        this.globalVarSettingModal = false
        // 更新筛选器提交参数
        this.chartData.data.configData.conditionValue = this.indicatorGlobalVarParam
        this.changeTitle()
        // 通知刷新相关图表
        let relativeComponentList = this.chartData.data.configData.relativeComponentList
        this.$parent.$parent.$refs.reportChartViewLayout.$children.forEach(item => {
          let chart = item.$refs.chart
          if (relativeComponentList.find(item => item === chart.chartId)) {
            chart.refreshData && chart.refreshData()
          }
        })
      },
      changeTitle() {
        let title = ''
        this.chartData.data.configData.filterGlobalVar.forEach(item => {
          const variable = this.chartData.data.configData.filterGlobalVarList.find(one => one.varCode === item)
          const variableValue = this.indicatorGlobalVarParam[item]
          if (variableValue) {
            const variableLabel = variable.paramValue.find(it => it.value === variableValue).label
            title += `${variable.name}: ${variableLabel};`
          } else {
            title += `${variable.name}: 全部;`
          }
        })
        this.chartData.style.title = title
        this.chartData.style.showTitle = true
      },
    },
    beforeDestroy() {
    },
  }
  const diff = 2
  const support_date_setting_charts = ['SimpleTable', 'CustomTable', 'SimpleBar', 'SimplePie', 'SimpleLine', 'DoublePie', 'MixLineBar', 'SimpleGauge', 'Indicator', 'BasicRadar']
</script>

<style lang="scss" scoped>
  @include fa-use-theme($fa-default-themes) {
    .reportComponent {
      background: $f-them-report-component-background;
    }
  }
</style>

<style lang="less" scoped>

  .report-chart-view {
    position: absolute;
  }

  .text-area-butt {
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -34px;

    .img-wrapper {
      width: 150px;
      text-align: left;
    }

    .img-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 80%;

      .but {
        padding: 0 10px;
        background-color: #FFFFFF;
        line-height: 32px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.36);
        letter-spacing: 0;
        text-align: left;
        font-weight: 400;
        height: 32px;
        width: 55px;
      }

      .user-select-none {
        -ms-user-select: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -webkit-touch-callout: none;
      }
    }


  }

  .componentImg {
    position: absolute;
    top: 10px;
    left: 14px;
  }

  .chartTypeChangeDropdown {
    .ivu-select-dropdown {
      .ivu-dropdown-item {
        img {
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
          margin-left: 10px;
        }
      }
    }
  }

  .filterBox {
    position: absolute;
    top: 100%;
    margin-top: 3px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;

    .body {
      padding: 16px;
    }
  }

  .dimensionFilterBox {
    width: 500px;
  }

  .indicatorFilterBox {
    width: 380px;
  }

  .iconContent {
    .ivu-icon.ivu-icon-ios-more {
      margin-left: 4px !important;

      &:before {
        content: url('~@/assets/images/report/moreBtn.svg');
      }
    }

    .ivu-icon.ivu-icon-md-close {
      margin-left: 4px !important;

      &:before {
        content: url('~@/assets/images/report/closeBtn.svg')
      }
    }

    .cascader-menu {
      width: 96px;
      background: #FFFFFF;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      margin: 5px 0 5px -26px;

      .cascader-menu-item {
        position: relative;
        list-style-type: none;
        padding: 9px 8px 9px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .img {
          margin-right: 6px;
          display: block;
        }

        .imgSelected {
          margin-right: 6px;
          display: none;
        }

        .title {
          vertical-align: middle;
        }

        .content {
          position: absolute;
          top: 0;
          left: 100%;
          background: #FFFFFF;
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          display: none;

          > div {
            white-space: nowrap;
          }

          .contentList {
            li {
              list-style-type: none;
              padding: 9px 16px;
              white-space: nowrap;

              img {
                vertical-align: middle;
              }

              span {
                vertical-align: middle;
                margin-left: 10px;
              }
            }

            li:hover {
              background: rgba(142, 175, 243, 0.1);
            }
          }

          .contentTitle {
            font-size: 12px;
            color: #333333;
            line-height: 34px;
            padding: 0 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }

          .lineBarSwitchItemBox {
            padding: 0 6px 0 12px;
            line-height: 34px;
            color: #333333;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
              max-width: 120px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .lineBarSwitchBox {
              display: flex;

              > div {
                width: 18px;
                height: 18px;
                border-radius: 2px;
                margin-left: 4px;
                text-align: center;

                img {
                  width: 12px;
                  height: 12px;
                  margin-bottom: 6px;
                }

                &:hover {
                  background: rgba(142, 175, 243, 0.1);
                }
              }
            }
          }
        }
      }

      .cascader-menu-item:hover {
        background: rgba(142, 175, 243, 0.1);

        .title {
          color: #3F73FF;
        }

        .img {
          display: none;
        }

        .imgSelected {
          display: block;
        }
      }
    }
  }
  .chart-view-container {
    width: 100%;
    flex: 1;
    /* 百分百会留背景白边 */
    //overflow: hidden;
    position: relative;

    &.Indicator {
    overflow: visible;
    position: static;

    .chart-area-wrap-full {
      overflow: visible;
    }
  }
  }
</style>

<style>
  .vdr {
    border: 1px solid transparent;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    opacity: 1;
    cursor: move;
  }

  .mouseEvent:hover {
    box-shadow: 0px 0px 8px 0px rgba(100, 149, 250, 1);
    border: 1px solid #8ABBF0;

  }

  .saveBoxShadow {
    box-shadow: 0px 0px 8px 0px rgba(250, 100, 0, 1);
  }

  .backTransfer {
    background: transparent !important;
  }

  .activatedClass {
    box-shadow: 0 0 10px #4799F0;
    border: 1px solid #4799F0;
  }

  .move-chart {
    opacity: 0.5;
  }

  .child-horizon-center {
    display: flex;
  }

  /* 指标卡专属的样式 */
  .common-title-wrap.Indicator {
    padding-top: 6px;
  }

  .child-vertical-center {
    display: flex;
    align-items: center;
  }

  .child-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .drawing-area-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .drawing-area-wrap-textarea {
    height: 100%;
    width: 100%;
  }

  .common-setting-wrap {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
  }



  .chart-view-container-textarea {
    width: 100%;
    height: calc(100% - 20px);
    /* 百分百会留背景白边 */
    /*overflow: auto;*/
    position: relative;
    /*padding: 10px;*/
  }

  .chart-area-wrap {
    height: 100%;
    width: 100%;
  }

  .chart-area-wrap-full {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .chart-area-wrap-full-textarea {
    height: 100%;
    width: 100%;
  }

  .iconContent {
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20);
    margin: 4px 10px 0 0;
    float: right;
    z-index: 9999;
  }

  .date-picker-wrap {
    height: 24px;
    /*width: 24px;*/
    margin: 4px 10px 0 0;
    /*float: right;*/
    z-index: 9999;
    display: flex;
    align-items: center;
  }

  .indicatorItemBox {
    padding: 0px 12px;
    line-height: 34px;
    color: #333333;
  }

  .indicatorItemBox:hover {
    background: rgba(142, 175, 243, 0.1);
  }

</style>
