<template>
  <div class="report-chart-edit-layout" id="canvasContainer">
    <MoveSelect
      ref="moveSelectComp"
      @cancelSelect="cancelSelect"
      @finishSelect="finishSelect"
      @saveResource="showSaveResourceModal"
      @selectedChartMoving="selectedChartMoving"
      @selectedChartMoved="selectedChartMoved"
    >
      <chart-edit-wrapper
        ref="charts"
        v-for="item in displayChartDataList"
        :chart-data-list="chartDataList"
        :chartData="item"
        :_chartId="item.chartId"
        :key="item.chartId"
        :editable="true"
        @selectChart="selectChart"
        :getRefLineParams="getRefLineParams"
        :scaleRatio="scaleRatio"
        :saveBtnClick="saveBtnClick"
        @onDragStop="onChartItemDragStop"
        @getChartFromTab="addChartToListFromTab"
      />
    </MoveSelect>

    <!-- 保存资源弹窗 -->
    <SaveResourceModal v-show="saveResourceModalStatus.type === '2'" @onConfirm="handleSaveResource" />

    <span
      class="ref-line v-line"
      v-for="item in vLine"
      v-show="item.display"
      :style="{ left: item.position, top: item.origin, height: item.lineLength }"
    />
    <span
      class="ref-line h-line"
      v-for="item in hLine"
      v-show="item.display"
      :style="{ top: item.position, left: item.origin, width: item.lineLength }"
    />
  </div>
</template>

<script>
/**
 * 需要考虑，外部系统引用时，不能包含菜单等部分
 */
import ChartEditWrapper from "./ChartEditWrapper";
import MoveSelect from "./components/MoveSelect";
import SaveResourceModal from './components/SaveResourceModal'
import { mapState, mapMutations, mapActions } from "vuex";
import { CHART_DEFAULT_CONFIG, FILTER_TITLE_CONFIG } from "@/config/ReportConstants";
import { deepCopy } from "@/utils/common";
import mixin from "../mixin/ReportMixin";
import { NO_RESOURCE_CHART_LIST } from "@/config/resourceManage";
import { judgeIsInvalidResource } from "@/utils/resourceManage";

const extraHeight = 600;

export default {
  name: "ChartEditLayout",
  mixins: [mixin],
  components: {
    ChartEditWrapper,
    MoveSelect,
    SaveResourceModal
  },
  props: {
    chartDataList: {
      type: Array,
      default: () => {
        return [];
      }
    },
    scaleRatio: {
      type: Number,
      default: 1
    }
  },
  data() {
    return {
      saveBtnClick: false, // 保存按钮是否按下
      vLine: [],
      hLine: [],
      pdfLoading: false
    }
  },
  computed: {
    ...mapState("resourceManage", ["selectedChart", "selectLine", "isCombineResourceEditPage", "saveResourceModalStatus"]),
    reportPageMeasure: function() {
      return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.pageMeasure;
    },
    displayChartDataList() {
      return this.chartDataList.filter(item => {
        return (!item.hasOwnProperty("shouldCreate") && !item.hasOwnProperty("parentId")) || item.parentId === "";
      });
    }
  },
  mounted() {
    let container = document.querySelector(".moveSelect-container");
    container.addEventListener("mousemove", e => {
      if (e.target === container) this.$emit("canvasClicked", false);
    });

    document.onkeydown = e => {
      const keyCode = e.keyCode || e.which || e.charCode;
      if (this.$store.state.chart.currentSelectChart && Object.keys(this.$store.state.chart.currentSelectChart).length) {
        if (!this.chartDataList.find(item => item.chartId === this.$store.state.chart.currentSelectChart.chartId)) return // 图表在FaTab组件内
        // keyCode == 46（delete键：mac上需要按fn+回退键）
        if (keyCode === 8 || keyCode === 46) {
          // 响应delete键和回退键删除当前图表
          if (
            e.target.className === "" ||
            e.target.className === " fa-theme-default" ||
            e.target.className === " fa-theme-black" ||
            e.target.classList.contains("create-report-body-canvas")
          ) {
            this.removeChartItem(this.$store.state.chart.currentSelectChart); //操作方法
          }
        }
      }

      if (e.ctrlKey && keyCode == 86) {
        //ctrl + v 功能
        if (this.$store.state.chart.copyChart?.id) {
          //如果存在已经复制的图表
          let maxLevel = Math.max(...deepCopy(this.chartDataList).map(ele => ele.level));
          let copyInfo = deepCopy(this.$store.state.chart.copyChart);
          copyInfo.y += 60;
          copyInfo.x += 40;
          copyInfo.chartId = copyInfo.chartId.split("_")[0] + "_" + new Date().getTime();
          copyInfo.level = maxLevel ? maxLevel + 1 : 100;
          this.addChartToListFromTab(copyInfo);
          this.$Message.info("粘贴图表");
        }
      }
    };

    this.setChartVNodeList(this.$refs.moveSelectComp.$children)
  },
  destroyed() {
    document.onkeydown = null;
  },
  methods: {
    ...mapMutations("resourceManage", ["setRefreshResourceTabW", "setSelectedChart", "setSelectLine", "setSaveResourceModalStatus"]),
    ...mapMutations( ["setChartVNodeList"]),
    ...mapActions("resourceManage", ["saveCombineResource", "fetchAllResourceList"]),
    ...mapActions(["setCurrentSelectChart", "setReportDate", "setChartDeactivation", "setChartList", "setReportSetting"]),
    /**
     * 正在移动框选图表
     * @param {Number} moveRight 右移距离
     * @param {Number} moveBottom 下移距离
     */
    selectedChartMoving(moveRight, moveBottom) {
      // 修改选中图表的 x,y（用于移动框选边线）
      const newSelectedChart = []
      this.selectedChart.forEach(ele => {
        newSelectedChart.push({
          ...ele,
          x: ele.x + moveRight,
          y: ele.y + moveBottom
        })
      })
      this.setSelectedChart(newSelectedChart)

      // 修改画布中对应图表的 x,y（用于移动框选图表）
      const newSelectedChartName = newSelectedChart.map(ele => ele.chartId)
      this.$refs.charts.forEach(chart => {
        if(newSelectedChartName.includes(chart._chartId)) {
          chart.onDragStop(chart.chartData.x + moveRight, chart.chartData.y + moveBottom, true)
        }
      });
    },
    /**
     * 框选图表移到完成
     * @param {Number} moveRight 右移距离
     * @param {Number} moveBottom 下移距离
     */
    selectedChartMoved() {
      const x = parseInt(this.selectLine.left)
      const y = parseInt(this.selectLine.top)
      const width = parseInt(this.selectLine.width)
      const height = parseInt(this.selectLine.height)
      this.onChartItemDragStop(x, y, width, height)
    },
    /**
     * 框选完成后，再取消
     */
    cancelSelect() {
      if (this.selectLine.show) {
        this.setSelectedChart([])
      }
    },
    /**
     * 框选完成
     * @param {Object} selectArea 选框的四个角坐标（相对于画布）
     */
    finishSelect(selectArea) {
      const select = []
      this.displayChartDataList.forEach(ele => {
        const rect = [
          {
            x: ele.x,
            y: ele.y
          },
          {
            x: ele.x + ele.width,
            y: ele.y
          },
          {
            x: ele.x + ele.width,
            y: ele.y + ele.height
          },
          {
            x: ele.x,
            y: ele.y + ele.height
          }
        ];
        if(this.isSelected(rect, selectArea)) {
          select.push(ele)
        }
      })
      if(select.length !== 0) {
        if(select.some(ele => NO_RESOURCE_CHART_LIST.includes(ele.id))) {
          this.$Message.warning('iframe、tab、筛选器组件无法保存为资源')
          return
        }
        this.setSelectedChart(select)
        this.setCurrentSelectChart({ chart : null })
      }
    },
    /**
     * 判断当前元素是否被框选
     * @param {Array} rect 当前元素四个角的坐标（左上、右上、右下、左下）
     * @param {Array} selectArea 框选区域四个角的坐标（左上、右上、右下、左下）
     */
    isSelected(rect, selectArea) {
      // 判断当前元素是否有一个角在框选区域内
      for (let curItem of rect) {
        if (curItem.x > selectArea[0].x && curItem.x < selectArea[1].x && curItem.y > selectArea[0].y && curItem.y < selectArea[2].y) {
          return true;
        }
      }
      // 相交检测（横）
      if (selectArea[0].x < rect[0].x && selectArea[1].x > rect[1].x && selectArea[0].y > rect[0].y && selectArea[2].y < rect[2].y) {
        return true;
      }
      // 相交检测（竖）
      if (selectArea[0].x > rect[0].x && selectArea[1].x < rect[1].x && selectArea[0].y < rect[0].y && selectArea[2].y > rect[2].y) {
        return true;
      }
      return false;
    },
    /**
     * 获取组合资源边框的信息
     * @param {Array} data 已选的图表组件
     */
    getSelectLineData(data) {
      let minX = 9999999
      let minY = 9999999
      let maxWidth = 0
      let maxHeight = 0
      data.forEach(item => {
        if(item.x < minX) {
          minX = item.x
        }
        if(item.y < minY) {
          minY = item.y
        }
        if((item.x + item.width) > maxWidth) {
          maxWidth = item.x + item.width
        }
        if((item.y + item.height) > maxHeight) {
          maxHeight = item.y + item.height
        }
      })
      return {
        left: minX + "px",
        top: minY + "px",
        width: maxWidth - minX + "px",
        height: maxHeight - minY + "px",
        show: true
      }
    },
    /**
     * 展示保存资源的弹窗
     */
    showSaveResourceModal() {
      const isCanSave = this.selectedChart.map(ele => judgeIsInvalidResource(ele))
      if(!isCanSave.includes(false)) {
        this.setSaveResourceModalStatus({ show: true, type: "2", defaultTitle: "组合资源" }); // 展示弹窗
      } else {
        this.$Message.warning('存在无效组件')
      }
    },
    /**
     * 保存组合资源
     */
    async handleSaveResource(value) {
      const msg = await this.saveCombineResource({ value, type: "add" })
      this.$Message.success(msg);
      this.setSelectedChart([]) // 清空之前选中的内容
      this.setSaveResourceModalStatus({ show: false }); // 关闭弹窗
      this.setRefreshResourceTabW(new Date().getTime()) // 刷新资源tab
      this.fetchAllResourceList(); // 刷新vuex中已存在的资源
    },
    /**
     * 获取当前新增的图表左上角坐标点，
     * 如果和现有的图表重叠，那么像右向下平移10px
     * @param x 初始横坐标
     * @param y 初始纵坐标
     *
     */
    getCurrentChartLocation({ x, y }) {
      let con = true;
      while (con) {
        let exit = false;
        for (let i = 0; i < this.chartDataList.length; i++) {
          if (this.chartDataList[i].x === x && this.chartDataList[i].y === y) {
            x += 10;
            y += 10;
            exit = true;
            break;
          }
        }
        con = exit;
      }
      return { x, y };
    },

    /**
     * 添加资源图表（常规 + 组合）
     * @param chartDefine 图表数据
     * @param location 图表左上角坐标
     */
    addResourceChartItem(chartDefine, location = { x: 0, y: 0 }, configData) {
      console.log("回填图表的数据", chartDefine, location, configData);
      let chartType = chartDefine.item.id;
      let { width, height, config, defaultImg, src, defaultShow = true } = configData || CHART_DEFAULT_CONFIG[chartType];
      let timestamp = new Date().getTime();
      let level = 100;
      let realLocation = this.getCurrentChartLocation(location);
      let maxLevel = Math.max.apply(Math, this.chartDataList.map(item => item.level));
      level = Math.max(level, maxLevel) + 1;

      // 构造一个新的图表对象
      const chartFullData = {
        chartId: `${chartType}_${timestamp}`,
        id: chartType,
        i: this.chartDataList.length,
        x: realLocation.x,
        y: realLocation.y,
        level,
        width,
        height,
        defaultImg,
        data: {
          mode: 1,
          dimension: chartDefine.item.dimensions,
          indicator: chartDefine.item.indicators,
          series: chartDefine.item.series,
          innerHtml: null,
          src,
          text: null,
          configData: deepCopy(config)
        },
        style: configData.style,
        defaultShow,
        isActive: true
      };

      //如果开启联动后新增图表 则根据类型给主动被动标签
      if (this.$parent.chartLink) {
        this.$parent.setChartLinkInitProperty(chartFullData);
      }

      // 展示图表标题
      if (chartFullData.id !== "ComplexTextarea" && chartFullData.id !== "CustomImage") {
        chartFullData.style.showTitle = true;
      }
      if(chartFullData.id === "ComplexTextarea") {
        chartFullData.data.innerHtml = configData.innerHtml;
      }
      // 如果该资源属于组合资源，记录资源坐标
      if(chartDefine.resourceType === "2") {
        const xDis = realLocation.x - chartDefine.combineX
        const YDis = realLocation.y - chartDefine.combineY
        chartFullData.x = chartDefine.x + xDis;
        chartFullData.y = chartDefine.y + YDis;
      }

      this.chartDataList.push(chartFullData);
      this.refreshStoreChartList();

      if(chartDefine.resourceType === "1") { // 常规
        this.selectChart(chartFullData, timestamp); // 默认选中当前图表
      } else { // 组合
        this.setCurrentSelectChart({ chart: null })
        this.setSelectedChart([...this.selectedChart, chartFullData])
      }

      // 记录快照
      this.$parent.recordSnapshot();
      return chartFullData;
    },
    /**
     * 添加资源图表（定制化）
     * @param chartDefine 图表数据
     * @param location 图表左上角坐标
     */
    addCustomChartItem(chartDefine, location) {
      console.log("回填定制化图表的数据:", chartDefine, location);

      let chartType = chartDefine.customComponentName;
      let timestamp = new Date().getTime()
      let level = 100;
      let realLocation = this.getCurrentChartLocation(location);
      let maxLevel = Math.max.apply(Math, this.chartDataList.map(item => item.level));
      level = Math.max(level, maxLevel) + 1;
      const chartFullData = {
        chartId: `${chartType}_${timestamp}`,
        id: chartType,
        isCustomChart: true, // 标识是否是定制化图表
        i: this.chartDataList.length,
        x: realLocation.x,
        y: realLocation.y,
        level,
        width: chartDefine.width,
        height: chartDefine.height,
        defaultImg: "",
        data: {
          mode: 1,
          dimension: [],
          indicator: [],
          innerHtml: null,
          src: null,
          text: null,
          configData: {
            isSupportActiveLink: false,
            isSupportPassiveLink: false,
          }
        },
        style: {
          width: chartDefine.width,
          height: chartDefine.height
        },
        defaultShow: true,
        isActive: true
      };

      //如果开启联动后新增图表 则根据类型给主动被动标签
      if (this.$parent.chartLink) {
        this.$parent.setChartLinkInitProperty(chartFullData);
      }

      // 如果该资源属于组合资源，记录资源坐标
      if(chartDefine.isCombine) {
        const xDis = realLocation.x - chartDefine.combineX
        const YDis = realLocation.y - chartDefine.combineY
        chartFullData.x = chartDefine.x + xDis;
        chartFullData.y = chartDefine.y + YDis;
      }

      this.chartDataList.push(chartFullData);
      this.refreshStoreChartList();

      // 组合资源中的定制化，添加框选效果
      if(chartDefine.isCombine) {
        this.setSelectedChart([...this.selectedChart, chartFullData])
      } else {
        this.selectChart(chartFullData, timestamp);
      }

      // 记录快照
      this.$parent.recordSnapshot();
      return chartFullData;
    },

    /**
     * 添加图表
     * @param chartDefine 图表数据
     * @param location 鼠标松手位置
     */
    addChartItem(chartDefine, location = { x: 0, y: 0 }, configData) {
      let chartType = chartDefine.item.id;
      let { width, height, config, defaultImg, src, defaultShow = true } = configData || CHART_DEFAULT_CONFIG[chartType];
      // chartId是为了定位到选中的图表， id是生成的图表的类型
      let timestamp = new Date().getTime(),
        level = 100;
      let realLocation = this.getCurrentChartLocation(location);
      let maxLevel = Math.max.apply(
        Math,
        this.chartDataList.map(item => {
          return item.level;
        })
      );
      level = Math.max(level, maxLevel) + 1;
      let title = "未命名组件";
      // 构造一个新的图表对象
      const chartFullData = {
        chartId: `${chartType}_${timestamp}`,
        id: chartType,
        i: this.chartDataList.length,
        x: realLocation.x,
        y: realLocation.y,
        level,
        width,
        height,
        defaultImg,
        data: {
          mode: 1,
          dimension: [],
          indicator: [],
          series: [],
          innerHtml: null,
          src: src,
          text: null,
          configData: deepCopy(config)
        },
        style: { width, height },
        defaultShow,
        isActive: true
      };
      if (chartDefine.item.dimensions) {
        chartFullData.data.dimension = chartDefine.item.dimensions;
      }
      if (chartDefine.item.indicators) {
        chartFullData.data.indicator = chartDefine.item.indicators;
      }

      //如果开启联动后新增图表 则根据类型给主动被动标签
      if (this.$parent.chartLink) {
        this.$parent.setChartLinkInitProperty(chartFullData);
      }
      if (chartFullData.id !== "ComplexTextarea" && chartFullData.id !== "CustomImage") {
        chartFullData.style.title = title;
        chartFullData.style.showTitle = true;
      }
      if (chartFullData.id === "FaTab") {
        chartFullData.childrenChartViewList = [];
        chartFullData.currentTab = 0
        chartFullData.style = Object.assign(chartFullData.style, {
          labelType: 'underline',
          labelPosition: 'top-left',
          fontFamily: 'Microsoft YaHei',
          fontSize: 12,
          labelColor: '#000000',
          labelBackgroundColor: '#ffffff',
          labelColorActive: "#57a3f3",
          labelBgColorActive: "#57a3f3",
          labelColorBlockActive:'#fff'
        })
      } else if (chartFullData.id === "MixFilter") { // 组合筛选器
        chartFullData.style.title = "";
      } else if (FILTER_TITLE_CONFIG.map(item => item.id).includes(chartFullData.id)) { // 其他筛选器
        title = FILTER_TITLE_CONFIG.find(item => item.id === chartFullData.id)?.title;
        let originTitle = title;
        let count = 1;
        while (this.chartDataList.find(item => item.id === chartFullData.id && item.style.title === title)) {
          title = `${originTitle}(${count})`;
          count++;
        }
        chartFullData.style.title = title;
        chartFullData.style.showTitle = false;
      }

      this.chartDataList.push(chartFullData);
      this.refreshStoreChartList();
      // 默认选中当前拖拽下来的图表
      this.selectChart(chartFullData, timestamp);
      // 记录快照
      this.$parent.recordSnapshot();
      return chartFullData;
    },

    /**
     * 删除图表
     *
     * @param skipModal
     */
    removeChartItem(chartItem, skipModal) {
      const self = this;
      if (skipModal) {
        this.deleteChart(chartItem);
      } else {
        this.$Modal.confirm({
          title: "确定要删除当前选中的图表吗",
          content: "",
          onOk: () => {
            self.deleteChart(chartItem);
          }
        });
      }
    },

    deleteChart(chartItem) {
      let id = chartItem.id;
      let relativeComponentList = [];
      if (id === "DimensionFilter" || id === "IndicatorFilter") {
        relativeComponentList = chartItem.data.configData.relativeComponentList;
      } else if (id === "MixFilter") {
        let relativeFilterList = chartItem.data.configData.relativeFilterList;
        this.chartDataList.forEach(item => {
          if (item.id === "DimensionFilter" || item.id === "IndicatorFilter") {
            if (relativeFilterList.includes(item.chartId)) {
              relativeComponentList = relativeComponentList.concat(item.data.configData.relativeComponentList);
            }
          }
        });
        relativeComponentList = [...new Set(relativeComponentList)];
        for (let i = 0; i < relativeFilterList.length; i++) {
          let deleteFilterIndex = this.chartDataList.findIndex(item => item.chartId === relativeFilterList[i]);
          this.chartDataList.splice(deleteFilterIndex, 1);
        }
      } else if (this.$parent.chartLink) {
        this.$parent.clearChartLink();
      }

      let deleteChartIndex = this.chartDataList.findIndex(i => i.chartId === chartItem.chartId);
      this.chartDataList.splice(deleteChartIndex, 1);
      this.$parent.resetCurrentSelectChart();
      this.$parent.refreshStoreChartList();
      this.$refs.charts.forEach(item => {
        let chart = item.$refs.chart;
        if (relativeComponentList.includes(chart.chartId) && chart.refreshData) {
          chart.refreshData();
        }
      });
      this.$parent.recordSnapshot();
    },

    onChartItemDragStop(x, y, width, height) {
      this.resizeCanvasContainer(x, y, width, height);
    },

    resizeCanvasContainer(x, y, width, height) {
      let container = document.getElementById("canvasContainer");
      let reportPageMeasureArr = this.reportPageMeasure.split(",");
      let pageType = "1";
      if (reportPageMeasureArr.length > 2) {
        pageType = reportPageMeasureArr[0];
        // 如果图表底部距离画布底部小于100，扩容画布 并且页面尺寸为标准或移动端，才允许高度自动扩展
        if (container.offsetHeight - y - height <= 0 && (pageType === "1" || pageType === "2")) {
          if (reportPageMeasureArr.length > 2) {
            reportPageMeasureArr[2] = Number(reportPageMeasureArr[2]) + extraHeight;
          }
        }
        // 如果图表右部距离画布右部小于100，扩容画布 并且页面尺寸为标准，才允许高度自动扩展
        if (container.offsetWidth - x - width <= 0 && pageType === "1") {
          if (reportPageMeasureArr.length > 2) {
            reportPageMeasureArr[1] = Number(reportPageMeasureArr[1]) + extraHeight;
          }
        }
        let reportSetting = this.$store.state.chart.reportSetting;
        reportSetting.pageMeasure = reportPageMeasureArr.join(",");
        this.setReportSetting({ reportSetting });
        this.$parent.recordSnapshot();
      }
    },

    /**
     * 选中图表
     * @param chart
     * @param timestamp
     */
    selectChart(chart, timestamp) {
      this.$emit("onChartSelect", chart);
    },

    // 辅助线回调事件
    getRefLineParams(params) {
      const { vLine, hLine } = params;
      this.vLine = vLine;
      this.hLine = hLine;
    },

    /**
     * 容器组件将其子图表拖出后在此创建画布图表
     * @param chart
     */
    addChartToListFromTab(chart) {
      chart.defaultShow = false;
      this.chartDataList.push(chart);
      this.selectChart(chart, null);
      this.refreshStoreChartList();
    },

    refreshStoreChartList() {
      const chartList = this.chartDataList;
      this.setChartList({ chartList });
    },

    /**
     * 更新图表的层级为顶层或者底层
     * @param currentSelectChart  当前选中的图表
     * @param type  top、bottom
     */
    updateChartItemLevel(currentSelectChart, type) {
      let otherChartList = this.chartDataList.filter(item => item.id !== 'FaTab')
      let currentChart = otherChartList.find(item => item.chartId === currentSelectChart.chartId)
      let step = type === 'top' ? 1 : -1
      let reference = null // 参照level
      if (currentChart) { // 如果该图表在外层画布
        let levels = otherChartList.map(item => item.level)
        reference = type === 'top' ? Math.max(...levels) : Math.min(...levels) // 参照level
        if (currentChart.level !== reference) {
          currentChart.level = reference + step
          this.setCurrentSelectChart({ chart: deepCopy(currentChart) })
        }
      } else { // 如果该图表在FaTab组件内
        let faTabList = this.chartDataList.filter(item => item.id === 'FaTab')
        for (let faTab of faTabList) {
          for (let tabPane of faTab.childrenChartViewList) {
            let tabPaneChart = tabPane.paneData.find(item => item.chartId === currentSelectChart.chartId)
            if (tabPaneChart) {
              currentChart = tabPaneChart
            }
            let levels = tabPane.paneData.map(item => item.level)
            let tabPaneChartReference = type === 'top' ? Math.max(...levels) : Math.min(...levels)
            if (!reference) { // 如果参照level不存在
              reference = tabPaneChartReference
            } else { // 如果参照level不是最大或者最小
              if ((type === 'top' && reference < tabPaneChartReference) || (type === 'bottom' && reference > tabPaneChartReference)) {
                reference = tabPaneChartReference
              }
            }
          }
        }
        if (!currentChart) return // 如果整个chartDataList中都找不到currentSelectChart对应的图表，return
        if ((type === 'top' && currentChart.level <= reference) || (type === 'bottom' && currentChart.level >= reference)) {
          currentChart.level = reference + step
          this.setCurrentSelectChart({ chart: deepCopy(currentChart) })
        }
      }
    },

    /**
     * 重新计算尺寸
     */
    canvasResize() {
      this.$nextTick(() => {
        window.dispatchEvent(new Event("resize"));
      });
    }
  },
  provide() {
    return {
      sonaddChartToListFromTab: this.addChartToListFromTab,
      sonremoveChartItem: this.removeChartItem,
      deleteChart: this.deleteChart
    };
  },
  watch: {
    // 根据框选的图表，添加组合边线
    selectedChart: {
      handler(newVal) {
        if(newVal.length !== 0) {
          const sl = this.getSelectLineData(newVal)
          this.setSelectLine({ ...sl, show: !this.isCombineResourceEditPage })
        } else {
          const sl = {
            show: false,
            width: "",
            height: "",
            top: "",
            left: "",
          }
          this.setSelectLine(sl)
        }
      },
      deep: true
    }
  }
};
</script>

<style lang="less" scoped>
.report-chart-edit-layout {
  width: 100%;
  min-height: 100%;
  position: relative;
}
</style>
