<template>
  <vue-draggable-resizable
    ref="vueDraggableResizable"
    :w="chartWidth"
    :h="chartHeight"
    :x="chartData.x"
    :y="chartData.y"
    :min-width="10"
    :min-height="10"
    :class-name-active="editable ? 'activatedClass' : null"
    :onResize="onResizeCallback"
    @dragging="onDragging"
    @resizing="onResize"
    @dragstop="onDragStop"
    @resizestop="onResizeStop"
    @deactivated="onDeactivated(chartData)"
    @click.native="resetSelectChart(chartData, undefined, $event)"
    @mouseup.native="onMouseup"
    :draggable="editable"
    :resizable="editable"
    :active="
      currentSelectChart && currentSelectChart.chartId === chartData.chartId
    "
    :snap="true"
    :snap-tolerance="20"
    :parent="true"
    :prevent-deactivation="chartDeactivation"
    :z="chartData.level"
    class="reportComponent"
    :style="{
      background: chartData.style.transparent
        ? 'transparent'
        : chartData.defaultShow && chartData.id !== 'FaTab'
        ? defaultShowComponentBackground
        : componentBackground,
    }"
    style="text-align: left; min-height: 10px"
    :class="{
      'move-chart': changing,
      mouseEvent: mouseEvent,
      saveBoxShadow: saveBoxShadow,
      backTransfer: chartData.id === 'CustomImage',
    }"
    @refLineParams="getParentRefLineParams"
    @mousedown.native="
      (e) => {
        e.stopPropagation();
      }
    "
  >
    <!-- z: cascaderVisible? 99999: chartData.level  鼠标划入的时候 将层级设置为最高    -->
    <div
      :id="'chartContainer' + chartData.chartId"
      :class="
        isTextAreaChart ? 'drawing-area-wrap-textarea' : 'drawing-area-wrap'
      "
      @mouseleave="(e) => handleHideMenu(e, chartData)"
      @mouseover="handleShowMenu"
      @keydown="onChartKeyDown"
    >
      <img
        v-if="chartData.id === 'DimensionFilter'"
        src="@/assets/icons/chart/chart_type/dimensionFilter_black.svg"
        class="componentImg"
      />
      <img
        v-else-if="chartData.id === 'IndicatorFilter'"
        src="@/assets/icons/chart/chart_type/indicatorFilter_black.svg"
        class="componentImg"
      />
      <img
        v-else-if="chartData.id === 'GlobalVarFilter'"
        src="@/assets/icons/chart/chart_type/dimensionFilter_black.svg"
        class="componentImg"
      />
      <div
        :id="'chart_title_' + chartData.chartId"
        :class="['common-title-wrap', 'child-horizon-center', chartData.id]"
        v-if="!isTextAreaChart"
        :style="{
          width: isFilterChart ? 'calc(100% - 26px)' : '100%',
          marginLeft: isFilterChart? '26px' : '',
        }"
      >
        <!--公共标题设置-->
        <chart-title :titleValue="chartData.style" :isFilterChart="isFilterChart" :chart-data="chartData" />
      </div>

      <div
        class="common-setting-wrap"
        :style="{ position: 'absolute', top: 0, right: 0, zIndex: 99999991 }"
      >
        <div class="date-picker-wrap" v-if="chartDataConfig.displayPrivateDate">
          <div
            v-show="
              ((chartDataConfig.displayPrivateDate && chartDataData.endDate) ||
                (isPreView && chartDataData.endDate)) &&
              !menuShow
            "
          >
            <span>{{ privateDateRange }}</span>
          </div>
        </div>
        <!-- 操作按钮 -->
        <div
          class="iconContent"
          v-if="menuShow && editable"
          @mouseenter="handleShowCascader"
          @mouseleave="handleCloseCascader"
        >
          <Poptip trigger="hover" class="hoverIndex" placement="bottom">
            <Icon
              type="ios-more"
              size="20"
              style="cursor: pointer; margin: 2px"
            />
            <ul class="cascader-menu" slot="content" v-show="cascaderVisible">
              <li
                class="cascader-menu-item"
                v-if="
                  isSupportChartChange &&
                  canDoChartChange &&
                  menuShow &&
                  editable
                "
                @mouseenter="handleShowItem"
                @mouseleave="handleCloseItem"
              >
                <img
                  class="img"
                  src="@/assets/images/report/chartSwitchBtn.svg"
                />
                <img
                  class="imgSelected"
                  src="@/assets/images/report/chartSwitchBtnSelected.svg"
                />
                <span class="title">图表切换</span>
                <transition name="fade">
                  <div class="content">
                    <ul class="contentList">
                      <li v-for="item in switchableChartTypes" :key="item.id">
                        <div @click="changeChartType($event, item.id)">
                          <img
                            :src="item.icon"
                            height="16"
                            width="16"
                            :title="item.title"
                          />
                          <span>{{ item.title }}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </transition>
              </li>
              <li
                class="cascader-menu-item"
                v-if="
                  canShowThresholdSetting(chartData) && menuShow && editable
                "
                @mouseenter="handleShowItem"
                @mouseleave="handleCloseItem"
              >
                <img
                  class="img"
                  src="@/assets/images/report/thresholdSettingBtn.svg"
                />
                <img
                  class="imgSelected"
                  src="@/assets/images/report/thresholdSettingBtnSelected.svg"
                />
                <span class="title">阈值设置</span>
                <transition name="fade">
                  <div class="content" style="cursor: default">
                    <div class="contentTitle">
                      <span>阈值</span>
                    </div>
                    <div>
                      <div
                        v-for="item in chartDataData.indicator"
                        class="indicatorItemBox"
                      >
                        <Checkbox
                          v-model="item.useThreshold"
                          :disabled="!item.thresholds.length"
                        />
                        <span>{{ item.title }}</span>
                      </div>
                    </div>
                  </div>
                </transition>
              </li>
              <li
                class="cascader-menu-item"
                @mouseenter="handleShowItem"
                @mouseleave="handleCloseItem"
              >
                <img class="img" src="@/assets/images/report/levelBtn.svg" />
                <img
                  class="imgSelected"
                  src="@/assets/images/report/levelBtnSelected.svg"
                />
                <span class="title">图表顺序</span>
                <transition name="fade">
                  <div class="content">
                    <ul class="contentList">
                      <li @click.stop="toTopLevel">
                        <div>
                          <img src="@/assets/images/report/topLevel.svg" />
                          <span>置于顶层</span>
                        </div>
                      </li>
                      <li @click.stop="toBottomLevel">
                        <div>
                          <img src="@/assets/images/report/bottomLevel.svg" />
                          <span>置于底层</span>
                        </div>
                      </li>
                      <li @click.stop="toMoveUpOneLevel">
                        <div>
                          <img
                            src="@/assets/images/report/moveUpOneLevel.svg"
                          />
                          <span>上移一层</span>
                        </div>
                      </li>
                      <li @click.stop="toMoveDownOneLevel">
                        <div>
                          <img
                            src="@/assets/images/report/moveDownOneLevel.svg"
                          />
                          <span>下移一层</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </transition>
              </li>
              <li
                class="cascader-menu-item"
                @mouseleave="handleCloseItem"
                @click="handleCopyTargetChart"
              >
                <img
                  class="img"
                  src="@/assets/images/report/componentCopy.svg"
                />
                <img
                  class="imgSelected"
                  src="@/assets/images/report/componentCopySelected.svg"
                />
                <span class="title">图表复制</span>
                <transition name="fade">
                  <div class="content"></div>
                </transition>
              </li>
              <li
                class="cascader-menu-item"
                v-if="isCanChartJump"
                @mouseleave="handleCloseItem"
                @click="handleClickShowJumpOption"
              >
                <img class="img" src="@/assets/images/report/settingJump.svg" />
                <img
                  class="imgSelected"
                  src="@/assets/images/report/settingJumpSelected.svg"
                />
                <span class="title">图表跳转</span>
                <transition name="fade">
                  <div class="content"></div>
                </transition>
              </li>
              <li
                class="cascader-menu-item"
                v-if="
                  SUPPORT_JUMP_CHART.includes(chartData.id) &&
                  chartDataData.indicator.length &&
                  chartDataData.dimension.length &&
                  getJumpOption.openJump
                "
                @mouseenter="handleShowItem"
                @mouseleave="handleCloseItem"
              >
                <img class="img" src="@/assets/images/report/settingJump.svg" />
                <img
                  class="imgSelected"
                  src="@/assets/images/report/settingJumpSelected.svg"
                />
                <span class="title">跳转设置</span>
                <transition name="fade">
                  <div class="content">
                    <ul class="contentList">
                      <li @click="handleClickShowJumpOption">
                        <div>
                          <img src="@/assets/images/report/editJump.svg" />
                          <span>编辑跳转</span>
                        </div>
                      </li>
                      <li @click="handleCloseJump">
                        <div>
                          <img src="@/assets/images/report/closeJump.svg" />
                          <span>关闭跳转</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </transition>
              </li>
              <li
                class="cascader-menu-item"
                v-if="canShowLineBarSetting(chartData) && menuShow"
                @mouseenter="handleShowItem"
                @mouseleave="handleCloseItem"
              >
                <img
                  class="img"
                  src="@/assets/images/report/barLineSwitchBtn.svg"
                />
                <img
                  class="imgSelected"
                  src="@/assets/images/report/barLineSwitchBtnSelected.svg"
                />
                <span class="title">柱形/折线</span>
                <transition name="fade">
                  <div class="content" style="cursor: default">
                    <div class="contentTitle">
                      <span>柱形/折线</span>
                    </div>
                    <div>
                      <div
                        v-for="item in chartDataData.indicator"
                        class="lineBarSwitchItemBox"
                      >
                        <span
                          class="title"
                          :title="item.title.length > 10 ? item.title : ''"
                          style="margin-right: 2px"
                        >{{ item.title }}</span
                        >
                        <div
                          class="lineBarSwitchBox"
                          v-if="item.lineBarType === true"
                        >
                          <div>
                            <img src="@/assets/images/report/barSelected.svg" />
                          </div>
                          <div
                            style="cursor: pointer"
                            @click="lineBarSwitch(item, false)"
                          >
                            <img
                              src="@/assets/images/report/lineUnSelected.svg"
                            />
                          </div>
                        </div>
                        <div class="lineBarSwitchBox" v-else>
                          <div
                            style="cursor: pointer"
                            @click="lineBarSwitch(item, true)"
                          >
                            <img
                              src="@/assets/images/report/barUnSelected.svg"
                            />
                          </div>
                          <div>
                            <img
                              src="@/assets/images/report/lineSelected.svg"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </transition>
              </li>
              <li
                class="cascader-menu-item"
                v-if="canShowTransposeSetting(chartData) && menuShow"
                @mouseenter="handleShowItem"
                @mouseleave="handleCloseItem"
                @click="handleTransposeChart"
              >
                <img
                  class="img"
                  src="@/assets/images/report/transposeBtn.svg"
                />
                <img
                  class="imgSelected"
                  src="@/assets/images/report/transposeBtnSelected.svg"
                />
                <span class="title">行列转置</span>
                <transition name="fade">
                  <div class="content"></div>
                </transition>
              </li>
              <li
                class="cascader-menu-item saveResource"
                @click="showSaveResourceModal"
                v-if="!isCombineResourceEditPage && showSaveResource(chartData)"
              >
                <img
                  class="img"
                  src="@/assets/icons/resourceManage/saveResource.svg"
                />
                <img
                  class="imgSelected"
                  src="@/assets/icons/resourceManage/saveResourceSelect.svg"
                />
                <span class="title">保存资源</span>
              </li>
            </ul>
          </Poptip>
        </div>
        <div
          class="iconContent"
          v-show="showRemoveIcon && editable && menuShow"
          @click="removeChart($event, chartData)"
        >
          <Icon
            type="md-close"
            size="20"
            style="cursor: pointer; margin: 2px"
            title="移除"
          />
        </div>
      </div>

      <div
        :class="[chartData.id, isTextAreaChart? 'chart-view-container-textarea' : 'chart-view-container']"
        :style="{ height: chartTitleAndDateHeight ? `calc(100% - ${chartTitleAndDateHeight}px)` : '100%' }"
        @mouseup="onMouseupFuu">
        <div
          :class="
            chartDataConfig.isOpenPrivateDate
              ? 'chart-area-wrap'
              : isTextAreaChart
              ? 'chart-area-wrap-full-textarea'
              : 'chart-area-wrap-full'
          "
        >
          <keep-alive>
            <component
              ref="chart"
              :is="chartData.id"
              mode="out-in"
              :chartId="chartData.chartId"
              :isActive="isActive"
              :chartData="chartData"
              :chartBoundingClientRect="chartBoundingClientRect"
              :editable="editable"
              :propertyData="chartData.data"
              :propertyStyle="chartData.style"
              :startDate="chartData.startDate"
              :endDate="chartData.endDate"
              :imgHeight="imgHeight"
              :chartSwitchType="switchChartType"
              :scaleRatio="scaleRatio"
              :defaultShow="chartData.defaultShow"
              @changeDefaultShow="changeDefaultShow"
              @sendTableSize="getTableSize"
              @addChartFromTab="sendChartToTemplate"
            />
          </keep-alive>
        </div>
      </div>
    </div>

    <div
      v-if="defaultValueSettingBox"
      class="filterBox"
      :class="[
        { dimensionFilterBox: currentSelectChart.id === 'DimensionFilter' },
        { indicatorFilterBox: currentSelectChart.id === 'IndicatorFilter' },
      ]"
      @click="
        (e) => {
          e.stopPropagation();
        }
      "
    >
      <div class="body">
        <dimension-filter-setting
          v-if="currentSelectChart.id === 'DimensionFilter'"
          :DimensionConditionValue="DimensionConditionValue"
          @resetDefaultValueSettingBox="resetDefaultValueSettingBox"
          @confirmDefaultValue="confirmDefaultValue"
        >
        </dimension-filter-setting>
        <indicator-filter-setting
          v-if="currentSelectChart.id === 'IndicatorFilter'"
          :conditionValue="IndicatorConditionValue"
          @resetDefaultValueSettingBox="resetDefaultValueSettingBox"
          @confirmDefaultValue="confirmDefaultValue"
        >
        </indicator-filter-setting>
      </div>
    </div>

    <Modal
      v-model="showJumpModal"
      title="跳转设置"
      class="jumpModal"
      width="379"
      @on-cancel="handleCancelJumpOption"
    >
      <Tabs
        v-model="getJumpOption && getJumpOption.optionType"
        @on-click="clickJumpTab"
      >
        <TabPane label="报告" name="report">
          <div style="height: 180px">
            <div
              style="height: 134px; border: 1px solid #e4e4e4; padding: 10px"
            >
              <Input
                prefix="ios-search"
                @on-change="handleSearchReport"
                placeholder="搜索"
                clearable
                v-model="jumpKeyWord"
              />
              <div
                style="
                  width: 100%;
                  height: calc(100% - 28px);
                  padding-top: 10px;
                "
              >
                <div style="height: 100%; width: 100%; overflow-x: auto">
                  <div v-if="reportList.length === 0">暂无数据</div>
                  <RadioGroup
                    v-else
                    v-model="getJumpOption && getJumpOption.reportId"
                  >
                    <Radio
                      v-for="item in reportList"
                      style="width: 90%; margin-bottom: 10px"
                      :label="item.id"
                      :key="item.id"
                    >
                      <span style="margin-left: 8px">{{
                          item.oneContent
                        }}</span>
                    </Radio>
                  </RadioGroup>
                </div>
              </div>
            </div>
            <div style="margin-top: 15px">
              <Checkbox
                :disabled="INDICATOR_CHART.includes(chartData.id)"
                v-model="getJumpOption && getJumpOption.openDimensionParam"
              >
                是否带入维度参数
              </Checkbox>
            </div>
          </div>
        </TabPane>
        <TabPane label="链接" name="url">
          <div style="height: 160px">
            <Input
              placeholder="请输入URL"
              v-model="getJumpOption && getJumpOption.reportUrl"
              clearable
            />
          </div>
        </TabPane>
      </Tabs>
      <div slot="footer">
        <Button class="jumpModalBtn" @click="handleCancelJumpOption"
        >取消</Button
        >
        <Button
          class="jumpModalBtn"
          type="primary"
          @click="handleSubmitJumpOption"
        >确定</Button
        >
      </div>
    </Modal>

    <!-- 保存资源弹窗 -->
    <SaveResourceModal
      v-show="saveResourceModalStatus.type === '3'"
      @onConfirm="handleSaveResource"
    />
  </vue-draggable-resizable>
</template>

<script>
import SimpleBar from "@/view/report/chart/Bar";
import SimplePie from "@/view/report/chart/Pie";
import SimpleLine from "@/view/report/chart/Line"; // 折线图
import SimpleIframe from "@/view/report/chart/Iframe";
import MixLineBar from "@/view/report/chart/LineBar";
import SimpleGauge from "@/view/report/chart/Gauge";
import Indicator from "@/view/report/chart/Indicator/index";
import ComplexTextarea from "@/view/report/chart/textarea/ComplexTextarea";
import DoublePie from "@/view/report/chart/DoublePie";
import SimpleMap from "@/view/report/chart/Map";
import SimpleBubble from "@/view/report/chart/Bubble";
import SimpleScatter from "@/view/report/chart/Scatter";
import IndexBoard from "@/view/report/chart/IndexBoard";
import MultiplePie from "@/view/report/chart/MultiplePie";
import CustomTable from "@/view/report/chart/customTableTest";
import GroupTable from "@/view/report/chart/GroupTable/index.vue";
import FaTab from "@/view/report/chart/FaTab";
import DimensionFilter from "@/view/report/chart/DimensionFilter";
import IndicatorFilter from "@/view/report/chart/IndicatorFilter";
import MixFilter from "@/view/report/chart/MixFilter";
import GlobalVarFilter from "@/view/report/chart/GlobalVarFilter";
import CustomImage from "@/view/report/chart/CustomImage";
import BasicRadar from "@/view/report/chart/Radar.vue";
import moment from "moment";
import ChartTitle from "@/components/charts/title.vue";
import DimensionFilterSetting from "@/view/components/report-filter/DimensionFilterSetting.vue";
import IndicatorFilterSetting from "@/view/components/report-filter/IndicatorFilterSetting.vue";
import SaveResourceModal from "./components/SaveResourceModal";
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";
import _ from "lodash";
import { YEAR_HOLIDAYS } from "@/config/YearHolidays";
import {
  CHART_DEFAULT_CONFIG,
  CANVAS_COLOR_CONFIG,
  CHART_TYPE_LIST,
} from "@/config/ReportConstants";
import { deepCopy } from "@/utils/common";
import handleSeries from "./mixin/handleSeriesMixin";
import { NO_RESOURCE_CHART_LIST } from "@/config/resourceManage";
import { judgeIsInvalidResource } from "@/utils/resourceManage";
// 定制化组件
import TextDemo from "@/components/customCharts/TextDemo";
import BarDemo from "@/components/customCharts/BarDemo";
// import vueDraggableResizable from '@/components/vue-draggable-resizable/vue-draggable-resizable'

const SUPPORT_JUMP_CHART = [
  "SimpleBar",
  "SimplePie",
  "SimpleLine",
  "MixLineBar",
  "CustomTable",
  "Indicator",
  "DoublePie",
  "IndexBoard",
  "SimpleGauge",
  "BasicRadar",
];
const INDICATOR_CHART = ["SimpleGauge", "Indicator"];
/**
 * 创建报告下的图表组件，支持拖拽位置，拉伸组件宽高，使用vue-draggable-resizable-gorkys插件
 * 来实现。该插件自带上述功能，以及辅助线、吸附等功能
 */
export default {
  name: "ChartEditWrapper",
  mixins: [handleSeries],
  components: {
    SimpleBar,
    SimplePie,
    SimpleLine, // 折线图
    SimpleIframe,
    MixLineBar,
    SimpleGauge,
    Indicator,
    ComplexTextarea,
    DoublePie,
    CustomTable,
    GroupTable,
    ChartTitle,
    DimensionFilterSetting,
    IndicatorFilterSetting,
    SimpleMap,
    SimpleBubble,
    SimpleScatter,
    IndexBoard,
    MultiplePie,
    FaTab,
    DimensionFilter,
    IndicatorFilter,
    MixFilter,
    CustomImage,
    BasicRadar,
    SaveResourceModal,
    TextDemo,
    BarDemo,
    // vueDraggableResizable,
    GlobalVarFilter,
  },
  inject: [
    "recordSnapshot",
    "setActiveChart",
    "buildChartData",
    "sonaddChartToListFromTab",
    "sonremoveChartItem",
    "resetCurrentSelectChart",
    "reportWidth",
  ],
  props: {
    activeChart: {
      type: Object,
      default: null,
    },
    chartDataList: {
      type: Array,
      default: () => [],
    },
    chartData: {
      type: Object,
      default: null,
    },
    editable: {
      type: Boolean,
      default: true,
    },
    isPreView: {
      type: Boolean,
      default: false,
    },
    _chartId: {
      type: String,
    },
    getRefLineParams: {
      type: Function,
      default: null,
    },
    scaleRatio: {
      type: Number,
      default: 1,
    },
    displayPrivateDate: {
      type: Boolean,
      default: false,
    },
    showRemoveIcon: {
      type: Boolean,
      default: true,
    },
    saveBtnClick: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState("resourceManage", [
      "isCombineResourceEditPage",
      "saveResourceModalStatus",
      "selectedChart",
      "saveResourceChartData",
    ]),
    ...mapGetters(["currentSelectChart", "currentChartId", "allDimensions"]),
    privateDateRange() {
      if (this.chartDataData.startDate === this.chartDataData.endDate) {
        return this.chartDataData.startDate;
      }
      return this.chartDataData.startDate + "~" + this.chartDataData.endDate;
    },
    isSupportChartChange: function () {
      const supportChangeChartTypes =
        this.chartData.data.configData.supportChangeChartTypes;
      return supportChangeChartTypes && supportChangeChartTypes.length;
    },
    isSupportActiveLink() {
      return this.chartData.data.configData.isSupportActiveLink;
    },
    canDoChartChange: function () {
      // 联动的时候，被联动组件支持组件切换；主联动暂不支持
      const configData = this.chartData.data.configData;
      const { linkOption } = configData;
      return (
        !this.chartData.defaultShow &&
        !(
          linkOption &&
          linkOption.chartLinkIsOpen &&
          linkOption.isMainLink &&
          linkOption.chartClickItemIndex !== -1
        )
      );
    },
    mouseEvent: function () {
      return this.editable && !this.isActive ? true : false;
    },
    saveBoxShadow() {
      return (
        this.saveBtnClick &&
        (this.chartData.defaultShow ||
          this.$store.state.chart.chartList
            .filter((item) => item.parentId === this.chartData.chartId)
            .some((item) => item.defaultShow))
      );
    },
    getJumpOption() {
      return (
        (this.chartData && this.chartData.data.configData.jumpOption) || {}
      );
    },

    chartDatePickerHeight: function () {
      return this.showDate || this.chartData.data.endDate ? 26 : 0;
    },
    chartTitleAndDateHeight: function () {
      return this.chartTitleHeight + this.chartDatePickerHeight;
    },
    chartDeactivation: function () {
      return this.$store.state.chart && this.$store.state.chart.deactivation;
    },
    chartWidth: function () {
      return Number(this.chartData.width) + Number(this.childSize.width);
    },
    chartHeight: function () {
      return Number(this.chartData.height) + Number(this.childSize.height);
    },
    chartDataData: function () {
      return this.chartData.data || {};
    },
    chartDataConfig: function () {
      return this.chartDataData.configData || {};
    },
    reportThemeStyle: function () {
      return (
        (this.$store.state.chart.reportSetting &&
          this.$store.state.chart.reportSetting.themeStyle) ||
        "1"
      );
    },
    currentReportTheme() {
      return this.reportThemeStyle === "2" ? "black" : "default";
    },
    componentBackground: function () {
      return CANVAS_COLOR_CONFIG[this.currentReportTheme].componentBackground;
    },
    defaultShowComponentBackground: function () {
      return CANVAS_COLOR_CONFIG[this.currentReportTheme]
        .defaultShowComponentBackground;
    },
    defaultValueSettingBox() {
      return (
        this.defaultValueSettingShow &&
        (this.currentSelectChart.id === "DimensionFilter" ||
          this.currentSelectChart.id === "IndicatorFilter") &&
        (this.currentSelectChart.chartId === this.chartData.chartId ||
          this.currentSelectChart.parentId === this.chartData.chartId)
      );
    },
    isTextAreaChart() {
      return this.chartData.id === "ComplexTextarea";
    },
    showSaveResource() {
      return (chartData) => judgeIsInvalidResource(chartData);
    },
    isCanChartJump() {
      return (
        !this.isCombineResourceEditPage &&
        SUPPORT_JUMP_CHART.includes(this.chartData.id) &&
        this.chartDataData.indicator.length &&
        this.chartDataData.dimension.length &&
        !this.getJumpOption.openJump
      );
    },
    // 可切换的图表类型列表
    switchableChartTypes() {
      // 维度和指标数量
      const dimensionNum = this.chartData.data.dimension.length;
      const indicatorNum = this.chartData.data.indicator.length;
      const currentChartType = this.chartData.id;

      let switchableChartNames = [];

      /* 维度有单维度和多维度两种、指标有单指标、两个指标、三个指标、多指标四种 */
      // 多维度+多指标
      if (dimensionNum && indicatorNum) {
        switchableChartNames.push("CustomTable");
      }

      // 单维度+多指标
      if (dimensionNum === 1 && indicatorNum) {
        switchableChartNames.push(
          "SimpleLine",
          "SimpleBar",
          "MixLineBar",
          "IndexBoard",
          "BasicRadar"
        );
      }

      // 多维度+单指标
      if (dimensionNum && indicatorNum === 1) {
        switchableChartNames.push("DoublePie");
      }

      // 单维度+两个指标
      if (dimensionNum === 1 && indicatorNum === 2) {
        switchableChartNames.push("SimpleScatter");
      }

      // 单维度+三个指标
      if (dimensionNum === 1 && indicatorNum === 3) {
        switchableChartNames.push(
          "SimpleBar",
          "SimpleLine",
          "MixLineBar",
          "SimpleBubble"
        );
      }

      // 单维度+单指标
      if (dimensionNum === 1 && indicatorNum === 1) {
        switchableChartNames.push("SimplePie", "SimpleMap");
      }

      // 仅有指标
      if (!dimensionNum && indicatorNum === 1) {
        switchableChartNames.push("Indicator", "SimpleGauge");
      }

      return CHART_TYPE_LIST.filter(
        (item) =>
          switchableChartNames.includes(item.id) && item.id !== currentChartType
      );
    },
    isFilterChart() {
      return ['DimensionFilter', 'IndicatorFilter', 'GlobalVarFilter'].includes(this.chartData.id)
    }
  },
  data() {
    return {
      changing: false,
      // 报告查看及编辑初始默认没有图表选中；拖拽创建默认选中
      isActive: this.$route.query.openType ? false : true, // 属性面板是否激活显示内容
      comparePreDate: null,
      boo: false,
      boo2: false,
      boo3: true,
      showDate: false,
      menuShow: false, // 鼠标移入显示操作按钮
      isPlusHeight: false,
      imgHeight: null,
      dateChangeBoo: false,
      chartBoundingClientRect: {},
      dateChange: {
        endDate: "",
      },
      switchChartType: null,
      chartTitleHeight: 0,
      datePickerOptions: {
        disabledDate: (date) => {
          //这里写上自己的逻辑，返回true，表示当前日期需要设置为不可选
          let disabled = true;
          // 节假日（非交易日）不可选
          const dateStr = moment(date).format("YYYYMMDD");
          if (_.indexOf(YEAR_HOLIDAYS, dateStr) === -1) {
            disabled = false;
          }
          return disabled;
        },
      },
      childSize: { width: 0, height: 0 },
      defaultValueSettingShow: false,
      IndicatorConditionValue: "",
      DimensionConditionValue: [],
      imageScale: null,
      canChangeImage: false,
      cascaderVisible: false,
      showJumpModal: false,
      reportList: [],
      targetReport: "",
      SUPPORT_JUMP_CHART,
      INDICATOR_CHART,
      jumpKeyWord: null,
    };
  },
  watch: {
    "dateChange.endDate": {
      handler(val, oldVal) {
        if (val !== oldVal) {
          this.dateChangeBoo = true;
          this.showDate = true;
        }
        if (val === "") {
          this.dateChangeBoo = false;
          this.showDate = false;
        }
      },
      deep: true,
    },
    dateChangeBoo(val, old) {
      return val;
    },
    "chartData.style": {
      handler(val, oldVal) {
        this.$nextTick(() => {
          // 设置标题高度
          const commonTitleWrapDom = document.getElementById(
            "chart_title_" + this.chartData.chartId
          );
          if (val.title) {
            this.chartTitleHeight =
              (commonTitleWrapDom && commonTitleWrapDom.offsetHeight) || 0;
          } else {
            this.chartTitleHeight = 0;
          }
        });
        this.chartData.height = val.height;
        this.chartData.width = val.width;
      },
      deep: true,
    },
  },
  async mounted() {
    this.reportList = JSON.parse(
      JSON.parse(localStorage.getItem("reportTest"))
    );
    this.reportListCopy = deepCopy(this.reportList);
    this.switchChartType = this.chartData.id;
    this.chartData.hasOwnProperty("dateRangeValue") &&
    this.chartData.endDate !== null
      ? (this.showDate = true)
      : (this.showDate = false);
    this.$nextTick(() => {
      const commonTitleWrapDom = document.getElementById(
        "chart_title_" + this.chartData.chartId
      );
      this.chartTitleHeight =
        (commonTitleWrapDom && commonTitleWrapDom.offsetHeight) || 0;
    });
    this.$bus
      .$off("jump-report", this.onJumpReport)
      .$on("jump-report", this.onJumpReport);
  },
  beforeDestroy() {
    this.chartCopy = {};
    // 注释掉的原因是会导致快捷键只响应一次
    // document.onkeydown = null
  },
  methods: {
    ...mapMutations("resourceManage", [
      "setRefreshResourceTabW",
      "setSaveResourceModalStatus",
      "setSelectedChart",
      "setSaveResourceChartData",
    ]),
    ...mapActions("resourceManage", [
      "saveCommonResource",
      "fetchAllResourceList",
    ]),
    ...mapActions([
      "setCurrentSelectChart",
      "setChartList",
      "setActionsCopyChart",
    ]),
    handleSettingChecked() {
      this.setChartDeactivation(true);
    },
    onJumpReport({ chartId, position, jumpFilterParam, jumpConditionValue }) {
      if (chartId === this.chartData.chartId) {
        return this.getJumpParam(position, jumpFilterParam, jumpConditionValue);
      } else {
        return null;
      }
    },
    cancelEditTextarea(e, chart) {
      e.stopPropagation();
      this.setCurrentSelectChart({});
      this.$refs.chart.setCanEdit(false);
      chart.data = this.chartCopy.data;
      chart.style = this.chartCopy.style;
      chart.isActive = this.chartCopy.isActive;
      this.chartCopy = {};
      this.$refs.chart.recoverCopy(chart);
      this.setActiveChart(null);
      chart.inEditStatues = false;
    },
    editTextarea(e, chart) {
      e.stopPropagation();
      e.preventDefault();
      this.chartCopy = deepCopy(chart);
      this.$set(chart, "inEditStatues", true);
      this.$refs.chart.setCanEdit(true);
      this.$refs.chart.setCopy(this.chartCopy);
      this.setActiveChart(chart);
      this.$nextTick(() => {
        this.setCurrentSelectChart({ chart });
      });
    },
    confirmEditTextarea(e, chart) {
      e.stopPropagation();
      e.preventDefault();
      this.setActiveChart(null);
      this.$refs.chart.setCanEdit(false);
      this.$refs.chart.setInnerHtmlAmdIndicators();
      const views = this.buildViews(
        [chart],
        chart.chartId.replace("ComplexTextarea_", "")
      );
      //保存修改
      this.$refs.chart.commitData(views[0]);
      chart.inEditStatues = false;
    },
    buildViews(chartList, viewsId) {
      const filterTabsInnerChart = deepCopy(
        chartList.filter(
          (item) => !item.data.configData.hasOwnProperty("parentTabId")
        )
      );
      const views = this.buildChartData(filterTabsInnerChart);
      views[0].id = viewsId;
      return views;
    },
    /**
     * 展示保存资源的弹窗
     */
    showSaveResourceModal() {
      // 默认资源名称
      let dimensionTitle = "";
      let indicatorTitle = "";
      let title = "";
      let { dimension, indicator } = this.chartData.data;
      if (dimension.length) {
        const dimensionData = _.find(
          this.allDimensions,
          (item) => item.id.toString() === dimension[0].toString()
        );
        if (dimensionData) {
          dimensionTitle = `按${dimensionData.name}分析`;
        }
      }
      if (indicator.length) {
        indicatorTitle = indicator[0].title;
        if (indicator.length > 1) {
          indicatorTitle += "...";
        }
      }
      title = `${indicatorTitle}${
        indicatorTitle && dimensionTitle
          ? "(" + dimensionTitle + ")"
          : dimensionTitle
      }`;
      this.setSaveResourceChartData(this.chartData);
      this.setSaveResourceModalStatus({
        show: true,
        type: "3",
        defaultTitle: title,
      }); // 展示弹窗
    },
    /**
     * 保存资源
     */
    async handleSaveResource(value) {
      const msg = await this.saveCommonResource({
        chartData: this.saveResourceChartData,
        value,
        type: "add",
      });
      this.$Message.success(msg);
      this.setSaveResourceModalStatus({ show: false }); // 关闭弹窗
      this.setRefreshResourceTabW(new Date().getTime()); // 刷新资源tab
      this.fetchAllResourceList(); // 刷新vuex中已存在的资源
    },

    /**
     * 表格行列转置
     */
    handleTransposeChart() {
      let configData = this.chartData.data.configData;
      if (configData.hasOwnProperty("transpose") && configData.transpose) {
        this.$set(configData, "transpose", false);
      } else {
        this.$set(configData, "transpose", true);
      }
    },
    /**
     * 图表复制
     */
    handleCopyTargetChart() {
      let timestamp = new Date().getTime();
      let copyChartData = deepCopy(this.chartData);
      let maxLevel = Math.max.apply(
        null,
        this.chartDataList.map((item) => item.level)
      );

      copyChartData.chartId =
        copyChartData.chartId.split("_")[0] + "_" + timestamp;
      copyChartData.x += 45;
      copyChartData.y += 45;
      copyChartData.level =
        maxLevel === copyChartData.level ? maxLevel + 1 : maxLevel;
      let configData = copyChartData.data.configData;

      //接触主动组件的关联
      if (
        configData.hasOwnProperty("conditionValue") &&
        configData.hasOwnProperty("chartLinkIsOpen")
      ) {
        delete configData.conditionValue;
      }
      if (configData.hasOwnProperty("relativeComponentList")) {
        delete configData.relativeComponentList;
      }
      if (configData.hasOwnProperty("filterDimension")) {
        delete configData.filterDimension;
      }
      //解除下钻
      if (configData.hasOwnProperty("drillDownOption")) {
        const drillDownOption = {
          drillDownTagList: [],
          opened: false,
          drillDownStep: 1,
        };
        this.$set(configData, "drillDownOption", drillDownOption);
      }
      //解除跳转
      if (configData.hasOwnProperty("jumpOption")) {
        const jumpOption = {
          openJump: false,
          openDimensionParam: false,
          optionType: "report",
          reportId: "",
          reportUrl: "",
        };
        this.$set(configData, "jumpOption", jumpOption);
      }

      if (copyChartData.id === "FaTab") {
        copyChartData.isCopy = true;
        let children = copyChartData.childrenChartViewList;
        children.forEach((item) => {
          item.paneData.forEach((it) => {
            let childTime = new Date().getTime();
            it.chartId = it.chartId.split("_")[0] + "_" + childTime;
            it.data.configData.parentTabId = copyChartData.chartId;
          });
        });
      } else {
        copyChartData.data.isCopy = true;
      }

      this.sonaddChartToListFromTab(copyChartData);
      this.recordSnapshot();
    },
    /**
     * 开启跳转设置modal
     */
    handleClickShowJumpOption() {
      // 组件维度下钻和组件跳转为互斥关系
      const configData = this.chartData.data.configData;
      const drillDownOpened =
        configData.drillDownOption && configData.drillDownOption.opened;
      if (drillDownOpened) {
        this.$Message.warning("组件已存在维度下钻，无法设置跳转");
        return;
      }
      this.jumpCopy = deepCopy(this.getJumpOption);
      this.getJumpOption.optionType = this.jumpCopy.optionType || "report";
      this.showJumpModal = true;
      this.resetJumpKeyWord();
    },
    resetJumpKeyWord() {
      this.jumpKeyWord = null;
      this.reportList = deepCopy(this.reportListCopy);
    },
    /**
     * **/
    clickJumpTab(name) {
      if (name === "url") {
        this.resetJumpKeyWord();
      }
    },
    /**
     * 跳转report页签报告搜索
     * @param e
     */
    handleSearchReport(e) {
      let val = e.target.value;
      if (val) {
        this.reportList = deepCopy(this.reportListCopy).filter(
          (item) => item.oneContent.indexOf(val) !== -1
        );
      } else {
        this.reportList = deepCopy(this.reportListCopy);
      }
    },
    /**
     * 跳转功能提交并开启
     */
    handleSubmitJumpOption() {
      const { optionType, reportId, reportUrl } = this.getJumpOption;
      if (optionType === "report") {
        if (reportId) {
          this.getJumpOption.reportUrl = null;
          this.$Message.success("跳转设置成功！");
          this.$set(
            this.chartData.data.configData.jumpOption,
            "openJump",
            true
          );
          this.showJumpModal = false;
        } else {
          this.$Message.warning("请选择跳转报告");
        }
      } else {
        if (reportUrl) {
          this.getJumpOption.reportId = null;
          this.$Message.success("跳转设置成功！");
          this.$set(
            this.chartData.data.configData.jumpOption,
            "openJump",
            true
          );
          this.showJumpModal = false;
        } else {
          this.$Message.warning("请输入URL链接");
        }
      }
    },
    handleCloseJump() {
      // 组件跳转关闭
      // 1、openJump开关值置为false
      this.$set(this.chartData.data.configData.jumpOption, "openJump", false);
      // 2、清空跳转链接
      this.$set(this.chartData.data.configData.jumpOption, "reportId", "");
      this.$set(this.chartData.data.configData.jumpOption, "reportUrl", "");
      this.$Message.success("组件跳转关闭成功！");
    },
    /**
     * 跳转modal取消功能
     */
    handleCancelJumpOption() {
      if (this.getJumpOption && this.getJumpOption.openJump) {
        this.$set(this.chartData.data.configData, "jumpOption", this.jumpCopy);
      } else if (this.getJumpOption && !this.getJumpOption.openJump) {
        let obj = {
          openJump: false,
          openDimensionParam: false,
          optionType: "report",
          reportId: "",
          reportUrl: "",
        };
        this.$set(this.chartData.data.configData, "jumpOption", obj);
      }
      this.showJumpModal = false;
    },
    getJumpParam({ left, top }, param, conditionValue) {
      this.selectorPosition = {
        left: left + this.chartData.x,
        top: top + this.chartData.y,
      };
      this.jumpFilterParam = param;
      this.jumpConditionValue = conditionValue;
      this.jumpFunction(
        this.chartData.data.configData,
        this.jumpFilterParam,
        this.jumpConditionValue
      );
    },
    /**
     * 跳转方法
     * @param configData
     * @param filter
     * @param conditionValue
     */
    jumpFunction(configData, filter, conditionValue) {
      if (configData.jumpOption.openJump) {
        const { openDimensionParam, optionType, reportId, reportUrl } =
          configData.jumpOption;
        let url;
        if (optionType === "url") {
          url = reportUrl;
        } else if (optionType === "report") {
          url = `index.html#/template_add?id=${reportId}&openType=view`;
          if (openDimensionParam) {
            url += `&filter=${filter}&value=${conditionValue}`;
          }
        }
        window.open(url);
      }
    },
    dispatchMsg(...params) {
      if (!this.$refs.chart) return;
      //styleSetting 设置点击
      if (params.length <= 0) {
        if (this.$refs.chart.setDefaultShow) {
          this.$refs.chart.setDefaultShow();
          this.$refs.chart.setCanEdit(false);
        }
      } else if (
        params.includes("styleSetting") ||
        params.includes("openFontColorPicker")
      ) {
        if (this.$refs.chart && this.$refs.chart.showSelectRange) {
          this.$refs.chart.showSelectRange();
        }
      }
    },

    sendChartToTemplate(chart) {
      this.$emit("getChartFromTab", chart);
    },
    onChartKeyDown(e) {
      e.stopPropagation();
    },
    onMouseupFuu(e) {
      const { bottom, height, left, right, top, width, x, y } =
        e.currentTarget.getBoundingClientRect();
      this.chartBoundingClientRect = {
        bottom,
        height,
        left,
        right,
        top,
        width,
        x,
        y,
      };
    },

    getTableSize(size) {
      size.width > this.chartData.width
        ? (this.childSize.width = size.width - 330)
        : (this.childSize.width = 0);
      size.height > this.chartData.height
        ? (this.childSize.height = size.height - 180)
        : (this.childSize.height = 0);
    },

    onResizeCallback: function (handle, x, y, width, height) {
      let isCustomImage = this.chartData.id === "CustomImage";
      let cornerHandle =
        handle === "tl" ||
        handle === "tr" ||
        handle === "bl" ||
        handle === "br";
      if (isCustomImage && cornerHandle) {
        // 如果是图片组件 并在四角拖拽 则等比例放大缩小
        let component = this.$refs.vueDraggableResizable;

        if (this.canChangeImage) {
          let widthScale = width / component.width;
          let heightScale = height / component.height;

          let newX = x;
          let newY = y;
          let newWidth = width;
          let newHeight = height;
          // 根据宽高分别改变的比例 以较大的宽高来改变
          if (widthScale > heightScale) {
            newWidth = width;
            newHeight = Math.ceil(width / this.imageScale);
          } else {
            newHeight = height;
            newWidth = Math.ceil(this.imageScale * height);
          }
          // 根据拖拽点的位置 改变x y
          if (handle === "tl") {
            newX = x + width - newWidth;
            newY = y + height - newHeight;
          } else if (handle === "bl") {
            newX = x + width - newWidth;
            newY = component.top;
          } else if (handle === "tr") {
            newX = component.left;
            newY = y + height - newHeight;
          } else if (handle === "br") {
            newX = component.left;
            newY = component.top;
          }
          if (newX < 0 || newY < 0) {
            return false;
          }
          // 计算后的x y坐标 宽高改变图片组件
          component.left = newX;
          component.top = newY;
          component.width = newWidth;
          component.height = newHeight;
        } else {
          // 第一次 记录宽高比
          this.imageScale = component.width / component.height;
          this.canChangeImage = true;
        }
        return false;
      } else {
        return true;
      }
    },
    onResize: function (x, y, width, height) {
      this.changing = true;
    },
    onResizeStop: function (x, y, width, height) {
      this.imageScale = null;
      this.canChangeImage = false;
      this.changing = false;
      this.chartData.x = x;
      this.chartData.y = y;
      this.chartData.width = width;
      this.chartData.height = height;
      this.chartData.style.width = width;
      this.chartData.style.height = height;
      if (this.$refs.chart.resize) {
        this.$refs.chart.resize();
      }
      if (this.chartData.id === "FaTab") {
        window.dispatchEvent(new Event("resize"));
      }
      this.recordSnapshot();
    },

    onDragging: function (x, y) {
      this.changing = true;
      // this.$parent.checkAlign(this.chartData.i, x, y)
    },

    getMOusePos(event) {
      let e = event || window.event;
      return {
        x: e.clientX,
        y: e.clientY,
      };
    },

    onDragStop(x, y, isCombineMove = false) {
      this.chartData.x = x;
      this.chartData.y = y;
      this.changing = false;
      !isCombineMove &&
      this.$emit(
        "onDragStop",
        x,
        y,
        this.chartData.width,
        this.chartData.height
      );

      // 通过外层画布的dragStop事件，判断重合面积，将图表放入faTab组件中
      if (!this.chartData.chartId) return;
      if (this.chartData.id === "FaTab") return; // FaTab组件不能放入FaTab组件中
      // 遍历找到与当前组件重叠的tab组件，放入重叠面积最大的tab组件中
      let faTabList = this.chartDataList.filter((item) => item.id === "FaTab");
      if (faTabList.length) {
        let targetFaTab = null;
        // let { width, height } = this.chartData;
        //鼠标移入Tab组件内再拖拽其他组件才会放入Tab组件
        let bodyLeftWidth =
          document.querySelector(".create-report-body-left").offsetWidth + 36;
        let reportHeaderHeight = document.querySelector(
          ".create-report-header-new"
        ).offsetHeight;
        let bodyCenterTitleHeight = document.querySelector(
          ".create-report-body-center-title"
        ).offsetHeight;
        let mouseX = this.getMOusePos()?.x - bodyLeftWidth;
        let mouseY =
          this.getMOusePos()?.y - reportHeaderHeight - bodyCenterTitleHeight;
        let titleHeight =
          document.querySelector(".common-title-wrap").offsetHeight;
        faTabList.reverse();
        for (let i = 0; i < faTabList.length; i++) {
          let A1 = faTabList[i].x + 16,
            A2 = faTabList[i].x + faTabList[i].width - 16,
            B1 = faTabList[i].y + titleHeight + 16,
            B2 = faTabList[i].y + faTabList[i].height - 16;
          if (faTabList[i].style.labelPosition?.startsWith("left")) {
            let tabListWidth = document.querySelector(
              `.tab-list.${faTabList[i].style.labelPosition}`
            ).offsetWidth;
            A1 = A1 + tabListWidth;
          } else if (faTabList[i].style.labelPosition?.startsWith("right")) {
            let tabListWidth = document.querySelector(
              `.tab-list.${faTabList[i].style.labelPosition}`
            ).offsetWidth;
            A2 = A2 - tabListWidth;
          } else if (faTabList[i].style.labelPosition?.startsWith("top")) {
            let tabListHeight = document.querySelector(
              `.tab-list.${faTabList[i].style.labelPosition}`
            ).offsetHeight;
            B1 = B1 + tabListHeight;
          } else if (faTabList[i].style.labelPosition?.startsWith("bottom")) {
            let tabListHeight = document.querySelector(
              `.tab-list.${faTabList[i].style.labelPosition}`
            ).offsetHeight;
            B2 = B2 - tabListHeight;
          }
          // console.log("A", A1, A2, B1, B2);
          // console.log("mouseX", mouseX, mouseY);
          if (
            mouseX >= A1 &&
            (mouseX < A2 || mouseX == A2) &&
            mouseY >= B1 &&
            (mouseY < B2 || mouseY == B2)
          ) {
            targetFaTab = faTabList[i];
            break;
          }
        }
        if (targetFaTab) {
          // 重叠面积
          // let overlapArr = []
          // let A1 = [x, y], B1 = [x + width, y + height]
          // faTabList.forEach(item => {
          //   let A2 = [item.x, item.y], B2 = [item.x + item.width, item.y + item.height]
          //   let area = this.getArea(A1, B1, A2, B2)
          //   overlapArr.push(area)
          // })
          // let maxOverlap = Math.max(...overlapArr)
          // // 重叠面积为0
          // if (!maxOverlap) return
          // let targetFaTabIndex = overlapArr.findIndex(item => item === maxOverlap)
          // let targetFaTab = faTabList[targetFaTabIndex]
          // 比较当前拖拽的图表，相对于FaTab组件的位置，调整图表放入FaTab组件中的位置（逻辑见需求文档）
          let newX,
            newY,
            offsetX = 0,
            offsetY = 0; // offsetX, offsetY是FaTab组件画布和组件之间的偏移距离
          if (
            targetFaTab.style.labelPosition?.startsWith("left") ||
            targetFaTab.style.labelPosition?.startsWith("right")
          ) {
            let tabListWidth = document.querySelector(
              `.tab-list.${targetFaTab.style.labelPosition}`
            ).offsetWidth;
            offsetX = targetFaTab.style.labelPosition?.startsWith("left")
              ? tabListWidth
              : 0;
            offsetY = titleHeight;
          } else {
            let tabListHeight = document.querySelector(
              `.tab-list.${targetFaTab.style.labelPosition}`
            ).offsetHeight;
            offsetY = targetFaTab.style.labelPosition?.startsWith("top")
              ? titleHeight + tabListHeight
              : titleHeight;
          }
          newX =
            x - targetFaTab.x - offsetX > 0 ? x - targetFaTab.x - offsetX : 0;
          newY =
            y - targetFaTab.y - offsetY > 0 ? y - targetFaTab.y - offsetY : 0;
          this.chartData.x = newX;
          this.chartData.y = newY;
          this.chartData.isActive = false;
          this.$bus.$emit("add-tab-pane-chart", {
            faTabChartId: targetFaTab.chartId,
            chart: this.chartData,
          });
        }
      }
    },

    /**
     * A1，B1为矩形rect1 任意对角线上的两点
     * A2，B2为矩形rect2 任意对角线上的两点
     * 求两个矩形的重叠面积
     * 大值取小，小值取大
     * maxX-minX是width，maxY-minY是height
     */
    getArea(A1, B1, A2, B2) {
      let rectInfo1 = this.getRectInfo(A1, B1);
      let rectInfo2 = this.getRectInfo(A2, B2);
      let maxX = Math.min(rectInfo1.maxX, rectInfo2.maxX);
      let minX = Math.max(rectInfo1.minX, rectInfo2.minX);
      let maxY = Math.min(rectInfo1.maxY, rectInfo2.maxY);
      let minY = Math.max(rectInfo1.minY, rectInfo2.minY);
      if (maxX - minX < 0 || maxY - minY < 0) return 0;
      return (maxX - minX) * (maxY - minY);
    },

    // 获取矩形信息
    getRectInfo(A, B) {
      let rectInfo = {};
      rectInfo.maxX = A[0] > B[0] ? A[0] : B[0];
      rectInfo.minX = A[0] > B[0] ? B[0] : A[0];
      rectInfo.maxY = A[1] > B[1] ? A[1] : B[1];
      rectInfo.minY = A[1] > B[1] ? B[1] : A[1];
      return rectInfo;
    },

    removeChart(e, chartItem, skipModal) {
      this.sonremoveChartItem(chartItem, skipModal);
    },

    handleShowDate() {
      if (!this.showDate) {
        this.chartData.height += 30;
        this.imgHeight = 10;
        this.showDate = true;
      } else {
        this.chartData.height -= 30;
        this.imgHeight = 0;
        this.showDate = false;
      }
    },
    // 临时调整组件层级至顶层
    needTempImproveLevel(chartId) {
      return _.indexOf(["ComplexTextarea"], chartId) === -1;
    },
    resetSelectChart(chart, needRefresh, e) {
      // 点击图表时，如果按下ctrl，则代表要多选组件
      if (e.ctrlKey) {
        if (NO_RESOURCE_CHART_LIST.includes(chart.id)) {
          this.$Message.warning("iframe、tab、筛选器组件无法保存为资源");
          return;
        }
        // if(this.currentSelectChart && Object.keys(this.currentSelectChart).length) {
        //   this.setSelectedChart([this.currentSelectChart])
        // }
        this.setSelectedChart([...this.selectedChart, chart]);
        this.setCurrentSelectChart({ chart: null });
        return;
      }

      this.isActive = true;
      chart.isActive = true;
      const chartList = this.$store.state.chart.chartList;
      this.setChartList({ chartList });
      this.$emit("selectChart", chart);
      // 将私有日期填入当前全局保存的chart对象中
      if (needRefresh) {
        this.setCurrentSelectChart({ chart });
      }
      document.body.onkeydown = this.onReportChartKeyup;
      // 临时提升当前选中的图表组件层级为最高层，以让功能按钮显示正常
      // chart.originalLevel = chart.level
      // if (this.needTempImproveLevel(chart.id)) {
      //    this.toTopLevel()
      //  }
    },
    onMouseup(e) {
      // 点击图表时，如果按下ctrl，则代表要多选组件
      // 阻止该冒泡，是防止MoveSelect组件将之前选中的图表移除
      if (e.ctrlKey) {
        e.stopPropagation();
      }
    },
    onReportChartKeyup(e) {
      if (this.currentSelectChart.chartId) {
        // e.preventDefault();
        let { x, y } = this.chartData;
        if (this._chartId === this.currentSelectChart.chartId) {
          switch (e.keyCode) {
            case 37:
              this.chartData.x = x - diff;
              break;
            case 38:
              this.chartData.y = y - diff;
              break;
            case 39:
              this.chartData.x = x + diff;
              break;
            case 40:
              this.chartData.y = y + diff;
              break;
            default:
              break;
          }
        }
        if (e.ctrlKey && !e.shiftKey && e.keyCode === 67) {
          this.$Message.info("复制图表");
          let copyChart = deepCopy(this.currentSelectChart);
          copyChart.x = this.chartData.x;
          copyChart.y = this.chartData.y;
          this.setActionsCopyChart(copyChart);
        }
      }
    },

    onDeactivated(chart) {
      // 指标浏览器不做去激活处理
      if (!this.showRemoveIcon) {
        return;
      }
      this.isActive = false;
      for (let item of this.$store.state.chart.chartList) {
        if (item.chartId === chart.chartId) {
          item.isActive = false;
          break;
        }
      }
      const chartList = this.$store.state.chart.chartList;
      this.setChartList({ chartList });
      // 没有图表选中将全局的chart对象置空
      const hasNoChartActive = this.isAllChartNotActive(chartList);
      if (this.activeChart) {
        const chart1 = deepCopy(this.activeChart);
        chart1.isActive = chart1.inEditStatues;
        this.setCurrentSelectChart({ chart: chart1 });
      } else {
        if (hasNoChartActive) {
          this.resetCurrentSelectChart();
        }
      }
      if (!chart.inEditStatues) {
        this.dispatchMsg();
      }
      // 重置图表层级
      // if (chart.originalLevel) {
      //    chart.level = chart.originalLevel
      // }
    },
    // 是否所有图表都是未激活的
    isAllChartNotActive(chartList) {
      // 先判断最外层画布中是否有激活的图表
      const isOuterCanvasHasActiveChart = chartList.some(
        (item) => item.isActive
      );
      if (isOuterCanvasHasActiveChart) {
        return false;
      }
      // 再判断tab组件内，是否有激活的图表
      const tabList = chartList.filter((item) => item.id === "FaTab");
      for (let tab of tabList) {
        for (let tabPane of tab.childrenChartViewList) {
          for (let chart of tabPane.paneData) {
            if (chart.isActive) {
              return false;
            }
          }
        }
      }
      return true;
    },
    isSupportDateSetting(chartId) {
      return _.indexOf(support_date_setting_charts, chartId) !== -1;
    },
    getParentRefLineParams(params) {
      this.getRefLineParams(params);
    },

    handleShowMenu() {
      this.menuShow = true;
    },
    handleHideMenu(e, chartData) {
      this.menuShow = false;
    },
    canShowExtraSetting(chartData) {
      return (
        this.editable &&
        this.isSupportDateSetting(chartData.id) &&
        (chartData.data.configData.isOpenCompareBeforeTime ||
          chartData.data.configData.isOpenProportion ||
          chartData.data.configData.isOpenThreshold) &&
        chartData.id !== "Indicator"
      );
    },
    canShowLineBarSetting(chartData) {
      return (
        this.editable &&
        chartData.id === "MixLineBar" &&
        chartData.data.indicator.length
      );
    },
    canShowTransposeSetting(chartData) {
      return (
        this.editable &&
        chartData.id === "CustomTable" &&
        chartData.data.indicator.length
      );
    },

    canShowThresholdSetting(chartData) {
      let chartDataId = chartData.id;
      if (
        chartDataId === "SimpleLine" ||
        chartDataId === "SimpleBar" ||
        chartDataId === "MixLineBar" ||
        chartDataId === "BasicRadar"
      ) {
        return (
          _.get(chartData, ["data", "configData", "isOpenThreshold"]) &&
          chartData.data.indicator.length
        );
      } else {
        return false;
      }
    },
    changeChartType(e, chartType) {
      e.stopPropagation();
      this.setSeries(chartType);
      this.$set(this.chartData, "id", chartType);
      this.$set(this.chartData.data, "configData", {
        ...CHART_DEFAULT_CONFIG[chartType].config,
      });
      if (
        this.currentSelectChart &&
        this.currentSelectChart.chartId === this.chartData.chartId
      ) {
        this.$set(this.currentSelectChart, "id", chartType);
      }
      this.recordSnapshot();
    },
    canChangeChartType(chartType) {
      const supportChangeChartTypes =
        this.chartData.data.configData.supportChangeChartTypes;
      let flag =
        supportChangeChartTypes &&
        _.indexOf(supportChangeChartTypes, chartType) !== -1;
      if (flag) {
        let dataDimension = this.chartData.data.dimension;
        let dataIndicator = this.chartData.data.indicator;
        switch (this.chartData.id) {
          case "CustomTable":
            if (chartType === "Indicator") {
              flag =
                dataDimension &&
                dataDimension.length === 0 &&
                dataIndicator &&
                dataIndicator.length === 1;
            } else if (
              chartType === "SimpleLine" ||
              chartType === "SimpleBar" ||
              chartType === "MixLineBar" ||
              chartType === "IndexBoard" ||
              chartType === "BasicRadar"
            ) {
              flag =
                dataDimension &&
                dataDimension.length === 1 &&
                dataIndicator &&
                dataIndicator.length > 0;
            } else if (chartType === "SimplePie") {
              flag =
                dataDimension &&
                dataDimension.length === 1 &&
                dataIndicator &&
                dataIndicator.length === 1;
            } else if (chartType === "DoublePie") {
              flag =
                dataDimension &&
                dataDimension.length === 2 &&
                dataIndicator &&
                dataIndicator.length === 1;
            }
            break;
          case "SimpleLine":
            if (chartType === "SimplePie") {
              flag = dataIndicator && dataIndicator.length === 1;
            }
            break;
          case "BasicRadar":
            if (chartType === "SimplePie") {
              flag = dataIndicator && dataIndicator.length === 1;
            }
            break;
          case "SimpleBar":
            if (chartType === "SimplePie") {
              flag = dataIndicator && dataIndicator.length === 1;
            }
            break;
          case "MixLineBar":
            if (chartType === "SimplePie") {
              flag = dataIndicator && dataIndicator.length === 1;
            }
            break;
        }
      }
      return flag;
    },
    changeDefaultShow(param) {
      this.chartData.defaultShow = param;
    },
    showDefaultValueSettingBox() {
      if (this.currentSelectChart.id === "IndicatorFilter") {
        let IndicatorConditionValue =
          this.currentSelectChart.data.configData.conditionValue;
        this.IndicatorConditionValue = IndicatorConditionValue;
      } else if (this.currentSelectChart.id === "DimensionFilter") {
        if (this.currentSelectChart.data.configData.conditionValue) {
          this.DimensionConditionValue =
            this.currentSelectChart.data.configData.conditionValue.split(",");
        } else {
          this.DimensionConditionValue = [];
        }
      }
      this.defaultValueSettingShow = true;
    },
    resetDefaultValueSettingBox(e) {
      e.stopPropagation();
      this.defaultValueSettingShow = false;
    },
    confirmDefaultValue(e, conditionValue, valueTitle) {
      e.stopPropagation();
      this.defaultValueSettingShow = false;
      this.currentSelectChart.data.configData.conditionValue = conditionValue;
      // 改变title
      if (!this.currentSelectChart.style.titleCustomChange) {
        if (this.currentSelectChart.id === "IndicatorFilter") {
          let { filterIndicator, filterIndicatorTitle } =
            this.currentSelectChart.data.configData;
          if (filterIndicator && filterIndicatorTitle) {
            let title = "";
            title += filterIndicatorTitle;
            title += valueTitle;
            this.currentSelectChart.style.title = title;
            this.currentSelectChart.style.showTitle = true;
          }
        } else if (this.currentSelectChart.id === "DimensionFilter") {
          let { filterDimension, filterDimensionTitle } =
            this.currentSelectChart.data.configData;
          if (filterDimension && filterDimensionTitle) {
            let title = "";
            title += filterDimensionTitle;
            if (valueTitle) {
              title += "：" + valueTitle;
            } else {
              title += "：" + "全部";
            }
            this.currentSelectChart.style.title = title;
            this.currentSelectChart.style.showTitle = true;
          }
        }
      }
      // 刷新相关图表
      if (this.currentSelectChart.parentId) {
        return;
      }
      let relativeComponentList =
        this.currentSelectChart.data.configData.relativeComponentList;
      this.$parent.$parent.$parent.$refs.reportCanvasLayout.$children.forEach(
        (item) => {
          let chart = item.$refs.chart;
          if (relativeComponentList.find((item) => item === chart.chartId)) {
            chart.refreshData && chart.refreshData();
          }
        }
      );
    },
    handleShowCascader() {
      if (this.timeout) clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        this.cascaderVisible = true;
      }, 0);
    },
    handleCloseCascader() {
      if (this.timeout) {
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => {
          this.cascaderVisible = false;
        }, 200);
      }
    },
    handleShowItem(e) {
      if (this.chartData.width + this.chartData.x > this.reportWidth - 100) {
        e.target.children[3].style.left = "auto";
        e.target.children[3].style.right = "100%";
      } else {
        e.target.children[3].style.left = "100%";
        e.target.children[3].style.right = "auto";
      }
      e.target.children[3].style.display = "block";
    },
    handleCloseItem(e) {
      e.target.children[3].style.display = "none";
    },
    toTopLevel() {
      let maxLevel = Math.max.apply(
        Math,
        this.chartDataList.map((item) => {
          return item.level;
        })
      );

      if (this.chartData.level < maxLevel) {
        // 当前组件不在顶层时，置于顶层
        this.chartDataList.map((item) => {
          if (item.chartId === this.chartData.chartId) {
            item.level = maxLevel + 1;
            if (item.chartId === this.currentSelectChart.chartId) {
              this.currentSelectChart.level = maxLevel + 1;
            }
          }
        });
      }
      this.recordSnapshot();
      this.cascaderVisible = false; //关闭hover弹窗
    },
    toBottomLevel() {
      let minLevel = Math.min.apply(
        Math,
        this.chartDataList.map((item) => {
          return item.level;
        })
      );
      if (this.chartData.level > minLevel) {
        // 当前组件不在底层时，置于底层
        this.chartDataList.map((item) => {
          if (item.chartId === this.chartData.chartId) {
            item.level = minLevel - 1;
            if (item.chartId === this.currentSelectChart.chartId) {
              this.currentSelectChart.level = minLevel - 1;
            }
          }
        });
      }
      this.recordSnapshot();
      this.cascaderVisible = false; //关闭hover弹窗
    },
    toMoveUpOneLevel() {
      let chartDataLevel = this.chartData.level;
      let higherChartDataList = this.chartDataList.filter(
        (item) => item.level > chartDataLevel
      );
      // 获取层级高于此组件的列表
      if (higherChartDataList.length) {
        let higherRecentLevel = Math.min.apply(
          Math,
          higherChartDataList.map((item) => {
            return item.level;
          })
        );
        this.chartDataList.map((item) => {
          if (item.chartId === this.chartData.chartId) {
            item.level = higherRecentLevel;
            if (item.chartId === this.currentSelectChart.chartId) {
              this.currentSelectChart.level = higherRecentLevel;
            }
          } else if (item.level === higherRecentLevel) {
            item.level = chartDataLevel;
            if (item.chartId === this.currentSelectChart.chartId) {
              this.curretnSelectChart.level = chartDataLevel;
            }
          }
        });
      }
      this.recordSnapshot();
      this.cascaderVisible = false; //关闭hover弹窗
    },
    toMoveDownOneLevel() {
      let chartDataLevel = this.chartData.level;
      let lowerChartDataList = this.chartDataList.filter(
        (item) => item.level < chartDataLevel
      );
      // 获取层级低于此组件的列表
      if (lowerChartDataList.length) {
        let lowerRecentLevel = Math.max.apply(
          Math,
          lowerChartDataList.map((item) => {
            return item.level;
          })
        );
        this.chartDataList.map((item) => {
          if (item.chartId === this.chartData.chartId) {
            item.level = lowerRecentLevel;
            if (item.chartId === this.currentSelectChart.chartId) {
              this.currentSelectChart.level = lowerRecentLevel;
            }
          } else if (item.level === lowerRecentLevel) {
            item.level = chartDataLevel;
            if (item.chartId === this.currentSelectChart.chartId) {
              this.curretnSelectChart.level = chartDataLevel;
            }
          }
        });
      }
      this.recordSnapshot();
      this.cascaderVisible = false; //关闭hover弹窗
    },
    lineBarSwitch(item, val) {
      this.$set(item, "lineBarType", val);
    },
  },
};
const diff = 2;
const support_date_setting_charts = [
  "SimpleTable",
  "CustomTable",
  "SimpleBar",
  "SimplePie",
  "SimpleLine",
  "DoublePie",
  "MixLineBar",
  "SimpleGauge",
  "Indicator",
  "BasicRadar",
];
</script>

<style lang="scss" scoped>
@include fa-use-theme($fa-default-themes) {
  .reportComponent {
    background: $f-them-report-component-background;
  }
}
</style>

<style lang="less" scoped>
.text-area-butt {
  width: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -34px;

  .img-wrapper {
    width: 150px;
    text-align: left;
  }

  .img-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;

    .but {
      padding: 0 10px;
      background-color: #ffffff;
      line-height: 32px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.36);
      letter-spacing: 0;
      text-align: left;
      font-weight: 400;
      height: 32px;
      width: 55px;
    }

    .user-select-none {
      -ms-user-select: none;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -webkit-touch-callout: none;
    }
  }
}

.componentImg {
  position: absolute;
  top: 10px;
  left: 14px;
}

.jumpModal {
  /deep/ .ivu-tabs-bar {
    border-bottom-style: none;
  }

  /deep/ .ivu-modal-body {
    padding: 10px 16px;
  }

  /deep/ .ivu-tabs-tab {
    padding: 4px 0;
  }

  /deep/ .ivu-tabs-nav .ivu-tabs-tab-active {
    color: #3f73ff;
  }

  /deep/ .ivu-tabs-ink-bar {
    width: 29px !important;
    background: #3f73ff !important;
  }

  /deep/ .ivu-input {
    height: 28px;
    border-radius: 2px;
  }

  /deep/ .ivu-modal-footer {
    border-top: none;
  }

  .jumpModalBtn {
    height: 30px !important;
    border-radius: 4px !important;
  }
}

.chartTypeChangeDropdown {
  .ivu-select-dropdown {
    .ivu-dropdown-item {
      img {
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
}

.filterBox {
  position: absolute;
  top: 100%;
  margin-top: 3px;
  background: #ffffff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;

  .body {
    padding: 16px;
  }
}

.dimensionFilterBox {
  width: 500px;
}

.indicatorFilterBox {
  width: 380px;
}

.iconContent {
  .ivu-icon.ivu-icon-ios-more {
    margin-left: 4px !important;

    &:before {
      content: url("~@/assets/images/report/moreBtn.svg");
    }
  }

  .ivu-icon.ivu-icon-md-close {
    margin-left: 4px !important;

    &:before {
      content: url("~@/assets/images/report/closeBtn.svg");
    }
  }
  .hoverIndex {
    .cascader-menu {
      width: 96px;
      background: #ffffff;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      .cascader-menu-item {
        list-style-type: none;
        padding: 9px 8px 9px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;

        .img {
          margin-right: 6px;
          display: block;
        }

        .imgSelected {
          margin-right: 6px;
          display: none;
        }

        .title {
          vertical-align: middle;
        }

        .content {
          position: absolute;
          top: 0;
          // left: 99.9% !important;
          right: 96px !important;
          left: auto !important;
          background: #ffffff;
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          display: none;
          > div {
            white-space: nowrap;
          }

          .contentList {
            li {
              list-style-type: none;
              padding: 9px 16px;
              white-space: nowrap;

              img {
                vertical-align: middle;
              }

              span {
                vertical-align: middle;
                margin-left: 10px;
              }
            }

            li:hover {
              background: rgba(142, 175, 243, 0.1);
            }
          }

          .contentTitle {
            font-size: 12px;
            color: #333333;
            line-height: 34px;
            padding: 0 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }

          .lineBarSwitchItemBox {
            padding: 0 6px 0 12px;
            line-height: 34px;
            color: #333333;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
              max-width: 120px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .lineBarSwitchBox {
              display: flex;

              > div {
                width: 18px;
                height: 18px;
                border-radius: 2px;
                margin-left: 4px;
                text-align: center;

                img {
                  width: 12px;
                  height: 12px;
                  margin-bottom: 6px;
                }

                &:hover {
                  background: rgba(142, 175, 243, 0.1);
                }
              }
            }
          }
        }

        &.saveResource {
          position: relative;
          &::before {
            content: "";
            width: calc(~"100% - 20px");
            height: 1px;
            background: rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0;
            left: 0;
            margin: 0 8px 0 12px;
          }
        }
      }

      .cascader-menu-item:hover {
        background: rgba(142, 175, 243, 0.1);

        .title {
          color: #3f73ff;
        }

        .img {
          display: none;
        }

        .imgSelected {
          display: block;
        }
      }
    }

    /deep/ .ivu-poptip-body {
      padding: 0;
    }
    /deep/ .ivu-poptip-popper {
      min-width: 97px !important;
    }
    /deep/ .ivu-poptip-body-content {
      overflow: unset;
    }
  }
}
.chart-view-container {
  width: 100%;
  flex: 1;
  /* 百分百会留背景白边 */
  overflow: auto;
  position: relative;

  &.Indicator {
    overflow: visible;
    position: static;

    .chart-area-wrap-full {
      overflow: visible;
    }
  }
}
</style>

<style>
.handle {
  background: transparent;
  border: 3px solid #3f73ff;
}

.handle-tl {
  margin-top: -4px;
  margin-left: -4px;
  top: 0 !important;
  left: 0 !important;
  cursor: nwse-resize;
  border-right: none;
  border-bottom: none;
}

.handle-tm {
  margin-top: -4px;
  /*margin-left: -5px;*/
  top: 0 !important;
  left: 50%;
  cursor: ns-resize;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-width: 5px;
}

.handle-tr {
  margin-top: -4px;
  margin-left: -4px;
  top: 0 !important;
  right: 0 !important;
  left: 100%;
  cursor: nesw-resize;
  border-left: none;
  border-bottom: none;
}

.handle-mr {
  /*margin-top: -5px;*/
  margin-left: -4px;
  cursor: ew-resize;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-width: 5px;
}

.handle-br {
  margin-top: -4px;
  margin-left: -4px;
  top: 100% !important;
  left: 100% !important;
  cursor: nwse-resize;
  border-top: none;
  border-left: none;
}

.handle-bm {
  margin-top: -4px;
  /*margin-left: -5px;*/
  /*bottom: 0!important;*/
  /*left: 50%;*/
  cursor: ns-resize;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 5px;
  z-index: 999999;
}

.handle-bl {
  /*margin-top: -7px;*/
  /*margin-left: -2px;*/
  /*top: 100%;*/
  /*left: 0 !important;*/
  cursor: nesw-resize;
  border-top: none;
  border-right: none;
}

.handle-ml {
  /*margin-top: -5px;*/
  /*margin-left: -3px;*/
  /*top: 50%;*/
  /*left: 0%;*/
  cursor: ew-resize;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-width: 5px;
}

.vdr {
  border: 1px solid transparent;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  opacity: 1;
  cursor: move;
}

.mouseEvent {
  border: 1px solid transparent;
}

.mouseEvent:hover {
  box-shadow: 0px 0px 8px 0px rgba(100, 149, 250, 1);
  border: 1px solid #8abbf0;
}

.saveBoxShadow {
  box-shadow: 0px 0px 8px 0px rgba(250, 100, 0, 1);
}

.backTransfer {
  background: transparent !important;
}

.activatedClass {
  box-shadow: 0 0 10px #4799f0;
  border: 1px solid #4799f0;
}

.move-chart {
  opacity: 0.5;
}

.child-horizon-center {
  display: flex;
  align-items: center;
}

/* 指标卡专属的样式 */
.common-title-wrap.Indicator {
  padding-top: 6px;
}

.child-vertical-center {
  display: flex;
  align-items: center;
}

.child-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawing-area-wrap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.drawing-area-wrap-textarea {
  height: 100%;
  width: 100%;
}

.common-setting-wrap {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0;
}

.chart-view-container-textarea {
  width: 100%;
  height: calc(100% - 20px);
  /* 百分百会留背景白边 */
  /*overflow: auto;*/
  position: relative;
  /*padding: 10px;*/
}

.chart-area-wrap {
  height: 100%;
  width: 100%;
}

.chart-area-wrap-full {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.chart-area-wrap-full-textarea {
  height: 100%;
  width: 100%;
}

.iconContent {
  height: 24px;
  width: 24px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  margin: 4px 10px 0 0;
  float: right;
  z-index: 9999;
}

.date-picker-wrap {
  height: 24px;
  /*width: 24px;*/
  margin: 4px 10px 0 0;
  /*float: right;*/
  z-index: 9999;
  display: flex;
  align-items: center;
}

.date-picker-container {
  height: 26px;
  width: 100%;
  display: flex;
  align-items: center;
}

.indicatorItemBox {
  padding: 0px 12px;
  line-height: 34px;
  color: #333333;
}

.indicatorItemBox:hover {
  background: rgba(142, 175, 243, 0.1);
}
</style>
