<template>
  <div class="dimensionAction-container">
    <!-- 发布到公共资源池，没有任何权限时，只展示申请权限按钮 -->
    <div
      class="actionName"
      v-if="from === 'publicResourcePool' && isCanApply && isNotAuth(row)"
      @click.stop="$emit('show:modal', { type: '申请权限', row })"
    >
      <img src="@/assets/icons/publicResourcePool/authApply.svg" alt="" />
      <span>申请权限</span>
    </div>

    <!-- 申请权限之后，逻辑和管理页一致 -->
    <template v-if="!isNotAuth(row)">
      <div class="actionName" v-if="isHasAuth(row)" @click="viewItem(row)">
        <img src="@/assets/icons/earlyWarningTarget/view.svg" alt="" />
        <span>查看</span>
      </div>
      <div class="actionName" v-if="isEditAuth(row)" @click="editItem(row)">
        <img src="@/assets/icons/earlyWarningTarget/edit.svg" alt="" />
        <span>编辑</span>
      </div>
      <div class="actionName" v-if="isShowChangeStatusIcon(row)" @click="changeStatus(row)">
        <img :src="showStatusDataByKey(row.status, 'actionIcon')" alt="" />
        <span>{{ showStatusDataByKey(row.status, "actionLabel") }}</span>
      </div>
      <Poptip trigger="hover" placement="left" v-if="isShowPoptip(row)">
        <div class="hoverIconWrapper">
          <img class="noHoverIcon" src="@/assets/icons/indicatorWorkbench/moreVertical.svg" alt="" />
          <img class="hoverIcon" src="@/assets/icons/indicatorWorkbench/moreVertical-blue.svg" alt="" />
        </div>
        <template #content>
          <div class="actionWrapper">
            <div class="actionItem" v-if="isOwn(row.creatorId)" @click.stop="$emit('show:modal', { type: '变更所有者', row })">变更所有者</div>
            <div
              class="actionItem"
              v-if="from === 'publicResourcePool' && isCanApply && !isHasAllAuth(row)"
              @click.stop="$emit('show:modal', { type: '申请权限', row })"
            >
              申请权限
            </div>
            <div class="actionItem" v-if="isPublishSuccess(row)" @click.stop="$emit('show:modal', { type: '权限分享', row })">权限分享</div>
            <div class="actionItem" v-if="isEditAuth(row)" @click.stop="deleteItem(row)">删除</div>
          </div>
        </template>
      </Poptip>
    </template>
  </div>
</template>

<script>
import { deleteDimensionById } from "@/api/dimension";
import resourcePublish from "@/mixins/resourcePublish";
import { TYPE_DIMENSION } from "@/view/components/DeleteAssetModal/constant";
import { mapGetters } from "vuex";

export default {
  mixins: [resourcePublish],
  props: {
    // 当前组件用于哪一个页面
    from: {
      type: String,
      required: true
    },
    row: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters(["isCanApply"]),
    isShowPoptip() {
      return row =>
        this.isOwn(row.creatorId) ||
        (this.from === "publicResourcePool" && this.isCanApply && !this.isOwn(row.creatorId)) ||
        this.isPublishSuccess(row) ||
        this.isEditAuth(row);
    }
  },
  methods: {
    viewItem({ id }) {
      this.$emit("record:condition"); // 记录当前的页码、筛选条件
      this.$router.push({
        path: "/manager/dimension/dimension_detail",
        query: {
          id,
          type: "view"
        }
      });
    },
    editItem({ id }) {
      this.$emit("record:condition");
      this.$router.push({
        path: "/manager/dimension/dimension_detail",
        query: {
          id,
          type: "edit"
        }
      });
    },
    deleteItem(data) {
      let len = data.name.length,
        text = data.name;
      if (len > 12) {
        text = text.slice(0, 12);
        text += "...";
      }
      this.$Modal.confirm({
        title: `确认删除“${text}”维度吗？`,
        content: "删除后不可撤销",
        okText: "确认",
        onOk: () => {
          this.confirmDelete(text, data);
        }
      });
    },
    /**
     * 确认删除
     * @param name 维度名称
     * @param data 维度对象
     */
    async confirmDelete(name, data) {
      const res = await deleteDimensionById(data.id);
      if (res.data.state === "success") {
        this.$Message.success("删除成功");
        this.$emit("refresh:data"); // 刷新数据
      } else {
        // 无法删除的情况
        this.$emit("show:modal", { type: "删除", row: { id: data.id, name, type: TYPE_DIMENSION, resData: res.data.data } });
      }
    }
  }
};
</script>

<style lang="less" scoped>
.dimensionAction-container {
  display: flex;
  align-items: center;
  white-space: nowrap;

  .actionName {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 15px;
    }
    img {
      width: 16px;
      height: 16x;
      margin-right: 5px;
    }
    span {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #3f73ff;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  /deep/.ivu-poptip {
    display: flex;
    .hoverIconWrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      .noHoverIcon {
        display: inline-block;
      }
      .hoverIcon {
        display: none;
      }
      &:hover {
        .noHoverIcon {
          display: none;
        }
        .hoverIcon {
          display: inline-block;
        }
      }
    }
    .ivu-poptip-popper {
      min-width: 0;
      width: 105px;
      .ivu-poptip-body {
        padding: 0;
        .actionWrapper {
          padding: 4px;
          .actionItem {
            width: 80px;
            height: 24px;
            line-height: 24px;
            border-radius: 2px;
            padding: 0 4px;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #333333;
            text-align: left;
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 4px;
            }
            &:hover {
              background: #f0f5ff;
              color: #3f73ff;
            }
          }
        }
      }
    }
  }
}
</style>
