<template>
  <div class="condition">
    <div class="group">{{ condition.name }}</div>
    <div
      :class="[{ active: checkList.includes(item) }, 'ticket']"
      v-for="item in condition.data"
      :key="item"
      @click="onLabel(item)"
    >
      {{ item }}
    </div>
  </div>
</template>
<script>
export default {
  props: {
    condition: {
      type: Object,
      require: true,
    },
  },
  components: {},
  data() {
    return {
      checkList: ["全部"],
    };
  },
  computed: {},
  created() {},
  mounted() {},
  methods: {
    onLabel(name) {
      if (this.checkList.includes(name)) {
        this.checkList = this.checkList.filter((item) => item !== name);
      } else if (name === "全部") {
        this.checkList = ["全部"];
      } else {
        this.checkList = this.checkList.filter((item) => item !== "全部");
        this.checkList.push(name);
      }
    },
  },
};
</script>
  <style lang="less" scoped>
.condition {
  overflow: hidden;
  padding: 0 10px;
  .group {
    float: left;
    width: 56px;
    margin: 14px 10px;
  }
  .ticket {
    float: left;
    border: 1px solid rgba(201, 206, 212, 1);
    border-radius: 18px;
    padding: 5px 10px;
    margin: 9px 6px;
    cursor: pointer;
  }
  .active {
    border: 1px solid rgba(39, 129, 255, 1);
    color: #2781ff;
  }
}
</style>