<template>
  <Table :columns="columns" :data="data"></Table>
</template>
<script>
import mixin from "./mixin";
export default {
  mixins: [mixin],
  props: {
    header: {
      type: Array,
      require: true,
    },
    data: {
      type: Array,
      require: true,
    },
  },
  data() {
    return {
      columns: [
        {
          title: this.header[0],
          key: "index",
          width: 60,
          render: (h, param) => {
            return h(
              "p",
              {
                style: {
                  background: param.row.index > 3 ? "#77B9FF" : "#F7B500",
                  borderRadius: "50%",
                  width: "18px",
                  height: "18px",
                  textAlign: "center",
                  color: "#fff",
                },
              },
              param.row.index
            );
          },
        },
        {
          title: this.header[1],
          key: "name",
          render: (h, param) => {
            return h(
              "div",
              {
                style: {
                  cursor: "pointer",
                },
                on: {
                  click: () => {
                    if (this.header[1].includes('指标')) {
                      this.gotoDetail(param.row);
                    }else{
                      this.toViewReportPage(param.row.id, "view");
                    }
                  },
                },
              },
              param.row.name
            );
          },
        },
        {
          title: this.header[2],
          key: "field",
          align: "right",
          width: 106,
        },
      ],
    };
  },
};
</script>