<template>
  <div class="tableDetail">
    <div class="list" v-for="row in data" :key="row.id">
      <img
        v-if="row.type == 5"
        :src="require(`@/assets/images/assetPanorama/reportIcon.svg`)"
      />
      <img
        v-else
        :src="require(`@/assets/images/assetPanorama/targetIcon.svg`)"
      />
      <div class="listContent">
        <div>
          <p class="bold">
            {{ row.name || "-"
            }}<span class="ml15" v-if="row.type != 5">{{
              handlePrefix(row.configData) +
              handleYXQ(row.configData, row.indicatorValue) +
              handleUnit(row.configData) +
              handleSuffix(row.configData)
            }}</span
            ><span
              v-if="row.warningValue?.level"
              :style="{
                color: row.warningValue?.color,
                borderColor: row.warningValue?.color,
              }"
              class="risk"
              @click="onClickRisk(row.warningValue)"
              ><span class="iconfont icon-a-tubiao215x"></span
              >{{ row.warningValue.warnname }}</span
            >
            <span
              v-if="row.targetValue && judgeRiskLevel(row.targetValue)"
              :style="riskLevelRule(row.targetValue, 'background')"
              class="target"
              @click="onClickTarget(row.targetValue)"
              >目标：{{ riskLevelRule(row.targetValue, "text") }}</span
            >
          </p>
          <div class="group">
            <p v-if="handleShowYoy(row)" class="yoy">
              同比：
              <i class="rise" v-if="row.yoyType === '同比增长'"></i>
              <i class="decline" v-else-if="row.yoyType === '同比下降'"></i>
              <span>{{ row.yoyValue }} </span>
            </p>
            <p v-if="handleShowMom(row)" class="mom">
              环比：
              <i class="rise" v-if="row.momType === '环比增长'"></i>
              <i class="decline" v-else-if="row.momType === '环比下降'"></i>
              <span>{{ row.mValue }}</span>
            </p>
            <p>
              业务域：<span>{{ row.groupName || "--" }}</span>
            </p>
            <p>
              标签：<span>{{ row.labelName || "--" }}</span>
            </p>
            <p>
              发布时间：<span>{{ row.publishTime || "--" }}</span>
            </p>
          </div>
        </div>
        <div class="actionLeft">
          <div
            class="actionName"
            v-if="row.type !== 4 && isHasAuth(row)"
            @click="goDetail(row)"
          >
            <img src="@/assets/icons/earlyWarningTarget/view.svg" alt="" />
            <span>详情</span>
          </div>
          <div
            class="actionName"
            v-if="isEditAuth(row)"
            v-allow="[1097046178137090]"
            @click="goEdit(row)"
          >
            <img src="@/assets/icons/earlyWarningTarget/edit.svg" alt="" />
            <span>编辑</span>
          </div>
          <Poptip trigger="hover" placement="left" v-if="row.type != 5">
            <div class="hoverIconWrapper">
              <img
                class="noHoverIcon"
                src="@/assets/icons/indicatorWorkbench/moreVertical.svg"
                alt=""
              />
              <img
                class="hoverIcon"
                src="@/assets/icons/indicatorWorkbench/moreVertical-blue.svg"
                alt=""
              />
            </div>
            <template #content>
              <div class="actionWrapper">
                <div
                  class="actionItem"
                  v-if="isEditAuth(row)"
                  @click.stop="copyIndicator(row)"
                >
                  复制
                </div>
                <div
                  class="actionItem"
                  v-allow="[1097046178137089]"
                  v-if="row.type === 1 && isHasAuth(row)"
                  @click.stop="createDerive(row)"
                >
                  创建派生指标
                </div>
                <div class="actionItem" @click.stop="createTarget(row)">
                  创建目标
                </div>
                <div class="actionItem" @click.stop="createTask(row)">
                  创建任务
                </div>
                <div class="actionItem" @click.stop="createWarning(row)">
                  创建预警
                </div>
                <div
                  class="actionItem"
                  v-if="isOwn(row.creatorId)"
                  @click.stop="changeOwner(row)"
                >
                  变更所有者
                </div>
                <div
                  class="actionItem"
                  v-if="isPublishSuccess(row)"
                  @click.stop="shareAuth(row)"
                >
                  权限分享
                </div>
              </div>
            </template>
          </Poptip>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { formatData } from "@/utils/BusinessDataHandleUtil";
import mixin from "./mixin";
import objectManageMixin from "@/view/objectManage/object-manage-mixin";
export default {
  mixins: [mixin, objectManageMixin],
  props: {
    data: {
      type: Array,
      require: true,
    },
    tableLoading: {
      type: Boolean,
      require: true,
    },
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {
    goDetail(row) {
      if (row.type == 5) {
        this.toViewReportPage(row.id, "view");
      } else {
        this.gotoDetail(row);
      }
    },
    goEdit(row) {
      if (row.type == 5) {
        this.toViewReportPage(row.id, "edit");
      } else {
        this.gotoEdit(row);
      }
    },
    getUnit(unit) {
      switch (unit) {
        case "wan":
          return "(万)";
        case "yi":
          return "(亿)";
        default:
          return "";
      }
    },
    // 处理千分位和小数以及数值单位
    handleYXQ(configData, originalValue) {
      if (originalValue === "--") {
        return "--";
      } else {
        let item = configData ? JSON.parse(configData) : {};
        let indicatorValue = originalValue ? originalValue : 0;
        const config = {
          decimalDigits: item.decimalPlaces,
          numberUnit: item.numberUnit ? item.numberUnit : "original",
          thousandth: !!item.thousandsSeparator,
          showType: item.showType,
        };
        indicatorValue = formatData(indicatorValue, config);
        return indicatorValue;
      }
    },
    handleUnit(configData) {
      let item = configData ? JSON.parse(configData) : {};
      return item.showType === 0 ? this.getUnit(item.numberUnit) : "";
    },
    handlePrefix(configData) {
      let item = configData ? JSON.parse(configData) : {};
      return item.prefix ? item.prefix : "";
    },
    handleSuffix(configData) {
      let item = configData ? JSON.parse(configData) : {};
      return item.suffix ? item.suffix : "";
    },
    handleShowYoy(record) {
      let item = record.configData ? JSON.parse(record.configData) : {};
      if (record.type == 5 || item.showYoy == false) {
        return false;
      }
      return true;
    },
    handleShowMom(record) {
      let item = record.configData ? JSON.parse(record.configData) : {};
      if (record.type == 5 || item.showMom == false) {
        return false;
      }
      return true;
    },
    //点击跳转预警页面
    onClickRisk(row) {
      this.$router.push({
        path: "/manager/earlyWarningTarget/earlyWarningTargetIndex",
        query: {
          id: row.taskId,
        },
      });
    },
    //点击跳转目标管理页面
    onClickTarget(row) {
      this.$router.push({
        path: "/manager/objectManage/objectManage",
        query: {
          id: row.id,
        },
      });
    },
  },
};
</script>
<style lang="less" scoped>
.tableDetail {
  .list {
    display: flex;
    padding: 10px 0;
    border-bottom: solid 1px #e6e9ed;
    .listContent {
      width: 95%;
      display: flex;
      justify-content: space-between;
      margin-left: 24px;
      .bold {
        font-family: PingFangSC-Semibold;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        line-height: 24px;
        font-weight: 600;
        .ml15 {
          margin-left: 15px;
        }
        .risk,
        .target {
          margin-left: 15px;
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #ffcb5f;
          letter-spacing: 0;
          font-weight: 400;
          border: 1px solid #ffcb5f;
          border-radius: 4px;
          padding: 2px 4px;
          cursor: pointer;
          .iconfont {
            margin-right: 4px;
          }
        }
        .target {
          padding: 2px 6px;
          color: #fff;
          border: none;
        }
      }
      .group {
        margin-top: 4px;
        display: flex;
        .yoy,
        .mom {
          color: rgba(35, 44, 88, 0.6);
          font-weight: 400;

          > i {
            margin-left: 4px;
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: -4px;

            &.decline {
              background: url("~@/assets/icons/indicatorIcon/arrow_decline.svg")
                no-repeat center;
            }

            &.rise {
              background: url("~@/assets/icons/indicatorIcon/arrow_rise.svg")
                no-repeat center;
            }
          }

          > span {
            margin-left: 4px;
            color: rgba(0, 0, 0, 0.65);
            font-weight: bold;
          }
        }
        .yoyIcon {
          margin-right: 3px;
        }
        .momRate {
          margin-right: 6px;
        }
        p {
          margin-right: 50px;
          color: rgba(0, 0, 0, 0.45);
          span {
            color: rgba(0, 0, 0, 0.85);
          }
        }
      }
    }
    .actionLeft {
      display: flex;
      align-items: center;
      width: 150px;
      .actionName {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 19px;
        }
        &:last-child {
          margin-right: 7px;
        }
        img {
          margin-right: 5px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #3f73ff;
          letter-spacing: 0;
        }
      }
      /deep/.ivu-poptip {
        display: flex;
        .hoverIconWrapper {
          display: flex;
          align-items: center;
          cursor: pointer;
          .noHoverIcon {
            display: inline-block;
          }
          .hoverIcon {
            display: none;
          }
          &:hover {
            .noHoverIcon {
              display: none;
            }
            .hoverIcon {
              display: inline-block;
            }
          }
        }
        .ivu-poptip-popper {
          min-width: 0;
          width: 105px;
          .ivu-poptip-body {
            padding: 0;
            .actionWrapper {
              padding: 4px;
              .actionItem {
                width: 80px;
                height: 24px;
                line-height: 24px;
                border-radius: 2px;
                padding: 0 4px;
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #333333;
                text-align: left;
                cursor: pointer;
                &:not(:last-child) {
                  margin-bottom: 4px;
                }
                &:hover {
                  background: #f0f5ff;
                  color: #3f73ff;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>