<template>
  <div class="indicator-main" :class="{noHeadMenu}"  >
    <!-- <div class="leftOne treeBox">
      <Tree class="catalogue-tree" ref="dimensionTree" :data="OrganizationalData" :render="renderContent" @on-select-change="onSelectTreeOne"></Tree>
    </div> -->
    <div  class="indicator-header">
      报告超市
    </div>

    <div class="indicatorBox">
      <div class="leftTwo treeBox">
      <div class="atalogue-search-input">
        <Input search clearable placeholder="请输入资产目录名称" @on-change="onSearchCatalogue" />
      </div>
      <div class="tree-wrapper">
        <Tree class="catalogue-tree" ref="dimensionTree" :data="treeData" :render="renderContent" @on-select-change="onSelectTreeTwo"></Tree>
      </div>
    </div>

    <div class="right-content">
      <ReportList :Organizational="currentNode" ref="reportList" :assets="currentNodeTwo" />
    </div>
    </div>

  </div>
</template>

<script>
import { deepCopy, filterTree } from "@/utils/common";
import { getDimensionTreeDatagetAssets } from "@/api/dimension";
import ReportList from "./components/reportList.vue";
import { firstCatalog } from "@/api/assetPanorama";

export default {
  name: "indicator-hall", //报告超市
  data() {
    return {
      treeData: [],
      OrganizationalData: [],
      currentNode: {},
      currentNodeTwo: {},

      dataList: [], // 指标数据
      // 分页数据
      pageCondition: {
        pageSize: 20,
        currentPage: 1,
        total: 0,
      },
      noHeadMenu:false,//是否是头部菜单
    };
  },
  mounted() {
    if( "/insupermarket" == this.$route.path ) {
      this.noHeadMenu = true
    }
    this.init();
  },
  components: {
    ReportList,
  },
  methods: {
    onSearchCatalogue(e) {
      let value = e.target.value;
      if (value) {
        this.treeData = filterTree(this.originTreeData, value);
      } else {
        this.treeData = this.originTreeData;
      }
      this.buildTreeData(this.treeData , this.currentNodeTwo);

    },
    async init() {
      // await this.getDepartmentTree();
      await this.getTreeData();
      this.$refs['reportList'].searchTable()
    },
    async getDepartmentTree() {
      const res = await firstCatalog();
      if (res.data.state === "success") {
        let list = res.data.data.map((item) => ({
          ...item,
          parentId: -1,
          id: Number(item.id),
          title: item.name,
          _showChildren: true,
          children: [],
        }));

        this.OrganizationalData = [
          {
            id: -1,
            parentId: null,
            title: "组织结构",
            name: "/",
            auth: true,
            _showChildren: true,
            expand: true,
            children: list,
          },
        ];
        if (!this.currentNode.id) {
          this.OrganizationalData[0].selected = true;
          this.currentNode = deepCopy(this.OrganizationalData[0]);
        }
      }
    },
    async getTreeData() {
      const { data } = await getDimensionTreeDatagetAssets();
      if (data?.state === "success") {
        const groups = data.data.dimensionGroupList;

        let copygroups = deepCopy(groups);
        groups.forEach(ele=>{ // 如果根级parentId不为-1 ，但是没有子节点，则将根级parentId置为-1
          let checkedParend = false
          copygroups.forEach(els =>{
            if (ele.parentId == els.id) {
              checkedParend = true
            }
          })
          if(!checkedParend){
            ele.parentId  = -1
          }
        })

        this.allGroupList = deepCopy(data.data.dimensionGroupList)
        let tree = [
          {
            id: -1,
            title: "所有目录",
            expand: true,
            deep: 0,
            selected: false,
            children:[]
          },
        ];
        this.treeDataExpandStatusBak = deepCopy(this.treeData);
        this.treeData = this.generateTree(tree, groups);
        this.updateTreeDataStatus(this.treeData, this.treeDataExpandStatusBak);
        this.originTreeData = deepCopy(this.treeData);
        // 如果没有选中的分组，默认选中根节点
        if (!this.currentNodeTwo.id) {
          this.treeData[0].selected = true;
          this.currentNodeTwo = deepCopy(this.treeData[0]);
        }
      } else if (data?.state === "error") {
        this.$Message.error(data.message);
      } else {
        this.$Message.error("获取目录分组失败");
      }
    },
    onSelectTreeOne(selectNodes, currentNode) {
      if (currentNode.id == this.currentNode.id) {
        return false;
      }
      this.currentNode = deepCopy(currentNode);
      this.$nextTick(() => {
        this.$refs['reportList'].searchTable('resetType')
      })
    },
    onSelectTreeTwo(selectNodes, currentNode) {
      if (currentNode.id == this.currentNodeTwo.id) {
        return false;
      }
      this.currentNodeTwo = deepCopy(currentNode);
      this.$nextTick(() => {
        this.$refs['reportList'].searchTable('resetType')
      })
    },

    renderContent(h, { root, node, data }) {
      return h(
        "div",
        {
          style: {
            width: "100%",
            display: "flex",
            justifyContent: "space-between",
            alignItems: "center",
            marginLeft: data.children && data.children.length ? 0 : "-6px",
          },
        },
        [
          h("i", {
            class: {
              catalogueTreeNode: !data.children.length,
            },
          }),
          h(
            "div",
            {
              style: {
                flex: 1,
                overflow: "hidden",
                whiteSpace: "nowrap",
                textOverflow: "ellipsis",
              },
              attrs: {
                title: data.title,
              },
            },
            data.title
          ),
        ]
      );
    },
    buildTree(list, parentId = null) {
      let tree = [];
      for (let item of list) {
        if (item.parentId === parentId) {
          let children = this.buildTree(list, item.id);
          if (children.length > 0) {
            item.children = children;
          }
          item.disabled = !item.auth;
          item.expand = true;
          item.selected = false;
          tree.push(item);
        }
      }

      return tree;
    },
    generateTree(parent, all, deep = 1) {
      const DEEP_TEMP = deep + 1;
      return parent.map((parentItem) => {
        let children = all
          .filter((allItem) => allItem.parentId === parentItem.id)
          .map((child) => ({
            id: child.id,
            title: child.name,
            expand: false,
            deep: deep,
            selected: false,
          }));

        return {
          ...parentItem,
          children: children.length ? this.generateTree(children, all, DEEP_TEMP) : [],
        };
      });
    },
    updateTreeDataStatus(newTree, oldTree) {
      for (let newTreeItem of newTree) {
        for (let oldTreeItem of oldTree) {
          if (newTreeItem.id === oldTreeItem.id) {
            newTreeItem.expand = oldTreeItem.expand;
            newTreeItem.selected = oldTreeItem.selected;
            if (newTreeItem.children?.length && oldTreeItem.children?.length) {
              this.updateTreeDataStatus(newTreeItem.children, oldTreeItem.children);
            }
          }
        }
      }
    },
    buildTreeData(data ,current) {
        data.forEach(item => {
          item.selected = false
          if(item.id == current.id){
            item.selected = true
          }
          if (item.children && item.children.length > 0) {
            this.buildTreeData(item.children ,current)
          }
        })
      },
  },
};
</script>

<style lang="scss" scoped>
.indicator-main {
  width: 100%;
  height: 100%;
  background-color: #fff; border-radius: 4px; box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);

  .indicator-header{
    font-size: 18px;color: #333333; font-weight: bold;
    padding: 16px 16px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); height: 60px; display: flex; align-items: center
  }
  .indicatorBox{
    display: flex;
    height: calc(100% - 60px);
    width: 100%;
  }
  .treeBox {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 16px;
    min-width: 190px;
    width: 14%;
  }
  .leftTwo {
    padding: 16px 0px 16px 16px;
    .atalogue-search-input {
      padding-right: 16px;
    }
    .tree-wrapper {
      height: calc(100% - 32px);
      overflow-y: auto;
      overflow-x: hidden;
      padding-top: 6px;
    }
  }
  .right-content {
    padding: 16px;
    flex: 1;
    width: 86%;
  }
  ::v-deep .ivu-tree {
    user-select: none;
    .ivu-tree-arrow {
      max-width: 12px;
      width: auto;
    }
    .ivu-icon {
      transform: none;
    }

    .ivu-tree-arrow .ivu-icon-ios-arrow-forward:before {
      content: url("~@/assets/icons/dataSetList/icon_expand_folder.svg");
      margin-right: 6px;
    }

    .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
      content: url("~@/assets/icons/dataSetList/icon_collapse_folder.svg");
      margin-right: 6px;
    }

    .catalogueTreeNode {
      content: url("~@/assets/images/system/catalogueTreeNode.png");
      width: 16px;
      margin-right: 3px;
    }

    .ivu-tree-title {
      .treeEditBtn,
      .treeAddBtn,
      .treeDeleteBtn {
        vertical-align: middle;
        display: none;
      }

      .treeEditBtn {
        content: url("~@/assets/images/system/roleTreeEditBlue.svg");
        margin-right: 6px;
      }

      .treeAddBtn {
        content: url("~@/assets/images/system/roleTreeAddBlue.png");
        width: 18px;
        height: 18px;
        margin-right: 6px;
      }

      .treeDeleteBtn {
        content: url("~@/assets/images/system/roleTreeDeleteBlue.svg");
      }

      &:hover {
        .treeEditBtn,
        .treeAddBtn,
        .treeDeleteBtn {
          display: inline-block;
        }
      }

      &.ivu-tree-title-selected {
        color: #3f73ff;

        .treeDeleteBtn {
          content: url("~@/assets/icons/dimensionIcon/treeDeleteBlue.svg");
          display: inline-block;
        }
      }
    }
  }

}
.noHeadMenu{
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin: 15px;
}
</style>
