<template>
  <div style="width: 100%; height: 100%">
    <div id="barDom" ref="dom" class="charts chart-bar" style="width: 100%; height: 100%"></div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import { CANVAS_COLOR_CONFIG } from "@/config/ReportConstants";
import { NumberFormat } from "@/utils/formatData";
import { formatData } from "@/utils/BusinessDataHandleUtil";
import tdTheme from "./theme.json";
import { on, off } from "@/libs/tools";
import { hexToRgb, rgbToHex } from "@/utils/rgbAndHexTransfer";
import BigNumber from "bignumber.js";
import { getOriginName } from "@/utils/common";
import mixin from "_c/charts/mixin/chartMixin";
import { mapGetters } from "vuex";

echarts.registerTheme("tdTheme", tdTheme);
const colorList = tdTheme.color;
export default {
  name: "ChartBar",
  mixins: [mixin],
  props: {
    value: Object,
    chartId: String,
    propertyStyle: {
      type: Object,
      default: null
    },
    configData: {
      type: Object,
      default: () => {
        return {};
      }
    },
    propertyData: Object,
    isIntelligentAnswer: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    ...mapGetters(["currentChartId"]),
    currentSelectChartStyle: function () {
      return JSON.parse(JSON.stringify((this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style) || {}));
    },
    changeCurrentSelectChartStyle: function () {
      return this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style;
    },
    reportThemeStyle: function () {
      return (this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle) || "1";
    }
  },
  data() {
    return {
      dom: null,
      selectorPosition: { left: 0, top: 0 }
    };
  },
  methods: {
    resize() {
      let legendPosition = "下";
      if (this.dom != null) {
        if (this.propertyStyle && this.propertyStyle.legendPosition) {
          legendPosition = this.propertyStyle.legendPosition;
        } else if (this.currentSelectChartStyle && this.currentSelectChartStyle.legendPosition) {
          legendPosition = this.currentSelectChartStyle.legendPosition;
        }
        if (legendPosition === "左" || legendPosition === "右") {
          let _this = this;
          let widthGrid = parseInt(_this.$refs.dom.clientWidth * 0.18);
          let leftRightGrid = widthGrid < 70 ? 70 : widthGrid;
          this.dom.setOption({
            legend: {
              formatter: function (name) {
                return echarts.format.truncateText(name, leftRightGrid, "14px Microsoft Yahei", "…");
              }
            }
          });
        }
      }
      this.dom && this.dom.resize();
    },
    /**
     * 改变颜色
     * @param param
     * @param colorList
     * @param index
     * @returns {*}
     */
    chooseColor(param, colorList, index) {
      let color = colorList[index],
        chartClickItemIndex = this.configData.linkOption ? this.configData.linkOption.chartClickItemIndex : -1;
      if (param && (chartClickItemIndex || chartClickItemIndex === 0)) {
        color = chartClickItemIndex === param.dataIndex ? hexToRgb(color) : chartClickItemIndex === -1 ? hexToRgb(color) : hexToRgb(color, 0.6);
      } else {
        color = hexToRgb(color);
      }
      return color;
    },
    /**
     * 刷新bar
     * @param style
     * @param changeType
     */
    refreshBarChart(style, changeType = "") {
      // value对象存在相关属性时再绘制图表
      if (!Object.keys(this.value).length) {
        return;
      }
      if (!style) {
        style = {};
      }
      let theme = "default";
      if (this.reportThemeStyle === "2") {
        theme = "black";
      }
      let { barType = "normal", barColor = [], barBorderRadius = 0, labelPosition = "outside" } = style;
      let legendData = this.value.legend;
      let legend = this.refreshLegend(legendData, style, this.isIntelligentAnswer);
      let xAxisData = this.value.xAxis;
      let that = this;
      // 数据样式处理
      let seriesData = this.value.series.map((item, index) => {
        // 柱状图类型选择条形图，才有这两个配置
        if (barType === "comparison") {
          item.xAxisIndex = index;
          item.yAxisIndex = index;
        } else {
          delete item.xAxisIndex;
          delete item.yAxisIndex;
        }
        item.zlevel = -1;
        item.itemStyle = { normal: {} };
        //如果有就用配置色,没有就用预置色
        let barColorArr = [];
        if (barColor[index]) {
          barColorArr = barColor;
        } else {
          barColorArr = colorList;
        }
        item.itemStyle.normal.color = function (param) {
          return that.chooseColor(param, barColorArr, index);
        };
        if (barBorderRadius !== 0) {
          item.itemStyle.normal.barBorderRadius = [barBorderRadius, barBorderRadius, 0, 0];
        }
        item.stack = this.configData.stack;
        return { ...item };
      });
      if (changeType === "valueChange") {
        let newBarColor = [];
        this.value.series.forEach(seriesItem => {
          newBarColor.push(rgbToHex(seriesItem.itemStyle.normal.color()));
        });
        // 查看还原时不需要设置
        if (this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          // changeCurrentSelectChartStyle存在null的情况
          this.changeCurrentSelectChartStyle && this.$set(this.changeCurrentSelectChartStyle, "barColor", newBarColor);
        }
      }
      // 判断是否是百分比格式
      let isPercent = this.configData.showType === 1 ? true : false;
      // valueConfig 数据相关的处理
      let valueConfig = this.getValueConfig(this.configData, isPercent);
      // showValueConfig 展示数据相关的处理
      let showValueConfig = this.getShowValueConfig(this.configData, isPercent);
      // 数值格式设置
      let numberUnitLabel = this.getNumberUnitLabel(this.configData, isPercent);
      seriesData.forEach((item, index) => {
        item.data = item.data.map(dataValItem => {
          return isPercent ? new BigNumber(dataValItem).times(100).toNumber() : dataValItem;
        });
        if (barType === "stack") {
          // 堆积柱状图
          item.stack = "total";
        } else if (barType === "stackPercent") {
          // 百分比堆积柱状图
          item.stack = "total";
          item.originData = item.data;
          let total = [];
          let absTotal = [];
          if (index === 0) {
            // 第一次把所有对应的total都算出来
            item.data.forEach((item, index) => {
              let totalItem = this.value.series
                .map(item => item.data)
                .reduce((a, b) => {
                  return new BigNumber(a).plus(b[index]).toFixed(2);
                }, 0);
              let absTotalItem = this.value.series
                .map(item => item.data)
                .reduce((a, b) => {
                  return new BigNumber(Math.abs(a)).plus(Math.abs(b[index])).toFixed(2);
                }, 0);
              total.push(totalItem);
              absTotal.push(absTotalItem);
            });
            item.total = total;
            item.absTotal = absTotal;
          } else {
            total = seriesData[0].total;
            absTotal = seriesData[0].absTotal;
            item.total = seriesData[0].total;
            item.absTotal = seriesData[0].absTotal;
          }
          let data = [];
          item.data.forEach((item, index) => {
            if (absTotal[index] == 0) {
              data.push(0);
            } else {
              if (isPercent) {
                data.push(new BigNumber(item).div(absTotal[index]).toFixed(2));
              } else {
                data.push(new BigNumber(item).div(absTotal[index]).times(100).toFixed(2));
              }
            }
          });
          item.data = data;
        } else {
          // 普通柱状图
          if (item.hasOwnProperty("stack")) {
            delete item.stack;
          }
        }
        item.data = item.data.map((dataValItem, index) => {
          let obj = {};
          if (barType === "stackPercent") {
            obj.value = dataValItem;
            obj.originValue = item.originData[index];
            obj.totalValue = item.total[index];
            obj.absTotalValue = item.absTotal[index];
            obj.showValue = obj.value + "%";
          } else {
            obj.value = formatData(dataValItem, valueConfig);
            obj.showValue = formatData(dataValItem, showValueConfig) + numberUnitLabel;
          }
          return obj;
        });
        // seriesItem添加标签相关的设置
        this.refreshLabel(item, style);
      });
      let grid = this.refreshGrid(style);
      let option = {
        backgroundColor: style.areaColor,
        tooltip: {
          trigger: "axis",
          confine: true,
          formatter: function (params) {
            let str = "";
            if (params instanceof Array) {
              str = `<div>${params[0].axisValue}`;
              if (barType === "stackPercent") {
                let totalValue = params
                  .map(item => item.data)
                  .reduce((a, b) => {
                    return new BigNumber(a).plus(b.originValue).toNumber();
                  }, 0);
                str += `<br/>
                  <span style="font-weight: bold;">总计</span>
                  <span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${formatData(totalValue, showValueConfig) + numberUnitLabel}
                      <span style="display:inline-block;width: 60px">
                        ${
                          params[0].data.absTotalValue == 0
                            ? "--"
                            : params.reduce((a, b) => {
                                return new BigNumber(Math.abs(a)).plus(Math.abs(b.data.value)).toFixed(2);
                              }, 0)
                        }%
                      </span>
                  </span>`;
              }
              params.forEach(item => {
                if (barType === "stackPercent") {
                  str += `<br/>
                    ${item.marker} ${getOriginName(item.seriesName, legendData)}
                    <span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${formatData(item.data.originValue, showValueConfig) + numberUnitLabel}
                      <span style="display:inline-block;width: 60px">${params[0].data.absTotalValue == 0 ? "--" : item.value}%</span>
                    </span>`;
                } else {
                  str += `<br/>
                    ${item.marker} ${getOriginName(item.seriesName, legendData)}
                    <span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${item.data.showValue}
                    </span>`;
                }
              });
              str += `</div>`;
            }
            return str;
          }
        },
        color: this.propertyStyle && this.propertyStyle.barColor,
        legend: legend,
        grid: grid,
        series: seriesData
      };
      let defaultSetting = {
        ...CANVAS_COLOR_CONFIG[theme]
      };
      let { xAxis, yAxis } = this.refreshAxis(xAxisData, numberUnitLabel, Object.assign(defaultSetting, style));
      let axisValueSetting = this.refreshAxisValue(style);
      // 垂直显示还是水平显示
      if (!this.configData.displayDirection || this.configData.displayDirection === "vertical") {
        option.xAxis = xAxis;
        option.yAxis = yAxis;
        let axisLabelSetting = this.refreshAxisLabel(option.grid, xAxisData.length, style);
        Object.assign(option.xAxis.axisLabel, axisLabelSetting);
        // 柱状图类型选择条形图，yAxis是个数组
        if (barType === "comparison") {
          for (let item of option.yAxis) {
            Object.assign(item, axisValueSetting);
          }
        }
        if (barType === "stackPercent") {
          // 百分比堆积
          option.yAxis.axisLabel.formatter = "{value}%";
        }
      } else {
        option.xAxis = yAxis;
        option.yAxis = xAxis;
        // 柱状图水平时
        if (labelPosition === "outside") {
          seriesData.forEach(item => {
            item.data.forEach(dataItem => {
              if (dataItem.label) {
                if (Number(dataItem.value) >= 0) {
                  dataItem.label.position = "right";
                } else {
                  dataItem.label.position = "left";
                }
              }
            });
          });
        }
        if (barType === "stackPercent") {
          // 百分比堆积
          option.xAxis.axisLabel.formatter = "{value}%";
        }
        // 柱状图类型选择条形图，xAxis是个数组
        if (barType === "comparison") {
          for (let item of option.xAxis) {
            Object.assign(item, axisValueSetting);
          }
        }
      }
      if (!this.dom) {
        this.dom = echarts.init(this.$refs.dom, "tdTheme");
      }
      this.dom.setOption(option, true);
      // 点击legend，阻止事件冒泡
      this.dom.on("legendselectchanged", function (params) {
        event.stopPropagation();
        event.cancelBubble = true;
      });
      //柱体点击事件
      this.dom.off("click");
      this.dom.on("click", params => {
        // 当前选中图表是自己要阻止事件冒泡
        // if (this.currentChartId === this.chartId) {
        event.stopPropagation();
        // }
        this.handleChartItemClick(params, option, true);
      });
      on(window, "resize", this.resize);
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$erd.listenTo(this.$el, this.resize.bind(this));
      if (this.propertyStyle) {
        this.refreshBarChart(this.propertyStyle);
      } else {
        this.refreshBarChart(this.currentSelectChartStyle);
      }
    });
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  watch: {
    value: {
      handler: function (val, oldval) {
        if (this.propertyStyle) {
          this.refreshBarChart(this.propertyStyle, "valueChange");
        } else {
          this.refreshBarChart(this.currentSelectChartStyle, "valueChange");
        }
      },
      deep: true
    },
    currentSelectChartStyle: {
      handler: function (val, oldval) {
        if (this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          let isTitleChange = false;
          Object.keys(val)
            .filter(key => key.indexOf("title") !== -1)
            .forEach(key => {
              if (oldval && val[key] !== oldval[key]) {
                isTitleChange = true;
              }
            });
          if (!isTitleChange) {
            // 样式未发生变化不刷新相关配置项
            if (oldval && JSON.stringify(val) !== JSON.stringify(oldval)) {
              this.refreshBarChart(val);
            }
          } else {
            this.refreshBarChart(val);
          }
        }
      },
      deep: true
    },
    propertyStyle: {
      handler: function (val) {
        if (this.propertyStyle) {
          this.refreshBarChart(this.propertyStyle);
        } else {
          this.refreshBarChart(this.currentSelectChartStyle);
        }
      },
      deep: true
    }
  }
};
</script>

<style>
</style>
