<template>
  <div id="scatterDom" ref="dom" className="charts chart-scatter"></div>
</template>

<script>
import * as echarts from 'echarts'
import tdTheme from './theme.json'
import { on, off } from '@/libs/tools'
import BigNumber from 'bignumber.js'
import { CANVAS_COLOR_CONFIG } from '@/config/ReportConstants'
import { deepCopy } from '@/utils/common'
import { formatData } from '@/utils/BusinessDataHandleUtil'
import mixin from '_c/charts/mixin/chartMixin'
import { mapGetters } from 'vuex'
import { DEFAULT_DATA } from '@/view/report/chart/Bubble/constant'

echarts.registerTheme('tdTheme', tdTheme)
export default {
  name: 'scatter',
  mixins: [mixin],
  props: {
    value: Array, // 图表数据
    chartId: String,
    propertyData: {
      type: Object,
      default: () => {
        return {}
      },
    },
    configData: {
      type: Object,
      default: () => {
        return {}
      },
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
  },
  computed: {
    ...mapGetters([
      'allDimensions',
      'currentSelectChart',
      'reportThemeStyle',
    ]),
    currentSelectChartStyle() {
      return this.currentSelectChart?.style
    },
    chartClickItemIndex() {
      return this.configData.linkOption ? this.configData.linkOption.chartClickItemIndex : -1
    },
  },
  data() {
    return {
      dom: null,
    }
  },
  watch: {
    // 监听图表数据
    value: {
      handler(val) {
        this.updateChart(this.propertyStyle)
      },
      deep: true,
    },
    // 监听图表样式
    propertyStyle: {
      handler(val) {
        this.updateChart(val)
      },
      deep: true,
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.$erd.listenTo(this.$el, this.resize.bind(this))
      if (this.propertyStyle) {
        this.updateChart(this.propertyStyle)
      } else {
        this.updateChart(this.currentSelectChartStyle)
      }
    })
  },
  beforeDestroy() {
    off(window, 'resize', this.resize)
  },
  methods: {
    resize() {
      this.dom && this.dom.resize()
    },

    /**
     * 更新图表
     * @param style
     */
    updateChart(style) {
      let data = deepCopy(this.value)
      const { dimension, indicator, configData } = this.propertyData
      let legendName = '图例1'
      let axisInfo = [
        { name: '指标1', unit: '' },
        { name: '指标2', unit: '' },
        { name: '指标3', unit: '' },
      ]
      // 气泡值的总量
      let sizeDataTotal = 0
      let minSizeIndex = 0
      let maxSizeIndex = 0

      if (dimension?.length) {
        // 如果选了维度，图例展示维度名称
        legendName = this.allDimensions.find(item => Number(item.id) === Number(dimension[0]))?.name || ""
      }

      if (indicator?.length === 3) {
        // 气泡图必须选择三个指标
        indicator.forEach((indicatorItem, index) => {
          axisInfo[index].name = indicatorItem.abbrName || indicatorItem.name
          if (configData.hasOwnProperty('numberformat_' + indicatorItem.id)) {
            let numberformatConfig = configData['numberformat_' + indicatorItem.id]
            // 判断是否是百分比格式
            let isPercent = numberformatConfig.showType === 1 ? true : false
            // valueConfig 数据相关的处理
            let valueConfig = this.getValueConfig(numberformatConfig, isPercent)
            // showValueConfig 展示数据相关的处理
            let showValueConfig = this.getShowValueConfig(numberformatConfig, isPercent)
            // 数值格式设置
            let numberUnitLabel = this.getNumberUnitLabel(numberformatConfig, isPercent)
            axisInfo[index].unit = numberUnitLabel
            data.forEach((item, dataIndex) => {
              // 只对data中的数据操作
              if (isPercent) {
                let originVal = item[index]
                item[index] = formatData(new BigNumber(originVal).times(100), valueConfig)
                // 展示data时 要加label 万 亿 并且加千位分隔符
                item[index + 4] = formatData(new BigNumber(originVal).times(100), showValueConfig) + numberUnitLabel
              } else {
                let originVal = item[index]
                item[index] = formatData(originVal, valueConfig)
                // 展示data时 要加label 万 亿 并且加千位分隔符
                item[index + 4] = formatData(originVal, showValueConfig) + numberUnitLabel
              }
            })
          }
        })
      }
      data = this.filterDataBySizeValueSetting(data, style.sizeValueSetting)
      // 计算气泡值总量，最大值，最小值下标
      data.forEach((item, index) => {
        sizeDataTotal += Number(item[2])
        if (Number(item[2]) < data[minSizeIndex][2]) {
          minSizeIndex = index
        }
        if (Number(item[2]) > data[maxSizeIndex][2]) {
          maxSizeIndex = index
        }
      })

      // 组合图表配置项 option
      let legend = this.refreshLegend([legendName], style)
      let grid = this.refreshGrid(style)
      let theme = this.reportThemeStyle === '2' ? 'black' : 'default'
      let defaultSetting = { ...CANVAS_COLOR_CONFIG[theme] }
      let xAxis = this.refreshAxis([], axisInfo[0].unit, Object.assign(defaultSetting, style)).yAxis
      let yAxis = this.refreshAxis([], axisInfo[1].unit, Object.assign(defaultSetting, style)).yAxis
      let option = {
        backgroundColor: style.areaColor,
        legend: legend,
        grid: grid,
        tooltip: {
          confine: true,
          formatter: (param) => {
            let str = `${param.data[3]}<br/>`
            str += `${axisInfo[0].name}<span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${param.data[4] ? param.data[4] : param.data[0]}
                    </span><br/>`
            str += `${axisInfo[1].name}<span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${param.data[5] ? param.data[5] : param.data[1]}
                    </span><br/>`
            str += `${axisInfo[2].name}<span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${param.data[6] ? param.data[6] : param.data[2]}
                    </span><br/>`
            return str
          },
        },
        xAxis: xAxis,
        yAxis: yAxis,
        series: [
          {
            name: legendName,
            symbol: (value, params) => {
              if (style.normalBubble?.highlight) {
                // 开启最大/最小突显
                if (params.dataIndex === maxSizeIndex) {
                  return style.maxValueBubble.shape
                }
                if (params.dataIndex === minSizeIndex) {
                  return style.minValueBubble.shape
                }
              }
              return style.normalBubble?.shape
            },
            symbolSize: (data) => {
              // 按值的占比计算，气泡最大为100，并且按照图表尺寸缩放，宽度除以200
              const scale = style.width / 200
              const size = (Number(data[2]) / sizeDataTotal) * 200 * scale *
                (style.bubbleSizeRange?.enable ? Math.pow(style.bubbleSizeRange?.valueRange / 50, 3) : 1);
              return size
            },
            clip: false, // 超出不裁剪
            data: data,
            itemStyle: {
              normal: {
                color: (params) => {
                  if (style.normalBubble?.highlight) {
                    // 开启最大/最小突显
                    if (params.dataIndex === maxSizeIndex) {
                      return style.maxValueBubble.color
                    }
                    if (params.dataIndex === minSizeIndex) {
                      return style.minValueBubble.color
                    }
                  }
                  return style.normalBubble?.color
                },
              },
            },
            type: 'scatter',
          },
        ],
      }
      // 坐标轴值定义 X轴
      if (style.xAxisValueSetting) {
        let xAxisValueSetting = this.refreshAxisValue(style.xAxisValueSetting)
        Object.assign(option.xAxis, xAxisValueSetting)
      }
      // 坐标轴值定义 Y轴
      if (style.yAxisValueSetting) {
        let yAxisValueSetting = this.refreshAxisValue(style.yAxisValueSetting)
        Object.assign(option.yAxis, yAxisValueSetting)
      }
      if (!this.dom) {
        this.dom = echarts.init(this.$refs.dom, 'tdTheme')
      }
      this.dom.setOption(option, true)
      this.dom.off('click')
      this.dom.on('click', (params) => {
        params.name = params.data[3]
        event.stopPropagation()
        this.handleChartItemClick(params, option, true)
      })
      on(window, 'resize', this.resize)
    },

    /**
     * 根据大小配置过滤数据
     * @param data
     * @param setting
     */
    filterDataBySizeValueSetting(data, setting) {
      // 下标2为大小的数据
      const { axisValueCustomRange, axisValueCustomMin, axisValueCustomMax, axisValueCustomLog, axisValueCustomLogBase } = setting
      if (axisValueCustomLog && axisValueCustomLogBase !== null) {
        // 自定义对数底数开启，且配置过
        for (let item of data) {
          item[2] = Math.log(Number(item[2])) / Math.log(axisValueCustomLogBase)
        }
      }
      if (axisValueCustomRange && axisValueCustomMin !== null && axisValueCustomMax !== null) {
        // 自定义范围开启，且配置过
        data = data.filter(item => Number(item[2]) > axisValueCustomMin && Number(item[2]) < axisValueCustomMax)
      }
      if (!data.length) {
        data = [[0, 0, 0, '数据1']]
      }
      return data
    },
  },
}
</script>
