<template>
  <div id="mapDom" ref="dom" className="charts chart-map" style="position: relative;z-index: 3"></div>
</template>

<script>
import * as echarts from "echarts";
import tdTheme from "./theme.json";
import { on, off } from "@/libs/tools";
import china from "@/assets/map/china.json"; // 引入中国地图数据
import { renderMoney } from "@/utils/formatData";
import { deepCopy } from '@/utils/common';
import BigNumber from 'bignumber.js'
import mixin from "_c/charts/mixin/chartMixin";
import { formatData } from '@/utils/BusinessDataHandleUtil'
import { mapMutations } from 'vuex'

echarts.registerTheme("tdTheme", tdTheme);
echarts.registerMap("中国", china); // china 会展示南海诸岛，改成其他就不会（如:中国）

export default {
  name: "map",
  mixins: [ mixin ],
  props: {
    value: Array,
    chartId: String,
    propertyStyle: {
      type: Object,
      default: null
    },
    configData: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  computed: {
    currentSelectChartStyle() {
      return this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style;
    }
  },
  data() {
    return {
      dom: null
    };
  },
  methods: {
    ...mapMutations(["setIsDataRangeSelected"]),
    resize() {
      this.dom && this.dom.resize();
    },
    getVisualMap(style, showValueConfig, numberUnitLabel, visualMapMin, visualMapMax) {
      const { legendShow = true, legendPosition = "左", currentMapColor = {}, itemWidth = "", bottom = "10%", itemHeight = "", dataUnit = "" } = style
      const positation = legendPosition === "左" ? "left" : "right"
      let start = ""
      let end = ""
      if(Object.keys(currentMapColor).length === 0) {
        start = "#D8E5FF"
        end = "#0023D7"
      } else {
        start = currentMapColor.start
        end = currentMapColor.end
      }

      return {
        show: legendShow,
        min: visualMapMin,
        max: visualMapMax,
        [positation]: "5%",
        itemWidth,
        bottom,
        itemHeight,
        calculable: true,
        seriesIndex: [0],
        inRange: {
          color: [start, end,]
        },
        outOfRange: {
          color: ["#EEEEEE"]
        },
        formatter: (value) => {
          const thousandth = showValueConfig.thousandth ? true : false
          return renderMoney(value, "", showValueConfig.decimalDigits, true, thousandth) + numberUnitLabel; // 范围标签显示内容。
        }
      }
    },
    getSeries(isPercent, valueConfig, showValueConfig, numberUnitLabel) {
      const seriesData = deepCopy(this.value)

      // 解析省数据的name，只保留名字
      seriesData.forEach(ele => {
        if(ele["name"].includes("黑龙江") || ele["name"].includes("内蒙古")) {
          ele.name = ele.name.substring(0, 3)
        } else {
          ele.name = ele.name.substring(0, 2)
        }
      })

      // 求数据总和
      const total = seriesData.reduce((pre, next) => {
        return new BigNumber(pre).plus(next.value).toNumber()
      }, 0)

      // 解析省数据的value
      seriesData.forEach(ele => {
        if(isPercent) {
          ele.value = new BigNumber(ele.value).times(100).div(total).toNumber()
        }
        let obj = {}
        obj.value = formatData(ele.value, valueConfig) // 用于地图展示
        obj.showValue = formatData(ele.value, showValueConfig) + numberUnitLabel // 用于提示框
        ele.value = obj.value
        ele.showValue = obj.showValue
      })

      const numberArr = seriesData.map(ele => ele.value)
      const visualMapMin = Math.min(...numberArr)
      const visualMapMax = Math.max(...numberArr)

      return {
        seriesData,
        visualMapMin,
        visualMapMax
      }
    },
    refreshMapChart(style) {
      if(!Object.keys(this.value).length) return

      const { showLabel = false, labelFontFamily = "SimSun", labelFontSize= "12", labelSetting = {}, labelFontColor = "#000", labelOverlap = true } = style
      if(Object.keys(labelSetting).length === 0) {
        labelSetting.fontStyle = "normal"
        labelSetting.fontWeight = "normal"
      }

      let isPercent = this.configData.showType === 1 ? true : false // 是否是百分比格式
      let valueConfig = this.getValueConfig(this.configData, isPercent) // valueConfig 数据相关的处理
      let showValueConfig = this.getShowValueConfig(this.configData, isPercent) // showValueConfig 展示数据相关的处理
      let numberUnitLabel = this.getNumberUnitLabel(this.configData, isPercent) // 数值格式设置

      const {seriesData, visualMapMin, visualMapMax } = this.getSeries(isPercent, valueConfig, showValueConfig, numberUnitLabel)
      const visualMapData = this.getVisualMap(style, showValueConfig, numberUnitLabel, visualMapMin, visualMapMax)
      let option = {
        tooltip: {
          show: true,
          borderWidth: 0,
          formatter: (params) => {
            let value = params.data ? params.data.showValue : "-"
            let str =
              `<div style="display:flex;align-items:center;">
                  <span style="margin-right:7px;border-radius:50%;width:7px;height:7px;background-color:rgba(0,35,215,1);"></span>
                  <span>${params.name}</span>
                </div>
                <p style="padding-left:14px;font-size:14px;color:#5789F1;font-weight:600;">${value}</p>`
            return str;
          }
        },
        visualMap: visualMapData,
        series: [
          {
            type: "map",
            map: "中国",
            label: {
              show: showLabel,
              fontFamily: labelFontFamily,
              fontSize: labelFontSize,
              color: labelFontColor,
              fontStyle: labelSetting.fontStyle,
              fontWeight: labelSetting.fontWeight,
              formatter: (params) => {
                if(this.propertyStyle.labelRange === "maxmin") {
                  const obj = seriesData.find(ele => ele.name === params.name && (ele.value === visualMapMin + "" || ele.value === visualMapMax + ""))
                  return obj ? obj.showValue : ""
                } else {
                  const obj = seriesData.find(ele => ele.name === params.name)
                  return obj ? obj.showValue : ""
                }
              }
            },
            labelLayout: {
              hideOverlap: !labelOverlap
            },
            itemStyle: {
              normal: {
                borderWidth: 1,
                borderColor: "#fff"
              },
              emphasis: {
                color: "#000",
                borderWidth: 1,
                borderColor: "#fff"
              }
            },
            data: seriesData
          }
        ]
      };
      this.dom = echarts.init(this.$refs.dom, "tdTheme");
      console.log("map配置项", option);
      this.dom.setOption(option);

      // this.dom.on("datarangeselected", params => {
      //   console.log(222, event)
      //   event.stopPropagation()
      //   // this.setIsDataRangeSelected(true)
      // })
      on(window, "resize", this.resize);
    }
  },
  mounted() {
    this.$erd.listenTo(document.getElementById('mapDom'), element => {
      this.resize()
    })
    this.$nextTick(() => {
      if (this.propertyStyle) {
        this.refreshMapChart(this.propertyStyle);
      } else {
        this.refreshMapChart(this.currentSelectChartStyle);
      }
    });
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  watch: {
    value: {
      handler(val) {
        if (this.propertyStyle) {
          this.refreshMapChart(this.propertyStyle);
        } else {
          this.refreshMapChart(this.currentSelectChartStyle);
        }
      },
      deep: true
    },
    propertyStyle: {
      handler(val) {
        if(this.propertyStyle) {
          this.refreshMapChart(this.propertyStyle)
        } else {
          this.refreshMapChart(this.currentSelectChartStyle)
        }
      },
      deep: true
    },
  }
};
</script>

<style lang="less">
.chart-map {
  .tipWrapper {
    padding: 10.7px 10.2px 9.7px 22.7px;
    p:first-of-type {
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 16px;
      font-weight: 500;
      margin-bottom: 6.6px;
      &::before {
        content: "";
      }
    }
    p:last-of-type {
      font-family: PingFangSC-Semibold;
      font-size: 14px;
      color: #5789f1;
      line-height: 16px;
      font-weight: 600;
    }
  }
}
</style>
