<template>
  <div ref="dom" className="chart-double-pie"></div>
</template>

<script>
import * as echarts from 'echarts'
import tdTheme from './theme.json'
import { on, off } from '@/libs/tools'
import BigNumber from 'bignumber.js';
echarts.registerTheme('tdTheme', tdTheme)
export default {
  name: 'ChartDoublePie',
  props: {
    value: Array,
    text: String,
    subtext: String,
    indicatorName: String,
    chartId: String,
    propertyStyle: {
      type: Object,
      default: null
    }
  },
  computed: {
    currentSelectChartStyle: function () {
      return this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style
    }
  },
  data () {
    return {
      dom: null
    }
  },
  methods: {
    resize () {
      this.dom && this.dom.resize()
    },
    refreshLegend(legendData, legendPosition) {
      let legend = {
        data: legendData,
        icon: 'circle',
        itemHeight: 8,
        itemWidth: 8,
        bottom: 0
      }
      let piePosition = '50%'
      if (legendPosition === '上') {
        legend = _.assign(legend, {
          x: 'center',
          y: 'top',
          orient: 'horizontal'
        })
        piePosition = ['50%', '60%']
      } else if (legendPosition === '右') {
        legend = _.assign(legend, {
          x: 'right',
          y: 'center',
          orient: 'vertical'
        })
        piePosition = ['30%', '50%']
      } else if (legendPosition === '下') {
        legend = _.assign(legend, {
          x: 'center',
          y: 'bottom',
          orient: 'horizontal'
        })
        piePosition = ['50%', '40%']
      } else if (legendPosition === '左') {
        legend = _.assign(legend, {
          x: 'left',
          y: 'center',
          orient: 'vertical'
        })
        piePosition = ['70%', '50%']
      }
      const obj = { legend: legend, piePosition: piePosition }
      return obj
    },

    refreshDoublePieChart (style) {
      if (!style) {
        style = {}
      }
      let { pieMode = '1', labelShow = 'false', legendPosition = '右' } = style
      let finalRes = this.refreshLegend(this.value, legendPosition)
      let piePosition = finalRes.piePosition
      const total = this.value.reduce((total, num) => {
        return new BigNumber(total).plus(num.value)
      }, 0)

      let option = {
        title: {
          text: JSON.parse(labelShow) ? '总规模' : '',
          subtext: JSON.parse(labelShow) ? total.c[0] : '',
          x: piePosition[0],
          y: piePosition[1],
          padding: [-16, 0, 0, -26]
        },
        tooltip: {
          trigger: 'item',
          confine: true,
          formatter: function (params) {
            return params.marker + params.data.name + ' : ' + params.data.formatCount + '<br/>' + '占比：'+ params.data.percent
          }
        },
        // legend: legend,
        series: {
          type: 'sunburst',
          center: piePosition,
          data: this.value,
          radius: pieMode === '2' ? ['30%', '70%'] : [0, '68%'],
          sort: null,  // 使用原始数据的顺序
          labelLine: {},
          label: {
            show: false
          }
        }
      }

      this.dom = echarts.init(this.$refs.dom, 'tdTheme')
      this.dom.setOption(option, true)
      // this.dom.on('click', function (params) {
      //   console.log(params)
      // })
      on(window, 'resize', this.resize)
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (this.propertyStyle) {
        this.refreshDoublePieChart(this.propertyStyle)
      } else {
        this.refreshDoublePieChart(this.currentSelectChartStyle)
      }
    })
  },
  beforeDestroy () {
    off(window, 'resize', this.resize)
  },
  watch: {
    value: {
      handler: function (val) {
        if (this.propertyStyle) {
          this.refreshDoublePieChart(this.propertyStyle)
        } else {
          this.refreshDoublePieChart(this.currentSelectChartStyle)
        }
      },
      deep: true
    },
    currentSelectChartStyle: {
      handler: function (val)  {
        if (this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          this.refreshDoublePieChart(val)
        }
      },
      deep: true
    }
  }
}
</script>

<style scoped>

</style>
