<template>
  <div ref="dom" class="charts chart-gauge"></div>
</template>

<script>
import * as echarts from "echarts";
import tdTheme from "./theme.json";
import {off, on} from "@/libs/tools";
import {THRESHOLD_SYMBOL_LIST} from '@/config/ReportConstants'
import BigNumber from "bignumber.js";

echarts.registerTheme("tdTheme", tdTheme);
export default {
  name: "ChartGauge",
  props: {
    value: Array,
    text: String,
    subtext: String,
    indicatorName: String,
    chartId: String,
    propertyStyle: {
      type: Object,
      default: null,
    },
    gaugeData: {
      type: Object,
      default: null,
    },
    configData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    propertyData: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    currentSelectChartStyle: function () {
      return (
        this.$store.state.chart.currentSelectChart &&
        this.$store.state.chart.currentSelectChart.style
      );
    },
    reportThemeStyle: function() {
      return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle || '1'
    }
  },
  data() {
    return {
      dom: null,
    };
  },
  mounted() {
    this.$nextTick(() => {
      if (this.propertyStyle) {
        this.refreshGaugeChart(this.value, this.propertyStyle);
      } else {
        this.refreshGaugeChart(this.value, this.currentSelectChartStyle);
      }
    });
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  watch: {
    value: {
      handler: function (val) {
        if (this.propertyStyle) {
          this.refreshGaugeChart(this.value, this.propertyStyle);
        } else {
          this.refreshGaugeChart(this.value, this.currentSelectChartStyle);
        }
      },
      deep: true,
    },
    currentSelectChartStyle: {
      handler: function (val) {
        if (this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          this.refreshGaugeChart(this.value, val)
        }
      },
      deep: true
    },
    reportThemeStyle: {
      handler: function(val) {
        if(this.propertyStyle) {
          this.refreshGaugeChart(this.value, this.propertyStyle)
        } else {
          this.refreshGaugeChart(this.value, this.currentSelectChartStyle)
        }
      }
    }
  },
  methods: {
    resize() {
      this.dom && this.dom.resize();
    },

    /**
     * 刷新图表
     * @param legendData
     * @param style
     */
    refreshGaugeChart(legendData, style = {}) {
      let {
        customScopeShowLabel = false,
        legendPosition = '下',
        customIntervalShowLabel = false,
        gaugeColor = ["#84AEFF", "#88CE76", "#FFD800"],
        gaugeInterval = [{left: null, right: null}, {left: null, right: null}, {left: null, right: null}],
        min = null,
        max = null,
        num = 3,
        autoSetInterval = false
      } = style
      let titleStyle = this.getTitleStyle(legendPosition)
      let scaleRange = {}
      // 仪表盘刻度分割段数
      let splitNum = 3
      this.$set(style, 'showType', this.configData.showType)
      let onTheDay = {},
        textPip = "",
        unit = "",
        category = '';
      let showType
      legendData.forEach((item, index) => {
        if (this.configData.useCompare && this.configData.useRingRatio) {
          // 较上日
          onTheDay.chainRatio = "环比 ";
          onTheDay.ontheDayNum = item.dayCompareNum;
          onTheDay.ontheDayRate = item.dayCompareRate;
          if(this.configData.ringRatioUnitValue === 'per') {
            onTheDay.chainRatioValue = item.dayCompareRate
          } else {
            onTheDay.chainRatioValue = item.dayCompareNum
          }
        }
        if(this.configData.useCompare && this.configData.useYearOnYear) {
          // 同比
          onTheDay.sameCompareTitle = "同比 "
          if(this.configData.yearOnYearUnitValue === 'per') {
            onTheDay.sameCompareValue = item.sameCompareRate;
          } else {
            onTheDay.sameCompareValue = item.sameCompareNum;
          }
        }
        if(this.configData.hasOwnProperty('numberUnit')) {
          if(this.configData.numberUnit === 'wan') {
            unit = '万'
          } else if(this.configData.numberUnit === 'yi') {
            unit = '亿'
          }
        }
        showType = this.propertyData.configData.showType
        category = unit && showType !== 1 ? item.category + unit : item.category;
        //标准文字展示
        item.thresholds.forEach((row, i) => {
          if (row.adverseDirection === undefined) {
            textPip += "  " + row.name + ">" + row.value
            return
          }
          let len = THRESHOLD_SYMBOL_LIST.length
          let value = row.value === null ? '' : (row.value + '')
          for (let j = 0; j < len; j++) {
            if (value.includes(THRESHOLD_SYMBOL_LIST[j])) {
              textPip += "  " + row.name + row.value
              return
            }
          }

          if (row.adverseDirection === 0) {
            if (row.valueType === 0) {
              textPip += "  " + row.name + "<" + row.value
            } else if (row.valueType === 1) {
              textPip += "  " + row.name + "<=" + row.value
            }
          } else if (row.adverseDirection === 1) {
            if (row.valueType === 0) {
              textPip += "  " + row.name + ">" + row.value
            } else if (row.valueType === 1) {
              textPip += "  " + row.name + ">=" + row.value
            }
          }
        });
        let value = item.value
        if (isNaN(value)) {
          value = 10
        }
        value = new BigNumber(value).multipliedBy(3).plus(10).toNumber()
        scaleRange = this.getScaleRange(min, max, value, customScopeShowLabel)
      });
      let option = {
        tooltip: {
          formatter: "{a} <br/>{b} :" + category,
        },
        title: this.getTitle(titleStyle, showType, unit, textPip, onTheDay),
        series: [
          {
            name: this.indicatorName,
            type: 'gauge',
            radius: '80%',
            center: this.getSeriesCenter(legendPosition),
            clockwise: true,
            detail: {
              show: style.showIndicator ?? true,
              formatter: category,
              offsetCenter: [0, "76%"],
              fontSize: style.indicatorFontSize ?? 20,
              fontWeight: style.indicatorBold ?? true ? 'bold' : '',
              color: style.indicatorColor ?? '#333333',
              fontFamily: style.indicatorFontFamily ?? 'SimHei',
            },
            min: scaleRange.min,
            max: scaleRange.max,
            splitNumber: style.splitNumber ?? 10,
            axisLine: {
              roundCap: true,
              lineStyle: {
                width: 8,
                color: this.getAxisLineColor(customScopeShowLabel, customIntervalShowLabel, num, autoSetInterval, scaleRange, splitNum, gaugeInterval, gaugeColor),
              },
            },
            title: {
              show: true,
              offsetCenter: [0, "-112%"], // x, y，单位px
              textStyle: {
                color: this.reportThemeStyle === '1' ? '#000' : '#555',
                fontSize: 14,
              },
            },
            axisTick: {
              distance: 4,
              length: 6,
              splitNumber: 5,
              lineStyle: {
                color: '#63677A',
                width: 1,
                type: "dashed"
              },
            },
            splitLine: {
              distance: 4,
              length: 10,
              lineStyle: {
                color: this.reportThemeStyle === '1' ? '#63677A' : '#ccc',
                width: 2,
                type: "solid"
              },
            },
            axisLabel: {
              show: style.showScale ?? true,
              color: style.scaleColor ?? '#333333',
              padding: [-4, -4, 0, -4],
              fontSize: style.scaleFontSize ?? 12,
              fontFamily: style.scaleFontFamily ?? 'SimSun',
              fontWeight: style.scaleBold ?? false ? 'bold' : '',
              formatter: function (value) {
                let str = value.toString().split(".")[1]
                if (str && str.length > 2) {
                  value = Number(value).toFixed(2)
                }
                return showType && showType === 1 ? value + '%' : value
              }
            },
            anchor: {
              show: true,
              showAbove: true,
              size: 13,
              itemStyle: {
                color: '#9EA5C7'
              }
            },
            pointer: {
              show: true,
              showAbove: true,
              icon: 'path://M2.9,0.7L2.9,0.7c1.4,0,2.6,1.2,2.6,2.6v115c0,1.4-1.2,2.6-2.6,2.6l0,0c-1.4,0-2.6-1.2-2.6-2.6V3.3C0.3,1.9,1.4,0.7,2.9,0.7z',
              offsetCenter: [0, '10%'],
              length: "70%",
              width: 4,
              itemStyle: {
                color: "#9EA5C7"
              }
            },
            data: this.value,
          },
        ],
      };
      if (!this.dom) {
        this.dom = echarts.init(this.$refs.dom);
      }
      this.dom.setOption(option);
      this.dom.off('click')
      on(window, "resize", this.resize);
    },

    /**
     * 获取仪表盘刻度范围
     * @param min
     * @param max
     * @param itemValue
     * @param customScopeShowLabel
     * @returns {{min: number, max: number}}
     */
    getScaleRange(min, max, itemValue, customScopeShowLabel) {
      // 打开了自定义范围设置
      if (customScopeShowLabel) {
        if (min !== null && max === null) {
          if (min < itemValue) {
            max = Math.ceil(itemValue / 100) * 100
          } else if (min >= itemValue) {
            max = min + Math.abs(min)
          }
        } else if (min === null && max !== null) {
          if (max > itemValue) {
            min = 0
          } else if (max <= 0) {
            min = max - Math.abs(max)
          } else {
            min = 0
          }
        } else if (min === null && max === null) {
          min = 0
          max = Math.ceil(itemValue / 100) * 100
        }
      } else {
        min = 0
        max = Math.ceil(itemValue / 100) * 100
      }
      return { min, max }
    },

    /**
     * 获取标题样式
     * @param legendPosition 图例位置
     */
    getTitleStyle(legendPosition) {
      let titleStyle = []

      if (legendPosition === '上') {
        titleStyle = [
          {x: '75%', y: '15%'},
          {x: 'center', y: '8%'},
          {x: '25%', y: 'top'},
          {x: '35%', y: 'top'},
          {x: '55%', y: 'top'},
          {x: '65%', y: 'top'},
        ]
      } else if (legendPosition === '右') {
        titleStyle = [
          {x: '50%', y: '0%'},
          {x: '45%', y: '80%'},
          {x: '60%', y: '40%'},
          {x: '70%', y: '40%'},
          {x: '60%', y: '50%'},
          {x: '70%', y: '50%'},
        ]
      } else if (legendPosition === '下') {
        titleStyle = [
          {x: '75%', y: '0%'},
          {x: 'center', y: '93%'},
          {x: '25%', y: '85%'},
          {x: '35%', y: '85%'},
          {x: '55%', y: '85%'},
          {x: '65%', y: '85%'},
        ]
      } else if (legendPosition === '左') {
        titleStyle = [
          {x: '25%', y: '0%'},
          {x: 'left', y: '80%'},
          {x: '10%', y: '40%'},
          {x: '20%', y: '40%'},
          {x: '10%', y: '50%'},
          {x: '20%', y: '50%'},
        ]
      }

      return titleStyle
    },

    /**
     * 获取标题
     * @param titleStyle 标题样式
     * @param showType 数值格式
     * @param unit 单位
     * @param textPip
     * @param onTheDay
     */
    getTitle(titleStyle, showType, unit, textPip, onTheDay) {
      return [
        {
          x: titleStyle[0].x,
          y: titleStyle[0].y,
          text: showType !== 1 && unit ? '单位：'+ unit : '',
          textStyle: {
            fontWeight: "normal",
            fontSize: 12,
            color: "#999999",
          },
        },
        {
          x: titleStyle[1].x,
          y: titleStyle[1].y,
          text: textPip,
          textStyle: {
            fontWeight: "normal",
            fontSize: 12,
            color: "#999999",
          },
        },
        {
          x: onTheDay.sameCompareTitle ? titleStyle[2].x : '40%',
          y: titleStyle[2].y,
          text: onTheDay.chainRatio,
          textStyle: {
            fontWeight: "normal",
            fontSize: 12,
            color: "#999999",
          },
        },
        {
          x: onTheDay.sameCompareTitle ? titleStyle[3].x : '50%',
          y: titleStyle[3].y,
          text: onTheDay.chainRatioValue,
          textStyle: {
            fontWeight: "normal",
            fontSize: 12,
            color: "#6dd400",
          },
        },
        {
          x: onTheDay.chainRatio ? titleStyle[4].x : '40%',
          y: titleStyle[4].y,
          text: onTheDay.sameCompareTitle,
          textStyle: {
            fontWeight: "normal",
            fontSize: 12,
            color: "#999999",
          },
        },
        {
          x: onTheDay.chainRatio ? titleStyle[5].x : '50%',
          y: titleStyle[5].y,
          text: onTheDay.sameCompareValue,
          textStyle: {
            fontWeight: "normal",
            fontSize: 12,
            color: "#6dd400",
          },
        },
      ]
    },

    /**
     * 获取系列位置
     * @param legendPosition 图例位置
     */
    getSeriesCenter(legendPosition) {
      let position = '50%'

      if (legendPosition === '上') {
        position = ['50%', '65%']
      } else if (legendPosition === '右') {
        position = ['28%', '50%']
      } else if (legendPosition === '下') {
        position = ["50%", "50%"]
      } else if (legendPosition === '左') {
        position = ['70%', '50%']
      }

      return position
    },

    /**
     * 获取AxisLine的颜色
     * @param customScopeShowLabel
     * @param customIntervalShowLabel
     * @param num
     * @param autoSetInterval
     * @param scaleRange
     * @param splitNum
     * @param gaugeInterval
     * @param gaugeColor
     */
    getAxisLineColor(customScopeShowLabel, customIntervalShowLabel, num, autoSetInterval, scaleRange, splitNum, gaugeInterval, gaugeColor) {
      let color = []

      if (customScopeShowLabel && customIntervalShowLabel) {
        splitNum = num
        if (autoSetInterval) {
          this.setGaugeInterval(scaleRange.min, scaleRange.max, splitNum, gaugeInterval)
        }
        color = this.setGaugeIntervalColor(gaugeColor, scaleRange.min, scaleRange.max, gaugeInterval)
      } else if (customScopeShowLabel) {
        splitNum = num
        this.setGaugeInterval(scaleRange.min, scaleRange.max, splitNum, gaugeInterval)
        color = this.setGaugeIntervalColor(gaugeColor, scaleRange.min, scaleRange.max, gaugeInterval)
      } else if (customIntervalShowLabel) {
        splitNum = 3
        if (autoSetInterval) {
          this.setGaugeInterval(scaleRange.min, scaleRange.max, splitNum, gaugeInterval)
        }
        color = this.setGaugeIntervalColor(gaugeColor, scaleRange.min, scaleRange.max, gaugeInterval)
      } else {
        splitNum = 3
        gaugeColor = ["#84AEFF", "#88CE76", "#FFD800"]
        this.setGaugeInterval(scaleRange.min, scaleRange.max, splitNum, gaugeInterval)
        color = this.setGaugeIntervalColor(gaugeColor, scaleRange.min, scaleRange.max, gaugeInterval)
      }

      return color
    },

    /**
     * 区间刻度范围设置
     * @param min
     * @param max
     * @param splitNum
     * @param gaugeInterval
     */
    setGaugeInterval(min = 0, max = 0, splitNum, gaugeInterval) {
      let _value = new BigNumber(max).minus(min).div(splitNum).toNumber()
      let singleInterval = Number(_value.toFixed(2))
      let data = []
      for (let i = 0; i < splitNum; i++) {
        if (i === 0) {
          gaugeInterval[0].left = Number(min.toFixed(2))
          gaugeInterval[0].right = Number((min + singleInterval).toFixed(2))
          data.push(min + singleInterval)
        } else {
          let leftData = data.pop()
          let rightData
          if (i === splitNum - 1) {
            rightData = max
          }  else {
            rightData = leftData + singleInterval
          }
          gaugeInterval[i].left = Number(leftData.toFixed(2))
          gaugeInterval[i].right = Number(rightData.toFixed(2))
          data.push(rightData)
        }
      }
    },

    /**
     * 区间颜色设置
     * @param gaugeColor
     * @param min
     * @param max
     * @param gaugeInterval
     * @returns {*[]}
     */
    setGaugeIntervalColor(gaugeColor, min, max, gaugeInterval) {
      let intervalColor = []
      let data = []
      let maxLen = Math.abs(max - min)
      let len = gaugeColor.length
      gaugeColor.forEach((item, index) => {
        let compareValue
        let left = gaugeInterval[index].left
        let right = gaugeInterval[index].right
        if (left === null || right === null) {
          compareValue = (maxLen / len) / maxLen
        } else {
          let nextRight
          if ((index + 1) !== len) {
            nextRight = gaugeInterval[index + 1].right
          } else {
            nextRight = gaugeInterval[len - 1].right
          }
          compareValue = this.setIntervalCompareValue(left, right, nextRight, maxLen)
        }
        data.push(compareValue)
        let value = 0
        data.forEach(m => value += m)
        intervalColor.push([
          value,
          item
        ])
      })
      return intervalColor
    },

    /**
     * 区间占比设置
     * @param left
     * @param right
     * @param nextRight
     * @param maxLen
     * @returns {number}
     */
    setIntervalCompareValue(left, right, nextRight, maxLen) {
      if (right === null) {
        right = Number((Math.abs(nextRight - left))) / 2
      }
      return Number(Math.abs(right - left)) / maxLen
    },
  },
};
</script>

<style scoped>
</style>
