<template>
  <div class="charts">
    <div id="linebarDom" ref="dom" class="chart-linebar"></div>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import { CANVAS_COLOR_CONFIG } from '@/config/ReportConstants'
import { NumberFormat } from '@/utils/formatData'
import tdTheme from './theme.json'
import { on, off } from '@/libs/tools'
import _ from 'lodash'
import {hexToRgb, rgbToHex} from '@/utils/rgbAndHexTransfer'
import BigNumber from 'bignumber.js'
import { getOriginName, deepCopy } from '@/utils/common'
import mixin from "_c/charts/mixin/chartMixin";
import { formatData } from '@/utils/BusinessDataHandleUtil'
echarts.registerTheme('tdTheme', tdTheme)
const colorList = tdTheme.color
export default {
  name: 'ChartLineBar',
  mixins: [ mixin ],
  props: {
    value: Object,
    chartId: String,
    editable: Boolean,
    propertyStyle: {
      type: Object,
      default: null
    },
    configData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    propertyData: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    currentSelectChartStyle: function () {
      return JSON.parse(JSON.stringify((this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style) || {}))
    },
    changeCurrentSelectChartStyle: function () {
      return this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style
    },
    isCurrentSelectChart: function () {
      return this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId
    },
    reportThemeStyle: function() {
      return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle || '1'
    },
    chartClickItemIndex() {
      return this.configData.linkOption ? this.configData.linkOption.chartClickItemIndex  : -1
    }
  },
  data () {
    return {
      dom: null
    }
  },
  methods: {
    resize () {
      let legendPosition = '下'
      if(this.dom != null){
        if (this.propertyStyle && this.propertyStyle.legendPosition) {
          legendPosition = this.propertyStyle.legendPosition
        } else if(this.currentSelectChartStyle && this.currentSelectChartStyle.legendPosition){
          legendPosition = this.currentSelectChartStyle.legendPosition
        }
        if(legendPosition === '左' || legendPosition === '右'){
          let _this = this;
          let widthGrid = parseInt(_this.$refs.dom.clientWidth * 0.18)
          let leftRightGrid = widthGrid < 70 ? 70 : widthGrid;
          this.dom.setOption({
            legend: {
              formatter:function (name) {
                return echarts.format.truncateText(name, leftRightGrid, '14px Microsoft Yahei', '…')
              }
            }
          })
        }
      }
      this.dom && this.dom.resize()
    },
    /**
     * 改变颜色
     * @param param
     * @param colorList
     * @param index
     * @returns {*}
     */
    chooseColor(param, oldColor) {
      let color = oldColor
      const chartClickItemIndex = this.chartClickItemIndex
      if(param && (chartClickItemIndex || chartClickItemIndex === 0)) {
        color = chartClickItemIndex === param.dataIndex ? hexToRgb(color) : (chartClickItemIndex === -1 ? hexToRgb(color) : hexToRgb(color, 0.2))
      } else {
        color = hexToRgb(color)
      }
      return color
    },
    refreshLineBarChart (style, changeType = '') {
      // value对象存在相关属性时再绘制图表
      if (!Object.keys(this.value).length) {
        return
      }
      if (!style) {
        style = {}
      }
      let theme = 'default'
      if(this.reportThemeStyle === '2') {
        theme = 'black'
      }
      let { barColor = [], barBorderRadius = 0, lineColor = [],
        } = style
      let legendData = this.value.legend
      let legend = this.refreshLegend(legendData, style)
      let xAxisData = this.value.xAxis
      let barColorIndex = 0
      let lineColorIndex = 0
      let isExistBar = false
      let isExistLine = false
      let yAxisData = []
      let that = this
      let seriesData = this.value.series.map((item, index) => {
        item.itemStyle = {}
        item.itemStyle.color = colorList[index]
        if (item.type === 'bar') {
          isExistBar = true
          if (barColor[barColorIndex]) {
            item.itemStyle.color = barColor[barColorIndex++]
          }
          item.itemStyle.color = function(param) {
            return that.chooseColor(param, param.color)
          }
          if (barBorderRadius !== 0) {
            item.itemStyle.barBorderRadius = [barBorderRadius, barBorderRadius, 0, 0]
          }
        } else if (item.type === 'line') {
          isExistLine = true
          if (lineColor[lineColorIndex]) {
            item.itemStyle.color = lineColor[lineColorIndex++]
          }
          /*
          改折点样式
          */
          item.symbol = function (param, a) {
            return that.chartClickItemIndex === a.dataIndex ? 'circle': 'emptyCircle'
          }
          /*
          改折点大小
          */
          item.symbolSize = function (param, a) {
            return that.chartClickItemIndex === a.dataIndex ? 10 : 6
          }
        }
        return { ...item }
      })
      if (changeType === 'valueChange') {
        let newBarColor = []
        let newLineColor = []
        this.value.series.forEach((seriesItem, seriesItemIndex) => {
          if (seriesItem.type === 'bar') {
            newBarColor.push(colorList[seriesItemIndex])
          } else {
            newLineColor.push(colorList[seriesItemIndex])
          }
        })
        // 类型有转换，长度不等，更改右边的style设置
        if(this.value.series.filter((item) => item.type === 'bar').length !== barColor.length || this.value.series.filter((item) => item.type === 'line').length !== lineColor.length){
          this.changeCurrentSelectChartStyle && this.$set(this.changeCurrentSelectChartStyle, 'barColor', newBarColor)
          this.changeCurrentSelectChartStyle && this.$set(this.changeCurrentSelectChartStyle, 'lineColor', newLineColor)
        }
      }
      let numberUnit = this.configData.numberUnit
      let decimalPlaces = this.configData.decimalPlaces
      let thousandsSeparator = this.configData.thousandsSeparator
      // 判断是否是百分比格式
      let isPercent = this.configData.showType === 1 ? true : false
      // valueConfig 数据相关的处理
      let valueConfig = this.getValueConfig(this.configData, isPercent)
      // showValueConfig 展示数据相关的处理
      let showValueConfig = this.getShowValueConfig(this.configData, isPercent)
      // 数值格式设置
      let numberUnitLabel = this.getNumberUnitLabel(this.configData, isPercent)

      // 副轴数值格式设置
      let subIsPercent = false
      let subValueConfig = {}, subShowValueConfig = {}
      let subNumberUnitLabel = ''
      if(this.configData.subDataSetting) {
        subIsPercent = this.configData.subDataSetting.showType === 1 ? true : false
        subValueConfig = this.getValueConfig(this.configData.subDataSetting, subIsPercent)
        subShowValueConfig = this.getShowValueConfig(this.configData.subDataSetting, subIsPercent)
        subNumberUnitLabel = this.getNumberUnitLabel(this.configData.subDataSetting, subIsPercent)
      }
      seriesData.forEach(item => {
        item.data = item.data.map(dataValItem => {
          let obj = {}
          obj.yAxisIndex = item.yAxisIndex
          if(item.yAxisIndex === 0) {
            let data = isPercent ? new BigNumber(dataValItem).times(100).toNumber() : dataValItem
            obj.value = formatData(data, valueConfig)
            obj.showValue = formatData(data, showValueConfig) + numberUnitLabel
          } else if(item.yAxisIndex === 1) {
            let data = subIsPercent ? new BigNumber(dataValItem).times(100).toNumber() : dataValItem
            obj.value = formatData(data, subValueConfig)
            obj.showValue = formatData(data, subShowValueConfig) + subNumberUnitLabel
          }
          return obj
        })
        // seriesItem添加标签相关的设置
        this.refreshLabel(item, style)
      })
      let defaultSetting = {
        ...CANVAS_COLOR_CONFIG[theme]
      }
      let { xAxis, yAxis } = this.refreshAxis(xAxisData, numberUnitLabel, Object.assign(defaultSetting, style))
      // yAxis动态处理，当存在折线图或柱形图时，加一个y轴
      if(isExistBar || isExistLine){
        yAxisData.push(yAxis)
      }
      // 当折线图或柱形图都存在时，加右边的另一个轴
      if(isExistBar && isExistLine){
        yAxisData.push({
          type: 'value',
          splitLine: {
            show: false
          },
          axisLine: yAxis.axisLine,
          axisLabel: deepCopy(yAxis.axisLabel)
        })
        yAxisData[1].axisLabel.formatter = `{value}${subNumberUnitLabel}`
      }

      let grid = this.refreshGrid(style)
      let option = {
        backgroundColor: style.areaColor,
        tooltip: {
          trigger: 'axis',
          confine: true,
          formatter: function(params){
            let str = ''
            if(params instanceof Array){
              str = `<div>${params[0].axisValue}`
              params.forEach(item => {
                str += `<br/>
                  ${item.marker} ${getOriginName(item.seriesName, legendData)}
                  <span style="float: right;margin-left: 10px;font-weight: bold;">
                    ${item.data.showValue}
                  </span>`
              })
              str += `</div>`
            }
            return str
          }
        },
        color: colorList,
        legend: legend,
        grid: grid,
        xAxis: xAxis,
        yAxis: yAxisData,
        series: seriesData
      }
      let axisLabelSetting = this.refreshAxisLabel(option.grid, xAxisData.length, style)
      Object.assign(option.xAxis.axisLabel, axisLabelSetting)
      if(style.mainAxisValueSetting) {
        let mainAxisValueSetting = this.refreshAxisValue(style.mainAxisValueSetting)
        Object.assign(option.yAxis[0], mainAxisValueSetting)
      }
      if(style.subAxisValueSetting && option.yAxis.length > 1) {
        let subAxisValueSetting = this.refreshAxisValue(style.subAxisValueSetting)
        Object.assign(option.yAxis[1], subAxisValueSetting)
      }
      this.dom = echarts.init(this.$refs.dom, 'tdTheme')
      // 绘制前先清空
      this.dom.clear()
      this.dom.setOption(option)
      // 点击legend，阻止事件冒泡
      this.dom.on('legendselectchanged', function(params) {
        event.stopPropagation()
        event.cancelBubble = true
      })
      this.dom.off('click')
      this.dom.on('click', (params) => {
        event.stopPropagation()
        this.handleChartItemClick(params, option, true)
      })
      on(window, 'resize', this.resize)
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$erd.listenTo(this.$el, this.resize.bind(this))
      if (this.propertyStyle) {
        this.refreshLineBarChart(this.propertyStyle)
      } else {
        this.refreshLineBarChart(this.currentSelectChartStyle)
      }
    })
  },
  beforeDestroy () {
    off(window, 'resize', this.resize)
  },
  watch: {
    value: {
      handler: function (val) {
        if (this.propertyStyle) {
          this.refreshLineBarChart(this.propertyStyle, 'valueChange')
        } else {
          this.refreshLineBarChart(this.currentSelectChartStyle, 'valueChange')
        }
      },
      deep: true
    },
    currentSelectChartStyle: {
      handler: function (val, oldval) {
        if (this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          let isTitleChange = false
          Object.keys(val).filter((key) => key.indexOf('title') !== -1).forEach((key) => {
            if (oldval && val[key] !== oldval[key]) {
              isTitleChange = true
            }
          })
          if (!isTitleChange) {
            this.refreshLineBarChart(val)
          } else {
            this.refreshLineBarChart(val)
          }
        }
      },
      deep: true
    },
    propertyStyle: {
      handler: function(val) {
        if(this.propertyStyle) {
          this.refreshLineBarChart(this.propertyStyle)
        } else {
          this.refreshLineBarChart(this.currentSelectChartStyle)
        }
      },
      deep: true
    }
  }
}
</script>

<style scoped>
.chart-linebar{
  flex: 1;
}
.lineBarSetting >>> .ivu-tree-title{
  color: #fff;
  background: transparent;
}
</style>
