<template>
  <div style="width: 100%; height: 100%">
    <div id="lineDom" ref="dom" class="charts chart-line" style="height: 100%; width: 100%"></div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import { CANVAS_COLOR_CONFIG } from "@/config/ReportConstants";
import { NumberFormat } from "@/utils/formatData";
import { formatData } from "@/utils/BusinessDataHandleUtil";
import tdTheme from "./theme.json";
import { on, off } from "@/libs/tools";
import { hexToRgb, rgbToHex } from "@/utils/rgbAndHexTransfer";
import BigNumber from "bignumber.js";
import { getOriginName } from "@/utils/common";
import mixin from "_c/charts/mixin/chartMixin";

echarts.registerTheme("tdTheme", tdTheme);
const colorList = tdTheme.color;
export default {
  name: "ChartLine",
  mixins: [mixin],
  props: {
    value: Object,
    chartId: String,
    propertyStyle: {
      type: Object,
      default: null
    },
    imgHeight: {
      type: Number,
      default: 1
    },
    configData: {
      type: Object,
      default: () => {
        return {};
      }
    },
    isIntelligentAnswer: {
      type: Boolean,
      default: false
    },
    propertyData: Object
  },
  computed: {
    currentSelectChartStyle() {
      return JSON.parse(JSON.stringify((this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style) || {}));
    },
    changeCurrentSelectChartStyle() {
      return this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style;
    },
    reportThemeStyle() {
      return (this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle) || "1";
    },
    chartClickItemIndex() {
      return this.configData.linkOption ? this.configData.linkOption.chartClickItemIndex : -1;
    }
  },
  data() {
    return {
      dom: null
    };
  },
  methods: {
    resize() {
      let legendPosition = "下";
      if (this.dom != null) {
        if (this.propertyStyle && this.propertyStyle.legendPosition) {
          legendPosition = this.propertyStyle.legendPosition;
        } else if (this.currentSelectChartStyle && this.currentSelectChartStyle.legendPosition) {
          legendPosition = this.currentSelectChartStyle.legendPosition;
        }
        if (legendPosition === "左" || legendPosition === "右") {
          let _this = this;
          let widthGrid = parseInt(_this.$refs.dom.clientWidth * 0.18);
          let leftRightGrid = widthGrid < 70 ? 70 : widthGrid;
          this.dom.setOption({
            legend: {
              formatter: function (name) {
                return echarts.format.truncateText(name, leftRightGrid, "14px Microsoft Yahei", "…");
              }
            }
          });
        }
      }
      this.dom && this.dom.resize();
    },
    /**
     * 改变颜色
     * @param param
     * @param colorList
     * @param index
     * @returns {*}
     */
    chooseColor(param, colorList, index) {
      let color = colorList[index];
      const chartClickItemIndex = this.chartClickItemIndex;
      if (param && (chartClickItemIndex || chartClickItemIndex === 0)) {
        color = chartClickItemIndex === param.dataIndex ? hexToRgb(color) : chartClickItemIndex === -1 ? hexToRgb(color) : hexToRgb(color, 0.2);
      } else {
        color = hexToRgb(color);
      }
      return color;
    },
    refreshLineChart(style, changeType = "", imgHeight) {
      // value对象存在相关属性时再绘制图表
      if (!Object.keys(this.value).length) {
        return;
      }
      if (!style) {
        style = {};
      }
      let theme = "default";
      if (this.reportThemeStyle === "2") {
        theme = "black";
      }
      let { lineType = "normal", lineColor = [], opacity = 1 } = style;
      let legendData = this.value.legend;
      let legend = this.refreshLegend(legendData, style, this.isIntelligentAnswer);
      let xAxisData = this.value.xAxis;
      let that = this;
      let seriesData = this.value.series.map((item, index) => {
        item.smooth = style.lineShape === "curve";
        item.zlevel = -1;
        item.itemStyle = { normal: {} };
        /*
        改折点样式
         */
        item.symbol = function (param, a) {
          return that.chartClickItemIndex === a.dataIndex ? "circle" : "emptyCircle";
        };
        /*
        改折点大小
         */
        item.symbolSize = function (param, a) {
          return that.chartClickItemIndex === a.dataIndex ? 10 : 6;
        };
        item.itemStyle.normal.color = function (param) {
          return that.chooseColor(param, colorList, index);
        };
        // item.itemStyle.normal.lineStyle.color = colorList[index]
        if (lineColor[index]) {
          item.itemStyle.normal.color = function (param) {
            return that.chooseColor(param, lineColor, index);
          };
          // item.itemStyle.normal.lineStyle.color = lineColor[index]
        }
        item.stack = this.configData.stack;
        if (this.configData.stack) {
          item.areaStyle = {
            opacity: opacity
          };
        }
        return { ...item };
      });
      if (changeType === "valueChange") {
        let newLineColor = [];
        this.value.series.forEach(seriesItem => {
          newLineColor.push(rgbToHex(seriesItem.itemStyle.normal.color()));
        });
        // 查看还原时不需要设置
        if (this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          this.changeCurrentSelectChartStyle && this.$set(this.changeCurrentSelectChartStyle, "lineColor", newLineColor);
        }
      }
      let numberUnit = this.configData.numberUnit;
      let decimalPlaces = this.configData.decimalPlaces;
      let thousandsSeparator = this.configData.thousandsSeparator;
      // 判断是否是百分比格式
      let isPercent = this.configData.showType === 1 ? true : false;
      // valueConfig 数据相关的处理
      let valueConfig = this.getValueConfig(this.configData, isPercent);
      // showValueConfig 展示数据相关的处理
      let showValueConfig = this.getShowValueConfig(this.configData, isPercent);
      // 数值格式设置
      let numberUnitLabel = this.getNumberUnitLabel(this.configData, isPercent);
      seriesData.forEach((item, index) => {
        item.data = item.data.map(dataValItem => {
          return isPercent ? new BigNumber(dataValItem).times(100).toNumber() : dataValItem;
        });
        if (lineType === "area") {
          // 面积图
          if (item.hasOwnProperty("stack")) {
            delete item.stack;
          }
          item.areaStyle = {
            opacity: opacity
          };
        } else if (lineType === "stack") {
          // 堆叠面积图
          item.stack = "total";
          item.areaStyle = {
            opacity: opacity
          };
        } else if (lineType === "stackPercent") {
          // 百分比堆叠面积图
          item.stack = "total";
          item.areaStyle = {
            opacity: opacity
          };
          item.originData = item.data;
          let total = [];
          let absTotal = [];
          if (index === 0) {
            // 第一次把所有对应的total都算出来
            item.data.forEach((item, index) => {
              let totalItem = this.value.series
                .map(item => item.data)
                .reduce((a, b) => {
                  return new BigNumber(a).plus(b[index]).toFixed(2);
                }, 0);
              let absTotalItem = this.value.series
                .map(item => item.data)
                .reduce((a, b) => {
                  return new BigNumber(Math.abs(a)).plus(Math.abs(b[index])).toFixed(2);
                }, 0);
              total.push(totalItem);
              absTotal.push(absTotalItem);
            });
            item.total = total;
            item.absTotal = absTotal;
          } else {
            total = seriesData[0].total;
            absTotal = seriesData[0].absTotal;
            item.total = seriesData[0].total;
            item.absTotal = seriesData[0].absTotal;
          }
          let data = [];
          item.data.forEach((item, index) => {
            if (absTotal[index] == 0) {
              data.push(0);
            } else {
              if (isPercent) {
                data.push(new BigNumber(item).div(absTotal[index]).toFixed(2));
              } else {
                data.push(new BigNumber(item).div(absTotal[index]).times(100).toFixed(2));
              }
            }
          });
          item.data = data;
        } else {
          // 普通折线图
          if (item.hasOwnProperty("stack")) {
            delete item.stack;
          }
        }
        item.data = item.data.map((dataValItem, index) => {
          let obj = {};
          if (lineType === "stackPercent") {
            obj.value = dataValItem;
            obj.originValue = item.originData[index];
            obj.totalValue = item.total[index];
            obj.absTotalValue = item.absTotal[index];
            obj.showValue = obj.value + "%";
          } else {
            obj.value = formatData(dataValItem, valueConfig);
            obj.showValue = formatData(dataValItem, showValueConfig) + numberUnitLabel;
          }
          return obj;
        });
        // seriesItem添加标签相关的设置
        this.refreshLabel(item, style);
      });
      let grid = this.refreshGrid(style);
      let defaultSetting = {
        ...CANVAS_COLOR_CONFIG[theme]
      };
      let { xAxis, yAxis } = this.refreshAxis(xAxisData, numberUnitLabel, Object.assign(defaultSetting, style));
      let option = {
        backgroundColor: style.areaColor,
        tooltip: {
          trigger: "axis", // axis   item   none三个值
          confine: true,
          formatter: function (params) {
            let str = "";
            if (params instanceof Array) {
              str = `<div>${params[0].axisValue}`;
              if (lineType === "stackPercent") {
                let totalValue = params
                  .map(item => item.data)
                  .reduce((a, b) => {
                    return new BigNumber(a).plus(b.originValue).toNumber();
                  }, 0);
                str += `<br/>
                  <span style="font-weight: bold;">总计</span>
                  <span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${formatData(totalValue, showValueConfig) + numberUnitLabel}
                      <span style="display:inline-block;width: 60px">
                        ${
                          params[0].data.absTotalValue == 0
                            ? "--"
                            : params.reduce((a, b) => {
                                return new BigNumber(Math.abs(a)).plus(Math.abs(b.data.value)).toFixed(2);
                              }, 0)
                        }%
                      </span>
                  </span>`;
              }
              params.forEach(item => {
                if (lineType === "stackPercent") {
                  str += `<br/>
                    ${item.marker} ${getOriginName(item.seriesName, legendData)}
                    <span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${formatData(item.data.originValue, showValueConfig) + numberUnitLabel}
                      <span style="display:inline-block;width: 60px">${params[0].data.absTotalValue == 0 ? "--" : item.value}%</span>
                    </span>`;
                } else {
                  str += `<br/>
                    ${item.marker} ${getOriginName(item.seriesName, legendData)}
                    <span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${item.data.showValue}
                    </span>`;
                }
              });
              str += `</div>`;
            }
            return str;
          }
        },
        color: this.propertyStyle ? this.propertyStyle.lineColor : colorList,
        legend: legend,
        grid: grid,
        xAxis: xAxis,
        yAxis: yAxis,
        series: seriesData
      };
      let axisLabelSetting = this.refreshAxisLabel(option.grid, xAxisData.length, style);
      Object.assign(option.xAxis.axisLabel, axisLabelSetting);
      let axisValueSetting = this.refreshAxisValue(style);
      Object.assign(option.yAxis, axisValueSetting);
      if (lineType === "stackPercent") {
        // 百分比堆积
        option.yAxis.axisLabel.formatter = "{value}%";
      }
      if (!this.dom) {
        this.dom = echarts.init(this.$refs.dom, "tdTheme");
      }
      this.dom.setOption(option, true);
      // 点击legend，阻止事件冒泡
      this.dom.on("legendselectchanged", function (params) {
        event.stopPropagation();
        event.cancelBubble = true;
      });
      this.dom.getZr().on("mousemove", function (params) {
        const { topTarget } = params;
        // 给折线的鼠标悬浮 变为 小手
        if (topTarget?.z === 2) {
          that.dom.getZr().setCursorStyle("pointer");
        }
      });
      this.dom.off("click");
      this.dom.on("click", params => {
        event.stopPropagation();
        this.handleChartItemClick(params, option, true);
      });
      on(window, "resize", this.resize);
    },
    /**
     * 下钻路径的点击上卷事件
     * @param e
     * @param item
     * @param idx
     */
    handleClickDrillDown(e, item, idx) {
      //设置点击状态
      let allItem = this.$refs["drillDownLine"].children[0].getElementsByClassName("drillDownItem"),
        drillDownOption = this.configData.drillDownOption;
      for (let i = 0; i < allItem.length; i++) {
        allItem[i].classList.remove("drillDownActive");
      }
      e.target.classList.add("drillDownActive");
      //上卷事件
      this.$set(this.propertyData, "dimension", [item.dimension.id]);
      let drillDownTagList = drillDownOption.drillDownTagList,
        prevDrillDownDimension = idx !== 0 ? drillDownTagList[idx - 1] : null;
      for (let i = idx + 1; i < drillDownTagList.length; i++) {
        drillDownTagList[i].arrive = false;
      }
      if (prevDrillDownDimension !== null) {
        this.$set(this.configData, "filterDimension", prevDrillDownDimension.dimension.id);
        this.$set(this.configData, "conditionValue", drillDownTagList[idx].conditionValue);
      } else {
        this.$set(this.configData, "filterDimension", "");
        this.$set(this.configData, "conditionValue", "");
        this.drillDownActive = 0;
      }
      this.configData.drillDownOption.drillDownStep = idx + 1;
      if (this.$parent.$parent.$parent.$parent.isPreview) {
        this.$parent.refreshData();
      }
    }
  },
  mounted() {
    // this.chartClickItemIndex = -1;
    this.$nextTick(() => {
      this.$erd.listenTo(this.$el, this.resize.bind(this));
      if (this.propertyStyle) {
        this.refreshLineChart(this.propertyStyle);
      } else {
        this.refreshLineChart(this.currentSelectChartStyle);
      }
    });
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  watch: {
    value: {
      handler() {
        if (this.propertyStyle || this.imgHeight) {
          this.refreshLineChart(this.propertyStyle, "valueChange");
        } else {
          this.refreshLineChart(this.currentSelectChartStyle, "valueChange");
        }
      },
      deep: true
    },
    imgHeight(val, old) {
      if (val !== old) {
        this.refreshLineChart(this.propertyStyle, "valueChange", this.imgHeight);
      }
    },
    currentSelectChartStyle: {
      handler(val, oldval) {
        if (this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          let isTitleChange = false;
          Object.keys(val)
            .filter(key => key.indexOf("title") !== -1)
            .forEach(key => {
              if (oldval && val[key] !== oldval[key]) {
                isTitleChange = true;
              }
            });
          if (!isTitleChange) {
            // 样式未发生变化不刷新相关配置项
            if (oldval && JSON.stringify(val) !== JSON.stringify(oldval)) {
              this.refreshLineChart(val);
            }
          } else {
            // 标题变化需要刷新图表的显示高度,更新grid-bottom的值（加上标题容器高度）(dbt)
            this.refreshLineChart(val);
          }
        }
      },
      deep: true
    },
    propertyStyle: {
      handler() {
        if (this.propertyStyle) {
          this.refreshLineChart(this.propertyStyle);
        } else {
          this.refreshLineChart(this.currentSelectChartStyle);
        }
      },
      deep: true
    }
  }
};
</script>

<style scoped>
.drillDownItem {
  margin-left: 5px;
  cursor: pointer;
}
.drillDownActive {
  color: #3f73ff;
}
</style>
