<template>
  <div ref="dom" className="charts chart-multiple-pie"></div>
</template>

<script>
import * as echarts from 'echarts'
import tdTheme from './theme.json'
import {on, off} from '@/libs/tools'
import _ from 'lodash'
echarts.registerTheme('tdTheme', tdTheme)
export default {
  name: "multiplePie",
  props: {
    value: Array,
    chartId: String,
    propertyStyle: {
      type: Object,
      default: null
    },
  },
  computed: {
    currentSelectChartStyle: function () {
      return this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style
    }
  },
  data() {
    return {
      dom: null
    }
  },
  methods: {
    resize() {
      this.dom && this.dom.resize()
    },
    refreshMultipleChart(style) {
      const data = this.value
      const color= ['#fb734e', '#e32f46','#94d96c', '#0bbcb7','#1a9bfc','#7049f0']
      const dataStyle = {
        normal: {
          label: {
            show: false
          },
          labelLine: {
            show: false
          },
          shadowBlur: 40,
          borderWidth: 10,
          shadowColor: 'rgba(0, 0, 0, 0)' //边框阴影
        }
      }
      const placeHolderStyle = {
        normal: {
          color: '#393d50',
          label: {
            show: false
          },
          labelLine: {
            show: false
          }
        },
        emphasis: {
          color: '#393d50'
        }
      }
      const option = {
        backgroundColor: '#142058',
        title: {
          text: '匹配度',
          x: 'center',
          y: 'center',
          textStyle: {
            fontWeight: 'normal',
            fontSize: 24,
            color: "#fff",
          }
        },
        tooltip: {
          trigger: 'item',
          show: true,
          formatter: "{b} : <br/>{d}%",
          backgroundColor: 'rgba(0,0,0,0.7)', // 背景
          padding: [8, 10], //内边距
          extraCssText: 'box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);', //添加阴影
        },
        legend: {
          show: true,
          orient: 'vertical',
          // icon: 'circle',
          left: 'left',
          top: '20',
          itemGap:20,
          data: ['二级匹配度', '三级匹配度', '四级匹配度', '04', '05', '06'],
          textStyle: {
            color: '#fft'
          }
        },
        series: [{
          name: 'Line 1',
          type: 'pie',
          // clockWise: false,
          radius: ['40%', '45%'],
          center:['50%','50%'],
          itemStyle: dataStyle,
          hoverAnimation: false,
          startAngle: 90,
          label:{
            borderRadius:'10',
          },
          data: [{
            value: 54.6,
            name: '四级匹配度',
            itemStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                  offset: 0,
                  color:color[0]
                }, {
                  offset: 1,
                  color: color[1]
                }])
              }
            }
          },
            {
              value: 45.4,
              name: '',
              tooltip: {
                show: false
              },
              itemStyle: placeHolderStyle
            },
          ]
        },
          {
            name: 'Line 2',
            type: 'pie',
            // clockWise: false,
            radius: ['45%', '50%'],
            center:['50%','50%'],
            itemStyle: dataStyle,
            hoverAnimation: false,
            startAngle: 90,
            data: [{
              value: 56.7,
              name: '三级匹配度',
              itemStyle: {
                normal: {
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: color[2]
                  }, {
                    offset: 1,
                    color: color[3]
                  }])
                }
              }
            },
              {
                value: 43.3,
                name: '',
                tooltip: {
                  show: false
                },
                itemStyle: placeHolderStyle
              },
            ]
          },
          {
            name: 'Line 3',
            type: 'pie',
            // clockWise: false,
            radius: ['50%', '55%'],
            center:['50%','50%'],
            itemStyle: dataStyle,
            hoverAnimation: false,
            startAngle: 90,
            data: [{
              value: 30,
              name: '二级匹配度',
              itemStyle: {
                normal: {
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: color[4]
                  }, {
                    offset: 1,
                    color: color[5]
                  }]),
                }
              }
            },
              {
                value: 70,
                name: '',
                tooltip: {
                  show: false
                },
                itemStyle: placeHolderStyle
              },
            ]
          }
        ]
      };
      this.dom = echarts.init(this.$refs.dom, 'tdTheme')
      this.dom.setOption(option)
      on(window, 'resize', this.resize)
    }
  },
  mounted() {
    this.$nextTick(() => {
      if (this.propertyStyle) {
        this.refreshMultipleChart(this.propertyStyle)
      } else {
        this.refreshMultipleChart(this.currentSelectChartStyle)
      }
    })
  },
  beforeDestroy() {
    off(window, 'resize', this.resize)
  },
}
</script>

<style scoped>

</style>
