<template>
  <div style="width: 100%; height: 100%">
    <div id="pieDom" ref="dom" className="charts chart-pie" style="width: 100%; height: 100%"></div>
  </div>
</template>

<script>
import * as echarts from 'echarts'
import tdTheme from './theme.json'
import {on, off} from '@/libs/tools'
import _ from 'lodash'
import BigNumber from 'bignumber.js';
import equalImage from '../../assets/images/report/equal.png'
import upImage from '../../assets/images/report/up.png'
import downImage from '../../assets/images/report/down.png'
import { formatData } from '@/utils/BusinessDataHandleUtil'
import { deepCopy } from '@/utils/common'
import mixin from "_c/charts/mixin/chartMixin";

echarts.registerTheme('tdTheme', tdTheme)
export default {
  name: 'ChartPie',
  mixins: [ mixin ],
  props: {
    value: Array,
    text: String,
    subtext: String,
    indicatorName: String,
    chartId: String,
    propertyStyle: {
      type: Object,
      default: null
    },
    configData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    propertyData: Object
  },
  computed: {
    currentSelectChartStyle: function () {
      return this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style
    },
    reportThemeStyle: function() {
      return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle || '1'
    },
    // configData() {
    //   return this.propertyData && this.propertyData.configData
    // }
  },
  data() {
    return {
      dom: null,
      option:  null,
      lastClickItemIndex: -1
    }
  },
  methods: {
    resize() {
      this.dom && this.dom.resize()
    },
    refreshLegend(legendData, legendPosition) {
      legendData.forEach((item,index) => {
        if(item.hasOwnProperty('dayCompareNum')){
          legendData[index].textStyle = {
            rich: {
              a: {
                width: 15,
                height: 10
              },
              white:{
                // color:"#fff",
                fontSize:12,
                padding:[6,0,0,0]
              }
            }
          }
          if(Number(item.dayCompareNum) === 0 || item.dayCompareNum === '-'){
            legendData[index].textStyle.rich.a.backgroundColor = {
              image: `${equalImage}`
            }
          }else if(item.dayCompareNum > 0){
            legendData[index].textStyle.rich.a.backgroundColor = {
              image: `${upImage}`
            }
          }else if(item.dayCompareNum < 0){
            legendData[index].textStyle.rich.a.backgroundColor = {
              image: `${downImage}`
            }
          }
        } else {
          if(legendData[index]?.textStyle?.rich?.a) {
            legendData[index].textStyle.rich.a = {}
          }
        }
        if(item.hasOwnProperty('sameCompareNum')) {
          if(legendData[index]?.textStyle?.rich) {
            legendData[index].textStyle.rich.b = {
              width: 15,
              height: 10
            }
          } else {
            legendData[index].textStyle = {
              rich: {
                b: {
                  width: 15,
                  height: 10
                },
              }
            }
          }
          if(Number(item.sameCompareNum) === 0 || item.sameCompareNum === '-'){
            legendData[index].textStyle.rich.b.backgroundColor = {
              image: `${equalImage}`
            }
          }else if(item.sameCompareNum > 0){
            legendData[index].textStyle.rich.b.backgroundColor = {
              image: `${upImage}`
            }
          }else if(item.sameCompareNum < 0){
            legendData[index].textStyle.rich.b.backgroundColor = {
              image: `${downImage}`
            }
          }
        } else {
          if(legendData[index]?.textStyle?.rich?.b) {
            legendData[index].textStyle.rich.b = {}
          }
        }
      })
      let legend = {
        data: legendData,
        icon: 'circle',
        itemHeight: 8,
        itemWidth: 8,
        bottom: 0,
        inactiveColor: this.reportThemeStyle === '1' ? '#ccc' : '#555',
        textStyle: {
          color: this.reportThemeStyle === '1' ? '#555' : '#ccc',
          fontSize: 12
        }
      }
      let piePosition = '50%'
      if (legendPosition === '上') {
        legend = _.assign(legend, {
          x: 'center',
          y: 'top',
          orient: 'horizontal'
        })
        piePosition = ['50%', '60%']
      } else if (legendPosition === '右') {
        legend = _.assign(legend, {
          x: 'right',
          y: 'center',
          orient: 'vertical',
          align: 'left'
        })
        piePosition = ['30%', '50%']
      } else if (legendPosition === '下') {
        legend = _.assign(legend, {
          x: 'center',
          y: 'bottom',
          orient: 'horizontal'
        })
        piePosition = ['50%', '40%']
      } else if (legendPosition === '左') {
        legend = _.assign(legend, {
          x: 'left',
          y: 'center',
          orient: 'vertical'
        })
        piePosition = ['70%', '50%']
      }
      const obj = {legend: legend, piePosition: piePosition}
      return obj
    },
    refreshPieChart(style) {
      if (!style) {
        style = {}
      }
      let {pieMode = '1', legendPosition = '右', labelShow = 'false'} = style
      let finalRes = this.refreshLegend(this.value, legendPosition)
      let legend = finalRes.legend
      let piePosition = finalRes.piePosition
      // 总和
      const total = this.value.reduce((total, num) => {
        return new BigNumber(total).plus(num.value)
      }, 0)
      // 判断是否是百分比格式
      let isPercent = this.configData.showType === 1 ? true : false
      // valueConfig 数据相关的处理
      let valueConfig = this.getValueConfig(this.configData, isPercent)
      // showValueConfig 展示数据相关的处理
      let showValueConfig = this.getShowValueConfig(this.configData, isPercent)
      // 数值格式设置
      let numberUnitLabel = this.getNumberUnitLabel(this.configData, isPercent)
      this.value.forEach(dataItem => {
        // 显示的值 加上展示格式
        if(isPercent) {
          dataItem.showValue = formatData(new BigNumber(dataItem.value).times(100), showValueConfig) + numberUnitLabel
          dataItem.percent = new BigNumber(dataItem.value).div(total).toFixed(2)
        } else {
          dataItem.showValue = formatData(dataItem.value, showValueConfig) + numberUnitLabel
          dataItem.percent = new BigNumber(dataItem.value).div(total).times(100).toFixed(2)
        }
        // 环比显示时 也要加上展示格式
        if(dataItem.hasOwnProperty('dayCompareNum')) {
          if(isPercent) {
            dataItem.dayCompareNumShow = formatData(new BigNumber(dataItem.dayCompareNum).times(100), showValueConfig) + numberUnitLabel
          } else {
            dataItem.dayCompareNumShow = formatData(dataItem.dayCompareNum, showValueConfig) + numberUnitLabel
          }
        }
        // 同比显示时 也要加上展示格式
        if(dataItem.hasOwnProperty('sameCompareNum')) {
          if(isPercent) {
            dataItem.sameCompareNumShow = formatData(new BigNumber(dataItem.sameCompareNum).times(100), showValueConfig) + numberUnitLabel
          } else {
            dataItem.sameCompareNumShow = formatData(dataItem.sameCompareNum, showValueConfig) + numberUnitLabel
          }
        }
      })
      let seriesData = [
        {
          name: this.indicatorName,
          type: 'pie',
          center: piePosition,
          radius: pieMode === '2' ? ['36%', '63%'] : '63%',
          avoidLabelOverlap: false,
          cursor: 'default',
          data: deepCopy(this.value)
        }
      ]
      // seriesItem添加标签相关的设置
      this.refreshLabel(seriesData[0], style)
      let option = {
        title: {
          text: labelShow === 'true' ? '总规模' : this.text,
          subtext: labelShow === 'true' ? total.toNumber() : this.subtext,
          x: piePosition[0],
          y: piePosition[1],
          textAlign: 'center',
          textVerticalAlign: 'bottom',
          padding: [0, 0, 0, 0],
          textStyle: {
            color: '#000',
            fontWeight: 'normal',
            fontSize: 18,
            textBorderColor: '#fff',
            textBorderWidth: 2,
          },
          subtextStyle: {
            color: '#333',
            fontSize: 25,
            textBorderColor: '#fff',
            textBorderWidth: 2
          }
        },
        tooltip: {
          trigger: 'item',
          confine: true,
          formatter: (params) => {
            let str = ''
            str += `${params.seriesName}<br/>`
            str += `${params.name} : ${params.data.showValue}<br/>`
            str += `占比 : ${params.data.percent}%`
            return str
          }
        },
        legend,
        color:['#5B8FF9','#5AD8A6','#6685BD','#F6BD16','#E86452 ','#6DC8EC','#945FB9','#FF9845','#1E9493','#FF99C3'],
        series: seriesData
      }
      // radius饼图的外半径以容器宽高较小的一项为基准
      let widthGrid = this.$refs.dom.clientWidth - parseInt(Math.min(this.$refs.dom.clientWidth, this.$refs.dom.clientHeight) * 0.7)
      let leftRightGrid = widthGrid < 70 ? 70 : widthGrid

      let _this = this
      // legend处理
      option.legend.formatter = (name) => {
        const itemValueArr = this.value.filter(el => el.name === name)
        let str = `${name}    ${(itemValueArr[0].value / total * 100).toFixed(2)}%     ${itemValueArr[0].showValue}`
        if((itemValueArr[0].hasOwnProperty('dayCompareNum') && itemValueArr[0].dayCompareNum !== null) ||
            (itemValueArr[0].hasOwnProperty('sameCompareNum') && itemValueArr[0].sameCompareNum !== null)){
          const flag = itemValueArr[0].dayCompareNum > 0 ? '上升' : itemValueArr[0].dayCompareNum < 0 ? '下跌' : '持平'
          if(_this.configData.useCompare && _this.configData.useRingRatio) {
            str += `\n环比${_this.configData.ringRatioUnitValue === 'per' ? '幅度' : ''}  {a|}  ${
              _this.configData.ringRatioUnitValue === 'per' ?
                itemValueArr[0].dayCompareRate : itemValueArr[0].dayCompareNumShow }`
          }
          if(_this.configData.useCompare && _this.configData.useYearOnYear) {
            str += `\n同比${_this.configData.yearOnYearUnitValue === 'per' ? '幅度' : ''}  {b|}  ${
              _this.configData.yearOnYearUnitValue === 'per' ?
                itemValueArr[0].sameCompareRate : itemValueArr[0].sameCompareNumShow }`
          }
        }
        if(legendPosition === '左' || legendPosition === '右'){
          return echarts.format.truncateText(str, leftRightGrid, '14px Microsoft Yahei', '…')
        } else {
          return str
        }
      }
      if (!this.dom) {
        this.dom = echarts.init(this.$refs.dom, 'tdTheme')
      }
      this.dom.setOption(option)
      this.option = {...option}
      this.registerEvent(option)
      this.setHighlightItem()
    },
    setHighlightItem() {
      const {linkOption} = this.configData
      if (linkOption) {
        const {chartClickItemIndex} = linkOption
        let dataLen = this.option.series[0].data.length;
        for(let i = 0; i < dataLen; i++) {
          this.dom.dispatchAction({
            type: i == chartClickItemIndex ? 'highlight' : 'downplay',
            seriesIndex: 0,
            dataIndex: i
          })
        }
      }
    },
    registerEvent(option) {
      this.registerClickEvent(option)
      this.registerResizeEvent()
    },
    registerResizeEvent() {
      on(window, 'resize', this.resize)
    },
    registerClickEvent(option) {
      /**
       * 饼图点击事件
       */
      //清除上一次点击事件
      this.dom.off('click')
      //创建点击事件
      this.dom.on('click',  (params) => {
        //阻止冒泡
        event.stopPropagation()
        this.handleChartItemClick(params, option, true)
      })
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$erd.listenTo(this.$el, this.resize.bind(this))
      if (this.propertyStyle) {
        this.refreshPieChart(this.propertyStyle)
      } else {
        this.refreshPieChart(this.currentSelectChartStyle)
      }
    })
  },
  beforeDestroy() {
    off(window, 'resize', this.resize)
  },
  watch: {
    value: {
      handler: function (val,oldval) {
        // console.log('原子饼图组件数据监听', val)
        if (this.propertyStyle) {
          this.refreshPieChart(this.propertyStyle)
        } else {
          this.refreshPieChart(this.currentSelectChartStyle)
        }
      },
      deep: true
    },
    currentSelectChartStyle: {
      handler: function (val) {
        if (this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          this.refreshPieChart(val)
        }
      },
      deep: true
    },
    reportThemeStyle: {
      handler: function(val) {
        if(this.propertyStyle) {
          this.refreshPieChart(this.propertyStyle)
        } else {
          this.refreshPieChart(this.currentSelectChartStyle)
        }
      }
    }
  }
}
</script>
