<template>
  <div style="width: 100%; height: 100%">
    <div id="radarDom" ref="dom" className="charts chart-radar" style="width: 100%; height: 100%"></div>
  </div>
</template>

<script>
import * as echarts from "echarts";
import tdTheme from "./theme.json";
import { on, off } from "@/libs/tools";
import _ from "lodash";
import { deepCopy } from "@/utils/common";
import { getOriginName } from "@/utils/common";
import mixin from "_c/charts/mixin/chartMixin";
import BigNumber from "bignumber.js";
import { formatData } from "@/utils/BusinessDataHandleUtil";
import { mapGetters } from "vuex";

const colorList = [
  "#5B8FF9",
  "#5AD8A6",
  "#6685BD",
  "#F6BD16",
  "#E86452 ",
  "#6DC8EC",
  "#945FB9",
  "#FF9845",
  "#1E9493",
  "#FF99C3",
];
echarts.registerTheme("tdTheme", tdTheme);
export default {
  name: "ChartRadar",
  mixins: [mixin],
  props: {
    value: Array,
    radarData: Array,
    text: String,
    subtext: String,
    indicatorName: String,
    chartId: String,
    propertyStyle: {
      type: Object,
      default: null,
    },
    configData: {
      type: Object,
      default: () => {
        return {};
      },
    },
    propertyData: Object,
  },
  computed: {
    ...mapGetters(["currentSelectIndicators"]),
    currentSelectChartIndicator() {
      return this.currentSelectIndicators;
    },
    currentSelectChartStyle: function () {
      return (
        this.$store.state.chart.currentSelectChart &&
        this.$store.state.chart.currentSelectChart.style
      );
    },
    reportThemeStyle: function () {
      return (
        (this.$store.state.chart.reportSetting &&
          this.$store.state.chart.reportSetting.themeStyle) ||
        "1"
      );
    },
    changeCurrentSelectChartStyle: function () {
      return (
        this.$store.state.chart.currentSelectChart &&
        this.$store.state.chart.currentSelectChart.style
      );
    },
    // currentSelectChartIndicator: function () {
    //   return this.$store.state.chart.currentSelectIndicators;
    // },
  },
  data() {
    return {
      dom: null,
      option: null,
      lastClickItemIndex: -1,
    };
  },
  methods: {
    resize() {
      this.dom && this.dom.resize();
    },
    refreshLegend(legendData, legendPosition, style) {
      let {
        legendFontFamily = "Microsoft YaHei",
        legendFontSize = 12,
        axisLabelHidden,
        legendShow = true,
      } = style;
      let legendArr = [];
      legendData.forEach((item) => {
        legendArr.push({
          name:item.name,
          itemStyle:{
            color:item.itemStyle.color
          }
        });
      });
      let legend = {
        show: legendShow,
        data: legendArr,
        icon: "rect",
        itemHeight: 6,
        itemWidth: 8,
        // bottom: 15,
        inactiveColor: this.reportThemeStyle === "1" ? "#ccc" : "#555",
        textStyle: {
          color: this.reportThemeStyle === "1" ? "#555" : "#ccc",
          fontSize: legendFontSize,
          fontFamily: legendFontFamily,
        },
      };
      let radarPosition = "50%";
      let radarRadius = "75%";
      // 判断是否是当前name和父name拼接
      let isLongName = false;
      if (legendData.length && legendData[0] instanceof Object) {
        isLongName = true;
      }
      if (legendShow) {
        if (legendPosition === "上") {
          legend = _.assign(legend, {
            x: "center",
            y: "top",
            orient: "horizontal",
            formatter: function (name) {
              return isLongName ? getOriginName(name, legendData) : name;
            },
          });
          radarPosition = ["50%", "55%"];
          radarRadius = axisLabelHidden ? "75%" : "60%";
        } else if (legendPosition === "右") {
          legend = _.assign(legend, {
            x: "right",
            y: "center",
            orient: "vertical",
            align: "left",
            formatter: function (name) {
              return isLongName ? getOriginName(name, legendData) : name;
            },
          });
          radarPosition = ["40%", "50%"];
          radarRadius = "75%";
        } else if (legendPosition === "下") {
          legend = _.assign(legend, {
            x: "center",
            y: "bottom",
            orient: "horizontal",
            formatter: function (name) {
              return isLongName ? getOriginName(name, legendData) : name;
            },
          });
          radarPosition = ["50%", "45%"];
          radarRadius = axisLabelHidden ? "75%" : "60%";
        } else if (legendPosition === "左") {
          legend = _.assign(legend, {
            x: "left",
            y: "center",
            orient: "vertical",
            formatter: function (name) {
              return isLongName ? getOriginName(name, legendData) : name;
            },
          });
          radarPosition = ["60%", "50%"];
          radarRadius = "75%";
        }
      } else {
        radarPosition = ["50%", "50%"];
        radarRadius = "75%";
      }
      const obj = {
        legend: legend,
        radarPosition: radarPosition,
        radarRadius,
        radarRadius,
      };
      return obj;
    },
    refreshRadarChart(style, changeType = "") {
      if (!style) {
        style = {};
      }
      let {
        legendPosition = "下",
        labelShow = "false",
        splitLineType = "solid",
        splitLineColor = "#cccccc",
        areaColor,
        axisLineColor = "rgba(191,191,191,0.3)",
        axisLabelColor = "rgba(0,0,0,0.65)",
        axisLabelFontSize = "10",
        axisLabelHidden,
        splitLineHidden,
        labelRange,
        showLabel,
        axisTickHidden,
        radarColor = [],
      } = style;
      // 判断是否是百分比格式
      let isPercent = this.configData.showType === 1 ? true : false;
      // valueConfig 数据相关的处理
      let valueConfig = this.getValueConfig(this.configData, isPercent);
      // showValueConfig 展示数据相关的处理
      let showValueConfig = this.getShowValueConfig(this.configData, isPercent);
      // 数值格式设置
      let numberUnitLabel = this.getNumberUnitLabel(this.configData, isPercent);
      let radarDataInit = deepCopy(this.value);
      //总和大的数据放在前面就会置底
      radarDataInit.sort((a, b) => {
        const sumA = a.value.reduce((acc, curr) => acc + curr);
        const sumB = b.value.reduce((acc, curr) => acc + curr);
        return sumB - sumA;
      })
      let radarDataShow = [];
      radarDataInit.forEach((item, index) => {
        //如果有就用配置色,没有就用预置色
        const chartColor = radarColor[index] ? radarColor[index] : colorList[index];
        radarDataShow.push({
          ...item,
          value: item.value.map((valueItem) => {
            let valueShow = valueItem ? valueItem : 0;
            valueShow = isPercent
              ? new BigNumber(valueShow).times(100).toNumber()
              : valueShow;
            return formatData(valueShow, valueConfig);
          }),
          itemStyle: {
            color: chartColor,
          },
          areaStyle: {
            color: chartColor,
            opacity: 0.2,
          },
        });
      });
      let finalRes = this.refreshLegend(radarDataShow, legendPosition, style);
      let legend = finalRes.legend;
      let radarPosition = finalRes.radarPosition;
      let radarRadius = finalRes.radarRadius;
      let seriesData = [
        {
          name: this.indicatorName,
          type: "radar",
          symbol: "circle",
          symbolSize: 1,
          data: radarDataShow,
        },
      ];
      if (changeType === "valueChange") {
        let newColor = [];
        radarDataShow.forEach((seriesItem) => {
          newColor.push(seriesItem.itemStyle.color);
        });
        this.changeCurrentSelectChartStyle &&
          this.$set(this.changeCurrentSelectChartStyle, "radarColor", newColor);
      }
      let indicatorData = deepCopy(this.radarData);
      let axisValueSetting = this.refreshAxisValue(style);
      let indicatorAxisObj = {
        axisLine: {
          lineStyle: {
            color: !axisTickHidden ? "#BFBFBF" : axisLineColor,
            type: "solid",
          },
        },
        axisTick: {
          show: !axisTickHidden,
          lineStyle: {
            color: !axisTickHidden ? "#BFBFBF" : axisLineColor,
            type: "solid",
          },
        },
        axisLabel: {
          show: !axisTickHidden,
          color:
            this.reportThemeStyle === "2"
              ? "rgba(255,255,255,0.85)"
              : "rgba(0, 0, 0, 0.65)",
          formatter: (params) => {
            let valueShowAxis = isPercent ? params : params;
            // return formatData(valueShowAxis, axisValueShow) + numberUnitLabel
            return (
              formatData(valueShowAxis, {
                thousandth: showValueConfig.thousandth,
                decimalDigits: 0,
              }) + numberUnitLabel
            );
          },
        },
      };
      // console.log('==',indicatorData[0],indicatorAxisObj)
      Object.assign(indicatorData[0] || {}, indicatorAxisObj);
      //如果是百分比，数值扩大一百倍，最大最小值也要扩大一百倍
      let axisValueShow = {};
      let maxVal = indicatorData[0]?.max;
      let minVal = indicatorData[0]?.min;
      if (isPercent) {
        maxVal = new BigNumber(indicatorData[0]?.max).times(100).toNumber();
        minVal = new BigNumber(indicatorData[0]?.min).times(100).toNumber();
      }
      if (showValueConfig.numberUnit === "original") {
        axisValueShow = {
          max: maxVal,
          min: minVal,
        };
      } else {
        axisValueShow = {
          max: formatData(maxVal, {
            numberUnit: showValueConfig.numberUnit,
          }),
          min: formatData(minVal, {
            numberUnit: showValueConfig.numberUnit,
          }),
        };
      }
      indicatorData.forEach((item) => {
        Object.assign(item, axisValueShow);
        Object.assign(item, axisValueSetting);
      });
      // seriesItem添加标签相关的设置
      this.refreshLabel(seriesData[0], style);
      if (labelRange === "maxmin" && showLabel) {
        seriesData[0].data.forEach((dataItem) => {
          let maxVal, minVal;
          maxVal = Math.max.apply(
            Math,
            dataItem.value.map((row) => Number(row))
          );
          minVal = Math.min.apply(
            Math,
            dataItem.value.map((row) => Number(row))
          );
          dataItem.label.formatter = (params) => {
            if (
              Number(params.value) === maxVal ||
              Number(params.value) === minVal
            ) {
              return (
                formatData(params.value, {
                  thousandth: showValueConfig.thousandth,
                  decimalDigits: showValueConfig.decimalDigits,
                }) + numberUnitLabel
              );
            } else {
              return "";
            }
          };
        });
      } else if (labelRange !== "maxmin" && showLabel) {
        seriesData[0].data.forEach((dataItem) => {
          dataItem.label.formatter = (params) => {
            return (
              formatData(params.value, {
                thousandth: showValueConfig.thousandth,
                decimalDigits: showValueConfig.decimalDigits,
              }) + numberUnitLabel
            );
          };
        });
      }
      let option = {
        backgroundColor: areaColor,
        tooltip: {
          trigger: "item",
          confine: true,
          formatter: (params) => {
            let str = "";
            str += `${params.name}<br/>`;
            params.value.forEach((item, index) => {
              str += `${params.marker}${this.radarData[index].name}
              <span style="float: right;margin-left: 10px;font-weight: bold;">
                ${formatData(item, {
                  thousandth: showValueConfig.thousandth,
                  decimalDigits: showValueConfig.decimalDigits,
                })}
                ${numberUnitLabel}
              </span>
              <br/>`;
            });
            return str;
          },
        },
        radar: {
          indicator: indicatorData,
          center: radarPosition,
          radius: radarRadius,
          splitLine: {
            show: !splitLineHidden && splitLineType !== "none",
            lineStyle: {
              color: splitLineColor,
              type: splitLineType,
            },
          },
          splitArea: {
            areaStyle: {
              color: "transparent",
            },
          },
          axisLine: {
            show: !splitLineHidden && splitLineType !== "none",
            lineStyle: {
              color: axisLineColor,
              type: splitLineType,
            },
          },
          triggerEvent: true,
          axisName: {
            show: !axisLabelHidden,
            color: axisLabelColor,
            fontSize: axisLabelFontSize,
          },
        },
        legend,
        // color:['#5B8FF9','#5AD8A6','#6685BD','#F6BD16','#E86452 ','#6DC8EC','#945FB9','#FF9845','#1E9493','#FF99C3'],
        series: seriesData,
      };
      // radiu雷达的外半径以容器宽高较小的一项为基准
      let widthGrid =
        this.$refs.dom.clientWidth -
        parseInt(
          Math.min(this.$refs.dom.clientWidth, this.$refs.dom.clientHeight) *
            0.7
        );
      let leftRightGrid = widthGrid < 70 ? 70 : widthGrid;

      let _this = this;
      if (!this.dom) {
        this.dom = echarts.init(this.$refs.dom, "tdTheme");
      }
      this.dom.setOption(option);
      this.option = { ...option };
      this.registerEvent(option);
      this.setHighlightItem();
    },
    setHighlightItem() {
      const { linkOption } = this.configData;
      if (linkOption) {
        const { chartClickItemIndex } = linkOption;
        let dataLen = this.option.series[0].data.length;
        for (let i = 0; i < dataLen; i++) {
          this.dom.dispatchAction({
            type: i == chartClickItemIndex ? "highlight" : "downplay",
            seriesIndex: 0,
            dataIndex: i,
          });
        }
      }
    },
    registerEvent(option) {
      this.registerClickEvent(option);
      this.registerResizeEvent();
      this.registerPreventEvent()
    },
    registerResizeEvent() {
      on(window, "resize", this.resize);
    },
    registerClickEvent(option) {
      /**
       * 雷达图点击事件
       */
      //清除上一次点击事件
      this.dom.off("click");
      //创建点击事件
      this.dom.on("click", (params) => {
        //阻止冒泡
        event.stopPropagation();
        if (params.targetType === "axisName") {
          this.handleChartItemClick(params, option, true);
        }
      });
    },
    //阻止鼠标移至图层使图层置顶导致遮住其他图层
    registerPreventEvent() {
      this.dom.on('mousemove', (params) => {
        this.dom.dispatchAction({
          type: 'downplay',
          seriesIndex: params.seriesIndex
        });
      })
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$erd.listenTo(this.$el, this.resize.bind(this));
      if (this.propertyStyle) {
        this.refreshRadarChart(this.propertyStyle);
      } else {
        this.refreshRadarChart(this.currentSelectChartStyle);
      }
    });
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  watch: {
    value: {
      handler: function (val, oldval) {
        if (this.propertyStyle) {
          if (this.dom) {
            //数据更新后需清除原有图表重新渲染 否则echarts缓存会将原有数据图层置底 
            this.dom.clear(); 
          }
          this.refreshRadarChart(this.propertyStyle, "valueChange");
        } else {
          this.refreshRadarChart(this.currentSelectChartStyle, "valueChange");
        }
      },
      deep: true,
    },
    currentSelectChartStyle: {
      handler: function (val) {
        if (
          this.$store.state.chart.currentSelectChart &&
          this.$store.state.chart.currentSelectChart.chartId === this.chartId
        ) {
          this.refreshRadarChart(val);
        }
      },
      deep: true,
    },
    reportThemeStyle: {
      handler: function (val) {
        if (this.propertyStyle) {
          this.refreshRadarChart(this.propertyStyle);
        } else {
          this.refreshRadarChart(this.currentSelectChartStyle);
        }
      },
    },
  },
};
</script>
