<template>
  <div id="scatterDom" ref="dom" className="charts chart-scatter"></div>
</template>

<script>
import * as echarts from 'echarts'
import tdTheme from './theme.json'
import { on, off } from '@/libs/tools'
import _ from 'lodash'
import BigNumber from 'bignumber.js';
import { CANVAS_COLOR_CONFIG } from '@/config/ReportConstants'
import { deepCopy } from '@/utils/common'
import { formatData } from '@/utils/BusinessDataHandleUtil'
import { hexToRgb } from '@/utils/rgbAndHexTransfer'
import mixin from "_c/charts/mixin/chartMixin";

echarts.registerTheme('tdTheme', tdTheme)
const colorList = tdTheme.color
export default {
  name: "scatter",
  mixins: [mixin],
  props: {
    value: Array, // 图表数据
    chartId: String,
    propertyData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    configData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    propertyStyle: {
      type: Object,
      default: null
    },
  },
  computed: {
    currentSelectChartStyle() {
      return this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style
    },
    reportThemeStyle() {
      return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle || '1'
    },
    chartClickItemIndex() {
      return this.configData.linkOption ? this.configData.linkOption.chartClickItemIndex : -1
    }
  },
  data() {
    return {
      dom: null
    }
  },
  methods: {
    resize() {
      this.dom && this.dom.resize()
    },
    /**
     * 改变颜色
     * @param param
     * @param colorList
     * @param index
     * @returns {*}
     */
    chooseColor(param, colorList, index) {
      let color = colorList[index]
      const chartClickItemIndex = this.chartClickItemIndex
      if (param && (chartClickItemIndex || chartClickItemIndex === 0)) {
        color = chartClickItemIndex === param.dataIndex ? hexToRgb(color) : (chartClickItemIndex === -1 ? hexToRgb(color) : hexToRgb(color, 0.6))
      } else {
        color = hexToRgb(color)
      }
      return color
    },
    refreshScatterChart(style) {
      let that = this
      const data = deepCopy(this.value)
      let dimensionName = '图例1'
      let axisInfo = [
        {
          name: '指标1',
          unit: ''
        },
        {
          name: '指标2',
          unit: ''
        }
      ]
      if (this.propertyData.dimension && this.propertyData.dimension.length === 1) {
        dimensionName = this.$store.state.chart.dimensions.find(item => Number(item.id) === Number(this.propertyData.dimension[0]))?.name || ""
      }
      if (this.propertyData.indicator && this.propertyData.indicator.length === 2) {
        let indicator = this.propertyData.indicator
        let configData = this.propertyData.configData
        indicator.forEach((indicatorItem, index) => {
          axisInfo[index].name = indicatorItem.abbrName || indicatorItem.name
          if (configData.hasOwnProperty('numberformat_' + indicatorItem.id)) {
            let numberformatConfig = configData['numberformat_' + indicatorItem.id]
            // 判断是否是百分比格式
            let isPercent = numberformatConfig.showType === 1 ? true : false
            // valueConfig 数据相关的处理
            let valueConfig = this.getValueConfig(numberformatConfig, isPercent)
            // showValueConfig 展示数据相关的处理
            let showValueConfig = this.getShowValueConfig(numberformatConfig, isPercent)
            // 数值格式设置
            let numberUnitLabel = this.getNumberUnitLabel(numberformatConfig, isPercent)
            axisInfo[index].unit = numberUnitLabel
            let config1 = {
              numberUnit: numberformatConfig.numberUnit,
              decimalDigits: numberformatConfig.decimalPlaces
            }
            let config2 = {
              numberUnit: numberformatConfig.numberUnit,
              decimalDigits: numberformatConfig.decimalPlaces,
              thousandth: numberformatConfig.thousandsSeparator
            }
            data.forEach(item => {
              // 只对data中的数据操作
              if (isPercent) {
                let originVal = item[index]
                item[index] = formatData(new BigNumber(originVal).times(100), valueConfig)
                // 展示data时 要加label 万 亿 并且加千位分隔符
                item[index + 3] = formatData(new BigNumber(originVal).times(100), showValueConfig) + numberUnitLabel
              } else {
                let originVal = item[index]
                item[index] = formatData(originVal, valueConfig)
                // 展示data时 要加label 万 亿 并且加千位分隔符
                item[index + 3] = formatData(originVal, showValueConfig) + numberUnitLabel
              }
            })
          }
        })
      }

      // 组合图表配置项 option
      let legend = this.refreshLegend([dimensionName], style)
      let grid = this.refreshGrid(style)
      let theme = 'default'
      if (this.reportThemeStyle === '2') {
        theme = 'black'
      }
      let defaultSetting = {
        ...CANVAS_COLOR_CONFIG[theme]
      }
      let xAxis = this.refreshAxis([], axisInfo[0].unit, Object.assign(defaultSetting, style)).yAxis
      let yAxis = this.refreshAxis([], axisInfo[1].unit, Object.assign(defaultSetting, style)).yAxis
      let option = {
        backgroundColor: style.areaColor,
        legend: legend,
        grid: grid,
        tooltip: {
          confine: true,
          formatter: (param) => {
            let str = `${param.data[2]}<br/>`
            str += `${axisInfo[0].name}<span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${param.data[3] ? param.data[3] : param.data[0]}
                    </span><br/>`
            str += `${axisInfo[1].name}<span style="float: right;margin-left: 10px;font-weight: bold;">
                      ${param.data[4] ? param.data[4] : param.data[1]}
                    </span><br/>`
            return str
          }
        },
        xAxis: xAxis,
        yAxis: yAxis,
        series: [
          {
            name: dimensionName,
            symbolSize: 20,
            clip: false, // 超出不裁剪
            data: data,
            itemStyle: {
              normal: {
                color: function (param) {
                  return that.chooseColor(param, colorList, 0)
                },
                borderColor: colorList[0]
              }
            },
            type: 'scatter'
          }
        ]
      }
      // 坐标轴值定义 X轴
      if (style.xAxisValueSetting) {
        let xAxisValueSetting = this.refreshAxisValue(style.xAxisValueSetting)
        Object.assign(option.xAxis, xAxisValueSetting)
      }
      // 坐标轴值定义 Y轴
      if (style.yAxisValueSetting) {
        let yAxisValueSetting = this.refreshAxisValue(style.yAxisValueSetting)
        Object.assign(option.yAxis, yAxisValueSetting)
      }
      if (!this.dom) {
        this.dom = echarts.init(this.$refs.dom, 'tdTheme')
      }
      this.dom.setOption(option, true)
      this.dom.off('click')
      this.dom.on('click', (params) => {
        params.name = params.data[2]
        event.stopPropagation()
        this.handleChartItemClick(params, option, true)
      })
      on(window, 'resize', this.resize)
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$erd.listenTo(this.$el, this.resize.bind(this))
      if (this.propertyStyle) {
        this.refreshScatterChart(this.propertyStyle)
      } else {
        this.refreshScatterChart(this.currentSelectChartStyle)
      }
    })
  },
  beforeDestroy() {
    off(window, 'resize', this.resize)
  },
  watch: {
    value: {
      handler(val) {
        this.refreshScatterChart(this.propertyStyle)
      },
      deep: true
    },
    propertyStyle: {
      handler(val) {
        this.refreshScatterChart(val)
      },
      deep: true
    }
  }
}
</script>
