<template>
  <div
    v-if="ctitleValue.showTitle"
    :class="['title-area', indicatorTypeClassName, {'filter-chart': isFilterChart}]"
    :title="ctitleValue.title"
    :style="{
      background: 'red',
      paddingLeft: '16px',
      textAlign: ctitleValue.titlePosition,
      color: ctitleValue.titleColor,
      fontSize: ctitleValue.titleFontSize + 'px',
      backgroundColor: ctitleValue.titleBackgroundColor,
      borderBottom: `${ctitleValue.titleBorderWidth} ${ctitleValue.titleBorderStyle} ${ctitleValue.titleBorderColor}`,
      fontWeight: ctitleValue.fontWeight,
      textDecoration: ctitleValue.textDecoration,
      fontStyle: ctitleValue.fontStyle,
      display: ctitleValue.title ? 'inline-block' : 'none',
      fontFamily: ctitleValue.titleFontFamily,
    }"
  >
    <img
      v-if="ctitleValue.titleIconType && ctitleValue.titleIconType !== 'noIcon'"
      :src="require('@/assets/images/report/title/' + ctitleValue.titleIconType + '.svg')"
    />
    {{ ctitleValue.title }}
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "ChartTitle",
  props: {
    titleValue: {
      type: Object,
      default: () => {
        return {};
      }
    },
    chartData: Object,
    isFilterChart: {
      type: Boolean,
      default: () => {
        return false;
      }
    }
  },
  computed: {
    ...mapGetters(["reportThemeStyle"]),
    ctitleValue() {
      return Object.assign(
        {
          title: "",
          showTitle: true,
          titlePosition: "left",
          titleColor: this.reportThemeStyle === "1" ? "rgba(0,0,0,0.85) " : "rgba(255,255,255,0.85)",
          titleFontSize: 16,
          titleBackgroundColor: "transparent",
          titleBorder: "",
          titleFontFamily: "aliPuHui Regular"
        },
        this.titleValue
      );
    },
    // 指标类型的className
    indicatorTypeClassName() {
      const chartType = this.chartData.id
      console.log(chartType, 'chartType')
      if (chartType === 'Indicator') {
        const type = this.chartData.data.indicator[0]?.type
        console.log(type, 'type...')
        if (type === 1) {
          return 'basic'
        } else if (type === 2) {
          return 'composite'
        } else if (type === 3) {
          return 'derivative'
        } else if (type === 4) {
          return 'out'
        } else if (type === 5) {
          return 'static'
        }
      }
      return ''
    },
  },
  mounted() {
    console.log(this.chartData, 'chartData...')
  }
};
</script>

<style scoped lang="less">
.title-area {
  width: calc(~'100% - 58px');
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1;
  padding: 10px 0;
  user-select: none;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 8px;
  }

  &.basic:before {
    background: url('~@/assets/icons/indicatorIcon/icon_basic_indicator.svg');
  }

  &.composite:before {
    background: url('~@/assets/icons/indicatorIcon/icon_composite_indicator.svg');
  }

  &.derivative:before {
    background: url('~@/assets/icons/indicatorIcon/icon_derivative_indicator.svg');
  }

  &.out:before {
    background: url('~@/assets/icons/indicatorIcon/icon_out_indicator.svg');
  }

  &.static:before {
    background: url('~@/assets/icons/indicatorIcon/icon_static_indicator.svg');
  }

  &.filter-chart {
    width: 100%;
  }
}
</style>
