<template>
  <div class="home-container">
    <div class="searchBox" :style="{ marginTop: showTable ? '0' : '92px' }">
      <img v-show="!showTable" :src="require(`@/assets/images/home/${title}.png`)" />
      <div class="searchTagAndInput">
        <div ref="searchedTagBox" class="searchedTagBox">
          <Tag
            v-for="(item, index) in searchedList"
            :key="index"
            :name="index"
            class="searchedTag"
            :class="{ invalidTag: item.type === INVALID_TYPE }"
            closable
            @on-close="handleCloseTag(item, index)"
          >
            <img
              :src="require(`@/assets/images/home/searchType${item.type}.png`)"
            />
            {{ item.title }}
          </Tag>
        </div>
        <Input
          v-if="showSearchInput"
          v-model="searchInputVal"
          ref="searchInput"
          class="searchInput"
          :placeholder="
            searchedList.length === 0
              ? '请输入维度、指标、菜单、报告等关键词'
              : ''
          "
          @on-change="handleSearchInputChange"
          @on-focus="handleSearchInputFocus"
          @on-blur="handleSearchInputBlur"
          @on-enter="handleSearchInputEnter"
          @on-keydown="handleSearchInputKeydown"
        />
        <img src="@/assets/images/home/search.png" />
        <div
          v-if="showSearchList"
          class="searchList"
          @mouseenter="mouseInSearchListBox = true"
          @mouseleave="mouseInSearchListBox = false"
          @click="
            () => {
              if (this.$refs['searchInput']) {
                this.$refs['searchInput'].focus();
              }
            }
          "
        >
          <Spin fix size="large" v-if="spinShow"></Spin>
          <ul :style="{ maxHeight: showTable ? '418px' : '360px' }">
            <li v-if="isShowDate">
              <RadioGroup
                v-model="currentTime"
                class="timeRadioGroup"
                @on-change="timeRadioGroupChange"
              >
                <Radio v-for="item in timeList" :label="item.id" :key="item.id">
                  <span>{{ item.title }}</span>
                </Radio>
              </RadioGroup>
            </li>
            <li
              v-for="(item, index) in searchList"
              :key="index"
              class="searchListItem"
              @click="handleSearchListItemClick(item)"
            >
              <img
                :src="
                  require(`@/assets/images/home/searchType${item.type}.png`)
                "
              />
              <span
                v-html="brightKeyword(item.title, searchInputVal)"
                class="title"
              ></span>
              <span class="subTitle">{{ item.groupName }}</span>
            </li>
            <div class="noData" v-if="searchList.length === 0">
              <img src="@/assets/images/home/noData.png" />
              <div>暂无数据</div>
            </div>
          </ul>
        </div>
      </div>
      <div class="historicalSearchBox">
        <span class="title">{{ searchedTitle }}</span>
        <ul>
          <li
            v-for="item in historicalSearchList"
            :key="item.id"
            @click="handleHistoricalSearchItemClick($event, item)"
          >
            <img
              :src="require(`@/assets/images/home/searchType${item.type}.png`)"
            />
            <span>{{ item.title }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div v-if="!showTable" class="messageBox">
      <ul>
        <li v-for="(item, index) in messageList" :key="index">
          <div class="title">{{ item.title }}</div>
          <img
            class="titleDecoration"
            src="@/assets/images/home/titleDecoration.png"
          />
          <p class="description">{{ item.description }}</p>
          <img
            class="backImg"
            :src="require(`@/assets/images/home/backImg${index}.png`)"
          />
        </li>
      </ul>
    </div>
    <div v-else class="dataPreviewBox">
      <div class="dataPreviewBoxTop">
        <span class="title">数据预览</span>
        <div class="operationArea">
          <div v-if="canShowChart && !showChart" @click="generateChart">
            <img class="image" src="@/assets/images/home/generateChart.svg" />
            <img
              class="imageHover"
              src="@/assets/images/home/generateChart_hover.svg"
            />
            <span>生成图表</span>
          </div>
          <div @click="save">
            <img class="image" src="@/assets/images/home/save.svg" />
            <img class="imageHover" src="@/assets/images/home/save_hover.svg" />
            <span>保存</span>
          </div>
        </div>
      </div>
      <div class="dataPreviewBoxBottom">
        <div
          class="table"
          :style="{ width: canShowChart && showChart ? '560px' : '1168px' }"
        >
          <div class="tableArea">
            <CustomTable
              ref="table"
              chartId="CustomTable"
              :usePage="true"
              :propertyData="tablePropertyData"
              :is-global-search="true"
              @totalChange="tableTotalChange"
            />
          </div>
          <Page
            class="tablePage"
            :current="page.current"
            :pageSize="page.size"
            :total="page.total"
            show-sizer
            @on-change="changePage"
            @on-page-size-change="changeSize"
          />
        </div>
        <div v-if="canShowChart && showChart" class="center">
          <img class="rightArrow" src="@/assets/images/home/rightArrow.svg" />
        </div>
        <div v-if="canShowChart && showChart" class="chart">
          <div class="chartSettingBox">
            <div class="iconContent">
              <Dropdown class="chartTypeChangeDropdown">
                <a href="javascript:void(0)">
                  <img
                    src="@/assets/images/report/chartTypeChangeBtn.svg"
                    height="16"
                    width="16"
                    style="margin: 4px"
                  />
                </a>
                <DropdownMenu slot="list" style="min-width: 20px">
                  <DropdownItem
                    v-for="item in switchChartTypeArrF"
                    :key="item.chartType"
                  >
                    <div @click="changeChartType($event, item.chartType)">
                      <img
                        :src="item.icon"
                        height="16"
                        width="16"
                        :title="item.chartName"
                      />
                      <span>{{ item.chartName }}</span>
                    </div>
                  </DropdownItem>
                </DropdownMenu>
              </Dropdown>
            </div>
            <div class="iconContent" @click="removeChart($event)">
              <Icon
                type="md-close"
                size="20"
                style="cursor: pointer; margin: 2px"
              />
            </div>
          </div>
          <div class="chartArea">
            <keep-alive>
              <component
                ref="chart"
                :chartId="currentChartId"
                :is="currentChartId"
                :usePage="true"
                :propertyData="chartPropertyData"
                :defaultShow="false"
              />
            </keep-alive>
            <span class="promptInformation">图表仅展示数据TOP10</span>
          </div>
        </div>
      </div>
    </div>

    <!-- 保存资源弹窗 -->
    <SaveResourceModal
      v-show="saveResourceModalStatus.type === '5'"
      @onConfirm="ok"
    />

    <img
      src="@/assets/images/home/background_left.png"
      class="backgroundImg backgroundImgLeft"
    />
    <img
      src="@/assets/images/home/background_center.png"
      class="backgroundImg backgroundImgCenter"
    />
    <img
      src="@/assets/images/home/background_right.png"
      class="backgroundImg backgroundImgRight"
    />
  </div>
</template>

<script>
import CustomTable from "@/view/report/chart/customTableTest";
import SimpleLine from "@/view/report/chart/Line";
import SimpleBar from "@/view/report/chart/Bar";
import SimplePie from "@/view/report/chart/Pie";
import SaveResourceModal from "@/view/report/reportTemplate/wrapper/components/SaveResourceModal";
import { globalQueryData, getHotData } from "@/api/home";
import { addSingleResource } from "@/api/resourceManage";
import { findAllDimension } from "@/api/dimension";
import { mapState, mapMutations, mapActions, mapGetters } from "vuex";
import moment from "moment";
import { TIME_LIST, SWITCH_CHART_TYPE_LIST, MESSAGE_LIST } from "./constant";
import { INDICATOR_OPTION_LIST, OUT_INDICATOR_TYPE, INDICATOR_TYPE_ARR } from "@/config/indicator";
import {findAllIndicator} from '@/api/indicator'
import {getVariableList} from "@/api/dataset";
import modelDataMixin from '@/view/report/mixin/modelDataMixin'
const INVALID_TYPE = "0";
const DIMENSION_TYPE = "10";
const REPORT_TYPE = "20";
const MENU_TYPE = "30";
const DATE_TYPE = "6";

export default {
  components: {
    CustomTable,
    SimpleLine,
    SimpleBar,
    SimplePie,
    SaveResourceModal,
  },
  mixins: [modelDataMixin],
  data() {
    return {
      searchInputVal: "", // 搜索词
      showSearchInput: true, // 是否展示搜素框
      showSearchList: false,
      spinShow: false,
      mouseInSearchListBox: false,
      searchedList: [], // 已搜索的列表
      currentTime: "", // 选择的日期类型
      timeList: TIME_LIST,
      showTable: false,
      propertyData: {},
      tablePropertyData: {},
      page: {
        current: 1,
        size: 10,
        total: 0,
      },
      chartPropertyData: {},
      startDate: "",
      endDate: "",
      canShowChart: false,
      showChart: false,
      currentChartId: "SimpleBar",
      searchList: [], // 搜索结果的下拉列表
      searchedTitle: "",
      historicalSearchList: [],
      messageList: MESSAGE_LIST,
      title: globalVariable.searchLogo,
      globalVariableList: [],
    };
  },
  computed: {
    ...mapState("resourceManage", ["saveResourceModalStatus"]),
    ...mapGetters(["allIndicators"]),
    userName() {
      return this.$store.state.user.userName;
    },
    // 搜索下拉框是否展示日期筛选
    isShowDate() {
      return (
        this.showTable &&
        !this.isSelectCertainTypeTag(String(OUT_INDICATOR_TYPE))
      );
    },
    // 可切换的图表
    switchChartTypeArrF() {
      return SWITCH_CHART_TYPE_LIST.filter(
        (ele) => ele.chartType !== this.currentChartId
      );
    },
    // 所有的指标类型
    indicatorTypeList() {
      return INDICATOR_OPTION_LIST.map((ele) => String(ele.value));
    },
    // 是否是指标或维度
    isIndOrDim() {
      return (type) => {
        console.log(this.indicatorTypeList)
        return this.indicatorTypeList.includes(type + '') || type === DIMENSION_TYPE;
      }
    },
    // 是否选择某种tag（维度/外部指标）
    isSelectCertainTypeTag() {
      return (type) => this.searchedList.some((item) => item.type === type);
    },
  },
  created() {
    this.INVALID_TYPE = INVALID_TYPE;

    // 项目全局数据
    this.fetchAllResourceList(); // 获取所有的资源数据

    // 获取全局变量
    this.fetchVariableList()

  },
  mounted() {
    this.setSearchList();
    this.findAllDimension();
    this.getAllIndicators();
    // 初始化日期，刚开始没有选时间，默认给个时间
    let yesterday = moment(new Date()).subtract(1, "days").format("YYYY-MM-DD");
    this.propertyData.startDate = yesterday;
    this.propertyData.endDate = yesterday;
  },
  methods: {
    ...mapMutations("resourceManage", ["setSaveResourceModalStatus"]),
    ...mapActions(["setDimensions", "setIndicators"]),
    ...mapActions("resourceManage", ["fetchAllResourceList"]),
    findAllDimension() {
      findAllDimension().then((res) => {
        if (res.data.state === "success") {
          const { data } = res.data;
          const dimensions = data;
          this.setDimensions({ dimensions });
          localStorage.setItem("allDimensions", JSON.stringify(dimensions));
        }
      });
    },
    // 获取全部指标列表
    async getAllIndicators() {
      const { data: res } = await findAllIndicator();
      if (res.state === "success") {
        this.setIndicators({ indicators: res.data });
      } else {
        this.$Message.error("获取全部指标列表失败");
      }
    },
    setSearchList() {
      if (localStorage.getItem(this.userName + "historicalSearchList")) {
        this.searchedTitle = "历史搜索";
        this.historicalSearchList = JSON.parse(
          localStorage.getItem(this.userName + "historicalSearchList")
        );
      } else {
        this.searchedTitle = "推荐搜索";
        this.getHotData();
      }
    },
    getHotData() {
      getHotData().then((res) => {
        if (res.data.state === "success") {
          const { data } = res.data;
          this.historicalSearchList = data;
        }
      });
    },
    handleCloseTag(item, index) {
      if (item.type === DATE_TYPE) {
        this.currentTime = "";
      }
      this.searchedList.splice(index, 1);
    },
    handleSearchInputChange() {
      this.globalQueryData();
    },
    handleSearchInputFocus() {
      if (this.$refs.searchedTagBox) {
        this.$refs.searchedTagBox.scrollTo(
          this.$refs.searchedTagBox.scrollWidth,
          0
        );
      }
      if (this.searchedList.length !== 0) {
        this.showSearchList = true;
        let searchedDimensionIndicator = this.searchedList.filter((item) =>
          this.isIndOrDim(item.type)
        );
        if (searchedDimensionIndicator.length) {
          this.globalQueryData();
        } else {
          this.searchList = [];
        }
      } else {
        this.showSearchList = false;
        this.searchList = [];
      }
    },
    globalQueryData() {
      let searchVal = this.searchInputVal;

      let params = {};
      let searchedDimensionIndicator = this.searchedList.filter((item) =>
        this.isIndOrDim(item.type)
      );
      if (searchedDimensionIndicator.length) {
        params.dataList = searchedDimensionIndicator
          .map((item) => item.type + "_" + item.id)
          .join(",");
      }
      if (searchVal !== "") {
        params.patternName = searchVal;
        const isOnlyDimension = searchedDimensionIndicator.every(
          (ele) => ele.type === DIMENSION_TYPE
        );
        const isOnlyIndicator = searchedDimensionIndicator.every((ele) =>
          this.indicatorTypeList.includes(ele.type)
        );
        // 只有维度 或者 只有指标 这时input框关键字为准 去掉联想的限制
        if (isOnlyDimension || isOnlyIndicator) {
          delete params.dataList;
        }
      }
      if (Object.keys(params).length !== 0) {
        this.spinShow = true;
        globalQueryData(params).then((res) => {
          if (res.data.state === "success") {
            let { data } = res.data;

            // 存在维度时，过滤外部指标
            if (this.isSelectCertainTypeTag(DIMENSION_TYPE)) {
              data = data.filter(
                (ele) => ele.type !== String(OUT_INDICATOR_TYPE)
              );
            }
            // 存在外部指标时，过滤维度
            if (this.isSelectCertainTypeTag(String(OUT_INDICATOR_TYPE))) {
              data = data.filter((ele) => ele.type !== DIMENSION_TYPE);
            }

            let removeSelectedData = data.filter(
              (dataItem) =>
                !this.searchedList.some(
                  (item) =>
                    item.type === dataItem.type && item.id === dataItem.id
                )
            );
            // 匹配度高 以关键字开头的在前
            let startWithKeywordList = removeSelectedData.filter((item) =>
              item.title.startsWith(searchVal)
            );
            let notStartWithKeywordList = removeSelectedData.filter(
              (item) => !item.title.startsWith(searchVal)
            );
            if (searchedDimensionIndicator.length) {
              const lastSearchedItem =
                searchedDimensionIndicator[
                  searchedDimensionIndicator.length - 1
                ];
              if (this.indicatorTypeList.includes(lastSearchedItem.type)) {
                // 最后一个是指标，查询列表先展示维度
                startWithKeywordList = startWithKeywordList
                  .filter((item) => item.type === DIMENSION_TYPE)
                  .concat(
                    startWithKeywordList.filter((item) =>
                      this.indicatorTypeList.includes(item.type)
                    )
                  );
                notStartWithKeywordList = notStartWithKeywordList
                  .filter((item) => item.type === DIMENSION_TYPE)
                  .concat(
                    notStartWithKeywordList.filter((item) =>
                      this.indicatorTypeList.includes(item.type)
                    )
                  );
              } else if (lastSearchedItem.type === DIMENSION_TYPE) {
                // 最后一个是维度，查询列表先展示指标
                startWithKeywordList = startWithKeywordList
                  .filter((item) => this.indicatorTypeList.includes(item.type))
                  .concat(
                    startWithKeywordList.filter(
                      (item) => item.type === DIMENSION_TYPE
                    )
                  );
                notStartWithKeywordList = notStartWithKeywordList
                  .filter((item) => this.indicatorTypeList.includes(item.type))
                  .concat(
                    notStartWithKeywordList.filter(
                      (item) => item.type === DIMENSION_TYPE
                    )
                  );
              }
            }
            // 按 指标 维度 报告 菜单 排序
            startWithKeywordList.sort(
              (a, b) => Number(a.type) - Number(b.type)
            );
            notStartWithKeywordList.sort(
              (a, b) => Number(a.type) - Number(b.type)
            );
            this.searchList = startWithKeywordList.concat(
              notStartWithKeywordList
            );
            this.showSearchList = true;
          } else {
            this.searchList = [];
            this.showSearchList = true;
          }
          this.spinShow = false;
        });
      } else {
        this.searchList = [];
        this.showSearchList = false;
      }
    },
    handleSearchInputBlur(e) {
      if (!this.mouseInSearchListBox) {
        this.handleSearchInputEnter();
        if (this.$refs.searchedTagBox) {
          setTimeout(() => {
            this.$refs.searchedTagBox.scrollTo(0, 0);
          }, 300);
        }
      }
    },
    handleSearchInputEnter() {
      let searchInputVal = this.searchInputVal;
      if (searchInputVal) {
        let matchItem = this.searchList.find(
          (item) => item.title === searchInputVal
        );
        if (matchItem) {
          this.handleSearchListItemClick(matchItem);
        } else {
          let invaildItem = {
            type: INVALID_TYPE,
            id: new Date().getTime().toString(),
            title: searchInputVal,
          };
          this.searchedList.push(invaildItem);
          this.setFirstHistoricalSearchList(invaildItem);
        }
        this.searchInputVal = "";
      }
      this.showSearchList = false;
      this.$refs.searchInput.blur();
    },
    handleSearchInputKeydown(e) {
      if (e.code === "Backspace" && this.searchInputVal === "") {
        this.searchedList.pop();
        this.handleSearchInputFocus();
      }
    },
    timeRadioGroupChange(e) {
      let searchedList = this.searchedList;
      let time = this.timeList.find((item) => item.id === e);
      time.type = DATE_TYPE;
      let flag = false;
      for (let i = 0; i < searchedList.length; i++) {
        if (searchedList[i].type === DATE_TYPE) {
          flag = true;
          this.$set(searchedList, i, time);
          break;
        }
      }
      if (!flag) {
        this.searchedList.push(time);
      }
      this.setFirstHistoricalSearchList(time);
      this.changeTime(e);
    },
    changeTime(e) {
      switch (e) {
        case "yesterday":
          this.startDate = moment().subtract(1, "days").format("YYYY-MM-DD");
          this.endDate = moment().subtract(1, "days").format("YYYY-MM-DD");
          break;
        case "thisWeek":
          this.startDate = moment().startOf("isoWeek").format("YYYY-MM-DD");
          this.endDate = moment().format("YYYY-MM-DD");
          break;
        case "thisMonth":
          this.startDate = moment().startOf("month").format("YYYY-MM-DD");
          this.endDate = moment().format("YYYY-MM-DD");
          break;
        case "thisQuarter":
          this.startDate = moment().startOf("quarter").format("YYYY-MM-DD");
          this.endDate = moment().format("YYYY-MM-DD");
          break;
        case "thisYear":
          this.startDate = moment().startOf("year").format("YYYY-MM-DD");
          this.endDate = moment().format("YYYY-MM-DD");
          break;
        default:
          break;
      }
    },
    changePage(current) {
      this.page.current = current;
      this.tablePropertyData.pageNum = current;
      this.refreshDataPreview();
    },
    changeSize(size) {
      this.page.size = size;
      this.tablePropertyData.pageSize = size;
      this.refreshDataPreview();
    },
    tableTotalChange(total) {
      this.page.total = total;
    },
    refreshDataPreview() {
      if (this.$refs.table) {
        this.$refs.table.refreshData();
      }
      if (this.$refs.chart) {
        this.$refs.chart.refreshData();
      }
    },
    setFirstHistoricalSearchList(item) {
      let historicalSearchList = [];
      if (localStorage.getItem(this.userName + "historicalSearchList")) {
        historicalSearchList = JSON.parse(
          localStorage.getItem(this.userName + "historicalSearchList")
        );
        historicalSearchList = historicalSearchList.filter((listItem) => {
          if (item.type === INVALID_TYPE) {
            return listItem.title !== item.title;
          } else {
            return listItem.id !== item.id || listItem.type !== item.type;
          }
        });
      }
      historicalSearchList.unshift(item);
      localStorage.setItem(
        this.userName + "historicalSearchList",
        JSON.stringify(historicalSearchList)
      );
      this.setSearchList();
    },
    handleHistoricalSearchItemClick(e, item) {
      if (item.type === DATE_TYPE) {
        // 如果已选标签不存在指标类型，则禁止点击日期类型标签。但如果存在的是外部指标，也禁止点击
        const notIndicator = !this.searchedList.some((item) =>
          this.indicatorTypeList.includes(item.type)
        );
        const hasOutIndicator = this.isSelectCertainTypeTag(
          String(OUT_INDICATOR_TYPE)
        );
        if (notIndicator || hasOutIndicator) return;
        this.currentTime = item.id;
        let searchedList = this.searchedList.filter(
          (listItem) => listItem.type !== item.type
        );
        searchedList.push(item);
        this.searchedList = searchedList;
        this.setFirstHistoricalSearchList(item);
        this.changeTime(item.id);
      } else {
        if (item.type === DIMENSION_TYPE) {
          // 如果已选标签存在外部指标，则禁止点击维度
          const hasOutIndicator = this.isSelectCertainTypeTag(
            String(OUT_INDICATOR_TYPE)
          );
          if (hasOutIndicator) return;
        }
        if (item.type === String(OUT_INDICATOR_TYPE)) {
          // 如果已选标签存在维度/日期，则禁止点击外部指标
          const hasDimOrDate = this.searchedList.some(
            (item) => item.type === DIMENSION_TYPE || item.type === DATE_TYPE
          );
          if (hasDimOrDate) return;
        }
        this.handleSearchListItemClick(item);
      }
    },
    handleSearchListItemClick(item) {
      if (this.selectedQuantityLimit(item)) return;
      if (
        this.searchedList.some(
          (item) => item.type === REPORT_TYPE || item.type === MENU_TYPE
        )
      )
        return;
      this.searchInputVal = "";
      let searchedList = this.searchedList.filter((listItem) => {
        if (item.type === INVALID_TYPE) {
          return listItem.title !== item.title;
        } else {
          return listItem.id !== item.id || listItem.type !== item.type;
        }
      });
      // 如果是指标
      if (INDICATOR_TYPE_ARR.includes(item.type * 1)) {
        this.getIndicatorDetail(item.type * 1, item.id).then(res => {
          item = {...item, ...res}
          searchedList.push(item);
          this.searchedList = searchedList;
          this.setFirstHistoricalSearchList(item);
        })
      } else {
        searchedList.push(item);
        this.searchedList = searchedList;
        this.setFirstHistoricalSearchList(item);
      }
      switch (item.type) {
        case REPORT_TYPE:
          this.showSearchList = false;
          window.open(
            window.location.origin +
              window.location.pathname +
              "#template_add?id=" +
              item.id +
              "&openType=view",
            "_blank"
          );
          break;
        case MENU_TYPE:
          this.showSearchList = false;
          let routerJump = this.$router.resolve({ name: item.title });
          window.open(routerJump.href, "_blank");
          break;
        default:
          break;
      }
    },
    /**
     * 已选数量限制
     */
    selectedQuantityLimit(addItem) {
      if (addItem.type === DIMENSION_TYPE) {
        if (
          this.searchedList.filter((item) => item.type === DIMENSION_TYPE)
            .length >= 5
        ) {
          this.$Message.error("维度查询数量不能超过 5 个！");
          return true;
        }
      } else if (this.indicatorTypeList.includes(addItem.type)) {
        if (
          this.searchedList.filter((item) =>
            this.indicatorTypeList.includes(item.type)
          ).length >= 5
        ) {
          this.$Message.error("指标查询数量不能超过 5 个！");
          return true;
        }
      }
    },
    generateChart() {
      this.showChart = true;
    },
    removeChart() {
      this.showChart = false;
      this.currentChartId = "SimpleBar";
    },
    changeChartType(e, chartId) {
      this.currentChartId = chartId;
    },
    save() {
      let dimensionTitle = "";
      let indicatorTitle = "";
      let title = "";
      let { dimension, indicator } = this.propertyData;
      if (dimension.length) {
        const dimensionData = _.find(
          this.searchedList,
          (item) => item.id.toString() === dimension[0].toString()
        );
        if (dimensionData) {
          dimensionTitle = `按${dimensionData.title}分析`;
        }
      }
      if (indicator.length) {
        indicatorTitle = indicator[0].title;
        if (indicator.length > 1) {
          indicatorTitle += "...";
        }
      }
      title = `${indicatorTitle}${
        indicatorTitle && dimensionTitle
          ? "(" + dimensionTitle + ")"
          : dimensionTitle
      }`;
      this.setSaveResourceModalStatus({
        show: true,
        type: "5",
        defaultTitle: title,
      }); // 展示弹窗
    },
    ok(value) {
      let params = {
        name: value.resourceName,
        dimensions: this.propertyData.dimension,
        indicators: this.propertyData.indicator,
        type: "CustomTable",
        width: 360,
        height: 270,
        configData: JSON.stringify({
          style: {
            width: 360,
            height: 270,
            title: "未命名组件",
            showTitle: true,
          },
          data: null,
        }),
        groupId: value.groupId,
        labels: value.labels,
      };
      addSingleResource(params).then((res) => {
        if (res.data.state === "success") {
          this.fetchAllResourceList(); // 刷新vuex中已存在的资源
          this.$Message.success("资源保存成功");
        } else {
          this.$Message.warning("资源保存失败");
        }
      });
      this.setSaveResourceModalStatus({ show: false }); // 关闭弹窗
    },
    brightKeyword(val, keyword) {
      if (val.indexOf(keyword) !== -1) {
        return val.replace(keyword, `<font color='#3F73FF'>${keyword}</font>`);
      } else {
        return val;
      }
    },

    buildChartDimension(val) {
      return val
        .filter((item) => item.type === DIMENSION_TYPE)
        .map((item) => item.id)
    },

    setConditionItemVariableValue(conditionItem, globalVariables) {
      const conditionItemValueArr = conditionItem.value.split('|')
      if (conditionItemValueArr && conditionItemValueArr.length) {
        const conditionType = conditionItemValueArr[0] * 1
        if (conditionType === 4) { // 类型是全局变量
          const variableCode = conditionItemValueArr[1].replace('$', '').replace('{', '').replace('}', '')
          const variableValue = this.globalVariableList.find(item => item.varCode === variableCode).paramValue[0].value
          globalVariables[variableCode] = variableValue
        }
      }
      return globalVariables
    },
    /**
     * 设置默认全局变量条件值
     * @param indicator
     */
    setIndicatorDefaultGlobalVariableValue(indicator) {
      let globalVariables = {}
      const type = indicator.type
      if (type === 1) {
        // 原子
        const conditionGroups = indicator.conditionGroups || []
        for (let conditionGroupItem of conditionGroups) {
          for (let conditionItem of conditionGroupItem.conditions) {
            globalVariables = Object.assign(globalVariables, this.setConditionItemVariableValue(conditionItem, globalVariables))
          }
        }
      } else if (type === 2) {
        // 复合
        const conditionObj = indicator.conditions || []// 复合指标的过滤条件会有多个原子指标，所以用原子指标id作为key
        for (let key in conditionObj) {
          const conditionGroups = conditionObj[key]
          for (let conditionGroupItem of conditionGroups) {
            for (let conditionItem of conditionGroupItem.conditions) {
              this.setConditionItemVariableValue(conditionItem, globalVariables)
            }
          }
        }
      } else if (type === 3) {
        // 派生
        const conditionGroups = indicator.atomIndicator?.conditionGroups || []
        for (let conditionGroupItem of conditionGroups) {
          for (let conditionItem of conditionGroupItem.conditions) {
            this.setConditionItemVariableValue(conditionItem, globalVariables)
          }
        }
      }
      return globalVariables
    },
    buildChartIndicator(selectedIndicatorTag) {
      return selectedIndicatorTag.map((item) => {
        let indicator = this.allIndicators.find(
          (indicatorItem) => indicatorItem.id === item.id
        );
        indicator = {...indicator, ...item}
        // 查询指标是否设置了带有全局变量的筛选条件,如果有则取对应变量配置的第一个选项值
        const variables = this.setIndicatorDefaultGlobalVariableValue(indicator)
        return {
          id: item.id,
          type: item.type,
          title: indicator?.abbrName || item.title,
          variables
        };
      })
    },
    buildChartPropertyData(selectedIndicatorTag, val) {
      const indicator = this.buildChartIndicator(selectedIndicatorTag)
      let propertyData = {
        dimension: this.buildChartDimension(val),
        indicator,
        configData: {},
      };
      propertyData = Object.assign(this.propertyData, propertyData)
      if (val.some((item) => item.type === DATE_TYPE)) {
        this.propertyData.startDate = this.startDate;
        this.propertyData.endDate = this.endDate;
        propertyData = Object.assign(propertyData, {
          startDate: this.startDate,
          endDate: this.endDate
        })
      }
      return propertyData
    },
    fetchVariableList() {
      getVariableList().then(res => {
        if(res.data.state === 'success' && res.data.data){
          this.globalVariableList = res.data.data.map(item => {
            let paramValueArr = []
            Object.keys(item.paramValue).forEach(key => {
              paramValueArr.push({
                value: key,
                label: item.paramValue[key]
              })
            })
            return {
              ...item,
              paramValue: paramValueArr
            }
          });
        }
      })
    }
  },
  watch: {
    searchedList: { // 监听点击的搜索结果
       handler(val) {
        const selectedIndicatorTag = val.filter((item) =>
          this.indicatorTypeList.includes(item.type.toString())
        ); // 已选的指标tag
        if (selectedIndicatorTag.length) {
          this.propertyData =  this.buildChartPropertyData(selectedIndicatorTag, val)
          this.tablePropertyData = {
            ...this.propertyData,
            pageNum: 1,
            pageSize: 10,
          };
          this.chartPropertyData = {
            ...this.propertyData,
            pageNum: 1,
            pageSize: 10,
          };
          if (this.propertyData.dimension.length === 1) {
            this.canShowChart = true;
          } else {
            this.canShowChart = false;
            this.removeChart();
          }
          if (this.showTable) {
            // 不加 $nextTick 表格刷新数据不准确
            this.$nextTick(() => {
              this.refreshDataPreview();
            });
          } else {
            this.showTable = true;
          }
        } else {
          this.showTable = false;
          this.canShowChart = false;
          this.removeChart();
        }
        if (
          val.some(
            (item) => item.type === REPORT_TYPE || item.type === MENU_TYPE
          )
        ) {
          this.showSearchInput = false;
        } else {
          this.showSearchInput = true;
        }
      },
      deep: true,
    },
  },
};
</script>

<style lang="less" scoped>
@media screen and (min-height: 900px) {
  .home-container {
    padding-top: 100px;
  }
}
.home-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#f1f6ff, #dce7ff);
  .searchBox {
    position: relative;
    z-index: 2;
    margin-top: 198px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .searchTagAndInput {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 800px;
      height: 50px;
      margin: 17px 0 11px;
      padding: 0 20px 0 22px;
      background-image: linear-gradient(0deg, #f2f4ff 0%, #ffffff 100%);
      border: 1px solid #ffffff;
      box-shadow: 0px 0px 10px 0px rgba(198, 208, 239, 1);
      border-radius: 4px;
      .searchedTagBox {
        white-space: nowrap;
        overflow-x: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          display: none;
        }
        .searchedTag {
          height: 24px;
          line-height: 24px;
          background: rgba(63, 115, 255, 0.1);
          border-radius: 4px;
          border: none;
          /deep/ .ivu-tag-text {
            font-size: 14px;
            color: #3f73ff;
            > img {
              margin-bottom: -3px;
            }
          }
          /deep/ .ivu-icon-ios-close {
            color: #3f73ff;
            margin-left: 0;
          }
        }
        .invalidTag {
          background: rgba(0, 0, 0, 0.05);
          /deep/ .ivu-tag-text {
            color: rgba(0, 0, 0, 0.3);
          }
        }
      }
      .searchInput {
        flex: 1;
        min-width: 50px;
        /deep/ .ivu-input {
          font-size: 14px;
          caret-color: rgba(63, 115, 255, 0.95);
          border: none;
          background: transparent;
        }
        /deep/ .ivu-input:focus {
          box-shadow: none;
        }
      }
      .searchList {
        position: absolute;
        z-index: 3;
        width: 100%;
        top: 100%;
        left: 0;
        background: #ffffff;
        box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        ul {
          max-height: 418px;
          overflow: auto;
          .timeRadioGroup {
            height: 58px;
            line-height: 58px;
            .ivu-radio-wrapper {
              font-size: 14px;
              color: #000000;
              margin-right: 20px;
              /deep/ .ivu-radio {
                width: 16px;
              }
            }
          }
          li {
            list-style-type: none;
            padding: 0 24px;
            background: #ffffff;
            img {
              margin-bottom: -3px;
            }
            .title {
              font-size: 14px;
              color: rgba(0, 0, 0, 0.85);
              margin: 0 10px 0 8px;
            }
            .subTitle {
              font-size: 12px;
              color: rgba(0, 0, 0, 0.5);
            }
          }
          li.searchListItem {
            height: 36px;
            line-height: 36px;
          }
          li.searchListItem:hover {
            background: rgba(63, 115, 255, 0.1);
            cursor: pointer;
          }
        }
        .noData {
          font-size: 12px;
          color: #90b5ff;
          text-align: center;
          height: 338px;
          img {
            margin-top: 100px;
            margin-bottom: 6px;
          }
        }
      }
    }
    .historicalSearchBox {
      display: flex;
      justify-content: space-between;
      .title {
        margin-right: 14px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.4);
      }
      ul {
        width: 730px;
        max-height: 60px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        li {
          list-style-type: none;
          margin-right: 5px;
          padding: 0 9px 0 6px;
          line-height: 22px;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.4);
          margin-bottom: 7px;
          > img {
            vertical-align: middle;
            margin-right: 4px;
          }
          > span {
            vertical-align: middle;
          }
        }
        li:hover {
          background: rgba(0, 0, 0, 0.05);
          cursor: pointer;
        }
      }
    }
  }
  .messageBox {
    margin-top: 85px;
    ul {
      display: flex;
      justify-content: center;
      li {
        list-style-type: none;
        position: relative;
        z-index: 1;
        width: 274px;
        height: 170px;
        margin: 0 20px;
        padding: 20px 24px;
        background: #ffffff;
        box-shadow: 0px 0px 15px 0px rgba(177, 189, 255, 0.4);
        border-radius: 6px;
        .title {
          font-size: 16px;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.85);
          text-align: center;
        }
        .titleDecoration {
          margin: 8px 88px 21px;
        }
        .description {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.5);
        }
        .backImg {
          position: absolute;
          z-index: -1;
          bottom: 0;
          right: 0;
        }
      }
      li:first-child {
        .backImg {
          left: 0;
        }
      }
    }
  }
  .dataPreviewBox {
    position: relative;
    z-index: 1;
    background: #ffffff;
    width: 1216px;
    margin: 20px auto 0;
    padding: 0 24px;
    .dataPreviewBoxTop {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
      }
      .operationArea {
        display: flex;
        > div {
          margin-left: 20px;
        }
        > div:hover {
          cursor: pointer;
          span {
            color: #3f73ff;
          }
          .image {
            display: none;
          }
          .imageHover {
            display: inline-block;
          }
        }
        img {
          margin-right: 6px;
          margin-bottom: -3px;
        }
        .imageHover {
          display: none;
        }
        span {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.85);
          font-weight: 400;
        }
      }
    }
    .dataPreviewBoxBottom {
      display: flex;
      justify-content: space-between;
      .table,
      .chart {
        width: 560px;
        height: 420px;
        .drawing-area,
        .charts {
          height: 357px;
          border: 1px solid #e2e2e2;
        }
        .promptInformation {
          color: rgba(0, 0, 0, 0.25);
          display: inline-block;
          margin: 16px 0 24px;
        }
      }
      .table {
        .tableArea {
          height: 357px;
          overflow: auto;
          > div {
            position: relative;
            padding: 0 !important;
            /deep/ .tableShade {
              margin-left: 0;
              z-index: 899;
            }
            /deep/ .ivu-table-wrapper.ivu-table-wrapper-with-border {
              .ivu-table {
                th,
                td {
                  border-right: none;
                  height: 32px;
                }
                .ivu-table-header {
                  th {
                    background-color: #ecf1ff;
                  }
                }
                .ivu-table-body {
                  tr {
                    td {
                      background-color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
        /deep/ .tablePage.ivu-page {
          margin-top: 16px;
          text-align: right;
          .ivu-page-item {
            min-width: 24px;
            height: 24px;
            line-height: 22px;
          }
          .ivu-page-prev,
          .ivu-page-next,
          .ivu-page-item-jump-prev,
          .ivu-page-item-jump-next {
            min-width: 24px;
            height: 24px;
            line-height: 22px;
          }
          .ivu-select-single .ivu-select-selection {
            height: 24px;
          }
          .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
          .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
            height: 22px;
            line-height: 22px;
          }
          .ivu-page-options-elevator {
            height: 24px;
            line-height: 24px;
          }
          .ivu-page-options-elevator input {
            height: 24px;
          }
        }
      }
      .center {
        .rightArrow {
          margin-top: 198px;
        }
      }
      .chart {
        position: relative;
        .chartSettingBox {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          position: absolute;
          z-index: 1;
          .iconContent {
            width: 24px;
            height: 24px;
            border-radius: 3px;
            background: #fff;
            box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
            margin: 10px 10px 0 0;
            .chartTypeChangeDropdown {
              .ivu-select-dropdown {
                .ivu-dropdown-item {
                  img {
                    vertical-align: middle;
                  }
                  span {
                    vertical-align: middle;
                    margin-left: 10px;
                  }
                }
              }
            }
          }
          .iconContent:hover {
            box-shadow: 0px 0px 4px 0px rgba(181, 206, 255, 1);
          }
        }
      }
    }
  }
  .backgroundImg {
    position: absolute;
  }
  .backgroundImgLeft {
    top: 92px;
    left: 0;
  }
  .backgroundImgCenter {
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }
  .backgroundImgRight {
    top: 368px;
    right: 0;
  }
}
</style>
