<template>
  <div :class="classes" ref="cell">
    <template v-if="renderType === 'normal'">
        <template v-if="column.tooltip">
            <Tooltip transfer :content="row[column.key]" :theme="tableRoot.tooltipTheme" :disabled="!showTooltip" :max-width="300" class="ivu-table-cell-tooltip">
                <span ref="content" @mouseenter="handleTooltipIn" @mouseleave="handleTooltipOut" class="ivu-table-cell-tooltip-content">{{ row[column.key] }}</span>
            </Tooltip>
        </template>
        <span v-else>{{column[row.key]}}</span>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    prefixCls: String,
    row: Object,
    column: Object,
  },
  data() {
    return {
      renderType: ''
    }
  },
  computed: {
    classes() {
      return [
        `${this.prefixCls}-cell`,
          {
            [`${this.prefixCls}-hidden`]: !this.fixed && this.column.fixed && (this.column.fixed === 'left' || this.column.fixed === 'right'),
            [`${this.prefixCls}-cell-ellipsis`]: this.column.ellipsis || false,
            [`${this.prefixCls}-cell-with-expand`]: this.renderType === 'expand',
            [`${this.prefixCls}-cell-with-selection`]: this.renderType === 'selection'
          }
      ]
    }
  },
  created() {
    if (this.column.type === 'index') {
      this.renderType = 'index';
    } else if (this.column.type === 'selection') {
      this.renderType = 'selection';
    } else if (this.column.type === 'html') {
      this.renderType = 'html';
    } else if (this.column.type === 'expand') {
      this.renderType = 'expand';
    } else if (this.column.render) {
      this.renderType = 'render';
    } else if (this.column.slot) {
      this.renderType = 'slot';
    } else {
      this.renderType = 'normal';
    }
  }
}
</script>

<style>

</style>