<template>
  <table cellspacing="0" cellpadding="0" border="0" :style="styleObject" style="min-width: 100%">
    <colgroup>
      <col v-for="(column, index) in data">
    </colgroup>
    <tbody :class="[prefixCls + '-tbody']">
      <template v-for="(row, columnIndex) in columns">
        <table-tr
          :row="row"
          :prefix-cls="prefixCls">
          <template v-for="(column, index) in data">
            <td
              v-show="colspanMethod(columnIndex, column, index) !== 0"
              :colspan="colspanMethod(columnIndex, column, index)"
              :class="alignCls(row, column)"
              @mouseenter.stop="handleMouseIn(index)"
              @mouseleave.stop="handleMouseOut(index)"
              @click="clickCell(column, row, row.key, $event)">
              <table-cell
                :prefix-cls="prefixCls"
                :row="row"
                :column="column"
              ></table-cell>
            </td>
          </template>
        </table-tr>
      </template>
    </tbody>
  </table>
</template>

<script>
import TableTr from './table-tr.vue'
import TableCell from './cell.vue'
import Mixin from './mixin';
export default {
  mixins: [ Mixin ],
  components: { TableTr, TableCell },
  props: {
    prefixCls: String,
    styleObject: Object,
    columns: Array,
    data: Array, // rebuildData
    objData: Object,
    spanMap: Object,
    showGroupSummary: Boolean,
  },
  methods: {
    handleMouseIn (_index) {
      this.$parent.handleMouseIn(_index);
    },
    handleMouseOut (_index) {
      this.$parent.handleMouseOut(_index);
    },
    clickCell (row, column, key, event) {
      this.$parent.$emit('on-cell-click', row, column, row[key], event);
    },
    colspanMethod(columnIndex, column, index) {
      if (Object.keys(this.spanMap).length) {
        if (columnIndex === 0) {
          // 小计的位置
          let summaryIndexes = []
          for (let key in this.spanMap) {
            summaryIndexes.push(Number(key) + this.spanMap[key])
          }

          if (this.spanMap[index]) {
            return this.spanMap[index]
          } else {
            if (this.showGroupSummary && summaryIndexes.includes(index)) {
              return 1
            } else {
              return 0
            }
          }
        }
      }
      return 1
    },
  }
}
</script>

<style>

</style>
