<template>
  <table cellspacing="0" cellpadding="0" border="0">
    <thead>
      <tr v-for="(cols, rowIndex) in headRows">
        <th
          v-for="(column, index) in cols"
          :colspan="column.colSpan"
          :rowspan="column.rowSpan"
          :class="alignCls(column)">
          <div class="ivu-table-cell">
            <template>
              <span v-if="!column.renderHeader">{{ column.title || '#' }}</span>
              <render-header v-else :render="column.renderHeader" :column="column" :index="index"></render-header>
              <span :class="[prefixCls + '-sort']" v-if="column.sortable">
                  <i class="ivu-icon ivu-icon-md-arrow-dropup" :class="{on: getColumn(rowIndex, index)._sortType === 'asc'}" @click="handleSort(getColumn(rowIndex, index)._index, 'asc')"></i>
                  <i class="ivu-icon ivu-icon-md-arrow-dropdown" :class="{on: getColumn(rowIndex, index)._sortType === 'desc'}" @click="handleSort(getColumn(rowIndex, index)._index, 'desc')"></i>
              </span>
            </template>
          </div>
        </th>
      </tr>
    </thead>
  </table>
</template>

<script>
import renderHeader from './header';
import Mixin from './mixin';
export default {
  mixins: [ Mixin ],
  components: { renderHeader },
  props: {
    prefixCls: String,
    columns: Array,
    fixed: {
      type: [Boolean, String],
      default: false
    },
    columnRows: Array,
    fixedColumnRows: Array
  },
  computed: {
    headRows() {
      const isGroup = this.columnRows.length > 1
      if(isGroup) {
        return this.fixed ? this.fixedColumnRows : this.columnRows;
      } else {
        return [this.columns];
      }
    }
  },
  methods: {
    handleSort (index, type) {
      // 在固定列时，寻找正确的 index #5580
      const column = this.columns.find(item => item._index === index);
      const _index = column._index;

      if (column._sortType === type) {
        type = 'normal';
      }
      this.$parent.handleSort(_index, type);
    },
    // 因为表头嵌套不是深拷贝，所以没有 _ 开头的方法，在 isGroup 下用此列
    getColumn (rowIndex, index) {
      const isGroup = this.columnRows.length > 1;

      if (isGroup) {
        const id = this.headRows[rowIndex][index].__id;
        return this.columns.filter(item => item.__id === id)[0];
      } else {
        return this.headRows[rowIndex][index];
      }
    }
  }
}
</script>

<style>

</style>
