<template>
  <div :class="wrapClasses" :style="styles" class="transposeTableWrap">
    <div :class="classes">
      <div :class="[prefixCls + '-header']">
        <table-head
          :prefix-cls="prefixCls"
          :columns="cloneColumns"
          :column-rows="columnRows"></table-head>
      </div>
      <div :class="[prefixCls + '-body']">
        <table-body
          ref="tbody"
          :prefix-cls="prefixCls"
          :columns="cloneColumns"
          :data="rebuildData"
          :obj-data="objData"
          :spanMap="spanMap"
          :showGroupSummary="showGroupSummary"
          ></table-body>
      </div>
      <table-summary
        v-if="showSummary && (data && data.length)"
        :prefix-cls="prefixCls"
        :columns="cloneColumns"
        :data="summaryData"
      />
    </div>
  </div>
</template>

<script>
import tableHead from './table-head.vue'
import tableBody from './table-body.vue'
import tableSummary from './summary.vue'
import { deepCopy } from './utils/assist.js'
import { getAllColumns, convertToRows, convertColumnOrder, getRandomStr } from './util.js';

const prefixCls = 'ivu-table';

let rowKey = 1;
let columnKey = 1;

export default {
  components: {
    tableHead,
    tableBody,
    tableSummary
  },
  props: {
    data: {
      type: Array,
      default: () => []
    },
    columns: {
      type: Array,
      default: () => []
    },
    stripe: {
      type: Boolean,
      default: false
    },
    rowClassName: {
      type: Function,
      default () {
        return '';
      }
    },
    // 4.0.0
    showSummary: {
      type: Boolean,
      default: false
    },
    // 4.0.0
    summaryMethod: {
      type: Function
    },
    spanMap: {
      type: Object,
      default: () => ({}),
    },
    showGroupSummary: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    const colsWithId = this.makeColumnsId(this.columns);
    return {
      tableWidth: 0,
      prefixCls: prefixCls,
      objData: this.makeObjData(),     // checkbox or highlight-row
      rebuildData: [], // for sort or filter
      cloneColumns: this.makeColumns(colsWithId),
      columnRows: this.makeColumnRows(false, colsWithId),
      allColumns: getAllColumns(colsWithId)
    }
  },
  computed: {
    wrapClasses() {
      return [
        `${prefixCls}-wrapper`
      ]
    },
    classes() {
      return [
        `${prefixCls}`,
        {
          [`${prefixCls}-stripe`]: this.stripe
        }
      ]
    },
    styles () {
      let style = {};
      if(this.data.length === 0) {
        style.display = 'none';
      }
      return style;
    },
    // for summary data
    summaryData () {
      if (!this.showSummary) return {};

      let sums = {};
      if (this.summaryMethod) {
          sums = this.summaryMethod({ columns: this.cloneColumns, data: this.rebuildData });
      } else {
          this.cloneColumns.forEach((column, index) => {
              const key = column.key;
              if (index === 0) {
                  sums[key] = {
                      key: column.key,
                      value: this.localeSumText || '合计'
                  };
                  return;
              }
              const values = this.rebuildData.map(item => Number(item[column.key]));
              const precisions = [];
              let notNumber = true;
              values.forEach(value => {
                  if (!isNaN(value)) {
                      notNumber = false;
                      let decimal = ('' + value).split('.')[1];
                      precisions.push(decimal ? decimal.length : 0);
                  }
              });
              const precision = Math.max.apply(null, precisions);
              if (!notNumber) {
                  const currentValue = values.reduce((prev, curr) => {
                      const value = Number(curr);
                      if (!isNaN(value)) {
                          return parseFloat((prev + curr).toFixed(Math.min(precision, 20)));
                      } else {
                          return prev;
                      }
                  }, 0);
                  sums[key] = {
                      key: column.key,
                      value: currentValue
                  };
              } else {
                  sums[key] = {
                      key: column.key,
                      value: ''
                  };
              }
          });
      }

      return sums;
    }
  },
  mounted() {
    this.handleResize()
  },
  methods: {
    handleResize() {
      let tabelWidth = this.$el.offsetWidth - 1;
      this.tableWidth = tabelWidth;
    },
    handleMouseIn (_index) {
      if (this.disabledHover) return;
      if (this.objData[_index]._isHover) return;
      this.objData[_index]._isHover = true;
    },
    handleMouseOut (_index) {
      if (this.disabledHover) return;
      this.objData[_index]._isHover = false;
    },
    sortData (data, type, index) {
      const key = this.cloneColumns[index].key;
      data.sort((a, b) => {
          if (this.cloneColumns[index].sortMethod) {
              return this.cloneColumns[index].sortMethod(a[key], b[key], type);
          } else {
              if (type === 'asc') {
                  return a[key] > b[key] ? 1 : -1;
              } else if (type === 'desc') {
                  return a[key] < b[key] ? 1 : -1;
              }
          }
      });
      return data;
    },
    handleSort (_index, type) {
        const index = this.GetOriginalIndex(_index);
        this.cloneColumns.forEach((col) => col._sortType = 'normal');

        const key = this.cloneColumns[index].key;
        if (this.cloneColumns[index].sortable !== 'custom') {    // custom is for remote sort
            if (type === 'normal') {
                this.rebuildData = this.makeDataWithFilter();
            } else {
                this.rebuildData = this.sortData(this.rebuildData, type, index);
            }
        }
        this.cloneColumns[index]._sortType = type;

        this.$emit('on-sort-change', {
            column: JSON.parse(JSON.stringify(this.allColumns[this.cloneColumns[index]._index])),
            key: key,
            order: type
        });
    },
    filterData(data, column) {
      return data.filter((row) => {
        // 如果定义了远程过滤方法则忽略此方法
        if(typeof column.filterReomte === 'function') return true;

        let status = !column._filterChecked.length;
        for(let i=0; i<column._filterChecked.length; i++) {
          status = column.filterMethod(column._filterChecked[i], row)
          if(status) break;
        }
        return status;
      })
    },
    GetOriginalIndex (_index) {
        return this.cloneColumns.findIndex(item => item._index === _index);
    },
    makeData() {
      let data = deepCopy(this.data);
      data.forEach((row, index) => {
        row._index = index;
        row._rowKey = rowKey++;
      })
      return data;
    },
    makeDataWithSort() {
      let data = this.makeData();
      let sortType = 'normal';
      let sortIndex = -1;
      let isCustom = false;

      for(let i=0; i<this.cloneColumns.length; i++) {
        if(this.cloneColumns[i]._sortType !== 'normal') {
          sortType = this.cloneColumns[i]._sortType;
          sortIndex = i;
          isCustom = this.cloneColumns[i].sortable === 'custom';
          break;
        }
      }
      if (sortType !== 'normal' && !isCustom) data =  this.sortData(data, sortType, sortIndex);
      return data;
    },
    makeDataWithFilter () {
      let data = this.makeData();
      this.cloneColumns.forEach(col => data = this.filterData(data, col));
      return data;
    },
    makeDataWithSortAndFilter() {
      let data = this.makeDataWithSort();
      this.cloneColumns.forEach(col => data = this.filterData(data, col))
      return data;
    },
    makeObjData () {
      let data = {};
      this.data.forEach((row, index) => {
          const newRow = deepCopy(row);// todo 直接替换
          newRow._isHover = false;
          if (newRow._disabled) {
              newRow._isDisabled = newRow._disabled;
          } else {
              newRow._isDisabled = false;
          }
          if (newRow._checked) {
              newRow._isChecked = newRow._checked;
          } else {
              newRow._isChecked = false;
          }
          if (newRow._expanded) {
              newRow._isExpanded = newRow._expanded;
          } else {
              newRow._isExpanded = false;
          }
          if (newRow._highlight) {
              newRow._isHighlight = newRow._highlight;
          } else {
              newRow._isHighlight = false;
          }
          data[index] = newRow;
      });
      return data;
    },

    // 修改列，设置一个隐藏的 id，便于后面的多级表头寻找对应的列，否则找不到
    makeColumnsId(columns) {
      return columns.map(item => {
        if('children' in item) this.makeColumnsId(item.children);
        item.__id = getRandomStr(6);
        return item;
      })
    },
    makeColumns (cols) {
      // 在 data 时，this.allColumns 暂时为 undefined
      let columns = deepCopy(getAllColumns(cols));
      let left = [];
      let right = [];
      let center = [];

      columns.forEach((column, index) => {
          column._index = index;
          column._columnKey = columnKey++;
          column.width = parseInt(column.width);
          column._width = column.width ? column.width : '';    // update in handleResize()
          column._sortType = 'normal';
          column._filterVisible = false;
          column._isFiltered = false;
          column._filterChecked = [];

          if ('filterMultiple' in column) {
              column._filterMultiple = column.filterMultiple;
          } else {
              column._filterMultiple = true;
          }
          if ('filteredValue' in column) {
              column._filterChecked = column.filteredValue;
              column._isFiltered = true;
          }

          if ('sortType' in column) {
              column._sortType = column.sortType;
          }

          if (column.fixed && column.fixed === 'left') {
              left.push(column);
          } else if (column.fixed && column.fixed === 'right') {
              right.push(column);
          } else {
              center.push(column);
          }
      });
      return left.concat(center).concat(right);
    },
    // create a multiple table-head
    makeColumnRows (fixedType, cols) {
      return convertToRows(cols, fixedType);
    },


  },
  watch: {
    data: {
      handler() {
        this.objData = this.makeObjData();
        this.rebuildData = this.makeDataWithSortAndFilter();
        this.handleResize();
      },
      deep: true
    },
    columns: {
      handler() {
        const colsWithId = this.makeColumnsId(this.columns);
        this.allColumns = getAllColumns(colsWithId);
        this.cloneColumns = this.makeColumns(colsWithId);

        this.columnRows = this.makeColumnRows(false, colsWithId);
        this.handleResize();
      },
      deep: true
    }
  }

}
</script>

<style lang="less" scoped>
.transposeTableWrap {
  .ivu-table {
    display: flex;
    .ivu-table-header {
      /deep/ tr th {
        height: 48px;
        border-right: 1px solid #e8eaec;
        padding: 8px 18px;
      }
    }
    .ivu-table-body {
      overflow: auto;
      flex: 1;
      // 不允许换行
      /deep/ .ivu-table-cell {
        white-space: nowrap;
      }
    }
  }
  .ivu-table.ivu-table-stripe {
    .ivu-table-body {
      // 间隔斑马纹 从横向变为纵向
      /deep/ tr:nth-child(2n) td {
        background-color: transparent;
      }
      /deep/ tr td:nth-child(2n) {
        background-color: #f8f8f9;
      }
      // 悬浮时添加背景色
      /deep/ tr td.ivu-table-td-hover {
        background-color: #ebf7ff;
      }
    }
  }
}
</style>
