<template>
  <div
    class="indicatorModel-container"
    :style="{
      background: getColor('areaColor'),
      border: `${StyleConfig.borderWidth}px ${StyleConfig.borderLineType} ${getColor('borderColor')}`
    }"
  >
    <Spin size="large" fix v-if="loading"></Spin>
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode" />
    <div class="card" v-else>
      <div class="card-header">
        <div class="right">
          <span class="warning" v-if="configData.showWarning && showWarning">预警</span>
        </div>
      </div>
      <div class="card-body">
        <div class="left">
          <p class="value">
            <span
              :style="
                'color:' +
                getColor('countColor') +
                ';' +
                'font-weight:' +
                (StyleConfig.countFontWeight ? 'bold' : 'normal') +
                ';' +
                'font-family:' +
                (StyleConfig.countFontFamily ? StyleConfig.countFontFamily : '黑体') +
                ';' +
                'font-size:' +
                (StyleConfig.countFontSize ? StyleConfig.countFontSize + 'px' : '24px')
              "
              >{{ curData }}</span
            >
          </p>
          <div class="yoy-mom">
            <p class="yoy" v-show="configData.showYoy">
              同比<i :class="getTrendClass(yoyRatioData)"></i><span>{{ yoyRatioData }}</span>
            </p>
            <p class="mom" v-show="configData.showMom">
              环比<i :class="getTrendClass(momRatioData)"></i><span>{{ momRatioData }}</span>
            </p>
          </div>
        </div>
        <div class="right" :style="{ visibility: configData.showChart ? 'visible' : 'hidden' }">
          <Chart :data="chartData" />
        </div>
      </div>
      <div
        class="card-footer"
        :style="{ visibility: configData.showTarget && targetData.indicatorValue && targetData.aimValue ? 'visible' : 'hidden' }"
      >
        目标
        <Progress :stroke-width="8" :percent="percent(targetData.indicatorValue, targetData.aimValue)" :stroke-color="strokeColor(targetData)" />
      </div>
      <div class="toolbar">
        <i :class="['collect', { collected: isCollect }]" title="收藏" @click="onToggleCollect"></i>
        <i
          class="share"
          title="分享"
          v-if="propertyData?.indicator?.[0] && isPublishSuccess(propertyData?.indicator?.[0])"
          @click="shareAuth(propertyData?.indicator?.[0])"
        ></i>

        <Poptip transfer trigger="hover" placement="top" v-if="isShowPoptip" popper-class="actionProp">
          <i class="more" title="更多"></i>
          <template #content>
            <div class="actionWrapper">
              <div
                class="actionItem"
                v-allow="[1097046178137089]"
                v-if="propertyData?.indicator?.[0]?.type === 1 && isHasAuth(propertyData?.indicator?.[0])"
                @click.stop="createDerive(propertyData?.indicator?.[0])"
              >
                创建派生指标
              </div>
              <div class="actionItem" @click.stop="createTarget(propertyData?.indicator?.[0])">创建目标</div>
              <div class="actionItem" @click.stop="createTask(propertyData?.indicator?.[0])">创建任务</div>
              <div class="actionItem" @click.stop="createWarning(propertyData?.indicator?.[0])">创建预警</div>
              <div class="actionItem" @click="goCreateStory(propertyData?.indicator?.[0])">创建故事</div>
              <div class="actionItem" @click.stop="toAscrib(propertyData?.indicator?.[0])">查看归因</div>
            </div>
          </template>
        </Poptip>
        <i class="more" title="更多" v-else></i>
      </div>
    </div>

    <!-- 权限分享弹窗 -->
    <AuthShareModal v-model="showAuthShare" :modal-status="authShareModalStatus" share-from="指标" />
  </div>
</template>

<script>
import mixin from "_c/charts/mixin/chartMixin";
import objectManageMixin from "@/view/objectManage/object-manage-mixin";
import BaseChart from "@/view/report/chart/basics/BaseChart";
import AuthShareModal from "@/components/AuthShareModal";
import NoData from "@/view/components/no-data";
import Chart from "@/view/report/chart/Indicator/Chart.vue";
import { CANVAS_COLOR_CONFIG, ZERO_PRE_COMPARE_DATA_SHOW } from "@/config/ReportConstants";
import moment from "moment";
import { getCompareDate, judgeHoliday } from "@/utils/chartDate";
import { getReportCompareDataAndHeaders } from "@/api/report";
import { getBusinessDate } from "@/utils/dateFormat";
import { formatCompareChangeRateData, formatData } from "@/view/report/indicator-browser/formatData";
import { queryTargetInfo } from "@/api/assetPanorama";
import { deepCopy } from "@/utils/common";
import { getTaskInfo } from "@/api/earlyWarningTarget";
import indicatorWorkbench from "@/view/indicatorWorkbench/indicatorWorkbenchIndex/mixin/index.js";
import { INDICATOR_OPTION_LIST } from "@/config/indicator";
import { mapState, mapMutations } from "vuex";
import { cancelCollect, getIndicatorByTabOnPage, syncToOtherTab } from "@/api/indicatorWorkbench";

const curDate = getBusinessDate();
const compareDate = getCompareDate("SC", { startDate: curDate, endDate: curDate, compareType: "mom" }, [, , , "2"]);

export default {
  name: "IndicatorModel",
  mixins: [mixin, indicatorWorkbench, objectManageMixin],
  extends: BaseChart,
  components: {
    NoData,
    Chart,
    AuthShareModal
  },
  props: {
    chartId: {
      type: String,
      default: null
    },
    propertyData: {
      type: Object,
      default: null
    },
    defaultImg: {
      default: null
    },
    propertyStyle: {
      type: Object,
      default: null
    },
    defaultShow: {
      type: Boolean,
      default: true
    },
    editable: Boolean
  },
  data() {
    return {
      IndicatorData: {
        title: "上证综指",
        count: 0,
        num: null,
        num1: null,
        isUp: true,
        showType: 0
      },
      indicatorType: "横向",
      loading: false,
      errorCode: null,
      businessDesc: "",
      curData: "156.45万元", // 当前指标卡的值
      yoyRatioData: "-3.88%", // 同比变化率
      momRatioData: "+3.88%", // 环比变化率
      chartData: [], // 折线图的数据
      targetData: "", // 目标值
      configData: {}, // 配置信息
      showWarning: false, // 是否显示预警
      isCollect: false // 是否收藏
    };
  },
  watch: {
    // 指标卡的指标指标变了，就更新指标的configData到图表的configData
    "propertyData.indicator": {
      handler() {
        const indicatorConfigData = this.propertyData.indicator?.[0]?.configData; // 指标的configData
        const showConfig = indicatorConfigData ? JSON.parse(indicatorConfigData) : {};
        this.$set(this.propertyData.configData, "showYoy", showConfig.showYoy ?? true);
        this.$set(this.propertyData.configData, "showMom", showConfig.showMom ?? true);
        this.$set(this.propertyData.configData, "showWarning", showConfig.showWarning ?? true);
        this.$set(this.propertyData.configData, "showTarget", showConfig.showTarget ?? true);
        this.$set(this.propertyData.configData, "showChart", showConfig.showChart ?? true);
        this.$set(
          this.propertyData.configData,
          "chartIndicatorId",
          showConfig.chartIndicatorId || Number(this.propertyData.indicator?.[0]?.id) || ""
        ); // 如果趋势图没有选择指标，默认为当前指标
        this.$set(this.propertyData.configData, "dateType", showConfig.dateType ?? 1); // 默认为近7天
      },
      deep: true
    }
  },
  computed: {
    ...mapState("intelligentAnswer", ["showIntelligentAnswer"]),
    globalReportDate() {
      return this.$store.state.chart.reportDate;
    },
    StyleConfig() {
      if (this.propertyStyle) {
        return this.propertyStyle;
      }
      if (this.$store.state.chart.currentSelectChart.style && this.$store.state.chart.currentSelectChart.style.indicatorType) {
        this.indicatorType = this.$store.state.chart.currentSelectChart.style.indicatorType;
      }
      if (this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
        return this.$store.state.chart.currentSelectChart.style;
      }
    },
    reportThemeStyle: function () {
      return (this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle) || "1";
    },
    isShowPoptip() {
      const indicator = this.propertyData?.indicator?.[0];
      const btnList = this.$store.state.user.btnAllowList;
      return (
        (this.editable && indicator?.type === 1 && this.isHasAuth(indicator) && btnList.some(ele => ele.id === 1097046178137089)) ||
        this.isOwn(indicator?.creatorId) ||
        (this.customTabList.length && this.isHasAuth(indicator)) ||
        this.isPublishSuccess(indicator)
      );
    }
  },
  methods: {
    ...mapMutations("intelligentAnswer", ["setShowIntelligentAnswer"]),
    /**
     * 获取趋势class
     * @param val 趋势值
     */
    getTrendClass(val) {
      const numberVal = Number(val.slice(0, -1));
      if (isNaN(numberVal) || numberVal === 0) {
        return "";
      } else {
        return numberVal > 0 ? "rise" : "decline";
      }
    },

    getColor(propertyName) {
      let color = "";
      if (this.StyleConfig.hasOwnProperty(propertyName)) {
        color = this.StyleConfig[propertyName];
      } else {
        let theme = "default";
        if (this.reportThemeStyle === "2") {
          theme = "black";
        }
        color = CANVAS_COLOR_CONFIG[theme][propertyName];
      }
      if (propertyName === "valueBackgroundColor" && this.defaultShow) {
        color = "transparent";
      }
      return color;
    },

    /**
     * 获取近多少天
     * @param days 天数
     */
    getDateByDays(days) {
      const lastDay = getBusinessDate();
      let startDate = moment(lastDay)
        .subtract(days - 1, "days")
        .format("YYYY-MM-DD");
      let endDate = lastDay;
      return { startDate, endDate };
    },

    /**
     * 获取近多少个月
     * @param months 月数
     */
    getDateByMonth(months) {
      const lastDay = getBusinessDate(); // 最近业务日期，非节假日、周末
      let startDate = null;
      if (months === "year") {
        // 当年
        startDate = moment(lastDay).startOf("year").format("YYYY-MM-DD"); // 当年第一天
      } else {
        startDate = moment(lastDay)
          .subtract(months - 1, "month")
          .startOf("month")
          .format("YYYY-MM-DD"); // 这个月第一天
      }
      return { startDate, endDate: lastDay };
    },

    updateConfigData() {
      const configData = this.propertyData.configData;
      const indicatorConfigData = this.propertyData.indicator?.[0]?.configData; // 指标的configData
      const showConfig = indicatorConfigData ? JSON.parse(indicatorConfigData) : {};
      // 报告中有配置，取报告的，否则取指标的
      this.configData = {
        showYoy: configData.showYoy ?? showConfig.showYoy ?? true,
        showMom: configData.showMom ?? showConfig.showMom ?? true,
        showWarning: configData.showWarning ?? showConfig.showWarning ?? true,
        showTarget: configData.showTarget ?? showConfig.showTarget ?? true,
        showChart: configData.showChart ?? showConfig.showChart ?? true,
        chartIndicatorId: configData.chartIndicatorId || showConfig.chartIndicatorId || Number(this.propertyData.indicator?.[0]?.id) || "", // 如果趋势图没有选择指标，默认为当前指标
        dateType: configData.dateType ?? showConfig.dateType ?? 1 // 默认为近7天
      };
    },

    /**
     * 根据维度、指标获取数据
     */
    async getData(isIndicatorTrendChart) {
      this.updateConfigData();
      const configData = this.configData;
      // 根据是当前图表还是右侧折线图获取时间
      let date = null;
      const lastDay = getBusinessDate();
      let lastSevenDaysStartDate = lastDay;
      let lastSevenDaysEndDate = lastDay;
      for (let i = 0; i < 6; i++) {
        lastSevenDaysStartDate = moment(lastSevenDaysStartDate).subtract(1, "days").format("YYYY-MM-DD");
        if (judgeHoliday(lastSevenDaysStartDate)) {
          i--;
        }
      }
      while (judgeHoliday(lastSevenDaysEndDate)) {
        lastSevenDaysEndDate = moment(lastSevenDaysEndDate).subtract(1, "days").format("YYYY-MM-DD");
      }
      const lastSevenDays = this.getDateByDays(7);
      const lastThirtyDays = this.getDateByDays(30);
      const lastOneMonth = this.getDateByMonth(1);
      const lastThreeMonth = this.getDateByMonth(3);
      const lastSixMonth = this.getDateByMonth(6);
      const curYear = this.getDateByMonth("year");
      if (isIndicatorTrendChart) {
        // 如果是右侧折线图请求数据
        const dateType = configData.dateType || 1;
        if (dateType === 1) {
          date = lastSevenDays;
        } else if (dateType === 2) {
          date = lastThirtyDays;
        } else if (dateType === 3) {
          date = lastOneMonth;
        } else if (dateType === 4) {
          date = lastThreeMonth;
        } else if (dateType === 5) {
          date = lastSixMonth;
        } else if (dateType === 6) {
          date = curYear;
        }
      } else {
        date = { startDate: this.globalReportDate[0], endDate: this.globalReportDate[1] };
      }
      // 默认年同比
      const res = await this.queryMoreCompareChartData(this.propertyData, date, null, true, 'yoy', null, {
        dimension: isIndicatorTrendChart ? globalVariable.defaultDayDimensionId : null, // 指标卡趋势图默认使用该维度
        isIndicatorTrendChart: isIndicatorTrendChart, // 是否是指标卡的趋势图
      })
      if (res.state === 'success') {
        let { errors, currentData } = res.data
        let errorsKeys = Object.keys(errors) // 错误信息
        if (errors && errorsKeys.length) {
          this.errorCode = errors[errorsKeys[0]].code;
          return;
        } else if (!currentData?.length || !currentData?.[0]?.length) {
          if (!isIndicatorTrendChart) { // 如果指标值有数据，趋势图没有数据场景处理为显示“暂无数据”（海尔）
            this.errorCode = '000000' // 暂无数据
          }
        } else {
          // 正常返回
          this.errorCode = null;
          this.$emit("changeDefaultShow", false);
          return res.data;
        }
      } else {
        this.errorCode = res.errorCode; // 错误信息有两种返回形式，这是第二种
      }
    },

    /**
     * 构建纯指标数据
     * @param res 请求回来的数据
     */
    buildDataOfPureIndicator(res) {
      const indicator = this.propertyData.indicator[0];
      let { currentData, yoyData, momData } = res;
      let numberFormat = deepCopy(this.propertyData.configData);
      const numberFormatConfig = {
        // 将数值格式配置转为方法需要的格式
        format: numberFormat.showType === 0 ? "数值" : "百分比",
        unit: {
          original: "原始值",
          wan: "万",
          yi: "亿"
        }[numberFormat.numberUnit],
        prefix: numberFormat.prefix,
        suffix: numberFormat.suffix,
        precision: numberFormat.decimalPlaces,
        useThousandsSeparator: numberFormat.thousandsSeparator
      };
      yoyData = yoyData[indicator.id]?.[0];
      momData = momData?.[0];
      let curData = formatData(currentData[0], numberFormatConfig);
      const yoyRatioData = formatCompareChangeRateData(currentData[0], yoyData?.[0], numberFormatConfig);
      const momRatioData = formatCompareChangeRateData(currentData[0], momData?.[0], numberFormatConfig);

      // 给指标值添加单位
      if (numberFormatConfig.unit) {
        if (numberFormatConfig.unit === "亿") {
          curData = curData + "亿";
        } else if (numberFormatConfig.unit === "万") {
          curData = curData + "万";
        }
      }
      // 给指标值添加前缀和后缀
      if (numberFormatConfig.prefix) {
        curData = numberFormatConfig.prefix + curData;
      }
      if (numberFormatConfig.suffix) {
        curData = curData + numberFormatConfig.suffix;
      }

      return [curData, yoyRatioData, momRatioData];
    },

    /**
     * 获取指标卡数据
     */
    getIndicatorData() {
      return this.getData();
    },

    /**
     * 获取趋势图数据
     */
    getChartData() {
      if (this.configData.showChart) {
        // 是否是指标卡趋势图
        return this.getData(true);
      } else {
        return null;
      }
    },

    /**
     * 获取预警数据
     */
    getWarningData() {
      const indicators = this.propertyData.indicator;
      if (this.configData.showWarning) {
        return getTaskInfo(indicators[0].id);
      } else {
        return null;
      }
    },

    /**
     * 获取目标数据
     */
    getTargetData() {
      return queryTargetInfo(this.propertyData.indicator[0].id);
    },

    /**
     * 获取指标收藏数据
     */
    async getCollectData() {
      const params = {
        pageNum: 1,
        pageSize: 10,
        tabId: 3, // 已收藏的
        groupIds: [this.propertyData.indicator[0].pid],
      };
      const res = await getIndicatorByTabOnPage(params);
      if (res.data.state === 'success') {
        const records = res.data.data?.records
        const record = records.find(item => item.id === this.propertyData.indicator[0].id)
        if (record) {
          return record.tabs
        }
      }

      return null
    },

    async refreshData() {
      if (this.propertyData?.indicator?.length) {
        this.loading = true;
        const res = await Promise.all([
          this.getIndicatorData(),
          this.getChartData(),
          this.getWarningData(),
          this.getTargetData(),
          this.getCollectData()
        ]);
        const [indicatorData, chartData, warningData, targetData, collectData] = res;
        this.loading = false;
        if (indicatorData) {
          const dataList = this.buildDataOfPureIndicator(indicatorData);
          this.curData = dataList[0];
          this.yoyRatioData = dataList[1];
          this.momRatioData = dataList[2];
        }

        if (chartData) {
          this.chartData = chartData.currentData;
        }

        if (warningData) {
          if (warningData.data.data) {
            this.showWarning = true;
          } else {
            this.showWarning = false;
          }
        }

        if (targetData) {
          if (targetData.data.data?.length > 0) {
            let info = targetData.data.data[0][0];
            const { indicatorId, indicatorType, dimensionId, dimensionMember } = info;
            let res = await this.getCompareData(indicatorId, dimensionId, dimensionMember, indicatorType, compareDate, curDate);
            this.targetData = { ...info, indicatorValue: res.indicatorValue };
          } else {
            this.targetData = {};
          }
        }

        this.isCollect = !!collectData
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },

    //查询同环比数据
    async getCompareData(indicatorId, dimensionId, dimensionMember, type, compareDate, curDate) {
      let params = {
        dimensionIds: dimensionId && dimensionMember ? [dimensionId] : [],
        indicatorVos: [{ id: indicatorId, type, variables: { businessDate: curDate } }],
        date: {
          startDate: curDate,
          endDate: curDate
        },
        yoyDate: {
          [indicatorId]: compareDate
        },
        momDate: getCompareDate("C", { startDate: curDate, endDate: curDate, compareType: "mom" }, [, , , "2"])
      };
      const res = await getReportCompareDataAndHeaders(params);
      if (res.data.state === "success") {
        const { currentData, yoyData, momData } = res.data.data;
        let cur = dimensionId && dimensionMember ? currentData.find(item => item[0] == dimensionMember)?.[1] || null : currentData[0]?.[0];
        const yoy =
          dimensionId && dimensionMember ? yoyData[indicatorId].find(item => item[0] == dimensionMember)?.[1] || null : yoyData[indicatorId][0]?.[0];
        let mom = dimensionId && dimensionMember ? momData.find(item => item[0] == dimensionMember)?.[1] || null : momData[0]?.[0];
        let yoyRate = formatCompareChangeRateData(cur, yoy, {}); //计算同比变化率
        let momRate = formatCompareChangeRateData(cur, mom, {}); //计算环比变化率
        if (momRate == "Infinity%" || momRate == "NaN%") {
          momRate = "--";
        }
        cur = cur ? Number(cur) : cur;
        return {
          indicatorValue: cur?.toFixed(2) || ZERO_PRE_COMPARE_DATA_SHOW,
          yoyRate,
          momRate
        };
      } else {
        return res.data.message;
      }
    },

    /**
     * 收藏
     */
    async onToggleCollect() {
      const indicator = this.propertyData?.indicator?.[0];
      const request = this.isCollect ? cancelCollect : syncToOtherTab;
      const params = {
        tabId: 3, // 已收藏的
        indicatorId: indicator?.id
      };
      const res = await request(params);
      if (res.data.state === "success") {
        this.$Message.success(`${this.isCollect ? "取消" : ""}收藏成功！`);
        this.isCollect = !this.isCollect;
      } else {
        this.$Message.warning(res.data.message);
      }
    },

    /**
     * 权限分享
     */
    shareAuth({ id, title, type }) {
      const moduleType = INDICATOR_OPTION_LIST.find(i => i.value === type).moduleType;
      this.showAddModal({ type: "权限分享", id, indicatorName: title, moduleType });
    },

    showAddModal(data) {
      if (data.type === "变更所有者") {
        const { id, moduleType } = data;
        this.showModal({ type: "变更所有者", row: { id, moduleType } });
      } else if (data.type === "同步至") {
        const { show, indicatorId, existedTabIDList } = data;
        this.syncModalStatus = {
          show,
          indicatorId,
          existedTabIDList
        };
      } else if (data.type === "权限分享") {
        const { id, indicatorName, moduleType } = data;
        this.showModal({ type: "权限分享", row: { id, name: indicatorName, moduleType } });
      }
    },

    /**
     * 关闭弹框
     */
    closeModal() {
      if (this.showIntelligentAnswer) {
        this.setShowIntelligentAnswer(false);
      }
    },

    /**
     * 创建目标
     */
    createTarget({ id, type }) {
      this.closeModal();
      this.$router.push({
        path: "/manager/objectManage/objectManage",
        query: {
          isShowModel: 1,
          indicatorId: id,
          type
        }
      });
    },

    /**
     * 创建任务
     */
    createTask({ id }) {
      this.closeModal();
      this.$router.push({
        path: "/manager/taskManage/taskManage",
        query: {
          isShowModel: 1,
          indicatorId: id
        }
      });
    },

    /**
     * 创建预警
     */
    createWarning({ id }) {
      this.closeModal();
      this.$router.push({
        path: "/manager/earlyWarningTarget/earlyWarningTargetIndex",
        query: {
          isShowModel: 1,
          indicatorId: id
        }
      });
    },

    /**
     * 创建故事
     */
    goCreateStory() {
      this.closeModal();
      this.$router.push("/indicatorWorkbench/storyBoardAdd");
    },

    /**
     * 查看归因
     */
    toAscrib({ id, title, type }) {
      this.closeModal();
      this.$router.push({
        path: "/indicatorWorkbench/indicatorWorkbenchDetail",
        query: {
          id,
          name: title,
          type,
          tab: "2"
        }
      });
    },

    showDefaultData() {
      this.$emit("changeDefaultShow", true);
      this.curData = "156.45万元";
      this.yoyRatioData = "-3.88%";
      this.momRatioData = "+3.88%";
      this.chartData = [];
      this.targetData = {};
      this.showWarning = false;
      this.isCollect = false;
    }
  },
  mounted() {
    if (this.propertyData?.indicator?.length) {
      this.refreshData();
    } else {
      this.showDefaultData();
    }
  }
};
</script>

<style lang="less" scoped>
.indicatorModel-container {
  height: 100%;
}

.content-indicator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 10px);

  /deep/ .ivu-card-head {
    text-align: center;
    padding: 0;
  }

  /deep/ .ivu-card-body {
    width: 100%;
  }
}

/deep/ .ivu-card-head {
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.verticalCard {
  font-size: 12px;
  border: 1px solid transparent;
  background: transparent;

  /deep/ .ivu-card-head {
    height: 50px;
    border-bottom: none;
  }

  /deep/ .ivu-card-body {
    height: 100%;
    padding: 0;

    .verticalWrapper {
      height: 100%;
      padding: 16px;
      display: flex;
    }
  }
}

.horizontalCard {
  font-size: 12px;
  border: 1px solid transparent;

  /deep/ .ivu-card-body {
    height: 100%;

    .horizontalWrapper {
      height: 100%;
      display: flex;
    }
  }
}

.title-indicator {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 12px;
}

.Icon-folder {
  font-size: 40px;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  color: rgb(136, 135, 135);
}

/deep/ .ivu-tooltip .ivu-tooltip-inner p {
  height: unset;
  line-height: unset;
}

.icon-eqaul-jiantou2:before {
  content: "\e612";
  color: #028bff;
}

.icon-eqaul-jiantou4:before {
  content: "\e613";
  color: #028bff;
}

.icon-eqaul-jiantou1:before {
  content: "\e614";
  color: #028bff;
}

.icon-eqaul-jiantou3:before {
  content: "\e615";
  color: #028bff;
}

.icon-eqaul-jiantou5:before {
  content: "\e616";
  color: #028bff;
}

.card {
  height: 100%;
  border-radius: 4px;
  padding: 0 16px;
  position: absolute;
  width: 100%;
  top: 0;

  &:hover > .toolbar {
    display: flex;
  }
}

.card-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 22%;

  .left {
    width: 50%;
    padding-right: 16px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.85);
  }

  .right {
    width: 58px;
    display: flex;
    justify-content: space-between;

    .warning {
      background: #f78c22 url("~@/assets/icons/indicatorIcon/warning.png") no-repeat 5px 1px ~"/" 18px 18px;
      border-radius: 4px;
      padding: 3px 7px 4px 26px;
      color: #ffffff;
      position: relative;
      top: 8px;
    }
  }
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54%;

  .left {
    width: 50%;
    height: 80%;
    padding-right: 16px;

    .value {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
      font-weight: 400;
      height: 55%;
      display: flex;
      align-items: center;

      > span {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: bold;
        margin-right: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .yoy-mom {
      height: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .yoy,
    .mom {
      color: rgba(35, 44, 88, 0.6);
      font-weight: 400;

      > i {
        margin-left: 4px;
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: -4px;

        &.decline {
          background: url("~@/assets/icons/indicatorIcon/arrow_decline.svg") no-repeat center;
        }

        &.rise {
          background: url("~@/assets/icons/indicatorIcon/arrow_rise.svg") no-repeat center;
        }
      }

      > span {
        margin-left: 4px;
        color: rgba(0, 0, 0, 0.65);
        font-weight: bold;
      }
    }
  }

  .right {
    width: 50%;
    height: 80%;
  }
}

.card-footer {
  color: rgba(35, 44, 88, 0.6);
  display: flex;
  align-items: center;
  height: 22%;

  /deep/ .ivu-progress {
    display: flex;
    flex: 1;
    margin-left: 12px;

    .ivu-progress-inner {
      overflow: hidden;
    }
  }
}

.toolbar {
  display: none;
  align-items: center;
  position: absolute;
  right: 16px;
  bottom: 9px;
  z-index: 1;

  i > {
    vertical-align: middle;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-left: 4px;
    cursor: pointer;
  }

  .collect {
    background: #d4e3ff url("~@/assets/icons/indicatorIcon/collect.svg") center no-repeat;

    &.collected {
      background: #d4e3ff url("~@/assets/icons/indicatorWorkbench/collected.svg") center no-repeat;
    }
  }

  .share {
    background: #d4e3ff url("~@/assets/icons/indicatorIcon/share.svg") center no-repeat;
  }

  .more {
    background: #d4e3ff url("~@/assets/icons/indicatorIcon/more.svg") center no-repeat;
  }
}

.actionWrapper {
  padding: 4px 0;

  .actionItem {
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    padding: 0 6px;
    color: #333333;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &:hover {
      background: #f0f5ff;
      color: #3f73ff;
    }
  }
}
</style>

<style>
.actionProp {
  min-width: 90px;
}
</style>
