<template>
  <div
    class="indicatorModel-container"
    :style="{
      background: getColor('areaColor'),
      border: `${StyleConfig.borderWidth}px ${StyleConfig.borderLineType} ${getColor('borderColor')}`
    }"
  >
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode" />
    <!-- 纵向或者默认情况没有显示方向 -->
    <Card
      class="verticalCard"
      style="width: 100%; margin: 0 auto; overflow: hidden; height: 100%; padding: 0 2px;"
      v-show="!errorCode && (StyleConfig.indicatorType == '纵向' || !StyleConfig.indicatorType)"
    >
      <div class="verticalWrapper" :style="{...layoutWrapperStyle, background: this.getColor('areaColor')}" @click="handleClickJump">
        <div :class="{
          'text-center': StyleConfig.drawVerticalAlign === 'center' || !StyleConfig.drawVerticalAlign,
          'text-left': StyleConfig.drawVerticalAlign === 'left',
          'text-right': StyleConfig.drawVerticalAlign === 'right'
        }">
        <p
          style="width: 100%;font-size: 20px;font-family: 黑体;height: 40px; overflow: hidden"
          :style="
            'color:' + getColor('countColor') + ';' +
            'font-weight:' + (StyleConfig.countFontWeight ? 'bold' : 'normal') + ';' +
            'font-family:' + (StyleConfig.countFontFamily ? StyleConfig.countFontFamily : '黑体') + ';' +
            'font-size:' + (StyleConfig.countFontSize ? StyleConfig.countFontSize + 'px' : '24px')
          "
        >
          <!--指标值-->
          <span v-html="prefix"></span>{{ currentIndicatorDataCount }}<span v-html="suffix"></span>
        </p>
        <!-- 纵向显示环比 -->
        <p v-if="useRingRatio" style="margin-top: 10px">
          <span
            style="color: #ccc;"
            :style="
              'color:' + getColor('caculateNameColor') + ';' +
              'font-weight:' +  (StyleConfig.caculateNameFontWeight ? 'bold' : 'normal') + ';' +
              'font-size:' + (StyleConfig.caculateNameFontSize ? StyleConfig.caculateNameFontSize + 'px' : '14px')
            "
          >
            {{showCaculateNameLinkText}}
          </span>
          <i class="iconfont" :class="[getIcon.plus]" :style="{'--plusColor': plusColor}"
            v-if="IndicatorData.count - IndicatorData.num>0"
            style="margin: 0 5px 0 10px"
          />
          <i class="iconfont" :class="[getIcon.minus]" :style="{'--minusColor': minusColor}"
            v-else-if="IndicatorData.count - IndicatorData.num<0"
            style="margin: 0 5px 0 10px"
          />
          <i class="iconfont" :class="[getIcon.eqaul]"
            v-else style="margin: 0 5px 0 10px"
          />
          <!-- null值显示 -->
          <span v-if="IndicatorData.count === null" :style="
            'color:' + getColor('nullValueColor') + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum }}
          </span>
          <!-- 0值显示 -->
          <span v-else-if="IndicatorData.count !== null && isNumZero" :style="
            'color:' + getColor('zeroValueColor') + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum }}
          </span>
          <!-- 其他值正常显示 -->
          <span v-else :style="
            'color:' + (IndicatorData.count - IndicatorData.num > 0 ? plusColor : minusColor) + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') +';' +
            'font-size:' +(StyleConfig.valueSetFontSize? StyleConfig.valueSetFontSize + 'px': '12px')
            ">{{ currentDayChainCompareNum }}
          </span>
        </p>
        <!-- 纵向显示同比 -->
        <p v-if="useYearOnYear" style="margin-top: 10px">
          <span style="color: #ccc;"
            :style="
              'color:' + getColor('caculateNameColor') + ';' +
              'font-weight:' + (StyleConfig.caculateNameFontWeight ? 'bold' : 'normal') + ';' +
              'font-size:' + (StyleConfig.caculateNameFontSize ? StyleConfig.caculateNameFontSize + 'px' : '14px')
            ">{{showCaculateNameYOYText}}
          </span>
          <i class="iconfont" :class="[getIcon.plus]" :style="{'--plusColor': plusColor}"
            v-if="IndicatorData.count - IndicatorData.num1>0"
            style="margin: 0 5px 0 10px"
          />
          <i class="iconfont" :class="[getIcon.minus]" :style="{'--minusColor': minusColor}"
            v-else-if="IndicatorData.count - IndicatorData.num1<0"
            style="margin: 0 5px 0 10px"
          />
          <i class="iconfont" :class="[getIcon.eqaul]"
            v-else style="margin: 0 5px 0 10px"
          />
          <!-- null值显示 -->
          <span v-if="IndicatorData.count === null" :style="
            'color:' + getColor('nullValueColor') + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum1 }}
          </span>
          <!-- 0值显示 -->
          <span v-else-if="IndicatorData.count !== null && isNum1Zero" :style="
            'color:' + getColor('zeroValueColor') + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum1 }}
          </span>
          <!-- 其他值正常显示 -->
          <span v-else :style="
            'color:' + (IndicatorData.count - IndicatorData.num1 > 0 ? plusColor : minusColor) + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum1 }}
          </span>
        </p>
        </div>
      </div>
    </Card>
    <!-- 横向显示 -->
    <Card
      class="content-indicator horizontalCard"
      style="height: 100%; margin: 0 auto; overflow: hidden; width: 100%;"
      :style="'background:' + getColor('valueBackgroundColor')"
      v-if="!errorCode && StyleConfig.indicatorType == '横向'"
    >
      <div class="horizontalWrapper" :style="layoutWrapperStyle">
        <p style="margin-left: 0;margin-right: 5%;">
          <span
            style="font-size: 20px; font-weight: bold;font-family: 黑体; line-height: 24px;"
            :style="
              'color:' + getColor('countColor') + ';' +
              'font-weight:' + (StyleConfig.countFontWeight ? 'bold' : 'normal') + ';' +
              'font-family:' + (StyleConfig.countFontFamily ? StyleConfig.countFontFamily : '黑体') + ';' +
              'font-size:' + (StyleConfig.countFontSize ? StyleConfig.countFontSize + 'px' : '24px') + ';' +
              'line-height:' + (StyleConfig.countFontSize ? StyleConfig.countFontSize + 'px' : '24px')
            ">{{ currentIndicatorDataCount }} <!--指标值-->
          </span>
        </p>
        <div>
        <p v-if="useRingRatio">
          <!-- 横向显示环比 -->
          <span :style="
            'color:' + getColor('caculateNameColor') + ';' +
            'font-weight:' + (StyleConfig.caculateNameFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.caculateNameFontSize ? StyleConfig.caculateNameFontSize + 'px' : '14px')
            ">{{showCaculateNameLinkText}}
          </span>
          <i class="iconfont" :class="[getIcon.plus]"
            :style="{'--plusColor': plusColor}"
            v-if="IndicatorData.count - IndicatorData.num>0"
            style="margin: 0 5px 0 10px"
          />
          <i class="iconfont" :class="[getIcon.minus]"
            :style="{'--minusColor': minusColor}"
            v-else-if="IndicatorData.count - IndicatorData.num<0"
            style="margin: 0 5px 0 10px"
          />
          <i class="iconfont" :class="[getIcon.eqaul]"
            v-else style="margin: 0 5px 0 10px"
          />
          <!-- null值显示 -->
          <span v-if="IndicatorData.count === null" :style="
            'color:' + getColor('nullValueColor') + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum }}
          </span>
          <!-- 0值显示 -->
          <span v-else-if="IndicatorData.count !== null && isNumZero" :style="
            'color:' + getColor('zeroValueColor') + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum }}
          </span>
          <!-- 其他值正常显示 -->
          <span v-else :style="
            'color:' + (IndicatorData.count - IndicatorData.num > 0 ? plusColor : minusColor) + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum }}
          </span>
        </p>
        <p v-if="useYearOnYear" style="margin-top: 10px">
          <!-- 横向显示同比 -->
          <span :style="
            'color:' + getColor('caculateNameColor') + ';' +
            'font-weight:' + (StyleConfig.caculateNameFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.caculateNameFontSize ? StyleConfig.caculateNameFontSize + 'px' : '14px')
            ">{{showCaculateNameYOYText}}
          </span>
          <i class="iconfont" :class="[getIcon.plus]"
            :style="{'--plusColor': plusColor}"
            v-if="IndicatorData.count - IndicatorData.num1>0"
            style="margin: 0 5px 0 10px"
          />
          <i class="iconfont" :class="[getIcon.minus]"
            :style="{'--minusColor': minusColor}"
            v-else-if="IndicatorData.count - IndicatorData.num1<0"
            style="margin: 0 5px 0 10px"
          />
          <i class="iconfont" :class="[getIcon.eqaul]"
            v-else style="margin: 0 5px 0 10px"
          />
          <!-- null值显示 -->
          <span v-if="IndicatorData.count === null" :style="
            'color:' + getColor('nullValueColor') + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum1 }}
          </span>
          <!-- 0值显示 -->
          <span v-else-if="IndicatorData.count !== null && isNum1Zero" :style="
            'color:' + getColor('zeroValueColor') + ';' +
            'font-weight:' + (StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum1 }}
          </span>
          <span v-else :style="
            'color:' + (IndicatorData.count - IndicatorData.num1 > 0 ? plusColor : minusColor) + ';' +
            'font-weight:' +(StyleConfig.valueSetFontWeight ? 'bold' : 'normal') + ';' +
            'font-size:' + (StyleConfig.valueSetFontSize ? StyleConfig.valueSetFontSize + 'px' : '12px')
            ">{{ currentDayChainCompareNum1 }}
          </span>
        </p>
        </div>
      </div>
    </Card>

    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
  import BaseChart from '@/view/report/chart/basics/BaseChart'
  import NoData from '@/view/components/no-data'
  import BigNumber from 'bignumber.js'
  import { CANVAS_COLOR_CONFIG } from '@/config/ReportConstants'
  import { formatCompareData, formatData } from '@/utils/BusinessDataHandleUtil'
  import mixin from '_c/charts/mixin/chartMixin'

  export default {
  name: "IndicatorModel",
  mixins: [ mixin ],
  extends: BaseChart,
  components: {
    NoData,
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    defaultImg: {
      default: null
    },
    imgHeight: {
      type: Number,
      default: null
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    defaultShow: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      IndicatorData: {
        title: "上证综指",
        count: 0,
        num: null,
        num1: null,
        isUp: true,
        showType: 0
      },
      indicatorType: "横向",
      loading: false,
      errorCode: null,
      height: 1,
      businessDesc: '',
    };
  },
  watch: {
    imgHeight(val, old) {
      if(val < old) this.height = 100
      if(val > old) this.height -= (val + 5)
    },
  },
  computed: {
    layoutWrapperStyle() {
      let justifyContent = ""
      if(this.StyleConfig.drawVerticalAlign === 'center' || !this.StyleConfig.drawVerticalAlign) {
        justifyContent = "center"
      } else if(this.StyleConfig.drawVerticalAlign === 'left') {
        justifyContent = "flex-start"
      } else if(this.StyleConfig.drawVerticalAlign === 'right') {
        justifyContent = "flex-end"
      }
      let alignItems = ""
      if(this.StyleConfig.drawHorizontalAlign === 'centerLine' || !this.StyleConfig.drawHorizontalAlign) {
        alignItems = "center"
      } else if(this.StyleConfig.drawHorizontalAlign === 'top') {
        alignItems = "flex-start"
      } else if(this.StyleConfig.drawHorizontalAlign === 'bottom') {
        alignItems = "flex-end"
      }
      return {
        justifyContent,
        alignItems
      }
    },
    prefix() {
      let prefix = this.propertyData.configData.prefix
      prefix = prefix.replaceAll(' ', '&nbsp;')
      return prefix
    },
    suffix() {
      let suffix = this.propertyData.configData.suffix
      suffix = suffix.replaceAll(' ', '&nbsp;')
      return suffix
    },
    StyleConfig() {
      if(this.propertyStyle){
        return this.propertyStyle
      }
      if (
        this.$store.state.chart.currentSelectChart.style &&
        this.$store.state.chart.currentSelectChart.style.indicatorType
      ) {
        this.indicatorType = this.$store.state.chart.currentSelectChart.style.indicatorType;
      }
      if (this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
        return this.$store.state.chart.currentSelectChart.style;
      }
    },
    currentIndicatorDataCount() {
      let formatCount = this.IndicatorData.count
      // 判断是否是百分比格式
      let isPercent = this.propertyData.configData.showType === 1 ? true : false
      // showValueConfig 展示数据相关的处理
      let showValueConfig = this.getShowValueConfig(this.propertyData.configData, isPercent)
      // 数值格式设置
      let numberUnitLabel = this.getNumberUnitLabel(this.propertyData.configData, isPercent)
      if(isPercent) {
        formatCount = new BigNumber(formatCount).times(100).toNumber()
      }
      formatCount = formatData(formatCount, showValueConfig) + numberUnitLabel
      return formatCount
    },
    // 根据类型和精度，对环比数据进行处理
    currentDayChainCompareNum() {
      let num = null;
      // 如果指标值为null,则沿用null值设置
      if(this.IndicatorData.count === null){
        num = this.StyleConfig.nullValueShowType ? this.handleShowText(this.StyleConfig.nullValueShowType) : '--';
        if(num === 0){
          // 判断是否是百分比格式
          let isPercent = this.propertyData.configData.showType === 1 ? true : false
          // showValueConfig 展示数据相关的处理
          let showValueConfig = this.getShowValueConfig(this.propertyData.configData, isPercent)
          // 数值格式设置
          let numberUnitLabel = this.getNumberUnitLabel(this.propertyData.configData, isPercent)
          if(isPercent) {
            num = new BigNumber(num).times(100).toNumber()
          }
          num = formatData(num, showValueConfig) + numberUnitLabel
        }
      }else{
        // 指标值正常
        let currentBigNumData = this.IndicatorData.count != null ? new BigNumber(this.IndicatorData.count) : new BigNumber(0)
        let compareBigNumData = this.IndicatorData.num != null ? new BigNumber(this.IndicatorData.num) : new BigNumber(0)
        if(this.propertyData.configData.ringRatioUnitValue === 'per') {
          num = formatCompareData(currentBigNumData, compareBigNumData, { showType: 1 })
        } else {
          num = formatCompareData(currentBigNumData, compareBigNumData, { showType: 0 })
          // 判断是否是百分比格式
          let isPercent = this.propertyData.configData.showType === 1 ? true : false
          // showValueConfig 展示数据相关的处理
          let showValueConfig = this.getShowValueConfig(this.propertyData.configData, isPercent)
          // 数值格式设置
          let numberUnitLabel = this.getNumberUnitLabel(this.propertyData.configData, isPercent)
          if(isPercent) {
            num = new BigNumber(num).times(100).toNumber()
          }
          num = formatData(num, showValueConfig) + numberUnitLabel
        }
        let numVal = num.split('万')[0];
        numVal = numVal.split('亿')[0];
        numVal = numVal.split('%')[0];
        // 为0值
        if(Number(numVal) === 0){
          let val = this.StyleConfig.zeroValueShowType ? this.handleShowText(this.StyleConfig.zeroValueShowType) : 0;
          num = val === 0 ? num : this.handleShowText(this.StyleConfig.zeroValueShowType)
        }
      }
      return num
    },
    currentDayChainCompareNum1() {
      let num = null;
      if(this.IndicatorData.count === null){
        num = this.StyleConfig.nullValueShowType ? this.handleShowText(this.StyleConfig.nullValueShowType) : '--';
        if(num === 0){
          // 判断是否是百分比格式
          let isPercent = this.propertyData.configData.showType === 1 ? true : false
          // showValueConfig 展示数据相关的处理
          let showValueConfig = this.getShowValueConfig(this.propertyData.configData, isPercent)
          // 数值格式设置
          let numberUnitLabel = this.getNumberUnitLabel(this.propertyData.configData, isPercent)
          if(isPercent) {
            num = new BigNumber(num).times(100).toNumber()
          }
          num = formatData(num, showValueConfig) + numberUnitLabel
        }
      }else{
        let currentBigNumData = this.IndicatorData.count != null ? new BigNumber(this.IndicatorData.count) : new BigNumber(0)
        let compareBigNumData = this.IndicatorData.num1 != null ? new BigNumber(this.IndicatorData.num1) : new BigNumber(0)
        if(this.propertyData.configData.yearOnYearUnitValue === 'per') {
          num = formatCompareData(currentBigNumData, compareBigNumData, { showType: 1 })
        } else {
          num = formatCompareData(currentBigNumData, compareBigNumData, { showType: 0 })
          // 判断是否是百分比格式
          let isPercent = this.propertyData.configData.showType === 1 ? true : false
          // showValueConfig 展示数据相关的处理
          let showValueConfig = this.getShowValueConfig(this.propertyData.configData, isPercent)
          // 数值格式设置
          let numberUnitLabel = this.getNumberUnitLabel(this.propertyData.configData, isPercent)
          if(isPercent) {
            num = new BigNumber(num).times(100).toNumber()
          }
          num = formatData(num, showValueConfig) + numberUnitLabel
        }
        let numVal = num.split('万')[0];
        numVal = numVal.split('亿')[0];
        numVal = numVal.split('%')[0];
        // 为0值
        if(Number(numVal) === 0){
          let val = this.StyleConfig.zeroValueShowType ? this.handleShowText(this.StyleConfig.zeroValueShowType) : 0;
          num = val === 0 ? num : this.handleShowText(this.StyleConfig.zeroValueShowType)
        }
      }
      return num
    },
    isNumZero(){
      let numVal = this.currentDayChainCompareNum.split('万')[0];
      numVal = numVal.split('亿')[0];
      numVal = numVal.split('%')[0];
      return Number(numVal) === 0 || this.currentDayChainCompareNum === '--' || this.currentDayChainCompareNum === 'null' || !this.currentDayChainCompareNum  ? true : false;
    },
    isNum1Zero(){
      let numVal = this.currentDayChainCompareNum1.split('万')[0];
      numVal = numVal.split('亿')[0];
      numVal = numVal.split('%')[0];
      return Number(numVal) === 0 || this.currentDayChainCompareNum1 === '--' || this.currentDayChainCompareNum1 === 'null' || !this.currentDayChainCompareNum1  ? true : false;
    },
    // 使用环比
    useRingRatio() {
      return this.propertyData.configData &&
        this.propertyData.configData.useCompare &&
        this.propertyData.configData.useRingRatio || false
    },
    // 使用同比
    useYearOnYear() {
      return this.propertyData.configData &&
        this.propertyData.configData.useCompare &&
        this.propertyData.configData.useYearOnYear || false
    },
    reportThemeStyle: function() {
      return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle || '1'
    },
    showCaculateNameLinkText(){
      return this.StyleConfig.caculateNameLink || '环比';
    },
    showCaculateNameYOYText(){
      let name = '';
      if(this.StyleConfig.caculateNameYOY){
        name = this.StyleConfig.caculateNameYOY;
      }else{
        name = this.propertyData.configData.yearOnYearTypeValue === 'mom' ? '同比(月)' : '同比(年)'
      }
      return name;
    },
    getIcon(){
      let val_plus = '';
      let val_minus = '';
      let val_eqaul = '';
      switch (this.StyleConfig.caculateValueIcon) {
        case 1:
          val_plus = 'icon-plus-jiantou1';
          val_minus = 'icon-minus-jiantou1';
          val_eqaul = 'icon-eqaul-jiantou1';
          break;
        case 2:
          val_plus = 'icon-plus-jiantou2';
          val_minus = 'icon-minus-jiantou2';
          val_eqaul = 'icon-eqaul-jiantou2';
          break;
        case 3:
          val_plus = 'icon-plus-jiantou3';
          val_minus = 'icon-minus-jiantou3';
          val_eqaul = 'icon-eqaul-jiantou3';
          break;
        case 4:
          val_plus = 'icon-plus-jiantou4';
          val_minus = 'icon-minus-jiantou4';
          val_eqaul = 'icon-eqaul-jiantou4';
          break;
        default:
          val_plus = 'icon-plus-jiantou5';
          val_minus = 'icon-minus-jiantou5';
          val_eqaul = 'icon-eqaul-jiantou5';
          break;
      }
      return {
        plus: val_plus,
        minus: val_minus,
        eqaul: val_eqaul
      };
    },
    plusColor(){
      return this.StyleConfig.caculatePlusColor || '#EA5252';
    },
    minusColor(){
      return this.StyleConfig.caculateMinusColor || '#00C500';
    },
  },
  methods: {
    handleShowText(code) {
      let val = '';
      switch (code) {
        case 1:
          val = '--';
          break;
        case 2:
          val = 'null';
          break;
        case 3:
          val = 0;
          break;
        case 4:
          val = '';
          break;
      }
      return val;
    },
    handleClickJump() {
      const jumpOption = this.propertyData.configData.jumpOption;//跳转配置
      if(jumpOption.openJump) {
        //跳转
        this.$parent.$parent.getJumpParam({
          left: event.zrX,
          top: event.zrY
        }, 'empty', 'empty')
      }
    },
    compareDataHandle(curNum, beforeNum, type) {
      let str = ''
      if(beforeNum === null) {
        return '-'
      }
      let diff = new BigNumber(curNum).minus(beforeNum)
      if(type === 'per') {
        if(beforeNum === 0) {
          return '-'
        }
        str = diff.div(Math.abs(beforeNum)).multipliedBy(100).toFixed(2)
        str += '%'
      } else {
        str = diff.toFixed(2)
      }
      return str
    },
    getColor(propertyName) {
      let color = ''
      if(this.StyleConfig.hasOwnProperty(propertyName)) {
        color = this.StyleConfig[propertyName]
      } else {
        let theme = 'default'
        if(this.reportThemeStyle === '2') {
          theme = 'black'
        }
        color = CANVAS_COLOR_CONFIG[theme][propertyName]
      }
      if(propertyName === 'valueBackgroundColor' && this.defaultShow) {
        color = 'transparent'
      }
      return color
    },
    fetchData() {
      this.loading = true;
      this.errorCode = null;
        let compare = this.propertyData.configData.useRingRatio
        let sameCompareType = ''
        if(this.propertyData.configData.useYearOnYear) {
          sameCompareType = this.propertyData.configData.yearOnYearTypeValue
        }
      this.queryMoreCompareChartData(this.propertyData, null, null, compare, sameCompareType).then(res => {
        this.loading = false;
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if(res.state === "success") {
          const resData = res.data
          if(resData.currentData?.length && resData.currentData?.[0]?.length) {
            this.IndicatorData.count = resData.currentData[0][0];
            this.IndicatorData.title = this.propertyData.indicator[0].abbrName || this.propertyData.indicator[0].title
            this.IndicatorData.showType = this.propertyData.indicator[0].showType
            if(resData.momData && resData.momData.length && resData.momData[0].length) {
              this.IndicatorData.num = resData.momData[0][0];
            } else {
              this.IndicatorData.num = null
            }
            if(resData.yoyData && resData.yoyData.length && resData.yoyData[0].length) {
              this.IndicatorData.num1 = resData.yoyData[0][0];
            } else {
              this.IndicatorData.num1 = null
            }
          } else {
            this.errorCode = '000000';
          }
        } else {
          this.errorCode = res.errorCode;
          this.$Message.error("指标版数据获取失败");
        }
      })
      this.$emit('changeDefaultShow', false)
    },
    refreshData() {
      // 如果数据属性条件齐全则请求数据(目前只支持一个指标)
      if (this.propertyData && this.propertyData.indicator.length) {
        this.fetchData();
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },
    showCompare() {
      let compareIndicators = this.propertyData.indicator.filter(item => item.useCompare);
      return this.propertyData.configData &&
        this.propertyData.configData.isOpenCompareBeforeTime &&
        compareIndicators.length > 0
    },
    showDefaultData() {
      this.$emit('changeDefaultShow', true)
      this.IndicatorData.count = 144.03
      this.IndicatorData.title = '模块标题内容/指标标题内容'
    },
  },
  mounted() {
    if (
      this.propertyData &&
      this.propertyData.indicator.length
    ) {
      this.propertyData = { ...this.propertyData };
      this.fetchData(true);
    } else {
      this.showDefaultData()
    }
  },
};
</script>

<style lang='less' scoped>
.indicatorModel-container {
  height: 100%;
}
.content-indicator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 10px);
  /deep/.ivu-card-head {
    text-align: center;
    padding: 0;
  }
  /deep/.ivu-card-body {
    width: 100%;
  }
}
/deep/.ivu-card-head {
  padding: 0;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.verticalCard {
  font-size: 12px;
  border: 1px solid transparent;
  background: transparent;
   /deep/.ivu-card-head{
     height: 50px;
     border-bottom: none;
   }
   /deep/.ivu-card-body{
     height: 100%;
     padding: 0;
     .verticalWrapper {
        height: 100%;
        padding: 16px;
        display: flex;
      }
   }
}
.horizontalCard {
  font-size: 12px;
  border: 1px solid transparent;
  /deep/ .ivu-card-body{
    height: 100%;
    .horizontalWrapper {
      height: 100%;
      display: flex;
    }
  }
}

.title-indicator {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 12px;
}
.Icon-folder {
  font-size: 40px;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  color: rgb(136, 135, 135);
}

/deep/ .ivu-tooltip .ivu-tooltip-inner p {
  height: unset;
  line-height: unset;
}
.icon-eqaul-jiantou2:before {
  content: "\e612";
  color: #028bff;
}

.icon-eqaul-jiantou4:before {
  content: "\e613";
  color: #028bff;
}

.icon-eqaul-jiantou1:before {
  content: "\e614";
  color: #028bff;
}

.icon-eqaul-jiantou3:before {
  content: "\e615";
  color: #028bff;
}

.icon-eqaul-jiantou5:before {
  content: "\e616";
  color: #028bff;
}

.icon-minus-jiantou5:before {
  content: "\e617";
  color: var(--minusColor);
}

.icon-plus-jiantou5:before {
  content: "\e618";
  color: var(--plusColor);
}

.icon-plus-jiantou1:before {
  content: "\e609";
  color: var(--plusColor);
}

.icon-minus-jiantou1:before {
  content: "\e60a";
  color: var(--minusColor);
}

.icon-plus-jiantou3:before {
  content: "\e60b";
  color: var(--plusColor);
}

.icon-plus-jiantou4:before {
  content: "\e60c";
  color: var(--plusColor);
}

.icon-minus-jiantou4:before {
  content: "\e60d";
  color: var(--minusColor);
}

.icon-minus-jiantou3:before {
  content: "\e60e";
  color: var(--minusColor);
}

.icon-minus-jiantou2:before {
  content: "\e60f";
  color: var(--minusColor);
}

.icon-plus-jiantou2:before {
  content: "\e611";
  color: var(--plusColor);
}
</style>
