<template>
    <Collapse v-model="openAll" simple>
      <Panel name="drawModel">
        绘图区样式
        <div slot="content">
          <div class="item">
            <span class="itemLabel">背景色</span>
            <colorPicker
              class="bgColorPicker"
              defaultColor="#ffffff"
              :key="IndicatorStyleConfigs.areaColor"
              v-model="IndicatorStyleConfigs.areaColor"
              @change="areaColorChange"
            />
          </div>
          <div class="item">
            <span class="itemLabel">边框</span>
            <colorPicker
              defaultColor="#cccccc"
              :key="IndicatorStyleConfigs.borderColor"
              v-model="IndicatorStyleConfigs.borderColor"
              @change="borderColorChange"
              class="mr2"
            />
            <Select v-model="IndicatorStyleConfigs.borderLineType"
              style="width:60px;margin-left: 3px;margin-right: 3px"
              @on-change="onBorderLineTypeChange">
              <Option v-for="item in lineTypeList"
                :value="item.value"
                :key="item.value"
              >{{ item.label }}</Option>
            </Select>
            <InputNumber
              :min="0"
              @on-change="borderWidthChange"
              v-model="IndicatorStyleConfigs.borderWidth"
              style="width: 60px;"
            />
          </div>
        </div>
      </Panel>
      <Panel name="indicatorModel">
        指标
        <div slot="content">
          <div class="item itemGap">
            <colorPicker
              class="fontColorPicker"
              defaultColor="#cccccc"
              :key="IndicatorStyleConfigs.countColor"
              v-model="IndicatorStyleConfigs.countColor"
              @change="onCountColorChange"
            />
            <div class="font-weight-all" :class="{'fontWeight-active': IndicatorStyleConfigs.countFontWeight}">
              <Checkbox :key="IndicatorStyleConfigs.countFontWeight"
                @on-change="onCountFontWeightChange"
                v-model="IndicatorStyleConfigs.countFontWeight"
              >B</Checkbox>
            </div>
            <InputNumber
              :min="1"
              @on-change="onCountFontSizeChange"
              v-model="IndicatorStyleConfigs.countFontSize"
            />
            <Select style="width: 90%"
              v-model="IndicatorStyleConfigs.countFontFamily"
              @on-change="onCountFontFamilyChange">
              <Option v-for="item in countFontFamilyArr"
                :value="item.value"
                :key="item.value">
                {{ item.label }}
              </Option>
            </Select>
          </div>
        </div>
      </Panel>
      <Panel name="caculateModel" v-show="currentSelectConfigData.useRingRatio || currentSelectConfigData.useYearOnYear">
        快速计算
        <div slot="content">
          <div class="item-gray">
            <p>名称</p>
            <Input
              v-model="IndicatorStyleConfigs.caculateNameLink"
              v-show="currentSelectConfigData.useRingRatio"
              @on-blur="onCaculateNameLinkChange"
              @on-enter="onCaculateNameLinkChange"
              style="margin-top: 8px" />
            <Input
              v-model="IndicatorStyleConfigs.caculateNameYOY"
              v-show="currentSelectConfigData.useYearOnYear"
              @on-blur="onCaculateNameYOYChange"
              @on-enter="onCaculateNameYOYChange"
              style="margin-top: 8px" />
            <div class="item itemGap" style="margin-top: 8px">
              <colorPicker
                class="fontColorPicker"
                defaultColor="#cccccc"
                :key="IndicatorStyleConfigs.caculateNameColor"
                v-model="IndicatorStyleConfigs.caculateNameColor"
                @change="onCaculateNameColorChange"
              />
              <div class="font-weight-all" :class="{'fontWeight-active': IndicatorStyleConfigs.caculateNameFontWeight}">
                <Checkbox :key="IndicatorStyleConfigs.caculateNameFontWeight"
                  @on-change="onCaculateNameFontWeightChange"
                  v-model="IndicatorStyleConfigs.caculateNameFontWeight"
                >B</Checkbox>
              </div>
              <InputNumber
                :min="1"
                style="width: 142px;"
                @on-change="onCaculateNameFontSizeChange"
                v-model="IndicatorStyleConfigs.caculateNameFontSize"
              />
            </div>
          </div>
          <div class="item-gray">
            <p>值设置</p>
            <div class="item">
              <span class="itemLabel">正负</span>
              <Select :class="`plusOrMinus${IndicatorStyleConfigs.caculateValueIcon}`" v-model="IndicatorStyleConfigs.caculateValueIcon"
                style="width:64px;"
                @on-change="onCaculateValueIconChange">
                <Option :value="1" key="1" label=" ">
                  <div>
                    <img src="@/assets/images/report/arrow1-up.svg" alt="">
                    <img src="@/assets/images/report/arrow1-down.svg" alt="">
                  </div>
                </Option>
                <Option :value="2" key="2" label=" ">
                  <div>
                    <img src="@/assets/images/report/arrow2-up.svg" alt="">
                    <img src="@/assets/images/report/arrow2-down.svg" alt="">
                  </div>
                </Option>
                <Option :value="3" key="3" label=" ">
                  <div>
                    <img src="@/assets/images/report/arrow3-up.svg" alt="">
                    <img src="@/assets/images/report/arrow3-down.svg" alt="">
                  </div>
                </Option>
                <Option :value="4" key="4" label=" ">
                  <div>
                    <img src="@/assets/images/report/arrow4-up.svg" alt="">
                    <img src="@/assets/images/report/arrow4-down.svg" alt="">
                  </div>
                </Option>
                <Option :value="5" key="5" label=" ">
                  <div>
                    <img src="@/assets/images/report/arrow5-up.svg" alt="">
                    <img src="@/assets/images/report/arrow5-down.svg" alt="">
                  </div>
                </Option>
              </Select>
              <span style="margin-left: 8px">正</span>
              <colorPicker
                class="bgColorPicker"
                defaultColor="#EA5252"
                :key="IndicatorStyleConfigs.caculatePlusColor"
                v-model="IndicatorStyleConfigs.caculatePlusColor"
                @change="onCaculatePlusColorChange"
              />
              <span style="margin-left: 8px">负</span>
              <colorPicker
                class="bgColorPicker"
                defaultColor="#00C500"
                :key="IndicatorStyleConfigs.caculateMinusColor"
                v-model="IndicatorStyleConfigs.caculateMinusColor"
                @change="onCaculateMinusColorChange"
              />
            </div>
            <div class="item">
              <span class="itemLabel">空值</span>
              <Select style="width: 100px"
                v-model="IndicatorStyleConfigs.nullValueShowType"
                @on-change="onNullValueShowTypeChange">
                <Option v-for="item in nullValueShowArr"
                  :value="item.value"
                  :key="item.value">
                  {{ item.label }}
                </Option>
              </Select>
              <span style="margin-left: 5px">颜色</span>
              <colorPicker
                class="fontColorPicker"
                defaultColor="#333333"
                :key="IndicatorStyleConfigs.nullValueColor"
                v-model="IndicatorStyleConfigs.nullValueColor"
                @change="onNullValueColorChange"
              />
            </div>
            <div class="item">
              <span class="itemLabel">零值</span>
              <Select style="width: 100px"
                v-model="IndicatorStyleConfigs.zeroValueShowType"
                @on-change="onZeroValueShowTypeChange">
                <Option v-for="item in nullValueShowArr"
                  :value="item.value"
                  :key="item.value">
                  {{ item.label }}
                </Option>
              </Select>
              <span style="margin-left: 5px">颜色</span>
              <colorPicker
                class="fontColorPicker"
                defaultColor="#333333"
                :key="IndicatorStyleConfigs.zeroValueColor"
                v-model="IndicatorStyleConfigs.zeroValueColor"
                @change="onZeroValueColorChange"
              />
            </div>
            <div class="item">
              <div class="font-weight-all"
                :class="{'fontWeight-active': IndicatorStyleConfigs.valueSetFontWeight}"
              >
                <Checkbox :key="IndicatorStyleConfigs.valueSetFontWeight"
                  @on-change="onValueSetFontWeightChange"
                  v-model="IndicatorStyleConfigs.valueSetFontWeight"
                >B</Checkbox>
              </div>
              <InputNumber
                :min="1"
                style="width: 171px;"
                @on-change="onValueSetFontSizeChange"
                v-model="IndicatorStyleConfigs.valueSetFontSize"
              />
            </div>
          </div>
        </div>
      </Panel>
    </Collapse>
</template>

<script>
import { BORDER_STYLE_ARR, FONT_FAMILY_LIST, NULL_VALUE_SHOW_LIST } from '@/config/ReportConstants'
import { mapGetters } from 'vuex'

export default {
  name: 'IndicatorStyleConfigs',
  props: {
    styleConfigs: {
      type: Object,
      default: (value) => {}
    }
  },
  data() {
    return {
      openAll: ['drawModel', 'indicatorModel'],
      lineTypeList: BORDER_STYLE_ARR,
      countFontFamilyArr: Object.freeze(FONT_FAMILY_LIST),
      nullValueShowArr: Object.freeze(NULL_VALUE_SHOW_LIST),
    }
  },
  computed: {
    ...mapGetters(['currentSelectConfigData']),
    currentSelectChart() {
      const currentSelectChart =
        this.$store.state.chart && this.$store.state.chart.currentSelectChart
      return currentSelectChart
    },
    IndicatorStyleConfigs() {
      return Object.assign(
        {
          indicatorType: '纵向',
          indicatorTitleColor: '#ffffff',
          backgroundColor: '#87AFFF',
          valueBackgroundColor: '#ffffff',
          countColor: '#5a5a5a',
          indicatorTitleFontSize: 14,
          countFontSize: 24,
          areaColor: '#ffffff',
          borderColor: '#ffffff',
          borderLineType: 'none',
          borderWidth: 0,
          drawVerticalAlign: 'center',
          drawHorizontalAlign: 'centerLine',
          countFontFamily: 'SimSun',
          countFontWeight: false,
          caculateNameLink: '环比',
          caculateNameYOY: this.currentSelectChart.data.configData.yearOnYearTypeValue === 'yoy' ? '同比(年)' : '同比(月)',
          caculateNameColor: '#5a5a5a',
          caculateNameFontWeight: false,
          caculateNameFontSize: 14,
          caculateValueIcon: 5,
          caculatePlusColor: '#EA5252',
          caculateMinusColor: '#00C500',
          nullValueShowType: 1,
          nullValueColor: '#333333',
          zeroValueColor: '#333333',
          zeroValueShowType: 3,
          valueSetFontWeight: false,
          valueSetFontSize: 12
        },
        this.styleConfigs
      )
    }
  },
  created() {
    this.$set(
      this.currentSelectChart.style,
      'indicatorType',
      this.IndicatorStyleConfigs.indicatorType
    )
  },
  methods: {
    onTypeChange(e) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      this.$set(this.currentSelectChart.style, 'indicatorType', e)
    },
    onBackChange(value) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      this.$set(this.currentSelectChart.style, 'backgroundColor', value)
    },
    onValueBackChange(value) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      this.$set(this.currentSelectChart.style, 'valueBackgroundColor', value)
    },
    onColorChange(value) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      this.$set(this.currentSelectChart.style, 'indicatorTitleColor', value)
    },
    onCountColorChange(value) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      this.$set(this.currentSelectChart.style, 'countColor', value)
    },
    onTitleFontSizeChange(value) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      this.$set(this.currentSelectChart.style, 'indicatorTitleFontSize', value)
    },
    onCountFontSizeChange(value) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      this.$set(this.currentSelectChart.style, 'countFontSize', value)
    },
    areaColorChange(value) {
      this.$set(this.currentSelectChart.style, 'areaColor', value)
    },
    borderColorChange(value) {
      this.$set(this.currentSelectChart.style, 'borderColor', value)
    },
    onBorderLineTypeChange(value){
      this.$set(this.currentSelectChart.style, 'borderLineType', value)
    },
    borderWidthChange(value){
      this.$set(this.currentSelectChart.style, 'borderWidth', value)
    },
    onDrawVerticalAlignChange(value){
      this.$set(this.currentSelectChart.style, 'drawVerticalAlign', value)
    },
    onDrawHorizontalAlignChange(value){
      this.$set(this.currentSelectChart.style, 'drawHorizontalAlign', value)
    },
    onCountFontFamilyChange(value){
      this.$set(this.currentSelectChart.style, 'countFontFamily', value)
    },
    onCountFontWeightChange(value){
      this.$set(this.currentSelectChart.style, 'countFontWeight', value)
    },
    onCaculateNameColorChange(value){
      this.$set(this.currentSelectChart.style, 'caculateNameColor', value)
    },
    onCaculateNameFontWeightChange(value){
      this.$set(this.currentSelectChart.style, 'caculateNameFontWeight', value)
    },
    onCaculateNameFontSizeChange(value){
      this.$set(this.currentSelectChart.style, 'caculateNameFontSize', value)
    },
    onCaculateValueIconChange(value){
      this.$set(this.currentSelectChart.style, 'caculateValueIcon', value)
    },
    onCaculatePlusColorChange(value){
      this.$set(this.currentSelectChart.style, 'caculatePlusColor', value)
    },
    onCaculateMinusColorChange(value){
      this.$set(this.currentSelectChart.style, 'caculateMinusColor', value)
    },
    onNullValueShowTypeChange(value){
      this.$set(this.currentSelectChart.style, 'nullValueShowType', value)
    },
    onNullValueColorChange(value){
      this.$set(this.currentSelectChart.style, 'nullValueColor', value)
    },
    onZeroValueShowTypeChange(value){
      this.$set(this.currentSelectChart.style, 'zeroValueShowType', value)
    },
    onZeroValueColorChange(value){
      this.$set(this.currentSelectChart.style, 'zeroValueColor', value)
    },
    onValueSetFontWeightChange(value){
      this.$set(this.currentSelectChart.style, 'valueSetFontWeight', value)
    },
    onValueSetFontSizeChange(value){
      this.$set(this.currentSelectChart.style, 'valueSetFontSize', value)
    },
    onCaculateNameLinkChange(value){
      this.$set(this.currentSelectChart.style, 'caculateNameLink', value.target._value)
    },
    onCaculateNameYOYChange(value){
      this.$set(this.currentSelectChart.style, 'caculateNameYOY', value.target._value)
    },
  }
}
</script>

<style scoped lang="scss">
.itemLabel {
  // width: 48px;
  padding: 10px 6px 10px 0;
  box-sizing: border-box;
}
.item {
  display: flex;
  align-items: center;
}
.itemGap {
  margin: 0 auto 10px;
}
.item .itemLabel {
  // width: 80px;
  padding: 10px 12px 10px 0;
  box-sizing: border-box;
  white-space: nowrap;
}
.item.alignWrapper {
  align-items: flex-start;
  .itemRight {
    .align-select {
      &:first-child {
        margin-bottom: 8px;
      }
      /deep/.ivu-radio-group-button .ivu-radio-wrapper {
        padding: 0 6px;
      }
    }
  }
}

.item .itemStyleRight {
  flex: 1;
}
.config-row {
  padding: 10px 5px;
}
.single-row {
  height: 38x;
  margin-left: 44px;
  line-height: 38px;
}
.single-content {
  margin-left: 10px;
  width: 50px;
}
.svg-style {
  width: 14px;
  vertical-align: middle;
}
.font-weight-all{
  border: 1px solid #dcdee2;
  /deep/ .ivu-checkbox{
    display: none;
  }
  /deep/ .ivu-checkbox-wrapper{
    margin-right: 0;
    padding: 2px 10px 3px;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
  }
}
.item-gray{
  background: rgba(245, 245, 245, 0.95);
  padding: 10px;
  margin-bottom: 8px;
}
.fontWeight-active{
  border: 1px solid #658fff;
}
.plusOrMinus1 /deep/.ivu-select-selection{
  background: url('../../../../assets/images/report/arrow1-up.svg') no-repeat 15% 48%,url('../../../../assets/images/report/arrow1-down.svg')no-repeat 45% 56%;
}
.plusOrMinus2 /deep/.ivu-select-selection{
  background: url('../../../../assets/images/report/arrow2-up.svg') no-repeat 15% 48%,url('../../../../assets/images/report/arrow2-down.svg')no-repeat 45% 56%;
}
.plusOrMinus3 /deep/.ivu-select-selection{
  background: url('../../../../assets/images/report/arrow3-up.svg') no-repeat 15% 48%,url('../../../../assets/images/report/arrow3-down.svg')no-repeat 45% 56%;
}
.plusOrMinus4 /deep/.ivu-select-selection{
  background: url('../../../../assets/images/report/arrow4-up.svg') no-repeat 12% 55%,url('../../../../assets/images/report/arrow4-down.svg')no-repeat 45% 55%;
}
.plusOrMinus5 /deep/.ivu-select-selection{
  background: url('../../../../assets/images/report/arrow5-up.svg') no-repeat 12% 55%,url('../../../../assets/images/report/arrow5-down.svg')no-repeat 45% 56%;
}
.ivu-divider-horizontal {
  margin: 0px 0;
}
.ivu-collapse-content {
  display: block;
}
.ivu-color-picker >>> .ivu-color-picker-confirm .ivu-btn:nth-of-type(1){
  display: none;
}
.ivu-color-picker >>> > .ivu-input-wrapper{
  width: 33px;
  margin-right: 10px;
}
</style>
