<template>
  <div
    class="icon-select"
    :class="{ 'icon-select-visible': visible }"
    v-click-outside.capture="onClickOutside"
  >
    <div class="icon-select-selection" @click="toggleMenu">
      <div class="icon-select-selection-outer">
        <img :src="require('@/assets/images/report/title/noIcon.svg')" v-if="value === 'noIcon'"/>
        <span class="iconfont" :class="[value]" v-else></span>
      </div>
      <Icon type="ios-arrow-down" class="icon-select-arrow"></Icon>
    </div>
    <div class="icon-select-dropdown">
      <ul class="icon-select-dropdown-list">
        <li
          v-for="item in iconList"
          class="icon-select-item"
          :class="{ 'icon-select-item-selected': value === item.value }"
          @click="clickIconItem($event, item)"
          :key="item.value"
        >
          <img
            :src="require('@/assets/images/report/title/noIcon.svg')"
            v-if="item.value === 'noIcon'"
          />
          <span class="iconfont" :class="[item.value]" v-else></span>
        </li>
      </ul>
    </div>
  </div>
</template>
  
  <script>
import { directive as clickOutside } from "v-click-outside-x";
export default {
  directives: { clickOutside },
  props: {
    value: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      visible: false,
      iconList: [
        {
          label: "无图标",
          value: "noIcon",
        },
        {
          label: "图标1",
          value: "icon-a-tubiao115x",
        },
        {
          label: "图标2",
          value: "icon-a-tubiao215x",
        },
      ],
    };
  },
  methods: {
    onClickOutside(e) {
      if (this.visible) {
        this.visible = false;
      }
    },
    toggleMenu(e) {
      this.visible = !this.visible;
    },
    clickIconItem(e, item) {
      this.visible = false;
      this.$emit("thresholdIconChange", item.value);
    },
  },
};
</script>
  
  <style lang='less' scoped>
.icon-select {
  position: relative;
  display: inline-block;
  .icon-select-selection {
    height: 28px;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      border-color: #57a3f3;
    }
    .icon-select-selection-outer {
      display: inline-block;
      vertical-align: middle;
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      margin: 6px;
    }
    .ivu-icon {
      line-height: 1px;
    }
    .icon-select-arrow {
      transition: all 0.2s ease-in-out;
      margin-right: 6px;
      line-height: 1px;
      content: url("../../../../assets/images/report/select_arrow.svg");
    }
  }
  &.icon-select-visible {
    .icon-select-selection {
      border-color: #57a3f3;
      box-shadow: 0 0 0 2px rgba(45, 140, 240, 0.2);
    }
    .icon-select-dropdown {
      display: block;
    }
    .ivu-icon.icon-select-arrow {
      transform: rotate(180deg);
    }
  }
  .icon-select-dropdown {
    display: none;
    transition: all 0.3s;
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 900;
    min-width: 100%;
    padding: 3px 0;
    background: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    .icon-select-item {
      &:hover {
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
      }
      &.icon-select-item-selected {
        box-shadow: 0px 0px 6px 0px #3f73ff;
        border: 1px solid #3f73ff;
      }
      list-style-type: none;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 28px;
      margin: 8px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer;
      &:first-child {
        img {
          margin-bottom: -2px;
        }
      }
    }
  }
}
</style>