<template>
  <Collapse simple>
    <Panel>
      表头
      <div slot="content">
        <div class="tableHeader">
          <Tooltip content="字体" style="width: 56%">
            <Select
              class="margin-top-xs"
              v-model="TableStyleConfigs.header.fontFamily"
              style="width: 100%"
              @on-change="onChangeStyle(TableStyleConfigs.header, 'header')"
            >
              <Option
                v-for="item in fontFamilyArr"
                :value="item.value"
                :key="item.value"
                >{{ item.label }}</Option
              >
            </Select>
          </Tooltip>
          <Tooltip content="字号" style="width: 40%">
            <Select
              class="margin-top-xs"
              v-model="TableStyleConfigs.header.fontSize"
              style="width: 100%"
              @on-change="onChangeStyle(TableStyleConfigs.header, 'header')"
            >
              <Option v-for="i in 10" :value="(i + 5) * 2" :key="i">{{
                (i + 5) * 2
              }}</Option>
            </Select>
          </Tooltip>
        </div>
        <div class="tableHeader">
          <FontBar
            @click="handleChangeFontBar($event, 'header')"
            :styleConfig="TableStyleConfigs.header"
          />
          <div style="display: flex; margin: 10px 0">
            <Tooltip
              class="tooltipColorPicker"
              content="文字颜色"
              style="display: flex"
            >
              <div
                @click="handleClickNextEle($event)"
                style="
                  height: 28px;
                  width: 28px;
                  background: white;
                  border: 1px solid #e4e4e4;
                  position: absolute;
                  z-index: 99;
                  border-radius: 2px;
                  text-align: center;
                  padding: 3px 0;
                "
              >
                <span style="font-weight: bold">A</span>
                <div
                  :style="{
                    position: 'absolute',
                    width: '16px',
                    height: '4px',
                    background: TableStyleConfigs.header.color,
                    left: '50%',
                    marginLeft: '-8px',
                    bottom: '4px',
                  }"
                ></div>
              </div>
              <colorPicker
                defaultColor="#0000ff"
                :key="TableStyleConfigs.header.color"
                v-model="TableStyleConfigs.header.color"
                @change="onChangeStyle(TableStyleConfigs.header, 'header')"
              />
            </Tooltip>
            <colorPicker
              defaultColor="#E6E7E8"
              :key="TableStyleConfigs.header.titleColor"
              v-model="TableStyleConfigs.header.titleColor"
              @change="onChangeStyle(TableStyleConfigs.header, 'header')"
              class="margin-top-xs"
            />
          </div>
        </div>
        <div class="tableHeader">
          <div class="tableHeader_child">
            <span>维度：</span>
            <RadioGroup
              type="button"
              v-model="TableStyleConfigs.header.dimensionStyle"
            >
              <Radio v-for="item in textAlignData" :label="item" :key="item"
                ><img
                  :src="require(`@/assets/images/report/align-${item}.svg`)"
                  class="svg-style"
                  :key="item"
                  @click="onChangeTextAlign('dimensionStyle', item)"
              /></Radio>
            </RadioGroup>
          </div>
          <div class="tableHeader_child">
            <span>指标：</span>
            <RadioGroup
              type="button"
              v-model="TableStyleConfigs.header.indicatorStyle"
            >
              <Radio v-for="item in textAlignData" :label="item" :key="item"
                ><img
                  :src="require(`@/assets/images/report/align-${item}.svg`)"
                  class="svg-style"
                  :key="item"
                  @click="onChangeTextAlign('indicatorStyle', item)"
              /></Radio>
            </RadioGroup>
          </div>
          <div class="tableHeader_child">
            <span>行高：</span>
            <InputNumber
              :max="100"
              :min="20"
              :precision="0"
              v-model="TableStyleConfigs.header.lineHeight"
              style="width: 110px"
              :active-change="false"
              @on-change="onChangeStyle(TableStyleConfigs.header, 'header')"
            ></InputNumber>
          </div>
          <div class="tableHeader_child">
            <span>自动换行：</span>
            <Checkbox
              v-model="TableStyleConfigs.header.lineBreak"
              style="margin-right: 80px"
              @on-change="onChangeStyle(TableStyleConfigs.header, 'header')"
            ></Checkbox>
          </div>
          <div class="tableHeader_child">
            <span>冻结表头：</span>
            <Checkbox
              v-model="TableStyleConfigs.header.freezeHeader"
              @on-change="onChangeStyle(TableStyleConfigs.header, 'header')"
            ></Checkbox>
          </div>
        </div>
        <div class="tableHeader" v-if="currentSelectDimensions.length">
          <div
            style="display: flex; justify-content: left; align-items: center"
          >
            <span style="margin-right: 16px">合并表头</span>
            <Icon
              size="18"
              type="ios-create-outline"
              style="cursor: pointer"
              color="#3F73FF"
              @click="handleOpenTableHeaderMerge"
            />
          </div>
        </div>
      </div>
    </Panel>
    <Panel>
      表格
      <div slot="content">
        <div class="tableHeader">
          <Tooltip content="字体" style="float: left; width: 56%">
            <Select
              class="margin-top-xs"
              v-model="TableStyleConfigs.content.fontFamily"
              style="width: 100%"
              @on-change="onChangeStyle(TableStyleConfigs.content, 'content')"
            >
              <Option
                v-for="item in fontFamilyArr"
                :value="item.value"
                :key="item.value"
                >{{ item.label }}
              </Option>
            </Select></Tooltip
          >
          <Tooltip content="字号" style="float: right; width: 40%">
            <Select
              class="margin-top-xs"
              v-model="TableStyleConfigs.content.fontSize"
              style="width: 100%"
              @on-change="onChangeStyle(TableStyleConfigs.content, 'content')"
            >
              <Option v-for="i in 10" :value="(i + 5) * 2" :key="i">{{
                (i + 5) * 2
              }}</Option>
            </Select>
          </Tooltip>
        </div>
        <div class="tableHeader">
          <FontBar
            @click="handleChangeFontBar($event, 'content')"
            :styleConfig="TableStyleConfigs.content"
          />
          <Tooltip
            class="tooltipColorPicker"
            content="文字颜色"
            style="margin: 10px 0"
          >
            <div
              @click="handleClickNextEle($event)"
              style="
                height: 28px;
                width: 28px;
                background: white;
                border: 1px solid #e4e4e4;
                position: absolute;
                z-index: 99;
                border-radius: 2px;
                text-align: center;
                padding: 3px 0;
              "
            >
              <span style="font-weight: bold">A</span>
              <div
                :style="{
                  position: 'absolute',
                  width: '16px',
                  height: '4px',
                  background: TableStyleConfigs.content.color,
                  left: '50%',
                  marginLeft: '-8px',
                  bottom: '4px',
                }"
              ></div>
            </div>
            <colorPicker
              defaultColor="#0000ff"
              :key="TableStyleConfigs.content.color"
              v-model="TableStyleConfigs.content.color"
              @change="onChangeStyle(TableStyleConfigs.content, 'content')"
            />
          </Tooltip>
        </div>
        <div class="tableHeader">
          <div class="tableHeader_child">
            <span>维度：</span>
            <RadioGroup
              type="button"
              v-model="TableStyleConfigs.content.dimensionStyle"
            >
              <Radio v-for="item in textAlignData" :label="item" :key="item"
                ><img
                  :src="require(`@/assets/images/report/align-${item}.svg`)"
                  class="svg-style"
                  :key="item"
                  @click="onChangeContentText('dimensionStyle', item)"
              /></Radio>
            </RadioGroup>
          </div>
          <div class="tableHeader_child">
            <span>指标：</span>
            <RadioGroup
              type="button"
              v-model="TableStyleConfigs.content.indicatorStyle"
            >
              <Radio v-for="item in textAlignData" :label="item" :key="item"
                ><img
                  :src="require(`@/assets/images/report/align-${item}.svg`)"
                  class="svg-style"
                  :key="item"
                  @click="onChangeContentText('indicatorStyle', item)"
              /></Radio>
            </RadioGroup>
          </div>
          <div class="tableHeader_child">
            <span>行高：</span>
            <InputNumber
              :max="100"
              :min="20"
              :precision="0"
              v-model="TableStyleConfigs.content.lineHeight"
              style="width: 110px"
              :active-change="false"
              @on-change="onChangeStyle(TableStyleConfigs.content, 'content')"
            ></InputNumber>
          </div>
          <div class="tableHeader_child">
            <span>网格线：</span>
            <Checkbox
              v-model="TableStyleConfigs.content.horizontalLine"
              @on-change="onChangeStyle(TableStyleConfigs.content, 'content')"
              >水平</Checkbox
            >
            <Checkbox
              v-model="TableStyleConfigs.content.longitudeLine"
              @on-change="onChangeStyle(TableStyleConfigs.content, 'content')"
              >垂直</Checkbox
            >
            <colorPicker
              defaultColor="#ffffff"
              :key="TableStyleConfigs.content.lineColor"
              v-model="TableStyleConfigs.content.lineColor"
              @change="onChangeStyle(TableStyleConfigs.content, 'content')"
            />
          </div>
        </div>
        <div class="tableHeader">
          <span>奇行</span>
          <colorPicker
            defaultColor="#fff"
            v-model="TableStyleConfigs.content.even"
            @change="onChangeStyle(TableStyleConfigs.content, 'content')"
            class="margin-top-xs topColorPicker"
            style="margin-left: 10px"
          />
          <span style="margin-left: 10px">偶行</span>
          <colorPicker
            defaultColor="#fff"
            v-model="TableStyleConfigs.content.odd"
            @change="onChangeStyle(TableStyleConfigs.content, 'content')"
            class="margin-top-xs topColorPicker"
            style="margin-left: 10px"
          />
        </div>
        <div class="tableHeader_child">
          <span>自动换行：</span>
          <Checkbox
            v-model="TableStyleConfigs.content.wordWrap"
            @on-change="onChangeStyle(TableStyleConfigs.content, 'content')"
          ></Checkbox>
        </div>
      </div>
    </Panel>
    <Panel v-if="currentSelectConfigData.isOpenTotal">
      合计
      <div slot="content">
        <div class="tableHeader">
          <Tooltip content="字体" style="width: 56%">
            <Select
              class="margin-top-xs"
              v-model="TableStyleConfigs.total.fontFamily"
              style="width: 100%"
              @on-change="onChangeStyle(TableStyleConfigs.total, 'total')"
            >
              <Option
                v-for="item in fontFamilyArr"
                :value="item.value"
                :key="item.value"
                >{{ item.label }}</Option
              >
            </Select>
          </Tooltip>
          <Tooltip content="字号" style="width: 40%">
            <Select
              class="margin-top-xs"
              v-model="TableStyleConfigs.total.fontSize"
              style="width: 100%"
              @on-change="onChangeStyle(TableStyleConfigs.total, 'total')"
            >
              <Option v-for="i in 10" :value="(i + 5) * 2" :key="i">{{
                (i + 5) * 2
              }}</Option>
            </Select>
          </Tooltip>
        </div>
        <div class="tableHeader">
          <FontBar
            @click="handleChangeFontBar($event, 'total')"
            :styleConfig="TableStyleConfigs.total"
          />
          <div style="display: flex; margin: 10px 0">
            <Tooltip
              class="tooltipColorPicker"
              content="文字颜色"
              style="display: flex"
            >
              <div
                @click="handleClickNextEle($event)"
                style="
                  height: 28px;
                  width: 28px;
                  background: white;
                  border: 1px solid #e4e4e4;
                  position: absolute;
                  z-index: 99;
                  border-radius: 2px;
                  text-align: center;
                  padding: 3px 0;
                "
              >
                <span style="font-weight: bold">A</span>
                <div
                  :style="{
                    position: 'absolute',
                    width: '16px',
                    height: '4px',
                    background: TableStyleConfigs.total.color,
                    left: '50%',
                    marginLeft: '-8px',
                    bottom: '4px',
                  }"
                ></div>
              </div>
              <colorPicker
                defaultColor="#0000ff"
                :key="TableStyleConfigs.total.color"
                v-model="TableStyleConfigs.total.color"
                @change="onChangeStyle(TableStyleConfigs.total, 'total')"
              />
            </Tooltip>
            <colorPicker
              defaultColor="#E6E7E8"
              :key="TableStyleConfigs.total.titleColor"
              v-model="TableStyleConfigs.total.titleColor"
              @change="onChangeStyle(TableStyleConfigs.total, 'total')"
              class="margin-top-xs"
            />
          </div>
        </div>
        <div class="tableHeader">
          <div class="tableHeader_child">
            <span>合计：</span>
            <RadioGroup
              type="button"
              v-model="TableStyleConfigs.total.dimensionStyle"
            >
              <Radio v-for="item in textAlignData" :label="item" :key="item"
                ><img
                  :src="require(`@/assets/images/report/align-${item}.svg`)"
                  class="svg-style"
                  :key="item"
                  @click="onChangeTextAlignTotal('dimensionStyle', item)"
              /></Radio>
            </RadioGroup>
          </div>
          <div class="tableHeader_child">
            <span>数值：</span>
            <RadioGroup
              type="button"
              v-model="TableStyleConfigs.total.indicatorStyle"
            >
              <Radio v-for="item in textAlignData" :label="item" :key="item"
                ><img
                  :src="require(`@/assets/images/report/align-${item}.svg`)"
                  class="svg-style"
                  :key="item"
                  @click="onChangeTextAlignTotal('indicatorStyle', item)"
              /></Radio>
            </RadioGroup>
          </div>
          <div class="tableHeader_child">
            <span>行高：</span>
            <InputNumber
              :max="100"
              :min="20"
              :precision="0"
              v-model="TableStyleConfigs.total.lineHeight"
              style="width: 110px"
              :active-change="false"
              @on-change="onChangeStyle(TableStyleConfigs.total, 'total')"
            ></InputNumber>
          </div>
        </div>
      </div>
    </Panel>
    <Panel>
      快速计算
      <div slot="content">
        <!----------------------------------------纯指标------------------------->
        <div
          v-if="!currentSelectDimensions.length"
          class="justIndicatorBackground"
        >
          <div
            style="display: flex"
            v-show="showPureIndicatorFastValueColorConf"
          >
            <div class="calculationStyle">
              <span class="calculationStyle_title">正值</span>
              <Tooltip
                class="tooltipColorPicker"
                content="文字颜色"
                style="display: flex"
              >
                <div
                  @click="handleClickNextEle($event)"
                  style="
                    height: 28px;
                    width: 28px;
                    background: white;
                    border: 1px solid #e4e4e4;
                    position: absolute;
                    z-index: 99;
                    border-radius: 2px;
                    text-align: center;
                    padding: 3px 0;
                  "
                >
                  <span style="font-weight: bold">A</span>
                  <div
                    :style="{
                      position: 'absolute',
                      width: '16px',
                      height: '4px',
                      background: calculateStyleShowInd('up'),
                      left: '50%',
                      marginLeft: '-8px',
                      bottom: '4px',
                    }"
                  ></div>
                </div>
                <colorPicker
                  :transfer="true"
                  :value="calculateStyleShowInd('up')"
                  @change="onChangeCalculationStyleInd($event, 'up')"
                />
              </Tooltip>
            </div>
            <div class="calculationStyle" style="margin-left: 20%">
              <span class="calculationStyle_title">负值</span>
              <Tooltip
                class="tooltipColorPicker"
                content="文字颜色"
                style="display: flex"
              >
                <div
                  @click="handleClickNextEle($event)"
                  style="
                    height: 28px;
                    width: 28px;
                    background: white;
                    border: 1px solid #e4e4e4;
                    position: absolute;
                    z-index: 99;
                    border-radius: 2px;
                    text-align: center;
                    padding: 3px 0;
                  "
                >
                  <span style="font-weight: bold">A</span>
                  <div
                    :style="{
                      position: 'absolute',
                      width: '16px',
                      height: '4px',
                      background: calculateStyleShowInd('down'),
                      left: '50%',
                      marginLeft: '-8px',
                      bottom: '4px',
                    }"
                  ></div>
                </div>
                <colorPicker
                  :value="calculateStyleShowInd('down')"
                  @change="onChangeCalculationStyleInd($event, 'down')"
                />
              </Tooltip>
            </div>
          </div>
          <div>
            <div
              class="calculationStyle_option"
              v-show="showPureIndicatorFastCompare"
            >
              <span
                class="calculationStyle_option_title calculationStyle_option_inner"
                style="margin-right: 22px"
                >环比</span
              >
              <div>
                <Checkbox
                  :value="compareIconShowInd('compare')"
                  @on-change="handleShowCompareIconInd($event, 'compare')"
                  >趋势图标
                </Checkbox>
              </div>
            </div>
            <div
              class="calculationStyle_option"
              v-show="showPureIndicatorFastSameCompare"
            >
              <span
                class="calculationStyle_option_title calculationStyle_option_inner"
                style="margin-right: 22px"
                >同比</span
              >
              <div>
                <Checkbox
                  :value="compareIconShowInd('sameCompare')"
                  @on-change="handleShowCompareIconInd($event, 'sameCompare')"
                  >趋势图标
                </Checkbox>
              </div>
            </div>
          </div>
        </div>
        <!------------------------------【维度+指标】 ----------------------------------------->
        <Collapse v-else class="dimensionTableStyle">
          <Panel v-for="item in fastCalculateIndicators" :key="item.id">
            <!-- 第 {{arabiaToSimplifiedChinese(i + 1)}} 指标 -->
            {{ item.title }}
            <div slot="content" class="justIndicatorBackground">
              <div
                style="display: flex"
                v-show="
                  item.useCompare ||
                  (currentSelectConfigData &&
                    currentSelectConfigData['useSameCompare'] &&
                    currentSelectConfigData['useSameCompare'][item.id] &&
                    currentSelectConfigData['useSameCompare'][item.id].open)
                "
              >
                <div class="calculationStyle">
                  <span class="calculationStyle_title">正值</span>
                  <Tooltip
                    class="tooltipColorPicker"
                    content="文字颜色"
                    style="display: flex"
                  >
                    <div
                      @click="handleClickNextEle($event)"
                      style="
                        height: 28px;
                        width: 28px;
                        background: white;
                        border: 1px solid #e4e4e4;
                        position: absolute;
                        z-index: 99;
                        border-radius: 2px;
                        text-align: center;
                        padding: 3px 0;
                      "
                    >
                      <span style="font-weight: bold">A</span>
                      <div
                        :style="{
                          position: 'absolute',
                          width: '16px',
                          height: '4px',
                          background: calculateStyleShow(item.id, 'up'),
                          left: '50%',
                          marginLeft: '-8px',
                          bottom: '4px',
                        }"
                      ></div>
                    </div>
                    <colorPicker
                      transfer
                      :value="calculateStyleShow(item.id, 'up')"
                      @change="onChangeCalculationStyle($event, item.id, 'up')"
                    />
                  </Tooltip>
                </div>
                <div class="calculationStyle" style="margin-left: 20%">
                  <span class="calculationStyle_title">负值</span>
                  <Tooltip
                    class="tooltipColorPicker"
                    content="文字颜色"
                    style="display: flex"
                  >
                    <div
                      @click="handleClickNextEle($event)"
                      style="
                        height: 28px;
                        width: 28px;
                        background: white;
                        border: 1px solid #e4e4e4;
                        position: absolute;
                        z-index: 99;
                        border-radius: 2px;
                        text-align: center;
                        padding: 3px 0;
                      "
                    >
                      <span style="font-weight: bold">A</span>
                      <div
                        :style="{
                          position: 'absolute',
                          width: '16px',
                          height: '4px',
                          background: calculateStyleShow(item.id, 'down'),
                          left: '50%',
                          marginLeft: '-8px',
                          bottom: '4px',
                        }"
                      ></div>
                    </div>
                    <colorPicker
                      :value="calculateStyleShow(item.id, 'down')"
                      @change="
                        onChangeCalculationStyle($event, item.id, 'down')
                      "
                    />
                  </Tooltip>
                </div>
              </div>
              <div>
                <div class="calculationStyle_option" v-show="item.useCompare">
                  <span
                    class="calculationStyle_option_title calculationStyle_option_inner"
                    style="margin-right: 22px"
                    >环比</span
                  >
                  <div>
                    <Checkbox
                      :value="compareIconShow(item.id, 'compare')"
                      @on-change="
                        handleShowCompareIcon($event, item.id, 'compare')
                      "
                      >趋势图标
                    </Checkbox>
                  </div>
                </div>
                <div
                  class="calculationStyle_option"
                  v-show="
                    currentSelectConfigData &&
                    currentSelectConfigData['useSameCompare'] &&
                    currentSelectConfigData['useSameCompare'][item.id] &&
                    currentSelectConfigData['useSameCompare'][item.id].open
                  "
                >
                  <span
                    class="calculationStyle_option_title calculationStyle_option_inner"
                    style="margin-right: 22px"
                    >同比</span
                  >
                  <div>
                    <Checkbox
                      :value="compareIconShow(item.id, 'sameCompare')"
                      @on-change="
                        handleShowCompareIcon($event, item.id, 'sameCompare')
                      "
                      >趋势图标
                    </Checkbox>
                  </div>
                </div>
              </div>
            </div>
          </Panel>
        </Collapse>
      </div>
    </Panel>
    <Panel v-show="thresholdDataStyle.length">
      阈值
      <div slot="content">
        <Collapse simple @on-change="nthQuotaChange" class="nthCollapse">
          <Panel
            v-for="item in thresholdDataStyle"
            :key="item.id"
            :hide-arrow="true"
            :name="item.name"
          >
            <div class="quotaWrap">
              <span class="title">{{ item.title }}</span>
              <Icon
                type="ios-arrow-down"
                size="20"
                class="quotaIcon"
                v-if="item.indicatorThresholdData.collapse"
              />
              <Icon type="ios-arrow-up" size="20" class="quotaIcon" v-else />
            </div>
            <div slot="content">
              <div class="justIndicatorBackground">
                <div
                  v-for="(columns, i) in item.indicatorThresholdData.ruleList"
                  :key="columns.id"
                  class="margin10"
                >
                  <span class="mr10">{{ ruleTitle(i) }}</span>
                  <colorPicker
                    :key="columns.color"
                    class="bgColorPicker"
                    v-model="columns.color"
                    @change="onChangeThresholdColor($event, columns)"
                  />
                  <span class="mr10 ml20">图标</span>
                  <IconSelect
                    :value="columns.icon"
                    @thresholdIconChange="thresholdIconChange($event, columns)"
                  ></IconSelect>
                </div>
              </div>
            </div>
          </Panel>
        </Collapse>
      </div>
    </Panel>
    <Panel>
      <span>
        <span class="title">翻页器</span>
        <Checkbox
          v-model="TableStyleConfigs.page.show"
          class="titleCheckbox"
          @click.native="handleCheckboxClick"
          @on-change="onChangeStyle(TableStyleConfigs.page, 'page')"
        ></Checkbox>
      </span>
      <div slot="content">
        <div class="tableHeader" v-if="TableStyleConfigs.page.show">
          <div class="tableHeader_child">
            <span>每页条数：</span>
            <Select
              v-model="TableStyleConfigs.page.pageSize"
              style="width: 140px"
              @on-change="onChangeStyle(TableStyleConfigs.page, 'page')"
            >
              <Option v-for="item in pageList" :value="item" :key="item">{{
                item
              }}</Option>
            </Select>
          </div>
          <div class="tableHeader_child">
            <span>显示每页条数选择器：</span>
            <Checkbox
              v-model="TableStyleConfigs.page.pageSizeShow"
              @on-change="onChangeStyle(TableStyleConfigs.page, 'page')"
            ></Checkbox>
          </div>
          <div class="tableHeader_child">
            <span>显示总页数：</span>
            <Checkbox
              v-model="TableStyleConfigs.page.totalShow"
              @on-change="onChangeStyle(TableStyleConfigs.page, 'page')"
            ></Checkbox>
          </div>
        </div>
      </div>
    </Panel>
    <Panel>
      显示设置
      <div slot="content">
        <div class="tableHeader">
          <div class="tableHeader_child">
            <RadioGroup
              v-model="TableStyleConfigs.widthConfig"
              @on-change="
                onChangeStyle(TableStyleConfigs.widthConfig, 'widthConfig')
              "
            >
              <Radio label="适应宽度"></Radio>
              <Radio label="最佳比例"></Radio>
            </RadioGroup>
          </div>
        </div>
      </div>
    </Panel>
    <Panel>
      绘图区样式
      <div slot="content">
        <div class="tableHeader">
          <div class="tableHeader_child">
            <span>背景色：</span>
            <colorPicker
              defaultColor="#fff"
              v-model="TableStyleConfigs.backgroundColor"
              @change="
                onChangeStyle(
                  TableStyleConfigs.backgroundColor,
                  'backgroundColor'
                )
              "
              class="margin-top-xs topColorPicker"
              style="margin-left: 10px"
            />
          </div>
          <div class="tableHeader_child">
            <span>边框：</span>
            <colorPicker
              defaultColor="#cccccc"
              v-model="TableStyleConfigs.borderColor"
              @change="
                onChangeStyle(TableStyleConfigs.borderColor, 'borderColor')
              "
              style="margin-left: 10px"
            />
            <Select
              v-model="TableStyleConfigs.borderLineType"
              style="width: 60px; margin-left: 3px; margin-right: 3px"
              @on-change="
                onChangeStyle(
                  TableStyleConfigs.borderLineType,
                  'borderLineType'
                )
              "
            >
              <Option
                v-for="item in borderStyleArr"
                :value="item.value"
                :key="item.value"
                >{{ item.label }}</Option
              >
            </Select>
            <InputNumber
              :min="0"
              @on-change="
                onChangeStyle(TableStyleConfigs.borderWidth, 'borderWidth')
              "
              v-model="TableStyleConfigs.borderWidth"
              style="width: 60px"
            />
          </div>
          <div class="tableHeader_child">
            <span>圆角：</span>
            <InputNumber
              :min="0"
              @on-change="
                onChangeStyle(TableStyleConfigs.borderRadius, 'borderRadius')
              "
              v-model="TableStyleConfigs.borderRadius"
              style="margin-left: 10px; width: 60px"
            />
          </div>
        </div>
      </div>
    </Panel>
    <Modal
      v-model="showTheadMerge"
      title="表头合并"
      width="800"
      @on-ok="handleSubmitGroupInfo"
    >
      <TheadMerge
        ref="theadMerge"
        v-if="showTheadMerge"
        :dataList="currentSelectChart.data.indicator"
        :configData="currentSelectConfigData"
      />
    </Modal>
  </Collapse>
</template>
<script>
import FontBar from "../../../report/ChartStyleConfig/common/fontBar";
import {
  FONT_FAMILY_LIST,
  BORDER_STYLE_ARR,
} from "../../../../config/ReportConstants";
import { arabiaToSimplifiedChinese } from "@/utils/arabiaToSimplifiedChinese";
import TheadMerge from "./TheadMerge";
import IconSelect from "./IconSelect.vue";
import { mapActions, mapGetters } from "vuex";
import { deepCopy } from "@/utils/common";
import _ from "lodash";

export default {
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  components: {
    FontBar,
    TheadMerge,
    IconSelect,
  },
  data() {
    return {
      visible: false,
      fontFamilyArr: FONT_FAMILY_LIST,
      borderStyleArr: BORDER_STYLE_ARR,
      textAlignData: ["left", "center", "right"],
      selectBorder: require("@/assets/images/report/solid.svg"),
      showTheadMerge: false,
      pageList: [5, 10, 20, 50, 100, 200, 500, 1000],
      expandBlock: [],
    };
  },
  created() {},
  mounted() {},
  computed: {
    ...mapGetters([
      "currentSelectChart",
      "currentSelectIndicators",
      "currentSelectDimensions",
      "currentSelectConfigData",
      "currentSelectChartData",
    ]),
    TableStyleConfigs() {
      return Object.assign(
        {
          fontSize: 16,
          fontFamily: "aliPuHui Regular",
          borderStyle: "",
          borderRadius: 2,
          borderWidth: 1,
          borderColor: "#dcdee2",
          widthConfig: "适应宽度",
          backgroundColor: "#ccc",
          borderLineType: "solid",
          sort: false,
          header: {
            backgroundColor: "#ccc",
            fontSize: 12,
            fontFamily: "aliPuHui Regular",
            color: "#515a6e",
            titleColor: "#f8f8f9",
            dimensionStyle: "center",
            indicatorStyle: "center",
            fontBold: "normal",
            fontItalic: "nomal",
            fontUnderLine: "nomal",
            fontStrikethrough: "none",
            lineHeight: 40,
            lineBreak: false,
            freezeHeader: false,
          },
          content: {
            backgroundColor: "#ccc",
            fontSize: 12,
            fontFamily: "aliPuHui Regular",
            color: "#515a6e",
            even: "#ffffff",
            odd: "#ffffff",
            dimensionStyle: "center",
            indicatorStyle: "center",
            fontBold: "normal",
            fontItalic: "normal",
            fontUnderLine: "normal",
            fontStrikethrough: "none",
            lineHeight: 48,
            horizontalLine: true,
            longitudeLine: false,
            lineColor: "#e8eaec",
            wordWrap: false,
          },
          total: {
            backgroundColor: "#ccc",
            fontSize: 12,
            fontFamily: "aliPuHui Regular",
            color: "#515a6e",
            titleColor: "#f8f8f9",
            dimensionStyle: "center",
            indicatorStyle: "center",
            fontBold: "normal",
            fontItalic: "nomal",
            fontUnderLine: "nomal",
            fontStrikethrough: "none",
            lineHeight: 48,
          },
          page: {
            show: false,
            pageSize: 20,
            pageSizeShow: true,
            totalShow: true,
          },
          calculationStyle: {},
        },
        this.styleConfigs
      );
    },
    fastCalculateIndicators() {
      return this.currentSelectIndicators.filter(
        (item) => item.showFastCalculateBox
      );
    },
    showPureIndicatorFastCompare() {
      return (
        this.currentSelectChart.data.indicator.length &&
        this.currentSelectChart.data.indicator[0].useCompare
      );
    },
    showPureIndicatorFastSameCompare() {
      return (
        this.currentSelectConfigData.useSameCompare &&
        this.currentSelectConfigData.useSameCompare.open
      );
    },
    showPureIndicatorFastValueColorConf() {
      return (
        this.showPureIndicatorFastCompare ||
        this.showPureIndicatorFastSameCompare
      );
    },
    ruleTitle() {
      return (index) => {
        return "阈值" + (index + 1);
      };
    },
    thresholdDataStyle() {
      return this.currentSelectIndicators.filter(
        (item) => item.indicatorThresholdData?.isOpen
      );
    },
  },
  methods: {
    handleCheckboxClick(e) {
      e.stopPropagation();
    },
    handleSubmitGroupInfo() {
      const addedGroupList = this.$refs["theadMerge"].addedGroupList;
      this.$set(this.currentSelectConfigData, "theadMerge", addedGroupList);
      // 表头合并后需要调整画布左侧“已选指标”处的指标显示顺序

      let currentSelectIndicatorsNew = [];
      addedGroupList.forEach((group) => {
        const groupList = group.groupList;
        if (groupList && groupList.length) {
          groupList.forEach((item) => {
            currentSelectIndicatorsNew.push(item);
          });
        }
      });
      this.$set(
        this.currentSelectChartData,
        "indicator",
        deepCopy(currentSelectIndicatorsNew)
      );
    },
    handleOpenTableHeaderMerge() {
      this.showTheadMerge = true;
      // this.$refs['theadMerge'].refreshIndicator(this.currentSelectChart.data.indicator);
    },
    /** ******************快速计算********************** **/
    /**
     * 转大写
     */
    arabiaToSimplifiedChinese,
    /**
     * 显示同比环比的增减趋势图标
     * @param data
     * @param id
     * @param type
     */
    handleShowCompareIcon(data, id, type) {
      const style = this.currentSelectConfigData;
      if (!style.hasOwnProperty("calculationStyle")) {
        this.$set(style, "calculationStyle", {});
      }
      if (!style.calculationStyle.hasOwnProperty(id)) {
        this.$set(style.calculationStyle, id, {});
      }
      this.$set(style.calculationStyle[id], type + "Icon", data);
    },
    handleShowCompareIconInd(data, type) {
      const style = this.currentSelectConfigData;
      if (!style.hasOwnProperty("calculationStyle")) {
        this.$set(style, "calculationStyle", {});
      }
      this.$set(style.calculationStyle, type + "Icon", data);
    },
    /**
     * 环比同比checkbox状态
     * @param id
     * @param type
     * @returns {*|{}|(function(): *)|boolean}
     */
    compareIconShow(id, type) {
      let calculationStyle = this.currentSelectConfigData.calculationStyle;
      return (
        (calculationStyle &&
          calculationStyle[id] &&
          calculationStyle[id][type + "Icon"]) ||
        false
      );
    },
    compareIconShowInd(type) {
      let calculationStyle = this.currentSelectConfigData.calculationStyle;
      return (
        (calculationStyle &&
          calculationStyle &&
          calculationStyle[type + "Icon"]) ||
        false
      );
    },
    /**
     * 改变环比同比图标颜色
     * @param color
     * @param id
     * @param type
     */
    onChangeCalculationStyle(color, id, type) {
      let style = this.currentSelectConfigData;
      if (!style.hasOwnProperty("calculationStyle")) {
        this.$set(style, "calculationStyle", {});
      }
      if (!style.calculationStyle.hasOwnProperty(id)) {
        this.$set(style.calculationStyle, id, {});
      }
      if (style.calculationStyle[id]) {
        this.$set(style.calculationStyle[id], type + "Color", color);
      }
      this.$forceUpdate();
    },
    onChangeCalculationStyleInd(color, type) {
      let style = this.currentSelectConfigData;
      if (!style.hasOwnProperty("calculationStyle")) {
        this.$set(style, "calculationStyle", {});
      }
      if (style.calculationStyle) {
        this.$set(style.calculationStyle, type + "Color", color);
      }
      this.$forceUpdate();
    },
    /**
     * 环比同比颜色选择器的value
     * @param id
     * @param type
     * @returns {*|{}|(function(): *)|string}
     */
    calculateStyleShow(id, type) {
      let calculationStyle = this.currentSelectConfigData.calculationStyle;
      return (
        (calculationStyle &&
          calculationStyle[id] &&
          calculationStyle[id][type + "Color"]) ||
        (type === "up" ? "#9aba60" : "#e2534d")
      );
    },
    calculateStyleShowInd(type) {
      let calculationStyle = this.currentSelectConfigData.calculationStyle;
      return (
        (calculationStyle &&
          calculationStyle &&
          calculationStyle[type + "Color"]) ||
        (type === "up" ? "#9aba60" : "#e2534d")
      );
    },
    /** ****************** = ********************** **/
    handleChangeFontBar(e, type) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {};
      }
      e.forEach((item) => {
        this.$set(this.currentSelectChart.style[type], item.label, item.type);
      });
    },
    handleClickNextEle(e) {
      // console.log(e.target.parentNode.nextSibling.firstChild)
      e.currentTarget.nextSibling.firstChild.click();
      e.currentTarget.nextSibling.lastChild.style.zIndex = "9999";
    },
    onChangeStyle(value, str) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {};
      }
      this.$set(this.currentSelectChart.style, str, value);
    },
    onChangeThresholdColor(value, str) {
      console.log(value, str);
    },
    onSelectBorder(val) {
      this.$nextTick(() => {
        this.selectBorder = require("@/assets/images/report/" + val + ".svg");
      });
    },
    onChangeTextAlign(value, str) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {};
      }
      let obj = this.TableStyleConfigs.header;
      obj[value] = str;
      this.$set(this.currentSelectChart.style, "header", obj);
    },
    onChangeTextAlignTotal(value, str) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {};
      }
      let obj = this.TableStyleConfigs.total;
      obj[value] = str;
      this.$set(this.currentSelectChart.style, "total", obj);
    },
    onChangeContentText(value, str) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {};
      }
      let updateStr = str;
      let obj = this.TableStyleConfigs.content;
      obj[value] = updateStr;
      this.$set(this.currentSelectChart.style, "content", obj);
    },
    handleChangeFontStyle() {},
    thresholdIconChange(e, val) {
      this.$set(val, "icon", e);
    },
    nthQuotaChange(data) {
      this.thresholdDataStyle.forEach((item) => {
        const record = item.indicatorThresholdData;
        if (data.length) {
          data.forEach((column) => {
            if (record.name === column) {
              record.collapse = true;
            } else {
              record.collapse = false;
            }
          });
        } else {
          record.collapse = false;
        }
      });
      // if thresholdDataStyle expandBlock
    },
  },
};
</script>
<style lang="less" scoped>
.ivu-collapse-item /deep/ .ivu-collapse-content {
  position: relative;
}

/deep/ .topColorPicker > .m-colorPicker .box {
  top: -25% !important;
}

/deep/ .m-colorPicker .box {
  left: 5px !important;
  z-index: 999999999999 !important;
}

.ivu-divider-horizontal {
  margin: 0px 0;
}

.single-row {
  height: 38px;
  margin-left: 44px;
  line-height: 38px;
}

.single-content {
  margin-left: 10px;
  width: 50px;
}

/deep/ .margin-top-xs {
  padding: 5px !important;
}

.margin-top-xs /deep/ .colorBtn {
  height: 100% !important;
  width: 100% !important;
}

.margin-top-xs /deep/ .colorBtn::after {
  /*display: none!important;*/
  bottom: -6px !important;
}

.svg-style {
  width: 20px;
}

.border-img {
  width: 30px;
}

.align-style {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 35px;
  width: 200px;
}

.align-style {
  /deep/ img:hover {
    background: #74b4ec;
    cursor: pointer;
  }
}

.tableHeader {
  /*background: red;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 0;
}

.tableHeader_child {
  margin: 5px 0;
}

.tableHeader_child:nth-child(odd) {
  margin-right: 10px;
}

.tableHeader /deep/ .ivu-tooltip-rel {
  width: 100%;
  /*height: 28px*/
}

.svg-style {
  width: 14px;
  vertical-align: middle;
}

.ivu-radio-group-button .ivu-radio-wrapper {
  padding: 0 5px;
}

.tooltipColorPicker /deep/ .ivu-tooltip-rel {
  position: static;
}

.calculationStyle {
  display: flex;
  align-items: center;

  .calculationStyle_title {
    margin-right: 5px;
  }
}

.calculationStyle_option {
  display: flex;
  margin-top: 10px;
}

.calculationStyle_option_inner {
  //padding-left: 10px;
  //border-left: 1px solid #3f73ff;
  //width: 150px;
  //box-sizing: revert;
  border-right: 1px solid #efefef;
}

.calculationStyle_option_title {
  width: 42px;
}

/deep/ .ivu-collapse .ivu-collapse-item-active {
  height: 100%;
}

/deep/ .ivu-collapse-item:last-child > .ivu-collapse-content {
  height: 100%;
}

.justIndicatorBackground {
  background: #f5f5f5;
  padding: 8px 10px;
  box-sizing: border-box;
}

/deep/ .dimensionTableStyle {
  .ivu-collapse-content {
    padding: 0;
  }

  .ivu-collapse-header {
    padding-left: 0;
    //display: flex;
    position: relative;
    background-color: #fff;
    border: none !important;
  }

  .ivu-icon {
    right: 0;
    position: absolute;
    top: 19px;
    margin-top: -6.5px;
  }

  .ivu-collapse-content-box {
    margin: 0 !important;
    padding: 0;
  }

  .ivu-collapse-item {
    margin: 0 !important;
  }
}
.titleCheckbox {
  position: absolute;
  left: 200px;
}
.mr10 {
  margin-right: 10px;
}
.ml20 {
  margin-left: 20px;
}
.margin10 {
  margin: 8px 0 2px;
}
.quotaWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .quotaIcon {
    color: #ccc;
  }
}
.dataStyleSetting {
  .ivu-collapse-content-box {
    .nthCollapse {
      /deep/ .ivu-collapse-item {
        border: none !important;
      }
      /deep/ .ivu-collapse-header {
        height: 32px;
        line-height: 32px;
      }
    }
  }
}
</style>


