<template>
  <div id="theadMerge">
    <Form id="theadMerge_groupHeader" label-colon>
      <FormItem>
        <Select v-if="addedGroupCopy.length === 0" class="theadMerge_iptAndSelectStyle theadMerge_selfSelect"
                v-model="currentGroupName" @on-change="handleChangeGroup($event)" placeholder="移动至分组">
          <Option style="display: none" value="default">移动至分组</Option>
          <Option v-for="(item,index) in addedGroupList" :value="item.id" :key="index">{{ item.groupName }}</Option>
        </Select>
      </FormItem>
      <Button type="primary" ghost id="theadMerge_addBtn" @click="handleClickAddGroup">
        <Icon type="md-add" size="16" style="margin-right: 5px; margin-top: -2px" color="#3f73ff"/>
        添加分组
      </Button>
    </Form>
    <div v-if="!dataList.length" style="width: 100%; text-align: center; margin-top: 28px">暂无数据</div>
    <div v-else class="theadMerge_collapseBox">
      <Collapse :value="openedCollapse">
        <Panel v-for="(item, index) in addedGroupList" :name="index.toString()" :key="index">
          <div class="theadMerge_groupNameContent">
            <pre class="theadMerge_iptLabel">{{ item.groupName }}</pre>
            <input
              v-model="item.groupName"
              :disabled="!item.groupNameEditAble"
              @click="(e) => e.stopPropagation()"
              @input="handleChangeIptWidth($event, index)"
              @keydown="stopDeleteKey($event)"
              @blur="() => item.groupNameEditAble = false"
            />
            <Icon type="md-create" color="#3F73FF" class="theadMerge_groupBtn"
                  @click="handleEditGroupName($event, index)" v-if="item.id !== 1 "/>
            <Icon type="md-close" color="#3F73FF" class="theadMerge_groupBtn_del" v-if="item.id !== 1 "
                  @click="handleDeleteGroup($event, index)"/>
          </div>
          <div slot="content" :style="{'text-align': item.groupList.length === 0 ? 'center' : 'left'}">
            <div v-if="item.groupList.length === 0">暂无数据</div>
            <fa-tag
              v-for="(it, idx) in item.groupList"
              :key="idx"
              :idx="idx"
              :checked="it.isChecked"
              :remove-able="item.id === 1 ? false : true"
              @fa-change="handleChooseTags($event, it)"
              @fa-remove="handleRemoveTag($event, item)">
              {{ it.title }}
            </fa-tag>
          </div>
        </Panel>
      </Collapse>
    </div>
  </div>
</template>

<script>
  import faTag from '@/view/components/FaTag'
  import { deepCopy } from '../../../../utils/common'
  export default {
    name: 'TheadMerge',
    props: {
      dataList: {
        type: Array
      },
      configData: {
        type: Object,
        default: () => ({})
      },
    },
    components: {
      faTag
    },
    data() {
      return {
        addedGroupList: [{ groupName: '未分组', groupNameEditAble: false, groupList: [], id: 1 }],
        currentGroupName: 'default',
        checkedTagList: [],
        addedGroupCopy: [],
        openedCollapse: ['0'],
      }
    },
    mounted() {
      this.getIndicatorGroupInfo()
    },
    methods: {
      /**
       * 阻止delete冒泡
       * @param e
       */
      stopDeleteKey(e) {
        if (e.keyCode === 8) {
          e.stopPropagation()
        }
      },
      /**
       * 获取指标数据
       */
      getIndicatorGroupInfo() {
        if (this.dataList.length) {
          if (!this.configData.hasOwnProperty('theadMerge')) {
            this.addedGroupList[0].groupList = deepCopy(this.dataList)
            this.addedGroupList[0].groupList.forEach(item => item.checked = false)
          } else {
            let indicatorBefore = []
            let theadMerge = deepCopy(this.configData.theadMerge)
            theadMerge.forEach(groupItem => {
              for (let n = 0, len = groupItem.groupList.length; n < len; n++) {
                let indicatorItem = groupItem.groupList[n];
                let ii = this.dataList.findIndex(i => i.id === indicatorItem.id)
                if (ii === -1) {
                  groupItem.groupList.splice(n, 1);
                  n--;
                  len--;
                } else {
                  indicatorBefore.push(indicatorItem.id)
                }
              }
            });

            this.dataList.forEach(item => {
              let index = indicatorBefore.findIndex(id => id === item.id)
              if (index === -1) {
                let itemCopy = deepCopy(item)
                itemCopy.checked = false
                theadMerge[0].groupList.push(itemCopy)
              }
            })
            this.addedGroupList = theadMerge
          }
        }
      },

      /**
       * 指标新增或者减少
       */
      refreshIndicator(indicator) {
        console.log(indicator, 'indicator')
      },

      /**
       * 创建分组对象
       */
      handleClickAddGroup() {
        let obj = {
          groupName: '未命名分组' + (this.addedGroupCopy.length !== 0 ? this.addedGroupCopy.length : this.addedGroupList.length),
          groupNameEditAble: false,
          groupList: [],
          id: this.addedGroupCopy.length !== 0 ? this.addedGroupCopy.length + 1 : this.addedGroupList.length + 1,
        }
        this.addedGroupList.push(obj)
        if (this.addedGroupCopy.length !== 0) {
          this.addedGroupCopy.push(obj)
        }
      },
      /**
       * 编辑分组名
       * @param e
       * @param index
       */
      handleEditGroupName(e, index) {
        e.stopPropagation()
        this.addedGroupList[index].groupNameEditAble = !this.addedGroupList[index].groupNameEditAble
        let ipt = e.currentTarget.previousSibling
        setTimeout(() => ipt.focus())
      },
      /**
       * iptWidth自适应
       * @param e
       * @param index
       */
      handleChangeIptWidth(e, index) {
        e.target.style.width = document.getElementsByClassName('theadMerge_iptLabel')[index].offsetWidth + 'px'
      },
      /**
       * 删除组事件
       * @param e
       * @param index
       */
      handleDeleteGroup(e, index) {
        e.stopPropagation()
        this.$Modal.confirm({
          title: '确认删除吗？',
          content: '删除后不可撤销，请谨慎操作！',
          onOk: () => {
            this.addedGroupList[0].id === 1 ? this.addedGroupList[0].groupList = [...this.addedGroupList[0].groupList, ...this.addedGroupList[index].groupList] : null
            this.addedGroupList.splice(index, 1)
            this.$Message.success('删除分组成功')
          }
        })
      },
      /**
       * 标签选中事件
       * @param checked
       * @param item
       */
      handleChooseTags(checked, item) {
        this.$set(item, 'isChecked', checked)
        const id = item.id
        this.checkedTagList.push(item)
        if (!item.isChecked) {
          this.checkedTagList = this.checkedTagList.filter(item => (item.id !== id))
        }
      },
      /**
       * 标签删除
       * @param e
       * @param group
       */
      handleRemoveTag(e, group) {
        let list = group.groupList
        if (list[e].isChecked) {
          this.checkedTagList = this.checkedTagList.filter(item => (item.id !== list[e].id))
          list[e].isChecked = false
        }
        if (this.addedGroupCopy.length !== 0) {
          this.addedGroupCopy.forEach(item => {
            if (item.id === group.id) {
              item.groupList = item.groupList.filter(ite => {
                if (ite.id !== list[e].id) return ite
              })
            }
          })
          this.addedGroupCopy[0].groupList.push(list[e])
        }
        this.addedGroupList.forEach(item => {
          if (item.id === group.id) {
            item.groupList = item.groupList.filter(ite => {
              if (ite.id !== list[e].id) return ite
            })
          }
        })
        if (this.addedGroupList.some(item => (item.id === 1))) {
          this.addedGroupList[0].groupList.push(list[e])
        }
      },
      /**
       * 移动分组事件
       * @param e
       */
      handleChangeGroup(e) {
        let group = this.addedGroupCopy.length !== 0 ? this.addedGroupCopy : this.addedGroupList
        if (this.addedGroupCopy.length !== 0) {
          this.checkedTagList.forEach(item => item.isChecked = false)
          this.addedGroupList.forEach(item => {
            item.groupList = item.groupList.filter(it => {
              if (!this.checkedTagList.includes(it)) return it
            })
          })
        }
        for (let i = 0; i < group.length; i++) {
          let item = group[i]
          if (item.id === e) {
            if (item.groupList.length === 0) {
              item.groupList = this.checkedTagList
            } else {
              this.checkedTagList = this.checkedTagList.filter(it => {
                if (!item.groupList.includes(it)) {
                  return it
                } else {
                  it.isChecked = false
                }
              })
              item.groupList = [...item.groupList, ...this.checkedTagList]
            }
            group.forEach((ite, idx) => {
              if (idx !== i) {
                ite.groupList = ite.groupList.filter(it => {
                  if (this.checkedTagList.map(iem => (iem.id)).indexOf(it.id) === -1) {
                    return it
                  }
                })
              }
            })
            this.openedCollapse.push(i.toString())
          }
        }
        this.checkedTagList.forEach(item => item.isChecked = false)
        this.checkedTagList = []
        this.currentGroupName = 'default'
      },
    }
  }
</script>
<style scoped lang="less">
  #theadMerge {
    padding: 0 2px;
  }

  #theadMerge_groupHeader {
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
  }

  .theadMerge_iptAndSelectStyle {
    width: 160px;
    margin-right: 10px;

    /deep/ .ivu-select-selection {
      border-radius: 2px;

    }
  }

  /deep/ #theadMerge_addBtn {
    border-color: #3F73FF;
    width: 96px;
    color: #3F73FF;
    border-radius: 2px;
    padding-left: 10px;
    //margin-left: auto;
  }

  .theadMerge_groupNameContent {
    display: inline-block;
    width: 95%;
    padding: 0 5px;
    position: absolute;
  }

  .theadMerge_groupBtn {
    content: url("~@/assets/icons/dimensionIcon/blueEdit.svg");
    margin-top: -2px;
  }

  .theadMerge_groupBtn_del {
    float: right;
    line-height: 38px;
    margin-right: 10px;
    margin-top: 11px;
    content: url("~@/assets/icons/dimensionIcon/treeDeleteBlue.svg");
  }

  /deep/ .ivu-icon-md-close:before {
    content: url("~@/assets/images/system/menuTreeDelete.svg");
  }

  .theadMerge_groupNameContent input {
    height: 26px;
    margin-right: 5px;
    background: none;
    border: 0;
    //padding: 0 10px;
    display: inline-block;
    min-width: 90px;
    width: 90px;
    font-family: "aliPuHui Regular";
    font-size: 12px;
  }

  .theadMerge_iptLabel {
    padding: 0 10px;
    height: 26px;
    border: 0;
    font-family: "aliPuHui Regular";
    font-size: 12px;
    visibility: hidden;
    background: #3F73FF;
    position: absolute;
    display: inline-block;
    min-width: 90px;
    z-index: -1000000000;
    top: -30px;
    color: #555555;
  }

  .titleIpt:focus {
    outline: #3F73FF solid 1px;
  }

  .theadMerge_groupNameContent input:focus {
    outline: #3F73FF solid 1px;
  }

  /deep/ .ivu-collapse {
    border: none;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header {
    background: #f0f5ff;
    border-bottom: none;
    position: relative;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header > i {
    margin-right: 10px;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item {
    border-top: none;
  }

  /deep/ .ivu-tag {
    border-radius: 12px;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    padding: 0 10px;
    margin: 0 10px 10px 0;
  }

  /deep/ .ivu-tag:not(.ivu-tag-border):not(.ivu-tag-dot):not(.ivu-tag-checked) {
    border: 1px solid #3F73FF;
    background: #f0f5ff;

    .ivu-tag-text {
      color: #3F73FF;
    }
  }

  .theadMerge_collapseBox {
    height: 380px;
    overflow-y: auto;
    overflow-x: hidden;

  }

  .theadMerge_collapseBox::-webkit-scrollbar {
    width: 4px;
  }

  .theadMerge_collapseBox::-webkit-scrollbar-thumb {
    background: #3F73FF;
  }

  .theadMerge_collapseBox::-webkit-scrollbar-track {
    background: #f5f5f5;
  }


</style>
