<template>
  <div class="reportView-container" ref="reportViewRef">
    <div class="preview-title-calendar">
<!--      <div class="searchBox">-->
<!--        <span>数据资产：</span>-->
<!--        <TreeSelect-->
<!--          style="width: 172px"-->
<!--          v-model="assetsGroupValue"-->
<!--          :expand-all="true"-->
<!--          :data="assetsDataList"-->
<!--          :multiple="false"-->
<!--          :defaultSelected="[-1]"-->
<!--          placeholder="请选择分组"-->
<!--          :clearable="assetsGroupValue == [-1]"-->
<!--        />-->
<!--      </div>-->
      <div class="searchBox">
        <span>部门：</span>
        <TreeSelect
          style="width: 172px"
          v-model="orgIdArr"
          :expand-all="false"
          :data="deptTreeDataNew"
          :multiple="false"
          placeholder="请选择部门"
        />
      </div>
      <div class="searchBox">
        <span>结算维度：</span>
        <Select v-model="dateType" style="width: 120px" @on-change="handleDateTypeChange($event)" clearable>
          <Option v-for="item in dateTypeList"  :key="item.value"  :value="item.value">{{ item.label }}</Option>
        </Select>
      </div>
      <div class="searchBox">
        <span>数据来源：</span>
        <Select v-model="dataSource" style="width: 120px" @on-change="handleDataSourceChange($event)" clearable>
          <Option v-for="item in dataSourceList"  :key="item.value"  :value="item.value">{{ item.label }}</Option>
        </Select>
      </div>
      <ReportCalendar
        class="previewReportCalendar"
        ref="previewReportCalendar"
        key="preview-calendar"
        :editable="false"
        :need-init="false"
        @dateConfirm="dateConfirm"
      />
    </div>
    <ReportViewCanvas
      :report-width="reportWidth"
      :report-height="reportHeight"
      :preview-scale-value="previewScaleValue"
      :chart-data-list="chartDataList"
    />
  </div>
</template>

<script>
import { getReportTempDetail } from "@/api/report";
import moment from "moment/moment";
import { CHART_DEFAULT_CONFIG } from "@/config/ReportConstants";
import { getChartPrivateDate, getDateRange } from "@/utils/chartDate";
import ReportTemplate from "@/view/report/reportTemplate/ReportTemplate";
import { supportSeriesCharts } from "@/view/report/components/reportDataSelector/reportDataSelectorConstant";
import ReportViewCanvas from "@/view/report/components/ReportViewCanvas";
import TreeSelect from "@/components/tree-select";
import {mapActions, mapState} from "vuex";
import ReportCalendar from '@/view/components/report-calendar/ReportCalendar'
import reportMixin from '@/view/report/reportTemplate/mixin/ReportMixin'
import { getAuthDepartmentList } from '@/api/systemManagement/departmentManagement'
import { buildTree } from '@/libs/util'
export default {
  extends: ReportTemplate,
  props: {
    reportTemplateId: {
      type: Number,
      required: true
    }
  },
  mixins: [reportMixin],
  provide () {
    return {
      editChartLink: null,
      refreshCharts: null
    }
  },
  components: {
    ReportViewCanvas,
    TreeSelect,
    ReportCalendar
  },
  data() {
    return {
      reportWidth: 0,
      reportHeight: 0,
      previewScaleValue: 1, //报告预览缩放比例
      chartDataList: [], // 图表
      containerHeightPreview: 0,
      dateType: globalVariable.dateType,
      dateTypeList: globalVariable.dateTypeList,
      dataSource: globalVariable.dataSource,
      dataSourceList: globalVariable.dataSourceList,
      globalVariableList: [],
      orgIdArr: [],
      deptTreeDataNew: []
    };
  },
  computed: {
    ...mapState("department", ["deptTreeData", "deptDataList"]),
    reportPageMeasure() {
      return this.$store.state.chart.reportSetting?.pageMeasure || "";
    }
  },
  watch: {
    reportTemplateId: {
      handler(newVal) {
        if (newVal === -1) return;
        this.getReportTempDetail();
      },
      immediate: true
    },
    // assetsGroupValue(val) {
    //   this.setReportOrgId({orgId: val[0]})
    // },
    orgIdArr(val, oldVal) {
       if (val[0] == oldVal[0])  return
      // 海尔：取部门code作为全局变量ordId值
      const id = val[0]
      const deptCode = this.deptDataList.find(item => item.id === id).deptCode
      console.log('deptCode====', deptCode)
      this.setReportOrgId({orgId: deptCode})
    }
  },
  beforeDestroy() {
    this.setReportSetting({}); // 清除背景设置
  },
  mounted() {
    if (this.deptTreeData.length) {
      this.deptTreeDataNew = this.deptTreeData
      this.orgIdArr = [this.deptTreeData[0].id]
    } else {
      // 以防单独挂载到其他系统时会走进该分支
      this.fetchDeptTree()
    }
  },
  methods: {
    ...mapActions(['setReportDateType', 'setReportDataSource', 'setReportOrgId']),
    async fetchDeptTree() {
      const res = await getAuthDepartmentList();
      if (res.data.state === "success") {
        let list = res.data.data;
        list = list.map(item => ({
          ...item,
          id: Number(item.id),
          parentId: item.pid || item.groupId,
          title: item.name,
          expand: true,
          selected: false
        }));
        // 插入根节点
        list.push({
          id: -1,
          parentId: null,
          title: "/",
          expand: true,
          selected: false
        });
        let deptArr = buildTree(list, null, false, false);
        this.deptTreeDataNew = deptArr[0].children
        this.orgIdArr = [this.deptTreeDataNew[0].id]
      }
    },
    /**
     * 获取报告详情
     */
    async getReportTempDetail(startDate, endDate) {
      const params = { id: this.reportTemplateId };
      if (startDate) {
        params.startDate = startDate;
        params.endDate = endDate;
      }
      const res = await getReportTempDetail(params);
      if (res.data?.state === "success") {
        const resData = res.data.data;
        // this.reportName = resData.name;
        // this.chartLink = resData.linkage !== null ? eval(resData.linkage.toLowerCase()) : "";
        if (!startDate) {
          // 如果指定了日期
          let newDateRange = getDateRange({ periodType: resData.periodType });
          startDate = moment(newDateRange.startDate).format("YYYY-MM-DD");
          endDate = moment(newDateRange.endDate).format("YYYY-MM-DD");
        }
        // this.$refs.previewReportCalendar.update({
        //   dateRangeOption: resData.periodType,
        //   startDate,
        //   endDate
        // });
        this.setDate(startDate, endDate, resData.periodType, true);
        let reportSetting = {
          themeStyle: resData.themeStyle || "1",
          pageMeasure: "",
          bgColor: "",
          bgImg: ""
        };
        if (resData.pageMeasure) {
          const [type, w, h] = resData.pageMeasure.split(",");
          this.reportWidth = Number(w);
          this.reportHeight = Number(h);
          reportSetting.pageMeasure = resData.pageMeasure;
        } else {
          this.reportWidth = this.$refs.reportViewRef.offsetWidth - 5;
          this.reportHeight = this.$refs.reportViewRef.offsetHeight;
          reportSetting.pageMeasure = `1,${this.reportWidth},${this.reportHeight}`;
        }
        if (resData.bgColor) {
          reportSetting.bgColor = resData.bgColor;
        }
        if (resData.bgImg) {
          reportSetting.bgImg = resData.bgImg;
        }
        this.setReportSetting({ reportSetting });
        this.buildGridLayoutArr(resData, startDate, endDate, resData.periodType);
      } else {
        this.$Message.error(res.data.message);
      }
    },

    buildGridLayoutArr(resData, globalStartDate, globalEndDate, periodType) {
      // 还原画布中的图表控件
      this.containerHeightPreview = 0;
      let views = resData.views;
      this.chartDataList = this.buildResultChart(views, this.containerHeightPreview, globalStartDate, globalEndDate, periodType);
      this.refreshStoreChartList();
    },

    buildResultChart(views, maxHeight, globalStartDate, globalEndDate, periodType) {
      let mixFilterList = views.filter(item => item.type === "MixFilter");
      return views.map((item, index) => {
        let configData = item.configData
          ? JSON.parse(item.configData)
          : item.data?.configData
          ? item.data?.configData
          : CHART_DEFAULT_CONFIG[item.type].config;
        const { series = [], ...newConfigData } = configData; // 解析出: 系列+数据配置
        let indicatorData = newConfigData.indicatorData;
        if (item.indicators && item.indicators.length) {
          if (indicatorData && indicatorData.length) {
            indicatorData.forEach(cacheIndicator => {
              let dbIndicator = item.indicators.find(i => i.id == cacheIndicator.id);
              if (dbIndicator) {
                // cacheIndicator.thresholds = dbIndicator.thresholds
                cacheIndicator.showType = dbIndicator.showType;
                !newConfigData.hasOwnProperty("indNameChanged") ? (cacheIndicator.title = dbIndicator.title) : null;
                cacheIndicator.type = dbIndicator.type;
                cacheIndicator.name = dbIndicator.name;
              }
            });
          } else {
            indicatorData = item.indicators.map(indicator => {
              return {
                ...indicator,
                selected: false,
                useCompare: true,
                useProportion: true,
                useThreshold: false
              };
            });
          }
        }
        if (maxHeight) {
          let totalHeight = item.height + item.y;
          if (totalHeight > maxHeight) {
            this.containerHeightPreview = totalHeight;
          }
        }
        // 如果设置了私有日期关联了公共日期需要根据当前公共日期重新计算私有日期
        if (newConfigData.isOpenPrivateDate && newConfigData.displayPrivateDate) {
          let { startDate, endDate } = getChartPrivateDate(newConfigData, periodType, globalStartDate, globalEndDate);
          item.startTime = startDate;
          item.endTime = endDate;
        }
        // 兼容处理：如果私有日期没有打开，历史图表对象里面有日期只则需重置掉20220429
        if (!newConfigData.displayPrivateDate && item.startTime) {
          item.startTime = null;
          item.endTime = null;
        }
        let parentId = "";
        for (let i = 0; i < mixFilterList.length; i++) {
          let configData = JSON.parse(mixFilterList[i].configData);
          if (configData.relativeFilterList && configData.relativeFilterList.includes(item.chartId)) {
            parentId = mixFilterList[i].chartId;
          }
        }
        let childrenChartViewList;
        if (item.childrenChartViewList) {
          // tab组件标签排序
          childrenChartViewList = item.childrenChartViewList
            .sort((a, b) => a.idIndex - b.idIndex)
            .map(childrenChartItem => ({
              ...childrenChartItem,
              paneData: this.buildResultChart(childrenChartItem.paneData, maxHeight, globalStartDate, globalEndDate, periodType)
            }));
        }
        return {
          chartId: `${item.chartId ? item.chartId : item.type + "_" + item.id}`,
          parentId: parentId,
          id: item.type,
          x: item.x,
          y: item.y,
          level: item.chartLevel ? item.chartLevel : 100 + index,
          width: item.width,
          height: item.height,
          i: index,
          defaultImg: CHART_DEFAULT_CONFIG[item.type]?.hasOwnProperty("defaultImg") ? CHART_DEFAULT_CONFIG[item.type]?.defaultImg : null,
          data: {
            mode: 1,
            dimension: item.dimensions,
            series: supportSeriesCharts.includes(item.type) ? series : [],
            indicator: indicatorData || [],
            innerHtml: item.html,
            src: item.src,
            text: item.text,
            configData: newConfigData,
            startDate: item.startTime, // 私有日期
            endDate: item.endTime,
            dateRangeValue: [item.startTime ? new Date(item.startTime) : null, item.endTime ? new Date(item.endTime) : null]
          },
          childrenChartViewList,
          currentTab: item.currentTab || 0,
          style: JSON.parse(item.style),
          defaultShow: false,
          timer: new Date().getTime()
        };
      });
    },

    /**
     *
     * @param startDate 公共日历开始日期
     * @param endDate 公共日历结束日期
     * @param periodType  周期类型
     */
    setDate(startDate, endDate, periodType, flag) {
      // this.dateRange = {
      //   startDate: startDate,
      //   endDate: endDate,
      //   dateRangeOption: periodType
      // };
      let reportDate = [startDate, endDate, true, periodType];
      this.setReportDate({ reportDate });
      // 如果查看态，需要通过快照
      if (flag === undefined) {
        this.getReportTempDetail(startDate, endDate);
      }
    },
    handleDateTypeChange(value) {
      this.setReportDateType({dateType: value})
    },
    handleDataSourceChange(value) {
      this.setReportDataSource({dataSource: value})
    },
    dateConfirm(startDate, endDate, period) {


      let startDateStr = moment(startDate).format("YYYY-MM-DD");
      let endDateStr = moment(endDate).format("YYYY-MM-DD");
      this.dateRange = {
        startDate: startDateStr,
        endDate: endDateStr,
        dateRangeOption: period,
      };
      this.setDate(startDateStr, endDateStr, period);
    },
  }
};
</script>

<style lang="less" scoped>
.reportView-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #cccccc;
  }
}
.preview-title-calendar{
  display: flex;
  justify-content: center;
  .searchBox{
    margin-right: 24px;
  }
}
</style>

