<template>
  <div class="sync-all">
    <Modal
        v-model="deleteShow"
        :mask-closable="false"
        @on-cancel="cancel"
        width="587">
        <div slot="header" class="header">
          <Icon type="md-alert" style="color: #faad14;font-size: 18px;margin-right: 5px"/>
          <span>确认删除源表吗？</span>
        </div>
        <div class="sync-content">
          <div class="prompt-text">提示：删除源表后，以下关联关系将受到影响</div>
          <p v-if="dataModelList.length">数据模型</p>
          <div class="list-all" v-if="dataModelList.length">
            <div v-for="item in dataModelList" :key="item.id" class="list-item">
              <span class="circle"></span>
              <span>{{item.name}}</span>
            </div>
          </div>
          <p v-if="businessModelList.length">业务模型</p>
          <div class="list-all" v-if="businessModelList.length">
            <div v-for="item in businessModelList" :key="item.id" class="list-item">
              <span class="circle"></span>
              <span>{{item.name}}</span>
            </div>
          </div>
        </div>
        <div slot="footer">
          <Button type="text" @click="cancel">取消</Button>
          <Button type="primary" @click="ok">确认</Button>
        </div>
    </Modal>
  </div>
</template>

<script>
import { deepCopy } from "@/utils/common";

export default {
  props: {
    deleteVisible: {
      type: Boolean,
      default: false
    },
    dataModelList: {
      type: Array,
      default: ()=>[],
    },
    businessModelList: {
      type: Array,
      default: ()=>[],
    },
  },
  components: {
    
  },
  data() {
    return {
      deleteShow: false,
    };
  },
  created(){
    
  },
  methods: {
    ok(){
      this.$emit('handleCloseDel', true);
      this.deleteShow = false;
    },
    cancel(){
      this.$emit('handleCloseDel', false);
      this.deleteShow = false;
    },
  },
  watch: {
    deleteVisible (val) {
      if(val){
        this.deleteShow = true;
      }
    },
  },
};
</script>

<style scoped lang="less">
/deep/.ivu-modal-header .header{
  font-size: 14px;
    color: #17233d;
    font-weight: bold;
}
/deep/.ivu-modal-body{
  .sync-content{
    font-size: 12px;
    color: #555555;
    .prompt-text{
      font-size: 12px;
      color: #F7B500;
      margin-bottom: 16px;
    }
    >p{
      padding-bottom: 5px;
    }
    .list-all{
      background: #F7F7F7;
      border-radius: 4px;
      font-size: 12px;
      color: rgba(0,0,0,0.85);
      padding: 17px 17px 10px;
      height: 118px;
      overflow: auto;
      margin-bottom: 16px;
      .list-item{
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        .circle{
          width: 5px;
          height: 5px;
          display: inline-block;
          border-radius: 50%;
          margin-right: 8px;
          border: 1px solid rgba(73,123,255,1);
        }
      }
    }
  }
}
/deep/ .ivu-modal-footer {
  border-top: none;
}
</style>
