<template>
  <div>
    <Modal v-model="dispatchShow" width="524" title="调度设置" 
      :mask-closable="false" @on-cancel="cancelPublish">
      <section class="dispatchWrapper dispatchType" style="margin-bottom: 20px">
        <span>调度类型：</span>
        <RadioGroup v-model="dispatch.type">
          <Radio :label="1">抽取</Radio>
          <Radio :label="2">直连</Radio>
        </RadioGroup>
      </section>
      <TaskHandle :dispatch="dispatch" :isUpdate="isUpdate" v-if="dispatchShow" />
      <div slot="footer">
        <Button type="text" @click="cancelPublish">取消</Button>
        <Button type="primary" @click="publishData">确认</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import TaskHandle from "./components/TaskHandle.vue";
import { deepCopy } from '@/utils/common';
import { dateChange, getTimeFormat } from "@/utils/dateFormat";

export default {
  props: {
    dispatchVisible: {
      type: Boolean,
      default: false,
    },
    // 组件是新增时 or 更新时
    isUpdate: {
      type: Boolean,
      required: true
    },
    //批量调度还是单项调度
    modalType: {
      type: String,
      default: ""
    },
    jobConfig: {
      type: Object,
      default: ()=>{}
    },
    checkGroup: {
      type: Array,
      default: ()=>[]
    },
  },
  components: {
    TaskHandle
  },
  data() {
    return {
      dispatchShow: false,
      dispatch: {
        type: 1,
        mode: 3,
        startDate: dateChange(2),
        startTime: "00:00",
        rate: {
          name: 1,
          easy: {
            inputVal: 1,
            type: 3
          },
          detail: {
            timeList: [{ value: "00/00" }], // 执行时间
            // 执行日
            execDate: {
              type: 1,
              selectVal: ""
            },
            monthVal: "1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月" // 执行月
          }
        },
        advanced: {
          show: false,
          count: 1,
          interval: 1
        }
      },
    };
  },
  watch: {
    dispatchVisible(val) {
      if (val) {
        //如果jobConfig为空对象则表示之前没有设置过调度
        if(Object.keys(this.jobConfig).length !== 0 && this.modalType === 'single'){
          this.dispatch = this.fillBackData(this.jobConfig);
        }else{
          this.dispatch =  {
            type: 1,
            mode: 3,
            startDate: dateChange(2),
            startTime: "00:00",
            rate: {
              name: 1,
              easy: {
                inputVal: 1,
                type: 3
              },
              detail: {
                timeList: [{ value: "00/00" }], // 执行时间
                // 执行日
                execDate: {
                  type: 1,
                  selectVal: ""
                },
                monthVal: "1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月" // 执行月
              }
            },
            advanced: {
              show: false,
              count: 1,
              interval: 1
            }
          }
        }
        this.dispatchShow = true;
      }
    },
  },
  methods: {
    // 回填数据，并缓存回填的数据（发生在: 编辑时）
    fillBackData(data) {
      const { 
        fetchType, dataUpdateType, effectiveDate, 
        time, frequencyType, jobDetailConfig, retryEnable, 
        retryTimes, retryInterval, id 
      } = data;
      const startTime = time
        .split(":")
        .map(ele => (parseInt(ele) < 10 ? `0${parseInt(ele)}` : ele))
        .join(":");

      // 调度频率
      let easyObj = this.dispatch.rate.easy;
      let detailObj = this.dispatch.rate.detail;
      if (frequencyType === 1) {
        let arr = jobDetailConfig.split(",");
        easyObj = {
          inputVal: parseInt(arr[0]),
          type: parseInt(arr[1])
        };
      } else if (frequencyType === 3) {
        const obj = JSON.parse(jobDetailConfig);
        let timeList = [];
        obj.executeTime.forEach(ele => {
          let hour = ele.hour < 10 ? `0${ele.hour}` : ele.hour;
          let minute = ele.minute < 10 ? `0${ele.minute}` : ele.minute;
          timeList.push({
            value: `${hour}/${minute}`
          });
        });
        let selectVal = "";
        if (obj.executeDayType === 2) {
          let arr = [];
          obj.value.forEach(ele => {
            let weekday = "周一";
            switch (ele) {
              case 1:
                weekday = "周一";
                break;
              case 2:
                weekday = "周二";
                break;
              case 3:
                weekday = "周三";
                break;
              case 4:
                weekday = "周四";
                break;
              case 5:
                weekday = "周五";
                break;
              case 6:
                weekday = "周六";
                break;
              case 7:
                weekday = "周日";
                break;
            }
            arr.push(weekday);
          });
          selectVal = arr.join(", ");
        } else if (obj.executeDayType === 3) {
          selectVal = obj.value.map(ele => (ele < 10 ? `0${ele}` : ele)).join(", ");
        }
        const monthVal = obj.executeMonth.map(ele => `${ele}月`).join(", ");

        detailObj = {
          timeList,
          execDate: {
            type: obj.executeDayType,
            selectVal
          },
          monthVal
        };
      }

      // 高级设置
      let advancedCount = 1;
      let advancedInterval = 1;
      if (retryEnable === 1) {
        advancedCount = retryTimes;
        advancedInterval = retryInterval;
      }

      return {
        type: fetchType,
        mode: dataUpdateType,
        startDate: effectiveDate,
        startTime,
        rate: {
          name: frequencyType,
          easy: easyObj,
          detail: detailObj
        },
        advanced: {
          show: retryEnable === 1,
          count: advancedCount,
          interval: advancedInterval
        }
      };
    },
    initDispath(){
      this.dispatch= {
          type: 1,
          mode: 3,
          startDate: dateChange(2),
          startTime: "00:00",
          rate: {
            name: 1,
            easy: {
              inputVal: 1,
              type: 3
            },
            detail: {
              timeList: [{ value: "00/00" }], // 执行时间
              // 执行日
              execDate: {
                type: 1,
                selectVal: ""
              },
              monthVal: "1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月" // 执行月
            }
          },
          advanced: {
            show: false,
            count: 1,
            interval: 1
          }
        }
    },
    async publishData() {
      if (this.validate(this.dispatch)) {
        const params = this.getParams(deepCopy(this.dispatch));
        this.dispatchShow = false;
        this.$Message.success('调度设置任务添加成功！')
        this.$emit("handleCloseDispatch", {data: params, type: this.modalType});
        this.initDispath();
      }
    },
    cancelPublish() {
      this.$emit("handleCloseDispatch");
      this.initDispath();
      this.dispatchShow = false;
    },
    validate(dispatchData) {
      const {
        rate: { name, easy, detail }
      } = dispatchData;

      // 简单重复执行
      if (name === 1) {
        if (easy.inputVal === null) {
          this.$Message.warning("请确认信息是否填写完整");
          this.$refs.inputNumber.focus();
          return false;
        } else if (easy.type === 1) {
          const outOfRange = easy.inputVal > 59 || easy.inputVal < 1; // 超出范围
          const isDecimals = easy.inputVal > 1 && easy.inputVal < 59 && String(easy.inputVal).includes("."); // 有小数
          if (outOfRange || isDecimals) {
            this.$Message.warning("调度频率范围为1-59的整数");
            this.$refs.inputNumber.focus();
            return false;
          }
        } else if (easy.type === 2) {
          const outOfRange = easy.inputVal > 23 || easy.inputVal < 1; // 超出范围
          const isDecimals = easy.inputVal > 1 && easy.inputVal < 23 && String(easy.inputVal).includes("."); // 有小数
          if (outOfRange || isDecimals) {
            this.$Message.warning("调度频率范围为1-23的整数");
            this.$refs.inputNumber.focus();
            return false;
          }
        } else if (easy.type === 3 || easy.type === 4) {
          const outOfRange = easy.inputVal > 7 || easy.inputVal < 1; // 超出范围
          const isDecimals = easy.inputVal > 1 && easy.inputVal < 7 && String(easy.inputVal).includes("."); // 有小数
          if (outOfRange || isDecimals) {
            this.$Message.warning("调度频率范围为1-7的整数");
            this.$refs.inputNumber.focus();
            return false;
          }
        }
      }

      // 明细频率设置
      if (name === 3) {
        if (detail.timeList.map(ele => ele.value).includes("")) {
          this.$Message.warning("请选择执行时间");
          return false;
        } else if (detail.execDate.type !== 1 && detail.execDate.selectVal === "") {
          this.$Message.warning("请选择执行日");
          return false;
        } else if (detail.monthVal === "") {
          this.$Message.warning("请选择执行月");
          return false;
        }
      }
      return true;
    },
    getParams(dispatchData) {
      const {
        type: fetchType,
        mode: dataUpdateType,
        startDate,
        startTime,
        rate: { name, easy, detail },
        advanced
      } = dispatchData;

      const startTimeF = startTime
        .split(":")
        .map(ele => parseInt(ele))
        .join(":");

      // 简单重复执行
      const easyObj = `${easy.inputVal},${easy.type}`;

      // 明细频率设置
      let executeTime = [];
      detail.timeList.forEach(ele => {
        const timeArr = ele.value.split("/");
        executeTime.push({
          hour: parseInt(timeArr[0]),
          minute: parseInt(timeArr[1])
        });
      });
      let executeDayArr = [];
      if (detail.execDate.type !== 1) {
        executeDayArr = detail.execDate.selectVal.split(", ");
        if (detail.execDate.type === 2) {
          executeDayArr = executeDayArr.map(ele => {
            let weekday = 1;
            switch (ele) {
              case "周一":
                weekday = 1;
                break;
              case "周二":
                weekday = 2;
                break;
              case "周三":
                weekday = 3;
                break;
              case "周四":
                weekday = 4;
                break;
              case "周五":
                weekday = 5;
                break;
              case "周六":
                weekday = 6;
                break;
              case "周日":
                weekday = 7;
                break;
            }
            return weekday;
          });
        }
        if (detail.execDate.type === 3) {
          executeDayArr = executeDayArr.map(ele => parseInt(ele));
        }
      }
      const executeMonth = detail.monthVal.split(", ").map(ele => parseInt(ele));
      const detailObj = {
        executeTime,
        executeDayType: detail.execDate.type,
        value: executeDayArr,
        executeMonth
      };

      let jobDetailConfig = "";
      if (name === 1) {
        jobDetailConfig = easyObj;
      } else if (name === 3) {
        jobDetailConfig = JSON.stringify(detailObj);
      }
      const param = {
        fetchType,
        dataUpdateType,
        effectiveDate: startDate,
        time: startTimeF,
        frequencyType: name,
        jobDetailConfig,
        retryEnable: advanced.show ? 1 : 2 // 高级设置
      };
      if (advanced.show) {
        param.retryTimes = advanced.count;
        param.retryInterval = advanced.interval;
      }

      return param;
    }
  },
};
</script>

<style scoped lang="less">
/deep/.ivu-modal-body {
  .dispatchSetting-container {
  /deep/.ivu-modal {
    .ivu-modal-header {
      padding: 14px 25px 9px 30px;
    }
    .ivu-modal-body {
      padding: 29px 25px 30px 30px;
      .dispatchWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        &.dispatchType,
        &.dispatchMode {
          .ivu-radio-group {
            .ivu-radio-wrapper:not(:last-child) {
              margin-right: 26px;
              .ivu-radio {
                margin-right: 7px;
              }
            }
          }
        }
      }
    }
    .ivu-modal-footer {
      padding: 0 25px 24px 0;
      border-top: none;
    }
  }
}
}
/deep/ .ivu-modal-footer {
  border-top: none;
}
</style>
