<template>
  <div class="sync-all">
    <Modal
        v-model="syncShow"
        :mask-closable="false"
        @on-cancel="cancel"
        title="检测到源表发生更新"
        width="587">
        <div class="sync-content">
          <div class="prompt-text">确认更新内容后请先同步，否则无法编辑源表配置。</div>
          <p v-if="updateList.length">更新源表</p>
          <div class="list-all" v-if="updateList.length">
            <div v-for="item in updateList" :key="item.name" class="list-item">
              <span class="circle"></span>
              <span>{{item.name}}</span>
            </div>
          </div>
          <p v-if="deleteList.length">删除源表</p>
          <div class="list-all" v-if="deleteList.length">
            <div v-for="item in deleteList" :key="item.name" class="list-item">
              <span class="circle"></span>
              <span>{{item.name}}</span>
            </div>
          </div>
        </div>
        <div slot="footer">
          <Button type="text" @click="cancel">取消</Button>
          <Button type="primary" @click="ok" v-if="updateList.length || deleteList.length">同步</Button>
        </div>
    </Modal>
    <Modal
        v-model="syncComfirmShow"
        @on-cancel="cancelConfirm"
        :mask-closable="false"
        width="784">
        <div slot="header" class="header">
          <Icon type="md-alert" style="color: #faad14;font-size: 18px;margin-right: 5px"/>
          <span>确认同步吗？</span>
        </div>
        <div class="sync-content">
          <div class="prompt-text">提示：同步源表后，以下关联关系将受到影响</div>
          <p v-if="dataModelList.length">数据模型</p>
          <div class="list-all" v-if="dataModelList.length">
            <div v-for="item in dataModelList" :key="item.id" class="list-item">
              <span class="circle"></span>
              <span>{{item.name}}</span>
            </div>
          </div>
          <p v-if="businessModelList.length">业务模型</p>
          <div class="list-all" v-if="businessModelList.length">
            <div v-for="item in businessModelList" :key="item.id" class="list-item">
              <span class="circle"></span>
              <span>{{item.name}}</span>
            </div>
          </div>
        </div>
        <div slot="footer">
          <Button type="text" @click="cancelConfirm">取消</Button>
          <Button type="primary" @click="okConfirm">确认</Button>
        </div>
    </Modal>
  </div>
</template>

<script>
import { syncOriginalTable, queryRelationDatas } from "@/api/databaseConnection";

export default {
  props: {
    syncVisible: {
      type: Boolean,
      default: false
    },
    deleteList: {
      type: Array,
      default: ()=>[],
    },
    updateList: {
      type: Array,
      default: ()=>[],
    },
    changeObj: {
      type: Object,
      default: ()=>{},
    },
  },
  components: {
    
  },
  data() {
    return {
      syncShow: false,
      syncComfirmShow: false,
      dataModelList: [],
      businessModelList: [],
      
    };
  },
  created(){
    
  },
  methods: {
    //点击同步查询影响的数据集
    async ok(){
      let res = await queryRelationDatas(this.changeObj);
      if (res && res.data && res.data.state === "success") {
        const resData = res.data.data;
        // 如果影响到数据集，打开确认同步弹窗
        if(
          (resData && resData.businessModel && resData.businessModel.length) || 
          (resData && resData.dataSet && resData.dataSet.length)
        ){
          this.businessModelList = resData.businessModel || [];
          this.dataModelList = resData.dataSet || [];
          // 打开确认同步弹窗
          this.syncComfirmShow = true;
        }else{
          // 没有影响的数据集可以直接同步
          let res = await syncOriginalTable(this.changeObj);
          if (res && res.data && res.data.state === "success") {
            this.$emit('handleCloseSync', true);
            this.syncShow = false;
          } else {
            this.$Message.warning(res && res.data && res.data.message);
          }
        }
      } else {
        this.$Message.warning(res && res.data && res.data.message);
      }
    },
    //取消同步，不查询数据集
    cancel(){
      this.$emit('handleCloseSync', false);
      this.syncShow = false;
    },
    //确认知道影响的数据集，并且确认同步
    async okConfirm(){
      let res = await syncOriginalTable(this.changeObj);
      if (res && res.data && res.data.state === "success") {
        this.syncShow = false;
        this.$emit('handleCloseSync', true);
        this.syncComfirmShow = false;
      } else {
        this.$Message.warning(res && res.data && res.data.message);
      }
    },
    //知道影响的数据集，取消同步
    cancelConfirm(){
      this.$emit('handleCloseSync', false);
      this.syncComfirmShow = false;
    },
  },
  watch: {
    syncVisible (val) {
      if(val){
        this.syncShow = true;
      }
    },
  },
};
</script>

<style scoped lang="less">
/deep/.ivu-modal-header .header{
  font-size: 14px;
    color: #17233d;
    font-weight: bold;
}
/deep/.ivu-modal-body{
  .sync-content{
    font-size: 12px;
    color: #555555;
    .prompt-text{
      font-size: 12px;
      color: #F7B500;
      margin-bottom: 16px;
    }
    >p{
      padding-bottom: 5px;
    }
    .list-all{
      background: #F7F7F7;
      border-radius: 4px;
      font-size: 12px;
      color: rgba(0,0,0,0.85);
      padding: 17px 17px 10px;
      height: 133px;
      overflow: auto;
      margin-bottom: 16px;
      .list-item{
        display: flex;
        align-items: center;
        margin-bottom: 7px;
        .circle{
          width: 5px;
          height: 5px;
          display: inline-block;
          border-radius: 50%;
          margin-right: 8px;
          border: 1px solid rgba(73,123,255,1);
        }
      }
    }
  }
}
/deep/ .ivu-modal-footer {
  border-top: none;
}
</style>
