<template>
  <div class="operation-log">
    <Modal
      v-model="modalShow"
      :title="titleName"
      @on-ok="ok"
      @on-cancel="cancel"
      width="587"
    >
      <div>
        <Form class="searchForm" :label-width="80">
          <FormItem label="业务日期: ">
            <DatePicker
              :value="businessDate"
              type="date"
              placeholder="YYYY/MM/DD"
              :clearable="false"
              :editable="false"
              @on-change="onBusinessDateChange"
            />
          </FormItem>
        </Form>
        <div>
          <Tabs :value="activeTab">
            <TabPane
              :label="item.title"
              :name="item.id"
              v-for="item in tabList"
              :key="item.id"
              >
              <LogList />
            </TabPane>
          </Tabs>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import LogList from './components/LogList.vue'
import moment from "moment";

export default {
  name: "OperationLog",
  components: {
    LogList
  },
  props: {
    operationLogShow: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      modalShow: false,
      titleName: "操作日志",
      businessDate: "",
      activeTab: "all",
      tabList: [
        {
          title: "所有",
          id: "all",
        },
        {
          title: "刷新纪录",
          id: "refresh",
        },
        {
          title: "修改记录",
          id: "update",
        },
      ],
    };
  },
  mounted() {},
  methods: {
    // 设置时间
    setDatePickerTime() {
      let yesterday = moment(new Date())
        .subtract(1, "days")
        .format("YYYY-MM-DD");
      this.businessDate = yesterday;
    },
    onBusinessDateChange(date) {
      this.businessDate = date;
    },
    ok() {
      this.$emit("handleOprationLog", false);
    },
    cancel() {
      this.$emit("handleOprationLog", false);
    },
  },
  watch: {
    operationLogShow(val) {
      if (val) {
        this.modalShow = true;
        this.titleName = "操作日志-" + this.name;
        this.setDatePickerTime();
      }
    },
  },
};
</script>

<style lang="less" scoped></style>
