
.config /deep/ .ivu-table-wrapper > .ivu-table > .ivu-table-header > table > thead > tr > th {
  background-color: #f8f8f8;
  font-size: 12px;
}

/deep/ .ivu-collapse-item {
  border-top: none;
}

/deep/ .ivu-collapse-header {
  background: #f8f8f9;
}

/deep/ .ivu-tree .ivu-icon {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/deep/ .ivu-tree .ivu-icon-ios-arrow-forward:before {
  content: '';
  background: url('~@/assets/images/system/treePlus.svg') no-repeat 0 -2px;
  background-size: cover;
  width: 16px;
  height: 16px;
  display: block;
}

/deep/ .ivu-tree .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
  content: '';
  display: block;
  background: url('~@/assets/images/system/treeMinus.svg') no-repeat 0 -2px;
  background-size: cover;
  width: 16px;
  height: 16px;
}


.top {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  > .table-list {
    .move_div > span {
      display: inline-block;
      height: 100%;
      line-height: 32px;
      padding-left: 15px;
    }

  }
  .opt-frame {
    position: absolute;
    z-index: 99999999;
    /*display: none;*/
    width: 60px;
    background: #FFFFFF;

    .mask {
      background: #2D8cF0;
      height: 100%;
      width: 100%;
    }

    .label-down-body {
      border-radius: 5px;
      margin: 0 0;
      left: -20px;
      text-align: center;
      width: 60px;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333333;
      background-color: #FFFFFF;

      top: 30px;

      .label-down-body-opt-item {
        cursor: pointer;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
        -khtml-user-select: none; /* Konqueror */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        line-height: 25px;
        height: 25px;
        width: 90%;
        position: relative;
        top: -5px;
        background-color: #FFFFFF;
        margin: 0 auto 5px;

        &:hover {
          background-color: #F0F5FF;
          color: #3F73FF;
        }
      }

    }

    .label-down-body::before {
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ffffff;
      content: " ";
      position: relative;
      top: -13px;
      display: inline-block;
    }
  }
  .table-list {
    height: 100%;
    width: 20%;
    background: white;
    font-size: 18px;
    padding: 0 17px;
    border-right: 1px solid #EAEAEA;
  }

  .right-canvas {
    background-color: white;
    height: 100%;
    width: 80%;
    padding: 16px;

    .dataset-name {
      height: 5%;
      line-height: 35px;
      color: #333333;

      .dataset-name-row {
        .choose-area {
          display: flex;

          .choose-name {
            display: flex;
            align-items: center;
            width: 30%;
            white-space: nowrap;

            .name {
              text-align: left;
              width: 90px;
              font-size: 12px;
            }
            .dataset-group{
              width: 100%;
              /deep/.ivu-tree ul li ul li .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before{
                margin-bottom: 7px;
              }
              /deep/.ivu-tree ul li ul li .ivu-tree-arrow .ivu-icon-ios-arrow-forward:before{
                margin-bottom: 7px;
              }
            }
            .value {
              text-align: left;
              width: 200px;
              margin-right: 20px;
            }
          }
        }
        .actionBtnArea {
          display: flex;
          justify-content: flex-end;
          .dispatchSettingBtn {
            width: 96px;
            height: 32px;
            border: 1px solid rgba(63,115,255,1);
            border-radius: 2px;
            margin-right: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            white-space: nowrap;
            img {
              width: 16px;
              height: 16px;
              margin-right: 8px;
            }
            span {
              font-size: 12px;
              color: #3F73FF;
              font-weight: 400;
              line-height: 1;
            }
          }
        }
      }

      .dataset-name-row .ivu-col:nth-child(n+1) {
        text-align: right;
      }
    }

    .canvas-area {
      height: 30vh;
      padding: 16px 0;
      position: relative;

      .dustbin {
        border-top-left-radius: 100%;
        height: 48px;
        width: 48px;
        right: 0;
        bottom: 16px;
        position: absolute;
        z-index: 1;

        img {
          position: absolute;
          bottom: 0;
          right: 0;
          object-fit: contain;
        }
      }

      .anmDustbin {
        transition-duration: 0.3s;
        height: 70px;
        width: 70px;

      }
    }
    // .dataset{
    //   height: calc(~'70vh - 205px');
    //   overflow: auto;
    // }
    .config {
      height: calc(~'70vh - 215px');
      overflow: auto;
    }

    .show-table-fields {
      height: 55%;
    }
  }
}

@keyframes scaleDraw {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
}

/deep/ .ivu-tree {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/deep/ .ivu-tabs {
  color: #333333;
}

/deep/ .ivu-tabs-content {
  height: calc(~'100% - 46px');
}

.allBtnStyle {
  background: #3F73FF;
  border-radius: 2px;
}



