body {
  overflow: hidden;
}

#container_dataset {
  overflow: auto;
  position: relative;
  height: 100%;
  padding: 16px 0 0 16px;
  background-color: #F9F9F9;
  .box {

    white-space: nowrap;

    .item {
      background-color: #FFFFFF;
      display: inline-block;
      align-items: center;
      font-size: 12px;
      text-align: left;
      position: relative;
      height: 32px;
      width: 220px;
      margin-bottom: 14px;
      color: #333333;;
      border: 1px solid #EAEAEA;
      border-left: 2px solid #3F73FF;
    }

    .item-body {
      display: flex;
      align-items: center;

      .icon-source-type {
        margin-left: 5px;
      }
    }

    h6 {
      width: 100%;
      height: 32px;
      line-height: 30px;
      font-weight: normal;
      text-align: left;
      padding: 0 6px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: move;
    }

    .opt {
      position: absolute;
      object-fit: contain;
      z-index: 9;
      left: -30px;
      top: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-top: -10px;
      border-radius: 50%;
      background: #D9D9D9;
      cursor: pointer;
    }

    .label-down {
      cursor: pointer;
      display: inline-block;
      height: 25px;
      width: 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("~@/assets/images/dataset/fileOptMore.svg");
    }
  }
  .wrap {
    width: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;

    .box {
      margin-left: 68px;
    }

    .box:first-child > .item {
      z-index: 1;
    }

    .box:first-child {
      > .item:after {
        position: absolute;
        top: 15px;
        left: -70px;
        width: 68px;
        border-top: 1px solid #D9D9D9;
        content: "";
      }

      > .item:before {
        position: absolute;
        z-index: 200;
        top: -35px;
        left: -43px;
        width: 1px;
        height: 50px;
        background: rgb(249, 249, 249);
        content: "";
      }
    }

    .box + .box {
      > .item:after {
        position: absolute;
        top: 7px;
        left: -43px;
        width: 41px;
        height: 10px;
        border-style: solid;
        border-color: #D9D9D9;
        border-width: 0 0 1px 1px;
        border-bottom-left-radius: 10px;
        content: "";
      }

      > .item:before {
        position: absolute;
        left: -43px;
        top: -1000px;
        bottom: 20px;
        border-left: 1px solid #D9D9D9;
        content: "";
      }
    }
  }

  > .box-union {
    overflow-y: hidden;
  }

  > .box-union:nth-child(1) > .item-union {
    border: 1px solid #3F73FF;
    border-left: 2px solid #3f73ff;
  }

  .box-union {
    text-align: center;
    position: relative;

    .item-union:before {
      position: absolute;
      height: 48px;
      width: 1px;
      top: -48px;
      border-left: 1px solid #174fd9;
      content: "";
    }

    > .item-union {
      border: 1px solid #999999;
      border-radius: 2px;
      overflow: hidden;
      line-height: 32px;
      height: 32px;
      width: 220px;
      cursor: move;
      border-left: 2px solid #3f73ff;

      .item-body-union {
        display: flex;
        align-items: center;

        .icon-source-type-union {
          margin-left: 5px;
        }

        h6 {
          width: 100%;
          display: inline-block;
          text-overflow: ellipsis;
          text-align: center;
          overflow: hidden;
        }

        .label-down-union {
          right: 0;
          cursor: pointer;
          display: inline-block;
          height: 32px;
          line-height: 32px;
          width: 25px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("~@/assets/images/dataset/fileOptMore.svg");
        }
      }

      .opt-union {
        position: absolute;
        top: -35px;
        left: 99px;
      }
    }

    .wrap-union {
      margin-top: 48px;

      .box-union {
        .item-union {
          text-align: center;
          height: 32px;
          width: 220px;
        }
      }
    }
  }
}

/*--------------------------------------------------*/
#container_dataset1 {
  overflow: auto;

  .box {
    white-space: nowrap;

    .item {
      margin-right: 2px;
      background-color: #FFFFFF;
      display: inline-block;
      align-items: center;
      font-size: 12px;
      text-align: left;
      position: relative;
      height: 32px;
      width: 220px;
      margin-bottom: 14px;
      color: #333333;
      border: 1px solid #EAEAEA;
      border-left: 2px solid #3F73FF;
    }

    .item-body {
      display: flex;
      align-items: center;

      .icon-source-type {
        margin-left: 5px;
      }
    }

    h6 {
      width: 100%;
      height: 32px;
      line-height: 30px;
      font-weight: normal;
      text-align: left;
      padding: 0 6px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: move;
    }

    .opt {
      position: absolute;
      object-fit: contain;
      z-index: 9;
      left: -30px;
      top: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-top: -10px;
      border-radius: 50%;
      background: #D9D9D9;
      cursor: pointer;
    }

    .label-down {
      cursor: pointer;
      display: inline-block;
      height: 25px;
      width: 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("~@/assets/images/dataset/fileOptMore.svg");
    }
  }

  .wrap {
    width: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;

    .box {
      margin-left: 68px;
    }

    .box:first-child > .item {
      z-index: 1;
    }

    .box:first-child {
      > .item:after {
        position: absolute;
        top: 15px;
        left: -70px;
        width: 68px;
        border-top: 1px solid #D9D9D9;
        content: "";
      }

      > .item:before {
        position: absolute;
        z-index: 200;
        top: -35px;
        left: -43px;
        width: 1px;
        height: 50px;
        background: rgb(249, 249, 249);
        content: "";
      }
    }

    .box + .box {
      > .item:after {
        position: absolute;
        top: 7px;
        left: -43px;
        width: 41px;
        height: 10px;
        border-style: solid;
        border-color: #D9D9D9;
        border-width: 0 0 1px 1px;
        border-bottom-left-radius: 10px;
        content: "";
      }

      > .item:before {
        position: absolute;
        left: -43px;
        top: -1000px;
        bottom: 20px;
        border-left: 1px solid #D9D9D9;
        content: "";
      }
    }
  }

  > .box-union {
    overflow-y: hidden;
  }

  > .box-union:nth-child(1) > .item-union {
    border: 1px solid #3F73FF;
    border-left: 2px solid #3f73ff;
  }

  .box-union {
    text-align: center;
    position: relative;

    .item-union:before {
      position: absolute;
      height: 48px;
      width: 1px;
      top: -48px;
      border-left: 1px solid #174fd9;
      content: "";
    }

    > .item-union {
      border: 1px solid #999999;
      border-radius: 2px;
      overflow: hidden;
      line-height: 32px;
      height: 32px;
      width: 220px;
      cursor: move;
      border-left: 2px solid #3f73ff;

      .item-body-union {
        display: flex;
        align-items: center;

        .icon-source-type-union {
          margin-left: 5px;
        }

        h6 {
          width: 100%;
          display: inline-block;
          text-overflow: ellipsis;
          text-align: center;
          overflow: hidden;
        }

        .label-down-union {
          right: 0;
          cursor: pointer;
          display: inline-block;
          height: 32px;
          line-height: 32px;
          width: 25px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("~@/assets/images/dataset/fileOptMore.svg");
        }
      }

      .opt-union {
        position: absolute;
        top: -35px;
        left: 99px;
      }
    }

    .wrap-union {
      margin-top: 48px;

      .box-union {
        .item-union {
          text-align: center;
          height: 32px;
          width: 220px;
        }
      }
    }
  }
}

#moveContainer {
  > .move_div:hover {
    cursor: move;
  }

  > .move_div {
    z-index: 1;
    position: absolute;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    font-size: 12px;
    background-color: #FFFFFF;
    align-items: center;
    text-align: left;
    height: 32px;
    width: 220px;
    margin: 0 0;
    color: #333333;;
    border: 1px solid #EAEAEA;
    border-left: 2px solid #3F73FF;
  }
}
