<template>
  <div class="dataAuthSetting-container">
    <Tabs
      class="dataAuthTabWrapper"
      type="card"
      v-model="tabName"
      name="dataAuthSettingTab"
      @on-click="onTabChange"
      v-show="currentMode === 1"
    >
      <TabPane label="报告管理" name="5" tab="dataAuthSettingTab">
        <ReportManage />
      </TabPane>
      <TabPane label="指标管理" name="20" tab="dataAuthSettingTab">
        <IndicatorManage />
      </TabPane>
      <TabPane label="内容管理" name="16" tab="dataAuthSettingTab">
        <ContentManage />
      </TabPane>
<!--      <TabPane label="维度管理" name="1" tab="dataAuthSettingTab">-->
<!--        <DimensionManage />-->
<!--      </TabPane>-->
    </Tabs>
    <Tabs
      class="dataAuthTabWrapper"
      type="card"
      v-model="tabName2"
      name="dataAuthSettingTab"
      v-show="currentMode === 2"
    >
      <TabPane label="资产分组" name="17" tab="dataAuthSettingTab">
         <AssetsGroup />
      </TabPane>
    </Tabs>
    <div class="mode-wrap">
      赋权模式：
      <div class="mode-item" v-for="(item, index) in modeArr" :key="item.value"
           :style="{borderLeft:  index === modeArr.length - 1 ? '1px solid rgba(0, 0, 0, 0.85)' : null }" @click="() => changeMode(item.value)">
        <span :style="{color: item.value === currentMode ? '#3f73ff' : 'rgba(0, 0, 0, 0.85)'}">{{item.label}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import ReportManage from "./components/ReportManage";
import IndicatorManage from "./components/IndicatorManage";
import DimensionManage from "./components/DimensionManage";
import ContentManage from "./components/ContentManage";
import AssetsGroup from "./components/AssetsGroup"
import { mapActions } from "vuex";

export default {
  components: {
    ReportManage,
    IndicatorManage,
    DimensionManage,
    ContentManage,
    AssetsGroup
  },
  data() {
    return {
      tabName: "5",
      modeArr: [{
        value: 1,
        label: '资产明细'
      }, {
        value: 2,
        label: '资产分组'
      }],
      currentMode: 1,
      tabName2: '17',
    };
  },
  methods: {
    onTabChange(index) {
      this.setDataAuthTab(index);
      this.getDomainResourceList();
    },
    ...mapActions("authorizationManagement", [
      "setDataAuthTab",
      "getDomainResourceList",
    ]),
    changeMode(mode) {
      this.currentMode = mode
      if (mode === 2) {
        this.onTabChange('17')
      }
    }
  },
};
</script>

<style lang="less" scoped>
.dataAuthSetting-container {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  position: relative;
  // 覆盖外层组件authorizationManagement的tab样式
  /deep/ .dataAuthTabWrapper {
    .ivu-tabs-nav {
      .ivu-tabs-tab {
        height: 40px;
        line-height: 40px;
        padding: 0 31px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 400;
        background: #fff;
        border: 1px solid #dbdbdb;
        border-bottom-color: #3f73ff;
        &.ivu-tabs-tab-active {
          color: #3f73ff;
          font-weight: 600;
          border-color: #3f73ff !important;
          border-bottom: none;
        }
      }
    }

    .ivu-tabs-nav-next,
    .ivu-tabs-nav-prev {
      line-height: 40px;
    }
    .ivu-tabs-bar {
      border-bottom: 1px solid #3f73ff;
      margin-bottom: 6px;
      .ivu-tabs-nav-container {
        height: 40px;
      }
    }
  }
  .mode-wrap{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    .mode-item{
      padding: 0 5px;
      cursor: pointer;
    }
  }
}
</style>
