<template>
  <div class="textarea-wrapper" @dblclick="onEditTextArea">
    <div class="text-area-butt" v-show="chartData.data.configData.previewEdit && !editable && showTextAreaEdit">
      <div class="img-buttons">
        <div v-show="chartData.inEditStatues" class="user-select-none but" @click="e => cancelEditTextarea(e, chartData)">取消</div>
        <div v-show="!chartData.inEditStatues" style="color: #3f73ff" class="user-select-none but" @click="e => editTextarea(e, chartData)">编辑</div>
        <div v-show="chartData.inEditStatues" style="color: #3f73ff" class="user-select-none but" @click="e => confirmEditTextarea(e, chartData)">
          确认
        </div>
      </div>
    </div>
    <div
      :id="chartId"
      :style="{
        display: 'table',
        backgroundColor: StyleConfig.backgroundColor,
        borderRadius: StyleConfig && StyleConfig.borderRadius ? StyleConfig.borderRadius + 'px' : '0px',
        borderColor: StyleConfig && StyleConfig.borderColor ? StyleConfig.borderColor : '',
        borderStyle: StyleConfig && StyleConfig.borderStyle ? StyleConfig.borderStyle : 'none',
        borderWidth: StyleConfig && StyleConfig.borderWidth ? StyleConfig.borderWidth + 'px' : '0px'
      }"
      class="textarea-container"
      @dblclick="onEditTextArea"
    >
      <div
        :style="{
          textAlign: StyleConfig && StyleConfig.textAlign ? StyleConfig.textAlign : 'left',
          lineHeight: StyleConfig && StyleConfig.lineHeight ? StyleConfig.lineHeight : '20px',
          display: 'table-cell',
          'vertical-align': StyleConfig.verticalAlign,
          cursor: isViewState ? 'default' : ableEdit ? 'text' : 'move'
        }"
        :id="textareaId"
        class="textarea-body"
      ></div>
    </div>
    <FilterData
      @mousemove="handleSettingChecked"
      :openModal="filterData.openModal"
      :conditionData="filterData.conditionData"
      :currentChart="chartData"
      :isCreate="true"
      @fa-close="handleCloseModal"
      @fa-ok="handleSubmitCondition"
    />
    <TextareaIndicators
      @mousemove="handleSettingChecked"
      ref="TextareaIndicators"
      v-if="dialog.showIndicators"
      :width="'200px'"
      :left="dialog.left"
      :top="dialog.top"
      :height="dialog.height + 'px'"
      :selectData="dialog.indicators"
      :selectItemIndex="dialog.selectItemIndex"
      @onSelectIndicator="onSelectIndicator"
    />
  </div>
</template>

<script>
  import { updateTextareaContent } from '@/api/report'
  import BigNumber from 'bignumber.js'
  import FilterData from '@/view/report/chartDataConfig/common/FilterData'
  import TextareaIndicators from './TextareaIndicators'
  import BaseChart from '@/view/report/chart/basics/BaseChart'
  import _, { isNumber } from 'lodash'
  import { formatCompareData, formatData } from '../../../../utils/BusinessDataHandleUtil'
  import { deepCopy } from '../../../../utils/common'
  import RichText from '../../../../libs/richText.js'
  import { mapActions, mapGetters } from 'vuex'

  const INDICATOR_VALUE_KEY = '#' // 获取指标值快捷键
  const INDICATOR_NAME_KEY = '@' // 获取指标名快捷键
  const INDICATOR_RATE_TYPE = 1
  const NUM_LABEL = '123'
  const PERCENT_LABEL = '%'
  export default {
    name: 'ComplexTextarea',
    extends: BaseChart,
    components: {TextareaIndicators, FilterData},
    props: {
      chartData: {
        type: Object,
        default: null
      },
      isActive: {
        type: Boolean,
        default: null
      },
      chartId: {
        type: String,
        default: null
      },
      propertyData: {
        type: Object,
        default: null
      },
      propertyStyle: {
        type: Object,
        default: null
      },
      editable: {
        type: Boolean,
        default: false
      },
      defaultShow: {
        type: Boolean,
        default: true
      },
      showTextAreaEdit: {
        type: Boolean,
        default: false
      },
      isViewState: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        filterData: {
          openModal: false,
          conditionData: []
        },
        dialog: {
          height: 200,
          indicators: [], // 可选指标数据源
          selectItemIndex: 0, // # 所在的index
          left: '0', // 指标选择面板显示的位置
          top: '0', // 指标选择面板显示的位置
          showIndicators: false, // 指标选择面板显隐控制变量
        },
        ableEdit: false, // 文本框是否处于可编辑态
        textareaId: 'id_' + new Date().getTime(), // 当前文本框容器的domId
        selectedContent: void 0,
      }
    },
    mounted() {
      this.readyIndicators = {};
      this.indicatorCopy = {
        indicators: [],
        html: null,
        selectIndicators: [], // 当前文本框中选择指标获取对应指标值后保存的所有指标对象过滤
        allIndicatorList: [],
        selectIndicatorsAll: [] // 当前文本框中选择指标获取对应指标值后保存的所有指标对象所有
      }
      this.templateIndicator = []//用于存储指标和环比同比的关系
      this.refreshSysIndicators()
      this.windowHeight = document.documentElement.clientHeight;
      this.init();
      this.getIndicators()
      this.showEditBtn = this.showTextAreaEdit
    },
    methods: {
      ...mapActions(['setChartDeactivation', 'setCurrentSelectChart']),
      init() {
        this.allIndicatorList = []
        this.selectIndicators = [] // 当前文本框中选择指标获取对应指标值后保存的所有指标对象过滤
        this.selectIndicatorsAll = [] // 当前文本框中选择指标获取对应指标值后保存的所有指标对象所有
        this.style = {textIndent: 0}
        this.closeAfterData = null
        this.labelAttrMap = {
          'u': {key: 'underline', val: 'underline'},
          'i': {key: 'fontStyle', val: 'italic'},
          'b': {key: 'fontWeight', val: 'bolder'},
          'strike': {key: 'strikeThrough', val: 'line-through'},
          'face': {key: 'fontFamily'},
          'color': {key: 'color'},
          'font-size': {key: 'fontSize'}
        }
        this.commandMap = {
          fontSize: 'fontSize',
          fontFamily: 'fontName',
          color: 'foreColor',
          fontWeight: 'bold',
          fontStyle: 'italic',
          underline: 'underline',
          strikeThrough: 'strikeThrough',
          alignRight: 'justifyRight',
          alignCenter: 'justifyCenter',
          alignLeft: 'justifyLeft',
          outdent: 'outdent',//缩进
        }
        this.selection = window.getSelection();
        const el = document.getElementById(this.textareaId);
        let richText = new RichText(el,);
        const mouseKeyEvents = {
          mouseUp: this.onMouseUp,
          mouseDown: null,
          keyUp: this.textareaKeyUp,
          keyDown: this.textareaKeyDown,
          click: this.onClick,
          dbClick: null,
          onFocus: this.textareaFocus,
        }

        this.textareaInitParam = {
          fontDefaultVal: {
            fontSize: 0,
            color: '',
            fontFamily: '',
            underline: '',
            strikeThrough: '',
            fontSpace: 0,
            fontWeight: '',
            fontStyle: '',
            textDecoration: '',
          },//配置设置栏字体的默认展示样式，不配置是没有展示样式的
          styleSwitch: true,//是否获取选择区域的公共样式
          atomicAttribute: {
            atomicFlag: {key: 'atomic', val: 'true'}, tag: 'span', replaceFlag: 'atomic'
          },
          // placeholder只有再创建页面显示
          placeholder: this.editable ? '双击输入内容,支持shift+#快捷键选择指标值,shift+@快捷键选择指标名' : '',
          deleteAtomic: this.deleteAtomic,//如果配置了dialogConfig属性，则会按照其相关约束来获取删除掉的原子标签
          getSelectedStyleConfig: this.setCurrentStyle,//开启获取样式的开关则会在鼠标抬起的时候调用此方法
          useExternalSettingBar: true,//是否使用外部设置栏，如果用了外部设置栏，则要配合 setCurrentStyle 方法使用
          dialogConfig: {
            external: true,
            conditions: [{
              keyCode: 49,
              //搜狗中文下shift+@/#; @ => Digit2,# => Digit3
              sGCNCode: 'Digit3',
              specialKey: 'shift',
              char: '#',//触发条件
              action: this.specialKeyDown,
            }, {
              keyCode: 50,
              sGCNCode: 'Digit2',
              specialKey: 'shift',
              char: '@',//触发条件
              action: this.specialKeyDown,
            }]
          }
        };
        richText.init(this.textareaInitParam)
        richText.mountEvent(mouseKeyEvents)
        this.richText = richText
        el.addEventListener('paste', function (e) {
          let content = el.innerHTML
          if (content == '' && !content) return ''
          let str = content;
          str = str.replace(/<xml>[\s\S]*?<\/xml>/ig, '');
          str = str.replace('/(\\n|\\r| class=(")?Mso[a-zA-Z]+(")?)/g','');
          let reg = new RegExp('<!--(.*?)-->','g')
          str = str.replace(reg,'');
          el.innerHTML = str;
        })
      },
      cancelEditTextarea(e, chart) {
        e.stopPropagation()
        this.setCurrentSelectChart({})
        this.setCanEdit(false)
        chart.data = this.chartCopy.data
        chart.style = this.chartCopy.style
        chart.isActive = this.chartCopy.isActive
        this.chartCopy = {}
        this.recoverCopy(chart)
        chart.inEditStatues = false
      },
      editTextarea(e, chart) {
        e.stopPropagation()
        e.preventDefault()
        this.chartCopy = deepCopy(chart)
        this.$set(chart, 'inEditStatues', true)
        this.setCanEdit(true)
        this.setCopy(this.chartCopy)
        this.$nextTick(() => {
            this.setCurrentSelectChart({chart})
          }
        )
      },
      confirmEditTextarea(e, chart) {
        e.stopPropagation()
        e.preventDefault()
        this.setCanEdit(false)
        this.setInnerHtmlAmdIndicators()
        const saveChart = this.buildViews(chart, chart.chartId.replace('ComplexTextarea_', ''));
        //保存修改
        this.commitData(saveChart)
        chart.inEditStatues = false
      },

      buildViews(chart, viewsId) {
        chart = this.buildChartData(deepCopy(chart))
        chart.id = viewsId
        return chart
      },
      //用于预览页面的复制数据
      setCopy(data) {
        this.indicatorCopy.templateIndicator = deepCopy(this.templateIndicator)
        this.indicatorCopy.selectIndicators = deepCopy(this.selectIndicators)
        this.indicatorCopy.allIndicatorList = deepCopy(this.allIndicatorList)
        this.indicatorCopy.selectIndicatorsAll = deepCopy(this.selectIndicatorsAll)
      },
      //根据肤质数据回显
      recoverCopy(data) {
        this.propertyData.configData = data.data.configData;
        this.propertyData.innerHtml = data.data.innerHtml;
        this.selectIndicators = this.indicatorCopy.selectIndicators;
        this.indicatorCopy.selectIndicators = null
        this.allIndicatorList = this.indicatorCopy.allIndicatorList;
        this.indicatorCopy.allIndicatorList = null
        this.selectIndicatorsAll = this.indicatorCopy.selectIndicatorsAll
        this.indicatorCopy.selectIndicatorsAll = null
        this.templateIndicator = this.indicatorCopy.templateIndicator;
        this.indicatorCopy.templateIndicator = null
        this.initFetchData()
      },
      onMouseUp(e) {
        if (this.editable && this.ableEdit) {
          this.textareaData = this.getSelectIndicators();
        }
      },
      checkOpenDialogBox(event) {
        const conditions = this.textareaInitParam.dialogConfig.conditions;
        const keyCode = event.keyCode;
        const code = event.code;
        for (let i = 0; i < conditions.length; i++) {
          const condition = conditions[i];
          if (event[condition.specialKey] && (keyCode === condition.keyCode || code === condition.sGCNCode)) {
            return condition
          }

        }
      },
      textareaKeyDown(e) {
        if (!e.shift && !this.checkOpenDialogBox(e)) {
          if (this.dialog.showIndicators || this.filterData.openModal) {
            this.readyIndicators.currentIndicator = null
            this.closeAfterData.result = null
            this.filterData.openModal = false;
            this.dialog.showIndicators = false
          }
        }
        if (this.dialog.showIndicators) this.calculateDialogPosition()
      },
      textareaKeyUp(e) {
        if (!this.ableEdit) return
        //删除
        if (e.keyCode === 8) {
          if (this.dialog.showIndicators || this.filterData.openModal) {
            this.readyIndicators.currentIndicator = null
            this.closeAfterData.result = null
            this.filterData.openModal = false;
            this.dialog.showIndicators = false
          }
          const data = this.textareaData;
          if (!!data && !!data.delIndicators && !!data.delIndicators.length && !!data.selHtml) {
            this.selectIndicators = data.indicators;
            this.selectIndicatorsAll = data.allIndicators
            this.propertyData.configData.indicators = this.selectIndicators;
            data.delIndicators.forEach(indicator => {
              this.deleteAtomic(null, indicator, true)
            })
          }
        } else {
          const condition = this.changeIndicatorType(e);
          if (condition) this.closeAfterData.condition.char = condition.char
        }
        if (this.dialog.showIndicators) this.calculateDialogPosition()

        this.textareaData = undefined
        this.propertyData.innerHtml = this.richText.getInnerHtml();
        this.setDefaultShow();
      },

      textareaFocus() {
        this.setDefaultShow()
      },
      changeIndicatorType(e) {
        const shift = e.shiftKey;
        if (shift) {
          const keyCode = e.keyCode;
          const code = e.code;
          const openConditions = this.textareaInitParam.dialogConfig.conditions
          const len = openConditions.length;
          for (let i = 0; i < len; i++) {
            const condition = openConditions[i];
            if (condition.sGCNCode === code || condition.keyCode === keyCode) return condition
          }
        }
      },
      setCurrentStyle(style) {
        this.$set(this.StyleConfig, 'fontStyle', deepCopy(style.fontItem));
        this.$set(this.StyleConfig, 'textIndent', style.textIndent);
      },
      getSelectIndicators() {
        const selHtml = this.richText.getSelectedHtml();
        const wrapperDiv = document.createElement('div');
        wrapperDiv.innerHTML = selHtml;
        const domIds = []
        const delIndicators = []
        const indicatorIds = []
        this.getDomIndicators(wrapperDiv, domIds, indicatorIds);
        const indicator = deepCopy(this.selectIndicators);
        const all = deepCopy(this.selectIndicatorsAll);
        domIds.forEach((indicatorDomId) => {
          const indexReal = all.findIndex(_item => _item.indicatorDomId == indicatorDomId);
          delIndicators.push(all[indexReal])
          all.splice(indexReal, 1);
        })
        //去重
        const common = [];
        indicatorIds.forEach(item => {
          if (!common.includes(item)) {
            common.push(item)
          }
        })
        common.forEach(indicatorId => {
          const findOne = all.find(item => item.id == indicatorId);
          if (!findOne) {
            const index = indicator.findIndex(item => item.id === indicatorId);
            if (index > -1) {
              indicator.splice(index, 1)
            }
          }
        })
        return {
          allIndicators: all,
          delIndicators: delIndicators,
          indicators: indicator,
          selHtml
        }
      },
      getDomIndicators(el, domIds = [], indicatorIds = []) {
        if (!el || el.nodeType !== 1) return
        let indicatorDomId = el.getAttribute('id');
        let indicatorId = el.getAttribute('indicatorId');
        if (indicatorDomId) {
          indicatorIds.push(indicatorId)
          domIds.push(indicatorDomId);
        }
        const children = el.childNodes;
        for (let i = 0; i < children.length; i++) {
          const child = children[i];
          this.getDomIndicators(child, domIds, indicatorIds)
        }
      },
      deleteAtomic(el, indicator, ignoreSelectIndicator) {
        let domId = void 0;
        let indicatorId = void 0;
        if (indicator) {
          domId = indicator.indicatorDomId;
          indicatorId = indicator.id;
        } else {
          domId = el.getAttribute('id');
          indicatorId = el.getAttribute('indicatorId');
        }
        if (!domId || !indicatorId) return
        const textareaDom = this.richText.editorBox
        // 更新所有指标环比，同比描述
        const indicatorElementArr = textareaDom.querySelectorAll(`span[belongToDom${domId}='${domId}']`);
        if (indicatorElementArr) {
          const len = indicatorElementArr.length
          for (let j = 0; j < len; j++) {
            indicatorElementArr[j].remove();
          }
        }
        this.delTemplateIndicatorByIndicatorDomId(domId)
        //选中删除的时候是会先处理指标，如果不是选中删除的话是不会处理指标的，
        //下面就是选中删除的时候就不需要再次处理，这种设计有问题，应当统一处理
        if (!ignoreSelectIndicator) {
          let i = this.selectIndicatorsAll.findIndex(item => item.indicatorDomId === domId)
          if (i > -1) {
            this.selectIndicatorsAll.splice(i, 1)
          }
          i = this.selectIndicatorsAll.findIndex(item => item.id == indicatorId);
          if (i <= -1) {
            const realI = this.selectIndicators.findIndex(item => item.indicatorDomId === domId)
            this.selectIndicators.splice(realI, 1);
            //这个只是向上级父组件传值
            this.$set(this.chartData.data.configData, 'indicators', this.selectIndicators)
          }
        }
      },

      //预览页面的修改保存
      commitData(views) {
        updateTextareaContent(views).then(res => {
          const state = res.data.state
          if (state && state === "success") {
            this.$Message.info('修改成功！')
          } else {
            this.$Message.error('修改失败！')
          }
        })
      },
      //将文本框的html 和 指标保存到本地缓存里
      setInnerHtmlAmdIndicators() {
        this.propertyData.innerHtml = this.richText.getInnerHtml();
        this.propertyData.configData.indicators = this.selectIndicators;
      },
      getSelection() {
        let selection = null
        if (window.getSelection) {
          selection = window.getSelection();
        } else if (document.selection) {
          selection = document.selection.createRange();
        }
        return selection
      },
      getRange() {
        const selection = this.getSelection()
        if (selection.rangeCount > 0)
          return selection.createRange ? selection.createRange() : selection && selection.rangeCount > 0 ? selection.getRangeAt(0) : null;
        else return null;
      },

      calculateDialogPosition() {
        const range = this.getRange();
        let clientRect = range.getBoundingClientRect();
        let y = clientRect.y;
        if (clientRect.y + 200 > this.windowHeight) {
          y = y - 220
        }
        this.dialog.left = `${clientRect.x + 10}px`;
        this.dialog.top = `${y + 20}px`;
      },
      //指标弹框列表
      specialKeyDown(closeAfterData) {
        this.closeAfterData = closeAfterData
        this.dialog.showIndicators = true
      },
      /**
       * 鼠标双击文本框设置为可编辑态
       * **/
      onEditTextArea() {
        if (this.editable) {
          this.ableEdit = true
          this.$emit('changeDefaultShow', false);
          this.$nextTick(() => {
            this.richText.setEditAble(this.ableEdit)
            this.richText.recoverSelect()
          })
        }
      },

      setDefaultShow() {
        if (!this.richText.contentIsNotEmpty()) {
          this.$emit('changeDefaultShow', true)
        } else {
          this.$emit('changeDefaultShow', false)
        }
      },
      setCanEdit(param) {
        this.ableEdit = param
        this.richText.setEditAble(param)
        this.richText.recoverSelect()
      },
      showSelectRange() {
        const selection = this.getSelection();
        selection.removeAllRanges()
        if (this.ableEdit) {
          this.$nextTick(() => this.richText.recoverSelect())
          // this.selection.removeAllRanges();
          // this.selection.addRange(this.currentRange);
        }
      },

      /**
       * 过滤掉相同指标
       */
      filterSameIndicator(indicators = []) {
        const result = {}
        const diffIndicators = []
        indicators.forEach(indicator => {
          if (!result[indicator.id]) {
            result[indicator.id] = indicator
          }
        })
        for (const key in result) {
          diffIndicators.push(result[key])
        }
        return diffIndicators;
      },
      /**
       * 刷新指标日环比值
       * **/
      refreshIndicatorsDayChainRatio(ratioIndicators, type) {
        if (!ratioIndicators || !ratioIndicators.length) return
        //是否是同比
        const isTB = (type === 'same');
        const textareaDom = this.richText.editorBox
        if (!ratioIndicators || !ratioIndicators.length) return;
        ratioIndicators = this.filterSameIndicator(ratioIndicators);
        // 构造接口查询参数
        let useSameCompare = '';
        const indicator = ratioIndicators.map(item => {
          //年同比，月同比的标识符
          if (item.yTYRatioDisplayPeriod && isTB) useSameCompare = item.yTYRatioDisplayPeriod
          return {
            id: item.id,
            type: item.type,
            useCompare: item.useCompare,
            useSameCompare: item.useSameCompare
          }
        });
        if (isTB) {
          //分为mom月同比 yoy年同比
          if (useSameCompare === 'month') useSameCompare = 'mom'
          else useSameCompare = 'yoy'
        }
        const param = {
          propertyData: {indicator},
          sameCompareType: useSameCompare,
        }
        this.doQueryData(param, (res) => {
          const remoteData = res.data;
          const allIndicators = remoteData.headers;
          const compareValueArr = _.get(res, 'data');
          let currentData = _.get(compareValueArr, ['currentData', '0']);
          let yoyData = _.get(compareValueArr, [isTB ? 'yoyData' : 'momData', '0']);
          allIndicators.forEach((selectIndicatorId, index) => {
            //模板 [上一周期数据,当前周期数据]
            const sameArr = [yoyData[index] || 0, currentData[index] || 0];
            let selectIndicator = _.find(ratioIndicators, item => item.id * 1 == selectIndicatorId)
            if (!selectIndicator) {
              selectIndicator = this.findIndicatorInSelect(selectIndicatorId)
            }
            this.doRefresh(selectIndicator, sameArr, useSameCompare)
          })
          this.propertyData.innerHtml = textareaDom.innerHTML;
        })
      },
      delTemplateIndicatorByIndicatorIdAndType(indicatorId, type) {
        const allTemplateIndicators = this.templateIndicator;
        const tempLen = allTemplateIndicators.length;
        for (let i = tempLen - 1; i >= 0; i--) {
          const template = allTemplateIndicators[i];
          if (template.type === type && template.indicatorId == indicatorId) {
            allTemplateIndicators.splice(i, 1)
          }
        }
      },
      delTemplateIndicatorByIndicatorDomId(domId) {
        const allTemplateIndicators = this.templateIndicator;
        const tempLen = allTemplateIndicators.length;
        for (let i = tempLen - 1; i >= 0; i--) {
          const template = allTemplateIndicators[i];
          if (template.indicatorDomId == domId) {
            allTemplateIndicators.splice(i, 1)
          }
        }
      },
      removeAllCompareHtml(delIndicators = [], type) {
        if (!delIndicators || !delIndicators.length) return;
        type = type ? type : 'compare';
        const textareaDom = this.richText.editorBox
        delIndicators.forEach(item => {
          let indicatorEls = textareaDom.querySelectorAll(`span[belongToIndicator${type}${item.id}]`);
          const len = indicatorEls.length;
          for (let i = 0; i < len; i++) {
            if (indicatorEls[i])
              indicatorEls[i].remove();
          }
          this.delTemplateIndicatorByIndicatorIdAndType(item.id, type)
        })
      },
      doRefresh(ratioIndicator, valArr, useSameCompare) {
        const desc = useSameCompare ? (useSameCompare === 'mom' ? '月同比' : '年同比') : '环比'
        const textareaDom = this.richText.editorBox
        // 更新所有指标同比描述
        const indicatorElementArr = textareaDom.querySelectorAll(`span[indicatorId='${ratioIndicator.id}']`)
        _.forEach(indicatorElementArr, indicatorElement => {
          this.doInsertAndSetValue(ratioIndicator, valArr, indicatorElement, desc)
        })
      },
      //计算其值并插入指标值到文本框
      doInsertAndSetValue(indicator, compareValueArr, indicatorElement, desc) {
        //compareValueArr:第一个是上一周期的值，第二个是当前周期的值;
        // 环比,同比内容显示模板：环比/月同比/年同比“+“上涨/下跌xxxxx;
        // 已经有了环比同比就需要更新
        const value = this.createIndicatorValue(compareValueArr, desc, indicator)
        const domId = indicatorElement.getAttribute('id');
        const templateInfo = this.checkHasTheTemplate(domId, desc !== '环比' ? 'same' : '');
        if (templateInfo) {
          //去刷新同比环比的值
          this.toUpdateIndicatorTemplateValue(templateInfo, value)
        } else {
          this.insertAfter(this.createIndicatorTemplateEl(indicatorElement, value, desc), indicatorElement)
        }
      },

      createIndicatorValue(compareValueArr, str, item) {
        const config = {
          numberUnit: item.unit ? item.unit : 'original',
          thousandth: !!item.format,
          showType: 0,
          decimalDigits: item.precision
        }
        const chainRatioDisplayForm = (str === '环比') ? item.chainRatioDisplayForm : item.yTYRatioDisplayForm
        if (chainRatioDisplayForm === PERCENT_LABEL) {
          config.showType = INDICATOR_RATE_TYPE
        }

        //当前周期
        const resRatioValue = compareValueArr && compareValueArr.length && compareValueArr[1]
        let currentValue = resRatioValue ? isNumber(resRatioValue) ? resRatioValue : 0 : 0
        //上一周期
        const resValue = compareValueArr && compareValueArr.length && compareValueArr[0]
        let lastValue = resValue ? isNumber(resValue) ? resValue : 0 : 0// 当前交易日值（T-1）；
        let resultValue = null
        if (item.showType === INDICATOR_RATE_TYPE) { // 比率类型指标
          if (chainRatioDisplayForm === NUM_LABEL) {
            // 环比值直接相减即可
            config.showType = INDICATOR_RATE_TYPE
            resultValue = formatData(BigNumber(currentValue).minus(lastValue), config)
          } else {
            resultValue = formatCompareData(currentValue * 100, lastValue * 100, config)
          }
        } else { // 数值类型指标
          resultValue = formatCompareData(currentValue, lastValue, config)
        }

        let offset = BigNumber(currentValue).minus(lastValue).toNumber()
        let suffix = offset > 0 ? '增加'  : offset < 0 ? '减少' : '无变化'
        if (resultValue !== '--' && offset < 0) {
          resultValue = resultValue.substring(1)
        }
        // console.log('chainRatioDisplayForm', chainRatioDisplayForm)
        if (chainRatioDisplayForm === NUM_LABEL) {
          config.showType = INDICATOR_RATE_TYPE
          resultValue += this.getUnit(item.unit)
        }

        return `${suffix}${offset === 0 ? '' : resultValue}`
      },

      createIndicatorTemplateEl(indicatorElement, value, templatePrefix) {
        const domId = indicatorElement.getAttribute('id')
        const mappingItem = {
          type: templatePrefix === '环比' ? 'compare' : 'same',
          domTemplatePrefix: 'belongToDom',
          domIndicatorPrefix: 'belongToIndicator',
          indicatorId: indicatorElement.getAttribute('indicatorId'),
          indicatorDomId: domId
        }
        this.templateIndicator.push(mappingItem)
        const wrapper = document.createElement('span')
        const prefix = document.createElement('span')
        const indicatorSpan = document.createElement('span');
        wrapper.appendChild(prefix)
        wrapper.appendChild(indicatorSpan)
        indicatorSpan.setAttribute(mappingItem.domTemplatePrefix + domId, domId)
        indicatorSpan.setAttribute(mappingItem.domTemplatePrefix + mappingItem.type + domId, domId)
        indicatorSpan.setAttribute(mappingItem.domIndicatorPrefix + mappingItem.indicatorId, mappingItem.indicatorId)
        indicatorSpan.setAttribute(mappingItem.domIndicatorPrefix + mappingItem.type + mappingItem.indicatorId, mappingItem.indicatorId)
        indicatorSpan.setAttribute('atomic', 'true')
        indicatorSpan.innerText = value
        prefix.innerHTML = ',' + templatePrefix + '&nbsp;'
        return wrapper;
      },

      toUpdateIndicatorTemplateValue(templateInfo, value) {
        const param = `${templateInfo.domTemplatePrefix}${templateInfo.type}${templateInfo.indicatorDomId}`;
        const templateEl = this.richText.editorBox.querySelectorAll(`span[${param}]`)
        const len = templateEl.length
        for (let i = 0; i < len; i++) {
          this.recoverAtomicValue(templateEl[i], value)
        }
      },

      checkHasTheTemplate(domId, type) {
        type = type ? type : 'compare'
        const templateIndicator = this.templateIndicator
        const len = templateIndicator.length
        for (let i = 0; i < len; i++) {
          const item = templateIndicator[i];
          if (item.indicatorDomId == domId && type === item.type) {
            return item;
          }
        }
        return false;
      },
      insertAfter(newElement, targetElement) {
        let parent = targetElement && targetElement.parentNode
        if (parent && parent.lastChild == targetElement) {
          parent.appendChild(newElement)
        } else {
          // 环比描述显示在枚举单位后面
          // 判断指标值相邻节点文字是否是“元”
          const nextSibling1 = targetElement.nextSibling
          if (this.$route.query.openType) { // 报告查看编辑
            if (nextSibling1 && nextSibling1.textContent.trim() === '元') {
              parent && parent.insertBefore(newElement, nextSibling1.nextSibling)
            } else {
              // 在添加新的环比处理逻辑同报告创建
              const nextSibling2 = nextSibling1.nextSibling
              if (nextSibling2 && nextSibling2.textContent.trim() === '元') {
                parent && parent.insertBefore(newElement, nextSibling2.nextSibling)
              } else {
                parent && parent.insertBefore(newElement, targetElement.nextSibling)
              }
            }
          } else { // 报告创建
            const nextSibling2 = nextSibling1.nextSibling
            if (nextSibling2 && nextSibling2.textContent.trim() === '元') {
              parent && parent.insertBefore(newElement, nextSibling2.nextSibling)
            } else {
              parent && parent.insertBefore(newElement, targetElement.nextSibling)
            }
          }
          if (parent.lastChild.textContent.trim()) {
            parent.append(document.createTextNode('\u00A0'))
          }
        }
      },
      //关闭指标列表
      handleCloseModal() {
        this.filterData.openModal = false
      },
      shouldOpenConditionFrame(indicator) {
        if (indicator.conditionGroups) {
          const conditionGroups = indicator.conditionGroups;
          const groupLen = conditionGroups.length;
          for (let i = 0; i < groupLen; i++) {
            const group = conditionGroups[i];
            const conditions = group.conditions;
            const conditionLen = conditions.length;
            for (let j = 0; j < conditionLen; j++) {
              const condition = conditions[j];
              if (condition.value.startsWith('2|') || condition.value.startsWith('4|')) return true;
            }
          }
        } else return false
      },
      /**
       * 选择指标处理：#获取指标值；@获取指标名
       * **/
      onSelectIndicator(item) {
        this.refreshSysIndicators()
        this.ableEdit = true
        let indicatorDomId = new Date().getTime() + '_' + this.selectIndicators.length
        const char = this.closeAfterData.condition.char;
        if (char === INDICATOR_VALUE_KEY) {
          if (!this.shouldOpenConditionFrame(item)) {
            // 查询选择指标的条件指标值
            this.selectIndicatorVal(indicatorDomId, char, item);
          } else {
            this.dialog.showIndicators = false
            // id, conditionGroups, businessModelId, title, type
            let param = {
              id: item.id,
              conditionGroups: item.conditionGroups,
              businessModelId: item.businessModelId,
              title: item.label,
              type: item.type
            }
            this.readyIndicators.currentIndicator = item;
            this.filterData.openModal = true
            this.filterData.conditionData = [param]
          }
        } else if (char === INDICATOR_NAME_KEY) {
          this.closeAfterData.result = {
            atomicEl: this.createAtTag(char, item, indicatorDomId)
          }
          this.dialog.showIndicators = false
          this.closeAfterData = null
        }
      },
      //指标值需要输入变量时就弹出变量框给输值
      handleSubmitCondition() {
        this.filterData.openModal = false
        let indicatorDomId = new Date().getTime() + '_' + this.selectIndicators.length
        const char = this.closeAfterData.condition.char;
        const currentIndicator = this.readyIndicators.currentIndicator;
        this.readyIndicators.currentIndicator = null
        this.selectIndicatorVal(indicatorDomId, char, currentIndicator)
      },

      setAndGetIndicator(item, indicatorDomId) {
        let indicator = {
          indicatorDomId,
          ...item,
          unit: 'original',
          format: false,
          chainRatioDisplayForm: item.showType === INDICATOR_RATE_TYPE ? PERCENT_LABEL : NUM_LABEL,
          precision: 2
        }
        this.selectIndicatorsAll.push(indicator);
        let findOne = this.selectIndicators.find(one => one.id === item.id);
        if (!findOne) {
          findOne = indicator
          // 更新选择的指标数组并设置默认数据设置值（单位、格式、环比格式）
          this.selectIndicators.push(indicator);
        }
        this.propertyData.innerHtml = this.richText.getInnerHtml();
        return findOne;
      },

      handleSettingChecked() {
        this.setChartDeactivation(true)
      },
      createAtTag(keyName, item, indicatorDomId, indicatorValue) {
        let node = document.createElement('span')
        if (keyName === INDICATOR_VALUE_KEY) {
          node.setAttribute('atomic', "true");
          node.className = 'keyWord';
          node.setAttribute('indicatorId', item.id)
          node.setAttribute('type', item.type)
          node.setAttribute('id', indicatorDomId)
          node.style.color = 'red';
        } else {
          node.setAttribute('nameId', indicatorDomId)
          // 后期指标名称更新保存入库的名称回显后需要同步更新
          node.setAttribute('data-id', item.id)
          node.setAttribute('data-name', 'indicatorname')
        }
        node.innerText = indicatorValue ? indicatorValue : item.label
        return node;
      },
      /**
       * 获取系统指标
       */
      getIndicators() {
        let indicators = this.dialog.indicators
        if (indicators.length <= 0) {
          this.dialog.indicators = this.buildIndicators(deepCopy(this.indicatorGroupTreeData));
          this.initFetchData();
        }
      },
      buildIndicators(indicatorData) {
        if (!indicatorData || !indicatorData.length) return
        let indicators = []
        indicators = indicatorData.filter(item => item.data?.length > 0).map(item => {
          return {
            id: item.id,
            name: item.name,
            indicators: item.data.map(_item => {
              return {
                ..._item,
                id: _item.id,
                showType: _item.showType,
                type: _item.type,
                label: _item.name,
                conditionGroups: _item.conditionGroups,
                indicatorType: _item.type,
                __groupId: _item.groupId,
                calculateType: _item.calculateType,
                businessModelPropertyId: _item.businessModelPropertyId,
                businessModelId: _item.businessModelId,
              }
            })
          }
        })
        const root = {
          id: 'itemidroot',
          name: '指标组',
          indicators: indicatorData.filter(item =>
            item.groupId === "-1"
          ).map(item => {
            return {
              ...item,
              id: item.id,
              showType: item.showType,
              type: item.type,
              label: item.name,
              conditionGroups: item.conditionGroups,
              indicatorType: item.type,
              __groupId: item.groupId,
              calculateType: item.calculateType,
              businessModelPropertyId: item.businessModelPropertyId,
              businessModelId: item.businessModelId,
            }
          })
        }
        return [root, ...indicators]
      },
      initFetchData() {
        // 更新系统最新的指标信息
        this.refreshSysIndicators()
        // 绑定html片段
        this.refreshHtml()
        // 刷新指标数据
        this.refreshData1()
      },
      refreshSysIndicators() {
        const configData = this.propertyData.configData
        this.templateIndicator = configData.templateIndicator = configData.templateIndicator ? configData.templateIndicator : [];
        this.selectIndicators = configData.indicators = configData.indicators ? configData.indicators : [];
      },
      getNewIndicator(oldIndicator) {
        let newItem = null
        const indicators = this.dialog.indicators
        const len = indicators.length
        for (let i = 0; i < len; i++) {
          const indicatorGroup = this.dialog.indicators[i]
          const findOne = _.find(indicatorGroup.indicators, indicator => indicator.id === oldIndicator.id)
          if (findOne) {
            newItem = _.assign(oldIndicator, findOne)
            break
          }
        }
        return newItem
      },
      /**
       * 更新html片段
       */
      refreshHtml() {
        // 绑定html片段
        if (this.propertyData.innerHtml) {
          // 如果系统指标名称被修改需要更新html中的指标名称
          const textareaDom = document.createElement("div")
          textareaDom.innerHTML = this.propertyData.innerHtml
          const indicatorNameElementArr = textareaDom.querySelectorAll(`span[dataname='indicatorname']`)
          _.forEach(indicatorNameElementArr, indicatorNameElement => {
            const indicatorId = indicatorNameElement.getAttribute("dataid")
            let newItem = this.getNewIndicator({id: indicatorId})
            if (newItem) {
              indicatorNameElement.innerHTML = newItem.label
            }
          })
          this.richText.setRecoverHtml({recoverHtml: textareaDom.innerHTML})
          this.recoverSelectIndicatorCopy(this.richText.editorBox)
        }
      },
      buildChartData(item) {
        let indicatorData = item.data.indicator
        item.data.configData['indicatorData'] = indicatorData
        return {
          x: item.x,
          y: item.y,
          chartLevel: item.level,
          width: item.width,
          height: item.height,
          defaultImg: item.defaultImg,
          type: item.id,
          chartId: item.chartId,
          html: item.data.innerHtml,
          src: item.data.src,
          childrenChartViewList: item.hasOwnProperty('childrenChartViewList') ? item.childrenChartViewList : null,
          dimensions: item.data.dimension,
          indicators: indicatorData.map(i => {
            return {
              id: i.id,
              type: i.type
            }
          }),
          style: JSON.stringify(item.style),
          configData: JSON.stringify(item.data.configData),
          startTime: item.data.startDate,
          endTime: item.data.endDate,
        }

      },
      //回显时需要将已经选过的指标从dom上找了装到 this.selectIndicatorsAll 中去
      recoverSelectIndicatorCopy(el) {
        if (!el) return;
        this.dialog.indicators.forEach(item => {
          item.indicators.forEach(indicator => {
            this.allIndicatorList.push({...indicator})
          })
        })
        const atomics = el.querySelectorAll(`span[atomic="true"]`);
        const len = atomics.length
        for (let i = 0; i < len; i++) {
          const atomic = atomics[i];
          let indicatorId = atomic.getAttribute('indicatorId');
          const findOne = this.allIndicatorList.find(one => one.id == indicatorId);
          const item = {...findOne}
          item.indicatorDomId = atomic.getAttribute('id');
          this.selectIndicatorsAll.push(item)
        }
      },

      //刷新环比同比的值
      refreshMYData(indicators) {
        indicators = indicators ? indicators : this.selectIndicators;
        if (indicators.length === 0) return;
        //删除没用的指模板
        this.removeAllCompareHtml(indicators.filter(item => !item.useCompare));
        this.removeAllCompareHtml(indicators.filter(item => !item.useSameCompare), 'same');
        // 更新指标模板
        const daySelectIndicators = indicators.filter(item => item.useCompare);
        this.refreshIndicatorsDayChainRatio(daySelectIndicators);
        // 刷新同比指标数据
        const sameSelectIndicators = indicators.filter(item => item.useSameCompare);
        this.refreshIndicatorsDayChainRatio(sameSelectIndicators, 'same')
      },
      /**
       *
       * 刷新指标数值
       **/
      refreshData1() {
        this.refreshSysIndicators()
        this.refreshMYData()
        if (this.selectIndicators.length !== 0) {
          this.refreshIndicatorVal(this.selectIndicators);
        }
      },
      getChartPrivateDate() {
        let startDate = this.propertyData.startDate || this.startDate
        let endDate = this.propertyData.endDate || this.endDate
        if (startDate === undefined && endDate === undefined) return void 0;
        return {
          startDate,
          endDate
        }
      },
      /**
       *
       * 刷新指标数值
       **/
      refreshData() {
        if (!this.selectIndicators.length) return;
        this.refreshData1()
      },
      selectIndicatorVal(indicatorDomId, char, item) {
        const param = {
          propertyData: {
            indicator: [item]
          },
        }
        this.doQueryData(param, (res) => {
          if (res.state === 'success') {
            const resData = res.data.currentData
            if (resData !== undefined && resData.length) {
              // 重复指标需要去重
              const findOne = this.setAndGetIndicator(item, indicatorDomId);
              if (findOne) item = findOne;
              item.originalValue = resData[0][0]
              let indicatorValue = this.handleYXQ(item);
              this.closeAfterData.result = {
                atomicEl: this.createAtTag(char, item, indicatorDomId, indicatorValue),
              }
              this.refreshMYData()
              this.closeAfterData = null;
            } else {
              this.$Message.error('当前指标统计值查询没有统计值')
            }
          } else {
            this.$Message.error('查询指标统计值失败')
          }
          this.propertyData.innerHtml = this.richText.getInnerHtml();
          this.dialog.showIndicators = false
          this.closeAfterData = null
        })
      },
      doQueryData(param, cb) {
        const date = this.getChartPrivateDate() || this.publicDate
        const {propertyData, top, sameCompareType} = param
        this.queryMoreCompareChartData(propertyData, date, top, true, sameCompareType).then(res => {
          if (cb) cb(res)
        })
      },
      //刷新dom上的指标值
      refreshIndicatorVal(selectIndicatorIds) {
        const param = {
          propertyData: {
            indicator: selectIndicatorIds
          },
        }
        this.doQueryData(param, (res) => {
          if (res.state === 'success') {
            const remoteData = res.data;
            const allIndicators = remoteData.headers;
            const allValue = remoteData.currentData[0];
            const textareaDom = this.richText.editorBox
            allIndicators.forEach((selectIndicatorId, index) => {
              const selectIndicator = this.findIndicatorInSelect(selectIndicatorId);
              let value =( allValue && allValue[index])||0;
              let _selectIndicator = {...selectIndicator, originalValue: value}
              this.doRecoverIndicatorDomVal(textareaDom, _selectIndicator);
            })
          }
        })
      },
      findIndicatorInAllIndicators(indicators, id) {
        let len = indicators.length;
        for (let i = 0; i < len; i++) {
          const indicator = indicators[i];
          if (indicator?.indicators?.length) {
            const data = this.findIndicatorInAllIndicators(indicator.indicators, id)
            if (data) return data
          } else {
            if (indicator.id == id) return indicator
          }
        }
      },
      findIndicatorInSelect(id) {

        let indicators = this.selectIndicators;
        let len = indicators.length;
        for (let i = 0; i < len; i++) {
          const indicator = indicators[i];
          if (indicator.id == id) return indicator
        }
        indicators = this.dialog.indicators;
        return this.findIndicatorInAllIndicators(indicators, id)
      },
      refreshIndicatorsDataSetting(selectIndicators) {
        // if (!selectIndicators) return
        // const textareaDom = this.richText.editorBox
        // if (!textareaDom) return
        // selectIndicators.forEach((selectIndicatorId, index) => {
        //   const selectIndicator = this.findIndicatorInSelect(selectIndicatorId);
        //   let value =( allValue && allValue[index])||0;
        //   let _selectIndicator = {...selectIndicator, originalValue: value}
        //   this.doRecoverIndicatorDomVal(textareaDom, _selectIndicator);
        // })
      },
      doRecoverIndicatorDomVal(textareaDom, selectIndicator) {
        const indicatorElementArr = textareaDom.querySelectorAll(`span[indicatorId='${selectIndicator.id}']`)
        if (indicatorElementArr) {
          const len = indicatorElementArr.length;
          for (let i = 0; i < len; i++) {
            const indicatorElement = indicatorElementArr[i]
            if (indicatorElement) {
              let indicatorValue = this.handleYXQ(selectIndicator)
              this.recoverAtomicValue(indicatorElement, indicatorValue)
            }
          }
        }

      },
      // 处理千分位和小数以及数值单位
      handleYXQ(item) {
        let indicatorValue = item.originalValue ? isNumber(item.originalValue) ? item.originalValue : 0 : 0
        const config = {
          decimalDigits: item.precision,
          numberUnit: item.unit ? item.unit : 'original',
          thousandth: !!item.format,
          showType: item.showType
        }
        indicatorValue = formatData(indicatorValue, config);
        return indicatorValue + (item.showType === 0 ? this.getUnit(item.unit) : '');
      },
      getUnit(unit) {
        switch (unit) {
          case 'wan':
            return '万'
          case 'yi':
            return '亿'
          default:
            return ''
        }
      },
      recoverAtomicValue(node, value) {
        if (node) {
          const nodeList = node.childNodes;
          if (nodeList.length > 0) {
            for (let i = 0; i < nodeList.length; i++) {
              const result = this.recoverAtomicValue(nodeList[i], value);
              if (result === 1) return 1;
            }
          } else {
            node.textContent = value;
            return 1
          }
        }
        return 0;
      }
    },
    watch: {
      /**
       * 监听属性面板样式配置
       * **/
      'StyleConfig.fontStyle': {
        handler(newValue, oldValue) {
          this.richText.setCurrentStyle(newValue);
          this.propertyData.innerHtml = this.richText.getInnerHtml();
        },
        deep: true
      },
      'StyleConfig.textIndent': {
        handler(newValue, oldValue) {
          if (newValue !== undefined) {
            this.richText.setTextIndent(newValue, 'left');
          }
        },
        deep: true
      },
      /**
       * 监听属性面板中数据设置变化，刷新指标值显示格式及环比显示
       * **/
      currentSelectChartIndicators(newValue, oldValue) {
        this.refreshIndicatorsDataSetting(newValue)
        this.refreshMYData(newValue)
      },
      currentSelectChart: function (val, oldval) {
        // 判断是否是当前图表数据条件发生改变
        if (this.currentChartId !== this.chartId) {
          this.dialog.showIndicators = false
        }
      }
    },
    computed: {
      ...mapGetters(['currentSelectChart', 'currentChartId']),
      ...mapGetters('indicator', ['indicatorGroupTreeData']),
      StyleConfig() {
        if (this.propertyStyle) {
          return this.propertyStyle
        }
      },
      publicDate() {
        if (this.$store.state.chart.reportDate.length) {
          let startDate = this.$store.state.chart.reportDate[0]
          let endDate = this.$store.state.chart.reportDate[1]
          return {startDate, endDate}
        }
        return undefined;
      },
      currentSelectChartIndicators() {
        return this.chartData.data.configData.indicators
      },
    },
  }
</script>

<style scoped lang="less">
  .edit-but {
    position: absolute;
    top: -30px;
  }
  .textarea-wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    .text-area-butt {
      width: 100%;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: -34px;
      margin-bottom: 2px;
      height: 34px;
      z-index: 99999991;
      .img-wrapper {
        width: 150px;
        text-align: left;
      }

      .img-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        margin-bottom: 2px;
        .but {
          padding: 0 10px;
          background-color: #FFFFFF;
          line-height: 32px;
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.36);
          letter-spacing: 0;
          text-align: left;
          font-weight: 400;
          height: 32px;
          width: 55px;
        }

        .user-select-none {
          -ms-user-select: none;
          user-select: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -webkit-touch-callout: none;
        }
      }


    }

    .mask {
      position: absolute;
      top: 0;
      background: rgba(241, 241, 241, 0.03);
      height: 100%;
      width: 100%;
    }
  }

  .textarea-container {
    font-family: "Avenir", "Helvetica", "Arial", "sans-serif";
    position: relative;
    width: 100%;
    /* padding: 0 8px; */
    border-radius: 2px;
    line-height: 32px;
    font-size: 14px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    height: 100%;
  }

  .un-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  .textarea-body {
    width: 100%;
    min-height: 30px;
    outline: none;
    height: 100%;
    word-break: break-word;

    /*在高分辨率上浏览器创建的内容在低分辨率浏览器查看内容过长会换行导致显示不全*/
    /*overflow: hidden;*/
    /*padding: 10px;*/
  }

  .textarea-body[contenteditable]:empty:before {
    content: attr(placeholder);
    color: #2a2a2a;
  }

  .textarea-body[contenteditable]:focus {
    content: none;
  }
</style>
