<template>
  <div class="textarea-style-config">
    <Collapse v-model="textareaCollapseVal" simple>
      <Panel name="fontparagraph">
        字体段落
        <div slot="content">
          <div style="display: flex">
            <colorPicker
              style="margin-right: 3px"
              class="colorPickerLeft"
              defaultColor="#000000"
              @open-change="openFontColorPier"
              :key="textAreaStyleConfigs.fontStyle.color"
              v-model="textAreaStyleConfigs.fontStyle.color"
              @change="onChangeStyle(textAreaStyleConfigs.fontStyle, 'fontStyle')"
            />
            <Select
              v-model="textAreaStyleConfigs.fontStyle.fontSize"
              style="width: 60px; margin-left: 10px;margin-right: 3px"
              @on-change="onChangeStyle(textAreaStyleConfigs.fontStyle, 'fontStyle')">
              <Option v-for="i in 9" :value="(i + 5) * 2" :key="i">{{(i + 5) * 2}}</Option>
            </Select>
            <Select
              v-model="textAreaStyleConfigs.fontStyle.fontFamily"
              style="width: 100px; margin-left: 10px;margin-right: 3px"
              @on-change="
                          onChangeStyle(textAreaStyleConfigs.fontStyle, 'fontStyle')
                        "
            >
              <Option
                v-for="(item, i) in fontFamilyArr"
                :value="item.value"
                :key="item.value"
              >{{ item.label }}
              </Option
              >
            </Select>
          </div>
          <p class="fontStyle">
            <span class="text-left">样式</span>
            <img src="@/assets/images/report/bold.svg" class="img-bold"
                 :class="textAreaStyleConfigs.fontStyle.fontWeight==='bolder'?'img-bold-active':''" title="加粗"
                 @click="onStyleChange('fontWeight')"/>
            <img src="@/assets/images/report/italic.svg" class="img-style"
                 :class="textAreaStyleConfigs.fontStyle.fontStyle==='italic'?'img-oblique-active':''" title="倾斜"
                 @click="onStyleChange('fontStyle')"/>
            <img src="@/assets/images/report/underLine.svg" class="img-style"
                 :class="textAreaStyleConfigs.fontStyle.underline==='underline'?'img-underline-active':''" title="下划线"
                 @click="onStyleChange('underline')"/>
            <img src="@/assets/images/strikethrough.png" class="img-style"
                 :class="textAreaStyleConfigs.fontStyle.strikeThrough==='line-through'?'img-style-active':''"
                 title="删除线"
                 @click="onStyleChange('strikeThrough')"/>
          </p>
          <p class="fontStyle">
            <span class="text-left">对齐</span>
            <Dropdown trigger="click" style="line-height: 10px;cursor: pointer;">
              <div style="background: #f2f4f7">
                <img src="@/assets/images/report/align-left.svg" class="img-bold"/>
                <Icon
                  type="ios-arrow-down"
                  style="margin-top: -10px; font-size: 16px"
                ></Icon>
              </div>
              <DropdownMenu
                slot="list"
                style="display: flex; border: 1px solid #ccc;"
              >
                <DropdownItem
                ><img src="@/assets/images/report/align-left.svg" class="img-select" title="左对齐"
                      @click="onChangeStyle('left', 'textAlign')"/></DropdownItem>
                <DropdownItem
                ><img
                  src="@/assets/images/report/align-center.svg"
                  class="img-select" title="居中对齐"
                  @click="onChangeStyle('center', 'textAlign')"
                /></DropdownItem>
                <DropdownItem
                ><img src="@/assets/images/report/align-right.svg" class="img-select" title="右对齐"
                      @click="onChangeStyle('right', 'textAlign')"
                /></DropdownItem>
              </DropdownMenu>
            </Dropdown>
            <Dropdown
              trigger="click"
              style="line-height: 10px; margin-left: 10px;cursor: pointer;"
            >
              <div style="background: #f2f4f7">
                <img src="@/assets/images/align-top.png" class="img-bold"/>
                <Icon
                  type="ios-arrow-down"
                  style="margin-top: -10px; font-size: 16px"
                ></Icon>
              </div>
              <DropdownMenu
                slot="list"
                style="display: flex; border: 1px solid #ccc"
              >
                <DropdownItem
                ><img src="@/assets/images/align-top.png" class="img-select" title="顶部对齐"
                      @click="onChangeStyle('top', 'verticalAlign')"
                /></DropdownItem>
                <DropdownItem
                ><img
                  src="@/assets/images/align-middle.png"
                  class="img-select" title="垂直居中"
                  @click="onChangeStyle('middle', 'verticalAlign')"
                /></DropdownItem>
                <DropdownItem
                ><img
                  src="@/assets/images/align-bottom.png" title="底部对齐"
                  class="img-select"
                  @click="onChangeStyle('bottom', 'verticalAlign')"
                /></DropdownItem>
              </DropdownMenu>
            </Dropdown>
          </p>
          <p class="fontStyle">
            <span class="text-left">缩进</span>
            <img
              src="@/assets/images/indent-reduce.png"
              class="img-select"
              title="减少缩进"
              style="margin-left: 20px"
              @click="onChangeStyle(textAreaStyleConfigs.textIndent--, 'textIndent', false)"
            />
            <img
              src="@/assets/images/indent-add.png"
              class="img-select"
              title="增加缩进"
              style="margin-left: 20px"
              @click="onChangeStyle(textAreaStyleConfigs.textIndent++, 'textIndent', true)"
            />
          </p>
          <p style="margin-top: 10px">
            <span>&nbsp;行间距:</span>
            <InputNumber
              ref="InputNumber"
              :min="1"
              v-model="textAreaStyleConfigs.lineHeight"
              style="margin-left: 10px"
              @on-change="
              onChangeStyle(textAreaStyleConfigs.lineHeight, 'lineHeight')"
            />
          </p>
          <!--          <p class="fontStyle">&nbsp;符号与列表 <span></span></p>-->
        </div>
      </Panel>
      <Panel name="areastyle">
        区域样式
        <div slot="content">
          <div class="item itemGap">
            <span class="itemLabel">背景：</span>
            <colorPicker
              class="colorPicker-background"
              ref="backgroundCo"
              defaultColor="#ffffff"
              :key="textAreaStyleConfigs.backgroundColor"
              v-model="textAreaStyleConfigs.backgroundColor"
              @change="onChangeStyle(textAreaStyleConfigs.backgroundColor, 'backgroundColor')"
            />
          </div>
          <div class="item itemGap">
            <span class="itemLabel">边框：</span>
            <div class="itemStyleRight">
              <div style="margin-right: 5px">
                <Tooltip content="边框颜色" placement="top">
                  <colorPicker
                    class="border-color-picker"
                    defaultColor="#ffffff"
                    :key="textAreaStyleConfigs.borderColor"
                    v-model="textAreaStyleConfigs.borderColor"
                    @change="
                  onChangeStyle(textAreaStyleConfigs.borderColor, 'borderColor')
                "
                  />
                </Tooltip>

              </div>
              <div style="margin-right: 5px">

                <Tooltip content="边框样式" style="margin: 0 5px;" placement="top">
                  <Select
                    style="width: 50px"
                    v-model="textAreaStyleConfigs.borderStyle"
                    @on-change="
                    onChangeStyle(textAreaStyleConfigs.borderStyle, 'borderStyle')
                  "
                  >
                    <Option
                      v-for="(item, i) in borderStyleArr"
                      :value="item.value"
                      :key="item.value"
                    >{{ item.label }}
                    </Option
                    >
                  </Select>
                </Tooltip>
              </div>
              <div>

                <Tooltip content="边框宽度" placement="top">
                  <InputNumber
                    ref="borderWidthInputNumber"
                    :min="0"
                    v-model="textAreaStyleConfigs.borderWidth"
                    style="width: 55px"
                    @on-change="onChangeStyle(textAreaStyleConfigs.borderWidth, 'borderWidth')"
                  />
                </Tooltip>
              </div>
            </div>
          </div>
          <div class="item">
            <span class="itemLabel">圆角：</span>
            <InputNumber
              ref="borderRadiusInputNumber"
              :min="0"
              v-model="textAreaStyleConfigs.borderRadius"
              style="width: 70px"
              @on-change="
                onChangeStyle(textAreaStyleConfigs.borderRadius, 'borderRadius')
              "
            />
          </div>
        </div>
      </Panel>
    </Collapse>

  </div>
</template>

<script>
  import {BORDER_STYLE_ARR, FONT_FAMILY_LIST} from '../../../../config/ReportConstants'


  export default {
    props: {
      styleConfigs: {
        type: Object,
        default: {}
      },
      setCurrentChartDefaultShow: {
        type: Function,
        default: null
      }
    },
    components: {},
    mounted() {
      this.setDefaultButton()
    },
    data() {
      return {
        textareaCollapseVal: ["fontparagraph", "areastyle"],
        visible: false,
        fontFamilyArr: FONT_FAMILY_LIST,
        borderStyleArr: BORDER_STYLE_ARR
      };
    },
    computed: {
      currentSelectChart() {
        return this.$store.state.chart?.currentSelectChart;
      },
      textAreaStyleConfigs() {
        return Object.assign(
          {
            borderStyle: "none",
            borderRadius: 2,
            borderWidth: 0,
            backgroundColor: "#ffffff",
            borderColor: "#ffffff",
            textAlign: 'left',
            verticalAlign: 'middle',
            textIndent: 0,
            lineHeight: 1,
            transparent: false,
            fontStyle: { // 字体段落
              fontSize: 0,
              color: "",
              fontFamily: "",
              underline: '',
              strikeThrough: '',
              fontSpace: 0,
              fontWeight: '',
              fontStyle: '',
              textDecoration: '',
            }
          },
          this.styleConfigs
        );
      }
    },

    methods: {
      openFontColorPier(param) {
        this.$parent.dispatchMsg('openFontColorPicker')
      },
      setDefaultButton() {
        this.noneColorImg = require('../../../../assets/icons/chart/none-color.svg');
        this.$nextTick(() => {
          this.createNoneColorNode();
        })
      },
      createNoneColorNode() {
        let color = this.$refs['backgroundCo']
        if (color == undefined) return
        color = color.$el
        let div = color.getElementsByClassName('colorView')[0];
        let but = document.createElement('div');
        let wrapper = document.createElement('div');
        wrapper.style.height = '100%'
        wrapper.style.width = '100%'
        wrapper.style.display = 'flex'
        wrapper.style.alignItems = 'center'
        wrapper.style.backgroundColor = '#ffffff';
        div.appendChild(wrapper)
        let img = document.createElement('img');
        img.src = this.noneColorImg
        img.style.marginRight = '5px'
        img.style.height = '20px'
        img.style.width = '20px'
        div.parentNode.style.display = 'flex';
        div.parentNode.style.alignItems = 'center';
        div.parentNode.style.justifyContent = 'space-between';
        div.style.width = '80px';
        but.style.width = '100%';
        but.style.height = '100%';
        but.style.float = 'right';
        but.style.textAlign = 'center';
        div.style.border = '1px solid #ddd';
        but.style.border = '1px solid #ddd';
        but.style.cursor = 'pointer';
        but.style.color = '#333';
        but.style.backgroundColor = '#ffffff';
        but.classList.remove('colorView')
        div.removeAttribute('style')
        but.innerText = '无填充色'
        wrapper.appendChild(img)
        wrapper.appendChild(but)
        but.addEventListener('click', (e) => {
          this.$refs['backgroundCo'].openStatus = false;
          this.setCurrentChartDefaultShow(true);
          this.$set(this.textAreaStyleConfigs, 'transparent', true);
          this.$forceUpdate()
          this.onChangeStyle('rgba(255,255,255,0)', 'backgroundColor');
          this.$nextTick(() => {
            this.setTranslate(200)
          })
        }, false)
      },
      setTranslate(delay) {
        setTimeout(() => {
          const color = this.$refs['backgroundCo'].$el
          const colorBtn = color.getElementsByClassName('colorBtn')[0];
          const children = colorBtn.childNodes;
          const len = children.length;
          for (let i = 0; i < len; i++) {
            children[i].remove()
          }
          let img2 = document.createElement('img');
          img2.src = this.noneColorImg
          colorBtn.appendChild(img2)
        }, delay ? delay : 200)
      },
      onChangeStyle(value, str, isAdd) {
        if (!this.currentSelectChart.style) this.currentSelectChart.style = {};
        if (str === 'textIndent') {
          if (isAdd) value = 1
          else value = 0 - 1
        } else if (value == null) {
          switch (str) {
            case 'borderWidth':
              this.$refs.borderWidthInputNumber.setValue(0);
              value = 0;
              break
            case 'borderRadius':
              this.$refs.borderRadiusInputNumber.setValue(2);
              value = 2;
              break
            case 'lineHeight':
              this.$refs.InputNumber.setValue(1);
              value = 1;
              break
          }
        }
        this.$set(this.currentSelectChart.style, str, value)
        if (str === 'backgroundColor') {
          this.$nextTick(()=>this.setDefaultButton())
        }
      },
      onStyleChange(property) {
        let propertyValue = this.textAreaStyleConfigs.fontStyle[property];
        switch (property) {
          case  'fontWeight':
            propertyValue = propertyValue === 'bolder' ? 'normal' : 'bolder'
            break
          case  'fontStyle':
            propertyValue = propertyValue === 'italic' ? 'normal' : 'italic'
            break
          case  'underline':
            propertyValue = propertyValue === 'underline' ? 'none' : 'underline'
            break
          case  'strikeThrough':
            propertyValue = propertyValue === 'line-through' ? 'none' : 'line-through'
            break
        }
        this.textAreaStyleConfigs.fontStyle[property] = propertyValue
        this.onChangeStyle(this.textAreaStyleConfigs.fontStyle, 'fontStyle');
      }
    },
    watch: {
      'textAreaStyleConfigs.transparent': {
        handler(newValue, oldValue) {
          if (!!newValue) {
          }
          // this.setTranslate(300)
        },
        deep: true
      }
    }
  };
</script>
<style scoped>
  /deep/ .border-color-picker .box {
    left: -180% !important;
    top: 30px;
  }

  .textarea-style-config {
    padding-bottom: 200px;
  }

  .item {
    display: flex;
  }

  .itemGap {
    margin: 0 auto 10px;
  }

  .item .itemLabel {
    /*width: 80px;*/
    padding: 10px 12px 10px 0;
    box-sizing: border-box;
  }

  .item .itemStyleRight {
    width: calc(100% - 60px);
    display: flex;
    flex: 1;
  }

  /deep/ .colorPickerLeft .box {
    left: -70% !important;
    position: relative !important;
  }

  /*> > > .colorPickerLeft .box {*/
  /*  !*left: -105% !important;*!*/
  /*  position: relative !important;*/
  /*}*/

  .fontStyle {
    border: 1px solid #dcdee2;
    margin-top: 15px;
    line-height: 30px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s ease-in-out;
  }

  .fontStyle:hover {
    border: 1px solid #2d8cf0;
  }

  .img-style-active {
    background: #66339959;
  }

  .img-underline-active {
    background: #66339959;
  }

  .img-oblique-active {
    background: #66339959;
  }

  .img-bold-active {
    background: #66339959;


  }

  .fontStyle img {
    cursor: pointer;
  }

  .img-bold {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .img-style {
    width: 17px;
    height: 17px;
    margin-left: 10px;
  }

  .text-left {
    margin-left: 10px;
    margin-right: 10px;
  }

  .img-select {
    width: 20px;
    height: 20px;
  }

</style>
<style scoped lang="less">
  /deep/ .colorPicker-background {
    padding-top: 4px !important;
    padding-bottom: 2px !important;

    .colorBtn {
      height: 17px !important;
      width: 17px !important;

      &:after {
        right: -5px !important;
        bottom: -6px !important;
      }
    }
  }
</style>
