<template>
  <div @mousemove="handleSettingChecked" class="indicator-select-wrap" :style="{ width:width?width:'', left: left, top: top,height:height }">
    <Input
      ref="Input"
      search
      placeholder="请输入指标名称"
      style="width: auto;margin: 10px;"
      @on-clear="onSearchIndicator"
      clearable
      @on-change="onSearchIndicator($event)"
    />
    <ul class="indicator-select">
      <li
        v-for="(group, i) in indicatorTreeData"
        style="width:100%"
        :key="i"
      >
        <div class="textarea-indicator-select-group-title">
          {{group.name}}
        </div>
        <ul>
          <li :key="indicator.id" :title="indicator.label" v-for="(indicator) in group.indicators"
              class="textarea-indicator-select-group-item"
              @click="onSelectIndicator(indicator, group.name)"> {{indicator.label}}
          </li>
        </ul>
      </li>
    </ul>
  </div>

</template>
<script>
  import {mapActions} from "vuex"

  export default {
    name: "TextareaIndicators",
    props: {
      left: {
        type: String,
        default: "0px",
      },
      height: {
        type: String,
        default: "0px",
      },
      width: {
        type: String,
        default: "",
      },
      top: {
        type: String,
        default: "0px",
      },
      selectData: {
        type: Array,
        default: () => {
          return [];
        },
      },
    },
    data() {
      return {
        indicatorTreeData: [],
      };
    },
    watch: {},
    mounted() {
      this.indicatorTreeData = [...this.selectData]
      this.indicatorTreeDataCache = JSON.stringify(this.selectData)
      this.$nextTick(() => {
        const body = document.querySelector("body");
        if (body.append) {
          body.append(this.$el);
        } else {
          body.appendChild(this.$el);
        }
      });
    },
    methods: {
      ...mapActions(['setChartDeactivation']),
      handleSettingChecked(){
        this.setChartDeactivation(true)
      },

      onSelectIndicator(item, parentName) {
        const selectIndicator = Object.assign(item, {
          parentName
        })
        this.$emit("onSelectIndicator", selectIndicator);
      },
      onSearchIndicator(e) {
        let value = e && e.target ? e.target.value : e
        const treeData = JSON.parse(this.indicatorTreeDataCache)
        if (value) {
          const targetData = []
          _.forEach(treeData, item => {
            const indicators = [];
            _.forEach(item.indicators, indicator => {
              const target = indicator.label ? indicator.label.indexOf(value) : -1
              if (target !== -1) {
                indicators.push(indicator)
              }
            })
            if (indicators && indicators.length) {
              item.indicators = indicators
              targetData.push(item)
            }
          })
          this.indicatorTreeData = [...targetData]
        } else {
          this.indicatorTreeData = [...treeData]
        }
      }
    },
  };
</script>
<style lang='less' scoped>
  .indicator-select-wrap {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 3px 6px 0px rgba(74, 81, 93, 0.25);
    border-radius: 2px;
    border: 1px solid rgba(217, 217, 217, 1);
    position: absolute;
    bottom: -92px;
    z-index: 99;
    padding: 0;
    margin: 0;
    height: 80%;
    min-height: 200px;
  }

  .indicator-select {
    width: 100%;
    overflow: auto;
    max-width: 195px;
    height: ~"calc(100% - 52px)";
    // height: 100%;
  }

  .indicator-select .selectItem {
    cursor: pointer;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #333333;
  }

  .indicator-select > li {
    /deep/ li:hover {
      background: rgba(208, 209, 211, 0.849);
    }
  }

  .indicator-select .selectItem.on {
    background: #f2f4f7;
  }

  .textarea-indicator-select-group-title {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 8px;
    font-size: 12px;
    color: #999;
    height: 30px;
    line-height: 30px;
    overflow-x: hidden;
  }

  .indicator-select .textarea-indicator-select-group-item {
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: #515a6e;
    font-size: 12px !important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    transition: background .2s ease-in-out;
  }
</style>
