<template>
  <Modal
    :value="show"
    :closable="false"
    footer-hide>
    <div class="header">
      <img class="icon-warning" src="@/assets/icons/deleteModal/warning.svg" />
      <span v-if="showConfirmDelete">确认删除吗</span>
      <span v-else>{{ deletedAsset.type }}“{{ deletedAsset.name }}”无法删除</span>
    </div>
    <div class="body">
      <p class="tips" v-if="showConfirmDelete">提示：{{ deletedAsset.type }}被以下资源映射，删除后将自动取消映射。</p>
      <p class="tips" v-else>提示：{{ deletedAsset.type }}被以下资源关联使用，无法删除！</p>
      <div class="resource-container">
        <div class="resource-header">
          <span class="header-item">资源名称</span>
          <span class="header-item">资源类型</span>
        </div>
        <div class="resource-body">
          <div class="resource-item" v-for="resource in data">
            <span class="resource-name">
              <img :src="RESOURCE_ICON[resource.type]" />
              <span :title="resource.name">{{ resource.name }}</span>
            </span>
            <span class="resource-type">{{ RESOURCE_TYPE[resource.type] }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <template v-if="showConfirmDelete">
        <Button @click="onCancel">取消</Button>
        <Button type="primary" @click="onOk">确认</Button>
      </template>
      <Button type="primary" ghost v-else @click="onCancel">取消</Button>
    </div>
  </Modal>
</template>

<script>
import { RESOURCE_TYPE, RESOURCE_ICON } from '@/view/components/DeleteAssetModal/constant'
import { TYPE_BUSINESS_MODEL, TYPE_DATA_MODEL, TYPE_FILE } from '@/view/components/DeleteAssetModal/constant'
import { deleteBusinessModelForceById } from '@/api/businessModel'
import { deleteDataModelForce, deleteFileDatasetForce } from '@/api/dataset'

export default {
  name: 'DeleteAssetModal',
  props: {
    show: Boolean,
    deletedAsset: Object,
    data: Array,
  },
  data() {
    return {
      RESOURCE_TYPE,
      RESOURCE_ICON,
    }
  },
  computed: {
    // 显示确定删除
    showConfirmDelete() {
      // 是否已被指标关联
      const relatedWithIndicator = this.data.some(item => [2, 3, 8].includes(item.type))
      // 是否已被其他数据模型关联
      const relatedWithBusinessModel = this.data.some(item => item.type === 98)
      if (this.deletedAsset.type === TYPE_BUSINESS_MODEL && !relatedWithIndicator) {
        return true
      }
      if ([TYPE_DATA_MODEL, TYPE_FILE].includes(this.deletedAsset.type) && !relatedWithBusinessModel) {
        return true
      }
      return false
    },
  },
  methods: {
    /**
     * 取消
     */
    onCancel() {
      this.$emit('update:show', false)
    },

    /**
     * 确认
     */
    async onOk() {
      const { id, type } = this.deletedAsset
      let deleteFunc
      if (type === '业务模型') {
        deleteFunc = deleteBusinessModelForceById
      } else if (type === '数据模型') {
        deleteFunc = deleteDataModelForce
      } else if (type === '文件') {
        deleteFunc = deleteFileDatasetForce
      }
      const res = await deleteFunc(id)
      if (res.data.state === 'success') {
        this.$Message.success('删除成功！')
        this.updateList(type)
        this.$emit('update:show', false)
      } else {
        this.$Message.error('删除失败！')
      }
    },

    /**
     * 删除后刷新列表
     * @param type 被删除资产类型
     */
    updateList(type) {
      if (type === '业务模型') {
        this.$bus.$emit('update-business-model-tree', null)
      } else if (type === '数据模型') {
        this.$bus.$emit('refresh-dataset-list')
      } else if (type === '文件') {
        // 文件列表在首页和编辑数据集里面都有，所以都需要更新
        this.$bus.$emit('update-file-list')
        this.$bus.$emit('update-file-list-index')
      }
    },
  },
}
</script>

<style scoped lang="less">
.header {
  display: flex;
  align-items: center;

  > span {
    margin-left: 8px;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
  }
}

.body {
  margin-top: 10px;
  padding: 0 24px;
}

.footer {
  margin-top: 24px;
  padding: 0 24px;
  text-align: right;

  button + button {
    margin-left: 16px;
  }
}

.tips {
  color: #FAAD14;
}

.resource-container {
  margin-top: 14px;
  background: #F7F7F7;
  border-radius: 4px;
}

.resource-header {
  display: flex;
  padding: 0 16px;
}

.header-item {
  flex: 1;
  color: rgba(0,0,0,0.85);
  font-weight: bold;
  line-height: 32px;
}

.resource-body {
  padding: 0px 16px 8px 16px;
  max-height: 120px;
  overflow: auto;

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.resource-item {
  display: flex;
  line-height: 24px;
  color: rgba(0,0,0,0.65);

  .resource-name,
  .resource-type {
    flex: 1;
  }

  .resource-name {
    display: flex;
    align-items: center;

    img {
      margin-right: 4px;
      width: 16px;
      height: 16px;
    }

    span {
      white-space: nowrap;
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
</style>
