<template>
  <div class="analysisArea-container">
    <Spin fix v-if="isLoading" />
    <template v-else>
      <div class="leftBox">
        <div class="minTit">
          <span>维度贡献排名</span>
        </div>
        <div class="listBox" ref="rankingBox">
          <div :class="['listText', { active: activeIndex == item.id }]" v-for="(item, index) in rankingList" :key="item.id" @click="setActive(item)">
            <div class="leftText">
              <span class="num">{{ index + 1 }}</span>
              <span> {{ item.name }} </span>
            </div>
            <span style="color: rgba(0,0,0,0.45);margin-right: 20px">{{item.num}}</span>
          </div>
        </div>
      </div>
      <div class="rightBox">
        <section class="barWrapper">
          <div class="minTit Tit02">
            <span>
              维度成员贡献排名
              <img v-if="ranking == 1" src="@/assets/images/indicatorWorkbench/type01.svg" alt="" @click="ranking = 2" title="升序"/>
              <img v-else src="@/assets/images/indicatorWorkbench/type02.svg" alt="" @click="ranking = 1" title="降序"/>
            </span>
            <div>
              <RadioGroup v-model="topN" type="button" size="small" style="margin: 0 10px">
                <Radio :label="10">top10</Radio>
                <Radio :label="20">top20</Radio>
                <Radio :label="50">top50</Radio>
                <Radio :label="-1">全部</Radio>
              </RadioGroup>
            </div>
          </div>
          <div class="chartWrapper" ref="chartWrapperRef">
            <RankingChart
              v-show="chartData2.length"
              :chart-data="chartData2"
              :dimension-name="dimensionName"
              :chart-height="chartHeight"
              @drill:down="drillDown"
            />
            <NoData v-show="!chartData2.length" :width="510" :height="249" :img-src="noDataImg" />
          </div>
        </section>
        <TableList :data-list="dataList" showPage :pageSize="topN"/>
      </div>
    </template>
  </div>
</template>

<script>
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import { mapState, mapGetters, mapActions, mapMutations } from "vuex";
import RankingChart from "./RankingChart";
import NoData from "@/components/NoData";
import TableList from "./TableList";
import { deepCopy } from "@/utils/common";

export default {
  components: {
    RankingChart,
    NoData,
    TableList
  },
  data() {
    return {
      noDataImg,
      isLoading: false,
      activeIndex: 0, // 当前选中的维度id
      ranking: 2, // 升序1 降序2
      topN: 10,
    };
  },
  watch: {
    rankingList: {
      handler(newVal) {
        if (!newVal.length) return;
        this.activeIndex = newVal[0].id;
      },
      deep: true,
      immediate: true
    }
  },
  computed: {
    ...mapState("indicatorWorkbench", ["relationDimension"]),
    ...mapState("reasonAnalysis", ["dimensionSelected", "analysisData", "breadList"]),
    ...mapGetters("reasonAnalysis", ["allChartDataF"]),
    chartHeight() {
      return this.chartData2.length * 50;
    },
    dimensionName() {
      return this.rankingList.find(i => i.id === this.activeIndex)?.name || "";
    },
    rankingList() {
      return this.dimensionSelected
        .map(ele => {
          const data = this.allChartDataF.find(i => i.id === ele.id)?.data || [];
          const len = data.filter(i => (this.analysisData.diffValue.startsWith("-") ? i.diffVal < 0 : i.diffVal > 0)).length;
          const per = len / data.length;
          return {
            ...ele,
            num: per < 1 ? per.toFixed(2) : per
          };
        })
        .sort((a, b) => b.num - a.num);
    },
    dataList() {
      const data = this.allChartDataF.find(i => i.id === this.activeIndex)?.data || [];
      return data.sort((a, b) => parseFloat(b.contPer) - parseFloat(a.contPer));
    },
    chartData2() {
      const list = this.ranking === 2 ? deepCopy(this.dataList) : deepCopy(this.dataList).reverse();
      const newChartData = list.map(ele => {
        const { name, contPer } = ele;
        return {
          name,
          momRatio: contPer,
          value: parseFloat(contPer)
        };
      });
      return this.topN === -1 ? newChartData : newChartData.slice(0, this.topN)
    }
  },
  methods: {
    ...mapMutations("reasonAnalysis", ["setBreadList", "setDimensionSelected"]),
    ...mapActions("reasonAnalysis", ["fetchChartData"]),
    /**
     * 切换其他维度
     * @param {Number} id 维度id
     */
    async setActive({ id }) {
      this.$refs.chartWrapperRef.scrollTo(0, 0);
      this.activeIndex = id;
    },
    async drillDown({ name }) {
      if (this.rankingList.length === 1) return;
      this.isLoading = true;

      const dimId = this.activeIndex;
      // 添加面包屑
      const list = deepCopy(this.breadList);
      list.push({ id: dimId, name: `${this.dimensionName}：${name}` });
      this.setBreadList(list);

      // 设置已选维度
      const dimData = this.dimensionSelected.filter(ele => ele.id !== dimId);
      this.setDimensionSelected(dimData);

      const { id, type } = this.$route.query;
      const { startDate, endDate } = this.analysisData;
      const dimensionConditionGroup = this.breadList
        .filter(ele => ele.id !== 1)
        .map(ele => {
          const n = ele.name.split("：")[1];
          return { conditions: [{ sourceId: ele.id, conditionType: "14", value: `1|${n}` }] };
        });
      const dimIds = this.breadList.filter(ele => ele.id !== 1).map(ele => ele.id);

      await this.fetchChartData({ id, type, start: startDate, end: endDate, dimensionConditionGroup, dim1: dimIds });

      this.isLoading = false;
    }
  }
};
</script>

<style lang="less" scoped>
.analysisArea-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  .leftBox {
    width: 403px;
    margin-right: 22px;
    background: #f9f9fc;
    border-radius: 6px;
    padding: 24px;
    .listBox {
      margin-top: 15px;
      height: 250px;
      overflow: auto;
    }
    .listText {
      display: flex;
      height: 50px;
      align-items: center;
      border-top: 1px solid #f2f2f2;
      cursor: pointer;
      border-left: 2px solid transparent;
      justify-content: space-between;
      .leftText {
        display: flex;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.85);
        align-items: center;
        .num {
          background-image: linear-gradient(103deg, #8aa7e4 10%, #a9c3f5 100%);
          width: 16px;
          height: 16px;
          border-radius: 50%;
          text-align: center;
          line-height: 16px;
          color: #fff;
          margin: 0 10px;
        }
      }

      .nums {
        color: rgba(0, 0, 0, 0.45);
        padding-right: 10px;
      }
      &:last-child {
        border-bottom: 1px solid #f2f2f2;
      }
      &.active {
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
        border-left: 2px solid #3f73ff;
        background: #ffffff;
        border-radius: 4px;
      }
    }
  }
  .rightBox {
    flex: 1;
    display: flex;
    background: #f9f9fc;
    border-radius: 6px;
    padding: 20px 20px 0;
    .barWrapper {
      width: 50%;
      .chartWrapper {
        height: calc(~"100% - 21px");
        margin-top: 10px;
        max-height: 500px;
        overflow: auto;
      }
    }
    .tableList-container {
      width: 50%;
      margin-left: 50px;
    }
  }

  .minTit {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      width: 73px;
      height: 28px;
      border: 1px solid rgba(63, 115, 255, 1);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      span {
        color: #3f73ff;
      }
      img {
        margin-left: 5px;
      }
    }
  }
  .Tit02 {
    // justify-content: flex-start;
    img {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
</style>
