<template>
  <Breadcrumb class="breadcrumbF-container" separator=">">
    <BreadcrumbItem v-for="item in list" :key="item.id" @click="$emit('goto', item)">{{ item.name }}</BreadcrumbItem>
  </Breadcrumb>
</template>

<script>
export default {
  props: {
    list: {
      type: Array,
      required: true
    }
  }
};
</script>

<style lang="less" scoped>
.breadcrumbF-container {
  width: 100%;
  height: 100%;
}
</style>
