<template>
  <div class="compositionArea-container">
    <div style="width: 100%;text-align: left;">
      <BreadcrumbF :list="breadArr" />
    </div>
    <VOrgTree
      :data="bloodData"
      collapsable
      :node-render="nodeRender"
      :expand-all="true"
      :horizontal="false"
      :props="props"
      @on-expand="onExpand"
      @on-node-click="onNodeClick"
    />
    <TableList :data-list="dataList" v-show="isCompositeIndicator"/>
    <div style="text-align: left">
      <BreadcrumbF :list="breadList" v-show="!isCompositeIndicator"/>
    </div>
    <analysis-area v-show="!isCompositeIndicator"></analysis-area>
  </div>
</template>

<script>
import BreadcrumbF from "./BreadcrumbF";
import TableList from "./IndicatorTableList";
import AnalysisArea from "./AnalysisArea";
import {mapActions, mapState} from "vuex";
import {getCompositeBlood, getCompositeAnalysis} from '@/api/indicatorWorkbench'
export default {
  components: {
    BreadcrumbF,
    TableList,
    AnalysisArea
  },
  data() {
    return {
      bloodData: {},
      props: {
        id: "dep_id",
        label: "title",
        expand: "expand",
        children: "dep_children"
      },
      dataList: [],
      isCompositeIndicator: true,
      breadArr: [],
      currentNode: null
    };
  },
  computed: {
    ...mapState("reasonAnalysis", ["analysisData", "breadList"]),
  },
  mounted() {
    this.init()

  },
  methods: {
    ...mapActions("reasonAnalysis", ["fetchChartData"]),
    async init() {
      this.breadArr = [
        {
          id: this.$route.query.id,
          name: this.$route.query.name
        }
      ]
      await this.getCompositeBlood()
      this.getCompositeAnalysis()
    },
    isSelectNode(nodeData) {
      return this.currentNode && this.currentNode.dep_id === nodeData.dep_id
    },
    nodeRender(h, data) {
      // console.log(data);
      const isCompositeIndicator = data.dep_children && data.dep_children.length > 0
      return <span style={{border: this.isSelectNode(data) ? '1px solid #3F73FF' : null, background: this.isSelectNode(data) ? ' #E4EDFF' : null, borderRadius: this.isSelectNode(data) ? '4px' : null,
                          display:'flex', alignItems: 'center', cursor: 'pointer', padding: '10px 15px'}} title={data.label}>
        <img src={isCompositeIndicator ? this.isSelectNode(data) ? require('@/assets/images/indicatorWorkbench/fhzb_active.svg') : require('@/assets/images/indicatorWorkbench/fhzb.svg') :
          this.isSelectNode(data) ? require('@/assets/images/indicatorWorkbench/yzzb_active.svg') : require('@/assets/images/indicatorWorkbench/yzzb.svg')} alt="" width="16" height="16" style="margin-right: 5px;"/>
        {data.label}
      </span>;
    },
    onNodeClick(e, data) {
      console.log(data);
      this.currentNode = data
      // 1、更新下方显示内容：复合指标显示表格；原子指标显示维度贡献归因
      this.isCompositeIndicator = data.dep_children && data.dep_children.length > 0
      if (this.isCompositeIndicator) {
         this.getCompositeAnalysis()
      } else {
        const id = data.dep_id
        const type = data.type || 1
        const start = this.analysisData.startDate
        const end = this.analysisData.endDate
        this.fetchChartData({ id, type, start, end })
      }
      // 2、更新指标链路面包屑
      this.refreshBreadList(data)
    },
    refreshBreadList(nodeData) {
      const newBreadList = []
      this.findParent([this.bloodData], nodeData, newBreadList)
      console.log(newBreadList)
      this.breadArr = newBreadList
    },
    //data：要遍历的数据， target：查找目标， result用于装查找结果的数组
    findParent(data, target, result) {
      for (let item of data) {
        if (item.dep_id === target.dep_id) {
          //将查找到的目标数据加入结果数组中
          //可根据需求unshift(item.id)或unshift(item)
          result.unshift({
            id: item.dep_id,
            name: item.label
          })
          return true
        }
        if (item.dep_children && item.dep_children.length > 0) {
          //根据查找到的结果往上找父级节点
          let isFind = this.findParent(item.dep_children, target, result)
          if (isFind) {
            result.unshift({
              id: item.dep_id,
              name: item.label
            })
            return true
          }
        }
      }
      //走到这说明没找到目标
      return false
    },
    onExpand(val, status) {
      console.log(val, status);
    },
    buildBloodChildren(children, pid) {
      return children.map(child => {
        return {
          dep_pid: pid,
          dep_id: child.id,
          label: child.name,
          type: child.type,
          dep_children: child.sonVos ? this.buildBloodChildren(child.sonVos, child.id) : null
        }
      })
    },
    getCompositeBlood() {
      getCompositeBlood({id: this.$route.query.id}).then(res => {
        if (res.data.state === "success") {
          const resData = res.data.data
          let bloodData = {
            dep_pid: -1,
            dep_id: this.$route.query.id,
            label: this.$route.query.name,
            type: this.$route.query.type,
            dep_children: this.buildBloodChildren(resData, -1)
          }
          this.bloodData = bloodData
          this.currentNode = bloodData
        }
      })
    },
    getCompositeAnalysis() {
      const startDate = this.analysisData.startDate
      const endDate = this.analysisData.endDate
      const param = {
        id: this.currentNode ? this.currentNode.dep_id : this.$route.query.id,
        startDate,
        endDate
      }
      getCompositeAnalysis(param).then(res => {
        if (res.data.state === "success") {
           const resData = res.data.data
           const {master, slave} = resData
           const masterDataList = [{
             group: '总体',
             name: master.name,
             start: master.startDate,
             end: master.endDate,
             diffVal: Number(master.endDate) - Number(master.startDate),
             diffPer: ((Number(master.endDate) - Number(master.startDate)) / Number(master.startDate) * 100).toFixed(2) + '%',
             contPer: '/'
           }]
           const slaveDataList = slave.map(item => {
             return {
               group: '构成',
               name: item.name,
               start: item.startDate,
               end: item.endDate,
               diffVal: Number(item.endDate) - Number(item.startDate),
               diffPer: ((Number(item.endDate) - Number(item.startDate)) / Number(item.startDate) * 100).toFixed(2) + '%',
               contPer: Number(item.contribution) * 100 + '%',
               contribution: Number(item.contribution) * 100
             }
           }).sort((a, b) => b.contribution  - a.contribution)
           this.dataList = masterDataList.concat(slaveDataList)
        }
      })
    }
  }
};
</script>

<style lang="less" scoped>
.compositionArea-container {
  width: 100%;
  height: 100%;
  background: #f0f5fd;
  text-align: center;
  padding: 16px;
  /deep/ .org-tree-container{
    background-color: transparent;
  }
  /deep/ .org-tree-node-label{
    background: #FFFFFF;
    border-left: 2px solid #3f73ff;
    border-radius: 4px 0px 0px 4px;
  }
  /deep/.org-tree-node-label .org-tree-node-label-inner{
    padding: 0;
  }
  .node-name-wrap{
    display: flex;
    align-items: center;
  }
}
</style>
