<template>
  <div class="indicatorData-container">
    <div class="text01">
      <div class="percentage">{{ indicatorValueWithFormat(analysisData.startIndicatorValue) }}</div>
      <div class="time">{{ analysisData.startDate }}</div>
    </div>
    <div class="dividingLine">
      <img src="@/assets/icons/indicatorWorkbench/singleArrow.svg" alt="" />
    </div>
    <div class="text01">
      <div class="percentage">{{ indicatorValueWithFormat(analysisData.endIndicatorValue) }}</div>
      <div class="time">{{ analysisData.endDate }}</div>
    </div>
    <div class="rightNum" :style="styleObj(analysisData)">{{ analysisData.diffValue }}（{{ analysisData.diffRatio }}）</div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import NumericFormatMixin from "@/mixins/NumericFormat";

export default {
  mixins: [NumericFormatMixin],
  computed: {
    ...mapState("indicator", ["numberFormatConfig"]),
    ...mapState("reasonAnalysis", ["analysisData"]),
    styleObj() {
      return ({ diffValue }) => {
        if (diffValue.startsWith("-")) {
          return {
            background: "#ffe8e8",
            color: "#ff0202"
          };
        } else {
          return {
            background: "#f0f5ff",
            color: "#3f73ff"
          };
        }
      };
    },
    // 带格式的指标值
    indicatorValueWithFormat() {
      return value => {
        return (
          this.indicatorValue_Prefix(this.numberFormatConfig) +
          this.indicatorValue_YXQ(this.numberFormatConfig, value) +
          this.indicatorValue_Unit(this.numberFormatConfig) +
          this.indicatorValue_Suffix(this.numberFormatConfig)
        );
      };
    }
  }
};
</script>

<style lang="less" scoped>
.indicatorData-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 13px 48px;
  .percentage {
    font-size: 26px;
    font-weight: bold;
  }
  .time {
    color: rgba(0, 0, 0, 0.45);
  }
  .dividingLine {
    font-weight: 600;
    margin: 0 15px;
    img {
      margin-top: 10px;
    }
  }
  .rightNum {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    height: 33px;
    line-height: 33px;
    padding: 0 12px;
    margin: 5px 0 0 10px;
  }
}
</style>
