<template>
  <div class="tableList-container" ref="tableContainer">
    <Table stripe :border="false" :columns="tableColumns" :data="dataListF" :span-method="handleSpan"></Table>
  </div>
</template>

<script>
import { mapState } from "vuex";
import NumericFormatMixin from "@/mixins/NumericFormat";

export default {
  mixins: [NumericFormatMixin],
  props: {
    dataList: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      tableHeight: 0 // 表格高度
    };
  },
  computed: {
    ...mapState("indicator", ["numberFormatConfig"]),
    ...mapState("reasonAnalysis", ["analysisData"]),
    tableColumns() {
      const { startDate, endDate } = this.analysisData;
      return [
        {
          title: "",
          key: "group",
          align: "center"
        },
        {
          title: "指标",
          key: "name"
        },
        {
          title: startDate,
          key: "start",
          align: "right"
        },
        {
          title: endDate,
          key: "end",
          align: "right"
        },
        {
          title: "变化值",
          key: "diffVal",
          align: "right"
        },
        {
          title: "变化率",
          key: "diffPer",
          align: "right"
        },
        {
          title: "贡献度(对整体变化)",
          key: "contPer",
          align: "right"
        }
      ];
    },
    dataListF() {
      return this.dataList.map(ele => ({
        ...ele,
        start: this.indicatorValueWithFormat(ele.start),
        end: this.indicatorValueWithFormat(ele.end)
      }));
    },
    // 带格式的指标值
    indicatorValueWithFormat() {
      return value => {
        return (
          this.indicatorValue_Prefix(this.numberFormatConfig) +
          this.indicatorValue_YXQ(this.numberFormatConfig, value) +
          this.indicatorValue_Unit(this.numberFormatConfig) +
          this.indicatorValue_Suffix(this.numberFormatConfig)
        );
      };
    }
  },
  mounted() {
    this.getTableHeight();
    window.onresize = this.getTableHeight;
  },
  beforeDestroy() {
    window.onresize = null;
  },
  methods: {
    /**
     * 窗口大小改变时，重新计算表格高度
     */
    getTableHeight() {
      this.tableHeight = this.$refs.tableContainer.clientHeight;
    },
    handleSpan({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 1 && columnIndex === 0) {
        return {
          rowspan: this.dataList.length - 1,
          colspan: 1
        };
      } else if (rowIndex > 1 && columnIndex === 0) {
        return {
          rowspan: 0,
          colspan: 0
        };
      }
    }
  }
};
</script>

<style lang="less" scoped>
.tableList-container {
  width: 100%;
  height: 100%;
  /deep/.ivu-table-wrapper {
    border: none;
    .ivu-table-header thead tr th {
      background: #cbdffc;
    }
  }
}
</style>
