<template>
  <div ref="customBarChart" class="rankingChart-container" :style="{ height: `${chartHeight > 250 ? chartHeight : 250}px` }"></div>
</template>

<script>
import * as echarts from "echarts";
import { on, off } from "@/libs/tools";
import echartsMixin from "../../../mixin/echartsMixin";

export default {
  mixins: [echartsMixin],
  props: {
    chartData: {
      type: Array,
      required: true
    },
    // 维度名称
    dimensionName: {
      type: String,
      required: true
    },
    chartHeight: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      dom: null
    };
  },
  computed: {},
  mounted() {
    this.$nextTick(() => {
      this.$erd.listenTo(this.$el, this.resize.bind(this)); // 元素容器大小改变，同时改变chart宽高
      this.dom = echarts.init(this.$refs.customBarChart);
      this.customChartInit();
    });
  },
  methods: {
    customChartInit() {
      const option = {
        xAxis: {
          type: "value",
          position: "top",
          axisLine: {
            show: false
          },
          axisLabel: {
            show: false
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: "#ECECEC",
              type: "dashed"
            }
          }
        },
        boundaryGap: false,
        grid: {
          containLabel: true,
          left: 0,
          right: 0,
          top: 0,
          bottom: 0
        },
        yAxis: {
          type: "category",
          inverse: true,
          data: this.chartData.map(ele => ele.name),
          axisLine: {
            show: true,
            lineStyle: {
              color: "rgba(0,0,0,0.25)"
            }
          },
          axisLabel: { show: true },
          axisTick: {
            show: true,
            lineStyle: {
              color: "rgba(206,206,208,0.95)"
            }
          }
        },
        tooltip: {
          trigger: "axis",
          formatter: param => {
            const index = param[0].dataIndex;
            const { name, momRatio } = this.chartData[index];
            return `<div>
                <div>${this.dimensionName}：<span>${name}</span></div>
                <div>维度成员贡献：<span>${momRatio}</span></div>
              <div>`;
          }
        },
        series: [
          {
            data: this.chartData,
            type: "bar",
            barWidth: 20,
            itemStyle: {
              normal: {
                color: params => {
                  const colorList = [
                    ["#8AA7E4", "#A9C3F5"],
                    ["#FF9C5B", "#FFC8A3"]
                  ];
                  const isNegative = this.chartData[params.dataIndex].momRatio.includes("-"); // 是否为负
                  const colorItem = isNegative ? colorList[1] : colorList[0];
                  return new echarts.graphic.LinearGradient(
                    0,
                    0,
                    1,
                    1,
                    [
                      {
                        offset: 0,
                        color: colorItem[0]
                      },
                      {
                        offset: 1,
                        color: colorItem[1]
                      }
                    ],
                    false
                  );
                }
              }
            }
          }
        ]
      };

      this.dom.setOption(option);

      //柱体点击事件
      this.dom.off("click");
      this.dom.on("click", ({ data }) => {
        event.stopPropagation();
        this.$emit("drill:down", data);
      });

      on(window, "resize", this.resize);
    },
    resize() {
      this.dom && this.dom.resize();
    }
  },
  beforeDestroy() {
    off(window, "resize", this.resize);
  },
  watch: {
    chartData: {
      handler() {
        this.customChartInit();
      },
      deep: true
    }
  }
};
</script>

<style lang="less" scoped>
.rankingChart-container {
  width: 100%;
  height: 100%;
}
</style>
