<template>
  <div class="tableList-container" ref="tableContainer">
    <Table stripe :border="false" :columns="tableColumns" :data="tableData"></Table>
    <div style="margin: 10px 0;text-align: right">
      <Page :total="dataList.length" :page-size="pageSize" @on-change="onChange" v-if="showPage"/>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import NumericFormatMixin from "@/mixins/NumericFormat";

export default {
  mixins: [NumericFormatMixin],
  props: {
    dataList: {
      type: Array,
      required: true
    },
    showPage: {
      type: Boolean,
      default: false
    },
    pageCount: {
      type: Number,
      default: 10
    },
  },
  data() {
    return {
      tableHeight: 0, // 表格高度
      pageNum: 1,
      // pageSize: 10
    };
  },
  computed: {
    ...mapState("indicator", ["numberFormatConfig"]),
    ...mapState("reasonAnalysis", ["analysisData"]),
    tableColumns() {
      const { startDate, endDate } = this.analysisData;
      return [
        {
          title: "维度值",
          key: "name"
        },
        {
          title: startDate,
          key: "start",
          width: 110
        },
        {
          title: endDate,
          key: "end",
          width: 110
        },
        {
          title: "变化值",
          key: "diffVal"
        },
        {
          title: "变化率",
          key: "diffPer"
        },
        {
          title: "贡献度",
          key: "contPer"
        }
      ];
    },
    tableData() {
      return this.dataList.slice((this.pageNum - 1) * 10, this.pageNum * this.pageSize).map(ele => ({
        ...ele,
        start: this.indicatorValueWithFormat(ele.start),
        end: this.indicatorValueWithFormat(ele.end),
      }))
    },
    pageSize(){
      return this.pageCount
    },
    // 带格式的指标值
    indicatorValueWithFormat() {
      return value => {
        return (
          this.indicatorValue_Prefix(this.numberFormatConfig) +
          this.indicatorValue_YXQ(this.numberFormatConfig, value) +
          this.indicatorValue_Unit(this.numberFormatConfig) +
          this.indicatorValue_Suffix(this.numberFormatConfig)
        );
      };
    }
  },
  mounted() {
    this.getTableHeight();
    window.onresize = this.getTableHeight;
  },
  beforeDestroy() {
    window.onresize = null;
  },
  methods: {
    /**
     * 窗口大小改变时，重新计算表格高度
     */
    getTableHeight() {
      this.tableHeight = this.$refs.tableContainer.clientHeight;
    },
    onChange(page) {
      this.pageNum = page
    }
  }
};
</script>

<style lang="less" scoped>
.tableList-container {
  width: 100%;
  //height: 100%;
  /deep/.ivu-table-wrapper {
    border: none;
    //height: 100%;
    .ivu-table-header thead tr th {
      background: #cbdffc;
    }
  }
}
</style>
