<template>
  <div class="filterSearch-container">
    <div class="searchBox">
      <span>触发时间：</span>
      <DatePicker :value="dateRangeArr" 
        :editable="false"
        format="yyyy-MM-dd" 
        type="daterange" 
        placeholder="请选择日期"
        placement="bottom-end" 
        style="width: 200px"
        @on-change="changeTimeRange"
      >
      </DatePicker>
      <!-- <Input v-model="searchCondition.date" maxlength="30" clearable placeholder="请输入名称" style="width: 200px" /> -->
    </div>
    <div class="searchBox">
      <span>处理状态：</span>
      <Select class="watchWrapper" v-model="searchCondition.dealStatus" style="width: 160px">
        <Option :value="0">全部</Option>
        <Option :value="1">待处理</Option>
        <Option :value="2">处理中</Option>
        <Option :value="3">已处理</Option>
      </Select>
    </div>
    <div class="searchBox">
      <span>触发结果：</span>
      <!-- 预警 -->
      <Select class="watchWrapper" v-if="type ===1" v-model="searchCondition.level" style="width: 160px">
        <Option :value="0">全部</Option>
        <Option :value="1">一级预警</Option>
        <Option :value="2">二级预警</Option>
        <Option :value="3">三级预警</Option>
      </Select>
      <!-- 目标 -->
      <Select class="watchWrapper" v-if="type ===2" v-model="searchCondition.level" style="width: 160px">
        <Option :value="0">全部</Option>
        <Option :value="1">高风险</Option>
        <Option :value="2">中风险</Option>
        <Option :value="3">低风险</Option>
      </Select>
    </div>
    <Button class="searchBtn" @click="searchTable">查询</Button>
  </div>
</template>

<script>
export default {
  props: {
    searchCondition: {
      type: Object,
      required: true
    },
    type: {
      type: Number,
      require: true
    },
    dateRangeArr: {
      type: Array,
      default: ()=>[]
    }
  },
  methods: {
    changeTimeRange(date){
      this.$emit('changeTimeRange', date)
    },
    /**
     * 搜索
     */
    searchTable() {
      this.$emit("searchTable");
    }
  }
};
</script>

<style lang="less" scoped>
.filterSearch-container {
  display: flex;
  align-items: center;
  .searchBox {
    display: flex;
    align-items: center;
    margin-right: 24px;

    // 监测状态
    /deep/.watchWrapper {
      .ivu-select-selection > div {
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  .searchBtn {
    background: #3f73ff;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ffffff;
    width: 72px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
