<template>
  <Modal class="TriggerHistoryModal-container" 
    :value="showHistory" 
    :title="`${name}触发历史`" 
    width="1074" 
    @on-cancel="onCancel" 
    footer-hide
  >
    <div class="content-all">
      <FilterSearch :search-condition="searchCondition" 
        :type="type" 
        :dateRangeArr="dateRangeArr"
        @changeTimeRange="changeTimeRange" 
        @searchTable="searchTable"
      />
      <div class="table-all">
        <Table :columns="columnsList" :data="historyDataList" height="517">
          <template slot-scope="{ row }" slot="createTime">
            <span>{{ timestampToDateStr(row.createTime) }}</span>
          </template>
          <template slot-scope="{ row }" slot="rule">
            <span class="rule-text" :title="getRuleText(row)">{{ getRuleText(row) }}</span>
          </template>
          <!-- 触发结果 -->
          <template slot-scope="{ row }" slot="execStatus">
            <div>
              <div class="watchErrorLabel" v-if="row.execStatus === 2">
                <img src="@/assets/icons/earlyWarningTarget/watchError.svg" alt="" />
                <span>失败</span>
              </div>
              <span class="watchStatusLabel" v-if="row.execStatus === 3"
                :style="{ 
                  background: watchStatusColor(row.level),
                  color: !row.execStatus ? '#515A6E' : '#fff'
                }"
              >{{watchStatusText(row.level)}}</span>
            </div>
          </template>
          <!-- 处理结果 -->
          <template slot-scope="{ row }" slot="dealStatus">
            <!-- <div class="handleBox" v-if="isHandle(row)"> -->
            <div class="handleBox">
              <div class="statusText">
                <!-- 状态 -->
                <span :style="{
                  color: row.dealStatus === 1 ? '#F78C22' : row.dealStatus === 2 ? '#84C52F' : '#333'}"
                >
                  {{handleStatusShow(row.dealStatus)}}
                </span>
                <!-- 是否需要处理 -->
                <span v-if="isHandle(row)" :style="{ 
                  color: handleStatusColor(row.dealStatus), 
                  cursor: row.dealStatus === 1 || row.dealStatus === 2 ? 'pointer' : '',
                  borderBottom: row.dealStatus === 1 || row.dealStatus === 2 ? '1px solid #3F73FF' : 'none' }"
                  @click="changeHandleStatus(row)"
                >{{ handleStatusText(row.dealStatus) }}</span>
              </div>
              <div class="timeText" :style="{ 
                color: row.dealTime < 0 ? '#F86666' : '#7f7f7f' }"
              >{{ handleTimeText(row) }}</div>
            </div>
          </template>
          <template slot-scope="{ row }" slot="remark">
            <div class="remark-text" :title="row.remark">{{row.remark}}</div>
          </template>
        </Table>
      </div>
      <div class="pagination">
        <Page :total="historyTotal" 
          :current="pageObj.pageNum"
          :pageSize="pageObj.pageSize"
          show-sizer 
          show-elevator 
          show-total 
          @on-change="changePage"
          @on-page-size-change="changeSize"
        />
      </div>
    </div>
  </Modal>
</template>

<script>
import { RULE_TEXT, DEFAULT_SHOW } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";
import FilterSearch from "./FilterSearch.vue";
import moment from "moment";
import { mapState } from "vuex";

export default {
  props: {
    name: {
      type: String,
      default: ''
    },
    showHistory: {
      type: Boolean,
      required: true
    },
    listId: {
      type: String,
      required: true
    },
    type: {
      type: Number,
      require: true
    },
    historyDataList: {
      type: Array,
      required: true
    },
    historyTotal: {
      type: Number,
      required: true
    },
    manager: {
      type: String,
      required: true
    }
  },
  components: {
    FilterSearch
  },
  computed:{
    ...mapState("earlyWarningTarget", ["allIndicator", "allDimension"]),
  },
  data() {
    return {
      dateRangeArr: [],
      searchCondition: {
        dealStatus: 0,
        level: 0,
        startDate: '',
        endDate: '',
      },
      pageObj: {
        pageSize: 10,
        pageNum: 1,
      },
      columnsList: [
        { title: '序号', type: "index", width: 60 },
        { title: '触发时间', slot: 'createTime', width: 160 },
        { title: '规则', slot: 'rule' },
        { title: '触发值', key: 'limitValue' },
        { title: '触发结果', slot: 'execStatus'},
        { title: '处理状态', slot: 'dealStatus'},
        { title: '处理备注', slot: 'remark'},
        { title: '处理人', key: 'dealUserName'},
      ],
    };
  },
  watch: {
    showHistory(val) {
      if (val) {
        this.getDataList();
      }
    }
  },
  methods: {
    searchTable(){
      this.pageObj.pageNum= 1;
      this.getDataList();
    },
    timestampToDateStr(timestamp) {
      return moment(timestamp).format("YYYY-MM-DD HH:mm:ss");
    },
    // 是否可以处理预警
    isHandle({ handleStatus }) {
      return this.manager === this.$store.state.user.userName && handleStatus !== -1
    },
    getRuleText(data) {
      // 仅存在一条规则时展示
      if (data.sourceType && data.sourceValue) {
        const { sourceType, sourceValue, conditionType, valueType, value } = data;
        // 当前
        let curValue = "";
        if (sourceType === 2) {
          // 公式
          curValue = sourceValue.replace(/\[(.*?)\]/gi, match => {
            const indicatorId = match.slice(3, -1);
            return this.allIndicator.find(ele => ele.id === Number(indicatorId))?.name;
          });
        } else if (sourceType === 3) {
          // 指标
          const indicatorId = sourceValue.split("_")[1];
          curValue = this.allIndicator.find(ele => ele.id === Number(indicatorId))?.name;
        } else if (sourceType === 4) {
          // 动态指标
          const [dimensionId, str] = sourceValue.split("|");
          const indicatorId = str.split("_")[1];
          const dimensionName = this.allDimension.find(ele => ele.id === Number(dimensionId))?.name;
          const indicatorName = this.allIndicator.find(ele => ele.id === Number(indicatorId))?.name;
          curValue = `(${dimensionName}+${indicatorName})`;
        }

        const condition = RULE_TEXT.find(ele => ele.value === conditionType).label;

        // 目标
        let targetValue = "";
        if (valueType === 1) {
          // 常量
          targetValue = value;
        } else if (valueType === 2) {
          // 公式
          targetValue = value.replace(/\[(.*?)\]/gi, match => {
            const indicatorId = match.slice(3, -1);
            return this.allIndicator.find(ele => ele.id === Number(indicatorId))?.name;
          });
        } else if (valueType === 3) {
          // 指标
          const indicatorId = value.split("_")[1];
          targetValue = this.allIndicator.find(ele => ele.id === Number(indicatorId))?.name;
        }

        return curValue + condition + targetValue;
      } else {
        return DEFAULT_SHOW;
      }
    },
    async getDataList(){
      const params = {
        id: this.listId,
        pageSize: this.pageObj.pageSize,
        pageNum: this.pageObj.pageNum,
        dealStatus: this.searchCondition.dealStatus === 0 ? '' : this.searchCondition.dealStatus,
        level: this.searchCondition.level === 0 ? '' : this.searchCondition.level,
        startDate: this.searchCondition.startDate,
        endDate: this.searchCondition.endDate,
      }
      this.$emit('queryHistoryList', params);
    },
    changePage(current) {
      this.pageObj.pageNum = current;
      this.getDataList()
    },
    changeSize(size) {
      this.pageObj.pageNum = 1;
      this.pageObj.pageSize = size;
      this.getDataList()
    },
    changeTimeRange(date){
      this.searchCondition.startDate = date[0];
      this.searchCondition.endDate = date[1];
    },
    watchStatusText(status) {
      if(this.type === 1){
        if (status === 1) {
          return "一级预警";
        } else if (status === 2) {
          return "二级预警";
        } else if (status === 3) {
          return "三级预警";
        } else {
          return '——'
        }
      }else{
        if (status === 1) {
          return "高风险";
        } else if (status === 2) {
          return "中风险";
        } else if (status === 3) {
          return "低风险";
        } else {
          return '——'
        }
      }
    },
    watchStatusColor(status) {
        if (status === 1) {
          return "#F86666";
        } else if (status === 2) {
          return "#F78C22";
        } else if (status === 3) {
          return "#FFCB5F";
        }
    },
    handleStatusShow(status) {
      if (status === 1) {
        return "待处理";
      } else if (status === 2) {
        return "处理中";
      } else if (status === 3) {
        return "已处理";
      } else {
        return ''
      }
    },
    handleStatusText(status) {
      if (status === 1) {
        return ">去处理";
      } else if (status === 2) {
        return ">完成";
      }
    },
    handleStatusColor(status) {
      if (status === 1 || status === 2) {
        return "#3F73FF";
      } else {
        return "rgba(0,0,0,0.50)";
      }
    },
    handleTimeText(data) {
        const handleTime = this.getHandleTime(data);
        const handleStatus = data.execStatus === 3 ? data.dealStatus : -1
        if (handleStatus === 1) {
          return "未开始";
        } else if (handleStatus === 2) {
          if (handleTime[0] > 0) {
            return "剩余：" + handleTime[0] + "天" + handleTime[1] + "小时" ;
          } else {
            return "已逾期" + Math.abs(handleTime[0]) + "天" + Math.abs(handleTime[1]) + "小时";
          }
        } else if (handleStatus === 3) {
          return "用时：" + handleTime[0] + "天" + handleTime[1] + "小时";
        }
    },
    /**
     * 获取处理时间
     */
     getHandleTime(execRecord) {
      if (execRecord) {
        const { dealStatus } = execRecord;
        if (dealStatus === 2) {
          // 剩余时间
          const { dealEndTime } = execRecord;
          const curTime = new Date().getTime();
          let timesAll = (dealEndTime - curTime) / 1000;
          let time = parseInt(timesAll / 3600 / 24); // 天数
          let hour = parseInt(timesAll / 3600 % 24); // 小时

          return [time, hour];
        } else if (dealStatus === 3) {
          // 完成时间
          const { dealStartTime, dealTime } = execRecord;
          let timesAll = (dealTime - dealStartTime) / 1000;
          let time = parseInt(timesAll / 3600 / 24); // 天数
          let hour = parseInt(timesAll / 3600 % 24); // 小时

          return [time, hour];
        }
      } else {
        return [0, 0];
      }
    },
    /**
     * 改变处理状态
     */
     changeHandleStatus(data) {
      const title = this.name;
      const { taskId, dealStatus, dealUserName, id } = data;
      const searchParams = {
        id: this.listId,
        pageSize: this.pageObj.pageSize,
        pageNum: this.pageObj.pageNum,
        dealStatus: this.searchCondition.dealStatus === 0 ? '' : this.searchCondition.dealStatus,
        level: this.searchCondition.level === 0 ? '' : this.searchCondition.level,
        startDate: this.searchCondition.startDate,
        endDate: this.searchCondition.endDate,
      }
      const params = {
        id: taskId,
        title: title,
        handleStatus: dealStatus,
        manager: dealUserName,
        execRecord: {
          id,
        },
        source: 'history',
        searchParams: searchParams
      }
      this.$emit("changeHandleStatus", params);
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.searchCondition= {
        dealStatus: 0,
        level: 0,
        startDate: '',
        endDate: '',
      };
      this.pageObj= {
        pageSize: 10,
        pageNum: 1,
      };
      this.$emit("closeHistoryModal");
    }
  }
};
</script>

<style lang="less" scoped>
.TriggerHistoryModal-container {
  /deep/.ivu-modal {
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-body {
        padding: 24px;
        height: 670px;
      }
    }
  }
  .content-all{
    .table-all{
      margin-top: 16px;
      /deep/ .ivu-table-wrapper{
        border: none;
        .ivu-table:after{
          height: 0;
        }
      }
      .rule-text{
        display: inline-block;
        padding: 3px 7px;
        background: rgba(0, 0, 0, 0.03);
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
        letter-spacing: 0;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .watchStatusLabel {
        display: inline-block;
        width: 64px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 0;
        border-radius: 4px;
      }
      .handleBox {
        .statusText {
          font-family: PingFangSC-Medium;
          font-size: 12px;
          letter-spacing: 0;
          font-weight: 500;
        }
        .timeText {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          letter-spacing: 0;
          margin-top: 4px;
        }
      }
      .remark-text{
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .pagination{
      margin-top: 30px;
      text-align: right;
    }
  }
  
}
</style>
