<template>
  <div class="chartWrapper-container" :class="{ imageClass: chartData.id === 'CustomImage', inputClass: isTextAreaChart }">
    <div :id="'chartContainer' + chartData.chartId" :class="isTextAreaChart ? 'drawing-area-wrap-textarea' : 'drawing-area-wrap'">
      <!-- 公共标题 -->
      <div v-if="!isTextAreaChart" :id="'chart_title_' + chartData.chartId" class="common-title-wrap child-horizon-center">
        <ChartTitle :titleValue="chartData.style" />
      </div>
      <div class="common-setting-wrap" v-if="chartDataConfig.displayPrivateDate && chartDataData.endDate">
        {{ privateDateRange }}
      </div>

      <div
        :class="isTextAreaChart ? 'chart-view-container-textarea' : 'chart-view-container'"
        :style="{ height: chartTitleAndDateHeight ? `calc(100% - ${chartTitleAndDateHeight}px)` : '100%' }"
        @mouseup="onMouseupFuu"
      >
        <div
          :class="chartDataConfig.isOpenPrivateDate ? 'chart-area-wrap' : isTextAreaChart ? 'chart-area-wrap-full-textarea' : 'chart-area-wrap-full'"
        >
          <keep-alive>
            <CustomImageWrapper v-if="chartData.id === 'CustomImage'" />
            <component
              v-else
              ref="chart"
              :is="chartData.id"
              mode="out-in"
              :chartId="chartData.chartId"
              :isActive="true"
              :chartData="chartData"
              :chartBoundingClientRect="chartBoundingClientRect"
              :editable="editable"
              :propertyData="chartData.data"
              :propertyStyle="chartData.style"
              :startDate="chartData.startDate"
              :endDate="chartData.endDate"
              :imgHeight="imgHeight"
              :chartSwitchType="switchChartType"
              :scaleRatio="1"
              :defaultShow="chartData.defaultShow"
              @changeDefaultShow="changeDefaultShow"
              @sendTableSize="getTableSize"
              @addChartFromTab="sendChartToTemplate"
            />
          </keep-alive>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// 图表组件
import CustomTable from "@/view/report/chart/customTableTest";
import SimpleLine from "@/view/report/chart/Line";
import BasicRadar from "@/view/report/chart/Radar.vue";
import SimpleBar from "@/view/report/chart/Bar";
import SimplePie from "@/view/report/chart/Pie";
import SimpleScatter from "@/view/report/chart/Scatter";
import MixLineBar from "@/view/report/chart/LineBar";
import DoublePie from "@/view/report/chart/DoublePie";
import Indicator from "@/view/report/chart/Indicator/index";
import IndexBoard from "@/view/report/chart/IndexBoard";
import SimpleGauge from "@/view/report/chart/Gauge";
import ComplexTextarea from "@/view/report/chart/textarea/ComplexTextarea";
import SimpleMap from "@/view/report/chart/Map";
import SimpleBubble from "@/view/report/chart/Bubble";
// import MultiplePie from "@/view/report/chart/MultiplePie";
import CustomImageWrapper from './CustomImageWrapper'

import moment from "moment";
import ChartTitle from "@/components/charts/title.vue";
import { mapActions, mapGetters } from "vuex";
import _ from "lodash";
import { YEAR_HOLIDAYS } from "@/config/YearHolidays";

const PERIOD_TYPE_DAY = "2";
const support_date_setting_charts = [
  "SimpleTable",
  "CustomTable",
  "SimpleBar",
  "SimplePie",
  "SimpleLine",
  "BasicRadar",
  "DoublePie",
  "MixLineBar",
  "SimpleGauge",
  "Indicator",
  "SimpleBubble",
  "SimpleScatter"
];

export default {
  components: {
    CustomTable,
    SimpleLine,
    BasicRadar,
    SimpleBar,
    SimplePie,
    SimpleScatter,
    MixLineBar,
    DoublePie,
    Indicator,
    IndexBoard,
    SimpleGauge,
    ComplexTextarea,
    SimpleMap,
    // MultiplePie,
    CustomImageWrapper,
    ChartTitle,
    SimpleBubble
  },
  props: {
    chartData: {
      type: Object,
      default: null
    },
    editable: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    ...mapGetters(["currentSelectChart", "currentChartId", "allDimensions"]),
    privateDateRange() {
      if (this.chartDataData.startDate === this.chartDataData.endDate) {
        return this.chartDataData.startDate;
      }
      return this.chartDataData.startDate + "~" + this.chartDataData.endDate;
    },
    isTextAreaChart() {
      return this.chartData.id === "ComplexTextarea";
    },
    chartTitleAndDateHeight() {
      return this.chartTitleHeight + this.chartDatePickerHeight;
    },
    chartDatePickerHeight() {
      return this.showDate || this.chartDataData.endDate ? 26 : 0;
    },
    reportPeriodType() {
      return this.$store.state.chart.reportDate.length > 3 ? this.$store.state.chart.reportDate[3] : PERIOD_TYPE_DAY;
    },
    currentSwitchChart() {
      return this.switchChartTypeArr.find(item => item.chartType === this.switchChartType);
    },
    chartDataData() {
      return this.chartData.data || {};
    },
    chartDataConfig() {
      return this.chartDataData.configData || {};
    },
    reportThemeStyle() {
      return (this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle) || "1";
    },
    currentReportTheme() {
      return this.reportThemeStyle === "2" ? "black" : "default";
    }
  },
  data() {
    return {
      comparePreDate: null,
      boo: false,
      boo2: false,
      boo3: true,
      showDate: false,
      isPlusHeight: false,
      imgHeight: null,
      dateChangeBoo: false,
      chartBoundingClientRect: {},
      dateChange: {
        endDate: ""
      },
      switchChartType: null,
      chartTitleHeight: 0,
      datePickerOptions: {
        disabledDate: date => {
          //这里写上自己的逻辑，返回true，表示当前日期需要设置为不可选
          let disabled = true;
          // 节假日（非交易日）不可选
          const dateStr = moment(date).format("YYYYMMDD");
          if (_.indexOf(YEAR_HOLIDAYS, dateStr) === -1) {
            disabled = false;
          }
          return disabled;
        }
      },
      childSize: { width: 0, height: 0 },
      switchChartTypeArr: Object.freeze([
        {
          chartType: "SimpleLine",
          icon: require("@/assets/icons/chart/chart_type_change/line_black.svg"),
          chartName: "折线图"
        },
        {
          chartType: "BasicRadar",
          icon: require("@/assets/icons/chart/chart_type_change/radar_black.svg"),
          chartName: "雷达图"
        },
        {
          chartType: "SimpleBar",
          icon: require("@/assets/icons/chart/chart_type_change/bar_black.svg"),
          chartName: "柱状图"
        },
        {
          chartType: "CustomTable",
          icon: require("@/assets/icons/chart/chart_type_change/table_black.svg"),
          chartName: "表格"
        },
        {
          chartType: "MixLineBar",
          icon: require("@/assets/icons/chart/chart_type_change/lineBar_black.svg"),
          chartName: "双轴图"
        },
        {
          chartType: "SimplePie",
          icon: require("@/assets/icons/chart/chart_type_change/pie_black.svg"),
          chartName: "饼图"
        },
        {
          chartType: "DoublePie",
          icon: require("@/assets/icons/chart/chart_type_change/dbCircle_black.svg"),
          chartName: "双环图"
        },
        {
          chartType: "SimpleGauge",
          icon: require("@/assets/icons/chart/chart_type_change/gauge_black.svg"),
          chartName: "仪表盘"
        },
        {
          chartType: "Indicator",
          icon: require("@/assets/icons/chart/chart_type_change/indicator_black.svg"),
          chartName: "指标卡"
        },
        {
          chartType: "IndexBoard",
          icon: require("@/assets/icons/chart/chart_type_change/indexBoard_black.svg"),
          chartName: "指标组"
        }
      ]),
      defaultValueSettingShow: false,
      cascaderVisible: false,
      targetReport: ""
    };
  },
  mounted() {
    this.switchChartType = this.chartData.id;
    this.chartData.hasOwnProperty("dateRangeValue") && this.chartData.endDate !== null ? (this.showDate = true) : (this.showDate = false);
    this.$nextTick(() => {
      const commonTitleWrapDom = document.getElementById("chart_title_" + this.chartData.chartId);
      this.chartTitleHeight = (commonTitleWrapDom && commonTitleWrapDom.offsetHeight) || 0;
    });
  },
  methods: {
    ...mapActions(["setCurrentSelectChart"]),
    handleSettingChecked() {
      this.setChartDeactivation(true);
    },

    sendChartToTemplate(chart) {
      this.$emit("getChartFromTab", chart);
    },

    onMouseupFuu(e) {
      const { bottom, height, left, right, top, width, x, y } = e.currentTarget.getBoundingClientRect();
      this.chartBoundingClientRect = { bottom, height, left, right, top, width, x, y };
    },

    getTableSize(size) {
      size.width > this.chartData.width ? (this.childSize.width = size.width - 330) : (this.childSize.width = 0);
      size.height > this.chartData.height ? (this.childSize.height = size.height - 180) : (this.childSize.height = 0);
    },

    handleShowDate() {
      if (!this.showDate) {
        this.chartData.height += 30;
        this.imgHeight = 10;
        this.showDate = true;
      } else {
        this.chartData.height -= 30;
        this.imgHeight = 0;
        this.showDate = false;
      }
    },
    // 临时调整组件层级至顶层
    needTempImproveLevel(chartId) {
      return _.indexOf(["ComplexTextarea"], chartId) === -1;
    },

    isSupportDateSetting(chartId) {
      return _.indexOf(support_date_setting_charts, chartId) !== -1;
    },

    canShowExtraSetting(chartData) {
      return (
        this.editable &&
        this.isSupportDateSetting(chartData.id) &&
        (chartData.data.configData.isOpenCompareBeforeTime ||
          chartData.data.configData.isOpenProportion ||
          chartData.data.configData.isOpenThreshold) &&
        chartData.id !== "Indicator"
      );
    },

    canChangeChartType(chartType) {
      const supportChangeChartTypes = this.chartData.data.configData.supportChangeChartTypes;
      let flag = supportChangeChartTypes && _.indexOf(supportChangeChartTypes, chartType) !== -1;
      if (flag) {
        let dataDimension = this.chartData.data.dimension;
        let dataIndicator = this.chartData.data.indicator;
        switch (this.chartData.id) {
          case "CustomTable":
            if (chartType === "Indicator") {
              flag = dataDimension && dataDimension.length === 0 && dataIndicator && dataIndicator.length === 1;
            } else if (chartType === "SimpleLine" || chartType === "SimpleBar" || chartType === "MixLineBar" || chartType === "IndexBoard" || chartType === 'BasicRadar') {
              flag = dataDimension && dataDimension.length === 1 && dataIndicator && dataIndicator.length > 0;
            } else if (chartType === "SimplePie") {
              flag = dataDimension && dataDimension.length === 1 && dataIndicator && dataIndicator.length === 1;
            } else if (chartType === "DoublePie") {
              flag = dataDimension && dataDimension.length === 2 && dataIndicator && dataIndicator.length === 1;
            }
            break;
          case "SimpleLine":
            if (chartType === "SimplePie") {
              flag = dataIndicator && dataIndicator.length === 1;
            }
            break;
          case "BasicRadar":
            if (chartType === "SimplePie") {
              flag = dataIndicator && dataIndicator.length === 1;
            }
            break;
          case "SimpleBar":
            if (chartType === "SimplePie") {
              flag = dataIndicator && dataIndicator.length === 1;
            }
            break;
          case "MixLineBar":
            if (chartType === "SimplePie") {
              flag = dataIndicator && dataIndicator.length === 1;
            }
            break;
        }
      }
      return flag;
    },
    changeDefaultShow(param) {
      this.chartData.defaultShow = param;
    }
  },
  watch: {
    "dateChange.endDate": {
      handler(val, oldVal) {
        if (val !== oldVal) {
          this.dateChangeBoo = true;
          this.showDate = true;
        }
        if (val === "") {
          this.dateChangeBoo = false;
          this.showDate = false;
        }
      },
      deep: true
    },
    dateChangeBoo(val, old) {
      return val;
    },
    "chartData.style": {
      handler(val, oldVal) {
        this.$nextTick(() => {
          // 设置标题高度
          const commonTitleWrapDom = document.getElementById("chart_title_" + this.chartData.chartId);
          if (val.title) {
            this.chartTitleHeight = (commonTitleWrapDom && commonTitleWrapDom.offsetHeight) || 0;
          } else {
            this.chartTitleHeight = 0;
          }
        });
        this.chartData.height = val.height;
        this.chartData.width = val.width;
      },
      deep: true
    },
    // 切换图表类型时，重新计算图表标题的高度
    "chartData.id": {
      handler() {
        this.$nextTick(() => {
          const commonTitleWrapDom = document.getElementById("chart_title_" + this.chartData.chartId);
          this.chartTitleHeight = (commonTitleWrapDom && commonTitleWrapDom.offsetHeight) || 0;
        });
      }
    }
  }
};
</script>

<style lang="less" scoped>
.chartWrapper-container {
  background: #ffffff;
  border: 1px solid transparent;
  position: relative;
  &.imageClass {
    background: transparent !important;
  }
  &.inputClass {
    border: none;
  }
  .drawing-area-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .drawing-area-wrap-textarea {
    height: 100%;
    width: 100%;
  }
  .child-horizon-center {
    width: 100%;
  }
  .common-setting-wrap {
    margin: 9px 10px 5px 0;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
  }
}

.text-area-butt {
  width: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: -34px;

  .img-wrapper {
    width: 150px;
    text-align: left;
  }

  .img-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;

    .but {
      padding: 0 10px;
      background-color: #ffffff;
      line-height: 32px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.36);
      letter-spacing: 0;
      text-align: left;
      font-weight: 400;
      height: 32px;
      width: 55px;
    }

    .user-select-none {
      -ms-user-select: none;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -webkit-touch-callout: none;
    }
  }
}

.componentImg {
  position: absolute;
  top: 10px;
  left: 14px;
}

.chartTypeChangeDropdown {
  .ivu-select-dropdown {
    .ivu-dropdown-item {
      img {
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
}

.chart-view-container {
  width: 100%;
  flex: 1;
  /* 百分百会留背景白边 */
  overflow: auto;
  position: relative;
}
</style>

<style>
.vdr {
  border: 0px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  opacity: 1;
  cursor: move;
}

.child-vertical-center {
  display: flex;
  align-items: center;
}

.child-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-view-container-textarea {
  width: 100%;
  height: calc(100% - 20px);
  /* 百分百会留背景白边 */
  /*overflow: auto;*/
  position: relative;
  /*padding: 10px;*/
}

.chart-area-wrap {
  height: 100%;
  width: 100%;
}

.chart-area-wrap-full {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.chart-area-wrap-full-textarea {
  height: 100%;
  width: 100%;
}

.date-picker-container {
  height: 26px;
  width: 100%;
  display: flex;
  align-items: center;
}

.indicatorItemBox {
  padding: 0px 12px;
  line-height: 34px;
  color: #333333;
}

.indicatorItemBox:hover {
  background: rgba(142, 175, 243, 0.1);
}
</style>
