<template>
  <div class="customImageWrapper-container">
    <div class="defaultWrapper" v-if="!isUploadedImg">
      <img src="@/assets/images/resourceManage/uploadImg.svg" alt="" />
      <p class="tipText">您还没有上传图片，请上传！</p>
      <Upload :before-upload="handleBeforeUpload" accept="image/jpeg, image/png" action="#">
        <span class="uploadText">图片上传</span>
      </Upload>
    </div>
    <template v-else>
      <div class="updateWrapper">
        <CustomImage
          class="imgShowWrapper"
          :style="{ width: imgWrapperWidth + 'px', height: imgWrapperHeight + 'px' }"
          :propertyData="currentSelectChartData"
          :propertyStyle="currentChartStyle"
        />
      </div>
      <Upload :before-upload="handleBeforeUpload" accept="image/jpeg, image/png" action="#">
        <span class="uploadText updateImg">更改图片</span>
      </Upload>
    </template>
  </div>
</template>

<script>
import CustomImage from "@/view/report/chart/CustomImage";
import { uploadImg } from "@/api/report";
import { mapGetters } from "vuex";

export default {
  components: {
    CustomImage
  },
  data() {
    return {
      isUploadedImg: false, // 是否已经上传图片
      imgWrapperWidth: 0, // 已上传图片的宽
      imgWrapperHeight: 0, // 已上传图片的高
      imgSrc: "" // 已上传图片的id
    };
  },
  computed: {
    ...mapGetters(["currentSelectChart", "currentSelectChartData", "currentChartStyle"])
  },
  created() {
    const { type } = this.$route.query;
    if (type === "edit") {
      this.isUploadedImg = this.currentSelectChart.data.src !== null
      this.imgWrapperWidth = this.currentSelectChart.width
      this.imgWrapperHeight = this.currentSelectChart.height
    }
  },
  methods: {
    /**
     * 图片上传前
     */
    handleBeforeUpload(file) {
      const isImg = file.type === "image/jpeg" || file.type === "image/png";
      const isLt10M = file.size / 1024 / 1024 < 10;
      if (!isImg) {
        this.$Message.warning("上传图片只能是JPG/JPEG/PNG格式");
        return false;
      }
      if (!isLt10M) {
        this.$Message.warning("上传图片大小不能超过10MB");
        return false;
      }
      const reader = new FileReader();
      reader.readAsDataURL(file);
      let width;
      let height;
      reader.onload = function() {
        let img = new Image();
        img.src = reader.result;
        if (img.complete) {
          // 如果存在浏览器缓存中
          width = img.width;
          height = img.height;
          return false;
        } else {
          img.onload = function() {
            width = img.width;
            height = img.height;
            return false;
          };
        }
      };
      this.uploadImg(file).then(res => {
        if (res) {
          this.createImage(width, height, res);
          this.isUploadedImg = true;
        }
      });
      return false;
    },
    async uploadImg(file) {
      let formData = new FormData();
      formData.append("file", file);
      return await uploadImg(formData)
        .then(res => {
          if (res.data.state === "success") {
            const { data } = res.data;
            return data.id;
          } else {
            this.$Message.warning("图片上传失败");
            return false;
          }
        })
        .catch(err => {
          this.$Message.warning("图片上传失败");
          return false;
        });
    },
    createImage(width, height, src) {
      this.imgWrapperWidth = width;
      this.imgWrapperHeight = height;

      this.currentSelectChart.data.src = src;
      this.currentSelectChart.width = width;
      this.currentSelectChart.height = height;
      this.currentSelectChart.style.width = width;
      this.currentSelectChart.style.height = height;
      this.currentSelectChart.defaultShow = false;
    }
  }
};
</script>

<style lang="less" scoped>
.customImageWrapper-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .defaultWrapper {
    text-align: center;
    .tipText {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.3);
      margin-top: 10px;
      margin-bottom: 16px;
    }
  }
  .updateWrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    .imgShowWrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .uploadText {
    border: 1px solid #3f73ff;
    border-radius: 2px;
    padding: 6px 12px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #3f73ff;
    line-height: 20px;
    cursor: pointer;
    box-sizing: border-box;
    &.updateImg {
      position: absolute;
      top: 16px;
      right: 20px;
    }
  }
}
</style>
