<template>
  <div class="dataSelect-container">
    <div class="title">数据选择</div>
    <div class="content">
      <Input class="filterSearch" search clearable placeholder="请输入维度名/指标名/标签名" @on-change="onSearchDimensionOrIndicator" />
      <Tree class="selectTree" :data="treeData" :render="renderContent" empty-text="暂无数据，请去数据资产菜单下创建维度/指标" :multiple="true" />
    </div>
  </div>
</template>

<script>
import { getDimensionTreeData } from "@/api/dimension";
import { queryDimensionAndIndicatorByLabel } from "@/api/label";
import { matchingRelation } from "@/api/realTimeAnalysis";
import _ from "lodash";
import { filterTree, deepCopy } from "@/utils/common";
import { mapState } from "vuex";
import { INDICATOR_OPTION_LIST, OUT_INDICATOR_TYPE } from "@/config/indicator";

export default {
  props: {
    currentChooseDimension: {
      type: Array,
      required: true,
    },
    currentChooseIndicator: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      treeData: [], // 数据资产树
      treeDataBak: [], // 数据资产树备份，用于搜索、过滤
      treeDataBakF: [], // 数据资产树（根据已选维度/指标的备份）
    };
  },
  computed: {
    ...mapState("resourceManage", ["allDimensions", "allIndicators"]),
    // 用于监听维度、指标是否有值
    dimAndInd() {
      return {
        dim: this.allDimensions,
        ind: this.allIndicators,
      };
    },
    isSelectDimOrInd() {
      return !!this.currentChooseDimension.length || !!this.currentChooseIndicator.length;
    },
  },
  watch: {
    dimAndInd: {
      handler(newVal) {
        const { dim, ind } = newVal;
        if (dim.length && ind.length) {
          this.generateTree();
        }
      },
      deep: true,
    },
  },
  async created() {
    this.treeDataBak = [];
  },
  methods: {
    /**
     * 数据资产树全局渲染函数
     * @param h
     * @param data
     */
    renderContent(h, { data }) {
      return (
        <div class="dataTitle" title={data.title} onClick={this.clickTitle}>
          <i class={{ catalogueTreeNode: !data.children }}></i>
          <span>{data.title}</span>
        </div>
      );
    },
    /**
     * 点击标题时，也展开Tree
     */
    clickTitle(e) {
      for (let i = 0; i < e.path.length; i++) {
        if (e.path[i].classList.contains("ivu-tree-title")) {
          if (e.path[i].previousElementSibling.offsetHeight !== 0) {
            e.stopPropagation();
            e.path[i].previousElementSibling.click();
          }
          break;
        }
      }
    },
    /**
     * 生成数据资产树
     */
    async generateTree() {
      const groups = await this.getGroups();

      // 构建树
      let tree = [
        {
          id: -1,
          isGroup: true,
          title: "数据资产",
          expand: true,
        },
      ];
      // 全部的维度和指标
      const allData = [...groups, ...this.allDimensions, ...this.allIndicators];
      const finalTree = this.generateTreeNode(tree, allData);
      this.treeData = finalTree;
      this.treeDataBak = deepCopy(this.treeData); // 备份数据资产树，用于搜索
    },
    /**
     * 获取资产目录
     */
    async getGroups() {
      const { data } = await getDimensionTreeData();
      if (data?.state === "success") {
        return data.data.dimensionGroupList;
      } else {
        this.$Message.error("获取目录分组失败");
      }
    },
    /**
     * 递归生成子目录和节点
     * @param parent 初始树结构
     * @param all 所有数据
     */
    generateTreeNode(parent, all) {
      return parent.map((parentItem) => {
        const children = all
          .filter((allItem) => {
            let parentId = allItem.parentId || allItem.groupId;
            return parentId === parentItem.id;
          })
          .map((childrenItem) => ({
            ...childrenItem,
            id: childrenItem.id,
            isGroup: childrenItem.hasOwnProperty("parentId"),
            title: childrenItem.name,
            type: childrenItem.type,
            calculateType: childrenItem.calculateType,
            render: childrenItem.hasOwnProperty("groupId") ? this.nodeRenderContent : null,
          }));
        return {
          ...parentItem,
          children: children.length ? this.generateTreeNode(children, all) : [],
          expand: !!children.length,
          disabled: !children.length,
        };
      });
    },
    /**
     * 数据资产树单独节点渲染函数
     * @param h
     * @param data
     */
    nodeRenderContent(h, { data }) {
      return (
        <span style="width:100%">
          <span style="width:100%;display:flex;alignItems:center">
            <i class={this.getClassNameByType(data)}></i>
            <span
              class="valuetitle"
              title={data.title}
              draggable
              onDragstart={(e) => {
                this.handleDragStart(e, data);
              }}
            >
              {data.title}
            </span>
          </span>
        </span>
      );
    },
    /**
     * 维度/指标对应的className
     */
    getClassNameByType({ type }) {
      if (type === 99) {
        return "dimensionTreeNode";
      } else {
        return INDICATOR_OPTION_LIST.find((ele) => ele.value === type)?.iconClass || "";
      }
    },
    /**
     * 树子节点拖拽
     * @param data
     */
    handleDragStart(e, data) {
      const dragData = JSON.stringify({
        ...data,
        type: Number(data.type),
        id: Number(data.id),
      });
      e.dataTransfer.setData("DRAG_NODE_DATA", dragData);
    },
    /**
     * 搜索维度、指标
     * @param event
     */
    async onSearchDimensionOrIndicator(event) {
      const value = event.target.value;
      const treeDataBak = this.isSelectDimOrInd ? this.treeDataBakF : this.treeDataBak;
      if (value) {
        const params = {
          name: value,
          type: 1,
        };
        const res = await queryDimensionAndIndicatorByLabel(params);
        if (res.data.state === "success") {
          const labelDimensions = res.data.data.map((item) => item.id);
          this.treeData = filterTree(treeDataBak, value, labelDimensions);
        } else {
          this.$Message.error("根据标签搜索维度失败");
        }
      } else {
        this.treeData = treeDataBak;
      }
    },
    /**
     * 根据已选维度、指标找到相关联的指标、维度，然后合并重新组成树
     * @param selectNodes
     */
    async refreshTreeData(dimensions, indicators, currentNode) {
      const { data } = await matchingRelation({ dimensions, indicators });
      if (data?.state === "success") {
        const dimensions = data.data.dimensions;
        const indicators = data.data.indicators?.map((item) => item.id);
        this.treeData = this.matchRelatedTree(dimensions, indicators, this.treeDataBak, currentNode);
        this.treeDataBakF = deepCopy(this.treeData); // 过滤后的备份数据
      } else {
        this.$Message.error("匹配关联维度或指标失败");
      }
    },
    /**
     * 递归匹配关联的维度、指标
     * @param dimensions
     * @param indicators
     * @param treeData
     */
    matchRelatedTree(dimensions, indicators, treeData, currentNode) {
      let newTreeData = [];

      if (!dimensions && !indicators) {
        // 存在维度时，过滤外部指标
        return this.currentChooseDimension.length ? this.filterOutIndicatorTree(deepCopy(treeData)) : treeData;
      }

      for (let treeItem of treeData) {
        // 保持节点的selected状态
        if (treeItem.id === currentNode?.id) {
          treeItem.selected = currentNode.selected;
        }
        // 如果关联维度为null，则代表可以匹配所有维度
        if ((!dimensions && treeItem.type === 99) || (dimensions && dimensions.includes(treeItem.id))) {
          newTreeData.push(treeItem);
          continue;
        }
        /**
         * 关联指标为null时
         * 1. 如果未选择维度，则可以匹配所有指标
         * 2. 如果已选择维度，则可以匹配除外部指标以外的所有指标
         */
        const canShowIndicator = this.currentChooseDimension.length
          ? treeItem.type && treeItem.type !== 99 && treeItem.type !== OUT_INDICATOR_TYPE
          : treeItem.type && treeItem.type !== 99;
        if ((!indicators && canShowIndicator) || (indicators && indicators.includes(treeItem.id))) {
          newTreeData.push(treeItem);
          continue;
        }
        // 如果没有匹配到关联的维度或者指标，递归该项的children，直到匹配到
        if (treeItem?.children?.length) {
          let newChildren = this.matchRelatedTree(dimensions, indicators, treeItem.children);
          if (newChildren.length) {
            let newTreeItem = {
              ...treeItem,
              children: newChildren,
              expand: true,
            };
            newTreeData.push(newTreeItem);
          }
        }
      }

      return newTreeData;
    },
    /**
     * 递归过滤外部指标
     */
    filterOutIndicatorTree(list = []) {
      return list.filter((ele) => {
        if (ele?.type === OUT_INDICATOR_TYPE) {
          return false;
        } else {
          ele.children = this.filterOutIndicatorTree(ele.children);
          return true;
        }
      });
    },
  },
};
</script>

<style lang="less" scoped>
.dataSelect-container {
  background: #ffffff;
  box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.1);
  .title {
    background: #f7f8fa;
    padding: 10px 17px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    font-weight: 600;
  }
  .content {
    padding: 10px 17px;
    height: calc(~"100% - 41px");
    .filterSearch {
      margin-bottom: 16px;
    }

    /deep/.selectTree.ivu-tree {
      overflow-y: scroll;
      overflow-x: hidden;
      height: calc(~"100% - 48px");

      .dataTitle {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .valuetitle {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        width: 100%;
        word-break: break-all;
      }

      // 树节点icon
      > ul > li:first-child > .ivu-tree-arrow-open:first-child .ivu-icon-ios-arrow-forward:first-child::before {
        content: url("~@/assets/images/system/treeRoot.svg");
      }
      .ivu-tree-arrow {
        width: auto;
        min-width: 5px;
        .ivu-icon-ios-arrow-forward::before {
          content: url("~@/assets/images/system/treePlusForManage.svg");
        }
      }
      .ivu-tree-arrow-open {
        .ivu-icon-ios-arrow-forward::before {
          content: url("~@/assets/images/system/treeMinusForManage.svg");
        }
      }
      .ivu-icon {
        transform: rotate(0deg);
      }

      .catalogueTreeNode {
        content: url("~@/assets/images/system/catalogueTreeNode.png");
        width: 16px;
        margin-right: 3px;
        vertical-align: -2px;
      }

      // 维度icon
      .dimensionTreeNode {
        content: url("~@/assets/icons/dimensionIcon/dimension.png");
        width: 16px;
        margin-right: 4px;
      }
      .ivu-tree-title.ivu-tree-title-selected .dimensionTreeNode {
        content: url("~@/assets/icons/dimensionIcon/dimensionBlue.png");
      }

      .ivu-tree-title {
        .treeEditBtn,
        .treeAddBtn,
        .treeDeleteBtn {
          vertical-align: middle;
          display: none;
        }
        .treeEditBtn {
          content: url("~@/assets/icons/dimensionIcon/treeEdit.svg");
          margin-right: 6px;
        }
        .treeAddBtn {
          content: url("~@/assets/icons/dimensionIcon/treeAdd.svg");
          margin-right: 6px;
        }
        .treeDeleteBtn {
          content: url("~@/assets/icons/dimensionIcon/treeDelete.svg");
        }
        &:hover {
          .treeEditBtn,
          .treeAddBtn,
          .treeDeleteBtn {
            display: inline-block;
          }
        }

        &.ivu-tree-title-selected {
          color: #3f73ff;
          .treeDeleteBtn {
            content: url("~@/assets/icons/dimensionIcon/treeDeleteBlue.svg");
            display: inline-block;
          }
        }
      }
    }
    // 虚线
    /deep/ .ivu-tree {
      ul li {
        margin: 0;
      }
      .ivu-tree-children {
        position: relative;
      }
      .ivu-tree-children::before {
        content: "";
        height: 100%;
        width: 1px;
        position: absolute;
        left: 7px;
        top: -8px;
        border-width: 1px;
        border-left: 1px dashed #ddd;
      }

      // 当前层最后一个节点的竖线高度固定
      .ivu-tree-children:last-child::before {
        height: 24px; // 可以自己调节到合适数值
        top: -8px;
      }

      // 横线
      .ivu-tree-children::after {
        content: "";
        width: 16px;
        height: 20px;
        position: absolute;
        left: 9px;
        top: 16px;
        border-width: 1px;
        border-top: 1px dashed #ddd;
      }

      // 去掉最顶层的虚线，放最下面样式才不会被上面的覆盖了
      & > .ivu-tree-children::after {
        border-top: none;
      }

      & > .ivu-tree-children::before {
        height: 100%;
        width: 1px;
        left: 7px;
        top: 13px;
        border-left: 1px dashed #ddd;
      }

      & > ul.ivu-tree-children::before {
        border-left: none;
      }

      .ivu-tree-title {
        width: 90%;
        color: #333333;
        height: 32px;
        line-height: 32px;
        display: inline-block;
        vertical-align: middle;
      }

      .ivu-tree-title:hover {
        color: #3f73ff;
        background-color: #ffffff;
      }

      .ivu-tree-title-selected,
      .ivu-tree-title-selected:hover {
        color: #007aff;
        background-color: #ffffff;
      }

      .ivu-tree-title.ivu-tree-title-selected .common-wrap .btnNone {
        visibility: visible !important;
      }
    }
  }
}
</style>
