<template>
  <div :class="['dragArea-container', type]" :data-title="type === 'dimension' ? '维度' : '指标'"
    @dragover.prevent="onDragover" @drop.prevent="handleDrop($event)">
    <!-- 非散点图 -->
    <template v-if="(chartType !== 'SimpleScatter' && chartType !== 'SimpleBubble')">
      <div v-for="(item, index) in data" :key="item.id" :data-index="index" class="tag" draggable
        @dragstart="handleTagMoveDragStart($event, type)" @dragover.prevent
        @drop.prevent="handleTagMoveDrop($event, type)">
        <span :data-index="index">{{ item.abbrName || item.title }}</span>
        <img :src="type === 'dimension' ? deleteBottomBlue : deleteBottomGreen" @click="deleteVal(type, index)" />
      </div>
    </template>

    <!-- 散点图或者气泡图 -->
    <template v-else>
      <div class="itemWrapper" v-for="(item, index) in chartType == 'SimpleScatter' ? scatterData : bubbleData"
        :key="item.value.id">
        <span class="labelTitle">{{ item.name }}</span>
        <div v-show="Object.keys(item.value).length" :data-index="index" class="tag" draggable
          @dragstart="handleTagMoveDragStart($event, type)" @dragover.prevent
          @drop.prevent="handleTagMoveDrop($event, type)">
          <span :data-index="index">{{ item.value.title }}</span>
          <img :src="type === 'dimension' ? deleteBottomBlue : deleteBottomGreen" @click="deleteVal(type, index)" />
        </div>
      </div>
    </template>
    <i class="clear-button" @click="clearInputValue(type)"></i>
  </div>
</template>

<script>
import { deepCopy } from "@/utils/common";
import { INDICATOR_DEFAULT_CONFIG } from "@/view/report/indicator-browser/constant";
import deleteBottomBlue from "@/assets/images/dataset/delete-bottom-blue.svg";
import deleteBottomGreen from "@/assets/images/dataset/delete-bottom-green.svg";
import { mapGetters } from "vuex";

export default {
  props: {
    type: {
      type: String,
      required: true
    },
    data: {
      type: Array,
      required: true
    },
    chartType: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      deleteBottomBlue,
      deleteBottomGreen,
      scatterData: [],// 散点图数据
      bubbleData: [] // 气泡图数据
    };
  },
  computed: {
    ...mapGetters(["currentChartType"]),
    isNoDimension() {
      return this.currentChartType === "Indicator" || this.currentChartType === "SimpleGauge";
    }
  },
  methods: {
    onDragover(e) {
      if (this.type === "dimension" && this.isNoDimension) {
        e.dataTransfer.dropEffect = "none";
      }
    },
    handleDrop(e) {
      const doDropFun = this.type === "dimension" ? this.handleDimensionDrop : this.handleIndicatorDrop;
      doDropFun(e);
    },
    /**
     * 维度拖拽结束
     */
    handleDimensionDrop(e) {
      // 指标卡、仪表盘不可拖到维度
      if (this.isNoDimension) return;

      let data = e.dataTransfer.getData("DRAG_NODE_DATA");
      if (!data) return;
      let dimension = JSON.parse(data);

      const count = this.data.length;
      if (count > 5) {
        this.$Message.warning("维度查询数量不能超过 5 个！");
        return;
      }

      const isExist = this.data.findIndex(item => item.id === dimension.id) > -1;
      if (isExist) {
        this.$Message.warning("维度重复");
        return;
      }

      if (dimension.type !== 99) {
        this.$Message.warning("请将维度或指标放入对应行中");
        return;
      }
      this.$emit("on-dimension-drop", dimension);
    },
    /**
     * 指标拖拽结束
     */
    handleIndicatorDrop(e) {
      let dragNodeData = e.dataTransfer.getData("DRAG_NODE_DATA");
      if (!dragNodeData) return;

      let data = JSON.parse(dragNodeData);
      console.log(89, data);
      let indicator = deepCopy(INDICATOR_DEFAULT_CONFIG);
      indicator = {
        ...data,
        ...indicator,
        type: data.type,
        id: data.id,
        abbrName: data.abbrName,
        title: data.title,
        key: `${data.id},${new Date().getTime()}`,
        calculateType: data.calculateType,
        conditionGroups: data.conditionGroups,
        businessModelId: data.businessModelId
      };

      const isExist = this.data.findIndex(item => item.id === indicator.id) > -1;
      if (isExist) {
        this.$Message.warning("指标重复");
        return;
      }

      if (indicator.type === 99) {
        this.$Message.warning("请将维度或指标放入对应行中");
        return;
      }
      this.$emit("on-indicator-drop", indicator);
    },
    /**
     * 调整标签顺序（拖拽结开始）
     */
    handleTagMoveDragStart(e, type) {
      const data = JSON.stringify({ index: e.target.dataset.index, type });
      e.dataTransfer.setData("DRAG_NODE_MOVE_DATA", data);
    },
    /**
     * 调整标签顺序（拖拽结束）
     */
    handleTagMoveDrop(e, type) {
      let data = e.dataTransfer.getData("DRAG_NODE_MOVE_DATA");
      if (!data) return;

      // 维度和维度、指标和指标才可调整顺序
      let dropNode = JSON.parse(data);
      if (dropNode.type !== type) return;

      const fromIndex = dropNode.index;
      const toIndex = e.target.dataset.index;
      this.$emit("on-change-sort", type, fromIndex, toIndex);
    },
    /**
     * 删除某个维度或指标
     */
    deleteVal(type, index) {
      this.$emit("on-delete-one", type, index);
    },
    /**
     * 清空维度或指标
     */
    clearInputValue(type) {
      this.$emit("on-clear", type);
    },
    /**
     * 获取散点图指标数据
     */
    getScatterData() {
      this.scatterData = [];
      const labelArr = ["X轴", "Y轴"];
      if (this.data.length === 1) {
        this.scatterData.push({
          name: labelArr[0],
          value: this.data[0]
        });
      } else if (this.data.length === 2) {
        this.data.forEach((ele, i) => {
          this.scatterData.push({
            name: labelArr[i],
            value: ele
          });
        });
      }
    },
    /**
    * 获取气泡图指标数据
    */
    getBubbleData() {
      this.bubbleData = [];
      const labelArr = ["X轴", "Y轴", "大小"];
      if (this.data.length === 1) {
        this.bubbleData.push({
          name: labelArr[0],
          value: this.data[0]
        });
      } else if (this.data.length === 2 || this.data.length === 3) {
        this.data.forEach((ele, i) => {
          this.bubbleData.push({
            name: labelArr[i],
            value: ele
          });
        });
      }
    }
  },
  watch: {
    data() {
      if (this.chartType === "SimpleScatter") {
        this.getScatterData();
      } else if (this.chartType === "SimpleBubble") {
        this.getBubbleData()
      }
    },
    chartType(newVal) {
      if (newVal === "SimpleScatter") {
        this.getScatterData();
      } else if (newVal === "SimpleBubble") {
        this.getBubbleData();
      }
    }
  }
};
</script>

<style scoped lang="less">
.dragArea-container {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 2px;
  margin-bottom: 16px;
  position: relative;
  cursor: pointer;

  &::before {
    content: attr(data-title);
    width: 52px;
    height: 38px;
    border-radius: 2px 0 0 2px;
    line-height: 38px;
    padding-left: 14px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 16px;
  }

  .tag {
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    padding: 0 8px;
    margin-right: 16px;
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
      max-width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .itemWrapper {
    width: 328px;
    display: flex;
    align-items: center;

    .labelTitle {
      margin-right: 8px;
    }
  }

  .clear-button {
    content: url("~@/assets/images/dataset/clearcontent.svg");
    position: absolute;
    right: 12px;
    cursor: pointer;
    display: none;
  }

  &:hover {
    .clear-button {
      display: inline;
    }
  }
}

.dimension {
  border: 1px dashed rgba(63, 115, 255, 1);
  box-shadow: 0px 0px 1px 2px rgba(240, 245, 255, 1);
  box-sizing: border-box;

  &::before {
    background: #f0f5ff;
    color: #3f73ff;
  }

  .tag {
    background: #f0f5ff;
    color: #3f73ff;
  }
}

.indicator {
  border: 1px dashed rgba(115, 209, 61, 1);
  box-shadow: 0px 0px 1px 2px rgba(246, 255, 237, 1);
  box-sizing: border-box;

  &::before {
    background: #eaffd6;
    color: #73d13d;
  }

  .tag {
    background: #f6ffed;
    color: #73d13d;
  }
}
</style>
