<template>
  <div class="headerColumn-container">
    <div class="headerLeft">
      <img src="@/assets/images/login/logo@1x.png" />
    </div>

    <div class="headerRight" style="justifyContent: space-between">
      <div class="kkLabelIcon" @click="goBack">
        <div class="imgBox">
          <img src="@/assets/icons/chart/report_operation/back.svg" />
        </div>
        <span>返回</span>
      </div>
      <div class="kkLabelIcon" @click="toSave" v-allow="[1097038120879104, 1097038120879105]">
        <div class="imgBox">
          <img src="@/assets/icons/chart/report_operation/save.svg" />
        </div>
        <span>保存</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    /**
     * 返回
     */
    goBack() {
      this.$emit("goBack")
    },
    /**
     * 保存
     */
    toSave() {
      this.$emit("saveResource")
    }
  }
};
</script>

<style lang="less" scoped>
.headerColumn-container {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  .headerLeft {
    display: flex;
    align-items: center;
    width: 240px;
    line-height: 60px;
    padding-left: 20px;
    img {
      width: 160px;
    }
  }
  .headerRight {
    margin-right: 10px;
    display: flex;
    align-items: center;
    .kkLabelIcon {
      margin: 0 10px;
      .imgBox {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
      }
      span {
        font-size: 12px;
        color: #0a1124;
        margin-top: 2px;
      }
      &:hover {
        .imgBox {
          background: #f8f8f8;
          border: 1px solid #e5e5e5;
          border-radius: 2px;
          cursor: pointer;
        }
      }
    }
  }
}
</style>
