<template>
  <!-- 人员管理权限设置 -->
  <div class="personnel-management-setting">
    <DepartmentSetting class="personnel-management-setting-item" />
    <RoleSetting class="personnel-management-setting-item" />
  </div>
</template>

<script>
import DepartmentSetting from '@/view/system/authorizationManagement/components/RightTabs/components/PersonnelManagementSetting/components/DepartmentSetting.vue'
import RoleSetting from '@/view/system/authorizationManagement/components/RightTabs/components/PersonnelManagementSetting/components/RoleSetting.vue'

export default {
  name: 'PersonnelManagementSetting',
  components: {
    DepartmentSetting,
    RoleSetting,
  },
}
</script>

<style scoped lang="less">
.personnel-management-setting {
  height: 100%;
  overflow: hidden;
  padding: 0 16px 16px;
  display: flex;

  .personnel-management-setting-item {
    flex: 1;
    border: 1px solid #eee;

    + .personnel-management-setting-item {
      margin-left: 2px;
    }
  }
}
</style>
