<template>
  <div class="bothMenu">
    <Container class="center">
      <template>
        <div style="display:flex;justify-content: space-between;align-items: center;margin-bottom: 24px;">
          <div class="boxTitle">资源管理</div>
          <Button class="addBtn" type="primary" ghost icon="md-add" size='small' @click="addBtnClick"
                  v-allow="[1097045070840836]">新增
          </Button>
        </div>
      </template>
      <Tree ref="resourcesTree" :data="treeData" :render="renderContent"
            @on-select-change="onSelectResourcesChange"></Tree>
    </Container>
    <Modal
      v-model="addResourcesModal"
      title="新增资源"
      :mask-closable="false">
      <Form :model="addResourcesData" :label-width="60" label-position="left" label-colon>
        <FormItem label="父菜单" prop="pName">
          {{ addResourcesData.pName }}
        </FormItem>
        <FormItem label="名称" prop="name">
          <Input v-model="addResourcesData.name" clearable placeholder="请输入内容" style="width: 80%"/>
        </FormItem>
        <FormItem label="排序" prop="sort">
          <Input v-model="addResourcesData.sort" clearable placeholder="请输入内容" style="width: 80%"/>
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="() => this.addResourcesModal = false">取消</Button>
        <Button type="primary" @click="addResources">确定</Button>
      </div>
    </Modal>
    <div class="right-wrapper">
      <div class="right">
        <div class="rightTopButton">
          <div v-if="isSystemMenu">
              <span style="padding: 0 10px;font-size: 16px;color: #555555;font-weight: bold;">
                {{ currentNode.title }}
              </span>
          </div>
          <div v-if="!isSystemMenu">
              <span id="iptLabel" style="padding: 0 10px; visibility: hidden; position: absolute; z-index: -1000000000">
                {{ currentNode.title }}
              </span>
            <input v-model="currentNode.title" id="indNameIpt" style="width: 100px" placeholder="未命名目录菜单"/>
            <Icon type="md-create" size="20" color="#2D8BF0"/>
          </div>
          <div v-if="!isSystemMenu">
            <Button class="buttonClass" @click="reset">重置</Button>
            <Button class="buttonClass saveBtn" type="primary" @click="save" v-allow="[1097045070840837]"
                    :loading="checkLoading">保存
            </Button>
          </div>
        </div>
        <Collapse :value="['1', '2', '3']" style="height: 90%; overflow: auto; background: white"
                  @on-change="handleChangeCollapse">
          <Panel name="1" hide-arrow>
            <div class="rightBoxTitle panelTitle">
              基本信息
              <div class="panelContent">
                <Icon class="panelIcon" type="ios-arrow-dropdown" size="14"/>
                <span class="panelContentText1">收起</span>
              </div>
            </div>
            <div slot="content">
              <Form class="rightPage" :model="currentNode" :label-width="76" label-position="left">
                <FormItem label="菜单类型：" prop="isCatalogue">
                  <RadioGroup v-model="currentNode.isCatalogue">
                    <Radio label="true" :disabled="isSystemMenu">目录</Radio>
                    <Radio label="false" :disabled="isSystemMenu">菜单</Radio>
                  </RadioGroup>
                </FormItem>
                <FormItem label="父级菜单：" prop="pid">
                  <span v-show="currentNode.type === 4">{{ currentNode.pName }}</span>
                  <tree-select
                    v-show="currentNode.type !== 4"
                    v-model="currentNode.pid"
                    style="width: 80%"
                    check-strictly
                    :expand-all="true"
                    :data="pidTreeData"
                    :multiple="false"
                  ></tree-select>
                </FormItem>
                <FormItem label="菜单可见：" prop="hidden">
                  <RadioGroup v-model="currentNode.hidden">
                    <Radio label="false" :disabled="isSystemMenu">显示</Radio>
                    <Radio label="true" :disabled="isSystemMenu">隐藏</Radio>
                  </RadioGroup>
                </FormItem>
                <FormItem label="菜单排序：" prop="sort">
                  <span v-if="currentNode.type === 4">{{ currentNode.sort }}</span>
                  <InputNumber v-else v-model="currentNode.sort" :min="1" placeholder="请输入内容" style="width: 80%"/>
                </FormItem>
                <FormItem label="链接：" prop="outUrl" v-if="currentNode.isCatalogue==='false'">
                  <RadioGroup v-model="currentNode.outUrl">
                    <Radio label="true" :disabled="isSystemMenu">是</Radio>
                    <Radio label="false" :disabled="isSystemMenu">否</Radio>
                  </RadioGroup>
                </FormItem>
                <FormItem label="链接类型：" prop="linkType" v-if="currentNode.outUrl==='true' && currentNode.isCatalogue==='false'">
                  <RadioGroup v-model="currentNode.linkType">
                    <Radio :label="1">外部链接</Radio>
                    <Radio :label="2" style="margin-left: 10px">内部资源</Radio>
                  </RadioGroup>
                </FormItem>
                <FormItem label="链接地址：" v-if="currentNode.outUrl==='true' && currentNode.linkType === 1">
                  <span v-if="currentNode.type === 4">{{ currentNode.path }}</span>
                  <Input v-else v-model="currentNode.path" clearable placeholder="请输入外部链接路径" style="width: 80%"/>
                </FormItem>
                <FormItem label="资源：" v-if="currentNode.outUrl==='true' && currentNode.linkType === 2 && currentNode.isCatalogue==='false'">
                  <Select style="width: 200px" v-model="currentNode.path" filterable>
                    <Option v-for="item in innerSourceMenus" :key="item.id" :value="item.title">{{item.title}}</Option>
                  </Select>
                </FormItem>
                <FormItem label="新开窗口：" prop="blankWindow" v-if="currentNode.outUrl === 'true' && currentNode.linkType !== 2">
                  <RadioGroup v-model="currentNode.blankWindow">
                    <Radio label="true">是</Radio>
                    <Radio label="false" style="margin-left: 10px">否</Radio>
                  </RadioGroup>
                </FormItem>
              </Form>
            </div>
          </Panel>
          <Panel name="2" hide-arrow v-show="currentNode.buttonList && currentNode.buttonList.length > 0">
            <div class="rightBoxTitle panelTitle">
              按钮信息
              <div class="panelContent">
                <Icon class="panelIcon" type="ios-arrow-dropdown" size="14"/>
                <span class="panelContentText2">收起</span>
              </div>
            </div>
            <div slot="content" class="rightModule">
              <Table :columns="buttonListColumns" :data="currentNode.buttonList"></Table>
            </div>
          </Panel>
          <Panel name="3" hide-arrow
                 v-show="currentNode.type !== 4 && currentNode.isCatalogue === 'false' && currentNode.outUrl === 'false'">
            <div class="rightBoxTitle panelTitle">
              模块信息
              <div class="panelContent">
                <Icon class="panelIcon" type="ios-arrow-dropdown" size="14"/>
                <span class="panelContentText3">收起</span>
              </div>
            </div>
            <div slot="content">
              <div class="batchAddBox">
                <Button class="batchAdd" @click="chooseReport">
                  <img src="@/assets/images/system/batchAdd.svg" style="margin-right: 4px"/>
                  批量添加
                </Button>
              </div>
              <div class="rightModule" v-show="currentNode.modules && currentNode.modules.length > 0">
                <Table class="moduleList" :columns="moduleList" :data="currentNode.modules"></Table>
              </div>
            </div>
          </Panel>
        </Collapse>
        <div>
          <Modal
            class="addModuleClass"
            v-model="addModuleShow"
            title="报告选择"
            @on-ok="reportModuleSelect"
            @on-cancel="reportModuleModalCancel">
            <div style="height: 400px; overflow-y: scroll">
              <div class="mb10">
                <Input search clearable v-model="searchVal" placeholder="请输入内容" style="width: 100%"
                       @on-change="watchSearchValChange($event)" @on-search="moduleListSearch"/>
              </div>
              <Table v-if="addModuleShow" ref="reportListTable"
                     :columns="singleAdd ? singleReportModuleColumns : reportModuleColumns"
                     @on-select="onSelectReportList"
                     @on-select-cancel="onCancelReportList"
                     @on-select-all="onSelectReportAll"
                     @on-select-all-cancel="onSelectReportAll"
                     :data="reportList"></Table>
              <!--  分页  -->
              <div class="prb">
                <Page
                  class="pageClass"
                  v-if="batchAddFormPage.total > 0"
                  :current="batchAddFormPage.page"
                  :page-size="batchAddFormPage.size"
                  :total="batchAddFormPage.total"
                  show-elevator
                  @on-change="batchAddFormPageChangePage"
                />
              </div>
            </div>
          </Modal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Container from '../Container'
import TreeSelect from '@/components/tree-select'
import { getRootRes, createResource, delResource, updateResource } from '@/api/systemManagement/menuManagement'
import { queryReportList } from '@/api/report.js'
import moment from "moment"
import { debounce } from '@/utils/common'
import { mapActions } from 'vuex'
import { deepCopy } from '../../../utils/common'
import {REPORT_FRAGMENT_MENU_TYPE, URL_INNER_MENU_TYPE,
  URL_OUT_MENU_TYPE, SYSTEM_MENU_TYPE,
  CATALOGUE_TYPE, ROUTER_MENU_TYPE} from '@/config/MenuConfig'
const MENU_SET = [1, 2, 3, 7]
export default {
  components: { Container, TreeSelect },
  data() {
    return {
      firstEnterPage: true,
      searchVal: '',
      treeData: [],
      isShow: '',
      sortList: [],
      name: '',
      addResourcesModal: false,
      addResourcesData: {
        name: '',
        pid: null,
        pName: '',
        sort: ''
      },
      addModuleShow: false,
      singleAdd: false,
      checkLoading: false,
      singleAddIndex: 0,
      singleCurrentChoose: null, //单选勾选的报告
      chooseReportList: [], //多选勾选的报告组
      moduleList: [
        {
          title: '模块名称',
          key: 'name',
          render: (h, params) => {
            return h('div', [
              !params.row.name ? h('Button', {
                style: {
                  color: '#3F73FF'
                },
                on: {
                  click: () => {
                    this.chooseReport(params.row)
                  }
                }
              }, [
                h('img',
                  {
                    attrs: {
                      src: require('@/assets/images/system/moduleListAdd.svg')
                    },
                    style: {
                      marginRight: '5px',
                      verticalAlign: 'middle'
                    }
                  }
                ),
                h('span', {
                  style: {
                    verticalAlign: 'middle'
                  }
                }, '请选择报告...')
              ]) : h('span', {
                domProps: {
                  value: params.row.name
                },
                style: {
                  borderRadius: '3px',
                  padding: '5px 3px',
                  width: '100%'
                }
              }, params.row.name)
            ])
          }
        },
        {
          title: '高度',
          key: 'size',
          render: (h, params) => {
            return h('input', {
              domProps: {
                value: (params.row.configData && params.row.configData.height) || 600,
              },
              style: {
                border: '1px solid #ececec',
                borderRadius: '3px',
                padding: '5px 3px',
                width: '100%'
              },
              on: {
                input: (event) => {
                  this.currentNode.modules[params.row._index].configData.height = event.target.value
                }
              }
            })
          }
        },
        {
          title: '操作',
          key: 'action',
          width: 125,
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h(
                'div',
                {
                  style: {
                    marginRight: '10px',
                    display: 'inline-block'
                  },
                  on: {
                    click: () => {
                      this.currentNode.modules.splice(params.row._index + 1, 0, {
                        type: 1,
                        configData: { height: 600 }
                      })
                    },
                  },
                },
                [
                  h('img',
                    {
                      attrs: {
                        src: require('@/assets/images/system/tableButtonAdd.svg')
                      },
                      style: {
                        verticalAlign: 'middle'
                      }
                    }
                  )
                ]
              ),
              h(
                'div',
                {
                  style: {
                    display: 'inline-block'
                  },
                  on: {
                    click: () => {
                      this.removeModule(params)
                    },
                  },
                },
                [
                  h('img',
                    {
                      attrs: {
                        src: require('@/assets/images/system/tableButtonDelete.svg')
                      },
                      style: {
                        verticalAlign: 'middle'
                      }
                    }
                  )
                ]
              ),
            ])
          }
        }
      ],
      queryKey: undefined,
      currentNode: {},
      resetCurrentNode: {},
      reportModuleColumns: [
        {
          type: 'selection',
          width: 60,
          align: 'center'
        }, {
          title: '报告名称',
          key: 'name'
        },
        {
          title: '创建人',
          key: 'creator'
        },
        {
          title: '创建时间',
          key: 'createTime',
          width: 156,
          render: (h, params) => h('span', moment(params.row.createTime).format('YYYY-MM-DD HH:mm:ss'))
        }
      ],
      singleReportModuleColumns: [
        {
          title: ' ',
          width: 40,
          align: 'center',
          render: (h, params) => {
            let current = params.row
            let flag = false
            if (this.singleCurrentChoose && this.singleCurrentChoose.path === current.path) {
              flag = true
            }
            let self = this
            return h('Radio', {
              props: {
                value: flag
              },
              on: {
                'on-change': () => {
                  self.singleCurrentChoose = JSON.parse(JSON.stringify(current))
                  delete self.singleCurrentChoose._index
                  delete self.singleCurrentChoose._rowKey
                }
              }
            })
          }
        }, {
          title: '报告名称',
          key: 'name'
        },
        {
          title: '创建人',
          key: 'creator'
        },
        {
          title: '创建时间',
          key: 'createTime',
          width: 156,
          render: (h, params) => h('span', moment(params.row.createTime).format('YYYY-MM-DD HH:mm:ss'))
        }
      ],
      buttonListColumns: [
        {
          title: '序号',
          type: 'index',
          width: 80,
          align: 'center'
        },
        {
          title: '模块类型',
          render: (h, params) => h('span', 'BUTTON'),
          align: 'center'
        },
        {
          title: '模块名称',
          key: 'name'
        }
      ],
      reportList: [],
      isSystemMenu: true,
      addMenuState: false,
      pidTreeData: [],
      batchAddFormPage: {
        page: 1,
        size: 5,
        total: 0
      },
      innerSourceMenus: [], // 内部菜单资源
    }
  },
  watch: {
    'currentNode.title': {
      handler: function (val, old) {
        if (val) {
          this.$nextTick(() => {
            if (document.querySelector('#iptLabel') != null) {
              document.querySelector('#indNameIpt').style.width = document.querySelector('#iptLabel').offsetWidth + 'px'
            }
          })
        }
      },
      immediate: true,
      deep: true
    }
  },
  mounted() {
    this.getTree()
    this.getAllReport()
  },
  methods: {
    ...mapActions([
      'getUserInfo'
    ]),
    getTree(id) {
      getRootRes().then(res => {
        let menus = res.data.data
        let systemMenus = menus.filter(menu => menu.pid === -1 && menu.type === SYSTEM_MENU_TYPE)
          .map(menu => {
            return {
              id: menu.id,
              title: menu.name,
              type: menu.type,
              hidden: menu.hidden ? 'true' : 'false',
              sort: menu.sort,
              outUrl: this.isLinkMenu(menu) ? 'true' : 'false',
              blankWindow: menu.type === URL_OUT_MENU_TYPE ? 'true' : 'false',
              path: menu.path,
              pid: -1,
              pName: '系统菜单',
              configData: JSON.parse(menu.configData)
            }
          })
        systemMenus.sort((i, j) => i.sort - j.sort)
        this.innerSourceMenus = systemMenus
        // 内部资源菜单
        this.recursiveMenu(systemMenus, menus)
        let businessMenus = menus.filter(menu => menu.pid === -1 && menu.type !== SYSTEM_MENU_TYPE)
          .map(menu => {
            return {
              id: menu.id,
              title: menu.name,
              type: menu.type,
              isCatalogue: menu.type === CATALOGUE_TYPE ? 'true' : (menu.type === REPORT_FRAGMENT_MENU_TYPE || menu.type === URL_OUT_MENU_TYPE ? 'false' : null),
              hidden: menu.hidden ? 'true' : 'false',
              sort: menu.sort,
              outUrl: this.isLinkMenu(menu) ? 'true' : 'false',
              blankWindow: menu.type === URL_OUT_MENU_TYPE ? 'true' : 'false',
              path: menu.path,
              pid: -1,
              pName: '',
              configData: JSON.parse(menu.configData)
            }
          })
        businessMenus.sort((i, j) => i.sort - j.sort)
        this.recursiveMenu(businessMenus, menus)
        let leftTreeBusinessMenus = deepCopy(businessMenus)
        if (id != null) {
          this.findTreeItemById(leftTreeBusinessMenus, id)
        }
        let rootMenu = [{
          id: -1,
          type: 4,
          title: '系统菜单',
          children: systemMenus,
          expand: true,
          disabled: true
        }, {
          id: -2,
          type: 4,
          title: '业务菜单',
          children: leftTreeBusinessMenus,
          expand: true,
          disabled: true
        }]
        if (this.firstEnterPage) {
          // 首次进入页面，默认高亮第一个节点，并展示数据
          for (let i = 0; i < rootMenu.length; i++) {
            let item = rootMenu[i]
            if (item.children && item.children.length > 0) {
              item.children[0].selected = true
              this.currentNode = item.children[0]
              if (this.currentNode.type === SYSTEM_MENU_TYPE) {
                if (this.currentNode.children && this.currentNode.children.length > 0) {
                  this.currentNode.isCatalogue = 'true'
                } else {
                  this.currentNode.isCatalogue = 'false'
                }
              }
              this.currentNode.pid = [this.currentNode.pid]
              this.isSystemMenu = this.currentNode.type === SYSTEM_MENU_TYPE
              this.resetCurrentNode = JSON.parse(JSON.stringify(item.children[0]))
              break
            }
          }
          this.firstEnterPage = false
        }
        this.treeData = rootMenu
        console.log('treeData====', rootMenu)
        let pidTreeData = [{
          id: -1,
          title: '业务菜单',
          type: 99,
          children: businessMenus,
          expand: true
        }]
        this.pidTreeData = deepCopy(pidTreeData)
      })
    },

    findTreeItemById(menus, id) {
      for (let i = 0; i < menus.length; i++) {
        let menu = menus[i]
        if (menu.id === id) {
          menu.selected = true
          let currentNode = deepCopy(menu)
          if (currentNode.type === SYSTEM_MENU_TYPE) {
            if (currentNode.children && currentNode.children.length > 0) {
              currentNode.isCatalogue = 'true'
            } else {
              currentNode.isCatalogue = 'false'
            }
          } else if (MENU_SET.includes(currentNode.type)) {
            currentNode.isCatalogue = 'false'
          } else {
            currentNode.isCatalogue = 'true'
          }
          currentNode.pid = [currentNode.pid]
          this.currentNode = JSON.parse(JSON.stringify(currentNode))
          this.resetCurrentNode = JSON.parse(JSON.stringify(currentNode))
          this.isSystemMenu = currentNode.type === SYSTEM_MENU_TYPE
          return true
        }
        if (menu.children && menu.children.length > 0) {
          if (this.findTreeItemById(menu.children, id)) {
            menu.expand = true
            return true
          }
        }
      }
      return false
    },
    isLinkMenu(menu) {
      return menu.type === URL_OUT_MENU_TYPE || menu.type == URL_INNER_MENU_TYPE || menu.type === ROUTER_MENU_TYPE
    },
    recursiveMenu(menus, totalMenus) {
      menus.forEach(menu => {
        let children = totalMenus
          .filter(bm => bm.pid == menu.id && bm.type !== 0 && bm.type !== 6)
          .map(menuItem => {
            return {
              id: menuItem.id,
              title: menuItem.name,
              type: menuItem.type,
              isCatalogue: menuItem.type === 5 ? 'true' : 'false',
              hidden: menuItem.hidden ? 'true' : 'false',
              sort: menuItem.sort,
              path: menuItem.path,
              outUrl: this.isLinkMenu(menuItem) ? 'true' : 'false',
              blankWindow: menu.type === 2 ? 'true' : 'false',
              pid: menu.id,
              pName: menu.title,
              configData: JSON.parse(menuItem.configData)
            }
          })

        if (menu.type === 3) {
          let modules = totalMenus
            .filter(bm => bm.pid == menu.id && bm.type === 0)
            .map(menuItem => {
              return {
                id: menuItem.id,
                name: menuItem.name,
                type: menuItem.type,
                sort: menuItem.sort,
                path: menuItem.path,
                pid: menu.id,
                configData: JSON.parse(menuItem.configData)
              }
            })
          if (modules.length > 0) {
            menu.modules = modules
          } else {
            menu.modules = [{ type: 0, configData: { height: 600 } }]
          }
        }

        // button
        let buttonList = totalMenus
          .filter(bm => bm.pid == menu.id && (bm.type === 6))
          .map(menuItem => {
            return {
              id: menuItem.id,
              name: menuItem.name,
              type: menuItem.type,
              pid: menu.id
            }
          })
        if (buttonList.length > 0) {
          menu.buttonList = buttonList
        } else {
          menu.buttonList = []
        }

        children.sort((i, j) => i.sort - j.sort)
        if (children.length > 0) {
          menu.children = children
          this.recursiveMenu(children, totalMenus)
        }
      })
    },

    // 监听input框变化，防抖调函数
    watchSearchValChange: debounce(function (e) {
      this.moduleListSearch(e.target.value)
    }),
    // input框搜索
    moduleListSearch(e) {
      this.batchAddFormPage.page = 1
      this.batchAddFormPage.size = 5
      this.getAllReport(e)
    },

    // 切页
    batchAddFormPageChangePage(current) {
      this.batchAddFormPage.page = current
      this.getAllReport()
    },

    getAllReport(searchVal) {
      let param = {
        pageNum: this.batchAddFormPage.page,
        pageSize: this.batchAddFormPage.size + 1
      }
      if (searchVal) {
        param.name = searchVal
      }
      this.loading = true
      queryReportList(param).then(res => {
        if (res.data.state === 'success') {
          let reportList = res.data.data.data
          this.reportListOrigin = reportList.map(item => {
            let obj = {
              // id: item.id,
              name: item.name,
              creator: item.creator,
              createTime: item.createTime,
              path: item.id,
              type: 1,
              configData: {
                height: item.containerHeight != null ? item.containerHeight : 600
              }
            }
            let isChecked = this.chooseReportList.some(chooseItem => chooseItem.path === item.id)
            if (isChecked) {
              obj._checked = true
            }
            return obj
          })
          this.reportList = deepCopy(this.reportListOrigin)
          this.batchAddFormPage.total = res.data.data.count
        }
      })
    },

    // 点击批量添加按钮或请选择报告按钮
    chooseReport(row) {
      if (row instanceof MouseEvent) {
        this.singleAdd = false
        if (this.currentNode.modules && this.currentNode.modules.length > 0) {
          this.chooseReportList = deepCopy(this.currentNode.modules.filter(item => item.hasOwnProperty('name')))
        } else {
          this.chooseReportList = []
        }
      } else {
        this.singleAdd = true
        this.singleAddIndex = row._index
        this.singleCurrentChoose = null
      }
      this.searchVal = ''
      this.batchAddFormPage.page = 1
      this.batchAddFormPage.size = 5
      this.getAllReport()
      this.addModuleShow = true
    },

    removeModule(params) {
      let currentModules = deepCopy(this.currentNode.modules)
      currentModules.splice(params.index, 1)
      this.currentNode.modules = currentModules
    },

    // 最后确定选择的报告
    reportModuleSelect() {
      if (this.singleAdd) {
        let singleSelectData = this.singleCurrentChoose
        if (singleSelectData != null) {
          this.$set(this.currentNode.modules, this.singleAddIndex, deepCopy(singleSelectData))
        }
      } else {
        this.currentNode.modules = this.chooseReportList
      }
    },

    onSelectReportList(data, row) {
      let isExist = this.chooseReportList.some(item => item.path === row.path)
      if (!isExist) {
        this.chooseReportList.push(row)
      }
    },

    onCancelReportList(data, row) {
      this.chooseReportList = this.chooseReportList.filter(item => item.path !== row.path)
    },

    onSelectReportAll(selection) {
      if (selection.length === 0) {
        // 取消全选
        let data = this.$refs['reportListTable'].data
        data.forEach((tableItem) => {
          this.chooseReportList = this.chooseReportList.filter(item => item.path !== tableItem.path)
        })
      } else {
        // 勾选全选
        selection.forEach(tableItem => {
          let isExist = this.chooseReportList.some(item => item.path === tableItem.path)
          if (!isExist) {
            this.chooseReportList.push(tableItem)
          }
        })
      }
    },

    reportModuleModalCancel() {
      this.addModuleShow = false
    },

    //提交
    save() {
      this.checkLoading = true
      let params = deepCopy(this.currentNode)
      if (!this.currentNode.title) {
        this.checkLoading = false
        this.$Message.warning('请填写名称')
        return
      }
      if (this.currentNode.isCatalogue === 'true') { // 目录
        this.currentNode.type = 5
      } else if (this.currentNode.isCatalogue === 'false') { // 菜单
        if (this.currentNode.outUrl === 'true') { // 是链接
          if (this.currentNode.linkType === 2) { // 内部资源
            this.currentNode.type = 4
          } else { // 外部链接
            this.currentNode.type = this.currentNode.blankWindow === 'true' ? 2 : 1
          }
        } else if (this.currentNode.outUrl === 'false') { // 非链接
          this.currentNode.type = 3
          if (this.currentNode.modules && this.currentNode.modules.length) {
            let modulesCheck = false
            let modules = deepCopy(this.currentNode.modules)
            modules.forEach((item, index) => {
              if (item.name == null || item.name == '') {
                modulesCheck = true
              }
              item.configData = JSON.stringify(item.configData)
              item.pid = this.currentNode.id
              item.sort = this.currentNode.sort * 100 + index + 1
              item.type = 0
            })
            if (modulesCheck) {
              this.$Message.warning('请填写完整模块信息')
              this.checkLoading = false
              return
            }
            this.currentNode.children = modules
          }
          if (this.currentNode.children && this.currentNode.children.length > 0) {
            params.children = this.currentNode.children
          }
        } else {
          this.$Message.warning('请填写是否为链接')
          this.checkLoading = false
          return
        }
      } else {
        this.$Message.warning('请填写菜单类型')
        this.checkLoading = false
        return
      }
      if (this.currentNode.pid.length === 0) {
        this.$Message.warning('请选择父节点')
        this.checkLoading = false
        return
      }
      if (!this.currentNode.sort) {
        this.$Message.warning('请填写排序')
        this.checkLoading = false
        return
      }
      // 不存在id，则执行新增函数
      if (!this.currentNode.id) {
        this.addResources()
        return
      }
      params.name = this.currentNode.title
      params.hidden = this.currentNode.hidden === 'true' ? true : false
      params.type = this.currentNode.linkType === 2 && this.currentNode.isCatalogue !== 'true' ? ROUTER_MENU_TYPE : this.currentNode.type
      params.pid = this.currentNode.pid[0]
      params.sort = parseInt(this.currentNode.sort)
      updateResource(params).then(res => {
        if (res.data.state === 'success') {
          this.$Message.success('修改成功')
          this.getTree(params.id)
          this.getUserInfo()
        }
        this.checkLoading = false
      })
    },
    reset() {
      this.currentNode = deepCopy(this.resetCurrentNode)
    },
    addBtnClick() {
      this.currentNode = {
        isCatalogue: 'true',
        outUrl: 'false',
        blankWindow: 'true',
        hidden: 'false',
        sort: 1,
        modules: [{ type: 1, configData: { height: 600 } }],
        linkType: 1
      }
      this.resetCurrentNode = deepCopy(this.currentNode)
      this.isSystemMenu = false
      this.addMenuState = true
      // 点击新增菜单按钮，左侧菜单树取消选中节点
      this.unSelectedTreeData(this.treeData)
    },
    unSelectedTreeData(data) {
      data.forEach(val => {
        if (val.selected) {
          val.selected = false
        }
        if (val.children && val.children.length > 0) {
          this.unSelectedTreeData(val.children)
        }
      })
      return data
    },
    addResources() {
      // todo：增加链接类型字段
      let params = {
        name: this.currentNode.title,
        isDel: 0,
        hidden: this.currentNode.hidden === 'true',
        type: this.currentNode.linkType === 2 && this.currentNode.isCatalogue !== 'true' ? ROUTER_MENU_TYPE : this.currentNode.type,
        path: this.currentNode.path
      }
      if (this.currentNode.type === 3 && this.currentNode.children && this.currentNode.children.length > 0) {
        params.children = this.currentNode.children
      }
      params.pid = this.currentNode.pid[0]
      params.sort = parseInt(this.currentNode.sort)
      createResource(params).then(res => {
        if (res.data.state === 'success') {
          this.$Message.success('新增成功')
          this.addResourcesModal = false
          this.getTree()
          this.addBtnClick()
          this.getUserInfo()
        }
        this.checkLoading = false
      })
    },
    // 树渲染逻辑
    renderContent(h, { root, node, data }) {
      return h('div', {
        class: 'common-wrap',
        style: {
          height: '32px'
        }
      }, [
        // h('span', [
        // 文件前面的文件夹图标
        h(`${data.editState ? '' : 'span'}`,
          {
            style: {
              display: 'inline-block',
              width: '60%',
              height: '32px',
              lineHeight: '32px',
              overflow: 'hidden',
              textOverflow: 'ellipsis',
              whiteSpace: 'nowrap'
            },
            attrs: {
              title: `${data.title}`
            }
          }, data.title),
        // 增删改按钮部分
        h(`${data.editState || data.type === 4 ? '' : 'span'}`,
          {
            class: 'btnNone',
            style: {
              visibility: 'hidden',
              float: 'right'
            },
            on: {
              click: e => {
                e.stopPropagation()
                this.remove(root, node, data)
              }
            }
          },
          [
            h('i',
              {
                class: 'indIcon_del',
                style: {
                  verticalAlign: 'middle'
                },
                directives: [
                  {
                    name: 'allow',
                    value: [1097045070840835]
                  }
                ]
              }
            )
          ]
        ),
      ])
    },

    // 添加按钮
    append(data) {
      event.stopPropagation()
      const children = data.children || []
      children.push({
        title: '新建节点',
        expand: true
      })
      this.$set(data, 'children', children)
    },
    // 删除按钮
    remove(root, node, data) {
      // event.stopPropagation()
      this.$Modal.confirm({
        title: '提示',
        content: `您确定删除 “${data.title}” 吗？`,
        onOk: () => {
          delResource(data.id).then(res => {
            if (res.data.state === 'success') {
              this.$Message.success('删除成功')
              this.getTree()
              this.currentNode = {
                modules: []
              }
              this.getUserInfo().then(res => {
              })
            } else {
              this.$Message.error(res.data.message)
            }
          })
        }
      })
    },
    onSelectResourcesChange(selectNodes, currentNode) {
      // type为4的系统菜单，根据有无children区分菜单类型
      if (currentNode.type === 4) {
        if (currentNode.children && currentNode.children.length > 0) {
          currentNode.isCatalogue = 'true'
        } else {
          currentNode.isCatalogue = 'false'
        }
      } else if (MENU_SET.includes(currentNode.type)) {
        currentNode.isCatalogue = 'false'
      } else {
        currentNode.isCatalogue = 'true'
      }
      // 链接类型是否是内部资源
      currentNode.linkType = currentNode.type === ROUTER_MENU_TYPE ? 2 : 1
      let node = deepCopy(currentNode)
      node.pid = [node.pid]
      this.currentNode = deepCopy(node)
      this.resetCurrentNode = deepCopy(node)
      this.isSystemMenu = currentNode.type === 4
      for (let i = 1; i <= 3; i++) {
        let text = document.querySelectorAll('.panelContentText' + i)[0]
        text.innerText = '收起'
      }
    },
    handleChangeCollapse(e) {
      for (let i = 1; i <= 3; i++) {
        let text = document.querySelectorAll('.panelContentText' + i)[0]
        if (e.indexOf(i.toString()) === -1) {
          text.innerText = '展开'
        } else {
          text.innerText = '收起'
        }
      }
    }

  }
}
</script>

<style scoped lang="less">
.mb10 {
  margin-bottom: 10px;
}

.prb {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.addBtn.ivu-btn-ghost.ivu-btn-primary {
  color: #3F73FF;
  border-radius: 2px;
}

/* 去掉报告选择时的table边框 */
/deep/ .ivu-table::after {
  width: 0;
}

/deep/ .ivu-table::before {
  height: 0;
}

/deep/ .ivu-table-wrapper {
  border: none;
}

/deep/ .ivu-table th {
  border-bottom: none;
}

.bothMenu {
  height: 100%;
  display: flex;
}

.center {
  width: 20%;
  height: 100%;
  background-color: #fff;
  margin-right: 2px;
  overflow: auto;
}

.right-wrapper {
  width: 80%;
  height: 100%;
  overflow: auto;
  border-left: 1px solid #ececec;
  padding: 24px;
  border-radius: 2px;
  background-color: #fff;

  .right {
    height: 100%;
  }
}

.rightPage {
  font-size: 14px;
  width: 100%;
  padding: 16px 0 0;
  // display: flex;
  // flex-wrap: wrap;
}

.rightPage.ivu-form > .ivu-form-item {
  width: 50%;
  display: inline-block;
  margin-bottom: 16px;
}

.rightPage.ivu-form .ivu-radio-wrapper {
  width: 60px;
}

.rightModule {
  margin-top: 10px;
  margin-bottom: 24px;
}

.rightTopButton {
  width: 100%;
  margin-bottom: 24px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.page-form-item div:nth-child(1) {
  display: inline-block;
  width: 80px;
  /* text-align: right; */
  padding-right: 5px;
  font-size: 13px;
}

.page-form-item div:nth-child(2) {
  width: 100%;
}

.page-form-item {
  width: 50%;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding-right: 50px;
}


.btnNone {
  display: none;
  margin-left: 15px;

  button {
    margin-right: 8px;
    width: 24px;
    line-height: 0;
    height: 24px;
  }
}

.common-wrap {
  display: inline-block;
  line-height: 25px;
  width: 100%;
  cursor: pointer;

  span:not(.btnNone) {
    display: inline-block;
  }

  .edit-input {
    width: 90px;
    cursor: auto;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    color: #515a6e;
    padding-left: 10px;
    outline: none;
  }

  .edit-input:focus {
    border: 1px solid #2d8cf0 !important;
  }
}

.common-wrap:hover .btnNone {
  display: inline-block;
}

.common-wrap:hover {
  color: #275cd4;
}

// 换箭头到加号
.ivu-tree ul li {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  outline: none;
}

.ivu-tree .ivu-tree-arrow {
  width: 15px;
}

/deep/ .ivu-tree .ivu-icon { // 禁止旋转
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* 左侧树形结构 */
/deep/ .ivu-tree-arrow i {
  content: url("../../../assets/images/system/treePlus.svg");
  transform: none;
}

/deep/ .ivu-tree-arrow-open i {
  content: url("../../../assets/images/system/treeMinus.svg");
}

/deep/ .ivu-tree-title {
  padding: 0 8px;
}

// 虚线
/deep/ .ivu-tree {
  ul li {
    margin: 0;
  }

  .ivu-tree-children {
    position: relative;
    // padding-left: 16px; // 缩进量
  }

  .ivu-tree-children::before {
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    left: 7px;
    top: -8px;
    border-width: 1px;
    border-left: 1px dashed #ddd;
  }

  // 当前层最后一个节点的竖线高度固定
  .ivu-tree-children:last-child::before {
    height: 24px; // 可以自己调节到合适数值
    top: -8px;
  }

  // 横线
  .ivu-tree-children::after {
    content: "";
    width: 16px;
    height: 20px;
    position: absolute;
    left: 9px;
    top: 16px;
    border-width: 1px;
    border-top: 1px dashed #ddd;
  }

  // 去掉最顶层的虚线，放最下面样式才不会被上面的覆盖了
  & > .ivu-tree-children::after {
    border-top: none;
  }

  & > .ivu-tree-children::before {
    height: 100%;
    width: 1px;
    left: 7px;
    top: 13px;
    border-left: 1px dashed #ddd;
  }

  & > ul.ivu-tree-children::before {
    border-left: none;
  }

  .ivu-tree-title {
    width: 90%;
    color: #333333;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
  }

  .ivu-tree-title:hover {
    color: #3F73FF;
    background-color: #FFFFFF;
  }

  .ivu-tree-title-selected, .ivu-tree-title-selected:hover {
    color: #007AFF;
    background-color: #FFFFFF;
  }

  .ivu-tree-title.ivu-tree-title-selected .common-wrap .btnNone {
    visibility: visible !important;
  }

}

/* 表头加背景色 */
.ivu-table-wrapper /deep/ .ivu-table .ivu-table-header thead tr th {
  background: #F4F9FF;
}

// 标题
.rightBoxTitle {
  width: 100%;
  line-height: 20px;
  padding: 10px 24px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #F5F8FF;
}

// 批量添加
.batchAddBox {
  position: relative;
  height: 32px;
  margin: 12px 0;
}

.batchAdd {
  position: absolute;
  right: 0;
  border: 1px solid #3F73FF;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  font-size: 12px;
  color: #3F73FF;
}

/deep/ .batchAdd > span {
  display: flex;
}

// title
#indNameIpt, #iptLabel, #iptLabel_complex {
  border: none;
  margin: 0 0 10px 0;
  padding: 0 10px;
  font-size: 16px;
  color: #555555;
  font-weight: bold;
}

// 折叠面板样式
/deep/ .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header {
  padding-left: 0;
}

.panelTitle {
  font-size: 14px;
  font-weight: bold;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333333;
}

/deep/ .panelContent {
  font-size: 12px;
  font-weight: normal;
  color: #3F73FF;
}

/deep/ .panelIcon {
  // content: url("../../../assets/icons/indicatorIcon/flod.svg");
  margin-right: 5px;
  transition: all .3s;
  transform: rotate(180deg);
}

/deep/ .ivu-collapse-item.ivu-collapse-item-active .panelIcon {
  transform: none;
}

/deep/ .ivu-collapse-content > .ivu-collapse-content-box {
  padding: 0;
}

// 折叠面板去掉边框
.ivu-collapse {
  border: none;
}

.ivu-collapse > .ivu-collapse-item {
  border-top: none;
}

// 保存按钮
.saveBtn {
  background: #3F73FF;
  border-color: #3F73FF;
  margin-left: 16px;
}

// 数字输入框高度
/deep/ .ivu-input-number .ivu-input-number-handler-wrap {
  opacity: 1;
}

.ivu-input-number {
  height: 32px;
  line-height: 32px;
}

.ivu-input-number-input-wrap {
  height: 32px;
}

.ivu-input-number-input {
  height: 32px;
  line-height: 32px;
}

.ivu-input-number-handler {
  height: 16px;
}

// 模块信息的td不加下划线
.moduleList /deep/ .ivu-table td {
  border-bottom: none;
}

.addModuleClass /deep/ .ivu-modal {
  width: 530px !important;
}

.addModuleClass /deep/ .ivu-modal .ivu-btn {
  width: 72px;
  border-radius: 2px;
}

.addModuleClass /deep/ .ivu-modal .ivu-btn.ivu-btn-primary {
  background-color: #3F73FF;
  border-color: #3F73FF;
}

.buttonClass.ivu-btn {
  border-radius: 2px;
  min-width: 72px;
}

.buttonClass.ivu-btn.ivu-btn-default {
  color: #3F73FF;
  border-color: #3F73FF;
}

.buttonClass.ivu-btn.ivu-btn-primary {
  background: #3F73FF;
}


// 分页器样式
/deep/ .pageClass {
  .ivu-page-item {
    min-width: 24px;
    height: 24px;
    line-height: 22px;
  }

  .ivu-page-prev, .ivu-page-next, .ivu-page-item-jump-prev, .ivu-page-item-jump-next {
    min-width: 24px;
    height: 24px;
    line-height: 22px;
  }

  .ivu-select-single .ivu-select-selection {
    height: 24px;
  }

  .ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    height: 22px;
    line-height: 22px;
  }

  .ivu-page-options-elevator {
    height: 24px;
    line-height: 24px;
  }

  .ivu-page-options-elevator input {
    height: 24px;
  }
}

/deep/ .indIcon_del {
  content: url("../../../assets/icons/indicatorIcon/delete.svg");
  transform: none;
  display: none;
}

/deep/ .ivu-tree-title-selected .indIcon_del {
  content: url("../../../assets/images/system/roleTreeDeleteBlue.svg");
}

/deep/ .ivu-tree-title:hover .indIcon_del,
/deep/ .ivu-tree-title-selected .indIcon_del {
  display: inline-block;
}

/deep/ .ivu-tree .ivu-tree-title:hover .common-wrap .btnNone {
  display: inline-block !important;
  visibility: visible !important;
}
</style>
