<template>
  <div class="wrap">
    <Tree
      :data="data"
      @on-select-change="selectObject"
      :class="isChild ? 'selected-tree' : ''"
      :render="renderContent"
    >
    </Tree>
  </div>
</template>

<script>
import { getDeptList } from "@/api/earlyWarningTarget";
export default {
  data() {
    return {
      data: [],
      isChild: true, //点击节点是否为最底层节点
    };
  },
  props: {
    name: {
      type: String,
    },
  },
  mounted() {
    this.queyDeptList(); //获取管理的部门
  },
  methods: {
    /**
     * 获取指标类型对应的className
     */
    getClassName(data) {
      if (data.title.includes("团队")) {
        return "team";
      } else if (data.title.includes("个人")) {
        return "personal";
      }
      return "";
    },
    /**
     * 树渲染逻辑
     */
    renderContent(h, { data }) {
      return h(
        "div",
        {
          style: {
            display: "flex",
          },
        },
        [
          h("i", {
            class: this.getClassName(data),
          }),
          h(
            "span",
            {
              on: {
                click: (e) => {
                  // 如果点击的是目录，那么点击目录标题时，触发该目录图标的点击事件
                  if (data.type === "group") {
                    e.target
                      .closest("li")
                      .querySelector(".ivu-tree-arrow")
                      .click();
                  }
                },
              },
            },
            data.title
          ),
        ]
      );
    },
    async queyDeptList() {
      const data = [
        {
          title: "团队" + this.name,
          expand: true,
          type: "group",
          children: [
            {
              title: "集团全部",
              selected: true,
            },
          ],
        },
        {
          title: "个人" + this.name,
          expand: true,
          type: "group",
          children: [
            {
              title: "我的",
              id: this.$store.state.user.nickName,
            },
          ],
        },
      ];
      const res = await getDeptList();
      if (res.data.state === "success") {
        if (res.data.data.length) {
          const newData = res.data.data.map((item) => {
            return {
              title: item.name,
              id: item.id,
              department: true,
            };
          });
          this.data = data.map((item) => {
            if (item.title.includes("团队")) {
              item.children.push({
                title: "我管理的",
                type: "group",
                expand: true,
                children: newData,
              });
            }
            return item;
          });
        } else {
          this.data = data;
        }
      }
    },
    //选择树节点
    selectObject(selectArray, selectItem) {
      console.log(selectArray, selectItem);
      this.isChild = selectItem.children ? false : true;
      if (selectItem.type === "group") {
        return;
      }
      this.$emit("onSelectTree", selectItem); //选择子类 传递参数自定
    },
  },
};
</script>
<style scoped lang='less'>
.wrap {
  width: 230px;
  height: 100%;
  opacity: 0.95;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/deep/.ivu-tree {
  padding: 32px 0;
  .ivu-tree-arrow {
    width: 0;
  }

  li {
    font-size: 0;
  }

  li ul {
    padding: 0;
  }

  li ul .ivu-tree-title {
    padding-left: 60px;
  }

  li ul ul .ivu-tree-title {
    padding-left: 80px;
  }

  .team {
    width: 18px;
    margin-right: 8px;
    content: url("~@/assets/images/earlyWarningTarget/team.svg");
  }

  .personal {
    width: 18px;
    margin-right: 8px;
    content: url("~@/assets/images/earlyWarningTarget/personal.svg");
  }

  .ivu-tree-children {
    // margin-left: 5px;

    ::before,
    ::after {
      border: none;
    }

    font-size: 14px;

    i::before {
      background: none;
    }
  }

  .ivu-tree-title {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    width: 100%;
    font-size: 14px;
  }

  .ivu-tree-empty {
    padding: 0 20px;
  }
}

/deep/.selected-tree {
  .ivu-tree-title-selected {
    background-color: #f0f5ff;

    &::before {
      content: "";
      left: 0;
      width: 4px;
      height: 40px;
      position: absolute;
      background-color: #3f73ff;
    }
  }
}
</style>
