<template>
  <div class="fa-dropdown-group">
    <Dropdown :trigger="trigger" :placement="placement">
      <slot></slot>
      <DropdownMenu slot="list">
        <template v-for="(item, index) in data">
          <!--有子项-->
          <template v-if="item.children">
            <FaDropdownGroup
              :data="item.children"
              :parent="getParentNodeIndexStr(index)"
              placement="right-start"
              @on-click="$emit('on-click', $event)">
              <DropdownItem :selected="item.selected" :disabled="item.disabled">{{ item.name }}</DropdownItem>
            </FaDropdownGroup>
          </template>
          <!--无子项-->
          <template v-else>
            <template v-if="item.name === '同比值'">
              <div v-if="index === 0" class="group-name">年同比</div>
              <div v-else class="group-name">月同比</div>
            </template>
            <DropdownItem :selected="item.selected" :disabled="item.disabled" @click.native="onClickItem(index, item.disabled)">{{ item.name }}</DropdownItem>
          </template>
        </template>
      </DropdownMenu>
    </Dropdown>
  </div>
</template>

<script>
export default {
  name: 'FaDropdownGroup',
  emits: ['on-click'],
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    parent: {
      type: String,
      default: '',
    },
    trigger: {
      type: String,
      default: 'hover',
    },
    placement: {
      type: String,
      default: 'bottom',
    },
  },
  methods: {
    // 该节点所有层级父组件下标组成的字符串
    getParentNodeIndexStr(index) {
      return this.parent ? `${this.parent},${index}` : `${index}`
    },

    onClickItem(index, disabled) {
      if (disabled) {
        return
      }

      let indexes = this.parent ? this.parent.split(',').map(item => Number(item)) : []
      indexes.push(index)
      this.$emit('on-click', indexes)
    },
  },
}
</script>

<style lang="less" scoped>
.fa-dropdown-group .ivu-dropdown {
  position: relative;
}

.ivu-dropdown-item-selected {
  background: #fff;

  &:after {
    content: '√';
    position: absolute;
    margin-left: 10px;
  }
}

.ivu-dropdown-item.ivu-dropdown-item-selected:hover {
  background: #f3f3f3;
}

.group-name {
  font-size: 12px;
  color: #999999;
  padding: 7px 8px;
  cursor: default;
}
</style>
