<template>
  <div class="business-modal-wrap">
    <div class="data-property-box">
      <div class="tree-wrap">
        <div class="search-wrap">
          <Input search clearable placeholder="请输入维度名/指标名/标签名" @on-change="onSearchDimensionOrIndicator" />
          <Dropdown>
            <Icon type="ios-add" style="font-size: 26px; cursor: pointer" />
            <template #list>
              <DropdownMenu>
                <DropdownItem><div @click="toAddIndicator(2)">复合指标</div></DropdownItem>
                <DropdownItem><div @click="toAddIndicator(3)">派生指标</div></DropdownItem>
              </DropdownMenu>
            </template>
          </Dropdown>
        </div>
        <div class="big-tree-wrap">
          <big-tree
            :setting="bigTreeSetting"
            :nodes="bigTreeNodes"
            @onClick="onTreeNodeClick"
            @onCheck="onCheck"
            @onCreated="handleCreated"
            @onDrag="onTreeNodeDrag"
          ></big-tree>
        </div>
      </div>
    </div>
    <Modal v-model="indicatorModalShow" :title="modalTitle" width="60%" :mask-closable="false">
      <div class="basic-info-wrapper">
        <IndicatorEdit :business-model-tree="businessModelTreeData" :asset-group-tree="groupTreeData" :data-assets="treeData" />
      </div>
      <div slot="footer">
        <Button type="primary" @click="onIndicatorSave">保存</Button>
        <Button
          type="text"
          @click="
            () => {
              this.indicatorModalShow = false;
            }
          "
          >取消</Button
        >
      </div>
    </Modal>
  </div>
</template>

<script>
import { getDimensionTreeData, findAllDimension } from "@/api/dimension";
import { listFolders, updateJobTime } from "@/api/dataset";
import { findAllIndicator } from "@/api/indicator";
import _ from "lodash";
import { deepCopy } from "@/utils/common";
import { INDICATOR_OPTION_LIST, OUT_INDICATOR_TYPE } from "@/config/indicator";
import saveIndicator from "@/view/report/indicator/IndicatorDetail/mixins/save-indicator";
import indicatorMixin from "@/view/report/mixin/indicatorMixin";
import IndicatorEdit from "@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorEdit/index.vue";
import dataPropertyMixin from "@/view/report/indicator-browser/mixin/dataSetMixin";
import BigTree from "@/components/BigTree/ztree";
export default {
  name: "DataProperty",
  mixins: [dataPropertyMixin, saveIndicator, indicatorMixin],
  components: {
    IndicatorEdit,
    BigTree,
  },
  props: {
    currentChooseDimension: {
      type: Array,
      required: true,
    },
    currentChooseIndicator: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      treeData: [], // 数据资产树
      treeDataBak: [], // 数据资产树（全量备份）
      treeDataBakF: [], // 数据资产树（根据已选维度/指标的备份）
      indicatorModalShow: false,
      addIndicatorType: 2,
      oldIndicatorVersion: "V1.0.0", // 旧版本号，由接口详情返回
      businessModelTreeData: [], // 业务模型树
      groupTreeData: [], // 指标分组树
      allTreeData: [], // 完整的指标树
      bigTreeSetting: {
        check: {
          enable: false,
        },
        data: {
          simpleData: {
            enable: true,
            pIdKey: "pid",
          },
        },
        view: {
          showIcon: true,
        },
        // 开启拖拽
        edit: {
          drag: {
            // 打开移动功能，鼠标左键点击后拖拽
            isMove: true,
          },
          enable: true,
        },
      },
      bigTreeNodes: [],
      bigTreeNodesBak: [],
      bigTreeNodesBakF: [],
      ztreeObj: null,
    };
  },
  computed: {
    isSelectDimOrInd() {
      return !!this.currentChooseDimension.length || !!this.currentChooseIndicator.length;
    },
    modalTitle() {
      return this.addIndicatorType === 2 ? "新增复合指标" : "新增派生指标";
    },
  },
  created() {
    this.allDatasetList = []; // 文件夹和数据集的平铺列表
  },
  mounted() {
    this.init();
  },
  updated() {
    console.log(this.bigTreeNodes);
    // console.log(this.bigTreeNodesBak);
  },
  methods: {
    async init() {
      // 复合指标过滤条件下拉使用业务模型中的属性字段
      await this.getBusinessModelTreeData();
      await this.generateTree();
      await this.getIndGroup();
      await this.getPublicVariableList();
      await this.fetchAllVersionList();
    },
    /**
     * 数据资产树全局渲染函数
     * @param h
     * @param root
     * @param node
     * @param data
     * @returns {*}
     */
    renderContent(h, { root, node, data }) {
      return h(
        "div",
        {
          style: {
            width: "100%",
            overflow: "hidden",
            whiteSpace: "nowrap",
            textOverflow: "ellipsis",
            marginLeft: data.children && data.children.length ? 0 : "-6px",
          },
          attrs: {
            title: data.title,
          },
          on: {
            click: (e) => {
              console.log(data); // 获取这个值的title
              // 如果点击的是目录，那么点击目录标题时，触发该目录图标的点击事件
              if (data.isGroup) {
                e.target.closest("li").querySelector(".ivu-tree-arrow").click();
              }
            },
          },
        },
        [
          h("i", {
            class: {
              catalogueTreeNode: !data.children || !data.children.length,
            },
          }),
          h("span", data.title),
        ]
      );
    },
    /**
     * 数据资产树单独节点渲染函数
     * @param h
     * @param data
     * @returns {*}
     */
    nodeRenderContent(h, { root, node, data }) {
      return h(
        "span",
        {
          style: {
            width: "100%",
          },
        },
        [
          h(
            "span",
            {
              style: {
                width: "100%",
                display: "flex",
                alignItems: "center",
                marginLeft: data.children && data.children.length ? 0 : "-6px",
              },
            },
            [
              h("i", {
                class: this.getClassNameByType(data),
              }),
              h(
                "span",
                {
                  style: {
                    textOverflow: "ellipsis",
                    overflow: "hidden",
                    whiteSpace: "nowrap",
                    display: "inline-block",
                    width: "100%",
                    wordBreak: "break-all",
                  },
                  attrs: {
                    title: data.title,
                    draggable: "true",
                    "data-type": data.type,
                    "data-id": data.id,
                    "data-calculate-type": data.calculateType,
                    "data-abbr-name": data.abbrName,
                    "data-show-type": data.showType,
                    "data-config-Data": data.configData,
                  },
                  on: {
                    // dragstart: this.handleDragStart,
                    click: () => this.handleNodeClick(data),
                  },
                },
                data.title
              ),
            ]
          ),
        ]
      );
    },
    /**
     * 维度/指标对应的className
     */
    getClassNameByType({ type }) {
      if (type === 99) {
        return "dimensionTreeNode";
      } else {
        return INDICATOR_OPTION_LIST.find((ele) => ele.value === type)?.iconClass || "";
      }
    },
    /**
     * 获取树分组
     */
    async getGroups() {
      let dataSource = 1357333468808192;
      const { data } = await listFolders(dataSource);
      console.log(data);
      let { dataSourceGroups, datasetList } = data.data;

      if (data?.state === "success") {
        datasetList = datasetList.map((item) => ({
          id: Number(item.id),
          parentId: Number(item.groupId),
          name: item.name,
          status: item.status,
          result: item.result,
          creator: item.creator,
          updateTime: item.updateTime,
          detail: item.detail, // 调用失败错误信息
          tableId: item.newTableId,
          dataUpdateType: item.dataUpdateType, // 标识当前数据集的调度方式
          type: "item", // 数据集
        }));
        dataSourceGroups = dataSourceGroups
          .filter((item) => item.origin === 2)
          .map((item) => ({
            id: Number(item.id),
            parentId: Number(item.parentId),
            name: item.name,
            creator: item.creator,
            updateTime: item.updateTime,
            type: "group", // 文件夹
          }));
        // 深拷贝一份数据出来，用于移动文件夹功能查找文件夹和数据集
        let dataSourceGroupsBak = deepCopy(dataSourceGroups);
        let datasetListBak = deepCopy(datasetList);
        this.allDatasetList = [...dataSourceGroupsBak, ...datasetListBak];
        // 进行筛选
        // this.allDatasetList = this.filterDatasetList(query, this.allDatasetList);
        this.buildDatasetTree();
        return this.allDatasetList;
      } else {
        this.$Message.error("获取目录分组失败");
      }
    },
    // 构建数据集列表树结构
    buildDatasetTree() {
      // 默认都不选中
      this.allDatasetList.forEach((item) => (item._checked = false));
      // 找到根节点
      let tree = this.allDatasetList.filter((item) => item.parentId === -1);
      // 递归找到子文件夹，放入children中
      this.findChildren(tree, this.allDatasetList);
      this.datasetTree = tree;
      console.log(tree);
    },
    // 构建数据集列表树结构的递归函数
    findChildren(parent, allList) {
      for (let parentItem of parent) {
        const children = allList.filter((item) => item.parentId === parentItem.id);
        parentItem.children = children;
        if (children.length) {
          parentItem._showChildren = true;
          this.findChildren(children, allList);
        }
      }
    },
    /**
     * 获取全部维度
     */
    async getAllDimensions() {
      const { data } = await findAllDimension();
      if (data?.state === "success") {
        return data.data.map((item) => ({
          id: Number(item.id),
          groupId: Number(item.groupId),
          name: item.name,
          type: 99,
        }));
      } else {
        this.$Message.error("获取全部维度失败");
      }
    },
    /**
     * 获取全部指标
     */
    async getAllIndicators() {
      const { data } = await findAllIndicator();
      if (data?.state === "success") {
        return data.data.map((item) => ({
          id: Number(item.id),
          groupId: Number(item.groupId),
          name: item.name,
          abbrName: item.abbrName,
          type: item.type,
          calculateType: item.calculateType,
          showType: item.showType,
          configData: item.configData,
        }));
      } else {
        this.$Message.error("获取全部指标失败");
      }
    },
    /**
     * 树子节点拖拽
     * @param e
     */
    handleDragStart(e) {
      const { dataset } = e.target;
      const data = JSON.stringify({
        type: Number(dataset.type),
        id: Number(dataset.id),
        title: e.target.title,
        calculateType: dataset.calculateType,
        abbrName: dataset.abbrName,
        showType: dataset.showType,
        configData: dataset.configData,
      });
      e.dataTransfer.setData("DRAG_NODE_DATA", data);
    },
    /**
     * 树子节点点击
     * **/
    handleNodeClick(data) {
      // console.log('handleNodeClick=====', data)
      this.$emit("onClickTreeItem", data);
    },

    /**
     * 递归过滤外部指标
     */
    filterOutIndicatorTree(list = []) {
      return list.filter((ele) => {
        if (ele?.type === OUT_INDICATOR_TYPE) {
          return false;
        } else {
          ele.children = this.filterOutIndicatorTree(ele.children);
          return true;
        }
      });
    },
    /**
     * 获取二维数组中公共的项
     * @param array
     * @returns {*[]}
     */
    getPublicFromArray(array) {
      let publicArray = [];
      let publicObject = {};

      // 记录每一项出现的次数
      for (let level1 of array) {
        for (let level2 of level1) {
          if (publicObject[level2]) {
            publicObject[level2]++;
          } else {
            publicObject[level2] = 1;
          }
        }
      }

      // 如果外层数组中都存在，放到新的数组里
      const keys = Object.keys(publicObject);
      for (let key of keys) {
        if (publicObject[key] === array.length) {
          publicArray.push(key);
        }
      }

      return publicArray;
    },
    /**
     * 刷新树的选中状态
     * @param currentChooseData
     * @param treeData
     */
    refreshTreeSelect(currentChooseData, treeData) {
      _.forEach(currentChooseData, (id) => {
        _.forEach(treeData, (item) => {
          if (item.children && item.children.length) {
            let dim = null;
            if (id instanceof Object) {
              // 指标为对象
              dim = _.find(item.children, (child) => child.id.toString() === id.id.toString());
            } else {
              // 维度为值
              dim = _.find(item.children, (child) => child.id.toString() === id.toString());
            }
            if (dim) {
              dim.selected = true;
            }
            // 展开已选中节点的父级
            item.expand = item.children.some((child) => child.selected);
          }
        });
      });
    },

    /**
     * 重置树
     */
    resetTree() {
      this.bigTreeNodes = deepCopy(this.bigTreeNodesBak);
    },
    toAddIndicator(type) {
      this.clearIndicator();
      this.addIndicatorType = type;
      this.setIndicatorKind(type);
      this.indicatorModalShow = true;
    },
    async onIndicatorSave() {
      // 非空校验
      const valid = await this.indicatorFormValidate();
      if (!valid) return;
      if (this.addIndicatorType === 2) {
        // 新增复合指标
        await this.compositeIndicatorSave();
      } else {
        // 新增派生指标
        await this.derivativeIndicatorSave();
      }
    },
    /**
     * 刷新数据资产树
     */
    getGroupAndIndicator() {
      this.indicatorModalShow = false;
      this.generateTree();
    },
    onTreeNodeClick(evt, treeId, treeNode) {
      // 点击事件
      if (!treeNode.type) return;
      treeNode.title = treeNode.name;
      this.$emit("onClickTreeItem", treeNode);
    },
    onCheck(evt, treeId, treeNode) {
      // 选中事件
      console.log(evt.type, treeNode);
    },
    onTreeNodeDrag(evt, treeId, treeNode) {
      // 拖拽事件
      console.log(evt.type, treeNode);
      const nodeData = treeNode[0];
      const data = JSON.stringify({
        type: Number(nodeData.type),
        id: Number(nodeData.id),
        title: nodeData.name,
        calculateType: nodeData.calculateType,
        abbrName: nodeData.abbrName,
        showType: nodeData.showType,
        configData: nodeData.configData,
      });
      console.log("onTreeNodeDrag===", data);
      // evt.dataTransfer.setData('DRAG_NODE_DATA', data)
    },
    handleCreated(ztreeObj) {
      this.ztreeObj = ztreeObj;
      // onCreated 中操作ztreeObj对象展开第一个节点
      // ztreeObj.expandNode(ztreeObj.getNodes()[0], true)
      ztreeObj.expandAll(true);
    },
  },
};
</script>

<style scoped>
.business-modal-wrap {
  height: 100%;
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.data-property-box {
  border: none;
  position: relative;
  height: inherit;
}

/**指标维度树*/
.tree-wrap {
  padding: 10px;
  height: calc(100% - 32px);
}
.search-wrap {
  display: flex;
  align-items: center;
}
.tree-max-height {
  overflow-y: scroll;
  margin-top: 10px;
  padding-bottom: 20px;
  height: calc(100% - 42px);
  overflow-x: hidden;
}

.tree-max-height::-webkit-scrollbar {
  border-radius: 30px;
  width: 4px;
}

.tree-max-height::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
}

/deep/ .ivu-tree > ul > li:first-child > .ivu-tree-arrow-open:first-child .ivu-icon-ios-arrow-forward:first-child:before {
  content: url("~@/assets/images/system/treeRoot.svg");
}
</style>

<style lang="scss" scoped>
/deep/ .ivu-tree-arrow-disabled {
  cursor: pointer;
}

.select-tree.ivu-tree {
  /deep/ .ivu-icon {
    transform: none;
  }
  /deep/ .ivu-tree-arrow {
    width: auto;
    max-width: 12px;
  }
  /deep/ .ivu-tree-arrow .ivu-icon-ios-arrow-forward:before {
    content: url("~@/assets/images/system/treePlusForManage.svg");
  }
  /deep/ .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
    content: url("~@/assets/images/system/treeMinusForManage.svg");
  }
  /deep/ .catalogueTreeNode {
    content: url("~@/assets/images/system/catalogueTreeNode.png");
    width: 16px;
    margin-right: 3px;
    vertical-align: -2px;
  }
  /deep/ .dimensionTreeNode {
    content: url("~@/assets/icons/dimensionIcon/dimension.png");
    width: 16px;
    margin-right: 4px;
  }
  /deep/ .ivu-tree-title.ivu-tree-title-selected .dimensionTreeNode {
    content: url("~@/assets/icons/dimensionIcon/dimensionBlue.png");
  }
  /deep/ .fileNode {
    content: url("~@/assets/images/system/catalogueTreeNode.png");
    width: 18px;
    margin-right: 3px;
  }

  /deep/ .ivu-tree-title {
    .treeEditBtn,
    .treeAddBtn,
    .treeDeleteBtn {
      vertical-align: middle;
      display: none;
    }
    .treeEditBtn {
      content: url("~@/assets/icons/dimensionIcon/treeEdit.svg");
      margin-right: 6px;
    }
    .treeAddBtn {
      content: url("~@/assets/icons/dimensionIcon/treeAdd.svg");
      margin-right: 6px;
    }
    .treeDeleteBtn {
      content: url("~@/assets/icons/dimensionIcon/treeDelete.svg");
    }
    &:hover {
      .treeEditBtn,
      .treeAddBtn,
      .treeDeleteBtn {
        display: inline-block;
      }
    }

    &.ivu-tree-title-selected {
      color: #3f73ff;

      .treeDeleteBtn {
        content: url("~@/assets/icons/dimensionIcon/treeDeleteBlue.svg");
        display: inline-block;
      }
    }
  }
}
.big-tree-wrap {
  margin-top: 20px;
  height: calc(100% - 52px);
  overflow: auto;
  display: block;
}
</style>
