<template>
 <div class="global-var-tab">
   <div v-for="item in globalVariableList" :key="item.varCode" class="global-var-item" draggable>
     {{item.name}}
   </div>
 </div>
</template>

<script>
import {getVariableList} from "@/api/dataset";
import {mapActions} from "vuex";
export default {
  name: "GlobalVarTab",
  data() {
    return {
      globalVariableList: []
    }
  },
  mounted() {
    this.fetchVariableList()
  },
  methods: {
    ...mapActions(['setGlobalVariableList']),
    fetchVariableList() {
      getVariableList().then(res => {
        if(res.data.state === 'success' && res.data.data){
          this.globalVariableList = res.data.data.map(item => {
            let paramValueArr = []
            Object.keys(item.paramValue).forEach(key => {
              paramValueArr.push({
                value: key,
                label: item.paramValue[key]
              })
            })
            return {
              ...item,
              paramValue: paramValueArr
            }
          });
          this.setGlobalVariableList({globalVariableList: this.globalVariableList})
        }
      })
    },
  }
}
</script>

<style scoped>
.global-var-item{
  padding: 10px;
}
</style>
