<template>
  <div class="resourceTab-container">
    <Input
      class="resourceSearchInput"
      v-if="tabResourceList.length"
      v-model="resourceSearchName"
      prefix="ios-search"
      clearable
      placeholder="请输入资源名称"
    />

    <div class="resourceWrapper" :style="{ height: `calc(100% - ${tabResourceList.length !== 0 ? '42px' : '0px'} - 22px)` }">
      <template v-if="tabResourceList.length">
        <section class="commonResource">
          <div class="resourceTitle">
            <img src="@/assets/icons/resourceManage/commonResource.svg" alt="" />
            <span>常规组件资源库</span>
          </div>
          <template v-if="commonResourceListF.length">
            <TreeNode
              v-for="item in commonResourceListF"
              :key="item.id"
              :data="item"
              :filterWord="resourceSearchName"
              :iconDown="collapseIcon"
              :iconRight="expendIcon"
              @changeTreeNode="changeTreeNode"
              @showChartToCanvas="showChartToCanvas"
            />
          </template>
          <div class="noData1" v-else>暂无相关资源</div>
        </section>

        <section class="commonResource">
          <div class="resourceTitle">
            <img src="@/assets/icons/resourceManage/combineResource.svg" alt="" />
            <span>组合组件资源库</span>
          </div>
          <template v-if="combineResourceListF.length">
            <TreeNode
              v-for="item in combineResourceListF"
              :key="item.id"
              :data="item"
              :filterWord="resourceSearchName"
              :iconDown="collapseIcon"
              :iconRight="expendIcon"
              @changeTreeNode="changeTreeNode"
              @showChartToCanvas="showChartToCanvas"
            />
          </template>
          <div class="noData1" v-else>暂无相关资源</div>
        </section>

        <section class="commonResource">
          <div class="resourceTitle">
            <img src="@/assets/icons/resourceManage/customizeResource.svg" alt="" />
            <span>定制化组件资源库</span>
          </div>
          <template v-if="customResourceListF.length">
            <TreeNode
              v-for="item in customResourceListF"
              :key="item.id"
              :data="item"
              :filterWord="resourceSearchName"
              :iconDown="collapseIcon"
              :iconRight="expendIcon"
              @changeTreeNode="changeTreeNode"
              @showChartToCanvas="showChartToCanvas"
            />
          </template>
          <div class="noData1" v-else>暂无相关资源</div>
        </section>
      </template>
      <div class="noData" v-else>
        <img src="@/assets/images/home/noData.png" />
        <div>暂无相关资源</div>
      </div>
    </div>

    <div class="resourceBtn" @click="$router.push({ path: '/manager/templateManage/resourceManage' })">
      <img src="@/assets/icons/resourceManage/templateList/resourceManage.svg" alt="" />
      <span>资源管理</span>
    </div>
  </div>
</template>

<script>
import TreeNode from "./TreeNode";
import { getDimensionTreeData } from "@/api/dimension";
import { deepCopy } from "@/utils/common";
import collapseIcon from "@/assets/icons/dataSetList/icon_collapse_folder.svg";
import expendIcon from "@/assets/icons/dataSetList/icon_expand_folder.svg";
import { mapState, mapMutations, mapActions } from "vuex";
import { getChartResource, getSingleResource, getMoreResource, getCustomResource } from "@/api/resourceManage";
import BaseSelector from "@/view/report/chart/basics/BaseSelector";
import { CUSTOM_CHART_LIST } from "@/config/resourceManage";

export default {
  name: "ResourceTab",
  components: {
    TreeNode
  },
  extends: BaseSelector,
  inject: ["addChartFromResourceTab"],
  data() {
    return {
      collapseIcon,
      expendIcon,
      resourceSearchName: "", //资源搜索名称
      treeData: [], //文件夹分组数据
      tabResourceList: [], // 所有启用的资源
      resourceList: {
        common: [], //常规资源
        combine: [], //组合资源
        custom: [] //定制化资源
      }
    };
  },
  computed: {
    ...mapState("resourceManage", ["refreshResourceTabW", "combineResourceId", "allResourceList"]),
    ...mapState({
      allIndicators: state => state.chart.indicators
    }),
    commonResourceListF() {
      return this.fliterTreeData(deepCopy(this.resourceList.common), this.resourceSearchName);
    },
    combineResourceListF() {
      return this.fliterTreeData(deepCopy(this.resourceList.combine), this.resourceSearchName);
    },
    customResourceListF() {
      return this.fliterTreeData(deepCopy(this.resourceList.custom), this.resourceSearchName);
    }
  },
  async created() {
    await this.getTreeData();
    this.getAllResourceList();
  },
  methods: {
    ...mapMutations("resourceManage", ["setSaveResourceModalStatus"]),
    ...mapActions(["setIndicators"]),
    fliterTreeData(data, filterWord) {
      return data.filter(ele => {
        if (ele.children) {
          ele.children = this.fliterTreeData(ele.children, filterWord);
          let isFilterGroup = false;
          if (filterWord !== "") {
            isFilterGroup = ele.resourceName.includes(filterWord) && ele.type === "value";
          } else {
            isFilterGroup = true;
          }
          return ele.children.length !== 0 || isFilterGroup;
        } else {
          return ele.resourceName.includes(filterWord) && ele.type === "value";
        }
      });
    },
    /**
     * 获取资源的分组数据，即数据资产目录
     */
    async getTreeData() {
      const { data } = await getDimensionTreeData();
      if (data?.state === "success") {
        let groupsList = data.data.dimensionGroupList.map(item => ({
          id: item.id,
          parentId: item.parentId,
          resourceName: item.name, // TreeTable组件需要
          type: "group"
        }));
        let tree = deepCopy(groupsList.filter(item => item.parentId === -1)); // 初始树
        tree.forEach(ele => {
          ele.deep = 1;
        });
        this.transformationGroupToTree(tree, groupsList, 1);
        this.treeData = tree; // 移动弹窗中的树状数据
      } else {
        this.$Message.error("获取目录分组失败");
      }
    },
    /**
     * 递归生成分组树
     * @param resourceFolder 第一层数据
     * @param groups 全部数据
     * @param deep 层级，从1开始
     */
    transformationGroupToTree(resourceFolder = [], groups = [], deep) {
      resourceFolder.forEach(item => {
        groups.forEach(group => {
          if (group.parentId == item.id) {
            group.deep = item.deep + 1;
            item.children = item.children || [];
            item.children.push(group);
            item.expand = true;
          }
        });
        if (item.children) {
          this.transformationGroupToTree(item.children, groups, ++deep);
        }
      });
    },
    /**
     * 获取所有资源数据
     */
    async getAllResourceList() {
      const param = {
        status: 1 // 1：启用；0：禁用
      };
      const { data } = await getChartResource(param);
      if (data?.state === "success") {
        this.tabResourceList = data.data.map(item => ({
          id: item.id,
          groupId: item.groupId,
          chartType: item.chartType,
          resourceName: item.name,
          resourceType: item.type,
          type: "value"
        }));
        const commonResourceList = this.tabResourceList.filter(ele => ele.resourceType === "1");
        const combineResourceList = this.tabResourceList.filter(ele => ele.resourceType === "2");
        const customResourceList = this.tabResourceList.filter(ele => ele.resourceType === "3");
        this.resourceList.common = this.filterResource(commonResourceList, "common");
        this.resourceList.combine = this.filterResource(combineResourceList, "combine");
        this.resourceList.custom = this.filterResource(customResourceList, "custom");
      }
    },
    filterResource(data, type) {
      let groupList = deepCopy(this.treeData);
      this.resourceToGroup(groupList, data, type);
      let arr = this.filterFolder(groupList);
      this.expandFirstFolder(arr);
      return arr;
    },
    /**
     * 递归生成资源树
     * @param groupTree 之前生成的分组树，向对应节点下添加资源
     * @param resourceList 所有资源列表
     * @param type 资源类型
     */
    resourceToGroup(groupTree = [], resourceList = [], type) {
      groupTree.forEach(group => {
        group.expand = false;
        group.resourceType = type;
        group.children = group.children || [];
        if (group.children.length > 0) {
          this.resourceToGroup(group.children, resourceList, type);
        }
        resourceList.forEach(item => {
          if (item.groupId == group.id) {
            group.children.push(item);
            item.deep = group.deep + 1;
          }
        });
      });
    },
    /**
     * 过滤掉不存在资源的文件夹
     */
    filterFolder(list) {
      return list.filter(ele => {
        if (ele.children?.length) {
          const newChildren = this.filterFolder(ele.children);
          ele.children = newChildren;
          return newChildren.length;
        } else {
          return ele.type === "value"; // 是否是资源
        }
      });
    },
    /**
     * 默认展开第一个有数据的文件夹(深度递归第一条数据，沿途文件夹全部展开)
     */
    expandFirstFolder(tree) {
      for (let treeItem of tree) {
        if (treeItem.children?.length) {
          this.expandFirstFolder(treeItem.children);
        }
        treeItem.expand = true;
        return;
      }
    },
    /**
     * 展开或收起分组
     */
    changeTreeNode({ id, resourceType, expand }) {
      this.changeExpand({ id, expand, data: this.resourceList[resourceType] });
    },
    changeExpand({ id, expand, data }) {
      for (const ele of data) {
        if (ele.type === "group") {
          if (ele.id === id) {
            ele.expand = !expand;
            return;
          } else {
            this.changeExpand({ id, expand, data: ele.children });
          }
        }
      }
    },
    /**
     * 将tab下的资源展示到画布上。
     * resourceType： 常规1 组合2 定制3
     */
    async showChartToCanvas({ id, resourceType }) {
      console.log(id,resourceType,'--');
      let res = {};
      if (resourceType === "1") {
        res = await getSingleResource(id);
      } else if (resourceType === "2") {
        res = await getMoreResource(id);
      } else {
        res = await getCustomResource(id);
      }
      if (res.data?.state === "success") {
        const data = res.data.data;
        const allIndicatorList = await this.findAllIndicator();
        if (resourceType === "1") {
          this.addChart(allIndicatorList, data, resourceType);
        } else if (resourceType === "2") {
          // 编辑组合资源时，回填标签和分组
          if (this.combineResourceId !== "") {
            const { labels, groupId } = data;
            this.setSaveResourceModalStatus({ defaultTagValue: deepCopy(labels) }); // 回填标签
            this.setSaveResourceModalStatus({ defaultGroupId: groupId }); // 回填分组
          }
          data.children.forEach(ele => {
            if (CUSTOM_CHART_LIST.includes(ele.type)) {
              this.addCustomChart(ele, true);
            } else {
              this.addChart(allIndicatorList, ele, resourceType);
            }
          });
        } else {
          this.addCustomChart(data, false);
        }
      }
    },
    /**
     * 获取所有的指标
     */
    async findAllIndicator() {
      if (this.allIndicators.length) {
        return deepCopy(this.allIndicators);
      } else if (localStorage.getItem("allIndicators")) {
        return JSON.parse(localStorage.getItem("allIndicators"));
      } else {
        const res = await this.findAllIndicatorFromBasic();
        if (res.data.state === "success") {
          const { data } = res.data;
          this.setIndicators({ indicators: data });
          localStorage.setItem("allIndicators", JSON.stringify(data));
          return data;
        }
      }
    },
    /**
     * 添加常规资源到画布（分是否属于组合资源这2种情况）
     * @param {Array} allIndicatorList 所有指标数据
     * @param {Object} resourceData 资源的详情数据
     * @param {Object} resourceType 资源类型
     */
    addChart(allIndicatorList, resourceData, resourceType) {
      const { dimensions, indicators, type, name, width, height, configData, x, y } = resourceData;
      let newIndicators = indicators.map(item => {
        let indicatorItem = allIndicatorList.find(ele => ele.id === item.id.toString());
        if (indicatorItem) {
          indicatorItem.title = indicatorItem.name;
          return indicatorItem;
        } else {
          return item;
        }
      });
      let params = {
        resourceType, // 资源类型
        item: {
          id: type,
          dimensions,
          indicators: newIndicators,
          series: JSON.parse(configData).series,
          title: name
        }
      };

      // 组合资源，展示在之前对应的位置
      if (resourceType === "2") {
        params.x = x;
        params.y = y;
        params.combineWidth = JSON.parse(configData).combineWidth; // 组合资源整体宽
        params.combineHeight = JSON.parse(configData).combineHeight; // 组合资源整体高
        params.combineX = JSON.parse(configData).combineX; // 组合资源整体x坐标
        params.combineY = JSON.parse(configData).combineY; // 组合资源整体y坐标
      }

      const chartConfig = {
        defaultShow: false, // 是否是默认图表
        width,
        height,
        config: JSON.parse(configData).data,
        style: JSON.parse(configData).style,
        src: JSON.parse(configData).imgSrc,
        innerHtml: JSON.parse(configData).inputHtmlText
      };
      this.addChartFromResourceTab(params, chartConfig);
    },
    /**
     * 添加定制化资源到画布（分是否属于组合资源这2种情况）
     * @param {Object} resourceData 资源的详情数据
     * @param {Object} isCombine 是否是组合资源中的定制化组件
     */
    addCustomChart(resourceData, isCombine) {
      const { type, path, width, height, configData, x, y } = resourceData;
      let params = {
        isCombine,
        resourceType: "3", // 资源类型
        customComponentName: isCombine ? type : path,
        width,
        height
      };

      // 组合资源，展示在之前对应的位置
      if (isCombine) {
        params.x = x;
        params.y = y;
        params.combineWidth = JSON.parse(configData).combineWidth; // 组合资源整体宽
        params.combineHeight = JSON.parse(configData).combineHeight; // 组合资源整体高
        params.combineX = JSON.parse(configData).combineX; // 组合资源整体x坐标
        params.combineY = JSON.parse(configData).combineY; // 组合资源整体y坐标
      }

      this.addChartFromResourceTab(params);
    }
  },
  watch: {
    refreshResourceTabW() {
      this.getAllResourceList();
    },
    // 有组合资源id，展示资源到画布（组合资源编辑时）
    combineResourceId(newVal) {
      if (newVal !== "") {
        const { id, type } = this.allResourceList.find(ele => ele.id.toString() === newVal);
        this.showChartToCanvas({ id, resourceType: type });
      }
    }
  }
};
</script>

<style lang="less" scoped>
.resourceTab-container {
  height: 100%;
  padding: 10px;
  .resourceSearchInput {
    margin-bottom: 10px;
  }
  .resourceWrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 8px;
    .commonResource {
      border-bottom: 1px solid rgba(197, 207, 231, 0.26);
      margin-bottom: 10px;
      .resourceTitle {
        display: flex;
        align-items: center;
        height: 28px;
        margin-bottom: 6px;
        img {
          width: 18px;
          height: 18px;
          margin-right: 6px;
        }
        span {
          font-family: PingFangSC-Medium;
          font-size: 14px;
          color: #333333;
          font-weight: 600;
        }
      }
      .noData1 {
        font-size: 12px;
        color: #333333;
        margin-left: 22px;
      }
    }
    .noData {
      font-size: 12px;
      color: #90b5ff;
      text-align: center;
      height: 338px;
      img {
        margin-top: 10px;
        margin-bottom: 6px;
      }
    }
  }
  .resourceBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    cursor: pointer;
    img {
      width: 16px;
      height: 16px;
      margin-right: 5px;
    }
    span {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #3f73ff;
      line-height: 22px;
    }
  }
}
</style>
