<template>
  <ul class="treeNode-container">
    <li class="row">
      <div class="resourceTitle" @click="clickResourceName()" :style="{ marginLeft: `${(data.deep - 1) * 22}px` }" :title="data.resourceName">
        <img @click="handleExpand" :src="chartIcon" />
        <span v-html="brightKeyword(data.resourceName, filterWord)"></span>
      </div>

      <template v-if="data.type === 'group' && data.expand">
        <template v-if="data.children.length">
          <TreeNode
            v-for="item in data.children"
            :key="item.id"
            :data="item"
            :filterWord="filterWord"
            :iconDown="iconDown"
            :iconRight="iconRight"
            @changeTreeNode="changeTreeNode"
            @showChartToCanvas="showChartToCanvas"
          />
        </template>
        <div class="noData" v-else :style="{ marginLeft: `${data.deep * 22}px` }">暂无相关资源</div>
      </template>
    </li>
  </ul>
</template>

<script>
import barIcon from "@/assets/icons/resourceManage/chart/bar.svg"; // chart资源图标
import doublePieIcon from "@/assets/icons/resourceManage/chart/doublePie.svg";
import gaugeIcon from "@/assets/icons/resourceManage/chart/gauge.svg";
import imgIcon from "@/assets/icons/resourceManage/chart/img.svg";
import indicatorIcon from "@/assets/icons/resourceManage/chart/indicator.svg";
import indexBoardIcon from "@/assets/icons/resourceManage/chart/indexBoard.svg";
import inputIcon from "@/assets/icons/resourceManage/chart/input.svg";
import lineBarIcon from "@/assets/icons/resourceManage/chart/line_bar.svg";
import lineIcon from "@/assets/icons/resourceManage/chart/line.svg";
import radarIcon from "@/assets/icons/chart/chart_type/radar_black.svg";
import mapIcon from "@/assets/icons/resourceManage/chart/map.svg";
import pieIcon from "@/assets/icons/resourceManage/chart/pie.svg";
import scatterIcon from "@/assets/icons/resourceManage/chart/scatter.svg";
import tableIcon from "@/assets/icons/resourceManage/chart/table.svg";
import combineIcon from "@/assets/icons/resourceManage/chart/combine.svg";
import customIcon from "@/assets/icons/resourceManage/chart/custom.svg";
import bubbleIcon from "@/assets/icons/resourceManage/chart/bubble.svg";

export default {
  name: "TreeNode",
  props: {
    data: {
      type: Object,
      default: () => {}
    },
    filterWord: {
      type: String,
      default: ""
    },
    iconDown: {
      type: String,
      default: ""
    },
    iconRight: {
      type: String,
      default: ""
    }
  },
  computed: {
    chartIcon() {
      if (this.data.type === "group") {
        // 分组
        if (this.data.expand) {
          return this.iconDown;
        } else {
          return this.iconRight;
        }
      } else {
        // 资源
        if (this.data.resourceType === "2") {
          return combineIcon;
        } else if (this.data.resourceType === "3") {
          return customIcon;
        } else {
          let icon = null;
          switch (this.data.chartType) {
            case "CustomTable":
              icon = tableIcon;
              break;
            case "SimpleLine":
              icon = lineIcon;
              break;
            case "BasicRadar":
              icon = radarIcon;
              break;
            case "SimpleBar":
              icon = barIcon;
              break;
            case "SimplePie":
              icon = pieIcon;
              break;
            case "SimpleScatter":
              icon = scatterIcon;
              break;
            case "SimpleBubble":
              icon = bubbleIcon;
              break;
            case "MixLineBar":
              icon = lineBarIcon;
              break;
            case "DoublePie":
              icon = doublePieIcon;
              break;
            case "Indicator":
              icon = indicatorIcon;
              break;
            case "IndexBoard":
              icon = indexBoardIcon;
              break;
            case "SimpleGauge":
              icon = gaugeIcon;
              break;
            case "ComplexTextarea":
              icon = inputIcon;
              break;
            case "SimpleMap":
              icon = mapIcon;
              break;
            case "CustomImage":
              icon = imgIcon;
              break;
          }
          return icon;
        }
      }
    }
  },
  methods: {
    brightKeyword(val, keyword) {
      if (val.includes(keyword)) {
        return val.replace(new RegExp(keyword, "ig"), `<span style='color:#3F73FF'>${keyword}</span>`);
      } else {
        return val;
      }
    },
    /**
     * 点击展示资源到画布
     */
    async clickResourceName() {
      const { id, type, resourceType } = this.data;
      if (type === "group") return;

      this.$emit("showChartToCanvas", { id, resourceType });
    },
    handleExpand(e) {
      e.stopPropagation();
      if (this.data.type === "value") return;
      this.$emit("changeTreeNode", { id: this.data.id, resourceType: this.data.resourceType, expand: this.data.expand });
    },
    changeTreeNode(payload) {
      this.$emit("changeTreeNode", payload);
    },
    showChartToCanvas(payload) {
      this.$emit("showChartToCanvas", payload);
    }
  }
};
</script>

<style lang="less" scoped>
.treeNode-container {
  .row {
    list-style-type: none;
    line-height: 28px;
    cursor: pointer;
    .resourceTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 16px;
        height: 16px;
        margin-right: 6px;
      }
      span {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
      }
    }
    .noData {
      font-size: 12px;
      color: #333333;
    }
  }
  .row:hover {
    color: #3f73ff;
  }
}
</style>
