// 指标icon
.icon-basic-indicator {
  content: url("~@/assets/icons/indicatorIcon/icon_basic_indicator.svg");
  transform: none;
  margin-right: 4px;
}
.icon-composite-indicator {
  content: url("~@/assets/icons/indicatorIcon/icon_composite_indicator.svg");
  transform: none;
  margin-right: 4px;
}
.icon-derivative-indicator {
  content: url("~@/assets/icons/indicatorIcon/icon_derivative_indicator.svg");
  transform: none;
  margin-right: 4px;
}
.icon-out-indicator {
  content: url("~@/assets/icons/indicatorIcon/icon_out_indicator.svg");
  transform: none;
  margin-right: 4px;
}
.icon-static-indicator {
  content: url("~@/assets/icons/indicatorIcon/icon_static_indicator.svg");
  transform: none;
  margin-right: 4px;
}
.ivu-tree-title-selected .icon-basic-indicator {
  content: url("~@/assets/icons/indicatorIcon/icon_basic_indicator_active.svg");
  transform: none;
}
.ivu-tree-title-selected .icon-composite-indicator {
  content: url("~@/assets/icons/indicatorIcon/icon_composite_indicator_active.svg");
  transform: none;
}
.ivu-tree-title-selected .icon-derivative-indicator {
  content: url("~@/assets/icons/indicatorIcon/icon_derivative_indicator_active.svg");
  transform: none;
}
.ivu-tree-title-selected .icon-out-indicator {
  content: url("~@/assets/icons/indicatorIcon/icon_out_indicator_active.svg");
  transform: none;
}
.ivu-tree-title-selected .icon-static-indicator {
  content: url("~@/assets/icons/indicatorIcon/icon_static_indicator_active.svg");
  transform: none;
}
