.ivu-tree {
  ul li{
    margin: 0;
  }
  .ivu-icon {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .ivu-icon-ios-arrow-forward:before {
    content: '';
    background: url('~@/assets/images/system/treePlusForManage.svg') no-repeat 0 -0px;
    background-size: cover;
    width: 16px;
    height: 16px;
    display: block;
  }
  .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
    content: '';
    display: block;
    background: url('~@/assets/images/system/treeMinusForManage.svg') no-repeat 0 -0px;
    background-size: cover;
    width: 16px;
    height: 16px;
  }
  .ivu-tree-children {
    position: relative;
  }
  .ivu-tree-children::before {
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    left: 7px;
    top: -8px;
    border-width: 1px;
    border-left: 1px dashed #ddd;
  }
  // 当前层最后一个节点的竖线高度固定
  .ivu-tree-children:last-child::before {
    height: 24px; // 可以自己调节到合适数值
    top: -8px;
  }
  // 横线
  .ivu-tree-children::after {
    content: "";
    width: 16px;
    height: 20px;
    position: absolute;
    left: 9px;
    top: 16px;
    border-width: 1px;
    border-top: 1px dashed #ddd;
  }
  // 去掉最顶层的虚线，放最下面样式才不会被上面的覆盖了
  & > .ivu-tree-children::after {
    border-top: none;
  }
  & > .ivu-tree-children::before {
    height: 100%;
    width: 1px;
    left: 7px;
    top: 13px;
    border-left: 1px dashed #ddd;
  }
  & > ul.ivu-tree-children::before {
    border-left: none;
  }
  .ivu-tree-title {
    width: 90%;
    color: #333333;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .ivu-tree-title:hover{
    color: #3F73FF;
    background-color: #FFFFFF;
  }
  .ivu-tree-title-selected, .ivu-tree-title-selected:hover{
    color: #007AFF;
    background-color: #FFFFFF;
  }
  .ivu-tree-title.ivu-tree-title-selected .common-wrap .btnNone{
    visibility: visible!important;
  }
}
