<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- 解决项目部署后需要手动清除浏览器缓存问题 -->
  <meta http-equiv="pragram" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="expires" content="0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <style>
    .ht_master > .wtHolder, .ht_clone_top, .ht_clone_top > .wtHolder {
      width: 100% !important;
      height: 100% !important;
    }

  </style>
  <title></title>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
  <script type="text/javascript" src="globalVariable.js"></script>
</head>
<body>
<noscript>
  <strong>We're sorry but iview-admin doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong>
</noscript>
<div id="app"></div>
<script>
  document.addEventListener('keydown', function (e) {
    let allModal = document.getElementsByClassName('ivu-modal')
    if (e.keyCode === 13 && allModal.length !== 0) {
      for (let i = 0; i < allModal.length; i++) {
        if (allModal[i].style.display !== 'none') {
          let targetFoot = allModal[i].children[0], children = targetFoot.childNodes
          for (let k = 0; k < children.length; k++) {
            if (children[k].nodeType === 1) {
              if (children[k].className.indexOf('footer') === -1 && children[k].getElementsByClassName('ivu-modal-confirm-footer')[0]) {
                let btns = children[k].getElementsByClassName('ivu-modal-confirm-footer')[0].getElementsByTagName('button')
                for (let b = 0; b < btns.length; b++) btns[b].innerText === '确定' ? btns[b].click() : null
              }
            }
          }
        }
      }
    }
  })
</script>
<!-- built files will be auto injected -->
</body>
</html>
