<template>
  <section class="executionMonth-container">
    <span class="title">执行月：</span>
    <SelectModal :selectVal="execMonth" :selectData="monthList" lineNum="3" isMonth @addSelectData="addSelectData" />
  </section>
</template>

<script>
import SelectModal from "./SelectModal.vue";

export default {
  props: {
    execMonth: {
      type: "",
      required: true
    },
    // 组件是新增时 or 更新时
    isUpdate: {
      type: Boolean,
      required: true
    },
  },
  data() {
    return {
      monthList: []
    };
  },
  components: {
    SelectModal
  },
  created() {
    // 月份数据
    for (let i = 1; i <= 12; i++) {
      this.monthList.push({
        value: `${i}月`,
        select: true
      });
    }

    this.editWatch();
  },
  methods: {
    /**
     * 编辑数据集时，根据选中值改变数据选中效果（只监听一次）
     */
    editWatch() {
      if (this.isUpdate) {
        const unwatch = this.$watch("execMonth", {
          handler(newVal) {
            this.monthList.forEach(ele => {
              ele.select = newVal.includes(ele.value);
            });
            unwatch();
          }
        });
      }
    },
    addSelectData({ itemType, data }) {
      this.monthList.forEach(ele => {
        if (itemType === "all") {
          ele.select = true;
        } else {
          if (ele.value === data.value) {
            ele.select = !data.select;
          }
        }
      });

      const selectVal = this.monthList
        .filter(ele => ele.select)
        .map(ele => ele.value)
        .join(", ");
      this.$emit("addSelectData", { selectVal, type: "execMonth" });
    }
  }
};
</script>

<style lang="less" scoped>
.executionMonth-container {
  display: flex;
  align-items: center;
  .title {
    display: inline-block;
    width: 60px;
  }
  .selectModal-container {
    width: 307px;
  }
}
</style>
