<template>
  <Modal
    class="dispatchSetting-container"
    :mask-closable="false"
    title="调度设置"
    width="524"
    :value="showModal"
    @on-cancel="cancelPublish"
    @on-ok="publishData"
  >
    <section class="dispatchWrapper dispatchType">
      <span>调度类型：</span>
      <RadioGroup v-model="dispatch.type">
        <Radio :label="1">抽取</Radio>
        <Radio :label="2">直连</Radio>
      </RadioGroup>
    </section>
    <section class="dispatchWrapper dispatchMode">
      <span>调度方式：</span>
      <RadioGroup v-model="dispatch.mode">
        <Radio :label="1">全量覆盖更新</Radio>
        <Radio :label="2">全量追加更新</Radio>
        <Radio :label="3">增量更新（按业务日期）</Radio>
      </RadioGroup>
    </section>

    <TaskHandle :dispatch="dispatch" :isUpdate="isUpdate" />

    <template #footer>
      <Button type="text" @click="cancelPublish">取消</Button>
      <Button type="primary" @click="publishData">提交</Button>
    </template>
  </Modal>
</template>

<script>
// 缓存 last-dispatchData 记录上一次保存的数据。用户取消弹窗再展示时，回填上次保存的数据
// 缓存 dispatchSetting 记录接口需要的入参

import TaskHandle from "./TaskHandle.vue";
import { dateChange, getTimeFormat, numTransformWeek, weekTransformNum } from "@/utils/dateFormat";
import { getDatasetJobTime } from "@/api/dataset";

export default {
  props: {
    // 控制modal显隐
    showModal: {
      type: Boolean,
      required: true
    },
    // 组件是新增时 or 更新时
    isUpdate: {
      type: Boolean,
      required: true
    },
    // 数据集id（仅在更新时有用）
    datasetId: {
      type: String,
      required: false
    },
    useInPage: {
      type: String,
      default: ""
    }
  },
  components: {
    TaskHandle
  },
  data() {
    return {
      dispatch: {
        type: 1,
        mode: 3,
        startDate: dateChange(2),
        startTime: "00:00",
        rate: {
          name: 1,
          easy: {
            inputVal: 1,
            type: 3
          },
          detail: {
            timeList: [{ value: "00/00" }], // 执行时间
            // 执行日
            execDate: {
              type: 1,
              selectVal: ""
            },
            monthVal: "1月, 2月, 3月, 4月, 5月, 6月, 7月, 8月, 9月, 10月, 11月, 12月" // 执行月
          }
        },
        advanced: {
          show: false,
          count: 1,
          interval: 1
        }
      },
      dispatchSettingId: 0 // 编辑时的调度设置id
    };
  },
  async created() {
    // 新增数据集时
    if (this.useInPage === "OperateIndex" && !this.isUpdate) {
      localStorage.setItem("last-dispatchData", JSON.stringify(this.dispatch));
      const params = this.getParams(this.dispatch);
      localStorage.setItem("dispatchSetting", JSON.stringify(params));
    }
  },
  watch: {
    /**
     * 回填数据，并缓存回填的数据（发生在: 编辑数据集时、日志处修改调度设置时）
     */
    datasetId: {
      async handler(newVal) {
        if (newVal) {
          this.dispatch = await this.addDispatchData(newVal);
          localStorage.setItem("last-dispatchData", JSON.stringify(this.dispatch));
          const params = this.getParams(this.dispatch);
          localStorage.setItem("dispatchSetting", JSON.stringify(params));
        }
      },
      immediate: true
    }
  },
  methods: {
    openModal(data) {
      if (data) {
        this.dispatch = this.fillBackData(data);
      }
      localStorage.setItem("last-dispatchData", JSON.stringify(this.dispatch));
      const params = this.getParams(this.dispatch);
      localStorage.setItem("dispatchSetting", JSON.stringify(params));
    },

    /**
     * 编辑状态下，回填调度数据
     * @param {String} datasetId 数据集id
     */
    async addDispatchData(datasetId) {
      const res = await getDatasetJobTime(datasetId);
      const { data, state } = res.data;
      if (state === "success") {
        return this.fillBackData(data);
      }
    },

    fillBackData(data) {
      const { fetchType, dataUpdateType, effectiveDate, time, frequencyType, jobDetailConfig, retryEnable, retryTimes, retryInterval, id } = data;
      this.dispatchSettingId = id;
      const startTime = time
        .split(":")
        .map(ele => (parseInt(ele) < 10 ? `0${parseInt(ele)}` : ele))
        .join(":");

      // 调度频率
      let easyObj = this.dispatch.rate.easy;
      let detailObj = this.dispatch.rate.detail;
      if (frequencyType === 1) {
        let arr = jobDetailConfig.split(",");
        easyObj = {
          inputVal: parseInt(arr[0]),
          type: parseInt(arr[1])
        };
      } else if (frequencyType === 3) {
        const obj = JSON.parse(jobDetailConfig);
        let timeList = [];
        obj.executeTime.forEach(ele => {
          let hour = ele.hour < 10 ? `0${ele.hour}` : ele.hour;
          let minute = ele.minute < 10 ? `0${ele.minute}` : ele.minute;
          timeList.push({
            value: `${hour}/${minute}`
          });
        });
        let selectVal = "";
        if (obj.executeDayType === 2) {
          selectVal = numTransformWeek(obj.value).join(", ");;
        } else if (obj.executeDayType === 3) {
          selectVal = obj.value.map(ele => (ele < 10 ? `0${ele}` : ele)).join(", ");
        }
        const monthVal = obj.executeMonth.map(ele => `${ele}月`).join(", ");

        detailObj = {
          timeList,
          execDate: {
            type: obj.executeDayType,
            selectVal
          },
          monthVal
        };
      }

      // 高级设置
      let advancedCount = 1;
      let advancedInterval = 1;
      if (retryEnable === 1) {
        advancedCount = retryTimes;
        advancedInterval = retryInterval;
      }

      return {
        type: fetchType,
        mode: dataUpdateType,
        startDate: new Date(effectiveDate),
        startTime,
        rate: {
          name: frequencyType,
          easy: easyObj,
          detail: detailObj
        },
        advanced: {
          show: retryEnable === 1,
          count: advancedCount,
          interval: advancedInterval
        }
      };
    },
    cancelPublish() {
      this.$emit("closeModal");
      this.dispatch = JSON.parse(localStorage.getItem("last-dispatchData")); //恢复上一次的数据
    },
    /**
     * 缓存设置好的调度设置
     */
    async publishData() {
      if (this.validate(this.dispatch)) {
        localStorage.setItem("last-dispatchData", JSON.stringify(this.dispatch));
        const params = this.getParams(this.dispatch);
        this.$emit("publishData", params, this.dispatchSettingId);
      }
    },
    validate(dispatchData) {
      const {
        rate: { name, easy, detail }
      } = dispatchData;

      // 简单重复执行
      if (name === 1) {
        if (easy.inputVal === null) {
          this.$Message.warning("请确认信息是否填写完整");
          this.$refs.inputNumber.focus();
          return false;
        } else if (easy.type === 1) {
          const outOfRange = easy.inputVal > 59 || easy.inputVal < 1; // 超出范围
          const isDecimals = easy.inputVal > 1 && easy.inputVal < 59 && String(easy.inputVal).includes("."); // 有小数
          if (outOfRange || isDecimals) {
            this.$Message.warning("调度频率范围为1-59的整数");
            this.$refs.inputNumber.focus();
            return false;
          }
        } else if (easy.type === 2) {
          const outOfRange = easy.inputVal > 23 || easy.inputVal < 1; // 超出范围
          const isDecimals = easy.inputVal > 1 && easy.inputVal < 23 && String(easy.inputVal).includes("."); // 有小数
          if (outOfRange || isDecimals) {
            this.$Message.warning("调度频率范围为1-23的整数");
            this.$refs.inputNumber.focus();
            return false;
          }
        } else if (easy.type === 3 || easy.type === 4) {
          const outOfRange = easy.inputVal > 7 || easy.inputVal < 1; // 超出范围
          const isDecimals = easy.inputVal > 1 && easy.inputVal < 7 && String(easy.inputVal).includes("."); // 有小数
          if (outOfRange || isDecimals) {
            this.$Message.warning("调度频率范围为1-7的整数");
            this.$refs.inputNumber.focus();
            return false;
          }
        }
      }

      // 明细频率设置
      if (name === 3) {
        if (detail.timeList.map(ele => ele.value).includes("")) {
          this.$Message.warning("请选择执行时间");
          return false;
        } else if (detail.execDate.type !== 1 && detail.execDate.selectVal === "") {
          this.$Message.warning("请选择执行日");
          return false;
        } else if (detail.monthVal === "") {
          this.$Message.warning("请选择执行月");
          return false;
        }
      }
      return true;
    },
    getParams(dispatchData) {
      const {
        type: fetchType,
        mode: dataUpdateType,
        startDate,
        startTime,
        rate: { name, easy, detail },
        advanced
      } = dispatchData;

      const startTimeF = startTime
        .split(":")
        .map(ele => parseInt(ele))
        .join(":");

      // 简单重复执行
      const easyObj = `${easy.inputVal},${easy.type}`;

      // 明细频率设置
      let executeTime = [];
      detail.timeList.forEach(ele => {
        const timeArr = ele.value.split("/");
        executeTime.push({
          hour: parseInt(timeArr[0]),
          minute: parseInt(timeArr[1])
        });
      });
      let executeDayArr = [];
      if (detail.execDate.type !== 1) {
        executeDayArr = detail.execDate.selectVal.split(", ");
        if (detail.execDate.type === 2) {
          executeDayArr = weekTransformNum(executeDayArr);
        }
        if (detail.execDate.type === 3) {
          executeDayArr = executeDayArr.map(ele => parseInt(ele));
        }
      }
      const executeMonth = detail.monthVal.split(", ").map(ele => parseInt(ele));
      const detailObj = {
        executeTime,
        executeDayType: detail.execDate.type,
        value: executeDayArr,
        executeMonth
      };

      let jobDetailConfig = "";
      if (name === 1) {
        jobDetailConfig = easyObj;
      } else if (name === 3) {
        jobDetailConfig = JSON.stringify(detailObj);
      }

      const param = {
        fetchType,
        dataUpdateType,
        effectiveDate: getTimeFormat({ timeData: startDate, type: "YYYY-MM-DD" }),
        time: startTimeF,
        frequencyType: name,
        jobDetailConfig,
        retryEnable: advanced.show ? 1 : 2 // 高级设置
      };
      if (advanced.show) {
        param.retryTimes = advanced.count;
        param.retryInterval = advanced.interval;
      }

      return param;
    }
  }
};
</script>

<style scoped lang="less">
.dispatchSetting-container {
  /deep/.ivu-modal {
    .ivu-modal-header {
      padding: 14px 25px 9px 30px;
    }
    .ivu-modal-body {
      padding: 29px 25px 30px 30px;
      .dispatchWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        &.dispatchType,
        &.dispatchMode {
          .ivu-radio-group {
            .ivu-radio-wrapper:not(:last-child) {
              margin-right: 26px;
              .ivu-radio {
                margin-right: 7px;
              }
            }
          }
        }
      }
    }
    .ivu-modal-footer {
      padding: 0 25px 24px 0;
      border-top: none;
    }
  }
}
</style>
