<template>
  <div class="selectModal-container">
    <Select class="selectValWrapper" :value="selectVal" placeholder="请选择">
      <Option :value="selectVal" style="display: none">{{ selectVal }}</Option>
      <Card>
        <div class="selectBox">
          <div class="top">
            <section
              class="boxItem"
              :class="{ isMonth: isMonth }"
              v-for="(item, i) in selectData"
              :key="i"
              :style="{ width: itemWidth }"
              @click="addSelect('item', item)"
            >
              <div class="itemWrapper" :class="{ selected: item.select }">
                <span class="itemVal">{{ item.value }}</span>
              </div>
            </section>
          </div>
          <footer class="bottom" @click="addSelect('all')">全部</footer>
        </div>
      </Card>
    </Select>
  </div>
</template>

<script>
export default {
  props: {
    selectVal: {
      type: String,
      required: true
    },
    selectData: {
      type: Array,
      required: true
    },
    lineNum: {
      type: String,
      default: "3"
    },
    isMonth: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    itemWidth() {
      return 100 / this.lineNum + "%";
    }
  },
  methods: {
    /**
     * @param {String} type 标识当前是点击 `单个` 还是 `全部`
     */
    addSelect(type, item = {}) {
      this.$emit("addSelectData", { itemType: type, data: item });
    }
  }
};
</script>

<style lang="less" scoped>
.selectModal-container {
  width: 100%;
  cursor: pointer;
  position: relative;

  /deep/.ivu-select-dropdown {
    padding: 0;
    max-height: none;
    overflow: hidden;
    .ivu-card {
      border: none;
      .ivu-card-body {
        padding: 0;
      }
    }
  }

  .selectValWrapper {
    width: 100%;
    height: 32px;
    border-radius: 2px;
  }
  .selectBox {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    .top {
      display: flex;
      flex-wrap: wrap;
      padding: 15px 16px 0;
      .boxItem {
        margin-bottom: 16px;
        text-align: center;
        &.isMonth {
          display: flex;
          margin-bottom: 40px;
          &:nth-child(n + 10) {
            margin-bottom: 16px;
          }
          .itemWrapper {
            width: 38px;
            margin: 0;
          }
        }
        &.isMonth:nth-child(3n - 2) {
          text-align: left;
          justify-content: flex-start;
        }
        &.isMonth:nth-child(3n - 1) {
          justify-content: center;
        }
        &.isMonth:nth-child(3n) {
          justify-content: flex-end;
        }
        .itemWrapper {
          margin: 0 8px;
          padding: 1px 3px;
          text-align: center;
          .itemVal {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.65);
            line-height: 18px;
            font-weight: 400;
          }
          &.selected {
            background: #3f73ff;
            border-radius: 2px;
            .itemVal {
              color: #ffffff;
            }
          }
        }
      }
    }
    .bottom {
      border-top: 1px solid rgba(0, 0, 0, 0.06);
      height: 37px;
      line-height: 37px;
      text-align: center;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #3f73ff;
    }
  }
}
</style>
