<template>
  <div class="taskHandle-container">
    <section class="dispatchWrapper dispatchStartTime">
      <span class="labelTitle">{{ labelArr[0] }}：</span>
      <DatePicker
        v-model="dispatch.startDate"
        format="yyyy-MM-dd"
        type="date"
        :clearable="false"
        :editable="false"
        style="width: 200px; margin-right: 8px"
      />
      <TimePicker v-model="dispatch.startTime" format="HH:mm" type="time" :clearable="false" :editable="false" style="width: 200px" />
    </section>
    <section class="dispatchRate">
      <div class="dispatchWrapper">
        <span class="labelTitle">{{ labelArr[1] }}：</span>
        <Select v-model="dispatch.rate.name" style="width: 408px">
          <Option v-for="item in dispatchRateName" :key="item.value" :value="item.value">{{ item.label }}</Option>
        </Select>
      </div>
      <div class="dispatchRateEasy" v-show="dispatch.rate.name === 1">
        <span style="margin-right: 7px">每</span>
        <InputNumber ref="inputNumber" style="width: 32px; margin-right: 7px" v-model="dispatch.rate.easy.inputVal" />
        <Select v-model="dispatch.rate.easy.type" style="width: 113px; margin-right: 8px">
          <Option v-for="item in dispatchRateEasyType" :key="item.value" :value="item.value">{{ item.label }}</Option>
        </Select>
        <span>执行一次</span>
      </div>
      <div class="dispatchRateDetail" v-show="dispatch.rate.name === 3">
        <ExecutionTime :timeList="dispatch.rate.detail.timeList" @changeTime="changeTime" @addTime="addTime" @deleteTime="deleteTime" />
        <ExecutionDate :execDate="dispatch.rate.detail.execDate" :isUpdate="isUpdate" @changeDate="changeDate" @addSelectData="addSelectData" />
        <ExecutionMonth :execMonth="dispatch.rate.detail.monthVal" :isUpdate="isUpdate" @addSelectData="addSelectData" />
      </div>
    </section>

    <section class="dispatchAdvanced">
      <span class="labelTitle">{{ labelArr[2] }}：</span>
      <Checkbox v-model="dispatch.advanced.show">失败自动重跑</Checkbox>
      <div class="repeatExec" v-show="dispatch.advanced.show">
        <span>重跑次数：</span>
        <Select v-model="dispatch.advanced.count" style="width: 113px; margin-right: 16px">
          <Option v-for="(item, i) in 5" :key="i" :value="item">{{ item }}</Option>
        </Select>
        <span>重跑间隔：</span>
        <Select v-model="dispatch.advanced.interval" style="width: 113px; margin-right: 7px">
          <Option v-for="(item, i) in 5" :key="i" :value="item">{{ item }}</Option>
        </Select>
        <span>分钟</span>
      </div>
    </section>
  </div>
</template>

<script>
import { DISPATCH_RATE_NAME, DISPATCH_RATE_EASY_TYPE } from "./constant";
import ExecutionTime from "./ExecutionTime";
import ExecutionDate from "./ExecutionDate";
import ExecutionMonth from "./ExecutionMonth";

export default {
  components: {
    ExecutionTime,
    ExecutionDate,
    ExecutionMonth
  },
  props: {
    dispatch: {
      type: Object,
      required: true
    },
    // 组件是新增时 or 更新时
    isUpdate: {
      type: Boolean,
      required: true
    },
    labelArr: {
      type: Array,
      default: () => ["开始时间", "调度频率", "高级设置"]
    }
  },
  data() {
    return {
      dispatchRateName: DISPATCH_RATE_NAME,
      dispatchRateEasyType: DISPATCH_RATE_EASY_TYPE
    }
  },
  methods: {
    changeTime(time, index) {
      this.dispatch.rate.detail.timeList.forEach((ele, i) => {
        if (index === i) {
          ele.value = time;
        }
      });
    },
    addTime() {
      this.dispatch.rate.detail.timeList.push({ value: "" });
    },
    deleteTime(index) {
      this.dispatch.rate.detail.timeList.splice(index, 1);
    },
    /**
     * 切换执行日，清空选择内容
     */
    changeDate(val) {
      this.dispatch.rate.detail.execDate.type = val;
      this.dispatch.rate.detail.execDate.selectVal = "";
    },
    addSelectData({ selectVal, type }) {
      if (type === "execDate") {
        this.dispatch.rate.detail.execDate.selectVal = selectVal;
      } else if (type === "execMonth") {
        this.dispatch.rate.detail.monthVal = selectVal;
      }
    }
  }
};
</script>

<style lang="less" scoped>
.taskHandle-container {
  .dispatchWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .dispatchRate {
    margin-bottom: 16px;
    .dispatchWrapper {
      margin-bottom: 8px;
    }
    .dispatchRateEasy,
    .dispatchRateDetail {
      margin-left: 60px;
    }
    .dispatchRateEasy {
      /deep/.ivu-input-number-handler-wrap {
        display: none;
      }
    }
    .dispatchRateDetail {
      .executionDate-container {
        margin-bottom: 8px;
      }
    }
  }
  .dispatchAdvanced {
    .repeatExec {
      margin-top: 8px;
      margin-left: 60px;
    }
  }
}
</style>
