<template>
  <div class="right-tabs">
    <Tabs size="small" :value="rightTab" v-if="viewDimension === 'user'" @on-click="onClickTab" name="authManageTab">
      <TabPane label="业务目录" name="businessDirectory" tab="authManageTab">
        <BusinessDirectorySetting />
      </TabPane>
      <TabPane label="系统管理" name="systemManagement" tab="authManageTab">
        <SystemManagementSetting />
      </TabPane>
      <TabPane label="人员管理" name="personnelManagement" tab="authManageTab">
        <PersonnelManagementSetting />
      </TabPane>
      <TabPane label="数据权限" name="dataAuth" tab="authManageTab">
        <DataAuthSetting />
      </TabPane>
      <template #extra>
        <TabsExtra :current-user-tab="currentUserTab" :current-project-tab="rightTab" />
      </template>
    </Tabs>
    <Tabs size="small" :value="rightTab" @on-click="onClickTab" v-else>
      <TabPane label="部门" name="department">
        <DepartmentSetting class="department-setting-of-project" />
      </TabPane>
      <TabPane label="角色" name="role">
        <RoleSetting class="role-setting-of-project" />
      </TabPane>
      <!--      <TabPane label="用户" name="user">-->
      <!--        <UserSetting class="user-setting-of-project" title="所有用户" :settings="['查看', '授权']" />-->
      <!--      </TabPane>-->
      <template #extra>
        <TabsExtra :current-user-tab="currentUserTab" :current-project-tab="rightTab" />
      </template>
    </Tabs>

    <!-- 权限来源弹窗 -->
    <AuthSourceModal v-model="showModal" />
  </div>
</template>

<script>
import DataAuthSetting from './components/DataAuthSetting'
import BusinessDirectorySetting from '@/view/system/authorizationManagement/components/RightTabs/components/BusinessDirectorySetting.vue'
import SystemManagementSetting from '@/view/system/authorizationManagement/components/RightTabs/components/SystemManagementSetting.vue'
import PersonnelManagementSetting from '@/view/system/authorizationManagement/components/RightTabs/components/PersonnelManagementSetting/index.vue'
import DepartmentSetting from '@/view/system/authorizationManagement/components/RightTabs/components/DepartmentSetting.vue'
import RoleSetting from '@/view/system/authorizationManagement/components/RightTabs/components/RoleSetting.vue'
import UserSetting from '@/view/system/authorizationManagement/components/RightTabs/components/UserSetting.vue'
import TabsExtra from '@/view/system/authorizationManagement/components/RightTabs/components/TabsExtra.vue'
import AuthSourceModal from './components/AuthSourceModal'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'RightTabs',
  components: {
    DataAuthSetting,
    BusinessDirectorySetting,
    SystemManagementSetting,
    PersonnelManagementSetting,
    DepartmentSetting,
    RoleSetting,
    UserSetting,
    TabsExtra,
    AuthSourceModal,
  },
  data() {
    return {
      currentUserTab: 'businessDirectory', // 用户组维度当前选中的tab
    }
  },
  computed: {
    ...mapState('authorizationManagement', [
      'viewDimension',
      'rightTab',
      'showAuthSourceModal',
    ]),
    showModal: {
      get() {
        return this.showAuthSourceModal
      },
      set(val) {
        this.setShowAuthSourceModal(val)
      },
    },
  },
  watch: {
    viewDimension(val) {
      if (val === 'user') {
        this.currentUserTab = 'businessDirectory'
      } else {
        this.currentUserTab = ''
      }
    },
    rightTab: {
      handler(val) {
        this.setResourceId('')
        if (val === 'department') {
          this.getBusinessDirectoryListAndDepartmentList()
        } else {
          this.getBusinessDirectoryListAndRoleList()
        }
      },
      immediate: true,
    },
    currentUserTab() {
      this.setRightTabKeywords('')
    },
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'setResourceId',
      'getBusinessDirectoryListAndDepartmentList',
      'getBusinessDirectoryListAndRoleList',
      'setRightTab',
      'setRightTabKeywords',
      'setShowAuthSourceModal',
    ]),

    /**
     * 点击tab
     * @param name
     */
    onClickTab(name) {
      this.setRightTab(name)
    },
  },
}
</script>

<style scoped lang="less">
.right-tabs {
  width: calc(~'100% - 240px');
  border-left: 1px solid #F1F5FA;
}

// 查看维度为”资源项目“时的样式
.department-setting-of-project,
.role-setting-of-project,
.user-setting-of-project {
  padding: 0 16px 16px;
  height: 100%;
}
</style>
