<template>
  <div>
    <router-view />
  </div>
</template>

<script>
import { deepCopy } from "@/utils/common";

export default {
  name: "earlyWarningTarget",
  components: {},
  data() {
    return {};
  },
  computed: {},
  async created() {},
  methods: {},
};
</script>

<style lang="less" scoped></style>
