<template>
  <Modal class="assetMoveModal-container" :value="showModal" @on-cancel="onCancel" title="移动至" width="520">
    <div class="folderMoveWrapper">
      <Input v-model="searchName" search placeholder="搜索文件夹名称" />
      <Tree :data="treeDataF" :render="renderContent" @on-select-change="selectFolder" />
    </div>

    <template #footer>
      <Button @click="onCancel">取消</Button>
      <Button @click="onConfirm" type="primary">确定</Button>
    </template>
  </Modal>
</template>

<script>
import { deepCopy } from "@/utils/common";

export default {
  model: {
    prop: "showModal",
    event: "update:showModal"
  },
  props: {
    showModal: {
      type: Boolean,
      required: true
    },
    // 资产分组树
    treeData: {
      type: Array,
      required: true
    },
    // 资产当前所在的目录id
    currentGroupId: {
      type: Number,
      default: 1,
      required: true
    },
    // 是否展示无数据icon
    showNoDataIcon: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      searchName: "", // 搜索关键字
      targetGroupId: null // 要移动到的分组id
    };
  },
  computed: {
    treeDataF() {
      return this.fliterTreeData(deepCopy(this.treeData), this.searchName);
    }
  },
  methods: {
    fliterTreeData(data, filterWord) {
      return data
        .filter(ele => {
          if (ele.children) {
            ele.children = this.fliterTreeData(ele.children, filterWord);
            return ele.children.length !== 0 || ele.title.includes(filterWord);
          } else {
            return ele.title.includes(filterWord);
          }
        })
        .map(ele => ({
          id: ele.id,
          title: ele.title,
          children: ele.children,
          expand: true
        }));
    },
    /**
     * 树组件渲染方法
     */
    renderContent(h, { root, node, data }) {
      const isShowNoDataClass = this.showNoDataIcon && !data.children.length;
      return (
        <div class="catalogueNode" style={{ marginLeft: isShowNoDataClass ? "-6px" : 0 }}>
          <i class={{ noDataCatalogueNode: isShowNoDataClass }}></i>
          <div class="catalogueTitle" title={data.title}>
            {data.title}
          </div>
        </div>
      );
    },
    /**
     * 选择树节点
     * @param {Array} selectNodeList 已选中的节点
     * @param {Object} currentNode 当前点击的节点
     */
    selectFolder(selectNodeList, currentNode) {
      this.targetGroupId = selectNodeList.length ? currentNode.id : null;
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.reset();
      this.$emit("update:showModal", false);
    },
    /**
     * 重置数据
     */
    reset() {
      this.searchName = "";
      this.targetGroupId = null;
    },
    /**
     * 确认
     */
    async onConfirm() {
      if (!this.targetGroupId) {
        this.$Message.warning("请选择要移动的文件夹");
        return;
      }
      if (this.targetGroupId === this.currentGroupId) {
        this.$Message.warning("不能移动至当前文件夹");
        return;
      }

      this.$emit("onConfirm", this.targetGroupId);
    }
  }
};
</script>

<style lang="less" scoped>
.assetMoveModal-container {
  /deep/.ivu-modal {
    .ivu-modal-header {
      padding-left: 24px;
    }
    .ivu-modal-body {
      padding: 0;
    }
    .ivu-modal-footer {
      border-style: none;
    }

    // 树
    .ivu-tree-children::before,
    .ivu-tree-children::after {
      border-style: none !important;
    }
    .ivu-tree-arrow {
      max-width: 12px;
      width: auto;
      .ivu-icon-ios-arrow-forward::before {
        content: url("~@/assets/icons/dataSetList/icon_expand_folder.svg");
      }
    }
    .ivu-tree-arrow-open {
      i {
        transform: none;
      }
      .ivu-icon-ios-arrow-forward::before {
        content: url("~@/assets/icons/dataSetList/icon_collapse_folder.svg");
      }
    }
    // 无数据目录icon
    .noDataCatalogueNode {
      content: url("~@/assets/images/system/catalogueTreeNode.png");
      width: 16px;
      margin-right: 3px;
    }

    // 底部按钮
    .ivu-btn {
      border-radius: 2px;
      width: 70px;
    }
    .ivu-btn-primary {
      background-color: #3f73ff !important;
    }
  }

  .folderMoveWrapper {
    height: 400px;
    padding: 16px 24px 24px;
    overflow-y: scroll;
    overflow-x: hidden;

    /deep/.catalogueNode {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .catalogueTitle {
        flex: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>

