<template>
  <div class="blood-relationship">
    <div class="blood-relation-label">
      <span class="blood-relation-part-title">关系图</span>
      <div style="display: flex">
        <div class="blood-relation-legend">
          <div
            class="blood-relation-legend-color"
            style="background-color: #e8ba05"
          ></div>
          <span>报告</span>
        </div>
        <div class="blood-relation-legend">
          <div
            class="blood-relation-legend-color"
            style="background-color: #44d7b6"
          ></div>
          <span>指标/维度</span>
        </div>
        <div class="blood-relation-legend">
          <div
            class="blood-relation-legend-color"
            style="background-color: #b684ff"
          ></div>
          <span>业务模型</span>
        </div>
        <div class="blood-relation-legend">
          <div
            class="blood-relation-legend-color"
            style="background-color: #3f73ff"
          ></div>
          <span>数据集</span>
        </div>
      </div>
    </div>
    <div
      class="blood-relation"
      style="height: 95%; width: 100%"
      slot="content"
    >
      <SeeksRelationGraph
        ref="seeksRelationGraph"
        :options="graphOptions"
      />
    </div>
  </div>
</template>

<script>
import SeeksRelationGraph from '@/components/relation-graph/index.vue'
import { BLOOD_GRAPH_OPTIONS } from '@/view/report/constant'
import { mapActions, mapState } from 'vuex'
import { getBloodIndicatorById } from '@/api/indicator'
import _ from 'lodash'

export default {
  name: 'index',
  components: {
    SeeksRelationGraph,
  },
  data() {
    return {
      graphOptions: BLOOD_GRAPH_OPTIONS,
    }
  },
  computed: {
    ...mapState('indicator', [
      'indicatorId',
      'indicatorKind',
    ]),
  },
  mounted() {
    this.getBlood()
  },
  methods: {
    ...mapActions('indicator', [
      'setRelatedDimensions',
    ]),

    /**
     * 获取血缘数据
     */
    async getBlood() {
      // 外部指标、静态指标没有血缘Tab
      if (this.indicatorId && this.indicatorKind !== 4 && this.indicatorKind !== 5) {
        const res = await getBloodIndicatorById(this.indicatorId, this.indicatorKind)
        if (res.data.state === 'success') {
          const blood = res.data.data
          this.renderGraph(blood)
        } else {
          this.$Message.error('获取血缘关系失败！')
        }
      }
    },

    /**
     * 渲染血缘关系图
     * @param indicatorBlood 血缘关系数据
     */
    renderGraph(indicatorBlood) {
      if (!indicatorBlood || this.indicatorKind === 4) return
      let { nodes, links, usedDimensions, availableDimensions } = this.buildGraphData(indicatorBlood, true)
      let rootId = String(indicatorBlood.indicator.id)

      if (this.indicatorKind === 2) {
        // 复合指标，可以嵌套复合指标
        let { subIndicatorBlood } = indicatorBlood
        const subGraphData = this.buildGraphDataByTree(subIndicatorBlood, rootId)
        nodes.push(...subGraphData.nodes)
        links.push(...subGraphData.links)
      }

      if (this.indicatorKind === 3) {
        // 派生指标
        let { sourceIndicatorBlood } = indicatorBlood
        let atomResult = this.buildGraphData(sourceIndicatorBlood, false)
        let leftId = atomResult.nodes[0].id
        nodes = nodes.concat(atomResult.nodes)
        links = links.concat(atomResult.links)
        links.push({ from: leftId, to: rootId })
      }

      // 过滤出已经关联过的维度
      this.setRelatedDimensions(availableDimensions.map((item) => ({
        ...item,
        type: usedDimensions[item.id] ? 1 : 2,
      })))
      // 去重
      nodes = _.uniqWith(nodes, _.isEqual)
      links = _.uniqWith(links, _.isEqual)
      let graphData = {
        rootId: rootId,
        nodes,
        links,
      }
      this.$refs.seeksRelationGraph.setJsonData(graphData)
    },

    /**
     * 根据树构建血缘关系graph数据--复合指标
     * @param tree
     * @parentId 父节点id
     */
    buildGraphDataByTree(tree, parentId) {
      let nodes = []
      let links = []

      for (let treeItem of tree) {
        const { indicator, reportBriefs, businessModelBlood } = treeItem
        const indicatorId = `${parentId}_${indicator.id}` // 避免id重复

        // 指标-->根节点的指标
        nodes.push({
          id: indicatorId,
          text: indicator.name,
          color: '#44D7B6',
          fontColor: '#333',
          dataType: 2,
          bloodType: 1,
        })
        links.push({ from: indicatorId, to: parentId })

        // 业务模型-->指标
        if (businessModelBlood) {
          const { table, originTable, businessModel } = businessModelBlood
          const businessModelId = `${indicatorId}_${businessModel.id}`
          // 节点
          nodes.push({
            id: businessModelId,
            text: businessModel.name,
            color: '#B684FF',
            fontColor: '#333',
            dataType: 2,
          })
          // 连接线
          links.push({ from: businessModelId, to: indicatorId })

          // 数据集-->业务模型
          if (table) {
            const tableId = `${indicatorId}_${table.id}`
            nodes.push({
              id: tableId,
              text: table.label || table.name,
              color: '#3F73FF',
              fontColor: '#333',
              bigTable: true,
              dataType: 3,
            })
            links.push({ from: tableId, to: businessModelId })

            // 源表-->数据集
            if (originTable?.length) {
              for (let originTableItem of originTable) {
                const originTableItemId = `${indicatorId}_${originTableItem.id}`
                nodes.push({
                  id: originTableItemId,
                  text: originTableItem.label || originTableItem.name,
                  color: '#284DBE',
                  fontColor: '#333',
                  dataType: 0,
                })
                links.push({ from: originTableItemId, to: tableId })
              }
            }
          }
        }


        // 报告 指标-->报告
        if (reportBriefs?.length) {
          let loopReportId = {}
          for (let reportItem of reportBriefs) {
            if (!loopReportId[reportItem.id]) {
              const reportId = `${indicatorId}_${reportItem.id}`
              nodes.push({
                id: reportId,
                text: reportItem.name,
                color: '#E8BA05',
                fontColor: '#333',
                dataType: 4,
              })
              links.push({ from: indicatorId, to: reportId })

              // 报告的维度 报告-->维度
              if (reportItem.dimensions?.length) {
                let loopDimensionId = {}
                reportItem.dimensions.forEach((dimension) => {
                  if (!loopDimensionId[dimension.id]) {
                    const dimensionId = `${reportId}_${dimension.id}`
                    nodes.push({
                      id: dimensionId,
                      text: dimension.name,
                      color: '#43D7B6',
                      fontColor: '#333',
                      dataType: 5,
                      bloodType: 1,
                    })
                    links.push({ from: reportId, to: dimensionId })
                    loopDimensionId[dimension.id] = true
                  }
                })
              }
              loopReportId[reportItem.id] = true
            }
          }
        }

        if (treeItem.subIndicatorBlood?.length) {
          const children = this.buildGraphDataByTree(treeItem.subIndicatorBlood, indicatorId)
          nodes.push(...children.nodes)
          links.push(...children.links)
        }
      }

      return { nodes, links }
    },

    /**
     * 构建graph对象
     * @param blood
     */
    buildGraphData(blood, master = true) {
      // 构建参数
      let { indicator, reportBriefs, availableDimensions } = blood
      let { table, originTable, businessModel } = blood.businessModelBlood || {}
      let rootId = indicator.id + ''
      let nodes = [
        // 指标  根节点
        {
          id: rootId,
          text: indicator.name,
          color: '#44D7B6',
          fontColor: '#333',
          dataType: master ? 1 : 2,
          bloodType: 1,
        },
        // 业务模型
      ]
      let links = []
      if (blood.businessModelBlood) {
        nodes.push({
          id: businessModel.id + '',
          text: businessModel.name,
          color: '#B684FF',
          fontColor: '#333',
          dataType: 2,
        })
        links.push({ from: businessModel.id + '', to: indicator.id + '' })
      }

      if (table) {
        nodes.push({
          id: table.id + '',
          text: table.label || table.name,
          color: '#3F73FF',
          fontColor: '#333',
          bigTable: true,
          dataType: 3,
        })
        links.push({ from: table.id + '', to: businessModel.id + '' })
        if (originTable) {
          originTable.forEach((t) => {
            nodes.push({
              id: t.id + '',
              text: t.label || t.name,
              color: '#284DBE',
              fontColor: '#333',
              dataType: 0,
            })

            links.push({
              from: t.id + '',
              to: table.id + '',
            })
          })
        }
      }

      let usedDimensions = {}
      if (reportBriefs && reportBriefs.length > 0) {
        let loopReportId = {}
        reportBriefs.forEach((reportDimension) => {
          if (loopReportId[reportDimension.id] === undefined) {
            let reportId = reportDimension.id
            nodes.push({
              id: reportId + '',
              text: reportDimension.name,
              color: '#E8BA05',
              fontColor: '#333',
              dataType: 4,
            })
            let to = reportId + ''
            let from = indicator.id + ''
            if (!links.find((l) => l.to === to && l.from === from)) {
              links.push({
                to,
                from,
              })
            }

            if (reportDimension.dimensions) {
              let loopDimensionId = {}
              reportDimension.dimensions.forEach((dimension) => {
                if (loopDimensionId[dimension.id] === undefined) {
                  nodes.push({
                    id: reportId + '_' + dimension.id,
                    text: dimension.name,
                    color: '#43D7B6',
                    fontColor: '#333',
                    dataType: 5,
                    bloodType: 1,
                  })
                  if (usedDimensions[dimension.id] === undefined) {
                    usedDimensions[dimension.id] = 1
                  }
                  links.push({
                    to: reportId + '_' + dimension.id,
                    from: reportId + '',
                  })
                  loopDimensionId[dimension.id] = true
                }
              })
            }
            loopReportId[reportDimension.id] = true
          }
        })
      }

      return { nodes, links, usedDimensions, availableDimensions }
    },
  },
  watch: {
    indicatorId() {
      this.getBlood()
    },
  },
}
</script>

<style scoped lang="less">
.blood-relationship {
  height: calc(~'100% - 150px');
  background-color: rgba(0, 0, 0, 0.03);
  padding: 16px 16px 0 16px;
  margin-bottom: 10px;

  .blood-relation-label {
    display: flex;
    justify-content: space-between;

    .blood-relation-legend {
      display: flex;
      align-items: center;
      margin-left: 16px;

      .blood-relation-legend-color {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        border-radius: 2px;
      }
    }
  }

  .blood-relation-dimension {
    display: inline-block;
    height: 29px;
    line-height: 29px;
    border-radius: 2px;
    background-color: #fff;
    color: #333;
    font-weight: 400;
    margin-right: 20px;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .blood-relation-part-title {
    font-size: 14px;
    color: #333333;
    font-weight: 500;
  }
}
</style>
