@import url('./standardTable.scss');
@import url('./standardButton.scss');
@import url('./standardIcon.scss');

.boxTitle {
  font-size: 16px;
  color: #333333;
  line-height: 22px;
  margin: 5px 0;
  font-weight: 700;
}

.flexBox {
  display: flex;
  align-items: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// main-container global css
.app-container {
  padding: 20px;
}

.dmpFormBox {
  height: 55vh;
  overflow-y: auto;
  padding: 0 16px 0 0;
}
