.standardTable {
  .el-table__header {
    .el-table__cell {
      background-color: #EAF1FB !important;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}


.switchBox {
  position: relative;
  width: 65px;
  .el-switch__label--left {
    color: #fff;
    position: absolute;
    z-index: 555;
    display: none;
    left: 25px;
    &.is-active {
      display: inline-block;
    }
  }
  .el-switch__label--right {
    color: #fff;
    position: absolute;
    z-index: 555;
    display: none;
    left: 0px;
    &.is-active {
      display: inline-block;
    }
  }
  .el-switch__label * {
    font-size: 12px;
  }
  .el-switch__core {
    width: 60px !important;
  }
}