.standardIcon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
  cursor: pointer;

  &.iconDelete {
    content: url("../../assets/images/system/tableButtonDelete_blue.svg");
  }

  &.iconEdit {
    content: url("../../assets/images/system/tableButtonEdit.svg");
  }

  &.iconEditGray {
    content: url("../../assets/images/system/tableButtonEditGray.svg");
  }

  &.iconPreview {
    content: url("../../assets/images/lightApp/view.svg");
  }

  &.iconCopyUrl {
    content: url("../../assets/images/lightApp/copyURL.svg");
  }

  &.iconInfo {
    content: url("../../assets/images/system/icon_info_blue.svg");
  }

  &.iconComputer {
    content: url("../../assets/images/wordTable/computer.svg");
  }

  &.iconEye {
    content: url("../../assets/icons/eye-blue.svg");
  }

  &.iconLink {
    content: url("../../assets/icons/link-blue.svg");
  }

  &.small {
    width: 16px;
    height: 16px;
    line-height: 16px;
  }

  &.mini {
    width: 14px;
    height: 14px;
    line-height: 14px;
  }
}
