.standardButton {
  color: #3F73FF !important;
  min-width: 72px;
  border-color: #3F73FF !important;
  padding: 8px 10px;
  border-radius: 2px;

  &.el-button--primary {
    color: #fff !important;
  }

  &.el-button--danger {
    color: #fff !important;
    border-color: #F56C6C !important;
  }

  &.is-disabled {
    color: #C0C4CC !important;
    border-color: #C0C4CC !important;
  }

  &.el-button--danger.is-plain {
    color: #F56C6C !important;
    background-color: #fff !important;

    &:hover {
      color: #fff !important;
      background-color: #F56C6C !important;
    }
  }

  &.el-button--danger.is-disabled {
    color: #C0C4CC !important;
    background-color: #fff !important;

    &:hover {
      color: #C0C4CC !important;
      background-color: #fff !important;
    }
  }


  &.mini,
  &.el-button--mini {
    min-width: 50px;
    padding: 5px 6px;
    font-size: 12px;
  }

  &.small,
  &.el-button--small {
    min-width: 60px;
    padding: 6px 8px;
    font-size: 14px;
  }

  &.medium,
  &.el-button--medium {
    min-width: 76px;
    padding: 8px 10px;
    font-size: 14px;
  } 

}