<template>
  <Modal class="shareModal-container" :value="showModal" @on-cancel="onCancel" title="分享" width="382" footer-hide>
    <div class="shareModalWrapper">
      <span class="modalTitle">平台内分享</span>
      <PushMember ref="pushMemberRef" :task-form="taskForm" />

      <span class="modalTitle">{{ shareType }}分享</span>
      <ShareLink :show-share-url="shareContent" :whole-share-url="wholeShareUrl" :share-type="shareType" />

      <div class="actionBtn">
        <section class="cancelBtn" @click="onCancel">取消</section>
        <section class="confirmBtn" @click="onConfirm">确认</section>
      </div>
    </div>
  </Modal>
</template>

<script>
import PushMember from "./components/PushMember";
import ShareLink from "./components/ShareLink";
import { shareEarlyWarningTask } from "@/api/earlyWarningTarget";
import { getFeiShuClientId } from "@/api/systemManagement/system";
import { judgeIsExistParams } from "@/utils/formatString";
import { mapActions, mapState } from 'vuex'

export default {
  model: {
    prop: "showModal",
    event: "update:showModal"
  },
  props: {
    showModal: {
      type: Boolean,
      required: true
    },
    // 分享的内容
    shareContent: {
      type: String,
      required: true
    },
    // 消息富文本
    messageText: {
      type: String,
      required: true
    },
    // 来自哪里的分享
    shareFrom: {
      type: String,
      required: true
    }
  },
  components: {
    PushMember,
    ShareLink
  },
  data() {
    return {
      taskForm: {
        userChecked: false,
        userList: [],
        deptChecked: false,
        deptList: [],
        roleChecked: false,
        roleList: []
      },
      feishuAppId: ""
    };
  },
  computed: {
    ...mapState("role", ["roleTreeData"]),
    ...mapState("department", ["deptTreeData"]),
    shareType() {
      return this.shareFrom === "预警" ? "结果" : "链接";
    },
    wholeShareUrl() {
      return this.getWholeShareUrl(this.shareContent, this.feishuAppId) || "";
    },
    wholeMessageText() {
      return this.getWholeMessageText(this.messageText, this.shareContent, this.feishuAppId);
    }
  },
  created() {
    if (!this.deptTreeData.length) {
      this.fetchDeptTree(); // 获取部门树
    }
    if (!this.roleTreeData.length) {
      this.fetchRoleTree(); // 获取角色树
    }
    // 如果在飞书端打开，则获取appid
    if (location.search && judgeIsExistParams(location.search, "code")) {
      this.getFeiShuAppId();
    }
  },
  methods: {
    ...mapActions("department", ["fetchDeptTree"]),
    ...mapActions("role", ["fetchRoleTree"]),
    /**
     * 获取飞书应用id
     */
    async getFeiShuAppId() {
      const res = await getFeiShuClientId();
      if (res?.data?.data) {
        this.feishuAppId = res.data.data;
      }
    },
    /**
     * 组装完整的分享url
     */
    getWholeShareUrl(shareUrl, feishuAppId) {
      const name = this.$store.state.user.nickName;
      if (this.shareFrom !== "预警") {
        // 链接分享
        if (feishuAppId) {
          // 飞书端
          const feiShuUrl = `https://applink.feishu.cn/client/web_url/open?appId=${feishuAppId}&mode=window&url=${encodeURIComponent(shareUrl)}`;
          return `${name}邀请你查看FineInsight${this.shareFrom}，点击链接即可查看\r\n\r\n在飞书PC端打开：\r\n${feiShuUrl}\r\n\r\n在浏览器打开：${shareUrl}`;
        } else {
          // 浏览器端
          return `${name}邀请你查看FineInsight${this.shareFrom}，点击链接即可查看\r\n${shareUrl}`;
        }
      } else {
        // 结果分享
        return `${name}分享：${shareUrl}`;
      }
    },
    /**
     * 组装完整的平台内跳转富文本
     */
    getWholeMessageText(messageText, shareUrl, feishuAppId) {
      if (this.shareFrom !== "预警") {
        return `<span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${this.$store.state.user.nickName} </span>
            <span>分享： </span>
            <span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${messageText}${this.shareFrom} 给您</span>
            <a href="${shareUrl}" target="_blank" style="color:#3F73FF;"> 请及时查看</a>`;
      } else {
        return messageText;
      }
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.reset();
      this.$refs.pushMemberRef.reset();
      this.$emit("update:showModal", false);
    },
    /**
     * 确认
     */
    async onConfirm() {
      if (!this.verify()) return;

      let subject = "";
      switch (this.shareFrom) {
        case "故事":
          subject = "STORY";
          break;
        case "预警":
          subject = "EARLY_WARNING";
          break;
      }
      const params = {
        subject,
        subjectName: this.shareFrom,
        messageType: 3,
        content: this.wholeMessageText
      };

      const { userChecked, userList, deptChecked, deptList, roleChecked, roleList } = this.taskForm;
      if (userChecked) {
        params.userList = userList; // 推送人-用户
      }
      if (deptChecked) {
        params.deptList = deptList; // 推送人-部门
      }
      if (roleChecked) {
        params.roleList = roleList; // 推送人-角色
      }
      const res = await shareEarlyWarningTask(params);
      if (res.data.state === "success") {
        this.$Message.success("分享成功！");
        this.$emit('share-success')
      } else {
        this.$Message.error("分享失败！");
      }

      this.onCancel();
    },
    /**
     * 校验
     */
    verify() {
      const { userChecked, userList, deptChecked, deptList, roleChecked, roleList } = this.taskForm;
      if (userChecked && !userList.length) {
        this.$Message.warning("请选择用户！");
        return false;
      }
      if (deptChecked && !deptList.length) {
        this.$Message.warning("请选择部门！");
        return false;
      }
      if (roleChecked && !roleList.length) {
        this.$Message.warning("请选择角色！");
        return false;
      }

      if (!userList.length && !deptList.length && !roleList.length) {
        this.$Message.warning("请至少选择一个分享目标！");
        return false;
      }
      return true;
    },
    /**
     * 重置数据
     */
    reset() {
      this.taskForm = {
        userChecked: false,
        userList: [],
        deptChecked: false,
        deptList: [],
        roleChecked: false,
        roleList: []
      };
    }
  }
};
</script>

<style lang="less" scoped>
.shareModal-container {
  /deep/.ivu-modal-body {
    padding: 0;
  }

  .shareModalWrapper {
    padding: 16px 22px 24px;
    .modalTitle {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #333333;
      letter-spacing: 0;
    }
    .pushMember-container {
      margin-top: 16px;
      margin-bottom: 30px;
    }
    .shareLink-container {
      margin-top: 7px;
    }

    .actionBtn {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;
      .cancelBtn,
      .confirmBtn {
        width: 72px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
      }
      .cancelBtn {
        border: 1px solid rgba(217, 217, 217, 1);
        margin-right: 16px;
        color: #949494;
      }
      .confirmBtn {
        background: #3f73ff;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}
</style>
