<template>
  <Layout style="height: 100%; display: -webkit-box">
    <template v-if="!dataIsDeleted">
      <div class="fa-header">
        <div class="fa-header-left">
          <div class="fa-header-left-logo" @click="turnToPageHome">
            <img :src="require(`../../assets/images/${logo}.png`)" style="width: 160px;margin: 0 5px;object-fit: contain"
              alt="" />
          </div>
          <side-menu class="fa-header-left-menu" accordion ref="sideMenu" mode="horizontal" :active-name="$route.name"
            @on-select="turnToPage" :menu-list="menuList" />
        </div>

        <div class="fa-header-right">
          <div class="message">
            <BadgeTop />
          </div>
          <div @click="openSystemPage" class="system" v-if="systemMenus.length">
            <img :src="settingIcon" style="width: 26px" />
          </div>
          <user style="margin-right: 15px" :message-unread-count="unreadCount" :user-avatar="userAvatar"
            :user-avatar-big="userAvatarBig" :user-name="userName" :user-dept-name="userDeptName" />
        </div>
      </div>
      <div class="fa-content">
        <Layout style="width: 100%;height: 100%;">
          <div class="content-wrapper">
            <keep-alive :include="cacheList" :exclude="'knowledgeDetail'">
              <router-view />
            </keep-alive>
            <ABackTop :height="100" :bottom="80" :right="50" container=".content-wrapper" />
          </div>
        </Layout>
      </div>
    </template>

    <DeletedPage v-else />
  </Layout>
</template>

<script>
import SideMenu from './components/side-menu'
import User from './components/user'
import BadgeTop from './components/badgeTop'
import ABackTop from './components/a-back-top'
import DeletedPage from '@/view/error-page/DeletedPage'
import { mapMutations, mapActions, mapState } from 'vuex'
import { getNewTagList } from '@/libs/util'
import { publicRoutes } from '@/router/routers'
import { findFirstMenuName } from '@/utils/common'
import './main.less'
import { clickMenu } from '@/api/systemManagement/menuManagement'
export default {
  name: 'Main',
  components: {
    SideMenu,
    User,
    ABackTop,
    BadgeTop,
    DeletedPage
  },
  data() {
    return {
      settingIcon: require('@/assets/icons/settings.svg'),
      logo: globalVariable.titleLogo,
    }
  },
  computed: {
    ...mapState(['systemMenus']),
    dataIsDeleted() {
      return this.$store.state.app.dataIsDeleted
    },
    tagNavList() {
      return this.$store.state.app.tagNavList
    },
    userAvatar() {
      return require('@/assets/images/default-admin.svg')
    },
    userAvatarBig() {
      return require('@/assets/images/default-adminBig.svg')
    },
    userName() {
      return this.$store.state.user.nickName
    },
    userDeptName() {
      return this.$store.state.user.deptName
    },
    cacheList() {
      const list = [
        'ParentView',
        ...(this.tagNavList.length ? this.tagNavList.filter(item => !(item.meta && item.meta.notCache)).map(item => item.name) : [])
      ]
      return list
    },
    businessMenus() {
      return this.$store.getters.businessMenus
    },
    systemMenus() {
      return this.$store.getters.systemMenus
    },
    unreadCount() {
      return this.$store.state.user.unreadCount
    },
    menuList() {
      // return [...this.$store.state.app.businessMenus, ...this.$store.state.app.topAuthMenus]
      return [...this.$store.state.app.businessMenus]
    }
  },
  methods: {
    ...mapMutations(['setTagNavList', 'addTag', 'setHomeRoute']),
    ...mapActions(['handleLogin']),
    turnToPageHome() {
      const path = this.$store.state.user.adminWorkbench ? "/workbenchPreview" : "/home"
      this.$router.push({
        path
      })
    },
    turnToPage(idOrUrl) {
      // 数智工作台业务菜单跳转次数统计
      if (typeof (idOrUrl) == 'string') {
        let list = this.menuList.filter(item => item.type == 7)
        let id = list.filter(item => idOrUrl.includes(item.name) || idOrUrl.includes(item.path))[0]?.id
        if (id) {
          let params = {
            userId: this.$store.state.user.userId,
            resId: id,
            rankCount: 1
          }
          clickMenu(params).then(res => {
          })
        }
      }
      // 打开通用报告
      if (typeof idOrUrl === 'number') {
        this.$router.push({
          path: '/report/reportPage',
          query: {
            id: idOrUrl
          }
        })
      } else {
        // 打开外链-新开窗口
        if (idOrUrl.startsWith('blank@')) {
          window.open(idOrUrl.split('_^#$_')[1])
        } else if (idOrUrl.startsWith('inner@')) {
          this.$router.push({
            path: '/report/operationCenter',
            query: {
              url: idOrUrl.split('_^#$_')[1]
            }
          })
        } else {
          // 根据菜单名称打开系统内部应用菜单
          this.$router.push({
            name: idOrUrl
          })
        }
      }
    },

    openSystemPage() {
      let name = '搜索分析'
      let systemMenus = this.$store.getters.systemMenus
      if (systemMenus.length !== 0) {
        name = findFirstMenuName(systemMenus)
      }
      this.$router.push({
        name: name
      })
    },

    handleClick(item) {
      this.turnToPage(item)
    }
  },
  watch: {
    $route(newRoute) {
      const { name, query, params, meta } = newRoute
      this.addTag({
        route: { name, query, params, meta },
        type: 'push'
      })
      this.setTagNavList(getNewTagList(this.tagNavList, newRoute))
      this.$refs.sideMenu.updateOpenName(newRoute.name)
    }
  },
  mounted() {
    /**
     * @description 初始化设置面包屑导航和标签导航
     */
    this.setTagNavList()
    this.setHomeRoute(publicRoutes)
    const { name, params, query, meta } = this.$route
    this.addTag({
      route: { name, params, query, meta }
    })
    // 如果当前打开页面不在标签栏中，跳到homeName页
    if (!this.tagNavList.find(item => item.name === this.$route.name)) {
      this.$router.push({
        name: this.$config.homeName
      })
    }
  }
}
</script>

<style lang="less" scoped>
.fa-header {
  width: 100%;
  height: 68px;
  line-height: 68px;
  display: flex;
  justify-content: space-between;
  background-color: #16234a;
}

.fa-header>.fa-header-left {
  display: flex;
  width: calc(~"100% - 100px");
}

.fa-header>.fa-header-left>.fa-header-left-logo {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  padding-right: 80px;
  padding-bottom: 4px;
  width: 270px;
  justify-content: center;
  background-color: #16234a;
  z-index: 999;
  cursor: pointer;
}

.fa-header>.fa-header-left>.fa-header-left-menu {
  width: calc(~"100% - 270px");
  position: relative;
  display: flex;
  align-items: center;
}

.fa-header>.fa-header-right {
  width: 100px;
  display: flex;
  justify-content: space-around;
  background-color: #16234a;
  z-index: 999;
  align-items: center;

  .message {
    margin-right: 10px;
  }
}

.fa-header>.fa-header-right>.system {
  color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.fa-content {
  height: calc(~"100% - 68px");
  display: flex;
}

.fa-content .content-wrapper {
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: #f3f7ff;
}

/*/deep/ .ivu-menu-vertical .ivu-menu{*/
/*  background: #f4f7fe;*/
/*}*/

/deep/ .ivu-menu-light.ivu-menu-vertical {
  background: #ffffff;
}

/deep/ .ivu-menu-vertical.ivu-menu-light:after {
  background: none;
}

/deep/ .ivu-menu-light.ivu-menu-vertical {
  margin-left: 4px;

  .ivu-menu-item {
    color: #333;
  }
}

/*/deep/ .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {*/
/*  color: #ffffff;*/
/*  background: linear-gradient(45deg, #0757AD, #187AE4);*/
/*  z-index: 2;*/
/*}*/

/deep/ .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after,
/deep/ .ivu-menu-light.ivu-menu-vertical.sideMenuClose .ivu-menu-submenu.ivu-menu-item-active .ivu-menu-submenu-title:after {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: -4px;
  background: #3f73ff;
}

/deep/ .ivu-menu-vertical .ivu-menu-item,
/deep/ .ivu-menu-vertical .ivu-menu-submenu .ivu-menu-submenu-title {
  padding: 10px 16px;
  line-height: 20px;
}

/deep/ .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),
/deep/ .ivu-menu-light.ivu-menu-vertical.sideMenuClose .ivu-menu-submenu.ivu-menu-item-active .ivu-menu-submenu-title {
  color: #3f73ff;
  background-color: #f0f5ff;
}

/deep/ .ivu-menu-vertical .ivu-menu-item:hover {
  color: #3f73ff;
}

/deep/ .ivu-menu-vertical .ivu-menu-submenu-title:hover {
  color: #333333;
}
</style>
