<template>
  <div class="chartType-container">
    <div class="row">
      <section :class="['rowItem', { selected: item.selected, disabled: item.disable }]" v-for="item in chartTypeList" :key="item.chartType">
        <div @click="changeChartType(item)">
          <img :src="item.disable ? item.darkIcon : item.lightIcon" alt="" />
          <p>{{ item.typeName }}</p>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
// chart图标——亮色
import barLightIcon from "@/assets/icons/resourceManage/colorChart/bar-light.svg";
import doublePieLightIcon from "@/assets/icons/resourceManage/colorChart/doublePie-light.svg";
import gaugeLightIcon from "@/assets/icons/resourceManage/colorChart/gauge-light.svg";
import imgLightIcon from "@/assets/icons/resourceManage/colorChart/img-light.svg";
import indicatorLightIcon from "@/assets/icons/resourceManage/colorChart/indicator-light.svg";
import indexBoardLightIcon from "@/assets/icons/resourceManage/colorChart/indexBoard-light.svg";
import inputLightIcon from "@/assets/icons/resourceManage/colorChart/input-light.svg";
import lineBarLightIcon from "@/assets/icons/resourceManage/colorChart/line_bar-light.svg";
import lineLightIcon from "@/assets/icons/resourceManage/colorChart/line-light.svg";
import radarLightIcon from "@/assets/icons/resourceManage/colorChart/radar-light.svg";
import mapLightIcon from "@/assets/icons/resourceManage/colorChart/map-light.svg";
import pieLightIcon from "@/assets/icons/resourceManage/colorChart/pie-light.svg";
import scatterLightIcon from "@/assets/icons/resourceManage/colorChart/scatter-light.svg";
import tableLightIcon from "@/assets/icons/resourceManage/colorChart/table-light.svg";
import bubbleLightIcon from "@/assets/icons/resourceManage/colorChart/bubble-light.svg";

// chart图标——暗色
import barDarkIcon from "@/assets/icons/resourceManage/colorChart/bar-dark.svg";
import doublePieDarkIcon from "@/assets/icons/resourceManage/colorChart/doublePie-dark.svg";
import gaugeDarkIcon from "@/assets/icons/resourceManage/colorChart/gauge-dark.svg";
import imgDarkIcon from "@/assets/icons/resourceManage/colorChart/img-dark.svg";
import indicatorDarkIcon from "@/assets/icons/resourceManage/colorChart/indicator-dark.svg";
import indexBoardDarkIcon from "@/assets/icons/resourceManage/colorChart/indexBoard-dark.svg";
import inputDarkIcon from "@/assets/icons/resourceManage/colorChart/input-dark.svg";
import lineBarDarkIcon from "@/assets/icons/resourceManage/colorChart/line_bar-dark.svg";
import lineDarkIcon from "@/assets/icons/resourceManage/colorChart/line-dark.svg";
import radarDarkIcon from "@/assets/icons/resourceManage/colorChart/radar-dark.svg";
import mapDarkIcon from "@/assets/icons/resourceManage/colorChart/map-dark.svg";
import pieDarkIcon from "@/assets/icons/resourceManage/colorChart/pie-dark.svg";
import scatterDarkIcon from "@/assets/icons/resourceManage/colorChart/scatter-dark.svg";
import tableDarkIcon from "@/assets/icons/resourceManage/colorChart/table-dark.svg";
import bubbleDarkIcon from "@/assets/icons/resourceManage/colorChart/bubble-dark.svg";

import { mapGetters, mapMutations } from "vuex";

export default {
  data() {
    return {
      chartTypeList: [
        {
          chartType: "CustomTable",
          typeName: "表格",
          lightIcon: tableLightIcon,
          darkIcon: tableDarkIcon,
          disable: false,
          selected: false
        },
        {
          chartType: "SimpleLine",
          typeName: "折线图",
          lightIcon: lineLightIcon,
          darkIcon: lineDarkIcon,
          disable: false,
          selected: false
        },
        {
          chartType: "BasicRadar",
          typeName: "雷达图",
          lightIcon: radarLightIcon,
          darkIcon: radarDarkIcon,
          disable: false,
          selected: false
        },
        {
          chartType: "SimpleBar",
          typeName: "柱状图",
          lightIcon: barLightIcon,
          darkIcon: barDarkIcon,
          disable: false,
          selected: false
        },
        {
          typeName: "环饼图",
          chartType: "SimplePie",
          lightIcon: pieLightIcon,
          darkIcon: pieDarkIcon,
          disable: false,
          selected: false
        },
        {
          typeName: "散点图",
          chartType: "SimpleScatter",
          lightIcon: scatterLightIcon,
          darkIcon: scatterDarkIcon,
          disable: false,
          selected: false
        },
        {
          typeName: "气泡图",
          chartType: "SimpleBubble",
          lightIcon: bubbleLightIcon,
          darkIcon: bubbleDarkIcon,
          disable: false,
          selected: false
        },
        {
          typeName: "双轴图",
          chartType: "MixLineBar",
          lightIcon: lineBarLightIcon,
          darkIcon: lineBarDarkIcon,
          disable: false,
          selected: false
        },
        {
          chartType: "DoublePie",
          typeName: "双环图",
          lightIcon: doublePieLightIcon,
          darkIcon: doublePieDarkIcon,
          disable: false,
          selected: false
        },
        {
          chartType: "Indicator",
          typeName: "指标卡",
          lightIcon: indicatorLightIcon,
          darkIcon: indicatorDarkIcon,
          disable: false,
          selected: false
        },
        {
          chartType: "IndexBoard",
          typeName: "指标组",
          lightIcon: indexBoardLightIcon,
          darkIcon: indexBoardDarkIcon,
          disable: false,
          selected: false
        },
        {
          chartType: "SimpleGauge",
          typeName: "仪表盘",
          lightIcon: gaugeLightIcon,
          darkIcon: gaugeDarkIcon,
          disable: false,
          selected: false
        },
        {
          chartType: "ComplexTextarea",
          typeName: "文本框",
          lightIcon: inputLightIcon,
          darkIcon: inputDarkIcon,
          disable: false,
          selected: false
        },
        {
          chartType: "SimpleMap",
          typeName: "地图",
          lightIcon: mapLightIcon,
          darkIcon: mapDarkIcon,
          disable: false,
          selected: false
        },
        {
          chartType: "CustomImage",
          typeName: "图片",
          lightIcon: imgLightIcon,
          darkIcon: imgDarkIcon,
          disable: false,
          selected: false
        }
      ]
    };
  },
  created() {
    this.chartTypeList.forEach(ele => {
      ele.selected = false;
      ele.disable = true;
      if (ele.chartType === this.currentChartType) {
        ele.selected = true;
        ele.disable = false;
      }
      // 新增时，文本框、图片始终可以切换
      if (this.$route.query.type === "add" && (ele.chartType === "ComplexTextarea" || ele.chartType === "CustomImage")) {
        ele.disable = false;
      }
    });
  },
  computed: {
    ...mapGetters(["currentChartType", "currentSelectDimensions", "currentSelectIndicators"])
  },
  methods: {
    ...mapMutations("resourceManage", ["setToggleChartType"]),
    /**
     * 切换图表类型（图片除外）
     */
    changeChartType({ chartType, disable }) {
      if (disable) return;
      // 修改选中效果
      this.chartTypeList.forEach(ele => {
        ele.selected = false;
        if (ele.chartType === chartType) {
          ele.selected = true;
        }
      });
      this.setToggleChartType(chartType);
    },
    /**
     * 根据维度、指标、当前图表类型:
     * - 展示允许切换的图表类型
     * - 展示当前图表的选择效果
     */
    showAllowChart() {
      let arr = new Set([this.currentChartType]);

      // 0维度 + 1指标
      if (this.currentSelectDimensions.length === 0 && this.currentSelectIndicators.length === 1) {
        arr.add("Indicator");
        arr.add("SimpleGauge");
      }

      // 1维度 + 1指标
      if (this.currentSelectDimensions.length === 1 && this.currentSelectIndicators.length === 1) {
        arr.add("SimplePie");
        arr.add("SimpleMap");
      }

      // 1维度 + 2指标
      if (this.currentSelectDimensions.length === 1 && this.currentSelectIndicators.length === 2) {
        arr.add("SimpleScatter");
      }
      // 1维度 + 3指标
      if (this.currentSelectDimensions.length === 1 && this.currentSelectIndicators.length === 3) {
        arr.add("SimpleBubble");
      }

      // 1维度 + >=1指标
      if (this.currentSelectDimensions.length === 1 && this.currentSelectIndicators.length >= 1) {
        arr.add("SimpleLine");
        arr.add("BasicRadar");
        arr.add("SimpleBar");
        arr.add("MixLineBar");
        arr.add("IndexBoard");
      }

      // >=1维度 + 1指标
      if (this.currentSelectDimensions.length >= 1 && this.currentSelectIndicators.length === 1) {
        arr.add("DoublePie");
      }

      // >=1维度 + >=1指标
      if (this.currentSelectDimensions.length >= 1 && this.currentSelectIndicators.length >= 1) {
        arr.add("CustomTable");
      }

      // 展示允许切换的图表，并给当前图表附加选中效果
      this.chartTypeList.forEach(ele => {
        ele.disable = true;
        ele.selected = false;
        const isNoDisable = this.$route.query.type === "add" && (ele.chartType === "ComplexTextarea" || ele.chartType === "CustomImage")
        if (arr.has(ele.chartType) || isNoDisable) {
          ele.disable = false;
        }
        if (ele.chartType === this.currentChartType) {
          ele.selected = true;
        }
      });
    }
  },
  watch: {
    // 维度变化
    currentSelectDimensions() {
      if (this.currentChartType !== "ComplexTextarea" && this.currentChartType !== "CustomImage") {
        this.showAllowChart();
      }
    },
    // 指标变化
    currentSelectIndicators() {
      if (this.currentChartType !== "ComplexTextarea" && this.currentChartType !== "CustomImage") {
        this.showAllowChart();
      }
    },
    // 编辑文本框或图片时: 1.不允许切换图表 2.给当前图表附加选中效果
    currentChartType(newVal) {
      if (this.$route.query.type === "edit" && (newVal === "ComplexTextarea" || newVal === "CustomImage")) {
        this.chartTypeList.forEach(ele => {
          ele.disable = true;
          ele.selected = false;
          if (ele.chartType === newVal) {
            ele.disable = false;
            ele.selected = true;
          }
        });
      }
    }
  }
};
</script>

<style lang="less" scoped>
.chartType-container {
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 13px 10px 0;
    .rowItem {
      width: calc(~"25% - 10px");
      text-align: center;
      margin-bottom: 16px;
      cursor: pointer;
      &:not(:nth-child(4n)) {
        margin-right: 10px;
      }
      &.selected {
        border-color: #3f73ff;
        box-shadow: 0px 0px 0px 2px #bbcfff;
      }
      /deep/.ivu-upload > .ivu-upload-list {
        margin-top: 0;
      }
      &.disabled {
        cursor: not-allowed;
      }
    }
  }
}
</style>
