<template>
  <div id="tempBox">
    <div class="header" v-allow="[1097038116684805]">
      <div class="header-group">
        <span>报告名称：</span>
        <Input v-model="queryName" clearable placeholder="请输入报告名称" style="width: 180px; cursor: pointer" @on-enter="searchTable" />
      </div>
      <div class="header-group">
        <span>创建人：</span>
        <Input
          v-model="creator"
          clearable
          placeholder="请输入创建人"
          style="width: 180px; cursor: pointer; margin-right: 20px"
          @on-enter="searchTable"
        />
      </div>
      <div class="header-group" style="margin-left: 0">
        <span>更新时间：</span>
        <DatePicker
          class="mt"
          type="datetimerange"
          format="yyyy-MM-dd"
          placeholder="请输入查找时间范围"
          style="width: 180px"
          @on-change="searchDate"
          :editable="false"
          clearable
        />
      </div>
      <div class="header-group" style="margin-left: 16px">
        <Button icon="ios-search" @click="searchTable" type="primary" class="allBtnStyle changeIcon">查询</Button>
      </div>

      <div class="resourceManage" v-allow="[76181250]" @click="$router.push({ path: 'resourceManage' })">
        <img src="@/assets/icons/resourceManage/templateList/resourceManage.svg" alt="" />
        <span>资源管理</span>
      </div>
    </div>
    <div class="tempelteCss">
      <Spin v-if="loading" size="large" fix />

      <div class="list-area">
        <div class="template-list-wrap">
          <ul class="template-list">
            <li @click="addMethods" v-allow="[1097038120879104]">
              <div class="create-wrap item-wrap" title="点击创建模板">
                <div class="report-card-container">
                  <div class="report-card-add">
                    <img class="report-card-img" :src="require('@/assets/images/report/createReport.svg')" />
                    <span class="name">创建模板</span>
                  </div>
                </div>
              </div>
            </li>
            <li class="report-card" v-for="(item, index) in reportListAll" :key="index" @mouseenter="enter(item)" @mouseleave="leave(item)">
              <div class="item-wrap">
                <transition name="reportBtn-fade">
                  <ReportAction
                    v-show="item.deleteBtnShow"
                    :item="item"
                    @gotoReport="toViewReportPage"
                    @refresh:data="searchTable"
                    @show:modal="showModal"
                    @updateData:end="refreshReportList"
                  />
                </transition>
                <div class="report-card-container" title="点击查看报告详情" @click.stop="toViewReportPage(item.id, 'view')">
                  <div class="statusText" :style="{ '--statusBackgroundColor': showStatusDataByKey(item.status, 'prefixColor') }">
                    {{ showStatusDataByKey(item.status, "label") }}
                  </div>
                  <img :src="item.imgSrc" alt="" class="report-card-img" />
                  <span class="name">{{ item.oneContent }}</span>
                  <div class="report-card-bottom">
                    <span class="author">{{ item.creator }}</span>
                    <span class="time">{{ item.updateContent }}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <div v-if="total >= 0" style="display: flex; justify-content: flex-end; padding-right: 20px"></div>
        <Page
          :total="total"
          show-elevator
          show-sizer
          :page-size="pageSize"
          :page-size-opts="[8, 15, 16, 24]"
          @on-page-size-change="onPageSizeChange"
          @on-change="onPageNumChange"
          style="position: absolute; bottom: 10px; right: 10px"
        />
      </div>
    </div>

    <!-- 权限分享弹窗 -->
    <AuthShareModal v-model="showAuthShare" :modal-status="authShareModalStatus" share-from="报告" />
  </div>
</template>

<script>
  import { queryReportList } from '@/api/report.js'
  import ReportAction from "./components/ReportAction"
  import NoData from '@/view/components/no-data'
  import AuthShareModal from "@/components/AuthShareModal";
  import moment from 'moment'
  import { getAllIndicatorGroupList } from '@/api/indicator'
  import { mapActions } from 'vuex'
  import _ from 'lodash'
  import resourcePublish from '@/mixins/resourcePublish'
  import {getVariableList} from "@/api/dataset";

  export default {
    name: "ReportManage",
    mixins: [resourcePublish],
    components: {
      ReportAction,
      NoData,
      AuthShareModal
    },
    computed: {
      currentSelectChart() {
        const currentSelectChart = this.$store.state.chart && this.$store.state.chart.currentSelectChart
        return currentSelectChart
      }
    },
    data() {
      return {
        loading: false,
        reportListOne: [],
        reportListTwo: [],
        reportListAll: [], // 所有报告
        radioValue: '',
        queryName: null,
        creator: undefined,
        // 分页
        pageObj: {
          page: 1,
          size: 10
        },
        // 最底下 更多字段 是否展示
        moreFieldIsShow: null,
        reportCardImg: require('@/assets/images/report/report-card.svg'),
        total: 0,
        currentPage: 1,
        pageSize: 15,
        noData: false,
        startTime: undefined,
        endTime: undefined,
      }
    },
    mounted() {
      this.refreshReportList()
      // 指标选择树形结构显示
      this.getAllIndicatorGroupList()
      // 缓存全局变量
      this.getPublicVariableList()
      // 检查是否有异常关闭报告
      const abnormalReportBakKey = 'abnormalReportBak'
      let abnormalReportBak = window.localStorage.getItem(abnormalReportBakKey)
      if (abnormalReportBak) {
        this.$Modal.confirm({
          title: '是否继续编辑异常关闭报告？',
          content: '监测到上一次操作存在未保存的内容',
          okText: '编辑',
          cancelText:'删除',
          onOk: () => {
            this.$router.push('/template_add?hasAbnormalReport=1')
          },
          onCancel:()=>{
            window.localStorage.removeItem(abnormalReportBakKey)
          },
        })
      }
    },
    methods: {
      ...mapActions([
        'setDimensions',
        'setIndicators',
        'setGlobalVariableList'
      ]),
      ...mapActions('indicator',[
        'setIndicatorTreeData',
      ]),
      async getPublicVariableList() {
        const { data: res } = await getVariableList()
        if (res.state !== 'success')
          return this.$Message.error('获取公共变量列表失败')
        let publicVariableList = res.data.map(item => {
          let paramValueArr = []
          Object.keys(item.paramValue).forEach(key => {
            paramValueArr.push({
              value: key,
              label: item.paramValue[key]
            })
          })
          return {
            ...item,
            paramValue: paramValueArr
          }
        })
        this.setGlobalVariableList(publicVariableList)
        // 查看报告全局变量使用
        localStorage.setItem('globalVariableList', JSON.stringify(publicVariableList))
      },
      refreshReportList() {
        const param = {
          pageNum: this.currentPage,
          pageSize: this.pageSize,
          name: this.queryName,
          creator: this.creator,
          startTime: this.startTime,
          endTime: this.endTime
        }
        this.loading = true
        queryReportList(param).then((res) => {
          this.loading = false
          if (res.data.state === 'success') {
            if (res.data.data && res.data.data.data && res.data.data.data.length) {
              this.noData = false
              let imgSrcList = ['report-card1.svg', 'report-card2.svg', 'report-card3.svg', 'report-card4.svg', 'report-card5.svg',
                'report-card6.svg', 'report-card7.svg', 'report-card8.svg', 'report-card9.svg']
              let reportList = res.data.data.data.map((item, index) => {
                let imgSrcUrl = imgSrcList[index % 9]
                return {
                  id: item.id,
                  imgSrc: require('@/assets/images/report/reportListBg/' + imgSrcUrl),
                  oneContent: item.name,
                  creator: item.creator, // 创建人昵称
                  creatorId: item.creatorId, // 创建人id
                  updateContent: moment(new Date(item.updateTime)).format(
                    'yyyy/MM/DD HH:mm'
                  ),
                  deleteBtnShow: false,
                  openSnapshot: item.openSnapshot || 0,
                  moduleType: 5,
                  status: item.status,
                  controlView: item.controlView, // 用户权限: 查看
                  controlEdit: item.controlEdit // 用户权限: 编辑
                }
              })
              if (reportList.length > 4) {
                this.reportListOne = reportList.slice(0, 5)
                this.reportListTwo = reportList.slice(5, reportList.length)
              } else {
                this.reportListOne = reportList.slice(0, reportList.length)
              }
              this.reportListAll = reportList
              this.total = res.data.data.count
              this.total++
            } else {
              this.noData = true
              this.reportListOne = []
              this.reportListTwo = []
              this.reportListAll = []
              this.total = 0
            }
            localStorage.setItem('reportTest', JSON.stringify(JSON.stringify(this.reportListAll)))
          }
        })
      },
      onPageSizeChange(pageSize) {
        this.pageSize = pageSize
        this.currentPage = 1
        this.refreshReportList()
      },
      onPageNumChange(pageNum) {
        this.currentPage = pageNum
        this.refreshReportList()
      },
      buildIndicatorTreeData(resData) {
        const treeData = resData.map((item, index) => {
          let children = []
          if (item.indicators && item.indicators.length) {
            children = item.indicators.map((indicator) => {
              return {
                title: indicator.name,
                id: indicator.id,
                selected: false
              }
            })
          }
          let indicatorNode = {
            title: item.name,
            id: item.id,
            expand: index === 0,
            disabled: true
          }
          if (children.length) {
            indicatorNode = _.assign(indicatorNode, { children })
          }
          return indicatorNode
        })
        return treeData
      },
      getAllIndicatorGroupList() {
        getAllIndicatorGroupList().then(res => {
          if (res.data.state === 'success') {
            const { data } = res.data
            // 将指标数据缓存到store中作为创建报告页面文本框组件选择指标指标数据源
            this.setIndicatorTreeData(data)
          } else {
            this.$Message.warning('获取指标分组数据失败')
          }
        })
      },
      //  查询 customTable 数据
      searchTable() {
        this.currentPage = 1
        this.refreshReportList()
      },
      searchDate(date) {
        this.startTime = date[0]
        this.endTime = date[1]
        this.refreshReportList()
      },
      // customTable 添加
      addMethods() {
        this.$router.push('/template_add')
      },
      /**
       * 查看/编辑报告
       * 注: 如果是非本人创建的报告，只要出现在报告管理中，就至少会有查看权限
       */
      toViewReportPage(id, pageType, startDate, endDate) {
        if (this.currentSelectChart) {
          this.$set(this.currentSelectChart, 'style', {})
        }
        let dateRange = ''
        if (startDate) {
          let s = moment(startDate).format('YYYY-MM-DD')
          let e = moment(endDate).format('YYYY-MM-DD')
          dateRange = `&startDate=${s}&endDate=${e}`
        }
        const href = `${window.location.origin}${window.location.pathname}`
        window.open(`${href}#template_add?id=${id}${dateRange}&openType=${pageType}`, '_blank')
      },

      enter(item) {
        item.deleteBtnShow = true
      },
      leave(item) {
        item.deleteBtnShow = false
      }
    }
  }
</script>

<style scoped src="@/styles/template/templatePage.css"></style>

<style scoped lang="less">
  .allBtnStyle {
    background: #3F73FF;
    border-radius: 2px;
  }

  .changeIcon {
    /deep/ .ivu-icon {
      margin-top: 2%;
    }

    /deep/ .ivu-icon::before {
      content: url("~@/assets/images/system/buttonSearch.svg");
      //margin-top: 10px;
    }
  }

  .resourceManage {
    background: #E3EBFF;
    border: 1px solid rgba(63,115,255,1);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.05);
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px 13px;
    height: 32px;
    box-sizing: border-box;
    position: absolute;
    right: 24px;
    top: 9px;
    cursor: pointer;
    img {
      width: 14px;
      height: 14px;
      margin-right: 6px;
    }
    span {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #3F73FF;
      text-align: left;
      line-height: 22px;
      font-weight: 400;
    }
  }

  .statusText {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    margin-bottom: 12px;
    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--statusBackgroundColor);
      margin-right: 6px;
    }
  }
</style>
