<template>
  <div
    class="c-mini-toolbar"
    :style="{
      'margin-left': viewELSize.width -45 + 'px',
      'margin-top': (viewELSize.height - 220) / 2 + 'px',
    }"
  >
    <div class="c-mb-button" style="margin-top: 0px" @click="fullscreen">
      <svg class="rg-icon" aria-hidden="true">
        <use xlink:href="#icon-resize-"></use>
      </svg>
      <span class="c-mb-text">{{ isExit ? "退出" : "全屏" }}</span>
    </div>
    <div class="c-mb-button" @click="zoomOut">
      <svg class="rg-icon" aria-hidden="true">
        <use xlink:href="#icon-fangda"></use>
      </svg>
      <span class="c-mb-text">放大</span>
    </div>
    <div class="c-mb-button" style="margin-top: 0px" @click="zoomIn">
      <svg class="rg-icon" aria-hidden="true">
        <use xlink:href="#icon-suoxiao"></use>
      </svg>
      <span class="c-mb-text">缩小</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "boardMiniToolBar",
  props: {
    viewELSize: {
        mustUseProp: true,
        default: () => {
          return {}
        },
        type: Object
      }
  },
  data() {
    return {
      size: 1,
      isExit: false,
    };
  },
  mounted() {},
  methods: {
    set() {
      document.querySelector(".indicatorNode-container").style.zoom = this.size;
    },
    zoomOut() {
      this.size += 0.1;
      this.set();
    },
    zoomIn() {
      this.size -= 0.1;
      this.set();
    },
    fullscreen() {
      this.isExit = !this.isExit;
      this.$emit("isFullscreen");
    },
  },
};
</script>

<style scoped>
.rg-icon {
  width: 16px;
  height: 16px;
  vertical-align: -3px;
  fill: currentColor;
  overflow: hidden;
}

.c-mini-toolbar {
  width: 44px;
  position: absolute;
  margin-top: 170px;
  margin-right: 10px;
  z-index: 999;
  border-radius: 4px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 0px 6px 0px;
}

.c-fixedLayout {
  position: fixed;
  top: 100px;
}

.c-mb-button {
  height: 44px;
  width: 42px;
  margin-top: 0px;
  background-color: #ffffff;
  opacity: 1;
  text-align: center;
  padding: 3px;
  cursor: pointer;
  color: #999999;
  font-size: 18px;
  float: left;
  box-sizing: border-box;
  line-height: 21px;
}

.c-mb-button .c-mb-text {
  display: inline-block;
  height: 14px;
  width: 42px;
  font-size: 12px;
  line-height: 12px;
  margin-top: 24px;
  margin-left: -28px;
  position: absolute;
  color: rgba(0, 0, 0, 0.45);
}

.c-mb-button-on {
  background-color: #2e74b5;
  color: #ffffff;
}

.c-mb-button:hover {
  background-color: #f0f5ff;
  color: #3f73ff;
}

.c-mb-button:hover .c-mb-text,
.c-mb-button-on .c-mb-text {
  color: #3f73ff;
}

.c-mb-button .c-mb-button {
  height: 44px;
  width: 42px;
  margin: 0px;
  border: none;
}

.c-mb-button-c .c-mb-text {
  color: #262626 !important;
}

.c-mb-button-c:hover .c-mb-text,
.c-mb-button-on .c-mb-text {
  color: #ffffff !important;
}

.c-loading-icon {
  animation: turn 1s linear infinite;
}
</style>
