<template>
  <div class="indicatorNode-container">
    <div
      class="node-info"
      :class="{
        redColor: item.leftLine && item.leftLine.lineColor === 'red',
        greenColor: item.leftLine && item.leftLine.lineColor === 'green'
      }"
      v-for="(item, index) in data"
      :key="index"
    >
      <div class="body" :id="item.id" :indicatorId="item.id">
        <div class="body-container">
          <Circle
            :indicatorId="item.id"
            v-if="item.targetValue !== undefined"
            :percent="renderTarget(item.value, item.targetValue)"
            :size="45"
            trail-color="#e9effd"
            stroke-color="#91affb"
            :trail-width="18"
            :stroke-width="18"
          />
          <div class="content" :indicatorId="item.id">
            <div class="content-header" :indicatorId="item.id">
              <div :indicatorId="item.id" class="indicator-name">
                <span :indicatorId="item.id" class="title" :title="item.indicatorName" @click.stop="goDetail(item)">{{ item.indicatorName }}</span>
                <span :indicatorId="item.id" class="indicatorValue" :title="item.value">{{ item.value }}</span>
              </div>
              <div
                class="warn-label"
                v-if="item.level !== undefined"
                :style="{ backgroundColor: watchStatusColor(item) }"
                @click.stop="showWarn(item)"
              >
                <img src="@/assets/icons/indicatorWorkbench/view.svg" alt="" />
                <span>{{ watchStatusText(item) }}</span>
              </div>
            </div>
            <div class="content-bottom">
              <div class="data-compare">
                <span>同比</span>
                <div class="data-compare-num">
                  <template v-if="isShowIcon(item.mom)">
                    <img v-if="item.mom?.includes('-')" src="@/assets/icons/indicatorWorkbench/greenArrowDown.svg" alt="" />
                    <img v-else src="@/assets/icons/indicatorWorkbench/redArrowUp.svg" alt="" />
                  </template>
                  <span style="margin-left: 2px">{{ item.mom }}</span>
                </div>
              </div>
              <div class="data-compare">
                <span>环比</span>
                <div class="data-compare-num">
                  <template v-if="isShowIcon(item.yoy)">
                    <img v-if="item.yoy?.includes('-')" src="@/assets/icons/indicatorWorkbench/greenArrowDown.svg" alt="" />
                    <img v-else src="@/assets/icons/indicatorWorkbench/redArrowUp.svg" alt="" />
                  </template>
                  <span style="margin-left: 2px">{{ item.yoy }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="node-children">
        <indicator-node @showWarn="showWarn" @goDetail="goDetail" :data="item.children" />
      </div>
    </div>
  </div>
</template>

<script>
import { ZERO_PRE_COMPARE_DATA_SHOW } from "@/config/ReportConstants";
import { EARLY_WARNING_TYPE_LIST, TARGET_TYPE_LIST } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";

export default {
  name: "IndicatorNode",
  props: {
    data: {
      type: Array
    }
  },
  computed: {
    isShowIcon() {
      return val => val !== "0.00%" && val !== ZERO_PRE_COMPARE_DATA_SHOW;
    },
    renderTarget() {
      return (v, tv) => {
        const percent = (100 * Number(v)) / Number(tv);
        return percent > 100 ? 100 : percent;
      };
    },
    watchStatusText() {
      return ({ level, taskType }) => this.taskTypeList(taskType).find(ele => ele.value === level + 1)?.label;
    },
    watchStatusColor() {
      return ({ level, taskType }) => this.taskTypeList(taskType).find(ele => ele.value === level + 1)?.color;
    },
    taskTypeList() {
      return taskType => (taskType === 1 ? EARLY_WARNING_TYPE_LIST : TARGET_TYPE_LIST);
    }
  },
  methods: {
    goDetail({ indicatorId, indicatorName, indicatorType }) {
      this.$emit("goDetail", { indicatorId, indicatorName, indicatorType });
    },
    showWarn({ taskId, level }) {
      this.$emit("showWarn", { taskId, level });
    }
  }
};
</script>

<style lang="less" scoped>
.indicatorNode-container {
  .node-info {
    white-space: nowrap;
    .body {
      background-color: #ffffff;
      display: inline-block;
      align-items: center;
      font-size: 12px;
      height: 70px;
      text-align: left;
      position: relative;
      margin-bottom: 24px;
      color: #333333;
      border-radius: 53px;
      .body-container {
        width: 364px;
        max-width: 364px;
        padding: 12px 24px 12px 12px;
        height: inherit;
        display: flex;
        align-items: center;

        .ivu-chart-circle {
          flex-shrink: 0;
        }

        .content {
          width: calc(~"100% - 45px");
          .content-header {
            display: flex;
            .indicator-name {
              width: 206px;
              display: flex;
              align-items: center;
            }
            .title {
              cursor: pointer;
              margin: 0 11px 0 26px;
              max-width: 100px;
              overflow: hidden; //超出的文本隐藏
              text-overflow: ellipsis; //溢出用省略号显示
              white-space: nowrap;
            }
            .indicatorValue {
              max-width: calc(~"100% - 100px - 37px");
              margin-left: 5px;
              margin-top: 0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .warn-label {
              width: 80px;
              height: 20px;
              border-radius: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              span {
                font-size: 12px;
                color: #ffffff;
                margin: 0 0 0 5px;
              }
            }
          }

          .content-bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;

            .data-compare {
              display: flex;

              .data-compare-num {
                span {
                  margin: 0;
                }
              }

              span {
                margin: 0 16px 0 26px;
                font-size: 12px;
                color: #858aa0;
              }
            }
          }
        }
      }

      span {
        margin: 18px 11px 0 26px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 600;
      }
    }
  }
  .node-children {
    width: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;

    .node-info {
      margin-left: 68px;
    }

    .node-info:first-child {
      > .body:after {
        position: absolute;
        top: 36px;
        left: -70px;
        width: 68px;
        border-top: 1px solid #d9d9d9;
        content: "";
        color: transparent;
      }

      > .body:before {
        position: absolute;
        z-index: 200;
        top: -14px;
        left: -43px;
        width: 1px;
        height: 50px;
        background: #f5f5f5;
        content: "";
      }
    }

    .redColor.node-info:first-child {
      > .body:after {
        border-color: #ff4d4f;
      }
    }
    .greenColor.node-info:first-child {
      > .body:after {
        border-color: #6dd400;
      }
    }

    .node-info + .node-info {
      > .body:after {
        position: absolute;
        top: 22px;
        left: -43px;
        width: 41px;
        height: 10px;
        border-style: solid;
        border-color: #d9d9d9;
        border-width: 0 0 1px 1px;
        border-bottom-left-radius: 10px;
        content: "";
      }

      > .body:before {
        position: absolute;
        left: -43px;
        top: -1000px;
        bottom: 45px;
        border-left: 1px solid #d9d9d9;
        content: "";
      }
    }
    .node-info + .node-info.redColor {
      > .body:after {
        border-color: #ff4d4f;
      }
      > .body:before {
        z-index: 10;
        border-color: #ff4d4f;
      }
    }
    .node-info + .node-info.greenColor {
      > .body:after {
        border-color: #6dd400;
      }
      > .body:before {
        border-color: #6dd400;
        z-index: 10;
      }
    }
  }
}
</style>
