<template>
  <div class="customhome-container">
    <div class="cushome-content">
      <div class="custom-design" id="custom-design">
        <grid-layout
          :layout.sync="layoutCon"
          :col-num="layoutCol"
          :is-draggable="draggable"
          :is-resizable="false"
          :is-mirrored="false"
          :vertical-compact="compact"
          :margin="[10, 10]"
          :use-css-transforms="true"
          :row-height="rowheight"
          @move="moveEvent"
          @moved="moved"
        >
          <div class="grid-container" id="grid-container" :style="bjStyles"></div>
          <grid-item
            v-for="(item, index) in layoutCon"
            :x="item.x"
            :y="item.y"
            :w="item.w"
            :h="item.h"
            :i="item.i"
            :key="index"
            @mouseenter.native="item.showMoreIcon = true"
            @mouseleave.native="item.showMoreIcon = false"
          >
            <div class="design-conbox">
              <el-popover placement="bottom-start" width="78" ref="popper" popper-class="customPopover" trigger="click" v-show="item.showMoreIcon">
                <span class="showMore" slot="reference">⋯</span>
                <ul>
                  <li v-if="item.type === 'ReportSelect'" @click="editItem(item)"><i class="standardIcon iconEditGray mini"></i> 编辑</li>
                  <li @click="deleteItem(item, index)"><i class="el-icon-delete"></i> 删除</li>
                </ul>
              </el-popover>

              <!-- 报告预览 -->
              <ReportView v-if="item.type === 'ReportSelect'" :report-template-id="Number(item.data)" />
              <!-- 个人信息 -->
              <PersonInfo v-if="item.type === 'PersonInfo'" :info="personInfo" />
              <!-- 快捷创建 -->
              <QuickJump v-if="item.type === 'QuickCreate'" title="快捷创建" :list="createList" />
              <!-- 快捷访问 -->
              <QuickJump v-if="item.type === 'QuickJump'" title="快捷访问" :list="accessList" />
              <!-- 预警 -->
              <EarlyWarning v-if="item.type === 'EarlyWarning'" title="当前指标预警情况" :list="earlyWarningList" />
              <!-- 目标 -->
              <TargetSituation v-if="item.type === 'TargetSituation'" title="目标完成情况" :list="targetList" />
              <!-- 任务 -->
              <TaskSituation v-if="item.type === 'TaskSituation'" title="任务执行情况" :list="taskList" />

              <div class="moveBox" v-show="movetype"></div>
            </div>
          </grid-item>
        </grid-layout>
      </div>
    </div>
  </div>
</template>

<script>
import VueGridLayout from "vue-grid-layout";
import ReportView from "@/view/workbenchPreview/components/ReportView";
import PersonInfo from "@/view/workbenchPreview/components/QuickAction/components/PersonInfo";
import QuickJump from "@/view/workbenchPreview/components/QuickAction/components/QuickJump";
import EarlyWarning from "@/view/workbenchPreview/components/QuickAction/components/EarlyWarning";
import TargetSituation from "@/view/workbenchPreview/components/QuickAction/components/TargetSituation";
import TaskSituation from "@/view/workbenchPreview/components/QuickAction/components/TaskSituation";
import { PERSON_INFO, CREATE_LIST, ACCESS_LIST, EARLY_WARNING_LIST, TARGET_LIST, TASK_LIST } from "../constant/mockData";
import { CANVAS_WIDTH_COL, CANVAS_HEIGHT_COL } from "../constant";

export default {
  components: {
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem,
    ReportView,
    PersonInfo,
    QuickJump,
    EarlyWarning,
    TargetSituation,
    TaskSituation
  },
  props: {
    layoutCon: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      personInfo: PERSON_INFO,
      createList: CREATE_LIST,
      accessList: ACCESS_LIST,
      earlyWarningList: EARLY_WARNING_LIST,
      targetList: TARGET_LIST,
      taskList: TASK_LIST,
      layoutCol: CANVAS_WIDTH_COL,
      bjStyles: {}, //栅格样式
      curDesign: "", //点击容器组件样式
      rowheight: 40, //默认一格高度
      compact: false, //是否紧凑
      movetype: false, //是否显示移动框
      draggable: false //是否可拖拽
    };
  },
  mounted() {
    this.initDesign();
  },
  methods: {
    /**
     * 编辑元素
     */
    editItem(item) {
      this.$emit("editItem", item);
    },
    /**
     * 删除容器里的某一条数据
     */
    deleteItem(item, index) {
      //获取当前点击的组件
      this.$confirm("一旦删除无法找回，确认要删除该组件吗?", "确认删除", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "standardButton",
        confirmButtonClass: "standardButton"
      }).then(() => {
        this.$refs["popper"][index].doClose();
        this.deleteOnlyData(item);
      });
    },
    // 移动前的事件
    moveEvent(i, newX, newY) {
      this.movetype = true;
    },
    // 移动后的事件
    moved(i, newX, newY) {
      this.movetype = false;
    },
    //删除容器里某一条数据
    deleteOnlyData(value) {
      const idx = this.layoutCon.findIndex(item => item.i === value.i);
      this.layoutCon.splice(idx, 1);

      // 画布上只存在报告时，占满画布
      if (this.layoutCon.length === 1 && this.layoutCon[0].type === "ReportSelect") {
        this.layoutCon[0].w = CANVAS_WIDTH_COL;
      }

      // 控制报告以外元素的y
      if (value.type !== "ReportSelect") {
        // 排在当前组件之后的组件
        this.layoutCon.forEach(ele => {
          if (ele.i > value.i) {
            ele.y -= value.h;
          }
        });
      }
    },
    //自定义容器初始化
    initDesign() {
      const domstyleWidth = document.getElementById("grid-container").offsetWidth - CANVAS_WIDTH_COL * 10;
      const domstyleHeight = document.getElementById("grid-container").offsetHeight / CANVAS_HEIGHT_COL;
      const resWidth = domstyleWidth / CANVAS_WIDTH_COL;
      const everyWidth = ((resWidth / domstyleWidth) * 100).toFixed(2);
      this.bjStyles = {
        right: "6.5px",
        top: "-3.5px",
        background: `linear-gradient(rgba(0,0,0,.0) 10px, transparent 0px) 0% 0%,
          linear-gradient(to right,rgba(0,0,0,.0) 10px, transparent 0px) 0% 0%,
          url(${require("@/dmp/assets/images/juxin.png")}) repeat `,
        "background-size": `${everyWidth}% ${domstyleHeight}px`,
        "background-position-x": "4.5px",
        "background-position-y": "9px",
        "background-color": "#fafafa"
      };
      this.rowheight = domstyleHeight - 10;
    }
  }
};
</script>

<style lang="scss">
.customhome-container {
  width: 100%;
  height: 100%;
  user-select: none;
  border-radius: 4px;
  background-color: #fafafa;
  .cushome-content {
    width: calc(100% + 4px);
    background-color: #fafafa;

    height: 100%;
    position: absolute;
    top: -6px;
    bottom: 0;
    right: 0;
    left: -4px;
    overflow-y: auto;
    .custom-design {
      width: 100%;
      height: 100%;
      .grid-container {
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
      }
      .design-conbox {
        width: calc(100% + 1px);
        height: 100%;
        background: #fff;
        // border: 1px solid rgb(226, 226, 226);
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;

        .showMore {
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
          font-size: 16px;
          text-align: center;
          transform: rotate(90deg);
          color: #bdb7b7;
          z-index: 100;
          &:hover {
            color: #3f73ff;
          }
        }

        .moveBox {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 99;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
</style>

<style lang="scss">
.customhome-container {
  .custom-design .vue-grid-layout {
    min-height: calc(100% - 108px);
    background-color: #fff;
    padding-bottom: 120px;
    box-sizing: content-box;
  }
  .vue-grid-item.vue-grid-placeholder {
    background: #7c7d7e;
  }
  .vue-grid-item > .vue-resizable-handle {
    position: absolute;
    // width: 0;
    // height: 0;
    // border: 6px solid;
    // border-color: transparent #e8eaef #e8eaef transparent;
    // box-sizing: border-box;
    bottom: 12px;
    right: 12px;
    // background: none;
    // padding: 0;
    width: 16px;
    height: 16px;
    background: url("~@/dmp/assets/images/wordTable/stretch.svg") no-repeat;
    background-size: 100%;
  }
}

.customPopover {
  padding: 0;
  min-width: 78px;
  ul {
    list-style: none;

    li {
      margin-top: 5px;
      padding: 0 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 30px;
      .standardIcon {
        margin-left: 0;
      }
      i {
        margin-right: 5px;
      }
      &:hover {
        background: #ecf1ff;
        color: #3f73ff;
        .iconEditGray {
          content: url("~@/dmp/assets/images/system/tableButtonEdit.svg");
        }
      }
      &:last-child {
        margin-bottom: 5px;
      }
    }
  }
}
</style>
