<template>
  <Modal
    class="addTaskModal-container"
    :value="showModal"
    @on-cancel="onCancel"
    :title="`${modalType}任务`"
    width="569"
    footer-hide
  >
    <div class="modalContent">
      <div class="itemWrapper">
        <span class="leftTitle">任务名称</span>
        <Input
          v-model.trim="taskName"
          maxlength="15"
          placeholder="请输入"
          style="width: 185px"
          clearable
        />
      </div>
      <div class="itemWrapper">
        <span class="leftTitle">截止时间</span>
        <DatePicker
          :value="cutOffTime"
          type="datetime"
          placeholder="请选择"
          style="width: 185px"
          :options="optionsDate"
          @on-change="changeTime"
        />
      </div>
      <div class="itemWrapper">
        <span class="leftTitle">任务类型</span>
        <Select v-model="taskType" style="width: 185px">
          <Option
            v-for="item in taskTypeList"
            :key="item.label"
            :value="item.value"
            >{{ item.label }}</Option
          >
        </Select>
      </div>
      <div class="itemWrapper">
        <span class="leftTitle">关联任务</span>
        <FaTreeSelect
          class="custom-tree"
          style="width: 185px"
          :selected="associatedTaskId"
          :treeData="associatedTreeData"
          :render="treeRender"
          @changeVal="onChange($event, 'associatedTaskId')"
        />
      </div>
      <div class="itemWrapper">
        <span class="leftTitle">负责部门</span>
        <FaTreeSelect
          class="custom-tree"
          style="width: 185px"
          :selected="manageDeptId"
          :treeData="deptTreeDataF"
          @changeVal="onChange($event, 'manageDeptId')"
        />
      </div>
      <div class="itemWrapper">
        <span class="leftTitle">负责人</span>
        <Select
          v-model="manager"
          style="width: 185px"
          not-found-text="无部门成员"
        >
          <Option v-for="item in userList" :key="item.id" :value="item.id">{{
            item.nickname
          }}</Option>
        </Select>
      </div>
      <div class="itemWrapper handleItem">
        <span class="leftTitle">处理人</span>
        <SearchMemberSelect
          v-if="showModal"
          v-model="handlerObj"
          style="width: 185px"
          from="task"
        />
        <!-- <Checkbox class="checkWrapper" v-model="syncMsgChecked">同步推送飞书消息</Checkbox> -->
      </div>
      <div class="itemWrapper taskDescWrapper">
        <span class="leftTitle">任务描述</span>
        <Input
          v-model.trim="taskDesc"
          type="textarea"
          :rows="4"
          placeholder="请输入"
          style="width: 371px"
        />
      </div>
    </div>

    <div class="actionBtn">
      <section class="cancelBtn" @click="onCancel">取消</section>
      <section class="confirmBtn" @click="onConfirm">确认</section>
    </div>
  </Modal>
</template>

<script>
import { TASK_TYPE_LIST } from "../constant";
import FaTreeSelect from "@/components/treeSelect/fa-treeSelect.vue";
import SearchMemberSelect from "@/view/components/SearchMemberSelect.vue";
import { mapState, mapActions } from "vuex";
import { getUserListByDeptId } from "@/api/systemManagement/userManagement";
import { INDICATOR_OPTION_LIST } from "@/config/indicator";
import { deepCopy } from "@/utils/common";
import { addTask, editTask } from "@/api/taskManage";

export default {
  model: {
    prop: "showModal",
    event: "update:showModal",
  },
  props: {
    showModal: {
      type: Boolean,
      required: true,
    },
    defaultData: {
      type: Object,
      required: true,
    },
    taskNameList: {
      type: Array,
      required: true,
    },
  },
  components: {
    FaTreeSelect,
    SearchMemberSelect,
  },
  data() {
    return {
      taskTypeList: TASK_TYPE_LIST,
      optionsDate: {
        disabledDate(date) {
          return date && date.valueOf() < Date.now() - 86400000;
        },
      },
      userList: [],
      taskName: "",
      cutOffTime: "",
      taskType: -1,
      associatedTreeData: [], // 关联任务树
      associatedTaskId: "",
      manageDeptId: "",
      manageDeptName: "",
      manager: "",
      handlerObj: {},
      syncMsgChecked: false,
      taskDesc: "",
    };
  },
  computed: {
    ...mapState("earlyWarningTarget", [
      "earlyWarningList",
      "indicatorTreeData",
    ]),
    ...mapState("department", ["deptTreeData"]),
    ...mapState("task", ["targetList"]),
    modalType() {
      return this.defaultData?.actionType === "edit" ? "编辑" : "新建";
    },
    // 部门树
    deptTreeDataF() {
      return this.dataFormat({ list: deepCopy(this.deptTreeData) });
    },
    // 预警树
    earlyWarningListF() {
      if (!this.earlyWarningList.length) return [];
      const newList = this.earlyWarningList.map(ele => ({
        id: ele.id,
        parentId: ele.parentId,
        children: [],
        title: ele.name
      }));
      const root = newList.filter(ele => ele.parentId === 0);
      const otherData = newList.filter(ele => ele.parentId !== 0);
      this.getTreeData(root, otherData, 2);
      return [
        {
          id: -1,
          title: "/",
          children: root,
          deep: 1,
          expand: true,
          disabled: true
        }
      ];
    },
    // 目标树
    targetListF() {
      if (!this.targetList.length) return [];
      const newList = this.targetList.map(ele => ({
        id: ele.id,
        parentId: ele.parentId,
        children: [],
        title: ele.title
      }));
      const root = newList.filter(ele => !ele.parentId);
      const otherData = newList.filter(ele => ele.parentId);
      this.getTreeData(root, otherData, 2);
      return [
        {
          id: -1,
          title: "/",
          children: root,
          deep: 1,
          expand: true,
          disabled: true
        }
      ];
    }
  },
  watch: {
    // 任务类型改变，关联任务列表随之改变，已选任务清空
    taskType(newVal, oldVal) {
      if (!newVal || newVal === -1) return;;
      if (newVal === 1) {
        this.associatedTreeData = deepCopy(this.targetListF);
      } else if (newVal === 2) {
        this.associatedTreeData = deepCopy(this.earlyWarningListF);
      } else if (newVal === 3) {
        this.associatedTreeData = deepCopy(this.indicatorTreeData);
      }

      // 第一次不用重置
      if (oldVal && oldVal !== -1) {
        this.associatedTaskId = "";
      }
    },
    // 选中部门后，获取该部门成员
    manageDeptId(newVal) {
      if (newVal) {
        this.getUserList(newVal);
      } else {
        this.userList = [];
        this.manager = "";
      }
    },
    // 点击复制/编辑时，回填数据
    defaultData: {
      handler(newVal) {
        if (!Object.keys(newVal).length) return;
        const { data } = newVal;
        const {
          name,
          type,
          cutOffTime,
          refTask,
          deptName,
          deptId,
          manager,
          dealUserId,
          dealUserName,
          dealNickName,
          taskDesc,
        } = data;
        this.taskName = name;
        this.cutOffTime = cutOffTime;
        this.taskType = type;
        this.associatedTaskId = refTask;
        this.manageDeptId = deptId;
        this.manageDeptName = deptName;
        this.manager = Number(manager);
        this.handlerObj = {
          id: dealUserId,
          username: dealUserName,
          nickname: dealNickName,
        };
        this.syncMsgChecked = false;
        this.taskDesc = taskDesc;
      },
      deep: true,
    },
    //创建任务，带上指标值
    indicatorTreeData: {
      handler() {
        const { indicatorId } = this.$route.query;
        if (indicatorId) {
          this.taskType = 3;
          this.associatedTaskId = indicatorId;
        }
      },
      deep: true,
    },
  },
  created() {
    if (!this.deptTreeData.length) {
      this.fetchDeptTree()
    }
  },
  methods: {
    ...mapActions("department", ["fetchDeptTree"]),
    /**
     * 组合树状数据
     */
    getTreeData(list, allData, deep) {
      const DEEP_TEMP = deep + 1;
      list.forEach(ele => {
        ele.children = allData.filter(i => Number(i.parentId) === Number(ele.id));
        ele.deep = deep;
        ele.expand = false // 是否展开树节点
        ele.disabled = false // 是否禁用
        if (ele.children.length) {
          this.getTreeData(ele.children, allData, DEEP_TEMP);
        }
      });
    },
    treeRender(h, { root, node, data }) {
      return (
        <div class="indicatorIconWrapper">
          <i class={this.getClassNameByIndicatorType(data)}></i>
          <span class="tree-title-span" title={data.title}>
            {data.title}
          </span>
        </div>
      );
    },
    /**
     * 获取指标类型对应的className
     */
    getClassNameByIndicatorType({ treeType, type, children }) {
      if (treeType === "group" && !children) {
        return "catalogueTreeNode";
      }
      if (treeType === "value") {
        if (this.taskType === 1) {
          return "";
        } else if (this.taskType === 2) {
          return "";
        } else if (this.taskType === 3) {
          return INDICATOR_OPTION_LIST.find((ele) => ele.value === type)
            ?.iconClass;
        }
      }
      return "";
    },
    /**
     * 组合需要的数据结构
     */
    dataFormat({ list, deep = 1 }) {
      const DEEP_TEMP = deep + 1;
      return list.map((ele) => {
        let childData = ele.children || ele.roleList;
        if (childData?.length) {
          childData = this.dataFormat({ list: childData, deep: DEEP_TEMP });
        }
        return {
          id: Number(ele.id),
          title: ele.name,
          children: childData || [],
          deep,
          expand: false, // 是否展开
          checked: false, // 是否是勾选状态
          disabled: false, // 是否禁止勾选
        };
      });
    },
    /**
     * 获取人员列表
     */
    async getUserList(deptId) {
      const params = {
        pageNum: 1,
        pageSize: 1000,
        enabled: 1, // 是否启用
        deptId: [deptId], // 所属部门
      };
      const res = await getUserListByDeptId(params);
      if (res.data.state === "success") {
        this.userList = res.data.data.data.map((ele) => ({
          id: ele.id,
          nickname: ele.nickname,
          username: ele.name,
        }));
      } else {
        this.$Message.error("获取人员列表失败！");
      }
    },
    changeTime(time) {
      this.cutOffTime = time;
    },
    onChange({ id, title }, key) {
      this[key] = id;
      if (key === "manageDeptId") {
        this.manageDeptName = title;
      }
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.reset();
      this.$emit("update:showModal", false);
    },
    /**
     * 确认
     */
    async onConfirm() {
      if (!this.verify()) return;

      const params = {
        name: this.taskName,
        limitTime: new Date(this.cutOffTime).getTime(),
        taskType: this.taskType,
        refTask: this.associatedTaskId, // 关联任务
        deptId: this.manageDeptId, // 负责部门
        deptName: this.manageDeptName,
        manager: this.manager, // 负责人
        managerName: this.userList.find((ele) => ele.id === this.manager)
          .nickname,
        dealUserId: this.handlerObj.id, // 处理人
        dealUserName: this.handlerObj.username,
        dealNickName: this.handlerObj.nickname,
        description: this.taskDesc, // 任务描述
      };
      let taskFunc = null;
      if (this.defaultData.actionType === "edit") {
        taskFunc = editTask;
        params.id = this.defaultData.data.id;
        params.name = this.judgeIsRepeat(
          this.taskName,
          0,
          true,
          this.defaultData.data.name
        );
      } else {
        taskFunc = addTask;
        params.name = this.judgeIsRepeat(this.taskName, 0, false); // 任务名称
      }
      const res = await taskFunc(params);
      if (res.data.state === "success") {
        this.$Message.success(`任务${this.modalType}成功！`);
        this.onCancel();
        this.$emit("refresh:data");
      } else {
        this.$Message.error(`任务${this.modalType}失败！`);
      }
    },
    verify() {
      if (!this.taskName) {
        this.$Message.warning("请输入名称！");
        return false;
      }

      if (!this.cutOffTime) {
        this.$Message.warning("请选择截止时间！");
        return false;
      }
      if (new Date(this.cutOffTime).getTime() - Date.now() <= 0) {
        this.$Message.warning("截止时间必须大于当前时间！");
        return false;
      }

      if (this.taskType === -1) {
        this.$Message.warning("请选择任务类型！");
        return false;
      }

      if (!this.associatedTaskId) {
        this.$Message.warning("请选择关联任务！");
        return false;
      }

      if (!this.manageDeptId) {
        this.$Message.warning("请选择负责部门！");
        return false;
      }

      if (!this.manager) {
        this.$Message.warning("请选择负责人！");
        return false;
      }

      if (!Object.keys(this.handlerObj).length) {
        this.$Message.warning("请选择处理人！");
        return false;
      }

      if (!this.taskDesc) {
        this.$Message.warning("请输入任务描述！");
        return false;
      }

      return true;
    },
    /**
     * 判断名称是否重复，重复自动加数字后缀
     * @param {String} title 资源名称
     * @param {Number} num 后缀数字
     * @param {Boolean} isReEdit 是否是重新编辑名称
     * @param {String} lastTitle 编辑前的名称
     */
    judgeIsRepeat(title, num = 0, isReEdit, lastTitle) {
      let newTitle = num === 0 ? title : `${title}(${num})`;
      num++;

      const isRepeat = this.taskNameList.some((ele) => ele === newTitle);

      // - 重新编辑时，可以和原来名称一样。但不能和其他任务重复。
      // - 首次新增时，不能重复
      if (isReEdit) {
        if (isRepeat && newTitle !== lastTitle) {
          return this.judgeIsRepeat(title, num);
        } else {
          return newTitle;
        }
      } else {
        if (isRepeat) {
          return this.judgeIsRepeat(title, num, isReEdit, lastTitle);
        } else {
          return newTitle;
        }
      }
    },
    /**
     * 重置数据
     */
    reset() {
      this.userList = [];
      this.taskName = "";
      this.cutOffTime = "";
      this.taskType = -1;
      this.associatedTreeData = [];
      this.associatedTaskId = "";
      this.manageDeptId = "";
      this.manageDeptName = "";
      this.manager = "";
      this.handlerObj = {};
      this.syncMsgChecked = false;
      this.taskDesc = "";
    },
  },
};
</script>

<style lang="less" scoped>
.addTaskModal-container {
  /deep/.ivu-modal-header {
    padding-left: 24px;
  }
  /deep/.ivu-modal-body {
    padding: 24px;
  }

  .modalContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .itemWrapper {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      .leftTitle {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #333333;
        margin-right: 8px;
        width: 56px;
      }

      &.handleItem {
        .checkWrapper {
          margin-left: 22px;
          margin-right: 0;
          /deep/.ivu-checkbox {
            margin-right: 4px;
          }
        }
      }

      &.taskDescWrapper {
        align-items: flex-start;
        .leftTitle {
          margin-top: 4px;
        }
      }
    }
  }

  .actionBtn {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    .cancelBtn,
    .confirmBtn {
      width: 72px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      cursor: pointer;
    }
    .cancelBtn {
      border: 1px solid rgba(217, 217, 217, 1);
      margin-right: 16px;
      color: #949494;
    }
    .confirmBtn {
      background: #3f73ff;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #ffffff;
    }
  }
}

/deep/ .catalogueTreeNode {
  content: url("~@/assets/images/system/catalogueTreeNode.png");
  width: 18px;
  margin-right: 3px;
}
</style>
