<template>
  <Modal class="handleTaskModal-container" :value="showModal" :before-close="onCancel" width="784" footer-hide>
    <template #header>
      <span class="taskTitle">{{ item.name }}</span>
      <span class="taskIdClass">编号：{{ item.id }}</span>
    </template>

    <div class="contentWrapper">
      <div class="itemTitle">基本信息</div>
      <div class="line">
        <span class="labelTitle">当前值：</span>
        <span class="labelValue">{{ item.currentValue }}</span>
        <template v-if="item.type !== 3">
          <span class="labelTitle" style="margin-left: 36px">{{ taskFieldF(item.type, "alias") }}值：</span>
          <span class="labelValue">{{ item.type === 1 ? item.targetValue : item.warningValue }}</span>
        </template>
        <span class="cutOffTime" style="margin-left: 33px">截止时间：{{ item.cutOffTime }}</span>
        <span class="labelTitle" style="margin-left: 42px">目标剩余天数：</span>
        <span class="labelValue">{{ item.leaveDay }}天</span>
      </div>
      <div class="line">
        <div>
          <span class="labelTitle">关联{{ taskFieldF(item.type, "alias") }}：</span>
          <span class="labelValue">{{ refTaskText(item) }}</span>
          <span class="labelTitle" style="margin-left: 59px">负责部门：</span>
          <span class="labelValue">{{ item.deptName }}</span>
          <span class="labelTitle" style="margin-left: 39px">负责人：</span>
          <span class="labelValue">{{ item.manager }}</span>
        </div>
        <TargetProgress style="width: 236px" v-if="item.type === 1" :stroke-width="6" :data="item" />
      </div>

      <div class="line" style="margin-bottom: 24px">
        <span class="labelTitle">任务描述：</span>
        <span class="labelValue">{{ item.taskDesc }}</span>
      </div>

      <div class="itemTitle">处理反馈</div>
      <Input v-model.trim="handleDesc" type="textarea" :rows="4" placeholder="请输入" style="margin-bottom: 16px" />

      <UploadFile :file-list="fileList" :is-uploading="isUploading" @update:fileList="changeFileList" />
    </div>

    <footer class="footerWrapper">
      <Checkbox v-model="isCreateKnowledge">创建知识</Checkbox>
      <div class="actionBtn">
        <section class="cancelBtn" @click="onCancel">取消</section>
        <section class="confirmBtn" @click="onConfirm">确认</section>
      </div>
    </footer>
  </Modal>
</template>

<script>
import TargetProgress from "./TargetProgress";
import UploadFile from "./UploadFile";
import { TASK_TYPE_LIST } from "../constant";
import { handleTask } from "@/api/taskManage";
import { mapState, mapActions } from "vuex";
import { uploadImg } from "@/api/report";

export default {
  model: {
    prop: "showModal",
    event: "update:showModal"
  },
  props: {
    showModal: {
      type: Boolean,
      required: true
    },
    detailData: {
      type: Object,
      required: true
    }
  },
  components: {
    TargetProgress,
    UploadFile
  },
  data() {
    return {
      item: {},
      handleDesc: "",
      fileList: [], // 要上传的文件
      isUploading: false, // 是否正在上传
      uploadedFileList: [], // 已上传的文件
      isCreateKnowledge: false // 是否创建知识
    };
  },
  computed: {
    ...mapState("earlyWarningTarget", ["earlyWarningList", "allIndicator"]),
    ...mapState("task", ["targetList"]),
    taskFieldF() {
      return (type, key) => TASK_TYPE_LIST.find(ele => ele.value === type)?.[key] || "";
    },
    refTaskText() {
      return ({ refTask, type }) => {
        let data = [];
        let key = "name";
        if (type === 1) {
          data = this.targetList;
          key = "title";
        } else if (type === 2) {
          data = this.earlyWarningList;
        } else if (type === 3) {
          data = this.allIndicator;
        }
        return data.find(ele => Number(ele.id) === Number(refTask))?.[key] || "";
      };
    }
  },
  watch: {
    // 获取任务详情
    detailData: {
      async handler(newVal) {
        if (!Object.keys(newVal).length) return;

        const { id, name, type, status, cutOffTime, leaveDay, deptName, managerName, refTask, taskDesc } = newVal;
        const obj = {
          id,
          name,
          type, // 预警类 目标类 其他类
          status,
          cutOffTime, // 截止时间
          leaveDay,
          refTask,
          deptName,
          manager: managerName,
          taskDesc
        };

        // 目标
        if (type === 1) {
          const { currentValue, targetValue, riskLevel } = newVal;
          obj.currentValue = currentValue;
          obj.targetValue = targetValue;
          obj.riskLevel = riskLevel;
        }
        // 预警
        if (type === 2) {
          const { currentValue, warningValue } = newVal;
          obj.currentValue = currentValue;
          obj.warningValue = warningValue;
        }
        // 其他
        if (type === 3) {
          const { currentValue } = newVal;
          obj.currentValue = currentValue;
        }

        this.item = obj;
      },
      deep: true
    }
  },
  methods: {
    ...mapActions("task", ["setNewTask"]),
    changeFileList(type, val) {
      if (type === "add") {
        this.fileList.push(val);
      } else if (type === "clear") {
        this.fileList = val;
        this.uploadedFileList = [];
      } else if (type === "delItem") {
        const index1 = this.fileList.findIndex(ele => ele.id === val);
        this.fileList.splice(index1, 1);
        // 移除已上传的文件
        const index2 = this.uploadedFileList.findIndex(ele => ele.id === val);
        index2 !== -1 && this.uploadedFileList.splice(index2, 1);
      }
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      if (this.isUploading) {
        this.$Message.warning(`正在上传文件，请稍后`);
        return Promise.reject();
      }
      this.reset();
      this.$emit("update:showModal", false);
    },
    /**
     * 确认
     */
    async onConfirm() {
      if (this.isUploading) return;

      // 1、循环文件，依次上传至服务器
      this.isUploading = true;
      await this.uploadAllFile();
      this.isUploading = false;

      // 2、调用保存任务接口
      const params = {
        taskId: this.detailData.id,
        description: this.handleDesc,
        files: JSON.stringify(this.uploadedFileList)
      };
      const res = await handleTask(params);
      if (res.data.state === "success") {
        this.$Message.success(`任务处理成功！`);
        // 如果勾选了创建知识，则将任务名称、处理描述及附件传递给创建知识页面
        if (this.isCreateKnowledge) {
          const task = {
            name: this.item.name,
            desc: this.handleDesc,
            fileList: this.uploadedFileList
          };
          this.setNewTask(task);
          this.$router.push("/knowledgeAdd");
        }
        this.onCancel();
        this.$emit("refresh:data");
      } else {
        this.$Message.error(`任务处理失败！`);
      }
    },
    /**
     * 上传所有的文件
     */
    async uploadAllFile() {
      for (let ele of this.fileList) {
        if (!ele.file) continue; // 过滤已上传的文件
        const formData = new FormData();
        formData.append("file", ele.file, ele.name);
        const res = await uploadImg(formData, { onUploadProgress: this.onUploadProgress(ele) });
        const { state, data } = res.data;
        if (state === "success") {
          const { id, name } = data;
          this.$set(ele, "result", 1);
          this.$set(ele, "progress", 100);
          this.$set(ele, "id", id);
          this.$set(ele, "name", name);
          this.$set(ele, "file", null); // 上传过的文件，置为null，在点击保存的时候会过滤掉
          this.uploadedFileList.push({ id, name });
        } else {
          this.$set(ele, "result", 2);
          this.$set(ele, "progress", 60);
          this.$Message.error("文件上传失败");
        }
      }
    },
    /**
     * 上传进度(axios配置项)
     */
    onUploadProgress(file) {
      return progressEvent => {
        let percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);

        // 找到正在上传的文件，更新progress
        const fileIndex = this.fileList.findIndex(fileItem => fileItem.id === file.id);
        if (fileIndex > -1 && percentCompleted < 100) {
          this.$set(this.fileList[fileIndex], "progress", percentCompleted);
          this.$set(this.fileList[fileIndex], "result", 3);
        }
      };
    },
    /**
     * 重置数据
     */
    reset() {
      this.item = {};
      this.handleDesc = "";
      this.fileList = [];
      this.isUploading = false;
      this.uploadedFileList = [];
      this.isCreateKnowledge = false;
    }
  }
};
</script>

<style lang="less" scoped>
.handleTaskModal-container {
  /deep/.ivu-modal-header {
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .taskTitle {
      font-size: 16px;
      color: #333333;
      font-weight: 600;
    }
    .taskIdClass {
      font-size: 12px;
      color: #333333;
      padding-right: 30px;
    }
  }
  /deep/.ivu-modal-body {
    padding: 0;
  }

  .contentWrapper {
    padding: 16px 24px 19px;
    .itemTitle {
      font-size: 14px;
      color: #333333;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .line {
      margin-bottom: 10px;
      &:nth-of-type(3) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .labelTitle {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.45);
      }
      .labelValue {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.85);
      }
      .cutOffTime {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #999999;
        letter-spacing: 0.15px;
        &::before {
          content: url("~@/assets/icons/taskManage/time.svg");
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: 5px;
          vertical-align: middle;
        }
      }
    }
  }

  .footerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eaeaea;
    padding: 15px 24px 16px;

    .actionBtn {
      display: flex;
      justify-content: flex-end;
      .cancelBtn,
      .confirmBtn {
        width: 72px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
      }
      .cancelBtn {
        border: 1px solid rgba(217, 217, 217, 1);
        margin-right: 16px;
        color: #949494;
      }
      .confirmBtn {
        background: #3f73ff;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}
</style>
