<template>
  <Progress class="targetProgress-container" :percent="percent(data)" :stroke-width="strokeWidth" :stroke-color="strokeColor(data)" />
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    },
    strokeWidth: {
      type: Number,
      default: 10
    }
  },
  computed: {
    percent() {
      return ({ currentValue, targetValue }) => {
        let percent = 0;
        if (targetValue) {
          percent = parseFloat((((currentValue || 0) / parseFloat(targetValue)) * 100).toFixed(2));
        }
        return percent > 100 ? 100 : percent;
      };
    },
    strokeColor() {
      return ({ riskLevel }) => {
        let strokeColor;
        switch (riskLevel) {
          case "highRisk":
            strokeColor = ["#F86666", "#FF9696"];
            break;
          case "midRisk":
            strokeColor = ["#F78C22", "#FFBD54"];
            break;
          case "lowRisk":
            strokeColor = ["#4666F9", "#44A6EF"];
            break;
          case "normal":
            strokeColor = ["#52C41A", "#00FA2C"];
            break;
        }
        return strokeColor;
      };
    }
  }
};
</script>

<style lang="less" scoped>
.targetProgress-container {
  width: 100%;
  height: 100%;
}
</style>
