<template>
  <div class="taskList-container">
    <div class="taskItem" v-for="item in list" :key="item.id">
      <div class="topLine">
        <div class="topLeft">
          <span class="taskName">{{ item.name }}</span>
          <span class="labelTitle">编号：</span>
          <span class="labelValue">{{ item.id }}</span>

          <div class="label1">手动发起</div>
          <div class="label1">{{ taskFieldF(item.type, "label") }}</div>
          <div
            class="label1"
            :style="{ color: tabFieldF(item.status, 'bgColor'), borderColor: tabFieldF(item.status, 'bgColor') }"
            v-if="item.status !== 5"
          >
            {{ tabFieldF(item.status, "name") }}
          </div>
        </div>
        <div class="topRight">
          <div class="label2" v-if="isShowRead(item)" @click="changeStatus(item)">已阅</div>
          <div class="label2" v-if="isShowHandler(item)" @click="$emit('show:modal', item)">处理</div>
        </div>
      </div>
      <div class="bottomLine">
        <div class="bottomLeft">
          <span class="labelTitle">当前值：</span>
          <span class="labelValue">{{ item.currentValue }}</span>
          <template v-if="item.type !== 3">
            <span class="labelTitle" style="margin-left: 40px">{{ taskFieldF(item.type, "alias") }}值：</span>
            <span class="labelValue">{{ item.type === 1 ? item.targetValue : item.warningValue }}</span>
          </template>
          <span class="cutOffTime" style="margin-left: 40px">截止时间：{{ item.cutOffTime }}</span>
          <template v-if="isAllowEdit(item)">
            <span class="labelTitle" style="margin-left: 10px">目标剩余天数：</span>
            <span class="labelValue">{{ item.leaveDay }}天</span>
          </template>
          <span class="labelTitle" style="margin-left: 40px">关联{{ taskFieldF(item.type, "alias") }}：</span>
          <span class="labelValue">{{ refTaskText(item) }}</span>
          <span class="labelTitle" style="margin-left: 30px">负责部门：</span>
          <span class="labelValue">{{ item.deptName }}</span>
          <span class="labelTitle" style="margin-left: 40px">负责人：</span>
          <span class="labelValue">{{ item.managerName }}</span>
        </div>
        <TargetProgress class="bottomMiddle" v-if="item.type === 1" :data="item" />
        <div class="bottomRight">
          <div class="copyBtn" @click="$emit('onCopy', 'copy', item)">
            <img src="@/assets/icons/taskManage/copy.svg" alt="" />
            <span>复制</span>
          </div>

          <Poptip trigger="hover" placement="left">
            <img class="hoverIconWrapper" src="@/assets/icons/indicatorWorkbench/moreVertical-blue.svg" alt="" />
            <template #content>
              <div class="actionWrapper">
                <div class="actionItem" @click.stop="$emit('onCopy', 'edit', item)">编辑</div>
                <div class="actionItem" @click.stop="$emit('onCopy', 'edit', item)">添加协同人</div>
                <div class="actionItem" v-if="isAllowEdit(item)" @click.stop="closeTask(item)">关闭任务</div>
                <div class="actionItem" @click.stop="deleteTask(item)">删除任务</div>
                <div class="actionItem" v-if="isAllowFile(item)" @click.stop="goto(item)">归档知识</div>
              </div>
            </template>
          </Poptip>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TargetProgress from "./TargetProgress";
import { TAB_LIST, TASK_TYPE_LIST } from "../constant";
import { updateTaskStatus, deleteTask, getTaskDetail } from "@/api/taskManage";
import { mapState, mapActions } from "vuex";

export default {
  props: {
    list: {
      type: Array,
      required: true
    }
  },
  components: {
    TargetProgress
  },
  computed: {
    ...mapState("earlyWarningTarget", ["earlyWarningList", "allIndicator"]),
    ...mapState("task", ["targetList"]),
    taskFieldF() {
      return (type, key) => TASK_TYPE_LIST.find(ele => ele.value === type)?.[key] || "";
    },
    tabFieldF() {
      return (status, key) => TAB_LIST.find(ele => ele.value === status)?.[key] || "";
    },
    refTaskText() {
      return ({ refTask, type }) => {
        let data = [];
        let key = "name";
        if (type === 1) {
          data = this.targetList;
          key = "title";
        } else if (type === 2) {
          data = this.earlyWarningList;
        } else if (type === 3) {
          data = this.allIndicator;
        }
        return data.find(ele => Number(ele.id) === Number(refTask))?.[key] || "";
      };
    },
    // 是否展示已阅
    isShowRead() {
      return ({ status, dealUserId }) => status === 1 && dealUserId === this.$store.state.user.userId;
    },
    // 是否展示处理
    isShowHandler() {
      return ({ status, dealUserId }) => status === 2 && dealUserId === this.$store.state.user.userId;
    },
    isAllowEdit() {
      return ({ status }) => status === 1 || status === 2;
    },
    // 是否允许归档
    isAllowFile() {
      return ({ status }) => status === 3 || status === 4;
    }
  },
  methods: {
    ...mapActions("task", ["setNewTask"]),
    /**
     * 改变处理状态
     */
    changeStatus({ id, name }) {
      this.$Modal.confirm({
        title: `确认开始处理“${name}”任务吗？`,
        content: "",
        okText: "确认",
        onOk: async () => {
          const res = await updateTaskStatus(id, 2);
          if (res.data.state === "success") {
            this.$emit("refreshData");
          }
        }
      });
    },
    /**
     * 关闭任务
     */
    async closeTask({ id, name }) {
      this.$Modal.confirm({
        title: `确认关闭“${name}”任务吗？`,
        content: "关闭后不可撤销",
        okText: "确认",
        onOk: async () => {
          const res = await updateTaskStatus(id, 5);
          if (res.data.state === "success") {
            this.$Message.success(`关闭任务成功！`);
            this.$emit("refreshData");
          } else {
            this.$Message.error("关闭任务失败！");
          }
        }
      });
    },
    /**
     * 删除任务
     */
    async deleteTask({ id, name }) {
      this.$Modal.confirm({
        title: `确认删除“${name}”任务吗？`,
        content: "删除后不可撤销",
        okText: "确认",
        onOk: async () => {
          const res = await deleteTask(id);
          if (res.data.state === "success") {
            this.$Message.success(`删除任务成功！`);
            this.$emit("refreshData");
          } else {
            this.$Message.error("删除任务失败！");
          }
        }
      });
    },
    /**
     * 跳转归档知识页
     */
    async goto({ id }) {
      const res = await getTaskDetail({ id });
      if (res.data.state === "success") {
        const { name, dealList } = res.data.data;
        const { description, files } = dealList[dealList.length - 1]; // 最后一条处理记录
        const task = {
          name,
          desc: description,
          fileList: JSON.parse(files)
        };
        this.setNewTask(task);
        this.$router.push("/knowledgeAdd");
      } else {
        this.$Message.error("获取信息失败！");
      }
    }
  }
};
</script>

<style lang="less" scoped>
.taskList-container {
  width: 100%;
  height: 100%;
  .taskItem {
    border: 1px solid rgba(210, 221, 252, 1);
    border-radius: 4px;
    padding: 10px 10px 10px 28px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    .labelTitle {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.45);
    }
    .labelValue {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.85);
    }

    .topLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 9px;
      .topLeft {
        display: flex;
        align-items: center;
        .taskName {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.85);
          font-weight: 600;
        }
        .labelTitle {
          margin-left: 16px;
        }

        .label1 {
          width: 66px;
          height: 20px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: PingFangSC-Regular;
          font-size: 12px;
          margin-left: 12px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          color: rgba(0, 0, 0, 0.45);
        }
      }
      .topRight {
        display: flex;
        align-items: center;
        .label2 {
          width: 45px;
          height: 24px;
          background: #2781ff;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #ffffff;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
    .bottomLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .bottomLeft {
        .cutOffTime {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #999999;
          letter-spacing: 0.15px;
          &::before {
            content: url("~@/assets/icons/taskManage/time.svg");
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            vertical-align: middle;
          }
        }
      }
      .bottomMiddle {
        max-width: 236px;
        flex: 1;
        margin-left: 20px;
      }
      .bottomRight {
        display: flex;
        .copyBtn {
          display: flex;
          align-items: center;
          cursor: pointer;
          img {
            margin-right: 5px;
          }
          span {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #2781ff;
          }
        }

        /deep/.ivu-poptip {
          display: flex;
          margin-left: 15px;
          .ivu-poptip-rel {
            display: flex;
            align-items: center;
            .hoverIconWrapper {
              cursor: pointer;
            }
          }

          .ivu-poptip-popper {
            min-width: 0;
            width: 105px;
            .ivu-poptip-body {
              padding: 0;
              .actionWrapper {
                padding: 4px;
                .actionItem {
                  width: 80px;
                  height: 24px;
                  line-height: 24px;
                  border-radius: 2px;
                  padding: 0 4px;
                  font-family: PingFangSC-Regular;
                  font-size: 12px;
                  color: #333333;
                  text-align: left;
                  cursor: pointer;
                  &:not(:last-child) {
                    margin-bottom: 4px;
                  }
                  &:hover {
                    background: #f0f5ff;
                    color: #3f73ff;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
