<template>
  <div class="uploadFile-container">
    <div class="uploadWrapper">
      <div class="uploadLeft">
        <span class="t1">附件上传：</span>
        <span class="t2">
          已添加
          <span class="t3">{{ fileList.length }}</span>
          份文件
        </span>
        <span class="t4">支持.doc,.docx.pdf,.xls,.xlsx.ppt.pptx,.zip类型文件，30M以内</span>
      </div>
      <div class="uploadRight">
        <div class="clearIcon" @click="clearFile" v-show="!isUploading">
          <img src="@/assets/icons/taskManage/clear.svg" alt="" />
          <span>清空</span>
        </div>
        <Upload multiple action="" :before-upload="onBeforeUpload" accept=".doc,.docx,.pdf,.xls,.xlsx,.ppt,.pptx,.zip">
          <div class="addIcon">
            <img src="@/assets/icons/taskManage/upload.svg" alt="" />
            <span>添加</span>
          </div>
        </Upload>
      </div>
    </div>
    <div class="upload-file-container uploading">
      <div class="file-list">
        <div class="file-list-item" :class="getFileListItemClass(file)" v-for="file in fileList" :key="file.id">
          <div class="content">
            <div class="file-name-wrapper">
              <span class="file-name" :title="file.name">{{ file.name }}{{ getFileUploadStatus(file) }}</span>
            </div>
            <div class="tools" v-show="!isUploading && file.result !== 3">
              <img title="删除" src="@/assets/icons/dataSetList/file-delete2.svg" v-if="file.result !== 3" @click.stop="onDeleteFile(file)" />
            </div>
          </div>
          <Progress
            v-if="file.result !== 1"
            hide-info
            :percent="file.progress"
            :stroke-width="2"
            :stroke-color="file.result === 2 ? '#FF4D4F' : '#1890FF'"
            status="active"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { v4 as uuid } from "uuid";

const FILE_SELECT_SIZE_LIMIT = 1024 * 1024 * 30; // 文件大小限制 字节 30MB

export default {
  props: {
    // 上传的文件
    fileList: {
      type: Array,
      required: true
    },
    // 是否正在上传
    isUploading: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    // 获取file-list-item的class
    getFileListItemClass() {
      return ({ result }) => ({
        success: result === 1,
        fail: result === 2
      });
    },
    // 获取文件上传状态
    getFileUploadStatus() {
      return ({ progress, result }) => {
        if (result === 2) return "（上传失败）";
        if (progress === 0) return "（未上传）";
        if (progress > 0 && progress < 100) return `（上传中${progress}%）`;
        if (progress === 100) return "（上传成功）";
      };
    }
  },
  methods: {
    /**
     * 上传前校验
     */
    onBeforeUpload(file) {
      // 文件大小判断
      if (file.size > FILE_SELECT_SIZE_LIMIT) {
        this.$Message.error("文件过大，请上传0-30M的文件");
        return Promise.reject();
      }

      // 文件格式判断
      let extensionIndex = file.name.lastIndexOf(".") + 1;
      const extension = file.name.substring(extensionIndex).toLowerCase();
      const qualifiedExtensions = ["doc", "docx", "pdf", "xlsx", "xls", "ppt", "pptx", "zip"];
      if (!qualifiedExtensions.includes(extension)) {
        this.$Message.error("上传文件格式错误");
        return Promise.reject();
      }

      // 添加要上传的文件
      this.addFile(file);
      return Promise.reject();
    },
    // 解析文件
    async addFile(file) {
      // 如果选择的文件名重复，则在后面加上 "-1"
      const names = this.fileList.map(item => item.name);
      let fileName = file.name.substring(0, 20); // 防止文件名过长
      while (names.includes(fileName)) {
        let extensionIndex = fileName.lastIndexOf(".");
        if (extensionIndex > -1) {
          fileName = fileName.slice(0, extensionIndex) + "-1" + fileName.slice(extensionIndex);
        } else {
          fileName = fileName + "-1";
        }
      }
      const fileItem = {
        id: uuid().replaceAll("-", ""),
        file,
        name: fileName, // 文件完整名称
        progress: 0, // 进度
        result: 0 // 上传结果 0-未上传 1-上传成功 2-上传失败 3-上传中
      };
      this.$emit("update:fileList", "add", fileItem);
    },

    /**
     * 清空文件
     */
    clearFile() {
      this.$Modal.confirm({
        title: "确认清空吗？",
        content: "清空后无法撤销！",
        onOk: () => {
          this.$emit("update:fileList", "clear", []);
        }
      });
    },
    /**
     * 删除文件
     */
    onDeleteFile({ id }) {
      this.$Modal.confirm({
        title: "确认删除吗？",
        content: "该文件对应的数据将被删除且无法撤销。",
        onOk: () => {
          this.$emit("update:fileList", "delItem", id);
        }
      });
    }
  }
};
</script>

<style lang="less" scoped>
.uploadFile-container {
  width: 100%;
  height: 100%;

  .uploadWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .uploadLeft {
      .t1,
      .t2,
      .t3,
      .t4 {
        font-family: PingFangSC-Regular;
        font-size: 12px;
      }
      .t1 {
        color: rgba(0, 0, 0, 0.45);
      }
      .t2 {
        color: #000000;
        margin-left: 10px;
      }
      .t3 {
        color: #3f73ff;
      }
      .t4 {
        color: rgba(0, 0, 0, 0.25);
        line-height: 22px;
        margin-left: 8px;
      }
    }
    .uploadRight {
      display: flex;
      .clearIcon {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
          width: 19px;
          margin-right: 1px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: #666666;
        }
      }
      /deep/.ivu-upload {
        height: 32px;
        margin-left: 14px;
        .ivu-upload-select {
          margin-left: 0;
        }
        .addIcon {
          width: 79px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(63, 115, 255, 1);
          border-radius: 2px;
          cursor: pointer;
          img {
            margin-right: 10px;
          }
          span {
            font-family: PingFangSC-Regular;
            font-size: 13px;
            color: #3f73ff;
          }
        }
      }
    }
  }

  // 文件展示
  .upload-file-container {
    border: 1px solid #d9d9d9;
    border-radius: 2px;

    .upload-file-icons {
      display: flex;
      justify-content: center;

      img {
        width: 24px;
        height: 24px;
      }

      img + img {
        margin-left: 50px;
      }
    }

    .upload-file-text {
      color: #999999;
      margin-top: 24px;
      line-height: 17px;
    }
  }
  .upload-file-container.uploading {
    height: 138px;

    .file-list {
      height: 100%;
      overflow: auto;
      margin: 0;

      &::-webkit-scrollbar-thumb {
        background: #1890ff;
      }

      &::-webkit-scrollbar-track {
        background: rgba(24, 144, 255, 0.1);
      }

      .file-list-item {
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover {
          cursor: pointer;
          background-color: rgba(216, 216, 216, 0.25);

          .file-name-wrapper:before {
            content: url("~@/assets/icons/dataSetList/file-active.svg");
          }

          .file-name {
            color: #000;
          }
        }

        &:hover .tools {
          display: block;
        }

        &.success .file-name {
          color: #2a90ed;
        }

        &.fail .file-name {
          color: #ff4d4f;
        }

        .content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px;
          line-height: 22px;
        }

        .file-name-wrapper {
          display: flex;
          align-items: center;

          &:before {
            content: url("~@/assets/icons/dataSetList/file.svg");
            display: inline-block;
            font-size: 0;
            width: 14px;
            height: 14px;
            vertical-align: -2px;
            margin-right: 2px;
          }
        }

        .file-name {
          color: #9d9d9d;
          transition: color 0.2s linear;
          max-width: 300px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        img {
          width: 14px;
          height: 14px;
          vertical-align: -2px;

          + img {
            margin-left: 5px;
          }
        }

        .tools {
          display: none;
        }

        /deep/ .ivu-progress {
          line-height: 2px;
          padding: 0 12px 0 26px;

          .ivu-progress-outer {
            display: flex;
          }
        }
      }
    }
  }
}
</style>

