<template>
  <Modal class="addModuleClass" :value="showModal" title="报告选择" @on-ok="onConfirm" @on-cancel="onCancel">
    <div style="height: 400px; overflow-y: scroll">
      <div class="mb10">
        <Input
          search
          clearable
          v-model="searchVal"
          placeholder="请输入内容"
          style="width: 100%"
          @on-change="watchSearchValChange($event)"
          @on-search="moduleListSearch"
        />
      </div>
      <Table
        v-if="showModal"
        ref="reportListTable"
        :columns="singleAdd ? singleReportModuleColumns : reportModuleColumns"
        @on-select="onSelectReportList"
        @on-select-cancel="onCancelReportList"
        @on-select-all="onSelectReportAll"
        @on-select-all-cancel="onSelectReportAll"
        :data="reportList"
      />

      <!-- 分页 -->
      <div class="prb">
        <Page
          class="pageClass"
          v-if="batchAddFormPage.total > 0"
          :current="batchAddFormPage.page"
          :page-size="batchAddFormPage.size"
          :total="batchAddFormPage.total"
          show-elevator
          @on-change="batchAddFormPageChangePage"
        />
      </div>
    </div>
  </Modal>
</template>

<script>
import { queryReportList } from "@/api/report.js";
import { deepCopy, debounce } from "@/utils/common";
import moment from "moment";

export default {
  model: {
    prop: "showModal",
    event: "update:showModal"
  },
  props: {
    showModal: {
      type: Boolean,
      required: true
    },
    // 是否是单选
    singleAdd: {
      type: Boolean,
      required: true
    },
    choosedReportList: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      searchVal: "",
      reportList: [],
      reportListOrigin: [],
      singleCurrentChoose: null, //单选勾选的报告
      multipleReportList: [], //多选勾选的报告组
      singleReportModuleColumns: [
        {
          title: " ",
          width: 40,
          align: "center",
          render: (h, params) => {
            let current = params.row;
            let flag = false;
            if (this.singleCurrentChoose?.path === current.path) {
              flag = true;
            }
            let self = this;
            return h("Radio", {
              props: {
                value: flag
              },
              on: {
                "on-change": () => {
                  self.singleCurrentChoose = JSON.parse(JSON.stringify(current));
                  delete self.singleCurrentChoose._index;
                  delete self.singleCurrentChoose._rowKey;
                }
              }
            });
          }
        },
        {
          title: "报告名称",
          key: "name"
        },
        {
          title: "创建人",
          key: "creator"
        },
        {
          title: "创建时间",
          key: "createTime",
          width: 156,
          render: (h, params) => h("span", moment(params.row.createTime).format("YYYY-MM-DD HH:mm:ss"))
        }
      ],
      reportModuleColumns: [
        {
          type: "selection",
          width: 60,
          align: "center"
        },
        {
          title: "报告名称",
          key: "name"
        },
        {
          title: "创建人",
          key: "creator"
        },
        {
          title: "创建时间",
          key: "createTime",
          width: 156,
          render: (h, params) => h("span", moment(params.row.createTime).format("YYYY-MM-DD HH:mm:ss"))
        }
      ],
      batchAddFormPage: {
        page: 1,
        size: 5,
        total: 0
      }
    };
  },
  watch: {
    // 打开弹窗时，获取数据
    showModal(newVal) {
      if (newVal) {
        !this.singleAdd && (this.multipleReportList = this.choosedReportList); // 多选时，如果有数据需要回填
        this.getAllReport();
      }
    }
  },
  methods: {
    async getAllReport(searchVal) {
      let param = {
        pageNum: this.batchAddFormPage.page,
        pageSize: this.batchAddFormPage.size + 1
      };
      if (searchVal) {
        param.name = searchVal;
      }
      this.loading = true;
      const res = await queryReportList(param);
      if (res.data.state === "success") {
        let reportList = res.data.data.data;
        this.reportListOrigin = reportList.map(item => {
          let obj = {
            // id: item.id,
            name: item.name,
            creator: item.creator,
            createTime: item.createTime,
            path: item.id,
            type: 1,
            configData: {
              height: item.containerHeight != null ? item.containerHeight : 600
            }
          };
          let isChecked = this.multipleReportList.some(chooseItem => chooseItem.path === item.id);
          if (isChecked) {
            obj._checked = true;
          }
          return obj;
        });
        this.reportList = deepCopy(this.reportListOrigin);
        this.batchAddFormPage.total = res.data.data.count;
      }
    },
    // 监听input框变化，防抖调函数
    watchSearchValChange: debounce(function (e) {
      this.moduleListSearch(e.target.value);
    }),
    // input框搜索
    moduleListSearch(e) {
      this.batchAddFormPage.page = 1;
      this.batchAddFormPage.size = 5;
      this.getAllReport(e);
    },
    // 切页
    batchAddFormPageChangePage(current) {
      this.batchAddFormPage.page = current;
      this.getAllReport();
    },

    onSelectReportList(data, row) {
      let isExist = this.multipleReportList.some(item => item.path === row.path);
      if (!isExist) {
        this.multipleReportList.push(row);
      }
    },
    onCancelReportList(data, row) {
      this.multipleReportList = this.multipleReportList.filter(item => item.path !== row.path);
    },
    onSelectReportAll(selection) {
      if (selection.length === 0) {
        // 取消全选
        let data = this.$refs["reportListTable"].data;
        data.forEach(tableItem => {
          this.multipleReportList = this.multipleReportList.filter(item => item.path !== tableItem.path);
        });
      } else {
        // 勾选全选
        selection.forEach(tableItem => {
          let isExist = this.multipleReportList.some(item => item.path === tableItem.path);
          if (!isExist) {
            this.multipleReportList.push(tableItem);
          }
        });
      }
    },

    /**
     * 关闭弹窗
     */
    onCancel() {
      this.reset();
      this.$emit("update:showModal", false);
    },
    /**
     * 确认
     */
    async onConfirm() {
      // const isChoose = this.singleAdd ? this.singleCurrentChoose !== null : this.multipleReportList.length !== 0; // 是否已选择报告
      // if (!isChoose) {
      //   this.$Message.warning("请选择报告！");
      //   return;
      // }
      const data = this.singleAdd ? this.singleCurrentChoose : this.multipleReportList; // 已选择的报告数据
      this.$emit("reportChoose", this.singleAdd, deepCopy(data));

      this.onCancel();
    },
    /**
     * 重置数据
     */
    reset() {
      this.searchVal = "";
      this.singleCurrentChoose = null;
      this.multipleReportList = [];
      this.batchAddFormPage.page = 1;
      this.batchAddFormPage.size = 5;
    }
  }
};
</script>

<style lang="less" scoped>
.addModuleClass /deep/ .ivu-modal {
  width: 530px !important;
}

.addModuleClass /deep/ .ivu-modal .ivu-btn {
  width: 72px;
  border-radius: 2px;
}

.addModuleClass /deep/ .ivu-modal .ivu-btn.ivu-btn-primary {
  background-color: #3f73ff;
  border-color: #3f73ff;
}

.mb10 {
  margin-bottom: 10px;
}

.prb {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;

  // 分页器样式
  /deep/ .pageClass {
    .ivu-page-item {
      min-width: 24px;
      height: 24px;
      line-height: 22px;
    }

    .ivu-page-prev,
    .ivu-page-next,
    .ivu-page-item-jump-prev,
    .ivu-page-item-jump-next {
      min-width: 24px;
      height: 24px;
      line-height: 22px;
    }

    .ivu-select-single .ivu-select-selection {
      height: 24px;
    }

    .ivu-select-single .ivu-select-selection .ivu-select-placeholder,
    .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
      height: 22px;
      line-height: 22px;
    }

    .ivu-page-options-elevator {
      height: 24px;
      line-height: 24px;
    }

    .ivu-page-options-elevator input {
      height: 24px;
    }
  }
}
</style>
