<template>
  <div class="setting-header">
    <div class="header-left">{{ title }}</div>
    <div class="header-right">
      <div class="right-item" v-for="setting in settings">
        {{ setting }}
        <Poptip trigger="hover" width="200" word-wrap :content="tooltipContent">
          <img
            src="@/assets/icons/authorizationManagement/icon_authorization_restore_all.svg"
            v-if="setting === '来源' && domainId"
            v-allow="[1116964848141981]"
            @click="openRestoreAuthModal" />
        </Poptip>
      </div>
    </div>

    <!-- 恢复当前用户的继承权限 -->
    <RestoreAuthModal v-model="showRestoreAuthModal" @on-ok="onRestoreAuthOk" />
  </div>
</template>

<script>
import RestoreAuthModal from '@/view/system/authorizationManagement/components/RightTabs/components/SettingHeader/components/RestoreAuthModal.vue'
import { mapState, mapActions } from 'vuex'
import { restoreBusinessAndSystemInherit, restorePersonalInherit } from '@/api/systemManagement/authorizationManagement'

const RIGHT_TAB_MAP = {
  businessDirectory: '业务目录',
  systemManagement: '系统管理',
  personnelManagement: '人员管理',
}

export default {
  name: 'SettingHeader',
  components: {
    RestoreAuthModal,
  },
  props: {
    title: String,
    settings: Array,
  },
  data() {
    return {
      showRestoreAuthModal: false,
    }
  },
  computed: {
    ...mapState('authorizationManagement', ['rightTab', 'domainId']),
    // tooltip内容
    tooltipContent() {
      const rightTab = RIGHT_TAB_MAP[this.rightTab]
      return `恢复继承权限后，将清除该用户关于${rightTab}权限的单独设置、恢复对部门/角色权限的继承`
    },
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'getUserListAndDirectoryList',
      'getPersonnelManagementDirectoryList',
    ]),

    /**
     * 打开恢复继承权限模态框
     */
    openRestoreAuthModal() {
      this.showRestoreAuthModal = true
    },

    /**
     * 恢复所有继承权限
     */
    async onRestoreAuthOk(data) {
      this.showRestoreAuthModal = false
      const request = this.rightTab === 'personnelManagement' ? restorePersonalInherit : restoreBusinessAndSystemInherit
      let type
      if (this.title === '所有部门' || this.title === '所有角色') {
        // 人员管理
        type = this.title === '所有部门' ? 3 : 6
      } else {
        const { viewAuth, authAuth } = data
        type = viewAuth && authAuth ? 3 : 2 // 1-查看 2-授权 3-全部 因为勾选查看必定勾选授权，所以只会出现2和3
      }
      const params = {
        domainId: this.domainId,
        resourceId: [], // 恢复所有权限传空数组
        type,
      }
      const res = await request(params)
      if (res.data.state === 'success') {
        if (this.title === '所有部门' || this.title === '所有角色') {
          // 人员管理
          await this.getPersonnelManagementDirectoryList()
        } else {
          await this.getUserListAndDirectoryList(this.domainId)
        }
        this.$Message.success('权限恢复成功！')
      } else {
        this.$Message.error('权限恢复失败！')
      }
    },
  },
}
</script>

<style scoped lang="less">
.setting-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background: #EAF1FB;
  padding: 0 68px 0 30px;
  font-size: 14px;
  color: #333333;
  font-weight: bold;

  .right-item {
    width: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    + .right-item {
      margin-left: 24px;
    }

    /deep/ .ivu-poptip {
      margin-left: 6px;
    }

    img {
      width: 19px;
      height: 19px;
      vertical-align: text-bottom;
      cursor: pointer;
    }
  }
}
</style>
