<template>
  <div class="workbenchPreview-container">
    <ReportView :style="{ width: isShowQuickAction ? `calc(100% - 432px - 25px)` : '100%' }" :report-template-id="reportTemplateId" />
    <QuickAction v-if="isShowQuickAction" :exist-module="existModule" />
  </div>
</template>

<script>
import ReportView from "./components/ReportView";
import QuickAction from "./components/QuickAction";
import { workbenchDetail } from "@/dmp/api/workbench";

export default {
  name: "Home",
  components: {
    ReportView,
    QuickAction
  },
  data() {
    return {
      existModule: [], // 工作台存在的模块
      reportTemplateId: -1 // 报告id 1370285286622208 1369912291361792 1376422975243264
    };
  },
  computed: {
    // 是否展示右侧配置
    isShowQuickAction() {
      return this.existModule.length && this.existModule.some(ele => ele !== 1);
    }
  },
  created() {
    this.getData();
  },
  methods: {
    async getData() {
      const res = await workbenchDetail(this.$store.state.user.adminWorkbench); // 1376489836643328
      if (res.data.state === "success") {
        const { boxList } = res.data.data;
        this.existModule = boxList.map(ele => ele.type);
        this.reportTemplateId = boxList.find(ele => ele.type === 1).data.contentId;
      }
    }
  }
};
</script>

<style lang="less" scoped>
.workbenchPreview-container {
  width: 100%;
  height: 100%;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;

  .quickAction-container {
    width: 432px;
  }
}
</style>
