<template>
  <div class="storyBoardAdd-container">
    <div id="moveContainer"></div>

    <div class="header">
      <span class="title">{{ isEdit ? "编辑故事" : "新建故事" }}</span>
      <div class="btn">
        <div class="backBtn" @click="goBack">
          <img src="@/assets/icons/indicatorWorkbench/back.svg" alt="" />
          <span>返回</span>
        </div>
        <div class="btn-new" @click="save">
          <img class="addIcon" src="@/assets/icons/indicatorWorkbench/icon-save.svg" />
          <span>保存</span>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="indicator-tree">
        <indicator-tree @onIndicatorDragged="onIndicatorDragged" />
      </div>
      <div class="right">
        <div class="story-name">
          <Input
            class="f-input"
            v-if="nameEdit"
            v-model.trim="name"
            placeholder="请输入名称"
            maxlength="20"
            style="width: 300px"
            @on-blur="nameEdit = false"
          />
          <template v-else>
            <span>{{ name || "请输入故事名称" }}</span>
            <img class="icon-edit" src="@/assets/icons/indicatorIcon/icon_edit.svg" @click="nameEdit = true" />
          </template>
          <div class="tree-all">
            <span class="select-name">所属分组：</span>
            <FaTreeSelect
              class="custom-tree"
              :selected="groupId"
              check-strictly
              :expand-all="false"
              @changeVal="onSelect"
              :treeData="folderTreeAll"
              :multiple="false"
              :render="renderTip"
              placeholder="请选择父级" />
          </div>
        </div>
        <div class="canvas" :class="{ centerLayout: !indicatorNode.length }">
          <div class="legend-all">
            <div style="margin-bottom: 16px">
              <img src="@/assets/icons/indicatorWorkbench/plus_arrow.svg" alt="" />
              <span>正极影响</span>
            </div>
            <div>
              <img src="@/assets/icons/indicatorWorkbench/minus_arrow.svg" alt="" />
              <span>负极影响</span>
            </div>
          </div>
          <indicator-node
            v-if="indicatorNode.length"
            :data="indicatorNode"
            :selected-node-key="currentIndicatorNodeKey"
            @on-mouseover="onMouseover"
            @on-mouseleave="currentIndicatorNodeKey = ''"
            @on-delete="onDeleteIndicatorNode"
            @on-color="onSelectColor"
          />
          <img v-else src="@/assets/images/indicatorWorkbench/info.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IndicatorNode from "./components/IndicatorNode";
import IndicatorTree from "@/components/indicatorTree/index";
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
import { throttle } from "@/utils/common";
import { deepCopy } from "@/utils/common";
import { addStoryBoard, updateStoryBoard, getStoryBoardDetail, checkNameUnique, getStoryBoardGroupList } from "@/api/storyBoard";

const moveDivWidth = 40;
const moveDivHeight = 40;
export default {
  name: "StoryBoardAdd",
  components: {
    IndicatorTree,
    IndicatorNode,
    FaTreeSelect
  },
  data() {
    return {
      name: "", // 故事名称
      nameCopy: "",
      nameEdit: false,
      indicatorNode: [], // 节点树
      currentIndicatorNodeKey: "", // 当前选中的指标节点
      groupId: '',
      folderTree: [],
      folderTreeAll: [], // 文件夹树
    };
  },
  computed: {
    // 是否是编辑状态
    isEdit() {
      return !!this.$route.query.id;
    },
    // 已拖节点的id数组
    nodeIdList() {
      return this.getIndicatorIdList(this.indicatorNode);
    }
  },
  async created() {
    await this.queryGroup();
    if (this.isEdit) {
      const { name, rootNode, groupId } = await this.getCurrentStoryData();
      this.name = name;
      this.nameCopy = name; // 编辑态下，判断名称是否重复
      this.indicatorNode = rootNode;
      this.groupId = groupId;
      this.initParams = JSON.stringify({
        id: this.$route.query.id,
        name: this.name,
        cardNodes: this.indicatorNode,
        indicatorCount: this.nodeIdList.length,
        groupId: this.groupId
      })
    }
  },
  methods: {
    // render函数
    renderTip(h, { root, node, data }){
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },
    // 选择父级文件夹
    onSelect(node) {
      this.groupId = node.id;
    },
    // 获取分组信息
    async queryGroup(){
      let res = await getStoryBoardGroupList();
      if(res && res.data){
        let folderList = res.data.data.map(item=>{
          return {
            ...item,
            id: Number(item.id),
            type: 'group', // 文件夹
            title: item.name,
            expand: true,
          }
        });
        this.buildFolderTree(folderList)
        let rootNode = {
          id: -1,
          name: "root",
          title: '/',
          parentId: null,
          type: "group",
          expand: true,
          children: this.folderTree
        }
        this.folderTreeAll = [rootNode]
      }
    },
    // 构建文件夹列表树结构
    buildFolderTree(allList) {
      // 找到根节点
      let tree = allList.filter(item => item.parentId === -1)
      // 递归找到子文件夹，放入children中
      this.findChildren(tree, allList)
      this.folderTree = tree
    },
    // 构建文件夹列表树结构的递归函数
    findChildren(parent, allList) {
      for (let parentItem of parent) {
        const children = allList.filter(item => item.parentId === parentItem.id)
        parentItem.children = children
        if (children.length) {
          this.findChildren(children, allList)
        }
      }
    },
    /**
     * 获取当前故事的基本数据
     */
    async getCurrentStoryData() {
      const res = await getStoryBoardDetail(this.$route.query.id);
      if (res.data.state === "success") {
        const { name, cardNodes, cardLines, groupId } = res.data.data;
        const endNodeIds = cardLines.map(cardLine => cardLine["endNodeId"]);
        const rootNode = cardNodes.filter(ele => !endNodeIds.includes(ele.id)); // 根节点
        this.buildTreeNode(rootNode[0], cardLines, cardNodes);
        return {
          name,
          rootNode,
          groupId
        };
      }
    },
    /**
     * 构建节点树
     * @param {Object} node 根节点信息
     * @param {Array} lines 当前故事节点的连线数据
     * @param {Array} nodes 当前故事的节点数据
     */
    buildTreeNode(node, lines, nodes) {
      let childrenNodes = lines.filter(line => line["startNodeId"] === node.id)
      .map(line => {
        let subNode = nodes.find(n => n.id === line["endNodeId"])
            subNode.lineColor = line.lineColor
          return subNode
      });
      node.children = childrenNodes;
      if (childrenNodes.length > 0) {
        childrenNodes.forEach(child => this.buildTreeNode(child, lines, nodes));
      }
    },
    getIndicatorIdList(list) {
      let arr = [];
      list.forEach(ele => {
        if (ele.children.length) {
          const childArr = this.getIndicatorIdList(ele.children);
          arr = [...arr, ...childArr];
        }
        arr.push(ele.indicatorId);
      });
      return arr;
    },
    /**
     * 返回
     */
    goBack() {
      if( this.isEdit ){
        const params = {
          id: this.$route.query.id,
          name: this.name,
          cardNodes: this.indicatorNode,
          indicatorCount: this.nodeIdList.length,
          groupId: this.groupId
        }
        if(JSON.stringify(params) === this.initParams){
          this.$router.go(-1)
        }else{
          this.$Modal.confirm({
            title: "返回将无法保存当前操作，确认返回吗？",
            okText: "确认",
            onOk: () => {
              // this.$router.push("/indicatorWorkbench/indicatorWorkbenchIndex");
              this.$router.go(-1)
            }
          });
        }
      }else{
        if(this.indicatorNode.length === 0 && this.nodeIdList.length === 0 && !this.name && !this.groupId){
          this.$router.go(-1)
        }else{
          this.$Modal.confirm({
            title: "返回将无法保存当前操作，确认返回吗？",
            okText: "确认",
            onOk: () => {
              // this.$router.push("/indicatorWorkbench/indicatorWorkbenchIndex");
              this.$router.go(-1)
            }
          });
        }
      }
    },
    /**
     * 保存
     */
    async save() {
      if (!this.name) {
        this.$Message.warning("请输入故事名称！");
        return;
      }
      if (this.name.length > 20) {
        this.$Message.warning("故事名称超出最大范围！");
        return;
      }
      const res = await checkNameUnique({ name: this.name });
      const isRepeat = this.isEdit ? !res.data.data && this.name !== this.nameCopy : !res.data.data;
      if (isRepeat) {
        this.$Message.warning("故事名称重复！");
        return;
      }
      if (!this.indicatorNode.length) {
        this.$Message.warning("请拖入指标！");
        return;
      }
      if (!this.groupId) {
        this.$Message.warning("请选择所属分组！");
        return;
      }

      let storyId = "";
      if (this.isEdit) {
        const res = await updateStoryBoard({
          id: this.$route.query.id,
          name: this.name,
          cardNodes: this.indicatorNode,
          indicatorCount: this.nodeIdList.length,
          groupId: this.groupId
        });
        if (res.data.state === "success") {
          this.$Message.success("故事编辑成功");
          storyId = this.$route.query.id;
        }
      } else {
        const res = await addStoryBoard({
          name: this.name,
          cardNodes: this.indicatorNode,
          indicatorCount: this.nodeIdList.length,
          groupId: this.groupId
        });
        if (res.data.state === "success") {
          this.$Message.success("故事创建成功");
          storyId = res.data.data.id;
        }
      }
      this.$router.push({
        path: "/indicatorWorkbench/storyBoard",
        query: {
          id: storyId,
          from: 'add'
        }
      });
    },
    onIndicatorDragged({ e, data }) {
      let moveDiv = this.createTableDragTag(data, e);
      document.onmousemove = throttle(event => {
        let x = event.clientX;
        let y = event.clientY;
        if (moveDiv) {
          moveDiv.style.left = x - moveDivWidth + "px";
          moveDiv.style.top = y - moveDivHeight + "px";
        }
      });

      document.onmouseup = event => {
        moveDiv.remove();
        document.onmousemove = null;
        document.onmouseup = null;
        moveDiv = null;

        // 已经拖动到画布
        if (this.nodeIdList.includes(data.id)) {
          this.$Message.warning("指标重复！");
          return;
        }

        if (this.indicatorNode.length === 0) {
          this.indicatorNode.push({
            indicatorId: data.id,
            indicatorName: data.title,
            indicatorType: data.type,
            showType: data.showType,
            children: []
          });
        } else {
          let dom = event.target;
          let indicatorId = dom.getAttribute("indicatorId");
          let indicatorNode = deepCopy(this.indicatorNode);
          let parentNode = this.findNodeData(indicatorId, indicatorNode);
          parentNode.children.push({
            indicatorId: data.id,
            indicatorName: data.title,
            indicatorType: data.type,
            showType: data.showType,
            children: []
          });
          this.indicatorNode = indicatorNode;
        }
      };
    },
    /**
     * 创建拖动元素
     */
    createTableDragTag(tableItem, e) {
      let moveDiv = document.createElement("div");
      moveDiv.style.display = "";
      moveDiv.className = "move_div";
      moveDiv.style.left = e.clientX - moveDivWidth + "px";
      moveDiv.style.top = e.clientY - moveDivHeight + "px";
      moveDiv.style.zIndex = "1000";
      moveDiv.innerHTML = "<span>" + tableItem.title + "</span>";
      document.getElementById("moveContainer").appendChild(moveDiv);
      return moveDiv;
    },
    /**
     * @description 根据节点id，递归查询出节点所有数据
     * @param id 节点id
     * @param nodes 节点集合
     */
    findNodeData(id, nodes) {
      for (let i = 0; i < nodes.length; i++) {
        if (nodes[i].indicatorId === Number(id)) {
          return nodes[i];
        }
        if (nodes[i].children && nodes[i].children.length > 0) {
          let data = this.findNodeData(id, nodes[i].children);
          if (data) {
            return data;
          }
        }
      }
      return null;
    },
    onMouseover(nodeKey) {
      this.currentIndicatorNodeKey = nodeKey;
    },
    /**
     * 选择线颜色
     */
    onSelectColor(data){
      let {nodeKey, colorVal} = data;
      const indexes = nodeKey.split(",");
      this.doSelectColor(indexes, colorVal);
    },
    doSelectColor(indexes, color, indicatorList = this.indicatorNode, index = 0){
      if (index < indexes.length - 1) {
        let children = indicatorList[indexes[index]].children;
        this.doSelectColor(indexes, color, children, ++index);
      } else {
        // indicatorList[indexes[index]]当前的item
        indicatorList[indexes[index]].lineColor = color;
        console.log(this.indicatorNode)
      }
    },
    /**
     * 删除指标节点
     */
    onDeleteIndicatorNode(nodeKey) {
      const indexes = nodeKey.split(",");
      this.doDeleteIndicatorNode(indexes);
    },

    doDeleteIndicatorNode(indexes, indicatorList = this.indicatorNode, index = 0) {
      if (index < indexes.length - 1) {
        let children = indicatorList[indexes[index]].children;
        this.doDeleteIndicatorNode(indexes, children, ++index);
      } else {
        // 不存在子节点时，直接删除。否则二次确认
        if (!indicatorList[indexes[index]].children.length) {
          indicatorList.splice(indexes[index], 1);
        } else {
          this.$Modal.confirm({
            title: "该指标节点下的所有子节点将同步被删除。",
            content: "确认删除吗？",
            okText: "确认",
            onOk: () => {
              indicatorList.splice(indexes[index], 1);
            }
          });
        }
      }
    }
  }
};
</script>

<style lang="less" scoped>
.storyBoardAdd-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  .header {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f5fa;
    padding: 0 16px;
    .title {
      font-size: 16px;
      color: #333333;
      font-weight: 500;
    }
    .btn {
      display: flex;
      .backBtn {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 24px;
        img {
          margin-right: 8px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #333333;
        }
      }
      .btn-new {
        width: 72px;
        height: 32px;
        background: #3f73ff;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
        .addIcon {
          margin-right: 8px;
        }
      }
    }
  }

  .body {
    width: 100%;
    display: flex;
    padding: 0 16px;
    height: calc(~"100% - 60px");

    .indicator-tree {
      width: 240px;
      height: 100%;
      padding-right: 16px;
      padding-top: 16px;
    }

    .right {
      width: calc(~"100% - 240px");
      padding-top: 16px;
      padding-left: 16px;
      border-left: 1px solid #f1f5fa;

      .canvas {
        width: 100%;
        height: calc(~"100% - 60px");
        background-color: #f5f5f5;
        margin-top: 12px;
        position: relative;
        .legend-all{
          position: absolute;
          bottom: 36px;
          left: 50px;
          img{
            margin-right: 5px;
          }
        }
        &.centerLayout {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        > .indicatorNode-container {
          width: 100%;
          height: 100%;
          padding: 12px;
          overflow: auto;
        }
      }

      /deep/ .canvas > div > .node-info:first-child > .body > span {
        &:before {
          display: none;
        }
      }
    }
  }
}

.story-name {
  height: 32px;
  font-size: 16px;
  color: #3f73ff;
  font-weight: bold;
  display: flex;
  align-items: center;
  white-space: normal;

  > span {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon-edit {
    margin-left: 8px;
    cursor: pointer;
  }
  .select-name{
    font-size: 12px;
    color: rgba(0,0,0,0.65);
    letter-spacing: 0;
    font-weight: 400;
    display: inline-block;
    width: 65px;
  }
  .tree-all{
    display: flex;
    margin-left: 32px;
    align-items: center;
    .fa-tree-select{
      width: 200px;
    }
  }
}

/deep/ .f-input {
  width: 200px;

  .ivu-input {
    border: 0;
    border-bottom: 1px solid #b7caff;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
  }
}
/deep/ .ivu-tree-title{
  .tree-title-span{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
</style>

<style lang="less">
#moveContainer {
  > .move_div:hover {
    cursor: move;
  }

  > .move_div {
    z-index: 1;
    position: absolute;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    font-size: 12px;
    background-color: #ffffff;
    align-items: center;
    text-align: left;
    height: 32px;
    width: 220px;
    margin: 0 0;
    color: #333333;
    border: 1px solid #eaeaea;
    border-left: 2px solid #3f73ff;
  }
}
</style>
