<template>
  <div class="workbenchManagementBox">
    <IndexList @changeType="changeType" v-if="index == 0" />
    <IndexEdit @changeType="changeType" :selDataId="selDataId" ref="IndexEdit" v-if="index == 1" />
    <!-- <IndexView @changeType="changeType" :selDataId="selDataId" v-if="index == 2" /> -->
  </div>
</template>

<script>
import IndexList from "./indexList.vue";
import IndexEdit from "./indexEdit.vue";
// import IndexView from "./indexView.vue";

export default {
  name: "workbenchManagement",
  data() {
    return {
      index: 0, //当前点击的元素 0列表页面 1编辑页面 2预览页面
      selDataId: {} //当前选中的数据
    };
  },
  components: {
    IndexList,
    IndexEdit
    // IndexView
  },
  methods: {
    changeType(typeInfo) {
      this.index = typeInfo.type;
      //如果是编辑和预览页面 传递数据
      if (typeInfo.type != 0) {
        this.selDataId = typeInfo.id;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.workbenchManagementBox {
  width: 100%;
  height: 100%;
}
</style>
