<template>
  <div class="workbenchEdit">
    <HearderTie title="工作台配置" style="margin-bottom: 15px" />
    <div class="banner">
      <div class="header">
        <span class="flexBox">
          <i class="standardIcon iconComputer"></i>
          <span v-if="!ediType">{{ saveData.name }}</span>
          <el-input ref="editInput" v-else v-model="saveData.name" size="small" @blur="ediType = false"></el-input>
          <svg-icon icon-class="tableButtonEdit" style="color: #3f73ff; font-size: 18px; cursor: pointer; margin-left: 5px" @click="editName()" />
        </span>
        <div class="flexBox">
          <div class="status">
            状态：
            <span :class="{ active: saveData.status == 2 }" @click="changeStatus(2)">已发布</span>
            /
            <span :class="{ active: saveData.status == 1 || !saveData.status }" @click="changeStatus(1)">未发布</span>
          </div>
          <el-button @click="drawer = !drawer" class="standardButton"> <i class="el-icon-plus"></i> 添加组件 </el-button>
          <span class="line"></span>
          <el-button @click="closeType()" class="standardButton notFocus"> 取消 </el-button>
          <el-button @click="save()" class="standardButton" type="primary"> 保存 </el-button>
        </div>
      </div>

      <div class="content" v-loading="loading">
        <WorkbenchDetiles style="position: relative; width: 100%; height: 100%; overflow: hidden" :layoutCon.sync="layoutCon" @editItem="editItem" />
        <div class="drawerBox" :style="{ width: drawer ? '300px' : '0', opacity: drawer ? '1' : '0' }">
          <div class="drawerHeader" v-if="drawer">工作台组件 <i class="el-icon-error" @click="drawer = false"></i></div>
          <div class="drawerContent" v-show="drawer">
            <ul>
              <li
                v-for="item in drawewOpation"
                :key="item.name"
                :class="{ disabled: disableType(item) }"
                @click="!disableType(item) && selectItem(item)"
              >
                <div class="imgBox">
                  <img :src="item.imgNot" v-if="disableType(item)" />
                  <img :src="item.img" v-else />
                </div>
                <div class="drawerText">
                  <span class="mtitle"> {{ item.name }} </span>
                  <span class="mtext">{{ item.instructions }}</span>
                </div>
                <svg-icon icon-class="add" class="elclose" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- 报告选择弹窗 -->
    <ReportSelectModal v-model="showReportSelectModal" :single-add="true" @reportChoose="reportModuleSelect" />
  </div>
</template>

<script>
import HearderTie from "@/dmp/components/titleHeader.vue";
import WorkbenchDetiles from "./components/wordbenchDetiles.vue";
import Pagination from "@/dmp/components/Pagination";
import ReportSelectModal from "@/view/system/menu/components/ReportSelectModal";
import { deepClone } from "@/dmp/utils";
import { workbenchUpdate, workbenchDetail } from "@/dmp/api/workbench";
import { CANVAS_WIDTH_COL, DRAWEW_OPATION } from "./constant";

export default {
  name: "workbenchEdit",
  data() {
    return {
      drawer: false, //抽屉
      editItemId: "", // 正在编辑的元素id
      layoutCon: [], //容器内容
      drawewOpation: DRAWEW_OPATION, //抽屉内容
      // 保存的数据
      saveData: {},
      loading: false, //是否加载中
      ediType: false, //是否是编辑状态
      showReportSelectModal: false
    };
  },
  props: {
    selDataId: {
      type: [Number, String],
      default: () => ""
    } //当前选中的数据
  },
  components: {
    WorkbenchDetiles,
    HearderTie,
    Pagination,
    ReportSelectModal
  },
  computed: {
    disableType() {
      return ({ type }) => this.layoutCon.some(item => item.type === type);
    },
    // 画布上是否存在报告组件
    isExistReport() {
      return this.layoutCon.some(ele => ele.type === "ReportSelect");
    }
  },
  mounted() {
    this.init();
  },
  methods: {
    async init() {
      // 回填画布数据
      if (this.selDataId) {
        this.loading = true;
        workbenchDetail(this.selDataId)
          .then(res => {
            this.loading = false;
            this.saveData = deepClone(res.data.data);
            if (this.saveData.boxList?.length > 0) {
              this.layoutCon = this.saveData.boxList.map(ele => {
                const { name, type, param, data } = ele;
                return {
                  ...JSON.parse(param),
                  data: data.contentId,
                  showMoreIcon: false
                };
              });
            }
          })
          .catch(err => {
            this.loading = false;
            this.$message.error(err || "获取数据失败");
          });
      }
    },
    /**
     * 保存
     */
    save() {
      if (!this.isExistReport) {
        this.$message.warning("请选择报告！");
        return;
      }
      const boxList = this.layoutCon.map(item => {
        const { data, showMoreIcon, moved, ...param } = item;
        return {
          name: "",
          type: DRAWEW_OPATION.find(ele => ele.type === item.type).numType,
          param: JSON.stringify(param),
          data: {
            contentId: data
          }
        };
      });

      this.saveData.boxList = boxList;
      workbenchUpdate(this.saveData)
        .then(res => {
          this.$message.success("保存成功");
          setTimeout(() => {
            this.$emit("changeType", { type: 0 }); //0列表页面 1编辑页面 2预览页面
          }, 1000);
        })
        .catch(err => {
          this.$message.error(err || "保存失败");
        });
    },
    /**
     * 改变状态
     */
    changeStatus(status) {
      let title = "确认发布";
      let content = "点击发布后，保存此工作台将对所有已赋权用户可见，确认发布吗?";
      if (status == 1) {
        title = "确认取消发布";
        content = "取消发布后，此工作台将对所有用户不可用，确认取消发布吗?";
      }
      this.$confirm(content, title, {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "standardButton",
        confirmButtonClass: "standardButton"
      }).then(() => {
        this.saveData.status = status;
      });
    },
    /**
     * 向画布添加元素
     */
    selectItem(item) {
      if (item.type === "ReportSelect") {
        this.showReportSelectModal = true;
      } else {
        this.editSuccess({ type: item.type, data: "" });
      }
    },
    /**
     * 编辑画布中的元素
     */
    editItem(item) {
      this.editItemId = item.i;
      if (item.type === "ReportSelect") {
        this.showReportSelectModal = true;
      }
    },
    /**
     * 最后确定选择的报告
     * @param {} isSingle 是否单选
     * @param {} data 选择的报告数据
     */
    reportModuleSelect(isSingle, data) {
      // console.log(11, data);
      if (!Object.keys(data).length) return;
      this.editSuccess({ type: "ReportSelect", data: data.path });
    },
    editSuccess(value) {
      if (this.editItemId) {
        //编辑
        let index = this.layoutCon.findIndex(item => item.i == this.editItemId);
        this.layoutCon[index].data = value.data; //展示数据
        this.editItemId = "";
      } else {
        //新增
        this.addItem(value);
      }
    },
    /**
     * 添加元素
     */
    addItem(value) {
      console.log(11, value);
      const { w, h, x, y, numType } = DRAWEW_OPATION.find(ele => ele.type === value.type);
      const newItem = {
        i: String(numType), //唯一标识
        x, //x轴
        y, // y轴
        w, // 宽度
        h, // 高度
        type: value.type, //类型
        data: value.data, //数据
        showMoreIcon: false
      };

      // 首次选择且选择报告组件
      if (!this.layoutCon.length && value.type === "ReportSelect") {
        newItem.w = CANVAS_WIDTH_COL;
      }
      // 选择其他组件且画布上存在报告
      if (value.type !== "ReportSelect" && this.isExistReport) {
        this.layoutCon.forEach(ele => {
          if (ele.type === "ReportSelect") {
            ele.w = 9;
          }
        });
      }

      // 控制报告以外元素的y
      if (value.type !== "ReportSelect") {
        const otherArr = this.layoutCon.filter(ele => ele.type !== "ReportSelect");

        // 排在当前组件之前的组件
        const ltArr = otherArr.filter(ele => ele.i < numType);
        const yNum = ltArr.reduce((pre, next) => {
          pre += next.h;
          return pre;
        }, 0);
        newItem.y = yNum;

        // 排在当前组件之后的组件
        this.layoutCon.forEach(ele => {
          if (ele.i > numType) {
            ele.y += h;
          }
        });
      }

      this.layoutCon.push(newItem);
    },
    /**
     * 取消
     */
    closeType() {
      if (this.layoutCon.length === 0) {
        return this.$emit("changeType", { type: 0 }); //0列表页面 1编辑页面 2预览页面
      }
      this.$confirm("你将离开当前页面，对此工作台的修改不会被保存，确认退出吗?", "确认退出", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "standardButton",
        confirmButtonClass: "standardButton"
      }).then(() => {
        this.$emit("changeType", { type: 0 }); //0列表页面 1编辑页面 2预览页面
      });
    },
    /**
     * 编辑名称
     */
    editName() {
      this.ediType = true;
      this.$nextTick(() => {
        this.$refs.editInput.focus();
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.workbenchEdit {
  width: 100%;
  height: 100%;

  .line {
    width: 1px;
    background: #d2d2d2;
    margin: 0 16px;
    height: 24px;
  }

  .banner {
    padding: 20px 15px;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: calc(100% - 40px);

    .standardTable {
      .flexBox {
        justify-content: center;
        .rightIcon {
          font-size: 16px;
          cursor: pointer;
          color: #3f73ff;
          margin: 0 5px;
        }
      }
    }

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      .status {
        margin-right: 30px;
        span {
          cursor: pointer;
        }
        span.active {
          color: #3f73ff;
        }
      }
      .notFocus:focus {
        background-color: transparent;
      }
      .iconComputer {
        margin-right: 8px;
        cursor: inherit;
      }
    }
    .content {
      width: 100%;
      height: calc(100% - 50px);
      background-color: #fafafa;
      padding: 5px 10px;
      position: relative;

      .drawerBox {
        position: absolute;
        top: 5px;
        right: 0;
        bottom: 0;
        width: 300px;
        background-color: #fff;
        border-left: 1px solid #e8e8e8;
        transition: all 0.3s;
        overflow: hidden;
        height: 100%;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
        .drawerHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 48px;
          background: rgba(63, 115, 255, 0.1);
          padding: 0 15px;
          font-weight: bold;
          .el-icon-error {
            cursor: pointer;
            color: #b4afaf;
            position: relative;
            top: -1px;
            right: -4px;
          }
        }
        .drawerContent {
          height: calc(100% - 48px);
          padding: 5px;
          li {
            list-style: none;
            padding: 10px 5px;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.05);
            margin-bottom: 5px;
            height: 72px;
            display: flex;
            img {
              width: 80px;
              height: 50px;
              margin-right: 10px;
            }
            .drawerText {
              display: flex;
              flex-direction: column;
              width: 100%;
              .mtitle {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.85);
                font-weight: bold;
              }
              .mtext {
                font-size: 12px;
                color: rgba(0, 0, 0, 0.45);
              }
            }
            .elclose {
              color: #d9d9d9;
              font-size: 22px;
              position: relative;
              top: -3px;
            }
            &:hover {
              background: rgba(63, 115, 255, 0.1);
              border-color: #3f73ff;
              .elclose {
                color: #3f73ff;
              }
            }
            &.disabled {
              cursor: not-allowed;
              background: #eeecec;
              border-color: #e8e8e8;
              opacity: 0.68;
              .elclose {
                color: #d9d9d9;
              }
            }
          }
        }
      }
    }
  }
}
</style>
<style lang="scss" >
.myMsgBox {
  width: 400px;
  .ivu-input {
    font-size: 12px;
  }
}
</style>
