<template>
  <div class="workbenchList">
    <HearderTie title="工作台管理" style="margin-bottom: 15px" />
    <div class="banner">
      <div class="header">
        <el-input size="small" placeholder="搜索工作台" class="seachInput" v-debounce="{ handler: onSearch }" v-model="seachText">
          <i slot="suffix" class="el-input__icon el-icon-search"></i>
        </el-input>
        <el-button @click="dialogVisible = true" class="standardButton"> <i class="el-icon-plus"></i> 新增 </el-button>
      </div>
      <el-table :data="tableData" class="standardTable" style="margin-top: 20px; height: calc(100% - 85px)" v-loading="loading" size="small">
        <el-table-column type="index" label="序号" width="50" align="center"> </el-table-column>
        <el-table-column prop="name" label="名称"> </el-table-column>
        <el-table-column prop="nickName" label="更新人"> </el-table-column>
        <el-table-column prop="updateTime" label="更新时间">
          <template slot-scope="scope">
            <span>{{ timestampToTime(scope.row.updateTime) }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="updateTime1" label="状态">
          <template slot-scope="scope">
            <div class="publishStatue">
              <i :class="[scope.row.status == 2 ? 'hasPublished' : 'unpublished']" class="prefix"></i>
              <span class="statueText">{{ scope.row.status == 2 ? "已发布" : "未发布" }}</span>
            </div>
          </template>
        </el-table-column>
        <el-table-column fixed="right" align="center" label="操作" width="150">
          <template slot-scope="scope">
            <div class="flexBox">
              <!-- <svg-icon icon-class="tableeye" class="rightIcon" @click="viewItem(scope.row)" /> -->
              <svg-icon icon-class="tableButtonEdit" class="rightIcon" @click="editItem(scope.row)" />
              <svg-icon icon-class="tableButtonDelete" class="rightIcon" @click="deleteItem(scope.row)" />
            </div>
          </template>
        </el-table-column>
      </el-table>

      <Pagination
        :total="listQuery.total"
        style="margin-top: 10px"
        :page.sync="listQuery.pageNum"
        :limit.sync="listQuery.pageSize"
        layout="total, sizes , prev, pager, next, jumper"
        @pagination="getList"
      />
    </div>

    <el-dialog title="新增工作台" :visible.sync="dialogVisible" width="460px" :close-on-click-modal="false" :before-close="handleClose">
      <div class="flexBox" style="white-space: nowrap; font-size: 12px">
        <span style="color: #ff3838">*</span> &nbsp;工作台名称： &nbsp; &nbsp;
        <el-input v-model.trim="zwmc" maxlength="20" show-word-limit placeholder="请输入工作台名称" size="small"></el-input>
      </div>
      <div class="dialog-footer">
        <el-button class="standardButton" size="medium" @click="handleClose">取 消</el-button>
        <el-button class="standardButton" size="medium" type="primary" @click="addSave()">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import HearderTie from "@/dmp/components/titleHeader.vue";
import Pagination from "@/dmp/components/Pagination";
import { workbenchPage } from "@/dmp/api/workbench";
import { timestampToTime } from "@/dmp/utils/index";
import { debounce } from "@/dmp/utils/directive";
import { workbenchCreate, workbenchDelete } from "@/dmp/api/workbench";

export default {
  name: "workbenchList",
  data() {
    return {
      tableData: [],
      loading: false, //加载
      seachText: "", //搜索内容
      zwmc: "", //职务名称
      listQuery: {
        pageNum: 1,
        pageSize: 10,
        total: 0
      },
      dialogVisible: false // 新增工作台弹窗
    };
  },
  components: {
    HearderTie,
    Pagination
  },
  mounted() {
    this.getList();
  },
  methods: {
    /**
     * 搜索
     */
    onSearch() {
      this.listQuery.pageNum = 1;
      this.getList();
    },
    /**
     * 获取列表
     */
    getList() {
      this.loading = true;
      this.tableData = [];
      workbenchPage({ ...this.listQuery, name: this.seachText })
        .then(res => {
          this.loading = false;
          this.tableData = res.data.data;
          this.listQuery.total = res.data.count;
        })
        .catch(() => {
          this.loading = false;
          this.$message.error("获取列表失败");
        });
    },
    /**
     * 编辑
     */
    editItem(row) {
      this.$emit("changeType", { type: 1, ...row });
    },
    // /**
    //  * 预览
    //  */
    // viewItem(row) {
    //   this.$emit("changeType", { type: 2, ...row });
    // },
    /**
     * 删除
     */
    deleteItem(row) {
      this.$confirm("一旦删除无法找回，确认要删除该工作台吗？", "确认删除", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        cancelButtonClass: "standardButton",
        confirmButtonClass: "standardButton"
      }).then(() => {
        workbenchDelete(row.id)
          .then(res => {
            this.$message.success("删除成功");
            this.getList();
          })
          .catch(err => {
            this.$message.error(err || "删除失败");
          });
      });
    },
    /**
     * 关闭弹窗
     */
    handleClose() {
      this.zwmc = "";
      this.dialogVisible = false;
    },
    addSave() {
      if (!this.zwmc) {
        return this.$message.error("请输入工作台名称");
      }
      workbenchCreate({ name: this.zwmc })
        .then(res => {
          this.$emit("changeType", { type: 1, id: res.data.data });
          this.$message.success("新增成功");
          this.getList();
          this.zwmc = "";
          this.dialogVisible = false;
        })
        .catch(err => {
          this.$message.error(err || "新增失败");
        });
    },
    timestampToTime
  },
  directives: {
    debounce //防抖指令
  }
};
</script>

<style lang="scss" scoped>
.workbenchList {
  width: 100%;
  height: 100%;

  .dialog-footer {
    margin-top: 24px;
  }

  .banner {
    padding: 20px 15px;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: calc(100% - 40px);

    .standardTable {
      .flexBox {
        justify-content: center;
        .rightIcon {
          font-size: 16px;
          cursor: pointer;
          color: #3f73ff;
          margin: 0 5px;
        }
      }
    }
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .seachInput {
      width: 250px;
    }
  }

  .rightIcon {
    font-size: 16px;
  }

  .publishStatue {
    display: flex;
    align-items: center;
    .prefix {
      width: 8px;
      height: 8px;
      border-radius: 50px;
      margin-right: 8px;
      &.hasPublished {
        background: #3ae726;
      }
      &.unpublished {
        background: #f74e4e;
      }
    }

    .statueText {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #454545;
      letter-spacing: 0;
      font-weight: 400;
    }
  }
}
.drawerBox {
  padding: 16px;
  .title {
    font-size: 18px;
    font-weight: 600;
    color: #606266;
    margin-bottom: 10px;
  }
  li {
    height: 100px;
    border: 1px solid #b3b1b0;
    margin-bottom: 10px;
    padding: 10px 16px;
    border-radius: 4px;
    &:hover {
      cursor: pointer;
      color: #409eff;
      border-color: #409eff;
    }
  }
}
.dialog-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  text-shadow: 0 0 0 #333;
}
</style>
<style lang="scss" >
.myMsgBox {
  width: 400px;
  .ivu-input {
    font-size: 12px;
  }
}
</style>
