<template>
  <div class="catalogue-container">
    <div class="catalogue-left">
      <div class="catalogue-title">目录</div>
      <div class="catalogue-body">
        <Input class="catalogue-search-input" search clearable placeholder="请输入资产目录名称" @on-change="onSearchCatalogue" style="margin-bottom: 10px;"/>
        <div class="el-tree-wrap">
          <el-tree
            v-if="treeData.length"
            :data="treeData"
            node-key="id"
            :default-expanded-keys="defaultExpandedKeys"
            @node-drag-start="handleDragStart"
            @node-drag-end="handleDragEnd"
            draggable
            :allow-drop="allowDrop"
            :allow-drag="allowDrag"
            :props="defaultProps">
            <template v-slot:default="{ node, data }">
              <!--            <element-tree-line-->
              <!--              :node="node"-->
              <!--              :showLabelLine="false"-->
              <!--              :indent="14"-->
              <!--              :class="node.label === '业务菜单' ? 'firstItem' : ''"-->
              <!--            >-->
              <!-- 自定义label的slot -->
              <!--              <template v-slot:node-label>-->
              <div class="treeItem" :class="{ active: data.id == activeNodeId }" @click.stop="setActive(data)">
                <span class="lableText"  :title="node.label" >{{ node.label }}</span>
                <div class="action-btn">
                  <img class="treeEditBtn" v-if="node.label != '数据资产'" @click.stop="editCatalogueGroup(data)">
                  <img class="treeAddBtn" @click.stop="createGroup(data)">
                  <img class="treeDeleteBtn" v-if="node.label != '数据资产'" @click.stop="deleteDimensionOrGroup(data)">
                </div>

              </div>
              <!--              </template>-->
              <!-- 在右边追加内容的slot -->
              <!--            </element-tree-line>-->
            </template>
          </el-tree>
        </div>

      </div>
    </div>
    <div class="catalogue-right">
      <div class="catalogue-title">{{ currentNode.title }}</div>
      <div class="dimension-indicator-body">
        <div class="search-group">
          <div class="search-group-item">
            <span>资产代码：</span>
            <Input v-model="search.assetsCode" placeholder="请输入内容" clearable/>
          </div>
          <div class="search-group-item">
            <span>资产名称：</span>
            <Input v-model="search.assetsName" placeholder="请输入内容" clearable/>
          </div>
          <div class="search-group-item">
            <span>类型：</span>
            <Select v-model="search.type">
              <Option v-for="item in search.types" :value="item.value" :key="item.value">{{ item.label }}</Option>
            </Select>
          </div>
          <Button type="primary" icon="ios-search" @click="handleSearch">查询</Button>
        </div>
        <div class="data-table">
          <Table :columns="table.columns" :data="table.data" :height="table.height" @on-selection-change="onSelectChange">
            <template slot-scope="{ index }" slot="index">{{ getTableDataIndex(index + 1) }}</template>
            <template slot-scope="{ row }" slot="assetsCode">
              <span class="assets-code" :title="row.assetsCode">{{ row.assetsCode }}</span>
            </template>
            <template slot-scope="{ row }" slot="assetsName">
              <span class="assets-name" :title="row.assetsName">{{ row.assetsName }}</span>
            </template>
            <template slot-scope="{ row }" slot="approvalStatus">
              <div class="statusText" :style="{ '--statusBackgroundColor': showStatusDataByKey(row.approvalStatus, 'prefixColor') }">
                {{ showStatusDataByKey(row.approvalStatus, "label") }}
              </div>
            </template>
            <template slot-scope="{ row }" slot="operation">
              <Button v-if="row.type !== 6" type="text" @click="handleEditDataAssets(row)">编辑</Button>
              <Button type="text" @click="deleteDataAssets(row)">删除</Button>
            </template>
          </Table>
          <Page
            v-if="table.data.length"
            show-elevator
            show-sizer
            show-total
            :page-size-opts="[10 ,20, 30, 40]"
            :page-size="search.pageSize"
            :current="search.currentPage"
            :total="search.total"
            @on-change="handlePageChange"
            @on-page-size-change="handlePageSizeChange"/>
        </div>
      </div>
    </div>

    <Modal v-model="addGroupModalShow" class="addGroupModalClass" title="新增目录组" width="320" :mask-closable="false">
      <Form :model="addGroupData">
        <FormItem label="父级目录组：">
          {{ addGroupData.parentName }}
        </FormItem>
        <FormItem label="目录组名：" props="name">
          <Input v-model.trim="addGroupData.name" placeholder="请输入目录组名" maxlength="30" clearable/>
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="addGroupModalShow = false">取消</Button>
        <Button type="primary" @click="submitAddGroupData()">确定</Button>
      </div>
    </Modal>

    <Modal v-model="editGroupModalShow" class="editGroupModalClass" title="编辑目录组" width="320" :mask-closable="false">
      <Form :model="editGroupData">
        <FormItem label="目录组名：" props="name">
          <Input v-model.trim="editGroupData.name" placeholder="请输入目录组名" maxlength="30" clearable/>
        </FormItem>
        <FormItem label="父级目录组：" props="parentId">
          <FaTreeSelect
            :selected="assetGroup"
            :treeData="cateLogTreeData"
            @changeVal="onAssetGroupChange"
            :refresh="true"
            :render="renderTip"
            class="custom-tree" />
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="editGroupModalShow = false">取消</Button>
        <Button type="primary" @click="submitEditGroupData()">确定</Button>
      </div>
    </Modal>
    <!--  确认删除弹框  -->
    <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList"/>

    <!-- 移动弹窗 -->
    <AssetMoveModal
      v-model="showBulkMoveModal"
      showNoDataIcon
      :tree-data="treeData"
      :current-group-id="currentNode.id"
      @onConfirm="confirmMoveTo"
    />
  </div>
</template>

<script>
  import DeleteAssetModal from '@/view/components/DeleteAssetModal/index.vue'
  import AssetMoveModal from "@/components/AssetMoveModal";
  import { deleteCustomResource, deleteMoreResource, deleteSingleResource } from '@/api/resourceManage'
  import {
    addDimensionGroup,
    deleteDimensionById,
    deleteDimensionGroup,
    getDimensionTreeData,
    updateDimensionGroup,
  } from '@/api/dimension'
  import {
  deleteBusinessModelById
} from '@/api/businessModel'
  import { selectAssets, batchMoveAssets } from '@/api/catalogue'
  import { deepCopy, filterTree } from '@/utils/common'
  import { deleteComplexIndicatorById, deleteDerivativeIndicatorById, deleteIndicatorById, deleteOutIndicatorById, deleteStaticIndicatorById } from '@/api/indicator'
  import { mapActions, mapMutations } from 'vuex'
  import resourcePublish from '@/mixins/resourcePublish'
  import { TYPE_DIMENSION, TYPE_INDICATOR } from '@/view/components/DeleteAssetModal/constant'
  import { deleteReportById } from '@/api/report'
  import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
  const TYPE_MAP = {
    1: 1, // 原子
    7: 3, // 派生
    2: 2, // 复合
    8: 4, // 外部
    15: 5, // 静态
  }

  export default {
    mixins: [resourcePublish],
    components: {
      DeleteAssetModal,
      AssetMoveModal,
      FaTreeSelect
    },
    data() {
      return {
        search: {
          assetsCode: '',
          assetsName: '',
          type: 1,
          types: [
            { label: '全部', value: 1 },
            { label: '指标', value: 2 },
            { label: '维度', value: 3 },
            { label: '资源', value: 4 },
            { label: '业务模型', value: 5 },
            { label: '报告', value: 6 },
          ],
          pageSize: 10,
          currentPage: 1,
          total: null,
        },
        table: {
          height: 400,
          columns: [
            { type: "selection", width: 50, align: "center" },
            {
              title: "序号",
              slot: "index",
              width: "120",
              renderHeader: (h, { column, index }) => {
                const bulkMoveClass = this.selectedDataList.length ? 'bulkMoveBtn bulkMoveSelect' : 'bulkMoveBtn'
                return (
                  <div>
                    <span>{column.title}</span>
                    <span class={bulkMoveClass} onClick={this.showBulkMoveModalHandle}>
                      批量移动
                    </span>
                  </div>
                );
              }
            },
            { title: '资产代码', slot: 'assetsCode' },
            { title: '资产名称', slot: 'assetsName' },
            { title: '类型', key: 'typeStr', width: '100' },
            { title: '审批状态', slot: 'approvalStatus', width: '120' },
            { title: '数据模型', key: 'dataModel', width: '100' },
            { title: '操作', slot: 'operation', width: '150' },
          ],
          data: [],
        },

        treeData: [], // 用于树组件展示的分组数据
        originTreeData: [], // 初始分组数据
        treeDataCopy: [], // 拖拽时备份
        currentNode: {}, // 树组件当前项
        addGroupModalShow: false,
        addGroupData: {},
        editGroupModalShow: false,
        editGroupData: {},
        selectedDataList: [], // 已勾选的表格数据
        showBulkMoveModal: false,
        assetGroup: null,
        defaultProps: {
          children: 'children',
          label: 'title'
        },
        activeNodeId: null,
        defaultExpandedKeys: []
      }
    },
    computed: {
      cateLogTreeData() {
        return JSON.parse(JSON.stringify(this.treeData))
      }
    },
    created() {
      // 备份树的展开状态
      this.treeDataExpandStatusBak = []
    },
    mounted() {
      this.table.height = document.body.clientHeight - 350
      window.onresize = () => {
        this.table.height = document.body.clientHeight - 350
      }
      this.getTreeData(true)
    },
    beforeDestroy() {
      window.onresize = null
    },
    methods: {
      ...mapMutations('resourceManage', ['setIsCombineResourceEditPage']),
      ...mapActions('resourceManage', ['fetchEditChartData']),
      /**
       * 选中项发生变化
       * @param {Array} selection 已选项数据
       */
      onSelectChange(selection) {
        this.selectedDataList = selection
      },
      /**
       * 展示批量移动弹窗
       */
      showBulkMoveModalHandle() {
        if (!this.selectedDataList.length) return
        this.showBulkMoveModal = true;
      },
      /**
       * 批量移动
       * @param {Number} targetId 目标分组的id
       */
      async confirmMoveTo(targetId) {
        const params = {
          assets: this.selectedDataList.map(ele => ({
            groupId: targetId, // 目标分组id
            sourceId: ele.id,
            type: ele.type
          }))
        };
        const res = await batchMoveAssets(params);
        if (res.data.state) {
          this.$Message.success("移动分组成功！");
          this.showBulkMoveModal = false;
          this.selectedDataList = [] // 清空勾选数据
          this.getDataAssetsByGroupId()
        }
      },

      /**
       * 获取树数据
       */
      async getTreeData(isInit = false) {
        const { data } = await getDimensionTreeData()
        if (data?.state === 'success') {
          const groups = data.data.dimensionGroupList
          let tree = [{
            id: -1,
            title: '数据资产',
            expand: true,
            deep: 0,
            selected: false,
          }]
          this.treeDataExpandStatusBak = deepCopy(this.treeData)
          this.treeData = this.generateTree(tree, groups)
          if (isInit) {
            this.defaultExpandedKeys = [this.treeData[0].id]
          }
          this.updateTreeDataStatus(this.treeData, this.treeDataExpandStatusBak)
          this.originTreeData = deepCopy(this.treeData)
          // 如果没有选中的分组（删除当前选中的分组）
          if (!this.currentNode.id) {
            this.treeData[0].selected = true
            this.currentNode = deepCopy(this.treeData[0])
          }
          await this.getDataAssetsByGroupId()
        } else if (data?.state === 'error') {
          this.$Message.error(data.message)
        } else {
          this.$Message.error('获取目录分组失败')
        }
      },
      /**
       * 递归-生成维度（分组）树
       * @param parent 父节点
       * @param all 全部数据
       * @param deep 层级，根节点为0
       */
      generateTree(parent, all, deep = 1) {
        const DEEP_TEMP = deep + 1;
        return parent.map(parentItem => {
          let children = all.filter(
            allItem => allItem.parentId === parentItem.id,
          ).map(child => ({
            id: child.id,
            title: child.name,
            expand: false,
            deep: deep,
            selected: false,
            parentId: child.parentId
          }))

          return {
            ...parentItem,
            children: children.length ? this.generateTree(children, all, DEEP_TEMP) : [],
          }
        })
      },
      /**
       * 更新树的展开、选中状态
       * @param newTree
       * @param oldTree 参照物，已备份的带有状态的树
       */
      updateTreeDataStatus(newTree, oldTree) {
        for (let newTreeItem of newTree) {
          for (let oldTreeItem of oldTree) {
            if (newTreeItem.id === oldTreeItem.id) {
              newTreeItem.expand = oldTreeItem.expand
              newTreeItem.selected = oldTreeItem.selected
              if (newTreeItem.children?.length && oldTreeItem.children?.length) {
                this.updateTreeDataStatus(newTreeItem.children, oldTreeItem.children)
              }
            }
          }
        }
      },
      /**
       * 数据资产树-编辑
       * @param data
       */
      editCatalogueGroup(data) {
        this.editGroupData = {
          id: data.id,
          name: data.title,
        }
        this.assetGroup = data.parentId
        this.editGroupModalShow = true
      },
      /**
       * 确认编辑分组
       */
      async submitEditGroupData() {
        if (!this.editGroupData.name) {
          this.$Message.warning('请填写目录组名')
          return
        }
        let params = {
          id: this.editGroupData.id,
          name: this.editGroupData.name,
          parentId: this.assetGroup
        }
        const res = await updateDimensionGroup(params)
        if (res.data.state === 'success') {
          this.$Message.success('编辑成功')
          this.defaultExpandedKeys = [this.assetGroup]
          await this.getTreeData()
          this.editGroupModalShow = false
        } else if (res.data.state === 'error') {
          this.$Message.error(res.data.message)
        } else {
          this.$Message.error('编辑失败')
        }
      },
      /**
       * 创建分组
       * @param current
       */
      createGroup(current) {
        this.addGroupData = {
          parentId: current.id,
          parentName: current.title,
          name: '',
        }
        this.addGroupModalShow = true
      },
      /**
       * 确认创建分组
       */
      async submitAddGroupData() {
        if (!this.addGroupData.parentId) {
          this.$Message.warning('未选择父级')
          return
        }
        if (!this.addGroupData.name) {
          this.$Message.warning('请填写目录组名')
          return
        }
        let params = {
          parentId: this.addGroupData.parentId,
          name: this.addGroupData.name,
        }
        const res = await addDimensionGroup(params)
        if (res.data.state === 'success') {
          this.$Message.success('创建成功')
          this.defaultExpandedKeys = [this.addGroupData.parentId]
          await this.getTreeData()
          this.addGroupModalShow = false
        } else if (res.data.state === 'error') {
          this.$Message.error(res.data.message)
        } else {
          this.$Message.error('创建失败')
        }
      },
      /**
       * 数据资产树-删除
       * @param data
       */
      deleteDimensionOrGroup({ title, id }) {
        const isSelf = id === this.currentNode.id
        if (title.length > 12) {
          title = title.slice(0, 12) + '...'
        }
        this.$Modal.confirm({
          title: `确认删除“${title}”目录分组吗？`,
          content: '删除后不可撤销',
          okText: '确认',
          onOk: () => {
            this.confirmDelete(id, isSelf)
          },
        })
      },
      /**
       * 确认删除分组
       * @param current
       */
      async confirmDelete(id, isSelf = false) {
        const { data } = await deleteDimensionGroup(id)
        if (data?.state === 'success') {
          this.$Message.success('删除成功')
          if (isSelf) {
            this.currentNode = {}
          }
          this.defaultExpandedKeys = [this.treeData[0].id]
          await this.getTreeData()
        } else if (data?.state === 'error') {
          this.$Message.error(data.message)
        } else {
          this.$Message.error('删除失败')
        }
      },
      /**
       * 数据资产树-过滤
       * @param e
       */
      onSearchCatalogue(e) {
        let value = e.target.value
        if (value) {
          this.treeData = filterTree(this.originTreeData, value)
        } else {
          this.treeData = this.originTreeData
        }
      },
      /**
       * 查询
       * 查询时将页码置为1
       */
      handleSearch() {
        this.search.currentPage = 1
        this.getDataAssetsByGroupId()
      },
      /**
       * 根据分组id获取指标和维度
       */
      async getDataAssetsByGroupId() {
        const params = {
          code: this.search.assetsCode || null, // 资产编码
          name: this.search.assetsName || null, // 资产名称
          type: this.search.type,
          pageSize: this.search.pageSize,
          currentPage: this.search.currentPage,
        }
        if(this.currentNode.id !== -1) {
          params.id = this.currentNode.id // 数据资产目录id
        }
        const res = await selectAssets(params)
        if (res.data.state === 'success') {
          const data = res.data.data.data.map(item => {
            let typeStr = ''
            switch (item.type) {
              case 1:
              case 2:
              case 7:
              case 8:
              case 15:
                typeStr = '指标'
                break
              case 3:
                typeStr = '维度'
                break
              case 4:
              case 5:
              case 6:
                typeStr = '资源'
                break
              case 9:
                typeStr = '业务模型'
                break
              case 20:
                typeStr = '报告'
                break
            }
            return {
              id: item.id,
              assetsCode: item.assetsCode,
              assetsName: item.name,
              type: item.type,
              typeStr,
              approvalStatus: typeStr === '资源' || typeStr === '业务模型' ? 3 : item.status,
              dataModel: item.type === 8 ? '-' : '交易参数',
            }
          })
          this.table.data = data
          this.search.total = res.data.data.count
        } else {
          this.$Message.error('获取指标和维度失败')
        }
      },
      /**
       * 切换页码
       * @param currentPage
       */
      handlePageChange(currentPage) {
        this.search.currentPage = currentPage
        this.getDataAssetsByGroupId()
      },
      handlePageSizeChange(currentPageSize) {
        this.search.pageSize = currentPageSize
        this.search.currentPage = 1
        this.getDataAssetsByGroupId()
      },
      /**
       * 获取表格数据序号
       * @param index
       */
      getTableDataIndex(index) {
        let dataIndex = null

        // 计算实际序号
        dataIndex = index + ((this.search.currentPage - 1) * this.search.pageSize)
        dataIndex = dataIndex < 10 ? `0${dataIndex}` : dataIndex

        return dataIndex
      },
      /**
       * 编辑某个维度/指标/资源，跳转到对应的详细查看编辑页面
       * @param type
       * @param id
       */
      async handleEditDataAssets({ type, id, assetsName }) {
        // 1-原子 7-派生 2-复合 8-外部 15-静态 3-维度 9-业务模型 4-常规资源 5-组合资源
        id = id.toString() // query需要string类型
        let query, path
        if (type === 1 || type === 7 || type === 2 || type === 8 || type === 15) {
          // 指标
          path = '/manager/indicator/indicator_detail'
          query = { id, type: TYPE_MAP[type], edit: '1' }
        } else if (type === 3) {
          // 维度
          path = '/manager/dimension/dimension_detail'
          query = { id, type: 'edit' }
        } else if (type === 9) {
          // 业务模型
          path = '/manager/businessModel/businessModel_manage'
          query = { id, edit: '1' }
        } else if (type === 4 || type === 5) {
          // 编辑某个资源
          const resource = await this.editResource(type, id, assetsName)
          path = resource.path
          query = resource.query
        } else if (type === 20) {
          // 报告
          path = '/template_add'
          query = { id, openType: 'edit' }
        }

        const routeUrl = this.$router.resolve({ path, query })
        window.open(routeUrl.href, '_blank')
      },
      /**
       * 编辑资源
       * @param {Number} resourceType 资源类型。常规资源: 4, 组合资源: 5
       * @param {Number} id 资源id
       * @param {String} resourceName 资源名称
       */
      async editResource(resourceType, id, resourceName) {
        if (resourceType === 4) {
          await this.fetchEditChartData({ id })
        } else {
          this.setIsCombineResourceEditPage(true)
        }
        return {
          path: resourceType === 4 ? '/commonResourceEdit' : '/combineResourceEdit',
          query: {
            type: 'edit',
            id, //资源id
            resourceName, //资源名称
          },
        }
      },
      /**
       * 删除数据资产记录（维度、指标、资源）
       * @param assetsName
       * @param typeStr
       * @param type
       * @param id
       */
      deleteDataAssets({ assetsName, typeStr, type, id }) {
        if (assetsName.length > 12) {
          assetsName = assetsName.slice(0, 12) + '...'
        }
        this.$Modal.confirm({
          title: `确认删除“${assetsName}”${typeStr}吗？`,
          content: '删除后不可撤销',
          okText: '确认',
          onOk: () => {
            if (type === 4 || type === 5 || type === 6) {
              // 删除某个资源
              this.deleteResource(type, id)
            } else {
              this.confirmDeleteDataAssets(assetsName, type, id)
            }
          },
        })
      },
      /**
       * 删除资源
       * @param {Number} resourceType 资源类型。常规资源: 4, 组合资源: 5, 定制化资源: 6
       * @param {Number} id 资源id
       */
      async deleteResource(resourceType, id) {
        let res = {}
        if (resourceType === 4) {
          res = await deleteSingleResource(id)
        } else if (resourceType === 5) {
          res = await deleteMoreResource(id)
        } else {
          res = await deleteCustomResource(id)
        }
        if (res.data.state === 'success') {
          this.$Message.success('删除成功')
          await this.getTreeData()
        } else {
          this.$Message.error('删除失败')
        }
      },
      /**
       * 确认删除数据资产记录
       * @param assetsName 资产名称
       * @param type 资产类型
       * @param id 资产id
       */
      async confirmDeleteDataAssets(assetsName, type, id) {
        let res = null
        console.log(assetsName, type, id)
        if (type === 1) {
          // 原子指标
          res = await deleteIndicatorById(id)
        } else if (type === 7) {
          // 派生指标
          res = await deleteDerivativeIndicatorById(id)
        } else if (type === 2) {
          // 复合指标
          res = await deleteComplexIndicatorById(id)
        } else if (type === 3) {
          // 维度
          res = await deleteDimensionById(id)
        } else if (type === 9) {
          // 业务模型
          res = await deleteBusinessModelById(id)
        } else if (type === 8) {
          // 外部指标
          res = await deleteOutIndicatorById(id)
        } else if (type === 15) {
          // 静态指标
          res = await deleteStaticIndicatorById(id)
        } else if (type === 20) {
          // 报告
          res = await deleteReportById(id)
        }
        if (res?.data?.state === 'success') {
          this.$Message.success('删除成功')
          await this.getTreeData()
        } else {
          // 无法删除的情况
          let typeStr = ''
          if ([1, 7, 2, 8].includes(type)) {
            typeStr = TYPE_INDICATOR
          } else if (type === 3) {
            typeStr = TYPE_DIMENSION
          }
          const deletedAsset = { id, name: assetsName, type: typeStr }
          this.unableToDelete(deletedAsset, res.data.data)
        }
      },
      // render函数
      renderTip(h, { root, node, data }){
        return (
          <div class="tree-title-span" title={data.title}>{data.title}</div>
        );
      },
      onAssetGroupChange(value) {
        this.assetGroup = value.id
      },
      handleDragStart(node, ev) {
        console.log('drag start', node);
        ev.target.classList.add("is-dragging-item");
        this.treeDataCopy = deepCopy(this.treeData);
      },
      async handleDragEnd(draggingNode, dropNode, dropType, ev) {
        console.log('tree drag end: ', draggingNode.data ,dropNode.data, dropType);
        ev.target.classList.remove("is-dragging-item")
        if (!dropNode || !dropNode.data || !dropNode.data.id) return
        // 自己不能拖拽到自己下面
        if (draggingNode.data.id == dropNode.data.id) return
        // 父节点不能拖到下一层子节点中，否则会变成互为父节点导致相关节点无法显示出来
        if (draggingNode.data.id == dropNode.data.parentId) return
        let params = {
          id: draggingNode.data.id,
          name: draggingNode.data.title,
          parentId: dropType === 'inner' ? dropNode.data.id : dropNode.data.parentId,
          type: dropType,
          toAssetsId: dropNode.data.id
        }
        console.log('params====', params)
        const res = await updateDimensionGroup(params)
        if (res.data.state === 'success') {
          this.$Message.success('移动目录成功')
          this.defaultExpandedKeys = [dropNode.data.id]
          await this.getTreeData()
        } else if (res.data.state === 'error') {
          this.$Message.error(res.data.message)
        } else {
          this.$Message.error('编辑失败')
        }
      },
      allowDrop(draggingNode, dropNode, type) {
        return true
      },
      allowDrag(draggingNode) {
        return draggingNode.data.title.indexOf('数据资产') === -1;
      },
      setActive(data) {
        if (this.activeNodeId == data.id) {
          return;
        }
        this.activeNodeId = data.id;
        this.currentNode = deepCopy(data)
        this.search.currentPage = 1
        this.selectedDataList = [] // 清空勾选数据
        this.getDataAssetsByGroupId()
      },
    },
  }
</script>

<style lang="less" scoped>
  .catalogue-container {
    height: 100%;
    display: flex;
    color: #333333;

    .catalogue-title {
      font-size: 16px;
      font-weight: bold;
      line-height: 32px;
      padding: 14px;
      height: 60px;
    }

    .catalogue-left {
      width: 20%;
      height: 100%;
      background: #fff;

      .catalogue-body {
        height: calc(~'100% - 60px');
        border-top: 1px solid #F1F5FA;
        border-right: 1px solid #F1F5FA;
        padding: 8px 14px;
        display: flex;
        flex-direction: column;
      }

      .catalogue-tree.ivu-tree {
        flex: 1;
        overflow-y: auto;
        user-select: none;
        margin-top: 16px;
        /deep/.ivu-tree-arrow{
          max-width: 12px;
          width: auto;
        }
        /deep/ .ivu-icon {
          transform: none;
        }

        /deep/ .ivu-tree-arrow .ivu-icon-ios-arrow-forward:before {
          content: url('~@/assets/icons/dataSetList/icon_expand_folder.svg');
          margin-right: 6px;
        }

        /deep/ .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
          content: url('~@/assets/icons/dataSetList/icon_collapse_folder.svg');
          margin-right: 6px;
        }

        /deep/ .catalogueTreeNode {
          content: url('~@/assets/images/system/catalogueTreeNode.png');
          width: 16px;
          margin-right: 3px;
        }


        /deep/ .ivu-tree-title {
          .treeEditBtn, .treeAddBtn, .treeDeleteBtn {
            vertical-align: middle;
            display: none;
          }

          .treeEditBtn {
            content: url("~@/assets/images/system/roleTreeEditBlue.svg");
            margin-right: 6px;
          }

          .treeAddBtn {
            content: url("~@/assets/images/system/roleTreeAddBlue.png");
            width: 18px;
            height: 18px;
            margin-right: 6px;
          }

          .treeDeleteBtn {
            content: url("~@/assets/images/system/roleTreeDeleteBlue.svg");
          }

          &:hover {
            .treeEditBtn, .treeAddBtn, .treeDeleteBtn {
              display: inline-block;
            }
          }

          &.ivu-tree-title-selected {
            color: #3F73FF;

            .treeDeleteBtn {
              content: url("~@/assets/icons/dimensionIcon/treeDeleteBlue.svg");
              display: inline-block;
            }
          }

        }
      }
      .el-tree-wrap{
        height: calc(~'100% - 60px');
        overflow-y: auto;
      }
      ::v-deep .el-tree {
        .is-dragging-item {
          border: 1px dashed #3f73ff;
          border-radius: 3px;
          width: 100%;
          &:active {
            .el-tree-node__content {
              background-color: rgba(63, 115, 255, 0.1) !important;
            }
          }
          .element-tree-node-line-ver,
          .element-tree-node-line-hor {
            display: none !important;
          }
        }

        .el-tree__drop-indicator {
          &::after {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #3f73ff;
            border-radius: 50%;
            position: absolute;
            top: -5px;
            left: -10px;
          }
        }

        .el-tree-node__expand-icon.expanded {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        // 没有展开且有子节点
        .el-icon-caret-right:before {
          transform: translate(1px, -1px);
          background: url("~@/assets/icons/dataSetList/icon_expand_folder.svg") no-repeat 0 3px;
          content: "";
          display: block;
          width: 16px;
          height: 20px;
          font-size: 16px;
          background-size: 16px;
        }
        // 已经展开且有子节点
        .el-tree-node__expand-icon.expanded.el-icon-caret-right:before {
          background: url("~@/assets/icons/dataSetList/icon_collapse_folder.svg") no-repeat 0 3px;
          content: "";
          display: block;
          width: 16px;
          height: 20px;
          font-size: 16px;
          background-size: 16px;
        }
        // 没有子节点
        .el-tree-node__expand-icon.is-leaf::before {
          background: url("~@/assets/images/system/catalogueTreeNode.png") no-repeat 0 3px;
          content: "";
          display: block;
          width: 16px;
          height: 20px;
          font-size: 16px;
          background-size: 16px;
        }

        .treeItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          font-size: 12px;
          box-sizing: border-box;
          .action-btn{
            display: flex;
            align-items: center;
            padding-right: 5px;
          }
          &:hover {
            color: #3f73ff;
            .treeEditBtn, .treeAddBtn, .treeDeleteBtn {
              display: block;
            }
          }
          .treeEditBtn, .treeAddBtn, .treeDeleteBtn {
            vertical-align: middle;
            display: none;
            font-size: 16px;
          }

          .treeEditBtn {
            content: url("~@/assets/images/system/roleTreeEditBlue.svg");
            margin-right: 6px;
          }

          .treeAddBtn {
            content: url("~@/assets/images/system/roleTreeAddBlue.png");
            width: 18px;
            height: 18px;
            margin-right: 6px;
          }

          .treeDeleteBtn {
            content: url("~@/assets/images/system/roleTreeDeleteBlue.svg");
          }
          .lableText {
            width: var(--maxWidth);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .is-focusable.is-drop-inner {
          > .el-tree-node__content {
            .treeItem {
              background-color: #3f73ff !important;
              color: #fff;
            }
          }
        }
      }

      /deep/ .el-tree-node__label{
        font-size: 12px;
      }
    }

    .catalogue-right {
      width: 80%;
      background-color: #fff;

      .dimension-indicator-body {
        height: calc(~'100% - 60px');
        border-top: 1px solid #F1F5FA;
        padding: 8px 16px 70px;
        display: flex;
        flex-direction: column;
      }

      /deep/ .search-group {
        display: flex;

        .search-group-item {
          display: flex;
          align-items: center;

          > span {
            white-space: nowrap;
          }

          + .search-group-item {
            margin-left: 20px;
          }
        }

        .ivu-input {
          width: 160px;
          height: 32px;
          flex: 1;
        }

        .ivu-select {
          width: 93px;
          height: 32px;
          flex: 1;
        }

        .ivu-btn {
          margin-left: 20px;
        }

        .ivu-input,
        .ivu-select-selection,
        .ivu-btn {
          border-radius: 2px;
        }
      }

      .data-table {
        margin-top: 16px;
        flex: 1;
        display: flex;
        flex-direction: column;

        /deep/ .ivu-table-wrapper {
          .ivu-table .ivu-table-header thead tr th {
            background-color: #CCDAFF;
          }

          .ivu-btn-text {
            color: #3F73FF;
            padding: 0;
            box-shadow: none;

            + .ivu-btn-text {
              margin-left: 24px;
            }
          }
        }

        /deep/.bulkMoveBtn {
          margin-left: 4px;
          font-size: 12px;
          font-weight: 400;
          color: #999999;
          cursor: not-allowed;
          user-select: none;
          &.bulkMoveSelect {
            color: #3F73FF;
            cursor: pointer;
          }
        }
        .assets-code,
        .assets-name {
          display: inline-block;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .statusText {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #333333;
          letter-spacing: 0;
          &::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: var(--statusBackgroundColor);
            margin-right: 6px;
          }
        }

        .ivu-page {
          text-align: right;
          margin-top: 20px;
        }
      }
    }
  }

  .addGroupModalClass,
  .editGroupModalClass {
    /deep/ .ivu-modal-body {
      padding: 24px;
    }

    .ivu-form-item {
      display: flex;
    }

    /deep/ .ivu-form-item-content {
      flex: 1;
    }
  }
</style>
<style lang="scss" scoped>
// 文字长度超出容器宽度换行显示
/deep/.el-tree-node__content {
  height: auto;
  .el-tree-node__label {
    white-space: break-spaces !important;
  }
  background-color: #fff !important;
}
</style>
