<template>
  <div class="TransferList-all">
    <div class="transfer-left">
      <div class="transfer-left-header">
        <div class="transfer-left-header-top">
          <div>
            <Checkbox :indeterminate="indeterminateLeft" :value="checkAllLeft" @click.prevent.native="handleCheckLeftAll">
              <span style="display: none">全选</span>
            </Checkbox>
            <span v-if="checkAllLeftGroup.length">{{checkAllLeftGroup.length}}/{{leftListShow.length}}条</span>
            <span v-else>{{leftListShow.length}}条</span>
          </div>
          <!-- <div class="sync" @click="handleSync" v-if="isEdit && originalData.length && rightList.length">同步</div> -->
        </div>
        <Input search placeholder="请输入内容"
            class="search"
            @on-change="searchLeft"
            v-model.trim="searchLeftValue"
            clearable
            @on-clear="clearLeft" />
      </div>
      <div class="transfer-left-content">
        <div class="title">全部源表</div>
        <CheckboxGroup v-model="checkAllLeftGroup" @on-change="checkAllLeftGroupChange">
            <Checkbox class="check-item" v-for="item in leftListShow" :key="item.name" :label="item.name">
              <span class="label-text" :title="item.name">{{item.name}}</span>
            </Checkbox>
        </CheckboxGroup>
      </div>
    </div>
    <div class="transfer-symbol">
      <div style="margin-bottom: 8px">
        <Button type="primary"
            icon="ios-arrow-back"
            v-if="checkAllRightGroup.length"
            @click="handleToLeft"
        ></Button>
        <Button icon="ios-arrow-back" disabled v-else></Button>
      </div>
      <div>
        <Button type="primary"
            icon="ios-arrow-forward"
            v-if="checkAllLeftGroup.length"
            @click="toRight"
        ></Button>
        <Button icon="ios-arrow-forward" disabled v-else></Button>
      </div>
    </div>
    <div class="transfer-right">
      <div class="transfer-right-header">
        <div class="transfer-right-header-top">
          <div>
            <Checkbox :indeterminate="indeterminateRight" :value="checkAllRight" @click.prevent.native="handleCheckRightAll">
              <span style="display: none">全选</span>
            </Checkbox>
            <span v-if="checkAllRightGroup.length">{{checkAllRightGroup.length}}/{{rightListShow.length}}条</span>
            <span v-else>{{rightListShow.length}}条</span>
          </div>
          <div class="sync" @click="handleDispatchChecked" v-show="checkAllRightGroup.length">预加工调度</div>
          <div class="sync-gray" v-show="!checkAllRightGroup.length">预加工调度</div>
        </div>
        <Input search placeholder="请输入内容"
            class="search"
            @on-change="searchRight"
            v-model.trim="searchRightValue"
            clearable
            @on-clear="clearRight" />
      </div>
      <div class="transfer-right-content">
        <div class="title-all">
          <div class="title">已选源表</div>
          <div class="title-right">业务日期</div>
        </div>
        <CheckboxGroup v-model="checkAllRightGroup" @on-change="checkAllRightGroupChange">
          <div class="check-item-all" v-for="item in rightListShow" :key="item.name">
            <Checkbox class="check-item" :label="item.name" :title="item.name">{{item.name}}</Checkbox>
            <div class="check-item-slot">
              <Select v-model="item.dateColumnName" style="width:170px" @on-change="changeOption(item)">
                <Option v-for="row in item.dateColumn" :value="row.name" :key="row.name">{{ row.name }}</Option>
              </Select>
              <span class="slot-link-gray" v-if="!item.dateColumnName">预加工调度</span>
              <span class="slot-link" @click="handleDispatch(item)" v-else>预加工调度</span>
            </div>
          </div>
        </CheckboxGroup>
      </div>
    </div>
    <SyncModal :syncVisible="syncVisible"
      :deleteList="deleteList"
      :updateList="updateList"
      :changeObj="changeObj"
      @handleCloseSync="handleCloseSync"
    />
    <DelModal :deleteVisible="deleteVisible"
      @handleCloseDel="handleCloseDel"
      :dataModelList="dataModelList"
      :businessModelList="businessModelList"
    />
    <DispatchModal
      :dispatchVisible="dispatchVisible"
      @handleCloseDispatch="handleCloseDispatch"
      :modalType="modalType"
      :checkGroup="checkAllRightGroup"
      :jobConfig="jobConfigObj"
      :is-update="isEdit"
    />
  </div>
</template>
<script>
import { deepCopy } from '@/utils/common';
import SyncModal from './Modal/SyncModal.vue'
import DelModal from './Modal/DeleteModal.vue'
import DispatchModal from './Modal/DispatchModal.vue'
import { dateChange } from "@/utils/dateFormat";
import { queryRelationDatas } from "@/api/databaseConnection";
import { isDateColumn } from '@/view/dataset/Build/TableNodeCanvas/FilterTimeColmun.js'
import _ from 'lodash'
export default {
  name: "TransferList",
  props: {
    dataList: {
      type: Array,
      default: () => [],
    },
    targetList: {
      type: Array,
      default: () => [],
    },
    originalData: {
      type: Array,
      default: () => [],
    },
    isEdit: {
      type: Boolean,
      default: false
    },
    connectId: {
      type: String,
      default: ''
    },
  },
  components: {
    SyncModal,
    DelModal,
    DispatchModal
  },
  data() {
    return {
      leftList: [],
      leftListShow: [],
      rightList: [], //实际右边的数组（完整的列表数据）
      rightListShow: [], //展示的数组（可能是搜索过滤得到的）
      indeterminateLeft: false,
      indeterminateRight: false,
      checkAllLeft: false,
      checkAllRight: false,
      checkAllLeftGroup: [],
      checkAllRightGroup: [],
      searchLeftValue: '',
      searchRightValue: '',
      syncVisible: false,
      deleteVisible: false,
      dispatchVisible: false,
      selectDispath: {},
      modalType: 'single',
      jobConfigObj: {},
      deleteList: [],
      updateList: [],
      changeObj: {}, // 已选源表更新或删除影响的数据集等查询参数
      editChangeObj: {}, // 编辑状态下删除已选源表影响的数据集等查询参数
      dataModelList: [],
      businessModelList: [],
    };
  },
  created(){

  },
  methods: {
    handleSync(){
      //已选源表跟源表重合部分（name相同）
      let sameArrRight = this.rightList.filter((item) =>
        this.originalData.some((val) => val.name === item.name)
      )
      //全部源表已选部分（name相同）
      let sameArrLeft = this.originalData.filter((item) =>
        this.rightList.some((val) => val.name === item.name)
      )
      //已选源表未匹配到name的部分（默认被删除）
      this.deleteList = this.rightList.filter((item) =>
        this.originalData.every((val) => val.name !== item.name)
      )
      //已选源表name匹配但是dataType和sizeValue不一样的即为更新字段
      this.updateList = [];
      let tableUpdateList = [];
      console.log(sameArrRight)
      console.log(sameArrLeft)
      sameArrRight.forEach(item=>{
        //获取源数据的index
        let index = sameArrLeft.findIndex((val) => val.name === item.name);
        if(item.columns.length !== sameArrLeft[index].columns.length){
          //字段个数变化了
          this.updateList.push(item);
        }else{
          let isColumnsChange = []; //当前table的字段是否更新了
          item.columns.forEach(row=>{
            //获取字段的index
            let columnIndex = sameArrLeft[index].columns.findIndex((ele) => ele.name === row.name);
            if(columnIndex === -1){
              //根据name没找到，则表示原字段被删除
              isColumnsChange.push(true);
            }else{
              //当前字段的dataType和size有无变化变化
              if(row.dataType !== sameArrLeft[index].columns[columnIndex].dataType
                || row.sizeValue !== sameArrLeft[index].columns[columnIndex].size
                || row.label !== sameArrLeft[index].columns[columnIndex].remark
              ){
                isColumnsChange.push(true);
              }else{
                isColumnsChange.push(false);
              }
            }
          })
          if(isColumnsChange.some(v=> v)){
            this.updateList.push(item);
          }
        }
      })
      tableUpdateList = this.deleteList.map(item=>{
          return {
            id: item.id,
            originName: item.name,
            newName: item.name,
            type: 3,
            label: item.label,
            dateColumnName: item.dateColumnName,
          }
        }).concat(this.updateList.map(item=>{
          return {
            id: item.id,
            originName: item.name,
            newName: item.name,
            type: 2,
            label: item.label,
            dateColumnName: item.dateColumnName,
            jobConfig: item.jobConfig || null,
          }
        }))
      // 如果有更新或者删除的，则弹出同步的弹窗
      if(tableUpdateList.length){
        this.changeObj = {
          connectId: this.connectId,
          tableUpdateList: tableUpdateList
        }
        this.syncVisible = true;
      }
    },
    handleCloseSync(data){
      if(data){
        // 确认更新后需要刷新当前的源数据
        this.$emit('refreshData')
        this.syncVisible = false;
      }else{
        this.$emit('noSyncClose')
        this.syncVisible = false;
      }

    },
    handleDispatch(item){
      this.selectDispath = item;
      this.modalType = 'single';
      this.jobConfigObj = item.jobConfig || {}
      this.dispatchVisible = true;
    },
    handleDispatchChecked(){
      //如果有搜索并且只对搜索结果所用则是rightListShow,反之是rightList
      let selectList = this.rightListShow.filter(item=>
        this.checkAllRightGroup.some(row=>row === item.name)
      )
      if(selectList.every(item=>item.dateColumnName)){
        this.modalType = 'multiple'
        this.dispatchVisible = true;
      }else{
        this.$Message.error('存在源表未定义业务日期，无法进行预加工调度设置。')
      }
    },
    handleCloseDispatch(val){
      // 判断是否是设置完成了
      if(val){
        let jobConfig = val.data;
        // 单项调度只改变选中这一项
        if(val.type === 'single'){
          this.rightList.forEach(item=>{
            if(item.name === this.selectDispath.name ){
              item.jobConfig = jobConfig;
            }
          })
          this.rightListShow.forEach(item=>{
            if(item.name === this.selectDispath.name ){
              item.jobConfig = jobConfig;
            }
          })
        }else{
          // 批量调度改变所选中的所有项
          this.rightList.forEach(item=>{
            if( this.checkAllRightGroup.indexOf(item.name) !== -1 ){
              item.jobConfig = jobConfig;
            }
          })
          this.rightListShow.forEach(item=>{
            if( this.checkAllRightGroup.indexOf(item.name) !== -1 ){
              item.jobConfig = jobConfig;
            }
          })
        }
      }
      this.dispatchVisible = false;
      this.$emit('changeData', this.rightList)
    },
    handleCloseDel(val){
      if(val){
        this.toLeft();
      }
      this.deleteVisible = false;
    },
    async handleToLeft(){
      if(this.isEdit){ //编辑的时候
        let deleteArr= this.rightList.filter((item) =>
          this.checkAllRightGroup.some((val) => val === item.name)
        )
        this.editChangeObj = {
          connectId: this.connectId,
          tableUpdateList: deleteArr.map(item=>{
            return {
              id: item.id,
              originName: item.name,
              newName: item.name,
              type: 3,
              label: item.label,
              dateColumnName: item.dateColumnName,
              jobConfig: item.jobConfig || null,
            }
          })
        }
        let res = await queryRelationDatas(this.editChangeObj);
        if(res && res.data && res.data.state === "success"){
          const resData = res.data.data;
          if(
            (resData && resData.dataSet && resData.dataSet.length) ||
            (resData && resData.businessModel && resData.businessModel.length)
          ){
            this.dataModelList = resData.dataSet || [];
            this.businessModelList = resData.businessModel || [];
            this.deleteVisible = true;
          }else{
            this.toLeft();
          }
        }
      }else{
        this.toLeft();
      }
    },
    toLeft(){
      //右边到左边
      let newArr= this.rightList.filter((item) =>
          this.checkAllRightGroup.every((val) => val !== item.name)
      )
      let newArrLeft= this.rightList.filter((item) =>
          this.checkAllRightGroup.some((val) => val === item.name)
      )
      this.rightList = newArr;
      this.rightListShow = deepCopy(this.rightList);
      this.leftList = newArrLeft.concat(this.leftList);
      this.leftListShow = deepCopy(this.leftList);
      this.checkAllRightGroup = [];
      this.indeterminateRight = false;
      this.checkAllRight = false;
      this.filterLeftListShow(this.searchLeftValue)
      this.filterRightListShow(this.searchRightValue)
      this.$emit('changeData', this.rightList)
    },
    toRight(){
        //左边到右边
        let newArr= this.leftList.filter((item) =>
            this.checkAllLeftGroup.every((val) => val !== item.name)
        )
        let newArrRight= this.leftList.filter((item) =>
            this.checkAllLeftGroup.some((val) => val === item.name)
        )
        this.leftList = newArr;
        this.leftListShow = deepCopy(this.leftList);
        this.rightList = newArrRight.concat(this.rightList);
        this.rightListShow = deepCopy(this.rightList);
        //清空所选项
        this.checkAllLeftGroup = [];
        this.indeterminateLeft = false;
        this.checkAllLeft = false;
        //如果搜索框有值要返回新的搜索结果
        this.filterLeftListShow(this.searchLeftValue)
        this.filterRightListShow(this.searchRightValue)
        this.$emit('changeData', this.rightList)
    },
    searchLeft: _.debounce(function(e){
        let value = e.target.value;
        value = value.trim();
        this.filterLeftListShow(value)
    }, 300),
    filterLeftListShow(value) {
      if (value) {
        let filterArr = this.leftList.filter(item=>item.name.toUpperCase().indexOf(value.toUpperCase()) !== -1);
        this.leftListShow = filterArr;
      } else {
        this.leftListShow = deepCopy(this.leftList);
      }
    },
    searchRight: _.debounce(function(e){
        let value = e.target.value;
        value = value.trim();
        this.filterRightListShow(value)
    }, 300),
    filterRightListShow(value) {
      if (value) {
        let filterArr = this.rightList.filter(item=>item.name.toUpperCase().indexOf(value.toUpperCase()) !== -1);
        this.rightListShow = filterArr;
      } else {
        this.rightListShow = deepCopy(this.rightList);
      }
    },
    clearLeft(){
        this.searchLeftValue = '';
        this.leftListShow = this.leftList;
    },
    clearRight(){
        this.searchRightValue = '';
        this.rightListShow = this.rightList;
    },
    handleCheckLeftAll() {
      if (this.indeterminateLeft) {
        this.checkAllLeft = false;
      } else {
        this.checkAllLeft = !this.checkAllLeft;
      }
      this.indeterminateLeft = false;

      if (this.checkAllLeft) {
        this.checkAllLeftGroup = this.leftListShow.map(item=>item.name);
      } else {
        this.checkAllLeftGroup = [];
      }
    },
    checkAllLeftGroupChange(data) {
      if (data.length === this.leftListShow.length) {
        this.indeterminateLeft = false;
        this.checkAllLeft = true;
      } else if (data.length > 0) {
        this.indeterminateLeft = true;
        this.checkAllLeft = false;
      } else {
        this.indeterminateLeft = false;
        this.checkAllLeft = false;
      }
    },
    handleCheckRightAll() {
      if (this.indeterminateRight) {
        this.checkAllRight = false;
      } else {
        this.checkAllRight = !this.checkAllRight;
      }
      this.indeterminateRight = false;

      if (this.checkAllRight) {
        this.checkAllRightGroup = this.rightListShow.map(item=>item.name);
      } else {
        this.checkAllRightGroup = [];
      }
    },
    checkAllRightGroupChange(data) {
      if (data.length === this.rightListShow.length) {
        this.indeterminateRight = false;
        this.checkAllRight = true;
      } else if (data.length > 0) {
        this.indeterminateRight = true;
        this.checkAllRight = false;
      } else {
        this.indeterminateRight = false;
        this.checkAllRight = false;
      }
    },
    changeOption(item){
      let obj = {
        dataUpdateType: 3,
        effectiveDate: dateChange(2),
        fetchType: 1,
        frequencyType: 1,
        jobDetailConfig: "1,3",
        retryEnable: 2,
        time: "0:0",
      }
      this.rightList.forEach(ele=>{
        if(item.name === ele.name){
          ele.dateColumnName = item.dateColumnName;
          ele.jobConfig = ele.jobConfig ? ele.jobConfig : obj;
        }
      })
      this.$emit('changeData', this.rightList)
    },
  },
  watch: {
    dataList: {
        handler: function (val) {
            let arr = deepCopy(val);
            this.leftList = arr.map(item=>{
              return {
                ...item,
                dateColumn: item.columns.filter(row=>isDateColumn(row.dataType, row.name, row.label))
              };
            })
            this.leftListShow = deepCopy(this.leftList);
        },
        deep: true
    },
    targetList: {
        handler: function (val) {
            let arr = deepCopy(val);
            this.rightList = arr.map(item=>{
              return {
                ...item,
                dateColumn: item.columns.filter(row=>isDateColumn(row.dataType, row.name, row.label))
              }
            });
            this.rightListShow = deepCopy(this.rightList);
            this.handleSync();
        },
        deep: true
    },
  },
};
</script>
<style lang="less" scoped>
.TransferList-all {
  display: flex;
  align-items: center;
  .transfer-left {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 3px;
    width: 195px;
    .transfer-left-header {
      padding: 8px 13px;
      border-bottom: 1px solid rgba(217, 217, 217, 1);
      .transfer-left-header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11px;
        .sync {
          cursor: pointer;
          color: #3f73ff;
        }
      }
      /deep/.search {
        .ivu-input {
          height: 26px;
          line-height: 26px;
        }
        .ivu-input-icon {
          height: 26px;
          line-height: 26px;
        }
      }
    }
    .transfer-left-content {
      height: 300px;
      overflow: auto;
      .title{
        padding: 15px 13px 10px;
        font-size: 12px;
        color: #333333;
        font-weight: 600;
      }
      .check-item {
        padding: 7px 13px;
        color: #515a6e;
        font-size: 12px;
        cursor: pointer;
        display: block;
        margin-right: 0;
        .label-text{
          width: 135px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
          vertical-align: middle;
          margin-left: 3px;
        }
      }
      .check-item:hover {
        background: #f0f5ff;
      }
    }
  }
  .transfer-symbol {
    margin: 0 15px;
    /deep/ .ivu-btn {
      height: 22px;
      line-height: 22px;
      padding: 0;
      border-radius: 3px;
      .ivu-icon {
        font-size: 14px;
        margin-top: -5px;
      }
    }
  }
  .transfer-right{
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 3px;
    width: 482px;
    .transfer-right-header {
      padding: 8px 13px;
      border-bottom: 1px solid rgba(217, 217, 217, 1);
      .transfer-right-header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 11px;
        .sync {
          cursor: pointer;
          color: #3f73ff;
        }
        .sync-gray {
          cursor: not-allowed;
          color: #999999;
        }
      }
      /deep/.search {
        .ivu-input {
          height: 26px;
          line-height: 26px;
        }
        .ivu-input-icon {
          height: 26px;
          line-height: 26px;
        }
      }
    }
    .transfer-right-content {
      height: 300px;
      overflow: auto;
      .title-all{
        display: flex;
        padding: 15px 13px 10px;
        font-size: 12px;
        color: #333333;
        .title{
          font-weight: 600;
          width: 188px;
        }
        .title-right{
          padding: 0 15px;
        }
      }
      .check-item-all{
        display: flex;
        align-items: center;

        .check-item {
            padding: 7px 13px;
            color: #515a6e;
            font-size: 12px;
            cursor: pointer;
            width: 193px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .check-item:hover {
            background: #f0f5ff;
        }
        .check-item-slot{
            padding: 0 10px 0 15px;
            display: flex;
            align-items: center;
            position: relative;
            /deep/.ivu-select-single .ivu-select-selection {
              height: 28px;
              .ivu-select-placeholder{
                height: 28px;
                line-height: 28px;
              }
              .ivu-select-selected-value{
                height: 26px;
                line-height: 26px;
              }

            }
            .slot-link{
              font-size: 12px;
              color: #3F73FF;
              cursor: pointer;
              margin-left: 15px;
            }
            .slot-link-gray{
              font-size: 12px;
              color: #999999;
              cursor: not-allowed;
              margin-left: 15px;
            }
        }
      }
    }
  }
}
</style>
