<template>
  <div class="side-menu-wrapper">
    <slot></slot>
    <div ref="menuOuter" :class="[!isVerticalMode ? 'horizontalScrollMenu' : 'verticalScrollMenu']">
      <Menu
        ref="menu"
        :mode="mode"
        :active-name="activeName"
        :open-names="isVerticalMode ? openedNames : []"
        :accordion="accordion"
        :theme="theme"
        width="auto"
        @on-select="handleSelect"
        @on-open-change="handleOpenChange"
        :class="[sideMenuOpen ? 'sideMenuOpen' : 'sideMenuClose']"
        :style="{ left: menuLeft + 'px', transition: 'left .3s ease' }"
      >
        <template v-for="item in menuList">
          <template v-if="item.children && item.children.length === 1">
            <side-menu-item v-if="showChildren(item)" :key="`menu-${item.name}`" :parent-item="item" :sideMenuOpen="sideMenuOpen" />
            <menu-item
              v-else
              :name="getIdOrHref(item, true)"
              :key="item.children[0].id"
              :class="{
                showCreateReport: showTitle(item.children[0]) === '报告管理' && sideMenuOpen && getBtnAllow('1097038120879104'),
              }"
            >
              <img
                class="menuIcon"
                v-if="item.children[0].icon"
                :src="require('@/assets/images/menu/' + item.children[0].icon + '.svg')"
                :title="sideMenuOpen ? '' : showTitle(item.children[0])"
              />
              <img
                class="menuIconSelected"
                v-if="item.children[0].icon"
                :src="require('@/assets/images/menu/' + item.children[0].icon + 'Selected.svg')"
                :title="sideMenuOpen ? '' : showTitle(item.children[0])"
              />
              <span v-if="sideMenuOpen">{{ showTitle(item.children[0]) }}</span>
              <div
                v-if="isVerticalMode && sideMenuOpen"
                class="createReport"
                @click="toCreateReport"
                @mouseenter="mouseEnterCreateReport"
                @mouseleave="mouseLeaveCreateReport"
              >
                <img class="createReportImg" :src="require('@/assets/images/menu/createReport.svg')" />
                <img class="createReportImgSelected" :src="require('@/assets/images/menu/createReportSelected.svg')" />
              </div>
            </menu-item>
          </template>
          <template v-else>
            <side-menu-item v-if="showChildren(item)" :key="`menu-${item.name}`" :parent-item="item" :sideMenuOpen="sideMenuOpen" />
            <menu-item v-else :name="getIdOrHref(item)" :key="`menu-${item.name}`">
              <span v-if="sideMenuOpen && needIndent(showTitle(item))" style="margin-left: 24px"></span
              ><img
                class="menuIcon"
                v-if="item.icon"
                :src="require('@/assets/images/menu/' + item.icon + '.svg')"
                :title="sideMenuOpen ? '' : showTitle(item)"
              />
              <img
                class="menuIconSelected"
                v-if="item.icon"
                :src="require('@/assets/images/menu/' + item.icon + 'Selected.svg')"
                :title="sideMenuOpen ? '' : showTitle(item)"
              />
              <span v-if="sideMenuOpen">{{ showTitle(item) }}</span>
            </menu-item>
          </template>
          <Divider
            class="menuDivider"
            v-if="isVerticalMode && showDivider(item)"
            :style="{ 'min-width': sideMenuOpen ? 'calc(100% - 36px)' : '20px', width: sideMenuOpen ? 'calc(100% - 36px)' : '20px' }"
            dashed
          />
        </template>
      </Menu>

      <div v-if="showPage" class="menuPage">
        <Button type="primary" :disabled="leftDisabledButton" @click="handleScroll(240)">
          <img v-if="leftDisabledButton" src="@/assets/images/menuLeftArrowDisabled.svg" />
          <img v-else src="@/assets/images/menuLeftArrow.svg" />
        </Button>
        <Button :disabled="rightDisabledButton" @click="handleScroll(-240)">
          <img v-if="rightDisabledButton" src="@/assets/images/menuRightArrowDisabled.svg" />
          <img v-else src="@/assets/images/menuRightArrow.svg" />
        </Button>
        <Button @click="openSearchBox">
          <img src="@/assets/images/menuSearch.svg" />
        </Button>
      </div>

      <img v-show="showShadow && !leftDisabledButton" class="shadowImg leftShadowImg" src="@/assets/images/menuLeftShadow.svg" />
      <img v-show="showShadow && !rightDisabledButton" class="shadowImg rightShadowImg" src="@/assets/images/menuRightShadow.svg" />
      <transition name="fade">
        <div v-if="showSearchBox" class="searchBox">
          <Input v-model="searchMenuVal" class="searchMenuInput" placeholder="搜索菜单名称" clearable @on-change="watchSearchMenuValChange">
            <Icon type="ios-search" slot="prefix" />
          </Input>
          <Menu mode="vertical" :active-name="activeName" @on-select="handleSelect" width="calc(100% - 20px)" class="searchContent">
            <template v-for="item in searchTreeData">
              <template v-if="item.children && item.children.length === 1">
                <search-menu-item
                  v-if="showChildren(item)"
                  :key="`menu-${item.name}`"
                  :parent-item="item"
                  :searchMenuVal="searchMenuVal"
                  style="padding-bottom: 12px"
                />
                <menu-item v-else :name="getIdOrHref(item, true)" :key="item.children[0].id" class="menuTitle">
                  <span v-html="brightKeyword(showTitle(item.children[0]), searchMenuVal)"></span>
                </menu-item>
              </template>
              <template v-else>
                <search-menu-item
                  v-if="showChildren(item)"
                  :key="`menu-${item.name}`"
                  :parent-item="item"
                  :searchMenuVal="searchMenuVal"
                  style="padding-bottom: 12px"
                />
                <menu-item v-else :name="getIdOrHref(item)" :key="`menu-${item.name}`" class="menuTitle">
                  <span v-html="brightKeyword(showTitle(item), searchMenuVal)"></span>
                </menu-item>
              </template>
            </template>
          </Menu>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import SideMenuItem from "./components/side-menu-item.vue";
import SearchMenuItem from "./components/search-menu-item.vue";
import { getUnion } from "@/libs/tools";
import mixin from "./mixin";
import { debounce } from "@/utils/common";
const menuGroup = [
  ["搜索分析", "即席分析", "报告管理", "资产全景图", "知识库"],
  ["目标管理", "预警中心", "任务管理", "故事管理", "规则管理"],
  ["维度管理", "业务模型", "指标管理"],
  ["数据映射"],
  ["数据模型", "数据连接"],
  ["系统管理"],
];
const secondMenus = ["指标大厅", "报表超市"];
export default {
  name: "SideMenu",
  mixins: [mixin],
  components: {
    SideMenuItem,
    SearchMenuItem,
  },
  props: {
    menuList: {
      type: Array,
      default() {
        return [];
      },
    },
    mode: {
      type: String,
      default: "vertical",
    },
    theme: {
      type: String,
      default: "dark",
    },
    rootIconSize: {
      type: Number,
      default: 20,
    },
    iconSize: {
      type: Number,
      default: 16,
    },
    accordion: Boolean,
    activeName: {
      type: String,
      default: "",
    },
    openNames: {
      type: Array,
      default: () => [],
    },
    sideMenuOpen: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      openedNames: [],
      menuLeft: 0,
      showShadow: false,
      showSearchBox: false,
      searchMenuVal: "",
      searchTreeData: [],
      showPage: false,
      leftDisabledButton: true,
      rightDisabledButton: false,
    };
  },
  methods: {
    handleSelect(name) {
      // 如果查询框打开，则关闭查询框
      if (this.showSearchBox) {
        this.showSearchBox = false;
      }
      // 菜单收缩状态，点击后隐藏子菜单
      if (!this.sideMenuOpen) {
        setTimeout(() => {
          this.openedNames = [];
        }, 100);
      }
      this.$emit("on-select", name);
    },
    handleOpenChange(name) {
      // 菜单收缩状态，展开时设置二级菜单的位置
      if (name.length && !this.sideMenuOpen) {
        this.$nextTick(() => {
          let sideMenuClose = document.querySelector(".sideMenuClose");
          let subMenuOpened = sideMenuClose.querySelector(".ivu-menu-submenu.ivu-menu-opened");
          let contentHeight = document.body.clientHeight - 68;
          let top = subMenuOpened.getBoundingClientRect().top;
          setTimeout(() => {
            let submenuHeightStr = window.getComputedStyle(subMenuOpened.querySelector(".ivu-menu")).height;
            let submenuHeight = Number(submenuHeightStr.substr(0, submenuHeightStr.length - 2));
            if (top + submenuHeight < contentHeight) {
              subMenuOpened.querySelector(".ivu-menu").style.top = top + "px";
              subMenuOpened.querySelector(".ivu-menu").style.bottom = "auto";
            } else {
              subMenuOpened.querySelector(".ivu-menu").style.top = "auto";
              subMenuOpened.querySelector(".ivu-menu").style.bottom = 10 + "px";
            }
          }, 100);
        });
      }
    },
    getOpenedNamesByActiveName(name) {
      return this.$route.matched.map((item) => item.name).filter((item) => item !== name);
    },
    updateOpenName(name) {
      if (name === this.$config.homeName) this.openedNames = [];
      else this.openedNames = this.getOpenedNamesByActiveName(name);
    },
    handleScroll(offset) {
      const outerWidth = this.$refs.menuOuter.offsetWidth;
      const bodyWidth = this.$refs.menuOuter.children[0].offsetWidth;
      const pageWidth = this.$refs.menuOuter.children[1].offsetWidth;
      // 更改菜单left的值
      if (offset > 0) {
        this.menuLeft = Math.min(0, this.menuLeft + offset);
      } else {
        if (outerWidth < bodyWidth + pageWidth) {
          if (this.menuLeft < -(bodyWidth + pageWidth - outerWidth)) {
            this.menuLeft = this.menuLeft;
          } else {
            this.menuLeft = Math.max(this.menuLeft + offset, -(bodyWidth + pageWidth - outerWidth));
          }
        } else {
          this.menuLeft = 0;
        }
      }
      // 根据菜单更改之后的left值，修改左右按钮是否禁用
      if (this.menuLeft === 0) {
        this.leftDisabledButton = true;
        this.rightDisabledButton = false;
      } else if (this.menuLeft === -(bodyWidth + pageWidth - outerWidth)) {
        this.leftDisabledButton = false;
        this.rightDisabledButton = true;
      } else {
        this.leftDisabledButton = false;
        this.rightDisabledButton = false;
      }
    },
    // 点击查询按钮
    openSearchBox() {
      // 如果查询框打开，则关闭查询框
      if (this.showSearchBox) {
        this.showSearchBox = false;
      } else {
        this.searchTreeData = JSON.parse(JSON.stringify(this.menuList));

        this.showSearchBox = true;
      }
    },
    // 监听查询input的值
    watchSearchMenuValChange: debounce(function (e) {
      let arr = JSON.parse(JSON.stringify(this.menuList));
      let searchTreeData = this.filterNode(e.target.value, arr);
      this.searchTreeData = searchTreeData;
    }),
    filterNode(val, List) {
      let List1 = List.filter((item) => {
        if (item.children) {
          if (item.name.indexOf(val) > -1) {
            return true;
          }
          item.children = this.filterNode(val, item.children);
          if (!item.children.some((item1) => item1.name.indexOf(val) !== -1)) {
            if (item.children.some((item1) => item1.children)) {
              item.children.forEach((item2) => {
                item2.children && this.filterNode(val, item2.children);
              });
            } else {
              return item.name.indexOf(val) > -1;
            }
          }
          return true;
        }
        return item.name.indexOf(val) > -1;
      });
      return List1;
    },
    // 是否展示分隔线
    showDivider(item) {
      let showDivider = false;
      for (let i = 0; i < menuGroup.length; i++) {
        let menuGroupItem = menuGroup[i];
        for (let j = 0; j < menuGroupItem.length; j++) {
          if (menuGroupItem[j] === item.name) {
            if (j === menuGroupItem.length) {
              showDivider = true;
              break;
            } else {
              let sliceMenuGroupItem = menuGroupItem.slice(j + 1);
              let sliceExist = this.menuList.find((item) => sliceMenuGroupItem.includes(item.name));
              if (!sliceExist) {
                showDivider = true;
                break;
              }
            }
          }
        }
        if (showDivider) {
          break;
        }
      }
      return showDivider;
    },
    toCreateReport(e) {
      e.stopPropagation();
      this.$router.push("/template_add");
    },
    // 鼠标进入创建模板的按钮处 不影响前面报告管理的样式
    mouseEnterCreateReport(e) {
      e.target.parentElement.children[0].style.display = "block";
      e.target.parentElement.children[1].style.display = "none";
      e.target.parentElement.style.color = "#333";
    },
    mouseLeaveCreateReport(e) {
      e.target.parentElement.children[0].style = "none";
      e.target.parentElement.children[1].style = "none";
      e.target.parentElement.style = "none";
    },
    needIndent(menuName) {
      return secondMenus.indexOf(menuName) !== -1;
    },
  },
  computed: {
    textColor() {
      return this.theme === "dark" ? "#fff" : "#495060";
    },
    isVerticalMode() {
      return this.mode === "vertical";
    },
  },
  watch: {
    activeName(name) {
      if (this.accordion) this.openedNames = this.getOpenedNamesByActiveName(name);
      else this.openedNames = getUnion(this.openedNames, this.getOpenedNamesByActiveName(name));
    },
    openNames(newNames) {
      this.openedNames = newNames;
    },
    openedNames() {
      this.$nextTick(() => {
        this.$refs.menu.updateOpened();
      });
    },
  },
  mounted() {
    this.openedNames = getUnion(this.openedNames, this.getOpenedNamesByActiveName(name));
    if (!this.isVerticalMode) {
      // 是否展示分页器
      this.showPage = this.$refs.menuOuter.offsetWidth < this.$refs.menuOuter.children[0].offsetWidth;
      // 分页器显示，阴影也要显示
      this.showShadow = this.showPage;
    }
  },
};
</script>

<style lang="less">
@import "./index.less";
</style>

<style lang="less" scoped>
// 横向菜单左右滚动
.horizontalScrollMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 160px;

  .menuPage {
    position: absolute;
    top: 12px;
    right: 0;
    width: 160px;
    height: calc(~"100% - 18px");
    display: flex;
    justify-content: space-around;
    z-index: 999;
    background: #16234a;

    .ivu-btn {
      background-color: #16234a;
      border-color: #16234a;
      padding: 0;
    }

    .ivu-btn:focus {
      box-shadow: none;
    }
  }

  .shadowImg {
    position: absolute;
    z-index: 998;
  }

  .shadowImg.leftShadowImg {
    left: 0;
  }

  .shadowImg.rightShadowImg {
    right: 80px;
  }

  .searchBox {
    position: absolute;
    top: 68px;
    width: calc(~"100% - 160px");
    min-height: 200px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 0 10px 10px;
    border-radius: 4px;
    z-index: 899;
    line-height: normal;

    .searchMenuInput {
      line-height: 40px;

      /deep/ .ivu-input {
        border: none;
        border-bottom: 1px solid #eaeaea;
        border-radius: 0;
      }

      /deep/ .ivu-input:focus {
        box-shadow: none;
      }
    }

    .searchContent {
      position: relative;
    }

    .ivu-menu-light.ivu-menu-vertical {
      display: flex;
      flex-wrap: wrap;
      margin-right: 10px;

      > * {
        width: 23%;
        margin-right: 2%;
      }

      .ivu-menu-item {
        padding: 0 0 12px;
        font-size: 12px;
      }

      .menuTitle {
        color: #333333;
        font-weight: bold;

        > span {
          width: 100%;
          white-space: pre-wrap;
        }
      }
    }
  }
}

.horizontalScrollMenu /deep/ .ivu-menu {
  position: absolute;
  white-space: nowrap;

  > li {
    display: inline-block;
    float: none;
  }

  &.ivu-menu-horizontal {
    height: inherit;
    line-height: inherit;
  }
}

.verticalScrollMenu {
  height: 100%;
  overflow: auto;

  .ivu-menu-light.ivu-menu-vertical {
    .ivu-menu-item,
    .ivu-menu-submenu /deep/ .ivu-menu-submenu-title {
      display: flex;
      white-space: nowrap;

      .menuIcon {
        display: block;
        margin-right: 8px;
      }

      .menuIconSelected {
        display: none;
        margin-right: 8px;
      }

      &:hover,
      &.ivu-menu-item-active {
        .menuIcon {
          display: none;
        }

        .menuIconSelected {
          display: block;
        }
      }
    }

    // 子级菜单被选中时 父级菜单也要加选中样式
    .ivu-menu-submenu.ivu-menu-child-item-active /deep/ .ivu-menu-submenu-title {
      .menuIcon {
        display: none;
      }

      .menuIconSelected {
        display: block;
      }
    }
  }

  .menuDivider {
    border-top: 1px solid rgba(197, 207, 231, 0.26);
    margin: 20px 20px 20px 16px;

    &:last-child {
      display: none;
    }
  }

  .sideMenuOpen {
    .ivu-menu-submenu {
      /deep/ .ivu-menu {
        .ivu-menu-item {
          padding-left: 62px !important;
          white-space: nowrap;
        }
      }
    }

    .ivu-menu-item {
      .createReport {
        display: none;
      }

      &.showCreateReport {
        width: calc(~"100% - 65px");

        .createReport {
          display: block;
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: -55px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 4px;

          .createReportImg {
            display: block;
          }

          .createReportImgSelected {
            display: none;
          }

          &:before {
            content: "";
            position: absolute;
            left: -6.5px;
            width: 1px;
            height: 26px;
            background: rgba(197, 207, 231, 0.37);
          }

          &:hover {
            background: #f0f5ff;

            .createReportImg {
              display: none;
            }

            .createReportImgSelected {
              display: block;
            }
          }
        }
      }
    }
  }

  .sideMenuClose {
    .ivu-menu-submenu {
      /deep/ .ivu-menu-submenu-title {
        .ivu-menu-submenu-title-icon {
          opacity: 0;
        }
      }

      /deep/ .ivu-menu {
        position: fixed;
        background: #fff !important;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        left: 58px;

        .ivu-menu-item {
          padding: 10px 20px !important;
        }
      }
    }
  }
}
</style>
