<template>
  <div class="quickAction-container">
    <!-- 个人信息 -->
    <PersonInfo :info="personInfo" v-if="isShow(2)" />

    <!-- 快捷创建 -->
    <QuickJump title="快捷创建" :list="createList" v-if="isShow(3)" @goto="gotoPage" />

    <!-- 快捷访问 -->
    <QuickJump title="快捷访问" :list="accessList" v-if="isShow(4)" @goto="gotoPage" />

    <!-- 预警 -->
    <EarlyWarning title="当前指标预警情况" :list="earlyWarningList" v-if="isShow(5)" @goto:more="gotoMore"
      @goto:item="gotoItem" />

    <!-- 目标 -->
    <TargetSituation title="目标完成情况" :list="targetList" v-if="isShow(6)" @goto:more="gotoMore" @goto:item="gotoItem" />

    <!-- 任务 -->
    <TaskSituation title="任务执行情况" :list="taskList" v-if="isShow(7)" @goto:more="gotoMore" @goto:item="gotoItem" />
  </div>
</template>

<script>
import { QUICK_CREATION_LIST, QUICK_ACCESS_LIST, FIELD_MAPPING_ROUTE } from "@/view/workbenchPreview/constant/icon";
import PersonInfo from "./components/PersonInfo";
import QuickJump from "./components/QuickJump";
import EarlyWarning from "./components/EarlyWarning";
import TargetSituation from "./components/TargetSituation";
import TaskSituation from "./components/TaskSituation";
import { getWarnTaskList } from "@/api/earlyWarningTarget";
import { DEFAULT_SHOW } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";
import { TAB_LIST } from "@/view/taskManage/constant";
import { getTaskList } from "@/api/taskManage";
import { getUserResourceRank } from "@/dmp/api/workbench";
import { getObjectList } from '@/api/aimManagement';
import objectManageMixin from '@/view/objectManage/object-manage-mixin'
import { getBusinessDate } from "@/utils/dateFormat";
import { getCompareDate } from "@/utils/chartDate";

const curDate = getBusinessDate();
const compareDate = getCompareDate("SC", { startDate: curDate, endDate: curDate, compareType: "mom" }, [, , , "2"]);
export default {
  components: {
    PersonInfo,
    QuickJump,
    EarlyWarning,
    TargetSituation,
    TaskSituation
  },
  props: {
    existModule: {
      type: Array,
      required: true
    }
  },
  mixins: [objectManageMixin],
  data() {
    return {
      personInfo: {
        name: this.$store.state.user.nickName,
        dept: this.$store.state.user.deptName
      },
      createList: QUICK_CREATION_LIST,
      accessList: [],
      earlyWarningList: [],
      targetList: [],
      taskList: []
    };
  },
  computed: {
    isShow() {
      return v => this.existModule.includes(v);
    }
  },
  created() {
    // 快捷访问
    if (this.isShow(4)) {
      this.getRankMenu();
    }

    // 预警
    if (this.isShow(5)) {
      this.getEarlyWarningData();
    }

    // 目标
    if (this.isShow(6)) {
      this.getTargetList();
    }

    // 任务
    if (this.isShow(7)) {
      this.getTaskData();
    }
  },
  methods: {
    async getRankMenu() {
      const res = await getUserResourceRank({ userId: this.$store.state.user.userId });
      if (res.data.state === "success") {
        const newData = res.data.data.filter(ele => this.$store.state.app.businessMenus.map(ele => ele.id).includes(Number(ele))); // 只保留顶部配置的菜单
        this.accessList = newData.slice(0, 8).map((menuId, i) => {
          const { id, name, path } = this.$store.state.app.businessMenus.find(ele => ele.id === Number(menuId));
          return {
            id: id,
            name: name,
            defaultIcon: QUICK_ACCESS_LIST[i].default,
            hoverIcon: QUICK_ACCESS_LIST[i].hover,
            path: path
          };
        });
      }
    },
    async getEarlyWarningData() {
      const res = await getWarnTaskList({ taskType: 1 });
      if (res.data.state === "success") {
        const data = res.data.data.filter(ele => ele.status === 2).slice(0, 2); // 已上线的前2条数据
        this.earlyWarningList = data.map(ele => ({
          id: ele.id,
          name: ele.name,
          watchLabel: this.getWatchLabel(ele), // 预警状态
          currentValue: ele.execRecord?.currentValue || DEFAULT_SHOW, // 当前值
          limitValue: ele.execRecord?.limitValue || DEFAULT_SHOW, // 阈值
          manager: ele.managerName || DEFAULT_SHOW // 负责人
        }));
      }
    },
    getWatchLabel({ execRecord, status }) {
      //正常1 //预警等级+1  //-1默认横线  //-2失败
      if (execRecord) {
        const { execStatus, level } = execRecord;
        if (execStatus === 1) {
          return -2;
        } else if (execStatus === 2) {
          return 1;
        } else if (execStatus === 3) {
          return level + 1;
        } else {
          return -1;
        }
      } else {
        return -1;
      }
    },
    async getTargetList() {
      const res = await getObjectList({
        pageNum: 1,
        pageSize: 10
      });
      if (res.data.state === "success") {
        const dataList = res.data.data?.data?.map(item => item[0]).slice(0, 3);
        let targetList = await Promise.all(
          dataList.map(async (item) => {
            const { indicatorId, indicatorType, dimensionId, dimensionMember } = item
            let res = await this.getCompareData(indicatorId, dimensionId, dimensionMember, indicatorType, compareDate, curDate)
            if (res.indicatorValue) {
              return {
                ...item, indicatorValue: res.indicatorValue
              }
            }
          })
        )
        this.targetList = targetList.map(ele => {
          return {
            id: ele.id,
            name: ele.title,
            manager: ele.mangerName,
            progress: this.percent(ele.indicatorValue, ele.aimValue),
            riskLevel: this.riskLevelRule(ele, 'text')
          }
        });
      }
    },
    async getTaskData() {
      const param = {
        pageNum: 1,
        pageSize: 1000
      };
      const res = await getTaskList(param);
      if (res.data.code === 0) {
        this.taskList = TAB_LIST.map(ele => ({
          id: ele.value,
          name: ele.name,
          num: ele.value === -1 ? res.data.count : res.data.data.filter(i => i.status === ele.value).length
        }));
      }
    },
    gotoPage({ name, path }, title) {
      if (title === "快捷创建") {
        this.$router.push({
          path,
          query: {
            from: "workbenchPreview"
          }
        });
      } else if (title === "快捷访问") {
        // 和顶部菜单写法一致
        this.$router.push({
          name: `top_${name}`
        });
      }
    },
    gotoMore(type) {
      this.$router.push({
        path: FIELD_MAPPING_ROUTE[type]
      });
    },
    gotoItem({ id }, type) {
      const query = {};
      if (type === "taskSituation") {
        query.tabId = id;
      } else {
        query.id = id;
      }
      this.$router.push({
        path: FIELD_MAPPING_ROUTE[type],
        query
      });
    }
  }
};
</script>

<style lang="less" scoped>
.quickAction-container {
  width: 100%;
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #cccccc;
  }

  .personInfo-container {
    height: 114px;
    margin-bottom: 24px;
  }

  .quickJump-container {
    height: 283px;
    margin-bottom: 24px;
  }

  .earlyWarning-container {
    height: 226px;
    margin-bottom: 24px;
  }

  .targetSituation-container {
    height: 258px;
    margin-bottom: 20px;
  }

  .taskSituation-container {
    height: 162px;
  }
}
</style>
