<template>
  <div class="label-container">
    <div class="label-left">
      <div class="label-title">
        <span>标签</span>
        <img @click="createLabelGroup" class="label-group-add-icon" alt="">
      </div>
      <Input class="label-search-input" search clearable
             placeholder="请输入标签组名"
             @on-change="onSearchLabelGroup"/>
      <div class="label-list">
        <ul>
          <li v-for="group in labelGroup"
              :class="group.id === currentChooseLabelGroup.id?'label-group-select':null">
            <div style="cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" @click="chooseLabelGroup(group)">
              <img src="@/assets/icons/label-group-icon.png" style="width: 12px;height: 12px;margin-right: 8px" alt="">
              <span class="label-name">{{group.name}}</span>
            </div>
            <div class="buttons">
              <img class="label-group-edit-icon" alt="" @click="editLabelGroup(group)">
              <img class="label-group-delete-icon" alt="" @click="deleteLabelGroup(group)">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="label-right">
      <div class="nameBtnBox">
        <div id="dimNameIpt">{{currentChooseLabelGroup.name}}</div>
      </div>
      <div>
        <div>
          <span style="margin-right: 8px">标签名：</span>
          <Input v-model="keyword" placeholder="请输入标签名" clearable
                 style="width: 200px;margin-right: 12px"/>
          <Button icon="ios-search" type="primary" class="allBtnStyle changeIcon" @click="onSearchLabel">查询</Button>
        </div>
        <div>
          <div class="label-item" v-for="item in currentChooseLabels">
            <span style="margin-right: 10px">{{item.name}}</span>
            <img src="@/assets/icons/label-delete.png" @click="deleteLabel(item.id)"
                 style="height:14px; cursor: pointer">
          </div>
        </div>
        <Poptip v-model="labelAddVisible" placement="bottom" width="140" @on-popper-show="addLabel" @on-popper-hide="doAddLabel">
          <div class="label-item" style="border-style: dashed; background-color: transparent; cursor: pointer">
            <img src="@/assets/icons/label-group-add.png" style="margin-right: 6px; height:18px">
            <span>添加标签</span>
          </div>
          <div slot="content" style="overflow: hidden">
            <input id="label-input" v-model.trim="labelAdd" autocomplete="off" @keyup.enter="doAddLabel"
                   maxlength="30"
                   style="border: none; outline: none; height: 20px" />
          </div>
        </Poptip>
      </div>
    </div>
    <Modal v-model="labelGroupModalShow" class="addGroupModalClass" :title="labelGroupModalShowTitle"
           :mask-closable="false">
      <div>
        <span style="margin-right: 12px">标签组名：</span>
        <Input v-model.trim="currentLabelGroup.name" placeholder="请输入标签组名" :maxlength="30" clearable style="width: 212px"/>
      </div>
      <div slot="footer">
        <Button type="text" @click="() => { this.labelGroupModalShow = false }">取消</Button>
        <Button type="primary" @click="doCreateLabelGroup">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
  import {
    addLabel,
    addLabelGroup,
    deleteLabel,
    deleteLabelGroup,
    getLabelByGroupId,
    getLabelGroup,
    updateLabelGroup
  } from '@/api/label'

  export default {
    components: {},
    data() {
      return {
        labelGroup: [],
        labelGroupModalShow: false,
        labelGroupModalShowTitle: '',
        keyword: '',
        currentLabelGroup: { name: '' },
        currentChooseLabelGroup: { name: '' },
        currentChooseLabels: [],
        labelAddVisible: false,
        labelAdd: ''
      }
    },
    created() {
      this.labelGroupBak = undefined
      this.currentChooseLabelsBak = undefined
    },
    mounted() {
      this.getLabelGroup()
    },
    methods: {
      getLabelGroup() {
        getLabelGroup().then(res => {
          let data = res.data
          if (data.state === 'success') {
            this.labelGroup = data.data
            this.labelGroupBak = data.data
            if (this.labelGroup.length > 0) {
              this.chooseLabelGroup(this.labelGroup[0])
            }
          }
        })
      },

      chooseLabelGroup(item) {
        this.currentChooseLabelGroup = item
        getLabelByGroupId(item.id).then(res => {
          let data = res.data
          this.currentChooseLabels = data.data
          this.currentChooseLabelsBak = data.data
        })
      },

      createLabelGroup() {
        this.labelGroupModalShowTitle = '新增标签组名'
        this.labelGroupModalShow = true
        this.currentLabelGroup = { name: '' }
      },

      editLabelGroup(item) {
        this.labelGroupModalShowTitle = '编辑标签组名'
        this.labelGroupModalShow = true
        this.currentLabelGroup = Object.assign({}, item)
      },

      deleteLabelGroup(item) {
        let title = item.name
        if (title.length > 12) {
          title = title.slice(0, 12)
        }
        this.$Modal.confirm({
          title: `确认删除“<span title="${item.name}">${title}</span>”吗？`,
          content: '删除后不可撤销',
          okText: '确认',
          onOk: () => {
            this.doDeleteLabelGroup(item.id)
          }
        })
      },

      doCreateLabelGroup() {
        if (this.currentLabelGroup.name) {
          if (this.currentLabelGroup.id) {
            updateLabelGroup({
              id: this.currentLabelGroup.id,
              name: this.currentLabelGroup.name
            }).then(res => {
              let data = res.data
              if (data.state === 'success') {
                this.$Message.success(data.message)
                this.labelGroupModalShow = false
                this.getLabelGroup()
              } else {
                this.$Message.error(data.message)
              }
            })
          } else {
            addLabelGroup({
              name: this.currentLabelGroup.name
            }).then(res => {
              let data = res.data
              if (data.state === 'success') {
                this.$Message.success(data.message)
                this.labelGroupModalShow = false
                this.getLabelGroup()
              } else {
                this.$Message.error(data.message)
              }
            })
          }
        } else {
          this.$Message.error('请填写标签组名')
        }
      },

      doDeleteLabelGroup(id) {
        deleteLabelGroup(id).then(res => {
          let data = res.data
          if (data.state === 'success') {
            this.$Message.success(data.message)
            this.getLabelGroup()
          } else {
            this.$Message.error(data.message)
          }
        })
      },

      onSearchLabelGroup(e) {
        let value = e.target.value
        if (value) {
          this.labelGroup = this.labelGroupBak.filter(item => item.name.indexOf(value) !== -1)
        } else {
          this.labelGroup = this.labelGroupBak
        }
        if (this.labelGroup.length > 0) {
          this.chooseLabelGroup(this.labelGroup[0])
        }
      },

      addLabel() {

        if (this.labelGroup.length === 0) {
          this.$Message.error("请先添加标签组")
          return;
        }

        this.$nextTick(() => {
          document.querySelector('#label-input').focus()
        })
      },

      deleteLabel(id) {
        deleteLabel(id).then(res => {
          this.chooseLabelGroup(this.currentChooseLabelGroup)
        })
      },

      doAddLabel() {
        if (this.labelAdd) {
          addLabel({
            name: this.labelAdd,
            groupId: this.currentChooseLabelGroup.id
          }).then(res => {
            if (res.data?.state === 'success') {
              this.chooseLabelGroup(this.currentChooseLabelGroup)
              this.labelAdd = ''
              this.labelAddVisible = false
            } else if (res.data?.state === 'error') {
              this.$Message.error(res.data.message)
            } else {
              this.$Message.error('添加标签失败')
            }
          })
        }
      },

      onSearchLabel() {
        let value = this.keyword
        if (value) {
          this.currentChooseLabels = this.currentChooseLabelsBak.filter(item => item.name.indexOf(value) !== -1)
        } else {
          this.currentChooseLabels = this.currentChooseLabelsBak
        }
      }
    }
  }
</script>

<style lang="less" scoped>
  .label-container {
    height: 100%;
    display: flex;

    .label-left {
      width: 20%;
      height: 100%;
      padding: 16px;
      display: flex;
      flex-direction: column;

      .label-title {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .label-search-input {
        margin: 16px 0 0 0;
      }

      .label-list {
        margin-top: 16px;
      }

      .label-list li {
        display: flex;
        justify-content: space-between;
        padding: 4px 2px;
        margin-bottom: 4px;
      }

      .label-list li .buttons {
        flex-shrink: 0;
        display: none;
      }

      .label-list li:hover .buttons {
        display: flex;
      }

      .label-list li .label-name:hover {
        color: #3F73FF;
      }

      .label-name {
        font-size: 12px;
        color: #333333;
        font-weight: 400
      }


      .label-list li.label-group-select span{
        color: #3F73FF;
      }
    }

    .label-right {
      width: 80%;
      height: 100%;
      border-left: 1px solid #EAEAEA;
      padding: 12px 24px;
      display: flex;
      flex-direction: column;

      .nameBtnBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        #dimNameIpt {
          font-weight: bold;
          font-size: 16px;
          color: #555555;
          font-weight: bold;
          width: 250px;
          height: 28px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: break-all;
        }
      }

    }

    .label-group-add-icon {
      content: url("~@/assets/icons/label-group-add.png");
      height: 20px;
      cursor: pointer;
    }

    .label-group-edit-icon {
      content: url("~@/assets/icons/dimensionIcon/treeEdit.svg");
      height: 16px;
      cursor: pointer;
      margin-right: 6px;
    }

    .label-group-edit-icon:hover {
      content: url("~@/assets/icons/dimensionIcon/blueEdit.svg");
    }

    .label-group-delete-icon {
      height: 16px;
      cursor: pointer;
      content: url("~@/assets/icons/dimensionIcon/treeDelete.svg");
    }

    .label-group-delete-icon:hover {
      content: url("~@/assets/icons/dimensionIcon/treeDeleteBlue.svg");
    }

    .label-item {
      display: inline-flex;
      height: 29px;
      border-radius: 20px;
      background-color: #E7EEFF;
      border: 1px solid rgba(141, 172, 255, 1);
      color: #3F73FF;
      font-weight: 400;
      margin-right: 20px;
      margin-top: 20px;
      padding: 5px 10px;
      align-items: center;
    }

    .allBtnStyle {
      background: #3F73FF;
      border-radius: 2px;
    }

    .changeIcon {
      /deep/ .ivu-icon {
        margin-top: 2%;
      }

      /deep/ .ivu-icon::before {
        content: url("~@/assets/images/system/buttonSearch.svg");
      }
    }

  }
</style>
