<template>
  <div class="authorization-management">
    <Header />
    <div class="body">
      <LeftTabs />
      <RightTabs />
    </div>
  </div>
</template>

<script>
import Header from '@/view/system/authorizationManagement/components/Header.vue'
import LeftTabs from '@/view/system/authorizationManagement/components/LeftTabs/index.vue'
import RightTabs from '@/view/system/authorizationManagement/components/RightTabs/index.vue'
import { mapActions } from 'vuex'

export default {
  name: 'authorizationManagement',
  components: {
    Header,
    LeftTabs,
    RightTabs,
  },
  mounted() {
    this.setViewDimension('user')
    this.setLeftTab('department')
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'setViewDimension',
      'setLeftTab',
    ]),
  },
}
</script>

<style scoped lang="less">
.authorization-management {
  height: 100%;
}

.body {
  margin-top: 12px;
  background: #fff;
  height: calc(~'100% - 43px');
  display: flex;
}

/deep/ .ivu-tabs {
  .ivu-tabs-nav .ivu-tabs-tab {
    height: 60px;
    line-height: 60px;
    padding: 0 16px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  .ivu-tabs-nav .ivu-tabs-tab-active {
    color: #3F73FF;
  }
  .ivu-tabs-nav-next, .ivu-tabs-nav-prev {
    line-height: 60px;
  }
  .ivu-tabs-bar {
    border-bottom: 1px solid #F1F5FA;
  }
  .ivu-tabs-ink-bar {
    background-color: #3F73FF;
  }
}

/deep/ .ivu-tree-arrow-disabled {
  cursor: pointer;
}

// Tabs组件样式重写
/deep/ .ivu-tabs {
  height: 100%;

  .ivu-tabs-content {
    height: calc(~'100% - 75px');
  }
}
</style>
