<template>
<div class="knowledge-add-wrap">
  <div class="knowledge-add-header">
    <h2>{{pageTitle}}</h2>
    <div class="btn-group">
      <Button type="primary" style="margin-right: 15px" @click="save">保存</Button>
      <Button @click="gotoList">返回知识库</Button>
    </div>
  </div>

  <div class="content-wrap">
    <div class="knowledge-form">
      <div class="form-item">
        <div class="form-item-label">知识名称：</div>
        <Input placeholder="请输入" v-model="name"></Input>
      </div>
      <Input v-model="desc" type="textarea" :rows="20" placeholder="知识描述..." style="margin-top: 20px"/>
      <div class="upload-file-container uploading">
<!--        <div class="file-list">-->
<!--          <div class="file-list-item" v-for="file in fileList" @click="downloadFile(file)">-->
<!--            <div class="content">-->
<!--              <div class="file-name-wrapper">-->
<!--                <span class="file-name" :title="file.name" v-show="!file.edit">{{ file.fileName }}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <UploadFile :file-list="fileList" :is-uploading="isUploading" @update:fileList="changeFileList" />
      </div>

    </div>
  </div>
</div>
</template>

<script>
import {knowledgeAdd, updateKnowledge} from '@/api/knowledge'
import {previewImg, uploadImg} from '@/api/report'
import {mapGetters} from "vuex";
import UploadFile from '@/view/taskManage/components/UploadFile'
export default {
  name: "knowledgeAdd",
  components: {
    UploadFile
  },
  data() {
    return {
      name: null,
      desc: null,
      fileList: [],
      taskCopy: null,
      isUploading: false, // 是否正在上传
      uploadedFileList: [], // 已上传的文件
    }
  },
  computed: {
    ...mapGetters('task', [
      'newTask'
    ]),
    pageTitle() {
      return this.taskCopy && this.taskCopy.id ? '编辑知识' : '创建知识'
    }
  },
  mounted() {
    if (this.newTask) {
      // 在当前页面刷新store中的newTask会丢失，需要存到localStorage做兼容处理
      localStorage.setItem('newTask', JSON.stringify(this.newTask))
      this.taskCopy = this.newTask
    } else {
      if (localStorage.getItem('newTask')) {
        this.taskCopy = JSON.parse(localStorage.getItem('newTask'))
      }
    }
    if (this.taskCopy) {
      this.name = this.taskCopy.name
      this.desc = this.taskCopy.desc
      this.fileList = this.taskCopy.fileList.map(item => {
        return {
          fileName: item.name,
          fileId: item.id,
          name: item.name
        }
      })
    }
  },
  methods: {
    gotoList() {
      this.$router.push('/knowledge')
    },
    async save() {
      if (this.isUploading) return;
      // 1、循环文件，依次上传至服务器
      this.isUploading = true;
      await this.uploadAllFile();
      this.isUploading = false;

      let param = {
        name: this.name,
        description: this.desc,
        files: this.fileList.map(item => {
          return {
            fileId: item.fileId || item.id,
            fileName: item.fileName || item.name,
          }
        })
      }
      if (this.taskCopy.id) {
        param = Object.assign(param, { id: this.taskCopy.id})
        const updateRes = await updateKnowledge(param)
        if (updateRes.data.state === "success") {
          this.$Message.success('修该知识成功')
          this.gotoList()
        } else {
          this.$Message.error('修该知识失败')
        }
      } else {
        const addRes = await knowledgeAdd(param)
        if (addRes.data.state === "success") {
          this.$Message.success('创建知识成功')
          this.gotoList()
        } else {
          this.$Message.error('创建知识失败')
        }
      }
    },
    /**
     * 上传所有的文件
     */
    async uploadAllFile() {
      for (let ele of this.fileList) {
        if (!ele.file) continue; // 过滤已上传的文件
        const formData = new FormData();
        formData.append("file", ele.file, ele.name);
        const res = await uploadImg(formData, { onUploadProgress: this.onUploadProgress(ele) });
        const { state, data } = res.data;
        if (state === "success") {
          const { id, name } = data;
          this.$set(ele, "result", 1);
          this.$set(ele, "progress", 100);
          this.$set(ele, "id", id);
          this.$set(ele, "name", name);
          this.$set(ele, "file", null); // 上传过的文件，置为null，在点击保存的时候会过滤掉
          this.uploadedFileList.push({ id, name });
        } else {
          this.$set(ele, "result", 2);
          this.$set(ele, "progress", 60);
          this.$Message.error("文件上传失败");
        }
      }
    },
    /**
     * 上传进度(axios配置项)
     */
    onUploadProgress(file) {
      return progressEvent => {
        let percentCompleted = Math.round((progressEvent.loaded * 100) / progressEvent.total);
        // 找到正在上传的文件，更新progress
        const fileIndex = this.fileList.findIndex(fileItem => fileItem.id === file.id);
        if (fileIndex > -1 && percentCompleted < 100) {
          this.$set(this.fileList[fileIndex], "progress", percentCompleted);
          this.$set(this.fileList[fileIndex], "result", 3);
        }
      };
    },
    getFileMime(fileName) {
      const strArr = fileName.split(".")
      const fileType = strArr[strArr.length - 1]
      let mine = ''
      if (fileType == 'doc') {
        mine = "application/msword";
      } else if (fileType === "docx") {
        mine = "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
      } else if (fileType === "pdf") {
        mine = "application/pdf"
      } else if (fileType === "zip"){
        mine = "application/x-zip-compressed"
      } else if (fileType === "xls") {
        mine = "application/vnd.ms-excel"
      } else if (fileType === "xlsx") {
        mine = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      } else if (fileType === "rar") {
        mine = "application/x-rar-compressed"
      }
      return mine
    },
    downloadFile(file){
      return
      previewImg(file.fileId).then(res => {
        if(res) {
          const blob = new Blob([res.data], {type: this.getFileMime(file.name)});
          //创建标签
          const link = document.createElement("a");
          link.style.display = "none";
          //设置标签href属性为文件路径
          const href = URL.createObjectURL(blob);
          link.href = href;
          //设置下载文件名
          link.download = file.name
          document.body.appendChild(link);
          //点击触发下载
          link.click();
          //移除标签
          document.body.removeChild(link);
          // 释放掉blob对象
          window.URL.revokeObjectURL(href);
        }
      })
    },
    changeFileList(type, val) {
      if (type === "add") {
        this.fileList.push(val);
      } else if (type === "clear") {
        this.fileList = val;
        this.uploadedFileList = [];
      } else if (type === "delItem") {
        const index1 = this.fileList.findIndex(ele => ele.id === val);
        this.fileList.splice(index1, 1);
        // 移除已上传的文件
        const index2 = this.uploadedFileList.findIndex(ele => ele.id === val);
        index2 !== -1 && this.uploadedFileList.splice(index2, 1);
      }
    },
  }
}
</script>

<style scoped lang="less">
.knowledge-add-wrap{
  padding: 15px 20px 30px;
  opacity: 0.95;
  background: #ffffff;
  border-radius: 8px;
  margin: 10px;
  .knowledge-add-header{
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: PingFangSC-Medium;
      font-size: 18px;
      color: #333333;
      letter-spacing: 0.58px;
      text-align: left;
      line-height: 32px;
      font-weight: bold;
    }
  }

  .content-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .knowledge-form{
      width: 50%;
      max-width: 800px;
      .form-item{
        display: flex;
        align-items: center;
        .form-item-label{
          white-space: nowrap;
          color: rgba(0,0,0,0.45);
        }
      }
      .action-btn{
        margin-top: 10px;
        display: flex;
        position: relative;
        .clear-btn{
          position: absolute;
          left: 100px;
        }
      }
    }
  }
  .upload-file-container {
    margin-top: 20px;
  }
  .upload-file-container.uploading {
    .file-list {
      //height: 100%;
      //overflow: auto;
      margin: 0;

      //&::-webkit-scrollbar-thumb {
      //  background: #1890FF;
      //}
      //
      //&::-webkit-scrollbar-track {
      //  background: rgba(24, 144, 255, .1);
      //}

      .file-list-item {
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:hover,
        &.selected {
          cursor: pointer;
          background-color: rgba(216, 216, 216, 0.25);

          .file-name-wrapper:before {
            content: url("~@/assets/icons/dataSetList/file-active.svg");
          }

          .file-name {
            color: #000;
          }
        }

        &:hover .tools {
          display: block;
        }

        &.success .file-name {
          color: #2A90ED;
        }

        &.fail .file-name {
          color: #FF4D4F;
        }

        .content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px;
          line-height: 22px;
        }

        .file-name-wrapper {
          display: flex;
          align-items: center;

          &:before {
            content: url("~@/assets/icons/dataSetList/file-active.svg");
            display: inline-block;
            font-size: 0;
            width: 14px;
            height: 14px;
            vertical-align: -2px;
            margin-right: 2px;
          }
        }

        .file-name {
          // color: #9d9d9d;
          color: #000;
          transition: color 0.2s linear;
          max-width: 300px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .file-name-input {
          display: inline-block;
          width: 150px;

          /deep/ .ivu-input {
            height: 24px;
          }
        }

        img {
          width: 14px;
          height: 14px;
          vertical-align: -2px;

          + img {
            margin-left: 5px;
          }
        }

        .tools {
          display: none;
        }
      }
    }
  }
}
</style>
