<template>
  <div class="knowledgeDetails">
    <h2>知识列表</h2>
    <div class="search">
      <ul>
        <li
          :class="{ active: checked === item }"
          v-for="item in sortList"
          :key="item"
          @click="onSort(item)"
        >
          {{ item }}
        </li>
      </ul>
      <Input
        v-model="name"
        suffix="ios-search"
        placeholder="请输入关键词"
        style="width: 260px"
      />
    </div>
    <table-detail :data-list="dataList"  @refreshData="fetchDataList"
                  :pageCondition="pageCondition" @changePageData="changePageData"></table-detail>
  </div>
</template>
<script>
import tableDetail from "@/components/knowledgeDetails/tableDetail";
import {getKnowledgeList} from '@/api/knowledge'
export default {
  name: 'knowledgeDetails',
  components: {
    tableDetail
  },
  data() {
    return {
      name: "",
      sortList: ["全部", "最新", "最热", "点赞最多", "收藏最多", "我的收藏", '我的点赞'],
      checked: "全部",
      dataList: [],
      // 分页数据
      pageCondition: {
        pageSize: 10,
        currentPage: 1,
        total: 0
      }
    };
  },
  computed: {},
  watch: {
    name(val) {
      this.fetchDataList(val)
    }
  },
  mounted() {
    this.fetchDataList()
  },
  methods: {
    onSort(name) {
      this.checked = name;
      this.fetchDataList()
    },
    getOrder() {
      const orderParams = [{
        name: "全部",
        value: ''
      }, {
        name: "最新",
        value: 'create_time'
      },{
        name: "最热",
        value: 'share_count'
      },{
        name: "点赞最多",
        value: 'like_count'
      },{
        name: "收藏最多",
        value: 'collect_count'
      },{
        name: "我的收藏",
        value: ''
      },{
        name: "我的点赞",
        value: ''
      }]
      return orderParams.find(item => item.name === this.checked).value
    },
    getQueryType() {
      return this.checked === '我的收藏' ? 2 : this.checked === '我的点赞' ? 1 : 0
    },
    fetchDataList() {
      const param = {
        name: this.name,
        order: this.getOrder(),
        sort: 'DESC',
        pageNum: this.pageCondition.currentPage,
        pageSize: this.pageCondition.pageSize,
        queryType: this.getQueryType()
      }
      getKnowledgeList(param).then(res => {
        const {data} = res
        if (data.state === "success") {
           const {data: dataList, count} = data.data
           this.pageCondition.total = count
           this.dataList = dataList.map(item => {
             return {
               id: item.id,
               title: item.name,
               date: item.createTime,
               creator: item.creator,
               like: item.likeCount,
               collect: item.collectCount,
               forward: item.shareCount,
               isLike: item.hasLike == 1,
               isCollect: item.hasCollect == 1,
               isForward: false,
               isOffLine: item.view === 0
             }
           })
        }
      })
    },
    changePageData(key, value) {
      this.pageCondition[key] = value
      this.fetchDataList()
    }
  },
};
</script>
<style lang="less" scoped>
.knowledgeDetails {
  padding: 15px 20px 30px;
  opacity: 0.95;
  background: #ffffff;
  border-radius: 8px;
  margin: 10px;
  h2 {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #333333;
    letter-spacing: 0.58px;
    text-align: left;
    line-height: 32px;
    font-weight: bold;
  }
  .search {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    ul {
      overflow: hidden;
      li {
        float: left;
        padding: 4px 20px;
        color: #2781ff;
        border: 1px solid rgba(39, 129, 255, 1);
        border-radius: 4px;
        margin-right: 10px;
        list-style: none;
        cursor: pointer;
        transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
        :hover{
          box-shadow: 0 0 0 2px rgba(63, 115, 255, 0.2);
        }
      }
      .active {
        color: #fff;
        background: #2781ff;
      }
    }
    /deep/.ivu-input {
      border: 1px solid #2781ff;
      color: #2781ff;
    }
    /deep/.ivu-icon-ios-search {
      color: #2781ff;
    }
    /deep/ input::placeholder {
      color: #6da7ff;
    }
  }
}
</style>
