<template>
  <div class="headLine-container">
    <!-- <RadioGroup class="radioGroupWrapper" v-model="taskForm.taskType">
      <Radio :label="1" :disabled="isDisabled(taskForm, 1)">预警</Radio>
      <Radio :label="2" :disabled="isDisabled(taskForm, 2)">目标</Radio>
    </RadioGroup> -->

    <section class="row">
      <div class="nameWrapper">
        <span class="leftTitle">任务名称：</span>
        <Input
          v-model.trim="taskForm.name"
          maxlength="15"
          placeholder="请输入"
          style="width: 160px"
        />
      </div>
      <div class="managerWrapper">
        <span class="leftTitle">负责部门：</span>
        <FaTreeSelect
          class="custom-tree"
          style="width: 172px"
          :selected="taskForm.refDeptId"
          :treeData="deptTreeDataF"
          @changeVal="onChange($event)"
        />
      </div>
      <div class="managerWrapper">
        <span class="leftTitle">负责人：</span>
        <SearchMemberSelect
          v-if="showView"
          v-model="taskForm.userName"
          :deptId="taskForm.refDeptId"
        />
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import { deepCopy } from "@/utils/common";
import FaTreeSelect from "@/components/treeSelect/fa-treeSelect.vue";
import SearchMemberSelect from "@/view/components/SearchMemberSelect";

export default {
  components: {
    FaTreeSelect,
    SearchMemberSelect,
  },
  props: {
    taskForm: {
      type: Object,
      required: true,
    },
    showView: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      userTreeData: [],
      loadingUser: false,
    };
  },
  computed: {
    ...mapState("earlyWarningTarget", [
      "earlyWarningList",
      "indicatorTreeData",
    ]),
    ...mapState("department", ["deptTreeData"]),
    // 部门树
    deptTreeDataF() {
      return this.dataFormat({ list: deepCopy(this.deptTreeData) });
    },
    isDisabled() {
      return ({ taskType, isLockTaskType }, val) =>
        isLockTaskType && val !== taskType;
    },
  },
  created() {
    if (!this.deptTreeData.length) {
      this.fetchDeptTree();
    }
  },
  methods: {
    ...mapActions("department", ["fetchDeptTree"]),
    /**
     * 组合需要的数据结构
     */
    dataFormat({ list, deep = 1 }) {
      const DEEP_TEMP = deep + 1;
      return list.map((ele) => {
        let childData = ele.children || ele.roleList;
        if (childData?.length) {
          childData = this.dataFormat({ list: childData, deep: DEEP_TEMP });
        }
        return {
          id: Number(ele.id),
          title: ele.name,
          children: childData || [],
          deep,
          expand: false, // 是否展开
          checked: false, // 是否是勾选状态
          disabled: false, // 是否禁止勾选
        };
      });
    },
    onChange({ id }) {
      this.taskForm.refDeptId = id.toString();
      this.taskForm.userName = "";
    },
    changeUserTreeData(val) {
      this.userTreeData = val;
    },
  },
};
</script>

<style lang="less" scoped>
.headLine-container {
  width: 100%;
  height: 100%;
  /deep/.radioGroupWrapper {
    margin-bottom: 16px;
    .ivu-radio-wrapper {
      margin-right: 58px;
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #333333;
      .ivu-radio {
        margin-right: 8px;
      }
    }
  }
  .row {
    display: flex;
    .nameWrapper,
    .managerWrapper {
      display: flex;
      align-items: center;
      .leftTitle {
        width: 80px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.65);
        letter-spacing: 0;
      }
    }
    .managerWrapper {
      margin-left: 32px;
      .userSelect {
        width: 220px;
        height: 32px;
        /deep/.ivu-select-selection {
          height: 32px;
          > div {
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
}
</style>
