<template>
  <front-login>
    <forget-password-form
      v-if="step === 1"
      @on-success-valid="startChangePassword"
      @login-callback="loginFun"
    />
    <modify-password-form
      v-else-if="step === 2"
      @on-success-valid="handleSubmit"
      @login-callback="loginFun"
    />
    <amend-password-success
      v-else-if="step === 3"
      title="恭喜您！密码重置成功"
    />
  </front-login>
</template>

<script>
import FrontLogin from "_c/front-login";
import ForgetPasswordForm from "_c/forget-password-form";
import ModifyPasswordForm from "_c/modify-password-form";
import AmendPasswordSuccess from "_c/amend-password-success";
import { mapActions } from "vuex";

export default {
  components: {
    FrontLogin,
    ForgetPasswordForm,
    ModifyPasswordForm,
    AmendPasswordSuccess
  },
  data() {
    return {
      step: 1,
      username: "",
      authCode: "",
      mobile: "" ,
      active : 1 // 1 手机验证 2 邮箱验证
    };
  },
  methods: {
    ...mapActions([
      "handleQueryUser",
      "handleChangePassword",
      "handleQueryUser"
    ]),
    startChangePassword({ authCode, verification , active, callback }) {
      let params = {
        verifyCode: authCode,
        phoneOrEmail: verification
      };
      this.active = active ;
      this.handleQueryUser(params).then(res => {
        if (res.data.state === "success") {
          this.username = res.data.data;
          this.authCode = authCode;
          this.mobile = verification;
          this.step = 2;
        } else {
          callback(res.data.message);
        }
      });
    },
    loginFun() {
      this.$router.push({
        path: "/login"
      });
    },
    handleSubmit({ password, errorFun }) {
      let params = {
        username: this.username,
        newPassword: password,
      };
      if (this.active === 1) {
        params.mobile = this.mobile ;
        params.verifyCode = this.authCode ;
      } else if (this.active === 2) {
        params.email = this.mobile ;
      }
      this.handleChangePassword(params).then(res => {
        if (res.data.state === "success") {
          this.step = 3;
        } else {
          errorFun(res.data.message);
        }
      });
    }
  }
};
</script>
