<template>
  <div class="tableList-container" ref="tableRef">
    <div class="tableWrapper">
      <Table :loading="tabelLoading" :columns="tableColumnsF" :data="dataList" :height="tableHeight" @on-selection-change="onSelectChange">
        <template slot-scope="{ index }" slot="index">{{ formatIndex(index + 1) }}</template>
        <template slot-scope="{ row }" slot="name">
          <span :title="row.name">{{ formatName(row.name, 15) }}</span>
        </template>
        <template slot-scope="{ row }" slot="assetsGroupName">
          <span :title="row.assetsGroupName">{{ formatName(row.assetsGroupName, 15) }}</span>
        </template>
        <template slot-scope="{ row }" slot="operation">
          <ReportAction
            v-if="isShowReport"
            :row="row"
            @refresh:data="$emit('refresh:data')"
            @show:modal="$emit('show:modal', $event)"
            @updateData:end="$emit('updateData:end')"
          />
          <DimensionAction
            v-else-if="isShowDim"
            from="publicResourcePool"
            :row="row"
            @record:condition="$emit('record:condition')"
            @refresh:data="$emit('refresh:data')"
            @show:modal="$emit('show:modal', $event)"
            @updateData:end="$emit('updateData:end')"
          />
          <IndicatorAction
            v-else-if="isShowInd"
            from="publicResourcePool"
            :row="row"
            @record:condition="$emit('record:condition')"
            @refresh:data="$emit('refresh:data')"
            @show:modal="$emit('show:modal', $event)"
            @updateData:end="$emit('updateData:end')"
          />
        </template>
      </Table>
    </div>

    <section class="pageWrapper">
      <Page
        show-elevator
        show-sizer
        show-total
        :page-size-opts="[15, 20, 25, 30]"
        :page-size="pageCondition.pageSize"
        :current="pageCondition.currentPage"
        :total="pageCondition.total"
        @on-change="handlePageChange"
        @on-page-size-change="handlePageSizeChange"
      />
    </section>
  </div>
</template>

<script>
import { extraTextDot, getPageTableIndex } from "@/utils/formatString";
import { REPORT_ASSET, DIMENSION_ASSET, INDICATOR_ASSET, DATA_MODEL_ASSET } from "@/config/resourcePublish";
import ReportAction from "./components/ReportAction";
import DimensionAction from "@/view/report/dimension/components/DimensionAction";
import IndicatorAction from "@/view/indicatorWorkbench/indicatorWorkbenchIndex/components/IndicatorAction";

export default {
  props: {
    assetType: {
      type: String,
      required: true
    },
    tabelLoading: {
      type: Boolean,
      required: true
    },
    dataList: {
      type: Array,
      required: true
    },
    pageCondition: {
      type: Object,
      required: true
    }
  },
  components: {
    ReportAction,
    DimensionAction,
    IndicatorAction
  },
  data() {
    return {
      tableHeight: 0 // 表格高度
    };
  },
  computed: {
    tableColumnsF() {
      let tableHeaderName = "";
      switch (this.assetType) {
        case REPORT_ASSET:
          tableHeaderName = "报告";
          break;
        case DIMENSION_ASSET:
          tableHeaderName = "维度";
          break;
        case INDICATOR_ASSET:
          tableHeaderName = "指标";
          break;
        case DATA_MODEL_ASSET:
          tableHeaderName = "数据模型";
          break;
      }

      const tableColumns = [
        { type: "selection", width: 60, align: "center" },
        { title: "序号", slot: "index", width: 96 },
        { title: `${tableHeaderName}名称`, slot: "name" },
        { title: "资产分组", slot: "assetsGroupName" },
        { title: "所有者", key: "creator" },
        { title: "操作", slot: "operation", align: "center", width: 270 }
      ];

      if (this.assetType === REPORT_ASSET || this.assetType === DATA_MODEL_ASSET) {
        return tableColumns.filter(ele => ele.title !== "资产分组");
      } else {
        return tableColumns;
      }
    },
    formatName() {
      return (text, num) => extraTextDot(text, num);
    },
    formatIndex() {
      return index => getPageTableIndex(index, this.pageCondition.currentPage, this.pageCondition.pageSize);
    },
    isShowReport() {
      return this.assetType === REPORT_ASSET;
    },
    isShowDim() {
      return this.assetType === DIMENSION_ASSET;
    },
    isShowInd() {
      return this.assetType === INDICATOR_ASSET;
    }
  },
  mounted() {
    this.getTableHeight();
    window.addEventListener("resize", this.getTableHeight);
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.getTableHeight);
  },
  methods: {
    /**
     * 窗口大小改变时，重新计算表格高度
     */
    getTableHeight() {
      this.tableHeight = this.$refs.tableRef.clientHeight - 58;
    },
    /**
     * 选中项发生变化
     * @param {Array} selection 已选项数据
     */
    onSelectChange(selection) {
      this.$emit("changeCheck", selection);
    },
    /**
     * 切换页码
     * @param {Number} currentPage
     */
    handlePageChange(currentPage) {
      this.$emit("changePageData", "currentPage", currentPage);
    },
    /**
     * 切换每页展示的数据量
     * @param {Number} currentPageSize
     */
    handlePageSizeChange(currentPageSize) {
      this.$emit("changePageData", "pageSize", currentPageSize);
    }
  }
};
</script>

<style lang="less" scoped>
.tableList-container {
  width: 100%;
  height: 100%;

  .tableWrapper {
    position: relative;
    /deep/.ivu-table-wrapper {
      position: unset !important;
    }
  }

  .pageWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }
}
</style>
