<template>
  <div class="dimension-manage-container" ref="tableContainer">
    <div class="header-all">
      <p class="title">业务模型</p>
      <div class="actionBtnWrapper" @click="addDimension">
        <img src="@/assets/icons/earlyWarningTarget/add.svg" alt="" />
        <span>新建</span>
      </div>
    </div>
    <div class="search-all">
      <div class="searchBox">
        <span>名称：</span>
        <Input v-model.trim="name" maxlength="30" clearable placeholder="请输入模型名称" style="width: 162px" />
      </div>
      <div class="searchBox">
        <span>资产分组：</span>
        <FaTreeSelect style="width: 172px" :selected="selectGroup" :treeData="treeData" @changeVal="onAssetGroupChange"
          :refresh="true" :render="renderTip" class="custom-tree" />
      </div>
      <Button class="searchBtn" @click="searchTable">查询</Button>
    </div>
    <div class="table-all">
      <Spin fix v-if="tableLoading">
        <Icon type="ios-loading" size=28 class="table-spin-icon-load"></Icon>
        <div>Loading</div>
      </Spin>
      <section v-else>
        <section v-if="dataList.length">
          <Table :columns="columnsList" :data="dataList" :height="tableHeight">
            <template slot-scope="{ row }" slot="name">
              <div class="name" :title="row.name">
                {{ row.name }}
              </div>
            </template>
            <template slot-scope="{ row }" slot="action">
              <div class="actionWrapper-all">
                <div class="actionItem" @click="viewItem(row)">
                  <img :src="viewIcon" alt="" />
                  <span>查看</span>
                </div>
                <div class="actionItem" @click="editItem(row)">
                  <img :src="editIcon" alt="" />
                  <span>编辑</span>
                </div>
                <div class="actionItem" @click="deleteItem(row)">
                  <img :src="deleteIcon" alt="" />
                  <span>删除</span>
                </div>
              </div>
            </template>
          </Table>
          <Page class="table-page" :total="businessTotal" :current="pageObj.pageNum" :pageSize="pageObj.pageSize"
            @on-change="changePage" @on-page-size-change="changeSize" show-total show-elevator show-sizer size="small" />
        </section>
        <NoData :width="1180" :height="575" :img-src="noDataImg" v-else />
      </section>
    </div>
    <GroupModalAdd ref="groupModalAdd" @confirmHandle="confirmHandle" />
    <!--  确认删除弹框  -->
    <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList" />
  </div>
</template>

<script>
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
import editIcon from "@/assets/icons/earlyWarningTarget/edit.svg";
import viewIcon from "@/assets/icons/earlyWarningTarget/view.svg";
import deleteIcon from "@/assets/icons/earlyWarningTarget/delete.svg";
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import NoData from "@/components/NoData";
import GroupModalAdd from './components/GroupModalAdd.vue'
import DeleteAssetModal from '@/view/components/DeleteAssetModal/index.vue'
import deleteAsset from "@/mixins/deleteAsset";
import { TYPE_BUSINESS_MODEL } from "@/view/components/DeleteAssetModal/constant";
import {
  getDimensionTreeData,
} from '@/api/dimension'
import {
  queryBusinessModelList,
  deleteBusinessModelById
} from '@/api/businessModel'
import { deepCopy } from '@/utils/common'
export default {
  mixins: [deleteAsset],
  components: {
    FaTreeSelect,
    GroupModalAdd,
    DeleteAssetModal,
    NoData
  },
  data() {
    return {
      editIcon,
      viewIcon,
      deleteIcon,
      noDataImg,
      name: '',
      treeData: [],
      selectGroup: '',
      pageObj: {
        pageSize: 10,
        pageNum: 1,
      },
      columnsList: [
        { type: 'index', title: '序号', width: 60, align: 'center' },
        { title: '业务模型名称', slot: 'name' },
        { title: '资产分组', key: 'groupName' },
        { title: '所有者', key: 'creator', },
        { title: '操作', slot: 'action', align: 'center', width: 200 },
      ],
      dataList: [],
      businessTotal: 0,
      tableHeight: 0,
      dimensionGroupList: [],
      tableLoading: true //tableList组件loading状态
    }
  },
  async mounted() {
    this.getTableHeight();
    window.onresize = this.getTableHeight;
    await this.getIndicatorGroup();
    // 从资产目录点击编辑跳转过来
    const query = this.$route.query
    if (query.id && query.edit === '1') {
      this.editItem({ id: query.id, name: query.name })
    }
  },
  methods: {
    /**
     * 窗口大小改变时，重新计算表格高度
     */
    getTableHeight() {
      this.tableHeight = this.$refs.tableContainer.clientHeight - 200;
    },
    // 新建
    addDimension() {
      if (this.dimensionGroupList.length) {
        this.$refs.groupModalAdd.openModal({ type: 'create', groupTreeData: this.treeData[0].children })
      } else {
        this.$Message.info('请先去数据资产-目录下创建目录！')
      }
    },
    // 搜索列表
    searchTable() {
      this.pageObj.pageNum = 1;
      this.getDataList();
    },
    confirmHandle(data) {
      if (data) {
        this.getDataList();
      }
    },
    async getDataList() {
      this.tableLoading = true
      let params = {};
      if (this.selectGroup === - 1 || !this.selectGroup) {
        params = {
          pageSize: this.pageObj.pageSize,
          pageNum: this.pageObj.pageNum,
          businessModelName: this.name,
        }
      } else {
        params = {
          pageSize: this.pageObj.pageSize,
          pageNum: this.pageObj.pageNum,
          businessModelName: this.name,
          groupId: this.selectGroup,
        }
      }
      let res = await queryBusinessModelList(params);
      if (res.data && res.data.state === 'success') {
        const resData = res.data.data;
        this.dataList = resData.data;
        this.businessTotal = resData.count;
        this.tableLoading = false
      }
    },
    changePage(current) {
      this.pageObj.pageNum = current;
      this.getDataList()
    },
    changeSize(size) {
      this.pageObj.pageNum = 1;
      this.pageObj.pageSize = size;
      this.getDataList()
    },
    // 获取指标树
    async getIndicatorGroup() {
      const { data } = await getDimensionTreeData()
      if (data?.state === 'success') {
        const groups = data.data.dimensionGroupList
        let root = [{
          deep: 1,
          id: -1,
          title: '全部',
          expand: true,
          treeType: 'group',
        }]
        this.dimensionGroupList = data.data.dimensionGroupList;
        this.treeData = this.generateTree(root, groups);
        this.selectGroup = -1;
        this.getDataList();
      } else {
        this.$Message.error('获取指标树失败')
      }
    },
    generateTree(parent, all, deep = 1) {
      return parent.map(parentItem => {
        let children = all.filter(
          allItem => allItem.parentId === parentItem.id,
        ).map(child => ({
          id: child.id,
          title: child.name,
          expand: false,
          deep: deep,
          selected: false,
        }))

        return {
          ...parentItem,
          children: children.length ? this.generateTree(children, all, ++deep) : [],
        }
      })
    },
    onAssetGroupChange(value) {
      this.selectGroup = value.id;
    },
    // render函数
    renderTip(h, { root, node, data }) {
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },
    viewItem(row) {
      this.$refs.groupModalAdd.openModal({ ...row, type: 'view', groupTreeData: this.treeData })
    },
    editItem(row) {
      this.$refs.groupModalAdd.openModal({ ...row, type: 'edit', groupTreeData: this.treeData })
    },
    deleteItem(row) {
      let title = row.name;
      const fexLen = 18;
      let len = this.getStrByteLen(title);
      if (len > fexLen) {
        len = this.getStrLen(fexLen, title);
        title = title.substring(0, len);
        title += "……";
      }
      this.$Modal.confirm({
        title: `确认删除“<span title="${row.name}">${title}</span>”业务模型吗？`,
        content: "删除后不可撤销",
        okText: "确认",
        onOk: () => {
          this.confirmDelete(row);
        },
      });
    },
    getStrByteLen(str, awareLen) {
      let realLength = 0;
      let len = str.length;
      let charCode = -1;
      for (let i = 0; i < len; i++) {
        charCode = str.charCodeAt(i);
        if (charCode >= 0 && charCode <= 128) {
          realLength += 1;
        } else {
          // 如果是中文则长度加2
          realLength += 2;
        }
      }
      return realLength;
    },
    getStrLen(byteLen, str) {
      let realLength = 0;
      let len = str.length;
      let charCode = -1;
      for (let i = 0; byteLen >= 0 && i < len; i++) {
        charCode = str.charCodeAt(i);
        if (charCode >= 0 && charCode <= 128) {
          byteLen--;
          realLength++;
        } else {
          byteLen -= 2;
          // 如果是中文则长度加2
          realLength++;
        }
      }
      return realLength;
    },
    /**
   * 确认删除
   */
    confirmDelete(data) {
      deleteBusinessModelById(data.id).then((res) => {
        if (res.data.state === "success") {
          this.getDataList();
          this.$refs.groupModalAdd.$refs.businessModelTree.updateTree(null);
          this.$Message.success("删除成功！");
        } else {
          const deletedAsset = { id: data.id, name: data.title, type: TYPE_BUSINESS_MODEL };
          this.unableToDelete(deletedAsset, res.data.data);
        }
      });
    },
  }
}
</script>

<style lang="less" scoped>
.dimension-manage-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
  padding: 14px 16px;

  .header-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .title {
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      font-weight: 600;
    }

    .actionBtnWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 82px;
      height: 32px;
      background: #3f73ff;
      border-radius: 2px;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #ffffff;

      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
    }
  }

  .search-all {
    display: flex;
    align-items: center;

    .searchBox {
      display: flex;
      align-items: center;
      margin-right: 24px;

      // 监测状态
      /deep/.watchWrapper {
        .ivu-select-selection>div {
          white-space: nowrap;
          overflow: hidden;
        }
      }

      /deep/ .select-wrapper {
        border: 1px solid #dcdee2;
        background: #fff;
        padding: 0 7px;
        height: 32px;
        line-height: 32px;
        border-radius: 4px;
        padding-bottom: 0 !important;
        cursor: pointer;
        padding-top: 3px;
        overflow: hidden;

        .placeholder {
          position: absolute;
          top: -1px;
          left: 8px;
        }
      }

      /deep/ .selected-list .list-item {
        height: 24px;
        line-height: 22px;
        max-width: 248px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        margin-right: 6px;

        >i {
          top: 5px;
        }
      }

      /deep/ .assets-label {
        height: 32px;
      }
    }

    .searchBtn {
      background: #3f73ff;
      border-radius: 4px;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #ffffff;
      width: 72px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .table-all {
    margin-top: 22px;
    position: relative;
    height: calc(~"100% - 32px - 54px");

    /deep/ .ivu-table-cell {
      .name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .actionWrapper-all {
      display: flex;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }

    .actionItem {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 15px;
      }

      img {
        width: 16px;
        height: 16x;
        margin-right: 5px;
      }

      span {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #3f73ff;
        letter-spacing: 0;
        line-height: 20px;
      }
    }

    .table-page {
      text-align: right;
      margin-top: 22px;
    }

    /deep/ .ivu-page.mini .ivu-page-item {
      border: 1px solid #dcdee2;
    }

    /deep/ .ivu-page.mini .ivu-page-item-active {
      border-color: #3F73FF;
    }
  }
}

/deep/ .ivu-tree-title {
  .tree-title-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
