<template>
  <Modal class="shareModal-container" :value="showModal" @on-cancel="onCancel" title="权限分享" width="382" footer-hide>
    <div class="shareModalWrapper">
      <span class="modalTitle">选择权限</span>
      <SelectAuth v-model="shareAuthList" :show-modal="showModal" />

      <span class="modalTitle">分享给</span>
      <PushMember ref="pushMemberRef" :task-form="taskForm" from="authShare" />

      <div class="actionBtn">
        <section class="cancelBtn" @click="onCancel">取消</section>
        <section class="confirmBtn" @click="onConfirm">确认</section>
      </div>
    </div>
  </Modal>
</template>

<script>
import PushMember from "@/components/ShareModal/components/PushMember";
import SelectAuth from "./components/SelectAuth";
import { shareAssetAuth } from "@/api/assetAction";
import { mapActions, mapState } from 'vuex'

export default {
  model: {
    prop: "showModal",
    event: "update:showModal"
  },
  props: {
    showModal: {
      type: Boolean,
      required: true
    },
    modalStatus: {
      type: Object,
      required: true
    },
    // 来自哪里
    shareFrom: {
      type: String,
      required: true
    }
  },
  components: {
    SelectAuth,
    PushMember
  },
  data() {
    return {
      shareAuthList: [],
      taskForm: {
        userChecked: false,
        userList: [],
        deptChecked: false,
        deptList: [],
        roleChecked: false,
        roleList: []
      }
    };
  },
  computed: {
    ...mapState("role", ["roleTreeData"]),
    ...mapState("department", ["deptTreeData"]),
    wholeMessageText() {
      // xxx分享：XX维度 的使用/编辑权限给您，现在您可以使用/编辑该维度了！
      return `<span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">${this.$store.state.user.nickName} </span>
            <span>分享： </span>
            <span style="color: rgba(0, 0, 0, 0.85);font-weight: 600;">
              “${this.modalStatus.name}”${this.shareFrom} 的${this.shareAuthList[1]}权限给您，现在您可以${this.shareAuthList[1]}该${this.shareFrom}了！
            </span>`;
    }
  },
  created() {
    if (!this.deptTreeData.length) {
      this.fetchDeptTree(); // 获取部门树
    }
    if (!this.roleTreeData.length) {
      this.fetchRoleTree(); // 获取角色树
    }
  },
  methods: {
    ...mapActions("role", ["fetchRoleTree"]),
    ...mapActions("department", ["fetchDeptTree"]),
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.reset();
      this.$refs.pushMemberRef.reset();
      this.$emit("update:showModal", false);
    },
    /**
     * 确认
     */
    async onConfirm() {
      if (!this.verify()) return;

      let subject = "";
      switch (this.shareFrom) {
        case "报告":
          subject = "REPORT";
          break;
        case "维度":
          subject = "DIMENSION";
          break;
        case "指标":
          subject = "INDICATOR";
          break;
      }
      const params = {
        moduleType: this.modalStatus.moduleType,
        resourceId: this.modalStatus.resourceId,
        authType: this.shareAuthList[0],
        subject,
        subjectName: this.shareFrom,
        messageType: 3,
        content: this.wholeMessageText
      };

      const { userChecked, userList, deptChecked, deptList, roleChecked, roleList } = this.taskForm;
      if (userChecked) {
        params.userList = userList; // 推送人-用户
      }
      if (deptChecked) {
        params.deptList = deptList; // 推送人-部门
      }
      if (roleChecked) {
        params.roleList = roleList; // 推送人-角色
      }
      const res = await shareAssetAuth(params);
      if (res.data.state === "success") {
        this.$Message.success("权限分享成功！");
      } else {
        this.$Message.error("权限分享失败！");
      }

      this.onCancel();
    },
    /**
     * 校验
     */
    verify() {
      if (!this.shareAuthList.length) {
        this.$Message.warning("请选择权限！");
        return false;
      }

      const { userChecked, userList, deptChecked, deptList, roleChecked, roleList } = this.taskForm;
      if (userChecked && !userList.length) {
        this.$Message.warning("请选择用户！");
        return false;
      }
      if (deptChecked && !deptList.length) {
        this.$Message.warning("请选择部门！");
        return false;
      }
      if (roleChecked && !roleList.length) {
        this.$Message.warning("请选择角色！");
        return false;
      }

      if (!userList.length && !deptList.length && !roleList.length) {
        this.$Message.warning("请至少选择一个分享目标！");
        return false;
      }
      return true;
    },
    /**
     * 重置数据
     */
    reset() {
      this.shareAuthList = [];
      this.taskForm = {
        userChecked: false,
        userList: [],
        deptChecked: false,
        deptList: [],
        roleChecked: false,
        roleList: []
      };
    }
  }
};
</script>

<style lang="less" scoped>
.shareModal-container {
  /deep/.ivu-modal-header {
    padding-left: 24px;
  }
  /deep/.ivu-modal-body {
    padding: 0;
  }

  .shareModalWrapper {
    padding: 16px 24px 24px;
    .modalTitle {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #333333;
      letter-spacing: 0;
    }
    .selectAuth-container {
      margin-top: 16px;
      margin-bottom: 24px;
    }
    .pushMember-container {
      margin-top: 16px;
      margin-bottom: 30px;
    }

    .actionBtn {
      display: flex;
      justify-content: flex-end;
      margin-top: 24px;
      .cancelBtn,
      .confirmBtn {
        width: 72px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
      }
      .cancelBtn {
        border: 1px solid rgba(217, 217, 217, 1);
        margin-right: 16px;
        color: #949494;
      }
      .confirmBtn {
        background: #3f73ff;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}
</style>
