<template>
  <div class="noDataWrapper">
    <div class="centerBox">
      <img :src="getImgSrc" />
      <p>{{ errorDescription }}</p>
    </div>
  </div>
</template>

<script>
import { ERROR_DESCRIPTION } from '@/view/components/no-data/constant'

export default {
  name: 'no_data',
  props: {
    chartType: String,
    errorCode: String,
  },
  computed: {
    getImgSrc() {
      if (this.chartType !== '') {
        let realType = this.chartType.split('_'),
          uurl
        switch (realType[0]) {
          case 'CustomTable':
          case 'GroupTable':
            uurl = require('../../../assets/icons/chart/chart_spin/table_spin.svg')
            break
          case 'CustomTableTest':
            uurl = require('../../../assets/icons/chart/chart_spin/table_spin.svg')
            break
          case 'SimplePie':
            uurl = require('../../../assets/icons/chart/chart_spin/pie_spin.svg')
            break
          case 'SimpleGauge':
            uurl = require('../../../assets/icons/chart/chart_spin/gauge_spin.svg')
            break
          case 'Iframe':
            uurl = require('../../../assets/icons/chart/chart_spin/iframe_spin.svg')
            break
          case 'SimpleLine':
            uurl = require('../../../assets/icons/chart/chart_spin/line_spin.svg')
            break
          case 'MixLineBar':
            uurl = require('../../../assets/icons/chart/chart_spin/barLine_spin.svg')
            break
          case 'DoublePie':
            uurl = require('../../../assets/icons/chart/chart_spin/dbPie_spin.svg')
            break
          case 'Indicator':
            uurl = require('../../../assets/icons/chart/chart_spin/dashboard_spin.svg')
            break
          case 'SimpleBar':
            uurl = require('../../../assets/icons/chart/chart_spin/bar_spin.svg')
            break
          case 'IndexBoard':
            uurl = require('../../../assets/icons/chart/chart_spin/dashboard_spin.svg')
            break
          case 'SimpleScatter':
            uurl = require('../../../assets/icons/chart/chart_spin/scatter_spin.svg')
            break
          case 'SimpleMap':
            uurl = require('../../../assets/icons/chart/chart_spin/dbPie_spin.svg')
            break
          case 'BasicRadar':
            uurl = require('../../../assets/icons/chart/chart_spin/line_spin.svg')
            break
        }
        return uurl
      }
    },
    errorDescription() {
      return ERROR_DESCRIPTION[this.errorCode] || '暂无数据'
    },
  },
}
</script>

<style lang="less" scoped>
.noDataWrapper {
  height: calc(~'100% - 18px');
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  left: 0;
  .centerBox {
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #5b8ff9;
    > p {
      margin-top: 10px;
    }
  }
}
</style>
