<template>
  <div class="detailTable-container">
    <CustomTable :chartId="chartData.chartId" :propertyData="chartData.data" :propertyStyle="chartData.style" />
  </div>
</template>

<script>
import CustomTable from "@/view/report/chart/customTableTest";
import { CHART_DEFAULT_CONFIG } from "@/config/ReportConstants";
import { deepCopy } from "@/utils/common";
import { dateChange, getBusinessDate } from "@/utils/dateFormat";

export default {
  provide() {
    return {
      // 防止报错
      refreshCharts: null,
      editChartLink: null,
      recordSnapshot: null
    };
  },
  props: {
    answerData: {
      prop: Object,
      required: true
    }
  },
  components: {
    CustomTable
  },
  data() {
    return {
      chartData: {} // 表格数据
    };
  },
  watch: {
    // 日期类型改变，修改表格数据
    "answerData.dateType": {
      handler(newVal) {
        const endDate = this.chartData.data.endDate;
        if (newVal === 1) {
          this.chartData.data.startDate = endDate;
          this.chartData.data.endDate = endDate;
          this.chartData.data.configData.fixedStartDate = endDate;
          this.chartData.data.configData.fixedEndDate = endDate;
        } else if (newVal === 2) {
          this.chartData.data.startDate = dateChange(-6, endDate);
          this.chartData.data.configData.fixedStartDate = dateChange(-6, endDate);
        } else if (newVal === 3) {
          this.chartData.data.startDate = dateChange(-29, endDate);
          this.chartData.data.configData.fixedStartDate = dateChange(-29, endDate);
        } else if (newVal === 4) {
          const endArr = endDate.split("-");
          endArr[endArr.length - 1] = "01";
          this.chartData.data.startDate = endArr.join("-");
          this.chartData.data.configData.fixedStartDate = endArr.join("-");
        }
      }
    }
  },
  created() {
    const { dimensions, indicators } = this.answerData.condition;
    this.addChart(dimensions, indicators);
  },
  methods: {
    addChart(dimensions, indicators) {
      let chartType = "CustomTable";
      let { width, height, config } = CHART_DEFAULT_CONFIG[chartType];
      let timestamp = new Date().getTime();
      const curDate = getBusinessDate();

      this.chartData = {
        chartId: `${chartType}_${timestamp}`,
        data: {
          mode: 1,
          dimension: dimensions,
          indicator: indicators.map(ele => ({ ...ele, title: ele.name })),
          series: [],
          configData: {
            ...deepCopy(config),
            isOpenPrivateDate: true,
            displayPrivateDate: 1, // 使用私有日期
            linkPublicDate: 0, // 不关联公共日期
            fixedStartDate: curDate,
            fixedEndDate: curDate,
            fixedPeriodType: "99"
          },
          startDate: curDate,
          endDate: curDate
        },
        style: {
          width,
          height
        }
      };
    }
  }
};
</script>

<style lang="less" scoped>
.detailTable-container {
  width: 100%;
  height: 100%;
}
</style>
