<template>
  <div class="diagram-container">
    <!-- <h3>{{ answerData.user.title }}</h3> -->
    <div class="chartHeight">
      <component :is="type" :propertyData="chartData.data" :chartId="chartData.chartId" :isIntelligentAnswer="true" />
    </div>
  </div>
</template>

<script>
import SimpleBar from "@/view/report/chart/Bar";
import SimpleLine from "@/view/report/chart/Line";
import { deepCopy } from "@/utils/common";
import { dateChange, getBusinessDate } from "@/utils/dateFormat";
import { CHART_DEFAULT_CONFIG } from "@/config/ReportConstants";

export default {
  props: {
    answerData: {
      prop: Object,
      required: true
    },
    isBar: {
      prop: Boolean,
      required: true
    }
  },
  components: {
    SimpleBar,
    SimpleLine
  },
  provide: {
    recordSnapshot: false, // 防止组件获取不到inject，报错
    refreshCharts: false
  },
  data() {
    return {
      type: "SimpleBar",
      chartData: {}
    };
  },
  watch: {
    // 日期类型改变，修改表格数据
    "answerData.dateType": {
      handler(newVal) {
        const curDate = getBusinessDate();
        if (newVal === 1) {
          this.chartData.data.startDate = curDate;
          this.chartData.data.endDate = curDate;
          this.chartData.data.configData.fixedStartDate = curDate;
          this.chartData.data.configData.fixedEndDate = curDate;
        } else if (newVal === 2) {
          this.chartData.data.startDate = dateChange(-7);
          this.chartData.data.configData.fixedStartDate = dateChange(-7);
        } else if (newVal === 3) {
          this.chartData.data.startDate = dateChange(-30);
          this.chartData.data.configData.fixedStartDate = dateChange(-30);
        } else if (newVal === 4) {
          const endArr = this.chartData.data.endDate.split("-");
          endArr[endArr.length - 1] = "01";
          this.chartData.data.startDate = endArr.join("-");
          this.chartData.data.configData.fixedStartDate = endArr.join("-");
        }
      }
    },
    isBar: {
      handler(val) {
        if (val) {
          this.$set(this.chartData.data, "configData", {
            ...CHART_DEFAULT_CONFIG["SimpleBar"].config
          });
          this.type = "SimpleBar";
        } else {
          this.$set(this.chartData.data, "configData", {
            ...CHART_DEFAULT_CONFIG["SimpleLine"].config
          });
          this.type = "SimpleLine";
        }
      }
    }
  },
  mounted() {
    const { dimensions, indicators } = this.answerData.condition;
    this.addChart(dimensions, indicators);
  },
  methods: {
    addChart(dimensions, indicators) {
      let chartType = this.type;
      let { width, height, config } = CHART_DEFAULT_CONFIG[chartType];
      let timestamp = new Date().getTime();
      const curDate = getBusinessDate();

      this.chartData = {
        chartId: `${chartType}_${timestamp}`,
        data: {
          mode: 1,
          dimension: dimensions,
          indicator: indicators.map(ele => ({ ...ele, title: ele.name })),
          series: [],
          configData: {
            ...deepCopy(config),
            isOpenPrivateDate: true,
            displayPrivateDate: 1, // 使用私有日期
            linkPublicDate: 0, // 不关联公共日期
            fixedStartDate: curDate,
            fixedEndDate: curDate,
            fixedPeriodType: "99"
          },
          startDate: curDate,
          endDate: curDate
        },
        style: {
          width,
          height,
          widthConfig: "最佳比例"
        }
      };
    }
  }
};
</script>

<style lang="less" scoped>
.diagram-container {
  width: 100%;
  height: 100%;
  .chartHeight {
    padding-top: 10px;
    height: 100%;
  }
}
</style>