<template>
  <div class="basic-indicator-definition">
    <div class="row business-model">
      <div class="field">
        业务模型：
        <FaTreeSelect
          class="custom-tree"
          :selected="businessModel"
          :treeData="businessModelTreeFilter"
          :selectParent="false"
          :disabled="!!indicatorId"
          :render="renderTip"
          @changeVal="onBusinessModelChange"
          :refresh="true"
        />
      </div>
      <div class="field column-field">
        列：
        <Select :value="column" :placeholder="summaryMethodWithNvl ? '请选择列A' : '请选择'" :disabled="!!indicatorId" @on-change="onColumnChange">
          <Option v-for="item in columns" :key="item.id" :value="item.id">{{ item.name }}</Option>
        </Select>
      </div>
      <div class="field summary-method-field">
        汇总方式：
        <Select :value="summaryMethod" @on-change="onSummaryMethodChange">
          <Option v-for="item in summaryMethods" :value="item.value">{{ item.name }}</Option>
        </Select>
        <Select
          :value="columnNvl"
          placeholder="请选择Null值"
          v-show="summaryMethodWithNvl && columnNvl !== 'manualEntry'"
          @on-change="onColumnNvlChange">
          <Option value="manualEntry">手动录入</Option>
          <Option v-for="item in columns" :key="item.id" :value="item.id">{{ item.name }}</Option>
        </Select>
        <Input
          v-show="columnNvl === 'manualEntry'"
          :value="columnNvlManualEntry"
          placeholder="请输入Null值"
          clearable
          @on-change="onColumnNvlManualEntryChange"
          @on-keydown="handleManualEntryInputKeydown"
          @on-blur="onColumnNvlManualEntryBlur" />
      </div>
      <div class="field">
        <NumberFormat :config="numberFormatConfig" />
      </div>
    </div>
    <div class="row">
      <div class="filter-conditions">
        <div class="filter-conditions-title">
          过滤条件
          <Switch :value="showFilterConditions" @on-change="onFilterConditionsSwitchChange" />
        </div>
        <div class="filter-conditions-body" v-if="showFilterConditions">
          <div v-for="(filterItem, groupIndex) in filterConditions" class="filter-condition-group-item">
            <img src="@/assets/icons/indicatorIcon/icon_and.svg" alt="与" class="icon-and" />
            <div>
              <FilterConditionItem
                v-for="(item, index) in filterItem"
                edit
                :item-data="item"
                :is-single="filterItem.length === 1"
                :show-btn-and="groupIndex === filterConditions.length - 1 && index === filterItem.length -1"
                :show-btn-delete="filterConditions.length > 1 || (filterConditions.length === 1 && filterItem.length > 1)"
                @on-add-group="onAddGroup"
                @on-add-item="onAddItem(groupIndex, index)"
                @on-delete-item="onDeleteItem(groupIndex, index)"
                @on-source-id-change="onSourceIdChange($event, groupIndex, index)"
                @on-condition-type-change="onConditionTypeChange($event, groupIndex, index)"
                @on-variable-type-change="onVariableTypeChange($event, groupIndex, index)"
                @on-variable-value-change="onVariableValueChange($event, groupIndex, index)"
                @on-click-sql="onClickSql(item, groupIndex, index)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FilterConditionItem from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/FilterConditionItem.vue'
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
import NumberFormat from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/NumberFormat/index.vue'
import { mapState, mapActions, mapGetters } from 'vuex'
import { SUMMARY_METHODS, INDICATOR_TYPES, FILTER_INDICATOR_ITEM } from '@/view/report/indicator/constant'
import { deepCopy } from '@/utils/common'

// 可输入字符
const KEYS = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '-', 'Backspace', '.']

export default {
  name: 'BasicIndicatorDefinition',
  components: {
    FilterConditionItem,
    FaTreeSelect,
    NumberFormat,
  },
  emits: ['on-watch-sql-condition'],
  props: {
    businessModelTree: Array,
  },
  data() {
    return {
      summaryMethods: SUMMARY_METHODS,
      indicatorTypes: INDICATOR_TYPES,
      customFormat: { // 数值格式-自定义格式
        show: false,
        format: '数值',
        unit: '原始值',
        precision: 2,
        useThousandsSeparator: false, // 使用千位分隔符
      },
    }
  },
  computed: {
    ...mapState('indicator', [
      'indicatorId',
      'businessModel',
      'column',
      'columnNvl',
      'columnNvlManualEntry',
      'summaryMethod',
      'showFilterConditions',
      'filterConditions',
      'numberFormatConfig',
    ]),
    ...mapGetters('indicator', ['columns']),
    // 汇总方式是否是nvl类型函数
    summaryMethodWithNvl() {
      return this.summaryMethod === 7 || this.summaryMethod === 8
    },
    businessModelTreeFilter(){
      let arr = this.filterTree(this.businessModelTree);
      return this.filterTree(arr);
    },
  },
  methods: {
    ...mapActions('indicator', [
      'setBusinessModel',
      'setBusinessModelList',
      'setColumn',
      'setColumnNvl',
      'setColumnNvlManualEntry',
      'setSummaryMethod',
      'setShowFilterConditions',
      'setFilterConditions',
    ]),
    filterTree(tree) {
      let newTree = []
      for (let treeItem of tree) {
        // 如果当前节点包含关键字，那么其子项也都包含
        if (treeItem.type === 'value' || (treeItem.type === 'group' && treeItem.children && treeItem.children.length) ) {
          newTree.push(treeItem)
          if (treeItem.children) {
            treeItem.children = this.filterTree(treeItem.children);
          }
        }
      }
      return newTree
    },
    // render函数
    renderTip(h, { root, node, data }){
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },
    onBusinessModelChange(value) {
      const businessModel = value.id
      this.setBusinessModel(businessModel)
      this.setFilterConditions([[deepCopy(FILTER_INDICATOR_ITEM)]])
    },
    onColumnChange(option) {
      this.setColumn(option)
    },
    onColumnNvlChange(option) {
      this.setColumnNvl(option)
    },
    onColumnNvlManualEntryChange(e) {
      const value = e.target.value.trim()
      if (value === '') this.setColumnNvl(null)
      this.setColumnNvlManualEntry(value)
    },
    onColumnNvlManualEntryBlur(e) {
      const value = e.target.value.trim()
      if (value === '') this.setColumnNvl(null)
    },
    // 列B手动录入输入框keydown，限制可输入字符
    handleManualEntryInputKeydown(e) {
      if (KEYS.includes(e.key)) {
        if (this.columnNvlManualEntry && e.key === '-' || this.columnNvlManualEntry?.indexOf('.') !== -1 && e.key === '.') e.preventDefault()
        return
      }
      e.preventDefault()
    },
    onSummaryMethodChange(option) {
      this.setSummaryMethod(option)
    },
    onFilterConditionsSwitchChange(value) {
      this.setShowFilterConditions(value)
    },
    onAddGroup() {
      let filterConditions = deepCopy(this.filterConditions)
      filterConditions.push([deepCopy(FILTER_INDICATOR_ITEM)])
      this.setFilterConditions(filterConditions)
    },
    onAddItem(groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions)
      filterConditions[groupIndex].splice(index + 1, 0, deepCopy(FILTER_INDICATOR_ITEM))
      this.setFilterConditions(filterConditions)
    },
    onDeleteItem(groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions)
      let group = filterConditions[groupIndex]
      if (group.length === 1) {
        filterConditions.splice(groupIndex, 1)
      } else {
        group.splice(index, 1)
      }
      this.setFilterConditions(filterConditions)
    },
    onSourceIdChange(value, groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions)
      filterConditions[groupIndex][index].sourceId = value
      this.setFilterConditions(filterConditions)
    },
    onConditionTypeChange(value, groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions)
      const returnValueType = filterConditions[groupIndex][index].returnValueType
      if (returnValueType && value) {
        const msg = this.checkConditionTypeAndReturnValueType(returnValueType, value)
        if (msg) {
          this.$message.warning(msg)
          return
        }
      }
      filterConditions[groupIndex][index].conditionType = value
      this.setFilterConditions(filterConditions)
    },
    onVariableTypeChange(value, groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions)
      let condition = filterConditions[groupIndex][index]
      condition.variableType = value
      if (value === 1) { // 常量
        condition.variableValue = null
      }
      if (value === 2) { // 变量
        condition.variableValue = '${' + 'var_' + new Date().getTime() + '}'
      }
      if (value === 3) { // SQL
        condition.variableValue = '查看SQL条件'
      }
      if (value === 4) { // 全局变量
        condition.variableValue = null
      }
      this.setFilterConditions(filterConditions)
    },
    // 校验全局变量的返回值类型与选择的比较条件是否匹配
    checkConditionTypeAndReturnValueType(returnValueType, conditionType) {
      let msg = ''
      if (returnValueType === 2) { // 多值
        if (![7,8,9].includes(conditionType)) {
          msg = '当前全局变量返回值类型为多值，比较条件与之不匹配，请修改'
        }
      } else if (returnValueType === 3) { // 范围
        if (![14, 15].includes(conditionType)) {
          msg = '当前全局变量返回值类型为范围，比较条件与之不匹配，请修改'
        }
      }
      return msg
    },
    onVariableValueChange(globalVariableObj, groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions)
      if (typeof globalVariableObj === 'object') {
        // 全局变量
        const returnValueType = globalVariableObj.labelType * 1
        const conditionType = filterConditions[groupIndex][index].conditionType
        if (returnValueType && conditionType) {
          const msg = this.checkConditionTypeAndReturnValueType(returnValueType, conditionType)
          if (msg) {
            this.$message.warning(msg)
            return
          }
        }
        filterConditions[groupIndex][index].returnValueType = returnValueType
        filterConditions[groupIndex][index].variableValue = globalVariableObj.value
      } else {
        // 常量
        filterConditions[groupIndex][index].variableValue = globalVariableObj
      }
      this.setFilterConditions(filterConditions)
    },
    onClickSql({ variableType }, groupIndex, index) {
      if (variableType === 3) { // SQL
        this.$bus.$emit('on-watch-sql-condition', { groupIndex, index })
      }
    },
  },
}
</script>

<style scoped lang="less">
.basic-indicator-definition {
  .filter-conditions-title {
    display: flex;
    align-items: center;

    .ivu-switch {
      margin-left: 12px;
    }
  }

  .filter-conditions-body {
    margin-top: 18px;
    padding-left: 60px;
  }
}

.row {
  display: flex;
  margin-top: 16px;
}

.field {
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;

  > span {
    color: rgba(0, 0, 0, 0.85);
  }

  .ivu-select {
    overflow: hidden;
  }

  + .field {
    margin-left: 32px;
  }
}

.icon-arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: transform .3s;
}

.icon-arrow.expand {
  transform: rotate(180deg);
}

.business-model {
  .field {
    width: 20%;

    /deep/ div[refresh=true] {
      width: 100%;
    }
  }

  .column-field {
    width: 14%;
  }

  .summary-method-field {
    width: 26%;
  }
}
/deep/ .ivu-tree-title{
  .tree-title-span{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
</style>
