<template>
  <div class="composite-indicator-expression">
    <div class="indicator-selector-wrapper">
      <div class="expression-title">指标选择
        <div>
          过滤
          <Tooltip content="打开开关则会过滤掉与已选指标无共同维度的指标，即无共同维度的指标不支持一起计算" placement="top-start" max-width="500" theme="light">
            <Icon type="ios-information-circle-outline" size="16" />
          </Tooltip>
          <Switch v-model="indicatorFilter" :before-change="indicatorFilterBeforeChange" />
        </div>
      </div>
      <div class="indicator-selector">
        <IndicatorSelectTree ref="indicatorSelectTree" @selectResourcesChange="selectResourcesChange" isView/>
      </div>
    </div>
    <div class="calc-formula-wrapper">
      <div class="expression-title">运算公式</div>
      <div class="calc-formula">
        <div class="toolbar-wrapper">
          <div class="operators">
            <img v-for="(item, index) in operators" :key="index" :src="getOperatorImgSrc(item)"
                 @click="handleAddArithmetic(item)" />
            <Select v-if="!hideFunSelect" class="calc-function" :value="checkFuuChange" placeholder="选择函数后添加" @on-select="onSelectFunc">
              <Option v-for="(item, index) in calcFunctions" :key="index" :fxName="item.name" :value="item.name">{{ item.name }}</Option>
            </Select>
          </div>
          <div class="expression-check">
            <Button type="primary" ghost @click="handleCheckoutEqu">公式校验</Button>
            <div class="check-result" v-if="equValid !== null">
              <span v-show="equValid === true" class="check-success">
                <img src="@/assets/icons/indicatorIcon/icon_success.svg" />符合
              </span>
              <span v-show="equValid === false" class="check-error">
                <img src="@/assets/icons/indicatorIcon/icon_error.svg" />不符合
              </span>
            </div>
          </div>
        </div>
        <div class="formula-content-wrapper">
          <div id="compositeTextContainer" :contenteditable="checkFuuChange !== 'union'" @click="getTarget" @input="getTarget">
            <span><input class="textArea_input" /></span>
          </div>
          <div class="function-definition">
            函数释义：{{ funcExplain || '无' }}
          </div>
          <div class="clear-button" @click="clickClear()">一键清空</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import operatorIncrease from '@/assets/icons/indicatorIcon/operator_increase.svg'
import operatorDecrease from '@/assets/icons/indicatorIcon/operator_decrease.svg'
import operatorMultiply from '@/assets/icons/indicatorIcon/operator_multiply.svg'
import operatorDivide from '@/assets/icons/indicatorIcon/operator_divide.svg'
import operatorLeftBracket from '@/assets/icons/indicatorIcon/operator_left_bracket.svg'
import operatorRightBracket from '@/assets/icons/indicatorIcon/operator_right_bracket.svg'
import { deepCopy } from '@/utils/common'
import { CALC_FUNCTIONS, OPERATORS } from '@/view/report/indicator/constant'
import { mapState } from 'vuex'
import { getRelationIndicator } from '@/api/indicator'
import { INDICATOR_OPTION_LIST } from '@/config/indicator'
import IndicatorSelectTree from '@/view/report/indicator/IndicatorDetail/components/IndicatorSelectTree.vue'
import dataPropertyMixin from "@/view/report/indicator-browser/mixin/dataPropertyMixin";

const COMPARE_LIST = [{
  id: 1,
  label: '>'
}, {
  id: 2,
  label: '<'
}, {
  id: 3,
  label: '<='
}, {
  id: 4,
  label: '>='
}, {
  id: 5,
  label: '='
}, {
  id: 6,
  label: 'is null'
}, {
  id: 7,
  label: 'is not null'
}]
export default {
  name: 'CompositeIndicatorExpression',
  props: {
    openModal: Boolean,
    dataAssets: Array,
    // 是否展示指标的icon
    showIndicatorIcon: {
      type: Boolean,
      default: false,
    },
    // 是否隐藏函数选择
    hideFunSelect: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [dataPropertyMixin],
  components: {
    IndicatorSelectTree
  },
  data() {
    return {
      indicatorTreeData: [], // 指标树
      searchContent: '', // 检索关键字
      calcFunctions: CALC_FUNCTIONS, // 所有公式选项
      operators: OPERATORS, // 所有运算符号
      equValid: null, // 表达式是否符合规则 true-符合 false-不符合
      funcExplain: '', // 函数释义
      checkFuuChange: '', // 当前选择的函数
      indicatorFilter: true, //复合指标相关公共维度是否过滤
      target: null, // 当前光标所在的dom
    }
  },
  computed: {
    ...mapState('indicator', [
      'basicIndicatorTree',
      'expressionHtml',
      'expression',
      'indicators',
    ]),
  },
  watch: {
    openModal(val) {
      if (val) {
        if (this.expressionHtml) {
          // 公式回显
          this.showBackDto(this.expressionHtml)
        } else {
          this.getIndicatorTreeData()
        }
      } else {
        this.refreshFunction()
      }
    },
    searchContent() {
      this.getIndicatorTreeData()
    },
  },
  created() {
    this.blurIpt = null // 当前input框
    this.list = deepCopy(CALC_FUNCTIONS)
  },
  mounted() {
    this.cpmDidMount()
  },
  methods: {
    // 初始化
    cpmDidMount() {
      this.textArea = document.querySelector('#compositeTextContainer')
      const firstIpt = document.getElementsByClassName('textArea_input')[0]
      this.listenTextAreaInput(this.textArea)
      this.$nextTick(() => {
        this.setInputFocus(firstIpt)
        firstIpt.focus()
        this.blurIpt = firstIpt
        this.indicatorFilter = true
      })
      this.target = document.querySelector('#compositeTextContainer')
      this.textArea.addEventListener('keyup', () => {
        this.getTarget()
      })
    },

    // 获取指标树
    async getIndicatorTreeData(isForceGetAll = false) {//参数为是否强制获取全部指标 默认为false
      const relatedIndicators = (isForceGetAll || !this.indicatorFilter) ? null : await this.getRelatedIndicators()
      let calculateType = null
      // union函数，指标的汇总方式需要与选择的第一个指标的汇总方式相同
      if (this.checkFuuChange === 'union') {
        const firstInput = this.textArea.querySelector('.textArea_input')
        const info = firstInput.getAttribute('info')
        if (info) {
          const indicatorId = JSON.parse(JSON.parse(info)).id
          const indicator = this.indicators.find(item => item.id === indicatorId)
          calculateType = indicator.calculateType
        }
      }
      // this.indicatorTreeData = this.filterTree(this.basicIndicatorTree, this.searchContent, relatedIndicators, calculateType)
      this.$refs.indicatorSelectTree.refreshRelatedIndicatorTreeData(relatedIndicators, this.searchContent, calculateType)
    },

    // 获取已选的指标
    getSelectedIndicators() {
      let selectedIndicators = []
      // input中的值就是已选的指标
      const allInput = this.textArea.querySelectorAll('.textArea_input')
      for (let input of allInput) {
        if (input.hasAttribute('info')) {
          const info = JSON.parse(JSON.parse(input.getAttribute('info')))
          // 静态指标不参与过滤
          if (info.type !== 5) {
            selectedIndicators.push(info.id)
          }
        }
      }
      return selectedIndicators
    },

    // 根据已选指标获取相关联的指标
    async getRelatedIndicators() {
      let selectedIndicators = this.getSelectedIndicators()
      // 如果没有选择指标，那么关联指标应该就是全部，为null
      if (!selectedIndicators.length) {
        return null
      }
      const res = await getRelationIndicator(selectedIndicators)
      if (res.data.state === 'success') {
        const relatedIndicators = res.data.data.map(item => item.id)
        // 接口返回的关联指标过滤掉了已选的指标，所以需要将已选指标放进来，在前端过滤时可以获取到
        return [...selectedIndicators, ...relatedIndicators]
      } else {
        this.$Message.error('获取关联指标失败！')
      }
    },

    /**
     * 指标树过滤
     * @param tree 指标树
     * @param keywords 关键字
     * @param relatedIndicators 相关联的指标
     * @param calculateType 指标的汇总方式
     * @returns {*[]}
     */
    filterTree(tree, keywords, relatedIndicators, calculateType) {
      let newTree = []
      for (let item of tree) {
        let condition
        condition = item.title.includes(keywords) // 过滤出包含关键字的目录或者指标
          && (calculateType ? (item.calculateType === calculateType) : true) // 如果参数存在汇总方式，过滤出同该汇总方式相同的指标
          && (relatedIndicators ? relatedIndicators.includes(item.id) : true)
        if (condition) {
          newTree.push(item)
          continue
        }
        // 如果当前节点不包含关键字，那么递归children
        let newChildren = []
        // 如果都不符合，向下在children中查询，如果children中存在，则父级也存在树中
        if (item.children) {
          newChildren = this.filterTree(item.children, keywords, relatedIndicators, calculateType)
        }
        let newTreeItem = deepCopy(item)
        if (newChildren?.length) {
          newTreeItem.children = newChildren
          newTree.push({
            ...newTreeItem,
            expand: true,
          })
        }
      }
      return newTree
    },

    // 回显
    showBackDto(val) {
      this.$nextTick(() => {
        this.textArea.innerHTML = val
        // 判断表达式是否是union函数的，没有[]表示是union函数的
        if (this.expression.indexOf('[') === -1) {
          this.checkFuuChange = 'union'
          let _this = this
          const allAddBtn = this.textArea.querySelectorAll('.add-btn')
          allAddBtn.forEach(addBtn => {
            addBtn.addEventListener('click', e => {
              const unionItem = _this.createUnionItem()
              _this.insertAfter(e.target.closest('.union-item'), unionItem)
            })
          })
          const allDeleteBtn = this.textArea.querySelectorAll('.delete-btn')
          allDeleteBtn.forEach(deleteBtn => {
            deleteBtn.addEventListener('click', e => {
              const union = document.querySelector('.union-container')
              union.removeChild(e.target.closest('.union-item'))
              // 如果union容器中没有unionItem了，给一个默认的
              if (!union.hasChildNodes()) {
                const unionItem = _this.createUnionItem()
                union.appendChild(unionItem)
              }
              this.getIndicatorTreeData()
            })
          })
        }
        const allInput = this.textArea.querySelectorAll('.textArea_input')
        for (let i = 0; i < allInput.length; i++) {
          let iptNodes = allInput[i]
          if (iptNodes.nodeName === 'INPUT') {
            let info = JSON.parse(JSON.parse(iptNodes.getAttribute('info')))
            iptNodes.value = (info && info.title) || iptNodes.getAttribute('infoLabel')
            if (iptNodes.getAttribute('inputedValue')) {
              iptNodes.value = iptNodes.getAttribute('inputedValue')
            }
            this.setInputFocus(iptNodes)
            iptNodes.focus()
          }
          if (iptNodes.nodeName === 'SPAN' && iptNodes.classList.contains('fxContainer')) {
            let itemList = iptNodes.childNodes, fxName = iptNodes.getAttribute('fx')
            this.targetFx = fxName
            this.changedFuu = 'default'
            this.checkFuuChange = fxName
            this.chooseFx = true
            for (let j = 0; j < itemList.length; j++) {
              let it = itemList[j]
              if (it.nodeName === 'INPUT') {
                if (it.getAttribute('iptVal')) {
                  it.value = it.getAttribute('iptVal')
                } else if (it.getAttribute('inputedValue')) {
                  it.value = it.getAttribute('inputedValue')
                } else {
                  let info = JSON.parse(JSON.parse(it.getAttribute('info')))
                  it.value = (info && info.title) || it.getAttribute('infoLabel')
                }
                this.setInputFocus(it)
              } else if (it.nodeType !== 3 && it.classList.contains('fxContainer')) {
                this.rebuildInputValue(it)
              }
              if (it.nodeName === 'SELECT') {
                let reg = COMPARE_LIST.filter(item => (item.id === Number(it.getAttribute('selectedVal')) + 1))[0]
                it.value = reg.id
                if ([6, 7].includes(Number(it.value))) {
                  it.nextSibling.value = reg.label.split('is ')[1].toUpperCase()
                }
              }
            }
          }
        }
        this.getIndicatorTreeData()
      })
    },

    /**
     * 获取当前光标所在的dom
     */
    getTarget() {
      let selection = window.getSelection()
      let range = selection.getRangeAt(0)
      this.target = range.startContainer
    },

    /**
     * 更新当前光标所在dom
     * @param node
     */
    updateTarget(node) {
      let selection = window.getSelection()
      let range = selection.getRangeAt(0)
      range.setStartAfter(node)
      range.collapse(true);
      selection.removeAllRanges();
      selection.addRange(range);
      this.getTarget()
    },

    treeRender(h, { root, node, data }) {
      const withIcon = (
        <div class="indicatorIconWrapper">
          <i class={this.getClassNameByIndicatorType(data)}></i>
          <span title={data.title}>{data.title}</span>
        </div>
      )
      const notWithIcon = <span title={data.title}>{data.title}</span>
      return this.showIndicatorIcon ? withIcon : notWithIcon
    },
    /**
     * 获取指标类型对应的className
     */
    getClassNameByIndicatorType({ treeType, type, children }) {
      if (treeType === 'group' && !children) {
        return 'catalogueTreeNode'
      }
      if (treeType === 'value') {
        return INDICATOR_OPTION_LIST.find(ele => ele.value === type)?.iconClass || ''
      }
      return ''
    },
    /**
     * 展示运算符图片
     */
    getOperatorImgSrc(value) {
      if (value === '+') {
        return operatorIncrease
      }
      if (value === '-') {
        return operatorDecrease
      }
      if (value === '*') {
        return operatorMultiply
      }
      if (value === '/') {
        return operatorDivide
      }
      if (value === '(') {
        return operatorLeftBracket
      }
      if (value === ')') {
        return operatorRightBracket
      }
      return null
    },
    // 运算符追加
    handleAddArithmetic(operator) {
      // 光标不在textArea中
      if (!this.isCursorInElement(this.textArea)) {
        return
      }
      // union函数不支持四则运算
      if (this.checkFuuChange === 'union') {
        this.$Message.warning('union函数不支持追加四则运算！')
        return
      }
      //创建一个计算符号
      const operatorDOM = document.createElement('img')
      operatorDOM.dataset.name = operator
      operatorDOM.classList.add('operator')
      operatorDOM.classList.add(this.getOperatorClass(operator))
      const input = this.createInput()
      // 如果光标在blurIpt中
      if (this.blurIpt) {
        this.setSelectionAtElement(this.blurIpt)
      }
      this.insertAfter(this.target, operatorDOM)
      this.updateTarget(operatorDOM)
      this.insertAfter(this.target, input)
      this.updateTarget(input)
      this.setSelectionAtElement(input)
      this.blurIpt = input
      input.firstChild.select() //将光标放在新加input内 以便直接选择指标

    },

    // 将光标放在某个元素后面
    setSelectionAtElement(element) {
      const range = document.createRange()
      range.setStartAfter(element)
      const selection = window.getSelection()
      selection.removeAllRanges()
      selection.addRange(range)
      selection.collapseToEnd()
    },

    // 获取运算符的类
    getOperatorClass(operator) {
      if (operator === '+') {
        return 'increase'
      }
      if (operator === '-') {
        return 'decrease'
      }
      if (operator === '*') {
        return 'multiply'
      }
      if (operator === '/') {
        return 'divide'
      }
      if (operator === '(') {
        return 'left-bracket'
      }
      if (operator === ')') {
        return 'right-bracket'
      }
      return ''
    },

    // 清空表达式
    clearExpression() {
      const inputBox = document.getElementById('compositeTextContainer')
      inputBox.innerHTML = ''
    },

    // 选择函数
    onSelectFunc(option) {
      // 函数名称
      const funcName = option.value
      // 选择union函数时清空输入框
      if (funcName === 'union' || this.checkFuuChange === 'union') {
        this.clearExpression()
      }
      this.checkFuuChange = funcName
      // 函数说明
      this.funcExplain = this.list.find(item => item.name === funcName).explain
      // union函数和其他函数不一样
      if (funcName === 'union') {
        const union = document.createElement('div')
        union.classList.add('union-container')
        const unionItem = this.createUnionItem()
        union.appendChild(unionItem)
        this.textArea.appendChild(union)
      } else if (funcName === 'IF') {
        const ifExpress = this.createIfExpress()
        this.insertAfter(this.target, ifExpress)
        this.updateTarget(ifExpress)
      } else if (funcName === 'MAX') {
        const maxExpress = this.createMaxExpression()
        this.insertAfter(this.target, maxExpress)
        this.updateTarget(maxExpress)
      } else {
        //创建函数容器
        const span = document.createElement('span')
        let ipt = this.createInput(true)
        //设置容器参数
        span.classList.add('fxContainer')
        span.setAttribute('fx', funcName)
        span.innerHTML = `${funcName}<span>(</span>`
        span.appendChild(ipt)
        if (this.blurIpt && this.blurIpt.getAttribute('infoLabel')) {
          this.blurIpt.value = this.blurIpt.getAttribute('infoLabel')
        }
        let bracketEnd = document.createElement('span')
        bracketEnd.innerText = ')'
        span.appendChild(bracketEnd)
        this.insertAfter(this.target, span)
        this.updateTarget(span)
      }
    },

    /**
     * 创建IF表达式
     */
    createIfExpress() {
      const div = document.createElement('div')
      div.classList.add('if-container')
      div.style.display = 'inline-block'
      let span = document.createElement('span')
      span.innerHTML = 'IF('
      div.appendChild(span)
      for (let i = 0; i < 3; i++) {
        let input = this.createInput(true)
        div.appendChild(input)
        if (i < 2) {
          span = document.createElement('span')
          span.innerHTML = ','
          div.appendChild(span)
        }
      }
      span = document.createElement('span')
      span.innerHTML = ')'
      div.appendChild(span)

      return div
    },

    /**
     * 创建MAX表达式
     */
    createMaxExpression() {
      const div = document.createElement('div')
      div.classList.add('max-container')
      div.style.display = 'inline-block'
      let span = document.createElement('span')
      span.innerHTML = 'MAX('
      div.appendChild(span)
      for (let i = 0; i < 2; i++) {
        let input = this.createInput(true)
        div.appendChild(input)
        if (i < 1) {
          span = document.createElement('span')
          span.innerHTML = ','
          div.appendChild(span)
        }
      }
      span = document.createElement('span')
      span.innerHTML = ')'
      div.appendChild(span)

      return div
    },

    // 创建union函数的unionItem
    createUnionItem() {
      const unionItem = document.createElement('div')
      unionItem.classList.add('union-item')
      const unionItemContent = document.createElement('div')
      unionItemContent.classList.add('union-item-content')
      const input = this.createInput()
      unionItemContent.appendChild(input)
      this.blurIpt = input
      const addBtn = this.createAddBtn()
      unionItemContent.appendChild(addBtn)
      const deleteBtn = this.createDeleteBtn()
      unionItemContent.appendChild(deleteBtn)
      unionItem.appendChild(unionItemContent)
      return unionItem
    },

    // 创建union函数的addBtn
    createAddBtn() {
      const addBtn = document.createElement('span')
      addBtn.classList.add('add-btn')
      addBtn.addEventListener('click', e => {
        const unionItem = this.createUnionItem()
        this.insertAfter(e.target.closest('.union-item'), unionItem)
      })
      return addBtn
    },

    // 创建union函数的deleteBtn
    createDeleteBtn() {
      const deleteBtn = document.createElement('span')
      deleteBtn.classList.add('delete-btn')
      deleteBtn.addEventListener('click', e => {
        const union = document.querySelector('.union-container')
        union.removeChild(e.target.closest('.union-item'))
        // 如果union容器中没有unionItem了，给一个默认的
        if (!union.hasChildNodes()) {
          const unionItem = this.createUnionItem()
          union.appendChild(unionItem)
        }
        this.getIndicatorTreeData()
      })
      return deleteBtn
    },

    // 在某个元素后面插入节点
    insertAfter(target, node) {
      // 如果目标元素是父元素的最后一个元素
      if (target === this.textArea) {
        target.appendChild(node)
      } else if (target.parentNode.lastChild === target) {
        target.parentNode.appendChild(node)
      } else {
        target.parentNode.insertBefore(node, target.nextSibling)
      }
    },

    // 校验公式
    handleCheckoutEqu() {
      let { expressionTest } = this.getExpression()
      // expressionTest = this.transformExpressionTest(expressionTest)
      // try {
      //   const valid = typeof eval(expressionTest) === 'number' && !isNaN(eval(expressionTest))
      //   this.equValid = valid
      // } catch {
      //   this.equValid = false
      // }
      this.equValid = true
    },

    /**
     * 转换用于校验的表达式，将IF表达式转换为数字
     * @param expressionTest
     */
    transformExpressionTest(expressionTest) {
      // MAX(2,2) --> 2
      const reg2 = /MAX\(\d+,\d+\)/g
      while (expressionTest.includes('MAX')) {
        expressionTest = expressionTest.replace(reg2, 2)
      }

      // 2+IF([5 > 2,IF(4 > 1000,2),2) --> 2+2
      // const reg = /IF\(.+,\d+,\d+\)/g
      const reg = /IF\(([0-9]+(,[0-9]+)*)\s*([><=+-]+)\s*([0-9]+(,[0-9]+)*)\s*\)/
      while (expressionTest.includes('IF')) {
        expressionTest = expressionTest.replace(reg, 2)
      }

      return expressionTest
    },

    // 获取表达式
    getExpression() {
      if (this.checkFuuChange === 'union') {
        return this.getUnionExpression()
      } else {
        return this.getCommonExpression()
      }
    },

    // 获取union函数表达式
    getUnionExpression() {
      const allInput = this.textArea.querySelectorAll('.textArea_input')
      if (allInput.length < 2) {
        this.$Message.warning('至少存在2个union结果！')
        return false
      }
      if (allInput.length > 5) {
        this.$Message.warning('最多支持union5个结果！')
        return false
      }
      let expression = [], // 最终的公式
        expressionTest = [] // 用于校验的公式
      for (let input of allInput) {
        if (!input.hasAttribute('info') && !input.hasAttribute('inputed')) {
          this.$Message.warning('存在空的union结果！')
          return false
        }
        if (input.hasAttribute('info')) {
          const info = JSON.parse(JSON.parse(input.getAttribute('info')))
          expression.push(info.id) // 指标id_指标类型
        }
        if (input.hasAttribute('inputed')) {
          expression.push(input.value)
        }
        expressionTest.push(2)
      }

      expression = expression.join(',')
      expressionTest = expressionTest.join('+')
      // 表达式的html
      const expressionHtml = this.textArea.innerHTML.toString()

      return { expression, expressionTest, expressionHtml }
    },

    // 获取非union函数表达式
    getCommonExpression() {
      let children = this.textArea.childNodes, //区域内所以子节点
        expression = '', // 最终的公式
        expressionTest = '' // 用于校验的公式
      // 判空校验，只有默认节点，并且输入框没有选择指标，或者没有输入值
      if (this.checkFuuChange === 'union') {
        const union = document.querySelector('.union-container')
        const input = union.querySelector('.textArea_input')
        if (union.childNodes.length === 1 && !input.hasAttribute('info') && !input.hasAttribute('inputed')) {
          this.$Message.warning('请输入公式！')
          return false
        }
      } else {
        if (children.length === 1 && children[0].nodeName === 'INPUT' && !children[0].hasAttribute('info') && !children[0].hasAttribute('inputed')) {
          this.$Message.warning('请输入公式！')
          return false
        }
      }
      for (let i = 0; i < children.length; i++) {
        const item = children[i]
        if (item.className === 'fxContainer') {
          const data = { exp: '', test: '' }
          this.getHtmlText(item, data)
          expression += data.exp
          expressionTest += data.test
        } else if (item.className === 'if-container' || item.className === 'max-container') {
          const result = this.checkIfExpression(item)
          expression += result.expression
          expressionTest += result.expressionTest
        } else {
          const commonEqu = this.commonEquCheck(item)
          expression += commonEqu.equReal
          expressionTest += commonEqu.equTest
        }
      }

      // 表达式的html
      const expressionHtml = this.textArea.innerHTML.toString()

      return { expression, expressionTest, expressionHtml }
    },

    /**
     * 检查IF表达式
     * @param el
     */
    checkIfExpression(el) {
      let expression = '', expressionTest = ''
      const nodes = el.childNodes
      for (let node of nodes) {
        if (node.childNodes.length) {
          const result = this.checkIfExpression(node)
          expression += result.expression
          expressionTest += result.expressionTest
        } else {
          if (node.className === 'fxContainer') {
            const data = { exp: '', test: '' }
            this.getHtmlText(node, data)
            expression += data.exp
            expressionTest += data.test
          } else if (node.className === 'if-container' || node.className === 'max-container') {
            const result = this.checkIfExpression(node)
            expression += result.expression
            expressionTest += result.expressionTest
          } else if (node.classList?.contains('textArea_input')) {
            const commonEqu = this.commonEquCheck(node)
            expression += commonEqu.equReal
            expressionTest += commonEqu.equTest
          } else {
            if (node.nodeType === 3) {
              expression += node.nodeValue
              expressionTest += node.nodeValue
            }
          }
        }
      }
      return { expression, expressionTest }
    },


    // tree点击事件
    handleChooseTreeData(nodes, node) {
      // 文件夹不能点击
      if (node.treeType === 'group') {
        this.$Message.warning('不能选择文件夹！')
        return
      }
      // 如果没有聚焦蓝色输入框，不能选择指标
      if (!this.blurIpt) {
        this.$Message.warning('请选择要放入的蓝色输入框！')
        return
      }
      const nodeWidth = this.autoInputWidth(node.title, true)
      const { id, title, type } = node
      const info = JSON.stringify(JSON.stringify({ id, title, type }))
      this.blurIpt.setAttribute('info', info)
      this.blurIpt.setAttribute('infoLabel', node.title)
      this.blurIpt.value = node.title
      this.blurIpt.style.width = nodeWidth + 'px'
      // 如果父元素是函数，不追加input
      const parent = this.blurIpt.parentNode,
        fxName = parent.getAttribute('fx')
      if (fxName) {
        return
      }
      // 如果前面是指标，先删除该指标
      const prevDOM = this.blurIpt.previousSibling
      if (prevDOM?.className === 'textArea_input') {
        parent.removeChild(prevDOM)
      }
      this.getIndicatorTreeData()
    },

    selectResourcesChange(node) {
      // 文件夹不能点击
      if (!node.type) {
        this.$Message.warning('不能选择文件夹！')
        return
      }
      // 如果没有聚焦蓝色输入框，不能选择指标
      if (!this.blurIpt) {
        this.$Message.warning('请选择要放入的蓝色输入框！')
        return
      }
      node.title = node.name
      const nodeWidth = this.autoInputWidth(node.name, true)
      const { id, title, type } = node
      const info = JSON.stringify(JSON.stringify({ id, title, type }))
      this.blurIpt.setAttribute('info', info)
      this.blurIpt.setAttribute('infoLabel', node.title)
      this.blurIpt.value = node.title
      this.blurIpt.style.width = nodeWidth + 'px'
      // 如果父元素是函数，不追加input
      const parent = this.blurIpt.parentNode,
        fxName = parent.getAttribute('fx')
      if (fxName) {
        return
      }
      // 如果前面是指标，先删除该指标
      const prevDOM = this.blurIpt.previousSibling
      if (prevDOM?.className === 'textArea_input') {
        parent.removeChild(prevDOM)
      }
      this.getIndicatorTreeData()
    },
    // 监听键盘
    listenTextAreaInput(dom) {
      dom.addEventListener('keyup', (e) => {
        if (e.keyCode === 8) {
          this.inputDeleteEvent()
        }
        if ((e.keyCode === 106 || (e.keyCode === 56 && e.shiftKey)) && !this.blurIpt) {
          this.removeOperator()
          this.handleAddArithmetic('*')
        }
        if ((e.keyCode === 107 || (e.keyCode === 187 && e.shiftKey)) && !this.blurIpt) {
          this.removeOperator()
          this.handleAddArithmetic('+')
        }
        if ((e.keyCode === 109 || (e.keyCode === 189 && e.shiftKey)) && !this.blurIpt) {
          this.removeOperator()
          this.handleAddArithmetic('-')
        }
        if (e.keyCode === 111 && !this.blurIpt) {
          this.removeOperator()
          this.handleAddArithmetic('/')
        }
        if (e.keyCode === 57 && e.shiftKey && !this.blurIpt) {
          this.removeOperator()
          this.handleAddArithmetic('(')
        }
        if (e.keyCode === 48 && e.shiftKey && !this.blurIpt) {
          this.removeOperator()
          this.handleAddArithmetic(')')
        }
      })
      dom.addEventListener('click', e => {
        // 如果点击的是input，设置this.blurIpt，否则置空
        if (e.target.className.indexOf('textArea_input') > -1) {
          this.inputEvent(e, 'click')
          this.blurIpt = e.target
        } else {
          this.blurIpt = null
        }
      })
      dom.addEventListener('mousemove', e => {
        if (e.target.className.indexOf('textArea_input') > -1) {
          this.inputEvent(e, 'move')
        }
      })
    },
    // 输入框内键盘输入运算符号后清除当前文字符号
    removeOperator() {
      let selection = window.getSelection()
      let range = selection.getRangeAt(0)
      let container = range.startContainer
      container.remove()
    },
    //input点击删除图片删除事件和鼠标移入图标上改变鼠标样式
    inputEvent(e, type) {
      const clickedElement = e.target
      const rect = clickedElement.getBoundingClientRect()
      const offsetX = rect.width - (e.clientX - rect.left)
      if (offsetX > 10 && offsetX < 25) { //此区域为删除图标区域
        if (type == 'click') {
          clickedElement.remove()
          this.inputDeleteEvent()
        }
        clickedElement.style.cursor = 'pointer'
      } else {
        clickedElement.style.cursor = 'auto'
      }
    },
    //判断input删除事件
    inputDeleteEvent() {
      let lastChild = this.textArea.lastChild
      // 如果表达式输入框没有子元素，各一个默认的input元素
      if (!lastChild || lastChild?.nodeName === 'BR') {
        if (lastChild?.nodeName === 'BR') {
          this.textArea.removeChild(lastChild)
        }
        const input = this.createInput()
        this.setInputFocus(input)
        this.textArea.appendChild(input)
        this.blurIpt = input
        const range = window.getSelection().getRangeAt(0)
        range.setStartAfter(input)
      }
      this.getIndicatorTreeData()
    },
    // 判断光标是否在某个元素中
    isCursorInElement(element) {
      const selection = window.getSelection()
      return element.contains(selection.anchorNode)
    },

    // 筛选框跟踪input
    setInputFocus(ipt) {
      ipt.addEventListener('focus', e => {
        this.blurIpt = e.currentTarget
        e.currentTarget.addEventListener('input', event => {
          let nodeWidth = this.autoInputWidth(event.target.value, true)
          event.target.style.width = nodeWidth + 'px'
        })
      })
      ipt.addEventListener('keydown', e => {
        let attrs = e.target.attributes
        for (let key in attrs) {
          let localName = attrs[key].localName
          if (localName && localName.indexOf('info') !== -1) {
            if (e.target.parentNode.getAttribute('fx') !== 'if') {
              e.target.removeAttribute(attrs[key].localName)
              e.target.value = ''
            }
          }
        }
      })
      ipt.addEventListener('input', (e) => {
        e.target.setAttribute('inputed', true)
        e.target.setAttribute('inputedValue', e.target.value)
        e.target.style.backgroundColor = '#FFF'
        e.target.style.color = '#3F73FF'
      })
      ipt.addEventListener('keyup', e => {
        if (e.target.value === '') {
          e.target.style.backgroundColor = 'rgb(239, 243, 252)'
          e.target.style.color = '#3F73FF'
          let attrs = e.target.attributes
          for (let key in attrs) {
            if (!isNaN(key) && attrs[key].localName !== 'class' && attrs[key].localName !== 'style') {
              e.target.removeAttribute(attrs[key].localName)
            }
          }
        }
      })
    },

    // input框自适应宽度
    autoInputWidth(txt, addPadding) {
      let temp = document.createElement('a'), body = document.getElementsByTagName('body')[0]
      temp.innerText = txt
      body.appendChild(temp)
      let width = temp.offsetWidth
      body.removeChild(temp)
      return width + (addPadding ? 40 : 0)
    },

    // 创建input
    createInput(isInner) {
      let span = document.createElement('span')
      const ipt = document.createElement('input')
      ipt.classList.add('textArea_input')
      if (isInner) {
        ipt.classList.add('textArea_input_inner')
      }
      this.setInputFocus(ipt)
      span.appendChild(ipt)
      return span
    },
    getHtmlText(el, data) {
      if (!el) return
      // 文本节点
      if (el.nodeType === 3) {
        data.exp += el.data
        if (el.data !== 'ABS' && el.data !== 'INT') {
          data.test += el.data
        }
      }
      // 元素节点，四则运算符
      if (el.nodeType === 1 && el.tagName.toLowerCase() === 'img') {
        data.exp += el.dataset.name
        data.test += el.dataset.name
      }
      // 元素节点，输入框
      if (el.nodeType === 1 && el.tagName.toLowerCase() === 'input') {
        let inputValue = ''
        // 判断是否选择了指标
        if (el.hasAttribute('info')) {
          const info = JSON.parse(JSON.parse(el.getAttribute('info')))
          inputValue = `[${info.id}_${info.type}]`
        }
        // 判断是否输入了值
        if (el.hasAttribute('inputed')) {
          inputValue = el.value
        }
        data.exp += inputValue
        data.test += inputValue ? 2 : ''
      }
      const children = el.childNodes
      if (children.length > 0) {
        for (let i = 0; i < children.length; i++) {
          this.getHtmlText(children[i], data)
        }
      }
    },

    commonEquCheck(el) {
      let equReal, equTest
      // 如果是输入框
      if (el.classList.contains('textArea_input') || el.firstChild?.classList.contains('textArea_input')) {
        if (el.firstChild?.classList.contains('textArea_input')) {
          el = el.firstChild
        }
        if (el.hasAttribute('info')) {
          const info = JSON.parse(JSON.parse(el.getAttribute('info')))
          equReal = `[${info.id}_${info.type}]` // 指标id_指标类型
        }
        if (el.hasAttribute('inputed')) {
          equReal = el.value
        }
        equTest = 2
        equReal += el.innerText
        equTest += el.innerText
      }
      // 如果是运算符
      if (el.classList.contains('operator')) {
        const operator = el.dataset.name
        equReal = operator
        equTest = operator
      }
      return { equReal, equTest }
    },

    // 重置函数功能
    refreshFunction() {
      this.blurIpt = null
      this.searchContent = ''
      this.checkFuuChange = ''
      this.funcExplain = ''
      this.targetFx = ''
      this.equValid = null
      this.textArea.innerHTML = `<span><input class="textArea_input"></input></span>`
      this.cpmDidMount()
    },
    //指标过滤打开确认
    indicatorFilterBeforeChange() {
      return new Promise((resolve) => {
        this.$Modal.confirm({
          title: `确认${this.indicatorFilter ? '关闭' : '打开'}过滤开关吗？`,
          content: this.indicatorFilter ? '关闭后无共同维度指标也将支持一起计算。' : '打开后已选指标将被清空，且无共同维度指标不再支持一起计算。',
          onOk: () => {
            //此时开关绑定的值还未改变 所以取反 且需要强制获取全部指标
            if (!this.indicatorFilter) {
              this.refreshFunction()
            }
            this.getIndicatorTreeData(true)
            resolve()
          },
        })
      })
    },
    //清空所有input及函数 并重置指标tree
    clickClear() {
      this.refreshFunction()
      this.getIndicatorTreeData()
    },
  },
}
</script>

<style scoped lang="less">
.composite-indicator-expression {
  height: 400px;
  background: #FAFAFA;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 12px;
}

.expression-title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  padding: 10px 0;
}

.indicator-selector-wrapper {
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;

  .indicator-selector {
    flex: 1;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: #fff;
    overflow: hidden;

    .indicatorSelectTree-container {
      height: 100%;
    }
  }
}

.calc-formula-wrapper {
  height: 100%;
  width: calc(~'100% - 240px - 8px');
  display: flex;
  flex-direction: column;
  border-radius: 2px;

  .calc-formula {
    flex: 1;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: #fff;
    overflow: hidden;

    .toolbar-wrapper {
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      padding: 0 40px 0 14px;
    }

    .formula-content-wrapper {
      height: calc(~'100% - 56px');
      border-top: 1px solid #D9D9D9;
      position: relative;

      .clear-button {
        color: #3F73FF;
        font-size: 14px;
        background-image: url('~@/assets/icons/indicatorIcon/clear.svg');
        background-size: 20px;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 50px;
        left: 15px;
        cursor: pointer;
        padding-left: 25px;
      }
    }
  }

  .operators {
    display: flex;
    align-items: center;

    > img {
      width: 28px;
      height: 28px;
      padding: 6px;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      margin-right: 8px;
    }
  }

  .calc-function {
    width: 160px;
    border-radius: 4px;

    /deep/ .ivu-select-selection,
    /deep/ .ivu-select-placeholder,
    /deep/ .ivu-select-selected-value {
      height: 28px;
      line-height: 28px;
      border-color: #D9D9D9;
    }
  }

  .expression-check {
    display: flex;
    align-items: center;

    .ivu-btn {
      height: 28px;
      line-height: 1;
      border-radius: 2px;
    }

    .check-result {
      display: flex;
      align-items: center;
      margin-left: 12px;
    }

    .check-success {
      color: #6DD400;
    }

    .check-error {
      color: #FF4D4F;
    }

    img {
      margin-right: 6px;
    }
  }

  #compositeTextContainer {
    height: calc(~'100% - 40px');
    padding: 16px;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;

    /deep/ .fxContainer {
      line-height: 30px;
    }

    /deep/ .operator {
      display: inline-block;
      width: 30px;
      height: 30px;
      font-size: 30px;
      padding: 6px;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      margin: 4px 10px 4px 0;
      outline: none;
      vertical-align: bottom;

      &.increase {
        content: url('~@/assets/icons/indicatorIcon/operator_increase.svg');
      }

      &.decrease {
        content: url('~@/assets/icons/indicatorIcon/operator_decrease.svg');
      }

      &.multiply {
        content: url('~@/assets/icons/indicatorIcon/operator_multiply.svg');
      }

      &.divide {
        content: url('~@/assets/icons/indicatorIcon/operator_divide.svg');
      }

      &.left-bracket {
        content: url('~@/assets/icons/indicatorIcon/operator_left_bracket.svg');
      }

      &.right-bracket {
        content: url('~@/assets/icons/indicatorIcon/operator_right_bracket.svg');
      }
    }

    .small_close_button {
      width: 20px;

    }
  }

  .function-definition {
    padding: 0 16px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #D9D9D9;
    color: #999999;
  }
}

/deep/ .textArea_input {
  border: none;
  outline: 0;
  background-color: rgb(239, 243, 252);
  border-bottom: 1px solid #eaeaea;
  padding: 0 30px 0 10px;
  height: 30px;
  width: 60px;
  min-width: 60px;
  color: #3F73FF;
  border-radius: 2px;
  margin: 4px 10px 4px 0;
  position: relative;
  background-image: url('~@/assets/icons/indicatorIcon/close.svg');
  background-position: calc(~'100% - 10px');
  background-repeat: no-repeat;
}

/deep/ .fxContainer {
  margin-right: 4px;

  .textArea_input {
    margin-right: 0;
  }

  .operator {
    margin: 4px !important;
  }
}

/deep/ .union-container {
  display: flex;
  flex-direction: column;

  .union-item + .union-item:before {
    content: 'union';
    display: block;
    margin: 4px 2px;
    color: #999999;
  }

  .union-item-content {
    display: flex;
    align-items: center;

    .add-btn,
    .delete-btn {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-left: 8px;
    }

    .add-btn {
      background: url('~@/assets/icons/indicatorIcon/icon_add.svg');

      &:hover {
        background: url('~@/assets/icons/indicatorIcon/icon_add_active.svg');
      }
    }

    .delete-btn {
      background: url('~@/assets/icons/indicatorIcon/icon_delete.svg');

      &:hover {
        background: url('~@/assets/icons/indicatorIcon/icon_delete_active.svg');
      }
    }
  }
}
</style>
