<template>
  <!--复合指标表达式-->
  <Modal :value="show" title="表达式" width="900" footer-hide :loading="loading" @on-cancel="onCancel">
    <div class="composite-indicator-expression">
      <div class="indicator-selector-wrapper">
        <div class="expression-title">指标选择
          <div>
            过滤
            <Tooltip content="打开开关则会过滤掉与已选指标无共同维度的指标，即无共同维度的指标不支持一起计算" placement="top-start" max-width="500"
                     theme="light">
              <Icon type="ios-information-circle-outline" size="16" />
            </Tooltip>
            <Switch v-model="indicatorFilter" :before-change="indicatorFilterBeforeChange" />
          </div>
        </div>
        <div class="indicator-selector">
          <IndicatorSelectTree ref="indicatorSelectTree" @selectResourcesChange="onSelectIndicator" isView />
        </div>
      </div>
      <div class="calc-formula-wrapper">
        <div class="expression-title">运算公式</div>
        <div class="calc-formula">
          <div class="toolbar-wrapper">
            <div class="operators">
              <img src="@/assets/icons/indicatorIcon/operator_multiply.svg" @click="insertOperatorDOM('*')" />
              <img
                title="快捷键：ctrl+u"
                src="@/assets/icons/indicatorIcon/operator_union.svg"
                v-if="curFunction === 'union'"
                @click="insertOperatorDOM('union')" />
              <template v-else>
                <img src="@/assets/icons/indicatorIcon/operator_increase.svg" @click="insertOperatorDOM('+')" />
                <img src="@/assets/icons/indicatorIcon/operator_decrease.svg" @click="insertOperatorDOM('-')" />
                <img src="@/assets/icons/indicatorIcon/operator_divide.svg" @click="insertOperatorDOM('/')" />
                <img src="@/assets/icons/indicatorIcon/operator_left_bracket.svg" @click="insertOperatorDOM('(')" />
                <img src="@/assets/icons/indicatorIcon/operator_right_bracket.svg" @click="insertOperatorDOM(')')" />
              </template>
              <Select v-if="!hideFunSelect" class="calc-function" :value="curFunction" placeholder="选择函数后添加" @on-select="onSelectFunction">
                <Option value="ABS">ABS</Option>
                <Option value="INT">INT</Option>
                <Option value="union">union</Option>
                <Option value="IF">IF</Option>
                <Option value="MAX">MAX</Option>
              </Select>
            </div>
            <div class="expression-check">
              <Button type="primary" ghost @click="checkExpression">公式校验</Button>
              <div class="check-result" v-if="expressionValid !== null">
              <span v-show="expressionValid === true" class="check-success">
                <img src="@/assets/icons/indicatorIcon/icon_success.svg" />符合
              </span>
                <span v-show="expressionValid === false" class="check-error">
                <img src="@/assets/icons/indicatorIcon/icon_error.svg" />不符合
              </span>
              </div>
            </div>
          </div>
          <div class="formula-content-wrapper">
            <div
              id="editableDiv"
              contenteditable
              @keydown="listenKeyboard"></div>
            <div class="function-definition">
              函数释义：{{ functionExplain || '无' }}
            </div>
            <div class="clear-button" @click="clickClear">一键清空</div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <Button @click="onCancel">取消</Button>
      <Button type="primary" @click="onOk">确定</Button>
    </div>
  </Modal>
</template>

<script>
import { mapState } from 'vuex'
import IndicatorSelectTree from '@/view/report/indicator/IndicatorDetail/components/IndicatorSelectTree.vue'
import dataPropertyMixin from '@/view/report/indicator-browser/mixin/dataPropertyMixin'
import { getRelationIndicator, verifyExpression } from '@/api/indicator'

// 函数的释义
const FUNC_EXPLAIN_MAP = {
  ABS: '返回指定数字的绝对值，恒为非负数',
  explain: '返回数字向下（数值减小的方向）后最接近的整数值',
  union: '将不同口径的指标，通过union函数将其组织为一列内容',
  IF: '根据条件返回值',
  MAX: '返回两个数值中的最大值',
}

// 运算符的class
const OPERATOR_CLASS_MAP = {
  '+': 'increase',
  '-': 'decrease',
  '*': 'multiply',
  '/': 'divide',
  '(': 'left-bracket',
  ')': 'right-bracket',
  'union': 'union',
}

export default {
  name: 'CompositeIndicatorExpression',
  mixins: [dataPropertyMixin],
  components: {
    IndicatorSelectTree,
  },
  props: {
    show: Boolean,
    dataAssets: Array,
    // 是否展示指标的icon
    showIndicatorIcon: {
      type: Boolean,
      default: false,
    },
    // 是否隐藏函数选择
    hideFunSelect: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      editableDiv: null, // 可编辑div的DOM对象
      expressionValid: null, // 表达式是否符合规则 true-符合 false-不符合
      functionExplain: '', // 函数释义
      curFunction: '', // 当前选择的函数
      indicatorFilter: true, //复合指标相关公共维度是否过滤
      target: null, // 当前光标所在的dom
    }
  },
  computed: {
    ...mapState('indicator', [
      'basicIndicatorTree',
      'expressionHtml',
      'expression',
      'indicators',
    ]),
  },
  mounted() {
    this.editableDiv = document.getElementById('editableDiv')
  },
  methods: {
    /**
     * 关闭模态框
     */
    onCancel() {
      this.$emit('update:show', false)
    },

    /**
     * 确定
     */
    onOk() {
      if (!this.expressionValid) {
        this.$Message.warning('公式不符合！')
        return
      }
      const expression = this.getExpression(true)
      const expressionHtml = this.editableDiv.innerHTML
      this.$emit('on-ok', {
        expression,
        expressionHtml,
      })
    },

    /**
     * 指标过滤打开确认
     */
    indicatorFilterBeforeChange() {
      return new Promise((resolve) => {
        this.$Modal.confirm({
          title: `确认${this.indicatorFilter ? '关闭' : '打开'}过滤开关吗？`,
          content: this.indicatorFilter ? '关闭后无共同维度指标也将支持一起计算。' : '打开后已选指标将被清空，且无共同维度指标不再支持一起计算。',
          onOk: () => {
            this.getIndicatorTreeData(true)
            resolve()
          },
        })
      })
    },

    /**
     * 获取指标树
     */
    async getIndicatorTreeData(isForceGetAll = false) { //参数为是否强制获取全部指标 默认为false
      const relatedIndicators = (isForceGetAll || !this.indicatorFilter) ? null : await this.getRelatedIndicators()
      let calculateType = null
      // union函数，指标的汇总方式需要与选择的第一个指标的汇总方式相同
      // if (this.curFunction === 'union') {
      //   const firstInput = this.editableDiv.querySelector('.indicator')
      //   if (firstInput) {
      //     const info = firstInput.getAttribute('info')
      //     if (info) {
      //       const indicatorId = JSON.parse(decodeURIComponent(info)).id
      //       const indicator = this.indicators.find(item => item.id === indicatorId)
      //       calculateType = indicator.calculateType
      //     }
      //   }
      // }
      this.$refs.indicatorSelectTree.refreshRelatedIndicatorTreeData(relatedIndicators, '', calculateType)
    },

    insertOperatorDOM(operatorName) {
      this.editableDiv.focus()
      const range = window.getSelection().getRangeAt(0)
      const operatorDOM = document.createElement('img')
      operatorDOM.classList.add('operator')
      operatorDOM.classList.add(OPERATOR_CLASS_MAP[operatorName])
      range.insertNode(operatorDOM)
      range.collapse()
    },

    /**
     * 监听键盘输入运算符，插入系统运算符+ - * / ( )
     */
    listenKeyboard(e) {
      const { keyCode, shiftKey, ctrlKey } = e

      if (this.curFunction === 'union') {
        // union函数禁止输入，但不禁止删除键和乘号和数字、小数点
        if (
          keyCode !== 8
          && !(keyCode === 97 || (keyCode === 49 && !shiftKey)) // 1
          && !(keyCode === 98 || (keyCode === 50 && !shiftKey)) // 2
          && !(keyCode === 99 || (keyCode === 51 && !shiftKey)) // 3
          && !(keyCode === 100 || (keyCode === 52 && !shiftKey)) // 4
          && !(keyCode === 101 || (keyCode === 53 && !shiftKey)) // 5
          && !(keyCode === 102 || (keyCode === 54 && !shiftKey)) // 6
          && !(keyCode === 103 || (keyCode === 55 && !shiftKey)) // 7
          && !(keyCode === 104 || (keyCode === 56 && !shiftKey)) // 8
          && !(keyCode === 105 || (keyCode === 57 && !shiftKey)) // 9
          && !(keyCode === 96 || (keyCode === 48 && !shiftKey)) // 0
          && !(keyCode === 110 || (keyCode === 190 && !shiftKey)) // .
        ) {
          e.preventDefault()
        }

        // 不禁止乘号
        if (keyCode === 106 || (keyCode === 56 && shiftKey)) {
          this.insertOperatorDOM('*')
        }

        // union连接符
        if (keyCode === 85 && ctrlKey) {
          this.insertOperatorDOM('union')
        }

        if (keyCode === 8) {
          this.getIndicatorTreeData()
        }
      } else {
        // 加号
        if (keyCode === 107 || (keyCode === 187 && shiftKey)) {
          e.preventDefault()
          this.insertOperatorDOM('+')
        }

        // 减号
        if (keyCode === 109 || (keyCode === 189 && !shiftKey)) {
          e.preventDefault()
          this.insertOperatorDOM('-')
        }

        // 乘号
        if (keyCode === 106 || (keyCode === 56 && shiftKey)) {
          e.preventDefault()
          this.insertOperatorDOM('*')
        }

        // 除号
        if (keyCode === 111 || (keyCode === 191 && !shiftKey)) {
          e.preventDefault()
          this.insertOperatorDOM('/')
        }

        // 左括号
        if (keyCode === 57 && shiftKey) {
          e.preventDefault()
          this.insertOperatorDOM('(')
        }

        // 右括号
        if (keyCode === 48 && shiftKey) {
          e.preventDefault()
          this.insertOperatorDOM(')')
        }
      }
    },

    // 选择函数
    onSelectFunction(option) {
      this.editableDiv.focus()
      const functionName = option.value
      // 选择union函数，或者从union函数切换为别的函数时，清空输入框
      if (functionName === 'union' || this.curFunction === 'union') {
        this.editableDiv.innerHTML = ''
      }
      this.curFunction = functionName
      this.functionExplain = FUNC_EXPLAIN_MAP[functionName]

      if (functionName === 'ABS') {
        this.insertABSFunction()
      }
      if (functionName === 'INT') {
        this.insertINTFunction()
      }
      if (functionName === 'IF') {
        this.insertIFFunction()
      }
      if (functionName === 'MAX') {
        this.insertMAXFunction()
      }
    },

    /**
     * 插入ABSFunction函数
     */
    insertABSFunction() {
      const range = window.getSelection().getRangeAt(0)
      const ABSFunction = document.createElement('span')
      ABSFunction.innerHTML = 'ABS<img class="operator left-bracket"><span></span><img class="operator right-bracket">'
      range.insertNode(ABSFunction)
      range.setStart(ABSFunction.lastChild.previousSibling, 0)
      range.setEnd(ABSFunction.lastChild.previousSibling, 0)
      range.collapse()
    },

    /**
     * 插入INTFunction函数
     */
    insertINTFunction() {
      const range = window.getSelection().getRangeAt(0)
      const INTFunction = document.createElement('span')
      INTFunction.innerHTML = 'INT<img class="operator left-bracket"><span></span><img class="operator right-bracket">'
      range.insertNode(INTFunction)
      range.setStart(INTFunction.lastChild.previousSibling, 0)
      range.setEnd(INTFunction.lastChild.previousSibling, 0)
      range.collapse()
    },

    /**
     * 插入IF函数
     */
    insertIFFunction() {
      const range = window.getSelection().getRangeAt(0)
      const IFFunction = document.createElement('span')
      IFFunction.innerHTML = 'IF<img class="operator left-bracket">,,<img class="operator right-bracket">'
      range.insertNode(IFFunction)
      range.setStart(IFFunction.firstChild.nextSibling.nextSibling, 0)
      range.setEnd(IFFunction.firstChild.nextSibling.nextSibling, 0)
      range.collapse()
    },

    /**
     * 插入MAX函数
     */
    insertMAXFunction() {
      const range = window.getSelection().getRangeAt(0)
      const MAXFunction = document.createElement('span')
      MAXFunction.innerHTML = 'MAX<img class="operator left-bracket"><span></span><img class="operator right-bracket">'
      range.insertNode(MAXFunction)
      range.setStart(MAXFunction.lastChild.previousSibling, 0)
      range.setEnd(MAXFunction.lastChild.previousSibling, 0)
      range.collapse()
    },

    // 获取已选的指标
    getSelectedIndicators() {
      let selectedIndicators = []
      // input中的值就是已选的指标
      const allInput = this.editableDiv.querySelectorAll('.indicator')
      for (let input of allInput) {
        if (input.hasAttribute('info')) {
          const info = JSON.parse(decodeURIComponent(input.getAttribute('info')))
          // 静态指标不参与过滤
          if (info.type !== 5) {
            selectedIndicators.push(info.id)
          }
        }
      }
      return selectedIndicators
    },

    // 根据已选指标获取相关联的指标
    async getRelatedIndicators() {
      let selectedIndicators = this.getSelectedIndicators()
      // 如果没有选择指标，那么关联指标应该就是全部，为null
      if (!selectedIndicators.length) {
        return null
      }
      const res = await getRelationIndicator(selectedIndicators)
      if (res.data.state === 'success') {
        const relatedIndicators = res.data.data.map(item => item.id)
        // 接口返回的关联指标过滤掉了已选的指标，所以需要将已选指标放进来，在前端过滤时可以获取到
        return [...selectedIndicators, ...relatedIndicators]
      } else {
        this.$Message.error('获取关联指标失败！')
      }
    },

    /**
     * 调用接口校验公式
     */
    async checkExpression() {
      const expression = this.getExpression(false)
      const res = await verifyExpression({ formula: expression })
      this.expressionValid = res.data.state === 'success'
    },

    /**
     * 获取表达式
     * @param withIndicator 是否带指标
     * @param innerHTML
     */
    getExpression(withIndicator, innerHTML) {
      const div = document.createElement('div')
      if (innerHTML) {
        div.innerHTML = innerHTML
      } else {
        div.innerHTML = this.editableDiv.innerHTML
      }
      let nodes = div.childNodes
      let expression = ''
      for (let i = 0; i < nodes.length; i++) {
        let node = nodes[i]
        if (node.nodeType === 1) {
          if (node.childNodes.length) {
            // 如果标签内有子标签
            expression += this.getExpression(withIndicator, node.innerHTML)
          }
          // html标签
          if (node.classList.contains('indicator')) {
            if (withIndicator) {
              let indicator = JSON.parse(decodeURIComponent(node.getAttribute('info')))
              let indicatorTypeStr = ''
              if (this.curFunction === 'union') {
                // union函数用,拼接
                indicatorTypeStr = i === 0 ? `${indicator.id}_${indicator.type}` : `,${indicator.id}_${indicator.type}`
              } else {
                indicatorTypeStr = `[${indicator.id}_${indicator.type}]`
              }
              expression += indicatorTypeStr
            } else {
              expression += 1
            }
          }
          if (node.classList.contains('increase')) {
            expression += '+'
          }
          if (node.classList.contains('decrease')) {
            expression += '-'
          }
          if (node.classList.contains('multiply')) {
            expression += '*'
          }
          if (node.classList.contains('divide')) {
            expression += '/'
          }
          if (node.classList.contains('left-bracket')) {
            expression += '('
          }
          if (node.classList.contains('right-bracket')) {
            expression += ')'
          }
        }
        if (node.nodeType === 3) {
          // 文本标签
          expression += node.textContent
        }
      }
      return expression
    },

    /**
     * 选择指标
     * @param node
     */
    onSelectIndicator(node) {
      this.editableDiv.focus()
      const { id, name, type } = node
      const info = encodeURIComponent(JSON.stringify({ id, name, type }))
      const indicatorDOM = document.createElement('input')
      indicatorDOM.setAttribute('info', info)
      indicatorDOM.setAttribute('value', name)
      indicatorDOM.setAttribute('readonly', 'true')
      indicatorDOM.dataset.name = name
      indicatorDOM.classList.add('indicator')
      indicatorDOM.style.width = `${this.getIndicatorWidth(name)}px`
      const range = window.getSelection().getRangeAt(0)
      range.insertNode(indicatorDOM)
      range.collapse()
      this.getIndicatorTreeData()
    },

    /**
     * 根据指标名称获取指标元素的宽度
     * @param name
     */
    getIndicatorWidth(name) {
      const span = document.createElement('span')
      span.innerHTML = name
      span.style.fontSize = '16px'
      span.style.padding = '2px 10px'
      document.body.appendChild(span)
      const width = span.offsetWidth
      document.body.removeChild(span)
      return width
    },

    /**
     * 清空所有input及函数 并重置指标tree
     */
    clickClear() {
      this.editableDiv.innerHTML = ''
      this.getIndicatorTreeData()
    },
  },
  watch: {
    show(val) {
      if (val) {
        this.editableDiv.innerHTML = this.expressionHtml
        // 如果存在union运算符，则表示是union函数
        const union = this.editableDiv.querySelector('.operator.union')
        if (union) {
          this.curFunction = 'union'
        }
        // 兼容旧版本
        const allInput = this.editableDiv.querySelectorAll('.textArea_input')
        for (let i = 0; i < allInput.length; i++) {
          let input = allInput[i]
          if (input.nodeName === 'INPUT') {
            input.value = input.getAttribute('infolabel')
            input.setAttribute('readonly', 'true')
          }
        }
      } else {
        this.editableDiv.innerHTML = ''
      }
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-modal-body {
  padding: 0;
}

.composite-indicator-expression {
  height: 400px;
  background: #FAFAFA;
  display: flex;
  justify-content: space-between;
  padding: 0 24px 12px;
}

.expression-title {
  height: 44px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  padding: 10px 0;
}

.ivu-switch {
  margin-left: 8px;
}

.indicator-selector-wrapper {
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;

  .indicator-selector {
    flex: 1;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: #fff;
    overflow: hidden;

    .indicatorSelectTree-container {
      height: 100%;
    }
  }
}

.calc-formula-wrapper {
  height: 100%;
  width: calc(~'100% - 240px - 8px');
  display: flex;
  flex-direction: column;
  border-radius: 2px;

  .calc-formula {
    flex: 1;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: #fff;
    overflow: hidden;

    .toolbar-wrapper {
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #fff;
      padding: 0 40px 0 14px;
    }

    .formula-content-wrapper {
      height: calc(~'100% - 56px');
      border-top: 1px solid #D9D9D9;
      position: relative;

      .clear-button {
        color: #3F73FF;
        font-size: 14px;
        background-image: url('~@/assets/icons/indicatorIcon/clear.svg');
        background-size: 20px;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 50px;
        left: 15px;
        cursor: pointer;
        padding-left: 25px;
      }
    }
  }

  .operators {
    display: flex;
    align-items: center;

    > img {
      width: 28px;
      height: 28px;
      padding: 6px;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      margin-right: 8px;
    }
  }

  .calc-function {
    width: 160px;
    border-radius: 4px;

    /deep/ .ivu-select-selection,
    /deep/ .ivu-select-placeholder,
    /deep/ .ivu-select-selected-value {
      height: 28px;
      line-height: 28px;
      border-color: #D9D9D9;
    }
  }

  .expression-check {
    display: flex;
    align-items: center;

    .ivu-btn {
      height: 28px;
      line-height: 1;
      border-radius: 2px;
    }

    .check-result {
      display: flex;
      align-items: center;
      margin-left: 12px;
    }

    .check-success {
      color: #6DD400;
    }

    .check-error {
      color: #FF4D4F;
    }

    img {
      margin-right: 6px;
    }
  }

  #editableDiv {
    height: calc(~'100% - 40px');
    padding: 16px;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 36px;

    /deep/ .operator {
      display: inline-block;
      width: 28px;
      height: 28px;
      padding: 6px;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      outline: none;
      vertical-align: bottom;
      margin: 4px;

      &.increase {
        content: url('~@/assets/icons/indicatorIcon/operator_increase.svg');
      }

      &.decrease {
        content: url('~@/assets/icons/indicatorIcon/operator_decrease.svg');
      }

      &.multiply {
        content: url('~@/assets/icons/indicatorIcon/operator_multiply.svg');
      }

      &.divide {
        content: url('~@/assets/icons/indicatorIcon/operator_divide.svg');
      }

      &.left-bracket {
        content: url('~@/assets/icons/indicatorIcon/operator_left_bracket.svg');
      }

      &.right-bracket {
        content: url('~@/assets/icons/indicatorIcon/operator_right_bracket.svg');
      }

      &.union {
        content: url('~@/assets/icons/indicatorIcon/operator_union.svg');
      }
    }

    .small_close_button {
      width: 20px;

    }
  }

  .function-definition {
    padding: 0 16px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #D9D9D9;
    color: #999999;
  }
}

/deep/ .indicator,
/deep/ .textArea_input {
  display: inline-block;
  background: rgb(239, 243, 252);
  padding: 2px 10px;
  border-radius: 2px;
  font-size: 16px;
  border: 0;
  outline: none;
  color: #3F73FF;
  margin: 4px;
  line-height: 24px;
}

.footer {
  text-align: right;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid #e8eaec;

  button {
    width: 72px;
    margin-right: 24px;
    border-radius: 2px;
  }
}
</style>
