<template>
  <div class="composite-indicator-definition">
    <div class="row space-between flex-start">
      <div class="expression" :style="{ 'align-items': expressionHtml ? 'baseline' : 'center' }">
        <span>表达式：</span>
        <div class="expression-body">
          <div class="expression-content" v-html="expressionHtml"></div>
          <img
            src="@/assets/icons/indicatorIcon/icon_edit.svg"
            alt="编辑"
            @click="onEditExpression"
            class="icon-edit">
        </div>
      </div>
      <NumberFormat :config="numberFormatConfig" />
    </div>
    <div class="row filter-conditions" v-if="filterConditionTabList.length">
      <span>过滤条件：</span>
      <div class="filter-conditions-body">
        <Switch :value="showFilterConditions" @on-change="onFilterConditionsSwitchChange" />
        <Tabs name="compositeIndicatorFilterCondition" v-model="currentFilterIndicator" v-if="showFilterConditions">
          <TabPane
            v-for="item in filterConditionTabList"
            :label="item.name"
            :name="`${item.id}`"
            tab="compositeIndicatorFilterCondition">
            <div class="filter-condition">
              <div v-for="(filterItem, groupIndex) in filterConditions" class="filter-condition-group-item" :key="groupIndex">
                <img src="@/assets/icons/indicatorIcon/icon_and.svg" alt="与" class="icon-and" />
                <div>
                  <FilterConditionItem
                    v-for="(item, index) in filterItem" :key="index"
                    edit
                    :item-data="item"
                    :is-single="filterItem.length === 1"
                    :show-btn-and="groupIndex === filterConditions.length - 1 && index === filterItem.length -1"
                    :show-btn-delete="filterConditions.length > 1"
                    @on-add-group="onAddGroup"
                    @on-add-item="onAddItem(groupIndex, index)"
                    @on-delete-item="onDeleteItem(groupIndex, index)"
                    @on-source-id-change="onSourceIdChange($event, groupIndex, index)"
                    @on-condition-type-change="onConditionTypeChange($event, groupIndex, index)"
                    @on-variable-type-change="onVariableTypeChange($event, groupIndex, index)"
                    @on-variable-value-change="onVariableValueChange($event, groupIndex, index)"
                    @on-click-sql="onClickSql(item, groupIndex, index)" />
                </div>
              </div>
            </div>
          </TabPane>
        </Tabs>
      </div>
    </div>

    <Expression ref="compositeIndicatorExpression" :show.sync="showExpression" :data-assets="dataAssets" @on-ok="onExpressionOk" />
  </div>
</template>

<script>
import arrowDown from '@/assets/icons/indicatorIcon/arrow_down.png'
import arrowDownActive from '@/assets/icons/indicatorIcon/arrow_down_active.png'
import NumberFormat from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/NumberFormat/index.vue'
import FilterConditionItem from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/FilterConditionItem.vue'
import Expression from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorEdit/CompositeIndicatorExpression.vue'
import _ from 'lodash'
import { deepCopy } from '@/utils/common'
import { mapActions, mapState } from 'vuex'
import { FILTER_INDICATOR_ITEM } from '@/view/report/indicator/constant'

export default {
  name: 'CompositeIndicatorDefinitionEdit',
  components: {
    NumberFormat,
    FilterConditionItem,
    Expression,
  },
  props: {
    dataAssets: Array,
  },
  data() {
    return {
      arrowDown,
      arrowDownActive,
      loading: true,
      isFilterConditionsArrowHover: false,
      showExpression: false, // 表达式模态框
      filterConditionTabList: [], // 过滤条件tab列表
      currentFilterIndicator: null, // 过滤条件中，当前选中的指标id
    }
  },
  computed: {
    ...mapState('indicator', [
      'indicators',
      'expression',
      'expressionHtml',
      'compositeIndicatorFilterConditions',
      'compositeIndicatorBusinessModels',
      'showFilterConditions',
      'numberFormatConfig',
    ]),
    // 当前选中指标的过滤条件
    filterConditions() {
      return this.compositeIndicatorFilterConditions[this.currentFilterIndicator]
    },
    // 当前选中指标的业务模型，技术口径会随之更新（getters)
    currentFilterIndicatorBusinessModel() {
      return this.compositeIndicatorBusinessModels?.[this.currentFilterIndicator] ?? null
    },
  },
  watch: {
    currentFilterIndicatorBusinessModel(newVal) {
      this.setBusinessModel(newVal)
    },
    expression: {
      handler() {
        if (this.expression) {
          // 根据表达式获取指标id数组
          let indicatorArr = []
          // 判断表达式是否是union函数的，带有[]表示不是union函数的
          if (this.expression.indexOf('[') > -1) {
            const reg = /\[(.*?)\]/gi
            indicatorArr = _.uniq(
              this.expression
                .match(reg)
                .map(item => item.replace(reg, '$1'))
                .filter(item => item.includes('_1'))
                .map(item => item.replace(/\_(.*?)[0-9]/gi, '')),
            )
          } else {
            indicatorArr = _.uniq(this.expression.replace(/(\*[0-9]*.[0-9]*)/, '').split(',')).map(item => item.replace(/\_(.*?)[0-9]/gi, ''))
          }

          this.updateFilterConditions(indicatorArr)
        }
      },
      immediate: true,
    },
    expressionHtml: {
      handler() {
        this.$nextTick(() => {
          // 兼容旧版本
          const allInput = document.querySelectorAll('.composite-indicator-definition .textArea_input')
          for (let i = 0; i < allInput.length; i++) {
            let input = allInput[i]
            if (input.nodeName === 'INPUT') {
              input.value = input.getAttribute('infolabel')
              input.setAttribute('readonly', 'true')
            }
          }
        })
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions('indicator', [
      'setExpression',
      'setExpressionHtml',
      'setCompositeIndicatorFilterConditions',
      'setBusinessModel',
      'setShowFilterConditions',
    ]),
    // 过滤条件开关变化
    onFilterConditionsSwitchChange(value) {
      this.setShowFilterConditions(value)
      if (this.filterConditionTabList.length) this.currentFilterIndicator = this.filterConditionTabList[0].id.toString()
    },

    // 更新过滤条件
    updateFilterConditions(indicatorIds) {
      let filterConditionTabList = []
      let filterConditions = {}
      for (let indicatorId of indicatorIds) {
        // 查找指标，放入tabList中
        const indicator = this.indicators.find(item => item.id === Number(indicatorId))
        if (indicator) filterConditionTabList.push({ id: indicator.id, name: indicator.name })

        // 查找过滤条件，如果该指标有缓存的过滤条件，不变，否则给个默认过滤条件
        const filterCondition = this.compositeIndicatorFilterConditions[indicatorId]
        if (filterCondition) {
          filterConditions[indicatorId] = filterCondition
        } else {
          filterConditions[indicatorId] = [[deepCopy(FILTER_INDICATOR_ITEM)]]
        }
      }

      this.filterConditionTabList = filterConditionTabList
      // tab默认选中第一项
      if (filterConditionTabList.length) this.currentFilterIndicator = filterConditionTabList[0].id.toString()
      this.setCompositeIndicatorFilterConditions(filterConditions)
    },

    // 编辑表达式
    onEditExpression() {
      this.showExpression = true
    },

    // 编辑完成
    onExpressionOk(value) {
      const { expression, expressionHtml } = value
      this.setExpression(expression)
      this.setExpressionHtml(expressionHtml)
      this.resetFilterConditions()
      this.showExpression = false
    },

    // 重置过滤条件
    resetFilterConditions() {
      if (!this.expression) return

      // 根据表达式获取指标id数组
      let indicatorArr = []
      // 判断表达式是否是union函数的，带有[]表示不是union函数的
      if (this.expression.indexOf('[') > -1) {
        const reg = /\[(.*?)\]/gi
        indicatorArr = this.expression
          .match(reg)
          .map(item => item.replace(reg, '$1'))
          .filter(item => item.includes('_1'))
          .map(item => item.replace(/\_(.*?)[0-9]/gi, ''))
      } else {
        indicatorArr = this.expression.split(',').map(item => item.replace(/\_(.*?)[0-9]/gi, ''))
      }

      // 重置过滤条件对象
      let filterConditions = {}
      indicatorArr.forEach(item => {
        filterConditions[item] = [[deepCopy(FILTER_INDICATOR_ITEM)]]
      })
      this.setCompositeIndicatorFilterConditions(filterConditions)
    },

    // 添加与条件
    onAddGroup() {
      let filterConditions = deepCopy(this.compositeIndicatorFilterConditions)
      filterConditions[this.currentFilterIndicator].push([deepCopy(FILTER_INDICATOR_ITEM)])
      this.setCompositeIndicatorFilterConditions(filterConditions)
    },

    // 添加或条件
    onAddItem(groupIndex, index) {
      let filterConditions = deepCopy(this.compositeIndicatorFilterConditions)
      const newConditionItem = deepCopy(FILTER_INDICATOR_ITEM)
      filterConditions[this.currentFilterIndicator][groupIndex].splice(index + 1, 0, newConditionItem)
      this.setCompositeIndicatorFilterConditions(filterConditions)
    },

    // 删除某个条件
    onDeleteItem(groupIndex, index) {
      let filterConditions = deepCopy(this.compositeIndicatorFilterConditions)
      let group = filterConditions[this.currentFilterIndicator][groupIndex]
      if (group.length === 1) {
        filterConditions[this.currentFilterIndicator].splice(groupIndex, 1)
      } else {
        group.splice(index, 1)
      }
      this.setCompositeIndicatorFilterConditions(filterConditions)
    },

    // 过滤的口径变化
    onSourceIdChange(value, groupIndex, index) {
      let filterConditions = deepCopy(this.compositeIndicatorFilterConditions)
      filterConditions[this.currentFilterIndicator][groupIndex][index].sourceId = value
      this.setCompositeIndicatorFilterConditions(filterConditions)
    },

    // 大于小于变化
    onConditionTypeChange(value, groupIndex, index) {
      let filterConditions = deepCopy(this.compositeIndicatorFilterConditions)
      const returnValueType = filterConditions[this.currentFilterIndicator][groupIndex][index].returnValueType
      if (returnValueType && value) {
        const msg = this.checkConditionTypeAndReturnValueType(returnValueType, value)
        if (msg) {
          this.$message.warning(msg)
          return
        }
      }
      filterConditions[this.currentFilterIndicator][groupIndex][index].conditionType = value
      this.setCompositeIndicatorFilterConditions(filterConditions)
    },

    // 变量类型变化
    onVariableTypeChange(value, groupIndex, index) {
      let filterConditions = deepCopy(this.compositeIndicatorFilterConditions)
      let condition = filterConditions[this.currentFilterIndicator][groupIndex][index]
      condition.variableType = value
      if (value === 1) { // 常量
        condition.variableValue = null
      }
      if (value === 2) { // 变量
        condition.variableValue = '${' + 'var_' + new Date().getTime() + '}'
      }
      if (value === 3) { // SQL
        condition.variableValue = '查看SQL条件'
      }
      if (value === 4) { // 全局变量
        condition.variableValue = '${businessDate}'
      }
      this.setCompositeIndicatorFilterConditions(filterConditions)
    },
    // 校验全局变量的返回值类型与选择的比较条件是否匹配
    checkConditionTypeAndReturnValueType(returnValueType, conditionType) {
      let msg = ''
      if (returnValueType === 2) { // 多值
        if (![7, 8, 9].includes(conditionType)) {
          msg = '当前全局变量返回值类型为多值，比较条件与之不匹配，请修改'
        }
      } else if (returnValueType === 3) { // 范围
        if (![14, 15].includes(conditionType)) {
          msg = '当前全局变量返回值类型为范围，比较条件与之不匹配，请修改'
        }
      }
      return msg
    },
    // 变量值变化
    onVariableValueChange(globalVariableObj, groupIndex, index) {
      let filterConditions = deepCopy(this.compositeIndicatorFilterConditions)
      if (typeof globalVariableObj === 'object') {
        const returnValueType = globalVariableObj.labelType * 1
        const conditionType = filterConditions[this.currentFilterIndicator][groupIndex][index].conditionType
        if (returnValueType && conditionType) {
          const msg = this.checkConditionTypeAndReturnValueType(returnValueType, conditionType)
          if (msg) {
            this.$message.warning(msg)
            return
          }
        }
        filterConditions[this.currentFilterIndicator][groupIndex][index].returnValueType = returnValueType
        filterConditions[this.currentFilterIndicator][groupIndex][index].variableValue = globalVariableObj.value
      } else {
        // 常量
        filterConditions[this.currentFilterIndicator][groupIndex][index].variableValue = globalVariableObj
      }
      this.setCompositeIndicatorFilterConditions(filterConditions)
    },

    onClickSql({ variableType }, groupIndex, index) {
      if (variableType === 3) { // SQL
        this.$bus.$emit('on-watch-sql-condition', {
          currentFilterIndicator: this.currentFilterIndicator,
          groupIndex,
          index,
        })
      }
    },
  },
}
</script>

<style scoped lang="less">
.composite-indicator-definition {
  .row {
    width: 100%;
    display: flex;
    margin-top: 12px;

    &.space-between {
      justify-content: space-between;
    }

    &.flex-start {
      align-items: flex-start;
    }
  }

  .expression {
    display: flex;
    align-items: baseline;
    flex: 1;

    > span {
      width: 60px;
    }

    .expression-body {
      flex: 1;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 0px 30px 0px 8px;
      position: relative;

      .expression-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: 30px;
      }
    }

    /deep/ .indicator,
    /deep/ .textArea_input {
      padding: 2px 16px;
      background: #F0F5FF;
      border-radius: 4px;
      color: #3F73FF;
      margin: 4px 0;
      outline: none;
      border: 0;
    }

    /deep/ .operator {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 4px;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      margin: 4px 8px;
      vertical-align: bottom;

      &.divide {
        content: url('~@/assets/icons/indicatorIcon/operator_divide.svg');
      }

      &.increase {
        content: url('~@/assets/icons/indicatorIcon/operator_increase.svg');
      }

      &.decrease {
        content: url('~@/assets/icons/indicatorIcon/operator_decrease.svg');
      }

      &.multiply {
        content: url('~@/assets/icons/indicatorIcon/operator_multiply.svg');
      }

      &.left-bracket {
        content: url('~@/assets/icons/indicatorIcon/operator_left_bracket.svg');
      }

      &.right-bracket {
        content: url('~@/assets/icons/indicatorIcon/operator_right_bracket.svg');
      }

      &.union {
        content: url('~@/assets/icons/indicatorIcon/operator_union.svg');
      }
    }

    .icon-edit {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .number-format {
    width: 260px;
    margin-left: 32px;
  }

  .filter-conditions {
    width: 100%;
    display: flex;
    align-items: baseline;

    .filter-conditions-body {
      width: calc(~'100% - 60px');
    }

    .expression-options {
      display: flex;
      flex-wrap: wrap;

      .expression-option {
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.65);
        margin-right: 32px;
      }

      .ivu-switch {
        margin-left: 6px;
      }
    }

    /deep/ .ivu-tabs {
      width: 100%;
      margin-top: 16px;
      overflow: visible;
      z-index: 1;

      .ivu-tabs-bar {
        border: 0;
        margin: 0;
        height: 32px;
        background: #E7EEFF;
        border-radius: 4px;
        padding: 0 18px;
      }

      .ivu-tabs-nav-container {
        height: 32px;
        line-height: 1;
      }

      .ivu-tabs-ink-bar {
        bottom: 2px;
      }

      .ivu-tabs-nav-right {
        margin-top: 8px;
      }

      .ivu-tabs-nav .ivu-tabs-tab {
        padding: 10px 0;
      }
    }

    .filter-condition {
      margin-top: 16px;
    }
  }
}

.row {
  display: flex;
  margin-top: 16px;
}

.icon-arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: transform .3s;
}

.icon-arrow.expand {
  transform: rotate(180deg);
}
</style>
