<template>
  <div class="derivative-indicator-definition">
    <div class="row">
      <div class="field derived-from">
        <span>派生自：</span>
        <FaBigTreeSelect derived :selected="derivedFrom" @changeVal="onDerivedFromChange" />
      </div>
      <div class="field indicator-type">
        <NumberFormat :config="numberFormatConfig" />
      </div>
    </div>
    <div class="row">
      <div class="field derivation-rule">
        派生规则：
        <Select :value="derivationRule" :data-desc="derivationRuleDesc" @on-change="onDerivationRuleChange">
          <Option v-for="item in derivationRules" :value="item.value" :label="item.name">
            <div class="option-wrapper">
              <span>{{ item.name }}</span>
              <span>{{ item.desc }}</span>
            </div>
          </Option>
        </Select>
      </div>
    </div>
    <!--期间累计-->
    <div class="row" v-if="derivationRule === 1">
      <div class="field calc-period">
        计算周期：
        <Select :value="calcPeriod" @on-change="onCalcPeriodChange">
          <Option v-for="item in calcPeriods" :value="item.value">{{ item.name }}</Option>
        </Select>
      </div>
      <div class="field calc-interval">
        计算区间：
        <Select :value="calcIntervalType" @on-change="onCalcIntervalTypeChange" :style="{ width: calcIntervalType === 2 ? '50%' : '100%' }">
          <Option :value="1">当前</Option>
          <Option v-if="calcIntervalSecondOption" :value="2">{{ calcIntervalSecondOption }}</Option>
        </Select>
        <InputNumber
          v-if="calcIntervalType === 2"
          :value="calcInterval"
          :max="-1"
          :min="-99"
          :editable="false"
          @on-change="onCalcIntervalChange" />
      </div>
      <!--聚合方式除了没有nvl函数，与汇总方式一样-->
      <div class="field convergence-mode">
        聚合方式：
        <Select :value="summaryMethod" @on-change="onSummaryMethodChange">
          <Option v-for="item in summaryMethods" :key="item.name" :value="item.value">{{ item.name }}</Option>
        </Select>
      </div>
    </div>
    <!--同/环比-->
    <div class="row" v-if="derivationRule === 2">
      <div :class="['field calc-type', { 'same-compare': calcType === 2 }]">
        计算方式：
        <Select :value="calcType" @on-change="onCalcTypeChange">
          <Option :value="1">环比</Option>
          <Option :value="2">同比</Option>
        </Select>
        <Select v-if="calcType === 2" :value="subCalcType" @on-change="onSubCalcTypeChange">
          <Option :value="1">月同比</Option>
          <Option :value="2">年同比</Option>
        </Select>
      </div>
    </div>
    <!--累计计算-->
    <div class="row cumulative" v-if="derivationRule === 3">
      <!--聚合方式除了没有nvl函数，与汇总方式一样-->
      <div class="field convergence-mode">
        聚合方式：
        <Select :value="summaryMethod" @on-change="onSummaryMethodChange">
          <Option v-for="item in summaryMethods" :key="item.name" :value="item.value">{{ item.name }}</Option>
        </Select>
      </div>
    </div>
    <!--移动计算-->
    <div class="row" v-if="derivationRule === 4">
      <div class="field calc-period">
        计算周期：
        <Select :value="mobileCalcPeriod" @on-change="onMobileCalcPeriodChange">
          <Option :value="1">按年</Option>
          <Option :value="2">按月</Option>
        </Select>
      </div>
      <div class="field calc-interval" v-if="mobileCalcPeriod">
        计算区间：
        <Cascader
          :value="mobileCalcInterval.start"
          :data="getDataByType(mobileCalcPeriod)"
          :render-format="formatCascader"
          @on-change="onMobileCalcIntervalStartChange"
        />
        <div class="separator">-</div>
        <Cascader
          :value="mobileCalcInterval.end"
          :data="getDataByType(mobileCalcPeriod)"
          :render-format="formatCascader"
          @on-change="onMobileCalcIntervalEndChange"
        />
      </div>
      <div class="field convergence-mode">
        <!--聚合方式除了没有nvl函数，与汇总方式一样-->
        聚合方式：
        <Select :value="summaryMethod" @on-change="onSummaryMethodChange">
          <Option v-for="item in summaryMethods" :key="item.name" :value="item.value">{{ item.name }}</Option>
        </Select>
      </div>
    </div>
    <!--总排名-->
    <div class="row" v-if="derivationRule === 6">
      <div class="field ranking-type">
        排名类型：
        <Select :value="rankingType" :data-desc="rankingTypeDesc" @on-change="onRankingTypeChange">
          <Option v-for="item in rankingTypes" :value="item.value" :label="item.name">
            <div class="option-wrapper">
              <span>{{ item.name }}</span>
              <span>{{ item.desc }}</span>
            </div>
          </Option>
        </Select>
      </div>
      <div class="field sort-order">
        排序方式：
        <Select :value="rankingWay" @on-change="onRankingWayChange">
          <Option :value="1">升序</Option>
          <Option :value="2">降序</Option>
        </Select>
      </div>
    </div>
  </div>
</template>

<script>
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
import NumberFormat from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/NumberFormat/index.vue'
import moment from 'moment'
import { DERIVATION_RULES, RANKING_TYPES, INDICATOR_TYPES, SUMMARY_METHODS, CALC_PERIODS } from '@/view/report/indicator/constant'
import { mapState, mapActions } from 'vuex'
import { getIndicatorById } from '@/api/indicator'
import _ from 'lodash'
import FaBigTreeSelect from "@/components/treeSelect/fa-big-treeSelect.vue";
export default {
  name: 'derivativeIndicatorDefinition',
  components: {
    FaTreeSelect,
    NumberFormat,
    FaBigTreeSelect
  },
  data() {
    return {
      indicatorTypes: INDICATOR_TYPES,
      basicIndicatorBusinessDate: true,
      basicIndicatorSummaryMethod: '', // 选择的派生自的原子指标的汇总方式，汇总方式为求和（1）时才显示总占比
      derivationRuleDesc: '',
      calcPeriods: CALC_PERIODS,
      summaryMethods: SUMMARY_METHODS.filter(item => item.name.indexOf('nvl') === -1),
      datePickerOptions: {
        disabledDate: (date) => {
          let year = new Date().getFullYear()
          let startDate, endDate
          if (this.mobileCalcPeriod === 2) { // 当月
            let month = new Date().getMonth()
            startDate = new Date(year, month, 1).valueOf()
            endDate = moment().endOf('month').valueOf()
          } else { // 当年
            startDate = new Date(year, 0, 1)
            endDate = moment().endOf('year').valueOf()
          }
          return date && (date.valueOf() < startDate || date.valueOf() > endDate)
        },
      },
      rankingTypes: RANKING_TYPES,
      rankingTypeDesc: '',
    }
  },
  computed: {
    ...mapState('indicator', [
      'derivedFrom',
      'numberFormatConfig',
      'derivationRule',
      'calcPeriod',
      'calcIntervalType',
      'calcInterval',
      'summaryMethod',
      'calcType',
      'subCalcType',
      'mobileCalcPeriod',
      'mobileCalcInterval',
      'rankingType',
      'rankingWay',
      'basicIndicatorTree',
    ]),
    // 派生规则
    derivationRules() {
      let filterList = DERIVATION_RULES
      if (!this.basicIndicatorBusinessDate) { // 如果原子指标业务日期关闭，派生规则不包含期间累计、移动计算
        filterList = filterList.filter(item => item.value !== 1 && item.value !== 4)
      }
      if (this.basicIndicatorSummaryMethod !== 1) {
        filterList = filterList.filter(item => item.value !== 5)
      }
      return filterList
    },
    // 计算区间第二个option
    calcIntervalSecondOption() {
      if (this.calcPeriod === 1) {
        return 'Year'
      }
      if (this.calcPeriod === 2) {
        return 'Mon'
      }
      if (this.calcPeriod === 3) {
        return 'Week'
      }
      if (this.calcPeriod === 4) {
        return 'Quarter'
      }
      return null
    },
    basicIndicatorTreeFilter(){
      const basicIndicatorTree = _.cloneDeep(this.basicIndicatorTree)
      const arr = this.filterTree(basicIndicatorTree);
      return this.filterTree(arr);
    }
  },
  watch: {
    derivationRule() {
      const current = this.derivationRules.find(item => item.value === this.derivationRule)
      this.derivationRuleDesc = current?.desc ?? ''
    },
    derivedFrom: {
      handler() {
        if (!this.derivedFrom) {
          this.basicIndicatorBusinessDate = true
          this.basicIndicatorSummaryMethod = ''
        } else {
          this.getBasicIndicatorDetail(this.derivedFrom)
        }
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions('indicator', [
      'setDerivedFrom',
      'setNumberFormatConfig',
      'setDerivationRule',
      'setCalcPeriod',
      'setCalcIntervalType',
      'setCalcInterval',
      'setSummaryMethod',
      'setCalcType',
      'setSubCalcType',
      'setMobileCalcPeriod',
      'setMobileCalcInterval',
      'setRankingType',
      'setRankingWay',
    ]),
    filterTree(tree) {
      let newTree = []
      for (let treeItem of tree) {
        // 如果当前节点包含关键字，那么其子项也都包含
        if (treeItem.treeType === 'value' || (treeItem.treeType === 'group' && treeItem.children && treeItem.children.length) ) {
          newTree.push(treeItem)
          if (treeItem.children) {
            treeItem.children = this.filterTree(treeItem.children);
          }
        }
      }
      return newTree
    },
    // render函数
    renderTip(h, { root, node, data }){
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },
    onDerivedFromChange(value) {
      console.log('onDerivedFromChange====', value)
      const basicIndicatorId = value.id
      this.setDerivedFrom(basicIndicatorId)
    },
    // 获取原子指标详情
    async getBasicIndicatorDetail(id) {
      const { data: res } = await getIndicatorById(id)
      if (res.state === 'success') {
        this.basicIndicatorBusinessDate = !!res.data.openDate
        this.basicIndicatorSummaryMethod = res.data.calculateType
      } else {
        this.$Message.error('派生指标-获取原子指标详情失败')
      }
    },
    onDerivationRuleChange(option) {
      this.setNumberFormatConfig(null)
      this.setDerivationRule(option)
      let config={
        showType: 0,
          numberUnit: 'original',
          prefix: '',
          suffix: '',
          decimalPlaces: 2,
          thousandsSeparator: false,
      }
      if (option === 5) {
         config.showType=1
        this.setNumberFormatConfig(config)
      }
      if(option===6){
        config.decimalPlaces=0
        this.setNumberFormatConfig(config)
      }
    },
    onCalcPeriodChange(option) {
      this.setCalcPeriod(option)

      // 计算周期变化，计算区间重置为当前
      this.setCalcIntervalType(1)
      this.setCalcInterval(0)
    },
    onCalcIntervalTypeChange(option) {
      this.setCalcIntervalType(option)

      // 选择当前，calcInterval值默认为0，否则为-1
      const calcInterval = option === 1 ? 0 : -1
      this.setCalcInterval(calcInterval)
    },
    // 计算区间输入框值变化
    onCalcIntervalChange(value) {
      this.setCalcInterval(value)
    },
    onSummaryMethodChange(option) {
      this.setSummaryMethod(option)
    },
    onCalcTypeChange(option) {
      this.setCalcType(option)
    },
    onSubCalcTypeChange(option) {
      this.setSubCalcType(option)
    },
    onMobileCalcPeriodChange(option) {
      this.setMobileCalcPeriod(option)
      this.setMobileCalcInterval({ start: [], end: [] })
    },
    onMobileCalcIntervalChange(value) {
      this.setMobileCalcInterval(value)
    },
    //总排名-排名类型
    onRankingTypeChange(value) {
      const current = this.rankingTypes.find(item => item.value === value)
      this.rankingTypeDesc = current.desc
      this.setRankingType(value)
    },
    //总排名-排序方式
    onRankingWayChange(value){
      this.setRankingWay(value)
    },
    getDataByType(type) {
      return type === 1 ? this.getAllDate() : this.getAllDay()
    },
    // 级联日期-按年
    getAllDate() {
      let date = new Date(), arr = []
      for (let month = 1; month < 13; month++) {
        let monthDay = new Date(date.getFullYear(), month, 0).getDate()
        let obj = { value: month < 10 ? '0' + month : month.toString(), label: month + '月', children: [] }
        for (let day = 1; day < monthDay + 1; day++) {
          obj.children.push({ value: day < 10 ? '0' + day : day.toString(), label: day + '日' })
        }
        arr.push(obj)
      }
      return arr
    },
    // 级联日期-按月
    getAllDay() {
      let arr = []
      for (let day = 1; day < 32; day++) {
        arr.push({ value: day < 10 ? '0' + day : day.toString(), label: day + '日' })
      }
      return arr
    },
    formatCascader(labels) {
      const length = labels.length
      if (length > 1) {
        return labels[0] + labels[1]
      } else if (length === 1) {
        return labels[0]
      } else {
        return ''
      }
    },
    onMobileCalcIntervalStartChange(value) {
      const { end } = this.mobileCalcInterval
      if (end.length && (value[0] > end[0]) || (value[0] === end[0] && value[1] > end[1])) {
        this.setMobileCalcInterval({ start: [], end: this.mobileCalcInterval.end })
        return this.$Message.warning('起始日期不能大于结束日期')
      }
      this.setMobileCalcInterval({ start: value, end: this.mobileCalcInterval.end })
    },
    onMobileCalcIntervalEndChange(value) {
      const { start } = this.mobileCalcInterval
      if (!start?.length) return this.$Message.warning('请输入起始日期')
      if (value[0] < start[0] || (value[0] === start[0] && value[1] < start[1])) {
        this.setMobileCalcInterval({ start: this.mobileCalcInterval.start, end: [] })
        return this.$Message.warning('结束日期不能小于起始日期')
      }
      this.setMobileCalcInterval({ start: this.mobileCalcInterval.start, end: value })
    },
  },
}
</script>

<style scoped lang="less">
.row {
  display: flex;
  margin-top: 16px;
}

.field {
  color: #333;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;

  > span {
    width: 60px;
    flex-shrink: 0;
  }

  + .field {
    margin-left: 2%;
  }
}

.derived-from {
  width: 30%;

  /deep/ div[refresh=true] {
    width: calc(~'100% - 60px');
  }
}

.indicator-type {
  width: 26%;
}

.derivation-rule,
.ranking-type {
  width: 58%;

  .ivu-select {
    position: relative;

    /deep/ .ivu-select-selection {
      background: transparent;
    }

    &::after {
      content: attr(data-desc);
      font-size: 12px;
      position: absolute;
      right: 36px;
      top: 8px;
      z-index: -1;
      color: rgba(0, 0, 0, 0.30);
    }
  }
}

.calc-period,
.calc-interval,
.convergence-mode,
.sort-order {
  width: 18%;
}

.option-wrapper {
  display: flex;
  justify-content: space-between;

  > span:last-child {
    color: rgba(0, 0, 0, 0.30);
  }
}

.calc-type {
  width: 26%;

  /deep/ &.same-compare {
    .ivu-select:first-child .ivu-select-selection {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .ivu-select:nth-child(2) .ivu-select-selection {
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.calc-interval .separator {
  margin: 0 4%;
}

/deep/ .ivu-tree-title{
  .tree-title-span{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
</style>
