<template>
  <div class="indicator-edit">
    <div class="nameRow">
      <Input
        ref="nameInputRef"
        v-if="nameEditable"
        :value="indicatorName"
        placeholder="请输入指标名称"
        maxlength="30"
        @on-change="onIndicatorNameChange"
        @on-blur="nameEditable = false"
      />
      <template v-else>
        <span>{{ indicatorName || "请输入指标名称" }}</span>
        <img src="@/assets/icons/indicatorIcon/icon_edit.svg" alt="编辑" class="icon-edit" @click="showNameInput" />
      </template>
    </div>

    <div class="row">
      <div class="abbreviation">
        <Input
          ref="abbreviationInputRef"
          v-if="abbreviationEditable"
          :value="indicatorAbbreviation"
          placeholder="请输入简称"
          maxlength="30"
          @on-change="onIndicatorAbbreviationChange"
          @on-blur="abbreviationEditable = false"
        />
        <template v-else>
          <span class="text" :title="indicatorAbbreviation">{{ indicatorAbbreviation || '请输入简称' }}</span>
          <img src="@/assets/icons/indicatorIcon/icon_edit.svg" alt="编辑" class="icon-edit" @click="showAbbreviationInput" />
        </template>
      </div>
      <div class="rowRight">
        <div class="code">
          指标编码：
          <Input
            ref="codeInputRef"
            v-if="codeEditable"
            :value="indicatorCode"
            placeholder="请输入指标编码"
            maxlength="50"
            @on-change="onIndicatorCodeChange"
            @on-blur="codeEditable = false"
          />
          <template v-else>
            <span>{{ indicatorCode || '请输入指标编码' }}</span>
            <img src="@/assets/icons/indicatorIcon/icon_edit.svg" alt="编辑" class="icon-edit" @click="showCodeInput" />
          </template>
        </div>
        <div class="attribute">
          属性：
          <Select :value="indicatorAttribute" @on-change="onIndicatorAttributeChange" style="width: 100px">
            <Option v-for="item in attributes" :value="item" :key="item">{{ item }}</Option>
          </Select>
        </div>
        <div class="version">
          版本号：
          <Select :value="indicatorVersion" @on-change="onIndicatorVersionChange" style="width: 100px">
            <Option v-for="version in optionalIndicatorVersions" :value="version.name" :key="version.id">{{ version.name }}</Option>
          </Select>
        </div>
      </div>
    </div>

    <div class="name-code">

    </div>
    <div class="business-description">
      <div class="business-description-header">
        业务描述
        <Checkbox :value="syncDashboard" @on-change="onSyncDashboardChange">同步看板</Checkbox>
      </div>
      <div class="business-description-body">
        <RichTextEditor />
      </div>
    </div>

    <div class="indicator-definition">
      <Headline title="指标定义">
        <template #right>
          <div class="business-date" v-if="indicatorKind === 1 || indicatorKind === 2">
            业务日期：
            <Switch :value="businessDate" @on-change="onBusinessDateChange" />
          </div>
        </template>
      </Headline>
      <div class="indicator-definition-body">
        <component
          :is="indicatorDefinitionComponentName"
          :business-model-tree="businessModelTree"
          :business-model="businessModel"
          :data-assets="dataAssets" />
      </div>
    </div>
    <div class="asset-information">
      <Headline title="资产信息" />
      <div class="asset-information-body">
        <div class="field">
          <span>资产分组：</span>
          <FaTreeSelect
            :selected="assetGroup"
            :treeData="assetGroupTree && assetGroupTree[0] && assetGroupTree[0].children"
            @changeVal="onAssetGroupChange"
            :refresh="true"
            :render="renderTip"
            class="custom-tree" />
        </div>
        <div class="field">
          <span>指标标签：</span>
          <AssetsLabel
            :data="indicatorLabels"
            @select="onAssetsLabelSelect" />
        </div>
      </div>
    </div>
    <div class="related-dimensions" v-if="indicatorId && indicatorKind !== 4">
      <Headline title="相关维度">
        <template #right>
          <div class="legend">
            <div class="legend-item used">已关联</div>
            <div class="legend-item available">可关联</div>
          </div>
        </template>
      </Headline>
      <div class="related-dimensions-body">
        <div v-for="(item, index) in relatedDimensions" :key="index" :class="['dimension-item', item.type === 1 ? 'used' : 'available']">{{ item.name }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import Headline from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/Headline.vue'
import FilterConditionItem from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/FilterConditionItem.vue'
import BasicIndicatorDefinitionEdit from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorEdit/BasicIndicatorDefinitionEdit.vue'
import CompositeIndicatorDefinitionEdit from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorEdit/CompositeIndicatorDefinitionEdit.vue'
import DerivativeIndicatorDefinitionEdit from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorEdit/DerivativeIndicatorDefinitionEdit.vue'
import OutIndicatorDefinitionEdit from './OutIndicatorDefinitionEdit.vue'
import StaticIndicatorDefinitionEdit from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorEdit/StaticIndicatorDefinitionEdit.vue'
import RichTextEditor from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/RichTextEditor.vue'
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
import AssetsLabel from '@/view/report/components/AssetsLabel.vue'
import { mapActions, mapState } from 'vuex'
import { deepCopy } from '@/utils/common'
import { ATTRIBUTES, INDICATOR_TYPE_MAP } from '@/view/report/indicator/constant'
import { checkIndicatorCodeExist } from '@/api/indicator'

export default {
  name: 'IndicatorEdit',
  components: {
    Headline,
    FilterConditionItem,
    BasicIndicatorDefinitionEdit,
    CompositeIndicatorDefinitionEdit,
    DerivativeIndicatorDefinitionEdit,
    OutIndicatorDefinitionEdit,
    StaticIndicatorDefinitionEdit,
    RichTextEditor,
    FaTreeSelect,
    AssetsLabel,
  },
  props: {
    businessModelTree: Array,
    dataAssets: Array,
    assetGroupTree: Array,
  },
  data() {
    return {
      optionalIndicatorVersions: [], // 可选的指标版本列表
      attributes: ATTRIBUTES,
      nameEditable: false,
      abbreviationEditable: false,
      codeEditable: false,
    }
  },
  computed: {
    ...mapState('indicator', [
      'indicatorName',
      'indicatorAbbreviation',
      'indicatorCode',
      'indicatorAttribute',
      'syncDashboard',
      'businessDate',
      'relatedDimensions',
      'indicatorId',
      'indicatorKind',
      'indicatorVersion',
      'indicatorVersions',
      'assetGroup',
      'indicatorLabels',
      'allVersionList',
      'basicIndicatorTree',
      'businessModel',
    ]),
    // 指标定义组件名称
    indicatorDefinitionComponentName () {
      const indicatorType = INDICATOR_TYPE_MAP[this.indicatorKind]
      return `${indicatorType}DefinitionEdit`
    },
  },
  watch: {
    indicatorVersions: {
      handler() {
        // 只能选择比当前版本号大的版本
        const currentVersionIndex = this.allVersionList.findIndex(ele => ele.name === this.indicatorVersion)
        this.optionalIndicatorVersions = this.allVersionList
          .filter((version, index) => index >= currentVersionIndex)
          .map(ele => ({ id: ele.id, name: ele.name }));
      },
      immediate: true,
    },
  },
  mounted() {
    if(!this.assetGroup){
      this.setAssetGroup(this.assetGroupTree[0]?.children[0].id)
    }
  },
  methods: {
    ...mapActions('indicator', [
      'setIndicatorName',
      'setIndicatorAbbreviation',
      'setIndicatorCode',
      'setIndicatorAttribute',
      'setIndicatorVersion',
      'setSyncDashboard',
      'setBusinessDate',
      'setAssetGroup',
      'setIndicatorLabels'
    ]),
    showNameInput() {
      this.nameEditable = true
      this.$nextTick(() => {
        this.$refs.nameInputRef.focus()
      })
    },
    showAbbreviationInput() {
      this.abbreviationEditable = true
      this.$nextTick(() => {
        this.$refs.abbreviationInputRef.focus()
      })
    },
    showCodeInput() {
      this.codeEditable = true
      this.$nextTick(() => {
        this.$refs.codeInputRef.focus()
      })
    },
    // render函数
    renderTip(h, { root, node, data }){
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },
    onIndicatorNameChange(e) {
      this.setIndicatorName(e.target.value.trim())
    },
    onIndicatorAbbreviationChange(e) {
      this.setIndicatorAbbreviation(e.target.value.trim())
    },
    async onIndicatorCodeChange(e) {
      let indicatorCode = e.target.value.trim()
      const { data: res } = await checkIndicatorCodeExist({ type: this.indicatorKind, assetsCode: indicatorCode, groupId: this.assetGroup })
      if (res.state === 'success') {
        if (res.data) { // true-存在 false-不存在
          this.$Message.warning('指标编码重复，请重新输入')
        } else {
          this.setIndicatorCode(indicatorCode)
        }
      } else {
        this.$Message.error('检查指标编码失败')
      }
    },
    onIndicatorVersionChange(option) {
      this.setIndicatorVersion(option)
    },
    onIndicatorAttributeChange(option) {
      this.setIndicatorAttribute(option)
    },
    onSyncDashboardChange(value) {
      this.setSyncDashboard(value)
    },
    onBusinessDateChange(value) {
      this.setBusinessDate(value)
    },
    onAssetGroupChange(value) {
      this.setAssetGroup(value.id)
    },
    onAssetsLabelSelect(selected) {
      let indicatorLabels = deepCopy(this.indicatorLabels)
      const index = indicatorLabels.findIndex(item => item.id === selected.id)
      if (index > -1) {
        indicatorLabels.splice(index, 1)
      } else {
        indicatorLabels.push(selected)
      }
      this.setIndicatorLabels(indicatorLabels)
    },
  },
}
</script>

<style src="../../../../../../../../../node_modules/@wangeditor/editor/dist/css/style.css"></style>
<style scoped lang="less">
.nameRow {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #F0F5FD;
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 0 12px;

  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  display: flex;
  align-items: center;
  white-space: normal;

  .ivu-checkbox-wrapper {
    color: #515a6e;
    font-weight: normal;
  }

  /deep/ .ivu-input {
    border: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    background: #F0F5FD;
    font-size: 16px;
    color: #3F73FF;
    font-weight: bold;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;

  /deep/ .ivu-input {
    border: 0;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    font-size: 16px;
    color: #3F73FF;
    font-weight: bold;
  }
}

.abbreviation {
  width: 25vw;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  display: flex;
  align-items: center;
  white-space: nowrap;

  /deep/ .ivu-input {
    font-size: 14px;
    color: #3F73FF;
    font-weight: bold;
  }

  .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.rowRight {
  margin-left: 16px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.code {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: bold;
  display: flex;
  align-items: center;

  /deep/ .ivu-input {
    width: 120px;
    font-size: 12px;
    color: #3F73FF;
    font-weight: bold;
  }

  > span {
    max-width: 10vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.attribute,
.version {
  margin-left: 16px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.icon-edit {
  margin-left: 8px;
}

.icon-arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: transform .3s;
}

.icon-arrow.expand {
  transform: rotate(180deg);
}

.business-description {
  margin-top: 12px;
  padding: 13px 14px 14px;
  background: #F6F6F6;
  border-radius: 4px;

  .business-description-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.65);

    .ivu-checkbox-wrapper {
      color: #333;
    }
  }

  .business-description-body {
    margin-top: 12px;
    background: #FFFFFF;
    border: 1px solid rgba(237,237,237,1);
  }
}

.headline {
  margin-top: 24px;
}

.indicator-definition {
  .business-date {
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
  }

  .indicator-definition-body {
    padding: 0 24px;
  }
}

.asset-information-body {
  padding: 0 24px;

  .field {
    color: rgba(0, 0, 0, 0.65);
    margin-top: 16px;
    display: flex;
    position: relative;

    > span {
      margin-top: 6px;
    }
  }

  /deep/ .ivu-select {
    width: 240px;
  }

  /deep/ .assets-label {
    width: 50%;

    .select-wrapper {
      width: 100%;
      padding: 4px 30px 0 12px;
      border-radius: 4px;
      background: #fff;

      .placeholder {
        position: relative;
        top: 3px;
      }

      .selected-list .list-item {
        margin-right: 10px;
        margin-bottom: 4px;
        height: 24px;
      }
    }
  }
}

.related-dimensions .legend {
  display: flex;

  .legend-item {
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    margin-left: 16px;

    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 2px;
      margin-right: 8px;
    }

    &.used::before {
      background: #44D7B6;
    }

    &.available::before {
      background: #3F73FF;
    }
  }
}

.related-dimensions-body {
  padding: 16px 24px 20px;
  display: flex;
  flex-wrap: wrap;

  .dimension-item {
    border-radius: 2px;
    padding: 4px 13px 4px 12px;
    color: #000;
    margin-right: 8px;

    &.used {
      border: 1px solid #44D7B6;
    }

    &.available {
      border: 1px solid #3F73FF;
    }
  }
}
/deep/ .ivu-tree-title{
  .tree-title-span{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
</style>
