<template>
  <div class="outIndicatorDefinitionEdit-container">
    <span class="label">参数：</span>
    <Input class="valueWrapper" placeholder="请输入内容" :value="paramValue" clearable @on-change="onParamValueChange" />
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState("indicator", ["paramValue"])
  },
  methods: {
    ...mapActions("indicator", ["setParamValue"]),
    onParamValueChange(e) {
      const value = e.target.value.trim();
      this.setParamValue(value);
    }
  }
};
</script>

<style lang="less" scoped>
.outIndicatorDefinitionEdit-container {
  width: 100%;
  height: 100%;
  margin-top: 12px;
  .label {
    width: 36px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  .valueWrapper {
    width: calc(~"100% - 36px");
  }
}
</style>
