<template>
  <div class="static-indicator-definition-edit">
    <div class="definition-item">
      <span>指标值：</span>
      <InputNumber placeholder="请输入指标值" :value="indicatorValue" @on-change="onIndicatorValueChange"></InputNumber>
    </div>
    <div class="definition-item">
      <span>小数位数：</span>
      <InputNumber
        :max="10"
        :min="0"
        :editable="false"
        :value="numberFormatConfig.decimalPlaces"
        @on-change="onNumberFormatConfigChange('decimalPlaces', $event)"></InputNumber>
    </div>
    <div class="definition-item">
      <Checkbox
        v-model="numberFormatConfig.thousandsSeparator"
        @on-change="onNumberFormatConfigChange('thousandsSeparator', $event)">
        使用千分位分隔符
      </Checkbox>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { deepCopy } from '@/utils/common'

export default {
  name: 'StaticIndicatorDefinitionEdit',
  data() {
    return {
      decimalPlaces: 2,
      useThousandsSeparator: true,
    }
  },
  computed: {
    ...mapState('indicator', ['indicatorValue', 'numberFormatConfig']),
  },
  methods: {
    ...mapActions('indicator', ['setIndicatorValue', 'setNumberFormatConfig']),

    onIndicatorValueChange(val) {
      this.setIndicatorValue(val)
    },

    /**
     * 数值格式变化
     * @param type
     * @param value
     */
    onNumberFormatConfigChange(type, value) {
      const newNumberFormatConfig = deepCopy(this.numberFormatConfig)
      newNumberFormatConfig[type] = value
      this.setNumberFormatConfig(newNumberFormatConfig)
    },
  },
}
</script>

<style scoped lang="less">
.static-indicator-definition-edit {
  margin-top: 16px;
}

.definition-item {
  display: inline-block;

  + .definition-item {
    margin-left: 24px;
  }

  /deep/ .ivu-input-number {
    width: 168px;
  }
}
</style>
