<template>
  <div class="filterSearch-container">
    <section class="rowLeft">
      <div class="searchBox">
        <span>名称：</span>
        <Input v-model.trim="searchCondition.assetName" maxlength="30" clearable placeholder="请输入资产名称" style="width: 246px" />
      </div>
      <template v-if="isShowAssetFilter">
        <div class="searchBox">
          <span>资产分组：</span>
          <TreeSelect
            style="width: 172px"
            v-model="searchCondition.assetsGroupValue"
            :expand-all="false"
            :data="assetsDataList"
            :multiple="false"
            :defaultSelected="[-1]"
            placeholder="请选择分组"
            check-strictly
            :clearable="searchCondition.assetsGroupValue[0] !== -1"
          />
        </div>
        <div class="searchBox">
          <span>资产标签：</span>
          <AssetsLabel style="width: 172px" :data="searchCondition.tagValue" @select="handleAssetsLabelSelect" />
        </div>
      </template>

      <Button class="searchBtn btn" @click="$emit('searchTable')">查询</Button>
    </section>
    <section v-if="isCanApply" :class="['rowRight', 'btn', { select: selectedDataList.length }]" @click="batchApply">批量申请</section>
  </div>
</template>

<script>
import TreeSelect from "@/components/tree-select";
import AssetsLabel from "@/view/report/components/AssetsLabel.vue";
import { getDimensionTreeData } from "@/api/dimension";
import { DIMENSION_ASSET, INDICATOR_ASSET } from "@/config/resourcePublish";
import { mapGetters } from "vuex";

export default {
  props: {
    assetType: {
      type: String,
      required: true
    },
    searchCondition: {
      type: Object,
      required: true
    },
    // 需要申请的资源
    selectedDataList: {
      type: Array,
      required: true
    }
  },
  components: {
    TreeSelect,
    AssetsLabel
  },
  data() {
    return {
      assetsDataList: [] // 资产数据
    };
  },
  computed: {
    ...mapGetters(["isCanApply"]),
    isShowAssetFilter() {
      return this.assetType === DIMENSION_ASSET || this.assetType === INDICATOR_ASSET;
    }
  },
  created() {
    this.getTreeData();
  },
  methods: {
    /**
     * 获取资产分组数据
     */
    async getTreeData() {
      const { data } = await getDimensionTreeData();
      if (data?.state === "success") {
        const groupData = data.data.dimensionGroupList;
        let root = [
          {
            id: -1,
            title: "全部",
            expand: true,
            type: "group",
            deep: 0
          }
        ];
        this.assetsDataList = this.generateTree(root, groupData);
        this.searchCondition.assetsGroupValue = [-1];
      } else {
        this.$Message.error("获取资产分组失败");
      }
    },
    /**
     * 递归-生成维度（分组）树
     * @param parent 父节点
     * @param all 全部数据
     * @param deep 层级，根节点为0
     */
    generateTree(parent, all, deep = 1) {
      return parent.map(parentItem => {
        let children = all
          .filter(allItem => {
            let parentId = allItem.parentId || allItem.groupId;
            return parentId === parentItem.id;
          })
          .map(child => ({
            id: child.id,
            title: child.name,
            expand: false,
            type: child.parentId ? "group" : "value",
            deep: deep,
            selected: false
          }));

        return {
          ...parentItem,
          children: children.length ? this.generateTree(children, all, ++deep) : []
        };
      });
    },
    /**
     * 标签变化
     * @param selected
     */
    async handleAssetsLabelSelect(selected) {
      const index = this.searchCondition.tagValue.findIndex(item => item.id === selected.id);
      if (index === -1) {
        this.searchCondition.tagValue.push(selected);
      } else {
        this.searchCondition.tagValue.splice(index, 1);
      }
    },
    /**
     * 批量申请
     */
    batchApply() {
      if (this.selectedDataList.length) {
        this.$emit("batchApply");
      }
    }
  }
};
</script>

<style lang="less" scoped>
.filterSearch-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .rowLeft {
    // width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .searchBox {
      display: flex;
      align-items: center;
      &:not(:last-of-type) {
        margin-right: 24px;
      }

      // 指标标签
      /deep/.assets-label {
        cursor: pointer;
        .select-wrapper {
          width: 100%;
          padding: 5px 22px 5px 14px;
          background: rgba(255, 255, 255, 0.03);
          border: 1px solid rgba(217, 217, 217, 1);
          border-radius: 4px;
          box-sizing: border-box;
          height: 32px;
          .selected-list {
            flex-wrap: nowrap;
            overflow-x: hidden;
            .list-item {
              margin-right: 10px;
              margin-bottom: 5px;
              height: 20px;
              flex: none;
            }
          }
          .ivu-icon {
            font-size: 14px;
            right: 8px;
            color: #808695;
          }
        }
        .search-input {
          width: 100%;
        }
      }
    }
    .searchBtn {
      width: 72px;
      background: #3f73ff;
      cursor: pointer;
    }
  }
  .rowRight {
    width: 82px;
    background: #cdcdcd;
    cursor: not-allowed;
    &.select {
      background: #3f73ff;
      cursor: pointer;
    }
  }
  .btn {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-left: 16px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ffffff;
  }
}
</style>
