<template>
  <Modal class="changeOwnerModal-container" :value="showHandle"
         @on-cancel="onCancel" :title="`${modalTitle}处理`" width="570"
         footer-hide>
    <div class="changeOwnerWrapper">
      <section class="timeSelectWrapper">
        <div class="handleTime">
          <span>截止时间：</span>
          <DatePicker type="date" placeholder="Select date"
                      v-model="endDate"
                      :options="optionsDate"
                      @on-change="handleDateFormatter"
                      @on-open-change="openChange"
                      style="width: 150px"></DatePicker>
          <TimePicker type="time" placeholder="Select time"
                      v-model="endTime"
                      @on-change="handleTimeFormatter"
                      style="width: 150px;margin-left: 20px;"></TimePicker>
        </div>
      </section>
      <Input :style="{ marginTop: `${marginTop}px` }" v-model.trim="handleRemark" type="textarea" :rows="3"
             placeholder="请输入备注信息"/>
      <Checkbox style="margin: 20px 0 15px 0" v-model="feiShuTaskEnable">创建任务到飞书</Checkbox>
      <div class="fei-shu-task-container" v-show="feiShuTaskEnable">
        <span class="title">【FineInsight-预警/目标】{{modalTitle}}处理</span>
        <div class="deal-user">
          <img src="@/assets/icons/fei-shu/fei-shu-deal-user.svg" alt="">
          <div class="user-config">
            <div class="user">
              <div class="icon">用户</div>
              <span>{{manager}}</span>
            </div>
            <div class="user-group">
              <div class="vertical-line"></div>
              <span>默认分组</span>
            </div>
          </div>
        </div>
        <div class="time-config">
          <img src="@/assets/icons/fei-shu/fei-shu-time-calender.svg" alt="">
          <div>
            <div class="time-config-enable" style="margin-top: -7px;" v-if="warnEnable === null" @click="addWarn">
              <span style="margin-right: 10px;font-size: 20px">+</span>
              <span>提醒</span>
            </div>
            <div v-else class="time-config-item">
              <div class="time-config-item-label">
                <img src="@/assets/icons/fei-shu/fei-shu-time-warn.svg" alt="">
                <span>提醒</span>
              </div>
              <Select v-model="warnEnable" class="select">
                <Option value="1">任务截止时</Option>
                <Option value="2">截止前5分钟</Option>
                <Option value="3">截止前15分钟</Option>
                <Option value="4">截止前30分钟</Option>
                <Option value="5">截止前1小时</Option>
                <Option value="6">截止前2小时</Option>
                <Option value="7">截止前1天</Option>
                <Option value="8">截止前2天</Option>
                <Option value="9">截止前1周</Option>
              </Select>
              <img @click="deleteWarn" style="cursor: pointer;" src="@/assets/icons/fei-shu/fei-shu-time-delete.svg" alt="">
            </div>
          </div>
        </div>
        <div class="follow-user">
          <img src="@/assets/icons/fei-shu/fei-shu-follower.svg" alt="">
          <Poptip content="content" placement="top-start">
            <span v-if="follower.length === 0" style="cursor: pointer">添加关注人</span>
            <div v-else>
              <Tag v-for="item in follower" :key="item.value" :name="item.label" closable
                   @on-close="deleteFollower(item.value)">{{ item.label }}
              </Tag>
              <Button icon="ios-add" type="dashed" size="small"/>
            </div>
            <template #content>
              <Select class="userSelect" v-model="followerSelect" multiple placeholder="添加关注人" filterable
                      :loading="loadingUser"
                      @on-select="selectUser"
                      :remote-method="getUserTree">
                <Option v-for="item in userTreeData" :value="item.username" :key="item.id">{{ item.nickname }}</Option>
              </Select>
            </template>
          </Poptip>
        </div>
      </div>
      <div class="actionBtn">
        <section class="cancelBtn" @click="onCancel">取消</section>
        <section class="confirmBtn" @click="onConfirm">确认</section>
      </div>
    </div>

  </Modal>
</template>

<script>
  import ReportCalendar from './report-calendar/ReportCalendar.vue'
  import { getTimeFormat } from '@/utils/dateFormat'
  import { getUserListAll } from '@/api/systemManagement/system'

  const DEFAULT_TIME = '18:00:00'
  export default {
    props: {
      manager: {
        type: String,
        required: false
      },
      showHandle: {
        type: Boolean,
        required: true
      },
      modalTitle: {
        type: String,
        required: true
      },
    },
    components: {
      ReportCalendar
    },
    data() {
      return {
        currentDate: {}, // 处理时间
        handleRemark: '', // 处理备注
        marginTop: 0,
        endDate: '',
        endTime: DEFAULT_TIME,
        startDateTime: '',
        feiShuTaskEnable: true,
        warnEnable: null,
        optionsDate: {
          disabledDate(date) {
            return date && date.valueOf() < Date.now() - 86400000
          }
        },
        follower: [],
        followerSelect: [],
        loadingUser: false,
        userTreeData: []
      }
    },
    mounted() {
    },
    watch: {
      showHandle(val) {
        if (val) {
          let initDate = new Date(new Date().getTime() + 86400000)
          // 初始开始时间
          this.endDate = getTimeFormat({ timeData: initDate, type: 'YYYY-MM-DD' })
          this.endTime = DEFAULT_TIME
        }
      }
    },
    methods: {
      handleDateFormatter(val) {
        this.endDate = getTimeFormat({ timeData: val, type: 'YYYY-MM-DD' })
      },
      handleTimeFormatter(val) {
        this.endTime = val
      },
      openChange() {
        this.endDate = getTimeFormat({ timeData: this.endDate, type: 'YYYY-MM-DD' })
      },
      /**
       * 关闭弹窗
       */
      onCancel() {
        this.$emit('closeModal')
      },
      /**
       * 确认
       */
      onConfirm() {
        this.currentDate = {
          endDate: this.endDate,
          entTime: this.endTime
        }
        if (this.handleRemark === '') {
          this.$Message.warning('请填写备注！')
          return false
        }
        let data = {
          endDate: getTimeFormat({ timeData: this.endDate, type: 'YYYY-MM-DD' }),
          endTime: this.endTime,
          description: this.handleRemark,
          follower: this.follower.map(f => f.value),
          warn: this.warnEnable,
        }
        this.$emit('onConfirm', data)
        this.handleRemark = ''
      },

      deleteFollower(item) {
        this.follower = this.follower.filter(f => f.value !== item)
        this.followerSelect = this.follower.map(f => f.value)
      },

      selectUser(item) {
        let user = this.follower.find(f => f.value === item.value)
        if (user) {
          this.follower = this.follower.filter(item => item.value !== item.value)
        } else {
          this.follower.push(item)
        }
      },
      addWarn() {
        this.warnEnable = '4'
      },
      deleteWarn() {
        this.warnEnable = null
      },
      /**
       * 获取用户树
       * @param {String} query 搜索关键字
       */
      async getUserTree(query) {
        if (query !== '') {
          this.loadingUser = true
          this.userTreeData = await this.getUserData(query)
          this.loadingUser = false
        } else {
          this.userTreeData = []
        }
      },
      async getUserData(query) {
        const params = {
          currentPage: 1,
          pageSize: 1000,
          username: query
        }
        const res = await getUserListAll(params)
        if (res.data.state === 'success') {
          return res.data.data.data.map(ele => ({
            id: ele.id,
            nickname: ele.nickname, // 昵称
            username: ele.name // 用户名
          }))
        }
      }
    }
  }
</script>

<style lang="less" scoped>
  .changeOwnerModal-container {
    /deep/ .ivu-modal {
      .ivu-modal-content {
        background: #ffffff;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        .ivu-modal-body {
          padding: 0;
        }
      }
    }

    .changeOwnerWrapper {
      padding: 16px 24px 20px;

      .timeSelectWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .handleText {
          font-family: PingFangSC-Medium;
          font-size: 12px;
          letter-spacing: 0;
          font-weight: 500;
          color: #f86666;
        }

        .handleTime {
          display: flex;
          align-items: center;
          margin-bottom: 16px;

          span {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #333333;
            letter-spacing: 0;
          }

          /deep/ .calendar-container-wrap {
            .report-calendar {
              width: 730px;
              top: 43px;
              box-shadow: none;
              border: 1px solid rgba(221, 221, 221, 1);
              border-radius: 4px;
            }
          }
        }
      }

      .actionBtn {
        display: flex;
        justify-content: flex-end;
        margin-top: 36px;

        .cancelBtn,
        .confirmBtn {
          width: 72px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          cursor: pointer;
        }

        .cancelBtn {
          border: 1px solid rgba(217, 217, 217, 1);
          margin-right: 16px;
          color: #949494;
        }

        .confirmBtn {
          background: #3f73ff;
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #ffffff;
        }
      }

      .fei-shu-task-container {
        width: 520px;
        height: 220px;
        background-color: #f8f8f8;
        padding: 9px 11px;

        > div > img {
          width: 20px;
          height: 20px;
          margin-right: 15px;
        }

        .title {
          color: #616161;
          font-size: 16px;
          height: 24px;
          line-height: 24px;
          margin-bottom: 13px;
        }

        .deal-user {
          margin-top: 13px;
          margin-bottom: 25px;
          display: flex;
          align-items: center;

          .user-config {
            display: flex;
            align-items: center;
            font-size: 14px;

            .user {
              display: flex;
              width: 95px;
              margin-right: 19px;
              align-items: center;

              .icon {
                color: #FFFFFF;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                background-color: #00BEAC;
                width: 30px;
                font-size: 12px;
                height: 30px;
                margin-right: 5px;
              }
            }

            .user-group {
              line-height: 30px;
              height: 30px;
              display: flex;
              align-items: center;

              .vertical-line {
                width: 2px;
                height: 20px;
                margin-right: 28px;
                background-color: #bebebe;
              }
            }
          }

        }

        .time-config {
          display: flex;

          .time-config-enable {
            color: #6896ee;
            font-size: 14px;
            width: 100px;
            margin-bottom: 8px;
            height: 30px;
            padding-left: 9px;
            cursor: pointer;
            line-height: 30px;
          }

          .time-config-item {
            display: flex;
            margin-bottom: 9px;

            .time-config-item-label {
              width: 95px;
              height: 30px;
              line-height: 20px;
              border-radius: 6px;
              background-color: rgba(206, 206, 206, 0.4);
              color: rgba(108, 108, 108, 1);
              font-size: 14px;
              display: flex;
              align-items: center;
              margin-right: 19px;

              > img {
                width: 20px;
                height: 20px;
                margin: 0 7px 0 9px;
              }
            }

            .select {
              width: 300px;
              margin-right: 21px;

              /deep/ .ivu-select-selection {
                background-color: #f8f8f8;
              }
            }
          }
        }

        .follow-user {
          margin-top: 50px;
          display: flex;
          align-items: center;

          .userSelect {
            width: 150px;
            height: 32px;

            /deep/ .ivu-select-selection {
              height: 32px;

              > div {
                white-space: nowrap;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
</style>
