<template>
  <div class="basic-indicator-definition">
    <div class="row">
      <div class="field" :title="businessModelView">业务模型：<span>{{ businessModelView }}</span></div>
      <div class="field" :title="`${columnView} ${columnNvlView || ''}`">列：<span>{{ columnView }} {{ columnNvlView }}</span></div>
      <div class="field">汇总方式：<span>{{ summaryMethodView }}</span></div>
      <div class="field number-format-view"><NumberFormat readonly :config="numberFormatConfig" /></div>
    </div>
    <div class="row" v-if="filterConditions.length">
      <div class="filter-conditions">
        <div class="filter-conditions-title">
          过滤条件
          <img
            :src="isFilterConditionsArrowHover ? arrowDownActive : arrowDown"
            alt="箭头"
            :class="['icon-arrow', { expand: showFilterConditions }]"
            @mouseenter="isFilterConditionsArrowHover = true"
            @mouseleave="isFilterConditionsArrowHover = false"
            @click="showFilterConditions = !showFilterConditions" />
        </div>
        <div class="filter-conditions-body" v-if="showFilterConditions">
          <div v-for="filterItem in filterConditions" class="filter-condition-group-item">
            <img src="@/assets/icons/indicatorIcon/icon_and.svg" alt="与" class="icon-and" />
            <div>
              <FilterConditionItem
                v-for="item in filterItem"
                :item-data="item"
                :is-single="filterItem.length === 1"
                :is-or-item="filterItem.length > 1" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import arrowDown from '@/assets/icons/indicatorIcon/arrow_down.png'
import arrowDownActive from '@/assets/icons/indicatorIcon/arrow_down_active.png'
import NumberFormat from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/NumberFormat/index.vue'
import FilterConditionItem from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/FilterConditionItem.vue'
import { mapGetters, mapState } from 'vuex'
import { SUMMARY_METHODS, INDICATOR_TYPES } from '@/view/report/indicator/constant'

export default {
  name: 'BasicIndicatorDefinition',
  components: {
    NumberFormat,
    FilterConditionItem,
  },
  data() {
    return {
      arrowDown,
      arrowDownActive,
      isFilterConditionsArrowHover: false,
      showFilterConditions: true,
    }
  },
  computed: {
    ...mapState('indicator', [
      'businessModelList',
      'businessModel',
      'column',
      'columnNvl',
      'columnNvlManualEntry',
      'summaryMethod',
      'numberFormatConfig',
      'filterConditions',
    ]),
    ...mapGetters('indicator', ['columns']),
    businessModelView() {
      return this.businessModelList.find(item => item.id === Number(this.businessModel))?.name
    },
    columnView() {
      return this.columns.find(item => item.id === this.column)?.name
    },
    columnNvlView() {
      return this.columnNvl === 'manualEntry' ? this.columnNvlManualEntry : this.columnNvl
    },
    summaryMethodView() {
      return SUMMARY_METHODS.find(item => item.value === this.summaryMethod)?.name
    },
    indicatorTypeView() {
      return INDICATOR_TYPES.find(item => item.value === this.numberFormatConfig.showType)?.name
    },
  },
}
</script>

<style scoped lang="less">
.basic-indicator-definition {
  .filter-conditions-title {
    display: flex;
    align-items: center;
  }

  .filter-conditions-body {
    margin-top: 18px;
    padding-left: 55px;
  }
}

.row {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.field {
  color: rgba(0, 0, 0, 0.65);
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  > span {
    color: rgba(0, 0, 0, 0.85);
  }

  + .field {
    margin-left: 48px;
  }
}

.number-format-view {
  width: 260px;
  max-width: unset;
}

.icon-arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: transform .3s;
}

.icon-arrow.expand {
  transform: rotate(180deg);
}
</style>
