<template>
  <div class="composite-indicator-definition">
    <div class="row">
      <div class="expression">
        <span>表达式：</span>
        <div class="expression-content" v-html="expressionHtml"></div>
      </div>
      <NumberFormat readonly :config="numberFormatConfig" />
    </div>
    <div class="row" v-if="filterConditionTabs.length">
      <div class="filter-conditions">
        <span>过滤条件：</span>
        <Tabs
          name="compositeIndicatorFilterCondition"
          v-model="currentFilterIndicator">
          <TabPane
            v-for="item in filterConditionTabs"
            :key="item.id"
            :label="item.name"
            :name="`${item.id}`"
            tab="compositeIndicatorFilterCondition">
            <div class="filter-conditions-body" v-if="showFilterConditions">
              <div v-for="(filterItem, index ) in filterConditions" class="filter-condition-group-item" :key="index">
                <img src="@/assets/icons/indicatorIcon/icon_and.svg" alt="与" class="icon-and" />
                <div>
                  <FilterConditionItem
                    v-for="item in filterItem"
                    :key="item.id"
                    :item-data="item"
                    :is-single="filterItem.length === 1" />
                </div>
              </div>
            </div>
          </TabPane>
          <img
            slot="extra"
            :src="isFilterConditionsArrowHover ? arrowDownActive : arrowDown"
            alt="箭头"
            :class="['icon-arrow', { expand: showFilterConditions }]"
            @mouseenter="isFilterConditionsArrowHover = true"
            @mouseleave="isFilterConditionsArrowHover = false"
            @click="showFilterConditions = !showFilterConditions" />
        </Tabs>
      </div>
    </div>
  </div>
</template>

<script>
import arrowDown from '@/assets/icons/indicatorIcon/arrow_down.png'
import arrowDownActive from '@/assets/icons/indicatorIcon/arrow_down_active.png'
import NumberFormat from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/NumberFormat/index.vue'
import FilterConditionItem from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/FilterConditionItem.vue'
import { mapActions, mapState } from 'vuex'
import _ from "lodash";

export default {
  name: 'CompositeIndicatorDefinition',
  components: {
    NumberFormat,
    FilterConditionItem,
  },
  data() {
    return {
      arrowDown,
      arrowDownActive,
      isFilterConditionsArrowHover: false,
      showFilterConditions: true,
      filterConditionTabs: [], // 过滤条件Tabs列表
      currentFilterIndicator: null, // 过滤条件中，当前选中的指标id
    }
  },
  computed: {
    ...mapState('indicator', [
      'expression',
      'expressionHtml',
      'indicators',
      'compositeIndicatorFilterConditions',
      'compositeIndicatorBusinessModels',
      'numberFormatConfig',
    ]),
    // 当前选中指标的过滤条件
    filterConditions() {
      return this.compositeIndicatorFilterConditions[this.currentFilterIndicator] ?? []
    },
    // 当前选中指标的业务模型，技术口径会随之更新（getters)
    currentFilterIndicatorBusinessModel() {
      return this.compositeIndicatorBusinessModels?.[this.currentFilterIndicator] ?? null
    },
  },
  watch: {
    currentFilterIndicatorBusinessModel(newVal) {
      this.setBusinessModel(newVal)
    },
    // 监听表达式，更新Tabs列表
    expression: {
      handler() {
        if (!this.expression) return

        // 根据表达式获取指标id数组
        let indicatorArr = []
        // 判断表达式是否是union函数的，带有[]表示不是union函数的
        if (this.expression.indexOf('[') > -1) {
          const reg = /\[(.*?)\]/gi
          indicatorArr = _.uniq(
            this.expression
              .replace(/\_(.*?)[0-9]/gi, '')
              .match(reg)
              .map(item => item.replace(reg, '$1')),
          )
        } else {
          indicatorArr = _.uniq(this.expression.split(',')).map(item => item.replace(/\_(.*?)[0-9]/gi, ''))
        }

        this.updateFilterConditionTabs(indicatorArr)
      },
      immediate: true,
    },
    currentFilterIndicator() {
      this.showFilterConditions = true
    },
    expressionHtml: {
      handler() {
        this.$nextTick(() => {
          // 兼容旧版本
          const allInput = document.querySelectorAll('.composite-indicator-definition .textArea_input')
          for (let i = 0; i < allInput.length; i++) {
            let input = allInput[i]
            if (input.nodeName === 'INPUT') {
              input.value = input.getAttribute('infolabel')
              input.setAttribute('readonly', 'true')
            }
          }
        })
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions('indicator', ['setBusinessModel']),

    // 更新过滤条件tabs
    updateFilterConditionTabs(indicatorArr) {
      // 根据表达式找到对应指标，作为tab
      const tabs = indicatorArr.map(
        indicatorId => this.indicators.find(item => item.id === Number(indicatorId))
      ).filter(item => {
        if (!this.compositeIndicatorFilterConditions || !item) return false
        // 如果当前指标没有过滤条件，则不展示
        let filterConditions = this.compositeIndicatorFilterConditions[item.id]
        if (!filterConditions) return false
        filterConditions = filterConditions.map(group => ({
          type: 1, // 固定为1，表示指标筛选器，报告管理页面使用
          conditions: group.filter( // 过滤无用条件（未填写完的）
            item => item.sourceId && item.conditionType && item.variableValue,
          ).map(item => ({
            sourceId: item.sourceId,
            conditionType: item.conditionType,
            value: `${item.variableType}|${item.variableValue}`,
          })),
        })).filter(item => item.conditions.length) // 最后过滤掉条件为空数组的group
        return filterConditions.length
      })
      this.filterConditionTabs = tabs
      if (tabs.length) this.currentFilterIndicator = tabs[0].id.toString()
    },
  },
}
</script>

<style scoped lang="less">
.composite-indicator-definition {
  .row {
    margin-top: 12px;
    justify-content: space-between;
    white-space: nowrap;

    .expression {
      flex: 1;
      display: flex;
      align-items: baseline;
      > span {
        width: 60px;
      }
      .expression-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    .number-format {
      width: 260px;
      margin-left: 32px;
    }
  }

  /deep/ .indicator,
  /deep/ .textArea_input {
    padding: 4px 16px;
    background: #F0F5FF;
    border-radius: 4px;
    color: #3F73FF;
    margin: 8px 0;
    border: 0;
    outline: none;
  }

  /deep/ .operator {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 4px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin: 8px;
    vertical-align: bottom;

    &.divide {
      content: url('~@/assets/icons/indicatorIcon/operator_divide.svg');
    }

    &.increase {
      content: url('~@/assets/icons/indicatorIcon/operator_increase.svg');
    }

    &.decrease {
      content: url('~@/assets/icons/indicatorIcon/operator_decrease.svg');
    }

    &.multiply {
      content: url('~@/assets/icons/indicatorIcon/operator_multiply.svg');
    }

    &.left-bracket {
      content: url('~@/assets/icons/indicatorIcon/operator_left_bracket.svg');
    }

    &.right-bracket {
      content: url('~@/assets/icons/indicatorIcon/operator_right_bracket.svg');
    }

    &.union {
      content: url('~@/assets/icons/indicatorIcon/operator_union.svg');
    }
  }

  .filter-conditions {
    display: flex;
    width: 100%;

    > span {
      margin-top: 6px;
    }

    /deep/ .ivu-tabs {
      width: 100%;

      .ivu-tabs-bar {
        border: 0;
        margin: 0;
        height: 32px;
        background: #E7EEFF;
        border-radius: 4px;
        padding: 0 18px;
      }

      .ivu-tabs-nav-container {
        height: 32px;
        line-height: 1;
      }

      .ivu-tabs-ink-bar {
        bottom: 2px;
      }

      .ivu-tabs-nav-right {
        margin-top: 8px;
      }

      .ivu-tabs-nav .ivu-tabs-tab {
        padding: 10px 0;
      }
    }

    .filter-conditions-body {
      margin-top: 16px;
    }
  }
}

.row {
  display: flex;
  margin-top: 16px;
}

.icon-arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: transform .3s;
}

.icon-arrow.expand {
  transform: rotate(180deg);
}
</style>
