<template>
  <div class="derivative-indicator-definition">
    <div class="row">
      <div class="field">派生自：<span>{{ derivedFromView }}</span></div>
      <div class="field" v-if="derivationRule !== 5"><NumberFormat readonly :config="numberFormatConfig" /></div>
    </div>
    <div class="row">
      <div class="field">派生规则：<span>{{ derivationRuleView }}</span></div>
    </div>
    <div class="row" v-if="derivationRule === 1">
      <div class="field">计算周期：<span>{{ calcPeriodView }}</span></div>
      <div class="field">计算区间：<span>{{ calcIntervalView }}</span></div>
      <div class="field">聚合方式：<span>{{ summaryMethodView }}</span></div>
    </div>
    <div class="row" v-if="derivationRule === 2">
      <div class="field">计算方式：<span>{{ calcTypeView }}</span></div>
    </div>
    <div class="row" v-if="derivationRule === 3">
      <div class="field">聚合方式：<span>{{ summaryMethodView }}</span></div>
    </div>
    <div class="row" v-if="derivationRule === 4">
      <div class="field">计算周期：<span>{{ mobileCalcPeriodView }}</span></div>
      <div class="field">计算区间：<span>{{ mobileCalcIntervalView }}</span></div>
      <div class="field">聚合方式：<span>{{ summaryMethodView }}</span></div>
    </div>
    <div class="row" v-if="derivationRule === 6">
      <div class="field">排名类型：<span>{{ rankingTypeView }}</span></div>
      <div class="field">排序方式：<span>{{ rankingWayView }}</span></div>
    </div>
  </div>
</template>

<script>
import NumberFormat from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/NumberFormat/index.vue'
import { mapState } from 'vuex'
import {
  INDICATOR_TYPES,
  DERIVATION_RULES,
  CALC_PERIODS,
  SUMMARY_METHODS,
  CALC_TYPES,
  SUB_CALC_TYPES,
  MOBILE_CALC_PERIODS,
  RANKING_TYPES,
  RANKING_WAYS
} from '@/view/report/indicator/constant'

export default {
  name: 'derivativeIndicatorDefinition',
  components: {
    NumberFormat,
  },
  props: {
    viewData: Object,
  },
  data() {
    return {}
  },
  computed: {
    ...mapState('indicator', [
      'indicators',
      'derivedFrom',
      'numberFormatConfig',
      'derivationRule',
      'calcPeriod',
      'calcInterval',
      'summaryMethod',
      'calcType',
      'subCalcType',
      'mobileCalcPeriod',
      'mobileCalcInterval',
      'rankingType',
      'rankingWay',
    ]),
    derivedFromView() {
      return this.indicators.find(item => item.id === this.derivedFrom)?.name
    },
    indicatorTypeView() {
      return INDICATOR_TYPES.find(item => item.value === this.numberFormatConfig.showType)?.name
    },
    derivationRuleView() {
      return DERIVATION_RULES.find(item => item.value === this.derivationRule)?.name
    },
    calcPeriodView() {
      return CALC_PERIODS.find(item => item.value === this.calcPeriod)?.name
    },
    calcIntervalView() {
      let calcIntervalSecondType = ''
      if (this.calcPeriod === 1) calcIntervalSecondType = 'Year'
      if (this.calcPeriod === 2) calcIntervalSecondType = 'Quarter'
      if (this.calcPeriod === 3) calcIntervalSecondType = 'Mon'
      if (this.calcPeriod === 4) calcIntervalSecondType = 'Week'
      return this.calcInterval === 0 ? '当前' : calcIntervalSecondType
    },
    summaryMethodView() {
      return SUMMARY_METHODS.find(item => item.value === this.summaryMethod)?.name
    },
    calcTypeView() {
      if (this.calcType === 1) {
        return CALC_TYPES.find(item => item.value === this.calcType)?.name
      } else {
        return SUB_CALC_TYPES.find(item => item.value === this.subCalcType)?.name
      }
    },
    mobileCalcPeriodView() {
      return MOBILE_CALC_PERIODS.find(item => item.value === this.mobileCalcPeriod)?.name
    },
    mobileCalcIntervalView() {
      const { start, end } = this.mobileCalcInterval
      const startStr = start.length === 2 ? `${start[0]}月${start[1]}日` : `${start[0]}日`
      const endStr = start.length === 2 ? `${end[0]}月${end[1]}日` : `${end[0]}日`
      return `${startStr}~${endStr}`
    },
    rankingTypeView(){
      return RANKING_TYPES.find(item => item.value === this.rankingType)?.name
    },
    rankingWayView(){
      return RANKING_WAYS.find(item => item.value === this.rankingWay)?.name
    },
  },
}
</script>

<style scoped lang="less">
.row {
  height: 32px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.field {
  color: rgba(0, 0, 0, 0.65);

  > span {
    color: rgba(0, 0, 0, 0.85);
  }

  + .field {
    margin-left: 48px;
  }
}

.number-format {
  width: 260px;
}
</style>
