<template>
  <div class="basic-indicator-view">
    <slot name="header">
      <div class="nameRow">{{ indicatorName }}</div>
      <div class="row">
        <div class="rowLeft">
          <div class="lineItem" v-if="indicatorAbbreviation">
            简称：<span>{{ indicatorAbbreviation }}</span>
          </div>
          <div class="lineItem">
            指标编码：<span>{{ indicatorCode }}</span>
          </div>
          <div class="lineItem">
            属性：<span>{{ indicatorAttribute }}</span>
          </div>
        </div>
        <div class="rowRight">
          版本号：
          <Select :value="indicatorVersion" @on-change="onIndicatorVersionChange" style="width: 100px;">
            <Option v-for="version in existIndicatorVersions" :key="version.name" :value="version.name">{{ version.name }}</Option>
          </Select>
        </div>
      </div>
    </slot>
    <div class="business-description">
      <div class="business-description-header">
        <div class="business-description-title">
          业务描述
          <img
            :src="businessDescriptionArrowHover ? arrowDownActive : arrowDown"
            alt="箭头"
            :class="['icon-arrow', { expand: showBusinessDescription }]"
            @mouseenter="businessDescriptionArrowHover = true"
            @mouseleave="businessDescriptionArrowHover = false"
            @click="showBusinessDescription = !showBusinessDescription" />
        </div>
        <div class="sync-setting">
          {{ syncDashboard ? '已同步看板' : '未同步看板' }}
        </div>
      </div>
      <transition name="slide-fade" mode="out-in">
        <div class="business-description-body" v-if="showBusinessDescription" v-html="businessDesc"></div>
      </transition>
    </div>

    <div class="indicator-definition">
      <Headline title="指标定义">
        <template #right>
          <div class="business-date" v-if="indicatorKind === 1 && indicatorKind === 2">
            业务日期：<span>{{ businessDate ? '开启' : '关闭' }}</span>
          </div>
        </template>
      </Headline>
      <div class="indicator-definition-body">
        <component :is="indicatorDefinitionComponentName" />
      </div>
    </div>
    <div class="asset-information">
      <Headline title="资产信息" />
      <div class="asset-information-body">
        <div class="field">资产分组：<span>{{ assetGroupView }}</span></div>
        <div class="field">
          指标标签：
          <div class="labels">
            <div class="label-item" v-for="item in indicatorLabels">{{ item.name }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="related-dimensions" v-if="indicatorKind !== 4">
      <Headline title="相关维度">
        <template #right>
          <div class="legend">
            <div class="legend-item used">已关联</div>
            <div class="legend-item available">可关联</div>
          </div>
        </template>
      </Headline>
      <div class="related-dimensions-body">
        <div v-for="item in relatedDimensions" :class="['dimension-item', item.type === 1 ? 'used' : 'available']">{{ item.name }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import Headline from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/Headline.vue'
import FilterConditionItem from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/FilterConditionItem.vue'
import BasicIndicatorDefinitionView from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorView/BasicIndicatorDefinitionView.vue'
import CompositeIndicatorDefinitionView from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorView/CompositeIndicatorDefinitionView.vue'
import DerivativeIndicatorDefinitionView from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorView/DerivativeIndicatorDefinitionView.vue'
import OutIndicatorDefinitionView from './OutIndicatorDefinitionView.vue'
import StaticIndicatorDefinitionView from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorView/StaticIndicatorDefinitionView.vue'
import arrowDown from '@/assets/icons/indicatorIcon/arrow_down.png'
import arrowDownActive from '@/assets/icons/indicatorIcon/arrow_down_active.png'
import { mapState } from 'vuex'
import { INDICATOR_TYPE_MAP } from '@/view/report/indicator/constant'

export default {
  name: 'IndicatorView',
  components: {
    Headline,
    FilterConditionItem,
    BasicIndicatorDefinitionView,
    CompositeIndicatorDefinitionView,
    DerivativeIndicatorDefinitionView,
    OutIndicatorDefinitionView,
    StaticIndicatorDefinitionView,
  },
  data() {
    return {
      arrowDown,
      arrowDownActive,
      existIndicatorVersions: [], // 存在的指标版本列表
      definitionViewData: {},
      businessDescriptionArrowHover: false,
      showBusinessDescription: true,
      isFilterConditionsArrowHover: false,
      showFilterConditions: true,
    }
  },
  computed: {
    ...mapState('indicator', [
      'indicatorName',
      'indicatorAbbreviation',
      'indicatorCode',
      'indicatorAttribute',
      'syncDashboard',
      'businessDate',
      'relatedDimensions',
      'indicatorKind',
      'indicatorId',
      'indicatorVersion',
      'indicatorVersions',
      'businessDesc',
      'assetGroups',
      'assetGroup',
      'indicatorLabels',
    ]),
    // 指标定义组件名称
    indicatorDefinitionComponentName() {
      const  indicatorType = INDICATOR_TYPE_MAP[this.indicatorKind]
      return `${indicatorType}DefinitionView`
    },
    assetGroupView() {
      return this.assetGroups.find(item => item.id === Number(this.assetGroup))?.name
    },
  },
  watch: {
    indicatorVersions: {
      handler() {
        let indicatorVersions = this.indicatorVersions.map(item => ({ name: item.code, id: item.indicatorId }))
        // 放入当前版本
        indicatorVersions.push({ name: this.indicatorVersion, id: this.indicatorId || '' })
        this.existIndicatorVersions = indicatorVersions
      },
      immediate: true,
    },
  },
  methods: {
    onIndicatorVersionChange(value) {
      const indicatorVersion = this.existIndicatorVersions.find(item => item.name === value)
      if (!indicatorVersion) return
      this.$emit('on-indicator-version-change', indicatorVersion.id)
    },
  },
}
</script>

<style scoped lang="less">
/**************** 动画 ***********************/
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .3s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
  opacity: 0;
  height: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/********************************************/
.nameRow {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #F0F5FD;
  border-radius: 4px;
  padding-left: 16px;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: rgba(0,0,0,0.85);
  font-weight: 600;
  margin-bottom: 16px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .rowLeft {
    width: calc(~"100% - 150px");
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .lineItem {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
      > span {
        font-family: PingFangSC-Medium;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 600;
      }
      &:not(:last-child)::after {
        content: "|";
        display: inline-block;
        text-align: center;
        width: 12px;
        height: 17px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.3);
        margin: 0 12px 0;
      }
    }
  }
  .rowRight {
    width: 150px;
    height: 32px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    white-space: nowrap;
    align-items: center;
  }
}

.icon-arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: transform .3s;
}

.icon-arrow.expand {
  transform: rotate(180deg);
}

.business-description {
  margin-top: 12px;
  padding: 9px 14px 14px;
  background: #F6F6F6;
  border-radius: 4px;

  .business-description-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .business-description-title {
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
  }

  .sync-setting {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.50);
  }

  .business-description-body {
    background: #FFFFFF;
    border: 1px solid rgba(237,237,237,1);
    margin-top: 14px;
    height: 120px;
    border-radius: 4px;
    overflow: auto;
    padding: 4px 8px;
  }
}

.headline {
  margin-top: 24px;
}

.indicator-definition {
  .business-date {
    color: rgba(0, 0, 0, 0.65);

    > span {
      color: #333333;
    }
  }

  .indicator-definition-body {
    padding: 0 24px;
  }
}

.asset-information-body {
  padding: 0 24px;

  .field {
    color: rgba(0, 0, 0, 0.65);
    margin-top: 16px;
    white-space: nowrap;

    > span {
      color: #333;
    }

    .labels {
      display: inline-flex;
      flex-wrap: wrap;
    }

    .label-item {
      margin-right: 16px;
      margin-bottom: 10px;
      height: 24px;
      background: #E7EEFF;
      border: 1px solid rgba(141, 172, 255, 1);
      border-radius: 20px;
      padding: 0 13px 0 12px;
      color: #3F73FF;
      display: flex;
      align-items: center;
      position: relative;
    }
  }
}

.related-dimensions .legend {
  display: flex;

  .legend-item {
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    margin-left: 16px;

    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 2px;
      margin-right: 8px;
    }

    &.used::before {
      background: #44D7B6;
    }

    &.available::before {
      background: #3F73FF;
    }
  }
}

.related-dimensions-body {
  padding: 16px 24px 20px;
  display: flex;
  flex-wrap: wrap;

  .dimension-item {
    border-radius: 2px;
    padding: 4px 13px 4px 12px;
    color: #000;
    margin-right: 8px;

    &.used {
      border: 1px solid #44D7B6;
    }

    &.available {
      border: 1px solid #3F73FF;
    }
  }
}
</style>
