<template>
  <div class="outIndicatorDefinitionView-container">
    <span class="label">参数：</span>
    <span class="value">{{ paramValue }}</span>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState("indicator", ["paramValue"])
  }
};
</script>

<style lang="less" scoped>
.outIndicatorDefinitionView-container {
  width: 100%;
  height: 100%;
  margin-top: 16px;
  display: flex;
  .label {
    width: 36px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
  }
  .value {
    flex: 1;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
  }
}
</style>
