<template>
  <div class="static-indicator-definition-view">
    <div class="definition-item">
      <span>指标值：</span>
      <span>{{ indicatorValueStr }}</span>
    </div>
    <div class="definition-item">
      <span>小数位数：</span>
      <span>{{ numberFormatConfig.decimalPlaces }}</span>
    </div>
    <div class="definition-item">
      <span>使用千分位分隔符：</span>
      <span>{{ numberFormatConfig.thousandsSeparator ? '使用' : '不使用' }}</span>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'StaticIndicatorDefinitionView',
  computed: {
    ...mapState('indicator', ['indicatorValue', 'numberFormatConfig']),

    indicatorValueStr() {
      return this.numberFormatConfig.thousandsSeparator ? this.formatNumber(this.indicatorValue) : this.indicatorValue
    },
  },
  methods: {
    /**
     * 转换数值格式
     */
    formatNumber(num) {
      return num.toLocaleString('en-US', {
        minimumFractionDigits: 0,
        maximumFractionDigits: this.numberFormatConfig.decimalPlaces,
      })
    },
  },
}
</script>

<style scoped lang="less">
.static-indicator-definition-view {
  margin-top: 16px;
}

.definition-item {
  display: inline-block;

  + .definition-item {
    margin-left: 36px;
  }

  > span:nth-child(2) {
    color: #333333;
  }
}
</style>
