/deep/.ivu-tabs {
  overflow-y: visible;
  overflow-x: clip;
  z-index: 100;
  > .ivu-tabs-bar {
    border-bottom: none;
    .ivu-tabs-nav {
      border-left: 1px solid rgba(217, 217, 217, 1);
      border-bottom: 1px solid rgba(217, 217, 217, 1);
    }
    // 未选中/选中共用
    .ivu-tabs-tab {
      margin-right: 0;
      padding: 5px 13px;
      border: 1px solid rgba(217, 217, 217, 1);
      box-sizing: border-box;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.65);
      &:not(:first-child) {
        border-left: none;
      }
    }
    // 选中
    .ivu-tabs-tab-active {
      background: #2876ff;
      border: 1px solid rgba(40, 118, 255, 1);
      border-radius: 2px 0px 0px 2px;
      color: #ffffff;
    }

    .ivu-tabs-ink-bar {
      height: 0;
    }
  }
}
