<template>
  <div class="iframe-wrapper">
    <iframe
      :src="url"
      width="1310px" height="100%" frameborder="none"></iframe>
  </div>
</template>

<script>
  export default {
    name: 'Iframe',
    data() {
      return {
        url: null
      }
    },
    mounted() {
      this.renderIframe()
    },
    watch: {
      '$route'() {
        this.renderIframe()
      },
    },
    methods: {
      renderIframe() {
        this.url = this.$route.query.url
        console.log(this.url, '--')
      }
    }
  }
</script>

<style scoped lang="less">
  .iframe-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
  }
</style>
