<template>
  <div class="analysisDetail-container">
    <Tabs class="analysisTab" v-model="tabName" :animated="false">
      <TabPane v-if="isCompositeIndicator" :label="labelRender('指标构成')" name="indicatorComposition">
        <IndicatorData />
        <CompositionArea />
      </TabPane>
      <TabPane :label="labelRender('维度贡献')" name="dimensionReason">
        <IndicatorData />
        <BreadcrumbF :list="breadList" @goto="goto" />
        <AnalysisArea />
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
import indicatorComposition from "@/assets/icons/indicatorWorkbench/analysisDetail/indicatorComposition.svg";
import indicatorCompositionSelected from "@/assets/icons/indicatorWorkbench/analysisDetail/indicatorCompositionSelected.svg";
import dimensionReason from "@/assets/icons/indicatorWorkbench/analysisDetail/dimensionReason.svg";
import dimensionReasonSelected from "@/assets/icons/indicatorWorkbench/analysisDetail/dimensionReasonSelected.svg";
import tip from "@/assets/icons/indicatorWorkbench/analysisDetail/tip.svg";
import tipSelected from "@/assets/icons/indicatorWorkbench/analysisDetail/tipSelected.svg";
import IndicatorData from "./components/IndicatorData";
import CompositionArea from "./components/CompositionArea";
import BreadcrumbF from "./components/BreadcrumbF";
import AnalysisArea from "./components/AnalysisArea";
import { mapState } from "vuex";

export default {
  components: {
    IndicatorData,
    CompositionArea,
    BreadcrumbF,
    AnalysisArea
  },
  data() {
    return {
      tabName: ""
    };
  },
  computed: {
    ...mapState("reasonAnalysis", ["breadList"]),
    labelRender() {
      return name => {
        return h => {
          return (
            <div class="labelWrapper">
              <img src={this.labelIcon1(name)} alt="" />
              <span>{name}归因</span>
              <img src={this.labelIcon2(name)} alt="" />
            </div>
          );
        };
      };
    },
    labelIcon1() {
      return name => {
        if (name === "指标构成") {
          return this.tabName === "indicatorComposition" ? indicatorCompositionSelected : indicatorComposition;
        } else {
          return this.tabName === "indicatorComposition" ? dimensionReason : dimensionReasonSelected;
        }
      };
    },
    labelIcon2() {
      return name => {
        if (name === "指标构成") {
          return this.tabName === "indicatorComposition" ? tipSelected : tip;
        } else {
          return this.tabName === "indicatorComposition" ? tip : tipSelected;
        }
      };
    },
    isCompositeIndicator() {
      return this.$route.query.type * 1 === 2;
    }
  },
  methods: {
    goto() {}
  },
  mounted() {
    this.tabName = this.isCompositeIndicator ? "indicatorComposition" : "dimensionReason";
  }
};
</script>

<style lang="less" scoped>
.analysisDetail-container {
  width: 100%;
  height: 100%;
  /deep/.analysisTab {
    height: 100%;
    .ivu-tabs-bar {
      background-color: #f6f6f6;
      border-radius: 4px;
      margin-bottom: 0;
      .ivu-tabs-nav {
        height: 46px;
        // 自定义tab样式
        .labelWrapper {
          display: flex;
          align-items: center;
          height: 100%;
          img {
            width: 16px;
            height: 16px;
          }
          span {
            font-size: 14px;
            color: #333333;
            margin: 0 8px;
          }
        }
      }
    }
    .ivu-tabs-content {
      height: calc(~"100% - 45px");
      .ivu-tabs-tabpane {
        height: 100%;
        // tab面板样式
        .indicatorData-container {
          height: 83px;
        }
        .breadcrumbF-container {
          height: 21px;
          margin-bottom: 10px;
        }
        .analysisArea-container {
          height: calc(~"100% - 114px");
        }
      }
    }
  }
}
</style>
