<template>
  <div class="indicator-show-config">
    <div class="card-item">
      <p class="title">指标卡默认显示</p>
      <CardView />
    </div>
    <div class="card-item">
      <p class="title">显示设置</p>
      <CardEdit v-bind="$attrs" />
    </div>
    <div class="card-item">
      <p class="title">效果预览</p>
      <CardView title="效果预览" sync />
    </div>
  </div>
</template>

<script>
import CardView from '@/view/report/indicator/IndicatorDetail/components/ShowConfig/components/CardView.vue'
import CardEdit from '@/view/report/indicator/IndicatorDetail/components/ShowConfig/components/CardEdit.vue'
export default {
  name: 'IndicatorShowConfig',
  components: {
    CardView,
    CardEdit,
  },
}
</script>

<style scoped lang="less">
.indicator-show-config {
  display: flex;
  margin-top: 48px;
  user-select: none;

  .card-item {
    .card-view {
      margin-top: 13px;
    }

    .card-edit {
      margin-top: 8px;
    }

    + .card-item {
      margin-left: 28px;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 18px;
        height: 16px;
        background: url('~@/assets/icons/indicatorIcon/become.svg') center ~'/' 18px;
        position: absolute;
        top: 100px;
        left: -23px;
      }
    }

    .title {
      color: #333333;
    }
  }
}
</style>
