<template>
  <div class="left-tabs">
    <Tabs size="small" :value="leftTab" @on-click="onClickTab" v-if="viewDimension === 'user'">
      <TabPane label="部门" name="department">
        <DepartmentTree />
      </TabPane>
      <TabPane label="角色" name="role">
        <RoleList />
      </TabPane>
      <TabPane label="用户" name="user">
        <UserFilter v-show="filtering" @on-cancel="onUserFilterCancel" @on-confirm="onUserFilterConfirm" />
        <UserList v-if="!filtering" />
      </TabPane>
      <template #extra>
        <img src="@/assets/icons/authorizationManagement/icon_filter.svg" v-if="showFilter" @click="filtering = true" />
        <img src="@/assets/icons/authorizationManagement/icon_reuse.svg" v-if="showReuse" @click="openAuthorizationReuse" />
      </template>
    </Tabs>
    <Tabs size="small" value="businessDirectory" v-else>
      <TabPane label="业务目录" name="businessDirectory">
        <BusinessDirectoryTree />
      </TabPane>
    </Tabs>

    <!-- 权限复用弹窗 -->
    <AuthorizationReuse ref="authorizationReuse" />
  </div>
</template>

<script>
import DepartmentTree from '@/view/system/authorizationManagement/components/LeftTabs/components/DepartmentTree.vue'
import RoleList from '@/view/system/authorizationManagement/components/LeftTabs/components/RoleList.vue'
import UserList from '@/view/system/authorizationManagement/components/LeftTabs/components/UserList.vue'
import UserFilter from '@/view/system/authorizationManagement/components/LeftTabs/components/UserFilter.vue'
import BusinessDirectoryTree from '@/view/system/authorizationManagement/components/LeftTabs/components/BusinessDirectoryTree.vue'
import AuthorizationReuse from '@/view/system/authorizationManagement/components/LeftTabs/components/AuthorizationReuse/index.vue'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'LeftTabs',
  components: {
    DepartmentTree,
    RoleList,
    UserList,
    UserFilter,
    BusinessDirectoryTree,
    AuthorizationReuse,
  },
  data() {
    return {
      filtering: false, // 是否正在筛选用户
    }
  },
  computed: {
    ...mapState('authorizationManagement', [
      'viewDimension',
      'leftTab',
      'domainId',
    ]),
    showFilter() {
      return this.leftTab === 'user'
    },
    showReuse() {
      return this.leftTab !== 'user'
    },
  },
  watch: {
    leftTab: {
      handler(val) {
        this.setDomainId('')
        this.setUserListPageNum(1)
        this.setUserListKeywords('')
        if (val === 'department') {
          this.getDepartmentListAndDirectoryList()
        } else if (val === 'role') {
          this.getRoleListAndDirectoryList()
        } else {
          this.getUserListAndDirectoryList()
        }
        this.getPersonnelManagementDirectoryList()
        this.getDomainResourceList()
      },
      immediate: true,
    },
  },
  methods: {
    ...mapActions('authorizationManagement', [
      'getDepartmentListAndDirectoryList',
      'getRoleListAndDirectoryList',
      'getUserListAndDirectoryList',
      'getPersonnelManagementDirectoryList',
      'setLeftTab',
      'setDomainId',
      'setUserListPageNum',
      'setUserListKeywords',
      'getDomainResourceList',
    ]),

    /**
     * 点击tab
     * @param name
     */
    onClickTab(name) {
      this.setLeftTab(name)
    },

    openAuthorizationReuse() {
      this.$refs.authorizationReuse.showModal(this.leftTab)
    },

    /**
     * 取消用户筛选
     */
    onUserFilterCancel() {
      this.filtering = false
    },

    /**
     * 确定用户筛选
     */
    onUserFilterConfirm() {
      this.filtering = false
    },
  },
}
</script>

<style scoped lang="less">
.left-tabs {
  width: 240px;

  /deep/ .icon-search {
    margin-top: 7px;
  }
}

// Tabs组件样式重写
/deep/ .ivu-tabs {
  .ivu-tabs-nav-right {
    margin-top: 23px;
    margin-right: 20px;

    img {
      cursor: pointer;
    }
  }
}
</style>
