<template>


  <Form
    ref="registerForm"
    :model="form"
    :rules="rules"
    @keydown.enter.native="handleSubmit"
  >
    
  <div class="loginMode">
      <span  :class="{ active : active === 1 , item :true }" @click="changeActive(1)" >手机号码验证</span>
      <span  :class="{ active : active === 2 , item :true }" @click="changeActive(2)" >邮箱验证</span>
    </div>

    <Form-item prop="verification" ref="emailInput" >
      <Input
        v-model="form.verification"
        :placeholder="active === 1 ? '请输入手机号码' : '请输入邮箱'"
        @on-focus="verificationFocus"
      >
        <span slot="prepend">
          <Icon size="21" color="#A2A5BD" type="ios-person" />
        </span>
      </Input>
    </Form-item>

    <Form-item prop="authCode" >
      <AuthCodeInput
        @focus="auchCodeFocus"
        @code="form.authCode"  style="margin-top:6px"
        :countDown="180"
        @change="val => (this.form.authCode = val)"
        @sendCallback="sendAuthCode"
      />
    </Form-item>
 
    <FormItem style="margin-bottom: 65px; margin-top: 57px">
      <Button
        @click="handleSubmit"
        type="primary"
        style="background: #3f73ff; font-size: 16px; height: 44px"
        long
      >
        下一步
      </Button>
      <div style="color: crimson" v-if="showTip">
        友情提示：请使用谷歌或者火狐浏览器访问
      </div>
    </FormItem>
    <div style="text-align: center; color:#A2A5BD;  font-size: 16px">
      <span>想起密码？</span>
      <a @click="() => this.$emit('login-callback')" style="color: #3f73ff">
        立即登录
      </a>
    </div>
  </Form>
</template>

<script>
import { AuthCodeInput } from "../special-input";
import { GLOBAL } from "@/config/ReportConstants";
import { mapActions } from "vuex";

export default {
  name: "RegisterForm",
  components: {
    AuthCodeInput
  },
  data() {
    let self = this;
    const authCodeValidator = (_, value, callback) => {
      if (self.authCodeError) {
        callback(new Error(self.authCodeError));
      } else {
        callback();
      }
    };

    // 邮箱校验
    const emailVerifyFun = value => {
      const re = /[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/gi; //是否有中文
      let frontEmail = value.split("@");
      frontEmail.pop();
      frontEmail = frontEmail.join("");
      return (
        !frontEmail.replace(/\s/g, "") ||
        !GLOBAL.emailDomain.includes(
          value
            .split("@")
            .pop()
            .toLowerCase()
        ) ||
        re.test(value)
      );
    };

    const phoneOrEmailValidator = (_, value, callback) => {
      if (!value) {
        callback(new Error("邮箱为空"));
      } else if (self.phoneOrEmailError) {
        callback(new Error(self.phoneOrEmailError));
      } else if (emailVerifyFun(value)) {
        callback(new Error("邮箱无效"));
      } else {
        callback();
      }
    };
    const phoneValidator = (_, value, callback) => {
      let reg = /^(?:(?:\+|00)86)?1(?:(?:3[\d])|(?:4[5-79])|(?:5[0-35-9])|(?:6[5-7])|(?:7[0-8])|(?:8[\d])|(?:9[189]))\d{8}$/;
      if (!reg.test(value)) {
        callback(new Error("请输入正确的手机号"));
      } else if (self.phoneOrEmailError) {
        callback(new Error(self.phoneOrEmailError));
      } else {
        callback();
      }
    };
    return {
      form: {
        authCode: "",
        verification: ""
      },
      showTip: false,
      authCodeError: "",
      phoneOrEmailError: "",
      authCode: [{ validator: authCodeValidator, trigger: "blur" }],
      phoneRules: [{ required: true, validator: phoneValidator }],
      active : 1 , // 1 账号密码登录 2 验证码登录
      verificationRules: [{ validator: phoneOrEmailValidator, trigger: "blur" }]
    };
  },
  computed: {
    rules() {
      return {
        // verification: this.verificationRules,
        verification:  this.active === 1 ? this.phoneRules : this.verificationRules,
        authCode: this.authCode
      };
    }
  },
  mounted() {
    this.getBrowserType();
  },
  methods: {
    ...mapActions(["handleSendAuthCode"]),
    changeActive(val){
      this.active = val ;
      this.verificationFocus();
    },
    handleSubmit() {
      const disposeEmail = emailData => {
        let d = emailData.split("@");
        d.push(d.pop().toLowerCase());
        return d.join("@");
      };
      this.$refs.registerForm.validate(valid => {
        if (valid) {
          this.$emit("on-success-valid", {
            authCode: this.form.authCode,
            verification: disposeEmail(this.form.verification),
            active : this.active,
            callback: msg => {
              if (!this.form.authCode) {
                this.authCodeError = "验证码为空";
                this.$refs.registerForm.validate();
              } else {
                this.authCodeError = msg;
                this.$refs.registerForm.validate();
              }
            }
          });
        }
      });
    },

    auchCodeFocus() {
      if (this.authCodeError) {
        this.authCodeError = "";
        this.$refs.registerForm.validate();
      }
    },
    verificationFocus() {
      if (this.phoneOrEmailError) {
        this.phoneOrEmailError = "";
        this.$refs.emailInput.validate();
      }
    },
    sendAuthCode(successFun) {
      
      this.handleSendAuthCode({
          phoneOrEmail: this.form.verification,
          type: 2,
          username: ""
        }).then(res => {
          if (res.data.state === "success") {
            successFun();
          } else {
            this.phoneOrEmailError = res.data.message;
            this.$refs.registerForm.validate();
          }
        });
      
      // 邮箱校验
      // const emailVerifyFun = value => {
      //   const re = /[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/gi; //是否有中文
      //   let frontEmail = value.split("@");
      //   frontEmail.pop();
      //   frontEmail = frontEmail.join("");
      //   return (
      //     !frontEmail.replace(/\s/g, "") ||
      //     !GLOBAL.emailDomain.includes(
      //       value
      //         .split("@")
      //         .pop()
      //         .toLowerCase()
      //     ) ||
      //     re.test(value)
      //   );
      // };
      // const disposeEmail = emailData => {
      //   let d = emailData.split("@");
      //   d.push(d.pop().toLowerCase());
      //   return d.join("@");
      // };
      // if (
      //   !emailVerifyFun(this.form.verification)
      // ) {
      //   this.handleSendAuthCode({
      //     phoneOrEmail: disposeEmail(this.form.verification),
      //     type: 2,
      //     username: ""
      //   }).then(res => {
      //     if (res.data.state === "success") {
      //       successFun();
      //     } else {
      //       this.phoneOrEmailError = res.data.message;
      //       this.$refs.registerForm.validate();
      //     }
      //   });
      // } else {
      //   this.phoneOrEmailError = "邮箱无效";
      //   this.$refs.registerForm.validate();
      // }
      // if (!this.form.verification) {
      //   this.phoneOrEmailError = "邮箱为空";
      //   this.$refs.registerForm.validate();
      // }
    },
    getBrowserType() {
      const userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
      const isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器
      const isChrome =
        userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器
      if (!isFF && !isChrome) {
        this.showTip = true;
      }
    }
  }
};
</script>
<style lang="scss" scoped>

.loginMode{
  display: flex;
  margin: 15px 5px 30px  5px;
  span{
    color: #999;
    font-size: 16px; margin-right: 10px;
    cursor: pointer; padding: 2px;
      &.active{
      color: rgb(73, 122, 255);
      border-bottom: 2px solid rgb(73, 122, 255);
    }
  }
}
</style>