<template>
  <div class="combineResourceEdit-container">
    <ReportTemplateEdit :status="1" />
  </div>
</template>

<script>
import ReportTemplateEdit from "@/view/report/reportTemplate/ReportTemplateEdit";
import { mapMutations, mapActions } from "vuex";

export default {
  name: "combineResourceEdit",
  components: {
    ReportTemplateEdit
  },
  methods: {
    ...mapMutations("resourceManage", ["setIsCombineResourceEditPage", "setSaveResourceModalStatus", "setCombineResourceId"]),
    ...mapActions(["setChartList", "setReportSetting"])
  },
  beforeDestroy() {
    this.setChartList({ chartList: [] }); // 清空vuex中的chartList
    this.setReportSetting({ reportSetting: {} }); // 清空vuex中的报告设置
    this.setIsCombineResourceEditPage(false); // 标识离开组合资源新增/编辑页
    this.setSaveResourceModalStatus({ clear: true }); // 清空弹窗数据
    this.setCombineResourceId("")
  }
};
</script>

<style lang="less" scoped>
.combineResourceEdit-container {
  width: 100%;
  height: 100%;
}
</style>
