<template>
  <div class="commonResourceEdit-container">
    <HeaderColumn @goBack="goBack" @saveResource="showSaveResourceModal" />
    <div class="contentWrapper">
      <DataSelect ref="dataSelect" :current-choose-dimension="currentChooseDimension" :current-choose-indicator="currentChooseIndicator" />
      <div class="editCenter" :style="{ width: rightBoxOpenState ? 'calc(100% - 480px)' : 'calc(100% - 240px)' }">
        <section class="row">
          <div class="rowLeft">
            <Input class="resourceNameInput" placeholder="请输入资源名称" clearable v-model="resourceName" />
          </div>
          <ReportCalendar key="create-calendar" :need-init="true" :editable="true" @dateConfirm="dateConfirm" />
        </section>
        <template v-if="isShowDragArea">
          <DragArea
            type="dimension"
            :data="currentChooseDimension"
            @on-dimension-drop="onDimensionDrop"
            @on-clear="onDragAreaClear"
            @on-delete-one="onDeleteOne"
            @on-change-sort="onChangeSort"
          />
          <DragArea
            type="indicator"
            :chartType="currentChartType"
            :data="currentChooseIndicator"
            @on-indicator-drop="onIndicatorDrop"
            @on-clear="onDragAreaClear"
            @on-delete-one="onDeleteOne"
            @on-change-sort="onChangeSort"
          />
        </template>
        <ChartWrapper :chartData="currentSelectChart" :style="{ height: chartWrapperHeight }" />
      </div>

      <div
        class="editRight"
        :style="{ marginRight: rightBoxOpenState ? '0' : '-240px' }"
        @mouseenter="isShowExpandBtn = true"
        @mouseleave="isShowExpandBtn = false"
      >
        <div class="openCloseBox" :class="{ open: isShowExpandBtn || !rightBoxOpenState }" @click="rightBoxOpenState = !rightBoxOpenState">
          <img src="@/assets/icons/chart/report/openCloseBtn.png" />
        </div>
        <ReportSetting ref="reportSetting" />
      </div>
    </div>

    <!-- 指标-数据筛选弹窗（复合指标才会有） -->
    <FilterData :openModal="openModal" :conditionData="conditionData" :isCreate="true" @fa-close="openModal = false" @fa-ok="handleSubmitCondition" />

    <!-- 保存资源弹窗 -->
    <SaveResourceModal v-show="saveResourceModalStatus.type === '1'" @onConfirm="handleSaveResource" />
  </div>
</template>

<script>
import HeaderColumn from "./components/HeaderColumn";
import DataSelect from "./components/DataSelect";
import AssetsLabel from "@/view/report/components/AssetsLabel";
import ReportCalendar from "@/view/components/report-calendar/ReportCalendar";
import DragArea from "./components/DragArea";
import ChartWrapper from "./components/ChartWrapper";
import ReportSetting from "./components/ReportSetting";
import FilterData from "@/view/report/chartDataConfig/common/FilterData";
import SaveResourceModal from "@/view/report/reportTemplate/wrapper/components/SaveResourceModal";
import { mapState, mapGetters, mapActions, mapMutations } from "vuex";
import moment from "moment";
import { deepCopy } from "@/utils/common";
import { CHART_DEFAULT_CONFIG } from "@/config/ReportConstants";
import BaseSelector from "@/view/report/chart/basics/BaseSelector";
import { judgeIsInvalidResource } from "@/utils/resourceManage";

export default {
  name: "CommonResourceEdit",
  extends: BaseSelector,
  components: {
    HeaderColumn,
    DataSelect,
    AssetsLabel,
    ReportCalendar,
    DragArea,
    ChartWrapper,
    ReportSetting,
    FilterData,
    SaveResourceModal
  },
  data() {
    return {
      resourceName: "",
      tagValue: [], // 选择的标签
      currentChooseDimension: [], // 当前选择的维度
      currentChooseIndicator: [], // 当前选择的指标
      tempData: {}, // 切换图表时保存的旧的数据
      tempIndicator: {}, // 数据筛选时，临时报存的指标
      openModal: false,
      conditionData: [],
      rightBoxOpenState: true, // 是否显示右侧设置区
      isShowExpandBtn: false // 是否显示收缩按钮
    };
  },
  computed: {
    ...mapState("resourceManage", ["toggleChartType", "editChartData", "allDimensions", "allIndicators", "saveResourceModalStatus"]),
    ...mapState({
      allChartIndicators: state => state.chart.indicators
    }),
    ...mapGetters(["currentSelectChart", "currentSelectChartData", "currentSelectIndicators", "currentChartType"]),
    isShowDragArea() {
      return this.currentChartType !== "ComplexTextarea" && this.currentChartType !== "CustomImage";
    },
    chartWrapperHeight() {
      return this.isShowDragArea ? "calc(100% - 43px - 102px - 12px)" : "calc(100% - 43px)";
    }
  },
  async created() {
    // 给 vuex 的 reportSetting 赋值。图表的title组件需要
    const reportSetting = {
      bgColor: "",
      bgImg: "",
      pageMeasure: "",
      themeStyle: "1"
    };
    this.setReportSetting({ reportSetting });

    await this.fetchAllDimensions();
    await this.fetchAllIndicators();

    // 新增资源时，初始化图表数据。编辑资源时，使用传递的数据
    this.initChartData();
  },
  methods: {
    ...mapMutations("resourceManage", ["setSaveResourceModalStatus", "setEditChartData"]),
    ...mapActions("resourceManage", ["fetchAllResourceList", "fetchAllDimensions", "fetchAllIndicators", "saveCommonResource"]),
    ...mapActions(["setCurrentSelectChart", "setReportDate", "setIndicators", "setReportSetting", "setChartList"]),
    /**
     * 初始化图表数据
     * @param chartType 图表类型
     */
    async initChartData() {
      const { type } = this.$route.query;
      if (type === "add") {
        this.addChartItem({ id: "CustomTable" });
      } else {
        const data = this.editChartData;
        const allIndicatorList = await this.findAllIndicator();
        this.addChart(allIndicatorList, data);
      }
    },
    /**
     * 添加图表
     * @param chartDefine
     * @param configData 图表数据
     */
    addChartItem(chartDefine, configData) {
      let { id: chartType, dimensions = [], indicators = [], title = "未命名组件" } = chartDefine;
      let { width, height, config, defaultImg, style, innerHtml = null, src = null, defaultShow = true } =
        configData || CHART_DEFAULT_CONFIG[chartType];
      let timestamp = new Date().getTime();

      // 构造一个新的图表对象
      const chartFullData = {
        chartId: `${chartType}_${timestamp}`,
        id: chartType,
        i: 0,
        x: 0,
        y: 0,
        level: 100,
        width,
        height,
        defaultImg,
        data: {
          mode: 1,
          dimension: dimensions,
          indicator: indicators,
          innerHtml,
          src,
          text: null,
          configData: deepCopy(config)
        },
        style: style || { width, height },
        defaultShow,
        isActive: true
      };

      // 展示图表标题
      if (chartFullData.id !== "ComplexTextarea" && chartFullData.id !== "CustomImage") {
        chartFullData.style.title = title;
        chartFullData.style.showTitle = true;
      }

      this.setCurrentSelectChart({ chart: chartFullData }); // 给仓库 currentSelectChart 赋值
    },
    /**
     * 获取所有的指标
     */
    async findAllIndicator() {
      if (this.allChartIndicators.length) {
        return deepCopy(this.allChartIndicators);
      } else if (localStorage.getItem("allChartIndicators")) {
        return JSON.parse(localStorage.getItem("allChartIndicators"));
      } else {
        const res = await this.findAllIndicatorFromBasic();
        if (res.data.state === "success") {
          const { data } = res.data;
          this.setIndicators({ indicators: data });
          localStorage.setItem("allChartIndicators", JSON.stringify(data));
          return data;
        }
      }
    },
    /**
     * 添加资源到画布
     * @param {} allIndicatorList 所有指标数据
     * @param {Object} resourceData 资源的详情数据
     */
    addChart(allIndicatorList, resourceData) {
      console.log("资源的详情数据:", resourceData);
      const { dimensions, indicators, type, width, height, configData, labels, groupId } = resourceData;
      let newIndicators = indicators.map(item => {
        let indicatorItem = allIndicatorList.find(ele => ele.id === item.id.toString());
        if (indicatorItem) {
          indicatorItem.title = indicatorItem.name;
          return indicatorItem;
        } else {
          return item;
        }
      });
      const params = {
        id: type,
        dimensions,
        indicators: newIndicators,
        title: JSON.parse(configData).style.title
      };
      const chartConfig = {
        width,
        height,
        config: JSON.parse(configData).data,
        style: JSON.parse(configData).style,
        innerHtml: JSON.parse(configData).inputHtmlText,
        src: JSON.parse(configData).imgSrc,
        defaultShow: false //是否是默认图表
      };
      this.addChartItem(params, chartConfig);

      // 回填其他数据
      this.currentChooseDimension = this.allDimensions.filter(ele => dimensions.includes(ele.id));
      this.currentChooseIndicator = this.allIndicators.filter(ele => indicators.map(i => i.id).includes(ele.id));
      this.resourceName = this.$route.query.resourceName;
      this.setSaveResourceModalStatus({ defaultTagValue: deepCopy(labels) });
      this.setSaveResourceModalStatus({ defaultGroupId: groupId });
    },
    /**
     * 返回资源管理列表页
     */
    goBack() {
      this.$Modal.confirm({
        title: "返回",
        content: "您确定返回吗？ 未保存的内容将不会进行存储",
        onOk: () => {
          this.$router.push("/manager/templateManage/resourceManage");
        }
      });
    },
    /**
     * 展示保存资源的弹窗
     */
    showSaveResourceModal() {
      if (!judgeIsInvalidResource(this.currentSelectChart)) {
        this.$Message.warning("组件无效");
        return;
      }
      this.setSaveResourceModalStatus({ show: true, type: "1", defaultTitle: this.resourceName }); // 展示弹窗
    },
    /**
     * 保存资源
     */
    async handleSaveResource(value) {
      const { id, type } = this.$route.query;
      this.currentSelectIndicators.forEach(ele => {
        ele.id = ele.id.toString();
        ele.type = ele.type.toString();
      });
      const msg = await this.saveCommonResource({ chartData: this.currentSelectChart, value, type, resourceId: type === "edit" ? id : "" });
      this.$Message.success(msg);
      this.setSaveResourceModalStatus({ show: false }); // 关闭弹窗
      this.fetchAllResourceList(); // 刷新vuex中已存在的资源
      this.$router.push("/manager/templateManage/resourceManage");
    },
    /**
     * 标签变化
     * @param selected
     */
    async handleAssetsLabelSelect(selected) {
      const index = this.tagValue.findIndex(item => item.id === selected.id);
      if (index === -1) {
        this.tagValue.push(selected);
      } else {
        this.tagValue.splice(index, 1);
      }
    },
    /**
     * 日期选择
     * @param startDate 公共日历开始日期
     * @param endDate 公共日历结束日期
     * @param period  周期类型
     */
    dateConfirm(startDate, endDate, period) {
      const startDateStr = moment(startDate).format("YYYY-MM-DD");
      const endDateStr = moment(endDate).format("YYYY-MM-DD");
      this.setReportDate({
        reportDate: [startDateStr, endDateStr, false, period]
      });
    },
    /**
     * 拖到维度行
     */
    onDimensionDrop(value) {
      console.log("维度", value);
      // 表格、双环维度 >= 1；其他维度 = 1
      if (this.currentChartType === "CustomTable" || this.currentChartType === "DoublePie") {
        this.currentChooseDimension = [...this.currentChooseDimension, value];
      } else {
        this.currentChooseDimension = [value];
      }
    },
    /**
     * 拖到指标行
     */
    onIndicatorDrop(value) {
      console.log("指标", value);

      // 指标是否需要数据筛选
      let realInd = [value];
      if (!this.checkIndicator(realInd)) {
        this.tempIndicator = value;
        this.openModal = true;
        this.conditionData = realInd.map(ele => ({
          ...ele,
          id: ele.id.toString()
        }));
        return;
      }

      this.setCurrentChooseIndicator(value);
    },
    /**
     * 设置指标行的数据
     */
    setCurrentChooseIndicator(value) {
      // 文本框 >= 0；饼图、双环、指标卡、仪表盘、地图指标 = 1；散点图指标 = 2；气泡图=3；其他 >= 1
      if (
        this.currentChartType === "SimplePie" ||
        this.currentChartType === "DoublePie" ||
        this.currentChartType === "Indicator" ||
        this.currentChartType === "SimpleGauge" ||
        this.currentChartType === "SimpleMap"
      ) {
        this.currentChooseIndicator = [value];
      } else if (this.currentChartType === "SimpleScatter") {
        if (this.currentChooseIndicator.length === 2) {
          this.currentChooseIndicator.splice(this.currentChooseIndicator.length - 1, 1, value);
        }else {
          this.currentChooseIndicator = [...this.currentChooseIndicator, value];
        }
      }else if(this.currentChartType === "SimpleBubble"){
        if (this.currentChooseIndicator.length === 3) {
          this.currentChooseIndicator.splice(this.currentChooseIndicator.length - 1, 1, value);
        }else {
          this.currentChooseIndicator = [...this.currentChooseIndicator, value];
         }
        } else {
        this.currentChooseIndicator = [...this.currentChooseIndicator, value];
      }
    },
    /**
     * 检查所选指标是否需要筛选
     */
    checkIndicator(current) {
      let checked = [];
      let conditionVar;
      current.forEach(item => {
        if (item.hasOwnProperty("conditionGroups") && item.conditionGroups?.length) {
          for (let i = 0; i < item.conditionGroups.length; i++) {
            let conditions = item.conditionGroups[i].conditions;
            if (conditions && conditions.length > 0) {
              for (let k = 0; k < conditions.length; k++) {
                let ite = conditions[k];
                /**
                 * 分割value
                 * value: x|string
                 * **/
                const val = [ite.value.slice(0, ite.value.indexOf("|")), ite.value.slice(ite.value.indexOf("|") + 1)];
                if (["3", "2"].includes(val[0])) {
                  if (val[0] === "2") {
                    //变量
                    conditionVar = val[1].slice(2, val[1].length - 1);
                  } else if (val[0] === "3") {
                    //sql
                    const reg = /\${(.+?)\}/gi;
                    let allVar = Array.from(new Set(val[1].match(reg)));
                    if (allVar && allVar.length) {
                      conditionVar = allVar.map(its => its.slice(2, its.length - 1));
                      conditionVar = conditionVar.filter(item => item !== "businessDate");
                    }
                  }
                  const checkRepeat = this.currentSelectIndicators.find(it => it.id === item.id);
                  if (checkRepeat) {
                    checked.push(true);
                  } else {
                    checked.push(false);
                  }
                }
              }
            }
          }
        } else {
          checked.push(true);
        }
      });
      return checked.every(item => item === true) || conditionVar === undefined || conditionVar.length === 0;
    },
    /**
     * 数据筛选-确认
     */
    handleSubmitCondition() {
      this.openModal = false;
      this.setCurrentChooseIndicator(this.tempIndicator);
    },
    /**
     * 清空已选的维度/指标
     */
    onDragAreaClear(type) {
      if (type === "dimension") {
        this.currentChooseDimension = [];
      } else if (type === "indicator") {
        this.currentChooseIndicator = [];
      }
    },
    /**
     * 删除某个维度/指标
     */
    onDeleteOne(type, index) {
      if (type === "dimension") {
        this.currentChooseDimension.splice(index, 1);
      } else if (type === "indicator") {
        // this.currentChooseIndicator.splice(index, 1);
        //用此方法强制更新视图
        this.$delete(this.currentChooseIndicator,index)
      }
    },
    /**
     * 改变维度或指标顺序
     */
    onChangeSort(type, fromIndex, toIndex) {
      if (type === "dimension") {
        const from = this.currentChooseDimension[fromIndex];
        const to = this.currentChooseDimension[toIndex];
        this.currentChooseDimension.splice(toIndex, 1, from);
        this.currentChooseDimension.splice(fromIndex, 1, to);
      } else if (type === "indicator") {
        const from = this.currentChooseIndicator[fromIndex];
        const to = this.currentChooseIndicator[toIndex];
        this.currentChooseIndicator.splice(toIndex, 1, from);
        this.currentChooseIndicator.splice(fromIndex, 1, to);
      }
    },
    /**
     * 更新DataSelect组件的树
     */
    refreshTreeData(currentNode) {
      const dimensions = this.currentChooseDimension.map(item => item.id);
      const indicators = this.currentChooseIndicator.map(item => ({ id: item.id, type: item.type }));
      this.$refs.dataSelect.refreshTreeData(dimensions, indicators, currentNode);
    },
    /**
     * 获取默认资源名称
     */
    getDefaultTitle() {
      let dimensionTitle = "";
      if (this.currentChooseDimension.length !== 0) {
        dimensionTitle = `按${this.currentChooseDimension[0].title}分析`;
      }
      let indicatorTitle = "";
      if (this.currentChooseIndicator.length !== 0) {
        indicatorTitle = this.currentChooseIndicator.length > 1 ? this.currentChooseIndicator[0].title + "..." : this.currentChooseIndicator[0].title;
      }
      const title = `${indicatorTitle}${indicatorTitle && dimensionTitle ? "(" + dimensionTitle + ")" : dimensionTitle}`;
      this.changeComponentTitle(title);
      this.resourceName = title;
    },
    /**
     * 设置vuex中的资源标题
     */
    changeComponentTitle(title) {
      if (this.currentSelectChart && Object.keys(this.currentSelectChart).length) {
        if (this.currentSelectChart.style.titleCustomChange) {
          return;
        }
        if (title === "") {
          title = "未命名组件";
        }
        this.currentSelectChart.style.title = title;
      }
    },
    /**
     * 设置vuex仓库中选中图表的维度数据
     */
    setDimension(newVal) {
      if (newVal.length !== 0) {
        const selectDimensionIds = deepCopy(newVal.map(ele => ele.id.toString()));
        this.$set(this.currentSelectChart.data, "dimension", selectDimensionIds);
      } else {
        this.$set(this.currentSelectChart.data, "dimension", []);
      }
    },
    /**
     * 设置vuex仓库中选中图表的指标数据、title
     */
    setIndicator(newVal) {
      if (newVal.length !== 0) {
        this.$set(this.currentSelectChart.data, "indicator", deepCopy(newVal));
        this.currentSelectChart.title = newVal[newVal.length - 1].title;
      } else {
        this.$set(this.currentSelectChart.data, "indicator", []);
      }
    },
    /**
     * 由于文本框、图片配置和其他图表不同。因此它们互相切换时，需要保存上一个图表的部分数据
     */
    saveTempData(from, to) {
      const isOtherTotextImg = from !== "ComplexTextarea" && from !== "CustomImage" && (to === "ComplexTextarea" || to === "CustomImage"); // 从其他图表到文本框、图片
      const isTextToOther = from === "ComplexTextarea" && to !== "ComplexTextarea"; // 从文本框到其他
      const isImgToOther = from === "CustomImage" && to !== "CustomImage"; // 从图片到其他
      if (isOtherTotextImg) {
        this.tempData.common = {
          showTitle: this.currentSelectChart.style.showTitle,
          title: this.currentSelectChart.style.title,
          dimension: deepCopy(this.currentSelectChart.data.dimension),
          indicator: deepCopy(this.currentSelectChart.data.indicator),
          defaultShow: this.currentSelectChart.defaultShow
        };
      } else if (isTextToOther) {
        this.tempData.innerHtml = this.currentSelectChart.data.innerHtml;
      } else if (isImgToOther) {
        this.tempData.imgSrc = this.currentSelectChart.data.src;
      }
    }
  },
  watch: {
    currentChooseDimension: {
      handler(newVal) {
        this.refreshTreeData();
        this.setDimension(newVal);
        this.$route.query.type === "add" && this.getDefaultTitle(); // 只有新增时才改变资源名称
      },
      deep: true
    },
    currentChooseIndicator: {
      handler(newVal) {
        this.refreshTreeData();
        this.setIndicator(newVal);
        this.$route.query.type === "add" && this.getDefaultTitle(); // 只有新增时才改变资源名称
      },
      deep: true
    },
    /**
     * 切换图表类型。
     * - 文本框、图片不需要 title dimension indicator。且图片不需要 configData
     * - 其他图表需要
     * @param {String} 切换后的图表类型
     */
    toggleChartType(type) {
      const fromType = this.currentSelectChart.id; // 切换前的图表类型
      const toType = type; // 切换后的图表类型
      this.saveTempData(fromType, toType);

      this.currentSelectChart.id = type;
      if (type === "ComplexTextarea") {
        delete this.currentSelectChart.style.showTitle; // 移除标题
        delete this.currentSelectChart.style.title;
        this.currentSelectChart.data.dimension = [];
        this.currentSelectChart.data.indicator = [];
        this.currentSelectChart.data.innerHtml = this.tempData.innerHtml || null;
        this.currentSelectChart.defaultShow = !this.tempData.innerHtml;
        this.currentSelectChart.data.src = null;
        this.currentSelectChart.data.configData = { ...CHART_DEFAULT_CONFIG[type].config };
      } else if (type === "CustomImage") {
        this.currentSelectChart.style.showTitle = false;
        this.currentSelectChart.style.title = "";
        this.currentSelectChart.data.dimension = [];
        this.currentSelectChart.data.indicator = [];
        this.currentSelectChart.data.innerHtml = null;
        this.currentSelectChart.data.src = this.tempData.imgSrc || null;
        this.currentSelectChart.defaultShow = !this.tempData.imgSrc;
        this.currentSelectChart.data.configData = {};
      } else {
        // 只在非文本框、图片之间切换
        const onlyNoTextImg =
          fromType !== "ComplexTextarea" && fromType !== "CustomImage" && toType !== "ComplexTextarea" && toType !== "CustomImage";
        if (!onlyNoTextImg) {
          this.currentSelectChart.style.showTitle = this.tempData.common?.showTitle || true;
          this.currentSelectChart.style.title = this.tempData.common?.title || "未命名组件";
          this.currentSelectChart.data.dimension = this.tempData.common?.dimension || [];
          this.currentSelectChart.data.indicator = this.tempData.common?.indicator || [];
          this.currentSelectChart.data.innerHtml = null;
          this.currentSelectChart.data.src = null;
          this.currentSelectChart.defaultShow = !this.tempData.common?.defaultShow;
        }
        this.currentSelectChart.data.configData = { ...CHART_DEFAULT_CONFIG[type].config };
      }
    }
  },
  beforeDestroy() {
    this.setChartList({ chartList: [] }); // 清空vuex中的chartList
    this.setCurrentSelectChart({ chart: null });
    this.setReportSetting({ reportSetting: {} }); // 清空vuex中的reportSetting
    this.setSaveResourceModalStatus({ clear: true }); // 清空弹窗数据

    // 清空当前编辑的资源数据
    this.setEditChartData({});
    localStorage.removeItem("resourceManage-editChartData");
  }
};
</script>

<style lang="less" scoped>
.commonResourceEdit-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  .headerColumn-container {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .contentWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(~"100% - 60px");
    display: flex;
    background-color: #f3f7ff;
    .dataSelect-container {
      width: 240px;
      height: 100%;
    }
    .editCenter {
      height: 100%;
      padding: 12px;
      transition: width 0.5s;
      .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;
        .rowLeft {
          display: flex;
          .resourceNameInput {
            width: 440px;
            margin-right: 24px;
            /deep/.ivu-input {
              height: 30px;
            }
          }
        }
      }
    }
    .editRight {
      width: 240px;
      height: 100%;
      background: #ffffff;
      box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.1);
      position: relative;
      transition: margin-right 0.3s cubic-bezier(0.1, 0, 0, 1);
      .openCloseBox {
        position: absolute;
        top: 50%;
        margin-top: -39px;
        margin-left: -22px;
        opacity: 0;
        transition: top 0.3s ease, opacity 0.3s ease;
        cursor: pointer;
        &.open {
          opacity: 1;
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
}
</style>
