<template>
  <div class="answerContent-container">
    <section class="timeWrapper">
      <span>{{ curDay }}</span>
      <span style="margin-left: 8px">{{ curTime }}</span>
    </section>

    <section class="answerItemWrapper" v-for="item in answerList" :key="item.id">
      <div class="userRow" v-if="item.user">
        <div class="userMsg">{{ item.user.title }}</div>
        <div class="userIcon">{{ nickNameF }}</div>
      </div>
      <div class="robotRow">
        <img class="robotIcon" src="@/assets/images/intelligentAnswer/robotAvatar.svg" alt="" />
        <component :is="item.type" :answerData="item" />
      </div>
    </section>

    <p v-if="answerList.length > 1" class="clearAnswer" @click="clearAnswer">清空对话</p>
  </div>
</template>

<script>
import FirstMessage from "./FirstMessage";
import GuessSearch from "./GuessSearch";
import IndicatorCard from "./IndicatorCard";
import ChartWrapper from "./ChartWrapper";
import TableWrapper from "./TableWrapper";
import { mapState, mapMutations } from "vuex";
import { getTimeFormat } from "@/utils/dateFormat";
import { DEFAULT_MESSAGE } from "../constant";
import { deleteAnswer } from "@/api/intelligentAnswer";

export default {
  components: {
    FirstMessage,
    GuessSearch,
    IndicatorCard,
    ChartWrapper,
    TableWrapper
  },
  data() {
    return {
      curDay: "",
      curTime: ""
    };
  },
  computed: {
    ...mapState("intelligentAnswer", ["showIntelligentAnswer", "answerModalId", "answerList"]),
    nickNameF() {
      return this.$store.state.user.nickName?.slice(-2) || "";
    }
  },
  watch: {
    showIntelligentAnswer(newVal) {
      if (newVal) {
        // 打开弹窗
        this.getCurrentDate();
      } else {
        // 关闭弹窗
        this.curDay = "";
        this.curTime = "";
      }
    }
  },
  methods: {
    ...mapMutations("intelligentAnswer", ["setAnswerList"]),
    getCurrentDate() {
      const t = new Date().getTime();
      this.curDay = getTimeFormat({ timeData: t, type: "x月x日" });
      this.curTime = getTimeFormat({ timeData: t, type: "hh:mm" });
    },
    async clearAnswer() {
      const res = await deleteAnswer(this.answerModalId);
      if (res.data.state === "success") {
        this.setAnswerList([DEFAULT_MESSAGE]);
      } else {
        this.$Message.error("清除失败！");
      }
    }
  }
};
</script>

<style lang="less" scoped>
.answerContent-container {
  width: 100%;
  height: 100%;
  padding: 0 16px 20px;
  .timeWrapper {
    margin: 16px 0;
    text-align: center;
    font-size: 11px;
    color: #b3b3b3;
    line-height: 18px;
  }
  .answerItemWrapper {
    .userRow {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
      .userMsg {
        max-width: 240px;
        padding: 11px 13px;
        background: rgba(209, 216, 255, 0.4);
        border-radius: 6px;

        font-size: 14px;
        line-height: 18px;
        color: #808080;
        font-weight: 600;
      }
      .userIcon {
        margin-left: 13px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border-radius: 50%;
        background: #89b1fe;

        font-size: 12px;
        color: #ffffff;
      }
    }
    .robotRow {
      display: flex;
      margin-bottom: 20px;
      .robotIcon {
        margin-right: 11px;
        width: 43px;
        height: 42px;
      }
    }
  }

  .clearAnswer {
    text-align: center;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #5b90ff;
    letter-spacing: 0.45px;
    font-weight: 600;
    cursor: pointer;
  }
}
</style>
