<template>
  <div class="chartWrapper-container">
    <section class="card">
      <Diagram :answerData="answerData" :is-bar="isBar" />
    </section>
    <section class="lineRow">
      <span class="t1" @click="changeChart">切换图表</span>
      <DateToogle v-if="!isTimeDim" :answer-id="answerData.id" />
    </section>
    <RelDimInd :robot="answerData.robot" :condition="answerData.condition" @click:rel="clickRel" />
  </div>
</template>

<script>
import DateToogle from "./commonComp/DateToogle";
import RelDimInd from "./commonComp/RelDimInd";
import Diagram from "./charts/Diagram";
import { CHART_WRAPPER, TABLE_WRAPPER } from "../constant";
import { mapState, mapActions } from "vuex";
import { deepCopy } from "@/utils/common";
import { BUILT_IN_DIMENSION } from "@/config/DimensionSortDictionary";

export default {
  props: {
    answerData: {
      prop: Object,
      required: true
    }
  },
  components: {
    DateToogle,
    RelDimInd,
    Diagram
  },
  data() {
    return {
      isBar: true
    };
  },
  computed: {
    ...mapState("earlyWarningTarget", ["allIndicator"]),
    // 是否是时间维度
    isTimeDim() {
      return this.answerData.condition.dimensions.includes(Number(BUILT_IN_DIMENSION.id));
    }
  },
  data() {
    return {
      isBar: true
    };
  },
  methods: {
    ...mapActions("intelligentAnswer", ["addAnswer"]),
    changeChart() {
      this.isBar = !this.isBar;
    },
    clickRel(relType, { id, title, type }) {
      const con = deepCopy(this.answerData.condition);
      if (relType === "dim") {
        con.dimensions.push(id);
      } else {
        const record = this.allIndicator.find(ele => ele.id == id);
        con.indicators.push({ id, type, ...record });
      }
      const showType = con.dimensions.length >= 2 || con.indicators.length >= 3 ? TABLE_WRAPPER : CHART_WRAPPER;
      this.addAnswer({ params: { title, condition: con }, type: showType });
    }
  }
};
</script>

<style lang="less" scoped>
.chartWrapper-container {
  width: 100%;
  height: 100%;
  .card {
    width: 300px;
    height: 192px;
    background: #fcfdff;
    position: relative;
    h3 {
      font-size: 14px;
      color: #333333;
      padding: 6px 10px;
    }
  }
  .lineRow {
    display: flex;
    align-items: center;
    margin: 12px 0;
    .t1 {
      width: 56px;
      font-size: 14px;
      color: #5b90ff;
      line-height: 15px;
      font-weight: 600;
      cursor: pointer;
    }
    .dateToogle-container {
      flex: 1;
      margin-left: 11px;
    }
  }
}
</style>
