<template>
  <div class="firstMessage-container">
    <div class="robotMsg">
      <p>您好，我是Finelnsight智能问答小助理，橙意~</p>
      <p>作为一个人工智能语言模型，我可以回答您关于Finelnsight指标的问题，协助您进行智能分析、辅助决策。</p>
    </div>
    <p class="tip">您可以选择以下指标继续对话</p>
    <BlueTag :list="hotIndicatorList" @select="onSelect" />
  </div>
</template>

<script>
import BlueTag from "./commonComp/BlueTag";
import { INDICATOR_CARD } from "../constant";
import { mapState, mapActions } from "vuex";
import { topIndicator } from "@/api/assetPanorama";

export default {
  components: {
    BlueTag
  },
  data() {
    return {
      hotIndicatorList: [] // 热门指标
    };
  },
  computed: {
    ...mapState("intelligentAnswer", ["showIntelligentAnswer", "answerList"]),
    ...mapState("earlyWarningTarget", ["allIndicator"])
  },
  watch: {
    // 打开弹窗，获取热门指标
    showIntelligentAnswer(newVal) {
      if (newVal) {
        this.getHotIndicator();
      }
    }
  },
  methods: {
    ...mapActions("intelligentAnswer", ["addAnswer"]),
    /**
     * 获取热门指标
     */
    async getHotIndicator() {
      const { data: res } = await topIndicator();
      if (res.state === "success") {
        this.hotIndicatorList = res.data.slice(0, 5).map(item => ({
          id: item.viewId,
          title: item.viewName,
          type: item.subType
        }));
      }
    },
    /**
     * 点击指标
     */
    onSelect({ id, title, type }) {
      const record = this.allIndicator.find(ele => ele.id == id);
      const condition = {
        dimensions: [],
        indicators: [{ id, type, ...record }]
      };
      this.addAnswer({ params: { title, condition }, type: INDICATOR_CARD });
    }
  }
};
</script>

<style lang="less" scoped>
.firstMessage-container {
  width: 100%;
  height: 100%;
  .robotMsg {
    max-width: 300px;
    padding: 8px 12px 11px;
    background: #fcfdff;
    box-shadow: 0px 0px 10px 0px rgba(225, 238, 255, 0.5);
    border-radius: 6px;

    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0;
  }
  .tip {
    margin-top: 10px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    transform: scale(0.91); // 将字体变为11px
    transform-origin: 0 0; // 改变对齐点
    color: rgba(51, 51, 51, 0.46);
  }
  .blueTag-container {
    margin-top: 10px;
  }
}
</style>
