<template>
  <div class="guessSearch-container">
    <template v-if="robot?.indicator?.length || robot?.dimension?.length">
      <p class="title">猜你想搜</p>
      <Tabs type="card" :animated="false">
        <TabPane name="indicator" label="指标" v-if="robot?.indicator?.length">
          <p class="itemName" v-for="item in robot?.indicator" :key="item.id" @click="clickIndicator(item)">
            {{ item.title }}
          </p>
        </TabPane>
        <TabPane name="dimension" label="维度" v-if="robot?.dimension?.length">
          <p class="itemName" v-for="item in robot?.dimension" :key="item.id" @click="clickDimension(item)">
            {{ item.title }}
          </p>
        </TabPane>
      </Tabs>
    </template>
    <span class="noData" v-else>{{ robot.noDataMsg }}</span>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { GUESS_SEARCH, INDICATOR_CARD } from "../constant";

export default {
  props: {
    answerData: {
      prop: Object,
      required: true
    }
  },
  computed: {
    ...mapState("earlyWarningTarget", ["allIndicator"]),
    robot() {
      return this.answerData.robot;
    }
  },
  methods: {
    ...mapActions("intelligentAnswer", ["addAnswer"]),
    /**
     * 点击指标
     */
    clickIndicator({ id, title, type }) {
      const record = this.allIndicator.find(ele => ele.id == id);
      const condition = {
        dimensions: [],
        indicators: [{ id, type, ...record }]
      };
      this.addAnswer({ params: { title, condition }, type: INDICATOR_CARD });
    },
    /**
     * 点击维度（获取维度的关联指标）
     */
    clickDimension({ id, title, type }) {
      this.addAnswer({ params: { id, title, type }, type: GUESS_SEARCH });
    }
  }
};
</script>

<style lang="less" scoped>
.guessSearch-container {
  width: 100%;
  height: 100%;
  .title {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    transform: scale(0.91); // 将字体变为11px
    transform-origin: 0 0; // 改变对齐点
    color: rgba(51, 51, 51, 0.46);
    letter-spacing: 0.35px;
  }

  /deep/ .ivu-tabs {
    width: 240px;
    .ivu-tabs-bar {
      margin-bottom: 0;
      border-bottom: none;
      .ivu-tabs-tab {
        height: 32px;
        line-height: 32px;
        padding: 0 18px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
        background: #dde8ff;
        border: none;
        margin-right: 8px;
        &.ivu-tabs-tab-active {
          color: #5b90ff;
          font-weight: 600;
          background: #fcfdff;
        }
      }
    }
    .ivu-tabs-content {
      background: #fcfdff;
      padding: 19px 18px;
      box-shadow: 0px 0px 10px 0px rgba(225, 238, 255, 0.5);
      border-radius: 6px;
      .itemName {
        font-size: 14px;
        color: #5b90ff;
        font-weight: 600;
        line-height: 15px;
        cursor: pointer;
        &:not(:last-child) {
          margin-bottom: 17px;
        }
      }
    }
  }

  .noData {
    display: inline-block;
    max-width: 240px;
    padding: 11px 13px;
    background: rgba(209, 216, 255, 0.4);
    border-radius: 6px;

    font-size: 14px;
    line-height: 18px;
    color: #808080;
    font-weight: 600;
  }
}
</style>
