<template>
  <div class="indicatorCard-container">
    <Card :answerData="answerData"/>
    <RelDimInd :robot="answerData.robot" :condition="answerData.condition" @click:rel="clickRel" />
  </div>
</template>

<script>
import RelDimInd from "./commonComp/RelDimInd";
import Card from "./commonComp/Card";
import { CHART_WRAPPER } from "../constant";
import { mapActions, mapState } from "vuex";
import { deepCopy } from "@/utils/common";

export default {
  props: {
    answerData: {
      prop: Object,
      required: true
    }
  },
  components: {
    RelDimInd,
    Card
  },
  computed: {
    ...mapState("earlyWarningTarget", ["allIndicator"])
  },
  methods: {
    ...mapActions("intelligentAnswer", ["addAnswer"]),
    clickRel(relType, { id, title, type }) {
      const con = deepCopy(this.answerData.condition);
      if (relType === "dim") {
        con.dimensions.push(id);
      } else {
        const record = this.allIndicator.find(ele => ele.id == id);
        con.indicators.push({ id, type, ...record });
      }
      this.addAnswer({ params: { title, condition: con }, type: CHART_WRAPPER });
    }
  }
};
</script>

<style lang="less" scoped>
.indicatorCard-container {
  width: 100%;
  height: 100%;
  .card-container {
    // width: 240px;
    // background: #fcfdff;
    // margin-bottom: 20px;
    // overflow: auto;
    // position: relative; // 表格内的Spin基于此容器定位
  }
}
</style>
