<template>
  <div class="tableWrapper-container">
    <DetailTable :answer-data="answerData" />
    <DateToogle v-if="!isTimeDim" :answer-id="answerData.id" />
    <RelDimInd :robot="answerData.robot" :condition="answerData.condition" @click:rel="clickRel" />
  </div>
</template>

<script>
import DetailTable from "./charts/DetailTable";
import DateToogle from "./commonComp/DateToogle";
import RelDimInd from "./commonComp/RelDimInd";
import { TABLE_WRAPPER } from "../constant";
import { mapState, mapActions } from "vuex";
import { deepCopy } from "@/utils/common";
import { BUILT_IN_DIMENSION } from "@/config/DimensionSortDictionary";

export default {
  props: {
    answerData: {
      prop: Object,
      required: true
    }
  },
  components: {
    DetailTable,
    DateToogle,
    RelDimInd
  },
  computed: {
    ...mapState("earlyWarningTarget", ["allIndicator"]),
    // 是否是时间维度
    isTimeDim() {
      return this.answerData.condition.dimensions.includes(Number(BUILT_IN_DIMENSION.id));
    }
  },
  methods: {
    ...mapActions("intelligentAnswer", ["addAnswer"]),
    clickRel(relType, { id, title, type }) {
      const con = deepCopy(this.answerData.condition);
      if (relType === "dim") {
        con.dimensions.push(id);
      } else {
        const record = this.allIndicator.find(ele => ele.id == id);
        con.indicators.push({ id, type, ...record });
      }
      this.addAnswer({ params: { title, condition: con }, type: TABLE_WRAPPER });
    }
  }
};
</script>

<style lang="less" scoped>
.tableWrapper-container {
  width: 100%;
  height: 100%;
  .detailTable-container {
    max-width: 80%;
    height: 230px;
    background: #fcfdff;
    overflow: auto;
    position: relative; // 表格内的Spin基于此容器定位
  }
  .dateToogle-container {
    margin: 12px 0;
  }
}
</style>
