<template>
  <Modal class="weightSetting-container" v-model="modal1" title="权重设置" @on-ok="ok" :width="320">
    <div class="listBox" :key="resetKey">
      <div class="listItem" v-for="(item, index) in dataList" :key="index + 454">
        <span class="lableName" :title="item.name">{{ item.name }}</span>
        <InputNumber style="width: 205px" v-model="item.weight" />
      </div>
    </div>
  </Modal>
</template>

<script>
import { deepCopy } from "@/utils/common";

export default {
  data() {
    return {
      modal1: false,
      dataList: [],
      resetKey: 100
    };
  },
  methods: {
    openDialog(value) {
      //打开弹窗
      this.modal1 = true;
      this.dataList = deepCopy(value);
      this.resetKey++; //页面高度重新加载
    },
    ok() {
      this.$emit("changeWeight", this.dataList)
    }
  }
};
</script>

<style lang="scss" scoped>
.weightSetting-container {
  /deep/.ivu-modal-body {
    padding-right: 10px;
  }
  .listBox {
    height: 172px;
    overflow: auto;
    padding-right: 10px;
    .listItem {
      display: flex;
      align-items: center;
      margin-top: 10px;
      .lableName {
        width: 56px;
        text-align: right;
        margin-right: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      /deep/.ivu-input-number-handler-wrap {
        display: none;
      }
    }
  }
}
</style>
