<template>
  <div class="analysis-container">
    <section class="header">
      <div class="leftbox">
        <div class="titText">时间范围</div>
        <div class="timeBox flexBox">
          <DatePicker
            type="date"
            placeholder="选择日期"
            format="yyyy-MM-dd"
            :value="dateRange.start"
            :editable="false"
            :clearable="false"
            :options="{ disabledDate: date => this.disabledDate(date, 'start') }"
            @on-change="val => this.changeDate({ val, changeType: 'start' })"
            style="width: 200px"
          />
          <span class="unitText">～</span>
          <DatePicker
            type="date"
            placeholder="选择日期"
            format="yyyy-MM-dd"
            :value="dateRange.end"
            :editable="false"
            :clearable="false"
            :options="{ disabledDate: date => this.disabledDate(date, 'end') }"
            @on-change="val => this.changeDate({ val, changeType: 'end' })"
            style="width: 200px"
          />
        </div>
        <div class="titText">分析维度</div>
        <div class="dimensionBox">
          <Select v-model="dimSelected" multiple>
            <Option v-for="item in relationDimension" :value="item.id" :key="item.id" :disabled="isDisabled(item.id)">{{ item.name }}</Option>
          </Select>
        </div>
        <Button type="primary" class="buttonS" @click="startAnalysis">分析</Button>
      </div>
      <div class="rightbox">
        <div class="condition-wrap">
          <div class="flexBox">
            <span class="searchTitle">维度：</span>
            <Select class="chartSelect" :value="dimensionSelected" @on-change="changeDimension">
              <Option v-for="item in relationDimension" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
          </div>
          <!--全局变量-->
          <div class="global-var-container" v-if="globalVarConditions.length">
            <span style="margin-right: 10px">全局变量 =></span>
            <div class="global-var-item flexBox" v-for="item in globalVarConditions" :key="item.varId">
              <span>{{item.name}}：</span>
              <Select class="select" style="width: 120px" @on-change="handleGlobalVarSelectChange($event, item)" :value="item.value">
                <Option v-for="option in item.paramValue" :key="option.value" :value="option.value">{{option.label}}</Option>
              </Select>
            </div>
          </div>
        </div>
        <LineChart
          v-if="chartData.length"
          :chart-data="chartData"
          :dimension-selected-name="dimensionSelectedName"
          :indicator-name="$route.query.name"
          :indicator-config="indicatorConfig"
        />
        <NoData v-else :width="510" :height="249" :img-src="noDataImg" />
      </div>
    </section>

    <section class="contentWrapper">
      <Spin fix v-if="isLoading" />
      <template v-else>
        <AnalysisDetail v-if="isAnalysed" />
        <NoData v-else class="noAnalysis" :width="156" :height="156" :img-src="noDataImg1" desc="请先进行分析" />
      </template>
    </section>
  </div>
</template>

<script>
import LineChart from "./echarts/lineChart.vue";
import NoData from "@/components/NoData";
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import { dateChange } from "@/utils/dateFormat";
import mixin from "../mixin";
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";
import { BUILT_IN_DIMENSION } from "@/config/DimensionSortDictionary";
import AnalysisDetail from "./AnalysisDetail";
import noDataImg1 from "@/assets/icons/indicatorWorkbench/analysisDetail/noAnalysisData.svg";
import ModelDataMixin from '@/view/report/mixin/modelDataMixin'
export default {
  mixins: [ModelDataMixin,mixin],
  components: {
    LineChart,
    NoData,
    AnalysisDetail
  },
  data() {
    return {
      noDataImg,
      noDataImg1,
      // 时间范围
      dateRange: {
        start: dateChange(-2),
        end: dateChange(-1)
      },
      dimensionSelected: "", // 右上方-图表的已选维度id
      dimSelected: [], // 左上方-已选分析维度的id
      chartData: [],
      isLoading: false, // 是否加载
      isAnalysed: false, // 是否分析完成
      indicatorConfig: {}, // 配置数据
      globalVarConditions: [], // 全局变量条件选项
      indicatorGlobalVarParam: {}, // 全局变量参数
    };
  },
  computed: {
    ...mapState("indicatorWorkbench", ["relationDimension"]),
    ...mapGetters("indicatorWorkbench", ["dateDimensionId"]),
    dimensionSelectedName() {
      return this.relationDimension.find(ele => ele.id === BUILT_IN_DIMENSION.id)?.name || "";
    },
    isDisabled() {
      return id => id === BUILT_IN_DIMENSION.id;
    },
    globalVariableList() {
      return this.$store.state.chart.globalVariableList
    },
  },
  async created() {
    // 默认全选分析维度
    const unwatch1 = this.$watch(
      "relationDimension",
      newVal => {
        this.dimSelected = newVal.filter(d => d.id !== BUILT_IN_DIMENSION.id).map(ele => ele.id);
        unwatch1();
      },
      {
        deep: true
      }
    );

    // 获取右上折线图数据
    const unwatch2 = this.$watch("dateDimensionId", newVal => {
      this.dimensionSelected = newVal;
      this.getLineChartData();
      unwatch2();
    });

    // 获取指标配置
    const { id, type } = this.$route.query;
    const {indicatorConfig, conditionGroups} = await this.getIndicatorDetail(id, type);
    this.indicatorConfig = indicatorConfig
    const currentIndicatorGlobalVarList = this.getIndicatorGlobalVariableCondition([{
      type, conditionGroups
    }])
    this.globalVarConditions = currentIndicatorGlobalVarList
  },
  methods: {
    ...mapMutations("reasonAnalysis", ["setDimensionSelected", "setBreadList"]),
    ...mapActions("reasonAnalysis", ["fetchAnalysisData", "fetchChartData"]),
    /**
     * 获取右上方的折线图数据
     */
    async getLineChartData() {
      const { start, end } = this.dateRange;
      this.chartData = await this.getChartData({ start, end, dimensionId: this.dimensionSelected });
    },
    /**
     * 改变日期范围
     * @param {String} val 日期值
     * @param {String} type
     */
    async changeDate({ val, changeType }) {
      this.dateRange[changeType] = val;
      this.getLineChartData(); // 刷新上方图表
    },
    /**
     * 禁止选择的日期
     * @param {Date} date
     * @param {String} type
     */
    disabledDate(date, type) {
      if (type === "start") {
        return date?.valueOf() > new Date(this.dateRange.end).getTime();
      } else {
        return date?.valueOf() < new Date(this.dateRange.start).getTime() - 86400000;
      }
    },
    /**
     * 切换维度
     */
    async changeDimension(val) {
      this.dimensionSelected = val;
      this.getLineChartData(); // 刷新上方图表
    },
    /**
     * 分析
     */
    async startAnalysis() {
      if (this.dimSelected.length === 0) {
        this.$Message.warning("请选择至少一个分析维度");
        return;
      }
      // 如果指标配置了全局变量需要校验全局变量是否设置了值
      if (this.globalVarConditions.length) {
        if (!Object.keys(this.indicatorGlobalVarParam).length || Object.keys(this.indicatorGlobalVarParam).length !== this.globalVarConditions.length) {
          this.$Message.warning("请设置完整全局变量");
          return;
        }
      }
      this.isLoading = true;

      // 还原面包屑
      this.setBreadList([{ id: 1, name: "全部" }]);

      // 设置已选维度
      const dimData = this.relationDimension.filter(ele => this.dimSelected.includes(ele.id));
      this.setDimensionSelected(dimData);

      // 获取指标相关数据
      const { id, type } = this.$route.query;
      const { start, end } = this.dateRange;
      await this.fetchAnalysisData({ id, type, start, end, variables: this.indicatorGlobalVarParam});
      await this.fetchChartData({ id, type, start, end, variables: this.indicatorGlobalVarParam });

      this.isAnalysed = true;
      this.isLoading = false;
    },
    handleGlobalVarSelectChange(value, item) {
      this.indicatorGlobalVarParam[item.varCode] = value
    }
  }
};
</script>

<style lang="less" scoped>
.analysis-container {
  width: 100%;
  // height: calc(~"100% - 68px - 38px");
  .header {
    display: flex;
    padding: 15px 20px;
    height: 290px;
    .leftbox {
      width: 340px;
      margin-right: 50px;
      .titText {
        font-size: 14px;
      }
      .timeBox {
        margin: 10px 0 16px 0;
      }
      .unitText {
        margin: 0 5px;
      }
      .dimensionBox {
        margin-top: 10px;
        position: relative;
        ::v-deep .ivu-select-selection {
          height: 82px;
          overflow-y: auto;
          padding: 5px 10px;
          .ivu-tag {
            border: none;
            background-color: #f0f5ff;
            font-size: 12px;
            color: #3f73ff;
            margin-bottom: 8px;
            margin-right: 5px;
            .ivu-tag-text {
              color: #3f73ff !important;
            }
            .ivu-icon-ios-close {
              border-radius: 50%;
              border: 1px solid #3f73ff;
              color: #0044ff !important;
              font-size: 12px;
              transform: scale(0.9);
            }
          }
        }
      }
      .buttonS {
        width: 100%;
        background-color: #3f73ff;
        margin-top: 16px;
      }
    }
    .rightbox {
      width: calc(~"100% - 390px");
      .condition-wrap{
        display: flex;
        .global-var-container{
          display: flex;
          margin-left: 20px;
          align-items: center;
        }
      }
      .flexBox {
        margin-right: 20px;
        .searchTitle {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #333333;
          letter-spacing: 0;
          margin-right: 4px;
        }
        .chartSelect {
          width: 200px;
          /deep/.ivu-select-selection {
            border: none;
            border-bottom: 1px solid rgba(217, 217, 217, 1);
          }
        }
      }
      .lineChart-container {
        height: calc(~"100% - 32px");
        padding: 0 20px;
      }
    }
  }

  .contentWrapper {
    min-height: 156px;
    position: relative;
  }

  .flexBox {
    display: flex;
    align-items: center;
  }
}
</style>
