<template>
  <div class="chartIndex-container">
    <!-- 日期 -->
    <section class="seachBox1 flexBox">
      <ReportCalendar :need-init="false" editable :currentDate="currentDate" @dateConfirm="dateConfirm" />
    </section>

    <!-- 分析维度 + 图表切换 -->

      <section class="seachBox2 flexBox">
        <div class="condition-wrap">
          <div class="flexBox">
            <span class="searchTitle">维度：</span>
            <Select class="chartSelect" :value="dimensionSelected" @on-change="changeDimension">
              <Option v-for="item in relationDimension" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
          </div>
          <!--全局变量-->
          <div class="global-var-container" v-if="globalVarConditions.length">
            <span style="margin-right: 10px">全局变量 =></span>
            <div class="global-var-item flexBox" v-for="item in globalVarConditions" :key="item.varId">
              <span>{{item.name}}：</span>
              <Select class="select" style="width: 120px" @on-change="handleGlobalVarSelectChange($event, item)" :value="item.value">
                <Option v-for="option in item.paramValue" :key="option.value" :value="option.value">{{option.label}}</Option>
              </Select>
            </div>
          </div>
        </div>

        <div class="chartImg">
          <img @click="setImgType(item)" :src="item.checked ? item.url2 : item.url1" alt="" v-for="(item, index) in imgList" :key="index + 1564" />
        </div>
      </section>


    <!-- 图表展示 -->
    <section class="contentBox">
      <div class="chartText">{{ chartTitle }}</div>
      <template v-if="chartData.length">
        <LineChart
          v-show="chartName == '折线图'"
          :chart-data="chartData"
          :dimension-selected-name="dimensionSelectedName"
          :indicator-name="$route.query.name"
          :indicator-config="indicatorConfig"
        />
        <LineAndPieChart
          v-show="chartName == '柱状图'"
          :chart-data="chartData"
          :dimension-selected-name="dimensionSelectedName"
          :indicator-name="$route.query.name"
          :indicator-config="indicatorConfig"
        />
        <PieChart v-show="chartName == '饼图'" :chart-data="chartData" :indicator-name="$route.query.name" :indicator-config="indicatorConfig" />
      </template>
      <NoData v-else :width="1180" :height="575" :img-src="noDataImg" />
    </section>
  </div>
</template>

<script>
import LineChart from "./echarts/lineChart.vue";
import LineAndPieChart from "./echarts/lineAndPieChart.vue";
import PieChart from "./echarts/pieCharts.vue";
import ReportCalendar from "@/view/components/report-calendar/ReportCalendar";
import NoData from "@/components/NoData";
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import moment from "moment";
import { dateChange } from "@/utils/dateFormat";
import mixin from "../mixin";
import { mapState, mapGetters } from "vuex";
import { IMG_LIST } from "@/view/indicatorWorkbench/indicatorWorkbenchDetail/constant";
import ModelDataMixin from '@/view/report/mixin/modelDataMixin'
export default {
  mixins: [ModelDataMixin,mixin],
  components: {
    LineChart,
    LineAndPieChart,
    PieChart,
    ReportCalendar,
    NoData
  },
  data() {
    return {
      noDataImg,
      currentDate: {}, // 日期
      dimensionSelected: "", // 已选维度的id
      chartName: "折线图", // 当前显示的图表类型
      imgList: IMG_LIST, // 可切换的图表
      indicatorName: "",
      chartData: [], // 图表数据
      indicatorConfig: {}, //配置数据
      globalVarConditions: [], // 全局变量条件选项
      indicatorGlobalVarParam: {}, // 全局变量参数
    };
  },
  computed: {
    ...mapState("indicatorWorkbench", ["relationDimension"]),
    ...mapGetters("indicatorWorkbench", ["dateDimensionId"]),
    chartTitle() {
      const indicatorName = this.$route.query.name;
      const demi = this.relationDimension.find(ele => ele.id === this.dimensionSelected)?.name;
      return `${indicatorName}（按${demi}分析）`;
    },
    dimensionSelectedName() {
      return this.relationDimension.find(ele => ele.id === this.dimensionSelected).name;
    },
    globalVariableList() {
      return this.$store.state.chart.globalVariableList
    }
  },
  async created() {
    // 获取指标配置
    const { id, type } = this.$route.query;
    const {indicatorConfig, conditionGroups} = await this.getIndicatorDetail(id, type);
    this.indicatorConfig = indicatorConfig;
    const currentIndicatorGlobalVarList = this.getIndicatorGlobalVariableCondition([{
      type, conditionGroups
    }])
    this.globalVarConditions = currentIndicatorGlobalVarList.map(item => {
      return {
        ...item,
        value: item.paramValue[0].value
      }
    })
    this.globalVarConditions.forEach(item => {
      this.indicatorGlobalVarParam[item.varCode] = item.paramValue[0].value
    })
    // 默认选中的维度
    const unwatch = this.$watch("dateDimensionId", newVal => {
      this.init(newVal);
      unwatch();
    });
  },
  methods: {
    async queryChartData(){
      // 获取图表数据
      this.chartData = await this.getChartData({
        start: this.currentDate.startDate,
        end: this.currentDate.endDate,
        dimensionId: this.dimensionSelected,
        variables: this.indicatorGlobalVarParam
      });
    },
    async init(newVal) {
      this.dimensionSelected = newVal;

      // 默认选择日期
      this.currentDate = {
        startDate: dateChange(-30),
        endDate: dateChange(0),
        period: "99"
      };
      this.queryChartData()
    },
    /**
     * 选择日期
     */
    async dateConfirm(startDate, endDate, period) {
      const startDateStr = moment(startDate).format("YYYY-MM-DD");
      const endDateStr = moment(endDate).format("YYYY-MM-DD");
      this.currentDate = {
        startDate: startDateStr,
        endDate: endDateStr,
        period
      };
      this.queryChartData()
    },
    /**
     * 切换维度
     */
    async changeDimension(val) {
      this.dimensionSelected = val;
      // 获取图表数据
      this.queryChartData()
    },
    /**
     * 切换图表类型
     */
    setImgType(value) {
      this.imgList.forEach(ele => (ele.checked = false));
      value.checked = true;
      this.chartName = value.name;
    },
    handleGlobalVarSelectChange(value, item) {
      this.indicatorGlobalVarParam[item.varCode] = value
      this.queryChartData()
    }
  }
};
</script>

<style lang="scss" scoped>
.chartIndex-container {
  .condition-wrap{
    display: flex;
    .global-var-container{
      display: flex;
      margin-left: 20px;
      align-items: center;
    }
  }
  .flexBox {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  .seachBox1 {
    justify-content: flex-end;
    padding-top: 16px;
  }
  .seachBox2 {
    padding-top: 0;
    justify-content: space-between;
    .searchTitle {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333333;
      letter-spacing: 0;
      margin-right: 4px;
    }
  }
  .chartImg {
    display: flex;
    position: relative;
    top: 5px;
    img {
      margin-left: 10px;
      cursor: pointer;
      width: 22px;
      height: 22px;
    }
  }
  .chartSelect {
    width: 200px;
    ::v-deep .ivu-select-selection {
      border: none;
      border-bottom: 1px solid rgba(217, 217, 217, 1);
    }
  }
  .contentBox {
    width: 100%;
    .chartText {
      font-size: 14px;
      padding: 0 16px;
      margin-top: 30px;
    }
    .lineChart-container,
    .lineAndPieChart-container,
    .pieCharts-container {
      width: 100%;
      height: 60vh;
      padding: 0 20px;
    }
  }
}
</style>
