<template>
  <div class="definition-container">
    <IndicatorView>
      <template #header>
        <div class="headerLine">
          <div class="lineItem" v-if="indicatorAbbreviation">
            简称：<span>{{ indicatorAbbreviation }}</span>
          </div>
          <div class="lineItem">
            指标编码：<span>{{ indicatorCode }}</span>
          </div>
          <div class="lineItem">
            版本号：<span>{{ indicatorVersion }}</span>
          </div>
          <div class="lineItem">
            属性：<span>{{ indicatorAttribute }}</span>
          </div>
        </div>
      </template>
    </IndicatorView>
  </div>
</template>

<script>
import IndicatorView from "@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/IndicatorView/index.vue";
import {
  getIndicatorById,
  getComplexIndicatorById,
  getDerivativeIndicatorById,
  getBloodIndicatorById,
  getIndicatorTreeData,
  getOutIndicatorById,
  getStaticIndicatorById
} from "@/api/indicator";
import { mapMutations, mapGetters } from "vuex";
import { getToken } from "@/libs/util";
import _ from "lodash";
import indicatorMixin from "@/view/report/mixin/indicatorMixin";

export default {
  mixins: [indicatorMixin],
  components: {
    IndicatorView
  },
  computed: {
    ...mapGetters("indicator", ["columns"])
  },
  async created() {
    await this.getBusinessModelTreeData();
    await this.getGroupAndIndicator();
    await this.getAssetGroups();

    const { id, type } = this.$route.query;
    this.setIndicatorKind(parseInt(type)); // 设置指标类型
    this.getIndicatorDetail(parseInt(id), parseInt(type));
  },
  methods: {
    ...mapMutations(["setDataIsDeleted"]),
    // 获取指标数据
    async getGroupAndIndicator() {
      const { data: res } = await getIndicatorTreeData();
      if (res?.state === "success") {
        this.setIndicators(res.data.indicatorList);
      } else {
        this.$Message.error("获取分组及指标失败");
      }
    },
    /**
     * 获取资产分组列表
     */
    async getAssetGroups() {
      const { data: res } = await getIndicatorTreeData();
      if (res.state === "success") {
        const group = res.data.indicatorGroupList;
        const root = {
          id: -1,
          name: "指标组",
          parentId: 0
        };
        this.setAssetGroups([root, ...group]);
      } else {
        this.$Message.warning("获取资产分组列表失败");
      }
    },
    /**
     * 获取指标数据
     * @param {Number} id 指标id
     * @param {Number} type 指标类型。原子1 复合2 派生3
     */
    async getIndicatorDetail(id, type) {
      if (type === 1) {
        // 原子指标
        await this.getBasicIndicatorDetail(id);
      }
      if (type === 2) {
        // 复合指标
        await this.getCompositeIndicatorDetail(id);
      }
      if (type === 3) {
        // 派生指标
        await this.getDerivativeIndicatorDetail(id);
      }
      if (type === 4) {
        await this.getOutIndicatorDetail(id);
      }
      if (type === 5) {
        await this.getStaticIndicatorDetail(id);
      }
      this.getBlood(id, type);
    },
    /**
     * 获取原子指标详情
     */
    async getBasicIndicatorDetail(id) {
      const res = await getIndicatorById(id);
      if (res.data?.state === "success") {
        const resData = res.data.data;
        console.log("原子", resData);

        /* 数据回填 */
        this.doIndicatorPublicContentBackFill(resData);
        this.setBusinessModel(resData.businessModelId);

        // 列--原技术口径
        if (!this.columns.length) return;
        let columnNvl, columnNvlManualEntry;
        let columnArr = resData.businessModelPropertyId.split(",");
        columnArr[0] = columnArr[0].replace(/\[|\]/g, "");
        const column = this.columns.find(item => Number(item.id) === Number(columnArr[0]));
        if (!column) return;
        if (columnArr.length === 1) {
          columnNvl = null;
          columnNvlManualEntry = null;
        } else {
          if (columnArr[1].startsWith("[")) {
            columnArr[1] = columnArr[1].replace(/\[|\]/g, "");
            columnNvl = this.columns.find(item => Number(item.id) === Number(columnArr[1]))?.name;
            columnNvlManualEntry = null;
          } else {
            columnNvl = "manualEntry";
            columnNvlManualEntry = columnArr[1];
          }
        }

        this.setColumn(column.id);
        this.setColumnNvl(columnNvl);
        this.setColumnNvlManualEntry(columnNvlManualEntry);
        this.setSummaryMethod(resData.calculateType);
        this.setNumberFormatConfig(JSON.parse(resData.configData));

        // 过滤条件
        const filterConditions = resData.conditionGroups.map(groupItem => {
          return groupItem.conditions.map(item => {
            const valueArr = item.value.split("|");
            return {
              sourceId: item.sourceId,
              conditionType: item.conditionType,
              variableType: Number(valueArr[0]),
              variableValue: valueArr[1]
            };
          });
        });
        this.setFilterConditions(filterConditions);
      } else if (res.data.state === "error" && res.data.errorCode === "100001") {
        this.setDataIsDeleted(true);
      } else {
        this.$Message.error("获取原子指标详情失败");
      }
    },

    /**
     * 获取派生指标详情
     */
    async getDerivativeIndicatorDetail(id) {
      const res = await getDerivativeIndicatorById(id);
      if (res.data?.state === "success") {
        const resData = res.data.data;
        console.log("派生", resData);

        /* 数据回填 */
        this.doIndicatorPublicContentBackFill(resData);
        this.setDerivedFrom(resData.sourceIndicatorId);
        this.setNumberFormatConfig(JSON.parse(resData.configData));
        this.setDerivationRule(resData.ruleType);

        // 解析ruleConfig
        const ruleConfig = JSON.parse(resData.ruleConfig);
        if (this.derivationRule === 1) {
          // 期间累计
          this.setCalcPeriod(ruleConfig.periodType);
          this.setCalcInterval(ruleConfig.periodValue);
          this.setSummaryMethod(ruleConfig.calculateType);
        }
        if (this.derivationRule === 2) {
          // 同/环比
          this.setCalcType(ruleConfig.compareType);
          this.setSubCalcType(ruleConfig.yearOnYearType);
        }
        if (this.derivationRule === 3) {
          // 累积计算
          this.setSummaryMethod(ruleConfig);
        }
        if (this.derivationRule === 4) {
          // 移动计算
          this.setMobileCalcPeriod(ruleConfig.byType);
          this.setMobileCalcInterval({ start: ruleConfig.start.split("-"), end: ruleConfig.end.split("-") });
          this.setSummaryMethod(ruleConfig.calculateType);
        }
        if (this.derivationRule === 6) {
          // 总排名
          this.setRankingType(ruleConfig.rankingType);
          this.setRankingWay(ruleConfig.rankingWay);
        }
      } else if (res.data.state === "error" && res.data.errorCode === "100001") {
        this.setDataIsDeleted(true);
      } else {
        this.$Message.error("获取派生指标详情失败");
      }
    },

    /**
     * 获取复合指标详情
     */
    async getCompositeIndicatorDetail(id) {
      const res = await getComplexIndicatorById(id);
      if (res.data?.state === "success") {
        const resData = res.data.data;
        console.log("复合", resData);

        /* 数据回填 */
        this.setNumberFormatConfig(JSON.parse(resData.configData))
        this.doIndicatorPublicContentBackFill(resData);
        this.setExpression(resData.expression);

        // 过滤条件
        let conditions = {};
        for (let key in resData.conditions) {
          let condition = resData.conditions[key];
          conditions[key] = condition.map(groupItem => {
            return groupItem.conditions.map(item => {
              const valueArr = item.value.split("|");
              return {
                sourceId: item.sourceId,
                conditionType: item.conditionType,
                variableType: Number(valueArr[0]),
                variableValue: valueArr[1]
              };
            });
          });
        }
        this.setCompositeIndicatorFilterConditions(conditions);
      } else if (res.data.state === "error" && res.data.errorCode === "100001") {
        this.setDataIsDeleted(true);
      } else {
        this.$Message.error("获取复合指标详情失败");
      }
    },

    // 获取外部指标详情
    async getOutIndicatorDetail(ids) {
      const { data: res } = await getOutIndicatorById(ids || this.indicatorId);
      if (res?.state === "success") {
        const resData = res.data;
        this.indicatorObj = {
          // 用于操作日志请求数据
          id: resData.id,
          type: resData.type
        };

        /* 数据回填 */
        this.doIndicatorPublicContentBackFill(resData);
        this.setParamValue(resData.params);

        /* 备份 */
        this.doIndicatorPublicDetailBackup(resData);
        this.indicatorDetailBak = {
          ...this.indicatorDetailBak,
          paramValue: resData.params
        };
      } else {
        this.$Message.error("获取外部指标详情失败");
      }
    },

    /**
     * 获取静态指标详情
     * @param ids
     */
    async getStaticIndicatorDetail(ids) {
      const res = await getStaticIndicatorById(ids || this.indicatorId);
      if (res.data.state === "success") {
        const resData = res.data.data;
        this.indicatorObj = {
          // 用于操作日志请求数据
          id: resData.id,
          type: resData.type
        };

        /* 数据回填 */
        this.doIndicatorPublicContentBackFill(resData);
        this.setIndicatorValue(Number(resData.value));
        this.setNumberFormatConfig(JSON.parse(resData.configData));

        /* 备份 */
        this.doIndicatorPublicDetailBackup(resData);
        this.indicatorDetailBak = {
          ...this.indicatorDetailBak,
          value: Number(resData.value),
          configData: resData.configData
        };
      } else {
        this.$Message.error("获取静态指标详情失败");
      }
    },

    /**
     * 指标详情公共内容回填
     */
    doIndicatorPublicContentBackFill(resData) {
      this.setIndicatorAbbreviation(resData.abbrName);
      this.setIndicatorCode(resData.assetsCode);
      this.setIndicatorVersion(resData.versionCode);
      this.setIndicatorAttribute(resData.attribute);

      this.setSyncDashboard(resData.syncBoard === 1);
      const businessDesc = this.buildBusinessDescContent(resData.description);
      this.setBusinessDesc(businessDesc);
      this.setBusinessDate(!!resData.openDate);
      this.setAssetGroup(resData.groupId);
      this.setIndicatorLabels(resData.labels ?? []);
    },

    /**
     * 构建业务描述字段显示内容
     */
    buildBusinessDescContent(desc) {
      // 匹配所有的{token}占位符，替换为真实token
      const token = getToken();
      let businessDesc = desc.replace(/\${token}/gi, token);
      return businessDesc;
    },

    // 获取指标的关联维度数据
    getBlood(indicatorId, type) {
      getBloodIndicatorById(indicatorId, type).then(res => {
        this.renderGraph(res.data.data, type);
      });
    },
    renderGraph(indicatorBlood, type) {
      if (!indicatorBlood || type === 4) return;
      let { nodes, links, usedDimensions, availableDimensions } = this.buildGraphData(indicatorBlood, true);
      let rootId = indicatorBlood.indicator.id + "";
      if (type === 3) {
        let { sourceIndicatorBlood } = indicatorBlood;
        let atomResult = this.buildGraphData(sourceIndicatorBlood, false);
        let leftId = atomResult.nodes[0].id;
        nodes = nodes.concat(atomResult.nodes);
        links = links.concat(atomResult.links);
        links.push({ from: leftId, to: rootId });
      } else if (type === 2) {
        let { atomIndicatorBlood } = indicatorBlood;
        if (atomIndicatorBlood && atomIndicatorBlood.length) {
          atomIndicatorBlood
            .map(indicatorBlood => this.buildGraphData(indicatorBlood, false))
            .forEach(item => {
              links.push({ from: item.nodes[0].id, to: rootId });
              nodes = nodes.concat(item.nodes);
              links = links.concat(item.links);
            });
        }
      }
      // 过滤出已经关联过的维度
      this.setRelatedDimensions(
        availableDimensions.map(item => ({
          ...item,
          type: usedDimensions[item.id] ? 1 : 2
        }))
      );
    },
    /**
     * 构建graph对象
     * @param blood
     * @return {{nodes: *[], usedDimensions, links: {from: string, to: string}[]}}
     */
    buildGraphData(blood, master = true) {
      // 构建参数
      let { indicator, reportBriefs, availableDimensions } = blood;
      let { table, originTable, businessModel } = blood.businessModelBlood || {};
      let rootId = indicator.id + "";
      let nodes = [
        // 指标  根节点
        { id: rootId, text: indicator.name, color: "#6DD400", fontColor: "#333", dataType: master ? 1 : 2, bloodType: 1 }
        // 业务模型
      ];
      let links = [];
      if (blood.businessModelBlood) {
        nodes.push({
          id: businessModel.id + "",
          text: businessModel.name,
          color: "#A469FA",
          fontColor: "#333",
          dataType: 2
        });
        links.push({ from: businessModel.id + "", to: indicator.id + "" });
      }

      if (table) {
        nodes.push({
          id: table.id + "",
          text: table.label,
          color: "#3F73FF",
          fontColor: "#333",
          bigTable: true,
          dataType: 3
        });
        links.push({ from: table.id + "", to: businessModel.id + "" });
        if (originTable) {
          originTable.forEach(t => {
            nodes.push({
              id: t.id + "",
              text: t.label,
              color: "#284DBE",
              fontColor: "#333",
              dataType: 0
            });

            links.push({
              from: t.id + "",
              to: table.id + ""
            });
          });
        }
      }

      let usedDimensions = {};
      if (reportBriefs && reportBriefs.length > 0) {
        let loopReportId = {};
        reportBriefs.forEach(reportDimension => {
          if (loopReportId[reportDimension.id] === undefined) {
            let reportId = reportDimension.id;
            nodes.push({
              id: reportId + "",
              text: reportDimension.name,
              color: "#E8BA05",
              fontColor: "#333",
              dataType: 4
            });
            let to = reportId + "";
            let from = indicator.id + "";
            if (!links.find(l => l.to === to && l.from === from)) {
              links.push({
                to,
                from
              });
            }

            if (reportDimension.dimensions) {
              let loopDimensionId = {};
              reportDimension.dimensions.forEach(dimension => {
                if (loopDimensionId[dimension.id] === undefined) {
                  nodes.push({
                    id: reportId + "_" + dimension.id,
                    text: dimension.name,
                    color: "#43D7B6",
                    fontColor: "#333",
                    dataType: 5,
                    bloodType: 1
                  });
                  if (usedDimensions[dimension.id] === undefined) {
                    usedDimensions[dimension.id] = 1;
                  }
                  links.push({
                    to: reportId + "_" + dimension.id,
                    from: reportId + ""
                  });
                  loopDimensionId[dimension.id] = true;
                }
              });
            }
            loopReportId[reportDimension.id] = true;
          }
        });
      }

      return { nodes, links, usedDimensions, availableDimensions };
    }
  }
};
</script>

<style lang="less" scoped>
.definition-container {
  width: 100%;
  height: calc(~"100% - 68px - 38px");
  padding: 14px 19px;
  box-sizing: border-box;
  overflow: auto;
  .headerLine {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .lineItem {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
      > span {
        font-family: PingFangSC-Medium;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 600;
      }
      &:not(:last-child)::after {
        content: "|";
        display: inline-block;
        text-align: center;
        width: 12px;
        height: 17px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.3);
        margin: 0 12px 0;
      }
    }
  }

  // 过滤条件的样式（原子、派生指标共用）
  /deep/.filter-condition-group-item {
    display: flex;
    align-items: center;
    position: relative;
    + .filter-condition-group-item {
      margin-top: 12px;
    }
    .icon-and {
      width: 20px;
      height: 20px;
    }
    &::before {
      content: "";
      display: block;
      width: 3px;
      height: 100%;
      background: rgba(72, 121, 255, 0.3);
      position: absolute;
      left: 26px;
    }
  }
}
</style>
