<template>
  <div class="userBanner">
     <el-input  size="small"  placeholder="请输入角色"  class="seachInput"  v-debounce="{ handler: onSearch }"
       @clear="onSearch"
       v-model="seachText" clearable>
      <i slot="suffix" class="el-input__icon el-icon-search"></i>
     </el-input>
    <div class="treeBox">
      <Tree
        :data="treeData"
        :render="renderContent"></Tree>
    </div>
  </div>
</template>

<script>
import { deepClone } from '@/utils'
import { debounce } from "@/utils/directive";
import { getAuthRole } from "@/api/system";
export default {
    name: 'User',
    data() {
        return {
            treeData: [], //树数据
            cloneTreeData : [], // 树数据的克隆
            seachText : '', // 搜索内容
            selData : [], // 复制的数据
        };
    },
    props: {
        allData: {
            type: Array,
            default: () => []
        },
    },
    created() {
    },
    mounted() {
        this.init();
    },
    watch : {

    },
    methods: {
      init(){
        getAuthRole().then((res) => {
            const resData = res.data.data
            const {roleGroup, roleList} = resData
            // let newDeps = this.depDataFormat(deps);
            // newDeps[0].disable = true;
            const newDeps = []
            roleGroup.forEach(item => {
              const children = roleList.filter(role => role.groupId === item.id)
              newDeps.push({
                ...item,
                title: item.name,
                expand: true,
                disable: true,
                children: children.map(child => {
                  return {
                    ...child,
                    title: child.name,
                    selected: false,
                    checkedMenu: false,
                  }
                })
              })
            })
            this.treeData = newDeps;
            this.reset();
            // this.treeData[0].expand = true;
            this.cloneTreeData = deepClone(newDeps) ;
          });
      },
      reset(){
         this.selData = []
         this.allData.forEach(item=>{
          if (item.dataType == "3") {
             this.selData.push({
              id : item.authId,
              name : item.authName,
              checkedMenu : true,
            })
          }
         })
          this.treeData = this.setTreeSelect(this.treeData);
        },

        depDataFormat(data) {
        data.forEach((item) => {
        item.title = item.name;
        item.expand = false;
        item.checkedMenu = false;
        item.selected = false;
        item.disabled = item.authorized != 1 ? true : false; // authorized; // 1:有权限  0:无权限
        if (item.children && item.children.length > 0) {
          this.depDataFormat(item.children);
        }
      });
      return data;
    },
     onSearch() {//从树中搜索

      let arr = JSON.parse(JSON.stringify(this.cloneTreeData));
      if (this.seachText) {
        let treeData = this.filterNode(this.seachText, arr);
        treeData = this.findSelected(this.selectedTreeId, treeData);
        // 相关节点展开
        treeData = this.setTreeNodeExpend(treeData);
        this.treeData = this.setTreeSelect(treeData);
      } else {
        let treeData = deepClone(arr);
        this.treeData = this.setTreeSelect(treeData);
      }
    },
     renderContent(h, { data  }) {
      let checkbox  = h('el-checkbox', {
        props: {
          value: data.checkedMenu,
          disabled : data.disable
        },
        on: {
          'change': (val) => {
            data.checkedMenu = val;
            if (val) { // 选中
              this.selData.push(data);
              this.$emit('changetags',{ code:"add", data })
            }else { // 取消选中
              this.selData = this.selData.filter((item) => {
                return item.id != data.id;
              });
              this.$emit('changetags',{ code:"delete", data })
            }
          },
        },
      },)

       return  <div   style="display: flex;justify-content: space-between;width: 100%" >
        <span style='flex:1;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;'  onClick={(e)=>{this.onClick(e)}} >{data.name}</span>
        { !data.disable &&   checkbox }
      </div>
    },
    // 过滤树节点
    filterNode(val, List) {
      let List1 = List.filter((item) => {
        if (item.children) {
          item.children = this.filterNode(val, item.children);
          if (!item.children.some((item1) => item1.title.indexOf(val) !== -1)) {
            if (item.children.some((item1) => item1.children)) {
              item.children.forEach((item2) => {
                item2.children && this.filterNode(val, item2.children);
              });
            } else {
              return item.title.indexOf(val) > -1;
            }
          }
          return true;
        }
        return item.title.indexOf(val) > -1;
      });
      return List1;
    },
    // 回显选中的树节点
    findSelected(selectedId, arr) {
      arr.forEach((val) => {
        if (selectedId === val.id) {
          val.selected = true;
        }
        if (val.children && val.children.length > 0) {
          this.findSelected(selectedId, val.children);
        }
      });
      return arr;
    },
        onClick(e) { // 点击事件
       if (e.target.closest('.ivu-tree-title')) {
         // 只有点击的是.ivu-tree-title或者内部时
        const arrow = e.target.closest('li').querySelector('.ivu-tree-arrow')
        if (arrow.children.length) {
          // 文件夹的arrow下有子节点
          arrow.click()
        }
      }
    },
    setTreeNodeExpend(treeData ) {
      treeData.forEach((item) => {
        if (item.children && item.children.length) {
            item.expand = true;
          this.setTreeNodeExpend(item.children );
        }
      });
      return treeData;
    },
    setTreeSelect(treeData ) { // 回显选中的树节点
      treeData.forEach((item) => {
        item.checkedMenu = false;
        this.selData.forEach((item1) => {
          if (item.id == item1.id) {
            item.checkedMenu = true;
          }
        });
        if (item.children && item.children.length) {
          this.setTreeSelect(item.children );
        }
      });
      return treeData;
    },
    },
        directives: {
    debounce, //防抖指令
  },
};
</script>

<style lang="scss" scoped>
.userBanner{

     height: 280px;

      .seachInput{
        width: 220px; height: 32px; margin-bottom: 10px;
    }

.treeBox{
   overflow-y: auto;   overflow-x: hidden; padding-right: 20px; height: calc(100% - 42px) ;
    ::v-deep .ivu-tree-title{
        width: 100%;
    }
    ::v-deep .ivu-tree-empty{
      line-height: 32px;
    }
    ::v-deep .ivu-checkbox-wrapper{
      line-height: 28px;
    }
    &::-webkit-scrollbar {
     width: 4px;
     height: 4px;
    }

    &::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px #E7EEFF;
    }
    &::-webkit-scrollbar-thumb {
     border-radius: 5px;
     -webkit-box-shadow: inset 0 0 6px rgba(245, 16, 16, 0);
       background-color: #bccffe;;
     &:hover {
       background-color: #bccffe;;
     }
    }
}

}

</style>
