<template>
  <div class="modelMapping-container" ref="tableContainer">
    <div class="modelMapping_header">
      数据映射
    </div>
    <div class="modelMapping_option">
      <div style="margin-right: 24px">
        <span>业务模型名称：</span>
        <Input style="width: 230px" placeholder="请输入业务模型名称" v-model="businessModelName" clearable/>
      </div>
      <div>
        <span>状态：</span>
        <Select style="width: 230px" v-model="mappingStatus">
          <Option value="0">全部</Option>
          <Option value="1">未映射</Option>
          <Option value="2">已映射</Option>
        </Select>
      </div>
      <Button type="primary" class="modelMapping-btn" style="background: #3f73ff;margin-left: 20px"
              @click="handleSearchBusinessModel">
        查询
      </Button>
    </div>
    <div class="modelMapping-table">
      <Table :columns="column" :data="tableData" :height="tableHeight" />
      <div class="modelMapping-page">
        <Page
          :total="modelMapping.total"
          :page-size="modelMapping.pageSize"
          :current="modelMapping.pageNum"
          @on-change="handleChangePageNumber($event)"
          @on-page-size-change="handleChangePageSize($event)"
          show-elevator
          show-sizer
          show-total
          style="align-self: flex-end"/>
      </div>
    </div>
    <Drawer class="business-drawer-mapping" title="数据映射" v-model="showMappingDrawer" width="65"
            @on-close="handleCancel">
      <div style="width: 100%; height: 95%">
        <div slot="content" class="mapping-relation" style="overflow: hidden">
          <canvas class="bezierCanvas" id="bezierCanvas1" :height="canvasAtt.height" :width="canvasAtt.width"></canvas>
          <div class="mask-canvas"></div>
          <Row v-if="showMappingDrawer" style="height: 95%">
            <Col span="10" style="height: 95%">
              <div style="display: block; margin-bottom: 10px;height: 60px">
                <div style="width: 100%; font-weight: bolder; margin-bottom: 10px; font-size: 14px">业务模型：</div>
                <div style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap"
                     :title="selectedBusinessModel.name">{{ selectedBusinessModel.name }}
                </div>
              </div>
              <Card dis-hover bordered class="mappingCardFirst">
                <div slot="title"
                     style="height: 32px; display: flex; justify-content: space-between; align-items: center">
                  <span>业务模型字段</span>
                  <span class="mappingModal_number">
                    <b>{{relationsNumber.used}}</b>/<b>{{relationsNumber.total}}</b><b>条</b>
                  </span>
                </div>
                <div
                  class="cardTitleLeft"
                  v-for="property in businessModelProperties"
                  :key="property.id||property.propertyVirtualId"
                  :value="property.id||property.propertyVirtualId"
                  @mousedown="handleMouseDown($event, property)">
                  <span :title="property.name">{{ property.name }}</span>
                  <div :value="property.id||property.propertyVirtualId" class="cardBlueBall"></div>
                </div>
              </Card>
            </Col>
            <Col span="10" offset="4" style="height: 95%">
              <div style="display: block; margin-bottom: 10px;height: 60px; width: 100%">
                <div style="width: 100%; font-weight: bolder; margin-bottom: 10px; font-size: 14px">选择数据源：</div>
                <FaTreeSelect
                  @changeDataSource="changeDataSource"
                  :dataSource="dataSource"
                  :treeData="dataSourceList"
                  :selected="selectedTableId"
                  @changeVal="handleChangeDaTaSource"
                  :selectParent="false"
                />
              </div>
              <Card dis-hover bordered class="mappingCardRight">
                <div slot="title" style="display: flex; justify-content: space-between; align-items: center">
                  <Input placeholder="请输入搜索内容" @on-change="mappingSearch" style="width: 88%"
                         v-model="mappingSearchValue" clearable search/>
                  <span class="mappingModal_number">
                    <b>{{columnNumber.used}}</b>/<b>{{columnNumber.total}}</b><b>条</b>
                  </span>
                </div>
                <div class="cardTitleRight" v-for="item in selectedTableColumns" :value="item.id" :key="item.id">
                  <div :value="item.id" class="cardBlueBall"></div>
                  <span :class="{active: item.matched}" :value="item.id" :key="item.id" style="margin-left: 10px">{{ item.label ? item.label : item.name }}</span>
                </div>
              </Card>
            </Col>
          </Row>
        </div>
      </div>
      <div class="drawFooter">
        <Button class="modelMapping-btn" style="margin-right: 16px; color: #3f73ff" @click="handleCancel">取消</Button>
        <Button class="modelMapping-btn" style="background: #3f73ff;" type="primary" @click="handleSubmitMapping">确定
        </Button>
      </div>
    </Drawer>
  </div>
</template>

<script>
import { queryBusinessModelForPage } from '@/api/businessModel'
import { doMapping, queryDataSourceForCategory } from '@/api/indicator'
import { getBusinessModelById } from '@/api/businessModel'
import FaTreeSelect from '@/components/treeSelect/treeSelectOriginalData'
import { deepCopy } from '../../utils/common'
import moment from 'moment'

const dateDimensionId = globalVariable.defaultDayDimensionId
export default {
  name: 'BusinessModelMapping',
  components: { FaTreeSelect },
  data() {
    return {
      dataSource: [],
      showMappingDrawer: false, // 是否展示右侧抽屉弹窗
      mappingDrawId: '',
      tableHeight: 0,
      column: [
        {
          title: '业务模型名称', align: 'left', key: 'name', tooltip: true,
          render: (h, params) => {
            let text = params.row.name
            if (text != null) {
              if (text.length > 15) {
                text = text.slice(0, 15) + '...' // 进行数字截取
              } else {
                text = text
              }
            }
            return h('div', [
              h('Tooltip', {
                props: {
                  transfer: true,
                  theme: 'light'
                }
              }, [text,
                h('span', {
                  slot: 'content',
                  style: {
                    whiteSpace: 'normal'
                  }
                }, params.row.name)
              ])
            ])
          }
        },
        { title: '创建人', align: 'left', key: 'creator' },
        {
          title: '创建时间', align: 'left', key: 'createTime',
          render: (h, params) => {
            return h('span', moment(params.row.createTime).format('yyyy-MM-DD HH:ss:mm'))
          }
        },
        {
          title: '所属分组', align: 'left', key: 'groupName',
          render: (h, params) => {
            let groupName = params.row.groupName
            if (!!groupName) {
              if (groupName.length > 15) {
                groupName = groupName.slice(0, 15) + '...' // 进行数字截取
              }
            } else {
              groupName = '业务模型组'
            }
            return h('div', [
              h('Tooltip', {
                props: {
                  transfer: true,
                  theme: 'light'
                }
              }, [groupName,
                h('span', {
                  slot: 'content',
                  style: {
                    whiteSpace: 'normal'
                  }
                }, params.row.groupName)
              ])
            ])
          }
        },
        {
          title: '状态', align: 'left', key: 'mapping',
          render: (h, params) => {
            const mapping = params.row.mapping
            return h('div', { style: { display: 'flex', alignItems: 'center' } }, [
              h('div', {
                style: {
                  height: '8px',
                  width: '8px',
                  background: mapping === false ? '#d8d8d8' : '#31c40e',
                  borderRadius: '100%'
                }
              }),
              h('span', { style: { marginLeft: '5px' } }, params.row.mapping === false ? '未映射' : '已映射')
            ])
          }
        },
        {
          title: '操作', align: 'left', key: 'action', width: '170',
          render: (h, params) => {
            return h('div', [
              h('span', {
                style: {
                  color: '#3f73ff',
                  textAlign: 'left',
                  cursor: 'pointer'
                },
                on: {
                  'click': (e) => {
                    const id = params.row.id
                    this.showMappingDrawer = true
                    if (this.mappingDrawId !== id) {
                      this.selectedBusinessModel = params.row
                      this.showDetails(id)
                    } else {
                      this.redrawMap(deepCopy(this.businessModelClone), true)
                    }
                    this.mappingDrawId = id
                  }

                }

              }, '映射')
            ])
          }
        },
      ],
      tableData: [],
      modelMapping: {
        total: 100,
        pageSize: 10,
        pageNum: 1
      },
      selectedBusinessModel: {}, // 当前选中的表格项 row 数据
      businessModelProperties: [], // 业务模型属性集合
      businessModelName: '',
      mappingStatus: '0',
      /** 映射 */
      showMappingPage: true, // 是否显示mapping面板
      dataSourceList: [], // 可映射的数据源分组集合
      mappingSearchValue: '', // mapping中查询输入框
      selectedMappingTable: [], // 已选的[数据源分组+表]id,根数据分组到表之间到id，逗号隔开
      selectedTableColumns: [], // 所选映射表的Columns集合
      selectedTableId: '',//选中的数据源
      relationsNumber: {
        used: 0,
        total: 0
      }, // 业务模型属性映射数量
      columnNumber: {
        used: 0,
        total: 0
      }, // 表列映射数量
      /** 连线画布 */
      canvasAtt: { height: '900px', width: '1920px' },
      // 连线重置
      businessModelClone: null
    }
  },
  mounted() {
    this.getTableHeight();
    window.onresize = this.getTableHeight;
    this.init()
    this.getBusinessModelForPage()
    this.selectProperty = null
    this.selectPropertyDom = null
    this.dateColumnId = '' // 日期列id
  },
  methods: {
    /**
     * 窗口大小改变时，重新计算表格高度
     */
    getTableHeight() {
      this.tableHeight = this.$refs.tableContainer.clientHeight - 260;
    },
    /**
     * 初始化变量
     */
    init() {
      // 业务模型属性与表列关联数据集合
      this.propertyColumnRelations = []
      // 当前点
      this.currentPoint = { left: null, right: null }
      this.canvas = null
      this.ctx = null
      this.point = {
        modelId: '', columnId: '',
        p1: { x: null, y: null },
        p2: { x: null, y: null },
        cp1: { x: null, y: null }
      }
      this.pointArr = []
      this.connectedNode = [] // 已经连接的节点
      this.bezierStyle = {
        curve: { width: 1, color: '#3f73ff' },
        point: { arrowLen: 10, theta: 30, fill: '#3f73ff' }
      }
    },
    handleCancel() {
      this.showMappingDrawer = false
      this.clearCanvas()
      let left = document.getElementsByClassName('cardTitleLeft'),
        right = document.getElementsByClassName('cardTitleRight')
      this.clearBlueBall(left, right)
      this.relationsNumber.used = 0
      this.columnNumber.used = 0
      this.selectedTableId = ''
    },
    /**
     * 清除左右连线标注的状态
     * @param left
     * @param right
     */
    clearBlueBall(left, right) {
      for (let i = 0; i < left.length; i++) {
        let point = left[i].getElementsByClassName('cardBlueBall')[0]
        if (point.getAttribute('style')) {
          point.removeAttribute('style')
        }
      }
      for (let i = 0; i < right.length; i++) {
        if (right[i].getAttribute('isUsed')) {
          right[i].removeAttribute('isUsed')
        }
        let point = right[i].getElementsByClassName('cardBlueBall')[0]
        if (point.getAttribute('style')) {
          point.removeAttribute('style')
        }
      }
    },
    /**
     * 查询
     */
    handleSearchBusinessModel() {
      this.modelMapping.pageNum = 1
      this.getBusinessModelForPage()
    },
    /**
     * 映射提交
     */
    handleSubmitMapping() {
      this.saveMapping()
    },
    /**
     * 保存时sort数组的判断条件
     * @param property
     * @returns {function(*, *)}
     */
    compareArr(property) {
      return function (a, b) {
        let value1 = a[property]
        let value2 = b[property]
        return value1 - value2
      }
    },
    /**
     * 保存映射关系
     * @param tip
     */
    saveMapping(tip) {
      let pcr = deepCopy(this.propertyColumnRelations)
      // 日期字段可以不映射
      const noDateRelation = this.dateColumnId && !pcr.find(item => item.businessModelPropertyId === this.dateColumnId) // 无字段映射
      if ((noDateRelation && pcr.length < this.relationsNumber.total - 1) || (!noDateRelation && pcr.length < this.relationsNumber.total)) {
        this.relationsNumber.used === 0 ? this.$Message.error('当前无映射关系!') : this.$Message.error('请映射完整!')
        return false
      }
      const param = {
        businessModelId: this.mappingDrawId,
        tableId: this.selectedMappingTable[this.selectedMappingTable.length - 1],
        src: this.selectedMappingTable ? this.selectedMappingTable.toString() : '',
        propertyColumnRelations: pcr.sort(this.compareArr('businessModelPropertyId'))
      }
      doMapping(param).then(res => {
        if (res.data.state === 'success') {
          if (!tip) this.$Message.success('映射成功')
          this.checkLoading = false
          this.showMappingDrawer = false
          this.mappingDrawId = ''
          this.getBusinessModelForPage()
        }
      })
    },
    /**
     * 打开业务模型详情信息，优先从缓存中取，取不到再从接口获取
     * @param id
     */
    showDetails(id) {
      getBusinessModelById(id).then(res => {
        let bm = res.data.data
        // 深拷贝，防止重置时仍然有之前的操作数据
        this.businessModelClone = deepCopy(bm)
        // 获取数据源数据
        this.selectedTableId = ''
        this.redrawMap(bm, false)
      })
    },
    /**
     * 重新渲染映射关系
     */
    redrawMap(bm, tooltip) {
      this.resetBusinessModelData(bm)
      this.loadMappingDataSourceData(tooltip, bm, () => {
        this.clearCanvas()
        this.canvasHeightAndWidth()
        this.handleCanvas()
      })
    },
    /**
     * 初始化业务模型数据
     * @param bm
     */
    resetBusinessModelData(bm) {
      this.mappingSearchValue = ''
      this.pointArr = []
      this.connectedNode = []
      this.relationsNumber.used = 0
      this.columnNumber.used = 0
      let businessModelProperties = bm.businessModelProperties
      if (businessModelProperties !== null && businessModelProperties.length > 0) {
        let businessModelTableRelation = bm.businessModelTableRelation
        const haveRelation = businessModelTableRelation !== null
          && businessModelTableRelation.propertyColumnRelations !== null
          && businessModelTableRelation.propertyColumnRelations.length > 0
        if (haveRelation) {
          let propertyColumnRelations = businessModelTableRelation.propertyColumnRelations
          businessModelProperties.forEach(item => {
            let temp = propertyColumnRelations.find(propertyColumnRelation => propertyColumnRelation.businessModelPropertyId === item.id)
            if (temp !== undefined) {
              item.isMapping = true
              item.dataSourceField = temp.columnId
            } else {
              item.isMapping = false
            }
          })
          let src = businessModelTableRelation.src
          this.selectedMappingTable = src ? src.split(',') : []
          this.propertyColumnRelations = propertyColumnRelations
        } else {
          businessModelProperties.forEach(item => item.isMapping = false)
          this.selectedMappingTable = []
          this.propertyColumnRelations = []
        }
        this.businessModelProperties = businessModelProperties
      } else {
        this.businessModelProperties = [{ name: '' }]
        this.selectedMappingTable = []
        this.propertyColumnRelations = []
      }
      this.relationsNumber.total = this.businessModelProperties.length
    },
    /**
     * 分页器
     * @param e
     */
    handleChangePageNumber(e) {
      this.modelMapping.pageNum = e
      this.getBusinessModelForPage()
    },
    handleChangePageSize(e) {
      this.modelMapping.pageSize = e
      this.getBusinessModelForPage()
    },
    /**
     * 获取业务模型数据
     */
    getBusinessModelForPage() {
      const { pageSize, pageNum } = this.modelMapping
      let param = {
        pageSize,
        pageNum
      }
      if (this.mappingStatus !== '0') {
        param.status = this.mappingStatus
      }
      if (this.businessModelName !== '') {
        param.businessModelName = this.businessModelName
      }
      queryBusinessModelForPage(param).then(res => {
        const data = res.data
        if (data.state === 'success') {
          this.tableData = data.data.data
          this.modelMapping.total = data.data.count
        }
      })
    },

    /** ************************************************* 业务模型映射 ****************************************** **/
    /**
     * 获取映射的数据源
     */
    loadMappingDataSourceData(repeat, bm, cb) {
      let tableId = bm?.businessModelTableRelation?.tableId
      if (!repeat) {
        queryDataSourceForCategory().then(res => {
          if (res.data.state === 'success') {
            let { data } = res.data
            this.dataSource = data
            const roots = {}
            let firstDataSource = ''
            let currentSelectedDataSource
            data.forEach((dataSource, index) => {
              const dataSourceDomain = dataSource.dataSourceDomain
              let root = []
              for (let key in dataSourceDomain) {
                if (key !== 'sqlTableList' && dataSourceDomain[key].length > 0) {
                  this.recursiveDataSourceGroup(dataSourceDomain[key], key)
                  root.push(dataSourceDomain[key][0])
                  if (tableId && currentSelectedDataSource === undefined && dataSourceDomain[key][0].children) {
                    let r = this.findTable(dataSourceDomain[key], tableId)
                    if (r) {
                      currentSelectedDataSource = root
                      firstDataSource = dataSource.id
                      this.dataSourceList = root
                    }
                  }
                }
              }
              if (index === 0) {
                this.dataSourceList = root // 默认展示第一项数据
              }
              roots[dataSource.id] = root
            })
            this.dataSourceListCopy = deepCopy(roots)
            if (this.selectedMappingTable.length > 0) {
              //树节点选中
              let len = this.selectedMappingTable.length
              this.selectedTableId = this.selectedMappingTable[len - 1]
              //数据
              this.selectedTableColumns = this.findSelectedTableMetadata(firstDataSource)
              this.sortSelectedTableColumns()
            } else {
              this.selectedTableColumns = []
              this.selectedTableId = ''
            }
          }
          if (cb) cb()
        })
      } else {
        if (this.selectedMappingTable.length > 0) {
          let len = this.selectedMappingTable.length
          this.selectedTableId = this.selectedMappingTable[len - 1]
          let tableMetadata = this.findSelectedTableMetadata()
          if (tableMetadata) {
            this.selectedTableColumns = tableMetadata
            this.sortSelectedTableColumns()
          } else {
            this.selectedTableColumns = []
            this.selectedTableId = ''
          }
        } else {
          this.selectedTableColumns = []
          this.selectedTableId = ''
        }
        if (cb) cb()
      }
    },

    /**
     * 递归获取选中的数据源
     */
    findTable(arr, tableId) {
      for (let i = 0; i < arr.length; i++) {
        if (Array.isArray(arr[i])) {
          let r = this.findTable(arr[i], tableId)
          if (r) {
            return true
          }
        } else {
          if (arr[i].children && arr[i].children.length > 0) {
            let r = this.findTable(arr[i].children, tableId)
            if (r) {
              return true
            }
          }
          if (tableId == arr[i].id) {
            return true
          }
        }
      }
    },

    //切换数据源
    changeDataSource(dataSource) {
      //this.dataSourceListCopy 是以数据源的id为key，数据源为值得对象
      this.dataSourceList = this.dataSourceListCopy[dataSource.id]
    },
    /**
     * 数据源选中
     * @param data
     */
    handleChangeDaTaSource(data) {
      document.onmousemove = null
      this.pointArr = []
      this.propertyColumnRelations = []
      for (let i = 0; i < this.connectedNode.length; i++) this.connectedNode[i][0].style.background = ''
      this.connectedNode = []
      this.relationsNumber.used = 0
      this.columnNumber.used = 0
      this.mappingSearchValue = ''
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)
      if (data) {
        this.selectedMappingTable = [data.id]
        this.selectedTableColumns = data.columns.filter(item => item.name !== '__UPLOAD_KEY__')
      } else {
        this.selectedTableColumns = []
      }
      this.columnNumber.total = this.selectedTableColumns.length
      let businessModelProperties = deepCopy(this.businessModelProperties)
      businessModelProperties.forEach(item => {
        item.isMapping = false
        item.dataSourceField = null
      })
      if (data.dateColumnId) {
        const dateColumn = data.columns.find(item => item.id === data.dateColumnId)
        if (dateColumn && (dateColumn.dataType !== 'DATETIME' || dateColumn.dataType !== 'TIMESTAMP')) {
          businessModelProperties
            .filter(businessModelProperty => businessModelProperty.dimensionId == dateDimensionId)
            .forEach(businessModelProperty => {
              businessModelProperty.dataSourceField = data.dateColumnId
              businessModelProperty.isMapping = true
              this.propertyColumnRelations.push({
                businessModelPropertyId: businessModelProperty.id,
                columnId: data.dateColumnId
              })
            })
        }
        this.businessModelProperties = businessModelProperties
        this.sortLine()
      } else {
        this.businessModelProperties = businessModelProperties
      }
    },
    /**
     * 递归数据源，构建树结构数据
     *
     */
    recursiveDataSourceGroup(treeData, key) {
      treeData.forEach(item => {
        item.title = item.label || item.name
        item.expand = true
        item.dataType = 'group'
        if (item.children !== null) {
          if (item.children.length > 0) {
            this.recursiveDataSourceGroup(item.children, key)
          }
          if (item['tableMetadataList'] && item['tableMetadataList'].length > 0) {
            item['tableMetadataList'].forEach(table => {
              item.children.push(
                {
                  title: table.label || table.name,
                  dataType: 'node',
                  dataKey: key,
                  columns: table.columns,
                  id: table.id,
                  name: table.name,
                  label: table.label,
                  dateColumnId: table.dateColumnId
                }
              )
            })
          }
        } else {
          item.children = item['tableMetadataList'].map(table => {
            return {
              title: table.label || table.name,
              dataType: 'node',
              dataKey: key,
              columns: table.columns,
              id: table.id,
              name: table.name,
              label: table.label,
              dateColumnId: table.dateColumnId
            }
          })
        }
      })
    },
    /**
     * 将映射过的property排在上面
     */
    sortSelectedTableColumns() {
      let target = deepCopy(this.selectedTableColumns)
      this.propertyColumnRelations.forEach(item => {
        this.businessModelProperties.forEach((original, refIndex) => {
          if (item.businessModelPropertyId == original.id && refIndex < target.length) {
            for (let i = 0; i < target.length; i++) {
              if (target[i].id == item.columnId && target[i].sorted !== 1) {
                const temp = target[refIndex]
                target[refIndex] = target[i]
                target[i] = temp
                target[refIndex].sorted = 1
              }
            }
          }
        })
      })
      this.selectedTableColumns = target
    },
    /**
     * 在dataSourceList找到对应的表
     */
    findSelectedTableMetadata() {
      let len = this.selectedMappingTable.length,
        lastNode = this.selectedMappingTable[len - 1]
      for (const key in this.dataSourceListCopy) {
        const columns = this.findSelectedNode(lastNode, this.dataSourceListCopy[key])
        if (columns) return columns
      }

    },
    /**
     * 根据nodeId递归拿到数据
     * @param target
     * @param allData
     * @returns {*}
     */
    findSelectedNode(target, allData) {
      for (let i = 0; i < allData.length; i++) {
        let item = allData[i]
        if (target == item.id) {
          return item.columns
        } else if (item.hasOwnProperty('tableMetadataList')) {
          let result = this.findSelectedNode(target, item.tableMetadataList)
          if (result !== undefined) {
            return result
          }
        }
        if (item.children && item.children.length) {
          let result = this.findSelectedNode(target, item.children)
          if (result !== undefined) {
            return result
          }
        }
      }
    },
    /***
     *
     * 清除画布
     * @returns {Generator<*, void, *>}
     */
    clearCanvas() {
      this.canvas = document.getElementById('bezierCanvas1')
      this.ctx = this.canvas.getContext('2d')
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)
      this.pointArr = []
      this.connectedNode = []
    },
    /**
     * 更新画板
     */
    handleCanvas() {
      this.clearCanvas()
      this.$nextTick(() => {
        this.columnNumber.total = this.selectedTableColumns.length
        let left = document.getElementsByClassName('cardTitleLeft'),
          right = document.getElementsByClassName('cardTitleRight')
        this.connectPropertyAndColumn(left, right)
        this.columnNumber.used = 0
        for (let i = 0; i < right.length; i++) right[i].getAttribute('isUsed') !== null ? this.columnNumber.used += 1 : null
      })
    },

    /**
     * 初始化画板宽度
     */
    canvasHeightAndWidth() {
      let els = document.getElementsByClassName('indicator-base-info')
      let el = els[0]
      if (el) {
        this.canvasAtt.width = '900px'
      }
    },

    /**
     * 切换数据表，重新映射
     * @param value
     */
    onDataSourceChange(value) {
      document.onmousemove = null
      this.pointArr = []
      this.propertyColumnRelations = []
      for (let i = 0; i < this.connectedNode.length; i++) this.connectedNode[i][0].style.background = ''
      this.connectedNode = []
      this.relationsNumber.used = 0
      this.columnNumber.used = 0
      this.mappingSearchValue = ''
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)
      if (value) {
        this.selectedMappingTable = value
        this.selectedTableColumns = this.findSelectedTableMetadata()
      } else {
        this.selectedTableColumns = []
      }
      this.businessModelProperties.forEach(item => {
        item.isMapping = false
        item.dataSourceField = null
      })
    },

    /**
     * 根据所映射的properties和columns连线
     * @param arr 已经映射的property和column集合
     * @param left 业务模型属性列表
     * @param right 所关联的表字段
     */
    connectPropertyAndColumn(left = [], right = []) {
      let arr = this.propertyColumnRelations
      this.relationsNumber.used = 0

      for (let i = 0; i < right.length; i++) {
        right[i].lastChild.style.background = ''
      }
      for (let j = 0; j < left.length; j++) {
        for (let k = 0; k < right.length; k++) {
          let relation = arr.find(item => {
            return item.businessModelPropertyId == left[j].getAttribute('value')
              && item.columnId == right[k].getAttribute('value')
          })

          if (relation) {
            let leftFirstElementChild = left[j].children[1]
            let rightFirstChild = right[k].firstChild
            leftFirstElementChild.style.background = '#3f73ff'
            rightFirstChild.style.background = '#3f73ff'

            if (right[k].getAttribute('isUsed') === null) {
              right[k].setAttribute('isUsed', 1)
            } else {
              right[k].setAttribute('isUsed', Number(right[k].getAttribute('isUsed')) + 1)
            }

            this.relationsNumber.used += 1
            this.connectedNode.push([leftFirstElementChild, rightFirstChild])
            let leftEleCenter = this.getEleCenter(leftFirstElementChild)
            let leftFirstPoint = this.getFirstPoint(leftEleCenter)

            let rightEleCenter = this.getEleCenter(rightFirstChild)
            let rightFirstPoint = this.getFirstPoint(rightEleCenter)
            let pt = {
              modelId: relation.businessModelPropertyId,
              columnId: relation.columnId,
              p1: {
                x: leftFirstPoint.x,
                y: leftFirstPoint.y
              },
              p2: {
                x: rightFirstPoint.x - 20,
                y: rightFirstPoint.y < 111 ? 111 : rightFirstPoint.y
              }
            }
            this.drawLine2(this.ctx, pt, this.bezierStyle)
            this.pointArr.push(pt)
            break
          }
        }
      }
    },

    /**
     * 绘制结束时再绘制被清除的上一条线段
     * @param ctx
     * @param point
     * @param bezierStyle
     */
    drawLine2(ctx, point, bezierStyle) {
      ctx.lineWidth = bezierStyle.curve.width
      ctx.strokeStyle = bezierStyle.curve.color
      ctx.beginPath()
      ctx.moveTo(point.p1.x, point.p1.y)
      ctx.lineTo(point.p2.x, point.p2.y)
      ctx.stroke()
      this.drawArrow(ctx, bezierStyle.point.arrowLen, bezierStyle.point.theta, point.p1.x, point.p1.y, point.p2.x, point.p2.y, bezierStyle.point.fill)
    },

    /**
     * 映射右侧容器内的数据源搜索
     */
    mappingSearch(e) {
      const value = e.target.value
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)
      this.selectedTableColumns = this.selectedTableColumns.map(item => ({ ...item, matched: false }))
      if (value) {
        const searchList = this.selectedTableColumns.filter(item => {
          const name = item.label || item.name
          return name.includes(value)
        }).map(item => ({ ...item, matched: true })) // match标记是搜索出来的
        const restList = this.selectedTableColumns.filter(item => {
          const name = item.label || item.name
          return !name.includes(value)
        })
        this.selectedTableColumns = [...searchList, ...restList]
      } else {
        this.selectedTableColumns = this.findSelectedTableMetadata()
        this.sortSelectedTableColumns()
      }
      this.handleCanvas()
    },

    /**
     * 清空画布
     * 如果此前进行过绘制则回显上次绘制的线
     * @param ctx
     * @param canvas
     * @param bezierStyle
     */
    refreshAllLine(ctx, canvas, bezierStyle) {
      //清空画布
      ctx.clearRect(0, 0, canvas.width, canvas.height)
      //判断是否之前已经画过
      if (this.pointArr.length !== 0) {
        this.pointArr.forEach(item => this.drawLine2(ctx, item, bezierStyle))
      }
    },

    /**
     * 绘制一条新的线段
     * @param canvas
     * @param ctx
     * @param point
     * @param bezierStyle
     */
    drawLine(canvas, ctx, point, bezierStyle) {
      this.refreshAllLine(ctx, canvas, bezierStyle)
      //创建路径
      // ctx.beginPath()
      if (point && point.p1) {
        //设置线条宽度
        ctx.lineWidth = bezierStyle.curve.width
        //设置笔触颜色
        ctx.strokeStyle = bezierStyle.curve.color
        //开始第二条路径 设置起点
        ctx.moveTo(point.p1.x, point.p1.y)
        //设置第二点位置
        ctx.lineTo(point.p2.x, point.p2.y)
        // ctx.quadraticCurveTo(point.cp1.x,point.cp1.y,point.p2.x,point.p2.y)
        //完成创建并绘制
        ctx.stroke()
        //绘制三角形箭头
        this.drawArrow(ctx, bezierStyle.point.arrowLen, bezierStyle.point.theta, point.p1.x, point.p1.y, point.p2.x, point.p2.y, bezierStyle.point.fill)
      }

    },

    /**
     * 绘制线段右侧箭头
     * atan2为反正切函数
     * Math.atan2（y, x）计算出斜角
     * 再 * 180 / π 是将弧度转为角度
     * y > 0时，线与x轴的角度是x轴正方向绕逆时针到线旋转角的角度
     * y < 0时，则为顺时针
     * (angle +- theta) * Math.PI / 180 计算两侧的夹角
     * 然后就是三角函数
     * x = cosθ * r
     * y = sinθ * r
     * @param ctx
     * @param arrowLen 箭头长度
     * @param theta 一个固定角度的夹角θ
     * @param fromX 起点的x
     * @param fromY y
     * @param toX   终点的x
     * @param toY   y
     * @param color 颜色
     */
    drawArrow(ctx, arrowLen, theta, fromX, fromY, toX, toY, color) {
      // 计算各角度和对应的箭头终点坐标
      let angle = Math.atan2(fromY - toY, fromX - toX) * 180 / Math.PI,
        angle1 = (angle + theta) * Math.PI / 180,
        angle2 = (angle - theta) * Math.PI / 180,
        topX = arrowLen * Math.cos(angle1),
        topY = arrowLen * Math.sin(angle1),
        botX = arrowLen * Math.cos(angle2),
        botY = arrowLen * Math.sin(angle2),
        arrowX,
        arrowY
      ctx.beginPath()
      arrowX = toX + topX
      arrowY = toY + topY
      //画上边箭头线
      ctx.moveTo(arrowX, arrowY)
      ctx.lineTo(toX, toY)
      arrowX = toX + botX
      arrowY = toY + botY
      //画下边箭头线
      ctx.lineTo(arrowX, arrowY)
      ctx.strokeStyle = color
      ctx.stroke()
    },

    /**
     * 设置起点终点正确坐标 （偏移）
     * @param e
     * @returns {null|{x: number, y: number}}
     */
    //设置起点终点正确坐标
    getFirstPoint(e) {
      let cbox = this.canvas.getBoundingClientRect()
      if (e) {
        return { x: e.left - cbox.x, y: e.top - cbox.y }
      } else {
        return null
      }
    },

    /**
     * 获取blueBall中心点(起点坐标)
     * @param ele
     * @returns {{top: *, left: *}}
     */
    getEleCenter(ele) {
      let rect = ele.getBoundingClientRect()
      let center = {
        left: rect.left + (rect.right - rect.left) / 2,
        top: rect.top + (rect.bottom - rect.top) / 2
      }
      let scrollLeft = document.body.scrollLeft || document.documentElement.scrollLeft
      let scrollTop = document.body.scrollTop || document.documentElement.scrollTop
      center.left += scrollLeft
      center.top += scrollTop
      return center
    },

    /**
     * 查下标
     * @param arrays
     * @param obj
     * @returns {boolean|*}
     */
    contains(arrays, obj) {
      let i = arrays.length
      while (i--) {
        if (arrays[i] === obj) {
          return i
        }
      }
      return false
    },

    /**
     * 获取坐标
     * @param e
     * @returns {{x: number, y: number}}
     */
    getPoint(e) {
      let cbox = this.canvas.getBoundingClientRect()
      return { x: e.pageX - cbox.x, y: e.pageY - cbox.y }
    },

    /**
     * 重画某条线段
     * @param e
     * @returns {Property<any>|string|string|null}
     */
    reDrawLine(boll) {
      let modelId = boll.getAttribute('value')
      if (modelId) {
        for (let i = 0; i < this.pointArr.length; i++) {
          if (this.pointArr[i].modelId == modelId) {
            this.pointArr.splice(i, 1)
            this.relationsNumber.used -= 1
            break
          }
        }
        for (let i = 0; i < this.propertyColumnRelations.length; i++) {
          if (this.propertyColumnRelations[i].businessModelPropertyId == modelId) {
            this.propertyColumnRelations.splice(i, 1)
          }
        }
        this.setRightBoxStyle(modelId)
        return modelId
      }
      return null
    },

    /**
     * 线段绘至右侧数据框时的样式
     * @param modelId
     */
    setRightBoxStyle(modelId) {
      const connectedNode = this.connectedNode
      const len = connectedNode.length
      for (let i = 0; i < len; i++) {
        const item = connectedNode[i]
        let leftModelId = item[0].parentNode.getAttribute('value')
        if (leftModelId == modelId) {
          let rightNode = item[1].parentNode
          let used = rightNode.getAttribute('isUsed')
          if (used !== undefined) {
            if (Number(used) === 1) {
              rightNode.removeAttribute('isUsed')
              item[1].style.background = ''
            } else if (Number(used) > 1) {
              rightNode.setAttribute('isUsed', parseInt(used) - 1)
            }
            this.columnNumber.used -= 1
            this.connectedNode.splice(i, 1)
          }
          break
        }

      }
    },

    /**
     * 选中左侧点开始拖动时左侧目标物的样式
     * @param e
     */
    setLeftBoxDataAndStyleHeightLight(e) {
      let ball = e.target
      if (ball.className === 'cardBlueBall') {
        if (!ball.style.background) {
          ball.style.background = '#3f73ff'
          ball.heightLight = true
        }
      } else if (ball.className === 'cardTitleLeft') {
        ball = e.target.lastChild
        if (!ball.style.background) {
          ball.style.background = '#3f73ff'
        }
      }
      this.currentPoint.left = ball
      this.point.modelId = ball.getAttribute('value')
    },

    /**
     * 鼠标按下的时触发的事件
     * 获取坐标与设置左侧点的样式
     * 并获取点的坐标
     * 注册mousemove事件开始绘制
     * mouseout判断鼠标结束时是否在左侧列表可连线物体的范围内 没有则清除此次绘制
     * 若mouseup时在可连线的范围内则设置终点坐标
     * up后清除move事件 out 与自身up事件 将连线的坐标与内容获取保存并结束此次绘制
     * @param e
     */
    handleMouseDown(e, selectedProperty) {
      this.selectProperty = selectedProperty
      this.selectPropertyDom = e.target
      let { bezierStyle, canvas, ctx } = this
      if (!this.selectedTableColumns.length) return
      this.clearPoint()
      let color
      this.setLeftBoxDataAndStyleHeightLight(e)
      color = this.getEleCenter(this.currentPoint.left)
      let event = this.getFirstPoint(color)
      this.point.p1.x = event.x
      this.point.p1.y = event.y
      this.reDrawLine(this.currentPoint.left)
      this.refreshAllLine(ctx, canvas, bezierStyle)
      document.onmousemove = (e) => this.onmousemove(e, canvas, ctx, bezierStyle)
      document.onmouseout = (e2) => this.onmouseout(e2)
      document.onmouseup = e3 => this.onmouseup(e3)
    },
    onmouseup: function (e3) {
      document.onmousemove = null
      document.onmouseout = null
      document.onmouseup = null
      let el = e3.target
      let parentNode = el.parentNode
      if (parentNode.className === 'cardTitleRight') {
        parentNode.style.background = ''
      } else if (el.className === 'cardTitleRight') {
        el.style.background = ''
      }
      let { bezierStyle, canvas, ctx } = this
      let { upColor } = this.setPointColumnValue(e3)
      let pt = this.getFirstPoint(upColor)
      let flag = this.isModelCircle(e3)
      if (this.point.columnId && !flag) {
        if (this.selectProperty.type === 2) {
          const targetColumn = this.selectedTableColumns.find(item => item.id === this.point.columnId)
          if (targetColumn.dataType.toUpperCase() === 'TIMESTAMP'
            || targetColumn.dataType.toUpperCase() === 'DATETIME') {
            this.$Message.error({ content: '维度不允许映射时间戳', duration: 3 })
            this.selectPropertyDom.removeAttribute('style')
            this.sortLine()
            return
          }
        }
        this.point.p2.x = pt.x - 20
        this.point.p2.y = pt.y
        this.pointArr.push(deepCopy(this.point))
        this.connectedNode.push([this.currentPoint.left, this.currentPoint.right])
        this.relationsNumber.used += 1
        let rightList = document.getElementsByClassName('cardTitleRight')
        this.columnNumber.used = 0
        for (let i = 0; i < rightList.length; i++) rightList[i].getAttribute('isUsed') !== null ? this.columnNumber.used += 1 : null
        this.propertyColumnRelations.push({
          businessModelPropertyId: Number(this.point.modelId),
          columnId: Number(this.point.columnId)
        })
        this.sortLine()
      } else {
        this.currentPoint.left.style.background = ''
        this.drawLine(canvas, ctx, null, bezierStyle)
      }
    },
    onmouseout(e2) {
      let el = e2.target
      let parentNode = el.parentNode
      let isLeft = parentNode.className === 'cardTitleLeft'
      let cardBlueBall
      if (!isLeft && parentNode.className === 'cardTitleRight') {
        cardBlueBall = parentNode.getElementsByClassName('cardBlueBall')[0]
        parentNode.style.background = ''
        cardBlueBall.style.background = ''
      } else if (!isLeft && el.className === 'cardTitleRight') {
        parentNode = el
        cardBlueBall = parentNode.getElementsByClassName('cardBlueBall')[0]
        cardBlueBall.style.background = ''
        parentNode.style.background = ''
      }
      if (parentNode.getAttribute('isUsed')) {
        cardBlueBall.style.background = '#3f73ff'
      }

    },
    onmousemove(e1, canvas, ctx, bezierStyle) {
      let el = e1.target
      let parentNode = el.parentNode
      let cardBlueBall = null
      if (parentNode.className === 'cardTitleRight') {
        cardBlueBall = parentNode.getElementsByClassName('cardBlueBall')[0]
        cardBlueBall.style.background = '#3f73ff'
        parentNode.style.background = '#ccdef0'
      } else if (el.className === 'cardTitleRight') {
        cardBlueBall = el.getElementsByClassName('cardBlueBall')[0]
        el.style.background = '#ccdef0'
        cardBlueBall.style.background = '#3f73ff'
      }
      let event = this.getPoint(e1)
      if (cardBlueBall) {
        this.point.p2.x = this.getFirstPoint(this.getEleCenter(cardBlueBall)).x - 20
      } else {
        this.point.p2.x = event.x
      }
      this.point.p2.y = event.y
      this.drawLine(canvas, ctx, this.point, bezierStyle)
    },
    /**
     *
     * @returns {number}
     */
    orderPointArr() {
      // let offset = 0
      let arr = []
      for (let i = 0; i < this.businessModelProperties.length; i++) {
        for (let j = 0; j < this.pointArr.length; j++) {
          let id = this.businessModelProperties[i].id || this.businessModelProperties[i].propertyVirtualId
          if (parseInt(id) === parseInt(this.pointArr[j].modelId)) {
            // offset = i
            let data = deepCopy(this.pointArr[j])
            arr.push(data)
          }
        }
      }
      this.pointArr = arr
    },

    /**
     * 判断起点是否为左侧某一个蓝点
     * @param e
     * @returns {boolean}
     */
    isModelCircle(e) {
      return e.target.parentNode.className === 'cardTitleLeft'
    },

    /**
     * 设置线段两端已关联的蓝点的样式
     * @param node
     * @returns {{top: *, left: *}}
     */
    setNodeColor(node) {
      let upColor = {}
      if (node.parentNode.getAttribute('isUsed') === null) {
        node.parentNode.setAttribute('isUsed', 1)
      } else {
        node.parentNode.setAttribute('isUsed', Number(node.parentNode.getAttribute('isUsed')) + 1)
      }
      this.point.columnId = node.parentNode.getAttribute('value')
      node.heightLight = true
      node.style.background = '#3f73ff'
      upColor = this.getEleCenter(node)
      this.currentPoint.right = node
      return upColor
    },

    /**
     *
     * @param e
     * @returns {{upColor: {top: *, left: *}}}
     */
    setPointColumnValue(e) {
      let upColor
      let parentNode = e.target.parentNode
      if (parentNode.className === 'cardTitleRight') {
        let cardBlueBall = parentNode.getElementsByClassName('cardBlueBall')[0]
        upColor = this.setNodeColor(cardBlueBall)
      } else if (e.target.className === 'cardTitleRight') {
        let cardBlueBall = e.target.getElementsByClassName('cardBlueBall')[0]
        upColor = this.setNodeColor(cardBlueBall)
      }
      return { upColor }
    },

    /**
     * 清空各个坐标与对应数据
     */
    clearPoint() {
      this.point = {
        modelId: '',
        columnId: '',
        p1: { x: null, y: null },
        p2: { x: null, y: null },
        cp1: { x: null, y: null },
      }
    },

    /**
     * 排序线段
     */
    sortLine() {
      this.orderPointArr()
      this.ctx.clearRect(0, 0, this.canvas.width, this.canvas.height)
      let { pointArr, selectedTableColumns } = this
      let fields = deepCopy(selectedTableColumns)
      let temp = {}
      let arrLen = pointArr.length
      let fieldsList = fields.length
      fields.forEach(item => {
        item.isSort = false
      })
      for (let i = 0; i < arrLen; i++) {
        for (let j = 0; j < fieldsList; j++) {
          if ((parseInt(pointArr[i].columnId) === parseInt(fields[j].id)) && !fields[j].isSort) {
            if (i < fieldsList) {
              fields[j].isSort = true
              temp = deepCopy(fields[i])
              fields[i] = fields[j]
              fields[j] = temp
            }
          }
        }
      }
      this.setConnectNode()
      this.selectedTableColumns = fields
      this.handleCanvas()
    },

    /**
     * 限制不能重复连线
     */
    setConnectNode() {
      let right = document.getElementsByClassName('cardTitleRight')
      for (let j = 0; j < right.length; j++) {
        let value = right[j].getAttribute('isUsed')
        if (value) {
          right[j].removeAttribute('isUsed')
        }
      }
    },

  }
}
</script>

<style scoped lang="less">
.modelMapping-container {
  height: 100%;
  width: 100%;
  background: white;
  padding: 10px 0 20px 0;
}

.modelMapping_header {
  display: flex;
  align-items: center;
  line-height: 8%;
  height: 8%;
  width: 100%;
  border-bottom: 1px solid #F1F5FA;
  padding: 19px 0 19px 16px;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0;
  font-weight: bold;
}

.modelMapping_option {
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 16px;
  margin: 16px 0;
}

.modelMapping-btn {
  width: 72px;
  border-radius: 2px;
  margin-left: 8px
}

.modelMapping-table {
  height: 81%;
  width: 100%;
  padding: 0 16px;
}

.modelMapping-page {
  height: 34px;
  width: 100%;
  display: flex;
  padding: 0 16px;
  flex-direction: column;
  margin-top: 20px;
}

.drawFooter {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
}

.mapping-relation {
  overflow: hidden;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mappingModal_number:last-child {
  position: absolute;
  right: 10px
}

.mappingModal_number b {
  font-weight: normal;
}

.mappingModal_number b:first-child {
  color: #3f73ff;
}

.bezierCanvas {
  position: absolute;
}

.mask-canvas {
  width: 100%;
  height: 13.5%;
  position: absolute;
  background: #FFFFFF;
}

.cardTitleLeft {
  display: flex;
  align-items: center;
  height: 22px;

  > span {
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .cardBlueBall {
    cursor: pointer;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    float: right;
    border: 1px solid #3f73ff
  }
}

.cardTitleRight {
  height: 22px;
  display: flex;
  align-items: center;

  .cardBlueBall {
    cursor: pointer;
    height: 8px;
    width: 8px;
    border-radius: 100%;
    border: 1px solid #3f73ff;
  }

  > span.active {
    color: #3f73ff;
  }
}

.mappingCardFirst {
  margin: 6px 0;
  height: 98%;

  /deep/ .ivu-card-body {
    height: 90%;
    overflow: auto;
  }
}

.mappingCardRight {
  height: 98%;

  /deep/ .ivu-card-body {
    height: 90%;
    overflow: auto;
  }


}

/deep/ .ivu-card-head {
  background: rgba(204, 204, 204, 0.10);
  padding: 8px 14px;
  color: #888
}

/deep/ .ivu-card {
  border-radius: 2px;
}

/deep/ .ivu-select-selection, /deep/ .ivu-input {
  border-radius: 2px;
}

/deep/ .ivu-table-tbody {
  height: 100%;
  overflow: auto;
}

/deep/ .ivu-drawer-body {
  overflow: hidden;
}

/deep/ .ivu-drawer-header-inner {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
}

/deep/ .ivu-table-row td {
  height: 40px;
}

/deep/ .ivu-table-cell div {
  //margin-top: 5px;
}

</style>
<style>
.business-drawer-mapping .ivu-drawer-content .ivu-drawer-header .ivu-drawer-header-inner {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
}
</style>
