<template>
  <Input v-model="authCode" placeholder="请输入验证码" @on-focus="focus">
    <span slot="prepend">
      <img src="@/assets/images/login/authcode.png" />
    </span>
    <span slot="append" style="color:#497AFF;font-size:16px">
      <a v-show="step === 1" @click="startSetInterval">发送验证码</a>
      <a v-show="step === 2">({{ numDown }})秒后重发</a>
      <a v-show="step === 3" @click="startSetInterval">重新发送</a>
    </span>
  </Input>
</template>
<script>
export default {
  name: "authCodeInput",
  props: {
    countDown: {
      type: Number,
      default: 60,
    },
  },
  data() {
    return {
      form: {
        username: "",
      },
      step: 1,
      timer: null,
      authCode:this.code,
      numDown:this.countDown
    };
  },
  watch:{
    code(val){
      this.authCode = val
    },
    authCode(cd){
      this.$emit("change",cd)
    }

  },
  computed: {},
  mounted() {},
  methods: {
    focus(e){
      this.$emit("focus",e)
    },
    startSetInterval() {
      this.$emit("sendCallback",()=>{
      this.step = 2;
      this.timer = setInterval(() => {
        if (this.numDown > 0) {
          this.numDown--;
        } else {
          this.numDown = this.countDown;
          this.step = 3;
          clearInterval(this.timer)
        }
      }, 1000);
      });
      
    },
  },
};
</script>
