<template>
  <Input :type="passwordType" v-model="password" :placeholder="placeholder" @on-focus="focus">
    <slot slot="prepend" name="icon">
      <span v-if="isIconCustomer"><solt></solt></span>
      <Icon v-else :size="21" color="#A2A5BD" type="md-lock"></Icon>
    </slot>
    <span slot="append">
      <img @click="passwordToggle" :src="showPassword ? OPENEYES : CLOSEEYES" />
    </span>
  </Input>
</template>
<script>
import OPENEYES from "@/assets/images/login/openeyes.png";
import CLOSEEYES from "@/assets/images/login/closeeyes.png";

export default {
  name: "PasswordInput",
  props: {
    countDown: {
      type: Number,
      default: 60,
    },
    isIconCustomer:{
      type:Boolean,
      default:false
    },
    comModel: {
      type: String,
      default: "",
    },
    placeholder:{
      type:String,
      default:"请输入密码"
    }
  },
  data() {
    return {
      showPassword: false,
      passwordType: "password",
      password: this.comModel,
      OPENEYES,
      CLOSEEYES,
    };
  },
  computed: {},
  watch: {
    comModel(val) {
      this.password = val;
    },
    password(pw) {
      this.$emit("change", pw);
    },
  },
  mounted() {},
  methods: {
    focus(e){
      this.$emit("focus",e)
    },
    passwordToggle() {
      this.showPassword = !this.showPassword;
      this.passwordType = this.showPassword ? "text" : "password";
    },
  },
};
</script>
