<template>
  <Modal class="dispatchSetting-container" title="调度设置" width="524" v-model="show">
    <section class="dispatchWrapper dispatchType">
      <span>调度类型：</span>
      <span>{{fetchTypeShow}}</span>
    </section>
    <section class="dispatchWrapper dispatchMode">
      <span>调度方式：</span>
      <span>{{dataUpdateTypeShow}}</span>
    </section>
    <section class="dispatchWrapper dispatchStartTime">
      <span>开始时间：</span>
      <span style="margin-right: 10px" class="gray-color">{{startDate}}</span>
      <span class="gray-color">{{time}}</span>
    </section>
    <section class="dispatchRate">
      <div class="dispatchWrapper">
        <span>调度频率：</span>
        <span class="gray-color">{{frequencyTypeShow}}</span>
      </div>
      <div class="dispatchRateEasy" v-if="frequencyType===1">
        <span style="margin-right:7px;">每
          <span class="blue-color" style="margin: 0 8px;">{{simpleRetryInfo}}</span>
          <span>{{simpleRetryInfoCycle}}</span>
          <span class="blue-color" style="margin: 0 8px;">执行一次</span>
        </span>
      </div>
      <div class="dispatchRateDetail" v-if="frequencyType===3">
        <div style="display: flex">
          <span>执行时间：</span>
          <div>
            <div v-for="(time,index) in executeTime" :key="index">{{time}}</div>
          </div>
        </div>
        <div>
          <span>执行日：</span>
          <span style="margin-right: 10px">{{executeDay}}</span>
          <span>{{executeDayRemark}}</span>
        </div>
        <div>
          <span>执行月：</span>
          <span>{{executeMonth}}</span>
        </div>
      </div>
    </section>

    <section class="dispatchAdvanced" v-if="retryEnable">
      <span>重跑次数：</span>
      <span style="margin-right: 33px" class="blue-color">{{retryTimes}}</span>
      <span>重跑间隔：</span>
      <span class="blue-color" style="margin-right: 8px">{{retryInterval}}</span>分钟
    </section>
    <div slot="footer">
    </div>
  </Modal>
</template>

<script>

  export default {
    name: 'DispatchSettingViewer',
    data() {
      return {
        show: false,
        // 调度类型 直连、抽取
        fetchType: null,
        // 数据更新方式 全量覆盖、全量追加、增量覆盖
        dataUpdateType: null,
        // 频率类型 简单重复、只执行一次、明细频率
        frequencyType: null,
        // 开始日期
        startDate: null,
        time: null,
        // 简单重复执行显示信息
        simpleRetryInfo: null,
        simpleRetryInfoCycle: null,
        // 明细配置 执行日
        executeDay: null,
        // 执行日 - 周、月
        executeDayRemark: null,
        // 明细配置 执行月
        executeMonth: null,
        // 明细配置 执行时间
        executeTime: [],
        // 是否开启重试
        retryEnable: false,
        // 重试间隔
        retryInterval: null,
        // 重试次数
        retryTimes: null
      }
    },
    computed: {
      fetchTypeShow() {
        if (this.fetchType === 1) {
          return '抽取'
        }
        return '直连'
      },
      dataUpdateTypeShow() {
        if (this.dataUpdateType === 1) {
          return '全量覆盖更新'
        } else if (this.dataUpdateType === 2) {
          return '全量追加更新'
        } else if (this.dataUpdateType === 3) {
          return '增量覆盖更新（按业务日期）'
        }
        return ''
      },
      frequencyTypeShow() {
        if (this.frequencyType === 1) {
          return '简单重复执行'
        } else if (this.frequencyType === 2) {
          return '只执行一次'
        } else if (this.frequencyType === 3) {
          return '明细频率设置'
        }
        return ''
      }
    },
    methods: {
      openModal(data) {
        this.show = true
        this.fetchType = data.fetchType
        this.dataUpdateType = data.dataUpdateType
        this.frequencyType = data.frequencyType
        this.startDate = data.effectiveDate
        this.time = data.time
          .split(":")
          .map(ele => (parseInt(ele) < 10 ? `0${parseInt(ele)}` : ele))
          .join(":");
        let jobDetailConfig = data.jobDetailConfig
        if (this.frequencyType === 1) {
          this.dealWithSimpleRetry(jobDetailConfig)
        } else if (this.frequencyType === 3) {
          this.dealWithDetailFrequency(jobDetailConfig)
        }
        if (data.retryEnable === 1) {
          this.retryEnable = true
          this.retryInterval = data.retryInterval
          this.retryTimes = data.retryTimes
        } else {
          this.retryEnable = false
        }
      },
      /**
       * @description 简单重复执行
       * @param jobDetailConfig 任务配置信息
       */
      dealWithSimpleRetry(jobDetailConfig) {
        let jobData = jobDetailConfig.split(',')
        let by
        if (jobData[1] === '1') {
          by = '分钟'
        } else if (jobData[1] === '2') {
          by = '小时'
        } else if (jobData[1] === '3') {
          by = '天'
        } else if (jobData[1] === '4') {
          by = '周'
        }
        this.simpleRetryInfo = jobData[0]
        this.simpleRetryInfoCycle = by
      },

      /**
       * @description 明细频率
       * @param jobDetailConfig 任务配置信息
       */
      dealWithDetailFrequency(jobDetailConfig) {
        let detail = JSON.parse(jobDetailConfig)
        let { executeDayType, executeMonth, executeTime, value } = detail
        if (executeDayType === 1) {
          this.executeDay = '按天'
        } else if (executeDayType === 2) {
          this.executeDay = '按周'
          this.executeDayRemark = value.map(v => {
            if (v === 1) {
              return '周一'
            } else if (v === 2) {
              return '周二'
            } else if (v === 3) {
              return '周三'
            } else if (v === 4) {
              return '周四'
            } else if (v === 5) {
              return '周五'
            } else if (v === 6) {
              return '周六'
            } else if (v === 7) {
              return '周日'
            }
          }).join('，')
        } else if (executeDayType === 3) {
          this.executeDay = '按月'
          this.executeDayRemark = value.map(v => parseInt(v) + '日').join('，')
        }
        this.executeMonth = executeMonth.map(month => month + '月').join('，')
        this.executeTime = executeTime.map(ele => {
          let hour = ele.hour < 10 ? `0${ele.hour}` : ele.hour;
          let minute = ele.minute < 10 ? `0${ele.minute}` : ele.minute;
          return `${hour}:${minute}`
        });
      },
    }
  }
</script>

<style scoped lang="less">
  .dispatchSetting-container {
    .gray-color{
      color: rgba(0,0,0,0.65);
    }
    .blue-color{
      color: #3F73FF;
    }
    /deep/ .ivu-modal {
      .ivu-modal-header {
        padding: 14px 25px 9px 30px;
      }

      .ivu-modal-body {
        padding: 29px 25px 30px 30px;
        font-size: 12px;
        color: #333333;

        .dispatchWrapper {
          display: flex;
          align-items: center;
          margin-bottom: 12px;

          &.dispatchType,
          &.dispatchMode {
            .ivu-radio-group {
              .ivu-radio-wrapper:not(:last-child) {
                margin-right: 26px;

                .ivu-radio {
                  margin-right: 7px;
                }
              }
            }
          }
        }

        .dispatchRate {
          margin-bottom: 16px;

          .dispatchWrapper {
            margin-bottom: 8px;
          }

          .dispatchRateEasy,
          .dispatchRateDetail {
            margin-left: 60px;
          }

          .dispatchRateEasy {
            .ivu-input-number-handler-wrap {
              display: none;
            }
          }

          .dispatchRateDetail {
            .executionDate-container {
              margin-bottom: 8px;
            }
          }
        }

        .dispatchAdvanced {
          .repeatExec {
            margin-top: 8px;
            margin-left: 60px;
          }
        }
      }

      .ivu-modal-footer {
        padding: 0 25px 24px 0;
        border-top: none;
      }
    }
  }
</style>
