<template>
  <div class="top" ref="tableContainer">
    <div class="right-canvas" style="width: 100%">
      <div class="dataset-name">
        <Row class="dataset-name-row">
          <Col span="20" class="choose-area">
            <div class="choose-name" style="display: flex; margin-right: 20px">
              <div style="display: flex; align-items: center; cursor: pointer" @click="goBack">
                <img src="../../../assets/images/dataset/back.svg" />
                <span style="margin-left: 5px">返回</span>
              </div>
            </div>
            <div class="choose-name" style="display: flex">
              <div class="name" style="width: 60px">宽表名称：</div>
              <div style="width: 160px" class="value">{{ name }}</div>
            </div>
            <div class="choose-name" style="display: flex">
              <div class="name" style="width: 72px">时间查询列：</div>
              <div style="width: 160px" class="value">{{ dateColumn }}</div>
            </div>
            <div class="choose-name" style="display: flex">
              <div class="name" style="width: 62px">所属分组：</div>
              <div style="width: 160px" class="value">{{ groupName }}</div>
            </div>
          </Col>
          <Col span="4" class="actionBtnArea">
            <div class="dispatchSettingBtn" @click="openDispatchSettingModal">
              <img src="@/assets/icons/dataSetList/dispatchSetting.svg" alt="" />
              <span>调度信息</span>
            </div>
          </Col>
        </Row>
      </div>
      <div style="height: 100%">
        <div class="canvas-area">
          <div id="table-nodes-container">
            <table-node :data="tableNode" :relation-type="relationType" />
          </div>
        </div>
        <div class="show-table-fields">
          <div class="config-dataset">
            <Tabs value="dataset" style="width: 100%; height: 100%">
              <TabPane label="结果集" name="dataset" style="width: 100%; height: 100%">
                <div class="dataset">
                  <Table :columns="datasetColumns" :data="datasetData" :max-height="tableHeight" />
                </div>
              </TabPane>
              <TabPane label="新增列" v-if="newCalculateColumnList.length > 0" name="config">
                <div class="config">
                  <div slot="content">
                    <Table :columns="newCalculateColumnMeta" :data="newCalculateColumnList" />
                  </div>
                </div>
              </TabPane>
            </Tabs>
          </div>
        </div>
      </div>
      <new-calculate-column-viewer ref="newCalculateColumnViewer" />
      <dispatch-setting-viewer ref="dispatchSettingViewer" />
    </div>
  </div>
</template>

<script>
import { NEW_CALCULATE_COLUMN_DATA_TYPE, COLUMN_TYPE_DATE } from "../constant";
import { getDatasetData, getTableData } from "../../../api/dataset";
import TableNode from "./TableNode.vue";
import NewCalculateColumnViewer from "./NewCalculateColumnViewer.vue";
import DispatchSettingViewer from "./DispatchSettingViewer.vue";
import moment from "moment";

export default {
  components: {
    TableNode,
    DispatchSettingViewer,
    NewCalculateColumnViewer,
  },
  name: "DatasetViewer",
  data() {
    return {
      // 名称 label
      name: "",
      // 已选日期列
      dateColumn: null,
      // 分组名称
      groupName: null,
      tableHeight: 0,
      newCalculateColumnMeta: [
        { title: "列名", key: "name" },
        { title: "显示名", key: "label" },
        {
          title: "类型",
          key: "dataType",
          render: (h, { row }) => {
            return h(
              "span",
              {
                props: {
                  transfer: true,
                },
                style: {
                  width: "120px",
                },
              },
              NEW_CALCULATE_COLUMN_DATA_TYPE.find((key) => key.value == row.dataType).label
            );
          },
        },
        {
          title: "长度",
          key: "dataSize",
        },
        {
          title: "操作",
          alain: "right",
          align: "center",
          key: "showAble",
          render: (h, params) => {
            let buttons = [
              h(
                "a",
                {
                  style: {
                    marginRight: "10px",
                    color: "#3F73FF",
                  },
                  on: {
                    click: () => {
                      this.$refs.newCalculateColumnViewer.openModal(params);
                    },
                  },
                },
                "查看"
              ),
            ];
            return h("span", buttons);
          },
        },
      ],
      newCalculateColumnList: [],
      datasetColumns: [],
      datasetData: [],
      relationType: null,
      tableNode: [],
    };
  },
  created() {
    // 任务调度信息
    this.jobConfig = null;
  },
  mounted() {
    this.id = this.$route.query.datasetId;
    console.log(this.id);
    this.getDetail();
    this.getTableHeight();
  },
  methods: {
    /**
     * 窗口大小改变时，重新计算表格高度
     */
    getTableHeight() {
      this.tableHeight = this.$refs.tableContainer.clientHeight * 0.7 - 170;
    },
    goBack() {
      this.$router.go(-1);
    },
    /**
     * @description 获取数据集详情
     * 1.回填基础信息
     * 2.平铺数据转为tree结构数据
     */
    getDetail() {
      getDatasetData(this.id).then((res) => {
        if (res.data.state === "success") {
          let data = res.data.data;
          this.name = data.name;
          this.relationType = data.relationType;
          this.newCalculateColumnList = data.newCalculateColumnList;
          this.groupName = data.groupName;
          let { nodes, lines, tableMetadataList, originDateColumnId, jobConfig } = data;
          let endNodeIds = lines.map((line) => line["endNodeId"]);
          let rootNode = nodes.filter((node) => !endNodeIds.includes(node.id));
          this.buildTableNode(rootNode[0], lines, nodes);
          this.tableNode = rootNode;
          this.getDateColumn(tableMetadataList, originDateColumnId);
          this.getTableData(data["newTableId"]);
          console.log(data["newTableId"]);
          console.log(this.id);
          this.jobConfig = jobConfig;
        }
      });
    },

    buildTableNode(node, lines, nodes) {
      let childrenNodes = lines
        .filter((line) => line["startNodeId"] === node.id)
        .map((line) => {
          let node = nodes.find((n) => n.id === line["endNodeId"]);
          node.leftLine = line;
          return node;
        });
      node.children = childrenNodes;
      if (childrenNodes.length > 0) {
        childrenNodes.forEach((child) => this.buildTableNode(child, lines, nodes));
      }
    },

    /**
     * @description 获取当前宽表数据
     */
    getTableData(tableId) {
      getTableData(tableId).then((res) => {
        let data = res.data.data;
        this.datasetColumns = data.columns.map((column) => ({ title: column.label || column.name, key: column.name, ...column }));
        this.datasetData = data.tableData.map((item) => {
          let newItem = {};
          for (let key in item) {
            let newKey = key;
            if (key.indexOf(".") > -1) {
              newKey = key.split(".")[1];
            }
            newItem[newKey] = item[key];
          }
          return newItem;
        });

        // 处理日期
        let dateColumn = this.datasetColumns.filter((column) => COLUMN_TYPE_DATE.includes(column.dataType.toUpperCase()));
        if (dateColumn.length > 0) {
          data.tableData.forEach((d) => {
            dateColumn.forEach((c) => {
              if (d[c.name]) {
                d[c.name] = moment(d[c.name]).format("YYYY-MM-DD");
              }
            });
          });
        }
      });
    },

    /**
     * @description 查找date字段
     * 字段名（表名）
     */
    getDateColumn(tableList, originDateColumnId) {
      if (originDateColumnId) {
        for (let i = 0; i < tableList.length; i++) {
          let columns = tableList[i].columns;
          for (let j = 0; j < columns.length; j++) {
            if (columns[j].id == originDateColumnId) {
              this.dateColumn = `${columns[j].label || columns[j].name}（${tableList[i].label || tableList[i].name}）`;
              return;
            }
          }
        }
      }
    },

    /**
     * @description 查看调度信息
     */
    openDispatchSettingModal() {
      if (this.jobConfig) {
        this.$refs.dispatchSettingViewer.openModal(this.jobConfig);
      } else {
        this.$Message.warn("信息正在加载中...");
      }
    },
  },
};
</script>

<style scoped lang="less">
@import "../datasetStyle/datasetStyleScoped";
.choose-name .value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
