<template>
  <Modal v-model="show" title="新增列"
    class="modalClass"
    :width="modalWidth"
  >
    <div style="margin-bottom: 8px;">
      <span>列名：</span>
      <span>{{label}}</span>
    </div>
    <div v-if="type === 1">
      <p style="font-size: 14px;margin-bottom: 15px">公式</p>
      <div id="textContainerView"></div>
    </div>
    <div v-else-if="type ===2" class="group">
      <div class="group-title">
        <div cklss="title">分组赋值</div>
        <div>
          <span>选择字段：</span>
          <span>{{chosenColumn}}</span>
        </div>
      </div>
      <div style="margin-bottom: 8px;" class="group-all">
        <Collapse v-model="groupValue">
          <Panel :name="group.name" v-for="(group, index) in groupList" :key="index">
            {{group.name}}
            <div slot="content" class="content-all">
              <span class="fa-tag" v-for="(tag,i) in group.members" :key="i">{{tag.value}}</span>
            </div>
          </Panel>
        </Collapse>
      </div>
    </div>
    <div v-else-if="type ===3">
      <div>
        <div style="margin-bottom: 8px;">
          <span>选择字段：</span>
          <span>{{chosenColumn}}</span>
        </div>
        <div>
          <span>获取时间：</span>
          <span>{{chosenTime}}</span>
        </div>
      </div>
    </div>
    <div slot="footer"></div>
  </Modal>
</template>

<script>
  import { TIME_OPTION } from '../constant'

  export default {
    name: 'NewCalculateColumnViewer',
    data() {
      return {
        show: false,
        label: null,
        type: null,
        html: null,
        chosenColumn: null,
        chosenTime: null,
        groupList: [],
        groupValue: ''
      }
    },
    computed:{
      modalWidth(){
        return this.type === 2 ? '763' : '520'
      }
    },
    methods: {
      openModal(data) {
        console.log('diao')
        let row = data.row
        console.log(row)
        this.dealWithCommon(row)
        if (row.type === 1) {
          this.$nextTick(() => {
            this.dealWithFormulaFunction(row)
          })
        } else if (row.type === 2) {
          this.dealWithGroupAssignment(row)
        } else if (row.type === 3) {
          this.dealWithTimeOption(row)
        }
      },

      /**
       * @description 公共信息
       * @param data 新增列数据
       */
      dealWithCommon(data) {
        this.show = true
        let { label, type } = data
        this.type = type
        this.label = label
      },

      /**
       * @description 处理公式函数
       * @param data 新增列数据
       */
      dealWithFormulaFunction(data) {
        document.getElementById('textContainerView').innerHTML = data.html
        let expression = data.expression
        if (expression) {
          let sourceColumns = data.sourceColumns
          let columnIdArr = expression.match(/\[\d+\]/g)
          columnIdArr.forEach(id => {
            let realId = id.replace(/[\[\]]/g, '')
            let column = sourceColumns.find(column => column.id == realId)
            if (column) {
              document.getElementById(realId).value = column.label || column.name
            }
          })
          let inputArr = document.getElementsByName('formula-function-input')
          inputArr.forEach(input => {
            input.value = input.getAttribute('inputValue')
          })
        }
      },

      /**
       * @description 处理日期
       * @param data 新增列数据
       */
      dealWithTimeOption(data) {
        let column = data.sourceColumns[0]
        this.chosenColumn = column.label || column.name
        this.chosenTime = TIME_OPTION.find(time => time.value == data.expression).label
      },

      /**
       * @description 处理分组赋值
       * @param data 新增列数据
       */
      dealWithGroupAssignment(data) {
        console.log(data, '00')
        let column = data.sourceColumns[0]
        this.chosenColumn = column.label || column.name
        this.groupList = JSON.parse(data.html);
        this.groupValue = this.groupList[0].name
      }
    }
  }
</script>

<style scoped lang="less">
/deep/ .ivu-modal-body{
  max-height: 500px;
  overflow: auto;
}
.group-all{

}
.content-all{
  max-height: 200px;
  overflow: auto;
}
  .fa-tag {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 12px;
    padding: 2px 16px;
    cursor: pointer;
    color: #666;
    display: inline-block;
    margin: 0 16px 10px 0;
    min-width: 42px;
    min-height: 24px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box
  }
  .modalClass{
    /deep/ .ivu-modal-footer{
      border-top: none;
    }
    /deep/ .ivu-modal-body{
      padding-top: 25px;
      padding-left: 25px;
    }
    .group{
      .group-title{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 20px;
        .title{
          font-size: 14px;
        }
      }
    }
    /deep/ .ivu-collapse-header{
      background: #F0F5FF;
      border: none !important;
    }
    /deep/.ivu-collapse{
      border: none;
    }
  }
</style>
<style lang="less">
  #textContainerView{
    display: flex;
    align-items: center;
    .textArea_input{
      border: none;
      outline: 0;
      padding: 0 10px;
      height: 30px;
      width: 40px;
      color: white;
      border-radius: 2px;
      background: #F0F5FF;
      font-size: 12px;
      color: #3F73FF;
      border-bottom: none;
    }
    .operator{
      border: none;
      font-size: 22px;
      padding: 0 10px;
      line-height: unset;
    }
  }
</style>
