<template>
  <div>
    <div :class="classBox" v-for="(item, index) in data" :key="index">
      <div :class="classItem">
        <div :class="classItemBody">
          <span style="color: rgb(63, 115, 255); margin-left: 5px; font-size: 12px" v-if="item.type===2">SQL</span>
          <img v-else class="icon-source-type" :src="tableTypeIcon(item.type)">
          <h6 @click="onClickNode(item)">{{item.name}}</h6>
        </div>
        <img v-if="item.leftLine" @click="onClickRelation(item)" :class="classOpt"
             :src="relationValueIcon(item.leftLine.relationType)">
      </div>
      <div :class="classWrap">
        <table-node :data="item.children" :relation-type="relationType"/>
      </div>
    </div>
    <span style="display: none"></span>
    <Modal v-model="showRelation" title="关联信息" width="400" class="unionModal">
      <div class="column-condition">
        <div class="column-join" style="width: 100%">
          <span>关联类型：</span>
          <span>{{relationValue}}</span>
        </div>
      </div>
      <div class="column-condition" v-for="(item,key) in columnMappings" :key="key">
        <div class="column-join">
          <span class="column">左表列：</span>
          <span class="value">{{item.leftColumnName}}</span>
        </div>
        <div class="column-join">
          <span class="column">右表列：</span>
          <span class="value">{{item.rightColumnName}}</span>
        </div>
      </div>
      <div slot="footer"></div>
    </Modal>
    <Modal v-model="showCondition" title="过滤条件" width="710" class="filter-condition">
      <!-- <div>
        <span style="margin-right: 20px;">字段</span>
        <span style="margin-right: 20px;">条件符</span>
        <span>值</span>
      </div> -->
      <div v-for="(group, index) in conditionGroup" :key="index" class="filter-content">
        <img :src="andSrc" class="and" />
        <div class="filter-all">
          <div v-for="(item,i) in group.columnConditions" :key="i" class="filter-item-all">
            <img :src="orSrc" v-if="group.columnConditions.length > 1" class="or" />
            <div class="filter-item">
              <span class="filter-name">{{item.columnLabel||item.columnName}}</span>
              <span class="filter-symbol">{{conditionTypeShow(item.conditionType)}}</span>
              <span class="filter-value">{{item.value.split('|')[1]}}</span>
            </div>
          </div>
        </div>
      </div>
      <div slot="footer"></div>
    </Modal>
  </div>
</template>

<script>
  import { JOIN_KEY, UNION_KEY, CONDITION_TYPE } from '../constant'

  const tableTypeIcon = {
    table: require('@/assets/images/dataset/dataTable.svg'),
    dataset: require('@/assets/images/dataset/dataset.svg'),
  }
  const relationValueIcon = {
    innerJoin: require('@/assets/images/dataset/inner-join.svg'),
    leftJoin: require('@/assets/images/dataset/left-join.svg'),
    rightJoin: require('@/assets/images/dataset/right-join.svg'),
    fullJoin: require('@/assets/images/dataset/full-join.svg'),
    union: require('@/assets/images/dataset/union.svg'),
    unionAll: require('@/assets/images/dataset/union-all.svg')
  }

  const RELATION_KEY = [...UNION_KEY, ...JOIN_KEY]
  export default {
    name: 'TableNode',
    props: {
      data: {
        type: Array,
        default: []
      },
      relationType: {
        type: Number,
        default: 1
      }
    },
    data() {
      return {
        showRelation: false,
        showCondition: false,
        columnMappings: [],
        relationValue: null,
        conditionGroup: [],
        andSrc: require('@/assets/images/dataset/and.svg'),
        orSrc: require('@/assets/images/dataset/or.svg'),
      }
    },
    computed: {
      tableTypeIcon() {
        return function (type) {
          if (type === 1) {
            return tableTypeIcon.table
          }
          return tableTypeIcon.dataset
        }
      },
      relationValueIcon() {
        return function (value) {
          if (value === 1) {
            return relationValueIcon.innerJoin
          } else if (value === 2) {
            return relationValueIcon.leftJoin
          } else if (value === 3) {
            return relationValueIcon.rightJoin
          } else if (value === 4) {
            return relationValueIcon.fullJoin
          } else if (value === 5) {
            return relationValueIcon.union
          } else if (value === 6) {
            return relationValueIcon.unionAll
          }
        }
      },
      classBox() {
        if (this.relationType === 2) {
          return 'box-union'
        }
        return 'box'
      },
      classItem() {
        if (this.relationType === 2) {
          return 'item-union'
        }
        return 'item'
      },
      classItemBody() {
        if (this.relationType === 2) {
          return 'item-body-union'
        }
        return 'item-body'
      },
      classOpt() {
        if (this.relationType === 2) {
          return 'opt-union'
        }
        return 'opt'
      },
      classWrap() {
        if (this.relationType === 2) {
          return 'wrap-union'
        }
        return 'wrap'
      },
      conditionTypeShow() {
        return function (type) {
          console.log(type)
          return CONDITION_TYPE.find(condition => condition.value === type).label
        }
      }
    },
    mounted() {
    },
    methods: {
      onClickNode(item) {
        if (item.groups.length > 0) {
          this.showCondition = true
          this.conditionGroup = item.groups
        }
      },

      onClickRelation(item) {
        this.showRelation = true
        this.relationValue = RELATION_KEY.find(key => key.key == item.leftLine.relationType).value
        this.columnMappings = item.leftLine.columnMappings
      }
    }
  }
</script>

<style scoped lang="less">
  .box {
    white-space: nowrap;

    .item {
      background-color: #FFFFFF;
      display: inline-block;
      align-items: center;
      font-size: 12px;
      text-align: left;
      position: relative;
      height: 32px;
      width: 220px;
      margin-bottom: 14px;
      color: #333333;;
      border: 1px solid #EAEAEA;
      border-left: 2px solid #3F73FF;
    }

    .item-body {
      display: flex;
      align-items: center;

      .icon-source-type {
        margin-left: 5px;
      }
    }

    h6 {
      width: 100%;
      height: 32px;
      line-height: 30px;
      font-weight: normal;
      text-align: left;
      padding: 0 6px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: move;
    }

    .opt {
      position: absolute;
      object-fit: contain;
      z-index: 9;
      left: -30px;
      top: 50%;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin-top: -10px;
      border-radius: 50%;
      background: #D9D9D9;
      cursor: pointer;
    }

    .label-down {
      cursor: pointer;
      display: inline-block;
      height: 25px;
      width: 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("~@/assets/images/dataset/fileOptMore.svg");
    }
  }

  .wrap {
    width: auto;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;

    .box {
      margin-left: 68px;
    }

    .box:first-child > .item {
      z-index: 1;
    }

    .box:first-child {
      > .item:after {
        position: absolute;
        top: 15px;
        left: -70px;
        width: 68px;
        border-top: 1px solid #D9D9D9;
        content: "";
      }

      > .item:before {
        position: absolute;
        z-index: 200;
        top: -35px;
        left: -43px;
        width: 1px;
        height: 50px;
        background: rgb(249, 249, 249);
        content: "";
      }
    }

    .box + .box {
      > .item:after {
        position: absolute;
        top: 7px;
        left: -43px;
        width: 41px;
        height: 10px;
        border-style: solid;
        border-color: #D9D9D9;
        border-width: 0 0 1px 1px;
        border-bottom-left-radius: 10px;
        content: "";
      }

      > .item:before {
        position: absolute;
        left: -43px;
        top: -1000px;
        bottom: 20px;
        border-left: 1px solid #D9D9D9;
        content: "";
      }
    }
  }

  > .box-union {
    overflow-y: hidden;
  }

  > .box-union:nth-child(1) > .item-union {
    border: 1px solid #3F73FF;
    border-left: 2px solid #3f73ff;
  }

  .box-union {
    text-align: center;
    position: relative;

    .item-union:before {
      position: absolute;
      height: 48px;
      width: 1px;
      top: -48px;
      border-left: 1px solid #174fd9;
      content: "";
    }

    > .item-union {
      border: 1px solid #999999;
      border-radius: 2px;
      overflow: hidden;
      line-height: 32px;
      height: 32px;
      width: 220px;
      cursor: move;
      border-left: 2px solid #3f73ff;

      .item-body-union {
        display: flex;
        align-items: center;

        .icon-source-type-union {
          margin-left: 5px;
        }

        h6 {
          width: 100%;
          display: inline-block;
          text-overflow: ellipsis;
          text-align: center;
          overflow: hidden;
        }

        .label-down-union {
          right: 0;
          cursor: pointer;
          display: inline-block;
          height: 32px;
          line-height: 32px;
          width: 25px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url("~@/assets/images/dataset/fileOptMore.svg");
        }
      }

      .opt-union {
        position: absolute;
        top: -35px;
        left: 99px;
      }
    }

    .wrap-union {
      margin-top: 48px;

      .box-union {
        .item-union {
          text-align: center;
          height: 32px;
          width: 220px;
        }
      }
    }
  }

  .column-condition {
    //744
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #333333;

    .column-join {
      display: flex;
      align-items: center;
      width: 50%;

      .column {
        // text-align: right;
      }
    }

    .column-join-op {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
    }
  }
  .unionModal{
    /deep/ .ivu-modal-footer{
      border-top: none;
    }
    /deep/ .ivu-modal-body{
      padding-top: 25px;
      padding-left: 25px;
    }
  }
  .filter-condition{
    /deep/ .ivu-modal-footer{
      border-top: none;
    }
    /deep/ .ivu-modal-body{
      padding-top: 25px;
      padding-left: 25px;
    }
    .filter-content{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .and{
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
      .filter-all{
        border-left: 3px solid rgba(72,121,255,0.4);
        font-size: 12px;
        color: rgba(0,0,0,0.85);
        .filter-item-all{
          display: flex;
          align-items: center;
          .or{
            width: 20px;
            height: 20px;
            margin-right: 6px;
            margin-left: 6px;
            margin-top: -3.5px;
          }
          .filter-item{
            display: flex;
            align-items: center;
            padding-left: 18px;
            .filter-name{
              padding: 6px 0;
              border-bottom: 1px solid rgba(183,202,255,0.95);
              margin-right: 32px;
              width: 219px;
              overflow:hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .filter-symbol{
              padding: 6px 0;
              border-bottom: 1px solid rgba(183,202,255,0.95);
              margin-right: 24px;
              width: 105px;
              overflow:hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            .filter-value{
              padding: 6px 0;
              border-bottom: 1px solid rgba(183,202,255,0.95);
              width: 182px;
              overflow:hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .or + .filter-item{
            border-left: 2px solid rgba(16,193,36,0.4);
            padding-left: 12px;
            margin-bottom: 7px;
            .filter-name, .filter-symbol, .filter-value{
              border-bottom: 1px solid rgba(160,231,168,0.95);
            }
          }
        }
      }
    }

  }
</style>
