<template>
  <Modal v-model="addGroupModalShow" class="addGroupModalClass" :title="titleName" :width="1074" :mask-closable="false">
    <div class="businessModel-container">
      <fa-tree v-show="false"
        ref="businessModelTree"
        title="业务模型"
        @onEditTreeItem="editBusinessModelGroup"
        @onDeleteTreeItem="deleteBusinessModelOrGroup"
        @onTreeDataLoad="onTreeDataLoad"
        @onCreate="addBusinessModel"
        @onCreateGroup="createBusinessModelGroup"
        @onClickTreeItem="onClickTreeItem"
      />
      <div class="business-model-info">
        <div class="indicator-base-info">
          <div class="baseIndicator-body">
            <div class="base-form-wrap">
              <Form ref="formValidate" :label-width="75">
                <Row>
                  <Col span="7">
                    <FormItem label="模型名称：" prop="groupId">
                      <Input
                        v-model="formItem.name"
                        :maxlength="20"
                        style="width: 62%"
                        :readonly="modalType === 'view'"
                        :clearable="modalType !== 'view'"
                        :class="{ 'view-input': modalType === 'view' }" />
                    </FormItem>
                  </Col>
                  <Col span="8">
                    <FormItem label="模型分组：" prop="groupId">
                      <fa-tree-select
                        :class="{ 'view-faSelect': modalType === 'view' }"
                        style="margin-top: 1px; width: 60.5%"
                        :treeData="treeDataGroup"
                        :selected="formItem.groupId"
                        :refresh="true"
                        :render="renderTip"
                        @changeVal="handleChangeBusinessModelGroup" />
                    </FormItem>
                  </Col>
                </Row>
                <div class="modal-card-all">
                  <div>
                    <Row class="row-name">
                      <Col span="7">成员名称：</Col>
                      <Col span="9">成员类型：</Col>
                      <Col :span="modalType === 'view' ? 8 : 6">成员说明：</Col>
                    </Row>
                  </div>
                  <div class="card-list-all">
                    <Row class="row-hover" v-for="(item, key) in businessModelProperties" :key="key">
                      <Col span="7">
                        <FormItem label="" prop="showType">
                          <Input
                            v-model="item.name"
                            :maxlength="20"
                            :clearable="modalType !== 'view'"
                            :readonly="modalType === 'view'"
                            @on-change="showMappingPage = false"
                            placeholder="成员名称"
                            :disabled="formItemDisabled(item, key)"
                            :class="{ 'view-input': modalType === 'view' }"
                            style="width: 62%" />
                        </FormItem>
                      </Col>
                      <Col span="9">
                        <FormItem label="" prop="groupId">
                          <div v-if="item.type === 2" style="display: flex">
                            <Select
                              v-if="item.type === 2"
                              v-model="item.type"
                              @on-change="onPropertyTypeChange(item, $event)"
                              :disabled="formItemDisabled(item, key)"
                              :class="{ 'view-select': modalType === 'view' }"
                              style="width: 22%; margin-top: 1px"
                              transfer
                              :transfer-class-name="modalType === 'view' ? 'select-transfer' : ''">
                              <Option v-for="type in propertyTypeList" :value="type.value" :key="type.value">
                                {{ type.label }}
                              </Option>
                            </Select>
                            <fa-tree-select
                              :class="{ 'view-faSelect': modalType === 'view' }"
                              style="margin-left: 5px; width: 37%"
                              :disabled="formItemDisabled(item, key)"
                              :treeData="item.dimensionTree"
                              :selected="item.dimensionId || ''"
                              :render="renderTip"
                              @changeVal="handleChangeDimension($event, item)"
                              :selectParent="false" />
                          </div>
                          <Select
                            v-else
                            v-model="item.type"
                            @on-change="onPropertyTypeChange(item, $event)"
                            style="width: 60.5%"
                            transfer
                            :transfer-class-name="modalType === 'view' ? 'select-transfer' : ''"
                            :class="{ 'view-select': modalType === 'view' }"
                            :disabled="formItemDisabled(item, key)">
                            <Option v-for="type in propertyTypeList" :value="type.value" :key="type.value">
                              {{ type.label }}
                            </Option>
                          </Select>
                        </FormItem>
                      </Col>
                      <Col :span="modalType === 'view' ? 8 : 6">
                        <FormItem label="" prop="groupId">
                          <Input
                            v-model="item.remark"
                            :clearable="modalType !== 'view'"
                            :readonly="modalType === 'view'"
                            @on-change="showMappingPage = false"
                            :class="{ 'view-input': modalType === 'view' }"
                            style="width: 87%"
                            placeholder="说明内容" />
                        </FormItem>
                      </Col>
                      <Col span="2" v-show="modalType !== 'view'">
                        <div style="text-align: center; display: inline-flex">
                          <i class="conditionIcon unBack" @click="() => addProperties(key)" style="padding: 0; display: block; text-align: center; line-height: 25px">
                            <Icon type="ios-add-circle-outline" size="18" style="font-weight: bold" />
                          </i>
                          <i
                            class="conditionIcon unBack"
                            @click="delProperties(key)"
                            v-show="key > 0 && !item.used"
                            style="padding: 0; display: block; text-align: center; line-height: 25px">
                            <Icon type="md-close" size="15" color="red" />
                          </i>
                        </div>
                      </Col>
                    </Row>
                  </div>
                </div>
              </Form>
            </div>
          </div>
        </div>
      </div>

      <!--  确认删除弹框  -->
      <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList" />
    </div>
    <div slot="footer">
      <Button type="text" @click="cancelBtnHandle">取消</Button>
      <Button type="primary" @click="submitBusinessModelData()" v-show="modalType !== 'view'">确定</Button>
      <Button type="primary" @click="editBusinessModelData()" v-show="modalType === 'view'">编辑</Button>
    </div>
  </Modal>
</template>

<script>
import TreeSelect from '@/components/tree-select'
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect'
import FaTree from '@/view/report/components/fa-tree/FaTree'
import DeleteAssetModal from '@/view/components/DeleteAssetModal/index.vue'
import deleteAsset from '@/mixins/deleteAsset'
import { TYPE_BUSINESS_MODEL } from '@/view/components/DeleteAssetModal/constant'
import { deepCopy } from '@/utils/common'
import { getAllDimensionGroupList } from '@/api/dimension'
import {
  addBusinessModel,
  addBusinessModelGroup,
  deleteBusinessModelById,
  deleteBusinessModelGroupById,
  getBusinessModelById,
  updateBusinessModel,
  updateBusinessModelGroup,
} from '@/api/businessModel'

export default {
  name: 'groupModalAdd',
  components: {
    FaTreeSelect,
    TreeSelect,
    FaTree,
    DeleteAssetModal,
  },
  mixins: [deleteAsset],
  props: {},
  data() {
    return {
      titleName: '',
      /** 业务模型左侧树 */
      businessModelGroupTreeData: [], // 业务模型组树结构数据，用于业务模型选择框
      dimensionGroupTreeData: [], // 树结构维度组
      collapseValue: '1',
      beforeCollapseValue: [1], // Panel合并之前的展示id
      /** 业务模型（组）增删改 */
      formItem: {},
      editNameDisable: true, // 业务模型名称是否可以编辑
      addGroupModalShow: false, // 新增组modal隐显标识
      editGroupModalShow: false, // 编辑组modal隐显标识
      addGroupData: {}, // 新增组数据
      editGroupData: {}, // 编辑组数据
      propertyVirtualId: 0, // 业务模型property虚拟id
      propertyTypeList: [
        {
          value: 1,
          label: 'ID',
        },
        {
          value: 2,
          label: '维度',
        },
        {
          value: 3,
          label: '度量',
        },
      ], // 业务模型属性type集合
      businessModelProperties: [], // 业务模型属性集合
      checkLoading: false, // 业务模型保存按钮loading
      modalType: 'view',
      treeDataGroup: [],
    }
  },
  computed: {
    defaultId() {
      return this.treeDataGroup[0].id
    },
  },
  watch: {
    addGroupModalShow(val) {
      if (!val) {
        this.formItem = {}
        this.formItem.groupId = ''
      }
    },
  },
  created() {},
  mounted() {
    // 数据源分组信息是否第一次加载
    this.isDataSourceLoadFirst = true
    // 维度组信息是否第一次加载
    this.isDimensionGroupLoadFirst = true
    // 初始化部分数据
    this.init()
    if (this.isDimensionGroupLoadFirst) {
      this.getDimensionGroupTreeData()
      this.isDimensionGroupLoadFirst = false
    }
  },
  methods: {
    /** ************************************************* 初始化 ****************************************** **/
    init() {
      // 用于业务模型重置
      this.businessModelClone = null
      // 业务模型属性与表列关联数据集合
      this.propertyColumnRelations = []
    },
    /** ************************************************* 业务模型树结构部分 ****************************************** **/
    /**
     * 当业务模型树数据加载完毕
     */
    async onTreeDataLoad(treeData, groupTreeData) {
      this.businessModelGroupTreeData = groupTreeData
    },
    /**
     * 点击业务模型时
     */
    onClickTreeItem(item) {
      let currentBusinessModel = item
      if (currentBusinessModel.type === 'value') {
        this.showDetails(currentBusinessModel.id)
      }
    },

    // render函数
    renderTip(h, { root, node, data }) {
      return (
        <div class='tree-title-span' title={data.title}>
          {data.title}
        </div>
      )
    },

    /**
     * 打开业务模型详情信息，优先从缓存中取，取不到再从接口获取
     * @param id
     */
    showDetails(id) {
      if (this.formItem.id != id) {
        getBusinessModelById(id).then(r => {
          let bm = r.data.data
          // 深拷贝，防止重置时仍然有之前的操作数据
          this.businessModelClone = deepCopy(bm)
          bm.businessModelProperties.forEach(item => {
            // 深拷贝，防止数据多选
            let data = deepCopy(this.dimensionGroupTreeData)
            this.$set(item, 'dimensionTree', data)
            item.used = true
          })
          this.resetBusinessModelData(bm)
          // 获取数据源数据
          this.selectedTableId = ''
        })
      }
    },

    /**
     * 当前表单是否可用
     * @param item 成员
     * @param index 下标
     */
    formItemDisabled(item, index) {
      return this.modalType === 'edit' && (index === 0 || item.used)
    },

    /**
     * 初始化业务模型数据
     * @param bm
     */
    resetBusinessModelData(bm) {
      this.formItem = {
        id: bm.id,
        name: bm.name,
        groupId: bm.groupId,
        defaultGroupId: this.formItem.defaultGroupId,
        businessModelName: bm.name,
      }
      let businessModelProperties = bm.businessModelProperties
      if (businessModelProperties !== null && businessModelProperties.length > 0) {
        this.businessModelProperties = businessModelProperties
        this.businessModelProperties.forEach(item => {
          item.dimensionTree = deepCopy(this.dimensionGroupTreeData)
        })
      } else {
        this.businessModelProperties = [{ name: '', type: 2, remark: '', dimensionTree: [] }]
      }
    },

    /** ************************************************* 业务模型（组）增删改 ****************************************** **/
    async getDimensionGroupTreeData() {
      // 获取维度组、维度数据
      let res = await getAllDimensionGroupList()
      const { data } = res.data
      let treeData = data
      treeData?.forEach(item => {
        item.title = item.name
        if (item.data) {
          treeData.push(...item.data)
        }
        item.data = []
      })
      let root = [
        {
          id: -1,
          title: '维度组',
          name: '维度组',
          expand: true,
          children: [],
          treeType: 'group',
        },
      ]
      const dimensionGroupTreeData = this.recursiveDimensionGroupTree(root, treeData)
      this.dimensionGroupTreeData = dimensionGroupTreeData
    },

    /**
     * 递归构建维度树结构数据
     */
    recursiveDimensionGroupTree(parent, all) {
      let tree = []

      for (let parentItem of parent) {
        let treeItem = { ...parentItem }
        const children = all
          .filter(allItem => {
            let parentId = allItem.parentId || allItem.groupId
            return Number(parentId) === Number(parentItem.id)
          })
          .map(childrenItem => ({
            id: childrenItem.id,
            title: childrenItem.name,
            name: childrenItem.name,
            dataType: childrenItem.parentId ? 1 : 2,
            expand: false,
            type: childrenItem.type,
            treeType: childrenItem.parentId ? 'group' : 'value',
          }))
        if (children.length) {
          treeItem.children = this.recursiveDimensionGroupTree(children, all)
          treeItem.expand = true
        }

        if ((treeItem.treeType === 'group' && treeItem.children?.length) || treeItem.treeType === 'value') {
          tree.push(treeItem)
        }
      }

      return tree
    },

    /**
     * 新增业务模型
     */
    addBusinessModel(data) {
      this.collapseValue = '1'
      this.propertyColumnRelations = []
      this.businessModelProperties = [
        {
          propertyVirtualId: this.propertyVirtualId++,
          name: '日',
          type: 2,
          remark: '时间周期-日',
          dimensionId: globalVariable.defaultDayDimensionId,
          dimensionTree: deepCopy(this.dimensionGroupTreeData),
        },
        {
          propertyVirtualId: this.propertyVirtualId++,
          name: '',
          type: 2,
          remark: '',
          dimensionTree: deepCopy(this.dimensionGroupTreeData),
        },
      ]
      this.formItem = { groupId: data.id, businessModelName: '新建业务模型' }
      this.formItem.defaultGroupId = data.id
      if (this.showMappingPage) {
        this.showMappingPage = false
      }
      this.editNameDisable = true
    },

    /**
     * 添加业务模型属性
     */
    addProperties(index) {
      console.log('index===', index)
      let newProperty = {
        propertyVirtualId: this.propertyVirtualId++,
        name: '',
        type: 2,
        dimensionId: '',
        remark: '',
        dimensionTree: deepCopy(this.dimensionGroupTreeData),
      }
      this.businessModelProperties.splice(index + 1, 0, newProperty)
      if (this.showMappingPage) {
        this.showMappingPage = false
      }
    },

    /**
     * 选择维度
     */
    handleChangeDimension(data, e) {
      e.dimensionId = data.id.toString()
      e.name = data.title
      if (this.showMappingPage) {
        this.showMappingPage = false
      }
    },

    /**
     * 删除业务模型属性
     */
    delProperties(index) {
      let len = this.businessModelProperties.length
      if (len === 1) {
        this.$Message.warning('系统默认成员不能删除!')
      } else {
        this.businessModelProperties.splice(index, 1)
        if (this.showMappingPage) {
          this.showMappingPage = false
        }
      }
    },

    /**
     * 业务模型属性变更
     */
    onPropertyTypeChange(item, v) {
      if (v && v.toString() !== '2') {
        item.dimensionId = ''
      }

      if (this.showMappingPage) {
        this.showMappingPage = false
      }
    },

    /**
     * 创建业务模型分组
     */
    createBusinessModelGroup(current) {
      this.addGroupData = {
        parentId: current.id,
        parentName: current.title,
        name: '',
      }
      this.addGroupModalShow = true
    },

    /**
     * 编辑业务模型分组
     */
    editBusinessModelGroup(data) {
      this.editGroupData = {
        id: data.id,
        name: data.title,
      }
      this.editGroupModalShow = true
    },

    /**
     * 提交新建业务模型分组数据
     */
    submitAddGroupData() {
      if (!this.addGroupData.parentId) {
        this.$Message.warning('未选择父级')
        return
      }
      if (!this.addGroupData.name) {
        this.$Message.warning('请填写业务模型组名')
        return
      }
      let params = {
        parentId: this.addGroupData.parentId,
        name: this.addGroupData.name,
      }
      addBusinessModelGroup(params).then(res => {
        if (res.data.state === 'success') {
          this.$Message.success('创建业务模型分组成功')
          this.$refs.businessModelTree.updateTree(null)
          this.addGroupModalShow = false
        } else if (res.data.state === 'error') {
          this.$Message.error(res.data.message)
        } else {
          this.$Message.error('创建业务模型分组失败')
        }
      })
    },

    /**
     * 提交编辑业务模型分组数据
     */
    submitEditGroupData() {
      if (!this.editGroupData.name) {
        this.$Message.warning('请填写业务模型组名')
        return
      }
      let params = {
        id: this.editGroupData.id,
        name: this.editGroupData.name,
      }
      updateBusinessModelGroup(params).then(res => {
        if (res.data.state === 'success') {
          this.$Message.success('编辑业务模型分组成功')
          this.$refs.businessModelTree.updateTree(null)
          this.editGroupModalShow = false
        } else if (res.data.state === 'error') {
          this.$Message.error(res.data.message)
        } else {
          this.$Message.error('编辑业务模型分组失败')
        }
      })
    },

    /**
     * 删除业务模型或者分组
     */
    deleteBusinessModelOrGroup(data) {
      let title = data.title
      const fexLen = 18
      let len = this.getStrByteLen(title)
      if (len > fexLen) {
        len = this.getStrLen(fexLen, title)
        title = title.substring(0, len)
        title += '……'
      }
      this.$Modal.confirm({
        title: `确认删除“<span title="${data.title}">${title}</span>”${data.type === 'group' ? '业务模型分组' : '业务模型'}吗？`,
        content: '删除后不可撤销',
        okText: '确认',
        onOk: () => {
          this.confirmDelete(data)
        },
      })
    },
    getStrByteLen(str, awareLen) {
      let realLength = 0
      let len = str.length
      let charCode = -1
      for (let i = 0; i < len; i++) {
        charCode = str.charCodeAt(i)
        if (charCode >= 0 && charCode <= 128) {
          realLength += 1
        } else {
          // 如果是中文则长度加2
          realLength += 2
        }
      }
      return realLength
    },
    getStrLen(byteLen, str) {
      let realLength = 0
      let len = str.length
      let charCode = -1
      for (let i = 0; byteLen >= 0 && i < len; i++) {
        charCode = str.charCodeAt(i)
        if (charCode >= 0 && charCode <= 128) {
          byteLen--
          realLength++
        } else {
          byteLen -= 2
          // 如果是中文则长度加2
          realLength++
        }
      }
      return realLength
    },
    /**
     * 确认删除
     */
    confirmDelete(data) {
      if (data.type === 'group') {
        // 删除业务模型组
        deleteBusinessModelGroupById(data.id).then(res => {
          if (res.data.state === 'success') {
            this.$Message.success('删除业务模型分组成功')
            this.$refs.businessModelTree.updateTree(null)
          } else if (res.data.state === 'error') {
            this.$Message.error(res.data.message)
          } else {
            this.$Message.error('删除业务模型分组失败')
          }
        })
      } else if (data.type === 'value') {
        deleteBusinessModelById(data.id).then(res => {
          if (res.data.state === 'success') {
            this.$refs.businessModelTree.updateTree(null)
            this.$Message.success('删除成功！')
          } else {
            const deletedAsset = { id: data.id, name: data.title, type: TYPE_BUSINESS_MODEL }
            this.unableToDelete(deletedAsset, res.data.data)
          }
        })
      }
    },

    /**
     * 重置当前业务模型数据
     */
    resetBusinessModel() {
      if (!this.formItem.id) {
        //新增时
        this.collapseValue = '1'
        this.propertyColumnRelations = []
        this.businessModelProperties = [
          {
            propertyVirtualId: this.propertyVirtualId++,
            name: '日',
            type: 2,
            remark: '时间周期-日',
            dimensionId: globalVariable.defaultDayDimensionId,
            dimensionTree: deepCopy(this.dimensionGroupTreeData),
          },
          {
            propertyVirtualId: this.propertyVirtualId++,
            name: '',
            type: 2,
            remark: '',
            dimensionTree: deepCopy(this.dimensionGroupTreeData),
          },
        ]
        this.formItem = {
          groupId: this.formItem.defaultGroupId,
          defaultGroupId: this.formItem.defaultGroupId,
          businessModelName: '新建业务模型',
        }

        this.showMappingPage = false
      } else {
        this.resetBusinessModelData(deepCopy(this.businessModelClone))
      }
    },

    // 取消按钮
    cancelBtnHandle() {
      this.resetBusinessModel()
      this.addGroupModalShow = false
    },

    // 跳转到编辑
    editBusinessModelData() {
      this.modalType = 'edit'
    },

    /**
     *业务模型提交
     * @returns {Promise<void>}
     */
    async submitBusinessModelData() {
      this.checkLoading = true
      if (!this.formItem.name.trim()) {
        this.$Message.warning('请填写业务模型名称')
        this.checkLoading = false
        return
      }
      if (this.$refs.businessModelTree.checkNameExist(this.formItem.groupId, this.formItem.name, this.formItem.id)) {
        this.$Message.warning('业务模型名称已存在，请重新输入')
        this.checkLoading = false
        return
      }
      for (let i = 0; i < this.businessModelProperties.length; i++) {
        let errMsg = this.checkData(this.businessModelProperties[i], i)
        if (errMsg !== '') {
          this.$Message.warning(errMsg)
          this.checkLoading = false
          return
        }
      }
      const paraObject = {
        id: this.formItem.id,
        name: this.formItem.name,
        groupId: this.formItem.groupId,
        businessModelProperties: this.businessModelProperties.map(item => ({
          dimensionId: item.dimensionId,
          name: item.name,
          remark: item.remark,
          type: item.type,
          id: item.id,
        })),
      }

      let res = {}
      let insert = false
      let businessModelId = paraObject.id
      if (paraObject.id) {
        res = await updateBusinessModel(paraObject)
      } else {
        res = await addBusinessModel(paraObject)
        businessModelId = res.data.data
      }
      if (res.data.state === 'success') {
        if (this.formItem.id) {
          this.$Message.success('更新业务模型成功')
        } else {
          insert = true
          this.$Message.success('新增业务模型成功')
        }
        this.$emit('confirmHandle', true)
        this.formItem.businessModelName = this.formItem.name
        this.$refs.businessModelTree.updateTree(businessModelId)
        //放开映射功能
        this.showMappingPage = true
        //将重置数据替换成此次保存的数据
        let businessRelations = this.businessModelClone && this.businessModelClone.businessModelTableRelation
        let paraObjCopy = paraObject
        paraObjCopy.businessModelTableRelation = businessRelations
        this.businessModelClone = paraObjCopy
        //如果之前打开了映射 则折叠并重置其点击功能
        const collapseValue = this.collapseValue
        if (Array.isArray(collapseValue)) {
          collapseValue.splice(
            collapseValue.findIndex(item => item === '2'),
            1
          )
          this.collapseValue = collapseValue
          this.beforeCollapseValue = [1]
        }
        if (localStorage.getItem('allBusinessModel')) {
          localStorage.removeItem('allBusinessModel')
        }
        this.checkLoading = false

        // 跳转到查看态
        // if (this.modalType === 'create') {
        //   this.modalType = 'view';
        //   this.titleName = this.formItem.name;
        // } else{
        // 关闭弹窗
        this.addGroupModalShow = false
        // }
      } else {
        if (this.formItem.id) {
          this.$Message.success('更新业务模型失败')
        } else {
          this.$Message.success('添加业务模型失败')
        }
        this.checkLoading = false
      }
    },
    /**
     * 数据校验
     * @param row
     * @param i
     * @returns {string}
     */
    checkData(row, i) {
      let errMsg = ''
      if (!row.name.trim()) {
        errMsg = '请填写第' + (i + 1) + '行属性名称'
      } else if (!row.type) {
        errMsg = '请填写第' + (i + 1) + '行属性分类'
      } else if (row.type === 2 && !row.dimensionId) {
        errMsg = '请填写第' + (i + 1) + '行维度分类对应维度'
      }
      return errMsg
    },
    // 打开模态框
    openModal(data) {
      this.treeDataGroup = deepCopy(data.groupTreeData)
      this.modalType = data.type
      if (this.modalType === 'edit' || this.modalType === 'view') {
        this.titleName = data.name
        this.showDetails(data.id)
      } else {
        this.addBusinessModel({ id: this.defaultId })
        this.titleName = '新增业务模型'
      }
      this.addGroupModalShow = true
    },
    // render函数
    renderTip(h, { root, node, data }) {
      return (
        <div class='tree-title-span' title={data.title}>
          {data.title}
        </div>
      )
    },
    /**
     * 业务模型分组被选择时
     */
    handleChangeBusinessModelGroup(value) {
      this.formItem.groupId = value.id
      this.showMappingPage = false
    },
  },
}
</script>

<style scoped lang="less">
.row-hover {
  /*z-index: 0;*/
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/deep/ .ivu-tree .ivu-icon-ios-arrow-forward:before {
  content: '';
  background: url('~@/assets/images/system/treePlusForManage.svg') no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 6px;
}

/deep/ .ivu-tree .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
  content: '';
  display: block;
  background: url('~@/assets/images/system/treeMinusForManage.svg') no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

/deep/ .ivu-tree > ul > li:first-child > .ivu-tree-arrow-open:first-child .ivu-icon-ios-arrow-forward:before {
  background: url('~@/assets/images/system/treeRoot.svg') no-repeat;
}

/deep/ .ivu-modal-body .editShowModal_div {
  font-size: 14px;
  height: auto;

  span {
    margin-top: 2px;
  }
}

/deep/ .AlertBtn {
  width: 56px !important;
  height: 24px !important;
  font-size: 10px !important;
  padding: 0;
}

.businessModel-container {
  height: 100%;
  display: flex;
  background: white;

  .business-model-info {
    width: 100%;
    height: 100%;
    .ivu-collapse {
      background-color: #ffffff;
    }

    .indicator-base-info {
      height: calc(~'90% - 56px');
      overflow: auto;
      padding: 14px;

      .baseIndicator-body {
        .base-form-wrap {
          .cheyuan2 {
            display: flex;
            //justify-content: flex-end;
            .ivu-select {
              width: 95%;
            }
          }
          .modal-card-all {
            height: 372px;
            padding: 26px 24px;
            border: 1px solid rgba(134, 163, 230, 0.3);
            border-radius: 4px;
            .row-name {
              font-size: 12px;
              color: #333333;
              font-weight: 600;
              margin-bottom: 16px;
            }
            .card-list-all {
              height: 300px;
              overflow: auto;
              /deep/.ivu-form-item-content {
                margin-left: 0 !important;
              }
            }
          }
          .view-input {
            /deep/.ivu-input {
              border: none;
              border-bottom: 1px solid #dcdee2;
              border-radius: 0;
            }
            /deep/.ivu-input:focus {
              box-shadow: none;
            }
          }
          .view-faSelect {
            /deep/.ivu-select-dropdown {
              display: none;
            }
            /deep/.ivu-select-arrow {
              display: none;
            }
            /deep/.ivu-select-selection {
              border: none;
              box-shadow: none;
              cursor: text;
              border-bottom: 1px solid #dcdee2;
              border-radius: 0;
              margin-top: 1px;
            }
          }
          .view-select {
            /deep/.ivu-select-dropdown {
              display: none;
            }
            /deep/.ivu-select-arrow {
              display: none;
            }
            /deep/.ivu-select-selection {
              border: none;
              box-shadow: none;
              cursor: text;
              border-bottom: 1px solid #dcdee2;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

.conditionIcon {
  height: 25px;
  width: 25px;
  background: #e5fce3;
  padding: 4px;
  border-radius: 4px;
  color: #1fc935;
  cursor: pointer;
  margin: 0 4px;
  font-style: normal;
}

.unBack {
  background: none;
  color: #3f73ff;
  margin-top: 2px;
}

/deep/ .ivu-icon.ivu-icon-md-create {
  padding-bottom: 5px;
  box-sizing: border-box;
}

/deep/ .ivu-icon.ivu-icon-md-create:before {
  content: url('~@/assets/icons/dimensionIcon/nameEditBtn.svg');
}

/deep/ .ivu-icon-md-close:before {
  content: url('~@/assets/images/system/tableButtonDelete.svg');
  color: red;
}

/deep/ .ivu-tree-title-selected {
  color: #2d8cf0;
  background: none;
}

/deep/ .ivu-tree-title:hover {
  background: none;
}

#indNameIpt {
  font-size: 16px;
  color: #555555;
  font-weight: bold;
  width: 250px;
  height: 28px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 28px;
}

/deep/ .ivu-collapse {
  border: none;
}

/deep/ .ivu-collapse-item {
  border-top: none;
}

/deep/ .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header {
  background: #f0f5ff;
  color: #333;
  font-weight: bold;
}

/deep/ .ivu-tree .ivu-icon {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

/deep/ .ivu-tooltip-arrow {
  display: none;
}

/deep/ .ivu-tooltip-inner ul {
  padding-left: 5px;
}

/deep/ .ivu-collapse > .ivu-collapse-item.ivu-collapse-item-active > .ivu-collapse-header {
  border-bottom: none;
}

/deep/ .editShowModal_div {
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

/deep/ .ivu-modal-footer {
  border-top: none;
}

/deep/ .ivu-select-group-title {
  white-space: nowrap;
}

.allBtnStyle {
  background: #3f73ff;
  border-radius: 2px;
}

.allResetBtnStyle {
  border-radius: 2px;
  border: 1px solid #3f73ff;
  color: #3f73ff;
}

/deep/ .ivu-select .ivu-select-dropdown {
  z-index: 99999999 !important;
}
/deep/ .ivu-tree-title {
  .tree-title-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
<style lang="less">
.select-transfer {
  display: none;
}
</style>
