<template>
  <div class="tableItem-container">
    <div class="itemHeader">
      <!-- 名称 -->
      <div
        class="taskNameWrapper"
        :style="{ ...colStyleObj(tableColumns[0]), paddingLeft: `${(itemData.deep - 1) * 24}px` }"
        @mouseenter="itemData.showAddSubTask = true"
        @mouseleave="itemData.showAddSubTask = false"
      >
        <img class="groupIcon" :src="showTreeIcon(itemData)" alt="" @click="expandGroup(itemData)" />
        <span class="taskName" :title="itemData.title" :style="{ '--taskType': showTaskType(itemData.taskType) }">
          {{ formatName(itemData.title, 10) }}
        </span>
      </div>
      <!-- 当前值 -->
      <div :style="colStyleObj(tableColumns[1])">
        {{ itemData.runningStatus === 2 ? itemData.currentValue : '' }}
      </div>
      <!-- 进度 -->
      <div :style="colStyleObj(tableColumns[2])" class="progress">
        <div v-if="itemData.runningStatus === 2"> <!-- 上线状态 -->
          <div v-if="itemData.curValuePercent !== defaultText" class="percentWrapper-all">
            <Progress
              class="percentWrapper"
              :percent="itemData.curValuePercent"
              text-inside
              :stroke-width="18"
              :stroke-color="showStrokeColor(itemData)"
            />
          </div>
          <span v-else>{{ defaultText }}</span>
        </div>
      </div>
      <!-- 规则 -->
      <div class="ruleWrapper" :style="colStyleObj(tableColumns[3])">
        <div v-if="itemData.runningStatus === 2">
          <span class="ruleText" :title="itemData.ruleText"
            v-if="itemData.ruleText !== defaultText">
            {{ itemData.ruleText }}
          </span>
          <span v-else>{{ defaultText }}</span>
        </div>
      </div>
      <!-- 负责人 -->
      <div :style="colStyleObj(tableColumns[4])">
        <div class="owner" v-if="itemData.runningStatus === 2" :title="itemData.owner">
          {{ itemData.owner }}
        </div>
      </div>

      <!-- 监测状态 -->
      <div class="watchStatusWrapper" :style="colStyleObj(tableColumns[5])">
        <div v-if="itemData.runningStatus === 2">
          <template v-if="itemData.watchLabel !== -1">
            <div class="watchStatusLabel" :style="{
              background: watchStatusColor(itemData.watchLabel) }"
              v-if="itemData.watchLabel !== -2">
              {{ watchStatusText(itemData.watchLabel) }}
            </div>
            <div class="watchErrorLabel" v-else>
              <img src="@/assets/icons/earlyWarningTarget/watchError.svg" alt="" />
              <span>监测失败</span>
            </div>
          </template>
          <span v-else>{{ defaultText }}</span>
        </div>
      </div>
      <!-- 上一次触发 -->
      <div class="lastTriggle" :style="colStyleObj(tableColumns[6])">
        <div v-if="itemData.runningStatus === 2">
        <div>{{ getUpdateDateStr(itemData.updateTime) }}</div>
        <div>{{ getUpdateTimeStr(itemData.updateTime) }}</div>
        </div>
      </div>
      <!-- 运行/处置状态 -->
      <div class="runningStatusWrapper" :style="colStyleObj(tableColumns[7])">
          <div class="handleBox" v-if="itemData.runningStatus === 2 && itemData.watchLabel !== 1">
            <div class="statusText">
              <!-- 状态 -->
              <span :style="{
                color: itemData.handleStatus === 1 ? '#F78C22' : itemData.handleStatus === 2 ? '#84C52F' : '#333'
                }">
                {{handleStatusShow(itemData.handleStatus)}}
              </span>
              <!-- 是否需要处理 -->
              <span v-if="isHandle(itemData)" :style="{
                color: handleStatusColor(itemData.handleStatus),
                cursor: itemData.handleStatus === 1 || itemData.handleStatus === 2 ? 'pointer' : '',
                borderBottom: itemData.handleStatus === 1 || itemData.handleStatus === 2 ? '1px solid #3F73FF' : 'none' }"
                @click="changeHandleStatus(itemData)"
              >{{ handleStatusText(itemData.handleStatus) }}</span>
            </div>
            <div class="timeText" :style="{
              color: itemData.dealTime < 0 ? '#F86666' : '#7f7f7f' }"
            >{{ handleTimeText(itemData) }}</div>
          </div>
          <div class="no-handle"
            v-if="itemData.runningStatus === 2 && itemData.watchLabel === 1"
          >
            无需处理
          </div>
      </div>
      <!-- 操作 -->
      <div class="actionWrapper" :style="colStyleObj(tableColumns[8])">
        <div class="actionWrapper-all" v-if="itemData.runningStatus === 2">
          <div class="actionItem" @click="showRuleModal(itemData)">
            <!-- <img :src="viewIcon" alt="" /> -->
            <span>查看</span>
          </div>
          <div class="actionItem" @click="shareTaskModal(itemData)" v-if="isShare(itemData)">
            <!-- <img :src="shareIcon" alt="" /> -->
            <span>分享</span>
          </div>
          <div class="actionItem" @click="historyModal(itemData)">
            <!-- <img :src="tiggerHistoryIcon" alt="" /> -->
            <span>触发历史</span>
          </div>
        </div>
      </div>
    </div>
    <div class="itemContent" v-if="itemData.expand">
      <TableItem v-for="ele in itemData.children" :key="ele.id" :item-data="ele" :table-columns="tableColumns" v-on="$listeners" />
    </div>
  </div>
</template>

<script>
import moment from 'moment/moment'
import collapseIcon from "@/assets/icons/earlyWarningTarget/collapseIcon.svg";
import expendIcon from "@/assets/icons/earlyWarningTarget/expendIcon.svg";
import viewIcon from "@/assets/icons/earlyWarningTarget/view.svg";
import tiggerHistoryIcon from "@/assets/icons/earlyWarningTarget/tiggerHistory.svg";
import shareIcon from "@/assets/icons/indicatorWorkbench/share-blue.svg";
import earlyWarningIcon from "@/assets/icons/earlyWarningTarget/earlyWarning.svg";
import targetIcon from "@/assets/icons/earlyWarningTarget/target.svg";
import { extraTextDot } from "@/utils/formatString";
import { DEFAULT_SHOW } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";
import { EARLY_WARNING_TYPE_LIST, TARGET_TYPE_LIST } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";

export default {
  name: "TableItem",
  props: {
    itemData: {
      type: Object,
      required: true
    },
    tableColumns: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      viewIcon,
      shareIcon,
      tiggerHistoryIcon,
      defaultText: DEFAULT_SHOW // 默认文本
    };
  },
  computed: {
    colStyleObj() {
      return col => {
        let width = col.width;
        if (col.key === "title" || col.key === "operation") {
          width = width - 24;
        }
        return {
          flex: width ? "none" : 1,
          width: width ? `${width}px` : "auto",
          textAlign: col.align || "left"
        };
      };
    },
    showTreeIcon() {
      return ({ children, expand }) => {
        if (children.length) {
          return expand ? expendIcon : collapseIcon;
        } else {
          return null;
        }
      };
    },
    showTaskType() {
      return type => (type === 1 ? `url(${earlyWarningIcon})` : `url(${targetIcon})`);
    },
    formatName() {
      return (text, num) => extraTextDot(text, num);
    },
    showStrokeColor() {
      return data => {
        const { execRecord, level } = data;
        if (execRecord?.execStatus === 3) {
          // 触发预警
          if (level === 1) {
            return ["#F86666", "#FF9696"];
          } else if (level === 2) {
            return ["#F78C22", "#FFBD54"];
          } else if (level === 3) {
            return ["#FFCB5F", "#FFE8B8"];
          }
        } else {
          // 正常
          return ["#4666F9", "#44A6EF"];
        }
      };
    },
    handleStatusShow() {
      return status => {
        if (status === 1) {
          return "待处理";
        } else if (status === 2) {
          return "处理中";
        } else if (status === 3) {
          return "已处理";
        } else {
          return ''
        }
      }
    },
    handleStatusColor() {
      return status => {
        if (status === 1 || status === 2) {
          return "#3F73FF";
        } else {
          return "rgba(0,0,0,0.50)";
        }
      }
    },
    taskTypeList() {
      return this.itemData.taskType === 1 ? EARLY_WARNING_TYPE_LIST : TARGET_TYPE_LIST;
    },
    handleStatusText() {
      return status => {
        if (status === 1) {
          return ">去处理";
        } else if (status === 2) {
          return ">完成";
        } }
    },
    handleTimeText() {
      return data=>{
        const { handleStatus, handleTime } = data;
        if (handleStatus === 1) {
          return "未开始";
        } else if (handleStatus === 2) {
          if (handleTime[0] > 0) {
            return "剩余：" + handleTime[0] + "天" + handleTime[1] + "小时" ;
          } else {
            return "已逾期" + Math.abs(handleTime[0]) + "天" + Math.abs(handleTime[1]) + "小时";
          }
        } else if (handleStatus === 3) {
          return "用时：" + handleTime[0] + "天" + handleTime[1] + "小时";
        }
      }
    },
    watchLabelText() {
      return status => {
        if (status === 1) {
          return "正常";
        } else if (status === 2) {
          return "一级预警";
        } else if (status === 3) {
          return "二级预警";
        } else if (status === 4) {
          return "三级预警";
        }
      };
    },
    watchLabelColor() {
      return status => {
        if (status === 1) {
          return "#84C52F";
        } else if (status === 2) {
          return "#F86666";
        } else if (status === 3) {
          return "#F78C22";
        } else if (status === 4) {
          return "#FFCB5F";
        }
      };
    },
    watchStatusText() {
      return status => this.taskTypeList.find(ele => ele.value === status)?.label;
    },
    watchStatusColor() {
      return status => this.taskTypeList.find(ele => ele.value === status)?.color;
    },
    // 是否可以处理预警
    isHandle() {
      return ({ manager, handleStatus }) => manager === this.$store.state.user.userName && handleStatus !== -1;
    },
    // 是否可以分享预警
    isShare() {
      return itemData => itemData.watchLabel !== -1 && itemData.watchLabel !== -2;
    }
  },
  methods: {
    // 获取修改时间
    getUpdateDateStr(updateTime) {
      let str = moment(updateTime).format('YYYY-MM-DD HH:mm:ss');
      let date = str.split(' ')[0];
      return date
    },
    getUpdateTimeStr(updateTime) {
      let str = moment(updateTime).format('YYYY-MM-DD HH:mm:ss');
      let time = str.split(' ')[1];
      return time
    },
    /**
     * 展开树
     */
    expandGroup({ id, expand }) {
      this.$emit("expandGroup", id, !expand);
    },
    /**
     * 改变处理状态
     */
    changeHandleStatus({ id, title, handleStatus, manager,owner, execRecord }) {
      this.$emit("changeHandleStatus", { id, title, handleStatus, manager,owner, execRecord });
    },
    /**
     * 展示规则弹窗
     */
    showRuleModal({ id, title, isLockTaskType, runningStatus, watchLabel }) {
      this.$emit("showRuleModal", { id, title, isLockTaskType, runningStatus, watchLabel });
    },
    /**
     * 改变运行状态（上线、下线）
     */
    changeRunningStatus({ id, title, runningStatus, ruleConditionList, warnLevel }) {
      this.$emit("changeRunningStatus", { id, title, runningStatus, ruleConditionList, warnLevel });
    },
    /**
     * 显示分享弹窗
     */
    shareTaskModal(data) {
      const { title, watchLabel, ruleText, execRecord, ruleConditionList } = data;
      this.$emit("shareTaskModal", { title, watchLabel, ruleText, execRecord, ruleConditionList });
    },
    /**
     * 显示分享弹窗
     */
    historyModal({title, id, taskType, manager}) {
      this.$emit("historyModal", { title, id, taskType, manager });
    },
    /**
     * 删除预警任务
     */
    deleteTask({ id, title, runningStatus, children }) {
      this.$emit("deleteTask", { id, title, runningStatus, children });
    }
  }
};
</script>

<style lang="less" scoped>
.tableItem-container {
  background: #ffffff;
  border-top: 1px solid #eaeaea;
  .itemHeader {
    height: 54px;
    display: flex;
    align-items: center;
    .taskNameWrapper {
      display: flex;
      align-items: center;
      .groupIcon {
        width: 12px;
        margin-right: 12px;
        cursor: pointer;
      }
      .taskName {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
        letter-spacing: 0;
        display: flex;
        align-items: center;
        &::before {
          content: var(--taskType);
          margin-top: 4px;
          margin-right: 3px;
        }
      }
      /deep/.ivu-poptip {
        display: flex;
        .ivu-poptip-rel {
          display: flex;
          align-items: center;
        }
        .ivu-poptip-popper {
          min-width: 84px;
        }
        .addSubTaskIcon {
          width: 16px;
          height: 16px;
          margin-left: 16px;
          cursor: pointer;
        }
      }
    }
    .progress{
      min-width: 150px;
    }
    .percentWrapper-all{
      padding-right: 40px;
      display: flex;
      align-items: center;
      .percentWrapper {
        // width: calc(~"100% - 65px");
        width: 100%;
        margin-right: 5px;
        /deep/.ivu-progress-bg {
          max-width: 100%;
        }
        /deep/.ivu-progress-inner-text {
          display: block;
        }
      }
    }
    .ruleWrapper {
      .ruleText {
        display: inline-block;
        padding: 3px 7px;
        background: rgba(0, 0, 0, 0.03);
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
        letter-spacing: 0;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .owner{
      width: calc(~'100% - 20px');
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .lastTriggle{
      min-width: 110px;
    }
    .runningStatusWrapper {
      padding-left: 3px;
      min-width: 120px;
      .handleBox {
        .statusText {
          font-family: PingFangSC-Medium;
          font-size: 12px;
          letter-spacing: 0;
          font-weight: 500;
        }
        .timeText {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          letter-spacing: 0;
          margin-top: 4px;
        }
      }
      .no-handle{
        font-family: PingFangSC-Medium;
        font-size: 12px;
        letter-spacing: 0;
        font-weight: 500;
        color: rgba(0,0,0,0.25);
      }
    }
    .watchStatusWrapper {
      display: flex;
      align-items: center;
      .watchStatusLabel {
        width: 64px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
        letter-spacing: 0;
      }
      .handleBox {
        margin-left: 11px;
        .statusText {
          font-family: PingFangSC-Medium;
          font-size: 12px;
          letter-spacing: 0;
          font-weight: 500;
        }
        .timeText {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          letter-spacing: 0;
          margin-top: 4px;
        }
      }
      .watchErrorLabel {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          margin-right: 4px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #ff0202;
          letter-spacing: 0;
          font-weight: 400;
        }
      }
    }

    .actionWrapper {
      .actionWrapper-all{
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
      }
      .actionItem {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 15px;
        }
        img {
          width: 16px;
          height: 16x;
          margin-right: 5px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #3f73ff;
          letter-spacing: 0;
          line-height: 20px;
        }
      }

      /deep/.ivu-poptip {
        display: flex;
        .hoverIconWrapper {
          display: flex;
          align-items: center;
          cursor: pointer;
          .noHoverIcon {
            display: inline-block;
          }
          .hoverIcon {
            display: none;
          }
          &:hover {
            .noHoverIcon {
              display: none;
            }
            .hoverIcon {
              display: inline-block;
            }
          }
        }
        .ivu-poptip-popper {
          min-width: 0;
          width: 105px;
          .ivu-poptip-body {
            padding: 0;
            .actionWrapper1 {
              padding: 4px;
              .actionItem1 {
                width: 80px;
                height: 24px;
                line-height: 24px;
                border-radius: 2px;
                padding: 0 4px;
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #333333;
                text-align: left;
                cursor: pointer;
                &:not(:last-child) {
                  margin-bottom: 4px;
                }
                &:hover {
                  background: #f0f5ff;
                  color: #3f73ff;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
