<template>
  <div class="allResources">
    <div style="width: 20%;height: 100%;overflow: auto;padding: 24px;margin-right: 2px;border-radius: 2px;background-color: #fff;">
      <div class="boxTitle" style="margin-bottom: 24px;">菜单</div>
      <Tree ref="resourcesTree" :data="resourcesTreeData" :render="renderContent" @on-select-change="onSelectRoleChange"></Tree>
    </div>
    <div style="width: 80%;height: 100%;overflow: auto;border-left: 1px solid #ececec;padding: 24px;border-radius: 2px;background-color: #fff;">
      <div class="boxTitle" style="margin-bottom: 24px;">角色信息</div>
      <div class="right">
        <div class="rightSearch">
          <div style="display: inline-block" v-allow="[1097045070840832]">
          <span>角色名称：</span>
          <Input v-model="searchVal" placeholder="请输入内容" style="width: 240px;margin-right: 16px;" clearable/>
          <Button class="buttonClass mr" type="primary" :disabled="buttonDisabled" @click="search()">
            <img src="@/assets/images/system/buttonSearch.svg" />
            查询
          </Button>
          </div>
          <Button class="buttonClass mr" type="error" :disabled="buttonDisabled || unbindbuttonDisabled" ghost @click="instance()" v-allow="[1097045070840833]">解绑</Button>
          <Button class="buttonClass" type="primary" :disabled="buttonDisabled" @click="emPower()" v-allow="[1097045070840834]">赋权</Button>
        </div>
      </div>
      <Table :columns="roleColumns" ref="roleListTable" :data="roleTableData" class="mb10"
          @on-select="onSelectRoleList"
          @on-select-cancel="onCancelRoleList"
          @on-select-all="onSelectRoleAll"
          @on-select-all-cancel="onSelectRoleAll"></Table>
      <div class="prb" style="margin-bottom: 12px;">
        <Page class="pageClass" v-if="formPage.total > 0" :total="formPage.total" show-elevator show-sizer @on-change="changePage" />
      </div>
    </div>
    <Modal v-model="emPowerModal" title="未赋权角色" :mask-closable="false"
      >
      <div class="mb10">
          <Input v-model="unAuthorizedSearchVal" search clearable placeholder="请输入内容" style="width: 100%" @on-change="watchUnAnthorizedValChange($event)" @on-search="unAuthorizedSearch"/>
      </div>
      <Table ref="unAuthorizedTable" :columns="roleColumns" :data="unAuthorizedData" class="mb10"
        @on-select="onSelectUnAuthorized"
        @on-select-cancel="onCancelUnAuthorized"
        @on-select-all="onSelectUnAuthorizedAll"
        @on-select-all-cancel="onSelectUnAuthorizedAll"></Table>
      <!--  分页  -->
      <div v-if="emPowerModal" class="prb">
        <Page
          class="pageClass"
          v-if="emPowerformPage.total > 0"
          :current="emPowerformPage.page"
          :page-size="emPowerformPage.size"
          :total="emPowerformPage.total"
          show-elevator
          @on-change="emPowerformPageChangePage"
        />
      </div>
      <div slot="footer">
        <Button type="text" @click="() => { this.emPowerModal = false }">取消</Button>
        <Button type="primary" @click="emPowerOk">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import Container from '../Container'
import { getRolesByResId, getUnBindRolesByResId, bindRolesToRes, unBindRolesToRes } from "@/api/systemManagement/role.js";
import { getRootRes } from '@/api/systemManagement/menuManagement'
import { debounce } from '@/utils/common'
export default {
  components: { Container },
  data() {
    return {
      buttonDisabled: true,
      currentNode: {},
      resourcesTreeData: [],
      cloneResourcesTreeData: [],
      searchVal: '',
      roleTableData: [],
      selectRoleIds: new Set(),
      unbindbuttonDisabled: true,
      roleColumns: [
        {
          type: "selection",
          width: 60,
          align: "center",
        },
        {
          title: '角色编号',
          key: 'id'
        },
        {
          title: '角色名称',
          key: 'name'
        }
      ],
      formPage: {
        page: 1,
        size: 10,
        total: 0
      },
      emPowerModal: false,
      unAuthorizedSearchVal: '',
      unAuthorizedData: [],
      selectUnAuthorizedIds: new Set(),
      emPowerformPage: {
        page: 1,
        size: 10,
        total: 0
      }
    }
  },
  mounted() {
    this.getTree()
  },
  methods: {
    // 点击左侧角色菜单的某一项
    onSelectRoleChange(selectNodes, currentNode) {
      let id = currentNode.id
      this.roleTableData = []
      this.selectRoleIds.clear()
      this.unbindbuttonDisabled = true
      this.searchVal = ''
      if(currentNode.id === -1){
        this.buttonDisabled = true
        this.currentNode = {}
      } else if(id != null) {
        this.buttonDisabled = false
        this.currentNode = JSON.parse(JSON.stringify(currentNode))
        this.formPage.page = 1
        this.formPage.size = 10
        this.getRolesByResId()
      }
    },
    // 点击查询按钮
    search() {
      this.selectRoleIds.clear()
      this.formPage.page = 1
      this.formPage.size = 10
      this.getRolesByResId()
    },
    // 查询对应资源下的角色
    getRolesByResId() {
        let params = {
            resId: this.currentNode.id,
            currentPage: this.formPage.page,
            pageSize: this.formPage.size
        }
        if(this.searchVal){
          params.roleName = this.searchVal
        }
        getRolesByResId(params).then(res => {
            if(res.data.state === "success"){
                let roleTableData = res.data.data.records
                roleTableData.forEach(item => {
                    if(this.selectRoleIds.has(item.id)){
                        item._checked = true
                    }
                })
                this.roleTableData = roleTableData
                this.formPage.total = res.data.data.total
            }
        })
    },
    onSelectRoleList(data,row) {
      this.selectRoleIds.add(row.id);
      this.unbindbuttonDisabled = Array.from(this.selectRoleIds).length === 0
    },
    onCancelRoleList(data,row) {
      this.selectRoleIds.delete(row.id);
      this.unbindbuttonDisabled = Array.from(this.selectRoleIds).length === 0
    },
    onSelectRoleAll(selection){
      if(selection.length === 0){
        // 取消全选
        let data = this.$refs['roleListTable'].data
        data.forEach((item) => {
          if(this.selectRoleIds.has(item.id)){
            this.selectRoleIds.delete(item.id)
          }
        })
      } else {
        // 勾选全选
        selection.forEach(item => {
          this.selectRoleIds.add(item.id)
        })
      }
      this.unbindbuttonDisabled = Array.from(this.selectRoleIds).length === 0
    },
    // 点击赋权按钮
    emPower(){
      this.emPowerModal = true;
      this.unAuthorizedData = []
      this.selectUnAuthorizedIds.clear()
      this.unAuthorizedSearchVal = ''
      this.emPowerformPage.page = 1
      this.emPowerformPage.size = 10
      this.obtainUnAuthorizedData()
    },
    // 监听input框变化，防抖调函数
    watchUnAnthorizedValChange: debounce(function(e) {
      this.unAuthorizedSearch(e.target.value)
    }),
    // 点击查询按钮
    unAuthorizedSearch(e) {
      this.selectUnAuthorizedIds.clear()
      this.emPowerformPage.page = 1
      this.emPowerformPage.size = 10
      this.obtainUnAuthorizedData(e)
    },
    obtainUnAuthorizedData(unAuthorizedSearchVal) {
      let params = {
        resId: this.currentNode.id,
        currentPage: this.emPowerformPage.page,
        pageSize: this.emPowerformPage.size
      }
      if(unAuthorizedSearchVal){
        params.roleName = unAuthorizedSearchVal
      }
      getUnBindRolesByResId(params).then(res => {
        if(res.data.state === "success") {
          let unAuthorizedData = res.data.data.records
          unAuthorizedData.forEach(item => {
            if(this.selectUnAuthorizedIds.has(item.id)){
              item._checked = true
            }
          })
          this.unAuthorizedData = unAuthorizedData
          this.emPowerformPage.total = res.data.data.total
        }
      })
    },
    // 调接口解绑
    instance() {
      if(Array.from(this.selectRoleIds).length === 0){
        this.$Message.warning('请选择解绑的角色')
        return
      }
      const title = '确认解绑吗？';
      const content = '<p>解绑后不可撤销</p>';
      this.$Modal.confirm({
        title: title,
        content: content,
        cancelText: '取消',
        onOk: () => {
          let params = {
            resId: this.currentNode.id,
            roleIds: Array.from(this.selectRoleIds)
          }
          unBindRolesToRes(params).then(res => {
            if(res.data.state === "success") {
              this.$Message.success("解绑成功")
              this.formPage.page = 1
              this.formPage.size = 10
              this.getRolesByResId()
            } else {
              this.$Message.error("解绑失败")
            }
          })
        }
      });
    },
    // 调接口赋权
    emPowerOk() {
      let params = {
        resId: this.currentNode.id,
        roleIds: Array.from(this.selectUnAuthorizedIds)
      }
      if(Array.from(this.selectUnAuthorizedIds).length === 0){
        this.$Message.warning("请选择未赋权角色")
        return
      }
      bindRolesToRes(params).then(res => {
        if(res.data.state === "success") {
          this.$Message.success("赋权成功")
          this.formPage.page = 1
          this.formPage.size = 10
          this.getRolesByResId()
          this.emPowerModal = false
        } else {
          this.$Message.error("赋权失败")
        }
      })
    },
    onSelectUnAuthorized(data,row) {
      this.selectUnAuthorizedIds.add(row.id)
    },
    onCancelUnAuthorized(data,row) {
      this.selectUnAuthorizedIds.delete(row.id)
    },
    onSelectUnAuthorizedAll(selection){
      if(selection.length === 0){
        // 取消全选
        let data = this.$refs['unAuthorizedTable'].data
        data.forEach((item) => {
          if(this.selectUnAuthorizedIds.has(item.id)){
            this.selectUnAuthorizedIds.delete(item.id)
          }
        })
      } else {
        // 勾选全选
        selection.forEach((item) => {
          this.selectUnAuthorizedIds.add(item.id)
        })
      }
    },
    // 切页
    changePage(current) {
      this.formPage.page = current;
      this.getRolesByResId();
    },
    // 未赋权弹框切页
    emPowerformPageChangePage(current) {
      this.emPowerformPage.page = current;
      this.obtainUnAuthorizedData();
    },
    // 获取左侧的菜单,构造为树形结构
    getTree() {
        getRootRes().then(res => {
          let menus = res.data.data
          let systemMenus = menus.filter(menu => menu.pid === -1 && menu.type === 4)
            .map(menu => {
              return {
                id: menu.id,
                title: menu.name,
                type: menu.type,
                hidden: menu.hidden ? 'true' : 'false',
                sort: menu.sort,
                isBlank: menu.type === 2 ? 'true' : 'false',
                path: menu.path,
                pid: -1,
                pName: '',
                configData: JSON.parse(menu.configData)
              }
            })
          systemMenus.sort((i, j) => i.sort - j.sort)
          this.recursiveMenu(systemMenus, menus)
          let businessMenus = menus.filter(menu => menu.pid === -1 && menu.type !== 4)
            .map(menu => {
              return {
                id: menu.id,
                title: menu.name,
                type: menu.type,
                hidden: menu.hidden ? 'true' : 'false',
                sort: menu.sort,
                isBlank: menu.type === 2 ? 'true' : 'false',
                path: menu.path,
                pid: -1,
                pName: '',
                configData: JSON.parse(menu.configData)
              }
            })
          businessMenus.sort((i, j) => i.sort - j.sort)
          this.recursiveMenu(businessMenus, menus)
          let rootMenu = [{
            id: -1,
            title: '系统菜单',
            children: systemMenus,
            expand: true
          },{
            id: -2,
            title: '业务菜单',
            children: businessMenus,
            expand: true
          }]
          for(let i=0; i<rootMenu.length; i++){
            let item = rootMenu[i]
            if(item.children && item.children.length > 0){
              this.buttonDisabled = false
              item.children[0].selected = true
              this.currentNode = item.children[0]
              this.getRolesByResId()
              break
            }
          }
          this.resourcesTreeData = rootMenu
          this.cloneResourcesTreeData = JSON.parse(JSON.stringify(rootMenu))
        })
      },

      recursiveMenu(menus, totalMenus) {
        menus.forEach(menu => {
          let children = totalMenus
            .filter(bm => bm.pid == menu.id)
            .map(menuItem => {
              let obj = {}
              if(menuItem.type === 6){
                obj = {
                  id: menuItem.id,
                  title: menuItem.name,
                  type: menuItem.type,
                  pid: menu.id
                }
              } else {
                obj = {
                  id: menuItem.id,
                  title: menuItem.name,
                  type: menuItem.type,
                  hidden: menuItem.hidden ? 'true' : 'false',
                  sort: menuItem.sort,
                  path: menuItem.path,
                  isBlank: menuItem.type === 2 ? 'true' : 'false',
                  pid: menu.id,
                  pName: menu.title,
                  configData: JSON.parse(menuItem.configData)
                }
              }
              return obj
            })

          if (menu.type === 0) {
            let modules = totalMenus
              .filter(bm => bm.pid == menu.id && (bm.type === 1 || bm.type === 3))
              .map(menuItem => {
                return {
                  id: menuItem.id,
                  name: menuItem.name,
                  type: menuItem.type,
                  sort: menuItem.sort,
                  path: menuItem.path,
                  pid: menu.id,
                  configData: JSON.parse(menuItem.configData)
                }
              })
            if (modules.length > 0) {
              menu.modules = modules
            } else {
              menu.modules = []
            }

          }

          children.sort((i, j) => i.sort - j.sort)
          if (children.length > 0) {
            menu.children = children
            this.recursiveMenu(children, totalMenus)
          }
        })
      },
      renderContent(h, { root, node, data }) {
        return h("div", {
          class: 'common-wrap',
          style: {
            height: '32px'
          }
        }, [
          h('span',
          {
            style: {
              display: 'inline-block',
              width: '80%',
              height: '32px',
              overflow: 'hidden',
              textOverflow: 'ellipsis',
              whiteSpace: 'nowrap'
            },
            attrs: {
              title: `${data.title}`
            }
          }, data.title)
        ])
      }

  }
}
</script>
<style scoped lang="less">
.mr {
  margin-right: 16px;
}
.mb10 {
  margin-bottom: 10px;
}
.prb {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.allResources {
  height: 100%;
  display: flex;
}
.center {
  width: 20%;
  height: 100%;
  background-color: #fff;
  margin-right: 2px;
}
.right {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
/deep/ .ivu-tabs-nav-scroll{
  display:flex;
  justify-content:center;
}
/deep/ .ivu-tabs-content{
  height: 88%;
  overflow: auto;
}
/* 左侧树形结构 */
.ivu-tree /deep/ .ivu-tree-arrow i{
  content: url("../../../assets/images/system/treePlus.svg");
  transform: none;
}
.ivu-tree /deep/ .ivu-tree-arrow-open i{
  content: url("../../../assets/images/system/treeMinus.svg");
}
/* 表头加背景色 */
.ivu-table-wrapper /deep/ .ivu-table-header thead tr th{
  background: #F0F5FF;
  height: 40px;
}
.ivu-tree /deep/ .ivu-tree-title{
  padding: 0 8px;
}
/deep/.ivu-modal .ivu-btn{
  width: 72px;
  border-radius: 2px;
}
/deep/.ivu-modal .ivu-btn.ivu-btn-primary{
  background-color: #3F73FF;
  border-color: #3F73FF;
}

// 去掉table边框
/deep/ .ivu-table::after{
	width: 0;
}

/deep/ .ivu-table::before{
	height: 0;
}

/deep/ .ivu-table-wrapper{
	border: none;
}

/deep/ .ivu-table th{
	border-bottom: none;
}

// Modal表头样式
/deep/.ivu-modal-header {
  border-radius: 8px 8px 0 0;
  padding: 14px 24px;
}
/deep/.ivu-modal-header-inner{
  font-size: 14px;
  color: #333333;
  height: 20px;
  line-height: 20px;
}
/deep/.ivu-modal-close .ivu-icon-ios-close{
  color: #333333;
}

// 分页器样式
/deep/ .pageClass {
  .ivu-page-item{
    min-width: 24px;
    height: 24px;
    line-height: 22px;
  }
  .ivu-page-prev, .ivu-page-next, .ivu-page-item-jump-prev, .ivu-page-item-jump-next{
    min-width: 24px;
    height: 24px;
    line-height: 22px;
  }
  .ivu-select-single .ivu-select-selection{
    height: 24px;
  }
  .ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
    height: 22px;
    line-height: 22px;
  }
  .ivu-page-options-elevator{
    height: 24px;
    line-height: 24px;
  }
  .ivu-page-options-elevator input{
    height: 24px;
  }
}

</style>
