<template>
  <div class="deletedPage-container">
    <div class="deletedPageWrapper">
      <img src="@/assets/images/error-page/deletedPageImg.svg" alt="" />
    </div>
  </div>
</template>

<style lang="less" scoped>
.deletedPage-container {
  width: 100%;
  height: 100%;
  padding: 14px 11px;
  box-sizing: border-box;
  background-color: #f3f7ff;
  .deletedPageWrapper {
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
