<template>
  <div class="assetConfig-container">
    <!-- transform 会导致字体像素模糊，故关闭动画 -->
    <Tabs :value="showTabName" :animated="false">
      <TabPane label="标签配置" name="labelConfig">
        <LabelConfig />
      </TabPane>
      <TabPane label="版本号配置" name="versionConfig">
        <VersionConfig />
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
import LabelConfig from "./components/Label.vue";
import VersionConfig from "./components/VersionConfig";

export default {
  data() {
    return {
      showTabName: "labelConfig"
    };
  },
  components: {
    LabelConfig,
    VersionConfig
  }
};
</script>

<style lang="less" scoped>
/deep/.ivu-tabs {
  height: 100%;
  .ivu-tabs-bar {
    margin-bottom: 0;
    .ivu-tabs-nav-container {
      line-height: unset;
      .ivu-tabs-tab {
        font-size: 14px;
        color: #333333;
        letter-spacing: 0;
        font-weight: 600;
        padding: 20px 16px 8px;
      }
    }
  }
  .ivu-tabs-content {
    height: calc(~"100% - 48px");
    .ivu-tabs-tabpane {
      height: 100%;
    }
  }
}

.assetConfig-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
</style>
