<template>
  <Modal
    :value="show"
    title="数据筛选"
    width="500"
    footer-hide
    @on-cancel="onCancel">
    <div class="indicator-list">
      <div class="indicator-item" v-for="indicator in variableConditionList">
        <div>指标名称：{{ indicator.name }}</div>
        <!-- 原子指标、派生指标 -->
        <template v-if="indicator.condition">
          <div class="condition-item" v-for="conditionItem in indicator.condition">
            <span class="name">{{ conditionItem.businessModelMemberName }}</span>
            <span class="symbol">{{ conditionItem.conditionTypeStr }}</span>
            <Input class="input" v-model="conditionItem.variableValue" placeholder="请输入数值" />
            <Tooltip theme="light" placement="top-end" :offset="10">
              <div slot="content">
                <p>1、日期连接符支持“/”、“-”、“.”</p>
                <p>2、多值或者区间值通过逗号“,”隔开</p>
              </div>
              <Icon class="icon" type="ios-information-circle-outline" size="14" color="#dcdee2" />
            </Tooltip>
          </div>
        </template>
        <!-- 复合指标 -->
        <template v-else>
          <div class="children-item" v-for="childrenItem in indicator.children">
            <div class="children-indicator">指标名称：{{ childrenItem.name }}</div>
            <div class="condition-item" v-for="conditionItem in childrenItem.condition">
              <span class="name">{{ conditionItem.businessModelMemberName }}</span>
              <span class="symbol">{{ conditionItem.conditionTypeStr }}</span>
              <Input class="input" v-model="conditionItem.variableValue" placeholder="请输入数值" />
              <Tooltip theme="light" placement="top-end" :offset="10">
                <div slot="content">
                  <p>1、日期连接符支持“/”、“-”、“.”</p>
                  <p>2、多值或者区间值通过逗号“,”隔开</p>
                </div>
                <Icon class="icon" type="ios-information-circle-outline" size="14" color="#dcdee2" />
              </Tooltip>
            </div>
          </div>
        </template>
      </div>
    </div>

    <div class="footer">
      <Button class="btn" @click="onCancel">取消</Button>
      <Button class="btn" type="primary" @click="onOk">确定</Button>
    </div>
  </Modal>
</template>

<script>
import { filterList } from '@/config/filterList'
import { getBusinessModelList } from '@/api/businessModel'
import { mapGetters } from 'vuex'
import { deepCopy } from '@/utils/common'

export default {
  name: 'VariableCondition',
  props: {
    show: Boolean,
    indicatorList: Array,
  },
  data() {
    return {
      variableConditionList: [], // 变量条件列表
      businessModelList: [], // 业务模型列表
      value: '',
    }
  },
  computed: {
    ...mapGetters(['allIndicators', 'currentSelectConfigData']),
  },
  watch: {
    show(val) {
      if (val) {
        if (this.indicatorList) {
          this.variableConditionList = this.buildVariableConditionListByIndicatorList(this.indicatorList)
        } else {
          // 如果没有选择指标，从configData中读取之前的配置
          this.variableConditionList = deepCopy(this.currentSelectConfigData.variableCondition)
        }
      }
    },
  },
  mounted() {
    this.getBusinessModelList()
  },
  methods: {
    /**
     * 获取业务模型列表
     */
    async getBusinessModelList() {
      let res = await getBusinessModelList()
      if (res.data.state === 'success') {
        this.businessModelList = res.data.data
      } else {
        this.$Message.error('获取业务模型列表失败！')
      }
    },

    /**
     * 根据指标列表构建变量条件列表
     * @param indicatorList
     */
    buildVariableConditionListByIndicatorList(indicatorList) {
      let variableConditionList = []

      for (let indicator of indicatorList) {
        const type = indicator.type
        let variableConditionItem
        if (type === 1) {
          // 原子
          variableConditionItem = this.buildVariableConditionByBasicIndicator(indicator)
        } else if (type === 2) {
          // 复合
          variableConditionItem = this.buildVariableConditionByCompositeIndicator(indicator)
        } else if (type === 3) {
          // 派生
          variableConditionItem = this.buildVariableConditionByDerivativeIndicator(indicator)
        }


        variableConditionList.push(variableConditionItem)
      }

      return variableConditionList
    },

    /**
     * 根据原子指标构建变量条件
     */
    buildVariableConditionByBasicIndicator(indicator) {
      const { id, name, type, useCompare, businessModelId, conditionGroups } = indicator
      let variableConditionItem = { id, name, type, useCompare, condition: [] }
      // 找到对应的业务模型
      const businessModel = this.businessModelList.find(item => item.id === businessModelId)

      if (conditionGroups?.length) {
        // 如果有设置过滤条件，一个与是一个group
        for (let conditionGroupItem of conditionGroups) {
          // 一个与中会有多个或
          for (let conditionItem of conditionGroupItem.conditions) {
            // 处理value ex:2|${var_1690359561144}
            const { value, sourceId, conditionType } = conditionItem
            const valueArr = value.split('|')
            // 找到对应的业务模型成员
            const businessModelMemberName = businessModel.businessModelProperties.find(item => item.id === Number(sourceId))?.name
            const conditionTypeStr = filterList.find(item => (item.value === conditionType))?.label
            const variableName = valueArr[1].slice(2, -1)
            variableConditionItem.condition.push({
              businessModelMemberName,
              conditionType: conditionType,
              conditionTypeStr,
              variableName,
              variableValue: '',
            })
          }
        }
      }

      return variableConditionItem
    },

    /**
     * 根据复合指标构建变量条件
     */
    buildVariableConditionByCompositeIndicator(indicator) {
      const { id, name, type, useCompare, conditions } = indicator
      // 复合指标下有多个原子指标
      let variableConditionItem = { id, name, type, useCompare, children: [] }
      for (let indicatorId in conditions) {
        // 根据指标id找到指标
        const indicator = this.allIndicators.find(item => item.id === indicatorId)
        const { id, name, businessModelId } = indicator
        // 每个原子指标的变量条件
        let childrenVariableConditionItem = { id, name, type, useCompare, condition: [] }
        // 找到对应的业务模型
        const businessModel = this.businessModelList.find(item => item.id === businessModelId)
        const conditionGroups = conditions[indicatorId]

        if (conditionGroups?.length) {
          // 如果有设置过滤条件，一个与是一个group
          for (let conditionGroupItem of conditionGroups) {
            // 一个与中会有多个或
            for (let conditionItem of conditionGroupItem.conditions) {
              // 处理value ex:2|${var_1690359561144}
              const { value, sourceId, conditionType } = conditionItem
              const valueArr = value.split('|')
              // 找到对应的业务模型成员
              const businessModelMemberName = businessModel.businessModelProperties.find(item => item.id === Number(sourceId))?.name
              const conditionTypeStr = filterList.find(item => (item.value === conditionType))?.label
              const variableName = valueArr[1].slice(2, -1)
              childrenVariableConditionItem.condition.push({
                businessModelMemberName,
                conditionType: conditionType,
                conditionTypeStr,
                variableName,
                variableValue: '',
              })
            }
          }
        }

        variableConditionItem.children.push(childrenVariableConditionItem)
      }

      return variableConditionItem
    },

    /**
     * 根据派生指标构建变量条件
     */
    buildVariableConditionByDerivativeIndicator(indicator) {
      const { id, name, type, useCompare } = indicator
      let variableConditionItem = { id, name, type, useCompare, condition: [] }
      const { businessModelId, conditionGroups } = indicator.atomIndicator
      // 找到对应的业务模型
      const businessModel = this.businessModelList.find(item => item.id === businessModelId)

      if (conditionGroups?.length) {
        // 如果有设置过滤条件，一个与是一个group
        for (let conditionGroupItem of conditionGroups) {
          // 一个与中会有多个或
          for (let conditionItem of conditionGroupItem.conditions) {
            // 处理value ex:2|${var_1690359561144}
            const { value, sourceId, conditionType } = conditionItem
            const valueArr = value.split('|')
            // 找到对应的业务模型成员
            const businessModelMemberName = businessModel.businessModelProperties.find(item => item.id === Number(sourceId))?.name
            const conditionTypeStr = filterList.find(item => (item.value === conditionType))?.label
            const variableName = valueArr[1].slice(2, -1)
            variableConditionItem.condition.push({
              businessModelMemberName,
              conditionType: conditionType,
              conditionTypeStr,
              variableName,
              variableValue: '',
            })
          }
        }
      }

      return variableConditionItem
    },

    /**
     * 关闭/取消
     */
    onCancel() {
      this.$emit('on-close')
    },

    /**
     * 确定
     */
    onOk() {
      this.$emit('on-ok', this.variableConditionList)
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-modal-body {
  padding: 24px;
}

.indicator-item + .indicator-item {
  margin-top: 16px;
}

.children-item {
  padding-left: 16px;
  margin-top: 16px;
}

.condition-item {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 60px;
  margin-top: 16px;

  .name {
    width: 114px;
    border-radius: 2px 0 0 2px;
  }

  .symbol {
    width: 80px;
  }

  .input {
    width: 136px;

    /deep/ .ivu-input {
      border-radius: 0 2px 2px 0;
    }
  }

  .icon {
    margin-left: 16px;
    cursor: pointer;
  }

  .name,
  .symbol {
    height: 32px;
    line-height: 32px;
    text-align: center;
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    border-right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 4px;
  }
}

.footer {
  text-align: right;
  margin-top: 24px;

  .btn {
    height: 32px !important;
    padding: 0 24px;
    border-radius: 2px;

    + .btn {
      margin-left: 16px;
    }
  }
}
</style>
