<template>
  <div class="versionConfig-container">
    <FilterSearch @search:table="searchData" @add:version="showAddVersionModal" />
    <TableList :table-data="dataList" @show:modal="showAddVersionModal" @refresh:data="getVersionData" />

    <!-- 添加版本号弹窗 -->
    <AddVersionModal v-model="showModal" :modal-type="modalType" :modal-status="modalStatus" @refresh:data="getVersionData" />
  </div>
</template>

<script>
import FilterSearch from "./components/FilterSearch";
import TableList from "./components/TableList";
import AddVersionModal from "./components/AddVersionModal";
import { queryAllVersion } from "@/api/label";

export default {
  components: {
    FilterSearch,
    TableList,
    AddVersionModal
  },
  data() {
    return {
      dataList: [],
      showModal: false,
      modalType: "",
      modalStatus: {}
    };
  },
  created() {
    this.getVersionData();
  },
  methods: {
    /**
     * 获取版本号数据
     * @param {String} versionValue 版本号检索词
     */
    async getVersionData(versionValue = "") {
      const params = {};
      if (versionValue) {
        params.version = versionValue;
      }
      const res = await queryAllVersion(params);
      if (res.data.state === "success") {
        this.dataList = res.data.data.map(ele => ({
          id: ele.id,
          // level: ele.versionLevel, // 等级
          name: ele.name, // 名称
          desc: ele.versionDesc, // 描述
          sysVersion: ele.sysVersion === 1 // 是否是内置版本
        }));
      }
    },
    /**
     * 查询
     */
    searchData(value) {
      this.getVersionData(value);
    },
    /**
     * 展示新增/编辑弹窗
     */
    showAddVersionModal(type, data) {
      this.showModal = true;
      this.modalType = type;
      if (type === "edit") {
        this.modalStatus = data;
      }
    }
  }
};
</script>

<style lang="less" scoped>
.versionConfig-container {
  width: 100%;
  height: 100%;
  padding: 16px;
  user-select: none;
  .filterSearch-container {
    height: 32px;
    margin-bottom: 16px;
  }
  .tableList-container {
    height: calc(~"100% - 48px");
  }
}
</style>
