<template>
  <div class="dataset">
    <Tabs class="dataset-tabs" name="datasetTabs" :animated="false" v-model="datasetTabs">
      <TabPane tab="datasetTabs" label="数据模型" name="dataModel">
        <DataModel />
      </TabPane>
      <TabPane tab="datasetTabs" label="文件" name="file">
        <File />
      </TabPane>
      <template #extra>
        <div class="extra">
          <div class="select">
            数据源：
            <Select :value="dataSource" @on-change="onDataSourceChange">
              <Option v-for="item in dataSourceList" :value="item.id" :key="item.id">{{ item.name }}</Option>
            </Select>
          </div>
          <Button class="add-dataset-btn" type="primary" icon="md-add" @click="onAddDataset">新增数据集</Button>
        </div>
      </template>
    </Tabs>
  </div>
</template>

<script>
import DataModel from '@/view/dataset/DataModel'
import File from '@/view/dataset/File'
import { queryDataSourceForCategory } from '@/api/indicator'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Dataset',
  components: {
    DataModel,
    File,
  },
  data() {
    return {
      datasetTabs: 'dataModel', // 数据模型首页Tab
      dataSourceList: [],
    }
  },
  computed: {
    ...mapState('dataset', ['dataSource']),
  },
  mounted() {
    this.getDataSourceList()
  },
  methods: {
    ...mapActions('dataset', ['setDataSource']),
    // 获取数据源列表
    async getDataSourceList() {
      const res = await queryDataSourceForCategory()
      if (res.data.state !== 'success') return this.$Message.error('获取数据源列表失败')
      this.dataSourceList = res.data.data
      this.updateDataSource()
    },

    // 更新数据源
    updateDataSource() {
      // 检查本地是否有上次选择的数据源缓存
      const dataSource = sessionStorage.getItem('dataSource')
      // 检查数据源是否在列表中
      const exist = this.dataSourceList.findIndex(item => item.id === dataSource) > -1
      if (exist) {
        this.setDataSource(dataSource)
      } else {
        // 如果不存在，默认选中列表中第一个数据源
        this.onDataSourceChange(this.dataSourceList[0].id)
      }
    },

    // 选择数据源
    onDataSourceChange(dataSource) {
      this.setDataSource(dataSource)
      sessionStorage.setItem('dataSource', dataSource)
    },

    // 新增数据集
    onAddDataset() {
      this.$router.push({
        path: 'datasetEdit',
        query: { datasetId: null, databaseId: this.dataSource },
      })
    },
  },
}
</script>

<style scoped lang="less">
.ivu-btn-primary {
  background: #3F73FF;
}

.dataset {
  height: inherit;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/deep/ .dataset-tabs {
  height: inherit;
  color: #333;

  .ivu-tabs-bar {
    padding: 0 16px;
  }

  .ivu-tabs-tab {
    height: 60px;
    line-height: 60px;
    padding: 0 16px;
    font-weight: bold;
  }

  .extra {
    height: 60px;
    display: flex;
    align-items: center;

    .select {
      display: flex;
      align-items: center;
      margin-right: 16px;

      .ivu-select {
        width: 160px;

        .ivu-select-item {
          max-width: 160px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .ivu-tabs-content {
    height: calc(~'100% - 75px');

    .ivu-tabs-tabpane {
      height: 100%;
    }
  }
}
</style>
