<template>
  <el-dialog
    :visible.sync="innerDialogVisible"
    width="450px"
    append-to-body
    class="addGroupOrLabelDialog"
    :close-on-click-modal="false"
  >
    <div class="labelAdder">
      <template v-if="dialogType === 'addGroup'">
        <div class="header flexBox">
          <span>分组</span>
          <el-button type="text" icon="el-icon-plus" @click="addNew('addGroup')"
            >添加分组
          </el-button>
        </div>
        <div class="labelBox groups">
          <el-tag
            v-for="item in businessGroups"
            :key="item.id"
            effect="plain"
            closable
            @close="removeGroup(item)"
            >{{ item.groupName }}</el-tag
          >
        </div>
      </template>
      <template v-else>
        <div class="header flexBox">
          <span>标签</span>
          <el-button type="text" icon="el-icon-plus" @click="addNew('addLabel')"
            >添加标签
          </el-button>
        </div>
        <div class="labelBox">
          <el-tag
            v-for="item in businessLabels"
            :key="item.id"
            effect="plain"
            closable
            @close="removeLabel(item)"
            >{{ item.labelName }}</el-tag
          >
        </div>
      </template>
    </div>

    <span slot="footer" class="dialog-footer">
      <el-button class="standardButton" @click="innerDialogVisible = false"
        >取 消</el-button
      >
      <el-button
        class="standardButton"
        type="primary"
        @click="innerDialogVisible = false"
        >确 定</el-button
      >
    </span>
    <el-dialog
      :visible.sync="addLabelDialogVisible"
      :close-on-click-modal="false"
      width="426px"
      class="adderDialog"
      append-to-body
    >
      <div class="wrapper">
        <el-form
          size="small"
          ref="addNewForm"
          :rules="rulesForm"
          :model="newLabelOrGroupModel"
          label-position="left"
          label-width="100px"
        >
          <el-form-item
            :label="dialogType === 'addGroup' ? '添加分组：' : '添加标签：'"
            prop="newName"
          >
            <el-input
              maxlength="10"
              placeholder="请输入名称"
              v-model="newLabelOrGroupModel.newName"
              size="small"
            ></el-input>
          </el-form-item>
        </el-form>
      </div>

      <span slot="footer" class="dialog-footer">
        <el-button class="standardButton" @click="handleAddNewFormClose"
          >取 消</el-button
        >
        <el-button
          class="standardButton"
          type="primary"
          @click="addNewLabelOrGroup"
        >
          确 定
        </el-button>
      </span>
    </el-dialog>
  </el-dialog>
</template>

<script>
import { checkSpeicalKey } from "@/utils/validate";
import { addNewGroup, addNewLabel } from "@/api/contentManagement";
import { mapActions } from 'vuex'

export default {
  name: "AddGroupOrLabelDialog",
  props: {
    dialogType: {
      type: String,
    },
    businessGroups: {
      type: Array,
    },
    businessLabels: {
      type: Array,
    },
  },
  data() {
    const validateInputSpecialKey = (rule, value, callback) => {
      if (value === "" || (value && value.trim() === "")) {
        const type = this.dialogType === "addGroup" ? "分组" : "标签";
        return callback(new Error(`${type}名称不能为空或者空白字符串！`));
      }

      if (this.dialogType === "addGroup") {
        const hasRepeatGroupName =
          this.businessGroups.filter((item) => item.groupName === value)
            .length > 0;
        if (hasRepeatGroupName) {
          return callback(new Error("该分组名称已存在，请修改！"));
        }
      } else {
        const hasRepeatLabelName =
          this.businessLabels.filter((item) => item.labelName === value)
            .length > 0;
        if (hasRepeatLabelName) {
          return callback(new Error("该标签名称已存在，请修改！"));
        }
      }

      if (!checkSpeicalKey(value)) {
        return callback(new Error("含有特殊字符！"));
      } else {
        callback();
      }
    };
    return {
      innerDialogVisible: false,
      addLabelDialogVisible: false,
      newLabelOrGroupModel: {
        newName: "",
      },
      rulesForm: {
        newName: [
          { required: true, message: "请输入名称", trigger: "blur" },
          { validator: validateInputSpecialKey, trigger: "blur" },
        ],
      },
    };
  },
  methods: {
    ...mapActions('contentManage', [
      'getBusinessGroups',
      'getBusinessLabels',
      'getEnvList'
    ]),
    openDialog() {
      this.innerDialogVisible = true;
    },
    addNew(type) {
      this.$emit("setDialogTypeEmit", type);
      this.addLabelDialogVisible = true;
    },
    addNewLabelOrGroup() {
      this.$refs["addNewForm"].validate((valid) => {
        if (valid) {
          if (this.dialogType === "addGroup") {
            this.addNewGroup(this.newLabelOrGroupModel.newName)
          } else {
            this.addNewLabel(this.newLabelOrGroupModel.newName)
          }
          this.newLabelOrGroupModel.newName = "";
          this.addLabelDialogVisible = false;
        } else {
          console.warn("error submit!");
          return false;
        }
      });
    },
    async addNewLabel(name) {
      const res = await addNewLabel({name})
      if (res.data) {
        const { state } = res.data
        if (state === 'success') {
          this.$message.success("新增成功！")
          this.getBusinessLabels()
        }
      }
    },
    async addNewGroup(name) {
      const res = await addNewGroup({name})
      if (res.data) {
        const { state } = res.data
        if ( state === 'success' ) {
          this.$message.success("新增成功！")
          this.getBusinessGroups()
        }
      }
    },
    handleAddNewFormClose() {
      this.$refs["addNewForm"].resetFields();
      this.addLabelDialogVisible = false;
    },
    removeGroup(group) {
      this.$emit("removeGroupEmit", group);
    },
    removeLabel(label) {
      this.$emit("removeLabelEmit", label);
    },
  },
};
</script>

<style lang="scss" scoped>
.addGroupOrLabelDialog {
  /deep/ .el-dialog__header {
    border-bottom: none;
  }
}

.labelAdder {
  .el-tag + .el-tag {
    margin-left: 10px;
  }
  .header {
    justify-content: space-between;
  }
  .labelBox {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 10px;
    height: 132px;
    overflow-y: auto;

    /deep/ .el-tag {
      background: #e7eeff;
      border-radius: 20px;
      height: 22px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
}

.adderDialog {
  .name {
    flex-shrink: 0;
    margin-right: 10px;
  }

  /deep/ .el-dialog__header {
    border-bottom: none;
  }
  /deep/ .el-dialog__body {
    padding-bottom: 5px !important;
  }
  /deep/ .el-dialog__footer {
    padding-top: 5px;
  }

  /deep/ .el-form-item__label {
    text-align: right;
  }
}
</style>
