<template>
  <el-dialog :title="title" :visible.sync="dialogVisible" class="contentEditDialog"
   width="990px" :close-on-click-modal="false" :before-close="handleClose"
  >
  <div  class="content" :class="{ hideSelcet : isDetail  }" >

    <el-form  ref="form"  :model="form"  :rules="isDetail ? {} : contentEditRules"  label-width="95px"  label-position="left"  class="left">

      <div class="titleTip">环境</div>
      <el-form-item label="所属环境：">
        <span    class="detileStr" >{{form.envTypeName}}</span>
      </el-form-item>
      <div class="titleTip">资源</div>

      <el-form-item label="资源名称：" prop="contentName">
        <span v-if="isDetail" class="detileStr">
          {{form.contentName}}
        </span>
        <el-input v-else v-model.trim="form.contentName"  show-word-limit  placeholder="请输入资源名称" size="small" maxlength="64" style="width: 100%" :disabled="isReportEdit"></el-input>
      </el-form-item>

      <el-form-item label="资源路径：" prop="contentPath" >

<!--        <template  v-if="form.envType == 3"  >-->
<!--         <el-select :disabled="isDetail " v-model="form.contentPath"  style="width: 100%"  placeholder="请选择"  size="small"  @change="handleContentPathChange" >-->
<!--          <el-option  v-for="item in contentPathListType3"  :key="item.id"  :label="item.name"  :value="item.path">-->
<!--          </el-option>-->
<!--        </el-select>-->
<!--      </template>-->

<!--      <template  v-else-if="form.envType == 9"  >-->
<!--        <el-select  :disabled="isDetail "   v-model="form.contentPath"    style="width: 100%"       placeholder="请选择"    size="small"    @change="handleContentPathChange"   >-->
<!--          <el-option v-for="item in contentPathListType9" :key="item.id" :label="item.name" :value="item.path" >-->
<!--          </el-option>-->
<!--        </el-select>-->
<!--      </template>-->

      <template>
         <span v-if="isDetail" class="detileStr">
          {{form.contentPath}}
        </span>
        <el-input  v-else   v-model.trim="form.contentPath"  placeholder="请输入资源路径"  size="small" :disabled="isReportEdit">  </el-input>
      </template>


      </el-form-item>

      <el-form-item label="业务分组：" prop="busiGroups" >
        <div class="flexBox">
          <el-select   v-if="isDetail" :disabled="isDetail || isReportEdit"
            v-model="form.busiGroupNames"  placeholder="请选择分组"  multiple  style="width: 100%"  size="small"
          >
            <el-option   v-for="item in businessGroups"   :key="item.id"   :label="item.groupName"   :value="item.groupName" ></el-option>
          </el-select>
          <FaTreeSelect
            :selected="form.busiGroups"
            :treeData="assetGroupTree && assetGroupTree[0] && assetGroupTree[0].children"
            @changeVal="onAssetGroupChange"
            :refresh="true"
            :render="renderTip"
            class="custom-tree" v-else/>
<!--          <i    class="el-icon-circle-plus-outline ml10 btnIcon"    @click="openInnerDialog('addGroup')"  v-if="!isDetail" ></i>-->
        </div>
      </el-form-item>

      <el-form-item label="业务标签：">
        <div class="flexBox">
          <el-select    v-if="isDetail"  :disabled="isDetail || isReportEdit"    v-model="form.busiLabelNames"    placeholder="请选择标签"    multiple    style="width: 100%"    size="small"  >
             <el-option  v-for="item in businessLabels"  :key="item.id"  :label="item.labelName"  :value="item.labelName"></el-option>
          </el-select>
          <AssetsLabel
            :data="form.busiLabels"
            @select="onAssetsLabelSelect" v-else/>
<!--          <i     class="el-icon-circle-plus-outline ml10 btnIcon"      @click="openInnerDialog('addLabel')"  v-if="!isDetail"    ></i>-->
        </div>
      </el-form-item>

      <el-form-item label="业务描述：">
        <span v-if="isDetail"   class="detileStr" >{{form.busiDiscribe}}</span>
        <el-input v-else    v-model.trim="form.busiDiscribe"    placeholder="请输入业务描述"
           size="small"    maxlength="100"    style="width: 100%"  ></el-input>
       </el-form-item>
       <el-form-item label="创建人：" >
        <span    class="detileStr" >{{form.creatorName}}</span>
      </el-form-item>
       <el-form-item label="创建时间：" >
        <span    class="detileStr" >{{form.createTime}}</span>
      </el-form-item>
    </el-form>
    <div class="right">

       <div class="titleWrapper"   :style="`justify-content: flex-start;margin: 22px 0 ${isDetail ? 25:  40}px;`" >
        <span class="grayText" style="line-height: 30px;margin-right:12px">环境类型：</span>
        {{getEnvTypeName(form.envType)}}
      </div>

        <div class="titleWrapper">
        <span class="grayText">资源参数</span>
        <el-button class="addParamsBtn" type="text"  v-if="!isDetail"
         :disabled="paramsTableData.length >= 10 "  icon="el-icon-plus" @click="addNewParam()" >添加参数</el-button >
      </div>
      <el-table     :data="paramsTableData"     class="standardTable paramsTable"  border    size="small"   >
        <el-table-column prop="paramName" label="参数名称">
          <template slot-scope="scope">
            <span  v-if="isDetail"  >{{scope.row.paramName}}</span>
            <el-input   v-else    v-model.trim="scope.row.paramName"       placeholder="请输入参数名称"       size="small"       style="width: 100%"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column prop="paramType" label="参数类型" >
          <template slot-scope="scope"   >
           <span  v-if="isDetail"  >{{scope.row.paramType}}</span>
            <el-select  v-else   v-model="scope.row.paramType"    placeholder="参数类型"    style="width: 100%"    size="small"  >
              <el-option   v-for="item in paramsTypeOptions"   :key="item.label"   :label="item.label"   :value="item.value" ></el-option>
            </el-select>
          </template>
        </el-table-column>
        <el-table-column prop="paramVal" label="参数值">
          <template slot-scope="scope">
            <span  v-if="isDetail"  >{{scope.row.paramVal}}</span>
            <el-input   v-else   v-model.trim="scope.row.paramVal"     placeholder="请输入参数值"     size="small"     style="width: 100%"   ></el-input>
          </template>
        </el-table-column>
        <el-table-column prop="paramVal" label="操作"   width="50" align="center"  v-if="!isDetail">
          <template slot-scope="scope">
            <svg-icon
                icon-class="tableButtonDelete"
                @click="deleteItem(scope.row)"
            />
          </template>
        </el-table-column>
      </el-table>

      <div class="titleWrapper" style="justify-content: flex-start;"  v-loading="loading"   element-loading-text="正在上传到服务端，请稍等...">
        <span class="grayText" style="align-self: flex-start;line-height: 30px;margin-right:15px">缩略图：</span>
        <template v-if="isDetail" >
        <el-image       :src="form.imgPath"       fit="fill"
         style="height: 100px; width: 100px ;border-radius: 5px;border: 1px solid rgba(224, 227, 233, 0.85);"
          v-if="form.imgPath"      lazy       :preview-src-list="viewList"        title="点击放大"
        ></el-image>
        </template>
        <DmpUploader
          ref="uploader"   v-else
          :tipMsg="'• 仅支持上传JPG、JPEG、PNG格式，图片大小不超过5M。'"
          :fileList="fileList"
          :uploadType="2"
          @removeImage="clearFileList"
          @handleUploadSuccess="handleUploadSuccess"
          @loadingupload='loadingupload'
        >
        </DmpUploader>
      </div>
    </div>
  </div>

    <span slot="footer" class="dialog-footer" >

     <el-button class="standardButton" v-if="isDetail" type="primary"  @click="seteditType( true  )" style="margin-bottom:10px">编 辑</el-button>

      <el-button class="standardButton" @click="handleClose"  v-if="title =='编辑资源'" style="margin-bottom:10px">取 消</el-button>
      <el-button class="standardButton" type="primary" v-if="title =='编辑资源'" @click="addNewcontent()"
        >确 定
      </el-button>
    </span>
    <AddGroupOrLabelDialog
      ref="addGroupOrLabelDialogRef"
      :businessGroups="businessGroups"
      :dialogType="dialogType"
      :businessLabels="businessLabels"
      @setDialogTypeEmit="handleSetDialogType"
      @removeGroupEmit="handleGroupRemove"
      @removeLabelEmit="handleLabelRemove"
    >
    </AddGroupOrLabelDialog>
  </el-dialog>
</template>

<script>
import { mapState } from "vuex";
import { EventBus } from "@/utils/event-bus";
import {
  deleteGroup,
  checkDuplicatedContentName,
  deleteLabel, updateContent
} from "@/api/contentManagement";
import AddGroupOrLabelDialog from "./AddGroupOrLabelDialog.vue";
import DmpUploader from "@/components/Uploader/Index.vue";
import { mapActions } from "vuex";
import { deepClone } from '@/utils';
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
import AssetsLabel from '@/view/report/components/AssetsLabel.vue'
export default {
  name: "ContentEditDialog",
  components: {
    AddGroupOrLabelDialog,
    DmpUploader,
    FaTreeSelect,
    AssetsLabel
  },
  props: {
    contentPathList: {
      type: Array,
    },
    envTypeList: {
      type: Array,
    },
    assetGroupTree: Array,
  },
  computed: {
    ...mapState("contentManage", ["envList"]),
    businessLabels: {
      get() {
        return this.$store.state.contentManage.businessLabels;
      },
      set(val) {
        this.$store.commit("contentManage/SET_BUSINESS_LABELS", val);
      },
    },
    businessGroups: {
      get() {
        return this.$store.state.contentManage.businessGroups;
      },
      set(val) {
        this.$store.commit("contentManage/SET_BUSINESS_GROUPS", val);
      },
    },
    contentPathListType3() {
      return this.contentPathList.filter((item) => item.type === 3);
    },
    contentPathListType9() {
      return this.contentPathList.filter((item) => item.type === 9);
    },
    viewList() {
      if (this.fileList.length > 0) {
        return this.fileList.map((item) => item.url);
      }
      return [];
    },
    isReportEdit() {
      return this.form.envType == 99
    },
    isDetail() {
      return this.title == '资源详情'
    }
  },
  data() {
    const checkContentName = (rule, value, callback) => {
      if (value === "" || (value && value.trim() === "")) {
        return callback(new Error("资源名称不能为空或者空白字符串！"));
      }
      if (this.title === '编辑资源' && this.copyForm.contentName == value) {
        return   callback();
      }
      checkDuplicatedContentName(value).then((res) => {
        if (res.data) {
          const { state, data } = res.data;
          if (state === "success") {
            if (data.length > 0) {
              return callback(new Error("该资源名称已存在，请修改！"));
            } else {
              callback();
            }
          }
        }
      });
    };
    const checkContentPath = (rule, value, callback) => {
      if (value === "" || (value && value.trim() === "")) {
        return callback(new Error("资源路径不能为空或者空白字符串！"));
      } else {
        callback();
      }
    };
    return {
      contentEditRules: {

        contentName: [
          { required: true, validator: checkContentName, trigger: "blur" },
        ],
        contentPath: [
          { required: true, validator: checkContentPath},
        ],
      },
      paramsTableData: [],
      dialogVisible: false,
      dialogType: "addGroup",
      form: {
        contentEnvId: 0,
        contentName: "",
        contentPath: "",
        busiGroups: [],
        busiLabels: [],
        busiDiscribe: "",
        thumbnailId: "",
        paramName: "",
        paramType: "",
        paramVal: "",
        duty: "",
        dutyName: "",
        configData: "",
        envType: 0,
        envTypeId: 0,
        envTypeName: "",
        creator: "",
        creatorName: "",
      },
      copyForm: {},
      fileList: [],
      paramsTypeOptions: [
        { label: "字符串", value: "字符串" },
        { label: "数字", value: "数字" },
        { label: "日期", value: "日期" },
        { label: "布尔型", value: "布尔型" },
        { label: "公式", value: "公式" },
      ],
      title : "新增资源",
      editType: false,
      loading: false,
      indicatorLabels:[]
    };
  },
  methods: {
    ...mapActions("contentManage", ["getBusinessGroups", "getBusinessLabels"]),
    clearFileList() {
      this.fileList = [];
    },
    seteditType(type ,str){
      this.editType = type;
      if (this.editType ) {
        this.title = "编辑资源"
      }
    },
    loadingupload(val) {
      this.loading = val;
    },
    handleUploadSuccess(id) {
      this.form.thumbnailId = id;
    },
    handleContentPathChange(val) {
      const selected = this.contentPathList.filter(
        (item) => item.path === val
      )[0];
      const { id, path, fullPath } = selected;
      this.$set(this.form, "contentEnvId", id);
      this.$set(this.form, "contentPath", path);
      this.$set(this.form, "fullPath", fullPath);
    },
    handleSetDialogType(type) {
      this.dialogType = type;
    },
    openInnerDialog(type) {
      this.dialogType = type;
      this.$refs.addGroupOrLabelDialogRef.openDialog();
    },
    getEnvTypeName(val) {
      if (!val) return ''
      const envTypeArr = this.envTypeList.filter(item => item.value == val)
      return envTypeArr && envTypeArr.length ? envTypeArr[0]['label'] : '报告'
    },
    // 添加参数
    addNewParam() {
      this.paramsTableData.push({
        paramName: "",
        paramType: "字符串",
        paramVal: "",
      });
    },
    addNewcontent() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let targetInfo = deepClone(this.form);
          targetInfo.creator = this.$store.state.user.userName;
          targetInfo.creatorName = this.$store.state.user.nickName;
          let  paramsTableData = this.paramsTableData.filter((item) => {
            if ( !item.name  && !item.paramName) {
              item.paramName = "";
            }
            return item.paramName != ""
          });
        for (let i = 0; i < paramsTableData.length; i++) {
          const element = paramsTableData[i];
          let params = `${element.paramName}${element.paramVal}`
          if (!this.containsSpecialCharsOrChinese(params)) {
            return this.$message.error(`参数校验失败，请检查（${element.paramName}）的参数名称和参数值！`)
          }
        }
        targetInfo.configData = JSON.stringify({ params: paramsTableData });
        if (!this.form.envTypeName) {
           return this.$message.error("请选择所属环境！");
        }
        targetInfo.busiLabels = this.form.busiLabels.map(item => item.id)
          targetInfo.busiGroups = this.form.busiGroups
          console.log(targetInfo)
       updateContent(targetInfo).then((res) => {
         if (res.data) {
              const { state } = res.data;
              if (state === "success") {
                this.$message.success("修改资源成功！");
                this.editType = false;
                EventBus.$emit("updateContents");
                EventBus.$emit("updateLabelsAndGroups");
                this.handleClose();
              }
            }
          }).catch((err) => {
            this.$message.error(err ||"修改资源失败！");
          });
         }
       });
    },

    checkBusiGroups() {
      const length = this.form.busiGroups.length;
      return length > 0;
    },

    // 删除分组
    handleGroupRemove(group) {
      this.$confirm("将要删除该分组, 是否继续?", "删除分组", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
          await deleteGroup(group.id).then((res) => {
            if (res.data) {
              const { state } = res.data;
              if (state === "success") {
                this.getBusinessGroups();
                this.form.busiGroups = this.form.busiGroups.filter(
                  (item) => item != group.groupName
                );
                EventBus.$emit("updateContents");
              }
            }
          });
        })
        .catch((err) => {
          if (err === "cancel") {
            return;
          }
          this.$message({
            type: "error",
            message: "删除失败",
          });
        });
    },
    // 删除标签
    handleLabelRemove(label) {
      this.$confirm("将要删除该标签, 是否继续?", "删除标签", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
          await deleteLabel(label.id).then((res) => {
            if (res.data) {
              const { state } = res.data;
              if (state === "success") {
                this.getBusinessLabels();
                this.form.busiLabels = this.form.busiLabels.filter(
                  (item) => item != label.labelName
                );
                EventBus.$emit("updateContents");
              }
            }
          });
        })
        .catch((err) => {
          if (err === "cancel") {
            return;
          }
          this.$message({
            type: "error",
            message: "删除失败",
          });
        });
    },
    handleClose() {
      if (this.editType) {
        this.title = "资源详情"
        this.form = deepClone(this.copyForm);
        this.paramsTableData = JSON.parse(this.form.configData).params;
        this.paramsTableData = this.paramsTableData.map(ele=>{ // 兼容旧数据
        return {
          paramName : ele.paramName  ||  ele.name   || '' ,
          paramType : ele.paramType  ||  ele.type   || '' ,
          paramVal :  ele.paramVal   || ele.value   || '' ,
        }
      })
        this.form.imgPath ? this.fileList = [{ url: this.form.imgPath }] : this.fileList = [];
        return this.editType = false
      }

      this.form = this.$options.data().form;
      this.fileList = [];
      this.paramsTableData = [];
      this.$refs["form"].resetFields();
      this.dialogVisible = false;
      this.editType = false;
      if (this.title == "编辑资源") {
         this.$refs.uploader.showUploadBtn();
      }
    },
    openDialog(val) {
      this.dialogVisible = true;
      if (val && val.id) {
      this.form = deepClone(val);
      this.copyForm = deepClone(val);
      val.imgPath ? this.fileList = [{ url: val.imgPath }] : this.fileList = [];
      val.configData ? this.paramsTableData = JSON.parse(val.configData).params : this.paramsTableData = [];
      this.paramsTableData = this.paramsTableData.map(ele=>{ // 兼容旧数据
        return {
          paramName : ele.paramName  ||  ele.name   || '' ,
          paramType : ele.paramType  ||  ele.type   || '' ,
          paramVal :  ele.paramVal   || ele.value   || '' ,
        }
      })
      this.title = val.type
      }
    },
    deleteItem(row) {
      this.paramsTableData = this.paramsTableData.filter(
        (item) => item !== row
      );
    },
    containsSpecialCharsOrChinese(params) {
      var pattern = /^[!#$’()*+,-./:;@_~0-9a-zA-Z\u4e00-\u9fa5%]+$/;
      var urlEncodedPattern = /%(?![0-9a-fA-F]{2})/;
      return pattern.test(params) && !urlEncodedPattern.test(params);
    },
    onAssetGroupChange(value) {
      this.form.busiGroups = [value.id]
    },
    onAssetsLabelSelect(selected) {
      let indicatorLabels = deepClone(this.form.busiLabels)
      const index = indicatorLabels.findIndex(item => item.id === selected.id)
      if (index > -1) {
        indicatorLabels.splice(index, 1)
      } else {
        indicatorLabels.push(selected)
      }
      this.form.busiLabels = indicatorLabels
    },
    // render函数
    renderTip(h, { root, node, data }){
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },
  },
};
</script>

<style lang="scss" scoped>

.contentEditDialog {
  .content{
    display: flex;  font-size: 12px;
    .left {
      flex: 1; padding-right: 40px;
    }
    .right{
      width: 450px;

     .titleWrapper {
         display: flex; justify-content: space-between; margin-bottom: 10px; width: 100%; min-height: 40px;
         align-items: center; color: rgba(0,0,0,0.65);
         .addParamsBtn {  font-size: 12px;  font-weight: 400; }
          ::v-deep .el-upload{
          background: rgba(63,115,255,0.05);border: 0.5px solid rgba(224, 227, 233, 0.65);
          .el-icon-plus{
            font-size: 17px;  color: #333;
          }

       }
      }
       .grayText{
         color: rgba(0, 0, 0, 0.65) ; font-weight: bold;
       }
    .paramsTable{
      margin-bottom: 20px;
      ::v-deep .el-table__header .el-table__cell{
        background-color: #f7f7f7 !important;
      }
      ::v-deep .el-table__body-wrapper{
        max-height: 190px; overflow-y: auto;
       .el-table__body td.el-table__cell{
        padding: 4px 0 !important;
      }
      }
    }
    .svg-icon{
      cursor: pointer; color: #3f73ff; font-size: 16px; position: relative; top: 3px;
    }
    }

    .detileStr{
      font-size: 12px;color: rgba(89,89,89,0.80);
    }

    /deep/ .assets-label {
      width: 100%;
      position: relative;
      .select-wrapper {
        width: 100%;
        padding: 4px 30px 0 12px;
        border-radius: 4px;
        background: #fff;
        line-height: 1.5;
        .placeholder {
          position: relative;
          top: 3px;
        }

        .selected-list .list-item {
          margin-right: 10px;
          margin-bottom: 4px;
          height: 24px;
        }
      }
    }
  }
   .hideSelcet{
    ::v-deep .el-select{
      .el-input__inner{
        background-color: #fff ;border: none; padding-left: 0;color: rgba(89,89,89,0.80); cursor: auto;
      }
      .el-input__suffix{display: none;}
      .el-input__inner::-webkit-input-placeholder {
        width: 0;
      }
    }
    ::v-deep .el-select__tags{
      .el-tag{position: relative ; left: -6px; top: 1px;}
    }
    ::v-deep .el-form-item{margin-bottom: 0;}
   }

  .ml10 {
    margin-left: 10px;
  }
  .btnIcon {
    color: #3f73ff;font-weight: bold;font-size: 15px; cursor: pointer;
  }

  .titleTip{
    color: rgba(0,0,0,0.85);font-weight: bold; margin-bottom: 5px;
  }

  ::v-deep .el-upload__tip{
    color: rgba(108,124,160,0.65);font-size: 12px; margin-top: 8px; letter-spacing: 0.8px;
  }
  ::v-deep .el-dialog__body{
    padding-bottom: 0 !important;
  }
}
</style>
