<template>
  <el-dialog
    title="新增资源"
    :visible.sync="dialogVisible"
    class="contentEditDialog"
    width="990px"
    :close-on-click-modal="false"
    :before-close="handleClose"
  >
  <div  class="content">
    <el-form  ref="form"  :model="form"  :rules="contentEditRules"  label-width="100px"  label-position="left"  class="left">
      <el-form-item label="所属环境：" prop="envTypeName">
        <el-select  v-model="form.envTypeName"  placeholder="请选择环境"  style="width: 100%"  size="small"  @change="handleEnvChange" >
          <el-option v-for="item in envOptions" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>

      <el-form-item label="资源名称：" prop="contentName">
        <el-input v-model.trim="form.contentName" show-word-limit placeholder="请输入资源名称" size="small" maxlength="64" style="width: 100%"></el-input>
      </el-form-item>

      <el-form-item label="资源路径：" prop="contentPath">
        <el-input  v-model.trim="form.contentPath"  placeholder="请输入资源路径"  size="small" :disbaled="form.type === 99">
        </el-input>
      </el-form-item>

      <el-form-item label="业务分组：" prop="busiGroups">
        <div class="flexBox">
          <FaTreeSelect
            :selected="form.busiGroups"
            :treeData="assetGroupTree && assetGroupTree[0] && assetGroupTree[0].children"
            @changeVal="onAssetGroupChange"
            :refresh="true"
            :render="renderTip"
            class="custom-tree" />
        </div>
      </el-form-item>

      <el-form-item label="业务标签：">
        <div class="flexBox">
          <AssetsLabel
            :data="form.busiLabels"
            @select="onAssetsLabelSelect" />
        </div>
      </el-form-item>

      <el-form-item label="业务描述：">
        <el-input
          v-model="form.busiDiscribe"
          placeholder="请输入业务描述"
          size="small"
          maxlength="100"
          style="width: 100%"
        ></el-input>
       </el-form-item>
    </el-form>
    <div class="right">
        <div class="titleWrapper">
        <span class="title params">资源参数</span>
        <el-button class="addParamsBtn" type="text" icon="el-icon-plus"  :disabled="paramsTableData.length >= 10 "  @click="addNewParam()" >添加参数</el-button >
      </div>
      <el-table     :data="paramsTableData"     class="standardTable paramsTable"  border    size="small"   >
        <el-table-column prop="paramName" label="参数名称">
          <template slot-scope="scope">
            <el-input       v-model.trim="scope.row.paramName"       placeholder="请输入参数名称"       size="small"       style="width: 100%"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column prop="paramType" label="参数类型">
          <template slot-scope="scope">
            <el-select    v-model="scope.row.paramType"    placeholder="参数类型"    style="width: 100%"    size="small"  >
              <el-option   v-for="item in paramsTypeOptions"   :key="item.label"   :label="item.label"   :value="item.value" ></el-option>
            </el-select>
          </template>
        </el-table-column>
        <el-table-column prop="paramVal" label="参数值">
          <template slot-scope="scope">
            <el-input     v-model.trim="scope.row.paramVal"     placeholder="请输入参数值"     size="small"     style="width: 100%"   ></el-input>
          </template>
        </el-table-column>
        <el-table-column prop="paramVal" label="操作"   width="50" align="center" >
          <template slot-scope="scope">
            <svg-icon
                icon-class="tableButtonDelete"
                @click="deleteItem(scope.row)"
            />
          </template>
        </el-table-column>
      </el-table>

      <div class="titleWrapper" style="justify-content: flex-start;" v-loading="loading"   element-loading-text="正在上传到服务端，请稍等..." >
        <span class="grayText" style="align-self: flex-start;line-height: 30px;margin-right:15px">缩略图：</span>
        <DmpUploader
          ref="uploader"
          :tipMsg="'• 仅支持上传JPG、JPEG、PNG格式，图片大小不超过5M。'"
          :fileList="fileList"
          :uploadType="2"
          @removeImage="clearFileList"
          @handleUploadSuccess="handleUploadSuccess"
          @loadingupload='loadingupload'
        >
        </DmpUploader>
      </div>
    </div>
  </div>

    <span slot="footer" class="dialog-footer">
      <el-button class="standardButton" @click="handleClose" style="margin-bottom:10px">取 消</el-button>
      <el-button class="standardButton" type="primary" @click="addNewcontent()"
        >确 定
      </el-button>
    </span>
    <AddGroupOrLabelDialog
      ref="addGroupOrLabelDialogRef"
      :businessGroups="businessGroups"
      :dialogType="dialogType"
      :businessLabels="businessLabels"
      @setDialogTypeEmit="handleSetDialogType"
      @removeGroupEmit="handleGroupRemove"
      @removeLabelEmit="handleLabelRemove"
    >
    </AddGroupOrLabelDialog>
  </el-dialog>
</template>

<script>
import { mapState } from "vuex";
import { addContent } from "@/api/contentManagement";
import { EventBus } from "@/utils/event-bus";
import {
  checkDuplicatedContentName,
  deleteGroup,
  deleteLabel,
} from "@/api/contentManagement";
import AddGroupOrLabelDialog from "./AddGroupOrLabelDialog.vue";
import DmpUploader from "@/components/Uploader/Index.vue";
import { mapActions } from "vuex";
import { deepClone } from '@/utils';
import TreeSelect from '@/components/tree-select'
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
import AssetsLabel from '@/view/report/components/AssetsLabel.vue'
export default {
  name: "ContentEditDialog",
  components: {
    AddGroupOrLabelDialog,
    DmpUploader,
    TreeSelect,
    FaTreeSelect,
    AssetsLabel
  },
  props: {
    contentPathList: {
      type: Array,
    },
    assetGroupTree: Array,
  },
  computed: {
    ...mapState("contentManage", ["envList"]),
    businessLabels: {
      get() {
        return this.$store.state.contentManage.businessLabels;
      },
      set(val) {
        this.$store.commit("contentManage/SET_BUSINESS_LABELS", val);
      },
    },
    businessGroups: {
      get() {
        return this.$store.state.contentManage.businessGroups;
      },
      set(val) {
        this.$store.commit("contentManage/SET_BUSINESS_GROUPS", val);
      },
    },
    contentPathListType3() {
      return this.contentPathList.filter((item) => item.type === 3);
    },
    contentPathListType9() {
      return this.contentPathList.filter((item) => item.type === 9);
    },
    envOptions() {
      return this.envList.filter(item => item.type !==99 && item.id !== 9901 )
    }
  },
  data() {
    const checkContentName = (rule, value, callback) => {
      if (value === "" || (value && value.trim() === "")) {
        return callback(new Error("资源名称不能为空或者空白字符串！"));
      }
      checkDuplicatedContentName(value).then((res) => {
        if (res.data) {
          const { state, data } = res.data;
          if (state === "success") {
            if (data.length > 0) {
              return callback(new Error("该资源名称已存在，请修改！"));
            } else {
              callback();
            }
          }
        }
      });
    };
    const checkContentPath = (rule, value, callback) => {
      if (value === "" || (value && value.trim() === "")) {
        return callback(new Error("资源路径不能为空或者空白字符串！"));
      } else {
        callback();
      }
    };
    const checkEnvTypeName = (rule, value, callback) => {
      if (value.length === 0) {
        return callback(new Error("请选择所属环境！"));
      } else {
        callback();
      }
    };
    const checkBusiGroups = (rule, value, callback) => {
      if (value.length === 0) {
        return callback(new Error("请选择业务分组！"));
      } else {
        callback();
      }
    };
    return {
      contentEditRules: {
        envTypeName: [
          {
            required: true,
            message: "请选择所属环境!",
            trigger: ["change", "blur"],
          },
          { validator: checkEnvTypeName, trigger: ["change", "blur"] },
        ],
        contentName: [
          { required: true, validator: checkContentName, trigger: "blur" },
        ],
        contentPath: [
          { required: true, validator: checkContentPath},
        ],
        busiGroups: [
          { required: true, validator: checkBusiGroups, trigger: "blur" },
        ],
      },
      paramsTableData: [],
      dialogVisible: false,
      dialogType: "addGroup",
      form: {
        contentEnvId: 0,
        contentName: "",
        contentPath: "",
        busiGroups: [],
        busiLabels: [],
        busiDiscribe: "",
        thumbnailId: "",
        paramName: "",
        paramType: "",
        paramVal: "",
        duty: "",
        dutyName: "",
        configData: "",
        envType: 0,
        envTypeId: 0,
        envTypeName: "",
        creator: "",
        creatorName: "",
      },
      fileList: [],
      paramsTypeOptions: [
        { label: "字符串", value: "字符串" },
        { label: "数字", value: "数字" },
        { label: "日期", value: "日期" },
        { label: "布尔型", value: "布尔型" },
        { label: "公式", value: "公式" },
      ],
      currentEnvType: "",
      loading : false,
      indicatorLabels:[]
    };
  },
  methods: {
    ...mapActions("contentManage", ["getBusinessGroups", "getBusinessLabels"]),
    clearFileList() {
      this.fileList = [];
    },
    loadingupload(val) {
      this.loading = val;
    },
    handleUploadSuccess(id) {
      this.form.thumbnailId = id;
    },
    handleContentPathChange(val) {
      const selected = this.contentPathList.filter(
        (item) => item.path === val
      )[0];
      const { id, path, fullPath } = selected;
      this.$set(this.form, "contentEnvId", id);
      this.$set(this.form, "contentPath", path);
      this.$set(this.form, "fullPath", fullPath);
    },
    handleSetDialogType(type) {
      this.dialogType = type;
    },
    openInnerDialog(type) {
      this.dialogType = type;
      this.$refs.addGroupOrLabelDialogRef.openDialog();
    },
    // 添加参数
    addNewParam() {
      this.paramsTableData.push({
        paramName: "",
        paramType: "字符串",
        paramVal: "",
      });
    },

     addNewcontent() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let targetInfo = deepClone(this.form);
          targetInfo.creator = this.$store.state.user.userName;
          targetInfo.creatorName = this.$store.state.user.nickName;
          let  paramsTableData = this.paramsTableData.filter((item) => item.paramName !== "");

        for (let i = 0; i < paramsTableData.length; i++) {
          const element = paramsTableData[i];
          let params = `${element.paramName}${element.paramVal}`
          if (!this.containsSpecialCharsOrChinese(params)) {
            return this.$message.error(`参数校验失败，请检查（${element.paramName}）的参数名称和参数值！`)
          }
        }
        targetInfo.configData = JSON.stringify({ params: paramsTableData });
        if (!this.form.envTypeName) {
           return this.$message.error("请选择所属环境！");
        }
        targetInfo.busiLabels = this.form.busiLabels.map(item => item.id)
        targetInfo.busiGroups = this.form.busiGroups
          console.log(targetInfo)
       addContent(targetInfo).then((res) => {
          if (res.data) {
            const { state } = res.data;
            if (state === "success") {
              this.$message.success("添加资源成功！");
              EventBus.$emit("updateContents");
              EventBus.$emit("updateLabelsAndGroups");
              this.handleClose();
            }
          }
        }).catch((err) => {
          this.$message.error(err ||"添加资源失败！");
        });
        }
      });

    },

    checkBusiGroups() {
      const length = this.form.busiGroups.length;
      return length > 0;
    },
    handleEnvChange(envId) {
      const currentEnv = this.envOptions.filter((item) => item.id === envId)[0];
      if (currentEnv) {
        const { type, id, name } = currentEnv;
        this.currentEnvType = type;
        this.form.contentPath = '';
        this.$set(this.form, "envType", type);
        this.$set(this.form, "envTypeId", id);
        this.$set(this.form, "envTypeName", name);
      }
    },
    // 删除分组
    handleGroupRemove(group) {
      this.$confirm("将要删除该分组, 是否继续?", "删除分组", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
          await deleteGroup(group.id).then((res) => {
            if (res.data) {
              const { state } = res.data;
              if (state === "success") {
                this.getBusinessGroups();
                this.form.busiGroups = this.form.busiGroups.filter(
                  (item) => item != group.groupName
                );
                EventBus.$emit("updateContents");
              }
            }
          });
        })
        .catch((err) => {
          if (err === "cancel") {
            return;
          }
          this.$message({
            type: "error",
            message: "删除失败",
          });
        });
    },
    // 删除标签
    handleLabelRemove(label) {
      this.$confirm("将要删除该标签, 是否继续?", "删除标签", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(async () => {
          await deleteLabel(label.id).then((res) => {
            if (res.data) {
              const { state } = res.data;
              if (state === "success") {
                this.getBusinessLabels();
                this.form.busiLabels = this.form.busiLabels.filter(
                  (item) => item != label.labelName
                );
                EventBus.$emit("updateContents");
              }
            }
          });
        })
        .catch((err) => {
          if (err === "cancel") {
            return;
          }
          this.$message({
            type: "error",
            message: "删除失败",
          });
        });
    },
    handleClose() {
      this.form = this.$options.data().form;
      this.fileList = [];
      this.$refs.uploader.showUploadBtn();
      this.paramsTableData = [];
      this.$refs["form"].resetFields();
      this.dialogVisible = false;
    },
    openDialog(val) {
      this.dialogVisible = true;
      if (val ) {
      this.form = deepClone(val);
      val.imgPath ? this.fileList = [{ url: val.imgPath }] : this.fileList = [];
      val.configData ? this.paramsTableData = JSON.parse(val.configData).params : this.paramsTableData = [];
      this.form.contentName = val.contentName + "_备份";
      delete this.form.id;
      }
    },
    deleteItem(row) {
      this.paramsTableData = this.paramsTableData.filter(
        (item) => item !== row
      );
    },
    containsSpecialCharsOrChinese(params) {
      var pattern = /^[!#$’()*+,-./:;@_~0-9a-zA-Z\u4e00-\u9fa5%]+$/;
      var urlEncodedPattern = /%(?![0-9a-fA-F]{2})/;
      return pattern.test(params) && !urlEncodedPattern.test(params);
    },
    // render函数
    renderTip(h, { root, node, data }){
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },
    onAssetGroupChange(value) {
      this.form.busiGroups = [value.id]
    },
    onAssetsLabelSelect(selected) {
      let indicatorLabels = deepClone(this.form.busiLabels)
      const index = indicatorLabels.findIndex(item => item.id === selected.id)
      if (index > -1) {
        indicatorLabels.splice(index, 1)
      } else {
        indicatorLabels.push(selected)
      }
      this.form.busiLabels = indicatorLabels
    },
  },
};
</script>

<style lang="scss" scoped>

.contentEditDialog {
  .content{
    display: flex;  font-size: 12px;
    .left {
      flex: 1; padding-right: 40px;
    }
    .right{
      width: 450px;

     .titleWrapper {
         display: flex; justify-content: space-between; margin-bottom: 10px; width: 100%;
         align-items: center; color: rgba(0,0,0,0.65);
         .addParamsBtn {  font-size: 12px;  font-weight: 400; }
          ::v-deep .el-upload{
          background: rgba(63,115,255,0.05);border: 0.5px solid rgba(224, 227, 233, 0.65);
          .el-icon-plus{
            font-size: 17px;  color: #333;
          }

       }
      }
       .grayText{
         color: rgba(0, 0, 0, 0.65) ; font-weight: bold;
       }
    .paramsTable{
      margin-bottom: 20px;
      ::v-deep .el-table__header .el-table__cell{
        background-color: #f7f7f7 !important;
      }
      ::v-deep .el-table__body-wrapper{
        max-height: 190px; overflow-y: auto;
       .el-table__body td.el-table__cell{
        padding: 4px 0 !important;
      }
      }
    }
    .svg-icon{
      cursor: pointer; color: #3f73ff; font-size: 16px; position: relative; top: 3px;
    }
    }
    /deep/ .assets-label {
      width: 100%;
      position: relative;
      .select-wrapper {
        width: 100%;
        padding: 4px 30px 0 12px;
        border-radius: 4px;
        background: #fff;
        line-height: 1.5;
        .placeholder {
          position: relative;
          top: 3px;
        }

        .selected-list .list-item {
          margin-right: 10px;
          margin-bottom: 4px;
          height: 24px;
        }
      }
    }
  }


  .ml10 {
    margin-left: 10px;
  }
  .btnIcon {
    color: #3f73ff;font-weight: bold;font-size: 15px; cursor: pointer;
  }


  ::v-deep .el-upload__tip{
    color: rgba(108,124,160,0.65);font-size: 12px; margin-top: 8px; letter-spacing: 0.8px;
  }
  ::v-deep .el-dialog__body{
    padding-bottom: 0 !important;
  }
}
</style>
