<template>
  <el-dialog
    :title="isEditMode ? '资源修改' : '资源详情'"
    :visible.sync="detailDialogVisible"
    width="510px"
    :close-on-click-modal="false"
    custom-class="detailDialog"
    :before-close="handleBeforeClose"
    @open="handleOpen"
  >
    <EditableForm
      v-if="isEditMode"
      ref="editableForm"
      :dutys="dutyList"
      :formData="contentDetailForm"
      :envList="envTypeList"
      :contentPathList="contentPathList"
      :oldName="oldContentName"
      @openAddGroupOrLabelDialogEmit="handleOpenAddGroupOrLabelDialog"
    ></EditableForm>
    <ReadOnlyForm
      v-else
      :formData="contentDetailForm"
      :dutys="dutyList"
      :envList="envTypeList"
    ></ReadOnlyForm>

    <span v-if="isEditMode" slot="footer" class="dialog-footer">
      <el-button class="standardButton" @click="handleCancel">取 消</el-button>
      <el-button class="standardButton" type="primary" @click="saveEditedDetail"
        >保 存</el-button
      >
    </span>
    <span v-else slot="footer" class="dialog-footer">
      <el-button class="standardButton" type="primary" @click="switchToEditMode"
        >编 辑</el-button
      >
    </span>

    <AddGroupOrLabelDialog
      ref="addGroupOrLabelDialogRef"
      :businessGroups="businessGroups"
      :dialogType="dialogType"
      :businessLabels="businessLabels"
      @setDialogTypeEmit="handleSetDialogType"
      @removeGroupEmit="handleGroupRemove"
      @removeLabelEmit="handleLabelRemove">
    </AddGroupOrLabelDialog>
  </el-dialog>
</template>

<script>
import { deepClone } from "@/utils";
import ReadOnlyForm from "./ReadOnlyForm.vue";
import EditableForm from "./EditableForm.vue";
import AddGroupOrLabelDialog from "./AddGroupOrLabelDialog.vue";
import { deleteGroup, deleteLabel } from "@/api/contentManagement";
import { mapActions } from 'vuex'

export default {
  name: "ContentDetailDialog",
  components: {
    ReadOnlyForm,
    EditableForm,
    AddGroupOrLabelDialog
  },
  props: {
    envTypeList: {
      type: Array,
    },
    detailForm: {
      type: Object,
    },
    dutyList: {
      type: Array,
    },
    contentPathList: {
      type: Array
    }
  },
  computed: {
    businessLabels: {
      get() {
        return this.$store.state.contentManage.businessLabels
      },
      set(val) {
        this.$store.commit('contentManage/SET_BUSINESS_LABELS', val)
      }
    },
    businessGroups: {
      get() {
        return this.$store.state.contentManage.businessGroups
      },
      set(val) {
        this.$store.commit('contentManage/SET_BUSINESS_GROUPS', val)
      }
    },
  },
  data() {
    return {
      fromWhichBtn: 'fromDetailBtn',
      detailDialogVisible: false,
      isEditMode: false,
      contentDetailForm: {
        params: [],
        contentEnvName: "",
        envTypeName: "",
        contentName: "",
        contentPath: "",
        busiGroups: [],
        busiLabels: [],
        busiDiscribe: "",
        creator: "",
        createTime: "",
        duty: "",
        envType: 0,
        configData: "",
      },
      paramsTypeOptions: [
        { label: "字符串", value: "字符串" },
        { label: "数字", value: "数字" },
        { label: "日期", value: "日期" },
        { label: "布尔型", value: "布尔型" },
        { label: "公式", value: "公式" },
      ],
      fileList: [
        {
          name: "",
          url: "",
        },
      ],
      detailFormRules: {
        contentName: [
          { required: true, message: "请输入资源名称！", trigger: "blur" },
        ],
        contentPath: [
          { required: true, message: "缺少资源路径", trigger: "blur" },
        ]
      },
      dialogType: 'addGroup',
      oldContentName: ''
    };
  },
  watch: {
    isEditMode(val) {
      if (val) {
        this.oldContentName = this.detailForm.contentName
      } else {
        this.oldContentName = ''
      }
    }
  },
  methods: {
    ...mapActions('contentManage', [
      'getBusinessGroups',
      'getBusinessLabels',
    ]),
    handleGroupRemove(group) {
      this.$confirm('将要删除该分组, 是否继续?', '删除分组', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then( async () => {
        await deleteGroup(group.id).then(res => {
          if (res.data) {
            const { state } = res.data
            if ( state === 'success' ) {
              this.$message.success('删除成功！')
              this.getBusinessGroups()
              this.contentDetailForm.busiGroups = this.contentDetailForm.busiGroups.filter(item => item != group.groupName)
            }
          }
        })
      }).catch((err) => {
        if (err === 'cancel') {
          return
        }
        this.$message({
          type: 'error',
          message: '删除失败!'
        });
      });
    },
    // 删除分组
    handleLabelRemove(label) {
      this.$confirm('将要删除该标签, 是否继续?', '删除标签', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then( async () => {
        await deleteLabel(label.id).then(res => {
          if (res.data) {
            const { state } = res.data
            if ( state === 'success' ) {
              this.$message.success('删除成功！')
              this.getBusinessLabels()
              this.contentDetailForm.busiLabels = this.contentDetailForm.busiLabels.filter(item => item != label.labelName)
            }
          }
        })
      }).catch((err) => {
        if (err === 'cancel') {
          return
        }
        this.$message({
          type: 'error',
          message: '删除失败'
        });
      });
    },
    handleSetDialogType(type) {
      this.dialogType = type
    },
    handleOpenAddGroupOrLabelDialog(type) {
      this.dialogType = type
      this.$refs.addGroupOrLabelDialogRef.openDialog()
    },
    handleCancel() {
      this.contentDetailForm = deepClone(this.detailForm);
      this.isEditMode = false;
      if (this.fromWhichBtn === 'fromEditBtn') {
        this.detailDialogVisible = false;
      }

    },
    handleOpen() {
      this.contentDetailForm = deepClone(this.detailForm);
      this.fileList = [{
        name: '',
        url: this.contentDetailForm.imgPath
      }]
    },
    /**
     * @description 用于在父组件打开对话框
     * @param {String} type 对话框是由“详情”按钮还是“编辑”按钮打开，由父组件传值
     */
    openContentDetailDialog(type) {
      this.fromWhichBtn = type
      this.detailDialogVisible = true;
    },
    getEnvTypeName(val) {
      if (!val) return "";
      return this.envTypeList.filter((item) => item.value == val)[0]["label"];
    },
    switchToEditMode() {
      this.isEditMode = true;
    },
    saveEditedDetail() {
      this.$refs['editableForm'].$children[0].validate((valid) => {
        if (valid) {
          this.transParamsToConfigData();
          this.$emit("updateContent", this.contentDetailForm);
          this.handleBeforeClose();
        } else {
          console.log('error submit!!')
          return false
        }
      });
    },
    transParamsToConfigData() {
      const { params } = this.contentDetailForm;
      this.contentDetailForm.configData = JSON.stringify({ params });
    },
    handleBeforeClose() {
      this.isEditMode = false;
      this.detailDialogVisible = false;
    }
  },
};
</script>

<style lang="scss" scoped>

.el-form-item {
  margin-bottom: 10px;
}

.detailDialog {
  .title {
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0;
    text-align: right;
    line-height: 16px;
    font-weight: 600;
  }
}
</style>
