<template>
  <el-form
    label-position="left"
    :model="formData"
    status-icon
    :rules="detailFormRules"
    ref="detailForm"
    class="detailForm dmpFormBox"
    label-width="100px"
  >
    <span class="title">环境</span>
    <el-form-item label="所属环境：" class="noMarginBottom">
      <span>{{ formData.envTypeName }}</span>
    </el-form-item>
    <el-form-item label="环境类型：" class="noMarginBottom">
      <span>{{ getEnvTypeName(formData.envType) }}</span>
    </el-form-item>
    <span class="title">资源</span>
    <el-form-item prop="contentName" label="资源名称：">
      <el-input
        v-model="formData.contentName"
        maxlength="20"
        placeholder="请输入资源名称"
        size="small"
        style="width: 100%"
      ></el-input>
    </el-form-item>

    <el-form-item prop="contentPath" label="资源路径：">
      <el-select
        v-if="formData.envType == 3"
        v-model="formData.contentPath"
        style="width: 100%"
        placeholder="请选择"
        size="small"
        @change="handleContentPathChange"
      >
        <el-option
          v-for="item in contentPathListType3"
          :key="item.id"
          :label="item.name"
          :value="item.path"
        >
        </el-option>
      </el-select>
      <el-select
        v-else-if="formData.envType == 9"
        v-model="formData.contentPath"
        style="width: 100%"
        placeholder="请选择"
        size="small"
        @change="handleContentPathChange"
      >
        <el-option
          v-for="item in contentPathListType9"
          :key="item.id"
          :label="item.name"
          :value="item.path"
        >
        </el-option>
      </el-select>
      <el-input
        v-else
        v-model="formData.contentPath"
        placeholder="请输入内容"
        size="small"
      >
      </el-input>
    </el-form-item>

    <el-form-item prop="busiGroups" label="业务分组：">
      <div class="flexBox">
        <el-select
          v-model="formData.busiGroups"
          placeholder="请选择分组"
          multiple
          style="width: 100%"
          size="small"
        >
          <el-option
            v-for="item in businessGroups"
            :key="item.id"
            :label="item.groupName"
            :value="item.groupName"
          ></el-option>
        </el-select>
        <i
          class="el-icon-circle-plus-outline ml10 btnIcon"
          @click="openAddGroupOrLabelDialog('addGroup')"
        ></i>
      </div>
    </el-form-item>

    <el-form-item label="业务标签：">
      <div class="flexBox">
        <el-select
          v-model="formData.busiLabels"
          placeholder="请选择标签"
          multiple
          style="width: 100%"
          size="small"
        >
          <el-option
            v-for="item in businessLabels"
            :key="item.id"
            :label="item.labelName"
            :value="item.labelName"
          ></el-option>
        </el-select>
        <i
          class="el-icon-circle-plus-outline ml10 btnIcon"
          @click="openAddGroupOrLabelDialog('addLabel')"
        ></i>
      </div>
    </el-form-item>

    <el-form-item label="业务描述：">
      <el-input
        type="textarea"
        :rows="2"
        placeholder="请输入描述"
        v-model="formData.busiDiscribe"
      >
      </el-input>
    </el-form-item>

    <el-form-item label="缩略图：">
      <DmpUploader
          ref="uploader"
          :tipMsg="'• 仅支持上传JPG、JPEG、PNG格式，图片大小不超过5M。'"
          :fileList="fileList"
          :uploadType="2"
          @removeImage="handleRemoveImage"
          @handleUploadSuccess="handleUploadSuccess"
        >
      </DmpUploader>
    </el-form-item>

    <span class="title params">资源参数</span>
    <el-table
      v-if="formData.params.length > 0"
      :data="formData.params"
      class="standardTable paramsTable"
      size="small"
    >
      <el-table-column prop="paramName" label="参数名称" align="center">
        <template slot-scope="scope">
          <el-input
            v-model="scope.row.paramName"
            placeholder="请输入参数名称"
            size="small"
            style="width: 100%"
          ></el-input>
        </template>
      </el-table-column>
      <el-table-column prop="paramType" label="参数类型" align="center">
        <template slot-scope="scope">
          <el-select
            v-model="scope.row.paramType"
            placeholder="请选择参数类型"
            style="width: 100%"
            size="small"
          >
            <el-option
              v-for="item in paramsTypeOptions"
              :key="item.label"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </template>
      </el-table-column>
      <el-table-column prop="paramVal" label="参数值" align="center">
        <template slot-scope="scope">
          <el-input
            v-model="scope.row.paramVal"
            placeholder="请输入参数值"
            size="small"
            style="width: 100%"
          ></el-input>
        </template>
      </el-table-column>
    </el-table>

    <el-form-item label="创建人：">
      <span>{{ formData.creator }}</span>
    </el-form-item>
    <el-form-item label="创建时间：">
      {{ formData.createTime }}
    </el-form-item>

    <el-form-item label="责任人：">
      <el-select
        v-model="formData.duty"
        placeholder="请选择责任人"
        style="width: 100%"
        size="small"
        @change="handleDutyChange"
      >
        <el-option
          v-for="duty in dutys"
          :key="duty.id"
          :label="duty.username"
          :value="duty.id"
        ></el-option>
      </el-select>
    </el-form-item>
  </el-form>
</template>

<script>
import { mapState } from "vuex";
import { checkDuplicatedContentName } from "@/api/contentManagement";
import DmpUploader from "@/components/Uploader/Index.vue";
export default {
  name: "EditableForm",
  components: {
    DmpUploader
  },
  props: {
    formData: {
      type: Object,
    },
    envList: {
      type: Array,
    },
    dutys: {
      type: Array,
    },
    contentPathList: {
      type: Array,
    },
    oldName: {
      type: String
    }
  },
  computed: {
    ...mapState("contentManage", ["businessLabels", "businessGroups"]),
    contentPathListType3() {
      return this.contentPathList.filter((item) => item.type === 3);
    },
    contentPathListType9() {
      return this.contentPathList.filter((item) => item.type === 9);
    },
  },
  mounted() {
    this.setFilleList();
  },
  data() {
    const _this = this
    var checkContentName = (rule, value, callback) => {
      if (value === "" || (value && value.trim() === "")) {
        return callback(new Error("资源名称不能为空或者空白字符串"));
      }
      checkDuplicatedContentName(value).then((res) => {
        if (res.data) {
          const { state, data } = res.data;
          if (state === "success") {
            if ( data && data.length === 0) {
              callback()
            }

            if ( data && data.length > 0 && data[0].contentName === _this.oldName) {
              callback()
            }

            if ( data && data.length > 0 && data[0].contentName !== _this.oldName) {
              return callback(new Error("该资源名称已存在，请修改！"));
            }
          }
        }
      });
    };
    const checkContentPath = (rule, value, callback) => {
      if (value === "" || (value && value.trim() === "")) {
        return callback(new Error("资源路径不能为空或者空白字符串！"));
      } else {
        callback();
      }
    };
    return {
      detailFormRules: {
        contentName: [
          { required: true, validator: checkContentName, trigger: "blur" },
        ],
        contentPath: [
          { required: true, message: "请填写资源路径", trigger: "blur" },
          { validator: checkContentPath, trigger: ["change", "blur"] },
        ]
      },
      paramsTypeOptions: [
        { label: "字符串", value: "字符串" },
        { label: "数字", value: "数字" },
        { label: "日期", value: "日期" },
        { label: "布尔型", value: "布尔型" },
        { label: "公式", value: "公式" },
      ],
      fileList: [],
    };
  },
  methods: {
    handleUploadSuccess(id) {
      this.$set(this.formData, "thumbnailId", id);
    },
    handleContentPathChange(val) {
      const selected = this.contentPathList.filter(item => item.path === val)[0]
      const { id, path, fullPath } = selected
      this.$set(this.formData, 'contentEnvId', id)
      this.$set(this.formData, 'contentPath', path)
      this.$set(this.formData, 'fullPath', fullPath)
    },
    openAddGroupOrLabelDialog(type) {
      this.$emit("openAddGroupOrLabelDialogEmit", type);
    },
    setFilleList() {
      if (this.formData.imgPath) {
        this.fileList.push({
          name: "",
          url: this.formData.imgPath,
        });
        this.$refs.uploader.hideUploadBtn()
      }
    },
    getEnvTypeName(val) {
      if (!val) return "";
      return this.envList.filter((item) => item.value == val)[0]["label"];
    },
    handleRemoveImage() {
      this.fileList = [];
      this.$set(this.formData, "imgPath", "");
      // 如果要删除资源的缩略图，传值必须为0
      this.$set(this.formData, "thumbnailId", 0);
    },
    handleDutyChange(val) {
      this.contentDetailForm.dutyName = this.dutyList.filter(
        (item) => item.id === val
      )[0]["username"];
    }
  },
};
</script>
<style lang="scss" scoped>
.detailForm {
  /deep/ .el-input__validateIcon {
    display: none;
  }

  .ml10 {
    margin-left: 10px;
  }
  .btnIcon {
    cursor: pointer;
    color: #3f73ff;
  }

  .noMarginBottom {
    margin-bottom: 0;
  }
}

.title {
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0;
  text-align: right;
  line-height: 16px;
  font-weight: 600;
  &.params {
    display: block;
    width: 100px;
    padding-right: 24px;
    line-height: 40px;
    box-sizing: border-box;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
  }
}

.paramsTable {
  width: 95%;
  margin-left: 25px;
  margin-bottom: 10px;
}
</style>
