<template>
  <el-card class="contentManageBox" :body-style="{ padding: '10px 20px' }">
    <div  class="header">
      <el-input  size="small"  placeholder="请输入资源名称"  class="seachInput"  v-debounce="{ handler: onSearch }"  v-model="seachText">
      <i slot="suffix" class="el-input__icon el-icon-search"></i>
      </el-input>
      <el-button class="standardButton btnAdd" icon="el-icon-plus" @click="openEditDialog()" v-if="getBtnAllow([860101])">新增资源</el-button>
    </div>
    <el-table :data="tableData" class="standardTable"  size="small" :height='tableHeight' :key="tableHeight + 1000 + updateNum"   v-loading="loading" >
      <el-table-column type="index" label="序号" width="100" label-class-name="fontBold" align="center">
      </el-table-column>

      <el-table-column label="环境" label-class-name="fontBold" align="center">
        <el-table-column prop="envTypeName" label="环境名称" width="200" label-class-name='secondTit'>
        </el-table-column>
        <el-table-column prop="envType" label="环境类型" width="120" show-overflow-tooltip label-class-name='secondTit'>
          <template slot-scope="scope">
            {{ getEnvTypeName(scope.row.envType) }}
          </template>
        </el-table-column>
      </el-table-column>

      <el-table-column label="资源" label-class-name="fontBold" align="center">
        <el-table-column prop="contentName" label="资源名称" width="200"  show-overflow-tooltip  label-class-name='secondTit'>
        </el-table-column>
        <el-table-column prop="contentPath" label="资源路径" show-overflow-tooltip	 label-class-name='secondTit'>
          <template slot-scope="scope">
            <span>{{ formatContentPath(scope.row) }}</span>
          </template>
        </el-table-column>
        <el-table-column prop="busiGroupNames" label="业务分组" :formatter="formatVal" show-overflow-tooltip width="200" label-class-name='secondTit'>
        </el-table-column>
        <el-table-column prop="busiLabelNames" label="业务标签" :formatter="formatVal" min-width="100" label-class-name='secondTit'>
        </el-table-column>
        <el-table-column prop="busiDiscribe" label="业务描述" min-width="120"  show-overflow-tooltip  label-class-name='secondTit'>
        </el-table-column>
        <el-table-column prop="thumbnailId" label="缩略图" width="100" label-class-name='secondTit'>
          <template slot-scope="scope">
            <span v-if="!scope.row.thumbnailId"></span>
            <div v-else class="flexBox" style="justify-content:center">
              <el-image v-if="scope.row.imgPath" :src="scope.row.imgPath" fit="fill" style="height:30px;width:50px;" lazy
                :preview-src-list="[scope.row.imgPath]" title="点击放大"></el-image>
            </div>
          </template>
        </el-table-column>
      </el-table-column>

      <el-table-column fixed="right" align="center" label="操作" width="160" label-class-name="fontBold" class-name="operation">
        <template slot-scope="scope">
          <i class="standardIcon iconInfo small" title="详情" @click="openDetailDialog(scope.row, '资源详情')"></i>
          <i class="el-icon-document-copy btnIcon"  v-if="getBtnAllow([860101]) && scope.row.envType !== 99 && scope.row.envTypeId !== 9901" title="复制后新增" @click="copyToAddNewContent(scope.row)"></i>
          <i class="standardIcon iconEdit small" title='编辑' @click="EditContent(scope.row, '编辑资源')"></i>
          <i class="standardIcon iconDelete small" title="删除" @click="deleteContent(scope.row)" v-if="scope.row.envType !== 99 && scope.row.envTypeId !== 9901"></i>
        </template>
      </el-table-column>
    </el-table>

    <Pagination :total="listQuery.total" style="margin-top:10px" :page.sync="listQuery.pageNum"
      :limit.sync="listQuery.pageSize" layout="total, sizes , prev, pager, next, jumper" @pagination="getContentListByPage" />

    <ContentDetailDialog
      ref="contentDetailDialogRef"
      :envTypeList="envTypeList"
      :detailForm="detailForm"
      :dutyList="dutyList"
      :contentPathList="contentPathList"
      :assetGroupTree="groupTreeData"
      @updateContent="handleUpdateContent">
    </ContentDetailDialog>
    <ContentEditDialog ref="contentEdit" :contentPathList="contentPathList" :assetGroupTree="groupTreeData"></ContentEditDialog>
  </el-card>
</template>

<script>
import Pagination from "@/components/Pagination"
import ContentDetailDialog from "./contentEditDialogDetiles.vue";
import { deleteContent, updateContent, queryContentListByPage } from '@/api/contentManagement'
import { getUserList, downloadImage } from "@/api/system"
import { deepClone } from '@/utils'
import { EventBus } from "@/utils/event-bus";
import { debounce } from "@/utils/directive";
import ContentEditDialog from "./contentEditDialog.vue";
import { ENVTYPES } from '@/config/ReportConstants'
import { mapActions } from 'vuex'
import {getIndicatorTreeData} from '@/api/indicator'
import {deepCopy} from "@/utils/common";
import indicatorMixin from "@/view/report/mixin/indicatorMixin";

export default {
  name: 'contentManageBox',
  mixins: [indicatorMixin],
  components: {
    Pagination,
    ContentEditDialog,
    ContentDetailDialog,
  },
  props: {
    contentPathList: {
      type: Array
    }
  },
  computed: {
    envTypeList() {
      return ENVTYPES
    }
  },
  data() {
    return {
      dutyList: [],
      fileList: [],
      tableData: [],
      detailForm: {
        params: [],
        configData: '',
        contentEnvName: '',
        envTypeName: '',
        contentName: '',
        contentPath: '',
        busiGroups: [],
        busiLabels: [],
        busiDiscribe: '',
        creator: '',
        createTime: '',
        duty: '',
        envType: 0
      },
      listQuery: {
        pageNum: 1,
        pageSize: 10,
        total: 11,
      },
      tableHeight: 400,
      updateNum: 0 ,
      seachText: '',
      loading: false,
      groupTreeData: []
    };
  },
  created() {
    this.getUserList()
    this.getContentListByPage()
    this.getIndicatorTreeData()
  },
  mounted() {
    EventBus.$on('updateContents', () => {
      this.getContentListByPage()
    })
    this.tableHeight = document.querySelector('.contentManageBox').offsetHeight - 110;
  },
  beforeDestroy() {
    EventBus.$off('updateContents')
  },
  methods: {
     ...mapActions('contentManage', [
      'getEnvList'
    ]),
    onSearch() {
      //搜索
      this.listQuery.pageNum = 1;
      this.getContentListByPage();
    },
    openEditDialog() {
      this.getEnvList()
      this.$refs.contentEdit.openDialog();
    },
    // 对于 contentPath 的展示名进行特殊处理
    formatContentPath(row) {
      const { envType, contentPath } = row
      let displayName = ''
      let path = null
      if (envType === 3 || envType === 9) {
        path = this.contentPathList.filter(item => item.path === contentPath)[0]
        displayName = path ? path['name'] : contentPath
      } else {
        displayName = contentPath
      }
      return displayName
    },
    EditContent(row, type) { // 编辑资源
        this.getEnvList()
        this.$refs.contentDetailDialogRef.openDialog({ ...row ,type});
    },
    copyToAddNewContent(row) {
      let copiedData = deepClone(row)
      // 新建资源，则参数中不能含有 id 字段
      delete copiedData.id
      this.$refs.contentEdit.form = { ...copiedData }
      this.$refs.contentEdit.openDialog(row);
    },
    // 分页获取资源列表
    getContentListByPage() {
      this.loading = true
      queryContentListByPage({ ...this.listQuery ,contentName:this.seachText}).then( res => {
        if (res.data) {
          const { data, state } = res.data
          if (state === 'success') {
            const { dataList, total } = data
            this.addThumbnail(dataList)
            this.tableData = dataList.map(item => {
              return {
                ...item,
                busiLabels: item.busiLabels.map((labelId, index) => {
                  return {
                    id: labelId,
                    name: item.busiLabelNames[index]
                  }
                })
              }
            })
            this.listQuery.total = total
          }
        }
      }).finally(() => {
        this.loading = false
      })
    },
    handleUpdateContent(updateData) {
      updateContent({...updateData}).then( res => {
        if (res.data) {
          const { state } = res.data
          if (state === 'success') {
            this.$message.success("保存成功！")
            this.getContentListByPage()
          }
        }
      })
    },
    async addThumbnail(data) {
      for (const col of data) {
        if (col.thumbnailId) {
          await downloadImage({fileId: col.thumbnailId}).then( res => {
            const blob = new Blob([res.data], {type: res.data.type || "application/octet-stream"})
            this.blobToBase64(blob).then(res => {
              col.imgPath = res
              this.updateNum++
            })
          })
        }
      }
    },
    blobToBase64(blob) {
      return new Promise((resolve, reject) => {
        const fileReader = new FileReader()
        fileReader.onload = (e) => {
          resolve(e.target.result)
        }
        fileReader.readAsDataURL(blob)
        fileReader.onerror = () => {
          reject( new Error('文件流异常'))
        }
      })
    },
    async getImgById(id) {
      await downloadImage({fileId: id}).then(res => {
        return res.data
      })
    },
    formatVal(row, col, val) {
      if (Array.isArray(val)) {
        // 注意：这里的分号后面是有个空格的
        return val.join('; ')
      } else {
        return val
      }
    },
    getEnvTypeName(val) {
      if (!val) return ''
      const envTypeArr = this.envTypeList.filter(item => item.value == val)
      return envTypeArr && envTypeArr.length ? envTypeArr[0]['label'] : '报告'
    },
    async getUserList() {
      await getUserList({allFlag: 'all'}).then(res => {
        const { state, data } = res.data
        if ( state === 'success') {
          this.dutyList = data.data.map(item => {
            return {
              id: String(item.id),
              username: `${item.nickname} ${item.id}`
            }
          })
          this.$store.commit('contentManage/SET_USER_LIST', this.dutyList)
        }
      })
    },
    openDetailDialog(param, type) {
      // this.detailForm = param
      this.getEnvList()
      this.$refs['contentDetailDialogRef'].openDialog({...param ,type})
    },
    transformParams(data) {
      if (data == null) {
        return []
      }
      const { configData } = data
      if ( !configData ) {
        return []
      }
      return JSON.parse(configData).params
    },
    deleteContent(row) {
      this.$confirm('将要删除该资源, 是否继续?', '删除资源', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then( async () => {
          await deleteContent(row.id).then(res => {
            if (res.data) {
              const { state } = res.data
              if ( state === 'success') {
                this.$message({
                  type: 'success',
                  message: '删除成功!'
                })
                let newTotal = this.listQuery.total - 1;
                let size = this.listQuery.pageSize;
                let nowPage = this.listQuery.pageNum;
                if(newTotal >= size && nowPage>1 && newTotal % size === 0){
                  this.listQuery.pageNum--;
                }
                this.getContentListByPage()
              }
            }
          })
        }).catch((err) => {
          if (err === 'cancel') {
            return
          }
          this.$message({
            type: 'error',
            message: '删除失败'
          });
        });
    },
    async getIndicatorTreeData() {
      const res = await getIndicatorTreeData()
      if (res.data.state === 'success') {
        this.buildAssetsGroupTree(deepCopy(res.data.data))
      }
    },
    /**
     * 构建资产分组树
     * @param data
     */
    buildAssetsGroupTree(data) {
      let group = data.indicatorGroupList
      group.push({
        id: -1,
        title: '指标组',
        name: '指标组',
        expand: true,
        parentId: 0,
      })
      group.forEach(item => {
        item.id = item.id.toString()
        item.parentId = item.parentId.toString()
      })
      this.groupTreeData = this.filterIndGroup(group)
    },
  },
    directives: {
    debounce, //防抖指令
  },
};
</script>

<style lang="scss" scoped>
.contentManageBox {
  height: 100%;
  background-color: #fff;
  .header{
    display: flex; justify-content: space-between; align-items: center;margin-bottom: 15px;
      .seachInput{ width: 50%; max-width: 250px;  }
  }

  /deep/ .el-image-viewer__wrapper {
    .el-icon-circle-close {
      color: #fff;
      font-size: 60px;
    }
  }

  /deep/ .cell {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(0,0,0,0.85);
    letter-spacing: 0;
    font-weight: 400;
    &.fontBold {
      font-weight: 600;
    }
    &.secondTit {
      color: #333333;
    }

  }
  /deep/ .el-card__body {
    height: 100%;
    overflow-y: auto;

    .el-table__cell:first-child .cell {
      padding: 0 14px;
    }
  }

  .standardTable {
    /deep/ .el-table__header {
      .el-table__cell {
        background-color: #F7F9FF !important;
      }
    }

    /deep/ .secondTit {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333333;
      letter-spacing: 0;
      font-weight: 400;
    }

    .btnIcon {
      color: #3F73FF;
      font-size: 16px;
      margin: 0 5px;
      cursor: pointer;
    }
  }
}
</style>
