<template>
  <el-form label-position="left" :model="formData" label-width="100px" class="dmpFormBox">
    <span class="title">环境</span>
    <el-form-item label="所属环境：" class="noMarginBottom">
      <span>{{ formData.envTypeName }}</span>
    </el-form-item>
    <el-form-item label="环境类型：" class="noMarginBottom">
      <span>{{ getEnvTypeName(formData.envType) }}</span>
    </el-form-item>
    <span class="title">资源</span>
    <el-form-item label="资源名称：">
      <span>{{ formData.contentName }}</span>
    </el-form-item>
    <el-form-item label="资源路径：">
      <span>{{ formData.contentPath }}</span>
    </el-form-item>
    <el-form-item label="业务分组：">
      <span>{{ formData.busiGroups.toLocaleString() }}</span>
    </el-form-item>
    <el-form-item label="业务标签：">
      <template v-if="formData.busiLabels.length === 0">
        <span></span>
      </template>
      <template v-else>
        <span>{{ formData.busiLabels.toLocaleString() }}</span>
      </template>
    </el-form-item>
    <el-form-item label="业务描述：">
      <span>{{ formData.busiDiscribe }}</span>
    </el-form-item>
    <el-form-item label="缩略图：">
      <span v-if="!formData.thumbnailId"></span>
      <div v-else class="flexBox">
        <el-image
          :src="formData.imgPath"
          fit="fill"
          style="height: 30px; width: 50px"
          lazy
          :preview-src-list="[formData.imgPath]"
          title="点击放大"
        ></el-image>
      </div>
    </el-form-item>

    <span class="title params">资源参数</span>
    <el-table
      v-if="formData.params.length > 0"
      :data="formData.params"
      class="standardTable paramsTable"
      size="small"
    >
      <el-table-column prop="paramName" label="参数名称" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.paramName }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="paramType" label="参数类型" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.paramType }}</span>
        </template>
      </el-table-column>
      <el-table-column prop="paramVal" label="参数值" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.paramVal }}</span>
        </template>
      </el-table-column>
    </el-table>

    <el-form-item label="创建人：">
      <span>{{ formData.creator }}</span>
    </el-form-item>
    <el-form-item label="创建时间：">
      {{ formData.createTime }}
    </el-form-item>
    <el-form-item label="责任人：">
      <span>{{ getDutyName(formData.duty) }}</span>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: "ReadOnlyForm",
  props: {
    formData: {
      type: Object,
    },
    envList: {
      type: Array,
    },
    dutys: {
      type: Array
    }
  },
  methods: {
    getDutyName(val) {
      if (!val) return "";
      const duty = this.dutys.filter((item) => item.id == val)[0]
      if (duty == null) {
        return val
      }
      return duty.username
    },
    getEnvTypeName(val) {
      if (!val) return "";
      return this.envList.filter((item) => item.value == val)[0]["label"];
    },
  },
};
</script>
<style lang="scss" scoped>

.dmpFormBox {
  .el-form-item {
    margin-bottom: 0;
  }
  
}

.title {
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.85);
  letter-spacing: 0;
  text-align: right;
  line-height: 16px;
  font-weight: 600;
  &.params {
    display: block;
    width: 100px;
    padding-right: 24px;
    line-height: 40px;
    box-sizing: border-box;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65)
  }
}
.paramsTable {
  width: 95%;
  margin-left: 25px;
  margin-bottom: 10px;
}
</style>
