<template>
  <div class="calendar-container-wrap" :id="containerId">
    <div class="report-calendar-button" @click.stop="toggle">
      <span>{{ dateRangeValue }}</span>
      <img src="../../../assets/icons/chart/calendar_black.svg" style="width: 16px; cursor: pointer;margin-left: 5px">
    </div>
    <div class="report-calendar" id="report-calendar" v-show="!hidden" :style="{width: !editable?'615px':''}">
      <div class="report-calendar-left-area" v-if="editable">
        <div style="margin-top: 48px">
          <div @click="onDateRangeOptionChange('2')" class="date-range-item"
               :class="{'date-range-item-active': chooseDateRangeOption === '2'}">日
          </div>
          <div @click="onDateRangeOptionChange('3')" class="date-range-item"
               :class="{'date-range-item-active': chooseDateRangeOption === '3'}">周
          </div>
          <div @click="onDateRangeOptionChange('4')" class="date-range-item"
               :class="{'date-range-item-active': chooseDateRangeOption === '4'}">月
          </div>
          <div @click="onDateRangeOptionChange('7')" class="date-range-item"
               :class="{'date-range-item-active': chooseDateRangeOption === '7'}">年
          </div>
          <div @click="onDateRangeOptionChange('99')" class="date-range-item"
               :class="{'date-range-item-active': chooseDateRangeOption === '99'}">自定义
          </div>
        </div>
      </div>
      <div class="report-calendar-right-area">
        <div class="report-calendar-right-area-switch">
          <div class="report-calendar-right-area-switch-item">
            <div class="report-calendar-right-area-switch-pre">
              <img @click="preYear" src="../../../assets/icons/chart/calendar/year-switch.svg">
              <img @click="preMonth" src="../../../assets/icons/chart/calendar/month-switch.svg"
                   v-if="showDayOrWeek">
            </div>
            <div class="report-calendar-right-area-switch-ym">
              {{leftYearMonth}}
            </div>
          </div>
          <div class="report-calendar-right-area-switch-item">
            <div class="report-calendar-right-area-switch-ym">
              {{rightYearMonth}}
            </div>
            <div class="report-calendar-right-area-switch-next">
              <img @click="nextMonth" src="../../../assets/icons/chart/calendar/month-switch.svg"
                   v-if="showDayOrWeek" style="margin-right: 10px"/>
              <img @click="nextYear" src="../../../assets/icons/chart/calendar/year-switch.svg"/>
            </div>
          </div>
        </div>
        <div class="report-calendar-right-area-wrapper" v-show="showDayOrWeek">
          <div :id="leftCalendarDomId" class="report-calendar-right-area-calendar"></div>
          <div class="report-calendar-right-area-split"></div>
          <div :id="rightCalendarDomId" class="report-calendar-right-area-calendar"></div>
        </div>
        <div class="report-calendar-right-area-wrapper" v-if="showMonth">
          <div class="report-calendar-right-area-month">
            <div class="report-calendar-right-area-month-row" v-for="(monthItem,index) in monthData" :key="index"
                 :style="{marginBottom: index=== 3 ? '10px':''}">
              <span @click="chooseMonth(leftYear, monthItem[0])"
                    :class="{'report-calendar-right-area-month-active': activeMonth(leftYear,monthItem[0])}">{{monthItem[0]}}月</span>
              <span @click="chooseMonth(leftYear, monthItem[1])"
                    :class="{'report-calendar-right-area-month-active': activeMonth(leftYear,monthItem[1])}">{{monthItem[1]}}月</span>
              <span @click="chooseMonth(leftYear, monthItem[2])"
                    :class="{'report-calendar-right-area-month-active': activeMonth(leftYear,monthItem[2])}">{{monthItem[2]}}月</span>
            </div>
          </div>
          <div class="report-calendar-right-area-split"></div>
          <div class="report-calendar-right-area-month">
            <div class="report-calendar-right-area-month-row" v-for="(monthItem,index) in monthData" :key="index"
                 :style="{marginBottom: index=== 3 ? '10px':''}">
              <span @click="chooseMonth(rightYear, monthItem[0])"
                    :class="{'report-calendar-right-area-month-active': activeMonth(rightYear,monthItem[0])}">{{monthItem[0]}}月</span>
              <span @click="chooseMonth(rightYear, monthItem[1])"
                    :class="{'report-calendar-right-area-month-active': activeMonth(rightYear,monthItem[1])}">{{monthItem[1]}}月</span>
              <span @click="chooseMonth(rightYear, monthItem[2])"
                    :class="{'report-calendar-right-area-month-active': activeMonth(rightYear,monthItem[2])}">{{monthItem[2]}}月</span>
            </div>
          </div>
        </div>
        <div class="report-calendar-right-area-wrapper" v-else-if="showYear">
          <div class="report-calendar-right-area-month">
            <div class="report-calendar-right-area-month-row" v-for="(year,index) in leftYearRange" :key="index"
                 :style="{marginBottom: index=== 3 ? '10px':''}">
              <span @click="chooseYear(year[0])"
                    :class="{'report-calendar-right-area-month-active': activeYear(year[0])}">{{year[0]}}</span>
              <span @click="chooseYear(year[1])"
                    :class="{'report-calendar-right-area-month-active': activeYear(year[1])}">{{year[1]}}</span>
              <span @click="chooseYear(year[2])"
                    :class="{'report-calendar-right-area-month-active': activeYear(year[2])}">{{year[2]}}</span>
            </div>
          </div>
          <div class="report-calendar-right-area-split"></div>
          <div class="report-calendar-right-area-month">
            <div class="report-calendar-right-area-month-row" v-for="(year,index) in rightYearRange" :key="index"
                 :style="{marginBottom: index=== 3 ? '10px':''}">
              <span @click="chooseYear(year[0])"
                    :class="{'report-calendar-right-area-month-active': activeYear(year[0])}">{{year[0]}}</span>
              <span @click="chooseYear(year[1])"
                    :class="{'report-calendar-right-area-month-active': activeYear(year[1])}">{{year[1]}}</span>
              <span @click="chooseYear(year[2])"
                    :class="{'report-calendar-right-area-month-active': activeYear(year[2])}">{{year[2]}}</span>
            </div>
          </div>
        </div>
        <div
          style="border-top: 1px solid rgba(0, 0, 0, 0.06);display: flex;justify-content: space-between;padding: 8px 10px 8px 20px"
          v-if="showCustom">
          <div style="display: flex; align-items: center">
            <Input type="text" size="small" :value="startDateStr" style="width: 100px;"
                   @on-change="customInputChange('left', $event)"/>
            <span style="color: #000000; padding: 0 5px;"> ～ </span>
            <Input type="text" size="small" :value="endDateStr" style="width: 100px;"
                   @on-change="customInputChange('right', $event)"/>
            <span v-show="hasError" style="color: #ff0202;margin-left: 10px">请输入xxxx-xx-xx时间格式</span>
          </div>
          <Button style="width: 72px; height: 30px;border-radius: 4px;background: #3F73FF; color: white"
                  @click="customConfirmDate">确认
          </Button>
        </div>
        <div style="text-align: center; border-top: 1px solid rgba(0, 0, 0, 0.06);height: 40px; line-height: 40px"
             v-else>
          <span @click="goBackToToday" style="font-size: 14px; color: #3F73FF; cursor: pointer">返回最近业务日期</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Calendar from '../../../components/DatePicker/Calendar'
  import $ from 'jquery'
  import moment from 'moment'
  import {
    checkDateValid,
    getDateByOffset, getDayNum, getLastTradingDate,
    getNextMonthFirstDate, getNextYearMonthFirstDate,
    getPreMonthFirstDate, getPreYearMonthFirstDate
  } from '../../../utils/chartDate'
  import { DAY_REPORT_USE_HOLIDAYS } from '../../../config/ReportConstants'

  export default {
    name: 'ReportCalendar',
    props: {
      editable: {
        type: Boolean,
        default: null
      },
      needInit: {
        type: Boolean,
        default: true
      },
      currentDate: {
        type: Object,
        default: () => ({}),
      },
      // 是否直接展示选择弹窗，且禁止点击关闭
      isShowSelecter: {
        type: Boolean,
        default: false
      },
      // 今天之后的日期是否禁用
      beyondTodayIsDisable: {
        type: Boolean,
        default: true
      }
    },

    data() {
      return {
        rightDate: null,
        leftDate: null,
        dateRangeOptions: [
          {
            value: '2',
            label: '日'
          },
          {
            value: '3',
            label: '周'
          },
          {
            value: '4',
            label: '月'
          },
          {
            value: '7',
            label: '年'
          },
          {
            value: '99',
            label: '自定义'
          }
        ],
        chooseDateRange: null,
        chooseDateRangeOption: '2',
        currentPosition: null,
        hidden: !this.isShowSelecter,
        leftCalendarDomId: 'left_' + new Date().getTime(),
        rightCalendarDomId: 'right_' + new Date().getTime(),
        containerId: 'container_' + new Date().getTime(),
        leftYear: new Date().getFullYear() - 1,
        rightYear: new Date().getFullYear(),
        leftYearRange: [], // 左侧年范围
        rightYearRange: [], // 右侧年范围
        currentChooseMonth: [new Date().getFullYear(), new Date().getMonth() + 1],
        currentChooseYear: new Date().getFullYear(),
        monthData: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]],
        hasError: false
      }
    },

    computed: {
      showDayOrWeek() {
        return this.chooseDateRangeOption === '2' || this.chooseDateRangeOption === '3'
          || this.chooseDateRangeOption === '99'
      },

      showCustom() {
        return this.chooseDateRangeOption === '99'
      },

      showMonth() {
        return this.chooseDateRangeOption === '4'
      },

      showYear() {
        return this.chooseDateRangeOption === '7'
      },

      activeMonth() {
        return function (year, month) {
          let [currentYear, currentMonth] = this.currentChooseMonth
          return currentYear === year && month === currentMonth
        }
      },

      activeYear() {
        return function (year) {
          return year === this.currentChooseYear
        }
      },

      startDateStr() {
        if (this.chooseDateRange) {
          return moment(this.chooseDateRange.startDate).format('YYYY-MM-DD')
        }
        return ''
      },

      endDateStr() {
        if (this.chooseDateRange) {
          return moment(this.chooseDateRange.endDate).format('YYYY-MM-DD')
        }
        return ''
      },

      dateRangeValue() {
        if (this.chooseDateRange) {
          if (this.chooseDateRangeOption === '2') {
            return this.startDateStr
          } else {
            return this.startDateStr + ' ~ ' + this.endDateStr
          }
        }
        return '请选择日期'
      },

      leftYearMonth() {
        if (this.showDayOrWeek) {
          if (this.leftDate) {
            let month = this.leftDate.getMonth() + 1
            if (month < 10) {
              month = '0' + month
            }
            return this.leftDate.getFullYear() + '年' + month + '月'
          }
        } else if (this.showMonth) {
          return this.leftYear + '年'
        } else if (this.showYear) {
          return this.leftYearRange[0][0] + '-' + this.leftYearRange[3][2] + '年'
        }

        return ''
      },

      rightYearMonth() {
        if (this.showDayOrWeek) {
          if (this.rightDate) {
            let month = this.rightDate.getMonth() + 1
            if (month < 10) {
              month = '0' + month
            }
            return this.rightDate.getFullYear() + '年' + month + '月'
          }
        } else if (this.showMonth) {
          return this.rightYear + '年'
        } else if (this.showYear) {
          return this.rightYearRange[0][0] + '-' + this.rightYearRange[3][2] + '年'
        }

        return ''
      },
    },

    watch: {
      currentDate: {
        handler(newVal) {
          let {startDate, endDate, period} = newVal
          this.chooseDateRange.startDate = new Date(startDate)
          this.chooseDateRange.endDate = new Date(endDate)
          this.chooseDateRangeOption = period
          this.currentChooseMonth = [new Date(startDate).getFullYear(), new Date(startDate).getMonth() + 1]
          this.currentChooseYear = new Date(startDate).getFullYear()
          this.$nextTick(() => {
            this.leftCalendar.setDateRange(this.chooseDateRange, null)
            this.rightCalendar.setDateRange(this.chooseDateRange, null)
          })
        },
        deep: true,
      },
      chooseDateRangeOption(newVal) {
        this.$emit("changeDateTab", newVal)
      }
    },

    created() {
      this.generateYearRange(new Date().getFullYear() - 23)
    },

    mounted() {
      this.rightDate = new Date()
      this.leftDate = getPreMonthFirstDate(this.rightDate)
      let chooseDateRange = this.getChooseDateRange('2')
      this.chooseDateRange = chooseDateRange
      let options = { chooseDateRange, dateClick: this.dateClick, beyondTodayIsDisable: this.beyondTodayIsDisable }

      this.$nextTick(() => {
        this.leftCalendar = new Calendar({
          node: document.querySelector('#' + this.leftCalendarDomId),
          givenDate: this.leftDate,
          ...options
        })
        this.rightCalendar = new Calendar({
          node: document.querySelector('#' + this.rightCalendarDomId),
          givenDate: this.rightDate,
          ...options
        })
        if (this.needInit) {
          this.confirmDate()
        }
      })
    },

    methods: {
      /**
       * 获取年的范围（左侧tab === 年时）
       * @param {Number} currentYear 当前年份
       */
      generateYearRange(currentYear) {
        let rightYearRange = [[], [], [], []]
        let leftYearRange = [[], [], [], []]
        let j = 0
        for (let i = 0; i < 12; i++) {
          if (i !== 0 && i % 3 === 0) {
            j++
          }
          leftYearRange[j].push(currentYear)
          rightYearRange[j].push(currentYear + 12)
          currentYear++
        }
        this.rightYearRange = rightYearRange
        this.leftYearRange = leftYearRange
      },
      /**
       * 切换左侧tab
       */
      onDateRangeOptionChange(v) {
        this.chooseDateRangeOption = v
        if (v !== '99') {
          this.chooseDateRange = this.getChooseDateRange(v)
          this.$nextTick(() => {
            this.leftCalendar.setDateRange(this.chooseDateRange, null)
            this.rightCalendar.setDateRange(this.chooseDateRange, null)
          })
        } else {
          this.customLeftDate = moment(this.chooseDateRange.startDate).format('YYYY-MM-DD')
          this.customRightDate = moment(this.chooseDateRange.endDate).format('YYYY-MM-DD')
        }
      },
      update({ dateRangeOption, startDate, endDate }) {
        this.chooseDateRangeOption = dateRangeOption
        if (startDate) { // 如果指定日期，那么使用给定的日期
          this.chooseDateRange = { startDate: new Date(startDate), endDate: new Date(endDate) }
        } else {
          this.chooseDateRange = this.getChooseDateRange(dateRangeOption)
        }

        this.$nextTick(() => {
          this.leftCalendar.setDateRange(this.chooseDateRange, null)
          this.rightCalendar.setDateRange(this.chooseDateRange, null)
        })

        return this.chooseDateRange
      },
      refreshCalendar() {
        this.leftCalendar.setDateRange(this.chooseDateRange, null)
        this.rightCalendar.setDateRange(this.chooseDateRange, null)
        // 查看详情时，回显日期
        if (!this.editable) {
          this.confirmDate()
        }
      },
      /**
       * 点击选择月份（左侧tab === 月时）
       */
      chooseMonth(year, month) {
        this.currentChooseMonth = [year, month]
        let days = getDayNum(this.leftYear, month)
        this.chooseDateRange = {
          startDate: new Date(year + '/' + month + '/1'),
          endDate: new Date(year + '/' + month + '/' + days)
        }
        this.confirmDate()
      },
      /**
       * 点击选择年份（左侧tab === 年时）
       */
      chooseYear(year) {
        this.currentChooseYear = year
        this.chooseDateRange = {
          startDate: new Date(year + '/1/1'),
          endDate: new Date(year + '/12/31')
        }
        this.confirmDate()
      },
      nextYear() {
        if (this.showDayOrWeek) {
          this.rightDate = getNextYearMonthFirstDate(this.rightDate)
          this.leftDate = getNextYearMonthFirstDate(this.leftDate)
          this.leftCalendar.setGivenDate(this.leftDate)
          this.rightCalendar.setGivenDate(this.rightDate)
        } else if (this.showMonth) {
          this.leftYear++
          this.rightYear++
        } else if (this.showYear) {
          this.generateYearRange(this.rightYearRange[3][2] + 1)
        }
      },
      nextMonth() {
        this.rightDate = getNextMonthFirstDate(this.rightDate)
        this.leftDate = getPreMonthFirstDate(this.rightDate)
        this.leftCalendar.setGivenDate(this.leftDate)
        this.rightCalendar.setGivenDate(this.rightDate)
      },
      preYear() {
        if (this.showDayOrWeek) {
          this.rightDate = getPreYearMonthFirstDate(this.rightDate)
          this.leftDate = getPreYearMonthFirstDate(this.leftDate)
          this.leftCalendar.setGivenDate(this.leftDate)
          this.rightCalendar.setGivenDate(this.rightDate)
        } else if (this.showMonth) {
          this.leftYear--
          this.rightYear--
        } else if (this.showYear) {
          this.generateYearRange(this.leftYearRange[0][0] - 24)
        }
      },
      preMonth() {
        this.rightDate = getPreMonthFirstDate(this.rightDate)
        this.leftDate = getPreMonthFirstDate(this.rightDate)
        this.leftCalendar.setGivenDate(this.leftDate)
        this.rightCalendar.setGivenDate(this.rightDate)
      },
      getChooseDateRange(chooseDateRangeOption) {
        let chooseDateRange = this.chooseDateRange || {
          startDate: new Date(),
          endDate: new Date()
        }

        if (chooseDateRangeOption !== '99') {
          this.currentPosition = null
        }

        let today = new Date()
        switch (chooseDateRangeOption) {
          case '1':
            chooseDateRange.startDate = chooseDateRange.endDate = today
            break
          case '2':
            let yesterday = getDateByOffset(new Date(), -1)
            if (!DAY_REPORT_USE_HOLIDAYS) {
              yesterday = new Date(getLastTradingDate(yesterday))
            }
            chooseDateRange.startDate = chooseDateRange.endDate = yesterday
            break
          case '3':
            let day = today.getDay()
            chooseDateRange.endDate = getDateByOffset(today, -day)
            chooseDateRange.startDate = getDateByOffset(chooseDateRange.endDate, -6)
            break
          case '4':
            let date = today.getDate()
            chooseDateRange.endDate = getDateByOffset(new Date(), -date)
            chooseDateRange.startDate = new Date(chooseDateRange.endDate.getFullYear() + '/' + (chooseDateRange.endDate.getMonth() + 1) + '/1')
            break
          case '5':
            chooseDateRange.endDate = getDateByOffset(new Date(), -1)
            chooseDateRange.startDate = getDateByOffset(chooseDateRange.endDate, -6)
            break
          case '6':
            chooseDateRange.endDate = getDateByOffset(new Date(), -1)
            chooseDateRange.startDate = getDateByOffset(chooseDateRange.endDate, -29)
            break
          case '7':
            let year = today.getFullYear() - 1
            chooseDateRange.endDate = new Date(year + '/12/31')
            chooseDateRange.startDate = new Date(year + '/1/1')
            break
          case '99':
            break
        }
        return chooseDateRange
      },
      dateClick(date) {
        let { startDate, endDate } = this.chooseDateRange
        if (this.chooseDateRangeOption === '99') {
          let blackDate = { currentPosition: this.currentPosition, limitDate: date }
          blackDate.open = true
          if (this.currentPosition) {
            this.currentPosition = false
            this.chooseDateRange = { startDate, endDate: date }
            this.customLeftDate = moment(startDate).format('YYYY-MM-DD')
            this.customRightDate = moment(date).format('YYYY-MM-DD')
          } else {
            this.currentPosition = true
            this.chooseDateRange = { startDate: date, endDate }
            this.customLeftDate = moment(date).format('YYYY-MM-DD')
            this.customRightDate = moment(endDate).format('YYYY-MM-DD')
          }
          blackDate.currentPosition = this.currentPosition
          this.leftCalendar.setDateRange(this.chooseDateRange, blackDate)
          this.rightCalendar.setDateRange(this.chooseDateRange, blackDate)
          return
        }

        if (this.chooseDateRangeOption === '2') {
          this.chooseDateRange = { startDate: date, endDate: date }
        } else if (this.chooseDateRangeOption === '3') {
          let day = date.getDay()
          startDate = getDateByOffset(date, -day + 1)
          endDate = getDateByOffset(startDate, 6)
          this.chooseDateRange = { startDate, endDate }
        } else if (this.chooseDateRangeOption === '4') {
          endDate = new Date(date.getFullYear(), date.getMonth() + 1, 0)
          startDate = new Date(endDate.getFullYear() + '/' + (endDate.getMonth() + 1) + '/1')
          this.chooseDateRange = { startDate, endDate }
        }
        this.leftCalendar.setDateRange(this.chooseDateRange, null)
        this.rightCalendar.setDateRange(this.chooseDateRange, null)
        this.confirmDate()
      },
      confirmDate() {
        this.$emit('dateConfirm', this.chooseDateRange.startDate, this.chooseDateRange.endDate, this.chooseDateRangeOption)
        this.hidden = !this.isShowSelecter
      },
      customInputChange(position, e) {
        let v = e.target.value
        if (!checkDateValid(v)) {
          console.log(this.hasError, 'this.hasError')
          if (!this.hasError) {
            this.hasError = true
          }
          return
        }
        if (position === 'left') {
          this.customLeftDate = v
        } else if (position === 'right') {
          this.customRightDate = v
        }
        if (this.hasError) {
          this.hasError = false
        }
      },
      customConfirmDate() {
        if (checkDateValid(this.customLeftDate) && checkDateValid(this.customRightDate)) {
          this.chooseDateRange = { startDate: new Date(this.customLeftDate), endDate: new Date(this.customRightDate) }
          this.confirmDate()
        } else {
          this.$Message.error('自定义日期格式错误')
        }
      },
      toggle() {
        if(this.isShowSelecter) return
        this.hidden = !this.hidden
        if (!this.hidden) {
          let that = this

          function f(e) {
            const containerDom = document.querySelector('#' + that.containerId)
            if (containerDom && !$.contains(containerDom, e.target)) {
              let reportData = that.$store.state.chart.reportDate
              that.hidden = true
              // 只有当日期变化了，才触发
              let startDate = reportData[0]
              let endDate = reportData[1]
              let period = reportData[3]
              let newStartDate = that.startDateStr
              let newEndDate = that.endDateStr
              let newPeriod = that.chooseDateRangeOption
              if (startDate !== newStartDate || endDate !== newEndDate || period !== newPeriod) {
                that.confirmDate()
              }
              document.removeEventListener('click', f)
              e.stopPropagation()
            }
          }

          document.addEventListener('click', f)
        }
      },
      /**
       * 返回最近业务日期
       */
      goBackToToday() {
        if (this.showDayOrWeek) {
          this.onDateRangeOptionChange(this.chooseDateRangeOption)
          this.confirmDate()
        } else if (this.showMonth) {
          let d = new Date()
          let year = d.getFullYear(), month = d.getMonth() + 1
          let [currentYear, currentMonth] = this.currentChooseMonth
          if (currentYear !== year || currentMonth !== month) {
            this.currentChooseMonth = [year, month]
            this.chooseMonth(year, month)
          }
        } else if (this.showYear) {
          if (this.currentChooseYear !== new Date().getFullYear()) {
            let year = new Date().getFullYear()
            this.currentChooseYear = year
            this.chooseYear(year)
          }
        }
      }
    }
  }
</script>

<style scoped>

  .date-range-item {
    padding-left: 12px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
  }

  .date-range-item-active {
    color: #3F73FF;
    background-color: rgba(63, 115, 255, 0.05);;
  }

  .report-calendar-right-area-month-active {
    background-color: #3F73FF;
    color: #ffffff;
  }

  .calendar-container-wrap {
    color: #666666;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .report-calendar-button {
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }

  .report-calendar {
    position: absolute;
    right: 0;
    top: 32px;
    z-index: 19999999999;
    width: 715px;
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0px 0px 8px 0px;
    border-radius: 3px;
    background-color: #ffffff;
  }

  .report-calendar-right-area {
    width: 606px;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
  }

  .report-calendar-right-area-switch {
    display: flex;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }

  .report-calendar-right-area-switch-item {
    display: flex;
    width: 304px;
  }

  .report-calendar-right-area-switch-pre {
    width: 48px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
  }

  .report-calendar-right-area-switch-ym {
    width: 250px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .report-calendar-right-area-switch-pre > img {
    cursor: pointer;
    margin-left: 10px;
    transform: rotateY(180deg);
    width: 12px;
    height: 12px;
  }

  .report-calendar-right-area-switch-next {
    width: 48px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
  }

  .report-calendar-right-area-switch-next > img {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .report-calendar-right-area-wrapper {
    display: flex;
  }

  .report-calendar-right-area-split {
    width: 1px;
    height: 202px;
    margin-left: 10px;
    margin-top: 25px;
    background: rgba(0, 0, 0, 0.06)
  }

  .report-calendar-right-area-calendar {
    /*padding: 12px;*/
    padding: 12px 10px;
    width: 292px;
  }

  .report-calendar-right-area-month {
    width: 292px;
    padding: 20px;
  }

  .report-calendar-right-area-month-row {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }

  .report-calendar-right-area-month-row > span {
    cursor: pointer;
    padding: 0px 5px;
    border-radius: 2px;
  }

  .report-calendar-left-area {
    width: 99px;
    background-color: #FBFDFF;;
    line-height: 25px;
  }

  .report-calendar-left-area > div {
    margin-bottom: 10px;
  }
</style>
