<template>
  <div class="headLineView-container">
    <div class="leftWrapper">{{ taskType === 1 ? "规则任务" : "目标任务" }}</div>
    <div class="rightWrapper">
      <section class="warningStatus" :style="{ background: watchStatusColor(level) }" v-if="level !== -2">
        {{ watchStatusText(level) }}
      </section>
      <!-- <div class="watchErrorLabel" v-else>
        <img src="@/assets/icons/earlyWarningTarget/watchError.svg" alt="" />
        <span>监测失败</span>
      </div> -->
      <span class="title">
        负责人：<span style="margin-left: 11px">{{ manager }}</span>
      </span>
    </div>
  </div>
</template>

<script>
import { EARLY_WARNING_TYPE_LIST, TARGET_TYPE_LIST } from "@/view/Rulesmanagement/constant/taskList";

export default {
  props: {
    taskType: {
      type: Number,
      required: true,
    },
    level: {
      type: Number,
      required: true,
    },
    manager: {
      type: String,
      required: true,
    },
  },
  computed: {
    taskTypeList() {
      return this.taskType === 1 ? EARLY_WARNING_TYPE_LIST : TARGET_TYPE_LIST;
    },
    watchStatusText() {
      return (status) => this.taskTypeList.find((ele) => ele.value === status)?.label;
    },
    watchStatusColor() {
      return (status) => this.taskTypeList.find((ele) => ele.value === status)?.color;
    },
  },
};
</script>

<style lang="less" scoped>
.headLineView-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .leftWrapper {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #333333;
    font-weight: 600;
  }
  .rightWrapper {
    display: flex;
    align-items: center;
    .warningStatus {
      width: 64px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #ffffff;
    }
    .watchErrorLabel {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 4px;
      }
      span {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ff0202;
        letter-spacing: 0;
        font-weight: 400;
      }
    }
    .title {
      margin-left: 24px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
    }
  }
}
</style>
