<template>
  <div class="pushInfoView-container">
    <section class="contentItem pushFun">
      <span class="itemLeft">推送方式</span>
      <div class="itemRight">
        <div class="line">
          <span class="lineLabel">平台内推送</span>
          <span class="lineValue">{{ showStr(showMode(taskForm.platformPushMode, "platform")) }}</span>
        </div>
        <div class="line">
          <span class="lineLabel">第三方推送</span>
          <span class="lineValue">{{ showStr(showMode(taskForm.thirdPartyPushMode, "third")) }}</span>
        </div>
      </div>
    </section>

    <section class="contentItem pushMember">
      <span class="itemLeft" style="margin-top: 6px">推送人</span>
      <div class="itemRight">
        <Tabs v-model="taskForm.pushMemberTab" :animated="false" name="pushMember">
          <TabPane v-for="(item, index) in taskForm.pushMemberList" :key="item.id" :label="ruleTitle(index)" :name="item.id" tab="pushMember">
            <div class="line">
              <span>用户：</span>
              <span class="lineValue" v-if="!item.associatedTableData?.checked">{{ showUserList(item.userList) }}</span>
              <template v-else>
                <span>关联源表：</span>
                <span class="lineValue">{{ showAsso(item.associatedTableData, "table") }}</span>
                <span style="margin-left: 24px">关联字段：</span>
                <span class="lineValue">{{ showAsso(item.associatedTableData, "rel") }}</span>
                <span style="margin-left: 24px">匹配字段：</span>
                <span class="lineValue">{{ showAsso(item.associatedTableData, "use") }}</span>
              </template>
            </div>
            <div class="line">
              <span>部门：</span>
              <span class="lineValue">{{ showDeptList(item.deptList) }}</span>
            </div>
            <div class="line">
              <span>角色：</span>
              <span class="lineValue">{{ showRoleList(item.roleList) }}</span>
            </div>
          </TabPane>
        </Tabs>
      </div>
    </section>

    <section class="contentItem">
      <span class="itemLeft">推送频率</span>
      <div class="itemRight">
        <div class="line">
          <span class="" v-if="taskForm.pushCondition === 1">{{ showPushMode(taskForm.pushCondition, "condition") }}</span>
          <span class="" v-if="taskForm.pushCondition === 2">
            <span>{{ showPushMode(taskForm.pushCondition, "condition") }}</span>
            <span style="margin-left: 26px">{{ showPushMode(taskForm.pushMode, "mode") }}</span>
            <span style="margin-left: 12px; margin-right: 12px; color: rgba(0, 0, 0, 0.45)">触发</span>
            <span style="margin-right: 9px; color: #3f73ff">{{ taskForm.pushNum }}</span>
            <span style="color: rgba(0, 0, 0, 0.45)">次时推送</span>
          </span>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { PLATFORM_PUSH_LIST, THIRD_PUSH_LIST, PUSH_CONDITION_OPTIONS, PUSH_MODE_OPTIONS } from "@/view/Rulesmanagement/constant/ruleModal";
import { mapState } from "vuex";
import { getUserListAll } from "@/api/systemManagement/system";
import { recursiveDataSourceGroup } from "@/view/RulesmanagementTarget/earlyWarningTargetIndex/utils";
import { deepCopy } from "@/utils/common";

export default {
  props: {
    taskForm: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      userTreeData: [], // 用户数据
      dataSourceObj: {},
    };
  },
  computed: {
    ...mapState("earlyWarningTarget", ["dataSourceList"]),
    ...mapState("department", ["deptTreeData"]),
    ...mapState("role", ["roleTreeData"]),
    ruleTitle() {
      return (index) => {
        let i = "";
        switch (index) {
          case 0:
            i = "规则一";
            break;
          case 1:
            i = "规则二";
            break;
          case 2:
            i = "规则三";
            break;
        }
        return i;
      };
    },
    showStr() {
      return (data) => (data.length ? data.join("、") : "无");
    },
    showMode() {
      return (data, type) => {
        let list = [];
        if (type === "platform") {
          list = PLATFORM_PUSH_LIST;
        } else if (type === "third") {
          list = THIRD_PUSH_LIST;
        }
        return data.map((ele) => list.find((i) => i.value === ele).label);
      };
    },
    showUserList() {
      return (list) => {
        if (list.length) {
          const newData = this.userTreeData.filter((ele) => list.includes(ele.username)).map((ele) => ele.nickname);
          return newData.join("、");
        } else {
          return "无";
        }
      };
    },
    showAsso() {
      return (data, type) => {
        if (Object.keys(this.dataSourceObj).length) {
          const { connectId, tableId, relColumnId, useColumnId } = data;
          const tableData = this.dataSourceObj[connectId].find((ele) => ele.id === tableId);
          if (type === "table") {
            return tableData.label || tableData.name;
          } else if (type === "rel") {
            const relData = tableData.columns.find((ele) => ele.id === relColumnId);
            return relData.label || relData.name;
          } else if (type === "use") {
            const useData = tableData.columns.find((ele) => ele.id === useColumnId);
            return useData.label || useData.name;
          }
        }
      };
    },
    showDeptList() {
      return (list) => {
        if (list.length) {
          const newData = this.dataFormat(list, this.deptTreeData);
          return newData.join("、");
        } else {
          return "无";
        }
      };
    },
    showRoleList() {
      return (list) => {
        if (list.length) {
          const newData = this.dataFormat(list, this.roleTreeData);
          return newData.join("、");
        } else {
          return "无";
        }
      };
    },
    showPushMode() {
      return (data, type) => {
        let list = [];
        if (type === "condition") {
          list = PUSH_CONDITION_OPTIONS;
        } else if (type === "mode") {
          list = PUSH_MODE_OPTIONS;
        }
        return list.find((ele) => ele.value === data).label;
      };
    },
  },
  watch: {
    /**
     * 获取数据源
     */
    dataSourceList: {
      handler(newVal) {
        const roots = {};
        deepCopy(newVal).forEach((dataSource) => {
          const dataSourceDomain = dataSource.dataSourceDomain;
          let root = [];
          for (let key in dataSourceDomain) {
            if (key !== "sqlTableList" && dataSourceDomain[key].length > 0) {
              recursiveDataSourceGroup(dataSourceDomain[key], key);
              root.push(dataSourceDomain[key][0]);
            }
          }
          roots[dataSource.id] = root.reduce((pre, next) => [...pre, ...next.children], []);
        });
        this.dataSourceObj = deepCopy(roots);
      },
      deep: true,
    },
    /**
     * 回填用户数据
     */
    "taskForm.pushMemberList": {
      async handler(newVal) {
        // 用户名列表
        const user = new Set(newVal.reduce((prev, next) => [...prev, ...next.userList], []));
        if (user.size) {
          let arr = [];
          for (const ele of user) {
            const res = await this.getUserData(ele);
            arr = [...arr, ...res];
          }
          this.userTreeData = arr;
        }
      },
      deep: true,
    },
  },
  methods: {
    /**
     * 获取用户数据
     */
    async getUserData(query) {
      const params = {
        currentPage: 1,
        pageSize: 1000,
        username: query,
      };
      const res = await getUserListAll(params);
      if (res.data.state === "success") {
        return res.data.data.data.map((ele) => ({
          id: ele.id,
          nickname: ele.nickname, // 昵称
          username: ele.name, // 用户名
        }));
      }
    },
    dataFormat(data, allData) {
      let arr = [];
      allData?.forEach((ele) => {
        if (data.includes(Number(ele.id))) {
          arr.push(ele.name);
        }
        const childData = ele.children || ele.roleList;
        if (childData?.length) {
          const newArr = this.dataFormat(data, childData);
          arr = [...arr, ...newArr];
        }
      });
      return arr;
    },
  },
};
</script>

<style lang="less" scoped>
.pushInfoView-container {
  width: 100%;
  height: 100%;
  .contentItem {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &:last-child {
      align-items: center;
    }

    // 推送方式
    &.pushFun {
      .itemRight {
        .line {
          &:first-child {
            margin-bottom: 13px;
          }
          .lineLabel {
            margin-right: 30px;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.65);
            letter-spacing: 0;
          }
          .lineValue {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.85);
            letter-spacing: 0;
          }
        }
      }
    }

    // 推送人
    &.pushMember {
      .itemRight {
        @import url("~@/view/earlyWarningTarget/earlyWarningTargetIndex/style/pushMemberTab.less");
        .line {
          line-height: 32px;
          &:not(:last-child) {
            margin-bottom: 9px;
          }
        }
      }
    }

    .itemLeft {
      width: 80px;
      display: flex;
      align-items: center;
      margin-right: 15px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #333333;
      letter-spacing: 0;
      font-weight: 400;
      &::before {
        content: url("~@/assets/icons/earlyWarningTarget/blue_small.svg");
        margin-right: 9px;
      }
    }
    .itemRight {
      .line {
        display: flex;
        align-items: center;
      }
    }
  }
}
</style>
