<template>
  <div class="drawing-area" ref="drillDownBar">
    <div
      style="
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        z-index: 9;
      "
      v-if="
        configData?.drillDownOption &&
        configData.drillDownOption.opened &&
        drillDownBreadcrumbItems.length > 1
      "
    >
      <div v-for="(item, idx) in drillDownBreadcrumbItems" :key="item.title">
        <span v-if="idx !== 0"> > </span>
        <span
          :class="{
            drillDownItem: 'drillDownItem',
            drillDownActive:
              configData.drillDownOption.drillDownStep - 1 === idx,
          }"
          @click="handleClickDrillDown($event, item, idx, 'drillDownBar')"
          >{{ item.title }}</span
        >
      </div>
    </div>
    <no-data
      v-if="errorCode"
      :chartType="chartId"
      :error-code="errorCode"
    ></no-data>
    <chart-bar
      ref="cb"
      class="chart-area"
      :value="barData"
      :chartId="chartId"
      :propertyStyle="propertyStyle"
      :configData="propertyData?.configData"
      :propertyData="propertyData"
      :isIntelligentAnswer="isIntelligentAnswer"
      v-else
    />
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import { ChartBar } from "_c/charts";
import NoData from "@/view/components/no-data";
import _ from "lodash";
import BaseChart from "@/view/report/chart/basics/BaseChart";
import BigNumber from "bignumber.js";
import { adjustDataByHeaders, sortingProcess } from "@/utils/common";
import mixin from "@/view/report/chart/mixin/ChartMixin";
import seriesMixin from "@/view/report/chart/mixin/seriesMixin";

export default {
  name: "SimpleBar",
  mixins: [mixin, seriesMixin],
  extends: BaseChart,
  components: {
    ChartBar,
    NoData,
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    startDate: {
      type: String,
      default: null,
    },
    endDate: {
      type: String,
      default: null,
    },
    defaultImg: {
      default: null,
    },
    imgHeight: {
      type: Number,
      default: null,
    },
    chartSwitchType: {
      type: String,
      default: "SimpleBar",
    },
    defaultShow: {
      type: Boolean,
      default: true,
    },
    isChild: {
      type: Boolean,
      default: false,
    },
    usePage: {
      type: Boolean,
      default: false,
    },
    isIntelligentAnswer: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      barData: {},
      loading: false,
      errorCode: null,
      barTitle: "柱状图",
      height: 95,
    };
  },
  computed: {
    configData() {
      return this.propertyData && this.propertyData.configData;
    },
    drillDownBreadcrumbItems() {
      return this.configData?.drillDownOption.drillDownTagList.filter(
        (item) => item.arrive
      );
    },
  },
  mounted() {
    if (
      this.propertyData?.dimension?.length &&
      this.propertyData?.indicator?.length
    ) {
      this.fetchData();
    } else {
      this.showDefaultData();
    }
  },
  methods: {
    resize() {
      this.$refs.cb.resize();
    },
    fetchChartDataForPage(startDate, endDate) {
      this.queryChartDataForPage(this.propertyData, {
        startDate,
        endDate,
      }).then((res) => {
        this.loading = false;
        let errors = res.data?.errors;
        if (errors) {
          let errorsKeys = Object.keys(errors);
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code;
            return;
          }
        }
        if (res.state === "success") {
          const resData = res.data.currentData;
          if (resData && resData.length) {
            this.refreshBarChart(resData, res.data.headers);
          } else {
            this.errorCode = "000000";
          }
        } else {
          this.errorCode = res.errorCode;
        }
      });
    },
    fetchChartDataWithCompare(startDate, endDate) {
      let compare = false;
      let sameCompareType = "";
      if (this.propertyData.configData.compareType === "useYearOnYear") {
        if (this.propertyData.configData.yearOnYearTypeValue === "yoy") {
          sameCompareType = "yoy";
        } else {
          sameCompareType = "mom";
        }
      } else {
        compare = true;
      }
      this.queryMoreCompareChartData(
        this.propertyData,
        { startDate, endDate },
        null,
        compare,
        sameCompareType
      ).then((res) => {
        this.loading = false;
        let errors = res.data?.errors;
        if (errors) {
          let errorsKeys = Object.keys(errors);
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code;
            return;
          }
        }
        if (res.state === "success") {
          const resData = res.data;
          if (resData.currentData?.length) {
            let data = resData.currentData;
            let compareData = [];
            if (compare) {
              // 环比
              compareData = resData.momData;
            } else {
              // 同比
              compareData = resData.yoyData;
            }
            let newData = [];
            data.forEach((item, index) => {
              let findItem = compareData.find((compareItem) => {
                return compareItem[0] === item[0];
              });
              if (findItem) {
                let newItem = [item[0]];
                for (let i = 1; i < item.length; i++) {
                  if (item[i] === null || findItem[i] === null) {
                    newItem.push(null);
                  } else {
                    newItem.push(
                      BigNumber(item[i]).minus(findItem[i]).toNumber()
                    );
                  }
                }
                newData.push(newItem);
              } else {
                newData.push(item);
              }
            });
            this.refreshBarChart(newData, resData.headers);
          } else {
            this.errorCode = "000000";
          }
        } else {
          this.errorCode = res.errorCode;
        }
      });
    },
    fetchChartData(startDate, endDate) {
      this.queryMoreCompareChartData(this.propertyData, {
        startDate,
        endDate,
      }).then((res) => {
        this.loading = false;
        this.errorCode = null;
        let errors = res.data?.errors;
        if (errors) {
          let errorsKeys = Object.keys(errors);
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code;
            return;
          }
        }
        if (res.state === "success") {
          const resData = res.data;
          if (resData?.currentData?.length) {
            this.refreshBarChart(resData.currentData, resData.headers);
          } else {
            this.errorCode = "000000";
          }
        } else {
          this.errorCode = res.errorCode;
        }
      });
    },
    fetchData() {
      console.log("请求柱状图数据");
      this.loading = true;
      this.errorCode = null;
      const startDate = this.getChartPrivateDate().startDate;
      const endDate = this.getChartPrivateDate().endDate;
      console.log('startDate',startDate)
      if (this.usePage) {
        this.fetchChartDataForPage(startDate, endDate);
      } else if (this.propertyData?.configData?.useCompare) {
        this.fetchChartDataWithCompare(startDate, endDate);
      } else {
        this.fetchChartData(startDate, endDate);
      }
      this.$emit("changeDefaultShow", false);
    },
    /**
     * 重置上次图表选择的和指标
     */
    resetLastDataProperty() {
      this.prevDimension = this.propertyData.dimension.toString();
      this.preIndicator = JSON.stringify(this.propertyData.indicator);
    },

    refreshData() {
      // 如果数据属性条件齐全则请求数据(目前只支持一个指标)
      const { configData } = this.propertyData;
      const { linkOption } = configData;
      if (
        this.propertyData &&
        this.propertyData.dimension?.length &&
        this.propertyData.indicator?.length
      ) {
        if (!this.prevDimension || !this.preIndicator) {
          this.resetLastDataProperty();
        } else if (
          linkOption &&
          linkOption.chartLinkIsOpen &&
          (this.propertyData.dimension.toString() !== this.prevDimension ||
            JSON.stringify(this.propertyData.indicator) !== this.preIndicator)
        ) {
          // 如果图表联动开启，当前图表为主联动图表，需要通知所有被联动图表还原显示原始数据；如果当前图表是被联动图表则自身还原显示原始数据
          this.resetLastDataProperty();
          this.cancelChartLink();
        }
        this.fetchData();
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },
    cancelChartLink() {
      this.$refs["cb"] && this.$refs["cb"].clearChartLink(true);
    },
    resetChartDrillDown() {
      this.$refs["cb"] && this.$refs["cb"].resetChartDrillDown();
    },
    refreshLegendData() {
      let legendData = [];
      _.forEach(this.propertyData.indicator, (indicatorId) => {
        const indicators = this.getAllIndicators();
        const indicator = _.find(indicators, (item) => item.id === indicatorId);
        if (indicator) {
          legendData.push(indicator.name);
        }
      });
      return legendData;
    },
    async refreshBarChart(resData, headers) {
      let legend = [];
      let xAxis = [];
      let series = [];
      let newResData = adjustDataByHeaders(resData, headers, this.propertyData);

      // 存在系列
      let dimensionMember = [];
      if (this.propertyData?.series?.length) {
        dimensionMember = await this.getDimensionMember(this.propertyData);
        newResData = this.adjustDataBySeries(newResData, dimensionMember);
      }

      // 排序处理
      newResData = sortingProcess(newResData, this.propertyData);

      // 存在系列
      if (this.propertyData?.series?.length) {
        const { legend, xAxis, series } = this.getChartDataBySeries(
          newResData,
          dimensionMember,
          this.propertyData,
          "bar"
        );
        this.barData = {
          legend,
          xAxis,
          series,
        };
        return;
      }

      let thresholdsColorList = ["#6DD400", "#32C5FF", "#FA8700", "#FF1F00"];
      let colorIndex = 0;
      let indicatorLength = this.propertyData.indicator.length;
      this.propertyData.indicator.forEach((indicatorItem) => {
        let markLine = {
          symbol: ["none", "none"],
          label: {
            show: false,
            position: "middle",
            formatter: function (params) {
              return params.name + params.value;
            },
          },
          emphasis: {
            label: { show: true },
          },
          animation: false,
          data: [],
        };
        if (
          indicatorItem.thresholds &&
          indicatorItem.thresholds.length > 0 &&
          indicatorItem.useThreshold
        ) {
          indicatorItem.thresholds.forEach((item) => {
            // showType为百分比时，label加%
            if (indicatorItem.showType === 1) {
              markLine.label.formatter = function (params) {
                return (
                  indicatorItem.title +
                  "·" +
                  params.name +
                  ":" +
                  params.value +
                  "%"
                );
              };
            } else {
              markLine.label.formatter = function (params) {
                return (
                  indicatorItem.title + "·" + params.name + ":" + params.value
                );
              };
            }
            let markLineItem = {
              name: item.name,
              lineStyle: { color: thresholdsColorList[colorIndex++] },
            };
            if (
              !this.configData.displayDirection ||
              this.configData.displayDirection === "vertical"
            ) {
              markLineItem.yAxis = item.value;
            } else {
              markLineItem.xAxis = item.value;
            }
            markLine.data.push(markLineItem);
          });
        }
        // echarts的name使用指标名加父指标组名拼接
        let name = indicatorItem.abbrName || indicatorItem.title;
        if (indicatorItem.parentName) {
          name += this.GLOBAL.separator + indicatorItem.parentName;
        }
        series.push({
          name: name,
          type: "bar",
          data: [],
          showType: indicatorItem.showType,
          markLine: markLine,
        });
        let legendItem = {
          name: name,
          originName: indicatorItem.abbrName || indicatorItem.title,
          parentName: indicatorItem.parentName || "",
          id: indicatorItem.id,
        };
        legend.push(legendItem);
      });

      newResData.forEach((item) => {
        xAxis.push(item[0]);
        for (let i = 1; i <= indicatorLength; i++) {
          series[i - 1].data.push(item[i] !== null ? item[i] : 0);
        }
      });

      this.barData = {
        legend: legend,
        xAxis,
        series,
      };
    },
    switchChartByType(type) {
      if (type === this.lineChartType || type === this.barChartType) {
        const chartType = type === this.lineChartType ? "line" : "bar";
        this.barData.series &&
          this.barData.series.forEach((item) => (item.type = chartType));
      }
    },
    showDefaultData() {
      this.$emit("changeDefaultShow", true);
      this.barData = {
        legend: ["图例1"],
        xAxis: ["07-08", "07-09", "07-10", "07-11", "07-12"],
        series: [
          {
            data: [80, 90, 70, 50, 60],
            name: "图例1",
            type: "bar",
          },
        ],
      };
    },
  },
  watch: {
    imgHeight(val, old) {
      if (val < old) this.height = 95;
      if (val > old) this.height -= val;
    },
    chartSwitchType(val, old) {
      this.switchChartByType(val);
    },
  },
};
</script>

<style scoped>
.chart-area {
  height: 100%;
  width: 100%;
}
.drillDownItem {
  margin-right: 5px;
  cursor: pointer;
}
.drillDownActive {
  color: #3f73ff;
}
</style>
