<template>
  <div class="customImage-area">
    <div
      class="customImageBox"
      :style="{
        borderWidth: styleConfig.imageBorderWidth + 'px',
        borderStyle: styleConfig.imageBorderStyle,
        borderColor: styleConfig.imageBorderColor,
        borderRadius: styleConfig.imageBorderRadius + 'px'
      }">
      <img class="customImage"
        ref="customImage" crossorigin="anonymous"/>
      <Spin v-if="loading" fix size="large"></Spin>
    </div>
  </div>
</template>

<script>
import { previewImg } from '@/api/report'
export default {
  props: {
    propertyData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    propertyStyle: {
      type: Object,
      default: () => {
        return { }
      }
    }
  },
  computed: {
    styleConfig() {
      return Object.assign({
        imageBorderColor: '#ffffff',
        imageBorderStyle: 'solid',
        imageBorderWidth: 0,
        imageBorderRadius: 0
      }, this.propertyStyle)
    }
  },
  data() {
    return {
      loading: false
    }
  },
  watch: {
    'propertyData.src': {
      handler: function(newVal, oldVal) {
        this.loading = true
        previewImg(newVal).then(res => {
          if(res.status === 200) {
            let imageUrl = window.URL.createObjectURL(res.data)
            this.$refs.customImage.src = imageUrl
            this.loading = false
          } else {
            this.$Message.warning('图片加载失败')
            this.loading = false
          }
        })
      },
      deep: true,
      immediate: true
    }
  }
}
</script>

<style lang='less' scoped>
.customImage-area {
  width: 100%;
  height: 100%;
  .customImageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .customImage {
      width: 100%;
      height: 100%;
    }
  }
}
</style>
