<template>
  <div class="customTableTest-container">
    <div
      ref="drillDownTable"
      style="width: 100%; height: 100%; padding: 14px"
      :style="{
        background: propertyStyle && propertyStyle.backgroundColor,
      }"
    >
      <div
        class="table-all"
        :style="{
          marginBottom: pageFixed ? '65px' : '10px',
        }"
      >
        <Spin fix v-if="loading" />
        <!-- 下钻 -->
        <div
          style="
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            z-index: 9;
          "
          v-if="
            configData.drillDownOption &&
            configData.drillDownOption.opened &&
            drillDownBreadcrumbItems.length > 1
          "
        >
          <div
            v-for="(item, idx) in drillDownBreadcrumbItems"
            :key="item.title"
          >
            <span v-if="idx !== 0"> > </span>
            <span
              :class="{
                drillDownItem: 'drillDownItem',
                drillDownActive:
                  configData.drillDownOption.drillDownStep - 1 === idx,
              }"
              @click="handleClickDrillDown($event, item, idx, 'drillDownTable')"
              >{{ item.title }}</span
            >
          </div>
        </div>
        <no-data
          v-show="errorCode"
          :chartType="chartId"
          :error-code="errorCode"
        ></no-data>
        <TransposeTable
          v-if="configData.transpose"
          ref="tableContent"
          :columns="tableColumns"
          :data="tableData"
          :stripe="propertyData.indicator.length !== 0"
          :show-summary="
            propertyData.configData.isOpenTotal &&
            propertyData.dimension.length !== 0
          "
          :summary-method="handleSummary"
          @on-cell-click="handleCellClick"
          class="tableClass"
        />
        <Table
          v-else
          v-show="tableData.length !== 0"
          ref="tableContent"
          :columns="tableColumns"
          :data="tableData"
          :id="propertyData.chartId"
          :border="
            propertyStyle &&
            propertyStyle.content &&
            propertyStyle.content.horizontalLine &&
            propertyStyle.content.longitudeLine
          "
          :max-height="
            propertyStyle &&
            propertyStyle.header &&
            propertyStyle.header.freezeHeader
              ? fixedHeaderHeight
              : ''
          "
          :stripe="propertyData.indicator.length !== 0"
          :show-summary="
            propertyData.configData.isOpenTotal &&
            propertyData.dimension.length !== 0
          "
          :summary-method="handleSummary"
          @on-column-width-resize="handleDragColumnWidth"
          @on-cell-click="handleCellClick"
          class="tableClass"
          :class="{
            ivuTableStyle: propertyData.dimension.length === 0 && propertyData.indicator.length === 0,
            breakStyle: !propertyStyle?.header?.lineBreak,
            noBorderStyle: !propertyStyle?.content?.horizontalLine,
            borderHoriStyle: propertyStyle?.content?.horizontalLine,
            borderLongStyle: propertyStyle?.content?.longitudeLine,
            wordWrapStyle: !propertyStyle?.content?.wordWrap,
            widthFitStyle: propertyStyle?.widthConfig === '最佳比例',
            warningFirst: true,
          }"
        />
      </div>
    </div>
    <div
      class="page-all"
      v-if="propertyStyle && propertyStyle.page && propertyStyle.page.show"
      :class="{
        pageShowTotal:
          propertyStyle && propertyStyle.page && propertyStyle.page.totalShow,
        'view-page-all': pageFixed,
      }"
    >
      <Page
        :total="totalPage"
        size="small"
        :current="currentPage"
        show-total
        :show-sizer="propertyStyle.page.pageSizeShow"
        :page-size="propertyStyle.page.pageSize"
        :page-size-opts="[5, 10, 20, 50, 100, 200, 500, 1000]"
        show-elevator
        @on-change="changePage"
        @on-page-size-change="changePageSize"
      >
        <span class="pageTotal-left">共 {{ totalPage }}条</span>
        <span class="pageTotal" v-if="propertyStyle.page.totalShow"
          >/ {{ PageAll }}</span
        >
      </Page>
    </div>
  </div>
</template>

<script>
import TransposeTable from "../components/transpose-table/table.vue";
import BaseChart from "@/view/report/chart/basics/BaseChart";
import BigNumber from "bignumber.js";
import NoData from "@/view/components/no-data";
import { deepCopy } from "@/utils/common";
import {
  NULL_DATA_NUMBER_SHOW,
  PROPORTION_DENOMINATOR_ZERO_SHOW,
  THRESHOLD_SECTION_DOWN,
  THRESHOLD_SECTION_UP,
  ZERO_PRE_COMPARE_DATA_SHOW,
} from "@/config/ReportConstants";
import {
  formatCompareData,
  formatData,
  formatDataUnit,
  formatPercentTypeCompareData,
} from "@/utils/BusinessDataHandleUtil";
import moment from "moment";
import { mapGetters } from "vuex";
import mixin1 from "_c/charts/mixin/chartMixin";
import mixin2 from "@/view/report/chart/mixin/ChartMixin";

export default {
  name: "CustomTable",
  extends: BaseChart,
  mixins: [mixin1, mixin2],
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    startDate: {
      type: String,
      default: null,
    },
    endDate: {
      type: String,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    chartSwitchType: {
      type: String,
      default: "CustomTable",
    },
    isActive: {
      type: Boolean,
      default: true,
    },
    defaultShow: {
      type: Boolean,
      default: true,
    },
    // 是否分页
    usePage: {
      type: Boolean,
      default: false,
    },
  },
  inject: ["editChartLink"],
  components: {
    TransposeTable,
    NoData,
  },
  data() {
    return {
      highLightRow: null,
      highLightColumn: null,
      tableColumns: [],
      tableData: [],
      totalPage: 0,
      PageAll: 1,
      currentPage: 1,
      loading: false,
      showDefault: false,
      mergeData: [],
      errorCode: null,
    };
  },
  watch: {
    "propertyStyle.header": {
      handler: function (val, old) {
        if (val) {
          this.handleChangeTheadStyle();
        }
      },
      deep: true,
    },
    "propertyStyle.content": {
      handler: function (val, old) {
        if (val) {
          this.handleChangeTbodyStyle();
        }
      },
      deep: true,
    },
    "propertyStyle.total": {
      handler: function (val) {
        if (val && this.propertyData.configData.isOpenTotal) {
          this.handleChangeTotalStyle();
        }
      },
      deep: true,
    },
    "propertyStyle.borderColor": {
      handler: function (val, old) {
        if (val) {
          this.handleChangeDrawAreaStyle();
        }
      },
      deep: true,
    },
    "propertyStyle.backgroundColor": {
      handler: function (val, old) {
        if (val) {
          this.handleChangeDrawAreaStyle();
        }
      },
      deep: true,
    },
    "propertyStyle.borderLineType": {
      handler: function (val, old) {
        if (val) {
          this.handleChangeDrawAreaStyle();
        }
      },
      deep: true,
    },
    "propertyStyle.borderRadius": {
      handler: function (val, old) {
        if (val !== undefined && val !== null) {
          this.handleChangeDrawAreaStyle();
        }
      },
      deep: true,
    },
    "propertyStyle.borderWidth": {
      handler: function (val, old) {
        if (val !== undefined && val !== null) {
          this.handleChangeDrawAreaStyle();
        }
      },
      deep: true,
    },
    "propertyStyle.page": {
      handler: function (val, old) {
        if (val) {
          this.refreshData();
        }
      },
      deep: true,
    },
    "propertyStyle.page.pageSize": {
      handler: function (val, old) {
        if (val) {
          this.currentPage = 1;
          this.refreshData();
        }
      },
      deep: true,
    },
    "propertyStyle.widthConfig": {
      handler: function (val, old) {
        if (val) {
          this.handleChangeWidthStyle();
          this.refreshData();
        }
      },
      deep: true,
    },
  },
  computed: {
    ...mapGetters([
      "currentSelectChart",
      "currentSelectConfigData",
      "currentSelectChartData",
      "currentSelectIndicators",
    ]),
    currentSelectChartStyle: function () {
      return this.currentSelectChart && this.currentSelectChart.style;
    },
    calculationStyle: function () {
      return (
        (this.propertyData && this.propertyData.configData.calculationStyle) ||
        {}
      );
    },
    configData() {
      return this.propertyData && this.propertyData.configData;
    },
    drillDownBreadcrumbItems() {
      return this.configData.drillDownOption.drillDownTagList.filter(
        (item) => item.arrive
      );
    },
    fixedHeaderHeight() {
      return this.propertyStyle.height - 110;
    },
    pageFixed() {
      return this.$route.path === "/template_add" &&
        this.$route.query.openType !== "view"
        ? true
        : false;
    },
  },

  mounted() {
    this.$nextTick(() => {
      this.tableRef = this.$refs["tableContent"]; //tableDom
    });
    this.refreshData();
    this.handleChangeDrawAreaStyle();
  },
  methods: {
    /**
     * 表格宽度拖拽
     * @param newWidth
     * @param oldWidth
     * @param column
     * @param event
     */
    handleDragColumnWidth(newWidth, oldWidth, column, event) {},
    handleCellClick(row, column, data, event) {
      // 编辑态预览态 层级不一样
      let chartLink = this.$parent.$parent.chartLink || this.editChartLink;
      if (chartLink && this.highLightRow !== row["_index"]) {
        this.highLightRow = row["_index"];
        this.highLightColumn = column["key"];
        let obj = {};
        obj[this.highLightColumn] = "linkCell";
        this.$set(this.tableData[this.highLightRow], "cellClassName", obj);
      } else {
        this.highLightRow = null;
        this.highLightColumn = null;
      }
      if (column.key.startsWith("dimension_")) {
        let params = {
          dataIndex: row["_index"],
          name: row[column.key],
          dimensionId: column.key.substring(10),
        };
        this.handleChartItemClick(params, {}, true);
      } else {
        let dimensionList = Object.keys(row).filter((item) =>
          item.startsWith("dimension_")
        );
        let params = {
          dataIndex: row["_index"],
          name: dimensionList.map((item) => row[item]).join(","),
          dimensionId: dimensionList
            .map((item) => item.substring(10))
            .join(","),
        };
        this.handleChartItemClick(params, {}, true);
      }
    },
    changePage(val) {
      this.currentPage = val;
      this.refreshData();
    },
    changePageSize(val) {},
    filterSymbol(selectVal) {
      let symbol = "";
      switch (selectVal) {
        case "1":
          symbol = ">";
          break;
        case "2":
          symbol = "<";
          break;
        case "3":
          symbol = "!==";
          break;
        case "4":
          symbol = "===";
          break;
        case "5":
          symbol = ">=";
          break;
        case "6":
          symbol = "<=";
          break;
      }
      return symbol;
    },
    /**
     * 刷新表格
     */
    refreshData() {
      console.log("refreshData table");
      this.tableColumns = [];
      this.tableData = [];
      let { startDate, endDate } = this.getChartPrivateDate();
      let privateDate = { startDate, endDate };
      const { indicator, dimension } = this.propertyData;
      if (indicator.length) {
        this.loading = true;
        let propertyCopy = deepCopy(this.propertyData);
        propertyCopy.indicator = propertyCopy.indicator.map((item) => {
          return {
            ...item,
            useCompare: true,
            useThreshold: true,
            useProportion: false,
          };
        });
        const topVal = propertyCopy.dimension.length ? this.showTopVal() : null;
        if (this.usePage) {
          this.queryChartDataForPage(propertyCopy, privateDate).then((res) => {
            if (res.state === "success") {
              this.loading = false;
              if (res.data.currentData.length) {
                this.$emit("totalChange", res.data.total);
                let dataHandled = { yoyData: [], momData: [] };
                dataHandled.headers = res.data.headers;
                dataHandled.currentData = res.data.currentData;
                this.buildTableData(dataHandled);
              } else {
                this.errorCode = "000000";
              }
            } else {
              this.errorCode = res.errorCode;
              this.loading = false;
              this.tableData = [];
            }
          });
        } else {
          const indUseCompare = propertyCopy.indicator.some(
            (item) => item.useCompare
          );
          const sameCompareType = this.getSameCompareType();
          this.queryMoreCompareChartData(
            propertyCopy,
            privateDate,
            topVal,
            indUseCompare,
            sameCompareType
          ).then((res) => {
            this.loading = false;
            let errors = res.data?.errors;
            if (errors) {
              let errorsKeys = Object.keys(errors);
              if (errorsKeys.length) {
                this.errorCode = errors[errorsKeys[0]].code;
                return;
              }
            }
            if (res.state === "success") {
              if (res.data.currentData.length) {
                // 适配年同比数据
                this.adapterYoyData(res.data, dimension);
                this.buildTableData(res.data);
              } else {
                this.errorCode = "000000";
              }
            } else {
              this.errorCode = res.errorCode || '000000';
              this.loading = false;
              this.tableData = [];
            }
          });
        }
        this.$emit("changeDefaultShow", false);
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },
    /**
     * 快速计算同比参数获取
     * **/
    getSameCompareType() {
      let sameCompareType = {};
      const { dimension, configData, indicator } = this.propertyData;
      const useSameCompare = configData["useSameCompare"];
      if (useSameCompare) {
        if (dimension.length) {
          //维度+指标
          Object.keys(useSameCompare).forEach((key) => {
            const useSameCompareObj = useSameCompare[key];
            if (useSameCompareObj.open) {
              const sameCompareTypeParam =
                useSameCompareObj.sameCompareType === "years" ? "yoy" : "mom";
              sameCompareType[key] = {
                yearOnYearTypeValue: sameCompareTypeParam,
              };
            }
          });
        } else {
          //纯指标
          if (useSameCompare.open) {
            const indSameCompareType =
              configData["useSameCompare"]["sameCompareType"] || "years";
            const sameCompareTypeParam =
              indSameCompareType === "years" ? "yoy" : "mom";
            indicator.forEach((item) => {
              sameCompareType[item.id] = {
                yearOnYearTypeValue: sameCompareTypeParam,
              };
            });
          }
        }
      }
      return sameCompareType;
    },
    /**
     * 同比时间
     * @param startDate
     * @param endDate
     * @param type
     * @returns {{endDate: string, startDate: string}}
     */
    getPrevDateByMoment(startDate, endDate, type) {
      return {
        startDate: moment(new Date(startDate))
          .subtract(1, type)
          .format("YYYY-MM-DD"),
        endDate: moment(new Date(endDate))
          .subtract(1, type)
          .format("YYYY-MM-DD"),
      };
    },
    //阈值条件判断
    getThresholdJudgment(ruleConditionList, value, nameId, derail) {
      let row = {};
      for (let j = 0; j < ruleConditionList.length; j++) {
        let flag = true;
        const andResult = [];
        ruleConditionList[j].ruleConditionList.forEach((item) => {
          const orResult = [];
          for (let i = 0; i < item.length; i++) {
            const figure = item[i].showType
              ? Number(item[i].variableValue) / 100
              : Number(item[i].variableValue);
            switch (item[i].conditionType) {
              case 1:
                if (Number(value) > figure) {
                  orResult.push(true);
                }
                break;
              case 2:
                if (Number(value) < figure) {
                  orResult.push(true);
                }
                break;
              case 3:
                if (Number(value) !== figure) {
                  orResult.push(true);
                }
                break;
              case 4:
                if (Number(value) === figure) {
                  orResult.push(true);
                }
                break;
              case 5:
                if (Number(value) >= figure) {
                  orResult.push(true);
                }
                break;
              case 6:
                if (Number(value) <= figure) {
                  orResult.push(true);
                }
                break;
              default:
                orResult.push(false);
                break;
            }
          }
          if (orResult.includes(true)) {
            andResult.push(true);
          } else {
            andResult.push(false);
          }
          // console.log("andResult", andResult);
        });
        if (andResult.includes(false)) {
          flag = false;
        }
        if (flag) {
          row["color_" + nameId] = derail ? ruleConditionList[j].color : "";
          row["icon_" + nameId] = derail ? ruleConditionList[j].icon : "";
          break;
        }
      }
      return row;
    },
    // 阈值样式设置
    handleChangeThresholdStyle() {
      const indicatorArr = this.propertyData ? this.propertyData.indicator : []
      this.tableData = this.tableData.map((dataValItem) => {
        let returnObj = {};
        if (dataValItem.indicatorId) {
          //纯指标场景下
          let record = indicatorArr.find(
            (currItem) => currItem.id === dataValItem.indicatorId
          );
          if (record?.indicatorThresholdData) {
            returnObj = this.getThresholdJudgment(
              record.indicatorThresholdData.ruleList,
              dataValItem.origin,
              "",
              record.indicatorThresholdData.isOpen
            );
          }
          // console.log("returnObj", returnObj);
        } else {
          for (let indicatorId in dataValItem.id) {
            let record = indicatorArr.find(
              (currItem) => currItem.id === indicatorId
            );
            if (record?.indicatorThresholdData) {
              returnObj = _.assign(
                returnObj,
                this.getThresholdJudgment(
                  record.indicatorThresholdData.ruleList,
                  dataValItem["_indicator_" + indicatorId],
                  indicatorId,
                  record.indicatorThresholdData.isOpen
                )
              );
            }
          }
        }
        return {
          ...dataValItem,
          ...returnObj,
        };
      });
    },
    getSameDateByMoment(startDate, endDate, type) {
      let compareStartDate, compareEndDate;
      if (type === "month") {
        compareStartDate = moment(new Date(startDate))
          .subtract(1, "month")
          .format("YYYY-MM-DD");
        compareEndDate = moment(new Date(endDate))
          .subtract(1, "month")
          .format("YYYY-MM-DD");
        if (
          this.globalReportDate[3] === "4" &&
          moment(startDate).format("YYYY-MM") ===
            moment(endDate).format("YYYY-MM")
        ) {
          // 周期类型为月，开始时间和结束时间是同一个月
          if (
            moment(startDate).startOf("month").format("YYYY-MM-DD") ===
              startDate &&
            moment(endDate).endOf("month").format("YYYY-MM-DD") === endDate
          ) {
            // 开始时间是同一个月的第一天，结束时间是同一个月的最后一天
            compareEndDate = moment(compareEndDate)
              .endOf("month")
              .format("YYYY-MM-DD");
          }
        }
      } else {
        compareStartDate = moment(new Date(startDate))
          .subtract(1, "year")
          .format("YYYY-MM-DD");
        compareEndDate = moment(new Date(endDate))
          .subtract(1, "year")
          .format("YYYY-MM-DD");
      }
      return {
        startDate: compareStartDate,
        endDate: compareEndDate,
      };
    },
    /**
     * 表头样式处理
     */
    handleChangeTheadStyle() {
      /*
          titleColor        //背景
          fontWeight        //加粗
          fontFamily        //字体
          fontSize          //字号
          color             //字体颜色
          dimensionStyle    //维度排序
          indicatorStyle    //指标排序
          textDecoration    //下、中划线
          fontStyle         //斜体
          lineBreak         //自动换行
          freezeHeader      //冻结表头
         */
      const head = this.tableRef.$el.getElementsByClassName("ivu-table-header");
      if (this.propertyStyle && this.propertyStyle.header) {
        const {
          titleColor: backgroundColor,
          fontWeight,
          fontFamily,
          fontSize,
          color,
          dimensionStyle,
          indicatorStyle,
          textDecoration,
          fontStyle,
          lineHeight,
          lineBreak,
        } = this.propertyStyle.header;
        const dimensionLen = this.propertyData.dimension.length;
        if (head) {
          let ths = head[0].getElementsByTagName("th");
          for (let i = 0; i < ths.length; i++) {
            if (dimensionLen) {
              if (i < dimensionLen) {
                ths[i].style.textAlign = dimensionStyle;
              } else {
                ths[i].style.textAlign = indicatorStyle;
              }
            } else {
              if (i === 0) {
                ths[i].style.textAlign = dimensionStyle;
              } else {
                ths[i].style.textAlign = indicatorStyle;
              }
            }
            this.setStyle(ths[i], {
              backgroundColor,
              fontWeight,
              fontFamily,
              fontSize: fontSize + "px",
              color,
              fontStyle,
              height: lineHeight + "px",
            });
            // if(ths[i] && ths[i].children && ths[i].children[0] && ths[i].children[0].firstChild){
            //   // ths[i].children[0].firstChild.style.lineHeight = lineHeight  //表头行高
            // }
            // 两种表头结构
            if (
              ths[i] &&
              ths[i].children &&
              ths[i].children[0] &&
              ths[i].children[0].children[0] &&
              ths[i].children[0].children[0].firstChild &&
              ths[i].children[0].children[0].firstChild.style
            ) {
              ths[i].children[0].children[0].firstChild.style.textDecoration =
                textDecoration;
              if (!lineBreak) {
                ths[i].children[0].children[0].firstChild.style.maxWidth =
                  "100%";
                ths[i].children[0].children[0].firstChild.style.overflow =
                  "hidden";
                ths[i].children[0].children[0].firstChild.style.textOverflow =
                  "ellipsis";
                ths[i].children[0].children[0].firstChild.style.whiteSpace =
                  "nowrap";
                ths[i].children[0].children[0].firstChild.style.display =
                  "inline-block";
                ths[i].children[0].children[0].firstChild.style.verticalAlign =
                  "middle";
              } else {
                ths[i].children[0].children[0].firstChild.style.maxWidth = "";
                ths[i].children[0].children[0].firstChild.style.overflow = "";
                ths[i].children[0].children[0].firstChild.style.textOverflow =
                  "";
                ths[i].children[0].children[0].firstChild.style.whiteSpace = "";
                ths[i].children[0].children[0].firstChild.style.display = "";
                ths[i].children[0].children[0].firstChild.style.verticalAlign =
                  "";
              }
            } else if (
              ths[i] &&
              ths[i].children &&
              ths[i].children[0] &&
              !ths[i].children[0].children[0]
            ) {
              ths[i].children[0].firstChild.style.textDecoration =
                textDecoration;
              if (!lineBreak) {
                ths[i].children[0].firstChild.style.overflow = "hidden";
                ths[i].children[0].firstChild.style.textOverflow = "ellipsis";
                ths[i].children[0].firstChild.style.whiteSpace = "nowrap";
              } else {
                ths[i].children[0].firstChild.style.overflow = "";
                ths[i].children[0].firstChild.style.textOverflow = "";
                ths[i].children[0].firstChild.style.whiteSpace = "";
              }
            }
          }
        }
      }
    },
    /**
     * 表体样式处理
     */
    handleChangeTbodyStyle() {
      /*
         even              //偶行背景色
         odd               //奇行背景色
         fontWeight        //加粗
         fontFamily        //字体
         fontSize          //字号
         color             //字体颜色
         dimensionStyle    //维度排序
         indicatorStyle    //指标排序
         textDecoration    //下、中划线
         fontStyle         //斜体
         lineColor         //网格线颜色
        */
      const body = this.tableRef.$el.getElementsByClassName("ivu-table-body");
      if (this.propertyStyle && this.propertyStyle.content && body) {
        const {
          even,
          odd,
          fontWeight,
          fontFamily,
          fontSize,
          color,
          dimensionStyle,
          indicatorStyle,
          textDecoration,
          fontStyle,
          lineHeight,
          lineColor,
          wordWrap,
        } = this.propertyStyle.content;
        const dimensionLen = this.propertyData.dimension.length;
        if (body) {
          let trs = body[0].getElementsByTagName("tr");
          for (let i = 0; i < trs.length; i++) {
            let tr = trs[i],
              tds = tr.getElementsByTagName("td");
            for (let j = 0; j < tds.length; j++) {
              let td = tds[j];
              if (dimensionLen) {
                if (j < dimensionLen) {
                  td.style.textAlign = dimensionStyle;
                } else {
                  td.style.textAlign = indicatorStyle;
                }
              } else {
                if (j === 0) {
                  td.style.textAlign = dimensionStyle;
                } else {
                  td.style.textAlign = indicatorStyle;
                }
              }
            }
            this.setStyle(tr, {
              fontWeight,
              fontFamily,
              fontSize: fontSize + "px",
              color,
              fontStyle,
            });

            for (let j = 0; j < trs[i].children.length; j++) {
              let item = trs[i].children[j];
              if (
                fontStyle === "italic" &&
                indicatorStyle === "right" &&
                item.getElementsByClassName("ivu-table-cell-tooltip-content")[0]
              ) {
                item.getElementsByClassName(
                  "ivu-table-cell-tooltip-content"
                )[0].style.paddingRight = "5px";
              }
              item.style.textDecoration = textDecoration;
              item.style.borderColor = lineColor;
              item.style.height = lineHeight + "px";
              // let spanStr = item.getElementsByClassName('ivu-table-cell-tooltip-content');
              // spanStr[0].style.lineHeight = lineHeight;
              if (i % 2 === 0) {
                item.style.backgroundColor = even;
              } else {
                item.style.backgroundColor = odd;
              }
            }
          }
        }

        // 设置网格线颜色
        let trs = this.tableRef.$el.getElementsByTagName("tr");
        for (let i = 0; i < trs.length; i++) {
          for (let j = 0; j < trs[i].children.length; j++) {
            let item = trs[i].children[j];
            item.style.borderColor = lineColor;
          }
        }
      }
      if (this.propertyStyle && this.propertyStyle.widthConfig === "最佳比例") {
        this.handleChangeWidthStyle();
      }
    },
    /**
     * 合计样式
     */
    handleChangeTotalStyle() {
      /*
         titleColor        //背景
         fontWeight        //加粗
         fontFamily        //字体
         fontSize          //字号
         color             //字体颜色
         dimensionStyle    //维度排序
         indicatorStyle    //指标排序
         textDecoration    //下、中划线
         fontStyle         //斜体
         lineHeight        //行高
        */
      const total =
        this.tableRef.$el.getElementsByClassName("ivu-table-summary");
      if (this.propertyStyle.total) {
        const {
          titleColor: backgroundColor,
          fontWeight,
          fontFamily,
          fontSize,
          color,
          dimensionStyle,
          indicatorStyle,
          textDecoration,
          fontStyle,
          lineHeight,
        } = this.propertyStyle.total;
        const dimensionLen = this.propertyData.dimension.length;
        if (total.length) {
          let trs = total[0].getElementsByTagName("tr");
          for (let i = 0; i < trs.length; i++) {
            let tr = trs[i],
              tds = tr.getElementsByTagName("td");
            for (let j = 0; j < tds.length; j++) {
              let td = tds[j];
              if (dimensionLen) {
                if (j < dimensionLen) {
                  td.style.textAlign = dimensionStyle;
                } else {
                  td.style.textAlign = indicatorStyle;
                }
              } else {
                if (j === 0) {
                  td.style.textAlign = dimensionStyle;
                } else {
                  td.style.textAlign = indicatorStyle;
                }
              }
            }
            this.setStyle(tr, {
              fontWeight,
              fontFamily,
              fontSize: fontSize + "px",
              color,
              fontStyle,
            });
            for (let j = 0; j < trs[i].children.length; j++) {
              let item = trs[i].children[j];
              item.style.textDecoration = textDecoration;
              item.style.backgroundColor = backgroundColor;
              item.style.height = lineHeight + "px";
            }
          }
        }
      }
    },
    handleChangeWidthStyle() {
      const body = this.tableRef.$el.getElementsByClassName("ivu-table-body");
      if (this.propertyStyle && this.propertyStyle.content && body) {
        let { dimensionStyle, indicatorStyle } = this.propertyStyle.content;
        const dimensionLen = this.propertyData.dimension.length;
        if (body) {
          let trs = body[0].getElementsByTagName("tr");
          for (let i = 0; i < trs.length; i++) {
            let tr = trs[i],
              tds = tr.getElementsByTagName("td");
            for (let j = 0; j < tds.length; j++) {
              let td = tds[j];
              let tdJust = td.children[0].getElementsByClassName(
                "ivu-table-cell-tooltip"
              );
              if (tdJust[0]) {
                if (dimensionLen) {
                  if (j < dimensionLen) {
                    if (dimensionStyle === "left") {
                      tdJust[0].style.marginLeft = 0;
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = 0;
                    } else if (dimensionStyle === "right") {
                      tdJust[0].style.marginLeft = "auto";
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = 0;
                    } else if (dimensionStyle === "center") {
                      tdJust[0].style.marginLeft = "auto";
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = "auto";
                    }
                  } else {
                    if (indicatorStyle === "left") {
                      tdJust[0].style.marginLeft = 0;
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = 0;
                    } else if (indicatorStyle === "right") {
                      tdJust[0].style.marginLeft = "auto";
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = 0;
                    } else if (indicatorStyle === "center") {
                      tdJust[0].style.marginLeft = "auto";
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = "auto";
                    }
                  }
                } else {
                  if (j === 0) {
                    if (dimensionStyle === "left") {
                      tdJust[0].style.marginLeft = 0;
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = 0;
                    } else if (dimensionStyle === "right") {
                      tdJust[0].style.marginLeft = "auto";
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = 0;
                    } else if (dimensionStyle === "center") {
                      tdJust[0].style.marginLeft = "auto";
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = "auto";
                    }
                  } else {
                    if (indicatorStyle === "left") {
                      tdJust[0].style.marginLeft = 0;
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = 0;
                    } else if (indicatorStyle === "right") {
                      tdJust[0].style.marginLeft = "auto";
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = 0;
                    } else if (indicatorStyle === "center") {
                      tdJust[0].style.marginLeft = "auto";
                      tdJust[0].style.marginTop = 0;
                      tdJust[0].style.marginBottom = 0;
                      tdJust[0].style.marginRight = "auto";
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    /**
     * 绘图区样式
     */
    handleChangeDrawAreaStyle() {
      /*
         borderColor           //边框线颜色
         borderLineType        //边框线类型
         borderWidth           //边框线宽度
         borderRadius          //边框线圆角
        */
      const drawArea =
        this.$refs["drillDownTable"].getElementsByClassName("table-all");
      if (this.propertyStyle) {
        const { borderColor, borderLineType, borderRadius, borderWidth } =
          this.propertyStyle;
        if (drawArea && drawArea[0] !== undefined && drawArea[0] !== null) {
          drawArea[0].style.borderColor = borderColor;
          drawArea[0].style.borderStyle = borderLineType;
          drawArea[0].style.borderWidth = borderWidth + "px";
          drawArea[0].style.borderRadius = borderRadius + "px";
        }
      }
    },
    /**
     * 批处理样式
     * @param dom
     * @param css
     */
    setStyle(dom, css) {
      for (let key in css) {
        dom.style[key] = css[key];
      }
    },
    /**
     * 构建表格数据
     * @param data
     */
    buildTableData(data) {
      const sortable = !this.usePage,
        { dimension, indicator } = this.propertyData;
      //表头与数据
      let title, tableData;
      if (dimension.length > 0) {
        // 【维度+指标】
        let indicatorValueConfig = this.getDimensionIndicatorValueConfig();
        title = this.buildTableHeadForDimensionIndicator(
          dimension,
          sortable,
          indicator,
          indicatorValueConfig
        );
        tableData = this.buildTableDataForDimensionIndicator(
          data,
          dimension,
          indicator,
          indicatorValueConfig
        );
      } else {
        // 【纯指标】
        let indicatorValueConfig = this.getPureIndicatorValueConfig(indicator);
        let sameIndicatorGroup = this.getSameIndicatorGroup(indicator);
        title = this.buildTableHeadForPureIndicator(
          sortable,
          indicator,
          sameIndicatorGroup,
          indicatorValueConfig
        );
        tableData = this.buildTableDataForPureIndicator(
          data,
          indicator,
          sameIndicatorGroup,
          indicatorValueConfig
        );
      }
      this.tableColumns = this.buildTableWidthAndResizable(
        title,
        this.propertyStyle?.widthConfig
      );
      tableData.forEach((item) => {
        item.cellClassName = {};
      });
      if (this.configData.linkOption?.chartClickItemIndex === -1) {
        this.highLightRow = null;
        this.highLightColumn = null;
      } else if (this.highLightRow !== null) {
        let obj = {};
        obj[this.highLightColumn] = "linkCell";
        this.$set(tableData[this.highLightRow], "cellClassName", obj);
      }
      // 如果显示分页
      if (
        this.propertyStyle &&
        this.propertyStyle.page &&
        this.propertyStyle.page.show
      ) {
        this.totalPage = tableData.length;
        this.PageAll = Math.ceil(
          this.totalPage / this.propertyStyle.page.pageSize
        );
        this.tableData = tableData.slice(
          this.propertyStyle.page.pageSize * (this.currentPage - 1),
          this.propertyStyle.page.pageSize * this.currentPage
        );
      } else {
        this.tableData = tableData;
      }
      this.errorCode = this.tableData.length ? null : "000000";
      setTimeout(() => {
        this.tableRef = this.$refs["tableContent"];
        this.handleChangeTheadStyle();
        this.handleChangeTbodyStyle();
        this.handleChangeDrawAreaStyle();
        this.handleChangeWidthStyle();
        this.handleChangeThresholdStyle();
        if (this.propertyData.configData.isOpenTotal) {
          this.handleChangeTotalStyle();
        }
      }, 0);
    },
    /**
     * 构建纯指标表头
     * @param sortable
     * @param indicators
     * @param
     */
    buildTableHeadForPureIndicator(
      sortable,
      indicators,
      sameIndicatorGroup,
      indicatorValueConfig
    ) {
      const { openCompare, openSameCompare, openThreshold, numberType } =
        indicatorValueConfig;
      let realNumberType = numberType && numberType.justInd["compare"] === "%";
      let title = [{ title: "指标", key: "name", sortable, tooltip: true }];
      if (sameIndicatorGroup) {
        sameIndicatorGroup.groupName.forEach((item) => {
          title.push({
            title: item.name || "指标组",
            key: `scale_${item.groupId}`,
            sortable,
            sortMethod: this.customSortMethod,
            tooltip: true,
          });
          this.buildTableDataCompareHeadForPureIndicator(
            title,
            openCompare,
            openSameCompare,
            sortable,
            indicators,
            realNumberType,
            item.groupId
          );
        });
      } else {
        title.push({
          title: "规模",
          key: "scale",
          sortable,
          sortMethod: this.customSortMethod,
          tooltip: true,
          render: (h, { row }) => {
            return h("div", [
              h("span", {
                class: ["iconfont", row["icon_"]],
                style: {
                  color: row["color_"],
                },
              }),
              h(
                "span",
                {
                  style: {
                    color: row["color_"],
                  },
                },
                row.scale
              ),
            ]);
          },
        });
        this.buildTableDataCompareHeadForPureIndicator(
          title,
          openCompare,
          openSameCompare,
          sortable,
          indicators,
          realNumberType
        );
      }
      // 处理阈值
      if (openThreshold) {
        let maxLengthThreshold = this.findMaxLengthThreshold(indicators);
        if (maxLengthThreshold !== undefined) {
          maxLengthThreshold.forEach((item, i) =>
            title.push({
              title: item.name,
              key: "threshold" + i,
              sortable,
              tooltip: true,
            })
          );
        }
      }
      return title;
    },
    /**
     *
     * 构建【纯指标】表头指标对比列
     *
     */
    buildTableDataCompareHeadForPureIndicator(
      title,
      openCompare,
      openSameCompare,
      sortable,
      indicators,
      numberType,
      groupId
    ) {
      const compareIconStyle = this.calculationStyle; //环比同比图标样式
      if (openCompare) {
        this.buildPureIndicatorHeadColumn(
          title,
          "compare",
          compareIconStyle,
          sortable,
          numberType,
          groupId
        );
      }
      if (openSameCompare && openSameCompare.open) {
        this.buildPureIndicatorHeadColumn(
          title,
          "sameCompare",
          compareIconStyle,
          sortable,
          numberType,
          groupId
        );
      }
    },
    /**
     *
     *
     */
    getSameIndicatorGroup(indicators) {
      let keyData = {};
      indicators.forEach((item) => {
        let name = (item.abbrName || item.name || item.title).trim();
        let sameNameIndicator = keyData[name];
        if (sameNameIndicator) {
          sameNameIndicator.count++;
          sameNameIndicator.children.push(item);
          sameNameIndicator.name = name;
          sameNameIndicator.groupName.push({
            groupId: item.groupId,
            name: item.parentName || "",
            showType: item.showType,
          });
        } else {
          keyData[name] = {
            count: 1,
            name: name,
            children: [item],
            groupName: [
              {
                groupId: item.groupId,
                name: item.parentName || "",
                showType: item.showType,
              },
            ],
          };
        }
      });

      let group = {
        count: -1,
      };

      for (let key in keyData) {
        // 不存在同名指标
        if (keyData[key].count === 1) {
          return false;
        }

        if (group.count === -1) {
          group = keyData[key];
          continue;
        }

        if (keyData[key].count !== group.count) {
          return false;
        } else {
          let groupName = keyData[key].groupName;
          let currentGroupName = group.groupName;
          for (let i = 0; i < groupName.length; i++) {
            let index = currentGroupName.findIndex(
              (groupItem) => groupItem.name === groupName[i].name
            );
            if (index === -1) {
              return false;
            }
          }
        }
      }
      return { keyData, groupName: group.groupName };
    },

    buildTableDataForPureIndicator(
      data,
      indicator,
      sameIndicatorGroup,
      indicatorValueConfig
    ) {
      let tableData = [];
      const {
        currentData: current,
        yoyData: lastPeriod,
        momData: before,
        headers,
      } = data;
      if (sameIndicatorGroup) {
        let { keyData, groupName } = sameIndicatorGroup;
        // 循环指标数量（行）
        for (let key in keyData) {
          // 循环分组数量（列）
          let tableItem = { name: key };
          groupName.forEach((group, keyIndex) => {
            this.buildTableDataColumnForPureIndicator(
              tableData,
              keyData[key].children[keyIndex],
              headers,
              current[0],
              before && before[0],
              lastPeriod && lastPeriod[0],
              indicatorValueConfig,
              group.groupId,
              tableItem
            );
          });
          tableData.push(tableItem);
        }
      } else {
        // 不存在同名指标时，直接全部加入到数据中
        for (let k = 0; k < indicator.length; k++) {
          this.buildTableDataColumnForPureIndicator(
            tableData,
            indicator[k],
            headers,
            current[0],
            before && before[0],
            lastPeriod && lastPeriod[0],
            indicatorValueConfig
          );
        }
      }
      return tableData;
    },
    /**
     * 纯指标场景下，每个指标数据
     */
    buildTableDataColumnForPureIndicator(
      tableData,
      indicatorItem,
      headers,
      currentRowData,
      compareRowData,
      sameCompareRowData,
      indicatorValueConfig,
      groupId,
      tableItem
    ) {
      const currentIndicator = indicatorItem,
        currentIndicatorId = currentIndicator.id,
        currentDataIndex = headers.findIndex(
          (item) => item == currentIndicator.id
        ),
        showType = currentIndicator.showType;
      const {
        decimalDigits,
        numberUnit,
        numberType,
        thousandth,
        openSameCompare,
        openCompare,
        openThreshold,
      } = indicatorValueConfig;
      if (tableItem === undefined) {
        tableItem = {
          name:
            indicatorItem.abbrName || indicatorItem.name || indicatorItem.title,
          indicatorId: currentIndicatorId,
        };
      }
      /* -------- 数值配置 --------- */
      let currentDecimalDigits = 2;
      if (decimalDigits && !isNaN(decimalDigits[currentIndicatorId])) {
        currentDecimalDigits = decimalDigits[currentIndicatorId];
      }
      //数值单位
      let currentNumberUnit = "normal";
      if (numberUnit && numberUnit[currentIndicatorId]) {
        currentNumberUnit = numberUnit[currentIndicatorId];
      }
      //千分位分隔符
      let openThousands = false;
      if (thousandth && thousandth[currentIndicatorId]) {
        openThousands = thousandth[currentIndicatorId];
      }
      /* -------- 当前 --------- */
      let currentData = this.buildIndicatorColumnData(
        groupId ? `scale_${groupId}` : "scale",
        tableItem,
        currentRowData,
        {
          decimalDigits: currentDecimalDigits,
          numberUnit: currentNumberUnit,
          thousandth: openThousands,
          showType,
        },
        currentDataIndex
      );
      tableItem["origin"] = currentData;

      /* -------- 环比 -------- */
      if (openCompare) {
        this.buildIndicatorColumnData(
          groupId ? `compare_${groupId}` : "compare",
          tableItem,
          compareRowData,
          {
            decimalDigits: currentDecimalDigits,
            numberUnit: currentNumberUnit,
            thousandth: openThousands,
            showType:
              (numberType && numberType.justInd["compare"] === "%") ||
              showType === 1,
            isPercentType: currentIndicator.showType,
            compareShowType:
              numberType && numberType.justInd["compare"] === "%" ? 1 : 0,
          },
          currentDataIndex,
          currentData
        );
      }
      /* -------- 同比 --------- */
      if (openSameCompare && openSameCompare.open) {
        this.buildIndicatorColumnData(
          groupId ? `sameCompare_${groupId}` : "sameCompare",
          tableItem,
          sameCompareRowData,
          {
            decimalDigits: currentDecimalDigits,
            numberUnit: currentNumberUnit,
            thousandth: openThousands,
            showType:
              (numberType && numberType.justInd["sameCompare"] === "%") ||
              showType === 1,
            isPercentType: currentIndicator.showType,
            sameCompareShowType:
              numberType && numberType.justInd["sameCompare"] === "%" ? 1 : 0,
          },
          currentDataIndex,
          currentData
        );
      }
      /* -------- 阈值 --------- */
      if (openThreshold) {
        let allThreshold = currentIndicator.thresholds;
        allThreshold?.forEach((it, idx) => {
          // let data = showType === 1 ? it.value + '%' : it.value
          let data = it.value;
          if (it.adverseDirection === 1) {
            THRESHOLD_SECTION_UP.forEach((im) =>
              im.value === it.valueType ? (data = im.label + data) : null
            );
          }
          if (it.adverseDirection === 0) {
            THRESHOLD_SECTION_DOWN.forEach((im) =>
              im.value === it.valueType ? (data = im.label + data) : null
            );
          }
          tableItem["threshold" + idx] = data;
        });
      }
      // 拼接数值单位
      const { showNumberUnit } = indicatorValueConfig;
      if (showNumberUnit) {
        const showNumberUnitOpen = showNumberUnit[currentIndicatorId]; // 是否显示单位
        if (currentNumberUnit !== "auto" && showNumberUnitOpen) {
          const scaleKey = groupId ? `scale_${groupId}` : "scale";
          tableItem[scaleKey] += currentNumberUnit;
        }
      }
      if (!groupId) {
        tableData.push(tableItem);
      }
    },
    /**
     * 构建维度表头
     * @param dimension
     * @param sortable
     * @param indicators
     * @returns {*[]}
     */
    buildTableHeadForDimensionIndicator(
      dimension,
      sortable,
      indicators,
      indicatorValueConfig
    ) {
      const dimensions = this.getAllDimensions(); //所有维度的详细数据
      let headPureIndicators = [],
        headDimension = [];
      //维度
      for (let i = 0; i < dimension.length; i++) {
        const dimensionId = dimension[i],
          currentDimensionInfo = dimensions.find(
            (item) => item.id == dimensionId
          );
        let obj = {
          title: currentDimensionInfo?.name,
          align: "center",
          sortable,
          key: `dimension_${dimensionId}`,
          tooltip: true,
        };
        headDimension.push(obj);
      }
      // 存储分组头信息
      let headGroups = [];
      // 存储指标对应分组的下标，方便后面查询
      let indicatorGroupIndexMap = {};
      let theadMerge = this.propertyData.configData.theadMerge;
      if (theadMerge) {
        let countIndex = 0;
        if (theadMerge.length > 1) {
          for (let i = 1; i < theadMerge.length; i++) {
            const item = theadMerge[i];
            if (item.groupList.length > 0) {
              // 该分组下指标不存在的数量，如果全部不存在，那么分组不展示
              let unExistCount = 0;
              for (let m = 0; m < item.groupList.length; m++) {
                if (
                  indicators.findIndex(
                    (ii) => ii.id === item.groupList[m].id
                  ) !== -1
                ) {
                  indicatorGroupIndexMap[item.groupList[m].id] = countIndex;
                } else {
                  unExistCount++;
                }
              }
              if (unExistCount < item.groupList.length) {
                let obj = {
                  title: item.groupName,
                  align: "center",
                  children: [],
                };
                headGroups.push(obj);
                countIndex++;
              }
            }
          }
        }
      }

      let {
        showNumberUnit,
        decimalDigits,
        numberUnit,
        numberType,
        thousandth,
        openSameCompare,
        calculateTitleOption,
      } = indicatorValueConfig; //当前数据的设置
      //指标
      for (let i = 0; i < indicators.length; i++) {
        const currentIndicator = indicators[i],
          indicatorId = currentIndicator.id;
        let currentDecimalDigits = decimalDigits && decimalDigits[indicatorId];
        if (!decimalDigits) {
          currentDecimalDigits = 2;
        } else if (
          decimalDigits[indicatorId] === undefined ||
          decimalDigits[indicatorId] === null
        ) {
          currentDecimalDigits = 2;
        }
        let currentNumberUnit =
          (numberUnit && numberUnit[indicatorId]) || "normal";
        let currentNumberType =
          (numberType && numberType[indicatorId]) || "123";
        let currentShowNumberUnit =
          (showNumberUnit && showNumberUnit[indicatorId]) || false;
        let currentThousandth =
          (thousandth && thousandth[indicatorId]) || false;
        let separator = this.GLOBAL.separator;
        if (currentIndicator) {
          let configData = this.propertyData.configData;
          let alias =
            (configData.indicatorAlias &&
              configData.indicatorAlias[indicatorId]) ||
            currentIndicator.abbrName ||
            currentIndicator.title;
          const headerTitle = currentIndicator.parentName
            ? alias + separator + currentIndicator.parentName
            : alias;
          let obj = {
            title: "",
            renderHeader: function (h) {
              return h("span", [
                h("span", { domProps: { title: headerTitle } }, alias),
                h(
                  "span",
                  {
                    style: {
                      color: "rgba(0,0,0,0.45)",
                    },
                  },
                  currentShowNumberUnit &&
                    currentNumberUnit.trim() !== "auto" &&
                    currentNumberUnit.trim() !== "normal"
                    ? `(${currentNumberUnit.trim()})`
                    : ""
                ),
              ]);
            },
            align: "center",
            sortable,
            sortMethod: this.customSortMethod,
            key: `indicator_${indicatorId}`,
            tooltip: true,
            showType: currentIndicator.showType,
            decimalDigits: currentDecimalDigits,
            numberUnit: currentNumberUnit,
            numberType: currentIndicator.showType === 1,
            thousandth: currentThousandth,
          };

          // 存在阈值配置
          if(currentIndicator?.indicatorThresholdData?.isOpen) {
            obj.render = (h, { row }) => {
              return h("span", [
                h("span", {
                  class: ["iconfont", row["icon_" + indicatorId]],
                  style: {
                    color: row["color_" + indicatorId],
                  },
                }),
                h(
                  "span",
                  {
                    style: {
                      color: row["color_" + indicatorId],
                      verticalAlign: "text-top",
                    },
                  },
                  row["indicator_" + indicatorId]
                ),
              ]);
            }
          }

          const compare = currentIndicator.useCompare,
            proportion = currentIndicator.useProportion,
            sameCompare =
              (openSameCompare &&
                openSameCompare[indicatorId] &&
                openSameCompare[indicatorId].open) ||
              false;
          if (compare || proportion || sameCompare) {
            let children = [];
            delete obj.sortable;
            children.push({
              title: "当前",
              align: "center",
              sortable,
              sortMethod: this.customSortMethod,
              key: obj.key,
              tooltip: true,
              showType: currentIndicator.showType,
              decimalDigits: currentDecimalDigits,
              numberUnit: currentNumberUnit,
              numberType: currentIndicator.showType === 1,
              thousandth: currentThousandth,
            });
            let config = {
              showType: currentIndicator.showType,
              decimalDigits: currentDecimalDigits,
              numberUnit: currentNumberUnit,
              thousandth: currentThousandth,
              calculateTitleOption,
            };

            if (compare) {
              config.numberType =
                currentNumberType && currentNumberType.compare === "%";
              this.buildDimensionIndicatorHeadColumn(
                children,
                sortable,
                indicatorId,
                "compare",
                config
              );
            }
            if (sameCompare) {
              config.numberType =
                currentNumberType && currentNumberType.sameCompare === "%";
              this.buildDimensionIndicatorHeadColumn(
                children,
                sortable,
                indicatorId,
                "sameCompare",
                config
              );
            }
            if (proportion) {
              children.push({
                title: "占比",
                align: "center",
                sortable,
                key: `proportion_${indicatorId}`,
                tooltip: true,
              });
            }
            obj.children = children;
          }
          let groupIndex = indicatorGroupIndexMap[indicatorId];
          if (groupIndex !== undefined) {
            headGroups[groupIndex].children.push(obj);
          } else {
            headPureIndicators.push(obj);
          }
        }
      }
      if (headGroups.length) {
        // 需要按左侧已选指标的顺序显示
        const sortIndicators = this.sortTableHeadIndicatorsWithGroup(
          headGroups,
          headPureIndicators,
          indicators
        );
        return [...headDimension, ...sortIndicators];
      } else {
        return [...headDimension, ...headPureIndicators];
      }
    },
    /**
     * 根据已选指标顺序对表头排序（存在分组）
     * **/
    sortTableHeadIndicatorsWithGroup(
      headGroups,
      headPureIndicators,
      indicators
    ) {
      let sortIndicators = [];
      const currentSelectIndicators = indicators; // this.currentSelectChartData.indicator
      currentSelectIndicators.forEach((item) => {
        const indicatorId = item.id;
        headGroups.forEach((group) => {
          const children = group.children;
          const target = _.find(children, (child) =>
            child.key.includes(indicatorId)
          );
          if (target) {
            if (
              !sortIndicators.length ||
              !sortIndicators
                .filter((obj) => obj.title)
                .find((ind) => ind.title === group.title)
            ) {
              // 同一个分组的需跳过
              sortIndicators.push(group);
            }
          }
        });
        const targetPureIndicator = _.find(headPureIndicators, (item) =>
          item.key.includes(indicatorId)
        );
        if (targetPureIndicator) {
          sortIndicators.push(targetPureIndicator);
        }
      });
      return sortIndicators;
    },
    /**
     * 表格指标排序
     * */
    customSortMethod(a, b, type) {
      // 百分比指标
      if (a.endsWith("%")) {
        a = a.replace("%", "");
        b = b.replace("%", "");
      }
      // 千分位处理
      a = a.replaceAll(",", "");
      b = b.replaceAll(",", "");
      if (type === "asc") {
        return Number(a) < Number(b) ? -1 : 1;
      } else {
        return Number(a) > Number(b) ? -1 : 1;
      }
    },
    /**
     * 构建【纯指标】场景下对的表头的column
     */
    buildPureIndicatorHeadColumn(
      headColumns,
      key,
      compareIconStyle,
      sortable,
      numberType,
      groupId
    ) {
      let compareType = groupId ? `${key}_${groupId}` : key;

      let title;
      if (key === "compare") {
        title = numberType ? "较上日变动幅度" : "环比";
      } else {
        title = numberType ? "较同期变动幅度" : "同比";
      }
      // 表头重命名
      const { calculateTitleOption } = this.currentSelectConfigData;
      if (calculateTitleOption && calculateTitleOption.hasOwnProperty(key)) {
        title = calculateTitleOption[key].title;
      }

      headColumns.push({
        title: title,
        key: compareType,
        sortable,
        sortMethod: this.customSortMethod,
        tooltip: true,
        render: function (h, { row }) {
          let type, color;
          // 环比或者同比值为'--'或0时就显示当前值
          let rowValue = row[compareType];
          // 区分是数值类型还是比例类型
          if (rowValue && rowValue.endsWith("%")) {
            // 百分比数据
            rowValue = rowValue.split("%")[0];
          }
          if (isNaN(Number(rowValue)) || Number(rowValue) === 0) {
            return h("span", row[compareType]);
          }
          if (Number(rowValue) > 0) {
            type = "md-arrow-round-up";
            if (compareIconStyle && compareIconStyle.upColor) {
              color = compareIconStyle.upColor;
            } else {
              color = "#9aba60";
            }
          } else {
            type = "md-arrow-round-down";
            if (compareIconStyle && compareIconStyle.downColor) {
              color = compareIconStyle.downColor;
            } else {
              color = "#e2534d";
            }
          }
          // 环比/同比趋势图标
          const upAndDown = h("Icon", {
            props: {
              type,
              color,
            },
          });
          // 环比/同比正负值数字颜色设置
          const iconColor = compareIconStyle && compareIconStyle[key + "Icon"];
          const dataColor = h(
            "span",
            {
              style: {
                color: iconColor ? color + " !important" : "",
              },
            },
            row[compareType]
          );
          // return h('span', [row[compareType], compareIconStyle && compareIconStyle[key + 'Icon'] ? upAndDown : ''])
          return h("span", [dataColor, iconColor ? upAndDown : ""]);
        },
      });
    },
    /**
     * 构建 【维度+指标】场景下的表头的column
     */
    buildDimensionIndicatorHeadColumn(
      headColumns,
      sortable,
      indicatorId,
      key,
      indicatorValueConfig
    ) {
      let compareIconStyle = this.calculationStyle;
      let { showType, numberType, calculateTitleOption } = indicatorValueConfig;
      let v = showType === 1 || numberType;
      let title =
        key === "compare" ? (v ? "环比幅度" : "环比") : v ? "同比幅度" : "同比";
      if (calculateTitleOption[indicatorId] === undefined) {
        calculateTitleOption[indicatorId] = { [key]: { title } };
      } else if (calculateTitleOption[indicatorId][key] === undefined) {
        calculateTitleOption[indicatorId][key] = { title };
      } else if (calculateTitleOption[indicatorId][key].title === undefined) {
        calculateTitleOption[indicatorId][key].title = title;
      } else {
        title = calculateTitleOption[indicatorId][key].title;
      }
      let realKey = `${key}_${indicatorId}`;
      headColumns.push({
        title,
        align: "center",
        sortable,
        sortMethod: this.customSortMethod,
        key: realKey,
        tooltip: true,
        ...indicatorValueConfig,
        render: function (h, { row }) {
          let type, color;
          let currentRealValue = row["_indicator_" + indicatorId];
          let compareRealValue = row["_" + key + "_" + indicatorId];
          if (currentRealValue === null || compareRealValue === null) {
            return h("span", row[realKey]);
          }
          let realNum = new BigNumber(currentRealValue).minus(
            new BigNumber(compareRealValue)
          );
          if (realNum.comparedTo(0) === 0) {
            return h("span", row[realKey]);
          }
          if (realNum.comparedTo(0) > 0) {
            type = "md-arrow-round-up";
            if (
              compareIconStyle[indicatorId] &&
              compareIconStyle[indicatorId].upColor
            ) {
              color = compareIconStyle[indicatorId].upColor;
            } else {
              color = "#9aba60";
            }
          } else {
            type = "md-arrow-round-down";
            if (
              compareIconStyle[indicatorId] &&
              compareIconStyle[indicatorId].downColor
            ) {
              color = compareIconStyle[indicatorId].downColor;
            } else {
              color = "#e2534d";
            }
          }
          let upAndDown = h("Icon", {
            props: {
              type,
              color,
            },
          });

          let iconColor =
            compareIconStyle[indicatorId] &&
            compareIconStyle[indicatorId][key + "Icon"];
          let dataColor = h(
            "span",
            {
              style: {
                color: iconColor ? color + " !important" : "",
              },
            },
            row[realKey]
          );
          return h("span", [
            dataColor,
            iconColor && realNum.comparedTo(0) !== 0 ? upAndDown : "",
          ]);
        },
      });
    },
    /**
     * 构建维度数据
     * @param data
     * @param selectDimensionLen
     * @param indicator
     * @param {needCompare, needProportion, needSameCompare}
     * @returns {*[]}
     */
    buildTableDataForDimensionIndicator(
      data,
      dimension,
      indicator,
      indicatorValueConfig
    ) {
      // console.log(data, dimension, indicator, indicatorValueConfig, 'buildTableDataForDimensionIndicator')
      const {
        currentData: current,
        yoyData: lastPeriod,
        momData: before,
        headers,
      } = data;
      const {
        decimalDigits,
        numberUnit,
        numberType,
        thousandth,
        openSameCompare,
      } = indicatorValueConfig; // 当前数据的设置
      // 维度id/index数据
      let dimensionIndexArr = [];
      dimension.forEach((item) => {
        let index = headers.findIndex((i) => i == item);
        let dimensionIndex = { id: item, index };
        dimensionIndexArr.push(dimensionIndex);
      });

      // 指标id/config数据
      // 列合计，计算占比使用
      let columnTotalData = {};
      let indicatorIndexArr = {};
      indicator.forEach((item) => {
        let indicatorId = item.id;
        let index = headers.findIndex((i) => i == item.id);

        //小数位数
        let currentDecimalDigits = 2;
        if (decimalDigits && !isNaN(decimalDigits[indicatorId])) {
          currentDecimalDigits = decimalDigits[indicatorId];
        }
        //数值单位
        let currentNumberUnit = "normal";
        if (numberUnit && numberUnit[indicatorId]) {
          currentNumberUnit = numberUnit[indicatorId];
        }
        //千分位分隔符
        let currentThousandth = false;
        if (thousandth && thousandth[indicatorId]) {
          currentThousandth = true;
        }
        // 开启同比
        let currentSameCompare = false;
        if (
          openSameCompare &&
          openSameCompare[indicatorId] &&
          openSameCompare[indicatorId].open
        ) {
          currentSameCompare = true;
        }

        let currentNumberType = "123";
        if (numberType && numberType[indicatorId]) {
          currentNumberType = numberType[indicatorId];
        }

        let currentColumnDataTotal = this.getColumnDataTotal(current, index);
        columnTotalData[indicatorId] = currentColumnDataTotal;

        indicatorIndexArr[item.id] = {
          showType: item.showType,
          dataIndex: index,
          decimalDigits: currentDecimalDigits,
          numberUnit: currentNumberUnit,
          thousandth: currentThousandth,
          numberType: currentNumberType,
          compare: item.useCompare,
          sameCompare: currentSameCompare,
          proportion: item.useProportion,
        };
      });

      // 环比数据
      let beforeDimensionMemberData = {};
      before?.forEach((item) => {
        let dimensionMemberArr = [];
        for (let i = 0; i < dimension.length; i++) {
          dimensionMemberArr.push(item[i]);
        }
        beforeDimensionMemberData[dimensionMemberArr.join("_")] = item;
      });
      let compareKeyData = {
        len: before?.length,
        data: beforeDimensionMemberData,
      };

      // 同比数据
      let yoyData = lastPeriod || [];
      let sameDimensionMemberData = {};
      yoyData?.forEach((item) => {
        let dimensionMemberArr = [];
        for (let i = 0; i < dimension.length; i++) {
          dimensionMemberArr.push(item[i]);
        }
        sameDimensionMemberData[dimensionMemberArr.join("_")] = item;
      });
      let sameCompareKeyData = {
        len: yoyData?.length,
        data: sameDimensionMemberData,
      };

      let tableData = [];
      current?.forEach((rowData) => {
        let tableRowData = this.buildDimensionIndicatorRowData(
          dimensionIndexArr,
          indicatorIndexArr,
          rowData,
          columnTotalData,
          compareKeyData,
          sameCompareKeyData
        );
        // console.log("tableRowData", tableRowData);
        tableData.push(tableRowData);
      });
      return tableData;
    },
    /**
     * 构建【维度+指标】行数据
     */
    buildDimensionIndicatorRowData(
      dimensionIndexArr,
      indicatorIndexArr,
      originalRowData,
      columnTotalData,
      compareKeyData,
      sameCompareKeyData
    ) {
      let newRowData = {};
      // 维度
      let dimensionMemberArr = [];
      dimensionIndexArr.forEach((item) => {
        let dimensionMember = originalRowData[item.index];
        newRowData["dimension_" + item.id] = dimensionMember;
        dimensionMemberArr.push(dimensionMember);
      });
      newRowData["id"] = indicatorIndexArr;
      let dimensionMemberJoin = dimensionMemberArr.join("_");
      //指标
      for (let indicatorId in indicatorIndexArr) {
        let {
          dataIndex,
          showType,
          decimalDigits,
          numberUnit,
          numberType,
          thousandth,
          compare,
          sameCompare,
          proportion,
        } = indicatorIndexArr[indicatorId];
        let currentColumnData = this.buildDimensionIndicatorColumnData(
          "indicator_" + indicatorId,
          newRowData,
          originalRowData,
          { decimalDigits, numberUnit, thousandth, showType: showType === 1 },
          dataIndex
        );
        let dataConfig = {
          decimalDigits,
          numberUnit,
          thousandth,
          showType: showType === 1 || numberType.compare === "%",
          isPercentType: showType === 1,
        };
        // 环比数据
        if (compare) {
          dataConfig = _.assign(dataConfig, {
            compareShowType: numberType && numberType.compare === "%" ? 1 : 0,
          });
          this.buildDimensionIndicatorColumnData(
            "compare_" + indicatorId,
            newRowData,
            compareKeyData,
            dataConfig,
            dataIndex,
            dimensionMemberJoin,
            currentColumnData
          );
        }
        // 同比数据
        if (sameCompare) {
          dataConfig = _.assign(dataConfig, {
            sameCompareShowType:
              numberType && numberType.sameCompare === "%" ? 1 : 0,
          });
          this.buildDimensionIndicatorColumnData(
            "sameCompare_" + indicatorId,
            newRowData,
            sameCompareKeyData,
            dataConfig,
            dataIndex,
            dimensionMemberJoin,
            currentColumnData
          );
        }
        // 占比数据
        if (proportion) {
          let proportionData = null;
          let currentIndicatorColumnTotal = columnTotalData[indicatorId];
          if (
            currentColumnData === null ||
            currentIndicatorColumnTotal === null
          ) {
            proportionData = NULL_DATA_NUMBER_SHOW;
          } else {
            // 如果该列合计为0，那么占比为配置值
            if (currentIndicatorColumnTotal.comparedTo(0) === 0) {
              proportionData = PROPORTION_DENOMINATOR_ZERO_SHOW;
            } else {
              if (!(currentColumnData instanceof BigNumber)) {
                currentColumnData = new BigNumber(currentColumnData);
              }
              proportionData =
                currentColumnData
                  .div(currentIndicatorColumnTotal)
                  .multipliedBy(100)
                  .toFixed(0) + "%";
            }
          }
          newRowData["proportion_" + indicatorId] = proportionData;
        }
      }
      return newRowData;
    },
    /**
     *
     * 构建【维度+指标】类型的列数据
     *
     * @param key 列类型+指标id，本期/环比/同比
     * @param rowData 行JSON数据
     * @param data 【维度+指标】行原始数据
     * @param dataConfig 指标单位、千分位、小数位数、显示类型
     * @param indicatorIndex 指标所在数组中的下标
     * @param dimensionMemberJoin 维度拼接值，如果为空，则计算本期；不为空，计算对比
     * @param currentColumnData 本期数据
     *
     * @return 返回本行列数据
     *
     */
    buildDimensionIndicatorColumnData(
      key,
      rowData,
      data,
      dataConfig,
      indicatorIndex,
      dimensionMemberJoin,
      currentColumnData
    ) {
      let columnData = null,
        formatColumnData = null;
      dataConfig = _.assign(dataConfig, {
        showType: dataConfig.showType ? 1 : 0,
      });
      if (dimensionMemberJoin !== undefined) {
        if (data.len > 0) {
          let compareRowData = data.data[dimensionMemberJoin];
          if (compareRowData !== undefined) {
            columnData = compareRowData[indicatorIndex];
            // 环比/同比数据显示格式设置
            const isSameCompare = key.startsWith("sameCompare"); // 同比
            dataConfig = _.assign(dataConfig, {
              showType: isSameCompare
                ? dataConfig.sameCompareShowType
                : dataConfig.compareShowType,
              dataShowType: isSameCompare
                ? dataConfig.sameCompareShowType
                : dataConfig.compareShowType,
            });
            if (dataConfig.isPercentType) {
              // 百分比类型指标
              dataConfig.showType = 1;
              formatColumnData = formatPercentTypeCompareData(
                currentColumnData,
                columnData,
                dataConfig
              );
            } else {
              formatColumnData = formatCompareData(
                currentColumnData,
                columnData,
                dataConfig
              );
            }
          } else {
            formatColumnData = NULL_DATA_NUMBER_SHOW;
          }
        } else {
          formatColumnData = NULL_DATA_NUMBER_SHOW;
        }
      } else {
        columnData = data[indicatorIndex];
        formatColumnData = formatData(columnData, dataConfig);
      }
      rowData[key] = formatColumnData;
      rowData["_" + key] = columnData;
      return columnData;
    },
    /**
     *
     * 构建【纯指标】类型的列数据
     *
     * @param key 列类型，本期/环比/同比
     * @param rowData 行JSON数据
     * @param data 【维度+指标】行原始数据
     * @param dataConfig 指标单位、千分位、小数位数、显示类型
     * @param indicatorIndex 指标所在数组中的下标
     * @param currentColumnData 本期数据
     *
     * @return 返回本行列数据
     *
     */
    buildIndicatorColumnData(
      key,
      rowData,
      data,
      dataConfig,
      indicatorIndex,
      currentColumnData
    ) {
      let columnData = null,
        formatColumnData = null;
      dataConfig = _.assign(dataConfig, {
        showType: dataConfig.showType ? 1 : 0,
      });
      if (currentColumnData !== undefined) {
        if (data && data.length > 0) {
          let compareRowData = data[indicatorIndex];
          if (compareRowData !== null) {
            const isSameCompare = key.startsWith("sameCompare"); // 同比
            dataConfig = _.assign(dataConfig, {
              showType: isSameCompare
                ? dataConfig.sameCompareShowType
                : dataConfig.compareShowType,
              dataShowType: isSameCompare
                ? dataConfig.sameCompareShowType
                : dataConfig.compareShowType,
            });
            if (dataConfig.isPercentType) {
              dataConfig.showType = 1;
              formatColumnData = formatPercentTypeCompareData(
                currentColumnData,
                compareRowData,
                dataConfig
              );
            } else {
              formatColumnData = formatCompareData(
                currentColumnData,
                compareRowData,
                dataConfig
              );
            }
          } else {
            formatColumnData = NULL_DATA_NUMBER_SHOW;
          }
        } else {
          formatColumnData = NULL_DATA_NUMBER_SHOW;
        }
      } else {
        columnData = data[indicatorIndex];
        formatColumnData = formatData(data[indicatorIndex], dataConfig);
      }
      rowData[key] = formatColumnData;
      return columnData;
    },
    /**
     * 获取维度占比总值
     * @param data
     * @returns {*[]}
     */
    getColumnDataTotal(data, dataIndex) {
      if (!data || data.length === 0) {
        return null;
      }

      let columnDataTotal = null;
      for (let i = 0; i < data.length; i++) {
        if (data[i]?.[dataIndex]) {
          if (columnDataTotal === null) {
            columnDataTotal = new BigNumber(0);
          }
          columnDataTotal = columnDataTotal.plus(data[i][dataIndex]);
        }
      }
      return columnDataTotal;
    },
    /**
     * 合计
     * @param columns
     * @param data
     * @returns {{}}
     */
    handleSummary({ columns, data }) {
      const sums = {};
      columns.forEach((column, index) => {
        const { key, decimalDigits, numberUnit, thousandth, numberType } =
          column;
        // 第一列直接设置为合计
        if (index === 0) {
          sums[key] = {
            key,
            value: "合计",
          };
          return;
        }

        // 维度列、占比列直接设置为空
        if (key.indexOf("dimension") !== -1) {
          sums[key] = { key, value: "" };
          return;
        }

        // 指标列，包含环比、对比汇总
        let total = null;
        data.forEach((item) => {
          let realKey = key.indexOf("_") !== -1 ? "_" + key : key;
          if (item[realKey] !== null) {
            if (total === null) {
              total = new BigNumber(0);
            }
            if (key.startsWith("compare_") || key.startsWith("sameCompare_")) {
              let currentKey = "_indicator_" + key.split("_")[1];
              if (item[currentKey] !== null) {
                let pre = new BigNumber(item[realKey]);
                if (numberType) {
                  total = total.plus(
                    new BigNumber(item[currentKey]).minus(pre).div(pre.abs())
                  );
                } else {
                  total = total
                    .plus(new BigNumber(item[currentKey]))
                    .minus(pre);
                }
              }
            } else {
              total = total.plus(item[realKey]);
            }
          }
        });

        // 每行的值全是 --
        if (total === null) {
          sums[key] = { key, value: ZERO_PRE_COMPARE_DATA_SHOW };
          return;
        }

        // 缺省数据的合计处理
        if (key.indexOf("_") === -1) {
          sums[key] = {
            key,
            value: total.toFixed(2),
          };
          return;
        }

        // 占比
        if (key.indexOf("proportion") !== -1) {
          sums[key] = { key, value: "100%" };
          return;
        }

        if (numberType) {
          if (total.comparedTo(0) === 0) {
            total = ZERO_PRE_COMPARE_DATA_SHOW;
          } else {
            total = total.multipliedBy(100).toFixed(decimalDigits) + "%";
          }
        } else {
          let formatCurrent = formatDataUnit(total, numberUnit);
          total = thousandth
            ? formatCurrent.toFormat(decimalDigits)
            : formatCurrent.toFixed(decimalDigits);
        }

        sums[key] = {
          key,
          value: total,
        };
      });
      return sums;
    },

    getDimensionIndicatorValueConfig() {
      const configData = this.propertyData.configData;
      let showNumberUnit = configData.showFormatType; // {[indicator]: boolean}
      let decimalDigits = configData.changeDecimalDigits; // {[indicator]: int}
      let numberUnit = configData.changeFormat; // {[indicator]: '万'}
      let numberType = configData.changeShowType; // {justInd: "%"}
      let thousandth = configData.changeType; // {[indicator]: true}
      let openSameCompare = configData.useSameCompare; // {open: true, sameCompareType: 'years/months'}
      let calculateTitleOption = configData.calculateTitleOption;
      return {
        showNumberUnit,
        decimalDigits,
        numberUnit,
        numberType,
        thousandth,
        openSameCompare,
        calculateTitleOption,
      };
    },
    /**
       *
       * 获取纯指标场景下指标的配置信息

       * @return
       */
    getPureIndicatorValueConfig(indicators) {
      let openCompare = false,
        openThreshold = false;
      indicators.forEach((indicator) => {
        if (indicator.useCompare && !openCompare) {
          openCompare = true;
        }
        if (indicator.useThreshold && !openThreshold) {
          openThreshold = true;
        }
      });
      const configData = this.propertyData.configData;
      let showNumberUnit = configData.showFormatType; // {[indicator]: boolean}
      let decimalDigits = configData.changeDecimalDigits; // {[indicator]: int}
      let numberUnit = configData.changeFormatInd; // {[indicator]: '万'}
      let numberType = configData.changeShowTypeInd; // {justInd: "%"}
      let thousandth = configData.changeTypeInd || configData.changeTypeInd_pre; // {[indicator]: true}
      let openSameCompare = configData.useSameCompare; // {open: true, sameCompareType: 'years/months'}

      return {
        showNumberUnit,
        decimalDigits,
        numberUnit,
        numberType,
        thousandth,
        openSameCompare,
        openCompare,
        openThreshold,
      };
    },
    /**
     * 寻找阈值最大长度
     * @param arr
     * @returns {*}
     */
    findMaxLengthThreshold(indicators) {
      let maxThreshold,
        count = 0;
      indicators.forEach((item) => {
        if (item.thresholds && item.thresholds.length > 0) {
          if (count === 0) {
            maxThreshold = item.thresholds;
          } else {
            if (item.thresholds.length > maxThreshold.length) {
              maxThreshold = item.thresholds;
            }
          }
          count++;
        }
      });
      return maxThreshold;
    },
    /**
     * 指标top值
     * @returns {any | string | CHART_DEFAULT_CONFIG.CustomTable.config.openTop | {indicatorId, topNum} | openTop}
     */
    showTopVal() {
      if (
        this.propertyData.configData &&
        this.propertyData.configData.openTop &&
        this.propertyData.configData.openTop.indicatorId &&
        this.propertyData.configData.openTop.topNum
      ) {
        return this.propertyData.configData.openTop;
      }
      return null;
    },
    /**
     * 表格初始数据
     */
    showDefaultData() {
      this.$emit("changeDefaultShow", true);
      let title = [
        {
          key: "dimension",
          title: "维度",
          resizable: true,
        },
        {
          key: "indicator1",
          title: "指标",
          resizable: true,
        },
        {
          key: "indicator2",
          title: "指标",
        },
      ];
      this.tableColumns = this.buildTableWidthAndResizable(title, "适应宽度");
      this.tableData = [
        {
          dimension: "指标名称",
          indicator1: 56457.98,
          indicator2: 457.98,
        },
        {
          dimension: "指标名称",
          indicator1: 56457.98,
          indicator2: 57.98,
        },
      ];
    },
    /**
     * 表头title计算宽度
     * @param title
     * @returns {*}
     */
    buildTableWidthAndResizable(title, widthConfig) {
      title.forEach((item, index) => {
        if (index !== title.length - 1) {
          // item.width = 120
          item.resizable = true;
        }
        if (widthConfig === "最佳比例") {
          item.minWidth = 90;
        }
      });
      return title;
    },
    /**
     * 适配同比数据
     * @param yoyData
     * @param dimensions
     * @param indicators
     */
    adapterYoyData(data, dimension = []) {
      const yoyDataJson = data.yoyData;
      if (yoyDataJson) {
        const len = dimension.length;
        // arr转json，遍历时方便比较
        for (let indicatorId in yoyDataJson) {
          let data = yoyDataJson[indicatorId];
          if (len > 0) {
            let jsonData = {};
            data.forEach((r) => {
              let dimensionMemberArr = [];
              for (let j = 0; j < len; j++) {
                dimensionMemberArr[j] = r[j];
              }
              jsonData[dimensionMemberArr.join("_")] = r[len];
            });
            yoyDataJson[indicatorId] = jsonData;
          }
        }

        let headers = data.headers;
        let yoyData = [];
        data.currentData.forEach((item) => {
          let row = [];
          let dimensionMemberJoin;
          for (let i = 0; i < len; i++) {
            row[i] = item[i];
            dimensionMemberJoin = row.join("_");
          }
          for (let i = len; i < headers.length; i++) {
            const currentIndicatorData = yoyDataJson[headers[i]];
            if (!currentIndicatorData) {
              row[i] = null;
            } else {
              // 纯指标，直接取第一个
              row[i] =
                len === 0
                  ? currentIndicatorData[0][0]
                  : currentIndicatorData[dimensionMemberJoin];
            }
          }
          yoyData.push(row);
        });
        data.yoyData = yoyData;
      }
    },
  },
};
</script>

<style scoped lang="less">
.tableClass /deep/ .ivu-table {
  .ivu-table-cell-tooltip-content {
    white-space: normal;
  }
  .ivu-table-cell {
    width: 100%;
    .ivu-tooltip-rel {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .ivu-table-cell > span:first-child {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(~"100% - 20px");
  }
  .ivu-table-summary .ivu-table-cell > span:first-child {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .linkCell {
    background: rgba(63, 115, 255, 0.1) !important;
  }
}
/deep/.ivu-table:before {
  height: 0;
}
/deep/.ivu-table:after {
  width: 0;
}
/deep/.ivu-table-wrapper {
  border: none;
}
.breakStyle /deep/ .ivu-table {
  .ivu-table-cell > span.ivu-table-cell-sort {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ivu-table-cell > span:first-child > span {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}
.noBorderStyle {
  /deep/ .ivu-table td,
  /deep/ .ivu-table th {
    border-bottom: none;
  }
}
.borderHoriStyle {
  /deep/ .ivu-table th {
    border-top: 1px solid #e8eaec;
  }
}
.borderLongStyle {
  /deep/ .ivu-table td,
  /deep/ .ivu-table th {
    border-right: 1px solid #e8eaec;
  }
  /deep/ .ivu-table td:first-child,
  /deep/ .ivu-table th:first-child {
    border-left: 1px solid #e8eaec;
  }
}
.widthFitStyle {
  /deep/ .ivu-table-cell-tooltip {
    width: fit-content;
    margin: 0 auto;
  }
  /deep/ .ivu-table-summary .ivu-table-cell > span:first-child {
    overflow: unset !important;
    white-space: nowrap;
  }
}
.table-all {
  border: 1px solid #dcdee2;
  padding-left: 1px;
  overflow: hidden;
  margin-bottom: 65px;
}
.wordWrapStyle {
  /deep/ .ivu-table .ivu-table-cell-tooltip-content {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.drillDownItem {
  margin-right: 5px;
  cursor: pointer;
}

.drillDownActive {
  color: #3f73ff;
}

/deep/ .ivuTableStyle .ivu-table {
  background: transparent;

  .ivu-table-row {
    background: transparent;

    td {
      background: transparent;
      border: 1px solid transparent;
    }
  }

  .ivu-table-header thead tr {
    th {
      background: transparent;
      border: 1px solid transparent;
    }
  }

  .ivu-table-summary {
    border: 1px solid transparent;
  }
}
.page-all {
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
  position: sticky;
  bottom: 0;
  background: #fff;
  right: 0;
  width: 100%;
  padding-right: 14px;
  /deep/.ivu-page {
    position: relative;
  }
  .pageTotal {
    position: absolute;
    bottom: 0px;
    right: 36px;
  }
  /deep/ .ivu-select {
    position: relative;
  }
  /deep/.ivu-page-options {
    .ivu-page-options-sizer {
      position: relative;
    }
    .ivu-page-options-sizer:before {
      content: "";
      display: block;
      width: 100%;
      height: 23px;
      background: transparent;
      position: absolute;
      z-index: 2;
    }
    .ivu-select-dropdown {
      display: none;
    }
    .ivu-select-selected-value {
      padding-right: 8px;
    }
    .ivu-icon-ios-arrow-down:before {
      content: "";
    }
  }
}
.pageShowTotal {
  /deep/.ivu-page-options-elevator input {
    margin-right: 40px;
  }
}
.view-page-all {
  position: fixed;
}
</style>
