<template>
  <div class="drawing-area">
    <div
      class="content-r"
      :style="{ 'color': reportThemeStyle === '1' ? '#555' : '#ccc' }"
    >
      <ul>
        <li v-for="(item, i) in legendArr" :key="i">
          <span class="bold">{{ item.name }}</span>
          <span>{{ item.percent || 0 }}</span>
          <span>{{ item.formatCount || 0 }}</span>
          <div v-if="useRingRatio">
            <span>{{
              `环比${ propertyData.configData.ringRatioUnitValue === 'per' ? "幅度" : "" }`
            }}</span>
            <span>
              <img :src="`${ item.dayCompareNum > 0 ? upImage : item.dayCompareNum < 0 ? downImage : equalImage }`" />
            </span>
            <span>{{ propertyData.configData.ringRatioUnitValue === 'per' ? item.dayCompareRate : item.dayCompareNumShow }}</span>
          </div>
          <div v-if="useYearOnYear">
            <span>{{
              `同比${ propertyData.configData.yearOnYearUnitValue === 'per' ? "幅度" : "" }`
            }}</span>
            <span>
              <img :src="`${ item.sameCompareNum > 0 ? upImage : item.sameCompareNum < 0 ? downImage : equalImage }`" />
            </span>
            <span>{{ propertyData.configData.yearOnYearUnitValue === 'per' ? item.sameCompareRate : item.sameCompareNumShow }}</span>
          </div>
          <ul>
            <li v-for="(row, index) in item.children" :key="index">
              <span>{{ row.name }}</span>
              <span>{{ row.percent || 0 }}</span>
              <span>{{ row.formatCount || 0 }}</span>
              <div v-if="useRingRatio">
                <span>
                  {{ `环比${ propertyData.configData.ringRatioUnitValue === 'per' ? "幅度" : "" }` }}
                </span>
                <span>
                  <img :src="`${ row.dayCompareNum > 0 ? upImage : row.dayCompareNum < 0 ? downImage : equalImage }`" />
                </span>
                <span>{{ propertyData.configData.ringRatioUnitValue === 'per' ? row.dayCompareRate : row.dayCompareNumShow }}</span>
              </div>
              <div v-if="useYearOnYear">
                <span>
                  {{ `同比${ propertyData.configData.yearOnYearUnitValue === 'per' ? "幅度" : "" }` }}
                </span>
                <span>
                  <img :src="`${ row.sameCompareNum > 0 ? upImage : row.sameCompareNum < 0 ? downImage : equalImage }`" />
                </span>
                <span>{{ propertyData.configData.yearOnYearUnitValue === 'per' ? row.sameCompareRate : row.sameCompareNumShow }}</span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode"></no-data>
    <chart-double-pie
      ref="cp"
      id="cp"
      class="chart-area"
      :value="doublePieData"
      :indicatorName="indicatorName"
      :chartId="chartId"
      :propertyStyle="propertyStyle"
      v-else
    ></chart-double-pie>
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import { ChartDoublePie } from "_c/charts";
import NoData from "@/view/components/no-data";
import BaseChart from "@/view/report/chart/basics/BaseChart";
import equalImage from "../../../assets/images/report/equal.png";
import upImage from "../../../assets/images/report/up.png";
import downImage from "../../../assets/images/report/down.png";
import { renderPercent, handleDataUnitAndFormat } from "@/utils/formatData";
import { formatCompareData, formatData } from '@/utils/BusinessDataHandleUtil'
import _ from "lodash";
import BigNumber from 'bignumber.js'
import mixin from "_c/charts/mixin/chartMixin";


export default {
  name: "DoublePie",
  mixins: [ mixin ],
  extends: BaseChart,
  components: {
    ChartDoublePie,
    NoData,
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    defaultImg: {
      default: null,
    },
    imgHeight: {
      type: Number,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    startDate: {
      type: String,
      default: null,
    },
    endDate: {
      type: String,
      default: null,
    },
    chartSwitchType: {
      type: String,
      default: "DoublePie",
    },
    defaultShow: {
      type: Boolean,
      default: true
    },
    isChild: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    reportThemeStyle: function() {
      return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle || '1'
    },
    // 是否使用环比
    useRingRatio() {
      return this.propertyData.configData &&
        this.propertyData.configData.useCompare &&
        this.propertyData.configData.useRingRatio
    },
    // 是否使用同比
    useYearOnYear() {
      return this.propertyData.configData &&
        this.propertyData.configData.useCompare &&
        this.propertyData.configData.useYearOnYear
    },
  },
  data() {
    return {
      doublePieData: [],
      loading: false,
      errorCode: null,
      indicatorName: "用户访问来源",
      // defaultShow: true,
      height: 95,
      legendArr: [],
      upImage: upImage,
      equalImage: equalImage,
      downImage: downImage,
    };
  },
  mounted() {
    if (
      this.propertyData.dimension.length &&
      this.propertyData.indicator.length
    ) {
      this.fetchData();
    } else {
      this.showDefaultData()
    }
  },
  methods: {
    resize() {
      this.$refs.cp.resize();
    },
    // 根据前两个维度值 是否相等 给第四个位置放环比值 第五个位置放同比值
    formatDataItem(item, beforeArr, lastPeriodArr) {
      let initItem = item
      if(beforeArr.length) {
        let findItem = beforeArr.find(beforeItem => {
          return beforeItem[0] === initItem[0] &&
            beforeItem[1] === initItem[1]
        })
        if(findItem) {
          initItem[3] = findItem[2]
        } else {
          initItem[3] = null
        }
      } else {
        initItem[3] = null
      }
      if(lastPeriodArr.length) {
        let findItem = lastPeriodArr.find(lastItem => {
          return lastItem[0] === initItem[0] &&
            lastItem[1] === initItem[1]
        })
        if(findItem) {
          initItem[4] = findItem[2]
        } else {
          initItem[4] = null
        }
      } else {
        initItem[4] = null
      }
      return initItem
    },
    handleResData(resDataArr, beforeDataArr = [], lastPeriodDataArr = []) {
      if(resDataArr.length === 0 || resDataArr[0].length < 2) {
        return
      }
      let temp = {},
        total = 0;
      total = resDataArr.reduce((a, b) => a + (b[2] || 0), 0);
      // 先将返回的数据按大类分组
      resDataArr.forEach((item) => {
        if (temp[item[0]]) {
          let newItem = this.formatDataItem(item, beforeDataArr, lastPeriodDataArr)
          temp[item[0]].push(newItem);
        } else {
          let newItem = this.formatDataItem(item, beforeDataArr, lastPeriodDataArr)
          temp[item[0]] = [newItem];
        }
      });
      let newArr = [];
      // 处理成旭日图的数据结构
      // console.log("temp", temp);
      for (let k in temp) {
        const res = temp[k][0];
        let children = [],
          value = 0,
          dayCompareNum = 0; // 合计值
        if (res[1]) {
          temp[k].forEach((item, index) => {
            children.push({
              name: item[1],
              value: item[2],
              percent: renderPercent(item[2] / total, "%"),
              formatCount: this.currentPieCount(item[2]),
            });
            if (item.length > 3) {
              let currentBigNumData = item[2] != null ? new BigNumber(item[2]) : new BigNumber(0)
              let compareBigNumData = item[3] != null ? new BigNumber(item[3]) : new BigNumber(0)
              children[index].dayCompareRate = formatCompareData(currentBigNumData, compareBigNumData, { showType: 1 })
              children[index].dayCompareNum = formatCompareData(currentBigNumData, compareBigNumData, { showType: 0 })
              children[index].dayCompareNumShow = this.currentPieCount(children[index].dayCompareNum)
            }
            if(item.length > 4) {
              let currentBigNumData = item[2] != null ? new BigNumber(item[2]) : new BigNumber(0)
              let compareBigNumData = item[4] != null ? new BigNumber(item[4]) : new BigNumber(0)
              children[index].sameCompareRate = formatCompareData(currentBigNumData, compareBigNumData, { showType: 1 })
              children[index].sameCompareNum = formatCompareData(currentBigNumData, compareBigNumData, { showType: 0 })
              children[index].sameCompareNumShow = this.currentPieCount(children[index].sameCompareNum)
            }
            // value = Number((item[3]|| 0)) + Number((item[4] || 0))
          });
          value = children.reduce((a, b) => a + b.value, 0);
          dayCompareNum = children.reduce((a, b) => a + b.dayCompareNum, 0);
        } else {
          value = Number(res[2] || 0) + Number(res[3] || 0);
          children.push({
            name: k,
            value,
            percent: renderPercent(value / total, "%"),
          });
        }
        newArr.push({
          name: k,
          value,
          formatCount: this.currentPieCount(value),
          children: children,
          percent: renderPercent(value / total, "%"),
        });
        const index = _.findIndex(newArr, function (o) {
          return o.name == k;
        });
        if (res.length > 3) {
          let totalValue = temp[k].reduce((a, b) => a + Number(b[2]), 0)
          let totalBeforeValue = temp[k].reduce((a, b) => a + Number(b[3]), 0)
          let currentBigNumData = totalValue != null ? new BigNumber(totalValue) : new BigNumber(0)
          let compareBigNumData = totalBeforeValue != null ? new BigNumber(totalBeforeValue) : new BigNumber(0)
          newArr[index].dayCompareRate = formatCompareData(currentBigNumData, compareBigNumData, { showType: 1 })
          newArr[index].dayCompareNum = formatCompareData(currentBigNumData, compareBigNumData, { showType: 0 })
          newArr[index].dayCompareNumShow = this.currentPieCount(newArr[index].dayCompareNum)
        }
        if(res.length > 4) {
          let totalValue = temp[k].reduce((a, b) => a + Number(b[2]), 0)
          let totalBeforeValue = temp[k].reduce((a, b) => a + Number(b[4]), 0)
          let currentBigNumData = totalValue != null ? new BigNumber(totalValue) : new BigNumber(0)
          let compareBigNumData = totalBeforeValue != null ? new BigNumber(totalBeforeValue) : new BigNumber(0)
          newArr[index].sameCompareRate = formatCompareData(currentBigNumData, compareBigNumData, { showType: 1 })
          newArr[index].sameCompareNum = formatCompareData(currentBigNumData, compareBigNumData, { showType: 0 })
          newArr[index].sameCompareNumShow = this.currentPieCount(newArr[index].sameCompareNum)
        }
      }
      return newArr;
    },
    currentPieCount(val) {
      let configData = this.propertyData.configData
      // 判断是否是百分比格式
      let isPercent = configData.showType === 1 ? true : false
      // showValueConfig 展示数据相关的处理
      let showValueConfig = this.getShowValueConfig(configData, isPercent)
      // 数值格式设置
      let numberUnitLabel = this.getNumberUnitLabel(configData, isPercent)
      let data = val != null ? new BigNumber(val) : new BigNumber(0)
      if(isPercent) {
        data = data.times(100)
      }
      val = formatData(data, showValueConfig);
      return val + numberUnitLabel;
    },
    fetchData() {
      console.log("请求旭日图数据");
      this.loading = true;
      this.errorCode = null;
      let startDate = this.getChartPrivateDate().startDate;
      let endDate = this.getChartPrivateDate().endDate;
      // 根据设置-数据设置-指标展示设置-取topN数据显示
      const topN = _.get(this.propertyData.configData, "topN");
      let top = null;
      if (topN) {
        top = {
          indicatorId: this.propertyData.indicator[0].id,
          topNum: topN * 1,
        };
      }
      if(this.propertyData.configData.useCompare &&
          (this.propertyData.configData.useRingRatio || this.propertyData.configData.useYearOnYear)) {
        let compare = this.propertyData.configData.useRingRatio
        let sameCompareType = ''
        if(this.propertyData.configData.useYearOnYear) {
          sameCompareType = this.propertyData.configData.yearOnYearTypeValue
        }
        this.queryMoreCompareChartData(
          this.propertyData,
          { startDate, endDate },
          top,
          compare,
          sameCompareType
        ).then(res => {
          this.loading = false;
          let errors = res.data?.errors
          if (errors) {
            let errorsKeys = Object.keys(errors)
            if (errorsKeys.length) {
              this.errorCode = errors[errorsKeys[0]].code
              return
            }
          }
          if (res.state === "success") {
            const resData = res.data
            if(resData.currentData?.length && resData.currentData?.[0]?.length) {
              let formatResData = []
              let currentData = []
              let beforeData = []
              let lastPeriodData = []
              currentData = resData.currentData
              if(resData.momData?.length && resData.momData?.[0]?.length) {
                beforeData = resData.momData
              }
              if(resData.yoyData?.length && resData.yoyData?.[0]?.length) {
                lastPeriodData = resData.yoyData
              }
              formatResData = this.handleResData(currentData, beforeData, lastPeriodData);
              if (formatResData && formatResData.length) {
                this.legendArr = formatResData;
                this.refreshDoublePieChart(formatResData);
              } else {
                this.legendArr = [];
                this.errorCode = '000000'
              }
            } else {
              this.errorCode = '000000'
            }
          } else {
            this.errorCode = res.errorCode
          }
        })
      } else {
        this.queryMoreCompareChartData(
          this.propertyData,
          { startDate, endDate },
          top
        ).then((res) => {
          this.loading = false;
          let errors = res.data?.errors
          if (errors) {
            let errorsKeys = Object.keys(errors)
            if (errorsKeys.length) {
              this.errorCode = errors[errorsKeys[0]].code
              return
            }
          }
          if (res.state === "success") {
            let resData = [];
            const remoteData = res?.data?.currentData
            if (remoteData.length > 0 && typeof remoteData[0][1] === "string") {
              resData = this.handleResData(remoteData);
            }
            if (resData && resData.length) {
              this.legendArr = resData;
              this.refreshDoublePieChart(resData);
            } else {
              this.legendArr = [];
              this.errorCode = '000000'
            }
          } else {
            this.errorCode = res.errorCode
            this.legendArr = [];
          }
        });
      }
      this.$emit('changeDefaultShow', false)
    },
    refreshData() {
      // 如果数据属性条件齐全则请求数据
      if (
        this.propertyData &&
        this.propertyData.dimension.length &&
        this.propertyData.indicator.length
      ) {
        this.fetchData();
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },

    refreshDoublePieChart(resData) {
      this.doublePieData = resData;
      this.indicatorName = this.propertyData.indicator[0]?.title;
    },
    showDefaultData() {
      this.$emit('changeDefaultShow', true)
      let resData = [
        {
          name: '图例1',
          value: 100,
          percent: '50%',
          formatCount: '97.00',
          children: [
            {
              name: '男',
              value: 70,
              percent: '70%',
              formatCount: '26.00'
            },
            {
              name: '女',
              value: 30,
              percent: '30%',
              formatCount: '17.00'
            }
          ]
        },
        {
          name: '图例2',
          value: 100,
          percent: '50%',
          formatCount: '56.00',
          children: [
            {
              name: '男',
              value: 40,
              percent: '40%',
              formatCount: '26.00'
            },
            {
              name: '女',
              value: 60,
              percent: '60%',
              formatCount: '17.00'
            }
          ]
        }
      ]
      this.legendArr = resData
      this.refreshDoublePieChart(resData)
    }
  },
  watch: {
    imgHeight(val, old) {
      if (val < old) this.height = 95;
      if (val > old) this.height -= val;
    },
  },
};
</script>

<style scoped>
.drawing-area {
  position: relative;
}
.chart-area {
  height: 100%;
  width: 100%;
}
.content-r {
  position: absolute;
  right: 10px;
  height: 100%;
  width: 33%;
}
.content-r ul {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-r ul li {
  list-style: none;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.content-r ul li span {
  margin-left: 10px;
}
.content-r ul li .bold {
  font-weight: bold;
}
</style>
