<template>
  <div class="drawing-area">
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode"></no-data>
    <chart-gauge
      ref="cp"
      class="chart-area"
      :value="chartData"
      :indicatorName="indicatorName"
      :chartId="chartId"
      :propertyStyle="propertyStyle"
      :configData="propertyData.configData"
      :propertyData="propertyData"
      v-else
    ></chart-gauge>
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import NoData from "@/view/components/no-data";
import BaseChart from "@/view/report/chart/basics/BaseChart";
import { NumberFormat } from "@/utils/formatData";
import { formatData, formatCompareData } from '@/utils/BusinessDataHandleUtil'
import _ from "lodash";
import BigNumber from 'bignumber.js';
import { ChartGauge } from "_c/charts";
export default {
  name: "SimpleGauge",
  extends: BaseChart,
  components: {
    ChartGauge,
    NoData,
  },
  props: {
    defaultImg: {
      default: null,
    },
    imgHeight: {
      type: Number,
      default: null,
    },
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    startDate: {
      type: String,
      default: null,
    },
    endDate: {
      type: String,
      default: null,
    },
    defaultShow: {
      type: Boolean,
      default: true
    },
    isChild: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      dom: null,
      height: 95,
      errorCode: null,
      indicatorName: "指标XXX",
      loading: false,
      chartData: [],
      gaugeData: {},
    };
  },
  computed: {
    currentSelectChartStyle: function () {
      return (
        this.$store.state.chart.currentSelectChart &&
        this.$store.state.chart.currentSelectChart.style
      );
    },
    configData() {
      return this.propertyData && this.propertyData.configData
    }
  },
  watch: {
    imgHeight(val, old) {
      if (val < old) this.height = 95;
      if (val > old) this.height -= val;
    },
  },
  methods: {
    resize() {
      this.$refs.cp.resize();
    },
    showCompare() {
      let compareIndicators = this.propertyData.indicator.filter(
        (item) => item.useCompare
      );
      return (
        this.propertyData.configData &&
        this.propertyData.configData.isOpenCompareBeforeTime &&
        compareIndicators.length > 0
      );
    },
    fetchData() {
      console.log("请求仪表盘数据", this.propertyData);
      this.loading = true;
      this.errorCode = null;
      let startDate = this.getChartPrivateDate().startDate
      let endDate = this.getChartPrivateDate().endDate
      let flag = this.propertyData.configData.useCompare &&
        (this.propertyData.configData.useRingRatio || this.propertyData.configData.useYearOnYear)
      if (flag) {
        this.fetchGaugeDataWithCompare(startDate, endDate)
      } else {
        this.fetchGaugeData(startDate, endDate)
      }
      this.$emit('changeDefaultShow', false)
    },
    fetchGaugeDataWithCompare(startDate, endDate) {
      let compare = this.propertyData.configData.useRingRatio
      let sameCompareType = ''
      if(this.propertyData.configData.useYearOnYear) {
        sameCompareType = this.propertyData.configData.yearOnYearTypeValue
      }
      this.queryMoreCompareChartData(this.propertyData, {startDate, endDate}, null, compare, sameCompareType).then(res => {
        this.loading = false;
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if (res.state === "success") {
          const resData = res.data
          if (resData.currentData?.length) {
            let data = resData.currentData
            if (resData.momData?.length && resData.momData?.[0]?.length) {
              data.forEach((item, index) => {
                item.push(resData.momData[index][0])
              })
            }
            if (resData.yoyData?.length && resData.yoyData?.[0]?.length) {
              data.forEach((item, index) => {
                if (item.length === 2) {
                  item.push(resData.yoyData[index][0])
                } else if (item.length === 1) {
                  item.push(null)
                  item.push(resData.yoyData[index][0])
                }
              })
            }
            this.refreshGaugeChart(data);
          } else {
            this.errorCode = '000000'
          }
        } else {
          this.errorCode = res.errorCode
        }
      })
    },
    fetchGaugeData(startDate, endDate) {
      this.queryMoreCompareChartData(this.propertyData, { startDate, endDate }).then(res => {
        this.loading = false;
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if (res.state === "success") {
          this.defaultShow = false;
          const remoteData = res?.data?.currentData
          if ( remoteData.length && remoteData[0][0] !== null) {
            this.refreshGaugeChart(remoteData);
          } else {
            this.errorCode = '000000'
          }
        } else {
          this.errorCode = res.errorCode
        }
      })
    },
    getCompareData(curNum, beforeNum, showType) {
      let precision = this.propertyData.configData.decimalPlaces ? this.propertyData.configData.decimalPlaces : 2
      let isFormat = this.propertyData.configData.thousandsSeparator ? this.propertyData.configData.thousandsSeparator : false
      let numberUnit = 'original'
      return formatCompareData(curNum, beforeNum, {decimalDigits: precision , numberUnit: numberUnit, thousandth: isFormat, showType: showType})
    },
    getData(val, showType) {
      let precision = this.propertyData.configData.decimalPlaces
      let isFormat = this.propertyData.configData.thousandsSeparator ? this.propertyData.configData.thousandsSeparator : false
      let numberUnit = 'original'
      if (this.propertyData.configData.numberUnit) {
        const unit = this.propertyData.configData.numberUnit
        if (unit === 'wan') {
          numberUnit = '万'
        } else if (unit === 'yi') {
          numberUnit = '亿'
        }
      }
      return formatData(val, {decimalDigits: precision , numberUnit: numberUnit, thousandth: isFormat, showType: showType})
    },
    refreshGaugeChart(resData) {
      const indicatorName = this.propertyData.indicator[0].abbrName || this.propertyData.indicator[0].title;
      let showType
      if (this.propertyData.configData.showType !== null &&
        this.propertyData.configData.showType !== undefined) {
        showType = this.propertyData.configData.showType
      } else {
        showType = this.propertyData.indicator[0].showType
        this.$set(this.propertyData.configData, 'showType', showType)
      }
      let thresholds = this.propertyData.indicator[0].thresholds;
      function transformNum(n) {
        let number = Number(n.value);
        if (isNaN(number)) {
          return n;
        }
        n.value = number;
        return n;
      }
      thresholds = _.map(thresholds, transformNum);
      thresholds = thresholds.length ? _.sortBy(thresholds, ["value"]) : [];
      let max = thresholds.length ? _.maxBy(thresholds, "value").value : "";
      const data = [];
      resData.forEach((item, index) => {
        item[0] = isNaN(item[0]) ? null : item[0];
        let value
        if (this.propertyData.configData.showType !== 1) {
          value = NumberFormat(item[0], this.propertyData.configData.numberUnit, 2)
        } else {
          value = NumberFormat(item[0], 'original', 2)
          value = new BigNumber(value).multipliedBy(100).toNumber()
        }
        data.push({
          value: value,
          name: indicatorName,
          itemStyle: { color: "#FF9900" },
          category: this.getData(item[0], showType),
          thresholds: thresholds,
        });
        if (item.length > 1) {
          let flag = item[1] !== null && item[0] !== null
          data[index].dayCompareRate = flag
              ? this.getCompareData(item[0], item[1], 1)
              : this.getData(item[1], 1);
          data[index].dayCompareNum = flag ? this.getCompareData(item[0], item[1], 0) : this.getData(item[1], 0)
        }
        if(item.length > 2) {
          let flag = item[2] !== null && item[0] !== null
          data[index].sameCompareRate = flag
              ? this.getCompareData(item[0], item[2], 1)
              : this.getData(item[2], 1);
          data[index].sameCompareNum = flag ? this.getCompareData(item[0], item[2], 0) : this.getData(item[2], 0)
        }
      });
      this.chartData = data;
      this.indicatorName = indicatorName;
    },
    refreshData() {
      // 如果数据属性条件齐全则请求数据
      if (this.propertyData && this.propertyData.indicator.length) {
        this.fetchData();
      } else {
        this.showDefaultData();
        this.errorCode = null
      }
    },
    showDefaultData() {
      this.$emit('changeDefaultShow', true)
      this.chartData = [
        {
          name: '指标名称',
          value: 172,
          category: '172',
          itemStyle: {
            color: '#000'
          },
          // max: 200,
          thresholds: [
            {
              name: '预警标准',
              value: "100%"
            },
            {
              name: '监管标准',
              value: "120%"
            }
          ]
        }
      ]
      this.indicatorName = '指标名称'
    }
  },
  mounted() {
    if (this.propertyData.indicator && this.propertyData.indicator.length) {
      this.fetchData();
    } else {
      this.showDefaultData()
    }
  },
  beforeDestroy() {
    // off(window, 'resize', this.resize)
  },
};
</script>

<style scoped>
.chart-area {
  height: 100%;
  width: 100%;
}
</style>
