<template>
  <div class="iframe-area" @mousedown="onMouseDown" @dblclick="onEdit" @mouseup="onMouseup" @mouseleave="onMouseleave">
    <div v-if="defaultShow" class="iframeDefaultBox">
      <img src="@/assets/icons/chart/iframe.svg" />
      <Input v-model="defaultSrc" placeholder="请添加链接地址" style="width: 300px"
        @on-enter="handleDefaultSrcChange"
        @on-blur="handleDefaultSrcChange" />
    </div>
    <div v-else style="width: 100%;height: 100%;">
      <div class="iframe-mask" :style="{display: showMask ? '' : 'none'}"></div>
      <iframe :src="src" width="100%" height="100%" frameborder="none"></iframe>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SimpleIframe',
  props: {
    isPreview: {
      type: Boolean,
      default: false
    },
    chartId: {
      type: String,
      default: null
    },
    defaultImg: {
      default: null
    },
    imgHeight: {
      type: Number,
      default: null
    },
    propertyData: {
      type: Object,
      default: null
    },
    defaultShow: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      defaultSrc: '',
      src: '',
      height: 95,
      ableEdit: false,
      showMask: false
    }
  },
  mounted () {
     if (this.propertyData && this.propertyData.src) {
       this.src = this.propertyData.src
     }
  },
  computed: {
    currentSelectChartSrc: function () {
      let src = ''
      if (this.$store.state.chart && this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.data) {
        src = this.$store.state.chart.currentSelectChart.data.src
      }
      return src
    },
  },
  methods: {
    handleDefaultSrcChange(e) {
      if(this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.data) {
        this.$store.state.chart.currentSelectChart.data.src = e.target.value
        this.propertyData.src = e.target.value
      }
    },
    refreshSrc (src) {
      if (this.$store.state.chart.currentSelectChart.chartId !== this.chartId) {
        return
      }
      this.src = src
      this.defaultSrc = src
    },
    onMouseDown(e) {
      if (this.ableEdit) {
        e.stopPropagation()
      }
      this.showMask = true
    },
    onEdit() {
      // this.ableEdit = true
      this.showMask = false
    },
    onMouseup() {
      this.ableEdit = false
      this.showMask = false
    },
    onMouseleave() {
      this.showMask = true
    }
  },
  watch: {
    currentSelectChartSrc (val) {
      this.refreshSrc(val)
    },
    imgHeight(val, old) {
      if(val < old) this.height = 95
      if(val > old) this.height -= val
    },
    src(val) {
      if(val === "") {
        this.$emit('changeDefaultShow', true)
      } else {
        this.$emit('changeDefaultShow', false)
      }
    }
  }
}
</script>

<style scoped>
  .iframe-area{
    height: 100%;
    width: 100%;
    /* padding: 10px; */
  }
  .iframe-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1111;
    filter: alpha(opacity=0);
    opacity: 0;
    background: transparent;
  }
  .iframeDefaultBox {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
</style>
