<template>
  <div style="width: 100%; height: 100%">
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode"></no-data>
    <div v-else class="boardGroup">
      <div v-for="item in IndicatorData" class="board" :style="{width: getCardWidth}">
        <Card class="verticalCard" style="width: 95%; margin: 0 auto; overflow: hidden; height: 90%;"
              v-show="(StyleConfig.indicatorType == '纵向' || !StyleConfig.indicatorType)">
          <p slot="title" class="title-indicator" @click="handleClickJump(item.dimensionName)"
             :style="{background: StyleConfig.backgroundColor|| '#87AFFF', backgroundImage: (StyleConfig.backgroundColor ? '': 'linear-gradient(to right, #3F73FF , #86BAF2)'),
             color: StyleConfig.indicatorTitleColor || '#ffffff', 'font-size': (StyleConfig.indicatorTitleFontSize || 14)+'px'}">
            <img src="@/assets/images/report/verticalCardImg.svg" style="vertical-align: middle;"/>
            {{ item.dimensionName }}{{ item.title }}
          </p>
          <div class="text-center" :style="{background: + getColor('valueBackgroundColor')}">
            <p style="width: 100%; font-weight: bold;font-family: 黑体"
               :style="{color: getColor('countColor'), 'font-size': (StyleConfig.countFontSize || 24)+'px'}">
              {{ currentIndicatorDataCount(item) }}
            </p>
            <p v-if="item.useCompare && item.useRingRatio" style="margin-top: 3px">
              <span style="color: #ccc">环比</span>
              <img src="@/assets/images/report/up.png" v-if="item.compareNum > 0" style="margin: 0 5px 0 10px"/>
              <img src="@/assets/images/report/down.png" v-else-if="item.compareNum < 0" style="margin: 0 5px 0 10px"/>
              <img src="@/assets/images/report/equal.png" v-else style="margin: 0 5px 0 10px"/>
              <span>{{ currentDayChainCompareNum(item) }}</span>
            </p>
            <p v-if="item.useCompare && item.useYearOnYear" style="margin-top: 3px">
              <span style="color: #ccc">同比</span>
              <img src="@/assets/images/report/up.png" v-if="item.sameCompareNum > 0" style="margin: 0 5px 0 10px"/>
              <img src="@/assets/images/report/down.png" v-else-if="item.sameCompareNum < 0"
                   style="margin: 0 5px 0 10px"/>
              <img src="@/assets/images/report/equal.png" v-else style="margin: 0 5px 0 10px"/>
              <span>{{ sameCompareShow(item) }}</span>
            </p>
          </div>
        </Card>
        <Card class="content-indicator horizontalCard"
              style="height: 90%; margin: 0 auto; overflow: hidden; width: 95%; padding: 0 2px;"
              :style="{background:getColor('valueBackgroundColor')}"
              v-if="!errorCode && StyleConfig.indicatorType == '横向'">
          <div @click="handleClickJump(item.dimensionName)" style="
          display: flex;
          justify-content: space-around;
          align-items: center;
        ">
            <img src="@/assets/images/report/horizontalCardImg.svg"/>
            <p style="display: flex; flex-direction: column; margin-left: 5%;margin-right: 5%;">
              <span
                :style="{color:getColor('indicatorTitleColor'),'font-size': (StyleConfig.indicatorTitleFontSize||14)+'px'}">{{item.title}}</span>
              <span
                style="font-size: 20px; font-weight: bold;font-family: 黑体"
                :style="{color: getColor('countColor'), 'font-size': (StyleConfig.countFontSize|| 24)+'px'}">{{ currentIndicatorDataCount(item) }}</span>
            </p>
            <p style="margin-top: 20px"
               v-if="propertyData.indicator.length && item.useCompare && item.useRingRatio">
              <span>环比</span>
              <img
                src="@/assets/images/report/up.png"
                v-if="item.compareNum>0"
                style="margin: 0 5px 0 10px"/>
              <img
                src="@/assets/images/report/down.png"
                v-else-if="item.compareNum<0"
                style="margin: 0 5px 0 10px"/>
              <img src="@/assets/images/report/equal.png" v-else style="margin: 0 5px 0 10px"/>
              <span>
            {{ currentDayChainCompareNum(item) }}
          </span>
            </p>
            <p v-if="propertyData.indicator.length && item.useCompare && item.useYearOnYear" style="margin-top: 20px">
              <span>同比</span>
              <img src="@/assets/images/report/up.png" v-if="item.sameCompareNum > 0" style="margin: 0 5px 0 10px"/>
              <img src="@/assets/images/report/down.png" v-else-if="item.sameCompareNum < 0"
                   style="margin: 0 5px 0 10px"/>
              <img src="@/assets/images/report/equal.png" v-else style="margin: 0 5px 0 10px"/>
              <span>{{ sameCompareShow(item) }}</span>
            </p>
          </div>
        </Card>
      </div>
    </div>
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
  import BaseChart from '@/view/report/chart/basics/BaseChart'
  import NoData from '../../components/no-data'
  import { handleDataUnitAndFormat } from '@/utils/formatData'
  import { CANVAS_COLOR_CONFIG } from '@/config/ReportConstants'
  import { formatCompareData, formatData } from '@/utils/BusinessDataHandleUtil'
  import BigNumber from 'bignumber.js'
  import { deepCopy, adjustDataByHeaders } from '../../../utils/common'

  export default {
    name: 'IndexBoard',
    extends: BaseChart,
    props: {
      chartId: {
        type: String,
        default: null
      },
      propertyData: {
        type: Object,
        default: null
      },
      startDate: {
        type: String,
        default: null
      },
      endDate: {
        type: String,
        default: null
      },
      propertyStyle: {
        type: Object,
        default: null
      },
      editable: {
        type: Boolean,
        default: true
      },
      imgHeight: {
        type: Number,
        default: null
      },
      chartSwitchType: {
        type: String,
        default: 'CustomTable'
      },
      scaleRatio: {
        type: Number,
        default: 1
      },
      isActive: {
        type: Boolean,
        default: true
      },
      defaultShow: {
        type: Boolean,
        default: true
      },
      isChild: {
        type: Boolean,
        default: false
      }
    },
    components: { NoData },
    data() {
      return {
        IndicatorData: [],
        indicatorType: '横向',
        loading: false,
        errorCode: null,
        height: 100,
        allData: [],
        propertyCopy: null,
        publicDateCopy: null,
        privateDateCopy: null
      }
    },
    mounted() {
      if (this.propertyData && this.propertyData.indicator.length) {
        this.fetchData(this.getChartPrivateDate())
      } else {
        this.showDefaultData()
      }
    },
    computed: {
      StyleConfig() {
        if (this.propertyStyle) {
          return this.propertyStyle
        }
        if (
          this.$store.state.chart.currentSelectChart.style &&
          this.$store.state.chart.currentSelectChart.style.indicatorType
        ) {
          this.indicatorType = this.$store.state.chart.currentSelectChart.style.indicatorType
        }
        if (this.$store.state.chart.currentSelectChart.chartId === this.chartId) {
          return this.$store.state.chart.currentSelectChart.style
        }
      },
      currentSelectChartConfig: function () {
        const currentSelectChartConfig = this.$store.state.chart && this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.data.configData
        return currentSelectChartConfig
      },
      currentIndicatorDataCount: function () {
        return function (item) {
          let configData = this.propertyData.configData
          let numericalUnits = configData.hasOwnProperty('numericalUnits') ? configData.numericalUnits : {},
            decimalDigits = configData.hasOwnProperty('decimalDigits') ? configData.decimalDigits : {},
            fixedNums = configData.hasOwnProperty('dayChainCompareFixedNums') ? configData.dayChainCompareFixedNums : {}
          const decimalDigit = decimalDigits.hasOwnProperty(item.id) ? decimalDigits[item.id] : 2,
            numericalUnit = numericalUnits.hasOwnProperty(item.id) ? numericalUnits[item.id] : 'original',
            fixedNum = fixedNums.hasOwnProperty(item.id) ? fixedNums[item.id] : false,
            isPercent = item.showType
          let indicatorValue = item.count,
            unit = numericalUnit,
            precision = decimalDigit,
            isFormat = fixedNum,
            force = true
          let value = formatData(indicatorValue, {decimalDigits: precision, numberUnit: unit, thousandth: isFormat, showType: item.showType})
          if (item.showType === 0) {
            if (unit === 'wan') {
              return value + '万'
            } else if (unit === 'yi') {
              return value + '亿'
            } else if (unit === 'original') {
              return value
            }
          } else {
            return value
          }

            // return handleDataUnitAndFormat(indicatorValue, unit, precision, isFormat, force)
        }
      },
      // 根据类型和精度，对数据进行处理
      currentDayChainCompareNum: function () {
        return function (item) {
          let configData = this.propertyData.configData
          let numericalUnits = configData.hasOwnProperty('numericalUnits') ? configData.numericalUnits : {},
            decimalDigits = configData.hasOwnProperty('decimalDigits') ? configData.decimalDigits : {},
            fixedNums = configData.hasOwnProperty('dayChainCompareFixedNums') ? configData.dayChainCompareFixedNums : {}
          const decimalDigit = decimalDigits.hasOwnProperty(item.id) ? decimalDigits[item.id] : 2,
            numericalUnit = numericalUnits.hasOwnProperty(item.id) ? numericalUnits[item.id] : 'original',
            fixedNum = fixedNums.hasOwnProperty(item.id) ? fixedNums[item.id] : false
          let unit = numericalUnit,
            precision = decimalDigit,
            isFormat = fixedNum,
            force = true
          let compareShow = item.ringRatioUnitValue === 'per' ? item.compareRate : item.compareNum
          if (item.ringRatioUnitValue !== 'per') {
            compareShow = handleDataUnitAndFormat(item.compareNum, unit, precision, isFormat, force)
          }
          return compareShow
        }
      },
      // 同比显示
      sameCompareShow: function () {
        return function (item) {
          let configData = this.propertyData.configData
          let numericalUnits = configData.hasOwnProperty('numericalUnits') ? configData.numericalUnits : {},
            decimalDigits = configData.hasOwnProperty('decimalDigits') ? configData.decimalDigits : {},
            fixedNums = configData.hasOwnProperty('dayChainCompareFixedNums') ? configData.dayChainCompareFixedNums : {}
          const decimalDigit = decimalDigits.hasOwnProperty(item.id) ? decimalDigits[item.id] : 2,
            numericalUnit = numericalUnits.hasOwnProperty(item.id) ? numericalUnits[item.id] : 'original',
            fixedNum = fixedNums.hasOwnProperty(item.id) ? fixedNums[item.id] : false
          let unit = numericalUnit,
            precision = decimalDigit,
            isFormat = fixedNum,
            force = true
          let sameCompareShowVal = item.yearOnYearUnitValue === 'per' ? item.sameCompareRate : item.sameCompareNum
          if (item.yearOnYearUnitValue !== 'per') {
            sameCompareShowVal = handleDataUnitAndFormat(item.sameCompareNum, unit, precision, isFormat, force)
          }
          return sameCompareShowVal
        }
      },
      getCardWidth() {
        let width = '100%'
        if (this.IndicatorData.length) {
          if (this.IndicatorData.length === 1) width = '100%'
          if (this.IndicatorData.length === 2) width = '50%'
          if (this.IndicatorData.length === 3) width = '33.3%'
          if (this.IndicatorData.length >= 4) width = '25%'
        }
        return width
      },
      reportThemeStyle: function () {
        return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle || '1'
      },
    },
    methods: {
      handleClickJump(name) {
        const jumpOption = this.propertyData.configData.jumpOption//跳转配置
        if (jumpOption.openJump) {
          //跳转
          this.$parent.$parent.getJumpParam({
            left: event.zrX,
            top: event.zrY
          }, this.propertyData.dimension[0], name.split(' ')[0])
        }
      },

      getColor(propertyName) {
        let color = ''
        if (this.StyleConfig.hasOwnProperty(propertyName)) {
          color = this.StyleConfig[propertyName]
        } else {
          let theme = 'default'
          if (this.reportThemeStyle === '2') {
            theme = 'black'
          }
          color = this.propertyData.indicator.length || propertyName === 'countColor' ? CANVAS_COLOR_CONFIG[theme][propertyName] : 'transparent'
        }
        color = !this.propertyData.indicator.length && propertyName === 'valueBackgroundColor' ? 'transparent' : color
        return color
      },

      fetchData(privateDate) {
        console.log("指标组请求数据")
        this.loading = true
        this.errorCode = null
        let ind = deepCopy(this.propertyData)
        let indicator = ind.indicator
        let indUseCompare = indicator.some(item => item.useCompare)
        let indUseRingRatio = indicator.some(item => item.useRingRatio)
        let indUseYearOnYear = indicator.some(item => item.useYearOnYear)
        if (indUseCompare && (indUseRingRatio || indUseYearOnYear)) {
          let compare = indUseRingRatio
          let sameCompareType = {}
          if (indUseYearOnYear) {
            indicator.forEach(item => {
              sameCompareType[item.id] = {
                yearOnYearTypeValue: item.yearOnYearTypeValue
              }
            })
          }
          this.queryMoreCompareChartData(
            ind,
            privateDate,
            null,
            compare,
            sameCompareType
          ).then(res => {
            this.loading = false
            let errors = res.data?.errors
            if (errors) {
              let errorsKeys = Object.keys(errors)
              if (errorsKeys.length) {
                this.errorCode = errors[errorsKeys[0]].code
                return
              }
            }
            if (res.state === 'success') {
              this.buildAllData(res.data)
            } else {
              this.errorCode = res.errorCode
              this.$Message.error('指标版数据获取失败')
            }
          })
        } else {
          ind.indicator.forEach(item => item.useCompare = true)
          this.queryMoreCompareChartData(ind, privateDate, '', true).then((res) => {
            this.loading = false
            let errors = res.data?.errors
            if (errors) {
              let errorsKeys = Object.keys(errors)
              if (errorsKeys.length) {
                this.errorCode = errors[errorsKeys[0]].code
                return
              }
            }
            if (res.state === 'success') {
              if (res.data.currentData.length) {
                this.buildAllData(res.data)
              } else {
                this.errorCode = '000000'
              }
            } else {
              this.errorCode = res.errorCode
              this.$Message.error('指标版数据获取失败')
            }
          })

        }
        this.$emit('changeDefaultShow', false)
      },

      //判断是否相等
      isObjectValueEqual(a, b) {
        if (a === null || b === null) {
          return false
        }
        let aInd = a.indicator, bInd = b.indicator, aDim = a.dimension, bDim = b.dimension, indBoo = false,
          dimBoo = false
        if (aInd.length === bInd.length) {
          let aInd_arr = [], bInd_arr = []
          aInd.forEach(item => aInd_arr.push(item.id))
          bInd.forEach(item => bInd_arr.push(item.id))
          indBoo = JSON.stringify(aInd_arr.sort()) === JSON.stringify(bInd_arr.sort())
        }
        if (aDim.length === bDim.length) dimBoo = JSON.stringify(aDim.sort()) === JSON.stringify(bDim.sort())
        return indBoo === true && dimBoo === true ? true : false
      },

      //判断时间是否相等
      isTimeValueEqual(a, b) {
        if (a.startDate === null && a.endDate === null || b === null) {
          return false
        }
        return a.startDate === b.startDate && b.endDate === a.endDate ? true : false
      },

      refreshData() {
        let privateDate = { startDate: null, endDate: null }
        if (this.showPrivateDate()) {
          let startDate = this.getChartPrivateDate().startDate, endDate = this.getChartPrivateDate().endDate
          privateDate = { startDate, endDate }
        }
          if (this.propertyData && this.propertyData.indicator.length) {
            this.fetchData(privateDate)
          } else {
            this.showDefaultData()
            this.errorCode = null
          }
      },

      buildAllData(resData) {
          let currentData = adjustDataByHeaders(resData.currentData, resData.headers, this.propertyData)
          let momData = adjustDataByHeaders(resData.momData, resData.headers, this.propertyData)
          let yoyData = adjustDataByHeaders(resData.yoyData, resData.headers, this.propertyData)
          this.IndicatorData = []
          if (this.propertyData.dimension.length === 0) {
            // 纯指标
            let data = [], beforeData = [], lastPeriodData = []
            if (currentData.length) {
              data = currentData[0]
            }
            if (momData.length) {
              beforeData = momData[0]
            }
            if (yoyData.length) {
              lastPeriodData = yoyData[0]
            }
            data.forEach((item, i) => {
              let indicatorItem = this.propertyData.indicator[i]
              let obj = {
                count: item,
                title: indicatorItem.title,
                id: indicatorItem.id,
                dimensionName: '',
                useCompare: indicatorItem.useCompare,
                useRingRatio: indicatorItem.useRingRatio,
                useYearOnYear: indicatorItem.useYearOnYear,
                ringRatioUnitValue: indicatorItem.ringRatioUnitValue,
                yearOnYearUnitValue: indicatorItem.yearOnYearUnitValue,
                showType: indicatorItem.showType
              }
              if (obj.useCompare) {
                if (obj.useRingRatio) {
                  let currentBigNumData = item != null ? new BigNumber(item) : new BigNumber(0)
                  let compareBigNumData = beforeData[i] != null ? new BigNumber(beforeData[i]) : new BigNumber(0)
                  obj.compareNum = formatCompareData(currentBigNumData, compareBigNumData, { showType: 0 })
                  obj.compareRate = formatCompareData(currentBigNumData, compareBigNumData, { showType: 1 })
                }
                if (obj.useYearOnYear) {
                  let currentBigNumData = item != null ? new BigNumber(item) : new BigNumber(0)
                  let compareBigNumData = lastPeriodData[i] != null ? new BigNumber(lastPeriodData[i]) : new BigNumber(0)
                  obj.sameCompareNum = formatCompareData(currentBigNumData, compareBigNumData, { showType: 0 })
                  obj.sameCompareRate = formatCompareData(currentBigNumData, compareBigNumData, { showType: 1 })
                }
              }
              this.IndicatorData.push(obj)
            })
          } else {
            // 单维度
            this.propertyData.indicator.forEach((indicatorItem, i) => {
              currentData.forEach((dataItem, j) => {
                let dimensionName = dataItem[0]
                let obj = {
                  count: currentData[j][i + 1],
                  title: indicatorItem.title,
                  id: indicatorItem.id,
                  dimensionName: dimensionName + '-',
                  useCompare: indicatorItem.useCompare,
                  useRingRatio: indicatorItem.useRingRatio,
                  useYearOnYear: indicatorItem.useYearOnYear,
                  ringRatioUnitValue: indicatorItem.ringRatioUnitValue,
                  yearOnYearUnitValue: indicatorItem.yearOnYearUnitValue,
                  showType: indicatorItem.showType
                }
                if (obj.useCompare) {
                  if (obj.useRingRatio) {
                    let existItem = momData.find(item => item[0] === dimensionName)
                    let beforeData = null
                    if (existItem) {
                      beforeData = existItem[i + 1]
                    }
                    let currentBigNumData = obj.count != null ? new BigNumber(obj.count) : new BigNumber(0)
                    let compareBigNumData = beforeData != null ? new BigNumber(beforeData) : new BigNumber(0)
                    obj.compareNum = formatCompareData(currentBigNumData, compareBigNumData, { showType: 0 })
                    obj.compareRate = formatCompareData(currentBigNumData, compareBigNumData, { showType: 1 })
                  }
                  if (obj.useYearOnYear) {
                    let existItem = yoyData.find(item => item[0] === dimensionName)
                    let lastPeriodData = null
                    if (existItem) {
                      lastPeriodData = existItem[i + 1]
                    }
                    let currentBigNumData = obj.count != null ? new BigNumber(obj.count) : new BigNumber(0)
                    let compareBigNumData = lastPeriodData != null ? new BigNumber(lastPeriodData) : new BigNumber(0)
                    obj.sameCompareNum = formatCompareData(currentBigNumData, compareBigNumData, { showType: 0 })
                    obj.sameCompareRate = formatCompareData(currentBigNumData, compareBigNumData, { showType: 1 })
                  }
                }
                this.IndicatorData.push(obj)
              })
            })
          }
          this.errorCode = this.IndicatorData.length ? null : '000000'
      },
      /**
       * 是否使用私有日期
       * @returns {any | string | boolean}
       */
      showPrivateDate() {
        return this.propertyData.configData &&
          this.propertyData.configData.isOpenPrivateDate
      },
      showDefaultData() {
        this.$emit('changeDefaultShow', true)
        this.IndicatorData = [
          {
            id: '1',
            dimensionName: '',
            count: 100,
            compare: 0,
            title: '图例1',
            useCompare: false,
            showType: 0
          },
          {
            id: '2',
            dimensionName: '',
            count: 200,
            compare: 0,
            title: '图例2',
            useCompare: false,
            showType: 0
          }
        ]
      }

    }
  }
</script>

<style scoped lang="less">
  .boardGroup {
    padding: 20px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  .board {
    height: 160px;
  }

  .content-indicator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 10px);

    /deep/ .ivu-card-head {
      text-align: center;
      padding: 0;
    }

    /deep/ .ivu-card-body {
      width: 100%;
    }
  }

  /deep/ .ivu-card-head {
    padding: 0;
  }

  .text-center {
    text-align: center;
    height: 100%;
    padding: 16px;
  }

  .verticalCard {
    font-size: 12px;

    /deep/ .ivu-card-head {
      height: 50px;
      border-bottom: none;
    }

    /deep/ .ivu-card-body {
      height: 90%;
      padding: 0;
    }
  }

  .horizontalCard {
    font-size: 12px;
  }

  .title-indicator {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    padding: 0 12px;
  }

  .Icon-folder {
    font-size: 40px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    color: rgb(136, 135, 135);
  }

  /deep/ .verticalCard {
    background: transparent;
    border: 1px solid transparent;

    .ivu-card-body {
      background: transparent;
    }
  }
</style>
