<template>
  <div class="indicatorFilter">
    <div v-if="!defaultShow">
    </div>
    <div v-else>
      <div class="defaultMessage">请选择筛选指标</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    chartId: {
      type: String,
      default: null
    },
    propertyData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    propertyStyle: {
      type: Object,
      default: () => {
        return {}
      }
    },
    defaultShow: {
      type: Boolean,
      default: true
    }
  },
  watch: {
    'propertyData.configData.filterIndicator': {
      handler: function(val) {
        if(val) {
          this.$emit('changeDefaultShow', false)
        } else {
          this.$emit('changeDefaultShow', true)
        }
      },
      immediate: true
    }
  }
}
</script>

<style lang="less" scoped>
.indicatorFilter {
  .defaultMessage {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.50);
    padding: 10px 16px 10px 42px;
  }
}
</style>