<template>
  <div class="drawing-area" ref="drillDownLine">
    <div style="width: 100%; text-align: center; display: flex; justify-content: center; z-index: 9" v-if="configData?.drillDownOption && configData?.drillDownOption.opened&& drillDownBreadcrumbItems.length > 1" >
      <div v-for="(item, idx) in drillDownBreadcrumbItems" :key="item.title">
        <span v-if="idx !== 0" > > </span>
        <span :class="{'drillDownItem':'drillDownItem', 'drillDownActive': configData?.drillDownOption.drillDownStep - 1 === idx}"
              @click="handleClickDrillDown($event, item, idx, 'drillDownLine')">{{item.title}}</span>
      </div>
    </div>
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode"></no-data>
    <chart-line
      :chartId="chartId"
      :imgHeight="imgHeight"
      :propertyStyle="propertyStyle"
      :value="lineData"
      class="chart-area"
      ref="cl"
      :configData="propertyData.configData"
      :propertyData="propertyData"
      :isIntelligentAnswer="isIntelligentAnswer"
      v-else
    />
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import { ChartLine } from '_c/charts'
import NoData from '@/view/components/no-data'
import _ from 'lodash'
import BaseChart from '@/view/report/chart/basics/BaseChart'
import BigNumber from 'bignumber.js'
import { adjustDataByHeaders, sortingProcess } from '@/utils/common'
import mixin from "@/view/report/chart/mixin/ChartMixin";
import seriesMixin from "@/view/report/chart/mixin/seriesMixin";

export default {
  name: 'SimpleLine',
  mixins: [ mixin, seriesMixin ],
  extends: BaseChart,
  components: {
    ChartLine,
    NoData,
  },
  props: {
    chartId: {
      type: String,
      default: null
    },
    propertyData: {
      type: Object,
      default: null
    },
    defaultImg: {
      default: null
    },
    propertyStyle: {
      type: Object,
      default: null
    },
    startDate: {
      type: String,
      default: null
    },
    endDate: {
      type: String,
      default: null
    },
    imgHeight: {
      type: Number,
      default: null
    },
    chartSwitchType: {
      type: String,
      default: 'SimpleLine'
    },
    defaultShow: {
      type: Boolean,
      default: true
    },
    isChild: {
      type: Boolean,
      default: false
    },
    usePage: {
      type: Boolean,
      default: false
    },
    isIntelligentAnswer: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      lineData: {},
      loading: false,
      errorCode: null,
      height: 95,
    }
  },
  computed: {
    configData() {
      return this.propertyData && this.propertyData.configData
    },
    drillDownBreadcrumbItems() {
      return this.configData?.drillDownOption.drillDownTagList.filter(item => item.arrive)
    }
  },
  mounted() {
    if (this.propertyData?.dimension?.length && this.propertyData?.indicator?.length) {
      this.fetchData()
    } else {
      this.showDefaultData()
    }
  },
  watch: {
    imgHeight(val, old) {
      if(val < old) this.height = 95
      if(val > old) this.height -= val
    },
    chartSwitchType(val, old) {
      this.switchChartByType(val)
    },
  },

  methods: {
    resize() {
      this.$refs.cl.resize()
    },
    fetchChartDataForPage(startDate, endDate) {
      this.queryChartDataForPage(this.propertyData, {startDate, endDate }).then(res => {
        this.loading = false
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if (res.state === 'success') {
          const resData = res.data.currentData
          if (resData && resData.length !== 0) {
            this.refreshLineChart(resData, res.data.headers)
          } else {
            this.errorCode = '000000'
          }
        } else {
          this.errorCode = res.errorCode
        }
      })
    },
    fetchChartDataWithCompare(startDate, endDate) {
      let compare = false
      let sameCompareType = ''
      if(this.propertyData.configData.compareType === 'useYearOnYear') {
        if(this.propertyData.configData.yearOnYearTypeValue === 'yoy') {
          sameCompareType = 'yoy'
        } else {
          sameCompareType = 'mom'
        }
      } else {
        compare = true
      }
      this.queryMoreCompareChartData(
        this.propertyData,
        { startDate, endDate },
        null,
        compare,
        sameCompareType
      ).then(res => {
        this.loading = false
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if(res.state === 'success') {
          const resData = res.data
          if (resData.currentData?.length) {
            let data = resData.currentData
            let compareData = []
            if(compare) {
              // 环比
              compareData = resData.momData
            } else {
              // 同比
              compareData = resData.yoyData
            }
            let newData = []
            data.forEach((item, index) => {
              let findItem = compareData.find(compareItem => {
                return compareItem[0] === item[0]
              })
              if(findItem) {
                let newItem = [item[0]]
                for(let i=1; i<item.length; i++) {
                  if(item[i] === null || findItem[i] === null) {
                    newItem.push(null)
                  } else {
                    newItem.push(BigNumber(item[i]).minus(findItem[i]).toNumber())
                  }
                }
                newData.push(newItem)
              } else {
                newData.push(item)
              }
            })
            this.refreshLineChart(newData, resData.headers)
          } else {
            this.errorCode = '000000'
          }
        } else {
          this.errorCode = res.errorCode
        }
      })
    },
    fetchChartData(startDate, endDate) {
      this.queryMoreCompareChartData(this.propertyData, {startDate, endDate }).then(res => {
        this.loading = false
        this.errorCode = null
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if (res.state === 'success') {
          const resData = res.data
          if (resData?.currentData?.length) {
            this.refreshLineChart(resData.currentData, resData.headers)
          } else {
            this.errorCode = '000000'
          }
        } else {
          this.errorCode = res.errorCode
        }
      })
    },
    fetchData() {
      console.log('请求折线图数据')
      this.loading = true
      this.errorCode = null
      const startDate = this.getChartPrivateDate().startDate;
      const endDate = this.getChartPrivateDate().endDate;
      if(this.usePage) {
        this.fetchChartDataForPage(startDate, endDate)
      } else if(this.propertyData?.configData?.useCompare) {
        this.fetchChartDataWithCompare(startDate, endDate)
      } else {
        this.fetchChartData(startDate, endDate)
      }
      this.$emit('changeDefaultShow', false)
    },
    /**
     * 重置上次图表选择的和指标
     */
    resetLastDataProperty() {
      this.prevDimension = this.propertyData.dimension.toString()
      this.preIndicator = JSON.stringify(this.propertyData.indicator)
    },
    refreshData() {
      const {configData} = this.propertyData
      const {linkOption} = configData
      // 如果数据属性条件齐全则请求数据(目前只支持一个指标)
      if (this.propertyData && this.propertyData.dimension.length && this.propertyData.indicator.length) {
        if (!this.prevDimension || !this.preIndicator) {
          this.resetLastDataProperty()
        } else if(linkOption && linkOption.chartLinkIsOpen &&
          (this.propertyData.dimension.toString() !== this.prevDimension
          || JSON.stringify(this.propertyData.indicator) !== this.preIndicator)) {
          // 如果图表联动开启，当前图表为主联动图表，需要通知所有被联动图表还原显示原始数据；如果当前图表是被联动图表则自身还原显示原始数据
          this.resetLastDataProperty()
          this.cancelChartLink()
        }
        this.fetchData()
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },

    cancelChartLink() {
      this.$refs['cl'] && this.$refs['cl'].clearChartLink(true)
    },
    resetChartDrillDown() {
      this.$refs['cl'] && this.$refs['cl'].resetChartDrillDown()
    },
    refreshLegendData () {
      let legendData = []
      _.forEach(this.propertyData.indicator, indicatorId => {
        const indicators = this.getAllIndicators()
        const indicator = _.find(indicators, item => item.id === indicatorId)
        if (indicator) {
          legendData.push(indicator.name)
        }
      })
      return legendData
    },
    async refreshLineChart(resData, headers) {
      let legend = []
      let xAxis = []
      let series = []
      let newResData = adjustDataByHeaders(
        resData, headers, this.propertyData
      )

      // 存在系列
      let dimensionMember = []
      if (this.propertyData?.series?.length) {
        dimensionMember = await this.getDimensionMember(this.propertyData)
        newResData = this.adjustDataBySeries(newResData, dimensionMember)
      }

      // 排序处理
      newResData = sortingProcess(newResData, this.propertyData)

      // 存在系列
      if (this.propertyData?.series?.length) {
        const { legend,  xAxis, series } = this.getChartDataBySeries(newResData, dimensionMember, this.propertyData, "line")
        this.lineData = {
          legend,
          xAxis,
          series
        }
        return
      }

      let thresholdsColorList = ['#6DD400', '#32C5FF', '#FA8700', '#FF1F00']
      let colorIndex = 0
      let indicatorLength = this.propertyData.indicator.length
      this.propertyData.indicator.forEach(indicatorItem => {
        let markLine = {
          symbol: ['none', 'none'],
          label: {
            show: false,
            position: 'middle',
            formatter: function(params) {
              return params.name + params.value
            }
          },
          emphasis: {
            label: { show: true }
          },
          animation: false,
          data: []
        }
        if (indicatorItem.thresholds && indicatorItem.thresholds.length > 0 && indicatorItem.useThreshold) {
          indicatorItem.thresholds.forEach(item => {
            // showType为百分比时，label加%
            if (indicatorItem.showType === 1) {
              markLine.label.formatter = function(params) {
                return indicatorItem.title + '·' + params.name + ':' + params.value + '%'
              }
            } else {
              markLine.label.formatter = function(params) {
                return indicatorItem.title + '·' + params.name + ':' + params.value
              }
            }
            markLine.data.push({ name: item.name, yAxis: item.value, lineStyle: { color: thresholdsColorList[colorIndex++] } })
          })
        }
        // echarts的name使用指标名加父指标组名拼接
        let name = indicatorItem.abbrName || indicatorItem.title
        if (indicatorItem.parentName) {
          name += this.GLOBAL.separator + indicatorItem.parentName
        }
        series.push({
          name: name,
          type: 'line',
          data: [],
          showType: indicatorItem.showType,
          markLine: markLine
        })
        let legendItem = {
          name: name,
          originName: indicatorItem.abbrName || indicatorItem.title,
          parentName: indicatorItem.parentName || '',
          id: indicatorItem.id,
        }
        legend.push(legendItem)
      })

      newResData.forEach(item => {
        xAxis.push(item[0])
        for (let i = 1; i <= indicatorLength; i++) {
          series[i - 1].data.push(item[i] !== null ? item[i] : 0)
        }
      })

      this.lineData = {
        legend: legend,
        xAxis,
        series
      }
    },
    switchChartByType(type) {
      if (type === this.lineChartType || type === this.barChartType) {
        const chartType = type === this.lineChartType ? 'line' : 'bar'
        this.lineData.series && this.lineData.series.forEach(item => item.type = chartType)
      }
    },
    showDefaultData() {
      this.$emit('changeDefaultShow', true)
      this.lineData = {
        legend: ['图例1', '图例2', '图例3', '图例4'],
        xAxis: ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
        series: [
          {
            data: [80, 90, 70, 50, 60, 60, 80, 70],
            name: '图例1',
            type: 'line',
            showSymbol: false,
            smooth: false
          },
          {
            data: [60, 70, 80, 60, 40, 50, 70, 60],
            name: '图例2',
            type: 'line',
            showSymbol: false,
            smooth: false
          },
          {
            data: [40, 30, 50, 40, 30, 30, 35, 50],
            name: '图例3',
            type: 'line',
            showSymbol: false,
            smooth: false
          },
          {
            data: [20, 25, 30, 35, 30, 35, 40, 30],
            name: '图例4',
            type: 'line',
            showSymbol: false,
            smooth: false
          }
        ]
      }
    }
  }
}
</script>

<style scoped>
  .chart-area {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .drillDownItem {
    margin-right: 5px;
    cursor: pointer;
  }
  .drillDownActive {
    color: #3f73ff;
  }
</style>
