<template>
  <div class="drawing-area" ref="drillDownLineBar">
    <div style="width: 100%; text-align: center; display: flex; justify-content: center; z-index: 9" v-if="configData.drillDownOption && configData.drillDownOption.opened&& drillDownBreadcrumbItems.length > 1" >
      <div v-for="(item, idx) in drillDownBreadcrumbItems" :key="item.title">
        <span v-if="idx !== 0" > > </span>
        <span :class="{'drillDownItem':'drillDownItem', 'drillDownActive': configData.drillDownOption.drillDownStep - 1 === idx}"
              @click="handleClickDrillDown($event, item, idx, 'drillDownLineBar')">{{item.title}}</span>
      </div>
    </div>
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode"></no-data>
    <chart-line-bar ref="clb" class="chart-area" :value="linebarData" :chartId="chartId" :editable="editable" :propertyStyle="propertyStyle" :configData="propertyData.configData" :propertyData="propertyData" v-else/>
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import { ChartLineBar } from '_c/charts'
import NoData from '@/view/components/no-data'
import BaseChart from '@/view/report/chart/basics/BaseChart'
import BigNumber from 'bignumber.js'
import { adjustDataByHeaders, sortingProcess } from '@/utils/common'
import mixin from "@/view/report/chart/mixin/ChartMixin";
export default {
  name: 'MixLineBar',
  mixins: [ mixin ],
  extends: BaseChart,
  components: {
    ChartLineBar,
    NoData,
  },
  props: {
    chartId: {
      type: String,
      default: null
    },
    editable: {
      type: Boolean,
      default: true
    },
    propertyData: {
      type: Object,
      default: null
    },
    defaultImg: {
      default: null
    },
    imgHeight: {
      type: Number,
      default: null
    },
    propertyStyle: {
      type: Object,
      default: null
    },
    startDate: {
      type: String,
      default: null
    },
    endDate: {
      type: String,
      default: null
    },
    chartSwitchType: {
      type: String,
      default: 'MixLineBar'
    },
    defaultShow: {
      type: Boolean,
      default: true
    },
    isChild: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      linebarData: {},
      loading: false,
      errorCode: null,
      // defaultShow: true,
      height: 95
    }
  },
  computed: {
    configData() {
      return this.propertyData && this.propertyData.configData
    },
    drillDownBreadcrumbItems() {
      return this.configData.drillDownOption.drillDownTagList.filter(item => item.arrive)
    }
  },
  mounted() {
    if (this.propertyData && this.propertyData.dimension.length && this.propertyData.indicator.length) {
      this.fetchData()
    } else {
      this.showDefaultData()
    }
  },
  methods: {
    resize () {
      this.$refs.clb.resize()
    },
    fetchData() {
      this.loading = true
      this.errorCode = null
      let startDate = this.getChartPrivateDate().startDate
      let endDate = this.getChartPrivateDate().endDate
      if(this.propertyData.configData.useCompare) {
        let compare = false
        let sameCompareType = ''
        if(this.propertyData.configData.compareType === 'useYearOnYear') {
          if(this.propertyData.configData.yearOnYearTypeValue === 'yoy') {
            sameCompareType = 'yoy'
          } else {
            sameCompareType = 'mom'
          }
        } else {
          compare = true
        }
        this.queryMoreCompareChartData(
          this.propertyData,
          { startDate, endDate },
          null,
          compare,
          sameCompareType
        ).then(res => {
          this.loading = false
          let errors = res.data?.errors
          if (errors) {
            let errorsKeys = Object.keys(errors)
            if (errorsKeys.length) {
              this.errorCode = errors[errorsKeys[0]].code
              return
            }
          }
          if(res.state === 'success') {
            const resData = res.data
            if (resData.currentData?.length) {
              let data = resData.currentData
              let compareData = []
              if(compare) {
                // 环比
                compareData = resData.momData
              } else {
                // 同比
                compareData = resData.yoyData
              }
              let newData = []
              data.forEach((item, index) => {
                let findItem = compareData.find(compareItem => {
                  return compareItem[0] === item[0]
                })
                if(findItem) {
                  let newItem = [item[0]]
                  for(let i=1; i<item.length; i++) {
                    if(item[i] === null || findItem[i] === null) {
                      newItem.push(null)
                    } else {
                      newItem.push(BigNumber(item[i]).minus(findItem[i]).toNumber())
                    }
                  }
                  newData.push(newItem)
                } else {
                  newData.push(item)
                }
              })
              this.refreshLineBarChart(newData, resData.headers)
            } else {
              this.errorCode = '000000'
            }
          } else {
            this.errorCode = res.errorCode
          }
        })
      } else {
        this.queryMoreCompareChartData(this.propertyData, { startDate, endDate }).then(res => {
          this.loading = false
          let errors = res.data?.errors
          if (errors) {
            let errorsKeys = Object.keys(errors)
            if (errorsKeys.length) {
              this.errorCode = errors[errorsKeys[0]].code
              return
            }
          }
          if (res.state === 'success') {
            const resData = res.data
            if (resData?.currentData?.length) {
              // 默认设置第一个为柱形
              if(this.propertyData.indicator.length && this.propertyData.indicator[0].lineBarType == null){
                this.$set(this.propertyData.indicator[0], 'lineBarType', true)
              }
              this.refreshLineBarChart(resData.currentData, resData.headers)
            } else {
              this.errorCode = '000000'
            }
          } else {
            this.errorCode = res.errorCode
          }
        })
      }
      this.$emit('changeDefaultShow', false)
    },
    refreshData() {
      // 如果数据属性条件齐全则请求数据(目前只支持一个指标)
      if (this.propertyData && this.propertyData.dimension.length && this.propertyData.indicator.length) {
        this.fetchData()
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },
    refreshLineBarChart(resData, headers) {
      let legend = []
      let xAxis = []
      let series = []
      let newResData = adjustDataByHeaders(
        resData, headers, this.propertyData
      )

      // 排序处理
      newResData = sortingProcess(newResData, this.propertyData)

      let thresholdsColorList = ['#6DD400', '#32C5FF', '#FA8700', '#FF1F00']
      let colorIndex = 0
      let indicatorLength = this.propertyData.indicator.length
      let barLength = this.propertyData.indicator.filter(item => item.lineBarType).length
      this.propertyData.indicator.forEach((indicatorItem, index) => {
        let markLine = {
          symbol: ['none', 'none'],
          label: {
            show: false,
            position: 'middle',
            formatter: function(params) {
              return params.name + params.value
            }
          },
          emphasis: {
            label: { show: true }
          },
          animation: false,
          data: []
        }
        if (indicatorItem.thresholds && indicatorItem.thresholds.length > 0 && indicatorItem.useThreshold) {
          indicatorItem.thresholds.forEach(item => {
            // showType为百分比时，label加%
            if (indicatorItem.showType === 1) {
              markLine.label.formatter = function(params) {
                return indicatorItem.title + '·' + params.name + ':' + params.value + '%'
              }
            } else {
              markLine.label.formatter = function(params) {
                return indicatorItem.title + '·' + params.name + ':' + params.value
              }
            }
            markLine.data.push({ name: item.name, yAxis: item.value, lineStyle: { color: thresholdsColorList[colorIndex++] } })
          })
        }
        // barLength不为0时，存在柱形图，按正常规则
        // barLength为0时，不按正常规则，type都为line，yAxisIndex为0，轴在左侧
        // echarts的name使用指标名加父指标组名拼接
        let name = indicatorItem.abbrName || indicatorItem.title
        if (indicatorItem.parentName) {
          name += this.GLOBAL.separator + indicatorItem.parentName
        }
        series.push({
          id: indicatorItem.id,
          name: name,
          type: barLength ? (indicatorItem.lineBarType ? 'bar' : 'line') : 'line',
          yAxisIndex: barLength ? (indicatorItem.lineBarType ? 0 : 1) : 0,
          // stack: '总量',
          data: [],
          showType: indicatorItem.showType,
          markLine: markLine
        })
        let legendItem = {
          name: name,
          originName: indicatorItem.abbrName || indicatorItem.title,
          parentName: indicatorItem.parentName || '',
          id: indicatorItem.id,
        }
        legend.push(legendItem)
      })

      newResData.forEach(item => {
        xAxis.push(item[0])
        for (let i = 1; i <= indicatorLength; i++) {
          series[i - 1].data.push(item[i] !== null ? item[i] : 0)
        }
      })
      this.linebarData = {
        legend,
        xAxis,
        series
      }
    },
    showDefaultData() {
      this.$emit('changeDefaultShow', true)
      this.linebarData = {
        legend: ['图例1', '图例2'],
        xAxis: ['07-08', '07-09', '07-10', '07-11', '07-12'],
        series: [
          {
            data: [80, 90, 70, 50, 60],
            name: '图例1',
            type: 'bar',
            yAxisIndex: 0
          },
          {
            data: [60, 70, 80, 60, 40],
            name: '图例2',
            type: 'line',
            yAxisIndex: 1,
            showSymbol: false,
            smooth: false
          }
        ]
      }
    }
  },
  watch: {
    imgHeight(val, old) {
      if(val < old) this.height = 95
      if(val > old) this.height -= val
    },
  }
}
</script>

<style scoped>
  .chart-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  .drillDownItem {
    margin-right: 5px;
    cursor: pointer;
  }
  .drillDownActive {
    color: #3f73ff;
  }
</style>
