<template>
  <div class="drawing-area">
    <div
      :style="{
        zIndex: 999,
        position: 'absolute',
        bottom: 0,
        height: height + '%',
        width: '99%',
        background: 'url(' + mapImg + ') rgba(255, 255, 255, 1) no-repeat ',
        backgroundSize: '100% 100%',
      }"
      v-show="defaultShow"
    ></div>

    <NoData v-if="errorCode" :chartType="chartId" :error-code="errorCode" />
    <ChartMap
      ref="cm"
      class="chart-area"
      :value="mapData"
      :chartId="chartId"
      :configData="propertyData.configData"
      :propertyStyle="propertyStyle"
      v-else
    />
    <Spin size="large" fix v-if="loading" />
  </div>
</template>

<script>
import BaseChart from "@/view/report/chart/basics/BaseChart";
import { ChartMap } from "_c/charts";
import NoData from "@/view/components/no-data";

export default {
  name: "Map",
  extends: BaseChart,
  components: {
    ChartMap,
    NoData
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    defaultImg: {
      type: Object,
      default: () => ({}),
    },
    imgHeight: {
      type: Number,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    startDate: {
      type: String,
      default: null,
    },
    endDate: {
      type: String,
      default: null,
    },
    chartSwitchType: {
      type: String,
      default: "SimpleMap",
    },
    isChild: {
      type: Boolean,
      default: false
    },

  },
  data() {
    return {
      mapData: [],
      loading: false,
      errorCode: null,
      defaultShow: true,
      height: 95
    };
  },
  computed: {
    currentSelectChartStyle() {
      return (
        this.$store.state.chart.currentSelectChart &&
        this.$store.state.chart.currentSelectChart.style
      );
    },
    mapImg() {
      return this.defaultImg.map
    },
    configData() {
      return this.propertyData && this.propertyData.configData
    },
  },
  mounted() {
    if (this.propertyData.dimension.length && this.propertyData.indicator.length) {
      this.defaultShow = false
      this.fetchData()
    } else {
      this.showDefaultData()
    }
  },
  methods: {
    resize() {
      this.$refs.cm.resize()
    },
     refreshData () {
      // 如果数据属性条件齐全则请求数据(目前只支持一个指标)
      if (this.propertyData && this.propertyData.dimension.length && this.propertyData.indicator.length) {
        this.fetchData()
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },
    fetchData () {
      console.log('请求地图数据')
      this.loading = true
      this.errorCode = null
      let startDate = this.getChartPrivateDate().startDate
      let endDate = this.getChartPrivateDate().endDate
      this.fetchChartData(startDate, endDate)
      this.$emit('changeDefaultShow', false)
    },
    fetchChartData(startDate, endDate) {
      this.queryMoreCompareChartData( this.propertyData, { startDate, endDate }).then(res => {
        console.log("请求地图数据", res)
        this.loading = false
        this.errorCode = null
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if (res.state === 'success') {
          const resData = res.data
          if (resData?.currentData?.length) {
            this.refreshMapChart(resData.currentData) //刷新地图
          } else {
            this.errorCode = '000000'
          }
        } else {
          this.errorCode = res.errorCode
        }
        this.resetLastDataProperty()
      })
    },
    showDefaultData() { //使用默认的数据
      this.defaultShow = false
      this.$emit('changeDefaultShow', true)
      const data = [
        { name: "四川", value: 117.591200615 },
        { name: "广东省", value: 21096569.4112067 },
        { name: "重庆市", value: 19260954.939999826 },
        { name: "湖南省", value: 16602231.9112000354 },
        { name: "河南省", value: "16397873.250000281" },
        { name: "湖北省", value: 15485337.47000025 },
        { name: "广西", value: 11769933.11120012 },
        { name: "江苏省", value: 11250641.340000082 },
        { name: "贵州省", value: 8367416.370000018 },
        { name: "云南省", value: 7419449.189999985 },
        { name: "江西省", value: 7294318.229999969 },
        { name: "天津市", value: 7012014.470000001 },
        { name: "安徽省", value: 6485427.21999997 },
        { name: "福建省", value: 4915653.559999971 },
        { name: "浙江省", value: 3984981.049999994 },
        { name: "陕西省", value: 3203265.9599999916 },
        { name: "新疆", value: 2823861.829999999 },
        { name: "山东省", value: 2361845.45 },
        { name: "山西省", value: 1762341.7299999963 },
        { name: "海南省", value: 971671.2200000006 },
        { name: "河北省", value: 914571.8200000002 },
        { name: "宁夏", value: 675999.9500000002 },
        { name: "青海省", value: 617040.8700000005 },
        { name: "甘肃省", value: 359584.2799999999 },
        { name: "黑龙江", value: 304367.26 },
        { name: "西藏", value: 63231.50999999998 },
        { name: "内蒙古", value: 21341.579999999998 },
        { name: "辽宁省", value: 18716.33999999999 }
      ]
      this.mapData = data
    },
    refreshMapChart(resData = []) {
      const data = resData.map(ele => ({ name: ele[0], value: ele[1] }))
      this.mapData = data
    },

    /**
     * 重置上次图表选择的和指标
     */
    resetLastDataProperty() {
      this.prevDimension = this.propertyData.dimension.toString()
      this.preIndicator = JSON.stringify(this.propertyData.indicator)
    },
  }
}
</script>

<style lang="less" scoped>
.chart-area {
  height: 100%;
  width: 100%;
}
</style>
