<template>
  <div class="mixFilter" @click="resetActiveIndex">
    <div v-if="!defaultShow">
      <div v-for="(item, index) in mixFilterList"
        class="filterItem"
        :class="activeIndex === index && (currentSelectChart.parentId === chartData.chartId) ? 'activeClass' : ''"
        @mousedown="filterMouseDown($event, item, index)"
        @click="filterClick($event, item, index)">
        <img v-if="item.id === 'DimensionFilter'" src="@/assets/icons/chart/chart_type/dimensionFilter_black.svg" class="componentImg" />
        <img v-else-if="item.id === 'IndicatorFilter'" src="@/assets/icons/chart/chart_type/indicatorFilter_black.svg" class="componentImg" />
        {{ item.style.title }}
        <div class="deleteBtn" @mousedown="removeMouseDownChart($event, item, index)" @click="removeChart($event, item)">
          <Icon type="md-close" size="20" style="cursor: pointer;margin: 2px;" title="移除"></Icon>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="defaultMessage">请关联筛选器</div>
    </div>
    <div class="btnsBox">
      <Button class="secondary-btn" @click="resetMixFilter">重置</Button>
      <Button type="primary" class="main-btn" @click="searchMixFilter">查询</Button>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  props: {
    chartId: {
      type: String,
      default: null
    },
    chartData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    propertyData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    propertyStyle: {
      type: Object,
      default: () => {
        return {}
      }
    },
    defaultShow: {
      type: Boolean,
      default: true
    }
  },
  inject: ['isDelete', 'deleteChart'],
  computed: {
    currentSelectChart() {
      return this.$store.state.chart && this.$store.state.chart.currentSelectChart
    },
    storeChartList() {
      return this.$store.state.chart.chartList
    }
  },
  data() {
    return {
      mixFilterList: [],
      activeIndex: null
    }
  },
  mounted() {
    this.getMixFilterList(this.propertyData.configData.relativeFilterList)
  },
  methods: {
    ...mapActions(['setCurrentSelectChart']),
    getMixFilterList(relativeFilterList = []) {
      let mixFilterList = []
      mixFilterList = this.storeChartList.filter(item => {
        return relativeFilterList.includes(item.chartId)
      })
      this.mixFilterList = mixFilterList
    },
    filterMouseDown(e, item, index) {
      e.stopPropagation()
      this.$parent.$parent.onDeactivated(item)
    },
    filterClick(e, item, index) {
      e.stopPropagation();
      this.activeIndex = index
      this.$parent.$parent.resetSelectChart(item, null)
    },
    resetMixFilter(e) {
      let relativeFilterList = this.propertyData.configData.relativeFilterList
      if(relativeFilterList) {
        this.storeChartList.forEach(item => {
          if(relativeFilterList.includes(item.chartId)) {
            item.data.configData.conditionValue = ''
            if(item.id === 'IndicatorFilter') {
              item.data.configData.valueTitle = ''
              let { filterIndicatorTitle } = item.data.configData
              if(filterIndicatorTitle) {
                item.style.title = filterIndicatorTitle
              }
            } else if(item.id === 'DimensionFilter') {
              let { filterDimensionTitle } = item.data.configData
              if(filterDimensionTitle) {
                item.style.title = filterDimensionTitle + '：全部'
              }
            }
          }
        })
      }
      this.resetActiveIndex()
    },
    removeMouseDownChart(e, item, index) {
      this.isDelete = true
      e.stopPropagation()
      this.activeIndex = index
      this.$parent.$parent.resetSelectChart(item, null)
    },
    removeChart(e, item) {
      this.$Modal.confirm({
        title: '确定要删除当前选中的图表吗',
        content: '',
        onOk: () => {
          this.resetActiveIndex()
          if(Number(this.propertyStyle.height) > 48) {
            this.propertyStyle.height -= 48
          } else {
            this.propertyStyle.height = 48
          }
          this.propertyData.configData.relativeFilterList = this.propertyData.configData.relativeFilterList.filter(relativeItem => relativeItem !== item.chartId)
          this.deleteChart(item)
        },
        onCancel: () => {
        }
      })
    },
    searchMixFilter(e) {
      let relativeFilterList = this.propertyData.configData.relativeFilterList
      let relativeComponentList = []
      this.storeChartList.forEach(item => {
        if(item.id === 'DimensionFilter' || item.id === 'IndicatorFilter') {
          if(relativeFilterList.includes(item.chartId)) {
            relativeComponentList = relativeComponentList.concat(item.data.configData.relativeComponentList)
          }
        }
      })
      let uniqueRelativeComponentList = [...new Set(relativeComponentList)]
      this.$store.state.chart.chartVNodeList.forEach(item => {
        let chart = item.$refs.chart
        if(uniqueRelativeComponentList.find(item => item === chart.chartId)) {
          chart.refreshData && chart.refreshData()
        }
      })
      this.resetActiveIndex()
    },
    resetActiveIndex() {
      this.activeIndex = null
    }
  },
  watch: {
    'propertyData.configData.relativeFilterList': {
      handler(val) {
        if(val.length) {
          this.$emit('changeDefaultShow', false)
          this.getMixFilterList(val)
        } else {
          this.$emit('changeDefaultShow', true)
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
.mixFilter {
  padding: 10px 14px;
  .filterItem {
    position: relative;
    width: calc(~'100% - 200px');
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 12px;
    font-size: 14px;
    color: #333333;
    border: 1px dashed #3F73FF;
    margin-bottom: 15px;
    .componentImg {
      margin-right: 6px;
      vertical-align: top;
    }
    .deleteBtn {
      position: absolute;
      top: 1px;
      right: 12px;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      background: #FFF;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20);
      opacity: 0;
    }
  }
  .filterItem:hover {
    .deleteBtn {
      opacity: 1;
    }
  }
  .activeClass {
    border: 1px solid #3F73FF;
    box-shadow: 0px 0px 8px 0px rgba(100,149,250,1);
  }
  .defaultMessage {
    font-size: 14px;
    color: #999999;
  }
  .btnsBox {
    position: absolute;
    right: 10px;
    bottom: 8px;
    .ivu-btn.ivu-btn-primary {
      margin-left: 10px;
    }
  }
}
</style>
