<template>
  <div class="drawing-area">
    <div
      :style="{
        zIndex: 999,
        position: 'absolute',
        bottom: 0,
        height: height + '%',
        width: '99%',
        background: 'url(' + bubbleImg + ') rgba(255, 255, 255, 1) no-repeat ',
        backgroundSize: '100% 100%',
      }"
      v-show="defaultShow"
    ></div>
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode"></no-data>
    <chart-multiple-pie
      ref="cm"
      class="chart-area"
      :value="chartData"
      :chartId="chartId"
      :propertyStyle="propertyStyle"
      v-else
    ></chart-multiple-pie>
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import BaseChart from "@/view/report/chart/basics/BaseChart";
import {ChartMultiplePie} from "_c/charts";
import NoData from "@/view/components/no-data";

export default {
  name: "MultiplePie",
  extends: BaseChart,
  components: {
    ChartMultiplePie,
    NoData
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    defaultImg: {
      type: Object,
      default: () => ({}),
    },
    imgHeight: {
      type: Number,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    startDate: {
      type: String,
      default: null,
    },
    endDate: {
      type: String,
      default: null,
    },
    chartSwitchType: {
      type: String,
      default: "SimpleBubble",
    },
  },
  data() {
    return {
      chartData: [],
      loading: false,
      errorCode: null,
      defaultShow: true,
      height: 95,
    };
  },
  computed: {
    currentSelectChartStyle: function () {
      return (
        this.$store.state.chart.currentSelectChart &&
        this.$store.state.chart.currentSelectChart.style
      );
    },
    bubbleImg() {
      return this.defaultImg.coverImg
    },
  },
  mounted() {
    this.defaultShow = false
  },
  methods: {
    resize() {
      this.$refs.cm.resize()
    },
  }
}
</script>

<style scoped>
.chart-area {
  height: 100%;
  width: 100%;
}
</style>
