<template>
  <div class="drawing-area" ref="drillDownPie">
    <div style="width: 100%; text-align: center; display: flex; justify-content: center; z-index: 9" v-if="configData.drillDownOption && configData.drillDownOption.opened&& drillDownBreadcrumbItems.length > 1" >
      <div v-for="(item, idx) in drillDownBreadcrumbItems" :key="item.title">
        <span v-if="idx !== 0" > > </span>
        <span :class="{'drillDownItem':'drillDownItem', 'drillDownActive': configData.drillDownOption.drillDownStep - 1 === idx}"
              @click="handleClickDrillDown($event, item, idx, 'drillDownPie')">{{item.title}}</span>
      </div>
    </div>
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode"></no-data>
    <chart-pie
      ref="cp"
      class="chart-area"
      :value="pieData"
      :indicatorName="indicatorName"
      :chartId="chartId"
      :propertyStyle="propertyStyle"
      :configData="propertyData.configData"
      :propertyData="propertyData"
      v-else
    ></chart-pie>
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import { ChartPie } from "_c/charts";
import NoData from "@/view/components/no-data";
import BigNumber from 'bignumber.js';
import _ from "lodash";
import BaseChart from "@/view/report/chart/basics/BaseChart";
import { handleDataUnitAndFormat } from "@/utils/formatData";
import { formatCompareData } from '@/utils/BusinessDataHandleUtil'
import { mapActions } from "vuex";
import mixin from "@/view/report/chart/mixin/ChartMixin";
export default {
  name: "SimplePie",
  mixins: [ mixin ],
  extends: BaseChart,
  components: {
    ChartPie,
    NoData,
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    defaultImg: {
      type: Object,
      default: () => ({}),
    },
    imgHeight: {
      type: Number,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    startDate: {
      type: String,
      default: null,
    },
    endDate: {
      type: String,
      default: null,
    },
    chartSwitchType: {
      type: String,
      default: "SimplePie",
    },
    defaultShow: {
      type: Boolean,
      default: true
    },
    isChild: {
      type: Boolean,
      default: false
    },
    usePage: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      pieData: [],
      loading: false,
      errorCode: null,
      indicatorName: "用户访问来源",
      // defaultShow: true,
      height: 95,
      // pieImg: null
    };
  },
  computed: {
    currentSelectChartStyle: function () {
      return (
        this.$store.state.chart.currentSelectChart &&
        this.$store.state.chart.currentSelectChart.style
      );
    },
    pieImg() {
      return this.currentSelectChartStyle &&
        this.currentSelectChartStyle.pieMode === "1"
        ? this.defaultImg.pie
        : this.defaultImg.dbPie;
    },
    configData() {
      return this.propertyData && this.propertyData.configData
    },
    drillDownBreadcrumbItems() {
      return this.configData.drillDownOption.drillDownTagList.filter(item => item.arrive)
    }
  },
  watch: {
    imgHeight(val, old) {
      if (val < old) this.height = 95;
      if (val > old) this.height -= val;
    },
  },
  mounted() {
    if (this.propertyData.dimension.length && this.propertyData.indicator.length) {
      this.fetchData()
    } else {
      this.showDefaultData()
    }
  },
  methods: {
    ...mapActions(["setChartDataNum"]),

    resize() {
      this.$refs.cp.resize();
    },
    fetchChartDataForPage(startDate, endDate, top) {
      this.queryChartDataForPage(
        this.propertyData,
        { startDate, endDate },
        top
      ).then((res) => {
        this.loading = false;
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if (res.state === "success") {
          this.defaultShow = false;
          const resData = res.data.currentData;
          if (resData && resData.length) {
            const num = resData.length;
            this.refreshPieChart(resData);
            this.setChartDataNum( num );
          } else {
            this.errorCode = '000000';
          }
        } else {
          this.errorCode = res.errorCode;
        }
      });
    },
    fetchChartDataWithCompare(startDate, endDate) {
      let compare = this.propertyData.configData.useRingRatio
      let sameCompareType = ''
      if(this.propertyData.configData.useYearOnYear) {
        sameCompareType = this.propertyData.configData.yearOnYearTypeValue
      }
      this.queryMoreCompareChartData(
        this.propertyData,
        { startDate, endDate },
        null,
        compare,
        sameCompareType
      ).then(res => {
        this.loading = false;
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if (res.state === "success") {
          const resData = res.data
          if(resData.currentData?.length && resData.currentData?.[0]?.length) {
            let data = resData.currentData
            const num = resData.currentData.length;
            this.setChartDataNum( num );
            if(resData.momData?.length && resData.momData?.[0]?.length) {
              data.forEach((item, index) => {
                let findItem = resData.momData.find(beforeItem => {
                  return beforeItem[0] === item[0]
                })
                if(findItem) {
                  item.push(findItem[1])
                } else {
                  item.push(null)
                }
              })
            }
            if(resData.yoyData?.length && resData.yoyData?.[0]?.length) {
              data.forEach((item, index) => {
                let findItem = resData.yoyData.find(lastItem => {
                  return lastItem[0] === item[0]
                })
                if(item.length === 3) {
                  if(findItem) {
                    item.push(findItem[1])
                  } else {
                    item.push(null)
                  }
                } else if(item.length === 2) {
                  item.push(null)
                  if(findItem) {
                    item.push(findItem[1])
                  } else {
                    item.push(null)
                  }
                }
              })
            }
            this.refreshPieChart(data);
          } else {
            this.errorCode = '000000';
          }
        } else {
          this.errorCode = res.errorCode;
        }
      })
    },

    fetchChartData(startDate, endDate, top) {
      this.queryMoreCompareChartData(
        this.propertyData,
        { startDate, endDate },
        top
      ).then((res) => {
        this.loading = false;
        this.errorCode = null
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if (res.state === "success") {
          this.defaultShow = false;
          const resData = res.data;
          if (resData?.currentData?.length) {
            const num = resData.currentData.length;
            this.refreshPieChart(resData.currentData);
            this.setChartDataNum( num );
          } else {
            this.errorCode = '000000';
          }
        } else {
          this.errorCode = res.errorCode;
        }
      });
    },
    fetchData() {
      console.log("请求饼图数据");
      this.loading = true;
      this.errorCode = null;
      let startDate = this.getChartPrivateDate().startDate;
      let endDate = this.getChartPrivateDate().endDate;
      // 根据设置-数据设置-指标展示设置-取topN数据显示
      const topN = _.get(this.propertyData.configData, "topN");
      let top = null;
      if (topN) {
        top = {
          indicatorId: this.propertyData.indicator[0].id,
          topNum: topN * 1,
        };
      }
      this.$emit('changeDefaultShow', false)
      if(this.usePage) {
        this.fetchChartDataForPage(startDate, endDate, top)
      } else if (this.propertyData.configData.useCompare && (this.propertyData.configData.useRingRatio || this.propertyData.configData.useYearOnYear)) {
        this.fetchChartDataWithCompare(startDate, endDate)
      } else {
        this.fetchChartData(startDate, endDate, top)
      }
    },
    /**
     * 重置上次图表选择的和指标
     */
    resetLastDataProperty() {
      this.prevDimension = this.propertyData.dimension.toString()
      this.preIndicator = JSON.stringify(this.propertyData.indicator)
    },
    refreshData() {
      const {configData} = this.propertyData
      const {linkOption} = configData
      // 如果数据属性条件齐全则请求数据
      if (
        this.propertyData &&
        this.propertyData.dimension.length &&
        this.propertyData.indicator.length
      ) {
        if (!this.prevDimension || !this.preIndicator) {
          this.resetLastDataProperty()
        } else if(linkOption && linkOption.chartLinkIsOpen
          && (this.propertyData.dimension.toString() !== this.prevDimension
            || JSON.stringify(this.propertyData.indicator) !== this.preIndicator)) {
          this.resetLastDataProperty()
          this.cancelChartLink()
        }
        this.fetchData();
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },
    cancelChartLink() {
      this.$refs['cp'] && this.$refs['cp'].clearChartLink(false)
    },
    resetChartDrillDown() {
      this.$refs['cp'] && this.$refs['cp'].resetChartDrillDown()
    },
    refreshPieChart(resData) {
      const data = [];
      resData.forEach((item, index) => {
        data.push({
          value: item[1] || 0,
          name: item[0],
        });
        if (this.propertyData.configData.useCompare && this.propertyData.configData.useRingRatio) {
          const currentBigNumData = item[1] != null ? new BigNumber(item[1]) : new BigNumber(0)
          const compareBigNumData = item[2] != null ? new BigNumber(item[2]) : new BigNumber(0)
          data[index].dayCompareRate = formatCompareData(currentBigNumData, compareBigNumData, {
            showType: 1 })
          data[index].dayCompareNum = formatCompareData(currentBigNumData, compareBigNumData, {
            showType: 0 })
        }
        if (this.propertyData.configData.useCompare && this.propertyData.configData.useYearOnYear) {
          const currentBigNumData = item[1] != null ? new BigNumber(item[1]) : new BigNumber(0)
          const compareBigNumData = item[3] != null ? new BigNumber(item[3]) : new BigNumber(0)
          data[index].sameCompareRate = formatCompareData(currentBigNumData, compareBigNumData, {
            showType: 1 })
          data[index].sameCompareNum = formatCompareData(currentBigNumData, compareBigNumData, {
            showType: 0 })
        }
      });
      const isAllDataIsZero = data.every(item => item.value === 0)
      if (isAllDataIsZero) {
        this.errorCode = '000000'
      } else {
        this.pieData = data
      }
      this.indicatorName = this.propertyData.indicator[0].title
    },
    showDefaultData() {
      this.$emit('changeDefaultShow', true)
      this.pieData = [
        {
          name: '图例1',
          value: 30
        },
        {
          name: '图例2',
          value: 24
        },
        {
          name: '图例3',
          value: 10
        },
        {
          name: '图例4',
          value: 5
        }
      ]
    }
  },
};
</script>

<style scoped>
.chart-area {
  height: 100%;
  width: 100%;
}
.drillDownItem {
  margin-right: 5px;
  cursor: pointer;
}
.drillDownActive {
  color: #3f73ff;
}
</style>
