<template>
  <div class="drawing-area" ref="drillDownRadar">
    <div
      style="
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        z-index: 9;
      "
      v-if="
        configData.drillDownOption &&
        configData.drillDownOption.opened &&
        drillDownBreadcrumbItems.length > 1
      "
    >
      <div v-for="(item, idx) in drillDownBreadcrumbItems" :key="item.title">
        <span v-if="idx !== 0"> > </span>
        <span
          :class="{
            drillDownItem: 'drillDownItem',
            drillDownActive:
              configData.drillDownOption.drillDownStep - 1 === idx,
          }"
          @click="handleClickDrillDown($event, item, idx, 'drillDownRadar')"
          >{{ item.title }}</span
        >
      </div>
    </div>
    <no-data
      v-if="errorCode"
      :chartType="chartId"
      :error-code="errorCode"
    ></no-data>
    <chart-radar
      ref="cp"
      class="chart-area"
      :value="radarseriesData"
      :radarData="radarData"
      :indicatorName="indicatorName"
      :chartId="chartId"
      :propertyStyle="propertyStyle"
      :configData="propertyData.configData"
      :propertyData="propertyData"
      v-else
    ></chart-radar>
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import { ChartRadar } from "_c/charts";
import NoData from "@/view/components/no-data";
import BigNumber from "bignumber.js";
import _ from "lodash";
import BaseChart from "@/view/report/chart/basics/BaseChart";
import { mapActions } from "vuex";
import mixin from "@/view/report/chart/mixin/ChartMixin";
export default {
  name: "BasicRadar",
  mixins: [mixin],
  extends: BaseChart,
  components: {
    ChartRadar,
    NoData,
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    defaultImg: {
      type: Object,
      default: () => ({}),
    },
    imgHeight: {
      type: Number,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    startDate: {
      type: String,
      default: null,
    },
    endDate: {
      type: String,
      default: null,
    },
    chartSwitchType: {
      type: String,
      default: "SimplePie",
    },
    defaultShow: {
      type: Boolean,
      default: true,
    },
    isChild: {
      type: Boolean,
      default: false,
    },
    usePage: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      radarseriesData: [], //serie里的data
      radarData: [], //radar里的indicator
      loading: false,
      errorCode: null,
      indicatorName: "用户访问来源",
      height: 95,
    };
  },
  computed: {
    currentSelectChartStyle: function () {
      return (
        this.$store.state.chart.currentSelectChart &&
        this.$store.state.chart.currentSelectChart.style
      );
    },
    configData() {
      return this.propertyData && this.propertyData.configData;
    },
    drillDownBreadcrumbItems() {
      return this.configData.drillDownOption.drillDownTagList.filter(
        (item) => item.arrive
      );
    },
  },
  watch: {
    imgHeight(val, old) {
      if (val < old) this.height = 95;
      if (val > old) this.height -= val;
    },
  },
  mounted() {
    if (
      this.propertyData.dimension.length &&
      this.propertyData.indicator.length
    ) {
      this.fetchData();
    } else {
      this.showDefaultData();
    }
  },
  methods: {
    ...mapActions(["setChartDataNum"]),

    resize() {
      this.$refs.cp.resize();
    },
    fetchChartDataForPage(startDate, endDate) {
      this.queryChartDataForPage(this.propertyData, {
        startDate,
        endDate,
      }).then((res) => {
        this.loading = false;
        let errors = res.data?.errors;
        if (errors) {
          let errorsKeys = Object.keys(errors);
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code;
            return;
          }
        }
        if (res.state === "success") {
          this.defaultShow = false;
          const resData = res.data.currentData;
          if (resData && resData.length) {
            this.refreshRadarChart(resData);
          } else {
            this.errorCode = "000000";
          }
        } else {
          this.errorCode = res.errorCode;
        }
      });
    },
    fetchChartDataWithCompare(startDate, endDate) {
      let compare = false;
      let sameCompareType = "";
      if (this.propertyData.configData.compareType === "useYearOnYear") {
        if (this.propertyData.configData.yearOnYearTypeValue === "yoy") {
          sameCompareType = "yoy";
        } else {
          sameCompareType = "mom";
        }
      } else {
        compare = true;
      }
      this.queryMoreCompareChartData(
        this.propertyData,
        { startDate, endDate },
        null,
        compare,
        sameCompareType
      ).then((res) => {
        this.loading = false;
        let errors = res.data?.errors;
        if (errors) {
          let errorsKeys = Object.keys(errors);
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code;
            return;
          }
        }
        if (res.state === "success") {
          const resData = res.data;
          if (resData.currentData?.length) {
            let data = resData.currentData;
            let compareData = [];
            if (compare) {
              // 环比
              compareData = resData.momData;
            } else {
              // 同比
              compareData = resData.yoyData;
            }
            let newData = [];
            data.forEach((item, index) => {
              let findItem = compareData.find((compareItem) => {
                return compareItem[0] === item[0];
              });
              if (findItem) {
                let newItem = [item[0]];
                for (let i = 1; i < item.length; i++) {
                  if (item[i] === null || findItem[i] === null) {
                    newItem.push(null);
                  } else {
                    newItem.push(
                      BigNumber(item[i]).minus(findItem[i]).toNumber()
                    );
                  }
                }
                newData.push(newItem);
              } else {
                newData.push(item);
              }
            });
            this.refreshRadarChart(newData);
          } else {
            this.errorCode = "000000";
          }
        } else {
          this.errorCode = res.errorCode;
        }
      });
    },

    fetchChartData(startDate, endDate) {
      this.queryMoreCompareChartData(this.propertyData, {
        startDate,
        endDate,
      }).then((res) => {
        this.loading = false;
        this.errorCode = null;
        let errors = res.data?.errors;
        if (errors) {
          let errorsKeys = Object.keys(errors);
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code;
            return;
          }
        }
        if (res.state === "success") {
          this.defaultShow = false;
          const resData = res.data;
          if (resData?.currentData?.length) {
            this.refreshRadarChart(resData.currentData);
          } else {
            this.errorCode = "000000";
          }
        } else {
          this.errorCode = res.errorCode;
        }
      });
    },
    fetchData() {
      console.log("请求雷达图数据");
      this.loading = true;
      this.errorCode = null;
      let startDate = this.getChartPrivateDate().startDate;
      let endDate = this.getChartPrivateDate().endDate;
      if (this.usePage) {
        this.fetchChartDataForPage(startDate, endDate);
      } else if (this.propertyData.configData.useCompare) {
        this.fetchChartDataWithCompare(startDate, endDate);
      } else {
        this.fetchChartData(startDate, endDate);
      }
      this.$emit("changeDefaultShow", false);
    },
    /**
     * 重置上次图表选择的和指标
     */
    resetLastDataProperty() {
      this.prevDimension = this.propertyData.dimension.toString();
      this.preIndicator = JSON.stringify(this.propertyData.indicator);
    },
    refreshData() {
      const { configData } = this.propertyData;
      const { linkOption } = configData;
      // 如果数据属性条件齐全则请求数据
      if (
        this.propertyData &&
        this.propertyData.dimension.length &&
        this.propertyData.indicator.length
      ) {
        if (!this.prevDimension || !this.preIndicator) {
          this.resetLastDataProperty();
        } else if (
          linkOption &&
          linkOption.chartLinkIsOpen &&
          (this.propertyData.dimension.toString() !== this.prevDimension ||
            JSON.stringify(this.propertyData.indicator) !== this.preIndicator)
        ) {
          this.resetLastDataProperty();
          this.cancelChartLink();
        }
        this.fetchData();
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },
    cancelChartLink() {
      this.$refs["cp"] && this.$refs["cp"].clearChartLink(false);
    },
    resetChartDrillDown() {
      this.$refs["cp"] && this.$refs["cp"].resetChartDrillDown();
    },
    refreshRadarChart(resData) {
      let data = [];
      let color = [
        "#5B8FF9",
        "#5AD8A6",
        "#6685BD",
        "#F6BD16",
        "#E86452 ",
        "#6DC8EC",
        "#945FB9",
        "#FF9845",
        "#1E9493",
        "#FF99C3",
      ];
      let resList = []; // radarData
      let resDataArr = [];
      let maxValue = 0;
      let forList = resData[0].slice(1, resData[0].length);
      forList.forEach((item, index) => {
        let indicatorItem = this.propertyData.indicator[index];
        let name = indicatorItem.abbrName || indicatorItem.title;
        let obj = {
          name: name,
          originName: indicatorItem.abbrName || indicatorItem.title,
          parentName: indicatorItem.parentName,
          value: resData.map((row) => {
            return row[index + 1];
          }),
          areaStyle: {
            color: color[index],
            opacity: 0.2,
          },
        };
        data.push(obj);
      });
      //寻找最大值

      resData.forEach((item, index) => {
        let arr = [];
        item.forEach((row, ind) => {
          if (ind !== 0 && (row || row === 0)) {
            arr.push(row);
          }
        });
        resDataArr = resDataArr.concat(arr);
      });
      maxValue = Math.max(...resDataArr);
      // radarData处理
      resList = resData.map((item, index) => {
        if (index === 0) {
          return {
            name: item[0],
            max: maxValue,
            min: 0,
            axisLine: {
              show: true,
              lineStyle: {
                color: "#BFBFBF",
                type: "solid",
              },
            },
            axisTick: {
              show: true,
              lineStyle: {
                color: "#BFBFBF",
                type: "solid",
              },
            },
            axisLabel: {
              show: true,
              color: "rgba(0, 0, 0, 0.65)",
            },
          };
        } else {
          return {
            name: item[0],
            max: maxValue,
            min: 0,
          };
        }
      });
      this.radarData = resList;
      const isAllDataIsZero = data.every((item) => item.value.length < 1);
      if (isAllDataIsZero) {
        this.errorCode = "000000";
      } else {
        this.radarseriesData = data;
      }
      this.indicatorName = this.propertyData.indicator[0].title;
    },
    showDefaultData() {
      this.$emit("changeDefaultShow", true);
      this.radarseriesData = [
        {
          name: "图例1",
          value: [30, 45, 42, 60, 50, 45],
          areaStyle: {
            color: "#5B8FF9",
            opacity: 0.2,
          },
        },
        {
          name: "图例2",
          value: [20, 35, 42, 50, 40, 38],
          areaStyle: {
            color: "#5AD8A6",
            opacity: 0.2,
          },
        },
      ];
      this.radarData = [
        {
          name: "系列一",
          max: 60,
          min: 0,
          axisLine: {
            show: true,
            lineStyle: {
              color: "#BFBFBF",
              type: "solid",
            },
          },
          axisTick: {
            show: true,
            lineStyle: {
              color: "#BFBFBF",
              type: "solid",
            },
          },
          axisLabel: {
            show: true,
            color: "rgba(0, 0, 0, 0.65)",
          },
        },
        { name: "系列二", max: 60, min: 0 },
        { name: "系列三", max: 60, min: 0 },
        { name: "系列四", max: 60, min: 0 },
        { name: "系列五", max: 60, min: 0 },
        { name: "系列六", max: 60, min: 0 },
      ];
    },
  },
};
</script>

<style scoped>
.chart-area {
  height: 100%;
  width: 100%;
}
.drillDownItem {
  margin-right: 5px;
  cursor: pointer;
}
.drillDownActive {
  color: #3f73ff;
}
</style>
