<template>
  <div class="drawing-area" ref="drillDownLine">
    <div style="width: 100%; text-align: center; display: flex; justify-content: center; z-index: 9" v-if="configData.drillDownOption && configData.drillDownOption.opened&& drillDownBreadcrumbItems.length > 1" >
      <div v-for="(item, idx) in drillDownBreadcrumbItems" :key="item.title">
        <span v-if="idx !== 0" > > </span>
        <span :class="{'drillDownItem':'drillDownItem', 'drillDownActive': configData.drillDownOption.drillDownStep - 1 === idx}"
              @click="handleClickDrillDown($event, item, idx, 'drillDownLine')">{{item.title}}</span>
      </div>
    </div>
    <no-data v-if="errorCode" :chartType="chartId" :error-code="errorCode"></no-data>
    <chart-Scatter
      ref="cS"
      class="chart-area"
      :style="{'height': drillDownBreadcrumbItems.length > 1 ? 'calc(100% - 18px)' : '100%' }"
      :value="scatterData"
      :chartId="chartId"
      :propertyData="propertyData"
      :configData="propertyData.configData"
      :propertyStyle="propertyStyle"
      v-else
    ></chart-Scatter>
    <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import BaseChart from "@/view/report/chart/basics/BaseChart";
import {ChartScatter} from "_c/charts";
import NoData from "@/view/components/no-data";
import { adjustDataByHeaders } from '@/utils/common'
import mixin from "@/view/report/chart/mixin/ChartMixin";

export default {
  name: "SimpleScatter",
  mixins: [ mixin ],
  extends: BaseChart,
  components: {
    ChartScatter,
    NoData
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    defaultImg: {
      type: Object,
      default: () => ({}),
    },
    imgHeight: {
      type: Number,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
    startDate: {
      type: String,
      default: null,
    },
    endDate: {
      type: String,
      default: null,
    },
    chartSwitchType: {
      type: String,
      default: "SimpleScatter",
    },
  },
  data() {
    return {
      scatterData: [],
      loading: false,
      errorCode: null,
      height: 95,
    };
  },
  computed: {
    currentSelectChartStyle: function () {
      return  this.$store.state.chart.currentSelectChart && this.$store.state.chart.currentSelectChart.style
    },
    bubbleImg() {
      return this.defaultImg.coverImg
    },
    configData() {
      return this.propertyData && this.propertyData.configData
    },
    drillDownBreadcrumbItems() {
      return this.configData.drillDownOption.drillDownTagList.filter(item => item.arrive)
    }
  },
  mounted() {
    if (this.propertyData.dimension.length && this.propertyData.indicator.length) {
      this.fetchData()
    } else {
      this.showDefaultData()
    }
  },
  methods: {
    resize() {
      this.$refs.cS.resize()
    },
    fetchData() {
      this.loading = true
      this.errorCode = null
      let startDate = this.getChartPrivateDate().startDate
      let endDate = this.getChartPrivateDate().endDate
      this.queryMoreCompareChartData(this.propertyData, {startDate, endDate }).then(res => {
        this.loading = false
        this.errorCode = null
        let errors = res.data?.errors
        if (errors) {
          let errorsKeys = Object.keys(errors)
          if (errorsKeys.length) {
            this.errorCode = errors[errorsKeys[0]].code
            return
          }
        }
        if (res.state === 'success') {
          const resData = res.data
          if (resData?.currentData?.length !== 0) {
            let newResData = adjustDataByHeaders(
              resData.currentData, resData.headers, this.propertyData
            )
            this.scatterData = newResData.map(item => item.slice(1, 3).concat(item.slice(0, 1)))
          } else {
            this.errorCode = '000000'
          }
        } else {
          this.errorCode = res.errorCode
        }
      })
      this.$emit('changeDefaultShow', false)
    },
    refreshData() {
      // 如果数据属性条件齐全则请求数据
      if (this.propertyData &&
        this.propertyData.dimension.length && this.propertyData.dimension.length === 1 &&
        this.propertyData.indicator.length && this.propertyData.indicator.length === 2) {
        this.fetchData();
      } else {
        this.showDefaultData();
        this.errorCode = null;
      }
    },
    showDefaultData() {
      this.$emit('changeDefaultShow', true)
      this.scatterData = [
        [10.0, 8.04, '2022年1月'],
        [8.07, 6.95, '2022年1月'],
        [13.0, 7.58, '2022年1月'],
        [9.05, 8.81, '2022年1月'],
        [11.0, 8.33, '2022年2月'],
        [14.0, 7.66, '2022年2月'],
        [13.4, 6.81, '2022年2月'],
        [10.0, 6.33, '2022年2月'],
        [14.0, 8.96, '2022年3月'],
        [12.5, 6.82, '2022年3月'],
        [9.15, 7.2, '2022年3月'],
        [11.5, 7.2, '2022年3月'],
        [3.03, 4.23, '2022年4月'],
        [12.2, 7.83, '2022年4月'],
        [2.02, 4.47, '2022年4月'],
        [1.05, 3.33, '2022年4月'],
        [4.05, 4.96, '2022年5月'],
        [6.03, 7.24, '2022年5月'],
        [12.0, 6.26, '2022年5月'],
        [12.0, 8.84, '2022年5月'],
        [7.08, 5.82, '2022年6月'],
        [5.02, 5.68, '2022年6月']
      ]
    }
  },
  watch: {
    imgHeight(val, old) {
      if (val < old) this.height = 95;
      if (val > old) this.height -= val;
    }
  }
}
</script>

<style scoped>
.chart-area {
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.drillDownItem {
  margin-right: 5px;
  cursor: pointer;
}
.drillDownActive {
  color: #3f73ff;
}
</style>
