<template>
  <div class="drawing-area">
    <Table row-key="id" :columns="columns" :data="data" :loading="loading"></Table>
  </div>
</template>

<script>
import BaseChart from '@/view/report/chart/basics/BaseChart'
export default {
  name: 'SimpleTable',
  extends: BaseChart,
  props: {
    chartId: {
      type: String,
      default: null
    },
    propertyData: {
      type: Object,
      default: null
    },
    startDate: {
      type: String,
      default: null
    },
    endDate: {
      type: String,
      default: null
    },
  },
  data () {
    return {
      loading: false,
      columns: [
        {
          title: 'Name',
          key: 'name',
          tree: true
        },
        {
          title: 'Age',
          key: 'age'
        },
        {
          title: 'Address',
          key: 'address'
        }
      ],
      data: [],
    }
  },
  computed: {
  },
  mounted () {
    // 表格保存数据查看还原
    if (this.propertyData.dimension.length && this.propertyData.indicator.length) {
      // todo请求表格数据
      this.fetchData(true)
    } else {
      // 拖拽下来后初始样例数据
      this.data = [{
        id: '101',
        name: 'Jim Green',
        age: 24,
        address: 'London No. 1 Lake Park'
      }, {
        id: '10100',
        name: 'John Brown',
        age: 18,
        address: 'New York No. 1 Lake Park'
      },
      {
        id: '10101',
        name: 'Joe Blackn',
        age: 30,
        address: 'Sydney No. 1 Lake Park'
      }
      ]
    }
  },
  methods: {
    fetchData (isInit) {
      console.log('请求表格数据')
      this.loading = true
      this.data = []
      let startDate = this.getChartPrivateDate().startDate
      let endDate = this.getChartPrivateDate().endDate
      this.queryChartData(this.propertyData, {startDate, endDate }).then(res => {
        this.loading = false
        if (res.state === 'success') {
          this.buildColumns(res.data, isInit)
        } else {
          this.$Message.error('表格获取报告数据失败')
        }
      })
    },
    refreshData () {
      // 如果数据属性条件齐全则请求数据
      if (this.propertyData && this.propertyData.dimension.length && this.propertyData.indicator.length) {
        // todo请求表格数据
        this.fetchData(false)
      }
    },

    buildColumns (resData,  isInit) {
      let columns = []
      const self = this
      this.propertyData.dimension.forEach(dimensionId => {
        const dimensions  = self.getAllDimensions()
        const dimension = dimensions.find(item =>
          item.id && item.id.toString() === dimensionId.toString() || item.dimensionId && item.dimensionId.toString() === dimensionId.toString())
        if (dimension) {
          columns.push({
            title: dimension.name,
            key: dimensionId
          })
        }
      })
      this.propertyData.indicator.forEach(indicatorId => {
        // 折线图切换成表格indicatorId是一个指标对象
        const id = indicatorId.id || indicatorId
        const indicators = this.getAllIndicators()
        const indicator = indicators.find(item => item.id.toString() === id.toString())
        if (indicator) {
          columns.push({
            title: indicator.name,
            key: id
          })
        }
      })
      this.columns = columns
      this.refreshTableData(resData, isInit)
    },
    refreshTableData (resData, isInit) {
      if (!resData || resData && resData.length === 0) {
        this.data = []
        return
      }
      let dataArr = []
      const self = this
      resData.forEach((item, index) => {
        let data = {}
        for (let i = 0; i < resData[0].length; i++) {
          data[self.columns[i].key] = item[i]
        }
        dataArr.push(data)
      })
      // debugger
      this.data = dataArr
    }
  },
  watch: { }
}
</script>

<style scoped>
</style>
