.calendar-container {
  background-color: #ffffff;
}

.date-box > .date-thead > span {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
  padding: 6px 19px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.date-box > .date-tbody > .date-tr {
  margin: 10px 0px;
}

.date-box > .date-tbody > .date-tr > span {
  display: inline-block;
}

.date-box > .date-tbody > .date-tr > span > a {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  padding: 6px 19px;
  width: 30px;
  height: 30px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
}

.date-box > .date-tbody > .date-tr > span.calendar-td-equal-start > a,.date-box > .date-tbody > .date-tr > span.calendar-td-equal-end > a  {
  background-color: #3F73FF;
  color: #ffffff;
  padding: 6px 5px;
  margin-left: 10px;
}

.date-box > .date-tbody > .date-tr > span.calendar-td-range, .date-box > .date-tbody > .date-tr > span.calendar-td-equal-end {
  background-color: rgba(63, 115, 255, 0.05);
}

.calendar-td-equal-start > a, .calendar-td-equal-end > a {
  background-color: #3F73FF;
  border-radius: 2px;
}

.date-box .date-tbody > .date-tr > span.calendar-td-disabled, .date-box > .date-tbody > .date-tr > span.calendar-td-disabled > a {
  cursor: not-allowed;
}

.date-box > .date-tbody > .date-tr > span.calendar-td-disabled > a {
  color: #BFBFBF;
}

