<template>
  <Modal class="authorization-reuse" :value="show" title="权限复用" width="488" footer-hide @on-cancel="onCancel">
    <div class="header">
      <div :class="['step', { active: step === 1, complete: step === 2 }]">
        <img src="@/assets/icons/authorizationManagement/icon_step_active.svg" v-if="step === 1" />
        <img src="@/assets/icons/authorizationManagement/icon_step_complete.svg" v-else />
        复用来源
      </div>
      <div :class="['step', { active: step === 2 }]">
        <img src="@/assets/icons/authorizationManagement/icon_step_deactive.svg" v-if="step === 1" />
        <img src="@/assets/icons/authorizationManagement/icon_step_active.svg" v-else />
        生效对象
      </div>
    </div>

    <div class="body">
      <!-- 复用来源 -->
      <ReuseSource ref="sourceDomain" :reuse-source-type="reuseSourceType" :tree-data="sourceData" v-if="show" v-show="step === 1" />
      <!-- 生效对象 -->
      <EffectiveObject ref="targetDomain" :reuse-source-type="reuseSourceType" :tree-data="targetData" v-if="show" v-show="step === 2" />
    </div>

    <div class="footer">
      <Button type="primary" ghost @click="onCancel">取消</Button>
      <Button type="primary" v-if="step === 1" @click="onNext">下一步</Button>
      <template v-else>
        <Button type="primary" @click="onPrev">上一步</Button>
        <Button type="primary" @click="onConfirm">确定</Button>
      </template>
    </div>
  </Modal>
</template>

<script>
import ReuseSource
  from '@/view/system/authorizationManagement/components/LeftTabs/components/AuthorizationReuse/components/ReuseSource.vue'
import EffectiveObject
  from '@/view/system/authorizationManagement/components/LeftTabs/components/AuthorizationReuse/components/EffectiveObject.vue'
import { deptAuthCopy, getAuthDept, getAuthRole, roleAuthCopy, userAuthCopy } from '@/api/systemManagement/authorizationManagement'
import { deepCopy } from '../../../../../../../utils/common'

export default {
  name: 'AuthorizationReuse',
  emits: ['on-cancel', 'on-confirm'],
  components: {
    ReuseSource,
    EffectiveObject,
  },
  data() {
    return {
      show: false,
      step: 1, // 当前步骤
      reuseSourceType: 'department', // department-部门 role-角色
      sourceData: [],
      targetData: [],
    }
  },
  methods: {
    showModal(type) {
      this.show = true
      this.reuseSourceType = type
      this.step = 1
      this.getDomainData()
    },
    /**
     * 上一步
     */
    onPrev() {
      this.step = 1
    },

    /**
     * 下一步
     */
    onNext() {
      this.step = 2
    },

    async getDomainData() {
      if (this.reuseSourceType === 'department') {
        const res = await getAuthDept()
        if (res.data.state === 'success') {
          let list = [
            { id: 0, title: '所有部门', parentId: null },
            ...res.data.data
              .sort((a, b) => a.id - b.id)
              .map(item => ({
                ...item,
                title: item.name,
                parentId: item.groupId,
              })),
          ]
          this.sourceData = this.buildTree(list)
          this.targetData = deepCopy(this.sourceData)
        } else {
          this.$Message.error('获取部门列表失败！')
        }
      } else {
        const res = await getAuthRole()
        if (res.data.state === 'success') {
          let { roleGroup, roleList } = res.data.data
          roleGroup.sort((a, b) => a.id - b.id)
          roleList.sort((a, b) => a.id - b.id)
          roleGroup = roleGroup.map(item => ({
            ...item,
            parentId: -1,
            title: item.name,
          }))
          roleList = roleList.map(item => ({
            ...item,
            parentId: item.groupId,
            title: item.name,
          }))
          let list = [
            { id: -1, title: '所有角色', parentId: null },
            ...roleGroup,
            ...roleList,
          ]
          this.sourceData = this.buildTree(list)
          this.targetData = deepCopy(this.sourceData)
        } else {
          this.$Message.error('获取角色列表失败！')
        }
      }
    },

    buildTree(list, parentId = null) {
      let tree = []

      for (let item of list) {
        if (item.parentId === parentId) {
          let children = this.buildTree(list, item.id)
          if (children.length > 0) {
            item.children = children
          }
          item.expand = true
          item.checked = false
          tree.push(item)
        }
      }

      return tree
    },

    buildData(current, total) {
      current.forEach(item => {
        let children = total.filter(i => i.groupId === item.id)
        if (children && children.length > 0) {
          item.expand = true
          item.children = children.map(c => ({
            title: c.name,
            id: c.id,
          }))
          this.buildData(item.children, total)
        }
      })
    },
    /**
     * 取消
     */
    onCancel() {
      this.show = false
    },

    /**
     * 确定
     */
    onConfirm() {
      let { sourceDomainIds, modules } = this.$refs.sourceDomain.getData()
      let targetData = this.$refs.targetDomain.getData()
      if (!modules || modules.length === 0) {
        this.$Message.error('请选择复用模块')
        return
      }
      if (sourceDomainIds.length === 0) {
        this.$Message.error('请选择复用来源')
        return
      }
      // 去除赋给自己的重复数据
      let targetDomainIds = targetData.filter(i => !sourceDomainIds.includes(i))
      if (targetDomainIds.length === 0) {
        this.$Message.error('请选择合法生效对象')
        return
      }
      let postData = {
        sourceDomainIds,
        targetDomainIds,
      }
      modules.forEach(async module => {
        if (module === '3') {
          postData.type = this.reuseSourceType === 'department' ? 1 : 2
          await userAuthCopy(postData)
        } else {
          postData.resourceType = parseInt(module)
          if (this.reuseSourceType === 'department') {
            await deptAuthCopy(postData)
          } else if (this.reuseSourceType === 'role') {
            await roleAuthCopy(postData)
          }
        }
      })
      this.show = false
      this.$Message.success('权限复用成功！')
    },
  },
}
</script>

<style scoped lang="less">
// Modal组件样式重写
/deep/ .ivu-modal-body {
  padding: 16px 36px 30px;
}

.header {
  display: flex;
  justify-content: center;

  .step {
    color: rgba(0, 0, 0, 0.25);
    line-height: 16px;
    position: relative;
    display: flex;
    align-items: center;

    &.active,
    &.complete {
      color: #3F73FF;
    }

    img {
      margin-right: 8px;
    }

    + .step {
      margin-left: 56px;

      &:after {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        background: #3F73FF;
        position: absolute;
        left: -48px;
        top: 7px;
      }
    }
  }
}

.footer {
  margin-top: 12px;
  text-align: right;

  button {
    width: 76px;

    + button {
      margin-left: 20px;
    }
  }
}
</style>
