<template>
  <Modal
    v-model="show"
    :width="350"
    style="border-radius: 8px"
    @on-cancel="() => (this.show = false)"
  >
    <p slot="header">
      <span>{{ title }}</span>
    </p>
    <Form
      ref="form"
      class="menu-form"
      :rules="ruleValidate"
      :model="deptData"
      :label-width="80"
      label-position="left"
      label-colon
    >
      <FormItem label="部门名称" prop="name">
        <Input
          v-model.trim="deptData.name"
          clearable
          placeholder="请输入部门名称"
          :maxlength="15"
          style="width: 80%"
        />
      </FormItem>
      <FormItem label="主属部门" prop="pid">
        <tree-select
          v-model="deptData.pid"
          style="width: 80%"
          check-strictly
          :expand-all="false"
          :data="deptTreeData"
          :multiple="false"
        ></tree-select>
      </FormItem>
      <FormItem label="主负责人">
        <Select
          v-model="deptData.major"
          style="width: 80%"
          class="multipleSelect"
          clearable
        >
          <Input
            class="user-search-input"
            v-model="userNameKeywords"
            placeholder="请输入搜索关键字"
            suffix="ios-search"
          ></Input>
          <div>暂无数据</div>
          <Option v-for="item in userOptions" :value="item.id" :key="item.id">{{
            item.nickname
          }}</Option>
        </Select>
      </FormItem>
    </Form>
    <div slot="footer">
      <Button type="text" @click="() => (this.show = false)">取消</Button>
      <Button type="primary" @click="ok">确定</Button>
    </div>
  </Modal>
</template>

<script>
import TreeSelect from "@/components/tree-select";

import {
  createDept,
  updateDept,
} from "@/api/systemManagement/departmentManagement.js";
import { getUserListByDeptId } from "@/api/systemManagement/userManagement";

export default {
  name: "DeptAddOrUpdate",
  components: { TreeSelect },
  data() {
    return {
      show: false,
      title: null,
      deptData: {
        id: null,
        name: "",
        pid: [],
        major: null,
      },
      originData: {},
      ruleValidate: {
        name: [{ required: true, message: "部门名称不能为空！" }],
        pid: [{ required: true, message: "主属部门不能为空！" }],
      },
      deptTreeData: [], // 主属部门树
      userList: [], // 主负责人列表
      userNameKeywords: "", // 主负责人搜索关键字
    };
  },
  computed: {
    // 主负责人选项
    userOptions() {
      let data = this.userList.filter((item) =>
        item.nickname.includes(this.userNameKeywords)
      );
      data = data.map((item) => {
        return {
          ...item,
          id: String(item.id),
        };
      });
      return data;
    },
  },
  mounted() {
    this.getUserList();
  },
  methods: {
    /**
     * 获取主负责人列表
     * @returns {Promise<void>}
     */
    async getUserList() {
      const params = {
        pageNum: 1,
        pageSize: 1000,
      };
      const res = await getUserListByDeptId(params);
      if (res.data.state === "success") {
        this.userList = res.data.data.data;
      } else {
        this.$Message.error("获取主负责人列表失败！");
      }
    },

    showModal(treeData, dept) {
      this.deptTreeData = treeData;
      if (dept) {
        const data = dept.majorDetail && dept.majorDetail[0];
        this.deptData.pid = [dept.groupId];
        this.deptData.major = data?.id;
        this.deptData.name = dept.name;
        this.originData = dept;
        this.title = "修改部门";
        this.deptData.id = dept.id;
      } else {
        this.title = "添加部门";
        this.$refs["form"].resetFields();
        this.deptData = {};
      }
      this.show = true;
    },
    ok() {
      this.$refs["form"].validate(async (valid) => {
        if (valid) {
          if (
            this.originData.name == this.deptData.name &&
            this.originData.groupId == this.deptData.pid[0]
          ) {
          } else {
            console.log(this.originData.name,this.deptData.name)
            console.log(this.originData.pid,this.deptData.pid)
            const duplicate = this.isDuplicateName(this.deptData.name);
            if (duplicate) {
              this.$Message.warning("该部门下有重名部门，请修改部门名称！");
              return;
            }
          }
          // 根据id找到当前主负责人
          const major = this.userList.find(
            (item) => item.id == this.deptData.major
          );
          let postData = {
            name: this.deptData.name,
            pid: this.deptData.pid[0],
          };
          if (major) {
            // 选择了主负责人才传major参数
            postData.major = major.id;
          }
          if (!this.deptData.id) {
            createDept(postData).then((res) => {
              if (res.data.state === "success") {
                this.$Message.success("添加成功");
                this.show = false;
                this.$emit("on-ok");
              } else {
                this.$Message.error("添加失败");
              }
            });
          } else {
            postData.id = this.deptData.id;
            updateDept(postData).then((res) => {
              if (res.data.state === "success") {
                this.$Message.success("更新成功");
                this.show = false;
                this.$emit("on-ok");
              } else {
                this.$Message.error("更新失败");
              }
            });
          }
        }
      });
    },

    /**
     * 根据id查询部门
     * @param tree
     * @param id
     */
    findDeptById(tree, id) {
      for (let item of tree) {
        if (item.id == id) {
          return item;
        }
        if (item.children.length) {
          const dept = this.findDeptById(item.children, id);
          if (dept) {
            return dept;
          }
        }
      }
    },

    /**
     * 判断当前主属部门下是否有重名部门
     * @param name
     */
    isDuplicateName(name) {
      const dept = this.findDeptById(this.deptTreeData, this.deptData.pid[0]);
      const sameDept = dept.children?.find((item) => item.name == name);
      return !!sameDept;
    },
  },
};
</script>

<style lang="less" scoped>
.user-search-input {
  padding: 0 12px;
  margin-top: 4px;

  /deep/ .ivu-input-suffix {
    right: 12px;
  }
}
</style>
