<template>
  <div class="all">
    <div
      style="
        width: 100%;
        height: 100%;
        overflow: auto;
        border-left: 1px solid #ececec;
        padding: 24px;
        border-radius: 2px;
        background-color: #fff;
      "
    >
      <div class="boxTitle" style="margin-bottom: 24px">部门管理</div>
      <div class="right">
        <div class="rightSearch" v-allow="[1097045070840838]">
          <span>部门：</span>
          <Input
            class="mr"
            clearable
            v-model="keywords"
            style="width: 160px"
            placeholder="请选择"
          />
          <Button class="buttonClass" type="primary" @click="onSearch">
            <img src="@/assets/images/system/buttonSearch.svg" />
            查询
          </Button>
          <Button
            style="margin-left: 20px"
            class="buttonClass"
            type="primary"
            @click="onAdd"
            v-allow="[1097044487832577]"
          >
            <img src="@/assets/images/system/buttonAdd.svg" />
            添加
          </Button>
          <!-- 同步按钮 -->
          <el-button
            class="buttonClass elButtonClass"
            v-if="firsttime"
            :disabled="loadingFirstTime"
            @click="synchronousUser()"
          >
            <img src="@/assets/images/system/synchronous.svg" />
            {{ isSynchronizin ? "同步中" : "同步部门" }}
          </el-button>
          <el-popover
            v-else
            placement="bottom"
            width="140"
            popper-class="tbyh"
            @show="showPopver()"
          >
            <el-button
              class="buttonClass elButtonClass"
              slot="reference"
              style="margin-left: 20px"
              :disabled="loadingFirstTime"
            >
              <img src="@/assets/images/system/synchronous.svg" />
              {{ isSynchronizin ? "同步中" : "同步部门" }}
              <i class="el-icon-arrow-down"></i>
            </el-button>
            <div
              class="popItem"
              v-if="isSynchronizin"
              @click="resetSynchronization()"
            >
              <svg-icon icon-class="timer" /> 刷新同步状态
            </div>
            <div
              class="popItem"
              :class="{ disablePop: isSynchronizin }"
              @click="isSynchronizin ? '' : synchronization()"
            >
              <svg-icon icon-class="tablereset" /> 立即同步
            </div>
            <div
              class="popItem"
              :class="{ disablePop: isSynchronizin }"
              @click="isSynchronizin ? '' : editsynchronization()"
            >
              <svg-icon icon-class="edit" /> 编辑
            </div>
            <div
              class="popItem"
              :class="{ disablePop: isSynchronizin }"
              @click="isSynchronizin ? '' : emptysynchronization()"
            >
              <svg-icon icon-class="clear" /> 清空同步数据
            </div>
            <!-- <div class="popItem" @click="viewSynchronization()">
              <svg-icon icon-class="viewold" /> 查看历史同步结果
            </div> -->
            <!-- <div class="popItem" @click="interruptsynchronization()"><svg-icon icon-class="disconnect" /> 异常数据中断</div> -->
            <!-- <div class="footer">
              下次同步时间：
              <div>
                {{ nextDataTime }}
              </div>
            </div> -->
          </el-popover>
        </div>
      </div>
      <el-table
        ref="tableList"
        :data="treeData"
        style="width: 100%"
        row-key="id"
        :expand-row-keys="expandRowKeys"
        lazy
        :load="loadTableData"
        class="draggable-table"
        :tree-props="{children: 'children', hasChildren: 'hasChild'}">
        <el-table-column
          prop="name"
          label="部门名称">
        </el-table-column>
        <el-table-column
          prop="deptCode"
          label="部门编码">
        </el-table-column>
        <el-table-column
          label="主负责人">
          <template slot-scope="scope">
            {{ scope.row.majorDetail && scope.row.majorDetail[0]?.nickname }}
          </template>
        </el-table-column>
        <el-table-column
          label="操作">
          <template slot-scope="scope">
            <img :src="require('@/assets/images/system/tableButtonEdit.svg')" title="编辑" style="margin-right: 5px;cursor: pointer;" @click="onModify(scope.row)" v-if="scope.row.id !== '-1' && scope.row.isEdit !== 0" v-allow="[1097044487832578]">
            <img :src="require('@/assets/images/system/tableButtonDelete.svg')" title="删除" style="cursor: pointer;" @click="onDelete(scope.row)" v-if="scope.row.id !== '-1' && scope.row.dataOrigin !== 1" v-allow="[1097044487832579]">
          </template>
        </el-table-column>
      </el-table>
    </div>
    <dept-add-or-update ref="addOrUpdate" @on-ok="onOk" />

    <FirstEntry ref="firstEnTry" @sumitConfirm="sumitConfirm" />
    <EditSynchronization
      ref="editSynchronization"
      @sumitConfirm="sumitConfirm"
      @successTrigger="getDepartmentTree()"
    />
    <Synchronization ref="synchronization" @successTrigger="successTrigger" />
    <InterruptDialog ref="interruptDialog" />
    <OldSynchronization ref="oldSynchronization" />
  </div>
</template>

<script>
import {
  deleteDept,
  getAuthDepartmentList,
  moveDept
} from "@/api/systemManagement/departmentManagement";
import { deepCopy, filterTree } from "@/utils/common";
import DeptAddOrUpdate from "./DeptAddOrUpdate";
import syncMixin from "./mixin/syncMixin";
import Sortable from 'sortablejs'
import { mapActions} from 'vuex'
import { deleteFileDataset } from '@/api/dataset'
import { TYPE_FILE } from '@/view/components/DeleteAssetModal/constant'
const editImg = require("@/assets/images/system/tableButtonEdit.svg");
const deleteImg = require("@/assets/images/system/tableButtonDelete.svg");

export default {
  mixins: [syncMixin],
  components: { DeptAddOrUpdate },
  data() {
    return {
      keywords: "", // 关键字
      treeData: [],
      expandRowKeys: [],
      activeRows: [] // 转换为列表的数据
    };
  },
  created() {
    this.treeDataBak = [];
    this.getDepartmentTree(true);
  },
  mounted() {
    this.$nextTick(() => {
      this.tbodyList = document.querySelectorAll('.el-table__body-wrapper tbody');
      this.dropTable(this.tbodyList);
    })
  },
  methods: {
    ...mapActions("department", ["fetchDeptTree"]),
    // 将树数据转化为平铺数据
    treeToTile (treeData, childKey = 'children') {
      const arr = []
      const expanded = data => {
        if (data && data.length > 0) {
          data.filter(d => d).forEach(e => {
            arr.push(e)
            expanded(e[childKey] || [])
          })
        }
      }
      expanded(treeData)
      return arr
    },
    doMoveDept(oldRow, newRow, type) {
      const param = {
        deptId: oldRow.id,
        pId: newRow.parentId,
        toDeptId: newRow.id,
        type
      }
      moveDept(param).then(res => {
        if (res.data.state === "success") {
          _this.$Message.success('移动成功')
          _this.getDepartmentTree(false, newRow.parentId)
        } else {
          _this.$Message.success('移动失败')
        }
      })
    },
    //行拖拽
    dropTable(tbodyList) {
      let _this = this;
      let tbody = tbodyList;
      for (let i = 0; i < tbody.length; i++) {
        Sortable.create(tbody[i], {
          onEnd({ newIndex, oldIndex }) {
            // console.log('onEnd===' , newIndex, oldIndex)
            if (newIndex == oldIndex) return;
            const oldRow = _this.activeRows[oldIndex] // 移动的那个元素
            const newRow = _this.activeRows[newIndex] // 新的元素
            // 请求接口排序，根据后端要求填写参数
            // console.log('oldRow===', oldRow, newRow)
            if (oldRow.id == newRow.parentId) return;
            // 移动到相对节点的前面还是后面
            const type = oldIndex > newIndex ? 'before' : 'after'
            if (oldRow.parentId != newRow.parentId) {
              const dept = _this.activeRows.find(item => item.id == newRow.parentId)
              _this.$Modal.confirm({
                title: '你确定移动并修改上级部门吗？',
                content: `确定将${oldRow.name}的上级部门修改为“${dept.name}”？`,
                onOk: async () => {
                  _this.doMoveDept(oldRow, newRow, type)
                },
              })
            } else {
              _this.doMoveDept(oldRow, newRow, type)
            }
          },
          // 元素被选中
          onChoose:  (/**Event*/evt) => {
            // console.log('onChoose====', evt.oldIndex)
          },
          onStart:  (/**Event*/evt) => {
            // console.log('onChoose====', evt.oldIndex)
          },
          onMove: () => {
            this.activeRows = this.treeToTile(this.treeData) // 把树形的结构转为列表再进行拖拽
            // console.log('onMove====', this.activeRows)
          },
        })
      }
    },
    /**
     * 添加部门
     */
    onAdd() {
      this.$refs.addOrUpdate.showModal(this.treeData);
    },

    /**
     * 编辑部门
     * @param dept
     */
    onModify(dept) {
      this.$refs.addOrUpdate.showModal(this.treeData, dept);
    },

    /**
     * 删除部门
     */
    onDelete(dept) {
      this.$Modal.confirm({
        title: "确认删除吗？",
        content: "该操作将无法撤销。",
        onOk: async () => {
          const res = await deleteDept(dept.id);
          if (res.data.state === "success") {
            await this.getDepartmentTree();
            this.fetchDeptTree()
          } else {
            this.$Message.error(res.data.message);
          }
        },
      });
    },

    /**
     * 新增、编辑完成
     */
    onOk() {
      this.getDepartmentTree();
      this.fetchDeptTree()
    },
    /**
     * 获取组织架构树
     */
    async getDepartmentTree(isInit, parentId) {
      this.treeData = []
      const res = await getAuthDepartmentList();
      if (res.data.state === "success") {
        let list = res.data.data.map((item) => ({
          ...item,
          parentId: item.groupId,
          id: item.id.toString(),
          title: item.name,
          _showChildren: true,
        }));
        const rootData = {
          id: '-1',
          parentId: null,
          title: "/",
          name: "/",
          auth: true,
          _showChildren: true,
        }
        list.push(rootData);
        this.expandRowKeys = ['-1']
        if (isInit) {
          this.expandRowKeys.push('-1')
        }
        if (parentId) {
          this.expandRowKeys.push(parentId.toString())
        }
        this.treeData = this.buildTree(list, null);
        this.treeDataBak = deepCopy(this.treeData);
      }
    },

    /**
     * 构建树
     * @param list
     * @param parentId
     * @returns {*[]}
     */
    buildTree(list, parentId = null) {
      let tree = [];

      for (let item of list) {
        if (item.parentId == parentId) {
          let children = this.buildTree(list, item.id);
          if (children.length > 0) {
            item.children = children;
          }
          item.disabled = !item.auth;
          item.expand = true;
          item.selected = false;
          tree.push(item);
        }
      }

      return tree;
    },

    /**
     * 查询
     */
    onSearch() {
      this.treeData = filterTree(this.treeDataBak, this.keywords);
    },
    loadTableData(tree, treeNode, resolve) {
      setTimeout(() => {
        resolve([])
      }, 1000)
    }
  },
};
</script>

<style lang="less">
// 同步按钮
.elButtonClass {
  height: 34px;
  margin-left: 20px;
  color: #3f73ff !important;
  min-width: 72px;
  border-color: #3f73ff !important;
  padding: 6px 10px;
  border-radius: 2px;
}
.tbyh {
  padding: 5px 0 0;
  .popItem {
    height: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    font-size: 12px;
    .svg-icon {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
    &:hover {
      background-color: #ecf1ff;
      color: #3f73ff;
    }
    &.disablePop {
      cursor: not-allowed;
      opacity: 0.65;
      background-color: #fff;
      color: #949597;
    }
  }
  .footer {
    border-top: 1px solid #e3e9f1;
    padding: 10px;
    color: RGB(205, 210, 223);
    font-size: 12px;
  }
}
</style>
<style scoped lang="less">
.mr {
  margin-right: 16px;
}

.mb10 {
  margin-bottom: 10px;
}

.prb {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.all {
  height: 100%;
  display: flex;
}
.right {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
/deep/ .ivu-table-cell {
  display: flex;
}
/* table表格树形结构展开收缩图标 */
.ivu-table-wrapper /deep/ .ivu-table .ivu-table-body .ivu-table-cell-tree {
  display: inline-flex;
  vertical-align: text-bottom;
  border: 0;
  user-select: none;
  padding-right: 6px;
}
.ivu-table-wrapper
  /deep/
  .ivu-table
  .ivu-table-body
  .ivu-icon.ivu-icon-ios-add {
  content: url("~@/assets/icons/dataSetList/icon_expand_folder.svg");
}
.ivu-table-wrapper
  /deep/
  .ivu-table
  .ivu-table-body
  .ivu-icon.ivu-icon-ios-remove {
  content: url("~@/assets/icons/dataSetList/icon_collapse_folder.svg");
}

// 有子节点 且未展开
/deep/.el-table .el-icon-arrow-right:before {
  background: url("~@/assets/icons/dataSetList/icon_expand_folder.svg") no-repeat;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  font-size: 16px;
  background-size: 16px;
}
// 有子节点 且已展开
/deep/.el-table .el-table__expand-icon--expanded {
  .el-icon-arrow-right:before {
    background: url("~@/assets/icons/dataSetList/icon_collapse_folder.svg") no-repeat;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    background-size: 16px;
  }
}
// 展开折叠时不进行动画，否则图标会旋转
/deep/.el-table .el-table__expand-icon--expanded {
  transform: none;
}
/deep/.el-table .cell{
  font-size: 12px;
  display: flex;
  align-items: center;
}
/deep/.el-table [class*=el-table__row--level] .el-table__expand-icon{
  height: 18px;
}
</style>
