<template>
  <div ref="customBarChart" class="chartClass"></div>
</template>

<script>
import * as echarts from "echarts";

export default {
  mounted() {
    this.customChartInit();
  },
  methods: {
    customChartInit() {
      let chart = echarts.init(this.$refs.customBarChart);
      let option = {
        xAxis: {
          type: "category",
          data: ["债券", "股票质押", "股票", "非标", "其他"],
          axisLabel: {
            interval: 0
          },
          axisTick: { show: false },
          nameTextStyle: {
            color: "#000",
            fontFamily: "Helvetica",
            fontSize: 12,
            align: "center",
            fontWeight: 400
          }
        },
        grid: {
          containLabel: true,
          left: 5
        },
        yAxis: {
          type: "value",
          max: 1000,
          min: 0,
          splitNumber: 5,
          boundaryGap: [0.2, 0.2],
          axisTick: {
            inside: true
          },
          axisLine: {
            show: false
          },
          nameTextStyle: {
            color: "#000",
            fontSize: 12,
            fontWeight: 400,
            fontFamily: "Helvetica"
          }
        },
        tooltip: {},
        series: [
          {
            barWidth: 15,
            barGap: 37.55,
            data: [
              {
                value: 210,
                name: "AAA级以上",
                itemStyle: {
                  color: "#78D3F8"
                }
              },
              {
                value: 270,
                name: "股票质押",
                itemStyle: {
                  color: "#5B8FF9"
                }
              },
              {
                value: 350,
                name: "股票",
                itemStyle: {
                  color: "#5B8FF9"
                }
              },
              {
                value: 460,
                name: "非标",
                itemStyle: {
                  color: "#5B8FF9"
                }
              },
              {
                value: 880,
                name: "其他",
                itemStyle: {
                  color: "#5B8FF9"
                }
              }
            ],
            name: "资产规模",
            stack: "Ad",
            type: "bar",
            label: {
              show: true,
              position: "top",
              fontSize: 12,
              fontFamily: "PingFangSC-Regular",
              color: "#454545",
              fontWeight: 400,
              align: "center"
            }
          },
          {
            barWidth: 15,
            barGap: 37.55,
            data: [
              {
                name: "AAA级以下",
                value: 350,
                itemStyle: {
                  color: "#F6903D"
                }
              }
            ],
            name: "资产规模",
            stack: "Ad",
            type: "bar",
            label: {
              show: true,
              position: "top",
              fontSize: 12,
              fontFamily: "PingFangSC-Regular",
              color: "#454545",
              fontWeight: 400,
              align: "center"
            }
          }
        ]
      };
      chart.setOption(option);
    }
  }
};
</script>

<style lang="less" scoped>
.chartClass {
  width: 302px;
  height: 227px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(100, 149, 250, 1);
  &:hover {
    box-shadow: 0 0 10px #4799f0;
    border: 1px solid #4799f0;
  }
}
</style>
