<template>
  <div class="divChart-1">
    <p>
      <span>集团投资交易业务总风险敞口为**亿元，较上日**。</span>
      <span class="spanClass">
        其中，融资融券业务规模为672.07亿元。维持担保比较上日下降**；股票质押业务规模为331.99亿元，维持担保比例较上日下降**。根据压力测试结果来看，股票质押业务整体尾部客户风险较上一交易日略有上升，融资融券业务整体尾部客户风险较上一交易日有所上升。
      </span>
    </p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="less" scoped>
.divChart-1 {
  width: 302px;
  height: 179px;
  background: #e5f4ff;
  border-radius: 2px;
  padding: 8.11px 18px 10.89px 16px;
  p {
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: #000000;
    text-align: justify;
    font-weight: bold;
    .spanClass {
      font-family: PingFangSC-Medium;
      font-size: 14px;
      color: #000000;
      text-align: justify;
      font-weight: normal;
    }
  }
}
</style>
