<template>
  <div class="indicatorWorkbenchIndex-container">
    <div class="indicatorWorkbenchWrapper">
      <!-- 标签行 -->
      <section class="workbenchTab">
        <p class="title">指标管理</p>
        <div class="right-btn-all">
          <div class="import-btn" @click="importHandle">
            <img class="importIcon" src="@/assets/images/indicatorWorkbench/import.svg" alt="" />
            <span>批量导入</span>
          </div>
          <div class="tabRight" @click="createHandle" v-allow="[1097046178137089]">
            <img class="addIcon" src="@/assets/icons/indicatorWorkbench/addIcon.svg" alt="" />
            <span>新建</span>
          </div>
        </div>
      </section>

      <!-- 搜索行 -->
      <section class="workbenchSearch">
        <FilterSearch :searchCondition="searchCondition" :sessionGroup="sessionGroup" @searchTable="initIndicatorData"
          @getGroupData="getGroupData" />
      </section>
      <!-- 展示区 -->
      <div class="contentArea">
        <Spin fix v-if="tableLoading">
          <Icon type="ios-loading" size=28 class="table-spin-icon-load"></Icon>
          <div>Loading</div>
        </Spin>
        <section v-else style="height: 100%;">
          <section class="workbenchView" v-if="dataList.length">
            <TableList :dataList="dataList" :tabelLoading="tabelLoading" :pageCondition="pageCondition"
              :searchCondition="searchCondition" @changePageData="changePageData" @refreshData="initIndicatorData"
              @updateData:end="changeData" />
          </section>
          <NoData v-else :width="1180" :height="575" :img-src="noDataImg" />
        </section>
      </div>


    </div>

    <!-- 新增指标弹窗 -->
    <AddIndicatorModal :showModal="showAdd" @closeModal="showAdd = false" />

    <!-- 批量导入弹窗 -->
    <ImportModal ref="importModal" @handleImportComplete="handleImportComplete" />
  </div>
</template>

<script>
import FilterSearch from "@/view/indicatorWorkbench/indicatorWorkbenchIndex/components/FilterSearchMine";
import TableList from "@/view/indicatorWorkbench/indicatorWorkbenchIndex/components/TableListMine";
import NoData from "@/components/NoData";
import AddIndicatorModal from "@/view/indicatorWorkbench/indicatorWorkbenchIndex/components/AddIndicatorModal";
import ImportModal from "./modal/ImportModal.vue";
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import { getIndicatorTreeData } from "@/api/indicator";
import { getIndicatorTab, getIndicatorByTabOnPage } from "@/api/indicatorWorkbench";
import { mapState, mapMutations } from "vuex";
import { INDICATOR_OPTION_LIST } from "@/config/indicator";

export default {
  name: "indicatorWorkbenchIndex",
  components: {
    FilterSearch,
    TableList,
    NoData,
    AddIndicatorModal,
    ImportModal
  },
  data() {
    return {
      noDataImg,
      selectedTabId: 4, // 选中tab的id
      // 搜索条件
      searchCondition: {
        indicatorName: "",
        indicatorStatus: -1,
        assetsGroupValue: [-1], // 选择的资产分组
        indicatorVersion: "-1",
        indicatorAttribute: "-1",
        tagValue: [] // 选择的标签
      },
      tabelLoading: false, // tabel视图下，是否正在加载指标
      showAdd: false, // 是否展示添加弹窗
      getAssetsGroupList: [], // 数据资产数据
      dataList: [], // 指标数据
      // 分页数据
      pageCondition: {
        pageSize: 10,
        currentPage: 1,
        total: 0
      },
      treeData: [],
      sessionGroup: [],
      groupList: [],
      tableLoading: true //tableList组件loading状态
    };
  },
  computed: {
    ...mapState("indicatorWorkbench", ["isReturnFromDetail"])
  },
  async created() {
    // 检查本地是否有上次选择的数据源缓存
    let searchData = sessionStorage.getItem('indicatorListSearchBack');
    if (searchData) {
      searchData = JSON.parse(searchData);
      this.searchCondition.indicatorName = searchData.indicatorName;
      this.searchCondition.assetsGroupValue = searchData.assetsGroupValue;
      this.sessionGroup = searchData.assetsGroupValue;
      this.searchCondition.tagValue = searchData.tagValue;
      this.pageCondition.pageSize = searchData.pageSize;
      this.pageCondition.currentPage = searchData.currentPage;
    } else {
      this.searchCondition = {
        indicatorName: "",
        indicatorStatus: -1,
        assetsGroupValue: [-1], // 选择的资产分组
        indicatorVersion: "-1",
        indicatorAttribute: "-1",
        tagValue: [] // 选择的标签
      };
      this.pageCondition = {
        pageSize: 10,
        currentPage: 1,
        total: 0
      };
      this.sessionGroup = []
    }
    sessionStorage.setItem('indicatorListSearchBack', '');
    sessionStorage.setItem('indicatorListSearch', '');

    // 从指标详情返回
    if (this.isReturnFromDetail) {
      this.setIsReturnFromDetail(false);
    }

    const tabList = await this.getAllTab(); // 获取tab
    this.selectedTabId = tabList.find(ele => ele.name === "全部")?.id; // 默认选中全部

    this.getAssetsGroupList = await this.getAssetsGroup(); // 获取资产分组数据
    this.getIndicatorData(this.selectedTabId, this.searchCondition, this.pageCondition); // 获取指标数据

    if(this.$route.query?.from === "workbenchPreview") {
      this.createHandle()
    }
  },
  methods: {
    ...mapMutations("indicatorWorkbench", ["setIsReturnFromDetail"]),
    createHandle() {
      if (this.groupList.length) {
        this.showAdd = true;
      } else {
        this.$Message.info('请先去数据资产-目录下创建目录！')
      }
    },
    getGroupData(data) {
      this.treeData = data;
      this.groupList = data && data[0] && data[0].children;
    },
    /**
     * 获取所有的标签
     */
    async getAllTab() {
      const res = await getIndicatorTab("1");
      if (res.data.state === "success") {
        let newTabList = [];
        res.data.data.forEach(ele => {
          newTabList.push({
            id: parseInt(ele.id),
            name: ele.name,
            isCustom: ele.type === 3, // 是否是自定义
            isEdit: false,
            editedName: ""
          });
        });
        return newTabList;
      }
    },
    /**
     * 获取数据资产分组
     */
    async getAssetsGroup() {
      const res = await getIndicatorTreeData();
      if (res.data.state === "success") {
        const { indicatorGroupList } = res.data.data;
        return indicatorGroupList;
      }
    },
    /**
     * 获取指标的相关数据
     * @param {String} selectedTabId 标签id
     * @param {Object} searchCondition 搜索条件
     * @param {Object} pageCondition 分页条件
     */
    async getIndicatorData(selectedTabId, searchCondition, pageCondition) {
      this.tableLoading = true
      this.dataList = await this.getIndicatorBasisData(selectedTabId, searchCondition, pageCondition);
      this.tableLoading = false
    },
    /**
     * 获取指标的基础数据
     * @param {Object} tabId 标签id
     * @param {Object} searchCondition 搜索条件
     * @param {Object} pageCondition 分页条件
     */
    async getIndicatorBasisData(tabId, searchCondition, pageCondition) {
      const { indicatorName, indicatorStatus, assetsGroupValue, indicatorVersion, indicatorAttribute, tagValue } = searchCondition;
      const { pageSize, currentPage } = pageCondition;
      const params = {
        tabId,
        name: indicatorName, // 指标名称
        pageSize,
        pageNum: currentPage
      };
      if (indicatorStatus !== -1) {
        params.status = indicatorStatus; // 状态。 未发布1 上线2 下线3
      }
      if (assetsGroupValue[0] !== -1) {
        params.groupIds = assetsGroupValue; // 资产分组id
      }
      if (indicatorVersion !== "-1") {
        params.versionCode = indicatorVersion; // 版本
      }
      if (indicatorAttribute !== "-1") {
        params.attribute = indicatorAttribute; // 属性
      }
      if (tagValue.length) {
        params.labelIds = tagValue.map(ele => ele.id); // 标签id
      }

      const res = await getIndicatorByTabOnPage(params);
      if (res.data.state === "success") {
        const { records, total } = res.data.data;
        // console.log("基础", res.data.data);

        this.pageCondition.total = total;

        let dataList = [];
        records.forEach(ele => {
          const assetsGroupName = this.getAssetsGroupList.find(item => item.id === parseInt(ele.groupId))?.name;
          dataList.push({
            creator: ele.creator, // 创建人昵称
            creatorId: ele.creatorId, // 创建人id
            id: parseInt(ele.id), // 指标id
            indicatorName: ele.name, // 指标名称
            type: ele.type, // 指标类型（原子、派生、复合）
            showType: ele.showType, // 指标值的类型（百分比、数值）
            assetsGroupName, // 所属资产分组名称
            moduleType: INDICATOR_OPTION_LIST.find(i => i.value === ele.type)?.moduleType,
            status: ele.status, // 指标状态
            controlView: ele.controlView, // 用户权限: 查看
            controlEdit: ele.controlEdit // 用户权限: 编辑
          });
        });
        return dataList;
      }
    },
    /**
     * 刷新页面，初始化指标数据
     */
    async initIndicatorData() {
      this.pageCondition.currentPage = 1;
      this.pageCondition.pageSize = 10;
      this.tabelLoading = true;
      this.getIndicatorData(this.selectedTabId, this.searchCondition, this.pageCondition);
      this.tabelLoading = false;
    },
    changeData() {
      this.tabelLoading = true;
      this.getIndicatorData(this.selectedTabId, this.searchCondition, this.pageCondition);
      this.tabelLoading = false;
    },
    /**
     * 改变表格的分页数据
     */
    async changePageData(key, val) {
      this.pageCondition[key] = val;
      this.tabelLoading = true;
      this.getIndicatorData(this.selectedTabId, this.searchCondition, this.pageCondition);
      this.tabelLoading = false;
    },
    importHandle() {
      this.$refs.importModal.openModal(this.treeData)
    },
    // 导入成功后刷新页面
    handleImportComplete() {
      this.tabelLoading = true;
      this.getIndicatorData(this.selectedTabId, this.searchCondition, this.pageCondition);
      this.tabelLoading = false;
    },
  }
};
</script>

<style lang="less" scoped>
/deep/.ivu-tabs {
  height: 100%;

  .ivu-tabs-bar {
    margin-bottom: 0;

    .ivu-tabs-nav-container {
      line-height: unset;

      .ivu-tabs-tab {
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        font-weight: 500;
        padding: 20px 16px;
      }
    }
  }

  .ivu-tabs-content-animated {
    height: calc(~"100% - 52px");
  }
}

.indicatorWorkbenchIndex-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f3f7ff;

  .indicatorWorkbenchWrapper {
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 1px 16px 14px;

    .workbenchTab {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 14px;
      margin-bottom: 16px;

      .title {
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        font-weight: 600;
      }

      .right-btn-all {
        display: flex;
        align-items: center;

        .import-btn {
          display: flex;
          justify-content: center;
          cursor: pointer;
          color: #2876FF;
          margin-right: 12px;

          .importIcon {
            margin-right: 4px;
          }
        }

        .tabRight {
          width: 82px;
          height: 32px;
          background: #3f73ff;
          border-radius: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .addIcon {
            margin-right: 8px;
          }

          span {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #ffffff;
          }
        }
      }
    }

    .workbenchSearch {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .toogleCardList {
        img {
          width: 32px;
          height: 32px;
          cursor: pointer;
        }

        img:first-child {
          margin-right: 8px;
        }
      }
    }

    .workbenchView {
      width: 100%;
      height: calc(~"100% - 48px - 36px - 14px");
      padding-top: 16px;

      .cardList-container {
        margin-top: 24px;
      }
    }

    .noData-container {
      width: 100%;
      height: calc(~"100% - 48px - 36px - 31px - 14px");
      margin-top: 31px;
    }

    .contentArea {
      position: relative;
      height: calc(~"100% - 52px - 62px");
    }
  }


}

.addIndicatorModal {
  /deep/.ivu-modal {
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;

      .ivu-modal-body {
        padding: 0;
      }
    }
  }

}
</style>
