<template>
  <span :class="{ titleHeader: true, minTitle: minType }">
    {{ title }}
  </span>
</template>

<script>
export default {
  name: "QiankunBaseTitleHeader",
  props: {
    title: {
      type: String,
      default: "标题"
    },
    minType: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.titleHeader {
  font-size: 16px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.85);
  padding-left: 12px; 
  font-weight: 600;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 84%;
    top: 6%;
    background-color: #3f73ff;
    width: 4px;
    border-radius: 1px;
  }

  &.minTitle {
    font-size: 14px;
    padding-left: 14px;
    font-weight: 500;
    &::after {
      content: "";
      // position: absolute;
      // left: 0;height: 84%;
      // background-color: #3F73FF ;
      width: 8px;
      height: 8px;
      top: 28%;
      border-radius: 50%;
    }
  }
}
</style>
