<template>
  <div class="log-list">
    123456789
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'LogList',
  components: {
    
  },
  data() {
    return {
      dataList: [
        {
          date: '2022-04-01',
          time: '13:04',
          creator: '刘备',
          businessTime: '2022-01-01～2022-03-04',
          result: 1,
          type: 1,
          dimensionName: '维度1',
          dimensionValue: '维度1-1',
          indicatorvalue: '维度1',
        }
      ]
    }
  },
  mounted() {
    
  },
  methods: {

  },
}
</script>

<style lang="less" scoped>

</style>
