<template>
  <div class="checkbox-tree">
    <Input class="search-input" v-model="search" :placeholder="placeholder" v-if="!hideSearch">
      <img class="icon-search" src="@/assets/icons/authorizationManagement/icon_search.svg" slot="suffix" />
    </Input>
    <div class="tree-wrapper">
      <Tree ref="tree" :data="treeData" show-checkbox check-directly />
    </div>
  </div>
</template>

<script>
import { deepCopy } from '@/utils/common'

export default {
  name: 'CheckboxTree',
  props: {
    data: Array,
    hideSearch: Boolean,
    reuseSourceType: String,
  },
  data() {
    return {
      search: '', // 搜索关键字
      treeData: [], // 树的数据，根据搜索关键字过滤
    }
  },
  computed: {
    placeholder() {
      let type = this.reuseSourceType === 'department' ? '部门' : '角色'
      return `请输入${type}名称`
    },
  },
  watch: {
    search(val) {
      this.treeData = this.filterTree(this.data, val)
    },
    data: {
      handler() {
        this.treeData = this.filterTree(this.data, this.search)
      },
      immediate: true,
    },
  },
  methods: {
    filterTree(tree, keywords) {
      let newTree = []
      for (let treeItem of tree) {
        // 如果当前节点包含关键字，那么其子项也都包含
        if (treeItem.title.includes(keywords)) {
          newTree.push(treeItem)
          continue
        }
        // 如果当前节点不包含关键字，那么递归children
        let newChildren = []
        if (treeItem.children) {
          newChildren = this.filterTree(treeItem.children, keywords)
        }
        let newTreeItem = deepCopy(treeItem)
        if (newChildren?.length) {
          newTreeItem.children = newChildren
          newTree.push(newTreeItem)
        }
      }
      return newTree
    },
  },
}
</script>

<style scoped lang="less">
.icon-search {
  margin-top: 7px;
}

// Tree组件样式重写
.tree-wrapper {
  margin-top: 12px;
  height: calc(~'100% - 44px');
  overflow: auto;
  overflow-x: hidden;

  /deep/ .ivu-tree {
    user-select: none;

    .node {
      display: inline-flex;
      align-items: center;
      margin-left: -12px;

      .icon-node {
        width: 16px;
        height: 16px;
      }
    }
  }
}

/deep/ .ivu-checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
</style>
