<template>
  <div class="checkbox-tree">
    <Input class="search-input" v-model="search" placeholder="请输入部门名称">
      <img class="icon-search" src="@/assets/icons/authorizationManagement/icon_search.svg" slot="suffix"/>
    </Input>
    <div class="list-wrapper">
      <div class="list-item" v-for="item in listData">
        <Checkbox v-model="item.checked">
          <span class="name">{{ item.title }}</span>
        </Checkbox>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'CheckboxTree',
    props: {
      data: Array,
    },
    data() {
      return {
        search: '', // 搜索关键字
        listData: [], // 树的数据，根据搜索关键字过滤
      }
    },
    watch: {
      search: {
        handler(val) {
          if (val) {
            this.listData = this.data.filter(i => i.title.indexOf(val) !== -1)
          } else {
            this.listData = this.data
          }
        },
        immediate: true,
      },
    },
  }
</script>

<style scoped lang="less">
  .icon-search {
    margin-top: 7px;
  }

  // Tree组件样式重写
  .list-wrapper {
    margin-top: 12px;
    height: calc(~'100% - 44px');
    overflow: auto;

    .list-item {
      line-height: 32px;
      padding: 0 6px;
      cursor: pointer;
      width: 320px;

      .name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover {
        background: rgba(63, 115, 255, 0.05);
      }
    }
  }

  /deep/ .ivu-checkbox-wrapper {
    display: flex;
    align-items: center;

    .ivu-checkbox {
      margin-right: 8px;
    }
  }
</style>
