<template>
  <div class="effective-object">
    <span class="label">生效对象：{{ reuseSourceType === 'department' ? '部门' : '角色' }}</span>
    <CheckboxTree :class="[reuseSourceType]" :reuseSourceType="reuseSourceType" :data="treeData" />
  </div>
</template>

<script>
import CheckboxTree from '@/view/system/authorizationManagement/components/LeftTabs/components/AuthorizationReuse/components/CheckboxTree.vue'
import CheckboxList from '@/view/system/authorizationManagement/components/LeftTabs/components/AuthorizationReuse/components/CheckboxList.vue'
import iconDepartment from '@/assets/icons/authorizationManagement/icon_department.svg'

export default {
  name: 'EffectiveObject',
  components: {
    CheckboxTree,
    CheckboxList,
  },
  props: {
    reuseSourceType: String,
    treeData: Array,
  },
  methods: {
    getData() {
      let selectedData = []
      this.getSelectDomain(selectedData, this.treeData)
      return selectedData
    },

    getSelectDomain(selectedData, data) {
      if (data && data.length > 0) {
        data.forEach(d => {
          if (d.checked) {
            selectedData.push(d.id)
          }
          if (d.children) {
            this.getSelectDomain(selectedData, d.children)
          }
        })
      }
    }
  },
}
</script>

<style scoped lang="less">
.effective-object {
  margin-top: 22px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 16px;

  .label {
    font-weight: bold;
  }

  /deep/ .checkbox-tree {
    margin-left: 60px;
    margin-top: 12px;
    height: 220px;
    padding: 12px;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 2px;

    &.department {
      .ivu-icon-ios-arrow-forward:before {
        background: url('~@/assets/icons/authorizationManagement/icon_department_group.svg');
      }
    }

    .ivu-checkbox-wrapper {
      display: inline-block;
    }

    li {
      position: relative;
    }

    .node {
      margin-left: 0;

      .icon-node {
        position: absolute;
        left: 4px;
      }
    }
  }
}
</style>
