<template>
  <div class="reuse-source">
    <div class="module">
      <span class="label">复用模块：</span>
      <CheckboxGroup v-model="reuseModule">
        <Checkbox label="1">业务目录</Checkbox>
        <Checkbox label="2">系统管理</Checkbox>
        <Checkbox label="3">人员管理</Checkbox>
      </CheckboxGroup>
    </div>
    <div class="source">
      <span class="label">复用来源：{{ reuseSourceType === 'department' ? '部门' : '角色' }}</span>
      <CheckboxTree :class="[reuseSourceType]" :reuseSourceType="reuseSourceType" :data="treeData" />
    </div>
  </div>
</template>

<script>
  import CheckboxTree from '@/view/system/authorizationManagement/components/LeftTabs/components/AuthorizationReuse/components/CheckboxTree.vue'
  import CheckboxList from '@/view/system/authorizationManagement/components/LeftTabs/components/AuthorizationReuse/components/CheckboxList.vue'
  export default {
    name: 'ReuseSource',
    components: {
      CheckboxTree,
      CheckboxList
    },
    props: {
      reuseSourceType: String,
      treeData: Array,
    },
    data() {
      return {
        reuseModule: [], // 复用模块
      }
    },
    methods: {
      /**
       * 复选框选择状态变化
       * @param data
       * @returns {(function(*): void)|*}
       */
      onChange(data) {
        return (val) => {
          data.checked = val
        }
      },

      getData() {
        let selectedData = []
        this.getSelectDomain(selectedData, this.treeData)
        return {
          modules: this.reuseModule,
          sourceDomainIds: selectedData
        }
      },

      getSelectDomain(selectedData, data) {
        if (data && data.length > 0) {
          data.forEach(d => {
            if (d.checked) {
              selectedData.push(d.id)
            }
            if (d.children) {
              this.getSelectDomain(selectedData, d.children)
            }
          })
        }
      }
    },
  }
</script>

<style scoped lang="less">
  .module {
    display: flex;
    align-items: center;
    margin-top: 22px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 16px;

    .label {
      font-weight: bold;
    }
  }

  .source {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 16px;

    .label {
      font-weight: bold;
    }

    /deep/ .checkbox-tree {
      margin-left: 60px;
      margin-top: 12px;
      height: 220px;
      padding: 12px;
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 2px;

      &.department {
        .ivu-icon-ios-arrow-forward:before {
          background: url('~@/assets/icons/authorizationManagement/icon_department_group.svg');
        }
      }

      .ivu-checkbox-wrapper {
        display: inline-block;
      }

      li {
        position: relative;
      }

      .node {
        margin-left: 0;

        .icon-node {
          position: absolute;
          left: 4px;
        }
      }
    }
  }
</style>
