<template>
  <Modal class="changeOwnerModal-container" :value="showModal" @on-cancel="onCancel" title="变更所有者" width="450" footer-hide>
    <div class="changeOwnerWrapper">
      <UserSelect ref="userSelect" :userName="owner" @update:userName="changeUserName" />
      <div class="actionBtn">
        <section class="cancelBtn" @click="onCancel">取消</section>
        <section class="confirmBtn" @click="onConfirm">确认</section>
      </div>
    </div>
  </Modal>
</template>

<script>
import UserSelect from "@/components/UserSelect";
import { updateAssetOwner } from "@/api/assetAction";

export default {
  model: {
    prop: "showModal",
    event: "update:showModal"
  },
  props: {
    showModal: {
      type: Boolean,
      required: true
    },
    modalStatus: {
      type: Object,
      required: true
    },
    creator: {
      type: String,
      required: true,
    },
  },
  components: {
    UserSelect
  },
  data() {
    return {
      userId: this.$store.state.user.userId, // 用户id
      owner: '' // 昵称
    };
  },
  methods: {
    changeUserName({ id, nickname }) {
      this.userId = id;
      this.owner = nickname;
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.resetData();
      this.$emit("update:showModal", false);
      this.$emit("closeModal");
    },
    /**
     * 确认
     */
    async onConfirm() {
      if (this.owner === "") {
        this.$Message.warning("请先选择用户");
        return;
      }
      const params = {
        moduleType: this.modalStatus.moduleType,
        resourceId: this.modalStatus.resourceId,
        userId: this.userId, // 用户id
        nickName: this.owner // 用户昵称
      };
      const res = await updateAssetOwner(params);
      if (res.data.state === "success") {
        this.$Message.success("所有者变更成功！");
        this.$emit("changeOwner:success", { id: this.modalStatus.resourceId, userId: this.userId, nickName: this.owner });
      } else {
        this.$Message.error("所有者变更失败！");
      }
      this.onCancel();
    },
    /**
     * 恢复之前的数据（树的展开状态，默认选中值）
     */
    resetData() {
      this.owner = this.$store.state.user.nickName;
      this.$refs.userSelect.resetExpand();
    }
  },
  watch: {
    creator(val) {
      this.owner = val
    },
  },
};
</script>

<style lang="less" scoped>
.changeOwnerModal-container {
  /deep/.ivu-modal {
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-body {
        padding: 0;
      }
    }
  }

  .changeOwnerWrapper {
    padding: 16px 24px 20px;
    .actionBtn {
      display: flex;
      justify-content: flex-end;
      margin-top: 330px;
      .cancelBtn,
      .confirmBtn {
        width: 72px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
      }
      .cancelBtn {
        border: 1px solid rgba(217, 217, 217, 1);
        margin-right: 16px;
        color: #949494;
      }
      .confirmBtn {
        background: #3f73ff;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}
</style>
