#tempBox {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 2px 3px rgb(0 0 0 / 2%);
}
.header {
  width: 100%;
  height: 50px;
  background: white;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  display: flex;
}
.tempelteCss{
  position: relative;
  background: #ffffff;
  height: 90%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}

.header-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;

}

.add-btn{
  position: absolute;
  left: 20px;
  top: 20px;
}
.list-area{
  height: 90%;
  overflow-y: auto;
  box-sizing: border-box;
}

.template-list-wrap{
  width: 100%;
  height: 100%;

}

.template-list{
  display: flex;
  display: -webkit-flex; /* Safari */
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  padding: 10px;
}

li {
  list-style: none;
}
.template-list li{
  width: 216px;
  height: 250px;
  margin: 33px 23px;
}
.template-list li.report-card .item-wrap{
  position: relative;
  height: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08);
}

.template-list li.report-card .item-wrap:hover{
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(121,137,221,0.40);
}

.template-list li .create-wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.template-list li .create-wrap .report-title{
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  margin-top: 20px;
}

/* 操作按钮 */
.reportBtn-fade-enter-active {
  transition: all .2s ease;
}
.reportBtn-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.reportBtn-fade-enter,
.reportBtn-fade-leave-to {
  opacity: 0;
}

.template-list li .item-wrap .reportAction-container {
  position: absolute;
  top: 10px;
  right: 14px;
}
.template-list li .item-wrap .info {
  padding: 20px 14px;
}
.template-list li .item-wrap .info .name{
  font-family: PingFangSC-Medium;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0,0,0,0.65);
  font-weight: bold;
}
.template-list li .item-wrap .info .info_bottom{
  display: flex;
  justify-content: space-between;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  margin-top: 10px;
}
.template-list li .item-wrap .info .info_bottom .author{
  color: rgba(0,0,0,0.65);
}

.template-list li .item-wrap .operation-btn {
  border-top: 1px solid #ebebeb;
  display: flex;
  height: 30px;
}
.template-list li .item-wrap .operation-btn .view-btn{
  width: 50%;
  text-align: center;
  line-height: 30px;
  border-right: 1px solid #ebebeb;
}
.template-list li .item-wrap .operation-btn .delete-btn{
  width: 50%;
  text-align: center;
  line-height: 30px;
}
.template-list li .item-wrap .operation-btn .view-btn:hover, .template-list li .item-wrap .operation-btn .delete-btn:hover{
  color: #2d8cf0;
}

.report-card-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.report-card-container .report-card-add{
  width: 188px;
  height: 221px;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.report-card-container .report-card-add:hover {
  cursor: pointer;
}

.report-card-container .report-card-add > .report-card-img{
  width: 37px;
  height: 37px;
  margin: 80px 0 24px;
}

.report-card-container .report-card-add > .name {
  font-size: 14px;
  line-height: 22px;
  color: #3F73FF;
}

.report-card-container > .report-card-img{
  width: 188px;
  height: 122px;
}

.report-card-container > .name{
  font-family: PingFangSC-Regular;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0,0,0,0.65);
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.report-card-container > .report-card-bottom{
  font-family: PingFangSC-Regular;
  font-size: 12px;
  line-height: 17px;
  color: #666666;
  display: flex;
  justify-content: space-between;
}
.report-card-container > .report-card-bottom > .author{
  color: rgba(0,0,0,0.65);
}
.report-card-container > .report-card-bottom > .time{
  color: rgba(0,0,0,0.50);
}

.tempelteCss .content{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  text-align: center;
}
.addCss{
  border:1px solid rgba(0, 0, 0, 0.427450980392157);
}
.tempelteCss .content .addlist,.showCss{
  width:273px;
  height: 329px;
  margin-right:40px;
  border:1px solid #ffff;
  margin-bottom: 10px;
}
.tempelteCss .content .addlist{
  border:1px dashed #d9d9d9;
  line-height: 329px;
  font-size: 14px;
  color: #d9d9d9;
  text-align: center;
}

.oneCss,.twoCss,.threeCss{
  background: #fff;
  padding-left:25px;
}
.twoCss,.threeCss{
  padding-left:73px;
}
.oneCss img{
  display: block;
  width:33px;
  height: 32px;
  border-radius: 50%;
}
.oneCss span{
  line-height: 32px;
  font-size: 16px;
  margin-left:15px;
}
.twoCss{
  font-size: 14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height: 22px;
}
.threeCss{
  display: flex;
  padding-top: 12px;
  padding-bottom: 20px;
}
.threeCss span{
  font-size: 12px;
  color:rgba(0, 0, 0, 0.247058823529412);
  margin-right:40px;
}
.threeCss .pngListCss{
  position: relative;
}
.threeCss .imgCss0,.imgCss1,.imgCss2,.imgCss3{
  position: absolute;
  display: inline-block;
  width:20px;
  height: 20px;
  border-radius: 50%;
}
.threeCss .imgCss0{
  z-index: 3;
}
.threeCss .imgCss1{
  margin-left: 10px;
  z-index: 2;
}
.threeCss .imgCss2{
  margin-left: 20px;
  z-index: 1;
}
.threeCss .imgCss3{
  margin-left: 30px;
}
.fourCss{
  text-align:center;
  height: 38px;
  background: #f7f9fa;
  display: flex;
  justify-content: space-between;
  padding:0 25px;
  position: relative;
}
.fourCss img{
  display: inline-block;
  width:16px;
  height: 16px;
  margin-top:11px;
}
.fourCss span{
  display: inline-block;
  width:8px;
  height: 12px;
  color:#0000006D;
  border:1px solid #8d8f8f;
  margin-top:13px;
  cursor: pointer;
}
.fourCss .dialogCss{
  width:72px;
  background: #fff;
  position: absolute;
  right:0;
  top:25px;
}
.fourCss .dialogCss div{
  line-height: 29px;
  text-align: center;
  cursor: pointer;
}
.fourCss .dialogCss div:not(:last-child){
  border-bottom: 1px solid #f6f6f6;
}
.footer{
  display: flex;
  justify-content: center;
  margin-top:40px;
}
.footer span{
  display: inline-block;
  width:198px;
  line-height: 32px;
  text-align: center;
  border:1px solid #d9d9d9;
  color:#000000A5;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}
