<template>
  <div>
    <div class="menuBoxTitle">
      <span v-html="brightKeyword(showTitle(parentItem), searchMenuVal)"></span>
    </div>
    <div class="menuBox">
      <template v-for="item in children">
        <template v-if="item.children && item.children.length === 1">
          <search-menu-item v-if="showChildren(item)" :key="`menu-${item.name}`" :parent-item="item" style="padding-bottom: 12px"></search-menu-item>
          <menu-item v-else :name="getIdOrHref(item, true)" :key="`menu-${item.children[0].name}`">
            <span v-html="brightKeyword(showTitle(item.children[0]), searchMenuVal)"></span>
          </menu-item>
        </template>
        <template v-else>
          <search-menu-item v-if="showChildren(item)" :key="`menu-${item.name}`" :parent-item="item" style="padding-bottom: 12px"></search-menu-item>
          <menu-item v-else :name="getIdOrHref(item)" :key="`menu-${item.name}`">
            <span v-html="brightKeyword(showTitle(item), searchMenuVal)"></span>
          </menu-item>
        </template>
      </template>
    </div>
  </div>
</template>

<script>
import mixin from "../mixin";
import itemMixin from "../item-mixin";
export default {
  name: "SearchMenuItem",
  mixins: [mixin, itemMixin],
  props: {
    searchMenuVal: {
      type: String,
      default: ""
    }
  }
};
</script>

<style lang="less" scoped>
.ivu-menu-light.ivu-menu-vertical {
  .ivu-menu-item {
    padding: 0 0 12px;
    font-size: 12px;
  }
  .menuBoxTitle {
    color: #333333;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 12px;
  }
  .menuBox {
    max-height: 140px;
    overflow-y: auto;
  }
}
</style>
