<template>
  <Submenu :name="`${parentName}`">
    <template slot="title">
      <img
        class="menuIcon"
        v-if="parentItem.icon"
        :src="require('@/assets/images/menu/' + parentItem.icon + '.svg')"
        :title="sideMenuOpen ? '' : showTitle(parentItem)"
      />
      <img
        class="menuIconSelected"
        v-if="parentItem.icon"
        :src="require('@/assets/images/menu/' + parentItem.icon + 'Selected.svg')"
        :title="sideMenuOpen ? '' : showTitle(parentItem)"
      />
      <span v-if="sideMenuOpen">{{ showTitle(parentItem) }}</span>
    </template>
    <template v-for="item in children">
      <template v-if="item.children && item.children.length === 1">
        <side-menu-item v-if="showChildren(item)" :key="`menu-${item.name}`" :parent-item="item"></side-menu-item>
        <menu-item v-else :name="getIdOrHref(item, true)" :key="`menu-${item.children[0].name}`">
          <span>{{ showTitle(item.children[0]) }}</span>
        </menu-item>
      </template>
      <template v-else>
        <side-menu-item v-if="showChildren(item)" :key="`menu-${item.name}`" :parent-item="item"></side-menu-item>
        <menu-item v-else :name="getIdOrHref(item)" :key="`menu-${item.name}`">
          <span>{{ showTitle(item) }}</span>
        </menu-item>
      </template>
    </template>
  </Submenu>
</template>

<script>
import mixin from "../mixin";
import itemMixin from "../item-mixin";
export default {
  name: "SideMenuItem",
  mixins: [mixin, itemMixin],
  props: {
    sideMenuOpen: {
      type: Boolean,
      default: true,
    },
  },
};
</script>
