<template>
  <div class="ruleConditionItem-container">
    <div class="filter-condition-group-item" v-for="(filterItem, groupIndex) in filterConditions" :key="groupIndex">
      <img src="@/assets/icons/indicatorIcon/icon_and.svg" alt="与" class="icon-and" />
      <div>
        <FilterConditionItem
          v-for="(item, index) in filterItem"
          :key="index"
          :item-data="item"
          :edit="isEdit"
          :is-single="filterItem.length === 1"
          :show-btn-and="showBtnAdd(groupIndex, index, filterItem)"
          :show-btn-delete="showBtnDelete(filterItem)"
          @on-add-group="onAddGroup"
          @on-add-item="onAddItem(groupIndex, index)"
          @on-delete-item="onDeleteItem(groupIndex, index)"
          #default="slotProps"
        >
          <RuleItem
            :edit="slotProps.edit"
            :item-data="slotProps.data"
            :isSingle="slotProps.isSingle"
            :is-filter-dim="isFilterDim"
            :dim-id="dimIdTemp"
            @on-mode-change="onModeChange($event, groupIndex, index)"
            @on-indicator-change="onIndicatorChange($event, groupIndex, index)"
            @on-edit-expression="onShowExpressionModal($event, groupIndex, index)"
            @on-condition-type-change="onConditionTypeChange($event, groupIndex, index)"
            @on-variable-type-change="onVariableTypeChange($event, groupIndex, index)"
            @on-variable-value-change="onVariableValueChange($event, groupIndex, index)"
          />
        </FilterConditionItem>
      </div>
    </div>
  </div>
</template>

<script>
import FilterConditionItem from "@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/FilterConditionItem.vue";
import RuleItem from "./RuleItem";
import { mapState } from "vuex";
import { FILTER_CONDITION_ITEM } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/ruleModal";
import { deepCopy } from "@/utils/common";

export default {
  props: {
    filterConditions: {
      type: Array,
      required: true,
    },
    isEdit: {
      type: Boolean,
      required: true,
    },
  },
  components: {
    FilterConditionItem,
    RuleItem,
  },
  data() {
    return {
      dimIdTemp: -1,
    };
  },
  created() {
    // 如果存在多个动态指标，回填维度id
    const unwatch = this.$watch("filterConditions", {
      async handler(newVal) {
        if (newVal.length) {
          for (const ele of newVal) {
            for (const item of ele) {
              if (item.modeType === 3 && item.curDimensionIdDyna) {
                this.dimIdTemp = item.curDimensionIdDyna;
                return;
              }
            }
          }
        }
        if (unwatch) {
          unwatch();
        }
      },
      deep: true,
      immediate: true,
    });
  },
  computed: {
    ...mapState("earlyWarningTarget", ["allIndicator"]),
    showBtnAdd() {
      return (groupIndex, index, filterItem) => groupIndex === this.filterConditions.length - 1 && index === filterItem.length - 1;
    },
    showBtnDelete() {
      return (filterItem) => this.filterConditions.length > 1 || (this.filterConditions.length === 1 && filterItem.length > 1);
    },
    isFilterDim() {
      let fullArr = []; // 动态 + 维度已选择
      let notFullArr = []; // 动态 + 维度未选择
      this.filterConditions.forEach((ele) => {
        const a = ele.filter((item) => item.modeType === 3 && item.curDimensionIdDyna);
        fullArr = [...fullArr, ...a];
        const b = ele.filter((item) => item.modeType === 3 && !item.curDimensionIdDyna);
        notFullArr = [...notFullArr, ...b];
      });
      return this.dimIdTemp !== -1 && !(fullArr.length === 0 || (fullArr.length === 1 && notFullArr.length === 0));
    },
  },
  methods: {
    refreshFilterConditions(filterConditions) {
      this.$emit("change-filterConditions", filterConditions);
    },
    /**
     * 添加 与
     */
    onAddGroup() {
      let filterConditions = deepCopy(this.filterConditions);
      filterConditions.push([deepCopy(FILTER_CONDITION_ITEM)]);
      this.refreshFilterConditions(filterConditions);
    },
    /**
     * 添加 或
     */
    onAddItem(groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions);
      filterConditions[groupIndex].splice(index + 1, 0, deepCopy(FILTER_CONDITION_ITEM));
      this.refreshFilterConditions(filterConditions);
    },
    /**
     * 删除
     */
    onDeleteItem(groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions);
      let group = filterConditions[groupIndex];
      if (group.length === 1) {
        filterConditions.splice(groupIndex, 1);
      } else {
        group.splice(index, 1);
      }
      this.refreshFilterConditions(filterConditions);
    },
    /**
     * 选择模式
     */
    onModeChange(value, groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions);
      filterConditions[groupIndex][index].modeType = value;
      this.refreshFilterConditions(filterConditions);
    },
    /**
     * 选择指标
     */
    onIndicatorChange({ id, type }, groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions);
      if (type === "cur") {
        filterConditions[groupIndex][index].curIndicatorId = id;
        filterConditions[groupIndex][index].curIndicatorType = this.allIndicator.find((item) => item.id === id)?.type || null;
      } else if (type === "target") {
        filterConditions[groupIndex][index].targetIndicatorId = id;
        filterConditions[groupIndex][index].targetIndicatorType = this.allIndicator.find((item) => item.id === id)?.type || null;
      } else if (type === "dyna-dem") {
        // 记录动态指标的维度id
        if (!this.isFilterDim) {
          this.dimIdTemp = id;
        }

        filterConditions[groupIndex][index].curDimensionIdDyna = id;
      } else if (type === "dyna-indi") {
        filterConditions[groupIndex][index].curIndicatorIdDyna = id;
        filterConditions[groupIndex][index].curIndicatorTypeDyna = this.allIndicator.find((item) => item.id === id)?.type || null;
      } else if (type === "clear-indi-dyna") {
        filterConditions[groupIndex][index].curIndicatorIdDyna = null;
        filterConditions[groupIndex][index].targetIndicatorId = null;
        filterConditions[groupIndex][index].targetIndicatorType = null;
      }

      this.refreshFilterConditions(filterConditions);
    },
    /**
     * 展示公式编辑弹窗
     */
    onShowExpressionModal(payload, groupIndex, index) {
      this.$emit("show-expression-modal", { ...payload, groupIndex, index });
    },

    /**
     * 改变条件类型
     */
    onConditionTypeChange(value, groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions);
      filterConditions[groupIndex][index].conditionType = value;
      this.refreshFilterConditions(filterConditions);
    },
    /**
     * 改变比较类型
     */
    onVariableTypeChange(value, groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions);
      filterConditions[groupIndex][index].variableType = value;
      this.refreshFilterConditions(filterConditions);
    },
    /**
     * 比较类型为 '常量' 时，改变值
     */
    onVariableValueChange(value, groupIndex, index) {
      let filterConditions = deepCopy(this.filterConditions);
      filterConditions[groupIndex][index].variableValue = value;
      this.refreshFilterConditions(filterConditions);
    },
  },
};
</script>

<style lang="less" scoped>
.ruleConditionItem-container {
  width: 100%;
  height: 100%;
  .filter-condition-group-item {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
    &::before {
      content: "";
      display: block;
      width: 3px;
      height: 100%;
      background: rgba(72, 121, 255, 0.3);
      position: absolute;
      left: 26px;
    }
    .icon-and {
      width: 20px;
      height: 20px;
    }

    .filter-condition-item {
      // 表达式
      /deep/.filter-condition-select.expression,
      /deep/.filter-condition-select.expression-target {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .indicator {
          img {
            margin-right: 4px;
            vertical-align: bottom;
          }
          span {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #3f73ff;
          }
        }
        .operator {
          display: inline-block;
          height: 24px;
          padding: 6px 0;
          margin: 0 7px;
          vertical-align: bottom;
        }
      }
    }
  }
}
</style>
