<template>
  <span :class="['faTagBox', checked ? 'faActive' : null]" @click="handleClickTag" >
    <slot></slot>
    <Icon v-if="removeAble" size="16" style="margin-left: 6px; margin-bottom: 1px" type="ios-close" @click="handleRemoveTag($event)"/>
  </span>
</template>

<script>
export default {
  name: "faTag",
  props: {
    checked: {
      type: Boolean,
    },
    idx: {
      type: Number
    },
    removeAble: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleClickTag() {
      this.$emit('fa-change', !this.checked)
    },
    handleRemoveTag(e) {
      e.stopPropagation()
      this.$emit('fa-remove', this.idx)
    }
  }
}
</script>

<style scoped lang="less">
  .faTagBox {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 12px;
    padding: 2px 8px;
    cursor: pointer;
    color: #666;
    display: inline-block;
    margin: 0 10px 10px 0;
    min-width: 42px;
    min-height: 24px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box
  }
  .faActive {
    background: #f0f5ff;
    border: 1px solid #3F73FF;
    color: #3F73FF;
  }
</style>
