<template>
  <Select
    class="searchMemberSelect-container"
    :value="selectedUser"
    :placeholder="placeholder"
    filterable
    :loading="loadingUser"
    :remote-method="getUserTree"
    @on-change="onChange"
  >
    <Option
      v-for="item in userTreeData"
      :value="item.username"
      :key="item.id"
      >{{ item.nickname }}</Option
    >
  </Select>
</template>

<script>
import { getUserListAll } from "@/api/systemManagement/system";

export default {
  model: {
    prop: "userName",
    event: "update:userName",
  },
  props: {
    userName: {
      type: [String, Object],
      // required: true
    },
    placeholder: {
      type: String,
      default: "搜索用户",
    },
    from: {
      type: String,
      default: "",
    },
    deptId: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      loadingUser: false,
      userTreeData: [],
      selectedUser: "", // 选中的用户
    };
  },
  created() {
    /**
     * 编辑时首次打开弹窗，回填用户。然后取消监听
     */
    const unwatch = this.$watch("userName", {
      async handler(newVal) {
        if (typeof newVal === "string" && newVal) {
          this.selectedUser = newVal;
        }
        if (typeof newVal === "object" && Object.keys(newVal).length) {
          this.selectedUser = newVal.username;
        }
        if (unwatch) {
          unwatch();
        }
      },
      immediate: true,
    });
  },
  methods: {
    /**
     * 获取用户树
     * @param {String} query 搜索关键字
     */
    async getUserTree(query) {
      if (query !== "") {
        this.loadingUser = true;
        this.userTreeData = await this.getUserData(query);
        this.loadingUser = false;
      } else {
        this.userTreeData = [];
      }
    },
    async getUserData(query) {
      const params = {
        currentPage: 1,
        pageSize: 1000,
        username: query,
        deptId: this.deptId ? [this.deptId] : [],
      };
      const res = await getUserListAll(params);
      if (res.data.state === "success") {
        return res.data.data.data.map((ele) => ({
          id: ele.id,
          nickname: ele.nickname, // 昵称
          username: ele.name, // 用户名
        }));
      }
    },
    onChange(value = "") {
      this.selectedUser = value;
      if (this.from === "task") {
        // 任务管理: 返回 id nickname username
        const data = this.userTreeData.find((ele) => ele.username === value);
        this.$emit("update:userName", data);
      } else {
        // 其他: 返回 username
        this.$emit("update:userName", value);
      }
    },
  },
  watch: {
    // 不存在选中用户时，清空下拉框的数据 已选数据
    userName: {
      handler(newVal) {
        const isNotData =
          (typeof newVal === "string" && !newVal) ||
          (typeof newVal === "object" && !Object.keys(newVal).length);
        if (isNotData) {
          this.userTreeData = [];
          this.selectedUser = "";
        }
      },
    },
    deptId: {
      handler() {
        this.userTreeData = [];
      },
    },
  },
};
</script>

<style lang="less" scoped>
.searchMemberSelect-container {
  width: 100%;
  height: 100%;
  /deep/.ivu-select-selection {
    height: 32px;
    > div {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
</style>
