<template>
  <div>
    <Modal class="where-condition-modal"
           v-model="filter.show"
           :title="filter.title"
           width="784"
           @on-ok="confirmFilter"
           @on-cancel="cancelFilter">
      <div class="title">
        <Row class="where-condition1">
          <Col span="7">
            筛选列
          </Col>
          <Col span="7">
            条件符
          </Col>
          <Col span="7">
            值
          </Col>
        </Row>
      </div>
      <div class="body" v-for="(group,key) in whereConditions.groups" :key="key">
        <Row class="where-condition" v-for="(item,keyItem) in group.columnConditions" :key="keyItem">
          <Col span="7">
            <Select :disabled="whereConditions.currentColumn!==null" clearable style="width: 212px"
                    v-model="item.columnName"
                    @on-change="chooseColumn(item)">
              <Option v-for="column in whereConditions.columns" :value="column.name" :key="column.value">
                {{ column.title?column.title:column.name}}
              </Option>
            </Select>
          </Col>
          <Col span="7">
            <Select clearable @on-change='conditionTypeChange(item)' style="width: 212px" v-model="item.conditionType">
              <Option v-for="symbol in calculateSymbol" :value="symbol.key" :key="symbol.key">{{ symbol.value}}</Option>
            </Select>
          </Col>
          <Col span="7">
            <div class="value-input" v-for="input in item.inputValue">
              <Input placeholder="请输入内容" @on-clear="addInputValue(item)" @on-keyup="addInputValue(item)" clearable
                     style="width: 212px" v-model="input.value"/>
            </div>
          </Col>
          <Col span="2">
            <div style="display:flex;align-items:center;text-align: center;">
              <span :class="keyItem === group.columnConditions.length - 1?'or-active':'or-disable'"
                    @click="addWhereCondition(group,keyItem === group.columnConditions.length - 1)">或</span>
              <img style="cursor:pointer;"
                   @click="delWhereCondition(whereConditions,group,key,keyItem)"
                   src="@/assets/images/dataset/delete-unoin.svg"/>
            </div>
          </Col>
        </Row>
        <span :class="key === whereConditions.groups.length-1?'and-active':'and-disable'"
              @click="addGroupCondition(whereConditions,key === whereConditions.groups.length-1)">与</span>
      </div>
    </Modal>

  </div>
</template>

<script>
  export default {
    name: 'whereFilter',
    props: {
      calculateSymbol: {
        type: Array,
        default: []
      },
      whereConditions: {
        type: Object,
        default: () => ({})
      },
      filter: {
        type: Object,
        default: () => ({})
      }
    },

    data() {
      return {
        currentColumn: null,
        groupId: 0,
        condition: {
          tableId: null,
          databaseType: 'mysql',
          columnType: '',
          columnName: '',
          conditionType: '',
          value: '',
          inputValue: [
            {
              value: ''
            }
          ]
        }
      }
    },
    watch: {},
    methods: {
      confirmFilter() {
        let {groups} = this.whereConditions
        let group1 = JSON.parse(JSON.stringify(groups))
        if (this.whereConditions.currentColumn) {
          let groupC = []
          this.operateGroups(group1, groupC)
          this.whereConditions.currentColumn.groups = groupC
        } else {
          let groupC = []
          this.operateGroups(group1, groupC)
          this.filter.groups = groupC
        }
        this.cancelFilter(1)
        this.$emit('confirmFilter', {whereConditions: this.whereConditions, filter: this.filter})
      },
      cancelFilter(val) {
        this.currentColumn = null
        this.whereConditions.groups = []
        this.filter.show = false
        if (this.filter.groups.length > 0) {
          let groups = this.filter.groups
          this.filter.groups = groups.filter(item => {
            return !item.isNew
          })
        }
        if (!val) {
          this.$emit('cancelFilter', {whereConditions: this.whereConditions, filter: this.filter})
        }
      },
      chooseColumn(item) {
        let columns = this.whereConditions.columns

        for (let i = 0; i < columns.length; i++) {
          if (columns[i].name === item.columnName) {
            item.columnType = columns[i].dataType
            break
          }
        }
      },
      conditionTypeChange(condition) {
        let preType = condition.preType
        let manyIn = (preType === 8 || preType === 9)
        let manyBetween = (preType === 7)
        let type = parseInt(condition.conditionType)
        let empty = 0
        if (manyIn) {
          if (type === 7) {
            let newData = []
            condition.inputValue.forEach((item, index) => {

              if (!(index > 1)) {
                newData.push(item)
              }
            })
            condition.inputValue = newData
          } else if (!(type === 8 || type === 9)) {
            for (let i = 0; i < condition.inputValue.length; i++) {
              if (condition.inputValue[i].value) {
                condition.inputValue = [{value: condition.inputValue[i].value}]
                break
              }
            }
          }
        } else if (manyBetween) {
          if ((type === 8 || type === 9)) {
            condition.inputValue.forEach(item => {
              if (!item.value) empty++
            })
            if (!empty > 0) {
              condition.inputValue.push({value: ''})
            }

          } else if (!(type === 8 || type === 9) && type !== 7) {
            for (let i = 0; i < condition.inputValue.length; i++) {
              if (condition.inputValue[i].value) {
                condition.inputValue = [{value: condition.inputValue[i].value}]
                break
              }
            }
          }
        } else {
          if (type === 7) {
            condition.inputValue.forEach(item => {
              if (!item.value) empty++
            })
            if (empty === 0) {
              condition.inputValue.push({value: ''})
            } else {
              condition.inputValue = [{value: ''}, {value: ''}]
            }

          } else if ((type === 8 || type === 9)) {
            condition.inputValue.forEach(item => {
              if (!item.value) empty++
            })
            if (empty === 0) {
              condition.inputValue.push({value: ''})
            }
          }
        }

        condition.preType = type
      },
      addInputValue(condition) {
        let type = parseInt(condition.conditionType)
        //in /not ni
        if (type === 8 || type === 9) {
          let emptyNum = 0
          let lastEmptyNum = 0
          condition.inputValue.forEach((item, index) => {
            if (!item.value) {
              lastEmptyNum = index
              emptyNum++
            }
          })
          if (emptyNum === 0) {
            condition.inputValue.push({value: ''})
          } else if (emptyNum === 2) {
            let len = condition.inputValue.length
            condition.inputValue.splice(lastEmptyNum, 1)
          }
          this.$forceUpdate()
        }
      },
      addGroupCondition(whereConditions, result) {
        if (!result) {
          return
        }
        let currentName = this.currentColumn ? this.currentColumn.column.name.trim() : null
        let condition = JSON.parse(JSON.stringify(this.condition))
        condition.columnName = currentName ? currentName : ''
        let data = {
          isNew: true,
          groupId: this.groupId++,
          columnConditions: [condition]
        }
        whereConditions.groups.push(data)
      },
      addWhereCondition(group, result) {
        if (!result) {
          return
        }
        let currentName = this.currentColumn ? this.currentColumn.column.name.trim() : null
        let condition = JSON.parse(JSON.stringify(this.condition))
        condition.columnName = currentName ? currentName : ''
        group.columnConditions.push(condition)
      },
      delWhereCondition(whereConditions, group, groupIndex, conditionIndex) {

        let groupOld = JSON.parse(JSON.stringify(group))
        let conditionOld = groupOld.columnConditions[0]
        if (whereConditions.groups.length === 1 && group.columnConditions.length === 1) {
          let condition = JSON.parse(JSON.stringify(this.condition))
          if (whereConditions.currentColumn) {
            condition.tableId = conditionOld.tableId
            condition.databaseType = conditionOld.databaseType
            condition.columnName = conditionOld.columnName
          }
          group.columnConditions = [condition]
          return
        }
        //自定义删除
        if (!this.whereConditions.currentColumn) {
          let groups = this.whereConditions.groups
          for (let i = 0; i < groups.length; i++) {
            if (groups[i].groupId === group.groupId) {
              let columnConditions = group.columnConditions
              columnConditions.splice(conditionIndex, 1)
              if (columnConditions.length === 0) {
                groups.splice(i, 1)
                break
              }
            }
          }
        } else {
          // 列where删除
          group.columnConditions.splice(conditionIndex, 1)
          if (group.columnConditions.length === 0) {
            whereConditions.groups.splice(groupIndex, 1)
          }
        }

      },
      operateGroups(group1, groupC) {
        group1.forEach(group => {
          let newGroupItem = {groupId: group.groupId}
          if (group.columnConditions) {
            let columnConditions = []
            group.columnConditions.forEach(condition => {
              if (condition.columnName && condition.conditionType) {
                condition.value = ''
                condition.inputValue.forEach(input => {
                  if (input.value) {
                    condition.value += input.value + ','
                  }
                })
                let index = condition.value.lastIndexOf(',')
                condition.value = condition.value.substr(0, index)
                if (condition.value) {
                  //between
                  if (parseInt(condition.conditionType) === 7) {
                    if (condition.value.split(',').length === 2) columnConditions.push(condition)
                  } else {
                    columnConditions.push(condition)
                  }

                }
              }
            })
            newGroupItem.columnConditions = columnConditions
          }
          if (newGroupItem.columnConditions.length > 0) {
            newGroupItem.isNew = false
            groupC.push(newGroupItem)
          }
        })
      },
      showFilterModel(isColumn, currentColumn) {
        this.currentColumn = currentColumn ? currentColumn : null
        let currentName = currentColumn ? currentColumn.column.name.trim() : null
        let condition = JSON.parse(JSON.stringify(this.condition))
        condition.columnName = currentName ? currentName : ''
        let groupItem = {
          isNew: true,
          groupId: this.groupId++,
          columnConditions: [condition]
        }
        this.filter.show = true
        if (isColumn) {
          let title = currentColumn.column.title
          this.filter.title = '内容筛选-' + title
          this.whereConditions.columns.forEach(item => {
            let name = item.name.trim()
            if (currentName && currentName.toUpperCase() === name.toUpperCase()) {
              this.whereConditions.currentColumn = item
              let len = item.groups.length
              if (len > 0) {
                this.whereConditions.groups = JSON.parse(JSON.stringify(item.groups))
              } else {
                this.whereConditions.groups.push(groupItem)
              }
            }
          })
        } else {
          this.filter.title = '自定义筛选'
          this.whereConditions.currentColumn = null
          if (!this.filter.groups.length > 0) {
            this.filter.groups.push(groupItem)
          }
          this.whereConditions.groups = JSON.parse(JSON.stringify(this.filter.groups))
        }
      },
    }
  }
</script>

<style scoped lang="less">
  .where-condition-modal {
    .body {
      .and-active {
        margin-left: 25px;
        margin-bottom: 16px;
        text-align: center;
        color: white;
        display: inline-block;
        height: 20px;
        width: 20px;
        background-color: #9ae99e;
        border-radius: 2px;
        cursor: pointer;
      }

      .and-disable {
        margin-left: 25px;
        margin-bottom: 16px;
        text-align: center;
        color: white;
        display: inline-block;
        height: 20px;
        width: 20px;
        background-color: #D9D9D9;
        border-radius: 2px;
        cursor: pointer;
      }
    }

    .where-condition1 {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      text-align: center !important;
    }

    .where-condition {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      text-align: center !important;

      .value-input + .value-input {
        margin-top: 16px;
      }

      .or-active {
        margin-right: 18px;
        color: white;
        display: inline-block;
        height: 20px;
        width: 20px;
        background-color: #3F73FF;
        border-radius: 2px;
        cursor: pointer
      }

      .or-disable {
        margin-right: 18px;
        color: white;
        display: inline-block;
        height: 20px;
        width: 20px;
        background-color: #D9D9D9;
        border-radius: 2px;
        cursor: pointer
      }
    }
  }
</style>
