<template>
  <div class="publicResourcePool-container">
    <div class="publicResourcePoolWrapper">
      <Tabs class="publicResourceTab" :value="tabName" @on-click="clickTab" :animated="false">
        <TabPane v-for="item in tabPaneList" :key="item.name" :label="item.label" :name="item.name"></TabPane>
      </Tabs>

      <FilterSearch
        :asset-type="tabName"
        :search-condition="searchCondition"
        :selected-data-list="selectedDataList"
        @searchTable="searchTable"
        @batchApply="batchApply"
      />
      <section style="position: relative; height:calc(100% - 66px - 48px)">
        <Spin fix v-if="tabelLoading">
          <Icon type="ios-loading" size=28 class="table-spin-icon-load"></Icon>
          <div>Loading</div>
        </Spin>
        <div v-else>
          <TableList
            v-if="dataList.length"
            :asset-type="tabName"
            :data-list="dataList"
            :tabel-loading="tabelLoading"
            :page-condition="pageCondition"
            @changePageData="changePageData"
            @changeCheck="selectedDataList = $event"
            @refresh:data="searchTable"
            @updateData:end="changeData"
            @show:modal="showModal"
            @record:condition="recordCondition"
          />
          <NoData v-else :width="1180" :height="575" :img-src="noDataImg" />
        </div>  
      </section>
    </div>

    <!-- 变更所有者弹窗 -->
    <ChangeOwnerModal
      v-model="showChangeOwnerModal"
      :modal-status="changeModalStatus"
      @closeModal="closeChangeModal"
      @changeOwner:success="changeData"
    />
    <!-- 权限申请弹窗 -->
    <ApplyAuthModal v-model="showApplyAuthModal" :apply-list="applyList" @success="changeData" />
    <!-- 权限分享弹窗 -->
    <AuthShareModal v-model="showAuthShare" :modal-status="authShareModalStatus" :share-from="shareFrom" />
    <!-- 确认删除弹框 -->
    <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList" />
  </div>
</template>

<script>
import FilterSearch from "./components/FilterSearch";
import TableList from "./components/TableList";
import NoData from "@/components/NoData";
import ChangeOwnerModal from "@/components/ChangeOwnerModal";
import ApplyAuthModal from "@/components/ApplyAuthModal";
import AuthShareModal from "@/components/AuthShareModal";
import DeleteAssetModal from "@/view/components/DeleteAssetModal/index.vue";
import { TAB_PANE_LIST } from "@/view/publicResourcePool/constant";
import { REPORT_ASSET, DIMENSION_ASSET, INDICATOR_ASSET, DATA_MODEL_ASSET } from "@/config/resourcePublish";
import { getDataOnPage } from "@/api/publicResourcePool";
import { IN_ONLINE } from "@/config/resourcePublish";
import resourcePublish from "@/mixins/resourcePublish";
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import { INDICATOR_OPTION_LIST } from "@/config/indicator";

export default {
  name: "publicResourcePool",
  mixins: [resourcePublish],
  components: {
    FilterSearch,
    TableList,
    NoData,
    ChangeOwnerModal,
    ApplyAuthModal,
    AuthShareModal,
    DeleteAssetModal
  },
  data() {
    return {
      noDataImg,
      tabName: REPORT_ASSET,
      tabPaneList: TAB_PANE_LIST,
      searchCondition: {
        assetName: "", // 资产关键字
        assetsGroupValue: [-1], // 选择的资产分组
        tagValue: [] // 选择的标签
      },
      dataList: [], // 表格数据
      tabelLoading: false,
      pageCondition: {
        pageSize: 15,
        currentPage: 1,
        total: 0
      },
      selectedDataList: [] // 已勾选的表格数据
    };
  },
  computed: {
    getModuleType() {
      return type => {
        if (this.tabName === REPORT_ASSET) {
          return 5;
        } else if (this.tabName === DIMENSION_ASSET) {
          return 1;
        } else if (this.tabName === INDICATOR_ASSET) {
          return INDICATOR_OPTION_LIST.find(i => i.value === type).moduleType;
        }
      };
    },
    shareFrom() {
      if (this.tabName === REPORT_ASSET) {
        return "报告";
      } else if (this.tabName === DIMENSION_ASSET) {
        return "维度";
      } else if (this.tabName === INDICATOR_ASSET) {
        return "指标";
      }
    }
  },
  created() {
    // 从详情返回
    let searchData = sessionStorage.getItem("publicResourcePoolSearchBack");
    if (searchData) {
      const { tabName, pageSize, currentPage, searchCondition } = JSON.parse(searchData);
      this.tabName = tabName;
      this.pageCondition.pageSize = pageSize;
      this.pageCondition.currentPage = currentPage;
      this.searchCondition = searchCondition;
    }
    sessionStorage.removeItem("publicResourcePoolSearch");
    sessionStorage.removeItem("publicResourcePoolSearchBack");

    this.getTableData(this.tabName, this.searchCondition, this.pageCondition);
  },
  methods: {
    /**
     * 获取表格数据
     * @param {Object} tabName
     * @param {Object} searchCondition 搜索条件
     * @param {Object} pageCondition 分页条件
     */
    async getTableData(tabName, searchCondition, pageCondition) {
      this.tabelLoading = true;
      const { assetName, assetsGroupValue, tagValue } = searchCondition;
      const { pageSize, currentPage } = pageCondition;
      const params = {
        moduleType: tabName === INDICATOR_ASSET ? 20 : this.getModuleType(), // 类型
        pageSize,
        pageNum: currentPage
      };

      if (assetName !== "") {
        params.name = assetName; // 名称
      }
      if (assetsGroupValue[0] !== -1) {
        params.groupId = assetsGroupValue[0]; // 资产分组id
      }
      if (tagValue.length) {
        params.labelIds = tagValue.map(ele => ele.id); // 标签id
      }

      const res = await getDataOnPage(params);
      if (res.data.state === "success") {
        this.tabelLoading = false;
        const { records, total } = res.data.data;
        this.pageCondition.total = total;
        this.dataList = records.map(ele => ({
          id: ele.id,
          moduleType: this.getModuleType(ele.type), // 资产类型
          type: ele.type, // 资产为指标时，指标类型
          name: ele.name, // 名称
          assetsGroupName: ele.groupName, // 资产分组
          creator: ele.creator, // 创建人昵称
          creatorId: ele.creatorId, // 创建人id
          status: IN_ONLINE, // 已发布
          controlView: ele.controlView, // 用户权限: 查看
          controlEdit: ele.controlEdit, // 用户权限: 编辑
          _disabled: this.isHasAllAuth(ele) // 资源是否禁止选择
        }));
      } else {
        this.tabelLoading = false;
        this.$Message.error("表格数据获取失败！");
      }
    },
    /**
     * 切换tab
     */
    clickTab(name) {
      if (this.tabName === name) return;
      this.tabName = name;

      // 清空勾选
      this.selectedDataList = [];

      // 清空搜索条件
      this.searchCondition = {
        assetName: "",
        assetsGroupValue: [-1],
        tagValue: []
      };

      // 清空分页
      this.pageCondition = {
        pageSize: 15,
        currentPage: 1,
        total: 0
      };

      // 请求table数据
      this.pageCondition.currentPage = 1;
      this.pageCondition.pageSize = 15;
      this.getTableData(this.tabName, this.searchCondition, this.pageCondition);
    },
    /**
     * 搜索
     */
    searchTable() {
      this.pageCondition.currentPage = 1;
      this.getTableData(this.tabName, this.searchCondition, this.pageCondition);
    },
    /**
     * 刷新当前数据（不改变搜索条件、分页等）
     */
    changeData() {
      this.getTableData(this.tabName, this.searchCondition, this.pageCondition);
    },
    /**
     * 展示申请弹窗
     */
    batchApply() {
      this.showModal({ type: "批量申请权限", row: this.selectedDataList });
    },
    /**
     * 改变表格的分页数据
     */
    async changePageData(key, val) {
      this.pageCondition[key] = val;
      this.getTableData(this.tabName, this.searchCondition, this.pageCondition);
    },
    /**
     * 记录当前的tab、页码、筛选条件。从详情页返回时还原
     */
    recordCondition() {
      const sessionData = {
        tabName: this.tabName, // 资源类型
        pageSize: this.pageCondition.pageSize,
        currentPage: this.pageCondition.currentPage,
        searchCondition: this.searchCondition
      };
      console.log('sessionData',sessionData)
      sessionStorage.setItem("publicResourcePoolSearch", JSON.stringify(sessionData));
    }
  }
};
</script>

<style lang="less" scoped>
.publicResourcePool-container {
  width: 100%;
  height: 100%;
  padding: 10px 10px 13px;
  box-sizing: border-box;
  background-color: #f3f7ff;
  .publicResourcePoolWrapper {
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 0 16px 12px;

    /deep/ .publicResourceTab {
      width: 100%;
      .ivu-tabs-bar {
        border-bottom: 1px solid #eaeaea;
        .ivu-tabs-tab {
          padding: 14px 16px 13px;
          font-family: PingFangSC-Medium;
          font-size: 16px;
          color: #333333;
          font-weight: 600;
          &.ivu-tabs-tab-active {
            color: #3f73ff;
          }
        }
      }
      .ivu-tabs-content,
      .ivu-tabs-context-menu {
        height: 0;
      }
    }
    .filterSearch-container {
      height: 32px;
      margin-bottom: 16px;
    }
    .tableList-container {
      height: calc(~"100% - 66px - 48px");
    }
  }
}
</style>
