<template>
  <div class="table-tree">
    <Table
      class="table"
      row-key="name"
      :columns="columns"
      :data="data"
      @on-select="$emit('on-select', ...arguments)"
      @on-select-cancel="$emit('on-select-cancel', ...arguments)">
      <template slot-scope="{ row }" slot="name">
        <div class="name" :title="row.name" @click="onClickName" @mouseover="onMouseoverName">
          {{ row.name }}
        </div>
      </template>
      <template slot-scope="{ row }" slot="status">
        <div class="status" :class="getStatusClass(row.status)">{{ getStatusStr(row.status) }}</div>
      </template>
      <template slot-scope="{ row }" slot="result">
        <div class="result success" v-if="row.result === 1">成功</div>
        <div v-if="row.result === 2">
          <Poptip trigger="hover" placement="right" :content="row.detail">
            <div class="result fail">失败</div>
          </Poptip>
        </div>
      </template>
      <template slot-scope="{ row }" slot="updateTime">{{ getUpdateTimeStr(row.updateTime) }}</template>
      <template slot-scope="{ row }" slot="action">
        <!-- 文件夹有移动至、删除按钮 -->
        <template v-if="row.type === 'group'">
          <Button class="action-btn" type="text" v-allow="[1114856480572418]" @click="onMove(row)">移动至</Button>
          <Button class="action-btn" type="text" v-allow="[1114856480572423]" @click="onDelete(row)" v-if="row.parentId !== -1">删除</Button>
        </template>
        <!-- 数据集 -->
        <template v-else>
          <!-- 未发布有编辑、发布、移动至、查看、删除 -->
          <template v-if="row.status === 0">
            <Button class="action-btn" type="text" v-allow="[1114856480572418]" @click="onEdit(row)">编辑</Button>
            <Button class="action-btn" type="text" v-allow="[1114856480572419]" @click="onPublish(row)">发布</Button>
          </template>
          <!-- 已发布有查看、日志、移动至、删除、停用 -->
          <template v-if="row.status === 1 || row.status === 2">
            <Button class="action-btn" type="text" v-allow="[1114856480572420]" @click="onView(row)">查看</Button>
            <Button class="action-btn" type="text" v-allow="[1114856480572422]" @click="onStop(row)">停用</Button>
          </template>
          <!-- 已停用有查看、日志、移动至、删除、启用 -->
          <template v-if="row.status === 3">
            <Button class="action-btn" type="text" v-allow="[1114856480572420]" @click="onView(row)">查看</Button>
            <Button class="action-btn" type="text" v-allow="[1114856480572422]" @click="onPublish(row)">发布</Button>
          </template>
          <Poptip transfer-class-name="poptip" trigger="hover" placement="left" width="110" transfer>
            <Icon type="md-more" size="16" color="#3F73FF" />
            <template #content>
              <div class="other-buttons">
                <Button class="action-btn" type="text" v-allow="[1114856480572421]" v-if="row.status >= 1 && row.status <= 3" @click="openLog(row)">日志
                </Button>
                <Button class="action-btn" type="text" v-allow="[1114856480572418]" @click="onMove(row)">移动至</Button>
                <Button class="action-btn" type="text" v-allow="[1114856480572423]" @click="onDelete(row)">删除</Button>
              </div>
            </template>
          </Poptip>
        </template>
      </template>
    </Table>
    <MoveModal ref="moveModal" />
    <!--  确认删除弹框  -->
    <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList" />
  </div>
</template>

<script>
import MoveModal from '@/view/dataset/DataModel/DatasetList/table-tree/MoveModal.vue'
import DeleteAssetModal from '@/view/components/DeleteAssetModal/index.vue'
import { mapState } from 'vuex'
import deleteAsset from '@/mixins/deleteAsset'
import { del, delFolder, publish, stopStartUsing } from '@/api/dataset'
import moment from 'moment/moment'
import { TYPE_DATA_MODEL } from '@/view/components/DeleteAssetModal/constant'

export default {
  name: 'TableTree',
  components: {
    MoveModal,
    DeleteAssetModal,
  },
  mixins: [deleteAsset],
  props: {
    data: Array,
  },
  computed: {
    ...mapState('dataset', ['dataSource']),
  },
  data() {
    return {
      columns: [
        { type: 'selection', width: 60, align: 'center' }, // 多选
        {
          title: '名称',
          slot: 'name',
          tree: true,
          renderHeader: (h, { column, index }) => h('div', [
            h('span', column.title),
            h('span', {
              class: 'bulk-move-btn',
              on: {
                click: this.bulkMove,
              },
            }, '批量移动'),
          ]),
        },
        { title: '状态', slot: 'status', width: 100 },
        { title: '上次调用结果', slot: 'result', align: 'center', width: 130 },
        { title: '创建人', key: 'creator', width: 100 },
        { title: '修改时间', slot: 'updateTime', width: 160 },
        { title: '操作', slot: 'action', align: 'left', width: 200 },
      ],
    }
  },
  methods: {
    // 点击名称，展开收起
    onClickName(e) {
      const td = e.target.closest('td')
      const icon = td.querySelector('.ivu-table-cell-tree')
      icon.click()
    },

    // 鼠标悬浮名称，如果是目录，显示小手
    onMouseoverName(e) {
      const td = e.target.closest('td')
      const icon = td.querySelector('.ivu-table-cell-tree')
      if (!icon.classList.contains('ivu-table-cell-tree-empty')) {
        td.style.cursor = 'pointer'
      } else {
        td.style.cursor = 'initial'
      }
    },

    // 获取状态
    getStatusStr(status) {
      // 0-未发布 1-已发布 2-启用 3-已停用 4-待审核 5-审核未通过 6-已上传 7-上传中 8-上传失败
      if (status === 0) return '未发布'
      if (status === 1 || status === 2) return '已发布'
      if (status === 3) return '已停用'
    },

    // 获取状态class
    getStatusClass(status) {
      if (status === 0) return 'not-published'
      if (status === 1 || status === 2) return 'published'
      if (status === 3) return 'stop'
    },

    // 获取修改时间
    getUpdateTimeStr(updateTime) {
      return moment(updateTime).format('YYYY.MM.DD HH:mm:ss')
    },

    // 批量移动
    bulkMove() {
      // 从树中递归出已经勾选的资源
      let sourceList = this.findCheckedSourceList(this.data)
      if (!sourceList.length) return this.$Message.warning('请选择需要移动的数据集或者目录！')
      this.$refs.moveModal.openModal(sourceList)
    },

    // 查找已勾选资源的递归函数
    findCheckedSourceList(tree) {
      let sourceList = []
      for (let treeItem of tree) {
        // 如果已勾选，无需再向下查找
        if (treeItem._checked) {
          // 移动至功能只用到id和type
          const { id, type } = treeItem
          sourceList.push({ id, type })
          continue
        }
        if (treeItem.children) {
          let childrenSourceList = this.findCheckedSourceList(treeItem.children)
          if (childrenSourceList.length) sourceList.push(...childrenSourceList)
        }
      }
      return sourceList
    },

    // 移动至
    onMove(row) {
      // 移动至功能只用到id和type
      const { id, type } = row
      this.$refs.moveModal.openModal([{ id, type }])
    },

    // 编辑
    onEdit(row) {
      this.$router.push({
        path: 'datasetEdit',
        query: {
          datasetId: row.id,
          edit: true,
          databaseId: this.dataSource, // 选择的数据源
        },
      })
    },

    // 查看
    onView(row) {
      this.$router.push({
        path: 'view',
        query: { datasetId: row.id },
      })
    },

    // 发布
    onPublish(row) {
      this.$Modal.confirm({
        title: `确认发布吗？`,
        content: '发布后无法再次编辑内容',
        okText: '确认',
        onOk: async () => {
          const res = await publish(row.id)
          if (res.data.state === 'success') {
            this.$bus.$emit('refresh-dataset-list')
            this.$Message.success('操作成功！')
          } else {
            this.$Message.error('操作失败！')
          }
        },
      })
    },

    // 停用
    onStop(row) {
      this.$Modal.confirm({
        title: '确认停用吗？',
        content: '停用后数据模型无法再次调用',
        okText: '确认',
        onOk: async () => {
          const params = {
            datasetId: row.id,
            status: 3,
          }
          const res = await stopStartUsing(params)
          if (res.data.state === 'success') {
            this.$bus.$emit('refresh-dataset-list')
            this.$Message.success('操作成功！')
          } else {
            this.$Message.error('操作失败！')
          }
        },
      })
    },

    // 打开日志
    openLog(row) {
      this.$emit('on-open-log', {
        visible: true,
        from: 'dailyBtn',
        title: row.name,
        datasetId: row.id,
        tableId: row.tableId,
        dataUpdateType: row.dataUpdateType, // 标识当前数据集的调度方式
      })
    },

    // 删除
    async onDelete(row) {
      // 删除文件夹，空文件夹才可以删除
      if (row.type === 'group') {
        if (row.children.length) {
          this.$Message.warning('不能删除非空的文件夹！')
          return
        }
        const res = await delFolder(row.id)
        if (res.data.state === 'success') {
          // 刷新列表...
          this.$bus.$emit('refresh-dataset-list')
          this.$Message.success('删除文件夹成功！')
        } else {
          this.$Message.error('删除文件夹失败！')
        }
      } else {
        // 删除数据集需要二次确认
        this.$Modal.confirm({
          title: `确认删除吗？`,
          content: '删除后不可撤销，请谨慎操作！',
          okText: '确认',
          onOk: async () => {
            const res = await del(row.id)
            if (res.data.state === 'success') {
              // 刷新列表...
              this.$bus.$emit('refresh-dataset-list')
              this.$Message.success('删除数据集成功！')
            } else {
              let name = row.name
              if (name.length > 12) {
                name = name.substring(0, 12) + '...'
              }
              const deletedAsset = { id: row.id, name, type: TYPE_DATA_MODEL }
              this.unableToDelete(deletedAsset, res.data.data)
            }
          },
        })
      }
    },
  },
}
</script>

<style scoped lang="less">
// 重写table-tree的展开/收起图标样式
/deep/ .ivu-table-cell-tree {
  display: inline-flex;
  vertical-align: text-bottom;
  border: 0;
  user-select: none;

  .ivu-icon.ivu-icon-ios-remove {
    content: url("~@/assets/icons/dataSetList/icon_collapse_folder.svg");
  }

  .ivu-icon.ivu-icon-ios-add {
    content: url("~@/assets/icons/dataSetList/icon_expand_folder.svg");
  }
}

.table-tree {
  height: inherit;

  /deep/ .table {
    height: inherit;

    .ivu-table-body {
      height: calc(~'100% - 40px');
      overflow: auto;
      overflow-x: hidden;
    }

    .ivu-table-cell {
      display: flex;
      .ivu-table-cell-slot{
        flex: 1;
      }

      .name {
        margin-left: 6px;     
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(~'100% - 20px');
      }
    }
  }
}

/deep/ .bulk-move-btn {
  margin-left: 8px;
  color: #3F73FF;
  cursor: pointer;
  user-select: none;
}

.action-btn {
  width: 40px;
  color: #3F73FF;
  box-shadow: none;
  padding: 5px 0 6px;
  margin-right: 20px;
  text-align: left;
}

.other-buttons {
  display: flex;
  flex-direction: column;

  .action-btn {
    width: initial;
    margin: 0;
    text-align: center;
  }
}

.status {
  &.not-published,
  &.published,
  &.stop {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-right: 6px;
    }
  }

  &.not-published:before {
    background: #D8D8D8;
  }

  &.published:before {
    background: #31C40E;
  }

  &.stop:before {
    background: #FADF42;
  }
}

.result {
  border: 1px solid transparent;
  border-radius: 2px;
  width: 56px;
  height: 20px;
  margin: auto;

  &.success {
    background: #F6FFED;
    border-color: rgba(183, 235, 143, 1);
    color: #389E0D;
  }

  &.fail {
    background: #FFF1F0;
    border-color: rgba(255, 163, 158, 1);
    color: #F5222D;
  }
}
</style>
<style lang="less">
.poptip {
  min-width: 110px;

  .action-btn:hover {
    background: #F0F5FF;
    border-radius: 2px;
  }

  .ivu-poptip-body {
    padding: 8px;
  }
}
</style>
