<template>
  <div class="bar-horizontal-chart">
    <div ref="dom" v-show="loaded && showChart"></div>
    <img v-show="loaded && !showChart" src="~@/assets/images/indicator-browser/bar_horizontal_no_data.png" class="chart-no-data" />
  </div>
</template>

<script>
import * as echarts from 'echarts'
import tdTheme from '@/components/charts/theme.json'
import { getBarHorizontalOption } from './chartConstant'
import chartMixin from './mixin/chartMixin'

echarts.registerTheme('tdTheme', tdTheme)

export default {
  name: 'BarHorizontal',
  mixins: [chartMixin],
  methods: {
    refreshChart(chartData) {
      let { headers, data } = chartData
      let yAxisData = []
      let series = []
      if (data) {
        yAxisData = data.map(item => item[0]) // 维成员是y轴
        // 获取当前选中的指标
        let selectedIndicators = this.indicators.filter(item => this.chart.indicators.includes(item.key))
        series = selectedIndicators.map(indicator => {
          // 获取指标在返回数据中所在位置
          let index = headers.findIndex(header => header === Number(indicator.id))
          return {
            name: indicator.abbrName || indicator.title,
            type: 'bar',
            data: data.map(item => item[index]),
            numberFormat: indicator.numberFormat,
          }
        })
      }
      this.option = getBarHorizontalOption(yAxisData, series)
    },
  },
}
</script>

<style lang="less" scoped>
.bar-horizontal-chart {
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    min-height: 100%;
  }
}
</style>
