<template>
  <div class="circular-graph-chart">
    <div ref="dom" v-show="loaded && showChart"></div>
    <img v-show="loaded && !showChart" src="~@/assets/images/indicator-browser/circular_graph_no_data.png" class="chart-no-data" />
  </div>
</template>

<script>
import * as echarts from 'echarts'
import tdTheme from '@/components/charts/theme.json'
import {getCircularGraphOption} from './chartConstant'
import chartMixin from './mixin/chartMixin'

echarts.registerTheme('tdTheme', tdTheme)

export default {
  name: 'CircularGraph',
  mixins: [chartMixin],
  methods: {
    refreshChart(chartData) {
      let {data} = chartData
      let total = 0
      let indicator = null
      let chartContentHeight = document.querySelector('.data-display-wrapper .chart-wrapper .chart-content').offsetHeight
      let newChartData = []
      indicator = this.indicators.find(item => item.key === this.chart.indicator)
      if (data) {
        total = data.map(
          item => item[1],
        ).reduce((previousValue, currentValue) => previousValue + currentValue, 0)
        indicator.total = total
        newChartData = data.map(item => ({
          name: item[0],
          value: item[1].toFixed(2),
          percent: ((item[1] / total) * 100).toFixed(2) + '%',
        }))
      }
      this.option = getCircularGraphOption(newChartData, indicator)
      if (this.option && this.showChart) {
        this.$nextTick(() => {
          this.$refs.dom.style.height = (chartContentHeight + (newChartData.length - 3) * 22) + 'px'
        })
      }
    },
  },
}
</script>

<style lang="less" scoped>
.circular-graph-chart {
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    min-height: 100%;
  }
}
</style>
