<template>
  <div class="combination-chart">
    <div ref="dom" v-show="loaded && showChart"></div>
    <img v-show="loaded && !showChart" src="~@/assets/images/indicator-browser/combination_no_data.png" class="chart-no-data" />
  </div>
</template>

<script>
import * as echarts from 'echarts'
import tdTheme from '@/components/charts/theme.json'
import { getCombinationChartOption } from './chartConstant'
import chartMixin from './mixin/chartMixin'

echarts.registerTheme('tdTheme', tdTheme)

export default {
  name: 'Combination',
  mixins: [chartMixin],
  methods: {
    refreshChart(chartData) {
      let { headers, data } = chartData
      let xAxisData = []
      let series = []
      if (data) {
        xAxisData = data.map(item => item[0]) // 维成员是x轴
        // 获取当前选中的指标
        let selectedIndicators = []
        this.indicators.forEach(item => {
          if (this.chart.barIndicators.includes(item.key)) {
            selectedIndicators.push({ ...item, type: 'bar' })
          }
          if (this.chart.lineIndicators.includes(item.key)) {
            selectedIndicators.push({ ...item, type: 'line' })
          }
        })
        series = selectedIndicators.map(indicator => {
          // 获取指标在返回数据中所在位置
          let index = headers.findIndex(header => header === Number(indicator.id))
          return {
            name: indicator.abbrName || indicator.title,
            type: indicator.type,
            data: data.map(item => item[index]),
            numberFormat: indicator.numberFormat,
          }
        })
      }
      this.option = getCombinationChartOption(xAxisData, series)
    },
  },
}
</script>

<style lang="less" scoped>
.combination-chart {
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    min-height: 100%;
  }
}
</style>
