<template>
  <div class="comparison-chart">
    <div ref="dom" v-show="loaded && showChart"></div>
    <img v-show="loaded && !showChart" src="~@/assets/images/indicator-browser/comparison_no_data.png" class="chart-no-data" />
  </div>
</template>

<script>
import * as echarts from 'echarts'
import tdTheme from '@/components/charts/theme.json'
import {getComparisonChartOption} from './chartConstant'
import chartMixin from './mixin/chartMixin'

echarts.registerTheme('tdTheme', tdTheme)

export default {
  name: 'Comparison',
  mixins: [chartMixin],
  methods: {
    refreshChart(chartData) {
      let {headers, data} = chartData
      let yAxisData = []
      let series = []
      if (data) {
        yAxisData = data.map(item => item[0]) // 维成员是y轴
        // 获取当前选中的指标
        let selectedIndicators = this.indicators.filter(
          item => this.chart.indicators.includes(item.key),
        )
        series = selectedIndicators.map(indicator => {
          // 获取指标在返回数据中所在位置
          let index = headers.findIndex(header => header === Number(indicator.id))
          let seriesData = data.map(item => {
            // 第二个指标的数据置为负数，才有对比图的效果
            if (index === 2) {
              return -item[index]
            } else {
              return item[index]
            }
          })
          return {
            name: indicator.abbrName || indicator.title,
            type: 'bar',
            stack: '对比', // 数据堆叠，同个类目轴上系列配置相同的stack值可以堆叠放置
            barMaxWidth: 10,
            data: seriesData,
            numberFormat: indicator.numberFormat,
          }
        })
      }
      this.option = getComparisonChartOption(yAxisData, series)
    },
  },
}
</script>

<style lang="less" scoped>
.comparison-chart {
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    min-height: 100%;
  }
}
</style>
