<template>
  <div class="basic-all">
    <span class="name">{{basicName}}：</span>
    <div class="express-all">
      <div class="value" v-html="valueOld" v-if="valueOld"></div>
      <div class="empty" v-else>无</div>
      <img :src="arrowIcon" class="arrow">
      <div class="value" v-html="valueNew" v-if="valueNew"></div>
      <div class="empty" v-else>无</div>
    </div>
  </div>
</template>

<script>
import { deepCopy } from '@/utils/common'

export default {
  name: 'BasicRule',
  components: {
    
  },
  props: {
    basicName: { 
      type: String,
      default: ''
    },
    valueNew: { 
      type: String,
      default: ''
    },
    valueOld: { 
      type: String,
      default: ''
    },
  },
  data() {
    return {
      arrowIcon: require('@/assets/images/dataset/arrow.svg')
    }
  },
  mounted() {
    
  },
  methods: {
    
  },
}
</script>

<style lang="less" scoped>
.basic-all{
  display: flex;
  margin-bottom: 15px;
  .express-all{
    width: calc(~'100% - 130px');
  }
  .name{
    font-size: 12px;
    color: rgba(0,0,0,0.45);
    letter-spacing: 0;
  }
  .arrow{
    margin: 0 8px;
  }
  .value{
    display: inline-block;
    padding: 3px 10px;
    font-size: 12px;
    color: #333333;
    background: #E7EEFF;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  .empty{
    display: inline-block;
    padding: 3px 10px;
    font-size: 12px;
    color: #333333;
    margin-bottom: 10px;
  }
}
</style>
