<template>
  <div class="basic-all">
    <span class="name">{{basicName}}：</span>
    <span class="value" v-if="valueOld">{{valueOld}}</span>
    <span v-else>无</span>
    <img :src="arrowIcon" class="arrow">
    <span class="value" v-if="valueNew">{{valueNew}}</span>
    <span v-else>无</span>
  </div>
</template>

<script>
import { deepCopy } from '@/utils/common'

export default {
  name: 'BasicPage',
  components: {
    
  },
  props: {
    basicName: { 
      type: String,
      default: ''
    },
    valueNew: { 
      type: String,
      default: ''
    },
    valueOld: { 
      type: String,
      default: ''
    },
  },
  data() {
    return {
      arrowIcon: require('@/assets/images/dataset/arrow.svg')
    }
  },
  mounted() {
    
  },
  methods: {
    
  },
}
</script>

<style lang="less" scoped>
.basic-all{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .name{
    font-size: 12px;
    color: rgba(0,0,0,0.45);
    letter-spacing: 0;
  }
  .arrow{
    margin: 8px;
  }
  .value{
    display: inline-block;
    padding: 3px 10px;
    font-size: 12px;
    color: #333333;
    background: #E7EEFF;
    border-radius: 4px;
  }
}
</style>
