<template>
  <div class="basic-all">
    <div class="name">{{basicName}}：</div>
    <div class="card-all">
      <div class="value" v-if="valueOld">
        <span>数值格式：{{filterType(valueOldObj.showType)}}</span>
        <span>数值单位：{{formatterUnit(valueOldObj.numberUnit)}}</span>
        <span>前缀/后缀：{{valueOldObj.prefix || "无"}} / {{valueOldObj.suffix || "无"}}</span>
        <span>小数位数：{{valueOldObj.decimalPlaces}}</span>
        <span>是否使用千位分隔符：{{valueOldObj.thousandsSeparator ? '是' : '否'}}</span>
      </div>
      <span v-else>无</span>
      <img :src="arrowIcon" class="arrow">
      <div class="value" v-if="valueOld">
        <span>数值格式：{{filterType(valueNewObj.showType)}}</span>
        <span>数值单位：{{formatterUnit(valueNewObj.numberUnit)}}</span>
        <span>前缀/后缀：{{valueNewObj.prefix || "无"}} / {{valueNewObj.suffix || "无"}}</span>
        <span>小数位数：{{valueNewObj.decimalPlaces}}</span>
        <span>是否使用千位分隔符：{{valueNewObj.thousandsSeparator ? '是' : '否'}}</span>
      </div>
      <span v-else>无</span>
    </div>
  </div>
</template>

<script>
import { deepCopy } from '@/utils/common'

export default {
  name: 'BasicPage',
  components: {
    
  },
  props: {
    basicName: { 
      type: String,
      default: ''
    },
    valueNew: { 
      type: String,
      default: ''
    },
    valueOld: { 
      type: String,
      default: ''
    },
  },
  data() {
    return {
      arrowIcon: require('@/assets/images/dataset/arrow.svg')
    }
  },
  mounted() {
    
  },
  computed:{
    valueOldObj(){
      return JSON.parse(this.valueOld);
    },
    valueNewObj(){
      return JSON.parse(this.valueNew);
    }
  },
  methods: {
    filterType(code){
      if(code === 1){
        return '百分比'
      }else{
        return '数值'
      }
    },
    formatterUnit(unit){
      if(unit === "yi"){
        return '亿'
      }else if(unit === "wan"){
        return '万'
      }else{
        return '原始值'
      }
    },
  },
}
</script>

<style lang="less" scoped>
.basic-all{
  margin-bottom: 15px;
  .name{
    font-size: 12px;
    color: rgba(0,0,0,0.45);
    letter-spacing: 0;
    margin-bottom: 10px;
  }
  .card-all{
    display: flex;
    align-items: center;
  }
  .arrow{
    margin: 8px;
  }
  .value{
    display: inline-block;
    font-size: 12px;
    color: #333333;
    background: #E7EEFF;
    border-radius: 4px;
    width: 30%;
    padding: 12px 10px;
    span{
      display: block;
      margin-bottom: 8px;
    }
    span:last-child{
      margin-bottom: 0;
    }
  }
}
</style>
