<template>
  <div class="Description-all">
    <span class="name">{{basicName}}：</span>
    <div class="value">
      <div v-if="valueOld === '<p><br></p>'" class="valueOld">无</div>
      <div v-html="valueOldChangeToken" v-else class="valueOld bg"></div>
      <img :src="arrowIcon" class="arrow">
      <div v-if="valueNew === '<p><br></p>'" class="valueNew">无</div>
      <div v-html="valueNewChangeToken" class="valueNew bg"></div>
    </div>
  </div>
</template>

<script>
import { getToken } from '@/libs/util'

export default {
  name: 'DescPage',
  components: {
    
  },
  props: {
    valueOld: { 
      type: String,
      default: ''
    },
    valueNew: { 
      type: String,
      default: ''
    },
    basicName: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      arrowIcon: require('@/assets/images/dataset/arrow.svg')
    }
  },
  computed:{
    valueOldChangeToken(){
      const token = getToken()
      let valueToken = this.valueOld.replace(/\${token}/gi, token)
      return valueToken
    },
    valueNewChangeToken(){
      const token = getToken()
      let valueToken = this.valueNew.replace(/\${token}/gi, token)
      return valueToken
    },
  },
  mounted() {
    
  },
  methods: {
    
  },
}
</script>

<style lang="less" scoped>
.Description-all{
  display: flex;
  margin-bottom: 15px;
  .name{
    font-size: 12px;
    color: rgba(0,0,0,0.45);
    letter-spacing: 0;
  }
  .arrow{
    transform: rotate(90deg);
  }
  .value{
    font-size: 12px;
    color: #333333;
    text-align: left;
    font-weight: 400;
    .valueOld{
      margin-bottom: 5px;
    }
    .valueNew{
      margin-top: 8px;
    }
    .bg{
      background: #E7EEFF;
      border-radius: 4px;
      padding: 18px;
    }
  }
}
</style>
