<template>
  <div class="Filter-all">
    <span class="name">{{basicName}}：</span>
    <div class="content">
      <div v-if="tabListOld.length">
        <Tabs
            v-model="currentFilterIndicatorOld"
            @on-click="changeOldFilter"
            >
            <TabPane
              v-for="(item, ind) in tabListOld"
              :key="ind"
              :label="item.name"
              :name="`${item.id}`">
              <div class="filter-conditions-body" v-if="filterConditionsOld.length">
                <div v-for="(filterItem, index) in filterConditionsOld" :key="index" class="filter-condition-group-item">
                  <img src="@/assets/icons/indicatorIcon/icon_and.svg" alt="与" class="icon-and" />
                  <div>
                    <FilterConditionItem
                      v-for="(item, ind) in filterItem"
                      :key="ind"
                      :item-data="item"
                      :is-or-item="filterItem.length > 1" />
                  </div>
                </div>
              </div>
            </TabPane>
        </Tabs>
      </div>
      <div v-else>无</div>
      <img :src="arrowIcon" class="arrow">
      <div v-if="tabListNew.length">
        <Tabs
          v-model="currentFilterIndicatorNew"
          @on-click="changeNewFilter"
        >
          <TabPane
            v-for="(item, ind) in tabListNew"
            :key="ind"
            :label="item.name"
            :name="`${item.id}`">
            <div class="filter-conditions-body" v-if="filterConditionsNew.length">
              <div v-for="(filterItem, index) in filterConditionsNew" :key="index" class="filter-condition-group-item">
                <img src="@/assets/icons/indicatorIcon/icon_and.svg" alt="与" class="icon-and" />
                <div>
                  <FilterConditionItem
                    v-for="(item, ind) in filterItem"
                    :key="ind"
                    :item-data="item"
                    :is-or-item="filterItem.length > 1" />
                </div>
              </div>
            </div>
          </TabPane>
        </Tabs>
      </div>
      <div v-else>无</div>
    </div>
  </div>
</template>

<script>
import FilterConditionItem from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/FilterConditionItem.vue'
import { deepCopy } from '@/utils/common'
import object from 'element-resize-detector/src/detection-strategy/object'

export default {
  name: 'FilterCompsite',
  components: {
    FilterConditionItem
  },
  props: {
    basicName: {
      type: String,
      default: ''
    },
    valueNew: {
      type: Object,
      default: ()=>{}
    },
    valueOld: {
      type: Object,
      default: ()=>{}
    },
    tabListOld: {
      type: Array,
      default: ()=>[]
    },
    tabListNew: {
      type: Array,
      default: ()=>[]
    },
  },
  data() {
    return {
      arrowIcon: require('@/assets/images/dataset/arrow.svg'),
      filterConditionsOld:[],
      filterConditionsNew:[],
      currentFilterIndicatorOld: '',
      currentFilterIndicatorNew: '',
    }
  },
  mounted() {

  },
  methods: {
    changeOldFilter(value){
      this.currentFilterIndicatorOld = value;
      let newData = this.valueOld[value] || [];
      if(newData.length){
        this.filterConditionsOld = this.handleDataList(newData);
      }else{
        this.filterConditionsOld = [];
      }
    },
    changeNewFilter(value){
      this.currentFilterIndicatorNew = value;
      let newData = this.valueNew[value] || [];
      if(newData.length){
        this.filterConditionsNew = this.handleDataList(newData);
      }else{
        this.filterConditionsNew = [];
      }
    },
    handleDataList(array){
      let conditionList=[];
      array.forEach(item => {
        let conditionItem = [];
        conditionItem = item.conditions.map((row)=>{
          return{
            sourceId: row.sourceId + '',
            conditionType: row.conditionType,
            variableType: Number(row.value.split('|')[0]),
            variableValue: row.value.split('|')[1],
          }
        })
        conditionList.push(conditionItem);
      });
      return conditionList;
    },
  },
  watch:{
    valueOld:{
      handler(data){
        let newData = [];
        if(this.tabListOld.length){
          this.currentFilterIndicatorOld = this.tabListOld[0].id;
          newData = data[this.currentFilterIndicatorOld];
        }
        if(newData && newData.length){
          this.filterConditionsOld = this.handleDataList(newData);
        }else{
          this.filterConditionsOld = [];
        }
      },
      immediate: true,
      deep: true
    },
    valueNew:{
      handler(data){
        let newData = [];
        if(this.tabListNew.length){
          this.currentFilterIndicatorNew = this.tabListNew[0].id;
          newData = data[this.currentFilterIndicatorNew];
        }
        if(newData && newData.length){
          this.filterConditionsNew = this.handleDataList(newData);
        }else{
          this.filterConditionsNew = [];
        }
      },
      immediate: true,
      deep: true
    },
  }
}
</script>

<style lang="less" scoped>
.Filter-all{
  display: flex;
  margin-bottom: 15px;
  .content{
    max-width: 750px;
  }
  .name{
    font-size: 12px;
    color: rgba(0,0,0,0.45);
    letter-spacing: 0;
  }
  .arrow{
    transform: rotate(90deg);
    margin-bottom: 18px;
    margin-top: 20px;
  }
  .filter-conditions-body{
    opacity: 0.95;
    background: #E7EEFF;
    border-radius: 4px;
    padding: 14px;
    /deep/ .ivu-select-selected-value{
      background: #E7EEFF;
    }
    /deep/ .ivu-input{
      background: #E7EEFF;
    }
  }
}
</style>
