<template>
  <div class="Filter-all">
    <span class="name">{{basicName}}：</span>
    <div class="content">
      <div class="filter-conditions-body" v-if="filterConditionsOld.length">
        <div v-for="(filterItem, index) in filterConditionsOld" :key="index" class="filter-condition-group-item">
          <img src="@/assets/icons/indicatorIcon/icon_and.svg" alt="与" class="icon-and" />
          <div>
            <FilterConditionItem
              v-for="(item, ind) in filterItem"
              :key="ind"
              :item-data="item"
              :is-or-item="filterItem.length > 1" />
          </div>
        </div>
      </div>
      <div v-else>无</div>
      <img :src="arrowIcon" class="arrow">
      <div class="filter-conditions-body" v-if="filterConditionsNew.length">
        <div v-for="(filterItem, index) in filterConditionsNew" :key="index" class="filter-condition-group-item">
          <img src="@/assets/icons/indicatorIcon/icon_and.svg" alt="与" class="icon-and" />
          <div>
            <FilterConditionItem
              v-for="(item, ind) in filterItem"
              :key="ind"
              :item-data="item"
              :is-or-item="filterItem.length > 1" />
          </div>
        </div>
      </div>
      <div v-else>无</div>
    </div>
  </div>
</template>

<script>
import FilterConditionItem from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/FilterConditionItem.vue'
import { deepCopy } from '@/utils/common'

export default {
  name: 'FilterPage',
  components: {
    FilterConditionItem
  },
  props: {
    basicName: {
      type: String,
      default: ''
    },
    valueNew: {
      type: Array,
      default: ()=>[]
    },
    valueOld: {
      type: Array,
      default: ()=>[]
    },
  },
  data() {
    return {
      arrowIcon: require('@/assets/images/dataset/arrow.svg'),
      filterConditionsOld:[],
      filterConditionsNew:[],
    }
  },
  mounted() {
    console.log(this.valueNew)
  },
  methods: {
    handleDataList(array){
      let conditionList=[];
      array.forEach(item => {
        let conditionItem = [];
        conditionItem = item.conditions.map((row)=>{
          return{
            sourceId: row.sourceId + '',
            conditionType: row.conditionType,
            variableType: Number(row.value.split('|')[0]),
            variableValue: row.value.split('|')[1],
          }
        })
        conditionList.push(conditionItem);
      });
      return conditionList;
    },
  },
  watch:{
    valueOld:{
      handler(newData){
        if(newData.length){
          this.filterConditionsOld = this.handleDataList(newData);
        }else{
          this.filterConditionsOld = [];
        }
      },
      immediate: true,
      deep: true
    },
    valueNew:{
      handler(newData){
        if(newData.length){
          this.filterConditionsNew = this.handleDataList(newData);
        }else{
          this.filterConditionsNew = [];
        }
      },
      immediate: true,
      deep: true
    },
  }
}
</script>

<style lang="less" scoped>
.Filter-all{
  display: flex;
  margin-bottom: 15px;
  .content{
    max-width: 750px;
  }
  .name{
    font-size: 12px;
    color: rgba(0,0,0,0.45);
    letter-spacing: 0;
  }
  .arrow{
    transform: rotate(90deg);
    margin-bottom: 18px;
    margin-top: 20px;
  }
  .filter-conditions-body{
    opacity: 0.95;
    background: #E7EEFF;
    border-radius: 4px;
    padding: 14px;
    /deep/ .ivu-select-selected-value{
      background: #E7EEFF;
    }
    /deep/ .ivu-input{
      background: #E7EEFF;
    }
  }
}
</style>
