<template>
  <div class="Label-all">
    <span class="name">{{basicName}}：</span>
    <div class="old-all" v-if="labelOld.length">
      <span class="value" v-for="item in labelOld" :key="item.id">{{item.name}}</span>
    </div>
    <div class="old-all" v-else>
      <span>无</span>
    </div>
    <img :src="arrowIcon" class="arrow">
    <div class="new-all" v-if="labelNew.length">
      <span class="value" v-for="item in labelNew" :key="item.id">{{item.name}}</span>
    </div>
    <div class="new-all" v-else>
      <span >无</span>
    </div>
  </div>
</template>

<script>
import { deepCopy } from '@/utils/common'

export default {
  name: 'LabelPage',
  components: {
    
  },
  props: {
    labelOld: { 
      type: Array,
      default: ()=>[]
    },
    labelNew: { 
      type: Array,
      default: ()=>[]
    },
    basicName: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      arrowIcon: require('@/assets/images/dataset/arrow.svg')
    }
  },
  mounted() {
    
  },
  methods: {
    
  },
}
</script>

<style lang="less" scoped>
.Label-all{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
  .name{
    font-size: 12px;
    color: rgba(0,0,0,0.45);
    letter-spacing: 0;
  }
  .value{
    display: inline-block;
    padding: 3px 10px;
    font-size: 12px;
    color: #333333;
    background: #E7EEFF;
    border-radius: 20px;
    margin-right: 10px;
  }
  .arrow{
    margin: 8px;
  }
}
</style>
