<template>
  <ul class="treeNode-container">
    <li class="row">
      <div class="deptUserName" @click="onClick" :style="{ marginLeft: `${(data.deep - 1) * 20}px` }">
        <div class="imgWrapper" v-if="data.type === 'dept'" @click.stop="handleExpand">
          <img :src="data.expand ? iconDown : iconRight" />
        </div>
        <span :class="{ selected: data.selected }">{{ data.title }}</span>
      </div>

      <template v-if="data.expand">
        <template v-if="data.children.length">
          <TreeNode
            v-for="item in data.children"
            :key="item.id"
            :data="item"
            :iconDown="iconDown"
            :iconRight="iconRight"
            @changeTreeNode="changeTreeNode"
            @selectUserName="selectUserName"
          />
        </template>
        <div class="noData" v-else :style="{ marginLeft: `${data.deep * 20}px` }">暂无人员</div>
      </template>
    </li>
  </ul>
</template>

<script>
export default {
  name: "TreeNode",
  props: {
    data: {
      type: Object,
      required: true
    },
    iconDown: {
      type: String,
      required: true
    },
    iconRight: {
      type: String,
      required: true
    }
  },
  methods: {
    /**
     * 点击选中用户
     */
    async onClick() {
      const { username, nickname, type } = this.data;
      if (type === "user") {
        this.$emit("selectUserName", { username, nickname });
      } else {
        this.handleExpand()
      }
    },
    /**
     * 展开/收起树
     */
    handleExpand() {
      const { id, expand, deep, isLoadedUser } = this.data;
      this.$emit("changeTreeNode", { id, expand, deep, isLoadedUser });
    },
    changeTreeNode(payload) {
      this.$emit("changeTreeNode", payload);
    },
    selectUserName(payload) {
      this.$emit("selectUserName", payload);
    }
  }
};
</script>

<style lang="less" scoped>
.treeNode-container {
  .row {
    list-style-type: none;
    cursor: pointer;
    .deptUserName {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      .imgWrapper {
        width: 10px;
        height: 10px;
        margin-right: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      span {
        flex: 1;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #333333;
        &.selected {
          font-family: PingFangSC-Medium;
          color: #3f73ff;
          font-weight: 500;
        }
      }
    }
    .noData {
      font-size: 12px;
      color: #333333;
      margin-bottom: 8px;
    }
  }
}
</style>
