<template>
  <div class="reportAction-container">
    <!-- 发布到公共资源池，没有任何权限时，只展示申请权限按钮 -->
    <div class="actionName" v-if="isCanApply && isNotAuth(row)" @click.stop="$emit('show:modal', { type: '申请权限', row })">
      <img src="@/assets/icons/publicResourcePool/authApply.svg" alt="" />
      <span>申请权限</span>
    </div>

    <!-- 申请权限之后，逻辑和管理页一致 -->
    <template v-if="!isNotAuth(row)">
      <div class="actionName" v-if="isHasAuth(row)" @click="toViewReportPage(row.id, 'view')">
        <img src="@/assets/icons/earlyWarningTarget/view.svg" alt="" />
        <span>查看</span>
      </div>
      <div class="actionName" v-if="isEditAuth(row)" v-allow="[1097038120879105]" @click="toViewReportPage(row.id, 'edit')">
        <img src="@/assets/icons/earlyWarningTarget/edit.svg" alt="" />
        <span>编辑</span>
      </div>
      <div class="actionName" v-if="isShowChangeStatusIcon(row)" @click="changeStatus(row)">
        <img :src="showStatusDataByKey(row.status, 'actionIcon')" alt="" />
        <span>{{ showStatusDataByKey(row.status, "actionLabel") }}</span>
      </div>
      <Poptip trigger="hover" placement="left" v-if="isShowPoptip(row)">
        <div class="hoverIconWrapper">
          <img class="noHoverIcon" src="@/assets/icons/indicatorWorkbench/moreVertical.svg" alt="" />
          <img class="hoverIcon" src="@/assets/icons/indicatorWorkbench/moreVertical-blue.svg" alt="" />
        </div>
        <template #content>
          <div class="actionWrapper">
            <div class="actionItem" v-if="isCanApply && !isHasAllAuth(row)" @click.stop="$emit('show:modal', { type: '申请权限', row })">
              申请权限
            </div>
            <div class="actionItem" v-if="isPublishSuccess(row)" @click.stop="$emit('show:modal', { type: '权限分享', row })">权限分享</div>
            <div class="actionItem" v-if="isEditAuth(row)" v-allow="[1097038120879106]" @click.stop="toDeleteReport(row)">删除</div>
          </div>
        </template>
      </Poptip>
    </template>
  </div>
</template>

<script>
import resourcePublish from "@/mixins/resourcePublish";
import moment from "moment";
import { deleteReportById } from "@/api/report.js";
import { mapGetters } from "vuex";

export default {
  mixins: [resourcePublish],
  props: {
    row: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters(["isCanApply"]),
    currentSelectChart() {
      const currentSelectChart = this.$store.state.chart && this.$store.state.chart.currentSelectChart;
      return currentSelectChart;
    },
    isShowPoptip() {
      return row => {
        const btnList = this.$store.state.user.btnAllowList;
        return (
          (this.isCanApply && !this.isOwn(row.creatorId)) ||
          this.isPublishSuccess(row) ||
          (this.isEditAuth(row) && btnList.some(ele => ele.id === 1097038120879106))
        );
      };
    }
  },
  methods: {
    /**
     * 查看/编辑报告
     */
    toViewReportPage(id, pageType, startDate, endDate) {
      if (this.currentSelectChart) {
        this.$set(this.currentSelectChart, "style", {});
      }
      let dateRange = "";
      if (startDate) {
        let s = moment(startDate).format("YYYY-MM-DD");
        let e = moment(endDate).format("YYYY-MM-DD");
        dateRange = `&startDate=${s}&endDate=${e}`;
      }
      const href = `${window.location.origin}${window.location.pathname}`;
      window.open(`${href}#template_add?id=${id}${dateRange}&openType=${pageType}`, "_blank");
    },
    /**
     * 删除报告
     */
    toDeleteReport({ id, name }) {
      if (name.length > 12) {
        name = name.slice(0, 12);
        name += "...";
      }
      this.$Modal.confirm({
        title: "报告删除",
        content: `确定要删除当前"${name}"报告吗？`,
        onOk: () => {
          this.doDeleteReport(id);
        }
      });
    },
    async doDeleteReport(reportId) {
      const res = await deleteReportById(reportId);
      if (res.data && res.data.state === "success") {
        this.$Message.success("删除成功");
        this.$emit("refresh:data"); // 刷新数据
      } else {
        this.$Message.warning("删除失败");
      }
    }
  }
};
</script>

<style lang="less" scoped>
.reportAction-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;

  .actionName {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 15px;
    }
    img {
      width: 16px;
      height: 16x;
      margin-right: 5px;
    }
    span {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #3f73ff;
      letter-spacing: 0;
      line-height: 20px;
    }
  }

  /deep/.ivu-poptip {
    display: flex;
    .hoverIconWrapper {
      display: flex;
      align-items: center;
      cursor: pointer;
      .noHoverIcon {
        display: inline-block;
      }
      .hoverIcon {
        display: none;
      }
      &:hover {
        .noHoverIcon {
          display: none;
        }
        .hoverIcon {
          display: inline-block;
        }
      }
    }
    .ivu-poptip-popper {
      min-width: 0;
      width: 105px;
      .ivu-poptip-body {
        padding: 0;
        .actionWrapper {
          padding: 4px;
          .actionItem {
            width: 80px;
            height: 24px;
            line-height: 24px;
            border-radius: 2px;
            padding: 0 4px;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #333333;
            text-align: left;
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 4px;
            }
            &:hover {
              background: #f0f5ff;
              color: #3f73ff;
            }
          }
        }
      }
    }
  }
}
</style>
