<template>
  <div class="object-manage">
    <div class="object-tree">
      <treeMenu name="目标" @onSelectTree="onSelectTree"></treeMenu>
    </div>
    <div class="object-content">
      <header class="title">
        <p>目标管理</p>
        <div class="tabRight" @click="openModal = true" v-if="showAllObject && !singleObjectMode">
          <img class="addIcon" src="@/assets/icons/objectManage/addIcon.svg" alt="" />
          <span>新建目标</span>
        </div>
        <Button type="primary" style="background-color: #2781FF;" v-if="!showAllObject"
          @click="showAllObject = true">返回</Button>
        <Button type="primary" style="background-color: #2781FF;" v-if="singleObjectMode && showAllObject"
          @click="backObjectList">返回目标列表</Button>
      </header>
      <Spin fix v-if="contentLoading">
        <Icon type="ios-loading" size=28 class="table-spin-icon-load"></Icon>
        <div>Loading</div>
      </Spin>
      <section class="view-content">
        <div class="object-collapse" v-if="showAllObject">
          <collapseTab @showDetail="showDetail" :data="viewTreeData" :showMode="showMode" :highLightId="highLightId"
            class="collapse-tab"></collapseTab>
          <Page :total="total" show-elevator @on-change="pageChange" :current="pageNum" :page-size="pageSize"
            :disabled="pageDisabled" v-if="!singleObjectMode" />
        </div>
        <div class="object-detail" v-else>
          <div style="margin-bottom: 24px;">
            当前目标：
            <Select v-model="selectedObjectId" style="width:300px">
              <Option v-for="(item, index) in viewTreeData" :value="item.id" :key="index">{{ item.title }}
              </Option>
            </Select>
          </div>
          <indicatorNode :data="[viewTreeData[selectedObjectIndex]]"></indicatorNode>
        </div>
      </section>

    </div>
    <createObject :openModal="openModal" :modalStatus="modalStatus" :editObjectId="editObjectId" @closeModal="closeModal"
      ref="createObject" @refreshList="refreshList"></createObject>
    <Modal v-model="deleteConfirm" class="delete-modal" width="400" @on-ok="confirmDelete">
      <div v-if="deleteModelShow == '2'">
        <p class="delete-title">所选目标存在子目标</p>
        <RadioGroup v-model="deleteObjectType" vertical>
          <Radio label="1">
            <span>删除父节点目标及所有子目标</span>
          </Radio>
          <Radio label="2">
            <span>只删除父节点目标</span>
          </Radio>
        </RadioGroup>
      </div>
      <p class="delete-title" v-else>是否确认删除所选目标</p>
    </Modal>
  </div>
</template>

<script>
import collapseTab from './components/collapse-tab.vue'
import createObject from './components/create-object.vue';
import indicatorNode from './components/indicator-node.vue';
import treeMenu from '@/components/treeMenu/index.vue'
import { deepCopy } from "@/utils/common";
import { getObjectList, getMyObject, getDeptObject, getObjectDetail, deleteObject, getObjectById } from '@/api/aimManagement'
import { getReportCompareDataAndHeaders } from '@/api/report'
import moment from "moment";
import objectManageMixin from '@/view/objectManage/object-manage-mixin'
import { getBusinessDate } from "@/utils/dateFormat";
import { getCompareDate,judgeHoliday } from "@/utils/chartDate";

const curDate = getBusinessDate();
const compareDate = getCompareDate("SC", { startDate: curDate, endDate: curDate, compareType: "mom" }, [, , , "2"]);

export default {
  data() {
    return {
      openModal: false,
      modalStatus: 'add', //编辑或新增目标
      selectedObjectId: '',
      data: [],
      showAllObject: true,
      viewTreeData: [], //页面展示数据
      structureTree: [], //原始数据树（未分组，且无指标值）
      contentLoading: false,
      highLightId: null, //首页跳转选中高亮id
      pageSize: 5,
      pageNum: 1,
      total: 0,
      pageDisabled: false, //分页禁用
      departmentId: '',
      objectViewType: 'company', //目标展示类别（集团、部门、个人）
      editObjectId: null, //编辑目标的id
      deleteConfirm: false,
      deleteModelShow: '1', //删除目标modal展示内容 1只确认删除 2选择删除父子目标
      deleteObjectType: "2", // 删除目标方式 1父子全部删除 2只删除父
      deleteObjectId: null,
      singleObjectMode: false, //跳转过来的单个目标展示模式
    }
  },
  computed: {
    selectedObjectIndex() {
      return this.viewTreeData.findIndex(item => item.id == this.selectedObjectId)
    },
    //子组件展示格式
    showMode() {
      return this.objectViewType == 'personal' ? 'tile' : 'collapse'
    },
    globalReportDate() {
      return this.$store.state.chart.reportDate
    },
  },
  mixins: [objectManageMixin],
  components: {
    collapseTab,
    createObject,
    indicatorNode,
    treeMenu
  },
  provide() {
    return {
      editObject: this.editObject,
      deleteObject: this.deleteObject
    }
  },
  mounted() {
    this.judgeAddobject()
  },
  watch: {
    objectViewType(val) {
      this.pageNum = 1
    },
  },
  methods: {
    showDetail(id) {
      this.showAllObject = false
      this.selectedObjectId = id
    },
    closeModal() {
      this.openModal = false
      this.modalStatus = 'add'
    },
    //点击左侧树状结构
    async onSelectTree(params) {
      this.showAllObject = true
      this.structureTree = []
      this.viewTreeData = []
      if (params.title == '我的') {
        this.objectViewType = 'personal'
        this.handleObjectPersonalList()
      } else if (params.title == '集团全部') {
        this.objectViewType = 'company'
        this.handleObjectList()
      } else if (params.department) {
        this.objectViewType = 'department'
        this.departmentId = params.id
        this.handleObjectList()
      }
    },
    // 处理树结构
    handleTreeData(list, originalList) {
      let topObjectNode = list.find(item => !item.parentId) //一级结构
      if (topObjectNode) {
        let children = originalList.filter(it => it.parentId == topObjectNode.id)
        if (children.length > 0) {
          topObjectNode.children = this.handleTreeData(children, originalList)
        }
        return topObjectNode
      } else {
        list.forEach(item => {
          let children = originalList.filter(it => it.parentId == item.id)
          if (children.length > 0) {
            item.children = this.handleTreeData(children, originalList)
          }
        })
        return list
      }
    },
    //获取目标列表（已分组）
    async handleObjectList(id = null) {
      this.contentLoading = true
      let res, params;
      if (id) {
        this.singleObjectMode = true
        res = await getObjectById(id)
      } else {
        params = {
          pageNum: this.pageNum,
          pageSize: this.pageSize
        }
        if (this.objectViewType == 'department') {
          params.refDeptIds = [deptId]
          res = await getDeptObject(params)
        } else if (this.objectViewType == 'company') {
          res = await getObjectList(params)
        }
      }
      if (res.data.state === "success") {
        this.contentLoading = false
        this.data = id ? [res.data.data] : res.data.data?.data; //根据有无id判断data类型 保持格式一致
        this.total = res.data.data?.count
        this.pageDisabled = true
        let objectData = deepCopy(this.data)
        this.structureTree = objectData
        this.viewTreeData = this.structureTree;
        const promises = objectData.map(async (item, index) => {
          let groupList = await this.handleIndicatorValue(item, index);
          let groupTreeList = this.handleTreeData(groupList, groupList);
          this.structureTree[index] = groupTreeList;
          this.viewTreeData = deepCopy(this.structureTree);
        });
        await Promise.all(promises);
        this.pageDisabled = false
      }
    },
    //刷新列表请求数据
    refreshList() {
      if (this.objectViewType == 'personal') {
        this.handleObjectPersonalList()
      } else {
        this.handleObjectList()
      }
    },
    //获取目标列表（当前登录用户个人目标）
    async handleObjectPersonalList() {
      this.contentLoading = true
      let params = {
        pageSize: this.pageSize,
        pageNum: this.pageNum,
      }
      let res = await getMyObject(params)
      if (res.data.state === "success") {
        this.contentLoading = false
        this.data = res.data.data?.data
        this.total = res.data.data?.count
        this.pageDisabled = true
        let objectData = deepCopy(this.data)
        let personalList = await Promise.all(
          objectData.map(async (item) => {
            const { indicatorId, indicatorType, dimensionId, dimensionMember } = item
            let res = await this.getCompareData(indicatorId, dimensionId, dimensionMember, indicatorType, compareDate, curDate)
            if (typeof (res) == 'string') {
              return {
                ...item, errorMessage: res
              }
            } else {
              return {
                ...item, indicatorValue: res.indicatorValue
              }
            }
          })
        )
        this.pageDisabled = false
        this.viewTreeData = personalList
      }
    },
    //判断从哪里跳转过来（预警/首页）
    async judgeAddobject() {
      const { isShowModel, indicatorId, id, type } = this.$route.query
      if (isShowModel && indicatorId && type) {
        this.openModal = true
        this.$refs.createObject.formValidate.refIndicatorId = indicatorId
        this.$refs.createObject.onIndicatorChange({ id: indicatorId, type })
      }
      this.handleObjectList(id)
    },
    //根据id判断顶层父级（没有就是其自己）
    findChild(list, targetId, parent = null) {
      for (let i = 0; i < list.length; i++) {
        const item = list[i];
        if (item.id == targetId) {
          return parent !== null ? parent : item.id;
        }
        if (item.children) {
          const parentId = this.findChild(item.children, targetId, parent !== null ? parent : item.id);
          if (parentId !== null) {
            return parentId;
          }
        }
      }
      return null;
    },
    pageChange(pageNum) {
      this.viewTreeData = []
      this.structureTree = []
      this.pageNum = pageNum
      if (this.objectViewType == 'personal') {
        this.handleObjectPersonalList()
      } else {
        this.handleObjectList()
      }
    },
    //循环查询指标数据
    async handleIndicatorValue(list) {
      return await Promise.all(
        list.map(async (item) => {
          const { indicatorId, indicatorType, dimensionId, dimensionMember } = item
          const res = await this.getCompareData(indicatorId, dimensionId, dimensionMember, indicatorType, compareDate, curDate)
          if (typeof (res) == 'string') {
            return { ...item, errorMessage: res }
          } else {
            const { indicatorValue, yoyRate, momRate } = res
            const lineData = await this.getLineData(curDate, indicatorId, indicatorType, dimensionId)

            return {
              ...item, indicatorValue, yoyRate, momRate, lineData
            }
          }
        })
      )
    },
    //查询折线图数据
    async getLineData(curDate, id, type, dimensionId) {
      // const params = {
      //   dimensionIds: [dimensionId],
      //   indicatorVos: [{ id, type, variables: { businessDate: curDate } }],
      //   date: {
      //     startDate: moment(curDate).subtract(6, "days").format("YYYY-MM-DD"),
      //     endDate: curDate,
      //   },
      // };
      // const res = await getReportCompareDataAndHeaders(params);
      // if (res.data.state === "success") {
      //   if (res.data.data?.currentData && res.data.data?.currentData.length > 0) {
      //     return res.data.data?.currentData
      //   } else {
      //     return []
      //   }
      // } else {
      //   return []
      // }


      // 根据是当前图表还是右侧折线图获取时间
      let date = null
      const lastDay = getBusinessDate()
      let lastSevenDaysStartDate = lastDay
      let lastSevenDaysEndDate = lastDay
      for (let i = 0; i < 6; i++) {
        lastSevenDaysStartDate = moment(lastSevenDaysStartDate).subtract(1, 'days').format('YYYY-MM-DD')
        if (judgeHoliday(lastSevenDaysStartDate)) {
          i--
        }
      }
      while (judgeHoliday(lastSevenDaysEndDate)) {
        lastSevenDaysEndDate = moment(lastSevenDaysEndDate).subtract(1, 'days').format('YYYY-MM-DD')
      }
      const lastSevenDays = this.getDateByDays(7)
      date = lastSevenDays
      let dimensionIds =  [globalVariable.defaultDayDimensionId]
      let indicatorVos = [
        {
          id,
          type,
          useCompare: true, // 使用同环比
          variables: { businessDate: date.startDate }, // 这里默认取开始时间
          newCalculateType: null, // 没有高级计算
          resultCondition: null, // 不过滤
        },
      ]

      const params = {
        dimensionIds,
        indicatorVos,
        date:lastSevenDays,
        dimensionConditionGroup: [], // 指标卡这里不需要
        momDate: getCompareDate('C', date), // 环比日期
        yoyDate: { [id]: getCompareDate('SC', { ...date, compareType: 'yoy' }, this.globalReportDate) }, // 同比日期，默认年同比
        page: { pageNum: 1, pageSize: 10 }, // 默认取第一页，页数为10，因为指标卡只有一条数据
      }
      const res = await getReportCompareDataAndHeaders(params)
      if (res.data.state === 'success') {
        let { errors, currentData } = res.data.data
        let errorsKeys = Object.keys(errors) // 错误信息
        if (errors && errorsKeys.length) {
          this.errorCode = errors[errorsKeys[0]].code
          return
        } else if (!currentData?.length || !currentData?.[0]?.length) {
          this.errorCode = '000000' // 暂无数据
        } else {
          // 正常返回
          this.errorCode = null
          return res.data.data?.currentData
        }
      } else {
        this.errorCode = res.data.errorCode // 错误信息有两种返回形式，这是第二种
      }
    },
    //获取近多少天
    getDateByDays(days) {
      const lastDay = getBusinessDate()
      let startDate = moment(lastDay)
        .subtract(days - 1, 'days')
        .format('YYYY-MM-DD')
      let endDate = lastDay
      return { startDate, endDate }
    },
    //根据id编辑相应目标
    editObject(id) {
      getObjectDetail(id).then(res => {
        if (res.data.state === "success") {
          this.editObjectId = id
          this.modalStatus = 'edit'
          let data = res.data.data
          this.openModal = true
          this.$refs.createObject.assignObjectData(data)
        } else {
          this.$message.warning(res.data.message)
        }
      })
    },
    //根据id删除目标（展示弹框）
    deleteObject(data) {
      this.deleteObjectId = data.id
      if (data.children) {
        this.deleteObjectType = '1'
        this.deleteModelShow = '2'
      } else {
        this.deleteObjectType = '2'
        this.deleteModelShow = '1'
      }
      this.deleteConfirm = true
    },
    //确认删除
    confirmDelete() {
      let params = {
        id: this.deleteObjectId,
        type: this.deleteObjectType
      }
      deleteObject(params).then(res => {
        if (res.data.state === "success") {
          this.$Message.success('删除目标成功');
          this.refreshList()
        } else {
          this.$Message.error('删除目标失败');
        }
      })
    },
    backObjectList() {
      this.singleObjectMode = false
      this.refreshList()
    }
  },
}

</script>
<style scoped lang='less'>
.object-manage {
  display: flex;
  height: 100%;
  background: white;
  border-radius: 4px;
  width: 100%;

  .object-tree {
    width: 266px;
  }

  .object-content {
    flex: 1;
    padding: 15px 22px;
    overflow: auto;
    height: 100%;
    position: relative;

    .title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      p {
        font-family: PingFangSC-Medium;
        font-size: 18px;
        color: #333333;
        line-height: 32px;
        font-weight: 600;
      }


      .tabRight {
        width: 93px;
        height: 32px;
        background: #2781FF;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .addIcon {
          margin-right: 8px;
        }

        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #ffffff;
        }
      }
    }

    .view-content {
      height: calc(~'100% - 32px - 24px');

      .object-collapse {
        height: 100%;

        .collapse-tab {
          height: 95%;
          overflow: auto;
        }

        .ivu-page {
          margin-top: 15px;
          text-align: center;
        }
      }

      .object-detail {
        height: 100%;
        overflow: auto;

        >.indicatorNode-container {
          height: calc(~'100% - 32px - 24px');
          padding: 0 11px;
          overflow: auto;
          width: 100%;
        }
      }
    }
  }
}

.delete-modal {
  /deep/.ivu-modal-body {
    padding: 25px;

    .delete-title {
      font-size: 18px;
      font-weight: 600;
      margin: 10px 0;
    }

    span {
      font-size: 14px;
    }
  }
}
</style>
