<template>
    <div class="SimpleChange-all">
        <div v-for="(item, ind) in dataSource" :key="ind">
            <div v-if="item.firstName === '基本信息'">
                <BasicPage 
                    v-if="item.secondName === '指标名称' || 
                          item.secondName === '指标编码' || 
                          item.secondName === '指标简称' || 
                          item.secondName === '版本号' ||
                          item.secondName === '属性'
                    " 
                    :valueOld="item.beforeValue" 
                    :valueNew="item.afterValue" 
                    :basicName="item.secondName" 
                />
                <BasicPage v-if="item.secondName === '是否同步看板'" 
                    :valueOld="item.beforeValue === '1' ? '开启' : '关闭'" 
                    :valueNew="item.afterValue === '1' ? '开启' : '关闭'" 
                    :basicName="item.secondName" 
                />
                <DescPage v-if="item.secondName === '业务描述'"
                    :valueOld="item.beforeValue" 
                    :valueNew="item.afterValue" 
                    :basicName="item.secondName"
                />
            </div>
            <div v-if="item.firstName === '指标定义'">
                <BasicPage 
                    v-if="item.secondName === '业务模型-列'" 
                    :valueOld="columnView(item.beforeValue)" 
                    :valueNew="columnView(item.afterValue)" 
                    :basicName="item.secondName" 
                />
                <BasicPage 
                    v-if="item.secondName === '汇总方式'" 
                    :valueOld="filterSummaryMode(item.beforeValue)" 
                    :valueNew="filterSummaryMode(item.afterValue)" 
                    :basicName="item.secondName" 
                />
                <BasicPage v-if="item.secondName === '指标类型'" 
                    :valueOld="item.beforeValue === '1' ? '百分比' : '数值' " 
                    :valueNew="item.afterValue === '1' ? '百分比' : '数值'" 
                    :basicName="item.secondName" 
                />
                <BasicPage v-if="item.secondName === '业务日期'" 
                    :valueOld="item.beforeValue === '1' ? '开启' : '关闭' " 
                    :valueNew="item.afterValue === '1' ? '开启' : '关闭'" 
                    :basicName="item.secondName" 
                />
                <BasicPage v-if="item.secondName === '过滤条件开闭'" 
                    :valueOld="item.beforeValue === 'true' ? '开启' : '关闭'" 
                    :valueNew="item.afterValue === 'true' ? '开启' : '关闭'" 
                    :basicName="item.secondName" 
                />
                <BasicPageConfig v-if="item.secondName === '数值格式'" 
                    :valueOld="item.beforeValue" 
                    :valueNew="item.afterValue" 
                    :basicName="item.secondName" 
                />
                <FilterPage v-if="item.secondName === '过滤条件'"
                    :valueOld="item.beforeValue || []" 
                    :valueNew="item.afterValue || []"
                    :basicName="item.secondName"
                />
            </div>
            <div v-if="item.firstName === '资产信息'">
                <BasicPage v-if="item.secondName === '资产分组'" 
                    :valueOld="assetGroupView(item.beforeValue)" 
                    :valueNew="assetGroupView(item.afterValue)" 
                    :basicName="item.secondName" 
                />
                <LabelPage v-if="item.secondName === '指标标签'"
                    :labelOld="item.beforeValue || [] "
                    :labelNew="item.afterValue || [] "
                    :basicName="item.secondName"
                />
            </div>
        </div>
    </div>
  </template>
  
  <script>
  import BasicPage from './components/Basic.vue'
  import BasicPageConfig from './components/BasicConfig.vue'
  import FilterPage from './components/Filter.vue'
  import LabelPage from './components/Label.vue'
  import DescPage from './components/Description.vue'
  import { mapGetters, mapState } from 'vuex'
  import { deepCopy } from '@/utils/common'
  
  export default {
    name: 'AtomicIndicator',
    components: {
        FilterPage,
        BasicPage,
        LabelPage,
        DescPage,
        BasicPageConfig
    },
    props: {
      dataSource: { 
        type: Array,
        default: ()=>[]
      },
      changeList: { 
        type: Array,
        default: ()=>[]
      },
    },
    data() {
      return {
        
      }
    },
    computed: {
        ...mapState('indicator', [
            'businessModelList',
            'businessModel',
            'column',
            'columnNvl',
            'assetGroups'
        ]),
        ...mapGetters('indicator', ['columns']),
    },
    mounted() {
    },
    methods: {
        columnView(val) {
            let idArr = val.split(',');
            let columnIdZero = idArr[0].replace(/\[|]/g,"")+'' //删除括号
            let columnZero = this.columns.find(item => item.id === columnIdZero)?.name
            if(!idArr[1]){
                return columnZero;
            }else{
                if(idArr[1].indexOf('[') !== -1){
                    let columnId = idArr[1].replace(/\[|]/g,"")+'' //删除括号
                    return columnZero + ' ' + this.columns.find(item => item.id === columnId)?.name
                }else{
                    return columnZero + ' ' + idArr[1]
                }
            }
        },
        assetGroupView(val) {
            return this.assetGroups.find(item => item.id === Number(val))?.name
        },
      filterSummaryMode(code){
        let name = '';
        switch (code) {
            case '1':
                name="求和";
                break;
            case '2':
                name="平均值";
                break;
            case '3':
                name="最大值";
                break;
            case '4':
                name="最小值";
                break;
            case '5':
                name="计数";
                break;
            case '7':
                name="求和(nvl)";
                break;
            case '8':
                name="平均值(nvl)";
                break;
            default:
                name="去重计数";
                break;
        }
        return name;
      },
    },
  }
  </script>
  
  <style lang="less" scoped>
  
  </style>
  