<template>
    <div class="SimpleChange-all">
      <div v-for="(item, ind) in dataSource" :key="ind">
            <div v-if="item.firstName === '基本信息'">
                <BasicPage 
                    v-if="item.secondName === '指标名称' || 
                          item.secondName === '指标编码' ||
                          item.secondName === '指标简称' ||  
                          item.secondName === '版本号' ||
                          item.secondName === '属性'
                    " 
                    :valueOld="item.beforeValue" 
                    :valueNew="item.afterValue" 
                    :basicName="item.secondName" 
                />
                <BasicPage v-if="item.secondName === '是否同步看板'" 
                    :valueOld="item.beforeValue === '1' ? '开启' : '关闭'" 
                    :valueNew="item.afterValue === '1' ? '开启' : '关闭'" 
                    :basicName="item.secondName" 
                />
                <DescPage v-if="item.secondName === '业务描述'"
                    :valueOld="item.beforeValue" 
                    :valueNew="item.afterValue" 
                    :basicName="item.secondName"
                />
            </div>
            <div v-if="item.firstName === '指标定义'">
                <BasicPageExpress
                    v-if="item.secondName === '表达式'" 
                    :valueOld="updateExpressionView(item.beforeValue)" 
                    :valueNew="updateExpressionView(item.afterValue)" 
                    :basicName="item.secondName" 
                />
                <BasicPage v-if="item.secondName === '过滤条件开闭'" 
                    :valueOld="item.beforeValue === 'true' ? '开启' : '关闭'" 
                    :valueNew="item.afterValue === 'true' ? '开启' : '关闭'" 
                    :basicName="item.secondName" 
                />
                <BasicPageConfig v-if="item.secondName === '数值格式'" 
                    :valueOld="item.beforeValue" 
                    :valueNew="item.afterValue" 
                    :basicName="item.secondName" 
                />
                <FilterPage v-if="item.secondName === '过滤条件'"
                    :valueOld="item.beforeValue || {}" 
                    :tabListOld="filterTabList(item.beforeValue)"
                    :valueNew="item.afterValue || {}"
                    :tabListNew="filterTabList(item.afterValue)"
                    :basicName="item.secondName"
                />
            </div>
            <div v-if="item.firstName === '资产信息'">
                <BasicPage v-if="item.secondName === '资产分组'" 
                    :valueOld="assetGroupView(item.beforeValue)" 
                    :valueNew="assetGroupView(item.afterValue)" 
                    :basicName="item.secondName" 
                />
                <LabelPage v-if="item.secondName === '指标标签'"
                    :labelOld="item.beforeValue || [] "
                    :labelNew="item.afterValue || [] "
                    :basicName="item.secondName"
                />
            </div>
        </div>
    </div>
  </template>
  
  <script>
  import { deepCopy } from '@/utils/common'
  import BasicPage from './components/Basic.vue'
  import BasicPageExpress from './components/BasicExpress.vue'
  import FilterPage from './components/FilterCompsite.vue'
  import LabelPage from './components/Label.vue'
  import DescPage from './components/Description.vue'
  import BasicPageConfig from './components/BasicConfig.vue'
  import { mapGetters, mapState } from 'vuex'
  
  export default {
    name: 'CompositeIndicator',
    components: {
      FilterPage,
      BasicPage,
      BasicPageExpress,
      LabelPage,
      DescPage,
      BasicPageConfig
    },
    props: {
      dataSource: { 
        type: Array,
        default: ()=>[]
      },
      changeList: { 
        type: Array,
        default: ()=>[]
      },
    },
    computed: {
        ...mapState('indicator', [
            'assetGroups',
            'indicators',
            'expression',
        ]),
        ...mapGetters('indicator', ['columns']),
    },
    data() {
      return {
        
      }
    },
    mounted() {

    },
    methods: {
      // 更新表达式显示
      updateExpressionView(val) {
        const reg = /\[(.*?)\]/gi
        const expressionHtml = val
          .replace(reg, (match) => {
            const indicator = this.indicators.find(item => item.id === Number(match.slice(1, -1)))
            return indicator ? " "+ indicator.name+ " " : ''
          })
        return expressionHtml
      },
      assetGroupView(val) {
          return this.assetGroups.find(item => item.id === Number(val))?.name
      },
      // 过滤id对应的指标名字
      filterTabNameList(val){
        return this.indicators.find(item => item.id === Number(val))?.name
      },
      filterTabList(val){
        if(val){
          let arr = Object.keys(val).map(item=>{
            return {
              name: this.filterTabNameList(item),
              id: item
            }
          })
          return arr
        }else{
          return []
        }
      },
    },
  }
  </script>
  
  <style lang="less" scoped>
  
  </style>
  