<template>
  <div class="SimpleChange-all">
    <div v-for="(item, ind) in dataSource" :key="ind">
      <div v-if="item.firstName === '基本信息'">
        <BasicPage
          v-if="
            item.secondName === '指标名称' ||
            item.secondName === '指标编码' ||
            item.secondName === '指标简称' ||
            item.secondName === '版本号' ||
            item.secondName === '属性'
          "
          :valueOld="item.beforeValue"
          :valueNew="item.afterValue"
          :basicName="item.secondName"
        />
        <BasicPage
          v-if="item.secondName === '是否同步看板'"
          :valueOld="item.beforeValue === '1' ? '开启' : '关闭'"
          :valueNew="item.afterValue === '1' ? '开启' : '关闭'"
          :basicName="item.secondName"
        />
        <DescPage
          v-if="item.secondName === '业务描述'"
          :valueOld="item.beforeValue"
          :valueNew="item.afterValue"
          :basicName="item.secondName"
        />
      </div>
      <DescPage
        v-if="item.firstName === '指标定义'"
        :valueOld="item.beforeValue"
        :valueNew="item.afterValue"
        :basicName="item.secondName"
      />
      <div v-if="item.firstName === '资产信息'">
        <BasicPage
          v-if="item.secondName === '资产分组'"
          :valueOld="assetGroupView(item.beforeValue)"
          :valueNew="assetGroupView(item.afterValue)"
          :basicName="item.secondName"
        />
        <LabelPage
          v-if="item.secondName === '指标标签'"
          :labelOld="item.beforeValue || []"
          :labelNew="item.afterValue || []"
          :basicName="item.secondName"
        />
      </div>
    </div>
  </div>
</template>

<script>
import BasicPage from "./components/Basic.vue";
import BasicRule from "./components/BasicRule.vue";
import FilterPage from "./components/Filter.vue";
import LabelPage from "./components/Label.vue";
import DescPage from "./components/Description.vue";
import BasicPageConfig from "./components/BasicConfig.vue";
import { mapGetters, mapState } from "vuex";
import {
  INDICATOR_TYPES,
  DERIVATION_RULES,
  CALC_PERIODS,
  SUMMARY_METHODS,
  CALC_TYPES,
  SUB_CALC_TYPES,
  MOBILE_CALC_PERIODS,
} from "@/view/report/indicator/constant";

export default {
  name: "DerivedIndicator",
  components: {
    FilterPage,
    BasicPage,
    BasicRule,
    LabelPage,
    DescPage,
    BasicPageConfig,
  },
  props: {
    dataSource: {
      type: Array,
      default: () => [],
    },
    changeList: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {};
  },
  computed: {
    ...mapState("indicator", ["assetGroups", "indicators", "calcInterval"]),
    ...mapGetters("indicator", ["columns"]),
  },
  mounted() {},
  methods: {
    assetGroupView(val) {
      return this.assetGroups.find((item) => item.id === Number(val))?.name;
    },
    derivedFromView(val) {
      return this.indicators.find((item) => item.id === Number(val))?.name;
    },
    derivationRuleView(val) {
      return DERIVATION_RULES.find((item) => item.value === Number(val))?.name;
    },
    //移动计算过滤计算周期
    mobileCalcPeriodView(val) {
      return MOBILE_CALC_PERIODS.find((item) => item.value === val)?.name;
    },
    //移动计算过滤计算区间
    mobileCalcIntervalView(mobileCalcInterval) {
      const { start, end } = mobileCalcInterval;
      let startArr = start.split("-");
      let endArr = end.split("-");
      const startStr =
        startArr.length === 2
          ? `${startArr[0]}月${startArr[1]}日`
          : `${startArr[0]}日`;
      const endStr =
        endArr.length === 2 ? `${endArr[0]}月${endArr[1]}日` : `${endArr[0]}日`;
      return `${startStr}~${endStr}`;
    },
    //移动计算过滤聚合方式
    summaryMethodView(val) {
      return SUMMARY_METHODS.find((item) => item.value === val)?.name;
    },
    //同/环比过滤计算方式
    calcTypeView(val, subVal) {
      if (val === 1) {
        return CALC_TYPES.find((item) => item.value === val)?.name;
      } else {
        return SUB_CALC_TYPES.find((item) => item.value === subVal)?.name;
      }
    },
    //期间累计过滤计算周期
    calcPeriodView(val) {
      return CALC_PERIODS.find((item) => item.value === val)?.name;
    },
    //期间累计过滤计算区间
    calcIntervalView(val, subVal) {
      let calcIntervalSecondType = "";
      if (val === 1) calcIntervalSecondType = "Year";
      if (val === 2) calcIntervalSecondType = "Quarter";
      if (val === 3) calcIntervalSecondType = "Mon";
      if (val === 4) calcIntervalSecondType = "Week";
      return subVal === 0 ? "当前" : calcIntervalSecondType;
    },
    subRuleView(val) {
      let str = "";
      let valObj = JSON.parse(val);
      if (val) {
        if (val.indexOf("periodType") !== -1) {
          // 期间累计
          str += `<span style="margin-right: 10px;">计算周期：${this.calcPeriodView(
            valObj.periodType
          )};</span>
                <span style="margin-right: 10px;">计算区间：${this.calcIntervalView(
                  valObj.periodType,
                  valObj.periodValue
                )};</span>
                <span>聚合方式：${this.summaryMethodView(
                  valObj.calculateType
                )};</span>`;
        } else if (val.indexOf("compareType") !== -1) {
          // 同/环比
          str += `<span>计算方式：${this.calcTypeView(
            valObj.compareType,
            valObj.yearOnYearType
          )}</span>`;
        } else if (val.indexOf("byType") !== -1) {
          let date = {
            start: valObj.start,
            end: valObj.end,
          };
          // 移动计算
          str += `<span style="margin-right: 10px;">计算周期：${this.mobileCalcPeriodView(
            valObj.byType
          )};</span>
                <span style="margin-right: 10px;">计算区间：${this.mobileCalcIntervalView(
                  date
                )};</span>
                <span>聚合方式：${this.summaryMethodView(
                  valObj.calculateType
                )};</span>`;
        } else {
          // 累计计算
          str += `<span>聚合方式：${this.summaryMethodView(valObj)}</span>`;
        }
        return str;
      } else {
        return "";
      }
    },
  },
};
</script>

<style lang="less" scoped>
</style>
