<template>
  <div class="OperationLog-all">
    <div class="OperationLog-list">
      <Collapse simple @on-change="changeOpen">
        <div class="panel-item" v-for="item in dataList" :key="item.id">
          <div class="line"></div>
          <div class="dot"></div>
          <div
            v-if="
              item.modules &&
              item.modules.length === 1 &&
              item.modules[0] === '创建指标'
            "
          >
            <div class="header-create">
              <div class="name-create">
                <span>创建指标</span>
              </div>
              <div class="right">
                <span>操作员：</span>
                <span>{{ item.creator }}</span>
                <span class="time">{{ item.date }}</span>
              </div>
            </div>
          </div>
          <Panel :name="item.id + ''" v-else>
            <div class="header">
              <div class="name">
                <span v-for="(row, index) in item.modules" :key="index">
                  <span>更改「{{ row }}」</span>
                  <span v-if="index !== item.modules.length - 1">、</span>
                </span>
              </div>
              <div class="right">
                <span>操作员：</span>
                <span>{{ item.creator }}</span>
                <span class="time">{{ item.date }}</span>
              </div>
            </div>
            <div slot="content">
              <!-- 原子 -->
              <AtomicIndicator
                :changeList="item.modules"
                :dataSource="item.dataSource"
                v-if="indicatorKind === 1"
              />
              <!-- 复合 -->
              <CompositeIndicator
                :changeList="item.modules"
                :dataSource="item.dataSource"
                v-else-if="indicatorKind === 2"
              />
              <!-- 指标定义 -->
              <ExternalIndicator
                :changeList="item.modules"
                :dataSource="item.dataSource"
                v-else-if="indicatorKind === 4"
              />
              <!-- 派生 -->
              <DerivedIndicator
                :changeList="item.modules"
                :dataSource="item.dataSource"
                v-else
              />
            </div>
          </Panel>
        </div>
      </Collapse>
    </div>
    <div class="pageination">
      <Page
        class="pageClass"
        :current="pageNum"
        :page-size="pageSize"
        :total="total"
        show-sizer
        :page-size-opts="[15, 20, 30, 40]"
        @on-change="changePageHandle"
        @on-page-size-change="changeSizeHandle"
      />
    </div>
  </div>
</template>

<script>
import AtomicIndicator from "./AtomicIndicator.vue";
import DerivedIndicator from "./DerivedIndicator.vue";
import CompositeIndicator from "./CompositeIndicator.vue";
import ExternalIndicator from "./ExternalIndicator.vue";
import { mapState } from 'vuex'
import { getIndicatorLog, getIndicatorLogDetail } from '@/api/dataset'
import { deepCopy } from "@/utils/common";

export default {
  name: "OperationLog",
  components: {
    AtomicIndicator,
    DerivedIndicator,
    CompositeIndicator,
    ExternalIndicator,
  },
  data() {
    return {
      dataList: [],
      total: 0,
      pageSize: 15,
      pageNum: 1,
      currentSelectId: [],
      selectId: null,
      selectDataList: [],
    };
  },
  computed: {
    ...mapState('indicator', [
      'indicatorKind',
      'indicatorId',
    ]),
  },
  mounted() {
    this.queryLogList()
    this.selectId = null;
  },
  methods: {
    changePageHandle(value) {
      this.pageNum = value
      this.currentSelectId = [];
      this.queryLogList()
    },
    changeSizeHandle(value) {
      this.pageSize = value
      this.currentSelectId = [];
    },
    /**
     * 获取日期列表
     */
    async queryLogList() {
      const params = {
        idxId: this.indicatorId,
        type: this.indicatorKind,
        pageNum: this.pageNum,
        pageSize: this.pageSize,
      }
      const res = await getIndicatorLog(params)
      if (res.data.state === 'success') {
        if (res.data.data) {
          const resData = res.data.data
          this.dataList = resData.data.map((item) => ({
            ...item,
            dataSource: [],
          }))
          this.total = resData.count
        }
      } else {
        this.$Message.error('获取日志列表失败！')
      }
    },
    changeOpen(value) {
      if (value.length > this.currentSelectId.length) {
        this.selectId = value[value.length - 1];
        this.queryDetail();
      }
      this.currentSelectId = deepCopy(value);
    },
    async queryDetail() {
      let res = await getIndicatorLogDetail(this.selectId);
      if (res.data.data && res.data.state === "success") {
        const resData = res.data.data;
        this.selectDataList = resData;
        this.dataList.forEach((item) => {
          if (item.id + "" === this.selectId) {
            item.dataSource = deepCopy(this.selectDataList);
          }
        });
      }
    },
  },
  watch: {
    indicatorId() {
      this.queryLogList()
    },
  },
};
</script>

<style lang="less" scoped>
.OperationLog-all {
  padding: 16px 0;
  .OperationLog-list {
    height: calc(~"100vh - 230px");
    overflow: auto;
  }
  /deep/.ivu-collapse {
    border: none;
    padding-left: 3px;
    .ivu-collapse-item {
      border-top: none;
      border-left: 1px solid #84aeff;
      position: relative;
      padding-bottom: 20px;
    }
  }
  .panel-item {
    position: relative;
    .header-create {
      width: 100%;
      padding-right: 16px;
      display: flex;
      justify-content: space-between;
      padding-left: 16px;
      .name-create {
        width: calc(~"100% - 380px");
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #000000;
        font-weight: 600;
      }
      .time {
        margin-left: 16px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.45);
        letter-spacing: 0;
        font-weight: 400;
      }
    }
    .header {
      width: calc(~"100% - 20px");
      padding-right: 16px;
      display: flex;
      justify-content: space-between;
      .name {
        width: calc(~"100% - 380px");
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .right {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.65);
        letter-spacing: 0;
        font-weight: 400;
      }
      .time {
        margin-left: 16px;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.45);
        letter-spacing: 0;
        font-weight: 400;
      }
    }
    .dot {
      position: absolute;
      border-radius: 50%;
      left: -3px;
      top: 7px;
      width: 7px;
      height: 7px;
      background: #3f73ff;
      z-index: 3;
    }
    .line {
      position: absolute;
      height: 19px;
      width: 2px;
      left: -1px;
      top: 0;
      background: #fff;
      z-index: 2;
    }
    /deep/.ivu-collapse-item.ivu-collapse-item-active {
      .ivu-collapse-header {
        i {
          transform: rotate(-90deg);
        }
      }
    }
    /deep/ .ivu-collapse-header {
      padding-left: 16px;
      cursor: pointer;
      font-size: 12px;
      color: #000000;
      font-weight: 600;
      height: 20px;
      display: flex;
      align-items: center;
      .ivu-icon {
        background: #ffffff;
        border: 1px solid rgba(219, 219, 219, 1);
        border-radius: 2px;
        margin-right: 6px;
      }
      i {
        transform: rotate(90deg);
      }
    }
    /deep/ .ivu-collapse-header:hover {
      .ivu-icon {
        background: #edf3ff;
        border: 1px solid rgba(63, 115, 255, 1);
        color: #3f73ff;
      }
    }
    /deep/ .ivu-collapse-content-box {
      padding-bottom: 0;
    }
  }
  .panel-item:last-child {
    .ivu-collapse-item {
      border-left: 1px solid #fff;
    }
    .ivu-collapse-item-active {
      border-left: 1px solid #84aeff;
    }
  }
  .pageination {
    text-align: right;
    margin-top: 20px;
  }
}
</style>
