<template>
  <div class="contentManage">
    <HeaderTie title="内容管理" style="margin-bottom: 16px;" />
    <el-tabs
      v-model="activeName"
      class="cardTab"
    >
      <el-tab-pane label="资源管理" name="first" lazy >
        <ContentManage v-if="activeName == 'first'" :contentPathList="contentPathList"></ContentManage>
      </el-tab-pane>
      <el-tab-pane label="环境管理" name="second" lazy>
        <Environmental v-if="activeName == 'second'"></Environmental>
      </el-tab-pane>
    </el-tabs>

  </div>
</template>

<script>

import {
  querySysEnvironmentDetail
} from "@/api/system";

import ContentManage from "./compoents/content/index.vue";
import Environmental from "./compoents/environmental/index.vue";
import HeaderTie from "@/components/title-header/titleHeader.vue"

import { mapActions } from 'vuex'
import { EventBus } from '@/utils/event-bus';

export default {
  name: "contentManagement",
  data() {
    return {
      activeName: "first",
      contentPathList: []
    };
  },
  created() {
    this.querySysEnvironmentDetail()
    this.getEnvList()
    this.getBusinessGroups()
    this.getBusinessLabels()
    if (this.getBtnAllow([8601])) {
      this.activeName = "first"
    }else if (this.getBtnAllow([8602])) {
      this.activeName = "second"
    }
  },
  mounted() {
    EventBus.$on('updateLabelsAndGroups', () => {
      this.getBusinessGroups()
      this.getBusinessLabels()
    })
    EventBus.$on('addNewEnvSuccess', () => {
      this.getEnvList()
    })
    EventBus.$on('deleteEnvSuccess', () => {
      this.getEnvList()
    })
  },
  beforeDestroy() {
    EventBus.$off('updateLabelsAndGroups')
    EventBus.$off('addNewEnvSuccess')
    EventBus.$off('deleteEnvSuccess')
  },
  methods: {
    ...mapActions('contentManage', [
      'getBusinessGroups',
      'getBusinessLabels',
      'getEnvList'
    ]),
    async querySysEnvironmentDetail() {
      await querySysEnvironmentDetail({ type: "" }).then((res) => {
        const { data, state } = res.data;
        if (state === "success") {
          this.contentPathList = data
        }
      });
    }

  },
  components: {
    ContentManage,
    Environmental,
    HeaderTie
  },
};
</script>

<style lang="scss" scoped>
.contentManage {
  width: 100%;
  height: 100%;
  //padding: 20px;
  color: rgba(0, 0, 0, 0.85);
  position: relative;


  .cardTab {
    height: calc(100% - 40px);

    /deep/ .el-tabs__content {
      height: calc(100% - 60px);

      .el-tab-pane {
        height: 100%;
      }
    }

    /deep/ .el-tabs__header {
      margin: 0 0 10px;
      border-bottom: 1px solid rgba(0,0,0,0.1);

      .el-tabs__nav {
        border: none;

        .el-tabs__item {
          width: 118px;
          text-align: center;
          padding: 8px 0;
          height: 50px;
          line-height: 28px;
          // background-color: #fff;
          // border-radius: 4px 4px 0px 0px;
          // margin-right: 6px;
          // border: 1px solid rgba(219, 219, 219, 1);
          // // border-bottom: none;
          // &.is-active {
          //   border: 1px solid rgba(63,115,255,1);
          //   border-bottom: none;
          // }
        }
      }
    }
  }

  /deep/ .el-form--label-left .el-form-item__label {
    text-align: right;
  }

  /deep/ .el-card {
    border: none;
  }
}
</style>
