<template>
  <div class="filterCondition-container">
    <Collapse class="ruleWrapper" simple :value="collapseDefaultShow">
      <Panel class="ruleItemWrapper" :name="item.id" v-for="item in ruleList" :key="item.id">
        <div class="ruleHeader">
          <!-- 使用一个input输入框 组织事件冒泡防止父组件的事件影响到子组件 -->
          <span
            class="headerLeft"
            @click="
              (event) => {
                event.stopPropagation();
              }
            "
          >
            <Input v-model="item.ruleDetail" clearable placeholder="请输入名称" />
          </span>
          <!-- <span class="headerLeft">{{ item.ruleDetail ruleTitle(index) }}</span> -->
          <div class="headerRight">
            <section class="ruleResult">
              <span class="leftTitle">结果定义：</span>
              <Select class="ruleLevelWrapper" v-model="item.level" v-if="isEdit" @click.native.stop>
                <Option v-for="ele in selectList" :key="ele.value" :value="ele.value">{{ ele.label }}</Option>
              </Select>
              <span v-else>{{ ruleLabel(item.level) }}</span>
            </section>
            <section class="deleteBtn" v-if="isEdit && ruleList.length > 1" @click="changeRule({ key: 'del', value: item.id })">
              <img src="@/assets/icons/earlyWarningTarget/deleteRuleIcon.svg" alt="" />
              <span>删除</span>
            </section>
          </div>
        </div>
        <template #content>
          <RuleConditionItem
            :filter-conditions="item.ruleConditionList"
            :is-edit="isEdit"
            @change-filterConditions="changeRule({ key: 'update', value: { id: item.id, data: $event } })"
            @show-expression-modal="onShowExpressionModal($event, item.id)"
          />
        </template>
      </Panel>
    </Collapse>

    <section class="addConditionBtn" v-if="isEdit && ruleList.length < 3" @click="changeRule({ key: 'add' })">
      <img src="@/assets/icons/earlyWarningTarget/addCondition.svg" alt="" />
      <span>新增条件</span>
    </section>

    <!-- 公式编辑弹窗 -->
    <ExpressionModal :show-expression-modal="showExpressionModal" @closeModal="showExpressionModal = false" @onConfirm="onConfirmExpression" />
  </div>
</template>

<script>
import RuleConditionItem from "./components/RuleConditionItem";
import ExpressionModal from "./components/ExpressionModal";
import { EARLY_WARNING_LIST, TARGET_LIST } from "@/view/RulesmanagementTarget/earlyWarningTargetIndex/constant/ruleModal";
import { mapState, mapActions } from "vuex";
import { deepCopy } from "@/utils/common";

export default {
  props: {
    ruleList: {
      type: Array,
      required: true,
    },
    taskType: {
      type: Number,
      required: true,
    },
    isEdit: {
      type: Boolean,
      required: true,
    },
  },
  components: {
    RuleConditionItem,
    ExpressionModal,
  },
  data() {
    return {
      showExpressionModal: false, // 是否展示表达式弹窗
    };
  },
  computed: {
    ...mapState("earlyWarningTarget", ["indicatorTreeData"]),
    // 默认展开的面板
    collapseDefaultShow() {
      return this.ruleList.map((ele) => ele.id);
    },
    ruleTitle() {
      return (item, index) => {
        switch (index) {
          case 0:
            this.ruleDetail = "规则一";
            break;
          case 1:
            this.ruleDetail = "规则二";
            break;
          case 2:
            this.ruleDetail = "规则三";
            break;
        }
        return (item.ruleDetail = this.ruleDetail);
      };
    },
    selectList() {
      return this.taskType === 1 ? EARLY_WARNING_LIST : TARGET_LIST;
    },
    ruleLabel() {
      return (level) => this.selectList.find((ele) => ele.value === level);
    },
  },
  methods: {
    ...mapActions("indicator", ["setExpressionHtml", "setExpression", "setIndicatorTree"]),
    /**
     * 添加/删除/更新规则
     * @param {String} key 类型（添加/删除/更新）
     * @param {Number} value 对应操作的载荷
     */
    changeRule({ key, value }) {
      this.$emit("change-rule", { key, value });
    },
    /**
     * 展示公式弹窗
     */
    onShowExpressionModal({ type, expressionModalHtml, expression, groupIndex, index }, id) {
      this.setExpression(expression); // 回填公式表达式
      this.setExpressionHtml(expressionModalHtml); // 回填公式html
      this.setIndicatorTree(deepCopy(this.indicatorTreeData)); // 公式左侧树

      this.typeTemp = type;
      this.ruleIdTemp = id; // 规则分组id
      this.groupIndexTemp = groupIndex; // 与分组索引
      this.indexTemp = index; // 或分组索引
      this.showExpressionModal = true;
    },
    /**
     * 公式弹窗编辑完成
     */
    onConfirmExpression(htmlValue, value, html) {
      let filterConditions = deepCopy(this.ruleList.find((ele) => ele.id === this.ruleIdTemp).ruleConditionList);

      if (this.typeTemp === "cur") {
        filterConditions[this.groupIndexTemp][this.indexTemp].curExpressionHtml = htmlValue;
        filterConditions[this.groupIndexTemp][this.indexTemp].curExpressionModalHtml = html;
        filterConditions[this.groupIndexTemp][this.indexTemp].curExpression = value;
      } else {
        filterConditions[this.groupIndexTemp][this.indexTemp].targetExpressionHtml = htmlValue;
        filterConditions[this.groupIndexTemp][this.indexTemp].targetExpressionModalHtml = html;
        filterConditions[this.groupIndexTemp][this.indexTemp].targetExpression = value;
      }
      this.changeRule({ key: "update", value: { id: this.ruleIdTemp, data: filterConditions } });
    },
  },
};
</script>

<style lang="less" scoped>
.filterCondition-container {
  width: 100%;
  height: 100%;
  /deep/.ruleWrapper {
    border: none;
    .ruleItemWrapper {
      background: rgba(134, 163, 230, 0.02);
      border: 1px solid rgba(134, 163, 230, 0.3);
      border-radius: 4px;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      .ivu-collapse-header {
        display: flex;
        align-items: center;
        padding: 0 18px 0 14px;
        > i {
          width: 14px;
          height: 14px;
          background: #2876ff;
          border-radius: 2px;
          color: #ffffff;
          margin-right: 0;
          &::before {
            font-size: 14px;
          }
        }
        > .ruleHeader {
          width: calc(~"100% - 24px");
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 10px;
          .headerLeft {
            font-family: PingFangSC-Medium;
            font-size: 14px;
            color: #555555;
            line-height: 18px;
            font-weight: 600;
          }
          .headerRight {
            display: flex;
            align-items: center;
            .ruleResult {
              .leftTitle {
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.65);
                letter-spacing: 0;
              }
              .ruleLevelWrapper {
                width: 90px;
                .ivu-select-selection {
                  border: none;
                }
              }
            }
            .deleteBtn {
              display: flex;
              align-items: center;
              margin-left: 14px;
              img {
                margin-right: 2px;
              }
              span {
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #3f73ff;
                letter-spacing: 0;
                line-height: 20px;
              }
            }
          }
        }
      }
      & > .ivu-collapse-header > i {
        transform: rotate(0deg);
      }
      &.ivu-collapse-item-active > .ivu-collapse-header > i {
        transform: rotate(-90deg);
      }
      .ivu-collapse-content {
        padding: 0 14px;
      }
    }
  }
  .addConditionBtn {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(134, 163, 230, 0.05);
    border: 1px dashed #3f73ff;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    img {
      margin-right: 4px;
    }
    span {
      font-family: MicrosoftYaHei;
      font-size: 14px;
      color: #3f73ff;
    }
  }
}
</style>
