<template>
  <div class="badge-all">
    <Poptip v-model="visiblePop" trigger="click" placement="bottom-end" width="340" @on-popper-show="showPop" @on-popper-hide="hiddenPop">
      <Badge dot :count="countBadge" class="dot">
        <Icon type="ios-notifications-outline" size="24" color="#fff"></Icon>
      </Badge>
      <div class="message-box" slot="content" offset="15">
        <Tabs :value="messageTab">
          <TabPane :label="infoLabel" name="info">
            <div v-if="infoList.length > 0" class="info-content">
              <div
                v-for="(item, ind) in infoList"
                :key="ind"
              >
                <div class="info-item">
                  <div class="info-text">
                    <span v-html="item.content"></span>
                    <p>{{ timestampToDateStr(item.createTime) }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div v-else class="no-data">
              暂无消息
            </div>
          </TabPane>
          <TabPane :label="systemLabel" name="system">
            <div class="no-data">
              暂无消息
            </div>
          </TabPane>
        </Tabs>
        <div class="box-bottom">
          <!-- <div @click="readAll()">全部已读</div> -->
          <div @click="viewAll()">
            查看全部
            <Icon type="ios-arrow-forward" />
          </div>
        </div>
      </div>
    </Poptip>
  </div>
</template>

<script>
import moment from "moment";
import { getMessageList, updateMessage } from "@/api/notice";

export default {
  name: "BadgeTop",
  data() {
    return {
      countBadge: 0,
      messageTab: "info",
      infoList: [],
      infoCount: 0,
      infoLabel: null,
      visiblePop: false,
      systemLabel: (h) => {
        return h("div", [
          h("span", "系统"),
          h("Badge", {
            props: {
              count: 0,
            },
          }),
        ]);
      },
    };
  },
  mounted() {
    this.queryInfoList();
    // 从localStorage中轮询获取
    setInterval(() => {
      this.queryInfoList();
    }, 60000);
  },
  watch: {
    infoCount: {
      handler() {
        this.infoLabel = (h) => {
          return h("div", [
            h(
              "span",
              {
                style: {
                  fontSize: "14px",
                },
              },
              "动态"
            ),
            h("Badge", {
              props: {
                count: this.infoCount,
              },
            }),
          ]);
        };
      },
      immediate: true,
    },
  },
  methods: {
    showPop(){
      this.readAll();
    },
    hiddenPop(){
      this.queryInfoList();
    },
    async queryInfoList() {
      const data = {
        receiver: this.$store.state.user.userName,
        status: 2,
        pageNum: 1,
        pageSize: 10,
        messageType: 3,
      };
      let res = await getMessageList(data);
      if (res.data && res.data.state === "success") {
        const resData = res.data.data;
        this.infoList =
          resData.records && resData.total > 0
            ? resData.records.slice(0, 10)
            : [];
        // this.infoCount = resData.total;
        this.countBadge = resData.total;
      }
    },
    timestampToDateStr(timestamp) {
      return moment(timestamp).format("YYYY-MM-DD HH:mm:ss");
    },
    readAll() {
      this.infoList.forEach(async item=>{
        let res =  await updateMessage(item.receiverId , 3);
        if (res.data && res.data.state === "success") {
          
        }else{
          this.$Message.error(res.data.message);
        }
      })
    },
    viewAll() {
      this.visiblePop = false;
      this.$router.push("/message");
    },
    filterClass(code) {
      let name = "";
      switch (code) {
        case "一级预警":
          name = "warning-text-first";
          break;
        case "一级目标":
          name = "warning-text-first";
          break;
        case "二级预警":
          name = "warning-text-second";
          break;
        case "二级目标":
          name = "warning-text-second";
          break;
        default:
          name = "warning-text-third";
          break;
      }
      return name;
    },
    async onClickEarlyWarning(id, receiverId) {
      let res = await updateMessage(receiverId, 3);
      if (res.data && res.data.state === "success") {
        this.queryInfoList();
        let earlyWarning = this.infoList.find((item) => item.id === id);
        if (!earlyWarning) return;
        earlyWarning.read = 1;
        window.localStorage.setItem(
          "earlyWarningList",
          JSON.stringify(this.infoList)
        );
        const route = this.$router.resolve({
          path:
            "/indicatorWorkbench/indicatorWorkbenchDetail?id=1313802754720768&name=活动执行率&type=1&tab=2",
        });
        window.open(route.href, "_blank");
      }
    },
  },
};
</script>

<style lang="less" scoped>
.badge-all {
  height: 22px;
  line-height: 22px;
  .dot {
    cursor: pointer;
  }
  .message-box {
    height: 438px;
    position: relative;
    padding-bottom: 50px;
    .no-data {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
    }
    /deep/ .ivu-badge-count {
      top: -5px;
      height: 16px;
      line-height: 14px;
      background: #ff5967;
    }
    .info-content {
      height: 335px;
      overflow-y: auto;
      .info-item {
        display: flex;
        margin-bottom: 20px;
        // cursor: pointer;
        .dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 5px;
          margin-top: 7px;
        }
        .blue-dot {
          background: #3f73ff;
        }
        .gray-dot {
          background: rgba(0, 0, 0, 0.15);
        }
        .info-text {
          width: calc(~"100% - 14px");
          white-space: normal;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.65);
          p{
            font-size: 12px;
          }
          .gray-text {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.65);
          }
          .black-text {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.85);
            font-weight: 600;
          }
          .warning-text-first {
            font-size: 14px;
            color: #f86666;
          }
          .warning-text-second {
            font-size: 14px;
            color: #f78c22;
          }
          .warning-text-third {
            font-size: 14px;
            color: #ffcb5f;
          }
          .link-text {
            font-size: 14px;
            color: #3f73ff;
            cursor: pointer;
          }
        }
      }
    }

    .box-bottom {
      position: absolute;
      bottom: 0;
      height: 50px;
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: rgba(0, 0, 0, 0.45);
      > div {
        cursor: pointer;
      }
    }
  }
  /deep/ .ivu-poptip-arrow {
    display: none;
  }
}
</style>
