<template>
  <Modal class="folder-modal" :width="380" v-model="visible" @on-cancel="onCancel" @on-ok="onOk">
    <span slot="header">新增文件夹</span>
    <div>
      <Form ref="form" :label-width="90" label-colon v-if="visible">
        <FormItem class="form-item" prop="name" label="文件夹名称" :rules="{required: true, validator: nameValidator, trigger: 'change'}">
          <Input type="text" v-model.trim="name" placeholder="请输入名称" :maxlength="30" />
        </FormItem>
        <FormItem class="form-item" prop="parent" label="父级" :rules="{required: true, validator: parentValidator, trigger: 'change'}">
          <FaTreeSelect
            class="custom-tree"
            :selected="parent"
            check-strictly
            :expand-all="true"
            @changeVal="onSelect"
            :render="renderTip"
            :treeData="folderTreeAll"
            :multiple="false"
            placeholder="请选择父级" />
        </FormItem>
      </Form>
    </div>
    <div slot="footer">
      <Button type="text" @click="onCancel">取消</Button>
      <Button type="primary" :loading="loading" @click="onOk">确定</Button>
    </div>
  </Modal>
</template>

<script>
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
import { mapState } from 'vuex'
import { deepCopy } from '@/utils/common'
import { addStoryBoardGroup } from '@/api/storyBoard'

export default {
  name: 'AddFolderModal',
  components: {
    FaTreeSelect,
  },
  data() {
    return {
      visible: false,
      name: '', // 文件夹名称
      parent: '', // 父级
      folderTree: [], // 文件夹树
      folderTreeAll: [], // 文件夹树
      loading: false,
    }
  },
  computed: {
    ...mapState('story', [
      'storyList',
      'folderList',
    ]),
  },
  watch: {
    visible(newVal) {
      if (newVal) {
        let folderList = deepCopy(this.folderList)
        folderList = folderList.map(item => ({
          ...item,
          title: item.name,
          expand: true,
        }))
        this.buildFolderTree(folderList)
        let rootNode = {
          id: -1,
          name: "root",
          title: '/',
          parentId: null,
          type: "group",
          expand: true,
          children: this.folderTree
        }
        this.folderTreeAll = [rootNode]
      }
    },
  },
  methods: {
    // 构建文件夹列表树结构
    buildFolderTree(allList) {
      // 找到根节点
      let tree = allList.filter(item => item.parentId === -1)
      tree = tree.map(item=>{return {...item, nodeLevel: 1}})
      // 递归找到子文件夹，放入children中
      this.findChildren(tree, allList)
      this.folderTree = tree
    },

    // 构建文件夹列表树结构的递归函数
    findChildren(parent, allList) {
      for (let parentItem of parent) {
        let children = allList.filter(item => item.parentId === parentItem.id);
        children = children.map(item=>{
          return {
            ...item, 
            nodeLevel: parentItem.nodeLevel ? parentItem.nodeLevel+1 : 1
          }
        })
        parentItem.children = children;
        if (children.length) {
          this.findChildren(children, allList)
        }
      }
    },

    // 选择父级文件夹
    onSelect(node) {
      this.parent = node
      this.groupId = node.id;
    },

    // render函数
    renderTip(h, { root, node, data }){
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },

    nameValidator(rule, value, callback) {
      if (!this.name) {
        callback(new Error('请输入文件夹名称'))
      } else {
        callback()
      }
    },

    // 父级下拉框验证
    parentValidator(rule, value, callback) {
      if (!this.parent) {
        callback(new Error('请选择父级'))
      } else if(this.parent.nodeLevel >= 3){
        callback(new Error('最多只能创建3层文件夹！'))
      } else {
        callback()
      }
    },

    // 打开模态框
    openModal() {
      this.visible = true
    },

    onCancel() {
      this.resetForm()
      this.visible = false
    },

    async onOk() {
      const valid = await this.$refs.form.validate()
      if (!valid) return
      this.loading = true;
      const params = {
        name: this.name,
        parentId: this.parent.id,
      }
      const res = await addStoryBoardGroup(params)
      if (res.data.state === 'success') {
        this.$bus.$emit('refresh-story-list')
        this.resetForm()
        this.visible = false
        this.$Message.success('新增成功！')
      } else {
        this.$Message.warning('新增失败！')
      }
      this.loading = false;
    },

    resetForm() {
      this.name = ''
      this.parent = ''
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-tree-title{
  .tree-title-span{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
</style>
