<template>
  <Modal class="folder-move-modal" v-model="visible" width="350" @on-cancel="onCancel">
    <span slot="header">编辑分组</span>
    <div class="modal-body">
      <div class="search-folder">
        <span>分组名称：</span>
        <Input v-model.trim="groupObj.name" :maxlength="30" placeholder="请输入分组名称" style="width: 200px" />
      </div>
    </div>
    <div slot="footer">
      <Button @click="onCancel">取消</Button>
      <Button @click="onConfirm" type="primary">确定</Button>
    </div>
  </Modal>
</template>

<script>
import { updateStoryBoardGroup } from '@/api/storyBoard'

export default {
  name: 'EditGroup',
  data() {
    return {
      visible: false,
      groupObj: {}
    }
  },
  computed: {
    
  },
  watch: {
    // 监听文件夹列表，构建文件夹树
    visible(newVal) {
      if (newVal) {
        
      }
    },
  },
  methods: {
    // 打开模态框
    openModal(groupInfo) {
      console.log(groupInfo)
      this.groupObj = groupInfo
      this.visible = true
    },

    // 关闭模态框
    onCancel() {
      this.visible = false
      this.groupObj = {}
    },

    // 确定修改名称
    async onConfirm() {
      if (!this.groupObj.name) return this.$Message.warning('请输入分组名！')
      const params = {
        name: this.groupObj.name,
        parentId: this.groupObj.parentId,
        id: this.groupObj.id
      }
      const res = await updateStoryBoardGroup(params)
      if (res.data.state === 'success') {
        this.$bus.$emit('refresh-story-list')
        this.visible = false
        this.$Message.success('编辑成功！')
      } else {
        this.$Message.error('编辑失败！')
      }
    },
  },
}
</script>

<style scoped lang="less">
.modal-body {
  height: 60px;
}
/deep/.ivu-modal .ivu-modal-body{
  padding-top: 30px;
}
</style>
