<template>
  <div class="storyList-container">
    <div class="header">
      <div class="filterSearch">
        <div class="searchBox">
          <span>名称：</span>
          <Input v-model.trim="storyName" maxlength="30" clearable placeholder="请输入故事看板名称" style="width: 172px" />
        </div>
        <Button class="searchBtn" @click="searchData">查询</Button>
      </div>
      <div class="btn-all">
        <div class="btn-newFolder" @click="createFolder">
          <img class="addIcon" src="@/assets/icons/dataSetList/add_folder.svg" />
          <span>新建文件夹</span>
        </div>
        <div class="btn-new" @click="createStoryBoard">
          <img class="addIcon" src="@/assets/icons/indicatorWorkbench/addIcon.svg" alt="" />
          <span>新增故事</span>
        </div>
      </div>
    </div>

    <div class="body" ref="tableContainer">
      <Spin fix v-if="tableLoading">
      <Icon type="ios-loading" size=28 class="table-spin-icon-load"></Icon>
      <div>Loading</div>
    </Spin>
    <section v-else>
      <template v-if="storyTree.length">
        <Table :loading="tabelLoading"
          class="table"
          :columns="tableColumns"
          row-key="name"
          :data="storyTree"
          :border="false"
          :height="tableHeight"
          @on-select="onSelect"
          @on-select-cancel="onSelectCancel"
        >
          <template slot-scope="{ row }" slot="storyName">
            <span :title="row.name" class="name"
              @click="onClickName"
              @mouseover="onMouseoverName"
            >{{ formatName(row.name, 11) }}</span>
          </template>
          <template slot-scope="{ row }" slot="operation">
            <div class="actionLeft" v-if="row.type === 'item'">
              <div class="actionItem" @click="view(row)">
                <img src="@/assets/icons/earlyWarningTarget/view.svg" alt="" />
                <span>查看</span>
              </div>
              <div class="actionItem" v-if="row.creatorId === $store.state.user.userId" @click="edit(row)">
                <img src="@/assets/icons/earlyWarningTarget/edit.svg" alt="" />
                <span>编辑</span>
              </div>
              <div class="actionItem" @click="share(row)">
                <img src="@/assets/icons/indicatorWorkbench/share-blue.svg" alt="" />
                <span>分享</span>
              </div>
              <div class="actionItem" @click="moveItem(row)">
                <img src="@/assets/icons/earlyWarningTarget/move.svg" alt="" />
                <span>移动</span>
              </div>
              <div class="actionItem" v-if="row.creatorId === $store.state.user.userId" @click="remove(row)">
                <img src="@/assets/icons/earlyWarningTarget/delete.svg" alt="" />
                <span>删除</span>
              </div>
            </div>
            <div class="actionLeft" v-if="row.type === 'group'">
              <div class="actionItem" v-if="row.id !== -1" @click="editFolder(row)">
                <img src="@/assets/icons/earlyWarningTarget/edit.svg" alt="" />
                <span>编辑</span>
              </div>
              <div class="actionItem" v-if="row.id !== -1" @click="moveItem(row)">
                <img src="@/assets/icons/earlyWarningTarget/move.svg" alt="" />
                <span>移动</span>
              </div>
              <div class="actionItem" v-if="row.id !== -1" @click="removeFolder(row)">
                <img src="@/assets/icons/earlyWarningTarget/delete.svg" alt="" />
                <span>删除</span>
              </div>
            </div>
          </template>
        </Table>
      </template>
      <NoData v-else :width="1180" :height="575" :img-src="noDataImg" />
    </section>
    
    </div>

    <!-- 分享弹窗 -->
    <ShareModal v-model="showShare" :share-content="shareStoryUrl" :message-text="messageText" share-from="故事" />
    <!-- 新建文件夹弹窗 -->
    <AddFolderModal ref="addFolderModal" />
    <!-- 移动文件夹弹窗 -->
    <MoveModal ref="moveModal" />
    <!-- 编辑文件夹弹窗 -->
    <EditGroup ref="EditGroupModal" />
  </div>
</template>

<script>
import { extraTextDot } from "@/utils/formatString";
import { deleteStoryBoard, deleteStoryBoardGroup, getStoryBoardGroupWithStoryBoard } from "@/api/storyBoard";
import ShareModal from "@/components/ShareModal";
import NoData from "@/components/NoData";
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import AddFolderModal from './AddFolderModal.vue'
import MoveModal from './MoveModal.vue'
import EditGroup from './EditGroup.vue'
import { deepCopy } from '@/utils/common'
import { mapActions } from 'vuex'
import moment from 'moment/moment'

export default {
  components: {
    ShareModal,
    NoData,
    AddFolderModal,
    MoveModal,
    EditGroup
  },
  data() {
    return {
      noDataImg,
      tableHeight: 0, // 表格高度
      tabelLoading: false,
      storyName: "", // 故事名称
      tableColumns: [
        { type: 'selection', width: 60, align: 'center'},
        {
          title: '名称',
          slot: 'storyName',
          width: 250,
          tree: true,
          renderHeader: (h, { column, index }) => h('div', [
            h('span', column.title),
            h('span', {
              class: 'bulk-move-btn',
              on: {
                click: this.bulkMove,
              },
            }, '批量移动'),
          ]),
        },
        { title: "包含指标数", key: "indicatorCount" },
        { title: "创建人", key: "creator" },
        { title: "创建时间",
          key: "createTime",
          render: (h, params) => {
            return h('div', {}, this.getTimeStr(params.row.createTime))
          }
        },
        { title: "操作", slot: "operation", align: "center", width: 360 }
      ],
      showShare: false,
      shareStoryUrl: "",
      messageText: "",
      storyTree: [],
      tableLoading:true //tableList组件loading状态
    };
  },
  computed: {
    formatName() {
      return (text, num) => extraTextDot(text, num);
    }
  },
  async created() {
    this.allStoryList = []
    this.queryGroupList();
  },
  mounted() {
    this.getTableHeight();
    window.onresize = this.getTableHeight;
    this.$bus.$on('refresh-story-list', this.queryGroupList)
  },
  beforeDestroy() {
    window.onresize = null;
    this.$bus.$off('refresh-story-list', this.queryGroupList)
  },
  methods: {
    ...mapActions('story', [
      'setFolderList',
      'setStoryList',
    ]),

    // 时间格式化
    getTimeStr(time) {
      return moment(time).format('YYYY-MM-DD HH:mm:ss')
    },
    // 获取故事列表
    async queryGroupList(query = {}) {
      this.tableLoading=true
      const res = await getStoryBoardGroupWithStoryBoard();
      if (res.data.state !== 'success') return this.$Message.error('获取故事列表失败！')
      let { groupList, storyBoardList } = res.data.data
      groupList = groupList.map(item => ({
        ...item,
        type: 'group', // 文件夹
      }))
      storyBoardList = storyBoardList.map(item => ({
        ...item,
        parentId: item.groupId,
        type: 'item', // 故事
      }))
      // 保存到store
      this.setFolderList(groupList)
      this.setStoryList(storyBoardList)
      // 深拷贝一份数据出来，用于移动文件夹功能查找文件夹和数据集
      let groupListBak = deepCopy(groupList)
      let storyBoardListBak = deepCopy(storyBoardList)
      this.allStoryList = [...groupListBak, ...storyBoardListBak]
      this.allStoryList = this.filterDatasetList(query, this.allStoryList)
      this.buildDatasetTree()
    },
    // 根据查询条件，筛选复合条件的列表
    filterDatasetList(query, allList) {
      let filterList = allList
      const { name } = query
      // 过滤
      if (name) {
        filterList = filterList.filter(item => item.name.indexOf(name) > -1)
      }
      // 找到筛选出的列表所属的全部父级
      let parentList = this.findParent(filterList, allList)
      filterList = _.uniq([...filterList, ...parentList])
      return filterList
    },

    // 查找父级
    findParent(list, allList) {
      let result = []
      for (let listItem of list) {
        let parent = allList.filter(allListItem => listItem.parentId === allListItem.id)
        if (parent.length) {
          result.push(...parent)
          result.push(...this.findParent(parent, allList))
        }
      }
      return result
    },

    // 构建列表树结构
    buildDatasetTree() {
      // 默认都不选中
      this.allStoryList.forEach(item => item._checked = false)
      // 找到根节点
      let tree = this.allStoryList.filter(item => item.parentId === -1)
      // 递归找到子文件夹，放入children中
      this.findChildren(tree, this.allStoryList)
      this.storyTree = tree
      this.tableLoading=false
    },

    // 构建列表树结构的递归函数
    findChildren(parent, allList) {
      for (let parentItem of parent) {
        const children = allList.filter(item => item.parentId === parentItem.id)
        parentItem.children = children
        if (children.length) {
          parentItem._showChildren = true
          this.findChildren(children, allList)
        }
      }
    },

    // 表格选中事件
    onSelect(selection, row) {
      let currentRow = this.allStoryList.find(item => item.id === row.id)
      currentRow._checked = true
      // 选择文件夹时，需要将该文件夹下的子目录及子文件选中
      if (row.type === 'group') this.selectChildren(currentRow, true)
    },
    // 表格取消选中事件
    onSelectCancel(selection, row) {
      let currentRow = this.allStoryList.find(item => item.id === row.id)
      currentRow._checked = false
      // 选择文件夹时，需要将该文件夹下的子目录及子文件取消选中
      if (row.type === 'group') this.selectChildren(currentRow, false)
      // 将父级的文件夹取消选中
      this.unselectParent(currentRow)
    },
    // 表格选中事件的递归函数
    selectChildren(parent, checked) {
      for (let childrenItem of parent.children) {
        childrenItem._checked = checked
        if (childrenItem.children) this.selectChildren(childrenItem, checked)
      }
    },
    // 表格取消选中父级文件夹的递归函数
    unselectParent(currentRow) {
      let parent = this.allStoryList.find(item => item.id === currentRow.parentId)
      if (parent) {
        parent._checked = false
        this.unselectParent(parent)
      }
    },
    // 批量移动
    bulkMove() {
      // 从树中递归出已经勾选的资源
      let sourceList = this.findCheckedSourceList(this.storyTree)
      if (!sourceList.length) return this.$Message.warning('请选择需要移动的故事或者目录！')
      this.$refs.moveModal.openModal(sourceList)
    },
    // 查找已勾选资源的递归函数
    findCheckedSourceList(tree) {
      let sourceList = []
      for (let treeItem of tree) {
        // 如果已勾选，无需再向下查找
        if (treeItem._checked) {
          // 移动至功能只用到id和type
          const { id, type } = treeItem
          sourceList.push({ id, type })
          continue
        }
        if (treeItem.children) {
          let childrenSourceList = this.findCheckedSourceList(treeItem.children)
          if (childrenSourceList.length) sourceList.push(...childrenSourceList)
        }
      }
      return sourceList
    },
    /**
     * 窗口大小改变时，重新计算表格高度
     */
    getTableHeight() {
      this.tableHeight = this.$refs.tableContainer.clientHeight - 50;
    },
    // 点击名称，展开收起
    onClickName(e) {
      const td = e.target.closest('td')
      const icon = td.querySelector('.ivu-table-cell-tree')
      icon.click()
    },

    // 鼠标悬浮名称，如果是目录，显示小手
    onMouseoverName(e) {
      const td = e.target.closest('td')
      const icon = td.querySelector('.ivu-table-cell-tree')
      if (!icon.classList.contains('ivu-table-cell-tree-empty')) {
        td.style.cursor = 'pointer'
      } else {
        td.style.cursor = 'initial'
      }
    },
    /**
     * 查询
     */
    async searchData() {
      const params = {
        name: this.storyName
      }
      this.queryGroupList(params)
    },
    /**
     * 跳转新建故事看板页
     */
    createStoryBoard() {
      this.$router.push("/indicatorWorkbench/storyBoardAdd");
    },
    /**
     * 新建文件夹
     */
     createFolder(){
      this.$refs.addFolderModal.openModal()
     },
     /**
      * 移动
      */
    moveItem(row){
      // 移动至功能只用到id和type
      const { id, type } = row
      this.$refs.moveModal.openModal([{ id, type }])
    },
     /**
      * 编辑文件夹
      */
    editFolder(row){
      const { id, name, parentId } = row
      this.$refs.EditGroupModal.openModal({id, name, parentId})
    },
     /**
      * 删除文件夹
      */
    removeFolder(row){
      if (row.children.length) {
        this.$Message.warning('不能删除非空的文件夹！')
        return
      }
      this.$Modal.confirm({
        title: `确认删除吗？`,
        content: '删除后不可撤销，请谨慎操作！',
        okText: '确认',
        onOk: async () => {
          const res = await deleteStoryBoardGroup(row.id);
          if (res.data.state === "success") {
            this.$Message.success('删除文件夹成功！')
            this.queryGroupList();
          } else {
            this.$Message.error('删除文件夹失败！')
          }
        }
      });
    },
    /**
     * 查看故事
     */
    view({ id }) {
      this.$router.push({
        path: "/indicatorWorkbench/storyBoard",
        query: {
          id
        }
      });
    },
    /**
     * 编辑故事
     * @param {String} id 故事id
     */
    edit({ id }) {
      this.$router.push({
        path: "/indicatorWorkbench/storyBoardAdd",
        query: {
          id
        }
      });
    },
    /**
     * 分享故事看板
     * @param {String} name 故事名称
     */
    share({ id, name }) {
      const href = `${window.location.origin}${window.location.pathname}`;
      this.shareStoryUrl = `${href}#/indicatorWorkbench/storyBoard?id=${id}`;
      this.messageText = name;
      this.showShare = true;
    },
    /**
     * 删除故事
     * @param {String} id 故事id
     */
    remove({ id }) {
      this.$Modal.confirm({
        title: "删除故事后无法找回，确认删除吗？",
        onOk: async () => {
          const res = await deleteStoryBoard(id);
          if (res.data.state === "success") {
            this.$Message.success("删除故事成功！")
            const params = {
              name: this.storyName
            }
            this.queryGroupList(params)
          }
        }
      });
    }
  }
};
</script>

<style lang="less" scoped>

/deep/ .ivu-table-cell-tree {
  display: inline-flex;
  vertical-align: text-bottom;
  border: 0;
  user-select: none;

  .ivu-icon.ivu-icon-ios-remove {
    content: url("~@/assets/icons/dataSetList/icon_collapse_folder.svg");
  }

  .ivu-icon.ivu-icon-ios-add {
    content: url("~@/assets/icons/dataSetList/icon_expand_folder.svg");
  }
}
.storyList-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
  padding: 14px 16px;

  .header {
    display: flex;
    justify-content: space-between;

    .filterSearch {
      display: flex;
      align-items: center;

      .searchBox {
        display: flex;
        align-items: center;
        margin-right: 24px;
      }

      .searchBtn {
        background: #3f73ff;
        border-radius: 2px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
        width: 72px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .btn-all{
      display: flex;
      .btn-newFolder{
        padding: 0 15px;
        height: 32px;
        border: 1px solid #3f73ff;
        background: #fff;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: 16px;

        .addIcon {
          margin-right: 8px;
        }

        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #3f73ff;
        }
      }
      .btn-new {
        padding: 0 15px;
        height: 32px;
        background: #3f73ff;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .addIcon {
          margin-right: 8px;
        }

        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #ffffff;
        }
      }
    }


  }

  .body {
    width: 100%;
    height: calc(~"100% - 48px");
    margin-top: 16px;
    position: relative;
    /deep/ .table {
      height: inherit;

      .ivu-table-body {
        height: calc(~'100% - 40px');
        overflow: auto;
        overflow-x: hidden;
      }

      .ivu-table-cell {
        display: flex;
        .name {
          margin-left: 6px;
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .actionLeft {
    display: flex;
    align-items: center;

    .actionItem {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 19px;
      }
      &:last-child {
        margin-right: 7px;
      }
      img {
        margin-right: 5px;
      }
      span {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #3f73ff;
        letter-spacing: 0;
      }
    }
  }
}
/deep/ .bulk-move-btn {
  margin-left: 8px;
  color: #3F73FF;
  cursor: pointer;
  user-select: none;
}
</style>
