<template>
  <Modal class="folder-move-modal" v-model="visible" :height="457" @on-cancel="onCancel">
    <span slot="header">移动至</span>
    <div class="modal-body">
      <div class="search-folder">
        <Input v-model="keywords" @on-change="onSearch" search placeholder="请输入文件夹名称" />
      </div>
      <div class="tree-body">
        <Tree class="folder-tree" :data="folderTreeAll" @on-select-change="onSelectChange" />
      </div>
    </div>
    <div slot="footer">
      <Button @click="onCancel">取消</Button>
      <Button @click="onConfirm" type="primary">确定</Button>
    </div>
  </Modal>
</template>

<script>
import { moveStoryBoardGroup } from '@/api/storyBoard'
import { mapState } from 'vuex'
import { deepCopy, filterTree } from '@/utils/common'

export default {
  name: 'Move',
  data() {
    return {
      visible: false,
      keywords: '',
      folderTree: [], // 文件夹列表树
      folderTreeAll: [],
      initTreeAll: [],
      target: null, // 目标文件夹id
      moveLevel: 0,
    }
  },
  computed: {
    ...mapState('story', ['folderList']),
  },
  watch: {
    // 监听文件夹列表，构建文件夹树
    visible(newVal) {
      if (newVal) {
        let folderList = deepCopy(this.folderList)
        folderList = folderList.map(item => ({
          ...item,
          title: item.name,
          expand: true,
        }))
        this.buildFolderTree(folderList)
        let rootNode = {
          id: -1,
          name: "root",
          title: '/',
          parentId: null,
          type: "group",
          expand: true,
          nodeLevel: 0,
          children: this.folderTree
        }
        this.folderTreeAll = [rootNode];
        this.initTreeAll = deepCopy(this.folderTreeAll);
        this.findSourceArr(this.initTreeAll);
        
      }
    },
  },
  created() {
    this.sourceList = [] // 需要移动的资源
    this.folderTreeBak = [] // 备份文件夹树，用于搜索
  },
  methods: {
    // 构建文件夹列表树结构
    buildFolderTree(allList) {
      // 找到根节点
      let tree = allList.filter(item => item.parentId === -1)
      tree = tree.map(item=>{return {...item, nodeLevel: 1}})
      // 递归找到子文件夹，放入children中
      this.findChildren(tree, allList)
      this.folderTree = tree
      this.folderTreeBak = deepCopy(tree)
    },

    // 构建文件夹列表树结构的递归函数
    findChildren(parent, allList) {
      for (let parentItem of parent) {
        let children = allList.filter(item => item.parentId === parentItem.id)
        children = children.map(item=>{
          return {
            ...item, 
            nodeLevel: parentItem.nodeLevel || parentItem.nodeLevel===0 ? parentItem.nodeLevel+1 : 1
          }
        })
        parentItem.children = children
        if (children.length) {
          this.findChildren(children, allList)
        }
      }
    },

    // 打开模态框
    openModal(sourceList) {
      this.sourceList = sourceList
      this.visible = true
    },

    // 关闭模态框
    onCancel() {
      this.visible = false
      this.keywords = ''
      this.target = null
      this.sourceList = []
    },

    // 根据关键字搜索文件夹树
    onSearch() {
      this.folderTree = filterTree(this.folderTreeBak, this.keywords)
      let rootNode = {
          id: -1,
          name: "root",
          title: 'root',
          parentId: null,
          type: "group",
          expand: true,
          nodeLevel: 0,
          children: this.folderTree
      }
      this.folderTreeAll = [rootNode]
    },

    calculationLevel(arr){
      let maxLevel = 0;
      (function callBack(arr, level) {
        ++level;
        maxLevel = Math.max(level, maxLevel);
        for (let i = 0; i < arr.length; i++) {
          let item = arr[i];
          if (item.children && item.children.length > 0) {
            callBack(item.children, level);
          } else {
            delete item.children;
          }
        }
      })(arr, 0);
      return maxLevel;
    },

    findSourceArr(arr){
      let id = this.sourceList[0].id;
      let sameItem = {};
      arr.forEach(ele=>{
        if(ele.id === id){
          sameItem = ele;
          this.moveLevel = this.calculationLevel([sameItem])
        } else{
          this.findSourceArr(ele.children);
        }
      })
    },

    // 选择目录
    onSelectChange(nodes, node) {
      if(node.nodeLevel + this.moveLevel > 3){
        this.target = null
        return this.$Message.warning('移动后层级不能超过3级！')
      }
      // 如果已选列表为空，表示取消选中
      if (nodes.length) {
        this.target = node.id
      } else {
        this.target = null
      }
    },

    // 确定移动
    async onConfirm() {
      if (!this.target) return this.$Message.warning('请选择目标文件夹！')
      const params = {
        parentId: this.target,
        source: this.sourceList.map(item => ({
          type: item.type === 'group' ? 2 : 1,
          sourceId: item.id,
        })),
      }
      const res = await moveStoryBoardGroup(params)
      if (res.data.state === 'success') {
        this.$bus.$emit('refresh-story-list')
        this.visible = false
        this.$Message.success('移动成功！')
      } else {
        this.$Message.error('移动失败！')
      }
    },
  },
}
</script>

<style scoped lang="less">
.modal-body {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;

  .folder-tree {
    width: 185px;
  }
}
</style>
