<template>
  <div class="dimension-container">
    <div class="dimension-left">
      <div class="dimension-title">维度详情</div>
      <Input
        class="dimension-searchinput"
        search
        clearable
        placeholder="请输入维度名/维度组名/标签名"
        @on-change="onSearchDimension"
      />
      <Tree
        class="dimension-tree"
        ref="dimensionTree"
        :data="treeData"
        :render="renderContent"
        @on-select-change="onSelectTreeChange"
      />
    </div>
    <div class="dimension-right">
      <div class="nameBtnBox">
        <div v-show="currentTab === 'basicInfo' && (pageType === 'edit' || pageType === 'create')">
          <Button
            type="default"
            class="resetBtn"
            @click="returnManage"
          >返回
          </Button>
          <Button
            type="default"
            class="resetBtn"
            @click="resetBtnHandle"
          >重置
          </Button>
          <Button
            v-if="saveButtonShow"
            type="primary"
            class="saveBtn"
            @click="submitDimensionData($event)"
          >保存
          </Button>
        </div>
        <div v-show="currentTab === 'basicInfo' && pageType === 'view'">
          <Button
            type="default"
            class="resetBtn"
            @click="returnManage"
          >返回
          </Button>
          <Button
            type="primary"
            class="saveBtn"
            v-if="isEditAuth(currentNode)"
            @click="editPage"
          >编辑
          </Button>
        </div>
      </div>

      <!--基本信息、血缘关系-->
      <Tabs v-model="currentTab" @on-click="onTabPaneClick">
        <TabPane label="基本信息" name="basicInfo">
          <div class="basic-all">
            <div class="row">
              <div class="name" v-show="pageType === 'edit' || pageType === 'create'">
                <Input
                  v-if="nameEditable"
                  :value="formItem.name"
                  placeholder="请输入维度名称"
                  maxlength="30"
                  @on-change="onDimensionNameChange"
                  @on-blur="nameEditable = false" />
                <template v-else>
                  <span class="text" :title="formItem.name">{{ formItem.name || '请输入维度名称' }}</span>
                  <img
                    src="@/assets/icons/indicatorIcon/icon_edit.svg"
                    alt="编辑"
                    class="icon-edit"
                    @click="nameEditable = true" />
                </template>
              </div>
              <div class="name" v-show="pageType === 'view'" :class="{'view-name': pageType === 'view'}">
                {{cloneFormItem.name}}
              </div>
              <div class="code" v-show="pageType === 'edit' || pageType === 'create'">
                <Input
                  v-if="codeEditable"
                  :value="formItem.assetsCode"
                  placeholder="请输入维度编码"
                  maxlength="50"
                  @on-change="onDimensionCodeChange"
                  @on-blur="codeEditable = false" />
                <template v-else>
                  维度编码：<span>{{ formItem.assetsCode || '请输入维度编码' }}</span>
                  <img
                    src="@/assets/icons/indicatorIcon/icon_edit.svg"
                    alt="编辑"
                    class="icon-edit"
                    @click="codeEditable = true" />
                </template>
              </div>
              <div class="code" v-show="pageType === 'view'" :class="{'view-code': pageType === 'view'}">
                维度编码：
                <span>{{cloneFormItem.assetsCode}}</span>
              </div>
              <!-- <div class="version">
                版本号：
                <Select :value="formItem.version" style="width: 100px"
                  @on-change="onDimensionVersionChange">
                  <Option v-for="version in optionalIndicatorVersions" :value="version" :key="version">{{ version }}</Option>
                </Select>
              </div> -->
            </div>
            <div class="business-description" :class="{ viewRich: pageType === 'view' }">
              <div class="business-description-header" v-show="pageType === 'edit' || pageType === 'create'">
                业务描述
                <!-- <Checkbox :value="syncDashboard" @on-change="onSyncDashboardChange">同步看板</Checkbox> -->
              </div>
              <div class="business-description-header" v-show="pageType === 'view'">
                <div class="view-desc">
                  业务描述
                  <img
                    :src="businessDescriptionArrowHover ? arrowDownActive : arrowDown"
                    alt="箭头"
                    :class="['icon-arrow', { expand: showBusinessDescription }]"
                    @mouseenter="businessDescriptionArrowHover = true"
                    @mouseleave="businessDescriptionArrowHover = false"
                    @click="showBusinessDescription = !showBusinessDescription" />
                </div>
                <!-- <span>
                  {{ syncDashboard ? '已同步看板' : '未同步看板' }}
                </span> -->
              </div>
              <div class="business-description-body" v-show="pageType === 'edit' || pageType === 'create'">
                <RichTextEditor />
              </div>
              <transition name="slide-fade" mode="out-in">
                <div class="business-description-body-view" v-if="showBusinessDescription && pageType === 'view'" v-html="businessDesc"></div>
              </transition>
            </div>
            <div class="asset-information">
              <Headline title="资产信息" />
              <div class="asset-information-body">
                <div class="field">
                  <span>资产分组：</span>
                  <FaTreeSelect
                    :selected="formItem.groupId"
                    :treeData="groupTreeList"
                    @changeVal="onAssetGroupChange"
                    :refresh="true"
                    :render="renderTip"
                    class="custom-tree"
                    :class="{'view-tree': pageType === 'view'}"
                  />
                </div>
                <div class="field">
                  <span>指标标签：</span>
                  <AssetsLabel
                    :class="{'view-label': pageType === 'view'}"
                    :data="formItem.labels"
                    @select="onAssetsLabelSelect" />
                </div>
              </div>
            </div>
            <div class="related-dimensions" v-if="pageType === 'view' || pageType === 'edit'">
              <Headline title="相关指标">
                <template #right>
                  <div class="legend">
                    <div class="legend-item used">已关联</div>
                    <div class="legend-item available">可关联</div>
                  </div>
                </template>
              </Headline>
              <div class="related-dimensions-body">
                <div style="margin-top: 19px;max-height: 110px;overflow: auto;">
                  <div v-for="item in hasBeenAssociatedIndicators" :key="item.id" class="blood-relation-dimension"
                      style="border: 1px solid rgba(68,215,182,1);">
                    {{item.name}}
                  </div>
                  <div v-for="item in canBeAssociatedIndicators" :key="item.id" class="blood-relation-dimension"
                      style="border: 1px solid rgba(63,115,255,1); ">
                    {{item.name}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </TabPane>
        <TabPane label="血缘关系" name="bloodRelationship">
          <div class="blood-relation-container" style="height: calc(100% - 150px);">
            <div class="blood-relation-label">
              <span class="blood-relation-part-title">关系图</span>
              <div style="display: flex">
                <div class="blood-relation-legend">
                  <div class="blood-relation-legend-color" style="background-color: #E8BA05;"></div>
                  <span>报告</span>
                </div>
                <div class="blood-relation-legend">
                  <div class="blood-relation-legend-color" style="background-color: #44D7B6;"></div>
                  <span>指标/维度</span>
                </div>
                <div class="blood-relation-legend">
                  <div class="blood-relation-legend-color" style="background-color: #B684FF;"></div>
                  <span>业务模型</span>
                </div>
                <div class="blood-relation-legend">
                  <div class="blood-relation-legend-color" style="background-color: #3F73FF;"></div>
                  <span>数据集</span>
                </div>
              </div>
            </div>
            <div class="blood-relation" style="height: 95%;width: 100%;" slot="content">
              <SeeksRelationGraph
                ref="seeksRelationGraph"
                :options="graphOptions"
                :on-node-click="onNodeClick"
              />
            </div>
          </div>
        </TabPane>
      </Tabs>

      <!--  确认删除弹框  -->
      <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList" />
    </div>
  </div>
</template>

<script>
  import Headline from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/Headline.vue'
  import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
  import TreeSelect from '@/components/tree-select'
  import SeeksRelationGraph from '@/components/relation-graph/index.vue'
  import AssetsLabel from '@/view/report/components/AssetsLabel'
  import DeleteAssetModal from '@/view/components/DeleteAssetModal/index.vue'
  import {
    addDimension,
    deleteDimensionById,
    getDimensionTreeData,
    queryDimensionBlood,
    queryIndicatorRelationByDimensionId,
    findDimensionById,
    updateDimension,
    checkAssetsCode
  } from '@/api/dimension'
  import { deepCopy, filterTree } from '@/utils/common'
  import { queryDimensionAndIndicatorByLabel } from '@/api/label'
  import assetsLabelMixin from '../mixin/assetsLabelMixin'
  import treeMixin from '../mixin/treeMixin'
  import { BLOOD_GRAPH_OPTIONS } from '@/view/report/constant'
  import deleteAsset from '@/mixins/deleteAsset'
  import { TYPE_DIMENSION } from '@/view/components/DeleteAssetModal/constant'
  import RichTextEditor from './components/RichTextEditor.vue'
  import arrowDown from '@/assets/icons/indicatorIcon/arrow_down.png'
  import arrowDownActive from '@/assets/icons/indicatorIcon/arrow_down_active.png'
  import { mapActions, mapState, mapGetters } from 'vuex'
  import { getToken } from '@/libs/util'
  import dataAuth from "@/mixins/dataAuth";

  // 新建、编辑时保存按钮的id
  const BUTTON_ID = {
    CREATE: [1116964848141317],
    EDIT: [1116964848141318],
  }

  export default {
    mixins: [assetsLabelMixin, treeMixin, deleteAsset, dataAuth],
    components: {
      TreeSelect,
      SeeksRelationGraph,
      AssetsLabel,
      DeleteAssetModal,
      RichTextEditor,
      Headline,
      FaTreeSelect,
    },
    data() {
      return {
        currentTab: 'basicInfo',
        saveButtonValue: [], // 保存按钮的id，用于权限判断
        treeData: [], // 维度组树（包含分组和维度）
        originTreeData: [],
        currentNode: {},
        collapseValue: ['1'],
        groupTreeData: [], // 维度组树（只包含分组）
        formItem: {
          name: '',
          assetsCode: '',
          // version: '',
          groupId: [],
          // businessDescription: '',
          labels: [],
        },
        cloneFormItem: deepCopy(this.formItem), // 重置时使用
        isBloodPanelOpen: false,
        graphOptions: BLOOD_GRAPH_OPTIONS,
        hasBeenAssociatedIndicators: [], // 可关联指标
        canBeAssociatedIndicators: [], // 可关联指标
        dimensionBloods: {},
        bloodDimension: null,
        nameEditable: false,
        codeEditable: false,
        // optionalIndicatorVersions: [], // 可选的指标版本列表
        // syncDashboard: false,
        groupTreeList: [],
        relatedIndicators: [],
        pageType: 'view',
        businessDescriptionArrowHover: false,
        showBusinessDescription: true,
        arrowDown,
        arrowDownActive,
        fromRoutePath: '' // 记录从哪个路由跳转过来（返回时使用）
      }
    },
    computed: {
      ...mapState('dimension', [
        'businessDesc',
      ]),
      defaultId(){
        return this.groupTreeList[0].id
      },
      saveButtonShow: function () {
        let show = false
        let allowArr = this.$store.state.user.btnAllowList.map(item => item.id)
        for (let i = 0; i < allowArr.length; i++) {
          if (this.saveButtonValue.includes(allowArr[i])) {
            show = true
            break
          } else {
            show = false
          }
        }
        return show
      },
    },
    created() {
      // 备份树的展开状态
      this.treeDataExpandStatusBak = []
      this.deepCopy = deepCopy
      this.currentNode.id = Number(this.$route.query.id)
    },
    async mounted() {
      this.pageType = this.$route.query.type;
      await this.getDimensionTreeData();
      if(this.$route.query.id){
        this.initRenderBlood();
      }

    },
    beforeRouteEnter(to, from, next) {
      next(vm => {
        vm.fromRoutePath = from.path
      })
    },
    methods: {
      resetBtnHandle(){
        if(this.pageType === 'create'){
          this.formItem = {
            name: '',
            groupId: [this.defaultId],
            // businessDescription: '',
            dimensionName: '新建维度',
            labels: [],
            assetsCode: ''
          }
          this.setBusinessDesc('')
          this.currentNode = {}
          this.cloneFormItem = deepCopy(this.formItem)
          this.updateGraph()
          this.availableIndicators = []
          this.collapseValue = ['1']
          this.saveButtonValue = BUTTON_ID.CREATE
        }else{
          this.formItem = deepCopy(this.cloneFormItem)
        }
      },
      /**
       * 返回
       * 1. 从维度管理页进入
       * 2. 从公共资源池进入
       */
      returnManage(){
        if(this.fromRoutePath === '/manager/dimension/dimension_manage') {
          // 详情页面获取存储的搜索数据
          let searchObj = sessionStorage.getItem('dimensionListSearch');
          // 转存到back session中去
          sessionStorage.setItem('dimensionListSearchBack', searchObj);
        }
        if(this.fromRoutePath === '/publicResourcePool') {
          let searchObj = sessionStorage.getItem('publicResourcePoolSearch');
          sessionStorage.setItem('publicResourcePoolSearchBack', searchObj);
        }
        this.$router.push(this.fromRoutePath)
      },
      editPage(){
        this.pageType = 'edit';
      },
      ...mapActions('dimension', [
        'setBusinessDesc',
      ]),
      onAssetsLabelSelect(selected) {
        let indicatorLabels = deepCopy(this.formItem.labels)
        const index = indicatorLabels.findIndex(item => item.id === selected.id)
        if (index > -1) {
          indicatorLabels.splice(index, 1)
        } else {
          indicatorLabels.push(selected)
        }
        this.formItem.labels = indicatorLabels;
      },
      onAssetGroupChange(value) {
        this.formItem.groupId = [value.id];
      },
      // render函数
      renderTip(h, { root, node, data }){
        return (
          <div class="tree-title-span" title={data.title}>{data.title}</div>
        );
      },
      /**
       * 获取维度树
       */
      async getDimensionTreeData() {
        const { data } = await getDimensionTreeData()
        if (data.state === 'success') {
          let groupData = data.data.dimensionGroupList
          let dimensionData = data.data.dimensionList
          let allData = groupData.concat(dimensionData)
          let root = [{
            id: -1,
            title: '维度组',
            expand: true,
            type: 'group',
            deep: 0,
          }]

          this.treeDataExpandStatusBak = deepCopy(this.treeData)
          this.treeData = this.generateTree(root, allData)
          this.updateTreeDataStatus(this.treeData, this.treeDataExpandStatusBak)
          this.groupTreeData = this.generateTree(root, groupData)
          let tree = this.generateTreeGroup(root, groupData)
          this.groupTreeList = tree[0].children
          this.formItem.groupId = [this.defaultId];
          if(this.pageType === 'view' || this.$route.query.type !== 'create'){
            this.selectDimensionByDefault(this.treeData, this.currentNode.id)
          }else{
            this.saveButtonValue = BUTTON_ID.CREATE
          }
          this.originTreeData = deepCopy(this.treeData)
        } else {
          this.$Message.error('获取维度树失败')
        }
      },
      /**
       * 默认选中的维度
       * @param tree
       * @param id
       * @returns {boolean}
       */
      async selectDimensionByDefault(tree, id = null) {
        id = id ? Number(id) : null
        for (let treeItem of tree) {
          let condition = id ? treeItem.type === 'value' && treeItem.id === id : treeItem.type === 'value'
          if (condition) {
            treeItem.selected = true
            this.currentNode = deepCopy(treeItem)
            await this.handleEditDimension(treeItem.id)
            this.cloneFormItem = deepCopy(this.formItem)
            this.saveButtonValue = BUTTON_ID.EDIT
            return true
          } else {
            if (treeItem.children?.length && await this.selectDimensionByDefault(treeItem.children, id)) {
              treeItem.expand = true
              return true
            }
          }
        }
        return false
      },
      /**
       * 递归-生成维度（分组）树
       * @param parent 父节点
       * @param all 全部数据
       * @param deep 层级，根节点为0
       */
      generateTreeGroup(parent, all, deep = 1) {
        return parent.map(parentItem => {
          let children = all.filter(
            allItem => allItem.parentId === parentItem.id,
          ).map(child => ({
            id: child.id,
            title: child.name,
            expand: false,
            deep: deep,
            selected: false,
          }))

          return {
            ...parentItem,
            children: children.length ? this.generateTreeGroup(children, all, ++deep) : [],
          }
        })
      },
      generateTree(parent, all, deep = 1) {
        return parent.map(parentItem => {
          let children = all.filter(allItem => {
            let parentId = allItem.parentId || allItem.groupId
            return parentId === parentItem.id
          }).map(child => ({
            id: child.id,
            title: child.name,
            deep: deep,
            type: child.parentId ? 'group' : 'value',
            expand: false,
            selected: false,
            disabled: !!child.parentId,
            creatorId: child.creatorId, // 创建人
            controlEdit: child.controlEdit // 是否有编辑权限
          }))

          return {
            ...parentItem,
            children: children.length ? this.generateTree(children, all, ++deep) : []
          }
        })
      },
      /**
       * 过滤
       * @param e
       */
      async onSearchDimension(e) {
        let value = e.target.value
        if (value) {
          const params = {
            name: value,
            type: 1,
          }
          const res = await queryDimensionAndIndicatorByLabel(params)
          if (res.data.state === 'success') {
            const labelDimensions = res.data.data.map(item => item.id)
            this.treeData = filterTree(this.originTreeData, value, labelDimensions)
          } else {
            this.$Message.error('根据标签搜索维度失败')
          }
        } else {
          this.treeData = this.originTreeData
        }
      },
      /**
       * 树渲染
       * @param h
       * @param root
       * @param node
       * @param data
       */
      renderContent(h, { root, node, data }) {
        const isShowDeleteBtn = data.type !== 'group' && this.isEditAuth(data)
        return h('div', {
          style: {
            width: '100%',
            display: 'flex',
            justifyContent: 'space-between',
            alignItems: 'center',
            marginLeft: data.children && data.children.length ? 0 : '-6px',
          }
        }, [
          h('i', {
            class: data.type === 'group' && !data.children.length
              ? 'catalogueTreeNode'
              : data.type === 'value'
                ? 'dimensionTreeNode'
                : '',
          }),
          h('div', {
            style: {
              flex: 1,
              overflow: 'hidden',
              whiteSpace: 'nowrap',
              textOverflow: 'ellipsis'
            },
            attrs: {
              title: data.title
            },
            on: {
              click: (e) => {
                // 如果点击的是目录，那么点击目录标题时，触发该目录图标的点击事件
                if (data.type === 'group') {
                  e.target.closest('li').querySelector('.ivu-tree-arrow').click()
                }
              }
            }
          }, data.title),
          h('div', [
            h(data.type === 'group' && data.id !== -1 ? 'img' : '', {
              class: 'treeAddBtn',
              directives: [
                {
                  name: 'allow',
                  value: BUTTON_ID.CREATE
                }
              ],
              on: {
                click: (e) => {
                  e.stopPropagation()
                  this.createDimension(data)
                }
              }
            }, '新增'),
            h(isShowDeleteBtn ? 'img' : '', {
              class: 'treeDeleteBtn',
              on: {
                click: (e) => {
                  e.stopPropagation()
                  this.deleteDimension(data)
                }
              },
              directives: [
                {
                  name: 'allow',
                  value: [1116964848141316]
                }
              ]
            }, '删除')
          ])
        ])
      },
      /**
       * 创建维度
       * @param current
       */
      createDimension(current) {
        this.formItem = {
          name: '',
          groupId: [current.id],
          // businessDescription: '',
          dimensionName: '新建维度',
          labels: [],
          assetsCode: ''
        }
        this.setBusinessDesc('')
        this.currentNode = {}
        this.cloneFormItem = deepCopy(this.formItem)
        this.updateGraph()
        this.availableIndicators = []
        this.collapseValue = ['1']
        this.saveButtonValue = BUTTON_ID.CREATE
        this.pageType = 'create';

      },
      /**
       * 选择某个维度
       * @param selectNodes
       * @param currentNode
       */
      async onSelectTreeChange(selectNodes, currentNode) {
        if (this.currentNode?.id === currentNode.id) {
          currentNode.selected = true
          return
        }
        if (currentNode.type === 'group') {
          currentNode.selected = false
          return
        }
        this.pageType = 'view'
        this.currentNode = deepCopy(currentNode)
        await this.handleEditDimension(this.currentNode.id)
        this.cloneFormItem = deepCopy(this.formItem)
        this.collapseValue = ['1']
        this.saveButtonValue = BUTTON_ID.EDIT
        this.updateGraph()
        this.renderBlood()
      },
      /**
       * 获取维度详情
       * @param id
       */
      async handleEditDimension(id) {
        const res = await findDimensionById(id)
        if (res.data.state === 'success') {
          let dimension = res.data.data
          this.formItem = {
            id: dimension.id,
            name: dimension.name,
            groupId: [dimension.groupId],
            // businessDescription: dimension.description,
            dimensionName: dimension.name,
            labels: dimension.labels,
            assetsCode: dimension.assetsCode,
          }
          const businessDesc = this.buildBusinessDescContent(dimension.description);
          this.setBusinessDesc(businessDesc)
        }
      },

      onTabPaneClick(name) {
        // 查询血缘关系, 避免重复加载
        if (name = 'bloodRelationship' && !this.isBloodPanelOpen) {
          this.isBloodPanelOpen = true
          this.renderBlood()
        }
      },
      initRenderBlood(){
        this.currentNode.id = this.$route.query.id;
        let currentBlood = this.dimensionBloods[this.currentNode.id]
        if (!currentBlood) {
          queryDimensionBlood(this.currentNode.id).then(res => {
            if (res.data.state === 'success') {
              currentBlood = res.data.data
              this.dimensionBloods[this.currentNode.id] = currentBlood
              this.renderGraph(currentBlood)
            }
          })
        } else {
          this.renderGraph(currentBlood)
        }
      },

      renderBlood() {
        if (this.bloodDimension) {
          this.updateGraph()
        } else {
          this.currentNode.id = this.formItem.id
          let currentBlood = this.dimensionBloods[this.currentNode.id]
          if (!currentBlood) {
            queryDimensionBlood(this.currentNode.id).then(res => {
              if (res.data.state === 'success') {
                currentBlood = res.data.data
                this.dimensionBloods[this.currentNode.id] = currentBlood
                this.renderGraph(currentBlood)
              }
            })
          } else {
            this.renderGraph(currentBlood)
          }
        }
      },

      /**
       * 更新血缘关系图
       */
      async updateGraph() {
        if (this.isBloodPanelOpen) {
          if (this.formItem.id) {
            this.currentNode.id = this.formItem.id
            const res = await queryDimensionBlood(this.currentNode.id)
            if (res.data.state === 'success') {
              this.renderGraph(res.data.data)
            } else {
              this.$Message.error('获取血缘关系图失败')
            }
          } else {
            let rootId = 'root' + new Date().getTime()
            let graphData = {
              rootId: rootId,
              nodes: [
                { id: rootId, text: '未命名维度', color: '#44D7B6', fontColor: '#ffffff' }
              ],
              links: []
            }
            this.$refs.seeksRelationGraph.setJsonData(graphData)
          }
        }
      },
      /**
       * 渲染血缘关系图
       * @param blood
       */
      renderGraph(blood) {
        let { dimension, reportList } = blood
        let nodes = [
          // 维度 根节点
          {
            id: dimension.id + '',
            text: dimension.name,
            color: '#44D7B6',
            fontColor: '#333',
            dataType: 5,
            bloodType: 2
          }
        ]
        let links = []
        // 报告
        let node = {}
        let line = {}
        const usedReportTo = []
        let useIndicators = {}
        reportList.forEach(reportItem => {
          const from = dimension.id + ''
          const to = reportItem.id + ''
          if (!usedReportTo.includes(to)) {
            usedReportTo.push(to)
            node = {
              id: to, text: reportItem.name, color: '#E8BA05',
              fontColor: '#333', dataType: 4
            }
            line = { from: from, to: to }
            links.push(line)
            nodes.push(node)
          }
          if (reportItem.indicatorList) {
            //报告下用到的指标
            reportItem.indicatorList.forEach(indicatorItem => {
              const id = reportItem.id + '_' + indicatorItem.id
              node = {
                id: id,
                text: indicatorItem.name,
                color: '#6DD400',
                fontColor: '#333',
                dataType: 1,
                bloodType: 2
              }
              line = { from: reportItem.id + '', to: id }
              if (!useIndicators[id]) {
                useIndicators[id] = 1
              }
              nodes.push(node)
              links.push(line)
            })
          }
        })
        queryIndicatorRelationByDimensionId(dimension.id).then(res => {
          if (res.data.state === 'success') {
            let availableIndicators = res.data.data
            let hasBeenAssociatedIndicators = []
            for (let k in useIndicators) {
              let index = availableIndicators.findIndex(item => item.id == k)
              if (index !== -1) {
                hasBeenAssociatedIndicators.push(availableIndicators[index])
                availableIndicators.splice(index, 1)
              }
            }
            this.canBeAssociatedIndicators = availableIndicators
            this.hasBeenAssociatedIndicators = hasBeenAssociatedIndicators

          } else {
            this.$Message.error('获取可关联指标失败')
          }
        })
        let graphData = {
          rootId: 'root' + new Date().getTime(),
          nodes,
          links
        }
        this.$refs.seeksRelationGraph.setJsonData(graphData)
      },

      onNodeClick() {},

      // 构建业务描述参数
      buildBusinessDescParam() {
        // 匹配所有的真实token，替换为${token}占位符
        const token = getToken()
        let businessDesc = this.businessDesc.replaceAll(token, '${token}')
        return businessDesc
      },

      // 构建业务描述字段显示内容
      buildBusinessDescContent(desc) {
        // 匹配所有的{token}占位符，替换为真实token
        const token = getToken()
        let businessDesc = desc.replace(/\${token}/ig, token)
        return businessDesc
      },

      /**
       * 右上角点击保存按钮
       * @param event
       */
      submitDimensionData(event) {
        // 维度名校验
        if (!this.formItem.name) {
          this.$Message.warning('请填写维度名')
          return
        }
        // 维度分组校验
        if (this.formItem.groupId.length === 0) {
          this.$Message.warning('请选择维度分组')
          return
        }
        if (this.formItem.id) {
          // 如果存在维度id，调编辑接口
          let params = {
            id: this.formItem.id,
            name: this.formItem.name,
            groupId: this.formItem.groupId[0],
            description: this.buildBusinessDescParam(),
            assetsCode: this.formItem.assetsCode,
            labels: this.formItem.labels.map(item => ({ id: item.id })),
          }
          updateDimension(params).then(res => {
            if (res.data.state === 'success') {
              this.$Message.success('编辑维度成功')
              this.resetDimension()
              this.getDimensionTreeData()
            } else if (res.data.state === 'error') {
              this.$Message.error(res.data.message)
            } else {
              this.$Message.error('编辑维度失败')
            }
          })
        } else {
          // 如果不存在维度id，调新增接口
          let params = {
            name: this.formItem.name,
            groupId: this.formItem.groupId[0],
            description: this.buildBusinessDescParam(),
            assetsCode: this.formItem.assetsCode,
            labels: this.formItem.labels.map(item => ({ id: item.id })),
          }
          addDimension(params).then(async res => {
            if (res.data.state === 'success') {
              this.$Message.success('创建维度成功')
              this.currentNode.id = res.data.data
              this.resetDimension()
              await this.getDimensionTreeData()
            } else if (res.data.state === 'error') {
              this.$Message.error(res.data.message)
            } else {
              this.$Message.error('创建维度失败')
            }
          })

        }
        this.pageType = 'view'
      },
      /**
       * 重置维度
       */
      resetDimension() {
        Object.assign(this.formItem, {
          name: '',
          groupId: [],
          // businessDescription: ''
        })
        this.setBusinessDesc('')
      },
      /**
       * 删除维度
       * @param data
       */
      deleteDimension(data) {
        let len = data.title.length, text = data.title
        if (len > 12) {
          text = text.slice(0, 12)
          text += '...'
        }
        this.$Modal.confirm({
          title: `确认删除“${text}”维度吗？`,
          content: '删除后不可撤销',
          okText: '确认',
          onOk: () => {
            this.confirmDelete(text, data)
          }
        })
      },
      /**
       * 确认删除
       * @param name 维度名称
       * @param data 维度对象
       */
      async confirmDelete(name, data) {
        const res = await deleteDimensionById(data.id)
        if (res.data.state === 'success') {
          this.$Message.success('删除成功')
          if (data.id === Number(this.currentNode.id)) {
            this.currentNode.id = null
          }
          await this.getDimensionTreeData()
        } else {
          // 无法删除的情况
          const deletedAsset = { id: data.id, name, type: TYPE_DIMENSION }
          this.unableToDelete(deletedAsset, res.data.data)
        }
      },
      onDimensionNameChange(e) {
        this.formItem.name = e.target.value.trim();
      },
      async onDimensionCodeChange(e) {
        let dimensionCode = e.target.value.trim()
        const { data: res } = await checkAssetsCode( dimensionCode )
        if (res.state === 'success') {
          if (res.data) { // true-存在 false-不存在
            this.$Message.warning('维度编码重复，请重新输入')
          } else {
            this.formItem.assetsCode = dimensionCode;
          }
        } else {
          this.$Message.error('检查维度编码失败')
        }
      },
    }
  }
</script>
<style src="../../../../node_modules/@wangeditor/editor/dist/css/style.css"></style>
<style lang="less" scoped>
.basic-all{
  overflow: auto;
  height: 100%;
}
.row {
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;

  /deep/ .ivu-input {
    width: 120px;
    border: 0;
    border-bottom: 1px solid #B7CAFF;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
  }

  + .row {
    margin-top: 12px;
  }
}
.name{
  max-width: 366px;
  font-size: 16px;
  color: #3F73FF;
  font-weight: bold;
  display: flex;
  align-items: center;
  white-space: normal;

  .ivu-checkbox-wrapper {
    color: #515a6e;
    font-weight: normal;
  }

  .text {
    white-space: nowrap;
    max-width: 342px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.code {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;

  > span {
    color: #3F73FF;
    font-weight: bold;
  }
}
.view-name{
  color: rgba(0, 0, 0, 0.85);
}
.view-code{
  > span {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
  }
}

// .version{
//   display: flex;
//   align-items: center;
//   white-space: nowrap;
// }
.view-tree{
  /deep/.ivu-select-selection{
    border: none;
    cursor: text;
    box-shadow: none;
  }
  /deep/.ivu-select-dropdown{
    display: none;
  }
  /deep/.ivu-select-arrow{
    display: none;
  }
}
.view-label{
  /deep/.select-wrapper{
    border: none;
    .ivu-icon{
      display: none;
    }
  }
  /deep/.ivu-select-dropdown{
    display: none;
  }
  /deep/.ivu-select-arrow{
    display: none;
  }
  /deep/.selected-list .list-item {
    padding-right: 10px !important;
    > i{
      display: none;
    }
  }
}
.headline {
  margin-top: 24px;
}
/deep/ .ivu-tree-title{
    .tree-title-span{
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    }
  }
  .asset-information-body {
  padding: 0 24px;

  .field {
    color: rgba(0, 0, 0, 0.65);
    margin-top: 16px;
    display: flex;
    position: relative;

    > span {
      margin-top: 6px;
    }
  }

  /deep/ .ivu-select {
    width: 240px;
  }

  /deep/ .assets-label {
    width: 50%;

    .select-wrapper {
      width: 100%;
      padding: 4px 30px 0 12px;
      border-radius: 4px;
      background: #fff;

      .placeholder {
        position: relative;
        top: 3px;
      }

      .selected-list .list-item {
        margin-right: 10px;
        margin-bottom: 4px;
        height: 24px;
      }
    }
  }
}

.related-dimensions .legend {
  display: flex;

  .legend-item {
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    margin-left: 16px;

    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 2px;
      margin-right: 8px;
    }

    &.used::before {
      background: #44D7B6;
    }

    &.available::before {
      background: #3F73FF;
    }
  }
}

.related-dimensions-body {
  padding: 16px 24px 20px;
  display: flex;
  flex-wrap: wrap;
  .blood-relation-dimension {
    display: inline-block;
    height: 29px;
    line-height: 29px;
    border-radius: 2px;
    background-color: #FFF;
    color: #333;
    font-weight: 400;
    margin-right: 20px;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .dimension-item {
    border-radius: 2px;
    padding: 4px 13px 4px 12px;
    color: #000;
    margin-right: 8px;

    &.used {
      border: 1px solid #44D7B6;
    }

    &.available {
      border: 1px solid #3F73FF;
    }
  }
}
.business-description {
  margin-top: 12px;
  &.viewRich {
    padding: 9px 14px 14px;
    background: #F6F6F6;
    border-radius: 4px;
  }

  .business-description-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.65);

    .ivu-checkbox-wrapper {
      color: #333;
    }
    .view-desc{
      display: flex;
      align-items: center;
    }
  }

  .business-description-body {
    margin-top: 12px;
  }
  .business-description-body-view {
    background: #FFFFFF;
    border: 1px solid rgba(237,237,237,1);
    margin-top: 14px;
    height: 120px;
    border-radius: 4px;
    overflow: auto;
    padding: 4px 8px;
  }
}
.icon-arrow {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: transform .3s;
}

.icon-arrow.expand {
  transform: rotate(180deg);
}
.asset-information-body {
  padding: 0 24px;

  .field {
    color: rgba(0, 0, 0, 0.65);
    margin-top: 16px;
    display: flex;
    position: relative;

    > span {
      margin-top: 6px;
    }
  }

  /deep/ .ivu-select {
    width: 240px;
  }

  /deep/ .assets-label {
    width: 50%;

    .select-wrapper {
      width: 100%;
      padding: 4px 30px 0 12px;
      border-radius: 4px;
      background: #fff;

      .placeholder {
        position: relative;
        top: 3px;
      }

      .selected-list .list-item {
        margin-right: 10px;
        margin-bottom: 4px;
        height: 24px;
      }
    }
  }
}
  /deep/ .ivu-tree-arrow-disabled {
    cursor: pointer;
  }

  .dimension-container {
    height: 100%;
    display: flex;

    .dimension-left {
      width: 20%;
      height: 100%;
      padding: 12px;
      background: #fff;
      display: flex;
      flex-direction: column;

      .dimension-title {
        line-height: 32px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }

      .dimension-searchinput {
        margin: 16px 0 8px;
      }

      .dimension-tree.ivu-tree {
        flex: 1;
        overflow-y: auto;
        user-select: none;
        /deep/.ivu-tree-arrow{
          max-width: 12px;
          width: auto;
        }

        /deep/ .ivu-icon {
          transform: none;
        }

        /deep/ .ivu-tree-arrow .ivu-icon-ios-arrow-forward:before {
          content: url('~@/assets/images/system/treePlusForManage.svg');
          margin-right: 6px;
        }

        /deep/ .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
          content: url('~@/assets/images/system/treeMinusForManage.svg');
          margin-right: 6px;
        }

        /deep/ .catalogueTreeNode {
          content: url('~@/assets/images/system/catalogueTreeNode.png');
          width: 16px;
          margin-right: 3px;
        }

        /deep/ .dimensionTreeNode {
          content: url('~@/assets/icons/dimensionIcon/dimension.png');
          width: 16px;
          margin-right: 6px;
        }

        /deep/ .ivu-tree-title.ivu-tree-title-selected .dimensionTreeNode {
          content: url('~@/assets/icons/dimensionIcon/dimensionBlue.png');
        }


        /deep/ .ivu-tree-title {
          .treeEditBtn, .treeAddBtn, .treeDeleteBtn {
            vertical-align: middle;
            display: none;
          }

          .treeEditBtn {
            content: url("~@/assets/icons/dimensionIcon/treeEdit.svg");
            margin-right: 6px;
          }

          .treeAddBtn {
            content: url("~@/assets/icons/dimensionIcon/treeAdd.svg");
            margin-right: 6px;
          }

          .treeDeleteBtn {
            content: url("~@/assets/icons/dimensionIcon/treeDelete.svg");
          }

          &:hover {
            .treeEditBtn, .treeAddBtn, .treeDeleteBtn {
              display: inline-block;
            }
          }

          &.ivu-tree-title-selected {
            color: #3F73FF;

            .treeDeleteBtn {
              content: url("~@/assets/icons/dimensionIcon/treeDeleteBlue.svg");
              display: inline-block;
            }
          }

        }
      }
    }

    /deep/ .ivu-tree > ul > li:first-child > .ivu-tree-arrow-open:first-child .ivu-icon-ios-arrow-forward:first-child:before {
      content: url('~@/assets/images/system/treeRoot.svg');
    }

    .blood-relation {
      position: relative;
    }

    .blood-relation-container {
      background-color: rgba(0, 0, 0, 0.03);
      padding: 16px 16px 0 16px;
      margin-bottom: 10px;

      .blood-relation-label {
        display: flex;
        justify-content: space-between;

        .blood-relation-legend {
          display: flex;
          align-items: center;
          margin-left: 16px;

          .blood-relation-legend-color {
            width: 10px;
            height: 10px;
            margin-right: 5px;
            border-radius: 2px;
          }
        }
      }

      .blood-relation-part-title {
        font-size: 14px;
        color: #333333;
        font-weight: 500;
      }
    }

    .dimension-right {
      width: 80%;
      height: 100%;
      border-left: 1px solid #EAEAEA;
      padding: 12px 24px;
      background: #fff;
      display: flex;
      flex-direction: column;
      position: relative;

      .nameBtnBox {
        position: absolute;
        right: 24px;
        top: 10px;
        z-index: 2;

        .ivu-icon.ivu-icon-md-create:before {
          content: url("~@/assets/icons/dimensionIcon/nameEditBtn.svg");
        }

        .resetBtn, .saveBtn {
          width: 72px;
          border-radius: 2px;
          padding: 6px 24px;
          line-height: 1;
        }

        .resetBtn {
          margin-right: 16px;
          color: #3F73FF;
          border-color: #3F73FF;
          padding: 6px 24px;
          line-height: 1;
        }

        .saveBtn {
          background-color: #3F73FF;
          border-color: #3F73FF;
        }
      }

      .ivu-collapse {
        border: none;
        background: #fff;
        flex: 1;
        overflow: auto;

        .ivu-collapse-item {
          border-top: none;

          /deep/ .ivu-collapse-header {
            color: #333;
            font-weight: bold;
            background: #F0F5FF;
            margin-bottom: 16px;

            .title {
              margin-left: -10px;
            }
          }

          &.ivu-collapse-item-active {
            /deep/ .ivu-collapse-header {
              border-bottom: none;
              margin-bottom: 0;
            }
          }

          .blood-relation {
            position: relative;
          }

          .availIndicatorTagClass {
            padding: 4px 8px;
            box-sizing: content-box;
            margin-right: 10px;
          }
        }
      }
    }
  }

  // tabs组件
  .ivu-tabs {
    height: calc(~'100% - 52px');

    .basic-info-wrapper {
      height: 100%;
      overflow: auto;
    }
  }


  /deep/ .ivu-tabs-content.ivu-tabs-content-animated {
    height: inherit;
  }

  /deep/ .basic-info-form {
    .row {
      display: flex;
    }

    .ivu-form-item {
      display: flex;

      + .ivu-form-item {
        margin-left: 17px;
      }

      .ivu-form-item-content {
        margin-left: 0 !important;
      }
    }

    .ivu-input,
    .ivu-select-selection {
      background-color: rgba(0, 0, 0, 0.03);
      border-radius: 2px;
    }

    .dimension-name-input {
      width: 320px;
    }

    .dimension-group-select {
      width: 248px;
    }

    .business-description {
      width: 100%;

      .ivu-form-item-content {
        flex: 1;
      }
    }

    .labels {
      width: calc(~'100% - 100px');

      .ivu-form-item-content {
        flex: 1;
      }
    }
  }
</style>
