<template>
  <div class="dimension-manage-container" ref="tableContainer">
    <div class="header-all">
      <p class="title">维度管理</p>
      <div class="actionBtnWrapper" @click="addDimension">
        <img src="@/assets/icons/earlyWarningTarget/add.svg" alt="" />
        <span>新建</span>
      </div>
    </div>
    <div class="search-all">
      <div class="searchBox">
        <span>名称：</span>
        <Input v-model.trim="name" maxlength="30" clearable placeholder="请输入维度名称" style="width: 162px" />
      </div>
      <div class="searchBox">
        <span>资产分组：</span>
        <FaTreeSelect style="width: 172px" :selected="selectGroup" :treeData="treeData" @changeVal="onAssetGroupChange"
          :refresh="true" :render="renderTip" class="custom-tree" />
      </div>
      <div class="searchBox">
        <span>维度标签：</span>
        <AssetsLabel style="width: 300px" :data="indicatorLabels" @select="onAssetsLabelSelect" />
      </div>
      <Button class="searchBtn" @click="searchTable">查询</Button>
    </div>
    <div class="table-all">
      <Spin fix v-if="tableLoading">
        <Icon type="ios-loading" size=28 class="table-spin-icon-load"></Icon>
        <div>Loading</div>
      </Spin>
      <section v-else>
        <section v-if="dataList.length">
          <Table :columns="columnsList" :data="dataList" :height="tableHeight">
            <template slot-scope="{ row }" slot="name">
              <div class="name" :title="row.name">
                {{ row.name }}
              </div>
            </template>
            <template slot-scope="{ row }" slot="status">
              <div class="statusText"
                :style="{ '--statusBackgroundColor': showStatusDataByKey(row.status, 'prefixColor') }">
                {{ showStatusDataByKey(row.status, "label") }}
              </div>
            </template>
            <template slot-scope="{ row }" slot="action">
              <DimensionAction from="DimensionManage" :row="row" @record:condition="recordCondition"
                @refresh:data="searchTable" @show:modal="showModal" @updateData:end="getDataList" />
            </template>
          </Table>
          <Page class="table-page" :total="dimensionTotal" :current="pageObj.pageNum" :pageSize="pageObj.pageSize"
            @on-change="changePage" @on-page-size-change="changeSize" show-total show-elevator show-sizer size="small" />
        </section>
        <NoData v-else :width="1180" :height="575" :img-src="noDataImg" />
      </section>
    </div>

    <!-- 变更所有者弹窗 -->
    <ChangeOwnerModal v-model="showChangeOwnerModal" :modal-status="changeModalStatus" @closeModal="closeChangeModal"
      @changeOwner:success="getDataList" />
    <!-- 权限分享弹窗 -->
    <AuthShareModal v-model="showAuthShare" :modal-status="authShareModalStatus" share-from="维度" />
    <!-- 确认删除弹框 -->
    <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList" />
  </div>
</template>

<script>
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect.vue'
import AssetsLabel from '@/view/report/components/AssetsLabel.vue'
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import NoData from "@/components/NoData";
import ChangeOwnerModal from "@/components/ChangeOwnerModal";
import AuthShareModal from "@/components/AuthShareModal";
import DeleteAssetModal from "@/view/components/DeleteAssetModal/index.vue";
import { getDimensionTreeData, getDimensionList } from "@/api/dimension";
import { deepCopy } from '@/utils/common'
import resourcePublish from '@/mixins/resourcePublish'
import DimensionAction from "./components/DimensionAction";

export default {
  mixins: [resourcePublish],
  components: {
    FaTreeSelect,
    AssetsLabel,
    DimensionAction,
    NoData,
    ChangeOwnerModal,
    AuthShareModal,
    DeleteAssetModal
  },
  data() {
    return {
      noDataImg,
      name: '',
      treeData: [],
      selectGroup: '',
      pageObj: {
        pageSize: 10,
        pageNum: 1,
      },
      indicatorLabels: [],
      columnsList: [
        { type: 'index', title: '序号', width: 60, align: 'center' },
        { title: '维度名称', slot: 'name' },
        { title: '资产分组', key: 'groupName' },
        { title: '状态', slot: 'status' },
        { title: '所有者', key: 'creator', },
        { title: '操作', slot: 'action', align: 'center', width: 270 },
      ],
      dataList: [],
      dimensionTotal: 0,
      tableHeight: 0,
      dimensionGroupList: [],
      tableLoading: true //tableList组件loading状态
    }
  },
  created() {
    // 检查本地是否有上次选择的数据源缓存
    let searchData = sessionStorage.getItem('dimensionListSearchBack');
    if (searchData) {
      searchData = JSON.parse(searchData);
      this.name = searchData.name;
      this.pageObj.pageSize = searchData.pageSize;
      this.pageObj.pageNum = searchData.pageNum;
      this.indicatorLabels = searchData.indicatorLabels;
      this.selectGroup = searchData.selectGroup;
    } else {
      this.name = '';
      this.pageObj = {
        pageSize: 10,
        pageNum: 1,
      };
      this.indicatorLabels = [];
      this.selectGroup = -1;
    }
    sessionStorage.setItem('dimensionListSearchBack', '');
    sessionStorage.setItem('dimensionListSearch', '');
    this.getIndicatorGroup();
  },
  mounted() {
    this.getTableHeight();
    window.onresize = this.getTableHeight;
  },
  methods: {
    /**
     * 窗口大小改变时，重新计算表格高度
     */
    getTableHeight() {
      this.tableHeight = this.$refs.tableContainer.clientHeight - 200;
    },
    // 新建
    addDimension() {
      if (this.dimensionGroupList.length) {
        this.$router.push({
          path: '/manager/dimension/dimension_detail',
          query: {
            type: 'create'
          }
        })
      } else {
        this.$Message.info('请先去数据资产-目录下创建目录！')
      }
    },
    // 搜索列表
    searchTable() {
      this.pageObj.pageNum = 1;
      this.getDataList();
    },
    async getDataList() {
      this.tableLoading = true
      let params = {};
      if (this.selectGroup === - 1 || !this.selectGroup) {
        params = {
          pageSize: this.pageObj.pageSize,
          pageNum: this.pageObj.pageNum,
          name: this.name,
        }
      } else {
        params = {
          pageSize: this.pageObj.pageSize,
          pageNum: this.pageObj.pageNum,
          name: this.name,
          groupId: this.selectGroup,
        }
      }
      if (this.indicatorLabels.length) {
        let labelArr = this.indicatorLabels.map(ele => ele.id)
        params.labelIds = labelArr.join(',');
      }
      console.log(params)
      let res = await getDimensionList(params);
      if (res.data && res.data.state === 'success') {
        const resData = res.data.data;
        this.dataList = resData.data.map(ele => ({
          ...ele,
          creator: ele.creator, // 创建人昵称
          creatorId: ele.creatorId, // 创建人id
          moduleType: 1,
          controlView: ele.controlView, // 用户权限: 查看
          controlEdit: ele.controlEdit // 用户权限: 编辑
        }));
        this.dimensionTotal = resData.count;
        this.tableLoading = false
      }
    },
    changePage(current) {
      this.pageObj.pageNum = current;
      this.getDataList()
    },
    changeSize(size) {
      this.pageObj.pageNum = 1;
      this.pageObj.pageSize = size;
      this.getDataList()
    },
    // 获取指标树
    async getIndicatorGroup() {
      const { data } = await getDimensionTreeData()
      if (data?.state === 'success') {
        const groups = data.data.dimensionGroupList
        let root = [{
          deep: 1,
          id: -1,
          title: '全部',
          expand: true,
          treeType: 'group',
        }]
        this.dimensionGroupList = data.data.dimensionGroupList;
        this.treeData = this.generateTree(root, groups);
        // this.selectGroup = -1;
        this.getDataList();
      } else {
        this.$Message.error('获取指标树失败')
      }
    },
    generateTree(parent, all, deep = 1) {
      return parent.map(parentItem => {
        let children = all.filter(
          allItem => allItem.parentId === parentItem.id,
        ).map(child => ({
          id: child.id,
          title: child.name,
          expand: false,
          deep: deep,
          selected: false,
        }))

        return {
          ...parentItem,
          children: children.length ? this.generateTree(children, all, ++deep) : [],
        }
      })
    },
    onAssetGroupChange(value) {
      this.selectGroup = value.id;
    },
    // render函数
    renderTip(h, { root, node, data }) {
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },
    onAssetsLabelSelect(selected) {
      let indicatorLabels = deepCopy(this.indicatorLabels)
      const index = indicatorLabels.findIndex(item => item.id === selected.id)
      if (index > -1) {
        indicatorLabels.splice(index, 1)
      } else {
        indicatorLabels.push(selected)
      }
      this.indicatorLabels = indicatorLabels;
    },
    /**
     * 记录当前的页码、筛选条件。从详情页返回时还原
     */
    recordCondition() {
      let sessionData = {
        pageSize: this.pageObj.pageSize,
        pageNum: this.pageObj.pageNum,
        name: this.name,
        selectGroup: this.selectGroup,
        indicatorLabels: this.indicatorLabels
      }
      sessionStorage.setItem('dimensionListSearch', JSON.stringify(sessionData));
    }
  }
}
</script>

<style lang="less" scoped>
.dimension-manage-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
  padding: 14px 16px;

  .header-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .title {
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      font-weight: 600;
    }

    .actionBtnWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 82px;
      height: 32px;
      background: #3f73ff;
      border-radius: 2px;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #ffffff;

      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
    }
  }

  .search-all {
    display: flex;
    align-items: center;

    .searchBox {
      display: flex;
      align-items: center;
      margin-right: 24px;

      // 监测状态
      /deep/.watchWrapper {
        .ivu-select-selection>div {
          white-space: nowrap;
          overflow: hidden;
        }
      }

      /deep/ .select-wrapper {
        border: 1px solid #dcdee2;
        background: #fff;
        padding: 0 7px;
        height: 32px;
        line-height: 32px;
        border-radius: 4px;
        padding-bottom: 0 !important;
        cursor: pointer;
        padding-top: 3px;
        overflow: hidden;

        .placeholder {
          position: absolute;
          top: -1px;
          left: 8px;
        }
      }

      /deep/ .selected-list .list-item {
        height: 24px;
        line-height: 22px;
        max-width: 248px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        margin-right: 6px;

        >i {
          top: 5px;
        }
      }

      /deep/ .assets-label {
        height: 32px;
      }
    }

    .searchBtn {
      background: #3f73ff;
      border-radius: 4px;
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #ffffff;
      width: 72px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .table-all {
    margin-top: 22px;
    position: relative;
    height: calc(~"100% - 32px - 54px");

    /deep/ .ivu-table-cell {
      .name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .statusText {
      font-family: PingFangSC-Regular;
      font-size: 12px;
      color: #333333;
      letter-spacing: 0;

      &::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--statusBackgroundColor);
        margin-right: 6px;
      }
    }

    .table-page {
      text-align: right;
      margin-top: 22px;
    }

    /deep/ .ivu-page.mini .ivu-page-item {
      border: 1px solid #dcdee2;
    }

    /deep/ .ivu-page.mini .ivu-page-item-active {
      border-color: #3F73FF;
    }
  }
}

/deep/ .ivu-tree-title {
  .tree-title-span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
