<template>
  <div class="indicator-tree">
    <Input v-model="indicatorName" class="searchTreeInput" placeholder="请输入指标名/指标组名" search clearable @on-change="onSearch" />
    <Tree class="tree-indicator-all" :data="treeData" :render="renderContent" @on-select-change="onSelectTreeChange"></Tree>
  </div>
</template>

<script>
import { debounce, deepCopy, filterTree } from '@/utils/common'
import { changeTreeSelectedOnly, selectTreeFirst } from '@/utils/formatTree'
import { getIndicatorTreeData } from '@/api/indicator'
import { INDICATOR_OPTION_LIST } from "@/config/indicator";

export default {
  name: 'IndicatorTree',
  data() {
    return {
      indicatorName: '', // 指标搜索，关键字
      treeData: [], // 指标树
      originTreeData: [], // 指标树--用于树搜索
    }
  },
  mounted() {
    this.getIndicatorTreeData()
  },
  methods: {
    // 获取指标树
    async getIndicatorTreeData() {
      const { data: res } = await getIndicatorTreeData()
      if (res.state !== 'success') return this.$Message.error('获取指标树失败')
      this.treeDataExpandStatusBak = deepCopy(this.treeData)
      let { indicatorGroupList, indicatorList } = res.data
      // 只展示原子指标
      indicatorList = indicatorList.filter(item => item.type === 1)
      let allData = [...indicatorGroupList, ...indicatorList]
      let root = [{ id: -1, title: '指标组', expand: true, type: 'group' }]
      this.recursiveIndicatorGroup(root, allData)
      this.treeData = root
      this.originTreeData = root

      // 选中第一个指标
      const currentIndicator = selectTreeFirst(root)
      this.$emit('on-change', currentIndicator)
    },

    recursiveIndicatorGroup(parent, allData) {
      parent.forEach(item => {
        let children = allData
          .filter(d => {
            if (d.parentId) {
              return d.parentId == item.id
            } else if (d.groupId) {
              return d.groupId == item.id
            }
          }).map((child, i) => {
            if (child.parentId) {
              return {
                type: 'group',
                id: child.id,
                title: child.name,
                expand: child.expand,
              }
            } else if (child.groupId) {
              return {
                type: 'value',
                id: child.id,
                title: child.name,
                indicatorType: child.type,
                selected: child.selected,
              }
            }
          })
        if (children.length > 0) {
          item.children = children
          this.recursiveIndicatorGroup(children, allData)
        }
      })
    },

    // 过滤左侧树
    onSearch: debounce(function (e) {
      let value = e.target.value
      if (value) {
        this.treeData = filterTree(this.originTreeData, value)
      } else {
        this.treeData = this.originTreeData
      }
    }),

    // 点击左侧树
    onSelectTreeChange(selectNodes, currentNode) {
      if (selectNodes.length === 0) {
        return
      }
      if (currentNode.type === 'group') {
        currentNode.selected = false
        return
      } else if (this.indicatorName) {
        // 当树形结构存在过滤时，要保证originTreeData只有当前节点是selected
        changeTreeSelectedOnly(this.originTreeData, currentNode.id)
      }

      const currentIndicator = { ...currentNode }
      this.$emit('on-change', currentIndicator)
    },

    // 树渲染逻辑
    renderContent(h, { root, node, data }) {
      return h('div', {
        style: {
          width: '100%',
          display: 'flex',
          justifyContent: 'space-between',
          alignItems: 'center',
          marginLeft: data.children && data.children.length ? 0 : '-6px',
        },
      }, [
        h('i', {
          class: this.getClassNameByIndicatorType(data),
        }),
        h('div', {
          style: {
            flex: 1,
            overflow: 'hidden',
            whiteSpace: 'nowrap',
            textOverflow: 'ellipsis',
          },
          attrs: {
            title: `${data.title}`,
          },
          on: {
            click: (e) => {
              if (!e.path) return
              for (let i = 0; i < e.path.length; i++) {
                if (e.path[i].classList.contains('ivu-tree-title')) {
                  if (e.path[i].previousElementSibling.offsetHeight !== 0) {
                    e.stopPropagation()
                    e.path[i].previousElementSibling.click()
                  }
                  break
                }
              }
            },
          },
        }, data.title),
        h('div', [
          // 新增，只存在于group
          h(data.type === 'group' ? 'Tooltip' : '', {
            props: {
              theme: 'light',
              placement: 'bottom-end',
              delay: 500,
            },
            directives: [
              {
                name: 'allow',
                value: [1097046178137089],
              },
            ],
          }, [
            h('i', {
              class: 'indGroup_add',
              on: {
                mousemove: (e) => {
                  e.stopPropagation()
                  this.createTooltip(e, data)
                },
                click: (e) => {
                  e.stopPropagation()
                },
              },
            }),
          ]),
          // 删除，只有指标可删除
          h(data.type !== 'group' ? 'i' : '', {
            class: 'indIcon_del',
            on: {
              click: (e) => {
                e.stopPropagation()
                this.deleteIndicator(data)
              },
            },
            directives: [
              {
                name: 'allow',
                value: [1097046178137088],
              },
            ],
          }),
        ]),
      ])
    },

    // 获取指标类型对应的className
    getClassNameByIndicatorType({ type, indicatorType, children }) {
      if (type === 'group') {
        if(!children || !children.length){
          return 'catalogueTreeNode'
        }else {
          return ''
        }
      }else{
        return INDICATOR_OPTION_LIST.find(ele => ele.value === indicatorType)?.iconClass || ""
      }
      
    },
  },
}
</script>

<style scoped lang="less">
.ivu-tree {
  margin-top: 8px;
  height: calc(~'100% - 40px');
  overflow-y: auto;
  overflow-x: hidden;
  /deep/ .catalogueTreeNode {
    content: url('~@/assets/images/system/catalogueTreeNode.png');
    width: 18px;
    margin-right: 3px;
  }
}
.tree-indicator-all{
  /deep/.ivu-tree-arrow{
    max-width: 12px;
    width: auto;
  }
}
</style>
