<template>
  <Tabs :value="currentTab" @on-click="onClickTabs">
    <TabPane v-for="tab in tabList" :label="getTabPaneLabel(tab)" :name="tab"></TabPane>
    <TabTooltip slot="extra" />
  </Tabs>
</template>

<script>
import TabTooltip from '@/view/indicator-maintain/components/TabTooltip.vue'
export default {
  name: 'IndicatorDimensionTabs',
  components: {
    TabTooltip,
  },
  props: {
    currentTab: String,
  },
  data() {
    return {
      tabList: ['0', '1', '2', '3', '4', '5'],
    }
  },
  methods: {
    onClickTabs(name) {
      this.$emit('on-change', name)
    },

    // 获取TabPane的label
    getTabPaneLabel(dimensionNum) {
      return (h) => {
        return h('div', [
          h('span', '指标-维度'),
          h('span', {
            class: 'dimension-num',
          }, dimensionNum),
        ])
      }
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .dimension-num {
  background: rgba(63, 115, 255, 0.15);
  border-radius: 1px;
  color: #3F73FF;
  padding: 0 6px;
  margin-left: 4px;
}
</style>
