<template>
  <div class="search">
    <Form class="searchForm" inline label-colon>
      <FormItem label="维度名" v-if="showDimensionInput">
        <Input :value="dimensionName" placeholder="请输入维度名" clearable @on-change="onDimensionNameChange" />
      </FormItem>
      <FormItem label="业务日期">
        <DatePicker :value="businessDate" type="date" placeholder="请选择业务日期" :clearable="false" :editable="false" @on-change="onBusinessDateChange" />
      </FormItem>
      <FormItem>
        <Button type="primary" icon="ios-search-outline" class="allBtnStyle searchBtn" @click="onSearch">查询</Button>
      </FormItem>
    </Form>
  </div>
</template>

<script>
export default {
  name: 'Search',
  props: {
    showDimensionInput: Boolean,
    dimensionName: String,
    businessDate: String,
  },
  methods: {
    onBusinessDateChange(date) {
      this.$emit('update:businessDate', date)
    },

    onDimensionNameChange(e) {
      this.$emit('update:dimensionName', e.target.value)
    },

    onSearch() {
      this.$emit('on-search')
    },
  },
}
</script>

<style scoped lang="less">
.search {
  .searchForm {
    /deep/ .ivu-form-item {
      margin-right: 16px;
      margin-bottom: 16px;
    }

    /deep/ .ivu-form-item-content {
      display: inline-block;
    }

    .allBtnStyle {
      background: #3F73FF;
      border-radius: 2px;
    }

    .searchBtn {
      /deep/ .ivu-icon {
        line-height: 1;
      }

      /deep/ .ivu-icon::before {
        content: url("~@/assets/images/system/buttonSearch.svg");
      }
    }
  }
}
</style>
