<template>
  <Tooltip content="content of tooltip" theme="light" transfer max-width="500" transfer-class-name="custom-tooltip">
    <Icon type="ios-help-circle-outline" size="18" />
    <div slot="content">
      <div class="tab-tooltip">
        <div class="title">各Tab页分别汇总该指标和不同数量维度组合后的结果，请确认组合维度数量后再操作！</div>
        <p>eg：需要修改下表中”人口“的指标值</p>
        <div class="table">
          <div class="table-header">
            <div class="table-header-item">城市</div>
            <div class="table-header-item">区</div>
            <div class="table-header-item">街道</div>
            <div class="table-header-item">人口</div>
          </div>
          <div class="table-body">
            <div class="table-body-row">
              <div class="table-body-row-item">北京市</div>
              <div class="table-body-row-item">朝阳区</div>
              <div class="table-body-row-item">三里屯街道</div>
              <div class="table-body-row-item">7,456,920</div>
            </div>
            <div class="table-body-row">
              <div class="table-body-row-item">北京市</div>
              <div class="table-body-row-item">朝阳区</div>
              <div class="table-body-row-item">三里屯街道</div>
              <div class="table-body-row-item">7,456,920</div>
            </div>
          </div>
        </div>
        <p>因为“人口”指标值结果是和三个维成员组合计算的，则需要选择“指标-维度Α]”Tab页进行查询修改操作。</p>
      </div>
    </div>
  </Tooltip>
</template>

<script>
export default {
  name: 'TabTooltip',
}
</script>

<style scoped lang="less">
.tab-tooltip {
  line-height: 18px;

  .title {
    color: rgba(0, 0, 0, 0.85);
  }

  p {
    color: rgba(0, 0, 0, 0.45);
    margin-top: 18px;
  }

  .table {
    margin-top: 12px;
    color: #333333;
    line-height: 20px;
    padding: 0 4px;

    .table-header {
      background: #F8F8F8;
    }

    .table-body-row {
      border-bottom: 1px solid #EAEAEA;
    }

    .table-header,
    .table-body-row {
      height: 36px;
      display: flex;
      align-items: center;
    }

    .table-header-item,
    .table-body-row-item {
      flex: 1;
      padding: 0 18px;
    }
  }
}
</style>

<style lang="less">
/* Tooltip样式重写 */
.custom-tooltip .ivu-tooltip-inner {
  padding: 14px 16px;
}
</style>
