<template>
  <section class="executionDate-container">
    <span class="title">执行日：</span>
    <Select :value="execDate.type" @on-change="onChange" style="width: 113px; margin-right: 8px">
      <Option v-for="item in dispatchRateDetailExecDateType" :key="item.value" :value="item.value">{{ item.label }}</Option>
    </Select>
    <SelectModal
      v-show="execDate.type !== 1"
      :selectVal="execDate.selectVal"
      :selectData="dataList"
      :lineNum="lineNum"
      @addSelectData="addSelectData"
    />
  </section>
</template>

<script>
import SelectModal from "./SelectModal";
import { DISPATCH_RATE_DETAIL_EXECDATE_TYPE } from "./constant";

export default {
  props: {
    execDate: {
      type: Object,
      required: true
    },
    // 组件是新增时 or 更新时
    isUpdate: {
      type: Boolean,
      required: true
    }
  },
  components: {
    SelectModal
  },
  data() {
    return {
      dispatchRateDetailExecDateType: DISPATCH_RATE_DETAIL_EXECDATE_TYPE,
      weekList: [],
      dayList: []
    };
  },
  computed: {
    dataList() {
      return this.execDate.type === 2 ? this.weekList : this.dayList;
    },
    lineNum() {
      return this.execDate.type === 2 ? "3" : "4";
    }
  },
  created() {
    // 周数据
    const week = ["周一", "周二", "周三", "周四", "周五", "周六", "周日"];
    this.weekList = week.map(ele => ({
      value: ele,
      select: false
    }));

    // 日数据
    for (let i = 1; i <= 31; i++) {
      let data = i < 10 ? `0${i}` : `${i}`;
      this.dayList.push({
        value: data,
        select: false
      });
    }
    console.log('调用了')
    console.log(this.execDate.selectVal)

    this.editWatch();
  },
  methods: {
    /**
     * 编辑数据集时，根据选中值改变数据选中效果（只监听一次）
     */
    editWatch() {
      if (this.isUpdate) {
        if (this.execDate.type === 2) {
          this.weekList.forEach(ele => {
            ele.select = this.execDate.selectVal.includes(ele.value);
          });
        } else {
          this.dayList.forEach(ele => {
            ele.select = this.execDate.selectVal.includes(ele.value);
          });
        }
      }
    },
    onChange(val) {
      this.weekList.forEach(ele => (ele.select = false));
      this.dayList.forEach(ele => (ele.select = false));
      this.$emit("changeDate", val);
    },
    addSelectData({ itemType, data }) {
      let selectVal = "";
      if (this.execDate.type === 2) {
        this.changeSelectedStatus(this.weekList, itemType, data);
        selectVal = this.weekList
          .filter(ele => ele.select)
          .map(ele => ele.value)
          .join(", ");
      } else {
        this.changeSelectedStatus(this.dayList, itemType, data);
        selectVal = this.dayList
          .filter(ele => ele.select)
          .map(ele => ele.value)
          .join(", ");
      }
      this.$emit("addSelectData", { selectVal, type: "execDate" });
    },
    changeSelectedStatus(list, itemType, data) {
      list.forEach(ele => {
        if (itemType === "all") {
          ele.select = true;
        } else {
          if (ele.value === data.value) {
            ele.select = !data.select;
          }
        }
      });
      return list;
    }
  }
};
</script>

<style lang="less" scoped>
.executionDate-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  .title {
    display: inline-block;
    width: 60px;
  }
  .selectModal-container {
    width: 186px;
  }
}
</style>
