<template>
  <div class="executionTime-container">
    <span style="line-height:32px">执行时间：</span>
    <div>
      <div class="executionTimeWrapper" v-for="(time, index) in timeList" :key="index">
        <TimePicker
          class="wrapperLeft"
          :value="time.value"
          @on-change="time => onChange(time, index)"
          type="time"
          format="HH/mm"
          placeholder="HH/MM"
          :editable="false"
          :clearable="false"
        />
        <div class="wrapperRight">
          <Icon class="addBtn" :class="{ disable: timeList.length === 6 && index === 5 }" type="ios-add-circle-outline" size="18" @click="addTime" />
          <img class="delBtn" :src="index > 0 ? delLght : delDark" @click="deleteTime(index)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import delLght from "@/assets/images/system/tableButtonDelete.svg";
import delDark from "@/assets/images/system/roleTreeDelete.svg";

export default {
  props: {
    timeList: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      delLght,
      delDark
    };
  },
  methods: {
    onChange(time, index) {
      this.$emit("changeTime", time, index);
    },
    addTime() {
      if (this.timeList.length > 5) {
        this.$Message.warning("最多新增5个调度时间");
        return;
      }
      this.$emit("addTime");
    },
    deleteTime(index) {
      if (this.timeList.length <= 1) return;
      this.$emit("deleteTime", index);
    }
  }
};
</script>

<style lang="less" scoped>
.executionTime-container {
  display: flex;
  .executionTimeWrapper {
    display: flex;
    margin-bottom: 8px;
    .wrapperLeft {
      width: 179px;
    }
    .wrapperRight {
      display: flex;
      align-items: center;
      .addBtn {
        font-weight: bold;
        color: #3f73ff;
        margin-left: 8px;
        cursor: pointer;
        &.disable {
          color: #d9d9d9;
        }
      }
      .delBtn {
        height: 20px;
        width: 20px;
        margin-left: 12px;
        cursor: pointer;
      }
    }
  }
}
</style>
