<template>
  <Modal class="viewWarningModal-container" :value="showView" :title="modalTitle" width="1074" @on-cancel="onCancel" footer-hide>
    <div class="viewWarningWrapper" ref="viewWarningWrapperRef">
      <HeadLineView :task-type="headData.taskType" :level="watchStatus" :manager="headData.nickName" />
      <FilterCondition :task-type="headData.taskType" :isEdit="false" :rule-list="ruleList" />

      <section class="s1">
        <div class="title">
          <img src="@/assets/icons/earlyWarningTarget/blue_height.svg" alt="" />
          <span>推送</span>
        </div>
        <div class="sectionContent">
          <PushInfoView :taskForm="pushData" />
        </div>
      </section>
      <section class="s2">
        <div class="title">
          <img src="@/assets/icons/earlyWarningTarget/blue_height.svg" alt="" />
          <span>监测</span>
        </div>
        <div class="sectionContent">
          <TaskHandleView :dispatch="dispatch" :labelArr="['开始时间', '监测频率', '高级设置']" />
        </div>
      </section>
    </div>
  </Modal>
</template>

<script>
import HeadLineView from "./components/HeadLineView";
import FilterCondition from "../EditWarningModal/components/FilterCondition";
import PushInfoView from "./components/PushInfoView";
import TaskHandleView from "./components/TaskHandleView";
import { deepCopy } from "@/utils/common";
import { FILTER_CONDITION_ITEM, PUSH_MEMBER_ITEM, WATCH_DISPATCH } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/ruleModal";
import { v4 as uuidv4 } from "uuid";

const FIRST_ID = uuidv4();

export default {
  props: {
    showView: {
      type: Boolean,
      required: true
    },
    defaultData: {
      type: Object,
      required: true
    }
  },
  components: {
    HeadLineView,
    FilterCondition,
    PushInfoView,
    TaskHandleView
  },
  data() {
    return {
      watchStatus: -1,
      headData: {
        taskType: 1,
        name: "",
        nickName: "", // 负责人-昵称
        userName: "" // 负责人-用户名
      },
      ruleList: [
        {
          id: FIRST_ID,
          level: -1,
          ruleConditionList: [[deepCopy(FILTER_CONDITION_ITEM)]]
        }
      ],
      pushData: {
        platformPushMode: [],
        thirdPartyPushMode: [],
        pushMemberTab: FIRST_ID, // 推送人的tab
        pushMemberList: [{ id: FIRST_ID, ...deepCopy(PUSH_MEMBER_ITEM) }],
        pushCondition: 1,
        pushMode: 1,
        pushNum: 5
      },
      dispatch: deepCopy(WATCH_DISPATCH)
    };
  },
  computed: {
    modalTitle() {
      const type = this.headData.taskType === 1 ? "预警" : "目标";
      return `${this.headData.name}${type}监控`;
    }
  },
  watch: {
    defaultData: {
      handler(val) {
        if (val) {
          this.fetchDetail(val);
        }
      },
      deep: true
    }
  },
  methods: {
    /**
     * 回填数据
     */
    fetchDetail(val) {
      const { watchStatus, headData, ruleList, pushData, dispatch } = val;
      this.watchStatus = watchStatus;
      this.headData = deepCopy(headData);
      this.ruleList = deepCopy(ruleList);
      this.pushData = deepCopy(pushData);
      this.dispatch = deepCopy(dispatch);
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.$refs.viewWarningWrapperRef.scrollTo(0, 0);
      this.$emit("closeModal");
    }
  }
};
</script>

<style lang="less" scoped>
.viewWarningModal-container {
  /deep/.ivu-modal {
    top: 8vh;
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-body {
        padding: 0;
      }
    }
  }
  .viewWarningWrapper {
    padding: 16px 24px 20px;
    max-height: 70vh;
    overflow: auto;
    .headLineView-container {
      margin-bottom: 16px;
    }
    .filterCondition-container {
      margin-bottom: 20px;
    }
    .s1,
    .s2 {
      .title {
        display: flex;
        margin-bottom: 14px;
        img {
          margin-right: 8px;
        }
        span {
          font-family: PingFangSC-Medium;
          font-size: 14px;
          color: #333333;
          letter-spacing: 0;
          font-weight: 500;
        }
      }
      .sectionContent {
        padding-left: 15px;
      }
    }
    .s1 {
      margin-bottom: 23px;
    }
    .s2 {
      .sectionContent {
        /deep/.labelTitle {
          &::before {
            content: url("~@/assets/icons/earlyWarningTarget/blue_small.svg");
            margin-right: 11px;
          }
        }
      }
    }
  }
}
</style>
