<template>
  <Modal class="intelligentAnswer-container" :value="showModal" @on-cancel="onCancel" width="825" footer-hide>
    <template #header>
      <span class="modalTitle">橙意</span>
    </template>

    <AnswerContent ref="answerContentRef" />

    <div class="inputRow">
      <Input class="sendInput" v-model="message" placeholder="" @on-enter="sendMessage" />
      <div class="sendBtn" @click="sendMessage">发送</div>
    </div>
  </Modal>
</template>

<script>
import { mapState, mapMutations, mapActions } from "vuex";
import AnswerContent from "./components/AnswerContent";
import { GUESS_SEARCH, DEFAULT_MESSAGE } from "./constant";
import { v4 as uuidv4 } from "uuid";

export default {
  model: {
    prop: "showModal",
    event: "update:showModal"
  },
  props: {
    showModal: {
      type: Boolean,
      required: true
    }
  },
  components: {
    AnswerContent
  },
  data() {
    return {
      isFirstOpen: true, // 是否是首次打开弹窗
      message: ""
    };
  },
  computed: {
    ...mapState("intelligentAnswer", ["answerList"])
  },
  watch: {
    showModal(newVal) {
      if (newVal) {
        // 首次打开弹窗，获取全量维度/指标
        if (this.isFirstOpen) {
          this.fetchIndicator();
          this.fetchDimension();
          this.isFirstOpen = false;
        }
        // 每次打开，设置唯一id
        this.setAnswerModalId(uuidv4());
      }
    },
    // 对话增加，自动滚动到底部
    answerList: {
      handler(newVal, oldVal) {
        if (newVal.length > oldVal.length) {
          this.answerScroll();
        }
      },
      deep: true
    }
  },
  methods: {
    ...mapActions("earlyWarningTarget", ["fetchIndicator", "fetchDimension"]),
    ...mapActions("intelligentAnswer", ["addAnswer"]),
    ...mapMutations("intelligentAnswer", ["setAnswerList", "setAnswerModalId"]),
    /**
     * 发送消息
     */
    sendMessage() {
      if (!this.message) return;
      this.addAnswer({ params: { title: this.message }, type: GUESS_SEARCH });
      this.message = "";
    },
    /**
     * 滚动到底部
     */
    answerScroll() {
      this.$nextTick(() => {
        this.$refs.answerContentRef.$el.scrollTo({
          top: this.$refs.answerContentRef.$el.scrollHeight,
          behavior: "smooth"
        });
      });
    },
    /**
     * 关闭弹窗
     */
    onCancel() {
      this.reset();
      this.$emit("update:showModal", false);
    },
    /**
     * 重置数据
     */
    reset() {
      this.message = "";
      this.setAnswerModalId(null);
      this.setAnswerList([DEFAULT_MESSAGE]);
    }
  }
};
</script>

<style lang="less" scoped>
.intelligentAnswer-container {
  /deep/.ivu-modal-header {
    text-align: center;
    .modalTitle {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #999999;
      line-height: 25px;
      &::before {
        content: "";
        display: inline-block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #00de51;
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
  /deep/.ivu-modal-body {
    padding: 0;
  }

  .answerContent-container {
    height: 600px;
    background: #f2f3fc;
    overflow: auto;
  }

  .inputRow {
    display: flex;
    background: #f2f3fc;
    padding: 10px 16px;
    .sendInput {
      flex: 1;
      height: 40px;
      /deep/.ivu-input {
        height: 40px;
      }
    }
    .sendBtn {
      width: 62px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(91, 144, 255, 0.95);
      border-radius: 8px;
      margin-left: 10px;
      cursor: pointer;

      font-size: 14px;
      color: #ffffff;
      font-weight: 600;
    }
  }
}
</style>
