<template>
  <div :class="['filter-condition-item', { edit, 'single': isSingle }]">
    <img v-if="!isSingle" src="@/assets/icons/indicatorIcon/icon_or.svg" class="icon-or" />

    <slot :edit="edit" :data="itemData" :is-single="isSingle">
      <!-- 左侧筛选 -->
      <Select
        class="filter-condition-select source"
        :value="Number(itemData.sourceId)"
        :disabled="!edit"
        @on-change="onSourceIdChange">
        <Option v-for="item in columns" :value="item.id" :key="item.id">{{ item.name }}</Option>
      </Select>

      <!-- 比较条件 -->
      <Select
        class="filter-condition-select condition-type"
        :value="itemData.conditionType"
        :disabled="!edit"
        @on-change="onConditionTypeChange">
        <Option v-for="item in filterList" :value="item.value" :key="item.value">{{ item.label }}</Option>
      </Select>

      <!-- 右侧筛选 -->
      <!--变量-->
      <Select
        class="filter-condition-select variable-type"
        :value="itemData.variableType"
        :disabled="!edit"
        @on-change="onVariableTypeChange">
        <Option v-for="varType in variableTypeList" :key="varType.value" :value="varType.value">{{ varType.label }}</Option>
      </Select>
      <!--常量/SQL-->
      <Input
        class="filter-condition-input"
        v-if="itemData.variableType === 1 || itemData.variableType === 3"
        :value="itemData.variableType === 3 ? '查看SQL条件' : itemData.variableValue"
        :disabled="!edit"
        :readonly="itemData.variableType === 3"
        @on-change="onVariableValueChange"
        @click.native="onClickSql" />
      <!--全局变量-->
      <Select
        class="filter-condition-select variable-type"
        v-if="itemData.variableType === 4"
        :value="itemData.variableValue"
        :disabled="!edit"
        @on-change="onGlobalVariableChange">
        <Option  v-for="variable in publicVariableList" :value="variable.value" :key="variable.value">{{ variable.name }}</Option>
      </Select>
    </slot>

    <!-- 操作按钮 -->
    <div class="buttons" v-if="edit">
      <img
        :src="btnOrHover ? btnOrActive : btnOr"
        alt="或"
        @mouseenter="btnOrHover = true"
        @mouseleave="btnOrHover = false"
        @click="onAddItem" />
      <img
        v-if="showBtnAnd"
        :src="btnAndHover ? btnAndActive : btnAnd"
        alt="与"
        @mouseenter="btnAndHover = true"
        @mouseleave="btnAndHover = false"
        @click="onAddGroup" />
      <img
        v-if="showBtnDelete"
        :src="btnDeleteHover ? btnDeleteActive : btnDelete"
        alt="删除"
        @mouseenter="btnDeleteHover = true"
        @mouseleave="btnDeleteHover = false"
        @click="onDeleteItem" />
    </div>
  </div>
</template>

<script>
import btnDelete from '@/assets/icons/indicatorIcon/btn_delete.svg'
import btnDeleteActive from '@/assets/icons/indicatorIcon/btn_delete_active.svg'
import btnOr from '@/assets/icons/indicatorIcon/btn_or.svg'
import btnOrActive from '@/assets/icons/indicatorIcon/btn_or_active.svg'
import btnAnd from '@/assets/icons/indicatorIcon/btn_and.svg'
import btnAndActive from '@/assets/icons/indicatorIcon/btn_and_active.svg'
import { filterList, variableTypeList } from '@/config/filterList'
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'FilterConditionItem',
  emits: [
    'on-add-item',
    'on-add-group',
    'on-delete-item',
    'on-source-id-change',
    'on-condition-type-change',
    'on-variable-type-change',
    'on-variable-value-change',
    'on-click-sql',
  ],
  props: {
    edit: Boolean,
    itemData: Object,
    isSingle: Boolean, // 每个'与'是否只有单个条件
    showBtnAnd: Boolean,
    showBtnDelete: Boolean
  },
  data() {
    return {
      btnDelete,
      btnDeleteActive,
      btnOr,
      btnOrActive,
      btnAnd,
      btnAndActive,
      btnDeleteHover: false,
      btnAndHover: false,
      btnOrHover: false,
      filterList,
      variableTypeList
    }
  },
  computed: {
    ...mapGetters('indicator', ['columns']),
    ...mapState('indicator', ['publicVariableList'])
  },
  methods: {
    onSourceIdChange(option) {
      this.$emit('on-source-id-change', option)
    },
    onConditionTypeChange(option) {
      this.$emit('on-condition-type-change', option)
    },
    onVariableTypeChange(option) {
      this.$emit('on-variable-type-change', option)
    },
    onVariableValueChange(e) {
      this.$emit('on-variable-value-change', e.target.value)
    },
    onGlobalVariableChange(option) {
      const globalVariableObj = this.publicVariableList.find(item => item.value === option)
      this.$emit('on-variable-value-change', globalVariableObj)
    },
    onAddItem() {
      this.$emit('on-add-item')
    },
    onAddGroup() {
      this.$emit('on-add-group')
    },
    onDeleteItem() {
      this.$emit('on-delete-item')
    },
    onClickSql() {
      this.$emit('on-click-sql')
    }
  },
}
</script>

<style scoped lang="less">
.filter-condition-item {
  margin-left: 14px;
  display: flex;
  align-items: center;
  position: relative;

  + .filter-condition-item {
    margin-top: 8px;
  }

  .icon-or {
    width: 20px;
    height: 20px;
  }

  &::before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background: rgba(16, 193, 36, .4);
    position: absolute;
    left: 26px;
  }

  /deep/ .filter-condition-select {
    .ivu-select-selection {
      border: 0;
      border-bottom: 1px solid #A0E7A8;
      border-radius: 0;
      box-shadow: none;
      width: inherit;
    }

    .ivu-select-selection .ivu-select-placeholder,
    .ivu-select-selection .ivu-select-selected-value {
      padding: 0;
    }

    &.source {
      margin-left: 20px;
      width: 194px;
    }

    &.condition-type {
      margin-left: 32px;
      width: 106px;
    }

    &.variable-type {
      margin-left: 32px;
      width: 90px;
    }

    .ivu-select-arrow {
      margin-left: 22px;
    }
  }

  &:not(.edit) /deep/ .filter-condition-select .ivu-select-arrow {
    display: none;
  }

  /deep/ .filter-condition-input {
    margin-left: 26px;
    width: 182px;

    .ivu-input {
      border: 0;
      border-bottom: 1px solid #A0E7A8;
      border-radius: 0;
      padding: 0;
      box-shadow: none;
    }
  }

  .buttons {
    margin-left: 16px;

    img {
      cursor: pointer;
    }

    img + img {
      margin-left: 10px;
    }
  }

  /deep/ .ivu-select-disabled .ivu-select-selection,
  /deep/ .ivu-input[disabled] {
    background: #fff;
    color: rgba(0, 0, 0, 0.85);
  }
}

.filter-condition-item.single {
  margin-left: 6px;

  /deep/ .filter-condition-input .ivu-input,
  /deep/ .filter-condition-select .ivu-select-selection {
    border-bottom: 1px solid #B7CAFF;
  }

  &:before {
    display: none;
  }
}
</style>
