<template>
  <div class="headline">
    <div class="headline-left">{{ title }}</div>
    <div class="headline-right">
      <slot name="right"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Headline',
  props: {
    title: String,
  },
}
</script>

<style scoped lang="less">
.headline {
  height: 32px;
  background: #F6F6F6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
}

.headline-left {
  height: 100%;
  background: #E3EAF8;
  border-radius: 4px 0px 0px 4px;
  font-size: 14px;
  color: #333333;
  display: flex;
  align-items: center;
  padding-right: 14px;

  &::before {
    display: inline-block;
    content: '';
    width: 4px;
    height: 14px;
    background: #3F73FF;
    border-radius: 4px;
    margin-right: 8px;
    margin-left: 14px;
  }
}
</style>
