<template>
  <Modal :value="show" width="320" title="保存失败" footer-hide :mask-closable="false" @on-cancel="onCancel">
    <div class="content">
      <div class="desc">无法修改“汇总方式”，此指标已被下列复合指标引用：</div>
      <div class="indicator-list">
        <div class="indicator-item" v-for="item in list"><span>{{ item.name }}</span></div>
      </div>
    </div>
  </Modal>
</template>

<script>
export default {
  name: 'SaveFailModal',
  props: {
    show: Boolean,
    list: Array,
  },
  methods: {
    onCancel() {
      this.$emit('update:show', false)
    },
  },
}
</script>

<style scoped lang="less">
.content {
  padding-bottom: 12px;
}

.desc {
  font-size: 14px;
  color: #000000;
}

.indicator-list {
  display: flex;
  flex-direction: column;

  .indicator-item {
    display: flex;
    margin-top: 8px;

    > span {
      line-height: 28px;
      padding: 0 12px;
      border: 1px solid rgba(68, 215, 182, 1);
      border-radius: 2px;
    }
  }
}
</style>
