<template>
  <div ref="groupTable" class="group-table" :style="{background: propertyStyle && propertyStyle.backgroundColor}">
    <div class="table-all">
      <Spin fix v-if="loading" />
      <NoData v-show="errorCode" :chartType="chartId" :error-code="errorCode" />
      <Table
        ref="tableContent"
        class="tableClass"
        :class="[{
          ivuTableStyle: propertyData.dimension.length === 0 && propertyData.indicator.length === 0,
          breakStyle: !propertyStyle?.header?.lineBreak,
          noBorderStyle: !propertyStyle?.content?.horizontalLine,
          borderLongStyle: propertyStyle?.content?.longitudeLine,
          wordWrapStyle: !propertyStyle?.content?.wordWrap,
          widthFitStyle: propertyStyle?.widthConfig === '最佳比例',
        }, groupTableType]"
        v-show="tableData.length !== 0"
        :columns="columns"
        :data="tableData"
        :border="propertyStyle && propertyStyle.content && propertyStyle.content.horizontalLine && propertyStyle.content.longitudeLine"
        :max-height="propertyStyle && propertyStyle.header && propertyStyle.header.freezeHeader ? fixedHeaderHeight : ''"
        :show-summary="propertyData.configData.isOpenTotal"
        :summary-method="handleSummary"
        disabled-hover
        :span-method="handleSpan"
        row-key="id">
        <template v-for="(dimension, index) in dimensionIds" slot-scope="{ row }" :slot="dimension">
          <div class="group-item">
            <template v-if="groupTableType === 'multiple'">
              <img
                :src="row[`retract${index + 1}`] ? expand : retract"
                v-if="row[`rowSpan${index + 1}`] > 1 || row[`retract${index + 1}`]"
                @click="onExpand(row, index)" />
            </template>
            <template v-if="groupTableType === 'list'">
              <img
                :src="row[`expand${index + 1}`] ? retract : expand"
                v-if="index < dimensionIds.length - 1 && (row[`retract${index + 1}`] || row[`expand${index + 1}`])"
                @click="onExpand(row, index)" />
            </template>
            <span :class="{indent: row[`indent${index + 1}`]}">{{ row[dimension] }}</span>
          </div>
        </template>
      </Table>
    </div>
  </div>
</template>

<script>
import retract from '@/assets/icons/chart/group_table/retract.svg'
import expand from '@/assets/icons/chart/group_table/expand.svg'
import { mapGetters } from 'vuex'
import _ from 'lodash'
import NoData from '@/view/components/no-data'
import BaseChart from '@/view/report/chart/basics/BaseChart.vue'
import multiple from '@/view/report/chart/GroupTable/multiple'
import list from '@/view/report/chart/GroupTable/list'
import tree from '@/view/report/chart/GroupTable/tree'
import style from '@/view/report/chart/GroupTable/style'
import { deepCopy } from '@/utils/common'
import BigNumber from 'bignumber.js'

export default {
  name: 'GroupTable',
  extends: BaseChart,
  mixins: [multiple, list, tree, style],
  components: {
    NoData,
  },
  props: {
    chartId: {
      type: String,
      default: null,
    },
    propertyData: {
      type: Object,
      default: null,
    },
    propertyStyle: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      loading: false,
      retract, // 收起按钮
      expand, // 展开按钮
      columns: [],
      tableData: [],
      dimensionMemberExpandStatus: {}, // 所有维成员的展开状态 { '江苏省_南京市_建邺区': true }
      headers: [], // 接口返回的数据的headers，用于对应数据的下标
      currentData: [], // 当前数据
      momData: [], // 环比数据
      yoyData: [], // 同比数据
      errorCode: null, // 错误码
    }
  },
  computed: {
    ...mapGetters(['allDimensions', 'allIndicators']),
    dimensionIds() {
      return this.propertyData?.dimension ?? []
    },
    // 分组类型 multiple-多列展示 list-列表展示 tree-列表展示
    groupTableType() {
      return this.propertyData.configData.groupTableType
    },
  },
  mounted() {
    this.refreshData()
  },
  methods: {
    /**
     * 根据维度和指标，构建表头
     */
    buildColumns() {
      this.columns = this.groupTableType === 'tree' ? this.buildTreeTableColumns() : this.buildListTableColumns()
      this.columns = this.buildTableWidthAndResizable(this.columns, this.propertyStyle?.widthConfig)
    },

    /**
     * 构建列表形式表格的列--用于multiple/list
     */
    buildListTableColumns() {
      let columns = []

      // 维度
      this.dimensionIds.forEach(id => {
        const dimension = this.allDimensions.find(item => Number(item.id) === Number(id))
        if (dimension) {
          let column = {
            title: dimension.name,
          }
          column.slot = String(id)
          column.key = String(id) // 需要有key，否则自定义合计会导致渲染报错
          columns.push(column)
        }
      })

      // 指标
      const indicatorsColumns = this.buildColumnsByIndicators()
      columns.push(...indicatorsColumns)

      return columns
    },

    /**
     * 构建树状形式表格的列--用于tree
     */
    buildTreeTableColumns() {
      let columns = []

      // 维度，key为id，id为所有维度的值用/拼接
      let dimensionNames = []
      this.dimensionIds.forEach(id => {
        const dimension = this.allDimensions.find(item => Number(item.id) === Number(id))
        if (dimension) {
          dimensionNames.push(dimension.name)
        }
      })
      columns.push({
        key: 'title',
        tree: true,
        title: dimensionNames.join('/'),
      })

      // 指标
      const indicatorsColumns = this.buildColumnsByIndicators()
      columns.push(...indicatorsColumns)

      return columns
    },

    /**
     * 根据指标构建表格的列
     */
    buildColumnsByIndicators() {
      let indicatorsColumns = []

      const { indicator: indicatorList, configData } = this.propertyData
      indicatorList.forEach(indicator => {
        const fastCalculate = configData[`${indicator.id}_fast_calculate`]
        const monthOnMonth = configData[`${indicator.id}_month_on_month`]
        const yearOnYear = configData[`${indicator.id}_year_on_year`]
        const ratio = configData[`${indicator.id}_ratio`]
        const numberUnit = configData[`${indicator.id}_number_unit`]
        const showNumberUnit = configData[`${indicator.id}_show_number_unit`]
        const numberUnitStr = showNumberUnit ? numberUnit === 'origin' ? '' : numberUnit === 'wan' ? '万' : '亿' : ''

        let columnItem = {}
        const title = this.propertyData.configData[`${indicator.id}_alias`] || indicator.abbrName
        if ((fastCalculate && (monthOnMonth.open || yearOnYear.open)) || ratio) {
          // 如果开启快速计算并且开启环比/同比，或者开启占比，则表头需要分组
          columnItem = {
            title: numberUnitStr ? `${title}(${numberUnitStr})` : title,
            key: indicator.id,
            children: [
              {
                title: '当前',
                key: indicator.id,
              },
            ],
          }

          if (fastCalculate) {
            // 开启快速计算
            if (monthOnMonth.open) {
              // 开启环比
              columnItem.children.push({
                title: monthOnMonth.title,
                key: `${indicator.id}_month_on_month`,
                render: this.trendRender(indicator, 'monthOnMonth'),
              })
            }
            if (yearOnYear.open) {
              // 开启同比
              columnItem.children.push({
                title: yearOnYear.title,
                key: `${indicator.id}_year_on_year`,
                render: this.trendRender(indicator, 'yearOnYear'),
              })
            }
          }

          if (ratio) {
            // 开启占比
            columnItem.children.push({
              title: '占比',
              key: `${indicator.id}_ratio`,
            })
          }
        } else {
          columnItem = {
            title: numberUnitStr ? `${title}(${numberUnitStr})` : title,
            key: indicator.id,
          }
        }

        indicatorsColumns.push(columnItem)
      })

      // 合并表头设置，过滤未分组，未分组的id为1
      const theadMerge = configData.theadMerge?.filter(item => item.id !== 1)
      if (theadMerge?.length) {
        for (let theadMergeItem of theadMerge) {
          const groupList = theadMergeItem.groupList
          if (groupList.length) {
            // 遍历分组中的指标，如果存在，则放入children中
            let columnGroup = {
              title: theadMergeItem.groupName,
              align: 'center',
              children: [],
            }
            for (let groupIndicator of groupList) {
              const columnIndex = indicatorsColumns.findIndex(item => Number(item.key) === Number(groupIndicator.id))
              if (columnIndex > -1) {
                columnGroup.children.push(indicatorsColumns[columnIndex])
                indicatorsColumns.splice(columnIndex, 1)
              }
            }
            // 如果children中存在列，则将分组放入columns中
            if (columnGroup.children.length) {
              indicatorsColumns.push(columnGroup)
            }
          }
        }
      }

      return indicatorsColumns
    },

    /**
     * 请求接口，刷新数据
     */
    async refreshData() {
      this.tableData = []
      let { startDate, endDate } = this.getChartPrivateDate()
      const privateDate = { startDate, endDate }
      const { indicator, dimension } = this.propertyData
      if (dimension.length && indicator.length) {
        this.loading = true
        let propertyCopy = deepCopy(this.propertyData)
        propertyCopy.indicator = propertyCopy.indicator.map(item => {
          return {
            ...item,
            useCompare: true,
            useThreshold: true,
            useProportion: false,
          }
        })
        let topVal = null
        if (propertyCopy.dimension.length) {
          if (this.propertyData.configData?.openTop?.indicatorId && this.propertyData.configData?.openTop?.topNum) {
            topVal = this.propertyData.configData.openTop
          }
        }
        const indUseCompare = propertyCopy.indicator.some(item => item.useCompare)
        const sameCompareType = this.getSameCompareType()
        this.queryMoreCompareChartData(propertyCopy, privateDate, topVal, indUseCompare, sameCompareType).then((res) => {
          this.loading = false
          let errors = res.data?.errors
          if (errors) {
            let errorsKeys = Object.keys(errors)
            if (errorsKeys.length) {
              this.errorCode = errors[errorsKeys[0]].code
              return
            }
          }
          if (res.state === 'success') {
            const { headers, currentData, momData, yoyData } = res.data
            if (currentData.length) {
              // 给数据排序，因为后台返回的当前数据和环比数据顺序不一致
              currentData?.sort()
              this.buildColumns()
              if (this.groupTableType !== 'tree') {
                this.setExpandStatus(headers, currentData)
              }
              const newCurrentData = this.processDataAsObject(headers, currentData)
              const newMomData = this.processDataAsObject(headers, momData)
              let newYoyData = {}
              for (let yoyDataKey in yoyData) {
                newYoyData[yoyDataKey] = this.processDataAsObject(headers, yoyData[yoyDataKey], true)
              }
              this.headers = headers
              this.currentData = newCurrentData
              this.momData = newMomData
              this.yoyData = newYoyData
              this.buildTableData({
                headers,
                currentData: newCurrentData,
                momData: newMomData,
                yoyData: newYoyData,
              })
              this.errorCode = null
            } else {
              this.errorCode = '000000'
            }
          } else {
            this.errorCode = res.errorCode
            this.tableData = []
          }
        })
        this.$emit('changeDefaultShow', false)
      } else {
        this.showDefaultData()
        this.errorCode = null
      }
    },

    /**
     * 加工数据为对象格式
     * 包含维度值拼接的id，维度、指标id作为key
     */
    processDataAsObject(headers, data, isYearOnYear) {
      if (!data) return data

      let newData = []
      const { dimension: dimensionIdList, indicator: indicatorList } = this.propertyData

      for (let dataItem of data) {
        let newDataItem = {}
        let idList = []

        // 遍历维度
        for (let dimensionId of dimensionIdList) {
          const valueIndex = headers.findIndex(header => Number(header) === Number(dimensionId))
          if (valueIndex > -1) {
            const value = dataItem[valueIndex]
            newDataItem[dimensionId] = value
            idList.push(value)
          }
        }

        newDataItem.id = idList.join('_') // id由维度的值拼接

        // 遍历指标
        for (let indicator of indicatorList) {
          // 如果是同比数据，同比数据里只有当前指标的值，没有其他指标的值，所以该值的下标就是维度的长度
          const valueIndex = isYearOnYear ? dimensionIdList.length : headers.findIndex(header => Number(header) === Number(indicator.id))
          if (valueIndex > -1) {
            const value = isYearOnYear ? dimensionIdList.length : dataItem[valueIndex]
            const numberType = indicator.showType === 0 ? '123' : '%'
            newDataItem[indicator.id] = this.processDataByNumberFormat(value, indicator, numberType)
          }
        }

        newData.push(newDataItem)
      }

      return newData
    },

    /**
     * 快速计算同比参数获取
     */
    getSameCompareType() {
      let sameCompareType = {}
      const { indicator: indicatorList, configData } = this.propertyData

      // 遍历指标
      for (let indicator of indicatorList) {
        const fastCalculate = configData[`${indicator.id}_fast_calculate`]

        if (fastCalculate) {
          // 如果指标开启了快速计算
          const yearOnYear = configData[`${indicator.id}_year_on_year`]
          const { open, type } = yearOnYear
          if (open) {
            // 如果开启了同比
            sameCompareType[indicator.id] = {
              yearOnYearTypeValue: type === 'years' ? 'yoy' : 'mom', // 区分年同比、月同比
            }
          }
        }
      }

      return sameCompareType
    },

    /**
     * 设置展开状态
     * @param headers
     * @param currentData
     */
    setExpandStatus(headers, currentData) {
      let dimensionMemberList = []

      // 通过遍历维度列表，每个维度中的维成员去重
      this.dimensionIds.forEach((dimensionId, dimensionIdIndex) => {
        const dimensionMember = _.uniq(currentData.map(currentDataItem => {
          let list = []
          for (let i = 0; i <= dimensionIdIndex; i++) {
            const dataIndex = headers.findIndex(item => Number(item) === Number(this.dimensionIds[i]))
            if (dataIndex > -1) {
              list.push(currentDataItem[dataIndex])
            }
          }
          return list.join('_')
        }))
        dimensionMemberList.push(...dimensionMember)
      })

      // 展开状态默认都为false，收起
      dimensionMemberList.forEach(item => {
        this.dimensionMemberExpandStatus[item] = !!this.propertyStyle?.expandAll
      })
    },

    /**
     * 构建表格数据
     */
    buildTableData(res) {
      if (this.groupTableType === 'multiple') {
        this.buildMultipleColumnTable(res)
      } else if (this.groupTableType === 'list') {
        this.buildListTable(res)
      } else if (this.groupTableType === 'tree') {
        this.buildTreeTable(res)
      }
      this.$nextTick(() => {
        this.tableRef = this.$refs['tableContent']
        this.handleChangeTheadStyle()
        this.handleChangeTbodyStyle()
        this.handleChangeDrawAreaStyle()
        this.handleChangeWidthStyle()
        if (this.propertyData.configData.isOpenTotal) {
          this.handleChangeTotalStyle()
        }
      })
    },

    /**
     * 根据表格的列，构建表格数据
     * @param res
     */
    buildTableDataByColumns(res) {
      const { currentData, momData, yoyData } = res
      const { indicator: indicatorList, configData } = this.propertyData
      let data = []

      for (let currentDataItem of currentData) {
        let dataItem = { ...currentDataItem }

        for (let indicator of indicatorList) {
          // 快速计算
          const fastCalculate = configData[`${indicator.id}_fast_calculate`]
          if (fastCalculate) {
            // 环比
            const monthOnMonth = configData[`${indicator.id}_month_on_month`]
            if (momData && monthOnMonth?.open) {
              dataItem[`${indicator.id}_month_on_month`] = this.getMonthOnMonthValue(momData, monthOnMonth, currentDataItem, indicator)
            }

            // 同比
            const yearOnYear = configData[`${indicator.id}_year_on_year`]
            if (yoyData && yearOnYear?.open) {
              dataItem[`${indicator.id}_year_on_year`] = this.getYearOnYearValue(yoyData, yearOnYear, currentDataItem, indicator)
            }
          }

          // 占比
          const ratio = configData[`${indicator.id}_ratio`]
          if (ratio) {
            // 如果打开占比，当前值占总值的比例就是占比
            dataItem[`${indicator.id}_ratio`] = this.getRatioValue(currentData, currentDataItem, indicator)
          }
        }

        data.push(dataItem)
      }

      return data
    },

    /**
     * 获取环比的值
     * @param momData 所有的环比数据
     * @param monthOnMonth 环比的配置
     * @param currentDataItem 当前数据项
     * @param indicator 指标
     */
    getMonthOnMonthValue(momData, monthOnMonth, currentDataItem, indicator) {
      // 找到同比中与当前维成员都一致的那条数据
      const momDataItemIndex = momData.findIndex(momDataItem => momDataItem.id === currentDataItem.id)
      if (momDataItemIndex > -1) {
        const isPercent = currentDataItem[indicator.id].includes('%')
        const momDataItem = momData[momDataItemIndex]
        const currentValue = new BigNumber(currentDataItem[indicator.id].replace(/[,%]|-{2}/g, ''))
        const momValue = momDataItem[indicator.id].replace(/[,%]|-{2}/g, '')

        // 如果numberType为%，值为增长的比例
        let value = monthOnMonth.numberType === '123' ? currentValue.minus(momValue) : currentValue.minus(momValue).div(momValue)
        if (isPercent && monthOnMonth.numberType === '123') {
          // 如果指标数值格式为百分比，但是环比选择的数值，则需要除以100，因为下面的处理函数会乘以100
          value = value.div(100)
        }
        const numberType = isPercent ? '%' : monthOnMonth.numberType

        return this.processDataByNumberFormat(value, indicator, numberType)
      } else {
        return '--'
      }
    },

    /**
     * 获取同比的值
     * @param yoyData 所有的同比数据
     * @param yearOnYear 同比的配置
     * @param currentDataItem 当前数据项
     * @param indicator 指标
     */
    getYearOnYearValue(yoyData, yearOnYear, currentDataItem, indicator) {
      // 找到同比中与当前维成员都一致的那条数据
      const yoyDataItemIndex = yoyData[indicator.id].findIndex(yoyDataItem => yoyDataItem.id === currentDataItem.id)
      if (yoyDataItemIndex > -1) {
        const yoyDataItem = yoyData[indicator.id][yoyDataItemIndex]
        const currentValue = new BigNumber(currentDataItem[indicator.id].replace(/[,%]|-{2}/g, ''))
        const yoyValue = yoyDataItem[indicator.id].replace(/[,%]|-{2}/g, '')
        // 如果numberType为%，值为增长的比例
        const value = yearOnYear.numberType === '123' ? currentValue.minus(yoyValue) : currentValue.minus(yoyValue).div(yoyValue)
        return this.processDataByNumberFormat(value, indicator, yearOnYear.numberType)
      } else {
        return '--'
      }
    },

    /**
     * 获取占比的值
     * @param currentData 所有的当前数据
     * @param currentDataItem 当前数据项
     * @param indicator 指标
     */
    getRatioValue(currentData, currentDataItem, indicator) {
      // 如果打开占比，当前值占总值的比例就是占比
      let total = currentData?.reduce((accumulator, currentValue) => {
        // 计算时先去掉符号
        const newCurrentValue = Number(currentValue[indicator.id].replace(/[,%]|-{2}/g, ''))
        return new BigNumber(accumulator).plus(newCurrentValue)
      }, 0)
      // 计算时先去掉符号
      const currentValue = new BigNumber(currentDataItem[indicator.id].replace(/[,%]|-{2}/g, ''))
      const value = new BigNumber(currentValue).div(total)
      return this.processDataByNumberFormat(value, indicator, '%', false)
    },

    /**
     * 根据数值格式，处理数据
     */
    processDataByNumberFormat(data, indicator, numberType = '123', useNumberUnit = true) {
      if (data === '--') {
        return data
      }

      // 先转为大数
      data = new BigNumber(data)

      // 数值单位
      if (useNumberUnit) {
        const numberUnit = this.propertyData.configData[`${indicator.id}_number_unit`]
        if (numberUnit === 'wan') {
          data = BigNumber(data).div(10000)
        }
        if (numberUnit === 'yi') {
          data = BigNumber(data).div(10000).div(10000)
        }
      }

      if (numberType === '%') {
        // 如果选择的是%
        data = data.times(100)
      }

      // 是否使用千分位分隔符
      const useThousandSeparator = this.propertyData.configData[`${indicator.id}_use_thousand_separator`]
      // 小数位数
      const decimal = this.propertyData.configData[`${indicator.id}_decimal`]
      if (decimal) {
        data = useThousandSeparator ? data.toFormat(decimal) : data.toFixed(decimal)
      }

      if (numberType === '%') {
        // 如果选择的是%
        data = data + '%'
      }

      return data
    },

    /**
     * 根据展开状态构建表格数据
     * @param data
     */
    buildExpandTableData(data) {
      // 遍历dimensionMemberExpandStatus
      for (let dimensionMember in this.dimensionMemberExpandStatus) {
        const expand = this.dimensionMemberExpandStatus[dimensionMember]
        const index = dimensionMember.split('_').length - 1 // 判断该维成员存在几个维度
        // 需要展开/收起的数据
        let expandData = data.filter(dataItem => {
          let list = []
          for (let i = 0; i <= index; i++) {
            list.push(dataItem[this.dimensionIds[i]])
          }
          return dimensionMember === list.join('_')
        })

        if (expand) {
          // 列表展示，相同维成员只有第一个展示收起按钮，expand${index}: true
          expandData.forEach((expandDataItem, expandDataIndex) => {
            if (expandDataIndex === 0) {
              expandDataItem[`expand${index + 1}`] = true
            } else {
              expandDataItem[`indent${index + 1}`] = true
            }
          })
        } else {
          // 如果是收起状态，移除该维成员数据，只保留到当前维度和指标的总计
          if (expandData.length > 1) {
            // 找到第一个收起的数据
            const firstDataIndex = data.findIndex(dataItem => {
              let list = []
              for (let i = 0; i <= index; i++) {
                list.push(dataItem[this.dimensionIds[i]])
              }
              return dimensionMember === list.join('_')
            })

            // 计算指标的总计，删除收起的数据
            let totalDataItem = { [`retract${index + 1}`]: true }
            // 如果收起的数据第一项中有包含expand/indent的属性，需保留
            for (let key in expandData[0]) {
              if (key.includes('expand') || key.includes('indent')) {
                totalDataItem[key] = expandData[0][key]
              }
            }

            const { dimension: dimensionIdList, indicator: indicatorList, configData } = this.propertyData

            // 收起维度后，只展示收起维度以及之前维度的维成员
            const dimensionNumber = dimensionMember.split('_').length // length为多少，表示由几个维成员组成
            for (let i = 0; i < dimensionNumber; i++) {
              const dimensionId = dimensionIdList[i]
              totalDataItem[dimensionId] = expandData[0][dimensionId]
            }
            // 收起维度后，指标显示合计值
            for (let indicator of indicatorList) {
              let isPercent = false // 是否携带百分号
              let total = expandData.reduce((accumulator, currentValue) => {
                if (currentValue[indicator.id].includes('%')) {
                  // 只要有一个值带有百分号，最后相加的结果就需要带上百分号
                  isPercent = true
                }
                const newCurrentValue = Number(currentValue[indicator.id].replace(/[,%]|-{2}/g, ''))
                return new BigNumber(accumulator).plus(newCurrentValue)
              }, 0)
              if (isPercent) {
                total = total.div(100)
              }
              const isAllNaN = expandData.every(item => item[indicator.id].includes('--'))
              if (isAllNaN) {
                total = '--'
              }
              const numberType = isPercent ? '%' : '123'
              totalDataItem[indicator.id] = this.processDataByNumberFormat(total, indicator, numberType)

              // 快速计算
              const fastCalculate = configData[`${indicator.id}_fast_calculate`]
              if (fastCalculate) {
                // 环比
                const monthOnMonth = configData[`${indicator.id}_month_on_month`]
                if (monthOnMonth?.open) {
                  let isPercent = false // 是否携带百分号
                  let total = expandData.reduce((accumulator, currentValue) => {
                    if (currentValue[`${indicator.id}_month_on_month`].includes('%')) {
                      // 只要有一个值带有百分号，最后相加的结果就需要带上百分号
                      isPercent = true
                    }
                    const newCurrentValue = Number(currentValue[`${indicator.id}_month_on_month`].replace(/[,%]|-{2}/g, ''))
                    return new BigNumber(accumulator).plus(newCurrentValue)
                  }, 0)
                  if (isPercent) {
                    total = total.div(100)
                  }
                  const isAllNaN = expandData.every(item => item[`${indicator.id}_month_on_month`].includes('--'))
                  if (isAllNaN) {
                    total = '--'
                  }
                  const numberType = isPercent ? '%' : '123'
                  totalDataItem[`${indicator.id}_month_on_month`] = this.processDataByNumberFormat(total, indicator, numberType)
                }

                // 同比
                const yearOnYear = configData[`${indicator.id}_year_on_year`]
                if (yearOnYear?.open) {
                  let isPercent = false // 是否携带百分号
                  let total = expandData.reduce((accumulator, currentValue) => {
                    if (currentValue[`${indicator.id}_year_on_year`].includes('%')) {
                      // 只要有一个值带有百分号，最后相加的结果就需要带上百分号
                      isPercent = true
                    }
                    const newCurrentValue = Number(currentValue[`${indicator.id}_year_on_year`].replace(/[,%]|-{2}/g, ''))
                    return new BigNumber(accumulator).plus(newCurrentValue)
                  }, 0)
                  if (isPercent) {
                    total = total.div(100)
                  }
                  const isAllNaN = expandData.every(item => item[`${indicator.id}_year_on_year`].includes('--'))
                  if (isAllNaN) {
                    total = '--'
                  }
                  const numberType = isPercent ? '%' : '123'
                  totalDataItem[`${indicator.id}_year_on_year`] = this.processDataByNumberFormat(total, indicator, numberType)
                }
              }

              // 占比
              const ratio = configData[`${indicator.id}_ratio`]
              if (ratio) {
                let isPercent = false // 是否携带百分号
                let total = expandData.reduce((accumulator, currentValue) => {
                  if (currentValue[`${indicator.id}_ratio`].includes('%')) {
                    // 只要有一个值带有百分号，最后相加的结果就需要带上百分号
                    isPercent = true
                  }
                  const newCurrentValue = Number(currentValue[`${indicator.id}_ratio`].replace(/[,%]|-{2}/g, ''))
                  return new BigNumber(accumulator).plus(newCurrentValue)
                }, 0)
                if (isPercent) {
                  total = total.div(100)
                }
                const isAllNaN = expandData.every(item => item[`${indicator.id}_ratio`].includes('--'))
                if (isAllNaN) {
                  total = '--'
                }
                const numberType = isPercent ? '%' : '123'
                totalDataItem[`${indicator.id}_ratio`] = this.processDataByNumberFormat(total, indicator, numberType)
              }
            }

            data.splice(firstDataIndex, expandData.length, totalDataItem)
          }
        }
      }
    },

    /**
     * 合计方法
     */
    handleSummary({ columns, data }) {
      let sums = {}
      const { dimension: dimensionIdList, indicator: indicatorList } = this.propertyData

      if (!dimensionIdList.length || !indicatorList.length) {
        sums = this.handleCommonSummary(columns, data)
      } else {
        sums = this.handleSlotSummary(columns, data)
      }

      return sums
    },

    /**
     * 常规表头（不带slot）的合计方式
     * @param columns
     * @param data
     */
    handleCommonSummary(columns, data) {
      const sums = {}
      columns.forEach((column, index) => {
        const key = column.key
        if (index === 0) {
          sums[key] = {
            key,
            value: '合计',
          }
          return
        }
        const values = data.map(item => Number(item[key]))
        if (!values.every(value => isNaN(value))) {
          const v = values.reduce((prev, curr) => {
            const value = Number(curr)
            if (!isNaN(value)) {
              return prev + curr
            } else {
              return prev
            }
          }, 0)
          sums[key] = {
            key,
            value: v + ' 元',
          }
        } else {
          sums[key] = {
            key,
            value: '--',
          }
        }
      })

      return sums
    },

    /**
     * 表头带有slot的合计方式
     * @param columns
     * @param data
     */
    handleSlotSummary(columns, data) {
      const sums = {}
      const { dimension: dimensionIdList, indicator: indicatorList, configData } = this.propertyData
      columns.forEach((column, index) => {
        const key = column.key

        if (index === 0) {
          sums[key] = {
            key,
            value: '合计',
          }
          return
        }

        if (index < dimensionIdList.length) {
          // 维度不显示合计
          sums[key] = {
            key,
            value: '',
          }
          return
        }

        const indicator = indicatorList.find(item => item.id === key)
        if (indicator) {
          const total = this.getTotalValueByColumnKey(data, indicator, key)
          sums[key] = {
            key,
            value: total,
          }
        } else {
          // 环比、同比、占比
          const fastCalculate = configData[key]
          if (fastCalculate?.open || fastCalculate) { // 环比、同比有属性open，占比没有
            // 环比、同比、占比，通过split分解后的第一项为指标id，查找对应指标
            const indicator = indicatorList.find(item => item.id === key.split('_')[0])
            if (indicator) {
              const total = this.getTotalValueByColumnKey(data, indicator, key)
              sums[key] = {
                key,
                value: total,
              }
            }
          }
        }
      })

      return sums
    },

    /**
     * 合计-根据列的key获取合计值
     * @param data 当前列的所有值
     * @param indicator 指标
     * @param key 列的key
     */
    getTotalValueByColumnKey(data, indicator, key) {
      let total = 0
      const values = data.map(item => String(item[key]))
      const isAllNaN = values.every(value => value.includes('--'))
      let isPercent = false // 是否携带百分号
      total = values.reduce((accumulator, currentValue) => {
        if (currentValue.includes('%')) {
          // 只要有一个值带有百分号，最后相加的结果就需要带上百分号
          isPercent = true
        }
        const newCurrentValue = Number(currentValue.replace(/[,%]|-{2}/g, ''))
        return new BigNumber(accumulator).plus(newCurrentValue)
      }, 0)
      const numberType = isPercent ? '%' : '123'
      if (isPercent) {
        total = total.div(100)
      }
      if (isAllNaN) {
        total = '--'
      }

      return this.processDataByNumberFormat(total, indicator, numberType)
    },

    /**
     * 合并单元格的方法
     * @param row
     * @param column
     * @param rowIndex
     * @param columnIndex
     */
    handleSpan({ row, column, rowIndex, columnIndex }) {
      if (row[`rowSpan${columnIndex + 1}`] && row[`rowSpan${columnIndex + 1}`] > 1 && columnIndex < this.dimensionIds.length) {
        return [row[`rowSpan${columnIndex + 1}`], 1]
      }
      if (row[`rowSpan${columnIndex + 1}`] < 1 && columnIndex < this.dimensionIds.length) {
        return [0, 0]
      }
    },

    /**
     * 展开/收起
     * 通过修改data，监听data变化，构建tableData，通过tableData渲染表格
     * @param row
     * @param index
     */
    onExpand(row, index) {
      let list = []
      for (let i = 0; i <= index; i++) {
        list.push(row[this.dimensionIds[i]])
      }
      const dimensionMember = list.join('_')
      const expand = this.dimensionMemberExpandStatus[dimensionMember]
      this.dimensionMemberExpandStatus[dimensionMember] = !expand
      this.buildTableData({
        headers: this.headers,
        currentData: this.currentData,
        momData: this.momData,
        yoyData: this.yoyData,
      })
    },

    /**
     * 表格初始数据
     */
    showDefaultData() {
      this.$emit('changeDefaultShow', true)
      let title = [
        {
          key: 'dimension',
          title: '维度',
          resizable: true,
        },
        {
          key: 'indicator1',
          title: '指标',
          resizable: true,
        },
        {
          key: 'indicator2',
          title: '指标',
        },
      ]
      this.columns = this.buildTableWidthAndResizable(title, '适应宽度')
      this.tableData = [
        {
          dimension: '指标名称',
          indicator1: 56457.98,
          indicator2: 457.98,
        },
        {
          dimension: '指标名称',
          indicator1: 56457.98,
          indicator2: 57.98,
        },
      ]
    },

    /**
     * 表头title计算宽度
     * @param title
     * @returns {*}
     */
    buildTableWidthAndResizable(title, widthConfig) {
      title.forEach((item, index) => {
        if (index !== title.length - 1) {
          item.resizable = true
        }
        if (widthConfig === '最佳比例') {
          item.minWidth = 90
        }
      })
      return title
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .ivu-table-wrapper.tree .ivu-table-cell {
  display: inline-flex;
}

/deep/ .ivu-table-cell {
  .ivu-icon {
    cursor: pointer;
  }

  .ivu-icon-ios-remove:before {
    content: url('~@/assets/icons/chart/group_table/retract.svg');
  }

  .ivu-icon-ios-add:before {
    content: url('~@/assets/icons/chart/group_table/expand.svg');
  }
}

.group-table {
  padding: 12px;

  /deep/ .ivu-table {
    th {
      background: #ccdaff;
      color: #000000;
      text-align: center;
    }

    td {
      text-align: center;
    }

    .ivu-table-summary td {
      background: #ccdaff;
      color: #000000;
      font-weight: bold;
      text-align: center;
    }

    .group-item {
      display: flex;
      justify-content: center;

      > img {
        margin-right: 5px;
        cursor: pointer;
      }

      .indent {
        padding-left: 21px;
      }
    }
  }
}

/deep/ .ivuTableStyle .ivu-table {
  background: transparent;

  .ivu-table-row {
    background: transparent;

    td {
      background: transparent;
      border: 1px solid transparent;
    }
  }

  .ivu-table-header thead tr {
    th {
      background: transparent;
      border: 1px solid transparent;
    }
  }

  .ivu-table-summary {
    border: 1px solid transparent;
  }
}


.tableClass /deep/ .ivu-table {
  .ivu-table-cell-tooltip-content {
    white-space: normal;
  }

  .ivu-table-cell {
    width: 100%;

    .ivu-tooltip-rel {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .ivu-table-cell > span:first-child {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(~'100% - 20px');
  }

  .ivu-table-summary .ivu-table-cell > span:first-child {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .linkCell {
    background: rgba(63, 115, 255, 0.1) !important;
  }
}

/deep/ .ivu-table:before {
  height: 0;
}

/deep/ .ivu-table:after {
  width: 0;
}

/deep/ .ivu-table-wrapper {
  border: none;
}

.breakStyle /deep/ .ivu-table {
  .ivu-table-cell > span.ivu-table-cell-sort {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th > .ivu-table-cell > span {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}

.noBorderStyle /deep/ .ivu-table td {
  border-bottom: none;
}

.borderLongStyle {
  /deep/ .ivu-table td, /deep/ .ivu-table th {
    border-right: 1px solid #e8eaec;
  }

  /deep/ .ivu-table td:first-child, /deep/ .ivu-table th:first-child {
    border-left: 1px solid #e8eaec;
  }
}

.widthFitStyle {
  /deep/ .ivu-table-cell-tooltip {
    width: fit-content;
    margin: 0 auto;
  }

  /deep/ .ivu-table-summary .ivu-table-cell > span:first-child {
    overflow: unset !important;
    white-space: nowrap;
  }
}

.table-all {
  border: 1px solid #dcdee2;
  padding-left: 1px;
  overflow: hidden;
  margin-bottom: 65px;
}

.wordWrapStyle {
  /deep/ .ivu-table td > .ivu-table-cell > span {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }
}


.drillDownItem {
  margin-right: 5px;
  cursor: pointer;
}

.drillDownActive {
  color: #3f73ff;
}

/deep/ .ivuTableStyle .ivu-table {
  background: transparent;

  .ivu-table-row {
    background: transparent;

    td {
      background: transparent;
      border: 1px solid transparent;
    }
  }

  .ivu-table-header thead tr {
    th {
      background: transparent;
      border: 1px solid transparent;
    }
  }

  .ivu-table-summary {
    border: 1px solid transparent;
  }
}

.pageShowTotal {
  /deep/ .ivu-page-options-elevator input {
    margin-right: 40px;
  }
}
</style>
