<template>
  <div class="indicator-container">
    <div class="white-box indicator-tree">
      <div class="indicator-manage-title">指标详情</div>
      <IndicatorSelectTree
        ref="indicatorSelectTree"
        @selectResourcesChange="selectResourcesChange"
        @deleteIndicator="deleteIndicator"
        @addIndicator="handleAddIndicator"
        :expand-all="false" />
    </div>
    <div class="indicator-info">
      <ActionButtonList
        :current-tab="currentTab"
        :current-indicator-node="currentIndicatorNode"
        :show-edit-btn="showEditBtn"
        :check-loading="checkLoading"
        @on-back="goBackIndicatorManagement"
        @on-edit="onEditIndicator"
        @on-reset="onResetIndicator"
        @on-save="onSaveIndicator" />
      <IndicatorDetailTab
        :current-tab="currentTab"
        :business-model-tree-data="businessModelTreeData"
        :group-tree-data="groupTreeData"
        :tree-data="treeData"
        @on-change="onTabChange"
        @on-indicator-version-change="onIndicatorVersionChange" />
    </div>

    <SqlSearchModal />

    <!-- 确认删除弹框 -->
    <DeleteAssetModal :show.sync="showDeleteModal" :deleted-asset="deletedAsset" :data="resourceList" />

    <!-- 保存失败弹框 -->
    <SaveFailModal :show.sync="showSaveFailModal" :list="saveFailIndicatorList" />
  </div>
</template>

<script>
import IndicatorSelectTree from '@/view/report/indicator/IndicatorDetail/components/IndicatorSelectTree.vue'
import ActionButtonList from '@/view/report/indicator/IndicatorDetail/components/ActionButtonList.vue'
import actionButtonListMixin from '@/view/report/indicator/IndicatorDetail/mixins/action-button-list'
import saveIndicator from '@/view/report/indicator/IndicatorDetail/mixins/save-indicator'
import resetIndicator from '@/view/report/indicator/IndicatorDetail/mixins/reset-indicator'
import getIndicatorDetail from '@/view/report/indicator/IndicatorDetail/mixins/get-indicator-detail'
import indicatorSelectTree from '@/view/report/indicator/IndicatorDetail/mixins/indicator-select-tree'
import IndicatorDetailTab from '@/view/report/indicator/IndicatorDetail/components/IndicatorDetailTab.vue'
import SqlSearchModal from '@/view/report/indicator/IndicatorDetail/components/SqlSearchModal.vue'
import AssetsLabel from '@/view/report/components/AssetsLabel.vue'
import assetsLabelMixin from '../../mixin/assetsLabelMixin'
import treeMixin from '../../mixin/treeMixin'
import indicatorMixin from '../../mixin/indicatorMixin'
import { mapGetters } from 'vuex'
import DeleteAssetModal from '@/view/components/DeleteAssetModal/index.vue'
import deleteAsset from '@/mixins/deleteAsset'
import SaveFailModal from '@/view/report/indicator/IndicatorDetail/components/BasicInfo/components/SaveFailModal.vue'
import { deepCopy } from '@/utils/common.js'
import { getIndicatorTreeData } from '@/api/indicator'
import dataAuth from '@/mixins/dataAuth'

export default {
  name: 'IndicatorDetail',
  mixins: [
    actionButtonListMixin,
    saveIndicator,
    resetIndicator,
    getIndicatorDetail,
    indicatorSelectTree,
    assetsLabelMixin,
    treeMixin,
    indicatorMixin,
    deleteAsset,
    dataAuth,
  ],
  components: {
    IndicatorSelectTree,
    ActionButtonList,
    IndicatorDetailTab,
    AssetsLabel,
    SqlSearchModal,
    DeleteAssetModal,
    SaveFailModal,
  },
  data() {
    return {
      showEditBtn: true, // 显示编辑按钮
      oldIndicatorVersion: 'V1.0.0', // 旧版本号，由接口详情返回
      currentTab: 'basicInfo',
      treeData: [], // 指标组树（包含分组和指标）
      allTreeData: [], // 完整的指标树
      originTreeData: [],
      businessModelTreeData: [], // 业务模型树
      groupTreeData: [], // 指标分组树
      checkLoading: false,
      businessModels: {}, // 判断是否通过业务模型获取血缘关系图数据
      indicatorDetailBak: null,
      showSaveFailModal: false,
      saveFailIndicatorList: [], // 原子指标保存失败时所关联的复合指标列表
      fromRoutePath: '', // 记录从哪个路由跳转过来（返回时使用）
      currentIndicatorNode: {}, // 当前选择的指标树节点
    }
  },
  created() {
    // 备份树的展开状态
    this.treeDataExpandStatusBak = []
    this.indicatorUsed = false // 指标是否被使用
    this.indicatorDetailBak = null // 备份，用于重置
    this.groupAndIndicator = {} // 用于构建各种树
    this.filterConditionsIndex = {} // 标记当前操作的过滤条件下标，用于sql校验
    this.sqlContentBak = null // sql内容备份
    this.currentFilterIndicator = null // 复合指标过滤条件，当前选中的原子指标
    this.oldSummaryMethod = null // 旧的汇总方式，指标详情接口获取，用于保存原子指标时对比汇总方式是否改变
  },
  mounted() {
    this.init()
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.fromRoutePath = from.path
    })
  },
  watch: {
    indicatorKind(newVal) {
      if (newVal === 3) {
        // 派生指标需要加载原子指标树，派生自选择框
        this.getBasicIndicatorTree()
      }
    },
  },
  computed: {
    ...mapGetters('indicator', ['columns']),
    // 汇总方式是否是nvl类型函数
    summaryMethodWithNvl() {
      return this.summaryMethod === 7 || this.summaryMethod === 8
    },
  },
  methods: {
    // 初始化
    async init() {
      // 解析query
      const { id, type, add, edit, derivedFrom, isCopy } = this.$route.query
      this.setIndicatorEditable(add === '1' || edit === '1')

      await this.fetchAllVersionList()
      await this.getBusinessModelTreeData()
      await this.getGroupAndIndicator()
      await this.getPublicVariableList()

      this.setIndicatorKind(Number(type) || (this.indicators[0].type ?? null))
      if (add === '1') {
        this.clearIndicator()
      } else if (id && edit === '1') {
        this.setIndicatorId(Number(id))
      } else {
        this.setIndicatorId(Number(id) || (this.indicators[0].id ?? null))
      }
      if (derivedFrom) {
        this.setDerivedFrom(derivedFrom)
      }
      if (this.indicatorId || isCopy) await this.getIndicatorDetail(id)
    },

    /**
     * tab变化
     * @param name
     */
    onTabChange(name) {
      this.currentTab = name
    },

    /**
     * 查看态，指标版本切换
     * @param indicatorId
     */
    onIndicatorVersionChange(indicatorId) {
      this.setIndicatorId(indicatorId)
      this.getIndicatorDetail()
    },

    /**
     * 获取分组及指标数据，用于构建各种树
     */
    async getGroupAndIndicator() {
      const res = await getIndicatorTreeData()
      if (res.data.state === 'success') {
        this.groupAndIndicator = {
          groupList: deepCopy(res.data.data.indicatorGroupList),
          indicatorList: deepCopy(res.data.data.indicatorList),
        }
        this.setIndicators(deepCopy(res.data.data.indicatorList))
        this.buildAssetGroups(deepCopy(res.data.data))
        this.buildAssetsGroupTree(deepCopy(res.data.data))
        this.buildIndicatorTree(deepCopy(res.data.data))
        this.getBasicIndicatorTree()
      } else {
        this.$Message.error('获取分组及指标失败')
      }
      this.$refs.indicatorSelectTree.refreshGroupAndIndicatorTree()
    },

    /**
     * 获取原子指标树，派生自选择框使用
     */
    getBasicIndicatorTree() {
      let { groupList, indicatorList } = this.groupAndIndicator
      let allData = [...groupList, ...indicatorList.filter(item => item.type === 1)]
      let root = [
        {
          id: -1,
          title: '指标组',
          expand: true,
          treeType: 'group',
          deep: 0,
        },
      ]
      const indicatorTree = this.generateTree(root, allData)
      this.setIndicatorTree(indicatorTree)
    },

    /**
     * 递归-生成指标树
     * @param parent 父节点
     * @param all 全部数据
     * @param deep 层级，根节点为0
     */
    generateTree(parent, all, deep = 1) {
      let tree = []

      for (let parentItem of parent) {
        let treeItem = { ...parentItem }
        const children = all.filter(allItem => {
          let parentId = allItem.parentId || allItem.groupId
          return parentId === parentItem.id
        }).map(childrenItem => ({
          id: childrenItem.id,
          title: childrenItem.name,
          deep: deep,
          treeType: childrenItem.parentId ? 'group' : 'value',
          type: childrenItem.type,
          selected: false,
          calculateType: childrenItem.calculateType, // 汇总方式
        }))
        if (children.length) {
          treeItem.children = this.generateTree(children, all, ++deep)
          treeItem.expand = true
        }
        if ((treeItem.treeType === 'group' && treeItem.children?.length) || treeItem.treeType === 'value') {
          tree.push(treeItem)
        }
      }

      return tree
    },

    setOpen(groupData, groupId) {
      return groupData.forEach((it) => {
        if (groupId && it.id.toString() === groupId.toString()) {
          it.expand = true
          this.setOpen(groupData, it.parentId)
        }
      })
    },

    /**
     * 构建资产分组
     * @param data
     */
    buildAssetGroups(data) {
      const root = {
        id: -1,
        name: '指标组',
        parentId: 0,
      }
      this.setAssetGroups([root, ...data.indicatorGroupList])
    },

    /**
     * 构建资产分组树
     * @param data
     */
    buildAssetsGroupTree(data) {
      let group = data.indicatorGroupList
      group.push({
        id: -1,
        title: '指标组',
        name: '指标组',
        expand: true,
        parentId: 0,
      })
      group.forEach(item => {
        item.id = item.id.toString()
        item.parentId = item.parentId.toString()
      })
      this.groupTreeData = this.filterIndGroup(group)
    },

    /**
     * 构建指标树
     * @param data 接口返回数据，包含指标分组，指标
     */
    buildIndicatorTree(data) {
      this.treeDataExpandStatusBak = deepCopy(this.treeData)
      let allData = [...data.indicatorGroupList, ...data.indicatorList]
      let root = [{
        deep: 1,
        id: -1,
        title: '指标组',
        expand: true,
        disabled: true,
        treeType: 'group',
      }]
      this.recursiveIndicatorGroup(root, allData)
      this.treeData = root
      this.allTreeData = deepCopy(root) // 完整的指标树
      this.updateTreeDataStatus(this.treeData, this.treeDataExpandStatusBak)
      this.originTreeData = root
    },
  },
}
</script>

<style scoped lang="less">
.indicator-container {
  height: 100%;
  display: flex;
}

.indicator-tree {
  width: 18%;
  height: 100%;
  background-color: #fff;
  padding: 0;
}

.indicator-manage-title {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 0 14px 16px;
  border-bottom: 1px solid #f1f5fa;
}

.indicator-info {
  width: 82%;
  height: 100%;
  border-left: 1px solid #ececec;
  padding: 12px 16px;
  background: white;
  position: relative;

  /deep/ .ivu-tabs {
    height: 100%;

    .ivu-tabs-bar {
      margin-bottom: 0;
    }

    .ivu-tabs-nav .ivu-tabs-tab {
      padding: 10px 12px;
    }

    .ivu-tabs-content.ivu-tabs-content-animated {
      height: calc(~"100% - 40px");
    }
  }

  .ivu-collapse {
    border: none;
    background: #fff;
    flex: 1;
    overflow: auto;

    .ivu-collapse-item {
      border-top: none;

      /deep/ .ivu-collapse-header {
        color: #333;
        font-weight: bold;
        background: #f0f5ff;
        margin-bottom: 16px;

        .title {
          margin-left: -10px;
        }
      }

      &.ivu-collapse-item-active {
        /deep/ .ivu-collapse-header {
          border-bottom: none;
          margin-bottom: 0;
        }
      }

      .availIndicatorTagClass {
        padding: 4px 8px;
        box-sizing: content-box;
        margin-right: 10px;
      }
    }
  }
}
</style>
<style lang="less">
.filter-condition-group-item {
  display: flex;
  align-items: center;
  position: relative;

  + .filter-condition-group-item {
    margin-top: 12px;
  }

  .icon-and {
    width: 20px;
    height: 20px;
  }

  &::before {
    content: "";
    display: block;
    width: 3px;
    height: 100%;
    background: rgba(72, 121, 255, 0.3);
    position: absolute;
    left: 26px;
  }
}
</style>
