<template>
  <div class="selectAuth-container">
    <CheckboxGroup :value="checkList" @on-change="changeAuth">
      <Checkbox :label="1" :disabled="viewDisabled">查看</Checkbox>
      <Checkbox :label="4" :disabled="editDisabled">编辑</Checkbox>
    </CheckboxGroup>
  </div>
</template>

<script>
export default {
  model: {
    prop: "shareAuthList",
    event: "update:shareAuthList"
  },
  props: {
    shareAuthList: {
      type: Array,
      required: true
    },
    // 外部所在弹窗是否显示
    showModal: {
      type: Boolean,
      required: true
    },
    existedAuth: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      checkList: [],
      viewDisabled: false,
      editDisabled: false
    };
  },
  watch: {
    // 关闭弹窗时，重置数据
    showModal(newVal) {
      if (!newVal) {
        this.reset();
      }
    },
    // 回填已存在的权限，并禁选
    existedAuth: {
      handler(newVal) {
        if (!newVal.length) return;
        if (!newVal.includes(4)) {
          // 查看
          this.checkList = [1];
          this.viewDisabled = true;
        } else {
          // 编辑
          this.checkList = [1, 4];
          this.viewDisabled = true;
          this.editDisabled = true;
        }
      },
      deep: true
    }
  },
  methods: {
    changeAuth(list) {
      this.checkList = list;
      let authArr = [];
      const newList = list.filter(ele => !this.existedAuth.includes(ele)); // 去除已禁选的选项
      if (newList.length) {
        authArr = newList.includes(4) ? [4, "编辑"] : [1, "查看"]; // 查看/编辑同时选，取并集权限
      }
      this.$emit("update:shareAuthList", authArr);
    },
    /**
     * 重置数据
     */
    reset() {
      this.checkList = [];
      this.viewDisabled = false;
      this.editDisabled = false;
    }
  }
};
</script>

<style lang="less" scoped>
.selectAuth-container {
  width: 100%;
  height: 100%;
  /deep/.ivu-checkbox-group {
    .ivu-checkbox-group-item {
      margin-right: 24px;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.85);
      .ivu-checkbox {
        margin-right: 4px;
      }
    }
  }
}
</style>
