<template>
  <div class="tableList-container">
    <header class="tableHeader">
      <div class="headerItem" v-for="col in tableColumns" :key="col.key" :style="colStyleObj(col)">{{ col.title }}</div>
    </header>
    <Spin fix v-if="tableLoading">
      <Icon type="ios-loading" size=28 class="table-spin-icon-load"></Icon>
      <div>Loading</div>
    </Spin>
    <main v-else>
      <section v-if="tableData.length" class="tableContent">
        <TableItem v-for="item in tableData" :key="item.id" :item-data="item" :table-columns="tableColumns"
          v-on="$listeners" />
      </section>
      <NoData v-else :width="1180" :height="575" :img-src="noDataImg" />
    </main>
  </div>
</template>

<script>
import TableItem from "./components/TableItem";
import NoData from "@/components/NoData";
import noDataImg from "@/assets/images/earlyWarningTarget/noData.svg";

export default {
  props: {
    tableData: {
      type: Array,
      required: true
    },
    tableColumns: {
      type: Array,
      required: true
    },
    tableLoading: {
      type: Boolean,
      required: true
    }
  },
  components: {
    TableItem,
    NoData
  },
  data() {
    return {
      noDataImg
    };
  },
  computed: {
    colStyleObj() {
      return col => ({
        flex: col.width ? "none" : 1,
        width: col.width ? `${col.width}px` : "auto",
        textAlign: col.align || "left"
      });
    }
  }
};
</script>

<style lang="less" scoped>
.tableList-container {
  width: 100%;
  height: 100%;
  position: relative;

  .tableHeader {
    width: 100%;
    height: 40px;
    background: #f8f8f8;
    display: flex;

    .headerItem {
      line-height: 40px;
      font-weight: 600;
    }
  }

  .tableContent {
    width: 100%;
    height: calc(~"100% - 50px");
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 10px;

    >.tableItem-container {
      border: 1px solid rgba(210, 221, 252, 1);
      border-radius: 4px;
      margin-bottom: 16px;
      padding: 0 24px;
    }
  }

  .noData-container {
    margin-top: 32px;
    height: calc(~"100% - 72px");
  }
}</style>
