<template>
  <div class="bar-style-config">
    <Collapse v-model="barCollapseVal" simple>
      <Panel name="bar">
        柱状图样式
        <div slot="content">
          <div class="multipleColorBox item">
            <span class="itemLabel">方向</span>
            <div class="typeSettingBox">
              <div
                v-show="styleConfigs.barType !== 'comparison'"
                class="typeSettingItem"
                title="纵向"
                :class="{ 'typeSettingItemSelected': verticalSelected }"
                @click="refreshCurrentSelectChartConfigData('displayDirection','vertical')">
                <img src="@/assets/images/report/style/vertical.svg" />
              </div>
              <div
                class="typeSettingItem"
                title="横向"
                :class="{ 'typeSettingItemSelected': horizontalSelected }"
                @click="refreshCurrentSelectChartConfigData('displayDirection', 'horizontal')">
                <img src="@/assets/images/report/style/horizontal.svg" />
              </div>
            </div>
          </div>
          <div class="multipleColorBox item">
            <span class="itemLabel">类型</span>
            <div class="typeSettingBox">
              <div
                class="typeSettingItem"
                title="柱状图"
                :class="{ 'typeSettingItemSelected': normalSelected }"
                @click="onSwitchBarType('normal')">
                <img src="@/assets/images/report/style/barTypeNormal.svg" />
              </div>
              <div
                class="typeSettingItem"
                title="堆积柱状图"
                :class="{ 'typeSettingItemSelected': stackSelected }"
                @click="onSwitchBarType('stack')">
                <img src="@/assets/images/report/style/barTypeStack.svg" />
              </div>
              <div
                class="typeSettingItem"
                title="百分比堆积柱状图"
                :class="{ 'typeSettingItemSelected': stackPercentSelected }"
                @click="onSwitchBarType('stackPercent')">
                <img src="@/assets/images/report/style/barTypeStackPercent.svg" />
              </div>
              <div
                v-if="showComparisonBtn"
                class="typeSettingItem"
                title="条形图"
                :class="{ 'typeSettingItemSelected': comparisonSelected }"
                @click="onSwitchBarType('comparison', 'horizontal')">
                <img src="@/assets/images/report/style/barTypeComparison.png" />
              </div>
            </div>
          </div>
          <div class="multipleColorBox item">
            <div v-for="(barColorItem, index) in currentStyleConfigs.barColor">
              <span class="itemLabel">柱体{{ index + 1 }}</span>
              <colorPicker
                class="bgColorPicker"
                :key="currentStyleConfigs.barColor[index]"
                v-model="currentStyleConfigs.barColor[index]"
                @change="barColorChange($event,index)" />
            </div>
          </div>
          <div class="item">
            <span class="itemLabel">圆角</span>
            <InputNumber
              ref="borderRadius"
              v-model="currentStyleConfigs.barBorderRadius"
              :min="0" :max="100"
              @on-change="barBorderRadiusChange" />
          </div>
        </div>
      </Panel>
      <LegendSetting :styleConfigs="styleConfigs" />
    </Collapse>
    <DrawingAreaSetting :styleConfigs="styleConfigs" />
    <LabelSetting :styleConfigs="styleConfigs" />
    <AxisLabelSetting :styleConfigs="styleConfigs" />
    <AxisValueSetting
      v-if="styleConfigs.barType !== 'stackPercent'"
      :styleConfigs="styleConfigs"
      :isPercent="currentSelectChart.data.configData.showType === 1" />
  </div>
</template>

<script>
import LegendSetting from './common/LegendSetting.vue'
import DrawingAreaSetting from './common/DrawingAreaSetting.vue'
import LabelSetting from './common/LabelSetting.vue'
import AxisLabelSetting from './common/AxisLabelSetting.vue'
import AxisValueSetting from './common/AxisValueSetting.vue'
import mixin from '@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin'

export default {
  name: 'SimpleBarStyleConfig',
  components: {
    LegendSetting,
    DrawingAreaSetting,
    LabelSetting,
    AxisLabelSetting,
    AxisValueSetting
  },
  mixins: [mixin],
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data() {
    return {
      barCollapseVal: ['bar'],
    }
  },
  computed: {
    currentStyleConfigs() {
      return Object.assign({
        legendPosition: '下',
        barColor: [],
        barBorderRadius: 0,
      }, this.styleConfigs)
    },
    verticalSelected() {
      let displayDirection = this.currentSelectChart.data.configData.displayDirection
      return !displayDirection || displayDirection === 'vertical'
    },
    horizontalSelected() {
      return this.currentSelectChart.data.configData.displayDirection === 'horizontal'
    },
    normalSelected() {
      let barType = this.currentSelectChart.style.barType
      return !barType || barType === 'normal'
    },
    stackSelected() {
      return this.currentSelectChart.style.barType === 'stack'
    },
    stackPercentSelected() {
      return this.currentSelectChart.style.barType === 'stackPercent'
    },
    comparisonSelected() {
      return this.currentSelectChart.style.barType === 'comparison'
    },
    dimensions() {
      return this.currentSelectChart.data.dimension
    },
    indicators() {
      return this.currentSelectChart.data.indicator
    },
    showComparisonBtn() {
      return this.dimensions.length === 1 && this.indicators.length === 2
    },
  },
  watch: {
    'dimensions.length'(newVal) {
      if (newVal !== 1) {
        this.onSwitchBarType('normal', 'vertical')
      }
    },
    'indicators.length'(newVal) {
      if (newVal !== 2) {
        this.onSwitchBarType('normal', 'vertical')
      }
    },
  },
  methods: {
    onSwitchBarType(barType, displayDirection) {
      this.refreshCurrentSelectChartStyle('barType', barType)
      if (displayDirection) {
        this.refreshCurrentSelectChartConfigData('displayDirection', displayDirection)
      }
    },
    barColorChange(e, index) {
      let barColor = this.currentStyleConfigs.barColor
      barColor[index] = e
      this.refreshCurrentSelectChartStyle('barColor', barColor)
    },
    barBorderRadiusChange(e) {
      let barBorderRadius = 0
      if (e == null) {
        this.$refs.borderRadius.setValue(0)
      } else {
        barBorderRadius = e
      }
      this.refreshCurrentSelectChartStyle('barBorderRadius', barBorderRadius)
    },
  }
}
</script>

<style lang="less" scoped>
.bar-style-config {
  /* padding-bottom: 180px; */
}

.mr2 {
  margin-right: 2px;
}

.item {
  display: flex;
  align-items: center;
}

.itemGap {
  margin: 0 auto 10px;
}

.item .itemLabel {
  width: 48px;
  padding: 10px 6px 10px 0;
  box-sizing: border-box;
}

.item .itemStyleRight {
  flex: 1;
}

.item .typeSettingBox {
  display: flex;
}

.item .typeSettingBox .typeSettingItem {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid transparent;

  img {
    width: 16px;
    object-fit: contain;
  }
}

.item .typeSettingBox .typeSettingItem:hover {
  box-shadow: 0px 0px 4px 0px rgba(63, 115, 255, 1);
}

.item .typeSettingBox .typeSettingItem.typeSettingItemSelected {
  border: 1px solid rgba(63, 115, 255, 1);
  box-shadow: 0px 0px 4px 0px rgba(63, 115, 255, 1);
}

.ivu-color-picker /deep/ .ivu-color-picker-confirm .ivu-btn:nth-of-type(1) {
  display: none;
}

.ivu-color-picker /deep/ .ivu-input-wrapper {
  width: 33px;
  margin-right: 10px;
}
</style>
