<template>
  <div>
    <TitleConfig :styleConfigs="styleConfigs" v-show="chartType !== 'ComplexTextarea' && chartType !== 'CustomImage'" />
    <ChartSizeConfig :styleConfigs="styleConfigs" />
  </div>
</template>

<script>
import TitleConfig from "./common/TitleConfig";
import ChartSizeConfig from "./common/ChartSizeConfig";
export default {
  name: "CommonStyleConfig",
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return {};
      }
    },
    chartType: {
      type: String,
      default: ""
    }
  },
  components: {
    TitleConfig,
    ChartSizeConfig
  }
};
</script>
