<template>
  <Collapse v-model="imageCollapseVal" simple class="imageCollapse">
    <Panel name="areaStyle">
      <span>区域样式</span>
      <div slot="content">
        <div class="item">
          <span class="itemLabel">边框</span>
          <div class="itemStyleRight">
            <colorPicker
              class="mr2"
              defaultColor="#ffffff"
              :key="currentStyleConfigs.imageBorderColor"
              v-model="currentStyleConfigs.imageBorderColor"
              @change="imageBorderColorChange"
            />
            <Select v-model="currentStyleConfigs.imageBorderStyle"
              style="width:60px"
              class="mr2"
              @on-change="onImageBorderStyleChange">
              <Option v-for="item in lineTypeList"
                :value="item.value"
                :key="item.value">
                  {{ item.label }}
              </Option>
            </Select>
            <InputNumber
              ref="imageBorderWidth"
              class="imageBorderWidth"
              v-model="currentStyleConfigs.imageBorderWidth"
              :min="0" :max="100"
              @on-change="barBorderWidthChange">
            </InputNumber>
          </div>
        </div>
        <div class="item">
          <span class="itemLabel">圆角</span>
          <InputNumber
            ref="imageBorderRadius"
            v-model="currentStyleConfigs.imageBorderRadius"
            :min="0" :max="100"
            @on-change="barBorderRadiusChange">
          </InputNumber>
        </div>
      </div>
    </Panel>
  </Collapse>
</template>

<script>
import { BORDER_STYLE_ARR } from '@/config/ReportConstants'
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";
export default {
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  mixins: [ mixin ],
  computed: {
    currentStyleConfigs() {
      return Object.assign({
        imageBorderColor: '#ffffff',
        imageBorderStyle: 'solid',
        imageBorderWidth: 0,
        imageBorderRadius: 0
      }, this.styleConfigs)
    }
  },
  data() {
    return {
      imageCollapseVal: ['areaStyle'],
      lineTypeList: BORDER_STYLE_ARR
    }
  },
  methods: {
    imageBorderColorChange(e) {
      this.refreshCurrentSelectChartStyle('imageBorderColor', e)
    },
    onImageBorderStyleChange(e) {
      this.refreshCurrentSelectChartStyle('imageBorderStyle', e)
    },
    barBorderWidthChange(e) {
      let imageBorderWidth = 0
      if(e == null) {
        this.$refs.imageBorderWidth.setValue(0)
      } else {
        imageBorderWidth = e
      }
      this.refreshCurrentSelectChartStyle('imageBorderWidth', imageBorderWidth)
    },
    barBorderRadiusChange(e) {
      let imageBorderRadius = 0
      if(e == null) {
        this.$refs.imageBorderRadius.setValue(0)
      } else {
        imageBorderRadius = e
      }
      this.refreshCurrentSelectChartStyle('imageBorderRadius', imageBorderRadius)
    }
  }

}
</script>

<style lang="less" scoped>
.imageCollapse {
  min-height: 330px;
}
.mr2 {
  margin-right: 2px;
}
.item {
  display: flex;
  align-items: center;
  .itemLabel {
    width: 48px;
    padding: 10px 6px 10px 0;
    box-sizing: border-box;
  }
  .itemStyleRight {
    flex: 1;
    .imageBorderWidth {
      width: 54px;
    }
  }
}
</style>
