<template>
  <div class="pie-style-config">
    <Collapse v-model="defaultShow" simple>
      <Panel name="1">
        图形样式
        <div slot="content">
          <div class="item content_box">
            <span class="itemLabel">显示类型：</span>
            <RadioGroup v-model="currentStyleConfigs.pieMode" @on-change="onTypeChange">
              <Radio label="1">饼图</Radio>
              <Radio label="2">环形图</Radio>
            </RadioGroup>
          </div>
          <div class="item content_box">
            <span class="itemLabel">显示规模：</span>
            <RadioGroup v-model="currentStyleConfigs.labelShow" @on-change="onShowChange">
              <Radio label="true">显示</Radio>
              <Radio label="false">不显示</Radio>
            </RadioGroup>
          </div>

        </div>
      </Panel>

    </Collapse>

  </div>
</template>

<script>
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";

export default {
  name: 'DoublePieStyleConfig',
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return {
          legendPosition: '下',
          fixedNum: 2
        }
      }
    }
  },
  mixins: [ mixin ],
  data () {
    return {
      fixedNumOptions: [1, 2, 3],
      defaultShow: ['1', '2', '3']
    }
  },
  mounted() {
  },
  computed: {
    currentStyleConfigs() {
      return Object.assign({
        pieMode: '1',
        labelShow: 'false',
        dimMemberSelect: 5,
        fixedNum: 2,
        legendPosition: '下',
        dimMemberOptions: []
      }, this.styleConfigs)
    }
  },
  methods: {
    onTypeChange(e) {
      this.refreshCurrentSelectChartStyle('pieMode', e)
    },
    onShowChange(e) {
      this.refreshCurrentSelectChartStyle('labelShow', e)
    },
    onNumberChange(e) {
      this.refreshCurrentSelectChartStyle('dimMemberSelect', e)
    },
    onLegendPositionChange(e) {
      this.refreshCurrentSelectChartStyle('legendPosition', e)
    },
    onFixedChange(e) {
      this.refreshCurrentSelectChartStyle('fixedNum', e)
    }
  }
}
</script>

<style lang='less' scoped>
.config-row{
  padding: 10px 5px;
}
.content_box {
  margin: 0 auto 10px;
}
.ml25 {
  margin-left: 25px;
}
.item {
  display: flex;
}
.item .itemLabel {
  width: 80px;
  padding: 10px 12px 10px 0;
  box-sizing: border-box;
}
.item .itemStyleRight {
  flex: 1;
}
.ivu-radio-group:not(.ivu-radio-group-button) {
  line-height: 38px;
}
.ivu-radio-group:not(.ivu-radio-group-button) .ivu-radio-wrapper:nth-of-type(2) {
  margin-right: 0;
}
</style>
