<template>
  <div class="fa-tab-style-config">
    <Collapse v-model="collapseValue" simple>
      <Panel name="label">
        标签样式
        <template #content>
          <div class="label-style">
            <div class="label-style-item type">
              <div class="label">类型</div>
              <div class="content">
                <RadioGroup v-model="labelType" @on-change="onLabelTypeChange">
                  <Radio label="underline">
                    <div class="underline-body">
                      <span>下划线</span>
                      <Icon type="md-more"></Icon>
                    </div>
                  </Radio>
                  <Radio label="block">
                    <div class="block-body">
                      <span>选中块</span>
                      <Icon type="md-more"></Icon>
                    </div>
                  </Radio>
                </RadioGroup>
              </div>
            </div>
            <div class="label-style-item position">
              <div class="label">位置</div>
              <div class="content">
                <div class="rect">
                  <div class="rect-top">
                    <div
                      :class="['item', { active: position === 'top-left' }]"
                      @click="onSelectLabelPosition('top-left')"
                    >
                      居左
                    </div>
                    <div
                      :class="['item', { active: position === 'top-center' }]"
                      @click="onSelectLabelPosition('top-center')"
                    >
                      居中
                    </div>
                    <div
                      :class="['item', { active: position === 'top-right' }]"
                      @click="onSelectLabelPosition('top-right')"
                    >
                      居右
                    </div>
                  </div>
                  <div class="rect-right">
                    <div
                      :class="['item', { active: position === 'right-top' }]"
                      @click="onSelectLabelPosition('right-top')"
                    >
                      顶部
                    </div>
                    <div
                      :class="['item', { active: position === 'right-middle' }]"
                      @click="onSelectLabelPosition('right-middle')"
                    >
                      中部
                    </div>
                    <div
                      :class="['item', { active: position === 'right-bottom' }]"
                      @click="onSelectLabelPosition('right-bottom')"
                    >
                      底部
                    </div>
                  </div>
                  <div class="rect-bottom">
                    <div
                      :class="['item', { active: position === 'bottom-left' }]"
                      @click="onSelectLabelPosition('bottom-left')"
                    >
                      居左
                    </div>
                    <div
                      :class="[
                        'item',
                        { active: position === 'bottom-center' },
                      ]"
                      @click="onSelectLabelPosition('bottom-center')"
                    >
                      居中
                    </div>
                    <div
                      :class="['item', { active: position === 'bottom-right' }]"
                      @click="onSelectLabelPosition('bottom-right')"
                    >
                      居右
                    </div>
                  </div>
                  <div class="rect-left">
                    <div
                      :class="['item', { active: position === 'left-top' }]"
                      @click="onSelectLabelPosition('left-top')"
                    >
                      顶部
                    </div>
                    <div
                      :class="['item', { active: position === 'left-middle' }]"
                      @click="onSelectLabelPosition('left-middle')"
                    >
                      中部
                    </div>
                    <div
                      :class="['item', { active: position === 'left-bottom' }]"
                      @click="onSelectLabelPosition('left-bottom')"
                    >
                      底部
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="label-style-item font">
              <div class="label">字体</div>
              <div class="content">
                <Select
                  v-model="fontFamily"
                  @on-change="onFontFamilyChange"
                  class="font-family-select"
                >
                  <Option
                    v-for="item in fontFamilyList"
                    :value="item.value"
                    :key="item.value"
                  >
                    {{ item.label }}
                  </Option>
                </Select>
                <Select
                  v-model="fontSize"
                  @on-change="onFontSizeChange"
                  class="font-size-select"
                >
                  <Option v-for="i in 9" :value="(i + 5) * 2" :key="i">
                    {{ (i + 5) * 2 }}
                  </Option>
                </Select>
              </div>
            </div>
            <div class="label-style-item style">
              <div class="label">样式</div>
              <div class="content">
                <FontBar :style-config="styleConfigs" @click="onClickFontBar" />
              </div>
            </div>
            <div class="label-style-item style">
              <div class="label">默认态</div>
              <div class="content">
                <div class="color-wrapper">
                  <div
                    class="label-color-picker-wrapper"
                    @click="onClickLabelTextColorPicker"
                  >
                    <span class="text">A</span>
                    <div
                      class="block"
                      :style="{ background: labelColor }"
                    ></div>
                  </div>
                  <colorPicker
                    id="labelTextColorPicker"
                    defaultColor="#333333"
                    v-model="labelColor"
                    @change="onLabelColorChange"
                  />
                  <colorPicker
                    class="label-background-color-picker"
                    defaultColor="#FFFFFF"
                    v-model="labelBackgroundColor"
                    @change="onLabelBackgroundColorChange"
                  />
                </div>
              </div>
              <div class="label">选中态</div>
              <div class="content">
                <div class="color-wrapper">
                  <div
                    class="label-color-picker-wrapper"
                    @click="onClickLabelTextColorActivePicker"
                  >
                    <span class="text">A</span>
                    <div
                      v-if="styleConfigs.labelType === 'underline'"
                      class="block"
                      :style="{ background: labelColorActive }"
                    ></div>
                    <div
                      v-else
                      class="block"
                      :style="{ background: labelColorBlockActive }"
                    ></div>
                  </div>
                  <colorPicker
                    v-if="styleConfigs.labelType === 'underline'"
                    id="labelTextColorActivePicker"
                    defaultColor="#57a3f3"
                    v-model="labelColorActive"
                    @change="onLabelColorActiveChange"
                  />
                  <colorPicker
                    v-else
                    id="labelTextColorActivePicker"
                    defaultColor="#fff"
                    v-model="labelColorBlockActive"
                    @change="onLabelColorActiveChange"
                  />
                  <colorPicker
                    class="label-background-color-picker"
                    defaultColor="#FFFFFF"
                    v-model="labelBgColorActive"
                    @change="onLabelBgColorActiveChange"
                  />
                </div>
              </div>
            </div>
          </div>
        </template>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import { LABEL_FAMILY_LIST } from "@/config/ReportConstants";
import FontBar from "@/view/report/ChartStyleConfig/common/fontBar";
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";

export default {
  name: "FaTabStyleConfig",
  mixins: [mixin],
  components: {
    FontBar,
  },
  props: {
    styleConfigs: Object,
  },
  data() {
    return {
      collapseValue: "label",
      labelType: "underline",
      position: "top-left",
      fontFamilyList: LABEL_FAMILY_LIST,
      fontFamily: "Microsoft YaHei",
      fontSize: 12,
      labelColor: "#f76a00",
      labelBackgroundColor: "#f8b90d",
      labelColorActive: "#57a3f3",
      labelBgColorActive: "#f8b90d",
      labelColorBlockActive: "#fff",
    };
  },
  mounted() {
    let {
      labelType,
      labelPosition,
      fontFamily,
      fontSize,
      labelColor,
      labelColorActive,
      labelBackgroundColor,
      labelBgColorActive,
      labelColorBlockActive,
    } = this.styleConfigs;
    this.labelType = labelType;
    this.position = labelPosition;
    this.fontFamily = fontFamily;
    this.fontSize = fontSize;
    this.labelColor = labelColor;
    this.labelColorActive = labelColorActive;
    this.labelBackgroundColor = labelBackgroundColor;
    this.labelBgColorActive = labelBgColorActive;
    this.labelColorBlockActive = labelColorBlockActive;
  },
  methods: {
    onLabelTypeChange(value) {
      // console.log(this,this.styleConfigs)
      this.refreshCurrentSelectChartStyle("labelType", value);
    },
    onSelectLabelPosition(value) {
      if (this.position === value) return;
      this.position = value;
      this.refreshCurrentSelectChartStyle("labelPosition", value);
    },
    onFontFamilyChange(value) {
      this.refreshCurrentSelectChartStyle("fontFamily", value);
    },
    onFontSizeChange(value) {
      this.refreshCurrentSelectChartStyle("fontSize", value);
    },
    onClickFontBar(value) {
      this.addCurrentSelectChartStyle();
      value.forEach((item) => {
        this.$set(
          this.currentSelectChart.style,
          "label_" + item.label,
          item.type
        );
      });
      this.recordSnapshot();
    },
    onClickLabelTextColorPicker() {
      document.querySelector("#labelTextColorPicker .colorBtn").click();
    },
    onClickLabelTextColorActivePicker() {
      document.querySelector("#labelTextColorActivePicker .colorBtn").click();
    },
    onLabelColorChange(value) {
      this.refreshCurrentSelectChartStyle("labelColor", value);
    },
    onLabelBackgroundColorChange(value) {
      this.refreshCurrentSelectChartStyle("labelBackgroundColor", value);
    },
    onLabelColorActiveChange(value) {
      if (this.styleConfigs.labelType === "block") {
        this.refreshCurrentSelectChartStyle("labelColorBlockActive", value);
      } else {
        this.refreshCurrentSelectChartStyle("labelColorActive", value);
      }
    },
    onLabelBgColorActiveChange(value) {
      this.refreshCurrentSelectChartStyle("labelBgColorActive", value);
    },
  },
};
</script>

<style scoped lang="less">
.label-style .label-style-item {
  display: flex;
  align-items: center;

  .label {
    padding-right: 10px;
  }

  .content {
    flex: 1;
  }
}

.label-style .type .content {
  .underline-body {
    display: inline-flex;
    align-items: center;
    padding: 8px 10px;
    border-bottom: 1px solid #3f73ff;
  }

  .block-body {
    display: inline-flex;
    align-items: center;
    padding: 8px 8px;
    border: 1px solid #3f73ff;
  }

  /deep/ .ivu-radio-wrapper {
    margin-right: 0;
  }
}

.label-style .position {
  align-items: flex-start;
  margin-top: 22px;

  .content {
    padding: 52px 0 40px 10px;

    .rect {
      width: 130px;
      height: 73px;
      background: #edf1ff;
      position: relative;
    }

    .item {
      width: 36px;
      height: 16px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &.active {
        border-color: #3f73ff;
      }
    }

    .rect-top,
    .rect-bottom {
      position: absolute;
      display: flex;

      .item + .item {
        margin-left: 11px;
      }
    }

    .rect-left,
    .rect-right {
      position: absolute;
      display: flex;
      flex-direction: column;

      .item + .item {
        margin-top: 12.5px;
      }
    }

    .rect-top {
      top: -24px;
    }

    .rect-right {
      right: -44px;
    }

    .rect-bottom {
      bottom: -24px;
    }

    .rect-left {
      left: -44px;
    }
  }
}

.label-style .font .content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .font-family-select {
    width: 95px;
  }

  .font-size-select {
    width: 77px;
  }
}

.label-style .style .content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // .color-wrapper {
  //   position: relative;
  // }

  .label-color-picker-wrapper {
    cursor: pointer;
    height: 28px;
    width: 28px;
    background: white;
    border: 1px solid #e4e4e4;
    position: absolute;
    z-index: 99;
    border-radius: 2px;
    text-align: center;
    padding: 3px 0;

    > .text {
      font-weight: bold;
    }

    > .block {
      position: absolute;
      width: 16px;
      height: 4px;
      left: 50%;
      margin-left: -8px;
      bottom: 4px;
    }
  }
}

/deep/ .m-colorPicker .box {
  bottom: 51% !important;
  left: unset !important;
  right: 2px !important;
}
</style>
