<template>
  <div class="gauge-style-config" v-if="styleConfigs">
    <Collapse v-model="defaultShow" simple>
      <Panel name="2">
        图例位置
        <div slot="content">
          <div class="item">
            <RadioGroup class="itemStyleRight" v-model="styleConfigs.legendPosition" type="button" @on-change="onLegendPositionChange">
              <Radio label="上"></Radio>
              <Radio label="右"></Radio>
              <Radio label="下"></Radio>
              <Radio label="左"></Radio>
            </RadioGroup>
          </div>
        </div>
      </Panel>
      <Panel name="3">
        仪表盘样式
        <div slot="content">
          <div class="item">
            <span class="itemLabel">自定义范围</span>
            <Checkbox class="titleCheckbox" v-model="styleConfigs.customScopeShowLabel" @click.native.stop @on-change="handleCustomScopeCheckboxChange" />
          </div>
          <div v-if="styleConfigs.customScopeShowLabel">
            <div class="item">
              <span class="itemLabel" style="margin-top: 20px;">最小值</span>
              <InputNumber class="inputNumber" ref="inputNumberMinValue" v-model="styleConfigs.min" @on-blur="handleMinValueBlur" />
              <span style="margin: 20px 0 0 2px" v-if="styleConfigs.showType === 1">%</span>
              <span class="itemLabel" style="margin: 20px 0 0 16px">最大值</span>
              <InputNumber class="inputNumber" ref="inputNumberMaxValue" v-model="styleConfigs.max" @on-blur="handleMaxValueBlur" />
              <span style="margin: 20px 0 0 2px" v-if="styleConfigs.showType === 1">%</span>
            </div>
            <div class="item">
              <span class="itemLabel" style="margin-top: 20px">区间个数</span>
              <InputNumber
                ref="inputNumber"
                v-model="styleConfigs.num"
                class="intervalNumberClass"
                size="large"
                :max="5" :min="1"
                @on-change="handleInputNumberChange"
                @keyup.native="handleInputNumberKeyup"
                style="width: 100px">
              </InputNumber>
            </div>
          </div>
        </div>
        <div slot="content">
          <div class="item">
            <span class="itemLabel" style="margin-top: 20px">自定义区间</span>
            <Checkbox
              class="titleCheckbox"
              style="margin-top: 20px"
              v-model="styleConfigs.customIntervalShowLabel"
              @click.native.stop
              @on-change="handleCustomIntervalCheckboxChange"
            />
          </div>
          <div v-if="styleConfigs.customIntervalShowLabel">
            <div class="item" v-for="(intervalItem, index) in styleConfigs.gaugeInterval" :key="index">
              <span class="itemLabel" style="margin-top: 20px">区间{{ index + 1 }}</span>
              <InputNumber
                v-model="styleConfigs.gaugeInterval[index].left"
                :disabled="true"
                style="margin: 20px 0 0 -20px"
                :style="{width: styleConfigs.showType === 1 ? '50px': '74px'}">
              </InputNumber>
              <span class="spanBar" style="margin: 20px 0 0 3px" v-if="styleConfigs.showType === 1">%</span>
              <span class="spanBar" :style="{margin: styleConfigs.showType === 1 ? '20px 0 0 16px' : '20px 0 0 8px'}">~</span>
              <InputNumber
                :disabled="(index + 1) === styleConfigs.gaugeInterval.length"
                v-model="styleConfigs.gaugeInterval[index].right"
                :active-change="false"
                @on-change="handleIntervalValueChange($event, index)"
                @on-blur="handleIntervalValueBlur(index)"
                style="margin: 20px 0 0 8px"
                :style="{width: styleConfigs.showType === 1 ? '50px': '74px'}">
              </InputNumber>
              <span class="spanBar" style="margin: 20px 0 0 3px" v-if="styleConfigs.showType === 1">%</span>
            </div>
            <div class="item" style="margin-top: 14px">
              <div v-for="(colorItem, index) in styleConfigs.gaugeColor" :key="index">
                <colorPicker
                  :class="`gaugeColorPicker${index + 1}`"
                  :key="styleConfigs.gaugeColor[index]"
                  v-model="styleConfigs.gaugeColor[index]"
                  @change="gaugeColorChange($event,index)"
                  style="margin-right: 8px"
                />
              </div>
            </div>
          </div>
        </div>
      </Panel>
      <Panel name="4">
        <div class="panel-title">
          指标
          <Checkbox v-model="styleConfigs.showIndicator" @click.native.stop></Checkbox>
        </div>
        <template #content>
          <div class="indicator-style">
            <div class="style-group">
              <colorPicker
                class="color"
                defaultColor="#333333"
                :key="styleConfigs.indicatorColor"
                v-model="styleConfigs.indicatorColor"
                :transfer="true"
                @change="refreshCurrentSelectChartStyle('indicatorColor', $event)" />
              <div class="font-weight">
                <img src="@/assets/images/report/bold.svg" @click="onChangeIndicatorFontWeight" />
              </div>
              <Select class="font-size" v-model="styleConfigs.indicatorFontSize">
                <Option v-for="i in 12" :value="(i + 2) * 2" :key="i">
                  {{ (i + 2) * 2 }}
                </Option>
              </Select>
            </div>
            <div class="style-group">
              <Select class="font-family" v-model="styleConfigs.indicatorFontFamily">
                <Option v-for="item in fontFamilyList" :value="item.value" :key="item.value">
                  {{ item.label }}
                </Option>
              </Select>
            </div>
          </div>
        </template>
      </Panel>
      <Panel name="5">
        <div class="panel-title">
          刻度值
          <Checkbox v-model="styleConfigs.showScale" @click.native.stop></Checkbox>
        </div>
        <template #content>
          <div class="scale-style">
            <div class="style-group">
              <colorPicker
                class="color"
                v-model="styleConfigs.scaleColor"
                :key="styleConfigs.scaleColor"
                defaultColor="#333333"
                :transfer="true"
                @change="refreshCurrentSelectChartStyle('scaleColor', $event)" />
              <div class="font-weight">
                <img src="@/assets/images/report/bold.svg" @click="onChangeScaleFontWeight" />
              </div>
              <Select class="font-size" v-model="styleConfigs.scaleFontSize">
                <Option v-for="i in 12" :value="(i + 2) * 2" :key="i">
                  {{ (i + 2) * 2 }}
                </Option>
              </Select>
            </div>
            <div class="style-group">
              <Select class="font-family" v-model="styleConfigs.scaleFontFamily">
                <Option v-for="item in fontFamilyList" :value="item.value" :key="item.value">
                  {{ item.label }}
                </Option>
              </Select>
            </div>
          </div>
          <div class="scale-style">
            <div class="style-group">
              <div class="split-number">
                分割段数：
                <InputNumber :max="10" :min="1" v-model="styleConfigs.splitNumber" @on-change="onSplitNumberChange"></InputNumber>
              </div>
            </div>
          </div>
        </template>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import { CHART_DEFAULT_CONFIG, GAUGE_COLOR_LIST, FONT_FAMILY_LIST } from '@/config/ReportConstants'
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";

export default {
  name: 'SimpleGaugeStyleConfig',
  props: {
    styleConfigs: Object,
  },
  mixins: [ mixin ],
  data() {
    return {
      fontFamilyList: FONT_FAMILY_LIST,
      defaultShow: ['2', '4', '5'],
      pieNumOptions: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      fixedNumOptions: [1, 2, 3],
    }
  },
  mounted() {
    this.initStyleValue('customScopeShowLabel', false)
    this.initStyleValue('customIntervalShowLabel', false)
    this.initStyleValue('gaugeColor', ["#84AEFF", "#88CE76", "#FFD800"])
    this.initStyleValue('gaugeInterval', [{left: null, right: null}, {left: null, right: null}, {left: null, right: null}])
    this.initStyleValue('labelShow', false)
    this.initStyleValue('legendPosition', '下')
    this.initStyleValue('min', null)
    this.initStyleValue('max', null)
    this.initStyleValue('num', 3)
    this.initStyleValue('autoSetInterval', true)
    this.initStyleValue('showType', 0)
    this.initStyleValue('showIndicator', true)
    this.initStyleValue('indicatorColor', '#333333')
    this.initStyleValue('indicatorBold', true)
    this.initStyleValue('indicatorFontSize', 20)
    this.initStyleValue('indicatorFontFamily', 'SimHei')
    this.initStyleValue('showScale', true)
    this.initStyleValue('scaleColor', '#333333')
    this.initStyleValue('scaleBold', false)
    this.initStyleValue('scaleFontSize', 12)
    this.initStyleValue('scaleFontFamily', 'SimSun')
    this.initStyleValue('splitNumber', 10)
  },
  methods: {
    /**
     * 初始化样式的值
     * @param key
     * @param value
     */
    initStyleValue(key, value) {
      if (!this.styleConfigs.hasOwnProperty(key)) {
        this.$set(this.styleConfigs, key, value)
      }
    },

    // 自定义范围最小值变化
    handleMinValueBlur() {
      if(this.currentSelectChart && Object.keys(this.currentSelectChart).length) {
        let value = this.styleConfigs.min
        if (value !== null) {
          let max = this.styleConfigs.max
          if (max !== null && value > Number(max)) {
            if (value > Number(max)) {
              let temp = value
              value = max
              max = temp
            } else if (value === Number(max)) {
              max = value + Math.abs(value)
            }
            let s = max.toString().split(".")[1]
            if (s && s.length > 2) {
              max = Number(max).toFixed(2)
            }
            this.$refs.inputNumberMaxValue.setValue(max)
            this.$set(this.currentSelectChart.style, 'max', Number(max))
          }
          let str = value.toString().split(".")[1]
          if (str && str.length > 2) {
            value = Number(value).toFixed(2)
          }
          this.$refs.inputNumberMinValue.setValue(value)

          this.$set(this.currentSelectChart.style, 'min', Number(value))
          let gaugeInterval = this.styleConfigs.gaugeInterval
          gaugeInterval[0].left = Number(value)
          this.$set(this.currentSelectChart.style, 'gaugeInterval', gaugeInterval)
        } else {
          this.$set(this.currentSelectChart.style, 'min', value)
        }
        this.$set(this.currentSelectChart.style, 'autoSetInterval', true)
        this.recordSnapshot()
      }
    },
    // 自定义范围最大值变化
    handleMaxValueBlur() {
      if(this.currentSelectChart && Object.keys(this.currentSelectChart).length) {
        let value = this.styleConfigs.max
        if (value !== null) {
          let min = this.styleConfigs.min
          if (min !== null) {
            if (value < Number(min)) {
              let temp = value
              value = min
              min = temp
              let s = min.toString().split(".")[1]
              if (s && s.length > 2) {
                min = Number(min).toFixed(2)
              }
              this.$refs.inputNumberMaxValue.setValue(min)
              this.$set(this.currentSelectChart.style, 'min', Number(min))
            } else if (value === Number(min)) {
              value = min + Math.abs(min)
            }
          }
          let str = value.toString().split(".")[1]
          if (str && str.length > 2) {
            value = Number(value).toFixed(2)
          }
          this.$refs.inputNumberMaxValue.setValue(value)

          this.$set(this.currentSelectChart.style, 'max', Number(value))
          let gaugeInterval = this.styleConfigs.gaugeInterval
          let num = this.styleConfigs.num
          gaugeInterval[num - 1].right = Number(value)
          this.$set(this.currentSelectChart.style, 'gaugeInterval', gaugeInterval)
        } else {
          this.$set(this.currentSelectChart.style, 'max', value)
        }
        this.$set(this.currentSelectChart.style, 'autoSetInterval', true)
        this.recordSnapshot()
      }
    },
    handleInputNumberKeyup(e) {
      // 禁止输入小数点
      if(e.key === '.') {
        e.target.value = parseInt(e.target.value)
      }
    },
    // 自定义区间个数变化
    handleInputNumberChange(val) {
      let reg = /^[1-5]\d*$/
      if(val == null) {
        let id = this.currentSelectChart.id
        let { num } = CHART_DEFAULT_CONFIG[id]
        val = num
        this.$refs.inputNumber.setValue(num)
      } else if(!reg.test(val)) {
        this.$refs.inputNumber.setValue(parseInt(val))
      }
      this.$set(this.currentSelectChart.style, 'num', val)
      // 设置区间颜色个数和区间数量范围
      let gaugeColor = this.styleConfigs.gaugeColor
      let gaugeInterval = this.styleConfigs.gaugeInterval
      let len = gaugeColor.length
      if (len > val) {
        gaugeColor.pop()
        gaugeInterval.pop()
      } else if (len < val) {
        gaugeColor.push(GAUGE_COLOR_LIST[len])
        gaugeInterval.push({left: null, right: null})
      }
      this.$set(this.currentSelectChart.style, 'gaugeColor', gaugeColor)
      this.$set(this.currentSelectChart.style, 'gaugeInterval', gaugeInterval)
      this.$set(this.currentSelectChart.style, 'autoSetInterval', true)
      this.recordSnapshot()
    },
    handleCustomScopeCheckboxChange(value) {
      if (value) {
        this.$set(this.currentSelectChart.style, 'min', null)
        this.$set(this.currentSelectChart.style, 'max', null)
        this.$set(this.currentSelectChart.style, 'num', 3)
      }
      if (!value) {
        let gaugeColor = this.styleConfigs.gaugeColor
        let gaugeInterval = this.styleConfigs.gaugeInterval
        let len = gaugeColor.length
        if (len > 3) {
          let m = len - 3
          for (let i = 0; i < m; i++) {
            gaugeColor.pop()
            gaugeInterval.pop()
          }
        } else if (len < 3) {
          let n = 3 - len
          if (n === 1) {
            gaugeColor.push(GAUGE_COLOR_LIST[len])
            gaugeInterval.push({left: null, right: null})
          } else if (n === 2) {
            for (let i = 0; i < n; i++) {
              gaugeColor.push(GAUGE_COLOR_LIST[i + 1])
              gaugeInterval.push({left: null, right: null})
            }
          }
        }
        this.$set(this.currentSelectChart.style, 'gaugeColor', gaugeColor)
        this.$set(this.currentSelectChart.style, 'gaugeInterval', gaugeInterval)
      }
      this.$set(this.currentSelectChart.style, 'customScopeShowLabel', value)
      this.recordSnapshot()
    },
    handleCustomIntervalCheckboxChange(value) {
      this.$set(this.currentSelectChart.style, 'gaugeInterval', this.styleConfigs.gaugeInterval)
      this.$set(this.currentSelectChart.style, 'customIntervalShowLabel', value)
      this.$set(this.currentSelectChart.style, 'autoSetInterval', true)
      this.recordSnapshot()
    },
    // 区间颜色设置
    gaugeColorChange(e, index) {
      let gaugeColor = this.styleConfigs.gaugeColor
      gaugeColor[index] = e
      this.refreshCurrentSelectChartStyle('gaugeColor', gaugeColor)
    },
    handleIntervalValueBlur(index) {
      let gaugeInterval = this.styleConfigs.gaugeInterval
      let left = gaugeInterval[index].left
      let right = gaugeInterval[index].right
      let nextRight = gaugeInterval[index + 1].right
      if (right === null) {
        if (nextRight !== null) {
          right = Math.abs(nextRight - left) / 2 + left
          gaugeInterval[index].right = Number(right.toFixed(2))
          gaugeInterval[index + 1].left = Number(right.toFixed(2))
        }
      }
      if (right !== null) {
        if (right <= left) {
          let temp = right
          right = left + Math.abs(left)
          left = temp
          gaugeInterval[index].left = left
          gaugeInterval[index].right = right
          gaugeInterval[index - 1].right = left
          gaugeInterval[index + 1].left = right
          this.$set(this.currentSelectChart.style, 'gaugeInterval', gaugeInterval)
        } else if (right >= nextRight) {
          right = Math.abs(nextRight - left) / 2 + left
          gaugeInterval[index].right = Number(right.toFixed(2))
          gaugeInterval[index + 1].left = Number(right.toFixed(2))
        }
      }
    },
    // 区间范围设置
    handleIntervalValueChange(e, index) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      let gaugeInterval = this.styleConfigs.gaugeInterval
      gaugeInterval[index].right = e
      gaugeInterval[index + 1].left = e
      this.$set(this.currentSelectChart.style, 'gaugeInterval', gaugeInterval)
      this.$set(this.currentSelectChart.style, 'autoSetInterval', false)
      this.recordSnapshot()
    },
    handleInputNumberMinMaxData(newVal, oldVal) {
      let max = this.styleConfigs.max
      let min = this.styleConfigs.min
      if (min !== null) {
        if (newVal === 1 && oldVal === 0) {
          this.$set(this.currentSelectChart.style, 'min', Number(min) * 100)
        } else if (newVal === 0 && oldVal === 1) {
          this.$set(this.currentSelectChart.style, 'min', Number(min) / 100)
        }
      }
      if (max !== null) {
        if (newVal === 1 && oldVal === 0) {
          this.$set(this.currentSelectChart.style, 'max', Number(max) * 100)
        } else if (newVal === 0 && oldVal === 1) {
          this.$set(this.currentSelectChart.style, 'max', Number(max) / 100)
        }
      }

    },
    onTypeChange(e) {
      this.refreshCurrentSelectChartStyle('pieMode', e)
    },
    onShowChange(e) {
      this.refreshCurrentSelectChartStyle('labelShow', e)
    },
    onNumberChange(e) {
      this.refreshCurrentSelectChartStyle('pieNum', e)
    },
    onLegendPositionChange(e) {
      this.refreshCurrentSelectChartStyle('legendPosition', e)
    },
    onFixedChange(e) {
      this.refreshCurrentSelectChartStyle('fixNum', e)
    },
    onChangeIndicatorFontWeight() {
      this.$set(this.styleConfigs, 'indicatorBold', !this.styleConfigs.indicatorBold)
    },
    onChangeScaleFontWeight() {
      this.$set(this.styleConfigs, 'scaleBold', !this.styleConfigs.scaleBold)
    },
    /**
     * 分割段数变化
     * @param value
     */
    onSplitNumberChange(value) {
      this.$nextTick(() => {
        this.$set(this.styleConfigs, 'splitNumber', value ? Math.round(value) : 1)
      })
    },
  },
  watch: {
    'styleConfigs.showType': {
      handler(newVal, oldVal) {
        this.handleInputNumberMinMaxData(newVal, oldVal)
      }
    }
  }
}
</script>

<style lang="less" scoped>
.gauge-style-config {
  padding-bottom: 180px;
}
.titleCheckbox {
  margin-left: auto;
}
.config-row {
  padding: 10px 5px;
}
.content_box {
  margin: 0 auto 10px;
}
.ml25 {
  margin-left: 25px;
}
.item {
  display: flex;
  line-height: 28px;
}
.item .itemLabel {
  width: 60px;
  padding-top: 2px;
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}
.intervalNumberClass {
  margin-top: 20px;
}
.intervalNumberClass.ivu-input-number /deep/ .ivu-input-number-handler-wrap {
  opacity: 1;
}
.spanBar {
  width: 6px;
  height: 17px;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}
.inputNumber {
  width: 60px;
  margin: 20px 0 0 -10px;

  /deep/ .ivu-input-number-handler-wrap {
    display: none;
  }
}
/deep/ .m-colorPicker .colorBtn:before {
  font-size: 12px;
  color: #FFFFFF;
  font-weight: 400;
}
.item .itemStyleRight {
  flex: 1;
}

.panel-title {
  width: calc(~'100% - 26px');
  display: inline-flex;
  justify-content: space-between;
}

.indicator-style,
.scale-style {
  display: flex;

  .style-group {
    position: relative;
    display: flex;

    + .style-group {
      margin-left: 12px;
    }

    /deep/ .color {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }

    .font-weight {
      width: 28px;
      height: 28px;
      border: 1px solid #E4E4E4;
      border-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /deep/ .font-size {
      width: 50px;

      .ivu-select-selection {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
      }
    }

    .font-family {
      width: 80px;
    }
  }

  .split-number {
    display: flex;
    align-items: center;
    margin-top: 12px;
  }
}
</style>
