<template>
  <div>
    <Collapse simple v-model="openAll">
      <Panel name="viewModel">
        显示设置
        <div slot="content">
          <RadioGroup
            v-model="IndicatorStyleConfigs.indicatorType"
            @on-change="onTypeChange"
          >
            <Radio label="纵向"></Radio>
            <Radio label="横向"></Radio>
          </RadioGroup>
        </div>
      </Panel>
      <Panel name="indicatorModel">
        内容设置
        <div slot="content">
          <div class="item itemGap">
            <span class="itemLabel">指标名</span>
            <colorPicker
              v-if="IndicatorStyleConfigs.indicatorType == '纵向'"
              class="bgColorPicker"
              defaultColor="#cccccc"
              :key="IndicatorStyleConfigs.backgroundColor"
              v-model="IndicatorStyleConfigs.backgroundColor"
              @change="onBackChange"
            />
            <colorPicker
              class="fontColorPicker"
              defaultColor="#000000"
              :key="IndicatorStyleConfigs.indicatorTitleColor"
              v-model="IndicatorStyleConfigs.indicatorTitleColor"
              @change="onColorChange"
              style="margin: 0 2px;"
            />
            <InputNumber
              :min="1"
              @on-change="onTitleFontSizeChange"
              v-model="IndicatorStyleConfigs.indicatorTitleFontSize"
            />
          </div>
          <div class="item itemGap" style="margin-bottom: 240px">
            <span class="itemLabel">指标值</span>
            <colorPicker
              v-if="IndicatorStyleConfigs.indicatorType == '纵向'"
              class="bgColorPicker"
              defaultColor="#cccccc"
              :key="IndicatorStyleConfigs.valueBackgroundColor"
              v-model="IndicatorStyleConfigs.valueBackgroundColor"
              @change="onValueBackChange"
            />
            <colorPicker
              class="fontColorPicker"
              defaultColor="#cccccc"
              :key="IndicatorStyleConfigs.countColor"
              v-model="IndicatorStyleConfigs.countColor"
              @change="onCountColorChange"
              style="margin: 0 2px;"
            />
            <InputNumber
              :min="1"
              @on-change="onCountFontSizeChange"
              v-model="IndicatorStyleConfigs.countFontSize"
            />
          </div>
        </div>
      </Panel>
    </Collapse>
  </div>

</template>

<script>
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";

export default {
  name: "IndexBoardStyleConfig",
  props: {
    styleConfigs: {
      type: Object,
      default: (value) => {}
    }
  },
  mixins: [ mixin ],
  data() {
    return {
      openAll: ['viewModel', 'indicatorModel']
    }
  },
  computed: {
    IndicatorStyleConfigs() {
      return Object.assign(
        {
          indicatorType: '纵向',
          indicatorTitleColor: '#ffffff',
          backgroundColor: '#87AFFF',
          valueBackgroundColor: '#ffffff',
          countColor: '#5a5a5a',
          indicatorTitleFontSize: 14,
          countFontSize: 24
        },
        this.styleConfigs
      )
    }
  },
  created() {
    this.$set(
      this.currentSelectChart.style,
      'indicatorType',
      this.IndicatorStyleConfigs.indicatorType
    )
  },
  methods: {
    onTypeChange(e) {
      this.refreshCurrentSelectChartStyle('indicatorType', e)
    },
    onBackChange(value) {
      this.refreshCurrentSelectChartStyle('backgroundColor', value)
    },
    onValueBackChange(value) {
      this.refreshCurrentSelectChartStyle('valueBackgroundColor', value)
    },
    onColorChange(value) {
      this.refreshCurrentSelectChartStyle('indicatorTitleColor', value)
    },
    onCountColorChange(value) {
      this.refreshCurrentSelectChartStyle('countColor', value)
    },
    onTitleFontSizeChange(value) {
      this.refreshCurrentSelectChartStyle('indicatorTitleFontSize', value)
    },
    onCountFontSizeChange(value) {
      this.refreshCurrentSelectChartStyle('countFontSize', value)
    }
  }
}
</script>

<style scoped>
  .item {
    display: flex;
    align-items: center;
  }
  .itemGap {
    margin: 0 auto 10px;
  }
  .item .itemLabel {
    width: 80px;
    padding: 10px 12px 10px 0;
    box-sizing: border-box;
    white-space: nowrap;
  }

  .ivu-color-picker >>> .ivu-color-picker-confirm .ivu-btn:nth-of-type(1){
    display: none;
  }
  .ivu-color-picker >>> > .ivu-input-wrapper{
    width: 33px;
    margin-right: 10px;
  }

</style>
