<template>
    <div class="linebar-style-config" >
        <Collapse v-model="linebarCollapseVal" simple>
            <Panel name="bar">
                柱状图样式
                <div slot="content">
                  <div class="multipleColorBox item">
                    <div v-for="(barColorItem,index) in currentStyleConfigs.barColor">
                        <span class="itemLabel">柱体{{ index+1 }}</span>
                        <colorPicker
                            :key="currentStyleConfigs.barColor[index]"
                            v-model="currentStyleConfigs.barColor[index]"
                            @change="barColorChange($event,index)"
                        />
                    </div>
                  </div>
                    <div class="item">
                      <span class="itemLabel">圆角</span>
                      <InputNumber
                        ref="borderRadius"
                        v-model="currentStyleConfigs.barBorderRadius"
                        :min="0" :max="100"
                        @on-change="barBorderRadiusChange">
                      </InputNumber>
                    </div>
                </div>
            </Panel>
            <Panel name="line">
                折线图样式
                <div slot="content">
                  <div class="multipleColorBox item">
                    <div v-for="(lineColorItem,index) in currentStyleConfigs.lineColor">
                        <span class="itemLabel">折线{{ index+1 }}</span>
                        <colorPicker
                            :key="currentStyleConfigs.lineColor[index]"
                            v-model="currentStyleConfigs.lineColor[index]"
                            @change="lineColorChange($event,index)"
                        />
                    </div>
                  </div>
                </div>
            </Panel>
            <Panel name="position">
                图例位置
                <div slot="content">
                    <div class="item">
                        <RadioGroup class="itemStyleRight" v-model="currentStyleConfigs.legendPosition" type="button" @on-change="onLegendPositionChange">
                            <Radio label="上"></Radio>
                            <Radio label="右"></Radio>
                            <Radio label="下"></Radio>
                            <Radio label="左"></Radio>
                        </RadioGroup>
                    </div>
                </div>
            </Panel>
        </Collapse>
        <DrawingAreaSetting :styleConfigs="styleConfigs"></DrawingAreaSetting>
        <LabelSetting :styleConfigs="styleConfigs"></LabelSetting>
        <AxisLabelSetting :styleConfigs="styleConfigs"></AxisLabelSetting>
      <Collapse v-model="axisValueCollapse"
        class="axisValueCollapse" simple>
        <Panel name="axisValue">
          坐标轴值定义
          <div slot="content">
            <AxisValueSetting
              :styleConfigs="styleConfigs.mainAxisValueSetting"
              :isPercent="currentSelectChart.data.configData.showType === 1"
              panelTitle="主指标"></AxisValueSetting>
            <AxisValueSetting
              :styleConfigs="styleConfigs.subAxisValueSetting"
              :isPercent="currentSelectChart.data.configData.subDataSetting.showType === 1"
              panelTitle="副指标"></AxisValueSetting>
          </div>
        </Panel>
      </Collapse>
    </div>
</template>
<script>
import DrawingAreaSetting from './common/DrawingAreaSetting.vue'
import LabelSetting from './common/LabelSetting.vue'
import AxisLabelSetting from './common/AxisLabelSetting.vue'
import AxisValueSetting from './common/AxisValueSetting.vue'
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";
export default {
  name: 'MixLineBarStyleConfig',
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    }
  },
  mixins: [ mixin ],
  components: {
    DrawingAreaSetting,
    LabelSetting,
    AxisLabelSetting,
    AxisValueSetting
  },
  computed: {
    currentStyleConfigs() {
      return Object.assign({
        legendPosition: '下',
        barColor: [],
        barBorderRadius: 0,
        lineColor: [],
      }, this.styleConfigs)
    }
  },
  data() {
    return {
      linebarCollapseVal: ['bar', 'line', 'position'],
      axisValueCollapse: ['axisValue'],
    }
  },
  mounted() {
    if(!this.styleConfigs.mainAxisValueSetting) {
      this.$set(this.styleConfigs, 'mainAxisValueSetting', {})
    }
    if(!this.styleConfigs.subAxisValueSetting) {
      this.$set(this.styleConfigs, 'subAxisValueSetting', {})
    }
  },
  methods: {
    onLegendPositionChange(e) {
      this.refreshCurrentSelectChartStyle('legendPosition', e)
    },
    barColorChange(e, index) {
      let barColor = this.currentStyleConfigs.barColor
      barColor[index] = e
      this.refreshCurrentSelectChartStyle('barColor', barColor)
    },
    barBorderRadiusChange(e) {
      let barBorderRadius = 0
      if(e == null) {
        this.$refs.borderRadius.setValue(0)
      } else {
        barBorderRadius = e
      }
      this.refreshCurrentSelectChartStyle('barBorderRadius', barBorderRadius)
    },
    lineColorChange(e, index) {
      let lineColor = this.currentStyleConfigs.lineColor
      lineColor[index] = e
      this.refreshCurrentSelectChartStyle('lineColor', lineColor)
    },
  }
}
</script>
<style scoped>
.linebar-style-config {
  padding-bottom: 140px;
}
.mr2 {
  margin-right: 2px;
}
.item {
  display: flex;
  align-items: center;
}
.itemGap {
    margin: 0 auto 10px;
}
.item .itemLabel {
  width: 48px;
  padding: 10px 6px 10px 0;
  box-sizing: border-box;
}
.item .itemStyleRight {
  flex: 1;
}
.ivu-color-picker >>> .ivu-color-picker-confirm .ivu-btn:nth-of-type(1){
  display: none;
}
.ivu-color-picker >>> > .ivu-input-wrapper{
  width: 33px;
  margin-right: 10px;
}
</style>

<style lang="less" scoped>
.axisValueCollapse.ivu-collapse.ivu-collapse-simple /deep/ .ivu-collapse-item {
  .ivu-collapse {
    .ivu-collapse-item {
      margin: 0;
    }
    .ivu-collapse-header > i {
      position: absolute;
      top: 10px;
      right: 0;
    }
    .ivu-collapse-content > .ivu-collapse-content-box {
      padding: 10px;
      background: #F5F5F5;
    }
  }
}
</style>
