<template>
    <div class="line-style-config" >
        <Collapse v-model="lineCollapseVal" simple>
            <Panel name="line">
                折线图样式
                <div slot="content">
                  <div class="multipleColorBox item">
                    <span class="itemLabel">类型</span>
                    <div class="typeSettingBox">
                      <div class="typeSettingItem"
                        title="折线图"
                        :class="{ 'typeSettingItemSelected':
                          !currentSelectChart.style.hasOwnProperty('lineType') ||
                          currentSelectChart.style.lineType === 'normal' }"
                        @click="handleLineTypeChange('normal')">
                        <img src="@/assets/images/report/style/lineTypeNormal.svg"/>
                      </div>
                      <div class="typeSettingItem"
                        title="面积图"
                        :class="{ 'typeSettingItemSelected': currentSelectChart.style.lineType === 'area' }"
                        @click="handleLineTypeChange('area')">
                        <img src="@/assets/images/report/style/lineTypeArea.svg"/>
                      </div>
                      <div class="typeSettingItem"
                        title="堆叠面积图"
                        :class="{ 'typeSettingItemSelected': currentSelectChart.style.lineType === 'stack' }"
                        @click="handleLineTypeChange('stack')">
                        <img src="@/assets/images/report/style/lineTypeStack.svg"/>
                      </div>
                      <div class="typeSettingItem"
                        title="百分比堆叠面积图"
                        :class="{ 'typeSettingItemSelected': currentSelectChart.style.lineType === 'stackPercent' }"
                        @click="handleLineTypeChange('stackPercent')">
                        <img src="@/assets/images/report/style/lineTypeStackPercent.svg"/>
                      </div>
                    </div>
                  </div>
                  <div class="multipleColorBox item">
                    <span class="itemLabel">线型</span>
                    <div class="typeSettingBox">
                      <div class="typeSettingItem"
                        title="折线"
                        :class="{ 'typeSettingItemSelected':
                        !currentSelectChart.style.hasOwnProperty('lineShape') ||
                        currentSelectChart.style.lineShape === 'broken' }"
                        @click="handleLineShapeChange('broken')"
                      >
                        <img src="@/assets/icons/chart/brokenLine.svg"/>
                      </div>
                      <div class="typeSettingItem"
                        title="曲线"
                        :class="{ 'typeSettingItemSelected': currentSelectChart.style.lineShape === 'curve' }"
                        @click="handleLineShapeChange('curve')"
                      >
                        <img src="@/assets/icons/chart/curve.svg"/>
                      </div>
                    </div>
                  </div>
                  <div class="item" v-show="currentSelectChart.style.hasOwnProperty('lineType') &&
                          currentSelectChart.style.lineType !== 'normal'">
                    <span class="itemLabel-long">区域透明度</span>
                    <div class="typeSettingBox">
                      <Select v-model="currentStyleConfigs.opacity"
                        style="width: 88px"
                        @on-change="onOpacityStyleChange">
                        <Option v-for="item in opacityList"
                          :value="item.value"
                          :key="item.value">
                            {{ item.label }}
                        </Option>
                      </Select>
                    </div>
                  </div>
                  <div class="multipleColorBox item">
                    <div v-for="(lineColorItem,index) in currentStyleConfigs.lineColor" :key="index">
                        <span class="itemLabel">折线{{ index+1 }}</span>
                        <colorPicker
                            :key="currentStyleConfigs.lineColor[index]"
                            v-model="currentStyleConfigs.lineColor[index]"
                            @change="lineColorChange($event,index)"
                        />
                    </div>
                  </div>
                </div>
            </Panel>
            <LegendSetting :styleConfigs="styleConfigs"></LegendSetting>
        </Collapse>
        <DrawingAreaSetting :styleConfigs="styleConfigs"></DrawingAreaSetting>
        <LabelSetting :styleConfigs="styleConfigs"></LabelSetting>
        <AxisLabelSetting :styleConfigs="styleConfigs"></AxisLabelSetting>
        <AxisValueSetting v-if="styleConfigs.lineType !== 'stackPercent'" :styleConfigs="styleConfigs"
          :isPercent="currentSelectChart.data.configData.showType === 1"></AxisValueSetting>
    </div>
</template>
<script>
import LegendSetting from './common/LegendSetting.vue'
import DrawingAreaSetting from './common/DrawingAreaSetting.vue'
import LabelSetting from './common/LabelSetting.vue'
import AxisLabelSetting from './common/AxisLabelSetting.vue'
import AxisValueSetting from './common/AxisValueSetting.vue'
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";
export default {
  name: 'MixLineStyleConfig',
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    }
  },
  mixins: [ mixin ],
  components: {
    LegendSetting,
    DrawingAreaSetting,
    LabelSetting,
    AxisLabelSetting,
    AxisValueSetting
  },
  computed: {
    currentStyleConfigs() {
      return Object.assign({
        legendPosition: '下',
        lineColor: [],
        opacity: 1
      }, this.styleConfigs)
    },
  },
  data() {
    return {
      lineCollapseVal: ['line'],
      opacityList: [
        {
          label: '0%',
          value: 0,
        },
        {
          label: '10%',
          value: 0.1,
        },
        {
          label: '20%',
          value: 0.2,
        },
        {
          label: '30%',
          value: 0.3,
        },
        {
          label: '40%',
          value: 0.4,
        },
        {
          label: '50%',
          value: 0.5,
        },
        {
          label: '60%',
          value: 0.6,
        },
        {
          label: '70%',
          value: 0.7,
        },
        {
          label: '80%',
          value: 0.8,
        },
        {
          label: '90%',
          value: 0.9,
        },
        {
          label: '100%',
          value: 1,
        },
      ]
      // opacityList: [0, '10%', '20%', '30%', '40%', '50%', '60%', '70%', '80%', '90%', '100%']
    }
  },
  methods: {
    onLegendPositionChange(e) {
      this.refreshCurrentSelectChartStyle('legendPosition', e)
    },
    lineColorChange(e, index) {
      let lineColor = this.currentStyleConfigs.lineColor
      lineColor[index] = e
      this.refreshCurrentSelectChartStyle('lineColor', lineColor)
    },
    handleLineTypeChange(e) {
      this.refreshCurrentSelectChartStyle('lineType', e)
    },
    handleLineShapeChange(e){
      this.refreshCurrentSelectChartStyle('lineShape', e)
    },
    onOpacityStyleChange(e){
      this.refreshCurrentSelectChartStyle('opacity', e)
    },
  }
}
</script>
<style scoped>
.line-style-config {
  /* padding-bottom: 180px; */
}
.mr2 {
  margin-right: 2px;
}
.item {
  display: flex;
  align-items: center;
}
.itemGap {
    margin: 0 auto 10px;
}
.item .itemLabel {
  width: 48px;
  padding: 10px 6px 10px 0;
  box-sizing: border-box;
}
.item .itemLabel-long {
  width: 80px;
  padding: 10px 6px 10px 0;
  box-sizing: border-box;
}
.item .itemStyleRight {
  flex: 1;
}
.item .typeSettingBox {
  display: flex;
}
.item .typeSettingBox .typeSettingItem {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid transparent;
}
.item .typeSettingBox .typeSettingItem:hover {
  box-shadow: 0px 0px 4px 0px rgba(63,115,255,1);
}
.item .typeSettingBox .typeSettingItem.typeSettingItemSelected {
  border: 1px solid rgba(63,115,255,1);
  box-shadow: 0px 0px 4px 0px rgba(63,115,255,1);
}
.ivu-color-picker >>> .ivu-color-picker-confirm .ivu-btn:nth-of-type(1){
  display: none;
}
.ivu-color-picker >>> > .ivu-input-wrapper{
  width: 33px;
  margin-right: 10px;
}
</style>
