<template>
  <div class="mapStyleConfig-container">
    <!-- 地图颜色 -->
    <Collapse v-model="mapColorCollapseVal" simple>
      <Panel name="mapColor">
        <span>地图颜色</span>
        <div slot="content" class="colorSelectWrapper">
          <div class="item">
            <span class="itemLabel">颜色</span>
            <div class="colorSelectBox" @click="showColorSelectArea = true">
              <div class="colorBg" :style="`background-image: linear-gradient(270deg, ${currentMapColor.start} 8%,${currentMapColor.end} 100%);`"></div>
            </div>
          </div>
          <div class="colorSelectModal" v-show="showColorSelectArea">
            <div class="selectItem" v-for="(item, index) in colorSelectList" :key="index" @click="selectColor(item)">
              <div class="selectItemBorder">
                <div class="colorBg" :style="`background-image: linear-gradient(270deg, ${item.start} 8%,${item.end} 100%);`"></div>
              </div>
            </div>
          </div>
        </div>
      </Panel>
    </Collapse>

    <!-- 图例设置 -->
    <LegendSetting :styleConfigs="styleConfigs" :isShowFont="false" :positionList="positionList" legendPosition='左' />

    <!-- 标签设置 -->
    <Collapse v-model="mapLabelCollapseVal" simple>
      <Panel name="mapLabel">
        <span>
          <span class="title">标签设置</span>
          <Checkbox
            class="titleCheckbox"
            v-model="currentStyleConfigs.showLabel"
            @click.native="(e) => {e.stopPropagation()}"
            @on-change="handleCheckboxChange"
          />
        </span>
        <div slot="content" class="labelSetWrapper" v-if="currentStyleConfigs.showLabel">
          <div class="item">
            <span class="itemLabel">字体</span>
            <div class="itemContent">
              <Select v-model="currentStyleConfigs.labelFontFamily" style="width:90px;margin-right:14px;" @on-change="handleLabelFontFamilyChange">
                <Option v-for="item in fontFamilyList" :value="item.value" :key="item.value">
                  {{ item.label }}
                </Option>
              </Select>
              <Select v-model="currentStyleConfigs.labelFontSize" style="width:76px" @on-change="handleLabelFontSizeChange">
                <Option v-for="i in 9" :value="(i + 5) * 2" :key="i">
                  {{ (i + 5) * 2 }}
                </Option>
              </Select>
            </div>
          </div>
          <div class="item">
            <span class="itemLabel">样式</span>
            <div class="itemContent">
              <FontBar @click="handleChangeFontBar" :styleConfig="currentStyleConfigs.labelStyle" isMap>
                <li style="padding:0;">
                  <colorPicker
                    class="fontColorPicker"
                    defaultColor="#000000"
                    v-model="currentStyleConfigs.labelFontColor"
                    @change="handleLabelFontColorChange"
                    style="line-height: 1.5;border:none;"
                  />
                </li>
              </FontBar>
            </div>
          </div>
          <div class="item">
            <span class="itemLabel">显示</span>
            <div class="">
              <RadioGroup v-model="currentStyleConfigs.labelRange" @on-change="handleLabelRangeChange">
                <Radio label="all">全部</Radio>
                <Radio label="maxmin">最大和最小</Radio>
              </RadioGroup>
              <div>
                <Checkbox v-model="currentStyleConfigs.labelOverlap" @on-change="handleLabelOverlapChange" />
                <span>标签重叠</span>
              </div>
            </div>
          </div>
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import LegendSetting from "./common/LegendSetting.vue";
import LabelSetting from "./common/LabelSetting.vue";
import FontBar from './common/fontBar.vue'
import mixin from "./mixin/ChartStyleConfigMixin";
import { LABEL_FAMILY_LIST } from '@/config/ReportConstants'

export default {
  name: "MapStyleConig",
  mixins: [ mixin ],
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  components: {
    LegendSetting,
    LabelSetting,
    FontBar
  },
  data() {
    return {
      mapColorCollapseVal: ["mapColor"], // 展开的折叠面板
      mapLabelCollapseVal: ["mapLabel"],
      currentMapColor: { // 当前选中的颜色
        start: "#D8E5FF",
        end: "#0023D7"
      },
      showColorSelectArea: false, // 是否展示地图颜色选择块
      colorSelectList: [ // 可选择的颜色列表
        {
          start: "#D8E5FF",
          end: "#0023D7"
        },
        {
          start: "#F2D8FF",
          end: "#8E00D7"
        },
        {
          start: "#DFFFD8",
          end: "#33D700"
        },
        {
          start: "#FFF4D8",
          end: "#FF9400"
        },
        {
          start: "#D8FFFB",
          end: "#00AED7"
        },
        {
          start: "#FFD8D8",
          end: "#D70000"
        },
        {
          start: "#FFD8F1",
          end: "#D700B9"
        },
        {
          start: "#FCFFD8",
          end: "#FFE500"
        }
      ],
      fontFamilyList: LABEL_FAMILY_LIST,
      positionList: [
        { label: "左", value: "左" },
        { label: "右", value: "右" }
      ],
    };
  },
  computed: {
    currentStyleConfigs() {
      return Object.assign({
        showLabel: false, // 是否展示label
        labelFontFamily: 'SimSun', // 字体
        labelFontSize: 12, // 字体大小
        labelStyle: { // 样式
          backgroundColor: '#ccc',
          fontSize: 12,
          fontFamily: 'aliPuHui Regular',
          color: '#515a6e',
          titleColor: '#f8f8f9',
          dimensionStyle: 'center',
          indicatorStyle: 'center',
          fontBold: 'normal',
          fontItalic: 'nomal',
          fontUnderLine: 'nomal',
          fontStrikethrough: 'none'
        },
        labelFontColor: '#000000',
        labelRange: 'all', // 显示范围
        labelOverlap: true // 标签是否重叠
      }, this.styleConfigs)
    }
  },
  methods: {
    selectColor({ start, end }) {
      this.showColorSelectArea = false;
      this.currentMapColor.start = start;
      this.currentMapColor.end = end;
      this.refreshCurrentSelectChartStyle('currentMapColor', this.currentMapColor) // 存到vuex
    },
    handleCheckboxChange(value) {
      this.refreshCurrentSelectChartStyle('showLabel', value)
    },
    handleLabelFontFamilyChange(value) {
      this.refreshCurrentSelectChartStyle('labelFontFamily', value)
    },
    handleLabelFontSizeChange(value) {
      this.refreshCurrentSelectChartStyle('labelFontSize', value)
    },
    handleChangeFontBar(value) {
      if (!this.currentSelectChart.style) {
        this.currentSelectChart.style = {}
      }
      if (!this.currentSelectChart.style["labelSetting"]) {
        this.$set(this.currentSelectChart.style, "labelSetting", {})
      }
      value.forEach(item => {
        this.$set(this.currentSelectChart.style["labelSetting"], item.label, item.type)
      })
    },
    handleLabelFontColorChange(value) {
      this.refreshCurrentSelectChartStyle('labelFontColor', value)
    },
    handleLabelRangeChange(value) {
      this.refreshCurrentSelectChartStyle('labelRange', value)
    },
    handleLabelOverlapChange(value) {
      this.refreshCurrentSelectChartStyle('labelOverlap', value)
    }
  }
};
</script>

<style lang="less" scoped>
.mapStyleConfig-container {
  .colorSelectWrapper {
    position: relative;
    .item {
      display: flex;
      align-items: center;
      .itemLabel {
        width: 34px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
        font-weight: 400;
      }
      .colorSelectBox {
        width: 186px;
        background: #ffffff;
        border: 1px solid rgba(228, 228, 228, 1);
        border-radius: 2px;
        padding: 8px 10px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          border-bottom: 7px solid rgba(0, 0, 0, 0.85);
          border-left: 7px solid transparent;
        }
      }
    }
    .colorSelectModal {
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
      position: absolute;
      right: 0;
      z-index: 999;
      .selectItem {
        padding: 4px 8px;
        background: #ffffff;
        box-sizing: border-box;
        cursor: pointer;
        .selectItemBorder {
          padding: 2px;
          box-sizing: border-box;
          &:hover {
            opacity: 0.95;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
    .colorBg {
      width: 167px;
      height: 16px;
    }
  }

  .titleCheckbox {
    position: absolute;
    left: 200px;
  }
  .labelSetWrapper {
    .item {
      display: flex;
      line-height: 28px;
      &:not(:last-child) {
        margin-bottom: 9px;
      }
      .itemLabel {
        margin-right: 10px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #333333;
        font-weight: 400;
      }
      .itemContent {
        flex: 1;
        display: flex;
      }
    }
  }
  /deep/.ivu-radio .ivu-radio-inner {
    width: 16px;
    height: 16px;
  }
  /deep/.ivu-radio.ivu-radio-checked .ivu-radio-inner {
    background: #3F73FF;
    &::after {
      width: 6px;
      height: 6px;
      background: #FFFFFF;
      left: 4px;
      top: 4px;
    }
  }
}
</style>
