<template>
    <div class="line-style-config" >
        <Collapse v-model="lineCollapseVal" simple>
            <LegendSetting :styleConfigs="styleConfigs"></LegendSetting>
        </Collapse>
        <DrawingAreaSetting :styleConfigs="styleConfigs" :isBorderHidden="true"></DrawingAreaSetting>
        <LabelSetting :styleConfigs="styleConfigs"></LabelSetting>
        <AxisValueSetting v-if="styleConfigs.lineType !== 'stackPercent'" from="radar" :styleConfigs="styleConfigs"
          :isPercent="currentSelectChart.data.configData.showType === 1"></AxisValueSetting>
    </div>
</template>
<script>
import LegendSetting from './common/LegendSetting.vue'
import DrawingAreaSetting from './common/DrawingAreaSetting.vue'
import LabelSetting from './common/LabelSetting.vue'
import AxisLabelSetting from './common/AxisLabelSetting.vue'
import AxisValueSetting from './common/AxisValueSetting.vue'
import mixin from "@/view/report/ChartStyleConfig/mixin/ChartStyleConfigMixin";
import { deepCopy } from '@/utils/common'

// 坐标轴配置项
const AXIS_VALUE_CONFIG = {
  axisValueCustomRange: false,
  axisValueCustomMax: null,
  axisValueCustomMin: null,
  axisValueCustomLog: false,
  axisValueCustomLogBase: null,
  axisTickHidden: false,
}

export default {
  name: 'RadarStyleConfig',
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    }
  },
  mixins: [ mixin ],
  components: {
    LegendSetting,
    DrawingAreaSetting,
    LabelSetting,
    AxisLabelSetting,
    AxisValueSetting
  },
  computed: {
    currentStyleConfigs() {
      return Object.assign({
        legendPosition: '下',
        lineColor: [],
      }, this.styleConfigs)
    }
  },
  data() {
    return {
      lineCollapseVal: ['line'],
    }
  },
  mounted() {
    for (let key in AXIS_VALUE_CONFIG) {
      if (!this.styleConfigs.hasOwnProperty(key)) {
        this.$set(this.styleConfigs, key, AXIS_VALUE_CONFIG[key])
      }
    }
  },
  methods: {
    onLegendPositionChange(e) {
      this.refreshCurrentSelectChartStyle('legendPosition', e)
    },
    lineColorChange(e, index) {
      let lineColor = this.currentStyleConfigs.lineColor
      lineColor[index] = e
      this.refreshCurrentSelectChartStyle('lineColor', lineColor)
    },
    handleLineTypeChange(e) {
      this.refreshCurrentSelectChartStyle('lineType', e)
    }
  }
}
</script>
<style scoped>
.line-style-config {
  /* padding-bottom: 180px; */
}
.mr2 {
  margin-right: 2px;
}
.item {
  display: flex;
  align-items: center;
}
.itemGap {
    margin: 0 auto 10px;
}
.item .itemLabel {
  width: 48px;
  padding: 10px 6px 10px 0;
  box-sizing: border-box;
}
.item .itemStyleRight {
  flex: 1;
}
.item .typeSettingBox {
  display: flex;
}
.item .typeSettingBox .typeSettingItem {
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid transparent;
}
.item .typeSettingBox .typeSettingItem:hover {
  box-shadow: 0px 0px 4px 0px rgba(63,115,255,1);
}
.item .typeSettingBox .typeSettingItem.typeSettingItemSelected {
  border: 1px solid rgba(63,115,255,1);
  box-shadow: 0px 0px 4px 0px rgba(63,115,255,1);
}
.ivu-color-picker >>> .ivu-color-picker-confirm .ivu-btn:nth-of-type(1){
  display: none;
}
.ivu-color-picker >>> > .ivu-input-wrapper{
  width: 33px;
  margin-right: 10px;
}
</style>
