<template>
  <div>
    <LegendSetting :styleConfigs="styleConfigs"></LegendSetting>
    <DrawingAreaSetting :styleConfigs="styleConfigs"></DrawingAreaSetting>
    <Collapse v-model="axisValueCollapse" class="axisValueCollapse" simple>
      <Panel name="axisValue">
        坐标轴值定义
        <div slot="content">
          <AxisValueSetting :styleConfigs="styleConfigs.xAxisValueSetting" panelTitle="X轴"></AxisValueSetting>
          <AxisValueSetting :styleConfigs="styleConfigs.yAxisValueSetting" panelTitle="Y轴"></AxisValueSetting>
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import LegendSetting from './common/LegendSetting.vue'
import DrawingAreaSetting from './common/DrawingAreaSetting.vue'
import AxisValueSetting from './common/AxisValueSetting.vue'
export default {
  name: "ScatterStyleConfig",
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return { }
      }
    }
  },
  components: {
    LegendSetting,
    DrawingAreaSetting,
    AxisValueSetting
  },
  data() {
    return {
      axisValueCollapse: ['axisValue']
    }
  },
  mounted() {
    if(!this.styleConfigs.xAxisValueSetting) {
      this.$set(this.styleConfigs, 'xAxisValueSetting', {})
    }
    if(!this.styleConfigs.yAxisValueSetting) {
      this.$set(this.styleConfigs, 'yAxisValueSetting', {})
    }
  }
}
</script>

<style lang="less" scoped>
.axisValueCollapse.ivu-collapse.ivu-collapse-simple /deep/ .ivu-collapse-item {
  .ivu-collapse {
    .ivu-collapse-item {
      margin: 0;
    }
    .ivu-collapse-header > i {
      position: absolute;
      top: 10px;
      right: 0;
    }
    .ivu-collapse-content > .ivu-collapse-content-box {
      padding: 10px;
      background: #F5F5F5;
    }
  }
}
</style>
