<template>
  <div class="earlyWarning-container">
    <QuickHeader :title="title" showMoreBtn @goto:more="$emit('goto:more', 'earlyWarning')" />
    <section class="content">
      <div class="contentItem" v-for="item in list" :key="item.id" :style="{ '--earlyWarningColor': watchStatusColor(item.watchLabel) }">
        <div class="itemTop">
          <span class="warningTitle" @click="$emit('goto:item', item, 'earlyWarning')">{{ item.name }}</span>
          <div class="watchStatusWrapper">
            <template v-if="item.watchLabel !== -1">
              <div class="watchStatusLabel" v-if="item.watchLabel !== -2">
                {{ watchStatusText(item.watchLabel) }}
              </div>
              <div class="watchErrorLabel" v-else>
                <img src="@/assets/icons/earlyWarningTarget/watchError.svg" alt="" />
                <span>监测失败</span>
              </div>
            </template>
            <span v-else>{{ defaultText }}</span>
          </div>
        </div>
        <div class="itemBottomWrapper">
          <div class="bottomItem">
            <span class="itemlabel">当前值</span>
            <span class="itemValue">{{ item.currentValue }}</span>
          </div>
          <div class="bottomItem">
            <span class="itemlabel">预警阈值</span>
            <span class="itemValue">{{ item.limitValue }}</span>
          </div>
          <div class="bottomItem">
            <span class="itemlabel">负责人</span>
            <span class="itemValue">{{ item.manager }}</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import QuickHeader from "./QuickHeader";
import { DEFAULT_SHOW } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";
import { EARLY_WARNING_TYPE_LIST } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";

export default {
  props: {
    title: {
      type: String,
      required: true
    },
    list: {
      type: Array,
      required: true
    }
  },
  components: {
    QuickHeader
  },
  data() {
    return {
      defaultText: DEFAULT_SHOW // 默认文本
    };
  },
  computed: {
    watchStatusText() {
      return status => EARLY_WARNING_TYPE_LIST.find(ele => ele.value === status)?.label;
    },
    watchStatusColor() {
      return status => EARLY_WARNING_TYPE_LIST.find(ele => ele.value === status)?.color;
    }
  }
};
</script>

<style lang="less" scoped>
.earlyWarning-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid rgba(235, 239, 243, 1);
  border-radius: 8px;

  .content {
    padding: 18px 25px 25px;
    .contentItem {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      .itemTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        .warningTitle {
          font-size: 16px;
          color: #333333;
          letter-spacing: 0.2px;
          line-height: 24px;
          font-weight: 600;
          cursor: pointer;
          &::before {
            content: "";
            display: inline-block;
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background: var(--earlyWarningColor);
            margin-right: 8px;
          }
        }
        .watchStatusWrapper {
          display: flex;
          align-items: center;
          .watchStatusLabel {
            width: 75px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #ffffff;
            letter-spacing: 0;
            background: var(--earlyWarningColor);
          }
          .watchErrorLabel {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              margin-right: 4px;
            }
            span {
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #ff0202;
              letter-spacing: 0;
              font-weight: 400;
            }
          }
        }
      }
      .itemBottomWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 19px;
        .bottomItem {
          .itemlabel {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #999999;
            letter-spacing: 0.18px;
            line-height: 22px;
            margin-right: 6px;
          }
          .itemValue {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.85);
            letter-spacing: 0.18px;
            line-height: 22px;
            font-weight: 400;
          }
          &:first-child {
            .itemValue {
              color: var(--earlyWarningColor);
            }
          }
        }
      }
    }
  }
}
</style>
