<template>
  <div class="personInfo-container">
    <img class="infoLeft" src="@/assets/images/default-adminBig.svg" alt="" />
    <div class="inforight">
      <p class="userName">{{ info.name }}</p>
      <p class="deptName" v-if="info.dept">部门: {{ info.dept }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    info: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="less" scoped>
.personInfo-container {
  width: 100%;
  height: 100%;
  background-image: url("~@/assets/icons/home/personInfoBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  .infoLeft {
    border-radius: 50%;
    margin-right: 15px;
  }
  .inforight {
    .userName {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.85);
      line-height: 24px;
      font-weight: 600;
      margin-bottom: 6px;
    }
    .deptName {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 22px;
      font-weight: 600;
    }
  }
}
</style>
