<template>
  <div class="quickHeader-container">
    <span class="titleName">{{ title }}</span>
    <div v-if="showMoreBtn" class="moreBtn" @click="$emit('goto:more')"></div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    showMoreBtn: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="less" scoped>
.quickHeader-container {
  width: 100%;
  height: 49px;
  line-height: 49px;
  padding: 0 28px;
  border-bottom: 1px solid rgba(235, 239, 243, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .titleName {
    font-size: 18px;
    color: #333333;
    letter-spacing: 0.58px;
    font-weight: 600;
  }
  .moreBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("~@/assets/icons/home/moreBtn.svg");
    background-repeat: no-repeat;
    background-position: center center;
    &:hover {
      background-image: url("~@/assets/icons/home/moreBtn_hover.svg");
    }
  }
}
</style>
