<template>
  <div class="quickJump-container">
    <QuickHeader :title="title" />
    <section class="content">
      <div class="contentItem" v-for="item in list" :key="item.id">
        <img class="createIcon" v-if="title === '快捷创建'" :src="item.icon" alt="" @click="goto(item)" />
        <div
          v-else-if="title === '快捷访问'"
          class="accessIconBg"
          :style="{ '--defaultIcon': `url(${item.defaultIcon})`, '--hoverIcon': `url(${item.hoverIcon})` }"
          @click="goto(item)"
        ></div>
        <p :title="item.name" @click="goto(item)">{{ item.name }}</p>
      </div>
    </section>
  </div>
</template>

<script>
import QuickHeader from "./QuickHeader";

export default {
  props: {
    title: {
      type: String,
      required: true
    },
    list: {
      type: Array,
      required: true
    }
  },
  components: {
    QuickHeader
  },
  methods: {
    goto(item) {
      this.$emit("goto", item, this.title);
    }
  }
};
</script>

<style lang="less" scoped>
.quickJump-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid rgba(235, 239, 243, 1);
  border-radius: 8px;

  .content {
    padding: 16px 0 21px;
    display: flex;
    flex-wrap: wrap;
    .contentItem {
      width: 25%;
      text-align: center;
      &:nth-child(-n + 4) {
        margin-bottom: 28px;
      }
      .createIcon {
        width: 56px;
        height: 56px;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0 10px 0 rgba(39, 129, 255, 0.7);
          border-radius: 7px;
        }
      }
      .accessIconBg {
        width: 56px;
        height: 56px;
        margin: 0 auto;
        cursor: pointer;
        background-image: var(--defaultIcon);
        background-repeat: no-repeat;
        background-position: center center;
        &:hover {
          background-image: var(--hoverIcon);
        }
      }
      p {
        margin-top: 6px;
        font-size: 14px;
        color: #333333;
        line-height: 22px;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
</style>
