<template>
  <div class="targetSituation-container">
    <QuickHeader :title="title" showMoreBtn @goto:more="$emit('goto:more', 'targetSituation')" />
    <section class="content">
      <div class="contentItem" v-for="item in list" :key="item.id">
        <div class="itemTop">
          <span class="warningTitle" @click="$emit('goto:item', item, 'targetSituation')">{{ item.name }}</span>
          <div class="warningLabel">{{ item.manager }}</div>
        </div>
        <div class="itemBottomWrapper">
          <Progress :percent="item.progress" :stroke-width="6" :stroke-color="strokeColor(item.riskLevel)" hide-info />
          <span class="progressValue">{{ item.progress+ "%" }}</span>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import QuickHeader from "./QuickHeader";

export default {
  props: {
    title: {
      type: String,
      required: true
    },
    list: {
      type: Array,
      required: true
    }
  },
  components: {
    QuickHeader
  },
  methods: {
    //进度条颜色
    strokeColor(riskLevel) {
      let strokeColor
      switch (riskLevel) {
        case '高风险':
          strokeColor = ['#F86666', '#FF9696']
          break;
        case '中风险':
          strokeColor = ['#F78C22', '#FFBD54']
          break;
        case '低风险':
          strokeColor = ['#4666F9', '#44A6EF']
          break;
        case '无风险':
          strokeColor = ['#52C41A', '#00FA2C']
          break;
      }
      return strokeColor
    },
  }
};
</script>

<style lang="less" scoped>
.targetSituation-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid rgba(235, 239, 243, 1);
  border-radius: 8px;

  .content {
    padding: 18px 28px 24px;

    .contentItem {
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .itemTop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .warningTitle {
          font-size: 14px;
          color: #333333;
          letter-spacing: 0.2px;
          line-height: 22px;
          font-weight: 600;
          cursor: pointer;
        }

        .warningLabel {
          font-family: PingFangSC-Regular;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.45);
          letter-spacing: 0.18px;
          line-height: 22px;
        }
      }

      .itemBottomWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        /deep/.ivu-progress {
          width: 320px;
        }

        .progressValue {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #999999;
          line-height: 22px;
        }
      }
    }
  }
}</style>

