<template>
  <div class="taskSituation-container">
    <QuickHeader :title="title" showMoreBtn @goto:more="$emit('goto:more', 'taskSituation')" />
    <section class="content">
      <div class="contentItem" v-for="item in list" :key="item.id">
        <div class="itemWrapper" @click="$emit('goto:item', item, 'taskSituation')">
          <p class="itemNum">{{ item.num }}</p>
          <p class="itemLabel">{{ item.name }}</p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import QuickHeader from "./QuickHeader";

export default {
  props: {
    title: {
      type: String,
      required: true
    },
    list: {
      type: Array,
      required: true
    }
  },
  components: {
    QuickHeader
  }
};
</script>

<style lang="less" scoped>
.taskSituation-container {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid rgba(235, 239, 243, 1);
  border-radius: 8px;

  .content {
    padding: 23px 10px 25px;
    display: flex;
    .contentItem {
      width: 20%;
      display: flex;
      justify-content: center;
      &:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      .itemWrapper {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        .itemNum,
        .itemLabel {
          width: 100%;
          text-align: center;
        }
        .itemNum {
          font-size: 18px;
          color: rgba(0, 0, 0, 0.85);
          letter-spacing: 0.58px;
          line-height: 32px;
          font-weight: 600;
        }
        .itemLabel {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.45);
        }
        &:hover {
          background-image: linear-gradient(156deg, rgba(102, 166, 255, 0.15) 4%, rgba(20, 114, 255, 0.15) 100%);
          border-radius: 7px;
          .itemNum {
            color: #3285ff;
          }
        }
      }
    }
  }
}
</style>
