<template>
  <div class="create-report">
    <div class="real-time-analysis-header">
      <div class="real-time-analysis-header-title">即席分析</div>
      <div class="real-time-analysis-header-toolbars">
        <Toolbar
          :btn-undo-icon-disabled="btnUndoIconDisabled"
          :btn-redo-icon-disabled="btnRedoIconDisabled"
          :table-transpose-active="table.transpose"
          :table-transpose-disabled="tableTransposeDisabled"
          :custom-filter-active="customFilterActive"
          :custom-filter-disabled="customFilterDisabled"
          @on-undo="handleUndo"
          @on-redo="handleRedo"
          @on-table-transpose="handleTableTranspose"
          @on-custom-filter="openCustomFilterModal"
        />
        <div class="toolbars-right">
          <ReportCalendar
            key="create-calendar"
            ref="createReportCalendar"
            :need-init="true"
            :editable="true"
            :current-date="calendar"
            @dateConfirm="dateConfirm" />
          <div class="buttons">
            <Button @click="onSaveResource">
              <img src="@/assets/images/dataset/title-save.svg" />保存
            </Button>
            <Button :loading="exportLoading" @click="exportExcel">
              <img src="@/assets/images/dataset/title-export.svg" />导出
            </Button>
          </div>
        </div>
      </div>
    </div>
    <div class="create-report-body">
      <div class="create-report-body-settings">
        <DataProperty ref="dataProperty"
                      :current-choose-dimension="currentChooseDimension"
                      :current-choose-indicator="currentChooseIndicator"
                      @on-dimension-click="handleDimensionNodeClick"
                      @on-indicator-click="handleIndicatorNodeClick"/>
      </div>
      <div class="realTimeAnalysis-content">
        <div class="drag-drop-wrapper">
          <DragArea
            ref="dragAreaRow"
            type="dimension"
            :data="currentChooseDimension"
            @on-dimension-drop="onDimensionDrop"
            @on-clear="onDragAreaClear"
            @on-select-dimension-menu="onSelectDimensionMenu"
          />
          <DragArea
            ref="dragAreaColumn"
            type="indicator"
            :data="currentChooseIndicator"
            :business-model-tree-data="businessModelTreeData"
            @on-indicator-drop="onIndicatorDrop"
            @on-clear="onDragAreaClear"
            @on-select-indicator-menu="onSelectIndicatorMenu"
          />
        </div>
        <div class="data-display-wrapper">
          <ChartTab
            :chartType="chartType"
            :chart-bar-vertical-icon-disabled="chartBarVerticalIconDisabled"
            :chart-bar-horizontal-icon-disabled="chartBarHorizontalIconDisabled"
            :chart-comparison-icon-disabled="chartComparisonIconDisabled"
            :chart-line-icon-disabled="chartLineIconDisabled"
            :chart-circular-graph-icon-disabled="chartCircularGraphIconDisabled"
            :chart-combination-icon-disabled="chartCombinationIconDisabled"
            @on-change="onChartTypeChange"
          />
          <div class="chart-display-wrapper">
            <div class="table-wrapper">
              <CustomTable
                ref="customTable"
                :table="table"
                :dimensions="currentChooseDimension"
                :indicators="currentChooseIndicator"
                :customFilter="customFilter"
                :calendar="calendar"
                :page-num="pageNum"
                :page-size="pageSize"
                @on-data-change="onCustomTableDataChange"
              />
              <Page
                :current="pageNum"
                :total="tableTotalCount"
                show-total
                show-elevator
                show-sizer
                @on-change="pageNum = $event"
                @on-page-size-change="pageSize = $event" />
            </div>
            <ChartWrapper
              :chart-type="chartType"
              :chart="chart"
              :current-choose-dimension="currentChooseDimension"
              :current-choose-indicator="currentChooseIndicator">
              <template #content>
                <transition name="fade" mode="out-in">
                  <component
                    :is="componentName"
                    :chart-type="chartType"
                    :chart="chart"
                    :dimensions="currentChooseDimension"
                    :indicators="currentChooseIndicator"
                    :custom-filter="customFilter"
                    :calendar="calendar"
                    :init-delay="chartInitDelay"
                  />
                </transition>
              </template>
              <template #bottom>
                <div>图表仅展示数据TOP10</div>
              </template>
            </ChartWrapper>
          </div>
        </div>
      </div>
    </div>

    <!--自定义筛选模态框-->
    <Modal
      v-model="customFilter.show"
      width="844"
      footer-hide
      :mask-closable="false"
      title="筛选"
      class="custom-filter-modal">
      <CustomFilter
        :dimensions="currentChooseDimension"
        :indicators="currentChooseIndicator"
        :calendar="calendar"
        :show="customFilter.show"
        :config="customFilter.config"
        :table-data="tableData"
        @on-ok="handleCustomFilterOk"
        @on-cancel="customFilter.show = false" />
    </Modal>

    <!--保存组合模板模态框-->
    <Modal
      v-model="showSaveResource"
      width="320"
      footer-hide
      :mask-closable="false"
      title="保存资源"
      class="save-resource-modal">
      <SaveResource
        :chart-type="chartType"
        :chart-disabled="!chart.dimension"
        @on-ok="handleSaveResourceOk"
        @on-cancel="showSaveResource = false" />
    </Modal>

    <!--数值格式-自定义格式模态框-->
    <Modal
      v-model="customFormat.show"
      width="320"
      footer-hide
      title="自定义格式"
      :mask-closable="false"
      class="custom-format-modal">
      <CustomFormat
        :data="customFormat"
        @on-ok="handleCustomFormatOk"
        @on-cancel="handleCustomFormatCancel" />
    </Modal>

    <!--重命名模态框-->
    <Modal
      v-model="rename.show"
      width="320"
      footer-hide
      :mask-closable="false"
      title="重命名"
      class="rename-modal">
      <NameInputForm
        :data="rename"
        @on-ok="handleRenameOk"
        @on-cancel="rename.show = false" />
    </Modal>

    <!--快速创建指标模态框  将维度拖拽到列中时会打开此模态框-->
    <Modal
      v-model="createIndicatorShow"
      width="1200"
      :mask-closable="false"
      :loading="checkLoading"
      title="快速创建指标"
      class="create-indicator-modal"
      @on-ok="onCreateIndicatorOk"
      @on-cancel="onCreateIndicatorCancel">
      <BasicIndicator
        ref="basicIndicator"
        :formData="formItem"
        :indicator-data="indicatorData"
        :business-model-tree-data="businessModelTreeData"
        :group-tree-data="groupTreeData"
        type="fastCreate"
        @change="handleBasicIndicatorFormChange"
        @sql-change="handleBasicIndicatorSqlChange" />
      <div class="row labels">
        <span class="label">标签：</span>
        <AssetsLabel
          :data="formItem.labels"
          @select="handleAssetsLabelSelect"
        />
      </div>
    </Modal>

    <!--sql查询模态框-->
    <Modal
      v-model="sqlSearch.modalVisible"
      id="sqlContent"
      footer-hide
      width="800px"
      title="SQL查询"
      @on-cancel="handleCloseSqlModal">
      <div class="edit-wrapper">
        <div contenteditable="true" @input="onSqlValueInput" class="edit-area"></div>
        <div v-show="isSqlChecked !== null">
          <span :style="{color: isSqlChecked?'#777':'#f00'}">
            语法校验{{ isSqlChecked ? (sqlResultData.length > 0 ? '通过' : '通过，查询结果为空') : '失败' }}
          </span>
          <Tooltip theme="light" placement="right" maxWidth='300' class="showArrowTool" v-if="isSqlChecked===false">
            <div slot="content">
              <div v-html class="tooltip-content">{{ sqlResultError }}</div>
            </div>
            <Icon
              v-if="isSqlChecked===false"
              type="ios-information-circle-outline"
              size="18"
              class="tooltip-icon" />
          </Tooltip>
          <span
            v-show="isSqlChecked && sqlResultData.length>0"
            @click="sqlResultVisible = !sqlResultVisible"
            calss="button-result">查看结果</span>
        </div>
      </div>

      <div class="toolbar">
        <Button type="default" @click="handleCloseSqlModal">取消</Button>
        <Button type="primary" ghost @click="checkSqlSentence">运行校验</Button>
        <Button type="primary" @click="sqlOk">保存</Button>
      </div>
      <div v-show="sqlResultVisible && sqlResultData.length>0" class="table-wrapper">
        <Table :columns="sqlResultColumns" :data="sqlResultData" height="200"></Table>
      </div>
    </Modal>

    <!--SQL语句变量替换模态框-->
    <Modal v-model="writeVarVisible" title="SQL语句变量替换" width="20%" class-name="sqlModal">
      <div class="wrapper">
        <Form>
          <template v-for="(item, index) in sqlVarList.varList">
            <FormItem :key="index" v-if="item.isShow" class="writeVar">
              <div class="label">{{ item.label }}:</div>
              <Input v-model="item.value" />
            </FormItem>
          </template>
        </Form>
      </div>
      <div slot="footer">
        <Button type="default" @click="this.writeVarVisible = false">取消</Button>
        <Button type="primary" @click="sqlVarOk" class="button-submit">提交</Button>
      </div>
    </Modal>

    <!--指标全局变量-->
    <Modal v-model="globalVarVisible" title="全局变量" width="20%" class-name="sqlModal"  @on-ok="confirmGlobalVar">
        <indicator-global-var :data="currentIndicatorGlobalVarList" @selectedGlobalValChange="handleSelectedGlobalValChange"></indicator-global-var>
    </Modal>
  </div>
</template>

<script>
import DataProperty from './components/DataProperty'
import ReportCanvasLayout from '../../components/report-canvas/ReportCanvasLayout'
import CustomFilter from './components/CustomFilter'
import ReportCalendar from '../../components/report-calendar/ReportCalendar'
import CustomFormat from './components/CustomFormat'
import NameInputForm from './components/NameInputForm'
import SaveResource from '@/view/report/indicator-browser/components/SaveResource'
import TransposeTable from '@/view/report/components/transpose-table/table'
import BasicIndicator from '@/view/report/indicator/components/BasicIndicator'
import AssetsLabel from '@/view/report/components/AssetsLabel'
import CustomTable from '@/view/report/indicator-browser/components/CustomTable'
import DragArea from '@/view/report/indicator-browser/components/DragArea'
import Toolbar from '@/view/report/indicator-browser/components/Toolbar'
import ChartTab from '@/view/report/indicator-browser/components/ChartTab'
import ChartWrapper from '@/view/report/indicator-browser/components/ChartWrapper'
import {
  CircularGraphChart,
  BarHorizontalChart,
  BarVerticalChart,
  LineChart,
  CombinationChart,
  ComparisonChart,
} from './components/charts'
import excel from '@/libs/excel'
import moment from 'moment/moment'
import { CUSTOM_FORMAT_DEFAULT_CONFIG, INDICATOR_DEFAULT_CONFIG, CHART_TYPE } from './constant'
import { BASIC_INDICATOR_FORM_CONFIG } from '@/view/report/constant'
import indicatorMixin from '@/view/report/mixin/indicatorMixin'
import assetsLabelMixin from '@/view/report/mixin/assetsLabelMixin'
import multipleDropdownMenuMixin from '@/view/report/indicator-browser/mixin/multiple-dropdown-menu'
import { mapState, mapActions } from 'vuex'
import { addIndicator } from '@/api/indicator'
import { addSingleResource } from "@/api/resourceManage";
import { deepCopy } from '@/utils/common'
import {getVariableList} from "@/api/dataset";
import modelDataMixin from '@/view/report/mixin/modelDataMixin'
import IndicatorGlobalVar from '@/view/report/indicator-browser/components/IndicatorGlobalVar'
export default {
  name: 'IndicatorBrowser',
  mixins: [indicatorMixin, assetsLabelMixin, multipleDropdownMenuMixin, modelDataMixin],
  components: {
    DataProperty,
    ReportCanvasLayout,
    CustomFilter,
    ReportCalendar,
    CustomFormat,
    NameInputForm,
    SaveResource,
    TransposeTable,
    BasicIndicator,
    AssetsLabel,
    CustomTable,
    CircularGraphChart,
    BarHorizontalChart,
    BarVerticalChart,
    LineChart,
    CombinationChart,
    ComparisonChart,
    DragArea,
    Toolbar,
    ChartTab,
    ChartWrapper,
    IndicatorGlobalVar
  },
  data() {
    return {
      pageNum: 1,
      pageSize: 10,
      tableTotalCount: 0,
      createIndicatorShow: false,
      checkLoading: true,
      formItem: deepCopy(BASIC_INDICATOR_FORM_CONFIG), // 指标表单
      indicatorData: null, // 指标详情
      businessModelTreeData: [], // 业务模型树
      groupTreeData: [], // 指标分组树
      sqlSearch: { // sql查询模态框
        modalVisible: false,
        sqlValue: '',
      },
      isSqlChecked: null,
      sqlResultData: [],
      sqlResultError: '',
      sqlResultVisible: false,
      sqlResultColumns: [{ title: '列1', key: 'c1' }, { title: '列2', key: 'c2' }, { title: '列1', key: 'c3' }],
      writeVarVisible: false, // SQL语句变量替换模态框
      sqlVarList: {
        varList: [],
        sql: '',
      },
      currentChooseDimension: [],
      currentChooseIndicator: [],
      customFilter: { // 自定义筛选
        show: false,
        config: [],
        dimensionConditionGroup: [],
        indicatorCondition: {}, // 键值对形式，key为指标id
      },
      calendar: { startDate: '', endDate: '', period: '2' }, // 日历
      showSaveResource: false,
      customFormat: { // 数值格式-自定义格式
        show: false,
        format: '数值',
        unit: '原始值',
        precision: 2,
        prefix: '',
        suffix: '',
        useThousandsSeparator: false, // 使用千位分隔符
      },
      rename: {
        show: false,
        label: '',
        value: '',
        type: '',
        index: '', // 维度/指标的下标
      },
      chartType: 'table', // 图表类型
      chart: {
        dimension: '',
        indicator: '',
        indicators: [],
        barIndicators: [], // 组合图的柱状图
        lineIndicators: [], // 组合图的折线图
      },
      table: {
        transpose: false,
        showAllSummary: false,
        showGroupSummary: false,
      },
      exportLoading: false,
      hasTableData: false,
      tableData: [],
      chartInitDelay: false,
      globalVarVisible: false,
      currentIndicatorGlobalVarList: [],
      indicatorGlobalVarParam: {},
      selectIndicatorIndex: -1,
    }
  },
  computed: {
    ...mapState({
      snapshotData: state => state.realTime.snapshotData,
      snapshotIndex: state => state.realTime.snapshotIndex,
    }),
    btnUndoIconDisabled() {
      return this.snapshotIndex === 0
    },
    btnRedoIconDisabled() {
      return this.snapshotIndex === this.snapshotData.length - 1
    },
    tableTransposeDisabled() {
      return !this.currentChooseIndicator.length || !this.hasTableData
    },
    customFilterActive() {
      return !!this.customFilter.dimensionConditionGroup.length
    },
    customFilterDisabled() {
      return !this.currentChooseDimension.length || !this.currentChooseIndicator.length
    },
    chartBarVerticalIconDisabled() { // 柱状图：单维度+单个或多指标
      return !this.currentChooseDimension.length || !this.currentChooseIndicator.length
    },
    chartBarHorizontalIconDisabled() { // 条形图：单维度+单个或多指标
      return !this.currentChooseDimension.length || !this.currentChooseIndicator.length
    },
    chartComparisonIconDisabled() { // 对比图：单维度+两个指标
      return !this.currentChooseDimension.length || this.currentChooseIndicator.length < 2
    },
    chartLineIconDisabled() { // 折线图：单维度+单个或多指标
      return !this.currentChooseDimension.length || !this.currentChooseIndicator.length
    },
    chartCircularGraphIconDisabled() { // 环形图：单维度+单指标
      return !this.currentChooseDimension.length || !this.currentChooseIndicator.length
    },
    chartCombinationIconDisabled() { // 组合图：单维度+多指标
      return !this.currentChooseDimension.length || this.currentChooseIndicator.length < 2
    },
    showChart() {
      return this.chartType !== CHART_TYPE.TABLE
    },
    componentName() {
      return this.showChart ? this.chartType + 'Chart' : null
    }
  },
  created() {
    this.checkType = 1 // 使用mixin，设置checkType为1（基础指标）
    this.getBusinessModelTreeData()
    // this.getIndGroup()
    this.dropdownMenuBak = null
    this.resetSnapShot()
    // 获取全局变量
    this.fetchVariableList()
  },
  watch: {
    currentChooseDimension: {
      handler(newVal) {
        this.refreshTreeData()
        if (!newVal.length) {
          this.chartType = CHART_TYPE.TABLE
        }
      },
      deep: true,
    },
    currentChooseIndicator: {
      handler(newVal) {
        this.refreshTreeData()
        if (!newVal.length) {
          this.chartType = CHART_TYPE.TABLE
        }
      },
      deep: true,
    },
    calendar: {
      handler(newVal) {
        let { startDate, endDate, period } = newVal
        let reportDate = [startDate, endDate, false, period]
        this.setReportDate({ reportDate })
      },
      deep: true,
    },
    chartType(newVal, oldVal) {
      this.chartInitDelay = oldVal === CHART_TYPE.TABLE
    },
  },
  methods: {
    ...mapActions(['setReportDate']),
    ...mapActions('realTime', ['setSnapShotIndex', 'setSnapShotData', 'resetSnapShot']),
    ...mapActions("resourceManage", ["fetchAllResourceList"]),
    // 验证创建指标表单
    validateFormItem() {
      if (this.formItem.name === '') {
        return { type: false, message: '请填写指标名' }
      }

      if (!this.formItem.groupId) {
        return { type: false, message: '请选择指标分组' }
      }

      let parentNode = this.findParentNode(this.formItem.groupId, this.$refs.dataProperty.treeData)
      if (parentNode.hasOwnProperty('children')) {
        let allName = parentNode.children.map(item => (item.title)), idx = allName.indexOf(this.formItem.name)
        if (idx !== -1 && parentNode.children[idx].id != this.formItem.id) {
          return { type: false, message: '同组下有重复指标名' }
        }
      }

      if (!this.formItem.businessModelId) {
        return { type: false, message: '请选择业务模型' }
      }

      if (!this.formItem.businessModelPropertyId) {
        return { type: false, message: '请选择技术口径' }
      }

      if (!this.formItem.calculateType) {
        return { type: false, message: '请选择汇总方式' }
      }

      if (['', undefined].includes(this.formItem.showType)) {
        return { type: false, message: '请选择指标类型' }
      }

      let { dateStrObj } = this.formItem
      if (dateStrObj.content !== '' && dateStrObj.content > 0) {
        return { type: false, message: '累计跨度不能大于-1' }
      }

      if (dateStrObj.grandTotal === 2) {
        let checkStartDateResult = this.handleCheckStartDate(dateStrObj.endDate)
        if (!checkStartDateResult.type) {
          return checkStartDateResult
        }
      }

      if (dateStrObj.showAble) {
        if (dateStrObj.grandTotal === 1 && dateStrObj.contentAble !== '1' && dateStrObj.content === '') {
          return { type: false, message: '请调整累计跨度' }
        }
        if (dateStrObj.grandTotal === 2 && (dateStrObj.startDate.length === 0 || dateStrObj.endDate.length === 0)) {
          return { type: false, message: '请选择累计方式日期' }
        }
      }

      return { type: true }
    },

    // 快速创建指标-ok
    async onCreateIndicatorOk() {
      let validateFormItemResult = this.validateFormItem()
      if (!validateFormItemResult.type) {
        this.$Message.warning(validateFormItemResult.message)
        this.checkLoading = false
        this.$nextTick(() => {
          this.checkLoading = true
        })
        return
      }

      let { dateStrObj } = this.formItem
      let dateStr = ''
      if (dateStrObj.showAble) {
        if (dateStrObj.grandTotal === 1) {
          let lastType = dateStrObj.contentAble === '1' ? 0 : dateStrObj.content
          dateStr = `${dateStrObj.grandTotal},${dateStrObj.grandTotalType},${lastType}`
        } else {
          let lastType
          if (dateStrObj.grandTotalType === 1) {
            lastType = [dateStrObj.startDate.join('-'), dateStrObj.endDate.join('-')]
          } else {
            lastType = [dateStrObj.startDate[0], dateStrObj.endDate[0]]
          }
          dateStr = `${dateStrObj.grandTotal},${dateStrObj.grandTotalType},${lastType[0]},${lastType[1]}`
        }
      }
      this.formItem.dateStr = dateStr

      let indicator = deepCopy(this.formItem)
      indicator.groupId = indicator.groupId
      indicator.conditionGroups.forEach(item => {
        item.conditions.forEach(it => {
          if (it.selectedOpt !== 3) {
            it.value = `${it.selectedOpt}|${it.iptVal}`
          }
        })
      })
      if (!this.formItem.showThreshold || !this.formItem.thresholds.length) {
        delete indicator.thresholds
      }
      if (!this.formItem.showConditionGroups || indicator.conditionGroups.length === 0) {
        delete indicator.conditionGroups
      }

      //判断过滤条件是不是改变过
      let conditionChanged = false
      const newConditionGroup = indicator.conditionGroups
      const newConditionsString = JSON.stringify(newConditionGroup)
      if (newConditionsString?.indexOf('2|') >= 0) {
        conditionChanged = true
      }

      // 必填校验
      const validResult = await this.$refs.basicIndicator.$refs.formValidate.validate()
      if (validResult) {
        if (this.calculateTypeIsSupportNvl) {
          indicator.businessModelPropertyId = `[${indicator.businessModelPropertyId}]`
          if (this.isManualEntry) {
            indicator.businessModelPropertyId += `,${indicator.businessModelPropertyIdManualEntry}`
          } else {
            indicator.businessModelPropertyId += `,[${indicator.businessModelPropertyIdB}]`
          }
        }

        delete indicator.id
        delete indicator.createTime
        delete indicator.updateTime
        const res = await addIndicator(indicator)
        if (res.data?.state === 'success') {
          this.$Message.success('创建基础指标成功')
          this.createIndicatorShow = false
          // 创建完更新树，并将创建后的指标插入列中
          await this.$refs.dataProperty.generateTree()
          let id = res.data.data
          let newIndicator = deepCopy(INDICATOR_DEFAULT_CONFIG)
          newIndicator = {
            ...newIndicator,
            type: 1,
            id,
            key: `${id},${new Date().getTime()}`,
            title: this.formItem.name,
            calculateType: this.formItem.calculateType,
          }
          this.setCalculateTypeStatus(newIndicator, newIndicator.multipleDropdownMenu)
          this.currentChooseIndicator = [...this.currentChooseIndicator, newIndicator]
        } else {
          this.$Message.error(res.data?.message || '创建基础指标失败')
        }
      } else {
        this.$Message.error('请确认信息是否填写完整')
      }
      this.checkLoading = false
      this.$nextTick(() => {
        this.checkLoading = true
      })
    },

    // 快速创建指标-cancel
    onCreateIndicatorCancel() {
      this.createIndicatorShow = false
    },

    // 增加快照数据
    handleAddSnapshotData() {
      this.setSnapShotIndex(1)
      this.setSnapShotData({
        transpose: this.table.transpose,
        currentChooseDimension: this.currentChooseDimension,
        currentChooseIndicator: this.currentChooseIndicator,
        calendar: this.calendar,
        customFilter: this.customFilter,
        chartType: this.chartType,
        chart: this.chart,
      })
    },

    // 撤销
    handleUndo() {
      if (this.btnUndoIconDisabled) return
      this.setSnapShotIndex(-1)
      this.overwriteSnapshotDataToCurrentData()
    },

    // 重做
    handleRedo() {
      if (this.btnRedoIconDisabled) return
      this.setSnapShotIndex(1)
      this.overwriteSnapshotDataToCurrentData()
    },

    // 将快照数据覆盖当前数据
    overwriteSnapshotDataToCurrentData() {
      let {
        transpose,
        currentChooseDimension,
        currentChooseIndicator,
        calendar,
        customFilter,
        chartType,
        chart,
      } = this.snapshotData[this.snapshotIndex]
      this.table.transpose = transpose
      if (this.compareObjectAreDifferent(this.currentChooseDimension, currentChooseDimension)) {
        this.currentChooseDimension = currentChooseDimension
      }
      if (this.compareObjectAreDifferent(this.currentChooseIndicator, currentChooseIndicator)) {
        this.currentChooseIndicator = currentChooseIndicator
      }
      if (this.compareObjectAreDifferent(this.calendar, calendar)) {
        this.calendar = calendar
      }
      if (this.compareObjectAreDifferent(this.customFilter, customFilter)) {
        this.customFilter = customFilter
      }
      this.chartType = chartType
      if (this.compareObjectAreDifferent(this.chart, chart)) {
        this.chart = chart
      }
    },

    // 对比两个对象是否不同
    compareObjectAreDifferent(object1, object2) {
      return JSON.stringify(object1) !== JSON.stringify(object2)
    },

    // 表格行列转置
    handleTableTranspose() {
      if (this.tableTransposeDisabled) {
        this.$Message.info('请先添加维度和指标')
        return
      }
      this.table.transpose = !this.table.transpose
      this.handleAddSnapshotData()
    },

    // 打开自定义筛选模态框
    openCustomFilterModal() {
      if (this.customFilterDisabled) {
        this.$Message.info('请先添加维度和指标')
        return
      }
      this.customFilter.show = true
    },

    // 自定义筛选模态框-ok
    handleCustomFilterOk(filterData) {
      const { dimensionConditionGroup, indicatorCondition } = this.buildCondition(filterData)
      this.customFilter.dimensionConditionGroup = dimensionConditionGroup
      this.customFilter.indicatorCondition = indicatorCondition
      this.customFilter.show = false
      this.customFilter.config = filterData
      this.handleAddSnapshotData()
    },

    /**
     * 构建筛选数据
     * @param data
     */
    buildCondition(data) {
      let dimensionConditionGroup = []
      let indicatorCondition = {}

      const sourceList = [...this.currentChooseDimension, ...this.currentChooseIndicator]
      for (let group of data) {
        let newGroup = { conditions: [] }
        for (let item of group.list) {
          if (item.sourceId) {
            const source = sourceList.find(sourceItem => Number(sourceItem.id) === Number(item.sourceId)) // 维度or指标
            if (source) {
              const value = item.valueType === 'numberBetween' ? '1|' + item.value + ',' + item.value2 : '1|' + item.value

              if (source.type === 99) {
                // 维度
                const newItem = {
                  sourceId: item.sourceId,
                  conditionType: item.conditionType,
                  value,
                }
                if (item.value) { // 最后值为空，则不算筛选条件
                  newGroup.conditions.push(newItem)
                }
              } else {
                // 指标
                indicatorCondition[item.sourceId] = { conditionType: item.conditionType, value }
              }
            }
          }
        }
        if (newGroup.conditions.length) {
          dimensionConditionGroup.push(newGroup)
        }
      }
      return { dimensionConditionGroup, indicatorCondition }
    },

    onDimensionDrop(value) {
      this.currentChooseDimension = [...this.currentChooseDimension, value]
      this.handleAddSnapshotData()
    },

    onIndicatorDrop({ action, value }) {
      if (action === 'createIndicator') {
        this.formItem = Object.assign({}, this.formItem, value)
        this.createIndicatorShow = true
      } else {
        // 查询指标是否设置了全局变量筛选条件
        this.getIndicatorDetail(value.type, value.id).then(res => {
          value = {...value, ...res}
          this.currentIndicatorGlobalVarList = this.getIndicatorGlobalVariableCondition([value])
          // console.log('currentIndicatorGlobalVarList====', this.currentIndicatorGlobalVarList)
          if (this.currentIndicatorGlobalVarList.length) {
            value.multipleDropdownMenu = [...value.multipleDropdownMenu, {name: '全局变量', selected: false}]
            this.globalVarVisible = true
          }
          this.currentChooseIndicator = [...this.currentChooseIndicator, value]
          this.selectIndicatorIndex = this.currentChooseIndicator.length - 1
          this.handleAddSnapshotData()
        })
      }
    },

    onDragAreaClear(type) {
      if (type === 'dimension') {
        this.currentChooseDimension = []
      } else if (type === 'indicator') {
        this.currentChooseIndicator = []
      }
      this.handleAddSnapshotData()
    },

    // 选择维度菜单
    onSelectDimensionMenu({ selectedIndexes, dimensionIndex }) {
      let dimension = this.currentChooseDimension[dimensionIndex]
      let option = dimension.multipleDropdownMenu[selectedIndexes[0]].name
      if (option === '重命名') {
        this.rename = {
          ...this.rename,
          show: true,
          label: '维度名称',
          value: dimension.title,
          type: 'dimension',
          index: dimensionIndex,
        }
      } else if (option === '删除') {
        this.currentChooseDimension.splice(dimensionIndex, 1)
        this.onChartTypeChange(this.chartType)
      }
    },

    // 选择指标菜单
    onSelectIndicatorMenu({ selectedIndexes, indicatorIndex }) {
      let indicator = this.currentChooseIndicator[indicatorIndex]
      let dropdownMenu = indicator.multipleDropdownMenu
      let numberFormat = indicator.numberFormat ?? {}
      this.setMenuSelectStatus(dropdownMenu, selectedIndexes)
      let firstLevelMenu = dropdownMenu[selectedIndexes[0]]
      let secondLevelMenu = firstLevelMenu?.children?.[selectedIndexes[1]]
      let thirdLevelMenu = secondLevelMenu?.children?.[selectedIndexes[2]]
      let { name: firstLevelMenuName } = firstLevelMenu

      if (firstLevelMenuName === '汇总方式') { // 汇总方式是单选，目前只支持求和、平均数
        indicator.summaryMethod = secondLevelMenu.selected && secondLevelMenu.value
        this.handleAddSnapshotData()
      }

      if (firstLevelMenuName === '高级计算') { // 高级计算是多选，目前只支持环比、同比、占比、累计
        let thirdLevelMenuSelected = thirdLevelMenu?.selected

        if (secondLevelMenu.name === '环比') {
          if (thirdLevelMenu.value === '环比值') {
            indicator.ringCompareValue = thirdLevelMenuSelected
          } else if (thirdLevelMenu.value === '环比变化率') {
            indicator.ringCompareChangeRate = thirdLevelMenuSelected
          }
        }

        if (secondLevelMenu.name === '同比') {
          if (thirdLevelMenu.value === '年同比值') {
            indicator.yoyValue = thirdLevelMenuSelected
          } else if (thirdLevelMenu.value === '年同比变化率') {
            indicator.yoyChangeRate = thirdLevelMenuSelected
          } else if (thirdLevelMenu.value === '月同比值') {
            indicator.momValue = thirdLevelMenuSelected
          } else if (thirdLevelMenu.value === '月同比变化率') {
            indicator.momChangeRate = thirdLevelMenuSelected
          }
        }

        if (secondLevelMenu.value === '占比') {
          indicator.ratio = secondLevelMenu.selected
        }

        if (secondLevelMenu.name === '累计') { // 累计是全局生效的，所以通过全局属性控制
          if (thirdLevelMenu.value === '全部累计') {
            this.table.showAllSummary = thirdLevelMenuSelected
          } else if (thirdLevelMenu.value === '组内累计') {
            this.table.showGroupSummary = thirdLevelMenuSelected
          }
        }
        this.handleAddSnapshotData()
      }

      if (firstLevelMenuName === '数值格式') { // 数值格式是单选
        if (secondLevelMenu.value === '数值') { // 整数的value是数值
          indicator.numberFormat = secondLevelMenu.selected ? { format: '数值', precision: 0 } : {}
          this.handleAddSnapshotData()
        } else if (secondLevelMenu.value === '百分比') {
          indicator.numberFormat = secondLevelMenu.selected ? { format: '百分比', precision: 2 } : {}
          this.handleAddSnapshotData()
        } else if (secondLevelMenu.value === '自定义格式') {
          // 如果之前选中的不是自定义格式，则不用赋值
          numberFormat = numberFormat.hasOwnProperty('unit') ? numberFormat : {}
          this.customFormat = { ...this.customFormat, ...numberFormat, show: true, index: indicatorIndex }
        }
      }

      if (firstLevelMenuName === '重命名') {
        this.rename = {
          show: true,
          label: '指标名称',
          value: indicator.title,
          type: 'indicator',
          index: indicatorIndex,
        }
      }

      if (firstLevelMenuName === '复制') {
        let copy = deepCopy(indicator)

        // 复制时需清空高级设置
        if (copy.advancedComputing) {
          copy.advancedComputing = null
        }

        // 复制时重新定义key
        copy.key = `${copy.id},${new Date().getTime()}`
        this.currentChooseIndicator = [...this.currentChooseIndicator, copy]
        this.handleAddSnapshotData()
      }

      if (firstLevelMenuName === '删除') {
        this.currentChooseIndicator.splice(indicatorIndex, 1)
        this.onChartTypeChange(this.chartType)
      }

      if (firstLevelMenuName === '全局变量') {
        this.globalVarVisible = true
        this.selectIndicatorIndex = indicatorIndex
      }
    },

    // 设置行/列标签菜单选中状态
    setMenuSelectStatus(menu, indexes) {
      let [first, second, third] = indexes
      let firstLevel = menu[first]
      let secondLevel = firstLevel.children?.[second]
      let thirdLevel = secondLevel?.children?.[third]
      let firstLevelName = firstLevel.name
      let deep = indexes.length

      if (deep === 1) { // 重命名、复制、删除
        return
      }

      if (deep === 2) {
        if (firstLevelName === '高级计算') {
          secondLevel.selected = !secondLevel.selected
        } else {
          // 备份菜单，如果自定义格式弹窗点击取消，则恢复之前的勾选状态
          this.dropdownMenuBak = deepCopy(menu)
          for (let item of firstLevel.children) {
            if (item.name === secondLevel.name) {
              item.selected = item.name === '自定义格式' ? true : !item.selected
            } else {
              item.selected = false
            }
          }
        }
        firstLevel.selected = firstLevel.children?.some(item => item.selected)
      }

      if (deep === 3) {
        thirdLevel.selected = !thirdLevel.selected

        // 如果选中高级计算-累计-全部累计/组内累计，则所有指标都选中，反之，所有都取消选中
        if (firstLevelName === '高级计算' && secondLevel.name === '累计') {
          let targetName = thirdLevel.name === '全部累计' ? '全部累计' : '组内累计'
          let selected = thirdLevel.selected
          let indicators = this.currentChooseIndicator

          for (let item of indicators) {
            let dropdown = item.multipleDropdownMenu
            let target = dropdown.find(
              item => item.name === '高级计算',
            ).children.find(
              item => item.name === '累计',
            ).children.find(
              item => item.name === targetName,
            )
            let secondOfTarget = dropdown.find(
              item => item.name === '高级计算',
            ).children.find(
              item => item.name === '累计',
            )
            let firstOfTarget = dropdown.find(item => item.name === '高级计算')

            target.selected = selected
            secondOfTarget.selected = secondOfTarget?.children.some(item => item.selected)
            firstOfTarget.selected = firstOfTarget.children?.some(item => item.selected)
          }
        }

        secondLevel.selected = secondLevel?.children.some(item => item.selected)
        firstLevel.selected = firstLevel.children?.some(item => item.selected)
      }
    },

    onChartTypeChange(type) {
      this.chartType = type
      if (type === CHART_TYPE.TABLE) return
      if (!this.currentChooseDimension.length && !this.currentChooseIndicator.length) return
      // 维度默认选择第一个，指标按照支持的最大数从第一个开始勾选
      this.chart.dimension = this.currentChooseDimension[0].id
      if (type == CHART_TYPE.CIRCULAR_GRAPH) {
        this.chart.indicator = this.currentChooseIndicator[0]?.key
        this.chart.indicators = []
        this.chart.barIndicators = []
        this.chart.lineIndicators = []
      } else if (type == CHART_TYPE.COMPARISON) {
        this.chart.indicators = this.currentChooseIndicator.slice(0, 2).map(item => item.key)
        this.chart.indicator = ''
        this.chart.barIndicators = []
        this.chart.lineIndicators = []
      } else if (type == CHART_TYPE.COMBINATION) {
        this.chart.barIndicators = this.currentChooseIndicator[0].key
        this.chart.lineIndicators = this.currentChooseIndicator.slice(1).map(item => item.key)
        this.chart.indicator = ''
        this.chart.indicators = []
      } else {
        this.chart.indicators = this.currentChooseIndicator.map(item => item.key)
        this.chart.indicator = ''
        this.chart.barIndicators = []
        this.chart.lineIndicators = []
      }
      this.handleAddSnapshotData()
    },

    onCustomTableDataChange({ total, data }) {
      this.tableTotalCount = total
      this.hasTableData = total > 0
      this.tableData = data
    },

    // 重命名模态框-ok
    handleRenameOk() {
      let { type, index } = this.rename
      let choose = type === 'dimension' ? this.currentChooseDimension : this.currentChooseIndicator
      choose[index].title = this.rename.value
      // 重命名后，重置指标别名，重名名的优先级高于指标别名
      choose[index].abbrName = ''
      if (type === 'indicator') {
        // 多选下拉框，只改变label不会更新已选中的值，需要改变value，这里的key对应的是多选下拉框的value
        const oldKey = choose[index].key
        choose[index].key = `${choose[index].id},${new Date().getTime()}`
        // 更新下拉框选中的指标
        if (this.chart.indicator) this.chart.indicator = choose[index].key
        let selectIndex = this.chart.barIndicators.findIndex(item => item === oldKey)
        if (selectIndex > -1) this.chart.barIndicators.splice(selectIndex, 1, choose[index].key)
        selectIndex = this.chart.lineIndicators.findIndex(item => item === oldKey)
        if (selectIndex > -1) this.chart.lineIndicators.splice(selectIndex, 1, choose[index].key)
        selectIndex = this.chart.indicators.findIndex(item => item === oldKey)
        if (selectIndex > -1) this.chart.indicators.splice(selectIndex, 1, choose[index].key)
      }
      this.rename.show = false
      this.$nextTick(() => {
        this.rename = {
          show: false,
          label: '',
          value: '',
          type: '',
          index: '',
        }
      })
      this.handleAddSnapshotData()
    },

    onSaveResource() {
      if (!this.currentChooseIndicator.length) {
        this.$Message.warning('请选择有效的行列组合')
        return
      }
      this.showSaveResource = true
    },

    // 保存组合模板模态框-ok
    async handleSaveResourceOk({ table, chart }) {
      if (table.checked) {
        await this.saveTableResource(table)
      }
      if (chart.checked) {
        await this.saveChartResource(chart)
      }
      this.fetchAllResourceList(); // 刷新vuex中已存在的资源
      this.showSaveResource = false
    },

    async saveTableResource(table) {
      let dimensions = this.currentChooseDimension.map(item => item.id)
      let indicators = this.currentChooseIndicator.map(item => ({
        id: item.id,
        title: item.title,
        type: item.type,
      }))
      let params = {
        name: table.name,
        type: 'CustomTable',
        dimensions,
        indicators,
        width: 360,
        height: 270,
        configData: JSON.stringify({
          style: {
            width: 360,
            height: 270,
            title: "未命名组件",
            showTitle: true
          },
          data: null
        }),
        groupId: table.groupId,
        labels: table.labels
      }
      const res = await addSingleResource(params);
      if (res.data.state === 'success') {
        this.$Message.success('表格资源保存成功')
      } else {
        this.$Message.warning('表格资源保存失败')
      }
    },

    async saveChartResource(chart) {
      let dimensions = [this.chart.dimension]
      let indicators = this.getSaveResourceIndicators()
      let type = ""
      switch(this.chartType) {
        case "barVertical":
        case "barHorizontal":
        case "comparison":
          type = "SimpleBar"
          break;
        case "table":
          type = "CustomTable"
          break;
        case "line":
          type = "SimpleLine"
          break;
        case "radar":
          type = "BasicRadar"
          break;
        case "circularGraph":
          type = "SimplePie"
          break;
        case "combination":
          type = "MixLineBar"
          break;
      }
      let params = {
        name: chart.name,
        type,
        dimensions,
        indicators,
        width: 360,
        height: 270,
        configData: JSON.stringify({
          style: {
            width: 360,
            height: 270,
            title: "未命名组件",
            showTitle: true
          },
          data: null
        }),
        groupId: chart.groupId,
        labels: chart.labels
      }
      const res = await addSingleResource(params);
      if (res.data.state === 'success') {
        this.$Message.success('图表资源保存成功')
      } else {
        this.$Message.warning('图表资源保存失败')
      }
    },

    getSaveResourceIndicators() {
      let indicators = []
      if (this.chartType == CHART_TYPE.CIRCULAR_GRAPH) {
        indicators = this.currentChooseIndicator.filter(
          item => item.key === this.chart.indicator,
        )
      } else if (this.chartType == CHART_TYPE.COMBINATION) {
        indicators = this.currentChooseIndicator.filter(
          item => this.chart.barIndicators.includes(item.key) || this.chart.lineIndicators.includes(item.key),
        )
      } else {
        indicators = this.currentChooseIndicator.filter(
          item => this.chart.indicators.includes(item.key),
        )
      }
      indicators = indicators.map(item => ({
        id: item.id,
        title: item.title,
        type: item.type,
      }))
      return indicators
    },

    // 数值格式-自定义格式模态框-ok
    handleCustomFormatOk() {
      let { index, format, unit, precision, prefix, suffix, useThousandsSeparator } = this.customFormat
      this.currentChooseIndicator[index].numberFormat = { format, unit, precision, prefix, suffix, useThousandsSeparator }
      this.customFormat = deepCopy(CUSTOM_FORMAT_DEFAULT_CONFIG)
      this.handleAddSnapshotData()
    },

    // 数值格式-自定义格式模态框-cancel
    handleCustomFormatCancel() {
      let { index } = this.customFormat
      this.currentChooseIndicator[index].multipleDropdownMenu = this.dropdownMenuBak
      this.customFormat = deepCopy(CUSTOM_FORMAT_DEFAULT_CONFIG)
    },

    // 日期选择确认
    dateConfirm(startDate, endDate, period) {
      startDate = moment(startDate).format('yyyy-MM-DD')
      endDate = moment(endDate).format('yyyy-MM-DD')
      if (startDate === this.calendar.startDate && endDate === this.calendar.endDate) {
        return
      }
      this.calendar = { startDate, endDate, period }
      this.handleAddSnapshotData()
    },

    // 移动行中标签，调整顺序，拖拽开始
    handleTagMoveDragStart(e, type) {
      const data = JSON.stringify({ index: e.target.dataset.index, type })
      e.dataTransfer.setData('DRAG_NODE_MOVE_DATA', data)
    },

    // 移动行中标签，调整顺序，拖拽结束
    handleTagMoveDrop(e, type) {
      let choose = type === 'dimension' ? this.currentChooseDimension : this.currentChooseIndicator
      let data = e.dataTransfer.getData('DRAG_NODE_MOVE_DATA')
      let targetIndex = e.target.dataset.index
      let dropNode = {}
      let dropItem = null
      let targetItem = null

      if (!data) {
        return
      }

      dropNode = JSON.parse(data)

      // 行和行、列和列才可调整顺序
      if (dropNode.type !== type) {
        return
      }

      dropItem = choose[dropNode.index]
      targetItem = choose[targetIndex]
      choose.splice(targetIndex, 1, dropItem)
      choose.splice(dropNode.index, 1, targetItem)
    },

    // 更新DataProperty组件的树
    refreshTreeData(currentNode) {
      const dimensions = this.currentChooseDimension.map(item => item.id)
      const indicators = this.currentChooseIndicator.map(item => ({ id: item.id, type: item.type }))
      this.$refs.dataProperty.refreshTreeData(dimensions, indicators, currentNode)
    },

    // 清空行（维度）或列（指标）
    clearInputValue(type) {
      if (type === 'dimension') {
        this.currentChooseDimension = []
      } else if (type === 'indicator') {
        this.currentChooseIndicator = []
      }
      this.handleAddSnapshotData()
    },

    // 导出
    async exportExcel() {
      if (!this.currentChooseIndicator.length) {
        this.$Message.warning('请选择有效的行列组合')
        return
      }
      let { columns, data } = await this.$refs.customTable.buildExportExcelData()
      let hasTableTotalData = !!data?.length
      let hasDimensions = !!this.currentChooseDimension.length
      let hasIndicators = !!this.currentChooseIndicator.length
      if (!hasTableTotalData || !hasDimensions || !hasIndicators) {
        this.$Message.warning('表格数据不能为空')
        return
      }
      this.exportLoading = true
      const params = {
        title: columns.map(item => item.title),
        key: columns.map(item => item.key),
        data: data,
        autoWidth: true,
        filename: '即席分析-数据预览',
      }
      excel.export_array_to_excel(params)
      this.exportLoading = false
      this.$Message.success('导出成功')
    },
    handleDimensionNodeClick(data) {
      this.$refs.dragAreaRow.refreshDimensionTags(data)
    },
    handleIndicatorNodeClick(data) {
      this.$refs.dragAreaColumn.refreshIndicatorTags(data)
    },
    fetchVariableList() {
      getVariableList().then(res => {
        if(res.data.state === 'success' && res.data.data){
          this.globalVariableList = res.data.data.map(item => {
            let paramValueArr = []
            Object.keys(item.paramValue).forEach(key => {
              paramValueArr.push({
                value: key,
                label: item.paramValue[key]
              })
            })
            return {
              ...item,
              paramValue: paramValueArr
            }
          });
        }
      })
    },
    handleSelectedGlobalValChange(option) {
      const key = Object.keys(option)[0]
      const value = option[key]
      this.indicatorGlobalVarParam[key] = value
    },
    confirmGlobalVar() {
      const targetIndicator = this.currentChooseIndicator[this.selectIndicatorIndex]
      targetIndicator.variables = this.indicatorGlobalVarParam
      this.currentChooseIndicator.splice(this.selectIndicatorIndex, 1, targetIndicator)
    }
  },
}
</script>

<style scoped lang="less">
.real-time-analysis-header {
  background-color: #fff;
  height: 60px;
  border-bottom: 1px solid #F1F5FA;
  display: flex;
  align-items: center;

  .real-time-analysis-header-title {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    width: 20%;
    padding-left: 18px;
    box-sizing: border-box;
  }

  .real-time-analysis-header-toolbars {
    width: 80%;
    padding-left: 10px;
    padding-right: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toolbars-right {
    display: flex;
    align-items: center;

    /deep/ .report-calendar-button {
      width: 227px;
      height: 32px;
      border: 1px solid rgba(217, 217, 217, 1);
      border-radius: 2px;
    }

    .buttons {
      margin-left: 40px;
    }

    .ivu-btn {
      width: 72px;
      height: 32px;
      border: 1px solid rgba(63, 115, 255, 1);
      border-radius: 2px;
      color: #3F73FF;
      padding: 0 12px;
    }

    .ivu-btn + .ivu-btn {
      margin-left: 16px;
    }

    /deep/ .ivu-btn > span {
      display: flex;
      justify-content: center;

      > img {
        margin-right: 9px;
      }
    }
  }
}

.data-display-wrapper {
  margin-top: 3px;
}

.chart-display-wrapper {
  display: flex;
}

.table-wrapper {
  flex: 1;
  vertical-align: top;
  overflow: hidden;
  transition: flex ease-out 0.3s;
}

/deep/ .table-wrapper {
  position: relative;

  .ivu-table-sort {
    position: absolute;
    margin-top: 4px;
    margin-left: 2px;
  }

  .ivu-table-wrapper .ivu-table .ivu-table-header thead tr th,
  .ivu-table-border th,
  .ivu-table-border td {
    height: 42px;
  }

  .ivu-table-overflowX {
    overflow-x: hidden;
  }

  .ivu-page {
    margin-top: 21px;
    text-align: right;
  }
}

/deep/ .ivu-table {
  border: 1px solid rgba(234, 234, 234, 1);

  .table-no-data-text {
    color: #90B5FF;
  }

  .ivu-table-tip {
    overflow-x: hidden;
  }
}

.chart-header > span:nth-child(1) {
  margin-left: 50px;
}

.chart-header select {
  width: 116px;
  height: 32px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 2px;
}

.create-report {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.create-report > .create-report-header {
  display: flex;
  box-shadow: 1px 2px 5px #ececec;
  margin-bottom: 2px;
  justify-content: space-between;
  padding: 7px;
  background-color: #16234a;
  height: 60px;
}

.create-report-charts .create-report-charts-item {
  width: 42px;
  height: 38px;
  margin-right: 8px;
  cursor: grab;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-report-charts .create-report-charts-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.create-report > .create-report-header > .create-report-header-left {
  display: flex;
  position: relative;
}

.create-report
> .create-report-header
> .create-report-header-left
> .create-report-charts {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.create-report
> .create-report-header
> .create-report-header-left
> .create-report-charts
span {
  display: flex;
  align-items: center;
}

.create-report > .create-report-header > .create-report-header-right {
  display: flex;
  align-items: center;
}

.create-report
> .create-report-body
> .create-report-body-canvas
.business-calendar {
  height: 40px;
  color: #ffffff;
  line-height: 45px;
}

.create-report
> .create-report-body
> .create-report-body-canvas
.business-calendar
.report-calendar-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 0 8px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px 0;
}

.create-report > .create-report-body {
  width: 100%;
  height: calc(~'100% - 60px');
  display: flex;
}

.create-report > .create-report-body > .create-report-body-canvas {
  width: 80%;
  height: 100%;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  background-size: 10px 10px;
  background-position: 1px 1px;
  background-color: #ffffff;
  padding: 20px;
}

.create-report > .create-report-body > .create-report-body-canvas:focus {
  border: none;
  outline: none;
}

.create-report > .create-report-body > .create-report-body-settings {
  border-right: 1px solid #dcdee2;
  background: #ffffff;
  display: inline-block;
  width: 20%;
  height: 100%;
  border-bottom-left-radius: 4px;
}

.realTimeAnalysis-content {
  width: 80%;
  height: 100%;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  background-size: 10px 10px;
  background-position: 1px 1px;
  background-color: #ffffff;
  padding: 20px;
  min-height: 100%;
  position: relative;
}

.custom-filter-modal /deep/ .ivu-modal-body,
.custom-format-modal /deep/ .ivu-modal-body,
.rename-modal /deep/ .ivu-modal-body {
  padding: 24px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.create-indicator-modal {
  /deep/ .ivu-input,
  /deep/ .ivu-select-selection {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 2px;
  }

  .row {
    display: flex;
    align-items: center;
    padding: 0 16px;

    &.labels {
      width: calc(~'100% - 100px');
    }

    .label {
      width: 90px;
      padding: 10px 12px 10px 0;
      text-align: right;
    }

    .assets-label {
      flex: 1;
    }

    /deep/ .ivu-select-selection {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }

  // 虚线
  /deep/ .ivu-tree {
    ul li {
      margin: 0;
    }

    .ivu-tree-children {
      position: relative;
      // padding-left: 16px; // 缩进量
    }

    .ivu-tree-children::before {
      content: "";
      height: 100%;
      width: 1px;
      position: absolute;
      left: 7px;
      top: -8px;
      border-width: 1px;
      border-left: 1px dashed #ddd;
    }

    // 当前层最后一个节点的竖线高度固定
    .ivu-tree-children:last-child::before {
      height: 24px; // 可以自己调节到合适数值
      top: -8px;
    }

    // 横线
    .ivu-tree-children::after {
      content: "";
      width: 16px;
      height: 20px;
      position: absolute;
      left: 9px;
      top: 16px;
      border-width: 1px;
      border-top: 1px dashed #ddd;
    }

    // 去掉最顶层的虚线，放最下面样式才不会被上面的覆盖了
    & > .ivu-tree-children::after {
      border-top: none;
    }

    & > .ivu-tree-children::before {
      height: 100%;
      width: 1px;
      left: 7px;
      top: 13px;
      border-left: 1px dashed #ddd;
    }

    & > ul.ivu-tree-children::before {
      border-left: none;
    }

    .ivu-tree-title {
      width: 90%;
      color: #333333;
      height: 32px;
      line-height: 32px;
      display: inline-block;
      vertical-align: middle;
    }

    .ivu-tree-title:hover {
      color: #3F73FF;
      background-color: #FFFFFF;
    }

    .ivu-tree-title-selected, .ivu-tree-title-selected:hover {
      color: #007AFF;
      background-color: #FFFFFF;
    }

    .ivu-tree-title.ivu-tree-title-selected .common-wrap .btnNone {
      visibility: visible !important;
    }
  }

  /deep/ .ivu-tree .ivu-icon-ios-arrow-forward:before {
    content: '';
    background: url('~@/assets/images/system/treePlusForManage.svg') no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
    margin-top: 0 !important;
  }

  /deep/ .ivu-tree .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
    content: '';
    display: block;
    background: url('~@/assets/images/system/treeMinusForManage.svg') no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }

  /deep/ .ivu-tree > ul > li:first-child > .ivu-tree-arrow-open:first-child .ivu-icon-ios-arrow-forward:before {
    background: url('~@/assets/images/system/treeRoot.svg') no-repeat;
  }

  /deep/ .ivu-icon.ivu-icon-md-create {
    padding-bottom: 5px;
    box-sizing: border-box;
  }

  /deep/ .ivu-icon.ivu-icon-md-create:before {
    content: url("~@/assets/icons/dimensionIcon/nameEditBtn.svg");
  }
}

#sqlContent .edit-wrapper {
  width: 100%;
  height: 220px;
  border: 1px solid #eaeaea;
  padding: 8px;

  .edit-area {
    width: 100%;
    height: 185px;
    overflow-x: auto;
    outline: none;
  }

  .tooltip-content {
    word-wrap: break-word;
    word-break: break-all;
  }

  .tooltip-icon {
    padding-left: 5px;
  }

  .button-result {
    margin-left: 10px;
    color: #2377ff;
    cursor: pointer;
  }
}

#sqlContent .toolbar {
  text-align: right;
  margin: 18px 0;

  .ivu-btn {
    width: 80px;
  }

  .ivu-btn + .ivu-btn {
    margin-left: 15px;
  }

  .ivu-btn:last-child {
    background: #3F73FF;
  }
}

#sqlContent .table-wrapper {
  border-top: 1px dotted #ececec;
  width: 100%;
  height: 200px;
}

.sqlModal .wrapper {
  padding: 0 14px;
  width: 100%;
  height: 100%;

  .ivu-form {
    width: 100%;
  }

  .writeVar {
    width: 100%;

    .label {
      width: 40%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .ivu-input {
      width: 55%;
    }
  }
}

.sqlModal .button-submit {
  background: #3F73FF;
}

/deep/ .ivu-table-cell {
  line-height: 32px;
  padding: 0;

  > div {
    padding: 0 18px;
  }

  .table-sort-btn {
    position: absolute;
    margin-top: 6px;
    cursor: pointer;

    img {
      display: block;
      padding: 4px;
    }
  }

  > div.normal .table-sort-btn {
    display: none;
  }

  > div.normal:hover .table-sort-btn {
    display: inline;
  }
}

/deep/ .transposeTableWrap .ivu-table-cell {
  padding: 0 10px;
}

.save-resource-modal /deep/ .ivu-modal-body {
  padding: 12px 24px 24px;
}

/deep/ .ivu-select-dropdown .table-sort-dropdown-menu .ivu-dropdown-item {
  display: flex;
  justify-content: space-between;
}
</style>
