<template>
  <div class="report-container">
    <report-template-edit v-if="reportEdit" :reportTemplateId="reportTemplateId" :status="currentStatus" ref="reportTemplateEdit" />
    <report-template-view
      v-else
      :status="currentStatus"
      ref="reportTemplateView"
      :reportTemplateId="reportTemplateId"
      :startDate="startDate"
      :endDate="endDate"
    />
  </div>
</template>

<!--报告管理器，包含创建、编辑、查看-->
<script>
import { mapActions } from "vuex";
import ReportTemplateEdit from "./ReportTemplateEdit";
import ReportTemplateView from "./ReportTemplateView";

/**
 * 报告页面状态
 * @type {{CREATE_PREVIEW: number, CREATE: number, UPDATE_PREVIEW: number, UPDATE: number, VIEW: number}}
 */
const REPORT_STATUS = {
  CREATE: 1, // 创建时
  CREATE_PREVIEW: 2, // 创建预览时
  UPDATE_PREVIEW: 3, // 报告列表点击查看时
  UPDATE: 4, // 报告列表点编辑时、或者查看页面点编辑时
  VIEW: 5, //从卡片列表进入时，这个状态下可以查看报告快照
  UPDATE_INIT: 6
};

export default {
  name: "ReportManager",
  components: {
    ReportTemplateEdit,
    ReportTemplateView
  },
  data() {
    return {
      isEdit: null,
      showType: null,
      reportTemplateId: null,
      currentStatus: null,
      startDate: null,
      endDate: null,
    };
  },
  computed: {
    reportEdit() {
      return (
        this.currentStatus === REPORT_STATUS.CREATE || this.currentStatus === REPORT_STATUS.UPDATE || this.currentStatus === REPORT_STATUS.UPDATE_INIT
      );
    }
  },
  created() {
    let { id, openType, startDate, endDate } = this.$route.query;
    if (id === undefined) {
      this.currentStatus = REPORT_STATUS.CREATE;
    } else {
      this.reportTemplateId = id;
      if (openType === "edit") {
        this.currentStatus = REPORT_STATUS.UPDATE_INIT;
      } else {
        this.currentStatus = REPORT_STATUS.VIEW;
        this.startDate = startDate;
        this.endDate = endDate;
      }
    }
  },
  methods: {
    ...mapActions(["setChartList", "setReportSetting"]),
    /**
     * 转为编辑态
     * @param chartDataList
     */
    changeToEdit(reportData) {
      if (this.currentStatus === REPORT_STATUS.UPDATE_PREVIEW || this.currentStatus === REPORT_STATUS.VIEW) {
        this.currentStatus = REPORT_STATUS.UPDATE;
      } else if (this.currentStatus === REPORT_STATUS.CREATE_PREVIEW) {
        this.currentStatus = REPORT_STATUS.CREATE;
      }
      this.$nextTick(() => {
        let { chartDataList, dateRange, reportName, reportId, chartLink, assetsGroupValue, tagValue } = reportData;
        this.$refs.reportTemplateEdit.update(chartDataList, {
          status: this.currentStatus,
          dateRange,
          reportName,
          reportId,
          chartLink,
          assetsGroupValue,
          tagValue
        });
      });
    },

    /**
     * 转为预览态
     * @param reportData 报告所有数据
     */
    changeToPreview(reportData) {
      if (this.currentStatus === REPORT_STATUS.CREATE) {
        this.currentStatus = REPORT_STATUS.CREATE_PREVIEW;
      } else if (this.currentStatus === REPORT_STATUS.UPDATE || this.currentStatus === REPORT_STATUS.UPDATE_INIT) {
        this.currentStatus = REPORT_STATUS.UPDATE_PREVIEW;
      }
      this.$nextTick(() => {
        let { chartDataList, dateRange, reportName, reportId, chartLink,assetsGroupValue,tagValue } = reportData;
        this.$refs.reportTemplateView.update(chartDataList, {
          status: this.currentStatus,
          dateRange,
          reportName,
          reportId,
          chartLink,
          assetsGroupValue,
          tagValue
        });
      });
    }
  },
  // 离开报告 清空vuex中的chartList
  beforeDestroy() {
    this.setChartList({ chartList: [] });
    this.setReportSetting({ reportSetting: {} });
  }
};
</script>

<style scoped>
.report-container {
  height: 100%;
}
</style>
