<template>
  <div class="create-report">
    <!-- header -->
    <div class="create-report-header-new">
      <div style="display: flex">
        <div class="create-report-header-new-left">
          <img src="@/assets/images/login/logo@1x.png" style="width: 160px; object-fit: contain; margin-right: 8px;"/>
        </div>
        <vueDraggable class="create-report-charts" draggable="false">
          <transition-group>
            <div
              v-for="chart in chartTypesF"
              :id="chart.id" :key="chart.key" :title="chart.title" class="create-report-charts-item" draggable="true"
              @click="onClickChartItemIcon(chart.id)"
              @dragstart="handleMouseDrag($event, chart.id)"
              @dragend="handleDragEnd($event, chart.id)"
            >
              <img :src="chart.icon" draggable="false" class="chartImg" style="pointer-events: none"/>
              <img :src="chart.hovericon" draggable="false" class="chartHoverImg" style="pointer-events: none"/>
              <span style="margin-top: 1px">{{chart.title}}</span>
            </div>

            <div
              v-if="!isCombineResourceEditPage"
              :key="chartTypesF.length"
              class="create-report-charts-item"
              style="cursor: pointer"
              @click="showFilter = true"
              @mouseleave="showFilter = false"
            >
              <img src="@/assets/icons/chart/chart_type/filter_black.svg" class="chartImg"/>
              <img src="@/assets/icons/chart/chart_type/filter_blue.svg" class="chartHoverImg"/>
              <span style="margin-top: 1px">筛选器</span>
              <transition>
                <ul v-if="showFilter" class="filterListClass" @mouseleave="() => { this.showFilter = false }">
                  <li
                    v-for="filter in filterList"  :key="filter.id+1"
                    @click="onClickChartItemIcon(filter.id)"
                    @dragstart="handleMouseDrag($event, filter.id)"
                    @dragend="handleDragEnd($event, filter.id)"
                  >
                    <img :src="filter.icon" class="chartImg"/>
                    <img :src="filter.hovericon" class="chartHoverImg"/>
                    <span>{{ filter.title }}</span>
                  </li>
                </ul>
              </transition>
            </div>

            <div :key="chartTypesF.length + 1" class="create-report-charts-item">
              <Upload
                class="imageUpload"
                :before-upload="handleBeforeUpload"
                accept="image/jpeg, image/png"
                action="#">
                <img src="@/assets/icons/chart/chart_type/image_black.svg" class="chartImg"/>
                <img src="@/assets/icons/chart/chart_type/image_blue.svg" class="chartHoverImg"/>
                <span>图片</span>
              </Upload>
            </div>
          </transition-group>
        </vueDraggable>
      </div>
      <div class="create-report-header-new-right" style="justifyContent: space-between">
        <template v-if="!isCombineResourceEditPage">
          <div @click="toPreview()" class="kkLabelIcon">
            <div class="imgBox">
              <img :src="labelIcon.preview"/>
            </div>
            <span>预览</span>
          </div>

          <div @click="toSave()" class="kkLabelIcon" v-allow="[1097038120879104,1097038120879105]">
            <div class="imgBox">
              <img :src="labelIcon.save"/>
            </div>
            <span>保存</span>
          </div>

          <div @click="toOtherSave()" class="kkLabelIcon" v-show="showSaveAs" v-allow="[1097038120879104,1097038120879105]">
            <div class="imgBox">
              <img :src="labelIcon.saveAs"/>
            </div>
            <span>另存</span>
          </div>

          <div style="width: 1px;margin: 0 5px;height: 30px;background-color: rgba(0, 0, 0, 0.25);"></div>

          <div @click="goBackList()" class="kkLabelIcon">
            <div class="imgBox">
              <img :src="labelIcon.backout"/>
            </div>
            <span>返回</span>
          </div>
        </template>

        <template v-else>
          <div @click="goBackToResourceList" class="kkLabelIcon">
            <div class="imgBox">
              <img :src="labelIcon.backout"/>
            </div>
            <span>返回</span>
          </div>
          <div @click="showSaveResourceModal" class="kkLabelIcon" v-allow="[1097038120879104,1097038120879105]">
            <div class="imgBox">
              <img :src="labelIcon.save"/>
            </div>
            <span>保存</span>
          </div>
        </template>
      </div>
    </div>

    <!-- body -->
    <div class="create-report-body-new">
      <div class="create-report-body-left" @mousemove="handleSettingChecked">
        <model-data-selector ref="businessModel"/>
      </div>
      <div
        class="create-report-body-center"
        :style="{ width: rightBoxOpenState ? 'calc(100% - 480px)' : 'calc(100% - 240px)', transition: widthChangeAnimation ? 'width .5s' : 'none' }"
      >
        <div class="create-report-body-center-title">
          <div style="display: flex; justify-content: center; align-items: center">
            <input v-if="!isCombineResourceEditPage" v-model="reportName" placeholder="请输入报告标题" class="reportNameClass"/>
            <input v-else v-model="resourceName" placeholder="请输入资源名称" class="reportNameClass"/>
            <div class="searchBox">
              <span>资产分组：</span>
              <TreeSelect
                style="width: 172px"
                v-model="assetsGroupValue"
                :expand-all="false"
                :data="assetsDataList"
                :multiple="false"
                :defaultSelected="[-1]"
                placeholder="请选择分组"
                check-strictly
                :clearable="assetsGroupValue == [-1]"
              />
          </div>
          <div class="searchBox">
            <span>指标标签：</span>
            <AssetsLabel
              style="width: 172px"
              paddingBottom="5px"
              :data="tagValue"
              @select="handleAssetsLabelSelect"
            />
          </div>
            <div style="margin-left: 24px" v-if="!isCombineResourceEditPage">
              <span style="margin-right: 6px">图表联动</span>
              <Switch v-model="chartLink" true-color="#3f73ff" :before-change="handleChangeLink" @on-change="handleSwitchLink">
                <span slot="open">开</span>
                <span slot="close">关</span>
              </Switch>
            </div>
            <div class="levelSetting" :class="{ 'disabledLevelSetting': !currentSelectChart || !currentChartId }" @mousemove="handleSettingChecked">
              <div class="levelSettingBtn" @click="toTopLevel">
                <img class="img" src="@/assets/images/report/topLevel.svg"/>
                <img class="disabledImg" src="@/assets/images/report/topLevelDisabled.svg"/>
                <span>置于顶层</span>
              </div>
              <div class="levelSettingBtn" @click="toBottomLevel">
                <img class="img" src="@/assets/images/report/bottomLevel.svg"/>
                <img class="disabledImg" src="@/assets/images/report/bottomLevelDisabled.svg"/>
                <span>置于底层</span>
              </div>
            </div>
            <div class="levelSetting" :class="{ 'disabledLevelSetting': !chartDataList.length }" @mousemove="handleSettingChecked">
              <div class="levelSettingBtn" @click="undo" @mousemove="isUndoHover = true" @mouseleave="isUndoHover = false">
                <img class="img" :src="isUndoHover ? UNDO_HOVER : UNDO_NORMAL"/>
                <img class="disabledImg" src="@/assets/images/report/undoDisable.svg"/>
                <span>撤销</span>
              </div>
              <div class="levelSettingBtn" @click="redo" @mousemove="isRedoHover = true" @mouseleave="isRedoHover = false">
                <img class="img" :src="isRedoHover ? REDO_HOVER : REDO_NORMAL"/>
                <img class="disabledImg" src="@/assets/images/report/redoDisable.svg"/>
                <span>重做</span>
              </div>
            </div>
          </div>
          <div class="title-calendar" @keydown="onTitleCalendarKeydown">
            <ReportCalendar
              key="create-calendar"
              ref="createReportCalendar"
              :need-init="true"
              :editable="isReportEdit"
              @dateConfirm="dateConfirm"
            />
          </div>
        </div>
        <div class="create-report-body-center-content">
          <div class="m-dashRegion" :style="{ 'width': reportWidth * scaleValue + 'px', 'height': reportHeight * scaleValue + 'px' }">
            <div
              class="create-report-body-canvas"
              ref="reportBackground"
              :class="{ 'grid' : gridDisplay , 'blackTheme': themeStyle === '2'}"
              :style="{
                'transform': 'scale(' + scaleValue + ')',
                'width': reportWidth + 'px',
                'height': reportHeight + 'px',
                'background': reportBg
              }"
              id="report-canvas"
              tabindex="0"
              @mouseup="onCanvasMouseup"
            >
              <div v-if="firstScreenLine" class="firstScreenLine" :style="{'width': firstScreenLineWidth + 'px','top': firstScreenLineHeight + 'px'}">
                首屏
              </div>
              <ChartEditLayout
                style="position: relative"
                ref="reportChartEditLayout"
                :style="{ 'width': reportWidth + 'px', 'height': reportHeight + 'px' }"
                :chartDataList="chartDataList"
                @onChartSelect="onChartSelect"
                @canvasClicked="canvasClicked"
              />
            </div>
          </div>
        </div>
        <div class="create-report-body-center-operation" @mousemove="handleSettingChecked">
          <div class="grid">
            <span>网格显示</span>
            <Checkbox v-model="gridDisplay" @on-change="handGridDisplayChange">显示</Checkbox>
          </div>
          <div class="scale">
            <span class="zoom out" @click="zoomOut">-</span>
            <span class="label">{{ scaleValue * 100 }}%</span>
            <span class="zoom in" @click="zoomIn">+</span>
          </div>
        </div>
      </div>
      <div class="create-report-body-right"
           :style="{ marginRight: rightBoxOpenState ? '0' : '-240px' }"
           @mousemove="handleSettingChecked"
           @mouseenter="() => { this.mouseRightBox = true }"
           @mouseleave="() => { this.mouseRightBox = false }">
        <div class="openCloseBox" :class="{'open': mouseRightBox || !rightBoxOpenState}" @click="openCloseBoxClick">
          <img src="@/assets/icons/chart/report/openCloseBtn.png"/>
        </div>
        <chart-setting ref="chartSetting" />
      </div>
    </div>

    <Modal
      v-model="reportTitleVisible"
      title="请输入报告标题">
      <Input ref="modalTitleInput" v-model="reportName" clearable/>
      <div slot="footer">
        <Button type="text" @click="() => { this.reportTitleVisible = false }">取消</Button>
        <Button type="primary" @click="modalSave">确定</Button>
      </div>
    </Modal>

    <!-- 保存资源弹窗 -->
    <SaveResourceModal v-show="saveResourceModalStatus.type === '4'" @onConfirm="handleSaveResource" />
  </div>
</template>

<!--报告创建或编辑组件-->
<script>
  import { deepCopy } from '@/utils/common'
  import ModelDataSelector from '../components/reportDataSelector/ModelDataSelector'  // 传过来的左侧菜单栏
  import ReportTemplate from './ReportTemplate'
  import ChartSetting from '../ChartSetting'
  import vueDraggable from 'vuedraggable'
  import SaveResourceModal from './wrapper/components/SaveResourceModal'
  import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'
  import { previewImg, uploadImg } from '@/api/report'
  import ChartEditLayout from './wrapper/ChartEditLayout'
  import {
    CANVAS_COLOR_CONFIG,
    CHART_DEFAULT_CONFIG,
    CHART_TYPE_LIST,
    FILTER_LIST,
    MOBILE_LIST
  } from '@/config/ReportConstants'
  import ReportCalendar from '@/view/components/report-calendar/ReportCalendar'
  import moment from 'moment'
  import { getReportTempDetail } from '../../../api/report'
  import { getChartPrivateDate, getDateRange } from '../../../utils/chartDate'
  import { getToken } from '@/libs/util'
  import { supportSeriesCharts } from '@/view/report/components/reportDataSelector/reportDataSelectorConstant'
  import { judgeIsInvalidResource } from "@/utils/resourceManage";
  import TreeSelect from "@/components/tree-select";
  import AssetsLabel from "@/view/report/components/AssetsLabel";

  // 报告页面所处状态 1.查看 2.编辑 3.预览
  const REPORT_STATUS = {
    CREATE: 1,
    UPDATE: 4,
    UPDATE_INIT: 6
  }
  const UNDO_NORMAL = require('@/assets/images/report/undo.svg')
  const UNDO_HOVER = require('@/assets/images/report/undoHover.svg')
  const REDO_NORMAL = require('@/assets/images/report/redo.svg')
  const REDO_HOVER = require('@/assets/images/report/redoHover.svg')

  export default {
    name: 'ReportTemplateEdit',
    extends: ReportTemplate,
    components: {
      ReportCalendar,
      ChartEditLayout,
      ModelDataSelector,
      ChartSetting,
      vueDraggable,
      SaveResourceModal,
      TreeSelect,
      AssetsLabel
    },
    data() {
      return {
        activeChart: null,//专门给文本框用的
        rightBoxOpenState: true, // 右侧操作栏是否打开，默认打开
        widthChangeAnimation: false, // 画布宽度改变时，是否有动画效果
        mouseRightBox: false, // 鼠标是否移入右侧操作栏，显示收缩按钮
        gridDisplay: true, // 网格是否显示，默认显示
        scaleValue: 1, // 放大缩小比例
        reportWidth: 0, // 报表区的宽
        reportHeight: 0, // 报表区的高
        firstScreenLine: false, // 首屏线
        firstScreenLineHeight: 0, // 首屏线高度
        themeStyle: '1',
        chartTypes: Object.freeze(CHART_TYPE_LIST), // header的图表功能列表
        filterList: Object.freeze(FILTER_LIST),
        scaleRatio: 1,
        labelIcon: Object.freeze({
          save: require('@/assets/icons/chart/report_operation/save.svg'),
          saveAs: require('@/assets/icons/chart/report_operation/save-as.svg'),
          backout: require('@/assets/icons/chart/report_operation/back.svg'),
          edit: require('@/assets/icons/chart/report_operation/edit.svg'),
          refresh: require('@/assets/icons/chart/report_operation/refresh.svg'),
          export: require('@/assets/icons/chart/report_operation/export.svg'),
          preview: require('@/assets/icons/chart/report_operation/preview.svg')
        }),
        targetXY: null,
        dragImgs: Object.freeze({
          ComplexTextarea: require('@/assets/icons/chart/chart_drag/title_drag.svg'),
          Indicator: require('@/assets/icons/chart/chart_drag/dashboard_drag.svg'),
          IndexBoard: require('@/assets/icons/chart/chart_drag/dashboard_drag.svg'),
          CustomTable: require('@/assets/icons/chart/chart_drag/table_drag.svg'),
          SimpleLine: require('@/assets/icons/chart/chart_drag/line_drag.svg'),
          BasicRadar: require('@/assets/icons/chart/chart_drag/line_drag.svg'),
          SimpleBar: require('@/assets/icons/chart/chart_drag/bar_drag.svg'),
          MixLineBar: require('@/assets/icons/chart/chart_drag/barLine_drag.svg'),
          SimplePie: require('@/assets/icons/chart/chart_drag/pie_drag.svg'),
          DoublePie: require('@/assets/icons/chart/chart_drag/dbPie_drag.svg'),
          SimpleGauge: require('@/assets/icons/chart/chart_drag/gauge_drag.svg'),
          SimpleIframe: require('@/assets/icons/chart/chart_drag/iframe_drag.svg'),
        }),
        isDelete: false,
        containerMaxHeight: 0,
        showFilter: false,
        chartLink: false, //图表联动
        UNDO_NORMAL,
        UNDO_HOVER,
        isUndoHover: false,
        REDO_NORMAL,
        REDO_HOVER,
        isRedoHover: false,
        chartDataList: [],
        openSnapshot: 0, // 报告快照开关
        resourceName: "组合资源", // 资源名称
      }
    },
    provide () {
      return {
        recordSnapshot: this.recordSnapshot,
        setActiveChart: this.setActiveChart,
        buildChartData: this.buildChartData,
        resetCurrentSelectChart: this.resetCurrentSelectChart,
        reportWidth: this.reportWidth,
        isDelete: this.isDelete,
        editChartLink: this.chartLink,
        buildResultChart: this.buildResultChart,
        addChartFromResourceTab: this.addChartFromResourceTab
      }
    },
    props: {
      status: {
        type: Number,
        default: 1
      },
      reportTemplateId: {
        type: String,
        Default: null
      }
    },
    computed: {
      ...mapState("resourceManage", ["isCombineResourceEditPage", "selectedChart", "saveResourceModalStatus", "selectLine"]),
      ...mapGetters(['currentSelectChart', 'currentChartId', 'currentChartList', 'snapshotData', 'snapshotIndex', 'reportSetting', 'allIndicators']),
      // 是否展示另存
      showSaveAs: function () {
        return this.status === REPORT_STATUS.UPDATE || this.status === REPORT_STATUS.UPDATE_INIT
      },
      reportThemeStyle: function () {
        return this.reportSetting && this.reportSetting.themeStyle || '1'
      },
      reportPageMeasure: function () {
        return this.reportSetting && this.reportSetting.pageMeasure || ''
      },
      isReportEdit() {
        return this.status === REPORT_STATUS.CREATE || this.status === REPORT_STATUS.UPDATE || this.status === REPORT_STATUS.UPDATE_INIT
      },
      reportBgColor() {
        return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.bgColor || ''
      },
      reportBgImg() {
        return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.bgImg || ''
      },
      reportBg() {
        let background = ''
        if(this.reportBgImg) {
          previewImg(this.reportBgImg).then(res => {
            if(res.status === 200) {
              this.$nextTick(() => {
                let imageUrl = window.URL.createObjectURL(res.data)
                this.$refs.reportBackground.style.background = `url(${imageUrl}) no-repeat`
                background = `url(${imageUrl}) no-repeat`
              })
            } else {
              this.$Message.warning('背景图片加载失败')
            }
          })
        } else if(this.reportBgColor) {
          background = this.reportBgColor
        }
        return background
      },
      abnormalReportBakKey() {
        return this.reportId ? `abnormalReportBak_${this.reportId}` : 'abnormalReportBak'
      },
      chartTypesF() {
        if(!this.isCombineResourceEditPage) {
          return this.chartTypes
        } else {
          return this.chartTypes.filter(ele => !["SimpleIframe", "FaTab"].includes(ele.id))
        }
      }
    },
    watch: {
      reportThemeStyle: {
        handler: function (val) {
          let theme = 'default'
          if (val === '1') {
            // 报告主题为浅色（默认）
            this.$plain.changeTheme('default')
            this.themeStyle = val
            theme = 'default'
          } else if (val === '2') {
            // 报告主题为深色
            this.$plain.changeTheme('black')
            this.themeStyle = val
            theme = 'black'
          }
          if (this.chartDataList.length) {
            this.chartDataList.forEach(item => {
              if (item.id === 'ComplexTextarea') {
                if (item.style.hasOwnProperty('fontStyle')) {
                  this.$set(item.style.fontStyle, 'color', CANVAS_COLOR_CONFIG[theme].fontStyleColor)
                } else {
                  let fontStyle = {
                    color: CANVAS_COLOR_CONFIG[theme].fontStyleColor
                  }
                  this.$set(item.style, 'fontStyle', fontStyle)
                }
              }
              if (item.id === 'Indicator' || item.id === 'IndexBoard') {
                this.$set(item.style, 'indicatorTitleColor', CANVAS_COLOR_CONFIG[theme].indicatorTitleColor)
                this.$set(item.style, 'valueBackgroundColor', CANVAS_COLOR_CONFIG[theme].valueBackgroundColor)
                this.$set(item.style, 'countColor', CANVAS_COLOR_CONFIG[theme].countColor)
              }
              if (item.id === 'SimpleLine' || item.id === 'SimpleBar' || item.id === 'MixLineBar' || item.id === 'BasicRadar') {
                this.$set(item.style, 'splitLineColor', CANVAS_COLOR_CONFIG[theme].splitLineColor)
                this.$set(item.style, 'axisLineColor', CANVAS_COLOR_CONFIG[theme].axisLineColor)
                this.$set(item.style, 'axisLabelColor', CANVAS_COLOR_CONFIG[theme].axisLabelColor)
              }

            })
          }
        }
      },
      reportPageMeasure: {
        handler: function (val) {
          if (this.reportWidth !== Number(val.split(',')[1]) || this.reportHeight !== Number(val.split(',')[2])) {
            this.reportWidth = Number(val.split(',')[1])
            this.reportHeight = Number(val.split(',')[2])
            this.$refs.reportChartEditLayout?.canvasResize()
          }
          let arr = val.split(',')
          if (arr.length > 3) {
            if (arr[0] === '2') {
              this.firstScreenLine = true
              MOBILE_LIST.forEach(item => {
                if (item.children && item.children.length > 0) {
                  item.children.forEach(itemChildren => {
                    if (itemChildren.label === arr[3]) {
                      this.firstScreenLineWidth = Number(itemChildren.value.split(',')[0])
                      this.firstScreenLineHeight = Number(itemChildren.value.split(',')[1]) - 11
                    }
                  })
                }
              })
            } else {
              this.firstScreenLine = false
            }
          } else {
            this.firstScreenLine = false
          }
        },
        immediate: true
      },
      widthChangeAnimation: {
        handler: function (val) {
          // 如果动画效果为true，0.5秒后变为false
          if (val) {
            let _this = this
            window.setTimeout(function () {
              _this.widthChangeAnimation = false
            }, 500)
          }
        }
      },
      // 添加组合边线
      selectedChart: {
        handler(newVal) {
          if(newVal.length !== 0) {
            const sl = this.getSelectLineData(newVal)
            this.setSelectLine({ ...sl, show: !this.isCombineResourceEditPage })
          } else {
            const sl = {
              show: false,
              width: "",
              height: "",
              top: "",
              left: "",
            }
            this.setSelectLine(sl)
          }
        },
        deep: true
      }
    },
    mounted() {
      this.tabPaneChartX = null
      this.tabPaneChartY = null
      this.beforeUnloadTime = null
      if (this.reportTemplateId !== null && this.status === REPORT_STATUS.UPDATE_INIT) {
        this.reportId = this.reportTemplateId
        this.getReportTempDetail()
      } else {
        if (!this.reportPageMeasure) {
          this.reportWidth = this.getInitReportWH().width
          this.reportHeight = this.getInitReportWH().height
          const reportSetting = {
            themeStyle: '1',
            pageMeasure: this.getDefaultPageMeasure(),
            bgColor: '',
            bgImg: ''
          }
          this.setReportSetting({ reportSetting })
        }

        // 组合资源编辑，回填资源数据
        const { type, id, resourceName } = this.$route.query;
        if(type === "edit") {
          this.setCombineResourceId(id)
          this.resourceName = resourceName
        }
      }
      // 检测有没有异常报告
      this.checkHasAbnormalReport()
      window.addEventListener('keydown', this.handleEvent)
      window.addEventListener("beforeunload", this.onbeforeunload)
      window.addEventListener('offline', this.onOffline)
      window.addEventListener('online', this.onOnline)
      this.$bus.$on('add-tab-pane-chart', this.addTabPaneChart)
      this.$bus.$on('remove-tab-pane-chart', this.removeTabPaneChart)
      this.$bus.$on('clear-tab-pane-chart', this.clearTabPaneChart)
      this.$bus.$on('delete-tab-pane-chart', this.deleteTabPaneChart)
      this.$bus.$on('login-expired', this.onLoginExpired)
    },
    beforeDestroy() {
      document.onkeydown = null
      let content = document.getElementsByClassName('ivu-layout-content')[0]
      if (content) {
        content.style.padding = '18px'
      }
      if (localStorage.getItem('allBusinessModel')) {
        localStorage.removeItem('allBusinessModel')
      }
      if (localStorage.getItem('indicatorTreeData')) {
        localStorage.removeItem('indicatorTreeData')
      }
      if (localStorage.getItem('allDimensions')) {
        localStorage.removeItem('allDimensions')
      }
      window.removeEventListener('keydown', this.handleEvent)
      window.removeEventListener("beforeunload", this.onbeforeunload)
      window.removeEventListener('offline', this.onOffline)
      window.removeEventListener('online', this.onOnline)
      this.$bus.$off('add-tab-pane-chart', this.addTabPaneChart)
      this.$bus.$off('remove-tab-pane-chart', this.removeTabPaneChart)
      this.$bus.$off('clear-tab-pane-chart', this.clearTabPaneChart)
      this.$bus.$off('delete-tab-pane-chart', this.deleteTabPaneChart)
      this.$bus.$off('login-expired', this.onLoginExpired)

      // 清除vuex中的资源管理相关数据
      this.setSaveResourceModalStatus({ clear: true });
      this.setSelectedChart([])
    },

    methods: {
      ...mapMutations("resourceManage", [
        "setSelectedChart",
        "setSelectLine",
        "setSaveResourceModalStatus",
        "setRefreshResourceTabW",
        "setCombineResourceId"
      ]),
      ...mapActions("resourceManage", ["saveCombineResource", "fetchAllResourceList"]),
      ...mapActions([
        "setCurrentSelectChart",
        "setReportDate",
        "setChartDeactivation",
        "setChartList",
        "setReportSetting",
        "setSnapshotData",
        "setSnapshotIndex",
      ]),
      /**
       * 获取组合资源边框的信息
       * @param {Array} data 已选的图表组件
       */
      getSelectLineData(data) {
        let minX = 9999999
        let minY = 9999999
        let maxWidth = 0
        let maxHeight = 0
        data.forEach(item => {
          if(item.x < minX) {
            minX = item.x
          }
          if(item.y < minY) {
            minY = item.y
          }
          if((item.x + item.width) > maxWidth) {
            maxWidth = item.x + item.width
          }
          if((item.y + item.height) > maxHeight) {
            maxHeight = item.y + item.height
          }
        })
        return {
          left: minX + "px",
          top: minY + "px",
          width: maxWidth - minX + "px",
          height: maxHeight - minY + "px",
          show: true
        }
      },
      onbeforeunload(e) {
        e.preventDefault()
        e = e || window.event
        if (e) {
          e.returnValue = '网站可能不会保存您的修改哦~'
        }
        return '网站可能不会保存您的修改哦~'
      },

      onOffline() {
        let abnormalReportBak = window.localStorage.getItem(this.abnormalReportBakKey)
        if (!abnormalReportBak) {
          window.localStorage.setItem(this.abnormalReportBakKey, JSON.stringify(this.chartDataList))
        }
      },

      onOnline() {
        let abnormalReportBak = window.localStorage.getItem(this.abnormalReportBakKey)
        let token = getToken()
        if (abnormalReportBak && token) {
          window.localStorage.removeItem(this.abnormalReportBakKey)
        }
      },

      onLoginExpired() {
        window.localStorage.setItem(this.abnormalReportBakKey, JSON.stringify(this.chartDataList))
      },

      checkHasAbnormalReport() {
        let query = this.$route.query
        if (query.hasAbnormalReport === '1') { // 新建时异常未保存的报告
          let abnormalReportBak = window.localStorage.getItem(this.abnormalReportBakKey)
          if (!abnormalReportBak) return
          this.chartDataList = JSON.parse(abnormalReportBak)
          window.localStorage.removeItem(this.abnormalReportBakKey)
        }
        if (this.reportId && this.isReportEdit) { // 编辑时异常未保存的报告
          let abnormalReportBak = window.localStorage.getItem(this.abnormalReportBakKey)
          if (!abnormalReportBak) return
          this.$Modal.confirm({
            title: '是否继续编辑异常关闭报告？',
            content: '监测到上一次操作存在未保存的内容',
            okText: '编辑',
            cancelText:'删除',
            onOk: () => {
              this.chartDataList = JSON.parse(abnormalReportBak)
              window.localStorage.removeItem(this.abnormalReportBakKey)
            },
            onCancel:()=>{
              window.localStorage.removeItem(this.abnormalReportBakKey)
            },
          })
        }
      },

      addTabPaneChart({ faTabChartId, chart }) {
        let faTab = this.chartDataList.find(item => item.chartId === faTabChartId)
        if (!faTab) return
        let chartIndex = this.chartDataList.findIndex(item => item.chartId === chart.chartId)
        if (chartIndex === -1) return
        faTab.currentTab = faTab.currentTab || 0
        faTab.childrenChartViewList[faTab.currentTab].paneData.push(chart)
        this.chartDataList.splice(chartIndex, 1)
        this.setChartList({ chartList: this.chartDataList })
        setTimeout(() => { // 在mouseup后执行
          this.tabPaneChartX = null
          this.tabPaneChartY = null
        }, 0)
        this.recordSnapshot()
      },

      removeTabPaneChart({ faTabChartId, chart, offsetX, offsetY }) {
        // 如果没有拖拽到画布上，不执行
        if (!this.tabPaneChartX || !this.tabPaneChartY) return
        let faTab = this.chartDataList.find(item => item.chartId === faTabChartId)
        if (!faTab) return
        let faTabPaneData = faTab.childrenChartViewList[faTab.currentTab].paneData
        let chartIndex = faTabPaneData.findIndex(item => item.chartId === chart.chartId)
        if (chartIndex === -1) return
        let removeChart = deepCopy(faTabPaneData[chartIndex])
        removeChart.x = this.tabPaneChartX - offsetX > 0 ? this.tabPaneChartX - offsetX : 0
        removeChart.y = this.tabPaneChartY - offsetY > 0 ? this.tabPaneChartY - offsetY : 0
        this.chartDataList.push(removeChart)
        faTabPaneData.splice(chartIndex, 1)
        this.setCurrentSelectChart({ chart: null })
        this.setChartList({ chartList: this.chartDataList })
        this.tabPaneChartX = null
        this.tabPaneChartY = null
        this.recordSnapshot()
      },

      clearTabPaneChart({ faTabChartId, tabPaneIndex }) {
        let faTab = this.chartDataList.find(item => item.chartId === faTabChartId)
        if (!faTab) return
        let faTabPaneData = faTab.childrenChartViewList[tabPaneIndex].paneData
        for (let item of faTabPaneData) {
          this.chartDataList.push(deepCopy(item))
        }
        faTab.childrenChartViewList[tabPaneIndex].paneData = []
        this.setChartList({ chartList: this.chartDataList })
        this.recordSnapshot()
      },

      deleteTabPaneChart({ faTabChartId, chart }) {
        let faTab = this.chartDataList.find(item => item.chartId === faTabChartId)
        if (!faTab) return
        let faTabPaneData = faTab.childrenChartViewList[faTab.currentTab].paneData
        let chartIndex = faTabPaneData.findIndex(item => item.chartId === chart.chartId)
        if (chartIndex === -1) return
        faTabPaneData.splice(chartIndex, 1)
        this.setCurrentSelectChart({ chart: null })
        this.setChartList({ chartList: this.chartDataList })
        this.recordSnapshot()
      },

      // 记录画布中鼠标的位置，移出FaTab内组件时使用
      onCanvasMouseup(e) {
        let canvasRect = this.$refs.reportBackground.getBoundingClientRect()
        this.tabPaneChartX = e.x - canvasRect.x > 0 ? e.x - canvasRect.x : 0
        this.tabPaneChartY = e.y - canvasRect.y > 0 ? e.y - canvasRect.y : 0
      },

      async getReportTempDetail() {
        let params = { id: this.reportTemplateId }
        await getReportTempDetail(params).then(res => {
          if (res.data && res.data.state === 'success') {
            const resData = res.data.data
            this.reportName = resData.name
            this.reGroup = resData.groupId ? [resData.groupId.toString()] : []
            this.assetsGroupValue = resData.groupId ? [resData.groupId.toString()] : []
            this.tagValue = resData.labels
            this.openSnapshot = resData.openSnapshot
            this.chartLink = resData.linkage !== null ? eval(resData.linkage.toLowerCase()) : ''
            let newDateRange = getDateRange({ periodType: resData.periodType, dateView: resData.dateView})
            let startDate = moment(newDateRange.startDate).format('YYYY-MM-DD')
            let endDate = moment(newDateRange.endDate).format('YYYY-MM-DD')
            this.$refs.createReportCalendar.update({
              dateRangeOption: resData.periodType, startDate, endDate
            })
            this.setDate(startDate, endDate, resData.periodType, true)
            let reportSetting = {
              themeStyle: resData.themeStyle || '1',
              pageMeasure: '',
              bgColor: '',
              bgImg: ''
            }
            if (resData.pageMeasure) {
              reportSetting.pageMeasure = resData.pageMeasure
            } else {
              this.reportWidth = this.getInitReportWH().width
              this.reportHeight = this.getInitReportWH().height
              reportSetting.pageMeasure = this.getDefaultPageMeasure()
            }
            if(resData.bgColor) {
              reportSetting.bgColor = resData.bgColor
            }
            if(resData.bgImg) {
              reportSetting.bgImg = resData.bgImg
            }
            this.setReportSetting({ reportSetting })
            this.buildGridLayoutArr(resData, startDate, endDate, resData.periodType)
          } else {
            console.log('获取报告详情失败')
          }
        })
      },

      buildGridLayoutArr(resData, globalStartDate, globalEndDate, periodType) {
        const currentContainerWidth = document.getElementById('report-canvas').offsetWidth
        const containerWidth = resData.containerWidth || 1510
        this.scaleRatio = currentContainerWidth / containerWidth
        let views = resData.views
        this.chartDataList = this.buildResultChart(views, this.containerHeightPreview, globalStartDate, globalEndDate, periodType)
        this.refreshStoreChartList()
      },

      buildResultChart(views, maxHeight, globalStartDate, globalEndDate, periodType) {
        let mixFilterList = views.filter(item => item.type === 'MixFilter')
        return views.map((item, index) => {
          let configData = item.configData ? JSON.parse(item.configData) : (item.data?.configData ? item.data?.configData : CHART_DEFAULT_CONFIG[item.type].config)
          const { series = [], ...newConfigData } = configData; // 解析出: 系列+数据配置
          if (newConfigData['calculateTitleOption'] === undefined) {
            newConfigData['calculateTitleOption'] = {}
          }
          let indicatorData = newConfigData.indicatorData
          if (!indicatorData) {
            indicatorData = item.indicators && item.indicators.map(i => {
              const indicator = this.allIndicators.find(indicatorItem => indicatorItem.id === i.id)
              return {
                title: i.title,
                abbrName: indicator?.abbrName,
                id: i.id,
                type: i.type,
                thresholds: i.thresholds,
                showType: i.showType,
                selected: false,
                useCompare: true,
                useProportion: true,
                useThreshold: false
              }
            })
          } else {
            if (item.indicators) {
              indicatorData.forEach(cacheIndicator => {
                newConfigData.calculateTitleOption[cacheIndicator.id] = {}
                let dbIndicator = this.allIndicators.find(i => i.id == cacheIndicator.id)
                if (dbIndicator) {
                  // cacheIndicator.thresholds = dbIndicator.thresholds
                  cacheIndicator.showType = dbIndicator.showType
                  !newConfigData.hasOwnProperty('indNameChanged') ? cacheIndicator.title = dbIndicator.name : null
                  cacheIndicator.type = dbIndicator.type
                  cacheIndicator.name = dbIndicator.name
                  cacheIndicator.abbrName = dbIndicator.abbrName
                }
              })
            }
          }
          if (maxHeight) {
            let totalHeight = item.height + item.y
            if (totalHeight > maxHeight) {
              this.containerHeightPreview = totalHeight
            }
          }
          // 如果设置了私有日期关联了公共日期需要根据当前公共日期重新计算私有日期
          if (newConfigData.isOpenPrivateDate && newConfigData.displayPrivateDate) {
            let { startDate, endDate } = getChartPrivateDate(newConfigData, periodType, globalStartDate, globalEndDate)
            item.startTime = startDate
            item.endTime = endDate
          }
          let parentId = ''
          for (let i = 0; i < mixFilterList.length; i++) {
            let configData = JSON.parse(mixFilterList[i].configData)
            if (configData.relativeFilterList && configData.relativeFilterList.includes(item.chartId)) {
              parentId = mixFilterList[i].chartId
            }
          }
          let childrenChartViewList
          if (item.childrenChartViewList) {
            // tab组件标签排序
            childrenChartViewList = item.childrenChartViewList.sort(
              (a, b) => a.idIndex - b.idIndex
            ).map(childrenChartItem => ({
              ...childrenChartItem,
              paneData: this.buildResultChart(childrenChartItem.paneData, maxHeight, globalStartDate, globalEndDate, periodType)
            }))
          }
          return {
            chartId: `${item.chartId ? item.chartId : item.type + '_' + item.id}`,
            parentId: parentId,
            id: item.type,
            x: item.x,
            y: item.y,
            level: item.chartLevel ? item.chartLevel : 100 + index,
            width: item.width,
            height: item.height,
            i: index,
            defaultImg: CHART_DEFAULT_CONFIG[item.type]?.hasOwnProperty('defaultImg') ? CHART_DEFAULT_CONFIG[item.type]?.defaultImg : null,
            data: {
              mode: 1,
              dimension: item.dimensions,
              series: supportSeriesCharts.includes(item.type) ? series : [],
              indicator: indicatorData || [],
              innerHtml: item.html,
              src: item.src,
              text: item.text,
              configData: newConfigData,
              startDate: item.startTime, // 私有日期
              endDate: item.endTime,
              dateRangeValue: [
                item.startTime ? new Date(item.startTime) : null,
                item.endTime ? new Date(item.endTime) : null,
              ]
            },
            childrenChartViewList,
            currentTab: item.currentTab || 0,
            style: JSON.parse(item.style),
            defaultShow: false,
            timer: new Date().getTime(),
          }
        })
      },

      update(chartDataList, { dateRange, reportName, reportId,chartLink, assetsGroupValue, tagValue  }) {
        this.$refs.businessModel.refresh()
        this.chartDataList = chartDataList
        this.dateRange = dateRange
        this.reportName = reportName
        this.reGroup=assetsGroupValue
        this.assetsGroupValue = assetsGroupValue
        this.tagValue = tagValue
        this.reportId = reportId
        this.chartLink = chartLink
        this.$refs.createReportCalendar.update({
          startDate: new Date(dateRange.startDate),
          endDate: new Date(dateRange.endDate),
          dateRangeOption: dateRange.dateRangeOption
        }, true)
      },

      /**
       *
       * @returns {Promise<unknown>}
       */
      handleChangeLink() {
        // return new Promise(resolve => {
        //   const chartList = this.chartDataList
        //   let isOpenDrillDown = chartList.find(item => {
        //     let config = item.data.configData
        //     return config.hasOwnProperty('drillDownOption') && config.drillDownOption.opened === true
        //   })
        //   if (!this.chartLink && isOpenDrillDown) {
        //     this.$Modal.confirm({
        //       title: '确认切换吗？',
        //       content: '当前已开启图表下钻，联动开启后将关闭下钻功能',
        //       onOk: () => {
        //         for (let i = 0; i < chartList.length; i++) {
        //           let item = chartList[i], configData = item.data.configData
        //           if (configData.hasOwnProperty('drillDownOption')) {
        //             configData.drillDownOption = {
        //               drillDownTagList: [],
        //               opened: false,
        //               drillDownStep: 1
        //             }
        //           }
        //           if (configData.hasOwnProperty('conditionValue')) {
        //             configData.conditionValue = ''
        //           }
        //           if (configData.hasOwnProperty('filterDimension')) {
        //             configData.filterDimension = ''
        //           }
        //         }
        //         resolve()
        //       }
        //     })
        //   } else {
        //     resolve()
        //   }
        // })
      },



      /**
       * 图表联动
       * @param status：开：true；关：false
       */
      handleSwitchLink(status) {
        if (status) {
          this.handleChartLinkOpen()
        } else {
          this.handleChartLinkClose()
        }
        this.recordSnapshot()
      },

      /**
       * 收缩右侧配置栏
       */
      openCloseBoxClick() {
        this.rightBoxOpenState = !this.rightBoxOpenState
        this.widthChangeAnimation = true
        let _this = this
        window.setTimeout(function () {
          _this.$refs.reportChartEditLayout.canvasResize()
        }, 500)
      },

      /**
       * 缩小画布
       */
      zoomOut() {
        if (this.scaleValue > 0.25) {
          this.scaleValue -= 0.25
        }
      },

      /**
       * 放大画布
       */
      zoomIn() {
        if (this.scaleValue < 2) {
          this.scaleValue += 0.25
        }
      },

      onTitleCalendarKeydown(e) {
        if (e.keyCode === 8 || e.keyCode === 46) {
          // 阻止事件冒泡，阻止图表删除事件触发
          e.stopPropagation()
        }
      },

      handleSettingChecked() {
        this.setChartDeactivation(true)
      },

      canvasClicked(val) {
        this.setChartDeactivation(val)
      },

      handleMouseDrag(e, id) {
        let img = new Image()
        img.src = this.dragImgs[id]
        e.target.style.cursor = 'grabbing'
        e.dataTransfer.setDragImage(img, 324 / 2, 210 / 2)
      },

      handleDragEnd(e, id) {
        let xy = { pageX: e.pageX, pageY: e.pageY, clientX: e.clientX, clientY: e.clientY }
        this.targetXY = deepCopy(xy)
        this.onDragEnd({ item: { id } },null,true)
        e.target.style.cursor = 'default'
        e.target.ondrag = null
      },

      handleBeforeUpload(file) {
        const isImg = file.type === 'image/jpeg' || file.type === 'image/png'
        const isLt10M = file.size / 1024 / 1024 < 10
        if (!isImg) {
          this.$Message.warning('上传图片只能是JPG/JPEG/PNG格式')
          return false
        }
        if (!isLt10M) {
          this.$Message.warning('上传图片大小不能超过10MB')
          return false
        }
        const reader = new FileReader()
        reader.readAsDataURL(file)
        let width
        let height
        let _this = this
        reader.onload = function () {
          let img = new Image()
          img.src = reader.result
          if (img.complete) {
            // 如果存在浏览器缓存中
            width = img.width
            height = img.height
            return false
          } else {
            img.onload = function () {
              width = img.width
              height = img.height
              return false
            }
          }
        }
        this.uploadImg(file).then(res => {
          if (res) {
            _this.createImage(width, height, res)
          }
        })
        return false
      },

      async uploadImg(file) {
        let formData = new FormData()
        formData.append('file', file)
        return await uploadImg(formData).then(res => {
          if (res.data.state === 'success') {
            const { data } = res.data
            return data.id
          } else {
            this.$Message.warning('图片上传失败')
            return false
          }
        }).catch(err => {
          this.$Message.warning('图片上传失败')
          return false
        })
      },

      onClickChartItemIcon(id) {
        this.onDragEnd({ item: { id } })
      },

      createImage(width, height, src) {
        let newWidth = width
        let newHeight = height
        if (width > this.reportWidth || height > this.reportHeight) {
          let scaleDown = Math.max(width / this.reportWidth, height / this.reportHeight)
          newWidth = Math.floor(width / scaleDown)
          newHeight = Math.floor(height / scaleDown)
        }
        this.onDragEnd({ item: { id: `CustomImage` } }, {
            width: newWidth,
            height: newHeight,
            defaultShow: false,
            src
          }
        )
      },

      onDragEnd(params, configData , codeDrag = false) {
        //结束拖拽后触发的事件
        let { width, height } = CHART_DEFAULT_CONFIG[params.item.id],
          contentDom = document.querySelector('.create-report-body-center-content'),
          canvasDom = document.getElementById('report-canvas')
        let x, y
        if (!codeDrag) {
          x = Math.floor(contentDom.scrollLeft + (Math.min(contentDom.clientWidth, canvasDom.clientWidth) - width) / 2)
          y = Math.floor(contentDom.scrollTop + (Math.min(contentDom.clientHeight, canvasDom.clientHeight) - height) / 2)
        } else {
          const distanceLeft = canvasDom.getBoundingClientRect().left , //大盒子左侧距离窗口左侧的距离
          distanceTop  = canvasDom.getBoundingClientRect().top ,  //大盒子上侧距离窗口上侧的距离
          distanceRight =  canvasDom.getBoundingClientRect().right,  //大盒子右侧距离窗口左侧的距离
          distanceBottom =  canvasDom.getBoundingClientRect().bottom    //大盒子下侧距离窗口上侧的距离

          const radiusWidth = width/2 //半径
          const radiusHeight = height/2

          let currentX =  (this.targetXY.pageX -distanceLeft)-radiusWidth  //x轴中心点
          let currentY =  (this.targetXY.pageY -distanceTop) -radiusHeight //y轴中心点

          //小盒子的左侧小于 大盒子的左边距离
          if ((this.targetXY.pageX-radiusWidth) < distanceLeft) {//当前鼠标点击的位置-半径宽度= 小盒子左侧最终的位置
            currentX =5
          }

          //小盒子的右侧大于 大盒子的右边距离
          if ((this.targetXY.pageX+radiusWidth) > distanceRight) {//当前鼠标点击的位置+半径宽度= 小盒子右侧最终的位置
            // 由于vueDraggable中的位移是根据大盒子的位置计算的    所以 右边距离-左边距离 - 小盒子的宽度 = X最终位移值
            currentX =  distanceRight-distanceLeft-width-5
          }

          //小盒子的上边距离小于大盒子的上边距离
          if ((currentY+radiusHeight)< distanceTop) {
            currentY = 5
          }

          //小盒子下边距离大于大盒子的下边距离
          if ((this.targetXY.pageY+radiusHeight)> distanceBottom) { //当前鼠标点击的位置 +半径的高度 =小盒子下边的距离
          //由于vueDraggable中的位移是根据大盒子的位置计算的    所以 下侧的距离-上测的距离 - 小盒子高度 - 自定义边距 = Y最终位移值
            currentY = distanceBottom - distanceTop - height -5
          }

          x =currentX
          y =currentY
          // 鼠标拖拽位置
        }

        this.$refs.reportChartEditLayout.addChartItem(params, { x, y }, configData)
        // 添加新组件，左侧显示数据设置
        this.$refs.businessModel.setTabsValueFirst()
        // 添加新组件，右侧显示数据设置
        this.$refs.chartSetting.setTabsValueFirst()
        // 新增图表，报告页面对应组件脱离被联动状态
        if (this.chartLink) {
          this.clearChartLink()
        }
      },
      /**
       * 从资源tab下添加图表
       */
      addChartFromResourceTab(params, configData) {
        // 图表位置居中
        let width = 0
        let height = 0
        if(params.resourceType === "1") {
          width = CHART_DEFAULT_CONFIG[params.item.id].width
          height = CHART_DEFAULT_CONFIG[params.item.id].height
        } else if(params.resourceType === "2") {
          width = params.combineWidth
          height = params.combineHeight
        } else if(params.resourceType === "3") {
          if(!params.isCombine) {
            width = params.width
            height = params.height
          } else {
            width = params.combineWidth
            height = params.combineHeight
          }
        }
        const contentDom = document.querySelector('.create-report-body-center-content')
        const canvasDom = document.getElementById('report-canvas')
        const x = Math.floor(contentDom.scrollLeft + (Math.min(contentDom.clientWidth, canvasDom.clientWidth) - width) / 2)
        const y = Math.floor(contentDom.scrollTop + (Math.min(contentDom.clientHeight, canvasDom.clientHeight) - height) / 2)

        // 添加常规资源、组合资源、定制化资源
        if(params.resourceType === "1") {
          this.$refs.chartSetting.setTabsValueFirst() // 右侧显示数据设置
          this.$refs.reportChartEditLayout.cancelSelect() // 清空之前框选的图表
          this.$refs.reportChartEditLayout.addResourceChartItem(params, { x, y }, configData)
        } else if(params.resourceType === "2") {
          this.$refs.reportChartEditLayout.cancelSelect() // 清空之前框选的图表
          this.$refs.reportChartEditLayout.addResourceChartItem(params, { x, y }, configData)
        } else {
          this.$refs.reportChartEditLayout.addCustomChartItem(params, { x, y })
        }

        // 新增图表，报告页面对应组件脱离被联动状态
        if (this.chartLink) {
          this.clearChartLink()
        }
      },

      /**
       *
       * 存储当前激活的图表
       *
       * @param 选中的某个图表
       */
      onChartSelect(chart) {
        if (!this.currentSelectChart || this.currentChartId !== chart.chartId) {
          // 更新全局的chart
          this.setCurrentSelectChart({ chart })
          // if (this.chartLink) {
          //   // 重置图表联动；更新当前图表为主联动图表(如果支持)
          //   // this.resetChartLink()
          //   this.clearChartLink()
          // }
        }
      },
      resetChartLink() {
        // 先重置之前所有被动图表的联动条件
        this.handleChartLinkClose()
        // 设置当前画布中所有图表的联动类型
        this.handleChartLinkOpen()
      },
      /**
       * 置于顶层
       */
      toTopLevel() {
        this.$refs.reportChartEditLayout.updateChartItemLevel(this.currentSelectChart, 'top')
      },

      /**
       * 置于底层
       */
      toBottomLevel() {
        this.$refs.reportChartEditLayout.updateChartItemLevel(this.currentSelectChart, 'bottom')
      },

      /**
       * 预览
       */
      toPreview() {
        if (this.chartLink) {
          // 清除图表联动
          this.clearChartLink()
        }
        this.resetChartDrillDown()
        this.$parent.changeToPreview({
          chartDataList: this.chartDataList,
          dateRange: this.dateRange,
          reportName: this.reportName,
          reportId: this.reportId,
          chartLink: this.chartLink,
          assetsGroupValue:this.assetsGroupValue,
          tagValue:this.tagValue,
        })
      },

      /**
       * 返回
       */
      goBackList() {
        this.$Modal.confirm({
          title: '返回上一页',
          content: '您确定“返回上一页”吗？ 未保存的内容将不会进行存储',
          cancelText:'取消',
          onOk: () => {
            if (this.status === REPORT_STATUS.UPDATE) {
              window.close()
            } else {
              this.$router.push('/manager/templateManage/template_list')
            }
            localStorage.removeItem('indicatorTreeData')
            this.resetCurrentSelectChart()
          },
          onCancel:() => {}
        });
      },
      /**
       * 返回资源管理列表页
       */
      goBackToResourceList() {
        this.$Modal.confirm({
          title: "返回",
          content: "您确定返回吗？ 未保存的内容将不会进行存储",
          onOk: () => {
            this.setCurrentSelectChart({ chart: null });
            this.$router.push("/manager/templateManage/resourceManage");
          }
        });
      },
      /**
       * 展示组合资源保存弹窗
       */
      showSaveResourceModal() {
        if(this.currentChartList.length === 0) {
          this.$Message.warning('请先选择组件')
          return
        }
        if(this.resourceName === "") {
          this.$Message.warning('请输入资源名称')
          return
        }

        const isCanSave = this.currentChartList.map(ele => judgeIsInvalidResource(ele))
        if(isCanSave.includes(false)) {
          this.$Message.warning('存在无效组件')
          return
        }

        this.setSelectedChart(deepCopy(this.currentChartList))
        this.setSaveResourceModalStatus({ show: true, type: "4", defaultTitle: this.resourceName }); // 展示弹窗
      },
      /**
       * 保存组合资源
       */
      async handleSaveResource(value) {
        const { id, type } = this.$route.query;
        const msg = await this.saveCombineResource({ value, type, resourceId: type === "edit" ? id : "" });
        this.$Message.success(msg);
        this.setSelectedChart([]) // 清空之前选中的内容
        this.setSaveResourceModalStatus({ show: false }); // 关闭弹窗
        this.setRefreshResourceTabW(new Date().getTime()) // 刷新资源tab
        this.fetchAllResourceList(); // 刷新vuex中已存在的资源
        this.$router.push("/manager/templateManage/resourceManage");
      },

      resetCurrentSelectChart() {
        this.setCurrentSelectChart({ chart : null })
      },

      /**
       *
       * @param startDate 公共日历开始日期
       * @param endDate 公共日历结束日期
       * @param periodType  周期类型
       */
      setDate(startDate, endDate, periodType, flag) {
        this.startDate = moment(startDate).format('YYYY-MM-DD')
        this.endDate = moment(endDate).format('YYYY-MM-DD')
        let reportDate = [
          this.startDate,
          this.endDate,
          false,
          periodType
        ]
        this.setReportDate({ reportDate })
      },

      setActiveChart(data) {
        this.activeChart = !!data ? deepCopy(data) : data
      },
      /**
       * 撤销
       */
      undo() {
        // 如果是组合选择状态，取消组合效果
        if(this.selectLine.show) {
          this.setSelectedChart([])
        }

        if (this.snapshotIndex >= 0) {
          let snapshotIndex = this.snapshotIndex
          snapshotIndex--
          this.refreshDisPlayChartList(snapshotIndex)
        }
      },
      /**
       * 重做
       */
      redo() {
        if (this.snapshotIndex < this.snapshotData.length - 1) {
          let snapshotIndex = this.snapshotIndex
          snapshotIndex++
          this.refreshDisPlayChartList(snapshotIndex)
        }
      },
      refreshDisPlayChartList(snapshotIndex) {
        this.setSnapshotIndex({snapshotIndex})
        const currentSnapshotData = this.snapshotData[snapshotIndex]
        let chartList = []
        let chart = null
        let snapshotReportSetting = {
          bgColor: "",
          bgImg: "",
          pageMeasure: this.getDefaultPageMeasure(),
          themeStyle: "1"
        }
        let gridDisplay = true
        let chartLink = false
        if (currentSnapshotData) {
          chartList = deepCopy(currentSnapshotData.chartDataList)
          if (!Object.keys(chartList).length) {
            chartList = []
          }

          const snapshotChartId = currentSnapshotData.currentSelectChartId
          if (snapshotChartId && chartList.length) {
            chart = _.find(chartList, item => item.chartId === snapshotChartId)
          }

          snapshotReportSetting = deepCopy(currentSnapshotData.reportSetting)

          gridDisplay = currentSnapshotData.gridDisplay

          chartLink = currentSnapshotData.chartLink
        }
        // 1、更新画布中的图表(图表的新增、删除、位置移动、图表切换、图表联动（效果）、图表下钻（开关+效果）)
        this.chartDataList = chartList
        this.setChartList({chartList})
        // 2、更新当前选中图表为快照中的选中图表，需要从快照中的chartDataList匹配出来！！！
        this.setCurrentSelectChart({chart})
        // 3、更新报告设置(主题风格、页面尺寸)
        this.setReportSetting({reportSetting: snapshotReportSetting})
        // 4、网格显示勾选
        this.gridDisplay = gridDisplay
        // 5、图表联动开关
        this.chartLink = chartLink
      },
      recordSnapshot() {
        // 添加新的快照
        let snapshotIndex = this.snapshotIndex
        let snapshotData = deepCopy(this.snapshotData)
        snapshotData[++snapshotIndex] = {
          chartDataList: deepCopy(this.chartDataList), // 画布中的图表数组
          currentSelectChartId: this.currentSelectChart?.chartId, // 当前选中的图表
          reportSetting: deepCopy(this.reportSetting), // 报告设置（主题风格、页面尺寸）
          gridDisplay: this.gridDisplay, // 网格显示
          chartLink: this.chartLink, // 图表联动开关
        }
        // 在 undo 过程中，添加新的快照时，要将它后面的快照清理掉
        if (snapshotIndex < snapshotData.length - 1) {
          snapshotData = snapshotData.slice(0, snapshotIndex + 1)
        }
        this.setSnapshotIndex({snapshotIndex})
        this.setSnapshotData({snapshotData})
        // 只要登录失效，则保存当前报告到本地
        let token = getToken()
        if (!token) {
          window.localStorage.setItem(this.abnormalReportBakKey, JSON.stringify(this.chartDataList))
        }
      },
      /**
       * 清除快照
       */
      clearRecordSnapshot() {
        this.setSnapshotIndex({snapshotIndex: -1})
        this.setSnapshotData({snapshotData: []})
      },
      handGridDisplayChange() {
         this.recordSnapshot()
      },
      handleEvent(event) {
        switch (event.keyCode) {
          case 89:
            console.log('Ctr + y')
            if (event.ctrlKey && event.code === 'KeyY') {
              this.redo()
            }
            break
          case 90:
            console.log('Ctr + z')
            if (event.ctrlKey && event.code === 'KeyZ') {
              this.undo()
            }
            break
        }
      },
      getInitReportWH(){
        const width = document.body.offsetWidth - 480 - 24 - 6 - 48
        const height = document.body.offsetHeight - 60 - 52 - 6 - 20
        return {
          width,
          height
        }
      },
      getDefaultPageMeasure() {
        const width = this.getInitReportWH().width
        const height = this.getInitReportWH().height
        return `1,${width},${height}`
      }
    }
  }
</script>

<style scoped>
  .create-report-charts .create-report-charts-item {
    width: 42px;
    height: 38px;
    margin-right: 8px;
    cursor: grab;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .create-report-charts .create-report-charts-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  /** -------------------------------预览报告------------------------------- */

  /deep/ .ivu-tabs {
    overflow: visible;
  }

  .ivu-tabs >>> .ivu-tabs-content {
    height: calc(100% - 52px);
    /*overflow: auto;*/
  }

  .ivu-tabs >>> .ivu-tabs-content .ivu-tabs-tabpane {
    height: 100%;
  }

  .chart-edit:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .chart-select {
    border: dashed 1px #2b85e4;
  }


  /deep/ .ref-line {
    background-color: #2D8cF0;
  }
</style>

<style lang="scss" scoped>
  @include fa-use-theme($fa-default-themes) {
    .create-report {
      .create-report-body-new {
        .create-report-body-center {
          .create-report-body-center-content {
            .create-report-body-canvas {
              background: $f-them-report-background;
            }
          }
        }
      }
    }
  }
</style>

<style lang="less" scoped>
  .create-report {
    background-color: #f3f7ff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;

    .create-report-header-new {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      background: #FFFFFF;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
      position: fixed;
      z-index: 999;

      .create-report-header-new-left {
        display: flex;
        align-items: center;
        width: 240px;
        line-height: 60px;
        padding-left: 20px;

        > span {
          font-size: 18px;
          color: #16234A;
          font-weight: bold;
        }
      }

      .create-report-charts {
        > span {
          display: flex;
          align-items: center;
          height: 60px;

          .create-report-charts-item {
            height: 40px;
            margin-right: 12px;
            cursor: grab;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #FFFFFF;
            box-shadow: 0px 0px 0px 2px #FFFFFF;

            &:nth-child(9), &:nth-child(13), &:nth-child(14), &:nth-child(15)  {
              margin-right: 24px;
              &:after {
                content: '';
                position: absolute;
                top: 4px;
                right: -12px;
                display: inline-block;
                width: 1px;
                height: 32px;
                background: rgba(239,239,239,0.95);
              }
            }

            .imageUpload {
              width: 100%;
              height: 100%;

              /deep/ .ivu-upload {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
            }

            .chartImg {
              display: block;
            }

            .chartHoverImg {
              display: none;
            }

            .filterListClass {
              padding-top: 12px;
              width: 72px;
              text-align: center;

              li {
                list-style: none;
                padding: 12px 0 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background: #FFFFFF;

                img {
                  width: 20px;
                  height: 20px;
                }

                span {
                  margin-top: 1px;
                }

                .chartImg {
                  display: block;
                }

                .chartHoverImg {
                  display: none;
                }
              }

              li:hover {
                color: #3F73FF;

                .chartImg {
                  display: none;
                }

                .chartHoverImg {
                  display: block;
                }
              }
            }
          }

          .create-report-charts-item:hover {
            > span {
              color: #3F73FF;
            }

            .imageUpload {
              span {
                color: #3F73FF;
              }
            }

            border-color: #3F73FF;
            box-shadow: 0px 0px 0px 2px rgba(187, 207, 255, 1);

            .chartImg {
              display: none;
            }

            .chartHoverImg {
              display: block;
            }
          }
        }
      }

      .create-report-header-new-right {
        margin-right: 10px;
        display: flex;
        align-items: center;

        .kkLabelIcon {
          margin: 0 10px;

          > span {
            font-size: 12px;
            color: #0A1124;
            margin-top: 2px;
          }

          .imgBox {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;
          }

          &:hover {
            .imgBox {
              background: #F8F8F8;
              border: 1px solid #E5E5E5;
              border-radius: 2px;
              cursor: pointer;
            }
          }
        }
      }
    }

    .create-report-body-new {
      flex: 1;
      display: flex;
      margin-top: 60px;

      .create-report-body-left {
        width: 240px;
        background: #FFFFFF;
        box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.1);
      }

      .create-report-body-center {
        padding: 12px 12px 0 12px;
        position: relative;

        .create-report-body-center-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;

          .reportNameClass {
            width: 200px;
            height: 32px;
            background: #FFFFFF;
            border: 1px solid #e5e5e5;
            border-radius: 2px;
            font-size: 14px;
            padding: 5px 12px;
            outline: none;
          }

          .levelSetting {
            display: flex;
            margin-left: 10px;

            .levelSettingBtn {
              display: flex;
              flex-direction: column;
              align-items: center;
              color: #0A1124;
              margin: 0 7px;
              cursor: pointer;

              img {
                width: 16px;
                height: 16px;
              }

              .img {
                display: block;
              }

              .disabledImg {
                display: none;
              }
            }

            .levelSettingBtn:hover {
              color: #3F73FF;
            }
          }

          .levelSetting.disabledLevelSetting {
            .levelSettingBtn {
              color: rgba(0, 0, 0, 0.45);
              cursor: not-allowed;
            }

            .levelSettingBtn:hover {
              color: rgba(0, 0, 0, 0.45);
            }

            .img {
              display: none;
            }

            .disabledImg {
              display: block;
            }
          }

          .title-calendar {
            position: relative;
          }
        }

        .create-report-body-center-content {
          position: absolute;
          top: 52px;
          left: 12px;
          right: 12px;
          bottom: 0;
          overflow: auto;
          padding: 10px 24px;

          &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
          }

          &::-webkit-scrollbar-track {
            background: none;
          }

          &::-webkit-scrollbar-thumb {
            background: #AFAFAF;
          }

          .m-dashRegion {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            min-width: 100%;
            min-height: 100%;
            // overflow: hidden;
          }

          .create-report-body-canvas {
            width: 100%;
            height: 100%;
            display: inline-block;
            outline: none;

            .report-chart-edit-layout {
              box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.1),
              -2px 0px 6px 0px rgba(0, 0, 0, 0.1),
              2px 0px 6px 0px rgba(0, 0, 0, 0.1),
              0px 2px 6px 0px rgba(0, 0, 0, 0.1);
            }

            &.grid {
              .report-chart-edit-layout {
                background-image: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1px, transparent 1px, transparent 20px),
                repeating-linear-gradient(-90deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1px, transparent 1px, transparent 20px);
                background-size: 10px 10px;
                background-position: 1px 1px;
              }
            }

            &.grid.blackTheme {
              .report-chart-edit-layout {
                background-image: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 20px),
                repeating-linear-gradient(-90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 1px, transparent 1px, transparent 20px);
                background-size: 10px 10px;
                background-position: 1px 1px;
              }
            }

            .firstScreenLine {
              position: absolute;
              color: #4879FE;
              left: -23px;
              display: flex;
              align-items: center;
              z-index: 199;

              &:before {
                content: "";
                display: inline-block;
                position: relative;
                width: 0;
                height: 0;
                left: 35px;
                border: 4px solid transparent;
                border-left-color: #4879FE;
              }

              &:after {
                content: "";
                display: inline-block;
                position: absolute;
                z-index: 1;
                left: 47px;
                width: 100%;
                height: 1px;
                border-bottom: 1px dashed #3F73FF;
              }
            }
          }

        }

        .create-report-body-center-operation {
          position: absolute;
          right: 20px;
          bottom: 8px;
          width: 274px;
          height: 40px;
          background: #FFFFFF;
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 18px;

          .grid {
            > span {
              margin-right: 9px;
            }
          }

          .scale {
            display: flex;
            align-items: center;

            .zoom {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 22px;
              height: 22px;
              font-size: 18px;
              color: rgba(0, 0, 0, 0.5);
              background: #FFFFFF;
              box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
              border-radius: 2px;
              cursor: pointer;
            }

            .label {
              margin: 0 10px;
            }
          }
        }
      }

      .create-report-body-right {
        width: 240px;
        background: #FFFFFF;
        box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        transition: margin-right .3s cubic-bezier(.1, 0, 0, 1);

        .openCloseBox {
          position: absolute;
          top: 50%;
          margin-top: -39px;
          margin-left: -22px;
          opacity: 0;
          transition: top .3s ease, opacity .3s ease;

          &.open {
            opacity: 1;
          }

          img {
            vertical-align: middle;
          }
        }
      }
    }
    .searchBox {
      display: flex;
      align-items: center;
      margin-left: 24px;

      // 指标标签
      /deep/.assets-label {
        cursor: pointer;
        .select-wrapper {
          width: 100%;
          padding: 5px 22px 5px 14px;
          background: rgba(255, 255, 255, 0.03);
          border: 1px solid rgba(217, 217, 217, 1);
          border-radius: 4px;
          box-sizing: border-box;
          height: 32px;
          .selected-list {
            flex-wrap: nowrap;
            overflow-x: hidden;
            .list-item {
              margin-right: 10px;
              margin-bottom: 5px;
              height: 20px;
              flex: none;
            }
          }
          .ivu-icon {
            font-size: 14px;
            right: 8px;
            color: #808695;
          }
        }
        .search-input {
          width: 100%;
        }
      }
      /deep/.ivu-dropdown-rel {
        background: #ffffff;
      }
    }
  }
</style>
