<template>
  <div class="previewReport-container">
    <div class="preview-report" v-if="!isDelete">
      <div class="preview-report-header-new">
        <div style="display: flex">
          <div class="preview-report-header-new-left">
            <img src="@/assets/images/login/logo@1x.png" style="width: 160px; object-fit: contain; margin-right: 8px;"/>
          </div>
        </div>
        <div class="preview-title-calendar">
          <span class="preview-report-title">{{reportName}}</span>
          <div class="searchBox">
            <span>部门：</span>
            <TreeSelect
              style="width: 172px"
              v-model="orgIdArr"
              :expand-all="false"
              :data="deptTreeDataNew"
              :multiple="false"
              placeholder="请选择部门"
            />
          </div>
          <div class="searchBox">
            <span>结算维度：</span>
            <Select v-model="dateType" style="width: 120px" @on-change="handleDateTypeChange($event)" clearable>
              <Option v-for="item in dateTypeList"  :key="item.value"  :value="item.value">{{ item.label }}</Option>
            </Select>
          </div>
          <div class="searchBox">
            <span>数据来源：</span>
            <Select v-model="dataSource" style="width: 120px" @on-change="handleDataSourceChange($event)" clearable>
              <Option v-for="item in dataSourceList"  :key="item.value"  :value="item.value">{{ item.label }}</Option>
            </Select>
          </div>
<!--          <div class="searchBox" v-for="it in globalVariableList" :key="it.varId">-->
<!--            <span>{{it.name}}：</span>-->
<!--            <Select style="width:152px" clearable>-->
<!--              <Option v-for="item in it.paramValue"  :key="item.value"  :value="item.value">{{ item.label }}</Option>-->
<!--            </Select>-->
<!--          </div>-->
          <ReportCalendar
            class="previewReportCalendar"
            ref="previewReportCalendar"
            key="preview-calendar"
            :editable="false"
            :need-init="false"
            @dateConfirm="dateConfirm"
          />
        </div>
        <div class="preview-type">
          <div class="link-switch">
            <span style="margin-right: 6px">图表联动</span>
            <Switch v-model="chartLink"
                    true-color="#3f73ff"
                    @on-change="handleSwitchLink">
              <span slot="open">开</span>
              <span slot="close">关</span>
            </Switch>
          </div>
          <Tooltip content="自适应窗口" theme="light"
                  :class="{ 'active': previewAdapt }"
                  @click.native="changePreviewType('1')">
            <img class="preview-type-img" src="@/assets/images/report/previewTypeAdapt.svg"/>
            <img class="preview-type-img-hover" src="@/assets/images/report/previewTypeAdaptHover.svg"/>
            <img class="preview-type-img-selected" src="@/assets/images/report/previewTypeAdaptSelected.svg"/>
          </Tooltip>
          <Tooltip content="1:1原尺寸" theme="light"
                  :class="{ 'active': previewOrigin }"
                  @click.native="changePreviewType('2')">
            <img class="preview-type-img" src="@/assets/images/report/previewTypeOrigin.svg"/>
            <img class="preview-type-img-hover" src="@/assets/images/report/previewTypeOriginHover.svg"/>
            <img class="preview-type-img-selected" src="@/assets/images/report/previewTypeOriginSelected.svg"/>
          </Tooltip>
          <Tooltip content="自适应宽度" theme="light"
                  :class="{ 'active': previewAdaptWidth }"
                  @click.native="changePreviewType('3')">
            <img class="preview-type-img" src="@/assets/images/report/previewTypeAdaptWidth.svg"/>
            <img class="preview-type-img-hover" src="@/assets/images/report/previewTypeAdaptWidthHover.svg"/>
            <img class="preview-type-img-selected" src="@/assets/images/report/previewTypeAdaptWidthSelected.svg"/>
          </Tooltip>
        </div>
        <div class="preview-report-header-new-right">
          <div @click="toRefresh()" class="kkLabelIcon">
            <div class="imgBox">
              <img :src="labelIcon.refresh"/>
            </div>
            <span>刷新</span>
          </div>

          <div style="width: 1px;margin: 0 5px;height: 30px;background-color: rgba(0, 0, 0, 0.25);"></div>

          <div @click="toSave()" class="kkLabelIcon" v-show="existEdit" v-allow="[1097038120879104,1097038120879105]">
            <div class="imgBox">
              <img :src="labelIcon.save"/>
            </div>
            <span>保存</span>
          </div>

          <div @click="toOtherSave()" class="kkLabelIcon" v-show="showSaveAs" v-allow="[1097038120879104,1097038120879105]">
            <div class="imgBox">
              <img :src="labelIcon.saveAs"/>
            </div>
            <span>另存</span>
          </div>

          <div @click="toEdit()" class="kkLabelIcon" v-allow="[1097038120879105]" v-if="isEditAuth({creatorId, controlEdit})">
            <div class="imgBox">
              <img :src="labelIcon.edit"/>
            </div>
            <span>编辑</span>
          </div>

          <div @click="exportFile()" class="kkLabelIcon">
            <div class="imgBox">
              <img :src="labelIcon.export"/>
            </div>
            <span>导出</span>
          </div>

          <div style="width: 1px;margin: 0 5px;height: 30px;background-color: rgba(0, 0, 0, 0.25);"></div>

          <div @click="goBackList()" class="kkLabelIcon">
            <div class="imgBox">
              <img :src="labelIcon.backout"/>
            </div>
            <span>返回</span>
          </div>
        </div>
      </div>
      <div class="preview-report-body" id="report-canvas">
        <div class="preview-report-body-canvas">
          <ReportViewCanvas
            ref="reportChartViewLayout"
            :report-width="reportWidth"
            :report-height="reportHeight"
            :preview-scale-value="previewScaleValue"
            :chart-data-list="chartDataList"
          />
        </div>
      </div>
      <Modal
        v-model="reportTitleVisible"
        title="请输入报告标题">
        <Input ref="modalTitleInput" v-model="reportName" clearable/>
        <div slot="footer">
          <Button type="text" @click="() => { this.reportTitleVisible = false }">取消</Button>
          <Button type="primary" @click="modalSave">确定</Button>
        </div>
      </Modal>
    </div>
    <DeletedPage v-else />
  </div>
</template>

<!--报告查看组件-->
<script>
  import { getReportTempDetail } from '@/api/report'
  import { CHART_DEFAULT_CONFIG } from '@/config/ReportConstants'
  import ReportCalendar from '../../components/report-calendar/ReportCalendar'
  import _ from 'lodash'
  import moment from 'moment/moment'
  import html2canvas from 'html2canvas'
  import { jsPDF } from 'jspdf'
  import BigNumber from 'bignumber.js'
  import { getChartPrivateDate, getDateRange } from '@/utils/chartDate'
  import ReportTemplate from './ReportTemplate'
  import ReportViewCanvas from "../components/ReportViewCanvas"
  import DeletedPage from "@/view/error-page/DeletedPage"
  import mixin from './mixin/ReportMixin'
  import { mapActions, mapState } from 'vuex'
  import { findAllDimension } from '@/api/dimension'
  import { supportSeriesCharts } from '@/view/report/components/reportDataSelector/reportDataSelectorConstant'
  import dataAuth from "@/mixins/dataAuth";
  import TreeSelect from "@/components/tree-select";
  import AssetsLabel from "@/view/report/components/AssetsLabel";
  // 报告页面所处状态 // 1.查看 2.编辑 3.预览
  const REPORT_STATUS = {
    CREATE_PREVIEW: 2, // 创建预览时
    UPDATE_PREVIEW: 3, // 报告列表点击查看时或者二次编辑的预览
    VIEW: 5 //从卡片列表进入时，这个状态下可以查看报告快照
  }
  // 报告预览类型
  const PREVIEW_TYPE_ADAPT = '1' //自适应窗口
  const PREVIEW_TYPE_ORIGIN = '2' //1:1原尺寸
  const PREVIEW_TYPE_ADAPT_WIDTH = '3' //自适应宽度

  export default {
    name: 'ReportTemplateView',
    mixins: [mixin, dataAuth],
    extends: ReportTemplate,
    components: {
      ReportCalendar,
      ReportViewCanvas,
      DeletedPage,
      TreeSelect,
      AssetsLabel
    },
    props: {
      reportTemplateId: {
        type: String,
        Default: null
      },
      status: {
        type: Number,
        default: 2
      },
      startDate: {
        type: String,
        default: null
      },
      endDate: {
        type: String,
        default: null
      }
    },
    data() {
      return {
        saveBtnClick: false, // 保存按钮是否按下
        reportWidth: 0,
        reportHeight: 0,
        themeStyle: '1',
        // 是否存在编辑
        existEdit: false,
        isCreate: false,
        scaleRatio: 1, // TODO 该属性是否在使用
        labelIcon: Object.freeze({
          save: require('@/assets/icons/chart/report_operation/save.svg'),
          saveAs: require('@/assets/icons/chart/report_operation/save-as.svg'),
          backout: require('@/assets/icons/chart/report_operation/back.svg'),
          edit: require('@/assets/icons/chart/report_operation/edit.svg'),
          refresh: require('@/assets/icons/chart/report_operation/refresh.svg'),
          export: require('@/assets/icons/chart/report_operation/export.svg'),
        }),
        reportTitleVisible: false,
        containerMaxHeight: 0,
        containerHeightPreview: 0,
        chartLink: false, //图表联动
        previewScaleValue: 1, //报告预览缩放比例
        previewType: PREVIEW_TYPE_ORIGIN, //报告预览类型
        isDelete: false,
        creatorId: '',
        controlEdit: false,
        chartDataList: [],
        dateType: globalVariable.dateType,
        dateTypeList: globalVariable.dateTypeList,
        dataSource: globalVariable.dataSource,
        dataSourceList: globalVariable.dataSourceList,
        globalVariableList: [],
        orgIdArr: [],
        deptTreeDataNew: []
      }
    },
    computed: {
      ...mapState("department", ["deptTreeData", "deptDataList"]),
      previewAdapt() {
        return this.previewType === PREVIEW_TYPE_ADAPT
      },
      previewOrigin() {
        return this.previewType === PREVIEW_TYPE_ORIGIN
      },
      previewAdaptWidth() {
        return this.previewType === PREVIEW_TYPE_ADAPT_WIDTH
      },
      needQuerySnapshot: function () {
        return this.status === REPORT_STATUS.VIEW
      },
      // 是否展示另存
      showSaveAs: function () {
        return !this.isCreate && this.existEdit
      },
      reportPageMeasure: function () {
        return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.pageMeasure || ''
      },
    },
    watch: {
      reportPageMeasure: {
        handler(val) {
          if (this.reportWidth !== Number(val.split(',')[1]) || this.reportHeight !== Number(val.split(',')[2])) {
            this.reportWidth = Number(val.split(',')[1])
            this.reportHeight = Number(val.split(',')[2])
            this.$refs.reportCanvasLayout?.canvasResize()
          }
        },
        immediate: true
      },
      // assetsGroupValue(val) {
      //   this.setReportOrgId({orgId: val[0]})
      // },
      orgIdArr(val, oldVal) {
        if (val[0] == oldVal[0])  return
        // 海尔：取部门code作为全局变量ordId值
        const id = val[0]
        const deptCode = this.deptDataList.find(item => item.id === id).deptCode
        console.log('deptCode====', deptCode)
        this.setReportOrgId({orgId: deptCode})
      }
    },
    async mounted() {
      this.fetchPageGlobalVar()
      await this.getDimensions()
      if (this.reportTemplateId !== null && this.status === REPORT_STATUS.VIEW) {
        this.reportId = this.reportTemplateId
        await this.getReportTempDetail(this.startDate, this.endDate)
      }
      this.adjustPreviewScale()
      if (this.deptTreeData.length) {
        this.deptTreeDataNew = this.deptTreeData
        this.orgIdArr = [this.deptTreeData[0].id]
      }
    },

    methods: {
      ...mapActions(['setDimensions', 'setReportDateType', 'setReportDataSource', 'setReportOrgId']),
      /**
       * 获取所有的维度存入缓存
       */
      async getDimensions() {
        if (localStorage.getItem('allDimensions')) {
          const dimensions = JSON.parse(localStorage.getItem('allDimensions'))
          await this.setDimensions({ dimensions })
        } else {
          const res = await findAllDimension()
          if (res.data.state === 'success') {
            const dimensions = res.data.data
            await this.setDimensions({dimensions})
            localStorage.setItem('allDimensions', JSON.stringify(dimensions))
          }
        }
      },

      update(chartDataList, { dateRange, reportName, reportId,chartLink, assetsGroupValue, tagValue }) {
        this.chartDataList = chartDataList
        this.dateRange = dateRange
        this.reportName = reportName
        this.reGroup=assetsGroupValue
        this.assetsGroupValue = assetsGroupValue
        this.tagValue = tagValue
        this.reportId = reportId
        this.chartLink = chartLink
        this.$refs.previewReportCalendar.update({
          startDate: new Date(dateRange.startDate),
          endDate: new Date(dateRange.endDate),
          dateRangeOption: dateRange.dateRangeOption
        }, true)
      },


      async getReportTempDetail(startDate, endDate) {
        let params = { id: this.reportTemplateId }
        if (startDate) {
          params.startDate = startDate
          params.endDate = endDate
        }
        await getReportTempDetail(params).then(res => {
          if (res.data && res.data.state === 'success') {
            this.isDelete = false;
            const resData = res.data.data
            this.creatorId = resData.creatorId
            this.controlView = resData.controlView
            this.controlEdit = resData.controlEdit
            this.reportName = resData.name
            this.assetsGroupValue = [resData.groupId.toString()]
            this.tagValue = resData.labels
            this.chartLink = resData.linkage !== null ? eval(resData.linkage.toLowerCase()) : ''
            if (!startDate) { // 如果指定了日期
              let newDateRange = getDateRange({ periodType: resData.periodType, dateView: resData.dateView })
              startDate = moment(newDateRange.startDate).format('YYYY-MM-DD')
              endDate = moment(newDateRange.endDate).format('YYYY-MM-DD')
            }
            this.$refs.previewReportCalendar.update({
              dateRangeOption: resData.periodType, startDate, endDate
            })
            this.setDate(startDate, endDate, resData.periodType, true)
            let reportSetting = {
              themeStyle: resData.themeStyle || '1',
              pageMeasure: '',
              bgColor: '',
              bgImg: ''
            }
            if (resData.pageMeasure) {
              reportSetting.pageMeasure = resData.pageMeasure
            } else {
              this.reportWidth = document.body.offsetWidth - 480 - 24 - 6 - 48
              this.reportHeight = document.body.offsetHeight - 60 - 52 - 6 - 20
              reportSetting.pageMeasure = '1,' + this.reportWidth + ',' + this.reportHeight
            }
            if(resData.bgColor) {
              reportSetting.bgColor = resData.bgColor
            }
            if(resData.bgImg) {
              reportSetting.bgImg = resData.bgImg
            }
            this.setReportSetting({ reportSetting })
            this.buildGridLayoutArr(resData, startDate, endDate, resData.periodType)
            this.$nextTick(() => {
              this.adjustPreviewScale()
            })
          } else if(res.data.state === 'error' && res.data.errorCode === '100013') {
            this.isDelete = true;
          } else {
            console.log('获取报告详情失败')
          }
        })
      },

      buildGridLayoutArr(resData, globalStartDate, globalEndDate, periodType) {
        const currentContainerWidth = document.getElementById('report-canvas').offsetWidth
        const containerWidth = resData.containerWidth || 1510
        this.scaleRatio = currentContainerWidth / containerWidth
        // 还原画布中的图表控件
        this.containerHeightPreview = 0
        let views = resData.views
        this.chartDataList = this.buildResultChart(views, this.containerHeightPreview, globalStartDate, globalEndDate, periodType)
        this.refreshStoreChartList()
      },

      buildResultChart(views, maxHeight, globalStartDate, globalEndDate, periodType) {
        let mixFilterList = views.filter(item => item.type === 'MixFilter')
        return views.map((item, index) => {
          let configData = item.configData ? JSON.parse(item.configData) : (item.data?.configData ? item.data?.configData : CHART_DEFAULT_CONFIG[item.type].config)
          const { series = [], ...newConfigData } = configData; // 解析出: 系列+数据配置
          let indicatorData = newConfigData.indicatorData
          if (!indicatorData) {
            indicatorData = item.indicators && item.indicators.map(i => {
              return {
                title: i.title,
                id: i.id,
                type: i.type,
                thresholds: i.thresholds,
                showType: i.showType,
                selected: false,
                useCompare: true,
                useProportion: true,
                useThreshold: false
              }
            })
          } else {
            if (item.indicators) {
              indicatorData.forEach(cacheIndicator => {
                let dbIndicator = item.indicators.find(i => i.id == cacheIndicator.id)
                if (dbIndicator) {
                  // cacheIndicator.thresholds = dbIndicator.thresholds
                  cacheIndicator.showType = dbIndicator.showType
                  !newConfigData.hasOwnProperty('indNameChanged') ? cacheIndicator.title = dbIndicator.title : null
                  cacheIndicator.type = dbIndicator.type
                  cacheIndicator.name = dbIndicator.name
                }
              })
            }
          }
          if (maxHeight) {
            let totalHeight = item.height + item.y
            if (totalHeight > maxHeight) {
              this.containerHeightPreview = totalHeight
            }
          }
          // 如果设置了私有日期关联了公共日期需要根据当前公共日期重新计算私有日期
          if (newConfigData.isOpenPrivateDate && newConfigData.displayPrivateDate) {
            let { startDate, endDate } = getChartPrivateDate(newConfigData, periodType, globalStartDate, globalEndDate)
            item.startTime = startDate
            item.endTime = endDate
          }
          // 兼容处理：如果私有日期没有打开，历史图表对象里面有日期只则需重置掉20220429
          if (!newConfigData.displayPrivateDate && item.startTime) {
            item.startTime = null
            item.endTime = null
          }
          let parentId = ''
          for (let i = 0; i < mixFilterList.length; i++) {
            let configData = JSON.parse(mixFilterList[i].configData)
            if (configData.relativeFilterList && configData.relativeFilterList.includes(item.chartId)) {
              parentId = mixFilterList[i].chartId
            }
          }
          let childrenChartViewList
          if (item.childrenChartViewList) {
            // tab组件标签排序
            childrenChartViewList = item.childrenChartViewList.sort(
              (a, b) => a.idIndex - b.idIndex
            ).map(childrenChartItem => ({
              ...childrenChartItem,
              paneData: this.buildResultChart(childrenChartItem.paneData, maxHeight, globalStartDate, globalEndDate, periodType)
            }))
          }
          return {
            chartId: `${item.chartId ? item.chartId : item.type + '_' + item.id}`,
            parentId: parentId,
            id: item.type,
            x: item.x,
            y: item.y,
            level: item.chartLevel ? item.chartLevel : 100 + index,
            width: item.width,
            height: item.height,
            i: index,
            defaultImg: CHART_DEFAULT_CONFIG[item.type]?.hasOwnProperty('defaultImg') ? CHART_DEFAULT_CONFIG[item.type]?.defaultImg : null,
            data: {
              mode: 1,
              dimension: item.dimensions,
              series: supportSeriesCharts.includes(item.type) ? series : [],
              indicator: indicatorData || [],
              innerHtml: item.html,
              src: item.src,
              text: item.text,
              configData: newConfigData,
              startDate: item.startTime, // 私有日期
              endDate: item.endTime,
              dateRangeValue: [
                item.startTime ? new Date(item.startTime) : null,
                item.endTime ? new Date(item.endTime) : null,
              ]
            },
            childrenChartViewList,
            currentTab: item.currentTab || 0,
            style: JSON.parse(item.style),
            defaultShow: false,
            timer: new Date().getTime(),
          }
        })
      },

      /**
       *
       * 通知父组件，切换展示编辑态
       */
      toEdit() {
        if (this.chartLink) {
          // 重置图表联动
          this.clearChartLink()
        }
        this.resetChartDrillDown()
        this.$parent.changeToEdit({
          chartDataList: this.chartDataList,
          dateRange: this.dateRange,
          reportName: this.reportName,
          assetsGroupValue:this.assetsGroupValue,
          tagValue:this.tagValue,
          reportId: this.reportId,
          chartLink: this.chartLink
        })
      },

      isSplit(nodes, index, pageHeight) {
        const currentDom = nodes[index]
        const offsetTop = parseFloat(document.defaultView.getComputedStyle(currentDom, null).transform.substring(7).split(',')[5])
        const offsetHeight = currentDom.offsetHeight
        const nextDom = nodes[index + 1]
        if (nextDom) {
          const offsetTopNext = parseFloat(document.defaultView.getComputedStyle(nextDom, null).transform.substring(7).split(',')[5])
          const offsetHeightNext = nextDom.offsetHeight
          if (offsetTop + offsetHeight < pageHeight &&
            offsetTopNext + offsetHeightNext > pageHeight) {
            return true
          }
        }
        return false
      },

      setPdfPage() {
        let vm = this
        const A4_WIDTH = 592.28
        const A4_HEIGHT = 841.89
        vm.$nextTick(async () => {
          let target = document.getElementById('canvasContainer')
          let pageHeight = target.scrollWidth / A4_WIDTH * A4_HEIGHT
          let lableListID = document.getElementsByClassName('vdr')
          for (let i = 0; i < lableListID.length; i++) {
            const vdrDom = lableListID[i]
            const offsetTop = parseFloat(document.defaultView.getComputedStyle(vdrDom, null).transform.substring(7).split(',')[5]) // vdrDom.offsetTop
            // let multiple = Math.ceil((vdrDom.offsetTop + vdrDom.offsetHeight) / pageHeight)
            const offsetHeight = vdrDom.offsetHeight
            let multiple = Math.ceil((offsetTop + offsetHeight) / pageHeight)
            if (this.isSplit(lableListID, i, multiple * pageHeight)) {
              let divParent = lableListID[i].parentNode // 获取该div的父节点
              let newNode = document.createElement('div')
              newNode.style.background = '#ffffff'
              let _H = multiple * pageHeight - (offsetTop + offsetHeight)
              newNode.style.height = _H + 50 + 'px'
              let next = vdrDom.nextSibling // 获取div的下一个兄弟节点
              // 判断兄弟节点是否存在
              if (next) {
                // 存在则将新节点插入到div的下一个兄弟节点之前，即div之后
                divParent.insertBefore(newNode, next)
              } else {
                // 不存在则直接添加到最后,appendChild默认添加到divParent的最后
                divParent.appendChild(newNode)
              }
            }
          }
        })
      },

      createPdf() {
        let that = this
        // 滚动条会导致空白 导出时需置顶
        window.pageYOffset = 0
        document.documentElement.scrollTop = 0
        document.body.scrollTop = 0
        let reportCanvasDom = document.getElementById('canvasContainer')
        reportCanvasDom.scrollTop = 0
        const canvasDomHeight = reportCanvasDom.scrollHeight // + document.body.scrollHeight
        const canvasDomWidth = reportCanvasDom.offsetWidth
        // 清晰度优化:将canvas的属性width和height属性放大为2倍（或者设置为devicePixelRatio倍），最后将canvas的CSS样式width和height设置为原先1倍的大小。
        const c = document.createElement('canvas')

        const scale = 2
        c.width = canvasDomWidth * scale
        c.height = canvasDomHeight * scale
        let context = c.getContext('2d')
        context.scale(scale, scale)
        const opts = {
          scale, // window.devicePixelRatio
          logging: true,
          width: canvasDomWidth,
          height: canvasDomHeight,
          windowHeight: canvasDomHeight,
          // windowWidth:canvasDomWidth,
          taintTest: false,
          useCORS: true,  //允许canvas画布内 可以跨域请求外部链接图片, 允许跨域请求。
          // allowTaint: true,
          // dpi: window.devicePixelRatio * scale, // 将分辨率提高到特定的DPI(已废弃)
          // canvas: c,
        }
        const self = this
        setTimeout(() => {
          self.$Spin.show({
            render: (h) => {
              return h('div', [
                h('Icon', {
                  'class': 'demo-spin-icon-load',
                  props: {
                    type: 'ios-loading',
                    size: 18
                  }
                }),
                h('div', '正在导出')
              ])
            }
          })
          html2canvas(reportCanvasDom, opts).then(canvas => {
            // document.body.appendChild(canvas)
            let newContext = canvas.getContext('2d')
            newContext.mozImageSmoothingEnable = false
            newContext.webkitImageSmoothingEnable = false
            newContext.msImageSmoothingEnable = false
            newContext.imageSmoothingEnable = false

            let imgData = canvas.toDataURL('image/jpeg', 1.0)
            let img = new Image()
            img.src = imgData

            img.onload = function () {
              img.width = img.width / scale // 因为上面放大了2倍；生成img后/2
              img.height = img.height / scale
              img.style.transform = 'scale(0.5)'
              const orientation = this.width > this.height ? 'l' : 'p'
              const doc = new jsPDF(orientation, 'pt', [
                this.width * 0.555,
                this.height * 0.555
              ])
              doc.addImage(imgData, 'JPEG', 0, 0, this.width * 0.565, this.height * 0.545)
              self.$Spin.hide()
              // 文件名：报告名称 + 业务日期
              const startDate = self.dateRange.startDate.replaceAll('-', '')
              const endDate = self.dateRange.endDate.replaceAll('-', '')
              const displayDate = startDate === endDate ? startDate : `${startDate}~${endDate}`
              const reportName = `${that.reportName || '未命名报告'}${displayDate}`
              doc.save(reportName + '.pdf')
            }
            /***====================分页处理===================*/
          })
        }, 500)
      },

      exportFile() {
        // 处理分页截断情况：不依赖布局，给页面上的子元素添加标识, 根据动态计算子元素所在的高度计算出一个位置插入空白高度
        // this.setPdfPage()
        // 生成pdf
        this.createPdf()
      },

      // 刷新
      toRefresh() {
        this.$Modal.confirm({
          title: '确定要刷新当前报告吗',
          content: '',
          onOk: () => {
            if (!this.isCreatePage) {
              this.getReportTempDetail().then(() => {
                // 调取接口，时间更改后，刷新子组件内部的时间
                if (this.$refs.createReportCalendar) {
                  this.$refs.createReportCalendar.refreshCalendar()
                }
                if (this.$refs.previewReportCalendar) {
                  this.$refs.previewReportCalendar.refreshCalendar()
                }
              })
            }
            // 刷新时存在当前选中的组件，置为空
            if (this.$store.state.chart.currentSelectChart) {
              this.currentChart = null
              // 更新全局的chart
              const chart = null
              this.setCurrentSelectChart({ chart })
              this.propertyData = {
                mode: null,
                dimension: [],
                indicator: []
              }
            }
          }
        })
      },

      goBackList() {
        if (this.status === REPORT_STATUS.VIEW) {
          window.close()
        } else {
          this.toEdit()
        }
        localStorage.removeItem('indicatorTreeData')
      },

      /**
       *
       * @param startDate 公共日历开始日期
       * @param endDate 公共日历结束日期
       * @param periodType  周期类型
       */
      setDate(startDate, endDate, periodType, flag) {
        this.dateRange = {
          startDate: startDate,
          endDate: endDate,
          dateRangeOption: periodType
        }
        let reportDate = [
          startDate,
          endDate,
          this.needQuerySnapshot,
          periodType
        ]
        this.setReportDate({ reportDate })
        // 如果查看态，需要通过快照
        if (flag === undefined && this.needQuerySnapshot) {
          this.getReportTempDetail(startDate, endDate)
        }
      },

      // 改变预览类型
      changePreviewType(val) {
        this.previewType = val
        this.adjustPreviewScale()
      },

      // 调整预览缩放比例
      adjustPreviewScale() {
        let maxReportWidth = document.querySelector('.preview-report').offsetWidth - 48
        let maxReportHeight = document.querySelector('.preview-report').offsetHeight - 60 - 20
        let reportWidth = this.reportWidth
        let reportHeight = this.reportHeight
        if (this.previewAdapt) {
          // 自适应窗口
          let widthScale = Number(BigNumber(maxReportWidth).div(reportWidth).toFixed(2))
          let heightScale = Number(BigNumber(maxReportHeight).div(reportHeight).toFixed(2))
          this.previewScaleValue = Math.min(widthScale, heightScale)
        } else if (this.previewOrigin) {
          // 1:1原尺寸
          this.previewScaleValue = 1
        } else if (this.previewAdaptWidth) {
          // 自适应宽度
          this.previewScaleValue = Number(BigNumber(maxReportWidth).div(reportWidth).toFixed(2))
        }
      },
      // 重置联动
      resetChartLink() {
        const chartList = this.$store.state.chart.chartList.filter(item => item.data.configData.isSupportPassiveLink)
        chartList.forEach(item => {
          item.data.configData.conditionValue = ''
          item.data.configData.isMainLink = true
        })
        this.refreshCharts(chartList.map(item => item.chartId))
      },
      // 重置下钻
      resetChartDrillDown() {
        this.$children.forEach(item => {
          const chart = item.$refs.chart
          if (chart && chart.configData && chart.configData.isSupportDrillDown) {
            const chartConfigData = chart.configData
            if (chartConfigData.drillDownOption && chartConfigData.drillDownOption.opened) {
              chart.resetChartDrillDown && chart.resetChartDrillDown()
            }
          }
        })
      },
      /**
       * 图表联动
       * @param status：开：true；关：false
       */
      handleSwitchLink(status) {
        if (status) {
          this.handleChartLinkOpen()
        } else {
          this.handleChartLinkClose()
        }
      },
      handleDateTypeChange(value) {
        this.setReportDateType({dateType: value})
      },
      handleDataSourceChange(value) {
        this.setReportDataSource({dataSource: value})
      },
    }
  }
</script>
<style scoped>
  /** -------------------------------预览报告------------------------------- */
  .previewReport-container {
    width: 100%;
    height: 100%;
  }

  .preview-report-body {
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #ffffff;
  }

  .preview-report-body > .preview-title-calendar {
    text-align: left;
    height: 65px;
    padding-top: 4px;
    position: relative;
  }

  .preview-report .preview-title-calendar .preview-report-title {
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin-right: 20px;
    max-width: 210px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .preview-report .preview-title-calendar .previewReportCalendar >>> .report-calendar {
    left: 0;
  }

  .preview-report .preview-title-calendar {
    height: 100%;
    position: absolute;
    left: 240px;
    display: flex;
    align-items: center;
  }
</style>

<style lang="less" scoped>
  .preview-report {
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;

    .preview-report-header-new {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      background: #FFFFFF;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
      position: fixed;
      z-index: 999;

      .preview-report-header-new-left {
        display: flex;
        align-items: center;
        width: 240px;
        line-height: 60px;
        padding-left: 20px;

        > span {
          font-size: 18px;
          color: #16234A;
          font-weight: bold;
        }
      }

      .preview-report-header-new-right {
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .kkLabelIcon {
          margin: 0 10px;

          > span {
            font-size: 12px;
            color: #0A1124;
            margin-top: 2px;
          }

          .imgBox {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;
          }

          &:hover {
            .imgBox {
              background: #F8F8F8;
              border: 1px solid #E5E5E5;
              border-radius: 2px;
              cursor: pointer;
            }
          }
        }
      }
    }

    // 预览报告类型
    .preview-type {
      height: 100%;
      position: absolute;
      right: 240px;
      display: flex;
      align-items: center;

      .ivu-tooltip {
        margin-right: 10px;
      }

      .ivu-tooltip:not(.active) {
        .preview-type-img {
          display: block;
        }

        .preview-type-img-hover {
          display: none;
        }

        .preview-type-img-selected {
          display: none;
        }

        &:hover {
          .preview-type-img {
            display: none;
          }

          .preview-type-img-hover {
            display: block;
          }

          .preview-type-img-selected {
            display: none;
          }
        }
      }

      .ivu-tooltip.active {
        .preview-type-img {
          display: none;
        }

        .preview-type-img-hover {
          display: none;
        }

        .preview-type-img-selected {
          display: block;
        }
      }
      .link-switch{
        display: flex;
        height: 100%;
        align-items: center;
        margin-right: 40px;
      }
    }

    // 预览报告
    .preview-report-body {
      margin-top: 60px;

      .preview-report-body-canvas {
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 10px 24px;

        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }

        &::-webkit-scrollbar-track {
          background: none;
        }

        &::-webkit-scrollbar-thumb {
          background: #AFAFAF;
        }
      }
    }
    .searchBox {
      display: flex;
      align-items: center;
      margin-right: 24px;

      // 指标标签
      /deep/.assets-label {
        cursor: pointer;
        .select-wrapper {
          width: 100%;
          padding: 5px 22px 5px 14px;
          background: rgba(255, 255, 255, 0.03);
          border: 1px solid rgba(217, 217, 217, 1);
          border-radius: 4px;
          box-sizing: border-box;
          height: 32px;
          .selected-list {
            flex-wrap: nowrap;
            overflow-x: hidden;
            .list-item {
              margin-right: 10px;
              margin-bottom: 5px;
              height: 20px;
              flex: none;
            }
          }
          .ivu-icon {
            font-size: 14px;
            right: 8px;
            color: #808695;
          }
        }
        .search-input {
          width: 100%;
        }
      }
      /deep/.ivu-dropdown-rel {
        background: #ffffff;
      }
    }
  }
</style>

<style>
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
</style>
