<template>
  <Select
    class="fa-tree-select"
    ref="selectId"
    :value="val"
    aria-placeholder="请选择"
    :disabled="disabled"
    :clearable="clearable"
    :transfer="transfer"
    :transfer-class-name="transferName"
    @on-clear="handleClearSelect"
    @on-open-change="handleOpenChange">
    <Option class="fa-tree-select-option" :value="val">{{ val }}</Option>
    <Input
      class="search-input"
      search
      clearable
      placeholder="请输入搜索关键字"
      v-model="searchVal"
      @on-change="onSearchTree($event)"
      @on-clear="onSearchTree" />
      <big-tree :setting="bigTreeSetting"
                :nodes="bigTreeNodes"
                @onClick="onTreeNodeClick"
                @onCheck="onCheck"
                @onCreated="handleCreated"></big-tree>
  </Select>
</template>

<script>
import {deepCopy} from '@/utils/common'
import BigTree from '@/components/BigTree/ztree'
import {mapState} from "vuex";
import dataPropertyMixin from "@/view/report/indicator-browser/mixin/dataPropertyMixin";
import { getIndicatorTreeData } from '@/api/indicator'
export default {
  name: 'FaBigTreeSelect',
  mixins: [dataPropertyMixin],
  model: {
    prop: 'selectedVal',
    event: 'clearVal',
  },
  components: {
    BigTree
  },
  props: {
    selected: {
      default: '',
    },
    clearable: {
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    transfer: {
      type: Boolean,
      default: false
    },
    transferName: {
      type: String,
      default: ''
    },
    derived: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      val: '',
      selectedData: '',
      searchVal: '',
      treeDataSelf: [],
      bigTreeSetting: {
        check: {
          enable: false
        },
        data: {
          simpleData: {
            enable: true,
            pIdKey: "pid"
          }
        },
        view: {
          showIcon: true,
        },
      },
      bigTreeNodes: [],
      bigTreeNodesBak: [],
      bigTreeNodesBakF: [],
    }
  },
  computed: {
    ...mapState("earlyWarningTarget", ["allIndicator", "indicatorGroupList"]),
    getSelected() {
      return this.selected
    },
  },
  watch: {
    getSelected: {
      handler: function (n, o) {
        if (!n) this.val = ''
        this.checkData(this.allIndicator, true)
      },
      deep: true,
      immediate: true,
    },
    allIndicator (val) {
      if (val && val.length) {
        this.checkData()
        this.refreshGroupAndIndicatorTree()
      }
    },
  },
  mounted() {
    this.refreshGroupAndIndicatorTree()
  },
  methods: {
    /**
     * 回显
     * @param data
     * @param expandAll
     */
    checkData(data, expandAll) {
      if (data instanceof Array) {
        data.forEach(item => {
          if (this.selected == item.id) {
            this.$set(item, 'selected', true)
            this.val = item.title !== undefined ? item.title : item.name
            // this.selectedData = item
            return false
          }
          if (item.children && item.children.length) {
            this.checkData(item.children, expandAll)
          }
        })
      }
    },
    /**
     * 清空时取消选中
     */
    handleClearSelect() {
      //把值传回给父组件
      this.$emit('clearVal', '')
    },
    /**
     * 树搜索
     */
    onSearchTree(e) {
      let value = e && e.target ? e.target.value : e;
      if (value) {
        const filterTreeDataByName = _.filter(this.bigTreeNodesBak, item => item.name.indexOf(value) !== -1)
        const filterTreeDataByLabel = []
        let treeDataNew = Array.from(new Set(filterTreeDataByName.concat(filterTreeDataByLabel)))
        // 找出各自的父节点
        let ancestorNodes = this.findAncestorNodesByPid(treeDataNew, this.bigTreeNodesBak)
        treeDataNew = Array.from(new Set(treeDataNew.concat(ancestorNodes)))
        this.bigTreeNodes = treeDataNew
      } else {
        // this.$emit("searchIndicator", this.originTreeData);
        this.bigTreeNodes = deepCopy(this.bigTreeNodesBak)
      }
    },
    handleOpenChange(data) {
      if (!data) {
        this.searchVal = ''
        this.onSearchTree()
      }
    },
    onTreeNodeClick(evt, treeId, treeNode) {
      //不可选择组
      if (!treeNode.type) return
      this.val = treeNode.name
      // 下拉收起
      let select = this.$refs['selectId']
      if (select) {
        select.$el.getElementsByClassName('ivu-select-dropdown')[0].getElementsByClassName('ivu-select-item')[0].click()
      }
      //向上传递选中的节点
      this.$emit('changeVal', treeNode)
      //如果有搜索记录
      if (this.searchVal !== '') {
        this.searchVal = ''
        this.onSearchTree()
      }
    },
    onCheck(evt, treeId, treeNode) {
      // 选中事件
      console.log(evt.type, treeNode)
    },
    handleCreated(ztreeObj) {
      // onCreated 中操作ztreeObj对象展开第一个节点
      // ztreeObj.expandNode(ztreeObj.getNodes()[0], true)
      ztreeObj.expandAll(true)
    },
    async refreshGroupAndIndicatorTree() {
      const res = await getIndicatorTreeData()
      if (res.data.state === 'success') {
        const {indicatorGroupList, indicatorList} = res.data.data
        const groupNodeArr = indicatorGroupList.map(item => {
          return {
            id: item.id,
            name: item.name,
            pid: item.parentId,
            iconClose: require('@/assets/images/system/treePlusForManage.svg'),
            iconOpen: require('@/assets/images/system/treeMinusForManage.svg'),
          }
        })
        const indicatorNodeArr = indicatorList.map(item => {
          return {
            ...item,
            pid: item.groupId,
            icon: this.getIndicatorIcon(item.type),
          }
        })
        const rootNode = [{
          id: -1,
          name: '指标组',
          iconClose: require('@/assets/images/system/treePlusForManage.svg'),
          iconOpen: require('@/assets/images/system/treeMinusForManage.svg'),
        }]
        this.bigTreeNodes = [...rootNode, ...groupNodeArr, ...indicatorNodeArr]
        this.bigTreeNodesBak = deepCopy(this.bigTreeNodes)
        this.checkData(this.bigTreeNodes, true)
      } else {
        this.$Message.error('获取分组及指标失败')
      }
    },
    getIndicatorIcon(type) {
      let icon = null
      if (type === 1) { // 原子
        icon = require('@/assets/icons/indicatorIcon/icon_basic_indicator.svg')
      } else if (type === 2) { // 复合
        icon = require('@/assets/icons/indicatorIcon/icon_composite_indicator.svg')
      } else if (type === 3) { // 派生
        icon = require('@/assets/icons/indicatorIcon/icon_derivative_indicator.svg')
      } else if (type === 4) { // 外部
        icon = require('@/assets/icons/indicatorIcon/icon_out_indicator.svg')
      } else if (type === 5) { // 静态
        icon = require('@/assets/icons/indicatorIcon/icon_static_indicator.svg')
      }
      return icon
    },
  },
}
</script>
<style scoped lang="less">
.fa-tree-select {
  text-align: left;
  .fa-tree-select-option {
    display: none;
  }

  /deep/ .ivu-select-dropdown {
    overflow: auto;
    width: 280px;
    padding: 0 10px;
  }

  /deep/ .ivu-select-dropdown-list {
    padding-top: 42px;
  }

  .search-input {
    background: #fff;
    width: calc(~'100% - 20px');
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 1;
  }
}

/deep/ .treeContainer-fa-tree {
  padding: 0 14px 14px 14px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 152px;
}

/deep/ .ivu-tree {

  .ivu-tree-children::after {
    width: 10px;
  }

}

/deep/ .ivu-tree-arrow-open i {
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}

/deep/ .ivu-tree-arrow .ivu-icon-ios-arrow-forward:before {
  margin-top: 7px;
  content: url('~@/assets/images/system/treePlus.svg');
}

/deep/ .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
  content: url('~@/assets/images/system/treeMinus.svg');
}
.big-tree-wrap{
  height: 200px;
  overflow: auto;
}

</style>
