<template>
  <Select
    class="fa-tree-select"
    ref="selectId"
    :value="val"
    aria-placeholder="请选择"
    :disabled="disabled"
    :clearable="clearable"
    :transfer="transfer"
    :transfer-class-name="transferName"
    @on-clear="handleClearSelect"
    @on-open-change="handleOpenChange">
    <Option class="fa-tree-select-option" :value="val">{{ val }}</Option>
    <Input
      class="search-input"
      search
      clearable
      placeholder="请输入搜索关键字"
      v-model="searchVal"
      @on-change="onSearchTree"
      @on-clear="onSearchTree" />
    <Tree class="treeContainer-fa-tree" :data="treeDataSelf" :render="render" @on-select-change="handleChangeTreeNode" />
  </Select>
</template>

<script>
import { filterTree } from '@/utils/common'

export default {
  name: 'FaTreeSelect',
  model: {
    prop: 'selectedVal',
    event: 'clearVal',
  },
  props: {
    treeData: {
      default: () => [],
    },
    selected: {
      default: '',
    },
    selectParent: {
      default: true,
    },
    clearable: {
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    render: {
      type: Function,
    },
    transfer: {
      type: Boolean,
      default: false
    },
    transferName: {
      type: String,
      default: ''
    },
    expandAll: {
      type: Boolean,
      default: false
    },
  },
  data() {
    return {
      val: '',
      selectedData: '',
      searchVal: '',
      treeDataSelf: [],
    }
  },
  computed: {
    getSelected() {
      return this.selected
    },
  },
  watch: {
    getSelected: {
      handler: function (n, o) {
        if (!n) this.val = ''
        this.checkData(this.treeData, this.expandAll)
      },
      deep: true,
      immediate: true,
    },
    treeData (val) {
      if (val) {
        this.checkData(val, this.expandAll)
        this.treeDataSelf = val
      }
    },
  },
  mounted() {
    if (this.treeData.length) {
      this.treeDataSelf = [...this.treeData]
    }
  },
  methods: {
    /**
     * 树选中事件
     * @param nodes 选中的nodes Array
     * @param node 选中的node
     */
    handleChangeTreeNode(nodes, node) {
      //如果传不可选择组
      if (!this.selectParent && (node.children?.length || node.expand)) {
        node.selected = false
        return false
      }
      //给select赋值并使其选中
      if (node.hasOwnProperty('schema')) {
        this.val = node.title ? node.title : node.name
      } else {
        this.val = node.name !== undefined ? node.name : node.title
      }
      node.selected = true
      this.selectedData = node
      let select = this.$refs['selectId']
      if (select) {
        select.$el.getElementsByClassName('ivu-select-dropdown')[0].getElementsByClassName('ivu-select-item')[0].click()
      }
      //向上传递选中的节点
      this.$emit('changeVal', node)
      //如果有搜索记录
      if (this.searchVal !== '') {
        this.searchVal = ''
        this.onSearchTree()
      }
    },

    /**
     * 回显
     * @param data
     * @param expandAll
     */
    checkData(data, expandAll) {
      if (data instanceof Array) {
        data.forEach(item => {
          if (this.selected == item.id) {
            this.$set(item, 'selected', true)
            this.val = item.title !== undefined ? item.title : item.name
            this.selectedData = item
            return false
          }
          if (item.children && item.children.length) {
            if (expandAll) {
              this.$set(item, 'expand', expandAll)
            }
            this.checkData(item.children, expandAll)
          }
        })
      }
    },
    /**
     * 清空时取消选中
     */
    handleClearSelect() {
      //把值传回给父组件
      this.$emit('clearVal', '')
    },
    /**
     * 树搜索
     */
    onSearchTree() {
      if (this.searchVal) {
        this.treeDataSelf = filterTree(this.treeData, this.searchVal)
      } else {
        this.treeDataSelf = [...this.treeData]
      }
    },
    handleOpenChange(data) {
      if (!data) {
        this.searchVal = ''
        this.onSearchTree()
      }
    },
  },
}
</script>
<style scoped lang="less">
.fa-tree-select {
  text-align: left;

  .fa-tree-select-option {
    display: none;
  }

  /deep/ .ivu-select-dropdown {
    overflow: visible;
    width: 250px;
  }

  /deep/ .ivu-select-dropdown-list {
    padding-top: 42px;
  }

  .search-input {
    background: #fff;
    width: calc(~'100% - 20px');
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 1;
  }
}

/deep/ .treeContainer-fa-tree {
  padding: 0 14px 14px 14px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 152px;
}

/deep/ .ivu-tree {

  .ivu-tree-children::after {
    width: 10px;
  }

}

/deep/ .ivu-tree-arrow-open i {
  -webkit-transform: rotate(0deg) !important;
  transform: rotate(0deg) !important;
}

/deep/ .ivu-tree-arrow .ivu-icon-ios-arrow-forward:before {
  margin-top: 7px;
  content: url('~@/assets/images/system/treePlus.svg');
}

/deep/ .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
  content: url('~@/assets/images/system/treeMinus.svg');
}

</style>
