<template>
  <div>
    <Select ref="selectId" :value="val" aria-placeholder="请选择" style="text-align: left" :clearable="clearable"
            @on-clear="handleClearSelect" @on-open-change="handleOpenChange">
      <Option :value="val" style="display: none">{{ val }}</Option>
      <Row>
        <Col span="10" style="padding: 12px; height: 100%" v-show="showLeft">
          <ul>
            <li
              v-for="(item,index) in dataSource"
              :key="index"
              class="treeSelect_leftBtn"
              :class="item.id===item.selId?'activeOriginal':''"
              @click="(e)=>handleChooseOriginalData(e,item)"
            >
              <span class="treeSelect_leftBtn_text">{{item.name}}</span>
              <Icon type="ios-arrow-forward"/>
            </li>
          </ul>
        </Col>
        <Col :class="!showLeft? 'absoluteTag' : 'relativeTag'">
          <div class="showLeftSide" @click="handleShowLeftSide">
            <div class="showLeftIcon">{{showLeft ? '=' : '='}}</div>
          </div>
        </Col>
        <Col span="14" style=" border-left: 1px solid #eaeaea">
          <Tree :data="treeDataSelf" class="treeContainer-fa-tree" :render="treeRender" @on-select-change="handleChangeTreeNode" />
        </Col>
      </Row>
    </Select>
  </div>
</template>

<script>
  import { filterTree } from '@/utils/common'

  export default {
    name: 'FaTreeSelect',
    model: {
      prop: 'selectedVal',
      event: 'clearVal'
    },
    props: {
      dataSource: {
        default: () => []
      },
      treeData: {
        default: () => []
      },
      selected: {
        default: ''
      },
      selectParent: {
        default: true
      },
      clearable: {
        default: false
      },
    },
    data() {
      return {
        val: '',
        selectedData: '',
        searchVal: '',
        treeDataSelf: [],
        showLeft: true,
        selectDataSource: {} // 当前选中的数据源
      }
    },
    computed: {
      getSelected() {
        return this.selected
      }
    },
    watch: {
      dataSource: {
        handler: function (n, o) {
          if (!this.selected) {
            const item = n[0]
            this.selectDataSource = item//当前选中得数据源
            this.selectDataSource.selId = item.selId = item.id//当前选中得数据源
          }
        }
      },
      getSelected: {
        handler: function () {
          if (this.selected === '') {
            this.val = ''
            if (this.selectedData) {
              this.selectedData.selected = false
            }
          } else {
            this.recoverDeSelectedDataSourceAndTable(this.dataSource, this.selected)
            this.checkData(this.treeData, true)
          }

        },
        deep: true,
        immediate: true
      },
      treeData: {
        handler: function (val) {
          if (val) {
            this.treeDataSelf = [...val]
          }
        },
        deep: true
      },
    },
    mounted() {
      this.selectDataSource = void 0
      if (this.treeData.length) {
        this.treeDataSelf = [...this.treeData]
      }
    },
    methods: {
      findSelectedTable(list, selectId) {
        if (!list || !list.length) return
        const len = list.length
        for (let i = 0; i < len; i++) {
          const item = list[i]
          if (item.children && item.children.length) {
            const result = this.findSelectedTable(item.children, selectId)
            if (result) return result
          } else if (item.id == selectId) {
            return item
          }
        }
      },

      recoverDeSelectedDataSourceAndTable(source, selectId) {
        const len = source.length
        for (let i = 0; i < len; i++) {
          const item = source[i]
          const dataSourceDomain = item.dataSourceDomain
          if (!dataSourceDomain) continue
          for (const key in dataSourceDomain) {
            const result = this.findSelectedTable(dataSourceDomain[key], selectId)
            if (result) {
              this.selectDataSource = item
              this.selectDataSource.selId = item.selId = item.id
              return { dataSource: item, table: result }
            }
          }
        }
      },

      handleShowLeftSide() {
        this.showLeft = !this.showLeft
      },

      handleChooseOriginalData(e, item) {
        if (this.selectDataSource !== item) {
          if (this.selectDataSource) {
            this.selectDataSource.selId = ''
          }
          item.selId = item.id
          this.$emit('changeDataSource', item, e)
        }
        this.selectDataSource = item
      },
      /**
       * 树选中事件
       * @param nodes 选中的nodes Array
       * @param node 选中的node
       */
      handleChangeTreeNode(nodes, node) {
        //如果传不可选择组
        if (this.selectParent === false && (node.hasOwnProperty('children') || node.hasOwnProperty('expand'))) {
          node.selected = false
          return false
        }
        if (this.selectedData) {
          this.selectedData.selected = false
        }
        if (this.selectDataSource === undefined) {
          const table = this.recoverDeSelectedDataSourceAndTable(this.dataSource, node.id)
          if (table === undefined) this.selectDataSource = {}
        }
        //给select赋值并使其选中
        this.val = this.selectDataSource.name + '/' + node.label || node.name
        this.selectedData = node
        let select = this.$refs['selectId']
        if (select) {
          select.$el.getElementsByClassName('ivu-select-dropdown')[0].getElementsByClassName('ivu-select-item')[0].click()
        }
        //向上传递选中的节点
        this.$emit('changeVal', node, this.selectDataSource)
        //如果有搜索记录
        if (this.searchVal !== '') {
          this.searchVal = ''
          this.onSearchTree()
        }
      },
      /**
       * 回显
       * @param data
       * @param expandAll
       */
      checkData(data, expandAll) {
        if (data instanceof Array) {
          data.forEach(item => {
            if (!this.val && this.selected && this.selected == item.id) {
              this.$set(item, 'selected', true)
              this.val = this.selectDataSource.name + '/' + item.label || item.name
              this.selectedData = item
            }
            if (item && item.children && item.children.length) {
              if (expandAll) {
                this.$set(item, 'expand', true)
                this.checkData(item.children, true)
              }
            }
          })
        }
      },
      /**
       * 清空时取消选中
       */
      handleClearSelect() {
        this.selectedData.selected = false
        //把值传回给父组件
        this.$emit('clearVal', '')
      },
      treeRender(h, { root, node, data }) {
        let dataType = data.dataType
        return h('span', [
          h('div', {
            class: 'table-mousehover',
            style: {
              display: 'flex',
              justifyContent: 'flex-start',
              alignItems: 'center',
            },
            attrs: {
              title: data.label + ( data.name && data.label ? '-' : '') + data.name
            }
          }, dataType && dataType === 'node' ? [
            h('img', { class: data.dataKey === 'originTableList' ? 'originalIcon' : data.dataKey === 'datasetTableList' ? 'datasetIcon' : 'accessoryIcon' }, '数据表'),
            h('span', data.label),
            h('span', {
              class: data.selected ? 'table-name-tree' : 'table-name-tree table-name-selected',
            }, ( data.name && data.label ? '-' : '') + data.name),
          ] : data.title)
        ])
      },

      /**
       * 树搜索
       */
      onSearchTree() {
        if (this.searchVal) {
          this.treeDataSelf = filterTree(this.treeData, this.searchVal)
        } else {
          this.treeDataSelf = [...this.treeData]
        }
      },
      handleOpenChange(data) {
        if (!data) {
          this.searchVal = ''
          this.onSearchTree()
        }
      }
    }
  }
</script>

<style scoped lang="less">
  /deep/ .table-mousehover:hover {
    color: #3f73ff !important;
  }

  /deep/ .table-mousehover:hover > .table-name-tree {
    color: #3f73ff !important;
  }

  /deep/ .table-name-selected {
    // color: #999 !important;
  }

  @import url('~@/styles/tree.less');

  /deep/ .ivu-tree ul li ul li .ivu-icon-ios-arrow-forward:before {
    background: none;
  }

  /deep/ .ivu-tree ul li ul li .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
    background: none;
  }

  /deep/ .ivu-tree ul li ul li .ivu-tree-arrow .ivu-icon-ios-arrow-forward:before {
    content: url('~@/assets/icons/tree/plusForOriginalTree.svg');
    margin-right: 6px;
  }

  /deep/ .ivu-tree ul li ul li .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
    content: url('~@/assets/icons/tree/minusForOriginalTree.svg');
    margin-right: 6px;
  }

  /deep/ .treeContainer-fa-tree {
    padding: 14px;
    width: 400px;
  }

  /deep/ .ivu-select-dropdown {
    max-height: 95% !important;
    height: 95%;
  }

  .treeSelect_leftBtn {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9px;
    border-radius: 4px;
    margin-bottom: 2px;
    background: white;
    color: #333;
    cursor: pointer;
    .treeSelect_leftBtn_text{
      font-size: 12px;
      width: 100%;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    /deep/ .ivu-icon {
      color: #d9d9d9
    }
  }

  .treeSelect_leftBtn:hover {
    color: #3f73ff;
    background: #F0F5FF;

    /deep/ .ivu-icon {
      color: #3f73ff
    }
  }

  .activeOriginal {
    color: #3f73ff;
    background: #F0F5FF;

    /deep/ .ivu-icon {
      color: #3f73ff
    }
  }

  /deep/ .ivu-tree .ivu-tree-title-selected, .ivu-tree .ivu-tree-title-selected:hover {
    color: #3f73ff;
  }

  /deep/ .ivu-tree-title {
    .originalIcon,
    .datasetIcon,
    .accessoryIcon {
      vertical-align: middle;
      margin-right: 5px;
    }

    .originalIcon {
      content: url("~@/assets/icons/tree/originalTable.svg");
    }

    .datasetIcon {
      content: url("~@/assets/icons/tree/datasetTable.svg");
    }

    .accessoryIcon {
      content: url("~@/assets/icons/tree/accessoryTable.svg");
    }

  }

  /deep/ .showLeftSide {
    width: 18px;
    height: 40px;
    background: #F0F5FF;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
  }

  /deep/ .showLeftIcon {
    transform: rotate(90deg);
  }

  /deep/ .absoluteTag {
    position: absolute;
    top: 300px;
    z-index: 999999999;
  }

  /deep/ .relativeTag {
    position: absolute;
    top: 300px;
    z-index: 999999999;
    left: 42%;
  }


</style>
