<template>
  <div style="display: inline-block">
    <Modal
      v-model="showModal" title="资源授权" :width="400" :height="400"
      @on-ok="ok">
      <Tree :data="authorizeMenuTree" show-checkbox multiple ref="menuTree"></Tree>
    </Modal>
  </div>
</template>

<script>
  import {getAuthorizeMenuTree, grantedMenu} from "../../../api/systemManagement/system";

  export default {
    name: "Authorize",
    data() {
      return {
        showModal: false,
        authorizeMenuTree: []
      }
    },
    methods: {
      show(params) {
        this.showModal = true;
        this.id = params.id;
        getAuthorizeMenuTree(params.id).then(res => {
          this.authorizeMenuTree = res.data
        });
      },
      ok() {
        let checkedAndNodes = this.$refs.menuTree.getCheckedAndIndeterminateNodes();
        if (checkedAndNodes && checkedAndNodes.length > 0) {
          let menuIds = [];
          checkedAndNodes.forEach(item => {
            menuIds.push(item.id);
          })
          let postData = {
            roleId: this.id,
            resourceIds: menuIds
          }
          grantedMenu(postData).then(res => {
            if (res.data.state === 'success') {
              this.$Message.success('操作成功')
            }
          })
        }
      }
    }
  }
</script>

<style scoped>

</style>
