<template>
  <div style="display: inline-block">
    <Modal v-model="showModal" :title="title" :width="400">
      <p slot="header">
        <span>{{title}}</span>
      </p>
      <Form v-if="showModal" class="menu-form" :model="role" ref="form" :rules="rules" :label-width="80">
        <FormItem label="角色分类" prop="groupId">
          <Select v-model="role.groupId" style="width: 80%">
            <Option v-for="item in roleTypeList" :value="item.id" :key="item.id">{{ item.name }}</Option>
          </Select>
        </FormItem>
        <FormItem label="角色名称" prop="name">
          <Input id="name" v-model.trim="role.name" :maxlength="15" clearable placeholder="请输入角色名" style="width: 80%" />
        </FormItem>
        <FormItem label="角色描述" prop="description">
          <Input v-model="role.description" clearable maxlength="50" show-word-limit type="textarea" placeholder="请输入角色描述" style="width: 80%" />
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="cancel">取消</Button>
        <Button type="primary" @click="ok">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import { createRole, updateRole } from '@/api/systemManagement/roleManagement'
import moment from 'moment'
import { deepCopy } from '../../../utils/common'
export default {
  name: "RoleAddOrUpdate",
  props: {
    groupId: Number,
    roleTypeList: Array,
  },
  data() {
    return {
      rules: {
        groupId: [{ type: 'number', required: true, message: "请选择角色分类", trigger: "change" }],
        name: [{ required: true, message: "请填写角色名称", trigger: "blur" }],
        description: [
          { required: true, message: "请填写角色描述", trigger: "blur" },
        ],
      },
      roleList:[],
      showModal: false,
      title: "",
      role: {
        id: "",
        groupId: "", //角色分类
        description: "", //角色描述
        name: "",
      },
    };
  },
  created() {
    console.log(this.roleTypeList, 'typeList')
  },
  methods: {
    show(params) {
      if (params instanceof MouseEvent) {
        this.title = "新增角色";
        this.role.id = null;
        this.role.name = "";
        this.role.groupId = this.groupId;
        this.role.description = "";
      } else {
        this.role = deepCopy(params);
        this.title = "编辑角色";
      }
      this.showModal = true;
    },
    ok() {
      this.$refs['form'].validate(async (valid) => {
        if(valid) {
          let params = {
            groupId: this.role.groupId,
            name: this.role.name,
            description: this.role.description,
          }
          let request
          if (this.role.id) {
            // 更新
            params.id = this.role.id
            request = updateRole
          } else {
            // 新增
            request = createRole
          }
          const res = await request(params)
          if (res.data.state === 'success') {
            this.$emit('refreshRole')
            this.$Message.success(this.role.id ? '修改成功' : '新建成功')
            this.showModal = false
          } else {
            if(res.data.state === 'error'){
              this.$Message.error(res.data.message)
            }else{
              this.$Message.error(this.id ? '修改失败' : '新建失败')
            }
          }
        }
      })
    },
    cancel() {
      this.showModal = false
    },
  },
};
</script>

<style scoped>
/deep/.ivu-modal-content {
  border-radius: 8px;
}
/deep/.ivu-modal-header {
  border-radius: 8px 8px 0 0;
  padding: 14px 24px;
}
/deep/.ivu-modal-header p{
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #333333;
  height: 20px;
  line-height: 20px;
}
/deep/.ivu-modal-close .ivu-icon-ios-close{
  color: #333333;
}
/deep/.ivu-modal .ivu-btn{
  width: 72px;
  border-radius: 2px;
}
/deep/.ivu-modal .ivu-btn.ivu-btn-primary{
  background-color: #3F73FF;
  border-color: #3F73FF;
}
/* textarea加高 */
/deep/ .menu-form textarea.ivu-input{
  min-height: 100px;
  font-size: 12px;
}
</style>
