<template>
  <div class="both">
    <Container class="center">
      <div class="title">
        <div class="boxTitle">全部角色</div>
        <Dropdown>
          <Button class="addBtn" size='small' icon="md-add" type="primary" ghost
                  v-allow="[1097044487832582]">新增
          </Button>
          <DropdownMenu slot="list">
            <DropdownItem>
              <div @click="saveOrUpdate">
                新增角色
              </div>
            </DropdownItem>
            <DropdownItem>
              <div @click="saveOrUpdateGroup">
                新增分组
              </div>
            </DropdownItem>
          </DropdownMenu>
        </Dropdown>
      </div>
      <Tree class="custom-tree" :data="roleTreeData" ref="tree" :render="renderContent"
            @on-select-change="onSelectRoleChange"></Tree>
    </Container>
    <div
      style="width: 80%;height: 100%;overflow: auto;border-left: 1px solid #ececec;padding: 24px;border-radius: 2px;background-color: #fff;">
      <div class="boxTitle" style="margin-bottom: 24px;">人员信息</div>
      <div class="right">
        <div class="rightSearch">
          <div style="display: inline-block" v-allow="[1097044487832581]">
            <span>员工：</span>
            <Input class="mr" v-model="searchUserName" placeholder="请输入用户名/昵称" style="width:160px" clearable/>
            <Button class="buttonClass mr" type="primary" :disabled="buttonDisabled" @click="search()">
              <img src="@/assets/images/system/buttonSearch.svg"/>
              查询
            </Button>
          </div>
          <Button class="buttonClass mr" type="error" :disabled="buttonDisabled || unbindbuttonDisabled" ghost
                  @click="unbindUser" v-allow="[1097044487832584]">
            解绑
          </Button>
          <Button class="buttonClass" type="primary" :disabled="buttonDisabled" @click="emPower"
                  v-allow="[1097044487832583]">绑定
          </Button>
          <RoleAddOrUpdate ref="saveOrUpdateRole" :groupId="currentNodeGroupId" :role-type-list="roleTypeList"
                           @refreshRole="getRoleList"/>
          <RoleGroupAddOrUpdate ref="saveOrUpdateRoleGroup" :groupId="currentNodeGroupId" :role-type-list="roleTypeList"
                           @refreshRoleGroup="getRoleList"/>
          <Authorize ref="authorizeMenu"/>
        </div>
      </div>
      <Table :columns="roleColumns" ref="userListTable" :data="userList" class="mb10"
             @on-select="onSelectUserList"
             @on-select-cancel="onCancelUserList"
             @on-select-all="onSelectUserAll"
             @on-select-all-cancel="onSelectUserAll"></Table>
      <div class="prb" style="margin-bottom: 12px;">
        <Page class="pageClass" v-if="formPage.total > 0" :total="formPage.total" show-elevator show-sizer
              @on-change="changePage"
              @on-page-size-change="changeSize"/>
      </div>
    </div>
    <Modal v-model="emPowerModal" title="未赋权用户" :mask-closable="false"
    >
      <div class="mb10">
        <Input v-model="unAuthorizedSearchVal" search clearable placeholder="请输入内容" style="width: 100%"
               @on-change="watchUnAnthorizedValChange($event)"
               @on-search="unAuthorizedSearch"/>
      </div>
      <Table
        class="mb10"
        ref="unAuthorizedTable"
        max-height="300"
        :columns="columnsData"
        :data="unAuthorizedData"
        @on-select="onSelectUnAuthorized"
        @on-select-cancel="onCancelUnAuthorized"
        @on-select-all="onSelectUnAuthorizedAll"
        @on-select-all-cancel="onSelectUnAuthorizedAll"></Table>
      <!--  分页  -->
      <div v-if="emPowerModal" class="prb">
        <Page class="pageClass" v-if="emPowerformPage.total > 0" :total="emPowerformPage.total" show-elevator
              @on-change="emPowerformPageChangePage"/>
      </div>
      <div slot="footer">
        <Button type="text" @click="() => { this.emPowerModal = false }">取消</Button>
        <Button type="primary" @click="emPowerOk">确定</Button>
      </div>
    </Modal>
    <Modal v-model="userModal" class="userModal" title="切换角色" :mask-closable="false">
      <Form :model="userForm" :label-width="100" label-colon>
        <FormItem label="用户名" prop="username">
          <Input v-model="userForm.name" disabled style="width: 80%"/>
        </FormItem>
        <FormItem label="昵称" prop="nickname">
          <Input v-model="userForm.nickname" disabled style="width: 80%"/>
        </FormItem>
        <FormItem label="手机号" prop="mobile">
          <Input v-model="userForm.mobile" disabled style="width: 80%"/>
        </FormItem>
        <FormItem label="邮箱" prop="email">
          <Input v-model="userForm.email" disabled style="width: 80%"/>
        </FormItem>
        <FormItem label="当前角色" prop="roleId">
          <Select v-model="userForm.roleId" multiple style="width: 80%">
            <OptionGroup v-for="item in roleOptionList" :label="item.name" :key="item.id">
              <Option v-for="item1 in item.children" :value="item1.id" :key="item1.id">{{ item1.name }}</Option>
            </OptionGroup>
          </Select>
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="() => this.userModal = false">取消</Button>
        <Button type="primary" @click="changeUserRole">确定</Button>
      </div>
    </Modal>
    <Modal v-model="deleteConfirmModal" :width="416" class="deleteConfirmModal" title="删除角色" :mask-closable="false">
      <div style="margin-left: 30px;">
        确定要删除角色【{{deletItem.name}}】吗?
      </div>
      <div slot="footer">
        <Button type="text" @click="() => this.deleteConfirmModal = false">取消</Button>
        <Button type="primary" @click="removeConfirm(deletItem)">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
  import Container from '../Container'
  import RoleAddOrUpdate from './RoleAddOrUpdate'
  import RoleGroupAddOrUpdate from './RoleGroupAddOrUpdate.vue'
  import {
    bindUser,
    deleteRole,
    deleteRoleGroup,
    getBindUserByRoleId,
    getUnbindUserByRoleId,
    unbindUser,
    deleteRoleCheck
  } from '@/api/systemManagement/roleManagement'
  import { getAuthRole } from '@/api/systemManagement/authorizationManagement'
  import { updateUserRole } from '@/api/systemManagement/userManagement'
  import Authorize from './Authorize'
  import { debounce } from '@/utils/common'
  import { buildTreeRole, getFirstNode } from '@/libs/util'
  import { deepCopy } from '../../../utils/common'
  import { mapActions } from 'vuex'

  export default {
    components: { Authorize, Container, RoleAddOrUpdate, RoleGroupAddOrUpdate },
    data() {
      return {
        searchUserName: '',
        roleColumns: [
          {
            type: 'selection',
            width: 60,
            align: 'center',
          },
          {
            title: '用户名',
            key: 'name',
          },
          {
            title: '昵称',
            key: 'nickname',
          },
          {
            title: '主属部门',
            key: 'deptName',
            render: (h, { row }) => {
              return h('span', {
                attrs: {
                  title: `${row.belongToDept[0].name}`,
                },
              }, row.belongToDept[0].name)
            },
          },
          {
            title: '手机号',
            key: 'mobile',
            render: (h, { row }) => {
              return h('span', {
                attrs: {
                  title: `${row.mobile}`,
                },
              }, row.mobile)
            },
          },
          {
            title: '邮箱',
            key: 'email',
            render: (h, { row }) => {
              return h('span', {
                attrs: {
                  title: `${row.email}`,
                },
              }, row.email)
            },
          },
          {
            title: '操作',
            key: 'action',
            align: 'center',
            render: (h, params) => {
              return h('div',
                {
                  style: {
                    display: 'inline-block',
                  },
                  on: {
                    click: () => {
                      this.userModal = true
                      this.userForm = JSON.parse(JSON.stringify(params.row))
                      this.userForm.roleId = params.row.role.map(item => item.id)
                    },
                  },
                },
                [
                  h(
                    // 默认角色不支持修改
                    params.row.id === 1 ? '' : 'img',
                    {
                      attrs: {
                        src: require('@/assets/images/system/tableButtonEdit.svg'),
                      },
                      style: {
                        verticalAlign: 'middle',
                      },
                      directives: [
                        {
                          name: 'allow',
                          value: [1097044487832586],
                        },
                      ],
                    },
                  ),
                ])
            },
          },
        ],
        roleTreeData: [],
        roleOptionList: [], // 角色选项列表
        currentNode: {},
        currentNodeGroupId: null,
        // 分页存储
        formPage: {
          page: 1,
          size: 10,
          total: 0,
        },
        emPowerformPage: {
          page: 1,
          size: 10,
          total: 0,
        },
        userList: [],
        selectUserIds: new Set(),
        unbindbuttonDisabled: true,
        buttonDisabled: true,
        emPowerModal: false,
        columnsData: [
          {
            type: 'selection',
            width: 60,
            align: 'center',
          },
          {
            title: '用户名',
            key: 'name',
          },
          {
            title: '昵称',
            key: 'nickname',
          },
        ],
        unAuthorizedSearchVal: '',
        unAuthorizedData: [],
        selectUnAuthorizedIds: new Set(),
        userModal: false,
        userForm: {},
        roleTypeList: [],
        deleteConfirmModal: false,
        deletItem: {}
      }
    },
    created() {
      this.getRoleList()
    },
    methods: {
      ...mapActions("role", ["fetchRoleTree"]),
      unbindUser() {
        const title = '确认解绑吗？'
        const content = '<p>解绑后不可撤销</p>'
        this.$Modal.confirm({
          title: title,
          content: content,
          cancelText: '取消',
          onOk: async () => {
            let params = {
              roleId: this.currentNode.id,
              userIds: Array.from(this.selectUserIds),
            }
            const res = await unbindUser(params)
            if (res.data.state === 'success') {
              this.$Message.success('解绑成功')
              this.formPage.page = 1
              this.formPage.size = 10
              await this.getBindUserList()
            } else {
              this.$Message.error('解绑失败')
            }
          },
        })
      },

      /**
       * 是否是系统管理员/普通角色（系统默认角色）
       * @param id
       * @returns {boolean}
       */
      isSystemOrDefaultRole(id) {
        return id === 8 || id === 1196040153728000
      },
      isDefaultRoleGroup(id) {
        return id === 1 || id === 2 || id === -1
      },

      renderContent(h, { root, node, data }) {
        return h('div', {
          class: 'common-wrap',
          style: {
            height: '32px',
          },
        }, [
          h('span',
            {
              style: {
                display: 'inline-block',
                width: 'calc(100% - 48px)',
                height: '32px',
                lineHeight: '32px',
                overflow: 'hidden',
                textOverflow: 'ellipsis',
                whiteSpace: 'nowrap',
              },
              attrs: {
                title: `${data.name}`,
              },
            }, data.name),
          h(
            `${data.type === 'item' && !this.isSystemOrDefaultRole(data.id) ? 'div' : ''}`, {
              class: 'btnNone btnDelete',
              style: {
                display: 'none',
                float: 'right',
                width: '16px',
                height: '16px',
                verticalAlign: 'middle',
                marginLeft: '8px',
                marginTop: '8px',
              },
              on: {
                click: (e) => {
                  e.stopPropagation()
                  this.remove(data)
                },
              },
              directives: [
                {
                  name: 'allow',
                  value: [1097044487832587],
                },
              ],
            },
          ),
          h(
            `${data.type === 'item' && !this.isSystemOrDefaultRole(data.id) ? 'div' : ''}`, {
              class: 'btnNone btnEdit',
              style: {
                display: 'none',
                float: 'right',
                width: '16px',
                height: '16px',
                verticalAlign: 'middle',
                marginTop: '8px',
              },
              on: {
                click: (e) => {
                  e.stopPropagation()
                  this.saveOrUpdate(data)
                },
              },
              directives: [
                {
                  name: 'allow',
                  value: [1097044487832585],
                },
              ],
            },
          ),
          // 分组可以修改和删除
          h(
            `${data.type === 'group' && !this.isDefaultRoleGroup(data.id) ? 'div' : ''}`, {
              class: 'btnNone btnDeleteGroup',
              style: {
                display: 'none',
                float: 'right',
                width: '16px',
                height: '16px',
                verticalAlign: 'middle',
                marginLeft: '8px',
                marginTop: '8px',
              },
              on: {
                click: (e) => {
                  e.stopPropagation()
                  this.removeGroup(data)
                },
              },
              directives: [
                {
                  name: 'allow',
                  value: [1097044487832587],
                },
              ],
            },
          ),
          h(
            `${data.type === 'group' && !this.isDefaultRoleGroup(data.id) ? 'div' : ''}`, {
              class: 'btnNone btnEditGroup',
              style: {
                display: 'none',
                float: 'right',
                width: '16px',
                height: '16px',
                verticalAlign: 'middle',
                marginTop: '8px',
              },
              on: {
                click: (e) => {
                  e.stopPropagation()
                  this.saveOrUpdateGroup(data)
                },
              },
              directives: [
                {
                  name: 'allow',
                  value: [1097044487832585],
                },
              ],
            },
          ),
        ])
      },

      /**
       * 获取角色列表
       */
      async getRoleList() {
        const res = await getAuthRole()
        if (res.data.state === 'success') {
          const { roleGroup, roleList } = res.data.data
          this.roleTypeList = roleGroup.map(item => ({ ...item, id: Number(item.id) }))
          // 全部列表，包含根节点
          let list = [
            ...roleGroup.map(item => ({
              ...item,
              parentId: -1,
              type: 'group',
              id: Number(item.id),
              expand: true,
              selected: false
            })),
            ...roleList.map(item => ({
              ...item,
              parentId: item.groupId,
              type: 'item',
              id: Number(item.id),
              expand: true,
              selected: false
            })),
          ]
          this.roleOptionList = buildTreeRole(list, -1, false)
          this.roleTreeData = buildTreeRole(list, -1, false)
          this.currentNode = getFirstNode(this.roleTreeData)
          this.currentNodeGroupId = this.currentNode.groupId
          this.currentNode.selected = true
          await this.getBindUserList()
          // 刷新store中的缓存
          this.fetchRoleTree()
        } else {
          this.$Message.error('获取角色列表失败！')
        }
      },

      saveOrUpdate(row) {
        this.$refs.saveOrUpdateRole.show(row)
      },
      show(row) {
        this.$refs.authorizeMenu.show(row.row)
      },
      // 点击左侧角色菜单的某一项
      onSelectRoleChange(selectNodes, currentNode) {
        if(currentNode.type === 'group'){
          return
        }
        if (currentNode.id === this.currentNode.id) {
          currentNode.selected = true
          return
        }
        let id = currentNode.id
        this.userList = []
        this.selectUserIds.clear()
        this.searchUserName = ''
        if (id != null) {
          this.currentNode = deepCopy(currentNode)
          this.currentNodeGroupId = this.currentNode.groupId
          this.formPage.page = 1
          this.formPage.size = 10
          this.getBindUserList()
        }
      },
      // 点击查询按钮
      search() {
        this.selectUserIds.clear()
        this.formPage.page = 1
        this.formPage.size = 10
        this.getBindUserList()
      },

      /**
       * 查询角色下的已绑定用户列表
       * @returns {Promise<void>}
       */
      async getBindUserList() {
        let params = {
          roleId: this.currentNode.id,
          pageNum: this.formPage.page,
          pageSize: this.formPage.size,
        }
        if (this.searchUserName) {
          params.username = this.searchUserName
        }
        const res = await getBindUserByRoleId(params)
        if (res.data.state === 'success') {
          let userList = res.data.data.data
          this.buttonDisabled = false
          this.unbindbuttonDisabled = true
          userList.forEach(item => {
            if (this.selectUserIds.has(item.id)) {
              item._checked = true
            }
          })
          this.userList = userList
          // 若不存在编辑(切换角色)按钮,则去掉操作列
          if (!this.getBtnAllow([1097044487832586])) {
            this.roleColumns = this.roleColumns.filter(col => col.title !== '操作')
          }
          this.formPage.total = res.data.data.count
        }
      },
      onSelectUserList(data, row) {
        this.selectUserIds.add(row.id)
        this.unbindbuttonDisabled = Array.from(this.selectUserIds).length === 0
      },
      onCancelUserList(data, row) {
        this.selectUserIds.delete(row.id)
        this.unbindbuttonDisabled = Array.from(this.selectUserIds).length === 0
      },
      onSelectUserAll(selection) {
        if (selection.length === 0) {
          // 取消全选
          let data = this.$refs['userListTable'].data
          data.forEach((item) => {
            if (this.selectUserIds.has(item.id)) {
              this.selectUserIds.delete(item.id)
            }
          })
        } else {
          // 勾选全选
          selection.forEach(item => {
            this.selectUserIds.add(item.id)
          })
        }
        this.unbindbuttonDisabled = Array.from(this.selectUserIds).length === 0
      },

      /**
       * 删除角色
       * @param role
       */
      remove(role) {
        this.deletItem = role;
        this.deleteConfirmModal = true;
      },
      async removeConfirm(role){
        let res = await deleteRoleCheck(role.id);
        if(res.data.state === 'success'){
          let resData = res.data.data;
          if(!resData){
            this.deleteConfirmModal = false;
            this.$Modal.confirm({
              title: '检测到该角色存在关联的用户',
              content: '<p>删除角色后将自动取消关联，确定要删除角色【' + role.name + '】吗?</p>',
              onOk: async () => {
                const res = await deleteRole(role.id)
                if (res.data.state === 'success') {
                  this.$Message.success('删除成功')
                  await this.getRoleList()
                } else {
                  this.$Message.error('删除失败')
                }
              },
            })
          }else{
            this.deleteConfirmModal = false;
            const res = await deleteRole(role.id)
            if (res.data.state === 'success') {
              this.$Message.success('删除成功')
              await this.getRoleList()
            } else {
              this.$Message.error('删除失败')
            }
          }
        }
      },
      /**
       * 删除分组
       * @param role
       */
      removeGroup(group) {
        console.log(group)
        this.$Modal.confirm({
          title: '删除',
          content: '<p>确定要删除分组【' + group.name + '】吗?</p>',
          onOk: async () => {
            if(group.children && group.children.length){
              return this.$Message.warning('组内存在有效角色，无法删除！')
            }
            const res = await deleteRoleGroup(group.id)
            if (res.data.state === 'success') {
              this.$Message.success('角色分组删除成功')
              await this.getRoleList()
            } else {
              this.$Message.error('角色分组删除失败')
            }
          },
        })
      },
      // 编辑分组
      saveOrUpdateGroup(row) {
        this.$refs.saveOrUpdateRoleGroup.show(row)
      },
      // 点击赋权按钮
      emPower() {
        this.emPowerModal = true
        this.unAuthorizedData = []
        this.selectUnAuthorizedIds.clear()
        this.unAuthorizedSearchVal = ''
        this.emPowerformPage.page = 1
        this.emPowerformPage.size = 10
        this.getUnbindUserList()
      },
      // 监听input框变化，防抖调函数
      watchUnAnthorizedValChange: debounce(function (e) {
        this.unAuthorizedSearch(e.target.value)
      }),
      // 点击查询按钮
      unAuthorizedSearch(e) {
        this.selectUnAuthorizedIds.clear()
        this.emPowerformPage.page = 1
        this.emPowerformPage.size = 10
        this.getUnbindUserList(e)
      },

      /**
       * 获取未绑定用户列表
       * @param unAuthorizedSearchVal
       */
      async getUnbindUserList(unAuthorizedSearchVal) {
        let params = {
          roleId: this.currentNode.id,
          pageNum: this.emPowerformPage.page,
          pageSize: this.emPowerformPage.size,
        }
        if (unAuthorizedSearchVal) {
          params.username = unAuthorizedSearchVal
        }
        const res = await getUnbindUserByRoleId(params)
        if (res.data.state === 'success') {
          let unAuthorizedData = res.data.data.data
          unAuthorizedData.forEach(item => {
            if (this.selectUnAuthorizedIds.has(item.id)) {
              item._checked = true
            }
          })
          this.unAuthorizedData = unAuthorizedData
          this.emPowerformPage.total = res.data.data.count
        }
      },
      // 调接口赋权
      emPowerOk() {
        let params = {
          roleId: this.currentNode.id,
          userIds: Array.from(this.selectUnAuthorizedIds),
        }
        if (Array.from(this.selectUnAuthorizedIds).length === 0) {
          this.$Message.warning('请选择未赋权用户')
          return
        }
        bindUser(params).then(res => {
          if (res.data.state === 'success') {
            this.$Message.success('赋权成功')
            this.formPage.page = 1
            this.formPage.size = 10
            this.getBindUserList()
            this.emPowerModal = false
          } else {
            this.$Message.error('赋权失败')
          }
        })
      },
      onSelectUnAuthorized(data, row) {
        this.selectUnAuthorizedIds.add(row.id)
      },
      onCancelUnAuthorized(data, row) {
        this.selectUnAuthorizedIds.delete(row.id)
      },
      onSelectUnAuthorizedAll(selection) {
        if (selection.length === 0) {
          // 取消全选
          let data = this.$refs['unAuthorizedTable'].data
          data.forEach((item) => {
            if (this.selectUnAuthorizedIds.has(item.id)) {
              this.selectUnAuthorizedIds.delete(item.id)
            }
          })
        } else {
          // 勾选全选
          selection.forEach((item) => {
            this.selectUnAuthorizedIds.add(item.id)
          })
        }
      },
      // 切换某个角色下的用户到另一个角色
      async changeUserRole() {
        if (!this.userForm.roleId?.length) {
          this.$Message.warning('请选择当前角色！')
          return
        }
        const params = {
          userId: this.userForm.id,
          roleIds: this.userForm.roleId,
        }
        const res = await updateUserRole(params)
        if (res.data.state === 'success') {
          this.$Message.success('切换角色成功')
          this.formPage.page = 1
          this.formPage.size = 10
          await this.getBindUserList()
          this.userModal = false
        } else {
          this.$Message.error('切换角色失败')
        }
      },
      // 条数切换
      changeSize(current) {
        this.formPage.size = current
        this.getBindUserList()
      },
      // 切页
      changePage(current) {
        this.formPage.page = current
        this.getBindUserList()
      },
      // 未赋权弹框切页
      emPowerformPageChangePage(current) {
        this.emPowerformPage.page = current
        this.getUnbindUserList()
      },
    },
  }
</script>

<style scoped>
  .mr {
    margin-right: 16px;
  }

  .mb10 {
    margin-bottom: 10px;
  }

  .prb {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
  }

  .both {
    height: 100%;
    display: flex;
  }

  .addBtn.ivu-btn-ghost.ivu-btn-primary {
    color: #3F73FF;
    border-radius: 2px;
  }

  .center {
    width: 20%;
    height: 100%;
    background-color: #fff;
    margin-right: 2px;
    padding: 0;
  }

  .title {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
  }

  .right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .custom-tree{
    max-height: calc(100vh - 180px);
    overflow: auto;
    overflow-x: hidden;
    padding: 0 24px;
  }

  /deep/ .ivu-tree .ivu-tree-title {
    width: 90%;
  }

  /deep/ .ivu-tree .ivu-tree-title:hover .common-wrap .btnNone {
    display: inline-block !important;
  }

  /deep/ .ivu-tree .ivu-tree-title.ivu-tree-title-selected .common-wrap .btnNone {
    display: inline-block !important;
  }

  /deep/ .ivu-tree-arrow-disabled {
    cursor: pointer;
  }

  .ivu-tree >>> .ivu-tree-title {
    padding: 0 8px;
  }

  /* 表头加背景色 */
  .ivu-table-wrapper >>> .ivu-table-header thead tr th {
    background: #F0F5FF;
    height: 40px;
  }

  /deep/ .ivu-modal .ivu-btn {
    width: 72px;
    border-radius: 2px;
  }

  /deep/ .ivu-modal .ivu-btn.ivu-btn-primary {
    background-color: #3F73FF;
    border-color: #3F73FF;
  }

  /* 选中时图标更改 */
  .ivu-tree >>> .btnEdit {
    content: url("~@/assets/images/system/roleTreeEditBlue.svg");
  }

  .ivu-tree >>> .btnDelete {
    content: url("~@/assets/images/system/roleTreeDeleteBlue.svg");
  }

  .ivu-tree >>> .ivu-tree-title-selected .btnEdit {
    content: url("~@/assets/images/system/roleTreeEditBlue.svg");
  }

  .ivu-tree >>> .ivu-tree-title-selected .btnDelete {
    content: url("~@/assets/images/system/roleTreeDeleteBlue.svg");
  }
  .ivu-tree >>> .btnEditGroup {
    content: url("~@/assets/images/system/roleTreeEditBlue.svg");
  }

  .ivu-tree >>> .btnDeleteGroup {
    content: url("~@/assets/images/system/roleTreeDeleteBlue.svg");
  }

  /* 去掉table边框 */
  /deep/ .ivu-table::after {
    width: 0;
  }

  /deep/ .ivu-table::before {
    height: 0;
  }

  /deep/ .ivu-table-wrapper {
    border: none;
  }

  /deep/ .ivu-table th {
    border-bottom: none;
  }

  /* Modal表头样式 */
  /deep/ .ivu-modal-header {
    border-radius: 8px 8px 0 0;
    padding: 14px 24px;
  }

  /deep/ .ivu-modal-header-inner {
    font-size: 14px;
    color: #333333;
    height: 20px;
    line-height: 20px;
  }

  /deep/ .ivu-modal-close .ivu-icon-ios-close {
    color: #333333;
  }

  .userModal /deep/ .ivu-modal .ivu-btn {
    width: 72px;
    border-radius: 2px;
  }

  .userModal /deep/ .ivu-modal .ivu-btn.ivu-btn-primary {
    background-color: #3F73FF;
    border-color: #3F73FF;
  }

  .userModal /deep/ .ivu-form .ivu-form-item {
    margin-bottom: 16px;
  }

  /deep/ .ivu-table-cell {
    white-space: nowrap;
  }
  .deleteConfirmModal /deep/.ivu-modal-footer{
    border-top: none;
  }
  .deleteConfirmModal /deep/.ivu-modal-header{
    border-bottom: none;
  }


</style>
<style scoped lang="less">

  // 分页器样式
  /deep/ .pageClass {
    .ivu-page-item {
      min-width: 24px;
      height: 24px;
      line-height: 22px;
    }

    .ivu-page-prev, .ivu-page-next, .ivu-page-item-jump-prev, .ivu-page-item-jump-next {
      min-width: 24px;
      height: 24px;
      line-height: 22px;
    }

    .ivu-select-single .ivu-select-selection {
      height: 24px;
    }

    .ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
      height: 22px;
      line-height: 22px;
    }

    .ivu-page-options-elevator {
      height: 24px;
      line-height: 24px;
    }

    .ivu-page-options-elevator input {
      height: 24px;
    }
  }
</style>
