<template>
  <div style="display: inline-block">
    <Modal v-model="showModal" :title="title" :width="400">
      <p slot="header">
        <span>{{title}}</span>
      </p>
      <Form v-if="showModal" class="menu-form" :model="group" ref="form" :rules="rules" :label-width="80">
        <FormItem label="分组名称" prop="name">
          <Input id="name" :maxlength="15" v-model.trim="group.name" clearable placeholder="请输入分组名称" style="width: 80%" />
        </FormItem>
      </Form>
      <div slot="footer">
        <Button type="text" @click="cancel">取消</Button>
        <Button type="primary" @click="ok">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import { createRoleGroup, updateRoleGroup } from '@/api/systemManagement/roleManagement'
import moment from 'moment'
import { deepCopy } from '../../../utils/common'
export default {
  name: "RoleGroupAddOrUpdate",
  props: {
  },
  data() {
    return {
      rules: {
        name: [{ required: true, message: "请填写角色名称", trigger: "blur" }],
      },
      groupList:[],
      showModal: false,
      title: "",
      group: {
        id: "",
        name: "",
      },
    };
  },
  created() {
    
  },
  methods: {
    show(params) {
      if (params instanceof MouseEvent) {
        this.title = "新增分组";
        this.group.id = null;
        this.group.name = "";
      } else {
        this.group = deepCopy(params);
        this.title = "编辑分组";
      }
      this.showModal = true;
    },
    ok() {
      this.$refs['form'].validate(async (valid) => {
        if(valid) {
          let params = {
            name: this.group.name
          }
          let request
          if (this.group.id) {
            // 更新
            params.id = this.group.id
            request = updateRoleGroup
          } else {
            // 新增
            request = createRoleGroup
          }
          console.log(params)
          const res = await request(params)
          if (res.data.state === 'success') {
            this.$emit('refreshRoleGroup')
            this.$Message.success(this.group.id ? '角色分组修改成功！' : '角色分组新建成功!')
            this.showModal = false
          } else {
            this.$Message.error(this.id ? '角色分组修改失败!' : '角色分组新建失败!')
          }
        }
      })
    },
    cancel() {
      this.showModal = false
    },
  },
};
</script>

<style scoped lang="less">
/deep/.ivu-modal-content {
  border-radius: 8px;
}
/deep/.ivu-modal-header {
  border-radius: 8px 8px 0 0;
  padding: 14px 24px;
}
/deep/.ivu-modal-header p{
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #333333;
  height: 20px;
  line-height: 20px;
}
/deep/.ivu-modal-close .ivu-icon-ios-close{
  color: #333333;
}
/deep/.ivu-modal .ivu-btn{
  width: 72px;
  border-radius: 2px;
}
/deep/.ivu-modal .ivu-btn.ivu-btn-primary{
  background-color: #3F73FF;
  border-color: #3F73FF;
}
/* textarea加高 */
/deep/ .menu-form textarea.ivu-input{
  min-height: 100px;
  font-size: 12px;
}
</style>
