<template>
  <div style="text-align: center; padding-top: 87px">
    <div style="font-size: 20px; color: #f8b600; font-weight:500">
      {{ title }}
    </div>
    <div style="font-size: 16px; margin-top: 15px">
      <a style="color:#497AFF">({{ countDown }})秒 </a>
      <span class="assistWord">后进入登录</span>
    </div>
    <Button
      type="primary"
      long
      style="height: 46px; margin-top: 120px; background:#3F73FF; font-size:16px"
      @click="registerSuccess"
    >
      立即登录
    </Button>
    <div style="margin-top: 30px; font-size:16px">
      <span class="assistWord">已有账号？</span>
      <a @click="registerSuccess" style="color:#3F73FF">立即登录</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "AmendPasswordSuccess",
  props: {
    title: {
      type: String,
      default: () => ""
    }
  },
  data() {
    return {
      countDown: 5,
      timer: null
    };
  },
  mounted() {
    this.timer = setInterval(() => {
      if (this.countDown > 0) {
        this.countDown--;
      } else {
        this.registerSuccess();
      }
    }, 1000);
  },
  beforeDestroy() {
    if (this.timer) {
      clearInterval(this.timer);
    }
  },
  methods: {
    registerSuccess() {
      this.$router.push({
        path: "/login"
      });
    }
  }
};
</script>

<style>
.assistWord {
  color: #a1a5bf;
}
</style>
