<template>
  <div class="bubble-setting-item">
    <slot>设置项标题</slot>
    <div class="setting-item">
      颜色
      <div @click.stop>
        <colorPicker
          class="bgColorPicker"
          defaultColor="#3F73FF"
          :key="setting.color"
          v-model="setting.color"
          @change="recordSnapshot" />
      </div>
    </div>
    <div class="setting-item">
      形状
      <div @click.stop>
        <Dropdown class="shape-select" trigger="click" @on-click="onSelectShape">
          <div class="shape-select-input">
            <img :src="selectedShape.img" />
          </div>
          <DropdownMenu slot="list">
            <DropdownItem v-for="shape in shapeList" :key="shape.value" :name="shape.value" :selected="shape.selected">
              <img :src="shape.img" />
            </DropdownItem>
          </DropdownMenu>
        </Dropdown>
      </div>
    </div>
  </div>
</template>

<script>
import circle from '@/assets/images/report/style/shape_circle.svg'
import rect from '@/assets/images/report/style/shape_rect.svg'
import roundRect from '@/assets/images/report/style/shape_round_rect.svg'
import triangle from '@/assets/images/report/style/shape_triangle.svg'
import diamond from '@/assets/images/report/style/shape_diamond.svg'
import pin from '@/assets/images/report/style/shape_pin.svg'
import arrow from '@/assets/images/report/style/shape_arrow.svg'

export default {
  name: 'BubbleSetting',
  inject: ['recordSnapshot'],
  props: {
    setting: Object,
  },
  data() {
    return {
      shapeList: [
        { img: circle, value: 'circle', selected: true },
        { img: rect, value: 'rect', selected: false },
        { img: roundRect, value: 'roundRect', selected: false },
        { img: triangle, value: 'triangle', selected: false },
        { img: diamond, value: 'diamond', selected: false },
        { img: pin, value: 'pin', selected: false },
        { img: arrow, value: 'arrow', selected: false },
      ],
    }
  },
  computed: {
    // 已选择的形状
    selectedShape() {
      return this.shapeList.find(item => item.selected)
    },
  },
  watch: {
    'setting.shape': {
      handler(val) {
        this.updateShapeSelected(val)
      },
      immediate: true,
    },
  },
  methods: {
    /**
     * 更新形状选中项
     * @param selected
     */
    updateShapeSelected(selected) {
      if (!selected) return
      for (let shape of this.shapeList) {
        shape.selected = shape.value === selected
      }
    },
    /**
     * 选择形状，设置selected属性
     * @param name
     */
    onSelectShape(name) {
      this.updateShapeSelected(name)
      // 设置组件shape样式配置
      this.$set(this.setting, 'shape', name)
      this.recordSnapshot()
    },
  },
}
</script>

<style scoped lang="less">
.bubble-setting-item {
  display: inline-flex;
  align-items: center;
  position: relative;

  .setting-item {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.45);

    > div {
      display: flex;
      align-items: center;
    }

    .bgColorPicker {
      margin-left: 4px;
    }
  }

  + .bubble-setting-item {
    margin-top: 12px;
  }
}

/deep/ .shape-select {
  width: 50px;
  cursor: pointer;
  margin-left: 6px;

  .shape-select-input {
    border: 1px solid rgba(228, 228, 228, 1);
    border-radius: 2px;
    height: 28px;
    padding: 0 12px;
    display: flex;
    align-items: center;

    img {
      width: 22px;
      height: 22px;
      object-fit: cover;
    }
  }

  .ivu-select-dropdown {
    max-height: 200px;
    overflow: auto;

    .ivu-dropdown-menu {
      min-width: unset;

      .ivu-dropdown-item {
        padding: 7px 0;
        display: flex;
        justify-content: center;
      }
    }
  }

  img {
    width: 26px;
    height: 26px;
    object-fit: cover;
  }
}
</style>
