<template>
  <div class="bubble-style-config">
    <LegendSetting :styleConfigs="styleConfigs"></LegendSetting>
    <DrawingAreaSetting :styleConfigs="styleConfigs"></DrawingAreaSetting>
    <Collapse value="bubble" class="bubble-setting-collapse" simple>
      <Panel name="bubble">
        <BubbleSettingItem :setting="styleConfigs.normalBubble">气泡</BubbleSettingItem>
        <div slot="content" class="slot-content">
          <div class="highlight">
            自定义尺寸
            <Checkbox v-model="styleConfigs.bubbleSizeRange.enable"></Checkbox>
          </div>
          <Slider v-model="styleConfigs.bubbleSizeRange.valueRange" show-tip="hover" :min="1"></Slider>
        </div>
        <div slot="content" class="slot-content">
          <div class="highlight">
            最大/最小突显
            <Checkbox v-model="styleConfigs.normalBubble.highlight"></Checkbox>
          </div>
          <BubbleSettingItem :setting="styleConfigs.minValueBubble">最小值</BubbleSettingItem>
          <BubbleSettingItem :setting="styleConfigs.maxValueBubble">最大值</BubbleSettingItem>
        </div>
      </Panel>
    </Collapse>
    <Collapse value="axisValue" class="axisValueCollapse" simple>
      <Panel name="axisValue">
        坐标轴值定义
        <div slot="content">
          <AxisValueSetting :styleConfigs="styleConfigs.xAxisValueSetting" panelTitle="X轴"></AxisValueSetting>
          <AxisValueSetting :styleConfigs="styleConfigs.yAxisValueSetting" panelTitle="Y轴"></AxisValueSetting>
          <AxisValueSetting :styleConfigs="styleConfigs.sizeValueSetting" panelTitle="大小"></AxisValueSetting>
        </div>
      </Panel>
    </Collapse>
  </div>
</template>

<script>
import LegendSetting from '@/view/report/ChartStyleConfig/common/LegendSetting.vue'
import DrawingAreaSetting from '@/view/report/ChartStyleConfig/common/DrawingAreaSetting.vue'
import BubbleSettingItem from '@/view/report/ChartStyleConfig/BubbleStyleConfig/BubbleSettingItem.vue'
import AxisValueSetting from '@/view/report/ChartStyleConfig/common/AxisValueSetting.vue'
import { deepCopy } from '@/utils/common'

// 坐标轴配置项
const AXIS_VALUE_CONFIG = {
  axisValueCustomRange: false,
  axisValueCustomMax: null,
  axisValueCustomMin: null,
  axisValueCustomLog: false,
  axisValueCustomLogBase: null,
  axisTickHidden: false,
}

export default {
  name: 'BubbleStyleConfig',
  props: {
    styleConfigs: Object,
  },
  components: {
    LegendSetting,
    DrawingAreaSetting,
    BubbleSettingItem,
    AxisValueSetting,
  },
  created() {
    console.log(this.styleConfigs);
    // 如果没有自定义气泡大小配置，给默认值
    if (!this.styleConfigs.hasOwnProperty('bubbleSizeRange')) {
      this.$set(this.styleConfigs, 'bubbleSizeRange', {
        enable: false,
        valueRange:50
      })
    }
    // 如果没有常规气泡配置，给默认值
    if (!this.styleConfigs.hasOwnProperty('normalBubble')) {
      this.$set(this.styleConfigs, 'normalBubble', {
        color: '#3F73FF',
        shape: 'circle',
        highlight: true,
      })
    }
    // 如果没有最小值气泡配置，给默认值
    if (!this.styleConfigs.hasOwnProperty('minValueBubble')) {
      this.$set(this.styleConfigs, 'minValueBubble', {
        color: '#3F73FF',
        shape: 'circle',
      })
    }
    // 如果没有最大值气泡配置，给默认值
    if (!this.styleConfigs.hasOwnProperty('maxValueBubble')) {
      this.$set(this.styleConfigs, 'maxValueBubble', {
        color: '#3F73FF',
        shape: 'circle',
      })
    }
    if (!this.styleConfigs.xAxisValueSetting) {
      this.$set(this.styleConfigs, 'xAxisValueSetting', deepCopy(AXIS_VALUE_CONFIG))
    }
    if (!this.styleConfigs.yAxisValueSetting) {
      this.$set(this.styleConfigs, 'yAxisValueSetting', deepCopy(AXIS_VALUE_CONFIG))
    }
    if (!this.styleConfigs.sizeValueSetting) {
      this.$set(this.styleConfigs, 'sizeValueSetting', deepCopy(AXIS_VALUE_CONFIG))
    }
  },
}
</script>

<style scoped lang="less">
.axisValueCollapse.ivu-collapse.ivu-collapse-simple /deep/ .ivu-collapse-item {
  .ivu-collapse {
    .ivu-collapse-item {
      margin: 0;
    }

    .ivu-collapse-header>i {
      position: absolute;
      top: 10px;
      right: 0;
    }

    .ivu-collapse-content>.ivu-collapse-content-box {
      padding: 10px;
      background: #F5F5F5;
    }
  }
}

/deep/ .bubble-setting-collapse {
  .ivu-collapse-header {
    overflow: visible !important;

    .ivu-icon.ivu-icon-ios-arrow-forward {
      position: absolute;
      right: 0;
      top: 10px;
    }
  }

  .ivu-collapse-content-box {
    margin: 4px 0 10px 0;

    .slot-content {
      background: #F5F5F5;
      padding: 10px !important;

      &:first-child {
        margin-bottom: 10px;
      }
    }
  }

  .highlight {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}
</style>
