<template>
  <div class="taskHandle-container">
    <section class="dispatchWrapper dispatchStartTime">
      <span class="labelTitle">{{ labelArr[0] }}：</span>
      <span style="color: rgba(0, 0, 0, 0.65); margin: 0 8px 0 12px">{{ dispatch.startDate }}</span>
      <span style="color: rgba(0, 0, 0, 0.65)">{{ dispatch.startTime }}</span>
    </section>
    <section class="dispatchRate">
      <div class="dispatchWrapper">
        <span class="labelTitle">{{ labelArr[1] }}：</span>
        <span style="color: rgba(0, 0, 0, 0.65); margin: 0 18px 0 12px">{{ showDispatchRateName(dispatch.rate.name) }}</span>
        <template v-if="dispatch.rate.name === 1">
          <span style="margin-right: 7px">每</span>
          <span style="margin-right: 7px; color: #3f73ff">{{ dispatch.rate.easy.inputVal }}</span>
          <span style="margin-right: 7px">{{ showDispatchRateEasyType(dispatch.rate.easy.type) }}</span>
          <span>执行一次</span>
        </template>
      </div>

      <div class="dispatchRateDetail" v-if="dispatch.rate.name === 3">
        <div class="executionTime-container">
          <span style="line-height: 32px">执行时间：</span>
          <span style="margin-right: 7px" v-for="(time, index) in dispatch.rate.detail.timeList" :key="index">{{ showExecTime(time.value) }}</span>
        </div>

        <section class="executionDate-container">
          <span class="title">执行日：</span>
          <span style="margin-right: 8px">{{ showDispatchRateDetailExecdateType(dispatch.rate.detail.execDate.type) }}</span>
          <span v-if="dispatch.rate.detail.execDate.type !== 1">{{ showDispatchRateDetailExecdateSelectVal(dispatch.rate.detail.execDate) }}</span>
        </section>

        <section class="executionMonth">
          <span class="title">执行月：</span>
          <span class="title">{{ showDispatchRateDetailMonth(dispatch.rate.detail.monthVal) }}</span>
        </section>
      </div>
    </section>

    <section class="dispatchAdvanced">
      <span class="labelTitle">{{ labelArr[2] }}：</span>
      <template v-if="dispatch.advanced.show">
        <span class="labelTitle">失败自动重跑</span>
        <div class="repeatExec">
          <span>重跑次数：</span>
          <span style="margin-right: 16px">{{ dispatch.advanced.count }}</span>
          <span>重跑间隔：</span>
          <span style="margin-right: 7px">{{ dispatch.advanced.interval }}</span>
          <span>分钟</span>
        </div>
      </template>
      <span v-else>无</span>
    </section>
  </div>
</template>

<script>
import {
  DISPATCH_RATE_NAME,
  DISPATCH_RATE_EASY_TYPE,
  DISPATCH_RATE_DETAIL_EXECDATE_TYPE
} from "@/view/dataset/DataModel/DatasetList/DispatchSetting/constant";

export default {
  props: {
    dispatch: {
      type: Object,
      required: true
    },
    labelArr: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    showDispatchRateName() {
      return data => DISPATCH_RATE_NAME.find(ele => ele.value === data).label;
    },
    showDispatchRateEasyType() {
      return data => DISPATCH_RATE_EASY_TYPE.find(ele => ele.value === data).label;
    },
    showExecTime() {
      return data => data.split("/").join(":");
    },
    showDispatchRateDetailExecdateType() {
      return data => DISPATCH_RATE_DETAIL_EXECDATE_TYPE.find(ele => ele.value === data).label;
    },
    showDispatchRateDetailExecdateSelectVal() {
      return data => {
        const { type, selectVal } = data;
        if (type === 2) {
          return selectVal.split(", ").join("、");
        } else if (type === 3) {
          return selectVal
            .split(", ")
            .map(ele => `${parseInt(ele)}号`)
            .join("、");
        }
      };
    },
    showDispatchRateDetailMonth() {
      return data => data.split(", ").join("、");
    }
  }
};
</script>

<style lang="less" scoped>
.taskHandle-container {
  .dispatchWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .dispatchRate {
    margin-bottom: 16px;
    .dispatchWrapper {
      margin-bottom: 8px;
    }
    .dispatchRateDetail {
      margin-left: 60px;
    }
    .dispatchRateDetail {
      .executionDate-container {
        margin-bottom: 8px;
      }
    }
  }
  .dispatchAdvanced {
    .repeatExec {
      margin-top: 8px;
      margin-left: 60px;
    }
  }
}
</style>
