<template>
    <div>
        <Modal 
            v-model="showBackupModal" 
            class="backupModal" 
            :title="title"
            :width="modalType === 'manual' ? 308 : 524"
            :mask-closable="false" 
            @on-ok="okBtn"
            @on-cancel="cancel"
        >
            <div class="backupModal-content">
                <div v-if="modalType === 'manual'">手动备份将覆盖之前所有备份，继续备份吗？</div>
                <div v-if="modalType === 'auto'" class="auto-content">
                    <div class="top">
                        <span class="item-title">开始时间：</span>
                        <div>
                            <TimePicker type="time"
                                :value="startTime"
                                placeholder="Select time" 
                                style="width: 168px"
                                @on-change="changeTime"
                            >
                            </TimePicker>
                            <div class="frequency">
                                <span style="margin-right: 7px;">每 </span>
                                <InputNumber :max="31" :min="1"
                                      v-model="frequency"
                                      :precision="0"
                                      style="width: 80px" />
                                <span style="margin-left: 7px;">天 执行一次</span> 
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <span>高级设置：</span>
                        <div>
                            <Checkbox v-model="isAgain">失败自动重跑</Checkbox>
                            <div class="backupNum">
                                <span style="margin-right: 7px;">最近保留</span>
                                <InputNumber :max="5" :min="1" 
                                    v-model="backupNum"
                                    :precision="0"
                                    style="width: 80px"
                                />
                                <span style="margin-left: 7px;">份备份</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div slot="footer">
                <Button @click="cancel">取消</Button>
                <Button type="primary" @click="okBtn">{{modalType==='auto' ? '确定' : '备份'}}</Button>
            </div>
        </Modal>
    </div>
</template>

<script>
import { touchBackup, getBackupRule, updateRule } from '@/api/resourceBackup'
export default {
  name: 'BackupModal',
  components: {
    
  },
  props: {
    showModal:{
        type: Boolean,
        default: false,
    },
    modalType:{
        type: String,
        default: '',
    },
  },
  data() {
    return {
        showBackupModal: false,
        startTime: '00:00:00',
        frequency: 7,
        backupNum: 3,
        isAgain: false
    }
  },
  computed: {
    userName() {
      return this.$store.state.user.userName
    },
    title(){
      return this.modalType === 'auto' ? '自动备份' : '手动备份'
    }
  },
  created() {
    
  },
  mounted() {
    
  },
  methods: {
    changeTime(val){
        this.startTime = val;
    },
    async queryBackupRule(){
        let res = await getBackupRule();
        if(res.data && res.data.state === 'success'){
            const resData = res.data.data;
            this.backupNum = resData.backupNum;
            this.startTime = resData.backupTime;
            this.frequency = resData.frequency;
            this.isAgain = resData.isAgain ? true : false;
        }else{
            this.$Message.error(res.data.message);
        }
    },
    async okBtn(){
        if(this.modalType === 'auto'){
            // 自动备份
            if(!this.startTime){
                return this.$Message.error('请选择开始时间！');
            }
            if(!this.frequency){
                return this.$Message.error('请填写执行间隔天数！');
            }
            if(!this.backupNum){
                return this.$Message.error('请填写保留备份数！');
            }
            const data = {
                backupTime: this.startTime,
                frequency: this.frequency,
                isAgain: this.isAgain ? 1 : 0,
                backupNum: this.backupNum,
            }
            let res = await updateRule(data);
            if(res.data && res.data.state === 'success'){
                this.$Message.success('自动备份任务添加成功')
                this.$emit('closeModal');
            }else{
                this.$Message.error(res.data.message);
            }
        }else{
            // 手动备份
            touchBackup();
            // if(res.data && res.data.state === 'success'){
            this.$Message.info({
                content: '任务已添加，请稍后刷新页面查看任务进度',
                duration: 8
            })
            this.$emit('closeModal', true);
            // }else{
            //     this.$Message.error(res.data.message);
            // }
        }
    },
    cancel(){
        this.$emit('closeModal')
    },
  },
  watch: {
    showModal(val){
        this.showBackupModal = val;
        if(val){
            if(this.modalType === 'auto'){
                this.queryBackupRule();
            }
        }
    },
  }
}
</script>

<style lang="less" scoped>
/deep/ .ivu-modal-footer{
    border-top: none;
}
.backupModal{
    .backupModal-content{
        .auto-content{
            padding-left: 20px;
        }
        .top{
            margin-bottom: 18px;
            display: flex;
            .item-title{
                display: inline;
                padding-top: 5px;
            }
            .frequency{
                font-size: 12px;
                color: #333333;
                margin-top: 15px;
                display: flex;
                align-items: center;
            }
        }
        .bottom{
            display: flex;
            .backupNum{
                margin-top: 15px;
                display: flex;
                align-items: center;
                font-size: 12px;
                color: #333333;
            }
        }
    }
}
</style>