<template>
  <div class="indicator-maintain">
    <header>
      <div class="title">指标维护</div>
      <div class="header-right">
        <div class="indicator-name">{{ currentIndicator.title }}</div>
        <div class="buttons">
          <div class="version" v-if="indicatorVersions.length">
            版本号：
            <Select v-model="indicatorVersion">
              <Option v-for="version in indicatorVersions" :key="version" :value="version">{{ version }}</Option>
            </Select>
          </div>
          <Button @click="onRefreshData">刷新数据</Button>
          <Button>操作日志</Button>
        </div>
      </div>
    </header>
    <main>
      <IndicatorTree class="main-left" @on-change="onCurrentIndicatorChange" />
      <div class="main-right">
        <IndicatorDimensionTabs :current-tab="currentTab" @on-change="onTabsChange" />
        <Search :business-date.sync="businessDate" :dimension-name.sync="dimensionName" :show-dimension-input="currentTab !== '0'" @on-search="onSearch" />
        <Table max-height="526" :columns="columnData" :data="tableData" class="mb16" :draggable="canDrag" @on-drag-drop="handleDragDropChange" />
        <Page
          class="pageClass"
          show-elevator
          show-sizer
          :current="pageNum"
          :page-size="pageSize"
          :total="total"
          @on-change="changePage"
          @on-page-size-change="changeSize" />
      </div>
    </main>
    <OperationLog :operationLogShow="operationLogShow" :name="currentIndicator.title" @handleOprationLog="handleOprationLog" />
  </div>
</template>

<script>
import OperationLog from './components/OperationLog'
import IndicatorTree from '@/view/indicator-maintain/components/IndicatorTree.vue'
import ReportCalendar from '@/view/components/report-calendar/ReportCalendar.vue'
import IndicatorDimensionTabs from '@/view/indicator-maintain/components/IndicatorDimensionTabs.vue'
import Search from '@/view/indicator-maintain/components/Search.vue'
import moment from 'moment'
import { getindicatorMaintain, updateSort, updateIndex } from '@/api/dataset'
import { getComplexIndicatorById, getDerivativeIndicatorById, getIndicatorById } from '@/api/indicator'
import { reloadCube } from '@/api/indicatorMaintain'

export default {
  name: 'IndicatorMaintain',
  components: {
    OperationLog,
    IndicatorTree,
    ReportCalendar,
    IndicatorDimensionTabs,
    Search,
  },
  data() {
    return {
      currentIndicator: {}, // 当前指标
      indicatorVersion: '', // 版本号
      detailIndicatorVersion: '', // 指标详情中的当前版本号
      indicatorVersions: [], // 版本号列表
      dimensionName: '', // 维度名称--搜索
      businessDate: '', // 业务日期
      currentTab: '0', // 当前tab
      canDrag: false,
      columnData: [],
      tableData: [],
      pageNum: 1,
      pageSize: 10,
      total: 10,
      operationLogShow: false,
    }
  },
  mounted() {
    this.setDatePickerTime()
    this.changeColumnsData(this.currentTab)
  },
  methods: {
    // 查看操作日志
    handleOprationLog(value){
      // this.operationLogShow = value;
    },
    // 刷新数据
    onRefreshData() {
      this.$Modal.confirm({
        title: '确认刷新吗？',
        content: '刷新后将覆盖当前数据。',
        onOk: () => this.doRefreshData(),
      })
    },

    async doRefreshData() {
      const params = {
        startDate: this.businessDate,
        endDate: this.businessDate,
        indicators: [{ indicatorId: this.currentIndicator.id, indicatorType: this.currentIndicator.indicatorType}],
      }
      if (this.indicatorVersion !== this.detailIndicatorVersion) params.indicators[0].versionCode = this.indicatorVersion
      const { data: res } = await reloadCube(params)
      if (res.state !== 'success') return this.$Message.error('任务创建失败！')
      this.$Message.success('任务创建成功！')
    },

    // 当前指标变化
    onCurrentIndicatorChange(indicator) {
      this.currentIndicator = indicator
      this.queryTable()
      this.getIndicatorDetail()
    },

    // 获取指标详情
    async getIndicatorDetail() {
      const { id, indicatorType } = this.currentIndicator

      let getDetailFn
      // 原子指标
      if (indicatorType === 1) getDetailFn = getIndicatorById
      // 复合指标
      if (indicatorType === 2) getDetailFn = getComplexIndicatorById
      // 派生指标
      if (indicatorType === 3) getDetailFn = getDerivativeIndicatorById

      const { data: res } = await getDetailFn(id)
      if (res.state !== 'success') return this.$Message.error('获取指标详情失败')
      this.indicatorVersion = res.data.versionCode
      this.detailIndicatorVersion = res.data.versionCode
      this.indicatorVersions = res.data.indicatorVersions.map(item => item.code)
      // 当前版本放入版本列表中
      this.indicatorVersions.push(res.data.versionCode)
    },

    // 指标-维度Tabs变化
    onTabsChange(name) {
      this.currentTab = name
      this.changeColumnsData(name)
      // 上方Tab切换时，刷新table表格
      this.queryTable()
    },

    // 设置时间
    setDatePickerTime() {
      let yesterday = moment(new Date()).subtract(1, 'days').format('YYYY-MM-DD')
      this.businessDate = yesterday
    },

    // 查表格table数据
    async queryTable() {
      let params = {
        indicatorId: this.currentIndicator.id,
        type: Number(this.currentTab),
        pageNum: this.pageNum,
        pageSize: this.pageSize,
      }
      // 有值才传给后台
      if (this.dimensionName) params.dimensionName = this.dimensionName
      if (this.businessDate) {
        params.startTime = this.businessDate
        params.endTime = this.businessDate
      }

      const { data: res } = await getindicatorMaintain(params)
      if (res.state !== 'success') return this.$Message.error('查询table数据失败')
      this.tableData = res.data.data?.map(item => {
        item.editSort = false
        item.editIndicator = false
        return { ...item }
      }) ?? []
      this.total = res.data?.count ?? 0
    },

    // 搜索
    onSearch() {
      this.pageNum = 1
      this.pageSize = 10
      this.queryTable()
    },

    // 页数变化
    changePage(current) {
      this.pageNum = current
      this.queryTable()
    },

    // 每页条数变化
    changeSize(current) {
      this.pageSize = current
      this.pageNum = 1
      this.queryTable()
    },

    // 拖拽事件
    handleDragDropChange(index1, index2) {
      if (index1 === index2.toString()) {
        return
      }
      let params = {
        type: Number(this.currentTab),
        id: this.tableData[index1].id,
        sort: this.tableData[index2].sort,
      }
      updateSort(params).then(res => {
        if (res.data.state === 'success') {
          this.$Message.success(res.data.message)
          this.queryTable()
        }
      })
    },

    // 表格columns变化
    changeColumnsData(val) {
      let columnData = []
      let dimensionNum = Number(val)
      if (dimensionNum !== 0) {
        columnData.push(
          {
            title: ' ',
            fixed: 'left',
            width: 60,
            render: (h, params) => {
              return h('div', [
                h('img', {
                  attrs: {
                    src: require('@/assets/images/dataset/tableMoveBtn.svg'),
                  },
                  on: {
                    mouseover: (e) => {
                      this.canDrag = true
                    },
                    mouseout: (e) => {
                      this.canDrag = false
                    },
                  },
                }),
              ])
            },
          },
        )
        columnData.push(
          {
            title: '排序',
            key: 'sort',
            fixed: 'left',
            minWidth: 150,
            render: (h, params) => {
              let children = []
              if (params.row.editSort) {
                children.push(
                  this.$createElement('Input', {
                    ref: 'sortInput',
                    class: 'sortInput' + params.index,
                    props: {
                      value: params.row.sort,
                      type: 'number',
                    },
                    style: {
                      width: '80px',
                    },
                    on: {
                      'on-blur': (e) => {
                        params.row.editSort = false
                        if (params.row.sort !== Number(e.target.value)) {
                          params.row.sort = e.target.value
                          let dataparams = {
                            type: Number(this.currentTab),
                            id: params.row.id,
                            sort: e.target.value,
                          }
                          updateSort(dataparams).then(res => {
                            if (res.data.state === 'success') {
                              this.$Message.success(res.data.message)
                              this.queryTable()
                            }
                          })
                        }
                      },
                    },
                  }),
                )
              } else {
                children.push(
                  h('span', params.row.sort),
                )
              }
              children.push(
                h('img', {
                  class: 'editBtn',
                  attrs: {
                    src: require('@/assets/images/dataset/tableEdit.svg'),
                  },
                  on: {
                    click: (e) => {
                      params.row.editSort = true
                      this.$nextTick(() => {
                        document.getElementsByClassName('sortInput' + params.index)[1].children[1].focus()
                      })
                    },
                  },
                }),
              )
              return h('div', {
                class: 'sortValueCell',
              }, children)
            },
          },
        )
      }
      for (let i = 1; i <= dimensionNum; i++) {
        columnData.push(
          {
            title: `维度名${dimensionNum === 1 ? '' : i}`,
            key: `dimension${dimensionNum === 1 ? '' : i}Name`,
            minWidth: 200,
          },
        )
        columnData.push(
          {
            title: `维度值${dimensionNum === 1 ? '' : i}`,
            key: `dimension${dimensionNum === 1 ? '' : i}Member`,
            minWidth: 200,
          },
        )
      }
      columnData.push(
        {
          title: '指标值',
          key: 'result',
          fixed: 'right',
          minWidth: 150,
          render: (h, params) => {
            let children = []
            if (params.row.editIndicator) {
              children.push(
                this.$createElement('Input', {
                  ref: 'valueInput',
                  class: 'valueInput' + params.index,
                  props: {
                    value: params.row.result,
                    type: 'number',
                  },
                  style: {
                    width: '80px',
                  },
                  on: {
                    'on-blur': (e) => {
                      params.row.editIndicator = false
                      if (params.row.result !== Number(e.target.value)) {
                        params.row.result = e.target.value
                        let dataparams = {
                          type: Number(this.currentTab),
                          id: params.row.id,
                          value: e.target.value,
                        }
                        updateIndex(dataparams).then(res => {
                          if (res.data.state === 'success') {
                            this.$Message.success(res.data.message)
                            this.queryTable()
                          }
                        })
                      }
                    },
                  },
                }),
              )
            } else {
              children.push(
                h('span', params.row.result),
              )
            }
            children.push(
              h('img', {
                class: 'editBtn',
                attrs: {
                  src: require('@/assets/images/dataset/tableEdit.svg'),
                },
                on: {
                  click: (e) => {
                    params.row.editIndicator = true
                    this.$nextTick(() => {
                      let valueInput = document.getElementsByClassName('valueInput' + params.index)
                      let valueInputLength = valueInput.length
                      if (valueInputLength === 2) {
                        valueInput[1].children[1].focus()
                      } else if (valueInputLength === 3) {
                        valueInput[2].children[1].focus()
                      }
                    })
                  },
                },
              }),
            )
            return h('div', {
              class: 'indicatorValueCell',
            }, children)
          },
        },
      )
      this.columnData = columnData
    },
  },
}
</script>

<style lang="less" scoped>
.mb16 {
  margin-bottom: 16px;
}

.indicator-maintain {
  height: 100%;
  background: #fff;
  padding-left: 12px;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F5FA;

  .title,
  .indicator-name {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    padding-left: 16px;
  }

  .title {
    width: 20%;
  }

  .header-right {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .buttons {
    display: flex;

    .version {
      width: 150px;
      display: flex;
      align-items: center;
      white-space: nowrap;
      margin-right: 16px;
    }

    button {
      margin-right: 16px;
      border-color: #3F73FF;
      color: #3F73FF;
    }
  }
}

main {
  height: calc(~'100% - 70px');
  display: flex;

  .main-left {
    width: 20%;
    height: 100%;
    background: #fff;
    margin-right: 2px;
    padding: 16px;
    border-right: 1px solid #F1F5FA;


    .searchTreeInput {
      margin: 16px 0 8px;
    }
  }

  .main-right {
    flex: 1;
    height: 100%;
    background: #fff;
    overflow: auto;
    padding: 16px;

    .ivu-table-wrapper {
      /deep/ .ivu-table {
        .ivu-table-row {
          .editBtn {
            vertical-align: middle;
            margin-left: 8px;
            margin-bottom: 3px;
            opacity: 0;
          }
        }

        .indicatorValueCell:hover {
          .editBtn {
            opacity: 1;
          }
        }

        .sortValueCell:hover {
          .editBtn {
            opacity: 1;
          }
        }
      }
    }
  }
}

.pageClass {
  display: flex;
  justify-content: flex-end;
}

/* tab样式重写 */
/deep/ .ivu-tabs-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  .ivu-tabs-nav-right {
    float: unset;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover .ivu-icon {
      color: #3F73FF;
    }
  }
}
</style>
