<template>
  <div style="width: 100%;" ref="targetContent">
    <div
      v-for="(item, i) in tagData"
      draggable="true"
      @drop="onDrop($event, i, item.id)"
      @dragover="onDragover($event, i, item.id)"
      @dragstart="onDragStart($event, i, item.id)"
      class="faTag"
      :key="item.id"
      :style="{'background': property === 'ind' ? '' : background}"
    >
      <div v-if="item.groupList && item.groupList.length" class="groupWrap">
        <div v-for="groupItem in item.groupList" :key="groupItem.id" class="item groupItem">
          <div class="tagTitle" :title="getTitleAndParentTitle(groupItem)" :data-id="groupItem.id">{{ getTitle(groupItem) }}</div>
          <Icon type="md-close" @click="handleRemoveCur($event, groupItem)" style="cursor: pointer"/>
        </div>
      </div>
      <div v-else class="item noGroupItem">
        <div class="tagTitle" :title="getTitleAndParentTitle(item)" :data-id="item.id">{{ getTitle(item) }}</div>
        <Icon type="md-close" @click="handleRemoveCur($event, item)" style="cursor: pointer"/>
      </div>
    </div>
  </div>
</template>

<script>
import { deepCopy } from "@/utils/common";
import { mapGetters } from "vuex";

export default {
  name: "FaDragTag",
  props: ['data', 'background', 'property', 'closable'],
  data() {
    return {
      dragTag: {
        dom: null,
        idx: null,
        id: null
      },
      dropTag: {
        dom: null,
        idx: null,
        id: null
      },
      dataType: '',
      deepNodes: [],
      tagData: []
    }
  },
  computed: {
    ...mapGetters(['currentSelectConfigData']),
    getTitle() {
      return item => item.hasOwnProperty('name') && item.name ? item.name : item.title
    },
    currentSelectChart() {
      return this.$store.state.chart && this.$store.state.chart.currentSelectChart || {}
    },
    currentSelectChartData() {
      return this.currentSelectChart.data || {}
    },
    getIndicatorOrDimensionData() {
      if(Object.keys(this.currentSelectChart.data).length !== 0) {
        if(this.property === 'ind') {
          return this.currentSelectChart.data.indicator
        }
        else if(this.property === 'dim') {
          return this.currentSelectChart.data.dimension
        }
      }
    },
    currentSelectConfigDataTheadMerge() {
      return this.currentSelectConfigData.theadMerge
    }
  },
  watch: {
    data: {
      handler(val) {
        if (this.property === 'ind') {
          this.refreshTagData(val)
        } else {
          this.tagData = val
        }
      },
      immediate: true
    },
  },
  mounted() {
    this.getIndicatorOrDimension()
  },
  methods: {
    handleRemoveCur(e, item) {
      this.$emit('fa-close', item)
    },
    getIndicatorOrDimension() {
      return this.property === 'ind' ? this.dataType = 'indicator' : this.dataType = 'dimension';
    },
    onDrop(e, idx, id) {
      e.preventDefault()
      this.dropTag = {
        dom: e.currentTarget,
        idx,
        id,
      }
      if (this.dragTag.dom != this.dropTag.dom) {
        let tempArr = deepCopy(this.getIndicatorOrDimensionData)
        let originTagId = this.dragTag.dom.querySelector('.tagTitle').getAttribute('data-id')
        let originIndex = tempArr.findIndex(item => (this.dataType === 'dimension' ? item === originTagId : item.id === originTagId))
        let endTagId = this.dropTag.dom.querySelector('.tagTitle').getAttribute('data-id')
        let endIndex = tempArr.findIndex(item => (this.dataType === 'dimension' ? item === endTagId : item.id === endTagId))

        let templateItem = tempArr[originIndex]
        if (originIndex > endIndex) {
          for (let i = originIndex; i > endIndex; i--) {
            tempArr[i] = tempArr[i - 1]
          }
        } else {
          for (let i = originIndex; i < endIndex; i++) {
            tempArr[i] = tempArr[i + 1]
          }
        }
        tempArr[endIndex] = templateItem
        this.$set(this.currentSelectChartData, this.dataType, tempArr)
        this.$emit('sortList', tempArr)
      }
    },
    onDragover(e, idx, id) {
      e.preventDefault()
    },
    onDragStart(e, idx, id) {
      this.dragTag = {
        dom: e.currentTarget,
        idx,
        id
      };
      e.dataTransfer.setData("text/html", this.dragTag.dom.innerHTML);
    },
    getTitleAndParentTitle(item) {
      let title = item.hasOwnProperty('name') ? item.name : item.title
      if(this.property === 'ind') {
        if (item.parentName) {
          title += this.GLOBAL.separator + item.parentName
        }
      }
      return title
    },
    /**
     * 表头指标分组更新后需要重新构建“已选指标”展示绑定的数据对象tagData
     * @param theadMergeData
     */
    refreshTagData(val) {
      // console.log('TheadMerge changed', theadMergeData)
      const theadMergeData = this.currentSelectConfigDataTheadMerge
      if (theadMergeData) {
        let newTagData = []
        const currentGroupArr = theadMergeData.filter(item => item.groupName !== '未分组')
        // 存在分组
        if (currentGroupArr.some(item => item.groupList.length)) {
          const noneGroupData = theadMergeData.find(item => item.groupName === '未分组')
          // 按照入参val的指标顺序排列
          val.forEach(selectIndicator => {
            // 1、从未分组中匹配
            const noneGroupItem = _.find(noneGroupData.groupList, group => group.id === selectIndicator.id)
            if (noneGroupItem) {
              newTagData.push(noneGroupItem)
            }
            // 2、从分组中匹配所在分组
            currentGroupArr.forEach(group => {
              const groupItem = _.find(group.groupList, group => group.id === selectIndicator.id)
              if (groupItem) {
                if (!newTagData.filter(tag => tag.groupName).find(tag => tag.groupName === group.groupName)) {
                  newTagData.push(group)
                }
              }
            })
          })

          // newTagData = currentGroupData
          // const noneGroupData = theadMergeData.find(item => item.groupName === '未分组')
          // newTagData = newTagData.concat(noneGroupData.groupList)
          this.tagData = newTagData
        } else {
          this.tagData = val
        }
      } else {
        this.tagData = val
      }
    }
  }
}
</script>

<style scoped>
 .faTag {
   width: 100%;
   /*height: 28px;*/
   margin: 5px 0;
   border-radius: 2px;
   box-sizing: border-box;
   /*padding: 0 6px;*/
   line-height: 28px;
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   cursor: move;
 }
 .tagTitle {
   width: 90%;
   overflow: hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
   cursor: move;
 }
 .item{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   padding: 0 6px;
 }
 .groupWrap{
   width: 100%;
 }
 .groupWrap:hover{
   border: 1px #33C6A5 dashed;
   width: calc(100% - 2px);
 }
 .groupItem:not(:first-child){
   margin-top: 5px;
 }
</style>
