<template>
  <div class="userBox">
    <UserList v-show="management" :key="resetUser" @managementChange="managementChange" />

    <div v-if="!management">
      <div class="headerBox">
        <HearderTie title="数据连接" />
        <el-button type="" class="standardButton" style="background-color: transparent" @click="backToUser()">返回用户管理</el-button>
      </div>
      <Dataconnection ref="dataconnection"></Dataconnection>
    </div>
  </div>
</template>

<script>
import UserList from "./components/UserList/UserList.vue";
import HearderTie from "@/dmp/components/titleHeader.vue";
import Dataconnection from "./components/Dataconnection/index.vue";

export default {
  name: "user",
  components: {
    UserList,
    HearderTie,
    Dataconnection
  },
  data() {
    return {
      management: true,
      resetUser: 154545
    };
  },
  methods: {
    managementChange() {
      this.management = !this.management;
    },
    /**
     * 返回用户管理
     */
    backToUser() {
      if (!this.$refs.dataconnection.dataSetType) {
        this.$confirm("当前未创建数据集，无法同步数据信息", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            this.management = !this.management;
            this.resetUser = Math.random(); // 刷新用户列表
          })
          .catch(() => {
            this.management = !this.management;
          });
      } else {
        this.management = !this.management;
        this.resetUser = Math.random();
      }
    }
  }
};
</script>

<style lang="less" scoped>
.userBox {
  width: 100%;
  height: 100%;

  .allUser {
    width: 100%;
    height: 100%;
  }

  .headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
}
</style>
