<template>
  <el-upload
    :class="{
      'avatar-uploader': true,
      'is-none': fileList.length > 0,
      'hide-upload-btn': hideUploadButton,
    }"
    action="111"
    accept=".jpg,.jpeg,.png,.JPG,.JPEG,.PNG"
    :on-remove="handleRemove"
    :on-change="handleImageChange"
    list-type="picture-card"
    :file-list="fileList"
    :limit="limit"
    :http-request="beforeThumbnailUpload"
  >
    <div slot="tip" class="el-upload__tip">
      {{ tipMsg }}
    </div>
    <i class="el-icon-plus"></i>
  </el-upload>
</template>

<script>
import { imgAdd } from "@/api/system";

export default {
  name: "DmpUploader",
  props: {
    tipMsg: {
      type: String
    },
    fileList: {
      type: Array
    },
    limit: {
      type: Number,
      default: 1
    },
    uploadType: {
      type: Number
    }
  },
  data() {
    return {
      hideUploadButton: false,
      fileData: null,
      loading: false
    }
  },
  methods: {
    handleRemove(file, fileList) {
      const length = fileList.length;
      if (length === 0) {
        this.hideUploadButton = false;
      }
      this.$emit('clearFileList')
      this.$emit('removeImage')
    },
    handleImageChange(file, fileList) {
      const length = fileList.length;
      if (length >= 1) {
        this.hideUploadButton = true;
      } else {
        this.hideUploadButton = false;
      }
    },
    beforeThumbnailUpload(uploadFile) {
      if (uploadFile.file) {
        const { file } = uploadFile
        const suffix =  file.name.toLowerCase();
        if (!/\.(jpg|JPG|png|PNG)$/.test(suffix)) {
          this.$message.error("上传失败：文件格式错误！");
          return false;
        }

        const isLt5M = file.size / 1024 / 1024 < 5;

        if (!isLt5M) {
          this.$message.error("上传头像图片大小不能超过 5MB!");
          return false;
        }

        this.fileData = file;
        this.uploadImage();
      }
    },
    uploadImage() {
      this.$emit('loadingupload' , true)
      let formData = new FormData();
      formData.append("file", this.fileData);
      imgAdd(formData, this.uploadType).then((res) => {
        if (res.data.state == "success") {
          this.$message.success("已成功上传！");
          this.$emit('handleUploadSuccess', res.data.data.id)
        }
      }).finally(() => {
        this.$emit('loadingupload' , false)
      }).catch(() => {
        this.$message('上传失败，请重试！')
        this.$emit('clearFileList')
      })
    },
    showUploadBtn() {
      this.hideUploadButton = false
    },
    hideUploadBtn() {
      this.hideUploadButton = true
    }
  }
};
</script>

<style lang="scss" scoped>
.avatar-uploader {
  /deep/ .el-upload--picture-card,
  /deep/ .el-upload-list--picture-card .el-upload-list__item {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }

  &.hide-upload-btn {
    /deep/ .el-upload--picture-card {
      display: none;
    }
  }

  /deep/ .el-upload-list__item.is-success .el-upload-list__item-status-label {
    display: none;
  }

  &.is-none {
    /deep/ .el-upload--picture-card {
      display: none;
    }
  }
}
</style>
