<template>
  <div class="processTemplateMain">
    <div class="pageTitle">流程模板</div>
    <div class="searchBox">
      <Form :model="searchFormData" class="searchForm" inline label-colon>
        <FormItem label="模板类型">
          <Select v-model="searchFormData.no" style="width: 160px" placeholder="请选择模板类型" clearable>
            <Option v-for="item in templateOptionList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem label="模板名称">
          <Input v-model="searchFormData.name" placeholder="请输入模板名称" clearable />
        </FormItem>
        <FormItem label="创建人">
          <Input v-model="searchFormData.creator" placeholder="请输入创建人" clearable />
        </FormItem>
        <FormItem label="创建日期">
          <DatePicker type="daterange" @on-change="handleChangeDate" style="width: 190px" placeholder="请选择创建日期" clearable :editable="false"></DatePicker>
        </FormItem>
        <FormItem label="状态">
          <Select v-model="searchFormData.status" style="width: 120px" placeholder="请选择状态" clearable>
            <Option v-for="item in statusOptionList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem>
          <Button type="primary" icon="ios-search-outline" class="allBtnStyle searchBtn" @click="searchProcessTemplate">查询</Button>
        </FormItem>
        <FormItem>
          <Button type="primary" class="allBtnStyle" @click="addProcessTemplate">
            <Icon type="md-add" size="18" style="vertical-align: top; margin-right: 8px" />
            <span>新增</span>
          </Button>
        </FormItem>
      </Form>
    </div>
    <div class="pageContent">
      <Table :columns="columnData" :data="tableData" class="mb10"></Table>
      <div class="prb">
        <Page
          class="pageClass"
          v-if="formPage.total > 0"
          :current="formPage.page"
          :page-size="formPage.size"
          :total="formPage.total"
          show-elevator
          show-sizer
          @on-change="changePage"
          @on-page-size-change="changeSize"
        />
      </div>
    </div>
    <Modal v-model="detailModal" title="流程模板详情" footer-hide class="detailModalClass">
      <Form :model="detailFormData" inline label-colon>
        <FormItem label="模板名称">{{ detailFormData.name }}</FormItem>
        <FormItem label="创建人">{{ detailFormData.creator }}</FormItem>
        <FormItem label="状态变更">{{ timeFormat(detailFormData.updateTime) }}</FormItem>
        <FormItem label="模板类型">{{ noFormatString(detailFormData.no) }}</FormItem>
        <FormItem label="创建时间">{{ timeFormat(detailFormData.createTime) }}</FormItem>
        <FormItem label="状态">{{ statusFormatString(detailFormData.status) }}</FormItem>
        <FormItem label="流程节点"></FormItem>
      </Form>
      <Steps :current="-1">
        <Step v-for="(itemNode, index) in detailFormData.nodes" :key="index" :title="itemNode.name">
          <div slot="content" class="stepsContent">
            {{ roleIdsFormatString(itemNode.roleIds) }}
          </div>
        </Step>
      </Steps>
    </Modal>
    <Modal v-model="editModal" :title="editModalTitle" :mask-closable="false" class="editModalClass">
      <Form ref="editFormValidate" :model="editFormData" :rules="editFormRule" inline label-colon>
        <FormItem label="模板名称" prop="name">
          <Input v-model="editFormData.name" style="width: 60%" placeholder="请输入模板名称" clearable />
        </FormItem>
        <FormItem label="模板类型" prop="no">
          <Select v-model="editFormData.no" style="width: 60%" placeholder="请选择模板类型" clearable>
            <Option v-for="item in templateOptionList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem label="创建人" prop="creator">
          <Input v-model="editFormData.creator" disabled style="width: 60%" />
        </FormItem>
        <FormItem label="状态" prop="status">
          <RadioGroup v-model="editFormData.status">
            <Radio v-for="(item, index) in statusOptionList" :key="index" :label="item.value">{{ item.label }}</Radio>
          </RadioGroup>
        </FormItem>
      </Form>
      <div>
        <div>流程节点：</div>
        <Steps :current="-1">
          <Step v-for="(itemNode, index) in editTableData" :key="index" :title="itemNode.name"></Step>
        </Steps>
        <Table :columns="editColumnData" :data="editTableData"></Table>
        <div class="editAddButton">
          <Button @click="addNode">
            <img src="@/assets/images/process/editModalAdd.svg" style="vertical-align: middle; margin-bottom: 2px" />
            添加新的节点
          </Button>
        </div>
      </div>
      <div slot="footer">
        <Button
          type="text"
          @click="
            () => {
              this.editModal = false;
            }
          "
          >取消</Button
        >
        <Button type="primary" @click="ok">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import moment from "moment";
import {
  getProcessType,
  getRoleIdList,
  saveProcessTemplate,
  queryProcessTemplateForPage,
  deleteProcessTemplate,
  processTemplateDetail,
  updateStatus,
} from "@/api/process";
export default {
  name: "ProcessTemplate",
  data() {
    return {
      templateOptionList: [],
      statusOptionList: [
        {
          label: "启用",
          value: 0,
        },
        {
          label: "停用",
          value: 1,
        },
      ],
      searchFormData: {},
      detailModal: false,
      detailFormData: {},
      editModal: false,
      editModalTitle: "",
      reviewerOptionList: [],
      editFormData: {},
      editFormRule: {
        name: [{ required: true, message: "请输入模板名称", trigger: "blur" }],
        no: [{ required: true, type: "number", message: "请选择模板类型", trigger: "change" }],
        creator: [{ required: true, message: "请输入创建人", trigger: "blur" }],
        status: [{ required: true, type: "number", message: "请选择状态", trigger: "change" }],
      },
      columnData: [
        {
          title: "模板名称",
          key: "name",
          render: (h, params) => {
            return h(
              "div",
              {
                attrs: {
                  class: "tableColNameClass",
                },
                on: {
                  click: () => {
                    console.log(params.row.id);
                    processTemplateDetail(params.row.id).then((res) => {
                      if (res.data.state === "success") {
                        this.detailModal = true;
                        this.detailFormData = res.data.data;
                        console.log(this.detailFormData);
                        this.detailFormData.nodes = res.data.data.nodes.map((item) => {
                          return {
                            name: item.name,
                            roleIds: item.roleIds.split(",").map((item) => parseInt(item)),
                          };
                        });
                      }
                    });
                  },
                },
              },
              params.row.name
            );
          },
        },
        {
          title: "模板类型",
          key: "no",
          render: (h, params) => {
            let noString = this.noFormatString(params.row.no);
            return h("span", noString);
          },
        },
        {
          title: "创建人",
          key: "creator",
        },
        {
          title: "创建时间",
          key: "createTime",
          render: (h, params) => {
            return h("span", this.timeFormat(params.row.createTime));
          },
        },
        {
          title: "状态",
          key: "status",
          align: "center",
          width: 120,
          render: (h, params) => {
            return h("i-switch", {
              props: {
                size: "large",
                value: params.row.status === 0 ? true : false,
                trueColor: "#3F73FF",
                falseColor: "#D9D9D9",
                "before-change": (e) => {
                  return new Promise((resolve) => {
                    this.$Modal.confirm({
                      title: "提示",
                      content: `此操作将${params.row.status === 0 ? "停用" : "启用"}模板【${params.row.name}】,是否继续?`,
                      onOk: () => {
                        let data = {
                          id: params.row.id,
                          status: params.row.status === 0 ? 1 : 0,
                        };
                        updateStatus(data).then((res) => {
                          if (res.data.state === "success") {
                            this.$Message.success("更新状态成功");
                            this.getProcessTemplateList();
                          } else if (res.data.state === "error") {
                            this.$Message.warning(res.data.message);
                          } else {
                            this.$Message.warning("更新状态失败");
                          }
                        });
                      },
                    });
                  });
                },
              },
              scopedSlots: {
                open: () => h("span", "启用"),
                close: () => h("span", "停用"),
              },
            });
          },
        },
        {
          title: "操作",
          align: "center",
          width: 120,
          render: (h, params) => {
            return h("div", [
              h(
                "img",
                {
                  attrs: {
                    src: require("@/assets/images/system/tableButtonEdit.svg"),
                  },
                  style: {
                    marginRight: "12px",
                  },
                  on: {
                    click: () => {
                      processTemplateDetail(params.row.id).then((res) => {
                        if (res.data.state === "success") {
                          this.editModalTitle = "流程模板编辑";
                          this.editModal = true;
                          this.$refs["editFormValidate"].resetFields();
                          this.editFormData = res.data.data;
                          this.editTableData = res.data.data.nodes.map((item) => {
                            return {
                              name: item.name,
                              roleIds: item.roleIds.split(",").map((item) => parseInt(item)),
                            };
                          });
                        }
                      });
                    },
                  },
                },
                "编辑"
              ),
              h(
                "img",
                {
                  attrs: {
                    src: require("@/assets/images/system/tableButtonDelete.svg"),
                  },
                  on: {
                    click: () => {
                      this.$Modal.confirm({
                        title: "删除",
                        content: "<p>确定要删除模板【" + params.row.name + "】吗？</p>",
                        onOk: () => {
                          deleteProcessTemplate(params.row.id).then((res) => {
                            if (res.data.state === "success") {
                              this.$Message.success("流程模板删除成功");
                              let newTotal = this.formPage.total - 1;
                              let size = this.formPage.size;
                              if (newTotal > size && newTotal % size === 0) {
                                this.formPage.page--;
                              }
                              this.getProcessTemplateList();
                            } else if (res.data.state === "error") {
                              this.$Message.warning(res.data.message);
                            } else {
                              this.$Message.warning("流程模板删除失败");
                            }
                          });
                        },
                      });
                    },
                  },
                },
                "删除"
              ),
            ]);
          },
        },
      ],
      tableData: [],
      formPage: {
        page: 1,
        size: 10,
        total: 0,
      },
      editColumnData: [
        {
          title: "节点",
          width: 80,
          type: "index",
        },
        {
          title: "节点名称",
          key: "name",
          width: 120,
          render: (h, params) => {
            return h("Input", {
              props: {
                value: params.row.name,
                placeholder: "请输入",
              },
              on: {
                input: (val) => {
                  this.$set(this.editTableData[params.row._index], "name", val);
                },
              },
            });
          },
        },
        {
          title: "审核人",
          key: "roleIds",
          render: (h, params) => {
            let options = this.reviewerOptionList.map((item) => {
              return h("Option", {
                props: {
                  value: item.roleId,
                  label: item.name,
                },
              });
            });
            return h(
              "Select",
              {
                props: {
                  value: params.row.roleIds,
                  multiple: true,
                  filterable: true,
                },
                on: {
                  input: (val) => {
                    this.editTableData[params.row._index].roleIds = val;
                  },
                },
              },
              options
            );
          },
        },
        {
          title: "操作",
          align: "center",
          width: 120,
          render: (h, params) => {
            return h("div", [
              h("img", {
                attrs: {
                  src: require("@/assets/images/system/tableButtonDelete.svg"),
                },
                on: {
                  click: () => {
                    let editTableData = JSON.parse(JSON.stringify(this.editTableData));
                    editTableData.splice(params.index, 1);
                    this.editTableData = editTableData;
                  },
                },
              }),
            ]);
          },
        },
      ],
      editTableData: [],
    };
  },
  mounted() {
    // this.getProcessType();
    this.getRoleIdList();
    this.getProcessTemplateList();
  },
  methods: {
    // 获取流程模板的所有模板类型
    getProcessType() {
      getProcessType().then((res) => {
        if (res.data.state === "success") {
          this.templateOptionList = res.data.data;
          console.log(this.templateOptionList);
        }
      });
    },
    // 获取审核人列表
    getRoleIdList() {
      getRoleIdList().then((res) => {
        if (res.data.state === "success") {
          this.reviewerOptionList = res.data.data;
        }
      });
    },
    // 获取流程模板的table列表
    getProcessTemplateList() {
      let params = Object.assign({}, this.searchFormData);
      params.pageNum = this.formPage.page;
      params.pageSize = this.formPage.size;
      queryProcessTemplateForPage(params).then((res) => {
        if (res.data.state === "success") {
          const { data } = res.data;
          this.tableData = data.data;
          this.formPage.total = data.count;
        }
      });
    },
    // 创建时间选择器变化
    handleChangeDate(date) {
      this.searchFormData.startTime = date[0];
      this.searchFormData.endTime = date[1];
    },
    // 点击查询
    searchProcessTemplate() {
      this.formPage.page = 1;
      this.formPage.size = 10;
      this.getProcessTemplateList();
    },
    // 分页器
    changePage(current) {
      this.formPage.page = current;
      this.getProcessTemplateList();
    },
    changeSize(current) {
      this.formPage.size = current;
      this.getProcessTemplateList();
    },
    // 点击新增
    addProcessTemplate() {
      this.editModalTitle = "流程模板新增";
      this.editModal = true;
      this.$refs["editFormValidate"].resetFields();
      this.editFormData = {
        creator: this.$store.state.user.userName,
        status: 0,
      };
      this.editTableData = [];
    },
    // modal框 点击添加新的节点
    addNode() {
      this.editTableData.push({});
    },
    ok() {
      this.$refs["editFormValidate"].validate((valid) => {
        if (valid) {
          let params = Object.assign({}, this.editFormData);
          params.nodeDtoList = this.editTableData
            .filter((item) => item.name && item.roleIds && item.roleIds.length)
            .map((item, index) => {
              return {
                step: index + 1,
                name: item.name,
                roleIds: item.roleIds.join(","),
              };
            });
          if (params.nodeDtoList.length !== this.editTableData.length) {
            this.$Message.warning("请确认流程节点的信息是否填写完整");
            return;
          }
          saveProcessTemplate(params).then((res) => {
            if (res.data.state === "success") {
              if (params.id) {
                this.$Message.success("编辑流程模板成功");
              } else {
                this.$Message.success("新增流程模板成功");
              }
              this.editModal = false;
              this.formPage.page = 1;
              this.formPage.size = 10;
              this.getProcessTemplateList();
            } else if (res.data.state === "error") {
              this.$Message.warning(res.data.message);
            } else {
              this.$Message.warning("流程模板保存失败");
            }
          });
        }
      });
    },
    // roleIds转化为字符串
    roleIdsFormatString(roleIds) {
      let arr = this.reviewerOptionList.filter((item) => {
        return roleIds.indexOf(item.roleId) > -1;
      });
      if (arr.length) {
        return arr.map((item) => item.name).join("; ");
      } else {
        return "";
      }
    },
    // 模板类型no转化为字符
    noFormatString(no) {
      let arr = this.templateOptionList.filter((item) => item.value === no);
      if (arr.length) {
        return arr[0].label;
      } else {
        return "";
      }
    },
    // 状态status转化为字符
    statusFormatString(status) {
      let arr = this.statusOptionList.filter((item) => item.value === status);
      if (arr.length) {
        return arr[0].label;
      } else {
        return "";
      }
    },
    // 时间戳格式的时间转化
    timeFormat(time) {
      return moment(time).format("YYYY-MM-DD HH:mm:ss");
    },
  },
};
</script>

<style lang="less" scoped>
.mb10 {
  margin-bottom: 10px;
}
.processTemplateMain {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #ffffff;
  border-radius: 4px;
  padding: 24px;
  .pageTitle {
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    color: #333333;
  }
  .searchBox {
    margin-top: 24px;
    .searchForm {
      /deep/ .ivu-form-item {
        margin-right: 16px;
        margin-bottom: 16px;
      }
      /deep/ .ivu-form-item-content {
        display: inline-block;
      }
    }
  }
  .pageContent {
    /deep/ .ivu-table-wrapper .tableColNameClass {
      color: #3f73ff;
      cursor: pointer;
    }
  }
  .allBtnStyle {
    background: #3f73ff;
    border-radius: 2px;
  }
  .searchBtn {
    /deep/.ivu-icon {
      line-height: 1;
    }
    /deep/.ivu-icon::before {
      content: url("~@/assets/images/system/buttonSearch.svg");
    }
  }
  .prb {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-bottom: 12px;
  }
}
.detailModalClass {
  /deep/ .ivu-modal {
    width: 960px !important;
    .ivu-modal-header {
      padding: 14px 24px;
    }
    .ivu-modal-body {
      padding: 24px 24px 48px;
    }
    .ivu-form-item {
      width: 30%;
    }
    .ivu-steps {
      padding: 0 24px;
      .stepsContent {
        width: 120px;
      }
    }
  }
}
.editModalClass {
  /deep/ .ivu-modal {
    width: 900px !important;
    .ivu-modal-header {
      padding: 14px 24px;
    }
    .ivu-modal-body {
      padding: 24px 24px 0;
    }
    .ivu-form-item {
      width: 30%;
    }
    .ivu-steps {
      padding: 24px 150px;
    }
    .ivu-table-cell {
      padding-left: 12px;
      padding-right: 12px;
    }
    .ivu-form {
      .ivu-radio {
        margin-right: 10px;
      }
      .ivu-radio-wrapper {
        vertical-align: text-bottom;
        margin-right: 24px;
      }
    }
    .ivu-table-body {
      min-height: 300px;
      .ivu-select.ivu-select-multiple {
        .ivu-select-dropdown {
          max-height: 160px;
        }
        .ivu-tag {
          .ivu-tag-text {
            color: #3f73ff;
          }
          .ivu-icon-ios-close {
            color: #3f73ff;
          }
        }
      }
    }
    .editAddButton {
      .ivu-btn {
        width: 100%;
        border: 1px dashed #3f73ff;
        color: #3f73ff;
      }
    }
  }
}
// step颜色
/deep/ .ivu-modal {
  .ivu-steps {
    .ivu-steps-head-inner {
      border-color: #3f73ff;
      span {
        color: #3f73ff;
      }
    }
    .ivu-steps-main {
      .ivu-steps-title {
        color: #3f73ff;
        min-height: 21px;
      }
    }
    .ivu-steps-title:after {
      background: #3f73ff;
    }
  }
  .ivu-btn {
    width: 72px;
    border-radius: 2px;
  }
  .ivu-btn.ivu-btn-primary {
    background-color: #3f73ff;
    border-color: #3f73ff;
  }
}
/* 去掉报告选择时的table边框 */
/deep/ .ivu-table::after {
  width: 0;
}

/deep/ .ivu-table::before {
  height: 0;
}

/deep/ .ivu-table-wrapper {
  border: none;
}

/deep/ .ivu-table th {
  border-bottom: none;
}

/deep/ .ivu-table-wrapper {
  .ivu-table {
    color: #333333;
    // 表头高度，背景色
    .ivu-table-header thead tr th {
      height: 40px;
      background: #f0f5ff;
    }
    // 鼠标划过无背景色
    tr.ivu-table-row-hover td {
      background-color: #fff;
    }
  }
}
</style>
