<template>
  <div class="processManageMain">
    <Tabs v-model="curTabType" @on-click="handleTabClick">
      <TabPane v-for="(item, index) in tabOptionList" :key="index" :label="item.label" :name="item.value"></TabPane>
    </Tabs>
    <div class="searchBox">
      <Form :model="searchFormData" class="searchForm" inline label-colon>
        <FormItem label="流程类型">
          <Select v-model="searchFormData.flowNo" style="width: 160px" placeholder="请选择流程类型" clearable>
            <Option v-for="item in processTypeOptionList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem label="流程名称">
          <Input v-model="searchFormData.flowName" placeholder="请输入流程名称" clearable />
        </FormItem>
        <FormItem label="创建人">
          <Input v-model="searchFormData.creator" placeholder="请输入创建人" clearable />
        </FormItem>
        <FormItem label="创建日期">
          <DatePicker type="daterange" @on-change="handleChangeDate" style="width: 190px" placeholder="请选择创建日期" clearable :editable="false"></DatePicker>
        </FormItem>
        <FormItem label="状态">
          <Select v-model="searchFormData.status" style="width: 120px" placeholder="请选择状态" clearable>
            <Option v-for="item in statusOptionList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </FormItem>
        <FormItem>
          <Button type="primary" icon="ios-search-outline" class="allBtnStyle searchBtn" @click="searchFlowData">查询</Button>
        </FormItem>
      </Form>
    </div>
    <div class="pageContent">
      <Table :columns="columnData" :data="tableData" class="mb10"></Table>
      <div class="prb">
        <Page class="pageClass" v-if="formPage.total > 0"
          :current="formPage.page"
          :page-size="formPage.size"
          :total="formPage.total"
          show-elevator
          show-sizer
          @on-change="changePage"
          @on-page-size-change="changeSize"/>
      </div>
    </div>
    <!-- flagApproval为0 代表流程审核 为1 代表流程查看 -->
    <Modal
      v-model="detailModal"
      :title="detailModalTitle"
      :footer-hide="detailFormData.flagApproval !== 0"
      :mask-closable="false"
      class="detailModalClass">
      <Steps v-if="detailModal" :current="detailFormData.current" :status="detailFormData.currentStatus">
        <Step v-for="(itemNode, index) in detailFormData.nodes" :key="index" :title="itemNode.nodeName">
          <div slot="content" class="stepsContent">
            <p>{{ itemNode.approvalUserName ? itemNode.approvalUserName :
              ( detailFormData.currentStatus === 'error' || index === detailFormData.nodes.length-1 ? '' : '等待审核') }}
              <span v-if="itemNode.approvalUserName && index !== 0" class="approvalUserNameSign">审核人</span>
            </p>
            <p>{{ itemNode.approvalTime ? timeFormat(itemNode.approvalTime) : '' }}</p>
            <p>{{ itemNode.approvalOpinion ? itemNode.approvalOpinion : '' }}</p>
          </div>
        </Step>
      </Steps>
      <div class="approvalBox" v-if="detailFormData.flagApproval === 0">
        <Form ref="approvalValidate" :model="detailFormData" :rules="approvalRule" label-colon :label-width="80">
          <FormItem label="审核结果" prop="approvalStatus">
            <RadioGroup v-model="detailFormData.approvalStatus">
              <Radio v-for="(item, index) in approvalOptionList" :key="index" :label="item.value">{{ item.label }}</Radio>
            </RadioGroup>
          </FormItem>
          <FormItem label="审核意见" prop="approvalOpinion">
            <Input v-model="detailFormData.approvalOpinion" type="textarea" style="width: 90%" />
          </FormItem>
        </Form>
      </div>
      <div slot="footer">
        <Button type="text" @click="() => { this.detailModal = false }">取消</Button>
        <Button type="primary" :loading="btnLoading" @click="ok">确定</Button>
      </div>
    </Modal>
  </div>
</template>

<script>
import moment from 'moment'
import {
  getProcessType,
  findFlowData,
  findFlowDetailData,
  reviewFlow
} from '@/api/process'
export default {
  name: 'ProcessList',
  data() {
    return {
      btnLoading: false,
      curTabType: '1',
      tabOptionList: [
        {
          label: '待办任务',
          value: '1'
        },
        {
          label: '已办任务',
          value: '2'
        },
        {
          label: '由我创建',
          value: '3'
        }
      ],
      processTypeOptionList: [],
      statusOptionList: [
        {
          label: '撤回',
          value: 0
        },
        {
          label: '驳回',
          value: 1
        },
        {
          label: '审核中',
          value: 2
        },
        {
          label: '已完成',
          value: 3
        },
        {
          label: '终止',
          value: 4
        }
      ],
      approvalOptionList: [
        {
          label: '通过',
          value: 1
        },
        {
          label: '驳回',
          value: 2
        }
      ],
      approvalRule: {
        approvalStatus: [
          { required: true, type: 'number', message: '请选择审核结果', trigger: 'change' }
        ],
        approvalOpinion: [
          { required: true, message: '请输入审核意见', trigger: 'blur' }
        ]
      },
      searchFormData: {},
      detailModal: false,
      detailModalTitle: '',
      detailFormData: {},
      columnData: [
        {
          title: '流程名称',
          key: 'name',
          render: (h, params) => {
            return h('div', {
              attrs: {
                class: 'tableColNameClass'
              },
              on: {
                click: () => {
                  // 去到对应流程页面，目前只有数据集
                  let path = ''
                  let filterArr = this.processTypeOptionList.filter(item => item.value === params.row.processType)
                  if(filterArr.length){
                    path = filterArr[0].path
                  } else {
                    this.$Message.warning('没有跳转路径')
                    return
                  }
                  this.$router.push({ path: path, query: { datasetId: params.row.modelId, edit: false , view:true } })
                }
              }
            }, params.row.name)
          }
        },
        {
          title: '流程类型',
          key: 'processType',
          render: (h, params) => {
            let processTypeString = this.processTypeFormatString(params.row.processType)
            return h('span', processTypeString)
          }
        },
        {
          title: '创建人',
          key: 'creator'
        },
        {
          title: '创建时间',
          key: 'createTime',
          render: (h, params) => {
            return h('span', this.timeFormat(params.row.createTime))
          }
        },
        {
          title: '状态',
          key: 'status',
          render: (h, params) => {
            let statusString = this.statusFormatString(params.row.status)
            return h('span', statusString)
          }
        },
        {
          title: '当前节点',
          key: 'todoNodeName'
        },
        {
          title: '操作',
          align: 'center',
          width: 120,
          render: (h, params) => {
            return h('div', [
              h('span', {
                attrs: {
                  class: 'tableColNameClass'
                },
                on: {
                  click: () => {
                    findFlowDetailData(params.row.id).then(res => {
                      if(res.data.state === 'success'){
                        this.detailModal = true
                        if(params.row.flagApproval === 0){
                          this.detailModalTitle = '流程审核'
                          this.$refs['approvalValidate'] && this.$refs['approvalValidate'].resetFields()
                        } else {
                          this.detailModalTitle = '流程详情'
                        }
                        this.detailFormData = JSON.parse(JSON.stringify(params.row))
                        // 默认在第二个节点，即创建的后一个节点
                        this.detailFormData.current = 1
                        this.detailFormData.currentStatus = 'process'
                        for(let i=0; i<res.data.data.length; i++) {
                          if(res.data.data[i].approvalStatus === 1){
                            this.detailFormData.current = i + 2
                            this.detailFormData.currentStatus = 'process'
                          } else if(res.data.data[i].approvalStatus === 2){
                            this.detailFormData.current = i + 1
                            this.detailFormData.currentStatus = 'error'
                          }
                        }
                        this.detailFormData.nodes = [
                          {
                            nodeName: '创建',
                            approvalUserName: params.row.creator,
                            approvalTime: params.row.createTime
                          }
                        ].concat(res.data.data).concat([
                          {
                            nodeName: '归档'
                          }
                        ])
                      }
                    })
                  }
                }
              }, params.row.flagApproval === 0 ? '审核' : '查看')
            ])
          }
        }
      ],
      tableData: [],
      formPage: {
        page: 1,
        size: 10,
        total: 0
      }
    }
  },
  mounted() {
    this.getProcessType()
    this.findFlowData()
  },
  methods: {
    // 获取流程类型的所有类型
    getProcessType() {
      getProcessType().then(res => {
        if(res.data.state === 'success'){
          this.processTypeOptionList = res.data.data
        }
      })
    },
    // 点击标签页
    handleTabClick(name) {
      this.formPage.page = 1
      this.formPage.size = 10
      this.findFlowData()
    },
    // 获取流程的table列表
    findFlowData() {
      let params = Object.assign({}, this.searchFormData)
      params.type = this.curTabType
      params.pageNum = this.formPage.page
      params.pageSize = this.formPage.size
      findFlowData(params).then(res => {
        if(res.data.state === 'success'){
          const { data } = res.data
          this.tableData = data.data
          this.formPage.total = data.count
        }
      })
    },
    // 创建时间选择器变化
    handleChangeDate(date){
      this.searchFormData.startTime = date[0]
      this.searchFormData.endTime = date[1]
    },
    // 查询
    searchFlowData() {
      this.formPage.page = 1
      this.formPage.size = 10
      this.findFlowData()
    },
    // 分页器
    changePage(current) {
      this.formPage.page = current
      this.findFlowData()
    },
    changeSize(current) {
      this.formPage.size = current
      this.findFlowData()
    },
    // 流程审核
    ok() {
      this.$refs['approvalValidate'].validate((valid) => {
        if(valid) {
          let params = {
            flowId: this.detailFormData.id,
            nodeId: this.detailFormData.nodeId,
            lastUpdateTimestamp: this.detailFormData.updateTime,
            approvalStatus: this.detailFormData.approvalStatus,
            approvalOpinion: this.detailFormData.approvalOpinion
          }
          this.btnLoading = true
          reviewFlow(params).then(res => {
            if(res.data.state === 'success'){
              this.$Message.success(res.data.message)
              this.detailModal = false
              this.btnLoading = false
              this.formPage.page = 1
              this.formPage.size = 10
              this.findFlowData()
            } else {
              this.btnLoading = false
              this.$Message.warning(res.data.message)
            }
          })
        }
      })
    },
    // 流程类型processType转化为字符
    processTypeFormatString(processType){
      let arr = this.processTypeOptionList.filter(item => item.value === processType)
      if(arr.length){
        return arr[0].label
      } else {
        return ''
      }
    },
    // 状态status转化为字符
    statusFormatString(status) {
      let arr = this.statusOptionList.filter(item => item.value === status)
      if(arr.length) {
        return arr[0].label
      } else {
        return ''
      }
    },
    // 时间戳格式的时间转化
    timeFormat(time) {
      return moment(time).format('YYYY-MM-DD HH:mm:ss')
    }
  }
}
</script>

<style lang="less" scoped>
.mb10{
  margin-bottom: 10px;
}
.processManageMain{
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 24px;
  .pageTitle{
    font-size: 16px;
    line-height: 32px;
    font-weight: bold;
    color: #333333;
  }
  .searchBox{
    .searchForm {
      /deep/ .ivu-form-item{
        margin-right: 16px;
        margin-bottom: 16px;
      }
      /deep/ .ivu-form-item-content{
        display: inline-block;
      }
    }
  }
  .pageContent{
    /deep/ .ivu-table-wrapper .tableColNameClass{
      color: #3F73FF;
      cursor: pointer;
    }
  }
  .allBtnStyle{
    background: #3F73FF;
    border-radius: 2px;
  }
  .searchBtn{
    /deep/.ivu-icon{
      line-height: 1;
    }
    /deep/.ivu-icon::before{
      content: url("~@/assets/images/system/buttonSearch.svg");
    }
  }
  .prb{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-bottom: 12px;
  }
}
.detailModalClass{
  /deep/ .ivu-modal{
    width: 960px!important;
    .ivu-modal-header{
      padding: 14px 24px;
    }
    .ivu-modal-body{
      padding: 48px 80px;
    }
    .ivu-steps{
      padding: 0 24px;
      .ivu-steps-status-process{
        .ivu-steps-head-inner{
          border-color: #3F73FF;
          background-color: #3F73FF;
        }
      }
      .ivu-steps-status-finish{
        .ivu-steps-title:after{
          background: #3F73FF;
        }
      }
      .stepsContent{
        p{
          line-height: 22px;
        }
        .approvalUserNameSign{
          background: #F6FFED;
          border-radius: 10px;
          color: #73D13D;
          margin-left: 8px;
          padding: 2px 8px;
        }
      }
    }
    .ivu-form{
      margin-top: 24px;
      padding-top: 24px;
      border-top: 1px dashed #ccc;
      .ivu-radio{
        margin-right: 10px;
      }
      .ivu-radio-wrapper{
        vertical-align: text-bottom;
        margin-right: 24px;
      }
      textarea.ivu-input{
        font-size: 12px;
      }
    }
    .ivu-btn{
      width: 72px;
      border-radius: 2px;
    }
    .ivu-btn.ivu-btn-primary{
      background-color: #3F73FF;
      border-color: #3F73FF;
    }
  }
}
</style>
