<template>
  <div id="app">
    <router-view />

    <!-- 智能问答 -->
    <IntelligentAnswerIcon v-if="$store.state.user.token" />
  </div>
</template>

<script>
import IntelligentAnswerIcon from "@/view/IntelligentAnswer/IntelligentAnswerIcon";
import { findAllIndicator } from '@/api/indicator'
import { findAllDimension } from '@/api/dimension'
import { mapActions } from "vuex";

export default {
  name: 'App',
  components: {
    IntelligentAnswerIcon
  },
  mounted() {
    // 很多页面都用到维度、指标，所以在App.vue中先获取
    if (window.location.hash === '#/login') {
      // 登录页不请求
      return
    }
    this.findAllDimension()
    this.findAllIndicator()
  },
  methods: {
    ...mapActions([
      'setDimensions',
      'setIndicators'
    ]),

    async findAllDimension() {
      const res = await findAllDimension()
      if (res.data.state === 'success') {
        const { data } = res.data
        const dimensions = data
        this.setDimensions({ dimensions })
        localStorage.setItem('allDimensions', JSON.stringify(dimensions))
      }
    },

    async findAllIndicator() {
      const res = await findAllIndicator()
      if (res.data.state === 'success') {
        const { data } = res.data
        const indicators = data
        this.setIndicators({ indicators })
        localStorage.setItem('allIndicators', JSON.stringify(indicators))
      }
    },
  },
}
</script>

<style lang="less">
.size{
  width: 100%;
  height: 100%;
}
html,body{
  .size;
  // overflow: hidden;
  margin: 0;
  padding: 0;
  color: #333333 !important;
}
//@media screen and (max-width: 1680px) and (min-width: 1024px) {
//  html{font-size: 10px;}
//}
//@media screen and (min-width: 1680px) {
//  html{font-size: 12px;}
//}
//@media screen and (min-width: 1920px) {
//  html{font-size: 14px;}
//}
#app {
  .size;
}
// 颜色选择器样式设置
#app .m-colorPicker {
  position: static;
  width: 28px;
  height: 28px;
  padding: 10px 5px;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  vertical-align: middle;
}
#app .m-colorPicker .colorBtn{
  position: relative;
  width: 16px;
  height: 4px;
}
// 扩大可点击区域
#app .m-colorPicker .colorBtn:before{
  content: '';
  display: inline-block;
  width: 28px;
  height: 28px;
  position: absolute;
  left: -6px;
  top: -12px;
}
// 右下角三角形
#app .m-colorPicker .colorBtn:after{
  content: '';
  position: absolute;
  right: -6px;
  bottom: -12px;
  border-bottom: 7px solid rgba(0,0,0,0.85);
  border-left: 7px solid transparent;
}
#app .item {
  position: relative;
}
#app .m-colorPicker .box{
  left: -5%;
  z-index: 99;
}
@media screen and (min-width: 1920px) {
  #app .m-colorPicker .box{
    left: 1%;
  }
}
// 背景色样式
#app .bgColorPicker.m-colorPicker{
  padding: 5px;
}
#app .bgColorPicker.m-colorPicker .colorBtn{
  width: 17px;
  height: 17px;
}
// 扩大可点击区域
#app .bgColorPicker.m-colorPicker .colorBtn:before{
  left: -6px;
  top: -6px;
}
// 右下角三角形
#app .bgColorPicker.m-colorPicker .colorBtn:after{
  right: -4px;
  bottom: -4px;
}
// 字体样式
#app .fontColorPicker.m-colorPicker{
  padding: 17px 6px 5px 6px;
}
// 扩大可点击区域
#app .fontColorPicker.m-colorPicker .colorBtn:before{
  left: -6px;
  top: -17px;
}
#app .fontColorPicker.m-colorPicker .colorBtn:after{
  content: 'A';
  font-weight: bold;
  right: 3px;
  bottom: 0;
  border-bottom: none;
  border-left: none;
}
#app .gaugeColorPicker1.m-colorPicker{
  padding: 5px;
}
#app .gaugeColorPicker1.m-colorPicker .colorBtn{
  width: 17px;
  height: 17px;
}
// 扩大可点击区域
#app .gaugeColorPicker1.m-colorPicker .colorBtn:before{
  content: '1';
  font-weight: bold;
  right: 0;
  bottom: 0;
  border-bottom: none;
  border-left: none;
}
// 右下角三角形
#app .gaugeColorPicker1.m-colorPicker .colorBtn:after{
  right: -4px;
  bottom: -4px;
}
#app .gaugeColorPicker2.m-colorPicker{
  padding: 5px;
}
#app .gaugeColorPicker2.m-colorPicker .colorBtn{
  width: 17px;
  height: 17px;
}
// 扩大可点击区域
#app .gaugeColorPicker2.m-colorPicker .colorBtn:before{
  content: '2';
  font-weight: bold;
  right: 0;
  bottom: 0;
  border-bottom: none;
  border-left: none;
}
// 右下角三角形
#app .gaugeColorPicker2.m-colorPicker .colorBtn:after{
  right: -4px;
  bottom: -4px;
}
#app .gaugeColorPicker3.m-colorPicker{
  padding: 5px;
}
#app .gaugeColorPicker3.m-colorPicker .colorBtn{
  width: 17px;
  height: 17px;
}
// 扩大可点击区域
#app .gaugeColorPicker3.m-colorPicker .colorBtn:before{
  content: '3';
  font-weight: bold;
  right: 0;
  bottom: 0;
  border-bottom: none;
  border-left: none;
}
// 右下角三角形
#app .gaugeColorPicker3.m-colorPicker .colorBtn:after{
  right: -4px;
  bottom: -4px;
}
#app .gaugeColorPicker4.m-colorPicker{
  padding: 5px;
}
#app .gaugeColorPicker4.m-colorPicker .colorBtn{
  width: 17px;
  height: 17px;
}
// 扩大可点击区域
#app .gaugeColorPicker4.m-colorPicker .colorBtn:before{
  content: '4';
  font-weight: bold;
  right: 0;
  bottom: 0;
  border-bottom: none;
  border-left: none;
}
// 右下角三角形
#app .gaugeColorPicker4.m-colorPicker .colorBtn:after{
  right: -4px;
  bottom: -4px;
}
#app .gaugeColorPicker5.m-colorPicker{
  padding: 5px;
}
#app .gaugeColorPicker5.m-colorPicker .colorBtn{
  width: 17px;
  height: 17px;
}
// 扩大可点击区域
#app .gaugeColorPicker5.m-colorPicker .colorBtn:before{
  content: '5';
  font-weight: bold;
  right: 0;
  bottom: 0;
  border-bottom: none;
  border-left: none;
}
// 右下角三角形
#app .gaugeColorPicker5.m-colorPicker .colorBtn:after{
  right: -4px;
  bottom: -4px;
}
//#app .gaugeColorPicker.m-colorPicker .colorBtn:after{
//  content: 'A';
//  font-weight: bold;
//  right: 3px;
//  bottom: 0;
//  border-bottom: none;
//  border-left: none;
//}

// 警告modal框图标
.ivu-modal-confirm-head-icon-confirm .ivu-icon-ios-help-circle{
  font-size: 16px;
}
.ivu-modal-confirm-head-icon-confirm .ivu-icon-ios-help-circle:before{
  content: url("./assets/images/warningModal.svg");
}
@font-face {
  font-family: 'aliPuHui Medium';
  src: url-loader("src/assets/fonts/ALIBABA-PUHUITI-MEDIUM.OTF");
}
// 按钮样式，根据FineInsight设计规范，按钮分为主要、常规、次要
.ivu-btn.main-btn{
  width: 72px;
  color: #FFFFFF;
  background-color: #3F73FF;
  border-color: #3F73FF;
  border-radius: 2px;
  &:hover{
    background-color: #559FFF;
    border-color: #559FFF;
  }
  &:active{
    background-color: #3562D9;
    border-color: #3562D9;
  }
  &:focus{
    box-shadow: none;
  }
}
.ivu-btn.general-btn{
  width: 72px;
  color: #3F73FF;
  background-color: #FFFFFF;
  border-color: #3F73FF;
  border-radius: 2px;
  &:hover{
    color: #559FFF;
    border-color: #559FFF;
  }
  &:active{
    color: #3562D9;
    border-color: #3562D9;
  }
  &:focus{
    box-shadow: none;
  }
}
.ivu-btn.secondary-btn{
  width: 72px;
  color: #666666;
  background-color: #FFFFFF;
  border-color: #D9D9D9;
  border-radius: 2px;
  &:hover{
    color: #559FFF;
    border-color: #559FFF;
  }
  &:active{
    color: #3562D9;
    border-color: #3562D9;
  }
  &:focus{
    box-shadow: none;
  }
}
// modal框按钮
.ivu-modal{
  .ivu-modal-body{
    padding-right: 24px;
    .ivu-modal-confirm{
      .ivu-modal-confirm-head{
        .ivu-modal-confirm-head-icon-success{
          height: 42px;
          padding-top: 9px;
          width: 16px !important;
          font-size: 18px !important;
        }
        .ivu-modal-confirm-head-title{
          font-size: 14px;
          font-family: "aliPuHui Medium";
          color: #333333;
        }
      }

      .ivu-modal-confirm-body{
        padding-left: 30px;
        font-size: 12px;
        color: #555555;
      }
      .ivu-modal-confirm-footer{
        button + button{
          margin-left: 16px;
        }
        .ivu-btn{
          width: 56px;
          height: 24px;
          line-height: 1;
          padding: 0;
          border-radius: 2px;
          > span {
            vertical-align: initial;
          }
        }
        .ivu-btn-text{
          border: 1px solid #D9D9D9;
        }
        .ivu-btn-primary{
          background-color: #3F73FF;
          border-color: #3F73FF;
        }
      }
    }
  }
  .ivu-modal-content{
    .ivu-modal-footer{
      button + button{
        margin-left: 16px;
      }
      .ivu-btn{
        width: 72px;
        height: 32px;
        border-radius: 2px;
      }
      .ivu-btn-text{
        border: 1px solid #D9D9D9;
      }
      .ivu-btn-primary{
        background-color: #3F73FF;
        border-color: #3F73FF;
      }
    }
  }
}

#app {
  position: relative;
  .intelligentAnswerIcon-container {
    position: absolute;
  }
}
</style>
