@import '~iview/src/styles/index.less';
@import '~@/styles/tree.less';
@import '~@/styles/indicatorIcon.less'; // 指标icon

// Here are the variables to cover, such as:
@primary-color: #3F73FF;

@menu-dark-title: #16234A;
@menu-dark-active-bg: #16234A;
@layout-sider-background: #16234A;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #EBEDF2;
  border-radius: 4px;
}

.drawing-area {
  height: 100%;
  width: 100%;
  //padding: 0 20px;
}

.ivu-layout {
  background: #F3F7FF;
}

@font-face {
  font-family: 'aliPuHui Regular';
  src: url-loader("src/assets/fonts/ali-regular.ttf");
}

body {
  font-family: "aliPuHui Regular";
}

.pageClass {
  position: relative;
}


.custom-tree {
  user-select: none;

  .ivu-tree-title {
    text-overflow: ellipsis;

    &:hover {
      background: none;
    }
  }

  .ivu-tree-title-selected {
    color: #3F73FF;
    background: none;
  }

  ul li {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    outline: none;
  }

  .ivu-tree-arrow {
    width: 15px;
  }

  &.ivu-tree .ivu-icon {
    // 禁止旋转
    transform: rotate(0deg);
  }

  .ivu-icon-ios-arrow-forward:before {
    content: '' !important;
    background: url('~@/assets/images/system/treePlusForManage.svg') no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
    margin-top: 0 !important;
  }

  .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
    content: '' !important;
    display: block;
    background: url('~@/assets/images/system/treeMinusForManage.svg') no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }

  >ul>li:first-child>.ivu-tree-arrow-open:first-child .ivu-icon-ios-arrow-forward:before {
    background: url('~@/assets/images/system/treeRoot.svg') no-repeat;
  }
}

// .ivu-select {
//   overflow: hidden;
// }
.fa-tree-select-transfer {
  text-align: left;
  width: 250px;
  overflow: hidden;

  .fa-tree-select-option {
    display: none;
  }

  .ivu-select-dropdown {
    overflow: visible;
    width: 250px;
  }

  .ivu-select-dropdown-list {
    padding-top: 42px;
  }

  .search-input {
    background: #fff;
    width: calc(~'100% - 20px');
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 1;
  }

  .treeContainer-fa-tree {
    padding: 0 14px 14px 14px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 152px;
  }

  .ivu-tree {
    >ul>li:first-child>.ivu-tree-arrow-open:first-child .ivu-icon-ios-arrow-forward:before {
      background: url('~@/assets/images/system/treeRoot.svg') no-repeat;
    }

    .ivu-tree-children::after {
      width: 10px;
    }

  }

  .ivu-tree-arrow-open i {
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
  }

  .ivu-tree-arrow .ivu-icon-ios-arrow-forward:before {
    margin-top: 7px;
    content: url('~@/assets/images/system/treePlus.svg');
  }

  .ivu-tree-arrow-open .ivu-icon-ios-arrow-forward:before {
    content: url('~@/assets/images/system/treeMinus.svg');
  }
}

.table-spin-icon-load {
  animation: ani-demo-spin 1s linear infinite;
}

@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}