<template>
  <div style=" width: 100%; height: 100%; margin-top: 5px" @click="onEdit" @mousedown="handleTabMouseDown" class="faTab" ref="tabBox">
    <Tabs :style="{width: '100%', marginTop: currentSelectChart && currentSelectChart.id === 'FaTab' && currentSelectChart.style.showTitle ? 0 : '30px'}" size="small" :animated="false" v-model="paneVal" :draggable="true"  @on-drag-drop="handleDragTabLabel" >
      <Icon type="md-add" slot="extra" size="18" style="cursor: pointer; margin-top: 8px; z-index: 99999999999"  @click="handleTabsAdd"/>
      <TabPane v-for="(tab, i) in allChartData"  :label="tabsLabel(tab, i)" :key="i" :name="`${i}`">
        <div style="height: 100%; width: 100%; padding: 10px">
          <div v-for="(item, idx) in tab.paneData"
            class="tabsContent"
            :key="idx"
           :style="{
             'border': ableEdit ? '1px dashed rgba(63,115,255,0.50)' : 'none',
           }"
           v-if="paneVal === `${i}`"
          >
            <div class="innerChartTools">
              <div class="tabInnerBtn" @click="handleDeleteChart(idx, i)">X</div>
              <div class="tabInnerBtn" v-if="idx !== 0" @click="handleShiftChart(idx, i, 'up')">↑</div>
              <div class="tabInnerBtn" v-if="idx !== tab.paneData.length - 1" @click="handleShiftChart(idx, i, 'down')">↓</div>
              <div class="tabInnerBtn" v-if="idx !== 0" @click="handleStickChart(idx, i, 'top')">顶</div>
              <div class="tabInnerBtn" v-if="idx !== tab.paneData.length - 1" @click="handleStickChart(idx, i, 'bottom')">底</div>
            </div>
              <div
                style="height: 100%; width: 100%;"
                @mousedown="onChildMouseDown"
                @click="handleChooseChart($event, item, idx)"
                draggable="true"
                @dragstart="handleDragStart($event, item)"
                @dragleave="handleTabChartDragLeave($event)"
              >
                <keep-alive>
                  <component
                    mode="out-in"
                    :is="item.id"
                    :ref="item.chartId"
                    :chartId="item.chartId"
                    :defaultImg="item.defaultImg"
                    :editable="editable"
                    :propertyData="item.data"
                    :propertyStyle="item.style"
                    :startDate="item.startDate"
                    :endDate="item.endDate"
                    :defaultShow="true"
                    :isChild="true"
                    @changeDefaultShow="changeDefaultShow"
                  ></component>
                </keep-alive>
              </div>
          </div>
          <div
            class="tabsContent haveBackground"
            v-if="editable"
             :style="{
               'border': ableEdit ? '1px dashed rgba(63,115,255,0.50)' : 'none',
             }"
          >
            <span class="tabsContent_title">{{ dragChartTitle }}</span>
          </div>
        </div>
      </TabPane>
    </Tabs>
  </div>
</template>

<script>
/**图表引入**/
import {
  SimpleBar,
  SimplePie,
  SimpleLine,
  SimpleIframe,
  MixLineBar,
  SimpleGauge,
  Indicator,
  ComplexTextarea,
  DoublePie,
  SimpleMap,
  SimpleBubble,
  SimpleScatter,
  IndexBoard,
  MultiplePie,
  BasicRadar,
  CustomTable } from '../exportAllChart.config'
/**工具**/
import {mapActions, mapGetters} from 'vuex'
import { BUTTON_NAME, CIRCUM_REC, MOUSE_CLICKED_TITLE } from './TabDragConstants'
import {deepCopy} from "../../../../utils/common";

export default {
  name: "FaTab",
  components: {
    SimpleBar,
    SimplePie,
    SimpleLine,
    SimpleIframe,
    MixLineBar,
    SimpleGauge,
    Indicator,
    ComplexTextarea,
    DoublePie,
    CustomTable,
    SimpleMap,
    SimpleBubble,
    SimpleScatter,
    IndexBoard,
    MultiplePie,
    BasicRadar
  },
  props: {
    propertyData: {
      type: Object,
      default: null
    },
    chartData: {
      type: Object,
      default: () => ({})
    },
    isActive: {},
    editable: {},
    imgHeight: '',
    switchChartType: '',
    scaleRatio: '',
    chartBoundingClientRect: {},
  },
  inject: ['buildResultChart', 'sonaddChartToListFromTab'],
  data() {
    return {
      tabs: 1,//tab页签数量
      paneVal: '0', //默认显示的页签位置
      dragChartTitle: MOUSE_CLICKED_TITLE.up, //图表放置区域显示的文字
      allChartData: [],//tab的数据
      ableEdit: false
    }
  },
  computed: {
    ...mapGetters(['currentSelectChart', 'currentChartList']),
    tabChart: function () {
      let chart = this.currentSelectChart ? this.currentSelectChart : this.chartData
      return chart
    },
    getChildrenChartViewList: function () {
      return this.currentSelectChart && this.currentSelectChart.childrenChartViewList
    },
    getChartBoundingClientRect: function () {
      return this.chartBoundingClientRect
    },
  },
  watch: {
    currentSelectChart: {
      handler: function (val) {
        if(val && val.id !== 'FaTab') {
          this.ableEdit = false
          this.removePrevChartStyle()
          this.currentSelectChartByTab = {}
        }
      },
      deep: true
    },
    'currentSelectChart.selectChildChart': {
      handler: function (val, old) {
        if(val && Object.keys(val).length) {
          let curChart = this.currentSelectChartByTab
          if(curChart.chart.chartId === val.chartId) {
            if(JSON.stringify(curChart.data) !== JSON.stringify(val.data)) {
              this.refreshCurrentChart(val.chartId)
            }
          }
        }
      },
      deep: true,
      // immediate: true
    }
  },
  mounted() {
    /***** 变量 *****/
    this.paneChartActive = 0 //
    this.isCatch = false //是否捕获到图表
    this.tabId = '' //tab自身id
    this.showBtn = false //
    this.canvasContainer = document.querySelector('#canvasContainer') //画布
    this.tabPlace = {height: '', width: '' } //tab位置
    this.allRec = this.createRoundRec() //图表选中时四周的矩形
    this.currentSelectChartByTab = {}
    this.currentSelectChartDataByTab = []
    this.changePaneName = false //是否开启编辑页签名
    /***** - *****/
    //如果是新建tab 创建childrenChartViewList
    if(this.tabChart && this.tabChart.childrenChartViewList) {
      if(this.tabChart.childrenChartViewList.length === 0) {
        let newTabChart = {...this.tabChart}
        newTabChart.childrenChartViewList.push({ labelName: '页签名称', paneData: [], idIndex: 1, editable: false })
        this.allChartData = this.tabChart.childrenChartViewList
      } else {
        //把list赋给data让tab渲染
        if(!this.tabChart.hasOwnProperty('isCopy')) {
          this.tabChart.childrenChartViewList.forEach(item => {
            item.paneData = this.buildResultChart(item.paneData, null, null, null)
            item.editable = false
          })
        }
        this.allChartData = this.tabChart.childrenChartViewList
      }
    }
    this.$nextTick(() => {
      //获取刚拖下来时的范围
      this.currentScope(this.getChartBoundingClientRect)
      //注册鼠标标抓取事件
      this.catchChart()
      //将自身的chartId存下
      this.tabId = this.tabChart.chartId
    })
  },
  /**
   * 图表卸载时销毁事件
   */
  destroyed() {
    this.clearEventListener()
  },
  methods: {
    ...mapActions(['setCurrentSelectChart']),
    /**
     * 删除当前图表
     * @param e
     * @param idx
     * @param parentIdx
     */
    handleDeleteChart(idx, parentIdx) {
      this.allChartData[parentIdx].paneData.splice(idx, 1)
    },
    /**
     * 移动图表
     * @param idx
     * @param parentIdx
     * @param type
     */
    handleShiftChart(idx, parentIdx, type) {
      let paneData = this.allChartData[parentIdx].paneData;
      let changeChart, targetChart = paneData[idx];
      if(type === 'up') {
        changeChart = deepCopy(paneData[idx - 1])
        paneData.splice(idx - 1, 1, targetChart)
      } else {
        changeChart = deepCopy(paneData[idx + 1])
        paneData.splice(idx + 1, 1, targetChart)
      }
      paneData.splice(idx, 1, changeChart)
    },
    /**
     * 置顶置底图表
     * @param idx
     * @param parentIdx
     * @param type
     */
    handleStickChart(idx, parentIdx, type) {
      let paneData = this.allChartData[parentIdx].paneData;
      let targetChart = deepCopy(paneData[idx]);
      paneData.splice(idx, 1)
      if(type === 'top') {
        paneData.unshift(targetChart)
      } else {
        paneData.push(targetChart)
      }
    },
    /**
     * 内部图表拖拽
     * @param e
     * @param item
     */
    handleDragStart(e, item) {
     if(this.ableEdit) {
       e.stopPropagation()
       e.dataTransfer.setData("Text", JSON.stringify(item));
     }
      // let img = new Image();
      // img.src = require('../../../../assets/images/report/report-card.svg')
      // e.dataTransfer.setDragImage(img, e.offsetX, e.offsetY);
    },
    /**
     * 鼠标移出范围之后
     * @param e
     */
    handleTabChartDragLeave(e) {
     if(this.ableEdit) {
       e.stopPropagation()
       this.$emit('TabChartDragLeave', true)
     }
    },
    /**
     * tab内部组件阻止冒泡
     * @param e
     */
    onChildMouseDown(e) {
       if(this.ableEdit) {
         e.stopPropagation()
       }
    },
    /**
     * 页签拖拽事件
     * @param name
     * @param newName
     * @param a
     * @param b
     * @param names
     */
    handleDragTabLabel(name, newName, a, b, names) {
      if(this.ableEdit) {
        this.allChartData.splice(b, 1, ...this.allChartData.splice(a, 1 , this.allChartData[b]));
      }
    },
    /**
     * 鼠标标抓取事件
     */
    catchChart() {
      this.canvasContainer.addEventListener('mouseup', this.tabMouseupGetChart)
      this.canvasContainer.addEventListener('mousedown', this.tabMousedownChangeTitle)
    },
    clearEventListener() {
      this.canvasContainer.removeEventListener('mouseup', this.tabMouseupGetChart)
      this.canvasContainer.removeEventListener('mousedown', this.tabMousedownChangeTitle)
    },
    /**
     * 传递改变初始样式
     * @param e
     */
    changeDefaultShow(e) {
      this.$emit('changeDefaultShow', e)
    },
    /**
     * 鼠标按下
     * @param e
     */
    tabMousedownChangeTitle(e) {
      if(this.currentSelectChart && Object.keys(this.currentSelectChart).length !== 0 && this.currentSelectChart.id !== 'FaTab') {
        this.dragChartTitle = MOUSE_CLICKED_TITLE.down;
      }
    },
    // TODO -加注释 -将文本提示范围加在isCatch内
    /**
     * 鼠标抬起判断
     * @param e
     */
    tabMouseupGetChart(e) {
      console.log(e, 'e')
      if(Object.keys(this.tabChart).length !== 0 && this.tabChart.id !== 'FaTab') {
        const mousePosition = {x: e.clientX, y: e.clientY}
        this.currentScope(this.getChartBoundingClientRect)
        this.isCatch = this.checkMousePosition(mousePosition, this.tabPlace)
        if (this.isCatch) {
          this.tabChart.shouldCreate = false;
          this.tabChart.data.configData['parentTabId'] = this.tabId;
          this.allChartData[Number(this.paneVal)].paneData.push(this.tabChart)
          this.$parent.$parent.removeChart(null, true)
          this.isCatch = false
        }
      this.$set(this, 'dragChartTitle', MOUSE_CLICKED_TITLE.up)
      }
    },
    /**
     * 判断鼠标当前位置是否在tab组件内
     * @param mouse
     * @param tab
     * @returns {boolean}
     */
    checkMousePosition(mouse, tab) {
      return tab.y < mouse.y && mouse.y < tab.top && tab.x < mouse.x && mouse.x < tab.left
    },
    /**
     * 创建选中时周边4个矩形
     * @returns {*[]}
     */
    createRoundRec() {
      let allRec = []
      CIRCUM_REC.forEach(item => {
        let rec = document.createElement('div'), classList = rec.classList
        classList.add('blueRec')
        if(['top', 'bottom'].includes(item.position)) {
          classList.add('blueRecTB')
          if(item.position === 'top') {
            classList.add('clickedAreaTop')
          } else {
            classList.add('clickedAreaBottom')
          }
        }
        else if(['left', 'right'].includes(item.position)) {
          classList.add('blueRecLR')
          if(item.position === 'left') {
            classList.add('clickedAreaLeft')
          } else {
            classList.add('clickedAreaRight')
          }
        }
        allRec.push(rec)
      })
      return allRec
    },
    /**
     * tab内组件选中事件
     * @param e
     * @param chart
     * @param idx
     */
    handleChooseChart(e, chart, idx) {
      console.log(chart.chartId)
      //如果没有进入编辑状态则return
      if(!this.ableEdit) {
        return false
      }
      //阻止默认事件
      e.stopPropagation()
      //清空样式
      this.removePrevChartStyle()
      let target = this.$refs['tabBox'].getElementsByClassName('tabsContent')
      //当前图标加类名加矩形选中效果
      target[idx].classList.add('paneChartActive')
      this.allRec.forEach(item => { target[idx].appendChild(item) })
      this.$set(this.currentSelectChart, 'selectChildChart', chart)
      let originChart = {
        chart: chart,
        data: chart.data
      }
      this.currentSelectChartByTab = deepCopy(originChart)
      this.$forceUpdate()
      console.log('this.currentSelectChartByTab', this.currentSelectChartByTab)
    },
    /**
     * 选中图表前清空所有选中样式
     */
    removePrevChartStyle() {
      let allChartContent = this.$refs['tabBox'].getElementsByClassName('tabsContent');
      for(let i = 0; i < allChartContent.length; i++) {
        allChartContent[i].classList.remove('paneChartActive')
        let allRec = allChartContent[i].getElementsByClassName('blueRec')
        for(let j = allRec.length - 1; j >= 0; j--) {
          allChartContent[i].removeChild(allRec[j]);
        }
      }
    },
    /**
     * 是否应处于编辑状态
     */
    onEdit() {
      this.ableEdit = true;
    },
    handleTabMouseDown(e) {
      if (this.ableEdit) {
        e.stopPropagation()
      }
    },
    /**
     * 获取tab自身范围
     * @param size
     */
    currentScope(size) {
      const { x, y } = size;
      let {height, width} = this.chartData
      this.tabPlace = {
        height,
        width,
        top: y + height,
        left: x + width,
        x,
        y
      }
    },
    /**
     * 渲染tabPane的label
     * @param data
     * @param i
     * @returns {function(*): *}
     */
    tabsLabel(data, i) {
      let that = this, labelName = data.labelName, editable = data.editable;
      return (h) => {
        //标签点击显示btn
        //tooltip start --------->
        let className = 'indGroup_add';
        if(i == this.paneVal) {
          className += ' active';
        }
        let allBtnType = [...BUTTON_NAME]
        if (this.allChartData.length === 1) {
          allBtnType.push({title: '清空', value: 6})
        }
        if(this.allChartData.length > 1) {
          allBtnType.push({title: '删除', value: 5})
        }
        //toolTip内部所有功能
        let allBtn = allBtnType.map(item => h('div', { class: 'toolTipBtn', on: {'click': function (e) {that.handleClickToolTipBtn(e, item.value, i)}} }, item.title))
        let tooltip = [
          h('Tooltip',
            {
              props: {
                theme: 'light',
                placement: 'right-start',
                transfer: true,
              }
            },
            [
              h('Icon', {
                class: className,
                props: { type: 'md-more', size: 16 },
              }),
              h('div', { slot: 'content' }, [...allBtn])
            ]
          ),
        ]
        //tooltip end --------->
        //labelInput start-------->
        let inputName = [
          h('Input', {
              props: {size: 'small', value: labelName},
              class: 'tabInnerInput',
              on: {
                'on-blur': function () {
                  data.editable = false
                },
                'input': function (value) {
                  data.labelName = value
                }
              }
            }
          )
        ]
        this.$nextTick(() => {
          if(this.$refs['tabBox'].getElementsByClassName('tabInnerInput') && !isNaN(this.blurIptEvent) && this.$refs['tabBox'].getElementsByClassName('tabInnerInput')[this.blurIptEvent]) {
            this.$refs['tabBox'].getElementsByClassName('tabInnerInput')[this.blurIptEvent].getElementsByTagName('input')[0].focus()
          }

        })
        //labelInput end-------->
        //渲染tabPane的Label
        return h(
          'div',
          {
            style: {
              display: 'flex',
              width: '100%',
              justifyContent: 'space-between'
            }
          },
          [
            h('span', {
              style: {
                flex: 1,
                textOverflow: 'ellipsis',
                overflow: 'hidden',
                whiteSpace: 'nowrap',
              }}, editable ? inputName : [h('span', { attrs: { title: `${labelName}` } }, labelName)]
            ),
            h('span', {
              style: {
                display: 'inline-block',
              }
            }, !editable ? tooltip: '')
          ]
        )
      }
    },
    /**
     * 追加tabPane
     */
    handleTabsAdd() {
      this.tabs += 1;
      this.getChildrenChartViewList.push({ labelName: '页签名称', paneData: [], idIndex: this.tabs })
      //tab阻止冒泡
      this.$nextTick(() => {
        if(this.ableEdit) {
          let tabs = this.$refs['tabBox'].getElementsByClassName('ivu-tabs-tab')
          for(let i = 0; i < tabs.length; i++) {
            tabs[i].addEventListener('dragstart', (e) => {
              e.stopPropagation()
            })
          }
        }
      })
    },
    /**
     * tabPane内tooltip的功能
     * @param val
     * @param idx
     */
    handleClickToolTipBtn(e, val, idx) {
      // e.stopPropagation()
      //所有页签下的数据
      let targetTabChart = this.currentChartList.find(item => item.chartId === this.tabId);
      if(targetTabChart) {
        //使当前tab保持选中状态
        this.$parent.$parent.resetSelectChart(targetTabChart, true)
        //当前下标的页签数据
        let currentChartList = targetTabChart.childrenChartViewList;
        /**
         * 页签标题修改: 1
         * 移动至最前: 2
         * 移动至最后: 3
         * 分离: 4
         * 删除: 5
         * **/
        if(val === 1) {
          // console.log(this.allChartData[idx])
          this.$set(this.allChartData[idx], 'editable', true)
          this.blurIptEvent = idx
          this.$forceUpdate()
        }
        else if([2, 3, 5].includes(val)) {
          //创建副本
          let listCopy = currentChartList[idx]
          currentChartList.splice(idx, 1)
          if(val === 2) {
            currentChartList.splice(0, 0, listCopy)
          }
          else if(val === 3) {
            currentChartList.splice(currentChartList.length, 0, listCopy)
          }
          //重新排列index
          currentChartList.forEach((item, i) => item.idIndex = i + 1)
          if(val === 5) {
            this.paneVal = '0'
          }
        }
        else if(val === 4) {
          let allChartFromTargetTab = currentChartList[idx].paneData
          let left = 0, top = 0;
          allChartFromTargetTab.forEach(item => {
            delete item.shouldCreate
            delete item.data.configData.parentTabId
            item.y += (targetTabChart.height / 2) + top
            item.x += left;
            left += 60
            top += 40
            this.sonaddChartToListFromTab(item)
            this.isCatch = false
          })
          this.$set(currentChartList[idx], 'paneData', [])
          this.clearEventListener()
          this.catchChart()
        } else if(val === 6) {
          this.$set(currentChartList[idx], 'paneData', [])
        }
      }
    },
    /**
     * 刷新选中的图表
     */
    refreshCurrentChart(chartId) {
      this.$refs[chartId][0].refreshData()
      this.$forceUpdate()
    },
  }
}
</script>

<style scoped>
/deep/.faTab .ivu-tabs-nav {
 width: auto;
}
</style>

<style>
.toolTipBtn {
  width: 100%;
  margin: 9px 0;
  cursor: pointer;
}
.toolTipBtn:hover {
  color: #3f73ff;
}
.blueRec {
  background: #3f73ff;
  position: absolute;
}
.blueRecLR {
  height: 20px;
  width: 2px;
  margin-top: -10px;
}
.blueRecTB {
  height: 2px;
  width: 20px;
  margin-left: -10px;
}
.clickedAreaBottom {
  bottom: 0;
  left: 50%;
}
.clickedAreaTop {
  top: 0;
  left: 50%;
}
.clickedAreaLeft {
  left: 0;
  top: 50%;
}
.clickedAreaRight {
  right: 0;
  top: 50%;
}
</style>

<style scoped lang="less">
/deep/ .indGroup_add  {
  &.active {
    display: inline-block;
    visibility: visible;
  }
  margin-top: -3px;
  visibility: hidden;
  display: none;
}
/deep/.tabInnerInput {
  width: 80px;
}
/deep/.tabInnerInput .ivu-input {
    height: 20px;
}
/deep/.toolTipContentBox {
  background: rosybrown;
}
/deep/.ivu-tabs-nav-scroll {
  margin-left: 20px;
  margin-right: 20px;
}
.tabsContent {
  width: 100%;
  height: 304px;
  background: white;
  text-align: center;
  margin-bottom: 12px;
  position: relative;
}
.tabsContent:hover {
  box-shadow:  0px 0px 8px 0px rgba(100,149,250,0.5);
  .innerChartTools {
    display: inline-block;
    right: 20px;
    top: 20px;
  }
}
.haveBackground {
  background: rgba(63,115,255,0.05);
  line-height: 304px;
}
.tabsContent_title {
  color: #3f73ff;
}
/deep/.ivu-tabs {
  height: 100%;
}
/deep/.ivu-tabs-content {
  height: 100%;
}
/deep/.ivu-tabs-tab {
  padding-right: 0;
  padding-left: 0;
  width: 80px;
}
/deep/.ivu-tabs-tabpane {
  height: e('calc(100% - 50px)');
  position: relative;
  overflow-y: auto;
}
/deep/.ivu-tabs-nav .ivu-tabs-tab .ivu-icon {
  margin-right: 0;
  margin-left: 8px;
  color: #3f73ff;
}
.paneChartActive {
  border: 1px solid #3f73ff !important;
  position: relative;
}
/deep/.ivu-tabs-bar {
  padding-right: 14px;
  margin-bottom: 4px;
  //color: #3f73ff;
}
/deep/.ivu-tabs-ink-bar {
  background: #3f73ff;
}
/deep/.ivu-tabs-tab-active {
  color: #3f73ff;
}
/deep/.ivu-tabs-nav .ivu-tabs-tab:hover {
  color: #3f73ff;
}
.innerChartTools {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9999999999;

}
.tabInnerBtn {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  float: right;
  border-radius: 2px;
  border: 1px solid #dcdee2;
  line-height: 23px;
  background: white;
  cursor: pointer;
}

</style>
