<template>
  <div class="data-model">
    <Toolbar @on-call="onCall" />
    <DatasetList class="dataset-list" ref="datasetList" />
  </div>
</template>

<script>
import Toolbar from '@/view/dataset/DataModel/Toolbar/index.vue'
import DatasetList from './DatasetList/index.vue'
import { mapState } from 'vuex'

export default {
  name: 'DatasetListCopy',
  components: {
    Toolbar,
    DatasetList,
  },
  data() {
    return {
      getGroupTreeData: [], // 数据源列表
      treeData: [],
    }
  },
  computed: {
    ...mapState('dataset', ['dataSource']),
  },
  methods: {
    // 重新调用
    onCall() {
      this.$bus.$emit('on-open-log-modal', {
        visible: true,
        from: 'datasetList',
        connectId: this.dataSource,
      })
    },
  },
  // 离开当前页面，移除调度设置相关缓存
  beforeRouteLeave(to, from, next) {
    localStorage.removeItem('dispatchSetting')
    localStorage.removeItem('last-dispatchData')
    next()
  },
}
</script>

<style scoped lang="less">
.data-model {
  height: 100%;
  font-size: 12px;
  color: #333333;
  letter-spacing: 0;
  background-color: #FFFFFF;
  padding-left: 16px;
  padding-right: 16px;

  .dataset-list {
    margin-top: 16px;
  }
}
</style>
<style lang="less">
.folder-move-modal {
  .ivu-tree-children:before {
    border-style: none !important;
  }

  .ivu-tree-children:after {
    border-style: none !important;
  }

  .ivu-modal-footer {
    border-style: none;
  }


  .ivu-tree-arrow-open i {
    transform: none;
  }

  .ivu-tree-arrow {
    .ivu-icon-ios-arrow-forward:before {
      content: url("~@/assets/icons/dataSetList/expend_folder.svg");
    }
  }

  .ivu-tree-arrow-open {
    .ivu-icon-ios-arrow-forward:before {
      content: url("~@/assets/icons/dataSetList/fold_folder.svg");
    }
  }

  .ivu-btn {
    border-radius: 2px;
    width: 70px;
  }

  .ivu-modal-close {
    top: 4px;
  }

  .ivu-btn-primary {
    background-color: #3F73FF !important;
  }
}
</style>

