<template>
  <vue-draggable-resizable
    ref="vueDraggableResizable"
    :w="chartWidth"
    :h="chartHeight"
    :x="chartData.x"
    :y="chartData.y"
    :min-width="10"
    :min-height="10"
    :class-name-active="editable ? 'activatedClass' : null"
    :onResize="onResizeCallback"
    @dragging="onDragging"
    @resizing="onResize"
    @dragstop="onDragStop"
    @resizestop="onResizeStop"
    @deactivated="onDeactivated(chartData)"
    @click.native="resetSelectChart(chartData)"
    :draggable="editable"
    :resizable="editable"
    :active="currentChartIdLong === chartData.chartId || (currentSelectChart && currentSelectChart.parentId === chartData.chartId)"
    :snap="true"
    :snap-tolerance="20"
    :parent="true"
    :prevent-deactivation="chartDeactivation"
    :z="chartData.level"
    class="reportComponent"
    :style="{
        'background': chartData.style.transparent ? 'transparent':((chartData.defaultShow && chartData.id !== 'FaTab') ? defaultShowComponentBackground : componentBackground),
        'border': (chartData.id === 'ComplexTextarea') ?'':'1px solid transparent'
     }"
    style="text-align: left;min-height: 10px;"
    :class="{'move-chart': changing, 'mouseEvent': mouseEvent, 'saveBoxShadow': saveBoxShadow, 'backTransfer': chartData.id === 'CustomImage'}"
    @refLineParams="getParentRefLineParams"

  >
    <div :id="'chartContainer' + chartData.chartId"
         @mouseleave="(e)=>handleHideMenu(e,chartData)"
         @mouseover="handleShowMenu"
         @keydown="onChartKeyDown"
         :class="chartData.id === 'ComplexTextarea' ? 'drawing-area-wrap-textarea' : 'drawing-area-wrap'"
    >
      <img v-if="chartData.id === 'DimensionFilter'" src="@/assets/icons/chart/chart_type/dimensionFilter_black.svg"
           class="componentImg"/>
      <img v-if="chartData.id === 'IndicatorFilter'" src="@/assets/icons/chart/chart_type/indicatorFilter_black.svg"
           class="componentImg"/>
      <div :id="'chart_title_' + chartData.chartId" class="common-title-wrap child-horizon-center"
           v-if="chartData.id !== 'ComplexTextarea'"
           :style="{
          width: chartData.id === 'DimensionFilter' || chartData.id === 'IndicatorFilter' ? 'calc(100% - 26px)' : '100%',
          marginLeft: chartData.id === 'DimensionFilter' || chartData.id === 'IndicatorFilter' ? '26px' : ''
        }">
        <!--公共标题设置-->
        <chart-title :titleValue="chartData.style"></chart-title>
      </div>

      <div class="common-setting-wrap" :style="{position: 'absolute', top: 0, right: 0, zIndex: 99999991}">
        <div class="date-picker-wrap" v-if="chartDataConfig.displayPrivateDate">
          <div
            v-show="(chartDataConfig.displayPrivateDate && chartDataData.endDate ||( isPreView && chartDataData.endDate)) && !menuShow">
            <div v-show="(chartDataData.startDate !== chartDataData.endDate)">
              <span>{{chartDataData.startDate}} ~ {{chartDataData.endDate}}</span>
            </div>
            <div v-show="(chartDataData.startDate === chartDataData.endDate)">
              <span>{{chartDataData.startDate}}</span>
            </div>
          </div>
        </div>
        <!-- 操作按钮 -->
        <div class="iconContent"
             v-if="menuShow && editable"
             @mouseenter="handleShowCascader"
             @mouseleave="handleCloseCascader">
          <Icon type="ios-more" size="20"
                style="cursor: pointer;margin: 2px;"/>
          <transition name="fade">
            <ul class="cascader-menu"
                v-if="cascaderVisible">
              <li class="cascader-menu-item"
                  v-if="isSupportChartChange && canDoChartChange && menuShow && editable"
                  @mouseenter="handleShowItem"
                  @mouseleave="handleCloseItem">
                <img class="img" src="@/assets/images/report/chartSwitchBtn.svg"/>
                <img class="imgSelected" src="@/assets/images/report/chartSwitchBtnSelected.svg"/>
                <span class="title">图表切换</span>
                <transition name="fade">
                  <div class="content">
                    <ul class="contentList">
                      <li v-for="item in switchableChartTypes" :key="item.id"
                          v-if="canChangeChartType(item.id)">
                        <div @click="changeChartType($event, item.id)">
                          <img :src="item.icon" height="16" width="16" :title="item.title"/>
                          <span>{{ item.title }}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </transition>
              </li>
              <li class="cascader-menu-item"
                  v-if="canShowThresholdSetting(chartData) && menuShow && editable"
                  @mouseenter="handleShowItem"
                  @mouseleave="handleCloseItem">
                <img class="img" src="@/assets/images/report/thresholdSettingBtn.svg"/>
                <img class="imgSelected" src="@/assets/images/report/thresholdSettingBtnSelected.svg"/>
                <span class="title">阈值设置</span>
                <transition name="fade">
                  <div class="content" style="cursor: default">
                    <div class="contentTitle">
                      <span>阈值</span>
                    </div>
                    <div>
                      <div v-for="item in chartDataData.indicator" class="indicatorItemBox">
                        <Checkbox v-model="item.useThreshold" :disabled="!item.thresholds.length"/>
                        <span>{{item.title}}</span>
                      </div>
                    </div>
                  </div>
                </transition>
              </li>
              <li class="cascader-menu-item"
                  @mouseenter="handleShowItem"
                  @mouseleave="handleCloseItem">
                <img class="img" src="@/assets/images/report/levelBtn.svg"/>
                <img class="imgSelected" src="@/assets/images/report/levelBtnSelected.svg"/>
                <span class="title">图表顺序</span>
                <transition name="fade">
                  <div class="content">
                    <ul class="contentList">
                      <li @click="toTopLevel">
                        <div>
                          <img src="@/assets/images/report/topLevel.svg"/>
                          <span>置于顶层</span>
                        </div>
                      </li>
                      <li @click="toBottomLevel">
                        <div>
                          <img src="@/assets/images/report/bottomLevel.svg"/>
                          <span>置于底层</span>
                        </div>
                      </li>
                      <li @click="toMoveUpOneLevel">
                        <div>
                          <img src="@/assets/images/report/moveUpOneLevel.svg"/>
                          <span>上移一层</span>
                        </div>
                      </li>
                      <li @click="toMoveDownOneLevel">
                        <div>
                          <img src="@/assets/images/report/moveDownOneLevel.svg"/>
                          <span>下移一层</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </transition>
              </li>
              <li class="cascader-menu-item"
                  @mouseleave="handleCloseItem"
                  @click="handleCopyTargetChart"
              >
                <img class="img" src="@/assets/images/report/componentCopy.svg"/>
                <img class="imgSelected" src="@/assets/images/report/componentCopySelected.svg"/>
                <span class="title">图表复制</span>
                <transition name="fade">
                  <div class="content"></div>
                </transition>
              </li>
              <li class="cascader-menu-item"
                  v-if="SUPPORT_JUMP_CHART.includes(chartData.id) && chartDataData.indicator.length && chartDataData.dimension.length && !getJumpOption.openJump"
                  @mouseleave="handleCloseItem"
                  @click="handleClickShowJumpOption">
                <img class="img" src="@/assets/images/report/settingJump.svg"/>
                <img class="imgSelected" src="@/assets/images/report/settingJumpSelected.svg"/>
                <span class="title">图表跳转</span>
                <transition name="fade">
                  <div class="content"></div>
                </transition>
              </li>
              <li class="cascader-menu-item"
                  v-if="SUPPORT_JUMP_CHART.includes(chartData.id) && chartDataData.indicator.length && chartDataData.dimension.length && getJumpOption.openJump"
                  @mouseenter="handleShowItem"
                  @mouseleave="handleCloseItem">
                <img class="img" src="@/assets/images/report/settingJump.svg"/>
                <img class="imgSelected" src="@/assets/images/report/settingJumpSelected.svg"/>
                <span class="title">跳转设置</span>
                <transition name="fade">
                  <div class="content">
                    <ul class="contentList">
                      <li @click="handleClickShowJumpOption">
                        <div>
                          <img src="@/assets/images/report/editJump.svg"/>
                          <span>编辑跳转</span>
                        </div>
                      </li>
                      <li @click="handleCloseJump">
                        <div>
                          <img src="@/assets/images/report/closeJump.svg"/>
                          <span>关闭跳转</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </transition>
              </li>
              <li class="cascader-menu-item"
                  v-if="canShowLineBarSetting(chartData) && menuShow"
                  @mouseenter="handleShowItem"
                  @mouseleave="handleCloseItem">
                <img class="img" src="@/assets/images/report/barLineSwitchBtn.svg"/>
                <img class="imgSelected" src="@/assets/images/report/barLineSwitchBtnSelected.svg"/>
                <span class="title">柱形/折线</span>
                <transition name="fade">
                  <div class="content" style="cursor: default">
                    <div class="contentTitle">
                      <span>柱形/折线</span>
                    </div>
                    <div>
                      <div v-for="item in chartDataData.indicator" class="lineBarSwitchItemBox">
                        <span class="title" :title="item.title.length > 10 ? item.title : ''" style="margin-right: 2px">{{item.title}}</span>
                        <div class="lineBarSwitchBox" v-if="item.lineBarType === true">
                          <div>
                            <img src="@/assets/images/report/barSelected.svg"/>
                          </div>
                          <div style="cursor: pointer"
                               @click="lineBarSwitch(item, false)">
                            <img src="@/assets/images/report/lineUnSelected.svg"/>
                          </div>
                        </div>
                        <div class="lineBarSwitchBox" v-else>
                          <div style="cursor: pointer"
                               @click="lineBarSwitch(item, true)">
                            <img src="@/assets/images/report/barUnSelected.svg"/>
                          </div>
                          <div>
                            <img src="@/assets/images/report/lineSelected.svg"/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </transition>
              </li>
            </ul>
          </transition>
        </div>
        <div class="iconContent" v-show="showRemoveIcon && editable && menuShow" @click="removeChart($event)">
          <Icon type="md-close" size="20" style="cursor: pointer;margin: 2px;" title="移除"/>
        </div>
      </div>

      <div :class="chartData.id === 'ComplexTextarea' ? 'chart-view-container-textarea' : 'chart-view-container'"
           :style="{height: chartTitleAndDateHeight ? `calc(100% - ${chartTitleAndDateHeight }px)` : '100%'}"
           @mouseup="onMouseupFuu"
      >
        <div
          :class="chartDataConfig.isOpenPrivateDate ? 'chart-area-wrap' : chartData.id === 'ComplexTextarea' ? 'chart-area-wrap-full-textarea' : 'chart-area-wrap-full'">
          <keep-alive>
            <component
              ref="chart"
              :is="chartData.id"
              mode="out-in"
              :chartId="chartData.chartId"
              :isActive='isActive'
              :chartData="chartData"
              :chartBoundingClientRect="chartBoundingClientRect"
              :editable="editable"
              :propertyData="chartData.data"
              :propertyStyle="chartData.style"
              :startDate="chartData.startDate"
              :endDate="chartData.endDate"
              :imgHeight="imgHeight"
              :chartSwitchType="switchChartType"
              :scaleRatio='scaleRatio'
              :defaultShow="chartData.defaultShow"
              @changeDefaultShow="changeDefaultShow"
              @sendTableSize="getTableSize"
              @addChartFromTab="sendChartToTemplate"
            ></component>
          </keep-alive>
        </div>

      </div>
    </div>

    <div v-if="defaultValueSettingBox"
         class="filterBox"
         :class="[{'dimensionFilterBox': currentSelectChart.id === 'DimensionFilter'},{'indicatorFilterBox': currentSelectChart.id === 'IndicatorFilter'}]"
         @click="(e) => { e.stopPropagation() }">
      <div class="body">
        <dimension-filter-setting
          v-if="currentSelectChart.id === 'DimensionFilter'"
          :DimensionConditionValue="DimensionConditionValue"
          @resetDefaultValueSettingBox="resetDefaultValueSettingBox"
          @confirmDefaultValue="confirmDefaultValue">
        </dimension-filter-setting>
        <indicator-filter-setting
          v-if="currentSelectChart.id === 'IndicatorFilter'"
          :conditionValue="IndicatorConditionValue"
          @resetDefaultValueSettingBox="resetDefaultValueSettingBox"
          @confirmDefaultValue="confirmDefaultValue">
        </indicator-filter-setting>
      </div>
    </div>
    <Modal
      v-model="showJumpModal"
      title="跳转设置"
      class="jumpModal"
      width="379"
      @on-cancel="handleCancelJumpOption"
    >
      <Tabs v-model="getJumpOption && getJumpOption.optionType">
        <TabPane label="报告" name="report">
          <div style="height: 180px">
            <div style="height: 134px; border: 1px solid #e4e4e4; padding: 10px">
              <Input prefix="ios-search" @on-change="handleSearchReport" placeholder="搜索"/>
              <div style="width: 100%; height: calc(100% - 28px); padding-top: 10px">
                <div style="height: 100%; width: 100%; overflow-x:auto;">
                  <RadioGroup v-model="getJumpOption && getJumpOption.reportId">
                    <Radio v-for="item in reportList" style="width: 90%; margin-bottom: 10px" :label="item.id"
                           :key="item.id">
                      <span style="margin-left: 8px">{{item.oneContent}}</span>
                    </Radio>
                  </RadioGroup>
                </div>
              </div>
            </div>
            <div style="margin-top: 15px">
              <Checkbox :disabled="INDICATOR_CHART.includes(chartData.id)"
                        v-model="getJumpOption && getJumpOption.openDimensionParam">是否带入维度参数
              </Checkbox>
            </div>
          </div>
        </TabPane>
        <TabPane label="链接" name="url">
          <div style="height: 160px">
            <Input placeholder="请输入URL" v-model="getJumpOption && getJumpOption.reportUrl"/>
          </div>
        </TabPane>
      </Tabs>
      <div slot="footer">
        <Button class="jumpModalBtn" @click="handleCancelJumpOption">取消</Button>
        <Button class="jumpModalBtn" type="primary" @click="handleSubmitJumpOption">确定</Button>
      </div>
    </Modal>
  </vue-draggable-resizable>
</template>
<script>
  import SimpleBar from '../../report/chart/Bar'
  import SimplePie from '../../report/chart/Pie'
  import SimpleLine from '../../report/chart/Line' // 折线图
  import BasicRadar from '../../report/chart/Radar.vue' // 折线图
  import SimpleIframe from '../../report/chart/Iframe'
  import MixLineBar from '../../report/chart/LineBar'
  import SimpleGauge from '../../report/chart/Gauge'
  import Indicator from '../../report/chart/Indicator/index'
  import ComplexTextarea from '../../report/chart/textarea/ComplexTextarea'
  import DoublePie from '../../report/chart/DoublePie'
  import SimpleMap from '../../report/chart/Map'
  import SimpleBubble from '../../report/chart/Bubble'
  import SimpleScatter from '../../report/chart/Scatter'
  import IndexBoard from '../../report/chart/IndexBoard'
  import MultiplePie from '../../report/chart/MultiplePie'
  import CustomTable from '../../report/chart/customTableTest'
  import FaTab from '../../report/chart/TabDrag/TabDrag'
  import DimensionFilter from '../../report/chart/DimensionFilter'
  import IndicatorFilter from '../../report/chart/IndicatorFilter'
  import MixFilter from '../../report/chart/MixFilter'
  import CustomImage from '../../report/chart/CustomImage'
  import moment from 'moment'
  import ChartTitle from '../../../components/charts/title.vue'
  import DimensionFilterSetting from '../report-filter/DimensionFilterSetting.vue'
  import IndicatorFilterSetting from '../report-filter/IndicatorFilterSetting.vue'
  import { mapActions } from 'vuex'
  import _ from 'lodash'
  import { YEAR_HOLIDAYS } from '../../../config/YearHolidays'
  import { CHART_DEFAULT_CONFIG, CANVAS_COLOR_CONFIG, CHART_TYPE_LIST } from '@/config/ReportConstants'
  import { deepCopy } from '../../../utils/common'
  // import vueDraggableResizable from '@/components/vue-draggable-resizable/vue-draggable-resizable'

  const support_date_setting_charts = ['SimpleTable', 'CustomTable', 'SimpleBar', 'SimplePie', 'SimpleLine', 'DoublePie', 'MixLineBar', 'SimpleGauge', 'Indicator', 'BasicRadar']
  const SUPPORT_JUMP_CHART = ['SimpleBar', 'SimplePie', 'SimpleLine', 'MixLineBar', 'CustomTable', 'Indicator', 'DoublePie', 'IndexBoard', 'SimpleGauge', 'BasicRadar']
  const INDICATOR_CHART = ['SimpleGauge', 'Indicator']
  const PERIOD_TYPE_DAY = '2'
  const diff = 2
  export default {
    name: 'ReportChart',
    components: {
      SimpleBar,
      SimplePie,
      SimpleLine, // 折线图
      BasicRadar,
      SimpleIframe,
      MixLineBar,
      SimpleGauge,
      Indicator,
      ComplexTextarea,
      DoublePie,
      CustomTable,
      ChartTitle,
      DimensionFilterSetting,
      IndicatorFilterSetting,
      SimpleMap,
      SimpleBubble,
      SimpleScatter,
      IndexBoard,
      MultiplePie,
      FaTab,
      DimensionFilter,
      IndicatorFilter,
      MixFilter,
      CustomImage,
      // vueDraggableResizable
    },
    props: {
      activeChart: {
        type: Object,
        default: null
      },
      chartData: {
        type: Object,
        default: null
      },
      editable: {
        type: Boolean,
        default: true
      },
      isPreView: {
        type: Boolean,
        default: false
      },
      currentChartIdLong: {
        type: String,
        default: ''
      },
      _chartId: {
        type: String
      },
      getRefLineParams: {
        type: Function,
        default: null
      },
      scaleRatio: {
        type: Number,
        default: 1
      },
      displayPrivateDate: {
        type: Boolean,
        default: false
      },
      showRemoveIcon: {
        type: Boolean,
        default: true
      },
      saveBtnClick: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      currentSelectChart: function () {
        return this.$store.state.chart && this.$store.state.chart.currentSelectChart
      },
      isSupportChartChange: function () {
        const supportChangeChartTypes = this.chartData.data.configData.supportChangeChartTypes
        return supportChangeChartTypes && supportChangeChartTypes.length
      },
      canDoChartChange: function () {
        return !this.chartData.defaultShow
      },
      mouseEvent: function () {
        return this.editable && !this.isActive ? true : false
      },
      saveBoxShadow() {
        return this.saveBtnClick &&
          (this.chartData.defaultShow ||
            this.$store.state.chart.chartList
              .filter(item => item.parentId === this.chartData.chartId)
              .some(item => item.defaultShow)
          )
      },
      getJumpOption() {
        return this.chartData && this.chartData.data.configData.jumpOption || {}
      },

      chartDatePickerHeight: function () {
        return this.showDate || this.chartData.data.endDate ? 26 : 0
      },
      chartTitleAndDateHeight: function () {
        return this.chartTitleHeight + this.chartDatePickerHeight
      },
      chartDeactivation: function () {
        return this.$store.state.chart && this.$store.state.chart.deactivation
      },
      chartWidth: function () {
        return Number(this.chartData.width) + Number(this.childSize.width)
      },
      chartHeight: function () {
        return Number(this.chartData.height) + Number(this.childSize.height)
      },
      chartDataData: function () {
        return this.chartData.data || {}
      },
      chartDataConfig: function () {
        return this.chartDataData.configData || {}
      },
      reportThemeStyle: function () {
        return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.themeStyle || '1'
      },
      componentBackground: function () {
        let theme = 'default'
        if (this.reportThemeStyle === '2') {
          theme = 'black'
        }
        return CANVAS_COLOR_CONFIG[theme].componentBackground
      },
      defaultShowComponentBackground: function () {
        let theme = 'default'
        if (this.reportThemeStyle === '2') {
          theme = 'black'
        }
        return CANVAS_COLOR_CONFIG[theme].defaultShowComponentBackground
      },
      defaultValueSettingBox() {
        return this.defaultValueSettingShow &&
          (this.currentSelectChart.id === 'DimensionFilter' || this.currentSelectChart.id === 'IndicatorFilter') &&
          (this.currentChartIdLong === this.chartData.chartId || this.currentSelectChart.parentId === this.chartData.chartId)
      },
      // 可切换的图表类型列表
      switchableChartTypes() {
        // 维度和指标数量
        const dimensionNum = this.chartData.data.dimension.length
        const indicatorNum = this.chartData.data.indicator.length
        const currentChartType = this.chartData.data.id

        let switchableChartNames = []

        /* 维度有单维度和多维度两种、指标有单指标、两个指标、三个指标、多指标四种 */
        // 多维度+多指标
        if (dimensionNum && indicatorNum) {
          switchableChartNames.push('CustomTable')
        }

        // 单维度+多指标
        if (dimensionNum === 1 && indicatorNum) {
          switchableChartNames.push('SimpleLine', 'SimpleBar', 'MixLineBar', 'IndexBoard', 'BasicRadar')
        }

        // 多维度+单指标
        if (dimensionNum && indicatorNum === 1) {
          switchableChartNames.push('DoublePie')
        }

        // 单维度+两个指标
        if (dimensionNum === 1 && indicatorNum === 2) {
          switchableChartNames.push('SimpleScatter')
        }

        // 单维度+单指标
        if (dimensionNum === 1 && indicatorNum === 1) {
          switchableChartNames.push('SimplePie', 'SimpleMap')
        }

        // 仅有指标
        if (!dimensionNum && indicatorNum === 1) {
          switchableChartNames.push('Indicator', 'SimpleGauge')
        }

        return CHART_TYPE_LIST.filter(item => switchableChartNames.includes(item.id) && item.id !== currentChartType)
      },
    },
    data() {
      return {
        changing: false,
        // 报告查看及编辑初始默认没有图表选中；拖拽创建默认选中
        isActive: this.$route.query.openType ? false : true, // 属性面板是否激活显示内容
        comparePreDate: null,
        boo: false,
        boo2: false,
        boo3: true,
        showDate: false,
        menuShow: false, // 鼠标移入显示操作按钮
        isPlusHeight: false,
        imgHeight: null,
        dateChangeBoo: false,
        chartBoundingClientRect: {},
        dateChange: {
          endDate: '',
        },
        switchChartType: null,
        chartTitleHeight: 0,
        datePickerOptions: {
          disabledDate: (date) => {
            //这里写上自己的逻辑，返回true，表示当前日期需要设置为不可选
            let disabled = true
            // 节假日（非交易日）不可选
            const dateStr = moment(date).format('YYYYMMDD')
            if (_.indexOf(YEAR_HOLIDAYS, dateStr) === -1) {
              disabled = false
            }
            return disabled
          }
        },
        childSize: { width: 0, height: 0 },
        defaultValueSettingShow: false,
        IndicatorConditionValue: '',
        DimensionConditionValue: [],
        imageScale: null,
        canChangeImage: false,
        cascaderVisible: false,
        showJumpModal: false,
        reportList: [],
        targetReport: '',
        SUPPORT_JUMP_CHART,
        INDICATOR_CHART,
        // selectorPosition: {left: 0, top: 0},
        // showSelector: false
      }
    },
    watch: {
      'dateChange.endDate': {
        handler(val, oldVal) {
          if (val !== oldVal) {
            this.dateChangeBoo = true
            this.showDate = true
          }
          if (val === '') {
            this.dateChangeBoo = false
            this.showDate = false
          }
        },
        deep: true
      },
      dateChangeBoo(val, old) {
        return val
      },
      'chartData.style': {
        handler(val, oldVal) {
          this.$nextTick(() => {
            // 设置标题高度
            const commonTitleWrapDom = document.getElementById('chart_title_' + this.chartData.chartId)
            if (val.title) {
              this.chartTitleHeight = commonTitleWrapDom && commonTitleWrapDom.offsetHeight || 0
            } else {
              this.chartTitleHeight = 0
            }
          })
          this.chartData.height = val.height
          this.chartData.width = val.width
        },
        deep: true
      },
      isActive(val) {
      }
    },
    mounted() {
      this.reportList = JSON.parse(JSON.parse(localStorage.getItem('reportTest')))
      this.reportListCopy = deepCopy(this.reportList)
      this.switchChartType = this.chartData.id
      this.chartData.hasOwnProperty('dateRangeValue') && this.chartData.endDate !== null ? this.showDate = true : this.showDate = false
      this.$nextTick(() => {
        const commonTitleWrapDom = document.getElementById('chart_title_' + this.chartData.chartId)
        this.chartTitleHeight = commonTitleWrapDom && commonTitleWrapDom.offsetHeight || 0
      })

    },
    destroyed() {
      this.chartCopy = {}
      // 注释掉的原因是会导致快捷键只响应一次
      // document.onkeydown = null
    },
    methods: {
      ...mapActions(['setCurrentSelectChart', 'setChartList']),
      /**
       * 图表复制
       */
      handleCopyTargetChart() {
        let timestamp = new Date().getTime()
        let copyChartData = deepCopy(this.chartData)
        copyChartData.chartId = copyChartData.chartId.split('_')[0] + '_' + timestamp
        copyChartData.x += 45
        copyChartData.y += 45
        copyChartData.level += 1
        let configData = copyChartData.data.configData

        //接触主动组件的关联
        if (configData.hasOwnProperty('conditionValue') && configData.hasOwnProperty('chartLinkIsOpen')) {
          delete configData.conditionValue
        }
        if (configData.hasOwnProperty('relativeComponentList')) {
          delete configData.relativeComponentList
        }
        if (configData.hasOwnProperty('filterDimension')) {
          delete configData.filterDimension
        }
        //解除下钻
        if (configData.hasOwnProperty('drillDownOption')) {
          const drillDownOption = { drillDownTagList: [], opened: false, drillDownStep: 1 }
          this.$set(configData, 'drillDownOption', drillDownOption)
        }
        //解除跳转
        if (configData.hasOwnProperty('jumpOption')) {
          const jumpOption = {
            openJump: false,
            openDimensionParam: false,
            optionType: 'report',
            reportId: '',
            reportUrl: ''
          }
          this.$set(configData, 'jumpOption', jumpOption)
        }

        if (copyChartData.id === 'FaTab') {
          copyChartData.isCopy = true
          let children = copyChartData.childrenChartViewList
          children.forEach(item => {
            item.paneData.forEach(it => {
              let childTime = new Date().getTime()
              it.chartId = it.chartId.split('_')[0] + '_' + childTime
              it.data.configData.parentTabId = copyChartData.chartId
            })
          })
        } else {
          copyChartData.data.isCopy = true
        }
        console.log('copyChartData', copyChartData)
        if (configData.hasOwnProperty('conditionValue') && configData.hasOwnProperty('chartLinkIsOpen')) {
          delete configData.conditionValue
        }
        if (configData.hasOwnProperty('relativeComponentList')) {
          delete configData.relativeComponentList
        }
        if (configData.hasOwnProperty('filterDimension')) {
          delete configData.filterDimension
        }
        if (copyChartData.id === 'FaTab') {
          copyChartData.isCopy = true
          let children = copyChartData.childrenChartViewList
          children.forEach(item => {
            item.paneData.forEach(it => {
              let childTime = new Date().getTime()
              it.chartId = it.chartId.split('_')[0] + '_' + childTime
              it.data.configData.parentTabId = copyChartData.chartId
            })
          })
        } else {
          copyChartData.data.isCopy = true
        }

        this.$parent.$parent.addChartToListFromTab(copyChartData)
      },
      /**
       * 开启跳转设置modal
       */
      handleClickShowJumpOption() {
        this.jumpCopy = deepCopy(this.getJumpOption)
        this.getJumpOption.optionType = 'report'
        this.showJumpModal = true
      },
      /**
       * 跳转report页签报告搜索
       * @param e
       */
      handleSearchReport(e) {
        let val = e.target.value
        if (val) {
          this.reportList = this.reportList.filter(item => item.oneContent.indexOf(val) !== -1)
        } else {
          this.reportList = deepCopy(this.reportListCopy)
        }
      },
      /**
       * 跳转功能提交并开启
       */
      handleSubmitJumpOption() {
        const { optionType, reportId, reportUrl } = this.getJumpOption
        if ((optionType === 'report' && reportId !== '') || (optionType === 'url' && reportUrl !== '')) {
          this.$Message.success('跳转设置成功！')
          this.$set(this.chartData.data.configData.jumpOption, 'openJump', true)
          this.showJumpModal = false
        } else {
          if (optionType === 'report') {
            this.$Message.warning('请选择跳转报告')
          } else {
            this.$Message.warning('请输入URL链接')
          }
        }
      },
      handleCloseJump() {
        // 组件跳转关闭
        // 1、openJump开关值置为false
        this.$set(this.chartData.data.configData.jumpOption, 'openJump', false)
        // 2、清空跳转链接
        this.$set(this.chartData.data.configData.jumpOption, 'reportId', '')
        this.$set(this.chartData.data.configData.jumpOption, 'reportUrl', '')
        this.$Message.success('组件跳转关闭成功！')
      },
      /**
       * 跳转modal取消功能
       */
      handleCancelJumpOption() {
        if (this.getJumpOption && this.getJumpOption.openJump) {
          this.$set(this.chartData.data.configData, 'jumpOption', this.jumpCopy)
        } else if (this.getJumpOption && !this.getJumpOption.openJump) {
          let obj = {
            openJump: false,
            openDimensionParam: false,
            optionType: 'report',
            reportId: '',
            reportUrl: ''
          }
          this.$set(this.chartData.data.configData, 'jumpOption', obj)
        }
        this.showJumpModal = false
      },
      getJumpParam({ left, top }, param, conditionValue) {
        // this.showSelector = true
        this.selectorPosition = {
          left: left + this.chartData.x,
          top: top + this.chartData.y
        }
        this.jumpFilterParam = param
        this.jumpConditionValue = conditionValue
        this.jumpFunction(this.chartData.data.configData, this.jumpFilterParam, this.jumpConditionValue)
      },
      /**
       * 跳转方法
       * @param configData
       * @param filter
       */
      jumpFunction(configData, filter, conditionValue) {
        if (configData.jumpOption.openJump) {
          const { openDimensionParam, optionType, reportId, reportUrl } = configData.jumpOption
          let url
          if (optionType === 'url') {
            url = reportUrl
          } else if (optionType === 'report') {
            url = `index.html#/template_add?id=${reportId}&openType=view`
            if (openDimensionParam) {
              url += `&filter=${filter}&value=${conditionValue}`
            }
          }
          window.open(url)
        }
      },
      dispatchMsg(...params) {
        // console.log(params)
        if (!this.$refs.chart) return

        if (params.length <= 0) {
          if (this.$refs.chart.setDefaultShow) {
            this.$refs.chart.setDefaultShow()
            this.$refs.chart.setCanEdit(false)
          }
        } else if (params.includes('styleSetting') || params.includes('openFontColorPicker')) {
          if (this.$refs.chart && this.$refs.chart.showSelectRange) {
            this.$refs.chart.showSelectRange()
          }
        }
      },

      sendChartToTemplate(chart) {
        this.$emit('getChartFromTab', chart)
      },
      onChartKeyDown(e) {
        e.stopPropagation()
      },
      onMouseupFuu(e) {
        const { bottom, height, left, right, top, width, x, y } = e.currentTarget.getBoundingClientRect()
        this.chartBoundingClientRect = { bottom, height, left, right, top, width, x, y }
      },

      getTableSize(size) {
        size.width > this.chartData.width ? this.childSize.width = size.width - 330 : this.childSize.width = 0
        size.height > this.chartData.height ? this.childSize.height = size.height - 180 : this.childSize.height = 0
      },

      onResizeCallback: function (handle, x, y, width, height) {
        let isCustomImage = this.chartData.id === 'CustomImage'
        let cornerHandle = handle === 'tl' || handle === 'tr' ||
          handle === 'bl' || handle === 'br'
        if (isCustomImage && cornerHandle) {
          // 如果是图片组件 并在四角拖拽 则等比例放大缩小
          let component = this.$refs.vueDraggableResizable

          if (this.canChangeImage) {
            let widthScale = width / component.width
            let heightScale = height / component.height

            let newX = x
            let newY = y
            let newWidth = width
            let newHeight = height
            // 根据宽高分别改变的比例 以较大的宽高来改变
            if (widthScale > heightScale) {
              newWidth = width
              newHeight = Math.ceil(width / this.imageScale)
            } else {
              newHeight = height
              newWidth = Math.ceil(this.imageScale * height)
            }
            // 根据拖拽点的位置 改变x y
            if (handle === 'tl') {
              newX = x + width - newWidth
              newY = y + height - newHeight
            } else if (handle === 'bl') {
              newX = x + width - newWidth
              newY = component.top
            } else if (handle === 'tr') {
              newX = component.left
              newY = y + height - newHeight
            } else if (handle === 'br') {
              newX = component.left
              newY = component.top
            }
            if (newX < 0 || newY < 0) {
              return false
            }
            // 计算后的x y坐标 宽高改变图片组件
            component.left = newX
            component.top = newY
            component.width = newWidth
            component.height = newHeight
          } else {
            // 第一次 记录宽高比
            this.imageScale = component.width / component.height
            this.canChangeImage = true
          }
          return false
        } else {
          return true
        }

      },
      onResize: function (x, y, width, height) {
        this.changing = true
      },
      onResizeStop: function (x, y, width, height) {
        this.imageScale = null
        this.canChangeImage = false
        this.changing = false
        this.chartData.x = x
        this.chartData.y = y
        this.chartData.width = width
        this.chartData.height = height
        this.chartData.style.width = width
        this.chartData.style.height = height
        if (this.$refs.chart.resize) {
          this.$refs.chart.resize()
        }
      },

      onDragging: function (x, y) {
        this.changing = true
        // this.$parent.checkAlign(this.chartData.i, x, y)
      },

      onDragStop(x, y) {
        this.chartData.x = x
        this.chartData.y = y
        this.changing = false
        // this.$parent.clearAlignLine();
        this.$parent.resizeCanvasContainer(x, y, this.chartData.width, this.chartData.height)
      },

      removeChart(e, skipModal) {
        this.$parent.removeChart(skipModal)
      },
      handleShowDate() {
        if (!this.showDate) {
          this.chartData.height += 30
          this.imgHeight = 10
          this.showDate = true
        } else {
          this.chartData.height -= 30
          this.imgHeight = 0
          this.showDate = false
        }
      },

      resetSelectChart(chart, needRefresh) {
        this.isActive = true
        chart.isActive = true
        const chartList = this.$store.state.chart.chartList
        this.setChartList({ chartList })
        this.$emit('selectChart', chart)
        // 将私有日期填入当前全局保存的chart对象中
        if (needRefresh) {
          this.setCurrentSelectChart({ chart })
        }
        document.onkeyup = this.onReportChartKeyup
      },

      onReportChartKeyup(e) {
        if (this._chartId === this.currentSelectChart.chartId) {
          let { x, y } = this.chartData
          switch (e.keyCode) {
            case 37:
              this.chartData.x = x - diff
              e.stopPropagation()
              break
            case 38:
              this.chartData.y = y - diff
              e.stopPropagation()
              break
            case 39:
              this.chartData.x = x + diff
              e.stopPropagation()
              break
            case 40:
              this.chartData.y = y + diff
              e.stopPropagation()
              break
            default:
              break
          }
        }
      },

      onDeactivated(chart) {
        // 指标浏览器不做去激活处理
        if (!this.showRemoveIcon) {
          return
        }

        this.isActive = false

        this.$store.state.chart.chartList.filter(item => {
          item.isActive = false
        })
        const chartList = this.$store.state.chart.chartList
        this.setChartList({ chartList })
        // 没有图表选中将全局的chart对象置空
        const hasNoChartActive = chartList.every(item => !item.isActive)
        if (this.activeChart) {
          const chart1 = deepCopy(this.activeChart)
          chart1.isActive = chart1.inEditStatues
          this.setCurrentSelectChart({ chart: chart1 })
        } else {
          if (hasNoChartActive) {
            this.$parent.resetCurrentSelectChart()
          }
        }
        if (!chart.inEditStatues) {
          this.dispatchMsg()
        }
      },
      isSupportDateSetting(chartId) {
        return _.indexOf(support_date_setting_charts, chartId) !== -1
      },
      getParentRefLineParams(params) {
        this.getRefLineParams(params)
      },

      handleShowMenu() {
        this.menuShow = true
      },
      handleHideMenu(e, chartData) {
        this.menuShow = false
      },
      canShowExtraSetting(chartData) {
        return this.editable && this.isSupportDateSetting(chartData.id) && (chartData.data.configData.isOpenCompareBeforeTime || chartData.data.configData.isOpenProportion || chartData.data.configData.isOpenThreshold)
          && chartData.id !== 'Indicator'
      },
      canShowLineBarSetting(chartData) {
        return this.editable && chartData.id === 'MixLineBar' && chartData.data.indicator.length
      },

      canShowThresholdSetting(chartData) {
        let chartDataId = chartData.id
        if (chartDataId === 'SimpleLine' || chartDataId === 'SimpleBar' || chartDataId === 'MixLineBar' || chartDataId === 'BasicRadar') {
          return _.get(chartData, ['data', 'configData', 'isOpenThreshold']) && chartData.data.indicator.length
        } else {
          return false
        }
      },
      changeChartType(e, chartType) {
        e.stopPropagation()
        this.$set(this.chartData, 'id', chartType)
        this.$set(this.chartData.data, 'configData', { ...CHART_DEFAULT_CONFIG[chartType].config })
        if (this.currentSelectChart && this.currentSelectChart.chartId === this.chartData.chartId) {
          this.$set(this.currentSelectChart, 'id', chartType)
        }
      },
      canChangeChartType(chartType) {
        const supportChangeChartTypes = this.chartData.data.configData.supportChangeChartTypes
        let flag = supportChangeChartTypes && _.indexOf(supportChangeChartTypes, chartType) !== -1
        if (flag) {
          let dataDimension = this.chartData.data.dimension
          let dataIndicator = this.chartData.data.indicator
          switch (this.chartData.id) {
            case 'CustomTable':
              if (chartType === 'Indicator') {
                flag = dataDimension && dataDimension.length === 0 &&
                  dataIndicator && dataIndicator.length === 1
              } else if (chartType === 'SimpleLine' || chartType === 'SimpleBar' || chartType === 'MixLineBar' || chartType === 'IndexBoard' || chartType === 'BasicRadar') {
                flag = dataDimension && dataDimension.length === 1 &&
                  dataIndicator && dataIndicator.length > 0
              } else if (chartType === 'SimplePie') {
                flag = dataDimension && dataDimension.length === 1 &&
                  dataIndicator && dataIndicator.length === 1
              } else if (chartType === 'DoublePie') {
                flag = dataDimension && dataDimension.length === 2 &&
                  dataIndicator && dataIndicator.length === 1
              }
              break
            case 'SimpleLine':
              if (chartType === 'SimplePie') {
                flag = dataIndicator && dataIndicator.length === 1
              }
              break
            case 'BasicRadar':
              if (chartType === 'SimplePie') {
                flag = dataIndicator && dataIndicator.length === 1
              }
              break
            case 'SimpleBar':
              if (chartType === 'SimplePie') {
                flag = dataIndicator && dataIndicator.length === 1
              }
              break
            case 'MixLineBar':
              if (chartType === 'SimplePie') {
                flag = dataIndicator && dataIndicator.length === 1
              }
              break
          }
        }
        return flag
      },
      changeDefaultShow(param) {
        this.chartData.defaultShow = param
      },
      showDefaultValueSettingBox() {
        if (this.currentSelectChart.id === 'IndicatorFilter') {
          let IndicatorConditionValue = this.currentSelectChart.data.configData.conditionValue
          this.IndicatorConditionValue = IndicatorConditionValue
        } else if (this.currentSelectChart.id === 'DimensionFilter') {
          if (this.currentSelectChart.data.configData.conditionValue) {
            this.DimensionConditionValue = this.currentSelectChart.data.configData.conditionValue.split(',')
          } else {
            this.DimensionConditionValue = []
          }
        }
        this.defaultValueSettingShow = true
      },
      resetDefaultValueSettingBox(e) {
        e.stopPropagation()
        this.defaultValueSettingShow = false
      },
      confirmDefaultValue(e, conditionValue, valueTitle) {
        e.stopPropagation()
        this.defaultValueSettingShow = false
        this.currentSelectChart.data.configData.conditionValue = conditionValue
        // 改变title
        if (!this.currentSelectChart.style.titleCustomChange) {
          if (this.currentSelectChart.id === 'IndicatorFilter') {
            let { filterIndicator, filterIndicatorTitle } = this.currentSelectChart.data.configData
            if (filterIndicator && filterIndicatorTitle) {
              let title = ''
              title += filterIndicatorTitle
              title += valueTitle
              this.currentSelectChart.style.title = title
              this.currentSelectChart.style.showTitle = true
            }
          } else if (this.currentSelectChart.id === 'DimensionFilter') {
            let { filterDimension, filterDimensionTitle } = this.currentSelectChart.data.configData
            if (filterDimension && filterDimensionTitle) {
              let title = ''
              title += filterDimensionTitle
              if (valueTitle) {
                title += '：' + valueTitle
              } else {
                title += '：' + '全部'
              }
              this.currentSelectChart.style.title = title
              this.currentSelectChart.style.showTitle = true
            }
          }
        }
        // 刷新相关图表
        if (this.currentSelectChart.parentId) {
          return
        }
        let relativeComponentList = this.currentSelectChart.data.configData.relativeComponentList
        this.$parent.$parent.$refs.reportCanvasLayout.$children.forEach(item => {
          let chart = item.$refs.chart
          if (relativeComponentList.find(item => item === chart.chartId)) {
            chart.refreshData && chart.refreshData()
          }
        })
      },
      handleShowCascader() {
        if (this.timeout) clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          this.cascaderVisible = true
        }, 0)
      },
      handleCloseCascader() {
        if (this.timeout) {
          clearTimeout(this.timeout)
          this.timeout = setTimeout(() => {
            this.cascaderVisible = false
          }, 200)
        }
      },
      handleShowItem(e) {
        if (this.chartData.width + this.chartData.x > this.$parent.$parent.reportWidth - 100) {
          e.target.children[3].style.left = 'auto'
          e.target.children[3].style.right = '100%'
        } else {
          e.target.children[3].style.left = '100%'
          e.target.children[3].style.right = 'auto'
        }
        e.target.children[3].style.display = 'block'
      },
      handleCloseItem(e) {
        e.target.children[3].style.display = 'none'
      },
      toTopLevel() {
        let maxLevel = Math.max.apply(Math, this.$parent.$parent.chartDataList.map(item => {
          return item.level
        }))
        if (this.chartData.level < maxLevel) {
          // 当前组件不在顶层时，置于顶层
          this.$parent.$parent.chartDataList.map(item => {
            if (item.chartId === this.chartData.chartId) {
              item.level = maxLevel + 1
              if (item.chartId === this.currentSelectChart.chartId) {
                this.currentSelectChart.level = maxLevel + 1
              }
            }
          })
        }
      },
      toBottomLevel() {
        let minLevel = Math.min.apply(Math, this.$parent.$parent.chartDataList.map(item => {
          return item.level
        }))
        if (this.chartData.level > minLevel) {
          // 当前组件不在底层时，置于底层
          this.$parent.$parent.chartDataList.map(item => {
            if (item.chartId === this.chartData.chartId) {
              item.level = minLevel - 1
              if (item.chartId === this.currentSelectChart.chartId) {
                this.currentSelectChart.level = minLevel - 1
              }
            }
          })
        }
      },
      toMoveUpOneLevel() {
        let chartDataLevel = this.chartData.level
        let higherChartDataList = this.$parent.$parent.chartDataList.filter(item => item.level > chartDataLevel)
        // 获取层级高于此组件的列表
        if (higherChartDataList.length) {
          let higherRecentLevel = Math.min.apply(Math, higherChartDataList.map(item => {
            return item.level
          }))
          this.$parent.$parent.chartDataList.map(item => {
            if (item.chartId === this.chartData.chartId) {
              item.level = higherRecentLevel
              if (item.chartId === this.currentSelectChart.chartId) {
                this.currentSelectChart.level = higherRecentLevel
              }
            } else if (item.level === higherRecentLevel) {
              item.level = chartDataLevel
              if (item.chartId === this.currentSelectChart.chartId) {
                this.curretnSelectChart.level = chartDataLevel
              }
            }
          })
        }
      },
      toMoveDownOneLevel() {
        let chartDataLevel = this.chartData.level
        let lowerChartDataList = this.$parent.$parent.chartDataList.filter(item => item.level < chartDataLevel)
        // 获取层级低于此组件的列表
        if (lowerChartDataList.length) {
          let lowerRecentLevel = Math.max.apply(Math, lowerChartDataList.map(item => {
            return item.level
          }))
          this.$parent.$parent.chartDataList.map(item => {
            if (item.chartId === this.chartData.chartId) {
              item.level = lowerRecentLevel
              if (item.chartId === this.currentSelectChart.chartId) {
                this.currentSelectChart.level = lowerRecentLevel
              }
            } else if (item.level === lowerRecentLevel) {
              item.level = chartDataLevel
              if (item.chartId === this.currentSelectChart.chartId) {
                this.curretnSelectChart.level = chartDataLevel
              }
            }
          })
        }
      },
      lineBarSwitch(item, val) {
        this.$set(item, 'lineBarType', val)
      }
    },
    beforeDestroy() {
    },
  }

</script>

<style lang="scss" scoped>
  @include fa-use-theme($fa-default-themes) {
    .reportComponent {
      background: $f-them-report-component-background;
    }
  }
</style>

<style lang="less" scoped>
  .text-area-butt {
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -34px;

    .img-wrapper {
      width: 150px;
      text-align: left;
    }

    .img-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 80%;

      .but {
        padding: 0 10px;
        background-color: #FFFFFF;
        line-height: 32px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.36);
        letter-spacing: 0;
        text-align: left;
        font-weight: 400;
        height: 32px;
        width: 55px;
      }

      .user-select-none {
        -ms-user-select: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -webkit-touch-callout: none;
      }
    }


  }

  .componentImg {
    position: absolute;
    top: 10px;
    left: 14px;
  }

  .jumpModal {
    /deep/ .ivu-tabs-bar {
      border-bottom-style: none;
    }

    /deep/ .ivu-modal-body {
      padding: 10px 16px;
    }

    /deep/ .ivu-tabs-tab {
      padding: 4px 0;

    }

    /deep/ .ivu-tabs-nav .ivu-tabs-tab-active {
      color: #3f73ff;
    }

    /deep/ .ivu-tabs-ink-bar {
      width: 29px !important;
      background: #3f73ff !important;
    }

    /deep/ .ivu-input {
      height: 28px;
      border-radius: 2px;
    }

    /deep/ .ivu-modal-footer {
      border-top: none;
    }

    .jumpModalBtn {
      height: 30px !important;
      border-radius: 4px !important;
    }
  }


  .chartTypeChangeDropdown {
    .ivu-select-dropdown {
      .ivu-dropdown-item {
        img {
          vertical-align: middle;
        }

        span {
          vertical-align: middle;
          margin-left: 10px;
        }
      }
    }
  }

  .filterBox {
    position: absolute;
    top: 100%;
    margin-top: 3px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;

    .body {
      padding: 16px;
    }
  }

  .dimensionFilterBox {
    width: 500px;
  }

  .indicatorFilterBox {
    width: 380px;
  }

  .iconContent {
    .ivu-icon.ivu-icon-ios-more {
      margin-left: 4px !important;

      &:before {
        content: url('~@/assets/images/report/moreBtn.svg');
      }
    }

    .ivu-icon.ivu-icon-md-close {
      margin-left: 4px !important;

      &:before {
        content: url('~@/assets/images/report/closeBtn.svg')
      }
    }

    .cascader-menu {
      width: 96px;
      background: #FFFFFF;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      margin: 5px 0 5px -26px;

      .cascader-menu-item {
        position: relative;
        list-style-type: none;
        padding: 9px 8px 9px 12px;
        cursor: pointer;
        display: flex;
        align-items: center;

        .img {
          margin-right: 6px;
          display: block;
        }

        .imgSelected {
          margin-right: 6px;
          display: none;
        }

        .title {
          vertical-align: middle;
        }

        .content {
          position: absolute;
          top: 0;
          left: 100%;
          background: #FFFFFF;
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          display: none;

          > div {
            white-space: nowrap;
          }

          .contentList {
            li {
              list-style-type: none;
              padding: 9px 16px;
              white-space: nowrap;

              img {
                vertical-align: middle;
              }

              span {
                vertical-align: middle;
                margin-left: 10px;
              }
            }

            li:hover {
              background: rgba(142, 175, 243, 0.1);
            }
          }

          .contentTitle {
            font-size: 12px;
            color: #333333;
            line-height: 34px;
            padding: 0 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }

          .lineBarSwitchItemBox {
            padding: 0 6px 0 12px;
            line-height: 34px;
            color: #333333;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
              max-width: 120px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .lineBarSwitchBox {
              display: flex;

              > div {
                width: 18px;
                height: 18px;
                border-radius: 2px;
                margin-left: 4px;
                text-align: center;

                img {
                  width: 12px;
                  height: 12px;
                  margin-bottom: 6px;
                }

                &:hover {
                  background: rgba(142, 175, 243, 0.1);
                }
              }
            }
          }
        }
      }

      .cascader-menu-item:hover {
        background: rgba(142, 175, 243, 0.1);

        .title {
          color: #3F73FF;
        }

        .img {
          display: none;
        }

        .imgSelected {
          display: block;
        }
      }
    }
  }
</style>

<style>
  .handle {
    background: transparent;
    border: 3px solid #3F73FF;
  }

  .handle-tl {
    margin-top: -4px;
    margin-left: -4px;
    top: 0 !important;
    left: 0 !important;
    cursor: nwse-resize;
    border-right: none;
    border-bottom: none;
  }

  .handle-tm {
    margin-top: -4px;
    /*margin-left: -5px;*/
    top: 0 !important;
    left: 50%;
    cursor: ns-resize;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 5px;
  }

  .handle-tr {
    margin-top: -4px;
    margin-left: -4px;
    top: 0 !important;
    right: 0 !important;
    left: 100%;
    cursor: nesw-resize;
    border-left: none;
    border-bottom: none;
  }

  .handle-mr {
    /*margin-top: -5px;*/
    margin-left: -4px;
    cursor: ew-resize;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-width: 5px;
  }

  .handle-br {
    margin-top: -4px;
    margin-left: -4px;
    top: 100% !important;
    left: 100% !important;
    cursor: nwse-resize;
    border-top: none;
    border-left: none;
  }

  .handle-bm {
    margin-top: -4px;
    /*margin-left: -5px;*/
    /*bottom: 0!important;*/
    /*left: 50%;*/
    cursor: ns-resize;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 5px;
  }

  .handle-bl {
    /*margin-top: -7px;*/
    /*margin-left: -2px;*/
    /*top: 100%;*/
    /*left: 0 !important;*/
    cursor: nesw-resize;
    border-top: none;
    border-right: none;
  }

  .handle-ml {
    /*margin-top: -5px;*/
    /*margin-left: -3px;*/
    /*top: 50%;*/
    /*left: 0%;*/
    cursor: ew-resize;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-width: 5px;
  }

  .vdr {
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    opacity: 1;
    cursor: move;
  }

  .mouseEvent:hover {
    box-shadow: 0px 0px 8px 0px rgba(100, 149, 250, 1);
    border: 1px solid #8ABBF0;

  }

  .saveBoxShadow {
    box-shadow: 0px 0px 8px 0px rgba(250, 100, 0, 1);
  }

  .backTransfer {
    background: transparent !important;
  }

  .activatedClass {
    box-shadow: 0 0 10px #4799F0;
    border: 1px solid #4799F0;
  }

  .move-chart {
    opacity: 0.5;
  }

  .child-horizon-center {
    display: flex;
    justify-content: center;
  }

  .child-vertical-center {
    display: flex;
    align-items: center;
  }

  .child-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .drawing-area-wrap {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .drawing-area-wrap-textarea {
    height: 100%;
    width: 100%;
  }

  .common-title-wrap {

  }

  .common-setting-wrap {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
  }

  .chart-view-container {
    width: 100%;
    flex: 1;
    /* 百分百会留背景白边 */
    overflow: auto;
    position: relative;
  }

  .chart-view-container-textarea {
    width: 100%;
    height: calc(100% - 20px);
    /* 百分百会留背景白边 */
    /*overflow: auto;*/
    position: relative;
    /*padding: 10px;*/
  }

  .chart-area-wrap {
    height: 100%;
    width: 100%;
  }

  .chart-area-wrap-full {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .chart-area-wrap-full-textarea {
    height: 100%;
    width: 100%;
  }

  .iconContent {
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.20);
    margin: 4px 10px 0 0;
    float: right;
    z-index: 9999;
  }

  .date-picker-wrap {
    height: 24px;
    /*width: 24px;*/
    margin: 4px 10px 0 0;
    /*float: right;*/
    z-index: 9999;
    display: flex;
    align-items: center;
  }

  .date-picker-container {
    height: 26px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .indicatorItemBox {
    padding: 0px 12px;
    line-height: 34px;
    color: #333333;
  }

  .indicatorItemBox:hover {
    background: rgba(142, 175, 243, 0.1);
  }

</style>
