<template>
  <div class="container" id="canvasContainer" :style="{height: realHeight}" @drop="handleDrop($event)" @dragover="handleAllowDrop($event)">
    <slot></slot>
    <Spin fix v-if="pdfLoading" size="large">
      <Icon type="ios-loading" size=28 class="demo-spin-icon-load"></Icon>
      <div>导出中...</div>
    </Spin>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import mixin from '@/view/report/reportTemplate/mixin/ReportMixin'
  const extraHeight = 600
  export default {
    name: 'ReportCanvasLayout',
    mixins: [ mixin ],
    props: {
      chartDataList: {
        type: Array,
        default: () => {
          return []
        }
      },
      isPreview: {
        type: Boolean,
        default: true
      },
      pdfLoading: {
        type: Boolean,
        default: false
      },
      chartLink: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        hLineShow: false,
        vLineShow: false,
        hStyle: { 'left': 0, 'display': 'none' },
        vStyle: { 'top': 0, 'display': 'none' },
        pageHeight: 0,
        realHeight: 3000
      }
    },
    mounted() {
      let container = document.querySelector('#canvasContainer')
      container.addEventListener('mousemove', (e) => {
        if (e.target === container) this.$emit('canvasClicked', false)
      })
    },
    components: {},
    computed: {
      reportPageMeasure: function() {
        return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.pageMeasure
      }
    },
    methods: {
      ...mapActions(['setReportSetting']),
      /**
       * 鼠标释放创建图表
       * @param e
       */
      handleDrop(e) {
        let data = e.dataTransfer.getData("Text");
        const position = {x: e.offsetX, y: e.offsetY}
        let chart = this.clearChart(JSON.parse(data), position)
        this.$emit('getChartFromTab', chart)
        // this.$emit('')
        // console.log(this.$parent)
      },
      /**
       * 允许释放
       * @param e
       */
      handleAllowDrop(e) {
        e.preventDefault()
      },
      /**
       * 清除原先为子组件的字段并修改xy
       * @param chart
       * @param position
       * @returns {*}
       */
      clearChart(chart, position) {
        delete chart.shouldCreate
        delete chart.data.configData.parentTabId
        this.$set(chart, 'x', position.x)
        this.$set(chart, 'y', position.y)
        return chart
      },
      removeChart(index) {
        this.$parent.removeChart(index)
      },
      resetCurrentSelectChart() {
        this.$parent.resetCurrentSelectChart()
      },
      canvasResize() {
        this.$nextTick(() => {
          window.dispatchEvent(new Event('resize'))
        })
      },

      resizeCanvasContainer(x, y, width, height) {
        let container = document.getElementById('canvasContainer')
        let reportPageMeasureArr = this.reportPageMeasure.split(',')
        let pageType = '1'
        if(reportPageMeasureArr.length > 2) {
          pageType = reportPageMeasureArr[0]
          // 如果图表底部距离画布底部小于100，扩容画布 并且页面尺寸为标准或移动端，才允许高度自动扩展
          if (container.offsetHeight - y - height <= 0 &&
              (pageType === '1' || pageType === '2')) {
            if(reportPageMeasureArr.length > 2) {
              reportPageMeasureArr[2] = Number(reportPageMeasureArr[2]) + extraHeight
            }
          }
          // 如果图表右部距离画布右部小于100，扩容画布 并且页面尺寸为标准，才允许高度自动扩展
          if (container.offsetWidth - x - width <= 0 &&
              (pageType === '1')) {
            if(reportPageMeasureArr.length > 2) {
              reportPageMeasureArr[1] = Number(reportPageMeasureArr[1]) + extraHeight
            }
          }
          let reportSetting = this.$store.state.chart.reportSetting
          reportSetting.pageMeasure = reportPageMeasureArr.join(',')
          this.setReportSetting({ reportSetting })
        }
      },

      setRealHeight(height) {
        this.realHeight = height
        this.$nextTick(() => {
          document.getElementById('canvasContainer').style.height = height + 'px'
          window.dispatchEvent(new Event('resize'))
        })
      },

    },
    watch: {}
  }
</script>

<style scoped>
  .container {
    width: 100%;
    min-height: 100%;
    position: relative;

  }

  .demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
  }
</style>
