
html {
  transition: all 0.15s;
}
// 默认主题（浅色）
$default-theme: (
  them-report-background: #f2f6fc,
  them-report-component-background: #ffffff,
);
// 深色系
$black-theme: (
  them-report-background: #181f32,
  them-report-component-background: #192241,
);

$fa-default-themes: (
  'default': $default-theme,
  'black': $black-theme
);

@function fa-var($key) {
  @if(map_has_key($theme-map, $key)) {
    @return map-get($theme-map, $key);
  } @else {
    @return map-get($default-theme, $key)
  }
}

@mixin fa-themeify($theme, $append-default-theme:true) {
  @if (length(map-keys($theme)) > 0 and $append-default-theme) {
    $fa-themes: map-merge($fa-default-themes, $theme) !global;
  } @else {
    $fa-themes: $theme !global;
  }
  @each $theme-name, $theme-map in $fa-themes {
    $theme-map: $theme-map !global;

    $f-them-report-background: fa-var(them-report-background) !global;
    $f-them-report-component-background: fa-var(them-report-component-background) !global;
    @if (str_length($theme-name) > 0) {
      .fa-theme-#{$theme-name} {
        @content;
      }
    } @else {
      html {
        @content;
      }
    }
  }
}

@mixin fa-use-theme($theme: ()) {
  @include fa-themeify($theme, true) {
    @content;
  }
}
