<template>
  <div class="connectionprview-main">
    <div style="display: flex; flex-wrap: wrap; height: 100%" v-if="!showImg">
      <div class="left">
        <div class="header">
          <el-button class="standardButton" type="primary" @click="showImg = true">新建数据连接</el-button>
        </div>
        <div class="contentBox">
          <div
            v-for="(item, index) in list"
            :key="item.id"
            :class="{ 'content-item': true, active: activeIndex == index }"
            @click="changeItem(item, index)"
          >
            <span class="leftitem">
              <i class="el-icon-link"></i>
              <input
                v-if="focusInput && activeIndex == index"
                @blur="nameSubmit(item)"
                @keyup.enter="nameSubmit(item)"
                ref="focusInpt"
                type="text"
                v-model="selName"
              />
              <span v-else>{{ item.name }}</span>
            </span>

            <el-popover placement="bottom-start" width="150" ref="popver" trigger="hover" popper-class="sjljbox">
              <i class="el-icon-more" slot="reference"></i>
              <div class="popItem" @click="textItem(item)"><svg-icon icon-class="lianjie" /> 测试连接</div>
              <div class="popItem" @click="editItem(item)"><svg-icon icon-class="edit" /> 编辑</div>
              <div class="popItem" @click="reNameSubmit(item, index)"><svg-icon icon-class="rename" /> 重命名</div>
              <div class="popItem" @click="deleteItem(item)"><svg-icon icon-class="delete" /> 删除</div>
            </el-popover>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="header" style="justify-content: space-between">
          <span>{{ info.name }}</span>
          <el-button v-if="info.id" class="standardButton" type="primary" @click="editItem(info)">编辑</el-button>
        </div>
        <div class="contentBox">
          <Detiles :info.sync="info" type="prview" v-if="info.id"></Detiles>
        </div>
      </div>
    </div>

    <template v-else>
      <div class="slectBtn">
        <el-button class="standardButton" @click="showImg = false">取消</el-button>
        <el-button disabled class="standardButton" type="primary">保存</el-button>
      </div>
      <div class="imageList">
        <div class="imgItem" v-for="item in sqlImgList" :key="item.name" @click="addItem(item.type)">
          <img :src="item.imgUrl" alt="" />
          <span> {{ item.name }}</span>
        </div>

        <div class="imgItem addItem">
          <i class="el-icon-plus"></i>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import Detiles from "./detiles";
import { dataConnectList, dataConnectDelete, dataConnectUpdate, dataConnectTest } from "@/dmp/api/dataConnect";
import { deepCopy } from "@/utils/common";
import { sqlImgList } from "./connectData";

export default {
  name: "Connectionprview",
  data() {
    return {
      list: [], // 数据库列表
      activeIndex: 0, // 当前选中的数据库下标
      focusInput: false, // 重命名输入框是否聚焦
      selName: "", // 重命名的名称
      info: {
        // 当前选中的数据库信息
      },
      showImg: false, // 是否显示新建数据库
      sqlImgList: sqlImgList // 数据库图标列表  描述：数据库图标是按照数据库类型分类显
    };
  },
  components: {
    Detiles // 数据库详情
  },
  mounted() {
    this.getList();
  },
  methods: {
    changeItem(item, index) {
      // 切换数据库
      this.activeIndex = index;
      this.info = item;
    },
    addItem(item) {
      // 新建数据库
      this.info = {};
      this.showImg = false;
      this.$emit("editInfo", { type: item, titname: "新建数据连接" }); // 通知父组件
    },
    editItem(item) {
      // 编辑数据库
      this.$emit("editInfo", { ...item, titname: "编辑数据连接" }); // 通知父组件
    },
    reNameSubmit(item, index) {
      // 重命名数据库
      this.focusInput = true;
      this.selName = item.name;
      this.$refs["popver"][0].doClose();
      this.changeItem(item, index);
      setTimeout(() => {
        this.$refs.focusInpt[0].focus();
      }, 500);
    },
    nameSubmit(item) {
      this.focusInput = false;
      // 重命名提交
      if (this.selName == item.name) {
        return false;
      } else if (!this.selName) {
        return false;
      }
      dataConnectUpdate({ ...item, name: this.selName })
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            item.name = this.selName;
            this.$message.success("重命名成功" + item.name);
          } else {
            this.$message.error(message || "重命名失败");
          }
        })
        .catch(err => {
          this.$message.error(err || "重命名失败");
        });
    },
    textItem(item) {
      // 测试数据库
      dataConnectTest({ ...item })
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            this.$message.success("测试连接成功");
          } else {
            this.$message.error(message || "测试连接失败");
          }
        })
        .catch(err => {
          this.$message.error(err || "测试连接失败");
        });
    },
    deleteItem(item) {
      // 删除数据库
      this.$confirm("此操作将永久删除该数连接, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      }).then(() => {
        dataConnectDelete(item.id)
          .then(res => {
            const { state, message } = res.data;
            if (state === "success") {
              this.$message({ type: "success", message: "删除成功!" });
              this.getList();
            } else {
              this.$message.error(message || "删除失败");
            }
          })
          .catch(err => {
            this.$message.error(err || "删除失败");
          });
      });
    },
    getList() {
      // 获取数据库列表
      dataConnectList().then(res => {
        this.list = res.data.data.map(ele => ({ ...ele, password: "" }));
        this.$emit("connectionList", deepCopy(this.list)); // 通知父组件
        if (this.list.length > 0) {
          this.info = this.list[0];
        }
      });
    }
  }
};
</script>

<style  lang='scss' scoped >
.connectionprview-main {
  height: calc(100vh - 200px);
  .left {
    width: 19%;
    min-width: 200px;
    height: 100%;
  }
  .right {
    flex: 1;
    border-left: 1px solid #ebeef5;
    height: 100%;
  }

  .header {
    padding: 0px 30px;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebeef5;
    font-size: 12px;
  }
  .contentBox {
    padding: 10px 0;
    overflow-y: auto;
    height: calc(100% - 60px);
    .content-item {
      height: 30px;
      background: rgba(236, 236, 236, 0.35);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 6px 16px 0 16px;
      padding: 0 10px;
      line-height: 30px;
      border-radius: 4px;

      .leftitem {
        font-size: 12px;
        width: calc(100% - 50px);
        flex: 1;
        display: flex;
        align-items: center;
        input {
          border-radius: 4px;
          width: 100%;
          height: 20px;
          border: none;
          outline: none;
          font-size: 12px;
        }
        span {
          width: calc(100% - 10px);
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        i {
          margin-right: 5px;
        }
      }

      &.active {
        color: #3f73ff;
        background: rgba(63, 115, 255, 0.1);
      }
    }
  }
  .slectBtn {
    padding: 0px 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .imageList {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    .imgItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #f2f2f2;
      font-size: 12px;
      cursor: pointer;
      border-radius: 4px;
      width: 127.5px;
      padding: 6.5px;
      white-space: nowrap;
      margin-left: 10px;

      img {
        width: 115px;
        height: 87px;
      }
      span {
        margin: 5px 0 2px 0;
      }

      &:hover {
        background: #e6e6e6;
      }

      &.addItem {
        background: #fff;
        border: 1px dashed #8babff;
        justify-content: center;
        align-items: center;
        color: #3f73ff;
        font-size: 17px;
        cursor: no-drop;
      }
    }
  }
}
</style>

<style lang="scss" >
.sjljbox {
  padding: 5px 0 0;
  font-size: 12px;
  .popItem {
    height: 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    .svg-icon {
      font-size: 14px;
      margin-right: 8px;
    }
    &:hover {
      background-color: #ecf1ff;
      color: #3f73ff;
    }
  }
}
</style>
