<template>
  <div class="detiles-main">
    <el-form ref="form" :model="info" :rules="rules" label-width="118px" label-position="left" :disabled="type == 'prview'">
      <el-form-item label="数据库连接名称:" prop="name">
        <el-input v-model="info.name" size="small" placeholder="请输入数据库连接名称"></el-input>
      </el-form-item>
      <el-form-item label="数据库类型:" prop="type">
        <el-input :value="typeText" size="small" placeholder="请选择数据库类型" disabled></el-input>
      </el-form-item>
      <el-form-item label="数据库:" prop="sid">
        <el-input v-model="info.sid" size="small" placeholder="请输入数据库"></el-input>
      </el-form-item>
      <el-form-item label="IP地址:" prop="ipAddr">
        <el-input v-model="info.ipAddr" size="small" placeholder="请输入IP地址"></el-input>
      </el-form-item>
      <el-form-item label="端口:" prop="port">
        <el-input v-model="info.port" size="small" placeholder="请输入端口"></el-input>
      </el-form-item>
      <el-form-item label="用户名:" prop="userName">
        <el-input v-model="info.userName" size="small" placeholder="请输入用户名"></el-input>
      </el-form-item>
      <el-form-item label="密码:">
        <el-input value="123456" show-password disabled v-if="!info.titname" size="small" placeholder="请输入密码"></el-input>
        <el-input v-model="info.password" v-else size="small" :placeholder="pwPlaceholder"></el-input>
      </el-form-item>

      <el-form-item label="连接说明:">
        <el-input type="textarea" v-model="info.remark" placeholder="请输入连接说明" size="small"></el-input>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { sqlImgList } from "./connectData";

export default {
  name: "BaseDetiles",
  props: {
    info: {
      type: Object,
      default: () => {}
    },
    type: {
      type: String,
      default: "prview"
    }
  },
  data() {
    return {
      rules: {
        name: [{ required: true, message: "请输入数据库连接名称", trigger: "blur" }],
        type: [{ required: true, message: "请输入数据库类型", trigger: "blur" }],
        sid: [{ required: true, message: "请输入数据库", trigger: "blur" }],
        ipAddr: [{ required: true, message: "请输入IP地址", trigger: "blur" }],
        port: [{ required: true, message: "请输入端口", trigger: "blur" }],
        userName: [{ required: true, message: "请输入用户名", trigger: "blur" }]
      },
      sqlImgList: sqlImgList
    };
  },
  computed: {
    typeText() {
      const selinfo = this.sqlImgList.find(ele => ele.type == this.info.type);
      return selinfo.name;
    },
    pwPlaceholder() {
      return this.info.titname === '新建数据连接' ? '请输入密码' : '••••••'
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(valid => {
        if (valid) {
          this.$emit("verification", this.info);
        } else {
          return false;
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.detiles-main {
  padding: 20px;
  max-width: 500px;
  /deep/ .el-input.is-disabled .el-input__inner {
    background-color: #fff;
    color: #333;
  }
  /deep/ .el-textarea.is-disabled .el-textarea__inner {
    background-color: #fff;
    color: #333;
  }
}
</style>
