<template>
  <div class="editConnection-main">
    <div style="height: 100%" v-if="!showImg">
      <div class="header">
        {{ selectInfo.titname }}
        <div class="btnBox">
          <el-button class="standardButton" @click="connectionprview()">取消</el-button>
          <el-button class="standardButton" @click="textItem()">测试连接</el-button>
          <el-button class="standardButton" type="primary" @click="saveForm()">保存</el-button>
        </div>
      </div>
      <div class="content" v-loading="loading">
        <div class="typeBox" @click="showImg = true"><img src="@/dmp/assets/images/dataConnection/goback.png" alt="" /> {{ typeText }}</div>
        <Detiles :info.sync="selectInfo" type="edit" ref="detile" @verification="verification"></Detiles>
      </div>
    </div>
    <template v-else>
      <div class="slectBtn">
        <el-button class="standardButton" @click="goback()">取消</el-button>
        <el-button disabled class="standardButton" type="primary">保存</el-button>
      </div>
      <div class="imageList">
        <div class="imgItem" v-for="item in sqlImgList" :key="item.name" @click="addItem(item.type)">
          <img :src="item.imgUrl" alt="" />
          <span> {{ item.name }}</span>
        </div>

        <div class="imgItem addItem">
          <i class="el-icon-plus"></i>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import Detiles from "./detiles";
import { dataConnectCreate, dataConnectUpdate, dataConnectTest } from "@/dmp/api/dataConnect";
import { sqlImgList } from "./connectData";

export default {
  props: {
    selectInfo: {
      type: Object,
      default: () => {}
    }
  },
  components: {
    Detiles // 数据库详情
  },
  data() {
    return {
      showImg: false,
      loading: false,
      sqlImgList: sqlImgList // 数据库图标列表  描述：数据库图标是按照数据库类型分类显
    };
  },
  computed: {
    typeText() {
      const selinfo = this.sqlImgList.find(ele => ele.type == this.selectInfo.type);
      return selinfo.name;
    }
  },
  methods: {
    connectionprview() {
      this.$emit("connectionprview", false);
    },
    addItem(value) {
      this.selectInfo.type = value;
      this.showImg = false;
    },
    goback() {
      this.showImg = false;
      if (this.selectInfo.titname == "新建数据连接") {
        this.$emit("connectionprview", false);
      }
    },
    saveForm() {
      // 触发保存
      this.$refs.detile.onSubmit();
    },
    textItem() {
      // 测试数据库
      this.loading = true;
      dataConnectTest({ ...this.selectInfo })
        .then(res => {
          const { state, message } = res.data;
          if (state === "success") {
            this.$message.success("测试连接成功");
          } else {
            this.$message.error(message || "测试连接失败");
          }
          this.loading = false;
        })
        .catch(err => {
          this.$message.error(err || "测试连接失败");
          this.loading = false;
        });
    },
    verification(value) {
      // 通过验证
      let api = dataConnectCreate;
      this.loading = true;

      if (this.selectInfo.titname == "编辑数据连接") {
        api = dataConnectUpdate;
      }
      api(this.selectInfo)
        .then(res => {
          this.loading = false;
          const { state, message } = res.data;
          if (state == "success") {
            this.$message.success(this.selectInfo.titname == "编辑数据连接" ? "编辑成功" : "新建成功");
            this.$emit("connectionprview", false);
          } else {
            this.$message.error(message);
          }
        })
        .catch(err => {
          this.loading = false;
          this.$message.error(err);
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.editConnection-main {
  height: calc(100vh - 200px);
  .header {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #ebeef5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 30px;
    .btnBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .standardButton {
        margin-left: 10px;
      }
    }
  }
  .content {
    padding: 20px 30px;
    font-size: 12px;
    height: calc(100% - 60px);
    overflow: auto;
    .typeBox {
      display: flex;
      align-items: center;
      width: fit-content;
      cursor: pointer;
      font-weight: bold;
      img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
    }
  }

  .slectBtn {
    padding: 0px 30px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .imageList {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
    .imgItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #f2f2f2;
      font-size: 12px;
      cursor: pointer;
      border-radius: 4px;
      width: 127.5px;
      padding: 6.5px;
      white-space: nowrap;
      margin-left: 10px;

      img {
        width: 115px;
        height: 87px;
      }
      span {
        margin: 5px 0 2px 0;
      }

      &:hover {
        background: #e6e6e6;
      }

      &.addItem {
        background: #fff;
        border: 1px dashed #8babff;
        justify-content: center;
        align-items: center;
        color: #3f73ff;
        font-size: 17px;
        cursor: no-drop;
      }
    }
  }
}
</style>
