<template>
  <div>BaseChart</div>
</template>

<script>
  import {findInVuex, storeIntoVuex} from './utils/storeUtls'
  import {newPromise} from './utils/promis'
  import {getReportCompareDataAndHeaders, queryChartDataForPage,} from '@/api/report'
  import moment from 'moment'
  import {calculateAccumulateDate, getLastTradingDate} from '@/utils/chartDate'
  import _ from 'lodash'
  import {getChartPrivateDate, getCompareDate} from '@/utils/chartDate'
  import {mapActions, mapGetters, mapState} from "vuex"
  import {deepCopy} from "@/utils/common"
  import modelDataMixin from "@/view/report/mixin/modelDataMixin";

  const SIMPLE_INDICATOR_TYPE = 1 // 基本指标 2 // 复合指标3 // 外部指标
  const paramSeparator = '/'
  export default {
    name: 'BaseChart',
    props: {
      globalVariables: {
        type: Object,
        default: null
      }
    },
    data() {
      return {
        lineChartType: 'SimpleLine',
        barChartType: 'SimpleBar',
        tableChartType: 'CustomTable',
        lineBarChartType: 'MixLineBar',
        pieChartType: 'SimplePie',
        doublePieChartType: 'DoublePie'
      }
    },
    mixins: [modelDataMixin],
    computed: {
      ...mapGetters(['dateType', 'dataSource', 'orgId']),
      ...mapState('indicator', ['indicators']),
      currentSelectChart() {
        return this.$store.state.chart && this.$store.state.chart.currentSelectChart
      },
      globalReportDate: function () {
        return this.$store.state.chart.reportDate
      },
      currentSelectChartConfigData() {
        return this.currentSelectChart && this.currentSelectChart.data && this.currentSelectChart.data.configData
      },
      getFilteredConditions: function () {
        return this.currentSelectChartConfigData && this.currentSelectChartConfigData.variableCondition
      },
      globalParams() {
        return this.dateType + this.dataSource + this.orgId
      },
      globalVariableList() {
        let globalVariableList = this.$store.state.chart.globalVariableList
        if (!globalVariableList || !globalVariableList.length) { // 查看报告会走进这个判断
          globalVariableList = JSON.parse(localStorage.getItem('globalVariableList'))
        }
        return globalVariableList
      },
    },
    methods: {
      ...mapGetters(['chartLocalData']),
      ...mapActions(['storeDataToChartLocalData']),
      findInVuex, storeIntoVuex,
      // 获取环比 同比 数据
      // compare 环比 这个范围和相邻上个范围的比较
      // sameCompareType 同比 分为mom月同比 yoy年同比
      // stringify 这个是使用序列化方式（function），如果不传，就将使用默认的Json.stringify()的方式去序列化这个对象作为去vuex里搜索值的一个key
      // indicatorChartProperty 指标卡属性，包含维度和是否是趋势图标识
      queryMoreCompareChartData(propertyData, date, top, compare, sameCompareType, stringify, indicatorChartProperty) {
        if (!propertyData) return newPromise((resolve, reject) => reject('参数为空，请检查参数！'))
        let params = this.buildRequestParameter({propertyData, date, top, compare, sameCompareType, indicatorChartProperty});
        const key = this.stringify(params, stringify);
        const data = this.findInVuex(key);
        if (data !== undefined) {
          return newPromise((resolve) => {
            let res = deepCopy(data)
            this.indicatorFilter(propertyData, res.data)
            resolve(res)
          })
        } else {
          return newPromise((resolve, reject) => this.backRemoteReportCompareData(propertyData, resolve, reject, params, key))
        }
      },
      // 图表数据，带分页
      queryChartDataForPage(propertyData, date, top) {
        if (!propertyData) return;
        let params = this.buildRequestParameter({propertyData, date, top});
        params.page = {
          pageNum: propertyData.pageNum,
          pageSize: propertyData.pageSize,
        }
        let key = 'm-queryChartDataForPage;' + this.stringify(params);
        key += paramSeparator + params.page.pageNum + paramSeparator + params.page.pageSize;
        const data = this.findInVuex(key);
        if (data !== undefined) {
          return newPromise((resolve) => resolve(deepCopy(data)))
        } else {
          return newPromise((resolve, reject) => this.doQueryChartDataForPage(propertyData, resolve, reject, params, key))
        }
      },

      doQueryChartDataForPage(propertyData, resolve, reject, params, key) {
        queryChartDataForPage(params).then(res => {
          const remoteData = res.data;
          if (res?.data?.state === 'success') this.storeIntoVuex(key, remoteData);
          resolve(deepCopy(remoteData));
        }).catch(err => {
          reject(err);
        })
      },

      backRemoteReportCompareData(propertyData, resolve, reject, params, storeKey) {
        getReportCompareDataAndHeaders(params).then(res => {
            const remoteData = res.data
            if (res.data && res.data.state === 'success') {
              this.storeIntoVuex(storeKey, deepCopy(remoteData));
              this.indicatorFilter(propertyData, remoteData.data);
            }
            resolve(remoteData)
          }
        ).catch(err => reject(err))
      },

      getAllIndicators() {
        let indicators = []
        if (this.$store.state.chart.indicators.length) {
          indicators = this.$store.state.chart.indicators
        } else if (sessionStorage.getItem('allIndicators')) {
          indicators = JSON.parse(sessionStorage.getItem('allIndicators'))
        }
        return indicators;
      },

      getAllDimensions() {
        let dimensions = []
        if (this.$store.state.chart.dimensions.length) {
          dimensions = this.$store.state.chart.dimensions
        } else if (localStorage.getItem('allDimensions')) {
          dimensions = JSON.parse(localStorage.getItem('allDimensions'))
        }
        return dimensions
      },
      getChartPrivateDate() {
        let startDate = this.globalReportDate[0]
        let endDate = this.globalReportDate[1]
        let configData = this.propertyData.configData
        if ((configData?.isOpenPrivateDate && configData?.displayPrivateDate) || this.globalReportDate[3] === '99') {
          startDate = this.propertyData.startDate
          endDate = this.propertyData.endDate
        }
        return {
          startDate,
          endDate
        }
      },
      getGlobalVariables() {
        let variables = deepCopy(this.globalVariables)
        if (this.orgId) {
          variables = Object.assign(variables, {
            orgId: this.orgId
          })
        }
        if (this.dateType) {
          variables = Object.assign(variables, {
            dateType: this.dateType
          })
        }
        if (this.dataSource) {
          variables = Object.assign(variables, {
            dataSource: this.dataSource
          })
        }
        return variables
      },
      /**
       * 获取IndicatorVos
       * @param selectIndicators 所有已选指标
       * @param indicatorChartProperty 指标卡属性，包含维度和是否是趋势图标识
       */
      getIndicatorVos(selectIndicators, indicatorChartProperty) {
        let indicatorVos = []

        // 变量条件
        let variableCondition = []
        if (this.getFilteredConditions && this.getFilteredConditions.length) {
          variableCondition = this.getFilteredConditions
        } else {
          variableCondition = this.propertyData?.configData?.variableCondition
        }

        for (let indicator of selectIndicators) {
          const variableConditionItem = variableCondition?.find(item => item.id === indicator.id)
          if (variableConditionItem) {
            // 如果该指标有变量条件
            if (variableConditionItem.children) {
              // 有children属性，说明是复合指标，children下有多个原子指标
              for (let variableConditionChildrenItem of variableConditionItem.children) {
                const indicatorVosItem = this.buildIndicatorVosItemByVariableCondition(variableConditionChildrenItem, indicator, indicatorChartProperty)
                indicatorVos.push(indicatorVosItem)
              }
            } else {
              const indicatorVosItem = this.buildIndicatorVosItemByVariableCondition(variableConditionItem, indicator, indicatorChartProperty)
              indicatorVos.push(indicatorVosItem)
            }
          } else {
            let variables = this.getGlobalVariables()
            if (indicator.variables) {
              variables = Object.assign(variables, indicator.variables)
            }
            // 获取全局变量筛选器条件
            const globalVariables = this.buildIndicatorGlobalVarFilter(indicator)
            if (globalVariables && Object.keys(globalVariables).length) {
              variables = Object.assign(variables, globalVariables)
            }
            let indicatorVosItem = {
              id: indicator.id,
              type: indicator.type === 0 ? SIMPLE_INDICATOR_TYPE : indicator.type, // 文本框历史数据中的指标对象type取错了0，强制转为1
              useCompare: indicator.useCompare || false,
              variables,
            }
            indicatorVos.push(indicatorVosItem)
          }
        }

        return indicatorVos
      },
      /**
       * 构建指标全局变量条件参数
       * */
      buildIndicatorGlobalVarFilter(indicator) {
        let globalVariables = {}
        let indicatorGlobalVarList = this.$store.state.chart.chartList.filter(item => item.id === 'GlobalVarFilter');
        indicatorGlobalVarList.forEach(item => {
          let {conditionValue} = item.data.configData
          const indicatorGlobalVarList = this.getIndicatorGlobalVariableCondition([indicator])
          indicatorGlobalVarList.forEach(it => {
            if (conditionValue[it.varCode]) {
              globalVariables[it.varCode] = conditionValue[it.varCode]
            }
          })
        })
        return globalVariables
      },
      /**
       * 根据单个变量条件构建indicatorVosItem
       * @param variableConditionItem 当前指标的变量条件
       * @param indicator 当前已选指标
       */
      buildIndicatorVosItemByVariableCondition(variableConditionItem, indicator, indicatorChartProperty) {
        const chartIndicatorId = this.propertyData.configData.chartIndicatorId
        const chartIndicator = this.indicators.find(item => item.id === Number(chartIndicatorId))
        indicator = (indicatorChartProperty?.isIndicatorTrendChart && chartIndicator) ?? indicator
        let variables = this.getGlobalVariables()
        let indicatorVosItem = {
          id: indicator.id,
          type: indicator.type === 0 ? SIMPLE_INDICATOR_TYPE : indicator.type, // 文本框历史数据中的指标对象type取错了0，强制转为1
          useCompare: indicator.useCompare || false,
          variables,
        }

        // 遍历条件，构建variables参数
        for (let conditionItem of variableConditionItem.condition) {
          if (!indicatorVosItem.variables) {
            indicatorVosItem.variables = {}
          }
          const { variableName, variableValue } = conditionItem
          if (variableName.startsWith('var_')) {
            indicatorVosItem.variables[variableName] = variableValue
          } else {
            if (!indicatorVosItem.variables[variableName]) {
              indicatorVosItem.variables[variableName] = variableValue
            }
          }
        }

        return indicatorVosItem
      },

      /**
       * 构建维度筛选条件
       * @param item
       * @param dimensionConditionGroup
       */
      buildDimensionCondition(item, dimensionConditionGroup, propertyData) {
        let {conditionValue, relativeComponentList, drillDownOption, isSupportPassiveLink} = item.configData
        if (conditionValue && ((relativeComponentList && (relativeComponentList.includes(this.chartId) || (isSupportPassiveLink && propertyData.hasOwnProperty('isCopy')))) || drillDownOption?.opened)) {
          let {filterDimension, conditionValue, relativeComponentList, drillDownOption} = item.configData
          if (relativeComponentList && propertyData.hasOwnProperty('isCopy') && isSupportPassiveLink) {
            relativeComponentList.push(this.chartId)
          }
          if (conditionValue && ((relativeComponentList && relativeComponentList.includes(this.chartId)) || drillDownOption.opened)) {
            let add = false
            let conditionItem = {
              sourceId: filterDimension,
              conditionType: '14',
              value: '1|' + conditionValue
            }
            for (let i = 0; i < dimensionConditionGroup.length; i++) {
              if (dimensionConditionGroup[i].conditions[0].sourceId === filterDimension) {
                dimensionConditionGroup[i].conditions.push(conditionItem)
                add = true
                break
              }
            }
            if (!add) {
              let obj = {}
              obj.conditions = [conditionItem]
              dimensionConditionGroup.push(obj)
            }
          }
        }
      },
      buildRequestParameter(virtualParam) {
        const {propertyData, date, top, compare, sameCompareType, indicatorChartProperty} = virtualParam
        let params = this.getReportDataParam(propertyData, date, top, compare, indicatorChartProperty)
        if (compare) {
          params.momDate = getCompareDate('C', params.date)
        } else {
          delete params.compareDate
        }
        if(typeof sameCompareType === 'object') {
          let sameCompareTypeKeys = Object.keys(sameCompareType)
          if(sameCompareTypeKeys.length) {
            let sameCompare = {}
            sameCompareTypeKeys.forEach(indicatorId => {
              sameCompare[indicatorId] = getCompareDate('SC', {
                ...params.date,
                compareType: sameCompareType[indicatorId].yearOnYearTypeValue
              }, this.globalReportDate)
            })
            params.sameCompare = sameCompare
            params.yoyDate = sameCompare
          }
        } else {
          params.sameCompareDate = getCompareDate('SC', {
            ...params.date,
            compareType: sameCompareType
          }, this.globalReportDate);
          if (params.sameCompareDate) {
            let sameCompare = {}
            params.indicatorVos.forEach(item => {
              sameCompare[item.id] = params.sameCompareDate
            })
            params.sameCompare = sameCompare
            params.yoyDate = sameCompare
            delete params.sameCompareDate
          }
        }
        return params
      },
      getReportDataParam(propertyData, date, top, isCompare, indicatorChartProperty) {
        let param = {}
        let startDate = ''
        let endDate = ''
        let noDate = false
        // 私有日期
        if (date && date.startDate && date.endDate) {
          startDate = date.startDate
          endDate = date.endDate
        } else {
          // 全局的日期
          if (this.$store.state.chart.reportDate.length) {
            startDate = this.$store.state.chart.reportDate[0]
            endDate = this.$store.state.chart.reportDate[1]
          } else if (propertyData.startDate && propertyData.endDate) {
            startDate = propertyData.startDate
            endDate = propertyData.endDate
          } else {
            noDate = true
          }
        }
        // 累计指标重新计算开始时间
        if (propertyData.configData && propertyData.configData.useAccumulate) {
          const accumulatePeriod = propertyData.configData.accumulatePeriod
          if (accumulatePeriod) {
            startDate = calculateAccumulateDate({startDate, endDate}, accumulatePeriod).startDate
          }
        }

        const dimensionIds = indicatorChartProperty?.dimension
          ? [indicatorChartProperty.dimension]
          : this.propertyData.dimension
            ? this.propertyData.dimension.map(item => item.toString())
            : []
        const series = this.propertyData.series?.map(item => item.toString()) || []
        param = {
          dimensionIds: [...dimensionIds, ...series], // 维度 + 系列
          indicatorVos: this.getIndicatorVos(propertyData.indicator, indicatorChartProperty),
          date: {
            startDate,
            endDate
          }
        }
        if (noDate) {
          delete param.date
        } else if (isCompare) {
          // 环比获取上个交易日的日期
          const lastTradingStartDate = moment(new Date(startDate)).add(-1, 'days').format('YYYY-MM-DD')
          const lastTradingEndDate = moment(new Date(endDate)).add(-1, 'days').format('YYYY-MM-DD')
          param = _.assign(param, {
            compareDate: {
              startDate: getLastTradingDate(lastTradingStartDate),
              endDate: getLastTradingDate(lastTradingEndDate)
            }
          })
        }
        // 获取维度过滤条件（联动、下钻等）
        const dimensionConditionGroup = this.getDimensionConditionGroupParam(propertyData)
        if (dimensionConditionGroup.length > 0) {
          param = Object.assign(param, {dimensionConditionGroup})
        }
        return param
      },
      getDimensionConditionGroupParam(propertyData) {
        let dimensionConditionGroup = [], //维度筛选条件
          dimensionFilterList = [],
          storeChartList = this.$store.state.chart.chartList
          // drillDownChart = false


        /**
        *联动: chartLinkIsOpenOrDrillDown 是否开启下钻或联动功能
         **/
        // let chartLinkIsOpenOrDrillDown, currentChart
        // // 找到主联动图表
        // const mainLinkChart = storeChartList.find(item => {
        //   const config = item.data.configData
        //   const ret = config.filterDimension && config.conditionValue && config.relativeComponentList
        //   return ret
        // })
        // if (mainLinkChart && mainLinkChart.data.configData.hasOwnProperty('chartLinkIsOpen')) {
        //   //联动
        //   chartLinkIsOpenOrDrillDown = mainLinkChart.data.configData.chartLinkIsOpen
        //   currentChart = mainLinkChart
        // } else {
        //   //下钻
        //   const config = this.propertyData.configData
        //   if (config && config.drillDownOption && config.drillDownOption.opened && !config.chartLinkIsOpen) {
        //     drillDownChart = true
        //   }
        // }

        //维度筛选
        const dimensionFilterArr = storeChartList.filter(item => item.id === 'DimensionFilter')
        const configData = this.propertyData.configData
        let chartLinkIsOpen = false
        let chartDrillDownIsOpen = false
        if (configData) {
          chartLinkIsOpen = configData.linkOption && configData.linkOption.chartLinkIsOpen
          chartDrillDownIsOpen = configData.drillDownOption && configData.drillDownOption.opened
        }
        if (dimensionFilterArr.length) { // 维度筛选
          dimensionFilterList = dimensionFilterArr
          dimensionFilterList.forEach(item => {
            this.buildDimensionCondition(item.data, dimensionConditionGroup, propertyData)
          })
        } else if (chartLinkIsOpen) { // 联动
          this.buildChartLinkDimensionCondition(dimensionConditionGroup)
        } else if (chartDrillDownIsOpen) { // 下钻
          this.buildDrillDownDimensionCondition(dimensionConditionGroup)
        }
        //联动和维度筛选器
        // if (dimensionFilterList.length) {
        //   dimensionFilterList.forEach(item => {
        //     this.buildDimensionCondition(item.data, dimensionConditionGroup, propertyData)
        //   })
        // } else if (drillDownChart) { //下钻
        //   this.buildDimensionCondition(this.propertyData, dimensionConditionGroup, this.propertyData)
        // }


        //跳转
        const query = this.$route.query
        if (query.hasOwnProperty('filter') || query.hasOwnProperty('value')) {
          let add = false
          let conditionItem = {
            sourceId: query.filter,
            conditionType: '14',
            value: '1|' + query.value
          }
          for (let i = 0; i < dimensionConditionGroup.length; i++) {
            if (dimensionConditionGroup[i].conditions[0].sourceId === query.filter) {
              dimensionConditionGroup[i].conditions.push(conditionItem)
              add = true
              break
            }
          }
          if (!add) {
            let obj = {}
            obj.conditions = [conditionItem]
            dimensionConditionGroup.push(obj)
          }
        }
        return dimensionConditionGroup
      },

      buildChartLinkDimensionCondition(dimensionConditionGroup) {
         const {linkOption} = this.propertyData.configData
         const {conditionValue, relativeComponentList, chartLinkIsOpen, filterDimension, isSupportPassiveLink} = linkOption
        // if (relativeComponentList && this.propertyData.hasOwnProperty('isCopy') && isSupportPassiveLink) {
        //   relativeComponentList.push(this.chartId)
        // }
        if (conditionValue && chartLinkIsOpen) {
          let conditionValueList = conditionValue.split(',')
          let filterDimensionList = filterDimension.toString().split(',')
          conditionValueList.forEach((conditionValue, index) => {
           let filterDimension = filterDimensionList[index]
           let add = false
           let conditionItem = {
             sourceId: filterDimension,
             conditionType: '14',
             value: '1|' + conditionValue
           }
           for (let i = 0; i < dimensionConditionGroup.length; i++) {
             if (dimensionConditionGroup[i].conditions[0].sourceId === filterDimension) {
               dimensionConditionGroup[i].conditions.push(conditionItem)
               add = true
               break
             }
           }
           if (!add) {
             let obj = {}
             obj.conditions = [conditionItem]
             dimensionConditionGroup.push(obj)
           }
          })
         }
      },
      buildDrillDownDimensionCondition(dimensionConditionGroup) {
        const {drillDownOption} = this.propertyData.configData
        const {drillDownStep,  drillDownTagList, opened} = drillDownOption
        if (drillDownTagList && drillDownTagList.length > 1 && drillDownStep > 0) {
          const currentStepTag = drillDownTagList[drillDownStep - 1]
          const {conditionValue, filterDimension} = currentStepTag
          if (conditionValue && opened) {
            let add = false
            let conditionItem = {
              sourceId: filterDimension,
              conditionType: '14',
              value: '1|' + conditionValue
            }
            for (let i = 0; i < dimensionConditionGroup.length; i++) {
              if (dimensionConditionGroup[i].conditions[0].sourceId === filterDimension) {
                dimensionConditionGroup[i].conditions.push(conditionItem)
                add = true
                break
              }
            }
            if (!add) {
              let obj = {}
              obj.conditions = [conditionItem]
              dimensionConditionGroup.push(obj)
            }
          }
        }
      },
      // 指标筛选器
      indicatorFilter(propertyData, data, isCompare) {
        const dimension = propertyData.dimension;
        if (!dimension) return
        let indicatorFilterList = this.$store.state.chart.chartList.filter(item => item.id === 'IndicatorFilter');
        const dimensionLen = dimension.length;
        const indicators = propertyData.indicator
        const indLen = indicators.length
        indicatorFilterList.forEach(item => {
          let {filterIndicator, conditionValue, relativeComponentList} = item.data.configData
          if (conditionValue && relativeComponentList.includes(this.chartId)) {
            let index = -1
            for (let i = 0; i < indLen; i++) {
              if (indicators[i].id === filterIndicator) {
                index = i
                break
              }
            }
            if (index !== -1) {
              let filterIndex = -1
              if (isCompare) {
                filterIndex = dimensionLen + index * 2
              } else {
                filterIndex = dimensionLen + index
              }
              let newData = []
              let filter = conditionValue.split(',')
              let filterType = filter[0]
              let filterValue = Number(filter[1])
              switch (filterType) {
                case 'all':
                  break
                case 'max':
                  newData = data.currentData[0]
                  data.currentData = [newData]
                  break
                case 'min':
                  newData = data.currentData[data.currentData.length - 1]
                  data.currentData = [newData]
                  break
                case 'top':
                  newData = data.currentData.slice(0, Number(filter[1]))
                  data.currentData = newData
                  break
                case '1':
                  newData = data.currentData.filter(item => {
                    return item[filterIndex] > filterValue
                  })
                  data.currentData = newData
                  break
                case '2':
                  newData = data.currentData.filter(item => {
                    return item[filterIndex] >= filterValue
                  })
                  data.currentData = newData
                  break
                case '3':
                  newData = data.currentData.filter(item => {
                    return item[filterIndex] === filterValue
                  })
                  data.currentData = newData
                  break
                case '4':
                  newData = data.currentData.filter(item => {
                    return item[filterIndex] < filterValue
                  })
                  data.currentData = newData
                  break
                case '5':
                  newData = data.currentData.filter(item => {
                    return item[filterIndex] <= filterValue
                  })
                  data.currentData = newData
                  break
                case '6':
                  let minValue = Number(filter[1])
                  let maxValue = Number(filter[2])
                  newData = data.currentData.filter(item => {
                    return item[filterIndex] > minValue && item[filterIndex] < maxValue
                  })
                  data.currentData = newData
                  break
                default:
                  break
              }
            }
          }
        })
      },

      stringify(obj, cb) {
        if (cb) return cb(obj)
        //开始时间，结束时间，维度，指标(id,type,variables{businessDate,var_1645680122166})，前几指标，topNumber;
        let key = this.getPublicDateStr(obj.date);
        key += ';' + this.getDimensionIdsStr(obj.dimensionIds);
        key += ';' + this.getIndicatorVosStr(obj.indicatorVos);
        key += ';' + this.getSameCompareStr(obj.sameCompare);
        key += ';' + this.getCompareDateStr(obj.compareDate);
        key += ';' + this.getDimensionConditionGroup(obj.dimensionConditionGroup);
        key += ';' + obj.topNum;
        key += ';' + obj.topIndicatorId;
        return key;
      },
      sortIndicatorOrDimensionId(arr = []) {
        arr.sort((current, next) => {
          let offset
          //指标的id过来是一个对象，维度的是一个值
          if (typeof current === 'object') {
            offset = current.id - next.id
          } else {
            offset = current - next
          }
          if (offset > 0) {
            return 1;
          } else if (offset === 0) {
            return 0
          } else {
            return -1
          }
        })
      },
      getDimensionConditionGroup(dimensionConditionGroup = []) {
        let str = '';
        let conditions = [];
        dimensionConditionGroup.forEach(group => {
          conditions = [...group.conditions, ...conditions]
        })
        conditions.sort((c, n) => {
          const where = c.sourceId - n.sourceId
          if (where > 0) return 1;
          else if (where < 0) return -1;
          else return 0
        })
        conditions.forEach(item => {
          str += item.sourceId + item.value + item.conditionType;
        })
        return str;
      },
      getDimensionIdsStr(arr = []) {
        // this.sortIndicatorOrDimensionId(arr)
        let str = 'dimensionIds-'
        arr.forEach(item => {
          str += item + paramSeparator
        })
        return str;
      },
      getIndicatorVosStr(arr = []) {
        let str = 'indicatorVos-'
        // this.sortIndicatorOrDimensionId(arr)
        arr.forEach(item => {
          str += item.id + paramSeparator + item.type + 'variable/' + this.getCurrentVariables(item.variables)
        })
        return str;
      },
      getCurrentVariables(variables = {}) {
        if (variables) {
          let str = 'variables-';
          //先 businessDate ，再其他
          for (const key in variables) {
            str += key + paramSeparator + variables[key]
          }
          return str
        }
        return '';
      },
      getSameCompareStr(obj = {}) {
        const keys = Object.keys(obj);
        keys.sort();
        let str = 'sameCompare-';
        keys.forEach(key => {
          str += key + paramSeparator + (obj[key].startDate ? obj[key].startDate : '') + paramSeparator + (obj[key].endDate ? obj[key].endDate : '')
        })
        return str;
      },
      getPublicDateStr(obj = {}) {
        return 'publicDate-' + obj.startDate + paramSeparator + obj.endDate;
      }
      ,
      getCompareDateStr(obj = {}) {
        return 'compareDate-' + (obj.startDate ? obj.startDate : '') + paramSeparator + (obj.endDate ? obj.endDate : '')
      },

      /**
       * 设置组件日期
       * @param newGlobalDate
       */
      refreshChartPrivateDate(newGlobalDate) {
        let configData = this.propertyData.configData
        let startDate, endDate
        if (configData.isOpenPrivateDate && configData.displayPrivateDate) {
          let date = getChartPrivateDate(configData, newGlobalDate[3], newGlobalDate[0], newGlobalDate[1])
          startDate = date.startDate
          endDate = date.endDate
        } else {
          startDate = newGlobalDate[0]
          endDate = newGlobalDate[1]
        }
        this.$set(this.propertyData, 'startDate', startDate)
        this.$set(this.propertyData, 'endDate', endDate)
        this.$set(this.propertyData, 'dateRangeValue', [startDate, endDate])
      },
      // 是否触发刷新图表数据
      needRefreshChartData() {
        return (this.currentSelectChart && this.currentSelectChart.chartId === this.chartId) ||
          (this.currentSelectChart && Object.keys(this.currentSelectChart).length === 0)
      }
    },
    watch: {
      globalReportDate: {
        handler: function (val, oldval) {
          if (JSON.stringify(val) !== JSON.stringify(oldval)) {
            // 刷新图表关联的私有日期
            this.refreshChartPrivateDate(val)
            // 刷新画布中每个图表数据
            this.refreshData && this.refreshData('', true)
          }
        },
        deep: true
      },
      // currentSelectChartData: function (val, oldVal) {
      //   // 判断是否是当前图表数据条件发生改变(不能删除！！！不然不会对应的computed逻辑)
      // },
      propertyData: {
        handler: function (val, oldVal) {
          // 判断是否是当前图表数据条件发生改变
          // if (this.needRefreshChartData()) { // 20220404去掉这层判断，主联动图表修改维度或者指标触发被联动图表刷新
            // if (JSON.stringify(val) !== JSON.stringify(oldVal)) {
              if (!val.innerHtml) { // 文本框无需监听
                this.refreshData && this.refreshData()
              }
            // }
          // }
        },
        deep: true
      },
      globalParams: {
        handler: function (val, oldVal) {
          this.refreshData && this.refreshData()
        },
        deep: true
      },
    }
  }
</script>
