<template>
  <div></div>
</template>

<script>
  import {findInVuex, storeIntoVuex} from './utils/storeUtls'
  import {newPromise} from './utils/promis'
  import {findAllIndicator, getAllIndicatorGroupList, getIndicatorTreeData} from '@/api/indicator';
  import {findAllDimension} from '@/api/dimension'
  import {
    findDimensionsByIndicator,
    findIndicatorsByDimension,
    queryChartResource,
  } from '@/api/report'

  export default {
    name: "BaseSelector",
    methods: {
      findInVuex,
      storeIntoVuex,
      findAllIndicatorFromBasic() {
        const key = '/meta/indicator/list';
        return this.returnData(key, findAllIndicator())
      },
      getAllIndicatorGroupListFromBasic() {
        const key = '/meta/dataAssets/groupWithIndicator';
        return this.returnData(key, getAllIndicatorGroupList())
      },
      getIndicatorTreeDataFromBasic() {
        const key = '/meta/dataAssets/groupAndIndicator';
        return this.returnData(key, getIndicatorTreeData())
      },
      findAllDimensionFromBasic() {
        const key = '/meta/dimension/list';
        return this.returnData(key, findAllDimension())
      },

      findDimensionsByIndicatorFromBasic(indicatorId, type) {
        const key = `/meta/dimension/indicators?indicatorId=${indicatorId}&type=${type}`;
        return this.returnData(key, findDimensionsByIndicator(indicatorId, type))
      },
      findIndicatorsByDimensionFromBasic(dimensionId) {
        const key = `/meta/atomIndicator/dimensions?dimensionId=${dimensionId}`;
        return this.returnData(key, findIndicatorsByDimension(dimensionId))
      },


      returnData(key, remoteFu) {
        const localData = this.findInVuex(key);
        if (localData !== undefined) {
          return newPromise(resolve => resolve(localData))
        } else {
          return newPromise((resolve, reject) => {
            if (remoteFu) {
              remoteFu.then(res => {
                if (res.data.state === 'success')this.storeIntoVuex(key, res)
                resolve(res)
              }).catch(res => reject(res))
            }
          })
        }
      }
    },
  }
</script>
