<template>
  <div></div>
</template>

<script>
  import {findInVuex, storeIntoVuex} from './utils/storeUtls'
  import {newPromise} from './utils/promis'
  import {
    getAllBusinessModelList,
  } from '@/api/indicator'
  import {mapActions, mapGetters} from "vuex"

  export default {
    name: "FilterBase",
    methods: {
      ...mapGetters(['chartLocalData']),
      ...mapActions(['storeDataToChartLocalData']),
      findInVuex, storeIntoVuex,
      getAllBusinessModelList() {
        const key = 'meta/businessModel/list'
        const data = this.findInVuex(key);
        if (data !== undefined) {
          return newPromise((resolve) => resolve(data))
        } else {
          return newPromise((resolve, reject) => this.backRemoteBusinessModelList(resolve, reject, key))
        }
      },
      backRemoteBusinessModelList(resolve, reject, key) {
        getAllBusinessModelList().then(res => {
          if (res.data.state === 'success') {
            this.storeIntoVuex(key, res)
            resolve(res);
          }
        }).catch(err => {
          reject(err);
        })

      },
    }
  }
</script>

<style scoped>

</style>
