<template>
  <div class="indicatorWorkbench-container">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "indicatorWorkbench"
};
</script>

<style scoped>
.indicatorWorkbench-container {
  width: 100%;
  height: 100%;
  padding: 10px 18px;
  box-sizing: border-box;
  background-color: #f3f7ff;
}
</style>
