<template>
  <Form
    ref="modifyPasswordForm"
    :model="form"
    :rules="rules"
    @keydown.enter.native="handleSubmit"
  >
    <FormItem prop="password" style="margin-top: 50px">
      <PasswordInput
        @focus="focus"
        :comModel="form.password"
        @change="val => (this.form.password = val)"
      />
    </FormItem>
    <FormItem prop="againPassword" style="margin-top: 50px">
      <PasswordInput
        @focus="focus"
        :comModel="form.againPassword"
        :isIconCustomer="true"
        @change="val => (this.form.againPassword = val)"
        placeholder="请再次输入密码"
      >
        <template slot="icon">
          <img src="@/assets/images/login/passwordOK.png" />
        </template>
      </PasswordInput>
    </FormItem>
    <FormItem style="margin-bottom: 70px; margin-top: 57px">
      <Button
        @click="handleSubmit"
        type="primary"
        style="background: #3f73ff; font-size: 16px; height: 44px"
        long
      >
        确&nbsp;认
      </Button>
      <div style="color: crimson" v-if="showTip">
        友情提示：请使用谷歌或者火狐浏览器访问
      </div>
    </FormItem>
    <div style="text-align: center;color:#A2A5BD; font-size: 16px">
      <span>想起密码？</span>
      <a @click="() => this.$emit('login-callback')" style="color: #3f73ff">
        立即登录
      </a>
    </div>
  </Form>
</template>

<script>
import { PasswordInput } from "../special-input";

export default {
  name: "ModifyPasswordForm",
  components: {
    PasswordInput
  },
  data() {
    let self = this;
    const passwordValidator = (_, value, callback) => {
      const re = /[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/gi; //是否有中文
      const wd = /^(?![0-9]+$)(?![a-z]+$)(?![A-Z]+$)(?!([^(0-9a-zA-Z)])+$)^.{6,16}$/;
      if (!value) {
        callback(new Error("当前密码为空"));
      } else if (self.passwordError) {
        callback(new Error(self.passwordError));
      } else if (re.test(value)) {
        callback(
          new Error("密码必须是6-16位的字母、数字和标点符号组合(至少2种)")
        );
      } else if (!wd.test(value)) {
        callback(
          new Error("密码必须是6-16位的字母、数字和标点符号组合(至少2种)")
        );
      } else {
        callback();
      }
    };

    return {
      form: {
        password: "",
        againPassword: ""
      },
      showTip: false,
      showPassword: false,
      passwordError: "",
      passwordType: "password",
      againPasswordRules: [
        { required: true, validator: passwordValidator, tigger: "blur" }
      ],
      passwordRules: [
        { required: true, validator: passwordValidator, tigger: "blur" }
      ]
    };
  },
  computed: {
    rules() {
      return {
        againPassword: this.againPasswordRules,
        password: this.passwordRules
      };
    }
  },
  mounted() {
    this.getBrowserType();
  },
  methods: {
    focus() {
      if (this.passwordError) {
        this.passwordError = "";
        this.$refs.modifyPasswordForm.validate();
      }
    },
    handleSubmit() {
      this.$refs.modifyPasswordForm.validate(valid => {
        if (valid) {
          if (this.form.password === this.form.againPassword) {
            this.$emit("on-success-valid", {
              password: this.form.password,
              successFun: () => {},
              errorFun: this.submitCallback
            });
          } else {
            this.passwordError = "两次输入的密码不一致";
            this.$refs.modifyPasswordForm.validate();
          }
        }
      });
    },

    submitCallback(msg) {
      this.passwordError = msg;
      this.$refs.modifyPasswordForm.validate();
    },
    passwordToggle() {
      this.showPassword = !this.showPassword;
      this.passwordType = this.showPassword ? "text" : "password";
    },
    getBrowserType() {
      const userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
      const isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器
      const isChrome =
        userAgent.indexOf("Chrome") > -1 && userAgent.indexOf("Safari") > -1; //判断Chrome浏览器
      if (!isFF && !isChrome) {
        this.showTip = true;
      }
    }
  }
};
</script>
