<template>
  <div class="tableDetail">
    <!--modal组件必须放在v-for之前：https://blog.csdn.net/tearsknow/article/details/78412227-->
    <ShareModal
      v-model="showShare"
      :share-content="shareKnowledgeUrl"
      :message-text="messageText"
      share-from="知识库"
      @share-success="handleShareSuccess"
    />
    <div class="list" v-for="row in knowledgeList" :key="row.id" :style="{cursor: row.isOffLine ? 'not-allowed' : 'pointer'}" @click="gotoDetail(row)">
      <div class="listContent">
        <p class="bold item-name" :title="row.title">
          <span :class="row.isOffLine ?  'disableSpan' : 'normalSpan'">{{ row.title }}</span>
        </p>
        <p>
          创建时间：<span :class="row.isOffLine ? 'disableSpan' : 'normalSpan'">{{ row.date }}</span>
        </p>
        <p>
          创建人：<span :class="row.isOffLine ? 'disableSpan' : 'normalSpan'">{{ row.creator }}</span>
        </p>
      </div>
      <div class="actionLeft">
        <div class="actionName" @click="e => onLike(row, e)" :title="row.isLike ? '取消点赞' : '点赞'" :style="{cursor: row.isOffLine ? 'not-allowed' : 'pointer'}">
          <img :src="row.isLike && !row.isOffLine ? liked : like" alt="" />
          <span :class="{ fontColor: row.isLike && !row.isOffLine }">{{ row.like }}</span>
        </div>
        <div
          class="actionName"
          v-if="!row.isCollect || row.isOffLine"
          @click="e => collectIndicator(row, e)"
          title="收藏"
          :style="{cursor: row.isOffLine ? 'not-allowed' : 'pointer'}"
        >
          <img src="@/assets/icons/knowledgeDetails/collect.svg" alt="" />
          <span :class="{disableSpan: row.isOffLine }">{{ row.collect }}</span>
        </div>
        <div class="actionName" v-else @click="e => cancelCollectIndicator(row, e)" title="取消收藏" :style="{cursor: row.isOffLine ? 'not-allowed' : 'pointer'}">
          <img src="@/assets/icons/knowledgeDetails/collected.svg" alt="" />
          <span :class="{ fontColor: row.isLike && !row.isOffLine }">{{ row.collect }}</span>
        </div>
        <div class="actionName" @click="e => onShare(row, e)" :title="row.isForward ? '已分享' : '分享'" :style="{cursor: row.isOffLine ? 'not-allowed' : 'pointer'}">
          <img :src="row.isForward ? shared : share" alt="" />
          <span :class="{ fontColor: row.isForward }">{{ row.forward }}</span>
        </div>
        <Poptip trigger="hover" placement="left" v-if="isOwn(row.creatorId)">
          <div class="hoverIconWrapper">
            <img
              class="noHoverIcon"
              src="@/assets/icons/indicatorWorkbench/moreVertical.svg"
              alt=""
            />
            <img
              class="hoverIcon"
              src="@/assets/icons/indicatorWorkbench/moreVertical-blue.svg"
              alt=""
            />
          </div>
          <template #content>
            <div class="actionWrapper">
              <div class="actionNamePop" @click="e => changeRunningStatus(row, e)">
<!--                <img-->
<!--                  src="@/assets/icons/knowledgeDetails/downLine.svg"-->
<!--                  alt=""-->
<!--                />-->
                <span>{{row.isOffLine ? '上线' : '下线'}} </span>
              </div>
              <div class="actionNamePop" @click="e => toEdit(row, e)">
<!--                <img-->
<!--                  src="@/assets/icons/earlyWarningTarget/edit.svg"-->
<!--                  alt=""-->
<!--                />-->
                <span>编辑</span>
              </div>
              <div class="actionNamePop" @click="e => toDelete(row, e)">
<!--                <img-->
<!--                  src="@/assets/icons/knowledgeDetails/downLine.svg"-->
<!--                  alt=""-->
<!--                />-->
                <span>删除</span>
              </div>
            </div>
          </template>
        </Poptip>
      </div>
    </div>
    <div class="page-wrap">
      <Page
        show-elevator
        show-sizer
        show-total
        :page-size-opts="[10, 20,  30]"
        :page-size="pageCondition.pageSize"
        :current="pageCondition.currentPage"
        :total="pageCondition.total"
        @on-change="handlePageChange"
        @on-page-size-change="handlePageSizeChange"
      />
    </div>
  </div>
</template>
<script>
import ShareModal from "@/components/ShareModal";
import share from "@/assets/icons/knowledgeDetails/share.svg";
import shared from "@/assets/icons/knowledgeDetails/shared.svg";
import like from "@/assets/icons/knowledgeDetails/like.svg";
import liked from "@/assets/icons/knowledgeDetails/liked.svg";
import {mapActions} from "vuex";
import {knowledgeLike,knowledgeUnlike,
  knowledgeCollect,knowledgeUnCollect,
  updateKnowledgeStatus, deleteKnowledgeById,
  getKnowledgeInfo, knowledgeShare} from '@/api/knowledge'
import dataAuth from "@/mixins/dataAuth";
export default {
  components: {
    ShareModal,
  },
  props: {
    dataList: Array,
    pageCondition: {
      type: Object,
      required: true
    },
  },
  mixins: [dataAuth],
  data() {
    return {
      knowledgeList: [],
      shareKnowledgeUrl: "",
      showShare: false,
      messageText: "",
      shared,
      share,
      like,
      liked,
      currentRecord: null
    };
  },
  computed: {
  },
  watch: {
    dataList: {
      handler(val) {
        this.knowledgeList = val
      },
      deep: true
    },
  },
  mounted() {},
  methods: {
    ...mapActions("task", ["setNewTask"]),
    collectIndicator(row, e) {
      e.stopPropagation()
      if (row.isOffLine) return
      knowledgeCollect({id: row.id}).then(res => {
        if (res.data.state === "success") {
          row.isCollect = true
          row.collect = row.collect + 1
          this.$Message.success('收藏成功')
        } else {
          this.$Message.error(res.data.message || '操作失败')
        }
      })
    },
    cancelCollectIndicator(row, e) {
      e.stopPropagation()
      if (row.isOffLine) return
      knowledgeUnCollect({id: row.id}).then(res => {
        if (res.data.state === "success") {
          row.isCollect = false
          row.collect = row.collect - 1
          this.$Message.success('取消收藏成功')
        } else {
          this.$Message.error(res.data.message || '操作失败')
        }
      })
    },
    onLike(row, e) {
      e.stopPropagation()
      if (row.isOffLine) return
      if (row.isLike) {
        knowledgeUnlike({id: row.id}).then(res => {
          if (res.data.state === "success") {
            row.isLike = false
            row.like = row.like - 1
            this.$Message.success('取消点赞成功')
          } else {
            this.$Message.error(res.data.message || '操作失败')
          }
        })
      } else {
        knowledgeLike({id: row.id}).then(res => {
          if (res.data.state === "success") {
            row.isLike = true
            row.like = row.like + 1
            this.$Message.success('点赞成功')
          } else {
            this.$Message.error(res.data.message || '操作失败')
          }
        })
      }
    },
    /**
     * 分享故事看板
     * @param {String} name 故事名称
     */
    onShare(row, e) {
      e.stopPropagation()
      if (row.isOffLine) return
      this.currentRecord = row
      const href = `${window.location.origin}${window.location.pathname}`;
      this.shareKnowledgeUrl = `${href}#/knowledgeDetail?id=${row.id}&isShare=true`;
      this.messageText = row.title;
      this.showShare = true;
    },
    handleShareSuccess() {
      knowledgeShare({id: this.currentRecord.id}).then(res => {
        if (res.data.state === "success") {
          this.$emit('refreshData')
        }
      })
    },
    changeRunningStatus(row, e) {
      e.stopPropagation()
      const content = `您确定要${row.isOffLine ? '上线' : '下线'}“${row.title}”吗？`
      this.$Modal.confirm({
        title: '提示',
        content,
        cancelText:'取消',
        onOk: () => {
          this.doUpdateOnlineStatus(row)
        },
        onCancel:() => {}
      })
    },
    doUpdateOnlineStatus(row) {
      updateKnowledgeStatus({id: row.id, view: row.isOffLine ? 1 : 0}).then(res => {
        if (res.data.state === "success") {
          row.isOffLine = !row.isOffLine
          this.$Message.success(row.isOffLine ? '下线成功' : '上线成功')
        } else {
          this.$Message.error(res.data.message || '操作失败')
        }
      })
    },
    gotoDetail(row){
      if (!row.isOffLine) {
        this.$router.push({
          path: 'knowledgeDetail',
          query: {id: row.id}
        })
      } else {
        this.$Message.info('该记录已下线')
      }
    },
    handlePageChange(currentPage) {
      this.$emit("changePageData", "currentPage", currentPage);
    },
    handlePageSizeChange(currentPageSize) {
      this.currentPageSize = currentPageSize
      this.$emit("changePageData", "pageSize", currentPageSize);
    },
    toEdit(row, e) {
      e.stopPropagation()
      getKnowledgeInfo({id: row.id}).then(res => {
        if (res.data.state === "success") {
          const resData = res.data.data
          // this.no = resData.num
          const task = {
            id: row.id,
            name: resData.name,
            desc: resData.description,
            fileList:  resData.files.map(item => {
              return {
                id: item.fileId,
                name: item.fileName,
                knowledgeId: item.knowledgeId
              }
            })
          };
          this.setNewTask(task);
          this.$router.push("/knowledgeAdd");
        } else {
          this.$message.warning('查询知识详情失败')
        }
      })
    },
    toDelete(row, e) {
      e.stopPropagation()
      const content = `您确定要删除“${row.title}”吗？`
      this.$Modal.confirm({
        title: '提示',
        content,
        cancelText:'取消',
        onOk: () => {
          this.doDeleteRecord(row)
        },
        onCancel:() => {}
      })
    },
    doDeleteRecord(row) {
      deleteKnowledgeById(row.id).then(res => {
        if (res.data.state === "success") {
          this.$parent.fetchDataList()
        } else {
          this.$Message.error(res.data.message || '操作失败')
        }
      })
    }
  },
};
</script>
<style lang="less" scoped>
@border-active-color: #2781ff;
.tableDetail {
  .list {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid rgba(210, 221, 252, 1);
    border-radius: 4px;
    margin: 15px 0;
    transition: border 0.2s ease-in-out, background 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
    &:hover{
      border-color: @border-active-color;
    }
    .listContent {
      width: calc(~'100% - 200px');
      display: flex;
      .bold {
        font-weight: bold;
        cursor: pointer;
      }
      p {
        margin-right: 80px;
        color: rgba(0, 0, 0, 0.45);
      }
      .normalSpan{
        color: rgba(0, 0, 0, 0.85);
      }
      .disableSpan{
        color: #c5c8ce;
      }
      .item-name{
        width: 32%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .actionLeft {
      display: flex;
      align-items: center;
      width: 200px;
      .actionName {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 5px;
        &:not(:last-child) {
          margin-right: 19px;
        }
        &:last-child {
          margin-right: 7px;
        }
        img {
          margin-right: 5px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #595959;
          letter-spacing: 0;
        }
        .fontColor {
          color: #fa6400;
        }
        &:hover{
          span{
            color: @border-active-color;
          }
        }
      }
      .actionNamePop {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 5px;
        img {
          margin-right: 5px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #595959;
          letter-spacing: 0;
        }
        .fontColor {
          color: #fa6400;
        }
        &:hover{
          span{
            color: @border-active-color;
          }
        }
      }
      /deep/.ivu-poptip {
        display: flex;
        .hoverIconWrapper {
          display: flex;
          align-items: center;
          cursor: pointer;
          .noHoverIcon {
            display: inline-block;
          }
          .hoverIcon {
            display: none;
          }
          &:hover {
            .noHoverIcon {
              display: none;
            }
            .hoverIcon {
              display: inline-block;
            }
          }
        }
        .ivu-poptip-popper {
          min-width: 0;
          // width: 105px;
          .ivu-poptip-body {
            padding: 0 6px;
            .actionWrapper {
              padding: 4px;
              .actionItem {
                // width: 80px;
                height: 24px;
                line-height: 24px;
                border-radius: 2px;
                padding: 0 4px;
                font-family: PingFangSC-Regular;
                font-size: 12px;
                color: #333333;
                text-align: left;
                cursor: pointer;
                &:not(:last-child) {
                  margin-bottom: 4px;
                }
                &:hover {
                  background: #f0f5ff;
                  color: #3f73ff;
                }
              }
            }
          }
        }
      }
    }
  }
  .page-wrap{
    display: flex;
    justify-content: flex-end;
  }
}
</style>
