<template>
  <div class="config-area" ref="wrapper">
    <!-- 报告设置 -->
    <div v-show="!isCombineResourceEditPage" id="reportSetting" class="reportSetting" ref="reportSetting">
      <span class="snapRecordSetting">
        <checkbox v-model="openSnapshot" :true-value="1" :false-value="0" @on-change="handleOpenSnapshotChange">快照记录</checkbox>
      </span>
      <Collapse v-model="collapseVal" class="reportCollapse">
        <Panel name="reportSetting">
          报告设置
          <div slot="content">
            <div class="item themeStyleBox">
              <span class="label">主题风格</span>
              <div>
                <RadioGroup v-model="themeStyle" @on-change="handleThemeStyleChange">
                  <Radio label="1">
                    <img src="@/assets/icons/chart/themeStyle1.svg"/>
                  </Radio>
                  <Radio label="2">
                    <img src="@/assets/icons/chart/themeStyle2.svg"/>
                  </Radio>
                </RadioGroup>
              </div>
            </div>
            <div class="item pageMeasureBox">
              <span class="label">页面尺寸</span>
              <div>
                <RadioGroup v-model="pageType" type="button" @on-change="handlePageTypeChange">
                  <Radio label="1">标准</Radio>
                  <Radio label="2">移动端</Radio>
                  <Radio label="3">自定义</Radio>
                </RadioGroup>
                <div v-if="pageType === '1'" class="pageWidthHeight">
                  <span class="inputNumberTitle">宽度</span>
                  <InputNumber :min="1" v-model="reportWidth" @on-change="handlePageWidthChange"></InputNumber>
                  <br/>
                  <span class="inputNumberTitle">高度</span>
                  <InputNumber :min="1" v-model="reportHeight" @on-change="handlePageHeightChange"></InputNumber>
                </div>
                <div v-else-if="pageType === '2'" class="pageWidthHeight">
                  <Select v-model="reportMobile" @on-change="handleReportMobileChange" label-in-value>
                    <OptionGroup v-for="(item, index) in mobileList" :key="index" :label="item.label">
                      <Option v-for="(childItem, index) in item.children" :key="index" :value="childItem.value">{{ childItem.label }}</Option>
                    </OptionGroup>
                  </Select>
                  <br/>
                  <span class="inputNumberTitle">高度</span>
                  <InputNumber :min="1" v-model="reportHeight" @on-change="handlePageHeightChange"></InputNumber>
                </div>
                <div v-else-if="pageType === '3'" class="pageWidthHeight">
                  <span class="inputNumberTitle">宽度</span>
                  <InputNumber :min="1" v-model="reportWidth" @on-change="handlePageWidthChange"></InputNumber>
                  <br/>
                  <span class="inputNumberTitle">高度</span>
                  <InputNumber :min="1" v-model="reportHeight" @on-change="handlePageHeightChange"></InputNumber>
                </div>
              </div>
            </div>
            <div class="item backgroundBox">
              <span class="label">背景设置</span>
              <div>
                <span class="text">颜色</span>
                <colorPicker
                  class="bgColorPicker"
                  defaultColor="#f2f6fc"
                  v-model="reportBackgroundColor"
                  @change="backgroundColorChange"
                />
                <span class="text">图片</span>
                <Tooltip content="建议上传与报告尺寸相同的底图" theme="light" placement="bottom-end" offset="18">
                  <Icon type="ios-help-circle-outline" size="12"></Icon>
                </Tooltip>
                <div v-if="reportBackgroundImg" class="reportBackgroundImgBox">
                  <img width="28" height="28" :src="reportBackgroundImg"/>
                  <img
                    class="reportBgImgDelete"
                    src="@/assets/icons/chart/reportBgImgDelete.svg"
                    @click="handleReportBgImgDelete"/>
                </div>
                <Upload
                  v-else
                  :before-upload="handleBeforeUpload"
                  accept="image/jpeg, image/png"
                  action="#">
                  <span class="backgroundImg">+</span>
                </Upload>
              </div>
            </div>
          </div>
        </Panel>
      </Collapse>
    </div>

    <!-- tab切换 -->
    <div class="dataStyleSetting" ref="otherSetting" style="height: 100%" v-if="!currentSelectChart.isCustomChart">
      <Tabs
        v-if="chartTitle !== 'Tab' && currentChartType !== 'CustomImage'"
        v-model="tabsValue"
        value="dataSetting"
        :animated="false"
        :class="{ outIndicatorTab: isSelectOutIndicators }"
        @on-click="tabClick"
      >
        <TabPane :label="chartTitle + '数据'" name="dataSetting" v-if="!isSelectOutIndicators" :index="1">
          <div v-if="hasChartActive">
            <CommonDataConfig v-if="currentChartType !== 'SimpleIframe'" id="commondataSetting" class="commondataSetting" />
            <keep-alive>
              <component
                class="dataSetting"
                v-if="currentChartType && currentChartType !== 'FaTab'"
                :is="currentChartType+'DataConfig'"
                mode="out-in"
                :dataConfigs="currentSelectConfigData"
                :chartId="currentChartId"
              ></component>
            </keep-alive>
          </div>
          <div v-else>
            <Tips tipstype="数据设置" />
          </div>
        </TabPane>
        <TabPane class="styleSetting" :label="chartTitle + '样式'" name="styleSetting" :index="2">
          <div v-if="hasChartActive">
            <CommonStyleConfig :styleConfigs="currentChartStyle" :chartType="currentChartType" />
            <keep-alive>
              <component
                v-if="currentChartType !== 'FaTab'"
                :is="currentChartType+'StyleConfig'"
                mode="out-in"
                :setCurrentChartDefaultShow="setCurrentChartDefaultShow"
                :styleConfigs="currentChartStyle"
              />
            </keep-alive>
          </div>
          <div v-else>
            <Tips tipstype="样式设置" />
          </div>
        </TabPane>
      </Tabs>
      <Tabs v-else-if="currentChartType === 'CustomImage'" value="styleSetting" class="onlyCustomImage">
        <TabPane :label="chartTitle + '样式'" name="styleSetting">
          <div v-if="hasChartActive">
            <CommonStyleConfig :styleConfigs="currentChartStyle" :chartType="currentChartType" />
            <keep-alive>
              <component
                :is="currentChartType+'StyleConfig'"
                mode="out-in"
                :styleConfigs="currentChartStyle"
                :setCurrentChartDefaultShow="setCurrentChartDefaultShow"
              />
            </keep-alive>
          </div>
        </TabPane>
      </Tabs>
      <Tabs v-else value="styleSetting" class="onlyTab">
        <TabPane :label="chartTitle + '样式'" name="styleSetting" class="tab-style-setting">
          <div v-if="hasChartActive">
            <CommonStyleConfig :styleConfigs="currentChartStyle" :chartType="currentChartType" />
            <keep-alive>
              <component
                :is="currentChartType+'StyleConfig'"
                mode="out-in"
                :styleConfigs="currentChartStyle"
              ></component>
            </keep-alive>
          </div>
          <div v-else>
            <Tips tipstype="样式设置" />
          </div>
        </TabPane>
      </Tabs>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters, mapState } from 'vuex'
  import { uploadImg, previewImg } from '@/api/report'
  import Tips from './components/tips'
  import { CHART_TYPE_LIST, FILTER_LIST, IMAGE_LIST, MOBILE_LIST } from '@/config/ReportConstants'
  /**图表样式设置*/
  import SimplePieStyleConfig from './ChartStyleConfig/PieStyleConfig'
  import SimpleLineStyleConfig from './ChartStyleConfig/LineStyleConfig'
  import BasicRadarStyleConfig from './ChartStyleConfig/RadarStyleConfig'
  import SimpleBarStyleConfig from './ChartStyleConfig/BarStyleConfig'
  import MixLineBarStyleConfig from './ChartStyleConfig/LineBarStyleConfig'
  import DoublePieStyleConfig from './ChartStyleConfig/DoublePieStyleConfig'
  import IndicatorStyleConfig from './IndicatorStyleConfig'
  import ComplexTextareaStyleConfig from './chart/textarea/styleConfig'
  import SimpleTableStyleConfig from './chart/handsontable/StyleConfig'
  import SimpleGaugeStyleConfig from './ChartStyleConfig/GaugeStyleConfig'
  import CustomTableStyleConfig from './chart/customTable/StyleConfig'
  import GroupTableStyleConfig from '@/view/report/ChartStyleConfig/GroupTableStyleConfig.vue'
  import SimpleIframeStyleConfig from './ChartStyleConfig/IframeStyleConfig'
  import CommonStyleConfig from './ChartStyleConfig/CommonStyleConfig'
  import SimpleMapStyleConfig from './ChartStyleConfig/MapStyleConfig'
  import SimpleBubbleStyleConfig from './ChartStyleConfig/BubbleStyleConfig'
  import SimpleScatterStyleConfig from './ChartStyleConfig/ScatterStyleConfig'
  import IndexBoardStyleConfig from './ChartStyleConfig/IndexBoardStyleConfig'
  import MultiplePieStyleConfig from './ChartStyleConfig/MultiplePieStyleConfig'
  import FaTabStyleConfig from './ChartStyleConfig/FaTabStyleConfig'
  import DimensionFilterStyleConfig from './ChartStyleConfig/DimensionFilterStyleConfig'
  import IndicatorFilterStyleConfig from './ChartStyleConfig/IndicatorFilterStyleConfig'
  import MixFilterStyleConfig from './ChartStyleConfig/MixFilterStyleConfig'
  import CustomImageStyleConfig from './ChartStyleConfig/CustomImageStyleConfig'
  /**图表数据设置组件 */
  import CommonDataConfig from './chartDataConfig/CommonDataConfig'
  import ComplexTextareaDataConfig from './chartDataConfig/TextareaDataConfig'
  import IndicatorDataConfig from './chartDataConfig/IndicatorDataConfig'
  import CustomTableDataConfig from './chartDataConfig/customTable/CustomTableTestDataConfig'
  import GroupTableDataConfig from '@/view/report/chartDataConfig/GroupTableDataConfig.vue'
  import SimpleLineDataConfig from './chartDataConfig/LineDataConfig'
  import BasicRadarDataConfig from './chartDataConfig/RadarDataConfig'
  import SimpleBarDataConfig from './chartDataConfig/BarDataConfig'
  import MixLineBarDataConfig from './chartDataConfig/LineBarDataConfig'
  import SimplePieDataConfig from './chartDataConfig/PieDataConfig'
  import DoublePieDataConfig from './chartDataConfig/DoublePieDataConfig'
  import SimpleGaugeDataConfig from './chartDataConfig/GaugeDataConfig'
  import SimpleIframeDataConfig from './chartDataConfig/IframeDataConfig'
  import SimpleMapDataConfig from './chartDataConfig/MapDataConfig'
  import SimpleBubbleDataConfig from './chartDataConfig/BubbleDataConfig'
  import SimpleScatterDataConfig from './chartDataConfig/ScatterDataConfig'
  import IndexBoardDataConfig from './chartDataConfig/IndexBoardDataConfig'
  import MultiplePieDataConfig from './chartDataConfig/MultiplePieDataConfig'
  import DimensionFilterDataConfig from './chartDataConfig/DimensionFilterDataConfig'
  import IndicatorFilterDataConfig from './chartDataConfig/IndicatorFilterDataConfig'
  import MixFilterDataConfig from './chartDataConfig/MixFilterDataConfig'
  import GlobalVarFilterDataConfig from "@/view/report/chartDataConfig/GlobalVarFilterDataConfig";
  import GlobalVarFilterStyleConfig from "@/view/report/ChartStyleConfig/GlobalVarFilterStyleConfig";
  export default {
    name: 'ChartStyleConfig',
    components: {
      Tips,
      SimplePieStyleConfig,
      SimpleLineStyleConfig,
      BasicRadarStyleConfig,
      SimpleBarStyleConfig,
      MixLineBarStyleConfig,
      DoublePieStyleConfig,
      IndicatorStyleConfig,
      ComplexTextareaStyleConfig,
      SimpleTableStyleConfig,
      SimpleGaugeStyleConfig,
      CustomTableStyleConfig,
      GroupTableStyleConfig,
      SimpleIframeStyleConfig,
      CommonStyleConfig,
      ComplexTextareaDataConfig,
      IndicatorDataConfig,
      CustomTableDataConfig,
      GroupTableDataConfig,
      SimpleLineDataConfig,
      BasicRadarDataConfig,
      SimpleBarDataConfig,
      MixLineBarDataConfig,
      SimplePieDataConfig,
      DoublePieDataConfig,
      SimpleGaugeDataConfig,
      SimpleIframeDataConfig,
      CommonDataConfig,
      SimpleMapDataConfig,
      SimpleMapStyleConfig,
      SimpleBubbleStyleConfig,
      SimpleBubbleDataConfig,
      SimpleScatterStyleConfig,
      SimpleScatterDataConfig,
      IndexBoardDataConfig,
      IndexBoardStyleConfig,
      MultiplePieDataConfig,
      MultiplePieStyleConfig,
      FaTabStyleConfig,
      DimensionFilterStyleConfig,
      DimensionFilterDataConfig,
      IndicatorFilterStyleConfig,
      IndicatorFilterDataConfig,
      MixFilterStyleConfig,
      MixFilterDataConfig,
      CustomImageStyleConfig,
      GlobalVarFilterDataConfig,
      GlobalVarFilterStyleConfig
    },
    data() {
      return {
        tabsValue: 'dataSetting',
        collapseVal: ['reportSetting'],
        themeStyle: '1',
        pageType: '1',
        mobileList: MOBILE_LIST,
        chartTypeList: CHART_TYPE_LIST,
        filterList: FILTER_LIST,
        reportWidth: 0,
        reportHeight: 0,
        reportMobile: '',
        settingCollapseVal: ['dataSetting', 'styleSetting'],
        reportBackgroundColor: '', //背景色
        reportBackgroundImg: '', //背景图
        canSettingShow: false,
        openSnapshot: 0, // 报告快照
      }
    },
    inject: ['recordSnapshot'],
    mounted() {
      this.currentTab = {
        name: ''
      }
      let _this = this
      this.$erd.listenTo(document.getElementById('reportSetting'), element => {
        _this.adjustScrollArea()
      })
      // this.openSnapshot = this.$parent.openSnapshot
    },
    computed: {
      ...mapState("resourceManage", ["isCombineResourceEditPage"]),
      ...mapGetters([
        'currentChartType',
        'currentChartId',
        'currentSelectChart',
        'currentSelectChartData',
        'currentSelectDimensions',
        'currentSelectIndicators',
        'currentSelectConfigData',
        'currentChartStyle',
        'currentChartList',
        'isSelectOutIndicators'
      ]),
      hasChartActive() {
        return this.currentSelectChart.isActive
      },
      reportSetting() {
        return this.$store.state.chart.reportSetting || {}
      },
      reportPageMeasure() {
        return this.$store.state.chart.reportSetting && this.$store.state.chart.reportSetting.pageMeasure || ''
      },
      chartTitle() {
        return this.chartTypeList.concat(this.filterList).concat(IMAGE_LIST).find((item) => {
          return item.id === this.currentChartType
        })?.title || ''
      },
      parentOpenSnapshot() {
        return this.$parent.openSnapshot
      }
    },
    methods: {
      ...mapActions(['setReportSetting']),
      tabClick(name) {
        if (this.currentTab.name !== name) {
          if (name === 'styleSetting') {
            // this.dispatchMsg(name)
          }
          this.currentTab.name = name
        }
      },
      dispatchMsg(param) {
        this.$parent.broadcastMsg(param)
      },

      setCurrentChartDefaultShow(param) {
        this.$set(this.currentChartStyle, 'transparent', !!param)
        this.$forceUpdate()
      },
      handleThemeStyleChange(e) {
        this.$set(this.reportSetting, 'themeStyle', e)
        this.recordSnapshot()
      },
      backgroundColorChange(e) {
        this.$set(this.reportSetting, 'bgColor', e)
      },
      handleReportBgImgDelete(e) {
        this.$set(this.reportSetting, 'bgImg', '')
      },
      handleBeforeUpload(file) {
        const isImg = file.type === 'image/jpeg' || file.type === 'image/png'
        const isLt10M = file.size / 1024 / 1024 < 10
        if (!isImg) {
          this.$Message.warning('上传图片只能是JPG/JPEG/PNG格式')
          return false
        }
        if (!isLt10M) {
          this.$Message.warning('上传图片大小不能超过10MB')
          return false
        }
        this.uploadImg(file).then(res => {
          if (res) {
            this.$set(this.reportSetting, 'bgImg', res)
          }
        })
        return false
      },
      async uploadImg(file) {
        let formData = new FormData()
        formData.append('file', file)
        return await uploadImg(formData).then(res => {
          if (res.data.state === 'success') {
            const { data } = res.data
            return data.id
          } else {
            this.$Message.warning('图片上传失败')
            return false
          }
        }).catch(err => {
          this.$Message.warning('图片上传失败')
          return false
        })
      },
      handlePageTypeChange(e) {
        let reportSetting = this.$store.state.chart.reportSetting
        let reportPageMeasureArr = this.reportPageMeasure.split(',')
        reportPageMeasureArr[0] = e
        // 如果是移动端，并且之前有手机型号
        if (e === '2' && reportPageMeasureArr.length > 3) {
          this.mobileList.forEach(item => {
            if (item.children && item.children.length > 0) {
              item.children.forEach(itemChildren => {
                if (itemChildren.label === reportPageMeasureArr[3]) {
                  // 更改宽度
                  reportPageMeasureArr[1] = itemChildren.value.split(',')[0]
                }
              })
            }
          })
        }
        reportSetting.pageMeasure = reportPageMeasureArr.join(',')
        this.refreshStoreReportSetting(reportSetting)
      },
      handleReportMobileChange(e) {
        let reportSetting = this.$store.state.chart.reportSetting
        let reportPageMeasureArr = this.reportPageMeasure.split(',')
        reportPageMeasureArr[1] = e.value.split(',')[0] // 改变宽
        if (reportPageMeasureArr.length > 3) {
          reportPageMeasureArr[3] = e.label // 改变手机型号label
        } else {
          reportPageMeasureArr.push(e.label) // 新增手机型号label
        }
        reportSetting.pageMeasure = reportPageMeasureArr.join(',')
        this.refreshStoreReportSetting(reportSetting)
      },
      handlePageWidthChange(width) {
        let reportSetting = this.$store.state.chart.reportSetting
        let arr = this.reportPageMeasure.split(',')
        if (arr.length > 1) {
          arr[1] = width
          reportSetting.pageMeasure = arr.join(',')
          this.refreshStoreReportSetting(reportSetting)
        }
      },
      handlePageHeightChange(height) {
        let reportSetting = this.$store.state.chart.reportSetting
        let arr = this.reportPageMeasure.split(',')
        if (arr.length > 2) {
          arr[2] = height
          reportSetting.pageMeasure = arr.join(',')
          this.refreshStoreReportSetting(reportSetting)
        }
      },
      refreshStoreReportSetting(reportSetting) {
        this.setReportSetting({ reportSetting })
        this.recordSnapshot()
      },
      setTabsValueFirst() {
        this.tabsValue = 'dataSetting'
      },
      adjustScrollArea() {
        let bodyHeight = document.body.clientHeight
        let reportSettingHeight = document.querySelector('.reportSetting').offsetHeight
        let commondataSettingHeight = 0
        if (document.querySelector('.commondataSetting')) {
          commondataSettingHeight = document.querySelector('.commondataSetting').offsetHeight
        }
        let dataHeight = bodyHeight - 60 - reportSettingHeight - 36 - commondataSettingHeight
        let styleHeight = bodyHeight - 60 - reportSettingHeight - 36
        if (document.querySelector('.dataSetting')) {
          document.querySelector('.dataSetting').style.height = dataHeight + 'px'
        }
        if (document.querySelector('.styleSetting')) {
          document.querySelector('.styleSetting').style.height = styleHeight + 'px'
        }
      },
      handleOpenSnapshotChange(event) {
        if (!event) { // 关闭快照二次确认
          this.$Modal.confirm({
            title: `确认关闭'快照记录'吗？`,
            content: `关闭后将清空所有快照版本，只保留当前版本。`,
            okText: '确认',
            onOk: () => {
              this.$parent.openSnapshot = 0
            },
            onCancel: () => {
              this.openSnapshot = 1
            }
          })
        } else {
          this.$parent.openSnapshot = 1
        }
      }
    },
    watch: {
      'reportSetting.themeStyle': {
        handler: function (val) {
          this.themeStyle = val
        },
        immediate: true
      },
      reportPageMeasure: {
        handler: function (val) {
          let arr = val.split(',')
          if (arr.length > 3) {
            this.pageType = arr[0]
            this.reportWidth = Number(arr[1])
            this.reportHeight = Number(arr[2])
            this.mobileList.forEach(item => {
              if (item.children && item.children.length > 0) {
                item.children.forEach(itemChildren => {
                  if (itemChildren.label === arr[3]) {
                    this.reportMobile = itemChildren.value
                  }
                })
              }
            })
          } else if (arr.length > 2) {
            this.pageType = arr[0]
            this.reportWidth = Number(arr[1])
            this.reportHeight = Number(arr[2])
          }
        },
        immediate: true
      },
      currentSelectChart: {
        handler: function (val) {
          this.$nextTick(() => {
            if (document.getElementById('commondataSetting')) {
              let _this = this
              this.$erd.listenTo(document.getElementById('commondataSetting'), element => {
                _this.adjustScrollArea()
              })
            }
          })
        },
        immediate: true
      },
      'reportSetting.bgColor': {
        handler: function(val) {
          if(val && val !== this.reportBackgroundColor) {
            this.reportBackgroundColor = val
          }
        },
        immediate: true
      },
      'reportSetting.bgImg': {
        handler: function(val) {
          if(val && val !== this.reportBackgroundImg) {
            previewImg(val).then(res => {
              if(res.status === 200) {
                this.$nextTick(() => {
                  let imageUrl = window.URL.createObjectURL(res.data)
                  this.reportBackgroundImg = imageUrl
                })
              } else {
                this.$Message.warning('图片加载失败')
              }
            })
          } else {
            this.reportBackgroundImg = ''
          }
        },
        immediate: true
      },
      parentOpenSnapshot: function (newV, oldV) {
        this.openSnapshot = newV
      },
      isSelectOutIndicators(newValue) {
        // 如果选择外部指标，tab切换到‘样式’，‘数据’还原
        if(newValue) {
          this.tabsValue = "styleSetting"
        }
      }
    }
  }
</script>

<style lang="less" scoped>
  .reportSetting{
    position: relative;
    .snapRecordSetting{
      position: absolute;
      right: 10px;
      top: 9px;
    }
  }
  .reportCollapse.ivu-collapse {
    /deep/ .ivu-collapse-content {
      padding: 0 15px 0 10px;
    }

    .item {
      display: flex;

      > .label {
        line-height: 32px;
        padding-right: 10px;
      }

      > div {
        flex: 1;
      }
    }

    .themeStyleBox {
      .ivu-radio-group {
        display: flex;

        .ivu-radio-wrapper {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          margin-right: 0;

          /deep/ .ivu-radio {
            margin-top: 8px;
            margin-bottom: 16px;
          }

          img {
            width: 71px;
            height: 48px;
          }
        }
      }
    }

    .pageMeasureBox {
      .ivu-radio-group-button {
        margin-bottom: 6px;

        .ivu-radio-wrapper {
          padding: 0 8px;
          text-align: center;

          &:first-child {
            border-radius: 2px 0 0 2px;
          }

          &:last-child {
            border-radius: 0 2px 2px 0;
          }

          &.ivu-radio-wrapper-checked {
            color: #FFFFFF;
            background: #3F73FF;
            border-color: #3F73FF;
          }
        }
      }

      .pageWidthHeight {
        position: relative;
      }

      .inputNumberTitle {
        position: absolute;
        z-index: 1;
        left: 15px;
        color: rgba(0, 0, 0, 0.50);
        line-height: 28px;
      }

      .ivu-select {
        margin-bottom: 6px;
      }

      .ivu-input-number {
        width: 100%;
        margin-bottom: 6px;

        /deep/ .ivu-input-number-handler-wrap {
          opacity: 1;
        }

        /deep/ .ivu-input-number-input-wrap {
          .ivu-input-number-input {
            padding-left: 45px;
          }
        }
      }
    }

    .backgroundBox {
      > div {
        line-height: 32px;
        .text {
          color: rgba(0,0,0,0.45);
        }
        .bgColorPicker {
          margin-left: 8px;
          margin-right: 20px;
        }
        .ivu-tooltip {
          margin-left: 4px;
          margin-right: 4px;
        }
        .reportBackgroundImgBox {
          display: inline-block;
          vertical-align:middle;
          width: 28px;
          height: 28px;
          position: relative;
          .reportBgImgDelete {
            position: absolute;
            top: -6px;
            right: -6px;
          }
        }
        .ivu-upload {
          display: inline-block;
          cursor: pointer;
          .backgroundImg {
            display: inline-block;
            width: 28px;
            height: 28px;
            line-height: 24px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            border: 1px dashed #3F73FF;
            color: #3F73FF;
            vertical-align: middle;
          }
        }
      }
    }
  }
</style>

<style scoped>
  .config-area {
    /* padding: 10px; */
    height: 100%;
    background: #FFFFFF;
  }

  .dataStyleSetting .ivu-tabs {
    height: 100%;
  }

  .dataStyleSetting .ivu-tabs .ivu-tabs-tabpane {
    height: 100%;
  }

  .config-area .ivu-tabs .dataSetting {
    overflow-y: auto;
    height: 100%
  }

  .config-area .ivu-tabs .styleSetting {
    overflow-y: auto;
  }

  /* 报告管理样式 */
  >>> .template-collapse.ivu-collapse {
    border: transparent;
    background-color: #fff;
  }

  >>> .template-collapse.ivu-collapse > .ivu-collapse-item {
    border-top: 1px solid #dcdee2;
  }

  >>> .template-collapse.ivu-collapse > .ivu-collapse-item > .ivu-collapse-header {
    font-family: PingFangSC-Medium;
    color: #333;
    border-bottom: transparent;
  }

  >>> .template-collapse.ivu-collapse > .ivu-collapse-item > .ivu-collapse-header > i {
    font-size: 16px;
  }

  /* 多个颜色 */
  >>> .multipleColorBox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  >>> .multipleColorBox > div {
    margin: 0 16px 6px 0;
  }

  >>> .multipleColorBox > div > span {
    display: inline-block;
  }

  /* 下拉框高度 */
  >>> .ivu-select-single .ivu-select-selection {
    height: 28px;
  }

  >>> .ivu-select-single .ivu-select-selection .ivu-select-placeholder, >>> .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
    height: 26px;
    line-height: 26px;
  }

  /* 下拉箭头 */
  >>> .ivu-select-arrow.ivu-icon-ios-arrow-down {
    content: url("../../assets/images/report/select_arrow.svg");
  }

  /* 数字输入框高度 */
  >>> .ivu-input-number {
    height: 28px;
    line-height: 28px;
  }

  >>> .ivu-input-number-input-wrap {
    height: 28px;
  }

  >>> .ivu-input-number-input {
    height: 28px;
    line-height: 28px;
  }

  >>> .ivu-input-number-handler {
    height: 14px;
  }

  /* 选择展示阈值 */
  >>> .selectShowIndicatorBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }

  /* 数据设置增加指标 */
  >>> .addIndicatorBox {
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
    border-radius: 2px;
    border: 1px solid rgba(11, 10, 10, 0.2);
  }

  /* 数据设置中的tag */
  >>> .dataSettingTagBox.ivu-tag {
    width: 100%;
    height: 24px;
    background: #fff;
    border: 1px solid #e4e4e4;
  }

  >>> .dataSettingTagBox.ivu-tag .ivu-tag-text {
    display: inline-block;
    width: 86%;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /deep/ .ivu-select {
    position: relative;
  }

  /deep/ .ivu-tabs-nav {
    width: 100%;
  }

  /deep/ .ivu-tabs-bar {
    margin-bottom: 0;
  }

  /deep/ .ivu-tabs-ink-bar {
    width: 50% !important;
  }

  /deep/ .ivu-tabs-tab {
    width: 50%;
    margin-right: 0;
    text-align: center;
  }

  /deep/ .outIndicatorTab .ivu-tabs-tab {
    width: 100%;
  }
  /deep/ .outIndicatorTab .ivu-tabs-ink-bar {
    width: 100% !important;
  }

  /deep/ .onlyCustomImage .ivu-tabs-tab {
    width: 100%;
  }

  /deep/ .onlyCustomImage .ivu-tabs-ink-bar {
    width: 100% !important;
  }

  /deep/ .onlyTab .ivu-tabs-tab {
    width: 100%;
  }

  /deep/ .onlyTab .ivu-tabs-ink-bar {
    width: 100% !important;
  }

  /deep/ .ivu-collapse {
    border: none !important;
  }

  /deep/ .ivu-collapse .ivu-collapse-item .ivu-collapse-header {
    padding-left: 12px;
  }

  /deep/ .ivu-collapse .ivu-collapse-item .ivu-collapse-content {
    padding: 0 12px;
  }

  /deep/ .ivu-collapse-item ivu-collapse-item-active {
    border: none !important;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item {
    border: none !important;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header {
    color: #333!important;
    font-weight: bold;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header > i {
    margin-right: 5px;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item > .ivu-collapse-header > i.ivu-icon-ios-arrow-forward:before {
    content: url("~@/assets/images/report/style/rightArrow.svg");
  }

  /deep/ .ivu-collapse > .ivu-collapse-item.ivu-collapse-item-active > .ivu-collapse-header > i {
    transform: rotate(-90deg);
  }

  .dataStyleSetting /deep/ .ivu-collapse > .ivu-collapse-item {
    border-bottom: 1px solid rgba(239,239,239,0.77)!important;
    margin: 0 10px;
  }

  .dataStyleSetting /deep/ .ivu-collapse > .ivu-collapse-item .ivu-collapse-header {
    padding-left: 0;
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dataStyleSetting /deep/ .ivu-collapse > .ivu-collapse-item .ivu-collapse-content {
    padding: 0;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item.ivu-collapse-item-active > .ivu-collapse-header {
    border: none !important
  }

  /deep/ .ivu-collapse-header {
    color: black !important;
    /*font-weight: bold !important;*/
  }


  .titleCollapse /deep/ .ivu-collapse-header {
    border-bottom: 0;
  }

  /deep/ .ivu-tabs-content {
    height: 100%;
  }
  .tab-style-setting {
    overflow-y: auto;
    max-height: calc(100% - 339px);
  }
</style>
