<template>
  <div>
    <indicator-style-configs
      :styleConfigs="styleConfigs"
    ></indicator-style-configs>
  </div>
</template>

<script>
import IndicatorStyleConfigs from "./chart/Indicator/IndicatorStyle";
export default {
  name: "IndicatorStyleConfig",
  props: {
    styleConfigs: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },
  components: {
    IndicatorStyleConfigs,
  },
};
</script>
