<template>
  <ReportCanvasLayout id="report-canvas" class="create-report"
                      ref="reportCanvasLayout"
                      :chartDataList="chartDataList"
                      :isPreview="true">
    <ReportChart
      v-for="item in chartDataList"
      :chartData="item"
      :_chartId="item.chartId"
      :key="item.chartId"
      :editable="false"
      :isPreView="true"
      :currentChartIdLong="currentChartIdLong"
      :getRefLineParams="getRefLineParams"
      :scaleRatio="scaleRatio"
    />
  </ReportCanvasLayout>
</template>

<script>
  import { getReportTempDetail } from '@/api/report'
  import ReportCanvasLayout from '../components/report-canvas/ReportCanvasLayout'
  import ReportChart from '../components/report-canvas/ReportChart'
  import {
    CHART_DEFAULT_CONFIG,
  } from '../../config/ReportConstants'
  import moment from 'moment'

  export default {
    name: 'ReportTemplate',
    components: {
      ReportCanvasLayout,
      ReportChart,
    },
    data() {
      return {
        list: [],
        chartDataList: [], // 保存画布中的图表组件信息
        propertyData: {
          // 保存数据属性选择的数据模型、维度和指标
          mode: null,
          dimension: [],
          indicator: [],
        },
        currentChart: null, // 画布中当前选中的图表
        reportName: '', // 自定义报告名称
        timer: '', // 用户刷新BusinessModel组件
        IndicatorModel: false, // 是否为指标版,
        startDate: null,
        endDate: null,
        isPreview: false,
        defaultDateRange: { chooseDateRangeOption: '2', readonly: false, isEditable: true },
        vLine: [],
        hLine: [],
        scaleRatio: 1,
        canvasHeight: '100%',
        animClass: 'rightMoveIn',
        labelClass: '',
        isCreatePage: null, // 是否是创建页面
        chooseDateRangeOption: null,
        targetXY: null,
        canvasXY: null,
      }
    },
    computed: {
      currentChartId: function () {
        return this.currentChart && this.currentChart.id
      },
      currentChartIdLong: function () {
        return this.currentChart && this.currentChart.chartId
      },
      currentChartDataConfig: function () {
        return this.currentChart && this.currentChart.data.configData
      },
      dateRange() {
        if (this.startDate && this.endDate) {
          return this.startDate + ' - ' + this.endDate
        }
        return '请选择日期'
      },
    },
    mounted() {
      this.getReportTempDetail()
    },
    methods: {

      buildGridLayoutArr(resData, startDate, endDate) {
        const currentContainerWidth = document.getElementById('report-canvas').offsetWidth
        const containerWidth = resData.containerWidth || 1510
        this.scaleRatio = currentContainerWidth / containerWidth

        // 还原控件
        let maxHeight = 0
        this.chartDataList = resData.views.map((item, index) => {
          let configData = item.configData ? JSON.parse(item.configData) : CHART_DEFAULT_CONFIG[item.type].config
          let indicatorData = configData.indicatorData
          if (!indicatorData) {
            indicatorData = item.indicators && item.indicators.map(i => {
              return {
                title: i.title,
                id: i.id,
                type: i.type,
                thresholds: i.thresholds,
                showType: i.showType,
                selected: false,
                useCompare: true,
                useProportion: true,
                useThreshold: false
              }
            })
          } else {
            if (item.indicators) {
              indicatorData.forEach(cacheIndicator => {
                let dbIndicator = item.indicators.find(i => i.id == cacheIndicator.id)
                if (dbIndicator) {
                  cacheIndicator.thresholds = dbIndicator.thresholds
                  cacheIndicator.showType = dbIndicator.showType
                  cacheIndicator.title = dbIndicator.title
                }
              })
            }
          }
          let totalHeight = item.height + item.y
          if (totalHeight > maxHeight) {
            maxHeight = totalHeight
          }
          return {
            chartId: `${item.type}_${item.id}`,
            id: item.type,
            x: currentContainerWidth !== containerWidth ? item.x * currentContainerWidth / containerWidth : item.x,
            y: item.y,
            width: currentContainerWidth !== containerWidth ? item.width * currentContainerWidth / containerWidth : item.width,
            height: item.height,
            i: index,
            data: {
              mode: 1,
              dimension: item.dimensions,
              indicator: indicatorData || [],
              innerHtml: item.html,
              src: item.src,
              text: item.text,
              configData: configData
            },
            style: JSON.parse(item.style),
            timer: new Date().getTime(),
            startDate: startDate, // 私有日期
            endDate: endDate,
            dateRangeValue: [
              new Date(startDate),
              new Date(endDate)
            ]
          }
        })
        // 给20px额外的高度
        this.canvasHeight = maxHeight + 20
        this.$refs.reportCanvasLayout.setRealHeight(this.canvasHeight)
      },

      getReportTempDetail() {
        let startDate = this.$route.query.startDate
        let endDate = this.$route.query.endDate
        let params = { id: this.$route.query.id }
        if (startDate) {
          params.startDate = startDate
          params.endDate = endDate
        }
        getReportTempDetail(params).then((res) => {
          if (res.data && res.data.state === 'success') {
            const resData = res.data.data
            this.reportName = resData.name
            // 还原日期(历史详情中，日期截止时间应该为当天，按保存周期往前推)
            this.buildGridLayoutArr(resData, startDate, endDate)
          } else {
            console.log('获取报告详情失败')
          }
        })
      },

      setDate(startDate, endDate) {
        this.startDate = moment(startDate).format('YYYY-MM-DD')
        this.endDate = moment(endDate).format('YYYY-MM-DD')
        this.defaultDateRange.startDate = startDate
        this.defaultDateRange.endDate = endDate
        let reportDate = [
          this.startDate,
          this.endDate,
          this.needQuerySnapshot
        ]
        this.setReportDate({ reportDate })
        // 如果查看态，需要通过快照
        this.getReportTempDetail(this.startDate, this.endDate)
      },

    },
  }
</script>

<style scoped>

  .create-report {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: none;
  }

  .ivu-tabs {
    overflow: visible;
  }

  .ivu-tabs >>> .ivu-tabs-content {
    height: calc(100% - 52px);
    /*overflow: auto;*/
  }

  .ivu-tabs >>> .ivu-tabs-content .ivu-tabs-tabpane {
    height: 100%;
  }

  @-webkit-keyframes moveIn {
    0% {
      margin-right: -100%;
    }
    100% {
      margin-right: 0;
    }
  }

  @-webkit-keyframes moveOut {
    0% {
      margin-right: 0;
    }
    100% {
      margin-right: -100%;
    }
  }


  /deep/ .ivu-tabs-nav {
    width: 100%;
  }

  /deep/ .ivu-tabs-bar {
    margin-bottom: 0;
  }

  /deep/ .ivu-tabs-ink-bar {
    width: 50% !important;
  }

  /deep/ .ivu-tabs-tab {
    width: 50%;
    margin-right: 0;
    text-align: center;
  }


  /deep/ .ivu-collapse {
    border: none !important;
  }

  /deep/ .ivu-collapse-item ivu-collapse-item-active {
    border: none !important;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item {
    border: none !important;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item.ivu-collapse-item-active > .ivu-collapse-header {
    border: none !important
  }

  /deep/ .ivu-collapse-header {
    color: black !important;
    /*font-weight: bold !important;*/
  }

  /deep/ .ref-line {
    background-color: #2D8cF0;
  }
</style>
