<template>
  <div class="create-report">
    <div class="preview-report-body" id="report-canvas">
      <div class="preview-title-calendar">
        <span class="preview-report-title">{{reportName}}</span>
        <div style="display: flex; align-items: center;">
          <div @click.stop="openCalendar" class="report-calendar-button">
            <span>{{ dateRange }}</span>
            <img src="../../assets/icons/chart/calendar_black.svg" style="width: 16px; cursor: pointer;">
          </div>
          <ReportCalendar
            ref="previewReportCalendar"
            key="preview-calendar"
            :dateRange="defaultDateRange"
            style="position: absolute; right: 0; bottom: -235px; z-index: 20;"
            @dateConfirm="dateConfirm"
          />
        </div>
      </div>
      <ReportCanvasLayout :canvasHeight="canvasHeight" ref="reportCanvasLayout" :chartDataList="chartDataList"
                          :isPreview="true">
        <ReportChart
          v-for="item in chartDataList"
          :chartData="item"
          :_chartId="item.chartId"
          :key="item.chartId"
          :editable="false"
          :isPreView="true"
          :currentChartIdLong="currentChartIdLong"
          :scaleRatio="scaleRatio"
        />
      </ReportCanvasLayout>
    </div>
  </div>
</template>

<script>
  import ChartSetting from './ChartSetting'
  import { mapActions } from 'vuex'
  import { getReportTempDetail } from '@/api/report'
  import ReportCanvasLayout from '../components/report-canvas/ReportCanvasLayout'
  import ReportChart from '../components/report-canvas/ReportChart'
  import {
    CHART_DEFAULT_CONFIG,
  } from '../../config/ReportConstants'
  import ReportCalendar from '../components/report-calendar/ReportCalendar'
  import moment from 'moment'
  import { getLastTradingDate } from '@/utils/chartDate'

  export default {
    name: 'ReportTemplate',
    components: {
      ReportCalendar,
      ReportCanvasLayout,
      ChartSetting,
      ReportChart,
    },
    data() {
      return {
        list: [],
        chartDataList: [], // 保存画布中的图表组件信息
        propertyData: {
          // 保存数据属性选择的数据模型、维度和指标
          mode: null,
          dimension: [],
          indicator: [],
        },
        currentChart: null, // 画布中当前选中的图表
        reportName: '', // 自定义报告名称
        startDate: null,
        endDate: null,
        defaultDateRange: { chooseDateRangeOption: '2', readonly: false, isEditable: true },
        scaleRatio: 1,
        canvasHeight: '100%',
      }
    },
    computed: {

      currentChartIdLong: function () {
        return this.currentChart && this.currentChart.chartId
      },

      dateRange() {
        if (this.startDate && this.endDate) {
          return this.startDate + ' - ' + this.endDate
        }
        return '请选择日期'
      },
    },
    mounted() {
      this.getReportTempDetail()
    },

    methods: {
      ...mapActions(['setCurrentSelectChart', 'setReportDate', 'setChartDeactivation']),
      dateConfirm (startDate, endDate, period) {
        this.setDate(startDate, endDate, period);
      },
      resetChartPrivateDate(chart, globalStartDate, globalEndDate, tValue) {
        // 默认日报公共日期为T-1
        globalStartDate = globalStartDate || moment(new Date()).add(-1, 'days').format('YYYY-MM-DD')
        globalEndDate = globalEndDate || moment(new Date()).add(-1, 'days').format('YYYY-MM-DD')
        let startDate = moment(new Date(globalStartDate)).add(parseInt(tValue), 'days').format('YYYY-MM-DD')
        startDate = getLastTradingDate(startDate)
        chart.startTime = startDate
        let endDate = moment(new Date(globalEndDate)).add(parseInt(tValue), 'days').format('YYYY-MM-DD')
        endDate = getLastTradingDate(endDate)
        chart.endTime = endDate
      },

      buildGridLayoutArr(resData, globalStartDate, globalEndDate) {
        // console.log(resData)
        const currentContainerWidth = document.getElementById('report-canvas').offsetWidth
        const containerWidth = resData.containerWidth || 1510
        this.scaleRatio = currentContainerWidth / containerWidth

        // 还原画布中的图表控件
        let maxHeight = 0
        this.chartDataList = resData.views.map((item, index) => {
          let configData = item.configData ? JSON.parse(item.configData) : CHART_DEFAULT_CONFIG[item.type].config
          let indicatorData = configData.indicatorData
          if (!indicatorData) {
            indicatorData = item.indicators && item.indicators.map(i => {
              return {
                title: i.title,
                id: i.id,
                type: i.type,
                thresholds: i.thresholds,
                showType: i.showType,
                selected: false,
                useCompare: true,
                useProportion: true,
                useThreshold: false
              }
            })
          } else {
            if (item.indicators) {
              indicatorData.forEach(cacheIndicator => {
                let dbIndicator = item.indicators.find(i => i.id == cacheIndicator.id)
                if (dbIndicator) {
                  cacheIndicator.thresholds = dbIndicator.thresholds
                  cacheIndicator.showType = dbIndicator.showType
                  cacheIndicator.title = dbIndicator.title
                }
              })
            }
          }
          let totalHeight = item.height + item.y
          if (totalHeight > maxHeight) {
            maxHeight = totalHeight
          }
          // 如果设置了私有日期关联了公共日期需要根据当前公共日期重新计算私有日期
          if (configData.isOpenPrivateDate && configData.displayPrivateDate && configData.linkPublicDate) {
            const tValue = configData.tValue
            this.resetChartPrivateDate(item, globalStartDate, globalEndDate, tValue)
          }
          return {
            chartId: `${item.type}_${item.id}`,
            id: item.type,
            x: currentContainerWidth !== containerWidth ? item.x * currentContainerWidth / containerWidth : item.x,
            y: item.y,
            width: currentContainerWidth !== containerWidth ? item.width * currentContainerWidth / containerWidth : item.width,
            height: item.height,
            i: index,
            data: {
              mode: 1,
              dimension: item.dimensions,
              indicator: indicatorData || [],
              innerHtml: item.html,
              src: item.src,
              text: item.text,
              configData: configData,
              startDate: item.startTime, // 私有日期
              endDate: item.endTime,
              dateRangeValue: [
                item.startTime ? new Date(item.startTime) : null,
                item.endTime ? new Date(item.endTime) : null,
              ]
            },
            style: JSON.parse(item.style),
          }
        })
        // 给20px额外的高度
        this.canvasHeight = maxHeight + 20
        this.$refs.reportCanvasLayout.setRealHeight(this.canvasHeight)
      },

      dateDifference(sDate1, sDate2) {    //sDate1和sDate2是2006-12-18格式
        let dateSpan, iDays
        sDate1 = Date.parse(sDate1)
        sDate2 = Date.parse(sDate2)
        dateSpan = sDate2 - sDate1
        dateSpan = Math.abs(dateSpan)
        iDays = Math.floor(dateSpan / (24 * 3600 * 1000))
        return iDays
      },

      getReportTempDetail(startDate, endDate) {
        let params = { id: this.$route.query.id }
        if (startDate) {
          params.startDate = startDate
          params.endDate = endDate
        }
        getReportTempDetail(params).then((res) => {
          if (res.data && res.data.state === 'success') {
            const resData = res.data.data
            this.reportName = resData.name
            // 还原日期(历史详情中，日期截止时间应该为当天，按保存周期往前推)
            this.defaultDateRange = {
              chooseDateRangeOption: resData.periodType,
              startDate: new Date(resData.dateView.startDate),
              endDate: new Date(resData.dateView.endDate)
            };
            if (!startDate && resData.periodType === '2') {
              let date = new Date(new Date().getTime() - 86400000);
              this.setDate(date, date, '2', true);
            }
            this.buildGridLayoutArr(resData, startDate, endDate)
          } else {
            console.log('获取报告详情失败')
          }
        })
      },

      openCalendar() {
        this.$refs.previewReportCalendar.toggle()
      },

      setDate(startDate, endDate, periodType, flag) {
        this.startDate = moment(startDate).format('YYYY-MM-DD')
        this.endDate = moment(endDate).format('YYYY-MM-DD')
        this.defaultDateRange.startDate = startDate;
        this.defaultDateRange.endDate = endDate;
        let reportDate = [
          this.startDate,
          this.endDate,
          true,
          periodType
        ]
        this.setReportDate({ reportDate })
        // 如果查看态，需要通过快照
        if (flag === undefined) {
          this.getReportTempDetail(this.startDate, this.endDate)
        }
      },
    },
  }
</script>

<style scoped>

  .create-report {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /** -------------------------------预览报告------------------------------- */

  .preview-report-body {
    margin: 0 auto;
    width: 100%;
    height: calc(100% - 20px);
    background-color: #ffffff;
  }

  .preview-report-body > .preview-title-calendar {
    text-align: center;
    height: 65px;
    padding-top: 4px;
    position: relative;
  }

  .preview-report-body > .preview-title-calendar > span {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
  }

  .preview-report-body > .preview-title-calendar .report-calendar-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0 8px;
    position: absolute;
    right: 5px;
    bottom: 1px;
  }

  .preview-report-body > .preview-title-calendar .report-calendar-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .ivu-tabs {
    overflow: visible;
  }

  .ivu-tabs >>> .ivu-tabs-content {
    height: calc(100% - 52px);
    /*overflow: auto;*/
  }

  .ivu-tabs >>> .ivu-tabs-content .ivu-tabs-tabpane {
    height: 100%;
  }


  @-webkit-keyframes moveIn {
    0% {
      margin-right: -100%;
    }
    100% {
      margin-right: 0;
    }
  }

  @-webkit-keyframes moveOut {
    0% {
      margin-right: 0;
    }
    100% {
      margin-right: -100%;
    }
  }


  /deep/ .ivu-tabs-nav {
    width: 100%;
  }

  /deep/ .ivu-tabs-bar {
    margin-bottom: 0;
  }

  /deep/ .ivu-tabs-ink-bar {
    width: 50% !important;
  }

  /deep/ .ivu-tabs-tab {
    width: 50%;
    margin-right: 0;
    text-align: center;
  }

  .reportNameClass input:focus {
    border: none !important;
    outline: none !important;
  }

  .kkLabelIcon > img {
    width: 16px;
    height: 16px;
  }

  /deep/ .ivu-collapse {
    border: none !important;
  }

  /deep/ .ivu-collapse-item ivu-collapse-item-active {
    border: none !important;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item {
    border: none !important;
  }

  /deep/ .ivu-collapse > .ivu-collapse-item.ivu-collapse-item-active > .ivu-collapse-header {
    border: none !important
  }

  /deep/ .ivu-collapse-header {
    color: black !important;
    /*font-weight: bold !important;*/
  }

  /deep/ .ref-line {
    background-color: #2D8cF0;
  }
</style>
