<template>
  <div style="margin: 0 auto; height: 100%; border: 0; position: relative;">
    <Spin fix v-if="tabelLoading">
      <Icon type="ios-loading" size=28 class="table-spin-icon-load"></Icon>
      <div>Loading</div>
    </Spin>
    <div v-else>
      <div v-if="reportList.length > 0" class="preview-report">
        <div class="preview-report-body" id="report-canvas">
          <div class="preview-title-calendar">
            <ReportCalendar class="previewReportCalendar" ref="previewReportCalendar" key="preview-calendar"
              :editable="false" :need-init="false" @dateConfirm="dateConfirm" />
            <div @click="exportFile()"
              style="margin-left: 10px;background-color: #2d6ef9;border-radius: 4px;padding: 4px 10px;cursor: pointer">
              <span style="color: white">导出PDF</span>
              <img :src="labelIcon.export" style="margin-left: 8px" />
            </div>
          </div>
          <ReportViewCanvas
            id="report-export-area"
            :report-width="reportWidth"
            :report-height="reportHeight"
            :preview-scale-value="previewScaleValue"
            :chart-data-list="chartDataList"
          />
        </div>
      </div>
      <div style="height: 100%; width: 100%;text-align: center;" v-if="reportList.length === 0">
        <img style="margin-top: 50px;" src="../../assets/images/error-page/error-401.svg">
      </div>
    </div>
  </div>
</template>

<script>
import { getReportTempDetail } from '@/api/report'
import { getChildRes } from '@/api/systemManagement/system'
import { CHART_DEFAULT_CONFIG } from '@/config/ReportConstants'
import ReportCalendar from '@/view/components/report-calendar/ReportCalendar'
import _ from 'lodash'
import moment from 'moment/moment'
import html2canvas from 'html2canvas'
import { jsPDF } from 'jspdf'
import BigNumber from 'bignumber.js'
import { getChartPrivateDate, getDateRange } from '@/utils/chartDate'
import ReportTemplate from './reportTemplate/ReportTemplate'
import ReportViewCanvas from "./components/ReportViewCanvas"
import { supportSeriesCharts } from '@/view/report/components/reportDataSelector/reportDataSelectorConstant'

// 报告预览类型
export default {
  name: 'ReportPageForMenu',
  extends: ReportTemplate,
  components: {
    ReportCalendar,
    ReportViewCanvas
  },
  data() {
    return {
      reportWidth: 0,
      reportHeight: 0,
      // 是否存在编辑
      scaleRatio: 1, // TODO 该属性是否在使用
      labelIcon: Object.freeze({
        export: require('@/assets/icons/chart/report_operation/export-white.svg'),
      }),
      reportList: [],
      chartDataList: [],
      pdfLoading: false,
      reportTitleVisible: false,
      containerMaxHeight: 0,
      containerHeightPreview: 0,
      previewScaleValue: 1, //报告预览缩放比例
      tabelLoading: true
    }
  },
  computed: {
    reportPageMeasure() {
      return this.$store.state.chart.reportSetting?.pageMeasure || ''
    }
  },
  watch: {
    '$route'() {
      this.renderReportList()
    },
    reportPageMeasure: {
      handler(val) {
        if (this.reportWidth !== Number(val.split(',')[1]) || this.reportHeight !== Number(val.split(',')[2])) {
          this.reportWidth = Number(val.split(',')[1])
          this.reportHeight = Number(val.split(',')[2])
          this.$refs.reportCanvasLayout?.canvasResize()
        }
      },
      immediate: true
    },
  },
  mounted() {
    this.reportWidth = document.body.offsetWidth - 480 - 24 - 6 - 48
    this.reportHeight = document.body.offsetHeight - 60 - 52 - 6 - 20
    this.renderReportList()
  },
  beforeDestroy() {
    this.setReportSetting({}) // 清除背景设置
  },
  methods: {
    renderReportList() {
      this.tabelLoading = true
      let id = this.$route.query.id
      getChildRes(id).then(res => {
        this.reportList = res.data.data.map(item => item.path)
        this.tabelLoading = false
        if (this.reportList.length > 0) {
          // TODO 多个报告
          this.reportTemplateId = this.reportList[0]
          this.getReportTempDetail()
        }
      })
    },

    async getReportTempDetail(startDate, endDate) {
      let params = { id: this.reportTemplateId }
      if (startDate) {
        params.startDate = startDate
        params.endDate = endDate
      }
      await getReportTempDetail(params).then(res => {
        if (res.data && res.data.state === 'success') {
          const resData = res.data.data
          this.reportName = resData.name
          this.chartLink = resData.linkage !== null ? eval(resData.linkage.toLowerCase()) : ''
          if (!startDate) { // 如果指定了日期
            let newDateRange = getDateRange({ periodType: resData.periodType })
            startDate = moment(newDateRange.startDate).format('YYYY-MM-DD')
            endDate = moment(newDateRange.endDate).format('YYYY-MM-DD')
          }
          this.$refs.previewReportCalendar.update({
            dateRangeOption: resData.periodType, startDate, endDate
          })
          this.setDate(startDate, endDate, resData.periodType, true)
          let reportSetting = {
            themeStyle: resData.themeStyle || '1',
            pageMeasure: '',
            bgColor: '',
            bgImg: ''
          }
          if (resData.pageMeasure) {
            reportSetting.pageMeasure = resData.pageMeasure
          } else {
            this.reportWidth = document.body.offsetWidth - 480 - 24 - 6 - 48
            this.reportHeight = document.body.offsetHeight - 60 - 52 - 6 - 20
            reportSetting.pageMeasure = '1,' + this.reportWidth + ',' + this.reportHeight
          }
          if (resData.bgColor) {
            reportSetting.bgColor = resData.bgColor
          }
          if (resData.bgImg) {
            reportSetting.bgImg = resData.bgImg
          }
          this.setReportSetting({ reportSetting })
          this.buildGridLayoutArr(resData, startDate, endDate, resData.periodType)
          // this.$nextTick(() => {
          //   this.adjustPreviewScale()
          // })
        } else {
          console.log('获取报告详情失败')
        }
      })
    },

    buildGridLayoutArr(resData, globalStartDate, globalEndDate, periodType) {
      const currentContainerWidth = document.getElementById('report-canvas').offsetWidth
      const containerWidth = resData.containerWidth || 1510
      this.scaleRatio = currentContainerWidth / containerWidth
      // 还原画布中的图表控件
      this.containerHeightPreview = 0
      let views = resData.views
      this.chartDataList = this.buildResultChart(views, this.containerHeightPreview, globalStartDate, globalEndDate, periodType)
      this.refreshStoreChartList()
    },

    buildResultChart(views, maxHeight, globalStartDate, globalEndDate, periodType) {
      let mixFilterList = views.filter(item => item.type === 'MixFilter')
      return views.map((item, index) => {
        let configData = item.configData ? JSON.parse(item.configData) : (item.data?.configData ? item.data?.configData : CHART_DEFAULT_CONFIG[item.type].config)
        const { series = [], ...newConfigData } = configData; // 解析出: 系列+数据配置
        let indicatorData = newConfigData.indicatorData
        if (item.indicators && item.indicators.length) {
          if (indicatorData && indicatorData.length) {
            indicatorData.forEach(cacheIndicator => {
              let dbIndicator = item.indicators.find(i => i.id == cacheIndicator.id)
              if (dbIndicator) {
                // cacheIndicator.thresholds = dbIndicator.thresholds
                cacheIndicator.showType = dbIndicator.showType
                !newConfigData.hasOwnProperty('indNameChanged') ? cacheIndicator.title = dbIndicator.title : null
                cacheIndicator.type = dbIndicator.type
                cacheIndicator.name = dbIndicator.name
              }
            })
          } else {
            indicatorData = item.indicators.map(indicator => {
              return {
                ...indicator,
                selected: false,
                useCompare: true,
                useProportion: true,
                useThreshold: false
              }
            })
          }
        }
        if (maxHeight) {
          let totalHeight = item.height + item.y
          if (totalHeight > maxHeight) {
            this.containerHeightPreview = totalHeight
          }
        }
        // 如果设置了私有日期关联了公共日期需要根据当前公共日期重新计算私有日期
        if (newConfigData.isOpenPrivateDate && newConfigData.displayPrivateDate) {
          let { startDate, endDate } = getChartPrivateDate(newConfigData, periodType, globalStartDate, globalEndDate)
          item.startTime = startDate
          item.endTime = endDate
        }
        // 兼容处理：如果私有日期没有打开，历史图表对象里面有日期只则需重置掉20220429
        if (!newConfigData.displayPrivateDate && item.startTime) {
          item.startTime = null
          item.endTime = null
        }
        let parentId = ''
        for (let i = 0; i < mixFilterList.length; i++) {
          let configData = JSON.parse(mixFilterList[i].configData)
          if (configData.relativeFilterList && configData.relativeFilterList.includes(item.chartId)) {
            parentId = mixFilterList[i].chartId
          }
        }
        let childrenChartViewList
        if (item.childrenChartViewList) {
          // tab组件标签排序
          childrenChartViewList = item.childrenChartViewList.sort(
            (a, b) => a.idIndex - b.idIndex
          ).map(childrenChartItem => ({
            ...childrenChartItem,
            paneData: this.buildResultChart(childrenChartItem.paneData, maxHeight, globalStartDate, globalEndDate, periodType)
          }))
        }
        return {
          chartId: `${item.chartId ? item.chartId : item.type + '_' + item.id}`,
          parentId: parentId,
          id: item.type,
          x: item.x,
          y: item.y,
          level: item.chartLevel ? item.chartLevel : 100 + index,
          width: item.width,
          height: item.height,
          i: index,
          defaultImg: CHART_DEFAULT_CONFIG[item.type]?.hasOwnProperty('defaultImg') ? CHART_DEFAULT_CONFIG[item.type]?.defaultImg : null,
          data: {
            mode: 1,
            dimension: item.dimensions,
            series: supportSeriesCharts.includes(item.type) ? series : [],
            indicator: indicatorData || [],
            innerHtml: item.html,
            src: item.src,
            text: item.text,
            configData: newConfigData,
            startDate: item.startTime, // 私有日期
            endDate: item.endTime,
            dateRangeValue: [
              item.startTime ? new Date(item.startTime) : null,
              item.endTime ? new Date(item.endTime) : null,
            ]
          },
          childrenChartViewList,
          currentTab: item.currentTab || 0,
          style: JSON.parse(item.style),
          defaultShow: false,
          timer: new Date().getTime(),
        }
      })
    },

    isSplit(nodes, index, pageHeight) {
      const currentDom = nodes[index]
      const offsetTop = parseFloat(document.defaultView.getComputedStyle(currentDom, null).transform.substring(7).split(',')[5])
      const offsetHeight = currentDom.offsetHeight
      const nextDom = nodes[index + 1]
      if (nextDom) {
        const offsetTopNext = parseFloat(document.defaultView.getComputedStyle(nextDom, null).transform.substring(7).split(',')[5])
        const offsetHeightNext = nextDom.offsetHeight
        if (offsetTop + offsetHeight < pageHeight &&
          offsetTopNext + offsetHeightNext > pageHeight) {
          return true
        }
      }
      return false
    },

    setPdfPage() {
      let vm = this
      const A4_WIDTH = 592.28
      const A4_HEIGHT = 841.89
      vm.$nextTick(async () => {
        let target = document.getElementById('canvasContainer')
        let pageHeight = target.scrollWidth / A4_WIDTH * A4_HEIGHT
        let lableListID = document.getElementsByClassName('vdr')
        for (let i = 0; i < lableListID.length; i++) {
          const vdrDom = lableListID[i]
          const offsetTop = parseFloat(document.defaultView.getComputedStyle(vdrDom, null).transform.substring(7).split(',')[5]) // vdrDom.offsetTop
          // let multiple = Math.ceil((vdrDom.offsetTop + vdrDom.offsetHeight) / pageHeight)
          const offsetHeight = vdrDom.offsetHeight
          let multiple = Math.ceil((offsetTop + offsetHeight) / pageHeight)
          if (this.isSplit(lableListID, i, multiple * pageHeight)) {
            let divParent = lableListID[i].parentNode // 获取该div的父节点
            let newNode = document.createElement('div')
            newNode.style.background = '#ffffff'
            let _H = multiple * pageHeight - (offsetTop + offsetHeight)
            newNode.style.height = _H + 50 + 'px'
            let next = vdrDom.nextSibling // 获取div的下一个兄弟节点
            // 判断兄弟节点是否存在
            if (next) {
              // 存在则将新节点插入到div的下一个兄弟节点之前，即div之后
              divParent.insertBefore(newNode, next)
            } else {
              // 不存在则直接添加到最后,appendChild默认添加到divParent的最后
              divParent.appendChild(newNode)
            }
          }
        }
      })
    },

    createPdf() {
      let that = this
      // 滚动条会导致空白 导出时需置顶
      window.pageYOffset = 0
      document.documentElement.scrollTop = 0
      document.body.scrollTop = 0
      let reportCanvasDom = document.getElementById('report-export-area')
      reportCanvasDom.scrollTop = 0
      const canvasDomHeight = reportCanvasDom.scrollHeight // + document.body.scrollHeight
      const canvasDomWidth = reportCanvasDom.offsetWidth
      // 清晰度优化:将canvas的属性width和height属性放大为2倍（或者设置为devicePixelRatio倍），最后将canvas的CSS样式width和height设置为原先1倍的大小。
      const c = document.createElement('canvas')
      const scale = 2
      c.width = canvasDomWidth * scale
      c.height = canvasDomHeight * scale
      let context = c.getContext('2d')
      context.scale(scale, scale)
      const opts = {
        scale: scale,
        // canvas: c,
        logging: true,
        width: canvasDomWidth,
        height: canvasDomHeight,
        windowHeight: canvasDomHeight,
        // windowWidth:canvasDomWidth,
        taintTest: false,
        useCORS: true,  //允许canvas画布内 可以跨域请求外部链接图片, 允许跨域请求。
        // dpi: window.devicePixelRatio * scale, // 将分辨率提高到特定的DPI
      }
      setTimeout(() => {
        that.$Spin.show({
          render: (h) => {
            return h('div', [
              h('Icon', {
                'class': 'demo-spin-icon-load',
                props: {
                  type: 'ios-loading',
                  size: 18
                }
              }),
              h('div', '正在导出')
            ])
          }
        })
        html2canvas(reportCanvasDom, opts).then(canvas => {
          let newContext = canvas.getContext('2d')
          newContext.mozImageSmoothingEnable = false
          newContext.webkitImageSmoothingEnable = false
          newContext.msImageSmoothingEnable = false
          newContext.imageSmoothingEnable = false

          let imgData = canvas.toDataURL('image/jpeg', 1.0)
          let img = new Image()
          img.src = imgData
          const self = this
          img.onload = function () {
            img.width = img.width / scale // 因为上面放大了2倍；生成img后/2
            img.height = img.height / scale
            img.style.transform = 'scale(0.5)'
            const orientation = this.width > this.height ? 'l' : 'p'
            const doc = new jsPDF(orientation, 'pt', [
              this.width * 0.555,
              this.height * 0.555
            ])
            doc.addImage(imgData, 'JPEG', 10, 0, this.width * 0.545, this.height * 0.545)
            self.$Spin.hide()
            // 文件名：报告名称 + 业务日期
            const startDate = self.dateRange.startDate.replaceAll('-', '')
            const endDate = self.dateRange.endDate.replaceAll('-', '')
            const displayDate = startDate === endDate ? startDate : `${startDate}~${endDate}`
            const reportName = `${that.reportName || '未命名报告'}${displayDate}`
            doc.save(reportName + '.pdf')
          }
          /***====================分页处理===================*/
        })
      }, 500)
    },

    exportFile() {
      // 处理分页截断情况：不依赖布局，给页面上的子元素添加标识, 根据动态计算子元素所在的高度计算出一个位置插入空白高度
      // this.setPdfPage()
      // 生成pdf
      this.createPdf()
    },

    /**
     *
     * @param startDate 公共日历开始日期
     * @param endDate 公共日历结束日期
     * @param periodType  周期类型
     */
    setDate(startDate, endDate, periodType, flag) {
      this.dateRange = {
        startDate: startDate,
        endDate: endDate,
        dateRangeOption: periodType
      }
      let reportDate = [
        startDate,
        endDate,
        true,
        periodType
      ]
      this.setReportDate({ reportDate })
      // 如果查看态，需要通过快照
      if (flag === undefined) {
        this.getReportTempDetail(startDate, endDate)
      }
    },

    /* // 调整预览缩放比例
    adjustPreviewScale() {
      let maxReportWidth = document.querySelector('.preview-report').offsetWidth - 48
      let reportWidth = this.reportWidth
      this.previewScaleValue = Number(BigNumber(maxReportWidth).div(reportWidth).toFixed(2))
    }, */
  },
}
</script>

<style lang="less" scoped>
.preview-report {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;

  // 预览报告
  .preview-report-body {
    padding: 10px 24px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    /* height: calc(100% - 60px); */
    background-color: #ffffff;
    overflow: auto;

    .preview-title-calendar {
      position: absolute;
      z-index: 9999999999;
      top: 10px;
      right: 30px;
      display: flex;
      align-items: center;
    }
  }
}
</style>
