<template>
  <div style="border: 1px solid #ccc;">
    <Toolbar
      style="border-bottom: 1px solid #ccc;"
      :editor="editor"
      :defaultConfig="toolbarConfig"
      :mode="mode"
    />
    <Editor
      :value="businessDesc"
      :defaultConfig="editorConfig"
      :mode="mode"
      @onCreated="onCreated"
      @onChange="onChange"
    />
  </div>
</template>

<script>
import { Editor, Toolbar } from '@wangeditor/editor-for-vue'
import { mapActions, mapState } from 'vuex'
import { uploadImg, previewImg } from '@/api/report'
import { getToken } from '@/libs/util'

export default {
  name: 'RichTextEditor',
  components: { Editor, Toolbar },
  data() {
    return {
      editor: null,
      toolbarConfig: {
        toolbarKeys: [
          'headerSelect',
          'blockquote',
          'bold',
          'underline',
          'italic',
          'through',
          'color',
          'bgColor',
          'fontSize',
          'fontFamily',
          'lineHeight',
          'bulletedList',
          'numberedList',
          'todo',
          {
            'key': 'group-justify',
            'title': '对齐',
            'iconSvg': '<svg viewBox="0 0 1024 1024"><path d="M768 793.6v102.4H51.2v-102.4h716.8z m204.8-230.4v102.4H51.2v-102.4h921.6z m-204.8-230.4v102.4H51.2v-102.4h716.8zM972.8 102.4v102.4H51.2V102.4h921.6z"></path></svg>',
            'menuKeys': [
              'justifyLeft',
              'justifyRight',
              'justifyCenter',
              'justifyJustify',
            ],
          },
          {
            'key': 'group-indent',
            'title': '缩进',
            'iconSvg': '<svg viewBox="0 0 1024 1024"><path d="M0 64h1024v128H0z m384 192h640v128H384z m0 192h640v128H384z m0 192h640v128H384zM0 832h1024v128H0z m0-128V320l256 192z"></path></svg>',
            'menuKeys': [
              'indent',
              'delIndent',
            ],
          },
          'emotion',
          'insertLink',
          'uploadImage',
          'insertTable',
          'codeBlock',
          'divider',
          'undo',
          'redo',
        ],
      },
      editorConfig: {
        placeholder: '请输入内容...',
        scroll: false,
        MENU_CONF: {
          uploadImage: {
            maxFileSize: 2 * 1024 * 1024, // 单个文件的最大体积限制，默认为 2M
            maxNumberOfFiles: 10, // 最多可上传几个文件，默认为 100
            allowedFileTypes: ['image/*'], // 选择文件时的类型限制，默认为 ['image/*'] 。如不想限制，则设置为 []
            meta: {}, // 自定义上传参数，例如传递验证的 token 等。参数会被添加到 formData 中，一起上传到服务端。
            metaWithUrl: false, // 将 meta 拼接到 url 参数中，默认 false
            headers: { // 自定义增加 http  header
              Authorization: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuaWNrTmFtZSI6IueuoeeQhuWRmC0tWFhYWFgiLCJsb2dpbk5hbWUiOiJhZG1pbiIsImV4cCI6MTY3NzExNjIxMSwidXNlcklkIjoxfQ.ZCE0kLMdFIT8Z-N2hqek6FWg0OJF9idkyn7JLjYUrHc',
            },
            withCredentials: false, // 跨域是否传递 cookie ，默认为 false
            timeout: 5 * 1000, // 超时时间，默认为 10 秒
            onBeforeUpload: this.onBeforeUpload, // 上传之前触发
            onProgress: this.onProgress, // 上传进度的回调函数
            onSuccess: this.onSuccess, // 单个文件上传成功之后
            onFailed: this.onFailed, // 单个文件上传失败
            onError: this.onError, // 上传错误，或者触发 timeout 超时
            customUpload: this.customUpload, // 自定义上传
          },
        },
      },
      mode: 'default', // or 'simple'
    }
  },
  computed: {
    ...mapState('dimension', ['businessDesc']),
  },
  methods: {
    ...mapActions('dimension', ['setBusinessDesc']),
    onCreated(editor) {
      this.editor = Object.seal(editor) // 一定要用 Object.seal() ，否则会报错
    },
    onChange(editor) {
      console.log(editor.getHtml())
      this.setBusinessDesc(editor.getHtml())
    },
    onBeforeUpload(file) {
      // return false ，不上传这个 file
      return file
    },
    onProgress(progress) {
      // progress 是 0-100 的数字
      console.log('progress', progress)
    },
    onSuccess(file, res) {
      console.log(`${file.name} 上传成功`, res)
    },
    onFailed(file, res) {
      console.log(`${file.name} 上传失败`, res)
    },
    onError(file, err, res) {
      console.log(`${file.name} 上传出错`, err, res)
    },
    async customUpload(file, insertFn) {
      // 上传图片
      let formData = new FormData()
      formData.append('file', file)
      const { data: uploadRes } = await uploadImg(formData)
      if (uploadRes?.state === 'success') {
        let host = window.location.origin
        let devEnvHost = 'http://129.211.167.119:8688'
        const imgSrcHost = host.indexOf('localhost') > -1 ? devEnvHost : host
        const token = getToken()
        // 通过get请求，query增加token参数，获取图片
        insertFn(`${imgSrcHost}/api/storage/file/download/richText?fileId=${uploadRes.data.id}&token=${token}`)
      } else {
        this.$Message.error('上传图片失败')
      }
    },
    // Blob文件流转base64
    fileOrBlobToDataURL(obj, cb) {
      let a = new FileReader()
      a.readAsDataURL(obj)
      a.onload = function (e) {
        cb(e.target.result)
      }
    },
  },
  beforeDestroy() {
    const editor = this.editor
    if (editor == null) return
    editor.destroy() // 组件销毁时，及时销毁编辑器
  },
}
</script>

<style scoped lang="less">
/deep/ .w-e-text-container [data-slate-editor] {
  min-height: 120px;
}
</style>
