<template>
  <div class="filterSearch-container">
    <div class="searchBox">
      <span>名称：</span>
      <Input v-model.trim="searchCondition.taskName" maxlength="30" clearable placeholder="请输入名称" style="width: 162px" />
    </div>
    <div class="searchBox">
      <span>负责人：</span>
      <Input v-model.trim="searchCondition.managerName" maxlength="30" clearable placeholder="请输入负责人" style="width: 162px" />
    </div>
    <div class="searchBox">
      <span>监测状态：</span>
      <Select class="watchWrapper" v-model="searchCondition.watchStatus" multiple style="width: 210px">
        <Option v-for="item in watchConditionList" :key="item.label" :value="item.value">{{ item.label }}</Option>
      </Select>
    </div>
    <Button class="searchBtn" @click="searchTable">查询</Button>
  </div>
</template>

<script>
import { WATCH_STATUS_LIST } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/taskList";

export default {
  props: {
    searchCondition: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      watchConditionList: WATCH_STATUS_LIST
    };
  },
  methods: {
    /**
     * 搜索
     */
    searchTable() {
      this.$emit("searchTable");
    }
  }
};
</script>

<style lang="less" scoped>
.filterSearch-container {
  display: flex;
  align-items: center;
  .searchBox {
    display: flex;
    align-items: center;
    margin-right: 24px;

    // 监测状态
    /deep/.watchWrapper {
      .ivu-select-selection > div {
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  .searchBtn {
    background: #3f73ff;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ffffff;
    width: 72px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
