<template>
  <div class="pushInfo-container">
    <section class="contentItem pushFun">
      <span class="itemLeft">推送方式</span>
      <div class="itemRight">
        <div class="line">
          <span class="lineLabel">平台内推送</span>
          <Checkbox-group class="checkWrapper" v-model="taskForm.platformPushMode">
            <Checkbox v-for="item in platformPushList" :key="item.value" :label="item.value">{{ item.label }}</Checkbox>
          </Checkbox-group>
        </div>
        <div class="line">
          <span class="lineLabel">第三方推送</span>
          <Checkbox-group class="checkWrapper" v-model="taskForm.thirdPartyPushMode">
            <Checkbox v-for="item in thirdPushList" :key="item.value" :label="item.value">{{ item.label }}</Checkbox>
          </Checkbox-group>
        </div>
      </div>
    </section>

    <section class="contentItem pushMember">
      <span class="itemLeft" style="margin-top: 6px">推送人</span>
      <div class="itemRight">
        <Tabs v-model="taskForm.pushMemberTab" :animated="false">
          <TabPane v-for="(item, index) in taskForm.pushMemberList" :key="item.id" :label="ruleTitle(index)" :name="item.id">
            <PushMember ref="pushMemberRef" :task-form="item" :associated-table="item.associatedTableData" />
          </TabPane>
        </Tabs>
      </div>
    </section>

    <section class="contentItem">
      <span class="itemLeft">推送频率</span>
      <div class="itemRight">
        <div class="line">
          <Select v-model="taskForm.pushCondition" style="width: 269px">
            <Option v-for="item in pushConditionOptions" :key="item.value" :value="item.value">{{ item.label }}</Option>
          </Select>
          <div v-show="taskForm.pushCondition === 2">
            <Select v-model="taskForm.pushMode" style="width: 111px; margin-left: 24px">
              <Option v-for="item in pushModeOptions" :key="item.value" :value="item.value">{{ item.label }}</Option>
            </Select>
            <span style="margin-left: 24px; margin-right: 4px">触发</span>
            <Select v-model="taskForm.pushNum" style="width: 111px; margin-right: 4px">
              <Option v-for="item in 10" :value="item" :key="item">{{ item }}</Option>
            </Select>
            <span>次时推送</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import PushMember from "@/components/ShareModal/components/PushMember";
import {
  PLATFORM_PUSH_LIST,
  THIRD_PUSH_LIST,
  PUSH_CONDITION_OPTIONS,
  PUSH_MODE_OPTIONS,
} from "@/view/RulesmanagementTarget/earlyWarningTargetIndex/constant/ruleModal";

export default {
  props: {
    taskForm: {
      type: Object,
      required: true,
    },
  },
  components: {
    PushMember,
  },
  data() {
    return {
      platformPushList: PLATFORM_PUSH_LIST,
      thirdPushList: THIRD_PUSH_LIST,
      pushConditionOptions: PUSH_CONDITION_OPTIONS,
      pushModeOptions: PUSH_MODE_OPTIONS,
    };
  },
  computed: {
    ruleTitle() {
      return (index) => {
        let i = "";
        switch (index) {
          case 0:
            i = "规则一";
            break;
          case 1:
            i = "规则二";
            break;
          case 2:
            i = "规则三";
            break;
        }
        return i;
      };
    },
  },
};
</script>

<style lang="less" scoped>
.pushInfo-container {
  width: 100%;
  height: 100%;
  .contentItem {
    display: flex;
    align-items: flex-start;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &:last-child {
      align-items: center;
    }

    // 推送方式
    &.pushFun {
      .itemRight {
        .line {
          &:first-child {
            margin-bottom: 13px;
          }
          .lineLabel {
            margin-right: 10px;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.65);
            letter-spacing: 0;
          }
          /deep/.checkWrapper {
            .ivu-checkbox-wrapper {
              margin-right: 25px;
              .ivu-checkbox {
                margin-right: 7px;
              }
            }
          }
        }
      }
    }

    &.pushMember {
      @import url("~@/view/earlyWarningTarget/earlyWarningTargetIndex/style/pushMemberTab.less");
    }

    .itemLeft {
      width: 80px;
      display: flex;
      align-items: center;
      margin-right: 15px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #333333;
      letter-spacing: 0;
      font-weight: 400;
      &::before {
        content: url("~@/assets/icons/earlyWarningTarget/blue_small.svg");
        margin-right: 9px;
      }
    }
    .itemRight {
      width: calc(~"100% - 95px");
      .line {
        display: flex;
        align-items: center;
      }
    }
  }
}
</style>
