<template>
  <div class="associatedOriginTable-container">
    <Checkbox class="checkWrapper" v-model="associatedTable.checked">关联组织架构表</Checkbox>
    <section class="selectWrapper" v-show="associatedTable.checked">
      <span>关联源表：</span>
      <FaTreeSelect
        class="assoTableSelect"
        :data-source="leftIpList"
        :tree-data="ipDataList"
        :selected="associatedTable.tableId"
        :select-parent="false"
        @changeDataSource="changeDataSource"
        @changeVal="handleChangeDaTaSource"
      />
      <span>关联字段：</span>
      <Select class="assoFieldSelect" v-model="associatedTable.relColumnId">
        <Option v-for="item in relData" :value="item.id" :key="item.id">{{ item.label }}</Option>
      </Select>
      <span>匹配字段：</span>
      <Select class="matchFieldSelect" v-model="associatedTable.useColumnId">
        <Option v-for="item in relData" :value="item.id" :key="item.id">{{ item.label }}</Option>
      </Select>
    </section>
  </div>
</template>

<script>
import FaTreeSelect from "@/components/treeSelect/treeSelectOriginalData";
import { deepCopy } from "@/utils/common";
import { recursiveDataSourceGroup } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/utils";
import { mapState } from "vuex";

export default {
  props: {
    associatedTable: {
      type: Object,
      required: true
    }
  },
  components: {
    FaTreeSelect
  },
  data() {
    return {
      leftIpList: [], // ip列表（左）
      ipDataList: [], // 对应ip的数据源分组数据（右）
      dataSourceListCopy: [], // 以数据源的id为key，数据源为值得对象
      relData: []
    };
  },
  computed: {
    ...mapState("earlyWarningTarget", ["dataSourceList"]),
    allDataSourceList() {
      const data = deepCopy(this.dataSourceListCopy);
      for (const ele in data) {
        data[ele] = data[ele].reduce((pre, next) => [...pre, ...next.children], []);
      }
      return data;
    }
  },
  watch: {
    /**
     * 组装组件数据
     */
    dataSourceList: {
      handler(newVal) {
        if (!newVal.length) return;
        const data = deepCopy(newVal);
        this.leftIpList = data;
        const roots = {};
        data.forEach((dataSource, index) => {
          const dataSourceDomain = dataSource.dataSourceDomain;
          let root = [];
          for (let key in dataSourceDomain) {
            if (key !== "sqlTableList" && dataSourceDomain[key].length > 0) {
              recursiveDataSourceGroup(dataSourceDomain[key], key);
              root.push(dataSourceDomain[key][0]);
            }
          }
          if (index === 0) {
            this.ipDataList = root; // 默认展示第一项数据
          }
          roots[dataSource.id] = root;
        });
        this.dataSourceListCopy = deepCopy(roots);
      },
      immediate: true
    },
    /**
     * 选中表时，获取表对应的字段
     */
    "associatedTable.tableId": {
      handler(newVal) {
        if (newVal) {
          const tableData = this.allDataSourceList[this.associatedTable.connectId].find(ele => ele.id === newVal);
          this.relData = tableData.columns.map(ele => ({
            id: ele.id,
            label: ele.label ? ele.label : ele.name
          }));
        }
      },
      immediate: true
    }
  },
  methods: {
    /**
     * 切换ip
     */
    changeDataSource({ id }) {
      this.ipDataList = this.dataSourceListCopy[id];
    },
    /**
     * 数据源选中
     * @param data
     */
    handleChangeDaTaSource(tableData, ipData) {
      this.associatedTable.connectId = ipData.id;
      this.associatedTable.tableId = tableData.id;
    }
  }
};
</script>

<style lang="less" scoped>
.associatedOriginTable-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  .checkWrapper.ivu-checkbox-wrapper {
    margin-right: 20px;
    .ivu-checkbox {
      margin-right: 7px;
    }
  }
  .selectWrapper {
    display: flex;
    align-items: center;
    .assoTableSelect,
    .assoFieldSelect,
    .matchFieldSelect {
      width: 111px;
      height: 32px;
      margin-right: 16px;
    }

    .assoTableSelect {
      /deep/ .ivu-select-dropdown {
        width: 560px;
        max-height: 300px !important;
        height: 300px;
      }
    }
  }
}
</style>
