<template>
  <div class="pushMember-container">
    <div class="line">
      <Checkbox class="checkWrapper" v-model="taskForm.userChecked">用户</Checkbox>
      <Select
        class="userSelect"
        v-show="isShowUserSelect"
        :value="selectedUserList"
        @on-change="changeUser"
        placeholder="搜索用户"
        multiple
        filterable
        :remote-method="getUserTree"
      >
        <Option v-for="item in userTreeData" :value="item.username" :key="item.id">{{ item.nickname }}</Option>
      </Select>

      <!-- 关联组织架构表 -->
      <AssociatedOriginTable
        v-if="taskForm.userChecked && associatedTable.show"
        :associated-table="associatedTable"
        :style="{ width: associatedTable.checked ? `calc(100% - 70px)` : `calc(100% - 70px - 284px)` }"
      />
    </div>
    <div class="line">
      <Checkbox class="checkWrapper" v-model="taskForm.deptChecked">部门</Checkbox>
      <MultipleSelectTree v-show="taskForm.deptChecked" v-model="taskForm.deptList" :treeData="deptTreeDataF" placeholder="请选择部门" />
    </div>
    <div class="line">
      <Checkbox class="checkWrapper" v-model="taskForm.roleChecked">角色</Checkbox>
      <MultipleSelectTree v-show="taskForm.roleChecked" v-model="taskForm.roleList" :treeData="roleTreeDataF" placeholder="请选择角色" />
    </div>
  </div>
</template>

<script>
import MultipleSelectTree from "@/components/MultipleSelectTree";
import AssociatedOriginTable from "./AssociatedOriginTable";
import { getUserListAll } from "@/api/systemManagement/system";
import { deepCopy, debounce } from "@/utils/common";
import { mapState } from "vuex";

export default {
  props: {
    taskForm: {
      type: Object,
      required: true
    },
    associatedTable: {
      type: Object,
      default: () => ({
        show: false
      })
    },
    from: {
      type: String,
      default: ""
    }
  },
  components: {
    MultipleSelectTree,
    AssociatedOriginTable
  },
  data() {
    return {
      selectedUserList: [], // 选中的用户
      userTreeData: [],
      userTreeDataClone: [], // 所有历史搜索结果
      loadingUser: false
    };
  },
  computed: {
    ...mapState("role", ["roleTreeData"]),
    ...mapState("department", ["deptTreeData"]),
    isShowUserSelect() {
      return this.taskForm.userChecked && (!this.associatedTable.show || (this.associatedTable.show && !this.associatedTable.checked));
    },
    deptTreeDataF() {
      return this.dataFormat({ list: deepCopy(this.deptTreeData), type: "dept" });
    },
    roleTreeDataF() {
      return this.dataFormat({ list: deepCopy(this.roleTreeData), type: "role" });
    }
  },
  watch: {
    userTreeData: {
      handler(newValue) {
        // 用在权限分享时，需要记录历史搜索结果
        if (this.from === "authShare") {
          const addArr = newValue.filter(ele => !this.userTreeDataClone.map(e => e.id).includes(ele.id)); // 去除已存在的
          this.userTreeDataClone = [...this.userTreeDataClone, ...addArr];
        }
      },
      deep: true
    }
  },
  created() {
    // 回填用户数据(仅在预警/目标，回填编辑弹窗用到)
    if (this.taskForm.userList.length) {
      const unwatch = this.$watch("taskForm.userList", {
        async handler(newVal) {
          let arr = [];
          for (const ele of newVal) {
            const res = await this.getUserData(ele);
            arr = [...arr, ...res];
          }
          this.userTreeData = arr;
          this.selectedUserList = newVal;
          if (unwatch) {
            unwatch();
          }
        },
        deep: true,
        immediate: true
      });
    }
  },
  methods: {
    /**
     * 获取用户树
     * @param {String} query 搜索关键字
     */
    getUserTree: debounce(async function (query) {
      if (query !== "") {
        this.loadingUser = true;
        this.userTreeData = await this.getUserData(query);
        this.loadingUser = false;
      } else {
        this.userTreeData = [];
      }
    }),
    async getUserData(query) {
      const params = {
        currentPage: 1,
        pageSize: 1000,
        username: query
      };
      const res = await getUserListAll(params);
      if (res.data.state === "success") {
        return res.data.data.data.map(ele => ({
          id: ele.id,
          nickname: ele.nickname, // 昵称
          username: ele.name // 用户名
        }));
      }
    },
    /**
     * 组合需要的数据结构
     */
    dataFormat({ list, deep = 1, type }) {
      const DEEP_TEMP = deep + 1;
      return list.map(ele => {
        let childData = ele.children || ele.roleList;
        if (childData?.length) {
          childData = this.dataFormat({ list: childData, deep: DEEP_TEMP, type });
        }
        return {
          id: Number(ele.id),
          title: ele.name,
          children: childData || [],
          deep,
          expand: false, // 是否展开
          checked: false, // 是否是勾选状态
          disabled: type === "role" ? deep === 1 : false // 是否禁止勾选
        };
      });
    },
    changeUser(selectList) {
      this.selectedUserList = selectList;
      if (this.from === "authShare") {
        // 权限分享: 返回 id
        this.taskForm.userList = this.userTreeDataClone.filter(ele => selectList.includes(ele.username)).map(ele => ele.id);
      } else {
        // 其他: 返回 username
        this.taskForm.userList = selectList;
      }
    },
    /**
     * 重置数据
     */
    reset() {
      this.selectedUserList = [];
      this.userTreeData = [];
    }
  }
};
</script>

<style lang="less" scoped>
.pushMember-container {
  width: 100%;
  height: 100%;
  .line {
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 32px;
    margin-bottom: 9px;
    .checkWrapper {
      width: 50px;
      /deep/&.ivu-checkbox-wrapper {
        margin-right: 20px;
        .ivu-checkbox {
          margin-right: 7px;
        }
      }
    }
  }

  .multipleSelectTree-container,
  .userSelect {
    width: 269px;
    height: 32px;
    /deep/.ivu-select-selection {
      height: 32px;
    }
  }
  .userSelect {
    /deep/.ivu-select-selection > div {
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .associatedOriginTable-container {
    margin-left: 14px;
  }
}
</style>
