<template>
  <div class="shareLink-container">
    <div class="urlWrapper" :title="showShareUrl">{{ showShareUrl }}</div>
    <div class="copyBtn" @click="toCopyUrl">复制{{ shareType }}</div>
  </div>
</template>

<script>
export default {
  props: {
    shareType: {
      type: String,
      required: true
    },
    // 展示出来的分享url
    showShareUrl: {
      type: String,
      required: true
    },
    // 完整的分享url
    wholeShareUrl: {
      type: String,
      required: true
    }
  },
  methods: {
    /**
     * 复制多行内容到粘贴板
     */
    toCopyUrl() {
      const textarea = document.createElement("textarea");
      textarea.value = this.wholeShareUrl;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand("copy");
      document.body.removeChild(textarea);
      this.$Message.success("复制成功!");
    }
  }
};
</script>

<style lang="less" scoped>
.shareLink-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  .urlWrapper {
    width: calc(~"100% - 67px");
    height: 32px;
    padding: 7px 10px;
    background-color: #fff;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid rgba(217, 217, 217, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
  }
  .copyBtn {
    width: 67px;
    height: 32px;
    background: #dce8ff;
    border: 1px solid rgba(217, 217, 217, 1);
    border-left: none;
    border-radius: 2px 2px 2px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    cursor: pointer;
  }
}
</style>
