<template>
  <div>
    <el-card shadow="always" :body-style="{ padding: '0px' }" class="dataconnectBox">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="数据连接管理" name="first">
          <span slot="label" class="lableBox"> 数据连接管理 </span>
          <Connectionprview v-if="showPreview" @editInfo="editInfo" @connectionList="connectionList" />
          <EditConnection v-else :selectInfo.sync="selectInfo" @connectionprview="connectionprview" />
        </el-tab-pane>
        <el-tab-pane label="数据集管理" name="second">
          <span slot="label" class="lableBox"> 数据集管理 </span>
          <DataSetpreview v-if="showPreviewDataSet" @editDataSet="editDataSet" @whetherDataSet="whetherDataSet" />
          <DataSetEdit v-else :selectInfoDataSet.sync="selectInfoDataSet" :connectionList="oldConneCtionList" @dataSetview="dataSetview" />
        </el-tab-pane>
      </el-tabs>
    </el-card>
  </div>
</template>

<script>
import EditConnection from "./connectionCompoent/editConnection.vue"; // 编辑 与 新增 数据连接
import Connectionprview from "./connectionCompoent/connectionprview.vue"; // 预览 数据连接
import DataSetpreview from "./dataSet/dataSetpreview";
import DataSetEdit from "./dataSet/dataSetEdit";

export default {
  name: "Dataconnection",
  data() {
    return {
      activeName: "first", // 选中的tab
      showPreview: true, //  true 预览数据集  false 编辑数据集
      selectInfo: {}, // 选中的数据
      showPreviewDataSet: true, //  true 预览数据集  false 编辑数据集
      selectInfoDataSet: {}, // 选中的数据
      oldConneCtionList: [], // 旧的数据连接列表
      dataSetType: false // 是否有数据集
    };
  },
  components: {
    EditConnection, // 编辑 与 新增 数据连接
    Connectionprview, // 预览 数据连接
    DataSetpreview, // 预览 数据集
    DataSetEdit // 编辑 与 新增 数据集
  },
  methods: {
    handleClick(tab, event) {
      // 点击tab
      this.showPreview = true;
      this.showPreviewDataSet = true;
    },
    editInfo(value) {
      // 编辑数据连接
      this.selectInfo = value;
      this.showPreview = false;
    },
    connectionprview(value) {
      // 预览数据连接
      this.showPreview = true;
    },
    editDataSet(value) {
      // 编辑数据集
      this.selectInfoDataSet = { ...value, connectId: value.connectId || null };
      this.showPreviewDataSet = false;
    },
    dataSetview(value) {
      // 预览数据集
      this.showPreviewDataSet = true;
    },
    connectionList(value) {
      // 预览数据集时 传递过来的数据连接列表 用于数据集编辑
      this.oldConneCtionList = value;
    },
    whetherDataSet(value) {
      // 是否有数据集
      this.dataSetType = value;
    }
  }
};
</script>

<style lang="scss" scoped>
.dataconnectBox {
  .lableBox {
    padding: 0 30px;
  }
  /deep/ .el-tabs__item {
    padding: 0;
    height: 50px;
    line-height: 50px;
  }
  /deep/ .el-tabs__header {
    margin: 0;
  }
  /deep/ .el-tabs__nav-wrap::after {
    height: 1px;
  }
}
</style>
