<template>
  <div class="reportAction-container">
    <Icon
      v-if="isShowChangeStatusIcon(item)"
      class="reportBtn statusBtn"
      size="18"
      :type="showStatusDataByKey(item.status, 'actionLabel') === '发布' ? 'md-publish' : 'md-offLine'"
      :title="`点击${showStatusDataByKey(item.status, 'actionLabel')}报告`"
      @click.stop="changeReportStatus(item)"
    />
    <Icon
      v-if="isEditAuth(item)"
      class="reportBtn editBtn"
      size="18"
      type="md-create"
      title="点击编辑报告"
      @click.stop="$emit('gotoReport', item.id, 'edit')"
      v-allow="[1097038120879105]"
    />
    <Icon
      v-if="isEditAuth(item)"
      class="reportBtn deleteBtn"
      size="18"
      type="md-close"
      title="点击删除报告"
      @click.stop="toDeleteReport(item)"
      v-allow="[1097038120879106]"
    />
    <Poptip class="reportBtn moreBtn" trigger="hover" placement="bottom" v-if="isShowPoptip(item)">
      <Icon size="18" type="md-more" />
      <template #content>
        <div class="actionWrapper">
          <div class="actionItem" v-if="isPublishSuccess(item)" @click.stop="authShareReport(item)">权限分享</div>
        </div>
      </template>
    </Poptip>
    <Tooltip v-if="item.openSnapshot" class="reportBtn snapshotBtn" theme="light" placement="bottom-end" @on-popper-show="enterSnapshot(item.id)">
      <Icon size="18" type="md-time" />
      <div slot="content">
        <div style="display: flex; padding: 5px 0 5px 5px; background-color: #f4f9fe; font-size: 13px; font-weight: bold; color: #666666">
          <div style="width: 150px; margin-right: 10px">快照版本</div>
          <div style="width: 50px">操作人</div>
        </div>
        <div
          style="display: flex; padding-left: 5px; width: 100%; font-size: 12px; color: #666666; margin-top: 5px"
          @click.stop="$emit('gotoReport', item.id, 'view', snapshot.startDate, snapshot.endDate)"
          v-for="snapshot in currentReportSnapshot"
          :key="snapshot"
        >
          <div style="width: 150px; margin-right: 10px">{{ dealWidthSnapshotVersion(snapshot.startDate, snapshot.endDate) }}</div>
          <div style="width: 120px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap">
            {{ snapshot.creator }}
          </div>
        </div>
      </div>
    </Tooltip>
  </div>
</template>

<script>
import resourcePublish from "@/mixins/resourcePublish";
import { deleteReportById, getReportSnapshots } from "@/api/report.js";
import moment from "moment";

export default {
  mixins: [resourcePublish],
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      currentChooseReportId: null,
      snapshotList: {}
    };
  },
  computed: {
    currentReportSnapshot() {
      if (
        this.currentChooseReportId &&
        this.snapshotList[this.currentChooseReportId] &&
        this.snapshotList[this.currentChooseReportId].status === "done"
      ) {
        return this.snapshotList[this.currentChooseReportId].data;
      }
      return [];
    },
    isShowPoptip() {
      return item => this.isPublishSuccess(item);
    },
    dealWidthSnapshotVersion() {
      return (startDate, endDate) => {
        let s = moment(startDate).format("YYYY-MM-DD");
        let e = moment(endDate).format("YYYY-MM-DD");
        if (s === e) {
          return s;
        } else {
          return s + " ~ " + e;
        }
      };
    }
  },
  methods: {
    /**
     * 改变报告状态
     */
    changeReportStatus({ id, oneContent, moduleType, status }) {
      this.changeStatus({ id, name: oneContent, moduleType, status });
    },
    authShareReport({ id, oneContent, moduleType }) {
      this.$emit("show:modal", { type: "权限分享", row: { id, name: oneContent, moduleType } });
    },
    /**
     * 删除报告
     */
    toDeleteReport({ id, oneContent }) {
      if (oneContent.length > 12) {
        oneContent = oneContent.slice(0, 12);
        oneContent += "...";
      }
      this.$Modal.confirm({
        title: "报告删除",
        content: `确定要删除当前"${oneContent}"报告吗？`,
        onOk: async () => {
          const res = await deleteReportById(id);
          if (res.data && res.data.state === "success") {
            this.$Message.success("删除成功");
            this.$emit("refresh:data");
          } else {
            this.$Message.warning("删除失败");
          }
        }
      });
    },
    enterSnapshot(id) {
      if (!this.snapshotList[id]) {
        this.snapshotList[id] = {
          status: "loading",
          data: null
        };
        // 获取数据
        getReportSnapshots(id).then(res => {
          if (res.data && res.data.state === "success") {
            this.snapshotList[id].status = "done";
            this.snapshotList[id].data = res.data.data;
          } else {
            this.snapshotList[id].status = "error";
          }
          this.currentChooseReportId = id;
        });
      } else {
        this.currentChooseReportId = id;
      }
    }
  }
};
</script>

<style lang="less" scoped>
.reportAction-container {
  display: flex;
  .reportBtn {
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    background: rgba(121, 137, 221, 0.2);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  .statusBtn {
    margin-left: -1px;
    &.ivu-icon.ivu-icon-md-publish::before {
      content: url("~@/assets/images/report/publishBtn.svg");
    }
    &.ivu-icon.ivu-icon-md-offLine::before {
      content: url("~@/assets/images/report/offLineBtn.svg");
    }
  }
  .editBtn.ivu-icon.ivu-icon-md-create::before {
    content: url("~@/assets/images/report/editBtn.svg");
  }
  .deleteBtn.ivu-icon.ivu-icon-md-close::before {
    content: url("~@/assets/images/report/deleteBtn.svg");
  }
  .moreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    .ivu-icon.ivu-icon-md-more::before {
      content: url("~@/assets/images/report/moreBtn-vertical.svg");
      line-height: 26px;
    }
  }
  // 更多操作
  /deep/.ivu-poptip {
    display: flex;
    .ivu-poptip-popper {
      min-width: 0;
      width: 80px;
      .ivu-poptip-body {
        padding: 0;
        .actionWrapper {
          padding: 4px;
          .actionItem {
            height: 24px;
            line-height: 24px;
            border-radius: 2px;
            padding: 0 4px;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #333333;
            text-align: left;
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 4px;
            }
            &:hover {
              background: #f0f5ff;
              color: #3f73ff;
            }
          }
        }
      }
    }
  }

  .snapshotBtn {
    display: flex;
    .ivu-icon.ivu-icon-md-time::before {
      content: url("~@/assets/images/report/snapshotBtn.svg");
    }
  }

  /deep/ .snapshotBtn .ivu-tooltip-rel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
</style>
