<template>
  <div class="basic-indicator">
    <Form
      :model="formData"
      ref="formValidate"
      :rules="ruleValidate"
      :label-width="90"
      class="basic-info-form"
    >
      <div class="row">
        <FormItem label="指标名称：" prop="name" class="form-item-first">
          <Input
            v-model="formData.name"
            placeholder="请输入指标名"
            :maxlength="30"
            clearable
          />
        </FormItem>
        <FormItem label="指标分组：" prop="groupId" class="form-item-other">
          <FaTreeSelect
            :selected="formData.groupId"
            :treeData="groupTreeData"
            :render="renderTip"
            @changeVal="handleChangeGroupId"
            :refresh="true"
          />
        </FormItem>
        <FormItem label="业务模型：" prop="businessModelId" class="form-item-other">
          <FaTreeSelect
            :selected="formData.businessModelId"
            :treeData="businessModelTreeData"
            :selectParent="false"
            :render="renderTip"
            @changeVal="onBusinessModeChanged"
            :refresh="true"
          />
        </FormItem>
      </div>
      <div class="row">
        <FormItem label="技术口径：" prop="businessModelPropertyId" class="form-item-first">
          <Select
            v-model="formData.businessModelPropertyId"
            clearable
            :placeholder="calculateTypeIsSupportNvl ? '请选择口径A' : '请选择技术口径'"
            :class="{ 'technical-caliber-a': calculateTypeIsSupportNvl }"
          >
            <Option v-for="item in businessModelPropertyIdList" :value="item.id" :key="item.name">{{ item.name }}</Option>
          </Select>
          <Select
            v-show="calculateTypeIsSupportNvl && !isManualEntry"
            v-model="formData.businessModelPropertyIdB"
            clearable
            placeholder="请选择口径B"
            class="technical-caliber-b"
          >
            <Option value="manualEntry">手动录入</Option>
            <Option v-for="item in businessModelPropertyIdList" :value="item.id" :key="item.name">{{ item.name }}</Option>
          </Select>
          <Input
            v-show="isManualEntry"
            v-model="formData.businessModelPropertyIdManualEntry"
            placeholder="请输入数值"
            clearable
            @on-clear="handleManualEntryInputClear"
            @on-keydown="handleManualEntryInputKeydown"
            @on-keyup="handleManualEntryInputKeyUp"
            class="technical-caliber-b"
          />
        </FormItem>
        <FormItem label="汇总方式：" prop="calculateType" class="form-item-other">
          <Select
            v-model="formData.calculateType"
            clearable
            placeholder="请选择汇总方式"
            @on-change="handleCalculateTypeChange"
          >
            <Option :value="5">计数</Option>
            <Option :value="13">去重计数</Option>
            <template v-if="type !== 'fastCreate'">
              <Option :value="1">求和</Option>
              <Option :value="2">平均值</Option>
              <Option :value="3">最大值</Option>
              <Option :value="4">最小值</Option>
              <Option :value="7">求和(nvl)</Option>
              <Option :value="8">平均值(nvl)</Option>
            </template>
          </Select>
        </FormItem>
        <FormItem label="指标类型：" prop="showType" class="form-item-other">
          <Select v-model="formData.showType" placeholder="请选择指标类型">
            <Option :value="1">百分比</Option>
            <Option :value="0">数值</Option>
          </Select>
        </FormItem>
      </div>
      <div class="row">
        <FormItem label="业务描述：" prop="label">
          <Input
            v-model="formData.description"
            clearable
            placeholder="请输入业务描述"
            :maxlength="255"
          />
        </FormItem>
      </div>
      <div class="row" v-if="type !== 'fastCreate'">
        <FormItem label="业务日期：" prop="openDate">
          <i-switch
            size="large"
            v-model="formData.openDate"
            true-value="0"
            false-value="1"
            @on-change="onSwitchChangeOpenDate"
          >
            <span slot="open">开启</span>
            <span slot="close">关闭</span>
          </i-switch>
        </FormItem>
      </div>
      <div class="row" v-if="type !== 'fastCreate'">
        <FormItem label="累计方式：">
          <i-switch size="large" v-model="dateStrObj.showAble" @on-change="onSwitchChangeDateStr">
            <span slot="open">开启</span>
            <span slot="close">关闭</span>
          </i-switch>
          <div v-if="dateStrObj.showAble" class="grand-total-wrapper">
            <FormItem class="grand-total">
              <Select
                v-model="dateStrObj.grandTotal"
                clearable
                placeholder="请选择累计方式"
                @on-change="handleGrandTotalChange"
              >
                <Option :value="1">常规累计</Option>
                <Option :value="2">自定义累计</Option>
              </Select>
            </FormItem>
            <FormItem class="grand-total-type">
              <Select
                v-model="dateStrObj.grandTotalType"
                placeholder="请选择方式"
                @on-change="handleGrandTotalTypeChange"
              >
                <template v-if="dateStrObj.grandTotal === 1">
                  <Option :value="1">年累计</Option>
                  <Option :value="2">月累计</Option>
                  <Option :value="3">周累计</Option>
                  <Option :value="4">季度累计</Option>
                </template>
                <template v-if="dateStrObj.grandTotal === 2">
                  <Option :value="1">按年</Option>
                  <Option :value="2">按月</Option>
                </template>
              </Select>
            </FormItem>
            <FormItem v-show="dateStrObj.grandTotal === 1" class="grand-total-content">
              <Input
                placeholder="请输入内容"
                :disabled="dateStrObj.contentAble === '1'"
                v-model="dateStrObj.content"
                @on-keydown="handleGrandTotalInputKeyDown"
                @on-keyup="handleGrandTotalInputKeyUp"
              >
                <Select
                  v-model="dateStrObj.contentAble"
                  slot="prepend"
                  @on-change="handleContentAbleChange"
                  class="grand-total-content-select"
                >
                  <Option value="1">当前</Option>
                  <Option v-if="dateStrObj.grandTotalType === 1" value="2">Year</Option>
                  <Option v-if="dateStrObj.grandTotalType === 2" value="3">Month</Option>
                  <Option v-if="dateStrObj.grandTotalType === 3" value="4">Week</Option>
                  <Option v-if="dateStrObj.grandTotalType === 4" value="5">Quarter</Option>
                </Select>
              </Input>
            </FormItem>
            <FormItem v-show="dateStrObj.grandTotal === 2" class="grand-total-date">
              <div class="grand-total-date-wrapper">
                <Cascader
                  v-model="dateStrObj.startDate"
                  :data="getDataByType(dateStrObj.grandTotalType)"
                  :placeholder="getPlaceholder(dateStrObj.grandTotalType)"
                  :render-format="formatCascader"
                />
              </div>
              <div class="separator">-</div>
              <div class="grand-total-date-wrapper">
                <Cascader
                  v-model="dateStrObj.endDate"
                  :data="getDataByType(dateStrObj.grandTotalType)"
                  :placeholder="getPlaceholder(dateStrObj.grandTotalType)"
                  :render-format="formatCascader"
                  @on-change="handleCheckStartDate"
                />
              </div>
            </FormItem>
          </div>
        </FormItem>
      </div>
      <div class="row" v-if="type !== 'fastCreate'">
        <FormItem label="阈值设置：">
          <i-switch size="large" v-model="formData.showThreshold" @on-change="handleThresholdSwitchChange">
            <span slot="open">开启</span>
            <span slot="close">关闭</span>
          </i-switch>
          <div v-if="formData.showThreshold" class="threshold">
            <div v-if="formData.thresholds.length" class="threshold-type">
              <span>阈值类型：</span>
              <FormItem>
                <Select v-model="formData.thresholds[0].adverseDirection" class="threshold-type-select">
                  <Option :value="0">不利变动向上</Option>
                  <Option :value="1">不利变动向下</Option>
                </Select>
              </FormItem>
            </div>
            <div
              class="threshold-name-wrapper"
              :class="{ 'mb20':idx !== formData.thresholds.length-1 }"
              v-for="(item,idx) in formData.thresholds"
              :key="item.id"
            >
              <span class-="threshold-name-label">阈值名称：</span>
              <FormItem
                :prop="`thresholds.${idx}.name`"
                :rules="{required: true, message: '必填，不能为空', trigger: 'blur'}"
                class="threshold-name-input"
              >
                <Input v-model="formData.thresholds[idx].name" clearable placeholder="请输入阈值名称" />
              </FormItem>
              <FormItem class="threshold-name-compare">
                <Select
                  v-model="formData.thresholds[idx].valueType"
                  v-show="formData.thresholds[0].adverseDirection === 0"
                  class="threshold-name-compare-select"
                >
                  <Option :value="0"><</Option>
                  <Option :value="1">≤</Option>
                </Select>
                <Select
                  v-model="formData.thresholds[idx].valueType"
                  v-show="formData.thresholds[0].adverseDirection === 1"
                  class="threshold-name-compare-select"
                >
                  <Option :value="0">></Option>
                  <Option :value="1">≥</Option>
                </Select>
              </FormItem>
              <FormItem
                :prop="`thresholds.${idx}.value`"
                :rules="{ required: true, message: '必填，不能为空', trigger: 'blur' }"
                class="threshold-name-number-input"
              >
                <Input v-model="formData.thresholds[idx].value" clearable placeholder="请输入具体数值，例17" />
              </FormItem>
              <i class="conditionIcon unBack btn" @click="addThreshold">
                <Icon type="ios-add-circle-outline" size="18" class="add-icon" />
              </i>
              <i
                v-show="formData.thresholds.length > 1"
                @click="removeThreshold(idx)"
                class="conditionIcon unBack btn"
              >
                <Icon type="md-close" size="15" color="red" />
              </i>
            </div>
          </div>
        </FormItem>
      </div>
      <div class="row">
        <FormItem label="过滤条件：">
          <i-switch size="large" v-model="formData.showConditionGroups">
            <span slot="open">开启</span>
            <span slot="close">关闭</span>
          </i-switch>
          <template v-if="formData.showConditionGroups">
            <div
              v-for="(item,idx) in formData.conditionGroups"
              :key="item.id"
              class="condition-groups-wrapper"
            >
              <div
                v-for="(node,index) in formData.conditionGroups[idx].conditions"
                :key="node.id"
                class="condition-groups-list"
              >
                <FormItem
                  :prop="`conditionGroups.${idx}.conditions.${index}.sourceId`"
                  :rules="{required: true, message: '必填，不能为空', trigger: 'blur'}"
                  class="condition-groups-source"
                >
                  <Select v-model="formData.conditionGroups[idx].conditions[index].sourceId" clearable>
                    <Option v-for="item in businessModelPropertyIdList" :value="item.id" :key="item.id">{{ item.name }}</Option>
                  </Select>
                </FormItem>
                <FormItem
                  :prop="`conditionGroups.${idx}.conditions.${index}.conditionType`"
                  :rules="{required: true, type: 'number', message: '必填，不能为空', trigger: 'blur'}"
                  class="condition-groups-condition-type"
                >
                  <Select
                    v-model="formData.conditionGroups[idx].conditions[index].conditionType"
                    @on-change="handleConditionTypeChange($event, idx, index)"
                    class="condition-groups-condition-type-select"
                  >
                    <Option v-for="item in filterList" :value="item.value" :key="item.value">{{ item.label }}</Option>
                  </Select>
                </FormItem>
                <FormItem
                  :prop="`conditionGroups.${idx}.conditions.${index}.iptVal`"
                  :rules="{required: true, message: '必填，不能为空', trigger: 'blur'}"
                  class="condition-groups-input"
                >
                  <Input
                    type="text"
                    v-model="formData.conditionGroups[idx].conditions[index].iptVal"
                    :readonly="formData.conditionGroups[idx].conditions[index].selectedOpt !== 1 ? true : false"
                    @click.native="handleConditionGroupsInputClick($event, idx, index)"
                    placeholder="请输入内容"
                    v-show="![2, 4].includes(formData.conditionGroups[idx].conditions[index].selectedOpt)"
                    :clearable="formData.conditionGroups[idx].conditions[index].selectedOpt !== 1 ? false : true"
                  >
                    <Select
                      v-model="formData.conditionGroups[idx].conditions[index].selectedOpt"
                      slot="prepend"
                      @click.native.stop
                      @on-change="handleConditionContentChange($event, idx, index)"
                      class="condition-groups-input-select"
                    >
                      <template v-if="!(item.value === 3 && formData.conditionGroups[idx].conditions[index].conditionType === 7)">
                        <Option :value="1">常量</Option>
                        <Option :value="2">变量</Option>
                        <Option :value="3">SQL</Option>
                        <Option :value="4">公共变量</Option>
                      </template>
                    </Select>
                  </Input>
                  <Select
                    v-show="[2, 4].includes(formData.conditionGroups[idx].conditions[index].selectedOpt)"
                    @on-change="handleConditionContentChange($event, idx, index)"
                    v-model="formData.conditionGroups[idx].conditions[index].selectedOpt"
                    @click.native.stop
                  >
                    <template v-if="!(item.value === 3 && formData.conditionGroups[idx].conditions[index].conditionType === 7)">
                      <Option :value="1">常量</Option>
                      <Option :value="2">变量</Option>
                      <Option :value="3">SQL</Option>
                      <Option :value="4">公共变量</Option>
                    </template>
                  </Select>
                </FormItem>
                <div class="condition-groups-help">
                  <Tooltip theme="light" placement="top-end" class="showArrowTool" offset="10">
                    <div slot="content">
                      <p>1、日期连接符支持“/”、“-”、“.”</p>
                      <p>2、多值或者区间值通过逗号“,”隔开</p>
                    </div>
                    <Icon type="ios-help-circle-outline" size="18" class="help-icon" />
                  </Tooltip>
                  <i class="conditionIcon or pointer" @click="handleConditionGroupsAddOr(idx)">或</i>
                  <!--删除按钮-->
                  <i class="conditionIcon unBack" @click="removeInclude(idx,index)"
                     v-show="formData.conditionGroups[idx].conditions.length > 1 || formData.conditionGroups.length > 1">
                    <Icon type="md-close" size="15" color="red" />
                  </i>
                </div>
              </div>
              <!--与-->
              <div v-show="idx !== formData.conditionGroups.length - 1" class="pointer">
                <i class="conditionIcon con_gray">与</i>
              </div>
            </div>
          </template>
          <div v-if="formData.showConditionGroups" @click="handleConditionGroupsAddAnd" class="btn-and pointer">
            <i class="conditionIcon">与</i>
          </div>
        </FormItem>
      </div>
    </Form>
  </div>
</template>

<script>
import { getAllBusinessModelList } from '@/api/indicator'
import { filterList } from '@/config/filterList'
import { deepCopy } from '@/utils/common'
import FaTreeSelect from '@/components/treeSelect/fa-treeSelect'

// 可输入字符
const KEYS = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '-', 'Backspace', '.']

export default {
  name: 'BasicIndicator',
  components: {
    FaTreeSelect,
  },
  emits: ['change', 'sql-change'],
  props: {
    formData: {
      type: Object,
      default: () => {
      },
    },
    indicatorData: {
      type: Object,
      default: () => {
      },
    },
    businessModelTreeData: {
      type: Array,
      default: () => [],
    },
    groupTreeData: {
      type: Array,
      default: () => [],
    },
    type: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      ruleValidate: {
        name: [
          { required: true, message: '必填，不能为空', trigger: 'blur' },
        ],
        showType: [
          { required: true, type: 'number', validator: this.validateRequiredSelect, trigger: 'change' },
        ],
        calculateType: [
          { required: true, type: 'number', validator: this.validateRequiredSelect, trigger: 'change' },
        ],
      },
      businessModelPropertyIdList: [], // 技术口径列表
    }
  },
  computed: {
    // 是否是手动录入
    isManualEntry() {
      return this.formData.businessModelPropertyIdB === 'manualEntry'
    },
    // 汇总方式是否支持nvl
    calculateTypeIsSupportNvl() {
      return this.formData.calculateType === 7 || this.formData.calculateType === 8
    },
    // 业务日期变量
    dateStrObj() {
      return this.formData && this.formData.dateStrObj
    },
    // 级联日期-按年
    getAllDate() {
      let date = new Date(), arr = []
      for (let month = 1; month < 13; month++) {
        let monthDay = new Date(date.getFullYear(), month, 0).getDate()
        let obj = { value: month < 10 ? '0' + month : month.toString(), label: month + '月', children: [] }
        for (let day = 1; day < monthDay + 1; day++) {
          obj.children.push({ value: day < 10 ? '0' + day : day.toString(), label: day + '日' })
        }
        arr.push(obj)
      }
      return arr
    },
    // 级联日期-按月
    getAllDay() {
      let arr = []
      for (let day = 1; day < 32; day++) {
        arr.push({ value: day < 10 ? '0' + day : day.toString(), label: day + '日' })
      }
      return arr
    },
  },
  watch: {
    async 'formData.businessModelId'(newValue) {
      if (newValue) {
        // 如果没有业务模型列表，先获取
        if (!this.businessModelList?.length) {
          await this.getBusinessModelList()
        }
        const currentBusinessModel = this.businessModelList.find(item => item.id == newValue)
        this.businessModelPropertyIdList = currentBusinessModel.businessModelProperties
      }
    },
    // 如果没有id，代表是新增，目前有两个必选的选择框
    'formData.id'(newValue) {
      if (!newValue) {
        this.requiredSelectCount = 2
      }
    },
  },
  created() {
    this.businessModelList = null
    this.requiredSelectCount = 0
    this.filterList = filterList
  },
  methods: {
    // render函数
    renderTip(h, { root, node, data }){
      return (
        <div class="tree-title-span" title={data.title}>{data.title}</div>
      );
    },
    /**
     * 验证汇总方式、指标类型下拉框不能为空
     * 如果是新增，第一次不提示
     * @param rule
     * @param value
     * @param callback
     */
    validateRequiredSelect(rule, value, callback) {
      if (this.requiredSelectCount > 0) {
        this.requiredSelectCount--
      } else if (value !== 0 && !value) {
        return callback(new Error('必选，不能为空'))
      }
      callback()
    },
    /**
     * 获取业务模型列表
     */
    async getBusinessModelList() {
      const { data } = await getAllBusinessModelList()
      if (data.state === 'success') {
        this.businessModelList = data.data
      } else {
        this.$Message.error('获取业务模型列表')
      }
    },
    /**
     * 业务模型树选中节点改变
     * @param value
     */
    onBusinessModeChanged(value) {
      const businessModelId = value.id
      this.businessModelPropertyIdList = []
      this.$emit('change', {
        businessModelId,
        // 来源表切换需要重置过来条件
        thresholds: [
          {
            adverseDirection: 0,
            name: null,
            valueType: 0,
            value: null,
          },
        ],
        conditionGroups: [
          {
            id: null,
            type: 1, // 1:指标  2:报告
            name: null,
            relationId: null, // 关系id：比如指标id,报告id
            sort: null,
            conditions: [
              // 过滤条件数组
              {
                sourceId: null, // 业务模型属性id
                conditionType: null, // 1：大于  2：小于  3：不等于  4：等于  5：大于等于  6：小于等于  7：between  8：包含
                value: null, // between 以,分割
                selectedOpt: 1,
                iptVal: '',
                conditionGroupId: null,
                sort: null,
              },
            ],
          },
        ],
      })
    },
    /**
     * 指标分组树选中节点改变
     * @param e
     */
    handleChangeGroupId(value) {
      this.$emit('change', { groupId: value.id })
    },
    /**
     * 清除技术口径B手动录入输入框
     */
    handleManualEntryInputClear() {
      this.$emit('change', { businessModelPropertyIdB: '' })
    },
    /**
     * 技术口径B手动录入输入框keydown，限制可输入字符
     * @param e
     */
    handleManualEntryInputKeydown(e) {
      if (KEYS.includes(e.key)) {
        const { businessModelPropertyIdManualEntry } = this.formData
        if (
          businessModelPropertyIdManualEntry && e.key === '-' ||
          businessModelPropertyIdManualEntry.indexOf('.') !== -1 && e.key === '.'
        ) {
          e.preventDefault()
        }
        return
      }
      e.preventDefault()
    },
    /**
     * 技术口径B手动录入输入框keyup
     */
    handleManualEntryInputKeyUp() {
      if (!this.formData.businessModelPropertyIdManualEntry) {
        this.$emit('change', {
          businessModelPropertyIdB: '',
        })
      }
    },
    /**
     * 汇总方式改变
     * @param value
     */
    handleCalculateTypeChange(value) {
      this.$emit('change', {
        businessModelPropertyIdManualEntry: '',
      })
    },
    /**
     * 业务日期switch改变
     * @param status
     */
    onSwitchChangeOpenDate(status) {
      if (status === '1' && this.formData.dateStrObj.showAble) {
        this.$Message.warning('累计方式已失效，开启业务日期后生效')
      }
    },
    /**
     * 累计方式switch改变
     * @param e
     */
    onSwitchChangeDateStr(e) {
      if (e === false) {
        this.formData.dateStrObj = {
          showAble: false,
          grandTotal: 1,
          grandTotalType: 1,
          contentAble: '1',
          content: '',
          startDate: [],
          endDate: [],
        }
      }
      if (this.formData.openDate !== '0' && e === true) {
        this.$Message.warning('累计方式无法生效，开启业务日期后生效')
      }
    },
    /**
     * 累计方式输入框keydown
     * @param e
     */
    handleGrandTotalInputKeyDown(e) {
      if (KEYS.includes(e.key)) {
        if (
          e.key === '.' ||
          e.key === '-' ||
          this.formData.dateStrObj.content === '-' && e.key === 'Backspace'
        ) {
          e.preventDefault()
        }
        return
      }
      e.preventDefault()
    },
    /**
     * 累计方式输入框keyup
     */
    handleGrandTotalInputKeyUp() {
      if (!this.formData.dateStrObj.content) {
        this.$emit('change', {
          dateStrObj: {
            ...this.formData.dateStrObj,
            content: '-',
          },
        })
      }
    },
    /**
     * 阈值设置switch改变
     * @param status
     */
    handleThresholdSwitchChange(status) {
      if (status) {
        // 如果没有阈值数据，设置初始化值
        if (this.indicatorData && !this.indicatorData.thresholds?.length) {
          this.$emit('change', {
            thresholds: [{
              adverseDirection: 0,
              name: null,
              valueType: 0,
              value: null,
            }],
          })
        }
      }
    },
    /**
     * 大累计方式变化，重置子累计方式
     */
    handleGrandTotalChange() {
      console.log(this.dateStrObj.grandTotal, typeof this.dateStrObj.grandTotal, 'grandTotal')
      let newDateStrObj = deepCopy(this.formData.dateStrObj)
      Object.assign(newDateStrObj, {
        grandTotalType: 1,
        contentAble: '1',
        content: '',
        startDate: [],
        endDate: [],
      })
      this.$emit('change', { dateStrObj: newDateStrObj })
    },
    /**
     * 累计方式，输入框前的选择框
     * @param data
     */
    handleContentAbleChange(value) {
      // 如果选择'当前'
      this.$emit('change', {
        dateStrObj: {
          ...this.formData.dateStrObj,
          content: value === '1' ? '' : -1,
        },
      })
    },
    /**
     * 根据累计方式设置不同数据
     * @param type
     */
    getDataByType(type) {
      return type === 1 ? this.getAllDate : this.getAllDay
    },
    /**
     * 切换placeholder
     * @param type
     */
    getPlaceholder(type) {
      let data = null
      switch (type) {
        case 1:
          data = 'MM-dd'
          break
        case 2:
          data = 'dd'
          break
        case 3:
          data = 'ww'
          break
        case 4:
          data = 'qq'
          break
        default:
          data = ''
      }
      return data
    },
    /**
     * 级联组件format函数
     * @param labels
     */
    formatCascader(labels) {
      const length = labels.length
      if (length > 1) {
        return labels[0] + '-' + labels[1]
      } else if (length === 1) {
        return labels[0]
      } else {
        return ''
      }
    },
    /**
     * 级联选择器变化
     * @param data
     */
    handleCheckStartDate(data) {
      if (this.formData.dateStrObj.startDate.length === 0) {
        this.$Message.warning('请输入起始日期')
        return false
      }
      if (Number(this.formData.dateStrObj.startDate[0]) > Number(data[0]) || (Number(this.formData.dateStrObj.startDate[0]) === Number(data[0]) && Number(this.formData.dateStrObj.startDate[1]) > Number(data[1]))) {
        this.$Message.warning('起始日期不能大于结束日期')
        return false
      }
    },
    /**
     * 累计方式子方式变化
     */
    handleGrandTotalTypeChange(value) {
      // 常规累计是输入框、自定义累计是日期选择框
      if (this.formData.dateStrObj.grandTotal === 1) {
        this.$emit('change', {
          dateStrObj: {
            ...this.formData.dateStrObj,
            content: '',
            contentAble: '1',
          },
        })
      } else {
        this.$emit('change', {
          dateStrObj: {
            ...this.formData.dateStrObj,
            startDate: [],
            endDate: [],
          },
        })
      }
    },
    /**
     * 过滤条件增加或
     * @param idx
     */
    handleConditionGroupsAddOr(idx) {
      const obj = {
        sourceId: null,
        conditionType: null,
        value: null,
        selectedOpt: 1,
        iptVal: '',
        conditionGroupId: null,
        sort: null,
      }
      let newConditionGroups = deepCopy(this.formData.conditionGroups)
      newConditionGroups[idx].conditions.push(obj)
      this.$emit('change', {
        conditionGroups: newConditionGroups,
      })
    },
    /**
     * 过滤条件增加与
     */
    handleConditionGroupsAddAnd() {
      const obj = {
        id: null,
        type: 1,
        name: null,
        relationId: null,
        sort: null,
        conditions: [
          {
            sourceId: null,
            conditionType: null,
            value: null,
            selectedOpt: 1,
            iptVal: '',
            conditionGroupId: null,
            sort: null,
          },
        ],
      }
      let newConditionGroups = deepCopy(this.formData.conditionGroups)
      newConditionGroups.push(obj)
      this.$emit('change', {
        conditionGroups: newConditionGroups,
      })
    },
    /**
     * 删除过滤条件中的一组条件
     * @param groupIndex
     * @param conditionIndex
     */
    removeInclude(groupIndex, conditionIndex) {
      const length = this.formData.conditionGroups[groupIndex].conditions.length
      let newConditionGroups = deepCopy(this.formData.conditionGroups)
      if (length > 1) {
        newConditionGroups[groupIndex].conditions.splice(conditionIndex, 1)
      } else {
        newConditionGroups.splice(groupIndex, 1)
      }
      this.$emit('change', {
        conditionGroups: newConditionGroups,
      })
    },
    /**
     * 过滤条件类型改变，如：大于等于、包含
     * @param e
     * @param idx
     * @param index
     */
    handleConditionTypeChange(e, idx, index) {
      if (e === 7) {
        let newConditionGroups = deepCopy(this.formData.conditionGroups)
        newConditionGroups[idx].conditions[index].iptVal = ''
        newConditionGroups[idx].conditions[index].selectedOpt = 1
        this.$emit('change', {
          conditionGroups: newConditionGroups,
        })
      }
    },
    /**
     * 点击过滤条件输入框，校验sql
     * @param e
     * @param groupIndex
     * @param conditionIndex
     */
    handleConditionGroupsInputClick(e, groupIndex, conditionIndex) {
      this.$emit('change', {
        conditionGroupsSelectIndex: {
          groupIndex,
          conditionIndex,
        },
      })
      let conditionType = this.formData.conditionGroups[groupIndex].conditions[conditionIndex]
      if (conditionType.conditionType === null) {
        this.$Message.warning('请选择条件')
        return false
      }
      if (conditionType?.selectedOpt === 3) {
        this.$emit('sql-change', {
          modalVisible: true,
          sqlValue: conditionType.hasOwnProperty('sql') ? conditionType.sql : '',
        })
      }
    },
    /**
     * 过滤条件内容变化
     * @param value
     * @param groupIndex
     * @param conditionIndex
     */
    handleConditionContentChange(value, groupIndex, conditionIndex) {
      let newConditionGroups = deepCopy(this.formData.conditionGroups)
      let condition = newConditionGroups[groupIndex].conditions[conditionIndex]
      if (value === 3) {
        condition.iptVal = '查看SQL条件'
        if (condition.conditionType === null) {
          this.$Message.warning('请选择条件')
        } else {
          this.$emit('sql-change', {
            modalVisible: true,
            sqlValue: '',
          })
        }
      } else {
        if (value === 2) {
          condition.iptVal = '${' + 'var_' + new Date().getTime() + '}'
        } else if (value === 4) {
          condition.iptVal = '${businessDate}'
        } else {
          condition.iptVal = ''
        }
        condition.sql = ''
      }
      this.$emit('change', {
        conditionGroups: newConditionGroups,
        conditionGroupsSelectIndex: {
          groupIndex,
          conditionIndex,
        },
      })
    },
    /**
     * 添加一组阈值
     */
    addThreshold() {
      let newThresholds = deepCopy(this.formData.thresholds)
      const obj = {
        adverseDirection: this.formData.thresholds[0].adverseDirection,
        name: null,
        valueType: 0,
        value: null,
      }
      newThresholds.push(obj)
      this.$emit('change', {
        thresholds: newThresholds,
      })
    },
    /**
     * 删除一组阈值
     * @param idx
     */
    removeThreshold(idx) {
      let newThresholds = deepCopy(this.formData.thresholds)
      // 如果删除第一个阈值组，保留阈值类型
      if (idx === 0 && newThresholds.length > 1) {
        newThresholds[1].adverseDirection = this.formData.thresholds[0].adverseDirection
      }
      newThresholds.splice(idx, 1)
      this.$emit('change', {
        thresholds: newThresholds,
      })
    },
  },
}
</script>

<style scoped lang="less">
/deep/ .basic-info-form {
  .ivu-input,
  .ivu-select-selection {
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 2px;
  }
}

.row {
  display: flex;
  padding: 0 16px;

  .ivu-form-item {
    flex: 1;
    margin-bottom: 24px !important;
  }
}

.ivu-form-item + .ivu-form-item {
  margin-left: 16px;
}

/deep/ .form-item-first {
  width: 38%;
}

/deep/ .form-item-other {
  width: 31%;
}

.technical-caliber-a {
  width: 32%;
}

.technical-caliber-b {
  width: 32%;
  margin-left: 4%;
}

.grand-total-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;

  .grand-total {
    width: 31%;
    margin-right: 10px;
  }

  .grand-total-type {
    width: 24%;
    margin-right: 10px;
  }

  .grand-total-content {
    width: 24%;

    .grand-total-content-select {
      width: 80px;
    }
  }

  .grand-total-date {
    width: 24%;

    .grand-total-date-wrapper {
      width: 44%;
      float: left;
    }

    .separator {
      float: left;
      margin: 0 4%;
    }
  }
}

.threshold {
  margin-top: 20px;

  .threshold-type {
    display: flex;
    margin-bottom: 20px;
    width: 100%;

    .threshold-type-select {
      width: 27%;
    }
  }

  .threshold-name-wrapper {
    width: 90%;
    display: flex;
    justify-content: flex-start;

    &.mb20 {
      margin-bottom: 20px;
    }

    .threshold-name-label {
      width: 60px;
    }

    .threshold-name-input {
      width: 27%;
    }

    .threshold-name-compare {
      width: 27%;
      margin-left: 10px;

      .threshold-name-compare-select {
        text-align: center;
      }
    }

    .threshold-name-number-input {
      width: 27%;
      margin-left: 10px;
    }

    .add-icon {
      font-weight: bold;
    }
  }
}

.condition-groups-wrapper {
  margin-top: 10px;

  .condition-groups-list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;

    .condition-groups-source {
      width: 31.5%;
      margin-right: 10px;
    }

    .condition-groups-condition-type {
      width: 25%;
      margin-right: 10px;

      .condition-groups-condition-type-select {
        text-align: center;
      }
    }

    .condition-groups-input {
      width: 25%;

      .condition-groups-input-select {
        width: 80px;
      }
    }

    .condition-groups-help {
      width: 20%;
      height: 32px;
      position: relative;

      .help-icon {
        padding-left: 5px;
      }
    }
  }
}

.conditionIcon {
  height: 25px;
  width: 25px;
  background: #e5fce3;
  border-radius: 4px;
  color: #1fc935;
  cursor: pointer;
  margin: 0 4px;
  font-style: normal;
  padding: 4px;

  &.or {
    margin-left: 10px;
  }

  &.btn {
    padding: 0;
    display: block;
    text-align: center;
    line-height: 25px;
  }
}

.unBack {
  background: none;
  color: #3F73FF;
  margin-top: 2px;
}

.con_gray {
  background: #F7F7F7;
  color: #8d8f8f;
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.btn-and {
  width: 25px;
}
/deep/ .ivu-tree-title{
  .tree-title-span{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
</style>
