<template>
  <div class="resourceManage-container">
    <header class="resourceManageHeader">
      <div class="filterSearch">
        <div class="searchBox">
          <span>名称：</span>
          <Input v-model.trim="searchCondition.resourceName" maxlength="30" clearable placeholder="请输入资源或文件夹名称" style="width: 172px" />
        </div>
        <div class="searchBox">
          <span>类型：</span>
          <Select v-model="searchCondition.resourceType" style="width: 172px">
            <Option :value="-1">全部</Option>
            <Option :value="1">常规组件</Option>
            <Option :value="2">组合组件</Option>
            <Option :value="3">定制化组件</Option>
          </Select>
        </div>
        <div class="searchBox">
          <span>状态：</span>
          <Select v-model="searchCondition.resourceStatus" style="width: 172px">
            <Option :value="-1">全部</Option>
            <Option :value="1">启用</Option>
            <Option :value="2">停用</Option>
          </Select>
        </div>
        <Button class="searchBtn" @click="searchTable">查询</Button>
      </div>
      <div class="addResource" @click="showAddResourceModal">
        <img src="@/assets/icons/resourceManage/resourceList/addResource.svg" alt="" />
        <span>新增资源</span>
      </div>
    </header>

    <section style="position: relative;  height: calc(100% - 36px - 16px);">
      <Spin fix v-if="tableLoading">
        <Icon type="ios-loading" size=28 class="table-spin-icon-load"></Icon>
        <div>Loading</div>
      </Spin>
      <!-- 树状表格 -->
      <div class="resourceTreeTable" v-else>
        <TreeTable
          v-if="resourceData.length"
          :iconDown="collapseIcon"
          :iconRight="expendIcon"
          :data="allResourceList"
          :columns="columns"
          :scroll="true"
          :show-checkbox="false"
          :show-header="true"
          :bottom-line="true"
          :border="false"
        />
      <NoData v-else :width="1180" :height="575" :img-src="noDataImg" />
      </div>
    </section>

    <!-- 新增资源弹窗 -->
    <Modal v-model="showAddModal" class="addResourceModal" title="新增资源" footer-hide>
      <div class="resourceWrapper">
        <div class="resourceBox" @click="addResourceHandle('common')">
          <img src="@/assets/images/resourceManage/commonResource.svg" alt="" />
          <p>新建常规资源</p>
        </div>
        <div class="resourceBox" @click="addResourceHandle('combine')">
          <img src="@/assets/images/resourceManage/combineResource.svg" alt="" />
          <p>新建组合资源</p>
        </div>
      </div>
    </Modal>

    <!-- 移动至弹窗 -->
    <AssetMoveModal
      v-model="showFolderMoveModal"
      :tree-data="treeData"
      :current-group-id="currentResource.groupId"
      @onConfirm="confirmFolderMoveTo"
    />

    <!-- 预览弹窗 -->
    <Modal v-model="showViewModal" class="viewResourceModal" title="资源预览" footer-hide>
      <div class="customChartWrapper">
        <component :is="compomentsName" />
      </div>
    </Modal>
  </div>
</template>

<script>
import collapseIcon from "@/assets/icons/dataSetList/icon_collapse_folder.svg";
import expendIcon from "@/assets/icons/dataSetList/icon_expand_folder.svg";
import moveToIcon from "@/assets/icons/resourceManage/resourceList/moveToIcon.svg";
import deleteIcon from "@/assets/icons/resourceManage/resourceList/deleteIcon.svg";
import editIcon from "@/assets/icons/resourceManage/resourceList/editIcon.svg";
import apiExportIcon from "@/assets/icons/resourceManage/resourceList/api-export.svg";
import viewIcon from "@/assets/icons/resourceManage/resourceList/viewIcon.svg";
import combineIcon from "@/assets/icons/resourceManage/chart/combine.svg"; // 组合资源图标
import customIcon from "@/assets/icons/resourceManage/chart/custom.svg"; // 定制化资源图标
// 定制化组件
import TextDemo from "@/components/customCharts/TextDemo";
import BarDemo from "@/components/customCharts/BarDemo";
import {
  deleteCustomResource,
  deleteMoreResource,
  deleteSingleResource,
  getChartResource,
  getCustomResource,
  moveResource,
  exportApi,
  updateCustomResourceStatus,
  updateMoreResourceStatus,
  updateSingleResourceStatus
} from "@/api/resourceManage";
import { getDimensionTreeData } from "@/api/dimension";
import TreeTable from "@/components/tableTree/iview-tree-table";
import NoData from "@/components/NoData";
import AssetMoveModal from "@/components/AssetMoveModal";
import noDataImg from "@/assets/images/indicatorWorkbench/noData.svg";
import { deepCopy } from "@/utils/common";
import handleTreeMinin from "@/mixins/handleTree";
import moment from "moment";
import { mapActions, mapMutations } from "vuex";
import { COMMON_RESOURCE_ICON } from "./constant";

export default {
  name: "ResourceManage",
  mixins: [handleTreeMinin],
  components: {
    TreeTable,
    NoData,
    AssetMoveModal,
    TextDemo,
    BarDemo
  },
  data() {
    return {
      noDataImg,
      collapseIcon, // 收起图标
      expendIcon, // 展开图标
      searchCondition: {
        resourceName: "",
        resourceType: -1,
        resourceStatus: -1
      },
      columns: [
        {
          title: "名称",
          key: "resourceName",
          minWidth: 200,
          render: (h, params) => {
            const { resourceName, chartType, resourceType } = params.row;
            if (resourceType === "——") {
              // 文件夹
              return (
                <span class="groupTitle" title={resourceName} onClick={this.toogleCatalog}>
                  {resourceName}
                </span>
              );
            } else {
              const chartIcon = this.switchTypeIcon({ chartType, resourceType });
              return (
                <span class="resourceTitle" title={resourceName}>
                  <img src={chartIcon} />
                  <span>{resourceName}</span>
                </span>
              );
            }
          }
        },
        {
          title: "资源类型",
          key: "resourceType"
        },
        {
          title: "创建人",
          key: "creator"
        },
        {
          title: "创建时间",
          key: "createTime",
          render: (h, params) => {
            const { createTime } = params.row;
            let dateStr = "";
            if (createTime !== "——") {
              dateStr = moment(new Date(createTime)).format("YYYY.MM.DD HH:mm:ss");
            } else {
              dateStr = createTime;
            }
            return <span>{dateStr}</span>;
          }
        },
        {
          title: "状态",
          key: "status",
          render: (h, params) => {
            let { status } = params.row;
            if (status !== "——") {
              return (
                <Switch
                  size="large"
                  value={status}
                  true-value="启用"
                  false-value="停用"
                  trueColor="#3F73FF"
                  falseColor="#D9D9D9"
                  before-change={() => this.changeStatus(params.row)}
                >
                  <span slot="open">启用</span>
                  <span slot="close">停用</span>
                </Switch>
              );
            } else {
              return <span>{status}</span>;
            }
          }
        },
        {
          title: "操作",
          key: "action",
          align: "center",
          width: 300,
          render: (h, params) => {
            const { id, resourceType, groupId, resourceName } = params.row;
            const editTemp = (
              <div onClick={() => this.editResource(resourceType, id, resourceName)}>
                <img src={editIcon} alt="" />
                <span>编辑</span>
              </div>
            );
            const exportApi = (
              <div onClick={() => this.exportApi(id)}>
                <img src={apiExportIcon} alt="" />
                <span>导出API</span>
              </div>
            );
            const viewTemp = (
              <div onClick={() => this.viewResource(id)}>
                <img src={viewIcon} alt="" />
                <span>预览</span>
              </div>
            );
            if (resourceType !== "——") {
              return (
                <div class="actionWrapper">
                  <div onClick={() => this.moveResourceTo({ id, resourceType, groupId })}>
                    <img src={moveToIcon} alt="" />
                    <span>移动至</span>
                  </div>
                  {resourceType !== "定制化组件" && editTemp}
                  {resourceType === "定制化组件" && viewTemp}
                  {resourceType === "常规组件" && exportApi}
                  <div onClick={() => this.deleteResource({ id, resourceType })}>
                    <img src={deleteIcon} alt="" />
                    <span>删除</span>
                  </div>
                </div>
              );
            } else {
              return null;
            }
          }
        }
      ],
      allResourceList: [], //资源列表数据
      treeData: [], //文件夹分组数据
      resourceData: [], //资源数据
      showAddModal: false, //新增弹窗
      showFolderMoveModal: false, //文件夹移动弹窗
      currentResource: {}, //当前要移动的资源信息
      showViewModal: false,
      compomentsName: "" ,// 定制化组件名称
      tableLoading: true //tableList组件loading状态
    };
  },
  async created() {
    this.treeData = await this.getTreeData();
    this.getAllResourceList();
  },
  methods: {
    ...mapMutations("resourceManage", ["setIsCombineResourceEditPage"]),
    ...mapActions("resourceManage", ["fetchEditChartData", "fetchAllResourceList"]),
    /**
     * 获取资源的分组数据，即数据资产目录
     */
    async getTreeData() {
      const { data } = await getDimensionTreeData();
      if (data?.state === "success") {
        const groupsList = data.data.dimensionGroupList.map(item => ({
          id: item.id,
          parentId: item.parentId,
          title: item.name, // Tree组件需要
          resourceName: item.name, // TreeTable组件需要
          resourceType: "——",
          creator: "——",
          createTime: "——",
          status: "——"
        }));
        let tree = deepCopy(groupsList.filter(item => item.parentId === -1)); // 初始树
        tree.forEach(ele => {
          ele.deep = 1;
          ele.children = [];
          ele.expand = true;
        });
        this.transformationGroupToTree(tree, groupsList, 1);
        return tree;
      } else {
        this.$Message.error("获取目录分组失败");
        return [];
      }
    },
    /**
     * 递归生成分组树
     * @param resourceFolder 第一层数据
     * @param groups 全部数据
     * @param deep 层级，从1开始
     */
    transformationGroupToTree(resourceFolder = [], groups = [], deep) {
      resourceFolder.forEach(item => {
        groups.forEach(group => {
          if (group.parentId == item.id) {
            group.deep = item.deep + 1;
            group.expand = true;
            group.children = [];
            item.children.push(group);
          }
        });
        if (item.children) {
          this.transformationGroupToTree(item.children, groups, ++deep);
        }
      });
    },
    /**
     * 获取所有资源数据
     */
    async getAllResourceList() {
      this.tableLoading=true
      const { resourceName, resourceType, resourceStatus } = this.searchCondition;
      let params = {};
      if (resourceName !== "") {
        params.name = resourceName;
      }
      if (resourceType !== -1) {
        params.type = resourceType;
      }
      if (resourceStatus !== -1) {
        params.status = resourceStatus;
      }
      const { data } = await getChartResource(params);
      if (data?.state === "success") {
        const allResourceList = data.data.map(item => {
          let type = "";
          switch (item.type) {
            case "1":
              type = "常规组件";
              break;
            case "2":
              type = "组合组件";
              break;
            case "3":
              type = "定制化组件";
              break;
          }
          let status = "";
          switch (item.status) {
            case 1:
              status = "启用";
              break;
            case 2:
              status = "停用";
              break;
          }
          return {
            id: item.id,
            groupId: item.groupId,
            chartType: item.chartType,
            resourceName: item.name,
            resourceType: type,
            creator: item.creator,
            createTime: item.createTime,
            status
          };
        });
        this.resourceData = allResourceList;
        this.tableLoading=false

        // 如果有值: 从资源编辑页面回来，回填之前的展开状态。没有值: 只在本页面，回填之前的展开状态
        const treeExpandStatusBak = JSON.parse(sessionStorage.getItem("treeExpandStatusBak"));
        if (treeExpandStatusBak) {
          this.treeExpandStatusBak = treeExpandStatusBak;
          sessionStorage.removeItem("treeExpandStatusBak");
        } else {
          this.treeExpandStatusBak = deepCopy(this.allResourceList); // 备份旧树的展开状态
        }

        let groupList = deepCopy(this.treeData);
        this.resourceToGroup(groupList, allResourceList);
        this.allResourceList = this.filterFolder(groupList);
        this.expandFirstFolder(this.allResourceList);
        this.updateTreeDataStatus(this.allResourceList, this.treeExpandStatusBak); // 还原之前的展开状态
      }
    },
    /**
     * 递归生成资源树
     * @param groupTree 之前生成的分组树，向对应节点下添加资源
     * @param resourceList 所有资源列表
     */
    resourceToGroup(groupTree = [], resourceList = []) {
      groupTree.forEach(group => {
        group.expand = false;
        if (group.children.length > 0) {
          this.resourceToGroup(group.children, resourceList);
        }
        resourceList.forEach(item => {
          if (item.groupId == group.id) {
            item.deep = group.deep + 1;
            group.children.push(item);
          }
        });
      });
    },
    /**
     * 过滤掉不存在资源的文件夹
     */
    filterFolder(list) {
      return list.filter(ele => {
        if (ele.children?.length) {
          const newChildren = this.filterFolder(ele.children);
          ele.children = newChildren;
          return newChildren.length;
        } else {
          return ele.resourceType !== "——"; // 是否是资源
        }
      });
    },
    /**
     * 默认展开第一个有数据的文件夹(深度递归第一条数据，沿途文件夹全部展开)
     */
    expandFirstFolder(tree) {
      for (let treeItem of tree) {
        if (treeItem.children?.length) {
          this.expandFirstFolder(treeItem.children);
        }
        treeItem.expand = true;
        return;
      }
    },
    /**
     * 根据图表类型，返回对应的Icon
     * @param {String} chartType 图表类型
     * @param {String} resourceType 资源类型
     */
    switchTypeIcon({ chartType, resourceType }) {
      let icon = "";
      if (chartType !== null) {
        icon = COMMON_RESOURCE_ICON.find(ele => ele.chartType === chartType).icon;
      } else {
        if (resourceType === "组合资源") {
          icon = combineIcon;
        } else {
          icon = customIcon;
        }
      }
      return icon;
    },
    /**
     * 查询表格
     */
    async searchTable() {
      this.getAllResourceList();
    },
    /**
     * 展示新增资源弹窗
     */
    showAddResourceModal() {
      this.showAddModal = true;
    },
    /**
     * 去对应页面新增资源
     * @param {String} type
     */
    addResourceHandle(type) {
      if (type === "combine") {
        this.setIsCombineResourceEditPage(true);
      }
      this.$router.push({
        path: type === "common" ? "/commonResourceEdit" : "/combineResourceEdit",
        query: {
          type: "add"
        }
      });
    },
    /**
     * 点击目录，展开收起
     */
    toogleCatalog(e) {
      const arrow = e.target.closest(".cell").querySelector(".s-tree-arrow");
      arrow.click();
    },
    changeStatus({ resourceType, id, status }) {
      return new Promise(async resolve => {
        let params = {
          resourceId: id,
          status: status === "启用" ? "2" : "1"
        };
        let res = {};
        if (resourceType === "常规组件") {
          res = await updateSingleResourceStatus(params);
        } else if (resourceType === "组合组件") {
          res = await updateMoreResourceStatus(params);
        } else {
          res = await updateCustomResourceStatus(params);
        }
        if (res.data.state === "success") {
          resolve();
          this.$Message.success("状态更新成功");
          this.getAllResourceList();
        }
      });
    },
    moveResourceTo({ id, resourceType, groupId }) {
      this.currentResource = { id, resourceType, groupId };
      this.showFolderMoveModal = true;
    },
    async editResource(resourceType, id, resourceName) {
      sessionStorage.setItem("treeExpandStatusBak", JSON.stringify(this.allResourceList)); // 路由跳转前，备份旧树的展开状态
      if (resourceType === "常规组件") {
        await this.fetchEditChartData({ id });
      } else {
        this.setIsCombineResourceEditPage(true);
      }
      this.$router.push({
        path: resourceType === "常规组件" ? "/commonResourceEdit" : "/combineResourceEdit",
        query: {
          type: "edit",
          id, //资源id
          resourceName //资源名称
        }
      });
    },
    async viewResource(id) {
      const res = await getCustomResource(id);
      if (res.data.state === "success") {
        const data = res.data.data;
        this.compomentsName = data.path;
        this.showViewModal = true;
      }
    },
    /**
     * 删除资源
     */
    deleteResource({ id, resourceType }) {
      this.$Modal.confirm({
        title: "删除后该资源无法被撤回",
        onOk: async () => {
          let res = {};
          if (resourceType === "常规组件") {
            res = await deleteSingleResource(id);
          } else if (resourceType === "组合组件") {
            res = await deleteMoreResource(id);
          } else {
            res = await deleteCustomResource(id);
          }
          if (res.data.state === "success") {
            this.$Message.success("删除成功");
            await this.getAllResourceList();
            this.fetchAllResourceList(); // 刷新vuex中已存在的资源
          }
        }
      });
    },

    /**
     * @description 导出成接口
     * 只针对常规组件
     */
    exportApi(id) {
      exportApi(id).then(res => {
        if (res.data.state === "success") {
          this.$Message.success("导出成功");
        } else {
          this.$Message.error("导出失败");
        }
      });
    },
    /**
     * 移动
     * @param {Number} targetId 目标分组的id
     */
    async confirmFolderMoveTo(targetId) {
      const { id, resourceType } = this.currentResource;
      let type = 1;
      switch (resourceType) {
        case "常规组件":
          type = 4;
          break;
        case "组合组件":
          type = 5;
          break;
        case "定制化组件":
          type = 6;
          break;
      }
      const params = {
        groupId: targetId + "", // 分组id
        sourceId: id, // 资源id
        type // 4:常规组件；5：组合组件；6：定制化组件
      };
      const res = await moveResource(params);
      if (res.data.state) {
        this.$Message.success("移动成功！");
        this.showFolderMoveModal = false;
        this.getAllResourceList();
      }
    }
  }
};
</script>

<style lang="less" scoped>
.resourceManage-container {
  background: #ffffff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 14px 16px;
  height: 100%;
  .resourceManageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    .filterSearch {
      display: flex;
      align-items: center;
      .searchBox {
        display: flex;
        align-items: center;
        margin-right: 16px;
      }
      .searchBtn {
        background: #3f73ff;
        border-radius: 2px;
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
        width: 72px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .addResource {
      background: #3f73ff;
      border: 1px solid rgba(63, 115, 255, 1);
      border-radius: 2px;
      display: flex;
      align-items: center;
      padding: 8px 18px;
      cursor: pointer;
      img {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
      span {
        font-family: PingFangSC-Regular;
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
  .resourceTreeTable {

    /deep/.s-tree-children .cell-wrapper .cell {
      display: flex;
    }
    /deep/.s-tree-arrow {
      width: 24px;
    }
    /deep/.groupTitle {
      margin-left: 8px;
      cursor: pointer;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    /deep/.resourceTitle {
      display: flex;
      align-items: center;
      img {
        margin-right: 7px;
        width: 16px;
      }
    }
    /deep/.actionWrapper {
      display: flex;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:not(:last-child) {
          margin-right: 20px;
        }
        img {
          width: 16px;
          height: 16x;
          margin-right: 5px;
        }
        span {
          font-family: PingFangSC-Regular;
          font-size: 12px;
          color: #3f73ff;
          letter-spacing: 0;
          line-height: 20px;
        }
      }
    }
  }
}

.addResourceModal {
  /deep/.ivu-modal {
    width: 608px !important;
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-body {
        padding: 40px 80px 52px;
        .resourceWrapper {
          display: flex;
          justify-content: space-between;
          .resourceBox {
            padding: 8px 18px 48px;
            background: #ffffff;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            box-sizing: border-box;
            cursor: pointer;
            &:first-of-type {
              margin-right: 48px;
            }
            &:hover {
              border: 1px solid rgba(63, 115, 255, 1);
            }
            img {
              width: 164px;
              height: 108px;
              margin-bottom: 10px;
            }
            p {
              font-family: PingFangSC-Regular;
              font-size: 12px;
              color: rgba(0, 0, 0, 0.85);
              letter-spacing: 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.viewResourceModal {
  /deep/.ivu-modal {
    width: 899px !important;
    .ivu-modal-content {
      background: #ffffff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      .ivu-modal-body {
        padding: 33px 40px 36px;
        .customChartWrapper {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
</style>
