<template>
  <div :class="['ruleItem-container', { single: isSingle }]">
    <!-- 左侧筛选(指标/公式/动态) -->
    <Select class="filter-condition-select mode-type" :value="itemData.modeType" :disabled="!edit" @on-change="onModeChange">
      <Option v-for="item in modeTypeList" :key="item.value" :value="item.value">{{ item.label }}</Option>
    </Select>
    <FaBigTreeSelect
      class="filter-condition-select custom-tree indicatorSelect"
      v-show="itemData.modeType === 1"
      :disabled="!edit"
      :selected="itemData.curIndicatorId"
      :treeData="curIndicatorTreeData"
      :render="treeRender"
      @changeVal="onIndicatorChange($event, 'cur')"
    />
    <section
      class="filter-condition-select expression"
      :style="{ cursor: edit ? 'pointer' : 'not-allowed' }"
      v-show="itemData.modeType === 2"
      v-html="itemData.curExpressionHtml"
      @click="onEditExpression('cur', itemData.curExpressionModalHtml, itemData.curExpression)"
    ></section>

    <section v-show="itemData.modeType === 3">
      <FaTreeSelect
        class="filter-condition-select custom-tree dynamics-dimension"
        :disabled="!edit"
        :selected="itemData.curDimensionIdDyna"
        :treeData="dynaDimensionTreeData"
        :render="treeRender"
        @changeVal="onIndicatorChange($event, 'dyna-dem')"
      />
      <FaBigTreeSelect
        class="filter-condition-select custom-tree dynamics-indicator"
        :disabled="!edit"
        :selected="itemData.curIndicatorIdDyna"
        :treeData="dynaIndicatorTreeData"
        :render="treeRender"
        @changeVal="onIndicatorChange($event, 'dyna-indi')"
      />
    </section>

    <!-- 比较条件 -->
    <Select class="filter-condition-select condition-type" :value="itemData.conditionType" :disabled="!edit" @on-change="onConditionTypeChange">
      <Option v-for="item in conditionTypeList" :value="item.value" :key="item.value">{{ item.label }}</Option>
    </Select>

    <!-- 右侧筛选(常量/指标/公式) -->
    <Select class="filter-condition-select variable-type" :value="itemData.variableType" :disabled="!edit" @on-change="onVariableTypeChange">
      <Option v-for="varType in variableTypeList" :key="varType.value" :value="varType.value">{{ varType.label }}</Option>
    </Select>
    <Input
      class="filter-condition-input"
      v-show="itemData.variableType === 1"
      :value="itemData.variableValue"
      :disabled="!edit"
      @on-change="onVariableValueChange"
    />
    <FaBigTreeSelect
      class="filter-condition-select custom-tree indicatorSelect-target"
      v-show="itemData.variableType === 5"
      :disabled="!edit"
      :selected="itemData.targetIndicatorId"
      :treeData="targetIndicatorTreeData"
      :render="treeRender"
      @changeVal="onIndicatorChange($event, 'target')"
    />
    <section
      class="filter-condition-select expression-target"
      :style="{ cursor: edit ? 'pointer' : 'not-allowed' }"
      v-show="itemData.variableType === 6"
      v-html="itemData.targetExpressionHtml"
      @click="onEditExpression('target', itemData.targetExpressionModalHtml, itemData.targetExpression)"
    ></section>
  </div>
</template>

<script>
import FaTreeSelect from "@/components/treeSelect/fa-big-treeSelect.vue";
import { mapState } from "vuex";
import { deepCopy } from "@/utils/common";
import { MODE_TYPE_LIST, CONDITION_TYPE_LIST, VARIABLE_TYPE_LIST } from "@/view/earlyWarningTarget/earlyWarningTargetIndex/constant/ruleModal";
import { matchingRelation } from "@/api/realTimeAnalysis";
import { INDICATOR_OPTION_LIST } from "@/config/indicator";

export default {
  props: {
    edit: {
      type: Boolean,
      required: true
    },
    itemData: {
      type: Object,
      required: true
    },
    isSingle: {
      type: Boolean,
      required: true
    },
    // 是否过滤维度树（除了第一个维度树，都要过滤）
    isFilterDim: {
      type: Boolean,
      required: true
    },
    // 第一个维度树选择的维度id
    dimId: {
      type: Number,
      required: true
    }
  },
  components: {
    FaTreeSelect
  },
  data() {
    return {
      modeTypeList: MODE_TYPE_LIST,
      conditionTypeList: CONDITION_TYPE_LIST,
      variableTypeList: VARIABLE_TYPE_LIST,
      matchIndicatorTreeData: [] // 根据维度筛选出的指标树数据
    };
  },
  computed: {
    ...mapState("earlyWarningTarget", ["indicatorTreeData", "dimensionTreeData"]),
    curIndicatorTreeData() {
      return deepCopy(this.indicatorTreeData);
    },
    dynaDimensionTreeData() {
      if (this.isFilterDim) {
        return this.filterTree(deepCopy(this.dimensionTreeData), this.dimId);
      } else {
        return deepCopy(this.dimensionTreeData);
      }
    },
    // 和维度树联动（仅动态类型）
    dynaIndicatorTreeData() {
      return deepCopy(this.matchIndicatorTreeData);
    },
    // 和维度树联动（仅动态类型）
    targetIndicatorTreeData() {
      if (this.itemData.modeType === 3) {
        return deepCopy(this.matchIndicatorTreeData);
      } else {
        return deepCopy(this.indicatorTreeData);
      }
    }
  },
  watch: {
    /**
     * 维度变化，指标树对应改变（仅动态类型）
     */
    "itemData.curDimensionIdDyna": {
      handler(newVal) {
        if (newVal) {
          this.getMatchIndicators(newVal);
          this.$emit("on-indicator-change", { type: "clear-indi-dyna" }); // 清空之前的指标数据
        }
      }
    }
  },
  created() {
    /**
     * 编辑时首次打开弹窗，回填动态指标树。然后取消监听
     */
    const unwatch = this.$watch("itemData.curDimensionIdDyna", {
      async handler(newVal) {
        if (newVal) {
          this.getMatchIndicators(newVal);
        }
        if (unwatch) {
          unwatch();
        }
      },
      immediate: true
    });
  },
  methods: {
    /**
     * 根据id过滤维度树
     * @param {*} arr 全量数据
     * @param {*} id 维度id
     */
    filterTree(arr, id) {
      let children = [];
      arr?.forEach(item => {
        // 如果组名中包含查询值，则子项都包含
        if (item.id === id) {
          children.push(item);
          return;
        }
        let subs = this.filterTree(item.children, id);
        let newChild = {
          ...item,
          render: item.render
        };
        if (subs && subs.length) {
          newChild.children = subs;
          newChild.expand = true;
          children.push(newChild);
        }
      });
      return children;
    },
    /**
     * 获取维度关联的指标
     * @param {Number} dimensionId 维度id
     */
    async getMatchIndicators(dimensionId) {
      const { data } = await matchingRelation({ dimensions: [dimensionId] });
      if (data?.state === "success") {
        const matchIndicators = data.data.indicators?.map(item => item.id);
        this.matchIndicatorTreeData = this.matchRelatedTree(matchIndicators, deepCopy(this.indicatorTreeData));
      } else {
        this.$Message.error("匹配关联指标失败");
      }
    },
    /**
     * 递归匹配关联的维度、指标
     * @param indicators
     * @param treeData
     */
    matchRelatedTree(indicators, treeData) {
      if (!indicators) return [];

      let newTreeData = [];
      for (let treeItem of treeData) {
        if (indicators.includes(treeItem.id)) {
          newTreeData.push(treeItem);
          continue;
        }

        // 如果没有匹配到关联的维度或者指标，递归该项的children，直到匹配到
        if (treeItem?.children?.length) {
          let newChildren = this.matchRelatedTree(indicators, treeItem.children);
          if (newChildren.length) {
            let newTreeItem = {
              ...treeItem,
              children: newChildren,
              expand: true
            };
            newTreeData.push(newTreeItem);
          }
        }
      }
      return newTreeData;
    },
    treeRender(h, { root, node, data }) {
      return (
        <div class="indicatorIconWrapper">
          <i class={this.getClassNameByIndicatorType(data)}></i>
          <span class="tree-title-span" title={data.title}>{data.title}</span>
        </div>
      );
    },
    /**
     * 获取指标类型对应的className
     */
    getClassNameByIndicatorType({ treeType, type, children }) {
      if (treeType === "group" && !children) {
        return "catalogueTreeNode";
      }
      if (treeType === "value") {
        return INDICATOR_OPTION_LIST.find(ele => ele.value === type)?.iconClass || "dimensionTreeNode" // 不存在指标类型，则是维度
      }
      return "";
    },
    onModeChange(option) {
      this.$emit("on-mode-change", option);
    },

    onIndicatorChange(option, type) {
      this.$emit("on-indicator-change", { id: option.id, type });
    },
    /**
     * 展示表达式弹窗
     * @param {String} type 展示哪一个公式弹窗
     * @param {String} expressionModalHtml 当前公式弹窗内的规则html
     * @param {String} expression 当前公式弹窗内的规则表达式
     */
    onEditExpression(type, expressionModalHtml, expression) {
      if (!this.edit) return;
      this.$emit("on-edit-expression", { type, expressionModalHtml, expression });
    },
    /**
     * 切换比较条件
     */
    onConditionTypeChange(option) {
      this.$emit("on-condition-type-change", option);
    },
    onVariableTypeChange(option) {
      this.$emit("on-variable-type-change", option);
    },
    onVariableValueChange(e) {
      this.$emit("on-variable-value-change", e.target.value);
    }
  }
};
</script>

<style lang="less" scoped>
.ruleItem-container {
  display: flex;
  .filter-condition-select {
    &.mode-type {
      margin-left: 20px;
      width: 94px;
    }

    &.indicatorSelect,
    &.expression {
      margin-left: 20px;
      width: 258px;
    }

    &.dynamics-dimension,
    &.dynamics-indicator {
      margin-left: 20px;
      width: 119px;
    }

    &.expression,
    &.expression-target {
      height: 32px;
      border-bottom: 1px solid #a0e7a8;
    }

    &.condition-type {
      margin-left: 19px;
      width: 105px;
    }

    &.variable-type {
      margin-left: 20px;
      width: 90px;
    }

    &.indicatorSelect-target,
    &.expression-target {
      margin-left: 26px;
      width: 182px;
    }

    &.indicatorSelect,
    &.indicatorSelect-target,
    &.dynamics-dimension,
    &.dynamics-indicator {
      /deep/.ivu-select-dropdown {
        max-width: 300px;
        .treeContainer-fa-tree {
          overflow: auto;
          .ivu-tree-arrow-disabled {
            cursor: pointer;
          }
        }
      }
    }
  }

  &.single {
    .filter-condition-select {
      &.expression,
      &.expression-target {
        border-bottom: 1px solid #b7caff;
      }
    }
  }
}

/deep/.indicatorIconWrapper {
  display: flex;
  align-items: center;
}
/deep/ .catalogueTreeNode {
  content: url("~@/assets/images/system/catalogueTreeNode.png");
  width: 18px;
  margin-right: 3px;
}

// 维度icon
/deep/.dimensionTreeNode {
  content: url("~@/assets/icons/dimensionIcon/dimension.png");
  width: 18px;
  margin-right: 6px;
}

/deep/.ivu-tree-title.ivu-tree-title-selected .dimensionTreeNode {
  content: url("~@/assets/icons/dimensionIcon/dimensionBlue.png");
}

/deep/ .ivu-tree-title{
  .tree-title-span{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
</style>
