<template>
<div class="knowledge-add-wrap">
  <div class="knowledge-add-header">
    <h2>知识详情</h2>
    <Button @click="gotoList">返回知识库</Button>
  </div>

  <div class="content">
    <div class="knowledge-form">
      <div class="form-item">
        <div class="form-item-label">知识名称：<span>{{name}}</span></div>
        <div class="form-item-label">编号：<span>{{no}}</span></div>
      </div>
      <Input v-model="desc" type="textarea" :rows="20" placeholder="知识描述..." style="margin-top: 20px" readonly/>
      <div v-for="file in fileList" :key="file.id" class="file-item" @click="downloadFile(file)" title="点击下载" style="cursor: pointer">
        <Icon type="ios-link" />{{file.name}}
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {getKnowledgeInfo} from '@/api/knowledge'
import {previewImg} from "@/api/report";
export default {
  name: "knowledgeDetail",
  data() {
    return {
      desc: null,
      name: null,
      no: null,
      fileList: []
    }
  },
  mounted() {
    this.fetchDetail()
  },
  methods: {
    gotoList() {
      if (this.$route.query.isShare) {
        this.$router.push({
          name: 'top_知识库'
        })
      } else {
        this.$router.go(-1)
      }

    },
    fetchDetail() {
      getKnowledgeInfo({id: this.$route.query.id}).then(res => {
        if (res.data.state === "success") {
           const resData = res.data.data
           this.name = resData.name
           this.no = resData.num
           this.desc = resData.description
           this.fileList = resData.files && resData.files.map(item => {
             return {
               id: item.fileId,
               name: item.fileName,
               knowledgeId: item.knowledgeId
             }
           })
        } else {
          this.$message.warning('查询知识详情失败')
        }
      })
    },
    getFileMime(fileName) {
      const strArr = fileName.split(".")
      const fileType = strArr[strArr.length - 1]
      let mine = ''
      if (fileType == 'doc') {
        mine = "application/msword";
      } else if (fileType === "docx") {
        mine = "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
      } else if (fileType === "pdf") {
        mine = "application/pdf"
      } else if (fileType === "zip"){
        mine = "application/x-zip-compressed"
      } else if (fileType === "xls") {
        mine = "application/vnd.ms-excel"
      } else if (fileType === "xlsx") {
        mine = "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      } else if (fileType === "rar") {
        mine = "application/x-rar-compressed"
      }
      return mine
    },
    downloadFile(file) {
      previewImg(file.id).then(res => {
        if(res) {
          const blob = new Blob([res.data], {type: this.getFileMime(file.name)});
          //创建标签
          const link = document.createElement("a");
          link.style.display = "none";
          //设置标签href属性为文件路径
          const href = URL.createObjectURL(blob);
          link.href = href;
          //设置下载文件名
          link.download = file.name
          document.body.appendChild(link);
          //点击触发下载
          link.click();
          //移除标签
          document.body.removeChild(link);
          // 释放掉blob对象
          window.URL.revokeObjectURL(href);
        }
      })
    }
  }
}
</script>

<style scoped lang="less">
.knowledge-add-wrap{
  padding: 15px 20px 30px;
  opacity: 0.95;
  background: #ffffff;
  border-radius: 8px;
  margin: 10px;
  .knowledge-add-header{
    display: flex;
    justify-content: space-between;
    h2 {
      font-family: PingFangSC-Medium;
      font-size: 18px;
      color: #333333;
      letter-spacing: 0.58px;
      text-align: left;
      line-height: 32px;
      font-weight: bold;
    }
  }

  .content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    .knowledge-form{
      width: 50%;
      max-width: 800px;
      .form-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .form-item-label{
          white-space: nowrap;
          color: rgba(0,0,0,0.45);
          span{
            color: #333333;
          }
        }
      }
      .file-item{
        margin-top: 15px;
      }
      .action-btn{
        margin-top: 10px;
        display: flex;
        position: relative;
        .clear-btn{
          position: absolute;
          left: 100px;
        }
      }
    }
  }

}
</style>
