<template>
  <div class="intelligentAnswerIcon-container" :style="{ top: `${iconTop}px` }" @mousedown.stop="onMousedown">
    <img src="@/assets/images/intelligentAnswer/answerIcon.svg" alt="" :draggable="false" />

    <!-- 智能问答弹窗 -->
    <IntelligentAnswerModal v-model="showModal" />
  </div>
</template>

<script>
import IntelligentAnswerModal from "./IntelligentAnswerModal";
import { mapState, mapMutations } from "vuex";
import { throttle } from "@/utils/common";

export default {
  components: {
    IntelligentAnswerModal
  },
  data() {
    return {
      viewportHeight: 0, // 可视区域的高度
      initIconTop: 0,
      iconTop: 0,
      isMoving: false,
      startY: 0,
      moveDis: 0
    };
  },
  computed: {
    ...mapState("intelligentAnswer", ["showIntelligentAnswer"]),
    showModal: {
      get() {
        return this.showIntelligentAnswer;
      },
      set(val) {
        this.setShowIntelligentAnswer(val);
      }
    }
  },
  created() {
    document.addEventListener("mousemove", this.onMousemove);
    document.addEventListener("mouseup", this.onMouseup);
  },
  beforeDestroy() {
    document.removeEventListener("mousemove", this.onMousemove);
    document.removeEventListener("mouseup", this.onMouseup);
  },
  mounted() {
    this.viewportHeight = window.innerHeight || document.documentElement.clientHeight;
    this.initIconTop = Math.floor(this.viewportHeight * 0.7);
    this.iconTop = this.initIconTop;
  },
  methods: {
    ...mapMutations("intelligentAnswer", ["setShowIntelligentAnswer"]),
    onMousedown(e) {
      this.isMoving = true;
      this.startY = e.y;
      const { top, bottom } = e.target.getBoundingClientRect();
      this.topDis = e.y - top;
      this.bottomDis = bottom - e.y;
    },
    onMousemove: throttle(function (e) {
      if (!this.isMoving) return;
      if (e.y - this.topDis < 0 || e.y + this.bottomDis > this.viewportHeight - 5) return; // 禁止移出可视区
      this.moveDis = e.y - this.startY;
      this.iconTop = this.initIconTop + this.moveDis;
    }, 1000 / 60),
    onMouseup() {
      if (!this.isMoving) return;
      if (this.moveDis === 0) {
        this.setShowIntelligentAnswer(true);
      }
      this.startY = 0;
      this.moveDis = 0;
      this.initIconTop = this.iconTop;
      this.isMoving = false;
    }
  }
};
</script>

<style lang="less" scoped>
.intelligentAnswerIcon-container {
  cursor: pointer;
  right: 0;
  z-index: 999;
}
</style>
