<template>
  <div class="fa-multiple-select">
    <Dropdown trigger="click" @on-visible-change="onVisibleChange">
      <div class="select-wrapper" :class="{ active: dropdownVisible }">
        <div v-if="checkedList.length" class="selected-list">
          <div v-for="item in checkedList" :key="item" class="list-item">
            {{ item }}
          </div>
        </div>
        <span v-else class="placeholder">请选择标签</span>
        <Icon type="ios-arrow-down" color="#808695" size="14" class="icon-arrow"></Icon>
      </div>
      <DropdownMenu slot="list">
        <div class="fa-multiple-select-body">
          <Input
            search
            clearable
            placeholder="请输入关键字..."
            @on-change="onKeywordChange"
            class="fa-multiple-select-search" />
          <div class="fa-multiple-select-list">
            <div class="list-header">
              <Checkbox
                :indeterminate="indeterminate"
                :value="checkAll"
                @click.prevent.native="handleCheckAll">全选</Checkbox>
              <div class="selected-count">已选择{{ checkedList.length }}项</div>
            </div>
            <div class="list-body">
              <CheckboxGroup v-if="selectList.length" v-model="checkedList" @on-change="checkAllGroupChange">
                <Checkbox v-for="item in selectList" :key="item" :label="item"></Checkbox>
              </CheckboxGroup>
              <p v-else class="no-data">暂无数据</p>
            </div>
          </div>
        </div>
      </DropdownMenu>
    </Dropdown>
  </div>
</template>

<script>
import { deepCopy } from '@/utils/common'

export default {
  name: 'FaMultipleSelect',
  emits: [ 'on-change' ],
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    checked: String,
  },
  data() {
    return {
      dropdownVisible: false,
      indeterminate: false,
      checkAll: false,
      checkedList: [],
      selectList: [],
    }
  },
  watch: {
    data(newVal) {
      this.selectList = deepCopy(newVal)
      // 备份数据，用于搜索
      this.SelectListBak = deepCopy(newVal)
    },
  },
  created() {
    this.selectList = deepCopy(this.data)
    // 备份数据，用于搜索
    this.SelectListBak = deepCopy(this.data)
    if (this.checked) {
      this.checkedList = this.checked.split(',')
      this.checkAll = this.selectList.length === this.checkedList.length
    }
  },
  methods: {
    onVisibleChange(visible) {
      this.dropdownVisible = visible
    },

    onKeywordChange(event) {
      let value = event.target.value
      this.selectList = this.SelectListBak.filter(item => item.includes(value))
    },

    handleCheckAll () {
      if (this.indeterminate) {
        this.checkAll = false
      } else {
        this.checkAll = !this.checkAll
      }
      this.indeterminate = false

      if (this.checkAll) {
        this.checkedList = deepCopy(this.selectList)
      } else {
        this.checkedList = []
      }
      this.$emit('on-change', this.checkedList)
    },

    checkAllGroupChange (data) {
      if (data.length === this.data.length) {
        this.indeterminate = false
        this.checkAll = true
      } else if (data.length > 0) {
        this.indeterminate = true
        this.checkAll = false
      } else {
        this.indeterminate = false
        this.checkAll = false
      }
      this.$emit('on-change', data)
    },
  },
}
</script>

<style lang="less" scoped>
.fa-multiple-select {
  position: relative;
}

.fa-multiple-select .ivu-dropdown {
  width: 100%;
}

.fa-multiple-select .select-wrapper {
  height: 32px;
  padding: 4px 24px 4px 8px;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(217,217,217,1);
  border-radius: 2px;
  transition: all 0.2s ease-in-out;

  &:hover,
  &.active {
    border: 1px solid #57a3f3;
  }
  &.active .icon-arrow {
    transform: rotate(180deg) translateY(50%);
  }
  .placeholder {
    color: #c5c8ce;
    line-height: 22px;
  }
  .icon-arrow {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
  }
}

.fa-multiple-select .select-wrapper .selected-list {
  display: flex;
  overflow: hidden;

  .list-item {
    flex-shrink: 0;
    height: 22px;
    line-height: 22px;
    background: #F0F5FF;
    border-radius: 2px;
    padding: 0 12px;
  }
  .list-item + .list-item {
    margin-left: 8px;
  }
}

.fa-multiple-select .fa-multiple-select-body {
  padding: 10px 8px;
}

.fa-multiple-select .fa-multiple-select-list {
  margin-top: 10px;

  .list-header {
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .selected-count {
      color: #999999;
    }
  }
  .list-body {
    max-height: 200px;
    overflow: auto;
  }
  .list-body .ivu-checkbox-group {
    display: flex;
    flex-direction: column;

    .ivu-checkbox-group-item {
      height: 32px;
      line-height: 32px;
      margin-right: 0;
      margin-top: 4px;
    }
  }
  .list-body .no-data {
    padding: 10px 4px;
  }
}
</style>
