<template>
  <div class="data-task-result">
    <div class="task-relation" slot="content">
      <div style="text-align: right">
        <DatePicker @on-change="changeDataTaskDate" type="date" placeholder="选择日期" style="width: 150px"/>
        <Button @click="() => dataTaskDateShow = true" style="margin-left: 10px" type="primary">重刷数据</Button>
        <Modal v-model="dataTaskDateShow" title="重刷数据" width="16%" @on-ok="confirmTaskDate">
          日期区间：
          <DatePicker @on-change="changeDataTaskDateRange" type="daterange" placement="bottom-end" placeholder="选择日期区间"
                      style="width: 200px"/>
        </Modal>
      </div>
      <SeeksRelationGraph ref="dataTaskResult" :options="graphOptions"/>
    </div>
    <Table style="margin-top: 60px" :columns="dataTaskColumn" :data="dataTaskData" :height="300"/>
  </div>
</template>

<script>
  import SeeksRelationGraph from '@/components/relation-graph/index.vue'
  import { mapState } from 'vuex'
  import { BLOOD_GRAPH_OPTIONS } from '@/view/report/constant'
  import { reloadCube } from '@/api/indicatorMaintain'
  import { getDataTaskResult } from '@/api/indicator'

  export default {
    name: 'DataTaskResult',
    components: {
      SeeksRelationGraph,
    },
    data() {
      return {
        dataTaskDateShow: false,
        dataTaskStartDate: null,
        dataTaskEndDate: null,
        graphOptions: BLOOD_GRAPH_OPTIONS,
        dataTaskColumn: [{
          title: '类型',
          key: 'type',
        }, {
          title: '名称',
          key: 'name',
        }, {
          title: '触发时间',
          key: 'startTime',
        }, {
          title: '完成时间',
          key: 'endTime',
        }, {
          title: '执行耗时',
          key: 'costTime',
        }, {
          title: '执行结果',
          key: 'result',
        }],
        dataTaskData: [],
      }
    },
    computed: {
      ...mapState('indicator', [
        'indicatorId',
        'indicatorKind',
      ]),
    },
    mounted() {
      this.renderDataTask()
    },
    methods: {
      changeDataTaskDate(date) {
        this.renderDataTask(date)
      },

      async confirmTaskDate() {
        let params = {}
        params.startDate = this.dataTaskStartDate
        params.endDate = this.dataTaskEndDate
        params.indicators = [{ indicatorId: this.indicatorId, indicatorType: this.indicatorKind }]
        const res = await reloadCube(params)
        let data = res.data
        if (data && data.state === 'success') {
          this.$message.success('添加成功')
        } else {
          this.$message.error('添加失败')
        }
      },

      changeDataTaskDateRange(date) {
        this.dataTaskStartDate = date[0]
        this.dataTaskEndDate = date[1]
      },
      buildTableRowData(rowData, type) {
        return {
          id: rowData.id,
          name: rowData.name,
          type,
          startTime: rowData.result !== -1 ? new Date(rowData.startExecuteTime).toLocaleTimeString() : '-',
          endTime: rowData.result !== -1 ? new Date(rowData.endExecuteTime).toLocaleTimeString() : '-',
          costTime: rowData.result !== -1 ? ((rowData.costTimes / 1000) + 's') : '-',
          result: this.dataTaskStatusText(rowData.result),
        }
      },
      buildDownstreamIndicator(data, dataDetail, nodes, links, fromId) {
        data.compositeIndicator.forEach(c => {
          dataDetail.push(this.buildTableRowData(c, '复合指标'))
          nodes.push({
            id: c.id + '',
            text: c.name,
            color: '#B684FF',
            fontColor: '#333',
            dataType: 3,
            result: this.dataTaskStatusText(c.result),
          })
          links.push({ to: c.id + '', from: fromId })
          if (c.compositeIndicator) {
            this.buildDownstreamIndicator(c, dataDetail, nodes, links, c.id + '')
          }
        })

      },

      renderDataTask(processDate = '2023-09-15') {
        getDataTaskResult(this.indicatorId, processDate, this.indicatorKind).then(res => {
          let data = res.data.data
          if (!data) return
          let dataDetail = []
          // 构建表格数据
          let tableData = data.dataset || data.originTable
          let tableNode
          if (tableData) {
            tableNode = this.buildTableRowData(tableData, data.dataset !== null ? '数据集' : '源表')
            dataDetail.push(tableNode)
          }
          let indicatorTypeName
          if (this.indicatorKind === 1) {
            indicatorTypeName = '原子指标'
          } else if (this.indicatorKind === 2) {
            indicatorTypeName = '复合指标'
          } else if (this.indicatorKind === 4) {
            indicatorTypeName = '派生指标'
          }
          dataDetail.push(this.buildTableRowData(data, indicatorTypeName))

          // 构建数据调度关系图数据
          let rootId = data.id + ''
          // 当前指标节点信息
          const rootIndicator = {
            id: rootId,
            text: data.name,
            color: '#44D7B6',
            fontColor: '#333',
            dataType: 1,
            bloodType: 7,
            result: this.dataTaskStatusText(data.result),
          }
          let nodes = [rootIndicator]

          let links = []
          // 当前指标来源表节点信息
          if (tableNode) {
            nodes.push({
              id: tableNode.id + '',
              text: tableNode.name,
              color: '#B684FF',
              fontColor: '#333',
              dataType: 2,
              result: tableNode.result,
            })
            links.push({ from: tableNode.id + '', to: rootId })
          }
          // 下游指标节点
          if (data.compositeIndicator) {
            this.buildDownstreamIndicator(data, dataDetail, nodes, links, rootId)
          }
          this.dataTaskData = dataDetail
          if (tableNode && data.dataset) {
            let originTable = data.dataset.originTable
            originTable.forEach(t => {
              nodes.push({
                id: t.id + '',
                text: t.name,
                color: '#284DBE',
                fontColor: '#333',
                dataType: 0,
              })

              links.push({
                from: t.id + '',
                to: tableNode.id + '',
              })
            })
          }
          let graphData = {
            rootId: rootId,
            nodes,
            links,
          }
          this.$refs.dataTaskResult.setJsonData(graphData)
        })
      },

      dataTaskStatusText(status) {
        if (status === -2) {
          return '未映射'
        } else if (status === -1) {
          return '未开始'
        } else if (status === 0) {
          return '执行中'
        } else if (status === 1) {
          return '执行成功'
        } else {
          return '执行失败'
        }
      },
    },
    watch: {
      indicatorId() {
        this.renderDataTask()
      },
    },
  }
</script>

<style scoped lang="less">
  .data-task-result {
    height: calc(~'100% - 300px');
    background-color: rgba(0, 0, 0, 0.03);
    padding: 16px 16px 0 16px;
    margin-bottom: 10px;

    .task-relation {
      position: relative;
      height: 95%;
      width: 100%;
    }
  }
</style>
